{
 "openapi": "3.0.0",
 "info": {
  "title": "Action Plan References",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Action Plan References",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/action_plans/plan_references": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Action Plan References",
    "description": "List of all Action Plan References",
    "tags": [
     "Action Plan References"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[plan_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Action Plan Reference (Index)",
         "items": {
          "type": "object",
          "description": "Action Plan Reference (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this Action Plan reference.",
            "example": 12
           },
           "plan_item_id": {
            "type": "integer",
            "description": "ID of the Action Plan item this reference is attached to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp in ISO 8601 format when this reference was created.",
            "example": "2018-09-20T21:39:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Type-specific payload containing identifiers for the referenced resource. The fields present depend on the value of the type field.",
            "properties": {
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Image URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Image Thumbnail URL",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "File Name",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "Content Type",
                "example": "image/jpg"
               }
              }
             },
             "drawing_id": {
              "type": "integer",
              "description": "ID of the Drawing that contains the referenced revision."
             },
             "drawing_revision_id": {
              "type": "integer",
              "description": "ID of the current Drawing Revision for the referenced Drawing."
             },
             "file_version_id": {
              "type": "integer",
              "description": "ID of the current File Version for the referenced Document."
             },
             "folder_id": {
              "type": "integer",
              "description": "ID of the Folder containing the referenced Document."
             },
             "specification_section_id": {
              "type": "integer",
              "description": "ID of the referenced Specification Section.",
              "example": 55
             },
             "specification_section_current_revision_id": {
              "type": "integer",
              "description": "ID of the current revision of the referenced Specification Section. Null if no revision exists.",
              "example": 42,
              "nullable": true
             },
             "submittal_log_id": {
              "type": "integer",
              "description": "ID of the referenced Submittal Log entry.",
              "example": 65
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "ID of the referenced Generic Tool Item (Correspondence)."
             },
             "generic_tool_id": {
              "type": "integer",
              "description": "ID of the Generic Tool (Correspondence tool) that the referenced item belongs to. Present when the reference type is generic_tool_item."
             },
             "form_id": {
              "type": "integer",
              "description": "ID of the referenced Form."
             },
             "meeting_id": {
              "type": "integer",
              "description": "ID of the referenced Meeting."
             },
             "observation_item_id": {
              "type": "integer",
              "description": "ID of the referenced Observation Item."
             },
             "image_id": {
              "type": "integer",
              "description": "ID of the referenced image. Present when the reference type is image."
             },
             "viewer_url": {
              "type": "string",
              "description": "URL to open the referenced item in the Procore web viewer. Present for attachment, form, image, and document management reference types."
             },
             "collection_id": {
              "type": "string",
              "format": "uuid",
              "description": "Document collection ID for a document management reference."
             },
             "container_id": {
              "type": "string",
              "format": "uuid",
              "description": "Document container ID for a document management reference."
             },
             "document_revision_id": {
              "type": "string",
              "description": "Document revision ID for a document management reference. Null for open items showing the latest revision.",
              "nullable": true
             },
             "document_name": {
              "type": "string",
              "description": "Name of the referenced document management document."
             }
            }
           },
           "plan_id": {
            "type": "integer",
            "description": "ID of the Action Plan that owns the item this reference is attached to.",
            "example": 985
           },
           "type": {
            "type": "string",
            "description": "Type of resource this reference points to.",
            "enum": [
             "attachment",
             "drawing",
             "specification_section",
             "submittal_log",
             "document",
             "document_management_document_reference",
             "generic_tool_item",
             "form",
             "meeting",
             "observation_item",
             "image"
            ],
            "example": "specification_section"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp in ISO 8601 format when this reference was last updated.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp in ISO 8601 format when this reference was soft-deleted. Null if the reference is active.",
            "example": "2018-09-20T21:39:40Z",
            "nullable": true
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[plan_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan References list endpoint",
      "description": "Get a list of Action Plan References for a given Project.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-references?version=1.0#list-action-plan-references"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Action Plan Reference",
    "description": "Create an Action Plan Reference",
    "tags": [
     "Action Plan Reference"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_reference"
        ],
        "properties": {
         "plan_reference": {
          "type": "object",
          "required": [
           "payload",
           "plan_item_id",
           "type"
          ],
          "properties": {
           "plan_item_id": {
            "type": "integer",
            "description": "Action Plan Item ID",
            "example": 54
           },
           "type": {
            "type": "string",
            "description": "Action Plan Reference Type",
            "enum": [
             "attachment",
             "drawing",
             "document",
             "document_management_document_reference",
             "specification_section",
             "submittal_log",
             "generic_tool_item",
             "form",
             "meeting",
             "observation_item"
            ],
            "example": "specification_section"
           },
           "payload": {
            "type": "object",
            "description": "One of attachment, drawing_revision_id, file_version_id, document_management_document_reference, specification_section_id, submittal_log_id, generic_tool_item_id, form_id, meeting_id, or observation_item_id is accepted depending on the type provided",
            "properties": {
             "drawing_revision_id": {
              "type": "integer",
              "description": "Drawing Revision ID",
              "example": 53
             },
             "file_version_id": {
              "type": "integer",
              "description": "File Version ID",
              "example": 54
             },
             "document_management_document_reference": {
              "type": "object",
              "description": "PDM (Product Document Management) document reference",
              "properties": {
               "collection_id": {
                "type": "string",
                "format": "uuid",
                "description": "Document collection ID",
                "example": "123e4567-e89b-12d3-a456-426614174000"
               },
               "container_id": {
                "type": "string",
                "format": "uuid",
                "description": "Document container ID",
                "example": "123e4567-e89b-12d3-a456-426614174001"
               }
              }
             },
             "specification_section_id": {
              "type": "integer",
              "description": "Specification Section ID",
              "example": 55
             },
             "submittal_log_id": {
              "type": "integer",
              "description": "Submittal Log ID",
              "example": 65
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "Generic Tool Item (Correspondence) ID",
              "example": 56
             },
             "form_id": {
              "type": "integer",
              "description": "Form ID",
              "example": 57
             },
             "meeting_id": {
              "type": "integer",
              "description": "Meeting ID",
              "example": 58
             },
             "observation_item_id": {
              "type": "integer",
              "description": "Observation Item ID",
              "example": 59
             }
            }
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "plan_reference"
        ],
        "properties": {
         "plan_reference": {
          "type": "object",
          "required": [
           "payload",
           "plan_item_id",
           "type"
          ],
          "properties": {
           "plan_item_id": {
            "type": "integer",
            "description": "Action Plan Item ID",
            "example": 54
           },
           "type": {
            "type": "string",
            "description": "Action Plan Reference Type",
            "enum": [
             "attachment",
             "drawing",
             "document",
             "document_management_document_reference",
             "specification_section",
             "submittal_log",
             "generic_tool_item",
             "form",
             "meeting",
             "observation_item"
            ],
            "example": "attachment"
           },
           "payload": {
            "type": "object",
            "description": "One of attachment, drawing_revision_id, file_version_id, document_management_document_reference, specification_section_id, submittal_log_id, generic_tool_item_id, form_id, meeting_id, or observation_item_id is accepted depending on the type provided",
            "properties": {
             "drawing_revision_id": {
              "type": "integer",
              "description": "Drawing Revision ID",
              "example": 53
             },
             "file_version_id": {
              "type": "integer",
              "description": "File Version ID",
              "example": 54
             },
             "document_management_document_reference": {
              "type": "object",
              "description": "PDM (Product Document Management) document reference",
              "properties": {
               "collection_id": {
                "type": "string",
                "format": "uuid",
                "description": "Document collection ID",
                "example": "123e4567-e89b-12d3-a456-426614174000"
               },
               "container_id": {
                "type": "string",
                "format": "uuid",
                "description": "Document container ID",
                "example": "123e4567-e89b-12d3-a456-426614174001"
               }
              }
             },
             "specification_section_id": {
              "type": "integer",
              "description": "Specification Section ID",
              "example": 55
             },
             "submittal_log_id": {
              "type": "integer",
              "description": "Submittal Log ID",
              "example": 65
             },
             "attachment": {
              "type": "string",
              "format": "binary",
              "description": "Reference Attachment.\nTo upload an attachment you must upload the entire payload as `multipart/form-data` content-type\nwith the `attachment` file."
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "Generic Tool Item (Correspondence) ID",
              "example": 56
             },
             "form_id": {
              "type": "integer",
              "description": "Form ID",
              "example": 57
             },
             "meeting_id": {
              "type": "integer",
              "description": "Meeting ID",
              "example": 58
             },
             "observation_item_id": {
              "type": "integer",
              "description": "Observation Item ID",
              "example": 59
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Reference (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Action Plan reference.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "ID of the Action Plan item this reference is attached to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when this reference was created.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Type-specific payload containing identifiers for the referenced resource. The fields present depend on the value of the type field.",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            },
            "drawing_id": {
             "type": "integer",
             "description": "ID of the Drawing that contains the referenced revision."
            },
            "drawing_revision_id": {
             "type": "integer",
             "description": "ID of the current Drawing Revision for the referenced Drawing."
            },
            "file_version_id": {
             "type": "integer",
             "description": "ID of the current File Version for the referenced Document."
            },
            "folder_id": {
             "type": "integer",
             "description": "ID of the Folder containing the referenced Document."
            },
            "specification_section_id": {
             "type": "integer",
             "description": "ID of the referenced Specification Section.",
             "example": 55
            },
            "specification_section_current_revision_id": {
             "type": "integer",
             "description": "ID of the current revision of the referenced Specification Section. Null if no revision exists.",
             "example": 42,
             "nullable": true
            },
            "submittal_log_id": {
             "type": "integer",
             "description": "ID of the referenced Submittal Log entry.",
             "example": 65
            },
            "generic_tool_item_id": {
             "type": "integer",
             "description": "ID of the referenced Generic Tool Item (Correspondence)."
            },
            "generic_tool_id": {
             "type": "integer",
             "description": "ID of the Generic Tool (Correspondence tool) that the referenced item belongs to. Present when the reference type is generic_tool_item."
            },
            "form_id": {
             "type": "integer",
             "description": "ID of the referenced Form."
            },
            "meeting_id": {
             "type": "integer",
             "description": "ID of the referenced Meeting."
            },
            "observation_item_id": {
             "type": "integer",
             "description": "ID of the referenced Observation Item."
            },
            "image_id": {
             "type": "integer",
             "description": "ID of the referenced image. Present when the reference type is image."
            },
            "viewer_url": {
             "type": "string",
             "description": "URL to open the referenced item in the Procore web viewer. Present for attachment, form, image, and document management reference types."
            },
            "collection_id": {
             "type": "string",
             "format": "uuid",
             "description": "Document collection ID for a document management reference."
            },
            "container_id": {
             "type": "string",
             "format": "uuid",
             "description": "Document container ID for a document management reference."
            },
            "document_revision_id": {
             "type": "string",
             "description": "Document revision ID for a document management reference. Null for open items showing the latest revision.",
             "nullable": true
            },
            "document_name": {
             "type": "string",
             "description": "Name of the referenced document management document."
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "ID of the Action Plan that owns the item this reference is attached to.",
           "example": 985
          },
          "type": {
           "type": "string",
           "description": "Type of resource this reference points to.",
           "enum": [
            "attachment",
            "drawing",
            "specification_section",
            "submittal_log",
            "document",
            "document_management_document_reference",
            "generic_tool_item",
            "form",
            "meeting",
            "observation_item",
            "image"
           ],
           "example": "specification_section"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when this reference was last updated.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when this reference was soft-deleted. Null if the reference is active.",
           "example": "2018-09-20T21:39:40Z",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_reference: {\n      plan_item_id: 54,\n      type: 'specification_section',\n      payload: {\n        drawing_revision_id: 53,\n        file_version_id: 54,\n        document_management_document_reference: {\n          collection_id: '123e4567-e89b-12d3-a456-426614174000',\n          container_id: '123e4567-e89b-12d3-a456-426614174001'\n        },\n        specification_section_id: 55,\n        submittal_log_id: 65,\n        generic_tool_item_id: 56,\n        form_id: 57,\n        meeting_id: 58,\n        observation_item_id: 59\n      }\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_reference\\\":{\\\"plan_item_id\\\":54,\\\"type\\\":\\\"specification_section\\\",\\\"payload\\\":{\\\"drawing_revision_id\\\":53,\\\"file_version_id\\\":54,\\\"document_management_document_reference\\\":{\\\"collection_id\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"container_id\\\":\\\"123e4567-e89b-12d3-a456-426614174001\\\"},\\\"specification_section_id\\\":55,\\\"submittal_log_id\\\":65,\\\"generic_tool_item_id\\\":56,\\\"form_id\\\":57,\\\"meeting_id\\\":58,\\\"observation_item_id\\\":59}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_reference\":{\"plan_item_id\":54,\"type\":\"specification_section\",\"payload\":{\"drawing_revision_id\":53,\"file_version_id\":54,\"document_management_document_reference\":{\"collection_id\":\"123e4567-e89b-12d3-a456-426614174000\",\"container_id\":\"123e4567-e89b-12d3-a456-426614174001\"},\"specification_section_id\":55,\"submittal_log_id\":65,\"generic_tool_item_id\":56,\"form_id\":57,\"meeting_id\":58,\"observation_item_id\":59}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references\"),\n    Content = new StringContent(\"{\\\"plan_reference\\\":{\\\"plan_item_id\\\":54,\\\"type\\\":\\\"specification_section\\\",\\\"payload\\\":{\\\"drawing_revision_id\\\":53,\\\"file_version_id\\\":54,\\\"document_management_document_reference\\\":{\\\"collection_id\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"container_id\\\":\\\"123e4567-e89b-12d3-a456-426614174001\\\"},\\\"specification_section_id\\\":55,\\\"submittal_log_id\\\":65,\\\"generic_tool_item_id\\\":56,\\\"form_id\\\":57,\\\"meeting_id\\\":58,\\\"observation_item_id\\\":59}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    plan_reference: '{\"plan_item_id\":54,\"type\":\"attachment\",\"payload\":{\"drawing_revision_id\":53,\"file_version_id\":54,\"document_management_document_reference\":{\"collection_id\":\"123e4567-e89b-12d3-a456-426614174000\",\"container_id\":\"123e4567-e89b-12d3-a456-426614174001\"},\"specification_section_id\":55,\"submittal_log_id\":65,\"attachment\":\"string\",\"generic_tool_item_id\":56,\"form_id\":57,\"meeting_id\":58,\"observation_item_id\":59}}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"plan_reference\\\"\\r\\n\\r\\n{\\\"plan_item_id\\\":54,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"drawing_revision_id\\\":53,\\\"file_version_id\\\":54,\\\"document_management_document_reference\\\":{\\\"collection_id\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"container_id\\\":\\\"123e4567-e89b-12d3-a456-426614174001\\\"},\\\"specification_section_id\\\":55,\\\"submittal_log_id\\\":65,\\\"attachment\\\":\\\"string\\\",\\\"generic_tool_item_id\\\":56,\\\"form_id\\\":57,\\\"meeting_id\\\":58,\\\"observation_item_id\\\":59}}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'plan_reference={\"plan_item_id\":54,\"type\":\"attachment\",\"payload\":{\"drawing_revision_id\":53,\"file_version_id\":54,\"document_management_document_reference\":{\"collection_id\":\"123e4567-e89b-12d3-a456-426614174000\",\"container_id\":\"123e4567-e89b-12d3-a456-426614174001\"},\"specification_section_id\":55,\"submittal_log_id\":65,\"attachment\":\"string\",\"generic_tool_item_id\":56,\"form_id\":57,\"meeting_id\":58,\"observation_item_id\":59}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"plan_item_id\\\":54,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"drawing_revision_id\\\":53,\\\"file_version_id\\\":54,\\\"document_management_document_reference\\\":{\\\"collection_id\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"container_id\\\":\\\"123e4567-e89b-12d3-a456-426614174001\\\"},\\\"specification_section_id\\\":55,\\\"submittal_log_id\\\":65,\\\"attachment\\\":\\\"string\\\",\\\"generic_tool_item_id\\\":56,\\\"form_id\\\":57,\\\"meeting_id\\\":58,\\\"observation_item_id\\\":59}}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"plan_reference\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan References create endpoint",
      "description": "Create an Action Plan References for a given Project.",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-references?version=1.0#create-action-plan-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_references/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Reference ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Action Plan Reference",
    "description": "Returns an Action Plan Reference",
    "tags": [
     "Action Plan References"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Reference (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Action Plan reference.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "ID of the Action Plan item this reference is attached to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when this reference was created.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Type-specific payload containing identifiers for the referenced resource. The fields present depend on the value of the type field.",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            },
            "drawing_id": {
             "type": "integer",
             "description": "ID of the Drawing that contains the referenced revision."
            },
            "drawing_revision_id": {
             "type": "integer",
             "description": "ID of the current Drawing Revision for the referenced Drawing."
            },
            "file_version_id": {
             "type": "integer",
             "description": "ID of the current File Version for the referenced Document."
            },
            "folder_id": {
             "type": "integer",
             "description": "ID of the Folder containing the referenced Document."
            },
            "specification_section_id": {
             "type": "integer",
             "description": "ID of the referenced Specification Section.",
             "example": 55
            },
            "specification_section_current_revision_id": {
             "type": "integer",
             "description": "ID of the current revision of the referenced Specification Section. Null if no revision exists.",
             "example": 42,
             "nullable": true
            },
            "submittal_log_id": {
             "type": "integer",
             "description": "ID of the referenced Submittal Log entry.",
             "example": 65
            },
            "generic_tool_item_id": {
             "type": "integer",
             "description": "ID of the referenced Generic Tool Item (Correspondence)."
            },
            "generic_tool_id": {
             "type": "integer",
             "description": "ID of the Generic Tool (Correspondence tool) that the referenced item belongs to. Present when the reference type is generic_tool_item."
            },
            "form_id": {
             "type": "integer",
             "description": "ID of the referenced Form."
            },
            "meeting_id": {
             "type": "integer",
             "description": "ID of the referenced Meeting."
            },
            "observation_item_id": {
             "type": "integer",
             "description": "ID of the referenced Observation Item."
            },
            "image_id": {
             "type": "integer",
             "description": "ID of the referenced image. Present when the reference type is image."
            },
            "viewer_url": {
             "type": "string",
             "description": "URL to open the referenced item in the Procore web viewer. Present for attachment, form, image, and document management reference types."
            },
            "collection_id": {
             "type": "string",
             "format": "uuid",
             "description": "Document collection ID for a document management reference."
            },
            "container_id": {
             "type": "string",
             "format": "uuid",
             "description": "Document container ID for a document management reference."
            },
            "document_revision_id": {
             "type": "string",
             "description": "Document revision ID for a document management reference. Null for open items showing the latest revision.",
             "nullable": true
            },
            "document_name": {
             "type": "string",
             "description": "Name of the referenced document management document."
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "ID of the Action Plan that owns the item this reference is attached to.",
           "example": 985
          },
          "type": {
           "type": "string",
           "description": "Type of resource this reference points to.",
           "enum": [
            "attachment",
            "drawing",
            "specification_section",
            "submittal_log",
            "document",
            "document_management_document_reference",
            "generic_tool_item",
            "form",
            "meeting",
            "observation_item",
            "image"
           ],
           "example": "specification_section"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when this reference was last updated.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when this reference was soft-deleted. Null if the reference is active.",
           "example": "2018-09-20T21:39:40Z",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan References show endpoint",
      "description": "View the details of an Action Plan Reference.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_references/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-references?version=1.0#show-action-plan-reference"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Action Plan Reference",
    "description": "Deletes an Action Plan Reference",
    "tags": [
     "Action Plan References"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_references/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan References delete endpoint",
      "description": "Delete an Action Plan Reference.",
      "endpoint": "DELETE /projects/{project_id}/action_plans/plan_references/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-references?version=1.0#delete-action-plan-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_references": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Action Plan References",
    "description": "List of all Recycled Action Plan References",
    "tags": [
     "Action Plan References"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[plan_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Action Plan Reference (Index)",
         "items": {
          "type": "object",
          "description": "Action Plan Reference (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this Action Plan reference.",
            "example": 12
           },
           "plan_item_id": {
            "type": "integer",
            "description": "ID of the Action Plan item this reference is attached to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp in ISO 8601 format when this reference was created.",
            "example": "2018-09-20T21:39:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Type-specific payload containing identifiers for the referenced resource. The fields present depend on the value of the type field.",
            "properties": {
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Image URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Image Thumbnail URL",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "File Name",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "Content Type",
                "example": "image/jpg"
               }
              }
             },
             "drawing_id": {
              "type": "integer",
              "description": "ID of the Drawing that contains the referenced revision."
             },
             "drawing_revision_id": {
              "type": "integer",
              "description": "ID of the current Drawing Revision for the referenced Drawing."
             },
             "file_version_id": {
              "type": "integer",
              "description": "ID of the current File Version for the referenced Document."
             },
             "folder_id": {
              "type": "integer",
              "description": "ID of the Folder containing the referenced Document."
             },
             "specification_section_id": {
              "type": "integer",
              "description": "ID of the referenced Specification Section.",
              "example": 55
             },
             "specification_section_current_revision_id": {
              "type": "integer",
              "description": "ID of the current revision of the referenced Specification Section. Null if no revision exists.",
              "example": 42,
              "nullable": true
             },
             "submittal_log_id": {
              "type": "integer",
              "description": "ID of the referenced Submittal Log entry.",
              "example": 65
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "ID of the referenced Generic Tool Item (Correspondence)."
             },
             "generic_tool_id": {
              "type": "integer",
              "description": "ID of the Generic Tool (Correspondence tool) that the referenced item belongs to. Present when the reference type is generic_tool_item."
             },
             "form_id": {
              "type": "integer",
              "description": "ID of the referenced Form."
             },
             "meeting_id": {
              "type": "integer",
              "description": "ID of the referenced Meeting."
             },
             "observation_item_id": {
              "type": "integer",
              "description": "ID of the referenced Observation Item."
             },
             "image_id": {
              "type": "integer",
              "description": "ID of the referenced image. Present when the reference type is image."
             },
             "viewer_url": {
              "type": "string",
              "description": "URL to open the referenced item in the Procore web viewer. Present for attachment, form, image, and document management reference types."
             },
             "collection_id": {
              "type": "string",
              "format": "uuid",
              "description": "Document collection ID for a document management reference."
             },
             "container_id": {
              "type": "string",
              "format": "uuid",
              "description": "Document container ID for a document management reference."
             },
             "document_revision_id": {
              "type": "string",
              "description": "Document revision ID for a document management reference. Null for open items showing the latest revision.",
              "nullable": true
             },
             "document_name": {
              "type": "string",
              "description": "Name of the referenced document management document."
             }
            }
           },
           "plan_id": {
            "type": "integer",
            "description": "ID of the Action Plan that owns the item this reference is attached to.",
            "example": 985
           },
           "type": {
            "type": "string",
            "description": "Type of resource this reference points to.",
            "enum": [
             "attachment",
             "drawing",
             "specification_section",
             "submittal_log",
             "document",
             "document_management_document_reference",
             "generic_tool_item",
             "form",
             "meeting",
             "observation_item",
             "image"
            ],
            "example": "specification_section"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp in ISO 8601 format when this reference was last updated.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp in ISO 8601 format when this reference was soft-deleted. Null if the reference is active.",
            "example": "2018-09-20T21:39:40Z",
            "nullable": true
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_references',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[plan_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Action Plan References list endpoint",
      "description": "Get a list of Recycled Action Plan References for a given project.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/action_plans/plan_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-04-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-references?version=1.0#list-recycled-action-plan-references"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_references/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Reference ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Action Plan Reference",
    "description": "Returns a Recycled Action Plan Reference",
    "tags": [
     "Action Plan References"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Reference (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Action Plan reference.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "ID of the Action Plan item this reference is attached to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when this reference was created.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Type-specific payload containing identifiers for the referenced resource. The fields present depend on the value of the type field.",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            },
            "drawing_id": {
             "type": "integer",
             "description": "ID of the Drawing that contains the referenced revision."
            },
            "drawing_revision_id": {
             "type": "integer",
             "description": "ID of the current Drawing Revision for the referenced Drawing."
            },
            "file_version_id": {
             "type": "integer",
             "description": "ID of the current File Version for the referenced Document."
            },
            "folder_id": {
             "type": "integer",
             "description": "ID of the Folder containing the referenced Document."
            },
            "specification_section_id": {
             "type": "integer",
             "description": "ID of the referenced Specification Section.",
             "example": 55
            },
            "specification_section_current_revision_id": {
             "type": "integer",
             "description": "ID of the current revision of the referenced Specification Section. Null if no revision exists.",
             "example": 42,
             "nullable": true
            },
            "submittal_log_id": {
             "type": "integer",
             "description": "ID of the referenced Submittal Log entry.",
             "example": 65
            },
            "generic_tool_item_id": {
             "type": "integer",
             "description": "ID of the referenced Generic Tool Item (Correspondence)."
            },
            "generic_tool_id": {
             "type": "integer",
             "description": "ID of the Generic Tool (Correspondence tool) that the referenced item belongs to. Present when the reference type is generic_tool_item."
            },
            "form_id": {
             "type": "integer",
             "description": "ID of the referenced Form."
            },
            "meeting_id": {
             "type": "integer",
             "description": "ID of the referenced Meeting."
            },
            "observation_item_id": {
             "type": "integer",
             "description": "ID of the referenced Observation Item."
            },
            "image_id": {
             "type": "integer",
             "description": "ID of the referenced image. Present when the reference type is image."
            },
            "viewer_url": {
             "type": "string",
             "description": "URL to open the referenced item in the Procore web viewer. Present for attachment, form, image, and document management reference types."
            },
            "collection_id": {
             "type": "string",
             "format": "uuid",
             "description": "Document collection ID for a document management reference."
            },
            "container_id": {
             "type": "string",
             "format": "uuid",
             "description": "Document container ID for a document management reference."
            },
            "document_revision_id": {
             "type": "string",
             "description": "Document revision ID for a document management reference. Null for open items showing the latest revision.",
             "nullable": true
            },
            "document_name": {
             "type": "string",
             "description": "Name of the referenced document management document."
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "ID of the Action Plan that owns the item this reference is attached to.",
           "example": 985
          },
          "type": {
           "type": "string",
           "description": "Type of resource this reference points to.",
           "enum": [
            "attachment",
            "drawing",
            "specification_section",
            "submittal_log",
            "document",
            "document_management_document_reference",
            "generic_tool_item",
            "form",
            "meeting",
            "observation_item",
            "image"
           ],
           "example": "specification_section"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when this reference was last updated.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when this reference was soft-deleted. Null if the reference is active.",
           "example": "2018-09-20T21:39:40Z",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_references/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_references/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_references/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_references/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Action Plan Reference show endpoint",
      "description": "View the details of a Recycled Action Plan Reference.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/action_plans/plan_references/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-04-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-references?version=1.0#show-recycled-action-plan-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_references/bulk_create": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Action Plan References",
    "description": "Creates multiple Action References",
    "tags": [
     "Action Plan References"
    ],
    "parameters": [
     {
      "name": "completion_mode",
      "in": "query",
      "description": "Whether to update what can be or nothing if one can not be updated. Defaults to \"all_or_nothing\"",
      "schema": {
       "type": "string",
       "enum": [
        "all_or_nothing",
        "atomic"
       ]
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_references"
        ],
        "properties": {
         "plan_references": {
          "title": "Action Plan References",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "payload",
            "plan_item_id",
            "type"
           ],
           "properties": {
            "plan_item_id": {
             "type": "integer",
             "description": "Action Plan Item ID",
             "example": 54
            },
            "type": {
             "type": "string",
             "description": "Action Plan Reference Type",
             "enum": [
              "attachment",
              "drawing",
              "document",
              "document_management_document_reference",
              "specification_section",
              "submittal_log",
              "generic_tool_item",
              "form",
              "meeting",
              "observation_item"
             ],
             "example": "specification_section"
            },
            "payload": {
             "type": "object",
             "description": "One of attachment, drawing_revision_id, file_version_id, document_management_document_reference, specification_section_id, submittal_log_id, generic_tool_item_id, form_id, meeting_id, or observation_item_id is accepted depending on the type provided",
             "properties": {
              "drawing_revision_id": {
               "type": "integer",
               "description": "Drawing Revision ID",
               "example": 53
              },
              "file_version_id": {
               "type": "integer",
               "description": "File Version ID",
               "example": 54
              },
              "document_management_document_reference": {
               "type": "object",
               "description": "PDM (Product Document Management) document reference",
               "properties": {
                "collection_id": {
                 "type": "string",
                 "format": "uuid",
                 "description": "Document collection ID",
                 "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "container_id": {
                 "type": "string",
                 "format": "uuid",
                 "description": "Document container ID",
                 "example": "123e4567-e89b-12d3-a456-426614174001"
                }
               }
              },
              "specification_section_id": {
               "type": "integer",
               "description": "Specification Section ID",
               "example": 55
              },
              "submittal_log_id": {
               "type": "integer",
               "description": "Submittal Log ID",
               "example": 65
              },
              "generic_tool_item_id": {
               "type": "integer",
               "description": "Generic Tool Item (Correspondence) ID",
               "example": 56
              },
              "form_id": {
               "type": "integer",
               "description": "Form ID",
               "example": 57
              },
              "meeting_id": {
               "type": "integer",
               "description": "Meeting ID",
               "example": 58
              },
              "observation_item_id": {
               "type": "integer",
               "description": "Observation Item ID",
               "example": 59
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of update status",
         "items": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Item",
             "example": 123
            },
            "status": {
             "type": "string",
             "description": "status of the update on that Item",
             "enum": [
              "success",
              "failure"
             ],
             "example": "success"
            },
            "errors": {
             "type": "object"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
[...]
