{
 "openapi": "3.0.0",
 "info": {
  "title": "Action Plans",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Action Plans",
  "version": "2.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/action_plans/plans/bulk_create_for_locations": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Action Plans for Locations",
    "description": "Creates multiple Action Plans from a single Action Plan Template at a specified location. The endpoint enqueues background jobs to create the specified number of Action Plans asynchronously.\n\nThe template must be in \"published\" status. Templates in \"draft\" or \"in_revision\" status cannot be used to create plans.\n\nEach Action Plan will be created with all sections, items, assignees, references, and test record requests copied from the template.",
    "tags": [
     "Action Plans"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "template_id",
         "location_id",
         "number_of_plans"
        ],
        "properties": {
         "template_id": {
          "type": "string",
          "description": "The ID of the Action Plan Template to create plans from",
          "example": "123"
         },
         "location_id": {
          "type": "string",
          "description": "The ID of the Location where the Action Plans will be created",
          "example": "456"
         },
         "number_of_plans": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "description": "The number of Action Plans to create (1-1000)",
          "example": 10
         }
        }
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted - Background jobs have been enqueued to create the Action Plans",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for the batch of jobs",
             "example": "BV4VqSB2D_QoZg"
            },
            "template": {
             "type": "object",
             "description": "Information about the template used",
             "properties": {
              "id": {
               "type": "string",
               "description": "The ID of the Action Plan Template",
               "example": "123"
              },
              "title": {
               "type": "string",
               "description": "The title of the Action Plan Template",
               "example": "Safety Inspection Template"
              }
             }
            },
            "plans": {
             "type": "object",
             "description": "Information about the Action Plans to be created",
             "properties": {
              "count": {
               "type": "integer",
               "description": "The number of Action Plans that will be created",
               "example": 10
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found - Template does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict - Template is in revision and cannot be used",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity - No template selected, no location selected, template not published, invalid location, or invalid number_of_plans",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plans/bulk_create_for_locations',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {template_id: '123', location_id: '456', number_of_plans: 10},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"template_id\\\":\\\"123\\\",\\\"location_id\\\":\\\"456\\\",\\\"number_of_plans\\\":10}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plans/bulk_create_for_locations\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plans/bulk_create_for_locations \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"template_id\":\"123\",\"location_id\":\"456\",\"number_of_plans\":10}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plans/bulk_create_for_locations\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"template_id\\\":\\\"123\\\",\\\"location_id\\\":\\\"456\\\",\\\"number_of_plans\\\":10}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plans bulk create from template endpoint",
      "description": "Create n Action Plans from a single template, and location The endpoint enqueues background jobs to create one Action Plan per location asynchronously.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/action_plans/plans/bulk_create_for_locations",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-01-20",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plans?version=2.0#bulk-create-action-plans-for-locations"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/action_plans/plans/bulk_create_for_assets": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Action Plans for Assets",
    "description": "Creates one Action Plan per asset from a single Action Plan Template. Each created plan is automatically linked to its corresponding asset via the Related Items framework.\n\nThe endpoint is asynchronous: it returns `202 Accepted` with an `operation_id` and enqueues background jobs that create the plans and links in batches of 200. Clients poll the existing async-operations endpoint at `GET /rest/v2.0/companies/{company_id}/projects/{project_id}/submittals/async_operations/{operation_id}` for live progress and a per-asset success / failure breakdown.\n\nPre-flight validation rejects requests synchronously with `422` when any `asset_ids` entry does not belong to the project (deleted, cross-tenant, or typo'd) \u2014 those requests never persist an `Operations::Operation` row or fan out background workers.\n\nRequires the Assets project tool to be active on the project. The selected template must be published and its plan type's configurable field set must have the `assets` field visible for this project; otherwise the request is rejected with `422`.\n\nEach Action Plan is created with all sections, items, assignees, references, and test record requests copied from the template \u2014 identical to the per-plan create flow.",
    "tags": [
     "Action Plans"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "template_id",
         "asset_ids"
        ],
        "properties": {
         "template_id": {
          "type": "string",
          "description": "The ID of the Action Plan Template to create plans from",
          "example": "123"
         },
         "asset_ids": {
          "type": "array",
          "minItems": 1,
          "maxItems": 1000,
          "description": "Asset IDs to create plans for. One Action Plan is created per unique asset id; duplicate ids in the array are deduped before fan-out. Up to 1,000 assets per request.",
          "items": {
           "type": "string",
           "description": "Asset ID",
           "example": "asset-uuid-001"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted - An async operation has been created and background jobs have been enqueued to create the Action Plans and their asset links.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "operation_id": {
             "type": "string",
             "description": "ID of the `Operations::Operation` row tracking this bulk create. Poll the async-operations endpoint with this id to observe progress and final per-asset status.",
             "example": "4242"
            },
            "status": {
             "type": "string",
             "description": "Initial operation status (typically `created` or `in_progress`)",
             "enum": [
              "created",
              "in_progress"
             ],
             "example": "created"
            },
            "template": {
             "type": "object",
             "description": "Information about the template used",
             "properties": {
              "id": {
               "type": "string",
               "description": "The ID of the Action Plan Template",
               "example": "123"
              },
              "title": {
               "type": "string",
               "description": "The title of the Action Plan Template",
               "example": "Equipment Inspection Template"
              }
             }
            },
            "plans": {
             "type": "object",
             "description": "Information about the Action Plans that will be created",
             "properties": {
              "count": {
               "type": "integer",
               "description": "The number of Action Plans that will be created (equals the count of unique, non-blank `asset_ids` after server-side dedupe).",
               "example": 3
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found - Template does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict - Template is in revision and cannot be used",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity - Asset linking feature flag is off for the project, the Assets tool is disabled for the project, the template's plan type does not support assets, the template is not published, `template_id` is missing, `asset_ids` is empty, `asset_ids` exceeds the 1,000-asset cap, or one or more `asset_ids` entries do not belong to the project.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plans/bulk_create_for_assets',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {template_id: '123', asset_ids: ['asset-uuid-001']},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"template_id\\\":\\\"123\\\",\\\"asset_ids\\\":[\\\"asset-uuid-001\\\"]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plans/bulk_create_for_assets\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plans/bulk_create_for_assets \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"template_id\":\"123\",\"asset_ids\":[\"asset-uuid-001\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plans/bulk_create_for_assets\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"template_id\\\":\\\"123\\\",\\\"asset_ids\\\":[\\\"asset-uuid-001\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plans bulk create for assets endpoint",
      "description": "Bulk create Action Plans from a single template, one per asset, with each plan automatically linked to its asset. The endpoint enqueues an async operation and returns 202 with an `operation_id` for polling; accepts up to 1,000 asset_ids per request. Requires a template whose plan type supports the `assets` configurable field. Pre-flight validation rejects `asset_ids` that don't belong to the project synchronously with `422`.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/action_plans/plans/bulk_create_for_assets",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plans?version=2.0#bulk-create-action-plans-for-assets"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plans": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Action Plans",
    "description": "List of all Action Plans",
    "tags": [
     "Action Plans"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[approver_id]",
      "in": "query",
      "description": "Return Action Plan(s) that have any of the specified Party IDs as an Action Plan Approver.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 55
       }
      }
     },
     {
      "name": "filters[custom_fields]",
      "in": "query",
      "description": "Return Action Plan(s) whose custom field values match the supplied JSON object. Each key must be a custom field definition ID. A scalar value matches Action Plan(s) whose value for that field is equal to it; an array value matches Action Plan(s) whose value for that field is any one of the supplied values. Supplying more than one key returns only the Action Plan(s) that match every key. Custom fields are configured per Action Plan Type, so an Action Plan whose type does not configure the supplied field never matches.",
      "required": false,
      "schema": {
       "type": "object",
       "description": "JSON object where each key is a custom field definition ID",
       "example": "{\"1\": true, \"5\": [4,3] }"
      }
     },
     {
      "name": "filters[number]",
      "in": "query",
      "description": "Return Action Plan(s) with the specified Action Plan number(s). A range such as `10...20` is also accepted.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 12
       }
      }
     },
     {
      "name": "filters[receiver_id]",
      "in": "query",
      "description": "Return Action Plan(s) that have any of the specified Party IDs as an Action Plan Receiver. Matches every Receiver regardless of whether they have signed.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 61
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[include_sublocations]",
      "in": "query",
      "description": "Use together with `filters[location_id]`\n",
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Location ID. Returns item(s) with the specified Location ID or a range of Location IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 45
       }
      }
     },
     {
      "name": "filters[manager_id]",
      "in": "query",
      "description": "Return item(s) with a specific Manager ID or a range of Manager ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[private]",
      "in": "query",
      "description": "If true, returns only item(s) with a `private` status.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[plan_type_id]",
      "in": "query",
      "description": "Action Plan Type ID. Returns item(s) with the specified Action Plan Type ID(s).",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[template_id]",
      "in": "query",
      "description": "Return Action Plan(s) associated with the specified Action Plan Template ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "location",
        "manager",
        "number",
        "title",
        "plan_approvers",
        "plan_receivers",
        "plan_type",
        "updated_at"
       ]
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Controls which fields are included in the response.\n\n- `list` \u2014 Slim view for the plans index table. Returns only the fields\n  rendered by the list UI: id, number, title, private, closed_item_count,\n  total_item_count, status, custom_fields, plan_type, plan_status, location,\n  and manager (name only). Omits plan_approvers, plan_receivers, assets, and\n  template_id. Significantly reduces DB queries and payload size.\n\n\n- `normal` (default) \u2014 Full view including plan_approvers, plan_receivers,\n  assets, template_id, and the complete manager party object.\n\n\n- `full` \u2014 Extends normal with plan_sections.\n\n- `ids` \u2014 Returns only plan IDs as a flat array.",
      "schema": {
       "type": "string",
       "enum": [
        "list",
        "normal",
        "full",
        "ids"
       ],
       "default": "normal"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Action Plans (Index)",
         "items": {
          "type": "object",
          "description": "Action Plan (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Action Plan.",
            "example": 43584
           },
           "closed_item_count": {
            "type": "integer",
            "description": "Number of plan items with a closed status.",
            "example": 25
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Time the Action Plan was created",
            "example": "2018-09-20T21:39:40Z"
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field",
                "example": "custom field value"
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                "example": "phone_number"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                "example": "with_code"
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           },
           "description": {
            "type": "string",
            "description": "Description of the Action Plan in rich text form",
            "example": "<p>Important Safety Action Plan.</p>"
           },
           "description_plain_text": {
            "type": "string",
            "description": "Description of the Action Plan in plain text form",
            "example": "Important Safety Action Plan"
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             },
             "code": {
              "type": "string",
              "description": "The unique code for this Location",
              "example": "L1",
              "nullable": true
             }
            }
           },
           "manager": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Party Person ID",
              "example": 23
             },
             "first_name": {
              "type": "string",
              "description": "First name of the Party Person",
              "example": "Paul"
             },
             "last_name": {
              "type": "string",
              "description": "Last name of the Party Person",
              "example": "Admin"
             },
             "name": {
              "type": "string",
              "description": "Full name of the Party Person",
              "example": "Paul Admin"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID of the login account associated with this party person.",
              "example": 453
             },
             "is_employee": {
              "type": "boolean",
              "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
              "example": "12",
              "nullable": true
             },
             "login": {
              "type": "string",
              "description": "Email address (login) of the party person's user account.",
              "example": "login@example.com"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Time the Party Person was updated",
              "example": "2018-09-20T21:39:40Z"
             },
             "vendor": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the vendor company this party person belongs to.",
                "example": 223
               },
               "name": {
                "type": "string",
                "description": "Name of the vendor company this party person belongs to.",
                "example": "Freddie's Excavating"
               }
              }
             }
            }
           },
           "number": {
            "type": "integer",
            "description": "Sequential number assigned to the Action Plan within its project.",
            "example": 3
           },
           "plan_type": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the Action Plan type.",
              "example": 21
             },
             "active": {
              "type": "boolean",
              "description": "Whether this type is enabled for use. When false, it is hidden from selection when creating new plans or templates.",
              "example": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the type was created. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "name": {
              "type": "string",
              "description": "Localized display name of the Action Plan type.",
              "example": "Safety"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the type was last modified. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "source_key": {
              "type": "string",
              "description": "System key identifying a built-in type. Null for user-created custom types.",
              "example": "safety",
              "nullable": true
             }
            }
           },
           "plan_status": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the plan status.",
              "example": 21
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the status was created. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "global": {
              "type": "boolean",
              "description": "Whether this is a system-wide status available to all companies. Global statuses cannot be deleted.",
              "example": true
             },
             "name": {
              "type": "string",
              "description": "Display name of the plan status (e.g., 'In Progress', 'Closed').",
              "example": "In Progress"
             },
             "status": {
              "type": "string",
              "description": "Underlying status type category. Custom company statuses map to one of these base types.",
              "example": "in_progress"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the status was last modified. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             }
            }
           },
           "plan_approvers": {
            "type": "array",
            "items": {
             "type": "object",
             "description": "Action Plan Approver (Show)",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for this Action Plan Approver. Use as the {plan_approver_id} path parameter to manage the approver's signature.",
               "example": 12
              },
              "plan_id": {
               "type": "integer",
               "description": "ID of the Action Plan this approver is assigned to. Use as filters[plan_id] to list approvers for a specific plan.",
               "example": 54
              },
              "updated_at": {
               "type": "string",
               "description": "Timestamp in ISO 8601 format when this approver record was last updated. Use with filters[updated_at] to retrieve recently changed approvers.",
               "example": "2018-09-20T21:39:40Z"
              },
              "party": {
               "type": "object",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Party Person ID",
                 "example": 23
                },
                "first_name": {
                 "type": "string",
                 "description": "First name of the Party Person",
                 "example": "Paul"
                },
                "last_name": {
                 "type": "string",
                 "description": "Last name of the Party Person",
                 "example": "Admin"
                },
                "name": {
                 "type": "string",
                 "description": "Full name of the Party Person",
                 "example": "Paul Admin"
                },
                "user_id": {
                 "type": "integer",
                 "description": "User ID of the login account associated with this party person.",
                 "example": 453
                },
                "is_employee": {
                 "type": "boolean",
                 "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
                 "example": true
                },
                "employee_id": {
                 "type": "string",
                 "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
                 "example": "12",
                 "nullable": true
                },
                "login": {
                 "type": "string",
                 "description": "Email address (login) of the party person's user account.",
                 "example": "login@example.com"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Time the Party Person was updated",
                 "example": "2018-09-20T21:39:40Z"
                },
                "vendor": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique identifier of the vendor company this party person belongs to.",
                   "example": 223
                  },
                  "name": {
                   "type": "string",
                   "description": "Name of the vendor company this party person belongs to.",
                   "example": "Freddie's Excavating"
                  }
                 }
                }
               }
              },
              "signature": {
               "type": "object",
               "description": "Action Plan Approver Signature (Show)",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier for this approver signature record.",
                 "example": 32
                },
                "attachment": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique identifier of the Prostore file containing the signature image.",
                   "example": 23
                  },
                  "content_type": {
                   "type": "string",
                   "description": "MIME type of the signature file.",
                   "example": "image/png"
                  },
                  "name": {
                   "type": "string",
                   "description": "File name of the uploaded signature image.",
                   "example": "image.png"
                  },
                  "url": {
                   "type": "string",
                   "description": "URL to download the signature image. The URL is temporary and expires after a period.",
                   "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
                  }
                 }
                },
                "captured_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp in ISO 8601 format when this approver signature was captured.",
                 "example": "2015-02-07T00:00:00Z"
                },
                "captured_by": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Party Person ID",
                   "example": 23
                  },
                  "first_name": {
                   "type": "string",
                   "description": "First name of the Party Person",
                   "example": "Paul"
                  },
                  "last_name": {
                   "type": "string",
                   "description": "Last name of the Party Person",
                   "example": "Admin"
                  },
                  "name": {
                   "type": "string",
                   "description": "Full name of the Party Person",
                   "example": "Paul Admin"
                  },
                  "user_id": {
                   "type": "integer",
                   "description": "User ID of the login account associated with this party person.",
                   "example": 453
                  },
                  "is_employee": {
                   "type": "boolean",
                   "description": "Indicates whether Party is an Employee of the current Company",
                   "example": true
                  },
                  "employee_id": {
                   "type": "integer",
                   "description": "Employee ID of this party person. Null if no employee ID is assigned.",
                   "example": 12,
                   "nullable": true
                  },
                  "login": {
                   "type": "string",
                   "description": "Email address (login) of the party person's user account.",
                   "example": "contractor@example.com"
                  },
                  "vendor": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique identifier of the vendor company this party person belongs to.",
                     "example": 223
                    },
                    "name": {
                     "type": "string",
                     "description": "Name of the vendor company this party person belongs to.",
                     "example": "Freddie's Excavating"
                    }
                   }
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
                   "example": "2017-01-04T21:27:18Z"
                  }
                 }
                }
               }
              }
             }
            }
           },
           "plan_receivers": {
            "type": "array",
            "items": {
             "type": "object",
             "description": "Action Plan Receiver (Show)",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for this Action Plan receiver assignment.",
               "example": 54
              },
              "plan_id": {
               "type": "integer",
               "description": "ID of the Action Plan this receiver is assigned to. Use as the plan_id filter when listing receivers for a specific plan.",
               "example": 54
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp in ISO 8601 format when this receiver assignment was last updated.",
               "example": "2018-09-20T21:39:40Z"
              },
              "party": {
               "type": "object",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Party Person ID",
                 "example": 23
                },
                "first_name": {
                 "type": "string",
                 "description": "First name of the Party Person",
                 "example": "Paul"
                },
                "last_name": {
                 "type": "string",
                 "description": "Last name of the Party Person",
                 "example": "Admin"
                },
                "name": {
                 "type": "string",
                 "description": "Full name of the Party Person",
                 "example": "Paul Admin"
                },
                "user_id": {
                 "type": "integer",
                 "description": "User ID of the login account associated with this party person.",
                 "example": 453
                },
                "is_employee": {
                 "type": "boolean",
                 "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
                 "example": true
                },
                "employee_id": {
                 "type": "string",
                 "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
                 "example": "12",
                 "nullable": true
                },
                "login": {
                 "type": "string",
                 "description": "Email address (login) of the party person's user account.",
                 "example": "login@example.com"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Time the Party Person was updated",
                 "example": "2018-09-20T21:39:40Z"
                },
                "vendor": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique identifier of the vendor company this party person belongs to.",
                   "example": 223
                  },
                  "name": {
                   "type": "string",
                   "description": "Name of the vendor company this party person belongs to.",
                   "example": "Freddie's Excavating"
                  }
                 }
                }
               }
              },
              "signature": {
               "type": "object",
               "description": "Action Plan Receiver Signature (Show)",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier for this signature record.",
                 "example": 32
                },
                "attachment": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique identifier of the Prostore file containing the signature image.",
                   "example": 23
                  },
                  "content_type": {
                   "type": "string",
                   "description": "MIME type of the signature file.",
                   "example": "image/png"
                  },
                  "name": {
                   "type": "string",
                   "description": "File name of the uploaded signature image.",
                   "example": "action_plan_receiver_signature_1.png"
                  },
                  "url": {
                   "type": "string",
                   "description": "URL to download the signature image. The URL is temporary and expires after a period.",
                   "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
                  }
                 }
                },
                "captured_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp in ISO 8601 format when the signature was captured.",
                 "example": "2015-02-07T00:00:00Z"
                },
                "captured_by": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Party Person ID",
                   "example": 23
                  },
                  "first_name": {
                   "type": "string",
                   "description": "First name of the Party Person",
                   "example": "Paul"
                  },
                  "last_name": {
                   "type": "string",
                   "description": "Last name of the Party Person",
                   "example": "Admin"
                  },
                  "name": {
                   "type": "string",
                   "description": "Full name of the Party Person",
                   "example": "Paul Admin"
                  },
                  "user_id": {
                   "type": "integer",
                   "description": "User ID of the login account associated with this party person.",
                   "example": 453
                  },
                  "is_employee": {
                   "type": "boolean",
                   "description": "Indicates whether Party is an Employee of the current Company",
                   "example": true
                  },
                  "employee_id": {
                   "type": "integer",
                   "description": "Employee ID of this party person. Null if no employee ID is assigned.",
                   "example": 12,
                   "nullable": true
                  },
                  "login": {
                   "type": "string",
                   "description": "Email address (login) of the party person's user account.",
                   "example": "contractor@example.com"
                  },
                  "vendor": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique identifier of the vendor company this party person belongs to.",
                     "example": 223
                    },
                    "name": {
                     "type": "string",
                     "description": "Name of the vendor company this party person belongs to.",
                     "example": "Freddie's Excavating"
                    }
                   }
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
                   "example": "2017-01-04T21:27:18Z"
                  }
                 }
                }
               }
              }
             }
            }
           },
           "private": {
            "type": "boolean",
            "description": "Whether the Action Plan is restricted to participants only. When true, only the manager, approvers, receivers, and assigned users can view the plan.",
            "example": false
           },
           "status": {
            "type": "string",
            "description": "Display name of the current plan status. Default values are draft, in_progress, and closed. Companies may define custom status names that map to underlying status types.",
            "enum": [
             "draft",
             "in_progress",
             "in_revision",
             "completed"
            ],
            "example": "draft"
           },
           "status_type": {
            "type": "string",
            "description": "Underlying status type category for this plan's status.",
            "enum": [
             "draft",
             "in_progress",
             "in_revision",
             "completed"
            ],
            "example": "draft"
           },
           "template_id": {
            "type": "integer",
            "description": "Identifier of the Action Plan Template this plan was created from. Null if not created from a template.",
            "nullable": true
           },
           "title": {
            "type": "string",
            "description": "Title of the Action Plan",
            "example": "A New Action Plan"
           },
           "total_item_count": {
            "type": "integer",
            "description": "Total number of plan items in this Action Plan, regardless of status.",
            "example": 50
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the Action Plan was last modified. ISO 8601 format.",
            "example": "2015-03-19T12:00:00Z"
           },
           "assets": {
            "type": "array",
            "items": {
             "type": "object",
             "description": "Action Plan Asset",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique identifier of the Asset",
               "example": "01KJS2QXHDVC95SWNT2EQTXDNQ"
              },
              "asset_code": {
               "type": "string",
               "description": "Code of the Asset",
               "example": "344"
              },
              "asset_status": {
               "type": "object",
               "description": "Status of the Asset",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Unique identifier of the Asset Status",
                 "example": "04K474PW6RZMEG6WHW6G2MPMNW"
                },
                "name": {
                 "type": "string",
                 "description": "Name of the Asset Status",
                 "example": "Installed"
                },
                "metadata": {
                 "type": "object",
                 "properties": {
                  "status_group_id": {
                   "type": "string",
                   "description": "Unique identifier of the Status Group",
                   "example": "04K474PW6RZMS8K4CRP8SCSCTM"
                  },
                  "color_code": {
                   "type": "string",
                   "description": "Color code associated with the status",
                   "example": "green"
                  }
                 }
                }
               }
              },
              "asset_type": {
               "type": "object",
               "description": "Type of the Asset",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Unique identifier of the Asset Type",
                 "example": "01KH6JANKCPQ35F8Y1DCVTNJ9V"
                },
                "name": {
                 "type": "string",
                 "description": "Name of the Asset Type",
                 "example": "SubType 1"
                },
                "metadata": {
                 "type": "object",
                 "properties": {
                  "parent_type_id": {
                   "type": "string",
                   "description": "Unique identifier of the parent Asset Type",
                   "example": "01KH6J9DZMCAD79T99QMTRWHAT"
                  },
                  "code": {
                   "type": "string",
                   "description": "Code of the Asset Type",
                   "example": "sub1"
                  }
                 }
                }
               }
              },
              "modified_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of when the Asset was last modified",
               "example": "2026-03-03T05:29:11Z"
              },
              "title": {
               "type": "string",
               "description": "Title of the Asset",
               "example": "Test Asset"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plans',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[approver_id]': 'SOME_ARRAY_VALUE',\n    'filters[custom_fields]': '{\"1\": true, \"5\": [4,3] }',\n    'filters[number]': 'SOME_ARRAY_VALUE',\n    'filters[receiver_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[include_sublocations]': 'SOME_BOOLEAN_VALUE',\n    'filters[location_id]': 'SOME_ARRAY_VALUE',\n    'filters[manager_id]': 'SOME_ARRAY_VALUE',\n    'filters[private]': 'SOME_BOOLEAN_VALUE',\n    'filters[plan_type_id]': 'SOME_ARRAY_VALUE',\n    'filters[template_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plans?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bapprover_id%5D=SOME_ARRAY_VALUE&filters%5Bcustom_fields%5D=%7B%221%22%3A%20true%2C%20%225%22%3A%20%5B4%2C3%5D%20%7D&filters%5Bnumber%5D=SOME_ARRAY_VALUE&filters%5Breceiver_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bmanager_id%5D=SOME_ARRAY_VALUE&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&filters%5Bplan_type_id%5D=SOME_ARRAY_VALUE&filters%5Btemplate_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plans?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bapprover_id%5D=SOME_ARRAY_VALUE&filters%5Bcustom_fields%5D=%7B%221%22%3A%20true%2C%20%225%22%3A%20%5B4%2C3%5D%20%7D&filters%5Bnumber%5D=SOME_ARRAY_VALUE&filters%5Breceiver_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bmanager_id%5D=SOME_ARRAY_VALUE&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&filters%5Bplan_type_id%5D=SOME_ARRAY_VALUE&filters%5Btemplate_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plans?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bapprover_id%5D=SOME_ARRAY_VALUE&filters%5Bcustom_fields%5D=%7B%221%22%3A%20true%2C%20%225%22%3A%20%5B4%2C3%5D%20%7D&filters%5Bnumber%5D=SOME_ARRAY_VALUE&filters%5Breceiver_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bmanager_id%5D=SOME_ARRAY_VALUE&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&filters%5Bplan_type_id%5D=SOME_ARRAY_VALUE&filters%5Btemplate_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added view=list parameter to Action Plans index endpoint",
      "description": "The GET /projects/{project_id}/action_plans/plans endpoint now accepts a\n`view=list` query parameter that returns a slim response optimized for\nlist table rendering. The list view includes only the fields needed by\nthe plans table (id, number, title, private, item counts, plan type,\nstatus, location, and manager name), omitting plan_approvers,\nplan_receivers, assets, and template_id. This reduces database queries\nand payload size significantly. The default behavior (no view param or\nview=normal) is unchanged.",
      "endpoint": "GET /projects/{project_id}/action_plans/plans",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-07-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plans?version=1.0#list-action-plans"
     },
     {
      "summary": "Added Action Plans list endpoint",
      "description": "Get a list of Action Plans for a given company.",
      "endpoint": "GET /projects/{project_id}/action_plans/plans",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plans?version=1.0#list-action-plans"
     },
     {
      "summary": "Added filters for template_id on Action Plans list endpoint",
      "description": "Added filters for template_id on Action Plans list endpoint",
      "endpoint": "GET /projects/{project_id}/action_plans/plans",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-03-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plans?version=1.0#list-action-plans"
     },
     {
      "summary": "Added plan_approvers and plan_receivers sorts to the Action Plans list endpoint",
      "description": "Both columns hold multiple people, so each sorts on the alphabetically first party name shown in the cell. Plans with no approvers, or no receivers, are returned last in both directions.",
      "endpoint": "GET /projects/{project_id}/action_plans/plans",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plans?version=1.0#list-action-plans"
     },
     {
      "summary": "Added filters for number, private, custom_fields, approver_id, and receiver_id on the Action Plans list endpoint",
      "description": "Five new filters on the Action Plans list endpoint. `filters[number]` and `filters[private]` match the corresponding Action Plan attributes. `filters[custom_fields]` takes a JSON object keyed by custom field definition ID and matches Action Plan(s) whose value for every supplied field equals the supplied value, or is any one of them when an array is given. `filters[approver_id]` and `filters[receiver_id]` match Action Plan(s) having any of the supplied Party IDs as an Approver or a Receiver respectively.",
      "endpoint": "GET /projects/{project_id}/action_plans/plans",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plans?version=1.0#list-action-plans"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Action Plan",
    "description": "Create an Action Plan",
    "tags": [
     "Action Plans"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan"
        ],
        "properties": {
         "plan": {
          "type": "object",
          "required": [
           "title",
           "plan_type_id"
          ],
          "properties": {
           "title": {
            "type": "string",
            "description": "Title of the Action Plan",
            "example": "A new Action Plan"
           },
           "description": {
            "type": "string",
            "description": "Description of the Action Plan",
            "example": "A description of the Action Plan"
           },
           "private": {
            "type": "boolean",
            "description": "Privacy flag of the Action Plan",
            "example": false
           },
           "location_id": {
            "type": "integer",
            "description": "Location ID to be set on the Action Plan",
            "example": 4
           },
           "asset_ids": {
            "type": "array",
            "description": "Asset IDs to be set on the Action Plan",
            "example": [
             "1432",
             "2345"
            ],
            "items": {
             "type": "string",
             "description": "Asset ID to be set on the Action Plan",
             "example": "1432"
            }
           },
           "manager_id": {
            "type": "integer",
            "description": "Party Person ID of the Action Plan Manager",
            "example": 43
           },
           "plan_type_id": {
            "type": "integer",
            "description": "Plan Type ID to be set on the Action Plan",
            "example": 2
           },
           "plan_approvers_attributes": {
            "type": "array",
            "items": {
             "type": "object",
             "required": [
              "party_id"
             ],
             "properties": {
              "party_id": {
               "type": "integer",
               "description": "Party Person ID of the Action Plan Approver to be set"
              }
             }
            }
           },
           "plan_receivers_attributes": {
            "type": "array",
            "items": {
             "type": "object",
             "required": [
              "party_id"
             ],
             "properties": {
              "party_id": {
               "type": "integer",
               "description": "Party Person ID of the Action Plan Receiver to be set"
              }
             }
            }
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan.",
           "example": 43584
          },
          "closed_item_count": {
           "type": "integer",
           "description": "Number of plan items with a closed status.",
           "example": 25
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Time the Action Plan was created",
           "example": "2018-09-20T21:39:40Z"
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "description": {
           "type": "string",
           "description": "Description of the Action Plan in rich text form",
           "example": "<p>Important Safety Action Plan.</p>"
          },
          "description_plain_text": {
           "type": "string",
           "description": "Description of the Action Plan in plain text form",
           "example": "Important Safety Action Plan"
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            },
            "code": {
             "type": "string",
             "description": "The unique code for this Location",
             "example": "L1",
             "nullable": true
            }
           }
          },
          "manager": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Party Person ID",
             "example": 23
            },
            "first_name": {
             "type": "string",
             "description": "First name of the Party Person",
             "example": "Paul"
            },
            "last_name": {
             "type": "string",
             "description": "Last name of the Party Person",
             "example": "Admin"
            },
            "name": {
             "type": "string",
             "description": "Full name of the Party Person",
             "example": "Paul Admin"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID of the login account associated with this party person.",
             "example": 453
            },
            "is_employee": {
             "type": "boolean",
             "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
             "example": true
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
             "example": "12",
             "nullable": true
            },
            "login": {
             "type": "string",
             "description": "Email address (login) of the party person's user account.",
             "example": "login@example.com"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Time the Party Person was updated",
             "example": "2018-09-20T21:39:40Z"
            },
            "vendor": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the vendor company this party person belongs to.",
               "example": 223
              },
              "name": {
               "type": "string",
               "description": "Name of the vendor company this party person belongs to.",
               "example": "Freddie's Excavating"
              }
             }
            }
           }
          },
          "number": {
           "type": "integer",
[...]
