{
 "openapi": "3.0.0",
 "info": {
  "title": "Action Plan Test Record Requests",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Action Plan Test Record Requests",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/action_plans/plan_test_record_requests": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Action Plan Test Record Requests",
    "description": "List of all Action Plan Test Record Requests",
    "tags": [
     "Action Plan Test Record Requests"
    ],
    "parameters": [
     {
      "name": "filters[plan_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[type]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Test Record Type(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Action Plan Test Record Requests (Index)",
         "items": {
          "type": "object",
          "description": "Action Plan Test Record Request (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the test record request.",
            "example": 12
           },
           "plan_item_id": {
            "type": "integer",
            "description": "Unique identifier of the Action Plan Item this test record request belongs to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record request was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Contains specific attributes depending on the type of Action Plan Test Record Request",
            "nullable": true,
            "properties": {
             "checklist_template_id": {
              "type": "integer",
              "description": "Identifier of the linked checklist template. Present when type is 'checklist'.",
              "example": 55,
              "nullable": true
             },
             "form_template_id": {
              "type": "integer",
              "description": "Identifier of the linked form template. Present when type is 'form'.",
              "example": 56,
              "nullable": true
             },
             "generic_tool_id": {
              "type": "integer",
              "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
              "example": 57,
              "nullable": true
             }
            }
           },
           "plan_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan.",
            "example": 985
           },
           "plan_test_records_count": {
            "type": "integer",
            "description": "Count of Action Plan Test Records linked to this Action Plan Test Record Request",
            "example": 2
           },
           "type": {
            "type": "string",
            "description": "Categorization of the test record request. Determines which payload fields are populated.",
            "enum": [
             "attachment",
             "checklist",
             "form",
             "generic_tool",
             "meeting",
             "observation",
             "photo",
             "submittal_log"
            ],
            "example": "checklist"
           },
           "type_id": {
            "type": "integer",
            "description": "Identifier of the test record type lookup record.",
            "example": 347
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record request was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests',\n  qs: {\n    'filters[plan_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    'filters[type]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added `type_id` to Action Plan Test Record Request response",
      "description": "Returns the type ID of the Action Plan Test Record",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_test_record_requests",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-10-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-record-requests?version=1.0#list-action-plan-test-record-requests"
     },
     {
      "summary": "Added Action Plan Test Record Request list endpoint",
      "description": "Get a list of Action Plan Test Record Requests for a given project.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_test_record_requests",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-record-requests?version=1.0#list-action-plan-test-record-requests"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Action Plan Test Record Request",
    "description": "Create an Action Plan Test Record Request",
    "tags": [
     "Action Plan Test Record Requests"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_test_record_request"
        ],
        "properties": {
         "plan_test_record_request": {
          "type": "object",
          "required": [
           "plan_item_id",
           "type"
          ],
          "properties": {
           "plan_item_id": {
            "type": "integer",
            "description": "Action Plan Item ID",
            "example": 42
           },
           "type": {
            "type": "string",
            "description": "Action Plan Test Record Type",
            "enum": [
             "attachment",
             "checklist",
             "form",
             "generic_tool",
             "meeting",
             "observation",
             "photo",
             "submittal_log"
            ],
            "example": "checklist"
           },
           "payload": {
            "type": "object",
            "description": "Used to specify extra required details for some types.",
            "properties": {
             "checklist_template_id": {
              "type": "integer",
              "description": "Checklist Template ID for the checklist type test record request",
              "example": 42
             },
             "form_template_id": {
              "type": "integer",
              "description": "Form Template ID for the form type test record request",
              "example": 43
             },
             "generic_tool_id": {
              "type": "integer",
              "description": "Generic Tool ID for the generic_tool type test record request",
              "example": 41
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Test Record Request (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the test record request.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan Item this test record request belongs to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record request was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains specific attributes depending on the type of Action Plan Test Record Request",
           "nullable": true,
           "properties": {
            "checklist_template_id": {
             "type": "integer",
             "description": "Identifier of the linked checklist template. Present when type is 'checklist'.",
             "example": 55,
             "nullable": true
            },
            "form_template_id": {
             "type": "integer",
             "description": "Identifier of the linked form template. Present when type is 'form'.",
             "example": 56,
             "nullable": true
            },
            "generic_tool_id": {
             "type": "integer",
             "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
             "example": 57,
             "nullable": true
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan.",
           "example": 985
          },
          "plan_test_records_count": {
           "type": "integer",
           "description": "Count of Action Plan Test Records linked to this Action Plan Test Record Request",
           "example": 2
          },
          "type": {
           "type": "string",
           "description": "Categorization of the test record request. Determines which payload fields are populated.",
           "enum": [
            "attachment",
            "checklist",
            "form",
            "generic_tool",
            "meeting",
            "observation",
            "photo",
            "submittal_log"
           ],
           "example": "checklist"
          },
          "type_id": {
           "type": "integer",
           "description": "Identifier of the test record type lookup record.",
           "example": 347
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record request was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_test_record_request: {\n      plan_item_id: 42,\n      type: 'checklist',\n      payload: {checklist_template_id: 42, form_template_id: 43, generic_tool_id: 41}\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_test_record_request\\\":{\\\"plan_item_id\\\":42,\\\"type\\\":\\\"checklist\\\",\\\"payload\\\":{\\\"checklist_template_id\\\":42,\\\"form_template_id\\\":43,\\\"generic_tool_id\\\":41}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_test_record_request\":{\"plan_item_id\":42,\"type\":\"checklist\",\"payload\":{\"checklist_template_id\":42,\"form_template_id\":43,\"generic_tool_id\":41}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests\"),\n    Content = new StringContent(\"{\\\"plan_test_record_request\\\":{\\\"plan_item_id\\\":42,\\\"type\\\":\\\"checklist\\\",\\\"payload\\\":{\\\"checklist_template_id\\\":42,\\\"form_template_id\\\":43,\\\"generic_tool_id\\\":41}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Test Record Request create endpoint",
      "description": "Create an Action Plan Test Record Request for a given project.",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_test_record_requests",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-record-requests?version=1.0#create-action-plan-test-record-request"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_test_record_requests/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Test Record Request ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Action Plan Test Record Request",
    "description": "Returns an Action Plan Test Record Request",
    "tags": [
     "Action Plan Test Record Requests"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Test Record Request (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the test record request.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan Item this test record request belongs to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record request was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains specific attributes depending on the type of Action Plan Test Record Request",
           "nullable": true,
           "properties": {
            "checklist_template_id": {
             "type": "integer",
             "description": "Identifier of the linked checklist template. Present when type is 'checklist'.",
             "example": 55,
             "nullable": true
            },
            "form_template_id": {
             "type": "integer",
             "description": "Identifier of the linked form template. Present when type is 'form'.",
             "example": 56,
             "nullable": true
            },
            "generic_tool_id": {
             "type": "integer",
             "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
             "example": 57,
             "nullable": true
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan.",
           "example": 985
          },
          "plan_test_records_count": {
           "type": "integer",
           "description": "Count of Action Plan Test Records linked to this Action Plan Test Record Request",
           "example": 2
          },
          "type": {
           "type": "string",
           "description": "Categorization of the test record request. Determines which payload fields are populated.",
           "enum": [
            "attachment",
            "checklist",
            "form",
            "generic_tool",
            "meeting",
            "observation",
            "photo",
            "submittal_log"
           ],
           "example": "checklist"
          },
          "type_id": {
           "type": "integer",
           "description": "Identifier of the test record type lookup record.",
           "example": 347
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record request was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Test Record Request show endpoint",
      "description": "Get an Action Plan Test Record Request for a given project.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_test_record_requests/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-record-requests?version=1.0#show-action-plan-test-record-request"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Action Plan Test Record Request",
    "description": "Deletes an Action Plan Test Record Request",
    "tags": [
     "Action Plan Test Record Requests"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Test Record Request delete endpoint",
      "description": "Delete an Action Plan Test Record Request for a given project.",
      "endpoint": "DELETE /projects/{project_id}/action_plans/plan_test_record_requests/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-record-requests?version=1.0#delete-action-plan-test-record-request"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_test_record_requests": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Action Plan Test Record Requests",
    "description": "List of all Recycled Action Plan Test Record Requests",
    "tags": [
     "Action Plan Test Record Requests"
    ],
    "parameters": [
     {
      "name": "filters[plan_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[type]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Test Record Type(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Recycled Action Plan Test Record Requests (Index)",
         "items": {
          "type": "object",
          "description": "Recycled Action Plan Test Record Request (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the test record request.",
            "example": 12
           },
           "plan_item_id": {
            "type": "integer",
            "description": "Unique identifier of the Action Plan Item this test record request belongs to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record request was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record request was moved to the recycle bin. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Contains specific attributes depending on the type of Action Plan Test Record Request",
            "nullable": true,
            "properties": {
             "checklist_template_id": {
              "type": "integer",
              "description": "Identifier of the linked checklist template. Present when type is 'checklist'.",
              "example": 55,
              "nullable": true
             },
             "form_template_id": {
              "type": "integer",
              "description": "Identifier of the linked form template. Present when type is 'form'.",
              "example": 56,
              "nullable": true
             },
             "generic_tool_id": {
              "type": "integer",
              "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
              "example": 57,
              "nullable": true
             }
            }
           },
           "plan_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan.",
            "example": 985
           },
           "plan_test_records_count": {
            "type": "integer",
            "description": "Count of Action Plan Test Records linked to this Action Plan Test Record Request",
            "example": 2
           },
           "type": {
            "type": "string",
            "description": "Categorization of the test record request. Determines which payload fields are populated.",
            "enum": [
             "attachment",
             "checklist",
             "form",
             "generic_tool",
             "meeting",
             "observation",
             "photo",
             "submittal_log"
            ],
            "example": "checklist"
           },
           "type_id": {
            "type": "integer",
            "description": "Identifier of the test record type lookup record.",
            "example": 347
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record request was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_record_requests',\n  qs: {\n    'filters[plan_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    'filters[type]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_record_requests?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_record_requests?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_record_requests?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Action Plan Test Record Request list endpoint",
      "description": "Get a list of Recycled Action Plan Test Record Requests for a given project.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/action_plans/plan_test_record_requests",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-record-requests?version=1.0#list-recycled-action-plan-test-record-requests"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_test_record_requests/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Test Record Request ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Action Plan Test Record Request",
    "description": "Returns a Recycled Action Plan Test Record Request",
    "tags": [
     "Action Plan Test Record Requests"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Recycled Action Plan Test Record Request (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the test record request.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan Item this test record request belongs to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record request was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record request was moved to the recycle bin. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains specific attributes depending on the type of Action Plan Test Record Request",
           "nullable": true,
           "properties": {
            "checklist_template_id": {
             "type": "integer",
             "description": "Identifier of the linked checklist template. Present when type is 'checklist'.",
             "example": 55,
             "nullable": true
            },
            "form_template_id": {
             "type": "integer",
             "description": "Identifier of the linked form template. Present when type is 'form'.",
             "example": 56,
             "nullable": true
            },
            "generic_tool_id": {
             "type": "integer",
             "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
             "example": 57,
             "nullable": true
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan.",
           "example": 985
          },
          "plan_test_records_count": {
           "type": "integer",
           "description": "Count of Action Plan Test Records linked to this Action Plan Test Record Request",
           "example": 2
          },
          "type": {
           "type": "string",
           "description": "Categorization of the test record request. Determines which payload fields are populated.",
           "enum": [
            "attachment",
            "checklist",
            "form",
            "generic_tool",
            "meeting",
            "observation",
            "photo",
            "submittal_log"
           ],
           "example": "checklist"
          },
          "type_id": {
           "type": "integer",
           "description": "Identifier of the test record type lookup record.",
           "example": 347
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record request was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_record_requests/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_record_requests/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_record_requests/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_record_requests/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Action Plan Test Record Request show endpoint",
      "description": "View the details of a Recycled Action Plan Test Record Request.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/action_plans/plan_test_record_requests/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-record-requests?version=1.0#show-recycled-action-plan-test-record-request"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_test_record_requests/bulk_create": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Action Plan Test Record Requests",
    "description": "Creates multiple Action Test Record Requests",
    "tags": [
     "Action Plan Test Record Requests"
    ],
    "parameters": [
     {
      "name": "completion_mode",
      "in": "query",
      "description": "Whether to update what can be or nothing if one can not be updated. Defaults to \"all_or_nothing\"",
      "schema": {
       "type": "string",
       "enum": [
        "all_or_nothing",
        "atomic"
       ]
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_test_record_requests"
        ],
        "properties": {
         "plan_test_record_requests": {
          "title": "Action Plan References",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "plan_item_id",
            "type"
           ],
           "properties": {
            "plan_item_id": {
             "type": "integer",
             "description": "Action Plan Item ID",
             "example": 42
            },
            "type": {
             "type": "string",
             "description": "Action Plan Test Record Type",
             "enum": [
              "attachment",
              "checklist",
              "form",
              "generic_tool",
              "meeting",
              "observation",
              "photo",
              "submittal_log"
             ],
             "example": "checklist"
            },
            "payload": {
             "type": "object",
             "description": "Used to specify extra required details for some types.",
             "properties": {
              "checklist_template_id": {
               "type": "integer",
               "description": "Checklist Template ID for the checklist type test record request",
               "example": 42
              },
              "form_template_id": {
               "type": "integer",
               "description": "Form Template ID for the form type test record request",
               "example": 43
              },
              "generic_tool_id": {
               "type": "integer",
               "description": "Generic Tool ID for the generic_tool type test record request",
               "example": 41
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of update status",
         "items": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Item",
             "example": 123
            },
            "status": {
             "type": "string",
             "description": "status of the update on that Item",
             "enum": [
              "success",
              "failure"
             ],
             "example": "success"
            },
            "errors": {
             "type": "object"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/bulk_create',\n  qs: {completion_mode: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_test_record_requests: [\n      {\n        plan_item_id: 42,\n        type: 'checklist',\n        payload: {checklist_template_id: 42, form_template_id: 43, generic_tool_id: 41}\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_test_record_requests\\\":[{\\\"plan_item_id\\\":42,\\\"type\\\":\\\"checklist\\\",\\\"payload\\\":{\\\"checklist_template_id\\\":42,\\\"form_template_id\\\":43,\\\"generic_tool_id\\\":41}}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/bulk_create?completion_mode=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/bulk_create?completion_mode=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_test_record_requests\":[{\"plan_item_id\":42,\"type\":\"checklist\",\"payload\":{\"checklist_template_id\":42,\"form_template_id\":43,\"generic_tool_id\":41}}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_record_requests/bulk_create?completion_mode=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"plan_test_record_requests\\\":[{\\\"plan_item_id\\\":42,\\\"type\\\":\\\"checklist\\\",\\\"payload\\\":{\\\"checklist_template_id\\\":42,\\\"form_template_id\\\":43,\\\"generic_tool_id\\\":41}}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Test Record Requests Bulk Create endpoint",
      "description": "Bulk creates Action Plan Test Record Requests",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_test_record_requests/bulk_create",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-01-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-record-requests?version=1.0#bulk-create-action-plan-test-record-requests"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}