{
 "openapi": "3.0.0",
 "info": {
  "title": "Action Plan Test Records",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Action Plan Test Records",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/action_plans/plan_test_records": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Action Plan Test Records",
    "description": "List of all Action Plan Test Records",
    "tags": [
     "Action Plan Test Records"
    ],
    "parameters": [
     {
      "name": "filters[plan_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_test_record_request_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Test Record Request ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[type]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Test Record Types.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Action Plan Test Records (Index)",
         "items": {
          "type": "object",
          "description": "Action Plan Test Record (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the test record.",
            "example": 12
           },
           "plan_item_id": {
            "type": "integer",
            "description": "Unique identifier of the Action Plan Item this test record belongs to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Contains specific attributes depending on the type of Action Plan Test Record",
            "properties": {
             "checklist_id": {
              "type": "integer",
              "description": "Identifier of the linked checklist instance. Present when type is 'checklist'.",
              "example": 55
             },
             "checklist_template_id": {
              "type": "integer",
              "description": "Identifier of the checklist template used. Present when type is 'checklist'.",
              "example": 42
             },
             "form_id": {
              "type": "integer",
              "description": "Identifier of the linked form instance. Present when type is 'form'.",
              "example": 43
             },
             "form_template_id": {
              "type": "integer",
              "description": "Identifier of the form template used. Present when type is 'form'.",
              "example": 44
             },
             "generic_tool_id": {
              "type": "integer",
              "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
              "example": 56,
              "nullable": true
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "Identifier of the linked generic tool item record. Present when type is 'generic_tool'.",
              "example": 57,
              "nullable": true
             },
             "meeting_id": {
              "type": "integer",
              "description": "Identifier of the linked meeting. Present when type is 'meeting'.",
              "example": 45
             },
             "submittal_log_id": {
              "type": "integer",
              "description": "Identifier of the linked submittal log. Present when type is 'submittal_log'.",
              "example": 58
             },
             "observation_item_id": {
              "type": "integer",
              "description": "Identifier of the linked observation item. Present when type is 'observation'.",
              "example": 59
             },
             "viewer_url": {
              "type": "string",
              "description": "URL to view the linked record in context. Present for attachment, photo, and form types.",
              "nullable": true
             },
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the uploaded file.",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Download URL for the uploaded file.",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Thumbnail URL for the uploaded file. Null if no thumbnail is available.",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "Original file name of the upload.",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "MIME content type of the uploaded file.",
                "example": "image/jpg"
               }
              }
             }
            }
           },
           "plan_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan.",
            "example": 985
           },
           "plan_test_record_request_id": {
            "type": "integer",
            "description": "Unique identifier of the parent test record request this record fulfills.",
            "example": 42
           },
           "type": {
            "type": "string",
            "description": "Categorization of the test record. Determines which payload fields are populated.",
            "enum": [
             "attachment",
             "checklist",
             "form",
             "generic_tool",
             "meeting",
             "photo",
             "submittal_log",
             "observation"
            ],
            "example": "checklist"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records',\n  qs: {\n    'filters[plan_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_test_record_request_id]': 'SOME_ARRAY_VALUE',\n    'filters[type]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_test_record_request_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_test_record_request_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_test_record_request_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Test Record list endpoint",
      "description": "Get a list of Action Plan Test Records for a given Project ID.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_test_records",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-records?version=1.0#list-action-plan-test-records"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Action Plan Test Record",
    "description": "Create an Action Plan Test Record\n\nAction Plan Test Records can have one of the following payload formats (checklist_id, form_id, generic_tool_id, meeting_id, submittal_log_id, observation_item_id, attachment)\nAttachment payloads must be a binary file or contain an attachment_id, upload_id, drawing_revision_id, file_version_id, form_id, or image_id.\n\nA specific Action Plan Test Record Type can only leverage its corresponding format.\n\n*For instance, Checklist Test Records can only leverage checklist_id while Attachment/Photo Test Records can only leverage attachment.",
    "tags": [
     "Action Plan Test Records"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_test_record"
        ],
        "properties": {
         "plan_test_record": {
          "type": "object",
          "required": [
           "payload",
           "plan_item_id",
           "plan_test_record_request_id",
           "type"
          ],
          "properties": {
           "plan_item_id": {
            "type": "integer",
            "description": "ID of the associated Action Plan Control Activity",
            "example": 54
           },
           "plan_test_record_request_id": {
            "type": "integer",
            "description": "ID of the associated Action Plan Test Record Request",
            "example": 42
           },
           "type": {
            "type": "string",
            "description": "Action Plan Test Record Type",
            "enum": [
             "attachment",
             "checklist",
             "form",
             "generic_tool",
             "meeting",
             "photo",
             "submittal_log",
             "observation"
            ],
            "example": "checklist"
           },
           "payload": {
            "type": "object",
            "oneOf": [
             {
              "properties": {
               "checklist_id": {
                "type": "integer",
                "description": "Checklist ID",
                "example": 55
               }
              }
             },
             {
              "properties": {
               "form_id": {
                "type": "integer",
                "description": "Form ID",
                "example": 43
               }
              }
             },
             {
              "properties": {
               "generic_tool_id": {
                "type": "integer",
                "description": "Generic Tool ID (used for Correspondence)",
                "example": 56
               }
              }
             },
             {
              "properties": {
               "meeting_id": {
                "type": "integer",
                "description": "Meeting ID",
                "example": 45
               }
              }
             },
             {
              "properties": {
               "submittal_log_id": {
                "type": "integer",
                "description": "Submittal Log ID",
                "example": 58
               }
              }
             },
             {
              "properties": {
               "observation_item_id": {
                "type": "integer",
                "description": "Observation Item ID",
                "example": 59
               }
              }
             },
             {
              "properties": {
               "attachment": {
                "type": "object",
                "description": "used for type attachment or photo types",
                "oneOf": [
                 {
                  "properties": {
                   "attachment_id": {
                    "type": "integer",
                    "description": "ID of the associated attachment",
                    "example": 123
                   }
                  }
                 },
                 {
                  "properties": {
                   "upload_id": {
                    "type": "string",
                    "description": "ID of the upload",
                    "example": "01JDENGN32Z9AJN1EB8R6NWYGD"
                   }
                  }
                 },
                 {
                  "properties": {
                   "drawing_revision_id": {
                    "type": "integer",
                    "description": "Drawing Revision ID",
                    "example": 11
                   }
                  }
                 },
                 {
                  "properties": {
                   "file_version_id": {
                    "type": "integer",
                    "description": "File Version ID",
                    "example": 55
                   }
                  }
                 },
                 {
                  "properties": {
                   "form_id": {
                    "type": "integer",
                    "description": "Form ID",
                    "example": 22
                   }
                  }
                 },
                 {
                  "properties": {
                   "image_id": {
                    "type": "integer",
                    "description": "Image ID",
                    "example": 33
                   }
                  }
                 }
                ]
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "plan_test_record"
        ],
        "properties": {
         "plan_test_record": {
          "type": "object",
          "required": [
           "payload",
           "plan_item_id",
           "plan_test_record_request_id",
           "type"
          ],
          "properties": {
           "plan_item_id": {
            "type": "integer",
            "description": "ID of the associated Action Plan Control Activity",
            "example": 54
           },
           "plan_test_record_request_id": {
            "type": "integer",
            "description": "ID of the associated Action Plan Test Record Request",
            "example": 42
           },
           "type": {
            "type": "string",
            "description": "Action Plan Test Record Type",
            "enum": [
             "checklist",
             "attachment",
             "photo"
            ],
            "example": "attachment"
           },
           "payload": {
            "type": "object",
            "properties": {
             "attachment": {
              "type": "string",
              "format": "binary",
              "description": "Test Record Attachment.\nTo upload an attachment you must upload the entire payload as `multipart/form-data` content-type\nwith the `attachment` file."
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Test Record (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the test record.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan Item this test record belongs to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains specific attributes depending on the type of Action Plan Test Record",
           "properties": {
            "checklist_id": {
             "type": "integer",
             "description": "Identifier of the linked checklist instance. Present when type is 'checklist'.",
             "example": 55
            },
            "checklist_template_id": {
             "type": "integer",
             "description": "Identifier of the checklist template used. Present when type is 'checklist'.",
             "example": 42
            },
            "form_id": {
             "type": "integer",
             "description": "Identifier of the linked form instance. Present when type is 'form'.",
             "example": 43
            },
            "form_template_id": {
             "type": "integer",
             "description": "Identifier of the form template used. Present when type is 'form'.",
             "example": 44
            },
            "generic_tool_id": {
             "type": "integer",
             "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
             "example": 56,
             "nullable": true
            },
            "generic_tool_item_id": {
             "type": "integer",
             "description": "Identifier of the linked generic tool item record. Present when type is 'generic_tool'.",
             "example": 57,
             "nullable": true
            },
            "meeting_id": {
             "type": "integer",
             "description": "Identifier of the linked meeting. Present when type is 'meeting'.",
             "example": 45
            },
            "submittal_log_id": {
             "type": "integer",
             "description": "Identifier of the linked submittal log. Present when type is 'submittal_log'.",
             "example": 58
            },
            "observation_item_id": {
             "type": "integer",
             "description": "Identifier of the linked observation item. Present when type is 'observation'.",
             "example": 59
            },
            "viewer_url": {
             "type": "string",
             "description": "URL to view the linked record in context. Present for attachment, photo, and form types.",
             "nullable": true
            },
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the uploaded file.",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Download URL for the uploaded file.",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Thumbnail URL for the uploaded file. Null if no thumbnail is available.",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "Original file name of the upload.",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "MIME content type of the uploaded file.",
               "example": "image/jpg"
              }
             }
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan.",
           "example": 985
          },
          "plan_test_record_request_id": {
           "type": "integer",
           "description": "Unique identifier of the parent test record request this record fulfills.",
           "example": 42
          },
          "type": {
           "type": "string",
           "description": "Categorization of the test record. Determines which payload fields are populated.",
           "enum": [
            "attachment",
            "checklist",
            "form",
            "generic_tool",
            "meeting",
            "photo",
            "submittal_log",
            "observation"
           ],
           "example": "checklist"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_test_record: {\n      plan_item_id: 54,\n      plan_test_record_request_id: 42,\n      type: 'checklist',\n      payload: {checklist_id: 55}\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_test_record\\\":{\\\"plan_item_id\\\":54,\\\"plan_test_record_request_id\\\":42,\\\"type\\\":\\\"checklist\\\",\\\"payload\\\":{\\\"checklist_id\\\":55}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_test_record\":{\"plan_item_id\":54,\"plan_test_record_request_id\":42,\"type\":\"checklist\",\"payload\":{\"checklist_id\":55}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records\"),\n    Content = new StringContent(\"{\\\"plan_test_record\\\":{\\\"plan_item_id\\\":54,\\\"plan_test_record_request_id\\\":42,\\\"type\\\":\\\"checklist\\\",\\\"payload\\\":{\\\"checklist_id\\\":55}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    plan_test_record: '{\"plan_item_id\":54,\"plan_test_record_request_id\":42,\"type\":\"attachment\",\"payload\":{\"attachment\":\"string\"}}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"plan_test_record\\\"\\r\\n\\r\\n{\\\"plan_item_id\\\":54,\\\"plan_test_record_request_id\\\":42,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"attachment\\\":\\\"string\\\"}}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'plan_test_record={\"plan_item_id\":54,\"plan_test_record_request_id\":42,\"type\":\"attachment\",\"payload\":{\"attachment\":\"string\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"plan_item_id\\\":54,\\\"plan_test_record_request_id\\\":42,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"attachment\\\":\\\"string\\\"}}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"plan_test_record\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Test Record create endpoint",
      "description": "Create an Action Plan Test Record for a given Project ID.",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_test_records",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-records?version=1.0#create-action-plan-test-record"
     },
     {
      "summary": "Added upload_id support for Action Plan Test Record creation",
      "description": "Extended the Action Plan Test Record create endpoint to support upload_id parameter for attachment creation.",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_test_records",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-records?version=1.0#create-action-plan-test-record"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_test_records/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Test Record ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "View an Action Plan Test Record",
    "description": "Returns the details of an Action Plan Test Record",
    "tags": [
     "Action Plan Test Records"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Test Record (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the test record.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan Item this test record belongs to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains specific attributes depending on the type of Action Plan Test Record",
           "properties": {
            "checklist_id": {
             "type": "integer",
             "description": "Identifier of the linked checklist instance. Present when type is 'checklist'.",
             "example": 55
            },
            "checklist_template_id": {
             "type": "integer",
             "description": "Identifier of the checklist template used. Present when type is 'checklist'.",
             "example": 42
            },
            "form_id": {
             "type": "integer",
             "description": "Identifier of the linked form instance. Present when type is 'form'.",
             "example": 43
            },
            "form_template_id": {
             "type": "integer",
             "description": "Identifier of the form template used. Present when type is 'form'.",
             "example": 44
            },
            "generic_tool_id": {
             "type": "integer",
             "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
             "example": 56,
             "nullable": true
            },
            "generic_tool_item_id": {
             "type": "integer",
             "description": "Identifier of the linked generic tool item record. Present when type is 'generic_tool'.",
             "example": 57,
             "nullable": true
            },
            "meeting_id": {
             "type": "integer",
             "description": "Identifier of the linked meeting. Present when type is 'meeting'.",
             "example": 45
            },
            "submittal_log_id": {
             "type": "integer",
             "description": "Identifier of the linked submittal log. Present when type is 'submittal_log'.",
             "example": 58
            },
            "observation_item_id": {
             "type": "integer",
             "description": "Identifier of the linked observation item. Present when type is 'observation'.",
             "example": 59
            },
            "viewer_url": {
             "type": "string",
             "description": "URL to view the linked record in context. Present for attachment, photo, and form types.",
             "nullable": true
            },
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the uploaded file.",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Download URL for the uploaded file.",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Thumbnail URL for the uploaded file. Null if no thumbnail is available.",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "Original file name of the upload.",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "MIME content type of the uploaded file.",
               "example": "image/jpg"
              }
             }
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan.",
           "example": 985
          },
          "plan_test_record_request_id": {
           "type": "integer",
           "description": "Unique identifier of the parent test record request this record fulfills.",
           "example": 42
          },
          "type": {
           "type": "string",
           "description": "Categorization of the test record. Determines which payload fields are populated.",
           "enum": [
            "attachment",
            "checklist",
            "form",
            "generic_tool",
            "meeting",
            "photo",
            "submittal_log",
            "observation"
           ],
           "example": "checklist"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Test Record show endpoint",
      "description": "View the details of an Action Plan Test Record.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_test_records/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-records?version=1.0#view-an-action-plan-test-record"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Action Plan Test Record",
    "description": "Deletes an Action Plan Test Record",
    "tags": [
     "Action Plan Test Records"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_test_records/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Test Record delete endpoint",
      "description": "Delete an Action Plan Test Record.",
      "endpoint": "DELETE /projects/{project_id}/action_plans/plan_test_records/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-records?version=1.0#delete-action-plan-test-record"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_test_records": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recyled Action Plan Test Records",
    "description": "List of all Recycled Action Plan Test Records",
    "tags": [
     "Action Plan Test Records"
    ],
    "parameters": [
     {
      "name": "filters[plan_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_test_record_request_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Test Record Request ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[type]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Test Record Type(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Recycled Action Plan Test Records (Index)",
         "items": {
          "type": "object",
          "description": "Recycled Action Plan Test Record (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the test record.",
            "example": 12
           },
           "plan_item_id": {
            "type": "integer",
            "description": "Unique identifier of the Action Plan Item this test record belongs to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record was moved to the recycle bin. ISO 8601 format.",
            "example": "2019-10-25T18:46:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Contains specific attributes depending on the type of Action Plan Test Record",
            "properties": {
             "checklist_id": {
              "type": "integer",
              "description": "Identifier of the linked checklist instance. Present when type is 'checklist'.",
              "example": 55
             },
             "checklist_template_id": {
              "type": "integer",
              "description": "Identifier of the checklist template used. Present when type is 'checklist'.",
              "example": 42
             },
             "form_id": {
              "type": "integer",
              "description": "Identifier of the linked form instance. Present when type is 'form'.",
              "example": 43
             },
             "form_template_id": {
              "type": "integer",
              "description": "Identifier of the form template used. Present when type is 'form'.",
              "example": 44
             },
             "generic_tool_id": {
              "type": "integer",
              "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
              "example": 56,
              "nullable": true
             },
             "generic_tool_item_id": {
              "type": "integer",
              "description": "Identifier of the linked generic tool item record. Present when type is 'generic_tool'.",
              "example": 57,
              "nullable": true
             },
             "meeting_id": {
              "type": "integer",
              "description": "Identifier of the linked meeting. Present when type is 'meeting'.",
              "example": 45
             },
             "submittal_log_id": {
              "type": "integer",
              "description": "Identifier of the linked submittal log. Present when type is 'submittal_log'.",
              "example": 58
             },
             "observation_item_id": {
              "type": "integer",
              "description": "Identifier of the linked observation item. Present when type is 'observation'.",
              "example": 59
             },
             "viewer_url": {
              "type": "string",
              "description": "URL to view the linked record in context. Present for attachment, photo, and form types.",
              "nullable": true
             },
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Image URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Image Thumbnail URL",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "File Name",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "Content Type",
                "example": "image/jpg"
               }
              }
             }
            }
           },
           "plan_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan.",
            "example": 985
           },
           "plan_test_record_request_id": {
            "type": "integer",
            "description": "Unique identifier of the parent test record request this record fulfills.",
            "example": 42
           },
           "type": {
            "type": "string",
            "description": "Categorization of the test record. Determines which payload fields are populated.",
            "enum": [
             "attachment",
             "checklist",
             "form",
             "generic_tool",
             "meeting",
             "observation",
             "photo",
             "submittal_log"
            ],
            "example": "checklist"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the test record was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_records',\n  qs: {\n    'filters[plan_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_test_record_request_id]': 'SOME_ARRAY_VALUE',\n    'filters[type]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_records?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_test_record_request_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_records?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_test_record_request_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_records?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_test_record_request_id%5D=SOME_ARRAY_VALUE&filters%5Btype%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Action Plan Test Record list endpoint",
      "description": "Get a list of Recycled Action Plan Test Records for a given project.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/action_plans/plan_test_records",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-records?version=1.0#list-recyled-action-plan-test-records"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_test_records/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Test Record ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Action Plan Test Record",
    "description": "Returns a Recycled Action Plan Test Record",
    "tags": [
     "Action Plan Test Records"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Recycled Action Plan Test Record (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the test record.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan Item this test record belongs to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record was moved to the recycle bin. ISO 8601 format.",
           "example": "2019-10-25T18:46:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains specific attributes depending on the type of Action Plan Test Record",
           "properties": {
            "checklist_id": {
             "type": "integer",
             "description": "Identifier of the linked checklist instance. Present when type is 'checklist'.",
             "example": 55
            },
            "checklist_template_id": {
             "type": "integer",
             "description": "Identifier of the checklist template used. Present when type is 'checklist'.",
             "example": 42
            },
            "form_id": {
             "type": "integer",
             "description": "Identifier of the linked form instance. Present when type is 'form'.",
             "example": 43
            },
            "form_template_id": {
             "type": "integer",
             "description": "Identifier of the form template used. Present when type is 'form'.",
             "example": 44
            },
            "generic_tool_id": {
             "type": "integer",
             "description": "Identifier of the linked generic tool. Present when type is 'generic_tool'.",
             "example": 56,
             "nullable": true
            },
            "generic_tool_item_id": {
             "type": "integer",
             "description": "Identifier of the linked generic tool item record. Present when type is 'generic_tool'.",
             "example": 57,
             "nullable": true
            },
            "meeting_id": {
             "type": "integer",
             "description": "Identifier of the linked meeting. Present when type is 'meeting'.",
             "example": 45
            },
            "submittal_log_id": {
             "type": "integer",
             "description": "Identifier of the linked submittal log. Present when type is 'submittal_log'.",
             "example": 58
            },
            "observation_item_id": {
             "type": "integer",
             "description": "Identifier of the linked observation item. Present when type is 'observation'.",
             "example": 59
            },
            "viewer_url": {
             "type": "string",
             "description": "URL to view the linked record in context. Present for attachment, photo, and form types.",
             "nullable": true
            },
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan.",
           "example": 985
          },
          "plan_test_record_request_id": {
           "type": "integer",
           "description": "Unique identifier of the parent test record request this record fulfills.",
           "example": 42
          },
          "type": {
           "type": "string",
           "description": "Categorization of the test record. Determines which payload fields are populated.",
           "enum": [
            "attachment",
            "checklist",
            "form",
            "generic_tool",
            "meeting",
            "observation",
            "photo",
            "submittal_log"
           ],
           "example": "checklist"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the test record was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_records/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_records/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_records/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_test_records/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Action Plan Test Record show endpoint",
      "description": "View the details of a Recycled Action Plan Test Record.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/action_plans/plan_test_records/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-test-records?version=1.0#show-recycled-action-plan-test-record"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}