{
 "openapi": "3.0.0",
 "info": {
  "title": "Action Plan Approvers",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Action Plan Approvers",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/action_plans/plan_approvers": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Action Plan Approvers",
    "description": "Returns all Action Plan Approvers for a given Project",
    "tags": [
     "Action Plan Approvers"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Action Plan Approver (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this Action Plan Approver. Use as the {plan_approver_id} path parameter to manage the approver's signature.",
            "example": 12
           },
           "plan_id": {
            "type": "integer",
            "description": "ID of the Action Plan this approver is assigned to. Use as filters[plan_id] to list approvers for a specific plan.",
            "example": 54
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp in ISO 8601 format when this approver record was last updated. Use with filters[updated_at] to retrieve recently changed approvers.",
            "example": "2018-09-20T21:39:40Z"
           },
           "party": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Party Person ID",
              "example": 23
             },
             "first_name": {
              "type": "string",
              "description": "First name of the Party Person",
              "example": "Paul"
             },
             "last_name": {
              "type": "string",
              "description": "Last name of the Party Person",
              "example": "Admin"
             },
             "name": {
              "type": "string",
              "description": "Full name of the Party Person",
              "example": "Paul Admin"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID of the login account associated with this party person.",
              "example": 453
             },
             "is_employee": {
              "type": "boolean",
              "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
              "example": "12",
              "nullable": true
             },
             "login": {
              "type": "string",
              "description": "Email address (login) of the party person's user account.",
              "example": "login@example.com"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Time the Party Person was updated",
              "example": "2018-09-20T21:39:40Z"
             },
             "vendor": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the vendor company this party person belongs to.",
                "example": 223
               },
               "name": {
                "type": "string",
                "description": "Name of the vendor company this party person belongs to.",
                "example": "Freddie's Excavating"
               }
              }
             }
            }
           },
           "signature": {
            "type": "object",
            "description": "Action Plan Approver Signature (Show)",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this approver signature record.",
              "example": 32
             },
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the Prostore file containing the signature image.",
                "example": 23
               },
               "content_type": {
                "type": "string",
                "description": "MIME type of the signature file.",
                "example": "image/png"
               },
               "name": {
                "type": "string",
                "description": "File name of the uploaded signature image.",
                "example": "image.png"
               },
               "url": {
                "type": "string",
                "description": "URL to download the signature image. The URL is temporary and expires after a period.",
                "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
               }
              }
             },
             "captured_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp in ISO 8601 format when this approver signature was captured.",
              "example": "2015-02-07T00:00:00Z"
             },
             "captured_by": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Party Person ID",
                "example": 23
               },
               "first_name": {
                "type": "string",
                "description": "First name of the Party Person",
                "example": "Paul"
               },
               "last_name": {
                "type": "string",
                "description": "Last name of the Party Person",
                "example": "Admin"
               },
               "name": {
                "type": "string",
                "description": "Full name of the Party Person",
                "example": "Paul Admin"
               },
               "user_id": {
                "type": "integer",
                "description": "User ID of the login account associated with this party person.",
                "example": 453
               },
               "is_employee": {
                "type": "boolean",
                "description": "Indicates whether Party is an Employee of the current Company",
                "example": true
               },
               "employee_id": {
                "type": "integer",
                "description": "Employee ID of this party person. Null if no employee ID is assigned.",
                "example": 12,
                "nullable": true
               },
               "login": {
                "type": "string",
                "description": "Email address (login) of the party person's user account.",
                "example": "contractor@example.com"
               },
               "vendor": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier of the vendor company this party person belongs to.",
                  "example": 223
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the vendor company this party person belongs to.",
                  "example": "Freddie's Excavating"
                 }
                }
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
                "example": "2017-01-04T21:27:18Z"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Approver list endpoint",
      "description": "Get a list of Action Plan Approvers for a given Project ID.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_approvers",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-approvers?version=1.0#list-action-plan-approvers"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}