{
 "openapi": "3.0.0",
 "info": {
  "title": "Action Plan Approver Signature",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Action Plan Approver Signature",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/action_plans/plan_approvers/{plan_approver_id}/signature": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "plan_approver_id",
     "in": "path",
     "required": true,
     "description": "Action Plan Approver ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Action Plan Approver Signature",
    "description": "Get the details of an Action Plan Approver Signature",
    "tags": [
     "Action Plan Approver Signature"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Party Signature (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this signature record.",
           "example": 32
          },
          "attachment": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the Prostore file containing the signature image.",
             "example": 23
            },
            "content_type": {
             "type": "string",
             "description": "MIME type of the signature file.",
             "example": "image/png"
            },
            "name": {
             "type": "string",
             "description": "File name of the uploaded signature image.",
             "example": "action_plan_party_signature_1.png"
            },
            "url": {
             "type": "string",
             "description": "URL to download the signature image. The URL is temporary and expires after a period.",
             "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
            }
           }
          },
          "captured_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when the signature was captured.",
           "example": "2015-02-07T00:00:00Z"
          },
          "captured_by": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Party Person ID",
             "example": 23
            },
            "first_name": {
             "type": "string",
             "description": "First name of the Party Person",
             "example": "Paul"
            },
            "last_name": {
             "type": "string",
             "description": "Last name of the Party Person",
             "example": "Admin"
            },
            "name": {
             "type": "string",
             "description": "Full name of the Party Person",
             "example": "Paul Admin"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID of the login account associated with this party person.",
             "example": 453
            },
            "is_employee": {
             "type": "boolean",
             "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
             "example": true
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
             "example": "12",
             "nullable": true
            },
            "login": {
             "type": "string",
             "description": "Email address (login) of the party person's user account.",
             "example": "login@example.com"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Time the Party Person was updated",
             "example": "2018-09-20T21:39:40Z"
            },
            "vendor": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the vendor company this party person belongs to.",
               "example": 223
              },
              "name": {
               "type": "string",
               "description": "Name of the vendor company this party person belongs to.",
               "example": "Freddie's Excavating"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Approver Signature show endpoint",
      "description": "View the details of an Action Plan Approver Signature.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_approvers/{plan_approver_id}/signature",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-approver-signature?version=1.0#show-action-plan-approver-signature"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Action Plan Approver Signature",
    "description": "Create a single Action Plan Approver Signature.\nNote that only one of `attachment` or `attachment_string` may be passed when creating a signature, not both.",
    "tags": [
     "Action Plan Signatures"
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "signature": {
          "type": "object",
          "required": [
           "attachment",
           "attachment_string"
          ],
          "properties": {
           "attachment": {
            "type": "string",
            "format": "binary",
            "description": "Attachment representing the Signature.\nTo upload an attachment you must upload the entire payload as `multipart/form-data` content-type\nwith the `attachment` file."
           },
           "attachment_string": {
            "type": "string",
            "description": "Base64 encoded string representing PNG image of signature",
            "example": "data:image/png;base64..."
           }
          }
         }
        }
       }
      },
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "signature": {
          "type": "object",
          "required": [
           "attachment_id"
          ],
          "properties": {
           "attachment_id": {
            "type": "integer",
            "description": "Prostore File ID",
            "example": 42
           },
           "upload_id": {
            "type": "string",
            "description": "Upload ID",
            "example": "01JDENGN32Z9AJN1EB8R6NWYGD"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Party Signature (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this signature record.",
           "example": 32
          },
          "attachment": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the Prostore file containing the signature image.",
             "example": 23
            },
            "content_type": {
             "type": "string",
             "description": "MIME type of the signature file.",
             "example": "image/png"
            },
            "name": {
             "type": "string",
             "description": "File name of the uploaded signature image.",
             "example": "action_plan_party_signature_1.png"
            },
            "url": {
             "type": "string",
             "description": "URL to download the signature image. The URL is temporary and expires after a period.",
             "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
            }
           }
          },
          "captured_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp in ISO 8601 format when the signature was captured.",
           "example": "2015-02-07T00:00:00Z"
          },
          "captured_by": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Party Person ID",
             "example": 23
            },
            "first_name": {
             "type": "string",
             "description": "First name of the Party Person",
             "example": "Paul"
            },
            "last_name": {
             "type": "string",
             "description": "Last name of the Party Person",
             "example": "Admin"
            },
            "name": {
             "type": "string",
             "description": "Full name of the Party Person",
             "example": "Paul Admin"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID of the login account associated with this party person.",
             "example": 453
            },
            "is_employee": {
             "type": "boolean",
             "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
             "example": true
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
             "example": "12",
             "nullable": true
            },
            "login": {
             "type": "string",
             "description": "Email address (login) of the party person's user account.",
             "example": "login@example.com"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Time the Party Person was updated",
             "example": "2018-09-20T21:39:40Z"
            },
            "vendor": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the vendor company this party person belongs to.",
               "example": 223
              },
              "name": {
               "type": "string",
               "description": "Name of the vendor company this party person belongs to.",
               "example": "Freddie's Excavating"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature',\n  headers: {'content-type': 'application/json'},\n  body: {signature: {attachment_id: 42, upload_id: '01JDENGN32Z9AJN1EB8R6NWYGD'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"signature\\\":{\\\"attachment_id\\\":42,\\\"upload_id\\\":\\\"01JDENGN32Z9AJN1EB8R6NWYGD\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature \\\n  --header 'content-type: application/json' \\\n  --data '{\"signature\":{\"attachment_id\":42,\"upload_id\":\"01JDENGN32Z9AJN1EB8R6NWYGD\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature\"),\n    Content = new StringContent(\"{\\\"signature\\\":{\\\"attachment_id\\\":42,\\\"upload_id\\\":\\\"01JDENGN32Z9AJN1EB8R6NWYGD\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    signature: '{\"attachment\":\"string\",\"attachment_string\":\"data:image/png;base64...\"}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"signature\\\"\\r\\n\\r\\n{\\\"attachment\\\":\\\"string\\\",\\\"attachment_string\\\":\\\"data:image/png;base64...\\\"}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'signature={\"attachment\":\"string\",\"attachment_string\":\"data:image/png;base64...\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"attachment\\\":\\\"string\\\",\\\"attachment_string\\\":\\\"data:image/png;base64...\\\"}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"signature\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Approver Signature create endpoint",
      "description": "Create an Action Plan Approver Signature for a given Project ID and Action Plan Approver ID.",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_approvers/{plan_approver_id}/signature",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-approver-signature?version=1.0#create-action-plan-approver-signature"
     },
     {
      "summary": "Add attachment_id as a new parameter for Action Plan Approver Signature create endpoint",
      "description": "Add attachment_id as a new parameter for Action Plan Approver Signature create endpoint",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_approvers/{plan_approver_id}/signature",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-approver-signature?version=1.0#create-action-plan-approver-signature"
     },
     {
      "summary": "Add upload_id as a new parameter for Action Plan Approver Signature create endpoint",
      "description": "Add upload_id as a new parameter for Action Plan Approver Signature create endpoint",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_approvers/{plan_approver_id}/signature",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-02-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-approver-signature?version=1.0#create-action-plan-approver-signature"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Action Plan Approver Signature",
    "description": "Delete an Action Plan Approver Signature",
    "tags": [
     "Action Plan Approver Signature"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_approvers/%7Bplan_approver_id%7D/signature\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Approver Signature delete endpoint",
      "description": "Delete an Action Plan Approver Signature.",
      "endpoint": "DELETE /projects/{project_id}/action_plans/plan_approvers/{plan_approver_id}/signature",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-approver-signature?version=1.0#delete-action-plan-approver-signature"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}