{
 "openapi": "3.0.0",
 "info": {
  "title": "Actions",
  "x-product-category": "Project Management",
  "x-tool-category": "Incidents",
  "x-resource-name": "Actions",
  "version": "1.1",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/recycle_bin/incidents/actions": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Actions",
    "description": "Returns a paginated list of soft-deleted incident actions in the Recycle Bin for the specified project.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "incident_id",
      "in": "query",
      "required": false,
      "description": "Incident ID. When provided, the list will be scoped to only the Recycled Actions for a given Incident.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at",
        "action_type"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this incident action.",
            "example": 99
           },
           "incident_id": {
            "type": "integer",
            "description": "Identifier of the parent incident this action belongs to. Use as the incident_id query parameter to scope action lists.",
            "example": 42
           },
           "action_type": {
            "type": "object",
            "title": "Action Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this incident action type. Use as the {id} path parameter in GET/PATCH/DELETE requests to /rest/v1.0/companies/{company_id}/incidents/action_types/{id}.",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Display name of the action type, localized to the requester's language preference.",
              "example": "Corrective"
             },
             "name_key": {
              "type": "string",
              "description": "Untranslated key for the action type name. Use this value for programmatic comparisons rather than the localized name field.",
              "example": "Corrective"
             },
             "active": {
              "type": "boolean",
              "description": "Represents whether an Incident Action Type is available for use.",
              "example": true
             },
             "global": {
              "type": "boolean",
              "description": "Represents whether an Incident Action Type has been provided by Procore.",
              "example": true
             },
             "created_at": {
              "type": "string",
              "description": "ISO 8601 timestamp of when this action type was created.",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "updated_at": {
              "type": "string",
              "description": "ISO 8601 timestamp of the most recent update to this action type.",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             }
            }
           },
           "attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "title": "Incident Attachment",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for this attachment.",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Download URL for the full-size attachment file.",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "URL for a large thumbnail preview of the attachment.",
               "example": "http://www.example.com/"
              },
              "name": {
               "type": "string",
               "description": "Original filename of the uploaded attachment, including file extension.",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "MIME type of the attachment file (e.g. application/pdf, image/jpeg).",
               "example": "application/pdf"
              },
              "viewable_document_id": {
               "type": "integer",
               "description": "Identifier of the associated viewable document for in-browser rendering. Null if the attachment has not been converted for viewing.",
               "example": 12,
               "nullable": true
              },
              "viewable": {
               "type": "boolean",
               "description": "Indicates whether the attachment can be viewed in-browser. True if the file type supports viewing or a viewable document has been generated.",
               "example": true
              },
              "can_be_viewed": {
               "type": "boolean",
               "description": "Indicates whether the attachment has finished processing and is ready for in-browser viewing.",
               "example": true
              }
             }
            }
           },
           "description": {
            "type": "string",
            "description": "The account of the action in rich text form.",
            "example": "<p>I took action.</p>"
           },
           "description_plain_text": {
            "type": "string",
            "description": "Plain-text version of the action description, with all HTML markup stripped.",
            "example": "I took action"
           },
           "created_at": {
            "type": "string",
            "description": "ISO 8601 timestamp of when this action was created.",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z"
           },
           "deleted_at": {
            "type": "string",
            "description": "ISO 8601 timestamp of when this action was soft-deleted (moved to Recycle Bin). Null if the action has not been deleted.",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z",
            "nullable": true
           },
           "updated_at": {
            "type": "string",
            "description": "ISO 8601 timestamp of the most recent update to this action.",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z"
           },
           "observation_id": {
            "type": "integer",
            "description": "Identifier of the linked observation item, if this action is associated with an observation. Null if no observation is linked.",
            "example": 99,
            "nullable": true
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field.",
                "example": "custom field value"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field.",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field.",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "The label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions',\n  qs: {\n    incident_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Actions list endpoint",
      "description": "Get a list of Recycled Actions for a given project.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/incidents/actions",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-02-09",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "actions?version=1.1#list-recycled-actions"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/recycle_bin/incidents/actions/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "incident_id",
     "in": "query",
     "required": false,
     "description": "Incident ID",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Unique identifier of the recycled incident action.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Action",
    "description": "Returns the details of a single soft-deleted incident action from the Recycle Bin.",
    "tags": [
     "Incidents"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this incident action.",
           "example": 99
          },
          "incident_id": {
           "type": "integer",
           "description": "Identifier of the parent incident this action belongs to. Use as the incident_id query parameter to scope action lists.",
           "example": 42
          },
          "action_type": {
           "type": "object",
           "title": "Action Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this incident action type. Use as the {id} path parameter in GET/PATCH/DELETE requests to /rest/v1.0/companies/{company_id}/incidents/action_types/{id}.",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Display name of the action type, localized to the requester's language preference.",
             "example": "Corrective"
            },
            "name_key": {
             "type": "string",
             "description": "Untranslated key for the action type name. Use this value for programmatic comparisons rather than the localized name field.",
             "example": "Corrective"
            },
            "active": {
             "type": "boolean",
             "description": "Represents whether an Incident Action Type is available for use.",
             "example": true
            },
            "global": {
             "type": "boolean",
             "description": "Represents whether an Incident Action Type has been provided by Procore.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "description": "ISO 8601 timestamp of when this action type was created.",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "updated_at": {
             "type": "string",
             "description": "ISO 8601 timestamp of the most recent update to this action type.",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "title": "Incident Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this attachment.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the full-size attachment file.",
              "example": "http://www.example.com/"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "URL for a large thumbnail preview of the attachment.",
              "example": "http://www.example.com/"
             },
             "name": {
              "type": "string",
              "description": "Original filename of the uploaded attachment, including file extension.",
              "example": "january_receipt_copy.jpg"
             },
             "content_type": {
              "type": "string",
              "description": "MIME type of the attachment file (e.g. application/pdf, image/jpeg).",
              "example": "application/pdf"
             },
             "viewable_document_id": {
              "type": "integer",
              "description": "Identifier of the associated viewable document for in-browser rendering. Null if the attachment has not been converted for viewing.",
              "example": 12,
              "nullable": true
             },
             "viewable": {
              "type": "boolean",
              "description": "Indicates whether the attachment can be viewed in-browser. True if the file type supports viewing or a viewable document has been generated.",
              "example": true
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "Indicates whether the attachment has finished processing and is ready for in-browser viewing.",
              "example": true
             }
            }
           }
          },
          "description": {
           "type": "string",
           "description": "The account of the action in rich text form.",
           "example": "<p>I took action.</p>"
          },
          "description_plain_text": {
           "type": "string",
           "description": "Plain-text version of the action description, with all HTML markup stripped.",
           "example": "I took action"
          },
          "created_at": {
           "type": "string",
           "description": "ISO 8601 timestamp of when this action was created.",
           "format": "date-time",
           "example": "2016-10-25T17:53:35Z"
          },
          "deleted_at": {
           "type": "string",
           "description": "ISO 8601 timestamp of when this action was soft-deleted (moved to Recycle Bin). Null if the action has not been deleted.",
           "format": "date-time",
           "example": "2016-10-25T17:53:35Z",
           "nullable": true
          },
          "updated_at": {
           "type": "string",
           "description": "ISO 8601 timestamp of the most recent update to this action.",
           "format": "date-time",
           "example": "2016-10-25T17:53:35Z"
          },
          "observation_id": {
           "type": "integer",
           "description": "Identifier of the linked observation item, if this action is associated with an observation. Null if no observation is linked.",
           "example": 99,
           "nullable": true
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field.",
               "example": "custom field value"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field.",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field.",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the list of values (LOV) entry.",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the list of values (LOV) entry.",
                 "example": "Open"
                }
               }
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions/%7Bid%7D',\n  qs: {incident_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions/%7Bid%7D?incident_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Action show endpoint",
      "description": "Get a Recycled Action for a given project.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/incidents/actions/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-02-09",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "actions?version=1.1#show-recycled-action"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/recycle_bin/incidents/actions/{id}/restore": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "incident_id",
     "in": "query",
     "required": false,
     "description": "Incident ID",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Unique identifier of the recycled incident action to restore.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Retrieve Recycled Action",
    "description": "Restores a soft-deleted incident action from the Recycle Bin back to its parent incident.",
    "tags": [
     "Incidents"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions/%7Bid%7D/restore',\n  qs: {incident_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"PATCH\", \"/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions/%7Bid%7D/restore?incident_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions/%7Bid%7D/restore?incident_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/incidents/actions/%7Bid%7D/restore?incident_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated Retrieve Recycled Actions response status code",
      "description": "When attempting to retrieve a recycled Action from a deleted Incident, the response status\nwill be 409 instead of 403",
      "endpoint": "PATCH /projects/{project_id}/recycle_bin/incidents/actions/{id}/restore",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2023-02-09",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "actions?version=1.1#retrieve-recycled-action"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/incidents/actions": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Actions",
    "description": "Returns a paginated list of incident actions for the specified project. Optionally scope to a single incident by providing incident_id.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "incident_id",
      "in": "query",
      "required": false,
      "description": "Incident ID. When provided, the list will be scoped to only the Actions for a given Incident.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at",
        "action_type"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this incident action.",
            "example": 99
           },
           "incident_id": {
            "type": "integer",
            "description": "Identifier of the parent incident this action belongs to. Use as the incident_id query parameter to scope action lists.",
            "example": 42
           },
           "action_type": {
            "type": "object",
            "title": "Action Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this incident action type. Use as the {id} path parameter in GET/PATCH/DELETE requests to /rest/v1.0/companies/{company_id}/incidents/action_types/{id}.",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Display name of the action type, localized to the requester's language preference.",
              "example": "Corrective"
             },
             "name_key": {
              "type": "string",
              "description": "Untranslated key for the action type name. Use this value for programmatic comparisons rather than the localized name field.",
              "example": "Corrective"
             },
             "active": {
              "type": "boolean",
              "description": "Represents whether an Incident Action Type is available for use.",
              "example": true
             },
             "global": {
              "type": "boolean",
              "description": "Represents whether an Incident Action Type has been provided by Procore.",
              "example": true
             },
             "created_at": {
              "type": "string",
              "description": "ISO 8601 timestamp of when this action type was created.",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "updated_at": {
              "type": "string",
              "description": "ISO 8601 timestamp of the most recent update to this action type.",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             }
            }
           },
           "attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "title": "Incident Attachment",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for this attachment.",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Download URL for the full-size attachment file.",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "URL for a large thumbnail preview of the attachment.",
               "example": "http://www.example.com/"
              },
              "name": {
               "type": "string",
               "description": "Original filename of the uploaded attachment, including file extension.",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "MIME type of the attachment file (e.g. application/pdf, image/jpeg).",
               "example": "application/pdf"
              },
              "viewable_document_id": {
               "type": "integer",
               "description": "Identifier of the associated viewable document for in-browser rendering. Null if the attachment has not been converted for viewing.",
               "example": 12,
               "nullable": true
              },
              "viewable": {
               "type": "boolean",
               "description": "Indicates whether the attachment can be viewed in-browser. True if the file type supports viewing or a viewable document has been generated.",
               "example": true
              },
              "can_be_viewed": {
               "type": "boolean",
               "description": "Indicates whether the attachment has finished processing and is ready for in-browser viewing.",
               "example": true
              }
             }
            }
           },
           "description": {
            "type": "string",
            "description": "The account of the action in rich text form.",
            "example": "<p>I took action.</p>"
           },
           "description_plain_text": {
            "type": "string",
            "description": "Plain-text version of the action description, with all HTML markup stripped.",
            "example": "I took action"
           },
           "created_at": {
            "type": "string",
            "description": "ISO 8601 timestamp of when this action was created.",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z"
           },
           "deleted_at": {
            "type": "string",
            "description": "ISO 8601 timestamp of when this action was soft-deleted (moved to Recycle Bin). Null if the action has not been deleted.",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z",
            "nullable": true
           },
           "updated_at": {
            "type": "string",
            "description": "ISO 8601 timestamp of the most recent update to this action.",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z"
           },
           "observation_id": {
            "type": "integer",
            "description": "Identifier of the linked observation item, if this action is associated with an observation. Null if no observation is linked.",
            "example": 99,
            "nullable": true
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field.",
                "example": "custom field value"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field.",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field.",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "The label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions',\n  qs: {\n    incident_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Restrict Access for readonly users unless granted a view actions granular permission.",
      "description": "Users with a readonly role will now be restricted from accessing actions endpoints unless they have been granted a view actions granular permission.",
      "endpoint": "GET /projects/{project_id}/incidents/actions",
      "type": "feature",
      "breaking": true,
      "datestamp": "2025-12-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "actions?version=1.0#list-actions"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Action",
    "description": "Creates a new incident action and associates it with the specified incident.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "description": "Whether or not Configurable validations from the Incident/Injury Configurable Field Set should be run (default: false).\nSee (https://developers.procore.com/reference/configurable-field-sets#list-project-configurable-field-sets) for a list of Configurable validations enabled on this project.",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "incident_action"
        ],
        "properties": {
         "incident_action": {
          "type": "object",
          "required": [
           "incident_id",
           "action_type_id"
          ],
          "properties": {
           "incident_id": {
            "type": "integer",
            "description": "Identifier of the incident to associate this action with. Required on create."
           },
           "action_type_id": {
            "type": "integer",
            "description": "Identifier of the action type to classify this action. Obtain valid IDs from GET /rest/v1.0/companies/{company_id}/incidents/action_types."
           },
           "description": {
            "type": "string",
            "description": "Description of action taken, in HTML rich-text format.",
            "example": "<p>I took action.</p>"
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Array of drawing revision IDs to attach to this action.",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "Array of file version IDs to attach to this action.",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Array of form IDs to attach to this action.",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Array of image IDs to attach to this action.",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Array of upload identifiers (from the Uploads endpoint) to attach to this action.",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this incident action.",
           "example": 99
          },
          "incident_id": {
           "type": "integer",
           "description": "Identifier of the parent incident this action belongs to. Use as the incident_id query parameter to scope action lists.",
           "example": 42
          },
          "action_type": {
           "type": "object",
           "title": "Action Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this incident action type. Use as the {id} path parameter in GET/PATCH/DELETE requests to /rest/v1.0/companies/{company_id}/incidents/action_types/{id}.",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Display name of the action type, localized to the requester's language preference.",
             "example": "Corrective"
            },
            "name_key": {
             "type": "string",
             "description": "Untranslated key for the action type name. Use this value for programmatic comparisons rather than the localized name field.",
             "example": "Corrective"
            },
            "active": {
             "type": "boolean",
             "description": "Represents whether an Incident Action Type is available for use.",
             "example": true
            },
            "global": {
             "type": "boolean",
             "description": "Represents whether an Incident Action Type has been provided by Procore.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "description": "ISO 8601 timestamp of when this action type was created.",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "updated_at": {
             "type": "string",
             "description": "ISO 8601 timestamp of the most recent update to this action type.",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "title": "Incident Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this attachment.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the full-size attachment file.",
              "example": "http://www.example.com/"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "URL for a large thumbnail preview of the attachment.",
              "example": "http://www.example.com/"
             },
             "name": {
              "type": "string",
              "description": "Original filename of the uploaded attachment, including file extension.",
              "example": "january_receipt_copy.jpg"
             },
             "content_type": {
              "type": "string",
              "description": "MIME type of the attachment file (e.g. application/pdf, image/jpeg).",
              "example": "application/pdf"
             },
             "viewable_document_id": {
              "type": "integer",
              "description": "Identifier of the associated viewable document for in-browser rendering. Null if the attachment has not been converted for viewing.",
              "example": 12,
              "nullable": true
             },
             "viewable": {
              "type": "boolean",
              "description": "Indicates whether the attachment can be viewed in-browser. True if the file type supports viewing or a viewable document has been generated.",
              "example": true
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "Indicates whether the attachment has finished processing and is ready for in-browser viewing.",
              "example": true
             }
            }
           }
          },
          "description": {
           "type": "string",
           "description": "The account of the action in rich text form.",
           "example": "<p>I took action.</p>"
          },
          "description_plain_text": {
           "type": "string",
           "description": "Plain-text version of the action description, with all HTML markup stripped.",
           "example": "I took action"
          },
          "created_at": {
           "type": "string",
           "description": "ISO 8601 timestamp of when this action was created.",
           "format": "date-time",
           "example": "2016-10-25T17:53:35Z"
          },
          "deleted_at": {
           "type": "string",
           "description": "ISO 8601 timestamp of when this action was soft-deleted (moved to Recycle Bin). Null if the action has not been deleted.",
           "format": "date-time",
           "example": "2016-10-25T17:53:35Z",
           "nullable": true
          },
          "updated_at": {
           "type": "string",
           "description": "ISO 8601 timestamp of the most recent update to this action.",
           "format": "date-time",
           "example": "2016-10-25T17:53:35Z"
          },
          "observation_id": {
           "type": "integer",
           "description": "Identifier of the linked observation item, if this action is associated with an observation. Null if no observation is linked.",
           "example": 99,
           "nullable": true
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field.",
               "example": "custom field value"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field.",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field.",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the list of values (LOV) entry.",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the list of values (LOV) entry.",
                 "example": "Open"
                }
               }
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    incident_action: {\n      incident_id: 0,\n      action_type_id: 0,\n      description: '<p>I took action.</p>',\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      'custom_field_%{custom_field_definition_id}': 'custom field value'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"incident_action\\\":{\\\"incident_id\\\":0,\\\"action_type_id\\\":0,\\\"description\\\":\\\"<p>I took action.</p>\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"incident_action\":{\"incident_id\":0,\"action_type_id\":0,\"description\":\"<p>I took action.</p>\",\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"incident_action\\\":{\\\"incident_id\\\":0,\\\"action_type_id\\\":0,\\\"description\\\":\\\"<p>I took action.</p>\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Attachments by Reference",
      "description": "Add attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /projects/{project_id}/incidents/actions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-10-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "actions?version=1.0#create-action"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/incidents/actions/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "incident_id",
     "in": "query",
     "required": false,
     "description": "Incident ID",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Unique identifier of the incident action.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Action",
    "description": "Returns the details of a single incident action, including its attachments, action type, and custom fields.",
    "tags": [
     "Incidents"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this incident action.",
           "example": 99
          },
          "incident_id": {
           "type": "integer",
           "description": "Identifier of the parent incident this action belongs to. Use as the incident_id query parameter to scope action lists.",
           "example": 42
          },
          "action_type": {
           "type": "object",
           "title": "Action Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this incident action type. Use as the {id} path parameter in GET/PATCH/DELETE requests to /rest/v1.0/companies/{company_id}/incidents/action_types/{id}.",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Display name of the action type, localized to the requester's language preference.",
             "example": "Corrective"
            },
            "name_key": {
             "type": "string",
             "description": "Untranslated key for the action type name. Use this value for programmatic comparisons rather than the localized name field.",
             "example": "Corrective"
            },
            "active": {
             "type": "boolean",
             "description": "Represents whether an Incident Action Type is available for use.",
             "example": true
            },
            "global": {
             "type": "boolean",
             "description": "Represents whether an Incident Action Type has been provided by Procore.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "description": "ISO 8601 timestamp of when this action type was created.",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "updated_at": {
             "type": "string",
             "description": "ISO 8601 timestamp of the most recent update to this action type.",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "title": "Incident Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this attachment.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the full-size attachment file.",
              "example": "http://www.example.com/"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "URL for a large thumbnail preview of the attachment.",
              "example": "http://www.example.com/"
             },
             "name": {
              "type": "string",
              "description": "Original filename of the uploaded attachment, including file extension.",
              "example": "january_receipt_copy.jpg"
             },
             "content_type": {
              "type": "string",
              "description": "MIME type of the attachment file (e.g. application/pdf, image/jpeg).",
              "example": "application/pdf"
             },
             "viewable_document_id": {
              "type": "integer",
              "description": "Identifier of the associated viewable document for in-browser rendering. Null if the attachment has not been converted for viewing.",
              "example": 12,
              "nullable": true
             },
             "viewable": {
              "type": "boolean",
              "description": "Indicates whether the attachment can be viewed in-browser. True if the file type supports viewing or a viewable document has been generated.",
              "example": true
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "Indicates whether the attachment has finished processing and is ready for in-browser viewing.",
              "example": true
             }
            }
           }
          },
          "description": {
           "type": "string",
           "description": "The account of the action in rich text form.",
           "example": "<p>I took action.</p>"
          },
          "description_plain_text": {
           "type": "string",
           "description": "Plain-text version of the action description, with all HTML markup stripped.",
           "example": "I took action"
          },
          "created_at": {
           "type": "string",
           "description": "ISO 8601 timestamp of when this action was created.",
           "format": "date-time",
           "example": "2016-10-25T17:53:35Z"
          },
          "deleted_at": {
           "type": "string",
           "description": "ISO 8601 timestamp of when this action was soft-deleted (moved to Recycle Bin). Null if the action has not been deleted.",
           "format": "date-time",
           "example": "2016-10-25T17:53:35Z",
           "nullable": true
          },
          "updated_at": {
           "type": "string",
           "description": "ISO 8601 timestamp of the most recent update to this action.",
           "format": "date-time",
           "example": "2016-10-25T17:53:35Z"
          },
          "observation_id": {
           "type": "integer",
           "description": "Identifier of the linked observation item, if this action is associated with an observation. Null if no observation is linked.",
           "example": 99,
           "nullable": true
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field.",
               "example": "custom field value"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field.",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field.",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the list of values (LOV) entry.",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the list of values (LOV) entry.",
                 "example": "Open"
                }
               }
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions/%7Bid%7D',\n  qs: {incident_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions/%7Bid%7D?incident_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/actions/%7Bid%7D?incident_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Restrict Access for readonly users unless granted a view actions granular permission.",
      "description": "Users with a readonly role will now be restricted from accessing actions endpoints unless they have been granted a view actions granular permission.",
      "endpoint": "GET /projects/{project_id}/incidents/actions/{id}",
      "type": "feature",
      "breaking": true,
      "datestamp": "2025-12-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "actions?version=1.0#show-action"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Action",
    "description": "Updates the specified incident action. Supports changing the action type, description, and associated attachments.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "description": "Whether or not Configurable validations from the Incident/Injury Configurable Field Set should be run (default: false).\nSee (https://developers.procore.com/reference/configurable-field-sets#list-project-configurable-field-sets) for a list of Configurable validations enabled on this project.",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "incident_action"
        ],
        "properties": {
         "incident_action": {
[...]
