{
 "openapi": "3.0.0",
 "info": {
  "title": "Action Plan Item Assignees",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Action Plan Item Assignees",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/action_plans/plan_item_assignees": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Action Plan Item Assignees",
    "description": "List of all Action Plan Item Assignees",
    "tags": [
     "Action Plan Item Assignees"
    ],
    "parameters": [
     {
      "name": "filters[plan_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Action Plan Item Assignees (Index)",
         "items": {
          "type": "object",
          "description": "Action Plan Item Assignee (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this Action Plan Item Assignee. Use as the {id} path parameter to show, update, or delete the assignee.",
            "example": 12
           },
           "plan_item_id": {
            "type": "integer",
            "description": "ID of the Action Plan Item this assignee belongs to. Use with filters[plan_item_id] to list assignees for a specific item.",
            "example": 36
           },
           "created_at": {
            "type": "string",
            "description": "Timestamp in ISO 8601 format when this assignee was created. Use with filters[created_at] for date-range filtering.",
            "example": "2018-09-20T21:39:40Z"
           },
           "is_holding": {
            "type": "boolean",
            "description": "Boolean flag indicating whether the assignee is necessary to sign for a hold point",
            "example": true
           },
           "is_locked": {
            "type": "boolean",
            "description": "Boolean flag indicating whether the assignee was added prior to an Action Plan's approval",
            "example": false
           },
           "party": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Party Person ID",
              "example": 23
             },
             "first_name": {
              "type": "string",
              "description": "First name of the Party Person",
              "example": "Paul"
             },
             "last_name": {
              "type": "string",
              "description": "Last name of the Party Person",
              "example": "Admin"
             },
             "name": {
              "type": "string",
              "description": "Full name of the Party Person",
              "example": "Paul Admin"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID of the login account associated with this party person.",
              "example": 453
             },
             "is_employee": {
              "type": "boolean",
              "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
              "example": "12",
              "nullable": true
             },
             "login": {
              "type": "string",
              "description": "Email address (login) of the party person's user account.",
              "example": "login@example.com"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Time the Party Person was updated",
              "example": "2018-09-20T21:39:40Z"
             },
             "vendor": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the vendor company this party person belongs to.",
                "example": 223
               },
               "name": {
                "type": "string",
                "description": "Name of the vendor company this party person belongs to.",
                "example": "Freddie's Excavating"
               }
              }
             }
            }
           },
           "plan_id": {
            "type": "integer",
            "description": "ID of the Action Plan this assignee's item belongs to. Use with filters[plan_id] to list all assignees across a plan.",
            "example": 21
           },
           "role": {
            "type": "string",
            "description": "Organizational role of this assignee on the Action Plan Item. Determines which party type fills the sign-off slot.",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "specialty_contractor"
           },
           "role_id": {
            "type": "integer",
            "description": "ID of the role record assigned to this Action Plan Item Assignee. Null when the assignee was added by party rather than by role.",
            "example": 17
           },
           "signature": {
            "type": "object",
            "nullable": true,
            "description": "Action Plan Item Assignee Signature (Show)",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this item assignee signature record.",
              "example": 32
             },
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the Prostore file containing the signature image.",
                "example": 23
               },
               "content_type": {
                "type": "string",
                "description": "MIME type of the signature file.",
                "example": "image/png"
               },
               "name": {
                "type": "string",
                "description": "File name of the uploaded signature image.",
                "example": "action_plan_signature_1_2_assignee_53.png"
               },
               "url": {
                "type": "string",
                "description": "URL to download the signature image. The URL is temporary and expires after a period.",
                "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
               }
              }
             },
             "captured_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp in ISO 8601 format when this signature was captured.",
              "example": "2015-02-07T00:00:00Z"
             },
             "captured_by": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Party Person ID",
                "example": 23
               },
               "first_name": {
                "type": "string",
                "description": "First name of the Party Person",
                "example": "Paul"
               },
               "last_name": {
                "type": "string",
                "description": "Last name of the Party Person",
                "example": "Admin"
               },
               "name": {
                "type": "string",
                "description": "Full name of the Party Person",
                "example": "Paul Admin"
               },
               "user_id": {
                "type": "integer",
                "description": "User ID of the login account associated with this party person.",
                "example": 453
               },
               "is_employee": {
                "type": "boolean",
                "description": "Indicates whether Party is an Employee of the current Company",
                "example": true
               },
               "employee_id": {
                "type": "integer",
                "description": "Employee ID of this party person. Null if no employee ID is assigned.",
                "example": 12,
                "nullable": true
               },
               "login": {
                "type": "string",
                "description": "Email address (login) of the party person's user account.",
                "example": "contractor@example.com"
               },
               "vendor": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier of the vendor company this party person belongs to.",
                  "example": 223
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the vendor company this party person belongs to.",
                  "example": "Freddie's Excavating"
                 }
                }
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
                "example": "2017-01-04T21:27:18Z"
               }
              }
             }
            }
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp in ISO 8601 format when this assignee was last updated. Use with filters[updated_at] for change-based polling.",
            "example": "2018-09-20T21:39:40Z"
           },
           "verification_method": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this verification method.",
              "example": 21
             },
             "active": {
              "type": "boolean",
              "description": "Whether this verification method is currently available for assignment. Inactive methods may still appear on existing assignees.",
              "example": true
             },
             "name": {
              "type": "string",
              "description": "Display name of the verification method (e.g., Hold Point, Witness Point, Review Record).",
              "example": "Hold Point"
             },
             "source_key": {
              "type": "string",
              "description": "Machine-readable key for this verification method. Use for programmatic comparisons rather than the display name.",
              "example": "hold_point"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees',\n  qs: {\n    'filters[plan_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added `role_id` to Action Plan Item Assignee response",
      "description": "Returns the role ID of Action Plan Item Assignees",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_item_assignees",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-10-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-item-assignees?version=1.0#list-action-plan-item-assignees"
     },
     {
      "summary": "Added Action Plan Item Assignee list endpoint",
      "description": "Get a list of Action Plan Item Assignees for a given company.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_item_assignees",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-item-assignees?version=1.0#list-action-plan-item-assignees"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Action Plan Item Assignee",
    "description": "Create an Action Plan Item Assignee. NOTE: Though both body `party_id` and `role` parameters are marked as required below, at least one of the two needs to be passed in (i.e., if you pass in a `role` then you do not need to also pass in a `party_id`, and vice versa, though you can pass in both parameters)",
    "tags": [
     "Action Plan Item Assignees"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_item_assignee"
        ],
        "properties": {
         "plan_item_assignee": {
          "type": "object",
          "required": [
           "plan_item_id"
          ],
          "properties": {
           "plan_item_id": {
            "type": "integer",
            "description": "Action Plan Item ID of the Action Plan Item Assignee to be set",
            "example": 42
           },
           "is_holding": {
            "type": "boolean",
            "description": "Indicates whether or not the Action  Item Assignee's signature is holding",
            "example": true
           },
           "party_id": {
            "type": "integer",
            "description": "Party Person ID of the Action Plan Item Assignee to be set",
            "example": 27
           },
           "role": {
            "type": "string",
            "description": "Role of the Action Plan Item Assignee to be set",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "specialty_contractor"
           },
           "verification_method_id": {
            "type": "integer",
            "description": "Verification Method ID of the Action Plan Item Assignee to be set",
            "example": 1
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Item Assignee (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Action Plan Item Assignee. Use as the {id} path parameter to show, update, or delete the assignee.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "ID of the Action Plan Item this assignee belongs to. Use with filters[plan_item_id] to list assignees for a specific item.",
           "example": 36
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp in ISO 8601 format when this assignee was created. Use with filters[created_at] for date-range filtering.",
           "example": "2018-09-20T21:39:40Z"
          },
          "is_holding": {
           "type": "boolean",
           "description": "Boolean flag indicating whether the assignee is necessary to sign for a hold point",
           "example": true
          },
          "is_locked": {
           "type": "boolean",
           "description": "Boolean flag indicating whether the assignee was added prior to an Action Plan's approval",
           "example": false
          },
          "party": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Party Person ID",
             "example": 23
            },
            "first_name": {
             "type": "string",
             "description": "First name of the Party Person",
             "example": "Paul"
            },
            "last_name": {
             "type": "string",
             "description": "Last name of the Party Person",
             "example": "Admin"
            },
            "name": {
             "type": "string",
             "description": "Full name of the Party Person",
             "example": "Paul Admin"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID of the login account associated with this party person.",
             "example": 453
            },
            "is_employee": {
             "type": "boolean",
             "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
             "example": true
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
             "example": "12",
             "nullable": true
            },
            "login": {
             "type": "string",
             "description": "Email address (login) of the party person's user account.",
             "example": "login@example.com"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Time the Party Person was updated",
             "example": "2018-09-20T21:39:40Z"
            },
            "vendor": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the vendor company this party person belongs to.",
               "example": 223
              },
              "name": {
               "type": "string",
               "description": "Name of the vendor company this party person belongs to.",
               "example": "Freddie's Excavating"
              }
             }
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "ID of the Action Plan this assignee's item belongs to. Use with filters[plan_id] to list all assignees across a plan.",
           "example": 21
          },
          "role": {
           "type": "string",
           "description": "Organizational role of this assignee on the Action Plan Item. Determines which party type fills the sign-off slot.",
           "enum": [
            "contractor",
            "specialty_contractor",
            "client",
            "architect",
            "third_party",
            "internal"
           ],
           "example": "specialty_contractor"
          },
          "role_id": {
           "type": "integer",
           "description": "ID of the role record assigned to this Action Plan Item Assignee. Null when the assignee was added by party rather than by role.",
           "example": 17
          },
          "signature": {
           "type": "object",
           "nullable": true,
           "description": "Action Plan Item Assignee Signature (Show)",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this item assignee signature record.",
             "example": 32
            },
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the Prostore file containing the signature image.",
               "example": 23
              },
              "content_type": {
               "type": "string",
               "description": "MIME type of the signature file.",
               "example": "image/png"
              },
              "name": {
               "type": "string",
               "description": "File name of the uploaded signature image.",
               "example": "action_plan_signature_1_2_assignee_53.png"
              },
              "url": {
               "type": "string",
               "description": "URL to download the signature image. The URL is temporary and expires after a period.",
               "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
              }
             }
            },
            "captured_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp in ISO 8601 format when this signature was captured.",
             "example": "2015-02-07T00:00:00Z"
            },
            "captured_by": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Party Person ID",
               "example": 23
              },
              "first_name": {
               "type": "string",
               "description": "First name of the Party Person",
               "example": "Paul"
              },
              "last_name": {
               "type": "string",
               "description": "Last name of the Party Person",
               "example": "Admin"
              },
              "name": {
               "type": "string",
               "description": "Full name of the Party Person",
               "example": "Paul Admin"
              },
              "user_id": {
               "type": "integer",
               "description": "User ID of the login account associated with this party person.",
               "example": 453
              },
              "is_employee": {
               "type": "boolean",
               "description": "Indicates whether Party is an Employee of the current Company",
               "example": true
              },
              "employee_id": {
               "type": "integer",
               "description": "Employee ID of this party person. Null if no employee ID is assigned.",
               "example": 12,
               "nullable": true
              },
              "login": {
               "type": "string",
               "description": "Email address (login) of the party person's user account.",
               "example": "contractor@example.com"
              },
              "vendor": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier of the vendor company this party person belongs to.",
                 "example": 223
                },
                "name": {
                 "type": "string",
                 "description": "Name of the vendor company this party person belongs to.",
                 "example": "Freddie's Excavating"
                }
               }
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
               "example": "2017-01-04T21:27:18Z"
              }
             }
            }
           }
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp in ISO 8601 format when this assignee was last updated. Use with filters[updated_at] for change-based polling.",
           "example": "2018-09-20T21:39:40Z"
          },
          "verification_method": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this verification method.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this verification method is currently available for assignment. Inactive methods may still appear on existing assignees.",
             "example": true
            },
            "name": {
             "type": "string",
             "description": "Display name of the verification method (e.g., Hold Point, Witness Point, Review Record).",
             "example": "Hold Point"
            },
            "source_key": {
             "type": "string",
             "description": "Machine-readable key for this verification method. Use for programmatic comparisons rather than the display name.",
             "example": "hold_point"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_item_assignee: {\n      plan_item_id: 42,\n      is_holding: true,\n      party_id: 27,\n      role: 'specialty_contractor',\n      verification_method_id: 1\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_item_assignee\\\":{\\\"plan_item_id\\\":42,\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"role\\\":\\\"specialty_contractor\\\",\\\"verification_method_id\\\":1}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_item_assignee\":{\"plan_item_id\":42,\"is_holding\":true,\"party_id\":27,\"role\":\"specialty_contractor\",\"verification_method_id\":1}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees\"),\n    Content = new StringContent(\"{\\\"plan_item_assignee\\\":{\\\"plan_item_id\\\":42,\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"role\\\":\\\"specialty_contractor\\\",\\\"verification_method_id\\\":1}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Item Assignee create endpoint",
      "description": "Create an Action Plan Item Assignee for a given company.",
      "endpoint": "POST /projects/{project_id}/action_plans/plan_item_assignees",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-item-assignees?version=1.0#create-action-plan-item-assignee"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_item_assignees/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Item Assignee ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Action Plan Item Assignee",
    "description": "Details of a single Action Plan Item Assignee",
    "tags": [
     "Action Plan Item Assignees"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Item Assignee (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Action Plan Item Assignee. Use as the {id} path parameter to show, update, or delete the assignee.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "ID of the Action Plan Item this assignee belongs to. Use with filters[plan_item_id] to list assignees for a specific item.",
           "example": 36
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp in ISO 8601 format when this assignee was created. Use with filters[created_at] for date-range filtering.",
           "example": "2018-09-20T21:39:40Z"
          },
          "is_holding": {
           "type": "boolean",
           "description": "Boolean flag indicating whether the assignee is necessary to sign for a hold point",
           "example": true
          },
          "is_locked": {
           "type": "boolean",
           "description": "Boolean flag indicating whether the assignee was added prior to an Action Plan's approval",
           "example": false
          },
          "party": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Party Person ID",
             "example": 23
            },
            "first_name": {
             "type": "string",
             "description": "First name of the Party Person",
             "example": "Paul"
            },
            "last_name": {
             "type": "string",
             "description": "Last name of the Party Person",
             "example": "Admin"
            },
            "name": {
             "type": "string",
             "description": "Full name of the Party Person",
             "example": "Paul Admin"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID of the login account associated with this party person.",
             "example": 453
            },
            "is_employee": {
             "type": "boolean",
             "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
             "example": true
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
             "example": "12",
             "nullable": true
            },
            "login": {
             "type": "string",
             "description": "Email address (login) of the party person's user account.",
             "example": "login@example.com"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Time the Party Person was updated",
             "example": "2018-09-20T21:39:40Z"
            },
            "vendor": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the vendor company this party person belongs to.",
               "example": 223
              },
              "name": {
               "type": "string",
               "description": "Name of the vendor company this party person belongs to.",
               "example": "Freddie's Excavating"
              }
             }
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "ID of the Action Plan this assignee's item belongs to. Use with filters[plan_id] to list all assignees across a plan.",
           "example": 21
          },
          "role": {
           "type": "string",
           "description": "Organizational role of this assignee on the Action Plan Item. Determines which party type fills the sign-off slot.",
           "enum": [
            "contractor",
            "specialty_contractor",
            "client",
            "architect",
            "third_party",
            "internal"
           ],
           "example": "specialty_contractor"
          },
          "role_id": {
           "type": "integer",
           "description": "ID of the role record assigned to this Action Plan Item Assignee. Null when the assignee was added by party rather than by role.",
           "example": 17
          },
          "signature": {
           "type": "object",
           "nullable": true,
           "description": "Action Plan Item Assignee Signature (Show)",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this item assignee signature record.",
             "example": 32
            },
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the Prostore file containing the signature image.",
               "example": 23
              },
              "content_type": {
               "type": "string",
               "description": "MIME type of the signature file.",
               "example": "image/png"
              },
              "name": {
               "type": "string",
               "description": "File name of the uploaded signature image.",
               "example": "action_plan_signature_1_2_assignee_53.png"
              },
              "url": {
               "type": "string",
               "description": "URL to download the signature image. The URL is temporary and expires after a period.",
               "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
              }
             }
            },
            "captured_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp in ISO 8601 format when this signature was captured.",
             "example": "2015-02-07T00:00:00Z"
            },
            "captured_by": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Party Person ID",
               "example": 23
              },
              "first_name": {
               "type": "string",
               "description": "First name of the Party Person",
               "example": "Paul"
              },
              "last_name": {
               "type": "string",
               "description": "Last name of the Party Person",
               "example": "Admin"
              },
              "name": {
               "type": "string",
               "description": "Full name of the Party Person",
               "example": "Paul Admin"
              },
              "user_id": {
               "type": "integer",
               "description": "User ID of the login account associated with this party person.",
               "example": 453
              },
              "is_employee": {
               "type": "boolean",
               "description": "Indicates whether Party is an Employee of the current Company",
               "example": true
              },
              "employee_id": {
               "type": "integer",
               "description": "Employee ID of this party person. Null if no employee ID is assigned.",
               "example": 12,
               "nullable": true
              },
              "login": {
               "type": "string",
               "description": "Email address (login) of the party person's user account.",
               "example": "contractor@example.com"
              },
              "vendor": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier of the vendor company this party person belongs to.",
                 "example": 223
                },
                "name": {
                 "type": "string",
                 "description": "Name of the vendor company this party person belongs to.",
                 "example": "Freddie's Excavating"
                }
               }
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
               "example": "2017-01-04T21:27:18Z"
              }
             }
            }
           }
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp in ISO 8601 format when this assignee was last updated. Use with filters[updated_at] for change-based polling.",
           "example": "2018-09-20T21:39:40Z"
          },
          "verification_method": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this verification method.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this verification method is currently available for assignment. Inactive methods may still appear on existing assignees.",
             "example": true
            },
            "name": {
             "type": "string",
             "description": "Display name of the verification method (e.g., Hold Point, Witness Point, Review Record).",
             "example": "Hold Point"
            },
            "source_key": {
             "type": "string",
             "description": "Machine-readable key for this verification method. Use for programmatic comparisons rather than the display name.",
             "example": "hold_point"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Item Assignee show endpoint",
      "description": "View the details of an Action Plan Item Assignee.",
      "endpoint": "GET /projects/{project_id}/action_plans/plan_item_assignees/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-item-assignees?version=1.0#show-action-plan-item-assignee"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Action Plan Item Assignee",
    "description": "Updates a single Action Plan Item Assignee",
    "tags": [
     "Action Plan Item Assignees"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_item_assignee"
        ],
        "properties": {
         "plan_item_assignee": {
          "type": "object",
          "properties": {
           "is_holding": {
            "type": "boolean",
            "description": "Indicates whether or not the Action Plan Item Assignee's signature is holding",
            "example": true
           },
           "party_id": {
            "type": "integer",
            "description": "Party Person ID of the Action Plan Item Assignee to be set",
            "example": 27
           },
           "verification_method_id": {
            "type": "integer",
            "description": "Verification Method ID of the Action Plan Item Assignee to be set",
            "example": 1
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Item Assignee (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Action Plan Item Assignee. Use as the {id} path parameter to show, update, or delete the assignee.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "ID of the Action Plan Item this assignee belongs to. Use with filters[plan_item_id] to list assignees for a specific item.",
           "example": 36
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp in ISO 8601 format when this assignee was created. Use with filters[created_at] for date-range filtering.",
           "example": "2018-09-20T21:39:40Z"
          },
          "is_holding": {
           "type": "boolean",
           "description": "Boolean flag indicating whether the assignee is necessary to sign for a hold point",
           "example": true
          },
          "is_locked": {
           "type": "boolean",
           "description": "Boolean flag indicating whether the assignee was added prior to an Action Plan's approval",
           "example": false
          },
          "party": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Party Person ID",
             "example": 23
            },
            "first_name": {
             "type": "string",
             "description": "First name of the Party Person",
             "example": "Paul"
            },
            "last_name": {
             "type": "string",
             "description": "Last name of the Party Person",
             "example": "Admin"
            },
            "name": {
             "type": "string",
             "description": "Full name of the Party Person",
             "example": "Paul Admin"
            },
            "user_id": {
             "type": "integer",
             "description": "User ID of the login account associated with this party person.",
             "example": 453
            },
            "is_employee": {
             "type": "boolean",
             "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
             "example": true
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
             "example": "12",
             "nullable": true
            },
            "login": {
             "type": "string",
             "description": "Email address (login) of the party person's user account.",
             "example": "login@example.com"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Time the Party Person was updated",
             "example": "2018-09-20T21:39:40Z"
            },
            "vendor": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the vendor company this party person belongs to.",
               "example": 223
              },
              "name": {
               "type": "string",
               "description": "Name of the vendor company this party person belongs to.",
               "example": "Freddie's Excavating"
              }
             }
            }
           }
          },
          "plan_id": {
           "type": "integer",
           "description": "ID of the Action Plan this assignee's item belongs to. Use with filters[plan_id] to list all assignees across a plan.",
           "example": 21
          },
          "role": {
           "type": "string",
           "description": "Organizational role of this assignee on the Action Plan Item. Determines which party type fills the sign-off slot.",
           "enum": [
            "contractor",
            "specialty_contractor",
            "client",
            "architect",
            "third_party",
            "internal"
           ],
           "example": "specialty_contractor"
          },
          "role_id": {
           "type": "integer",
           "description": "ID of the role record assigned to this Action Plan Item Assignee. Null when the assignee was added by party rather than by role.",
           "example": 17
          },
          "signature": {
           "type": "object",
           "nullable": true,
           "description": "Action Plan Item Assignee Signature (Show)",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this item assignee signature record.",
             "example": 32
            },
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the Prostore file containing the signature image.",
               "example": 23
              },
              "content_type": {
               "type": "string",
               "description": "MIME type of the signature file.",
               "example": "image/png"
              },
              "name": {
               "type": "string",
               "description": "File name of the uploaded signature image.",
               "example": "action_plan_signature_1_2_assignee_53.png"
              },
              "url": {
               "type": "string",
               "description": "URL to download the signature image. The URL is temporary and expires after a period.",
               "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
              }
             }
            },
            "captured_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp in ISO 8601 format when this signature was captured.",
             "example": "2015-02-07T00:00:00Z"
            },
            "captured_by": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Party Person ID",
               "example": 23
              },
              "first_name": {
               "type": "string",
               "description": "First name of the Party Person",
               "example": "Paul"
              },
              "last_name": {
               "type": "string",
               "description": "Last name of the Party Person",
               "example": "Admin"
              },
              "name": {
               "type": "string",
               "description": "Full name of the Party Person",
               "example": "Paul Admin"
              },
              "user_id": {
               "type": "integer",
               "description": "User ID of the login account associated with this party person.",
               "example": 453
              },
              "is_employee": {
               "type": "boolean",
               "description": "Indicates whether Party is an Employee of the current Company",
               "example": true
              },
              "employee_id": {
               "type": "integer",
               "description": "Employee ID of this party person. Null if no employee ID is assigned.",
               "example": 12,
               "nullable": true
              },
              "login": {
               "type": "string",
               "description": "Email address (login) of the party person's user account.",
               "example": "contractor@example.com"
              },
              "vendor": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier of the vendor company this party person belongs to.",
                 "example": 223
                },
                "name": {
                 "type": "string",
                 "description": "Name of the vendor company this party person belongs to.",
                 "example": "Freddie's Excavating"
                }
               }
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
               "example": "2017-01-04T21:27:18Z"
              }
             }
            }
           }
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp in ISO 8601 format when this assignee was last updated. Use with filters[updated_at] for change-based polling.",
           "example": "2018-09-20T21:39:40Z"
          },
          "verification_method": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this verification method.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this verification method is currently available for assignment. Inactive methods may still appear on existing assignees.",
             "example": true
            },
            "name": {
             "type": "string",
             "description": "Display name of the verification method (e.g., Hold Point, Witness Point, Review Record).",
             "example": "Hold Point"
            },
            "source_key": {
             "type": "string",
             "description": "Machine-readable key for this verification method. Use for programmatic comparisons rather than the display name.",
             "example": "hold_point"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_item_assignee: {is_holding: true, party_id: 27, verification_method_id: 1}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_item_assignee\\\":{\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"verification_method_id\\\":1}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_item_assignee\":{\"is_holding\":true,\"party_id\":27,\"verification_method_id\":1}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"plan_item_assignee\\\":{\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"verification_method_id\\\":1}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Action Plan Item Assignee",
    "description": "Delete an Action Plan Item Assignee",
    "tags": [
     "Action Plan Item Assignees"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/action_plans/plan_item_assignees/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Action Plan Item Assignee delete endpoint",
      "description": "Delete an Action Plan Item Assignee.",
      "endpoint": "DELETE /projects/{project_id}/action_plans/plan_item_assignees/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-item-assignees?version=1.0#delete-action-plan-item-assignee"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_item_assignees": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Action Plan Item Assignees",
    "description": "List of all Recycled Action Plan Item Assignees",
    "tags": [
     "Action Plan Item Assignees"
    ],
    "parameters": [
     {
      "name": "filters[plan_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Recycled Action Plan Item Assignees (Index)",
         "items": {
          "type": "object",
          "description": "Recycled Action Plan Item Assignee (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this recycled Action Plan Item Assignee.",
            "example": 12
           },
           "plan_item_id": {
            "type": "integer",
            "description": "ID of the Action Plan Item this assignee belonged to.",
            "example": 36
           },
           "created_at": {
            "type": "string",
            "description": "Timestamp in ISO 8601 format when this assignee was created.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "description": "Timestamp in ISO 8601 format when this assignee was deleted.",
            "example": "2018-09-20T21:39:40Z"
           },
           "is_holding": {
            "type": "boolean",
            "description": "Whether the assignee was required to sign for a hold point before deletion.",
            "example": true
           },
           "is_locked": {
            "type": "boolean",
            "description": "Whether the assignee was added prior to the Action Plan's approval.",
            "example": false
           },
           "party": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Party Person ID",
              "example": 23
             },
             "first_name": {
              "type": "string",
              "description": "First name of the Party Person",
              "example": "Paul"
             },
             "last_name": {
              "type": "string",
              "description": "Last name of the Party Person",
              "example": "Admin"
             },
             "name": {
              "type": "string",
              "description": "Full name of the Party Person",
              "example": "Paul Admin"
             },
             "user_id": {
              "type": "integer",
              "description": "User ID of the login account associated with this party person.",
              "example": 453
             },
             "is_employee": {
              "type": "boolean",
              "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
              "example": "12",
              "nullable": true
             },
             "login": {
              "type": "string",
              "description": "Email address (login) of the party person's user account.",
              "example": "login@example.com"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Time the Party Person was updated",
              "example": "2018-09-20T21:39:40Z"
             },
             "vendor": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the vendor company this party person belongs to.",
                "example": 223
               },
               "name": {
                "type": "string",
                "description": "Name of the vendor company this party person belongs to.",
                "example": "Freddie's Excavating"
               }
              }
             }
            }
           },
           "plan_id": {
            "type": "integer",
            "description": "ID of the Action Plan this assignee's item belonged to before deletion.",
            "example": 21
           },
           "role": {
            "type": "string",
            "description": "Organizational role this assignee held on the Action Plan Item.",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "specialty_contractor"
           },
           "role_id": {
            "type": "integer",
            "description": "ID of the role record assigned to this Action Plan Item Assignee. Null when the assignee was added by party rather than by role.",
            "example": 17
           },
           "signature": {
            "type": "object",
            "nullable": true,
            "description": "Action Plan Item Assignee Signature (Show)",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this item assignee signature record.",
              "example": 32
             },
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the Prostore file containing the signature image.",
                "example": 23
               },
               "content_type": {
                "type": "string",
                "description": "MIME type of the signature file.",
                "example": "image/png"
               },
               "name": {
                "type": "string",
                "description": "File name of the uploaded signature image.",
                "example": "action_plan_signature_1_2_assignee_53.png"
               },
               "url": {
                "type": "string",
                "description": "URL to download the signature image. The URL is temporary and expires after a period.",
                "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
               }
              }
             },
             "captured_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp in ISO 8601 format when this signature was captured.",
              "example": "2015-02-07T00:00:00Z"
             },
             "captured_by": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Party Person ID",
                "example": 23
               },
               "first_name": {
                "type": "string",
                "description": "First name of the Party Person",
                "example": "Paul"
               },
               "last_name": {
                "type": "string",
                "description": "Last name of the Party Person",
                "example": "Admin"
               },
               "name": {
                "type": "string",
                "description": "Full name of the Party Person",
                "example": "Paul Admin"
               },
               "user_id": {
                "type": "integer",
                "description": "User ID of the login account associated with this party person.",
                "example": 453
               },
               "is_employee": {
                "type": "boolean",
                "description": "Indicates whether Party is an Employee of the current Company",
                "example": true
               },
               "employee_id": {
                "type": "integer",
                "description": "Employee ID of this party person. Null if no employee ID is assigned.",
                "example": 12,
                "nullable": true
               },
               "login": {
                "type": "string",
                "description": "Email address (login) of the party person's user account.",
                "example": "contractor@example.com"
               },
               "vendor": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier of the vendor company this party person belongs to.",
                  "example": 223
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the vendor company this party person belongs to.",
                  "example": "Freddie's Excavating"
                 }
                }
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
                "example": "2017-01-04T21:27:18Z"
               }
              }
             }
            }
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp in ISO 8601 format when this assignee was last updated.",
            "example": "2018-09-20T21:39:40Z"
           },
           "verification_method": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this verification method.",
              "example": 21
             },
             "active": {
              "type": "boolean",
              "description": "Whether this verification method is currently available for assignment. Inactive methods may still appear on existing assignees.",
              "example": true
             },
             "name": {
              "type": "string",
              "description": "Display name of the verification method (e.g., Hold Point, Witness Point, Review Record).",
              "example": "Hold Point"
             },
             "source_key": {
              "type": "string",
              "description": "Machine-readable key for this verification method. Use for programmatic comparisons rather than the display name.",
              "example": "hold_point"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_item_assignees',\n  qs: {\n    'filters[plan_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_item_assignees?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_item_assignees?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/recycle_bin/action_plans/plan_item_assignees?filters%5Bplan_item_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Action Plan Item Assignees list endpoint",
      "description": "Get a list of Recycled Action Plan Item Assignees for a given project.",
      "endpoint": "GET /projects/{project_id}/recycle_bin/action_plans/plan_item_assignees",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-04-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-item-assignees?version=1.0#list-recycled-action-plan-item-assignees"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/recycle_bin/action_plans/plan_item_assignees/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Item Assignee ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Action Plan Item Assignee",
    "description": "Details of a single Recycled Action Plan Item Assignee",
    "tags": [
     "Action Plan Item Assignees"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Recycled Action Plan Item Assignee (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this recycled Action Plan Item Assignee.",
           "example": 12
          },
          "plan_item_id": {
           "type": "integer",
           "description": "ID of the Action Plan Item this assignee belonged to.",
           "example": 36
          },
          "created_at": {
           "type": "string",
[...]
