{
 "openapi": "3.0.0",
 "info": {
  "title": "Action Plan Items",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Action Plan Items",
  "version": "2.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/action_plans/plan_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Action Plan Items",
    "description": "Returns Action Plan Items for a project.",
    "tags": [
     "Action Plan Items"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 1000,
       "minimum": 1,
       "maximum": 10000
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_section_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Section(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan ID(s)",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "required": false,
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[due_at]",
      "in": "query",
      "description": "Return item(s) due within the specified date range.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[status_id]",
      "in": "query",
      "description": "Array of Status IDs. A single Status ID is also accepted.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[assignee_party_id_or_role_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Assignee party ID(s) or role ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[attachment_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference attachment ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[drawing_revision_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference drawing revision ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[file_version_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference file version ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_test_record_request_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Test Record Request ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[specification_section_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference specification section id ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[verification_method_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Assignee verification method ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[generic_tool_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference Generic Tool Item ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[form_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference Form ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[meeting_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference Meeting ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[observation_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference Observation Item ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[submittal_log_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference submittal log ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[record_checklist_template_id]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified checklist template id.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[record_generic_tool_id]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified Generic Tool ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[reference_type]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan reference type(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "attachment",
         "document",
         "drawing",
         "generic_tool_item",
         "specification_section",
         "submittals"
        ]
       }
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Selects the response shape. `normal` (default) returns the full item; `flat_v0` returns a flattened representation with a bare `status_id`; `ids` returns only item ids.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "flat_v0",
        "ids"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "Default",
           "type": "object",
           "properties": {
            "data": {
             "type": "array",
             "description": "Action Plan Items (Default View)",
             "items": {
              "type": "object",
              "description": "Action Plan Item. Field-for-field identical to the v1.0 Action Plan Item, except that every id / *_id attribute (at any nesting depth, including inside plan_item_assignees) is a string, per the Rest V2 convention, and `status` always reflects the item's real status \u2014 including a company-custom status \u2014 rather than the built-in it maps to.",
              "properties": {
               "id": {
                "type": "string",
                "description": "Unique identifier for this Action Plan Item.",
                "example": "43584"
               },
               "plan_item_assignees": {
                "type": "array",
                "items": {
                 "type": "object",
                 "description": "Action Plan Item Assignee (Compact)",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Unique identifier for this Action Plan Item Assignee.",
                   "example": "12"
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp in ISO 8601 format when this assignee was created.",
                   "example": "2018-09-20T21:39:40Z"
                  },
                  "is_holding": {
                   "type": "boolean",
                   "description": "Boolean flag indicating whether the assignee is necessary to sign for a hold point",
                   "example": true
                  },
                  "is_locked": {
                   "type": "boolean",
                   "description": "Boolean flag indicating whether the assignee was added prior to an Action Plan's approval",
                   "example": false
                  },
                  "party": {
                   "type": "object",
                   "nullable": true,
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "Party Person ID",
                     "example": "23"
                    },
                    "first_name": {
                     "type": "string",
                     "description": "First name of the Party Person",
                     "example": "Paul"
                    },
                    "last_name": {
                     "type": "string",
                     "description": "Last name of the Party Person",
                     "example": "Admin"
                    },
                    "name": {
                     "type": "string",
                     "description": "Full name of the Party Person",
                     "example": "Paul Admin"
                    },
                    "user_id": {
                     "type": "string",
                     "description": "User ID of the login account associated with this party person.",
                     "example": "453"
                    },
                    "is_employee": {
                     "type": "boolean",
                     "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
                     "example": true
                    },
                    "employee_id": {
                     "type": "string",
                     "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
                     "example": "12",
                     "nullable": true
                    },
                    "login": {
                     "type": "string",
                     "description": "Email address (login) of the party person's user account.",
                     "example": "login@example.com"
                    },
                    "updated_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Time the Party Person was updated",
                     "example": "2018-09-20T21:39:40Z"
                    },
                    "vendor": {
                     "type": "object",
                     "nullable": true,
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "Unique identifier of the vendor company this party person belongs to.",
                       "example": "223"
                      },
                      "name": {
                       "type": "string",
                       "description": "Name of the vendor company this party person belongs to.",
                       "example": "Freddie's Excavating"
                      }
                     }
                    }
                   }
                  },
                  "role": {
                   "type": "string",
                   "description": "Organizational role of this assignee on the Action Plan Item.",
                   "enum": [
                    "contractor",
                    "specialty_contractor",
                    "client",
                    "architect",
                    "third_party",
                    "null",
                    "internal"
                   ],
                   "example": "specialty_contractor"
                  },
                  "role_id": {
                   "type": "string",
                   "description": "ID of the role record assigned to this assignee. Null when the assignee was added by party rather than by role.",
                   "example": "17"
                  },
                  "signature": {
                   "type": "object",
                   "nullable": true,
                   "description": "Action Plan Item Assignee Signature (Show)",
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "Unique identifier for this item assignee signature record.",
                     "example": "32"
                    },
                    "attachment": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "Unique identifier of the Prostore file containing the signature image.",
                       "example": "23"
                      },
                      "content_type": {
                       "type": "string",
                       "description": "MIME type of the signature file.",
                       "example": "image/png"
                      },
                      "name": {
                       "type": "string",
                       "description": "File name of the uploaded signature image.",
                       "example": "action_plan_signature_1_2_assignee_53.png"
                      },
                      "url": {
                       "type": "string",
                       "description": "URL to download the signature image. The URL is temporary and expires after a period.",
                       "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
                      }
                     }
                    },
                    "captured_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Timestamp in ISO 8601 format when this signature was captured.",
                     "example": "2015-02-07T00:00:00Z"
                    },
                    "captured_by": {
                     "type": "object",
                     "nullable": true,
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "Party Person ID",
                       "example": "23"
                      },
                      "first_name": {
                       "type": "string",
                       "description": "First name of the Party Person",
                       "example": "Paul"
                      },
                      "last_name": {
                       "type": "string",
                       "description": "Last name of the Party Person",
                       "example": "Admin"
                      },
                      "name": {
                       "type": "string",
                       "description": "Full name of the Party Person",
                       "example": "Paul Admin"
                      },
                      "user_id": {
                       "type": "string",
                       "description": "User ID of the login account associated with this party person.",
                       "example": "453"
                      },
                      "is_employee": {
                       "type": "boolean",
                       "description": "Indicates whether Party is an Employee of the current Company",
                       "example": true
                      },
                      "employee_id": {
                       "type": "string",
                       "description": "Employee ID of this party person. Null if no employee ID is assigned.",
                       "example": "12",
                       "nullable": true
                      },
                      "login": {
                       "type": "string",
                       "description": "Email address (login) of the party person's user account.",
                       "example": "contractor@example.com"
                      },
                      "vendor": {
                       "type": "object",
                       "nullable": true,
                       "properties": {
                        "id": {
                         "type": "string",
                         "description": "Unique identifier of the vendor company this party person belongs to.",
                         "example": "223"
                        },
                        "name": {
                         "type": "string",
                         "description": "Name of the vendor company this party person belongs to.",
                         "example": "Freddie's Excavating"
                        }
                       }
                      },
                      "updated_at": {
                       "type": "string",
                       "format": "date-time",
                       "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
                       "example": "2017-01-04T21:27:18Z"
                      }
                     }
                    }
                   }
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp in ISO 8601 format when this assignee was last updated.",
                   "example": "2018-09-20T21:39:40Z"
                  },
                  "verification_method": {
                   "type": "object",
                   "nullable": true,
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "Unique identifier for this verification method.",
                     "example": "21"
                    },
                    "active": {
                     "type": "boolean",
                     "description": "Whether this verification method is currently available for assignment. Inactive methods may still appear on existing assignees.",
                     "example": true
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the verification method (e.g., Hold Point, Witness Point, Review Record).",
                     "example": "Hold Point"
                    },
                    "source_key": {
                     "type": "string",
                     "description": "Machine-readable key for this verification method. Use for programmatic comparisons rather than the display name.",
                     "example": "hold_point"
                    }
                   }
                  }
                 }
                }
               },
               "created_at": {
                "type": "string",
                "description": "Timestamp in ISO 8601 format when this item was created.",
                "example": "2018-09-20T21:39:40Z"
               },
               "description": {
                "type": "string",
                "nullable": true,
                "description": "Detailed description of the work or inspection required for this Action Plan Item.",
                "example": "A New Action Plan Item Description"
               },
               "due_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Due date for this item in ISO 8601 format. Null if no due date has been set.",
                "example": "2017-07-29T21:39:40Z"
               },
               "holding_type": {
                "type": "string",
                "description": "Action Plan Item holding type specifies whether the current item holds all the succeeding items in the section or the plan",
                "enum": [
                 "plan",
                 "section"
                ],
                "example": "plan"
               },
               "is_blocked": {
                "type": "boolean",
                "description": "Indicates whether current Action Plan Item is blocked by another Action Plan Item"
               },
               "is_blocking": {
                "type": "boolean",
                "description": "Indicates whether current Action Plan Item is blocking other Action Plan Items"
               },
               "notes": {
                "type": "string",
                "nullable": true,
                "description": "Free-text notes attached to this Action Plan Item.",
                "example": "Noting this Action Plan Item is complete"
               },
               "plan_id": {
                "type": "string",
                "description": "ID of the Action Plan this item belongs to.",
                "example": "43584"
               },
               "position": {
                "type": "integer",
                "description": "Ordinal position of this item within its section.",
                "example": 3
               },
               "plan_section_id": {
                "type": "string",
                "description": "ID of the section this item belongs to within the Action Plan.",
                "example": "43584"
               },
               "title": {
                "type": "string",
                "description": "Short title summarizing the inspection or task for this Action Plan Item.",
                "example": "A New Action Plan Item"
               },
               "status": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Unique identifier for the item status. Reflects the item's real status, including any company-custom status \u2014 unlike the v1.0 list endpoint, which downgrades company-custom statuses to the built-in status they map to.",
                  "example": "2"
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the status (e.g. 'In Progress', or a company-custom name such as 'Ready for Testing').",
                  "example": "in_progress"
                 },
                 "status": {
                  "type": "string",
                  "description": "Underlying status type category this status maps to. Custom company statuses map to one of these built-in keys.",
                  "enum": [
                   "open",
                   "in_progress",
                   "delayed",
                   "closed"
                  ],
                  "example": "in_progress"
                 },
                 "global": {
                  "type": "boolean",
                  "description": "Whether this is a built-in Procore status available to every company.",
                  "example": true
                 }
                }
               },
               "template_item_id": {
                "type": "string",
                "nullable": true,
                "description": "ID of the plan template item this item was generated from. Null if the item was created directly rather than from a template.",
                "example": "43584"
               },
               "updated_at": {
                "type": "string",
                "description": "Timestamp in ISO 8601 format when this item was last updated.",
                "example": "2018-09-20T21:39:40Z"
               }
              }
             }
            }
           }
          },
          {
           "title": "Flat V0",
           "type": "object",
           "properties": {
            "data": {
             "type": "array",
             "description": "Action Plan Items (Flat V0 View) \u2014 bare `status_id` instead of a nested `status` object",
             "items": {
              "type": "object",
              "description": "Action Plan Item in the `view=flat_v0` shape. Same base fields as the normal view, but with a bare `status_id` instead of a nested `status` object, and without `plan_id` or `plan_item_assignees`.",
              "properties": {
               "id": {
                "type": "string",
                "description": "Unique identifier for this Action Plan Item.",
                "example": "43584"
               },
               "created_at": {
                "type": "string",
                "description": "Timestamp in ISO 8601 format when this item was created.",
                "example": "2018-09-20T21:39:40Z"
               },
               "description": {
                "type": "string",
                "nullable": true,
                "description": "Detailed description of the work or inspection required for this Action Plan Item.",
                "example": "A New Action Plan Item Description"
               },
               "due_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "Due date for this item in ISO 8601 format. Null if no due date has been set.",
                "example": "2017-07-29T21:39:40Z"
               },
               "holding_type": {
                "type": "string",
                "description": "Action Plan Item holding type specifies whether the current item holds all the succeeding items in the section or the plan",
                "enum": [
                 "plan",
                 "section"
                ],
                "example": "plan"
               },
               "is_blocked": {
                "type": "boolean",
                "description": "Indicates whether current Action Plan Item is blocked by another Action Plan Item"
               },
               "is_blocking": {
                "type": "boolean",
                "description": "Indicates whether current Action Plan Item is blocking other Action Plan Items"
               },
               "notes": {
                "type": "string",
                "nullable": true,
                "description": "Free-text notes attached to this Action Plan Item.",
                "example": "Noting this Action Plan Item is complete"
               },
               "position": {
                "type": "integer",
                "description": "Ordinal position of this item within its section.",
                "example": 3
               },
               "plan_section_id": {
                "type": "string",
                "description": "ID of the section this item belongs to within the Action Plan.",
                "example": "43584"
               },
               "title": {
                "type": "string",
                "description": "Short title summarizing the inspection or task for this Action Plan Item.",
                "example": "A New Action Plan Item"
               },
               "status_id": {
                "type": "string",
                "description": "ID of the item's status. Bare id rather than the nested status object returned by the normal view.",
                "example": "2"
               },
               "template_item_id": {
                "type": "string",
                "nullable": true,
                "description": "ID of the plan template item this item was generated from. Null if the item was created directly rather than from a template.",
                "example": "43584"
               },
               "updated_at": {
                "type": "string",
                "description": "Timestamp in ISO 8601 format when this item was last updated.",
                "example": "2018-09-20T21:39:40Z"
               }
              }
             }
            }
           }
          },
          {
           "title": "Ids",
           "type": "object",
           "properties": {
            "data": {
             "type": "array",
             "description": "Action Plan Item ids (Ids View)",
             "items": {
              "type": "string",
              "example": "43584"
             }
            }
           }
          }
         ],
         "discriminator": {
          "propertyName": "view"
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plan_items',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_section_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    'filters[due_at]': 'SOME_STRING_VALUE',\n    'filters[status_id]': 'SOME_ARRAY_VALUE',\n    'filters[assignee_party_id_or_role_id]': 'SOME_ARRAY_VALUE',\n    'filters[attachment_id]': 'SOME_ARRAY_VALUE',\n    'filters[drawing_revision_id]': 'SOME_ARRAY_VALUE',\n    'filters[file_version_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_test_record_request_id]': 'SOME_ARRAY_VALUE',\n    'filters[specification_section_id]': 'SOME_ARRAY_VALUE',\n    'filters[verification_method_id]': 'SOME_ARRAY_VALUE',\n    'filters[generic_tool_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[form_id]': 'SOME_ARRAY_VALUE',\n    'filters[meeting_id]': 'SOME_ARRAY_VALUE',\n    'filters[observation_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[submittal_log_id]': 'SOME_ARRAY_VALUE',\n    'filters[record_checklist_template_id]': 'SOME_INTEGER_VALUE',\n    'filters[record_generic_tool_id]': 'SOME_INTEGER_VALUE',\n    'filters[reference_type]': 'SOME_ARRAY_VALUE',\n    view: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plan_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_section_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bdue_at%5D=SOME_STRING_VALUE&filters%5Bstatus_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_party_id_or_role_id%5D=SOME_ARRAY_VALUE&filters%5Battachment_id%5D=SOME_ARRAY_VALUE&filters%5Bdrawing_revision_id%5D=SOME_ARRAY_VALUE&filters%5Bfile_version_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_test_record_request_id%5D=SOME_ARRAY_VALUE&filters%5Bspecification_section_id%5D=SOME_ARRAY_VALUE&filters%5Bverification_method_id%5D=SOME_ARRAY_VALUE&filters%5Bgeneric_tool_item_id%5D=SOME_ARRAY_VALUE&filters%5Bform_id%5D=SOME_ARRAY_VALUE&filters%5Bmeeting_id%5D=SOME_ARRAY_VALUE&filters%5Bobservation_item_id%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_log_id%5D=SOME_ARRAY_VALUE&filters%5Brecord_checklist_template_id%5D=SOME_INTEGER_VALUE&filters%5Brecord_generic_tool_id%5D=SOME_INTEGER_VALUE&filters%5Breference_type%5D=SOME_ARRAY_VALUE&view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plan_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_section_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bdue_at%5D=SOME_STRING_VALUE&filters%5Bstatus_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_party_id_or_role_id%5D=SOME_ARRAY_VALUE&filters%5Battachment_id%5D=SOME_ARRAY_VALUE&filters%5Bdrawing_revision_id%5D=SOME_ARRAY_VALUE&filters%5Bfile_version_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_test_record_request_id%5D=SOME_ARRAY_VALUE&filters%5Bspecification_section_id%5D=SOME_ARRAY_VALUE&filters%5Bverification_method_id%5D=SOME_ARRAY_VALUE&filters%5Bgeneric_tool_item_id%5D=SOME_ARRAY_VALUE&filters%5Bform_id%5D=SOME_ARRAY_VALUE&filters%5Bmeeting_id%5D=SOME_ARRAY_VALUE&filters%5Bobservation_item_id%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_log_id%5D=SOME_ARRAY_VALUE&filters%5Brecord_checklist_template_id%5D=SOME_INTEGER_VALUE&filters%5Brecord_generic_tool_id%5D=SOME_INTEGER_VALUE&filters%5Breference_type%5D=SOME_ARRAY_VALUE&view=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plan_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_section_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bdue_at%5D=SOME_STRING_VALUE&filters%5Bstatus_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_party_id_or_role_id%5D=SOME_ARRAY_VALUE&filters%5Battachment_id%5D=SOME_ARRAY_VALUE&filters%5Bdrawing_revision_id%5D=SOME_ARRAY_VALUE&filters%5Bfile_version_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_test_record_request_id%5D=SOME_ARRAY_VALUE&filters%5Bspecification_section_id%5D=SOME_ARRAY_VALUE&filters%5Bverification_method_id%5D=SOME_ARRAY_VALUE&filters%5Bgeneric_tool_item_id%5D=SOME_ARRAY_VALUE&filters%5Bform_id%5D=SOME_ARRAY_VALUE&filters%5Bmeeting_id%5D=SOME_ARRAY_VALUE&filters%5Bobservation_item_id%5D=SOME_ARRAY_VALUE&filters%5Bsubmittal_log_id%5D=SOME_ARRAY_VALUE&filters%5Brecord_checklist_template_id%5D=SOME_INTEGER_VALUE&filters%5Brecord_generic_tool_id%5D=SOME_INTEGER_VALUE&filters%5Breference_type%5D=SOME_ARRAY_VALUE&view=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added v2 Action Plan Item list endpoint",
      "description": "New v2 list endpoint that returns Action Plan Items wrapped in a\ntop-level data array. Accepts the same filters and sorting as the v1.0\nlist, defaults to a page size of 1000 (max 10000), and returns\ncompany-custom item statuses untouched (the deprecated v1.0 list\nendpoint downgrades them to built-ins for legacy clients).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/action_plans/plan_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-08-05",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-items?version=2.0#list-action-plan-items"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/action_plans/plan_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the resource.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Action Plan Item",
    "description": "Updates one Action Plan Item. Title, description, and holding type can be changed only when the parent Action Plan is in draft. Due date, notes, and status can be updated while the plan is in progress if the user has permission.",
    "tags": [
     "Action Plan Items"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_item"
        ],
        "properties": {
         "plan_item": {
          "type": "object",
          "properties": {
           "title": {
            "type": "string",
            "description": "Short title summarizing the inspection or task for this Action Plan Item.",
            "example": "Inspect fire extinguishers"
           },
           "description": {
            "type": "string",
            "nullable": true,
            "description": "Detailed description of the work or inspection required for this Action Plan Item.",
            "example": "Verify all extinguishers are charged and tagged."
           },
           "due_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Due date for this item in ISO 8601 format.",
            "example": "2024-12-19T00:00:00Z"
           },
           "holding_type": {
            "type": "string",
            "description": "Whether the item holds all succeeding items in the section or in the plan.",
            "enum": [
             "plan",
             "section"
            ],
            "example": "plan"
           },
           "notes": {
            "type": "string",
            "nullable": true,
            "description": "Free text notes attached to this Action Plan Item.",
            "example": "Completed during morning walkthrough."
           },
           "status_id": {
            "type": "string",
            "description": "ID of the item status to set. May be a built in status or a company custom status.",
            "example": "5"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "description": "Action Plan Item. Field-for-field identical to the v1.0 Action Plan Item, except that every id / *_id attribute (at any nesting depth, including inside plan_item_assignees) is a string, per the Rest V2 convention, and `status` always reflects the item's real status \u2014 including a company-custom status \u2014 rather than the built-in it maps to.",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for this Action Plan Item.",
             "example": "43584"
            },
            "plan_item_assignees": {
             "type": "array",
             "items": {
              "type": "object",
              "description": "Action Plan Item Assignee (Compact)",
              "properties": {
               "id": {
                "type": "string",
                "description": "Unique identifier for this Action Plan Item Assignee.",
                "example": "12"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp in ISO 8601 format when this assignee was created.",
                "example": "2018-09-20T21:39:40Z"
               },
               "is_holding": {
                "type": "boolean",
                "description": "Boolean flag indicating whether the assignee is necessary to sign for a hold point",
                "example": true
               },
               "is_locked": {
                "type": "boolean",
                "description": "Boolean flag indicating whether the assignee was added prior to an Action Plan's approval",
                "example": false
               },
               "party": {
                "type": "object",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Party Person ID",
                  "example": "23"
                 },
                 "first_name": {
                  "type": "string",
                  "description": "First name of the Party Person",
                  "example": "Paul"
                 },
                 "last_name": {
                  "type": "string",
                  "description": "Last name of the Party Person",
                  "example": "Admin"
                 },
                 "name": {
                  "type": "string",
                  "description": "Full name of the Party Person",
                  "example": "Paul Admin"
                 },
                 "user_id": {
                  "type": "string",
                  "description": "User ID of the login account associated with this party person.",
                  "example": "453"
                 },
                 "is_employee": {
                  "type": "boolean",
                  "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
                  "example": true
                 },
                 "employee_id": {
                  "type": "string",
                  "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
                  "example": "12",
                  "nullable": true
                 },
                 "login": {
                  "type": "string",
                  "description": "Email address (login) of the party person's user account.",
                  "example": "login@example.com"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Time the Party Person was updated",
                  "example": "2018-09-20T21:39:40Z"
                 },
                 "vendor": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Unique identifier of the vendor company this party person belongs to.",
                    "example": "223"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the vendor company this party person belongs to.",
                    "example": "Freddie's Excavating"
                   }
                  }
                 }
                }
               },
               "role": {
                "type": "string",
                "description": "Organizational role of this assignee on the Action Plan Item.",
                "enum": [
                 "contractor",
                 "specialty_contractor",
                 "client",
                 "architect",
                 "third_party",
                 "null",
                 "internal"
                ],
                "example": "specialty_contractor"
               },
               "role_id": {
                "type": "string",
                "description": "ID of the role record assigned to this assignee. Null when the assignee was added by party rather than by role.",
                "example": "17"
               },
               "signature": {
                "type": "object",
                "nullable": true,
                "description": "Action Plan Item Assignee Signature (Show)",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Unique identifier for this item assignee signature record.",
                  "example": "32"
                 },
                 "attachment": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Unique identifier of the Prostore file containing the signature image.",
                    "example": "23"
                   },
                   "content_type": {
                    "type": "string",
                    "description": "MIME type of the signature file.",
                    "example": "image/png"
                   },
                   "name": {
                    "type": "string",
                    "description": "File name of the uploaded signature image.",
                    "example": "action_plan_signature_1_2_assignee_53.png"
                   },
                   "url": {
                    "type": "string",
                    "description": "URL to download the signature image. The URL is temporary and expires after a period.",
                    "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
                   }
                  }
                 },
                 "captured_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp in ISO 8601 format when this signature was captured.",
                  "example": "2015-02-07T00:00:00Z"
                 },
                 "captured_by": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Party Person ID",
                    "example": "23"
                   },
                   "first_name": {
                    "type": "string",
                    "description": "First name of the Party Person",
                    "example": "Paul"
                   },
                   "last_name": {
                    "type": "string",
                    "description": "Last name of the Party Person",
                    "example": "Admin"
                   },
                   "name": {
                    "type": "string",
                    "description": "Full name of the Party Person",
                    "example": "Paul Admin"
                   },
                   "user_id": {
                    "type": "string",
                    "description": "User ID of the login account associated with this party person.",
                    "example": "453"
                   },
                   "is_employee": {
                    "type": "boolean",
                    "description": "Indicates whether Party is an Employee of the current Company",
                    "example": true
                   },
                   "employee_id": {
                    "type": "string",
                    "description": "Employee ID of this party person. Null if no employee ID is assigned.",
                    "example": "12",
                    "nullable": true
                   },
                   "login": {
                    "type": "string",
                    "description": "Email address (login) of the party person's user account.",
                    "example": "contractor@example.com"
                   },
                   "vendor": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                     "id": {
                      "type": "string",
                      "description": "Unique identifier of the vendor company this party person belongs to.",
                      "example": "223"
                     },
                     "name": {
                      "type": "string",
                      "description": "Name of the vendor company this party person belongs to.",
                      "example": "Freddie's Excavating"
                     }
                    }
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
                    "example": "2017-01-04T21:27:18Z"
                   }
                  }
                 }
                }
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp in ISO 8601 format when this assignee was last updated.",
                "example": "2018-09-20T21:39:40Z"
               },
               "verification_method": {
                "type": "object",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Unique identifier for this verification method.",
                  "example": "21"
                 },
                 "active": {
                  "type": "boolean",
                  "description": "Whether this verification method is currently available for assignment. Inactive methods may still appear on existing assignees.",
                  "example": true
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the verification method (e.g., Hold Point, Witness Point, Review Record).",
                  "example": "Hold Point"
                 },
                 "source_key": {
                  "type": "string",
                  "description": "Machine-readable key for this verification method. Use for programmatic comparisons rather than the display name.",
                  "example": "hold_point"
                 }
                }
               }
              }
             }
            },
            "created_at": {
             "type": "string",
             "description": "Timestamp in ISO 8601 format when this item was created.",
             "example": "2018-09-20T21:39:40Z"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Detailed description of the work or inspection required for this Action Plan Item.",
             "example": "A New Action Plan Item Description"
            },
            "due_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Due date for this item in ISO 8601 format. Null if no due date has been set.",
             "example": "2017-07-29T21:39:40Z"
            },
            "holding_type": {
             "type": "string",
             "description": "Action Plan Item holding type specifies whether the current item holds all the succeeding items in the section or the plan",
             "enum": [
              "plan",
              "section"
             ],
             "example": "plan"
            },
            "is_blocked": {
             "type": "boolean",
             "description": "Indicates whether current Action Plan Item is blocked by another Action Plan Item"
            },
            "is_blocking": {
             "type": "boolean",
             "description": "Indicates whether current Action Plan Item is blocking other Action Plan Items"
            },
            "notes": {
             "type": "string",
             "nullable": true,
             "description": "Free-text notes attached to this Action Plan Item.",
             "example": "Noting this Action Plan Item is complete"
            },
            "plan_id": {
             "type": "string",
             "description": "ID of the Action Plan this item belongs to.",
             "example": "43584"
            },
            "position": {
             "type": "integer",
             "description": "Ordinal position of this item within its section.",
             "example": 3
            },
            "plan_section_id": {
             "type": "string",
             "description": "ID of the section this item belongs to within the Action Plan.",
             "example": "43584"
            },
            "title": {
             "type": "string",
             "description": "Short title summarizing the inspection or task for this Action Plan Item.",
             "example": "A New Action Plan Item"
            },
            "status": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique identifier for the item status. Reflects the item's real status, including any company-custom status \u2014 unlike the v1.0 list endpoint, which downgrades company-custom statuses to the built-in status they map to.",
               "example": "2"
              },
              "name": {
               "type": "string",
               "description": "Display name of the status (e.g. 'In Progress', or a company-custom name such as 'Ready for Testing').",
               "example": "in_progress"
              },
              "status": {
               "type": "string",
               "description": "Underlying status type category this status maps to. Custom company statuses map to one of these built-in keys.",
               "enum": [
                "open",
                "in_progress",
                "delayed",
                "closed"
               ],
               "example": "in_progress"
              },
              "global": {
               "type": "boolean",
               "description": "Whether this is a built-in Procore status available to every company.",
               "example": true
              }
             }
            },
            "template_item_id": {
             "type": "string",
             "nullable": true,
             "description": "ID of the plan template item this item was generated from. Null if the item was created directly rather than from a template.",
             "example": "43584"
            },
            "updated_at": {
             "type": "string",
             "description": "Timestamp in ISO 8601 format when this item was last updated.",
             "example": "2018-09-20T21:39:40Z"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found. Action Plan Item does not exist.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict. The parent Action Plan is not in a modifiable state.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity. Validation failed for the provided attributes.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plan_items/%7Bid%7D',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    plan_item: {\n      title: 'Inspect fire extinguishers',\n      description: 'Verify all extinguishers are charged and tagged.',\n      due_at: '2024-12-19T00:00:00Z',\n      holding_type: 'plan',\n      notes: 'Completed during morning walkthrough.',\n      status_id: '5'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_item\\\":{\\\"title\\\":\\\"Inspect fire extinguishers\\\",\\\"description\\\":\\\"Verify all extinguishers are charged and tagged.\\\",\\\"due_at\\\":\\\"2024-12-19T00:00:00Z\\\",\\\"holding_type\\\":\\\"plan\\\",\\\"notes\\\":\\\"Completed during morning walkthrough.\\\",\\\"status_id\\\":\\\"5\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plan_items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plan_items/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_item\":{\"title\":\"Inspect fire extinguishers\",\"description\":\"Verify all extinguishers are charged and tagged.\",\"due_at\":\"2024-12-19T00:00:00Z\",\"holding_type\":\"plan\",\"notes\":\"Completed during morning walkthrough.\",\"status_id\":\"5\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/action_plans/plan_items/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"plan_item\\\":{\\\"title\\\":\\\"Inspect fire extinguishers\\\",\\\"description\\\":\\\"Verify all extinguishers are charged and tagged.\\\",\\\"due_at\\\":\\\"2024-12-19T00:00:00Z\\\",\\\"holding_type\\\":\\\"plan\\\",\\\"notes\\\":\\\"Completed during morning walkthrough.\\\",\\\"status_id\\\":\\\"5\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added v2 Action Plan Item update endpoint",
      "description": "New v2 update endpoint that updates a single Action Plan Item and returns\nit wrapped in a top-level data object. Accepts the same attributes as the\nv1.0 update endpoint (title, description, due_at, holding_type, notes,\nstatus_id) and returns the item's company-custom status untouched (the\ndeprecated v1.0 update endpoint downgrades it to a built-in for legacy\nmobile clients).",
      "endpoint": "PATCH /companies/{company_id}/projects/{project_id}/action_plans/plan_items/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-08-10",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "action-plan-items?version=2.0#update-action-plan-item"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/action_plans/plan_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Action Plan Item",
    "description": "Creates an Action Plan Item for a given Action Plan Section.\n\nFor Procore mobile clients (identified by a `Procore-OSName` header of `iOS` or `android`), any company-custom item status in the response is downgraded to the built-in Procore status it maps to (`status` enum: `open`, `in_progress`, `delayed`, `closed`), so the returned `status` object and `status_id` always reference one of the four built-in statuses (ids 1-4). All other clients receive the untouched status. Use the v2 endpoint to always receive the full company-custom status.",
    "tags": [
     "Action Plan Items"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_item"
        ],
        "properties": {
         "plan_item": {
          "type": "object",
          "required": [
           "plan_section_id",
           "title"
          ],
          "properties": {
           "plan_section_id": {
            "type": "integer",
            "description": "Section ID of the Action Plan Item",
            "example": 42
           },
           "title": {
            "type": "string",
            "description": "Title of the Action Plan Item",
            "example": "A new Action Plan Item"
           },
           "description": {
            "type": "string",
            "description": "Description of the Action Plan Item",
            "example": "Must perform the 2 items for the Action Plan Item"
           },
           "notes": {
            "type": "string",
            "description": "Notes for the Action Plan Item",
            "example": "Noting this Action Plan Item is complete"
           },
           "due_at": {
            "type": "string",
            "format": "date-time",
            "description": "Due Date of the Action Plan Item",
            "example": "2017-07-29T21:39:40Z"
           },
           "holding_type": {
            "type": "string",
            "description": "Action Plan Item holding type specifies whether the current item holds all the succeeding items in the section or the plan",
            "enum": [
             "plan",
             "section"
            ],
            "example": "plan"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Action Plan Item (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Action Plan Item. Use as the {id} path parameter to show, update, delete, or move the item.",
           "example": 43584
          },
          "plan_item_assignees": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Action Plan Item Assignee (Compact)",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this Action Plan Item Assignee.",
              "example": 12
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp in ISO 8601 format when this assignee was created.",
              "example": "2018-09-20T21:39:40Z"
             },
             "is_holding": {
              "type": "boolean",
              "description": "Boolean flag indicating whether the assignee is necessary to sign for a hold point",
              "example": true
             },
             "is_locked": {
              "type": "boolean",
              "description": "Boolean flag indicating whether the assignee was added prior to an Action Plan's approval",
              "example": false
             },
             "party": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Party Person ID",
                "example": 23
               },
               "first_name": {
                "type": "string",
                "description": "First name of the Party Person",
                "example": "Paul"
               },
               "last_name": {
                "type": "string",
                "description": "Last name of the Party Person",
                "example": "Admin"
               },
               "name": {
                "type": "string",
                "description": "Full name of the Party Person",
                "example": "Paul Admin"
               },
               "user_id": {
                "type": "integer",
                "description": "User ID of the login account associated with this party person.",
                "example": 453
               },
               "is_employee": {
                "type": "boolean",
                "description": "Whether this party person is an employee of the current company, as opposed to an external vendor contact.",
                "example": true
               },
               "employee_id": {
                "type": "string",
                "description": "Employee ID string for this party person. Null if no employee ID is assigned.",
                "example": "12",
                "nullable": true
               },
               "login": {
                "type": "string",
                "description": "Email address (login) of the party person's user account.",
                "example": "login@example.com"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Time the Party Person was updated",
                "example": "2018-09-20T21:39:40Z"
               },
               "vendor": {
                "type": "object",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier of the vendor company this party person belongs to.",
                  "example": 223
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the vendor company this party person belongs to.",
                  "example": "Freddie's Excavating"
                 }
                }
               }
              }
             },
             "role": {
              "type": "string",
              "description": "Organizational role of this assignee on the Action Plan Item.",
              "enum": [
               "contractor",
               "specialty_contractor",
               "client",
               "architect",
               "third_party",
               "null",
               "internal"
              ],
              "example": "specialty_contractor"
             },
             "role_id": {
              "type": "integer",
              "description": "ID of the role record assigned to this assignee. Null when the assignee was added by party rather than by role.",
              "example": 17
             },
             "signature": {
              "type": "object",
              "nullable": true,
              "description": "Action Plan Item Assignee Signature (Show)",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for this item assignee signature record.",
                "example": 32
               },
               "attachment": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier of the Prostore file containing the signature image.",
                  "example": 23
                 },
                 "content_type": {
                  "type": "string",
                  "description": "MIME type of the signature file.",
                  "example": "image/png"
                 },
                 "name": {
                  "type": "string",
                  "description": "File name of the uploaded signature image.",
                  "example": "action_plan_signature_1_2_assignee_53.png"
                 },
                 "url": {
                  "type": "string",
                  "description": "URL to download the signature image. The URL is temporary and expires after a period.",
                  "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/signature.png"
                 }
                }
               },
               "captured_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp in ISO 8601 format when this signature was captured.",
                "example": "2015-02-07T00:00:00Z"
               },
               "captured_by": {
                "type": "object",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Party Person ID",
                  "example": 23
                 },
                 "first_name": {
                  "type": "string",
                  "description": "First name of the Party Person",
                  "example": "Paul"
                 },
                 "last_name": {
                  "type": "string",
                  "description": "Last name of the Party Person",
                  "example": "Admin"
                 },
                 "name": {
                  "type": "string",
                  "description": "Full name of the Party Person",
                  "example": "Paul Admin"
                 },
                 "user_id": {
                  "type": "integer",
                  "description": "User ID of the login account associated with this party person.",
                  "example": 453
                 },
                 "is_employee": {
                  "type": "boolean",
                  "description": "Indicates whether Party is an Employee of the current Company",
                  "example": true
                 },
                 "employee_id": {
                  "type": "integer",
                  "description": "Employee ID of this party person. Null if no employee ID is assigned.",
                  "example": 12,
                  "nullable": true
                 },
                 "login": {
                  "type": "string",
                  "description": "Email address (login) of the party person's user account.",
                  "example": "contractor@example.com"
                 },
                 "vendor": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Unique identifier of the vendor company this party person belongs to.",
                    "example": 223
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the vendor company this party person belongs to.",
                    "example": "Freddie's Excavating"
                   }
                  }
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp in ISO 8601 format when this party person record was last updated.",
                  "example": "2017-01-04T21:27:18Z"
                 }
                }
               }
              }
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp in ISO 8601 format when this assignee was last updated.",
              "example": "2018-09-20T21:39:40Z"
             },
             "verification_method": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for this verification method.",
                "example": 21
               },
               "active": {
                "type": "boolean",
                "description": "Whether this verification method is currently available for assignment. Inactive methods may still appear on existing assignees.",
                "example": true
               },
               "name": {
                "type": "string",
                "description": "Display name of the verification method (e.g., Hold Point, Witness Point, Review Record).",
                "example": "Hold Point"
               },
               "source_key": {
                "type": "string",
                "description": "Machine-readable key for this verification method. Use for programmatic comparisons rather than the display name.",
                "example": "hold_point"
               }
              }
             }
            }
           }
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp in ISO 8601 format when this item was created. Use with filters[created_at] for date-range filtering.",
           "example": "2018-09-20T21:39:40Z"
          },
          "description": {
           "type": "string",
           "nullable": true,
           "description": "Detailed description of the work or inspection required for this Action Plan Item.",
           "example": "A New Action Plan Item Description"
          },
          "due_at": {
           "type": "string",
           "format": "date-time",
           "nullable": true,
           "description": "Due date for this item in ISO 8601 format. Null if no due date has been set. Use with filters[due_at] for deadline-based filtering.",
           "example": "2017-07-29T21:39:40Z"
          },
          "holding_type": {
           "type": "string",
           "description": "Action Plan Item holding type specifies whether the current item holds all the succeeding items in the section or the plan",
           "enum": [
            "plan",
            "section"
           ],
           "example": "plan"
          },
          "is_blocked": {
           "type": "boolean",
           "description": "Indicates whether current Action Plan Item is blocked by another Action Plan Item"
          },
          "is_blocking": {
           "type": "boolean",
           "description": "Indicates whether current Action Plan Item is blocking other Action Plan Items"
          },
          "notes": {
           "type": "string",
           "nullable": true,
           "description": "Free-text notes attached to this Action Plan Item.",
           "example": "Noting this Action Plan Item is complete"
          },
          "plan_id": {
           "type": "integer",
           "description": "ID of the Action Plan this item belongs to. Use with filters[plan_id] to list all items in a specific plan.",
           "example": 43584
          },
          "position": {
           "type": "integer",
           "description": "Ordinal position of this item within its section. Items are displayed in ascending position order.",
           "example": 3
          },
          "plan_section_id": {
           "type": "integer",
           "description": "ID of the section this item belongs to within the Action Plan. Use with filters[plan_section_id] to list items in a specific section.",
           "example": 43584
          },
          "title": {
           "type": "string",
           "description": "Short title summarizing the inspection or task for this Action Plan Item.",
           "example": "A New Action Plan Item"
          },
          "status": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for the item status. For Procore mobile clients (requests sending a `Procore-OSName` header of `iOS` or `android`) the v1.0 Action Plan Item endpoints downgrade company-custom statuses to the built-in they map to, so this is always one of the four built-in statuses (1 - open, 2 - in_progress, 3 - delayed, 4 - closed). Other clients, and all v2.0 endpoints, return the untouched status, including any company-custom status.",
             "example": 2
            },
            "name": {
             "type": "string",
             "description": "Display name of the status (e.g. 'In Progress', or a company-custom name such as 'Ready for Testing' where the status isn't downgraded).",
             "example": "in_progress"
            },
            "status": {
             "type": "string",
             "description": "Underlying status type category this status maps to. Custom company statuses map to one of these built-in keys.",
             "enum": [
              "open",
              "in_progress",
              "delayed",
              "closed"
             ],
             "example": "in_progress"
            },
            "global": {
             "type": "boolean",
             "description": "Whether this is a built-in Procore status available to every company. Always true for Procore mobile clients on the v1.0 Action Plan Item endpoints (their company-custom statuses are downgraded to built-ins); other clients may receive a company-custom status, where this is false.",
             "example": true
            }
           }
          },
          "template_item_id": {
           "type": "integer",
           "nullable": true,
           "description": "ID of the plan template item this item was generated from. Null if the item was created directly rather than from a template.",
           "example": 43584
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp in ISO 8601 format when this item was last updated. Use with filters[updated_at] for change-based polling.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
[...]
