{
 "openapi": "3.0.0",
 "info": {
  "title": "Actual Production Quantities",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Actual Production Quantities",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/actual_production_quantities": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List all Actual Production Quantities",
    "description": "Return a list of all Actual Production Quantities for a specified Project.",
    "tags": [
     "Actual Production Quantity"
    ],
    "parameters": [
     {
      "name": "filters[unit_of_measure]",
      "in": "query",
      "description": "Return item(s) with the specified unit of measure.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[timesheet_id]",
      "in": "query",
      "description": "Timesheet ID. Returns item(s) with the specified Timesheet ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[crew_id]",
      "in": "query",
      "description": "Crew ID. Returns item(s) with the specified Crew ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Location ID. Returns item(s) with the specified Location ID or a range of Location IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 45
       }
      }
     },
     {
      "name": "filters[date]",
      "in": "query",
      "description": "Returns item(s) within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[approval_status]",
      "in": "query",
      "description": "Return Actual Production Quantities with the specified approval status.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "pending",
        "approved",
        "rejected",
        "locked"
       ]
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Actual Production Quantities",
         "items": {
          "type": "object",
          "description": "Actual Production Quantity",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "description": {
            "type": "string",
            "description": "The description of the Actual Production Quantity",
            "example": "Unable to complete installation due to weather"
           },
           "earned_production_quantity_id": {
            "type": "integer",
            "description": "The ID of the associated Earned Production Quantity in the Production Tracking system",
            "example": 1
           },
           "unit_of_measure": {
            "type": "string",
            "description": "The unit of measure the Actual Production Quantity was created with",
            "example": "Sf"
           },
           "quantity": {
            "type": "number",
            "description": "Amount of cost code installed",
            "example": 100
           },
           "timesheet_id": {
            "type": "integer",
            "description": "The Timesheet ID the Actual Production Quantity was created with",
            "example": 1
           },
           "location": {
            "type": "object",
            "title": "Location",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "1space>1 space"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "1 space"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "crew": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string"
             },
             "project_id": {
              "type": "integer"
             },
             "company_id": {
              "type": "integer"
             },
             "employees": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              }
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "lead": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at",
              "example": "2015-05-15T00:00:00Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at",
              "example": "2015-05-15T00:00:00Z"
             }
            }
           },
           "sub_job": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "origin_id": {
                "type": "string",
                "description": "The Third-party ID of the Sub Job"
               },
               "origin_data": {
                "type": "string",
                "description": "The Third-party Data of the Sub Job",
                "example": "{\"data_field\":{\"is_important\":true}}"
               },
               "created_at": {
                "type": "string",
                "description": "Created at",
                "example": "2017-08-14T21:39:40Z"
               },
               "updated_at": {
                "type": "string",
                "description": "Updated at",
                "example": "2017-08-15T21:39:40Z"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 3483483
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Floor 2"
               },
               "code": {
                "type": "string",
                "description": "Unique code in the scope of a Project",
                "example": 18
               }
              }
             }
            ]
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the actual production quantity was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the actual production quantity was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "cost_code": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Cost Code ID",
                "example": 12345
               },
               "biller_id": {
                "type": "integer",
                "description": "Biller ID",
                "example": 12345
               },
               "biller_type": {
                "type": "string",
                "enum": [
                 "Project",
                 "SubJob"
                ],
                "description": "Biller type",
                "example": "Project"
               },
               "code": {
                "type": "string",
                "description": "Cost code, not including parent prefix",
                "example": "300"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created at",
                "example": "2015-05-15T00:00:00Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Deleted at",
                "example": "2017-07-29T21:39:40Z"
               },
               "full_code": {
                "type": "string",
                "description": "Full Cost code, including parent prefixes",
                "example": "02-300"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Earthwork"
               },
               "parent_id": {
                "type": "integer",
                "description": "Parent",
                "example": 2345
               },
               "sortable_code": {
                "type": "string",
                "description": "Sortable code (this property is deprecated - see full_code)",
                "example": "02-300"
               },
               "standard_cost_code_id": {
                "type": "integer",
                "description": "Standard Cost Code ID",
                "example": 122334
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Updated at",
                "example": "2015-05-15T00:00:00Z"
               }
              }
             }
            ]
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the actual production quantity was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_by": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "Carl the Contractor"
               }
              }
             }
            ]
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date the actual production quantity was installed (YYYY-MM-DD)",
            "example": "2015-11-12"
           },
           "approval_status": {
            "type": "string",
            "enum": [
             "pending",
             "approved",
             "rejected",
             "locked"
            ],
            "description": "The approval status of the Actual Production Quantity",
            "example": "pending"
           },
           "rejection_reason": {
            "type": "string",
            "nullable": true,
            "description": "Free-form note describing why the Actual Production Quantity was rejected",
            "example": "Missing supporting photos"
           },
           "attachments": {
            "type": "array",
            "description": "Files attached to the Actual Production Quantity. Add attachments on create or update with `actual_production_quantity[prostore_file_ids]`, `[upload_ids]`, `[image_ids]`, `[drawing_revision_ids]`, `[file_version_ids]`, or `[form_ids]`.",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "File ID",
               "example": 1
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "contract.pdf"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com"
              },
              "filename": {
               "type": "string",
               "description": "Base name of the file without its path",
               "deprecated": true,
               "example": "contract.pdf"
              },
              "can_be_viewed": {
               "type": "boolean",
               "description": "Can be viewed",
               "example": false
              },
              "viewable": {
               "type": "boolean",
               "description": "Viewable",
               "example": true
              },
              "attached_to_item_id": {
               "type": "string",
               "description": "Attached to item ID",
               "nullable": true,
               "example": "51GW47XAV5N64CQ2F8HTWFW0M4"
              },
              "attached_to_item_type": {
               "type": "string",
               "description": "Attached to item type",
               "nullable": true,
               "example": "document_management_document_revision"
              },
              "viewer_url": {
               "type": "string",
               "description": "Unified viewer link",
               "nullable": true,
               "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/prostore/1?item_type=Observations%3A%3AItem&item_id=1&parent_id=1&fullscreen"
              },
              "thumbnail_url": {
               "type": "string",
               "nullable": true,
               "description": "URL of the large thumbnail for the attachment",
               "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/example_thumbnail.png"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities',\n  qs: {\n    'filters[unit_of_measure]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[timesheet_id]': 'SOME_STRING_VALUE',\n    'filters[crew_id]': 'SOME_STRING_VALUE',\n    'filters[location_id]': 'SOME_ARRAY_VALUE',\n    'filters[date]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[approval_status]': 'SOME_STRING_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities?filters%5Bunit_of_measure%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Btimesheet_id%5D=SOME_STRING_VALUE&filters%5Bcrew_id%5D=SOME_STRING_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bdate%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bapproval_status%5D=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities?filters%5Bunit_of_measure%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Btimesheet_id%5D=SOME_STRING_VALUE&filters%5Bcrew_id%5D=SOME_STRING_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bdate%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bapproval_status%5D=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities?filters%5Bunit_of_measure%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Btimesheet_id%5D=SOME_STRING_VALUE&filters%5Bcrew_id%5D=SOME_STRING_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bdate%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bapproval_status%5D=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Actual Production Quantity",
    "description": "Create new Actual Production Quantity associated with the specified Project.",
    "tags": [
     "Actual Production Quantity"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "actual_production_quantity"
        ],
        "properties": {
         "actual_production_quantity": {
          "title": "Actual Production Quantity",
          "type": "object",
          "required": [
           "quantity"
          ],
          "properties": {
           "quantity": {
            "type": "number",
            "description": "Amount installed",
            "example": 100
           },
           "description": {
            "type": "string",
            "description": "The description of the Actual Production Quantity",
            "example": "Unable to complete installation due to weather"
           },
           "wbs_code_id": {
            "type": "integer",
            "description": "The Production Quantity Code for the Actual Production Quantity. This is necessary if your project is configured for Task Codes. DO NOT provide if your project is not configured for Task Codes.",
            "example": 1234
           },
           "cost_code_id": {
            "type": "integer",
            "description": "The Cost Code ID for the Actual Production Quantity. DO NOT provide if your project is configured for Task Codes.",
            "example": 1
           },
           "crew_id": {
            "type": "integer",
            "description": "The Crew ID for the Actual Production Quantity",
            "example": 1
           },
           "location_id": {
            "type": "integer",
            "description": "The Location ID for the Actual Production Quantity",
            "example": 1
           },
           "timesheet_id": {
            "type": "integer",
            "description": "The Timesheet ID for the Actual Production Quantity. If the 'timesheet_id' is provided in the request, then the date for the timesheet will be associated with the production quantity, regardless of whether an additional date is sent in the request.",
            "example": 1
           },
           "sub_job_id": {
            "type": "integer",
            "description": "The Sub Job ID for the Actual Production Quantity. DO NOT provide if your project is configured for Task Codes.",
            "example": 1
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date the Actual Production Quantity was installed. The date will be associated with the production quantity only when 'timesheet_id' is not included in the request.",
            "example": "2015-02-06"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore Files to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             3
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "The specified array of upload ids is saved as Actual Production Quantity attachments.",
            "items": {
             "type": "string",
             "example": "1ZE146W9K804SAJJZX19JVAD0R"
            }
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             9
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             4
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             6
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             7
            ]
           },
           "installed_step_quantities": {
            "type": "array",
            "description": "Installed quantities keyed by production-tracking step. Required on create when the project uses rules of credit (at least one item). Optional on update; omit to leave existing steps unchanged. An empty array is treated as omitted on update and is rejected on create when rules of credit are on.",
            "items": {
             "type": "object",
             "required": [
              "step_id"
             ],
             "description": "One production-tracking step quantity on an Actual Production Quantity write. On create, every item must include `step_id` and `quantity` and must not include `_destroy`. On update, each item is a delta: `{ step_id, quantity }` upserts that step, `{ step_id, _destroy: true }` removes it. Do not send both `quantity` and `_destroy` on the same item. Duplicate `step_id` values in one array are rejected.",
             "properties": {
              "step_id": {
               "type": "integer",
               "description": "Identifier of the production-tracking step this quantity applies to. Must be an integer. Whether the step belongs to the project is validated by Production Tracking, not this endpoint.",
               "example": 42
              },
              "quantity": {
               "type": "number",
               "nullable": true,
               "description": "Installed quantity for this step. Numeric with at most two decimal places, from -999999999.99 to 999999999.99 inclusive. Zero and negatives are valid. Zero does not remove the step. Required on create. On update, omit or send null when `_destroy` is true.",
               "example": 10.5
              },
              "_destroy": {
               "type": "boolean",
               "nullable": true,
               "description": "When true on an update, removes this `step_id` from the Actual Production Quantity. Update only; omit or send null on create. Mutually exclusive with `quantity`.",
               "example": true
              }
             }
            },
            "example": [
             {
              "step_id": 42,
              "quantity": 10.5
             }
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Actual Production Quantity Created Succesfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Actual Production Quantity",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "description": {
           "type": "string",
           "description": "The description of the Actual Production Quantity",
           "example": "Unable to complete installation due to weather"
          },
          "earned_production_quantity_id": {
           "type": "integer",
           "description": "The ID of the associated Earned Production Quantity in the Production Tracking system",
           "example": 1
          },
          "unit_of_measure": {
           "type": "string",
           "description": "The unit of measure the Actual Production Quantity was created with",
           "example": "Sf"
          },
          "quantity": {
           "type": "number",
           "description": "Amount of cost code installed",
           "example": 100
          },
          "timesheet_id": {
           "type": "integer",
           "description": "The Timesheet ID the Actual Production Quantity was created with",
           "example": 1
          },
          "location": {
           "type": "object",
           "title": "Location",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "crew": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer"
            },
            "name": {
             "type": "string"
            },
            "project_id": {
             "type": "integer"
            },
            "company_id": {
             "type": "integer"
            },
            "employees": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "lead": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2015-05-15T00:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2015-05-15T00:00:00Z"
            }
           }
          },
          "sub_job": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "origin_id": {
               "type": "string",
               "description": "The Third-party ID of the Sub Job"
              },
              "origin_data": {
               "type": "string",
               "description": "The Third-party Data of the Sub Job",
               "example": "{\"data_field\":{\"is_important\":true}}"
              },
              "created_at": {
               "type": "string",
               "description": "Created at",
               "example": "2017-08-14T21:39:40Z"
              },
              "updated_at": {
               "type": "string",
               "description": "Updated at",
               "example": "2017-08-15T21:39:40Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 3483483
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Floor 2"
              },
              "code": {
               "type": "string",
               "description": "Unique code in the scope of a Project",
               "example": 18
              }
             }
            }
           ]
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the actual production quantity was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the actual production quantity was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "cost_code": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Cost Code ID",
               "example": 12345
              },
              "biller_id": {
               "type": "integer",
               "description": "Biller ID",
               "example": 12345
              },
              "biller_type": {
               "type": "string",
               "enum": [
                "Project",
                "SubJob"
               ],
               "description": "Biller type",
               "example": "Project"
              },
              "code": {
               "type": "string",
               "description": "Cost code, not including parent prefix",
               "example": "300"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2015-05-15T00:00:00Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Deleted at",
               "example": "2017-07-29T21:39:40Z"
              },
              "full_code": {
               "type": "string",
               "description": "Full Cost code, including parent prefixes",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              },
              "parent_id": {
               "type": "integer",
               "description": "Parent",
               "example": 2345
              },
              "sortable_code": {
               "type": "string",
               "description": "Sortable code (this property is deprecated - see full_code)",
               "example": "02-300"
              },
              "standard_cost_code_id": {
               "type": "integer",
               "description": "Standard Cost Code ID",
               "example": 122334
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2015-05-15T00:00:00Z"
              }
             }
            }
           ]
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the actual production quantity was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "Carl the Contractor"
              }
             }
            }
           ]
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Date the actual production quantity was installed (YYYY-MM-DD)",
           "example": "2015-11-12"
          },
          "approval_status": {
           "type": "string",
           "enum": [
            "pending",
            "approved",
            "rejected",
            "locked"
           ],
           "description": "The approval status of the Actual Production Quantity",
           "example": "pending"
          },
          "rejection_reason": {
           "type": "string",
           "nullable": true,
           "description": "Free-form note describing why the Actual Production Quantity was rejected",
           "example": "Missing supporting photos"
          },
          "attachments": {
           "type": "array",
           "description": "Files attached to the Actual Production Quantity. Add attachments on create or update with `actual_production_quantity[prostore_file_ids]`, `[upload_ids]`, `[image_ids]`, `[drawing_revision_ids]`, `[file_version_ids]`, or `[form_ids]`.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "File ID",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "contract.pdf"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com"
             },
             "filename": {
              "type": "string",
              "description": "Base name of the file without its path",
              "deprecated": true,
              "example": "contract.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "Can be viewed",
              "example": false
             },
             "viewable": {
              "type": "boolean",
              "description": "Viewable",
              "example": true
             },
             "attached_to_item_id": {
              "type": "string",
              "description": "Attached to item ID",
              "nullable": true,
              "example": "51GW47XAV5N64CQ2F8HTWFW0M4"
             },
             "attached_to_item_type": {
              "type": "string",
              "description": "Attached to item type",
              "nullable": true,
              "example": "document_management_document_revision"
             },
             "viewer_url": {
              "type": "string",
              "description": "Unified viewer link",
              "nullable": true,
              "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/prostore/1?item_type=Observations%3A%3AItem&item_id=1&parent_id=1&fullscreen"
             },
             "thumbnail_url": {
              "type": "string",
              "nullable": true,
              "description": "URL of the large thumbnail for the attachment",
              "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/example_thumbnail.png"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to create Actual Production Quantity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating Actual Production Quantity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities',\n  headers: {'content-type': 'application/json'},\n  body: {\n    actual_production_quantity: {\n      quantity: 100,\n      description: 'Unable to complete installation due to weather',\n      wbs_code_id: 1234,\n      cost_code_id: 1,\n      crew_id: 1,\n      location_id: 1,\n      timesheet_id: 1,\n      sub_job_id: 1,\n      date: '2015-02-06',\n      prostore_file_ids: [3],\n      upload_ids: ['1ZE146W9K804SAJJZX19JVAD0R'],\n      image_ids: [9],\n      drawing_revision_ids: [4],\n      file_version_ids: [6],\n      form_ids: [7],\n      installed_step_quantities: [{step_id: 42, quantity: 10.5}]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"actual_production_quantity\\\":{\\\"quantity\\\":100,\\\"description\\\":\\\"Unable to complete installation due to weather\\\",\\\"wbs_code_id\\\":1234,\\\"cost_code_id\\\":1,\\\"crew_id\\\":1,\\\"location_id\\\":1,\\\"timesheet_id\\\":1,\\\"sub_job_id\\\":1,\\\"date\\\":\\\"2015-02-06\\\",\\\"prostore_file_ids\\\":[3],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"],\\\"image_ids\\\":[9],\\\"drawing_revision_ids\\\":[4],\\\"file_version_ids\\\":[6],\\\"form_ids\\\":[7],\\\"installed_step_quantities\\\":[{\\\"step_id\\\":42,\\\"quantity\\\":10.5}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities \\\n  --header 'content-type: application/json' \\\n  --data '{\"actual_production_quantity\":{\"quantity\":100,\"description\":\"Unable to complete installation due to weather\",\"wbs_code_id\":1234,\"cost_code_id\":1,\"crew_id\":1,\"location_id\":1,\"timesheet_id\":1,\"sub_job_id\":1,\"date\":\"2015-02-06\",\"prostore_file_ids\":[3],\"upload_ids\":[\"1ZE146W9K804SAJJZX19JVAD0R\"],\"image_ids\":[9],\"drawing_revision_ids\":[4],\"file_version_ids\":[6],\"form_ids\":[7],\"installed_step_quantities\":[{\"step_id\":42,\"quantity\":10.5}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities\"),\n    Content = new StringContent(\"{\\\"actual_production_quantity\\\":{\\\"quantity\\\":100,\\\"description\\\":\\\"Unable to complete installation due to weather\\\",\\\"wbs_code_id\\\":1234,\\\"cost_code_id\\\":1,\\\"crew_id\\\":1,\\\"location_id\\\":1,\\\"timesheet_id\\\":1,\\\"sub_job_id\\\":1,\\\"date\\\":\\\"2015-02-06\\\",\\\"prostore_file_ids\\\":[3],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"],\\\"image_ids\\\":[9],\\\"drawing_revision_ids\\\":[4],\\\"file_version_ids\\\":[6],\\\"form_ids\\\":[7],\\\"installed_step_quantities\\\":[{\\\"step_id\\\":42,\\\"quantity\\\":10.5}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/actual_production_quantities/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Actual Production Quantity",
    "description": "Return Actual Production Quantity detailed information.",
    "tags": [
     "Actual Production Quantities"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "actual_production_quantity"
        ],
        "properties": {
         "actual_production_quantity": {
          "type": "object",
          "required": [
           "quantity"
          ],
          "properties": {
           "description": {
            "type": "string",
            "description": "The description of the Actual Production Quantity",
            "example": "Unable to complete installation due to weather"
           },
           "quantity": {
            "type": "number",
            "description": "Amount installed",
            "example": 100
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "The date the Actual Production Quantity was performed",
            "example": "2026-08-20"
           },
           "crew_id": {
            "type": "integer",
            "description": "The ID of the crew for the Actual Production Quantity",
            "example": 1
           },
           "location_id": {
            "type": "integer",
            "description": "The Location ID for the Actual Production Quantity",
            "example": 1
           },
           "approval_status": {
            "type": "string",
            "enum": [
             "pending",
             "approved",
             "rejected",
             "locked"
            ],
            "description": "The approval status of the Actual Production Quantity. Setting `approved` or `rejected` requires Admin on Production Tracking, or the matching granular permission; setting `locked` requires Admin. A `locked` APQ cannot be edited or deleted until it is unlocked.",
            "example": "approved"
           },
           "rejection_reason": {
            "type": "string",
            "description": "Free-form note describing why the Actual Production Quantity was rejected",
            "example": "Missing supporting photos"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore Files to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             3
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "The specified array of upload ids is saved as Actual Production Quantity attachments.",
            "items": {
             "type": "string",
             "example": "1ZE146W9K804SAJJZX19JVAD0R"
            }
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             9
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             4
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             6
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             7
            ]
           },
           "installed_step_quantities": {
            "type": "array",
            "description": "Installed quantities keyed by production-tracking step. Required on create when the project uses rules of credit (at least one item). Optional on update; omit to leave existing steps unchanged. An empty array is treated as omitted on update and is rejected on create when rules of credit are on.",
            "items": {
             "type": "object",
             "required": [
              "step_id"
             ],
             "description": "One production-tracking step quantity on an Actual Production Quantity write. On create, every item must include `step_id` and `quantity` and must not include `_destroy`. On update, each item is a delta: `{ step_id, quantity }` upserts that step, `{ step_id, _destroy: true }` removes it. Do not send both `quantity` and `_destroy` on the same item. Duplicate `step_id` values in one array are rejected.",
             "properties": {
              "step_id": {
               "type": "integer",
               "description": "Identifier of the production-tracking step this quantity applies to. Must be an integer. Whether the step belongs to the project is validated by Production Tracking, not this endpoint.",
               "example": 42
              },
              "quantity": {
               "type": "number",
               "nullable": true,
               "description": "Installed quantity for this step. Numeric with at most two decimal places, from -999999999.99 to 999999999.99 inclusive. Zero and negatives are valid. Zero does not remove the step. Required on create. On update, omit or send null when `_destroy` is true.",
               "example": 10.5
              },
              "_destroy": {
               "type": "boolean",
               "nullable": true,
               "description": "When true on an update, removes this `step_id` from the Actual Production Quantity. Update only; omit or send null on create. Mutually exclusive with `quantity`.",
               "example": true
              }
             }
            },
            "example": [
             {
              "step_id": 42,
              "quantity": 10.5
             }
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Actual Production Quantity",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "description": {
           "type": "string",
           "description": "The description of the Actual Production Quantity",
           "example": "Unable to complete installation due to weather"
          },
          "earned_production_quantity_id": {
           "type": "integer",
           "description": "The ID of the associated Earned Production Quantity in the Production Tracking system",
           "example": 1
          },
          "unit_of_measure": {
           "type": "string",
           "description": "The unit of measure the Actual Production Quantity was created with",
           "example": "Sf"
          },
          "quantity": {
           "type": "number",
           "description": "Amount of cost code installed",
           "example": 100
          },
          "timesheet_id": {
           "type": "integer",
           "description": "The Timesheet ID the Actual Production Quantity was created with",
           "example": 1
          },
          "location": {
           "type": "object",
           "title": "Location",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "crew": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer"
            },
            "name": {
             "type": "string"
            },
            "project_id": {
             "type": "integer"
            },
            "company_id": {
             "type": "integer"
            },
            "employees": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "lead": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2015-05-15T00:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2015-05-15T00:00:00Z"
            }
           }
          },
          "sub_job": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "origin_id": {
               "type": "string",
               "description": "The Third-party ID of the Sub Job"
              },
              "origin_data": {
               "type": "string",
               "description": "The Third-party Data of the Sub Job",
               "example": "{\"data_field\":{\"is_important\":true}}"
              },
              "created_at": {
               "type": "string",
               "description": "Created at",
               "example": "2017-08-14T21:39:40Z"
              },
              "updated_at": {
               "type": "string",
               "description": "Updated at",
               "example": "2017-08-15T21:39:40Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 3483483
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Floor 2"
              },
              "code": {
               "type": "string",
               "description": "Unique code in the scope of a Project",
               "example": 18
              }
             }
            }
           ]
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the actual production quantity was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the actual production quantity was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "cost_code": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Cost Code ID",
               "example": 12345
              },
              "biller_id": {
               "type": "integer",
               "description": "Biller ID",
               "example": 12345
              },
              "biller_type": {
               "type": "string",
               "enum": [
                "Project",
                "SubJob"
               ],
               "description": "Biller type",
               "example": "Project"
              },
              "code": {
               "type": "string",
               "description": "Cost code, not including parent prefix",
               "example": "300"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2015-05-15T00:00:00Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Deleted at",
               "example": "2017-07-29T21:39:40Z"
              },
              "full_code": {
               "type": "string",
               "description": "Full Cost code, including parent prefixes",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              },
              "parent_id": {
               "type": "integer",
               "description": "Parent",
               "example": 2345
              },
              "sortable_code": {
               "type": "string",
               "description": "Sortable code (this property is deprecated - see full_code)",
               "example": "02-300"
              },
              "standard_cost_code_id": {
               "type": "integer",
               "description": "Standard Cost Code ID",
               "example": 122334
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2015-05-15T00:00:00Z"
              }
             }
            }
           ]
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the actual production quantity was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "Carl the Contractor"
              }
             }
            }
           ]
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Date the actual production quantity was installed (YYYY-MM-DD)",
           "example": "2015-11-12"
          },
          "approval_status": {
           "type": "string",
           "enum": [
            "pending",
            "approved",
            "rejected",
            "locked"
           ],
           "description": "The approval status of the Actual Production Quantity",
           "example": "pending"
          },
          "rejection_reason": {
           "type": "string",
           "nullable": true,
           "description": "Free-form note describing why the Actual Production Quantity was rejected",
           "example": "Missing supporting photos"
          },
          "attachments": {
           "type": "array",
           "description": "Files attached to the Actual Production Quantity. Add attachments on create or update with `actual_production_quantity[prostore_file_ids]`, `[upload_ids]`, `[image_ids]`, `[drawing_revision_ids]`, `[file_version_ids]`, or `[form_ids]`.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "File ID",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "contract.pdf"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com"
             },
             "filename": {
              "type": "string",
              "description": "Base name of the file without its path",
              "deprecated": true,
              "example": "contract.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "Can be viewed",
              "example": false
             },
             "viewable": {
              "type": "boolean",
              "description": "Viewable",
              "example": true
             },
             "attached_to_item_id": {
              "type": "string",
              "description": "Attached to item ID",
              "nullable": true,
              "example": "51GW47XAV5N64CQ2F8HTWFW0M4"
             },
             "attached_to_item_type": {
              "type": "string",
              "description": "Attached to item type",
              "nullable": true,
              "example": "document_management_document_revision"
             },
             "viewer_url": {
              "type": "string",
              "description": "Unified viewer link",
              "nullable": true,
              "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/prostore/1?item_type=Observations%3A%3AItem&item_id=1&parent_id=1&fullscreen"
             },
             "thumbnail_url": {
              "type": "string",
              "nullable": true,
              "description": "URL of the large thumbnail for the attachment",
              "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/example_thumbnail.png"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    actual_production_quantity: {\n      description: 'Unable to complete installation due to weather',\n      quantity: 100,\n      date: '2026-08-20',\n      crew_id: 1,\n      location_id: 1,\n      approval_status: 'approved',\n      rejection_reason: 'Missing supporting photos',\n      prostore_file_ids: [3],\n      upload_ids: ['1ZE146W9K804SAJJZX19JVAD0R'],\n      image_ids: [9],\n      drawing_revision_ids: [4],\n      file_version_ids: [6],\n      form_ids: [7],\n      installed_step_quantities: [{step_id: 42, quantity: 10.5}]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"actual_production_quantity\\\":{\\\"description\\\":\\\"Unable to complete installation due to weather\\\",\\\"quantity\\\":100,\\\"date\\\":\\\"2026-08-20\\\",\\\"crew_id\\\":1,\\\"location_id\\\":1,\\\"approval_status\\\":\\\"approved\\\",\\\"rejection_reason\\\":\\\"Missing supporting photos\\\",\\\"prostore_file_ids\\\":[3],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"],\\\"image_ids\\\":[9],\\\"drawing_revision_ids\\\":[4],\\\"file_version_ids\\\":[6],\\\"form_ids\\\":[7],\\\"installed_step_quantities\\\":[{\\\"step_id\\\":42,\\\"quantity\\\":10.5}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"actual_production_quantity\":{\"description\":\"Unable to complete installation due to weather\",\"quantity\":100,\"date\":\"2026-08-20\",\"crew_id\":1,\"location_id\":1,\"approval_status\":\"approved\",\"rejection_reason\":\"Missing supporting photos\",\"prostore_file_ids\":[3],\"upload_ids\":[\"1ZE146W9K804SAJJZX19JVAD0R\"],\"image_ids\":[9],\"drawing_revision_ids\":[4],\"file_version_ids\":[6],\"form_ids\":[7],\"installed_step_quantities\":[{\"step_id\":42,\"quantity\":10.5}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/actual_production_quantities/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"actual_production_quantity\\\":{\\\"description\\\":\\\"Unable to complete installation due to weather\\\",\\\"quantity\\\":100,\\\"date\\\":\\\"2026-08-20\\\",\\\"crew_id\\\":1,\\\"location_id\\\":1,\\\"approval_status\\\":\\\"approved\\\",\\\"rejection_reason\\\":\\\"Missing supporting photos\\\",\\\"prostore_file_ids\\\":[3],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"],\\\"image_ids\\\":[9],\\\"drawing_revision_ids\\\":[4],\\\"file_version_ids\\\":[6],\\\"form_ids\\\":[7],\\\"installed_step_quantities\\\":[{\\\"step_id\\\":42,\\\"quantity\\\":10.5}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Actual Production Quantity",
    "description": "Update Actual Production Quantity associated with the specific Project.",
    "tags": [
     "Actual Production Quantity"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "actual_production_quantity"
        ],
        "properties": {
         "actual_production_quantity": {
          "type": "object",
          "required": [
           "quantity"
          ],
          "properties": {
           "description": {
            "type": "string",
            "description": "The description of the Actual Production Quantity",
            "example": "Unable to complete installation due to weather"
           },
           "quantity": {
            "type": "number",
            "description": "Amount installed",
            "example": 100
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "The date the Actual Production Quantity was performed",
            "example": "2026-08-20"
           },
           "crew_id": {
            "type": "integer",
            "description": "The ID of the crew for the Actual Production Quantity",
            "example": 1
           },
           "location_id": {
            "type": "integer",
            "description": "The Location ID for the Actual Production Quantity",
            "example": 1
           },
           "approval_status": {
            "type": "string",
            "enum": [
             "pending",
             "approved",
             "rejected",
             "locked"
            ],
            "description": "The approval status of the Actual Production Quantity. Setting `approved` or `rejected` requires Admin on Production Tracking, or the matching granular permission; setting `locked` requires Admin. A `locked` APQ cannot be edited or deleted until it is unlocked.",
            "example": "approved"
           },
           "rejection_reason": {
            "type": "string",
            "description": "Free-form note describing why the Actual Production Quantity was rejected",
            "example": "Missing supporting photos"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore Files to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             3
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "The specified array of upload ids is saved as Actual Production Quantity attachments.",
            "items": {
             "type": "string",
             "example": "1ZE146W9K804SAJJZX19JVAD0R"
            }
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             9
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             4
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             6
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the Actual Production Quantity",
            "items": {
             "type": "integer"
            },
            "example": [
             7
            ]
           },
           "installed_step_quantities": {
            "type": "array",
            "description": "Installed quantities keyed by production-tracking step. Required on create when the project uses rules of credit (at least one item). Optional on update; omit to leave existing steps unchanged. An empty array is treated as omitted on update and is rejected on create when rules of credit are on.",
            "items": {
             "type": "object",
             "required": [
              "step_id"
             ],
             "description": "One production-tracking step quantity on an Actual Production Quantity write. On create, every item must include `step_id` and `quantity` and must not include `_destroy`. On update, each item is a delta: `{ step_id, quantity }` upserts that step, `{ step_id, _destroy: true }` removes it. Do not send both `quantity` and `_destroy` on the same item. Duplicate `step_id` values in one array are rejected.",
             "properties": {
              "step_id": {
               "type": "integer",
               "description": "Identifier of the production-tracking step this quantity applies to. Must be an integer. Whether the step belongs to the project is validated by Production Tracking, not this endpoint.",
               "example": 42
              },
              "quantity": {
               "type": "number",
               "nullable": true,
               "description": "Installed quantity for this step. Numeric with at most two decimal places, from -999999999.99 to 999999999.99 inclusive. Zero and negatives are valid. Zero does not remove the step. Required on create. On update, omit or send null when `_destroy` is true.",
               "example": 10.5
              },
              "_destroy": {
               "type": "boolean",
               "nullable": true,
               "description": "When true on an update, removes this `step_id` from the Actual Production Quantity. Update only; omit or send null on create. Mutually exclusive with `quantity`.",
               "example": true
              }
             }
            },
            "example": [
             {
              "step_id": 42,
              "quantity": 10.5
             }
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Actual Production Quantity updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Actual Production Quantity",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "description": {
           "type": "string",
           "description": "The description of the Actual Production Quantity",
           "example": "Unable to complete installation due to weather"
          },
          "earned_production_quantity_id": {
           "type": "integer",
           "description": "The ID of the associated Earned Production Quantity in the Production Tracking system",
           "example": 1
          },
          "unit_of_measure": {
           "type": "string",
           "description": "The unit of measure the Actual Production Quantity was created with",
           "example": "Sf"
          },
          "quantity": {
           "type": "number",
           "description": "Amount of cost code installed",
           "example": 100
          },
          "timesheet_id": {
           "type": "integer",
           "description": "The Timesheet ID the Actual Production Quantity was created with",
           "example": 1
          },
          "location": {
           "type": "object",
           "title": "Location",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "crew": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer"
            },
            "name": {
             "type": "string"
            },
            "project_id": {
             "type": "integer"
            },
            "company_id": {
             "type": "integer"
            },
            "employees": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "lead": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2015-05-15T00:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2015-05-15T00:00:00Z"
            }
           }
          },
          "sub_job": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "origin_id": {
               "type": "string",
               "description": "The Third-party ID of the Sub Job"
              },
              "origin_data": {
               "type": "string",
               "description": "The Third-party Data of the Sub Job",
               "example": "{\"data_field\":{\"is_important\":true}}"
              },
              "created_at": {
               "type": "string",
               "description": "Created at",
               "example": "2017-08-14T21:39:40Z"
              },
              "updated_at": {
               "type": "string",
               "description": "Updated at",
               "example": "2017-08-15T21:39:40Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 3483483
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Floor 2"
              },
              "code": {
               "type": "string",
               "description": "Unique code in the scope of a Project",
               "example": 18
              }
             }
            }
           ]
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the actual production quantity was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the actual production quantity was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "cost_code": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Cost Code ID",
               "example": 12345
              },
              "biller_id": {
               "type": "integer",
               "description": "Biller ID",
               "example": 12345
              },
              "biller_type": {
               "type": "string",
               "enum": [
                "Project",
                "SubJob"
               ],
               "description": "Biller type",
               "example": "Project"
              },
              "code": {
               "type": "string",
               "description": "Cost code, not including parent prefix",
               "example": "300"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2015-05-15T00:00:00Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Deleted at",
               "example": "2017-07-29T21:39:40Z"
              },
              "full_code": {
               "type": "string",
               "description": "Full Cost code, including parent prefixes",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              },
              "parent_id": {
               "type": "integer",
               "description": "Parent",
               "example": 2345
              },
              "sortable_code": {
               "type": "string",
               "description": "Sortable code (this property is deprecated - see full_code)",
               "example": "02-300"
              },
              "standard_cost_code_id": {
               "type": "integer",
               "description": "Standard Cost Code ID",
               "example": 122334
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2015-05-15T00:00:00Z"
              }
             }
            }
           ]
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the actual production quantity was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "Carl the Contractor"
              }
             }
            }
           ]
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Date the actual production quantity was installed (YYYY-MM-DD)",
           "example": "2015-11-12"
          },
          "approval_status": {
           "type": "string",
           "enum": [
            "pending",
            "approved",
            "rejected",
            "locked"
           ],
           "description": "The approval status of the Actual Production Quantity",
           "example": "pending"
          },
          "rejection_reason": {
           "type": "string",
           "nullable": true,
           "description": "Free-form note describing why the Actual Production Quantity was rejected",
           "example": "Missing supporting photos"
          },
          "attachments": {
           "type": "array",
           "description": "Files attached to the Actual Production Quantity. Add attachments on create or update with `actual_production_quantity[prostore_file_ids]`, `[upload_ids]`, `[image_ids]`, `[drawing_revision_ids]`, `[file_version_ids]`, or `[form_ids]`.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "File ID",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "contract.pdf"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com"
             },
             "filename": {
              "type": "string",
              "description": "Base name of the file without its path",
              "deprecated": true,
              "example": "contract.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "Can be viewed",
              "example": false
             },
             "viewable": {
              "type": "boolean",
              "description": "Viewable",
              "example": true
             },
             "attached_to_item_id": {
              "type": "string",
              "description": "Attached to item ID",
              "nullable": true,
              "example": "51GW47XAV5N64CQ2F8HTWFW0M4"
             },
             "attached_to_item_type": {
              "type": "string",
              "description": "Attached to item type",
              "nullable": true,
              "example": "document_management_document_revision"
             },
             "viewer_url": {
              "type": "string",
              "description": "Unified viewer link",
              "nullable": true,
              "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/prostore/1?item_type=Observations%3A%3AItem&item_id=1&parent_id=1&fullscreen"
             },
             "thumbnail_url": {
              "type": "string",
              "nullable": true,
              "description": "URL of the large thumbnail for the attachment",
              "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/example_thumbnail.png"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to update Actual Production Quantities",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
[...]
