{
 "openapi": "3.0.0",
 "info": {
  "title": "Admin Equipment Logs",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Admin Equipment Logs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/equipment_logs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Equipment Logs",
    "description": "Returns all Equipment Logs for the current date.\n\nSee [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) for information on filtering the response using the log\\_date, start\\_date, and end\\_date parameters. Note that if none of the date parameters are provided in the call, only logs from the current date are returned.",
    "tags": [
     "Admin Equipment Logs"
    ],
    "parameters": [
     {
      "name": "log_date",
      "in": "query",
      "description": "Date of specific logs desired in YYYY-MM-DD format",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "description": "Start date of specific logs desired in YYYY-MM-DD format (use together with end_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "description": "End date of specific logs desired in YYYY-MM-DD format (use together with start_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Return item(s) created by the specified User ID",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Return item(s) with the specified Location ID.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 333675
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2012-10-23T21:39:40Z"
           },
           "date": {
            "type": "string",
            "description": "Date of record",
            "format": "date",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated UTC datetime of record",
            "example": "2016-05-19T12:00:00Z"
           },
           "hours_idle": {
            "type": "string",
            "description": "Number of hours the Equipment was idle",
            "example": "2.0"
           },
           "hours_operating": {
            "type": "string",
            "description": "Number of hours the Equipment was in operation",
            "example": "8.0"
           },
           "inspected": {
            "type": "boolean",
            "description": "Equipment was inspected before operation",
            "example": false
           },
           "inspection_hour": {
            "type": "integer",
            "description": "Time of inspection - hour",
            "example": 9,
            "maximum": 23,
            "minimum": 0
           },
           "inspection_minute": {
            "type": "integer",
            "description": "Time of Inspection - minute",
            "example": 50,
            "maximum": 59,
            "minimum": 0
           },
           "notes": {
            "type": "string",
            "description": "Additional Notes",
            "example": "Equipment notes"
           },
           "position": {
            "type": "integer",
            "description": "Order in which this entry was recorded for the day",
            "example": 11241
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2012-10-24T21:39:40Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "cost_code": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 12345
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Earthwork"
             }
            }
           },
           "equipment": {
            "type": "object",
            "description": "Equipment of Equipment (Legacy) Tool. Can't be present at the same time with 'equipment_register' field",
            "properties": {
             "id": {
              "type": "integer",
              "example": 15504
             },
             "project_id": {
              "type": "integer",
              "example": 14406
             },
             "position": {
              "type": "integer",
              "example": 18300
             },
             "name": {
              "type": "string",
              "example": "Jackhammer"
             }
            }
           },
           "equipment_register": {
            "type": "object",
            "description": "Equipment of Equipment Register (Beta) Tool. Can't be present at the same time with 'equipment' field",
            "properties": {
             "id": {
              "type": "string",
              "example": "01JFDH7QE1W2HC65VTAR4VCR23"
             },
             "name": {
              "type": "string",
              "example": "Jackhammer"
             }
            }
           },
           "permissions": {
            "type": "object",
            "description": "TBD",
            "properties": {
             "can_update": {
              "type": "boolean",
              "description": "Can Update",
              "example": true
             },
             "can_delete": {
              "type": "boolean",
              "description": "Can Delete",
              "example": false
             }
            }
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field",
                "example": "custom field value"
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                "example": "phone_number"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                "example": "with_code"
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": "Equipment Log Attachments are not viewable or used on web",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Use :name, :filename to be deprecated"
              },
              "url": {
               "type": "string"
              },
              "filename": {
               "type": "string",
               "description": ":filename to be deprecated, use :name"
              }
             }
            }
           },
           "vendor": {
            "type": "object",
            "title": "Compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique integer identifier for this vendor/company.",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Display name of the vendor or contractor company.",
              "example": "SID Architecture"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs',\n  qs: {\n    log_date: 'SOME_STRING_VALUE',\n    start_date: 'SOME_STRING_VALUE',\n    end_date: 'SOME_STRING_VALUE',\n    'filters[created_by_id]': 'SOME_INTEGER_VALUE',\n    'filters[location_id]': 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_INTEGER_VALUE&filters%5Blocation_id%5D=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_INTEGER_VALUE&filters%5Blocation_id%5D=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_INTEGER_VALUE&filters%5Blocation_id%5D=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Location filter",
      "description": "Added Location filter.",
      "endpoint": "GET /projects/{project_id}/equipment_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-04-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#list-equipment-logs"
     },
     {
      "summary": "Specify new response attributes",
      "description": "Specify new 'permissions' and 'custom_fields' response attributes",
      "endpoint": "GET /projects/{project_id}/equipment_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#list-equipment-logs"
     },
     {
      "summary": "Add equipment_register field to response",
      "description": "equipment_register field contains equipment which belongs to the Equipment Register (Beta) tool.",
      "endpoint": "GET /projects/{project_id}/equipment_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#list-equipment-logs"
     },
     {
      "summary": "Add vendor to response body for Equipment Logs get endpoint",
      "description": "Add vendor to response body for Equipment Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/equipment_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#list-equipment-logs"
     },
     {
      "summary": "Add daily_log_segment_id filter",
      "description": "Add daily_log_segment_id to filter parameter and response body for equipment Logs index endpoint.",
      "endpoint": "GET /projects/{project_id}/equipment_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#list-equipment-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/equipment_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#list-equipment-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Equipment Log",
    "description": "Creates single Equipment Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments\n* Locations",
    "tags": [
     "Admin Equipment Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "equipment_log"
        ],
        "properties": {
         "equipment_log": {
          "type": "object",
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of record. Format: YYYY-MM-DD",
            "example": "2016-04-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "hours_idle": {
            "type": "integer",
            "description": "Number of hours the Equipment was idle"
           },
           "hours_operating": {
            "type": "integer",
            "description": "Number of hours the Equipment was in operation"
           },
           "inspected": {
            "type": "boolean",
            "description": "Inspection status of Equipment before operation"
           },
           "inspection_hour": {
            "type": "integer",
            "description": "Time of inspection - hour",
            "maximum": 23,
            "minimum": 0
           },
           "inspection_minute": {
            "type": "integer",
            "description": "Time of inspection - minute",
            "maximum": 59,
            "minimum": 0
           },
           "notes": {
            "type": "string",
            "description": "Notes"
           },
           "location_id": {
            "nullable": true,
            "type": "integer",
            "description": "The ID of the Location of the Inspection Log. `location_id` takes precedence over `mt_location`"
           },
           "mt_location": {
            "type": "array",
            "nullable": true,
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "items": {
             "type": "string",
             "description": "Look at Daily Log Guide for more info."
            }
           },
           "cost_code_id": {
            "type": "integer",
            "description": "Cost Code ID"
           },
           "equipment_id": {
            "type": "integer",
            "description": "Equipment ID. This params is accepted only if project uses Equipment Legacy tool. Use equipment_register_id param if project uses Equipment Beta tool."
           },
           "equipment_name": {
            "type": "string",
            "description": "Equipment name. This Equipment will create on the fly if it doesn't exist and will take precedence over Equipment ID. This params is accepted only if project uses Equipment Legacy tool. Use equipment_register_id param if project uses Equipment Beta tool."
           },
           "equipment_register_id": {
            "type": "string",
            "description": "This params is accepted only if project uses Equipment Beta tool. Use equipment_id OR equipment_name param if project uses Equipment Legacy tool.",
            "example": "01JFDH7QE1W2HC65VTAR4VCR23"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the equipment log",
            "example": 1120327
           }
          }
         }
        },
        "example": {
         "equipment_log": {
          "date": "2016-05-20",
          "notes": "Equipment Inspected",
          "hours_idle": 2,
          "hours_operating": 8,
          "inspected": true,
          "inspection_hour": 9,
          "inspection_minute": 50,
          "mt_location": [
           "1space",
           "1 space"
          ],
          "cost_code_id": 65400439,
          "equipment_id": 15504,
          "equipment_name": "Hammer",
          "vendor_id": 1120327
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "equipment_log"
        ],
        "properties": {
         "equipment_log": {
          "type": "object",
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of record. Format: YYYY-MM-DD",
            "example": "2016-04-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "hours_idle": {
            "type": "integer",
            "description": "Number of hours the Equipment was idle"
           },
           "hours_operating": {
            "type": "integer",
            "description": "Number of hours the Equipment was in operation"
           },
           "inspected": {
            "type": "boolean",
            "description": "Inspection status of Equipment before operation"
           },
           "inspection_hour": {
            "type": "integer",
            "description": "Time of inspection - hour",
            "maximum": 23,
            "minimum": 0
           },
           "inspection_minute": {
            "type": "integer",
            "description": "Time of inspection - minute",
            "maximum": 59,
            "minimum": 0
           },
           "notes": {
            "type": "string",
            "description": "Notes"
           },
           "location_id": {
            "nullable": true,
            "type": "integer",
            "description": "The ID of the Location of the Inspection Log. `location_id` takes precedence over `mt_location`"
           },
           "mt_location": {
            "type": "array",
            "nullable": true,
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "items": {
             "type": "string",
             "description": "Look at Daily Log Guide for more info."
            }
           },
           "cost_code_id": {
            "type": "integer",
            "description": "Cost Code ID"
           },
           "equipment_id": {
            "type": "integer",
            "description": "Equipment ID. This params is accepted only if project uses Equipment Legacy tool. Use equipment_register_id param if project uses Equipment Beta tool."
           },
           "equipment_name": {
            "type": "string",
            "description": "Equipment name. This Equipment will create on the fly if it doesn't exist and will take precedence over Equipment ID. This params is accepted only if project uses Equipment Legacy tool. Use equipment_register_id param if project uses Equipment Beta tool."
           },
           "equipment_register_id": {
            "type": "string",
            "description": "This params is accepted only if project uses Equipment Beta tool. Use equipment_id OR equipment_name param if project uses Equipment Legacy tool.",
            "example": "01JFDH7QE1W2HC65VTAR4VCR23"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the equipment log",
            "example": 1120327
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Equipment Log Attachments. To upload attachments you must upload the entire payload as `multipart/form-data` content-type and specify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "example": "<attachment.png>",
           "description": "Look at Daily Log Guide for more info."
          }
         }
        },
        "example": {
         "equipment_log": {
          "date": "2016-05-20",
          "notes": "Equipment Inspected",
          "hours_idle": "2.0",
          "hours_operating": "8.0",
          "inspected": true,
          "inspection_hour": 9,
          "inspection_minute": 50,
          "mt_location": [
           "1space",
           "1 space"
          ],
          "cost_code_id": 65400439,
          "equipment_id": 15504,
          "equipment_name": "Hammer"
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "description": "Date of record",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "hours_idle": {
           "type": "string",
           "description": "Number of hours the Equipment was idle",
           "example": "2.0"
          },
          "hours_operating": {
           "type": "string",
           "description": "Number of hours the Equipment was in operation",
           "example": "8.0"
          },
          "inspected": {
           "type": "boolean",
           "description": "Equipment was inspected before operation",
           "example": false
          },
          "inspection_hour": {
           "type": "integer",
           "description": "Time of inspection - hour",
           "example": 9,
           "maximum": 23,
           "minimum": 0
          },
          "inspection_minute": {
           "type": "integer",
           "description": "Time of Inspection - minute",
           "example": 50,
           "maximum": 59,
           "minimum": 0
          },
          "notes": {
           "type": "string",
           "description": "Additional Notes",
           "example": "Equipment notes"
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 11241
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "cost_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 12345
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Earthwork"
            }
           }
          },
          "equipment": {
           "type": "object",
           "description": "Equipment of Equipment (Legacy) Tool. Can't be present at the same time with 'equipment_register' field",
           "properties": {
            "id": {
             "type": "integer",
             "example": 15504
            },
            "project_id": {
             "type": "integer",
             "example": 14406
            },
            "position": {
             "type": "integer",
             "example": 18300
            },
            "name": {
             "type": "string",
             "example": "Jackhammer"
            }
           }
          },
          "equipment_register": {
           "type": "object",
           "description": "Equipment of Equipment Register (Beta) Tool. Can't be present at the same time with 'equipment' field",
           "properties": {
            "id": {
             "type": "string",
             "example": "01JFDH7QE1W2HC65VTAR4VCR23"
            },
            "name": {
             "type": "string",
             "example": "Jackhammer"
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "TBD",
           "properties": {
            "can_update": {
             "type": "boolean",
             "description": "Can Update",
             "example": true
            },
            "can_delete": {
             "type": "boolean",
             "description": "Can Delete",
             "example": false
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Equipment Log Attachments are not viewable or used on web",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not create due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    equipment_log: {\n      date: '2016-05-20',\n      notes: 'Equipment Inspected',\n      hours_idle: 2,\n      hours_operating: 8,\n      inspected: true,\n      inspection_hour: 9,\n      inspection_minute: 50,\n      mt_location: ['1space', '1 space'],\n      cost_code_id: 65400439,\n      equipment_id: 15504,\n      equipment_name: 'Hammer',\n      vendor_id: 1120327\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"equipment_log\\\":{\\\"date\\\":\\\"2016-05-20\\\",\\\"notes\\\":\\\"Equipment Inspected\\\",\\\"hours_idle\\\":2,\\\"hours_operating\\\":8,\\\"inspected\\\":true,\\\"inspection_hour\\\":9,\\\"inspection_minute\\\":50,\\\"mt_location\\\":[\\\"1space\\\",\\\"1 space\\\"],\\\"cost_code_id\\\":65400439,\\\"equipment_id\\\":15504,\\\"equipment_name\\\":\\\"Hammer\\\",\\\"vendor_id\\\":1120327}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"equipment_log\":{\"date\":\"2016-05-20\",\"notes\":\"Equipment Inspected\",\"hours_idle\":2,\"hours_operating\":8,\"inspected\":true,\"inspection_hour\":9,\"inspection_minute\":50,\"mt_location\":[\"1space\",\"1 space\"],\"cost_code_id\":65400439,\"equipment_id\":15504,\"equipment_name\":\"Hammer\",\"vendor_id\":1120327}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"equipment_log\\\":{\\\"date\\\":\\\"2016-05-20\\\",\\\"notes\\\":\\\"Equipment Inspected\\\",\\\"hours_idle\\\":2,\\\"hours_operating\\\":8,\\\"inspected\\\":true,\\\"inspection_hour\\\":9,\\\"inspection_minute\\\":50,\\\"mt_location\\\":[\\\"1space\\\",\\\"1 space\\\"],\\\"cost_code_id\\\":65400439,\\\"equipment_id\\\":15504,\\\"equipment_name\\\":\\\"Hammer\\\",\\\"vendor_id\\\":1120327}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    equipment_log: '{\"date\":\"2016-05-20\",\"notes\":\"Equipment Inspected\",\"hours_idle\":\"2.0\",\"hours_operating\":\"8.0\",\"inspected\":true,\"inspection_hour\":9,\"inspection_minute\":50,\"mt_location\":[\"1space\",\"1 space\"],\"cost_code_id\":65400439,\"equipment_id\":15504,\"equipment_name\":\"Hammer\"}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"equipment_log\\\"\\r\\n\\r\\n{\\\"date\\\":\\\"2016-05-20\\\",\\\"notes\\\":\\\"Equipment Inspected\\\",\\\"hours_idle\\\":\\\"2.0\\\",\\\"hours_operating\\\":\\\"8.0\\\",\\\"inspected\\\":true,\\\"inspection_hour\\\":9,\\\"inspection_minute\\\":50,\\\"mt_location\\\":[\\\"1space\\\",\\\"1 space\\\"],\\\"cost_code_id\\\":65400439,\\\"equipment_id\\\":15504,\\\"equipment_name\\\":\\\"Hammer\\\"}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'equipment_log={\"date\":\"2016-05-20\",\"notes\":\"Equipment Inspected\",\"hours_idle\":\"2.0\",\"hours_operating\":\"8.0\",\"inspected\":true,\"inspection_hour\":9,\"inspection_minute\":50,\"mt_location\":[\"1space\",\"1 space\"],\"cost_code_id\":65400439,\"equipment_id\":15504,\"equipment_name\":\"Hammer\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"date\\\":\\\"2016-05-20\\\",\\\"notes\\\":\\\"Equipment Inspected\\\",\\\"hours_idle\\\":\\\"2.0\\\",\\\"hours_operating\\\":\\\"8.0\\\",\\\"inspected\\\":true,\\\"inspection_hour\\\":9,\\\"inspection_minute\\\":50,\\\"mt_location\\\":[\\\"1space\\\",\\\"1 space\\\"],\\\"cost_code_id\\\":65400439,\\\"equipment_id\\\":15504,\\\"equipment_name\\\":\\\"Hammer\\\"}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"equipment_log\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Specify new request params and response attributes",
      "description": "Specify new custom fields request params and response attributes - 'permissions' and 'custom_fields'",
      "endpoint": "POST /projects/{project_id}/equipment_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#create-equipment-log"
     },
     {
      "summary": "Add Attachments by Reference",
      "description": "Add new attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /projects/{project_id}/equipment_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-05-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#create-equipment-log"
     },
     {
      "summary": "Add equipment_register_id param",
      "description": "Added equipment_register_id param to update equipment for project's with enabled Equipment Beta tool.\nequipment_id and equipment_name can still be used for projects with Equipment Legacy tool enabled.",
      "endpoint": "POST /projects/{project_id}/equipment_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#create-equipment-log"
     },
     {
      "summary": "Add equipment_register field to response",
      "description": "equipment_register field contains equipment which belongs to the Equipment Register (Beta) tool.",
      "endpoint": "POST /projects/{project_id}/equipment_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#create-equipment-log"
     },
     {
      "summary": "Add vendor_id as parameter to request body and return vendor in response for Equipment Logs create endpoint",
      "description": "Add vendor_id as parameter to request body and return vendor in response for Equipment Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/equipment_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#create-equipment-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for equipment Logs create endpoint",
      "description": "Add daily_log_segment_id to request body and response body for equipment Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/equipment_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#create-equipment-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "POST /projects/{project_id}/equipment_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#create-equipment-log"
     },
     {
      "summary": "Validate log type is enabled on create",
      "description": "POST create now validates that equipment logs are enabled in the project's Daily Log configuration.\nRequests are rejected with an InvalidLog error when the log type is disabled.",
      "endpoint": "POST /projects/{project_id}/equipment_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#create-equipment-log"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/equipment_logs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Equipment Log ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Equipment Logs",
    "description": "Returns single Equipment Log.",
    "tags": [
     "Admin Equipment Logs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "description": "Date of record",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "hours_idle": {
           "type": "string",
           "description": "Number of hours the Equipment was idle",
           "example": "2.0"
          },
          "hours_operating": {
           "type": "string",
           "description": "Number of hours the Equipment was in operation",
           "example": "8.0"
          },
          "inspected": {
           "type": "boolean",
           "description": "Equipment was inspected before operation",
           "example": false
          },
          "inspection_hour": {
           "type": "integer",
           "description": "Time of inspection - hour",
           "example": 9,
           "maximum": 23,
           "minimum": 0
          },
          "inspection_minute": {
           "type": "integer",
           "description": "Time of Inspection - minute",
           "example": 50,
           "maximum": 59,
           "minimum": 0
          },
          "notes": {
           "type": "string",
           "description": "Additional Notes",
           "example": "Equipment notes"
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 11241
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "cost_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 12345
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Earthwork"
            }
           }
          },
          "equipment": {
           "type": "object",
           "description": "Equipment of Equipment (Legacy) Tool. Can't be present at the same time with 'equipment_register' field",
           "properties": {
            "id": {
             "type": "integer",
             "example": 15504
            },
            "project_id": {
             "type": "integer",
             "example": 14406
            },
            "position": {
             "type": "integer",
             "example": 18300
            },
            "name": {
             "type": "string",
             "example": "Jackhammer"
            }
           }
          },
          "equipment_register": {
           "type": "object",
           "description": "Equipment of Equipment Register (Beta) Tool. Can't be present at the same time with 'equipment' field",
           "properties": {
            "id": {
             "type": "string",
             "example": "01JFDH7QE1W2HC65VTAR4VCR23"
            },
            "name": {
             "type": "string",
             "example": "Jackhammer"
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "TBD",
           "properties": {
            "can_update": {
             "type": "boolean",
             "description": "Can Update",
             "example": true
            },
            "can_delete": {
             "type": "boolean",
             "description": "Can Delete",
             "example": false
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Equipment Log Attachments are not viewable or used on web",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/equipment_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Specify new response attributes",
      "description": "Specify new 'permissions' and 'custom_fields' response attributes",
      "endpoint": "GET /projects/{project_id}/equipment_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#show-equipment-logs"
     },
     {
      "summary": "Add equipment_register field to response",
      "description": "equipment_register field contains equipment which belongs to the Equipment Register (Beta) tool.",
      "endpoint": "GET /projects/{project_id}/equipment_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#show-equipment-logs"
     },
     {
      "summary": "Add vendor to response body for Equipment Logs get endpoint",
      "description": "Add vendor to response body for Equipment Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/equipment_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#show-equipment-logs"
     },
     {
      "summary": "Add daily_log_segment_id to response body for equipment Logs show endpoint",
      "description": "Add daily_log_segment_id to response body for equipment Logs show endpoint.",
      "endpoint": "GET /projects/{project_id}/equipment_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#show-equipment-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/equipment_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "admin-equipment-logs?version=1.0#show-equipment-logs"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Equipment Log",
    "description": "Update single Equipment Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments\n* Locations",
    "tags": [
     "Admin Equipment Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "equipment_log"
        ],
        "properties": {
         "equipment_log": {
          "type": "object",
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of record. Format: YYYY-MM-DD",
            "example": "2016-04-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "hours_idle": {
            "type": "integer",
            "description": "Number of hours the Equipment was idle"
           },
           "hours_operating": {
            "type": "integer",
            "description": "Number of hours the Equipment was in operation"
           },
           "inspected": {
            "type": "boolean",
            "description": "Inspection status of Equipment before operation"
           },
           "inspection_hour": {
            "type": "integer",
            "description": "Time of inspection - hour",
            "maximum": 23,
            "minimum": 0
           },
           "inspection_minute": {
            "type": "integer",
            "description": "Time of inspection - minute",
            "maximum": 59,
            "minimum": 0
           },
           "notes": {
            "type": "string",
            "description": "Notes"
           },
           "location_id": {
            "nullable": true,
            "type": "integer",
            "description": "The ID of the Location of the Inspection Log. `location_id` takes precedence over `mt_location`"
           },
           "mt_location": {
            "type": "array",
            "nullable": true,
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "items": {
             "type": "string",
             "description": "Look at Daily Log Guide for more info."
            }
           },
           "cost_code_id": {
            "type": "integer",
            "description": "Cost Code ID"
           },
           "equipment_id": {
            "type": "integer",
            "description": "Equipment ID. This params is accepted only if project uses Equipment Legacy tool. Use equipment_register_id param if project uses Equipment Beta tool."
           },
           "equipment_name": {
            "type": "string",
            "description": "Equipment name. This Equipment will create on the fly if it doesn't exist and will take precedence over Equipment ID. This params is accepted only if project uses Equipment Legacy tool. Use equipment_register_id param if project uses Equipment Beta tool."
           },
           "equipment_register_id": {
            "type": "string",
            "description": "This params is accepted only if project uses Equipment Beta tool. Use equipment_id OR equipment_name param if project uses Equipment Legacy tool.",
            "example": "01JFDH7QE1W2HC65VTAR4VCR23"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the equipment log",
            "example": 1120327
           }
          }
         }
        },
        "example": {
         "equipment_log": {
          "date": "2016-05-20",
          "notes": "Equipment Inspected",
          "hours_idle": 2,
          "hours_operating": 8,
          "inspected": true,
          "inspection_hour": 9,
          "inspection_minute": 50,
          "mt_location": [
           "1space",
           "1 space"
          ],
          "cost_code_id": 65400439,
          "equipment_id": 15504,
          "equipment_name": "Hammer",
          "vendor_id": 1120327
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "equipment_log"
        ],
        "properties": {
         "equipment_log": {
          "type": "object",
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of record. Format: YYYY-MM-DD",
            "example": "2016-04-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "hours_idle": {
            "type": "integer",
            "description": "Number of hours the Equipment was idle"
           },
           "hours_operating": {
            "type": "integer",
            "description": "Number of hours the Equipment was in operation"
           },
           "inspected": {
            "type": "boolean",
            "description": "Inspection status of Equipment before operation"
           },
           "inspection_hour": {
            "type": "integer",
            "description": "Time of inspection - hour",
            "maximum": 23,
            "minimum": 0
           },
           "inspection_minute": {
            "type": "integer",
            "description": "Time of inspection - minute",
            "maximum": 59,
            "minimum": 0
           },
           "notes": {
            "type": "string",
            "description": "Notes"
           },
           "location_id": {
            "nullable": true,
            "type": "integer",
            "description": "The ID of the Location of the Inspection Log. `location_id` takes precedence over `mt_location`"
           },
           "mt_location": {
            "type": "array",
            "nullable": true,
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "items": {
             "type": "string",
             "description": "Look at Daily Log Guide for more info."
            }
           },
           "cost_code_id": {
            "type": "integer",
            "description": "Cost Code ID"
           },
           "equipment_id": {
            "type": "integer",
            "description": "Equipment ID. This params is accepted only if project uses Equipment Legacy tool. Use equipment_register_id param if project uses Equipment Beta tool."
           },
           "equipment_name": {
            "type": "string",
            "description": "Equipment name. This Equipment will create on the fly if it doesn't exist and will take precedence over Equipment ID. This params is accepted only if project uses Equipment Legacy tool. Use equipment_register_id param if project uses Equipment Beta tool."
           },
           "equipment_register_id": {
            "type": "string",
            "description": "This params is accepted only if project uses Equipment Beta tool. Use equipment_id OR equipment_name param if project uses Equipment Legacy tool.",
            "example": "01JFDH7QE1W2HC65VTAR4VCR23"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the equipment log",
            "example": 1120327
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Equipment Log Attachments. To upload attachments you must upload the entire payload as `multipart/form-data` content-type and specify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "example": "<attachment.png>",
           "description": "Look at Daily Log Guide for more info."
          }
         }
        },
        "example": {
         "equipment_log": {
          "date": "2016-05-20",
          "notes": "Equipment Inspected",
          "hours_idle": "2.0",
          "hours_operating": "8.0",
          "inspected": true,
          "inspection_hour": 9,
          "inspection_minute": 50,
          "mt_location": [
           "1space",
           "1 space"
          ],
          "cost_code_id": 65400439,
          "equipment_id": 15504,
          "equipment_name": "Hammer"
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "description": "Date of record",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "hours_idle": {
           "type": "string",
           "description": "Number of hours the Equipment was idle",
           "example": "2.0"
          },
          "hours_operating": {
           "type": "string",
           "description": "Number of hours the Equipment was in operation",
           "example": "8.0"
          },
          "inspected": {
           "type": "boolean",
           "description": "Equipment was inspected before operation",
           "example": false
          },
          "inspection_hour": {
           "type": "integer",
           "description": "Time of inspection - hour",
           "example": 9,
           "maximum": 23,
           "minimum": 0
          },
          "inspection_minute": {
           "type": "integer",
           "description": "Time of Inspection - minute",
           "example": 50,
           "maximum": 59,
           "minimum": 0
          },
          "notes": {
           "type": "string",
           "description": "Additional Notes",
           "example": "Equipment notes"
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 11241
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "cost_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 12345
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Earthwork"
            }
           }
          },
          "equipment": {
           "type": "object",
           "description": "Equipment of Equipment (Legacy) Tool. Can't be present at the same time with 'equipment_register' field",
           "properties": {
            "id": {
             "type": "integer",
             "example": 15504
            },
            "project_id": {
             "type": "integer",
             "example": 14406
            },
            "position": {
             "type": "integer",
             "example": 18300
            },
            "name": {
             "type": "string",
             "example": "Jackhammer"
            }
           }
          },
          "equipment_register": {
           "type": "object",
           "description": "Equipment of Equipment Register (Beta) Tool. Can't be present at the same time with 'equipment' field",
           "properties": {
            "id": {
             "type": "string",
             "example": "01JFDH7QE1W2HC65VTAR4VCR23"
            },
            "name": {
             "type": "string",
             "example": "Jackhammer"
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "TBD",
           "properties": {
            "can_update": {
             "type": "boolean",
             "description": "Can Update",
             "example": true
            },
            "can_delete": {
             "type": "boolean",
             "description": "Can Delete",
             "example": false
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Equipment Log Attachments are not viewable or used on web",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not update due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
[...]
