{
 "openapi": "3.0.0",
 "info": {
  "title": "App Installations",
  "x-product-category": "Platform - Developer Tools",
  "x-tool-category": "App Marketplace",
  "x-resource-name": "App Installations",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/app_installations": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List app installations",
    "description": "Returns a list of app installations on a given company or project",
    "tags": [
     "App Installations"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company. You must supply either a company_id or project_id.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "description": "Unique identifier for the project. You must supply either a company_id or project_id.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "allOf": [
           {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 999
             },
             "app_uid": {
              "type": "string",
              "description": "App UID",
              "example": "dc2b6a12fc038f0d475b5e97984e5649334d0d44f1b3500f53a94643b15a0cac"
             },
             "agentic": {
              "type": "boolean",
              "description": "True when the installed app version's manifest declares agentic components (MCP servers or agents)",
              "example": false
             },
             "components": {
              "type": "array",
              "items": {
               "type": "string",
               "example": "fullscreen",
               "enum": [
                "agentic",
                "fullscreen",
                "iframe",
                "oauth",
                "sidepanel"
               ]
              },
              "description": "Component types associated with the installation"
             },
             "developer_app": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 999
               },
               "app_type": {
                "type": "string",
                "description": "App Type",
                "example": "external"
               },
               "connectable": {
                "type": "boolean",
                "description": "Connectable",
                "example": true
               },
               "description": {
                "type": "string",
                "description": "User provided description of developer app"
               },
               "internal": {
                "type": "boolean",
                "description": "Is the developer app internal",
                "example": false
               },
               "internal_name": {
                "type": "string",
                "description": "Internal name of developer app",
                "example": "Test Developer App"
               },
               "marketplace_app": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID",
                  "example": "e3b8a1a0-5b0a-4b5a-9b0a-5b0a4b5a9b0a"
                 },
                 "about": {
                  "type": "string",
                  "description": "About",
                  "example": "Test Marketplace App"
                 },
                 "approval_state": {
                  "type": "string",
                  "description": "Approval state",
                  "example": "approved"
                 },
                 "built_by": {
                  "type": "string",
                  "description": "Built by",
                  "example": "Test Developer"
                 },
                 "costs_money": {
                  "type": "boolean",
                  "description": "Costs money",
                  "example": false
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at",
                  "example": "2020-01-01T00:00:00Z"
                 },
                 "description": {
                  "type": "string",
                  "description": "Description",
                  "example": "Test Marketplace App"
                 },
                 "feature_bullets": {
                  "type": "array",
                  "description": "Feature bullets",
                  "items": {
                   "type": "string",
                   "example": "Test Marketplace App"
                  }
                 },
                 "helpful_links": {
                  "type": "array",
                  "description": "Helpful links",
                  "items": {
                   "type": "object",
                   "properties": {
                    "url": {
                     "type": "string",
                     "description": "URL",
                     "example": "https://www.example.com"
                    },
                    "label": {
                     "type": "string",
                     "description": "Label",
                     "example": "Test Marketplace App"
                    }
                   }
                  }
                 },
                 "how_it_works": {
                  "type": "string",
                  "description": "How it works",
                  "example": "Test Marketplace App"
                 },
                 "live": {
                  "type": "boolean",
                  "description": "Live",
                  "example": true
                 },
                 "pictures": {
                  "type": "array",
                  "description": "Pictures",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "ID",
                     "example": "e3b8a1a0-5b0a-4b5a-9b0a-5b0a4b5a9b0a"
                    },
                    "description": {
                     "type": "string",
                     "description": "Description",
                     "example": "Test Marketplace App Image"
                    },
                    "name": {
                     "type": "string",
                     "description": "Name",
                     "example": "Test Marketplace App Image"
                    },
                    "original_file_name": {
                     "type": "string",
                     "description": "Original file name",
                     "example": "e3b8a1a0-5b0a-4b5a-9b0a-5b0a4b5a9b0a.png"
                    },
                    "type": {
                     "type": "string",
                     "description": "Type",
                     "example": "Picture"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL",
                     "example": "https://www.example.com/image.png"
                    }
                   }
                  }
                 },
                 "public_name": {
                  "type": "string",
                  "description": "Public name",
                  "example": "Test Marketplace App"
                 },
                 "requirements": {
                  "type": "array",
                  "description": "Requirements",
                  "items": {
                   "type": "string",
                   "example": "Test Marketplace App"
                  }
                 },
                 "small_logo_url": {
                  "type": "string",
                  "description": "URL to the small logo image",
                  "example": "https://www.example.com/logo.png"
                 },
                 "state": {
                  "type": "string",
                  "description": "State",
                  "example": "published"
                 },
                 "support_email": {
                  "type": "string",
                  "description": "Support email",
                  "example": "support@example.com"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated at",
                  "example": "2020-01-01T00:00:00Z"
                 },
                 "version": {
                  "type": "integer",
                  "description": "Version",
                  "example": 1
                 },
                 "videos": {
                  "type": "array",
                  "description": "Videos",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "ID",
                     "example": "e3b8a1a0-5b0a-4b5a-9b0a-5b0a4b5a9b0a"
                    },
                    "description": {
                     "type": "string",
                     "description": "Description",
                     "example": "Test Marketplace App Video"
                    },
                    "name": {
                     "type": "string",
                     "description": "Name",
                     "example": "Test Marketplace App Video"
                    },
                    "original_filename": {
                     "type": "string",
                     "description": "Original file name",
                     "example": "e3b8a1a0-5b0a-4b5a-9b0a-5b0a4b5a9b0a.mp4"
                    },
                    "type": {
                     "type": "string",
                     "description": "Type",
                     "example": "Video"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL",
                     "example": "https://www.example.com/video.mp4"
                    }
                   }
                  }
                 },
                 "website_link": {
                  "type": "object",
                  "description": "Website link",
                  "properties": {
                   "url": {
                    "type": "string",
                    "description": "URL",
                    "example": "https://www.example.com"
                   },
                   "label": {
                    "type": "string",
                    "description": "Label",
                    "example": "Test Marketplace App"
                   }
                  }
                 }
                }
               },
               "marketplace_app_url": {
                "type": "string",
                "description": "URL to the marketplace app",
                "example": "https://www.example.com"
               },
               "name": {
                "type": "string",
                "description": "User name of developer app",
                "example": "Test Developer App"
               },
               "published_app_version_id": {
                "type": "string",
                "description": "ID of the published app version",
                "example": "6b38ad19-102e-4c55-ab65-45aed263b2d0"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "URL to the thumbnail image",
                "example": "https://www.example.com"
               },
               "uid": {
                "type": "string",
                "description": "UID",
                "example": "dc2b6a12fc038f0d475b5e97984e5649334d0d44f1b3500f53a94643b15a0cac"
               }
              }
             },
             "installed_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the app was installed or reinstalled",
              "example": "2020-01-01T00:00:00Z"
             },
             "installer": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the user.",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "The email address of the user that is used to log in.",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the user.",
                  "example": "Carl the Contractor"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "is_active": {
                  "type": "boolean",
                  "description": "User's contact is active in company",
                  "example": true,
                  "nullable": true
                 },
                 "contact_id": {
                  "type": "integer",
                  "description": "User's contact id in company",
                  "example": 12345,
                  "nullable": true
                 },
                 "company_name": {
                  "type": "string",
                  "description": "Vendor name",
                  "example": "Foo Construction",
                  "nullable": true
                 }
                }
               }
              ]
             },
             "semantic_version": {
              "type": "string",
              "description": "Semantic version of the app",
              "example": "1.0.0"
             },
             "status": {
              "type": "string",
              "description": "Installation status",
              "format": "string",
              "example": "installed",
              "enum": [
               "installed",
               "uninstalled"
              ]
             },
             "uninstalled_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the app was uninstalled"
             },
             "uninstaller": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the user.",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "The email address of the user that is used to log in.",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the user.",
                  "example": "Carl the Contractor"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "is_active": {
                  "type": "boolean",
                  "description": "User's contact is active in company",
                  "example": true,
                  "nullable": true
                 },
                 "contact_id": {
                  "type": "integer",
                  "description": "User's contact id in company",
                  "example": 12345,
                  "nullable": true
                 },
                 "company_name": {
                  "type": "string",
                  "description": "Vendor name",
                  "example": "Foo Construction",
                  "nullable": true
                 }
                }
               }
              ]
             },
             "updatable_app_version_id": {
              "type": "string",
              "description": "ID of the app version that can be updated to",
              "example": "6b38ad19-102e-4c55-ab65-45aed263b2d0"
             },
             "pending_operation_id": {
              "type": "string",
              "nullable": true,
              "description": "ID of the in-flight async permissions reapply operation, if one is currently running for this installation. Null when no async operation is in progress. Can be used to resume polling after a page reload.",
              "example": "12345"
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/app_installations',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    company_id: 'SOME_INTEGER_VALUE',\n    project_id: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/app_installations?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/app_installations?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/app_installations?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/app_installations/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "App installation ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show app installation",
    "description": "Get the details of a single app installation",
    "tags": [
     "App Installations"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company. You must supply either a company_id or project_id.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "description": "Unique identifier for the project. You must supply either a company_id or project_id.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 999
            },
            "app_uid": {
             "type": "string",
             "description": "App UID",
             "example": "dc2b6a12fc038f0d475b5e97984e5649334d0d44f1b3500f53a94643b15a0cac"
            },
            "app_version_id": {
             "type": "string",
             "description": "App Version Id",
             "example": "ab5c10c3-333d-44cb-93d7-24d08a227461"
            },
            "status": {
             "type": "string",
             "description": "Installation status",
             "format": "string",
             "example": "installed",
             "enum": [
              "installed",
              "uninstalled"
             ]
            },
            "installed_by": {
             "type": "string",
             "description": "Email Address of the user who installed the app",
             "format": "email",
             "example": "john.doe@example.com"
            },
            "installed_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the app was installed or reinstalled"
            },
            "uninstalled_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the app was uninstalled"
            },
            "uninstalled_by": {
             "type": "string",
             "description": "Email Address of the user who uninstalled the app",
             "format": "email",
             "example": "john.doe@example.com"
            },
            "manifest_url": {
             "type": "string",
             "description": "Presigned Temporary Url For Manifest Instance",
             "example": "https://www.example.com"
            },
            "developer_app": {
             "type": "object",
             "description": "Information on associated developer app from dev-portal"
            },
            "components": {
             "type": "array",
             "items": {
              "type": "string"
             },
             "description": "Component types associated with the installation"
            },
            "agentic": {
             "type": "boolean",
             "description": "True when the installed app version's manifest declares agentic components (MCP servers or agents)",
             "example": false
            }
           }
          }
         ],
         "properties": {
          "manifest": {
           "type": "object",
           "description": "Manifest Content"
          },
          "post_installation_instruction": {
           "type": "object",
           "description": "Post Installation Instructions For App"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/app_installations/%7Bid%7D',\n  qs: {company_id: 'SOME_INTEGER_VALUE', project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/app_installations/%7Bid%7D?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/app_installations/%7Bid%7D?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/app_installations/%7Bid%7D?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added agentic value to App Installation components",
      "description": "The components array in app installation responses can now include agentic, returned when the installed app version declares agentic components (MCP servers or agents).",
      "endpoint": "GET /app_installations/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "app-installations?version=1.0#show-app-installation"
     },
     {
      "summary": "Added agentic field to App Installation responses",
      "description": "Adds an agentic boolean to app installation responses, true when the installed app version's manifest declares agentic components (MCP servers or agents).",
      "endpoint": "GET /app_installations/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "app-installations?version=1.0#show-app-installation"
     },
     {
      "summary": "Added App Installation show endpoint",
      "description": "Show app installation",
      "endpoint": "GET /app_installations/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "app-installations?version=1.0#show-app-installation"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}