{
 "openapi": "3.0.0",
 "info": {
  "title": "Bid Forms",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Management",
  "x-resource-name": "Bid Forms",
  "version": "1.1",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/bid_packages/{bid_package_id}/bid_forms": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_package_id",
     "in": "path",
     "description": "Bid Package ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a Bid Form",
    "description": "Create a Bid Form for a Bid Package. A bid form is needed to submit a bid, since the bid will be made against the bid form.",
    "tags": [
     "Bid Forms"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "title"
        ],
        "properties": {
         "title": {
          "type": "string",
          "description": "Bid Form Title",
          "example": "Concrete"
         },
         "proposal_id": {
          "type": "integer",
          "description": "Proposal ID",
          "example": 1234
         },
         "lock_unit_fields_base_bid": {
          "type": "boolean",
          "description": "Lock unit fields for all base bid items. Must be sent explicitly (no inheritance from bid package). Defaults to false if not provided.",
          "example": false,
          "default": false
         },
         "lock_quantity_fields_base_bid": {
          "type": "boolean",
          "description": "Lock quantity fields for all base bid items. Must be sent explicitly (no inheritance from bid package). Defaults to false if not provided.",
          "example": false,
          "default": false
         },
         "lock_unit_fields_alternates": {
          "type": "boolean",
          "description": "Lock unit fields for all alternate items. Must be sent explicitly (no inheritance from bid package). Defaults to false if not provided.",
          "example": false,
          "default": false
         },
         "lock_quantity_fields_alternates": {
          "type": "boolean",
          "description": "Lock quantity fields for all alternate items. Must be sent explicitly (no inheritance from bid package). Defaults to false if not provided.",
          "example": false,
          "default": false
         },
         "base_bid": {
          "type": "array",
          "description": "Base Bids",
          "items": {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "Base Bid Form Item Title",
             "example": "Concrete"
            },
            "position": {
             "type": "integer",
             "description": "Position",
             "example": 1
            },
            "header": {
             "type": "boolean",
             "description": "Whether the item is a header or not",
             "example": true
            },
            "bid_form_items": {
             "type": "array",
             "description": "Bid Form Items",
             "items": {
              "type": "object",
              "properties": {
               "cost_code_id": {
                "type": "integer",
                "description": "Cost Code ID",
                "example": 1
               },
               "description": {
                "type": "string",
                "description": "Bid Form Item Description",
                "example": "Concrete"
               },
               "position": {
                "type": "integer",
                "description": "Position",
                "example": 1
               },
               "content_position": {
                "type": "integer",
                "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the values must form a unique, gapless 1, 2, 3, ... sequence per section.",
                "example": 2,
                "nullable": true
               },
               "subject": {
                "type": "string",
                "description": "Subject for Plain Text Items.",
                "example": "Is the insurance of tools included in the Bid?",
                "nullable": true
               },
               "item_type": {
                "type": "string",
                "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                "enum": [
                 "cost_code",
                 "plain_text"
                ]
               },
               "response_type": {
                "type": "string",
                "description": "Bid Form Items can have various response types. This property determines which one is used.",
                "enum": [
                 "amount",
                 "unit",
                 "include_exclude"
                ]
               },
               "estimated_amount": {
                "type": "number",
                "format": "double",
                "description": "Amount from the Layer of an Estimate",
                "example": 1000
               },
               "estimated_quantity": {
                "type": "number",
                "format": "double",
                "description": "Quantity from the Layer of an Estimate",
                "example": 10
               },
               "estimated_unit_of_measure": {
                "type": "string",
                "description": "Unit of Measure from the Layer of an Estimate",
                "example": "Cubic Yard"
               },
               "estimated_unit_cost": {
                "type": "number",
                "format": "double",
                "description": "Estimated Unit from the Layer of an Estimate",
                "example": 100
               },
               "layer_id": {
                "type": "integer",
                "description": "ID of the Layer in the Estimate",
                "example": 141
               },
               "locked_quantity": {
                "type": "number",
                "format": "double",
                "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                "example": 10.5,
                "nullable": true
               },
               "locked_unit_of_measure": {
                "type": "string",
                "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                "example": "sq ft",
                "nullable": true
               }
              }
             }
            },
            "sub_sections": {
             "type": "array",
             "description": "Sub Sections",
             "items": {
              "type": "object",
              "properties": {
               "title": {
                "type": "string",
                "description": "Sub Section Title",
                "example": "Floors 10-19"
               },
               "content_position": {
                "type": "integer",
                "description": "Position of this sub section in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the values must form a unique, gapless 1, 2, 3, ... sequence per section.",
                "example": 3,
                "nullable": true
               },
               "bid_form_items": {
                "type": "array",
                "description": "Bid Form Items",
                "items": {
                 "type": "object",
                 "properties": {
                  "cost_code_id": {
                   "type": "integer",
                   "description": "Cost Code ID",
                   "example": 1
                  },
                  "description": {
                   "type": "string",
                   "description": "Bid Form Item Description",
                   "example": "Concrete"
                  },
                  "position": {
                   "type": "integer",
                   "description": "Position",
                   "example": 1
                  },
                  "content_position": {
                   "type": "integer",
                   "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the values must form a unique, gapless 1, 2, 3, ... sequence per section.",
                   "example": 2,
                   "nullable": true
                  },
                  "subject": {
                   "type": "string",
                   "description": "Subject for Plain Text Items.",
                   "example": "Is the insurance of tools included in the Bid?",
                   "nullable": true
                  },
                  "item_type": {
                   "type": "string",
                   "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                   "enum": [
                    "cost_code",
                    "plain_text"
                   ]
                  },
                  "response_type": {
                   "type": "string",
                   "description": "Bid Form Items can have various response types. This property determines which one is used.",
                   "enum": [
                    "amount",
                    "unit",
                    "include_exclude"
                   ]
                  },
                  "estimated_amount": {
                   "type": "number",
                   "format": "double",
                   "description": "Amount from the Layer of an Estimate",
                   "example": 1000
                  },
                  "estimated_quantity": {
                   "type": "number",
                   "format": "double",
                   "description": "Quantity from the Layer of an Estimate",
                   "example": 10
                  },
                  "estimated_unit_of_measure": {
                   "type": "string",
                   "description": "Unit of Measure from the Layer of an Estimate",
                   "example": "Cubic Yard"
                  },
                  "estimated_unit_cost": {
                   "type": "number",
                   "format": "double",
                   "description": "Estimated Unit from the Layer of an Estimate",
                   "example": 100
                  },
                  "layer_id": {
                   "type": "integer",
                   "description": "ID of the Layer in the Estimate",
                   "example": 141
                  },
                  "locked_quantity": {
                   "type": "number",
                   "format": "double",
                   "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                   "example": 10.5,
                   "nullable": true
                  },
                  "locked_unit_of_measure": {
                   "type": "string",
                   "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                   "example": "sq ft",
                   "nullable": true
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         },
         "alternates": {
          "type": "array",
          "description": "Alternate bids",
          "items": {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "Alternate Bid Form Item Title",
             "example": "Flooring"
            },
            "position": {
             "type": "integer",
             "description": "Position",
             "example": 1
            },
            "header": {
             "type": "boolean",
             "description": "Whether the item is a header or not",
             "example": true
            },
            "bid_form_items": {
             "type": "array",
             "description": "Bid Form Items",
             "items": {
              "type": "object",
              "properties": {
               "cost_code_id": {
                "type": "integer",
                "description": "Cost Code ID",
                "example": 1
               },
               "description": {
                "type": "string",
                "description": "Bid Form Item Description",
                "example": "Concrete"
               },
               "position": {
                "type": "integer",
                "description": "Position",
                "example": 1
               },
               "content_position": {
                "type": "integer",
                "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the values must form a unique, gapless 1, 2, 3, ... sequence per section.",
                "example": 2,
                "nullable": true
               },
               "subject": {
                "type": "string",
                "description": "Subject for Plain Text Items.",
                "example": "Is the insurance of tools included in the Bid?",
                "nullable": true
               },
               "item_type": {
                "type": "string",
                "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                "enum": [
                 "cost_code",
                 "plain_text"
                ]
               },
               "response_type": {
                "type": "string",
                "description": "Bid Form Items can have various response types. This property determines which one is used.",
                "enum": [
                 "amount",
                 "unit",
                 "include_exclude"
                ]
               },
               "estimated_amount": {
                "type": "number",
                "format": "double",
                "description": "Amount from the Layer of an Estimate",
                "example": 1000
               },
               "estimated_quantity": {
                "type": "number",
                "format": "double",
                "description": "Quantity from the Layer of an Estimate",
                "example": 10
               },
               "estimated_unit_of_measure": {
                "type": "string",
                "description": "Unit of Measure from the Layer of an Estimate",
                "example": "Cubic Yard"
               },
               "estimated_unit_cost": {
                "type": "number",
                "format": "double",
                "description": "Estimated Unit from the Layer of an Estimate",
                "example": 100
               },
               "layer_id": {
                "type": "integer",
                "description": "ID of the Layer in the Estimate",
                "example": 141
               },
               "locked_quantity": {
                "type": "number",
                "format": "double",
                "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                "example": 10.5,
                "nullable": true
               },
               "locked_unit_of_measure": {
                "type": "string",
                "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                "example": "sq ft",
                "nullable": true
               }
              }
             }
            },
            "sub_sections": {
             "type": "array",
             "description": "Sub Sections",
             "items": {
              "type": "object",
              "properties": {
               "title": {
                "type": "string",
                "description": "Sub Section Title",
                "example": "Floors 10-19"
               },
               "content_position": {
                "type": "integer",
                "description": "Position of this sub section in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the values must form a unique, gapless 1, 2, 3, ... sequence per section.",
                "example": 3,
                "nullable": true
               },
               "bid_form_items": {
                "type": "array",
                "description": "Bid Form Items",
                "items": {
                 "type": "object",
                 "properties": {
                  "cost_code_id": {
                   "type": "integer",
                   "description": "Cost Code ID",
                   "example": 1
                  },
                  "description": {
                   "type": "string",
                   "description": "Bid Form Item Description",
                   "example": "Concrete"
                  },
                  "position": {
                   "type": "integer",
                   "description": "Position",
                   "example": 1
                  },
                  "content_position": {
                   "type": "integer",
                   "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the values must form a unique, gapless 1, 2, 3, ... sequence per section.",
                   "example": 2,
                   "nullable": true
                  },
                  "subject": {
                   "type": "string",
                   "description": "Subject for Plain Text Items.",
                   "example": "Is the insurance of tools included in the Bid?",
                   "nullable": true
                  },
                  "item_type": {
                   "type": "string",
                   "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                   "enum": [
                    "cost_code",
                    "plain_text"
                   ]
                  },
                  "response_type": {
                   "type": "string",
                   "description": "Bid Form Items can have various response types. This property determines which one is used.",
                   "enum": [
                    "amount",
                    "unit",
                    "include_exclude"
                   ]
                  },
                  "estimated_amount": {
                   "type": "number",
                   "format": "double",
                   "description": "Amount from the Layer of an Estimate",
                   "example": 1000
                  },
                  "estimated_quantity": {
                   "type": "number",
                   "format": "double",
                   "description": "Quantity from the Layer of an Estimate",
                   "example": 10
                  },
                  "estimated_unit_of_measure": {
                   "type": "string",
                   "description": "Unit of Measure from the Layer of an Estimate",
                   "example": "Cubic Yard"
                  },
                  "estimated_unit_cost": {
                   "type": "number",
                   "format": "double",
                   "description": "Estimated Unit from the Layer of an Estimate",
                   "example": 100
                  },
                  "layer_id": {
                   "type": "integer",
                   "description": "ID of the Layer in the Estimate",
                   "example": 141
                  },
                  "locked_quantity": {
                   "type": "number",
                   "format": "double",
                   "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                   "example": 10.5,
                   "nullable": true
                  },
                  "locked_unit_of_measure": {
                   "type": "string",
                   "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                   "example": "sq ft",
                   "nullable": true
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Bid Form",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "title": {
           "type": "string",
           "description": "Bid Form Title",
           "example": "Concrete"
          },
          "proposal_id": {
           "type": "integer",
           "description": "Proposal ID",
           "example": 1
          },
          "base_bid": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Base Bid",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1234
             },
             "title": {
              "type": "string",
              "description": "Bid Form Title",
              "example": "Concrete"
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1
             },
             "header": {
              "type": "boolean",
              "description": "Whether the item is a header or not",
              "example": true
             },
             "bid_form_items": {
              "type": "array",
              "items": {
               "type": "object",
               "description": "Bid Form Item",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 18
                },
                "cost_code": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 2
                  },
                  "name": {
                   "type": "string",
                   "description": "The cost code name",
                   "example": "Concrete"
                  },
                  "full_code": {
                   "type": "string",
                   "description": "The cost code long name",
                   "example": "2 - Concrete"
                  }
                 }
                },
                "description": {
                 "type": "string",
                 "description": "Bid Form Item Description",
                 "example": "Wood Doors",
                 "nullable": true
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 2,
                 "nullable": true
                },
                "subject": {
                 "type": "string",
                 "description": "Subject for Plain Text Items",
                 "example": "Is the insurance of tools included in the Bid?",
                 "nullable": true
                },
                "item_type": {
                 "type": "string",
                 "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                 "enum": [
                  "cost_code",
                  "plain_text"
                 ]
                },
                "response_type": {
                 "type": "string",
                 "description": "Bid Form Items can have various response types. This property determines which one is used.",
                 "enum": [
                  "amount",
                  "unit",
                  "include_exclude"
                 ]
                },
                "layer_id": {
                 "type": "integer",
                 "description": "ID of the Layer in the Estimate",
                 "example": 141
                },
                "locked_quantity": {
                 "type": "number",
                 "format": "double",
                 "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                 "example": 10.5,
                 "nullable": true
                },
                "locked_unit_of_measure": {
                 "type": "string",
                 "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                 "example": "sq ft",
                 "nullable": true
                }
               }
              }
             },
             "sub_sections": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 1234
                },
                "title": {
                 "type": "string",
                 "description": "Sub Section Title",
                 "example": "Floors 10-19"
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this sub section in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 3,
                 "nullable": true
                },
                "bid_form_items": {
                 "type": "array",
                 "description": "Bid Form Items",
                 "items": {
                  "type": "object",
                  "description": "Bid Form Item",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 18
                   },
                   "cost_code": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "example": 2
                     },
                     "name": {
                      "type": "string",
                      "description": "The cost code name",
                      "example": "Concrete"
                     },
                     "full_code": {
                      "type": "string",
                      "description": "The cost code long name",
                      "example": "2 - Concrete"
                     }
                    }
                   },
                   "description": {
                    "type": "string",
                    "description": "Bid Form Item Description",
                    "example": "Wood Doors",
                    "nullable": true
                   },
                   "position": {
                    "type": "integer",
                    "description": "Position",
                    "example": 1
                   },
                   "content_position": {
                    "type": "integer",
                    "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                    "example": 2,
                    "nullable": true
                   },
                   "subject": {
                    "type": "string",
                    "description": "Subject for Plain Text Items",
                    "example": "Is the insurance of tools included in the Bid?",
                    "nullable": true
                   },
                   "item_type": {
                    "type": "string",
                    "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                    "enum": [
                     "cost_code",
                     "plain_text"
                    ]
                   },
                   "response_type": {
                    "type": "string",
                    "description": "Bid Form Items can have various response types. This property determines which one is used.",
                    "enum": [
                     "amount",
                     "unit",
                     "include_exclude"
                    ]
                   },
                   "layer_id": {
                    "type": "integer",
                    "description": "ID of the Layer in the Estimate",
                    "example": 141
                   },
                   "locked_quantity": {
                    "type": "number",
                    "format": "double",
                    "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                    "example": 10.5,
                    "nullable": true
                   },
                   "locked_unit_of_measure": {
                    "type": "string",
                    "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                    "example": "sq ft",
                    "nullable": true
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          "alternates": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Alternate Bid",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1235
             },
             "title": {
              "type": "string",
              "description": "Bid Form Title",
              "example": "Concrete"
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1
             },
             "header": {
              "type": "boolean",
              "description": "Whether the item is a header or not",
              "example": true
             },
             "bid_form_items": {
              "type": "array",
              "items": {
               "type": "object",
               "description": "Bid Form Item",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 18
                },
                "cost_code": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 2
                  },
                  "name": {
                   "type": "string",
                   "description": "The cost code name",
                   "example": "Concrete"
                  },
                  "full_code": {
                   "type": "string",
                   "description": "The cost code long name",
                   "example": "2 - Concrete"
                  }
                 }
                },
                "description": {
                 "type": "string",
                 "description": "Bid Form Item Description",
                 "example": "Wood Doors",
                 "nullable": true
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 2,
                 "nullable": true
                },
                "subject": {
                 "type": "string",
                 "description": "Subject for Plain Text Items",
                 "example": "Is the insurance of tools included in the Bid?",
                 "nullable": true
                },
                "item_type": {
                 "type": "string",
                 "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                 "enum": [
                  "cost_code",
                  "plain_text"
                 ]
                },
                "response_type": {
                 "type": "string",
                 "description": "Bid Form Items can have various response types. This property determines which one is used.",
                 "enum": [
                  "amount",
                  "unit",
                  "include_exclude"
                 ]
                },
                "layer_id": {
                 "type": "integer",
                 "description": "ID of the Layer in the Estimate",
                 "example": 141
                },
                "locked_quantity": {
                 "type": "number",
                 "format": "double",
                 "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                 "example": 10.5,
                 "nullable": true
                },
                "locked_unit_of_measure": {
                 "type": "string",
                 "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                 "example": "sq ft",
                 "nullable": true
                }
               }
              }
             },
             "sub_sections": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 1234
                },
                "title": {
                 "type": "string",
                 "description": "Sub Section Title",
                 "example": "Floors 10-19"
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this sub section in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 3,
                 "nullable": true
                },
                "bid_form_items": {
                 "type": "array",
                 "description": "Bid Form Items",
                 "items": {
                  "type": "object",
                  "description": "Bid Form Item",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 18
                   },
                   "cost_code": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "example": 2
                     },
                     "name": {
                      "type": "string",
                      "description": "The cost code name",
                      "example": "Concrete"
                     },
                     "full_code": {
                      "type": "string",
                      "description": "The cost code long name",
                      "example": "2 - Concrete"
                     }
                    }
                   },
                   "description": {
                    "type": "string",
                    "description": "Bid Form Item Description",
                    "example": "Wood Doors",
                    "nullable": true
                   },
                   "position": {
                    "type": "integer",
                    "description": "Position",
                    "example": 1
                   },
                   "content_position": {
                    "type": "integer",
                    "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                    "example": 2,
                    "nullable": true
                   },
                   "subject": {
                    "type": "string",
                    "description": "Subject for Plain Text Items",
                    "example": "Is the insurance of tools included in the Bid?",
                    "nullable": true
                   },
                   "item_type": {
                    "type": "string",
                    "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                    "enum": [
                     "cost_code",
                     "plain_text"
                    ]
                   },
                   "response_type": {
                    "type": "string",
                    "description": "Bid Form Items can have various response types. This property determines which one is used.",
                    "enum": [
                     "amount",
                     "unit",
                     "include_exclude"
                    ]
                   },
                   "layer_id": {
                    "type": "integer",
                    "description": "ID of the Layer in the Estimate",
                    "example": 141
                   },
                   "locked_quantity": {
                    "type": "number",
                    "format": "double",
                    "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                    "example": 10.5,
                    "nullable": true
                   },
                   "locked_unit_of_measure": {
                    "type": "string",
                    "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                    "example": "sq ft",
                    "nullable": true
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Can not create due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bid_forms',\n  headers: {'content-type': 'application/json'},\n  body: {\n    title: 'Concrete',\n    proposal_id: 1234,\n    lock_unit_fields_base_bid: false,\n    lock_quantity_fields_base_bid: false,\n    lock_unit_fields_alternates: false,\n    lock_quantity_fields_alternates: false,\n    base_bid: [\n      {\n        title: 'Concrete',\n        position: 1,\n        header: true,\n        bid_form_items: [\n          {\n            cost_code_id: 1,\n            description: 'Concrete',\n            position: 1,\n            content_position: 2,\n            subject: 'Is the insurance of tools included in the Bid?',\n            item_type: 'cost_code',\n            response_type: 'amount',\n            estimated_amount: 1000,\n            estimated_quantity: 10,\n            estimated_unit_of_measure: 'Cubic Yard',\n            estimated_unit_cost: 100,\n            layer_id: 141,\n            locked_quantity: 10.5,\n            locked_unit_of_measure: 'sq ft'\n          }\n        ],\n        sub_sections: [\n          {\n            title: 'Floors 10-19',\n            content_position: 3,\n            bid_form_items: [\n              {\n                cost_code_id: 1,\n                description: 'Concrete',\n                position: 1,\n                content_position: 2,\n                subject: 'Is the insurance of tools included in the Bid?',\n                item_type: 'cost_code',\n                response_type: 'amount',\n                estimated_amount: 1000,\n                estimated_quantity: 10,\n                estimated_unit_of_measure: 'Cubic Yard',\n                estimated_unit_cost: 100,\n                layer_id: 141,\n                locked_quantity: 10.5,\n                locked_unit_of_measure: 'sq ft'\n              }\n            ]\n          }\n        ]\n      }\n    ],\n    alternates: [\n      {\n        title: 'Flooring',\n        position: 1,\n        header: true,\n        bid_form_items: [\n          {\n            cost_code_id: 1,\n            description: 'Concrete',\n            position: 1,\n            content_position: 2,\n            subject: 'Is the insurance of tools included in the Bid?',\n            item_type: 'cost_code',\n            response_type: 'amount',\n            estimated_amount: 1000,\n            estimated_quantity: 10,\n            estimated_unit_of_measure: 'Cubic Yard',\n            estimated_unit_cost: 100,\n            layer_id: 141,\n            locked_quantity: 10.5,\n            locked_unit_of_measure: 'sq ft'\n          }\n        ],\n        sub_sections: [\n          {\n            title: 'Floors 10-19',\n            content_position: 3,\n            bid_form_items: [\n              {\n                cost_code_id: 1,\n                description: 'Concrete',\n                position: 1,\n                content_position: 2,\n                subject: 'Is the insurance of tools included in the Bid?',\n                item_type: 'cost_code',\n                response_type: 'amount',\n                estimated_amount: 1000,\n                estimated_quantity: 10,\n                estimated_unit_of_measure: 'Cubic Yard',\n                estimated_unit_cost: 100,\n                layer_id: 141,\n                locked_quantity: 10.5,\n                locked_unit_of_measure: 'sq ft'\n              }\n            ]\n          }\n        ]\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"title\\\":\\\"Concrete\\\",\\\"proposal_id\\\":1234,\\\"lock_unit_fields_base_bid\\\":false,\\\"lock_quantity_fields_base_bid\\\":false,\\\"lock_unit_fields_alternates\\\":false,\\\"lock_quantity_fields_alternates\\\":false,\\\"base_bid\\\":[{\\\"title\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"header\\\":true,\\\"bid_form_items\\\":[{\\\"cost_code_id\\\":1,\\\"description\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"content_position\\\":2,\\\"subject\\\":\\\"Is the insurance of tools included in the Bid?\\\",\\\"item_type\\\":\\\"cost_code\\\",\\\"response_type\\\":\\\"amount\\\",\\\"estimated_amount\\\":1000,\\\"estimated_quantity\\\":10,\\\"estimated_unit_of_measure\\\":\\\"Cubic Yard\\\",\\\"estimated_unit_cost\\\":100,\\\"layer_id\\\":141,\\\"locked_quantity\\\":10.5,\\\"locked_unit_of_measure\\\":\\\"sq ft\\\"}],\\\"sub_sections\\\":[{\\\"title\\\":\\\"Floors 10-19\\\",\\\"content_position\\\":3,\\\"bid_form_items\\\":[{\\\"cost_code_id\\\":1,\\\"description\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"content_position\\\":2,\\\"subject\\\":\\\"Is the insurance of tools included in the Bid?\\\",\\\"item_type\\\":\\\"cost_code\\\",\\\"response_type\\\":\\\"amount\\\",\\\"estimated_amount\\\":1000,\\\"estimated_quantity\\\":10,\\\"estimated_unit_of_measure\\\":\\\"Cubic Yard\\\",\\\"estimated_unit_cost\\\":100,\\\"layer_id\\\":141,\\\"locked_quantity\\\":10.5,\\\"locked_unit_of_measure\\\":\\\"sq ft\\\"}]}]}],\\\"alternates\\\":[{\\\"title\\\":\\\"Flooring\\\",\\\"position\\\":1,\\\"header\\\":true,\\\"bid_form_items\\\":[{\\\"cost_code_id\\\":1,\\\"description\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"content_position\\\":2,\\\"subject\\\":\\\"Is the insurance of tools included in the Bid?\\\",\\\"item_type\\\":\\\"cost_code\\\",\\\"response_type\\\":\\\"amount\\\",\\\"estimated_amount\\\":1000,\\\"estimated_quantity\\\":10,\\\"estimated_unit_of_measure\\\":\\\"Cubic Yard\\\",\\\"estimated_unit_cost\\\":100,\\\"layer_id\\\":141,\\\"locked_quantity\\\":10.5,\\\"locked_unit_of_measure\\\":\\\"sq ft\\\"}],\\\"sub_sections\\\":[{\\\"title\\\":\\\"Floors 10-19\\\",\\\"content_position\\\":3,\\\"bid_form_items\\\":[{\\\"cost_code_id\\\":1,\\\"description\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"content_position\\\":2,\\\"subject\\\":\\\"Is the insurance of tools included in the Bid?\\\",\\\"item_type\\\":\\\"cost_code\\\",\\\"response_type\\\":\\\"amount\\\",\\\"estimated_amount\\\":1000,\\\"estimated_quantity\\\":10,\\\"estimated_unit_of_measure\\\":\\\"Cubic Yard\\\",\\\"estimated_unit_cost\\\":100,\\\"layer_id\\\":141,\\\"locked_quantity\\\":10.5,\\\"locked_unit_of_measure\\\":\\\"sq ft\\\"}]}]}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.1/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bid_forms\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bid_forms \\\n  --header 'content-type: application/json' \\\n  --data '{\"title\":\"Concrete\",\"proposal_id\":1234,\"lock_unit_fields_base_bid\":false,\"lock_quantity_fields_base_bid\":false,\"lock_unit_fields_alternates\":false,\"lock_quantity_fields_alternates\":false,\"base_bid\":[{\"title\":\"Concrete\",\"position\":1,\"header\":true,\"bid_form_items\":[{\"cost_code_id\":1,\"description\":\"Concrete\",\"position\":1,\"content_position\":2,\"subject\":\"Is the insurance of tools included in the Bid?\",\"item_type\":\"cost_code\",\"response_type\":\"amount\",\"estimated_amount\":1000,\"estimated_quantity\":10,\"estimated_unit_of_measure\":\"Cubic Yard\",\"estimated_unit_cost\":100,\"layer_id\":141,\"locked_quantity\":10.5,\"locked_unit_of_measure\":\"sq ft\"}],\"sub_sections\":[{\"title\":\"Floors 10-19\",\"content_position\":3,\"bid_form_items\":[{\"cost_code_id\":1,\"description\":\"Concrete\",\"position\":1,\"content_position\":2,\"subject\":\"Is the insurance of tools included in the Bid?\",\"item_type\":\"cost_code\",\"response_type\":\"amount\",\"estimated_amount\":1000,\"estimated_quantity\":10,\"estimated_unit_of_measure\":\"Cubic Yard\",\"estimated_unit_cost\":100,\"layer_id\":141,\"locked_quantity\":10.5,\"locked_unit_of_measure\":\"sq ft\"}]}]}],\"alternates\":[{\"title\":\"Flooring\",\"position\":1,\"header\":true,\"bid_form_items\":[{\"cost_code_id\":1,\"description\":\"Concrete\",\"position\":1,\"content_position\":2,\"subject\":\"Is the insurance of tools included in the Bid?\",\"item_type\":\"cost_code\",\"response_type\":\"amount\",\"estimated_amount\":1000,\"estimated_quantity\":10,\"estimated_unit_of_measure\":\"Cubic Yard\",\"estimated_unit_cost\":100,\"layer_id\":141,\"locked_quantity\":10.5,\"locked_unit_of_measure\":\"sq ft\"}],\"sub_sections\":[{\"title\":\"Floors 10-19\",\"content_position\":3,\"bid_form_items\":[{\"cost_code_id\":1,\"description\":\"Concrete\",\"position\":1,\"content_position\":2,\"subject\":\"Is the insurance of tools included in the Bid?\",\"item_type\":\"cost_code\",\"response_type\":\"amount\",\"estimated_amount\":1000,\"estimated_quantity\":10,\"estimated_unit_of_measure\":\"Cubic Yard\",\"estimated_unit_cost\":100,\"layer_id\":141,\"locked_quantity\":10.5,\"locked_unit_of_measure\":\"sq ft\"}]}]}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bid_forms\"),\n    Content = new StringContent(\"{\\\"title\\\":\\\"Concrete\\\",\\\"proposal_id\\\":1234,\\\"lock_unit_fields_base_bid\\\":false,\\\"lock_quantity_fields_base_bid\\\":false,\\\"lock_unit_fields_alternates\\\":false,\\\"lock_quantity_fields_alternates\\\":false,\\\"base_bid\\\":[{\\\"title\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"header\\\":true,\\\"bid_form_items\\\":[{\\\"cost_code_id\\\":1,\\\"description\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"content_position\\\":2,\\\"subject\\\":\\\"Is the insurance of tools included in the Bid?\\\",\\\"item_type\\\":\\\"cost_code\\\",\\\"response_type\\\":\\\"amount\\\",\\\"estimated_amount\\\":1000,\\\"estimated_quantity\\\":10,\\\"estimated_unit_of_measure\\\":\\\"Cubic Yard\\\",\\\"estimated_unit_cost\\\":100,\\\"layer_id\\\":141,\\\"locked_quantity\\\":10.5,\\\"locked_unit_of_measure\\\":\\\"sq ft\\\"}],\\\"sub_sections\\\":[{\\\"title\\\":\\\"Floors 10-19\\\",\\\"content_position\\\":3,\\\"bid_form_items\\\":[{\\\"cost_code_id\\\":1,\\\"description\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"content_position\\\":2,\\\"subject\\\":\\\"Is the insurance of tools included in the Bid?\\\",\\\"item_type\\\":\\\"cost_code\\\",\\\"response_type\\\":\\\"amount\\\",\\\"estimated_amount\\\":1000,\\\"estimated_quantity\\\":10,\\\"estimated_unit_of_measure\\\":\\\"Cubic Yard\\\",\\\"estimated_unit_cost\\\":100,\\\"layer_id\\\":141,\\\"locked_quantity\\\":10.5,\\\"locked_unit_of_measure\\\":\\\"sq ft\\\"}]}]}],\\\"alternates\\\":[{\\\"title\\\":\\\"Flooring\\\",\\\"position\\\":1,\\\"header\\\":true,\\\"bid_form_items\\\":[{\\\"cost_code_id\\\":1,\\\"description\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"content_position\\\":2,\\\"subject\\\":\\\"Is the insurance of tools included in the Bid?\\\",\\\"item_type\\\":\\\"cost_code\\\",\\\"response_type\\\":\\\"amount\\\",\\\"estimated_amount\\\":1000,\\\"estimated_quantity\\\":10,\\\"estimated_unit_of_measure\\\":\\\"Cubic Yard\\\",\\\"estimated_unit_cost\\\":100,\\\"layer_id\\\":141,\\\"locked_quantity\\\":10.5,\\\"locked_unit_of_measure\\\":\\\"sq ft\\\"}],\\\"sub_sections\\\":[{\\\"title\\\":\\\"Floors 10-19\\\",\\\"content_position\\\":3,\\\"bid_form_items\\\":[{\\\"cost_code_id\\\":1,\\\"description\\\":\\\"Concrete\\\",\\\"position\\\":1,\\\"content_position\\\":2,\\\"subject\\\":\\\"Is the insurance of tools included in the Bid?\\\",\\\"item_type\\\":\\\"cost_code\\\",\\\"response_type\\\":\\\"amount\\\",\\\"estimated_amount\\\":1000,\\\"estimated_quantity\\\":10,\\\"estimated_unit_of_measure\\\":\\\"Cubic Yard\\\",\\\"estimated_unit_cost\\\":100,\\\"layer_id\\\":141,\\\"locked_quantity\\\":10.5,\\\"locked_unit_of_measure\\\":\\\"sq ft\\\"}]}]}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Versioned endpoint",
      "description": "Versioned the endpoint since we added a new required field called `response_type` to the payload.",
      "endpoint": "POST /projects/{project_id}/bid_packages/{bid_package_id}/bid_forms",
      "type": "new",
      "breaking": true,
      "datestamp": "2023-07-13",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-forms?version=1.1#create-a-bid-form"
     },
     {
      "summary": "Added sub_sections",
      "description": "Added a new optional field called `sub_sections` to the payload. Added `sub_sections` to the response",
      "endpoint": "POST /projects/{project_id}/bid_packages/{bid_package_id}/bid_forms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-10-27",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-forms?version=1.1#create-a-bid-form"
     },
     {
      "summary": "Added proposal_id",
      "description": "Added proposal_id to the payload and response of the endpoint to represent the proposal/estimate in the Estimating tool.\nThis is to support the integration between the Bidding and Estimating tools.",
      "endpoint": "POST /projects/{project_id}/bid_packages/{bid_package_id}/bid_forms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-18",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-forms?version=1.1#create-a-bid-form"
     },
     {
      "summary": "Added layer_id",
      "description": "Added layer_id to the payload and response of bid form items to represent the layer in the Estimating tool.\nThis is to support the integration between the Bidding and Estimating tools.",
      "endpoint": "POST /projects/{project_id}/bid_packages/{bid_package_id}/bid_forms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-22",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-forms?version=1.1#create-a-bid-form"
     },
     {
      "summary": "Added lock fields for unit and quantity",
      "description": "Added 4 new lock fields to bid forms: lock_unit_fields_base_bid, lock_quantity_fields_base_bid,\nlock_unit_fields_alternates, and lock_quantity_fields_alternates. These fields allow solicitors\nto lock unit and quantity fields for bidders at the form level. Fields must be sent explicitly\nwhen creating a bid form (no automatic inheritance from bid package). Defaults to false if not provided.",
      "endpoint": "POST /projects/{project_id}/bid_packages/{bid_package_id}/bid_forms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-12-10",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-forms?version=1.1#create-a-bid-form"
     },
     {
      "summary": "Added locked_quantity and locked_unit_of_measure fields for bid form items",
      "description": "Added locked_quantity and locked_unit_of_measure fields to the payload and response of bid form items.\nThese fields allow locking quantity and unit of measure values that cannot be changed by bidders.",
      "endpoint": "POST /projects/{project_id}/bid_packages/{bid_package_id}/bid_forms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-12-24",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-forms?version=1.1#create-a-bid-form"
     },
     {
      "summary": "Added optional content_position field to bid form items and sub sections",
      "description": "Bid form create and bulk-create requests now accept an optional `content_position`\ninteger on each bid form item and sub section, and it is returned in bid form\nresponses. The field places items and sub sections in a single unified 1-based\nordering within their parent section. When provided for any child of a section it\nmust be provided for all of them, and the values must form a unique, gapless\nsequence (1, 2, 3, ...). Null when the unified ordering has not been assigned.",
      "endpoint": "POST /projects/{project_id}/bid_packages/{bid_package_id}/bid_forms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-03",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-forms?version=1.0#create-a-bid-form"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/bid_packages/{bid_package_id}/bid_forms/{bid_form_id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_package_id",
     "in": "path",
     "description": "Bid Package ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_form_id",
     "in": "path",
     "description": "Bid Form ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Bid Form",
    "description": "Update single Bid Form.",
    "tags": [
     "Bid Forms"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "title"
        ],
        "properties": {
         "title": {
          "type": "string",
          "description": "Bid Form Title",
          "example": "Concrete"
         },
         "proposal_id": {
          "type": "integer",
          "description": "Proposal ID",
          "example": 1
         },
         "lock_unit_fields_base_bid": {
          "type": "boolean",
          "description": "Lock unit fields for all base bid items",
          "example": false
         },
         "lock_quantity_fields_base_bid": {
          "type": "boolean",
          "description": "Lock quantity fields for all base bid items",
          "example": false
         },
         "lock_unit_fields_alternates": {
          "type": "boolean",
          "description": "Lock unit fields for all alternate items",
          "example": false
         },
         "lock_quantity_fields_alternates": {
          "type": "boolean",
          "description": "Lock quantity fields for all alternate items",
          "example": false
         },
         "base_bid": {
          "type": "array",
          "description": "Base Bids",
          "items": {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "Base Bid Form Item Title",
             "example": "Concrete"
            },
            "position": {
             "type": "integer",
             "description": "Position",
             "example": 1
            },
            "header": {
             "type": "boolean",
             "description": "Whether the item is a header or not",
             "example": true
            },
            "bid_form_items": {
             "type": "array",
             "description": "Bid Form Items",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1235
               },
               "cost_code_id": {
                "type": "integer",
                "description": "Cost Code ID",
                "example": 1
               },
               "description": {
                "type": "string",
                "description": "Bid Form Item Description",
                "example": "Concrete"
               },
               "position": {
                "type": "integer",
                "description": "Position",
                "example": 1
               },
               "content_position": {
                "type": "integer",
                "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the merged values (submitted children plus any omitted persisted siblings) must form a unique, gapless 1, 2, 3, ... sequence per section.",
                "example": 2,
                "nullable": true
               },
               "subject": {
                "type": "string",
                "description": "Subject for Plain Text Items.",
                "example": "Is the insurance of tools included in the Bid?",
                "nullable": true
               },
               "item_type": {
                "type": "string",
                "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                "enum": [
                 "cost_code",
                 "plain_text"
                ]
               },
               "response_type": {
                "type": "string",
                "description": "Bid Form Items can have various response types. This property determines which one is used.",
                "enum": [
                 "amount",
                 "unit",
                 "include_exclude"
                ]
               },
               "estimated_amount": {
                "type": "number",
                "format": "double",
                "description": "Amount from the Layer of an Estimate",
                "example": 1000
               },
               "estimated_quantity": {
                "type": "number",
                "format": "double",
                "description": "Quantity from the Layer of an Estimate",
                "example": 10
               },
               "estimated_unit_of_measure": {
                "type": "string",
                "description": "Unit of Measure from the Layer of an Estimate",
                "example": "Cubic Yard"
               },
               "estimated_unit_cost": {
                "type": "number",
                "format": "double",
                "description": "Estimated Unit from the Layer of an Estimate",
                "example": 100
               },
               "layer_id": {
                "type": "integer",
                "description": "ID of the Layer in the Estimate",
                "example": 141
               },
               "locked_quantity": {
                "type": "number",
                "format": "double",
                "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                "example": 10.5,
                "nullable": true
               },
               "locked_unit_of_measure": {
                "type": "string",
                "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                "example": "sq ft",
                "nullable": true
               }
              }
             }
            },
            "sub_sections": {
             "type": "array",
             "description": "Sub Sections",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1235
               },
               "title": {
                "type": "string",
                "description": "Sub Section Title",
                "example": "Floors 10-19"
               },
               "position": {
                "type": "integer",
                "description": "Position",
                "example": 1
               },
               "content_position": {
                "type": "integer",
                "description": "Position of this sub section in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the merged values (submitted children plus any omitted persisted siblings) must form a unique, gapless 1, 2, 3, ... sequence per section.",
                "example": 3,
                "nullable": true
               },
               "bid_form_items": {
                "type": "array",
                "description": "Bid Form Items",
                "items": {
                 "type": "object",
                 "properties": {
                  "cost_code_id": {
                   "type": "integer",
                   "description": "Cost Code ID",
                   "example": 1
                  },
                  "description": {
                   "type": "string",
                   "description": "Bid Form Item Description",
                   "example": "Concrete"
                  },
                  "position": {
                   "type": "integer",
                   "description": "Position",
                   "example": 1
                  },
                  "content_position": {
                   "type": "integer",
                   "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the values must form a unique, gapless 1, 2, 3, ... sequence per section.",
                   "example": 2,
                   "nullable": true
                  },
                  "subject": {
                   "type": "string",
                   "description": "Subject for Plain Text Items.",
                   "example": "Is the insurance of tools included in the Bid?",
                   "nullable": true
                  },
                  "item_type": {
                   "type": "string",
                   "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                   "enum": [
                    "cost_code",
                    "plain_text"
                   ]
                  },
                  "response_type": {
                   "type": "string",
                   "description": "Bid Form Items can have various response types. This property determines which one is used.",
                   "enum": [
                    "amount",
                    "unit",
                    "include_exclude"
                   ]
                  },
                  "estimated_amount": {
                   "type": "number",
                   "format": "double",
                   "description": "Amount from the Layer of an Estimate",
                   "example": 1000
                  },
                  "estimated_quantity": {
                   "type": "number",
                   "format": "double",
                   "description": "Quantity from the Layer of an Estimate",
                   "example": 10
                  },
                  "estimated_unit_of_measure": {
                   "type": "string",
                   "description": "Unit of Measure from the Layer of an Estimate",
                   "example": "Cubic Yard"
                  },
                  "estimated_unit_cost": {
                   "type": "number",
                   "format": "double",
                   "description": "Estimated Unit from the Layer of an Estimate",
                   "example": 100
                  },
                  "layer_id": {
                   "type": "integer",
                   "description": "ID of the Layer in the Estimate",
                   "example": 141
                  },
                  "locked_quantity": {
                   "type": "number",
                   "format": "double",
                   "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                   "example": 10.5,
                   "nullable": true
                  },
                  "locked_unit_of_measure": {
                   "type": "string",
                   "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                   "example": "sq ft",
                   "nullable": true
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         },
         "alternates": {
          "type": "array",
          "description": "Alternate bids",
          "items": {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "Alternate Bid Form Item Title",
             "example": "Flooring"
            },
            "position": {
             "type": "integer",
             "description": "Position",
             "example": 1
            },
            "header": {
             "type": "boolean",
             "description": "Whether the item is a header or not",
             "example": true
            },
            "bid_form_items": {
             "type": "array",
             "description": "Bid Form Items",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1235
               },
               "cost_code_id": {
                "type": "integer",
                "description": "Cost Code ID",
                "example": 1
               },
               "description": {
                "type": "string",
                "description": "Bid Form Item Description",
                "example": "Concrete"
               },
               "position": {
                "type": "integer",
                "description": "Position",
                "example": 1
               },
               "content_position": {
                "type": "integer",
                "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the merged values (submitted children plus any omitted persisted siblings) must form a unique, gapless 1, 2, 3, ... sequence per section.",
                "example": 2,
                "nullable": true
               },
               "subject": {
                "type": "string",
                "description": "Subject for Plain Text Items.",
                "example": "Is the insurance of tools included in the Bid?",
                "nullable": true
               },
               "item_type": {
                "type": "string",
                "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                "enum": [
                 "cost_code",
                 "plain_text"
                ]
               },
               "response_type": {
                "type": "string",
                "description": "Bid Form Items can have various response types. This property determines which one is used.",
                "enum": [
                 "amount",
                 "unit",
                 "include_exclude"
                ]
               },
               "estimated_amount": {
                "type": "number",
                "format": "double",
                "description": "Amount from the Layer of an Estimate",
                "example": 1000
               },
               "estimated_quantity": {
                "type": "number",
                "format": "double",
                "description": "Quantity from the Layer of an Estimate",
                "example": 10
               },
               "estimated_unit_of_measure": {
                "type": "string",
                "description": "Unit of Measure from the Layer of an Estimate",
                "example": "Cubic Yard"
               },
               "estimated_unit_cost": {
                "type": "number",
                "format": "double",
                "description": "Estimated Unit from the Layer of an Estimate",
                "example": 100
               },
               "layer_id": {
                "type": "integer",
                "description": "ID of the Layer in the Estimate",
                "example": 141
               },
               "locked_quantity": {
                "type": "number",
                "format": "double",
                "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                "example": 10.5,
                "nullable": true
               },
               "locked_unit_of_measure": {
                "type": "string",
                "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                "example": "sq ft",
                "nullable": true
               }
              }
             }
            },
            "sub_sections": {
             "type": "array",
             "description": "Sub Sections",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1235
               },
               "title": {
                "type": "string",
                "description": "Sub Section Title",
                "example": "Floors 10-19"
               },
               "position": {
                "type": "integer",
                "description": "Position",
                "example": 1
               },
               "content_position": {
                "type": "integer",
                "description": "Position of this sub section in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the merged values (submitted children plus any omitted persisted siblings) must form a unique, gapless 1, 2, 3, ... sequence per section.",
                "example": 3,
                "nullable": true
               },
               "bid_form_items": {
                "type": "array",
                "description": "Bid Form Items",
                "items": {
                 "type": "object",
                 "properties": {
                  "cost_code_id": {
                   "type": "integer",
                   "description": "Cost Code ID",
                   "example": 1
                  },
                  "description": {
                   "type": "string",
                   "description": "Bid Form Item Description",
                   "example": "Concrete"
                  },
                  "position": {
                   "type": "integer",
                   "description": "Position",
                   "example": 1
                  },
                  "content_position": {
                   "type": "integer",
                   "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Optional; when provided for any child of a section it must be provided for all of them, and the values must form a unique, gapless 1, 2, 3, ... sequence per section.",
                   "example": 2,
                   "nullable": true
                  },
                  "subject": {
                   "type": "string",
                   "description": "Subject for Plain Text Items.",
                   "example": "Is the insurance of tools included in the Bid?",
                   "nullable": true
                  },
                  "item_type": {
                   "type": "string",
                   "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                   "enum": [
                    "cost_code",
                    "plain_text"
                   ]
                  },
                  "response_type": {
                   "type": "string",
                   "description": "Bid Form Items can have various response types. This property determines which one is used.",
                   "enum": [
                    "amount",
                    "unit",
                    "include_exclude"
                   ]
                  },
                  "estimated_amount": {
                   "type": "number",
                   "format": "double",
                   "description": "Amount from the Layer of an Estimate",
                   "example": 1000
                  },
                  "estimated_quantity": {
                   "type": "number",
                   "format": "double",
                   "description": "Quantity from the Layer of an Estimate",
                   "example": 10
                  },
                  "estimated_unit_of_measure": {
                   "type": "string",
                   "description": "Unit of Measure from the Layer of an Estimate",
                   "example": "Cubic Yard"
                  },
                  "estimated_unit_cost": {
                   "type": "number",
                   "format": "double",
                   "description": "Estimated Unit from the Layer of an Estimate",
                   "example": 100
                  },
                  "layer_id": {
                   "type": "integer",
                   "description": "ID of the Layer in the Estimate",
                   "example": 141
                  },
                  "locked_quantity": {
                   "type": "number",
                   "format": "double",
                   "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                   "example": 10.5,
                   "nullable": true
                  },
                  "locked_unit_of_measure": {
                   "type": "string",
                   "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                   "example": "sq ft",
                   "nullable": true
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Bid Form",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "title": {
           "type": "string",
           "description": "Bid Form Title",
           "example": "Concrete"
          },
          "proposal_id": {
           "type": "integer",
           "description": "Proposal ID",
           "example": 1
          },
          "base_bid": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Base Bid",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1234
             },
             "title": {
              "type": "string",
              "description": "Bid Form Title",
              "example": "Concrete"
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1
             },
             "header": {
              "type": "boolean",
              "description": "Whether the item is a header or not",
              "example": true
             },
             "bid_form_items": {
              "type": "array",
              "items": {
               "type": "object",
               "description": "Bid Form Item",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 18
                },
                "cost_code": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 2
                  },
                  "name": {
                   "type": "string",
                   "description": "The cost code name",
                   "example": "Concrete"
                  },
                  "full_code": {
                   "type": "string",
                   "description": "The cost code long name",
                   "example": "2 - Concrete"
                  }
                 }
                },
                "description": {
                 "type": "string",
                 "description": "Bid Form Item Description",
                 "example": "Wood Doors",
                 "nullable": true
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 2,
                 "nullable": true
                },
                "subject": {
                 "type": "string",
                 "description": "Subject for Plain Text Items",
                 "example": "Is the insurance of tools included in the Bid?",
                 "nullable": true
                },
                "item_type": {
                 "type": "string",
                 "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                 "enum": [
                  "cost_code",
                  "plain_text"
                 ]
                },
                "response_type": {
                 "type": "string",
                 "description": "Bid Form Items can have various response types. This property determines which one is used.",
                 "enum": [
                  "amount",
                  "unit",
                  "include_exclude"
                 ]
                },
                "layer_id": {
                 "type": "integer",
                 "description": "ID of the Layer in the Estimate",
                 "example": 141
                },
                "locked_quantity": {
                 "type": "number",
                 "format": "double",
                 "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                 "example": 10.5,
                 "nullable": true
                },
                "locked_unit_of_measure": {
                 "type": "string",
                 "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                 "example": "sq ft",
                 "nullable": true
                }
               }
              }
             },
             "sub_sections": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 1234
                },
                "title": {
                 "type": "string",
                 "description": "Sub Section Title",
                 "example": "Floors 10-19"
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this sub section in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 3,
                 "nullable": true
                },
                "bid_form_items": {
                 "type": "array",
                 "description": "Bid Form Items",
                 "items": {
                  "type": "object",
                  "description": "Bid Form Item",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 18
                   },
                   "cost_code": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "example": 2
                     },
                     "name": {
                      "type": "string",
                      "description": "The cost code name",
                      "example": "Concrete"
                     },
                     "full_code": {
                      "type": "string",
                      "description": "The cost code long name",
                      "example": "2 - Concrete"
                     }
                    }
                   },
                   "description": {
                    "type": "string",
                    "description": "Bid Form Item Description",
                    "example": "Wood Doors",
                    "nullable": true
                   },
                   "position": {
                    "type": "integer",
                    "description": "Position",
                    "example": 1
                   },
                   "content_position": {
                    "type": "integer",
                    "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                    "example": 2,
                    "nullable": true
                   },
                   "subject": {
                    "type": "string",
                    "description": "Subject for Plain Text Items",
                    "example": "Is the insurance of tools included in the Bid?",
                    "nullable": true
                   },
                   "item_type": {
                    "type": "string",
                    "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                    "enum": [
                     "cost_code",
                     "plain_text"
                    ]
                   },
                   "response_type": {
                    "type": "string",
                    "description": "Bid Form Items can have various response types. This property determines which one is used.",
                    "enum": [
                     "amount",
                     "unit",
                     "include_exclude"
                    ]
                   },
                   "layer_id": {
                    "type": "integer",
                    "description": "ID of the Layer in the Estimate",
                    "example": 141
                   },
                   "locked_quantity": {
                    "type": "number",
                    "format": "double",
                    "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                    "example": 10.5,
                    "nullable": true
                   },
                   "locked_unit_of_measure": {
                    "type": "string",
                    "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                    "example": "sq ft",
                    "nullable": true
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          "alternates": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Alternate Bid",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1235
             },
             "title": {
              "type": "string",
              "description": "Bid Form Title",
              "example": "Concrete"
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1
             },
             "header": {
              "type": "boolean",
              "description": "Whether the item is a header or not",
              "example": true
             },
             "bid_form_items": {
              "type": "array",
              "items": {
               "type": "object",
               "description": "Bid Form Item",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 18
                },
                "cost_code": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 2
                  },
                  "name": {
                   "type": "string",
                   "description": "The cost code name",
                   "example": "Concrete"
                  },
                  "full_code": {
                   "type": "string",
                   "description": "The cost code long name",
                   "example": "2 - Concrete"
                  }
                 }
                },
                "description": {
                 "type": "string",
                 "description": "Bid Form Item Description",
                 "example": "Wood Doors",
                 "nullable": true
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 2,
                 "nullable": true
                },
                "subject": {
                 "type": "string",
                 "description": "Subject for Plain Text Items",
                 "example": "Is the insurance of tools included in the Bid?",
                 "nullable": true
                },
                "item_type": {
                 "type": "string",
                 "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                 "enum": [
                  "cost_code",
                  "plain_text"
                 ]
                },
                "response_type": {
                 "type": "string",
                 "description": "Bid Form Items can have various response types. This property determines which one is used.",
                 "enum": [
                  "amount",
                  "unit",
                  "include_exclude"
                 ]
                },
                "layer_id": {
                 "type": "integer",
                 "description": "ID of the Layer in the Estimate",
                 "example": 141
                },
                "locked_quantity": {
                 "type": "number",
                 "format": "double",
                 "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                 "example": 10.5,
                 "nullable": true
                },
                "locked_unit_of_measure": {
                 "type": "string",
                 "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                 "example": "sq ft",
                 "nullable": true
[...]
