{
 "openapi": "3.1.0",
 "info": {
  "title": "Bid Board Projects",
  "version": "2.0",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Board",
  "x-resource-name": "Bid Board Projects",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}": {
   "get": {
    "tags": [
     "Project"
    ],
    "summary": "Get Bid Board project by id",
    "operationId": "Project_GetProject",
    "parameters": [
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents a project with its details and configurations.",
           "additionalProperties": false,
           "properties": {
            "id": {
             "type": "string",
             "description": "The unique identifier of the Bid Board project.",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "The name of the Bid Board project.",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "The description of the Bid Board project.",
             "nullable": true
            },
            "created_on": {
             "type": "string",
             "description": "The creation date of the Bid Board project.",
             "format": "date-time",
             "nullable": true
            },
            "due_date": {
             "type": "string",
             "description": "The due date of the Bid Board project.",
             "format": "date-time",
             "nullable": true,
             "example": "2025-01-22T16:40:00Z"
            },
            "last_status_change": {
             "type": "string",
             "description": "The date when the Bid Board project's status was last changed.",
             "format": "date-time",
             "nullable": true
            },
            "status": {
             "type": "string",
             "description": "The current status of the project.",
             "x-enumNames": [
              "Estimating",
              "BidSubmitted",
              "Accepted",
              "Delayed",
              "Lost",
              "InProgress",
              "Complete",
              "Invitation",
              "ToDo"
             ],
             "enum": [
              "ESTIMATING",
              "BID_SUBMITTED",
              "ACCEPTED",
              "DELAYED",
              "LOST",
              "IN_PROGRESS",
              "COMPLETE",
              "INVITATION",
              "TO_DO"
             ]
            },
            "archived": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is archived.",
             "example": false
            },
            "use_metric_units": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses metric units."
            },
            "use_tax_from_cost": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses tax calculations based on cost."
            },
            "individual_labor_rates": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses individual labor rates."
            },
            "stats": {
             "nullable": true,
             "type": "object",
             "description": "The Bid Board project statistics.",
             "additionalProperties": false,
             "properties": {
              "total": {
               "type": "number",
               "description": "The total cost or value associated with the Bid Board project.",
               "format": "decimal"
              },
              "completed_tasks": {
               "type": "integer",
               "description": "The number of completed tasks in the Bid Board project.",
               "format": "int32"
              },
              "total_tasks": {
               "type": "integer",
               "description": "The total number of tasks in the Bid Board project.",
               "format": "int32"
              },
              "total_notes": {
               "type": "integer",
               "description": "The total number of notes associated with the Bid Board project.",
               "format": "int32"
              }
             }
            },
            "project_number": {
             "type": "string",
             "description": "The Bid Board project number.",
             "nullable": true
            },
            "square_footage": {
             "type": "number",
             "description": "The square footage of the Bid Board project.",
             "format": "decimal",
             "nullable": true,
             "example": 0
            },
            "pricing_locked": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project pricing is locked.",
             "example": false
            },
            "address": {
             "nullable": true,
             "type": "object",
             "description": "The address associated with the Bid Board project.",
             "additionalProperties": false,
             "properties": {
              "street": {
               "type": "string",
               "description": "The street address.",
               "nullable": true
              },
              "city": {
               "type": "string",
               "description": "The city of the address.",
               "nullable": true
              },
              "state": {
               "type": "string",
               "description": "The state of the address.",
               "nullable": true
              },
              "zip": {
               "type": "string",
               "description": "The zip code of the address.",
               "nullable": true
              },
              "country": {
               "type": "string",
               "description": "The country of the address.",
               "nullable": true
              }
             }
            },
            "is_template": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is a template.",
             "example": false
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the Bid Board project was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            },
            "project_id": {
             "type": "string",
             "description": "The Procore Portfolio project identifier linked to this Bid Board project. Null if the Bid Board project is not added to Portfolio.\nUse this to join Bid Board Project data with the Procore Portfolio Project API data.",
             "nullable": true
            },
            "use_hip_and_valley": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project includes hip and valley calculations."
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is deleted.",
             "example": false
            },
            "use_unit_labor_cost": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses unit labor cost."
            },
            "wbs_validation_enabled": {
             "type": "boolean",
             "description": "Indicates whether WBS validation is enabled for the Bid Board project.",
             "nullable": true
            },
            "disable_ea_parts_rounding": {
             "type": "boolean",
             "description": "Indicates whether EA parts rounding is disabled for the Bid Board project."
            },
            "estimator_user_id": {
             "type": "string",
             "description": "The unique identifier for the estimator associated with the project. Use the \"Company Users\" endpoint to retrieve full user details.",
             "nullable": true
            },
            "office_id": {
             "type": "string",
             "description": "The unique identifier for the Procore office associated with the project. Use the \"Company Offices\" endpoint to retrieve office details.",
             "nullable": true
            },
            "customer_company": {
             "nullable": true,
             "type": "object",
             "description": "Represents the customer company (vendor) associated with the project.",
             "additionalProperties": false,
             "properties": {
              "id": {
               "type": "string",
               "description": "The unique identifier for the customer company. Use the \"Company Vendors\" endpoint to retrieve full vendor details. Can be null if customer company is not integrated with Procore.",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "The name of the customer company.",
               "nullable": true
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get Bid Board project by ID",
      "description": "This endpoint allows retrieving a Bid Board project by its ID.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response of Bid Board project endpoints",
      "description": "The response of Bid Board project endpoints now includes new fields: estimator_user_id, office_id, customer_company and updated_at.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new field to the response models: project_id",
      "description": "The response of Bid Board project endpoints now includes project_id: the Procore Portfolio project identifier linked to this Bid Board project.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "tags": [
     "Project"
    ],
    "summary": "Update Bid Board project",
    "operationId": "Project_UpdateProject",
    "parameters": [
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "requestBody": {
     "x-name": "patch_model",
     "content": {
      "application/merge-patch+json": {
       "schema": {
        "type": "object",
        "description": "Represents the data required to save a Bid Board project.",
        "additionalProperties": false,
        "properties": {
         "name": {
          "description": "The name of the Bid Board project.",
          "type": "string",
          "additionalProperties": false
         },
         "description": {
          "description": "The description of the Bid Board project.",
          "type": "string",
          "additionalProperties": false
         },
         "due_date": {
          "description": "The due date of the Bid Board project.",
          "example": "2025-01-22T16:40:00Z",
          "type": "string",
          "additionalProperties": false
         },
         "status": {
          "description": "The current status of the Bid Board project.",
          "type": "string",
          "additionalProperties": false
         },
         "archived": {
          "description": "Indicates whether the Bid Board project is archived.",
          "example": false,
          "type": "boolean",
          "additionalProperties": false
         },
         "use_metric_units": {
          "description": "Indicates whether the Bid Board project uses metric units.",
          "type": "boolean",
          "additionalProperties": false
         },
         "use_tax_from_cost": {
          "description": "Indicates whether the Bid Board project uses tax calculations based on cost.",
          "type": "boolean",
          "additionalProperties": false
         },
         "individual_labor_rates": {
          "description": "Indicates whether the Bid Board project uses individual labor rates.",
          "type": "boolean",
          "additionalProperties": false
         },
         "project_number": {
          "description": "The Bid Board project number.",
          "type": "string",
          "additionalProperties": false
         },
         "square_footage": {
          "description": "The square footage of the Bid Board project.",
          "example": 0,
          "type": "number",
          "additionalProperties": false
         },
         "pricing_locked": {
          "description": "Indicates whether the Bid Board project pricing is locked.",
          "example": false,
          "type": "boolean",
          "additionalProperties": false
         },
         "deleted": {
          "description": "Indicates whether the Bid Board project is deleted.",
          "example": false,
          "type": "boolean",
          "additionalProperties": false
         },
         "address": {
          "description": "The address associated with the Bid Board project.",
          "type": "object",
          "additionalProperties": false,
          "properties": {
           "street": {
            "type": "string",
            "description": "The street address.",
            "nullable": true
           },
           "city": {
            "type": "string",
            "description": "The city of the address.",
            "nullable": true
           },
           "state": {
            "type": "string",
            "description": "The state of the address.",
            "nullable": true
           },
           "zip": {
            "type": "string",
            "description": "The zip code of the address.",
            "nullable": true
           },
           "country": {
            "type": "string",
            "description": "The country of the address.",
            "nullable": true
           }
          }
         },
         "is_template": {
          "description": "Indicates whether the Bid Board project is a template.",
          "example": false,
          "type": "boolean",
          "additionalProperties": false
         },
         "use_unit_labor_cost": {
          "description": "Indicates whether the Bid Board project uses unit labor cost.",
          "type": "boolean",
          "additionalProperties": false
         },
         "wbs_validation_enabled": {
          "description": "Indicates whether WBS validation is enabled for the Bid Board project.",
          "type": "boolean",
          "additionalProperties": false
         },
         "disable_ea_parts_rounding": {
          "description": "Indicates whether EA parts rounding is disabled for the Bid Board project.",
          "type": "boolean",
          "additionalProperties": false
         },
         "office_id": {
          "description": "The unique identifier for the Procore office associated with the project. Use the Procore Company Offices endpoint to retrieve office IDs.",
          "type": "string",
          "additionalProperties": false
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 2
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents a project with its details and configurations.",
           "additionalProperties": false,
           "properties": {
            "id": {
             "type": "string",
             "description": "The unique identifier of the Bid Board project.",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "The name of the Bid Board project.",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "The description of the Bid Board project.",
             "nullable": true
            },
            "created_on": {
             "type": "string",
             "description": "The creation date of the Bid Board project.",
             "format": "date-time",
             "nullable": true
            },
            "due_date": {
             "type": "string",
             "description": "The due date of the Bid Board project.",
             "format": "date-time",
             "nullable": true,
             "example": "2025-01-22T16:40:00Z"
            },
            "last_status_change": {
             "type": "string",
             "description": "The date when the Bid Board project's status was last changed.",
             "format": "date-time",
             "nullable": true
            },
            "status": {
             "type": "string",
             "description": "The current status of the project.",
             "x-enumNames": [
              "Estimating",
              "BidSubmitted",
              "Accepted",
              "Delayed",
              "Lost",
              "InProgress",
              "Complete",
              "Invitation",
              "ToDo"
             ],
             "enum": [
              "ESTIMATING",
              "BID_SUBMITTED",
              "ACCEPTED",
              "DELAYED",
              "LOST",
              "IN_PROGRESS",
              "COMPLETE",
              "INVITATION",
              "TO_DO"
             ]
            },
            "archived": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is archived.",
             "example": false
            },
            "use_metric_units": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses metric units."
            },
            "use_tax_from_cost": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses tax calculations based on cost."
            },
            "individual_labor_rates": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses individual labor rates."
            },
            "stats": {
             "nullable": true,
             "type": "object",
             "description": "The Bid Board project statistics.",
             "additionalProperties": false,
             "properties": {
              "total": {
               "type": "number",
               "description": "The total cost or value associated with the Bid Board project.",
               "format": "decimal"
              },
              "completed_tasks": {
               "type": "integer",
               "description": "The number of completed tasks in the Bid Board project.",
               "format": "int32"
              },
              "total_tasks": {
               "type": "integer",
               "description": "The total number of tasks in the Bid Board project.",
               "format": "int32"
              },
              "total_notes": {
               "type": "integer",
               "description": "The total number of notes associated with the Bid Board project.",
               "format": "int32"
              }
             }
            },
            "project_number": {
             "type": "string",
             "description": "The Bid Board project number.",
             "nullable": true
            },
            "square_footage": {
             "type": "number",
             "description": "The square footage of the Bid Board project.",
             "format": "decimal",
             "nullable": true,
             "example": 0
            },
            "pricing_locked": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project pricing is locked.",
             "example": false
            },
            "address": {
             "nullable": true,
             "type": "object",
             "description": "The address associated with the Bid Board project.",
             "additionalProperties": false,
             "properties": {
              "street": {
               "type": "string",
               "description": "The street address.",
               "nullable": true
              },
              "city": {
               "type": "string",
               "description": "The city of the address.",
               "nullable": true
              },
              "state": {
               "type": "string",
               "description": "The state of the address.",
               "nullable": true
              },
              "zip": {
               "type": "string",
               "description": "The zip code of the address.",
               "nullable": true
              },
              "country": {
               "type": "string",
               "description": "The country of the address.",
               "nullable": true
              }
             }
            },
            "is_template": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is a template.",
             "example": false
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the Bid Board project was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            },
            "project_id": {
             "type": "string",
             "description": "The Procore Portfolio project identifier linked to this Bid Board project. Null if the Bid Board project is not added to Portfolio.\nUse this to join Bid Board Project data with the Procore Portfolio Project API data.",
             "nullable": true
            },
            "use_hip_and_valley": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project includes hip and valley calculations."
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is deleted.",
             "example": false
            },
            "use_unit_labor_cost": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses unit labor cost."
            },
            "wbs_validation_enabled": {
             "type": "boolean",
             "description": "Indicates whether WBS validation is enabled for the Bid Board project.",
             "nullable": true
            },
            "disable_ea_parts_rounding": {
             "type": "boolean",
             "description": "Indicates whether EA parts rounding is disabled for the Bid Board project."
            },
            "estimator_user_id": {
             "type": "string",
             "description": "The unique identifier for the estimator associated with the project. Use the \"Company Users\" endpoint to retrieve full user details.",
             "nullable": true
            },
            "office_id": {
             "type": "string",
             "description": "The unique identifier for the Procore office associated with the project. Use the \"Company Offices\" endpoint to retrieve office details.",
             "nullable": true
            },
            "customer_company": {
             "nullable": true,
             "type": "object",
             "description": "Represents the customer company (vendor) associated with the project.",
             "additionalProperties": false,
             "properties": {
              "id": {
               "type": "string",
               "description": "The unique identifier for the customer company. Use the \"Company Vendors\" endpoint to retrieve full vendor details. Can be null if customer company is not integrated with Procore.",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "The name of the customer company.",
               "nullable": true
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to update Bid Board project",
      "description": "This endpoint allows updating a Bid Board project.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response of Bid Board project endpoints",
      "description": "The response of Bid Board project endpoints now includes new fields: estimator_user_id, office_id, customer_company and updated_at.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "office_id is now supported in Bid Board project create/update payloads",
      "description": "The request body of POST and PATCH Bid Board project endpoints now accepts office_id. Use the Procore Company Offices endpoint to retrieve valid office IDs.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-04",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new field to the response models: project_id",
      "description": "The response of Bid Board project endpoints now includes project_id: the Procore Portfolio project identifier linked to this Bid Board project.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "Project"
    ],
    "summary": "Delete Bid Board project",
    "operationId": "Project_DeleteProject",
    "parameters": [
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to delete Bid Board project",
      "description": "This endpoint allows deleting a Bid Board project.",
      "endpoint": "DELETE /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/custom_fields": {
   "get": {
    "tags": [
     "Project"
    ],
    "summary": "Get Bid Board project custom fields",
    "operationId": "Project_GetProjectCustomFields",
    "parameters": [
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents the collection of custom fields associated with the Bid Board project.",
           "additionalProperties": false,
           "properties": {
            "custom_fields": {
             "type": "array",
             "nullable": true,
             "items": {
              "type": "object",
              "description": "Represents a Custom Field associated with the Bid Board project.",
              "additionalProperties": false,
              "properties": {
               "id": {
                "type": "string",
                "nullable": true
               },
               "name": {
                "type": "string",
                "nullable": true
               },
               "data_type": {
                "type": "string",
                "description": "",
                "x-enumNames": [
                 "String",
                 "Boolean",
                 "DateTime",
                 "Number",
                 "LovEntry"
                ],
                "enum": [
                 "STRING",
                 "BOOLEAN",
                 "DATE_TIME",
                 "NUMBER",
                 "LOV_ENTRY"
                ]
               },
               "value": {
                "type": "string",
                "nullable": true
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get Bid Board project custom fields",
      "description": "This endpoint allows retrieving custom fields for a Bid Board project.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/custom_fields",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-09",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/custom_fields'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/custom_fields\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/custom_fields"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/custom_fields\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/custom_fields/{custom_field_id}": {
   "patch": {
    "tags": [
     "Project"
    ],
    "summary": "Update Bid Board project custom field",
    "operationId": "Project_UpdateProjectCustomField",
    "parameters": [
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "custom_field_id",
      "in": "path",
      "required": true,
      "description": "Custom field Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 2
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     }
    ],
    "requestBody": {
     "x-name": "patch_model",
     "description": "Patch model with new value",
     "content": {
      "application/merge-patch+json": {
       "schema": {
        "type": "object",
        "description": "Represents the data required to update a custom field for a Bid Board project.",
        "additionalProperties": false,
        "properties": {
         "value": {
          "type": "string",
          "description": "The new value for the custom field.",
          "nullable": true
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 3
    },
    "responses": {
     "200": {
      "description": "Updated custom field",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "type": "object",
           "description": "Represents a Custom Field associated with the Bid Board project.",
           "additionalProperties": false,
           "properties": {
            "id": {
             "type": "string",
             "nullable": true
            },
            "name": {
             "type": "string",
             "nullable": true
            },
            "data_type": {
             "type": "string",
             "description": "",
             "x-enumNames": [
              "String",
              "Boolean",
              "DateTime",
              "Number",
              "LovEntry"
             ],
             "enum": [
              "STRING",
              "BOOLEAN",
              "DATE_TIME",
              "NUMBER",
              "LOV_ENTRY"
             ]
            },
            "value": {
             "type": "string",
             "nullable": true
            }
           },
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to update Bid Board project custom field",
      "description": "This endpoint allows updating a custom field for a Bid Board project.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/custom_fields/{custom_field_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-12",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/custom_fields/%7Bcustom_field_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/custom_fields/%7Bcustom_field_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/custom_fields/%7Bcustom_field_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/custom_fields/%7Bcustom_field_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects": {
   "get": {
    "tags": [
     "Project"
    ],
    "summary": "Get all Bid Board projects",
    "operationId": "Project_GetProjects",
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page number",
      "schema": {
       "type": "integer",
       "format": "int32"
      },
      "x-position": 1,
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Items per page",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10,
       "maximum": 100
      },
      "x-position": 2,
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "headers": {
       "Total": {
        "description": "Total number of items",
        "schema": {
         "type": "integer"
        }
       },
       "Per-Page": {
        "description": "Number of items per page",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Links to other pages",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "array",
           "nullable": true,
           "items": {
            "type": "object",
            "description": "Represents a project with its details and configurations.",
            "additionalProperties": false,
            "properties": {
             "id": {
              "type": "string",
              "description": "The unique identifier of the Bid Board project.",
              "nullable": true
             },
             "name": {
              "type": "string",
              "description": "The name of the Bid Board project.",
              "nullable": true
             },
             "description": {
              "type": "string",
              "description": "The description of the Bid Board project.",
              "nullable": true
             },
             "created_on": {
              "type": "string",
              "description": "The creation date of the Bid Board project.",
              "format": "date-time",
              "nullable": true
             },
             "due_date": {
              "type": "string",
              "description": "The due date of the Bid Board project.",
              "format": "date-time",
              "nullable": true,
              "example": "2025-01-22T16:40:00Z"
             },
             "last_status_change": {
              "type": "string",
              "description": "The date when the Bid Board project's status was last changed.",
              "format": "date-time",
              "nullable": true
             },
             "status": {
              "type": "string",
              "description": "The current status of the project.",
              "x-enumNames": [
               "Estimating",
               "BidSubmitted",
               "Accepted",
               "Delayed",
               "Lost",
               "InProgress",
               "Complete",
               "Invitation",
               "ToDo"
              ],
              "enum": [
               "ESTIMATING",
               "BID_SUBMITTED",
               "ACCEPTED",
               "DELAYED",
               "LOST",
               "IN_PROGRESS",
               "COMPLETE",
               "INVITATION",
               "TO_DO"
              ]
             },
             "archived": {
              "type": "boolean",
              "description": "Indicates whether the Bid Board project is archived.",
              "example": false
             },
             "use_metric_units": {
              "type": "boolean",
              "description": "Indicates whether the Bid Board project uses metric units."
             },
             "use_tax_from_cost": {
              "type": "boolean",
              "description": "Indicates whether the Bid Board project uses tax calculations based on cost."
             },
             "individual_labor_rates": {
              "type": "boolean",
              "description": "Indicates whether the Bid Board project uses individual labor rates."
             },
             "stats": {
              "nullable": true,
              "type": "object",
              "description": "The Bid Board project statistics.",
              "additionalProperties": false,
              "properties": {
               "total": {
                "type": "number",
                "description": "The total cost or value associated with the Bid Board project.",
                "format": "decimal"
               },
               "completed_tasks": {
                "type": "integer",
                "description": "The number of completed tasks in the Bid Board project.",
                "format": "int32"
               },
               "total_tasks": {
                "type": "integer",
                "description": "The total number of tasks in the Bid Board project.",
                "format": "int32"
               },
               "total_notes": {
                "type": "integer",
                "description": "The total number of notes associated with the Bid Board project.",
                "format": "int32"
               }
              }
             },
             "project_number": {
              "type": "string",
              "description": "The Bid Board project number.",
              "nullable": true
             },
             "square_footage": {
              "type": "number",
              "description": "The square footage of the Bid Board project.",
              "format": "decimal",
              "nullable": true,
              "example": 0
             },
             "pricing_locked": {
              "type": "boolean",
              "description": "Indicates whether the Bid Board project pricing is locked.",
              "example": false
             },
             "address": {
              "nullable": true,
              "type": "object",
              "description": "The address associated with the Bid Board project.",
              "additionalProperties": false,
              "properties": {
               "street": {
                "type": "string",
                "description": "The street address.",
                "nullable": true
               },
               "city": {
                "type": "string",
                "description": "The city of the address.",
                "nullable": true
               },
               "state": {
                "type": "string",
                "description": "The state of the address.",
                "nullable": true
               },
               "zip": {
                "type": "string",
                "description": "The zip code of the address.",
                "nullable": true
               },
               "country": {
                "type": "string",
                "description": "The country of the address.",
                "nullable": true
               }
              }
             },
             "is_template": {
              "type": "boolean",
              "description": "Indicates whether the Bid Board project is a template.",
              "example": false
             },
             "updated_at": {
              "type": "string",
              "description": "The date and time when the Bid Board project was last updated.",
              "format": "date-time",
              "nullable": true,
              "example": "2026-03-25T13:25:00Z"
             },
             "project_id": {
              "type": "string",
              "description": "The Procore Portfolio project identifier linked to this Bid Board project. Null if the Bid Board project is not added to Portfolio.\nUse this to join Bid Board Project data with the Procore Portfolio Project API data.",
              "nullable": true
             },
             "use_hip_and_valley": {
              "type": "boolean",
              "description": "Indicates whether the Bid Board project includes hip and valley calculations."
             },
             "deleted": {
              "type": "boolean",
              "description": "Indicates whether the Bid Board project is deleted.",
              "example": false
             },
             "use_unit_labor_cost": {
              "type": "boolean",
              "description": "Indicates whether the Bid Board project uses unit labor cost."
             },
             "wbs_validation_enabled": {
              "type": "boolean",
              "description": "Indicates whether WBS validation is enabled for the Bid Board project.",
              "nullable": true
             },
             "disable_ea_parts_rounding": {
              "type": "boolean",
              "description": "Indicates whether EA parts rounding is disabled for the Bid Board project."
             },
             "estimator_user_id": {
              "type": "string",
              "description": "The unique identifier for the estimator associated with the project. Use the \"Company Users\" endpoint to retrieve full user details.",
              "nullable": true
             },
             "office_id": {
              "type": "string",
              "description": "The unique identifier for the Procore office associated with the project. Use the \"Company Offices\" endpoint to retrieve office details.",
              "nullable": true
             },
             "customer_company": {
              "nullable": true,
              "type": "object",
              "description": "Represents the customer company (vendor) associated with the project.",
              "additionalProperties": false,
              "properties": {
               "id": {
                "type": "string",
                "description": "The unique identifier for the customer company. Use the \"Company Vendors\" endpoint to retrieve full vendor details. Can be null if customer company is not integrated with Procore.",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "The name of the customer company.",
                "nullable": true
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get all Bid Board projects",
      "description": "This endpoint allows retrieving all Bid Board projects.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response of Bid Board project endpoints",
      "description": "The response of Bid Board project endpoints now includes new fields: estimator_user_id, office_id, customer_company and updated_at.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new field to the response models: project_id",
      "description": "The response of Bid Board project endpoints now includes project_id: the Procore Portfolio project identifier linked to this Bid Board project.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "tags": [
     "Project"
    ],
    "summary": "Create Bid Board project",
    "operationId": "Project_CreateProject",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "requestBody": {
     "x-name": "model",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Represents the data required to create a Bid Board project.",
        "additionalProperties": false,
        "required": [
         "name",
         "status"
        ],
        "properties": {
         "name": {
          "type": "string",
          "description": "The name of the Bid Board project.",
          "minLength": 1
         },
         "description": {
          "type": "string",
          "description": "The description of the Bid Board project.",
          "nullable": true
         },
         "due_date": {
          "type": "string",
          "description": "The due date of the Bid Board project.",
          "format": "date-time",
          "nullable": true,
          "example": "2025-01-22T16:40:00Z"
         },
         "status": {
          "type": "string",
          "description": "The current status of the project.",
          "x-enumNames": [
           "Estimating",
           "BidSubmitted",
           "Accepted",
           "Delayed",
           "Lost",
           "InProgress",
           "Complete",
           "Invitation",
           "ToDo"
          ],
          "enum": [
           "ESTIMATING",
           "BID_SUBMITTED",
           "ACCEPTED",
           "DELAYED",
           "LOST",
           "IN_PROGRESS",
           "COMPLETE",
           "INVITATION",
           "TO_DO"
          ]
         },
         "use_metric_units": {
          "type": "boolean",
          "description": "Indicates whether the Bid Board project uses metric units."
         },
         "use_tax_from_cost": {
          "type": "boolean",
          "description": "Indicates whether the Bid Board project uses tax calculations based on cost."
         },
         "individual_labor_rates": {
          "type": "boolean",
          "description": "Indicates whether the Bid Board project uses individual labor rates."
         },
         "project_number": {
          "type": "string",
          "description": "The Bid Board project number.",
          "nullable": true
         },
         "square_footage": {
          "type": "number",
          "description": "The square footage of the Bid Board project.",
          "format": "decimal",
          "nullable": true,
          "example": 0
         },
         "address": {
          "nullable": true,
          "type": "object",
          "description": "The address associated with the Bid Board project.",
          "additionalProperties": false,
          "properties": {
           "street": {
            "type": "string",
            "description": "The street address.",
            "nullable": true
           },
           "city": {
            "type": "string",
            "description": "The city of the address.",
            "nullable": true
           },
           "state": {
            "type": "string",
            "description": "The state of the address.",
            "nullable": true
           },
           "zip": {
            "type": "string",
            "description": "The zip code of the address.",
            "nullable": true
           },
           "country": {
            "type": "string",
            "description": "The country of the address.",
            "nullable": true
           }
          }
         },
         "is_template": {
          "type": "boolean",
          "description": "Indicates whether the Bid Board project is a template.",
          "example": false
         },
         "use_unit_labor_cost": {
          "type": "boolean",
          "description": "Indicates whether the Bid Board project uses unit labor cost."
         },
         "wbs_validation_enabled": {
          "type": "boolean",
          "description": "Indicates whether WBS validation is enabled for the Bid Board project.",
          "nullable": true
         },
         "disable_ea_parts_rounding": {
          "type": "boolean",
          "description": "Indicates whether EA parts rounding is disabled for the Bid Board project."
         },
         "office_id": {
          "type": "string",
          "description": "The unique identifier for the Procore office associated with the project. Use the Procore Company Offices endpoint to retrieve office IDs.",
          "nullable": true
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents a project with its details and configurations.",
           "additionalProperties": false,
           "properties": {
            "id": {
             "type": "string",
             "description": "The unique identifier of the Bid Board project.",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "The name of the Bid Board project.",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "The description of the Bid Board project.",
             "nullable": true
            },
            "created_on": {
             "type": "string",
             "description": "The creation date of the Bid Board project.",
             "format": "date-time",
             "nullable": true
            },
            "due_date": {
             "type": "string",
             "description": "The due date of the Bid Board project.",
             "format": "date-time",
             "nullable": true,
             "example": "2025-01-22T16:40:00Z"
            },
            "last_status_change": {
             "type": "string",
             "description": "The date when the Bid Board project's status was last changed.",
             "format": "date-time",
             "nullable": true
            },
            "status": {
             "type": "string",
             "description": "The current status of the project.",
             "x-enumNames": [
              "Estimating",
              "BidSubmitted",
              "Accepted",
              "Delayed",
              "Lost",
              "InProgress",
              "Complete",
              "Invitation",
              "ToDo"
             ],
             "enum": [
              "ESTIMATING",
              "BID_SUBMITTED",
              "ACCEPTED",
              "DELAYED",
              "LOST",
              "IN_PROGRESS",
              "COMPLETE",
              "INVITATION",
              "TO_DO"
             ]
            },
            "archived": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is archived.",
             "example": false
            },
            "use_metric_units": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses metric units."
            },
            "use_tax_from_cost": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses tax calculations based on cost."
            },
            "individual_labor_rates": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses individual labor rates."
            },
            "stats": {
             "nullable": true,
             "type": "object",
             "description": "The Bid Board project statistics.",
             "additionalProperties": false,
             "properties": {
              "total": {
               "type": "number",
               "description": "The total cost or value associated with the Bid Board project.",
               "format": "decimal"
              },
              "completed_tasks": {
               "type": "integer",
               "description": "The number of completed tasks in the Bid Board project.",
               "format": "int32"
              },
              "total_tasks": {
               "type": "integer",
               "description": "The total number of tasks in the Bid Board project.",
               "format": "int32"
              },
              "total_notes": {
               "type": "integer",
               "description": "The total number of notes associated with the Bid Board project.",
               "format": "int32"
              }
             }
            },
            "project_number": {
             "type": "string",
             "description": "The Bid Board project number.",
             "nullable": true
            },
            "square_footage": {
             "type": "number",
             "description": "The square footage of the Bid Board project.",
             "format": "decimal",
             "nullable": true,
             "example": 0
            },
            "pricing_locked": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project pricing is locked.",
             "example": false
            },
            "address": {
             "nullable": true,
             "type": "object",
             "description": "The address associated with the Bid Board project.",
             "additionalProperties": false,
             "properties": {
              "street": {
               "type": "string",
               "description": "The street address.",
               "nullable": true
              },
              "city": {
               "type": "string",
               "description": "The city of the address.",
               "nullable": true
              },
              "state": {
               "type": "string",
               "description": "The state of the address.",
               "nullable": true
              },
              "zip": {
               "type": "string",
               "description": "The zip code of the address.",
               "nullable": true
              },
              "country": {
               "type": "string",
               "description": "The country of the address.",
               "nullable": true
              }
             }
            },
            "is_template": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is a template.",
             "example": false
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the Bid Board project was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            },
            "project_id": {
             "type": "string",
             "description": "The Procore Portfolio project identifier linked to this Bid Board project. Null if the Bid Board project is not added to Portfolio.\nUse this to join Bid Board Project data with the Procore Portfolio Project API data.",
             "nullable": true
            },
            "use_hip_and_valley": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project includes hip and valley calculations."
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is deleted.",
             "example": false
            },
            "use_unit_labor_cost": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses unit labor cost."
            },
            "wbs_validation_enabled": {
             "type": "boolean",
             "description": "Indicates whether WBS validation is enabled for the Bid Board project.",
             "nullable": true
            },
            "disable_ea_parts_rounding": {
             "type": "boolean",
             "description": "Indicates whether EA parts rounding is disabled for the Bid Board project."
            },
            "estimator_user_id": {
             "type": "string",
             "description": "The unique identifier for the estimator associated with the project. Use the \"Company Users\" endpoint to retrieve full user details.",
             "nullable": true
            },
            "office_id": {
             "type": "string",
             "description": "The unique identifier for the Procore office associated with the project. Use the \"Company Offices\" endpoint to retrieve office details.",
             "nullable": true
            },
            "customer_company": {
             "nullable": true,
             "type": "object",
             "description": "Represents the customer company (vendor) associated with the project.",
             "additionalProperties": false,
             "properties": {
              "id": {
               "type": "string",
               "description": "The unique identifier for the customer company. Use the \"Company Vendors\" endpoint to retrieve full vendor details. Can be null if customer company is not integrated with Procore.",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "The name of the customer company.",
               "nullable": true
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to create Bid Board project",
      "description": "This endpoint allows creating a new Bid Board project.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response of Bid Board project endpoints",
      "description": "The response of Bid Board project endpoints now includes new fields: estimator_user_id, office_id, customer_company and updated_at.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "office_id is now supported in Bid Board project create/update payloads",
      "description": "The request body of POST and PATCH Bid Board project endpoints now accepts office_id. Use the Procore Company Offices endpoint to retrieve valid office IDs.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-04",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new field to the response models: project_id",
      "description": "The response of Bid Board project endpoints now includes project_id: the Procore Portfolio project identifier linked to this Bid Board project.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    description: 'string',\n    due_date: '2025-01-22T16:40:00Z',\n    status: 'ESTIMATING',\n    use_metric_units: true,\n    use_tax_from_cost: true,\n    individual_labor_rates: true,\n    project_number: 'string',\n    square_footage: 0,\n    address: {\n      street: 'string',\n      city: 'string',\n      state: 'string',\n      zip: 'string',\n      country: 'string'\n    },\n    is_template: false,\n    use_unit_labor_cost: true,\n    wbs_validation_enabled: true,\n    disable_ea_parts_rounding: true,\n    office_id: 'string'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"due_date\\\":\\\"2025-01-22T16:40:00Z\\\",\\\"status\\\":\\\"ESTIMATING\\\",\\\"use_metric_units\\\":true,\\\"use_tax_from_cost\\\":true,\\\"individual_labor_rates\\\":true,\\\"project_number\\\":\\\"string\\\",\\\"square_footage\\\":0,\\\"address\\\":{\\\"street\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"zip\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\"},\\\"is_template\\\":false,\\\"use_unit_labor_cost\\\":true,\\\"wbs_validation_enabled\\\":true,\\\"disable_ea_parts_rounding\\\":true,\\\"office_id\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"description\":\"string\",\"due_date\":\"2025-01-22T16:40:00Z\",\"status\":\"ESTIMATING\",\"use_metric_units\":true,\"use_tax_from_cost\":true,\"individual_labor_rates\":true,\"project_number\":\"string\",\"square_footage\":0,\"address\":{\"street\":\"string\",\"city\":\"string\",\"state\":\"string\",\"zip\":\"string\",\"country\":\"string\"},\"is_template\":false,\"use_unit_labor_cost\":true,\"wbs_validation_enabled\":true,\"disable_ea_parts_rounding\":true,\"office_id\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"due_date\\\":\\\"2025-01-22T16:40:00Z\\\",\\\"status\\\":\\\"ESTIMATING\\\",\\\"use_metric_units\\\":true,\\\"use_tax_from_cost\\\":true,\\\"individual_labor_rates\\\":true,\\\"project_number\\\":\\\"string\\\",\\\"square_footage\\\":0,\\\"address\\\":{\\\"street\\\":\\\"string\\\",\\\"city\\\":\\\"string\\\",\\\"state\\\":\\\"string\\\",\\\"zip\\\":\\\"string\\\",\\\"country\\\":\\\"string\\\"},\\\"is_template\\\":false,\\\"use_unit_labor_cost\\\":true,\\\"wbs_validation_enabled\\\":true,\\\"disable_ea_parts_rounding\\\":true,\\\"office_id\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/clone": {
   "post": {
    "tags": [
     "Project"
    ],
    "summary": "Clone Bid Board project",
    "operationId": "Project_CloneProject",
    "parameters": [
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "requestBody": {
     "x-name": "clone_params",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Represents a request to clone a Bid Board project.",
        "additionalProperties": false,
        "required": [
         "as_template"
        ],
        "properties": {
         "name": {
          "type": "string",
          "description": "The name of the new Bid Board project.",
          "nullable": true
         },
         "as_template": {
          "type": "boolean",
          "description": "Indicates whether the new Bid Board project should be created as a template."
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 2
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents a project with its details and configurations.",
           "additionalProperties": false,
           "properties": {
            "id": {
             "type": "string",
             "description": "The unique identifier of the Bid Board project.",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "The name of the Bid Board project.",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "The description of the Bid Board project.",
             "nullable": true
            },
            "created_on": {
             "type": "string",
             "description": "The creation date of the Bid Board project.",
             "format": "date-time",
             "nullable": true
            },
            "due_date": {
             "type": "string",
             "description": "The due date of the Bid Board project.",
             "format": "date-time",
             "nullable": true,
             "example": "2025-01-22T16:40:00Z"
            },
            "last_status_change": {
             "type": "string",
             "description": "The date when the Bid Board project's status was last changed.",
             "format": "date-time",
             "nullable": true
            },
            "status": {
             "type": "string",
             "description": "The current status of the project.",
             "x-enumNames": [
              "Estimating",
              "BidSubmitted",
              "Accepted",
              "Delayed",
              "Lost",
              "InProgress",
              "Complete",
              "Invitation",
              "ToDo"
             ],
             "enum": [
              "ESTIMATING",
              "BID_SUBMITTED",
              "ACCEPTED",
              "DELAYED",
              "LOST",
              "IN_PROGRESS",
              "COMPLETE",
              "INVITATION",
              "TO_DO"
             ]
            },
            "archived": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is archived.",
             "example": false
            },
            "use_metric_units": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses metric units."
            },
            "use_tax_from_cost": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses tax calculations based on cost."
            },
            "individual_labor_rates": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses individual labor rates."
            },
            "stats": {
             "nullable": true,
             "type": "object",
             "description": "The Bid Board project statistics.",
             "additionalProperties": false,
             "properties": {
              "total": {
               "type": "number",
               "description": "The total cost or value associated with the Bid Board project.",
               "format": "decimal"
              },
              "completed_tasks": {
               "type": "integer",
               "description": "The number of completed tasks in the Bid Board project.",
               "format": "int32"
              },
              "total_tasks": {
               "type": "integer",
               "description": "The total number of tasks in the Bid Board project.",
               "format": "int32"
              },
              "total_notes": {
               "type": "integer",
               "description": "The total number of notes associated with the Bid Board project.",
               "format": "int32"
              }
             }
            },
            "project_number": {
             "type": "string",
             "description": "The Bid Board project number.",
             "nullable": true
            },
            "square_footage": {
             "type": "number",
             "description": "The square footage of the Bid Board project.",
             "format": "decimal",
             "nullable": true,
             "example": 0
            },
            "pricing_locked": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project pricing is locked.",
             "example": false
            },
            "address": {
             "nullable": true,
             "type": "object",
             "description": "The address associated with the Bid Board project.",
             "additionalProperties": false,
             "properties": {
              "street": {
               "type": "string",
               "description": "The street address.",
               "nullable": true
              },
              "city": {
               "type": "string",
               "description": "The city of the address.",
               "nullable": true
              },
              "state": {
               "type": "string",
               "description": "The state of the address.",
               "nullable": true
              },
              "zip": {
               "type": "string",
               "description": "The zip code of the address.",
               "nullable": true
              },
              "country": {
               "type": "string",
               "description": "The country of the address.",
               "nullable": true
              }
             }
            },
            "is_template": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is a template.",
             "example": false
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the Bid Board project was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            },
            "project_id": {
             "type": "string",
             "description": "The Procore Portfolio project identifier linked to this Bid Board project. Null if the Bid Board project is not added to Portfolio.\nUse this to join Bid Board Project data with the Procore Portfolio Project API data.",
             "nullable": true
            },
            "use_hip_and_valley": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project includes hip and valley calculations."
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project is deleted.",
             "example": false
            },
            "use_unit_labor_cost": {
             "type": "boolean",
             "description": "Indicates whether the Bid Board project uses unit labor cost."
            },
            "wbs_validation_enabled": {
             "type": "boolean",
             "description": "Indicates whether WBS validation is enabled for the Bid Board project.",
             "nullable": true
            },
            "disable_ea_parts_rounding": {
             "type": "boolean",
             "description": "Indicates whether EA parts rounding is disabled for the Bid Board project."
            },
            "estimator_user_id": {
             "type": "string",
             "description": "The unique identifier for the estimator associated with the project. Use the \"Company Users\" endpoint to retrieve full user details.",
             "nullable": true
            },
            "office_id": {
             "type": "string",
             "description": "The unique identifier for the Procore office associated with the project. Use the \"Company Offices\" endpoint to retrieve office details.",
             "nullable": true
            },
            "customer_company": {
             "nullable": true,
             "type": "object",
             "description": "Represents the customer company (vendor) associated with the project.",
             "additionalProperties": false,
             "properties": {
              "id": {
               "type": "string",
               "description": "The unique identifier for the customer company. Use the \"Company Vendors\" endpoint to retrieve full vendor details. Can be null if customer company is not integrated with Procore.",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "The name of the customer company.",
               "nullable": true
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to clone Bid Board project",
      "description": "This endpoint allows cloning a Bid Board project.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/clone",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response of Bid Board project endpoints",
      "description": "The response of Bid Board project endpoints now includes new fields: estimator_user_id, office_id, customer_company and updated_at.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/clone",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new field to the response models: project_id",
      "description": "The response of Bid Board project endpoints now includes project_id: the Procore Portfolio project identifier linked to this Bid Board project.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/clone",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/clone',\n  headers: {'content-type': 'application/json'},\n  body: {name: 'string', as_template: true},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"as_template\\\":true}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/clone\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/clone \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"as_template\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/clone\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"as_template\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}