{
 "openapi": "3.1.0",
 "info": {
  "title": "Bid Board Project Proposals",
  "version": "2.0",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Board",
  "x-resource-name": "Bid Board Project Proposals",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}": {
   "get": {
    "tags": [
     "Proposal"
    ],
    "summary": "Retrieve a project proposal by Id",
    "operationId": "Proposal_GetProposal2",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "responses": {
     "200": {
      "description": "A project proposal by Id",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents a proposal within a bid board project.",
           "additionalProperties": false,
           "properties": {
            "notes": {
             "type": "string",
             "description": "The notes of the proposal.",
             "nullable": true
            },
            "scope_of_work": {
             "type": "string",
             "description": "The scope of work of the proposal.",
             "nullable": true
            },
            "inclusions": {
             "type": "array",
             "description": "The inclusions of the proposal.",
             "nullable": true,
             "items": {
              "type": "string"
             }
            },
            "exclusions": {
             "type": "array",
             "description": "The exclusions of the proposal.",
             "nullable": true,
             "items": {
              "type": "string"
             }
            },
            "id": {
             "type": "string",
             "description": "The unique identifier of the proposal.",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "The name of the proposal.",
             "nullable": true
            },
            "quote_nr": {
             "type": "integer",
             "description": "The quote number of the proposal.",
             "format": "int32"
            },
            "order": {
             "type": "integer",
             "description": "The order of the proposal.",
             "format": "int32"
            },
            "include_in_primary_estimate": {
             "type": "boolean",
             "description": "Indicates whether the proposal should be included in the primary estimate."
            },
            "is_primary": {
             "type": "boolean",
             "description": "Indicates whether the proposal is the primary proposal of the project."
            },
            "type": {
             "description": "The type of the proposal.",
             "type": "string",
             "x-enumNames": [
              "Estimate",
              "ChangeOrder"
             ],
             "enum": [
              "ESTIMATE",
              "CHANGE_ORDER"
             ]
            },
            "total": {
             "type": "number",
             "description": "The total amount of the proposal.",
             "format": "decimal"
            },
            "is_procore_bid_form_alternate": {
             "type": "boolean",
             "description": "Indicates whether the proposal is an alternate Procore bid form."
            },
            "procore_change_event_id": {
             "type": "string",
             "description": "The change event identifier of the proposal.",
             "nullable": true
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the proposal was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to retrieve a project proposal by Id",
      "description": "This endpoint allows retrieving a project proposal by its Id.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-20",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new field to the response models: updated_at",
      "description": "This field indicates the last time the entity was updated.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Proposal responses now include the is_primary field",
      "description": "Proposal response models now include is_primary to indicate whether a proposal is the project's primary proposal.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-31",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "Proposal"
    ],
    "summary": "Delete a proposal from the project",
    "operationId": "Proposal_DeleteProposal2",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to delete a Bid Board project proposal",
      "description": "This endpoint allows deleting a proposal for a Bid Board project.",
      "endpoint": "DELETE /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-01-15",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "tags": [
     "Proposal"
    ],
    "summary": "Update a proposal of the project",
    "operationId": "Proposal_UpdateProposal2",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     }
    ],
    "requestBody": {
     "x-name": "patch_model",
     "description": "Fields to update for the proposal",
     "content": {
      "application/merge-patch+json": {
       "schema": {
        "type": "object",
        "description": "Represents the request body for partially updating an existing proposal.\nOnly properties with specified Optional`1 values will be updated.",
        "additionalProperties": false,
        "properties": {
         "name": {
          "description": "The new name of the proposal, if the name should be updated.",
          "type": "string",
          "additionalProperties": false
         },
         "type": {
          "description": "The new type of the proposal, if the type should be updated.",
          "type": "string",
          "additionalProperties": false
         },
         "notes": {
          "description": "The updated notes for the proposal, if the notes should be changed.",
          "type": "string",
          "additionalProperties": false
         },
         "scope_of_work": {
          "description": "The updated scope of work for the proposal, if it should be changed.",
          "type": "string",
          "additionalProperties": false
         },
         "inclusions": {
          "description": "The updated list of inclusions for the proposal, if they should be changed.",
          "type": "array",
          "additionalProperties": false,
          "items": {
           "type": "string"
          }
         },
         "exclusions": {
          "description": "The updated list of exclusions for the proposal, if they should be changed.",
          "type": "array",
          "additionalProperties": false,
          "items": {
           "type": "string"
          }
         },
         "include_in_primary_estimate": {
          "description": "Indicates whether the proposal should be included in the primary estimate, if this flag should be updated.",
          "type": "boolean",
          "additionalProperties": false
         },
         "is_primary": {
          "description": "Indicates whether the proposal should become primary.\nOnly one primary proposal can exist in a project.",
          "type": "boolean",
          "additionalProperties": false
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 2
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents a proposal within a bid board project.",
           "additionalProperties": false,
           "properties": {
            "notes": {
             "type": "string",
             "description": "The notes of the proposal.",
             "nullable": true
            },
            "scope_of_work": {
             "type": "string",
             "description": "The scope of work of the proposal.",
             "nullable": true
            },
            "inclusions": {
             "type": "array",
             "description": "The inclusions of the proposal.",
             "nullable": true,
             "items": {
              "type": "string"
             }
            },
            "exclusions": {
             "type": "array",
             "description": "The exclusions of the proposal.",
             "nullable": true,
             "items": {
              "type": "string"
             }
            },
            "id": {
             "type": "string",
             "description": "The unique identifier of the proposal.",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "The name of the proposal.",
             "nullable": true
            },
            "quote_nr": {
             "type": "integer",
             "description": "The quote number of the proposal.",
             "format": "int32"
            },
            "order": {
             "type": "integer",
             "description": "The order of the proposal.",
             "format": "int32"
            },
            "include_in_primary_estimate": {
             "type": "boolean",
             "description": "Indicates whether the proposal should be included in the primary estimate."
            },
            "is_primary": {
             "type": "boolean",
             "description": "Indicates whether the proposal is the primary proposal of the project."
            },
            "type": {
             "description": "The type of the proposal.",
             "type": "string",
             "x-enumNames": [
              "Estimate",
              "ChangeOrder"
             ],
             "enum": [
              "ESTIMATE",
              "CHANGE_ORDER"
             ]
            },
            "total": {
             "type": "number",
             "description": "The total amount of the proposal.",
             "format": "decimal"
            },
            "is_procore_bid_form_alternate": {
             "type": "boolean",
             "description": "Indicates whether the proposal is an alternate Procore bid form."
            },
            "procore_change_event_id": {
             "type": "string",
             "description": "The change event identifier of the proposal.",
             "nullable": true
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the proposal was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to update a project proposal",
      "description": "This endpoint allows updating a proposal for a project.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-01-23",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new field to the response models: updated_at",
      "description": "This field indicates the last time the entity was updated.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Proposal responses now include the is_primary field",
      "description": "Proposal response models now include is_primary to indicate whether a proposal is the project's primary proposal.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-31",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Update proposal now supports the is_primary field",
      "description": "The proposal PATCH endpoint now accepts is_primary to switch the primary proposal. Primary cannot be unset directly; set another proposal as primary instead. The primary proposal cannot have include_in_primary_estimate set to true.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-31",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals": {
   "get": {
    "tags": [
     "Proposal"
    ],
    "summary": "Retrieve all project proposals",
    "operationId": "Proposal_GetProposals2",
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page number",
      "schema": {
       "type": "integer",
       "format": "int32"
      },
      "x-position": 1,
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Items per page",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10,
       "maximum": 100
      },
      "x-position": 2,
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "headers": {
       "Total": {
        "description": "Total number of items",
        "schema": {
         "type": "integer"
        }
       },
       "Per-Page": {
        "description": "Number of items per page",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Links to other pages",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "array",
           "nullable": true,
           "items": {
            "type": "object",
            "description": "Represents a proposal within a bid board project.",
            "additionalProperties": false,
            "properties": {
             "notes": {
              "type": "string",
              "description": "The notes of the proposal.",
              "nullable": true
             },
             "scope_of_work": {
              "type": "string",
              "description": "The scope of work of the proposal.",
              "nullable": true
             },
             "inclusions": {
              "type": "array",
              "description": "The inclusions of the proposal.",
              "nullable": true,
              "items": {
               "type": "string"
              }
             },
             "exclusions": {
              "type": "array",
              "description": "The exclusions of the proposal.",
              "nullable": true,
              "items": {
               "type": "string"
              }
             },
             "id": {
              "type": "string",
              "description": "The unique identifier of the proposal.",
              "nullable": true
             },
             "name": {
              "type": "string",
              "description": "The name of the proposal.",
              "nullable": true
             },
             "quote_nr": {
              "type": "integer",
              "description": "The quote number of the proposal.",
              "format": "int32"
             },
             "order": {
              "type": "integer",
              "description": "The order of the proposal.",
              "format": "int32"
             },
             "include_in_primary_estimate": {
              "type": "boolean",
              "description": "Indicates whether the proposal should be included in the primary estimate."
             },
             "is_primary": {
              "type": "boolean",
              "description": "Indicates whether the proposal is the primary proposal of the project."
             },
             "type": {
              "description": "The type of the proposal.",
              "type": "string",
              "x-enumNames": [
               "Estimate",
               "ChangeOrder"
              ],
              "enum": [
               "ESTIMATE",
               "CHANGE_ORDER"
              ]
             },
             "total": {
              "type": "number",
              "description": "The total amount of the proposal.",
              "format": "decimal"
             },
             "is_procore_bid_form_alternate": {
              "type": "boolean",
              "description": "Indicates whether the proposal is an alternate Procore bid form."
             },
             "procore_change_event_id": {
              "type": "string",
              "description": "The change event identifier of the proposal.",
              "nullable": true
             },
             "updated_at": {
              "type": "string",
              "description": "The date and time when the proposal was last updated.",
              "format": "date-time",
              "nullable": true,
              "example": "2026-03-25T13:25:00Z"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get Bid Board project proposals",
      "description": "This endpoint allows retrieving all proposals for a Bid Board project.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-20",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new field to the response models: updated_at",
      "description": "This field indicates the last time the entity was updated.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Proposal responses now include the is_primary field",
      "description": "Proposal response models now include is_primary to indicate whether a proposal is the project's primary proposal.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-31",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "tags": [
     "Proposal"
    ],
    "summary": "Create a proposal in the project",
    "operationId": "Proposal_CreateProposal2",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "requestBody": {
     "x-name": "model",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Represents the request body for creating a new proposal.",
        "additionalProperties": false,
        "required": [
         "name",
         "type"
        ],
        "properties": {
         "notes": {
          "type": "string",
          "description": "The notes of the proposal.",
          "nullable": true
         },
         "scope_of_work": {
          "type": "string",
          "description": "The scope of work of the proposal.",
          "nullable": true
         },
         "inclusions": {
          "type": "array",
          "description": "The inclusions of the proposal.",
          "nullable": true,
          "items": {
           "type": "string"
          }
         },
         "exclusions": {
          "type": "array",
          "description": "The exclusions of the proposal.",
          "nullable": true,
          "items": {
           "type": "string"
          }
         },
         "name": {
          "type": "string",
          "minLength": 1
         },
         "type": {
          "description": "The type of the proposal to create. This field is required.",
          "type": "string",
          "x-enumNames": [
           "Estimate",
           "ChangeOrder"
          ],
          "enum": [
           "ESTIMATE",
           "CHANGE_ORDER"
          ]
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents a proposal within a bid board project.",
           "additionalProperties": false,
           "properties": {
            "notes": {
             "type": "string",
             "description": "The notes of the proposal.",
             "nullable": true
            },
            "scope_of_work": {
             "type": "string",
             "description": "The scope of work of the proposal.",
             "nullable": true
            },
            "inclusions": {
             "type": "array",
             "description": "The inclusions of the proposal.",
             "nullable": true,
             "items": {
              "type": "string"
             }
            },
            "exclusions": {
             "type": "array",
             "description": "The exclusions of the proposal.",
             "nullable": true,
             "items": {
              "type": "string"
             }
            },
            "id": {
             "type": "string",
             "description": "The unique identifier of the proposal.",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "The name of the proposal.",
             "nullable": true
            },
            "quote_nr": {
             "type": "integer",
             "description": "The quote number of the proposal.",
             "format": "int32"
            },
            "order": {
             "type": "integer",
             "description": "The order of the proposal.",
             "format": "int32"
            },
            "include_in_primary_estimate": {
             "type": "boolean",
             "description": "Indicates whether the proposal should be included in the primary estimate."
            },
            "is_primary": {
             "type": "boolean",
             "description": "Indicates whether the proposal is the primary proposal of the project."
            },
            "type": {
             "description": "The type of the proposal.",
             "type": "string",
             "x-enumNames": [
              "Estimate",
              "ChangeOrder"
             ],
             "enum": [
              "ESTIMATE",
              "CHANGE_ORDER"
             ]
            },
            "total": {
             "type": "number",
             "description": "The total amount of the proposal.",
             "format": "decimal"
            },
            "is_procore_bid_form_alternate": {
             "type": "boolean",
             "description": "Indicates whether the proposal is an alternate Procore bid form."
            },
            "procore_change_event_id": {
             "type": "string",
             "description": "The change event identifier of the proposal.",
             "nullable": true
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the proposal was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to create a Bid Board project proposal",
      "description": "This endpoint allows creating a proposal for a Bid Board project.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-01-15",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new field to the response models: updated_at",
      "description": "This field indicates the last time the entity was updated.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Proposal responses now include the is_primary field",
      "description": "Proposal response models now include is_primary to indicate whether a proposal is the project's primary proposal.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-31",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals',\n  headers: {'content-type': 'application/json'},\n  body: {\n    notes: 'string',\n    scope_of_work: 'string',\n    inclusions: ['string'],\n    exclusions: ['string'],\n    name: 'string',\n    type: 'ESTIMATE'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"notes\\\":\\\"string\\\",\\\"scope_of_work\\\":\\\"string\\\",\\\"inclusions\\\":[\\\"string\\\"],\\\"exclusions\\\":[\\\"string\\\"],\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"ESTIMATE\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals \\\n  --header 'content-type: application/json' \\\n  --data '{\"notes\":\"string\",\"scope_of_work\":\"string\",\"inclusions\":[\"string\"],\"exclusions\":[\"string\"],\"name\":\"string\",\"type\":\"ESTIMATE\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals\"),\n    Content = new StringContent(\"{\\\"notes\\\":\\\"string\\\",\\\"scope_of_work\\\":\\\"string\\\",\\\"inclusions\\\":[\\\"string\\\"],\\\"exclusions\\\":[\\\"string\\\"],\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"ESTIMATE\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/import/line_item_groups": {
   "post": {
    "tags": [
     "Proposal"
    ],
    "summary": "Create line items and line item groups in bulk to the Project",
    "operationId": "Proposal_BulkImport2",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "requestBody": {
     "x-name": "request",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
         "groups": {
          "type": "array",
          "nullable": true,
          "items": {
           "type": "object",
           "additionalProperties": false,
           "required": [
            "name"
           ],
           "properties": {
            "multiplier": {
             "type": "number",
             "format": "decimal"
            },
            "name": {
             "type": "string",
             "minLength": 1
            },
            "pricing_override": {
             "nullable": true,
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "unit_material_cost": {
               "type": "number",
               "format": "decimal"
              },
              "material_margin": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor": {
               "type": "number",
               "format": "decimal"
              },
              "labor_factor": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_rate": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_cost": {
               "type": "number",
               "format": "decimal"
              },
              "is_untaxed": {
               "type": "boolean"
              },
              "labor_margin": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              }
             }
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "order": {
             "type": "integer",
             "format": "int32"
            },
            "layers": {
             "type": "array",
             "nullable": true,
             "items": {
              "type": "object",
              "description": "Line item response model.",
              "additionalProperties": false,
              "properties": {
               "name": {
                "type": "string",
                "description": "Display name of the line item.",
                "nullable": true
               },
               "group_id": {
                "type": "string",
                "description": "Line item group ID. Omit or leave empty to use the default group.",
                "nullable": true
               },
               "cost_item": {
                "description": "Cost item associated with the line item. Provide custom pricing or omit to use a generic cost item based on type. When provided, the entire cost item is replaced (no partial updates). At least one of `cost_item.unit` or `type` must be provided so the line item's measurement basis is determined.",
                "nullable": true,
                "type": "object",
                "additionalProperties": false,
                "properties": {
                 "type": {
                  "type": "string",
                  "description": "Category of the cost item.",
                  "x-enumNames": [
                   "Part",
                   "Assembly",
                   "Custom",
                   "Equipment",
                   "Subcontractor",
                   "Travel",
                   "Labor"
                  ],
                  "enum": [
                   "PART",
                   "ASSEMBLY",
                   "CUSTOM",
                   "EQUIPMENT",
                   "SUBCONTRACTOR",
                   "TRAVEL",
                   "LABOR"
                  ]
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the cost item.",
                  "nullable": true
                 },
                 "description": {
                  "type": "string",
                  "description": "Description of the cost item.",
                  "nullable": true
                 },
                 "unit_cost": {
                  "type": "number",
                  "description": "Unit material cost.",
                  "format": "decimal"
                 },
                 "unit_labor": {
                  "type": "number",
                  "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
                  "format": "decimal"
                 },
                 "labor_time_unit": {
                  "description": "Unit for labor time.",
                  "type": "string",
                  "x-enumNames": [
                   "Minutes",
                   "Hours",
                   "Days",
                   "Weeks",
                   "Months"
                  ],
                  "enum": [
                   "MINUTES",
                   "HOURS",
                   "DAYS",
                   "WEEKS",
                   "MONTHS"
                  ]
                 },
                 "unit_labor_cost": {
                  "type": "number",
                  "description": "Unit labor cost.",
                  "format": "decimal"
                 },
                 "manufacturer": {
                  "type": "string",
                  "description": "Manufacturer of the item.",
                  "nullable": true
                 },
                 "catalog_number": {
                  "type": "string",
                  "description": "Catalog or product number.",
                  "nullable": true
                 },
                 "url": {
                  "type": "string",
                  "description": "URL to product or specification.",
                  "nullable": true
                 },
                 "supplier": {
                  "type": "string",
                  "description": "Supplier or vendor name.",
                  "nullable": true
                 },
                 "waste": {
                  "type": "number",
                  "description": "Waste percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "material_waste": {
                  "type": "number",
                  "description": "Material waste percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "item_margin": {
                  "type": "number",
                  "description": "Item margin percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "labor_margin": {
                  "type": "number",
                  "description": "Labor margin percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "unit_labor_rate": {
                  "type": "number",
                  "description": "Labor rate per unit.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "is_untaxed": {
                  "type": "boolean",
                  "description": "Whether the item is excluded from tax."
                 },
                 "unit": {
                  "description": "Unit of measurement.",
                  "type": "string",
                  "x-enumNames": [
                   "Ea",
                   "Ft",
                   "SqFt",
                   "CuFt",
                   "Gal",
                   "Lb",
                   "Yd",
                   "SqYd",
                   "CuYd",
                   "Square",
                   "None",
                   "Minutes",
                   "Hours",
                   "Days",
                   "Ton",
                   "Weeks",
                   "Months",
                   "LumpSum"
                  ],
                  "enum": [
                   "EA",
                   "FT",
                   "SQ_FT",
                   "CU_FT",
                   "GAL",
                   "LB",
                   "YD",
                   "SQ_YD",
                   "CU_YD",
                   "SQUARE",
                   "NONE",
                   "MINUTES",
                   "HOURS",
                   "DAYS",
                   "TON",
                   "WEEKS",
                   "MONTHS",
                   "LUMP_SUM"
                  ]
                 },
                 "notes": {
                  "type": "string",
                  "description": "Notes.",
                  "nullable": true
                 },
                 "id": {
                  "type": "string",
                  "description": "Catalog item ID to link to an existing cost item. Omit or leave empty to create a new custom cost item from the provided fields.",
                  "nullable": true
                 },
                 "color": {
                  "type": "string",
                  "description": "Display color. Example: \"#00ecff\".",
                  "nullable": true
                 },
                 "symbol_id": {
                  "type": "string",
                  "description": "Symbol ID for takeoff. Built-in: circle, square, empty. Custom: numeric document ID string.",
                  "nullable": true
                 },
                 "delivery_unit": {
                  "type": "integer",
                  "description": "Delivery unit quantity.",
                  "format": "int32",
                  "nullable": true
                 },
                 "catalog_id": {
                  "type": "string",
                  "description": "Catalog folder ID.",
                  "nullable": true
                 },
                 "parts": {
                  "type": "array",
                  "description": "Sub-items (parts) of an assembly cost item. Empty for non-assembly cost items. On create, replaces the parts list copied from any referenced catalog item. Only valid when `type` is `Assembly` \u2014 providing parts with any other type is rejected with 400.",
                  "nullable": true,
                  "items": {
                   "type": "object",
                   "description": "Cost item sub-item (part of an assembly).",
                   "additionalProperties": false,
                   "properties": {
                    "type": {
                     "type": "string",
                     "description": "Category of the cost item.",
                     "x-enumNames": [
                      "Part",
                      "Assembly",
                      "Custom",
                      "Equipment",
                      "Subcontractor",
                      "Travel",
                      "Labor"
                     ],
                     "enum": [
                      "PART",
                      "ASSEMBLY",
                      "CUSTOM",
                      "EQUIPMENT",
                      "SUBCONTRACTOR",
                      "TRAVEL",
                      "LABOR"
                     ]
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the cost item.",
                     "nullable": true
                    },
                    "description": {
                     "type": "string",
                     "description": "Description of the cost item.",
                     "nullable": true
                    },
                    "unit_cost": {
                     "type": "number",
                     "description": "Unit material cost.",
                     "format": "decimal"
                    },
                    "unit_labor": {
                     "type": "number",
                     "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
                     "format": "decimal"
                    },
                    "labor_time_unit": {
                     "description": "Unit for labor time.",
                     "type": "string",
                     "x-enumNames": [
                      "Minutes",
                      "Hours",
                      "Days",
                      "Weeks",
                      "Months"
                     ],
                     "enum": [
                      "MINUTES",
                      "HOURS",
                      "DAYS",
                      "WEEKS",
                      "MONTHS"
                     ]
                    },
                    "unit_labor_cost": {
                     "type": "number",
                     "description": "Unit labor cost.",
                     "format": "decimal"
                    },
                    "manufacturer": {
                     "type": "string",
                     "description": "Manufacturer of the item.",
                     "nullable": true
                    },
                    "catalog_number": {
                     "type": "string",
                     "description": "Catalog or product number.",
                     "nullable": true
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to product or specification.",
                     "nullable": true
                    },
                    "supplier": {
                     "type": "string",
                     "description": "Supplier or vendor name.",
                     "nullable": true
                    },
                    "waste": {
                     "type": "number",
                     "description": "Waste percentage.",
                     "format": "decimal",
                     "nullable": true
                    },
                    "material_waste": {
                     "type": "number",
                     "description": "Material waste percentage.",
                     "format": "decimal",
                     "nullable": true
                    },
                    "item_margin": {
                     "type": "number",
                     "description": "Item margin percentage.",
                     "format": "decimal",
                     "nullable": true
                    },
                    "labor_margin": {
                     "type": "number",
                     "description": "Labor margin percentage.",
                     "format": "decimal",
                     "nullable": true
                    },
                    "unit_labor_rate": {
                     "type": "number",
                     "description": "Labor rate per unit.",
                     "format": "decimal",
                     "nullable": true
                    },
                    "is_untaxed": {
                     "type": "boolean",
                     "description": "Whether the item is excluded from tax."
                    },
                    "unit": {
                     "description": "Unit of measurement.",
                     "type": "string",
                     "x-enumNames": [
                      "Ea",
                      "Ft",
                      "SqFt",
                      "CuFt",
                      "Gal",
                      "Lb",
                      "Yd",
                      "SqYd",
                      "CuYd",
                      "Square",
                      "None",
                      "Minutes",
                      "Hours",
                      "Days",
                      "Ton",
                      "Weeks",
                      "Months",
                      "LumpSum"
                     ],
                     "enum": [
                      "EA",
                      "FT",
                      "SQ_FT",
                      "CU_FT",
                      "GAL",
                      "LB",
                      "YD",
                      "SQ_YD",
                      "CU_YD",
                      "SQUARE",
                      "NONE",
                      "MINUTES",
                      "HOURS",
                      "DAYS",
                      "TON",
                      "WEEKS",
                      "MONTHS",
                      "LUMP_SUM"
                     ]
                    },
                    "notes": {
                     "type": "string",
                     "description": "Notes.",
                     "nullable": true
                    },
                    "multiplier": {
                     "type": "number",
                     "description": "Quantity multiplier for this sub-item.",
                     "format": "decimal"
                    },
                    "multiplier_string": {
                     "type": "string",
                     "description": "Formula string for dynamic multiplier.",
                     "nullable": true
                    },
                    "dynamic_type": {
                     "type": "string",
                     "description": "Dynamic type for formula-based multipliers.",
                     "nullable": true
                    }
                   }
                  }
                 }
                }
               },
               "labor_factor": {
                "type": "number",
                "description": "Labor difficulty factor applied to the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "quantity": {
                "type": "number",
                "description": "Quantity from the estimating table (manual entry). Updated when using estimating or takeoff tab.",
                "format": "decimal"
               },
               "tag": {
                "type": "string",
                "description": "Optional tag for filtering or grouping.",
                "nullable": true
               },
               "id": {
                "type": "string",
                "description": "Line item ID.",
                "nullable": true
               },
               "type": {
                "description": "How the line item quantity is measured (count, linear, area, etc.).",
                "example": "COUNT",
                "type": "string",
                "x-enumNames": [
                 "Unknown",
                 "Count",
                 "Design",
                 "Linear",
                 "LinearWithDrop",
                 "LinearAvgWithDrop",
                 "LinearEach",
                 "Area",
                 "VerticalArea",
                 "None"
                ],
                "enum": [
                 "UNKNOWN",
                 "COUNT",
                 "DESIGN",
                 "LINEAR",
                 "LINEAR_WITH_DROP",
                 "LINEAR_AVG_WITH_DROP",
                 "LINEAR_EACH",
                 "AREA",
                 "VERTICAL_AREA",
                 "NONE"
                ]
               },
               "takeoff_quantity": {
                "type": "number",
                "description": "Quantity measured in the takeoff tab (2D drawing and 3D model measurements combined). Read-only.",
                "format": "decimal"
               },
               "item_cost": {
                "type": "number",
                "description": "Calculated item cost.",
                "format": "decimal"
               },
               "item_sales": {
                "type": "number",
                "description": "Calculated item sales.",
                "format": "decimal"
               },
               "labor_cost": {
                "type": "number",
                "description": "Calculated labor cost.",
                "format": "decimal"
               },
               "labor_sales": {
                "type": "number",
                "description": "Calculated labor sales.",
                "format": "decimal"
               },
               "profit": {
                "type": "number",
                "description": "Calculated profit.",
                "format": "decimal"
               },
               "updated_at": {
                "type": "string",
                "description": "The date and time when the line item was last updated.",
                "format": "date-time",
                "nullable": true,
                "example": "2026-03-25T13:25:00Z"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": ""
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/import/line_item_groups',\n  headers: {'content-type': 'application/json'},\n  body: {\n    groups: [\n      {\n        multiplier: 0,\n        name: 'string',\n        pricing_override: {\n          unit_material_cost: 0,\n          material_margin: 0,\n          unit_labor: 0,\n          labor_factor: 0,\n          unit_labor_rate: 0,\n          unit_labor_cost: 0,\n          is_untaxed: true,\n          labor_margin: 0\n        },\n        notes: 'string',\n        order: 0,\n        layers: [\n          {\n            name: 'string',\n            group_id: 'string',\n            cost_item: {\n              type: 'PART',\n              name: 'string',\n              description: 'string',\n              unit_cost: 0,\n              unit_labor: 0,\n              labor_time_unit: 'MINUTES',\n              unit_labor_cost: 0,\n              manufacturer: 'string',\n              catalog_number: 'string',\n              url: 'string',\n              supplier: 'string',\n              waste: 0,\n              material_waste: 0,\n              item_margin: 0,\n              labor_margin: 0,\n              unit_labor_rate: 0,\n              is_untaxed: true,\n              unit: 'EA',\n              notes: 'string',\n              id: 'string',\n              color: 'string',\n              symbol_id: 'string',\n              delivery_unit: 0,\n              catalog_id: 'string',\n              parts: [\n                {\n                  type: 'PART',\n                  name: 'string',\n                  description: 'string',\n                  unit_cost: 0,\n                  unit_labor: 0,\n                  labor_time_unit: 'MINUTES',\n                  unit_labor_cost: 0,\n                  manufacturer: 'string',\n                  catalog_number: 'string',\n                  url: 'string',\n                  supplier: 'string',\n                  waste: 0,\n                  material_waste: 0,\n                  item_margin: 0,\n                  labor_margin: 0,\n                  unit_labor_rate: 0,\n                  is_untaxed: true,\n                  unit: 'EA',\n                  notes: 'string',\n                  multiplier: 0,\n                  multiplier_string: 'string',\n                  dynamic_type: 'string'\n                }\n              ]\n            },\n            labor_factor: 0,\n            quantity: 0,\n            tag: 'string',\n            id: 'string',\n            type: 'COUNT',\n            takeoff_quantity: 0,\n            item_cost: 0,\n            item_sales: 0,\n            labor_cost: 0,\n            labor_sales: 0,\n            profit: 0,\n            updated_at: '2026-03-25T13:25:00Z'\n          }\n        ]\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"groups\\\":[{\\\"multiplier\\\":0,\\\"name\\\":\\\"string\\\",\\\"pricing_override\\\":{\\\"unit_material_cost\\\":0,\\\"material_margin\\\":0,\\\"unit_labor\\\":0,\\\"labor_factor\\\":0,\\\"unit_labor_rate\\\":0,\\\"unit_labor_cost\\\":0,\\\"is_untaxed\\\":true,\\\"labor_margin\\\":0},\\\"notes\\\":\\\"string\\\",\\\"order\\\":0,\\\"layers\\\":[{\\\"name\\\":\\\"string\\\",\\\"group_id\\\":\\\"string\\\",\\\"cost_item\\\":{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"labor_time_unit\\\":\\\"MINUTES\\\",\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"color\\\":\\\"string\\\",\\\"symbol_id\\\":\\\"string\\\",\\\"delivery_unit\\\":0,\\\"catalog_id\\\":\\\"string\\\",\\\"parts\\\":[{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"labor_time_unit\\\":\\\"MINUTES\\\",\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"multiplier\\\":0,\\\"multiplier_string\\\":\\\"string\\\",\\\"dynamic_type\\\":\\\"string\\\"}]},\\\"labor_factor\\\":0,\\\"quantity\\\":0,\\\"tag\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"type\\\":\\\"COUNT\\\",\\\"takeoff_quantity\\\":0,\\\"item_cost\\\":0,\\\"item_sales\\\":0,\\\"labor_cost\\\":0,\\\"labor_sales\\\":0,\\\"profit\\\":0,\\\"updated_at\\\":\\\"2026-03-25T13:25:00Z\\\"}]}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/import/line_item_groups\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/import/line_item_groups \\\n  --header 'content-type: application/json' \\\n  --data '{\"groups\":[{\"multiplier\":0,\"name\":\"string\",\"pricing_override\":{\"unit_material_cost\":0,\"material_margin\":0,\"unit_labor\":0,\"labor_factor\":0,\"unit_labor_rate\":0,\"unit_labor_cost\":0,\"is_untaxed\":true,\"labor_margin\":0},\"notes\":\"string\",\"order\":0,\"layers\":[{\"name\":\"string\",\"group_id\":\"string\",\"cost_item\":{\"type\":\"PART\",\"name\":\"string\",\"description\":\"string\",\"unit_cost\":0,\"unit_labor\":0,\"labor_time_unit\":\"MINUTES\",\"unit_labor_cost\":0,\"manufacturer\":\"string\",\"catalog_number\":\"string\",\"url\":\"string\",\"supplier\":\"string\",\"waste\":0,\"material_waste\":0,\"item_margin\":0,\"labor_margin\":0,\"unit_labor_rate\":0,\"is_untaxed\":true,\"unit\":\"EA\",\"notes\":\"string\",\"id\":\"string\",\"color\":\"string\",\"symbol_id\":\"string\",\"delivery_unit\":0,\"catalog_id\":\"string\",\"parts\":[{\"type\":\"PART\",\"name\":\"string\",\"description\":\"string\",\"unit_cost\":0,\"unit_labor\":0,\"labor_time_unit\":\"MINUTES\",\"unit_labor_cost\":0,\"manufacturer\":\"string\",\"catalog_number\":\"string\",\"url\":\"string\",\"supplier\":\"string\",\"waste\":0,\"material_waste\":0,\"item_margin\":0,\"labor_margin\":0,\"unit_labor_rate\":0,\"is_untaxed\":true,\"unit\":\"EA\",\"notes\":\"string\",\"multiplier\":0,\"multiplier_string\":\"string\",\"dynamic_type\":\"string\"}]},\"labor_factor\":0,\"quantity\":0,\"tag\":\"string\",\"id\":\"string\",\"type\":\"COUNT\",\"takeoff_quantity\":0,\"item_cost\":0,\"item_sales\":0,\"labor_cost\":0,\"labor_sales\":0,\"profit\":0,\"updated_at\":\"2026-03-25T13:25:00Z\"}]}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/import/line_item_groups\"),\n    Content = new StringContent(\"{\\\"groups\\\":[{\\\"multiplier\\\":0,\\\"name\\\":\\\"string\\\",\\\"pricing_override\\\":{\\\"unit_material_cost\\\":0,\\\"material_margin\\\":0,\\\"unit_labor\\\":0,\\\"labor_factor\\\":0,\\\"unit_labor_rate\\\":0,\\\"unit_labor_cost\\\":0,\\\"is_untaxed\\\":true,\\\"labor_margin\\\":0},\\\"notes\\\":\\\"string\\\",\\\"order\\\":0,\\\"layers\\\":[{\\\"name\\\":\\\"string\\\",\\\"group_id\\\":\\\"string\\\",\\\"cost_item\\\":{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"labor_time_unit\\\":\\\"MINUTES\\\",\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"color\\\":\\\"string\\\",\\\"symbol_id\\\":\\\"string\\\",\\\"delivery_unit\\\":0,\\\"catalog_id\\\":\\\"string\\\",\\\"parts\\\":[{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"labor_time_unit\\\":\\\"MINUTES\\\",\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"multiplier\\\":0,\\\"multiplier_string\\\":\\\"string\\\",\\\"dynamic_type\\\":\\\"string\\\"}]},\\\"labor_factor\\\":0,\\\"quantity\\\":0,\\\"tag\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"type\\\":\\\"COUNT\\\",\\\"takeoff_quantity\\\":0,\\\"item_cost\\\":0,\\\"item_sales\\\":0,\\\"labor_cost\\\":0,\\\"labor_sales\\\":0,\\\"profit\\\":0,\\\"updated_at\\\":\\\"2026-03-25T13:25:00Z\\\"}]}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}