{
 "openapi": "3.0.0",
 "info": {
  "title": "Bid Uploads",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Management",
  "x-resource-name": "Bid Uploads",
  "version": "1.0",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/bids/{bid_id}/uploads": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_id",
     "in": "path",
     "description": "Bid ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Bid Uploads",
    "description": "Fetches a list of Bid Uploads for a Bid",
    "tags": [
     "Bid Uploads"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Bid Uploads",
         "items": {
          "type": "object",
          "description": "Bid Upload",
          "properties": {
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2012-10-23T21:39:40Z"
           },
           "name": {
            "type": "string",
            "description": "Bid Upload file name",
            "example": "test.pdf"
           },
           "expired": {
            "type": "boolean",
            "description": "Bid Upload is expired",
            "example": false
           },
           "links": {
            "type": "object",
            "description": "Path to uploaded file",
            "properties": {
             "self": {
              "type": "string",
              "description": "Path to uploaded file",
              "example": "/123/company/bid/456/uploads/789\""
             }
            }
           },
           "id": {
            "type": "integer",
            "description": "Upload ID",
            "example": 789
           },
           "uuid": {
            "type": "string",
            "description": "UUID",
            "example": "01FX7WP7FZECR4DSD18APQRT3E"
           },
           "url": {
            "type": "string",
            "description": "URL of the storage",
            "example": "https://s3.amazonaws.com/test-location"
           },
           "fields": {
            "type": "object",
            "description": "Properties to be passed to the storage for upload",
            "properties": {
             "key": {
              "type": "string",
              "description": "Property to be passed to the storage for upload",
              "example": "companies/123/01FX7WP7FZECR4DSD18APQRT3E"
             },
             "filename": {
              "type": "string",
              "description": "Property to be passed to the storage for upload",
              "example": "test.pdf"
             },
             "policy": {
              "type": "string",
              "description": "Property to be passed to the storage for upload",
              "example": "a-base64-encoded-string"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bids/%7Bbid_id%7D/uploads'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/bids/%7Bbid_id%7D/uploads\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bids/%7Bbid_id%7D/uploads"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bids/%7Bbid_id%7D/uploads\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Bid Upload endpoint",
      "description": "Get a list of Bid Uploads",
      "endpoint": "GET /companies/{company_id}/bids/{bid_id}/uploads",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-03-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-uploads?version=1.0#list-bid-uploads"
     }
    ]
   },
   "x-compliance-level": "partial"
  }
 }
}