{
 "openapi": "3.1.0",
 "info": {
  "title": "Bid Board Project Line Item Groups",
  "version": "2.0",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Board",
  "x-resource-name": "Bid Board Project Line Item Groups",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups/{line_item_group_id}": {
   "get": {
    "tags": [
     "LayerGroup"
    ],
    "summary": "Retrieve a line item group by Id",
    "operationId": "LayerGroup_GetLayerGroup2",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "line_item_group_id",
      "in": "path",
      "required": true,
      "description": "Line Item Group Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 2
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     }
    ],
    "responses": {
     "200": {
      "description": "Line item group by Id",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "additionalProperties": false,
           "required": [
            "name"
           ],
           "properties": {
            "multiplier": {
             "type": "number",
             "format": "decimal"
            },
            "name": {
             "type": "string",
             "minLength": 1
            },
            "pricing_override": {
             "nullable": true,
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "unit_material_cost": {
               "type": "number",
               "format": "decimal"
              },
              "material_margin": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor": {
               "type": "number",
               "format": "decimal"
              },
              "labor_factor": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_rate": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_cost": {
               "type": "number",
               "format": "decimal"
              },
              "is_untaxed": {
               "type": "boolean"
              },
              "labor_margin": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              }
             }
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "id": {
             "type": "string",
             "nullable": true
            },
            "item_cost": {
             "type": "number",
             "description": "Calculated item cost.",
             "format": "decimal"
            },
            "item_sales": {
             "type": "number",
             "description": "Calculated item sales.",
             "format": "decimal"
            },
            "labor_cost": {
             "type": "number",
             "description": "Calculated labor cost.",
             "format": "decimal"
            },
            "labor_sales": {
             "type": "number",
             "description": "Calculated labor sales.",
             "format": "decimal"
            },
            "profit": {
             "type": "number",
             "description": "Calculated profit.",
             "format": "decimal"
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the line item group was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get a line item group by Id",
      "description": "This endpoint allows retrieving a line item group by its Id.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups/{line_item_group_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-20",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response",
      "description": "The response now includes new fields: item_cost, item_sales, labor_cost, labor_sales, profit and updated_at",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups/{line_item_group_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "LayerGroup"
    ],
    "summary": "Delete a line item group from the proposal",
    "operationId": "LayerGroup_DeleteLayerGroup2",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "line_item_group_id",
      "in": "path",
      "required": true,
      "description": "Line Item Group Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 2
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to delete a group from a proposal",
      "description": "This endpoint allows deleting a group from a proposal.",
      "endpoint": "DELETE /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups/{line_item_group_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-02-03",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "tags": [
     "LayerGroup"
    ],
    "summary": "Update a line item group of the proposal",
    "operationId": "LayerGroup_UpdateLayerGroup2",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "line_item_group_id",
      "in": "path",
      "required": true,
      "description": "Line Item Group Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 2
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 5
     }
    ],
    "requestBody": {
     "x-name": "patch_model",
     "description": "Fields to update for the Line Item Group",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
         "multiplier": {
          "type": "number",
          "additionalProperties": false
         },
         "name": {
          "type": "string",
          "additionalProperties": false
         },
         "pricing_override": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
           "unit_material_cost": {
            "type": "number",
            "format": "decimal"
           },
           "material_margin": {
            "type": "number",
            "format": "decimal",
            "nullable": true
           },
           "unit_labor": {
            "type": "number",
            "format": "decimal"
           },
           "labor_factor": {
            "type": "number",
            "format": "decimal",
            "nullable": true
           },
           "unit_labor_rate": {
            "type": "number",
            "format": "decimal",
            "nullable": true
           },
           "unit_labor_cost": {
            "type": "number",
            "format": "decimal"
           },
           "is_untaxed": {
            "type": "boolean"
           },
           "labor_margin": {
            "type": "number",
            "format": "decimal",
            "nullable": true
           }
          }
         },
         "notes": {
          "type": "string",
          "additionalProperties": false
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 3
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "additionalProperties": false,
           "required": [
            "name"
           ],
           "properties": {
            "multiplier": {
             "type": "number",
             "format": "decimal"
            },
            "name": {
             "type": "string",
             "minLength": 1
            },
            "pricing_override": {
             "nullable": true,
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "unit_material_cost": {
               "type": "number",
               "format": "decimal"
              },
              "material_margin": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor": {
               "type": "number",
               "format": "decimal"
              },
              "labor_factor": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_rate": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_cost": {
               "type": "number",
               "format": "decimal"
              },
              "is_untaxed": {
               "type": "boolean"
              },
              "labor_margin": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              }
             }
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "id": {
             "type": "string",
             "nullable": true
            },
            "item_cost": {
             "type": "number",
             "description": "Calculated item cost.",
             "format": "decimal"
            },
            "item_sales": {
             "type": "number",
             "description": "Calculated item sales.",
             "format": "decimal"
            },
            "labor_cost": {
             "type": "number",
             "description": "Calculated labor cost.",
             "format": "decimal"
            },
            "labor_sales": {
             "type": "number",
             "description": "Calculated labor sales.",
             "format": "decimal"
            },
            "profit": {
             "type": "number",
             "description": "Calculated profit.",
             "format": "decimal"
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the line item group was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to update a group",
      "description": "This endpoint allows updating a group for a proposal.",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups/{line_item_group_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-02-03",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response",
      "description": "The response now includes new fields: item_cost, item_sales, labor_cost, labor_sales, profit and updated_at",
      "endpoint": "PATCH /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups/{line_item_group_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    multiplier: 0,\n    name: 'string',\n    pricing_override: {\n      unit_material_cost: 0,\n      material_margin: 0,\n      unit_labor: 0,\n      labor_factor: 0,\n      unit_labor_rate: 0,\n      unit_labor_cost: 0,\n      is_untaxed: true,\n      labor_margin: 0\n    },\n    notes: 'string'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"multiplier\\\":0,\\\"name\\\":\\\"string\\\",\\\"pricing_override\\\":{\\\"unit_material_cost\\\":0,\\\"material_margin\\\":0,\\\"unit_labor\\\":0,\\\"labor_factor\\\":0,\\\"unit_labor_rate\\\":0,\\\"unit_labor_cost\\\":0,\\\"is_untaxed\\\":true,\\\"labor_margin\\\":0},\\\"notes\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"multiplier\":0,\"name\":\"string\",\"pricing_override\":{\"unit_material_cost\":0,\"material_margin\":0,\"unit_labor\":0,\"labor_factor\":0,\"unit_labor_rate\":0,\"unit_labor_cost\":0,\"is_untaxed\":true,\"labor_margin\":0},\"notes\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups/%7Bline_item_group_id%7D\"),\n    Content = new StringContent(\"{\\\"multiplier\\\":0,\\\"name\\\":\\\"string\\\",\\\"pricing_override\\\":{\\\"unit_material_cost\\\":0,\\\"material_margin\\\":0,\\\"unit_labor\\\":0,\\\"labor_factor\\\":0,\\\"unit_labor_rate\\\":0,\\\"unit_labor_cost\\\":0,\\\"is_untaxed\\\":true,\\\"labor_margin\\\":0},\\\"notes\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups": {
   "get": {
    "tags": [
     "LayerGroup"
    ],
    "summary": "Retrieve all line item groups of a proposal",
    "operationId": "LayerGroup_GetLayerGroups2",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number",
      "schema": {
       "type": "integer",
       "format": "int32"
      },
      "x-position": 2,
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Items per page",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10,
       "maximum": 100
      },
      "x-position": 3,
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 5
     }
    ],
    "responses": {
     "200": {
      "description": "All line item groups of the proposal",
      "headers": {
       "Total": {
        "description": "Total number of items",
        "schema": {
         "type": "integer"
        }
       },
       "Per-Page": {
        "description": "Number of items per page",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Links to other pages",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "array",
           "nullable": true,
           "items": {
            "type": "object",
            "additionalProperties": false,
            "required": [
             "name"
            ],
            "properties": {
             "multiplier": {
              "type": "number",
              "format": "decimal"
             },
             "name": {
              "type": "string",
              "minLength": 1
             },
             "pricing_override": {
              "nullable": true,
              "type": "object",
              "additionalProperties": false,
              "properties": {
               "unit_material_cost": {
                "type": "number",
                "format": "decimal"
               },
               "material_margin": {
                "type": "number",
                "format": "decimal",
                "nullable": true
               },
               "unit_labor": {
                "type": "number",
                "format": "decimal"
               },
               "labor_factor": {
                "type": "number",
                "format": "decimal",
                "nullable": true
               },
               "unit_labor_rate": {
                "type": "number",
                "format": "decimal",
                "nullable": true
               },
               "unit_labor_cost": {
                "type": "number",
                "format": "decimal"
               },
               "is_untaxed": {
                "type": "boolean"
               },
               "labor_margin": {
                "type": "number",
                "format": "decimal",
                "nullable": true
               }
              }
             },
             "notes": {
              "type": "string",
              "nullable": true
             },
             "id": {
              "type": "string",
              "nullable": true
             },
             "item_cost": {
              "type": "number",
              "description": "Calculated item cost.",
              "format": "decimal"
             },
             "item_sales": {
              "type": "number",
              "description": "Calculated item sales.",
              "format": "decimal"
             },
             "labor_cost": {
              "type": "number",
              "description": "Calculated labor cost.",
              "format": "decimal"
             },
             "labor_sales": {
              "type": "number",
              "description": "Calculated labor sales.",
              "format": "decimal"
             },
             "profit": {
              "type": "number",
              "description": "Calculated profit.",
              "format": "decimal"
             },
             "updated_at": {
              "type": "string",
              "description": "The date and time when the line item group was last updated.",
              "format": "date-time",
              "nullable": true,
              "example": "2026-03-25T13:25:00Z"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get line item groups of a proposal",
      "description": "This endpoint allows retrieving all line item groups of a proposal.",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-20",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response",
      "description": "The response now includes new fields: item_cost, item_sales, labor_cost, labor_sales, profit and updated_at",
      "endpoint": "GET /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "tags": [
     "LayerGroup"
    ],
    "summary": "Create a line item group in the proposal",
    "operationId": "LayerGroup_CreateLayerGroup2",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     },
     {
      "name": "bid_board_project_id",
      "in": "path",
      "required": true,
      "description": "Unique BidBoard project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     }
    ],
    "requestBody": {
     "x-name": "model",
     "description": "Line Item Group",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "name"
        ],
        "properties": {
         "multiplier": {
          "type": "number",
          "format": "decimal"
         },
         "name": {
          "type": "string",
          "minLength": 1
         },
         "pricing_override": {
          "type": "object",
          "additionalProperties": false,
          "properties": {
           "unit_material_cost": {
            "type": "number",
            "format": "decimal"
           },
           "material_margin": {
            "type": "number",
            "format": "decimal",
            "nullable": true
           },
           "unit_labor": {
            "type": "number",
            "format": "decimal"
           },
           "labor_factor": {
            "type": "number",
            "format": "decimal",
            "nullable": true
           },
           "unit_labor_rate": {
            "type": "number",
            "format": "decimal",
            "nullable": true
           },
           "unit_labor_cost": {
            "type": "number",
            "format": "decimal"
           },
           "is_untaxed": {
            "type": "boolean"
           },
           "labor_margin": {
            "type": "number",
            "format": "decimal",
            "nullable": true
           }
          },
          "nullable": true
         },
         "notes": {
          "type": "string",
          "nullable": true
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 2
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "additionalProperties": false,
           "required": [
            "name"
           ],
           "properties": {
            "multiplier": {
             "type": "number",
             "format": "decimal"
            },
            "name": {
             "type": "string",
             "minLength": 1
            },
            "pricing_override": {
             "nullable": true,
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "unit_material_cost": {
               "type": "number",
               "format": "decimal"
              },
              "material_margin": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor": {
               "type": "number",
               "format": "decimal"
              },
              "labor_factor": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_rate": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_cost": {
               "type": "number",
               "format": "decimal"
              },
              "is_untaxed": {
               "type": "boolean"
              },
              "labor_margin": {
               "type": "number",
               "format": "decimal",
               "nullable": true
              }
             }
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "id": {
             "type": "string",
             "nullable": true
            },
            "item_cost": {
             "type": "number",
             "description": "Calculated item cost.",
             "format": "decimal"
            },
            "item_sales": {
             "type": "number",
             "description": "Calculated item sales.",
             "format": "decimal"
            },
            "labor_cost": {
             "type": "number",
             "description": "Calculated labor cost.",
             "format": "decimal"
            },
            "labor_sales": {
             "type": "number",
             "description": "Calculated labor sales.",
             "format": "decimal"
            },
            "profit": {
             "type": "number",
             "description": "Calculated profit.",
             "format": "decimal"
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the line item group was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to create a group",
      "description": "This endpoint allows creating a group for a proposal.",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-02-03",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response",
      "description": "The response now includes new fields: item_cost, item_sales, labor_cost, labor_sales, profit and updated_at",
      "endpoint": "POST /companies/{company_id}/estimating/bid_board_projects/{bid_board_project_id}/proposals/{proposal_id}/line_item_groups",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups',\n  headers: {'content-type': 'application/json'},\n  body: {\n    multiplier: 0,\n    name: 'string',\n    pricing_override: {\n      unit_material_cost: 0,\n      material_margin: 0,\n      unit_labor: 0,\n      labor_factor: 0,\n      unit_labor_rate: 0,\n      unit_labor_cost: 0,\n      is_untaxed: true,\n      labor_margin: 0\n    },\n    notes: 'string'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"multiplier\\\":0,\\\"name\\\":\\\"string\\\",\\\"pricing_override\\\":{\\\"unit_material_cost\\\":0,\\\"material_margin\\\":0,\\\"unit_labor\\\":0,\\\"labor_factor\\\":0,\\\"unit_labor_rate\\\":0,\\\"unit_labor_cost\\\":0,\\\"is_untaxed\\\":true,\\\"labor_margin\\\":0},\\\"notes\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups \\\n  --header 'content-type: application/json' \\\n  --data '{\"multiplier\":0,\"name\":\"string\",\"pricing_override\":{\"unit_material_cost\":0,\"material_margin\":0,\"unit_labor\":0,\"labor_factor\":0,\"unit_labor_rate\":0,\"unit_labor_cost\":0,\"is_untaxed\":true,\"labor_margin\":0},\"notes\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/bid_board_projects/%7Bbid_board_project_id%7D/proposals/%7Bproposal_id%7D/line_item_groups\"),\n    Content = new StringContent(\"{\\\"multiplier\\\":0,\\\"name\\\":\\\"string\\\",\\\"pricing_override\\\":{\\\"unit_material_cost\\\":0,\\\"material_margin\\\":0,\\\"unit_labor\\\":0,\\\"labor_factor\\\":0,\\\"unit_labor_rate\\\":0,\\\"unit_labor_cost\\\":0,\\\"is_untaxed\\\":true,\\\"labor_margin\\\":0},\\\"notes\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}