{
 "openapi": "3.0.0",
 "info": {
  "title": "Bid Contacts",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Management",
  "x-resource-name": "Bid Contacts",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/bid_contacts": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Bid Contacts",
    "description": "Get a list of all the contacts of a company or contacts of a perticular vendor of the company (with vendor_id as a parameter). \n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Bids"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID. Returns item(s) with the specified Origin ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[trade_id][]",
      "in": "query",
      "description": "Returns users whose vendor record is associated with the specified trade id(s).",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Return users where the search string matches the user's first name, last name, email address, keywords, job title, or company name",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name",
        "vendor_name",
        "permission_template",
        "full_name"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of company users",
         "items": {
          "title": "Company User",
          "description": "Company User",
          "type": "object",
          "properties": {
           "address": {
            "description": "User address",
            "example": "6305 Carpinteria Ave",
            "nullable": true,
            "type": "string"
           },
           "avatar": {
            "description": "User avatar url",
            "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
            "nullable": true,
            "type": "string"
           },
           "business_id": {
            "description": "Business id",
            "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
            "nullable": true,
            "type": "string"
           },
           "business_phone": {
            "description": "User business phone",
            "example": "1-555-555-1234",
            "nullable": true,
            "type": "string"
           },
           "business_phone_extension": {
            "description": "User business phone extension",
            "example": 123,
            "nullable": true,
            "type": "integer"
           },
           "city": {
            "description": "User city",
            "example": "Carpinteria",
            "nullable": true,
            "type": "string"
           },
           "contact_id": {
            "type": "integer",
            "description": "User Contact ID",
            "example": 1
           },
           "country_code": {
            "description": "User country code (ISO-3166 Alpha-2 format)",
            "example": "US",
            "nullable": true,
            "type": "string"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "User created at",
            "example": "2016-10-23T21:39:40Z"
           },
           "email_address": {
            "format": "email",
            "description": "User email",
            "example": "jane.doe@example.com",
            "nullable": true,
            "type": "string"
           },
           "email_signature": {
            "description": "User email signature",
            "example": "<p>Sent from Procore.</p>",
            "nullable": true,
            "type": "string"
           },
           "employee_id": {
            "description": "User employee id",
            "example": "123456789",
            "nullable": true,
            "type": "string"
           },
           "erp_integrated_accountant": {
            "type": "boolean",
            "description": "User ERP integrated accountant status",
            "example": true
           },
           "fax_number": {
            "description": "User fax number",
            "example": "1-555-555-1234",
            "nullable": true,
            "type": "string"
           },
           "first_name": {
            "description": "User first name",
            "example": "Jane",
            "nullable": true,
            "type": "string"
           },
           "id": {
            "type": "integer",
            "description": "User id",
            "example": 381006
           },
           "initials": {
            "description": "User initials",
            "example": "JD",
            "nullable": true,
            "type": "string"
           },
           "is_active": {
            "description": "User active status",
            "example": true,
            "nullable": true,
            "type": "boolean"
           },
           "is_employee": {
            "description": "User employee status",
            "example": false,
            "nullable": true,
            "type": "boolean"
           },
           "job_title": {
            "description": "User job title",
            "example": "QA Manager",
            "nullable": true,
            "type": "string"
           },
           "last_activated_at": {
            "format": "date-time",
            "description": "User last activated at",
            "example": "2016-06-30T20:41:58Z",
            "nullable": true,
            "type": "string"
           },
           "last_login_at": {
            "format": "date-time",
            "description": "User last login at",
            "example": "2016-06-30T20:41:58Z",
            "nullable": true,
            "type": "string"
           },
           "last_name": {
            "type": "string",
            "description": "User last name",
            "example": "Doe"
           },
           "mobile_phone": {
            "description": "User mobile phone",
            "example": "1-555-555-1234",
            "nullable": true,
            "type": "string"
           },
           "name": {
            "type": "string",
            "description": "User full name",
            "example": "Jane Doe"
           },
           "notes": {
            "description": "User notes",
            "example": "notes",
            "nullable": true,
            "type": "string"
           },
           "origin_id": {
            "description": "User origin id",
            "example": "foobar",
            "nullable": true,
            "type": "string"
           },
           "origin_data": {
            "description": "User origin data",
            "example": "OD-2398273424",
            "nullable": true,
            "type": "string"
           },
           "state_code": {
            "description": "User state code (ISO-3166 Alpha-2 format)",
            "example": "CA",
            "nullable": true,
            "type": "string"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "User updated at",
            "example": "2016-10-23T21:39:40Z"
           },
           "welcome_email_sent_at": {
            "type": "string",
            "format": "date-time",
            "description": "User welcome email sent at",
            "example": "2013-05-30T20:41:58Z",
            "nullable": true
           },
           "zip": {
            "description": "User zip code",
            "example": "93013",
            "nullable": true,
            "type": "string"
           },
           "work_classification_id": {
            "type": "integer",
            "description": "Work classification id",
            "example": 13,
            "nullable": true
           },
           "party_id": {
            "type": "integer",
            "description": "The Directory Party ID for this user, resolved via Contact \u2192 Person \u2192 Party. Null when the user has no associated person record. Use this ID when calling endpoints that require a party identifier (e.g. certification assignments).",
            "example": 12345,
            "nullable": true
           },
           "permission_template": {
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Permission Template",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "The name of the Permission Template",
              "example": "General Contractor"
             },
             "project_specific": {
              "type": "boolean",
              "description": "If the Permission Template is project specific",
              "example": true
             },
             "type": {
              "type": "string",
              "description": "The type of the Permission Template",
              "enum": [
               "company_tools",
               "global",
               "project_specific"
              ]
             }
            },
            "type": "object"
           },
           "company_permission_template": {
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Permission Template",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "The name of the Permission Template",
              "example": "General Contractor"
             },
             "project_specific": {
              "type": "boolean",
              "description": "If the Permission Template is project specific",
              "example": true
             },
             "type": {
              "type": "string",
              "description": "The type of the Permission Template",
              "enum": [
               "company_tools",
               "global",
               "project_specific"
              ]
             }
            },
            "type": "object"
           },
           "vendor": {
            "properties": {
             "id": {
              "type": "integer",
              "example": 161072
             },
             "name": {
              "type": "string",
              "example": "SID Architecture"
             }
            },
            "type": "object",
            "nullable": true
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_contacts',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[vendor_id]': 'SOME_ARRAY_VALUE',\n    'filters[origin_id]': 'SOME_STRING_VALUE',\n    'filters[trade_id][]': 'SOME_ARRAY_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/bid_contacts?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_contacts?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/bid_contacts?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added party_id for List bid contacts",
      "description": "The `party_id` field is now returned in the response body of the List bid\ncontacts endpoint. `party_id` is the Directory Party ID for the user and is\nnullable for users without an associated person record.",
      "endpoint": "GET /projects/{project_id}/bid_contacts",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-08-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-contacts?version=1.0#list-bid-contacts"
     },
     {
      "summary": "Added support to fetch bid contacts (i.e all the users of a company).",
      "description": "Get a list of all the contacts of a company or contacts of a particular vendor of the company (with vendor_id as a parameter).\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
      "endpoint": "GET /projects/{project_id}/bid_contacts",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-06-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bid-contacts?version=1.0#list-bid-contacts"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}