{
 "openapi": "3.0.0",
 "info": {
  "title": "Bids",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Management",
  "x-resource-name": "Bids",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/bids": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List Bids within a Company",
    "description": "Return a list of your assigned Bids within a Company.",
    "tags": [
     "Bids"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Data",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Bids",
           "items": {
            "allOf": [
             {
              "type": "object",
              "description": "Bid",
              "properties": {
               "id": {
                "type": "string",
                "description": "ID",
                "example": "75414"
               },
               "bid_package_id": {
                "type": "string",
                "description": "Bid Package ID",
                "example": "91011"
               },
               "bid_package_title": {
                "type": "string",
                "description": "Bid Package title",
                "example": "Test Bid documents email link from correspondence"
               },
               "bid_form_title": {
                "type": "string",
                "description": "Bid Form Title",
                "example": "Bid Form Title"
               },
               "bid_form_id": {
                "type": "string",
                "description": "Bid Form ID",
                "example": "12345",
                "nullable": true
               },
               "bid_status": {
                "type": "string",
                "description": "Bid status",
                "enum": [
                 "undecided",
                 "will_not_bid",
                 "will_bid",
                 "not_invited",
                 "submitted"
                ]
               },
               "awarded": {
                "type": "boolean",
                "description": "Bid awarded to vendor",
                "example": false,
                "nullable": true
               },
               "company_id": {
                "type": "string",
                "description": "Company ID",
                "example": "3355"
               },
               "invitation_last_sent_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date/time the Bid Package invitation was last sent",
                "example": "2012-10-23T21:39:40Z",
                "nullable": true
               },
               "is_bidder_committed": {
                "type": "boolean",
                "description": "Bidder committed",
                "example": true,
                "nullable": true
               },
               "lump_sum_amount": {
                "type": "number",
                "format": "float",
                "description": "Lump sum (overall) amount",
                "example": 200.5
               },
               "lump_sum_enabled": {
                "type": "boolean",
                "description": "Lump sum bidding enabled",
                "example": false
               },
               "submitted": {
                "type": "boolean",
                "description": "Vendor submitted Bid",
                "example": true
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date/time the Bid Package was created",
                "example": "2012-10-23T21:39:40Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date/time the Bid Package was last updated",
                "example": "2012-10-24T21:39:40Z"
               },
               "due_date": {
                "type": "string",
                "format": "date-time",
                "description": "Due Date",
                "example": "2016-12-13T03:00:00Z"
               },
               "bidder_comments": {
                "type": "string",
                "description": "Comments",
                "example": "Test Bid",
                "nullable": true
               },
               "bid_requester": {
                "type": "object",
                "description": "Bid Requester Info",
                "properties": {
                 "company": {
                  "type": "string",
                  "description": "The bid requesters company name",
                  "example": "Demo Company 1"
                 },
                 "contact": {
                  "type": "string",
                  "description": "The bid requester's contact information",
                  "example": "John Doe ((503)744-3200 ext. 1234)"
                 },
                 "company_address": {
                  "type": "string",
                  "description": "Bid requesters company address",
                  "example": "123 Campus Way Carpinteria, CA 91303"
                 },
                 "company_phone": {
                  "type": "string",
                  "description": "Bid requesters company phone",
                  "example": 8051231234,
                  "nullable": true
                 },
                 "company_website": {
                  "type": "string",
                  "description": "Bid requesters company website",
                  "example": "https://www.procore.com/",
                  "nullable": true
                 },
                 "email_address": {
                  "type": "string",
                  "description": "Bid requesters email_address",
                  "example": "joe.doe@example.com"
                 },
                 "first_name": {
                  "type": "string",
                  "description": "Bid requesters first_name",
                  "example": "Joe"
                 },
                 "last_name": {
                  "type": "string",
                  "description": "Bid requesters last_name",
                  "example": "Doe"
                 },
                 "mobile_phone": {
                  "type": "string",
                  "description": "Bid requesters mobile number",
                  "example": 8051231234,
                  "nullable": true
                 },
                 "vendor_address": {
                  "type": "string",
                  "description": "Bid requesters company address",
                  "example": "6309 Carpinteria Ave."
                 },
                 "business_phone": {
                  "type": "string",
                  "description": "Bid requesters company phone number",
                  "example": 8051231234,
                  "nullable": true
                 },
                 "fax_number": {
                  "type": "string",
                  "description": "Bid requesters company fax number",
                  "example": 8051231234,
                  "nullable": true
                 }
                }
               },
               "vendor": {
                "type": "object",
                "description": "Bid Vendor Info",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID",
                  "example": "75414",
                  "nullable": true
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Demo Company 1"
                 },
                 "avatar_url": {
                  "type": "string",
                  "description": "Link to avatar picture",
                  "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160422154654_production_397508974.png"
                 },
                 "trades": {
                  "type": "string",
                  "description": "List of trades for the vendor",
                  "example": "General Conditions"
                 }
                }
               },
               "project": {
                "type": "object",
                "description": "Project Info",
                "properties": {
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Project 1"
                 },
                 "address": {
                  "type": "string",
                  "description": "Address",
                  "example": "One Space Way<br>Risa SB12<br>United States"
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "description": "Bid Index NDA properties",
              "properties": {
               "nda_email_last_sent_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date/time the Bid Package invitation was last sent",
                "example": "2012-10-23T21:39:40Z",
                "nullable": true
               },
               "display_project_name": {
                "type": "boolean",
                "description": "Display project name",
                "example": false,
                "nullable": true
               },
               "nda_first_name": {
                "type": "string",
                "description": "NDA first name",
                "example": "John",
                "nullable": true
               },
               "nda_last_name": {
                "type": "string",
                "description": "NDA last name",
                "example": "Doe",
                "nullable": true
               },
               "nda_updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date/time the NDA was last updated",
                "example": "2012-10-23T21:39:40Z",
                "nullable": true
               },
               "nda_status": {
                "type": "string",
                "description": "NDA status",
                "enum": [
                 "viewed",
                 "downloaded",
                 "signed",
                 "declined"
                ],
                "example": "viewed",
                "nullable": true
               },
               "nda_signed_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date/time the NDA was signed",
                "example": "2012-10-23T21:39:40Z",
                "nullable": true
               }
              }
             }
            ],
            "description": "Combines Bid Index NDA and Bid Index properties"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/bids',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/bids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/bids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/bids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Expose endpoint as public beta: List Bids within a Company",
      "description": "Expose endpoint as public beta: List Bids within a Company",
      "endpoint": "GET /companies/{company_id}/bids",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-22",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "bids?version=2.0#list-bids-within-a-company"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.2/projects/{project_id}/bid_packages/{bid_package_id}/bids/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_package_id",
     "in": "path",
     "description": "Bid Package ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Update a Bid from a Bid Package",
    "description": "Update a Bid within a Bid Package. This v1.2 endpoint supports nullable directory-related identifiers (e.g. vendor.id) to accommodate PCN-based bidders.\n",
    "tags": [
     "Bids"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "bid": {
          "type": "object",
          "properties": {
           "lump_sum_amount": {
            "type": "number",
            "description": "Lump sum (overall) amount",
            "format": "float",
            "example": 10000
           },
           "bidder_comments": {
            "type": "string",
            "description": "Comments",
            "example": "Test Bid Comment"
           },
           "bidder_inclusion": {
            "type": "string",
            "description": "Inclusions",
            "example": "Include Concrete"
           },
           "bidder_exclusion": {
            "type": "string",
            "description": "Exclusions",
            "example": "Exclude Plumbing"
           },
           "bid_status": {
            "type": "string",
            "description": "This status is combination of the `invitation_last_sent_at`, `is_bidder_committed`, `submitted`, & `awarded` values.\nThe `not_invited`  status is the same as `invitation_last_sent_at` being null,     `is_bidder_committed` being null,  `submitted` being false, & `awarded` not being true.\nThe `undecided`    status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being null,  `submitted` being false, & `awarded` not being true.\nThe `will_not_bid` status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being false, `submitted` being false, & `awarded` not being true.\nThe `will_bid`     status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being true,  `submitted` being false, & `awarded` not being true.\nThe `submitted`    status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being true,  `submitted` being true,  & `awarded` not being true.\nThe `awarded`      status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being true,  `submitted` being true,  & `awarded` being true.\n",
            "enum": [
             "not_invited",
             "undecided",
             "will_not_bid",
             "will_bid",
             "submitted",
             "awarded"
            ]
           },
           "is_bidder_committed": {
            "type": "boolean",
            "description": "Bidder committed",
            "example": true
           },
           "submitted": {
            "type": "boolean",
            "description": "Vendor submitted Bid",
            "example": true,
            "default": false
           },
           "show_bid_in_estimating": {
            "type": "boolean",
            "description": "Show bid in Estimating",
            "example": true,
            "default": false
           },
           "vendor_id": {
            "type": "integer",
            "description": "Vendor ID (optional, nullable for PCN-based bidders)",
            "example": 75414,
            "nullable": true
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Array of Prostore File IDs for attachments",
            "example": [
             1751318,
             1837467
            ],
            "items": {
             "type": "integer"
            }
           },
           "recipient_ids": {
            "type": "array",
            "description": "Array of Login IDs to add as recipients",
            "example": [
             1751318,
             1837467
            ],
            "items": {
             "type": "integer"
            }
           },
           "bid_items": {
            "type": "array",
            "description": "Bid Items for a Bid",
            "items": {
             "type": "object",
             "description": "Bid Item",
             "properties": {
              "id": {
               "type": "number",
               "description": "ID",
               "example": 123124112
              },
              "bid_form_item_id": {
               "type": "number",
               "description": "Bid Form Item ID",
               "example": 32780682
              },
              "cost_code_id": {
               "type": "number",
               "description": "Cost Code ID",
               "example": 32780682
              },
              "amount": {
               "type": "number",
               "description": "Amount",
               "example": 100000
              },
              "unit_cost": {
               "type": "string",
               "description": "Unit Cost",
               "example": 900
              },
              "quantity": {
               "type": "string",
               "description": "Quantity",
               "example": 15
              },
              "uom": {
               "type": "string",
               "description": "Unit of Measure",
               "example": "pounds"
              }
             }
            }
           },
           "bid_items_to_delete": {
            "type": "array",
            "description": "IDs of Bid Items that need to be deleted",
            "example": [
             1234324,
             4992392
            ],
            "items": {
             "type": "integer"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Bid",
         "description": "Bid",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "bid_package_id": {
           "type": "integer",
           "description": "Bid Package ID",
           "example": 91011
          },
          "bid_package_title": {
           "type": "string",
           "description": "Package Title",
           "example": "Test Bid Documents Email Link from Correspondence"
          },
          "bid_form_title": {
           "type": "string",
           "description": "Bid Form Title",
           "example": "Bid Form Title"
          },
          "awarded": {
           "type": "boolean",
           "description": "Bid awarded to vendor",
           "example": false,
           "nullable": true
          },
          "bidders_can_add_line_items": {
           "type": "boolean",
           "description": "Bidders can add line items",
           "example": false
          },
          "bid_status": {
           "type": "string",
           "description": "This status is combination of the `invitation_last_sent_at`, `is_bidder_committed`, `submitted`, & `awarded` values.\nThe `not_invited`  status is the same as `invitation_last_sent_at` being null,     `is_bidder_committed` being null,  `submitted` being false, & `awarded` not being true.\nThe `undecided`    status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being null,  `submitted` being false, & `awarded` not being true.\nThe `will_not_bid` status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being false, `submitted` being false, & `awarded` not being true.\nThe `will_bid`     status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being true,  `submitted` being false, & `awarded` not being true.\nThe `submitted`    status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being true,  `submitted` being true,  & `awarded` not being true.\nThe `awarded`      status is the same as `invitation_last_sent_at` not being null, `is_bidder_committed` being true,  `submitted` being true,  & `awarded` being true.\n",
           "enum": [
            "not_invited",
            "undecided",
            "will_not_bid",
            "will_bid",
            "submitted",
            "awarded"
           ]
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 2342
          },
          "invitation_last_sent_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the Bid invitation was last sent",
           "example": "2012-10-23T21:39:40Z",
           "nullable": true
          },
          "is_bidder_committed": {
           "type": "boolean",
           "description": "Bidder committed",
           "example": true,
           "nullable": true
          },
          "lump_sum_amount": {
           "type": "number",
           "format": "float",
           "description": "Lump sum (overall) amount. It's an optional parameter when the blind bidding is on.",
           "example": 200.5
          },
          "lump_sum_enabled": {
           "type": "boolean",
           "description": "Lump sum bidding enabled",
           "example": false
          },
          "submitted": {
           "type": "boolean",
           "description": "Vendor submitted bid",
           "example": true
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "due_date": {
           "type": "string",
           "format": "date-time",
           "description": "Due date",
           "example": "2016-12-13T03:00:00Z"
          },
          "bidder_comments": {
           "type": "string",
           "description": "Comments made on bid sheet. It's an optional parameter when the blind bidding is on.",
           "example": "See Attached Proposal",
           "nullable": true
          },
          "show_bid_in_estimating": {
           "type": "boolean",
           "description": "Show bid in Estimating",
           "example": true
          },
          "bid_amount": {
           "type": "string",
           "format": "currency",
           "description": "Bid amount",
           "example": "$1,000.00",
           "nullable": true
          },
          "bid_requester": {
           "type": "object",
           "description": "Bid Requester Info",
           "properties": {
            "company": {
             "type": "string",
             "description": "The bid requesters company name",
             "example": "Demo Company 1"
            },
            "contact": {
             "type": "string",
             "description": "The bid requester's contact information",
             "example": "John Doe ((503)744-3200 ext. 1234)"
            },
            "company_address": {
             "type": "string",
             "description": "Bid requesters company address",
             "example": "123 Campus Way Carpinteria, CA 91303"
            },
            "company_phone": {
             "type": "string",
             "description": "Bid requesters company phone",
             "example": 8051231234,
             "nullable": true
            },
            "company_website": {
             "type": "string",
             "description": "Bid requesters company website",
             "example": "https://www.procore.com/",
             "nullable": true
            },
            "email_address": {
             "type": "string",
             "description": "Bid requesters email_address",
             "example": "joe.doe@example.com"
            },
            "first_name": {
             "type": "string",
             "description": "Bid requesters first_name",
             "example": "Joe"
            },
            "last_name": {
             "type": "string",
             "description": "Bid requesters last_name",
             "example": "Doe"
            },
            "mobile_phone": {
             "type": "string",
             "description": "Bid requesters mobile number",
             "example": 8051231234,
             "nullable": true
            },
            "vendor_address": {
             "type": "string",
             "description": "Bid requesters company address",
             "example": "6309 Carpinteria Ave."
            },
            "business_phone": {
             "type": "string",
             "description": "Bid requesters company phone number",
             "example": 8051231234,
             "nullable": true
            },
            "fax_number": {
             "type": "string",
             "description": "Bid requesters company fax number",
             "example": 8051231234,
             "nullable": true
            }
           }
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2017-07-29T21:39:40Z",
           "nullable": true
          },
          "bidder_notes": {
           "type": "string",
           "description": "Notes. It's an optional parameter when the blind bidding is on.",
           "example": "Test Bid Notes"
          },
          "attachments_count": {
           "type": "integer",
           "description": "Attachment count. It's an optional parameter when the blind bidding is on.",
           "example": 1
          },
          "recipient_ids": {
           "type": "array",
           "description": "Login IDs of all recipients on a bid",
           "items": {
            "type": "integer",
            "example": 1443234
           }
          },
          "recipient_list": {
           "type": "array",
           "description": "Detailed recipient informations on bid",
           "items": {
            "type": "object",
            "properties": {
             "first": {
              "type": "string",
              "description": "Recipients first name",
              "example": "John"
             },
             "last": {
              "type": "string",
              "description": "Recipients last name",
              "example": "Doe"
             },
             "email": {
              "type": "string",
              "description": "Recipients email",
              "example": "j.doe@example.com"
             },
             "numbers": {
              "type": "string",
              "description": "Recipients office and mobile numbers",
              "example": "Office: N/A, Mobile: 805.123.1234"
             }
            }
           }
          },
          "recipient_list_with_email_and_number": {
           "type": "array",
           "items": {
            "type": "string"
           },
           "description": "Recipient emails and phone numbers",
           "example": "Jane Doe, jane.doe@example.com, Office N/A, Mobile N/A"
          },
          "mailto": {
           "type": "string",
           "description": "Email address associated with creating communications for bid",
           "example": "procore-f1234@example.com"
          },
          "bidder_inclusion": {
           "type": "string",
           "description": "Inclusion comments made on bid sheet. It's an optional parameter when the blind bidding is on.",
           "example": "See Attached Proposal",
           "nullable": true
          },
          "bidder_exclusion": {
           "type": "string",
           "description": "Exclusion comments made on bid sheet. It's an optional parameter when the blind bidding is on.",
           "example": "Please note I could not supply pricing on tapware or toilets.",
           "nullable": true
          },
          "bid_convertible_to_subcontract": {
           "type": "boolean",
           "description": "Bid Convertible to Subcontract",
           "example": true,
           "nullable": true
          },
          "bid_convertible_to_purchase_order": {
           "type": "boolean",
           "description": "Bid Convertible to Purchase Order",
           "example": true,
           "nullable": true
          },
          "contract_button_disabled_reason": {
           "type": "string",
           "description": "Contract button disabled reason",
           "example": "One cost code must be associated with this lump sum bid.",
           "nullable": true
          },
          "po_button_disabled_reason": {
           "type": "string",
           "description": "Purchase Order button disabled reason",
           "example": "Cost codes on bid cannot be divisions for purchase order conversion.",
           "nullable": true
          },
          "links": {
           "type": "object",
           "properties": {
            "uploads": {
             "type": "string",
             "description": "Upload link for current company",
             "example": "https://app.procore.com/upload"
            },
            "cost_codes": {
             "type": "string",
             "description": "Available cost codes link for bid",
             "example": "https://app.procore.com/cost_codes"
            },
            "bid_pdf": {
             "type": "string",
             "example": "/rest/v1.0/companies/16/bids/67.pdf"
            }
           }
          },
          "vendor": {
           "type": "object",
           "description": "Bid Vendor Info",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414,
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Demo Company 1"
            },
            "avatar_url": {
             "type": "string",
             "description": "Link to avatar picture",
             "nullable": true,
             "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160422154654_production_397508974.png?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100610164&Signature=CEHFF%2BS3hvSqrzFRAULDZhI7Es4%3D"
            },
            "trades": {
             "type": "string",
             "description": "List of trades for the vendor",
             "example": "General Conditions"
            },
            "address": {
             "type": "string",
             "description": "Vendor address",
             "example": "123 Main Street.",
             "nullable": true
            },
            "business_phone": {
             "type": "string",
             "description": "Vendor business phone",
             "example": 8051231234,
             "nullable": true
            }
           }
          },
          "project": {
           "type": "object",
           "description": "Project Info",
           "properties": {
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Project 1"
            },
            "address": {
             "type": "string",
             "description": "Address",
             "example": "One Space Way<br>Risa SB12<br>United States"
            }
           }
          },
          "bid_items": {
           "type": "array",
           "description": "Items",
           "items": {
            "type": "object",
            "description": "Bid Item",
            "properties": {
             "amount": {
              "type": "number",
              "format": "float",
              "description": "Amount in cents. It's an optional parameter when the blind bidding is on.",
              "example": "100000.0"
             },
             "bid_form_item_id": {
              "type": "integer",
              "description": "Bid Form Item ID",
              "example": 223345
             },
             "cost_code_id": {
              "type": "integer",
              "description": "Cost Code ID",
              "example": 32780682
             },
             "cost_code_name": {
              "type": "string",
              "description": "Cost Code name",
              "example": "Wood Sub-floors"
             },
             "cost_code_number": {
              "type": "string",
              "description": "Cost Code number",
              "example": "00-01 39-12"
             },
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 223345
             },
             "included": {
              "type": "boolean",
              "description": "Included",
              "example": true,
              "nullable": true
             },
             "quantity": {
              "type": "string",
              "format": "float",
              "description": "Quantity. It's an optional parameter when the blind bidding is on.",
              "example": "15.0"
             },
             "unit_cost": {
              "type": "string",
              "format": "float",
              "description": "Unit cost of bid item. It's an optional parameter when the blind bidding is on.",
              "example": "900.0"
             },
             "uom": {
              "type": "string",
              "description": "Unit of Measure. It's an optional parameter when the blind bidding is on.",
              "example": "each"
             }
            }
           }
          },
          "cost_codes": {
           "type": "array",
           "description": "Cost Codes associated with items",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 12345
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Earthwork"
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "item_type": {
              "type": "string",
              "description": "Type of item attachment belongs to",
              "example": "Bid"
             },
             "prostore_file_id": {
              "type": "integer",
              "description": "prostore file ID",
              "example": 1234
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "name": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "attachments_zip_streaming_url": {
           "type": "string",
           "description": "Streaming URL to download all attachments. It's an optional parameter when the blind bidding is on.",
           "example": "http://www.example.com/"
          },
          "values_converted_by_name": {
           "type": "string",
           "deprecated": true,
           "description": "Deprecated. Use `values_modified_by_name` instead. The name of the solicitor who last modified the bid values.",
           "example": "Katrina Massoni",
           "nullable": true
          },
          "values_converted_at": {
           "type": "string",
           "format": "date-time",
           "deprecated": true,
           "description": "Deprecated. Use `values_modified_at` instead. The date/time when the bid values were last modified by a solicitor.",
           "example": "2025-11-05T14:02:00Z",
           "nullable": true
          },
          "values_modified_by_name": {
           "type": "string",
           "description": "The name of the solicitor who last modified the bid values.",
           "example": "Katrina Massoni",
           "nullable": true
          },
          "values_modified_at": {
           "type": "string",
           "format": "date-time",
           "description": "The date/time when the bid values were last modified by a solicitor.",
           "example": "2025-11-05T14:02:00Z",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.2/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bids/%7Bid%7D',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    bid: {\n      lump_sum_amount: 10000,\n      bidder_comments: 'Test Bid Comment',\n      bidder_inclusion: 'Include Concrete',\n      bidder_exclusion: 'Exclude Plumbing',\n      bid_status: 'not_invited',\n      is_bidder_committed: true,\n      submitted: true,\n      show_bid_in_estimating: true,\n      vendor_id: 75414,\n      prostore_file_ids: [1751318, 1837467],\n      recipient_ids: [1751318, 1837467],\n      bid_items: [\n        {\n          id: 123124112,\n          bid_form_item_id: 32780682,\n          cost_code_id: 32780682,\n          amount: 100000,\n          unit_cost: 900,\n          quantity: 15,\n          uom: 'pounds'\n        }\n      ],\n      bid_items_to_delete: [1234324, 4992392]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"bid\\\":{\\\"lump_sum_amount\\\":10000,\\\"bidder_comments\\\":\\\"Test Bid Comment\\\",\\\"bidder_inclusion\\\":\\\"Include Concrete\\\",\\\"bidder_exclusion\\\":\\\"Exclude Plumbing\\\",\\\"bid_status\\\":\\\"not_invited\\\",\\\"is_bidder_committed\\\":true,\\\"submitted\\\":true,\\\"show_bid_in_estimating\\\":true,\\\"vendor_id\\\":75414,\\\"prostore_file_ids\\\":[1751318,1837467],\\\"recipient_ids\\\":[1751318,1837467],\\\"bid_items\\\":[{\\\"id\\\":123124112,\\\"bid_form_item_id\\\":32780682,\\\"cost_code_id\\\":32780682,\\\"amount\\\":100000,\\\"unit_cost\\\":900,\\\"quantity\\\":15,\\\"uom\\\":\\\"pounds\\\"}],\\\"bid_items_to_delete\\\":[1234324,4992392]}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.2/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bids/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.2/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bids/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"bid\":{\"lump_sum_amount\":10000,\"bidder_comments\":\"Test Bid Comment\",\"bidder_inclusion\":\"Include Concrete\",\"bidder_exclusion\":\"Exclude Plumbing\",\"bid_status\":\"not_invited\",\"is_bidder_committed\":true,\"submitted\":true,\"show_bid_in_estimating\":true,\"vendor_id\":75414,\"prostore_file_ids\":[1751318,1837467],\"recipient_ids\":[1751318,1837467],\"bid_items\":[{\"id\":123124112,\"bid_form_item_id\":32780682,\"cost_code_id\":32780682,\"amount\":100000,\"unit_cost\":900,\"quantity\":15,\"uom\":\"pounds\"}],\"bid_items_to_delete\":[1234324,4992392]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.2/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bids/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"bid\\\":{\\\"lump_sum_amount\\\":10000,\\\"bidder_comments\\\":\\\"Test Bid Comment\\\",\\\"bidder_inclusion\\\":\\\"Include Concrete\\\",\\\"bidder_exclusion\\\":\\\"Exclude Plumbing\\\",\\\"bid_status\\\":\\\"not_invited\\\",\\\"is_bidder_committed\\\":true,\\\"submitted\\\":true,\\\"show_bid_in_estimating\\\":true,\\\"vendor_id\\\":75414,\\\"prostore_file_ids\\\":[1751318,1837467],\\\"recipient_ids\\\":[1751318,1837467],\\\"bid_items\\\":[{\\\"id\\\":123124112,\\\"bid_form_item_id\\\":32780682,\\\"cost_code_id\\\":32780682,\\\"amount\\\":100000,\\\"unit_cost\\\":900,\\\"quantity\\\":15,\\\"uom\\\":\\\"pounds\\\"}],\\\"bid_items_to_delete\\\":[1234324,4992392]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "New v1.2 Update a Bid within a Bid Package endpoint",
      "description": "Added v1.2 endpoint that supports nullable vendor.id in the response",
      "endpoint": "PATCH /projects/{project_id}/bid_packages/{bid_package_id}/bids/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-04-09",
      "versions": [
       "1.2"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "bids?version=1.2#update-a-bid-from-a-bid-package"
     },
     {
      "summary": "Expose endpoint as public beta: Update a Bid from a Bid Package",
      "description": "Expose endpoint as public beta: Update a Bid from a Bid Package",
      "endpoint": "PATCH /projects/{project_id}/bid_packages/{bid_package_id}/bids/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-22",
      "versions": [
       "1.2"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "bids?version=1.2#update-a-bid-from-a-bid-package"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/bid_packages/{bid_package_id}/bids": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_package_id",
     "in": "path",
     "description": "Bid Package ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List Bids within a Bid Package",
    "description": "Return a list of your assigned Bids within a Bid Package.",
    "tags": [
     "Bids"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Bids",
         "items": {
          "type": "object",
          "description": "Summary",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "bid_package_id": {
            "type": "integer",
            "description": "Bid Package ID",
            "example": 91011
           },
           "bid_package_title": {
            "type": "string",
            "description": "Bid Package title",
            "example": "Test Bid documents email link from correspondence"
           },
           "bid_form_title": {
            "type": "string",
            "description": "Bid Form Title",
            "example": "Bid Form Title"
           },
           "bid_form_id": {
            "type": "integer",
            "description": "Bid Form ID",
            "example": 123456,
            "nullable": true
           },
           "bid_status": {
            "type": "string",
            "description": "Bid status",
            "enum": [
             "undecided",
             "will_not_bid",
             "will_bid",
             "not_invited",
             "submitted"
            ]
           },
           "awarded": {
            "type": "boolean",
            "description": "Bid awarded to vendor",
            "example": false,
            "nullable": true
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 3355
           },
           "invitation_last_sent_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date/time the Bid Package invitation was last sent",
            "example": "2012-10-23T21:39:40Z",
            "nullable": true
           },
           "is_bidder_committed": {
            "type": "boolean",
            "description": "Bidder committed",
            "example": true,
            "nullable": true
           },
           "lump_sum_amount": {
            "type": "number",
            "format": "float",
            "description": "Lump sum (overall) amount",
            "example": 200.5
           },
           "lump_sum_enabled": {
            "type": "boolean",
            "description": "Lump sum bidding enabled",
            "example": false
           },
           "submitted": {
            "type": "boolean",
            "description": "Vendor submitted Bid",
            "example": true
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date/time the Bid Package was created",
            "example": "2012-10-23T21:39:40Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date/time the Bid Package was last updated",
            "example": "2012-10-24T21:39:40Z"
           },
           "due_date": {
            "type": "string",
            "format": "date-time",
            "description": "Due Date",
            "example": "2016-12-13T03:00:00Z"
           },
           "bidder_comments": {
            "type": "string",
            "description": "Comments",
            "example": "Test Bid",
            "nullable": true
           },
           "bid_requester": {
            "type": "object",
            "description": "Bid Requester Info",
            "properties": {
             "company": {
              "type": "string",
              "description": "The bid requesters company name",
              "example": "Demo Company 1"
             },
             "contact": {
              "type": "string",
              "description": "The bid requester's contact information",
              "example": "John Doe ((503)744-3200 ext. 1234)"
             },
             "company_address": {
              "type": "string",
              "description": "Bid requesters company address",
              "example": "123 Campus Way Carpinteria, CA 91303"
             },
             "company_phone": {
              "type": "string",
              "description": "Bid requesters company phone",
              "example": 8051231234,
              "nullable": true
             },
             "company_website": {
              "type": "string",
              "description": "Bid requesters company website",
              "example": "https://www.procore.com/",
              "nullable": true
             },
             "email_address": {
              "type": "string",
              "description": "Bid requesters email_address",
              "example": "joe.doe@example.com"
             },
             "first_name": {
              "type": "string",
              "description": "Bid requesters first_name",
              "example": "Joe"
             },
             "last_name": {
              "type": "string",
              "description": "Bid requesters last_name",
              "example": "Doe"
             },
             "mobile_phone": {
              "type": "string",
              "description": "Bid requesters mobile number",
              "example": 8051231234,
              "nullable": true
             },
             "vendor_address": {
              "type": "string",
              "description": "Bid requesters company address",
              "example": "6309 Carpinteria Ave."
             },
             "business_phone": {
              "type": "string",
              "description": "Bid requesters company phone number",
              "example": 8051231234,
              "nullable": true
             },
             "fax_number": {
              "type": "string",
              "description": "Bid requesters company fax number",
              "example": 8051231234,
              "nullable": true
             }
            }
           },
           "vendor": {
            "type": "object",
            "description": "Bid Vendor Info",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414,
              "nullable": true
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Demo Company 1"
             },
             "avatar_url": {
              "type": "string",
              "description": "Link to avatar picture",
              "nullable": true,
              "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160422154654_production_397508974.png?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100610164&Signature=CEHFF%2BS3hvSqrzFRAULDZhI7Es4%3D"
             },
             "trades": {
              "type": "string",
              "description": "List of trades for the vendor",
              "example": "General Conditions"
             }
            }
           },
           "project": {
            "type": "object",
            "description": "Project Info",
            "properties": {
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Project 1"
             },
             "address": {
              "type": "string",
              "description": "Address",
              "example": "One Space Way<br>Risa SB12<br>United States"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bids',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bid_packages/%7Bbid_package_id%7D/bids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "New v1.1 List Bids within a Bid Package endpoint",
      "description": "Added v1.1 endpoint that makes vendors and vendor ids optional",
      "endpoint": "GET /projects/{project_id}/bid_packages/{bid_package_id}/bids",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "bids?version=1.1#list-bids-within-a-bid-package"
     },
     {
      "summary": "Expose endpoint as public beta: List Bids within a Bid Package",
      "description": "Expose endpoint as public beta: List Bids within a Bid Package",
      "endpoint": "GET /projects/{project_id}/bid_packages/{bid_package_id}/bids",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-22",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "bids?version=1.1#list-bids-within-a-bid-package"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/bids/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Show a Bid within a Project",
    "description": "Return information on a Bid from a Project.\n",
    "tags": [
     "Bids"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Bid",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "bid_package_id": {
           "type": "integer",
           "description": "Bid Package ID",
           "example": 91011
          },
          "bid_package_title": {
           "type": "string",
           "description": "Package Title",
           "example": "Test Bid Documents Email Link from Correspondence"
          },
          "awarded": {
           "type": "boolean",
           "description": "Bid awarded to vendor",
           "example": false
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 2342
          },
          "invitation_last_sent_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the Bid invitation was last sent",
           "example": "2012-10-23T21:39:40Z"
          },
          "is_bidder_committed": {
           "type": "boolean",
           "description": "Bidder committed",
           "example": true
          },
          "lump_sum_amount": {
           "type": "number",
           "format": "float",
           "description": "Lump sum (overall) amount",
           "example": 200.5
          },
          "lump_sum_enabled": {
           "type": "boolean",
           "description": "Lump sum bidding enabled",
           "example": false
          },
          "submitted": {
           "type": "boolean",
           "description": "Vendor submitted bid",
           "example": true
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "due_date": {
           "type": "string",
           "format": "date-time",
           "description": "Due date",
           "example": "2016-12-13T03:00:00Z"
          },
          "bidder_comments": {
           "type": "string",
           "description": "Comments made on bid sheet",
           "example": "See Attached Proposal"
          },
          "bid_requester": {
           "type": "object",
           "description": "Bid Requester Info",
           "properties": {
            "company": {
             "type": "string",
             "description": "The bid requesters company name",
             "example": "Demo Company 1"
            },
            "contact": {
             "type": "string",
             "description": "The bid requester's contact information",
             "example": "John Doe ((503)744-3200 ext. 1234)"
            },
            "company_address": {
             "type": "string",
             "description": "Bid requesters company address",
             "example": "123 Campus Way Carpinteria, CA 91303"
            },
            "company_phone": {
             "type": "string",
             "description": "Bid requesters company phone",
             "example": 8051231234
            },
            "company_website": {
             "type": "string",
             "description": "Bid requesters company website",
             "example": "https://www.procore.com/"
            },
            "email_address": {
             "type": "string",
             "description": "Bid requesters email_address",
             "example": "joe.doe@example.com"
            },
            "first_name": {
             "type": "string",
             "description": "Bid requesters first_name",
             "example": "Joe"
            },
            "last_name": {
             "type": "string",
             "description": "Bid requesters last_name",
             "example": "Doe"
            },
            "mobile_phone": {
             "type": "string",
             "description": "Bid requesters mobile number",
             "example": 8051231234
            },
            "vendor_address": {
             "type": "string",
             "description": "Bid requesters company address",
             "example": "6309 Carpinteria Ave."
            },
            "business_phone": {
             "type": "string",
             "description": "Bid requesters company phone number",
             "example": 8051231234
            },
            "fax_number": {
             "type": "string",
             "description": "Bid requesters company fax number",
             "example": 8051231234
            }
           }
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2017-07-29T21:39:40Z"
          },
          "bidder_notes": {
           "type": "string",
           "description": "Notes",
           "example": "bid seems very low"
          },
          "attachments_count": {
           "type": "integer",
           "description": "Attachment count",
           "example": 1
          },
          "recipient_ids": {
           "type": "array",
           "description": "Login IDs of all recipients on a bid",
           "items": {
            "type": "integer",
            "example": 1443234
           }
          },
          "recipient_list": {
           "type": "array",
           "description": "Detailed recipient informations on bid",
           "items": {
            "type": "object",
            "properties": {
             "first": {
              "type": "string",
              "description": "Recipients first name",
              "example": "John"
             },
             "last": {
              "type": "string",
              "description": "Recipients last name",
              "example": "Doe"
             },
             "email": {
              "type": "string",
              "description": "Recipients email",
              "example": "j.doe@example.com"
             },
             "numbers": {
              "type": "string",
              "description": "Recipients office and mobile numbers",
              "example": "Office: N/A, Mobile: 805.123.1234"
             }
            }
           }
          },
          "recipient_list_with_email_and_number": {
           "type": "string",
           "description": "Recipient emails and phone numbers",
           "example": "Jane Doe, jane.doe@example.com, Office N/A, Mobile N/A"
          },
          "mailto": {
           "type": "string",
           "description": "Email address associated with creating communications for bid",
           "example": "procore-f1234@example.com"
          },
          "bidder_inclusion": {
           "type": "string",
           "description": "Inclusion comments made on bid sheet",
           "example": "See Attached Proposal"
          },
          "bidder_exclusion": {
           "type": "string",
           "description": "Exclusion comments made on bid sheet",
           "example": "Please note I could not supply pricing on tapware or toilets."
          },
          "links": {
           "type": "object",
           "properties": {
            "uploads": {
             "type": "string",
             "description": "Upload link for current company",
             "example": "https://app.procore.com/upload"
            },
            "cost_codes": {
             "type": "string",
             "description": "Available cost codes link for bid",
             "example": "https://app.procore.com/cost_codes"
            }
           }
          },
          "vendor": {
           "type": "object",
           "description": "Bid Vendor Info",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414,
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Demo Company 1"
            },
            "avatar_url": {
             "type": "string",
             "description": "Link to avatar picture",
             "nullable": true,
             "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160422154654_production_397508974.png?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100610164&Signature=CEHFF%2BS3hvSqrzFRAULDZhI7Es4%3D"
            },
            "trades": {
             "type": "string",
             "description": "List of trades for the vendor",
             "example": "General Conditions"
            }
           }
          },
          "project": {
           "type": "object",
           "description": "Project Info",
           "properties": {
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Project 1"
            },
            "address": {
             "type": "string",
             "description": "Address",
             "example": "One Space Way<br>Risa SB12<br>United States"
            }
           }
          },
          "bid_items": {
           "type": "array",
           "description": "Items",
           "items": {
            "type": "object",
            "description": "Bid Item",
            "properties": {
             "amount": {
              "type": "number",
              "description": "Amount in cents",
              "example": 100000
             },
             "bid_form_item_id": {
              "type": "integer",
              "description": "Bid Form Item ID",
              "example": 223345,
              "nullable": true
             },
             "cost_code_id": {
              "type": "integer",
              "description": "Cost Code ID",
              "example": 32780682
             },
             "cost_code_name": {
              "type": "string",
              "description": "Cost Code name",
              "example": "Wood Sub-floors"
             },
             "cost_code_number": {
              "type": "string",
              "description": "Cost Code Number",
              "example": "100-1"
             },
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 223345
             },
             "included": {
              "type": "boolean",
              "description": "Included",
              "example": true
             },
             "position": {
              "type": "integer",
              "description": "position",
              "example": 2,
              "nullable": true
             },
             "quantity": {
              "type": "string",
              "format": "float",
              "description": "Quantity",
              "example": "15.0"
             },
             "unit_cost": {
              "type": "string",
              "format": "float",
              "description": "Unit cost of bid item",
              "example": "900.0"
             },
             "uom": {
              "type": "string",
              "description": "Unit of Measure",
              "example": "each",
              "nullable": true
             }
            }
           }
          },
          "cost_codes": {
           "type": "array",
           "description": "Cost Codes associated with items",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 12345
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Earthwork"
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "item_type": {
              "type": "string",
              "description": "Type of item attachment belongs to",
              "example": "Bid"
             },
             "prostore_file_id": {
              "type": "integer",
              "description": "prostore file ID",
              "example": 1234
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "name": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bids/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/bids/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bids/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/bids/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "New v1.1 Show Bid within a Project",
      "description": "Added v1.1 endpoint that makes vendors and vendor ids optional",
      "endpoint": "GET /projects/{project_id}/bids/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-10",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "bids?version=1.1#show-a-bid-within-a-project"
     },
     {
      "summary": "Expose endpoint as public beta: Show a Bid within a Project",
      "description": "Expose endpoint as public beta: Show a Bid within a Project",
      "endpoint": "GET /projects/{project_id}/bids/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-22",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "bids?version=1.1#show-a-bid-within-a-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/bid_packages/{bid_package_id}/bids/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_package_id",
     "in": "path",
     "description": "Bid Package ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Show Bid within a Bid Package",
    "description": "Return information on a Bid from a Bid Package.",
    "tags": [
     "Bids"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Bid",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "bid_package_id": {
           "type": "integer",
           "description": "Bid Package ID",
           "example": 91011
          },
          "bid_package_title": {
           "type": "string",
           "description": "Package Title",
           "example": "Test Bid Documents Email Link from Correspondence"
          },
          "awarded": {
           "type": "boolean",
           "description": "Bid awarded to vendor",
           "example": false
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 2342
          },
          "invitation_last_sent_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date/time the Bid invitation was last sent",
           "example": "2012-10-23T21:39:40Z"
          },
          "is_bidder_committed": {
           "type": "boolean",
           "description": "Bidder committed",
           "example": true
          },
          "lump_sum_amount": {
           "type": "number",
           "format": "float",
           "description": "Lump sum (overall) amount",
           "example": 200.5
          },
          "lump_sum_enabled": {
           "type": "boolean",
           "description": "Lump sum bidding enabled",
           "example": false
          },
          "submitted": {
           "type": "boolean",
           "description": "Vendor submitted bid",
           "example": true
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "due_date": {
           "type": "string",
           "format": "date-time",
           "description": "Due date",
           "example": "2016-12-13T03:00:00Z"
          },
          "bidder_comments": {
           "type": "string",
           "description": "Comments made on bid sheet",
           "example": "See Attached Proposal"
          },
          "bid_requester": {
           "type": "object",
           "description": "Bid Requester Info",
           "properties": {
            "company": {
             "type": "string",
             "description": "The bid requesters company name",
             "example": "Demo Company 1"
            },
            "contact": {
             "type": "string",
             "description": "The bid requester's contact information",
             "example": "John Doe ((503)744-3200 ext. 1234)"
            },
            "company_address": {
             "type": "string",
             "description": "Bid requesters company address",
             "example": "123 Campus Way Carpinteria, CA 91303"
            },
            "company_phone": {
             "type": "string",
             "description": "Bid requesters company phone",
             "example": 8051231234
            },
            "company_website": {
             "type": "string",
             "description": "Bid requesters company website",
             "example": "https://www.procore.com/"
            },
            "email_address": {
             "type": "string",
             "description": "Bid requesters email_address",
             "example": "joe.doe@example.com"
            },
            "first_name": {
             "type": "string",
             "description": "Bid requesters first_name",
             "example": "Joe"
            },
            "last_name": {
             "type": "string",
             "description": "Bid requesters last_name",
             "example": "Doe"
            },
            "mobile_phone": {
             "type": "string",
             "description": "Bid requesters mobile number",
             "example": 8051231234
            },
            "vendor_address": {
             "type": "string",
             "description": "Bid requesters company address",
             "example": "6309 Carpinteria Ave."
            },
            "business_phone": {
             "type": "string",
             "description": "Bid requesters company phone number",
             "example": 8051231234
            },
            "fax_number": {
             "type": "string",
             "description": "Bid requesters company fax number",
             "example": 8051231234
            }
           }
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2017-07-29T21:39:40Z"
          },
          "bidder_notes": {
           "type": "string",
           "description": "Notes",
           "example": "bid seems very low"
          },
          "attachments_count": {
           "type": "integer",
           "description": "Attachment count",
           "example": 1
          },
          "recipient_ids": {
           "type": "array",
           "description": "Login IDs of all recipients on a bid",
           "items": {
            "type": "integer",
            "example": 1443234
           }
          },
          "recipient_list": {
           "type": "array",
           "description": "Detailed recipient informations on bid",
           "items": {
            "type": "object",
            "properties": {
             "first": {
              "type": "string",
              "description": "Recipients first name",
              "example": "John"
             },
             "last": {
              "type": "string",
              "description": "Recipients last name",
              "example": "Doe"
             },
             "email": {
              "type": "string",
              "description": "Recipients email",
              "example": "j.doe@example.com"
             },
             "numbers": {
              "type": "string",
              "description": "Recipients office and mobile numbers",
              "example": "Office: N/A, Mobile: 805.123.1234"
             }
            }
           }
          },
          "recipient_list_with_email_and_number": {
           "type": "string",
           "description": "Recipient emails and phone numbers",
           "example": "Jane Doe, jane.doe@example.com, Office N/A, Mobile N/A"
          },
          "mailto": {
           "type": "string",
           "description": "Email address associated with creating communications for bid",
           "example": "procore-f1234@example.com"
          },
          "bidder_inclusion": {
           "type": "string",
           "description": "Inclusion comments made on bid sheet",
           "example": "See Attached Proposal"
          },
          "bidder_exclusion": {
           "type": "string",
[...]
