{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Model Revisions",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Model Revisions",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_model_revisions": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List BIM Model Revisions",
    "description": "Lists BIM Model Revisions associated with the specified Project.",
    "tags": [
     "BIM Model Revisions"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe normal view does not include the attribute 'published_model', and contains 'bim_gridline_id' instead of object.\nThe extended view contains the response shown below.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[bim_file_id]",
      "in": "query",
      "description": "Filter item(s) with matching BIM File ids",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[bim_model_id]",
      "in": "query",
      "description": "Filter item(s) with matching Bim Model ids.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[publish_status]",
      "in": "query",
      "description": "Filter item(s) by publish status",
      "schema": {
       "type": "string",
       "enum": [
        "unpublished",
        "ready"
       ]
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort item(s) by an attribute. The default sort is ascending. To sort in descending order, prepend the sort value with a hyphen character '-'",
      "schema": {
       "type": "string",
       "enum": [
        "revision"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "BIM Model Revisions listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "description": "Published BIM Model Revision",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 126
             },
             "bim_file_id": {
              "type": "integer",
              "description": "ID of the associated BIM File",
              "example": 51
             },
             "bim_gridline_id": {
              "type": "integer",
              "nullable": true,
              "description": "ID of the associated Gridline",
              "example": 107
             },
             "bim_model_id": {
              "type": "integer",
              "description": "ID of the associated BIM Model",
              "example": 16
             },
             "geometry_file_bundle_id": {
              "type": "integer",
              "nullable": true,
              "description": "ID of the associated geometry file bundle",
              "example": 148
             },
             "suitability": {
              "type": "string",
              "description": "Suitability of the revision",
              "example": "issued_for_coordination"
             },
             "publish_status": {
              "type": "string",
              "description": "Status of the revision",
              "example": "in_progress"
             },
             "revision": {
              "type": "integer",
              "description": "The sequential revision count",
              "example": 1
             },
             "publisher_name": {
              "type": "string",
              "description": "Name of application publishing the model revision",
              "example": "nw_publisher"
             },
             "publisher_version": {
              "type": "string",
              "description": "Version of application publishing the model revision",
              "example": "3.1.6"
             },
             "min_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               },
               "z": {
                "type": "number",
                "format": "float",
                "description": "z-axis coordinate",
                "example": 24.96
               }
              }
             },
             "max_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               },
               "z": {
                "type": "number",
                "format": "float",
                "description": "z-axis coordinate",
                "example": 24.96
               }
              }
             },
             "rotation": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               },
               "z": {
                "type": "number",
                "format": "float",
                "description": "z-axis coordinate",
                "example": 24.96
               }
              }
             },
             "viewpoints": {
              "type": "array",
              "description": "An array of viewpoints",
              "items": {
               "type": "object",
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 206
                  },
                  "bim_file_id": {
                   "type": "integer",
                   "description": "ID of associated BIM File",
                   "example": 809
                  },
                  "view_folder_id": {
                   "type": "integer",
                   "nullable": true,
                   "description": "ID of associated BIM View Folder",
                   "example": 316
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Created date",
                   "example": "2018-04-19T09:36:42Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Updated date",
                   "example": "2018-04-20T09:36:42Z"
                  },
                  "snapshot": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "description": "A mime type or a file extension",
                     "example": "image/png"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  },
                  "name": {
                   "type": "string",
                   "description": "Viewpoint name",
                   "example": "Mechanical Conflict View"
                  },
                  "render_mode": {
                   "type": "string",
                   "description": "Viewer render mode when viewpoint is applied",
                   "enum": [
                    "shaded",
                    "xray"
                   ]
                  },
                  "uuid": {
                   "type": "string",
                   "nullable": true,
                   "description": "Unique identifier for the Extraction viewpoint",
                   "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "visibility": {
                   "type": "object",
                   "nullable": true,
                   "description": "Object Visibility settings",
                   "properties": {
                    "default_visibility": {
                     "type": "boolean"
                    },
                    "exceptions": {
                     "type": "object",
                     "description": "Group of model objects represented as an array of object ids, or object ranges",
                     "properties": {
                      "object_ids": {
                       "type": "array",
                       "description": "Array of object ids",
                       "example": [
                        24861,
                        46732
                       ],
                       "items": {
                        "type": "integer"
                       }
                      },
                      "object_ranges": {
                       "type": "array",
                       "description": "Array of object ranges. A range is an array containing two numbers, the first represents object id, the second represents the number of objects in the range.",
                       "example": [
                        [
                         24862,
                         24
                        ]
                       ],
                       "items": {
                        "type": "array",
                        "items": {
                         "type": "integer"
                        },
                        "minItems": 2,
                        "maxItems": 2
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "camera_data": {
                   "type": "string",
                   "description": "JSON string representation of camera position",
                   "example": "{\"perspective_camera\":{\"camera_direction\":{\"x\":-0.24,\"y\":-0.14,\"z\":-0.99},\"camera_up_vector\":{\"x\":-0.17,\"y\":-0.74,\"z\":0.14},\"camera_view_point\":{\"x\":-13.86,\"y\":64.83,\"z\":31.9},\"field_of_view\":0.78,\"target_distance\":9.18,\"unit\":\"ft\"}}"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "redlines_data": {
                   "type": "string",
                   "description": "JSON string representation of markup",
                   "example": "{\"lines\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":-0.29,\"y\":-0.53,\"z\":0.0}}],\"texts\":[{\"origin\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"text\":\"Issue\",\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1}}],\"arrows\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.16,\"y\":0.33,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":0.58,\"y\":0.25,\"z\":0.0}}],\"ellipses\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"max_point\":{\"x\":0.11,\"y\":-0.25,\"z\":0.0},\"min_point\":{\"x\":0.31,\"y\":0.68,\"z\":0.0},\"thickness\":3}]}"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "sections_data": {
                   "type": "string",
                   "description": "JSON string representation of sections applied to a 3d model as a set of clipping planes",
                   "example": "[{\"location\":{\"x\":0.0,\"y\":0.0,\"z\":28.82},\"direction\":{\"x\":0,\"y\":0,\"z\":-1},\"unit\":\"ft\"},{\"location\":{\"x\":10.0,\"y\":50.0,\"z\":68.82},\"direction\":{\"x\":2,\"y\":4,\"z\":-6}}]"
                  }
                 }
                }
               ]
              }
             },
             "created_by": {
              "type": "object",
              "description": "Login Information",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID uniquely identifying this user.",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User's display name, formatted first name then last name.",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User's login email address.",
                "example": "johndoe@example.com"
               },
               "company_name": {
                "type": "string",
                "nullable": true,
                "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                "example": "Builders Inc."
               },
               "locale": {
                "type": "string",
                "nullable": true,
                "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                "example": "ko"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-20T09:36:42Z"
             }
            }
           },
           {
            "type": "object",
            "description": "Published BIM Model Revision",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 126
             },
             "bim_file": {
              "type": "object",
              "description": "BIM File",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 101
               },
               "name": {
                "type": "string",
                "description": "Name of the file to be associated to a project",
                "example": "101_BLDG_FLR_2.NWF"
               },
               "uuid": {
                "type": "string",
                "description": "Unique UUID associated with the file",
                "example": "a00147dd-a698-468a-b082-d277a564cf0c"
               }
              }
             },
             "bim_model_id": {
              "type": "integer",
              "description": "ID of the associated BIM Model",
              "example": 16
             },
             "geometry_file_bundle_id": {
              "type": "integer",
              "nullable": true,
              "description": "ID of the associated geometry file bundle",
              "example": 148
             },
             "suitability": {
              "type": "string",
              "description": "Suitability of the revision",
              "example": "issued_for_coordination"
             },
             "publish_status": {
              "type": "string",
              "description": "Status of the revision",
              "example": "in_progress"
             },
             "revision": {
              "type": "integer",
              "description": "The sequential revision count",
              "example": 1
             },
             "publisher_name": {
              "type": "string",
              "description": "Name of application publishing the model revision",
              "example": "nw_publisher"
             },
             "publisher_version": {
              "type": "string",
              "description": "Version of application publishing the model revision",
              "example": "3.1.6"
             },
             "min_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "max_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "rotation": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "viewpoints": {
              "type": "array",
              "description": "An array of viewpoints",
              "items": {
               "type": "object",
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 206
                  },
                  "bim_file_id": {
                   "type": "integer",
                   "description": "ID of associated BIM File",
                   "example": 809
                  },
                  "view_folder_id": {
                   "type": "integer",
                   "nullable": true,
                   "description": "ID of associated BIM View Folder",
                   "example": 316
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Created date",
                   "example": "2018-04-19T09:36:42Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Updated date",
                   "example": "2018-04-20T09:36:42Z"
                  },
                  "snapshot": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "description": "A mime type or a file extension",
                     "example": "image/png"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  },
                  "name": {
                   "type": "string",
                   "description": "Viewpoint name",
                   "example": "Mechanical Conflict View"
                  },
                  "render_mode": {
                   "type": "string",
                   "description": "Viewer render mode when viewpoint is applied",
                   "enum": [
                    "shaded",
                    "xray"
                   ]
                  },
                  "uuid": {
                   "type": "string",
                   "nullable": true,
                   "description": "Unique identifier for the Extraction viewpoint",
                   "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "visibility": {
                   "type": "object",
                   "nullable": true,
                   "description": "Object Visibility settings",
                   "properties": {
                    "default_visibility": {
                     "type": "boolean"
                    },
                    "exceptions": {
                     "type": "object",
                     "description": "Group of model objects represented as an array of object ids, or object ranges",
                     "properties": {
                      "object_ids": {
                       "type": "array",
                       "description": "Array of object ids",
                       "example": [
                        24861,
                        46732
                       ],
                       "items": {
                        "type": "integer"
                       }
                      },
                      "object_ranges": {
                       "type": "array",
                       "description": "Array of object ranges. A range is an array containing two numbers, the first represents object id, the second represents the number of objects in the range.",
                       "example": [
                        [
                         24862,
                         24
                        ]
                       ],
                       "items": {
                        "type": "array",
                        "items": {
                         "type": "integer"
                        },
                        "minItems": 2,
                        "maxItems": 2
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "camera_data": {
                   "type": "string",
                   "description": "JSON string representation of camera position",
                   "example": "{\"perspective_camera\":{\"camera_direction\":{\"x\":-0.24,\"y\":-0.14,\"z\":-0.99},\"camera_up_vector\":{\"x\":-0.17,\"y\":-0.74,\"z\":0.14},\"camera_view_point\":{\"x\":-13.86,\"y\":64.83,\"z\":31.9},\"field_of_view\":0.78,\"target_distance\":9.18,\"unit\":\"ft\"}}"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "redlines_data": {
                   "type": "string",
                   "description": "JSON string representation of markup",
                   "example": "{\"lines\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":-0.29,\"y\":-0.53,\"z\":0.0}}],\"texts\":[{\"origin\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"text\":\"Issue\",\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1}}],\"arrows\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.16,\"y\":0.33,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":0.58,\"y\":0.25,\"z\":0.0}}],\"ellipses\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"max_point\":{\"x\":0.11,\"y\":-0.25,\"z\":0.0},\"min_point\":{\"x\":0.31,\"y\":0.68,\"z\":0.0},\"thickness\":3}]}"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "sections_data": {
                   "type": "string",
                   "description": "JSON string representation of sections applied to a 3d model as a set of clipping planes",
                   "example": "[{\"location\":{\"x\":0.0,\"y\":0.0,\"z\":28.82},\"direction\":{\"x\":0,\"y\":0,\"z\":-1},\"unit\":\"ft\"},{\"location\":{\"x\":10.0,\"y\":50.0,\"z\":68.82},\"direction\":{\"x\":2,\"y\":4,\"z\":-6}}]"
                  }
                 }
                }
               ]
              }
             },
             "created_by": {
              "type": "object",
              "description": "Login Information",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID uniquely identifying this user.",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User's display name, formatted first name then last name.",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User's login email address.",
                "example": "johndoe@example.com"
               },
               "company_name": {
                "type": "string",
                "nullable": true,
                "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                "example": "Builders Inc."
               },
               "locale": {
                "type": "string",
                "nullable": true,
                "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                "example": "ko"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-20T09:36:42Z"
             },
             "bim_gridline": {
              "allOf": [
               {
                "type": "object",
                "description": "BIM Gridline stores the gridline details exported from modeling software like Revit",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 189
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "FINAL_MODEL.RVT"
                 },
                 "coordinate_system": {
                  "type": "string",
                  "description": "Coordinate system used in exporting gridlines",
                  "example": "internal"
                 },
                 "project_id": {
                  "type": "integer",
                  "description": "Project ID",
                  "example": 110
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created date",
                  "example": "2019-01-04T06:13:10Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated date",
                  "example": "2019-01-06T11:26:08Z"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "gridline_file": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Unique integer identifier for this file attachment."
                   },
                   "name": {
                    "type": "string",
                    "description": "Base name of the file without its path",
                    "example": "filename.ext"
                   },
                   "content_type": {
                    "type": "string",
                    "nullable": true,
                    "description": "A mime type or a file extension",
                    "example": "application/vnd.ext"
                   },
                   "url": {
                    "type": "string",
                    "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                    "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                   }
                  }
                 }
                }
               }
              ]
             },
             "published_model": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique integer identifier for this file attachment."
               },
               "name": {
                "type": "string",
                "description": "Base name of the file without its path",
                "example": "filename.ext"
               },
               "content_type": {
                "type": "string",
                "nullable": true,
                "description": "A mime type or a file extension",
                "example": "application/vnd.ext"
               },
               "url": {
                "type": "string",
                "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
               }
              }
             },
             "object_definition": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique integer identifier for this file attachment."
               },
               "name": {
                "type": "string",
                "description": "Base name of the file without its path",
                "example": "filename.ext"
               },
               "content_type": {
                "type": "string",
                "nullable": true,
                "description": "A mime type or a file extension",
                "example": "application/vnd.ext"
               },
               "url": {
                "type": "string",
                "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "User does not have permission to view BIM Model Revisions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view BIM Model Revisions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_model_revisions',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[bim_file_id]': 'SOME_INTEGER_VALUE',\n    'filters[bim_model_id]': 'SOME_INTEGER_VALUE',\n    'filters[publish_status]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_model_revisions?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Bbim_model_id%5D=SOME_INTEGER_VALUE&filters%5Bpublish_status%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_model_revisions?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Bbim_model_id%5D=SOME_INTEGER_VALUE&filters%5Bpublish_status%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_model_revisions?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Bbim_model_id%5D=SOME_INTEGER_VALUE&filters%5Bpublish_status%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added publish_status filter",
      "description": "Added a filter that allows BIM Model Revisions to be filtered by publish status\n\nThe filter will accept the following values:\n\n* `unpublished`\n* `ready`\n\nTo use the new filter, include the following query parameter: `?filters[publish_status]=ready`",
      "endpoint": "GET /bim_model_revisions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-06-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-model-revisions?version=1.0#list-bim-model-revisions"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create BIM Model Revision",
    "description": "Create a Revision for a BIM Model. If a set of upload UUIDs or model artifact references are not provided, the revision will be created with 'unpublished' publish status.\n\n\nFor 3d files converted to Procore's format using BIM File Extractions API, the `geometry_file_id` can be retrieved via [BIM File Extraction API](https://developers.procore.com/reference/rest/v1/bim-file-extractions?version=1.0#show-bim-file-extraction) using the following JSONPath:\n\n    $.extraction_items.artifact.mobile_format.id\n\nIn a similar manner, the `property_file_id` can be retrieved via [BIM File Extraction API](https://developers.procore.com/reference/rest/v1/bim-file-extractions?version=1.0#show-bim-file-extraction) using the following JSONPath:\n\n    $.extraction_items.artifact.properties.id\n\n\n\nNote that in the response for this BIM Model Revision endpoint, `geometry_file_id` will be designated as `published_model.id`, and `property_file_id` will be designated as `object_definition.id`.",
    "tags": [
     "BIM Model Revisions"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_model_revision"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 123
         },
         "bim_model_revision": {
          "oneOf": [
           {
            "type": "object",
            "description": "BIM Model Revision",
            "required": [
             "bim_file_id",
             "bim_model_id",
             "suitability",
             "min_boundary",
             "max_boundary"
            ],
            "properties": {
             "bim_file_id": {
              "type": "integer",
              "description": "ID of the published model file",
              "example": 123
             },
             "bim_model_id": {
              "type": "integer",
              "description": "ID of the published model",
              "example": 456
             },
             "home_viewpoint_id": {
              "type": "integer",
              "description": "ID of the BimViewpoint resource to be set as home viewpoint",
              "example": 346
             },
             "suitability": {
              "type": "string",
              "description": "Suitability of published model",
              "example": "issued_for_coordination",
              "enum": [
               "issued_for_coordination",
               "partially_signed_off",
               "issued_for_construction",
               "as_built"
              ]
             },
             "publisher_name": {
              "type": "string",
              "description": "Name of application publishing the model revision",
              "example": "nw_publisher"
             },
             "publisher_version": {
              "type": "string",
              "description": "Version of application publishing the model revision",
              "example": "3.1.6"
             },
             "min_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "max_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "rotation": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "geometry_file_bundle_id": {
              "type": "integer",
              "description": "ID of the associated geometry file bundle",
              "example": 148
             }
            }
           },
           {
            "type": "object",
            "description": "BIM Model Revision",
            "required": [
             "bim_file_id",
             "bim_model_id",
             "suitability",
             "min_boundary",
             "max_boundary"
            ],
            "properties": {
             "bim_file_id": {
              "type": "integer",
              "description": "ID of the published model file",
              "example": 123
             },
             "bim_model_id": {
              "type": "integer",
              "description": "ID of the published model",
              "example": 456
             },
             "home_viewpoint_id": {
              "type": "integer",
              "description": "ID of the BimViewpoint resource to be set as home viewpoint",
              "example": 346
             },
             "suitability": {
              "type": "string",
              "description": "Suitability of published model",
              "example": "issued_for_coordination",
              "enum": [
               "issued_for_coordination",
               "partially_signed_off",
               "issued_for_construction",
               "as_built"
              ]
             },
             "publisher_name": {
              "type": "string",
              "description": "Name of application publishing the model revision",
              "example": "nw_publisher"
             },
             "publisher_version": {
              "type": "string",
              "description": "Version of application publishing the model revision",
              "example": "3.1.6"
             },
             "min_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "max_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "rotation": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "published_model_upload_uuid": {
              "type": "string",
              "description": "UUID of the uploaded model",
              "example": "1R9QSTJ4ZHYYJ2T6TPQBGNSEH8"
             },
             "object_definition_upload_uuid": {
              "type": "string",
              "description": "UUID of the uploaded model object definition file",
              "example": "1Z0REJ4ZHYYJ2T6TPQBGNSEH81"
             }
            }
           },
           {
            "type": "object",
            "description": "BIM Model Revision",
            "required": [
             "bim_file_id",
             "bim_model_id",
             "suitability",
             "min_boundary",
             "max_boundary"
            ],
            "properties": {
             "bim_file_id": {
              "type": "integer",
              "description": "ID of the published model file",
              "example": 123
             },
             "bim_model_id": {
              "type": "integer",
              "description": "ID of the published model",
              "example": 456
             },
             "home_viewpoint_id": {
              "type": "integer",
              "description": "ID of the BimViewpoint resource to be set as home viewpoint",
              "example": 346
             },
             "suitability": {
              "type": "string",
              "description": "Suitability of published model",
              "example": "issued_for_coordination",
              "enum": [
               "issued_for_coordination",
               "partially_signed_off",
               "issued_for_construction",
               "as_built"
              ]
             },
             "publisher_name": {
              "type": "string",
              "description": "Name of application publishing the model revision",
              "example": "nw_publisher"
             },
             "publisher_version": {
              "type": "string",
              "description": "Version of application publishing the model revision",
              "example": "3.1.6"
             },
             "min_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "max_boundary": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "rotation": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "string",
                "description": "Numeric string representing x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "string",
                "description": "Numeric string representing y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "string",
                "description": "Numeric string representing z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "geometry_file_id": {
              "type": "integer",
              "description": "ID of the Procore 3d model format file containing geometry information.",
              "example": 4766
             },
             "property_file_id": {
              "type": "integer",
              "description": "ID of the Procore 3d model format file containing property data information.",
              "example": 4862
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "Published BIM Model Revision",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 126
            },
            "bim_file_id": {
             "type": "integer",
             "description": "ID of the associated BIM File",
             "example": 51
            },
            "bim_gridline_id": {
             "type": "integer",
             "nullable": true,
             "description": "ID of the associated Gridline",
             "example": 107
            },
            "bim_model_id": {
             "type": "integer",
             "description": "ID of the associated BIM Model",
             "example": 16
            },
            "geometry_file_bundle_id": {
             "type": "integer",
             "nullable": true,
             "description": "ID of the associated geometry file bundle",
             "example": 148
            },
            "suitability": {
             "type": "string",
             "description": "Suitability of the revision",
             "example": "issued_for_coordination"
            },
            "publish_status": {
             "type": "string",
             "description": "Status of the revision",
             "example": "in_progress"
            },
            "revision": {
             "type": "integer",
             "description": "The sequential revision count",
             "example": 1
            },
            "publisher_name": {
             "type": "string",
             "description": "Name of application publishing the model revision",
             "example": "nw_publisher"
            },
            "publisher_version": {
             "type": "string",
             "description": "Version of application publishing the model revision",
             "example": "3.1.6"
            },
            "min_boundary": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "float",
               "description": "x-axis coordinate",
               "example": 6.24
              },
              "y": {
               "type": "number",
               "format": "float",
               "description": "y-axis coordinate",
               "example": 12.48
              },
              "z": {
               "type": "number",
               "format": "float",
               "description": "z-axis coordinate",
               "example": 24.96
              }
             }
            },
            "max_boundary": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "float",
               "description": "x-axis coordinate",
               "example": 6.24
              },
              "y": {
               "type": "number",
               "format": "float",
               "description": "y-axis coordinate",
               "example": 12.48
              },
              "z": {
               "type": "number",
               "format": "float",
               "description": "z-axis coordinate",
               "example": 24.96
              }
             }
            },
            "rotation": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "float",
               "description": "x-axis coordinate",
               "example": 6.24
              },
              "y": {
               "type": "number",
               "format": "float",
               "description": "y-axis coordinate",
               "example": 12.48
              },
              "z": {
               "type": "number",
               "format": "float",
               "description": "z-axis coordinate",
               "example": 24.96
              }
             }
            },
            "viewpoints": {
             "type": "array",
             "description": "An array of viewpoints",
             "items": {
              "type": "object",
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 206
                 },
                 "bim_file_id": {
                  "type": "integer",
                  "description": "ID of associated BIM File",
                  "example": 809
                 },
                 "view_folder_id": {
                  "type": "integer",
                  "nullable": true,
                  "description": "ID of associated BIM View Folder",
                  "example": 316
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created date",
                  "example": "2018-04-19T09:36:42Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated date",
                  "example": "2018-04-20T09:36:42Z"
                 },
                 "snapshot": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer"
                   },
                   "name": {
                    "type": "string",
                    "description": "Base name of the file without its path",
                    "example": "filename.ext"
                   },
                   "content_type": {
                    "type": "string",
                    "description": "A mime type or a file extension",
                    "example": "image/png"
                   },
                   "url": {
                    "type": "string",
                    "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                    "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                   }
                  }
                 },
                 "name": {
                  "type": "string",
                  "description": "Viewpoint name",
                  "example": "Mechanical Conflict View"
                 },
                 "render_mode": {
                  "type": "string",
                  "description": "Viewer render mode when viewpoint is applied",
                  "enum": [
                   "shaded",
                   "xray"
                  ]
                 },
                 "uuid": {
                  "type": "string",
                  "nullable": true,
                  "description": "Unique identifier for the Extraction viewpoint",
                  "example": "123e4567-e89b-12d3-a456-426614174000"
                 },
                 "visibility": {
                  "type": "object",
                  "nullable": true,
                  "description": "Object Visibility settings",
                  "properties": {
                   "default_visibility": {
                    "type": "boolean"
                   },
                   "exceptions": {
                    "type": "object",
                    "description": "Group of model objects represented as an array of object ids, or object ranges",
                    "properties": {
                     "object_ids": {
                      "type": "array",
                      "description": "Array of object ids",
                      "example": [
                       24861,
                       46732
                      ],
                      "items": {
                       "type": "integer"
                      }
                     },
                     "object_ranges": {
                      "type": "array",
                      "description": "Array of object ranges. A range is an array containing two numbers, the first represents object id, the second represents the number of objects in the range.",
                      "example": [
                       [
                        24862,
                        24
                       ]
                      ],
                      "items": {
                       "type": "array",
                       "items": {
                        "type": "integer"
                       },
                       "minItems": 2,
                       "maxItems": 2
                      }
                     }
                    }
                   }
                  }
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "camera_data": {
                  "type": "string",
                  "description": "JSON string representation of camera position",
                  "example": "{\"perspective_camera\":{\"camera_direction\":{\"x\":-0.24,\"y\":-0.14,\"z\":-0.99},\"camera_up_vector\":{\"x\":-0.17,\"y\":-0.74,\"z\":0.14},\"camera_view_point\":{\"x\":-13.86,\"y\":64.83,\"z\":31.9},\"field_of_view\":0.78,\"target_distance\":9.18,\"unit\":\"ft\"}}"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "redlines_data": {
                  "type": "string",
                  "description": "JSON string representation of markup",
                  "example": "{\"lines\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":-0.29,\"y\":-0.53,\"z\":0.0}}],\"texts\":[{\"origin\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"text\":\"Issue\",\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1}}],\"arrows\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.16,\"y\":0.33,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":0.58,\"y\":0.25,\"z\":0.0}}],\"ellipses\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"max_point\":{\"x\":0.11,\"y\":-0.25,\"z\":0.0},\"min_point\":{\"x\":0.31,\"y\":0.68,\"z\":0.0},\"thickness\":3}]}"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "sections_data": {
                  "type": "string",
                  "description": "JSON string representation of sections applied to a 3d model as a set of clipping planes",
                  "example": "[{\"location\":{\"x\":0.0,\"y\":0.0,\"z\":28.82},\"direction\":{\"x\":0,\"y\":0,\"z\":-1},\"unit\":\"ft\"},{\"location\":{\"x\":10.0,\"y\":50.0,\"z\":68.82},\"direction\":{\"x\":2,\"y\":4,\"z\":-6}}]"
                 }
                }
               }
              ]
             }
            },
            "created_by": {
             "type": "object",
             "description": "Login Information",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Login Information ID uniquely identifying this user.",
               "example": 1738090
              },
              "name": {
               "type": "string",
               "description": "User's display name, formatted first name then last name.",
               "example": "John Doe"
              },
              "login": {
               "type": "string",
               "description": "User's login email address.",
               "example": "johndoe@example.com"
              },
              "company_name": {
               "type": "string",
               "nullable": true,
               "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
               "example": "Builders Inc."
              },
              "locale": {
               "type": "string",
               "nullable": true,
               "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
               "example": "ko"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            }
           }
          },
          {
           "type": "object",
           "description": "Published BIM Model Revision",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 126
            },
            "bim_file": {
             "type": "object",
             "description": "BIM File",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 101
              },
              "name": {
               "type": "string",
               "description": "Name of the file to be associated to a project",
               "example": "101_BLDG_FLR_2.NWF"
              },
              "uuid": {
               "type": "string",
               "description": "Unique UUID associated with the file",
               "example": "a00147dd-a698-468a-b082-d277a564cf0c"
              }
             }
            },
            "bim_model_id": {
             "type": "integer",
             "description": "ID of the associated BIM Model",
             "example": 16
            },
            "geometry_file_bundle_id": {
             "type": "integer",
             "nullable": true,
             "description": "ID of the associated geometry file bundle",
             "example": 148
            },
            "suitability": {
             "type": "string",
             "description": "Suitability of the revision",
             "example": "issued_for_coordination"
            },
            "publish_status": {
             "type": "string",
             "description": "Status of the revision",
             "example": "in_progress"
            },
            "revision": {
             "type": "integer",
             "description": "The sequential revision count",
             "example": 1
            },
            "publisher_name": {
             "type": "string",
             "description": "Name of application publishing the model revision",
             "example": "nw_publisher"
            },
            "publisher_version": {
             "type": "string",
             "description": "Version of application publishing the model revision",
             "example": "3.1.6"
            },
            "min_boundary": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "string",
               "description": "Numeric string representing x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "string",
               "description": "Numeric string representing y-axis coordinate",
               "example": "12.48"
              },
              "z": {
               "type": "string",
               "description": "Numeric string representing z-axis coordinate",
               "example": "24.96"
              }
             }
            },
            "max_boundary": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "string",
               "description": "Numeric string representing x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "string",
               "description": "Numeric string representing y-axis coordinate",
               "example": "12.48"
              },
              "z": {
               "type": "string",
               "description": "Numeric string representing z-axis coordinate",
               "example": "24.96"
              }
             }
            },
            "rotation": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "string",
               "description": "Numeric string representing x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "string",
               "description": "Numeric string representing y-axis coordinate",
               "example": "12.48"
              },
              "z": {
               "type": "string",
               "description": "Numeric string representing z-axis coordinate",
               "example": "24.96"
              }
             }
            },
            "viewpoints": {
             "type": "array",
             "description": "An array of viewpoints",
             "items": {
              "type": "object",
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 206
                 },
                 "bim_file_id": {
                  "type": "integer",
                  "description": "ID of associated BIM File",
                  "example": 809
                 },
                 "view_folder_id": {
                  "type": "integer",
                  "nullable": true,
                  "description": "ID of associated BIM View Folder",
                  "example": 316
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created date",
                  "example": "2018-04-19T09:36:42Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated date",
                  "example": "2018-04-20T09:36:42Z"
                 },
                 "snapshot": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer"
                   },
                   "name": {
                    "type": "string",
                    "description": "Base name of the file without its path",
                    "example": "filename.ext"
                   },
                   "content_type": {
                    "type": "string",
                    "description": "A mime type or a file extension",
                    "example": "image/png"
                   },
                   "url": {
                    "type": "string",
                    "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                    "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                   }
                  }
                 },
                 "name": {
                  "type": "string",
                  "description": "Viewpoint name",
                  "example": "Mechanical Conflict View"
                 },
                 "render_mode": {
                  "type": "string",
                  "description": "Viewer render mode when viewpoint is applied",
                  "enum": [
                   "shaded",
                   "xray"
                  ]
                 },
                 "uuid": {
                  "type": "string",
                  "nullable": true,
                  "description": "Unique identifier for the Extraction viewpoint",
                  "example": "123e4567-e89b-12d3-a456-426614174000"
                 },
                 "visibility": {
                  "type": "object",
                  "nullable": true,
                  "description": "Object Visibility settings",
                  "properties": {
                   "default_visibility": {
                    "type": "boolean"
                   },
                   "exceptions": {
                    "type": "object",
                    "description": "Group of model objects represented as an array of object ids, or object ranges",
                    "properties": {
                     "object_ids": {
                      "type": "array",
                      "description": "Array of object ids",
                      "example": [
                       24861,
                       46732
                      ],
                      "items": {
                       "type": "integer"
                      }
                     },
                     "object_ranges": {
                      "type": "array",
                      "description": "Array of object ranges. A range is an array containing two numbers, the first represents object id, the second represents the number of objects in the range.",
                      "example": [
                       [
                        24862,
                        24
                       ]
                      ],
                      "items": {
                       "type": "array",
                       "items": {
                        "type": "integer"
                       },
                       "minItems": 2,
                       "maxItems": 2
                      }
                     }
                    }
                   }
                  }
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "camera_data": {
                  "type": "string",
                  "description": "JSON string representation of camera position",
                  "example": "{\"perspective_camera\":{\"camera_direction\":{\"x\":-0.24,\"y\":-0.14,\"z\":-0.99},\"camera_up_vector\":{\"x\":-0.17,\"y\":-0.74,\"z\":0.14},\"camera_view_point\":{\"x\":-13.86,\"y\":64.83,\"z\":31.9},\"field_of_view\":0.78,\"target_distance\":9.18,\"unit\":\"ft\"}}"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "redlines_data": {
                  "type": "string",
                  "description": "JSON string representation of markup",
                  "example": "{\"lines\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":-0.29,\"y\":-0.53,\"z\":0.0}}],\"texts\":[{\"origin\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"text\":\"Issue\",\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1}}],\"arrows\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.16,\"y\":0.33,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":0.58,\"y\":0.25,\"z\":0.0}}],\"ellipses\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"max_point\":{\"x\":0.11,\"y\":-0.25,\"z\":0.0},\"min_point\":{\"x\":0.31,\"y\":0.68,\"z\":0.0},\"thickness\":3}]}"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "sections_data": {
                  "type": "string",
                  "description": "JSON string representation of sections applied to a 3d model as a set of clipping planes",
                  "example": "[{\"location\":{\"x\":0.0,\"y\":0.0,\"z\":28.82},\"direction\":{\"x\":0,\"y\":0,\"z\":-1},\"unit\":\"ft\"},{\"location\":{\"x\":10.0,\"y\":50.0,\"z\":68.82},\"direction\":{\"x\":2,\"y\":4,\"z\":-6}}]"
                 }
                }
               }
              ]
             }
            },
            "created_by": {
             "type": "object",
             "description": "Login Information",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Login Information ID uniquely identifying this user.",
               "example": 1738090
              },
              "name": {
               "type": "string",
               "description": "User's display name, formatted first name then last name.",
               "example": "John Doe"
              },
              "login": {
               "type": "string",
               "description": "User's login email address.",
               "example": "johndoe@example.com"
              },
              "company_name": {
               "type": "string",
               "nullable": true,
               "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
               "example": "Builders Inc."
              },
              "locale": {
               "type": "string",
               "nullable": true,
               "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
               "example": "ko"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            },
            "bim_gridline": {
             "allOf": [
              {
               "type": "object",
               "description": "BIM Gridline stores the gridline details exported from modeling software like Revit",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 189
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "FINAL_MODEL.RVT"
                },
                "coordinate_system": {
                 "type": "string",
                 "description": "Coordinate system used in exporting gridlines",
                 "example": "internal"
                },
                "project_id": {
                 "type": "integer",
                 "description": "Project ID",
                 "example": 110
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created date",
                 "example": "2019-01-04T06:13:10Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated date",
                 "example": "2019-01-06T11:26:08Z"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "gridline_file": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique integer identifier for this file attachment."
                  },
                  "name": {
                   "type": "string",
                   "description": "Base name of the file without its path",
                   "example": "filename.ext"
                  },
                  "content_type": {
                   "type": "string",
                   "nullable": true,
                   "description": "A mime type or a file extension",
                   "example": "application/vnd.ext"
                  },
                  "url": {
                   "type": "string",
                   "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                   "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                  }
                 }
                }
               }
              }
             ]
            },
            "published_model": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique integer identifier for this file attachment."
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "filename.ext"
              },
              "content_type": {
               "type": "string",
               "nullable": true,
               "description": "A mime type or a file extension",
               "example": "application/vnd.ext"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              }
             }
            },
            "object_definition": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique integer identifier for this file attachment."
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "filename.ext"
              },
              "content_type": {
               "type": "string",
               "nullable": true,
               "description": "A mime type or a file extension",
               "example": "application/vnd.ext"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/bim_model_revisions',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 123,\n    bim_model_revision: {\n      bim_file_id: 123,\n      bim_model_id: 456,\n      home_viewpoint_id: 346,\n      suitability: 'issued_for_coordination',\n      publisher_name: 'nw_publisher',\n      publisher_version: '3.1.6',\n      min_boundary: {x: '6.24', y: '12.48', z: '24.96'},\n      max_boundary: {x: '6.24', y: '12.48', z: '24.96'},\n      rotation: {x: '6.24', y: '12.48', z: '24.96'},\n      geometry_file_bundle_id: 148\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":123,\\\"bim_model_revision\\\":{\\\"bim_file_id\\\":123,\\\"bim_model_id\\\":456,\\\"home_viewpoint_id\\\":346,\\\"suitability\\\":\\\"issued_for_coordination\\\",\\\"publisher_name\\\":\\\"nw_publisher\\\",\\\"publisher_version\\\":\\\"3.1.6\\\",\\\"min_boundary\\\":{\\\"x\\\":\\\"6.24\\\",\\\"y\\\":\\\"12.48\\\",\\\"z\\\":\\\"24.96\\\"},\\\"max_boundary\\\":{\\\"x\\\":\\\"6.24\\\",\\\"y\\\":\\\"12.48\\\",\\\"z\\\":\\\"24.96\\\"},\\\"rotation\\\":{\\\"x\\\":\\\"6.24\\\",\\\"y\\\":\\\"12.48\\\",\\\"z\\\":\\\"24.96\\\"},\\\"geometry_file_bundle_id\\\":148}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/bim_model_revisions\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/bim_model_revisions \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":123,\"bim_model_revision\":{\"bim_file_id\":123,\"bim_model_id\":456,\"home_viewpoint_id\":346,\"suitability\":\"issued_for_coordination\",\"publisher_name\":\"nw_publisher\",\"publisher_version\":\"3.1.6\",\"min_boundary\":{\"x\":\"6.24\",\"y\":\"12.48\",\"z\":\"24.96\"},\"max_boundary\":{\"x\":\"6.24\",\"y\":\"12.48\",\"z\":\"24.96\"},\"rotation\":{\"x\":\"6.24\",\"y\":\"12.48\",\"z\":\"24.96\"},\"geometry_file_bundle_id\":148}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_model_revisions\"),\n    Content = new StringContent(\"{\\\"project_id\\\":123,\\\"bim_model_revision\\\":{\\\"bim_file_id\\\":123,\\\"bim_model_id\\\":456,\\\"home_viewpoint_id\\\":346,\\\"suitability\\\":\\\"issued_for_coordination\\\",\\\"publisher_name\\\":\\\"nw_publisher\\\",\\\"publisher_version\\\":\\\"3.1.6\\\",\\\"min_boundary\\\":{\\\"x\\\":\\\"6.24\\\",\\\"y\\\":\\\"12.48\\\",\\\"z\\\":\\\"24.96\\\"},\\\"max_boundary\\\":{\\\"x\\\":\\\"6.24\\\",\\\"y\\\":\\\"12.48\\\",\\\"z\\\":\\\"24.96\\\"},\\\"rotation\\\":{\\\"x\\\":\\\"6.24\\\",\\\"y\\\":\\\"12.48\\\",\\\"z\\\":\\\"24.96\\\"},\\\"geometry_file_bundle_id\\\":148}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added new request body parameters",
      "description": "Added the following request body parameters for creating a BIM Model Revision\n* geometry_file_id\n* geometry_file_bundle_id\n* property_file_id",
      "endpoint": "POST /bim_model_revisions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-07-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-model-revisions?version=1.0#create-bim-model-revision"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/bim_model_revisions/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "BIM Model Revision ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show BIM Model Revision",
    "description": "Return a single BIM Model Revision.",
    "tags": [
     "BIM Model Revisions"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe normal view does not include the attribute 'published_model', and contains 'bim_gridline_id' instead of object.\nThe extended view contains the response shown below.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "Published BIM Model Revision",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 126
            },
            "bim_file_id": {
             "type": "integer",
             "description": "ID of the associated BIM File",
             "example": 51
            },
            "bim_gridline_id": {
             "type": "integer",
             "nullable": true,
             "description": "ID of the associated Gridline",
             "example": 107
            },
            "bim_model_id": {
             "type": "integer",
             "description": "ID of the associated BIM Model",
             "example": 16
            },
            "geometry_file_bundle_id": {
             "type": "integer",
             "nullable": true,
             "description": "ID of the associated geometry file bundle",
             "example": 148
            },
            "suitability": {
             "type": "string",
             "description": "Suitability of the revision",
             "example": "issued_for_coordination"
            },
            "publish_status": {
             "type": "string",
             "description": "Status of the revision",
             "example": "in_progress"
            },
            "revision": {
             "type": "integer",
             "description": "The sequential revision count",
             "example": 1
            },
            "publisher_name": {
             "type": "string",
             "description": "Name of application publishing the model revision",
             "example": "nw_publisher"
            },
            "publisher_version": {
             "type": "string",
             "description": "Version of application publishing the model revision",
             "example": "3.1.6"
            },
            "min_boundary": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "float",
               "description": "x-axis coordinate",
               "example": 6.24
              },
              "y": {
               "type": "number",
               "format": "float",
               "description": "y-axis coordinate",
               "example": 12.48
              },
              "z": {
               "type": "number",
               "format": "float",
               "description": "z-axis coordinate",
               "example": 24.96
              }
             }
            },
            "max_boundary": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "float",
               "description": "x-axis coordinate",
               "example": 6.24
              },
              "y": {
               "type": "number",
[...]
