{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Level Batch",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Level Batch",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_levels/batch": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a batch of BIM Levels",
    "description": "Create a batch of BIM Levels",
    "tags": [
     "BIM Models"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_levels"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 126
         },
         "view": {
          "type": "string",
          "description": "Specify response schema view",
          "enum": [
           "compact",
           "normal",
           "extended"
          ]
         },
         "bim_levels": {
          "type": "array",
          "description": "An array of BIM Level payloads",
          "items": {
           "type": "object",
           "description": "BIM Level",
           "required": [
            "elevation",
            "bim_file_id",
            "location_id"
           ],
           "properties": {
            "elevation": {
             "type": "number",
             "format": "float",
             "description": "Level elevation",
             "example": 10.25
            },
            "bim_file_id": {
             "type": "integer",
             "description": "ID of the BIM File linked to the Level",
             "example": 16
            },
            "location_id": {
             "type": "integer",
             "description": "ID of location linked to the Level",
             "example": 16
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "BIM Level Batch create response",
         "type": "object",
         "properties": {
          "bim_levels": {
           "type": "array",
           "items": {
            "oneOf": [
             {
              "allOf": [
               {
                "type": "object",
                "description": "BIM Model Level",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 144
                 },
                 "elevation": {
                  "type": "number",
                  "format": "float",
                  "description": "Level elevation",
                  "example": 10.25
                 },
                 "name": {
                  "type": "string",
                  "description": "Level name",
                  "example": "1space>1 space"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created date",
                  "example": "2019-01-04T06:13:10Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated date",
                  "example": "2019-01-06T11:26:08Z"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "bim_file_id": {
                  "type": "integer",
                  "description": "ID of the BIM Model revision linked to the Level",
                  "example": 16
                 },
                 "location_id": {
                  "type": "integer",
                  "nullable": true,
                  "description": "ID of location linked to the Level",
                  "example": 16
                 },
                 "created_by_id": {
                  "type": "integer",
                  "description": "ID of user that created the level",
                  "example": 16
                 }
                }
               }
              ]
             },
             {
              "allOf": [
               {
                "type": "object",
                "description": "BIM Model Level",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 144
                 },
                 "elevation": {
                  "type": "number",
                  "format": "float",
                  "description": "Level elevation",
                  "example": 10.25
                 },
                 "name": {
                  "type": "string",
                  "description": "Level name",
                  "example": "1space>1 space"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created date",
                  "example": "2019-01-04T06:13:10Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated date",
                  "example": "2019-01-06T11:26:08Z"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "bim_file": {
                  "type": "object",
                  "description": "BIM File",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 101
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the file to be associated to a project",
                    "example": "101_BLDG_FLR_2.NWF"
                   },
                   "uuid": {
                    "type": "string",
                    "description": "Unique UUID associated with the file",
                    "example": "a00147dd-a698-468a-b082-d277a564cf0c"
                   }
                  }
                 },
                 "location": {
                  "type": "object",
                  "title": "Location",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Location ID",
                    "example": 15504
                   },
                   "name": {
                    "type": "string",
                    "description": "Location name",
                    "example": "North Building>First Floor>Electrical Closet"
                   },
                   "node_name": {
                    "type": "string",
                    "description": "Location node name",
                    "example": "Electrical Closet"
                   },
                   "parent_id": {
                    "type": "integer",
                    "description": "Location parent id",
                    "example": 788866,
                    "nullable": true
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp of Location creation",
                    "example": "2016-08-01T23:33:54Z"
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp of last update to Location",
                    "example": "2016-08-01T23:33:54Z"
                   },
                   "code": {
                    "type": "string",
                    "description": "The unique code for this Location",
                    "example": "L1",
                    "nullable": true
                   }
                  }
                 },
                 "created_by": {
                  "type": "object",
                  "description": "Login Information",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Login Information ID uniquely identifying this user.",
                    "example": 1738090
                   },
                   "name": {
                    "type": "string",
                    "description": "User's display name, formatted first name then last name.",
                    "example": "John Doe"
                   },
                   "login": {
                    "type": "string",
                    "description": "User's login email address.",
                    "example": "johndoe@example.com"
                   },
                   "company_name": {
                    "type": "string",
                    "nullable": true,
                    "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                    "example": "Builders Inc."
                   },
                   "locale": {
                    "type": "string",
                    "nullable": true,
                    "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                    "example": "ko"
                   }
                  }
                 }
                }
               }
              ]
             }
            ]
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "type": "object",
              "description": "BIM Level",
              "required": [
               "elevation",
               "bim_file_id",
               "location_id"
              ],
              "properties": {
               "elevation": {
                "type": "number",
                "format": "float",
                "description": "Level elevation",
                "example": 10.25
               },
               "bim_file_id": {
                "type": "integer",
                "description": "ID of the BIM File linked to the Level",
                "example": 16
               },
               "location_id": {
                "type": "integer",
                "description": "ID of location linked to the Level",
                "example": 16
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/bim_levels/batch',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 126,\n    view: 'compact',\n    bim_levels: [{elevation: 10.25, bim_file_id: 16, location_id: 16}]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_levels\\\":[{\\\"elevation\\\":10.25,\\\"bim_file_id\\\":16,\\\"location_id\\\":16}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/bim_levels/batch\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/bim_levels/batch \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":126,\"view\":\"compact\",\"bim_levels\":[{\"elevation\":10.25,\"bim_file_id\":16,\"location_id\":16}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_levels/batch\"),\n    Content = new StringContent(\"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_levels\\\":[{\\\"elevation\\\":10.25,\\\"bim_file_id\\\":16,\\\"location_id\\\":16}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}