{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Geometry File Bundles",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Geometry File Bundles",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_geometry_file_bundles": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-deprecated-at": "2024-11-04",
    "x-sunset": "2025-11-30",
    "deprecated": true,
    "summary": "Create BIM Geometry File Bundle",
    "description": "Create a BIM Geometry File Bundle in a Project",
    "tags": [
     "BIM Geometry Files"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_geometry_file_bundle"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 326
         },
         "view": {
          "type": "string",
          "description": "Specify response schema view",
          "enum": [
           "compact",
           "normal",
           "extended"
          ]
         },
         "bim_geometry_file_bundle": {
          "type": "object",
          "description": "BIM Geometry File",
          "required": [
           "bim_model_revision_id",
           "cell_upload_uuid",
           "node_upload_uuid",
           "mesh_node_upload_uuid",
           "mesh_upload_uuid"
          ],
          "properties": {
           "bim_model_revision_id": {
            "type": "integer",
            "description": "ID of the model revision to be associated",
            "example": 1984
           },
           "cell_upload_uuid": {
            "type": "string",
            "description": "UUID of uploaded cell geometry file",
            "example": "1ZE258W9K804SAJJZX19JVAB3P"
           },
           "node_upload_uuid": {
            "type": "string",
            "description": "UUID of uploaded node geometry file",
            "example": "1ZE258W9K804SAJJZX19JVAB3Q"
           },
           "mesh_node_upload_uuid": {
            "type": "string",
            "description": "UUID of uploaded mesh node geometry file",
            "example": "1ZE258W9K804SAJJZX19JVAB3R"
           },
           "mesh_upload_uuid": {
            "type": "string",
            "description": "UUID of uploaded mesh geometry file",
            "example": "1ZE258W9K804SAJJZX19JVAB3S"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "description": "BIM Geometry File Bundle stores the details of a model geometry files",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 189
            },
            "bim_model_revision_id": {
             "type": "integer",
             "description": "ID of associated model revision",
             "example": 2264
            },
            "project_id": {
             "type": "integer",
             "description": "Unique identifier for the project.",
             "example": 101
            },
            "created_by_id": {
             "type": "integer",
             "description": "Creator ID",
             "example": 101
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2019-01-04T06:13:10Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2019-01-06T11:26:08Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "cell_file": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "filename.ext"
              },
              "content_type": {
               "type": "string",
               "description": "A mime type or a file extension",
               "example": "application/vnd.ext"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              }
             }
            },
            "node_file": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "filename.ext"
              },
              "content_type": {
               "type": "string",
               "description": "A mime type or a file extension",
               "example": "application/vnd.ext"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              }
             }
            },
            "mesh_node_file": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "filename.ext"
              },
              "content_type": {
               "type": "string",
               "description": "A mime type or a file extension",
               "example": "application/vnd.ext"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              }
             }
            },
            "mesh_file": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "filename.ext"
              },
              "content_type": {
               "type": "string",
               "description": "A mime type or a file extension",
               "example": "application/vnd.ext"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/bim_geometry_file_bundles',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 326,\n    view: 'compact',\n    bim_geometry_file_bundle: {\n      bim_model_revision_id: 1984,\n      cell_upload_uuid: '1ZE258W9K804SAJJZX19JVAB3P',\n      node_upload_uuid: '1ZE258W9K804SAJJZX19JVAB3Q',\n      mesh_node_upload_uuid: '1ZE258W9K804SAJJZX19JVAB3R',\n      mesh_upload_uuid: '1ZE258W9K804SAJJZX19JVAB3S'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":326,\\\"view\\\":\\\"compact\\\",\\\"bim_geometry_file_bundle\\\":{\\\"bim_model_revision_id\\\":1984,\\\"cell_upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3P\\\",\\\"node_upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3Q\\\",\\\"mesh_node_upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3R\\\",\\\"mesh_upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3S\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/bim_geometry_file_bundles\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/bim_geometry_file_bundles \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":326,\"view\":\"compact\",\"bim_geometry_file_bundle\":{\"bim_model_revision_id\":1984,\"cell_upload_uuid\":\"1ZE258W9K804SAJJZX19JVAB3P\",\"node_upload_uuid\":\"1ZE258W9K804SAJJZX19JVAB3Q\",\"mesh_node_upload_uuid\":\"1ZE258W9K804SAJJZX19JVAB3R\",\"mesh_upload_uuid\":\"1ZE258W9K804SAJJZX19JVAB3S\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_geometry_file_bundles\"),\n    Content = new StringContent(\"{\\\"project_id\\\":326,\\\"view\\\":\\\"compact\\\",\\\"bim_geometry_file_bundle\\\":{\\\"bim_model_revision_id\\\":1984,\\\"cell_upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3P\\\",\\\"node_upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3Q\\\",\\\"mesh_node_upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3R\\\",\\\"mesh_upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3S\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Notice of Deprecation",
      "description": "This endpoint is deprecated. The sunset date is '2025-11-30'. v1.1 of the API can be used as a replacement.",
      "endpoint": "POST /bim_geometry_file_bundles",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-11-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-geometry-file-bundles?version=1.0#create-bim-geometry-file-bundle"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/bim_geometry_file_bundles/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "BIM Geometry File Bundle ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-deprecated-at": "2024-11-04",
    "x-sunset": "2025-11-30",
    "deprecated": true,
    "summary": "Show BIM Geometry File Bundle",
    "description": "Return BIM Geometry File Bundle details.",
    "tags": [
     "BIM Models"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe extended view contains the response shown below.\nThe normal view contains ids instead of objects for each file object.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "allOf": [
            {
             "type": "object",
             "description": "BIM Geometry File Bundle stores the details of a model geometry files",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 189
              },
              "project_id": {
               "type": "integer",
               "description": "Project ID",
               "example": 101
              },
              "created_by_id": {
               "type": "integer",
               "description": "Creator ID",
               "example": 101
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2019-01-04T06:13:10Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2019-01-06T11:26:08Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "bim_model_revision_id": {
               "type": "integer",
               "description": "ID of associated model revision",
               "nullable": true,
               "example": 2264
              },
              "cell_file_id": {
               "type": "integer",
               "description": "ID of associated cell geometry file",
               "example": 2265
              },
              "node_file_id": {
               "type": "integer",
               "description": "ID of associated node geometry file",
               "example": 2266
              },
              "mesh_node_file_id": {
               "type": "integer",
               "description": "ID of associated mesh node geometry file",
               "example": 2267
              },
              "mesh_file_id": {
               "type": "integer",
               "description": "ID of associated mesh geometry file",
               "example": 2268
              },
              "manifest_file_id": {
               "type": "integer",
               "description": "ID of associated manifest file",
               "nullable": true,
               "example": 2269
              }
             }
            }
           ]
          },
          {
           "allOf": [
            {
             "type": "object",
             "description": "BIM Geometry File Bundle stores the details of a model geometry files",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 189
              },
              "bim_model_revision_id": {
               "type": "integer",
               "description": "ID of associated model revision",
               "example": 2264
              },
              "project_id": {
               "type": "integer",
               "description": "Unique identifier for the project.",
               "example": 101
              },
              "created_by_id": {
               "type": "integer",
               "description": "Creator ID",
               "example": 101
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2019-01-04T06:13:10Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2019-01-06T11:26:08Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "cell_file": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              },
              "node_file": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              },
              "mesh_node_file": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              },
              "mesh_file": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_geometry_file_bundles/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', view: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_geometry_file_bundles/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_geometry_file_bundles/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_geometry_file_bundles/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Notice of Deprecation",
      "description": "This endpoint is deprecated. The sunset date is '2025-11-30'. v1.1 of the API can be used as a replacement.",
      "endpoint": "GET /bim_geometry_file_bundles/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-11-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-geometry-file-bundles?version=1.0#show-bim-geometry-file-bundle"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}