{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM View Folders",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM View Folders",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_view_folders": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List BIM View Folders",
    "description": "Lists BIM View Folders associated with the specified Project.",
    "tags": [
     "BIM View Folders"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[bim_file_id]",
      "in": "query",
      "description": "Filter item(s) with matching BIM File ids",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[parent_id]",
      "in": "query",
      "description": "Filter item(s) with matching parent_id",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "BIM View Folders listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 109
           },
           "name": {
            "type": "string",
            "description": "Name of view folder",
            "example": "Mechanical"
           },
           "parent_id": {
            "type": "integer",
            "nullable": true,
            "description": "Id of parent BimViewFolder",
            "example": 168
           },
           "bim_file_id": {
            "type": "integer",
            "description": "Id of associated BimFile",
            "example": 196
           },
           "project_id": {
            "type": "integer",
            "description": "Project Id",
            "example": 101
           },
           "created_by_id": {
            "type": "integer",
            "description": "Id if creator",
            "example": 137
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created date",
            "example": "2018-04-19T09:36:42Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated date",
            "example": "2018-04-20T09:36:42Z"
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view BIM View Folders",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_view_folders',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[bim_file_id]': 'SOME_INTEGER_VALUE',\n    'filters[parent_id]': 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_view_folders?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Bparent_id%5D=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_view_folders?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Bparent_id%5D=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_view_folders?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Bparent_id%5D=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create BIM View Folder",
    "description": "Create BIM View Folder",
    "tags": [
     "BIM View Folders"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_view_folder"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 12345
         },
         "bim_view_folder": {
          "type": "object",
          "required": [
           "name",
           "bim_file_id"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of view folder",
            "example": "Mechanical"
           },
           "parent_id": {
            "type": "integer",
            "description": "Id of parent BimViewFolder",
            "example": 168
           },
           "bim_file_id": {
            "type": "integer",
            "description": "Id of BimFile to associate",
            "example": 196
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 109
          },
          "name": {
           "type": "string",
           "description": "Name of view folder",
           "example": "Mechanical"
          },
          "parent_id": {
           "type": "integer",
           "nullable": true,
           "description": "Id of parent BimViewFolder",
           "example": 168
          },
          "bim_file_id": {
           "type": "integer",
           "description": "Id of associated BimFile",
           "example": 196
          },
          "project_id": {
           "type": "integer",
           "description": "Project Id",
           "example": 101
          },
          "created_by_id": {
           "type": "integer",
           "description": "Id if creator",
           "example": 137
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created date",
           "example": "2018-04-19T09:36:42Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated date",
           "example": "2018-04-20T09:36:42Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/bim_view_folders',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 12345,\n    bim_view_folder: {name: 'Mechanical', parent_id: 168, bim_file_id: 196}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":12345,\\\"bim_view_folder\\\":{\\\"name\\\":\\\"Mechanical\\\",\\\"parent_id\\\":168,\\\"bim_file_id\\\":196}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/bim_view_folders\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/bim_view_folders \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":12345,\"bim_view_folder\":{\"name\":\"Mechanical\",\"parent_id\":168,\"bim_file_id\":196}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_view_folders\"),\n    Content = new StringContent(\"{\\\"project_id\\\":12345,\\\"bim_view_folder\\\":{\\\"name\\\":\\\"Mechanical\\\",\\\"parent_id\\\":168,\\\"bim_file_id\\\":196}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}