{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Plans",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Plans",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_plans": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List BIM Plans",
    "description": "Lists BIM Plans associated with the specified Project.",
    "tags": [
     "BIM Plans"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe extended view contains the response shown below.\nThe normal view does not contain the attributes 'image', 'sheet_map_start', 'sheet_map_end', 'model_map_start' and 'model_map_end'.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[bim_level_id]",
      "in": "query",
      "description": "Filter item(s) with matching BIM Level ids",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "BIM Plans listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "allOf": [
           {
            "type": "object",
            "description": "BIM Plan captures the plan view of a level and contains the plan as a drawing or an attached 2D sheet",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 144
             },
             "bim_level_id": {
              "type": "integer",
              "description": "ID of the BIM Level that the plan is associated to",
              "example": 16
             },
             "drawing_id": {
              "type": "integer",
              "description": "ID of the Drawing that the plan is associated to",
              "example": 16
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2019-01-04T06:13:10Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2019-01-06T11:26:08Z"
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "title": {
              "type": "string",
              "description": "Title of the plan. This reflects the title of the drawing associated to the plan. If plan is not associated to a drawing, the title will contain the associated location name",
              "example": "A201: Floor II Plan"
             },
             "image": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer"
               },
               "name": {
                "type": "string",
                "description": "Base name of the file without its path",
                "example": "drawing.png"
               },
               "content_type": {
                "type": "string",
                "description": "A mime type or a file extension",
                "example": "image/png"
               },
               "url": {
                "type": "string",
                "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
               },
               "height": {
                "type": "integer",
                "description": "Image height",
                "example": 1200
               },
               "width": {
                "type": "integer",
                "description": "Image width",
                "example": 1600
               }
              }
             },
             "thumbnail": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 149
               },
               "size": {
                "type": "string",
                "description": "Thumbnail size",
                "example": "small",
                "enum": [
                 "small",
                 "medium",
                 "large"
                ]
               },
               "url": {
                "type": "string",
                "description": "Thumbnail url",
                "example": "https://storage.procore.com/thumbnail-bucket/46971c37f_thumbnail_large.png?sig=e7a476ec0a46154d05e0d"
               }
              }
             },
             "sheet_map_start": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               }
              }
             },
             "sheet_map_end": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               }
              }
             },
             "model_map_start": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "number",
                "format": "double",
                "description": "z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "model_map_end": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "number",
                "format": "double",
                "description": "z-axis coordinate",
                "example": "24.96"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view BIM Plans",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_plans',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[bim_level_id]': 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_plans?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_level_id%5D=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_plans?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_level_id%5D=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_plans?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_level_id%5D=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added attributes height and width to image object",
      "description": "Added two new attributes height and width to the image object.",
      "endpoint": "GET /bim_plans",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-07-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-plans?version=1.0#list-bim-plans"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create BIM Plan",
    "description": "Create a BIM Plan in a Project",
    "tags": [
     "BIM Planss"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_plan"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 126
         },
         "view": {
          "type": "string",
          "description": "Specify response schema view",
          "enum": [
           "compact",
           "normal",
           "extended"
          ]
         },
         "bim_plan": {
          "oneOf": [
           {
            "type": "object",
            "description": "BIM Plan",
            "required": [
             "bim_level_id"
            ],
            "properties": {
             "bim_level_id": {
              "type": "integer",
              "description": "ID of the BIM Level to be associated to the plan",
              "example": 16
             },
             "drawing_id": {
              "type": "integer",
              "description": "ID of the Drawing to be associated to the plan",
              "example": 16
             },
             "upload_uuid": {
              "type": "string",
              "description": "UUID of uploaded 2D sheet image. One of drawing_id or upload_uid is required",
              "example": "1ZE258W9K804SAJJZX19JVAB3R"
             },
             "sheet_map_start": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               }
              }
             },
             "sheet_map_end": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               }
              }
             },
             "model_map_start": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               },
               "z": {
                "type": "number",
                "format": "float",
                "description": "z-axis coordinate",
                "example": 24.96
               }
              }
             },
             "model_map_end": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               },
               "z": {
                "type": "number",
                "format": "float",
                "description": "z-axis coordinate",
                "example": 24.96
               }
              }
             }
            }
           },
           {
            "type": "object",
            "description": "BIM Plan",
            "required": [
             "bim_level_id"
            ],
            "properties": {
             "bim_level_id": {
              "type": "integer",
              "description": "ID of the BIM Level to be associated to the plan",
              "example": 16
             },
             "drawing_id": {
              "type": "integer",
              "description": "ID of the Drawing to be associated to the plan",
              "example": 16
             },
             "upload_uuid": {
              "type": "string",
              "description": "UUID of uploaded 2D sheet image. One of drawing_id or upload_uid is required",
              "example": "1ZE258W9K804SAJJZX19JVAB3R"
             },
             "sheet_map_start": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               }
              }
             },
             "sheet_map_end": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               }
              }
             },
             "model_map_start": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "number",
                "format": "double",
                "description": "z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "model_map_end": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "number",
                "format": "double",
                "description": "z-axis coordinate",
                "example": "24.96"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "description": "BIM Plan captures the plan view of a level and contains the plan as a drawing or an attached 2D sheet",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 144
            },
            "bim_level_id": {
             "type": "integer",
             "description": "ID of the BIM Level that the plan is associated to",
             "example": 16
            },
            "drawing_id": {
             "type": "integer",
             "description": "ID of the Drawing that the plan is associated to",
             "example": 16
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2019-01-04T06:13:10Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2019-01-06T11:26:08Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "Title of the plan. This reflects the title of the drawing associated to the plan. If plan is not associated to a drawing, the title will contain the associated location name",
             "example": "A201: Floor II Plan"
            },
            "image": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "drawing.png"
              },
              "content_type": {
               "type": "string",
               "description": "A mime type or a file extension",
               "example": "image/png"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              },
              "height": {
               "type": "integer",
               "description": "Image height",
               "example": 1200
              },
              "width": {
               "type": "integer",
               "description": "Image width",
               "example": 1600
              }
             }
            },
            "thumbnail": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 149
              },
              "size": {
               "type": "string",
               "description": "Thumbnail size",
               "example": "small",
               "enum": [
                "small",
                "medium",
                "large"
               ]
              },
              "url": {
               "type": "string",
               "description": "Thumbnail url",
               "example": "https://storage.procore.com/thumbnail-bucket/46971c37f_thumbnail_large.png?sig=e7a476ec0a46154d05e0d"
              }
             }
            },
            "sheet_map_start": {
             "type": "object",
             "description": "2D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              }
             }
            },
            "sheet_map_end": {
             "type": "object",
             "description": "2D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              }
             }
            },
            "model_map_start": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              },
              "z": {
               "type": "number",
               "format": "double",
               "description": "z-axis coordinate",
               "example": "24.96"
              }
             }
            },
            "model_map_end": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              },
              "z": {
               "type": "number",
               "format": "double",
               "description": "z-axis coordinate",
               "example": "24.96"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/bim_plans',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 126,\n    view: 'compact',\n    bim_plan: {\n      bim_level_id: 16,\n      drawing_id: 16,\n      upload_uuid: '1ZE258W9K804SAJJZX19JVAB3R',\n      sheet_map_start: {x: 6.24, y: 12.48},\n      sheet_map_end: {x: 6.24, y: 12.48},\n      model_map_start: {x: 6.24, y: 12.48, z: 24.96},\n      model_map_end: {x: 6.24, y: 12.48, z: 24.96}\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_plan\\\":{\\\"bim_level_id\\\":16,\\\"drawing_id\\\":16,\\\"upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3R\\\",\\\"sheet_map_start\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48},\\\"sheet_map_end\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48},\\\"model_map_start\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48,\\\"z\\\":24.96},\\\"model_map_end\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48,\\\"z\\\":24.96}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/bim_plans\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/bim_plans \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":126,\"view\":\"compact\",\"bim_plan\":{\"bim_level_id\":16,\"drawing_id\":16,\"upload_uuid\":\"1ZE258W9K804SAJJZX19JVAB3R\",\"sheet_map_start\":{\"x\":6.24,\"y\":12.48},\"sheet_map_end\":{\"x\":6.24,\"y\":12.48},\"model_map_start\":{\"x\":6.24,\"y\":12.48,\"z\":24.96},\"model_map_end\":{\"x\":6.24,\"y\":12.48,\"z\":24.96}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_plans\"),\n    Content = new StringContent(\"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_plan\\\":{\\\"bim_level_id\\\":16,\\\"drawing_id\\\":16,\\\"upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3R\\\",\\\"sheet_map_start\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48},\\\"sheet_map_end\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48},\\\"model_map_start\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48,\\\"z\\\":24.96},\\\"model_map_end\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48,\\\"z\\\":24.96}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/bim_plans/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "BIM Plan ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show BIM Plan",
    "description": "Return a single BIM Plan item.",
    "tags": [
     "BIM Plans"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe extended view contains the response shown below.\nThe normal view does not contain the attributes 'image', 'sheet_map_start', 'sheet_map_end', 'model_map_start' and 'model_map_end'.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "description": "BIM Plan captures the plan view of a level and contains the plan as a drawing or an attached 2D sheet",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 144
            },
            "bim_level_id": {
             "type": "integer",
             "description": "ID of the BIM Level that the plan is associated to",
             "example": 16
            },
            "drawing_id": {
             "type": "integer",
             "description": "ID of the Drawing that the plan is associated to",
             "example": 16
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2019-01-04T06:13:10Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2019-01-06T11:26:08Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "Title of the plan. This reflects the title of the drawing associated to the plan. If plan is not associated to a drawing, the title will contain the associated location name",
             "example": "A201: Floor II Plan"
            },
            "image": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "drawing.png"
              },
              "content_type": {
               "type": "string",
               "description": "A mime type or a file extension",
               "example": "image/png"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              },
              "height": {
               "type": "integer",
               "description": "Image height",
               "example": 1200
              },
              "width": {
               "type": "integer",
               "description": "Image width",
               "example": 1600
              }
             }
            },
            "thumbnail": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 149
              },
              "size": {
               "type": "string",
               "description": "Thumbnail size",
               "example": "small",
               "enum": [
                "small",
                "medium",
                "large"
               ]
              },
              "url": {
               "type": "string",
               "description": "Thumbnail url",
               "example": "https://storage.procore.com/thumbnail-bucket/46971c37f_thumbnail_large.png?sig=e7a476ec0a46154d05e0d"
              }
             }
            },
            "sheet_map_start": {
             "type": "object",
             "description": "2D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              }
             }
            },
            "sheet_map_end": {
             "type": "object",
             "description": "2D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              }
             }
            },
            "model_map_start": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              },
              "z": {
               "type": "number",
               "format": "double",
               "description": "z-axis coordinate",
               "example": "24.96"
              }
             }
            },
            "model_map_end": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              },
              "z": {
               "type": "number",
               "format": "double",
               "description": "z-axis coordinate",
               "example": "24.96"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_plans/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', view: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_plans/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_plans/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_plans/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added attributes height and width to image object",
      "description": "Added two new attributes height and width to the image object.",
      "endpoint": "GET /bim_plans/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-07-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-plans?version=1.0#show-bim-plan"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update BIM Plan",
    "description": "Update a single BIM Plan item.",
    "tags": [
     "BIM Plans"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_plan"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 126
         },
         "view": {
          "type": "string",
          "description": "Specify response schema view",
          "enum": [
           "compact",
           "normal",
           "extended"
          ]
         },
         "bim_plan": {
          "oneOf": [
           {
            "type": "object",
            "description": "BIM Plan",
            "required": [
             "bim_level_id"
            ],
            "properties": {
             "bim_level_id": {
              "type": "integer",
              "description": "ID of the BIM Level to be associated to the plan",
              "example": 16
             },
             "sheet_map_start": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               }
              }
             },
             "sheet_map_end": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               }
              }
             },
             "model_map_start": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               },
               "z": {
                "type": "number",
                "format": "float",
                "description": "z-axis coordinate",
                "example": 24.96
               }
              }
             },
             "model_map_end": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "float",
                "description": "x-axis coordinate",
                "example": 6.24
               },
               "y": {
                "type": "number",
                "format": "float",
                "description": "y-axis coordinate",
                "example": 12.48
               },
               "z": {
                "type": "number",
                "format": "float",
                "description": "z-axis coordinate",
                "example": 24.96
               }
              }
             }
            }
           },
           {
            "type": "object",
            "description": "BIM Plan",
            "required": [
             "bim_level_id"
            ],
            "properties": {
             "bim_level_id": {
              "type": "integer",
              "description": "ID of the BIM Level to be associated to the plan",
              "example": 16
             },
             "sheet_map_start": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               }
              }
             },
             "sheet_map_end": {
              "type": "object",
              "description": "2D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               }
              }
             },
             "model_map_start": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "number",
                "format": "double",
                "description": "z-axis coordinate",
                "example": "24.96"
               }
              }
             },
             "model_map_end": {
              "type": "object",
              "description": "3D Coordinate Point",
              "properties": {
               "x": {
                "type": "number",
                "format": "double",
                "description": "x-axis coordinate",
                "example": "6.24"
               },
               "y": {
                "type": "number",
                "format": "double",
                "description": "y-axis coordinate",
                "example": "12.48"
               },
               "z": {
                "type": "number",
                "format": "double",
                "description": "z-axis coordinate",
                "example": "24.96"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "description": "BIM Plan captures the plan view of a level and contains the plan as a drawing or an attached 2D sheet",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 144
            },
            "bim_level_id": {
             "type": "integer",
             "description": "ID of the BIM Level that the plan is associated to",
             "example": 16
            },
            "drawing_id": {
             "type": "integer",
             "description": "ID of the Drawing that the plan is associated to",
             "example": 16
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2019-01-04T06:13:10Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2019-01-06T11:26:08Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "Title of the plan. This reflects the title of the drawing associated to the plan. If plan is not associated to a drawing, the title will contain the associated location name",
             "example": "A201: Floor II Plan"
            },
            "image": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "drawing.png"
              },
              "content_type": {
               "type": "string",
               "description": "A mime type or a file extension",
               "example": "image/png"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              },
              "height": {
               "type": "integer",
               "description": "Image height",
               "example": 1200
              },
              "width": {
               "type": "integer",
               "description": "Image width",
               "example": 1600
              }
             }
            },
            "thumbnail": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 149
              },
              "size": {
               "type": "string",
               "description": "Thumbnail size",
               "example": "small",
               "enum": [
                "small",
                "medium",
                "large"
               ]
              },
              "url": {
               "type": "string",
               "description": "Thumbnail url",
               "example": "https://storage.procore.com/thumbnail-bucket/46971c37f_thumbnail_large.png?sig=e7a476ec0a46154d05e0d"
              }
             }
            },
            "sheet_map_start": {
             "type": "object",
             "description": "2D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              }
             }
            },
            "sheet_map_end": {
             "type": "object",
             "description": "2D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              }
             }
            },
            "model_map_start": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              },
              "z": {
               "type": "number",
               "format": "double",
               "description": "z-axis coordinate",
               "example": "24.96"
              }
             }
            },
            "model_map_end": {
             "type": "object",
             "description": "3D Coordinate Point",
             "properties": {
              "x": {
               "type": "number",
               "format": "double",
               "description": "x-axis coordinate",
               "example": "6.24"
              },
              "y": {
               "type": "number",
               "format": "double",
               "description": "y-axis coordinate",
               "example": "12.48"
              },
              "z": {
               "type": "number",
               "format": "double",
               "description": "z-axis coordinate",
               "example": "24.96"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/bim_plans/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 126,\n    view: 'compact',\n    bim_plan: {\n      bim_level_id: 16,\n      sheet_map_start: {x: 6.24, y: 12.48},\n      sheet_map_end: {x: 6.24, y: 12.48},\n      model_map_start: {x: 6.24, y: 12.48, z: 24.96},\n      model_map_end: {x: 6.24, y: 12.48, z: 24.96}\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_plan\\\":{\\\"bim_level_id\\\":16,\\\"sheet_map_start\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48},\\\"sheet_map_end\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48},\\\"model_map_start\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48,\\\"z\\\":24.96},\\\"model_map_end\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48,\\\"z\\\":24.96}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/bim_plans/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/bim_plans/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":126,\"view\":\"compact\",\"bim_plan\":{\"bim_level_id\":16,\"sheet_map_start\":{\"x\":6.24,\"y\":12.48},\"sheet_map_end\":{\"x\":6.24,\"y\":12.48},\"model_map_start\":{\"x\":6.24,\"y\":12.48,\"z\":24.96},\"model_map_end\":{\"x\":6.24,\"y\":12.48,\"z\":24.96}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_plans/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_plan\\\":{\\\"bim_level_id\\\":16,\\\"sheet_map_start\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48},\\\"sheet_map_end\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48},\\\"model_map_start\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48,\\\"z\\\":24.96},\\\"model_map_end\\\":{\\\"x\\\":6.24,\\\"y\\\":12.48,\\\"z\\\":24.96}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete BIM Plan",
    "description": "Delete a BIM Plan from the system.",
    "tags": [
     "BIM Plans"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/bim_plans/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/bim_plans/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/bim_plans/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_plans/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}