{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM File Extractions",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM File Extractions",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_file_extractions": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List BIM File Extractions",
    "description": "Return a list of all BIM File Extractions\nA BIM File Extraction can fail for several reasons. When it does, the errors attribute contains a list of errors encountered while processing the model. The following table lists the possible error codes and types.\n\n#### Error Types\n\n| Code | Type                   |\n|------|------------------------|\n| 1    | Undefined              |\n| 2    | NetworkErr             |\n| 3    | ServerErr              |\n| 4    | JsonParseErr           |\n| 5    | TokenExpiredErr        |\n| 6    | FileOpenErr            |\n| 7    | FileWriteErr           |\n| 8    | FileCompressionErr     |\n| 9    | FileUploadError        |\n| 10   | ModelReadErr           |\n| 11   | ModelFileSizeErr       |\n| 12   | ModelExportErr         |\n| 13   | ModelEmptyDBErr        |\n| 14   | ModelViewpointErr      |\n| 15   | ModelErr               |\n| 16   | InvalidStatusError     |\n| 17   | FileDecompressionErr   |\n| 18   | UnsupportedFileFormat  |\n| 19   | No3DGeometry           |\n| 20   | InvalidInputError      |\n| 21   | UnsupportedFileSource  |\n| 22   | MeshNodeLimitError     |\n| 23   | RateLimitExhausted     |\n| 24   | ODAGenericError        |\n| 25   | FileUploadFasError     |\n",
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Filter item(s) with matching status",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[extraction_format]",
      "in": "query",
      "description": "Filter item(s) with matching extraction format",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "MobileFormat",
         "WebFormat",
         "Properties",
         "ObjectSearch"
        ],
        "example": "WebFormat"
       }
      }
     },
     {
      "name": "filters[bim_file_id]",
      "in": "query",
      "description": "Return item(s) with the specified bim_file_id in bim_file_upload",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[bim_file_upload_id]",
      "in": "query",
      "description": "Return item(s) with the specified bim_file_upload_id",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[file_version_id]",
      "in": "query",
      "description": "Return item(s) with the specified file_version_id in bim_file_upload",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[document_upload_id]",
      "in": "query",
      "description": "Return item(s) with the specified document_upload_id in bim_file_upload",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[document_revision_id]",
      "in": "query",
      "description": "Return item(s) with the specified document_revision_id in bim_file_upload",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of BIM File Extractions",
         "items": {
          "type": "object",
          "title": "BIM File Extraction",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 206
           },
           "parent_bim_file_extraction_id": {
            "type": "integer",
            "description": "ID of the parent BIM File Extraction",
            "example": 138
           },
           "bim_file_upload_id": {
            "type": "integer",
            "description": "ID of the uploaded BIM File",
            "example": 198
           },
           "bim_file_upload": {
            "type": "object",
            "title": "BIM File upload",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 198
             },
             "bim_file_id": {
              "type": "integer",
              "description": "ID of the associated BIM File",
              "nullable": true,
              "example": 51
             },
             "document_upload_id": {
              "type": "integer",
              "description": "ID of the associated Document Upload",
              "nullable": true,
              "example": "01AABBCCDDEEFFGGHHIIJJKKL"
             },
             "file_version": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID of the associated Document"
               },
               "file_id": {
                "type": "integer",
                "description": "ID of the associated Folder File"
               }
              }
             },
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer"
               },
               "content_type": {
                "type": "string"
               },
               "name": {
                "type": "string"
               },
               "url": {
                "type": "string"
               },
               "size": {
                "type": "number"
               }
              }
             },
             "created_by": {
              "allOf": [
               {
                "type": "object",
                "description": "Login Information",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Login Information ID",
                  "example": 1738090
                 },
                 "company_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "User Company name",
                  "example": "Builders Inc."
                 },
                 "name": {
                  "type": "string",
                  "description": "User name",
                  "example": "John Doe"
                 },
                 "locale": {
                  "type": "string",
                  "nullable": true,
                  "description": "User dictionary",
                  "example": "ko"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "User email",
                  "example": "johndoe@example.com"
                 }
                }
               }
              ]
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2020-07-26T11:15:00Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2020-07-26T11:15:00Z"
             },
             "metadata": {
              "type": "object",
              "description": "Meta data",
              "nullable": true,
              "properties": {
               "linked_files": {
                "type": "array",
                "description": "Array of linked files",
                "items": {
                 "type": "object",
                 "description": "Linked file",
                 "properties": {
                  "name": {
                   "type": "string",
                   "description": "Name of linked file",
                   "example": "abc.ext"
                  },
                  "saved_path": {
                   "type": "string",
                   "description": "Path of linked file",
                   "example": "24-RD_03-ATL-PUB-R21_NoGeometry.rvt"
                  },
                  "path_type": {
                   "type": "string",
                   "description": "Type of path",
                   "example": "relative"
                  }
                 }
                }
               },
               "drawing_sheets": {
                "type": "array",
                "description": "Array of drawing sheets",
                "items": {
                 "type": "object",
                 "description": "Drawing sheet",
                 "properties": {
                  "name": {
                   "type": "string",
                   "description": "Name of drawing sheet",
                   "example": "ABC_LEVEL_1"
                  }
                 }
                }
               },
               "file_type": {
                "type": "string",
                "enum": [
                 "2d",
                 "3d"
                ],
                "description": "File Type (either 2d or 3d)",
                "example": "3d"
               }
              }
             }
            }
           },
           "bim_model_revision_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the BIM Model Revision",
            "example": 116
           },
           "status": {
            "type": "string",
            "description": "Extraction Status",
            "example": "ready"
           },
           "progress": {
            "type": "number",
            "description": "Progress of overall extraction taking into account the individual extraction items",
            "example": 46.5
           },
           "retry_count": {
            "type": "integer",
            "description": "No. of retries performed on the extraction",
            "example": 2
           },
           "viewpoint_id": {
            "type": "integer",
            "description": "ID of the BIM Viewpoint",
            "example": 781
           },
           "extraction_format_requests": {
            "type": "array",
            "description": "Array of items indicating formats of items requested to be extracted",
            "items": {
             "type": "object",
             "title": "BIM File Extraction Item Type",
             "properties": {
              "type": {
               "type": "string",
               "description": "Extraction type",
               "example": "MobileFormat"
              }
             }
            }
           },
           "extraction_items": {
            "type": "array",
            "description": "An array of items extracted from a 3d model",
            "items": {
             "type": "object",
             "title": "BIM File Extraction Item",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 226
              },
              "bim_file_extraction_id": {
               "type": "integer",
               "description": "BIM File extraction ID",
               "example": 206
              },
              "item_type": {
               "type": "string",
               "description": "Extraction type",
               "example": "MobileFormat",
               "enum": [
                "Grid",
                "MobileFormat",
                "Properties",
                "WebFormat",
                "ObjectSearch",
                "ViewpointCollection"
               ]
              },
              "progress": {
               "type": "number",
               "description": "Extraction progress",
               "example": 15.6
              },
              "artifact": {
               "type": "object",
               "description": "Artifact extracted from a 3d model. Only one of grid, mobile_format, properties, web_format, ifc, object_search, and viewpoint_collection will have data associated to the artifact extracted",
               "properties": {
                "grid": {
                 "type": "object",
                 "properties": {
                  "filename": {
                   "type": "string"
                  },
                  "coordinate_system": {
                   "type": "string"
                  },
                  "gridline_file": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string"
                    },
                    "url": {
                     "type": "string"
                    }
                   }
                  }
                 }
                },
                "mobile_format": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer"
                  },
                  "name": {
                   "type": "string"
                  },
                  "url": {
                   "type": "string"
                  }
                 }
                },
                "properties": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer"
                  },
                  "name": {
                   "type": "string"
                  },
                  "url": {
                   "type": "string"
                  }
                 }
                },
                "web_format": {
                 "type": "object",
                 "properties": {
                  "cell_file": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "nullable": true,
                     "description": "A mime type or a file extension",
                     "example": "application/vnd.ext"
                    },
                    "size": {
                     "type": "integer",
                     "description": "File size in bytes",
                     "example": 3124532
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  },
                  "node_file": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "nullable": true,
                     "description": "A mime type or a file extension",
                     "example": "application/vnd.ext"
                    },
                    "size": {
                     "type": "integer",
                     "description": "File size in bytes",
                     "example": 3124532
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  },
                  "mesh_node_file": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "nullable": true,
                     "description": "A mime type or a file extension",
                     "example": "application/vnd.ext"
                    },
                    "size": {
                     "type": "integer",
                     "description": "File size in bytes",
                     "example": 3124532
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  },
                  "mesh_file": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "nullable": true,
                     "description": "A mime type or a file extension",
                     "example": "application/vnd.ext"
                    },
                    "size": {
                     "type": "integer",
                     "description": "File size in bytes",
                     "example": 3124532
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  },
                  "manifest_file": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "nullable": true,
                     "description": "A mime type or a file extension",
                     "example": "application/vnd.ext"
                    },
                    "size": {
                     "type": "integer",
                     "description": "File size in bytes",
                     "example": 3124532
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  }
                 }
                },
                "ifc": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer"
                  },
                  "name": {
                   "type": "string"
                  },
                  "url": {
                   "type": "string"
                  }
                 }
                },
                "object_search": {
                 "type": "object",
                 "properties": {
                  "ids": {
                   "type": "array",
                   "items": {
                    "type": "integer"
                   }
                  }
                 }
                },
                "viewpoint_collection": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer"
                  },
                  "name": {
                   "type": "string"
                  },
                  "url": {
                   "type": "string"
                  }
                 }
                }
               }
              },
              "error": {
               "type": "object",
               "description": "An error that can occur during model processing.",
               "properties": {
                "code": {
                 "type": "integer",
                 "description": "Error code",
                 "example": 68
                },
                "type": {
                 "type": "string",
                 "description": "Error type",
                 "example": "UnsupportedFileFormat"
                },
                "message": {
                 "type": "string",
                 "description": "Human readable error message",
                 "example": "Bad Input File"
                }
               }
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2020-07-26T15:15:00Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2020-07-26T15:15:00Z"
              }
             }
            }
           },
           "errors": {
            "type": "array",
            "description": "An array of errors encountered during extraction",
            "items": {
             "type": "object",
             "description": "An error that can occur during model processing.",
             "properties": {
              "code": {
               "type": "integer",
               "description": "Error code",
               "example": 68
              },
              "type": {
               "type": "string",
               "description": "Error type",
               "example": "UnsupportedFileFormat"
              },
              "message": {
               "type": "string",
               "description": "Human readable error message",
               "example": "Bad Input File"
              }
             }
            }
           },
           "created_by": {
            "allOf": [
             {
              "type": "object",
              "description": "Login Information",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "John Doe"
               },
               "locale": {
                "type": "string",
                "nullable": true,
                "description": "User dictionary",
                "example": "ko"
               },
               "company_name": {
                "type": "string",
                "nullable": true,
                "description": "User Company name",
                "example": "Builders Inc."
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "login": {
                "type": "string",
                "description": "User email",
                "example": "johndoe@example.com"
               }
              }
             }
            ],
            "type": "object",
            "properties": {
             "company_name": {
              "type": "string",
              "description": "User Company name",
              "example": "Builders Inc."
             }
            }
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created date",
            "example": "2020-07-26T13:15:00Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated date",
            "example": "2020-07-26T13:15:00Z"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_file_extractions',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[extraction_format]': 'SOME_ARRAY_VALUE',\n    'filters[bim_file_id]': 'SOME_ARRAY_VALUE',\n    'filters[bim_file_upload_id]': 'SOME_ARRAY_VALUE',\n    'filters[file_version_id]': 'SOME_ARRAY_VALUE',\n    'filters[document_upload_id]': 'SOME_ARRAY_VALUE',\n    'filters[document_revision_id]': 'SOME_ARRAY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_file_extractions?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bextraction_format%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_upload_id%5D=SOME_ARRAY_VALUE&filters%5Bfile_version_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_upload_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_revision_id%5D=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_file_extractions?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bextraction_format%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_upload_id%5D=SOME_ARRAY_VALUE&filters%5Bfile_version_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_upload_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_revision_id%5D=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_file_extractions?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bextraction_format%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_upload_id%5D=SOME_ARRAY_VALUE&filters%5Bfile_version_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_upload_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_revision_id%5D=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bim_file_upload to API response",
      "description": "A bim_file_upload object contains details of the associated BimFileUpload",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-01-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     },
     {
      "summary": "Added extraction_format_requests to API response",
      "description": "The extraction_format_requests is an array that contains the details of extraction formats requested",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-01-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     },
     {
      "summary": "Added file_version_id filter",
      "description": "Added a filter that allows BIM File Extractions to be filtered by file_version_id of a document associated to the extraction. The file_version_id can be matched on the bim_file_upload attribute",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-01-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     },
     {
      "summary": "Added document_upload_id filter",
      "description": "Added a filter that allows BIM File Extractions to be filtered by document_upload_id of a document associated to the extraction. The document_upload_id can be matched on the bim_file_upload attribute",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-11-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     },
     {
      "summary": "Added a new attribute manifest_file to API response",
      "description": "An item in the extraction_items array of item_type 'Properties' includes manifest_file attribute. Each file attribute contains a new size attribute",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-03-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     },
     {
      "summary": "Added extraction_format filter query parameter",
      "description": "Added a filter query parameter that allows BIM File Extractions to be filtered by the type of extraction performed by the resource.",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-08-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     },
     {
      "summary": "Added viewpoint_id to response body",
      "description": "Added viewpoint_id to response body. viewpoint_id is the reference for BimViewpoint (resource for viewpoint)",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-11-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     },
     {
      "summary": "Removed conditioning_parameters which contain bounding_box from the response body",
      "description": "Removed conditioning_parameters to extend current BIM Viewpoint resource in order to support object selection, coloring and visibility settings",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-11-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     },
     {
      "summary": "Added bim_file_upload_id and bim_file_id filter parameters",
      "description": "Added filters that allows BIM File Extractions to be filtered by bim_file_upload_id and bim_file_id of a BIM File Upload associated to the extraction",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     },
     {
      "summary": "Added document_revision_id filter",
      "description": "Added a filter that allows BIM File Extractions to be filtered by document_revision_id of a document associated to the extraction. The document_revision_id is matched on the bim_file_upload attribute",
      "endpoint": "GET /bim_file_extractions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-file-extractions?version=1.0#list-bim-file-extractions"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/bim_file_extractions/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show BIM File Extraction",
    "description": "Return a single BIM File Extraction",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "BIM File Extraction",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 206
          },
          "parent_bim_file_extraction_id": {
           "type": "integer",
           "description": "ID of the parent BIM File Extraction",
           "example": 138
          },
          "bim_file_upload_id": {
           "type": "integer",
           "description": "ID of the uploaded BIM File",
           "example": 198
          },
          "bim_file_upload": {
           "type": "object",
           "title": "BIM File upload",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 198
            },
            "bim_file_id": {
             "type": "integer",
             "description": "ID of the associated BIM File",
             "nullable": true,
             "example": 51
            },
            "document_upload_id": {
             "type": "integer",
             "description": "ID of the associated Document Upload",
             "nullable": true,
             "example": "01AABBCCDDEEFFGGHHIIJJKKL"
            },
            "file_version": {
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID of the associated Document"
              },
              "file_id": {
               "type": "integer",
               "description": "ID of the associated Folder File"
              }
             }
            },
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "content_type": {
               "type": "string"
              },
              "name": {
               "type": "string"
              },
              "url": {
               "type": "string"
              },
              "size": {
               "type": "number"
              }
             }
            },
            "created_by": {
             "allOf": [
              {
               "type": "object",
               "description": "Login Information",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID",
                 "example": 1738090
                },
                "company_name": {
                 "type": "string",
                 "nullable": true,
                 "description": "User Company name",
                 "example": "Builders Inc."
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "John Doe"
                },
                "locale": {
                 "type": "string",
                 "nullable": true,
                 "description": "User dictionary",
                 "example": "ko"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "User email",
                 "example": "johndoe@example.com"
                }
               }
              }
             ]
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2020-07-26T11:15:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2020-07-26T11:15:00Z"
            },
            "metadata": {
             "type": "object",
             "description": "Meta data",
             "nullable": true,
             "properties": {
              "linked_files": {
               "type": "array",
               "description": "Array of linked files",
               "items": {
                "type": "object",
                "description": "Linked file",
                "properties": {
                 "name": {
                  "type": "string",
                  "description": "Name of linked file",
                  "example": "abc.ext"
                 },
                 "saved_path": {
                  "type": "string",
                  "description": "Path of linked file",
                  "example": "24-RD_03-ATL-PUB-R21_NoGeometry.rvt"
                 },
                 "path_type": {
                  "type": "string",
                  "description": "Type of path",
                  "example": "relative"
                 }
                }
               }
              },
              "drawing_sheets": {
               "type": "array",
               "description": "Array of drawing sheets",
               "items": {
                "type": "object",
                "description": "Drawing sheet",
                "properties": {
                 "name": {
                  "type": "string",
                  "description": "Name of drawing sheet",
                  "example": "ABC_LEVEL_1"
                 }
                }
               }
              },
              "file_type": {
               "type": "string",
               "enum": [
                "2d",
                "3d"
               ],
               "description": "File Type (either 2d or 3d)",
               "example": "3d"
              }
             }
            }
           }
          },
          "bim_model_revision_id": {
           "type": "integer",
           "nullable": true,
           "description": "ID of the BIM Model Revision",
           "example": 116
          },
          "status": {
           "type": "string",
           "description": "Extraction Status",
           "example": "ready"
          },
          "progress": {
           "type": "number",
           "description": "Progress of overall extraction taking into account the individual extraction items",
           "example": 46.5
          },
          "retry_count": {
           "type": "integer",
           "description": "No. of retries performed on the extraction",
           "example": 2
          },
          "viewpoint_id": {
           "type": "integer",
           "description": "ID of the BIM Viewpoint",
           "example": 781
          },
          "extraction_format_requests": {
           "type": "array",
           "description": "Array of items indicating formats of items requested to be extracted",
           "items": {
            "type": "object",
            "title": "BIM File Extraction Item Type",
            "properties": {
             "type": {
              "type": "string",
              "description": "Extraction type",
              "example": "MobileFormat"
             }
            }
           }
          },
          "extraction_items": {
           "type": "array",
           "description": "An array of items extracted from a 3d model",
           "items": {
            "type": "object",
            "title": "BIM File Extraction Item",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 226
             },
             "bim_file_extraction_id": {
              "type": "integer",
              "description": "BIM File extraction ID",
              "example": 206
             },
             "item_type": {
              "type": "string",
              "description": "Extraction type",
              "example": "MobileFormat",
              "enum": [
               "Grid",
               "MobileFormat",
               "Properties",
               "WebFormat",
               "ObjectSearch",
               "ViewpointCollection"
              ]
             },
             "progress": {
              "type": "number",
              "description": "Extraction progress",
              "example": 15.6
             },
             "artifact": {
              "type": "object",
              "description": "Artifact extracted from a 3d model. Only one of grid, mobile_format, properties, web_format, ifc, object_search, and viewpoint_collection will have data associated to the artifact extracted",
              "properties": {
               "grid": {
                "type": "object",
                "properties": {
                 "filename": {
                  "type": "string"
                 },
                 "coordinate_system": {
                  "type": "string"
                 },
                 "gridline_file": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer"
                   },
                   "name": {
                    "type": "string"
                   },
                   "url": {
                    "type": "string"
                   }
                  }
                 }
                }
               },
               "mobile_format": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string"
                 },
                 "url": {
                  "type": "string"
                 }
                }
               },
               "properties": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string"
                 },
                 "url": {
                  "type": "string"
                 }
                }
               },
               "web_format": {
                "type": "object",
                "properties": {
                 "cell_file": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer"
                   },
                   "name": {
                    "type": "string",
                    "description": "Base name of the file without its path",
                    "example": "filename.ext"
                   },
                   "content_type": {
                    "type": "string",
                    "nullable": true,
                    "description": "A mime type or a file extension",
                    "example": "application/vnd.ext"
                   },
                   "size": {
                    "type": "integer",
                    "description": "File size in bytes",
                    "example": 3124532
                   },
                   "url": {
                    "type": "string",
                    "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                    "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                   }
                  }
                 },
                 "node_file": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer"
                   },
                   "name": {
                    "type": "string",
                    "description": "Base name of the file without its path",
                    "example": "filename.ext"
                   },
                   "content_type": {
                    "type": "string",
                    "nullable": true,
                    "description": "A mime type or a file extension",
                    "example": "application/vnd.ext"
                   },
                   "size": {
                    "type": "integer",
                    "description": "File size in bytes",
                    "example": 3124532
                   },
                   "url": {
                    "type": "string",
                    "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                    "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                   }
                  }
                 },
                 "mesh_node_file": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer"
                   },
                   "name": {
                    "type": "string",
                    "description": "Base name of the file without its path",
                    "example": "filename.ext"
                   },
                   "content_type": {
                    "type": "string",
                    "nullable": true,
                    "description": "A mime type or a file extension",
                    "example": "application/vnd.ext"
                   },
                   "size": {
                    "type": "integer",
                    "description": "File size in bytes",
                    "example": 3124532
                   },
                   "url": {
                    "type": "string",
                    "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                    "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                   }
                  }
                 },
                 "mesh_file": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer"
                   },
                   "name": {
                    "type": "string",
                    "description": "Base name of the file without its path",
                    "example": "filename.ext"
                   },
                   "content_type": {
                    "type": "string",
                    "nullable": true,
                    "description": "A mime type or a file extension",
                    "example": "application/vnd.ext"
                   },
                   "size": {
                    "type": "integer",
                    "description": "File size in bytes",
                    "example": 3124532
                   },
                   "url": {
                    "type": "string",
                    "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                    "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                   }
                  }
                 },
                 "manifest_file": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer"
                   },
                   "name": {
                    "type": "string",
                    "description": "Base name of the file without its path",
                    "example": "filename.ext"
                   },
                   "content_type": {
                    "type": "string",
                    "nullable": true,
                    "description": "A mime type or a file extension",
                    "example": "application/vnd.ext"
                   },
                   "size": {
                    "type": "integer",
                    "description": "File size in bytes",
                    "example": 3124532
                   },
                   "url": {
                    "type": "string",
                    "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                    "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                   }
                  }
                 }
                }
               },
               "ifc": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string"
                 },
                 "url": {
                  "type": "string"
                 }
                }
               },
               "object_search": {
                "type": "object",
                "properties": {
                 "ids": {
                  "type": "array",
                  "items": {
                   "type": "integer"
                  }
                 }
                }
               },
               "viewpoint_collection": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string"
                 },
                 "url": {
                  "type": "string"
                 }
                }
               }
              }
             },
             "error": {
              "type": "object",
              "description": "An error that can occur during model processing.",
              "properties": {
               "code": {
                "type": "integer",
                "description": "Error code",
                "example": 68
               },
               "type": {
                "type": "string",
                "description": "Error type",
                "example": "UnsupportedFileFormat"
               },
               "message": {
                "type": "string",
                "description": "Human readable error message",
                "example": "Bad Input File"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2020-07-26T15:15:00Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2020-07-26T15:15:00Z"
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "description": "An array of errors encountered during extraction",
           "items": {
            "type": "object",
            "description": "An error that can occur during model processing.",
            "properties": {
             "code": {
              "type": "integer",
              "description": "Error code",
              "example": 68
             },
             "type": {
              "type": "string",
              "description": "Error type",
              "example": "UnsupportedFileFormat"
             },
             "message": {
              "type": "string",
              "description": "Human readable error message",
              "example": "Bad Input File"
             }
            }
           }
          },
          "created_by": {
           "allOf": [
            {
             "type": "object",
             "description": "Login Information",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Login Information ID",
               "example": 1738090
              },
              "name": {
               "type": "string",
               "description": "User name",
               "example": "John Doe"
              },
              "locale": {
               "type": "string",
               "nullable": true,
               "description": "User dictionary",
               "example": "ko"
              },
              "company_name": {
               "type": "string",
               "nullable": true,
               "description": "User Company name",
               "example": "Builders Inc."
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "login": {
               "type": "string",
               "description": "User email",
               "example": "johndoe@example.com"
              }
             }
            }
           ],
           "type": "object",
           "properties": {
            "company_name": {
             "type": "string",
             "description": "User Company name",
             "example": "Builders Inc."
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created date",
           "example": "2020-07-26T13:15:00Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated date",
           "example": "2020-07-26T13:15:00Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_file_extractions/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_file_extractions/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_file_extractions/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_file_extractions/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}