{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Levels",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Levels",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_levels": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List BIM Levels",
    "description": "Lists BIM Levels associated with the specified Project.",
    "tags": [
     "BIM Levels"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe extended view contains the response shown below.\nThe normal view contains 'bim_file_id', 'location_id', and 'created_by_id' instead of embedded objects.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[bim_file_id]",
      "in": "query",
      "description": "Filter item(s) with matching BIM File ids",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Location ID. Returns item(s) with the specified Location ID or a range of Location IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 45
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort item(s) by an attribute. The default sort is ascending. To sort in descending order, prepend the sort value with a hyphen character '-'",
      "schema": {
       "type": "string",
       "enum": [
        "elevation",
        "location"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "BIM Levels listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "allOf": [
             {
              "type": "object",
              "description": "BIM Model Level",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 144
               },
               "elevation": {
                "type": "number",
                "format": "float",
                "description": "Level elevation",
                "example": 10.25
               },
               "name": {
                "type": "string",
                "description": "Level name",
                "example": "1space>1 space"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created date",
                "example": "2019-01-04T06:13:10Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Updated date",
                "example": "2019-01-06T11:26:08Z"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "bim_file_id": {
                "type": "integer",
                "description": "ID of the BIM Model revision linked to the Level",
                "example": 16
               },
               "location_id": {
                "type": "integer",
                "nullable": true,
                "description": "ID of location linked to the Level",
                "example": 16
               },
               "created_by_id": {
                "type": "integer",
                "description": "ID of user that created the level",
                "example": 16
               }
              }
             }
            ]
           },
           {
            "allOf": [
             {
              "type": "object",
              "description": "BIM Model Level",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 144
               },
               "elevation": {
                "type": "number",
                "format": "float",
                "description": "Level elevation",
                "example": 10.25
               },
               "name": {
                "type": "string",
                "description": "Level name",
                "example": "1space>1 space"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created date",
                "example": "2019-01-04T06:13:10Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Updated date",
                "example": "2019-01-06T11:26:08Z"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "bim_file": {
                "type": "object",
                "description": "BIM File",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 101
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the file to be associated to a project",
                  "example": "101_BLDG_FLR_2.NWF"
                 },
                 "uuid": {
                  "type": "string",
                  "description": "Unique UUID associated with the file",
                  "example": "a00147dd-a698-468a-b082-d277a564cf0c"
                 }
                }
               },
               "location": {
                "type": "object",
                "title": "Location",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Location ID",
                  "example": 15504
                 },
                 "name": {
                  "type": "string",
                  "description": "Location name",
                  "example": "North Building>First Floor>Electrical Closet"
                 },
                 "node_name": {
                  "type": "string",
                  "description": "Location node name",
                  "example": "Electrical Closet"
                 },
                 "parent_id": {
                  "type": "integer",
                  "description": "Location parent id",
                  "example": 788866,
                  "nullable": true
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp of Location creation",
                  "example": "2016-08-01T23:33:54Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp of last update to Location",
                  "example": "2016-08-01T23:33:54Z"
                 },
                 "code": {
                  "type": "string",
                  "description": "The unique code for this Location",
                  "example": "L1",
                  "nullable": true
                 }
                }
               },
               "created_by": {
                "type": "object",
                "description": "Login Information",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Login Information ID uniquely identifying this user.",
                  "example": 1738090
                 },
                 "name": {
                  "type": "string",
                  "description": "User's display name, formatted first name then last name.",
                  "example": "John Doe"
                 },
                 "login": {
                  "type": "string",
                  "description": "User's login email address.",
                  "example": "johndoe@example.com"
                 },
                 "company_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                  "example": "Builders Inc."
                 },
                 "locale": {
                  "type": "string",
                  "nullable": true,
                  "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                  "example": "ko"
                 }
                }
               }
              }
             }
            ]
           }
          ]
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view BIM Levels",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_levels',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[bim_file_id]': 'SOME_INTEGER_VALUE',\n    'filters[location_id]': 'SOME_ARRAY_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_levels?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_levels?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_levels?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create BIM Level",
    "description": "Create a BIM Level in a Project",
    "tags": [
     "BIM Levels"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_level"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 126
         },
         "view": {
          "type": "string",
          "description": "Specify response schema view",
          "enum": [
           "compact",
           "normal",
           "extended"
          ]
         },
         "bim_level": {
          "type": "object",
          "description": "BIM Level",
          "required": [
           "elevation",
           "bim_file_id",
           "location_id"
          ],
          "properties": {
           "elevation": {
            "type": "number",
            "format": "float",
            "description": "Level elevation",
            "example": 10.25
           },
           "bim_file_id": {
            "type": "integer",
            "description": "ID of the BIM File linked to the Level",
            "example": 16
           },
           "location_id": {
            "type": "integer",
            "description": "ID of location linked to the Level",
            "example": 16
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "allOf": [
            {
             "type": "object",
             "description": "BIM Model Level",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 144
              },
              "elevation": {
               "type": "number",
               "format": "float",
               "description": "Level elevation",
               "example": 10.25
              },
              "name": {
               "type": "string",
               "description": "Level name",
               "example": "1space>1 space"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2019-01-04T06:13:10Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2019-01-06T11:26:08Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "bim_file_id": {
               "type": "integer",
               "description": "ID of the BIM Model revision linked to the Level",
               "example": 16
              },
              "location_id": {
               "type": "integer",
               "nullable": true,
               "description": "ID of location linked to the Level",
               "example": 16
              },
              "created_by_id": {
               "type": "integer",
               "description": "ID of user that created the level",
               "example": 16
              }
             }
            }
           ]
          },
          {
           "allOf": [
            {
             "type": "object",
             "description": "BIM Model Level",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 144
              },
              "elevation": {
               "type": "number",
               "format": "float",
               "description": "Level elevation",
               "example": 10.25
              },
              "name": {
               "type": "string",
               "description": "Level name",
               "example": "1space>1 space"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2019-01-04T06:13:10Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2019-01-06T11:26:08Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "bim_file": {
               "type": "object",
               "description": "BIM File",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 101
                },
                "name": {
                 "type": "string",
                 "description": "Name of the file to be associated to a project",
                 "example": "101_BLDG_FLR_2.NWF"
                },
                "uuid": {
                 "type": "string",
                 "description": "Unique UUID associated with the file",
                 "example": "a00147dd-a698-468a-b082-d277a564cf0c"
                }
               }
              },
              "location": {
               "type": "object",
               "title": "Location",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Location ID",
                 "example": 15504
                },
                "name": {
                 "type": "string",
                 "description": "Location name",
                 "example": "North Building>First Floor>Electrical Closet"
                },
                "node_name": {
                 "type": "string",
                 "description": "Location node name",
                 "example": "Electrical Closet"
                },
                "parent_id": {
                 "type": "integer",
                 "description": "Location parent id",
                 "example": 788866,
                 "nullable": true
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp of Location creation",
                 "example": "2016-08-01T23:33:54Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp of last update to Location",
                 "example": "2016-08-01T23:33:54Z"
                },
                "code": {
                 "type": "string",
                 "description": "The unique code for this Location",
                 "example": "L1",
                 "nullable": true
                }
               }
              },
              "created_by": {
               "type": "object",
               "description": "Login Information",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID uniquely identifying this user.",
                 "example": 1738090
                },
                "name": {
                 "type": "string",
                 "description": "User's display name, formatted first name then last name.",
                 "example": "John Doe"
                },
                "login": {
                 "type": "string",
                 "description": "User's login email address.",
                 "example": "johndoe@example.com"
                },
                "company_name": {
                 "type": "string",
                 "nullable": true,
                 "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                 "example": "Builders Inc."
                },
                "locale": {
                 "type": "string",
                 "nullable": true,
                 "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                 "example": "ko"
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/bim_levels',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 126,\n    view: 'compact',\n    bim_level: {elevation: 10.25, bim_file_id: 16, location_id: 16}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_level\\\":{\\\"elevation\\\":10.25,\\\"bim_file_id\\\":16,\\\"location_id\\\":16}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/bim_levels\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/bim_levels \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":126,\"view\":\"compact\",\"bim_level\":{\"elevation\":10.25,\"bim_file_id\":16,\"location_id\":16}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_levels\"),\n    Content = new StringContent(\"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_level\\\":{\\\"elevation\\\":10.25,\\\"bim_file_id\\\":16,\\\"location_id\\\":16}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/bim_levels/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "BIM Level ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show BIM Level",
    "description": "Return a single BIM Level item.",
    "tags": [
     "BIM Levels"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe extended view contains the response shown below.\nThe normal view contains 'bim_file_id', 'location_id', and 'created_by_id' instead of embedded objects.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "allOf": [
            {
             "type": "object",
             "description": "BIM Model Level",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 144
              },
              "elevation": {
               "type": "number",
               "format": "float",
               "description": "Level elevation",
               "example": 10.25
              },
              "name": {
               "type": "string",
               "description": "Level name",
               "example": "1space>1 space"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2019-01-04T06:13:10Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2019-01-06T11:26:08Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "bim_file_id": {
               "type": "integer",
               "description": "ID of the BIM Model revision linked to the Level",
               "example": 16
              },
              "location_id": {
               "type": "integer",
               "nullable": true,
               "description": "ID of location linked to the Level",
               "example": 16
              },
              "created_by_id": {
               "type": "integer",
               "description": "ID of user that created the level",
               "example": 16
              }
             }
            }
           ]
          },
          {
           "allOf": [
            {
             "type": "object",
             "description": "BIM Model Level",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 144
              },
              "elevation": {
               "type": "number",
               "format": "float",
               "description": "Level elevation",
               "example": 10.25
              },
              "name": {
               "type": "string",
               "description": "Level name",
               "example": "1space>1 space"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2019-01-04T06:13:10Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2019-01-06T11:26:08Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "bim_file": {
               "type": "object",
               "description": "BIM File",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 101
                },
                "name": {
                 "type": "string",
                 "description": "Name of the file to be associated to a project",
                 "example": "101_BLDG_FLR_2.NWF"
                },
                "uuid": {
                 "type": "string",
                 "description": "Unique UUID associated with the file",
                 "example": "a00147dd-a698-468a-b082-d277a564cf0c"
                }
               }
              },
              "location": {
               "type": "object",
               "title": "Location",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Location ID",
                 "example": 15504
                },
                "name": {
                 "type": "string",
                 "description": "Location name",
                 "example": "North Building>First Floor>Electrical Closet"
                },
                "node_name": {
                 "type": "string",
                 "description": "Location node name",
                 "example": "Electrical Closet"
                },
                "parent_id": {
                 "type": "integer",
                 "description": "Location parent id",
                 "example": 788866,
                 "nullable": true
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp of Location creation",
                 "example": "2016-08-01T23:33:54Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp of last update to Location",
                 "example": "2016-08-01T23:33:54Z"
                },
                "code": {
                 "type": "string",
                 "description": "The unique code for this Location",
                 "example": "L1",
                 "nullable": true
                }
               }
              },
              "created_by": {
               "type": "object",
               "description": "Login Information",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID uniquely identifying this user.",
                 "example": 1738090
                },
                "name": {
                 "type": "string",
                 "description": "User's display name, formatted first name then last name.",
                 "example": "John Doe"
                },
                "login": {
                 "type": "string",
                 "description": "User's login email address.",
                 "example": "johndoe@example.com"
                },
                "company_name": {
                 "type": "string",
                 "nullable": true,
                 "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                 "example": "Builders Inc."
                },
                "locale": {
                 "type": "string",
                 "nullable": true,
                 "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                 "example": "ko"
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_levels/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', view: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_levels/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_levels/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_levels/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update BIM Level",
    "description": "Update a BIM Level item",
    "tags": [
     "BIM Levels"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_level"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 126
         },
         "bim_level": {
          "title": "BIM Level",
          "type": "object",
          "description": "BIM Level Item object",
          "properties": {
           "elevation": {
            "type": "number",
            "format": "float",
            "description": "Level elevation",
            "example": 10.25
           },
           "location_id": {
            "type": "integer",
            "description": "ID of location linked to the Level",
            "example": 16
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "allOf": [
            {
             "type": "object",
             "description": "BIM Model Level",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 144
              },
              "elevation": {
               "type": "number",
               "format": "float",
               "description": "Level elevation",
               "example": 10.25
              },
              "name": {
               "type": "string",
               "description": "Level name",
               "example": "1space>1 space"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2019-01-04T06:13:10Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2019-01-06T11:26:08Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "bim_file_id": {
               "type": "integer",
               "description": "ID of the BIM Model revision linked to the Level",
               "example": 16
              },
              "location_id": {
               "type": "integer",
               "nullable": true,
               "description": "ID of location linked to the Level",
               "example": 16
              },
              "created_by_id": {
               "type": "integer",
               "description": "ID of user that created the level",
               "example": 16
              }
             }
            }
           ]
          },
          {
           "allOf": [
            {
             "type": "object",
             "description": "BIM Model Level",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 144
              },
              "elevation": {
               "type": "number",
               "format": "float",
               "description": "Level elevation",
               "example": 10.25
              },
              "name": {
               "type": "string",
               "description": "Level name",
               "example": "1space>1 space"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2019-01-04T06:13:10Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2019-01-06T11:26:08Z"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "bim_file": {
               "type": "object",
               "description": "BIM File",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 101
                },
                "name": {
                 "type": "string",
                 "description": "Name of the file to be associated to a project",
                 "example": "101_BLDG_FLR_2.NWF"
                },
                "uuid": {
                 "type": "string",
                 "description": "Unique UUID associated with the file",
                 "example": "a00147dd-a698-468a-b082-d277a564cf0c"
                }
               }
              },
              "location": {
               "type": "object",
               "title": "Location",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Location ID",
                 "example": 15504
                },
                "name": {
                 "type": "string",
                 "description": "Location name",
                 "example": "North Building>First Floor>Electrical Closet"
                },
                "node_name": {
                 "type": "string",
                 "description": "Location node name",
                 "example": "Electrical Closet"
                },
                "parent_id": {
                 "type": "integer",
                 "description": "Location parent id",
                 "example": 788866,
                 "nullable": true
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp of Location creation",
                 "example": "2016-08-01T23:33:54Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp of last update to Location",
                 "example": "2016-08-01T23:33:54Z"
                },
                "code": {
                 "type": "string",
                 "description": "The unique code for this Location",
                 "example": "L1",
                 "nullable": true
                }
               }
              },
              "created_by": {
               "type": "object",
               "description": "Login Information",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID uniquely identifying this user.",
                 "example": 1738090
                },
                "name": {
                 "type": "string",
                 "description": "User's display name, formatted first name then last name.",
                 "example": "John Doe"
                },
                "login": {
                 "type": "string",
                 "description": "User's login email address.",
                 "example": "johndoe@example.com"
                },
                "company_name": {
                 "type": "string",
                 "nullable": true,
                 "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                 "example": "Builders Inc."
                },
                "locale": {
                 "type": "string",
                 "nullable": true,
                 "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                 "example": "ko"
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/bim_levels/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {project_id: 126, bim_level: {elevation: 10.25, location_id: 16}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":126,\\\"bim_level\\\":{\\\"elevation\\\":10.25,\\\"location_id\\\":16}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/bim_levels/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/bim_levels/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":126,\"bim_level\":{\"elevation\":10.25,\"location_id\":16}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_levels/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_id\\\":126,\\\"bim_level\\\":{\\\"elevation\\\":10.25,\\\"location_id\\\":16}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete BIM Level",
    "description": "Delete a BIM Level from the system. A BIM Level can only be deleted if it is not associated with published models.",
    "tags": [
     "BIM Levels"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/bim_levels/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/bim_levels/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/bim_levels/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_levels/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}