{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Model Change History",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Model Change History",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_models/{id}/change_history": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List BIM Model Change History",
    "description": "This is a deprecated endpoint. This endpoint returns the change history for the specified BimModel. The change history is sorted by most recent first.",
    "x-deprecated-at": "2021-09-10",
    "deprecated": true,
    "tags": [
     "BIM Models"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "BIM Model ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The extended view provides what is shown below.\nThe normal view is the same as the extended view but excludes attribute created_by.\nThe compact view returns ids only.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "A single change history entry, recording one field modification on the parent resource.",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of this change history entry.",
            "example": 101
           },
           "column": {
            "type": "string",
            "description": "Internal column name of the field that was changed.",
            "example": "assignee_id"
           },
           "readable_column": {
            "type": "string",
            "description": "Localized, human-readable name of the field that was changed, translated to the requested locale.",
            "example": "Assignee"
           },
           "formatted_column": {
            "type": "string",
            "description": "Human-readable name of the field that was changed, in the default locale.",
            "example": "Assignee"
           },
           "old_value": {
            "type": "string",
            "description": "Previous value of the field. Null if the field was not previously set.",
            "example": "The original title",
            "nullable": true
           },
           "new_value": {
            "type": "string",
            "description": "New value of the field.",
            "example": "The updated title"
           },
           "created_by": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the user who made the change.",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email address (login) of the user who made the change.",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Full name of the user who made the change.",
                "example": "Carl the Contractor"
               },
               "locale": {
                "type": "string",
                "description": "Locale preference of the user who made the change. Null if not set.",
                "example": "en-GB",
                "nullable": true
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "company_name": {
                "type": "string",
                "description": "Name of the company the user belongs to.",
                "example": "Company ABC"
               }
              }
             }
            ]
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this change was recorded, in ISO 8601 format.",
            "example": "2018-05-08T13:21:20Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_models/%7Bid%7D/change_history',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_models/%7Bid%7D/change_history?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_models/%7Bid%7D/change_history?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_models/%7Bid%7D/change_history?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added BIM Model Change History list endpoint",
      "description": "Get change history for the specified Bim Model id.",
      "endpoint": "GET /bim_models/{id}/change_history",
      "type": "new",
      "breaking": false,
      "datestamp": "2020-11-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-model-change-history?version=1.0#list-bim-model-change-history"
     },
     {
      "summary": "BIM Model Change History is Deprecated",
      "description": "This endpoint is deprecated.",
      "endpoint": "GET /bim_models/{id}/change_history",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2021-09-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-model-change-history?version=1.0#list-bim-model-change-history"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}