{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Model Revision Viewpoint Bulk Delete",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Model Revision Viewpoint Bulk Delete",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_model_revision_viewpoints/bulk_delete": {
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk delete BIM Model Revision Viewpoints",
    "description": "Delete multiple BIM Model Revision Viewpoint associations in a single request.",
    "tags": [
     "BIM Model Revision Viewpoints"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "ids",
      "in": "query",
      "description": "Array of BIM Model Revision Viewpoint IDs to delete",
      "required": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       },
       "example": [
        1,
        2,
        3
       ],
       "maxItems": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "BIM Model Revision Viewpoints bulk delete completed",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "deleted_ids": {
           "type": "array",
           "description": "Array of successfully deleted viewpoint IDs",
           "items": {
            "type": "integer"
           },
           "example": [
            1,
            3
           ]
          },
          "errors": {
           "type": "array",
           "description": "Array of error messages for failed deletions",
           "items": {
            "type": "string"
           },
           "example": [
            "Permission denied for viewpoint 2"
           ]
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "413": {
      "description": "Payload Too Large - batch size exceeds maximum limit",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "deleted_ids": {
           "type": "array",
           "items": {
            "type": "integer"
           },
           "example": []
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "string"
           },
           "example": [
            "Batch size cannot exceed 100"
           ]
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/bim_model_revision_viewpoints/bulk_delete',\n  qs: {project_id: 'SOME_INTEGER_VALUE', ids: ['1', '2', '3']}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/bim_model_revision_viewpoints/bulk_delete?project_id=SOME_INTEGER_VALUE&ids=1&ids=2&ids=3\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/bim_model_revision_viewpoints/bulk_delete?project_id=SOME_INTEGER_VALUE&ids=1&ids=2&ids=3'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_model_revision_viewpoints/bulk_delete?project_id=SOME_INTEGER_VALUE&ids=1&ids=2&ids=3\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk delete endpoint for BIM Model Revision Viewpoints",
      "description": "Added a new bulk delete endpoint that allows deleting multiple BIM Model Revision Viewpoints in a single request.",
      "endpoint": "DELETE /bim_model_revision_viewpoints/bulk_delete",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "bim-model-revision-viewpoint-bulk-delete?version=1.0#bulk-delete-bim-model-revision-viewpoints"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}