{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Property File Properties",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Property File Properties",
  "version": "1.0",
  "x-product-lines": [
   "Models"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_property_files/{id}/properties": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List BIM Property File Properties",
    "description": "Lists properties from a specific BIM Property File.\nA BIM Property File is a resource that represents a 3d-model database. For models published to the Models tool, the property file id can be found in [BIM Model Revision](https://developers.procore.com/reference/rest/v1/bim-model-revisions?version=1.0#show-bim-model-revision) object\\_definition -> id. For models uploaded and extracted with Procore Documents, the property file id can be found in [BIM File Extraction](https://developers.procore.com/reference/rest/v1/bim-file-extractions?version=1.0#show-bim-file-extraction) extraction\\_items -> artifact -> properties -> id.",
    "tags": [
     "BIM Property File Properties"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "BIM Property File ID.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[object_id]",
      "in": "query",
      "description": "Filter item(s) with matching object_id.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[category]",
      "in": "query",
      "description": "Filter item(s) with matching category.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[name]",
      "in": "query",
      "description": "Filter item(s) with matching name.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[value]",
      "in": "query",
      "description": "Filter item(s) with matching value.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Filter item(s) containing query. Searchable fields include Property Category, Name, and Value",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[curated_list]",
      "in": "query",
      "description": "Filter item(s) to return a curated list of properties",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[has_uom]",
      "in": "query",
      "description": "Filter item(s) to return properties with/without unit of measurement (uom).",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "BIM Property File Properties listed successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "description": "BIM Model Property",
            "properties": {
             "object_id": {
              "type": "integer",
              "description": "Object ID",
              "example": 126
             },
             "category": {
              "type": "string",
              "description": "Category",
              "example": "DATA REDUCTION 105"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Specified Lighting Load"
             },
             "typed_value": {
              "type": "string",
              "description": "Property value in native type. The typed_value can be null for models published to Procore when native values were not captured in the publishing process.",
              "example": "LcRevitElement Level GROUND FLOOR - 30"
             },
             "uom": {
              "type": "string",
              "description": "The unit of measure for the property value. The value is null when unit of measure does not exist for a property.",
              "nullable": true,
              "default": null,
              "example": null
             },
             "value": {
              "type": "string",
              "description": "Property display value same as typed_value.",
              "example": "LcRevitElement Level GROUND FLOOR - 30"
             }
            }
           },
           {
            "type": "object",
            "description": "BIM Model Property",
            "properties": {
             "object_id": {
              "type": "integer",
              "description": "Object ID",
              "example": 126
             },
             "category": {
              "type": "string",
              "description": "Property Category",
              "example": "Top Constraint"
             },
             "name": {
              "type": "string",
              "description": "Property Name",
              "example": "Elevation"
             },
             "typed_value": {
              "type": "number",
              "description": "Property value in native type. Numeric value can contain numbers with very high decimal precision. The typed_value can be null for models published to Procore when native values were not captured in the publishing process.",
              "example": 14.7402790213
             },
             "uom": {
              "type": "string",
              "description": "The unit of measure for the property value. The value is null when unit of measure does not exist for a property.",
              "nullable": true,
              "example": "ft"
             },
             "value": {
              "type": "string",
              "description": "Property display value. For numeric values with uom, the typed_value is concatenated with uom. Decimal values are truncated to four decimal places.",
              "example": "14.7402 ft"
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "User does not have permission to view BIM Property File Property",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view BIM Property File Property",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Unexpected Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_property_files/%7Bid%7D/properties',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[object_id]': 'SOME_ARRAY_VALUE',\n    'filters[category]': 'SOME_ARRAY_VALUE',\n    'filters[name]': 'SOME_ARRAY_VALUE',\n    'filters[value]': 'SOME_ARRAY_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    'filters[curated_list]': 'SOME_BOOLEAN_VALUE',\n    'filters[has_uom]': 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_property_files/%7Bid%7D/properties?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bobject_id%5D=SOME_ARRAY_VALUE&filters%5Bcategory%5D=SOME_ARRAY_VALUE&filters%5Bname%5D=SOME_ARRAY_VALUE&filters%5Bvalue%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bcurated_list%5D=SOME_BOOLEAN_VALUE&filters%5Bhas_uom%5D=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_property_files/%7Bid%7D/properties?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bobject_id%5D=SOME_ARRAY_VALUE&filters%5Bcategory%5D=SOME_ARRAY_VALUE&filters%5Bname%5D=SOME_ARRAY_VALUE&filters%5Bvalue%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bcurated_list%5D=SOME_BOOLEAN_VALUE&filters%5Bhas_uom%5D=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_property_files/%7Bid%7D/properties?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bobject_id%5D=SOME_ARRAY_VALUE&filters%5Bcategory%5D=SOME_ARRAY_VALUE&filters%5Bname%5D=SOME_ARRAY_VALUE&filters%5Bvalue%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bcurated_list%5D=SOME_BOOLEAN_VALUE&filters%5Bhas_uom%5D=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added query parameter to support filtering properties with/without unit of measurement (uom)",
      "description": "Added a new query parameter to filter properties with/without uom.\nWhen true the response will contain properties that have uom.\nWhen false the response will contain properties that have 'null' uom value",
      "endpoint": "GET /bim_property_files/{id}/properties",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-03-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-property-file-properties?version=1.0#list-bim-property-file-properties"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}