{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Models",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Models",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_models": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List BIM Models",
    "description": "Lists BIM Models associated with the specified Project.",
    "tags": [
     "BIM Models"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe extended view contains the response shown below.\nThe normal view contains 'current_revision_id' instead of an embedded object 'current_revision'\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[bim_file_id]",
      "in": "query",
      "description": "Filter item(s) with matching BIM File ids",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[has_revisions]",
      "in": "query",
      "description": "Filter item(s) with or without revisions.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Filter item(s) with the matching search query. The search is performed on title.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort item(s) by an attribute. The default sort is ascending. To sort in descending order, prepend the sort value with a hyphen character '-'",
      "schema": {
       "type": "string",
       "enum": [
        "title",
        "suitability",
        "last_published_by",
        "last_published_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "BIM Models listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "description": "BIM Model",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 126
             },
             "title": {
              "type": "string",
              "description": "BIM Model title.",
              "example": "Combined Model"
             },
             "auto_publish": {
              "type": "boolean",
              "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
              "example": true
             },
             "project_id": {
              "type": "integer",
              "format": "integer",
              "description": "Unique identifier for the project.",
              "example": 29
             },
             "revisions_count": {
              "type": "number",
              "format": "integer",
              "description": "No. of model revisions published",
              "example": 6
             },
             "web_url": {
              "type": "string",
              "description": "Deep link to Procore's Models Web Viewer.",
              "example": "https://app.procore.com/60/project/models/list?view=web_viewer&m_id=101"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-20T09:36:42Z"
             },
             "current_revision_id": {
              "type": "integer",
              "nullable": true,
              "description": "Current Revision ID",
              "example": 182
             }
            }
           },
           {
            "type": "object",
            "description": "BIM Model",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 126
             },
             "title": {
              "type": "string",
              "description": "BIM Model title.",
              "example": "Combined Model"
             },
             "auto_publish": {
              "type": "boolean",
              "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
              "example": true
             },
             "project_id": {
              "type": "integer",
              "format": "integer",
              "description": "Unique identifier for the project.",
              "example": 29
             },
             "revisions_count": {
              "type": "number",
              "format": "integer",
              "description": "No. of model revisions published",
              "example": 6
             },
             "web_url": {
              "type": "string",
              "description": "Deep link to Procore's Models Web Viewer.",
              "example": "https://app.procore.com/60/project/models/list?view=web_viewer&m_id=101"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-20T09:36:42Z"
             },
             "current_revision": {
              "type": "object",
              "description": "Published BIM Model Revision",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 126
               },
               "bim_file": {
                "type": "object",
                "description": "BIM File",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 101
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the file to be associated to a project",
                  "example": "101_BLDG_FLR_2.NWF"
                 },
                 "uuid": {
                  "type": "string",
                  "description": "Unique UUID associated with the file",
                  "example": "a00147dd-a698-468a-b082-d277a564cf0c"
                 }
                }
               },
               "bim_model_id": {
                "type": "integer",
                "description": "ID of the associated BIM Model",
                "example": 16
               },
               "geometry_file_bundle_id": {
                "type": "integer",
                "nullable": true,
                "description": "ID of the associated geometry file bundle",
                "example": 148
               },
               "suitability": {
                "type": "string",
                "description": "Suitability of the revision",
                "example": "issued_for_coordination"
               },
               "publish_status": {
                "type": "string",
                "description": "Status of the revision",
                "example": "in_progress"
               },
               "revision": {
                "type": "integer",
                "description": "The sequential revision count",
                "example": 1
               },
               "publisher_name": {
                "type": "string",
                "description": "Name of application publishing the model revision",
                "example": "nw_publisher"
               },
               "publisher_version": {
                "type": "string",
                "description": "Version of application publishing the model revision",
                "example": "3.1.6"
               },
               "min_boundary": {
                "type": "object",
                "description": "3D Coordinate Point",
                "properties": {
                 "x": {
                  "type": "string",
                  "description": "Numeric string representing x-axis coordinate",
                  "example": "6.24"
                 },
                 "y": {
                  "type": "string",
                  "description": "Numeric string representing y-axis coordinate",
                  "example": "12.48"
                 },
                 "z": {
                  "type": "string",
                  "description": "Numeric string representing z-axis coordinate",
                  "example": "24.96"
                 }
                }
               },
               "max_boundary": {
                "type": "object",
                "description": "3D Coordinate Point",
                "properties": {
                 "x": {
                  "type": "string",
                  "description": "Numeric string representing x-axis coordinate",
                  "example": "6.24"
                 },
                 "y": {
                  "type": "string",
                  "description": "Numeric string representing y-axis coordinate",
                  "example": "12.48"
                 },
                 "z": {
                  "type": "string",
                  "description": "Numeric string representing z-axis coordinate",
                  "example": "24.96"
                 }
                }
               },
               "rotation": {
                "type": "object",
                "description": "3D Coordinate Point",
                "properties": {
                 "x": {
                  "type": "string",
                  "description": "Numeric string representing x-axis coordinate",
                  "example": "6.24"
                 },
                 "y": {
                  "type": "string",
                  "description": "Numeric string representing y-axis coordinate",
                  "example": "12.48"
                 },
                 "z": {
                  "type": "string",
                  "description": "Numeric string representing z-axis coordinate",
                  "example": "24.96"
                 }
                }
               },
               "viewpoints": {
                "type": "array",
                "description": "An array of viewpoints",
                "items": {
                 "type": "object",
                 "allOf": [
                  {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "ID",
                     "example": 206
                    },
                    "bim_file_id": {
                     "type": "integer",
                     "description": "ID of associated BIM File",
                     "example": 809
                    },
                    "view_folder_id": {
                     "type": "integer",
                     "nullable": true,
                     "description": "ID of associated BIM View Folder",
                     "example": 316
                    },
                    "created_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Created date",
                     "example": "2018-04-19T09:36:42Z"
                    },
                    "updated_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Updated date",
                     "example": "2018-04-20T09:36:42Z"
                    },
                    "snapshot": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer"
                      },
                      "name": {
                       "type": "string",
                       "description": "Base name of the file without its path",
                       "example": "filename.ext"
                      },
                      "content_type": {
                       "type": "string",
                       "description": "A mime type or a file extension",
                       "example": "image/png"
                      },
                      "url": {
                       "type": "string",
                       "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                       "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                      }
                     }
                    },
                    "name": {
                     "type": "string",
                     "description": "Viewpoint name",
                     "example": "Mechanical Conflict View"
                    },
                    "render_mode": {
                     "type": "string",
                     "description": "Viewer render mode when viewpoint is applied",
                     "enum": [
                      "shaded",
                      "xray"
                     ]
                    },
                    "uuid": {
                     "type": "string",
                     "nullable": true,
                     "description": "Unique identifier for the Extraction viewpoint",
                     "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "visibility": {
                     "type": "object",
                     "nullable": true,
                     "description": "Object Visibility settings",
                     "properties": {
                      "default_visibility": {
                       "type": "boolean"
                      },
                      "exceptions": {
                       "type": "object",
                       "description": "Group of model objects represented as an array of object ids, or object ranges",
                       "properties": {
                        "object_ids": {
                         "type": "array",
                         "description": "Array of object ids",
                         "example": [
                          24861,
                          46732
                         ],
                         "items": {
                          "type": "integer"
                         }
                        },
                        "object_ranges": {
                         "type": "array",
                         "description": "Array of object ranges. A range is an array containing two numbers, the first represents object id, the second represents the number of objects in the range.",
                         "example": [
                          [
                           24862,
                           24
                          ]
                         ],
                         "items": {
                          "type": "array",
                          "items": {
                           "type": "integer"
                          },
                          "minItems": 2,
                          "maxItems": 2
                         }
                        }
                       }
                      }
                     }
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "camera_data": {
                     "type": "string",
                     "description": "JSON string representation of camera position",
                     "example": "{\"perspective_camera\":{\"camera_direction\":{\"x\":-0.24,\"y\":-0.14,\"z\":-0.99},\"camera_up_vector\":{\"x\":-0.17,\"y\":-0.74,\"z\":0.14},\"camera_view_point\":{\"x\":-13.86,\"y\":64.83,\"z\":31.9},\"field_of_view\":0.78,\"target_distance\":9.18,\"unit\":\"ft\"}}"
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "redlines_data": {
                     "type": "string",
                     "description": "JSON string representation of markup",
                     "example": "{\"lines\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":-0.29,\"y\":-0.53,\"z\":0.0}}],\"texts\":[{\"origin\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"text\":\"Issue\",\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1}}],\"arrows\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.16,\"y\":0.33,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":0.58,\"y\":0.25,\"z\":0.0}}],\"ellipses\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"max_point\":{\"x\":0.11,\"y\":-0.25,\"z\":0.0},\"min_point\":{\"x\":0.31,\"y\":0.68,\"z\":0.0},\"thickness\":3}]}"
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "sections_data": {
                     "type": "string",
                     "description": "JSON string representation of sections applied to a 3d model as a set of clipping planes",
                     "example": "[{\"location\":{\"x\":0.0,\"y\":0.0,\"z\":28.82},\"direction\":{\"x\":0,\"y\":0,\"z\":-1},\"unit\":\"ft\"},{\"location\":{\"x\":10.0,\"y\":50.0,\"z\":68.82},\"direction\":{\"x\":2,\"y\":4,\"z\":-6}}]"
                    }
                   }
                  }
                 ]
                }
               },
               "created_by": {
                "type": "object",
                "description": "Login Information",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Login Information ID uniquely identifying this user.",
                  "example": 1738090
                 },
                 "name": {
                  "type": "string",
                  "description": "User's display name, formatted first name then last name.",
                  "example": "John Doe"
                 },
                 "login": {
                  "type": "string",
                  "description": "User's login email address.",
                  "example": "johndoe@example.com"
                 },
                 "company_name": {
                  "type": "string",
                  "nullable": true,
                  "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                  "example": "Builders Inc."
                 },
                 "locale": {
                  "type": "string",
                  "nullable": true,
                  "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                  "example": "ko"
                 }
                }
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created date",
                "example": "2018-04-19T09:36:42Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Updated date",
                "example": "2018-04-20T09:36:42Z"
               },
               "bim_gridline": {
                "allOf": [
                 {
                  "type": "object",
                  "description": "BIM Gridline stores the gridline details exported from modeling software like Revit",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 189
                   },
                   "filename": {
                    "type": "string",
                    "description": "Filename",
                    "example": "FINAL_MODEL.RVT"
                   },
                   "coordinate_system": {
                    "type": "string",
                    "description": "Coordinate system used in exporting gridlines",
                    "example": "internal"
                   },
                   "project_id": {
                    "type": "integer",
                    "description": "Project ID",
                    "example": 110
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Created date",
                    "example": "2019-01-04T06:13:10Z"
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Updated date",
                    "example": "2019-01-06T11:26:08Z"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "gridline_file": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "Unique integer identifier for this file attachment."
                     },
                     "name": {
                      "type": "string",
                      "description": "Base name of the file without its path",
                      "example": "filename.ext"
                     },
                     "content_type": {
                      "type": "string",
                      "nullable": true,
                      "description": "A mime type or a file extension",
                      "example": "application/vnd.ext"
                     },
                     "url": {
                      "type": "string",
                      "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                      "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                     }
                    }
                   }
                  }
                 }
                ]
               },
               "published_model": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique integer identifier for this file attachment."
                 },
                 "name": {
                  "type": "string",
                  "description": "Base name of the file without its path",
                  "example": "filename.ext"
                 },
                 "content_type": {
                  "type": "string",
                  "nullable": true,
                  "description": "A mime type or a file extension",
                  "example": "application/vnd.ext"
                 },
                 "url": {
                  "type": "string",
                  "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                  "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                 }
                }
               },
               "object_definition": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique integer identifier for this file attachment."
                 },
                 "name": {
                  "type": "string",
                  "description": "Base name of the file without its path",
                  "example": "filename.ext"
                 },
                 "content_type": {
                  "type": "string",
                  "nullable": true,
                  "description": "A mime type or a file extension",
                  "example": "application/vnd.ext"
                 },
                 "url": {
                  "type": "string",
                  "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                  "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                 }
                }
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view BIM Models",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_models',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[bim_file_id]': 'SOME_INTEGER_VALUE',\n    'filters[has_revisions]': 'SOME_BOOLEAN_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_models?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Bhas_revisions%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_models?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Bhas_revisions%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_models?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bbim_file_id%5D=SOME_INTEGER_VALUE&filters%5Bhas_revisions%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added a new attribute web_url to API response",
      "description": "Added a new attribute web_url that will contain a deep link to the models in Procore's Models Web Viewer tool.",
      "endpoint": "GET /bim_models",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-06-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-models?version=1.0#list-bim-models"
     },
     {
      "summary": "Added a new API response attribute auto_publish",
      "description": "Added a new attribute auto_publish that indicates the state of auto-publishing configuration for the model",
      "endpoint": "GET /bim_models",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-05-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-models?version=1.0#list-bim-models"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create BIM Model",
    "description": "Create a BIM Model in a Project",
    "tags": [
     "BIM Models"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_model"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 126
         },
         "view": {
          "type": "string",
          "description": "Specify response schema view",
          "enum": [
           "compact",
           "normal",
           "extended"
          ]
         },
         "bim_model": {
          "type": "object",
          "description": "BIM Model",
          "required": [
           "title"
          ],
          "properties": {
           "title": {
            "type": "string",
            "description": "BIM Model title",
            "example": "Combined Model"
           },
           "auto_publish": {
            "type": "boolean",
            "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "BIM Model",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 126
            },
            "title": {
             "type": "string",
             "description": "BIM Model title.",
             "example": "Combined Model"
            },
            "auto_publish": {
             "type": "boolean",
             "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
             "example": true
            },
            "project_id": {
             "type": "integer",
             "format": "integer",
             "description": "Unique identifier for the project.",
             "example": 29
            },
            "revisions_count": {
             "type": "number",
             "format": "integer",
             "description": "No. of model revisions published",
             "example": 6
            },
            "web_url": {
             "type": "string",
             "description": "Deep link to Procore's Models Web Viewer.",
             "example": "https://app.procore.com/60/project/models/list?view=web_viewer&m_id=101"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            },
            "current_revision_id": {
             "type": "integer",
             "nullable": true,
             "description": "Current Revision ID",
             "example": 182
            }
           }
          },
          {
           "type": "object",
           "description": "BIM Model",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 126
            },
            "title": {
             "type": "string",
             "description": "BIM Model title.",
             "example": "Combined Model"
            },
            "auto_publish": {
             "type": "boolean",
             "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
             "example": true
            },
            "project_id": {
             "type": "integer",
             "format": "integer",
             "description": "Unique identifier for the project.",
             "example": 29
            },
            "revisions_count": {
             "type": "number",
             "format": "integer",
             "description": "No. of model revisions published",
             "example": 6
            },
            "web_url": {
             "type": "string",
             "description": "Deep link to Procore's Models Web Viewer.",
             "example": "https://app.procore.com/60/project/models/list?view=web_viewer&m_id=101"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            },
            "current_revision": {
             "type": "object",
             "description": "Published BIM Model Revision",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 126
              },
              "bim_file": {
               "type": "object",
               "description": "BIM File",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 101
                },
                "name": {
                 "type": "string",
                 "description": "Name of the file to be associated to a project",
                 "example": "101_BLDG_FLR_2.NWF"
                },
                "uuid": {
                 "type": "string",
                 "description": "Unique UUID associated with the file",
                 "example": "a00147dd-a698-468a-b082-d277a564cf0c"
                }
               }
              },
              "bim_model_id": {
               "type": "integer",
               "description": "ID of the associated BIM Model",
               "example": 16
              },
              "geometry_file_bundle_id": {
               "type": "integer",
               "nullable": true,
               "description": "ID of the associated geometry file bundle",
               "example": 148
              },
              "suitability": {
               "type": "string",
               "description": "Suitability of the revision",
               "example": "issued_for_coordination"
              },
              "publish_status": {
               "type": "string",
               "description": "Status of the revision",
               "example": "in_progress"
              },
              "revision": {
               "type": "integer",
               "description": "The sequential revision count",
               "example": 1
              },
              "publisher_name": {
               "type": "string",
               "description": "Name of application publishing the model revision",
               "example": "nw_publisher"
              },
              "publisher_version": {
               "type": "string",
               "description": "Version of application publishing the model revision",
               "example": "3.1.6"
              },
              "min_boundary": {
               "type": "object",
               "description": "3D Coordinate Point",
               "properties": {
                "x": {
                 "type": "string",
                 "description": "Numeric string representing x-axis coordinate",
                 "example": "6.24"
                },
                "y": {
                 "type": "string",
                 "description": "Numeric string representing y-axis coordinate",
                 "example": "12.48"
                },
                "z": {
                 "type": "string",
                 "description": "Numeric string representing z-axis coordinate",
                 "example": "24.96"
                }
               }
              },
              "max_boundary": {
               "type": "object",
               "description": "3D Coordinate Point",
               "properties": {
                "x": {
                 "type": "string",
                 "description": "Numeric string representing x-axis coordinate",
                 "example": "6.24"
                },
                "y": {
                 "type": "string",
                 "description": "Numeric string representing y-axis coordinate",
                 "example": "12.48"
                },
                "z": {
                 "type": "string",
                 "description": "Numeric string representing z-axis coordinate",
                 "example": "24.96"
                }
               }
              },
              "rotation": {
               "type": "object",
               "description": "3D Coordinate Point",
               "properties": {
                "x": {
                 "type": "string",
                 "description": "Numeric string representing x-axis coordinate",
                 "example": "6.24"
                },
                "y": {
                 "type": "string",
                 "description": "Numeric string representing y-axis coordinate",
                 "example": "12.48"
                },
                "z": {
                 "type": "string",
                 "description": "Numeric string representing z-axis coordinate",
                 "example": "24.96"
                }
               }
              },
              "viewpoints": {
               "type": "array",
               "description": "An array of viewpoints",
               "items": {
                "type": "object",
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 206
                   },
                   "bim_file_id": {
                    "type": "integer",
                    "description": "ID of associated BIM File",
                    "example": 809
                   },
                   "view_folder_id": {
                    "type": "integer",
                    "nullable": true,
                    "description": "ID of associated BIM View Folder",
                    "example": 316
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Created date",
                    "example": "2018-04-19T09:36:42Z"
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Updated date",
                    "example": "2018-04-20T09:36:42Z"
                   },
                   "snapshot": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer"
                     },
                     "name": {
                      "type": "string",
                      "description": "Base name of the file without its path",
                      "example": "filename.ext"
                     },
                     "content_type": {
                      "type": "string",
                      "description": "A mime type or a file extension",
                      "example": "image/png"
                     },
                     "url": {
                      "type": "string",
                      "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                      "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                     }
                    }
                   },
                   "name": {
                    "type": "string",
                    "description": "Viewpoint name",
                    "example": "Mechanical Conflict View"
                   },
                   "render_mode": {
                    "type": "string",
                    "description": "Viewer render mode when viewpoint is applied",
                    "enum": [
                     "shaded",
                     "xray"
                    ]
                   },
                   "uuid": {
                    "type": "string",
                    "nullable": true,
                    "description": "Unique identifier for the Extraction viewpoint",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                   },
                   "visibility": {
                    "type": "object",
                    "nullable": true,
                    "description": "Object Visibility settings",
                    "properties": {
                     "default_visibility": {
                      "type": "boolean"
                     },
                     "exceptions": {
                      "type": "object",
                      "description": "Group of model objects represented as an array of object ids, or object ranges",
                      "properties": {
                       "object_ids": {
                        "type": "array",
                        "description": "Array of object ids",
                        "example": [
                         24861,
                         46732
                        ],
                        "items": {
                         "type": "integer"
                        }
                       },
                       "object_ranges": {
                        "type": "array",
                        "description": "Array of object ranges. A range is an array containing two numbers, the first represents object id, the second represents the number of objects in the range.",
                        "example": [
                         [
                          24862,
                          24
                         ]
                        ],
                        "items": {
                         "type": "array",
                         "items": {
                          "type": "integer"
                         },
                         "minItems": 2,
                         "maxItems": 2
                        }
                       }
                      }
                     }
                    }
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "camera_data": {
                    "type": "string",
                    "description": "JSON string representation of camera position",
                    "example": "{\"perspective_camera\":{\"camera_direction\":{\"x\":-0.24,\"y\":-0.14,\"z\":-0.99},\"camera_up_vector\":{\"x\":-0.17,\"y\":-0.74,\"z\":0.14},\"camera_view_point\":{\"x\":-13.86,\"y\":64.83,\"z\":31.9},\"field_of_view\":0.78,\"target_distance\":9.18,\"unit\":\"ft\"}}"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "redlines_data": {
                    "type": "string",
                    "description": "JSON string representation of markup",
                    "example": "{\"lines\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":-0.29,\"y\":-0.53,\"z\":0.0}}],\"texts\":[{\"origin\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"text\":\"Issue\",\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1}}],\"arrows\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.16,\"y\":0.33,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":0.58,\"y\":0.25,\"z\":0.0}}],\"ellipses\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"max_point\":{\"x\":0.11,\"y\":-0.25,\"z\":0.0},\"min_point\":{\"x\":0.31,\"y\":0.68,\"z\":0.0},\"thickness\":3}]}"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "sections_data": {
                    "type": "string",
                    "description": "JSON string representation of sections applied to a 3d model as a set of clipping planes",
                    "example": "[{\"location\":{\"x\":0.0,\"y\":0.0,\"z\":28.82},\"direction\":{\"x\":0,\"y\":0,\"z\":-1},\"unit\":\"ft\"},{\"location\":{\"x\":10.0,\"y\":50.0,\"z\":68.82},\"direction\":{\"x\":2,\"y\":4,\"z\":-6}}]"
                   }
                  }
                 }
                ]
               }
              },
              "created_by": {
               "type": "object",
               "description": "Login Information",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID uniquely identifying this user.",
                 "example": 1738090
                },
                "name": {
                 "type": "string",
                 "description": "User's display name, formatted first name then last name.",
                 "example": "John Doe"
                },
                "login": {
                 "type": "string",
                 "description": "User's login email address.",
                 "example": "johndoe@example.com"
                },
                "company_name": {
                 "type": "string",
                 "nullable": true,
                 "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                 "example": "Builders Inc."
                },
                "locale": {
                 "type": "string",
                 "nullable": true,
                 "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                 "example": "ko"
                }
               }
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2018-04-19T09:36:42Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2018-04-20T09:36:42Z"
              },
              "bim_gridline": {
               "allOf": [
                {
                 "type": "object",
                 "description": "BIM Gridline stores the gridline details exported from modeling software like Revit",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 189
                  },
                  "filename": {
                   "type": "string",
                   "description": "Filename",
                   "example": "FINAL_MODEL.RVT"
                  },
                  "coordinate_system": {
                   "type": "string",
                   "description": "Coordinate system used in exporting gridlines",
                   "example": "internal"
                  },
                  "project_id": {
                   "type": "integer",
                   "description": "Project ID",
                   "example": 110
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Created date",
                   "example": "2019-01-04T06:13:10Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Updated date",
                   "example": "2019-01-06T11:26:08Z"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "gridline_file": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique integer identifier for this file attachment."
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "nullable": true,
                     "description": "A mime type or a file extension",
                     "example": "application/vnd.ext"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  }
                 }
                }
               ]
              },
              "published_model": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique integer identifier for this file attachment."
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              },
              "object_definition": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique integer identifier for this file attachment."
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/bim_models',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 126,\n    view: 'compact',\n    bim_model: {title: 'Combined Model', auto_publish: false}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_model\\\":{\\\"title\\\":\\\"Combined Model\\\",\\\"auto_publish\\\":false}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/bim_models\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/bim_models \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":126,\"view\":\"compact\",\"bim_model\":{\"title\":\"Combined Model\",\"auto_publish\":false}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_models\"),\n    Content = new StringContent(\"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_model\\\":{\\\"title\\\":\\\"Combined Model\\\",\\\"auto_publish\\\":false}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added API request parameter auto_publish",
      "description": "Added a request parameter auto_publish that allows the state of auto-publishing configuration for the model to be set",
      "endpoint": "POST /bim_models",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-05-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-models?version=1.0#create-bim-model"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/bim_models/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "BIM Model ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show BIM Model",
    "description": "Return a single BIM Model item.",
    "tags": [
     "BIM Models"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe extended view contains the response shown below.\nThe normal view contains 'current_revision_id' instead of an embedded object 'current_revision'\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "BIM Model",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 126
            },
            "title": {
             "type": "string",
             "description": "BIM Model title.",
             "example": "Combined Model"
            },
            "auto_publish": {
             "type": "boolean",
             "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
             "example": true
            },
            "project_id": {
             "type": "integer",
             "format": "integer",
             "description": "Unique identifier for the project.",
             "example": 29
            },
            "revisions_count": {
             "type": "number",
             "format": "integer",
             "description": "No. of model revisions published",
             "example": 6
            },
            "web_url": {
             "type": "string",
             "description": "Deep link to Procore's Models Web Viewer.",
             "example": "https://app.procore.com/60/project/models/list?view=web_viewer&m_id=101"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            },
            "current_revision_id": {
             "type": "integer",
             "nullable": true,
             "description": "Current Revision ID",
             "example": 182
            }
           }
          },
          {
           "type": "object",
           "description": "BIM Model",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 126
            },
            "title": {
             "type": "string",
             "description": "BIM Model title.",
             "example": "Combined Model"
            },
            "auto_publish": {
             "type": "boolean",
             "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
             "example": true
            },
            "project_id": {
             "type": "integer",
             "format": "integer",
             "description": "Unique identifier for the project.",
             "example": 29
            },
            "revisions_count": {
             "type": "number",
             "format": "integer",
             "description": "No. of model revisions published",
             "example": 6
            },
            "web_url": {
             "type": "string",
             "description": "Deep link to Procore's Models Web Viewer.",
             "example": "https://app.procore.com/60/project/models/list?view=web_viewer&m_id=101"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            },
            "current_revision": {
             "type": "object",
             "description": "Published BIM Model Revision",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 126
              },
              "bim_file": {
               "type": "object",
               "description": "BIM File",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 101
                },
                "name": {
                 "type": "string",
                 "description": "Name of the file to be associated to a project",
                 "example": "101_BLDG_FLR_2.NWF"
                },
                "uuid": {
                 "type": "string",
                 "description": "Unique UUID associated with the file",
                 "example": "a00147dd-a698-468a-b082-d277a564cf0c"
                }
               }
              },
              "bim_model_id": {
               "type": "integer",
               "description": "ID of the associated BIM Model",
               "example": 16
              },
              "geometry_file_bundle_id": {
               "type": "integer",
               "nullable": true,
               "description": "ID of the associated geometry file bundle",
               "example": 148
              },
              "suitability": {
               "type": "string",
               "description": "Suitability of the revision",
               "example": "issued_for_coordination"
              },
              "publish_status": {
               "type": "string",
               "description": "Status of the revision",
               "example": "in_progress"
              },
              "revision": {
               "type": "integer",
               "description": "The sequential revision count",
               "example": 1
              },
              "publisher_name": {
               "type": "string",
               "description": "Name of application publishing the model revision",
               "example": "nw_publisher"
              },
              "publisher_version": {
               "type": "string",
               "description": "Version of application publishing the model revision",
               "example": "3.1.6"
              },
              "min_boundary": {
               "type": "object",
               "description": "3D Coordinate Point",
               "properties": {
                "x": {
                 "type": "string",
                 "description": "Numeric string representing x-axis coordinate",
                 "example": "6.24"
                },
                "y": {
                 "type": "string",
                 "description": "Numeric string representing y-axis coordinate",
                 "example": "12.48"
                },
                "z": {
                 "type": "string",
                 "description": "Numeric string representing z-axis coordinate",
                 "example": "24.96"
                }
               }
              },
              "max_boundary": {
               "type": "object",
               "description": "3D Coordinate Point",
               "properties": {
                "x": {
                 "type": "string",
                 "description": "Numeric string representing x-axis coordinate",
                 "example": "6.24"
                },
                "y": {
                 "type": "string",
                 "description": "Numeric string representing y-axis coordinate",
                 "example": "12.48"
                },
                "z": {
                 "type": "string",
                 "description": "Numeric string representing z-axis coordinate",
                 "example": "24.96"
                }
               }
              },
              "rotation": {
               "type": "object",
               "description": "3D Coordinate Point",
               "properties": {
                "x": {
                 "type": "string",
                 "description": "Numeric string representing x-axis coordinate",
                 "example": "6.24"
                },
                "y": {
                 "type": "string",
                 "description": "Numeric string representing y-axis coordinate",
                 "example": "12.48"
                },
                "z": {
                 "type": "string",
                 "description": "Numeric string representing z-axis coordinate",
                 "example": "24.96"
                }
               }
              },
              "viewpoints": {
               "type": "array",
               "description": "An array of viewpoints",
               "items": {
                "type": "object",
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 206
                   },
                   "bim_file_id": {
                    "type": "integer",
                    "description": "ID of associated BIM File",
                    "example": 809
                   },
                   "view_folder_id": {
                    "type": "integer",
                    "nullable": true,
                    "description": "ID of associated BIM View Folder",
                    "example": 316
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Created date",
                    "example": "2018-04-19T09:36:42Z"
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Updated date",
                    "example": "2018-04-20T09:36:42Z"
                   },
                   "snapshot": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer"
                     },
                     "name": {
                      "type": "string",
                      "description": "Base name of the file without its path",
                      "example": "filename.ext"
                     },
                     "content_type": {
                      "type": "string",
                      "description": "A mime type or a file extension",
                      "example": "image/png"
                     },
                     "url": {
                      "type": "string",
                      "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                      "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                     }
                    }
                   },
                   "name": {
                    "type": "string",
                    "description": "Viewpoint name",
                    "example": "Mechanical Conflict View"
                   },
                   "render_mode": {
                    "type": "string",
                    "description": "Viewer render mode when viewpoint is applied",
                    "enum": [
                     "shaded",
                     "xray"
                    ]
                   },
                   "uuid": {
                    "type": "string",
                    "nullable": true,
                    "description": "Unique identifier for the Extraction viewpoint",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                   },
                   "visibility": {
                    "type": "object",
                    "nullable": true,
                    "description": "Object Visibility settings",
                    "properties": {
                     "default_visibility": {
                      "type": "boolean"
                     },
                     "exceptions": {
                      "type": "object",
                      "description": "Group of model objects represented as an array of object ids, or object ranges",
                      "properties": {
                       "object_ids": {
                        "type": "array",
                        "description": "Array of object ids",
                        "example": [
                         24861,
                         46732
                        ],
                        "items": {
                         "type": "integer"
                        }
                       },
                       "object_ranges": {
                        "type": "array",
                        "description": "Array of object ranges. A range is an array containing two numbers, the first represents object id, the second represents the number of objects in the range.",
                        "example": [
                         [
                          24862,
                          24
                         ]
                        ],
                        "items": {
                         "type": "array",
                         "items": {
                          "type": "integer"
                         },
                         "minItems": 2,
                         "maxItems": 2
                        }
                       }
                      }
                     }
                    }
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "camera_data": {
                    "type": "string",
                    "description": "JSON string representation of camera position",
                    "example": "{\"perspective_camera\":{\"camera_direction\":{\"x\":-0.24,\"y\":-0.14,\"z\":-0.99},\"camera_up_vector\":{\"x\":-0.17,\"y\":-0.74,\"z\":0.14},\"camera_view_point\":{\"x\":-13.86,\"y\":64.83,\"z\":31.9},\"field_of_view\":0.78,\"target_distance\":9.18,\"unit\":\"ft\"}}"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "redlines_data": {
                    "type": "string",
                    "description": "JSON string representation of markup",
                    "example": "{\"lines\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":-0.29,\"y\":-0.53,\"z\":0.0}}],\"texts\":[{\"origin\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"text\":\"Issue\",\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1}}],\"arrows\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.16,\"y\":0.33,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":0.58,\"y\":0.25,\"z\":0.0}}],\"ellipses\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"max_point\":{\"x\":0.11,\"y\":-0.25,\"z\":0.0},\"min_point\":{\"x\":0.31,\"y\":0.68,\"z\":0.0},\"thickness\":3}]}"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "sections_data": {
                    "type": "string",
                    "description": "JSON string representation of sections applied to a 3d model as a set of clipping planes",
                    "example": "[{\"location\":{\"x\":0.0,\"y\":0.0,\"z\":28.82},\"direction\":{\"x\":0,\"y\":0,\"z\":-1},\"unit\":\"ft\"},{\"location\":{\"x\":10.0,\"y\":50.0,\"z\":68.82},\"direction\":{\"x\":2,\"y\":4,\"z\":-6}}]"
                   }
                  }
                 }
                ]
               }
              },
              "created_by": {
               "type": "object",
               "description": "Login Information",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Login Information ID uniquely identifying this user.",
                 "example": 1738090
                },
                "name": {
                 "type": "string",
                 "description": "User's display name, formatted first name then last name.",
                 "example": "John Doe"
                },
                "login": {
                 "type": "string",
                 "description": "User's login email address.",
                 "example": "johndoe@example.com"
                },
                "company_name": {
                 "type": "string",
                 "nullable": true,
                 "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                 "example": "Builders Inc."
                },
                "locale": {
                 "type": "string",
                 "nullable": true,
                 "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                 "example": "ko"
                }
               }
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created date",
               "example": "2018-04-19T09:36:42Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated date",
               "example": "2018-04-20T09:36:42Z"
              },
              "bim_gridline": {
               "allOf": [
                {
                 "type": "object",
                 "description": "BIM Gridline stores the gridline details exported from modeling software like Revit",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 189
                  },
                  "filename": {
                   "type": "string",
                   "description": "Filename",
                   "example": "FINAL_MODEL.RVT"
                  },
                  "coordinate_system": {
                   "type": "string",
                   "description": "Coordinate system used in exporting gridlines",
                   "example": "internal"
                  },
                  "project_id": {
                   "type": "integer",
                   "description": "Project ID",
                   "example": 110
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Created date",
                   "example": "2019-01-04T06:13:10Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Updated date",
                   "example": "2019-01-06T11:26:08Z"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "gridline_file": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique integer identifier for this file attachment."
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "nullable": true,
                     "description": "A mime type or a file extension",
                     "example": "application/vnd.ext"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  }
                 }
                }
               ]
              },
              "published_model": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique integer identifier for this file attachment."
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              },
              "object_definition": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique integer identifier for this file attachment."
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/bim_models/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', view: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/bim_models/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/bim_models/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_models/%7Bid%7D?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added a new attribute web_url to API response",
      "description": "Added a new attribute web_url that will contain a deep link to the models in Procore's Models Web Viewer tool.",
      "endpoint": "GET /bim_models/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-06-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-models?version=1.0#show-bim-model"
     },
     {
      "summary": "Added a new API response attribute auto_publish",
      "description": "Added a new attribute auto_publish that indicates the state of auto-publishing configuration for the model",
      "endpoint": "GET /bim_models/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-05-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-models?version=1.0#show-bim-model"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update BIM Model",
    "description": "Update a BIM Model item",
    "tags": [
     "BIM Models"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_model"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 126
         },
         "bim_model": {
          "type": "object",
          "description": "BIM Model",
          "required": [
           "title"
          ],
          "properties": {
           "title": {
            "type": "string",
            "description": "BIM Model title",
            "example": "Combined Model"
           },
           "auto_publish": {
            "type": "boolean",
            "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
            "example": true
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "BIM Model",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 126
            },
            "title": {
             "type": "string",
             "description": "BIM Model title.",
             "example": "Combined Model"
            },
            "auto_publish": {
             "type": "boolean",
             "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
             "example": true
            },
            "project_id": {
             "type": "integer",
             "format": "integer",
             "description": "Unique identifier for the project.",
             "example": 29
            },
            "revisions_count": {
             "type": "number",
             "format": "integer",
             "description": "No. of model revisions published",
             "example": 6
            },
            "web_url": {
             "type": "string",
             "description": "Deep link to Procore's Models Web Viewer.",
             "example": "https://app.procore.com/60/project/models/list?view=web_viewer&m_id=101"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            },
            "current_revision_id": {
             "type": "integer",
             "nullable": true,
             "description": "Current Revision ID",
             "example": 182
            }
           }
          },
          {
           "type": "object",
           "description": "BIM Model",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 126
            },
            "title": {
             "type": "string",
             "description": "BIM Model title.",
             "example": "Combined Model"
            },
            "auto_publish": {
             "type": "boolean",
             "description": "Model auto publishing setting. When set to true, a new model revision is automatically published when a new version of the input model file is uploaded",
             "example": true
            },
            "project_id": {
             "type": "integer",
             "format": "integer",
             "description": "Unique identifier for the project.",
             "example": 29
            },
            "revisions_count": {
             "type": "number",
             "format": "integer",
             "description": "No. of model revisions published",
             "example": 6
            },
            "web_url": {
             "type": "string",
             "description": "Deep link to Procore's Models Web Viewer.",
             "example": "https://app.procore.com/60/project/models/list?view=web_viewer&m_id=101"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            },
            "current_revision": {
             "type": "object",
             "description": "Published BIM Model Revision",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 126
              },
              "bim_file": {
               "type": "object",
               "description": "BIM File",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 101
                },
                "name": {
                 "type": "string",
                 "description": "Name of the file to be associated to a project",
                 "example": "101_BLDG_FLR_2.NWF"
                },
                "uuid": {
                 "type": "string",
                 "description": "Unique UUID associated with the file",
                 "example": "a00147dd-a698-468a-b082-d277a564cf0c"
                }
               }
              },
              "bim_model_id": {
               "type": "integer",
               "description": "ID of the associated BIM Model",
               "example": 16
              },
              "geometry_file_bundle_id": {
               "type": "integer",
               "nullable": true,
               "description": "ID of the associated geometry file bundle",
               "example": 148
              },
              "suitability": {
               "type": "string",
               "description": "Suitability of the revision",
               "example": "issued_for_coordination"
              },
              "publish_status": {
               "type": "string",
               "description": "Status of the revision",
               "example": "in_progress"
              },
[...]
