{
 "openapi": "3.0.0",
 "info": {
  "title": "BIM Model Revision Viewpoint Batch",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "BIM Model Revision Viewpoint Batch",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/bim_model_revision_viewpoints/batch": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a batch of BIM Model Revision Viewpoints",
    "description": "Create relationships between several BIM Model Revisions and BIM Viewpoints.",
    "tags": [
     "BIM Models"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_model_revision_viewpoints"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 126
         },
         "bim_model_revision_viewpoints": {
          "type": "array",
          "description": "An array of BIM Model Revision Viewpoint payloads",
          "items": {
           "type": "object",
           "description": "BIM Model Revision Viewpoint",
           "required": [
            "bim_model_revision_id",
            "bim_viewpoint_id"
           ],
           "properties": {
            "bim_model_revision_id": {
             "type": "integer",
             "description": "BIM Model Revision ID",
             "example": 91
            },
            "bim_viewpoint_id": {
             "type": "integer",
             "description": "BIM Viewpoint ID. The BIM Viewpoint should be associated to the same BIM File as the BIM Model Revision",
             "example": 83
            },
            "primary": {
             "type": "boolean",
             "description": "Flag to indicate whether this is primary viewpoint for the model revision. There can only be one primary viewpoint per model revision",
             "example": false
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "BIM Model Revision Viewpoint Batch create response",
         "type": "object",
         "properties": {
          "bim_model_revision_viewpoints": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "BIM Model Revision Viewpoint associates BIM Model Revisions to BIM Viewpoint",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1
             },
             "bim_model_revision_id": {
              "type": "integer",
              "description": "ID of associated published BIM Model Revision",
              "example": 91
             },
             "bim_viewpoint_id": {
              "type": "integer",
              "description": "ID of associated BIM Viewpoint",
              "example": 83
             },
             "primary": {
              "type": "boolean",
              "description": "Indicates whether primary viewpoint",
              "example": false
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-20T09:36:42Z"
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "type": "object",
              "description": "BIM Model Revision Viewpoint",
              "required": [
               "bim_model_revision_id",
               "bim_viewpoint_id"
              ],
              "properties": {
               "bim_model_revision_id": {
                "type": "integer",
                "description": "BIM Model Revision ID",
                "example": 91
               },
               "bim_viewpoint_id": {
                "type": "integer",
                "description": "BIM Viewpoint ID. The BIM Viewpoint should be associated to the same BIM File as the BIM Model Revision",
                "example": 83
               },
               "primary": {
                "type": "boolean",
                "description": "Flag to indicate whether this is primary viewpoint for the model revision. There can only be one primary viewpoint per model revision",
                "example": false
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/bim_model_revision_viewpoints/batch',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 126,\n    bim_model_revision_viewpoints: [{bim_model_revision_id: 91, bim_viewpoint_id: 83, primary: false}]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":126,\\\"bim_model_revision_viewpoints\\\":[{\\\"bim_model_revision_id\\\":91,\\\"bim_viewpoint_id\\\":83,\\\"primary\\\":false}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/bim_model_revision_viewpoints/batch\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/bim_model_revision_viewpoints/batch \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":126,\"bim_model_revision_viewpoints\":[{\"bim_model_revision_id\":91,\"bim_viewpoint_id\":83,\"primary\":false}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/bim_model_revision_viewpoints/batch\"),\n    Content = new StringContent(\"{\\\"project_id\\\":126,\\\"bim_model_revision_viewpoints\\\":[{\\\"bim_model_revision_id\\\":91,\\\"bim_viewpoint_id\\\":83,\\\"primary\\\":false}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk create endpoint for BIM Model Revision Viewpoints",
      "description": "Added a bulk create endpoint that allows creating multiple BIM Model Revision Viewpoint associations in a single request.",
      "endpoint": "POST /bim_model_revision_viewpoints/batch",
      "type": "feature",
      "breaking": false,
      "datestamp": "2020-09-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "bim-model-revision-viewpoint-batch?version=1.0#create-a-batch-of-bim-model-revision-viewpoints"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}