{
 "openapi": "3.0.0",
 "info": {
  "title": "Budget View Summary Rows",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Budget",
  "x-resource-name": "Budget View Summary Rows",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/budget_views/{budget_view_id}/summary_rows": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Budget View Summary Rows",
    "description": "Return a list of all Budget View Summary Rows for a project and budget view. The type of row returned is dependent on\nthe value used in the group_by query param.\n\nNote: In addition to all the fields outlined in the response, there will be an additional key for each visible\nsource and formula column created for the particular budget view.",
    "tags": [
     "Budget Views"
    ],
    "parameters": [
     {
      "name": "budget_view_id",
      "in": "path",
      "description": "Budget View ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "biller[]",
      "in": "query",
      "description": "Return item(s) within a specific biller. Format is biller[]=id=1,type=SubJob or biller[]=id=1,type=Project",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "cost_code_id[]",
      "in": "query",
      "description": "Return item(s) within a specific Cost Code id or range of Cost Code IDs",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "cost_code_name[]",
      "in": "query",
      "description": "Return item(s) within a specific Cost Code name or range of Cost Code names",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "root_cost_code_id[]",
      "in": "query",
      "description": "Return item(s) within a specific Root Cost Code id or range of Root Cost Code IDs",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "root_cost_code_name[]",
      "in": "query",
      "description": "Return item(s) within a specific Root Cost Code name or range of Root Cost Code names",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "category_id[]",
      "in": "query",
      "description": "Return item(s) within a specific category id (line item type id) or range of category IDs",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "budget_line_item_id[]",
      "in": "query",
      "description": "Return item(s) within a specific budget line item id or range of budget line item IDs",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "group_by",
      "in": "query",
      "description": "Groups the data. Value can be a comma separated string. Default is biller,root_cost_code",
      "schema": {
       "type": "string",
       "enum": [
        "project",
        "biller",
        "category",
        "cost_code",
        "root_cost_code",
        "cost_code_name",
        "root_cost_code_name"
       ]
      }
     },
     {
      "name": "budget_row_type",
      "in": "query",
      "required": false,
      "description": "Return budgeted, unbudgeted or all item(s) from all budget rows for a project. Default is budgeted. Note that when the unbudgeted or all values are supplied, the subtotals may change depending on the presence of rows that have budgeted false",
      "schema": {
       "type": "string",
       "enum": [
        "budgeted",
        "unbudgeted",
        "all"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Budget View Summary Rows",
         "items": {
          "type": "object",
          "description": "Budget View Summary Row",
          "properties": {
           "id": {
            "type": "string",
            "description": "Identifier of the entity this summary row aggregates (e.g. a cost code, category, or biller, depending on the group_by used).",
            "example": 75414
           },
           "name": {
            "type": "string",
            "description": "Display name of the entity this summary row aggregates.",
            "example": "Labor"
           },
           "biller_type": {
            "type": "string",
            "enum": [
             "Project",
             "SubJob"
            ],
            "description": "Whether the biller is the project itself or a sub job. Populated only when grouping by biller.",
            "example": "SubJob"
           },
           "original_budget_amount": {
            "type": "string",
            "format": "float",
            "description": "Original budgeted amount for this group, before any budget changes, as a decimal string.",
            "example": "20000.00"
           },
           "budget_modifications": {
            "type": "string",
            "format": "float",
            "description": "Net amount transferred to or from this group via budget modifications, as a decimal string.",
            "example": "20000.00"
           },
           "budget_forecast": {
            "type": "object",
            "description": "Forecasted budget totals for this group. Present only when the budget view includes a forecast column.",
            "properties": {
             "amount": {
              "type": "string",
              "format": "float",
              "description": "Forecasted budget amount for this group, as a decimal string.",
              "example": "20000.00"
             }
            }
           },
           "currency_configuration": {
            "type": "object",
            "description": "Currency in which this row's monetary amounts are denominated.",
            "properties": {
             "currency_iso_code": {
              "type": "string",
              "description": "ISO 4217 currency code for the row's amounts.",
              "example": "USD"
             }
            }
           }
          },
          "additionalProperties": true
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "503": {
      "description": "Service Unavailable \u2014 Budget Tool is in maintenance mode for this company",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message",
            "details"
           ],
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case",
             "example": "SERVICE_UNAVAILABLE"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the error",
             "example": "The Budget Tool is temporarily unavailable for maintenance. Please try again later."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Machine-readable code identifying the specific error",
                "example": "MAINTENANCE_MODE"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "budget"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "The Budget Tool is temporarily unavailable for maintenance. Please try again later."
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/budget_views/%7Bbudget_view_id%7D/summary_rows',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'biller[]': 'SOME_ARRAY_VALUE',\n    'cost_code_id[]': 'SOME_ARRAY_VALUE',\n    'cost_code_name[]': 'SOME_ARRAY_VALUE',\n    'root_cost_code_id[]': 'SOME_ARRAY_VALUE',\n    'root_cost_code_name[]': 'SOME_ARRAY_VALUE',\n    'category_id[]': 'SOME_ARRAY_VALUE',\n    'budget_line_item_id[]': 'SOME_ARRAY_VALUE',\n    group_by: 'SOME_STRING_VALUE',\n    budget_row_type: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/budget_views/%7Bbudget_view_id%7D/summary_rows?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&biller%5B%5D=SOME_ARRAY_VALUE&cost_code_id%5B%5D=SOME_ARRAY_VALUE&cost_code_name%5B%5D=SOME_ARRAY_VALUE&root_cost_code_id%5B%5D=SOME_ARRAY_VALUE&root_cost_code_name%5B%5D=SOME_ARRAY_VALUE&category_id%5B%5D=SOME_ARRAY_VALUE&budget_line_item_id%5B%5D=SOME_ARRAY_VALUE&group_by=SOME_STRING_VALUE&budget_row_type=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/budget_views/%7Bbudget_view_id%7D/summary_rows?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&biller%5B%5D=SOME_ARRAY_VALUE&cost_code_id%5B%5D=SOME_ARRAY_VALUE&cost_code_name%5B%5D=SOME_ARRAY_VALUE&root_cost_code_id%5B%5D=SOME_ARRAY_VALUE&root_cost_code_name%5B%5D=SOME_ARRAY_VALUE&category_id%5B%5D=SOME_ARRAY_VALUE&budget_line_item_id%5B%5D=SOME_ARRAY_VALUE&group_by=SOME_STRING_VALUE&budget_row_type=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/budget_views/%7Bbudget_view_id%7D/summary_rows?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&biller%5B%5D=SOME_ARRAY_VALUE&cost_code_id%5B%5D=SOME_ARRAY_VALUE&cost_code_name%5B%5D=SOME_ARRAY_VALUE&root_cost_code_id%5B%5D=SOME_ARRAY_VALUE&root_cost_code_name%5B%5D=SOME_ARRAY_VALUE&category_id%5B%5D=SOME_ARRAY_VALUE&budget_line_item_id%5B%5D=SOME_ARRAY_VALUE&group_by=SOME_STRING_VALUE&budget_row_type=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}