{
 "openapi": "3.0.0",
 "info": {
  "title": "Budget Details",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Budget",
  "x-resource-name": "Budget Details",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/budget_views/{budget_view_id}/budget_details": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Budget Details",
    "description": "Return a list of all rows from the Budget Detail Report for a Project and Budget View.\n\nNote:\nIn addition to all the fields outlined in the response example, there will be an additional key for each visible,\nnon-formula, non-qualitative column (Ex: Original Budget Amount, Budget Modifications, Forecast to Complete, and Source Columns).\n\nThe integer keys returned represent the IDs of the budget columns which are returned by the Budget Detail Columns API.\n\nAs well, valid filter values can be found through the Budget Detail Filter Options API.",
    "tags": [
     "Budget Views"
    ],
    "parameters": [
     {
      "name": "budget_view_id",
      "in": "path",
      "description": "Budget View ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Budget Details Body",
        "type": "object",
        "properties": {
         "filters": {
          "title": "Budget Detail Filter Options",
          "type": "object",
          "description": "Optional filters restricting which budget detail rows are returned. Each key corresponds to a filterable column; valid values are obtained from the List Budget Detail Filter Options API.",
          "properties": {
           "biller": {
            "type": "array",
            "description": "Filter rows by biller (Project or Sub Job). Each entry targets a Project or Sub Job by id and type.",
            "items": {
             "type": "object",
             "properties": {
              "value": {
               "type": "array",
               "description": "IDs of the Projects or Sub Jobs to filter by",
               "items": {
                "type": "integer",
                "description": "Project or Sub Job ID",
                "example": 56
               }
              },
              "type": {
               "type": "string",
               "description": "Whether the value identifies a Project or a Sub Job.",
               "enum": [
                "Project",
                "SubJob"
               ],
               "example": "SubJob"
              },
              "name": {
               "type": "string",
               "description": "Display name of the Project or Sub Job",
               "example": "North Building"
              }
             }
            }
           },
           "cost_code": {
            "type": "array",
            "description": "Filter rows by Cost Code id.",
            "items": {
             "type": "integer",
             "description": "Cost Code ID",
             "example": 1
            }
           },
           "root_cost_code": {
            "type": "array",
            "description": "Filter rows by Division (root cost code) id.",
            "items": {
             "type": "integer",
             "description": "Division (root_cost_code) ID",
             "example": 1
            }
           },
           "cost_type": {
            "type": "array",
            "description": "Filter rows by Cost Type id.",
            "items": {
             "type": "integer",
             "description": "Cost Type ID",
             "example": 1
            }
           },
           "vendor": {
            "type": "array",
            "description": "Filter rows by Vendor id.",
            "items": {
             "type": "integer",
             "description": "Vendor ID",
             "example": 1
            }
           },
           "detail_type": {
            "type": "array",
            "description": "Filter rows by detail type value.",
            "items": {
             "type": "string",
             "description": "Detail type value (e.g. original_budget_amount)",
             "example": "original_budget_amount"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Budget Details",
         "items": {
          "type": "object",
          "description": "A single row of the Budget Detail Report. In addition to the fields below, the response includes one extra key per visible, non-formula, non-qualitative budget column, keyed by the column's id (see the List Budget Detail Columns API).",
          "properties": {
           "biller": {
            "type": "object",
            "description": "The Project or Sub Job (biller) the row is attributed to. Filter by passing its id under filters.biller in the List Budget Details request.",
            "properties": {
             "id": {
              "type": "integer",
              "example": 5,
              "nullable": true
             },
             "name": {
              "type": "string",
              "example": "Renovations for Tower B"
             }
            }
           },
           "contract": {
            "type": "object",
            "description": "The contract associated with the row, when the source is a contract.",
            "properties": {
             "id": {
              "type": "integer",
              "example": 123,
              "nullable": true
             },
             "name": {
              "type": "string",
              "example": "Framing Subcontract",
              "nullable": true
             }
            }
           },
           "cost_code": {
            "type": "object",
            "description": "The Cost Code for the row. Filter by passing its id under filters.cost_code in the List Budget Details request.",
            "properties": {
             "id": {
              "type": "integer",
              "example": 123,
              "nullable": true
             },
             "name": {
              "type": "string",
              "example": "01-000 - Purpose"
             }
            }
           },
           "cost_type": {
            "type": "object",
            "description": "The Cost Type (line item type) for the row. Filter by passing its id under filters.cost_type in the List Budget Details request.",
            "properties": {
             "id": {
              "type": "integer",
              "example": 123,
              "nullable": true
             },
             "name": {
              "type": "string",
              "example": "Labor"
             }
            }
           },
           "description": {
            "type": "string",
            "description": "Free-text description of the underlying source record for the row. Null when the source has no description.",
            "example": "Lumber materials",
            "nullable": true
           },
           "detail_type": {
            "type": "object",
            "description": "The type of source record the row represents (e.g. a commitment contract, direct cost, or forecast item). Filter by passing the id under filters.detail_type in the List Budget Details request.",
            "properties": {
             "id": {
              "type": "string",
              "example": "commitment_contract"
             },
             "name": {
              "type": "string",
              "example": "Commitment Contract"
             }
            }
           },
           "id": {
            "type": "string",
            "description": "Unique identifier of the budget detail row, formed from the source record type and its id (e.g. \"budget_line_items-12345\").",
            "example": "budget_line_items-12345"
           },
           "item": {
            "type": "string",
            "description": "Human-readable reference to the underlying source record (e.g. an invoice or contract line). Null when there is no associated item.",
            "example": "Invoice #0098: Lumber for northern wall",
            "nullable": true
           },
           "link": {
            "type": "string",
            "description": "Web app URL where the source record for this row can be viewed. Null when the source has no linkable location.",
            "example": "https://app.procore.com/221781/project/commitments/work_order_contracts/4137556",
            "nullable": true
           },
           "root_cost_code": {
            "type": "object",
            "description": "The Division (root cost code) of the row's cost code. Filter by passing its id under filters.root_cost_code in the List Budget Details request.",
            "properties": {
             "id": {
              "type": "integer",
              "example": 5,
              "nullable": true
             },
             "name": {
              "type": "string",
              "example": "01 - General Requirements"
             }
            }
           },
           "vendor": {
            "type": "object",
            "description": "The Vendor for the row. Filter by passing its id under filters.vendor in the List Budget Details request.",
            "properties": {
             "id": {
              "type": "integer",
              "example": 123,
              "nullable": true
             },
             "name": {
              "type": "string",
              "example": "Fantastic Framers, LLC"
             }
            }
           },
           "wbs_code": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Wbs Code ID",
              "example": 999
             },
             "flat_code": {
              "type": "string",
              "description": "Wbs Code",
              "example": "01-011.CT1"
             },
             "description": {
              "type": "string",
              "description": "Wbs Code Description",
              "example": "Project Engineer.Cost Type 1"
             }
            }
           }
          },
          "additionalProperties": true
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "408": {
      "description": "Request Timeout",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/budget_views/%7Bbudget_view_id%7D/budget_details',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    filters: {\n      biller: [{value: [56], type: 'SubJob', name: 'North Building'}],\n      cost_code: [1],\n      root_cost_code: [1],\n      cost_type: [1],\n      vendor: [1],\n      detail_type: ['original_budget_amount']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"filters\\\":{\\\"biller\\\":[{\\\"value\\\":[56],\\\"type\\\":\\\"SubJob\\\",\\\"name\\\":\\\"North Building\\\"}],\\\"cost_code\\\":[1],\\\"root_cost_code\\\":[1],\\\"cost_type\\\":[1],\\\"vendor\\\":[1],\\\"detail_type\\\":[\\\"original_budget_amount\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/budget_views/%7Bbudget_view_id%7D/budget_details?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/budget_views/%7Bbudget_view_id%7D/budget_details?project_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"filters\":{\"biller\":[{\"value\":[56],\"type\":\"SubJob\",\"name\":\"North Building\"}],\"cost_code\":[1],\"root_cost_code\":[1],\"cost_type\":[1],\"vendor\":[1],\"detail_type\":[\"original_budget_amount\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/budget_views/%7Bbudget_view_id%7D/budget_details?project_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"filters\\\":{\\\"biller\\\":[{\\\"value\\\":[56],\\\"type\\\":\\\"SubJob\\\",\\\"name\\\":\\\"North Building\\\"}],\\\"cost_code\\\":[1],\\\"root_cost_code\\\":[1],\\\"cost_type\\\":[1],\\\"vendor\\\":[1],\\\"detail_type\\\":[\\\"original_budget_amount\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}