{
 "openapi": "3.0.0",
 "info": {
  "title": "Budget Detail Columns",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Budget",
  "x-resource-name": "Budget Detail Columns",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/budget_views/{budget_view_id}/budget_detail_columns": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Budget Detail Columns",
    "description": "Return a list of columns relevant to a Budget View for a Budget Detail Report.\n\nNote: The ID field of each Budget Column will appear as keys in rows returned by the List Budget Details API.",
    "tags": [
     "Budget Views"
    ],
    "parameters": [
     {
      "name": "budget_view_id",
      "in": "path",
      "description": "Budget View ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Budget Detail Columns",
         "items": {
          "type": "object",
          "description": "Budget Detail Columns",
          "properties": {
           "aggregatable": {
            "type": "boolean",
            "description": "Whether this column's values can be summed when budget detail rows are grouped. true for numeric columns that are meaningful to total; false for descriptive or identifier columns.",
            "example": true
           },
           "filterable": {
            "type": "boolean",
            "description": "Whether budget detail rows can be filtered by this column. When true, pass this column's id as column_id to the List Budget Detail Filter Options API to retrieve the valid filter values.",
            "example": true
           },
           "groupable": {
            "type": "boolean",
            "description": "Whether budget detail rows can be grouped (subtotaled) by this column's values.",
            "example": true
           },
           "id": {
            "type": "string",
            "description": "Identifier of the column, returned as a string. Appears as a key on each row of the List Budget Details response. Standard columns use slugs (e.g. 'biller', 'cost_code', 'detail_type'); template columns use the numeric column id rendered as a string.",
            "example": "biller"
           },
           "name": {
            "type": "string",
            "description": "Localized, human-readable display name of the column as shown in the Budget Detail Report.",
            "example": "Detail Type"
           },
           "position": {
            "type": "integer",
            "description": "Ordering index controlling the left-to-right placement of columns in the Budget Detail Report. Standard columns use negative positions so they sort ahead of configurable template columns, which use their own non-negative positions.",
            "example": 1
           },
           "type": {
            "type": "string",
            "description": "Classification of the column, indicating what kind of data it represents.",
            "example": "source",
            "enum": [
             "standard",
             "source",
             "budget_forecast"
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/budget_views/%7Bbudget_view_id%7D/budget_detail_columns',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/budget_views/%7Bbudget_view_id%7D/budget_detail_columns?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/budget_views/%7Bbudget_view_id%7D/budget_detail_columns?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/budget_views/%7Bbudget_view_id%7D/budget_detail_columns?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}