{
 "openapi": "3.0.0",
 "info": {
  "title": "Budget Modifications",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Budget",
  "x-resource-name": "Budget Modifications",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/budget_modifications": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Budget Modifications",
    "description": "Returns a list of all Budget Modifications for a project. For more information on the Budget Changes API, see our documentation on [upgrading from the Budget Modifications API to the Budget Changes API](https://developers.procore.com/documentation/tutorial-budget-changes-api).",
    "tags": [
     "Budget Modifications"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "description": "Array of Budget Modifications",
         "type": "array",
         "items": {
          "type": "object",
          "description": "Budget Modification",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this budget modification (a transfer between budget line items). Use as the {id} path parameter for the Show, Update, and Delete endpoints.",
            "example": 75414
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this budget modification was created, in ISO 8601 format.",
            "example": "2016-10-23T21:39:40Z"
           },
           "from_budget_line_item_id": {
            "type": "integer",
            "description": "ID of the budget line item that funds are transferred from. Null when the modification only adds to the grand total rather than moving funds between lines.",
            "example": 348383
           },
           "notes": {
            "type": "string",
            "description": "Free-text notes describing the reason for the transfer.",
            "example": "Transfer money for extra concrete."
           },
           "origin_data": {
            "type": "string",
            "description": "Free-text reference data associating this modification with an external system record.",
            "example": "OD-3483830-2"
           },
           "origin_id": {
            "type": "string",
            "description": "External system identifier for this modification, unique within the company. Use to reconcile with the source system.",
            "example": 4903400
           },
           "to_budget_line_item_id": {
            "type": "integer",
            "description": "ID of the budget line item that funds are transferred to.",
            "example": 4034034
           },
           "transfer_amount": {
            "type": "string",
            "format": "float",
            "description": "Amount transferred from the source budget line item to the target budget line item.",
            "example": "4500.0"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this budget modification was last updated, in ISO 8601 format.",
            "example": "2016-11-23T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated description for behaviors related to LD flag budget-changes-turn-off-budget-mods",
      "description": "When LD flag budget-changes-turn-off-budget-mods is on, endpoint is updated to return an empty list instead.",
      "endpoint": "GET /projects/{project_id}/budget_modifications",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-06-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#list-budget-modifications"
     },
     {
      "summary": "Updated the endpoint behavior when the company has Budget Changes enabled.",
      "description": "Now, this endpoint will ignore the LD flag budget-changes-turn-off-budget-mods.",
      "endpoint": "GET /projects/{project_id}/budget_modifications",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-11-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#list-budget-modifications"
     }
    ]
   },
   "post": {
    "deprecated": true,
    "x-deprecated-at": "2022-11-17",
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Budget Modification",
    "description": "Creates a Budget Modification only if Budget Changes are not enabled.\nThis endpoint will be deprecated at October 16th of 2023. For more information on the Budget Changes API, see our documentation on [upgrading from the Budget Modifications API to the Budget Changes API](https://developers.procore.com/documentation/tutorial-budget-changes-api).",
    "tags": [
     "Budget Modifications"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "budget_modification"
        ],
        "properties": {
         "budget_modification": {
          "type": "object",
          "title": "Budget Modification",
          "required": [
           "to_budget_line_item_id",
           "transfer_amount"
          ],
          "properties": {
           "from_budget_line_item_id": {
            "type": "integer",
            "description": "ID of the Budget Line Item to transfer from. NOTE 1: required if 'Allow Budget Modifications Which Modify Grand Total' is not checked. NOTE 2: When updating if you want to remove the from_budget_line_item_id reference pass in NULL as the value. NOTE 3: You may not pass the same from_budget_line_item_id as to_budget_line_item_id.",
            "example": 348383
           },
           "notes": {
            "type": "string",
            "description": "Notes on the purpose of the transfer",
            "example": "Transfer money for extra concrete."
           },
           "origin_data": {
            "type": "string",
            "description": "The Origin Data to associate with this Budget Modification",
            "example": "OD-3483830-2"
           },
           "origin_id": {
            "type": "string",
            "description": "The Origin ID to associate with this Budget Modification (must be unique within a company)",
            "example": 4903400
           },
           "to_budget_line_item_id": {
            "type": "integer",
            "description": "ID of the Budget Line Item to transfer to. NOTE: You may not pass the same to_budget_line_item_id as from_budget_line_item_id.",
            "example": 4034034
           },
           "transfer_amount": {
            "type": "string",
            "format": "float",
            "description": "Transfer amount",
            "example": "4500.0"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Budget Modification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this budget modification (a transfer between budget line items). Use as the {id} path parameter for the Show, Update, and Delete endpoints.",
           "example": 75414
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budget modification was created, in ISO 8601 format.",
           "example": "2016-10-23T21:39:40Z"
          },
          "from_budget_line_item_id": {
           "type": "integer",
           "description": "ID of the budget line item that funds are transferred from. Null when the modification only adds to the grand total rather than moving funds between lines.",
           "example": 348383
          },
          "notes": {
           "type": "string",
           "description": "Free-text notes describing the reason for the transfer.",
           "example": "Transfer money for extra concrete."
          },
          "origin_data": {
           "type": "string",
           "description": "Free-text reference data associating this modification with an external system record.",
           "example": "OD-3483830-2"
          },
          "origin_id": {
           "type": "string",
           "description": "External system identifier for this modification, unique within the company. Use to reconcile with the source system.",
           "example": 4903400
          },
          "to_budget_line_item_id": {
           "type": "integer",
           "description": "ID of the budget line item that funds are transferred to.",
           "example": 4034034
          },
          "transfer_amount": {
           "type": "string",
           "format": "float",
           "description": "Amount transferred from the source budget line item to the target budget line item.",
           "example": "4500.0"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budget modification was last updated, in ISO 8601 format.",
           "example": "2016-11-23T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications',\n  headers: {'content-type': 'application/json'},\n  body: {\n    budget_modification: {\n      from_budget_line_item_id: 348383,\n      notes: 'Transfer money for extra concrete.',\n      origin_data: 'OD-3483830-2',\n      origin_id: 4903400,\n      to_budget_line_item_id: 4034034,\n      transfer_amount: '4500.0'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"budget_modification\\\":{\\\"from_budget_line_item_id\\\":348383,\\\"notes\\\":\\\"Transfer money for extra concrete.\\\",\\\"origin_data\\\":\\\"OD-3483830-2\\\",\\\"origin_id\\\":4903400,\\\"to_budget_line_item_id\\\":4034034,\\\"transfer_amount\\\":\\\"4500.0\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications \\\n  --header 'content-type: application/json' \\\n  --data '{\"budget_modification\":{\"from_budget_line_item_id\":348383,\"notes\":\"Transfer money for extra concrete.\",\"origin_data\":\"OD-3483830-2\",\"origin_id\":4903400,\"to_budget_line_item_id\":4034034,\"transfer_amount\":\"4500.0\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications\"),\n    Content = new StringContent(\"{\\\"budget_modification\\\":{\\\"from_budget_line_item_id\\\":348383,\\\"notes\\\":\\\"Transfer money for extra concrete.\\\",\\\"origin_data\\\":\\\"OD-3483830-2\\\",\\\"origin_id\\\":4903400,\\\"to_budget_line_item_id\\\":4034034,\\\"transfer_amount\\\":\\\"4500.0\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated description for behaviors related to LD flag budget-changes-turn-off-budget-mods",
      "description": "When LD flag budget-changes-turn-off-budget-mods is on, endpoint returns 403 instead",
      "endpoint": "POST /projects/{project_id}/budget_modifications",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-06-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#create-budget-modification"
     },
     {
      "summary": "Updated the endpoint description, the response and the response headers.",
      "description": "This endpoint will be deprecated in the future, updating the responses and docs to describe better to the API consumers.",
      "endpoint": "POST /projects/{project_id}/budget_modifications",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2022-11-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#create-budget-modification"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/budget_modifications/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Budget Modification",
    "description": "Returns detailed information on a specified Budget Modification. For more information on the Budget Changes API, see our documentation on [upgrading from the Budget Modifications API to the Budget Changes API](https://developers.procore.com/documentation/tutorial-budget-changes-api).",
    "tags": [
     "Budget Modifications"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Budget Modification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this budget modification (a transfer between budget line items). Use as the {id} path parameter for the Show, Update, and Delete endpoints.",
           "example": 75414
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budget modification was created, in ISO 8601 format.",
           "example": "2016-10-23T21:39:40Z"
          },
          "from_budget_line_item_id": {
           "type": "integer",
           "description": "ID of the budget line item that funds are transferred from. Null when the modification only adds to the grand total rather than moving funds between lines.",
           "example": 348383
          },
          "notes": {
           "type": "string",
           "description": "Free-text notes describing the reason for the transfer.",
           "example": "Transfer money for extra concrete."
          },
          "origin_data": {
           "type": "string",
           "description": "Free-text reference data associating this modification with an external system record.",
           "example": "OD-3483830-2"
          },
          "origin_id": {
           "type": "string",
           "description": "External system identifier for this modification, unique within the company. Use to reconcile with the source system.",
           "example": 4903400
          },
          "to_budget_line_item_id": {
           "type": "integer",
           "description": "ID of the budget line item that funds are transferred to.",
           "example": 4034034
          },
          "transfer_amount": {
           "type": "string",
           "format": "float",
           "description": "Amount transferred from the source budget line item to the target budget line item.",
           "example": "4500.0"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budget modification was last updated, in ISO 8601 format.",
           "example": "2016-11-23T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated description for behaviors related to LD flag budget-changes-turn-off-budget-mods",
      "description": "When LD flag budget-changes-turn-off-budget-mods is on, endpoint is updated to return an empty JSON instead.",
      "endpoint": "GET /projects/{project_id}/budget_modifications/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-06-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#show-budget-modification"
     },
     {
      "summary": "Updated the endpoint behavior when the company has Budget Changes enabled.",
      "description": "Now, this endpoint will ignore the LD flag budget-changes-turn-off-budget-mods.",
      "endpoint": "GET /projects/{project_id}/budget_modifications/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-11-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#show-budget-modification"
     }
    ]
   },
   "patch": {
    "deprecated": true,
    "x-deprecated-at": "2022-11-17",
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Budget Modification",
    "description": "Update a Budget Modification only if Budget Changes are not enabled.\nThis endpoint will be deprecated at October 16th of 2023. For more information on the Budget Changes API, see our documentation on [upgrading from the Budget Modifications API to the Budget Changes API](https://developers.procore.com/documentation/tutorial-budget-changes-api).",
    "tags": [
     "Budget Modifications"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "budget_modification"
        ],
        "properties": {
         "budget_modification": {
          "type": "object",
          "title": "Budget Modification",
          "required": [
           "to_budget_line_item_id",
           "transfer_amount"
          ],
          "properties": {
           "from_budget_line_item_id": {
            "type": "integer",
            "description": "ID of the Budget Line Item to transfer from. NOTE 1: required if 'Allow Budget Modifications Which Modify Grand Total' is not checked. NOTE 2: When updating if you want to remove the from_budget_line_item_id reference pass in NULL as the value. NOTE 3: You may not pass the same from_budget_line_item_id as to_budget_line_item_id.",
            "example": 348383
           },
           "notes": {
            "type": "string",
            "description": "Notes on the purpose of the transfer",
            "example": "Transfer money for extra concrete."
           },
           "origin_data": {
            "type": "string",
            "description": "The Origin Data to associate with this Budget Modification",
            "example": "OD-3483830-2"
           },
           "origin_id": {
            "type": "string",
            "description": "The Origin ID to associate with this Budget Modification (must be unique within a company)",
            "example": 4903400
           },
           "to_budget_line_item_id": {
            "type": "integer",
            "description": "ID of the Budget Line Item to transfer to. NOTE: You may not pass the same to_budget_line_item_id as from_budget_line_item_id.",
            "example": 4034034
           },
           "transfer_amount": {
            "type": "string",
            "format": "float",
            "description": "Transfer amount",
            "example": "4500.0"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Budget Modification",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this budget modification (a transfer between budget line items). Use as the {id} path parameter for the Show, Update, and Delete endpoints.",
           "example": 75414
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budget modification was created, in ISO 8601 format.",
           "example": "2016-10-23T21:39:40Z"
          },
          "from_budget_line_item_id": {
           "type": "integer",
           "description": "ID of the budget line item that funds are transferred from. Null when the modification only adds to the grand total rather than moving funds between lines.",
           "example": 348383
          },
          "notes": {
           "type": "string",
           "description": "Free-text notes describing the reason for the transfer.",
           "example": "Transfer money for extra concrete."
          },
          "origin_data": {
           "type": "string",
           "description": "Free-text reference data associating this modification with an external system record.",
           "example": "OD-3483830-2"
          },
          "origin_id": {
           "type": "string",
           "description": "External system identifier for this modification, unique within the company. Use to reconcile with the source system.",
           "example": 4903400
          },
          "to_budget_line_item_id": {
           "type": "integer",
           "description": "ID of the budget line item that funds are transferred to.",
           "example": 4034034
          },
          "transfer_amount": {
           "type": "string",
           "format": "float",
           "description": "Amount transferred from the source budget line item to the target budget line item.",
           "example": "4500.0"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budget modification was last updated, in ISO 8601 format.",
           "example": "2016-11-23T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    budget_modification: {\n      from_budget_line_item_id: 348383,\n      notes: 'Transfer money for extra concrete.',\n      origin_data: 'OD-3483830-2',\n      origin_id: 4903400,\n      to_budget_line_item_id: 4034034,\n      transfer_amount: '4500.0'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"budget_modification\\\":{\\\"from_budget_line_item_id\\\":348383,\\\"notes\\\":\\\"Transfer money for extra concrete.\\\",\\\"origin_data\\\":\\\"OD-3483830-2\\\",\\\"origin_id\\\":4903400,\\\"to_budget_line_item_id\\\":4034034,\\\"transfer_amount\\\":\\\"4500.0\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"budget_modification\":{\"from_budget_line_item_id\":348383,\"notes\":\"Transfer money for extra concrete.\",\"origin_data\":\"OD-3483830-2\",\"origin_id\":4903400,\"to_budget_line_item_id\":4034034,\"transfer_amount\":\"4500.0\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"budget_modification\\\":{\\\"from_budget_line_item_id\\\":348383,\\\"notes\\\":\\\"Transfer money for extra concrete.\\\",\\\"origin_data\\\":\\\"OD-3483830-2\\\",\\\"origin_id\\\":4903400,\\\"to_budget_line_item_id\\\":4034034,\\\"transfer_amount\\\":\\\"4500.0\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated description for behaviors related to LD flag budget-changes-turn-off-budget-mods",
      "description": "When LD flag budget-changes-turn-off-budget-mods is on, endpoint returns 403 instead",
      "endpoint": "PATCH /projects/{project_id}/budget_modifications/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-06-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#update-budget-modification"
     },
     {
      "summary": "Updated the endpoint description, the response and the response headers.",
      "description": "This endpoint will be deprecated in the future, updating the responses and docs to describe better to the API consumers.",
      "endpoint": "PATCH /projects/{project_id}/budget_modifications/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2022-11-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#update-budget-modification"
     }
    ]
   },
   "delete": {
    "deprecated": true,
    "x-deprecated-at": "2022-11-17",
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Budget Modification",
    "description": "Delete a Budget Modification only if Budget Changes are not enabled.\nThis endpoint will be deprecated at October 16th of 2023. For more information on the Budget Changes API, see our documentation on [upgrading from the Budget Modifications API to the Budget Changes API](https://developers.procore.com/documentation/tutorial-budget-changes-api).",
    "tags": [
     "Budget Modifications"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budget_modifications/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated description for behaviors related to LD flag budget-changes-turn-off-budget-mods",
      "description": "When LD flag budget-changes-turn-off-budget-mods is on, endpoint returns 403 instead",
      "endpoint": "DELETE /projects/{project_id}/budget_modifications/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-06-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#delete-budget-modification"
     },
     {
      "summary": "Updated the endpoint description, the response and the response headers.",
      "description": "This endpoint will be deprecated in the future, updating the responses and docs to describe better to the API consumers.",
      "endpoint": "DELETE /projects/{project_id}/budget_modifications/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2022-11-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-modifications?version=1.0#delete-budget-modification"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}