{
 "openapi": "3.0.0",
 "info": {
  "title": "Budget Views",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Budget",
  "x-resource-name": "Budget Views",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/budget_views": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Budget Views",
    "description": "Return a list of all Budget Views for a project.",
    "tags": [
     "Budget Views"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": false,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter",
      "schema": {
       "type": "string",
       "enum": [
        "created_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Budget Views",
         "items": {
          "type": "object",
          "description": "Budget View",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the budget view. Use as the {budget_view_id} path parameter to retrieve its summary rows (GET /rest/v1.0/budget_views/{budget_view_id}/summary_rows) or detail rows.",
            "example": 75414
           },
           "name": {
            "type": "string",
            "description": "Display name of the budget view, as shown in the Procore budget tool.",
            "example": "Procore Standard View"
           },
           "description": {
            "type": "string",
            "description": "Free-text description of what the budget view is used for.",
            "example": "This is the procore standard view"
           },
           "created_at": {
            "type": "string",
            "description": "Timestamp when the budget view was created, in ISO 8601 format.",
            "example": "2018-01-17T18:09:03Z"
           },
           "created_by": {
            "type": "object",
            "description": "User who created the budget view.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the user who created the budget view.",
              "example": 1234
             },
             "name": {
              "type": "string",
              "description": "Full name of the user who created the budget view.",
              "example": "John Doe"
             },
             "login": {
              "type": "string",
              "description": "Login email address of the user who created the budget view.",
              "example": "john.doe@example.com"
             }
            }
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp when the budget view was last updated, in ISO 8601 format.",
            "example": "2018-01-17T18:09:03Z"
           },
           "role": {
            "type": "string",
            "description": "Purpose this budget view serves, such as standard budgeting, forecasting (which exposes additional monthly forecast columns on detail rows), custom reporting, or column configuration.",
            "example": "forecasting"
           },
           "links": {
            "type": "object",
            "description": "URLs for retrieving budgeting data scoped to this budget view.",
            "properties": {
             "detail_rows": {
              "type": "string",
              "description": "URL to fetch the Budget Detail Rows for this budget view.",
              "example": "https://app.procore.com/rest/v1.0/budget_views/1/detail_rows?project_id=2"
             },
             "summary_rows": {
              "type": "string",
              "description": "URL to fetch the Budget Summary Rows for this budget view.",
              "example": "https://app.procore.com/rest/v1.0/budget_views/1/summary_rows?project_id=2"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/budget_views',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/budget_views?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/budget_views?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/budget_views?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated the Budget Views endpoint to support both project and company-level queries. Company-level queries (when project_id is omitted) are only available for Project Status Snapshot beta users.",
      "description": "Updated the Budget Views endpoint to support both project and company-level queries. Note that company-level functionality is only available for customers enrolled in the Project Status Snapshot beta.",
      "endpoint": "GET /budget_views",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-views?version=1.0#list-budget-views"
     },
     {
      "summary": "Added sorting by parameter created_at to GET endpoint for the list of budget templates",
      "description": "Added sort parameter to GET endpoint for the list of budget templates, default is ascending by created_at.",
      "endpoint": "GET /budget_views",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-10-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budget-views?version=1.0#list-budget-views"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}