{
 "openapi": "3.0.0",
 "info": {
  "title": "Budgeted Production Quantities",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Budget",
  "x-resource-name": "Budgeted Production Quantities",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/budgeted_production_quantities": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List all Project Budgeted Production Quantities",
    "description": "Return a list of all Budgeted Production Quantities with details for a specified Project.",
    "tags": [
     "Budgeted Production Quantities"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Budgeted Production Quantities",
         "items": {
          "type": "object",
          "description": "Budgeted Production Quantity",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this budgeted production quantity. Use as the {id} path parameter to show, update, or delete the record via /rest/v1.0/projects/{project_id}/budgeted_production_quantities/{id}.",
            "example": 75414
           },
           "unit_of_measure": {
            "type": "string",
            "description": "Unit of measure for the budgeted quantity (for example, lf for linear feet or sf for square feet). Drawn from the company's master Units of Measure list, excluding units categorized as Time.",
            "example": "lf"
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project this budgeted production quantity belongs to. Matches the {project_id} path parameter used to access the record.",
            "example": 1
           },
           "wbs_code_id": {
            "type": "integer",
            "description": "ID of the WBS (work breakdown structure) production quantity code this budgeted quantity is associated with.",
            "example": 1234
           },
           "cost_code": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Cost Code ID",
                "example": 12345
               },
               "biller_id": {
                "type": "integer",
                "description": "Biller ID",
                "example": 12345
               },
               "biller_type": {
                "type": "string",
                "enum": [
                 "Project",
                 "SubJob"
                ],
                "description": "Biller type",
                "example": "Project"
               },
               "code": {
                "type": "string",
                "description": "Cost code, not including parent prefix",
                "example": "300"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created at",
                "example": "2015-05-15T00:00:00Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Deleted at",
                "example": "2017-07-29T21:39:40Z"
               },
               "full_code": {
                "type": "string",
                "description": "Full Cost code, including parent prefixes",
                "example": "02-300"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Earthwork"
               },
               "parent_id": {
                "type": "integer",
                "description": "Parent",
                "example": 2345
               },
               "position": {
                "type": "integer",
                "description": "Ordering position of the cost code among its siblings",
                "example": 1
               },
               "sortable_code": {
                "type": "string",
                "description": "Sortable code (this property is deprecated - see full_code)",
                "example": "02-300"
               },
               "standard_cost_code_id": {
                "type": "integer",
                "description": "Standard Cost Code ID",
                "example": 122334
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Updated at",
                "example": "2015-05-15T00:00:00Z"
               }
              }
             }
            ]
           },
           "quantity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "exclusiveMaximum": true,
            "description": "Amount of cost code budgeted to be installed, rounded to two decimal places",
            "example": 1000.5
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this budgeted production quantity was last updated, in ISO 8601 format.",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this budgeted production quantity was created, in ISO 8601 format.",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when this budgeted production quantity was soft-deleted, in ISO 8601 format. Null when the record is active.",
            "example": "2017-07-29T21:39:40Z"
           },
           "wbs_code": {
            "type": "object",
            "description": "The WBS (work breakdown structure) code this budgeted production quantity is associated with.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the WBS code. Matches wbs_code_id.",
              "example": 1234
             },
             "flat_code": {
              "type": "string",
              "description": "Concatenated code string for the WBS code, combining its segment codes (for example, the cost code and sub job codes).",
              "example": "02-300"
             },
             "description": {
              "type": "string",
              "description": "Human-readable description of the WBS code.",
              "example": "Earthwork"
             },
             "flat_name": {
              "type": "string",
              "description": "Concatenated display name for the WBS code, combining the names of its segments.",
              "example": "Earthwork"
             }
            }
           },
           "created_by": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "Carl the Contractor"
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a new Budgeted Production Quantity",
    "description": "Create a new Budgeted Production Quantity associated with the specified Project. Optionally include a rules-of-credit tree as either components or a top-level scheme. A present-but-malformed tree is rejected with 422 when the project uses rules of credit.",
    "tags": [
     "Budgeted Production Quantity"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Budgeted Production Quantity Body",
        "type": "object",
        "required": [
         "budgeted_production_quantity"
        ],
        "properties": {
         "budgeted_production_quantity": {
          "title": "BudgetedProductionQuantity",
          "type": "object",
          "description": "Budgeted Production Quantity Object",
          "properties": {
           "project_id": {
            "type": "integer",
            "description": "Ignored. The project is always taken from the {project_id} path parameter, so any value supplied here has no effect.",
            "example": 1
           },
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the cost code to budget against. DO NOT provide if your project is configured for Task Codes; provide wbs_code_id instead.",
            "example": 1
           },
           "wbs_code_id": {
            "type": "integer",
            "description": "ID of the WBS production quantity code for the budgeted production quantity. Required when your project is configured for Task Codes. DO NOT provide if your project is not configured for Task Codes."
           },
           "quantity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "exclusiveMaximum": true,
            "description": "Quantity budgeted for a project cost code, rounded to two decimal places",
            "example": 10.49
           },
           "unit_of_measure": {
            "type": "string",
            "description": "Unit of measure for the budgeted quantity. Must be a value from the company's master Units of Measure list that is not categorized as Time.",
            "example": "sf",
            "enum": [
             "Any value present in the Company list of Units of Measure except those categorized as \"Time\""
            ]
           },
           "components": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "description": "Visible components of the Budgeted Production Quantity. Mutually exclusive with scheme. Optional. On create, a present-but-malformed tree is rejected with 422 when the project uses rules of credit.",
            "items": {
             "type": "object",
             "description": "A visible component of the Budgeted Production Quantity. Omit scheme to track the component without steps. Nested scheme assigns a claiming scheme and its step list to this component. 1 to 100 components; sibling weights must total exactly 100.",
             "required": [
              "name",
              "weight",
              "planned_quantity"
             ],
             "properties": {
              "name": {
               "type": "string",
               "minLength": 1,
               "maxLength": 255,
               "description": "Display name of the component. 1 to 255 characters after trimming.",
               "example": "Installation"
              },
              "weight": {
               "type": "number",
               "minimum": 0.01,
               "maximum": 100,
               "description": "Relative weight of this component among siblings. 0.01 to 100.00 with at most two decimal places. Sibling weights must sum to exactly 100.",
               "example": 100
              },
              "planned_quantity": {
               "type": "number",
               "minimum": 0,
               "maximum": 1000000000,
               "exclusiveMaximum": true,
               "description": "Quantity planned for this component. Non-negative, at most 999,999,999.99, with at most two decimal places.",
               "example": 60
              },
              "uom": {
               "type": "string",
               "description": "Unit of measure for this component. Omit to inherit the Budgeted Production Quantity unit of measure. Must be a value from the company Units of Measure list except those categorized as Time.",
               "example": "cy"
              },
              "scheme": {
               "type": "object",
               "description": "A claiming scheme and its exact step list. Send at the top level (mutually exclusive with components) for a step-only tree, or nest it on a component when that component is broken into steps. Both claiming_scheme_id and steps are required when scheme is present.",
               "required": [
                "claiming_scheme_id",
                "steps"
               ],
               "properties": {
                "claiming_scheme_id": {
                 "type": "integer",
                 "description": "ID of the project claiming scheme that owns this step list. Use a claiming scheme that belongs to the same project as the Budgeted Production Quantity.",
                 "example": 77
                },
                "steps": {
                 "type": "array",
                 "minItems": 1,
                 "maxItems": 100,
                 "description": "The scheme's complete step set. 1 to 100 items. Each item is a claiming-scheme step ID plus planned quantity.",
                 "items": {
                  "type": "object",
                  "description": "One claiming-scheme step and the planned quantity budgeted against it. Name, weight, position, and unit of measure come from the claiming scheme and are not request fields. Required inside a scheme; 1 to 100 steps.",
                  "required": [
                   "claiming_scheme_step_id",
                   "planned_quantity"
                  ],
                  "properties": {
                   "claiming_scheme_step_id": {
                    "type": "integer",
                    "description": "ID of the claiming-scheme step this row derives from. The submitted set must match that scheme's steps exactly; send a planned_quantity of 0.00 for a step with nothing budgeted against it.",
                    "example": 501
                   },
                   "planned_quantity": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000,
                    "exclusiveMaximum": true,
                    "description": "Quantity planned against this step. Non-negative, at most 999,999,999.99, with at most two decimal places.",
                    "example": 200
                   }
                  },
                  "example": {
                   "claiming_scheme_step_id": 501,
                   "planned_quantity": 200
                  }
                 }
                }
               },
               "example": {
                "claiming_scheme_id": 77,
                "steps": [
                 {
                  "claiming_scheme_step_id": 501,
                  "planned_quantity": 200
                 },
                 {
                  "claiming_scheme_step_id": 502,
                  "planned_quantity": 0
                 }
                ]
               }
              }
             },
             "example": {
              "name": "Installation",
              "weight": 100,
              "planned_quantity": 60,
              "uom": "cy"
             }
            }
           },
           "scheme": {
            "type": "object",
            "description": "A claiming scheme and its exact step list. Send at the top level (mutually exclusive with components) for a step-only tree, or nest it on a component when that component is broken into steps. Both claiming_scheme_id and steps are required when scheme is present.",
            "required": [
             "claiming_scheme_id",
             "steps"
            ],
            "properties": {
             "claiming_scheme_id": {
              "type": "integer",
              "description": "ID of the project claiming scheme that owns this step list. Use a claiming scheme that belongs to the same project as the Budgeted Production Quantity.",
              "example": 77
             },
             "steps": {
              "type": "array",
              "minItems": 1,
              "maxItems": 100,
              "description": "The scheme's complete step set. 1 to 100 items. Each item is a claiming-scheme step ID plus planned quantity.",
              "items": {
               "type": "object",
               "description": "One claiming-scheme step and the planned quantity budgeted against it. Name, weight, position, and unit of measure come from the claiming scheme and are not request fields. Required inside a scheme; 1 to 100 steps.",
               "required": [
                "claiming_scheme_step_id",
                "planned_quantity"
               ],
               "properties": {
                "claiming_scheme_step_id": {
                 "type": "integer",
                 "description": "ID of the claiming-scheme step this row derives from. The submitted set must match that scheme's steps exactly; send a planned_quantity of 0.00 for a step with nothing budgeted against it.",
                 "example": 501
                },
                "planned_quantity": {
                 "type": "number",
                 "minimum": 0,
                 "maximum": 1000000000,
                 "exclusiveMaximum": true,
                 "description": "Quantity planned against this step. Non-negative, at most 999,999,999.99, with at most two decimal places.",
                 "example": 200
                }
               },
               "example": {
                "claiming_scheme_step_id": 501,
                "planned_quantity": 200
               }
              }
             }
            },
            "example": {
             "claiming_scheme_id": 77,
             "steps": [
              {
               "claiming_scheme_step_id": 501,
               "planned_quantity": 200
              },
              {
               "claiming_scheme_step_id": 502,
               "planned_quantity": 0
              }
             ]
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Budgeted Production Quantity Created Succesfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Budgeted Production Quantity",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this budgeted production quantity. Use as the {id} path parameter to show, update, or delete the record via /rest/v1.0/projects/{project_id}/budgeted_production_quantities/{id}.",
           "example": 75414
          },
          "unit_of_measure": {
           "type": "string",
           "description": "Unit of measure for the budgeted quantity (for example, lf for linear feet or sf for square feet). Drawn from the company's master Units of Measure list, excluding units categorized as Time.",
           "example": "lf"
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project this budgeted production quantity belongs to. Matches the {project_id} path parameter used to access the record.",
           "example": 1
          },
          "wbs_code_id": {
           "type": "integer",
           "description": "ID of the WBS (work breakdown structure) production quantity code this budgeted quantity is associated with.",
           "example": 1234
          },
          "cost_code": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Cost Code ID",
               "example": 12345
              },
              "biller_id": {
               "type": "integer",
               "description": "Biller ID",
               "example": 12345
              },
              "biller_type": {
               "type": "string",
               "enum": [
                "Project",
                "SubJob"
               ],
               "description": "Biller type",
               "example": "Project"
              },
              "code": {
               "type": "string",
               "description": "Cost code, not including parent prefix",
               "example": "300"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2015-05-15T00:00:00Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Deleted at",
               "example": "2017-07-29T21:39:40Z"
              },
              "full_code": {
               "type": "string",
               "description": "Full Cost code, including parent prefixes",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              },
              "parent_id": {
               "type": "integer",
               "description": "Parent",
               "example": 2345
              },
              "position": {
               "type": "integer",
               "description": "Ordering position of the cost code among its siblings",
               "example": 1
              },
              "sortable_code": {
               "type": "string",
               "description": "Sortable code (this property is deprecated - see full_code)",
               "example": "02-300"
              },
              "standard_cost_code_id": {
               "type": "integer",
               "description": "Standard Cost Code ID",
               "example": 122334
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2015-05-15T00:00:00Z"
              }
             }
            }
           ]
          },
          "quantity": {
           "type": "number",
           "minimum": 0,
           "maximum": 1000000000,
           "exclusiveMaximum": true,
           "description": "Amount of cost code budgeted to be installed, rounded to two decimal places",
           "example": 1000.5
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budgeted production quantity was last updated, in ISO 8601 format.",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budgeted production quantity was created, in ISO 8601 format.",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "nullable": true,
           "description": "Timestamp when this budgeted production quantity was soft-deleted, in ISO 8601 format. Null when the record is active.",
           "example": "2017-07-29T21:39:40Z"
          },
          "wbs_code": {
           "type": "object",
           "description": "The WBS (work breakdown structure) code this budgeted production quantity is associated with.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the WBS code. Matches wbs_code_id.",
             "example": 1234
            },
            "flat_code": {
             "type": "string",
             "description": "Concatenated code string for the WBS code, combining its segment codes (for example, the cost code and sub job codes).",
             "example": "02-300"
            },
            "description": {
             "type": "string",
             "description": "Human-readable description of the WBS code.",
             "example": "Earthwork"
            },
            "flat_name": {
             "type": "string",
             "description": "Concatenated display name for the WBS code, combining the names of its segments.",
             "example": "Earthwork"
            }
           }
          },
          "created_by": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "Carl the Contractor"
              }
             }
            }
           ]
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating a Budgeted Production Quantity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities',\n  headers: {'content-type': 'application/json'},\n  body: {\n    budgeted_production_quantity: {\n      project_id: 1,\n      cost_code_id: 1,\n      wbs_code_id: 0,\n      quantity: 10.49,\n      unit_of_measure: 'sf',\n      components: [{name: 'Installation', weight: 100, planned_quantity: 60, uom: 'cy'}],\n      scheme: {\n        claiming_scheme_id: 77,\n        steps: [\n          {claiming_scheme_step_id: 501, planned_quantity: 200},\n          {claiming_scheme_step_id: 502, planned_quantity: 0}\n        ]\n      }\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"budgeted_production_quantity\\\":{\\\"project_id\\\":1,\\\"cost_code_id\\\":1,\\\"wbs_code_id\\\":0,\\\"quantity\\\":10.49,\\\"unit_of_measure\\\":\\\"sf\\\",\\\"components\\\":[{\\\"name\\\":\\\"Installation\\\",\\\"weight\\\":100,\\\"planned_quantity\\\":60,\\\"uom\\\":\\\"cy\\\"}],\\\"scheme\\\":{\\\"claiming_scheme_id\\\":77,\\\"steps\\\":[{\\\"claiming_scheme_step_id\\\":501,\\\"planned_quantity\\\":200},{\\\"claiming_scheme_step_id\\\":502,\\\"planned_quantity\\\":0}]}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities \\\n  --header 'content-type: application/json' \\\n  --data '{\"budgeted_production_quantity\":{\"project_id\":1,\"cost_code_id\":1,\"wbs_code_id\":0,\"quantity\":10.49,\"unit_of_measure\":\"sf\",\"components\":[{\"name\":\"Installation\",\"weight\":100,\"planned_quantity\":60,\"uom\":\"cy\"}],\"scheme\":{\"claiming_scheme_id\":77,\"steps\":[{\"claiming_scheme_step_id\":501,\"planned_quantity\":200},{\"claiming_scheme_step_id\":502,\"planned_quantity\":0}]}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities\"),\n    Content = new StringContent(\"{\\\"budgeted_production_quantity\\\":{\\\"project_id\\\":1,\\\"cost_code_id\\\":1,\\\"wbs_code_id\\\":0,\\\"quantity\\\":10.49,\\\"unit_of_measure\\\":\\\"sf\\\",\\\"components\\\":[{\\\"name\\\":\\\"Installation\\\",\\\"weight\\\":100,\\\"planned_quantity\\\":60,\\\"uom\\\":\\\"cy\\\"}],\\\"scheme\\\":{\\\"claiming_scheme_id\\\":77,\\\"steps\\\":[{\\\"claiming_scheme_step_id\\\":501,\\\"planned_quantity\\\":200},{\\\"claiming_scheme_step_id\\\":502,\\\"planned_quantity\\\":0}]}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Accept a rules-of-credit tree on create when claiming schemes are enabled",
      "description": "When claiming schemes are enabled, create accepts optional `components` or\n`scheme` (not both). A malformed tree returns 422. These fields are ignored\nwhen claiming schemes are off. The tree is not returned in the response.",
      "endpoint": "POST /projects/{project_id}/budgeted_production_quantities",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budgeted-production-quantities?version=1.0#create-a-new-budgeted-production-quantity"
     },
     {
      "summary": "Corrected quantity validation when creating a Budgeted Production Quantity",
      "description": "An existing bug allowed BPQs to be created with negative quantities and absurdly large values,\nboth of which have been corrected.\n\n'quantity' must now be greater than or equal to 0 and must round to an absolute value less\nthan 1,000,000,000.00. Values outside that range are rejected with a 422 instead of being\nstored.\n\nOn a project that tracks production by rules of credit, a quantity carrying more than two\ndecimal places is rounded to two on save rather than stored at full precision, so the value\nmatches what Production Tracking holds.",
      "endpoint": "POST /projects/{project_id}/budgeted_production_quantities",
      "type": "fix",
      "breaking": false,
      "datestamp": "2026-08-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budgeted-production-quantities?version=1.0#create-a-new-budgeted-production-quantity"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/budgeted_production_quantities/ids": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List all Project Budgeted Production Quantity IDs",
    "description": "Return a list of all Budgeted Production Quantity IDs with details for a specified Project.",
    "tags": [
     "Budgeted Production Quantity"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Budgeted Production Quantity IDs",
         "items": {
          "type": "integer",
          "description": "Array of IDs"
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/ids',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/ids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/ids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/ids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/budgeted_production_quantities/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show a Budgeted Production Quantity",
    "description": "Show a Budgeted Production Quantity associated with the specified Project.",
    "tags": [
     "Budgeted Production Quantity"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Budgeted Production Quantity",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Budgeted Production Quantity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Budgeted Production Quantity",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this budgeted production quantity. Use as the {id} path parameter to show, update, or delete the record via /rest/v1.0/projects/{project_id}/budgeted_production_quantities/{id}.",
           "example": 75414
          },
          "unit_of_measure": {
           "type": "string",
           "description": "Unit of measure for the budgeted quantity (for example, lf for linear feet or sf for square feet). Drawn from the company's master Units of Measure list, excluding units categorized as Time.",
           "example": "lf"
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project this budgeted production quantity belongs to. Matches the {project_id} path parameter used to access the record.",
           "example": 1
          },
          "wbs_code_id": {
           "type": "integer",
           "description": "ID of the WBS (work breakdown structure) production quantity code this budgeted quantity is associated with.",
           "example": 1234
          },
          "cost_code": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Cost Code ID",
               "example": 12345
              },
              "biller_id": {
               "type": "integer",
               "description": "Biller ID",
               "example": 12345
              },
              "biller_type": {
               "type": "string",
               "enum": [
                "Project",
                "SubJob"
               ],
               "description": "Biller type",
               "example": "Project"
              },
              "code": {
               "type": "string",
               "description": "Cost code, not including parent prefix",
               "example": "300"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2015-05-15T00:00:00Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Deleted at",
               "example": "2017-07-29T21:39:40Z"
              },
              "full_code": {
               "type": "string",
               "description": "Full Cost code, including parent prefixes",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              },
              "parent_id": {
               "type": "integer",
               "description": "Parent",
               "example": 2345
              },
              "position": {
               "type": "integer",
               "description": "Ordering position of the cost code among its siblings",
               "example": 1
              },
              "sortable_code": {
               "type": "string",
               "description": "Sortable code (this property is deprecated - see full_code)",
               "example": "02-300"
              },
              "standard_cost_code_id": {
               "type": "integer",
               "description": "Standard Cost Code ID",
               "example": 122334
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2015-05-15T00:00:00Z"
              }
             }
            }
           ]
          },
          "quantity": {
           "type": "number",
           "minimum": 0,
           "maximum": 1000000000,
           "exclusiveMaximum": true,
           "description": "Amount of cost code budgeted to be installed, rounded to two decimal places",
           "example": 1000.5
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budgeted production quantity was last updated, in ISO 8601 format.",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budgeted production quantity was created, in ISO 8601 format.",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "nullable": true,
           "description": "Timestamp when this budgeted production quantity was soft-deleted, in ISO 8601 format. Null when the record is active.",
           "example": "2017-07-29T21:39:40Z"
          },
          "wbs_code": {
           "type": "object",
           "description": "The WBS (work breakdown structure) code this budgeted production quantity is associated with.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the WBS code. Matches wbs_code_id.",
             "example": 1234
            },
            "flat_code": {
             "type": "string",
             "description": "Concatenated code string for the WBS code, combining its segment codes (for example, the cost code and sub job codes).",
             "example": "02-300"
            },
            "description": {
             "type": "string",
             "description": "Human-readable description of the WBS code.",
             "example": "Earthwork"
            },
            "flat_name": {
             "type": "string",
             "description": "Concatenated display name for the WBS code, combining the names of its segments.",
             "example": "Earthwork"
            }
           }
          },
          "created_by": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "Carl the Contractor"
              }
             }
            }
           ]
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a Budgeted Production Quantity",
    "description": "Updating a Budgeted Production Quantity associated with the specified Project. A rules-of-credit tree (components or scheme) may be sent. A component or a step may carry an id, to change one that already exists, or _destroy, to remove one. Update does not check the shape of the tree.",
    "tags": [
     "Budgeted Production Quantity"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Budgeted Production Quantity",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Update Budgeted Production Quantity Body",
        "type": "object",
        "required": [
         "budgeted_production_quantity"
        ],
        "properties": {
         "budgeted_production_quantity": {
          "title": "BudgetedProductionQuantityUpdate",
          "type": "object",
          "description": "Budgeted Production Quantity fields to update",
          "properties": {
           "quantity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "exclusiveMaximum": true,
            "description": "Quantity budgeted for a project cost code",
            "example": 10.49
           },
           "unit_of_measure": {
            "type": "string",
            "description": "Unit of Measure",
            "example": "sf",
            "enum": [
             "Any value present in the Company list of Units of Measure except those categorized as \"Time\""
            ]
           },
           "components": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "description": "Components to add, change, or remove.",
            "items": {
             "type": "object",
             "description": "Changes to a visible component of the Budgeted Production Quantity. Send an id to change a component that already exists, or send id with _destroy set to true to remove it.",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Production Tracking component id.",
               "example": 9001
              },
              "_destroy": {
               "type": "boolean",
               "description": "When true, remove this component from the tree.",
               "example": false
              },
              "name": {
               "type": "string",
               "minLength": 1,
               "maxLength": 255,
               "description": "Display name of the component.",
               "example": "Installation"
              },
              "weight": {
               "type": "number",
               "minimum": 0.01,
               "maximum": 100,
               "description": "Relative weight of this component among siblings.",
               "example": 100
              },
              "planned_quantity": {
               "type": "number",
               "minimum": 0,
               "maximum": 1000000000,
               "exclusiveMaximum": true,
               "description": "Quantity planned for this component.",
               "example": 60
              },
              "uom": {
               "type": "string",
               "description": "Unit of measure for this component.",
               "example": "cy"
              },
              "scheme": {
               "type": "object",
               "description": "Changes to a claiming scheme and its steps. Omitted fields keep their existing values.",
               "properties": {
                "claiming_scheme_id": {
                 "type": "integer",
                 "description": "ID of the project claiming scheme that owns this step list.",
                 "example": 77
                },
                "steps": {
                 "type": "array",
                 "minItems": 1,
                 "maxItems": 100,
                 "description": "Steps to add, change, or remove.",
                 "items": {
                  "type": "object",
                  "description": "Changes to a claiming-scheme step. Send an id to change a step that already exists, or send id with _destroy set to true to remove it.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Production Tracking step id.",
                    "example": 8001
                   },
                   "_destroy": {
                    "type": "boolean",
                    "description": "When true, remove this step from the scheme.",
                    "example": false
                   },
                   "claiming_scheme_step_id": {
                    "type": "integer",
                    "description": "ID of the claiming-scheme step this row derives from.",
                    "example": 501
                   },
                   "planned_quantity": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000,
                    "exclusiveMaximum": true,
                    "description": "Quantity planned against this step.",
                    "example": 200
                   }
                  },
                  "example": {
                   "id": 8001,
                   "planned_quantity": 200
                  }
                 }
                }
               },
               "example": {
                "steps": [
                 {
                  "id": 8001,
                  "planned_quantity": 200
                 }
                ]
               }
              }
             },
             "example": {
              "id": 9001,
              "planned_quantity": 75
             }
            }
           },
           "scheme": {
            "type": "object",
            "description": "Changes to a claiming scheme and its steps. Omitted fields keep their existing values.",
            "properties": {
             "claiming_scheme_id": {
              "type": "integer",
              "description": "ID of the project claiming scheme that owns this step list.",
              "example": 77
             },
             "steps": {
              "type": "array",
              "minItems": 1,
              "maxItems": 100,
              "description": "Steps to add, change, or remove.",
              "items": {
               "type": "object",
               "description": "Changes to a claiming-scheme step. Send an id to change a step that already exists, or send id with _destroy set to true to remove it.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Production Tracking step id.",
                 "example": 8001
                },
                "_destroy": {
                 "type": "boolean",
                 "description": "When true, remove this step from the scheme.",
                 "example": false
                },
                "claiming_scheme_step_id": {
                 "type": "integer",
                 "description": "ID of the claiming-scheme step this row derives from.",
                 "example": 501
                },
                "planned_quantity": {
                 "type": "number",
                 "minimum": 0,
                 "maximum": 1000000000,
                 "exclusiveMaximum": true,
                 "description": "Quantity planned against this step.",
                 "example": 200
                }
               },
               "example": {
                "id": 8001,
                "planned_quantity": 200
               }
              }
             }
            },
            "example": {
             "steps": [
              {
               "id": 8001,
               "planned_quantity": 200
              }
             ]
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Budgeted Production Quantity Updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Budgeted Production Quantity",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this budgeted production quantity. Use as the {id} path parameter to show, update, or delete the record via /rest/v1.0/projects/{project_id}/budgeted_production_quantities/{id}.",
           "example": 75414
          },
          "unit_of_measure": {
           "type": "string",
           "description": "Unit of measure for the budgeted quantity (for example, lf for linear feet or sf for square feet). Drawn from the company's master Units of Measure list, excluding units categorized as Time.",
           "example": "lf"
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project this budgeted production quantity belongs to. Matches the {project_id} path parameter used to access the record.",
           "example": 1
          },
          "wbs_code_id": {
           "type": "integer",
           "description": "ID of the WBS (work breakdown structure) production quantity code this budgeted quantity is associated with.",
           "example": 1234
          },
          "cost_code": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Cost Code ID",
               "example": 12345
              },
              "biller_id": {
               "type": "integer",
               "description": "Biller ID",
               "example": 12345
              },
              "biller_type": {
               "type": "string",
               "enum": [
                "Project",
                "SubJob"
               ],
               "description": "Biller type",
               "example": "Project"
              },
              "code": {
               "type": "string",
               "description": "Cost code, not including parent prefix",
               "example": "300"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2015-05-15T00:00:00Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Deleted at",
               "example": "2017-07-29T21:39:40Z"
              },
              "full_code": {
               "type": "string",
               "description": "Full Cost code, including parent prefixes",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              },
              "parent_id": {
               "type": "integer",
               "description": "Parent",
               "example": 2345
              },
              "position": {
               "type": "integer",
               "description": "Ordering position of the cost code among its siblings",
               "example": 1
              },
              "sortable_code": {
               "type": "string",
               "description": "Sortable code (this property is deprecated - see full_code)",
               "example": "02-300"
              },
              "standard_cost_code_id": {
               "type": "integer",
               "description": "Standard Cost Code ID",
               "example": 122334
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2015-05-15T00:00:00Z"
              }
             }
            }
           ]
          },
          "quantity": {
           "type": "number",
           "minimum": 0,
           "maximum": 1000000000,
           "exclusiveMaximum": true,
           "description": "Amount of cost code budgeted to be installed, rounded to two decimal places",
           "example": 1000.5
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budgeted production quantity was last updated, in ISO 8601 format.",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this budgeted production quantity was created, in ISO 8601 format.",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "nullable": true,
           "description": "Timestamp when this budgeted production quantity was soft-deleted, in ISO 8601 format. Null when the record is active.",
           "example": "2017-07-29T21:39:40Z"
          },
          "wbs_code": {
           "type": "object",
           "description": "The WBS (work breakdown structure) code this budgeted production quantity is associated with.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the WBS code. Matches wbs_code_id.",
             "example": 1234
            },
            "flat_code": {
             "type": "string",
             "description": "Concatenated code string for the WBS code, combining its segment codes (for example, the cost code and sub job codes).",
             "example": "02-300"
            },
            "description": {
             "type": "string",
             "description": "Human-readable description of the WBS code.",
             "example": "Earthwork"
            },
            "flat_name": {
             "type": "string",
             "description": "Concatenated display name for the WBS code, combining the names of its segments.",
             "example": "Earthwork"
            }
           }
          },
          "created_by": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "Carl the Contractor"
              }
             }
            }
           ]
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating a Budgeted Production Quantity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    budgeted_production_quantity: {\n      quantity: 10.49,\n      unit_of_measure: 'sf',\n      components: [{id: 9001, planned_quantity: 75}],\n      scheme: {steps: [{id: 8001, planned_quantity: 200}]}\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"budgeted_production_quantity\\\":{\\\"quantity\\\":10.49,\\\"unit_of_measure\\\":\\\"sf\\\",\\\"components\\\":[{\\\"id\\\":9001,\\\"planned_quantity\\\":75}],\\\"scheme\\\":{\\\"steps\\\":[{\\\"id\\\":8001,\\\"planned_quantity\\\":200}]}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"budgeted_production_quantity\":{\"quantity\":10.49,\"unit_of_measure\":\"sf\",\"components\":[{\"id\":9001,\"planned_quantity\":75}],\"scheme\":{\"steps\":[{\"id\":8001,\"planned_quantity\":200}]}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"budgeted_production_quantity\\\":{\\\"quantity\\\":10.49,\\\"unit_of_measure\\\":\\\"sf\\\",\\\"components\\\":[{\\\"id\\\":9001,\\\"planned_quantity\\\":75}],\\\"scheme\\\":{\\\"steps\\\":[{\\\"id\\\":8001,\\\"planned_quantity\\\":200}]}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Accept a rules-of-credit tree on update when claiming schemes are enabled",
      "description": "When claiming schemes are enabled, update accepts the same optional\n`components` or `scheme` tree as create. On update, a component or a step\nmay also carry an `id`, to change one that already exists, or\n`_destroy: true`, to remove one. Update does not check the shape of the\ntree the way create does. These fields are ignored when claiming schemes\nare off.",
      "endpoint": "PATCH /projects/{project_id}/budgeted_production_quantities/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budgeted-production-quantities?version=1.0#update-a-budgeted-production-quantity"
     },
     {
      "summary": "Corrected quantity validation when updating a Budgeted Production Quantity",
      "description": "An existing bug allowed BPQs to be updated with negative quantities and absurdly large values,\nboth of which have been corrected.\n\n'quantity' must now be greater than or equal to 0 and must round to an absolute value less\nthan 1,000,000,000.00. Values outside that range are rejected with a 422 instead of being\nstored.\n\nOn a project that tracks production by rules of credit, a quantity carrying more than two\ndecimal places is rounded to two on save rather than stored at full precision, so the value\nmatches what Production Tracking holds.",
      "endpoint": "PATCH /projects/{project_id}/budgeted_production_quantities/{id}",
      "type": "fix",
      "breaking": false,
      "datestamp": "2026-08-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "budgeted-production-quantities?version=1.0#update-a-budgeted-production-quantity"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete a Budgeted Production Quantity",
    "description": "Deleting a Budgeted Production Quantity associated with the specified Project.",
    "tags": [
     "Budgeted Production Quantity"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Budgeted Production Quantity",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Budgeted Production Quantity Body",
        "type": "object",
        "required": [
         "budgeted_production_quantity"
        ],
        "properties": {
         "budgeted_production_quantity": {
          "title": "BudgetedProductionQuantity",
          "type": "object",
          "description": "Budgeted Production Quantity Object",
          "properties": {
           "project_id": {
            "type": "integer",
            "description": "Ignored. The project is always taken from the {project_id} path parameter, so any value supplied here has no effect.",
            "example": 1
           },
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the cost code to budget against. DO NOT provide if your project is configured for Task Codes; provide wbs_code_id instead.",
            "example": 1
           },
           "wbs_code_id": {
            "type": "integer",
            "description": "ID of the WBS production quantity code for the budgeted production quantity. Required when your project is configured for Task Codes. DO NOT provide if your project is not configured for Task Codes."
           },
           "quantity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1000000000,
            "exclusiveMaximum": true,
            "description": "Quantity budgeted for a project cost code, rounded to two decimal places",
            "example": 10.49
           },
           "unit_of_measure": {
            "type": "string",
            "description": "Unit of measure for the budgeted quantity. Must be a value from the company's master Units of Measure list that is not categorized as Time.",
            "example": "sf",
            "enum": [
             "Any value present in the Company list of Units of Measure except those categorized as \"Time\""
            ]
           },
           "components": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "description": "Visible components of the Budgeted Production Quantity. Mutually exclusive with scheme. Optional. On create, a present-but-malformed tree is rejected with 422 when the project uses rules of credit.",
            "items": {
             "type": "object",
             "description": "A visible component of the Budgeted Production Quantity. Omit scheme to track the component without steps. Nested scheme assigns a claiming scheme and its step list to this component. 1 to 100 components; sibling weights must total exactly 100.",
             "required": [
              "name",
              "weight",
              "planned_quantity"
             ],
             "properties": {
              "name": {
               "type": "string",
               "minLength": 1,
               "maxLength": 255,
               "description": "Display name of the component. 1 to 255 characters after trimming.",
               "example": "Installation"
              },
              "weight": {
               "type": "number",
               "minimum": 0.01,
               "maximum": 100,
               "description": "Relative weight of this component among siblings. 0.01 to 100.00 with at most two decimal places. Sibling weights must sum to exactly 100.",
               "example": 100
              },
              "planned_quantity": {
               "type": "number",
               "minimum": 0,
               "maximum": 1000000000,
               "exclusiveMaximum": true,
               "description": "Quantity planned for this component. Non-negative, at most 999,999,999.99, with at most two decimal places.",
               "example": 60
              },
              "uom": {
               "type": "string",
               "description": "Unit of measure for this component. Omit to inherit the Budgeted Production Quantity unit of measure. Must be a value from the company Units of Measure list except those categorized as Time.",
               "example": "cy"
              },
              "scheme": {
               "type": "object",
               "description": "A claiming scheme and its exact step list. Send at the top level (mutually exclusive with components) for a step-only tree, or nest it on a component when that component is broken into steps. Both claiming_scheme_id and steps are required when scheme is present.",
               "required": [
                "claiming_scheme_id",
                "steps"
               ],
               "properties": {
                "claiming_scheme_id": {
                 "type": "integer",
                 "description": "ID of the project claiming scheme that owns this step list. Use a claiming scheme that belongs to the same project as the Budgeted Production Quantity.",
                 "example": 77
                },
                "steps": {
                 "type": "array",
                 "minItems": 1,
                 "maxItems": 100,
                 "description": "The scheme's complete step set. 1 to 100 items. Each item is a claiming-scheme step ID plus planned quantity.",
                 "items": {
                  "type": "object",
                  "description": "One claiming-scheme step and the planned quantity budgeted against it. Name, weight, position, and unit of measure come from the claiming scheme and are not request fields. Required inside a scheme; 1 to 100 steps.",
                  "required": [
                   "claiming_scheme_step_id",
                   "planned_quantity"
                  ],
                  "properties": {
                   "claiming_scheme_step_id": {
                    "type": "integer",
                    "description": "ID of the claiming-scheme step this row derives from. The submitted set must match that scheme's steps exactly; send a planned_quantity of 0.00 for a step with nothing budgeted against it.",
                    "example": 501
                   },
                   "planned_quantity": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000000000,
                    "exclusiveMaximum": true,
                    "description": "Quantity planned against this step. Non-negative, at most 999,999,999.99, with at most two decimal places.",
                    "example": 200
                   }
                  },
                  "example": {
                   "claiming_scheme_step_id": 501,
                   "planned_quantity": 200
                  }
                 }
                }
               },
               "example": {
                "claiming_scheme_id": 77,
                "steps": [
                 {
                  "claiming_scheme_step_id": 501,
                  "planned_quantity": 200
                 },
                 {
                  "claiming_scheme_step_id": 502,
                  "planned_quantity": 0
                 }
                ]
               }
              }
             },
             "example": {
              "name": "Installation",
              "weight": 100,
              "planned_quantity": 60,
              "uom": "cy"
             }
            }
           },
           "scheme": {
            "type": "object",
            "description": "A claiming scheme and its exact step list. Send at the top level (mutually exclusive with components) for a step-only tree, or nest it on a component when that component is broken into steps. Both claiming_scheme_id and steps are required when scheme is present.",
            "required": [
             "claiming_scheme_id",
             "steps"
            ],
            "properties": {
             "claiming_scheme_id": {
              "type": "integer",
              "description": "ID of the project claiming scheme that owns this step list. Use a claiming scheme that belongs to the same project as the Budgeted Production Quantity.",
              "example": 77
             },
             "steps": {
              "type": "array",
              "minItems": 1,
              "maxItems": 100,
              "description": "The scheme's complete step set. 1 to 100 items. Each item is a claiming-scheme step ID plus planned quantity.",
              "items": {
               "type": "object",
               "description": "One claiming-scheme step and the planned quantity budgeted against it. Name, weight, position, and unit of measure come from the claiming scheme and are not request fields. Required inside a scheme; 1 to 100 steps.",
               "required": [
                "claiming_scheme_step_id",
                "planned_quantity"
               ],
               "properties": {
                "claiming_scheme_step_id": {
                 "type": "integer",
                 "description": "ID of the claiming-scheme step this row derives from. The submitted set must match that scheme's steps exactly; send a planned_quantity of 0.00 for a step with nothing budgeted against it.",
                 "example": 501
                },
                "planned_quantity": {
                 "type": "number",
                 "minimum": 0,
                 "maximum": 1000000000,
                 "exclusiveMaximum": true,
                 "description": "Quantity planned against this step. Non-negative, at most 999,999,999.99, with at most two decimal places.",
                 "example": 200
                }
               },
               "example": {
                "claiming_scheme_step_id": 501,
                "planned_quantity": 200
               }
              }
             }
            },
            "example": {
             "claiming_scheme_id": 77,
             "steps": [
              {
               "claiming_scheme_step_id": 501,
               "planned_quantity": 200
              },
              {
               "claiming_scheme_step_id": 502,
               "planned_quantity": 0
              }
             ]
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Budgeted Production Quantity Deleted"
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    budgeted_production_quantity: {\n      project_id: 1,\n      cost_code_id: 1,\n      wbs_code_id: 0,\n      quantity: 10.49,\n      unit_of_measure: 'sf',\n      components: [{name: 'Installation', weight: 100, planned_quantity: 60, uom: 'cy'}],\n      scheme: {\n        claiming_scheme_id: 77,\n        steps: [\n          {claiming_scheme_step_id: 501, planned_quantity: 200},\n          {claiming_scheme_step_id: 502, planned_quantity: 0}\n        ]\n      }\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"budgeted_production_quantity\\\":{\\\"project_id\\\":1,\\\"cost_code_id\\\":1,\\\"wbs_code_id\\\":0,\\\"quantity\\\":10.49,\\\"unit_of_measure\\\":\\\"sf\\\",\\\"components\\\":[{\\\"name\\\":\\\"Installation\\\",\\\"weight\\\":100,\\\"planned_quantity\\\":60,\\\"uom\\\":\\\"cy\\\"}],\\\"scheme\\\":{\\\"claiming_scheme_id\\\":77,\\\"steps\\\":[{\\\"claiming_scheme_step_id\\\":501,\\\"planned_quantity\\\":200},{\\\"claiming_scheme_step_id\\\":502,\\\"planned_quantity\\\":0}]}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"budgeted_production_quantity\":{\"project_id\":1,\"cost_code_id\":1,\"wbs_code_id\":0,\"quantity\":10.49,\"unit_of_measure\":\"sf\",\"components\":[{\"name\":\"Installation\",\"weight\":100,\"planned_quantity\":60,\"uom\":\"cy\"}],\"scheme\":{\"claiming_scheme_id\":77,\"steps\":[{\"claiming_scheme_step_id\":501,\"planned_quantity\":200},{\"claiming_scheme_step_id\":502,\"planned_quantity\":0}]}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/budgeted_production_quantities/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"budgeted_production_quantity\\\":{\\\"project_id\\\":1,\\\"cost_code_id\\\":1,\\\"wbs_code_id\\\":0,\\\"quantity\\\":10.49,\\\"unit_of_measure\\\":\\\"sf\\\",\\\"components\\\":[{\\\"name\\\":\\\"Installation\\\",\\\"weight\\\":100,\\\"planned_quantity\\\":60,\\\"uom\\\":\\\"cy\\\"}],\\\"scheme\\\":{\\\"claiming_scheme_id\\\":77,\\\"steps\\\":[{\\\"claiming_scheme_step_id\\\":501,\\\"planned_quantity\\\":200},{\\\"claiming_scheme_step_id\\\":502,\\\"planned_quantity\\\":0}]}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}