{
 "openapi": "3.0.0",
 "info": {
  "title": "Budget Change Adjustment Line Items",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Budget",
  "x-resource-name": "Budget Change Adjustment Line Items",
  "version": "2.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/budget_changes/adjustment_line_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Get Adjustment and Adjustment Line Items of a Project",
    "description": "Get Adjustment and Adjustment Line Items of a Project. Each page will have a maximum of 100 items.",
    "tags": [
     "Budget Change",
     "Budget Change Adjustment"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "budget_change_id",
      "in": "query",
      "required": false,
      "description": "Restrict results to adjustment line items belonging to this budget change. Pass the budget_change_id returned on each line item to fetch only that budget change's adjustments.",
      "schema": {
       "type": "string"
      },
      "example": "1"
     },
     {
      "name": "adjustment_id",
      "in": "query",
      "required": false,
      "description": "Restrict results to line items within this specific adjustment. Use together with budget_change_id to narrow to a single adjustment group.",
      "schema": {
       "type": "string"
      },
      "example": "5"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Link": {
        "description": "Link headers for applicable first, prev, next, and last page links",
        "schema": {
         "type": "string"
        }
       },
       "Page": {
        "description": "Number of the page retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items available to be retrieved",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Budget Change Adjustment Line Items",
           "items": {
            "type": "object",
            "description": "Budget Change Adjustment line item Summarized",
            "properties": {
             "id": {
              "type": "string",
              "description": "ID of the line item. ID can be combined with the type to uniquely identify an adjustment line item for a project",
              "nullable": true,
              "example": "56"
             },
             "adjustment_number": {
              "type": "integer",
              "description": "The number of the adjustment this line item belongs to",
              "example": 5
             },
             "wbs_code_id": {
              "type": "string",
              "nullable": true,
              "description": "Identifier of the WBS (Work Breakdown Structure) code this line item is allocated to. Null when the line item is not yet assigned to a budget code.",
              "example": "76"
             },
             "amount": {
              "type": "number",
              "nullable": true,
              "description": "Currency amount of this adjustment line item. Null when no amount has been set.",
              "example": 100
             },
             "uom": {
              "type": "string",
              "nullable": true,
              "description": "Unit of measure for this line item's quantity (e.g. 'ea'). Null when the line item is not quantity-based.",
              "example": "ea"
             },
             "quantity": {
              "type": "number",
              "nullable": true,
              "description": "Quantity for this line item, expressed in the unit given by uom. Null when the line item is not quantity-based.",
              "example": 1
             },
             "description": {
              "type": "string",
              "nullable": true,
              "description": "Free-text description of this adjustment line item. Null when no description was provided.",
              "example": "This is a description"
             },
             "type": {
              "type": "string",
              "description": "Used to identify type of line item. Type can be combined with the ID to uniquely identify an adjustment line item for a project. Type change_event corresponds to the first line in an adjustment in the UI. The subsequent lines of that adjustment are of type budget_change",
              "example": "change_event",
              "enum": [
               "change_event",
               "budget_change"
              ]
             },
             "budget_change_number": {
              "type": "string",
              "description": "The number of the budget change this line item belongs to",
              "example": "1"
             },
             "budget_change_status": {
              "type": "string",
              "description": "The status of the budget change",
              "example": "approved",
              "enum": [
               "approved",
               "draft",
               "under_review",
               "void"
              ]
             },
             "budget_change_name": {
              "type": "string",
              "description": "The name of the budget change",
              "example": "Budget Change 1"
             },
             "budget_change_id": {
              "type": "string",
              "description": "The ID of the budget change",
              "example": "1"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/budget_changes/adjustment_line_items',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    budget_change_id: '1',\n    adjustment_id: '5'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/budget_changes/adjustment_line_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&budget_change_id=1&adjustment_id=5\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/budget_changes/adjustment_line_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&budget_change_id=1&adjustment_id=5'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/budget_changes/adjustment_line_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&budget_change_id=1&adjustment_id=5\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introducing v2.0 Get Project Budget Change Adjustment Line Items endpoint",
      "description": "Introduction of API endpoint for Budget Change Adjustment Line Items per project.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/budget_changes/adjustment_line_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-06-24",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "budget-change-adjustment-line-items?version=2.0#get-adjustment-and-adjustment-line-items-of-a-project"
     }
    ]
   },
   "x-compliance-level": "partial"
  }
 }
}