{
 "openapi": "3.0.0",
 "info": {
  "title": "Bulk Update Subcontractor Invoice (Requisition) Items",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Bulk Update Subcontractor Invoice (Requisition) Items",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/requisitions/{requisition_id}/bulk_item_update": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Update Subcontractor Invoice (Requisitions) Items",
    "description": "Updates all requisition items received in the body. Can be contract items, contract detail items, or change order items.",
    "tags": [
     "Requisitions"
    ],
    "parameters": [
     {
      "name": "requisition_id",
      "in": "path",
      "description": "Requisition ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "requisition_items"
        ],
        "properties": {
         "requisition_items": {
          "title": "RequisitionBulkItemUpdate",
          "type": "array",
          "description": "Requisition Items",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The id of the item to update",
             "example": 1001
            },
            "item_type": {
             "type": "string",
             "description": "The type of the item your are updating",
             "enum": [
              "contract_item",
              "contract_detail_item",
              "change_order_item"
             ],
             "example": 1001
            },
            "work_completed_this_period": {
             "type": "string",
             "description": "The amount of work completed this period",
             "example": 1000
            },
            "materials_presently_stored": {
             "type": "string",
             "description": "The amount of materials presently stored",
             "example": 500
            },
            "work_completed_retainage_retained_this_period": {
             "type": "string",
             "description": "Work completed retainage amount retained this period (admin user only, work_completed_this_period should be non-zero to hold a retainage)",
             "example": 0.22
            },
            "materials_stored_retainage_currently_retained": {
             "type": "string",
             "description": "Materials stored retainage amount currently retained (admin user, amount accounting only, materials_presently_stored should be non-zero to hold a retainage)",
             "example": 0.23
            },
            "work_completed_retainage_released_this_period": {
             "type": "string",
             "description": "The amount of work completed retainage released this period",
             "example": 0.24
            },
            "work_completed_this_period_quantity": {
             "type": "string",
             "description": "Work completed this period quantity (unit accounting contract only)",
             "example": 10
            },
            "subcontractor_claimed_amount": {
             "type": "string",
             "description": "The total amount the subcontractor original claimed for this line",
             "example": 20.5
            },
            "status": {
             "type": "string",
             "description": "Approval status of the invoice line item",
             "enum": [
              "approved",
              "rejected",
              "no_action"
             ],
             "example": "rejected"
            },
            "comment": {
             "type": "string",
             "description": "Comment about the invoice line item",
             "example": "This work was not yet completed"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/bulk_item_update',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    requisition_items: [\n      {\n        id: 1001,\n        item_type: 1001,\n        work_completed_this_period: 1000,\n        materials_presently_stored: 500,\n        work_completed_retainage_retained_this_period: 0.22,\n        materials_stored_retainage_currently_retained: 0.23,\n        work_completed_retainage_released_this_period: 0.24,\n        work_completed_this_period_quantity: 10,\n        subcontractor_claimed_amount: 20.5,\n        status: 'rejected',\n        comment: 'This work was not yet completed'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"requisition_items\\\":[{\\\"id\\\":1001,\\\"item_type\\\":1001,\\\"work_completed_this_period\\\":1000,\\\"materials_presently_stored\\\":500,\\\"work_completed_retainage_retained_this_period\\\":0.22,\\\"materials_stored_retainage_currently_retained\\\":0.23,\\\"work_completed_retainage_released_this_period\\\":0.24,\\\"work_completed_this_period_quantity\\\":10,\\\"subcontractor_claimed_amount\\\":20.5,\\\"status\\\":\\\"rejected\\\",\\\"comment\\\":\\\"This work was not yet completed\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/requisitions/%7Brequisition_id%7D/bulk_item_update?project_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/bulk_item_update?project_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"requisition_items\":[{\"id\":1001,\"item_type\":1001,\"work_completed_this_period\":1000,\"materials_presently_stored\":500,\"work_completed_retainage_retained_this_period\":0.22,\"materials_stored_retainage_currently_retained\":0.23,\"work_completed_retainage_released_this_period\":0.24,\"work_completed_this_period_quantity\":10,\"subcontractor_claimed_amount\":20.5,\"status\":\"rejected\",\"comment\":\"This work was not yet completed\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/requisitions/%7Brequisition_id%7D/bulk_item_update?project_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"requisition_items\\\":[{\\\"id\\\":1001,\\\"item_type\\\":1001,\\\"work_completed_this_period\\\":1000,\\\"materials_presently_stored\\\":500,\\\"work_completed_retainage_retained_this_period\\\":0.22,\\\"materials_stored_retainage_currently_retained\\\":0.23,\\\"work_completed_retainage_released_this_period\\\":0.24,\\\"work_completed_this_period_quantity\\\":10,\\\"subcontractor_claimed_amount\\\":20.5,\\\"status\\\":\\\"rejected\\\",\\\"comment\\\":\\\"This work was not yet completed\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}