{
 "openapi": "3.0.0",
 "info": {
  "title": "Calendar Items",
  "x-product-category": "Project Management",
  "x-tool-category": "Schedule (Legacy)",
  "x-resource-name": "Calendar Items",
  "version": "1.0",
  "x-product-lines": [
   "PM Starter Pack",
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/schedule/calendar_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Calendar Item",
    "description": "Create a new Calendar Item",
    "tags": [
     "Schedule",
     "Calendar Items"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "calendar_item"
        ],
        "properties": {
         "calendar_item": {
          "type": "object",
          "properties": {
           "assigned_id": {
            "type": "integer",
            "description": "ID of the assigned user for the Calendar Item"
           },
           "color": {
            "type": "string",
            "description": "Calendar Item color (as a hex triplet)",
            "example": "#A4505D"
           },
           "description": {
            "type": "string",
            "description": "Calendar Item description",
            "example": "Use some power tools to fix the drywall."
           },
           "finish": {
            "type": "string",
            "format": "date",
            "description": "The finish date of the Calendar Item",
            "example": "2020-02-02"
           },
           "name": {
            "type": "string",
            "description": "Calendar Item name",
            "example": "Fix Drywall"
           },
           "percentage": {
            "type": "integer",
            "description": "Calendar Item completion percentage",
            "example": 50
           },
           "private": {
            "type": "boolean",
            "description": "Calendar Item private status",
            "example": false
           },
           "start": {
            "type": "string",
            "format": "date",
            "description": "The start date of the Calendar Item",
            "example": "2020-01-01"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Schedule Calendar Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Calendar Item ID"
          },
          "assigned": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "color": {
           "type": "string",
           "description": "Calendar Item color (as a hex triplet)",
           "example": "#A4505D"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "description": {
           "type": "string",
           "description": "Calendar Item description",
           "example": "Use some power tools to fix the drywall."
          },
          "finish": {
           "type": "string",
           "format": "date",
           "description": "Calendar Item finish date",
           "example": "2020-02-02"
          },
          "full_outline_path": {
           "type": "string",
           "description": "ToDo full outline path (corresponds to matching field on Tasks)",
           "example": "Fix drywall"
          },
          "milestone": {
           "type": "boolean",
           "description": "Calendar Item milestone status",
           "example": true
          },
          "name": {
           "type": "string",
           "description": "Calendar Item name",
           "example": "Fix Drywall"
          },
          "percentage": {
           "type": "integer",
           "description": "Calendar Item completion percentage",
           "example": 50
          },
          "private": {
           "type": "boolean",
           "description": "Calendar Item private status",
           "example": false
          },
          "start": {
           "type": "string",
           "format": "date",
           "description": "Calendar Item start date",
           "example": "2020-01-01"
          },
          "task_name": {
           "type": "string",
           "description": "Calendar Item name (corresponds to matching field on Tasks)",
           "example": "Fix Drywall"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Calendar Item last updated at",
           "example": "2019-08-01T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Schedule Calendar Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Calendar Item ID"
          },
          "assigned": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "color": {
           "type": "string",
           "description": "Calendar Item color (as a hex triplet)",
           "example": "#A4505D"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "description": {
           "type": "string",
           "description": "Calendar Item description",
           "example": "Use some power tools to fix the drywall."
          },
          "finish": {
           "type": "string",
           "format": "date",
           "description": "Calendar Item finish date",
           "example": "2020-02-02"
          },
          "full_outline_path": {
           "type": "string",
           "description": "ToDo full outline path (corresponds to matching field on Tasks)",
           "example": "Fix drywall"
          },
          "milestone": {
           "type": "boolean",
           "description": "Calendar Item milestone status",
           "example": true
          },
          "name": {
           "type": "string",
           "description": "Calendar Item name",
           "example": "Fix Drywall"
          },
          "percentage": {
           "type": "integer",
           "description": "Calendar Item completion percentage",
           "example": 50
          },
          "private": {
           "type": "boolean",
           "description": "Calendar Item private status",
           "example": false
          },
          "start": {
           "type": "string",
           "format": "date",
           "description": "Calendar Item start date",
           "example": "2020-01-01"
          },
          "task_name": {
           "type": "string",
           "description": "Calendar Item name (corresponds to matching field on Tasks)",
           "example": "Fix Drywall"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Calendar Item last updated at",
           "example": "2019-08-01T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items',\n  headers: {'content-type': 'application/json'},\n  body: {\n    calendar_item: {\n      assigned_id: 0,\n      color: '#A4505D',\n      description: 'Use some power tools to fix the drywall.',\n      finish: '2020-02-02',\n      name: 'Fix Drywall',\n      percentage: 50,\n      private: false,\n      start: '2020-01-01'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"calendar_item\\\":{\\\"assigned_id\\\":0,\\\"color\\\":\\\"#A4505D\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish\\\":\\\"2020-02-02\\\",\\\"name\\\":\\\"Fix Drywall\\\",\\\"percentage\\\":50,\\\"private\\\":false,\\\"start\\\":\\\"2020-01-01\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items \\\n  --header 'content-type: application/json' \\\n  --data '{\"calendar_item\":{\"assigned_id\":0,\"color\":\"#A4505D\",\"description\":\"Use some power tools to fix the drywall.\",\"finish\":\"2020-02-02\",\"name\":\"Fix Drywall\",\"percentage\":50,\"private\":false,\"start\":\"2020-01-01\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items\"),\n    Content = new StringContent(\"{\\\"calendar_item\\\":{\\\"assigned_id\\\":0,\\\"color\\\":\\\"#A4505D\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish\\\":\\\"2020-02-02\\\",\\\"name\\\":\\\"Fix Drywall\\\",\\\"percentage\\\":50,\\\"private\\\":false,\\\"start\\\":\\\"2020-01-01\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 endpoint",
      "description": "Added Rest v1.0 endpoint",
      "endpoint": "POST /projects/{project_id}/schedule/calendar_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "calendar-items?version=1.0#create-calendar-item"
     }
    ]
   },
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Calendar Items",
    "description": "Returns all Calendar Items for a given project.",
    "tags": [
     "Schedule",
     "Calendar Items"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "The view to use when serializing Calendar Item data.\nThe ids_only view returns an array of Calendar Item IDs.\nThe total_count_only view returns total count of Calendar Items.",
      "schema": {
       "type": "string",
       "enum": [
        "ids_only",
        "total_count_only"
       ]
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "required": false,
      "description": "Calendar Items that occur after this date",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "finish_date",
      "in": "query",
      "required": false,
      "description": "Calendar Items that occur before this date",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[assigned_id]",
      "in": "query",
      "description": "Returns task(s) with specified assignee(s)",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[date]",
      "in": "query",
      "description": "Returns task(s) existing on the specified ISO 8601 datetime",
      "schema": {
       "type": "string"
      },
      "required": false
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return item(s) with the specified sort.  Prepend \"-\" to specify descending order.",
      "schema": {
       "type": "string",
       "enum": [
        "id",
        "name",
        "start_date",
        "finish_date",
        "percent"
       ]
      },
      "required": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Schedule Calendar Item",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Calendar Item ID"
           },
           "assigned": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "color": {
            "type": "string",
            "description": "Calendar Item color (as a hex triplet)",
            "example": "#A4505D"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "description": {
            "type": "string",
            "description": "Calendar Item description",
            "example": "Use some power tools to fix the drywall."
           },
           "finish": {
            "type": "string",
            "format": "date",
            "description": "Calendar Item finish date",
            "example": "2020-02-02"
           },
           "full_outline_path": {
            "type": "string",
            "description": "ToDo full outline path (corresponds to matching field on Tasks)",
            "example": "Fix drywall"
           },
           "milestone": {
            "type": "boolean",
            "description": "Calendar Item milestone status",
            "example": true
           },
           "name": {
            "type": "string",
            "description": "Calendar Item name",
            "example": "Fix Drywall"
           },
           "percentage": {
            "type": "integer",
            "description": "Calendar Item completion percentage",
            "example": 50
           },
           "private": {
            "type": "boolean",
            "description": "Calendar Item private status",
            "example": false
           },
           "start": {
            "type": "string",
            "format": "date",
            "description": "Calendar Item start date",
            "example": "2020-01-01"
           },
           "task_name": {
            "type": "string",
            "description": "Calendar Item name (corresponds to matching field on Tasks)",
            "example": "Fix Drywall"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Calendar Item last updated at",
            "example": "2019-08-01T00:00:00Z"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    start_date: 'SOME_STRING_VALUE',\n    finish_date: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[assigned_id]': 'SOME_ARRAY_VALUE',\n    'filters[date]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items?view=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&finish_date=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bassigned_id%5D=SOME_ARRAY_VALUE&filters%5Bdate%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items?view=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&finish_date=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bassigned_id%5D=SOME_ARRAY_VALUE&filters%5Bdate%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items?view=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&finish_date=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bassigned_id%5D=SOME_ARRAY_VALUE&filters%5Bdate%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 endpoint",
      "description": "Added Rest v1.0 endpoint",
      "endpoint": "GET /projects/{project_id}/schedule/calendar_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "calendar-items?version=1.0#list-calendar-items"
     },
     {
      "summary": "Add new filter and sort parameters",
      "description": "Add new filter parameters: 'assigned_id', 'date'\nAdd new sort parameters: 'id', 'name', 'start_date', 'finish_date', 'percent'",
      "endpoint": "GET /projects/{project_id}/schedule/calendar_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-12-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "calendar-items?version=1.0#list-calendar-items"
     },
     {
      "summary": "Add new filter",
      "description": "Adds ability to filter based on search query.",
      "endpoint": "GET /projects/{project_id}/schedule/calendar_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-12-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "calendar-items?version=1.0#list-calendar-items"
     },
     {
      "summary": "Add new parameter",
      "description": "Add 'total_count_only' parameter to get total count of requested items",
      "endpoint": "GET /projects/{project_id}/schedule/calendar_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-12-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "calendar-items?version=1.0#list-calendar-items"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/schedule/calendar_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Calendar Item ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Calendar Item",
    "description": "Get the details of a single Calendar Item",
    "tags": [
     "Schedule",
     "Calendar Items"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Schedule Calendar Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Calendar Item ID"
          },
          "assigned": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "color": {
           "type": "string",
           "description": "Calendar Item color (as a hex triplet)",
           "example": "#A4505D"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "description": {
           "type": "string",
           "description": "Calendar Item description",
           "example": "Use some power tools to fix the drywall."
          },
          "finish": {
           "type": "string",
           "format": "date",
           "description": "Calendar Item finish date",
           "example": "2020-02-02"
          },
          "full_outline_path": {
           "type": "string",
           "description": "ToDo full outline path (corresponds to matching field on Tasks)",
           "example": "Fix drywall"
          },
          "milestone": {
           "type": "boolean",
           "description": "Calendar Item milestone status",
           "example": true
          },
          "name": {
           "type": "string",
           "description": "Calendar Item name",
           "example": "Fix Drywall"
          },
          "percentage": {
           "type": "integer",
           "description": "Calendar Item completion percentage",
           "example": 50
          },
          "private": {
           "type": "boolean",
           "description": "Calendar Item private status",
           "example": false
          },
          "start": {
           "type": "string",
           "format": "date",
           "description": "Calendar Item start date",
           "example": "2020-01-01"
          },
          "task_name": {
           "type": "string",
           "description": "Calendar Item name (corresponds to matching field on Tasks)",
           "example": "Fix Drywall"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Calendar Item last updated at",
           "example": "2019-08-01T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 endpoint",
      "description": "Added Rest v1.0 endpoint",
      "endpoint": "GET /projects/{project_id}/schedule/calendar_items/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "calendar-items?version=1.0#show-calendar-item"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Calendar Item",
    "description": "Update attributes on a single Calendar Item",
    "tags": [
     "Schedule",
     "Calendar Items"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "calendar_item"
        ],
        "properties": {
         "calendar_item": {
          "type": "object",
          "properties": {
           "assigned_id": {
            "type": "integer",
            "description": "ID of the assigned user for the Calendar Item"
           },
           "color": {
            "type": "string",
            "description": "Calendar Item color (as a hex triplet)",
            "example": "#A4505D"
           },
           "description": {
            "type": "string",
            "description": "Calendar Item description",
            "example": "Use some power tools to fix the drywall."
           },
           "finish": {
            "type": "string",
            "format": "date",
            "description": "The finish date of the Calendar Item",
            "example": "2020-02-02"
           },
           "name": {
            "type": "string",
            "description": "Calendar Item name",
            "example": "Fix Drywall"
           },
           "percentage": {
            "type": "integer",
            "description": "Calendar Item completion percentage",
            "example": 50
           },
           "private": {
            "type": "boolean",
            "description": "Calendar Item private status",
            "example": false
           },
           "start": {
            "type": "string",
            "format": "date",
            "description": "The start date of the Calendar Item",
            "example": "2020-01-01"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Schedule Calendar Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Calendar Item ID"
          },
          "assigned": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "color": {
           "type": "string",
           "description": "Calendar Item color (as a hex triplet)",
           "example": "#A4505D"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "description": {
           "type": "string",
           "description": "Calendar Item description",
           "example": "Use some power tools to fix the drywall."
          },
          "finish": {
           "type": "string",
           "format": "date",
           "description": "Calendar Item finish date",
           "example": "2020-02-02"
          },
          "full_outline_path": {
           "type": "string",
           "description": "ToDo full outline path (corresponds to matching field on Tasks)",
           "example": "Fix drywall"
          },
          "milestone": {
           "type": "boolean",
           "description": "Calendar Item milestone status",
           "example": true
          },
          "name": {
           "type": "string",
           "description": "Calendar Item name",
           "example": "Fix Drywall"
          },
          "percentage": {
           "type": "integer",
           "description": "Calendar Item completion percentage",
           "example": 50
          },
          "private": {
           "type": "boolean",
           "description": "Calendar Item private status",
           "example": false
          },
          "start": {
           "type": "string",
           "format": "date",
           "description": "Calendar Item start date",
           "example": "2020-01-01"
          },
          "task_name": {
           "type": "string",
           "description": "Calendar Item name (corresponds to matching field on Tasks)",
           "example": "Fix Drywall"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Calendar Item last updated at",
           "example": "2019-08-01T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    calendar_item: {\n      assigned_id: 0,\n      color: '#A4505D',\n      description: 'Use some power tools to fix the drywall.',\n      finish: '2020-02-02',\n      name: 'Fix Drywall',\n      percentage: 50,\n      private: false,\n      start: '2020-01-01'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"calendar_item\\\":{\\\"assigned_id\\\":0,\\\"color\\\":\\\"#A4505D\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish\\\":\\\"2020-02-02\\\",\\\"name\\\":\\\"Fix Drywall\\\",\\\"percentage\\\":50,\\\"private\\\":false,\\\"start\\\":\\\"2020-01-01\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"calendar_item\":{\"assigned_id\":0,\"color\":\"#A4505D\",\"description\":\"Use some power tools to fix the drywall.\",\"finish\":\"2020-02-02\",\"name\":\"Fix Drywall\",\"percentage\":50,\"private\":false,\"start\":\"2020-01-01\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"calendar_item\\\":{\\\"assigned_id\\\":0,\\\"color\\\":\\\"#A4505D\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish\\\":\\\"2020-02-02\\\",\\\"name\\\":\\\"Fix Drywall\\\",\\\"percentage\\\":50,\\\"private\\\":false,\\\"start\\\":\\\"2020-01-01\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Calendar Item",
    "description": "Delete a single Calendar Item",
    "tags": [
     "Schedule",
     "Calendar Items"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 endpoint",
      "description": "Added Rest v1.0 endpoint",
      "endpoint": "DELETE /projects/{project_id}/schedule/calendar_items/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "calendar-items?version=1.0#delete-calendar-item"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/schedule/calendar_items/sync": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync Calendar Items",
    "description": "Create or update a batch of Calendar Items",
    "tags": [
     "Schedule",
     "Calendar Items"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "updates"
        ],
        "properties": {
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the Calendar Item to be updated"
            },
            "assigned_id": {
             "type": "integer",
             "description": "ID of the assigned user for the Calendar Item"
            },
            "color": {
             "type": "string",
             "description": "Calendar Item color (as a hex triplet)",
             "example": "#A4505D"
            },
            "description": {
             "type": "string",
             "description": "Calendar Item description",
             "example": "Use some power tools to fix the drywall."
            },
            "finish": {
             "type": "string",
             "format": "date",
             "description": "The finish date of the Calendar Item",
             "example": "2020-02-02"
            },
            "name": {
             "type": "string",
             "description": "Calendar Item name",
             "example": "Fix Drywall"
            },
            "percentage": {
             "type": "integer",
             "description": "Calendar Item completion percentage",
             "example": 50
            },
            "private": {
             "type": "boolean",
             "description": "Calendar Item private status",
             "example": false
            },
            "start": {
             "type": "string",
             "format": "date",
             "description": "The start date of the Calendar Item",
             "example": "2020-01-01"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Schedule Calendar Item",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Calendar Item ID"
             },
             "assigned": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "color": {
              "type": "string",
              "description": "Calendar Item color (as a hex triplet)",
              "example": "#A4505D"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "description": {
              "type": "string",
              "description": "Calendar Item description",
              "example": "Use some power tools to fix the drywall."
             },
             "finish": {
              "type": "string",
              "format": "date",
              "description": "Calendar Item finish date",
              "example": "2020-02-02"
             },
             "full_outline_path": {
              "type": "string",
              "description": "ToDo full outline path (corresponds to matching field on Tasks)",
              "example": "Fix drywall"
             },
             "milestone": {
              "type": "boolean",
              "description": "Calendar Item milestone status",
              "example": true
             },
             "name": {
              "type": "string",
              "description": "Calendar Item name",
              "example": "Fix Drywall"
             },
             "percentage": {
              "type": "integer",
              "description": "Calendar Item completion percentage",
              "example": 50
             },
             "private": {
              "type": "boolean",
              "description": "Calendar Item private status",
              "example": false
             },
             "start": {
              "type": "string",
              "format": "date",
              "description": "Calendar Item start date",
              "example": "2020-01-01"
             },
             "task_name": {
              "type": "string",
              "description": "Calendar Item name (corresponds to matching field on Tasks)",
              "example": "Fix Drywall"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Calendar Item last updated at",
              "example": "2019-08-01T00:00:00Z"
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "errors": {
              "type": "object",
              "properties": {
               "field_name": {
                "type": "array",
                "items": {
                 "type": "string"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/sync',\n  headers: {'content-type': 'application/json'},\n  body: {\n    updates: [\n      {\n        id: 0,\n        assigned_id: 0,\n        color: '#A4505D',\n        description: 'Use some power tools to fix the drywall.',\n        finish: '2020-02-02',\n        name: 'Fix Drywall',\n        percentage: 50,\n        private: false,\n        start: '2020-01-01'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"updates\\\":[{\\\"id\\\":0,\\\"assigned_id\\\":0,\\\"color\\\":\\\"#A4505D\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish\\\":\\\"2020-02-02\\\",\\\"name\\\":\\\"Fix Drywall\\\",\\\"percentage\\\":50,\\\"private\\\":false,\\\"start\\\":\\\"2020-01-01\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/sync\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/sync \\\n  --header 'content-type: application/json' \\\n  --data '{\"updates\":[{\"id\":0,\"assigned_id\":0,\"color\":\"#A4505D\",\"description\":\"Use some power tools to fix the drywall.\",\"finish\":\"2020-02-02\",\"name\":\"Fix Drywall\",\"percentage\":50,\"private\":false,\"start\":\"2020-01-01\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/schedule/calendar_items/sync\"),\n    Content = new StringContent(\"{\\\"updates\\\":[{\\\"id\\\":0,\\\"assigned_id\\\":0,\\\"color\\\":\\\"#A4505D\\\",\\\"description\\\":\\\"Use some power tools to fix the drywall.\\\",\\\"finish\\\":\\\"2020-02-02\\\",\\\"name\\\":\\\"Fix Drywall\\\",\\\"percentage\\\":50,\\\"private\\\":false,\\\"start\\\":\\\"2020-01-01\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Rest v1.0 endpoint",
      "description": "Added Rest v1.0 endpoint",
      "endpoint": "PATCH /projects/{project_id}/schedule/calendar_items/sync",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "calendar-items?version=1.0#sync-calendar-items"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}