{
 "openapi": "3.0.0",
 "info": {
  "title": "Change Event Settings",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Change Events",
  "x-resource-name": "Change Event Settings",
  "version": "2.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/change_event_settings": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Get Change Event Settings",
    "description": "Get Values for Change Event Settings",
    "tags": [
     "Change Events"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "description": "Change Event Settings",
           "properties": {
            "budget_rom_source_for_in_scope": {
             "type": "string",
             "description": "Source value used to calculate the budget ROM (rough order of magnitude) for change event line items marked 'In Scope'.",
             "example": "cost"
            },
            "budget_rom_source_for_out_of_scope": {
             "type": "string",
             "description": "Source value used to calculate the budget ROM for change event line items marked 'Out of Scope'.",
             "example": "revenue"
            },
            "budget_rom_source_for_tbd_scope": {
             "type": "string",
             "description": "Source value used to calculate the budget ROM for change event line items marked 'TBD' (scope not yet determined).",
             "example": "none"
            },
            "celi_prefill_automation": {
             "type": "boolean",
             "description": "When true, auto-populates Budget Code, Vendor, and Contract on new change event line items.",
             "example": true
            },
            "change_order_value_source": {
             "type": "string",
             "description": "Source value used when creating or updating Commitment Change Orders / Potential Change Orders from change events.",
             "example": "latest_cost"
            },
            "copy_rfq_attachments_to_commitment_cos": {
             "type": "boolean",
             "description": "When true, copies RFQ attachments onto generated Commitment Change Orders / Potential Change Orders.",
             "example": false
            },
            "copy_rfq_attachments_to_prime_cos": {
             "type": "boolean",
             "description": "When true, copies RFQ attachments onto generated Prime Change Orders / Potential Change Orders.",
             "example": true
            },
            "display_revenue_detail_columns": {
             "type": "boolean",
             "description": "When true, displays the revenue ROM, latest price, latest cost, and over/under columns on the change events grid.",
             "example": true
            },
            "display_spend_quantity_columns": {
             "type": "boolean",
             "description": "When true, displays the unit of measure, revenue quantity, revenue unit cost, ROM unit quantity, and ROM unit cost columns on the change events grid.",
             "example": true
            },
            "prevent_both_prime_cos_and_budget_changes": {
             "type": "boolean",
             "description": "When true, prevents a single change event line item from generating both a Budget Change and a Prime Potential Change Order.",
             "example": false
            },
            "sync_wbs_code": {
             "type": "boolean",
             "description": "When true, keeps the budget (WBS) code in sync between a change event line item and its linked change order / commitment line items.",
             "example": true
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/change_event_settings'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/change_event_settings\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/change_event_settings"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/change_event_settings\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Implement new endpoint for Change Event Settings",
      "description": "Implement index route to contain Change Event Settings change_order_value_source property",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/change_event_settings",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-11-12",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "change-event-settings?version=2.0#get-change-event-settings"
     },
     {
      "summary": "Extended response for Change Event Settings",
      "description": "Extended response for Change Event Settings with new properties default and deletable",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/change_event_settings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-18",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "change-event-settings?version=2.0#get-change-event-settings"
     },
     {
      "summary": "Change Change Event Settings endpoint to open beta",
      "description": "Change Change Event Settings endpoint to open beta",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/change_event_settings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-12",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "change-event-settings?version=2.0#get-change-event-settings"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Update the Change Event settings for the project",
    "description": "Allows the Change Event settings for the project to be updated",
    "tags": [
     "Change Events"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "settings"
        ],
        "properties": {
         "settings": {
          "type": "object",
          "description": "Change Event Settings",
          "properties": {
           "budget_rom_source_for_in_scope": {
            "type": "string",
            "description": "Source value used to calculate the budget ROM (rough order of magnitude) for change event line items marked 'In Scope'.",
            "example": "cost"
           },
           "budget_rom_source_for_out_of_scope": {
            "type": "string",
            "description": "Source value used to calculate the budget ROM for change event line items marked 'Out of Scope'.",
            "example": "revenue"
           },
           "budget_rom_source_for_tbd_scope": {
            "type": "string",
            "description": "Source value used to calculate the budget ROM for change event line items marked 'TBD' (scope not yet determined).",
            "example": "none"
           },
           "celi_prefill_automation": {
            "type": "boolean",
            "description": "When true, auto-populates Budget Code, Vendor, and Contract on new change event line items.",
            "example": true
           },
           "change_order_value_source": {
            "type": "string",
            "description": "Source value used when creating or updating Commitment Change Orders / Potential Change Orders from change events.",
            "example": "latest_cost"
           },
           "copy_rfq_attachments_to_commitment_cos": {
            "type": "boolean",
            "description": "When true, copies RFQ attachments onto generated Commitment Change Orders / Potential Change Orders.",
            "example": false
           },
           "copy_rfq_attachments_to_prime_cos": {
            "type": "boolean",
            "description": "When true, copies RFQ attachments onto generated Prime Change Orders / Potential Change Orders.",
            "example": true
           },
           "display_revenue_detail_columns": {
            "type": "boolean",
            "description": "When true, displays the revenue ROM, latest price, latest cost, and over/under columns on the change events grid.",
            "example": true
           },
           "display_spend_quantity_columns": {
            "type": "boolean",
            "description": "When true, displays the unit of measure, revenue quantity, revenue unit cost, ROM unit quantity, and ROM unit cost columns on the change events grid.",
            "example": true
           },
           "prevent_both_prime_cos_and_budget_changes": {
            "type": "boolean",
            "description": "When true, prevents a single change event line item from generating both a Budget Change and a Prime Potential Change Order.",
            "example": false
           },
           "sync_wbs_code": {
            "type": "boolean",
            "description": "When true, keeps the budget (WBS) code in sync between a change event line item and its linked change order / commitment line items.",
            "example": true
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "description": "Change Event Settings",
           "properties": {
            "budget_rom_source_for_in_scope": {
             "type": "string",
             "description": "Source value used to calculate the budget ROM (rough order of magnitude) for change event line items marked 'In Scope'.",
             "example": "cost"
            },
            "budget_rom_source_for_out_of_scope": {
             "type": "string",
             "description": "Source value used to calculate the budget ROM for change event line items marked 'Out of Scope'.",
             "example": "revenue"
            },
            "budget_rom_source_for_tbd_scope": {
             "type": "string",
             "description": "Source value used to calculate the budget ROM for change event line items marked 'TBD' (scope not yet determined).",
             "example": "none"
            },
            "celi_prefill_automation": {
             "type": "boolean",
             "description": "When true, auto-populates Budget Code, Vendor, and Contract on new change event line items.",
             "example": true
            },
            "change_order_value_source": {
             "type": "string",
             "description": "Source value used when creating or updating Commitment Change Orders / Potential Change Orders from change events.",
             "example": "latest_cost"
            },
            "copy_rfq_attachments_to_commitment_cos": {
             "type": "boolean",
             "description": "When true, copies RFQ attachments onto generated Commitment Change Orders / Potential Change Orders.",
             "example": false
            },
            "copy_rfq_attachments_to_prime_cos": {
             "type": "boolean",
             "description": "When true, copies RFQ attachments onto generated Prime Change Orders / Potential Change Orders.",
             "example": true
            },
            "display_revenue_detail_columns": {
             "type": "boolean",
             "description": "When true, displays the revenue ROM, latest price, latest cost, and over/under columns on the change events grid.",
             "example": true
            },
            "display_spend_quantity_columns": {
             "type": "boolean",
             "description": "When true, displays the unit of measure, revenue quantity, revenue unit cost, ROM unit quantity, and ROM unit cost columns on the change events grid.",
             "example": true
            },
            "prevent_both_prime_cos_and_budget_changes": {
             "type": "boolean",
             "description": "When true, prevents a single change event line item from generating both a Budget Change and a Prime Potential Change Order.",
             "example": false
            },
            "sync_wbs_code": {
             "type": "boolean",
             "description": "When true, keeps the budget (WBS) code in sync between a change event line item and its linked change order / commitment line items.",
             "example": true
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/change_event_settings',\n  headers: {'content-type': 'application/json'},\n  body: {\n    settings: {\n      budget_rom_source_for_in_scope: 'cost',\n      budget_rom_source_for_out_of_scope: 'revenue',\n      budget_rom_source_for_tbd_scope: 'none',\n      celi_prefill_automation: true,\n      change_order_value_source: 'latest_cost',\n      copy_rfq_attachments_to_commitment_cos: false,\n      copy_rfq_attachments_to_prime_cos: true,\n      display_revenue_detail_columns: true,\n      display_spend_quantity_columns: true,\n      prevent_both_prime_cos_and_budget_changes: false,\n      sync_wbs_code: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"settings\\\":{\\\"budget_rom_source_for_in_scope\\\":\\\"cost\\\",\\\"budget_rom_source_for_out_of_scope\\\":\\\"revenue\\\",\\\"budget_rom_source_for_tbd_scope\\\":\\\"none\\\",\\\"celi_prefill_automation\\\":true,\\\"change_order_value_source\\\":\\\"latest_cost\\\",\\\"copy_rfq_attachments_to_commitment_cos\\\":false,\\\"copy_rfq_attachments_to_prime_cos\\\":true,\\\"display_revenue_detail_columns\\\":true,\\\"display_spend_quantity_columns\\\":true,\\\"prevent_both_prime_cos_and_budget_changes\\\":false,\\\"sync_wbs_code\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/change_event_settings\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/change_event_settings \\\n  --header 'content-type: application/json' \\\n  --data '{\"settings\":{\"budget_rom_source_for_in_scope\":\"cost\",\"budget_rom_source_for_out_of_scope\":\"revenue\",\"budget_rom_source_for_tbd_scope\":\"none\",\"celi_prefill_automation\":true,\"change_order_value_source\":\"latest_cost\",\"copy_rfq_attachments_to_commitment_cos\":false,\"copy_rfq_attachments_to_prime_cos\":true,\"display_revenue_detail_columns\":true,\"display_spend_quantity_columns\":true,\"prevent_both_prime_cos_and_budget_changes\":false,\"sync_wbs_code\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/change_event_settings\"),\n    Content = new StringContent(\"{\\\"settings\\\":{\\\"budget_rom_source_for_in_scope\\\":\\\"cost\\\",\\\"budget_rom_source_for_out_of_scope\\\":\\\"revenue\\\",\\\"budget_rom_source_for_tbd_scope\\\":\\\"none\\\",\\\"celi_prefill_automation\\\":true,\\\"change_order_value_source\\\":\\\"latest_cost\\\",\\\"copy_rfq_attachments_to_commitment_cos\\\":false,\\\"copy_rfq_attachments_to_prime_cos\\\":true,\\\"display_revenue_detail_columns\\\":true,\\\"display_spend_quantity_columns\\\":true,\\\"prevent_both_prime_cos_and_budget_changes\\\":false,\\\"sync_wbs_code\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}