{
 "openapi": "3.0.0",
 "info": {
  "title": "Change Events",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Change Events",
  "x-resource-name": "Change Events",
  "version": "1.1",
  "x-product-lines": [
   "PM Essentials",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/change_events/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Change Event",
    "description": "Show Change Event.",
    "tags": [
     "Change Events"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "include_deleted_change_event_line_items",
      "in": "query",
      "required": false,
      "description": "Used to include deleted Change Event Line Items in the response. Presence of the key includes the deleted items.",
      "schema": {
       "type": "boolean"
      },
      "example": true
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 43453
          },
          "number": {
           "type": "string",
           "description": "number",
           "example": "A056"
          },
          "title": {
           "type": "string",
           "description": "title",
           "example": "Big Change"
          },
          "description": {
           "type": "string",
           "description": "description",
           "example": "Additional concrete work for parking garage"
          },
          "scope": {
           "type": "string",
           "description": "scope",
           "example": "tbd"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "example": "2012-10-23T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "example": "2012-10-23T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "example": "2012-10-23T21:39:40Z"
          },
          "comments_enabled": {
           "type": "boolean",
           "description": "Comments Enabled",
           "example": true
          },
          "deletable": {
           "type": "boolean",
           "example": true
          },
          "in_recycle_bin": {
           "type": "boolean",
           "example": false
          },
          "project_id": {
           "type": "integer",
           "description": "unique identifier for the project",
           "example": 60
          },
          "company_id": {
           "type": "integer",
           "description": "unique identifier for the company",
           "example": 39
          },
          "status": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1234
            },
            "name": {
             "type": "string",
             "description": "name",
             "example": "open"
            },
            "mapped_to_status": {
             "type": "string",
             "description": "mapped_to_status",
             "example": "open"
            }
           }
          },
          "event_origin": {
           "type": "object",
           "properties": {
            "origin_id": {
             "type": "integer",
             "description": "ID",
             "example": 1234
            },
            "origin_type": {
             "type": "string",
             "description": "type of object this change event originated from",
             "example": "Rfi::Header"
            },
            "display_name": {
             "type": "string",
             "description": "name of event origin used for view",
             "example": "RFI #91: Drawings Missing"
            },
            "web_page_url": {
             "type": "string",
             "description": "web page of event origin",
             "example": "/1/project/rfi/show/1"
            }
           }
          },
          "change_type": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5
            },
            "name": {
             "type": "string",
             "description": "name",
             "example": "Transfer"
            },
            "abbreviation": {
             "type": "string",
             "description": "abbreviation",
             "example": "TR"
            }
           }
          },
          "change_reason": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 3465
            },
            "change_reason": {
             "type": "string",
             "description": "The reason for a change",
             "example": "Allowance"
            }
           }
          },
          "prime_contract_for_estimates": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1122
            },
            "number": {
             "type": "string",
             "description": "contract number",
             "example": "123"
            },
            "name": {
             "type": "string",
             "description": "name of contract",
             "example": "ACME Prime Contract"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 3456
             },
             "url": {
              "type": "string",
              "description": "Remote Url for attached file",
              "example": "https://www.storage.com/files/contract.pdf",
              "nullable": true
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "contract.pdf",
              "nullable": true
             }
            }
           }
          },
          "external_data": {
           "type": "object",
           "properties": {
            "origin_id": {
             "type": "string",
             "description": "The Origin ID of the Change Event",
             "example": "654987123",
             "nullable": true
            },
            "origin_data": {
             "type": "string",
             "description": "The Origin Data of the Change Event",
             "example": "OD-123654789",
             "nullable": true
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 987
            },
            "login": {
             "type": "string",
             "description": "email address of Change Event creator",
             "example": "carl-contractor@example.com",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "first and last name of Change Event creator",
             "example": "Carl Contractor",
             "nullable": true
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "change_items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "budget_code": {
              "type": "object",
              "description": "Item's associated Budget Code",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1,
                "nullable": false
               },
               "flat_code": {
                "type": "string",
                "description": "wbs code flat code",
                "example": "O.01-511",
                "nullable": false
               },
               "description": {
                "type": "string",
                "description": "wbs code description",
                "example": "Earthwork.Materials",
                "nullable": false
               },
               "segment_items": {
                "type": "array",
                "description": "Work breakdown structure segment items",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique ID of this segment item (cost code, sub-job, line item type, or custom segment item). Use as segment_item_id when constructing a new WBS code via POST /rest/v1.0/projects/{project_id}/work_breakdown_structure/wbs_codes.",
                   "example": 456
                  },
                  "code": {
                   "type": "string",
                   "description": "Short alphanumeric code for this segment item (e.g., '01-222'). Combined with sibling segment codes to form the flat_code on the parent WBS code.",
                   "example": "01-222"
                  },
                  "name": {
                   "type": "string",
                   "description": "Human-readable name of this segment item (e.g., 'Lighting'). Combined with sibling segment names to form the flat_name on the parent WBS code.",
                   "example": "Lighting"
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp when this segment item was created, in ISO 8601 format.",
                   "example": "2016-06-30T20:41:58Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp when this segment item was last updated, in ISO 8601 format.",
                   "example": "2016-08-30T18:11:43Z"
                  },
                  "parent_id": {
                   "type": "integer",
                   "nullable": true,
                   "description": "ID of the parent segment item in a tiered segment hierarchy. Null for root-level items or items in a flat-structure segment.",
                   "example": 123
                  },
                  "path_ids": {
                   "type": "array",
                   "description": "Ordered list of IDs from the root ancestor down to (and including) this segment item. Use to reconstruct the full hierarchy path.",
                   "items": {
                    "type": "integer"
                   },
                   "example": [
                    123,
                    456
                   ]
                  },
                  "path_code": {
                   "type": "string",
                   "description": "Full path code for this segment item representing the leaf code in its hierarchy (e.g., '01-222').",
                   "example": "a"
                  },
                  "is_parent": {
                   "type": "boolean",
                   "description": "Whether this segment item has child items in a tiered segment structure. Always false for flat-structure segments.",
                   "example": false
                  },
                  "path_codes": {
                   "type": "array",
                   "description": "Ordered list of code strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
                   "items": {
                    "type": "string"
                   },
                   "example": [
                    "01 - Requirements",
                    "01-222 - Lighting"
                   ]
                  },
                  "path_names": {
                   "type": "array",
                   "description": "Ordered list of name strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
                   "items": {
                    "type": "string"
                   },
                   "example": [
                    "01 - Requirements",
                    "01-222 - Lighting"
                   ]
                  },
                  "in_use": {
                   "type": "boolean",
                   "description": "Whether this segment item is currently referenced by at least one entity (e.g., a budget line item or WBS code).",
                   "example": true
                  },
                  "segment": {
                   "type": "object",
                   "description": "The WBS segment definition that this segment item belongs to.",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique ID of the WBS segment definition.",
                     "example": 3
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the segment (e.g., 'Cost Code', 'Sub Job').",
                     "example": "Cost Code"
                    },
                    "type": {
                     "type": "string",
                     "enum": [
                      "cost_code",
                      "line_item_type",
                      "sub_job",
                      "custom",
                      "attribute"
                     ],
                     "description": "Category of this segment. One of: 'cost_code', 'line_item_type', 'sub_job', 'custom', 'attribute'. Determines which domain entity backs the segment items.",
                     "example": "cost_code"
                    },
                    "position": {
                     "type": "integer",
                     "description": "Display order of this segment within the WBS pattern. Lower numbers appear first when reading the flat_code left to right.",
                     "example": 1
                    },
                    "delimiter": {
                     "type": "string",
                     "description": "Character used to separate this segment's value from adjacent segments in the flat_code (e.g., '.').",
                     "example": "."
                    },
                    "required": {
                     "type": "boolean",
                     "description": "Whether this segment must have a value for a WBS code to be valid.",
                     "example": true
                    },
                    "segment_items_count": {
                     "type": "integer",
                     "description": "Total number of segment items defined for this segment.",
                     "example": 2
                    },
                    "project_can_modify_origin_project": {
                     "type": "boolean",
                     "description": "Whether project-level users can modify segment items that originated from this project.",
                     "example": true
                    },
                    "project_can_delete_origin_company": {
                     "type": "boolean",
                     "description": "Whether project-level users can delete segment items that originated from the company level.",
                     "example": true
                    },
                    "structure": {
                     "type": "string",
                     "enum": [
                      "tiered",
                      "flat"
                     ],
                     "description": "Hierarchy structure of the segment. 'flat' means items have no parent-child relationship; 'tiered' means items can be nested with parent_id references.",
                     "example": "tiered"
                    },
                    "created_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Timestamp when this segment definition was created, in ISO 8601 format.",
                     "example": "2016-06-30T20:41:58Z"
                    },
                    "updated_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Timestamp when this segment definition was last updated, in ISO 8601 format.",
                     "example": "2016-08-30T18:11:43Z"
                    },
                    "wbs_pattern_id": {
                     "type": "integer",
                     "description": "ID of the WBS pattern this segment belongs to.",
                     "example": 4567
                    }
                   },
                   "example": {
                    "id": 3,
                    "name": "Cost Code",
                    "type": "cost_code",
                    "position": 1,
                    "delimiter": ".",
                    "required": true,
                    "segment_items_count": 2,
                    "project_can_modify_origin_project": true,
                    "project_can_delete_origin_company": true,
                    "structure": "tiered",
                    "created_at": "2016-06-30T20:41:58Z",
                    "updated_at": "2016-08-30T18:11:43Z",
                    "wbs_pattern_id": 4567
                   }
                  },
                  "status": {
                   "type": "string",
                   "enum": [
                    "active",
                    "inactive"
                   ],
                   "description": "Lifecycle status of the segment item. One of: 'active' (available for selection when creating WBS codes), 'inactive' (not available for new WBS codes).",
                   "example": "active"
                  }
                 }
                }
               }
              }
             },
             "budget_impact": {
              "type": "object",
              "properties": {
               "budget_change": {
                "type": "object",
                "properties": {
                 "adjustment_line_item": {
                  "type": "object",
                  "properties": {
                   "amount": {
                    "type": "string",
                    "description": "Sum of all Adjustment Line Item amounts under same adjustment number",
                    "example": "123.00"
                   },
                   "id": {
                    "type": "integer",
                    "description": "Adjustment Line Item ID",
                    "example": 222
                   },
                   "number": {
                    "type": "integer",
                    "description": "Number of this adjustment",
                    "example": 5
                   }
                  }
                 },
                 "days_in_stage": {
                  "type": "integer",
                  "description": "Number of days since Change Event Line Item was associated with Budget Change and until Change Event was closed (or until today if it wasn't)",
                  "example": 1
                 },
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Budget Change",
                  "example": 75414
                 },
                 "in_status_since": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last time this status was updated",
                  "example": "2012-10-23T21:39:40Z",
                  "nullable": true
                 },
                 "number": {
                  "type": "integer",
                  "description": "Number field of the Budget Change",
                  "example": 10
                 },
                 "status": {
                  "type": "string",
                  "description": "Status of the Budget Change",
                  "example": "draft",
                  "enum": [
                   "approved",
                   "draft",
                   "under_review",
                   "void"
                  ]
                 },
                 "title": {
                  "type": "string",
                  "description": "Title of Budget Change",
                  "example": "My title"
                 }
                }
               },
               "budget_modification": {
                "type": "object",
                "properties": {
                 "budget_modification_id": {
                  "type": "integer",
                  "description": "Deprecated. No longer returned by the create endpoint; retained only for backwards compatibility and will be removed in a future revision.",
                  "example": 12345,
                  "nullable": false,
                  "deprecated": true
                 },
                 "amount": {
                  "type": "string",
                  "description": "Amount of budget transferred by this modification, as a decimal string in the project currency. Equal to the transfer_amount supplied on the request.",
                  "example": "900.55",
                  "nullable": false
                 },
                 "notes": {
                  "type": "string",
                  "description": "Free-text notes describing why the budget transfer was made. Null when no notes were provided on creation.",
                  "example": "Some notes for Budget Modification",
                  "nullable": true
                 },
                 "transfer_from": {
                  "type": "object",
                  "description": "Source Budget (Line Item) Code the amount was transferred from. Null when the modification has no source line item.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the source Budget Line Item. Use as the budget line item identifier in Budget tool requests.",
                    "example": 35879,
                    "nullable": false
                   },
                   "name": {
                    "type": "string",
                    "description": "Display name of the source Budget Code.",
                    "example": "17-040-O",
                    "nullable": false
                   }
                  },
                  "nullable": true
                 },
                 "transfer_to": {
                  "type": "object",
                  "description": "Target Budget (Line Item) Code the amount was transferred to.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the target Budget Line Item. Use as the budget line item identifier in Budget tool requests.",
                    "example": 35880,
                    "nullable": false
                   },
                   "name": {
                    "type": "string",
                    "description": "Display name of the target Budget Code.",
                    "example": "17-040-1",
                    "nullable": false
                   }
                  },
                  "nullable": false
                 }
                }
               },
               "estimate": {
                "type": "object",
                "properties": {
                 "amount": {
                  "type": "string",
                  "description": "Estimated budget ROM amount",
                  "example": "76.25",
                  "nullable": true
                 },
                 "amount_project_currency": {
                  "type": "string",
                  "description": "Estimated budget ROM amount in project currency",
                  "example": "76.25",
                  "nullable": true
                 },
                 "auto_balance": {
                  "type": "boolean",
                  "description": "Indicates whether the Budget ROM should be automatically balanced",
                  "example": true,
                  "nullable": true
                 },
                 "calculation_strategy": {
                  "type": "string",
                  "description": "Budget ROM calculation strategy",
                  "example": "manual",
                  "enum": [
                   "automatic",
                   "manual"
                  ],
                  "nullable": true
                 },
                 "quantity": {
                  "type": "string",
                  "description": "Estimated budget ROM quantity",
                  "example": 2.5,
                  "nullable": true
                 },
                 "transfer": {
                  "type": "object",
                  "properties": {
                   "amount": {
                    "type": "string",
                    "description": "Estimated budget transfer amount",
                    "example": "1.23"
                   },
                   "from_wbs_code": {
                    "type": "object",
                    "description": "Item's associated Budget Code",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "ID",
                      "example": 1,
                      "nullable": false
                     },
                     "flat_code": {
                      "type": "string",
                      "description": "wbs code flat code",
                      "example": "O.01-511",
                      "nullable": false
                     },
                     "description": {
                      "type": "string",
                      "description": "wbs code description",
                      "example": "Earthwork.Materials",
                      "nullable": false
                     },
                     "segment_items": {
                      "type": "array",
                      "description": "Work breakdown structure segment items",
                      "items": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "Unique ID of this segment item (cost code, sub-job, line item type, or custom segment item). Use as segment_item_id when constructing a new WBS code via POST /rest/v1.0/projects/{project_id}/work_breakdown_structure/wbs_codes.",
                         "example": 456
                        },
                        "code": {
                         "type": "string",
                         "description": "Short alphanumeric code for this segment item (e.g., '01-222'). Combined with sibling segment codes to form the flat_code on the parent WBS code.",
                         "example": "01-222"
                        },
                        "name": {
                         "type": "string",
                         "description": "Human-readable name of this segment item (e.g., 'Lighting'). Combined with sibling segment names to form the flat_name on the parent WBS code.",
                         "example": "Lighting"
                        },
                        "created_at": {
                         "type": "string",
                         "format": "date-time",
                         "description": "Timestamp when this segment item was created, in ISO 8601 format.",
                         "example": "2016-06-30T20:41:58Z"
                        },
                        "updated_at": {
                         "type": "string",
                         "format": "date-time",
                         "description": "Timestamp when this segment item was last updated, in ISO 8601 format.",
                         "example": "2016-08-30T18:11:43Z"
                        },
                        "parent_id": {
                         "type": "integer",
                         "nullable": true,
                         "description": "ID of the parent segment item in a tiered segment hierarchy. Null for root-level items or items in a flat-structure segment.",
                         "example": 123
                        },
                        "path_ids": {
                         "type": "array",
                         "description": "Ordered list of IDs from the root ancestor down to (and including) this segment item. Use to reconstruct the full hierarchy path.",
                         "items": {
                          "type": "integer"
                         },
                         "example": [
                          123,
                          456
                         ]
                        },
                        "path_code": {
                         "type": "string",
                         "description": "Full path code for this segment item representing the leaf code in its hierarchy (e.g., '01-222').",
                         "example": "a"
                        },
                        "is_parent": {
                         "type": "boolean",
                         "description": "Whether this segment item has child items in a tiered segment structure. Always false for flat-structure segments.",
                         "example": false
                        },
                        "path_codes": {
                         "type": "array",
                         "description": "Ordered list of code strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
                         "items": {
                          "type": "string"
                         },
                         "example": [
                          "01 - Requirements",
                          "01-222 - Lighting"
                         ]
                        },
                        "path_names": {
                         "type": "array",
                         "description": "Ordered list of name strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
                         "items": {
                          "type": "string"
                         },
                         "example": [
                          "01 - Requirements",
                          "01-222 - Lighting"
                         ]
                        },
                        "in_use": {
                         "type": "boolean",
                         "description": "Whether this segment item is currently referenced by at least one entity (e.g., a budget line item or WBS code).",
                         "example": true
                        },
                        "segment": {
                         "type": "object",
                         "description": "The WBS segment definition that this segment item belongs to.",
                         "properties": {
                          "id": {
                           "type": "integer",
                           "description": "Unique ID of the WBS segment definition.",
                           "example": 3
                          },
                          "name": {
                           "type": "string",
                           "description": "Display name of the segment (e.g., 'Cost Code', 'Sub Job').",
                           "example": "Cost Code"
                          },
                          "type": {
                           "type": "string",
                           "enum": [
                            "cost_code",
                            "line_item_type",
                            "sub_job",
                            "custom",
                            "attribute"
                           ],
                           "description": "Category of this segment. One of: 'cost_code', 'line_item_type', 'sub_job', 'custom', 'attribute'. Determines which domain entity backs the segment items.",
                           "example": "cost_code"
                          },
                          "position": {
                           "type": "integer",
                           "description": "Display order of this segment within the WBS pattern. Lower numbers appear first when reading the flat_code left to right.",
                           "example": 1
                          },
                          "delimiter": {
                           "type": "string",
                           "description": "Character used to separate this segment's value from adjacent segments in the flat_code (e.g., '.').",
                           "example": "."
                          },
                          "required": {
                           "type": "boolean",
                           "description": "Whether this segment must have a value for a WBS code to be valid.",
                           "example": true
                          },
                          "segment_items_count": {
                           "type": "integer",
                           "description": "Total number of segment items defined for this segment.",
                           "example": 2
                          },
                          "project_can_modify_origin_project": {
                           "type": "boolean",
                           "description": "Whether project-level users can modify segment items that originated from this project.",
                           "example": true
                          },
                          "project_can_delete_origin_company": {
                           "type": "boolean",
                           "description": "Whether project-level users can delete segment items that originated from the company level.",
                           "example": true
                          },
                          "structure": {
                           "type": "string",
                           "enum": [
                            "tiered",
                            "flat"
                           ],
                           "description": "Hierarchy structure of the segment. 'flat' means items have no parent-child relationship; 'tiered' means items can be nested with parent_id references.",
                           "example": "tiered"
                          },
                          "created_at": {
                           "type": "string",
                           "format": "date-time",
                           "description": "Timestamp when this segment definition was created, in ISO 8601 format.",
                           "example": "2016-06-30T20:41:58Z"
                          },
                          "updated_at": {
                           "type": "string",
                           "format": "date-time",
                           "description": "Timestamp when this segment definition was last updated, in ISO 8601 format.",
                           "example": "2016-08-30T18:11:43Z"
                          },
                          "wbs_pattern_id": {
                           "type": "integer",
                           "description": "ID of the WBS pattern this segment belongs to.",
                           "example": 4567
                          }
                         },
                         "example": {
                          "id": 3,
                          "name": "Cost Code",
                          "type": "cost_code",
                          "position": 1,
                          "delimiter": ".",
                          "required": true,
                          "segment_items_count": 2,
                          "project_can_modify_origin_project": true,
                          "project_can_delete_origin_company": true,
                          "structure": "tiered",
                          "created_at": "2016-06-30T20:41:58Z",
                          "updated_at": "2016-08-30T18:11:43Z",
                          "wbs_pattern_id": 4567
                         }
                        },
                        "status": {
                         "type": "string",
                         "enum": [
                          "active",
                          "inactive"
                         ],
                         "description": "Lifecycle status of the segment item. One of: 'active' (available for selection when creating WBS codes), 'inactive' (not available for new WBS codes).",
                         "example": "active"
                        }
                       }
                      }
                     }
                    }
                   }
                  }
                 },
                 "unit_cost": {
                  "type": "string",
                  "description": "Estimated budget ROM unit cost",
                  "example": 30.5,
                  "nullable": true
                 },
                 "unit_cost_project_currency": {
                  "type": "string",
                  "description": "Estimated budget ROM unit cost in project currency",
                  "example": 30.5,
                  "nullable": true
                 }
                }
               },
               "source_of_latest_budget_impact": {
                "type": "string",
                "description": "Source of latest budget impact",
                "example": "budget_change",
                "enum": [
                 "budget_change",
                 "estimate"
                ],
                "nullable": true
               },
               "source_of_stage": {
                "type": "string",
                "description": "The source of the stage",
                "enum": [
                 "estimate",
                 "budget_change"
                ]
               },
               "source_of_budget_rom": {
                "type": "string",
                "description": "Source of budget ROM",
                "example": "automatic",
                "enum": [
                 "automatic",
                 "manual",
                 "quantity_by_unit_cost"
                ]
               }
              }
             },
             "cost_impact": {
              "type": "object",
              "properties": {
               "change_order_package": {
                "type": "object",
                "properties": {
                 "contract_type": {
                  "description": "The type of the contract associated with the Change Order Package",
                  "type": "string",
                  "example": "purchase_order_contract",
                  "enum": [
                   "purchase_order_contract",
                   "work_order_contract"
                  ]
                 },
                 "days_in_stage": {
                  "type": "integer",
                  "description": "Number of days since Change Event Line Item was associated with Commitment PCO and until Change Event was closed (or until today if it wasn't)",
                  "example": 1
                 },
                 "id": {
                  "type": "integer",
                  "description": "Change Order Package ID",
                  "example": 33
                 },
                 "in_status_since": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last time this status was updated",
                  "example": "2012-10-23T21:39:40Z",
                  "nullable": true
                 },
                 "line_item": {
                  "type": "object",
                  "properties": {
                   "amount": {
                    "type": "string",
                    "description": "Change Order Line Item amount",
                    "example": "450"
                   },
                   "amount_project_currency": {
                    "type": "string",
                    "description": "Change Order Line Item amount in project currency",
                    "example": "450"
                   },
                   "holder_id": {
                    "type": "integer",
                    "description": "ID of the Potential Change Order that holds the Line Item",
                    "example": 789,
                    "nullable": true
                   },
                   "id": {
                    "type": "integer",
                    "description": "Change Order Line Item ID",
                    "example": 455
                   }
                  }
                 },
                 "number": {
                  "type": "string",
                  "description": "Number of the Change Order Package",
                  "example": 1
                 },
                 "status": {
                  "type": "string",
                  "description": "Status of the Change Order Package",
                  "example": "open",
                  "nullable": true
                 },
                 "title": {
                  "type": "string",
                  "description": "Title of the Change Order Package",
                  "example": "Change Order Package 111",
                  "nullable": true
                 },
                 "type": {
                  "type": "string",
                  "description": "Type of Change Order",
                  "example": "change_order_package",
                  "enum": [
                   "change_order_package"
                  ]
                 }
                },
                "nullable": true
               },
               "commitment": {
                "type": "object",
                "properties": {
                 "contract_type": {
                  "type": "string",
                  "description": "The type of the contract associated with the Commitment",
                  "example": "purchase_order_contract",
                  "enum": [
                   "purchase_order_contract",
                   "work_order_contract"
                  ]
                 },
                 "currency_configuration": {
                  "type": "object",
                  "description": "Currency configuration information for the Commitment",
                  "properties": {
                   "base_currency_iso_code": {
                    "nullable": true,
                    "type": "string",
                    "description": "Base currency ISO code (project currency)",
                    "example": "USD"
                   },
                   "currency_exchange_rate": {
                    "nullable": true,
                    "type": "string",
                    "description": "The Commitment Contract or Change Order currency exchange rate to project currency",
                    "example": "1.0"
                   },
                   "currency_iso_code": {
                    "nullable": true,
                    "type": "string",
                    "description": "Currency ISO code of the Commitment Contract",
                    "example": "USD"
                   }
                  }
                 },
                 "days_in_stage": {
                  "type": "integer",
                  "description": "Number of days since Change Event Line Item was associated with Commitment Contract or Commitment PCO and until Change Event was closed (or until today if it wasn't)",
                  "example": 1
                 },
                 "id": {
                  "type": "integer",
                  "description": "ID of the Commitment",
                  "example": 33
                 },
                 "in_status_since": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last time this status was updated",
                  "example": "2012-10-23T21:39:40Z",
                  "nullable": true
                 },
                 "line_item": {
                  "type": "object",
                  "properties": {
                   "amount": {
                    "type": "string",
                    "description": "Total amount of the Line Item",
                    "example": "450"
                   },
                   "amount_project_currency": {
                    "type": "string",
                    "description": "Total amount of the Line Item in project currency",
                    "example": "450"
                   },
                   "holder_id": {
                    "type": "integer",
                    "description": "ID of the entity that holds the Line Item (e.g. the Potential Change Order). Null for contract line items.",
                    "example": 789,
                    "nullable": true
                   },
                   "id": {
                    "type": "integer",
                    "description": "ID of the Line Item",
                    "example": 455
                   }
                  }
                 },
                 "number": {
                  "type": "string",
                  "description": "Number of the Commitment Contract or Change Order",
                  "example": 1
                 },
                 "status": {
                  "type": "string",
                  "description": "Status of the Commitment",
                  "example": "open",
                  "nullable": true
                 },
                 "title": {
                  "type": "string",
                  "description": "Commitment title",
                  "example": "Contract 111",
                  "nullable": true
                 },
                 "type": {
                  "type": "string",
                  "description": "Type of Commitment",
                  "example": "contract",
                  "enum": [
                   "potential_change_order",
                   "change_order_package",
                   "contract"
                  ]
                 }
                },
                "nullable": true
               },
               "contract": {
                "type": "object",
                "properties": {
                 "proposed": {
                  "type": "object",
                  "description": "the Proposed Contract associated to the Change Item",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Proposed Contract ID",
                    "example": 43088
                   },
                   "contract_type": {
                    "type": "string",
                    "description": "The type of the Proposed Contract",
                    "example": "purchase_order_contract",
                    "nullable": false,
                    "enum": [
                     "purchase_order_contract",
                     "work_order_contract"
                    ]
                   },
                   "number": {
                    "type": "string",
                    "description": "The number of the Proposed Contract",
                    "example": "001",
                    "nullable": true
                   },
                   "status": {
                    "type": "string",
                    "description": "The status of the Proposed Contract",
                    "example": "draft",
                    "nullable": false
                   },
                   "title": {
                    "type": "string",
                    "description": "The title of the Proposed Contract",
                    "example": "Proposed Contract Title",
                    "nullable": true
                   }
                  },
                  "nullable": true
                 },
                 "confirmed": {
                  "type": "object",
                  "description": "the Confirmed Contract associated to the Change Item",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Confirmed Contract ID",
                    "example": 35879
                   },
                   "contract_type": {
                    "type": "string",
                    "description": "The type of the Confirmed Contract",
                    "example": "purchase_order_contract",
                    "nullable": false,
                    "enum": [
                     "purchase_order_contract",
                     "work_order_contract"
                    ]
                   },
                   "number": {
                    "type": "string",
                    "description": "The number of the Confirmed Contract",
                    "example": "001",
                    "nullable": true
                   },
                   "status": {
                    "type": "string",
                    "description": "The status of the Confirmed Contract",
                    "example": "draft",
                    "nullable": false
                   },
                   "title": {
                    "type": "string",
                    "description": "The title of the Confirmed Contract",
                    "example": "Confirmed Contract Title",
                    "nullable": true
                   }
                  },
                  "nullable": true
                 }
                }
               },
               "estimate": {
                "type": "object",
                "properties": {
                 "amount": {
                  "type": "string",
                  "description": "Estimated cost amount",
                  "example": "76.25"
                 },
                 "calculation_strategy": {
                  "type": "string",
                  "description": "Cost calculation strategy",
                  "example": "manual",
                  "enum": [
                   "automatic",
                   "manual"
                  ]
                 },
                 "quantity": {
                  "type": "string",
                  "description": "Estimated cost quantity",
                  "example": 2.5
                 },
                 "unit_cost": {
                  "type": "string",
                  "description": "Estimated unit cost",
                  "example": 30.5
                 },
                 "unit_of_measure": {
                  "type": "string",
                  "description": "Unit of measure used",
                  "example": "hours"
                 }
                }
               },
               "non_commitment": {
                "type": "object",
                "properties": {
                 "amount": {
                  "type": "string",
                  "description": "Latest cost amount",
                  "example": "222.22"
                 }
                }
               },
               "request_for_quote": {
                "type": "object",
                "description": "Request for Quote data if any present, can be null",
                "properties": {
                 "days_in_stage": {
                  "type": "integer",
                  "description": "Number of days since Change Event Line Item was associated with Request For Quote and until Change Event was closed (or until today if it wasn't)",
                  "example": 1
                 },
                 "id": {
                  "type": "integer",
                  "description": "Request for Quote ID",
                  "example": 101
                 },
                 "in_status_since": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last time this status was updated",
                  "example": "2012-10-23T21:39:40Z",
                  "nullable": true
                 },
                 "latest_quote_amount": {
                  "type": "string",
                  "description": "Request for Quote latest quote amount if present, can be null",
                  "nullable": true,
                  "example": "550.00"
                 },
                 "number": {
                  "type": "string",
                  "description": "Request for quote number",
                  "example": "0023",
                  "nullable": true
                 },
                 "status": {
                  "type": "string",
                  "description": "Request for Quote status",
                  "example": "out_for_pricing",
                  "enum": [
                   "closed",
                   "out_for_pricing",
                   "pending_final_approval",
                   "revise_and_resubmit",
                   "under_review",
                   "withdrawn"
                  ],
                  "nullable": true
                 },
                 "title": {
                  "type": "string",
                  "description": "Request for Quote title",
                  "example": "CE #005 - test",
                  "nullable": true
                 }
                },
                "nullable": true
               },
               "source_of_latest_cost": {
                "type": "string",
                "description": "Source of latest cost",
                "example": "commitment",
                "enum": [
                 "commitment",
                 "estimate",
                 "latest_quote",
                 "non_commitment"
                ]
               },
               "source_of_stage": {
                "type": "string",
                "description": "Source of stage",
                "example": "estimate",
                "enum": [
                 "estimate",
                 "non-commitment",
                 "commitment",
                 "change_order_package",
                 "latest_quote"
                ]
               },
               "vendor": {
                "type": "object",
                "properties": {
                 "confirmed": {
                  "type": "object",
                  "description": "The Confirmed Vendor associated to the Change Item",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Confirmed Vendor ID",
                    "example": 35879
                   },
                   "name": {
                    "type": "string",
                    "description": "The full name of the Confirmed Vendor",
                    "example": "John Smith",
                    "nullable": false
                   }
                  },
                  "nullable": true
                 },
                 "proposed": {
                  "type": "object",
                  "description": "the Proposed Vendor associated to the Change Item",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Proposed Vendor ID",
                    "example": 43088
                   },
                   "name": {
                    "type": "string",
                    "description": "The full name of the Proposed Vendor",
                    "nullable": false
                   }
                  },
                  "nullable": true
                 }
                }
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of when the Change Event Line Item was created",
              "example": "2024-10-23T21:39:40Z"
             },
             "currency_configuration": {
              "type": "object",
              "description": "Currency configuration information",
              "properties": {
               "currency_iso_code": {
                "nullable": true,
                "type": "string",
                "description": "currency ISO code",
                "example": "USD"
               }
              }
             },
             "deletable": {
              "type": "boolean",
              "description": "Whether the Line Item is deletable",
              "example": false
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of when the Line Item was deleted",
              "example": "2024-10-23T21:39:40Z"
             },
             "description": {
              "type": "string",
              "description": "Description of the Line Item",
              "example": "labor for new swimming pool"
             },
             "editable": {
              "type": "boolean",
              "description": "Whether the Line Item is editable",
              "example": true
             },
             "event_id": {
              "type": "integer",
              "description": "The ID of the associated Change Event",
              "example": 123
             },
             "event_number": {
              "type": "string",
              "description": "The number of the associated Change Event",
              "example": "A056"
             },
             "event_title": {
              "type": "string",
              "description": "The title of the associated Change Event",
              "example": "Big Change"
             },
             "id": {
              "type": "integer",
              "description": "The ID of the Line Item",
              "example": 3456
             },
             "item_type": {
              "type": "string",
              "description": "The type of the Line Item",
              "example": "Event Line"
             },
             "latest_cost_values": {
              "type": "object",
              "properties": {
               "amount": {
                "type": "string",
                "description": "Latest cost amount",
                "example": "76.25"
               },
               "amount_project_currency": {
                "type": "string",
                "description": "Latest cost amount in project currency",
                "example": "76.25"
               },
               "calculation_strategy": {
                "type": "string",
                "description": "Latest cost calculation strategy",
                "example": "manual",
                "enum": [
                 "automatic",
                 "manual"
                ]
               },
               "quantity": {
                "type": "string",
                "description": "Latest cost quantity",
                "example": 2.5
               },
               "unit_cost": {
                "type": "string",
                "description": "Latest unit cost",
                "example": 30.5
               },
               "unit_cost_project_currency": {
                "type": "string",
                "description": "Latest unit cost in project currency",
                "example": 30.5
               },
               "unit_of_measure": {
                "type": "string",
                "description": "The unit of measure used",
                "example": "hours"
               }
              }
             },
             "latest_revenue_values": {
              "type": "object",
              "properties": {
               "amount": {
                "type": "string",
                "description": "Latest revenue amount",
                "example": "76.25"
               },
               "amount_project_currency": {
                "type": "string",
                "description": "Latest revenue amount in project currency",
                "example": "76.25"
               },
               "calculation_strategy": {
                "type": "string",
                "description": "Latest revenue calculation strategy",
                "example": "manual",
                "enum": [
                 "automatic",
                 "manual"
                ]
               },
               "quantity": {
                "type": "string",
                "description": "Latest revenue quantity",
                "example": 2.5
               },
               "unit_cost": {
                "type": "string",
                "description": "Latest revenue unit cost",
                "example": 30.5
               },
               "unit_cost_project_currency": {
                "type": "string",
                "description": "Latest revenue unit cost in project currency",
                "example": 30.5
               }
              }
             },
             "line_aging": {
              "type": "integer",
              "description": "Number of days since Change Event Line Item was added to Change Event and until the time the Change Event closed (or until today)",
              "example": 1
             },
             "notes": {
              "type": "object",
              "description": "After successful update independent actions may be executed. For example: sync WBS code. The failures of those actions will be aggregated under attribute :notes and will not result in a Failure.",
              "example": "{ \"5\": { \"message\": \"Affected Change Event Line Item #5\", \"children\": [ { \"message\": \"Failed to sync WBS code to Commitment Contract Line Item #12\" } ] } }"
             },
             "revenue_impact": {
              "type": "object",
              "properties": {
               "estimate": {
                "type": "object",
                "properties": {
                 "quantity": {
                  "type": "string",
                  "description": "estimated revenue quantity",
                  "example": 10.5
                 },
                 "unit_cost": {
                  "type": "string",
                  "description": "estimated unit cost",
                  "example": 11.1
                 },
                 "unit_cost_project_currency": {
                  "type": "string",
                  "description": "estimated unit cost in project currency",
                  "example": 11.1
                 },
                 "amount": {
                  "type": "string",
                  "description": "estimated revenue amount",
                  "example": "116.55"
                 },
                 "amount_project_currency": {
                  "type": "string",
                  "description": "estimated revenue amount in project currency",
                  "example": "116.55"
                 },
                 "calculation_strategy": {
                  "type": "string",
                  "description": "revenue calculation strategy",
                  "example": "manual",
                  "enum": [
                   "automatic",
                   "manual"
                  ]
                 }
                }
               },
               "change_order": {
                "type": "object",
                "properties": {
                 "contract_id": {
                  "type": "integer",
                  "description": "Prime Contract ID",
                  "example": 123
                 },
                 "currency_configuration": {
                  "type": "object",
                  "description": "Currency configuration information for the Change Order",
                  "properties": {
                   "base_currency_iso_code": {
                    "nullable": true,
                    "type": "string",
                    "description": "Base currency ISO code (project currency)",
                    "example": "USD"
                   },
                   "currency_exchange_rate": {
                    "nullable": true,
                    "type": "string",
                    "description": "The Change Order currency exchange rate to project currency",
                    "example": "1.0"
                   },
                   "currency_iso_code": {
                    "nullable": true,
                    "type": "string",
                    "description": "Currency ISO code of the Contract Change Order is associated with",
                    "example": "USD"
                   }
                  }
                 },
                 "days_in_stage": {
                  "type": "integer",
                  "description": "Number of days since change event line item was associated with Prime PCO and until Change Event was closed (or until today if it wasn't)",
                  "example": 1
                 },
                 "id": {
                  "type": "integer",
                  "description": "Change Order ID",
                  "example": 111
                 },
                 "in_status_since": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last time this status was updated",
                  "example": "2012-10-23T21:39:40Z",
                  "nullable": true
                 },
                 "line_item": {
                  "type": "object",
                  "properties": {
                   "amount": {
                    "type": "string",
                    "description": "Change Order Line Item amount",
                    "example": "450"
                   },
                   "amount_project_currency": {
                    "type": "string",
                    "description": "Change Order Line Item amount in project currency",
                    "example": "450"
                   },
                   "holder_id": {
                    "type": "integer",
                    "description": "ID of the Potential Change Order that holds the Line Item",
                    "example": 789,
                    "nullable": true
                   },
                   "id": {
                    "type": "integer",
                    "description": "Change Order Line Item ID",
                    "example": 222
                   }
                  }
                 },
                 "number": {
                  "type": "string",
                  "description": "Number of Change Order",
                  "example": 1
                 },
                 "status": {
                  "type": "string",
                  "description": "Status of Change Order",
                  "example": "draft"
                 },
                 "title": {
                  "type": "string",
                  "description": "Title of Change Order",
                  "example": "Change Order 111"
                 },
                 "type": {
                  "type": "string",
                  "description": "Type of Change Order",
                  "example": "potential_change_order",
                  "enum": [
                   "potential_change_order",
                   "change_order_package"
                  ]
                 }
                },
                "nullable": true
               },
               "change_order_package": {
                "type": "object",
                "properties": {
                 "contract_id": {
                  "type": "integer",
                  "description": "Prime Contract ID",
                  "example": 123
                 },
                 "days_in_stage": {
                  "type": "integer",
                  "description": "Number of days since change event line item was associated with Prime PCO and until Change Event was closed (or until today if it wasn't)",
                  "example": 1
                 },
                 "id": {
                  "type": "integer",
                  "description": "Change Order Package ID",
                  "example": 111
                 },
                 "in_status_since": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last time this status was updated",
                  "example": "2012-10-23T21:39:40Z",
                  "nullable": true
                 },
                 "line_item": {
                  "type": "object",
                  "properties": {
                   "amount": {
                    "type": "string",
                    "description": "Change Order Line Item amount",
                    "example": "450"
                   },
                   "holder_id": {
                    "type": "integer",
                    "description": "ID of the Potential Change Order that holds the Line Item",
                    "example": 789,
                    "nullable": true
                   },
                   "id": {
                    "type": "integer",
                    "description": "Change Order Line Item ID",
                    "example": 222
                   }
                  }
                 },
                 "number": {
                  "type": "string",
                  "description": "Number of Change Order Package",
                  "example": 1
                 },
                 "status": {
                  "type": "string",
                  "description": "Status of the Change Order Package",
                  "example": "draft"
                 },
                 "title": {
                  "type": "string",
                  "description": "Title of Change Order Package",
                  "example": "Change Order Package 111"
                 },
                 "type": {
                  "type": "string",
                  "description": "Type of Change Order",
                  "example": "change_order_package",
                  "enum": [
                   "change_order_package"
                  ]
                 }
                },
                "nullable": true
               },
               "source_of_latest_price": {
                "type": "string",
                "description": "Latest price source",
                "example": "estimate",
                "enum": [
                 "change_order",
                 "estimate"
                ]
               },
               "source_of_revenue_rom": {
                "type": "string",
                "description": "Revenue ROM source",
                "example": "no_revenue_expected",
                "enum": [
                 "automatic",
                 "latest_cost",
                 "manual",
                 "no_revenue_expected"
                ]
               },
               "source_of_stage": {
                "type": "string",
                "description": "Source of the stage",
                "example": "estimate",
                "enum": [
                 "estimate",
                 "change_order",
                 "change_order_package"
                ]
               }
              }
             },
             "source": {
              "type": "string",
              "description": "Source of Change Item",
              "example": "change_event",
              "enum": [
               "change_event",
               "budget_change",
               "field_initiated_change_orders"
              ]
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of when the Change Event Line Item was updated",
              "example": "2024-10-23T21:39:40Z"
             }
            }
           }
          },
          "markup_items": {
           "type": "array",
           "description": "markup items",
           "nullable": false,
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "markup item ID",
              "example": "10-11-12-13",
              "nullable": false
             },
             "event_id": {
              "type": "integer",
              "description": "markup item's change event id",
              "example": 1,
              "nullable": false
             },
             "item_type": {
              "type": "string",
              "description": "item type",
              "example": "Markup"
             },
             "wbs_code": {
              "type": "object",
              "description": "Item's associated Budget Code",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1,
                "nullable": false
               },
               "flat_code": {
                "type": "string",
                "description": "wbs code flat code",
                "example": "O.01-511",
                "nullable": false
               },
               "description": {
                "type": "string",
                "description": "wbs code description",
                "example": "Earthwork.Materials",
                "nullable": false
               },
               "segment_items": {
                "type": "array",
                "description": "Work breakdown structure segment items",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique ID of this segment item (cost code, sub-job, line item type, or custom segment item). Use as segment_item_id when constructing a new WBS code via POST /rest/v1.0/projects/{project_id}/work_breakdown_structure/wbs_codes.",
                   "example": 456
                  },
                  "code": {
                   "type": "string",
                   "description": "Short alphanumeric code for this segment item (e.g., '01-222'). Combined with sibling segment codes to form the flat_code on the parent WBS code.",
                   "example": "01-222"
                  },
                  "name": {
                   "type": "string",
                   "description": "Human-readable name of this segment item (e.g., 'Lighting'). Combined with sibling segment names to form the flat_name on the parent WBS code.",
                   "example": "Lighting"
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp when this segment item was created, in ISO 8601 format.",
                   "example": "2016-06-30T20:41:58Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp when this segment item was last updated, in ISO 8601 format.",
                   "example": "2016-08-30T18:11:43Z"
                  },
                  "parent_id": {
                   "type": "integer",
                   "nullable": true,
                   "description": "ID of the parent segment item in a tiered segment hierarchy. Null for root-level items or items in a flat-structure segment.",
                   "example": 123
                  },
                  "path_ids": {
                   "type": "array",
                   "description": "Ordered list of IDs from the root ancestor down to (and including) this segment item. Use to reconstruct the full hierarchy path.",
                   "items": {
                    "type": "integer"
                   },
                   "example": [
                    123,
                    456
                   ]
                  },
                  "path_code": {
                   "type": "string",
                   "description": "Full path code for this segment item representing the leaf code in its hierarchy (e.g., '01-222').",
                   "example": "a"
                  },
                  "is_parent": {
                   "type": "boolean",
                   "description": "Whether this segment item has child items in a tiered segment structure. Always false for flat-structure segments.",
                   "example": false
                  },
                  "path_codes": {
                   "type": "array",
                   "description": "Ordered list of code strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
                   "items": {
                    "type": "string"
                   },
                   "example": [
                    "01 - Requirements",
                    "01-222 - Lighting"
                   ]
                  },
                  "path_names": {
                   "type": "array",
                   "description": "Ordered list of name strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
                   "items": {
                    "type": "string"
                   },
                   "example": [
                    "01 - Requirements",
                    "01-222 - Lighting"
                   ]
                  },
                  "in_use": {
                   "type": "boolean",
                   "description": "Whether this segment item is currently referenced by at least one entity (e.g., a budget line item or WBS code).",
                   "example": true
                  },
                  "segment": {
                   "type": "object",
                   "description": "The WBS segment definition that this segment item belongs to.",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique ID of the WBS segment definition.",
                     "example": 3
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the segment (e.g., 'Cost Code', 'Sub Job').",
                     "example": "Cost Code"
                    },
                    "type": {
                     "type": "string",
                     "enum": [
                      "cost_code",
                      "line_item_type",
                      "sub_job",
                      "custom",
                      "attribute"
                     ],
                     "description": "Category of this segment. One of: 'cost_code', 'line_item_type', 'sub_job', 'custom', 'attribute'. Determines which domain entity backs the segment items.",
                     "example": "cost_code"
                    },
                    "position": {
                     "type": "integer",
                     "description": "Display order of this segment within the WBS pattern. Lower numbers appear first when reading the flat_code left to right.",
                     "example": 1
                    },
                    "delimiter": {
                     "type": "string",
                     "description": "Character used to separate this segment's value from adjacent segments in the flat_code (e.g., '.').",
                     "example": "."
                    },
                    "required": {
                     "type": "boolean",
                     "description": "Whether this segment must have a value for a WBS code to be valid.",
                     "example": true
                    },
                    "segment_items_count": {
                     "type": "integer",
                     "description": "Total number of segment items defined for this segment.",
                     "example": 2
                    },
                    "project_can_modify_origin_project": {
                     "type": "boolean",
                     "description": "Whether project-level users can modify segment items that originated from this project.",
                     "example": true
                    },
                    "project_can_delete_origin_company": {
                     "type": "boolean",
                     "description": "Whether project-level users can delete segment items that originated from the company level.",
                     "example": true
                    },
                    "structure": {
                     "type": "string",
                     "enum": [
                      "tiered",
                      "flat"
                     ],
                     "description": "Hierarchy structure of the segment. 'flat' means items have no parent-child relationship; 'tiered' means items can be nested with parent_id references.",
                     "example": "tiered"
                    },
                    "created_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Timestamp when this segment definition was created, in ISO 8601 format.",
                     "example": "2016-06-30T20:41:58Z"
                    },
                    "updated_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Timestamp when this segment definition was last updated, in ISO 8601 format.",
                     "example": "2016-08-30T18:11:43Z"
                    },
                    "wbs_pattern_id": {
                     "type": "integer",
                     "description": "ID of the WBS pattern this segment belongs to.",
                     "example": 4567
                    }
                   },
                   "example": {
                    "id": 3,
                    "name": "Cost Code",
                    "type": "cost_code",
                    "position": 1,
                    "delimiter": ".",
                    "required": true,
                    "segment_items_count": 2,
                    "project_can_modify_origin_project": true,
                    "project_can_delete_origin_company": true,
                    "structure": "tiered",
                    "created_at": "2016-06-30T20:41:58Z",
                    "updated_at": "2016-08-30T18:11:43Z",
                    "wbs_pattern_id": 4567
                   }
                  },
                  "status": {
                   "type": "string",
                   "enum": [
                    "active",
                    "inactive"
                   ],
                   "description": "Lifecycle status of the segment item. One of: 'active' (available for selection when creating WBS codes), 'inactive' (not available for new WBS codes).",
                   "example": "active"
                  }
                 }
                }
               }
              }
             },
             "revenue": {
              "type": "object",
              "description": "markup item revenue summary",
              "nullable": false,
              "properties": {
               "estimate_amount": {
                "type": "string",
                "description": "estimated amount",
                "example": "5.00",
                "nullable": false
               },
               "change_order_amount": {
                "type": "string",
                "description": "prime potential change order line items amount",
                "example": "3.00",
                "nullable": false
               },
               "latest_price_amount": {
                "type": "string",
                "description": "latest price",
                "example": "2.00",
                "nullable": false
               }
              }
             }
            }
           }
          },
          "production_quantities": {
           "type": "array",
           "description": "change event related production quantities",
           "nullable": false,
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "production quantity id",
              "example": 1,
              "nullable": false
             },
             "event_id": {
              "type": "integer",
              "description": "production quantity event id",
              "example": 12,
              "nullable": false
             },
             "item_type": {
              "type": "string",
              "description": "item type",
              "example": "Production"
             },
             "estimate": {
              "nullable": false,
              "type": "object",
              "description": "production quantity estimate",
              "properties": {
               "quantity": {
                "type": "string",
                "description": "production quantity quantity",
                "example": "2.00"
               },
               "unit_of_measure": {
                "type": "string",
                "description": "production quantity unit of measure",
                "example": "hours"
               }
              }
             },
             "production_code": {
              "nullable": false,
              "type": "object",
              "description": "production quantity cost code and if enabled sub job data",
              "properties": {
               "cost_code": {
                "nullable": false,
                "type": "object",
                "description": "cost code data",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "cost code id",
                  "example": 12
                 },
                 "description": {
                  "type": "string",
                  "description": "cost code sortable code and name",
                  "example": "01-100-L"
                 }
                }
               },
               "sub_job": {
                "nullable": true,
                "type": "object",
                "description": "cost code related sub job data in case when cost code biller is subjob",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "sub job id",
                  "example": 12
                 },
                 "name": {
                  "type": "string",
                  "description": "sub job name",
                  "example": "Project Manager Labor"
                 }
                }
               },
               "wbs_code": {
                "type": "object",
                "description": "Item's associated Budget Code",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 1,
                  "nullable": false
                 },
                 "flat_code": {
                  "type": "string",
                  "description": "wbs code flat code",
                  "example": "O.01-511",
                  "nullable": false
                 },
                 "description": {
                  "type": "string",
                  "description": "wbs code description",
                  "example": "Earthwork.Materials",
                  "nullable": false
                 },
                 "segment_items": {
                  "type": "array",
                  "description": "Work breakdown structure segment items",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique ID of this segment item (cost code, sub-job, line item type, or custom segment item). Use as segment_item_id when constructing a new WBS code via POST /rest/v1.0/projects/{project_id}/work_breakdown_structure/wbs_codes.",
                     "example": 456
                    },
                    "code": {
                     "type": "string",
                     "description": "Short alphanumeric code for this segment item (e.g., '01-222'). Combined with sibling segment codes to form the flat_code on the parent WBS code.",
                     "example": "01-222"
                    },
                    "name": {
                     "type": "string",
                     "description": "Human-readable name of this segment item (e.g., 'Lighting'). Combined with sibling segment names to form the flat_name on the parent WBS code.",
                     "example": "Lighting"
                    },
                    "created_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Timestamp when this segment item was created, in ISO 8601 format.",
                     "example": "2016-06-30T20:41:58Z"
                    },
                    "updated_at": {
                     "type": "string",
                     "format": "date-time",
                     "description": "Timestamp when this segment item was last updated, in ISO 8601 format.",
                     "example": "2016-08-30T18:11:43Z"
                    },
                    "parent_id": {
                     "type": "integer",
                     "nullable": true,
                     "description": "ID of the parent segment item in a tiered segment hierarchy. Null for root-level items or items in a flat-structure segment.",
                     "example": 123
                    },
                    "path_ids": {
                     "type": "array",
                     "description": "Ordered list of IDs from the root ancestor down to (and including) this segment item. Use to reconstruct the full hierarchy path.",
                     "items": {
                      "type": "integer"
                     },
                     "example": [
                      123,
                      456
                     ]
                    },
                    "path_code": {
                     "type": "string",
                     "description": "Full path code for this segment item representing the leaf code in its hierarchy (e.g., '01-222').",
                     "example": "a"
                    },
                    "is_parent": {
                     "type": "boolean",
                     "description": "Whether this segment item has child items in a tiered segment structure. Always false for flat-structure segments.",
                     "example": false
                    },
                    "path_codes": {
                     "type": "array",
                     "description": "Ordered list of code strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
                     "items": {
                      "type": "string"
                     },
                     "example": [
                      "01 - Requirements",
                      "01-222 - Lighting"
                     ]
                    },
                    "path_names": {
                     "type": "array",
                     "description": "Ordered list of name strings from the root ancestor down to (and including) this segment item, formatted as 'code - name'.",
                     "items": {
                      "type": "string"
                     },
                     "example": [
                      "01 - Requirements",
                      "01-222 - Lighting"
                     ]
                    },
                    "in_use": {
                     "type": "boolean",
                     "description": "Whether this segment item is currently referenced by at least one entity (e.g., a budget line item or WBS code).",
                     "example": true
                    },
                    "segment": {
                     "type": "object",
                     "description": "The WBS segment definition that this segment item belongs to.",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "Unique ID of the WBS segment definition.",
                       "example": 3
                      },
                      "name": {
                       "type": "string",
                       "description": "Display name of the segment (e.g., 'Cost Code', 'Sub Job').",
                       "example": "Cost Code"
                      },
                      "type": {
                       "type": "string",
                       "enum": [
                        "cost_code",
                        "line_item_type",
                        "sub_job",
                        "custom",
                        "attribute"
                       ],
                       "description": "Category of this segment. One of: 'cost_code', 'line_item_type', 'sub_job', 'custom', 'attribute'. Determines which domain entity backs the segment items.",
                       "example": "cost_code"
                      },
                      "position": {
                       "type": "integer",
                       "description": "Display order of this segment within the WBS pattern. Lower numbers appear first when reading the flat_code left to right.",
                       "example": 1
                      },
                      "delimiter": {
                       "type": "string",
                       "description": "Character used to separate this segment's value from adjacent segments in the flat_code (e.g., '.').",
                       "example": "."
                      },
                      "required": {
                       "type": "boolean",
                       "description": "Whether this segment must have a value for a WBS code to be valid.",
                       "example": true
                      },
                      "segment_items_count": {
                       "type": "integer",
                       "description": "Total number of segment items defined for this segment.",
                       "example": 2
                      },
                      "project_can_modify_origin_project": {
                       "type": "boolean",
                       "description": "Whether project-level users can modify segment items that originated from this project.",
                       "example": true
                      },
                      "project_can_delete_origin_company": {
                       "type": "boolean",
                       "description": "Whether project-level users can delete segment items that originated from the company level.",
                       "example": true
                      },
                      "structure": {
                       "type": "string",
                       "enum": [
                        "tiered",
                        "flat"
                       ],
                       "description": "Hierarchy structure of the segment. 'flat' means items have no parent-child relationship; 'tiered' means items can be nested with parent_id references.",
                       "example": "tiered"
                      },
                      "created_at": {
[...]
