{
 "openapi": "3.0.0",
 "info": {
  "title": "Change Event Production Quantities",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Change Events",
  "x-resource-name": "Change Event Production Quantities",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/change_events/{change_event_id}/change_event_production_quantities": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "change_event_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the Change Event",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Change Event Production Quantities",
    "description": "Returns a list of all Change Event Production Quantities for a given Change Event.",
    "tags": [
     "Change Event Production Quantities"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this Change Event Production Quantity. Use as the {id} path parameter to update or delete it via /rest/v1.0/projects/{project_id}/change_events/{change_event_id}/change_event_production_quantities/{id}.",
            "example": 999
           },
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the Cost Code this production quantity is attributed to. Kept in sync with wbs_code_id.",
            "example": 123
           },
           "quantity": {
            "type": "string",
            "description": "Quantity of work for this production item, in the given unit of measure. Returned as a decimal string.",
            "example": "2250.0"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for the quantity. Must be a unit from the company's Units of Measure master list that is not categorized as \"Time\".",
            "example": "sf"
           },
           "description": {
            "type": "string",
            "description": "Free-text description of the production quantity item.",
            "example": "Additional Concrete Needed"
           },
           "wbs_code_id": {
            "type": "integer",
            "description": "ID of the WBS (Budget) Code this production quantity is attributed to. Kept in sync with cost_code_id.",
            "example": 333
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "BETA to GA with Change Event Production Quantities endpoint",
      "description": "Update to Change Event Production Quantities endpoint to GA status",
      "endpoint": "GET /projects/{project_id}/change_events/{change_event_id}/change_event_production_quantities",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-04-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-event-production-quantities?version=1.0#list-change-event-production-quantities"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Change Event Production Quantity",
    "description": "Creates a new Change Event Production Quantity for a given Change Event.",
    "tags": [
     "Change Event Production Quantities"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "change_event_production_quantity"
        ],
        "properties": {
         "change_event_production_quantity": {
          "title": "Change Event Production Quantity",
          "type": "object",
          "required": [
           "cost_code_id",
           "quantity",
           "uom"
          ],
          "description": "Change Event Production Quantity object",
          "properties": {
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the Cost Code to attribute this production quantity to. Provide either cost_code_id or wbs_code_id; the other is derived and kept in sync.",
            "example": 123
           },
           "quantity": {
            "type": "number",
            "format": "float",
            "description": "Quantity of work for this production item, in the given unit of measure.",
            "example": "2250.0"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for the quantity. Must be a unit from the company's Units of Measure master list that is not categorized as \"Time\".",
            "example": "sf"
           },
           "description": {
            "type": "string",
            "description": "Free-text description of the production quantity item.",
            "example": "Additional Concrete Needed"
           },
           "wbs_code_id": {
            "type": "integer",
            "description": "ID of the WBS (Budget) Code to attribute this production quantity to. Provide either wbs_code_id or cost_code_id; the other is derived and kept in sync.",
            "example": 333
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Change Event Production Quantity. Use as the {id} path parameter to update or delete it via /rest/v1.0/projects/{project_id}/change_events/{change_event_id}/change_event_production_quantities/{id}.",
           "example": 999
          },
          "cost_code_id": {
           "type": "integer",
           "description": "ID of the Cost Code this production quantity is attributed to. Kept in sync with wbs_code_id.",
           "example": 123
          },
          "quantity": {
           "type": "string",
           "description": "Quantity of work for this production item, in the given unit of measure. Returned as a decimal string.",
           "example": "2250.0"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure for the quantity. Must be a unit from the company's Units of Measure master list that is not categorized as \"Time\".",
           "example": "sf"
          },
          "description": {
           "type": "string",
           "description": "Free-text description of the production quantity item.",
           "example": "Additional Concrete Needed"
          },
          "wbs_code_id": {
           "type": "integer",
           "description": "ID of the WBS (Budget) Code this production quantity is attributed to. Kept in sync with cost_code_id.",
           "example": 333
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities',\n  headers: {'content-type': 'application/json'},\n  body: {\n    change_event_production_quantity: {\n      cost_code_id: 123,\n      quantity: '2250.0',\n      uom: 'sf',\n      description: 'Additional Concrete Needed',\n      wbs_code_id: 333\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"change_event_production_quantity\\\":{\\\"cost_code_id\\\":123,\\\"quantity\\\":\\\"2250.0\\\",\\\"uom\\\":\\\"sf\\\",\\\"description\\\":\\\"Additional Concrete Needed\\\",\\\"wbs_code_id\\\":333}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities \\\n  --header 'content-type: application/json' \\\n  --data '{\"change_event_production_quantity\":{\"cost_code_id\":123,\"quantity\":\"2250.0\",\"uom\":\"sf\",\"description\":\"Additional Concrete Needed\",\"wbs_code_id\":333}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities\"),\n    Content = new StringContent(\"{\\\"change_event_production_quantity\\\":{\\\"cost_code_id\\\":123,\\\"quantity\\\":\\\"2250.0\\\",\\\"uom\\\":\\\"sf\\\",\\\"description\\\":\\\"Additional Concrete Needed\\\",\\\"wbs_code_id\\\":333}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/projects/{project_id}/change_events/{change_event_id}/change_event_production_quantities/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "change_event_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the Change Event",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Change Event Production Quantity ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Change Event Production Quantity",
    "description": "Updates a Change Event Production Quantity's attributes",
    "tags": [
     "Change Event Production Quantities"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "change_event_production_quantity"
        ],
        "properties": {
         "change_event_production_quantity": {
          "title": "Change Event Production Quantity",
          "type": "object",
          "description": "Change Event Production Quantity object",
          "properties": {
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the Cost Code to attribute this production quantity to. Provide either cost_code_id or wbs_code_id; the other is derived and kept in sync.",
            "example": 123
           },
           "quantity": {
            "type": "number",
            "format": "float",
            "description": "Quantity of work for this production item, in the given unit of measure.",
            "example": "2250.0"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for the quantity. Must be a unit from the company's Units of Measure master list that is not categorized as \"Time\".",
            "example": "sf"
           },
           "description": {
            "type": "string",
            "description": "Free-text description of the production quantity item.",
            "example": "Additional Concrete Needed"
           },
           "wbs_code_id": {
            "type": "integer",
            "description": "ID of the WBS (Budget) Code to attribute this production quantity to. Provide either wbs_code_id or cost_code_id; the other is derived and kept in sync.",
            "example": 333
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Change Event Production Quantity. Use as the {id} path parameter to update or delete it via /rest/v1.0/projects/{project_id}/change_events/{change_event_id}/change_event_production_quantities/{id}.",
           "example": 999
          },
          "cost_code_id": {
           "type": "integer",
           "description": "ID of the Cost Code this production quantity is attributed to. Kept in sync with wbs_code_id.",
           "example": 123
          },
          "quantity": {
           "type": "string",
           "description": "Quantity of work for this production item, in the given unit of measure. Returned as a decimal string.",
           "example": "2250.0"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure for the quantity. Must be a unit from the company's Units of Measure master list that is not categorized as \"Time\".",
           "example": "sf"
          },
          "description": {
           "type": "string",
           "description": "Free-text description of the production quantity item.",
           "example": "Additional Concrete Needed"
          },
          "wbs_code_id": {
           "type": "integer",
           "description": "ID of the WBS (Budget) Code this production quantity is attributed to. Kept in sync with cost_code_id.",
           "example": 333
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    change_event_production_quantity: {\n      cost_code_id: 123,\n      quantity: '2250.0',\n      uom: 'sf',\n      description: 'Additional Concrete Needed',\n      wbs_code_id: 333\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"change_event_production_quantity\\\":{\\\"cost_code_id\\\":123,\\\"quantity\\\":\\\"2250.0\\\",\\\"uom\\\":\\\"sf\\\",\\\"description\\\":\\\"Additional Concrete Needed\\\",\\\"wbs_code_id\\\":333}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"change_event_production_quantity\":{\"cost_code_id\":123,\"quantity\":\"2250.0\",\"uom\":\"sf\",\"description\":\"Additional Concrete Needed\",\"wbs_code_id\":333}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"change_event_production_quantity\\\":{\\\"cost_code_id\\\":123,\\\"quantity\\\":\\\"2250.0\\\",\\\"uom\\\":\\\"sf\\\",\\\"description\\\":\\\"Additional Concrete Needed\\\",\\\"wbs_code_id\\\":333}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Change Event Production Quantity",
    "description": "Deletes a Change Event Production Quantity",
    "tags": [
     "Change Event Production Quantities"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/change_events/%7Bchange_event_id%7D/change_event_production_quantities/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}