{
 "openapi": "3.0.0",
 "info": {
  "title": "Change Order Packages",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Change Orders",
  "x-resource-name": "Change Order Packages",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/change_order_packages": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Change Order Packages",
    "description": "List Change Order Packages.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Change Order Packages"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "ID of the contract to scope change order packages to (a Prime, Purchase Order, or Work Order Contract).",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[reviewed_at]",
      "in": "query",
      "description": "Returns item(s) reviewed within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[due_date]",
      "in": "query",
      "description": "Returns item(s) due within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[include_deleted]",
      "in": "query",
      "description": "Use 'only' for only deleted resources. Use 'with' for deleted and undeleted resources.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "only",
        "with"
       ]
      }
     },
     {
      "name": "filters[invoiced_date]",
      "in": "query",
      "description": "Returns item(s) invoiced within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[paid_date]",
      "in": "query",
      "description": "Returns item(s) paid within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[signed_change_order_received_date]",
      "in": "query",
      "description": "Return item(s) with a signed change order received date within the specified ISO 8601 date range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this change order package. Use as the {id} path parameter to retrieve or update it.",
            "example": 239475
           },
           "contract": {
            "type": "object",
            "description": "Contract details including the associated vendor",
            "properties": {
             "vendor": {
              "type": "object",
              "description": "Vendor associated with the contract",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the vendor company on the contract.",
                "example": 239475
               },
               "name": {
                "type": "string",
                "description": "Display name of the vendor company on the contract.",
                "example": "ABC Contractors"
               }
              }
             }
            }
           },
           "contract_id": {
            "type": "integer",
            "description": "ID of the parent contract this change order package belongs to.",
            "example": 64545
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the change order package was created, in ISO 8601 format.",
            "example": "2016-10-23T21:39:40Z"
           },
           "created_by_id": {
            "type": "integer",
            "description": "ID of the user who created this change order package.",
            "example": 1
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the change order package was deleted, in ISO 8601 format. Null unless the record has been deleted.",
            "example": "2017-07-29T21:39:40Z"
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "description": "Date the change order package is due (YYYY-MM-DD).",
            "example": "2016-10-23"
           },
           "executed": {
            "type": "boolean",
            "description": "When true, the change order package has been fully executed (signed by all parties).",
            "example": true
           },
           "invoiced_date": {
            "type": "string",
            "format": "date",
            "description": "Date the change order package was invoiced (YYYY-MM-DD).",
            "example": "2016-10-09"
           },
           "number": {
            "type": "string",
            "description": "Auto-generated, human-readable number identifying the change order package within its contract.",
            "example": "H-38"
           },
           "origin_code": {
            "type": "string",
            "description": "Code identifying this record in an external or integrated system.",
            "example": "ABC-123"
           },
           "origin_data": {
            "type": "string",
            "description": "Free-form data payload from the external system that created this record.",
            "example": "OD-123654789"
           },
           "origin_id": {
            "type": "string",
            "description": "Identifier of this record in an external or integrated system.",
            "example": "654987123"
           },
           "paid_date": {
            "type": "string",
            "format": "date",
            "description": "Date the change order package was paid (YYYY-MM-DD).",
            "example": "2016-10-22"
           },
           "reviewed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the change order package was reviewed, in ISO 8601 format.",
            "example": "2016-10-24T15:42:33Z"
           },
           "signed_change_order_received_date": {
            "type": "string",
            "format": "date",
            "description": "Date the signed change order was received from the vendor (YYYY-MM-DD).",
            "example": "2016-10-23"
           },
           "status": {
            "type": "string",
            "description": "Status of the change order package. Note: pending_billable is only available in 1-tier change order projects.",
            "example": "draft",
            "enum": [
             "draft",
             "not_pricing",
             "pricing",
             "pending",
             "revised",
             "proceeding",
             "not_proceeding",
             "pending_billable",
             "no_charge",
             "approved",
             "rejected",
             "void"
            ]
           },
           "title": {
            "type": "string",
            "description": "Short title summarizing the change order package.",
            "example": "Additional Time & Materials"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the change order package was last updated, in ISO 8601 format.",
            "example": "2016-10-23T21:39:40Z"
           },
           "revision": {
            "type": "integer",
            "description": "Revision number for this change order package. This is a manual input field; it is not automatically incremented.",
            "example": 1
           },
           "grand_total": {
            "type": "string",
            "description": "Total amount of the change order package including markup. Computed from its line items.",
            "example": "23474.0"
           },
           "designated_reviewer": {
            "type": "object",
            "description": "User designated to review this change order package.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the designated reviewer user.",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email/login of the designated reviewer user.",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Full name of the designated reviewer user.",
              "example": "Carl Contractor"
             }
            }
           },
           "currency_configuration": {
            "properties": {
             "base_currency_iso_code": {
              "type": "string",
              "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
              "example": "USD",
              "nullable": true
             },
             "currency_iso_code": {
              "type": "string",
              "description": "Currency ISO Code configured for the financial entity",
              "example": "EUR",
              "nullable": true
             }
            }
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field",
                "example": "custom field value"
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                "example": "phone_number"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                "example": "with_code"
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "User does not have correct permissions.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have correct permissions.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Specified Contract does not exists or User does not have access to it",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/change_order_packages',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    contract_id: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[reviewed_at]': 'SOME_STRING_VALUE',\n    'filters[due_date]': 'SOME_STRING_VALUE',\n    'filters[include_deleted]': 'SOME_STRING_VALUE',\n    'filters[invoiced_date]': 'SOME_STRING_VALUE',\n    'filters[paid_date]': 'SOME_STRING_VALUE',\n    'filters[signed_change_order_received_date]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/change_order_packages?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Breviewed_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE&filters%5Binvoiced_date%5D=SOME_STRING_VALUE&filters%5Bpaid_date%5D=SOME_STRING_VALUE&filters%5Bsigned_change_order_received_date%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/change_order_packages?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Breviewed_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE&filters%5Binvoiced_date%5D=SOME_STRING_VALUE&filters%5Bpaid_date%5D=SOME_STRING_VALUE&filters%5Bsigned_change_order_received_date%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/change_order_packages?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Breviewed_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE&filters%5Binvoiced_date%5D=SOME_STRING_VALUE&filters%5Bpaid_date%5D=SOME_STRING_VALUE&filters%5Bsigned_change_order_received_date%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add currency_configuration field",
      "description": "Adds the \"currency_configuration.currency_iso_code\" string field",
      "endpoint": "GET /change_order_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-05-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-order-packages?version=1.0#list-change-order-packages"
     },
     {
      "summary": "Notice of Deprecation",
      "description": "This endpoint is deprecated and will be removed in a future release. Depending on your project Change Order Tier Configuration\n`/projects/{project_id}/prime_change_orders` or `/projects/{project_id}/commitment_change_orders` can be used as a replacement instead.\n`/projects/{project_id}/prime_change_order_batches` or `/projects/{project_id}/commitment_change_order_batches` \ncan be used as a replacement instead.",
      "endpoint": "GET /change_order_packages",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-10-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-order-packages?version=1.0#list-change-order-packages"
     },
     {
      "summary": "Notice of Undeprecation",
      "description": "This endpoint is no longer deprecated and will not be sunset at the previously announced date.",
      "endpoint": "GET /change_order_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-order-packages?version=1.0#list-change-order-packages"
     },
     {
      "summary": "Update currency_configuration field",
      "description": "Add \"currency_configuration.base_currency_iso_code\" string field",
      "endpoint": "GET /change_order_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-04-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-order-packages?version=1.0#list-change-order-packages"
     },
     {
      "summary": "Add status, executed, and vendor_id filters",
      "description": "Adds support for filtering Change Order Packages by \"status\" (string), \"executed\" (boolean), and \"vendor_id\" (the vendor on the contract). The vendor_id filter is also supported on the ecrion_pdf_generation_data endpoint.",
      "endpoint": "GET /change_order_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-order-packages?version=1.0#list-change-order-packages"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Change Order Package",
    "description": "Create Change Order Package",
    "tags": [
     "Change Order Packages"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "change_order",
         "project_id",
         "contract_id"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 345357
         },
         "contract_id": {
          "type": "integer",
          "description": "ID of the parent contract this change order package belongs to.",
          "example": 64545
         },
         "change_order": {
          "type": "object",
          "properties": {
           "status": {
            "type": "string",
            "description": "Workflow status of the change order package. Defaults to `draft` when omitted on create.",
            "example": "draft",
            "enum": [
             "draft",
             "not_pricing",
             "pricing",
             "pending",
             "revised",
             "proceeding",
             "not_proceeding",
             "pending_billable",
             "no_charge",
             "approved",
             "rejected",
             "void"
            ]
           },
           "title": {
            "type": "string",
            "description": "Short title summarizing the change order package.",
            "example": "Additional Time & Materials"
           },
           "description": {
            "type": "string",
            "description": "Detailed description of the scope or reason for the change order package.",
            "example": "Additional Time & Materials for October"
           },
           "schedule_impact_amount": {
            "type": "integer",
            "description": "Estimated impact to the project schedule, in days.",
            "example": 5
           },
           "origin_code": {
            "type": "string",
            "description": "Code identifying this record in an external or integrated system.",
            "example": "ABC-123"
           },
           "origin_data": {
            "type": "string",
            "description": "Free-form data payload from the external system that created this record.",
            "example": "OD-123654789"
           },
           "origin_id": {
            "type": "string",
            "description": "Identifier of this record in an external or integrated system.",
            "example": "654987123"
           },
           "paid_date": {
            "type": "string",
            "format": "date",
            "description": "Date the change order package was paid (YYYY-MM-DD).",
            "example": "2016-10-22"
           },
           "invoiced_date": {
            "type": "string",
            "format": "date",
            "description": "Date the change order package was invoiced (YYYY-MM-DD).",
            "example": "2016-10-26"
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "description": "Date the change order package is due (YYYY-MM-DD).",
            "example": "2016-10-23"
           },
           "executed": {
            "type": "boolean",
            "description": "When true, the change order package has been fully executed (signed by all parties).",
            "example": true
           },
           "signed_change_order_received_date": {
            "type": "string",
            "format": "date",
            "description": "Date the signed change order was received from the vendor (YYYY-MM-DD).",
            "example": "2016-10-23"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this change order package. Use as the {id} path parameter to retrieve or update it.",
           "example": 239475
          },
          "contract_id": {
           "type": "integer",
           "description": "ID of the parent contract this change order package belongs to.",
           "example": 64545
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the change order package was created, in ISO 8601 format.",
           "example": "2016-10-23T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the change order package was deleted, in ISO 8601 format. Null unless the record has been deleted.",
           "example": "2016-10-27T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Detailed description of the scope or reason for the change order package.",
           "example": "Additional Time & Materials for October"
          },
          "due_date": {
           "type": "string",
           "format": "date",
           "description": "Date the change order package is due (YYYY-MM-DD).",
           "example": "2016-10-23"
          },
          "executed": {
           "type": "boolean",
           "description": "When true, the change order package has been fully executed (signed by all parties).",
           "example": true
          },
          "grand_total": {
           "type": "string",
           "description": "Total amount of the change order package including markup. Computed from its line items.",
           "example": "23474.0"
          },
          "invoiced_date": {
           "type": "string",
           "format": "date",
           "description": "Date the change order package was invoiced (YYYY-MM-DD).",
           "example": "2016-10-26"
          },
          "number": {
           "type": "string",
           "description": "Auto-generated, human-readable number identifying the change order package within its contract.",
           "example": "H-38"
          },
          "origin_code": {
           "type": "string",
           "description": "Code identifying this record in an external or integrated system.",
           "example": "ABC-123"
          },
          "origin_data": {
           "type": "string",
           "description": "Free-form data payload from the external system that created this record.",
           "example": "OD-123654789"
          },
          "origin_id": {
           "type": "string",
           "description": "Identifier of this record in an external or integrated system.",
           "example": "654987123"
          },
          "paid_date": {
           "type": "string",
           "format": "date",
           "description": "Date the change order package was paid (YYYY-MM-DD).",
           "example": "2016-11-23T21:39:40Z"
          },
          "position": {
           "type": "integer",
           "description": "Sort position of the change order package relative to others in its contract.",
           "example": 4
          },
          "private": {
           "type": "boolean",
           "description": "If true, visible to admins only; otherwise visible to those with access to the parent contract.",
           "example": true
          },
          "review_notes": {
           "type": "string",
           "description": "Notes to assist the reviewer",
           "example": "Make sure Jon sees this before proceeding"
          },
          "reviewed_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the change order package was reviewed, in ISO 8601 format.",
           "example": "2016-10-24T15:42:33Z"
          },
          "revised_substantial_completion_date": {
           "type": "string",
           "format": "date",
           "description": "Revised project substantial-completion date resulting from this change order package (YYYY-MM-DD).",
           "example": "2017-10-30"
          },
          "revision": {
           "type": "integer",
           "description": "Revision number, incremented each time the change order package is revised.",
           "example": 1
          },
          "schedule_impact_amount": {
           "type": "integer",
           "description": "Estimated impact to the project schedule, in days.",
           "example": 5
          },
          "signed_change_order_received_date": {
           "type": "string",
           "format": "date",
           "description": "Date the signed change order was received from the vendor (YYYY-MM-DD).",
           "example": "2016-10-23"
          },
          "status": {
           "type": "string",
           "description": "Workflow status of the change order package.",
           "example": "draft",
           "enum": [
            "draft",
            "not_pricing",
            "pricing",
            "pending",
            "revised",
            "proceeding",
            "not_proceeding",
            "pending_billable",
            "no_charge",
            "approved",
            "rejected",
            "void"
           ]
          },
          "title": {
           "type": "string",
           "description": "Short title summarizing the change order package.",
           "example": "Additional Time & Materials"
          },
          "type": {
           "type": "string",
           "description": "Subtype of the change order package indicating which kind of contract it belongs to.",
           "example": "PrimeContractChangeOrder",
           "enum": [
            "PrimeContractChangeOrder",
            "CommitmentContractChangeOrder",
            "ChangeOrderPackage"
           ]
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the change order package was last updated, in ISO 8601 format.",
           "example": "2016-10-26T21:43:40Z"
          },
          "creator": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "designated_reviewer": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "reviewer": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "line_items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 453927
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 3
             },
             "description": {
              "type": "string",
              "description": "Description",
              "example": "Extra materials"
             },
             "quantity": {
              "type": "string",
              "format": "float",
              "description": "Quantity",
              "example": "30.0"
             },
             "uom": {
              "type": "string",
              "description": "Unit of measurement",
              "example": "lbs"
             },
             "total_amount": {
              "type": "string",
              "format": "float",
              "description": "Total amount",
              "example": "60.0"
             },
             "extended_amount": {
              "type": "string",
              "format": "float",
              "description": "Extended amount",
              "example": "900.0"
             },
             "cost_code": {
              "oneOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "description": "ID",
                  "example": 12345,
                  "nullable": true,
                  "type": "integer"
                 },
                 "biller": {
                  "type": "string",
                  "description": "Biller",
                  "example": "Campus"
                 },
                 "biller_id": {
                  "description": "Biller ID",
                  "example": 12345,
                  "nullable": true,
                  "type": "integer"
                 },
                 "biller_type": {
                  "type": "string",
                  "enum": [
                   "Project",
                   "SubJob",
                   ""
                  ],
                  "description": "Biller type",
                  "example": "Project"
                 },
                 "biller_origin_id": {
                  "description": "Biller Origin Id",
                  "example": "98765",
                  "nullable": true,
                  "type": "string"
                 },
                 "budgeted": {
                  "type": "boolean",
                  "description": "Budgeted",
                  "example": false
                 },
                 "code": {
                  "description": "Cost code, not including parent prefix",
                  "example": "300",
                  "nullable": true,
                  "type": "string"
                 },
                 "created_at": {
                  "format": "date-time",
                  "description": "Created at",
                  "example": "2015-05-15T00:00:00Z",
                  "nullable": true,
                  "type": "string"
                 },
                 "deleted_at": {
                  "format": "date-time",
                  "description": "Deleted at",
                  "example": "2017-07-29T21:39:40Z",
                  "nullable": true,
                  "type": "string"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 },
                 "origin_data": {
                  "description": "Cost Code third party data",
                  "example": "OD-129947",
                  "nullable": true,
                  "type": "string"
                 },
                 "origin_id": {
                  "description": "Cost Code third party id",
                  "example": "9874484",
                  "nullable": true,
                  "type": "string"
                 },
                 "parent": {
                  "type": "object",
                  "description": "Parent",
                  "properties": {
                   "id": {
                    "description": "Parent ID",
                    "example": 2345,
                    "nullable": true,
                    "type": "integer"
                   }
                  }
                 },
                 "position": {
                  "description": "Position",
                  "example": 1,
                  "nullable": true,
                  "type": "integer"
                 },
                 "sortable_code": {
                  "type": "string",
                  "description": "Sortable code (this property is deprecated - see full_code)",
                  "example": "02-300"
                 },
                 "standard_cost_code_id": {
                  "description": "Standard Cost Code ID",
                  "example": 122334,
                  "nullable": true,
                  "type": "integer"
                 },
                 "updated_at": {
                  "format": "date-time",
                  "description": "Updated at",
                  "example": "2015-05-15T00:00:00Z",
                  "nullable": true,
                  "type": "string"
                 },
                 "line_item_types": {
                  "type": "array",
                  "description": "Line Item Types",
                  "items": {
                   "type": "object",
                   "title": "LineItemType",
                   "description": "Line Item Type",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Line Item Type ID",
                     "example": 12345
                    },
                    "name": {
                     "type": "string",
                     "description": "Line Item Type name",
                     "example": "Equipment"
                    },
                    "code": {
                     "type": "string",
                     "description": "Code",
                     "example": "LB"
                    },
                    "base_type": {
                     "type": "string",
                     "enum": [
                      "equipment",
                      "materials",
                      "commitment",
                      "owner_cost",
                      "professional_services",
                      "other"
                     ],
                     "description": "Base type",
                     "example": "materials"
                    },
                    "origin_data": {
                     "type": "string",
                     "description": "Origin data",
                     "example": "OD-2398273424"
                    },
                    "origin_id": {
                     "description": "Origin ID",
                     "example": "ABC123",
                     "nullable": true,
                     "type": "string"
                    }
                   }
                  }
                 }
                }
               },
               {
                "title": "compact",
                "type": "object",
                "properties": {
                 "id": {
                  "description": "ID",
                  "example": 12345,
                  "nullable": true,
                  "type": "integer"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               }
              ]
             },
             "wbs_code": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Wbs Code ID",
                "example": 999
               },
               "flat_code": {
                "type": "string",
                "description": "Wbs Code",
                "example": "01-011.CT1"
               },
               "description": {
                "type": "string",
                "description": "Wbs Code Description",
                "example": "Project Engineer.Cost Type 1"
               }
              }
             },
             "unit_cost": {
              "type": "string",
              "format": "float",
              "description": "Unit cost",
              "example": "2.0"
             },
             "holder": {
              "type": "object",
              "description": "Holder",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 233245
               },
               "holder_type": {
                "type": "string",
                "description": "Holder type",
                "example": "WorkOrderContract"
               }
              }
             },
             "line_item_type": {
              "type": "object",
              "title": "LineItemType",
              "description": "Line Item Type",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Line Item Type ID",
                "example": 12345
               },
               "name": {
                "type": "string",
                "description": "Line Item Type name",
                "example": "Equipment"
               },
               "code": {
                "type": "string",
                "description": "Code",
                "example": "LB"
               },
               "base_type": {
                "type": "string",
                "enum": [
                 "equipment",
                 "materials",
                 "commitment",
                 "owner_cost",
                 "professional_services",
                 "other"
                ],
                "description": "Base type",
                "example": "materials"
               },
               "origin_data": {
                "type": "string",
                "description": "Origin data",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "description": "Origin ID",
                "example": "ABC123",
                "nullable": true,
                "type": "string"
               }
              }
             },
             "markup_line_items": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Markup Line Item ID",
                 "example": 352362
                },
                "amount": {
                 "type": "string",
                 "description": "Markup Line Item amount"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2017-08-14T21:39:40Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated at",
                 "example": "2017-08-14T21:39:40Z"
                },
                "markup": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Markup ID",
                   "example": 462136
                  },
                  "position": {
                   "type": "integer",
                   "description": "Position",
                   "example": 1
                  },
                  "markup_set": {
                   "type": "string",
                   "description": "Markup set",
                   "example": "horizontal"
                  },
                  "name": {
                   "type": "string",
                   "description": "name",
                   "example": "Foo"
                  },
                  "percentage": {
                   "type": "string",
                   "description": "Percentage",
                   "example": 10
                  },
                  "compounds_markups_above": {
                   "type": "boolean",
                   "description": "Compounds markups above?",
                   "example": false
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Created at",
                   "example": "2017-08-14T21:39:40Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Updated at",
                   "example": "2017-08-14T21:39:40Z"
                  },
                  "destination_cost_code": {
                   "allOf": [
                    {
                     "type": "object",
                     "properties": {
                      "origin_id": {
                       "type": "string",
                       "description": "Cost Code third party id",
                       "example": "9874484"
                      },
                      "origin_data": {
                       "type": "string",
                       "description": "Cost Code third party data",
                       "example": "OD-129947"
                      }
                     }
                    }
                   ]
                  },
                  "destination_line_item_type": {
                   "type": "object",
                   "title": "LineItemType",
                   "description": "Line Item Type",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Line Item Type ID",
                     "example": 12345
                    },
                    "name": {
                     "type": "string",
                     "description": "Line Item Type name",
                     "example": "Equipment"
                    },
                    "code": {
                     "type": "string",
                     "description": "Code",
                     "example": "LB"
                    },
                    "base_type": {
                     "type": "string",
                     "enum": [
                      "equipment",
                      "materials",
                      "commitment",
                      "owner_cost",
                      "professional_services",
                      "other"
                     ],
                     "description": "Base type",
                     "example": "materials"
                    },
                    "origin_data": {
                     "type": "string",
                     "description": "Origin data",
                     "example": "OD-2398273424"
                    },
                    "origin_id": {
                     "description": "Origin ID",
                     "example": "ABC123",
                     "nullable": true,
                     "type": "string"
                    }
                   }
                  },
                  "desitination_budget_line_item_id": {
                   "type": "integer",
                   "description": "Destination Budget Line Item ID",
                   "example": 362262
                  },
                  "destination_sub_job": {
                   "allOf": [
                    {
                     "type": "object",
                     "properties": {
                      "origin_id": {
                       "type": "string",
                       "description": "The Third-party ID of the Sub Job"
                      },
                      "origin_data": {
                       "type": "string",
                       "description": "The Third-party Data of the Sub Job",
                       "example": "{\"data_field\":{\"is_important\":true}}"
                      },
                      "created_at": {
                       "type": "string",
                       "description": "Created at",
                       "example": "2017-08-14T21:39:40Z"
                      },
                      "updated_at": {
                       "type": "string",
                       "description": "Updated at",
                       "example": "2017-08-15T21:39:40Z"
                      }
                     }
                    },
                    {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "ID",
                       "example": 3483483
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "Floor 2"
                      },
                      "code": {
                       "type": "string",
                       "description": "Unique code in the scope of a Project",
                       "example": 18
                      }
                     }
                    }
                   ]
                  }
                 }
                },
                "currency_configuration": {
                 "type": "object",
                 "properties": {
                  "currency_iso_code": {
                   "type": "string",
                   "description": "Currency ISO Code configured for the financial entity",
                   "example": "USD",
                   "nullable": true
                  }
                 }
                }
               }
              }
             },
             "currency_configuration": {
              "type": "object",
              "properties": {
               "currency_iso_code": {
                "type": "string",
                "description": "Currency ISO Code configured for the financial entity",
                "example": "USD",
                "nullable": true
               }
              }
             }
            }
           }
          },
          "currency_configuration": {
           "properties": {
            "base_currency_iso_code": {
             "type": "string",
             "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
             "example": "USD",
             "nullable": true
            },
            "currency_iso_code": {
             "type": "string",
             "description": "Currency ISO Code configured for the financial entity",
             "example": "EUR",
             "nullable": true
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Unable to create Change Order Package due to errors.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have correct permissions.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/change_order_packages',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    project_id: 345357,\n    contract_id: 64545,\n    change_order: {\n      status: 'draft',\n      title: 'Additional Time & Materials',\n      description: 'Additional Time & Materials for October',\n      schedule_impact_amount: 5,\n      origin_code: 'ABC-123',\n      origin_data: 'OD-123654789',\n      origin_id: '654987123',\n      paid_date: '2016-10-22',\n      invoiced_date: '2016-10-26',\n      due_date: '2016-10-23',\n      executed: true,\n      signed_change_order_received_date: '2016-10-23'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":345357,\\\"contract_id\\\":64545,\\\"change_order\\\":{\\\"status\\\":\\\"draft\\\",\\\"title\\\":\\\"Additional Time & Materials\\\",\\\"description\\\":\\\"Additional Time & Materials for October\\\",\\\"schedule_impact_amount\\\":5,\\\"origin_code\\\":\\\"ABC-123\\\",\\\"origin_data\\\":\\\"OD-123654789\\\",\\\"origin_id\\\":\\\"654987123\\\",\\\"paid_date\\\":\\\"2016-10-22\\\",\\\"invoiced_date\\\":\\\"2016-10-26\\\",\\\"due_date\\\":\\\"2016-10-23\\\",\\\"executed\\\":true,\\\"signed_change_order_received_date\\\":\\\"2016-10-23\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/change_order_packages\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/change_order_packages \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":345357,\"contract_id\":64545,\"change_order\":{\"status\":\"draft\",\"title\":\"Additional Time & Materials\",\"description\":\"Additional Time & Materials for October\",\"schedule_impact_amount\":5,\"origin_code\":\"ABC-123\",\"origin_data\":\"OD-123654789\",\"origin_id\":\"654987123\",\"paid_date\":\"2016-10-22\",\"invoiced_date\":\"2016-10-26\",\"due_date\":\"2016-10-23\",\"executed\":true,\"signed_change_order_received_date\":\"2016-10-23\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/change_order_packages\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":345357,\\\"contract_id\\\":64545,\\\"change_order\\\":{\\\"status\\\":\\\"draft\\\",\\\"title\\\":\\\"Additional Time & Materials\\\",\\\"description\\\":\\\"Additional Time & Materials for October\\\",\\\"schedule_impact_amount\\\":5,\\\"origin_code\\\":\\\"ABC-123\\\",\\\"origin_data\\\":\\\"OD-123654789\\\",\\\"origin_id\\\":\\\"654987123\\\",\\\"paid_date\\\":\\\"2016-10-22\\\",\\\"invoiced_date\\\":\\\"2016-10-26\\\",\\\"due_date\\\":\\\"2016-10-23\\\",\\\"executed\\\":true,\\\"signed_change_order_received_date\\\":\\\"2016-10-23\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add currency_configuration field",
      "description": "Adds the \"currency_configuration.currency_iso_code\" string field",
      "endpoint": "POST /change_order_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-05-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-order-packages?version=1.0#create-change-order-package"
     },
     {
      "summary": "Notice of Deprecation",
      "description": "This endpoint is deprecated and will be removed in a future release. Depending on your project Change Order Tier Configuration\n`/projects/{project_id}/prime_change_orders` or `/projects/{project_id}/commitment_change_orders` can be used as a replacement instead.\n`/projects/{project_id}/prime_change_order_batches` or `/projects/{project_id}/commitment_change_order_batches` \ncan be used as a replacement instead.",
      "endpoint": "POST /change_order_packages",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-10-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-order-packages?version=1.0#create-change-order-package"
     },
     {
      "summary": "Notice of Undeprecation",
      "description": "This endpoint is no longer deprecated and will not be sunset at the previously announced date.",
      "endpoint": "POST /change_order_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-order-packages?version=1.0#create-change-order-package"
     },
     {
      "summary": "Update currency_configuration field",
      "description": "Add \"currency_configuration.base_currency_iso_code\" string field",
      "endpoint": "POST /change_order_packages",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-04-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "change-order-packages?version=1.0#create-change-order-package"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/change_order_packages/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Change Order Package",
    "description": "Show Change Order Package",
    "tags": [
     "Change Order Packages"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "ID of the contract to scope change order packages to (a Prime, Purchase Order, or Work Order Contract).",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this change order package. Use as the {id} path parameter to retrieve or update it.",
           "example": 239475
          },
          "contract_id": {
           "type": "integer",
           "description": "ID of the parent contract this change order package belongs to.",
           "example": 64545
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the change order package was created, in ISO 8601 format.",
           "example": "2016-10-23T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the change order package was deleted, in ISO 8601 format. Null unless the record has been deleted.",
           "example": "2016-10-27T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Detailed description of the scope or reason for the change order package.",
           "example": "Additional Time & Materials for October"
          },
          "due_date": {
           "type": "string",
           "format": "date",
           "description": "Date the change order package is due (YYYY-MM-DD).",
           "example": "2016-10-23"
          },
          "executed": {
           "type": "boolean",
           "description": "When true, the change order package has been fully executed (signed by all parties).",
           "example": true
          },
          "grand_total": {
           "type": "string",
           "description": "Total amount of the change order package including markup. Computed from its line items.",
           "example": "23474.0"
          },
          "invoiced_date": {
           "type": "string",
           "format": "date",
           "description": "Date the change order package was invoiced (YYYY-MM-DD).",
           "example": "2016-10-26"
          },
          "number": {
           "type": "string",
           "description": "Auto-generated, human-readable number identifying the change order package within its contract.",
           "example": "H-38"
          },
          "origin_code": {
           "type": "string",
           "description": "Code identifying this record in an external or integrated system.",
           "example": "ABC-123"
          },
          "origin_data": {
           "type": "string",
           "description": "Free-form data payload from the external system that created this record.",
           "example": "OD-123654789"
          },
          "origin_id": {
           "type": "string",
           "description": "Identifier of this record in an external or integrated system.",
           "example": "654987123"
          },
          "paid_date": {
           "type": "string",
           "format": "date",
           "description": "Date the change order package was paid (YYYY-MM-DD).",
           "example": "2016-11-23T21:39:40Z"
          },
          "position": {
           "type": "integer",
           "description": "Sort position of the change order package relative to others in its contract.",
           "example": 4
          },
          "private": {
           "type": "boolean",
           "description": "If true, visible to admins only; otherwise visible to those with access to the parent contract.",
           "example": true
          },
          "review_notes": {
           "type": "string",
           "description": "Notes to assist the reviewer",
           "example": "Make sure Jon sees this before proceeding"
          },
          "reviewed_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the change order package was reviewed, in ISO 8601 format.",
           "example": "2016-10-24T15:42:33Z"
          },
          "revised_substantial_completion_date": {
           "type": "string",
           "format": "date",
           "description": "Revised project substantial-completion date resulting from this change order package (YYYY-MM-DD).",
           "example": "2017-10-30"
          },
          "revision": {
           "type": "integer",
           "description": "Revision number, incremented each time the change order package is revised.",
           "example": 1
          },
          "schedule_impact_amount": {
           "type": "integer",
           "description": "Estimated impact to the project schedule, in days.",
           "example": 5
          },
          "signed_change_order_received_date": {
           "type": "string",
           "format": "date",
           "description": "Date the signed change order was received from the vendor (YYYY-MM-DD).",
           "example": "2016-10-23"
          },
          "status": {
           "type": "string",
           "description": "Workflow status of the change order package.",
           "example": "draft",
           "enum": [
            "draft",
            "not_pricing",
            "pricing",
            "pending",
            "revised",
            "proceeding",
            "not_proceeding",
            "pending_billable",
            "no_charge",
            "approved",
            "rejected",
            "void"
           ]
          },
          "title": {
           "type": "string",
           "description": "Short title summarizing the change order package.",
           "example": "Additional Time & Materials"
          },
          "type": {
           "type": "string",
           "description": "Subtype of the change order package indicating which kind of contract it belongs to.",
           "example": "PrimeContractChangeOrder",
           "enum": [
            "PrimeContractChangeOrder",
            "CommitmentContractChangeOrder",
            "ChangeOrderPackage"
           ]
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the change order package was last updated, in ISO 8601 format.",
           "example": "2016-10-26T21:43:40Z"
          },
          "creator": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the user.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user.",
             "example": "Carl Contractor"
            }
           }
          },
          "designated_reviewer": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the user.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user.",
             "example": "Carl Contractor"
            }
           }
          },
          "reviewer": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the user.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user.",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "line_items": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 453927
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 3
             },
             "description": {
              "type": "string",
              "description": "Description",
              "example": "Extra materials"
             },
             "quantity": {
              "type": "string",
              "format": "float",
              "description": "Quantity",
              "example": "30.0"
             },
             "uom": {
              "type": "string",
              "description": "Unit of measurement",
              "example": "lbs"
             },
             "total_amount": {
              "type": "string",
              "format": "float",
              "description": "Total amount",
              "example": "60.0"
             },
             "extended_amount": {
              "type": "string",
              "format": "float",
              "description": "Extended amount",
              "example": "900.0"
             },
             "unit_cost": {
              "type": "string",
              "format": "float",
              "description": "Unit cost",
              "example": "2.0"
             },
             "cost_code": {
              "oneOf": [
               {
                "title": "compact",
                "type": "object",
                "properties": {
                 "id": {
                  "description": "ID",
                  "example": 12345,
                  "nullable": true,
                  "type": "integer"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               {
                "type": "object",
                "title": "extended",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for this Cost Code record.",
                  "example": 12345
                 },
                 "biller": {
                  "type": "string",
                  "description": "Display name of the entity (project or sub job) that owns this cost code.",
                  "example": "Campus"
                 },
                 "biller_id": {
                  "type": "integer",
                  "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                  "example": 12345
                 },
                 "biller_type": {
                  "type": "string",
                  "enum": [
                   "Project",
                   "SubJob"
                  ],
                  "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                  "example": "Project"
                 },
                 "biller_origin_id": {
                  "type": "string",
                  "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                  "example": "98765",
                  "nullable": true
                 },
                 "budgeted": {
                  "type": "boolean",
                  "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                  "example": false
                 },
                 "code": {
                  "type": "string",
                  "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                  "example": "300"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                  "example": "2017-07-29T21:39:40Z"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the cost code.",
                  "example": "Earthwork"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                  "example": "OD-129947"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                  "example": "9874484"
                 },
                 "parent": {
                  "type": "object",
                  "description": "The immediate parent cost code of this record, if any.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                    "example": 2345
                   }
                  }
                 },
                 "position": {
                  "type": "integer",
                  "description": "Sort order of this cost code within its parent.",
                  "example": 1
                 },
                 "sortable_code": {
                  "type": "string",
                  "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                  "example": "02-300"
                 },
                 "standard_cost_code_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                  "example": 122334
                 },
                 "standard_cost_code_list_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                  "example": 133445,
                  "nullable": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "line_item_types": {
                  "type": "array",
                  "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                  "items": {
                   "type": "object",
                   "title": "LineItemType",
                   "description": "A line item type assigned to this cost code.",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique identifier for the Line Item Type.",
                     "example": 12345
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the Line Item Type.",
                     "example": "Equipment"
                    },
                    "code": {
                     "type": "string",
                     "description": "Short code used for CSV import of this Line Item Type.",
                     "example": "LB"
                    },
                    "base_type": {
                     "type": "string",
                     "enum": [
                      "equipment",
                      "materials",
                      "commitment",
                      "owner_cost",
                      "professional_services",
                      "labor",
                      "other"
                     ],
                     "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                     "example": "materials"
                    },
                    "origin_id": {
                     "type": "string",
                     "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                     "example": "ABC123",
                     "nullable": true
                    }
                   }
                  }
                 }
                }
               }
              ]
             },
             "wbs_code": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Wbs Code ID",
                "example": 999
               },
               "flat_code": {
                "type": "string",
                "description": "Wbs Code",
                "example": "01-011.CT1"
               },
               "description": {
                "type": "string",
                "description": "Wbs Code Description",
                "example": "Project Engineer.Cost Type 1"
               }
              }
             },
             "holder": {
              "type": "object",
              "description": "Holder",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 233245
               },
               "holder_type": {
                "type": "string",
                "description": "Holder type",
                "example": "WorkOrderContract"
               }
              }
             },
             "line_item_type": {
              "type": "object",
              "title": "LineItemType",
              "description": "Line Item Type",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the Line Item Type",
                "example": 12345
               },
               "name": {
                "type": "string",
                "description": "Name for the Line Item Type",
                "example": "Equipment"
               },
               "code": {
                "type": "string",
                "description": "Code for the Line Item Type",
                "example": "LB"
               },
               "base_type": {
                "type": "string",
                "enum": [
                 "equipment",
                 "materials",
                 "commitment",
                 "owner_cost",
                 "professional_services",
                 "other"
                ],
                "description": "Base type",
                "example": "materials"
               },
               "origin_data": {
                "type": "string",
                "description": "Origin data",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "type": "string",
                "description": "Origin ID",
                "example": "ABC123",
                "nullable": true
               }
              }
             },
             "markup_line_items": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Markup Line Item ID",
                 "example": 352362
                },
                "amount": {
                 "type": "string",
                 "description": "Markup Line Item amount"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2017-08-14T21:39:40Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated at",
                 "example": "2017-08-14T21:39:40Z"
                },
                "markup": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Markup ID",
                   "example": 462136
                  },
                  "position": {
                   "type": "integer",
                   "description": "Position",
                   "example": 1
                  },
                  "markup_set": {
                   "type": "string",
                   "description": "Markup set",
                   "example": "horizontal"
                  },
                  "name": {
                   "type": "string",
                   "description": "name",
                   "example": "Foo"
                  },
                  "percentage": {
                   "type": "string",
                   "description": "Percentage",
                   "example": 10
                  },
                  "compounds_markups_above": {
                   "type": "boolean",
                   "description": "Compounds markups above?",
                   "example": false
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Created at",
                   "example": "2017-08-14T21:39:40Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Updated at",
                   "example": "2017-08-14T21:39:40Z"
                  },
                  "wbs_code_id": {
                   "type": "integer",
                   "description": "Work Breakdown Structure Code ID",
                   "example": 67890
                  },
                  "destination_cost_code": {
                   "allOf": [
                    {
                     "type": "object",
                     "properties": {
                      "origin_id": {
                       "type": "string",
                       "description": "Cost Code third party id",
                       "example": "9874484"
                      },
                      "origin_data": {
                       "type": "string",
                       "description": "Cost Code third party data",
                       "example": "OD-129947"
                      }
                     }
                    }
                   ]
                  },
                  "destination_line_item_type": {
                   "type": "object",
                   "title": "LineItemType",
                   "description": "Line Item Type",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique identifier for the Line Item Type",
                     "example": 12345
                    },
                    "name": {
                     "type": "string",
                     "description": "Name for the Line Item Type",
                     "example": "Equipment"
                    },
                    "code": {
                     "type": "string",
                     "description": "Code for the Line Item Type",
                     "example": "LB"
                    },
                    "base_type": {
                     "type": "string",
                     "enum": [
                      "equipment",
                      "materials",
                      "commitment",
                      "owner_cost",
                      "professional_services",
                      "other"
                     ],
                     "description": "Base type",
                     "example": "materials"
                    },
                    "origin_data": {
                     "type": "string",
                     "description": "Origin data",
                     "example": "OD-2398273424"
                    },
                    "origin_id": {
                     "type": "string",
                     "description": "Origin ID",
                     "example": "ABC123",
                     "nullable": true
                    }
                   }
                  },
                  "desitination_budget_line_item_id": {
                   "type": "integer",
                   "description": "Destination Budget Line Item ID",
                   "example": 362262
                  },
                  "destination_sub_job": {
                   "allOf": [
                    {
                     "type": "object",
                     "properties": {
                      "origin_id": {
                       "type": "string",
                       "description": "The Third-party ID of the Sub Job"
                      },
                      "origin_data": {
                       "type": "string",
                       "description": "The Third-party Data of the Sub Job",
                       "example": "{\"data_field\":{\"is_important\":true}}"
                      },
                      "created_at": {
                       "type": "string",
                       "description": "Created at",
                       "example": "2017-08-14T21:39:40Z"
                      },
                      "updated_at": {
                       "type": "string",
                       "description": "Updated at",
                       "example": "2017-08-15T21:39:40Z"
                      }
                     }
                    },
                    {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
[...]
