{
 "openapi": "3.0.0",
 "info": {
  "title": "Checklists",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Checklists",
  "version": "1.1",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/checklist/lists": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Checklist (Inspection)",
    "description": "Creates an instance of Inspection in a given Project",
    "tags": [
     "Inspections"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "list_template_id",
         "list"
        ],
        "properties": {
         "list_template_id": {
          "type": "integer",
          "format": "int64",
          "description": "ID of the Checklist List Template (Inspection Template) that the Checklist (Inspection) will be created from",
          "example": 12
         },
         "list": {
          "type": "object",
          "allOf": [
           {
            "properties": {
             "description": {
              "type": "string",
              "description": "Description of the Inspection",
              "example": "Ensure proper window installation"
             },
             "due_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp indicating when the Inspection is due.",
              "example": "2019-08-18T23:36:30Z"
             },
             "identifier": {
              "type": "string",
              "description": "Identifier of the Inspection",
              "example": "W-123"
             },
             "inspection_date": {
              "type": "string",
              "format": "date",
              "description": "Date of the Inspection",
              "example": "2019-10-31"
             },
             "inspection_type_id": {
              "type": "integer",
              "description": "The ID of the Inspection's Type",
              "example": 34
             },
             "number": {
              "type": "integer",
              "description": "The Number of the Checklist. If no number is passed in, the next available number will be used.",
              "example": 42
             },
             "managed_equipment_id": {
              "type": "integer",
              "description": "The ID of the Inspection's Managed Equipment",
              "example": 123
             },
             "point_of_contact_id": {
              "type": "integer",
              "description": "The ID of the Inspection's Point of Contact",
              "example": 12
             },
             "inspector_ids": {
              "type": "array",
              "description": "The IDs of the Inspectors performing the Inspection",
              "items": {
               "type": "integer"
              },
              "example": [
               12,
               13
              ]
             },
             "private": {
              "type": "boolean",
              "description": "Indicates whether this Inspection is private",
              "default": true,
              "example": true
             },
             "responsible_contractor_id": {
              "type": "integer",
              "description": "The ID of the Inspection's Responsible Contractor",
              "example": 123
             },
             "spec_section_id": {
              "type": "integer",
              "description": "The ID of the Inspection's Specification Section",
              "example": 5
             },
             "status": {
              "type": "string",
              "description": "The Inspection's status",
              "enum": [
               "open",
               "in_review",
               "closed"
              ],
              "example": "open"
             },
             "trade_id": {
              "type": "integer",
              "description": "The ID of the Trade involved in the Inspection",
              "example": 123
             },
             "distribution_member_ids": {
              "type": "array",
              "description": "The IDs of the Distribution Members for the Inspection",
              "items": {
               "type": "integer"
              },
              "example": [
               2,
               3
              ]
             },
             "location_id": {
              "type": "integer",
              "description": "The ID of the Location of the Inspection",
              "example": 1
             },
             "custom_field_%{custom_field_definition_id}": {
              "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
              "example": "custom field value",
              "oneOf": [
               {
                "type": "string",
                "title": "string"
               },
               {
                "type": "number",
                "title": "number"
               },
               {
                "type": "boolean",
                "title": "boolean"
               },
               {
                "type": "array",
                "title": "array",
                "items": {
                 "type": "integer"
                }
               }
              ]
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "Checklist",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 42
          },
          "name": {
           "type": "string",
           "description": "Name",
           "example": "Window Inspection"
          },
          "list_template_id": {
           "type": "integer",
           "description": "Checklist Template ID from which this Checklist was created",
           "example": 1
          },
          "list_template_name": {
           "type": "string",
           "description": "Current name of the Checklist Template from which this Checklist was created",
           "example": "Window Inspection v2"
          },
          "number": {
           "type": "integer",
           "description": "Number",
           "example": 1
          },
          "status": {
           "type": "string",
           "description": "Status",
           "enum": [
            "Open",
            "In Review",
            "Closed"
           ],
           "example": "Closed"
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "code": {
             "type": "string",
             "description": "Location code",
             "example": "code"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of creation",
           "example": "2017-10-31T23:36:30Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of last update",
           "example": "2018-12-11T04:58:42Z"
          },
          "closed_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of when inspection was closed",
           "example": "2018-12-11T04:58:42Z",
           "nullable": true
          },
          "drawing_ids": {
           "type": "array",
           "description": "Array of Drawing IDs",
           "items": {
            "type": "integer"
           }
          },
          "current_drawing_revision_ids": {
           "type": "array",
           "description": "Array of Current Drawing Revision IDs",
           "items": {
            "type": "integer"
           }
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Checklist for circular windows"
          },
          "deleted": {
           "type": "boolean",
           "description": "Indicates whether this Checklist has been deleted",
           "example": false
          },
          "due_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp indicating when the Inspection is due",
           "example": "2019-08-18T23:36:30Z"
          },
          "identifier": {
           "type": "string",
           "description": "Identifier",
           "example": "176-09B"
          },
          "inspection_date": {
           "type": "string",
           "format": "date",
           "description": "Date that the inspection was performed"
          },
          "inspection_type": {
           "type": "object",
           "title": "Inspection Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Safety Compliance"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          "private": {
           "type": "boolean",
           "description": "Indicates whether this Checklist is private",
           "example": false
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "closed_by": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "responsible_contractor": {
           "type": "object",
           "description": "Vendor responsible for the work being inspected",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Freddie's Excavating"
            }
           }
          },
          "point_of_contact": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "trade": {
           "type": "object",
           "title": "Trade",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Trade ID",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Trade name",
             "example": "09 - acoustical panels"
            },
            "active": {
             "type": "boolean",
             "description": "Trade availability",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Trade",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "inspectors": {
           "type": "array",
           "description": "Inspectors",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "exampleuser@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Distribution Members",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "exampleuser@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "signature_requests": {
           "type": "array",
           "description": "Checklist Signature Requests",
           "items": {
            "title": "Checklist Signature Request",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 21
             },
             "signatory": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the user.",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "The email address of the user that is used to log in.",
                  "example": "exampleuser@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the user.",
                  "example": "Carl the Contractor"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "company_name": {
                  "type": "string",
                  "description": "User's Company Name",
                  "example": "Company ABC"
                 }
                }
               }
              ]
             },
             "signature": {
              "title": "Checklist Signature",
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "captured_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the user.",
                    "example": 160586
                   },
                   "login": {
                    "type": "string",
                    "description": "The email address of the user that is used to log in.",
                    "example": "exampleuser@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "The name of the user.",
                    "example": "Carl the Contractor"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "company_name": {
                    "type": "string",
                    "description": "User's Company Name",
                    "example": "Company ABC"
                   }
                  }
                 }
                ]
               },
               "captured_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of creation",
                "example": "2012-10-23T21:39:40Z"
               },
               "attachment": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 5324
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "january_receipt_copy.jpg"
                 },
                 "name": {
                  "type": "string",
                  "description": "Attachment name",
                  "example": "january_receipt_copy.jpg"
                 },
                 "attached_to_item_id": {
                  "type": "integer",
                  "description": "Attached to item ID",
                  "nullable": true,
                  "example": 323
                 },
                 "attached_to_item_type": {
                  "type": "string",
                  "description": "Attached to item type",
                  "nullable": true,
                  "example": "Image"
                 },
                 "viewer_url": {
                  "type": "string",
                  "description": "Unified viewer link",
                  "nullable": true,
                  "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/document-viewer/51GW47XAV5N64CQ2F8HTWFW0M4?item_type=Checklist%3A%3AList&item_id=1&parent_id=1&fullscreen"
                 }
                }
               }
              }
             }
            }
           }
          },
          "managed_equipment_id": {
           "type": "integer",
           "description": "Managed Equipment ID",
           "example": 1,
           "nullable": true
          },
          "specification_section": {
           "type": "object",
           "description": "Specification Section",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "current_revision_id": {
             "type": "integer",
             "description": "Current revision ID",
             "example": 11
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Vinyl Windows"
            },
            "section": {
             "type": "string",
             "description": "Number",
             "example": "08560"
            },
            "latest_revision_url": {
             "type": "string",
             "description": "Url to PDF view",
             "example": "link_to_pdf",
             "nullable": true
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "title": "Checklist (Inspection) Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/",
              "nullable": true
             },
             "name": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             },
             "filename": {
              "type": "string",
              "description": "Filename (deprecated)",
              "example": "january_receipt_copy.jpg"
             },
             "content_type": {
              "type": "string",
              "example": "application/pdf"
             },
             "viewable_document_id": {
              "type": "integer",
              "description": "Viewable Document ID",
              "example": 492
             }
            }
           }
          },
          "conforming_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items with a status of `yes`",
           "example": 1
          },
          "deficient_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items with a status of `no`",
           "example": 1
          },
          "not_applicable_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items with a status of `n/a`",
           "example": 0
          },
          "neutral_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items with a status of `neutral`",
           "example": 1
          },
          "inspected_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items that have been inspected",
           "example": 4
          },
          "observations_count": {
           "type": "integer",
           "description": "Number of Observations from this Checklist",
           "example": 2
          },
          "closed_observations_count": {
           "type": "integer",
           "description": "Number of closed Observations pertaining to the Checklist",
           "example": 1
          },
          "item_count": {
           "type": "integer",
           "description": "Number of Checklist Items within the Checklist",
           "example": 1
          },
          "respondable_item_count": {
           "type": "integer",
           "description": "Number of Respondable Checklist Items within the Checklist.",
           "example": 1
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field.",
               "example": "custom field value"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field.",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field.",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the list of values (LOV) entry.",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the list of values (LOV) entry.",
                 "example": "Open"
                }
               }
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "asset_ids": {
           "type": "array",
           "description": "IDs of Assets linked to this Inspection via Related Items",
           "items": {
            "type": "string"
           },
           "example": [
            "01HQRT4MNBV2XJKZ8DPWE3YC5A"
           ]
          },
          "template_id": {
           "type": "integer",
           "description": "Template ID",
           "example": 176
          },
          "overdue": {
           "type": "boolean",
           "description": "Checklist List overdue flag",
           "example": true
          },
          "reinspected_by_id": {
           "type": "string",
           "description": "The ID of the Reinspection that was created from this Inspection",
           "example": "105"
          },
          "reinspected_from_id": {
           "type": "string",
           "description": "The ID of the Inspection this Inspection was reinspected from (labeled \"Origin\" in UI)",
           "example": "58"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    list_template_id: 12,\n    list: {\n      description: 'Ensure proper window installation',\n      due_at: '2019-08-18T23:36:30Z',\n      identifier: 'W-123',\n      inspection_date: '2019-10-31',\n      inspection_type_id: 34,\n      number: 42,\n      managed_equipment_id: 123,\n      point_of_contact_id: 12,\n      inspector_ids: [12, 13],\n      private: true,\n      responsible_contractor_id: 123,\n      spec_section_id: 5,\n      status: 'open',\n      trade_id: 123,\n      distribution_member_ids: [2, 3],\n      location_id: 1,\n      'custom_field_%{custom_field_definition_id}': 'custom field value',\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"list_template_id\\\":12,\\\"list\\\":{\\\"description\\\":\\\"Ensure proper window installation\\\",\\\"due_at\\\":\\\"2019-08-18T23:36:30Z\\\",\\\"identifier\\\":\\\"W-123\\\",\\\"inspection_date\\\":\\\"2019-10-31\\\",\\\"inspection_type_id\\\":34,\\\"number\\\":42,\\\"managed_equipment_id\\\":123,\\\"point_of_contact_id\\\":12,\\\"inspector_ids\\\":[12,13],\\\"private\\\":true,\\\"responsible_contractor_id\\\":123,\\\"spec_section_id\\\":5,\\\"status\\\":\\\"open\\\",\\\"trade_id\\\":123,\\\"distribution_member_ids\\\":[2,3],\\\"location_id\\\":1,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"list_template_id\":12,\"list\":{\"description\":\"Ensure proper window installation\",\"due_at\":\"2019-08-18T23:36:30Z\",\"identifier\":\"W-123\",\"inspection_date\":\"2019-10-31\",\"inspection_type_id\":34,\"number\":42,\"managed_equipment_id\":123,\"point_of_contact_id\":12,\"inspector_ids\":[12,13],\"private\":true,\"responsible_contractor_id\":123,\"spec_section_id\":5,\"status\":\"open\",\"trade_id\":123,\"distribution_member_ids\":[2,3],\"location_id\":1,\"custom_field_%{custom_field_definition_id}\":\"custom field value\",\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"list_template_id\\\":12,\\\"list\\\":{\\\"description\\\":\\\"Ensure proper window installation\\\",\\\"due_at\\\":\\\"2019-08-18T23:36:30Z\\\",\\\"identifier\\\":\\\"W-123\\\",\\\"inspection_date\\\":\\\"2019-10-31\\\",\\\"inspection_type_id\\\":34,\\\"number\\\":42,\\\"managed_equipment_id\\\":123,\\\"point_of_contact_id\\\":12,\\\"inspector_ids\\\":[12,13],\\\"private\\\":true,\\\"responsible_contractor_id\\\":123,\\\"spec_section_id\\\":5,\\\"status\\\":\\\"open\\\",\\\"trade_id\\\":123,\\\"distribution_member_ids\\\":[2,3],\\\"location_id\\\":1,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Checklists (Inspections) create endpoint",
      "description": "Create a Project Checklist (Inspection).\nRemoved `default_response_phrasing` from JSON response. Default type Checklist Items now have a Response Set.",
      "endpoint": "POST /projects/{project_id}/checklist/lists",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-05-24",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.1#create-checklist-inspection"
     },
     {
      "summary": "Add Attachments by Reference to Checklist (Inspection)",
      "description": "Add new attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /projects/{project_id}/checklist/lists",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-06-12",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.0#create-checklist-inspection"
     },
     {
      "summary": "Add Identifier to Create Checklist (Inspection)",
      "description": "Add Identifer key in creation of a checklist (inspection)",
      "endpoint": "POST /projects/{project_id}/checklist/lists",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-02-15",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.0#create-checklist-inspection"
     },
     {
      "summary": "Add Respondable Item Count to Create Checklist (Inspection)",
      "description": "Add Respondable Item Count in creation of a checklist (inspection)",
      "endpoint": "POST /projects/{project_id}/checklist/lists",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-17",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.0#create-checklist-inspection"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/checklist/lists/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Checklist ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Checklist (Inspection)",
    "description": "Updates a specified Checklist (Inspection)",
    "tags": [
     "Checklists (Inspections)"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "list"
        ],
        "properties": {
         "list": {
          "type": "object",
          "allOf": [
           {
            "properties": {
             "name": {
              "type": "string",
              "description": "The Name of the Inspection",
              "example": "Window Inspection"
             },
             "description": {
              "type": "string",
              "description": "Description of the Inspection",
              "example": "Ensure proper window installation"
             },
             "due_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp indicating when the Inspection is due.",
              "example": "2019-08-18T23:36:30Z"
             },
             "identifier": {
              "type": "string",
              "description": "Identifier of the Inspection",
              "example": "W-123"
             },
             "inspection_date": {
              "type": "string",
              "format": "date",
              "description": "Date of the Inspection",
              "example": "2019-10-31"
             },
             "inspection_type_id": {
              "type": "integer",
              "description": "The ID of the Inspection's Type",
              "example": 34
             },
             "number": {
              "type": "integer",
              "description": "The Number of the Checklist. If no number is passed in, the next available number will be used.",
              "example": 42
             },
             "point_of_contact_id": {
              "type": "integer",
              "description": "The ID of the Inspection's Point of Contact",
              "example": 12
             },
             "inspector_ids": {
              "type": "array",
              "description": "The IDs of the Inspectors performing the Inspection",
              "items": {
               "type": "integer"
              },
              "example": [
               12,
               13
              ]
             },
             "private": {
              "type": "boolean",
              "description": "Indicates whether this Inspection is private",
              "default": true,
              "example": true
             },
             "responsible_contractor_id": {
              "type": "integer",
              "description": "The ID of the Inspection's Responsible Contractor",
              "example": 123
             },
             "spec_section_id": {
              "type": "integer",
              "description": "The ID of the Inspection's Specification Section",
              "example": 5
             },
             "status": {
              "type": "string",
              "description": "The Inspection's status",
              "enum": [
               "open",
               "in_review",
               "closed"
              ],
              "example": "open"
             },
             "trade_id": {
              "type": "integer",
              "description": "The ID of the Trade involved in the Inspection",
              "example": 123
             },
             "distribution_member_ids": {
              "type": "array",
              "description": "The IDs of the Distribution Members for the Inspection",
              "items": {
               "type": "integer"
              },
              "example": [
               2,
               3
              ]
             },
             "location_id": {
              "type": "integer",
              "description": "The ID of the Location of the Inspection",
              "example": 1
             },
             "custom_field_%{custom_field_definition_id}": {
              "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
              "example": "custom field value",
              "oneOf": [
               {
                "type": "string",
                "title": "string"
               },
               {
                "type": "number",
                "title": "number"
               },
               {
                "type": "boolean",
                "title": "boolean"
               },
               {
                "type": "array",
                "title": "array",
                "items": {
                 "type": "integer"
                }
               }
              ]
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Checklist",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 42
          },
          "name": {
           "type": "string",
           "description": "Name",
           "example": "Window Inspection"
          },
          "list_template_id": {
           "type": "integer",
           "description": "Checklist Template ID from which this Checklist was created",
           "example": 1
          },
          "list_template_name": {
           "type": "string",
           "description": "Current name of the Checklist Template from which this Checklist was created",
           "example": "Window Inspection v2"
          },
          "number": {
           "type": "integer",
           "description": "Number",
           "example": 1
          },
          "status": {
           "type": "string",
           "description": "Status",
           "enum": [
            "Open",
            "In Review",
            "Closed"
           ],
           "example": "Closed"
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "code": {
             "type": "string",
             "description": "Location code",
             "example": "code"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of creation",
           "example": "2017-10-31T23:36:30Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of last update",
           "example": "2018-12-11T04:58:42Z"
          },
          "closed_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of when inspection was closed",
           "example": "2018-12-11T04:58:42Z",
           "nullable": true
          },
          "drawing_ids": {
           "type": "array",
           "description": "Array of Drawing IDs",
           "items": {
            "type": "integer"
           }
          },
          "current_drawing_revision_ids": {
           "type": "array",
           "description": "Array of Current Drawing Revision IDs",
           "items": {
            "type": "integer"
           }
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Checklist for circular windows"
          },
          "deleted": {
           "type": "boolean",
           "description": "Indicates whether this Checklist has been deleted",
           "example": false
          },
          "due_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp indicating when the Inspection is due",
           "example": "2019-08-18T23:36:30Z"
          },
          "identifier": {
           "type": "string",
           "description": "Identifier",
           "example": "176-09B"
          },
          "inspection_date": {
           "type": "string",
           "format": "date",
           "description": "Date that the inspection was performed"
          },
          "inspection_type": {
           "type": "object",
           "title": "Inspection Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Safety Compliance"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          "private": {
           "type": "boolean",
           "description": "Indicates whether this Checklist is private",
           "example": false
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "closed_by": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "responsible_contractor": {
           "type": "object",
           "description": "Vendor responsible for the work being inspected",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Freddie's Excavating"
            }
           }
          },
          "point_of_contact": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "trade": {
           "type": "object",
           "title": "Trade",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Trade ID",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Trade name",
             "example": "09 - acoustical panels"
            },
            "active": {
             "type": "boolean",
             "description": "Trade availability",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Trade",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "inspectors": {
           "type": "array",
           "description": "Inspectors",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "exampleuser@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Distribution Members",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "exampleuser@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "signature_requests": {
           "type": "array",
           "description": "Checklist Signature Requests",
           "items": {
            "title": "Checklist Signature Request",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 21
             },
             "signatory": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the user.",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "The email address of the user that is used to log in.",
                  "example": "exampleuser@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the user.",
                  "example": "Carl the Contractor"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "company_name": {
                  "type": "string",
                  "description": "User's Company Name",
                  "example": "Company ABC"
                 }
                }
               }
              ]
             },
             "signature": {
              "title": "Checklist Signature",
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "captured_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the user.",
                    "example": 160586
                   },
                   "login": {
                    "type": "string",
                    "description": "The email address of the user that is used to log in.",
                    "example": "exampleuser@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "The name of the user.",
                    "example": "Carl the Contractor"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "company_name": {
                    "type": "string",
                    "description": "User's Company Name",
                    "example": "Company ABC"
                   }
                  }
                 }
                ]
               },
               "captured_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of creation",
                "example": "2012-10-23T21:39:40Z"
               },
               "attachment": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 5324
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "january_receipt_copy.jpg"
                 },
                 "name": {
                  "type": "string",
                  "description": "Attachment name",
                  "example": "january_receipt_copy.jpg"
                 },
                 "attached_to_item_id": {
                  "type": "integer",
                  "description": "Attached to item ID",
                  "nullable": true,
                  "example": 323
                 },
                 "attached_to_item_type": {
                  "type": "string",
                  "description": "Attached to item type",
                  "nullable": true,
                  "example": "Image"
                 },
                 "viewer_url": {
                  "type": "string",
                  "description": "Unified viewer link",
                  "nullable": true,
                  "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/document-viewer/51GW47XAV5N64CQ2F8HTWFW0M4?item_type=Checklist%3A%3AList&item_id=1&parent_id=1&fullscreen"
                 }
                }
               }
              }
             }
            }
           }
          },
          "managed_equipment_id": {
           "type": "integer",
           "description": "Managed Equipment ID",
           "example": 1,
           "nullable": true
          },
          "specification_section": {
           "type": "object",
           "description": "Specification Section",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "current_revision_id": {
             "type": "integer",
             "description": "Current revision ID",
             "example": 11
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Vinyl Windows"
            },
            "section": {
             "type": "string",
             "description": "Number",
             "example": "08560"
            },
            "latest_revision_url": {
             "type": "string",
             "description": "Url to PDF view",
             "example": "link_to_pdf",
             "nullable": true
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "title": "Checklist (Inspection) Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/",
              "nullable": true
             },
             "name": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             },
             "filename": {
              "type": "string",
              "description": "Filename (deprecated)",
              "example": "january_receipt_copy.jpg"
             },
             "content_type": {
              "type": "string",
              "example": "application/pdf"
             },
             "viewable_document_id": {
              "type": "integer",
              "description": "Viewable Document ID",
              "example": 492
             }
            }
           }
          },
          "conforming_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items with a status of `yes`",
           "example": 1
          },
          "deficient_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items with a status of `no`",
           "example": 1
          },
          "not_applicable_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items with a status of `n/a`",
           "example": 0
          },
          "neutral_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items with a status of `neutral`",
           "example": 1
          },
          "inspected_item_count": {
           "type": "integer",
           "description": "Number of Checklist Items that have been inspected",
           "example": 4
          },
          "observations_count": {
           "type": "integer",
           "description": "Number of Observations from this Checklist",
           "example": 2
          },
          "closed_observations_count": {
           "type": "integer",
           "description": "Number of closed Observations pertaining to the Checklist",
           "example": 1
          },
          "item_count": {
           "type": "integer",
           "description": "Number of Checklist Items within the Checklist",
           "example": 1
          },
          "respondable_item_count": {
           "type": "integer",
           "description": "Number of Respondable Checklist Items within the Checklist.",
           "example": 1
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field.",
               "example": "custom field value"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field.",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field.",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the list of values (LOV) entry.",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the list of values (LOV) entry.",
                 "example": "Open"
                }
               }
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "The data type of the Custom Field Definition.",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "asset_ids": {
           "type": "array",
           "description": "IDs of Assets linked to this Inspection via Related Items",
           "items": {
            "type": "string"
           },
           "example": [
            "01HQRT4MNBV2XJKZ8DPWE3YC5A"
           ]
          },
          "template_id": {
           "type": "integer",
           "description": "Template ID",
           "example": 176
          },
          "overdue": {
           "type": "boolean",
           "description": "Checklist List overdue flag",
           "example": true
          },
          "reinspected_by_id": {
           "type": "string",
           "description": "The ID of the Reinspection that was created from this Inspection",
           "example": "105"
          },
          "reinspected_from_id": {
           "type": "string",
           "description": "The ID of the Inspection this Inspection was reinspected from (labeled \"Origin\" in UI)",
           "example": "58"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists/%7Bid%7D',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    list: {\n      name: 'Window Inspection',\n      description: 'Ensure proper window installation',\n      due_at: '2019-08-18T23:36:30Z',\n      identifier: 'W-123',\n      inspection_date: '2019-10-31',\n      inspection_type_id: 34,\n      number: 42,\n      point_of_contact_id: 12,\n      inspector_ids: [12, 13],\n      private: true,\n      responsible_contractor_id: 123,\n      spec_section_id: 5,\n      status: 'open',\n      trade_id: 123,\n      distribution_member_ids: [2, 3],\n      location_id: 1,\n      'custom_field_%{custom_field_definition_id}': 'custom field value',\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"list\\\":{\\\"name\\\":\\\"Window Inspection\\\",\\\"description\\\":\\\"Ensure proper window installation\\\",\\\"due_at\\\":\\\"2019-08-18T23:36:30Z\\\",\\\"identifier\\\":\\\"W-123\\\",\\\"inspection_date\\\":\\\"2019-10-31\\\",\\\"inspection_type_id\\\":34,\\\"number\\\":42,\\\"point_of_contact_id\\\":12,\\\"inspector_ids\\\":[12,13],\\\"private\\\":true,\\\"responsible_contractor_id\\\":123,\\\"spec_section_id\\\":5,\\\"status\\\":\\\"open\\\",\\\"trade_id\\\":123,\\\"distribution_member_ids\\\":[2,3],\\\"location_id\\\":1,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"list\":{\"name\":\"Window Inspection\",\"description\":\"Ensure proper window installation\",\"due_at\":\"2019-08-18T23:36:30Z\",\"identifier\":\"W-123\",\"inspection_date\":\"2019-10-31\",\"inspection_type_id\":34,\"number\":42,\"point_of_contact_id\":12,\"inspector_ids\":[12,13],\"private\":true,\"responsible_contractor_id\":123,\"spec_section_id\":5,\"status\":\"open\",\"trade_id\":123,\"distribution_member_ids\":[2,3],\"location_id\":1,\"custom_field_%{custom_field_definition_id}\":\"custom field value\",\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"list\\\":{\\\"name\\\":\\\"Window Inspection\\\",\\\"description\\\":\\\"Ensure proper window installation\\\",\\\"due_at\\\":\\\"2019-08-18T23:36:30Z\\\",\\\"identifier\\\":\\\"W-123\\\",\\\"inspection_date\\\":\\\"2019-10-31\\\",\\\"inspection_type_id\\\":34,\\\"number\\\":42,\\\"point_of_contact_id\\\":12,\\\"inspector_ids\\\":[12,13],\\\"private\\\":true,\\\"responsible_contractor_id\\\":123,\\\"spec_section_id\\\":5,\\\"status\\\":\\\"open\\\",\\\"trade_id\\\":123,\\\"distribution_member_ids\\\":[2,3],\\\"location_id\\\":1,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Checklists (Inspections) update endpoint",
      "description": "Update a Project Checklist (Inspection).\nRemoved `default_response_phrasing` from JSON response. Default type Checklist Items now have a Response Set.",
      "endpoint": "PATCH /projects/{project_id}/checklist/lists/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-05-24",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.1#update-checklist-inspection"
     },
     {
      "summary": "Replace Checklist (Inspection) Attachments by Reference",
      "description": "Replace existing attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "PATCH /projects/{project_id}/checklist/lists/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-06-12",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.0#update-checklist-inspection"
     },
     {
      "summary": "Update Checklist (Inspection) Attachments by Reference",
      "description": "Updated the UPDATE request so attachments by image, drawing revision, file version, form, and direct upload ids are additive.\n  - Will not replace existing attachments\n  - Will ignore BodyRequest key: list[attachment_ids]",
      "endpoint": "PATCH /projects/{project_id}/checklist/lists/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-10-02",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.0#update-checklist-inspection"
     },
     {
      "summary": "Add Identifier to Update Checklist (Inspection)",
      "description": "Add Identifer key in updating a checklist (inspection)",
      "endpoint": "PATCH /projects/{project_id}/checklist/lists/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-02-15",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.0#update-checklist-inspection"
     },
     {
      "summary": "Add Respondable Item Count to Update Checklist (Inspection)",
      "description": "Add Respondable Item Count in updating a checklist (inspection)",
      "endpoint": "PATCH /projects/{project_id}/checklist/lists/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-17",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.0#update-checklist-inspection"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Checklist (Inspection)",
    "description": "Deletes specified Checklist (Inspection)",
    "tags": [
     "Checklists (Inspections)"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/lists/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Checklists (Inspections) destroy endpoint",
      "description": "Destroy a Project Checklist (Inspection).",
      "endpoint": "DELETE /projects/{project_id}/checklist/lists/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-05-24",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklists?version=1.1#delete-checklist-inspection"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/checklist/lists/{id}/close": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Checklist ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Close Checklist (Inspection)",
    "description": "Closes the specified Checklist (Inspection) by transitioning its status to `closed`. This is a dedicated endpoint that performs only the close action and does not accept any additional update parameters. Closing an already-closed Inspection is idempotent and returns the Inspection in its current state.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Checklist",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 42
          },
          "name": {
           "type": "string",
           "description": "Name",
           "example": "Window Inspection"
          },
          "list_template_id": {
           "type": "integer",
           "description": "Checklist Template ID from which this Checklist was created",
           "example": 1
          },
          "list_template_name": {
           "type": "string",
           "description": "Current name of the Checklist Template from which this Checklist was created",
           "example": "Window Inspection v2"
          },
          "number": {
           "type": "integer",
           "description": "Number",
           "example": 1
          },
          "status": {
           "type": "string",
           "description": "Status",
           "enum": [
            "Open",
            "In Review",
            "Closed"
           ],
           "example": "Closed"
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
[...]
