{
 "openapi": "3.0.0",
 "info": {
  "title": "Checklist Templates",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Checklist Templates",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/checklist/list_templates": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Checklist Templates",
    "description": "Returns a list of all Inspection Checklist Templates for a specified Project.",
    "x-deprecated-at": "2022-01-27",
    "deprecated": true,
    "tags": [
     "Checklists (Inspections)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "title": "Array of Checklist Templates",
         "type": "array",
         "items": {
          "title": "Checklist Template",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 142
           },
           "name": {
            "type": "string",
            "description": "Name",
            "example": "Window Inspection"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Checklist for circular windows"
           },
           "company_description": {
            "type": "string",
            "description": "Company level inspection template description",
            "example": "Checklist for windows",
            "nullable": true
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of creation",
            "example": "2014-12-10T23:36:30Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last update",
            "example": "2014-12-11T04:58:42Z"
           },
           "inspection_type": {
            "type": "object",
            "description": "Inspection Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Quality"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Inspection Type creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Inspection Type",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "alternative_response_set_id": {
            "type": "integer",
            "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
            "example": 1234
           },
           "response_set": {
            "title": "ChecklistDefaultResponseSet",
            "type": "object",
            "properties": {
             "conforming_response": {
              "type": "string",
              "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
              "example": "Pass"
             },
             "deficient_response": {
              "type": "string",
              "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
              "example": "Fail"
             },
             "global": {
              "type": "boolean",
              "description": "Represents whether a response set has been provided by Procore.",
              "example": true
             }
            }
           },
           "location": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "1space>1 space"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "1 space"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "trade": {
            "type": "object",
            "title": "Trade",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "exampleuser@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": "Attachments",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/"
              },
              "filename": {
               "type": "string",
               "description": "Filename",
               "example": "january_receipt_copy.jpg"
              }
             }
            }
           },
           "sections": {
            "type": "array",
            "description": "Checklist Sections",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 21
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Framing"
              },
              "position": {
               "type": "integer",
               "description": "Position",
               "example": 1
              },
              "items": {
               "type": "array",
               "description": "Checklist Items",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 2
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Framing has no visible defects"
                 },
                 "status": {
                  "type": "string",
                  "description": "Status",
                  "enum": [
                   "yes",
                   "no",
                   "n/a",
                   "none"
                  ],
                  "example": "n/a"
                 },
                 "section_id": {
                  "type": "integer",
                  "description": "Checklist Section ID",
                  "example": 21
                 },
                 "section_position": {
                  "type": "integer",
                  "description": "Checklist Section Position",
                  "example": 3
                 },
                 "position": {
                  "type": "integer",
                  "description": "Position",
                  "example": 1
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/checklist/list_templates',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/checklist/list_templates?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/checklist/list_templates?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/checklist/list_templates?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List Checklist Templates endpoint is deprecated.",
      "description": "This endpoint is deprecated. `GET /rest/v1.0/projects/{project_id}/checklist/list_templates`\ncan be used as a replacement.\n\nLink to relevant documentation - [List Project Checklist Templates](https://developers.procore.com/reference/rest/v1/project-checklist-templates?version=1.0#list-project-checklist-templates)",
      "endpoint": "GET /checklist/list_templates",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2022-01-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklist-templates?version=1.0#list-checklist-templates"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/checklist/list_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Checklist Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Checklist Template",
    "description": "Shows an Inspection Checklist Template.",
    "x-deprecated-at": "2022-01-27",
    "deprecated": true,
    "tags": [
     "Checklists (Inspections)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Checklist Template",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 142
          },
          "name": {
           "type": "string",
           "description": "Name",
           "example": "Window Inspection"
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Checklist for circular windows"
          },
          "company_description": {
           "type": "string",
           "description": "Company level inspection template description",
           "example": "Checklist for windows",
           "nullable": true
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of creation",
           "example": "2014-12-10T23:36:30Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of last update",
           "example": "2014-12-11T04:58:42Z"
          },
          "inspection_type": {
           "type": "object",
           "description": "Inspection Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Quality"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Inspection Type creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Inspection Type",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "alternative_response_set_id": {
           "type": "integer",
           "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
           "example": 1234
          },
          "response_set": {
           "title": "ChecklistDefaultResponseSet",
           "type": "object",
           "properties": {
            "conforming_response": {
             "type": "string",
             "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
             "example": "Pass"
            },
            "deficient_response": {
             "type": "string",
             "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
             "example": "Fail"
            },
            "global": {
             "type": "boolean",
             "description": "Represents whether a response set has been provided by Procore.",
             "example": true
            }
           }
          },
          "location": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "trade": {
           "type": "object",
           "title": "Trade",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Trade ID",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Trade name",
             "example": "09 - acoustical panels"
            },
            "active": {
             "type": "boolean",
             "description": "Trade availability",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Trade",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "sections": {
           "type": "array",
           "description": "Checklist Sections",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 21
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Framing"
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1
             },
             "items": {
              "type": "array",
              "description": "Checklist Items",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 2
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Framing has no visible defects"
                },
                "status": {
                 "type": "string",
                 "description": "Status",
                 "enum": [
                  "yes",
                  "no",
                  "n/a",
                  "none"
                 ],
                 "example": "n/a"
                },
                "section_id": {
                 "type": "integer",
                 "description": "Checklist Section ID",
                 "example": 21
                },
                "section_position": {
                 "type": "integer",
                 "description": "Checklist Section Position",
                 "example": 3
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/checklist/list_templates/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/checklist/list_templates/%7Bid%7D?project_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/checklist/list_templates/%7Bid%7D?project_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/checklist/list_templates/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Show Checklist Template endpoint is deprecated.",
      "description": "This endpoint is deprecated. `GET /rest/v1.0/projects/{project_id}/checklist/list_templates/{id}`\ncan be used as a replacement.\n\nLink to relevant documentation - [Show Project Checklist Template](https://developers.procore.com/reference/rest/v1/project-checklist-templates?version=1.0#show-project-checklist-template)",
      "endpoint": "GET /checklist/list_templates/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2022-01-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklist-templates?version=1.0#show-checklist-template"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/checklist/list_templates/{id}/use_alternative_response_set": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Checklist Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Add Checklist Template Alternative Response Set",
    "description": "Sets a Checklist Template's Response Set to the specified Alternative Response Set.",
    "x-deprecated-at": "2022-01-27",
    "deprecated": true,
    "tags": [
     "Checklists (Inspections)"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "project_id",
         "alternative_response_set_id"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project."
         },
         "alternative_response_set_id": {
          "type": "integer",
          "description": "Alternative Response Set ID",
          "example": 1
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Checklist Template",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 142
          },
          "name": {
           "type": "string",
           "description": "Name",
           "example": "Window Inspection"
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Checklist for circular windows"
          },
          "company_description": {
           "type": "string",
           "description": "Company level inspection template description",
           "example": "Checklist for windows",
           "nullable": true
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of creation",
           "example": "2014-12-10T23:36:30Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of last update",
           "example": "2014-12-11T04:58:42Z"
          },
          "inspection_type": {
           "type": "object",
           "description": "Inspection Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Quality"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Inspection Type creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Inspection Type",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "alternative_response_set_id": {
           "type": "integer",
           "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
           "example": 1,
           "nullable": true
          },
          "response_set": {
           "title": "ChecklistAlternativeResponseSet",
           "type": "object",
           "properties": {
            "conforming_response": {
             "type": "string",
             "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
             "example": "Safe"
            },
            "deficient_response": {
             "type": "string",
             "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
             "example": "At Risk"
            },
            "global": {
             "type": "boolean",
             "description": "Represents whether a response set has been provided by Procore.",
             "example": true
            }
           }
          },
          "location": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "trade": {
           "type": "object",
           "title": "Trade",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Trade ID",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Trade name",
             "example": "09 - acoustical panels"
            },
            "active": {
             "type": "boolean",
             "description": "Trade availability",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Trade",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "sections": {
           "type": "array",
           "description": "Checklist Sections",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 21
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Framing"
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1
             },
             "items": {
              "type": "array",
              "description": "Checklist Items",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 2
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Framing has no visible defects"
                },
                "status": {
                 "type": "string",
                 "description": "Status",
                 "enum": [
                  "yes",
                  "no",
                  "n/a",
                  "none"
                 ],
                 "example": "n/a"
                },
                "section_id": {
                 "type": "integer",
                 "description": "Checklist Section ID",
                 "example": 21
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/checklist/list_templates/%7Bid%7D/use_alternative_response_set',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {project_id: 0, alternative_response_set_id: 1},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":0,\\\"alternative_response_set_id\\\":1}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/checklist/list_templates/%7Bid%7D/use_alternative_response_set\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/checklist/list_templates/%7Bid%7D/use_alternative_response_set \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":0,\"alternative_response_set_id\":1}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/checklist/list_templates/%7Bid%7D/use_alternative_response_set\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":0,\\\"alternative_response_set_id\\\":1}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Checklist Template Alternative Response Set endpoint is deprecated.",
      "description": "This endpoint is deprecated. `PATCH /rest/v1.0/projects/{project_id}/checklist/list_templates/{id}/use_alternative_response_set`\ncan be used as a replacement.\n\nLink to relevant documentation - [Add Alternative Response Set to Project Checklist Template](https://developers.procore.com/reference/rest/v1/project-checklist-templates?version=1.0#add-alternative-response-set-to-project-checklist-template)",
      "endpoint": "PATCH /checklist/list_templates/{id}/use_alternative_response_set",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2022-01-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklist-templates?version=1.0#add-checklist-template-alternative-response-set"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/checklist/list_templates/{id}/remove_alternative_response_set": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Checklist Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Remove Checklist Template Alternative Response Set",
    "description": "Removes a Checklist Template's Alternative Response Set, returning the template to the default Response Set",
    "x-deprecated-at": "2022-01-27",
    "deprecated": true,
    "tags": [
     "Checklists (Inspections)"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "project_id"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project."
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Checklist Template",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 142
          },
          "name": {
           "type": "string",
           "description": "Name",
           "example": "Window Inspection"
          },
          "description": {
           "type": "string",
           "description": "Description",
           "example": "Checklist for circular windows"
          },
          "company_description": {
           "type": "string",
           "description": "Company level inspection template description",
           "example": "Checklist for windows",
           "nullable": true
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of creation",
           "example": "2014-12-10T23:36:30Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of last update",
           "example": "2014-12-11T04:58:42Z"
          },
          "inspection_type": {
           "type": "object",
           "description": "Inspection Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Quality"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Inspection Type creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Inspection Type",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "alternative_response_set_id": {
           "type": "integer",
           "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
           "example": 1,
           "nullable": true
          },
          "response_set": {
           "title": "ChecklistAlternativeResponseSet",
           "type": "object",
           "properties": {
            "conforming_response": {
             "type": "string",
             "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
             "example": "Safe"
            },
            "deficient_response": {
             "type": "string",
             "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
             "example": "At Risk"
            },
            "global": {
             "type": "boolean",
             "description": "Represents whether a response set has been provided by Procore.",
             "example": true
            }
           }
          },
          "location": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "trade": {
           "type": "object",
           "title": "Trade",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Trade ID",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Trade name",
             "example": "09 - acoustical panels"
            },
            "active": {
             "type": "boolean",
             "description": "Trade availability",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Trade",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "sections": {
           "type": "array",
           "description": "Checklist Sections",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 21
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Framing"
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1
             },
             "items": {
              "type": "array",
              "description": "Checklist Items",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 2
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Framing has no visible defects"
                },
                "status": {
                 "type": "string",
                 "description": "Status",
                 "enum": [
                  "yes",
                  "no",
                  "n/a",
                  "none"
                 ],
                 "example": "n/a"
                },
                "section_id": {
                 "type": "integer",
                 "description": "Checklist Section ID",
                 "example": 21
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/checklist/list_templates/%7Bid%7D/remove_alternative_response_set',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {project_id: 0},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":0}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/checklist/list_templates/%7Bid%7D/remove_alternative_response_set\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/checklist/list_templates/%7Bid%7D/remove_alternative_response_set \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":0}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/checklist/list_templates/%7Bid%7D/remove_alternative_response_set\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":0}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Remove Checklist Template Alternative Response Set endpoint is deprecated.",
      "description": "This endpoint is deprecated. `PATCH /rest/v1.0/projects/{project_id}/checklist/list_templates/{id}/remove_alternative_response_set`\ncan be used as a replacement.\n\nLink to relevant documentation - [Remove Alternative Response Set from Project Checklist Template](https://developers.procore.com/reference/rest/v1/project-checklist-templates?version=1.0#remove-alternative-response-set-from-project-checklist-template)",
      "endpoint": "PATCH /checklist/list_templates/{id}/remove_alternative_response_set",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2022-01-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklist-templates?version=1.0#remove-checklist-template-alternative-response-set"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}