{
 "openapi": "3.0.0",
 "info": {
  "title": "Checklist Schedule Attachments",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Checklist Schedule Attachments",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/checklist/schedules/{schedule_id}/attachments": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "schedule_id",
     "in": "path",
     "description": "Checklist Schedule ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Checklist Schedule Attachments",
    "description": "Lists Checklist Schedule Attachments for given Project and Schedule",
    "tags": [
     "Checklist Schedule Attachments"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "title": "Checklist Schedule Attachment",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Attachment ID",
            "example": 6485
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of creation",
            "example": "2012-10-23T21:39:40Z"
           },
           "schedule_id": {
            "type": "integer",
            "description": "Checklist Schedule ID associated with attachment",
            "example": 6485
           },
           "attachment": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "File ID",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "contract.pdf"
             },
             "content_type": {
              "type": "string",
              "description": "A mime type or a file extension",
              "example": "application/pdf"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "Image Thumbnail URL",
              "example": "http://www.example.com/",
              "nullable": true
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com"
             },
             "filename": {
              "type": "string",
              "description": "Base name of the file without its path",
              "deprecated": true,
              "example": "contract.pdf"
             },
             "viewable_document_id": {
              "type": "integer",
              "description": "Viewable document ID",
              "example": 323
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Checklist Schedule Attachment list endpoint",
      "description": "Get a list of Checklist Schedule Attachments in a specified Project for a specific Schedule.",
      "endpoint": "GET /projects/{project_id}/checklist/schedules/{schedule_id}/attachments",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-09-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklist-schedule-attachments?version=1.0#list-checklist-schedule-attachments"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Checklist Schedule Attachment",
    "description": "Uploads an Attachment to the specified Checklist Schedule",
    "tags": [
     "Checklist Schedule Attachments"
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "title": "ChecklistScheduleAttachment",
        "type": "object",
        "required": [
         "attachment"
        ],
        "properties": {
         "attachment": {
          "type": "string",
          "format": "binary",
          "description": "Checklist Schedule Attachment. To upload an attachment you must upload the entire payload as `multipart/form-data` content-type and specify each parameter as form-data together with the `attachment` file."
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "Checklist Schedule Attachment",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Attachment ID",
           "example": 6485
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of creation",
           "example": "2012-10-23T21:39:40Z"
          },
          "schedule_id": {
           "type": "integer",
           "description": "Checklist Schedule ID associated with attachment",
           "example": 6485
          },
          "attachment": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "File ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Base name of the file without its path",
             "example": "contract.pdf"
            },
            "content_type": {
             "type": "string",
             "description": "A mime type or a file extension",
             "example": "application/pdf"
            },
            "thumbnail_url": {
             "type": "string",
             "description": "Image Thumbnail URL",
             "example": "http://www.example.com/",
             "nullable": true
            },
            "url": {
             "type": "string",
             "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
             "example": "https://storage.procore.com"
            },
            "filename": {
             "type": "string",
             "description": "Base name of the file without its path",
             "deprecated": true,
             "example": "contract.pdf"
            },
            "viewable_document_id": {
             "type": "integer",
             "description": "Viewable document ID",
             "example": 323
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'multipart/form-data; boundary=---011000010111000001101001'\n  },\n  formData: {attachment: 'string'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachment\\\"\\r\\n\\r\\nstring\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"multipart/form-data; boundary=---011000010111000001101001\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: multipart/form-data' \\\n  --form attachment=string"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"string\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachment\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Create Checklist Schedule Attachments endpoint",
      "description": "Bulk Create Checklist Schedule Attachments for a given Project",
      "endpoint": "POST /projects/{project_id}/checklist/schedules/{schedule_id}/attachments",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-09-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklist-schedule-attachments?version=1.0#create-checklist-schedule-attachment"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/checklist/schedules/{schedule_id}/attachments/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "schedule_id",
     "in": "path",
     "description": "Checklist Schedule ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Checklist Schedule Attachment ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Checklist Schedule Attachment",
    "description": "Delete the attachment pertaining to the Checklist Schedule Attachment",
    "tags": [
     "Checklist Schedule Attachments"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "properties": {
            "code": {
             "type": "integer",
             "format": "int32"
            },
            "message": {
             "type": "string"
            },
            "fields": {
             "type": "string"
            },
            "reason": {
             "description": "A human-readable code providing additional detail on the cause of the error.",
             "type": "string"
            },
            "error": {
             "description": "Description of the error thrown.",
             "type": "string",
             "example": "Invalid Token",
             "nullable": true
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "error": {
             "type": "object",
             "properties": {
              "code": {
               "type": "string",
               "description": "Error Code",
               "example": "BAD_REQUEST"
              },
              "message": {
               "type": "string",
               "description": "Error Message",
               "example": "Missing Project or Company ID"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/schedules/%7Bschedule_id%7D/attachments/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Destroy Checklist Schedule Attachment endpoint",
      "description": "Destroy a Checklist Schedule Attachment for a given Project",
      "endpoint": "DELETE /projects/{project_id}/checklist/schedules/{schedule_id}/attachments/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-09-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "checklist-schedule-attachments?version=1.0#delete-checklist-schedule-attachment"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}