{
 "openapi": "3.0.0",
 "info": {
  "title": "Commitment Change Orders",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Commitment Change Orders",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/commitment_change_orders": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show All Commitment Change Orders",
    "description": "Returns all Commitment Change Orders for the specified Project. This endpoint currently only supports projects using 1 and 2 tier change order configurations.",
    "tags": [
     "Commitment Change Orders"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies Which view (which attributes) of the resource is going to be present in the response. the extended view includes change events data, while the default view does not.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended"
       ]
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "id",
        "created_at"
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Filter results by Change Order ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[batch_id]",
      "in": "query",
      "description": "Filter results by Change Order Batch ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[legacy_package_id]",
      "in": "query",
      "description": "Filter results by legacy Change Order Package ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[contract_id]",
      "in": "query",
      "description": "Filter results by Contract ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Filter results by Contract Vendor ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[signature_required]",
      "in": "query",
      "description": "Filter results by signature_required",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[executed]",
      "in": "query",
      "description": "Filter results by executed",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Filter results by status",
      "schema": {
       "type": "string",
       "enum": [
        "draft",
        "pricing",
        "not_pricing",
        "pending",
        "revised",
        "proceeding",
        "not_proceeding",
        "pending_billable",
        "no_charge",
        "approved",
        "rejected",
        "void"
       ]
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) within a specific updated at iso8601 datetime range",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "default",
           "type": "object",
           "description": "Base Commitment Change Order",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Commitment Change Order ID",
             "example": 34219
            },
            "batch_id": {
             "type": "integer",
             "description": "Batch ID",
             "nullable": true,
             "example": 34219
            },
            "contract_id": {
             "type": "integer",
             "description": "Contract ID",
             "example": 45121
            },
            "legacy_package_id": {
             "type": "integer",
             "description": "Legacy Package ID",
             "nullable": true,
             "example": 34219
            },
            "legacy_request_id": {
             "type": "integer",
             "description": "Legacy Request ID",
             "nullable": true,
             "example": 34219
            },
            "location_id": {
             "type": "integer",
             "description": "Location ID",
             "nullable": true,
             "example": 34219
            },
            "description": {
             "description": "Description of the Commitment Change Order",
             "example": "<p>Change order description</p>",
             "nullable": true,
             "type": "string"
            },
            "title": {
             "description": "Title",
             "example": "ABC Commitment Change Order",
             "nullable": true,
             "type": "string"
            },
            "invoiced_date": {
             "format": "date",
             "description": "Invoiced date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "due_date": {
             "format": "date",
             "description": "Due date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "revised_substantial_completion_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Revised substantial completion date",
             "example": "2021-05-13"
            },
            "signed_change_order_received_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Signed change order received date",
             "example": "2016-10-23"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "example": "2016-10-26T21:43:40Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2017-08-14T21:39:40Z"
            },
            "reviewed_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Approved date",
             "example": "2022-10-26T21:43:40Z"
            },
            "review_notes": {
             "description": "Review notes",
             "example": "Review note",
             "nullable": true,
             "type": "string"
            },
            "executed": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order is executed",
             "example": true
            },
            "paid": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order is paid",
             "example": true
            },
            "paid_date": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the payment was made",
             "example": "2022-10-26T21:43:40Z"
            },
            "signature_required": {
             "type": "boolean",
             "description": "Whether or not a signature is required on the Commitment Change Order",
             "example": false
            },
            "private": {
             "type": "boolean",
             "description": "Only show this Contract to Admins and specific Accessors"
            },
            "field_change": {
             "type": "boolean",
             "description": "Field change"
            },
            "grand_total": {
             "type": "string",
             "description": "Total including markup",
             "example": "23474.0"
            },
            "schedule_impact_amount": {
             "type": "integer",
             "nullable": true,
             "description": "Schedule impact in days",
             "example": 5
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "H-38",
             "nullable": true
            },
            "type": {
             "type": "string",
             "description": "Type",
             "enum": [
              "CommitmentChangeOrder"
             ],
             "example": "CommitmentChangeOrder"
            },
            "revision": {
             "type": "integer",
             "description": "Revision number",
             "nullable": true,
             "example": 1
            },
            "status": {
             "type": "string",
             "description": "The status of the Commitment Change Order",
             "enum": [
              "draft",
              "pricing",
              "not_pricing",
              "pending",
              "revised",
              "proceeding",
              "not_proceeding",
              "pending_billable",
              "no_charge",
              "approved",
              "rejected",
              "void"
             ],
             "example": "draft"
            },
            "reference": {
             "type": "string",
             "nullable": true,
             "description": "Reference",
             "example": "Reference"
            },
            "created_by": {
             "type": "object",
             "description": "User that created the Commitment Change Order",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "designated_reviewer": {
             "type": "object",
             "description": "Commitment CO Designated Reviewer. This field is only supported for single-tier projects.",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "received_from": {
             "type": "object",
             "description": "Commitment CO Received From",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "reviewed_by": {
             "type": "object",
             "description": "Commitment CO Reviewed By",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "change_order_change_reason": {
             "type": "object",
             "description": "Change order change reason entity",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "nullable": true,
               "example": 161072
              },
              "change_reason": {
               "type": "string",
               "nullable": true,
               "example": "Change reason value"
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field",
                 "example": "custom field value"
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                 "example": "phone_number"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                 "example": "with_code"
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the LOV Entry",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "currency_configuration": {
             "type": "object",
             "allOf": [
              {
               "properties": {
                "base_currency_iso_code": {
                 "type": "string",
                 "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                 "example": "USD",
                 "nullable": true
                },
                "currency_iso_code": {
                 "type": "string",
                 "description": "Currency ISO Code configured for the financial entity",
                 "example": "EUR",
                 "nullable": true
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "currency_exchange_rate": {
                 "type": "string",
                 "pattern": "^\\d+\\.\\d+$",
                 "nullable": true,
                 "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                 "example": "1.5"
                }
               }
              }
             ]
            },
            "enable_ssov": {
             "type": "boolean",
             "description": "Whether SSOV is enabled on this Commitment Change Order",
             "example": false
            },
            "billing_schedule_of_values_status": {
             "type": "string",
             "description": "The SSOV workflow state for this Commitment Change Order",
             "enum": [
              "approved",
              "draft",
              "revise_and_resubmit",
              "under_review"
             ],
             "example": "draft"
            }
           }
          },
          {
           "title": "extended",
           "type": "object",
           "description": "Base Commitment Change Order Extended View",
           "properties": {
            "total_tax_amount": {
             "type": "string",
             "description": "Total tax on the change order, aggregated from its line-item tax details, in the contract's currency. Decimal encoded as a string.",
             "example": "150.0"
            },
            "change_events": {
             "type": "array",
             "description": "Change Events linked",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "number": {
                "type": "string",
                "example": "123"
               }
              }
             }
            },
            "external_data": {
             "type": "object",
             "description": "External Data",
             "properties": {
              "origin_id": {
               "type": "string",
               "nullable": true,
               "example": "123"
              },
              "origin_code": {
               "type": "string",
               "nullable": true,
               "example": "ABC"
              },
              "origin_data": {
               "type": "string",
               "nullable": true,
               "example": "ABC"
              }
             }
            },
            "contract": {
             "type": "object",
             "nullable": true,
             "description": "Contract associated with the change order",
             "properties": {
              "id": {
               "type": "integer",
               "example": 98765
              },
              "number": {
               "type": "string",
               "example": "C-00123"
              },
              "title": {
               "type": "string",
               "example": "Electrical Subcontract"
              },
              "type": {
               "type": "string",
               "example": "CommitmentContract"
              },
              "status": {
               "type": "string",
               "example": "Draft"
              },
              "vendor": {
               "type": "object",
               "nullable": true,
               "description": "Vendor contact for the contract (if any)",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 54321
                },
                "name": {
                 "type": "string",
                 "example": "Acme Electric Co."
                }
               }
              }
             }
            },
            "change_order_request": {
             "type": "object",
             "nullable": true,
             "description": "Change Order Request associated with this change order (three tiers only)",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Change Order Request ID",
               "example": 3284756
              },
              "title": {
               "type": "string",
               "nullable": true,
               "description": "Title",
               "example": "Concrete freezer slab"
              },
              "number": {
               "type": "string",
               "description": "Number",
               "example": "001"
              }
             }
            },
            "batch": {
             "type": "object",
             "nullable": true,
             "description": "Change Order Batch associated with this change order (Multi-Tier only)",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Batch ID",
               "example": 2372497
              },
              "title": {
               "type": "string",
               "description": "Batch title",
               "example": "Batch 1 - Site Prep"
              },
              "number": {
               "type": "string",
               "description": "Batch number",
               "example": "B-001"
              }
             }
            },
            "id": {
             "type": "integer",
             "description": "Commitment Change Order ID",
             "example": 34219
            },
            "batch_id": {
             "type": "integer",
             "description": "Batch ID",
             "nullable": true,
             "example": 34219
            },
            "contract_id": {
             "type": "integer",
             "description": "Contract ID",
             "example": 45121
            },
            "legacy_package_id": {
             "type": "integer",
             "description": "Legacy Package ID",
             "nullable": true,
             "example": 34219
            },
            "legacy_request_id": {
             "type": "integer",
             "description": "Legacy Request ID",
             "nullable": true,
             "example": 34219
            },
            "location_id": {
             "type": "integer",
             "description": "Location ID",
             "nullable": true,
             "example": 34219
            },
            "description": {
             "description": "Description of the Commitment Change Order",
             "example": "<p>Change order description</p>",
             "nullable": true,
             "type": "string"
            },
            "title": {
             "description": "Title",
             "example": "ABC Commitment Change Order",
             "nullable": true,
             "type": "string"
            },
            "invoiced_date": {
             "format": "date",
             "description": "Invoiced date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "due_date": {
             "format": "date",
             "description": "Due date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "revised_substantial_completion_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Revised substantial completion date",
             "example": "2021-05-13"
            },
            "signed_change_order_received_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Signed change order received date",
             "example": "2016-10-23"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "example": "2016-10-26T21:43:40Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2017-08-14T21:39:40Z"
            },
            "reviewed_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Approved date",
             "example": "2022-10-26T21:43:40Z"
            },
            "review_notes": {
             "description": "Review notes",
             "example": "Review note",
             "nullable": true,
             "type": "string"
            },
            "executed": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order is executed",
             "example": true
            },
            "paid": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order is paid",
             "example": true
            },
            "paid_date": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the payment was made",
             "example": "2022-10-26T21:43:40Z"
            },
            "signature_required": {
             "type": "boolean",
             "description": "Whether or not a signature is required on the Commitment Change Order",
             "example": false
            },
            "private": {
             "type": "boolean",
             "description": "Only show this Contract to Admins and specific Accessors"
            },
            "field_change": {
             "type": "boolean",
             "description": "Field change"
            },
            "grand_total": {
             "type": "string",
             "description": "Total including markup",
             "example": "23474.0"
            },
            "schedule_impact_amount": {
             "type": "integer",
             "nullable": true,
             "description": "Schedule impact in days",
             "example": 5
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "H-38",
             "nullable": true
            },
            "type": {
             "type": "string",
             "description": "Type",
             "enum": [
              "CommitmentChangeOrder"
             ],
             "example": "CommitmentChangeOrder"
            },
            "revision": {
             "type": "integer",
             "description": "Revision number",
             "nullable": true,
             "example": 1
            },
            "status": {
             "type": "string",
             "description": "The status of the Commitment Change Order",
             "enum": [
              "draft",
              "pricing",
              "not_pricing",
              "pending",
              "revised",
              "proceeding",
              "not_proceeding",
              "pending_billable",
              "no_charge",
              "approved",
              "rejected",
              "void"
             ],
             "example": "draft"
            },
            "reference": {
             "type": "string",
             "nullable": true,
             "description": "Reference",
             "example": "Reference"
            },
            "created_by": {
             "type": "object",
             "description": "User that created the Commitment Change Order",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "designated_reviewer": {
             "type": "object",
             "description": "Commitment CO Designated Reviewer. This field is only supported for single-tier projects.",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "received_from": {
             "type": "object",
             "description": "Commitment CO Received From",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "reviewed_by": {
             "type": "object",
             "description": "Commitment CO Reviewed By",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "change_order_change_reason": {
             "type": "object",
             "description": "Change order change reason entity",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "nullable": true,
               "example": 161072
              },
              "change_reason": {
               "type": "string",
               "nullable": true,
               "example": "Change reason value"
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field",
                 "example": "custom field value"
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                 "example": "phone_number"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                 "example": "with_code"
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the LOV Entry",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "currency_configuration": {
             "type": "object",
             "allOf": [
              {
               "properties": {
                "base_currency_iso_code": {
                 "type": "string",
                 "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                 "example": "USD",
                 "nullable": true
                },
                "currency_iso_code": {
                 "type": "string",
                 "description": "Currency ISO Code configured for the financial entity",
                 "example": "EUR",
                 "nullable": true
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "currency_exchange_rate": {
                 "type": "string",
                 "pattern": "^\\d+\\.\\d+$",
                 "nullable": true,
                 "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                 "example": "1.5"
                }
               }
              }
             ]
            },
            "enable_ssov": {
             "type": "boolean",
             "description": "Whether SSOV is enabled on this Commitment Change Order",
             "example": false
            },
            "billing_schedule_of_values_status": {
             "type": "string",
             "description": "The SSOV workflow state for this Commitment Change Order",
             "enum": [
              "approved",
              "draft",
              "revise_and_resubmit",
              "under_review"
             ],
             "example": "draft"
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_orders',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_INTEGER_VALUE',\n    'filters[batch_id]': 'SOME_INTEGER_VALUE',\n    'filters[legacy_package_id]': 'SOME_INTEGER_VALUE',\n    'filters[contract_id]': 'SOME_INTEGER_VALUE',\n    'filters[vendor_id]': 'SOME_INTEGER_VALUE',\n    'filters[signature_required]': 'SOME_BOOLEAN_VALUE',\n    'filters[executed]': 'SOME_BOOLEAN_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_orders?view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bid%5D=SOME_INTEGER_VALUE&filters%5Bbatch_id%5D=SOME_INTEGER_VALUE&filters%5Blegacy_package_id%5D=SOME_INTEGER_VALUE&filters%5Bcontract_id%5D=SOME_INTEGER_VALUE&filters%5Bvendor_id%5D=SOME_INTEGER_VALUE&filters%5Bsignature_required%5D=SOME_BOOLEAN_VALUE&filters%5Bexecuted%5D=SOME_BOOLEAN_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_orders?view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bid%5D=SOME_INTEGER_VALUE&filters%5Bbatch_id%5D=SOME_INTEGER_VALUE&filters%5Blegacy_package_id%5D=SOME_INTEGER_VALUE&filters%5Bcontract_id%5D=SOME_INTEGER_VALUE&filters%5Bvendor_id%5D=SOME_INTEGER_VALUE&filters%5Bsignature_required%5D=SOME_BOOLEAN_VALUE&filters%5Bexecuted%5D=SOME_BOOLEAN_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_orders?view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bid%5D=SOME_INTEGER_VALUE&filters%5Bbatch_id%5D=SOME_INTEGER_VALUE&filters%5Blegacy_package_id%5D=SOME_INTEGER_VALUE&filters%5Bcontract_id%5D=SOME_INTEGER_VALUE&filters%5Bvendor_id%5D=SOME_INTEGER_VALUE&filters%5Bsignature_required%5D=SOME_BOOLEAN_VALUE&filters%5Bexecuted%5D=SOME_BOOLEAN_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add currency_configuration field",
      "description": "Adds the \"currency_configuration.currency_iso_code\" string field",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-05-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Add reviewed_at field",
      "description": "Adds the \"reviewed_at\" date-time string field",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-07-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Move change_events field to the extended view",
      "description": "The change_events field is now included only when the extended view of the resource is requested by passing view=extended as a query parameter.",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2024-08-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Removed Attachments Data",
      "description": "The attachments field has been removed from the response payload.",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2024-09-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Added external_data object to response",
      "description": "Added the \"external_data\" object to the extended view response payload. This object contains the following fields: - origin_id: string - origin_code: string - origin_data: string",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Adds updated_at filter",
      "description": "Adds updated_at filter to the list endpoint",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Update currency_configuration field",
      "description": "Add \"currency_configuration.base_currency_iso_code\" and \"currency_configuration.currency_exchange_rate\" string fields",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-04-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Added vendor_id as a filter",
      "description": "Added the ability to filter by the contract's vendor ID by passing filters[vendor_id] as a query parameter.",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-05-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Added signature_required as a filter",
      "description": "Added the ability to filter by the signature_required field by passing filters[signature_required] as a query parameter.",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-06-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Added executed and status as filters",
      "description": "Added the ability to filter by the executed and status fields by passing filters[executed] and filters[status] as query parameters.",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-06-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Add enable_ssov and billing_schedule_of_values_status fields",
      "description": "Adds \"enable_ssov\" boolean field and \"billing_schedule_of_values_status\" string field to support Change Order SSOV toggles",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Add vendor_id filter",
      "description": "Adds support for filtering Commitment Change Orders by \"vendor_id\" (the vendor on the contract).",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     },
     {
      "summary": "Add total_tax_amount field",
      "description": "Adds the \"total_tax_amount\" decimal string field to the extended view",
      "endpoint": "GET /projects/{project_id}/commitment_change_orders",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-orders?version=1.0#show-all-commitment-change-orders"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Commitment Change Order",
    "description": "Create a new Commitment Change Order. This endpoint currently only supports projects using 1 and 2 tier change order configurations.",
    "tags": [
     "Commitment Change Orders"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "change_order"
        ],
        "properties": {
         "change_order": {
          "title": "Change Order",
          "type": "object",
          "description": "Change Order object",
          "required": [
           "contract_id"
          ],
          "properties": {
           "contract_id": {
            "type": "integer",
            "description": "Unique identifier for the contract.",
            "example": 512340
           },
           "batch_id": {
            "type": "integer",
            "description": "Unique identifier for a change order batch.",
            "example": 512340
           },
           "change_order_change_reason_id": {
            "type": "integer",
            "description": "Unique identifier for the change reason.",
            "example": 512340
           },
           "location_id": {
            "type": "integer",
            "description": "Unique identifier for the location.",
            "example": 512340
           },
           "designated_reviewer_id": {
            "type": "integer",
            "description": "Unique identifier for the designated reviewer. This field is only supported for single-tier projects. Behavior is undefined in multi-tier projects.",
            "example": 512340
           },
           "received_from_id": {
            "type": "integer",
            "description": "Unique identifier for the received from entity.",
            "example": 512340
           },
           "description": {
            "type": "string",
            "nullable": true,
            "description": "Description",
            "example": "New Building"
           },
           "due_date": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Due Date",
            "example": "2017-03-31"
           },
           "paid_date": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Paid Date",
            "example": "2017-03-31"
           },
           "invoiced_date": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Invoiced Date",
            "example": "2017-03-31"
           },
           "title": {
            "type": "string",
            "nullable": true,
            "description": "Title of the Contract",
            "example": "Station 3"
           },
           "status": {
            "type": "string",
            "description": "Status",
            "example": "draft"
           },
           "reference": {
            "type": "string",
            "nullable": true,
            "description": "Reference",
            "example": "Reference"
           },
           "number": {
            "type": "string",
            "nullable": true,
            "description": "Number of the Change Order",
            "example": "CO-1"
           },
           "revision": {
            "type": "integer",
            "description": "Revision Number",
            "example": 1
           },
           "field_change": {
            "type": "boolean",
            "nullable": true,
            "description": "Field Change",
            "example": "Field Change"
           },
           "signature_required": {
            "type": "boolean",
            "description": "Whether a signature will be required for this Change Order",
            "example": true
           },
           "signed_change_order_received_date": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Signed Change Order Received Date",
            "example": "2015-01-30"
           },
           "schedule_impact_amount": {
            "type": "integer",
            "nullable": true,
            "description": "Schedule impact in days",
            "example": 5
           },
           "executed": {
            "type": "boolean",
            "description": "Whether or not the Change Order is executed",
            "example": true
           },
           "private": {
            "type": "boolean",
            "description": "Whether or not the Commitment Change Order is private",
            "example": true
           },
           "paid": {
            "type": "boolean",
            "description": "Whether or not the Commitment Change Order is paid",
            "example": true
           },
           "reason": {
            "type": "string",
            "nullable": true,
            "description": "Reason for the change order",
            "example": "Material cost increase"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           },
           "enable_ssov": {
            "type": "boolean",
            "description": "Whether to enable SSOV on this Change Order. Only applicable to Commitment Change Orders.",
            "example": false
           },
           "revised_substantial_completion_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Revised substantial completion date, only supported for Prime Change Orders on single-tier projects.",
            "example": "2017-10-30"
           },
           "change_event_attachment_ids": {
            "type": "array",
            "description": "List of attachment IDs to attach. These must presently be associated with Change Events.",
            "items": {
             "type": "integer"
            },
            "example": [
             55,
             66,
             77
            ]
           },
           "request_for_quote_attachment_ids": {
            "type": "array",
            "description": "List of attachment IDs to attach. These must presently be associated with Request For Quotes (or their Quotes / Responses).",
            "items": {
             "type": "integer"
            },
            "example": [
             55,
             66,
             77
            ]
           },
           "attachment_ids": {
            "type": "array",
            "description": "Existing attachments to preserve on the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "default",
           "type": "object",
           "description": "Commitment Change Order",
           "properties": {
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "id": {
             "type": "integer",
             "description": "Commitment Change Order ID",
             "example": 34219
            },
            "batch_id": {
             "type": "integer",
             "description": "Batch ID",
             "nullable": true,
             "example": 34219
            },
            "contract_id": {
             "type": "integer",
             "description": "Contract ID",
             "example": 45121
            },
            "legacy_package_id": {
             "type": "integer",
             "description": "Legacy Package ID",
             "nullable": true,
             "example": 34219
            },
            "legacy_request_id": {
             "type": "integer",
             "description": "Legacy Request ID",
             "nullable": true,
             "example": 34219
            },
            "location_id": {
             "type": "integer",
             "description": "Location ID",
             "nullable": true,
             "example": 34219
            },
            "description": {
             "description": "Description of the Commitment Change Order",
             "example": "<p>Change order description</p>",
             "nullable": true,
             "type": "string"
            },
            "title": {
             "description": "Title",
             "example": "ABC Commitment Change Order",
             "nullable": true,
             "type": "string"
            },
            "invoiced_date": {
             "format": "date",
             "description": "Invoiced date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "due_date": {
             "format": "date",
             "description": "Due date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "revised_substantial_completion_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Revised substantial completion date",
             "example": "2021-05-13"
            },
            "signed_change_order_received_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Signed change order received date",
             "example": "2016-10-23"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "example": "2016-10-26T21:43:40Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2017-08-14T21:39:40Z"
            },
            "reviewed_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Approved date",
             "example": "2022-10-26T21:43:40Z"
            },
            "review_notes": {
             "description": "Review notes",
             "example": "Review note",
             "nullable": true,
             "type": "string"
            },
            "executed": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order is executed",
             "example": true
            },
            "paid": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order is paid",
             "example": true
            },
            "paid_date": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the payment was made",
             "example": "2022-10-26T21:43:40Z"
            },
            "signature_required": {
             "type": "boolean",
             "description": "Whether or not a signature is required on the Commitment Change Order",
             "example": false
            },
            "private": {
             "type": "boolean",
             "description": "Only show this Contract to Admins and specific Accessors"
            },
            "field_change": {
             "type": "boolean",
             "description": "Field change"
            },
            "grand_total": {
             "type": "string",
             "description": "Total including markup",
             "example": "23474.0"
            },
            "schedule_impact_amount": {
             "type": "integer",
             "nullable": true,
             "description": "Schedule impact in days",
             "example": 5
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "H-38",
             "nullable": true
            },
            "type": {
             "type": "string",
             "description": "Type",
             "enum": [
              "CommitmentChangeOrder"
             ],
             "example": "CommitmentChangeOrder"
            },
            "revision": {
             "type": "integer",
             "description": "Revision number",
             "nullable": true,
             "example": 1
            },
            "status": {
             "type": "string",
             "description": "The status of the Commitment Change Order",
             "enum": [
              "draft",
              "pricing",
              "not_pricing",
              "pending",
              "revised",
              "proceeding",
              "not_proceeding",
              "pending_billable",
              "no_charge",
              "approved",
              "rejected",
              "void"
             ],
             "example": "draft"
            },
            "reference": {
             "type": "string",
             "nullable": true,
             "description": "Reference",
             "example": "Reference"
            },
            "created_by": {
             "type": "object",
             "description": "User that created the Commitment Change Order",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "designated_reviewer": {
             "type": "object",
             "description": "Commitment CO Designated Reviewer. This field is only supported for single-tier projects.",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "received_from": {
             "type": "object",
             "description": "Commitment CO Received From",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "reviewed_by": {
             "type": "object",
             "description": "Commitment CO Reviewed By",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "change_order_change_reason": {
             "type": "object",
             "description": "Change order change reason entity",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "nullable": true,
               "example": 161072
              },
              "change_reason": {
               "type": "string",
               "nullable": true,
               "example": "Change reason value"
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field",
                 "example": "custom field value"
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                 "example": "phone_number"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                 "example": "with_code"
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the LOV Entry",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "currency_configuration": {
             "type": "object",
             "allOf": [
              {
               "properties": {
                "base_currency_iso_code": {
                 "type": "string",
                 "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                 "example": "USD",
                 "nullable": true
                },
                "currency_iso_code": {
                 "type": "string",
                 "description": "Currency ISO Code configured for the financial entity",
                 "example": "EUR",
                 "nullable": true
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "currency_exchange_rate": {
                 "type": "string",
                 "pattern": "^\\d+\\.\\d+$",
                 "nullable": true,
                 "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                 "example": "1.5"
                }
               }
              }
             ]
            },
            "enable_ssov": {
             "type": "boolean",
             "description": "Whether SSOV is enabled on this Commitment Change Order",
             "example": false
            },
            "billing_schedule_of_values_status": {
             "type": "string",
             "description": "The SSOV workflow state for this Commitment Change Order",
             "enum": [
              "approved",
              "draft",
              "revise_and_resubmit",
              "under_review"
             ],
             "example": "draft"
            }
           }
          },
          {
           "title": "extended",
           "type": "object",
           "description": "Commitment Change Order Extended View",
           "properties": {
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "total_tax_amount": {
             "type": "string",
             "description": "Total tax on the change order, aggregated from its line-item tax details, in the contract's currency. Decimal encoded as a string.",
             "example": "150.0"
            },
            "change_events": {
             "type": "array",
             "description": "Change Events linked",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "number": {
                "type": "string",
                "example": "123"
               }
              }
             }
            },
            "external_data": {
             "type": "object",
             "description": "External Data",
             "properties": {
              "origin_id": {
               "type": "string",
               "nullable": true,
               "example": "123"
              },
              "origin_code": {
               "type": "string",
               "nullable": true,
               "example": "ABC"
              },
              "origin_data": {
               "type": "string",
               "nullable": true,
               "example": "ABC"
              }
             }
            },
            "contract": {
             "type": "object",
             "nullable": true,
             "description": "Contract associated with the change order",
             "properties": {
              "id": {
               "type": "integer",
               "example": 98765
              },
              "number": {
               "type": "string",
               "example": "C-00123"
              },
              "title": {
               "type": "string",
               "example": "Electrical Subcontract"
              },
              "type": {
               "type": "string",
               "example": "CommitmentContract"
              },
              "status": {
               "type": "string",
               "example": "Draft"
              },
              "vendor": {
               "type": "object",
               "nullable": true,
               "description": "Vendor contact for the contract (if any)",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 54321
                },
                "name": {
                 "type": "string",
                 "example": "Acme Electric Co."
                }
               }
              }
             }
            },
            "change_order_request": {
             "type": "object",
             "nullable": true,
             "description": "Change Order Request associated with this change order (three tiers only)",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Change Order Request ID",
               "example": 3284756
              },
              "title": {
               "type": "string",
               "nullable": true,
               "description": "Title",
               "example": "Concrete freezer slab"
              },
              "number": {
               "type": "string",
               "description": "Number",
               "example": "001"
              }
             }
            },
            "batch": {
             "type": "object",
             "nullable": true,
             "description": "Change Order Batch associated with this change order (Multi-Tier only)",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Batch ID",
               "example": 2372497
              },
              "title": {
               "type": "string",
               "description": "Batch title",
               "example": "Batch 1 - Site Prep"
              },
              "number": {
               "type": "string",
               "description": "Batch number",
               "example": "B-001"
              }
             }
            },
            "id": {
             "type": "integer",
             "description": "Commitment Change Order ID",
             "example": 34219
            },
            "batch_id": {
             "type": "integer",
             "description": "Batch ID",
             "nullable": true,
             "example": 34219
            },
            "contract_id": {
             "type": "integer",
             "description": "Contract ID",
             "example": 45121
            },
            "legacy_package_id": {
             "type": "integer",
             "description": "Legacy Package ID",
             "nullable": true,
             "example": 34219
            },
            "legacy_request_id": {
             "type": "integer",
             "description": "Legacy Request ID",
             "nullable": true,
             "example": 34219
            },
            "location_id": {
             "type": "integer",
             "description": "Location ID",
             "nullable": true,
             "example": 34219
            },
            "description": {
             "description": "Description of the Commitment Change Order",
             "example": "<p>Change order description</p>",
             "nullable": true,
             "type": "string"
            },
            "title": {
             "description": "Title",
             "example": "ABC Commitment Change Order",
             "nullable": true,
             "type": "string"
            },
            "invoiced_date": {
             "format": "date",
             "description": "Invoiced date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "due_date": {
             "format": "date",
             "description": "Due date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "revised_substantial_completion_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Revised substantial completion date",
             "example": "2021-05-13"
            },
            "signed_change_order_received_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Signed change order received date",
             "example": "2016-10-23"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "example": "2016-10-26T21:43:40Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2017-08-14T21:39:40Z"
            },
            "reviewed_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Approved date",
             "example": "2022-10-26T21:43:40Z"
            },
            "review_notes": {
             "description": "Review notes",
             "example": "Review note",
             "nullable": true,
             "type": "string"
            },
            "executed": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order is executed",
             "example": true
            },
            "paid": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order is paid",
             "example": true
            },
            "paid_date": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the payment was made",
             "example": "2022-10-26T21:43:40Z"
            },
            "signature_required": {
             "type": "boolean",
             "description": "Whether or not a signature is required on the Commitment Change Order",
             "example": false
            },
            "private": {
             "type": "boolean",
             "description": "Only show this Contract to Admins and specific Accessors"
            },
            "field_change": {
             "type": "boolean",
             "description": "Field change"
            },
            "grand_total": {
             "type": "string",
             "description": "Total including markup",
             "example": "23474.0"
            },
            "schedule_impact_amount": {
             "type": "integer",
             "nullable": true,
             "description": "Schedule impact in days",
             "example": 5
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "H-38",
             "nullable": true
            },
            "type": {
             "type": "string",
             "description": "Type",
             "enum": [
              "CommitmentChangeOrder"
             ],
             "example": "CommitmentChangeOrder"
            },
            "revision": {
             "type": "integer",
             "description": "Revision number",
             "nullable": true,
             "example": 1
            },
            "status": {
             "type": "string",
             "description": "The status of the Commitment Change Order",
             "enum": [
              "draft",
              "pricing",
              "not_pricing",
              "pending",
              "revised",
              "proceeding",
              "not_proceeding",
              "pending_billable",
              "no_charge",
              "approved",
              "rejected",
              "void"
             ],
             "example": "draft"
            },
            "reference": {
             "type": "string",
             "nullable": true,
             "description": "Reference",
             "example": "Reference"
            },
            "created_by": {
             "type": "object",
             "description": "User that created the Commitment Change Order",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "designated_reviewer": {
             "type": "object",
             "description": "Commitment CO Designated Reviewer. This field is only supported for single-tier projects.",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "received_from": {
             "type": "object",
             "description": "Commitment CO Received From",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "reviewed_by": {
             "type": "object",
             "description": "Commitment CO Reviewed By",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "change_order_change_reason": {
             "type": "object",
             "description": "Change order change reason entity",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "nullable": true,
               "example": 161072
              },
              "change_reason": {
               "type": "string",
               "nullable": true,
               "example": "Change reason value"
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field",
                 "example": "custom field value"
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                 "example": "phone_number"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                 "example": "with_code"
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the LOV Entry",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "currency_configuration": {
             "type": "object",
             "allOf": [
              {
               "properties": {
                "base_currency_iso_code": {
                 "type": "string",
                 "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                 "example": "USD",
                 "nullable": true
                },
                "currency_iso_code": {
                 "type": "string",
                 "description": "Currency ISO Code configured for the financial entity",
                 "example": "EUR",
                 "nullable": true
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "currency_exchange_rate": {
                 "type": "string",
                 "pattern": "^\\d+\\.\\d+$",
                 "nullable": true,
                 "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                 "example": "1.5"
                }
               }
              }
             ]
            },
            "enable_ssov": {
             "type": "boolean",
             "description": "Whether SSOV is enabled on this Commitment Change Order",
             "example": false
            },
            "billing_schedule_of_values_status": {
             "type": "string",
             "description": "The SSOV workflow state for this Commitment Change Order",
             "enum": [
              "approved",
              "draft",
              "revise_and_resubmit",
              "under_review"
             ],
             "example": "draft"
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
[...]
