{
 "openapi": "3.0.0",
 "info": {
  "title": "Communications",
  "x-product-category": "Project Management",
  "x-tool-category": "Emails",
  "x-resource-name": "Communications",
  "version": "1.0",
  "x-product-lines": [
   "PM Starter Pack",
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/communications/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "query",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Communication ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Communication",
    "description": "Shows detailed information around a single email communication",
    "tags": [
     "Communications"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "initial_post": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID"
              },
              "subject": {
               "type": "string",
               "description": "Subject"
              },
              "email_sent_at": {
               "type": "string",
               "description": "Date email sent",
               "format": "date-time"
              }
             }
            },
            "communication_tags": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "my tag"
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "created_at": {
             "type": "string",
             "description": "Date created",
             "format": "date"
            },
            "private": {
             "type": "boolean",
             "description": "Private flag"
            },
            "closed": {
             "type": "boolean",
             "description": "Closed flag"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID"
            },
            "subject": {
             "type": "string",
             "description": "Subject"
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/communications/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/communications/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/communications/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/communications/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}