{
 "openapi": "3.0.0",
 "info": {
  "title": "Commitments",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Commitments",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/commitments": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Commitments",
    "description": "Returns a list of Commitments.",
    "x-deprecated-at": "2021-04-20",
    "deprecated": true,
    "tags": [
     "Commitments"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of commitments",
         "items": {
          "title": "Commitment",
          "type": "object",
          "properties": {
           "id": {
            "type": "number",
            "description": "Commitment ID",
            "example": 1
           },
           "title": {
            "type": "string",
            "description": "Title",
            "example": "ABC Owner Contract"
           },
           "number": {
            "type": "string",
            "description": "Number",
            "example": "A-1"
           },
           "status": {
            "type": "string",
            "enum": [
             "Draft",
             "Out For Bid",
             "Out For Signature",
             "Approved",
             "Complete",
             "Terminated",
             "Void"
            ],
            "description": "Status",
            "example": "Approved"
           },
           "description": {
            "type": "string",
            "description": "Description of the Prime Contract",
            "example": "<p>Owner Contract</p>"
           },
           "executed": {
            "type": "boolean",
            "description": "Executed status",
            "example": true
           },
           "delivery_date": {
            "type": "string",
            "format": "date",
            "description": "Delivery date",
            "example": "2014-02-15"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2014-01-01T21:55:10Z"
           },
           "private": {
            "type": "boolean",
            "description": "If true, visible to admins only; otherwise visible to those with access to the parent contract.",
            "example": true
           },
           "vendor": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "example": 161072
             },
             "name": {
              "type": "string",
              "example": "SID Architecture"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "User does not have correct permissions.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have correct permissions.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/commitments',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/commitments?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/commitments?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/commitments?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Commitments List is Deprecated",
      "description": "This endpoint deprecated. `/work_order_contracts` or `/purchase_order_contracts`\ncan be used as a replacement.",
      "endpoint": "GET /commitments",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2021-04-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitments?version=1.0#list-commitments"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/commitments/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show a Commitment Contract",
    "description": "Returns detailed information on a Commitment Contract.\n\n### Special notes (Tiers)\n\nThe visibility of Change Order Packages, Potential Change Orders & Change Order Requests\ndepends on the number of tiers defined in the Commitment Contract as follows:\n\n1-tier: Change Order Packages\n\n2-tier: Change Order Packages, Potential Change Orders\n\n3-tier: Change Order Packages, Change Order Requests, Potential Change Orders",
    "x-deprecated-at": "2021-04-20",
    "deprecated": true,
    "tags": [
     "Commitments"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Commitment",
         "type": "object",
         "properties": {
          "id": {
           "type": "number",
           "description": "Commitment ID",
           "example": 1
          },
          "title": {
           "type": "string",
           "description": "Title",
           "example": "ABC Owner Contract"
          },
          "number": {
           "type": "string",
           "description": "Number",
           "example": "A-1"
          },
          "status": {
           "type": "string",
           "enum": [
            "Draft",
            "Out For Bid",
            "Out For Signature",
            "Approved",
            "Complete",
            "Terminated",
            "Void"
           ],
           "description": "Status",
           "example": "Approved"
          },
          "description": {
           "type": "string",
           "description": "Description of the Prime Contract",
           "example": "<p>Owner Contract</p>"
          },
          "executed": {
           "type": "boolean",
           "description": "Executed status",
           "example": true
          },
          "delivery_date": {
           "type": "string",
           "format": "date",
           "description": "Delivery date",
           "example": "2014-02-15"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2014-01-01T21:55:10Z"
          },
          "private": {
           "type": "boolean",
           "description": "If true, visible to admins only; otherwise visible to those with access to the parent contract.",
           "example": true
          },
          "vendor": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "abbreviated_name": {
               "type": "string",
               "description": "Abbreviated name",
               "example": "PE",
               "nullable": true
              },
              "address": {
               "type": "string",
               "description": "Address",
               "example": "846 Dogglesworth Drive",
               "nullable": true
              },
              "authorized_bidder": {
               "type": "boolean",
               "description": "Authorized bidder status",
               "example": true
              },
              "business_phone": {
               "type": "string",
               "description": "Business phone",
               "example": "(800) 555-1234",
               "nullable": true
              },
              "city": {
               "type": "string",
               "description": "City",
               "example": "Jeffersonville",
               "nullable": true
              },
              "contact_count": {
               "type": "integer",
               "description": "Count of active Contacts associated with the vendor record.",
               "example": 5
              },
              "company": {
               "type": "string",
               "description": "Company",
               "example": "Stock Construction",
               "nullable": true
              },
              "country_code": {
               "type": "string",
               "description": "Country code (ISO-3166 Alpha-2 format)",
               "example": "US",
               "nullable": true
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2016-10-23T21:39:40Z",
               "nullable": true
              },
              "email_address": {
               "type": "string",
               "format": "email",
               "description": "Email address",
               "example": "joe-vendor@example.com",
               "nullable": true
              },
              "fax_number": {
               "type": "string",
               "description": "Fax number",
               "example": "(800) 555-5678",
               "nullable": true
              },
              "is_active": {
               "type": "boolean",
               "description": "Active status",
               "example": true
              },
              "labor_union": {
               "type": "string",
               "description": "Labor union",
               "example": "IWW 872",
               "nullable": true
              },
              "license_number": {
               "type": "string",
               "description": "License number",
               "example": "1901XYZ",
               "nullable": true
              },
              "logo": {
               "type": "string",
               "description": "Logo url",
               "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5JUTRRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
               "nullable": true
              },
              "mobile_phone": {
               "type": "string",
               "description": "Mobile phone",
               "example": "(800) 555-1234",
               "nullable": true
              },
              "non_union_prevailing_wage": {
               "type": "boolean",
               "description": "Non-union prevailing wage status",
               "example": false
              },
              "notes": {
               "type": "string",
               "description": "Notes",
               "example": "owned by a dog",
               "nullable": true
              },
              "origin_data": {
               "type": "string",
               "description": "Origin data",
               "example": "OD-2398273424",
               "nullable": true
              },
              "origin_id": {
               "type": "string",
               "description": "Origin unique identifiers",
               "example": "foobar",
               "nullable": true
              },
              "origin_code": {
               "type": "string",
               "description": "Origin Code",
               "example": "foobar",
               "nullable": true
              },
              "prequalified": {
               "type": "boolean",
               "description": "Prequalified status",
               "example": false
              },
              "state_code": {
               "type": "string",
               "description": "State code (ISO-3166 Alpha-2 format)",
               "example": "IN",
               "nullable": true
              },
              "synced_to_erp": {
               "type": "boolean",
               "description": "Synced to ERP",
               "example": false
              },
              "trade_name": {
               "type": "string",
               "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
               "example": "Woofer Electric"
              },
              "union_member": {
               "type": "boolean",
               "description": "Union member status",
               "example": false
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2016-10-23T21:39:40Z",
               "nullable": true
              },
              "website": {
               "type": "string",
               "description": "Website url",
               "example": "http://example-vendor.com",
               "nullable": true
              },
              "zip": {
               "type": "string",
               "description": "Zip code",
               "example": 47130,
               "nullable": true
              },
              "business_register": {
               "description": "business register",
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 321
                },
                "type": {
                 "type": "string",
                 "description": "business register type (ABN, EIN)",
                 "example": "abn"
                },
                "identifier": {
                 "type": "string",
                 "description": "Identification code",
                 "example": "51824753556"
                },
                "verified_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Verified at",
                 "example": "2018-06-11T15:56:25Z",
                 "nullable": true
                },
                "verification_status": {
                 "type": "string",
                 "description": "Verification status (active, cancelled, does_not_exist)",
                 "example": "active",
                 "enum": [
                  "active",
                  "cancelled",
                  "does_not_exist",
                  null
                 ],
                 "nullable": true
                }
               },
               "example": {
                "id": 321,
                "type": "abn",
                "identifier": "51824753556",
                "verified_at": "2018-06-11T15:56:25Z",
                "verification_status": "active"
               },
               "nullable": true
              },
              "vendor_group": {
               "type": "object",
               "required": [
                "name"
               ],
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 1
                },
                "name": {
                 "type": "string",
                 "maxLength": 255,
                 "example": "Otis Elevators"
                }
               },
               "example": {
                "id": 1,
                "name": "Otis Elevators"
               },
               "nullable": true
              },
              "primary_contact": {
               "type": "object",
               "description": "Primary contact",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 1306796
                },
                "first_name": {
                 "type": "string",
                 "description": "First name",
                 "example": "John"
                },
                "last_name": {
                 "type": "string",
                 "description": "Last name",
                 "example": "Doe"
                },
                "business_phone": {
                 "type": "string",
                 "description": "Business phone",
                 "nullable": true
                },
                "business_phone_extension": {
                 "type": "integer",
                 "description": "Business phone extension",
                 "nullable": true
                },
                "fax_number": {
                 "type": "string",
                 "description": "Fax number",
                 "nullable": true
                },
                "mobile_phone": {
                 "type": "string",
                 "description": "Mobile phone",
                 "nullable": true
                },
                "email_address": {
                 "type": "string",
                 "format": "email",
                 "description": "Email",
                 "example": "john.doe@example.com"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2016-10-23T21:39:40Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated at",
                 "example": "2016-10-23T21:39:40Z"
                }
               },
               "example": {
                "id": 1306796,
                "first_name": "John",
                "last_name": "Doe",
                "business_phone": "5555555555",
                "business_phone_extension": 123,
                "fax_number": "5555555555",
                "mobile_phone": "5555555555",
                "email_address": "john.doe@example.com",
                "created_at": "2016-10-23T21:39:40Z",
                "updated_at": "2016-10-23T21:39:40Z"
               },
               "nullable": true
              },
              "attachments": {
               "type": "array",
               "description": "Attachments",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 5324
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "january_receipt_copy.jpg"
                 }
                }
               }
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "children_count": {
               "type": "integer",
               "description": "Count of vendors whose parent_id is this vendor's unique identifier",
               "example": 0
              },
              "legal_name": {
               "type": "string",
               "description": "Name of the parent, if one exists. Otherwise same as name.",
               "example": "Stock Construction"
              },
              "parent": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string"
                }
               },
               "example": {
                "id": 634512,
                "name": "Poodle Electric Inc."
               },
               "nullable": true
              },
              "trades": {
               "type": "array",
               "description": "Trades",
               "items": {
                "type": "object",
                "title": "Trade",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Trade ID",
                  "example": 999
                 },
                 "name": {
                  "type": "string",
                  "description": "Trade name",
                  "example": "09 - acoustical panels"
                 },
                 "active": {
                  "type": "boolean",
                  "description": "Trade availability",
                  "example": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp of last update to Trade",
                  "example": "2016-08-01T23:33:54Z"
                 }
                }
               }
              },
              "bidding_distribution": {
               "type": "array",
               "description": "Bidding distribution list",
               "items": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               }
              },
              "bidding": {
               "type": "object",
               "description": "Bidding status",
               "properties": {
                "affirmative_action": {
                 "type": "boolean",
                 "example": true
                },
                "small_business": {
                 "type": "boolean",
                 "example": false
                },
                "african_american_business": {
                 "type": "boolean",
                 "example": false
                },
                "hispanic_business": {
                 "type": "boolean",
                 "example": false
                },
                "womens_business": {
                 "type": "boolean",
                 "example": false
                },
                "historically_underutilized_business": {
                 "type": "boolean",
                 "example": false
                },
                "sdvo_business": {
                 "type": "boolean",
                 "example": false
                },
                "certified_business_enterprise": {
                 "type": "boolean",
                 "example": false
                },
                "asian_american_business": {
                 "type": "boolean",
                 "example": false
                },
                "native_american_business": {
                 "type": "boolean",
                 "example": false
                },
                "disadvantaged_business": {
                 "type": "boolean",
                 "example": false
                },
                "minority_business_enterprise": {
                 "type": "boolean",
                 "example": true
                },
                "eight_a_business": {
                 "type": "boolean",
                 "example": false
                }
               },
               "example": {
                "affirmative_action": false,
                "small_business": false,
                "african_american_business": true,
                "hispanic_business": false,
                "womens_business": false,
                "historically_underutilized_business": false,
                "sdvo_business": false,
                "certified_business_enterprise": true,
                "asian_american_business": false,
                "native_american_business": true,
                "disadvantaged_business": false,
                "minority_business_enterprise": false,
                "eight_a_business": true
               },
               "nullable": true
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "project_ids": {
               "type": "array",
               "description": "Array of Project IDs",
               "items": {
                "type": "integer"
               }
              },
              "standard_cost_codes": {
               "type": "array",
               "items": {
                "title": "Standard Cost Code",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 12345
                 },
                 "standard_cost_code_list_id": {
                  "type": "integer",
                  "description": "Standard Cost Code List ID",
                  "example": 12345
                 },
                 "parent_id": {
                  "type": "integer",
                  "description": "Parent ID",
                  "example": 12345
                 },
                 "code": {
                  "type": "string",
                  "description": "Cost code, not including parent prefix",
                  "example": "300"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Description",
                  "example": "Site Work"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Origin data",
                  "example": "OD-2398273424"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "Origin ID",
                  "example": "ABC123"
                 }
                }
               }
              }
             }
            }
           ]
          },
          "accounting_method": {
           "type": "string",
           "enum": [
            "amount",
            "unit"
           ],
           "description": "Accounting method",
           "example": "amount"
          },
          "actual_completion_date": {
           "type": "string",
           "format": "date",
           "description": "Actual completion date",
           "example": "2015-12-31"
          },
          "allow_comments": {
           "type": "boolean",
           "description": "Allow comments status",
           "example": true
          },
          "allow_markups": {
           "type": "boolean",
           "description": "Allow markups status",
           "example": false
          },
          "allow_payment_applications": {
           "type": "boolean",
           "description": "Enable/Disable Payment Applications (Owner Invoices)",
           "example": true
          },
          "allow_payments": {
           "type": "boolean",
           "description": "Enable/Disable payments",
           "example": true
          },
          "allow_redistributions": {
           "type": "boolean",
           "description": "Deprecated - always false",
           "example": false
          },
          "approved_change_orders": {
           "type": "string",
           "description": "Approved change orders amount",
           "example": "3434.0"
          },
          "bill_to": {
           "type": "string",
           "description": "Bill to address",
           "example": "5000 Construction Street"
          },
          "budget_line_item_id": {
           "type": "integer",
           "description": "Budget line item ID",
           "example": 50123
          },
          "contract_estimated_completion_date": {
           "type": "string",
           "format": "date",
           "description": "Contract estimated completion date",
           "example": "2016-01-31"
          },
          "contract_start_date": {
           "type": "string",
           "format": "date",
           "description": "Contract start date",
           "example": "2014-01-31"
          },
          "contract_termination_date": {
           "type": "string",
           "format": "date",
           "description": "Contract termination date",
           "example": "2016-12-31"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Deleted at",
           "example": "2017-01-04T23:55:19Z"
          },
          "display_materials_retainage": {
           "type": "boolean",
           "description": "Display materials retainage status",
           "example": true
          },
          "display_stored_materials": {
           "type": "boolean",
           "description": "Enable/Disable stored materials",
           "example": false
          },
          "display_work_retainage": {
           "type": "boolean",
           "description": "Display work retainage",
           "example": true
          },
          "exclusions": {
           "type": "string",
           "description": "Exclusions",
           "example": "<p>Interior finishing</p>"
          },
          "grand_total": {
           "type": "string",
           "description": "Total of Line items including markup, plus project level (vertical) markup, if any",
           "example": "57750.0"
          },
          "inclusions": {
           "type": "string",
           "description": "Inclusions"
          },
          "line_items_extended_total": {
           "type": "string",
           "description": "Total of Line items including markup",
           "example": "55000.0"
          },
          "line_items_total": {
           "type": "string",
           "description": "Total of Line items without markup",
           "example": "50000.0"
          },
          "payment_terms": {
           "type": "string",
           "description": "Payment terms",
           "example": "Net 30"
          },
          "pending_change_orders": {
           "type": "string",
           "description": "Total of all pending and revised change orders",
           "example": "750.00"
          },
          "pending_revised_contract": {
           "type": "string",
           "description": "Revised contract amount, plus pending and revised change orders",
           "example": "750.00"
          },
          "percentage_paid": {
           "type": "string",
           "description": "Percentage paid",
           "example": "23.0"
          },
          "position": {
           "type": "integer",
           "description": "Position",
           "example": "2"
          },
          "remaining_balance_outstanding": {
           "type": "string",
           "description": "Revised contract amount minus total payments",
           "example": "750.00"
          },
          "requisition_number": {
           "type": "string",
           "description": "Requisition (Subcontractor Invoice) number",
           "example": "2011"
          },
          "retainage_percent": {
           "type": "string",
           "description": "Retainage percent",
           "example": "10"
          },
          "revised_contract": {
           "type": "string",
           "description": "Grand total, plus approved change orders",
           "example": "750.00"
          },
          "ship_to": {
           "type": "string",
           "description": "Ship to address",
           "example": "<p>5000 Construction Street</p>"
          },
          "ship_via": {
           "type": "string",
           "description": "Ship via",
           "example": "Your truck"
          },
          "signed_contract_received_date": {
           "type": "string",
           "format": "date",
           "description": "Signed contract received date",
           "example": "2014-02-15"
          },
          "total_payments": {
           "type": "string",
           "description": "Total payments",
           "example": "0.0"
          },
          "total_draw_requests_amount": {
           "type": "string",
           "description": "Total draw requests amount",
           "example": "0.0"
          },
          "type": {
           "type": "string",
           "enum": [
            "WorkOrderContract",
            "PurchaseOrderContract"
           ],
           "description": "Type",
           "example": "WorkOrderContract"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2016-01-04T23:55:19Z"
          },
          "architect": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "assigned_to": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "change_order_packages": {
           "type": "array",
           "description": "Change order packages",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 458661
             },
             "contract_id": {
              "type": "integer",
              "description": "Contract ID",
              "example": 64545
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at",
              "example": "2012-10-23T21:39:40Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Deleted at",
              "example": "2017-07-29T21:39:40Z"
             },
             "due_date": {
              "type": "string",
              "format": "date",
              "description": "Due date",
              "example": "2012-11-23"
             },
             "invoiced_date": {
              "type": "string",
              "format": "date",
              "description": "Invoiced date",
              "example": "2012-10-24"
             },
             "number": {
              "type": "string",
              "description": "Number",
              "example": "002"
             },
             "origin_data": {
              "type": "string",
              "description": "Origin data",
              "example": "OD-123654789"
             },
             "origin_id": {
              "type": "string",
              "description": "Origin ID",
              "example": "654987123"
             },
             "paid_date": {
              "type": "string",
              "format": "date",
              "description": "Paid date",
              "example": "2012-11-21"
             },
             "reviewed_at": {
              "type": "string",
              "format": "date-time",
              "description": "Reviewed at",
              "example": "2012-11-23T21:39:40Z"
             },
             "title": {
              "type": "string",
              "description": "Title",
              "example": "November Changes"
             },
             "status": {
              "type": "string",
              "description": "Status",
              "example": "approved",
              "enum": [
               "draft",
               "not_pricing",
               "pricing",
               "pending",
               "revised",
               "proceeding",
               "not_proceeding",
               "no_charge",
               "approved",
               "rejected",
               "void"
              ]
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated at",
              "example": "2012-11-23T21:39:40Z"
             }
            }
           }
          },
          "change_order_requests": {
           "type": "array",
           "description": "Change order requests (tiers > 2)",
           "items": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 3284756
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2016-10-23T21:39:40Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Deleted at",
               "example": "2017-07-29T21:39:40Z"
              },
              "due_date": {
               "type": "string",
               "format": "date",
               "description": "Due date",
               "example": "2016-11-23T21:39:40Z"
              },
              "invoiced_date": {
               "type": "string",
               "format": "date",
               "description": "Invoiced date",
               "example": "2017-08-22"
              },
              "number": {
               "type": "string",
               "description": "Number",
               "example": "B22"
              },
              "paid_date": {
               "type": "string",
               "format": "date",
               "description": "Paid date",
               "example": "2017-08-25"
              },
              "status": {
               "type": "string",
               "description": "Status",
               "example": "draft",
               "enum": [
                "draft",
                "not_pricing",
                "pricing",
                "pending",
                "revised",
                "proceeding",
                "not_proceeding",
                "no_charge",
                "approved",
                "rejected",
                "void"
               ]
              },
              "title": {
               "type": "string",
               "description": "Title",
               "example": "Concrete freezer slab"
              },
              "change_order_package_id": {
               "type": "integer",
               "description": "Change Order Package ID",
               "example": 2372497
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2016-10-25T21:39:40Z"
              }
             }
            }
           }
          },
          "contractor": {
           "allOf": [
            {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "abbreviated_name": {
               "type": "string",
               "description": "Abbreviated name",
               "example": "PE",
               "nullable": true
              },
              "address": {
               "type": "string",
               "description": "Address",
               "example": "846 Dogglesworth Drive",
               "nullable": true
              },
              "authorized_bidder": {
               "type": "boolean",
               "description": "Authorized bidder status",
               "example": true
              },
              "business_phone": {
               "type": "string",
               "description": "Business phone",
               "example": "(800) 555-1234",
               "nullable": true
              },
              "city": {
               "type": "string",
               "description": "City",
               "example": "Jeffersonville",
               "nullable": true
              },
              "contact_count": {
               "type": "integer",
               "description": "Count of active Contacts associated with the vendor record.",
               "example": 5
              },
              "company": {
               "type": "string",
               "description": "Company",
               "example": "Stock Construction",
               "nullable": true
              },
              "country_code": {
               "type": "string",
               "description": "Country code (ISO-3166 Alpha-2 format)",
               "example": "US",
               "nullable": true
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2016-10-23T21:39:40Z",
               "nullable": true
              },
              "email_address": {
               "type": "string",
               "format": "email",
               "description": "Email address",
               "example": "joe-vendor@example.com",
               "nullable": true
              },
              "fax_number": {
               "type": "string",
               "description": "Fax number",
               "example": "(800) 555-5678",
               "nullable": true
              },
              "is_active": {
               "type": "boolean",
               "description": "Active status",
               "example": true
              },
              "labor_union": {
               "type": "string",
               "description": "Labor union",
               "example": "IWW 872",
               "nullable": true
              },
              "license_number": {
               "type": "string",
               "description": "License number",
               "example": "1901XYZ",
               "nullable": true
              },
              "logo": {
               "type": "string",
               "description": "Logo url",
               "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5JUTRRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
               "nullable": true
              },
              "mobile_phone": {
               "type": "string",
               "description": "Mobile phone",
               "example": "(800) 555-1234",
               "nullable": true
              },
              "non_union_prevailing_wage": {
               "type": "boolean",
               "description": "Non-union prevailing wage status",
               "example": false
              },
              "notes": {
               "type": "string",
               "description": "Notes",
               "example": "owned by a dog",
               "nullable": true
              },
              "origin_data": {
               "type": "string",
               "description": "Origin data",
               "example": "OD-2398273424",
               "nullable": true
              },
              "origin_id": {
               "type": "string",
               "description": "Origin unique identifiers",
               "example": "foobar",
               "nullable": true
              },
              "origin_code": {
               "type": "string",
               "description": "Origin Code",
               "example": "foobar",
               "nullable": true
              },
              "prequalified": {
               "type": "boolean",
               "description": "Prequalified status",
               "example": false
              },
              "state_code": {
               "type": "string",
               "description": "State code (ISO-3166 Alpha-2 format)",
               "example": "IN",
               "nullable": true
              },
              "synced_to_erp": {
               "type": "boolean",
               "description": "Synced to ERP",
               "example": false
              },
              "trade_name": {
               "type": "string",
               "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
               "example": "Woofer Electric"
              },
              "union_member": {
               "type": "boolean",
               "description": "Union member status",
               "example": false
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2016-10-23T21:39:40Z",
               "nullable": true
              },
              "website": {
               "type": "string",
               "description": "Website url",
               "example": "http://example-vendor.com",
               "nullable": true
              },
              "zip": {
               "type": "string",
               "description": "Zip code",
               "example": 47130,
               "nullable": true
              },
              "business_register": {
               "description": "business register",
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 321
                },
                "type": {
                 "type": "string",
                 "description": "business register type (ABN, EIN)",
                 "example": "abn"
                },
                "identifier": {
                 "type": "string",
                 "description": "Identification code",
                 "example": "51824753556"
                },
                "verified_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Verified at",
                 "example": "2018-06-11T15:56:25Z",
                 "nullable": true
                },
                "verification_status": {
                 "type": "string",
                 "description": "Verification status (active, cancelled, does_not_exist)",
                 "example": "active",
                 "enum": [
                  "active",
                  "cancelled",
                  "does_not_exist",
                  null
                 ],
                 "nullable": true
                }
               },
               "example": {
                "id": 321,
                "type": "abn",
                "identifier": "51824753556",
                "verified_at": "2018-06-11T15:56:25Z",
                "verification_status": "active"
               },
               "nullable": true
              },
              "vendor_group": {
               "type": "object",
               "required": [
                "name"
               ],
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 1
                },
                "name": {
                 "type": "string",
                 "maxLength": 255,
                 "example": "Otis Elevators"
                }
               },
               "example": {
                "id": 1,
                "name": "Otis Elevators"
               },
               "nullable": true
              },
              "primary_contact": {
               "type": "object",
               "description": "Primary contact",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 1306796
                },
                "first_name": {
                 "type": "string",
                 "description": "First name",
                 "example": "John"
                },
                "last_name": {
                 "type": "string",
                 "description": "Last name",
                 "example": "Doe"
                },
                "business_phone": {
                 "type": "string",
                 "description": "Business phone",
                 "nullable": true
                },
                "business_phone_extension": {
                 "type": "integer",
                 "description": "Business phone extension",
                 "nullable": true
                },
                "fax_number": {
                 "type": "string",
                 "description": "Fax number",
                 "nullable": true
                },
                "mobile_phone": {
                 "type": "string",
                 "description": "Mobile phone",
                 "nullable": true
                },
                "email_address": {
                 "type": "string",
                 "format": "email",
                 "description": "Email",
                 "example": "john.doe@example.com"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2016-10-23T21:39:40Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated at",
                 "example": "2016-10-23T21:39:40Z"
                }
               },
               "example": {
                "id": 1306796,
                "first_name": "John",
                "last_name": "Doe",
                "business_phone": "5555555555",
                "business_phone_extension": 123,
                "fax_number": "5555555555",
                "mobile_phone": "5555555555",
                "email_address": "john.doe@example.com",
                "created_at": "2016-10-23T21:39:40Z",
                "updated_at": "2016-10-23T21:39:40Z"
               },
               "nullable": true
              },
              "attachments": {
               "type": "array",
               "description": "Attachments",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 5324
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "january_receipt_copy.jpg"
                 }
                }
               }
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "children_count": {
               "type": "integer",
               "description": "Count of vendors whose parent_id is this vendor's unique identifier",
               "example": 0
              },
              "legal_name": {
               "type": "string",
               "description": "Name of the parent, if one exists. Otherwise same as name.",
               "example": "Stock Construction"
              },
              "parent": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string"
                }
               },
               "example": {
                "id": 634512,
                "name": "Poodle Electric Inc."
               },
               "nullable": true
              },
              "trades": {
               "type": "array",
               "description": "Trades",
               "items": {
                "type": "object",
                "title": "Trade",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Trade ID",
                  "example": 999
                 },
                 "name": {
                  "type": "string",
                  "description": "Trade name",
                  "example": "09 - acoustical panels"
                 },
                 "active": {
                  "type": "boolean",
                  "description": "Trade availability",
                  "example": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp of last update to Trade",
                  "example": "2016-08-01T23:33:54Z"
                 }
                }
               }
              },
              "bidding_distribution": {
               "type": "array",
               "description": "Bidding distribution list",
               "items": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               }
              },
              "bidding": {
               "type": "object",
               "description": "Bidding status",
               "properties": {
                "affirmative_action": {
                 "type": "boolean",
                 "example": true
                },
                "small_business": {
                 "type": "boolean",
                 "example": false
                },
                "african_american_business": {
                 "type": "boolean",
                 "example": false
                },
                "hispanic_business": {
                 "type": "boolean",
                 "example": false
                },
                "womens_business": {
                 "type": "boolean",
                 "example": false
                },
                "historically_underutilized_business": {
                 "type": "boolean",
                 "example": false
                },
                "sdvo_business": {
                 "type": "boolean",
                 "example": false
                },
                "certified_business_enterprise": {
                 "type": "boolean",
                 "example": false
                },
                "asian_american_business": {
                 "type": "boolean",
                 "example": false
                },
                "native_american_business": {
                 "type": "boolean",
                 "example": false
                },
                "disadvantaged_business": {
                 "type": "boolean",
                 "example": false
                },
                "minority_business_enterprise": {
                 "type": "boolean",
                 "example": true
                },
                "eight_a_business": {
                 "type": "boolean",
                 "example": false
                }
               },
               "example": {
                "affirmative_action": false,
                "small_business": false,
                "african_american_business": true,
                "hispanic_business": false,
                "womens_business": false,
                "historically_underutilized_business": false,
                "sdvo_business": false,
                "certified_business_enterprise": true,
                "asian_american_business": false,
                "native_american_business": true,
                "disadvantaged_business": false,
                "minority_business_enterprise": false,
                "eight_a_business": true
               },
               "nullable": true
              }
             }
            },
            {
             "type": "object",
             "properties": {
              "project_ids": {
               "type": "array",
               "description": "Array of Project IDs",
               "items": {
                "type": "integer"
               }
              },
              "standard_cost_codes": {
               "type": "array",
               "items": {
                "title": "Standard Cost Code",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 12345
                 },
                 "standard_cost_code_list_id": {
                  "type": "integer",
                  "description": "Standard Cost Code List ID",
                  "example": 12345
                 },
                 "parent_id": {
                  "type": "integer",
                  "description": "Parent ID",
                  "example": 12345
                 },
                 "code": {
                  "type": "string",
                  "description": "Cost code, not including parent prefix",
                  "example": "300"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Description",
                  "example": "Site Work"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Origin data",
                  "example": "OD-2398273424"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "Origin ID",
                  "example": "ABC123"
                 }
                }
               }
              }
             }
            }
           ]
          },
          "cost_code": {
           "oneOf": [
            {
             "title": "compact",
             "type": "object",
             "properties": {
              "id": {
               "description": "ID",
               "example": 12345,
               "nullable": true,
               "type": "integer"
              },
              "full_code": {
               "type": "string",
               "description": "Full Cost code, including parent prefixes",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              }
             }
            },
            {
             "type": "object",
             "title": "extended",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for this Cost Code record.",
               "example": 12345
              },
              "biller": {
               "type": "string",
               "description": "Display name of the entity (project or sub job) that owns this cost code.",
               "example": "Campus"
              },
              "biller_id": {
               "type": "integer",
               "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
               "example": 12345
              },
              "biller_type": {
               "type": "string",
               "enum": [
                "Project",
                "SubJob"
               ],
               "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
               "example": "Project"
              },
              "biller_origin_id": {
               "type": "string",
               "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
               "example": "98765",
               "nullable": true
              },
              "budgeted": {
               "type": "boolean",
               "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
               "example": false
              },
              "code": {
               "type": "string",
               "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
               "example": "300"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when this cost code was created, in ISO 8601 format.",
               "example": "2015-05-15T00:00:00Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
               "example": "2017-07-29T21:39:40Z"
              },
              "full_code": {
               "type": "string",
               "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Display name of the cost code.",
               "example": "Earthwork"
              },
              "origin_data": {
               "type": "string",
               "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
               "example": "OD-129947"
              },
              "origin_id": {
               "type": "string",
               "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
               "example": "9874484"
              },
              "parent": {
               "type": "object",
               "description": "The immediate parent cost code of this record, if any.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                 "example": 2345
                }
               }
              },
              "position": {
               "type": "integer",
               "description": "Sort order of this cost code within its parent.",
               "example": 1
              },
              "sortable_code": {
               "type": "string",
               "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
               "example": "02-300"
              },
              "standard_cost_code_id": {
               "type": "integer",
               "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
               "example": 122334
              },
              "standard_cost_code_list_id": {
               "type": "integer",
               "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
               "example": 133445,
               "nullable": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
               "example": "2015-05-15T00:00:00Z"
              },
              "line_item_types": {
               "type": "array",
               "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
               "items": {
                "type": "object",
                "title": "LineItemType",
                "description": "A line item type assigned to this cost code.",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Line Item Type.",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the Line Item Type.",
                  "example": "Equipment"
                 },
                 "code": {
                  "type": "string",
                  "description": "Short code used for CSV import of this Line Item Type.",
                  "example": "LB"
                 },
                 "base_type": {
                  "type": "string",
                  "enum": [
                   "equipment",
                   "materials",
                   "commitment",
                   "owner_cost",
                   "professional_services",
                   "labor",
                   "other"
                  ],
                  "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                  "example": "materials"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                  "example": "ABC123",
                  "nullable": true
                 }
                }
               }
              }
             }
            }
           ]
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "line_items": {
           "type": "array",
           "description": "Line items",
           "items": {
            "type": "object",
            "description": "Line Item",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Line Item id",
              "example": 4896147
             },
             "amount": {
              "type": "string",
              "description": "Line Item amount",
              "example": "1000.0"
             },
             "company": {
              "type": "object",
              "description": "Company",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 163215
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Procore Tech"
               }
              }
             },
             "cost_code": {
              "oneOf": [
               {
                "title": "compact",
                "type": "object",
                "properties": {
                 "id": {
                  "description": "ID",
                  "example": 12345,
                  "nullable": true,
                  "type": "integer"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               {
                "type": "object",
                "title": "extended",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for this Cost Code record.",
                  "example": 12345
                 },
                 "biller": {
                  "type": "string",
                  "description": "Display name of the entity (project or sub job) that owns this cost code.",
                  "example": "Campus"
                 },
                 "biller_id": {
                  "type": "integer",
                  "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                  "example": 12345
                 },
                 "biller_type": {
                  "type": "string",
                  "enum": [
                   "Project",
                   "SubJob"
                  ],
                  "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                  "example": "Project"
                 },
                 "biller_origin_id": {
                  "type": "string",
                  "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                  "example": "98765",
                  "nullable": true
                 },
                 "budgeted": {
                  "type": "boolean",
                  "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                  "example": false
                 },
                 "code": {
                  "type": "string",
                  "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                  "example": "300"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                  "example": "2017-07-29T21:39:40Z"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the cost code.",
                  "example": "Earthwork"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                  "example": "OD-129947"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                  "example": "9874484"
                 },
                 "parent": {
                  "type": "object",
                  "description": "The immediate parent cost code of this record, if any.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                    "example": 2345
                   }
                  }
                 },
                 "position": {
                  "type": "integer",
                  "description": "Sort order of this cost code within its parent.",
                  "example": 1
                 },
                 "sortable_code": {
                  "type": "string",
                  "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                  "example": "02-300"
                 },
                 "standard_cost_code_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                  "example": 122334
                 },
                 "standard_cost_code_list_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                  "example": 133445,
                  "nullable": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "line_item_types": {
                  "type": "array",
                  "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                  "items": {
                   "type": "object",
                   "title": "LineItemType",
                   "description": "A line item type assigned to this cost code.",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique identifier for the Line Item Type.",
                     "example": 12345
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the Line Item Type.",
                     "example": "Equipment"
                    },
                    "code": {
                     "type": "string",
                     "description": "Short code used for CSV import of this Line Item Type.",
                     "example": "LB"
                    },
                    "base_type": {
                     "type": "string",
                     "enum": [
                      "equipment",
                      "materials",
                      "commitment",
                      "owner_cost",
                      "professional_services",
                      "labor",
                      "other"
                     ],
                     "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                     "example": "materials"
                    },
                    "origin_id": {
                     "type": "string",
                     "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                     "example": "ABC123",
                     "nullable": true
                    }
                   }
                  }
                 }
                }
               }
              ]
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created at date and time",
              "example": "2016-08-01T23:33:54Z"
             },
             "description": {
              "type": "string",
              "description": "Line Item description",
              "example": "Cleanup"
             },
             "extended_type": {
              "type": "string",
              "description": "Line Item extended type",
              "enum": [
               "manual",
               "calculated"
              ],
              "example": "calculated"
             },
             "holder": {
              "type": "object",
              "description": "Holder",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 233245
               },
               "holder_type": {
                "type": "string",
                "description": "Holder type",
                "example": "WorkOrderContract"
               }
              }
             },
             "line_item_type": {
              "type": "object",
              "title": "LineItemType",
              "description": "Line Item Type",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the Line Item Type",
                "example": 12345
               },
               "name": {
                "type": "string",
                "description": "Name for the Line Item Type",
                "example": "Equipment"
               },
               "code": {
                "type": "string",
                "description": "Code for the Line Item Type",
                "example": "LB"
               },
               "base_type": {
                "type": "string",
                "enum": [
                 "equipment",
                 "materials",
                 "commitment",
                 "owner_cost",
                 "professional_services",
                 "other"
                ],
                "description": "Base type",
                "example": "materials"
               },
               "origin_data": {
                "type": "string",
                "description": "Origin data",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "type": "string",
                "description": "Origin ID",
                "example": "ABC123",
                "nullable": true
               }
              }
             },
             "origin_data": {
              "type": "string",
              "description": "Line Item third party data",
              "example": "OD-39823232",
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "description": "Line Item third party id",
              "example": 239233,
              "nullable": true
             },
             "position": {
              "type": "integer",
              "description": "Line Item position",
              "example": 1
             },
             "project": {
              "type": "object",
              "description": "Project",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 123456
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Children's Hospital"
               }
              }
             },
             "quantity": {
              "type": "string",
              "format": "float",
              "description": "Line Item quantity",
              "example": "10.0"
             },
             "tax_code_id": {
              "type": "integer",
              "description": "Tax Code ID",
              "example": 1
             },
             "total_amount": {
              "type": "string",
              "format": "float",
              "description": "Line Item total amount",
              "example": "1000.0"
             },
             "extended_amount": {
              "type": "string",
              "format": "float",
              "description": "Line Item extended amount",
              "example": "900.0"
             },
             "unit_cost": {
              "type": "string",
              "format": "float",
              "description": "Line Item unit cost",
              "example": "100.0"
             },
             "uom": {
              "type": "string",
              "description": "Line Item units of measure",
              "example": "Lbs"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated at date and time",
              "example": "2016-09-01T21:33:54Z"
             },
             "change_event_line_item": {
              "type": "object",
              "description": "Change Event Line Item",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Change Event Line Item ID",
                "example": 5
               },
               "cost_rom": {
                "type": "string",
                "format": "float",
                "description": "Change Event Line Item Cost ROM",
                "example": "100.0"
               },
               "revenue_rom": {
                "type": "string",
                "format": "float",
                "description": "Change Event Line Item Revenue ROM",
                "example": "200.0"
               },
               "event_id": {
                "type": "integer",
                "description": "Change Event ID",
                "example": 6
               },
               "cost_code": {
                "oneOf": [
                 {
                  "title": "compact",
                  "type": "object",
                  "properties": {
                   "id": {
                    "description": "ID",
                    "example": 12345,
                    "nullable": true,
                    "type": "integer"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full Cost code, including parent prefixes",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Earthwork"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "title": "extended",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Unique identifier for this Cost Code record.",
                    "example": 12345
                   },
                   "biller": {
                    "type": "string",
                    "description": "Display name of the entity (project or sub job) that owns this cost code.",
                    "example": "Campus"
                   },
                   "biller_id": {
                    "type": "integer",
                    "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                    "example": 12345
                   },
                   "biller_type": {
                    "type": "string",
                    "enum": [
                     "Project",
                     "SubJob"
                    ],
                    "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                    "example": "Project"
                   },
                   "biller_origin_id": {
                    "type": "string",
                    "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                    "example": "98765",
                    "nullable": true
                   },
                   "budgeted": {
                    "type": "boolean",
                    "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                    "example": false
                   },
                   "code": {
                    "type": "string",
                    "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                    "example": "300"
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "deleted_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                    "example": "2017-07-29T21:39:40Z"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Display name of the cost code.",
                    "example": "Earthwork"
                   },
                   "origin_data": {
                    "type": "string",
                    "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                    "example": "OD-129947"
                   },
                   "origin_id": {
                    "type": "string",
                    "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                    "example": "9874484"
                   },
                   "parent": {
                    "type": "object",
                    "description": "The immediate parent cost code of this record, if any.",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                      "example": 2345
                     }
                    }
                   },
                   "position": {
                    "type": "integer",
                    "description": "Sort order of this cost code within its parent.",
                    "example": 1
                   },
                   "sortable_code": {
                    "type": "string",
                    "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                    "example": "02-300"
                   },
                   "standard_cost_code_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                    "example": 122334
                   },
                   "standard_cost_code_list_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                    "example": 133445,
                    "nullable": true
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "line_item_types": {
                    "type": "array",
                    "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                    "items": {
                     "type": "object",
                     "title": "LineItemType",
                     "description": "A line item type assigned to this cost code.",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "Unique identifier for the Line Item Type.",
                       "example": 12345
                      },
                      "name": {
                       "type": "string",
                       "description": "Display name of the Line Item Type.",
                       "example": "Equipment"
                      },
                      "code": {
                       "type": "string",
                       "description": "Short code used for CSV import of this Line Item Type.",
                       "example": "LB"
                      },
                      "base_type": {
                       "type": "string",
                       "enum": [
                        "equipment",
                        "materials",
                        "commitment",
                        "owner_cost",
                        "professional_services",
                        "labor",
                        "other"
                       ],
                       "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                       "example": "materials"
                      },
                      "origin_id": {
                       "type": "string",
                       "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                       "example": "ABC123",
                       "nullable": true
                      }
                     }
                    }
                   }
                  }
                 }
                ]
               },
               "line_item_type": {
                "type": "object",
                "title": "LineItemType",
                "description": "Line Item Type",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Line Item Type",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Name for the Line Item Type",
                  "example": "Equipment"
                 },
                 "code": {
                  "type": "string",
                  "description": "Code for the Line Item Type",
                  "example": "LB"
                 },
                 "base_type": {
                  "type": "string",
                  "enum": [
                   "equipment",
                   "materials",
                   "commitment",
                   "owner_cost",
                   "professional_services",
                   "other"
                  ],
                  "description": "Base type",
                  "example": "materials"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Origin data",
                  "example": "OD-2398273424"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "Origin ID",
                  "example": "ABC123",
                  "nullable": true
                 }
                }
               }
              }
             }
            }
[...]
