{
 "openapi": "3.0.0",
 "info": {
  "title": "Commitment Change Order Batches",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Commitment Change Order Batches",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/commitment_change_order_batches": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show All Commitment Change Order Batches",
    "description": "Returns all Commitment Change Order Batches for the specified Project.",
    "tags": [
     "Commitment Change Order Batches"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "id",
        "created_at"
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Filter results by Change Order Batch ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[change_order_id]",
      "in": "query",
      "description": "Filter results by Change Order ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[contract_id]",
      "in": "query",
      "description": "Filter results by Contract ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) within a specific updated at iso8601 datetime range",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Array of Status. Return item(s) with the specified status.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[status][not]",
      "in": "query",
      "description": "Array of Status. Return item(s) that does not have specified status.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "default",
           "type": "object",
           "description": "Base Commitment Change Order Batch",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Commitment Change Order Batch ID",
             "example": 34219
            },
            "contract_id": {
             "type": "integer",
             "description": "Contract ID",
             "example": 45121
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2017-08-14T21:39:40Z"
            },
            "description": {
             "description": "Description of the Commitment Change Order Batch",
             "example": "<p>Batch description</p>",
             "nullable": true,
             "type": "string"
            },
            "due_date": {
             "format": "date",
             "description": "Due date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "executed": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order Batch is executed",
             "example": true
            },
            "grand_total": {
             "type": "string",
             "description": "Total including markup",
             "example": "23474.0"
            },
            "invoiced_date": {
             "format": "date",
             "description": "Invoiced date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "H-38",
             "nullable": true
            },
            "paid_date": {
             "format": "date",
             "description": "Paid date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "private": {
             "type": "boolean",
             "description": "Only show this Contract to Admins and specific Accessors"
            },
            "review_notes": {
             "type": "string",
             "description": "Notes to assist the reviewer",
             "example": "Make sure Jon sees this before proceeding",
             "nullable": true
            },
            "reviewed_at": {
             "type": "string",
             "format": "date-time",
             "description": "Reviewed at",
             "example": "2016-10-24T15:42:33Z",
             "nullable": true
            },
            "revised_substantial_completion_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Revised substantial completion date",
             "example": "2021-05-13"
            },
            "revision": {
             "type": "integer",
             "description": "Revision number",
             "nullable": true,
             "example": 1
            },
            "schedule_impact_amount": {
             "type": "integer",
             "nullable": true,
             "description": "Schedule impact in days",
             "example": 5
            },
            "signature_required": {
             "type": "boolean",
             "description": "Whether or not a signature is required on the Commitment Change Order",
             "example": false
            },
            "signed_change_order_received_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Signed change order received date",
             "example": "2016-10-23"
            },
            "status": {
             "type": "string",
             "description": "The status of the Commitment Change Order",
             "example": "draft"
            },
            "title": {
             "description": "Title",
             "example": "ABC Commitment Change Order Batch",
             "nullable": true,
             "type": "string"
            },
            "type": {
             "type": "string",
             "description": "Type",
             "example": "Commitment"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "example": "2016-10-26T21:43:40Z"
            },
            "created_by": {
             "type": "object",
             "description": "User that created the Commitment Change Order Batcb",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "designated_reviewer": {
             "type": "object",
             "description": "Commitment CO Batch Designated Reviewer.",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "reviewed_by": {
             "type": "object",
             "description": "Commitment CO Reviewed By",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field",
                 "example": "custom field value"
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                 "example": "phone_number"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                 "example": "with_code"
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the LOV Entry",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "currency_configuration": {
             "properties": {
              "base_currency_iso_code": {
               "type": "string",
               "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
               "example": "USD",
               "nullable": true
              },
              "currency_iso_code": {
               "type": "string",
               "description": "Currency ISO Code configured for the financial entity",
               "example": "EUR",
               "nullable": true
              }
             }
            }
           }
          },
          {
           "title": "extended",
           "type": "object",
           "description": "Base Commitment Change Order Batch Extended View",
           "properties": {
            "total_tax_amount": {
             "type": "string",
             "description": "Total tax on the batch, aggregated from the line-item tax details of its change orders, in the contract's currency. Decimal encoded as a string.",
             "example": "150.0"
            },
            "external_data": {
             "type": "object",
             "description": "External Data",
             "properties": {
              "origin_id": {
               "type": "string",
               "nullable": true,
               "example": "123"
              },
              "origin_code": {
               "type": "string",
               "nullable": true,
               "example": "ABC"
              },
              "origin_data": {
               "type": "string",
               "nullable": true,
               "example": "ABC"
              }
             }
            },
            "contract": {
             "type": "object",
             "nullable": true,
             "description": "Contract associated with the change order batch",
             "properties": {
              "id": {
               "type": "integer",
               "example": 98765
              },
              "number": {
               "type": "string",
               "example": "C-00123"
              },
              "title": {
               "type": "string",
               "example": "Electrical Subcontract"
              },
              "type": {
               "type": "string",
               "example": "CommitmentContract"
              },
              "status": {
               "type": "string",
               "example": "Draft"
              },
              "vendor": {
               "type": "object",
               "nullable": true,
               "description": "Vendor contact for the contract (if any)",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 54321
                },
                "name": {
                 "type": "string",
                 "example": "Acme Electric Co."
                }
               }
              }
             }
            },
            "id": {
             "type": "integer",
             "description": "Commitment Change Order Batch ID",
             "example": 34219
            },
            "contract_id": {
             "type": "integer",
             "description": "Contract ID",
             "example": 45121
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2017-08-14T21:39:40Z"
            },
            "description": {
             "description": "Description of the Commitment Change Order Batch",
             "example": "<p>Batch description</p>",
             "nullable": true,
             "type": "string"
            },
            "due_date": {
             "format": "date",
             "description": "Due date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "executed": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order Batch is executed",
             "example": true
            },
            "grand_total": {
             "type": "string",
             "description": "Total including markup",
             "example": "23474.0"
            },
            "invoiced_date": {
             "format": "date",
             "description": "Invoiced date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "H-38",
             "nullable": true
            },
            "paid_date": {
             "format": "date",
             "description": "Paid date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "private": {
             "type": "boolean",
             "description": "Only show this Contract to Admins and specific Accessors"
            },
            "review_notes": {
             "type": "string",
             "description": "Notes to assist the reviewer",
             "example": "Make sure Jon sees this before proceeding",
             "nullable": true
            },
            "reviewed_at": {
             "type": "string",
             "format": "date-time",
             "description": "Reviewed at",
             "example": "2016-10-24T15:42:33Z",
             "nullable": true
            },
            "revised_substantial_completion_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Revised substantial completion date",
             "example": "2021-05-13"
            },
            "revision": {
             "type": "integer",
             "description": "Revision number",
             "nullable": true,
             "example": 1
            },
            "schedule_impact_amount": {
             "type": "integer",
             "nullable": true,
             "description": "Schedule impact in days",
             "example": 5
            },
            "signature_required": {
             "type": "boolean",
             "description": "Whether or not a signature is required on the Commitment Change Order",
             "example": false
            },
            "signed_change_order_received_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Signed change order received date",
             "example": "2016-10-23"
            },
            "status": {
             "type": "string",
             "description": "The status of the Commitment Change Order",
             "example": "draft"
            },
            "title": {
             "description": "Title",
             "example": "ABC Commitment Change Order Batch",
             "nullable": true,
             "type": "string"
            },
            "type": {
             "type": "string",
             "description": "Type",
             "example": "Commitment"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "example": "2016-10-26T21:43:40Z"
            },
            "created_by": {
             "type": "object",
             "description": "User that created the Commitment Change Order Batcb",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "designated_reviewer": {
             "type": "object",
             "description": "Commitment CO Batch Designated Reviewer.",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "reviewed_by": {
             "type": "object",
             "description": "Commitment CO Reviewed By",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field",
                 "example": "custom field value"
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                 "example": "phone_number"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                 "example": "with_code"
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the LOV Entry",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "currency_configuration": {
             "properties": {
              "base_currency_iso_code": {
               "type": "string",
               "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
               "example": "USD",
               "nullable": true
              },
              "currency_iso_code": {
               "type": "string",
               "description": "Currency ISO Code configured for the financial entity",
               "example": "EUR",
               "nullable": true
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message"
           ],
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP status code"
            },
            "message": {
             "type": "string",
             "description": "Error message description"
            },
            "details": {
             "type": "array",
             "description": "Additional information to convey how to fix the error",
             "items": {
              "type": "object",
              "required": [
               "code",
               "message"
              ],
              "properties": {
               "code": {
                "type": "string",
                "description": "One of the standard error codes. The code should describe the error type and not the source. Computer consumable."
               },
               "message": {
                "type": "string",
                "description": "Localized message describing the error in human consumable language."
               },
               "source": {
                "type": "string",
                "description": "Field or source of error. Computer consumable."
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message"
           ],
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP status code"
            },
            "message": {
             "type": "string",
             "description": "Error message description"
            },
            "details": {
             "type": "array",
             "description": "Additional information to convey how to fix the error",
             "items": {
              "type": "object",
              "required": [
               "code",
               "message"
              ],
              "properties": {
               "code": {
                "type": "string",
                "description": "One of the standard error codes. The code should describe the error type and not the source. Computer consumable."
               },
               "message": {
                "type": "string",
                "description": "Localized message describing the error in human consumable language."
               },
               "source": {
                "type": "string",
                "description": "Field or source of error. Computer consumable."
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message"
           ],
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP status code"
            },
            "message": {
             "type": "string",
             "description": "Error message description"
            },
            "details": {
             "type": "array",
             "description": "Additional information to convey how to fix the error",
             "items": {
              "type": "object",
              "required": [
               "code",
               "message"
              ],
              "properties": {
               "code": {
                "type": "string",
                "description": "One of the standard error codes. The code should describe the error type and not the source. Computer consumable."
               },
               "message": {
                "type": "string",
                "description": "Localized message describing the error in human consumable language."
               },
               "source": {
                "type": "string",
                "description": "Field or source of error. Computer consumable."
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_order_batches',\n  qs: {\n    sort: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_INTEGER_VALUE',\n    'filters[change_order_id]': 'SOME_INTEGER_VALUE',\n    'filters[contract_id]': 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_ARRAY_VALUE',\n    'filters[status][not]': 'SOME_ARRAY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_order_batches?sort=SOME_STRING_VALUE&filters%5Bid%5D=SOME_INTEGER_VALUE&filters%5Bchange_order_id%5D=SOME_INTEGER_VALUE&filters%5Bcontract_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D%5Bnot%5D=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_order_batches?sort=SOME_STRING_VALUE&filters%5Bid%5D=SOME_INTEGER_VALUE&filters%5Bchange_order_id%5D=SOME_INTEGER_VALUE&filters%5Bcontract_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D%5Bnot%5D=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_order_batches?sort=SOME_STRING_VALUE&filters%5Bid%5D=SOME_INTEGER_VALUE&filters%5Bchange_order_id%5D=SOME_INTEGER_VALUE&filters%5Bcontract_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D%5Bnot%5D=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add currency_configuration field",
      "description": "Adds the \"currency_configuration.currency_iso_code\" string field",
      "endpoint": "GET /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-05-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#show-all-commitment-change-order-batches"
     },
     {
      "summary": "Removed Attachments Data",
      "description": "The attachments field has been removed from the response payload.",
      "endpoint": "GET /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2024-09-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#show-all-commitment-change-order-batches"
     },
     {
      "summary": "Added external_data object to response",
      "description": "Added the \"external_data\" object to the extended view response payload. This object contains the following fields: - origin_id: string - origin_code: string - origin_data: string",
      "endpoint": "GET /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#show-all-commitment-change-order-batches"
     },
     {
      "summary": "Adds updated_at filter",
      "description": "Adds updated_at filter to the list endpoint",
      "endpoint": "GET /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#show-all-commitment-change-order-batches"
     },
     {
      "summary": "Update currency_configuration field",
      "description": "Add \"currency_configuration.base_currency_iso_code\" string field",
      "endpoint": "GET /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-04-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#show-all-commitment-change-order-batches"
     },
     {
      "summary": "Adds status and not in status filters",
      "description": "Adds status and not in status filters to the list endpoint.",
      "endpoint": "GET /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#show-all-commitment-change-order-batches"
     },
     {
      "summary": "Add executed and vendor_id filters",
      "description": "Adds support for filtering Commitment Change Order Batches by \"executed\" (boolean) and \"vendor_id\" (the vendor on the contract).",
      "endpoint": "GET /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#show-all-commitment-change-order-batches"
     },
     {
      "summary": "Add total_tax_amount field",
      "description": "Adds the \"total_tax_amount\" decimal string field to the extended view",
      "endpoint": "GET /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#show-all-commitment-change-order-batches"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Commitment Change Order Batch",
    "description": "Create a new Commitment Change Order Batch.",
    "tags": [
     "Commitment Change Order Batches"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "change_order_batch"
        ],
        "properties": {
         "change_order_batch": {
          "title": "Change Order Batch",
          "type": "object",
          "description": "Change Order Batch object",
          "required": [
           "contract_id"
          ],
          "properties": {
           "contract_id": {
            "type": "integer",
            "description": "Unique identifier for the contract.",
            "example": 512340
           },
           "description": {
            "type": "string",
            "nullable": true,
            "description": "Description",
            "example": "New Building"
           },
           "due_date": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Due Date",
            "example": "2017-03-31"
           },
           "executed": {
            "type": "boolean",
            "description": "Whether or not the Change Order Batch is executed",
            "example": true
           },
           "invoiced_date": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Invoiced Date",
            "example": "2017-03-31"
           },
           "number": {
            "type": "string",
            "nullable": true,
            "description": "Number of the Change Order Batch",
            "example": "COB-1"
           },
           "paid_date": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Paid Date",
            "example": "2017-03-31"
           },
           "private": {
            "type": "boolean",
            "description": "Whether or not the Change Order Batch is private",
            "example": true
           },
           "revised_substantial_completion_date": {
            "type": "string",
            "format": "date",
            "description": "Revised substantial completion date",
            "example": "2017-10-30"
           },
           "revision": {
            "type": "integer",
            "description": "Revision Number",
            "example": 1
           },
           "schedule_impact_amount": {
            "type": "integer",
            "nullable": true,
            "description": "Schedule impact in days",
            "example": 5
           },
           "signature_required": {
            "type": "boolean",
            "description": "Whether a signature will be required for this Change Order Batch",
            "example": true
           },
           "signed_change_order_received_date": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Signed Change Order Batch Received Date",
            "example": "2015-01-30"
           },
           "status": {
            "type": "string",
            "description": "Status",
            "example": "draft"
           },
           "title": {
            "type": "string",
            "nullable": true,
            "description": "Title of the Change Order Batch",
            "example": "Station 3"
           },
           "designated_reviewer_id": {
            "type": "integer",
            "description": "Unique identifier for the designated reviewer. This field is only supported for single-tier projects. Behavior is undefined in multi-tier projects.",
            "example": 512340
           },
           "change_order_ids": {
            "type": "array",
            "items": {
             "type": "integer"
            },
            "description": "Array of Change Order (PCO) IDs to link to this batch. This field is only supported for two-tier projects.",
            "example": [
             123,
             456,
             789
            ]
           },
           "legacy_request_ids": {
            "type": "array",
            "items": {
             "type": "integer"
            },
            "description": "Array of Change Order Request IDs to link to this batch. This field is only supported for three-tier projects.",
            "example": [
             123,
             456,
             789
            ]
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           },
           "change_event_attachment_ids": {
            "type": "array",
            "description": "List of attachment IDs to attach. These must presently be associated with Change Events.",
            "items": {
             "type": "integer"
            },
            "example": [
             55,
             66,
             77
            ]
           },
           "request_for_quote_attachment_ids": {
            "type": "array",
            "description": "List of attachment IDs to attach. These must presently be associated with Request For Quotes (or their Quotes / Responses).",
            "items": {
             "type": "integer"
            },
            "example": [
             55,
             66,
             77
            ]
           },
           "attachment_ids": {
            "type": "array",
            "description": "Existing attachments to preserve on the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "4120226e-36a8-416f-970e-880bae78164f",
             "de07e35a-4860-4f96-acd8-8360833dc495"
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "default",
         "type": "object",
         "description": "Base Commitment Change Order Batch",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Commitment Change Order Batch ID",
           "example": 34219
          },
          "contract_id": {
           "type": "integer",
           "description": "Contract ID",
           "example": 45121
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2017-08-14T21:39:40Z"
          },
          "description": {
           "description": "Description of the Commitment Change Order Batch",
           "example": "<p>Batch description</p>",
           "nullable": true,
           "type": "string"
          },
          "due_date": {
           "format": "date",
           "description": "Due date",
           "example": "2021-05-14",
           "nullable": true,
           "type": "string"
          },
          "executed": {
           "type": "boolean",
           "description": "Whether or not the Commitment Change Order Batch is executed",
           "example": true
          },
          "grand_total": {
           "type": "string",
           "description": "Total including markup",
           "example": "23474.0"
          },
          "invoiced_date": {
           "format": "date",
           "description": "Invoiced date",
           "example": "2021-05-14",
           "nullable": true,
           "type": "string"
          },
          "number": {
           "type": "string",
           "description": "Number",
           "example": "H-38",
           "nullable": true
          },
          "paid_date": {
           "format": "date",
           "description": "Paid date",
           "example": "2021-05-14",
           "nullable": true,
           "type": "string"
          },
          "private": {
           "type": "boolean",
           "description": "Only show this Contract to Admins and specific Accessors"
          },
          "review_notes": {
           "type": "string",
           "description": "Notes to assist the reviewer",
           "example": "Make sure Jon sees this before proceeding",
           "nullable": true
          },
          "reviewed_at": {
           "type": "string",
           "format": "date-time",
           "description": "Reviewed at",
           "example": "2016-10-24T15:42:33Z",
           "nullable": true
          },
          "revised_substantial_completion_date": {
           "type": "string",
           "format": "date",
           "nullable": true,
           "description": "Revised substantial completion date",
           "example": "2021-05-13"
          },
          "revision": {
           "type": "integer",
           "description": "Revision number",
           "nullable": true,
           "example": 1
          },
          "schedule_impact_amount": {
           "type": "integer",
           "nullable": true,
           "description": "Schedule impact in days",
           "example": 5
          },
          "signature_required": {
           "type": "boolean",
           "description": "Whether or not a signature is required on the Commitment Change Order",
           "example": false
          },
          "signed_change_order_received_date": {
           "type": "string",
           "format": "date",
           "nullable": true,
           "description": "Signed change order received date",
           "example": "2016-10-23"
          },
          "status": {
           "type": "string",
           "description": "The status of the Commitment Change Order",
           "example": "draft"
          },
          "title": {
           "description": "Title",
           "example": "ABC Commitment Change Order Batch",
           "nullable": true,
           "type": "string"
          },
          "type": {
           "type": "string",
           "description": "Type",
           "example": "Commitment"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "nullable": true,
           "example": "2016-10-26T21:43:40Z"
          },
          "created_by": {
           "type": "object",
           "description": "User that created the Commitment Change Order Batcb",
           "properties": {
            "id": {
             "type": "integer",
             "example": 161072
            },
            "name": {
             "type": "string",
             "nullable": true,
             "example": "Carl the Contractor"
            }
           }
          },
          "designated_reviewer": {
           "type": "object",
           "description": "Commitment CO Batch Designated Reviewer.",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "example": 161072
            },
            "name": {
             "type": "string",
             "nullable": true,
             "example": "Carl the Contractor"
            }
           }
          },
          "reviewed_by": {
           "type": "object",
           "description": "Commitment CO Reviewed By",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "example": 161072
            },
            "name": {
             "type": "string",
             "nullable": true,
             "example": "Carl the Contractor"
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "name": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "currency_configuration": {
           "properties": {
            "base_currency_iso_code": {
             "type": "string",
             "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
             "example": "USD",
             "nullable": true
            },
            "currency_iso_code": {
             "type": "string",
             "description": "Currency ISO Code configured for the financial entity",
             "example": "EUR",
             "nullable": true
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message"
           ],
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP status code"
            },
            "message": {
             "type": "string",
             "description": "Error message description"
            },
            "details": {
             "type": "array",
             "description": "Additional information to convey how to fix the error",
             "items": {
              "type": "object",
              "required": [
               "code",
               "message"
              ],
              "properties": {
               "code": {
                "type": "string",
                "description": "One of the standard error codes. The code should describe the error type and not the source. Computer consumable."
               },
               "message": {
                "type": "string",
                "description": "Localized message describing the error in human consumable language."
               },
               "source": {
                "type": "string",
                "description": "Field or source of error. Computer consumable."
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message"
           ],
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP status code"
            },
            "message": {
             "type": "string",
             "description": "Error message description"
            },
            "details": {
             "type": "array",
             "description": "Additional information to convey how to fix the error",
             "items": {
              "type": "object",
              "required": [
               "code",
               "message"
              ],
              "properties": {
               "code": {
                "type": "string",
                "description": "One of the standard error codes. The code should describe the error type and not the source. Computer consumable."
               },
               "message": {
                "type": "string",
                "description": "Localized message describing the error in human consumable language."
               },
               "source": {
                "type": "string",
                "description": "Field or source of error. Computer consumable."
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message"
           ],
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP status code"
            },
            "message": {
             "type": "string",
             "description": "Error message description"
            },
            "details": {
             "type": "array",
             "description": "Additional information to convey how to fix the error",
             "items": {
              "type": "object",
              "required": [
               "code",
               "message"
              ],
              "properties": {
               "code": {
                "type": "string",
                "description": "One of the standard error codes. The code should describe the error type and not the source. Computer consumable."
               },
               "message": {
                "type": "string",
                "description": "Localized message describing the error in human consumable language."
               },
               "source": {
                "type": "string",
                "description": "Field or source of error. Computer consumable."
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message"
           ],
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP status code"
            },
            "message": {
             "type": "string",
             "description": "Error message description"
            },
            "details": {
             "type": "array",
             "description": "Additional information to convey how to fix the error",
             "items": {
              "type": "object",
              "required": [
               "code",
               "message"
              ],
              "properties": {
               "code": {
                "type": "string",
                "description": "One of the standard error codes. The code should describe the error type and not the source. Computer consumable."
               },
               "message": {
                "type": "string",
                "description": "Localized message describing the error in human consumable language."
               },
               "source": {
                "type": "string",
                "description": "Field or source of error. Computer consumable."
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_order_batches',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    change_order_batch: {\n      contract_id: 512340,\n      description: 'New Building',\n      due_date: '2017-03-31',\n      executed: true,\n      invoiced_date: '2017-03-31',\n      number: 'COB-1',\n      paid_date: '2017-03-31',\n      private: true,\n      revised_substantial_completion_date: '2017-10-30',\n      revision: 1,\n      schedule_impact_amount: 5,\n      signature_required: true,\n      signed_change_order_received_date: '2015-01-30',\n      status: 'draft',\n      title: 'Station 3',\n      designated_reviewer_id: 512340,\n      change_order_ids: [123, 456, 789],\n      legacy_request_ids: [123, 456, 789],\n      'custom_field_%{custom_field_definition_id}': 'custom field value',\n      change_event_attachment_ids: [55, 66, 77],\n      request_for_quote_attachment_ids: [55, 66, 77],\n      attachment_ids: [6, 7],\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"change_order_batch\\\":{\\\"contract_id\\\":512340,\\\"description\\\":\\\"New Building\\\",\\\"due_date\\\":\\\"2017-03-31\\\",\\\"executed\\\":true,\\\"invoiced_date\\\":\\\"2017-03-31\\\",\\\"number\\\":\\\"COB-1\\\",\\\"paid_date\\\":\\\"2017-03-31\\\",\\\"private\\\":true,\\\"revised_substantial_completion_date\\\":\\\"2017-10-30\\\",\\\"revision\\\":1,\\\"schedule_impact_amount\\\":5,\\\"signature_required\\\":true,\\\"signed_change_order_received_date\\\":\\\"2015-01-30\\\",\\\"status\\\":\\\"draft\\\",\\\"title\\\":\\\"Station 3\\\",\\\"designated_reviewer_id\\\":512340,\\\"change_order_ids\\\":[123,456,789],\\\"legacy_request_ids\\\":[123,456,789],\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"change_event_attachment_ids\\\":[55,66,77],\\\"request_for_quote_attachment_ids\\\":[55,66,77],\\\"attachment_ids\\\":[6,7],\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_order_batches?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_order_batches?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"change_order_batch\":{\"contract_id\":512340,\"description\":\"New Building\",\"due_date\":\"2017-03-31\",\"executed\":true,\"invoiced_date\":\"2017-03-31\",\"number\":\"COB-1\",\"paid_date\":\"2017-03-31\",\"private\":true,\"revised_substantial_completion_date\":\"2017-10-30\",\"revision\":1,\"schedule_impact_amount\":5,\"signature_required\":true,\"signed_change_order_received_date\":\"2015-01-30\",\"status\":\"draft\",\"title\":\"Station 3\",\"designated_reviewer_id\":512340,\"change_order_ids\":[123,456,789],\"legacy_request_ids\":[123,456,789],\"custom_field_%{custom_field_definition_id}\":\"custom field value\",\"change_event_attachment_ids\":[55,66,77],\"request_for_quote_attachment_ids\":[55,66,77],\"attachment_ids\":[6,7],\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/commitment_change_order_batches?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"change_order_batch\\\":{\\\"contract_id\\\":512340,\\\"description\\\":\\\"New Building\\\",\\\"due_date\\\":\\\"2017-03-31\\\",\\\"executed\\\":true,\\\"invoiced_date\\\":\\\"2017-03-31\\\",\\\"number\\\":\\\"COB-1\\\",\\\"paid_date\\\":\\\"2017-03-31\\\",\\\"private\\\":true,\\\"revised_substantial_completion_date\\\":\\\"2017-10-30\\\",\\\"revision\\\":1,\\\"schedule_impact_amount\\\":5,\\\"signature_required\\\":true,\\\"signed_change_order_received_date\\\":\\\"2015-01-30\\\",\\\"status\\\":\\\"draft\\\",\\\"title\\\":\\\"Station 3\\\",\\\"designated_reviewer_id\\\":512340,\\\"change_order_ids\\\":[123,456,789],\\\"legacy_request_ids\\\":[123,456,789],\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"change_event_attachment_ids\\\":[55,66,77],\\\"request_for_quote_attachment_ids\\\":[55,66,77],\\\"attachment_ids\\\":[6,7],\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add currency_configuration field",
      "description": "Adds the \"currency_configuration.currency_iso_code\" string field",
      "endpoint": "POST /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-05-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#create-commitment-change-order-batch"
     },
     {
      "summary": "Reworked Attachment Logic",
      "description": "The attachment logic has been reworked. Previously, the request body accepted `prostore_file_ids`. Now you must provide one of the following argument arrays, depending on your type of upload object: `upload_ids`, `drawing_revision_ids`, `file_version_ids`, `form_ids`, or `image_ids`.",
      "endpoint": "POST /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2024-09-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#create-commitment-change-order-batch"
     },
     {
      "summary": "Added external_data object to response",
      "description": "Added the \"external_data\" object to the extended view response payload. This object contains the following fields: - origin_id: string - origin_code: string - origin_data: string",
      "endpoint": "POST /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#create-commitment-change-order-batch"
     },
     {
      "summary": "Update currency_configuration field",
      "description": "Add \"currency_configuration.base_currency_iso_code\" string field",
      "endpoint": "POST /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-04-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#create-commitment-change-order-batch"
     },
     {
      "summary": "Support attaching files from change events",
      "description": "A new request parameter `change_event_attachment_ids` supports attaching\nfiles which are presently attached to change events.",
      "endpoint": "POST /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-12-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#create-commitment-change-order-batch"
     },
     {
      "summary": "Add change_order_ids and legacy_request_ids parameters",
      "description": "Added support for linking Change Orders (PCOs) and Change Order Requests to batches:\n- `change_order_ids`: Array of PCO IDs to link. Only supported for two-tier projects.\n- `legacy_request_ids`: Array of Change Order Request IDs to link. Only supported for three-tier projects.",
      "endpoint": "POST /projects/{project_id}/commitment_change_order_batches",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-12-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#create-commitment-change-order-batch"
     },
     {
      "summary": "Support attaching files from request for quotes",
      "description": "A new request parameter `request_for_quote_attachment_ids` supports attaching\nfiles which are presently attached to request for quotes (or their quotes / responses).",
      "endpoint": "POST /projects/{project_id}/commitment_change_order_batches",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "commitment-change-order-batches?version=1.0#create-commitment-change-order-batch"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/commitment_change_order_batches/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the Commitment Change Order Batch",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Commitment Change Order Batch",
    "description": "Show the details of the Commitment Change Order Batch.",
    "tags": [
     "Commitment Change Order Batches"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "default",
           "type": "object",
           "description": "Base Commitment Change Order Batch",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Commitment Change Order Batch ID",
             "example": 34219
            },
            "contract_id": {
             "type": "integer",
             "description": "Contract ID",
             "example": 45121
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2017-08-14T21:39:40Z"
            },
            "description": {
             "description": "Description of the Commitment Change Order Batch",
             "example": "<p>Batch description</p>",
             "nullable": true,
             "type": "string"
            },
            "due_date": {
             "format": "date",
             "description": "Due date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "executed": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order Batch is executed",
             "example": true
            },
            "grand_total": {
             "type": "string",
             "description": "Total including markup",
             "example": "23474.0"
            },
            "invoiced_date": {
             "format": "date",
             "description": "Invoiced date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "H-38",
             "nullable": true
            },
            "paid_date": {
             "format": "date",
             "description": "Paid date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "private": {
             "type": "boolean",
             "description": "Only show this Contract to Admins and specific Accessors"
            },
            "review_notes": {
             "type": "string",
             "description": "Notes to assist the reviewer",
             "example": "Make sure Jon sees this before proceeding",
             "nullable": true
            },
            "reviewed_at": {
             "type": "string",
             "format": "date-time",
             "description": "Reviewed at",
             "example": "2016-10-24T15:42:33Z",
             "nullable": true
            },
            "revised_substantial_completion_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Revised substantial completion date",
             "example": "2021-05-13"
            },
            "revision": {
             "type": "integer",
             "description": "Revision number",
             "nullable": true,
             "example": 1
            },
            "schedule_impact_amount": {
             "type": "integer",
             "nullable": true,
             "description": "Schedule impact in days",
             "example": 5
            },
            "signature_required": {
             "type": "boolean",
             "description": "Whether or not a signature is required on the Commitment Change Order",
             "example": false
            },
            "signed_change_order_received_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Signed change order received date",
             "example": "2016-10-23"
            },
            "status": {
             "type": "string",
             "description": "The status of the Commitment Change Order",
             "example": "draft"
            },
            "title": {
             "description": "Title",
             "example": "ABC Commitment Change Order Batch",
             "nullable": true,
             "type": "string"
            },
            "type": {
             "type": "string",
             "description": "Type",
             "example": "Commitment"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "example": "2016-10-26T21:43:40Z"
            },
            "created_by": {
             "type": "object",
             "description": "User that created the Commitment Change Order Batcb",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "designated_reviewer": {
             "type": "object",
             "description": "Commitment CO Batch Designated Reviewer.",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "reviewed_by": {
             "type": "object",
             "description": "Commitment CO Reviewed By",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field",
                 "example": "custom field value"
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                 "example": "phone_number"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                },
                "variant": {
                 "type": "string",
                 "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                 "example": "with_code"
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "Data type of the Custom Field Definition",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the LOV Entry",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "currency_configuration": {
             "properties": {
              "base_currency_iso_code": {
               "type": "string",
               "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
               "example": "USD",
               "nullable": true
              },
              "currency_iso_code": {
               "type": "string",
               "description": "Currency ISO Code configured for the financial entity",
               "example": "EUR",
               "nullable": true
              }
             }
            }
           }
          },
          {
           "title": "extended",
           "type": "object",
           "description": "Base Commitment Change Order Batch Extended View",
           "properties": {
            "total_tax_amount": {
             "type": "string",
             "description": "Total tax on the batch, aggregated from the line-item tax details of its change orders, in the contract's currency. Decimal encoded as a string.",
             "example": "150.0"
            },
            "external_data": {
             "type": "object",
             "description": "External Data",
             "properties": {
              "origin_id": {
               "type": "string",
               "nullable": true,
               "example": "123"
              },
              "origin_code": {
               "type": "string",
               "nullable": true,
               "example": "ABC"
              },
              "origin_data": {
               "type": "string",
               "nullable": true,
               "example": "ABC"
              }
             }
            },
            "contract": {
             "type": "object",
             "nullable": true,
             "description": "Contract associated with the change order batch",
             "properties": {
              "id": {
               "type": "integer",
               "example": 98765
              },
              "number": {
               "type": "string",
               "example": "C-00123"
              },
              "title": {
               "type": "string",
               "example": "Electrical Subcontract"
              },
              "type": {
               "type": "string",
               "example": "CommitmentContract"
              },
              "status": {
               "type": "string",
               "example": "Draft"
              },
              "vendor": {
               "type": "object",
               "nullable": true,
               "description": "Vendor contact for the contract (if any)",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 54321
                },
                "name": {
                 "type": "string",
                 "example": "Acme Electric Co."
                }
               }
              }
             }
            },
            "id": {
             "type": "integer",
             "description": "Commitment Change Order Batch ID",
             "example": 34219
            },
            "contract_id": {
             "type": "integer",
             "description": "Contract ID",
             "example": 45121
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created at",
             "example": "2017-08-14T21:39:40Z"
            },
            "description": {
             "description": "Description of the Commitment Change Order Batch",
             "example": "<p>Batch description</p>",
             "nullable": true,
             "type": "string"
            },
            "due_date": {
             "format": "date",
             "description": "Due date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "executed": {
             "type": "boolean",
             "description": "Whether or not the Commitment Change Order Batch is executed",
             "example": true
            },
            "grand_total": {
             "type": "string",
             "description": "Total including markup",
             "example": "23474.0"
            },
            "invoiced_date": {
             "format": "date",
             "description": "Invoiced date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "H-38",
             "nullable": true
            },
            "paid_date": {
             "format": "date",
             "description": "Paid date",
             "example": "2021-05-14",
             "nullable": true,
             "type": "string"
            },
            "private": {
             "type": "boolean",
             "description": "Only show this Contract to Admins and specific Accessors"
            },
            "review_notes": {
             "type": "string",
             "description": "Notes to assist the reviewer",
             "example": "Make sure Jon sees this before proceeding",
             "nullable": true
            },
            "reviewed_at": {
             "type": "string",
             "format": "date-time",
             "description": "Reviewed at",
             "example": "2016-10-24T15:42:33Z",
             "nullable": true
            },
            "revised_substantial_completion_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Revised substantial completion date",
             "example": "2021-05-13"
            },
            "revision": {
             "type": "integer",
             "description": "Revision number",
             "nullable": true,
             "example": 1
            },
            "schedule_impact_amount": {
             "type": "integer",
             "nullable": true,
             "description": "Schedule impact in days",
             "example": 5
            },
            "signature_required": {
             "type": "boolean",
             "description": "Whether or not a signature is required on the Commitment Change Order",
             "example": false
            },
            "signed_change_order_received_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Signed change order received date",
             "example": "2016-10-23"
            },
            "status": {
             "type": "string",
             "description": "The status of the Commitment Change Order",
             "example": "draft"
            },
            "title": {
             "description": "Title",
             "example": "ABC Commitment Change Order Batch",
             "nullable": true,
             "type": "string"
            },
            "type": {
             "type": "string",
             "description": "Type",
             "example": "Commitment"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "example": "2016-10-26T21:43:40Z"
            },
            "created_by": {
             "type": "object",
             "description": "User that created the Commitment Change Order Batcb",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "designated_reviewer": {
             "type": "object",
             "description": "Commitment CO Batch Designated Reviewer.",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "reviewed_by": {
             "type": "object",
             "description": "Commitment CO Reviewed By",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "nullable": true,
               "example": "Carl the Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "name": {
[...]
