{
 "openapi": "3.1.0",
 "info": {
  "title": "Commitment Contracts",
  "x-tool-category": "Commitments",
  "x-product-category": "Construction Financials",
  "x-resource-name": "Commitment Contracts",
  "version": "2.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/commitment_contracts": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List Commitment Contracts",
    "description": "Returns a list of Commitment Contracts for a given project.",
    "tags": [
     "Commitments"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies which view (which attributes) of the resource is going to be present in the response. The extended view includes vendor name and custom fields data, while the default view does not.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended"
       ]
      }
     },
     {
      "name": "filters[include_deleted]",
      "in": "query",
      "description": "Use 'only' to return only deleted resources. Use 'with' to return deleted and undeleted resources.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "only",
        "with"
       ]
      }
     },
     {
      "name": "filters[accounting_method]",
      "in": "query",
      "description": "Filter to unit or amount based contracts",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "unit",
        "amount"
       ]
      }
     },
     {
      "name": "filters[type]",
      "in": "query",
      "description": "Filter based on what type of commitment contract it is.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "WorkOrderContract",
        "PurchaseOrderContract"
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Filter based on the created_at time.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "title": "exact",
         "format": "date-time"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "string",
          "format": "date-time"
         },
         "example": "[2020-01-01T00:00:00Z,2020-01-02T00:00:00Z,2020-01-03T00:00:00Z]"
        },
        {
         "type": "string",
         "title": "range",
         "example": "2020-01-01T00:00:00Z...2020-01-03T00:00:00Z"
        }
       ]
      }
     },
     {
      "name": "filters[deleted_at]",
      "in": "query",
      "description": "Filter based on the deleted_at time.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "title": "exact",
         "format": "date-time"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "string",
          "format": "date-time"
         },
         "example": "[2020-01-01T00:00:00Z,2020-01-02T00:00:00Z,2020-01-03T00:00:00Z]"
        },
        {
         "type": "string",
         "title": "range",
         "example": "2020-01-01T00:00:00Z...2020-01-03T00:00:00Z"
        }
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified ID(s).",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer",
         "title": "exact"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "integer"
         },
         "example": "[123,456,789]"
        }
       ]
      }
     },
     {
      "name": "filters[signature_required]",
      "in": "query",
      "description": "Filter based on whether a signature is required.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Filter to specific statuses.\nFor Work Order Contracts: Draft, Out For Bid, Out For Signature, Approved, Complete, Terminated, Void. \nFor Purchase Order Contracts: Draft, Processing, Submitted, Partially Received, Received, Approved, Closed.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "title": "exact"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "string"
         },
         "example": "[Draft,Approved]"
        }
       ]
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Filter based on the updated_at time.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "title": "exact",
         "format": "date-time"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "string",
          "format": "date-time"
         },
         "example": "[2020-01-01T00:00:00Z,2020-01-02T00:00:00Z,2020-01-03T00:00:00Z]"
        },
        {
         "type": "string",
         "title": "range",
         "example": "2020-01-01T00:00:00Z...2020-01-03T00:00:00Z"
        }
       ]
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor ID(s).",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer",
         "title": "exact"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "integer"
         },
         "example": "[123,456,789]"
        }
       ]
      }
     },
     {
      "name": "filters[executed]",
      "in": "query",
      "description": "Filter based on whether a contract is executed.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "oneOf": [
            {
             "type": "array",
             "title": "default",
             "description": "Array of commitment contracts",
             "items": {
              "title": "default",
              "type": "object",
              "description": "Commitment Contract (when the 'default' view is requested)",
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Commitment Contract ID",
                  "example": "123"
                 },
                 "type": {
                  "type": "string",
                  "enum": [
                   "WorkOrderContract",
                   "PurchaseOrderContract"
                  ],
                  "description": "Type of commitment contract",
                  "example": "WorkOrderContract"
                 },
                 "number": {
                  "type": "string",
                  "description": "Number",
                  "example": "ABC-456"
                 },
                 "payment_terms_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "UUID of the payment terms associated with the commitment contract. This field may be null when no payment terms are configured.\n",
                  "example": "123e4567-e89b-12d3-a456-426614174000"
                 },
                 "status": {
                  "type": "string",
                  "description": "Status",
                  "example": "Approved"
                 },
                 "executed": {
                  "type": "boolean",
                  "description": "Executed status",
                  "example": true
                 },
                 "title": {
                  "type": "string",
                  "description": "Title",
                  "example": "ABC Contract"
                 },
                 "description": {
                  "type": "string",
                  "description": "Description",
                  "example": "<p>Yep, do it.</p>"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at",
                  "example": "2016-08-04T13:44:10Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated at",
                  "example": "2016-08-05T19:36:12Z"
                 },
                 "grand_total": {
                  "type": "string",
                  "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                  "example": "-12345.6789",
                  "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                 },
                 "private": {
                  "type": "boolean",
                  "description": "When private, a contract is only visible to the creator and the assigned accessors.\n",
                  "example": false
                 },
                 "currency_configuration": {
                  "type": "object",
                  "allOf": [
                   {
                    "properties": {
                     "base_currency_iso_code": {
                      "type": "string",
                      "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                      "example": "USD",
                      "nullable": true
                     },
                     "currency_iso_code": {
                      "type": "string",
                      "description": "Currency ISO Code configured for the financial entity",
                      "example": "EUR",
                      "nullable": true
                     }
                    }
                   },
                   {
                    "type": "object",
                    "properties": {
                     "currency_exchange_rate": {
                      "type": "string",
                      "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                      "example": "-12345.6789",
                      "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n",
                      "nullable": true
                     }
                    }
                   }
                  ]
                 },
                 "created_by": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "User ID",
                    "example": "123"
                   },
                   "name": {
                    "type": "string",
                    "description": "User name",
                    "example": "Creator Name"
                   }
                  }
                 },
                 "accounting_method": {
                  "type": "string",
                  "enum": [
                   "amount",
                   "unit"
                  ],
                  "example": "amount"
                 },
                 "allow_comments": {
                  "type": "boolean",
                  "example": false
                 },
                 "allow_markups": {
                  "type": "boolean",
                  "example": true
                 },
                 "change_order_level_of_detail": {
                  "type": "string",
                  "enum": [
                   "change_order_package",
                   "change_order_request",
                   "potential_change_order",
                   "line_item"
                  ],
                  "example": "line_item"
                 },
                 "enable_ssov": {
                  "type": "boolean",
                  "example": true
                 },
                 "allow_change_orders_ssov": {
                  "type": "boolean",
                  "description": "If true, the subcontractor schedule of values (SSOV) can be enabled on change orders for this Commitment Contract.\n",
                  "example": false
                 },
                 "allow_payment_applications": {
                  "type": "boolean",
                  "example": true
                 },
                 "allow_payments": {
                  "type": "boolean",
                  "example": true
                 },
                 "retainage_percent": {
                  "type": "number",
                  "example": 5
                 },
                 "display_materials_retainage": {
                  "type": "boolean",
                  "example": true
                 },
                 "display_work_retainage": {
                  "type": "boolean",
                  "example": true
                 },
                 "show_cost_code_on_pdf": {
                  "type": "boolean",
                  "example": true
                 },
                 "ssr_enabled": {
                  "type": "boolean",
                  "example": true
                 },
                 "show_line_items_to_non_admins": {
                  "type": "boolean",
                  "example": false
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "vendor": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Vendor ID",
                    "example": "123"
                   }
                  }
                 }
                }
               }
              ]
             }
            },
            {
             "type": "array",
             "title": "extended",
             "description": "Array of commitment contracts",
             "items": {
              "title": "extended",
              "type": "object",
              "description": "Commitment Contract (when the 'extended' view is requested)",
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Commitment Contract ID",
                  "example": "123"
                 },
                 "type": {
                  "type": "string",
                  "enum": [
                   "WorkOrderContract",
                   "PurchaseOrderContract"
                  ],
                  "description": "Type of commitment contract",
                  "example": "WorkOrderContract"
                 },
                 "number": {
                  "type": "string",
                  "description": "Number",
                  "example": "ABC-456"
                 },
                 "payment_terms_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "UUID of the payment terms associated with the commitment contract. This field may be null when no payment terms are configured.\n",
                  "example": "123e4567-e89b-12d3-a456-426614174000"
                 },
                 "status": {
                  "type": "string",
                  "description": "Status",
                  "example": "Approved"
                 },
                 "executed": {
                  "type": "boolean",
                  "description": "Executed status",
                  "example": true
                 },
                 "title": {
                  "type": "string",
                  "description": "Title",
                  "example": "ABC Contract"
                 },
                 "description": {
                  "type": "string",
                  "description": "Description",
                  "example": "<p>Yep, do it.</p>"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at",
                  "example": "2016-08-04T13:44:10Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated at",
                  "example": "2016-08-05T19:36:12Z"
                 },
                 "grand_total": {
                  "type": "string",
                  "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                  "example": "-12345.6789",
                  "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                 },
                 "private": {
                  "type": "boolean",
                  "description": "When private, a contract is only visible to the creator and the assigned accessors.\n",
                  "example": false
                 },
                 "currency_configuration": {
                  "type": "object",
                  "allOf": [
                   {
                    "properties": {
                     "base_currency_iso_code": {
                      "type": "string",
                      "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                      "example": "USD",
                      "nullable": true
                     },
                     "currency_iso_code": {
                      "type": "string",
                      "description": "Currency ISO Code configured for the financial entity",
                      "example": "EUR",
                      "nullable": true
                     }
                    }
                   },
                   {
                    "type": "object",
                    "properties": {
                     "currency_exchange_rate": {
                      "type": "string",
                      "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                      "example": "-12345.6789",
                      "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n",
                      "nullable": true
                     }
                    }
                   }
                  ]
                 },
                 "created_by": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "User ID",
                    "example": "123"
                   },
                   "name": {
                    "type": "string",
                    "description": "User name",
                    "example": "Creator Name"
                   }
                  }
                 },
                 "accounting_method": {
                  "type": "string",
                  "enum": [
                   "amount",
                   "unit"
                  ],
                  "example": "amount"
                 },
                 "allow_comments": {
                  "type": "boolean",
                  "example": false
                 },
                 "allow_markups": {
                  "type": "boolean",
                  "example": true
                 },
                 "change_order_level_of_detail": {
                  "type": "string",
                  "enum": [
                   "change_order_package",
                   "change_order_request",
                   "potential_change_order",
                   "line_item"
                  ],
                  "example": "line_item"
                 },
                 "enable_ssov": {
                  "type": "boolean",
                  "example": true
                 },
                 "allow_change_orders_ssov": {
                  "type": "boolean",
                  "description": "If true, the subcontractor schedule of values (SSOV) can be enabled on change orders for this Commitment Contract.\n",
                  "example": false
                 },
                 "allow_payment_applications": {
                  "type": "boolean",
                  "example": true
                 },
                 "allow_payments": {
                  "type": "boolean",
                  "example": true
                 },
                 "retainage_percent": {
                  "type": "number",
                  "example": 5
                 },
                 "display_materials_retainage": {
                  "type": "boolean",
                  "example": true
                 },
                 "display_work_retainage": {
                  "type": "boolean",
                  "example": true
                 },
                 "show_cost_code_on_pdf": {
                  "type": "boolean",
                  "example": true
                 },
                 "ssr_enabled": {
                  "type": "boolean",
                  "example": true
                 },
                 "show_line_items_to_non_admins": {
                  "type": "boolean",
                  "example": false
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "custom_fields": {
                  "type": "object",
                  "properties": {
                   "custom_field_%{custom_field_string_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "string"
                     },
                     "value": {
                      "type": "string",
                      "description": "The value of the custom field.",
                      "example": "custom field value"
                     }
                    }
                   },
                   "custom_field_%{custom_field_decimal_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "decimal"
                     },
                     "value": {
                      "type": "number",
                      "description": "The value of the custom field.",
                      "example": 2.2
                     }
                    }
                   },
                   "custom_field_%{custom_field_boolean_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "boolean"
                     },
                     "value": {
                      "type": "boolean",
                      "description": "The value of the custom field.",
                      "example": true
                     }
                    }
                   },
                   "custom_field_%{custom_field_lov_entry_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "lov_entry"
                     },
                     "value": {
                      "type": "object",
                      "properties": {
                       "id": {
                        "type": "string",
                        "description": "The unique identifier of the list of values (LOV) entry.",
                        "example": "1"
                       },
                       "label": {
                        "type": "string",
                        "description": "Label of the list of values (LOV) entry.",
                        "example": "Open"
                       }
                      }
                     }
                    }
                   },
                   "custom_field_%{custom_field_lov_entries_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "lov_entries"
                     },
                     "value": {
                      "type": "array",
                      "items": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "string",
                         "description": "The unique identifier of the list of values (LOV) entry.",
                         "example": "2"
                        },
                        "label": {
                         "type": "string",
                         "description": "The label of the list of values (LOV) entry.",
                         "example": "Open"
                        }
                       }
                      }
                     }
                    }
                   }
                  }
                 },
                 "vendor": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Vendor ID",
                    "example": "123"
                   },
                   "name": {
                    "type": "string",
                    "description": "Vendor Name",
                    "example": "Smith"
                   }
                  }
                 },
                 "external_data": {
                  "type": "object",
                  "description": "External Data",
                  "properties": {
                   "origin_id": {
                    "type": "string",
                    "nullable": true,
                    "example": "123"
                   },
                   "origin_code": {
                    "type": "string",
                    "nullable": true,
                    "example": "ABC"
                   },
                   "origin_data": {
                    "type": "string",
                    "nullable": true,
                    "example": "ABC"
                   }
                  }
                 },
                 "total_tax_amount": {
                  "type": "string",
                  "description": "Total tax on the contract, aggregated from its line-item tax details, in the contract's currency. Reflects contract-level tax only (not change orders). Decimal encoded as a string.",
                  "example": "150.0"
                 },
                 "revised_contract_amount": {
                  "allOf": [
                   {
                    "type": "string",
                    "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                    "example": "-12345.6789",
                    "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                   }
                  ],
                  "description": "The original contract amount (grand_total) plus the sum of all approved change order amounts."
                 },
                 "approved_change_orders_amount": {
                  "allOf": [
                   {
                    "type": "string",
                    "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                    "example": "-12345.6789",
                    "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                   }
                  ],
                  "description": "The sum of the grand totals of all approved change orders against this contract."
                 }
                }
               }
              ]
             }
            },
            {
             "type": "array",
             "title": "ids_only",
             "description": "Array of commitment contracts",
             "items": {
              "title": "ids_only",
              "type": "object",
              "description": "Commitment Contract (when the 'ids_only' view is requested)",
              "properties": {
               "id": {
                "type": "string",
                "description": "Commitment Contract ID",
                "example": "123"
               }
              }
             }
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added external_data object to response",
      "description": "Added the \"external_data\" object to the extended view response payload. This object contains the following fields: - origin_id: string - origin_code: string - origin_data: string",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-31",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     },
     {
      "summary": "Added new filters options",
      "description": "Added the ability to filter on the following attributes:\n  - accounting_method\n  - type\n  - created_at\n  - deleted_at\n  - id\n  - signature_required\n  - status\n  - updated_at\n  - vendor_id",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-10",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     },
     {
      "summary": "Added retainage_percent field to response",
      "description": "Added retainage_percent field to response",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-09-30",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     },
     {
      "summary": "Added created_by name field to response",
      "description": "Added created_by name field to response",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-10-27",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     },
     {
      "summary": "Added ids_only view to the endpoint",
      "description": "Added the ids_only view to the endpoint. This view returns only the id field.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-11-23",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     },
     {
      "summary": "Added assignee object to extended view response",
      "description": "Added assignee object to extended view response, it contains the following fields: - id: string - name: string",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-11-23",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     },
     {
      "summary": "Added allow_change_orders_ssov field to response",
      "description": "Added \"allow_change_orders_ssov\" boolean field to response. Indicates whether SSOV can be enabled on this commitment's change orders.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-23",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     },
     {
      "summary": "Added revised_contract_amount and approved_change_orders_amount to extended view response",
      "description": "Added \"revised_contract_amount\" (the original contract amount, grand_total, plus the sum of all approved change orders) and \"approved_change_orders_amount\" (the sum of the grand totals of all approved change orders) decimal fields to the extended view response payload.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-09",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     },
     {
      "summary": "Added payment_terms_id field to response",
      "description": "Added \"payment_terms_id\" to the response payload for Commitment Contracts. This value is the identifier of the payment terms record and may be null.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-08-05",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     },
     {
      "summary": "Changed payment_terms_id values from integer identifiers to UUIDs",
      "description": "The \"payment_terms_id\" response field now returns the UUID of the associated payment terms record instead of its integer database ID.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/commitment_contracts",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2026-09-01",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "commitment-contracts?version=2.0#list-commitment-contracts"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Create Commitment Contract",
    "description": "Creates a new Commitment Contract for a given project.",
    "tags": [
     "Commitments"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies which view (which attributes) of the resource is going to be present in the response. The extended view includes vendor name and custom fields data, while the default view does not.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended"
       ]
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "type"
        ],
        "properties": {
         "type": {
          "type": "string",
          "description": "The type of the Commitment Contract.",
          "enum": [
           "WorkOrderContract",
           "PurchaseOrderContract"
          ],
          "example": "WorkOrderContract"
         },
         "number": {
          "type": "string",
          "description": "The Commitment Contract number. Defaults to the project numbering sequence for the respective contract type.\n",
          "example": "SC-001"
         },
         "status": {
          "type": "string",
          "description": "The Commitment Contract status.",
          "example": "Approved"
         },
         "title": {
          "type": "string",
          "description": "The Commitment Contract title.",
          "example": "ABC Contract"
         },
         "description": {
          "type": "string",
          "description": "The Commitment Contract description.",
          "example": "<p>Yep, do it.</p>"
         },
         "executed": {
          "type": "boolean",
          "description": "The Commitment Contract executed status.",
          "example": true,
          "default": false
         },
         "vendor_id": {
          "type": "string",
          "description": "The ID of the vendor for the contract. The selected invoice contacts must all belong to this vendor. When the vendor is changed, the invoice contacts are reset.\n",
          "example": "161072"
         },
         "assignee_id": {
          "type": "string",
          "description": "Only applicable to Purchase Order Contracts. The ID of the user assigned to the Commitment Contract. The user must belong to the project directory (see the Project Users endpoint).\n",
          "example": "123"
         },
         "signature_required": {
          "type": "boolean",
          "description": "If true, a signature is required to execute the contract; otherwise no signature is required.\n",
          "example": true,
          "default": false
         },
         "billing_schedule_of_values_status": {
          "type": "string",
          "description": "The subcontractor schedule of values (SSOV) status. Only applicable to contracts which use an SSOV.\n",
          "example": "approved"
         },
         "inclusions": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts. The inclusions of the Commitment Contract.\n",
          "example": "<p>Stairs, Elevator platform</p>"
         },
         "exclusions": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts. The exclusions of the Commitment Contract.\n",
          "example": "<p>Stairs, Elevator platform</p>"
         },
         "bill_to_address": {
          "type": "string",
          "description": "Only applicable to Purchase Order Contracts. The address to which invoices are sent. The default will be the bill to address of the most recently created purchase order.\n",
          "example": "123 Maine Street, Brunswick, ME 04011"
         },
         "ship_to_address": {
          "type": "string",
          "description": "Only applicable to Purchase Order Contracts. The address to which materials are shipped. The default will be the ship to address of the most recently created purchase order.\n",
          "example": "123 Maine Street, Brunswick, ME 04011"
         },
         "ship_via": {
          "type": "string",
          "description": "Only applicable to Purchase Order Contracts. The shipping method for the Commitment Contract.\n",
          "example": "UPS"
         },
         "payment_terms": {
          "type": "string",
          "description": "Only applicable to Purchase Order Contracts. The payment terms for the Commitment Contract.\n",
          "example": "Net 30"
         },
         "payment_terms_id": {
          "type": "string",
          "description": "UUID of the payment terms record to associate with this Commitment Contract.\n",
          "example": "123e4567-e89b-12d3-a456-426614174000"
         },
         "retainage_percent": {
          "type": "string",
          "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
          "example": "-12345.6789",
          "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
         },
         "accounting_method": {
          "type": "string",
          "description": "The accounting method for the contract. Default is driven by a project setting.\n",
          "example": "amount",
          "enum": [
           "amount",
           "unit"
          ]
         },
         "allow_comments": {
          "type": "boolean",
          "description": "If true, comments are allowed on the Commitment Contract; otherwise comments are not allowed. Default is driven by a project setting.\n",
          "example": true
         },
         "allow_markups": {
          "type": "boolean",
          "description": "If true, markups are allowed on the Commitment Contract; otherwise markups are not allowed. Default is driven by a project setting.\n",
          "example": false
         },
         "change_order_level_of_detail": {
          "type": "string",
          "enum": [
           "change_order_package",
           "change_order_request",
           "potential_change_order",
           "line_item"
          ],
          "description": "The level of details for showing change orders on invoices attached to this contract.\n",
          "example": "line_item"
         },
         "enable_ssov": {
          "type": "boolean",
          "description": "If true, the subcontractor schedule of values (SSOV) is enabled for the Commitment Contract; otherwise the SSOV is not enabled. Default is driven by a project setting.\n",
          "example": true
         },
         "allow_change_orders_ssov": {
          "type": "boolean",
          "description": "If true, the subcontractor schedule of values (SSOV) can be enabled on change orders for this Commitment Contract. When enabled, Change Order SSOV toggles become available. Default is false.\n",
          "example": false,
          "default": false
         },
         "allow_payment_applications": {
          "type": "boolean",
          "description": "If true, invoices are allowed on the Commitment Contract; otherwise invoices are not allowed. Default is driven by a project setting.\n",
          "example": true
         },
         "allow_payments": {
          "type": "boolean",
          "description": "If true, payments are allowed on the Commitment Contract; otherwise payments are not allowed. Default is driven by a project setting.\n",
          "example": true
         },
         "display_materials_retainage": {
          "type": "boolean",
          "description": "If true, materials retainage is displayed on the Commitment Contract; otherwise materials retainage is not displayed. Default is driven by a project setting.\n",
          "example": true
         },
         "display_work_retainage": {
          "type": "boolean",
          "description": "If true, work retainage is displayed on the Commitment Contract; otherwise work retainage is not displayed. Default is driven by a project setting.\n",
          "example": true
         },
         "show_cost_code_on_pdf": {
          "type": "boolean",
          "description": "If true, cost codes are displayed on the Commitment Contract PDF; otherwise cost codes are not displayed. Default is driven by a project setting.\n",
          "example": true
         },
         "ssr_enabled": {
          "type": "boolean",
          "description": "If true, the sliding scale retention is enabled for the Commitment Contract. Default is driven by a project setting.\n",
          "example": true
         },
         "bill_recipient_ids": {
          "type": "array",
          "description": "IDs of users in the project directory (see the Project Users endpoint). These users must belong to the selected vendor and are the invoice contacts for submitting subcontractor invoices. To grant access to view the contract, these users must also be added as accessors.\n",
          "items": {
           "type": "string",
           "example": "123"
          },
          "example": [
           "123",
           "456"
          ]
         },
         "private": {
          "type": "boolean",
          "description": "If true, visible to admins and accessors only; otherwise visible to those with access to the commitments tool. Default based on project level setting.\n",
          "example": true,
          "default": true
         },
         "show_line_items_to_non_admins": {
          "type": "boolean",
          "description": "Only applicable to private contracts. If true, line items are visible to non-admins; otherwise visible to admins only.\n",
          "example": true,
          "default": false
         },
         "accessor_ids": {
          "type": "array",
          "description": "Only applicable to private contracts. IDs of users in the project directory (see the Project Users endpoint). These users will be able to view the commitment contract.\n",
          "items": {
           "type": "string",
           "example": "123"
          },
          "example": [
           "123",
           "456"
          ]
         },
         "actual_completion_date": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts.",
          "format": "date",
          "example": "2016-08-04"
         },
         "approval_letter_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "contract_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "contract_estimated_completion_date": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts.",
          "format": "date",
          "example": "2016-08-04"
         },
         "contract_start_date": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts.",
          "format": "date",
          "example": "2016-08-04"
         },
         "delivery_date": {
          "type": "string",
          "description": "Only applicable to Purchase Order Contracts.",
          "format": "date",
          "example": "2016-08-04"
         },
         "execution_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "issued_on_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "letter_of_intent_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "returned_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "signed_contract_received_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "currency_exchange_rate": {
          "type": "string",
          "description": "Exchange Rate from Contract Currency to Project Currency; It'll be accepted only when multicurrency phase two feature flag is enabled and user has the granular permission to edit the contract exchange rate.",
          "example": "1.5"
         },
         "currency_iso_code": {
          "type": "string",
          "description": "Currency ISO code; It'll be accepted only when multicurrency phase two feature flag is enabled.",
          "example": "USD"
         },
         "custom_field_%{custom_field_definition_id}": {
          "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
          "example": "custom field value",
          "oneOf": [
           {
            "type": "string",
            "title": "string",
            "example": "my value"
           },
           {
            "type": "boolean",
            "title": "boolean",
            "example": true
           },
           {
            "type": "array",
            "title": "array",
            "items": {
             "type": "string"
            },
            "example": [
             "1",
             "2"
            ]
           }
          ]
         },
         "change_event_attachment_ids": {
          "type": "array",
          "description": "List of attachment IDs to attach. These must presently be associated with Change Events.",
          "items": {
           "type": "integer"
          },
          "example": [
           55,
           66,
           77
          ]
         },
         "request_for_quote_attachment_ids": {
          "type": "array",
          "description": "List of attachment IDs to attach. These must presently be associated with Request For Quotes (or their Quotes / Responses).",
          "items": {
           "type": "integer"
          },
          "example": [
           55,
           66,
           77
          ]
         },
         "attachment_ids": {
          "type": "array",
          "description": "The current attachments to the item. Values should be omitted to remove attachments. New files cannot be attached via this param. If the key is omitted, the existing attachments will remain unchanged.\n",
          "items": {
           "type": "string"
          },
          "example": [
           "1",
           "2"
          ]
         },
         "drawing_revision_ids": {
          "type": "array",
          "description": "Drawing Revisions to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "3",
           "4"
          ]
         },
         "file_version_ids": {
          "type": "array",
          "description": "File Versions to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "5",
           "6"
          ]
         },
         "form_ids": {
          "type": "array",
          "description": "Forms to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "7",
           "8"
          ]
         },
         "image_ids": {
          "type": "array",
          "description": "Images to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "9",
           "10"
          ]
         },
         "upload_ids": {
          "type": "array",
          "description": "Uploads to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "01J15GF28TDQ2X20RNRJ5DDX27",
           "01J15GFDKQ4TDRBQPZ2M6E9H44"
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "oneOf": [
            {
             "title": "default",
             "description": "Commitment Contract Object",
             "type": "object",
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Commitment Contract ID",
                 "example": "123"
                },
                "type": {
                 "type": "string",
                 "enum": [
                  "WorkOrderContract",
                  "PurchaseOrderContract"
                 ],
                 "description": "Type of commitment contract",
                 "example": "WorkOrderContract"
                },
                "number": {
                 "type": "string",
                 "description": "Number",
                 "example": "ABC-456"
                },
                "payment_terms_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "UUID of the payment terms associated with the commitment contract. This field may be null when no payment terms are configured.\n",
                 "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "status": {
                 "type": "string",
                 "description": "Status",
                 "example": "Approved"
                },
                "executed": {
                 "type": "boolean",
                 "description": "Executed status",
                 "example": true
                },
                "title": {
                 "type": "string",
                 "description": "Title",
                 "example": "ABC Contract"
                },
                "description": {
                 "type": "string",
                 "description": "Description",
                 "example": "<p>Yep, do it.</p>"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2016-08-04T13:44:10Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated at",
                 "example": "2016-08-05T19:36:12Z"
                },
                "grand_total": {
                 "type": "string",
                 "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                 "example": "-12345.6789",
                 "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                },
                "private": {
                 "type": "boolean",
                 "description": "When private, a contract is only visible to the creator and the assigned accessors.\n",
                 "example": false
                },
                "currency_configuration": {
                 "type": "object",
                 "allOf": [
                  {
                   "properties": {
                    "base_currency_iso_code": {
                     "type": "string",
                     "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                     "example": "USD",
                     "nullable": true
                    },
                    "currency_iso_code": {
                     "type": "string",
                     "description": "Currency ISO Code configured for the financial entity",
                     "example": "EUR",
                     "nullable": true
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "currency_exchange_rate": {
                     "type": "string",
                     "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                     "example": "-12345.6789",
                     "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n",
                     "nullable": true
                    }
                   }
                  }
                 ]
                },
                "created_by": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "User ID",
                   "example": "123"
                  },
                  "name": {
                   "type": "string",
                   "description": "User name",
                   "example": "Creator Name"
                  }
                 }
                },
                "accounting_method": {
                 "type": "string",
                 "enum": [
                  "amount",
                  "unit"
                 ],
                 "example": "amount"
                },
                "allow_comments": {
                 "type": "boolean",
                 "example": false
                },
                "allow_markups": {
                 "type": "boolean",
                 "example": true
                },
                "change_order_level_of_detail": {
                 "type": "string",
                 "enum": [
                  "change_order_package",
                  "change_order_request",
                  "potential_change_order",
                  "line_item"
                 ],
                 "example": "line_item"
                },
                "enable_ssov": {
                 "type": "boolean",
                 "example": true
                },
                "allow_change_orders_ssov": {
                 "type": "boolean",
                 "description": "If true, the subcontractor schedule of values (SSOV) can be enabled on change orders for this Commitment Contract.\n",
                 "example": false
                },
                "allow_payment_applications": {
                 "type": "boolean",
                 "example": true
                },
                "allow_payments": {
                 "type": "boolean",
                 "example": true
                },
                "retainage_percent": {
                 "type": "number",
                 "example": 5
                },
                "display_materials_retainage": {
                 "type": "boolean",
                 "example": true
                },
                "display_work_retainage": {
                 "type": "boolean",
                 "example": true
                },
                "show_cost_code_on_pdf": {
                 "type": "boolean",
                 "example": true
                },
                "ssr_enabled": {
                 "type": "boolean",
                 "example": true
                },
                "show_line_items_to_non_admins": {
                 "type": "boolean",
                 "example": false
                }
               },
               "title": "default"
              },
              {
               "type": "object",
               "properties": {
                "accessor_ids": {
                 "type": "array",
                 "description": "Only applicable to private contracts. IDs of users in the project directory (see the Project Users endpoint). These users will be able to view the commitment contract.",
                 "items": {
                  "type": "integer",
                  "example": 123
                 }
                },
                "bill_recipient_ids": {
                 "type": "array",
                 "description": "IDs of users in the project directory (see the Project Users endpoint). These users must belong to the selected vendor and are the invoice contacts for submitting subcontractor invoices. To grant access to view the contract, these users must also be added as accessors.",
                 "items": {
                  "type": "integer",
                  "example": 123
                 }
                },
                "prostore_file_ids": {
                 "type": "array",
                 "description": "List of Prostore file IDs",
                 "items": {
                  "type": "integer",
                  "example": 123
                 }
                },
                "vendor": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Vendor ID",
                   "example": "123"
                  }
                 }
                }
               }
              }
             ]
            },
            {
             "title": "extended",
             "description": "Commitment Contract Object",
             "type": "object",
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Commitment Contract ID",
                 "example": "123"
                },
                "type": {
                 "type": "string",
                 "enum": [
                  "WorkOrderContract",
                  "PurchaseOrderContract"
                 ],
                 "description": "Type of commitment contract",
                 "example": "WorkOrderContract"
                },
                "number": {
                 "type": "string",
                 "description": "Number",
                 "example": "ABC-456"
                },
                "payment_terms_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "UUID of the payment terms associated with the commitment contract. This field may be null when no payment terms are configured.\n",
                 "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "status": {
                 "type": "string",
                 "description": "Status",
                 "example": "Approved"
                },
                "executed": {
                 "type": "boolean",
                 "description": "Executed status",
                 "example": true
                },
                "title": {
                 "type": "string",
                 "description": "Title",
                 "example": "ABC Contract"
                },
                "description": {
                 "type": "string",
                 "description": "Description",
                 "example": "<p>Yep, do it.</p>"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2016-08-04T13:44:10Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated at",
                 "example": "2016-08-05T19:36:12Z"
                },
                "grand_total": {
                 "type": "string",
                 "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                 "example": "-12345.6789",
                 "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                },
                "private": {
                 "type": "boolean",
                 "description": "When private, a contract is only visible to the creator and the assigned accessors.\n",
                 "example": false
                },
                "currency_configuration": {
                 "type": "object",
                 "allOf": [
                  {
                   "properties": {
                    "base_currency_iso_code": {
                     "type": "string",
                     "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                     "example": "USD",
                     "nullable": true
                    },
                    "currency_iso_code": {
                     "type": "string",
                     "description": "Currency ISO Code configured for the financial entity",
                     "example": "EUR",
                     "nullable": true
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "currency_exchange_rate": {
                     "type": "string",
                     "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                     "example": "-12345.6789",
                     "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n",
                     "nullable": true
                    }
                   }
                  }
                 ]
                },
                "created_by": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "User ID",
                   "example": "123"
                  },
                  "name": {
                   "type": "string",
                   "description": "User name",
                   "example": "Creator Name"
                  }
                 }
                },
                "accounting_method": {
                 "type": "string",
                 "enum": [
                  "amount",
                  "unit"
                 ],
                 "example": "amount"
                },
                "allow_comments": {
                 "type": "boolean",
                 "example": false
                },
                "allow_markups": {
                 "type": "boolean",
                 "example": true
                },
                "change_order_level_of_detail": {
                 "type": "string",
                 "enum": [
                  "change_order_package",
                  "change_order_request",
                  "potential_change_order",
                  "line_item"
                 ],
                 "example": "line_item"
                },
                "enable_ssov": {
                 "type": "boolean",
                 "example": true
                },
                "allow_change_orders_ssov": {
                 "type": "boolean",
                 "description": "If true, the subcontractor schedule of values (SSOV) can be enabled on change orders for this Commitment Contract.\n",
                 "example": false
                },
                "allow_payment_applications": {
                 "type": "boolean",
                 "example": true
                },
                "allow_payments": {
                 "type": "boolean",
                 "example": true
                },
                "retainage_percent": {
                 "type": "number",
                 "example": 5
                },
                "display_materials_retainage": {
                 "type": "boolean",
                 "example": true
                },
                "display_work_retainage": {
                 "type": "boolean",
                 "example": true
                },
                "show_cost_code_on_pdf": {
                 "type": "boolean",
                 "example": true
                },
                "ssr_enabled": {
                 "type": "boolean",
                 "example": true
                },
                "show_line_items_to_non_admins": {
                 "type": "boolean",
                 "example": false
                }
               },
               "title": "extended"
              },
              {
               "type": "object",
               "properties": {
                "custom_fields": {
                 "type": "object",
                 "properties": {
                  "custom_field_%{custom_field_string_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "string"
                    },
                    "value": {
                     "type": "string",
                     "description": "The value of the custom field.",
                     "example": "custom field value"
                    }
                   }
                  },
                  "custom_field_%{custom_field_decimal_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "decimal"
                    },
                    "value": {
                     "type": "number",
                     "description": "The value of the custom field.",
                     "example": 2.2
                    }
                   }
                  },
                  "custom_field_%{custom_field_boolean_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "boolean"
                    },
                    "value": {
                     "type": "boolean",
                     "description": "The value of the custom field.",
                     "example": true
                    }
                   }
                  },
                  "custom_field_%{custom_field_lov_entry_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "lov_entry"
                    },
                    "value": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "The unique identifier of the list of values (LOV) entry.",
                       "example": "1"
                      },
                      "label": {
                       "type": "string",
                       "description": "Label of the list of values (LOV) entry.",
                       "example": "Open"
                      }
                     }
                    }
                   }
                  },
                  "custom_field_%{custom_field_lov_entries_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "lov_entries"
                    },
                    "value": {
                     "type": "array",
                     "items": {
                      "type": "object",
                      "properties": {
                       "id": {
                        "type": "string",
                        "description": "The unique identifier of the list of values (LOV) entry.",
                        "example": "2"
                       },
                       "label": {
                        "type": "string",
                        "description": "The label of the list of values (LOV) entry.",
                        "example": "Open"
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                },
                "prostore_file_ids": {
                 "type": "array",
                 "description": "List of ProStore file IDs",
                 "items": {
                  "type": "integer",
                  "example": 123
                 }
                },
                "vendor": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Vendor ID",
                   "example": "123"
                  },
                  "name": {
                   "type": "string",
                   "description": "Vendor Name",
                   "example": "Smith"
                  }
                 }
                },
                "assignee": {
                 "type": "object",
                 "nullable": true,
                 "description": "Assignee (only present for Purchase Order contracts with an assignee_id)",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Assignee ID",
                   "example": "123"
                  },
                  "name": {
                   "type": "string",
                   "nullable": true,
                   "description": "Assignee Name",
                   "example": "John Doe"
                  }
                 }
                },
                "external_data": {
                 "type": "object",
                 "description": "External Data",
                 "properties": {
                  "origin_id": {
                   "type": "string",
                   "nullable": true,
                   "example": "123"
                  },
                  "origin_code": {
                   "type": "string",
                   "nullable": true,
                   "example": "ABC"
                  },
                  "origin_data": {
                   "type": "string",
                   "nullable": true,
                   "example": "ABC"
                  }
                 }
                },
                "total_tax_amount": {
                 "type": "string",
                 "description": "Total tax on the contract, aggregated from its line-item tax details, in the contract's currency. Reflects contract-level tax only (not change orders). Decimal encoded as a string.",
                 "example": "150.0"
                },
                "revised_contract_amount": {
                 "allOf": [
                  {
                   "type": "string",
                   "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                   "example": "-12345.6789",
                   "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                  }
                 ],
                 "description": "The original contract amount (grand_total) plus the sum of all approved change order amounts."
                },
                "approved_change_orders_amount": {
                 "allOf": [
                  {
                   "type": "string",
                   "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                   "example": "-12345.6789",
                   "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                  }
                 ],
                 "description": "The sum of the grand totals of all approved change orders against this contract."
                }
               }
              }
             ]
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/commitment_contracts',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    type: 'WorkOrderContract',\n    number: 'SC-001',\n    status: 'Approved',\n    title: 'ABC Contract',\n    description: '<p>Yep, do it.</p>',\n    executed: true,\n    vendor_id: '161072',\n    assignee_id: '123',\n    signature_required: true,\n    billing_schedule_of_values_status: 'approved',\n    inclusions: '<p>Stairs, Elevator platform</p>',\n    exclusions: '<p>Stairs, Elevator platform</p>',\n    bill_to_address: '123 Maine Street, Brunswick, ME 04011',\n    ship_to_address: '123 Maine Street, Brunswick, ME 04011',\n    ship_via: 'UPS',\n    payment_terms: 'Net 30',\n    payment_terms_id: '123e4567-e89b-12d3-a456-426614174000',\n    retainage_percent: '-12345.6789',\n    accounting_method: 'amount',\n    allow_comments: true,\n    allow_markups: false,\n    change_order_level_of_detail: 'line_item',\n    enable_ssov: true,\n    allow_change_orders_ssov: false,\n    allow_payment_applications: true,\n    allow_payments: true,\n    display_materials_retainage: true,\n    display_work_retainage: true,\n    show_cost_code_on_pdf: true,\n    ssr_enabled: true,\n    bill_recipient_ids: ['123', '456'],\n    private: true,\n    show_line_items_to_non_admins: true,\n    accessor_ids: ['123', '456'],\n    actual_completion_date: '2016-08-04',\n    approval_letter_date: '2016-08-04',\n    contract_date: '2016-08-04',\n    contract_estimated_completion_date: '2016-08-04',\n    contract_start_date: '2016-08-04',\n    delivery_date: '2016-08-04',\n    execution_date: '2016-08-04',\n    issued_on_date: '2016-08-04',\n    letter_of_intent_date: '2016-08-04',\n    returned_date: '2016-08-04',\n    signed_contract_received_date: '2016-08-04',\n    currency_exchange_rate: '1.5',\n    currency_iso_code: 'USD',\n    'custom_field_%{custom_field_definition_id}': 'custom field value',\n    change_event_attachment_ids: [55, 66, 77],\n    request_for_quote_attachment_ids: [55, 66, 77],\n    attachment_ids: ['1', '2'],\n    drawing_revision_ids: ['3', '4'],\n    file_version_ids: ['5', '6'],\n    form_ids: ['7', '8'],\n    image_ids: ['9', '10'],\n    upload_ids: ['01J15GF28TDQ2X20RNRJ5DDX27', '01J15GFDKQ4TDRBQPZ2M6E9H44']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"type\\\":\\\"WorkOrderContract\\\",\\\"number\\\":\\\"SC-001\\\",\\\"status\\\":\\\"Approved\\\",\\\"title\\\":\\\"ABC Contract\\\",\\\"description\\\":\\\"<p>Yep, do it.</p>\\\",\\\"executed\\\":true,\\\"vendor_id\\\":\\\"161072\\\",\\\"assignee_id\\\":\\\"123\\\",\\\"signature_required\\\":true,\\\"billing_schedule_of_values_status\\\":\\\"approved\\\",\\\"inclusions\\\":\\\"<p>Stairs, Elevator platform</p>\\\",\\\"exclusions\\\":\\\"<p>Stairs, Elevator platform</p>\\\",\\\"bill_to_address\\\":\\\"123 Maine Street, Brunswick, ME 04011\\\",\\\"ship_to_address\\\":\\\"123 Maine Street, Brunswick, ME 04011\\\",\\\"ship_via\\\":\\\"UPS\\\",\\\"payment_terms\\\":\\\"Net 30\\\",\\\"payment_terms_id\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"retainage_percent\\\":\\\"-12345.6789\\\",\\\"accounting_method\\\":\\\"amount\\\",\\\"allow_comments\\\":true,\\\"allow_markups\\\":false,\\\"change_order_level_of_detail\\\":\\\"line_item\\\",\\\"enable_ssov\\\":true,\\\"allow_change_orders_ssov\\\":false,\\\"allow_payment_applications\\\":true,\\\"allow_payments\\\":true,\\\"display_materials_retainage\\\":true,\\\"display_work_retainage\\\":true,\\\"show_cost_code_on_pdf\\\":true,\\\"ssr_enabled\\\":true,\\\"bill_recipient_ids\\\":[\\\"123\\\",\\\"456\\\"],\\\"private\\\":true,\\\"show_line_items_to_non_admins\\\":true,\\\"accessor_ids\\\":[\\\"123\\\",\\\"456\\\"],\\\"actual_completion_date\\\":\\\"2016-08-04\\\",\\\"approval_letter_date\\\":\\\"2016-08-04\\\",\\\"contract_date\\\":\\\"2016-08-04\\\",\\\"contract_estimated_completion_date\\\":\\\"2016-08-04\\\",\\\"contract_start_date\\\":\\\"2016-08-04\\\",\\\"delivery_date\\\":\\\"2016-08-04\\\",\\\"execution_date\\\":\\\"2016-08-04\\\",\\\"issued_on_date\\\":\\\"2016-08-04\\\",\\\"letter_of_intent_date\\\":\\\"2016-08-04\\\",\\\"returned_date\\\":\\\"2016-08-04\\\",\\\"signed_contract_received_date\\\":\\\"2016-08-04\\\",\\\"currency_exchange_rate\\\":\\\"1.5\\\",\\\"currency_iso_code\\\":\\\"USD\\\",\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"change_event_attachment_ids\\\":[55,66,77],\\\"request_for_quote_attachment_ids\\\":[55,66,77],\\\"attachment_ids\\\":[\\\"1\\\",\\\"2\\\"],\\\"drawing_revision_ids\\\":[\\\"3\\\",\\\"4\\\"],\\\"file_version_ids\\\":[\\\"5\\\",\\\"6\\\"],\\\"form_ids\\\":[\\\"7\\\",\\\"8\\\"],\\\"image_ids\\\":[\\\"9\\\",\\\"10\\\"],\\\"upload_ids\\\":[\\\"01J15GF28TDQ2X20RNRJ5DDX27\\\",\\\"01J15GFDKQ4TDRBQPZ2M6E9H44\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/commitment_contracts?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
[...]
