{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Users",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Company Users",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/users/bulk_update_project_details": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk update project details for company users on projects",
    "description": "This endpoint allows company users to bulk update their project details on multiple projects. Users must already be assigned to the project before their project details (roles, permission templates) can be updated.",
    "tags": [
     "Company Users"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Company User Body Bulk Update Project Details",
        "type": "object",
        "required": [
         "users"
        ],
        "properties": {
         "users": {
          "title": "Company Users Bulk Update Project Details",
          "type": "array",
          "description": "Array of existing company users with a permission template id, project_role_ids, and project id that they want updated. The maximum amount per request is 1000 user_id, project_id, project_role_ids, permission_template_id objects. If more than 1000 objects are sent then a worker will be triggered to perform the action asynchronously.",
          "items": {
           "type": "object",
           "properties": {
            "user_id": {
             "type": "string",
             "description": "The ID of the user update",
             "example": "12345"
            },
            "project_id": {
             "type": "string",
             "description": "The ID of user's project to update",
             "example": "23456"
            },
            "permission_template_id": {
             "type": "string",
             "description": "The ID of the permission template to update for the user",
             "example": "34567"
            },
            "project_role_ids": {
             "type": "array",
             "description": "An array of project role IDs to assign to the user for the project",
             "items": {
              "type": "string",
              "example": "45678"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "entities with successes",
            "properties": {
             "entities": {
              "type": "array",
              "description": "One key for each user ID passed in, with an array of project IDs for that nested user ID",
              "items": {
               "type": "object",
               "properties": {
                "userId": {
                 "type": "string",
                 "description": "User Id of the user that was added to the project",
                 "example": "123"
                },
                "projects": {
                 "type": "array",
                 "description": "One key for each project ID for the user ID",
                 "items": {
                  "type": "object",
                  "properties": {
                   "projectId": {
                    "type": "string",
                    "description": "Project Id of the project the user's project details were updated for",
                    "example": "123"
                   },
                   "message": {
                    "type": "array",
                    "description": "Descriptive message of the successful mutation",
                    "items": {
                     "type": "string",
                     "example": "Successfully updated the permission template."
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "207": {
      "description": "Multi-Status",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "data",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "entities with successes and errors",
            "properties": {
             "entities": {
              "type": "array",
              "description": "One key for each user ID passed in, with an array of project IDs for that nested user ID",
              "items": {
               "type": "object",
               "properties": {
                "userId": {
                 "type": "string",
                 "description": "User Id of the user whose project details were updated",
                 "example": "123"
                },
                "projects": {
                 "type": "array",
                 "description": "One key for each project ID for the user ID",
                 "items": {
                  "type": "object",
                  "properties": {
                   "projectId": {
                    "type": "string",
                    "description": "Project Id of the project the user's project details were updated for",
                    "example": "123"
                   },
                   "message": {
                    "type": "string",
                    "description": "Descriptive message of the successful mutation",
                    "example": "user project details have been successfully updated"
                   }
                  }
                 }
                }
               }
              }
             },
             "errors": {
              "type": "array",
              "description": "One key for each user ID passed in, with an array of project IDs for that nested user ID",
              "items": {
               "type": "object",
               "properties": {
                "userId": {
                 "type": "string",
                 "description": "User Id of the user whose project details were updated",
                 "example": "123"
                },
                "errors": {
                 "type": "array",
                 "description": "One key for each project ID for the user ID",
                 "items": {
                  "type": "object",
                  "properties": {
                   "projectId": {
                    "type": "string",
                    "description": "Project Id of the project the user's project details were updated for",
                    "example": "123"
                   },
                   "message": {
                    "type": "string",
                    "description": "Descriptive message of the unsuccessful mutation",
                    "example": "could not update the user's project roles"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_update_project_details',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    users: [\n      {\n        user_id: '12345',\n        project_id: '23456',\n        permission_template_id: '34567',\n        project_role_ids: ['45678']\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"users\\\":[{\\\"user_id\\\":\\\"12345\\\",\\\"project_id\\\":\\\"23456\\\",\\\"permission_template_id\\\":\\\"34567\\\",\\\"project_role_ids\\\":[\\\"45678\\\"]}]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_update_project_details\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_update_project_details \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"users\":[{\"user_id\":\"12345\",\"project_id\":\"23456\",\"permission_template_id\":\"34567\",\"project_role_ids\":[\"45678\"]}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_update_project_details\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"users\\\":[{\\\"user_id\\\":\\\"12345\\\",\\\"project_id\\\":\\\"23456\\\",\\\"permission_template_id\\\":\\\"34567\\\",\\\"project_role_ids\\\":[\\\"45678\\\"]}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Bulk Update of project details for users",
      "description": "Added endpoint to allow user's project details (roles and template) to be update for multiple projects at once.",
      "endpoint": "PATCH /companies/{company_id}/users/bulk_update_project_details",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-11-01",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#bulk-update-project-details-for-company-users-on-projects"
     },
     {
      "summary": "Modified handling of already assigned project roles",
      "description": "Gracefully handle already assigned project roles in bulk update of project details for users. This also slightly\nmodifies the messages in the response. We now list each role that is added and each role that is removed.",
      "endpoint": "PATCH /companies/{company_id}/users/bulk_update_project_details",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-09",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#bulk-update-project-details-for-company-users-on-projects"
     },
     {
      "summary": "Modified the threshold for async processing on bulk actions for users",
      "description": "Lower the threshold for async processing from 1000 to 50.\nOn async processing, the endpoint will now return a batch_id in the response.",
      "endpoint": "PATCH /companies/{company_id}/users/bulk_update_project_details",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-28",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#bulk-update-project-details-for-company-users-on-projects"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/users/bulk_remove_project_details": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk remove project details for company users on projects",
    "description": "This endpoint allows company users to bulk remove project details  on multiple projects",
    "tags": [
     "Company Users"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Company User Body Bulk Update Project Details",
        "type": "object",
        "required": [
         "users"
        ],
        "properties": {
         "users": {
          "title": "Company Users Bulk Update Project Details",
          "type": "array",
          "description": "Array of existing company users with a permission template id, project_role_ids, and project id that they want updated. The maximum amount per request is 1000 user_id, project_id, project_role_ids, permission_template_id objects. If more than 1000 objects are sent then a worker will be triggered to perform the action asynchronously.",
          "items": {
           "type": "object",
           "properties": {
            "user_id": {
             "type": "string",
             "description": "The ID of the user update",
             "example": "12345"
            },
            "project_id": {
             "type": "string",
             "description": "The ID of user's project to update",
             "example": "23456"
            },
            "permission_template_id": {
             "type": "string",
             "description": "The ID of the permission template to update for the user",
             "example": "34567"
            },
            "project_role_ids": {
             "type": "array",
             "description": "An array of project role IDs to assign to the user for the project",
             "items": {
              "type": "string",
              "example": "45678"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "entities with successes",
            "properties": {
             "entities": {
              "type": "array",
              "description": "One key for each user ID passed in, with an array of project IDs for that nested user ID",
              "items": {
               "type": "object",
               "properties": {
                "userId": {
                 "type": "string",
                 "description": "User Id of the user whose project details are removed",
                 "example": "123"
                },
                "projects": {
                 "type": "array",
                 "description": "One key for each project ID for the user ID",
                 "items": {
                  "type": "object",
                  "properties": {
                   "projectId": {
                    "type": "string",
                    "description": "Project Id of the project for which the project details are removed",
                    "example": "123"
                   },
                   "message": {
                    "type": "string",
                    "description": "Descriptive message of the successful mutation",
                    "example": "user project details have been successfully removed"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "207": {
      "description": "Multi-Status",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "data",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "entities with successes and errors",
            "properties": {
             "entities": {
              "type": "array",
              "description": "One key for each user ID passed in, with an array of project IDs for that nested user ID",
              "items": {
               "type": "object",
               "properties": {
                "userId": {
                 "type": "string",
                 "description": "User Id of the user whose project details were removed",
                 "example": "123"
                },
                "projects": {
                 "type": "array",
                 "description": "One key for each project ID for the user ID",
                 "items": {
                  "type": "object",
                  "properties": {
                   "projectId": {
                    "type": "string",
                    "description": "Project Id of the project for which the project details are removed",
                    "example": "123"
                   },
                   "message": {
                    "type": "string",
                    "description": "Descriptive message of the successful mutation",
                    "example": "user project details have been successfully removed"
                   }
                  }
                 }
                }
               }
              }
             },
             "errors": {
              "type": "array",
              "description": "One key for each user ID passed in, with an array of project IDs for that nested user ID",
              "items": {
               "type": "object",
               "properties": {
                "userId": {
                 "type": "string",
                 "description": "User Id of the user whose project details were removed",
                 "example": "123"
                },
                "errors": {
                 "type": "array",
                 "description": "One key for each project ID for the user ID",
                 "items": {
                  "type": "object",
                  "properties": {
                   "projectId": {
                    "type": "string",
                    "description": "Project Id of the project for which the project details are removed",
                    "example": "123"
                   },
                   "message": {
                    "type": "string",
                    "description": "Descriptive message of the unsuccessful mutation",
                    "example": "could not remove the user's project roles"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_remove_project_details',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    users: [\n      {\n        user_id: '12345',\n        project_id: '23456',\n        permission_template_id: '34567',\n        project_role_ids: ['45678']\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"users\\\":[{\\\"user_id\\\":\\\"12345\\\",\\\"project_id\\\":\\\"23456\\\",\\\"permission_template_id\\\":\\\"34567\\\",\\\"project_role_ids\\\":[\\\"45678\\\"]}]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_remove_project_details\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_remove_project_details \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"users\":[{\"user_id\":\"12345\",\"project_id\":\"23456\",\"permission_template_id\":\"34567\",\"project_role_ids\":[\"45678\"]}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_remove_project_details\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"users\\\":[{\\\"user_id\\\":\\\"12345\\\",\\\"project_id\\\":\\\"23456\\\",\\\"permission_template_id\\\":\\\"34567\\\",\\\"project_role_ids\\\":[\\\"45678\\\"]}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Bulk Remove for project details for users",
      "description": "Added endpoint to allow user's project details (roles and template) to be removed for multiple projects at once.",
      "endpoint": "PATCH /companies/{company_id}/users/bulk_remove_project_details",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-11-06",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#bulk-remove-project-details-for-company-users-on-projects"
     },
     {
      "summary": "Modified the threshold for async processing on bulk actions for users",
      "description": "Lower the threshold for async processing from 1000 to 50.\nOn async processing, the endpoint will now return a batch_id in the response.",
      "endpoint": "PATCH /companies/{company_id}/users/bulk_remove_project_details",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-28",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#bulk-remove-project-details-for-company-users-on-projects"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/users/bulk_add": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk add company users to projects",
    "description": "This endpoint allows company users to be bulk added to multiple projects with a permission template in one request.\nIf the user was already part of that project it will not update the assigned permission template.",
    "tags": [
     "Company Users"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Company User Body Bulk Add",
        "type": "object",
        "required": [
         "users"
        ],
        "properties": {
         "users": {
          "title": "Company Users Bulk Add",
          "type": "array",
          "description": "Array of existing company users with a permission template id and project id that they will be assinged to. The maximum amount per request is 50 user_id, project_id, permission_template_id triplets. If more than 50 objects are sent then a worker will be triggered to perform the action asynchronously.",
          "items": {
           "type": "object",
           "properties": {
            "user_id": {
             "type": "string",
             "description": "The ID of the user to add",
             "example": "12345"
            },
            "project_id": {
             "type": "string",
             "description": "The ID of project to add the user to",
             "example": "23456"
            },
            "permission_template_id": {
             "type": "string",
             "description": "The ID of the permission template to assign to the user",
             "example": "34567"
            },
            "project_role_ids": {
             "type": "array",
             "description": "An array of project role IDs to assign to the user for the project",
             "items": {
              "type": "string",
              "example": "45678"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "entities with successes",
         "additionalProperties": true,
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "data envelope",
            "properties": {
             "entities": {
              "type": "array",
              "description": "One key for each user ID passed in, with an array of project IDs for that nested user ID",
              "additionalProperties": true,
              "items": {
               "type": "object",
               "additionalProperties": true,
               "properties": {
                "userId": {
                 "type": "string",
                 "description": "User Id of the user that was added to the project",
                 "example": 123
                },
                "projects": {
                 "type": "array",
                 "description": "One key for each project ID for the user ID",
                 "additionalProperties": true,
                 "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                   "projectId": {
                    "type": "string",
                    "description": "Project Id of the project the user was added to",
                    "example": 123
                   },
                   "message": {
                    "type": "string",
                    "description": "Descriptive message of the successful mutation",
                    "example": "user has been successfully added to the project"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "202": {
      "description": "Accepted",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": true,
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "status": {
              "type": "string",
              "description": "Status of the batch job",
              "example": "accepted"
             },
             "batch_id": {
              "type": "string",
              "description": "ID of the batch job for checking status",
              "example": "batch-123abc456def"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "207": {
      "description": "Multi-Status",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "entities with successes",
         "additionalProperties": true,
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "entities": {
              "type": "array",
              "description": "One key for each user ID passed in, with an array of project IDs for that nested user ID",
              "additionalProperties": true,
              "items": {
               "type": "object",
               "additionalProperties": true,
               "properties": {
                "userId": {
                 "type": "string",
                 "description": "User Id of the user that was added to the project",
                 "example": 123
                },
                "projects": {
                 "type": "array",
                 "description": "One key for each project ID for the user ID",
                 "additionalProperties": true,
                 "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                   "projectId": {
                    "type": "string",
                    "description": "Project Id of the project the user was added to",
                    "example": 123
                   },
                   "message": {
                    "type": "string",
                    "description": "Descriptive message of the successful mutation",
                    "example": "user has been successfully added to the project"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "description": "One key for each user ID passed in, with an array of project IDs for that nested user ID",
           "additionalProperties": true,
           "items": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
             "userId": {
              "type": "string",
              "description": "User Id of the user that was added to the project",
              "example": 123
             },
             "errors": {
              "type": "array",
              "description": "One key for each project ID for the user ID",
              "additionalProperties": true,
              "items": {
               "type": "object",
               "additionalProperties": true,
               "properties": {
                "projectId": {
                 "type": "string",
                 "description": "Project Id of the project the user was added to",
                 "example": 123
                },
                "message": {
                 "type": "string",
                 "description": "Descriptive message of the unsuccessful mutation",
                 "example": "Contact could not be added."
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_add',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    users: [\n      {\n        user_id: '12345',\n        project_id: '23456',\n        permission_template_id: '34567',\n        project_role_ids: ['45678']\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"users\\\":[{\\\"user_id\\\":\\\"12345\\\",\\\"project_id\\\":\\\"23456\\\",\\\"permission_template_id\\\":\\\"34567\\\",\\\"project_role_ids\\\":[\\\"45678\\\"]}]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_add\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_add \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"users\":[{\"user_id\":\"12345\",\"project_id\":\"23456\",\"permission_template_id\":\"34567\",\"project_role_ids\":[\"45678\"]}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_add\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"users\\\":[{\\\"user_id\\\":\\\"12345\\\",\\\"project_id\\\":\\\"23456\\\",\\\"permission_template_id\\\":\\\"34567\\\",\\\"project_role_ids\\\":[\\\"45678\\\"]}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added a new version of bulk add users to projects",
      "description": "Added a new version of bulk add users to projects. The threshold for async processing is set at 50.\nThe endpoint will now return a batch_id in the response if async processing is used.",
      "endpoint": "POST /companies/{company_id}/users/bulk_add",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-03-28",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#bulk-add-company-users-to-projects"
     },
     {
      "summary": "Documented project_role_ids parameter for bulk add users to projects",
      "description": "Added documentation for the `project_role_ids` parameter which allows assigning project roles to users when adding them to projects.\nThis parameter was already supported by the endpoint but was not documented in the API specification.",
      "endpoint": "POST /companies/{company_id}/users/bulk_add",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-01-27",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#bulk-add-company-users-to-projects"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/users/bulk_remove": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk remove company users from projects",
    "description": "This endpoint allows company users to be bulk removed from multiple projects.",
    "tags": [
     "Company Users"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Company User Body Bulk Remove",
        "type": "object",
        "required": [
         "users"
        ],
        "properties": {
         "users": {
          "title": "Company Users Bulk Remove",
          "type": "array",
          "description": "Array of existing company users with a project id that they will be removed from. The maximum amount per request is 50 user_id, project_id duplets. If more than 50 objects are sent then a worker will be triggered to perform the action asynchronously.",
          "items": {
           "type": "object",
           "properties": {
            "user_id": {
             "type": "string",
             "description": "The ID of the user to remove",
             "example": "12345"
            },
            "project_id": {
             "type": "string",
             "description": "The ID of project to add the user to remove from",
             "example": "23456"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "{user_id}": {
              "type": "object",
              "additionalProperties": {
               "type": "string",
               "enum": [
                "success",
                "failure",
                "skipped_managed"
               ]
              },
              "description": "Maps project IDs to operation result status. `skipped_managed` indicates the membership is managed by Groups and was not removed (returned only when the Groups feature is enabled, USER-2168).",
              "example": {
               "1234": "success",
               "5678": "skipped_managed"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "202": {
      "description": "Accepted",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": true,
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "status": {
              "type": "string",
              "description": "Status of the batch job",
              "example": "accepted"
             },
             "batch_id": {
              "type": "string",
              "description": "ID of the batch job for checking status",
              "example": "batch-123abc456def"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_remove',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {users: [{user_id: '12345', project_id: '23456'}]},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"users\\\":[{\\\"user_id\\\":\\\"12345\\\",\\\"project_id\\\":\\\"23456\\\"}]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_remove\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_remove \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"users\":[{\"user_id\":\"12345\",\"project_id\":\"23456\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk_remove\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"users\\\":[{\\\"user_id\\\":\\\"12345\\\",\\\"project_id\\\":\\\"23456\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added a new version of bulk add users to projects",
      "description": "Added a new version of bulk add users to projects. The threshold for async processing is set at 50.\nThe endpoint will now return a batch_id in the response if async processing is used.",
      "endpoint": "POST /companies/{company_id}/users/bulk_remove",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-03-28",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#bulk-remove-company-users-from-projects"
     },
     {
      "summary": "Bulk remove reports group-managed memberships as skipped",
      "description": "When the Groups feature is enabled, bulk removing users from projects no\nlonger removes memberships managed by Groups. Those project results are\nreported with a `skipped_managed` status instead of `success`, and the\nmemberships are retained. Behavior is unchanged when the feature is off.",
      "endpoint": "POST /companies/{company_id}/users/bulk_remove",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-22",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#bulk-remove-company-users-from-projects"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/users/bulk/status/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the batch",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Retrieves the status of the asyncronous job that a bulk users command queued",
    "description": "Retrieves the status of the asyncronous job that a bulk users command queued.",
    "tags": [
     "Company Users"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "is_complete": {
             "type": "boolean"
            },
            "bid": {
             "type": "string",
             "description": "batch id"
            },
            "total": {
             "type": "integer"
            },
            "pending": {
             "type": "integer"
            },
            "description": {
             "type": "string"
            },
            "failures": {
             "type": "integer"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk/status/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk/status/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk/status/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/users/bulk/status/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added an endpoint to check the status of a bulk users action",
      "description": "Added an endpoint to check the status of a bulk users action.",
      "endpoint": "GET /companies/{company_id}/users/bulk/status/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-03-28",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-users?version=2.0#retrieves-the-status-of-the-asyncronous-job-that-a-bulk-users-command-queued"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.3/companies/{company_id}/users": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List company users",
    "description": "Return a list of all active users associated with a company. To retrieve a list of inactive users, see [List Company Inactive Users](/reference/rest/v1/company-inactive-users#list-company-inactive-users).\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Company Users"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). If a valid view is not provided, it will return the default view: normal.",
      "schema": {
       "type": "string",
       "enum": [
        "extended",
        "ids_only",
        "normal"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID. Returns item(s) with the specified Origin ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[trade_id][]",
      "in": "query",
      "description": "Returns users whose vendor record is associated with the specified trade id(s).",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Return users where the search string matches the user's first name, last name, email address, keywords, job title, or company name",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name",
        "vendor_name",
        "permission_template",
        "full_name",
        "projects",
        "email",
        "job_title"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of company users",
         "items": {
          "oneOf": [
           {
            "type": "number",
            "title": "ids_only view"
           },
           {
            "allOf": [
             {
              "type": "object",
              "title": "normal view"
             },
             {
              "title": "Company User",
              "description": "Company User",
              "type": "object",
              "properties": {
               "address": {
                "description": "User address",
                "example": "6305 Carpinteria Ave",
                "nullable": true,
                "type": "string"
               },
               "avatar": {
                "description": "User avatar url",
                "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                "nullable": true,
                "type": "string"
               },
               "business_id": {
                "description": "Business id",
                "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
                "nullable": true,
                "type": "string"
               },
               "business_phone": {
                "description": "User business phone",
                "example": "1-555-555-1234",
                "nullable": true,
                "type": "string"
               },
               "business_phone_extension": {
                "description": "User business phone extension",
                "example": 123,
                "nullable": true,
                "type": "integer"
               },
               "city": {
                "description": "User city",
                "example": "Carpinteria",
                "nullable": true,
                "type": "string"
               },
               "contact_id": {
                "type": "integer",
                "description": "User Contact ID",
                "example": 1
               },
               "country_code": {
                "description": "User country code (ISO-3166 Alpha-2 format)",
                "example": "US",
                "nullable": true,
                "type": "string"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "User created at",
                "example": "2016-10-23T21:39:40Z"
               },
               "email_address": {
                "format": "email",
                "description": "User email",
                "example": "jane.doe@example.com",
                "nullable": true,
                "type": "string"
               },
               "email_signature": {
                "description": "User email signature",
                "example": "<p>Sent from Procore.</p>",
                "nullable": true,
                "type": "string"
               },
               "employee_id": {
                "description": "User employee id",
                "example": "123456789",
                "nullable": true,
                "type": "string"
               },
               "erp_integrated_accountant": {
                "type": "boolean",
                "description": "User ERP integrated accountant status",
                "example": true
               },
               "fax_number": {
                "description": "User fax number",
                "example": "1-555-555-1234",
                "nullable": true,
                "type": "string"
               },
               "first_name": {
                "description": "User first name",
                "example": "Jane",
                "nullable": true,
                "type": "string"
               },
               "id": {
                "type": "integer",
                "description": "User id",
                "example": 381006
               },
               "initials": {
                "description": "User initials",
                "example": "JD",
                "nullable": true,
                "type": "string"
               },
               "is_active": {
                "description": "User active status",
                "example": true,
                "nullable": true,
                "type": "boolean"
               },
               "is_employee": {
                "description": "User employee status",
                "example": false,
                "nullable": true,
                "type": "boolean"
               },
               "job_title": {
                "description": "User job title",
                "example": "QA Manager",
                "nullable": true,
                "type": "string"
               },
               "last_activated_at": {
                "format": "date-time",
                "description": "User last activated at",
                "example": "2016-06-30T20:41:58Z",
                "nullable": true,
                "type": "string"
               },
               "last_login_at": {
                "format": "date-time",
                "description": "User last login at",
                "example": "2016-06-30T20:41:58Z",
                "nullable": true,
                "type": "string"
               },
               "last_name": {
                "type": "string",
                "description": "User last name",
                "example": "Doe"
               },
               "mobile_phone": {
                "description": "User mobile phone",
                "example": "1-555-555-1234",
                "nullable": true,
                "type": "string"
               },
               "name": {
                "type": "string",
                "description": "User full name",
                "example": "Jane Doe"
               },
               "notes": {
                "description": "User notes",
                "example": "notes",
                "nullable": true,
                "type": "string"
               },
               "origin_id": {
                "description": "User origin id",
                "example": "foobar",
                "nullable": true,
                "type": "string"
               },
               "origin_data": {
                "description": "User origin data",
                "example": "OD-2398273424",
                "nullable": true,
                "type": "string"
               },
               "state_code": {
                "description": "User state code (ISO-3166 Alpha-2 format)",
                "example": "CA",
                "nullable": true,
                "type": "string"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "User updated at",
                "example": "2016-10-23T21:39:40Z"
               },
               "welcome_email_sent_at": {
                "type": "string",
                "format": "date-time",
                "description": "User welcome email sent at",
                "example": "2013-05-30T20:41:58Z",
                "nullable": true
               },
               "zip": {
                "description": "User zip code",
                "example": "93013",
                "nullable": true,
                "type": "string"
               },
               "work_classification_id": {
                "type": "integer",
                "description": "Work classification id",
                "example": 13,
                "nullable": true
               },
               "party_id": {
                "type": "integer",
                "description": "The Directory Party ID for this user, resolved via Contact \u2192 Person \u2192 Party. Null when the user has no associated person record. Use this ID when calling endpoints that require a party identifier (e.g. certification assignments).",
                "example": 12345,
                "nullable": true
               },
               "permission_template": {
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Permission Template",
                  "example": 1
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the Permission Template",
                  "example": "General Contractor"
                 },
                 "project_specific": {
                  "type": "boolean",
                  "description": "If the Permission Template is project specific",
                  "example": true
                 },
                 "type": {
                  "type": "string",
                  "description": "The type of the Permission Template",
                  "enum": [
                   "company_tools",
                   "global",
                   "project_specific"
                  ]
                 }
                },
                "type": "object"
               },
               "company_permission_template": {
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Permission Template",
                  "example": 1
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the Permission Template",
                  "example": "General Contractor"
                 },
                 "project_specific": {
                  "type": "boolean",
                  "description": "If the Permission Template is project specific",
                  "example": true
                 },
                 "type": {
                  "type": "string",
                  "description": "The type of the Permission Template",
                  "enum": [
                   "company_tools",
                   "global",
                   "project_specific"
                  ]
                 }
                },
                "type": "object"
               },
               "vendor": {
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "SID Architecture"
                 }
                },
                "type": "object",
                "nullable": true
               }
              }
             }
            ]
           },
           {
            "allOf": [
             {
              "type": "object",
              "title": "extended view",
              "description": "extended view with user role and verified employee flag"
             },
             {
              "title": "Company User",
              "description": "Company User",
              "type": "object",
              "properties": {
               "address": {
                "description": "User address",
                "example": "6305 Carpinteria Ave",
                "nullable": true,
                "type": "string"
               },
               "avatar": {
                "description": "User avatar url",
                "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                "nullable": true,
                "type": "string"
               },
               "business_id": {
                "description": "Business id",
                "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
                "nullable": true,
                "type": "string"
               },
               "business_phone": {
                "description": "User business phone",
                "example": "1-555-555-1234",
                "nullable": true,
                "type": "string"
               },
               "business_phone_extension": {
                "description": "User business phone extension",
                "example": 123,
                "nullable": true,
                "type": "integer"
               },
               "city": {
                "description": "User city",
                "example": "Carpinteria",
                "nullable": true,
                "type": "string"
               },
               "contact_id": {
                "type": "integer",
                "description": "User Contact ID",
                "example": 1
               },
               "country_code": {
                "description": "User country code (ISO-3166 Alpha-2 format)",
                "example": "US",
                "nullable": true,
                "type": "string"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "User created at",
                "example": "2016-10-23T21:39:40Z"
               },
               "email_address": {
                "format": "email",
                "description": "User email",
                "example": "jane.doe@example.com",
                "nullable": true,
                "type": "string"
               },
               "email_signature": {
                "description": "User email signature",
                "example": "<p>Sent from Procore.</p>",
                "nullable": true,
                "type": "string"
               },
               "employee_id": {
                "description": "User employee id",
                "example": "123456789",
                "nullable": true,
                "type": "string"
               },
               "erp_integrated_accountant": {
                "type": "boolean",
                "description": "User ERP integrated accountant status",
                "example": true
               },
               "fax_number": {
                "description": "User fax number",
                "example": "1-555-555-1234",
                "nullable": true,
                "type": "string"
               },
               "first_name": {
                "description": "User first name",
                "example": "Jane",
                "nullable": true,
                "type": "string"
               },
               "id": {
                "type": "integer",
                "description": "User id",
                "example": 381006
               },
               "initials": {
                "description": "User initials",
                "example": "JD",
                "nullable": true,
                "type": "string"
               },
               "is_active": {
                "description": "User active status",
                "example": true,
                "nullable": true,
                "type": "boolean"
               },
               "is_employee": {
                "description": "User employee status",
                "example": false,
                "nullable": true,
                "type": "boolean"
               },
               "job_title": {
                "description": "User job title",
                "example": "QA Manager",
                "nullable": true,
                "type": "string"
               },
               "last_activated_at": {
                "format": "date-time",
                "description": "User last activated at",
                "example": "2016-06-30T20:41:58Z",
                "nullable": true,
                "type": "string"
               },
               "last_login_at": {
                "format": "date-time",
                "description": "User last login at",
                "example": "2016-06-30T20:41:58Z",
                "nullable": true,
                "type": "string"
               },
               "last_name": {
                "type": "string",
                "description": "User last name",
                "example": "Doe"
               },
               "mobile_phone": {
                "description": "User mobile phone",
                "example": "1-555-555-1234",
                "nullable": true,
                "type": "string"
               },
               "name": {
                "type": "string",
                "description": "User full name",
                "example": "Jane Doe"
               },
               "notes": {
                "description": "User notes",
                "example": "notes",
                "nullable": true,
                "type": "string"
               },
               "origin_id": {
                "description": "User origin id",
                "example": "foobar",
                "nullable": true,
                "type": "string"
               },
               "origin_data": {
                "description": "User origin data",
                "example": "OD-2398273424",
                "nullable": true,
                "type": "string"
               },
               "state_code": {
                "description": "User state code (ISO-3166 Alpha-2 format)",
                "example": "CA",
                "nullable": true,
                "type": "string"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "User updated at",
                "example": "2016-10-23T21:39:40Z"
               },
               "welcome_email_sent_at": {
                "type": "string",
                "format": "date-time",
                "description": "User welcome email sent at",
                "example": "2013-05-30T20:41:58Z",
                "nullable": true
               },
               "zip": {
                "description": "User zip code",
                "example": "93013",
                "nullable": true,
                "type": "string"
               },
               "work_classification_id": {
                "type": "integer",
                "description": "Work classification id",
                "example": 13,
                "nullable": true
               },
               "party_id": {
                "type": "integer",
                "description": "The Directory Party ID for this user, resolved via Contact \u2192 Person \u2192 Party. Null when the user has no associated person record. Use this ID when calling endpoints that require a party identifier (e.g. certification assignments).",
                "example": 12345,
                "nullable": true
               },
               "permission_template": {
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Permission Template",
                  "example": 1
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the Permission Template",
                  "example": "General Contractor"
                 },
                 "project_specific": {
                  "type": "boolean",
                  "description": "If the Permission Template is project specific",
                  "example": true
                 },
                 "type": {
                  "type": "string",
                  "description": "The type of the Permission Template",
                  "enum": [
                   "company_tools",
                   "global",
                   "project_specific"
                  ]
                 }
                },
                "type": "object"
               },
               "company_permission_template": {
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Permission Template",
                  "example": 1
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the Permission Template",
                  "example": "General Contractor"
                 },
                 "project_specific": {
                  "type": "boolean",
[...]
