{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Offices",
  "x-product-category": "Company Admin",
  "x-tool-category": "Company Settings",
  "x-resource-name": "Company Offices",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/offices": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List company offices",
    "description": "Returns a collection of Offices associated to a Company",
    "tags": [
     "Company Offices"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The view determines which fields are returned. 'normal' returns id, address, city, country_code, division, fax, logo, name, phone, state_code, and zip.\n 'extended' additionally returns main_office.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of offices",
         "items": {
          "type": "object",
          "title": "Office",
          "description": "Office",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Office id",
            "example": 1
           },
           "name": {
            "type": "string",
            "description": "Office name",
            "example": "Main Office"
           },
           "address": {
            "type": "string",
            "description": "Office address",
            "example": "100 Construction Lane"
           },
           "city": {
            "type": "string",
            "description": "Office city",
            "example": "Santa Barbara"
           },
           "state_code": {
            "type": "string",
            "description": "Office state code (ISO-3166 Alpha-2 format)",
            "example": "CA"
           },
           "country_code": {
            "type": "string",
            "description": "Office country code (ISO-3166 Alpha-2 format)",
            "example": "US"
           },
           "zip": {
            "type": "string",
            "description": "Office zip",
            "example": "93101"
           },
           "phone": {
            "type": "string",
            "description": "Office phone",
            "example": "8059831234"
           },
           "fax": {
            "type": "string",
            "description": "Office fax",
            "example": "8059834321"
           },
           "division": {
            "type": "string",
            "description": "Office division",
            "example": "First"
           },
           "logo": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/offices',\n  qs: {\n    company_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/offices?company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/offices?company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/offices?company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added view parameter",
      "description": "Added view parameter.",
      "endpoint": "GET /offices",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2021-10-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-offices?version=1.0#list-company-offices"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create company office",
    "description": "Creates an Office associated to a Company.\n\n#### Uploading logo\nTo upload an office logo you must upload whole payload as `multipart/form-data` content-type\nand specify each parameter as form-data together with `office[logo]` as file.\n\n#### Country and State codes\nThe `country_code` and `state_code` parameter values must conform to the ISO-3166 Alpha-2 specification.\nSee [Working with Country Codes](/documentation/country-codes) for additional information.",
    "tags": [
     "Company Offices"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "company_id",
         "office"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "The ID of the Company the Office belongs to"
         },
         "office": {
          "title": "Office",
          "type": "object",
          "description": "Office object",
          "required": [
           "name"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "The Name of the Office"
           },
           "address": {
            "type": "string",
            "description": "The Address of the Office"
           },
           "city": {
            "type": "string",
            "description": "The City of the Office"
           },
           "state_code": {
            "type": "string",
            "description": "The State Code of the Office (ISO-3166 Alpha-2 format)"
           },
           "country_code": {
            "type": "string",
            "description": "The Country Code of the Office (ISO-3166 Alpha-2 format)"
           },
           "zip": {
            "type": "string",
            "description": "The Zip of the Office"
           },
           "phone": {
            "type": "string",
            "description": "The Phone of the Office"
           },
           "fax": {
            "type": "string",
            "description": "The Fax of the Office"
           },
           "division": {
            "type": "string",
            "description": "The Division of the Office"
           },
           "logo_prostore_file_id": {
            "type": "integer",
            "description": "Prostore File ID"
           }
          }
         }
        },
        "example": {
         "company_id": 1,
         "office": {
          "name": "Main Office",
          "address": "100 Construction Lane",
          "city": "Santa Barbara",
          "state_code": "CA",
          "country_code": "US",
          "zip": "93101",
          "phone": "8059835555",
          "fax": "8059835558",
          "division": "Engineering",
          "logo_prostore_file_id": 123456
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "company_id",
         "office"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "The ID of the Company the Office belongs to"
         },
         "office": {
          "title": "Office",
          "type": "object",
          "description": "Office object",
          "required": [
           "name"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "The Name of the Office"
           },
           "address": {
            "type": "string",
            "description": "The Address of the Office"
           },
           "city": {
            "type": "string",
            "description": "The City of the Office"
           },
           "state_code": {
            "type": "string",
            "description": "The State Code of the Office (ISO-3166 Alpha-2 format)"
           },
           "country_code": {
            "type": "string",
            "description": "The Country Code of the Office (ISO-3166 Alpha-2 format)"
           },
           "zip": {
            "type": "string",
            "description": "The Zip of the Office"
           },
           "phone": {
            "type": "string",
            "description": "The Phone of the Office"
           },
           "fax": {
            "type": "string",
            "description": "The Fax of the Office"
           },
           "division": {
            "type": "string",
            "description": "The Division of the Office"
           },
           "logo": {
            "type": "string",
            "format": "binary",
            "description": "A photo file of the Office Logo.\nTo upload an office logo you must upload whole payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `office[logo]` as file."
           }
          }
         }
        },
        "example": {
         "company_id": 1,
         "office": {
          "name": "Main Office",
          "address": "100 Construction Lane",
          "city": "Santa Barbara",
          "state_code": "CA",
          "country_code": "US",
          "zip": "93101",
          "phone": "8059835555",
          "fax": "8059835558",
          "division": "Engineering",
          "logo": "logo.png"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Office",
         "description": "Office",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Office id",
           "example": 1
          },
          "name": {
           "type": "string",
           "description": "Office name",
           "example": "Main Office"
          },
          "address": {
           "type": "string",
           "description": "Office address",
           "example": "100 Construction Lane"
          },
          "city": {
           "type": "string",
           "description": "Office city",
           "example": "Santa Barbara"
          },
          "state_code": {
           "type": "string",
           "description": "Office state code (ISO-3166 Alpha-2 format)",
           "example": "CA"
          },
          "country_code": {
           "type": "string",
           "description": "Office country code (ISO-3166 Alpha-2 format)",
           "example": "US"
          },
          "zip": {
           "type": "string",
           "description": "Office zip",
           "example": "93101"
          },
          "phone": {
           "type": "string",
           "description": "Office phone",
           "example": "8059831234"
          },
          "fax": {
           "type": "string",
           "description": "Office fax",
           "example": "8059834321"
          },
          "division": {
           "type": "string",
           "description": "Office division",
           "example": "First"
          },
          "logo": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer"
            },
            "name": {
             "type": "string",
             "description": "Use :name, :filename to be deprecated"
            },
            "url": {
             "type": "string"
            },
            "filename": {
             "type": "string",
             "description": ":filename to be deprecated, use :name"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/offices',\n  headers: {'content-type': 'application/json'},\n  body: {\n    company_id: 1,\n    office: {\n      name: 'Main Office',\n      address: '100 Construction Lane',\n      city: 'Santa Barbara',\n      state_code: 'CA',\n      country_code: 'US',\n      zip: '93101',\n      phone: '8059835555',\n      fax: '8059835558',\n      division: 'Engineering',\n      logo_prostore_file_id: 123456\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"company_id\\\":1,\\\"office\\\":{\\\"name\\\":\\\"Main Office\\\",\\\"address\\\":\\\"100 Construction Lane\\\",\\\"city\\\":\\\"Santa Barbara\\\",\\\"state_code\\\":\\\"CA\\\",\\\"country_code\\\":\\\"US\\\",\\\"zip\\\":\\\"93101\\\",\\\"phone\\\":\\\"8059835555\\\",\\\"fax\\\":\\\"8059835558\\\",\\\"division\\\":\\\"Engineering\\\",\\\"logo_prostore_file_id\\\":123456}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/offices\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/offices \\\n  --header 'content-type: application/json' \\\n  --data '{\"company_id\":1,\"office\":{\"name\":\"Main Office\",\"address\":\"100 Construction Lane\",\"city\":\"Santa Barbara\",\"state_code\":\"CA\",\"country_code\":\"US\",\"zip\":\"93101\",\"phone\":\"8059835555\",\"fax\":\"8059835558\",\"division\":\"Engineering\",\"logo_prostore_file_id\":123456}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/offices\"),\n    Content = new StringContent(\"{\\\"company_id\\\":1,\\\"office\\\":{\\\"name\\\":\\\"Main Office\\\",\\\"address\\\":\\\"100 Construction Lane\\\",\\\"city\\\":\\\"Santa Barbara\\\",\\\"state_code\\\":\\\"CA\\\",\\\"country_code\\\":\\\"US\\\",\\\"zip\\\":\\\"93101\\\",\\\"phone\\\":\\\"8059835555\\\",\\\"fax\\\":\\\"8059835558\\\",\\\"division\\\":\\\"Engineering\\\",\\\"logo_prostore_file_id\\\":123456}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/offices',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    company_id: '1',\n    office: '{\"name\":\"Main Office\",\"address\":\"100 Construction Lane\",\"city\":\"Santa Barbara\",\"state_code\":\"CA\",\"country_code\":\"US\",\"zip\":\"93101\",\"phone\":\"8059835555\",\"fax\":\"8059835558\",\"division\":\"Engineering\",\"logo\":\"logo.png\"}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"company_id\\\"\\r\\n\\r\\n1\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"office\\\"\\r\\n\\r\\n{\\\"name\\\":\\\"Main Office\\\",\\\"address\\\":\\\"100 Construction Lane\\\",\\\"city\\\":\\\"Santa Barbara\\\",\\\"state_code\\\":\\\"CA\\\",\\\"country_code\\\":\\\"US\\\",\\\"zip\\\":\\\"93101\\\",\\\"phone\\\":\\\"8059835555\\\",\\\"fax\\\":\\\"8059835558\\\",\\\"division\\\":\\\"Engineering\\\",\\\"logo\\\":\\\"logo.png\\\"}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/offices\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/offices \\\n  --header 'content-type: multipart/form-data' \\\n  --form company_id=1 \\\n  --form 'office={\"name\":\"Main Office\",\"address\":\"100 Construction Lane\",\"city\":\"Santa Barbara\",\"state_code\":\"CA\",\"country_code\":\"US\",\"zip\":\"93101\",\"phone\":\"8059835555\",\"fax\":\"8059835558\",\"division\":\"Engineering\",\"logo\":\"logo.png\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/offices\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"1\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"company_id\",\n                }\n            }\n        },\n        new StringContent(\"{\\\"name\\\":\\\"Main Office\\\",\\\"address\\\":\\\"100 Construction Lane\\\",\\\"city\\\":\\\"Santa Barbara\\\",\\\"state_code\\\":\\\"CA\\\",\\\"country_code\\\":\\\"US\\\",\\\"zip\\\":\\\"93101\\\",\\\"phone\\\":\\\"8059835555\\\",\\\"fax\\\":\\\"8059835558\\\",\\\"division\\\":\\\"Engineering\\\",\\\"logo\\\":\\\"logo.png\\\"}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"office\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add logo_prostore_file_id to company office create",
      "description": "Add logo_prostore_file_id to the request body for creating a office.",
      "endpoint": "POST /offices",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-offices?version=1.0#create-company-office"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/offices/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the office",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show company office",
    "description": "Returns information about an Office associated to a Company.",
    "tags": [
     "Company Offices"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Response schema to use",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Office",
         "description": "Office",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Office id",
           "example": 1
          },
          "name": {
           "type": "string",
           "description": "Office name",
           "example": "Main Office"
          },
          "address": {
           "type": "string",
           "description": "Office address",
           "example": "100 Construction Lane"
          },
          "city": {
           "type": "string",
           "description": "Office city",
           "example": "Santa Barbara"
          },
          "state_code": {
           "type": "string",
           "description": "Office state code (ISO-3166 Alpha-2 format)",
           "example": "CA"
          },
          "country_code": {
           "type": "string",
           "description": "Office country code (ISO-3166 Alpha-2 format)",
           "example": "US"
          },
          "zip": {
           "type": "string",
           "description": "Office zip",
           "example": "93101"
          },
          "phone": {
           "type": "string",
           "description": "Office phone",
           "example": "8059831234"
          },
          "fax": {
           "type": "string",
           "description": "Office fax",
           "example": "8059834321"
          },
          "division": {
           "type": "string",
           "description": "Office division",
           "example": "First"
          },
          "logo": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer"
            },
            "name": {
             "type": "string",
             "description": "Use :name, :filename to be deprecated"
            },
            "url": {
             "type": "string"
            },
            "filename": {
             "type": "string",
             "description": ":filename to be deprecated, use :name"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/offices/%7Bid%7D',\n  qs: {company_id: 'SOME_INTEGER_VALUE', view: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/offices/%7Bid%7D?company_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/offices/%7Bid%7D?company_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/offices/%7Bid%7D?company_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added view parameter",
      "description": "Added view parameter.",
      "endpoint": "GET /offices/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2021-10-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-offices?version=1.0#show-company-office"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update company office",
    "description": "Updates an Office associated to a Company.\n\n#### Uploading logo\nTo upload an office logo you must upload whole payload as `multipart/form-data` content-type\nand specify each parameter as form-data together with `office[logo]` as file.\n\n#### Country and State codes\nThe `country_code` and `state_code` parameter values must conform to the ISO-3166 Alpha-2 specification.\nSee [Working with Country Codes](/documentation/country-codes) for additional information.",
    "tags": [
     "Company Offices"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "company_id",
         "office"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "The ID of the Company the Office belongs to"
         },
         "office": {
          "title": "Office",
          "type": "object",
          "description": "Office object",
          "required": [
           "name"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "The Name of the Office"
           },
           "address": {
            "type": "string",
            "description": "The Address of the Office"
           },
           "city": {
            "type": "string",
            "description": "The City of the Office"
           },
           "state_code": {
            "type": "string",
            "description": "The State Code of the Office (ISO-3166 Alpha-2 format)"
           },
           "country_code": {
            "type": "string",
            "description": "The Country Code of the Office (ISO-3166 Alpha-2 format)"
           },
           "zip": {
            "type": "string",
            "description": "The Zip of the Office"
           },
           "phone": {
            "type": "string",
            "description": "The Phone of the Office"
           },
           "fax": {
            "type": "string",
            "description": "The Fax of the Office"
           },
           "division": {
            "type": "string",
            "description": "The Division of the Office"
           },
           "logo_prostore_file_id": {
            "type": "integer",
            "description": "Prostore File ID"
           }
          }
         }
        },
        "example": {
         "company_id": 1,
         "office": {
          "name": "Main Office",
          "address": "100 Construction Lane",
          "city": "Santa Barbara",
          "state_code": "CA",
          "country_code": "US",
          "zip": "93101",
          "phone": "8059835555",
          "fax": "8059835558",
          "division": "Engineering",
          "logo_prostore_file_id": 123456
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "company_id",
         "office"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "The ID of the Company the Office belongs to"
         },
         "office": {
          "title": "Office",
          "type": "object",
          "description": "Office object",
          "required": [
           "name"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "The Name of the Office"
           },
           "address": {
            "type": "string",
            "description": "The Address of the Office"
           },
           "city": {
            "type": "string",
            "description": "The City of the Office"
           },
           "state_code": {
            "type": "string",
            "description": "The State Code of the Office (ISO-3166 Alpha-2 format)"
           },
           "country_code": {
            "type": "string",
            "description": "The Country Code of the Office (ISO-3166 Alpha-2 format)"
           },
           "zip": {
            "type": "string",
            "description": "The Zip of the Office"
           },
           "phone": {
            "type": "string",
            "description": "The Phone of the Office"
           },
           "fax": {
            "type": "string",
            "description": "The Fax of the Office"
           },
           "division": {
            "type": "string",
            "description": "The Division of the Office"
           },
           "logo": {
            "type": "string",
            "format": "binary",
            "description": "A photo file of the Office Logo.\nTo upload an office logo you must upload whole payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `office[logo]` as file."
           }
          }
         }
        },
        "example": {
         "company_id": 1,
         "office": {
          "name": "Main Office",
          "address": "100 Construction Lane",
          "city": "Santa Barbara",
          "state_code": "CA",
          "country_code": "US",
          "zip": "93101",
          "phone": "8059835555",
          "fax": "8059835558",
          "division": "Engineering",
          "logo": "logo.png"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Office",
         "description": "Office",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Office id",
           "example": 1
          },
          "name": {
           "type": "string",
           "description": "Office name",
           "example": "Main Office"
          },
          "address": {
           "type": "string",
           "description": "Office address",
           "example": "100 Construction Lane"
          },
          "city": {
           "type": "string",
           "description": "Office city",
           "example": "Santa Barbara"
          },
          "state_code": {
           "type": "string",
           "description": "Office state code (ISO-3166 Alpha-2 format)",
           "example": "CA"
          },
          "country_code": {
           "type": "string",
           "description": "Office country code (ISO-3166 Alpha-2 format)",
           "example": "US"
          },
          "zip": {
           "type": "string",
           "description": "Office zip",
           "example": "93101"
          },
          "phone": {
           "type": "string",
           "description": "Office phone",
           "example": "8059831234"
          },
          "fax": {
           "type": "string",
           "description": "Office fax",
           "example": "8059834321"
          },
          "division": {
           "type": "string",
           "description": "Office division",
           "example": "First"
          },
          "logo": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer"
            },
            "name": {
             "type": "string",
             "description": "Use :name, :filename to be deprecated"
            },
            "url": {
             "type": "string"
            },
            "filename": {
             "type": "string",
             "description": ":filename to be deprecated, use :name"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/offices/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    company_id: 1,\n    office: {\n      name: 'Main Office',\n      address: '100 Construction Lane',\n      city: 'Santa Barbara',\n      state_code: 'CA',\n      country_code: 'US',\n      zip: '93101',\n      phone: '8059835555',\n      fax: '8059835558',\n      division: 'Engineering',\n      logo_prostore_file_id: 123456\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"company_id\\\":1,\\\"office\\\":{\\\"name\\\":\\\"Main Office\\\",\\\"address\\\":\\\"100 Construction Lane\\\",\\\"city\\\":\\\"Santa Barbara\\\",\\\"state_code\\\":\\\"CA\\\",\\\"country_code\\\":\\\"US\\\",\\\"zip\\\":\\\"93101\\\",\\\"phone\\\":\\\"8059835555\\\",\\\"fax\\\":\\\"8059835558\\\",\\\"division\\\":\\\"Engineering\\\",\\\"logo_prostore_file_id\\\":123456}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/offices/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/offices/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"company_id\":1,\"office\":{\"name\":\"Main Office\",\"address\":\"100 Construction Lane\",\"city\":\"Santa Barbara\",\"state_code\":\"CA\",\"country_code\":\"US\",\"zip\":\"93101\",\"phone\":\"8059835555\",\"fax\":\"8059835558\",\"division\":\"Engineering\",\"logo_prostore_file_id\":123456}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/offices/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"company_id\\\":1,\\\"office\\\":{\\\"name\\\":\\\"Main Office\\\",\\\"address\\\":\\\"100 Construction Lane\\\",\\\"city\\\":\\\"Santa Barbara\\\",\\\"state_code\\\":\\\"CA\\\",\\\"country_code\\\":\\\"US\\\",\\\"zip\\\":\\\"93101\\\",\\\"phone\\\":\\\"8059835555\\\",\\\"fax\\\":\\\"8059835558\\\",\\\"division\\\":\\\"Engineering\\\",\\\"logo_prostore_file_id\\\":123456}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/offices/%7Bid%7D',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    company_id: '1',\n    office: '{\"name\":\"Main Office\",\"address\":\"100 Construction Lane\",\"city\":\"Santa Barbara\",\"state_code\":\"CA\",\"country_code\":\"US\",\"zip\":\"93101\",\"phone\":\"8059835555\",\"fax\":\"8059835558\",\"division\":\"Engineering\",\"logo\":\"logo.png\"}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"company_id\\\"\\r\\n\\r\\n1\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"office\\\"\\r\\n\\r\\n{\\\"name\\\":\\\"Main Office\\\",\\\"address\\\":\\\"100 Construction Lane\\\",\\\"city\\\":\\\"Santa Barbara\\\",\\\"state_code\\\":\\\"CA\\\",\\\"country_code\\\":\\\"US\\\",\\\"zip\\\":\\\"93101\\\",\\\"phone\\\":\\\"8059835555\\\",\\\"fax\\\":\\\"8059835558\\\",\\\"division\\\":\\\"Engineering\\\",\\\"logo\\\":\\\"logo.png\\\"}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/offices/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/offices/%7Bid%7D \\\n  --header 'content-type: multipart/form-data' \\\n  --form company_id=1 \\\n  --form 'office={\"name\":\"Main Office\",\"address\":\"100 Construction Lane\",\"city\":\"Santa Barbara\",\"state_code\":\"CA\",\"country_code\":\"US\",\"zip\":\"93101\",\"phone\":\"8059835555\",\"fax\":\"8059835558\",\"division\":\"Engineering\",\"logo\":\"logo.png\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/offices/%7Bid%7D\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"1\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"company_id\",\n                }\n            }\n        },\n        new StringContent(\"{\\\"name\\\":\\\"Main Office\\\",\\\"address\\\":\\\"100 Construction Lane\\\",\\\"city\\\":\\\"Santa Barbara\\\",\\\"state_code\\\":\\\"CA\\\",\\\"country_code\\\":\\\"US\\\",\\\"zip\\\":\\\"93101\\\",\\\"phone\\\":\\\"8059835555\\\",\\\"fax\\\":\\\"8059835558\\\",\\\"division\\\":\\\"Engineering\\\",\\\"logo\\\":\\\"logo.png\\\"}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"office\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add logo_prostore_file_id to company office update",
      "description": "Add logo_prostore_file_id to the request body for updating a office.",
      "endpoint": "PATCH /offices/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-offices?version=1.0#update-company-office"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete a company office",
    "description": "Deletes an Office associated to a Company.",
    "tags": [
     "Company Offices"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/offices/%7Bid%7D',\n  qs: {company_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/offices/%7Bid%7D?company_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/offices/%7Bid%7D?company_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/offices/%7Bid%7D?company_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}