{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Configurations",
  "x-product-category": "Company Admin",
  "x-tool-category": "Company Settings",
  "x-resource-name": "Company Configurations",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/company_configuration": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Configuration",
    "description": "Returns company configuration.",
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "strict_file_uploading": {
           "type": "boolean",
           "description": "Strict File Uploading Allowed",
           "example": true
          },
          "enable_image_real_time_as_builts": {
           "type": "boolean",
           "description": "Image Real Time As Builts Enabled",
           "example": true
          },
          "currency_symbol": {
           "type": "string",
           "description": "Currency Symbol",
           "example": "$"
          },
          "currency_display": {
           "type": "string",
           "description": "Currency Display",
           "example": "symbol"
          },
          "currency_iso_code": {
           "type": "string",
           "description": "Currency ISO Code",
           "example": "USD"
          },
          "timecard_employees_see_all_projects": {
           "type": "boolean",
           "description": "Timecard Employees Can See All Projects",
           "example": true
          },
          "timesheet_enabled_cost_type": {
           "type": "array",
           "description": "Timesheet IDs With Enabled Cost Type",
           "items": {
            "type": "integer"
           },
           "example": [
            1,
            2,
            3
           ]
          },
          "timesheet_type": {
           "type": "array",
           "description": "Timesheet IDs With Enabled Cost Type",
           "items": {
            "type": "integer"
           },
           "example": [
            1,
            2,
            3
           ]
          },
          "enable_sd_storage": {
           "type": "boolean",
           "description": "SD Storage Enabled",
           "example": true
          },
          "timesheets_custom_signature_text": {
           "type": "string",
           "description": "Timesheets Custom Signature Text",
           "example": "Custom signature text"
          },
          "timesheets_week_start_day": {
           "type": "integer",
           "description": "Timesheets Week Starting Day",
           "example": 1
          },
          "use_24_hour_mode": {
           "type": "boolean",
           "description": "Use 24 Hour Clock",
           "example": true
          },
          "timesheets_tab_enabled": {
           "type": "boolean",
           "description": "Timesheets Tab Enabled",
           "example": true
          },
          "timecard_should_track_location": {
           "type": "array",
           "description": "Projects whose configuration has track_timecard_location equals to true",
           "items": {
            "type": "integer"
           }
          },
          "projects_timecard_in_out_enabled": {
           "type": "array",
           "description": "Projects Timecard In Out Enabled",
           "items": {
            "type": "integer"
           }
          },
          "rounding_configuration": {
           "type": "object",
           "nullable": true,
           "description": "Rounding Configuration",
           "properties": {
            "rule": {
             "type": "string",
             "description": "Rounding Rule",
             "example": "up"
            },
            "time_increment": {
             "type": "integer",
             "example": 5
            }
           }
          },
          "time_and_materials_company_config": {
           "type": "object",
           "nullable": true,
           "description": "Time and Materials Company Config",
           "properties": {
            "materials_enabled": {
             "type": "boolean",
             "example": true
            },
            "labor_enabled": {
             "type": "boolean",
             "example": true
            },
            "equipment_enabled": {
             "type": "boolean",
             "example": true
            },
            "subcontractors_enabled": {
             "type": "boolean",
             "example": true
            }
           }
          },
          "projects_timecard_default_lunch_time": {
           "type": "array",
           "description": "Project Configurations whose timecard_default_lunch_time is not nil",
           "items": {
            "type": "object",
            "properties": {
             "project_id": {
              "type": "integer",
              "description": "ID of the project",
              "example": 1234
             },
             "timecard_default_lunch_time": {
              "type": "integer",
              "description": "Timecard default lunch time in minutes",
              "minimum": 0,
              "maximum": 60,
              "example": 60
             }
            }
           }
          },
          "projects_timecard_default_start_time": {
           "type": "array",
           "description": "Project Configurations whose timecard_default_start_time is not nil",
           "items": {
            "type": "object",
            "properties": {
             "project_id": {
              "type": "integer",
              "description": "ID of the project",
              "example": 1234
             },
             "timecard_default_start_time": {
              "type": "string",
              "description": "Timecard default start time in format HH:MM",
              "default": "8:00"
             }
            }
           }
          },
          "projects_timecard_default_stop_time": {
           "type": "array",
           "description": "Project Configurations whose timecard_default_stop_time is not nil",
           "items": {
            "type": "object",
            "properties": {
             "project_id": {
              "type": "integer",
              "description": "ID of the project",
              "example": 1234
             },
             "timecard_default_stop_time": {
              "type": "string",
              "description": "Timecard default stop time in format HH:MM",
              "default": "17:00"
             }
            }
           }
          },
          "projects_timecard_lunch_time_tracking": {
           "type": "array",
           "description": "Project Configurations whose timecard_lunch_time_tracking is not nil",
           "items": {
            "type": "object",
            "properties": {
             "project_id": {
              "type": "integer",
              "description": "ID of the project",
              "example": 1234
             },
             "timecard_lunch_time_tracking": {
              "type": "string",
              "description": "Timecard lunch time tracking",
              "example": "total_time"
             }
            }
           }
          },
          "task_codes_enabled": {
           "type": "boolean",
           "description": "Task codes enabled",
           "example": true
          },
          "timecard_employees_can_select_non_budgeted_items": {
           "type": "array",
           "description": "Timecard Employees can select non budgeted items",
           "items": {
            "type": "integer"
           }
          },
          "timecards_private": {
           "type": "boolean",
           "description": "Timecards private by default",
           "example": true
          },
          "timesheet_default_cost_type_id": {
           "type": "integer",
           "description": "Company Timesheet Budget Configuration default line item type id for non-erp integrated projects",
           "example": 12
          },
          "timesheet_erp_default_cost_type_id": {
           "type": "integer",
           "description": "Company Timesheet Budget Configuration default line item type id for erp integrated projects",
           "example": 13
          },
          "timesheet_equipment_default_cost_type_id": {
           "type": "integer",
           "description": "Company Timesheet Budget Configuration default equipment line item type id for non-erp integrated projects",
           "example": 14
          },
          "timesheet_equipment_erp_default_cost_type_id": {
           "type": "integer",
           "description": "Company Timesheet Budget Configuration default equipment line item type id for erp integrated projects",
           "example": 15
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Error Code",
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Error Message",
             "example": "Missing Project or Company ID"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/company_configuration',\n  qs: {company_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/company_configuration?company_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/company_configuration?company_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/company_configuration?company_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add currency_display and currency_iso_code fields",
      "description": "Adds the \"currency_display\" and \"currency_iso_code\" string fields",
      "endpoint": "GET /company_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-04-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-configurations?version=1.0#show-company-configuration"
     },
     {
      "summary": "Add timesheet_equipment_default_cost_type_id and timesheet_equipment_erp_default_cost_type_id fields",
      "description": "Adds the \"timesheet_equipment_default_cost_type_id\" and \"timesheet_equipment_erp_default_cost_type_id\" integer fields",
      "endpoint": "GET /company_configuration",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-configurations?version=1.0#show-company-configuration"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}