{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Security Settings",
  "x-product-category": "Company Admin",
  "x-tool-category": "Company Settings",
  "x-resource-name": "Company Security Settings",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/company_security_settings": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Security Settings",
    "description": "Show Company Security Settings for Admin user.",
    "tags": [
     "Company Security Settings"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "enable_login_lockout": {
             "type": "boolean",
             "description": "Lock out after 3 failed sign in attempts.",
             "example": true
            },
            "password_reset_after": {
             "type": "integer",
             "nullable": true,
             "description": "Password expiration in minutes.",
             "example": 60
            },
            "session_timeout": {
             "type": "integer",
             "nullable": true,
             "description": "Session timeout in minutes.",
             "example": 15
            },
            "enforce_password_reset_by_email": {
             "type": "boolean",
             "description": "Enforce password resets via email.",
             "example": false
            },
            "is_pin_required_for_jit": {
             "type": "boolean",
             "description": "Is PIN required for JIT",
             "example": false
            },
            "password_security_url": {
             "type": "string",
             "description": "Full URL path to the zone-specific Password Security Settings page",
             "example": "https://us02.procore.com/123/company/home/password_security"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/company_security_settings'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/company_security_settings\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/company_security_settings"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/company_security_settings\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Show Company Security Settings",
      "description": "Fetches company security settings to display on General Settings page.",
      "endpoint": "GET /companies/{company_id}/company_security_settings",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-11-05",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-security-settings?version=2.0#show-company-security-settings"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}