{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Bid Packages",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Management",
  "x-resource-name": "Company Bid Packages",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/bid_packages/{bid_package_id}/correspondences": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_package_id",
     "in": "path",
     "description": "Bid Package ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Correspondences",
    "description": "Return a list of all Correspondences for a Bid Package.",
    "tags": [
     "Correspondences"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Correspondences",
         "items": {
          "allOf": [
           {
            "type": "object",
            "title": "Correspondence",
            "description": "Correspondence",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 94529
             },
             "bid_package_id": {
              "type": "integer",
              "description": "Bid package ID",
              "example": 91011
             },
             "bid_package_title": {
              "type": "string",
              "description": "Bid package title",
              "example": "Ocean Home Bid Package"
             },
             "created_at": {
              "type": "string",
              "description": "Correspondence created-at",
              "example": "Monday, May 14, 2018 at 11:31 am"
             },
             "subject": {
              "type": "string",
              "description": "Subject within Correspondence",
              "example": "Ocean Home 9171"
             }
            }
           },
           {
            "type": "object",
            "title": "Correspondence",
            "description": "Correspondence",
            "properties": {
             "attachments": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "File ID",
                 "example": 1
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "contract.pdf"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com"
                },
                "filename": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "deprecated": true,
                 "example": "contract.pdf"
                },
                "content_type": {
                 "type": "string",
                 "description": "A mime type or a file extension",
                 "example": "application/pdf"
                },
                "share_url": {
                 "type": "string",
                 "description": "Shareable URL(enabled on company level) or file URL",
                 "example": "https://storage.procore.com"
                },
                "viewable_type": {
                 "type": "string",
                 "description": "Document type",
                 "enum": [
                  "document",
                  "document_pending",
                  "image",
                  "mp4",
                  "default"
                 ],
                 "example": "default"
                },
                "viewable_url": {
                 "type": "string",
                 "description": "Viewable document URL",
                 "example": "https://app.procore.com/"
                }
               }
              }
             },
             "message": {
              "type": "string",
              "description": "Body of Correspondence",
              "example": "Please note new revision of Ocean Home 9171"
             },
             "recipients": {
              "type": "array",
              "description": "List of recipient names Correspondence was sent to",
              "example": [
               "Hector Jimenez",
               "Mike Wazny"
              ],
              "items": {
               "type": "string",
               "description": "Recipient name",
               "example": "Jane Doe"
              }
             },
             "from": {
              "type": "object",
              "properties": {
               "first": {
                "type": "string",
                "description": "Recipients first name",
                "example": "John"
               },
               "last": {
                "type": "string",
                "description": "Recipients last name",
                "example": "Doe"
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/bid_packages/{bid_package_id}/correspondences/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_package_id",
     "in": "path",
     "description": "Bid Package ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Correspondence ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Correspondence",
    "description": "Return Correspondence detailed information.",
    "tags": [
     "Correspondences"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "title": "Correspondence",
           "description": "Correspondence",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 94529
            },
            "bid_package_id": {
             "type": "integer",
             "description": "Bid package ID",
             "example": 91011
            },
            "bid_package_title": {
             "type": "string",
             "description": "Bid package title",
             "example": "Ocean Home Bid Package"
            },
            "created_at": {
             "type": "string",
             "description": "Correspondence created-at",
             "example": "Monday, May 14, 2018 at 11:31 am"
            },
            "subject": {
             "type": "string",
             "description": "Subject within Correspondence",
             "example": "Ocean Home 9171"
            }
           }
          },
          {
           "type": "object",
           "title": "Correspondence",
           "description": "Correspondence",
           "properties": {
            "attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "File ID",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "Base name of the file without its path",
                "example": "contract.pdf"
               },
               "url": {
                "type": "string",
                "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                "example": "https://storage.procore.com"
               },
               "filename": {
                "type": "string",
                "description": "Base name of the file without its path",
                "deprecated": true,
                "example": "contract.pdf"
               },
               "content_type": {
                "type": "string",
                "description": "A mime type or a file extension",
                "example": "application/pdf"
               },
               "share_url": {
                "type": "string",
                "description": "Shareable URL(enabled on company level) or file URL",
                "example": "https://storage.procore.com"
               },
               "viewable_type": {
                "type": "string",
                "description": "Document type",
                "enum": [
                 "document",
                 "document_pending",
                 "image",
                 "mp4",
                 "default"
                ],
                "example": "default"
               },
               "viewable_url": {
                "type": "string",
                "description": "Viewable document URL",
                "example": "https://app.procore.com/"
               }
              }
             }
            },
            "message": {
             "type": "string",
             "description": "Body of Correspondence",
             "example": "Please note new revision of Ocean Home 9171"
            },
            "recipients": {
             "type": "array",
             "description": "List of recipient names Correspondence was sent to",
             "example": [
              "Hector Jimenez",
              "Mike Wazny"
             ],
             "items": {
              "type": "string",
              "description": "Recipient name",
              "example": "Jane Doe"
             }
            },
            "from": {
             "type": "object",
             "properties": {
              "first": {
               "type": "string",
               "description": "Recipients first name",
               "example": "John"
              },
              "last": {
               "type": "string",
               "description": "Recipients last name",
               "example": "Doe"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bbid_package_id%7D/correspondences/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/bid_packages/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Bid Package",
    "description": "Return Bid Package detailed information.",
    "tags": [
     "Bid Packages"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "accept_post_due_submissions": {
           "type": "boolean",
           "description": "Accepts bid post due submissions",
           "example": false
          },
          "accounting_method": {
           "type": "string",
           "description": "Bid package accounting method, either 'amount' or 'unit'",
           "example": "unit"
          },
          "allow_bidder_sum": {
           "type": "boolean",
           "description": "Allow lump sum bidding",
           "example": false
          },
          "project_currency_iso_code": {
           "type": "string",
           "description": "The ISO code of the project's currency (e.g., 'USD', 'EUR')",
           "example": "USD"
          },
          "project_currency_display": {
           "type": "string",
           "description": "The display format of the project's currency (e.g., '$', '\u20ac')",
           "example": "$"
          },
          "anticipated_award_date": {
           "type": "string",
           "format": "date",
           "description": "Anticipated award date",
           "example": "2016-12-13",
           "nullable": true
          },
          "bidding_countdown_email_days": {
           "type": "integer",
           "description": "Days before sending countdown email",
           "example": 2,
           "nullable": true
          },
          "bid_docs_manifest": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 5324
            },
            "streaming_url": {
             "type": "string",
             "description": "Link to the bid package zip file",
             "example": "https://<server>/download?uuid=<id>"
            }
           }
          },
          "bid_due_date": {
           "type": "string",
           "description": "Due date",
           "format": "date-time",
           "example": "2016-12-13T03:00:00Z"
          },
          "bid_email_message": {
           "type": "string",
           "description": "Information displayed in emails for Bidders",
           "example": "Procore would like to invite you to bid on new campus."
          },
          "bid_emails_include_link_to_bidding_documents": {
           "type": "boolean",
           "description": "Include link to download zipped bidding documents in the Bid Invitation email",
           "example": false
          },
          "bid_submission_confirmation": {
           "type": "string",
           "description": "Bid Package submission confirmation text",
           "example": "Your Bid Has Been Successfully Submitted",
           "nullable": true
          },
          "bid_web_message": {
           "type": "string",
           "description": "Bid Package instructions for Bidder",
           "example": "Please reach out to our help desk if you need assistance with bidding."
          },
          "blind_bidding": {
           "type": "boolean",
           "description": "Enable blind bidding",
           "example": false
          },
          "created_by": {
           "type": "object",
           "properties": {
            "email": {
             "type": "string",
             "description": "Email",
             "example": "john.doe@example.com"
            },
            "first": {
             "type": "string",
             "description": "First name",
             "example": "John"
            },
            "last": {
             "type": "string",
             "description": "First name",
             "example": "Doe"
            },
            "numbers": {
             "type": "string",
             "description": "Phone numbers",
             "example": "512-555-5555"
            }
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Array of the distribution members",
           "items": {
            "type": "object",
            "properties": {
             "email": {
              "type": "string",
              "description": "Contact email",
              "example": "john.doe@example.com"
             },
             "first": {
              "type": "string",
              "description": "Contact first name",
              "example": "John"
             },
             "last": {
              "type": "string",
              "description": "Contact last name",
              "example": "Doe"
             },
             "numbers": {
              "type": "string",
              "description": "Contact numbers",
              "example": "512-555-5555"
             }
            }
           }
          },
          "display_project_name": {
           "type": "boolean",
           "description": "Display Project Name",
           "example": false
          },
          "bid_form_sections_enabled": {
           "type": "boolean",
           "description": "Bid Form Sections Enabled",
           "example": true
          },
          "flexible_response_types_enabled": {
           "type": "boolean",
           "description": "Flexible Response Types Enabled",
           "example": true
          },
          "distribution_member_ids": {
           "type": "array",
           "description": "Array of distribution member ids",
           "items": {
            "type": "integer",
            "description": "Distribution member id",
            "example": 123
           }
          },
          "enable_countdown_emails": {
           "type": "boolean",
           "description": "Enable countdown emails",
           "example": false
          },
          "enable_prebid_rfi_deadline": {
           "type": "boolean",
           "description": "Enable prebid RFI deadline",
           "example": false
          },
          "enable_prebid_walkthrough": {
           "type": "boolean",
           "description": "Enable prebid walkthrough",
           "example": false
          },
          "has_any_bid_invited": {
           "type": "boolean",
           "description": "Has any Bid been Invited",
           "example": true
          },
          "has_bids_sent_nda": {
           "type": "boolean",
           "description": "Have any Bidders been sent NDA",
           "example": true
          },
          "has_no_nda_activity": {
           "type": "boolean",
           "description": "Has no Non-Disclosure Agreement activity",
           "example": false
          },
          "nda_invited_bids_with_activity_count": {
           "type": "integer",
           "description": "Bids count with Non-Disclosure Agreement activity like viewed, declined or downloaded",
           "example": 2
          },
          "attachments_zip_streaming_url": {
           "type": "string",
           "description": "Streaming URL to download all attachments. It's an optional parameter when the require non-disclosure agreement is on.",
           "example": "http://www.example.com/"
          },
          "hidden": {
           "type": "boolean",
           "description": "Whether or not the bid package has been recycled",
           "example": true
          },
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "links": {
           "type": "object",
           "description": "Links that can be used by Frontend",
           "properties": {
            "add_vendor": {
             "type": "string",
             "example": "/159/project/bid_packages/75/vendors"
            },
            "analyticsEventsPath": {
             "type": "string",
             "example": "/rest/v1.0/analytic_events"
            },
            "attach_documents": {
             "type": "string",
             "example": "/159/project/bid_packages/75/attachments"
            },
            "bid_list": {
             "type": "string",
             "example": "/159/project/bid_packages/75/bidders"
            },
            "bid_packages": {
             "type": "string",
             "example": "/rest/v1.0/projects/159/bid_packages"
            },
            "bid_packages_by_project": {
             "type": "string",
             "example": "/159/project/bid_packages/75/search_for_bidders/filter_options/copy_bid_list_from"
            },
            "bulk_create_bids": {
             "type": "string",
             "example": "/159/project/bid_packages/75/bids/bulk_create"
            },
            "cost_codes": {
             "type": "string",
             "example": "/159/project/bid_packages/75/search_for_bidders/filter_options/standard_cost_codes"
            },
            "overview": {
             "type": "string",
             "example": "/159/project/bid_packages/75/overview"
            },
            "permission_templates": {
             "type": "string",
             "example": "/159/project/bid_packages/permission_templates"
            },
            "submit": {
             "type": "string",
             "example": "/159/project/bidding/bid_packages/75/add_to_bid_list"
            },
            "trades": {
             "type": "string",
             "example": "/159/project/bid_packages/75/search_for_bidders/filter_options/trades"
            },
            "vendors": {
             "type": "string",
             "example": "/159/project/bid_packages/75/vendors"
            }
           }
          },
          "lump_sum_bidding": {
           "type": "boolean",
           "description": "Lump Sum Bidding Enabled",
           "example": true
          },
          "manager": {
           "type": "object",
           "properties": {
            "login_information_id": {
             "type": "integer",
             "description": "Login Information ID",
             "example": 67
            },
            "contact_id": {
             "type": "integer",
             "description": "Contact ID",
             "example": 345
            },
            "name": {
             "type": "string",
             "description": "Manager Name",
             "example": "John Doe"
            },
            "email": {
             "type": "string",
             "description": "Manager Email",
             "example": null
            },
            "job_title": {
             "type": "string",
             "description": "Manager Job Title",
             "example": "Estimator"
            },
            "invited": {
             "type": "boolean",
             "description": "User Invited",
             "example": true
            },
            "vendor": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Vendor ID",
               "example": 123
              },
              "name": {
               "type": "string",
               "description": "Vendor name",
               "example": "Vendor Name"
              }
             }
            }
           }
          },
          "nda_attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "ID",
              "example": "123"
             },
             "item_type": {
              "type": "string",
              "description": "Item Type",
              "example": "BidPackage"
             },
             "item_id": {
              "type": "string",
              "description": "Item ID",
              "example": "123"
             },
             "prostore_file_id": {
              "type": "string",
              "description": "Prostore File ID",
              "example": "123"
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "https://procoretech-qa.com/v2/d/default/prostore-thumbnail-bucket/453550640"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "NDA.pdf"
             }
            }
           }
          },
          "number": {
           "type": "integer",
           "description": "Bid Package Number",
           "example": 46,
           "nullable": true
          },
          "open": {
           "type": "boolean",
           "description": "Whether or not the bid package is active",
           "example": true
          },
          "point_of_contact": {
           "type": "object",
           "properties": {
            "email": {
             "type": "string",
             "description": "A person's email",
             "example": "john.doe@example.com"
            },
            "first": {
             "type": "string",
             "description": "A person's name",
             "example": "John"
            },
            "last": {
             "type": "string",
             "description": "A person's last name",
             "example": "Doe"
            },
            "numbers": {
             "type": "string",
             "description": "A person's phone numbers",
             "example": "5432132345"
            }
           }
          },
          "point_of_contact_login_id": {
           "type": "integer",
           "description": "Point of contact ID",
           "example": 123,
           "nullable": true
          },
          "pre_bid_rfi_deadline_date": {
           "type": "string",
           "format": "date-time",
           "description": "Prebid RFI deadline date",
           "example": "2016-12-13T03:00:00Z",
           "nullable": true
          },
          "pre_bid_walk_through_date": {
           "type": "string",
           "description": "Scheduled pre-bid walkthrough date",
           "format": "date-time",
           "example": "2016-12-13T03:00:00Z",
           "nullable": true
          },
          "pre_bid_walk_through_notes": {
           "type": "string",
           "description": "Pre-bid walkthrough notes",
           "example": "So Many Potential Change Orders",
           "nullable": true
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 2342
          },
          "project_image_url": {
           "type": "string",
           "description": "Link to project image",
           "example": "https://procoretech-qa.com/v2/d/default/prostore-thumbnail-bucket/453550640",
           "nullable": true
          },
          "project_logo_name": {
           "type": "string",
           "description": "Name of the project's logo file",
           "example": "procore-logo.png",
           "nullable": true
          },
          "project_logo_url": {
           "type": "string",
           "description": "Link to project logo image",
           "example": "https://procoretech-qa.com/v2/d/default/prostore-thumbnail-bucket/453550640",
           "nullable": true
          },
          "project_latitude": {
           "type": "string",
           "description": "Latitude of project location",
           "example": -119.490849179262,
           "nullable": true
          },
          "project_location": {
           "type": "string",
           "description": "Address of bid package project",
           "example": "123 Campus Way Carpinteria CA 91303"
          },
          "project_longitude": {
           "type": "string",
           "description": "Longtitude of project location",
           "example": 34.385046412363,
           "nullable": true
          },
          "project_name": {
           "type": "string",
           "description": "Name of bid package project",
           "example": "Procore Campus"
          },
          "require_nda": {
           "type": "boolean",
           "description": "Require Non-Disclosure Agreement",
           "example": false
          },
          "sealed": {
           "type": "boolean",
           "description": "Enabled sealed bidding",
           "example": false
          },
          "show_bid_info": {
           "type": "boolean",
           "description": "Show bid info",
           "example": false
          },
          "submitted_bids_count": {
           "type": "integer",
           "description": "Number bids submitted",
           "example": 2
          },
          "title": {
           "type": "string",
           "description": "Title",
           "example": "Procore Sky Campus"
          },
          "enable_public_discovery": {
           "type": "boolean",
           "description": "Whether the bid package is discoverable by the public",
           "example": false,
           "nullable": true
          },
          "primary_slug_with_ids": {
           "type": "string",
           "description": "Primary public slug for the bid package with company ID and bid package ID prefix \n(format: {company_id}_{bid_package_id}_{slug}). Used in public URLs. \nAuto-generated from title when created or when title is updated.\n\n**Uniqueness:** Guaranteed by the {company_id}_{bid_package_id} prefix, even if \nmultiple bid packages have identical titles. The slug portion may change if the \ntitle is updated.",
           "example": "123_456_procore-sky-campus",
           "nullable": true
          },
          "pre_bid_meeting_location": {
           "type": "string",
           "description": "Location for the pre-bid meeting",
           "example": "123 Main St, Conference Room A, Austin, TX 78701",
           "nullable": true
          },
          "pre_bid_meeting_date": {
           "type": "string",
           "format": "date-time",
           "description": "Date and time for the pre-bid meeting in UTC (ISO 8601 format)",
           "example": "2025-10-20T14:00:00Z",
           "nullable": true
          },
          "pre_bid_meeting_online_link": {
           "type": "string",
           "description": "Online meeting link for the pre-bid meeting",
           "example": "https://example.com",
           "nullable": true
          },
          "pre_bid_meeting_notes": {
           "type": "string",
           "description": "Notes for the pre-bid meeting",
           "example": "Please bring safety equipment and hard hats",
           "nullable": true
          },
          "public_project_funding_source": {
           "type": "string",
           "description": "Source of funding for the public project, either 'private' or 'public'",
           "example": "public",
           "nullable": true
          },
          "show_location_for_nda_projects": {
           "type": "boolean",
           "description": "Whether the location for the NDA project is shown",
           "example": false
          },
          "public_bid_opening_details_date": {
           "type": "string",
           "format": "date-time",
           "description": "Date and time for the public bid opening in UTC (ISO 8601 format)",
           "example": "2025-10-20T14:00:00Z",
           "nullable": true
          },
          "public_bid_opening_details_location": {
           "type": "string",
           "description": "Location for the public bid opening",
           "example": "City Hall, Room 301, Austin, TX 78701",
           "nullable": true
          },
          "public_bid_opening_details_online_link": {
           "type": "string",
           "format": "uri",
           "description": "Online link for the public bid opening",
           "example": "https://example.com",
           "nullable": true
          },
          "trades_and_services": {
           "type": "array",
           "description": "Array of trades and services",
           "items": {
            "type": "object",
            "properties": {
             "trade_level": {
              "type": "string",
              "description": "The level of the PCN trade classification",
              "example": "Division",
              "nullable": true
             },
             "trade_path": {
              "type": "string",
              "description": "The hierarchical path of the PCN trade",
              "example": "03 - Concrete",
              "nullable": true
             },
             "trade_key": {
              "type": "string",
              "description": "The unique key identifier for the PCN trade",
              "example": "03000",
              "nullable": true
             }
            }
           }
          },
          "business_classifications": {
           "type": "array",
           "description": "Array of business classifications",
           "items": {
            "type": "object",
            "properties": {
             "classification_name": {
              "type": "string",
              "description": "The full name of the business classification",
              "example": "Asian American Business",
              "nullable": true
             },
             "classification_abbreviation": {
              "type": "string",
              "description": "The abbreviated form of the business classification",
              "example": "ABE",
              "nullable": true
             },
             "classification_key": {
              "type": "string",
              "description": "The unique key identifier for the business classification",
              "example": "ABE",
              "nullable": true
             }
            }
           }
          },
          "lock_unit_fields_base_bid": {
           "type": "boolean",
           "description": "Lock unit fields for all base bid items (global setting for new bid forms)",
           "example": false,
           "default": false
          },
          "lock_quantity_fields_base_bid": {
           "type": "boolean",
           "description": "Lock quantity fields for all base bid items (global setting for new bid forms)",
           "example": false,
           "default": false
          },
          "lock_unit_fields_alternates": {
           "type": "boolean",
           "description": "Lock unit fields for all alternate items (global setting for new bid forms)",
           "example": false,
           "default": false
          },
          "lock_quantity_fields_alternates": {
           "type": "boolean",
           "description": "Lock quantity fields for all alternate items (global setting for new bid forms)",
           "example": false,
           "default": false
          },
          "has_pdm_documents": {
           "type": "boolean",
           "description": "Whether the bid package has any PDM documents",
           "example": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bid_form_sections_enabled field in Response",
      "description": "Added bid_form_sections_enabled boolean flag to the bid package response",
      "endpoint": "GET /companies/{company_id}/bid_packages/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-bid-packages?version=1.0#show-bid-package"
     },
     {
      "summary": "Added flexible_response_types_enabled field in Response",
      "description": "Added flexible_response_types_enabled boolean flag to the bid package response",
      "endpoint": "GET /companies/{company_id}/bid_packages/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-bid-packages?version=1.0#show-bid-package"
     },
     {
      "summary": "Added currency configuration fields",
      "description": "Added two new fields to support currency configuration:\n- `project_currency_iso_code`: The ISO code of the project's currency (e.g., 'USD', 'EUR')\n- `project_currency_display`: The display format of the project's currency (e.g., '$', '\u20ac')",
      "endpoint": "GET /companies/{company_id}/bid_packages/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-05-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-bid-packages?version=1.0#show-bid-package"
     },
     {
      "summary": "Added public discovery and PCN classification fields",
      "description": "Added new fields to bid package show responses:\n- `enable_public_discovery`: Boolean flag for public bid package discoverability\n- `primary_slug_with_ids`: Primary public slug with company ID and bid package ID prefix (format: {company_id}_{bid_package_id}_{slug}, auto-generated from title)\n- `pre_bid_meeting_location`: Location for the pre-bid meeting\n- `pre_bid_meeting_date`: Date and time for the pre-bid meeting\n- `pre_bid_meeting_online_link`: Online meeting link for the pre-bid meeting\n- `pre_bid_meeting_notes`: Notes for the pre-bid meeting\n- `public_project_funding_source`: Source of funding for the public project, either 'private' or 'public'\n- `show_location_for_nda_projects`: Whether the location for the NDA project is shown\n- `public_bid_opening_details_date`: Date and time for the public bid opening\n- `public_bid_opening_details_location`: Location for the public bid opening\n- `public_bid_opening_details_online_link`: Online link for the public bid opening\n- `trades_and_services`: Array of PCN trade classifications with trade_level, trade_path, and trade_key\n- `business_classifications`: Array of business classifications with classification_name, classification_abbreviation, and classification_key",
      "endpoint": "GET /companies/{company_id}/bid_packages/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-bid-packages?version=1.0#show-bid-package"
     },
     {
      "summary": "Added has_pdm_documents field in Response",
      "description": "Added `has_pdm_documents` boolean to indicate if a bid package has any PDM documents.",
      "endpoint": "GET /companies/{company_id}/bid_packages/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-01-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-bid-packages?version=1.0#show-bid-package"
     },
     {
      "summary": "Added project logo fields in Response",
      "description": "Added two new fields to support project logo display:\n- `project_logo_name`: The file name of the project logo (e.g., 'logo.png')\n- `project_logo_url`: The URL to access the project logo (e.g., 'http://www.example.com/logo.png'). This will default to the Procore logo if the project does not have a custom logo.",
      "endpoint": "GET /companies/{company_id}/bid_packages/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-02-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-bid-packages?version=1.0#show-bid-package"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/bid_packages": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "page",
     "in": "query",
     "description": "Page",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "per_page",
     "in": "query",
     "description": "Elements per page",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "sort",
     "in": "query",
     "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
     "schema": {
      "type": "string",
      "enum": [
       "bid_package_name",
       "project_name",
       "bid_due_date",
       "bids_sent",
       "bids_received"
      ]
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Bid Packages",
    "description": "Return a list of Bid Packages for a Company.",
    "tags": [
     "Bid Packages"
    ],
    "responses": {
     "200": {
      "description": "Bid Packages listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "bidPackages": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "project_id": {
              "type": "integer",
              "description": "Unique identifier for the project.",
              "example": 2342
             },
             "bid_due_date": {
              "type": "string",
              "description": "Due date",
              "format": "date-time",
              "example": "2016-12-13T03:00:00Z"
             },
             "number": {
              "type": "integer",
              "description": "Bid Package Number",
              "example": 46,
              "nullable": true
             },
             "title": {
              "type": "string",
              "description": "Title",
              "example": "Procore Sky Campus"
             },
             "project_name": {
              "type": "string",
              "description": "Name of bid package project",
              "example": "Procore Campus"
             },
             "project_location": {
              "type": "string",
              "description": "Address of bid package project",
              "example": "123 Campus Way Carpinteria CA 91303"
             },
             "accounting_method": {
              "type": "string",
              "description": "Bid package accounting method, either 'amount' or 'unit'",
              "example": "unit"
             },
             "formatted_bid_due_date": {
              "type": "string",
              "description": "This is the date at which bids are due for this bid package",
              "example": "Thu Aug 23, 2018 at 01:00 am PDT <br /> Bid was Due over 2 years ago"
             },
             "links": {
              "type": "object",
              "description": "Links that can be used by Frontend",
              "properties": {
               "self": {
                "type": "string",
                "example": "/rest/v1.0/companies/16/bid_packages/38"
               },
               "bid": {
                "type": "string",
                "example": "/rest/v1.0/companies/16/bids/67?view=planroom_redesign",
                "nullable": true
               },
               "bid_pdf": {
                "type": "string",
                "example": "/rest/v1.0/companies/16/bids/67.pdf",
                "nullable": true
               },
               "bid_list": {
                "type": "string",
                "example": "/17/project/bidding/bid_packages/39/bid_list?subtab=bid_list"
               },
               "emails": {
                "type": "string",
                "example": "/rest/v1.0/companies/16/bids/67/communications",
                "nullable": true
               },
               "addendums": {
                "type": "string",
                "example": "/rest/v1.0/companies/16/bid_packages/39/correspondences"
               },
               "files": {
                "type": "string",
                "example": ""
               }
              }
             },
             "allow_bidder_sum": {
              "type": "boolean",
              "description": "TODO",
              "example": false
             },
             "accept_post_due_submissions": {
              "type": "boolean",
              "example": true
             },
             "sealed": {
              "type": "boolean",
              "example": false
             },
             "bid_invites_sent_count": {
              "type": "number",
              "example": 2
             },
             "bids_received_count": {
              "type": "number",
              "example": 0
             },
             "enable_prebid_walkthrough": {
              "type": "boolean",
              "example": false
             },
             "enable_prebid_rfi_deadline": {
              "type": "boolean",
              "example": false
             },
             "pre_bid_rfi_deadline_date": {
              "type": "string",
              "example": "Thursday, August 23, 2018 at 01:00 am PDT"
             },
             "formatted_bid_web_message": {
              "type": "string",
              "example": "<p>&nbsp; &nbsp; &nbsp;If you need assistance accessing the bid documents, please email Procore's customer support department at support@example.com, and one of their support representatives will provide you with assistance.</p>\r\n<p><span class=\"mceitemhidden\">&nbsp; </span></p>\r\n<p><span class=\"mceitemhidden\">&nbsp; &nbsp; &nbsp;KP Construction [TEST[ looks forward to the opportunity to work with your project team in our new bidding process.</span></p>"
             },
             "formatted_bid_email_message": {
              "type": "string",
              "example": "<p><span class=\"mceitemhidden\">&nbsp; &nbsp; &nbsp;KP Construction [TEST[ would like to&nbsp;invite you to participate in the bidding process for this construction project by utilizing our Construction Project Management Software, &ldquo;Procore.&rdquo; Procore helps to streamline the bidding process by allowing bid invitee&rsquo;s to download relevant bid documents and submit their bids electronically. In this system, all electronic correspondence is tracked and archived, and bidders are provided with the most up to date information available for the project.&nbsp; We feel that this tool will simplify the bidding process for your project team by cutting down on the amount of filing and paperwork that typically accompanies bid management.&nbsp;</span></p>"
             },
             "formatted_pre_bid_walk_through_notes": {
              "type": "string",
              "example": "",
              "nullable": true
             },
             "has_bid_docs": {
              "type": "boolean",
              "example": false
             },
             "user_bid_id": {
              "type": "integer",
              "example": 24259822,
              "nullable": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid_packages?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Bid Packages list endpoint",
      "description": "The new Bid Packages list endpoint will successfully return a list of bid packages associated with a company.",
      "endpoint": "GET /companies/{company_id}/bid_packages",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-bid-packages?version=1.0#list-bid-packages"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}