{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Schedule",
  "x-product-category": "Company Admin",
  "x-tool-category": "Company Settings",
  "x-resource-name": "Company Schedule",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/schedule/summary": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Return company schedule summary",
    "description": "Returns a list of the number of tasks and calendar items per project for each day in the specified date range.\nTasks and calendar items whose start - finish overlap with the specified date range are included in the sums.",
    "tags": [
     "Company Schedule"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "after",
      "in": "query",
      "description": "Beginning of date range to filter by.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "before",
      "in": "query",
      "description": "End of date range to filter by",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "limit_per_day",
      "in": "query",
      "description": "Number of results to return per day",
      "schema": {
       "type": "integer",
       "default": 4
      }
     },
     {
      "name": "project_ids",
      "in": "query",
      "description": "Filter by project IDs",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "project_stage_ids",
      "in": "query",
      "description": "Filter by project stage IDs",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "project_type_ids",
      "in": "query",
      "description": "Filter by project type IDs",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "project_department_ids",
      "in": "query",
      "description": "Filter by project department IDs",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "project_office_ids",
      "in": "query",
      "description": "Filter by project office IDs",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "project_region_ids",
      "in": "query",
      "description": "Filter by project region IDs",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "project_owner_type_ids",
      "in": "query",
      "description": "Filter by project owner type IDs",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "program_ids",
      "in": "query",
      "description": "Filter by project program IDs",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "resource_ids",
      "in": "query",
      "description": "Filter by resource IDs",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "sort_key",
      "in": "query",
      "description": "Sort results by a property of projects. Defaults to descending project_event_count.",
      "schema": {
       "type": "string",
       "enum": [
        "project_event_count",
        "project_name",
        "estimated_start_date",
        "estimated_completion_date"
       ]
      }
     },
     {
      "name": "sort_dir",
      "in": "query",
      "description": "Sort results in ascending or descending order",
      "schema": {
       "type": "string",
       "enum": [
        "asc",
        "desc"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Schedule",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "date": {
              "type": "string",
              "format": "date-time",
              "description": "Datetime at beginning of day",
              "example": "2023-06-04T00:00:00Z"
             },
             "projects_count": {
              "type": "integer",
              "description": "Number of projects with tasks or calendar items on this day",
              "example": 2
             },
             "projects": {
              "type": "array",
              "description": "List of projects with counts of tasks or calendar items on this day. The size of this list is limited by the `limit_per_day` query parameter. The order of this list is determined by the `sort_key` and `sort_dir` query parameters.",
              "items": {
               "type": "object",
               "description": "Project with counts. `tasks_count` is only present if its value is greater than 0. `calendar_items_count` is only present if its value is greater than 0.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Project ID",
                 "example": 1
                },
                "name": {
                 "type": "string",
                 "description": "Project Name",
                 "example": "Project 1"
                },
                "tasks_count": {
                 "type": "integer",
                 "description": "Number of tasks on this day",
                 "example": 5
                },
                "calendar_items_count": {
                 "type": "integer",
                 "description": "Number of calendar items on this day",
                 "example": 3
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/schedule/summary',\n  qs: {\n    after: 'SOME_STRING_VALUE',\n    before: 'SOME_STRING_VALUE',\n    limit_per_day: 'SOME_INTEGER_VALUE',\n    project_ids: 'SOME_ARRAY_VALUE',\n    project_stage_ids: 'SOME_ARRAY_VALUE',\n    project_type_ids: 'SOME_ARRAY_VALUE',\n    project_department_ids: 'SOME_ARRAY_VALUE',\n    project_office_ids: 'SOME_ARRAY_VALUE',\n    project_region_ids: 'SOME_ARRAY_VALUE',\n    project_owner_type_ids: 'SOME_ARRAY_VALUE',\n    program_ids: 'SOME_ARRAY_VALUE',\n    resource_ids: 'SOME_ARRAY_VALUE',\n    sort_key: 'SOME_STRING_VALUE',\n    sort_dir: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/schedule/summary?after=SOME_STRING_VALUE&before=SOME_STRING_VALUE&limit_per_day=SOME_INTEGER_VALUE&project_ids=SOME_ARRAY_VALUE&project_stage_ids=SOME_ARRAY_VALUE&project_type_ids=SOME_ARRAY_VALUE&project_department_ids=SOME_ARRAY_VALUE&project_office_ids=SOME_ARRAY_VALUE&project_region_ids=SOME_ARRAY_VALUE&project_owner_type_ids=SOME_ARRAY_VALUE&program_ids=SOME_ARRAY_VALUE&resource_ids=SOME_ARRAY_VALUE&sort_key=SOME_STRING_VALUE&sort_dir=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/schedule/summary?after=SOME_STRING_VALUE&before=SOME_STRING_VALUE&limit_per_day=SOME_INTEGER_VALUE&project_ids=SOME_ARRAY_VALUE&project_stage_ids=SOME_ARRAY_VALUE&project_type_ids=SOME_ARRAY_VALUE&project_department_ids=SOME_ARRAY_VALUE&project_office_ids=SOME_ARRAY_VALUE&project_region_ids=SOME_ARRAY_VALUE&project_owner_type_ids=SOME_ARRAY_VALUE&program_ids=SOME_ARRAY_VALUE&resource_ids=SOME_ARRAY_VALUE&sort_key=SOME_STRING_VALUE&sort_dir=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/schedule/summary?after=SOME_STRING_VALUE&before=SOME_STRING_VALUE&limit_per_day=SOME_INTEGER_VALUE&project_ids=SOME_ARRAY_VALUE&project_stage_ids=SOME_ARRAY_VALUE&project_type_ids=SOME_ARRAY_VALUE&project_department_ids=SOME_ARRAY_VALUE&project_office_ids=SOME_ARRAY_VALUE&project_region_ids=SOME_ARRAY_VALUE&project_owner_type_ids=SOME_ARRAY_VALUE&program_ids=SOME_ARRAY_VALUE&resource_ids=SOME_ARRAY_VALUE&sort_key=SOME_STRING_VALUE&sort_dir=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "New 'Show summary' API version",
      "description": "Tallies tasks and calendar items for a given company.",
      "endpoint": "GET /companies/{company_id}/schedule/summary",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-07-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-schedule?version=1.0#return-company-schedule-summary"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}