{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Action Plan Templates",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Company Action Plan Templates",
  "version": "1.1",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/companies/{company_id}/action_plans/plan_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List of Company Action Plan Templates",
    "description": "List of all Company Action Plan Templates",
    "tags": [
     "Company Action Plan Templates"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "plan_type",
        "title",
        "updated_at"
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_type_id]",
      "in": "query",
      "description": "Action Plan Type ID. Returns item(s) with the specified Action Plan Type ID(s).",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Company Action Plan Templates (Index)",
         "items": {
          "type": "object",
          "description": "Company Action Plan Template (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Action Plan Template.",
            "example": 43584
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "description": {
            "type": "string",
            "description": "Description of the template in rich text (HTML) form.",
            "example": "<p>Important Safety Company Action Plan Template.</p>"
           },
           "description_plain_text": {
            "type": "string",
            "description": "Description of the template in plain text form.",
            "example": "Important Safety Company Action Plan Template."
           },
           "status": {
            "type": "string",
            "description": "Lifecycle state of the template. Templates must be 'published' before plans can be created from them.",
            "enum": [
             "draft",
             "in_revision",
             "published"
            ],
            "example": "draft"
           },
           "private": {
            "type": "boolean",
            "description": "Whether the template is restricted to participants only.",
            "example": false
           },
           "title": {
            "type": "string",
            "description": "Title of the Action Plan Template.",
            "example": "A New Company Action Plan Template"
           },
           "plan_type": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the Action Plan type.",
              "example": 21
             },
             "active": {
              "type": "boolean",
              "description": "Whether this type is enabled for use. When false, it is hidden from selection when creating new plans or templates.",
              "example": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the type was created. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "name": {
              "type": "string",
              "description": "Localized display name of the Action Plan type.",
              "example": "Safety"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the type was last modified. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "source_key": {
              "type": "string",
              "description": "System key identifying a built-in type. Null for user-created custom types.",
              "example": "safety",
              "nullable": true
             }
            }
           },
           "provider_type": {
            "type": "string",
            "description": "Scope of the template. 'company' templates are company-wide; 'project' templates are project-specific.",
            "enum": [
             "company",
             "project"
            ],
            "example": "company"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was last modified. ISO 8601 format.",
            "example": "2015-03-19T12:00:00Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_type_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_type_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_type_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_type_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated template_type key to provider_type for Company Action Plan Templates Index response",
      "description": "Change template_type key to provider_type for Company Action Plan Templates in the response",
      "endpoint": "GET /companies/{company_id}/action_plans/plan_templates",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2021-11-03",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-templates?version=1.1#list-of-company-action-plan-templates"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Action Plan Templates",
    "description": "Create a Company Action Plan Template",
    "tags": [
     "Company Action Plan Templates"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template"
        ],
        "properties": {
         "plan_template": {
          "type": "object",
          "required": [
           "title",
           "plan_type_id"
          ],
          "properties": {
           "title": {
            "type": "string",
            "description": "Title",
            "example": "A new Company Action Plan Template"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "A description of the Company Action Plan Template"
           },
           "private": {
            "type": "boolean",
            "description": "Privacy flag of the Company Action Plan Template",
            "example": false
           },
           "plan_type_id": {
            "type": "integer",
            "description": "ID of an Action Plan Type",
            "example": 2
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan Template.",
           "example": 43584
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Description of the template in rich text (HTML) form.",
           "example": "<p>Important Safety Company Action Plan Template.</p>"
          },
          "description_plain_text": {
           "type": "string",
           "description": "Description of the template in plain text form.",
           "example": "Important Safety Company Action Plan Template."
          },
          "status": {
           "type": "string",
           "description": "Lifecycle state of the template. Templates must be 'published' before plans can be created from them.",
           "enum": [
            "draft",
            "in_revision",
            "published"
           ],
           "example": "draft"
          },
          "private": {
           "type": "boolean",
           "description": "Whether the template is restricted to participants only.",
           "example": false
          },
          "title": {
           "type": "string",
           "description": "Title of the Action Plan Template.",
           "example": "A New Company Action Plan Template"
          },
          "plan_type": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the Action Plan type.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this type is enabled for use. When false, it is hidden from selection when creating new plans or templates.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the type was created. ISO 8601 format.",
             "example": "2018-09-20T21:39:40Z"
            },
            "name": {
             "type": "string",
             "description": "Localized display name of the Action Plan type.",
             "example": "Safety"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the type was last modified. ISO 8601 format.",
             "example": "2018-09-20T21:39:40Z"
            },
            "source_key": {
             "type": "string",
             "description": "System key identifying a built-in type. Null for user-created custom types.",
             "example": "safety",
             "nullable": true
            }
           }
          },
          "provider_type": {
           "type": "string",
           "description": "Scope of the template. 'company' templates are company-wide; 'project' templates are project-specific.",
           "enum": [
            "company",
            "project"
           ],
           "example": "company"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template was last modified. ISO 8601 format.",
           "example": "2015-03-19T12:00:00Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template: {\n      title: 'A new Company Action Plan Template',\n      description: 'A description of the Company Action Plan Template',\n      private: false,\n      plan_type_id: 2\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template\\\":{\\\"title\\\":\\\"A new Company Action Plan Template\\\",\\\"description\\\":\\\"A description of the Company Action Plan Template\\\",\\\"private\\\":false,\\\"plan_type_id\\\":2}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template\":{\"title\":\"A new Company Action Plan Template\",\"description\":\"A description of the Company Action Plan Template\",\"private\":false,\"plan_type_id\":2}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates\"),\n    Content = new StringContent(\"{\\\"plan_template\\\":{\\\"title\\\":\\\"A new Company Action Plan Template\\\",\\\"description\\\":\\\"A description of the Company Action Plan Template\\\",\\\"private\\\":false,\\\"plan_type_id\\\":2}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated template_type key to provider_type for Company Action Plan Templates Create response",
      "description": "Change template_type key to provider_type for Company Action Plan Templates in the response",
      "endpoint": "POST /companies/{company_id}/action_plans/plan_templates",
      "type": "new",
      "breaking": true,
      "datestamp": "2021-11-03",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-templates?version=1.1#create-company-action-plan-templates"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/companies/{company_id}/action_plans/plan_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Company Action Plan Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Action Plan Template",
    "description": "Details of a single Company Action Plan Template",
    "tags": [
     "Company Action Plan Templates"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan Template.",
           "example": 43584
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Description of the template in rich text (HTML) form.",
           "example": "<p>Important Safety Company Action Plan Template.</p>"
          },
          "description_plain_text": {
           "type": "string",
           "description": "Description of the template in plain text form.",
           "example": "Important Safety Company Action Plan Template."
          },
          "status": {
           "type": "string",
           "description": "Lifecycle state of the template. Templates must be 'published' before plans can be created from them.",
           "enum": [
            "draft",
            "in_revision",
            "published"
           ],
           "example": "draft"
          },
          "private": {
           "type": "boolean",
           "description": "Whether the template is restricted to participants only.",
           "example": false
          },
          "title": {
           "type": "string",
           "description": "Title of the Action Plan Template.",
           "example": "A New Company Action Plan Template"
          },
          "plan_type": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the Action Plan type.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this type is enabled for use. When false, it is hidden from selection when creating new plans or templates.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the type was created. ISO 8601 format.",
             "example": "2018-09-20T21:39:40Z"
            },
            "name": {
             "type": "string",
             "description": "Localized display name of the Action Plan type.",
             "example": "Safety"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the type was last modified. ISO 8601 format.",
             "example": "2018-09-20T21:39:40Z"
            },
            "source_key": {
             "type": "string",
             "description": "System key identifying a built-in type. Null for user-created custom types.",
             "example": "safety",
             "nullable": true
            }
           }
          },
          "provider_type": {
           "type": "string",
           "description": "Scope of the template. 'company' templates are company-wide; 'project' templates are project-specific.",
           "enum": [
            "company",
            "project"
           ],
           "example": "company"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template was last modified. ISO 8601 format.",
           "example": "2015-03-19T12:00:00Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated template_type key to provider_type for Company Action Plan Templates Show response",
      "description": "Change template_type key to provider_type for Company Action Plan Templates in the response",
      "endpoint": "GET /companies/{company_id}/action_plans/plan_templates/{id}",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2021-11-03",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-templates?version=1.1#show-company-action-plan-template"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a Company Action Plan Template",
    "description": "Update a Company Action Plan Template",
    "tags": [
     "Company Action Plan Templates"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template"
        ],
        "properties": {
         "plan_template": {
          "type": "object",
          "properties": {
           "title": {
            "type": "string",
            "description": "Title",
            "example": "A new Company Action Plan Template"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "A short description explaining what this Company Action Plan Template is supposed to do"
           },
           "private": {
            "type": "boolean",
            "description": "Privacy flag of the Company Action Plan Template",
            "example": false
           },
           "plan_type_id": {
            "type": "integer",
            "description": "ID of an Action Plan Type",
            "example": 2
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Action Plan Template.",
           "example": 43584
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Description of the template in rich text (HTML) form.",
           "example": "<p>Important Safety Company Action Plan Template.</p>"
          },
          "description_plain_text": {
           "type": "string",
           "description": "Description of the template in plain text form.",
           "example": "Important Safety Company Action Plan Template."
          },
          "status": {
           "type": "string",
           "description": "Lifecycle state of the template. Templates must be 'published' before plans can be created from them.",
           "enum": [
            "draft",
            "in_revision",
            "published"
           ],
           "example": "draft"
          },
          "private": {
           "type": "boolean",
           "description": "Whether the template is restricted to participants only.",
           "example": false
          },
          "title": {
           "type": "string",
           "description": "Title of the Action Plan Template.",
           "example": "A New Company Action Plan Template"
          },
          "plan_type": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the Action Plan type.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this type is enabled for use. When false, it is hidden from selection when creating new plans or templates.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the type was created. ISO 8601 format.",
             "example": "2018-09-20T21:39:40Z"
            },
            "name": {
             "type": "string",
             "description": "Localized display name of the Action Plan type.",
             "example": "Safety"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the type was last modified. ISO 8601 format.",
             "example": "2018-09-20T21:39:40Z"
            },
            "source_key": {
             "type": "string",
             "description": "System key identifying a built-in type. Null for user-created custom types.",
             "example": "safety",
             "nullable": true
            }
           }
          },
          "provider_type": {
           "type": "string",
           "description": "Scope of the template. 'company' templates are company-wide; 'project' templates are project-specific.",
           "enum": [
            "company",
            "project"
           ],
           "example": "company"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template was last modified. ISO 8601 format.",
           "example": "2015-03-19T12:00:00Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template: {\n      title: 'A new Company Action Plan Template',\n      description: 'A short description explaining what this Company Action Plan Template is supposed to do',\n      private: false,\n      plan_type_id: 2\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template\\\":{\\\"title\\\":\\\"A new Company Action Plan Template\\\",\\\"description\\\":\\\"A short description explaining what this Company Action Plan Template is supposed to do\\\",\\\"private\\\":false,\\\"plan_type_id\\\":2}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template\":{\"title\":\"A new Company Action Plan Template\",\"description\":\"A short description explaining what this Company Action Plan Template is supposed to do\",\"private\":false,\"plan_type_id\":2}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"plan_template\\\":{\\\"title\\\":\\\"A new Company Action Plan Template\\\",\\\"description\\\":\\\"A short description explaining what this Company Action Plan Template is supposed to do\\\",\\\"private\\\":false,\\\"plan_type_id\\\":2}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated template_type key to provider_type for Company Action Plan Templates Update response",
      "description": "Change template_type key to provider_type for Company Action Plan Templates in the response",
      "endpoint": "PATCH /companies/{company_id}/action_plans/plan_templates/{id}",
      "type": "new",
      "breaking": true,
      "datestamp": "2021-11-03",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-templates?version=1.1#update-a-company-action-plan-template"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete a Company Action Plan Templates",
    "description": "Delete a Company Action Plan Template",
    "tags": [
     "Company Action Plan Templates"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/companies/{company_id}/action_plans/plan_templates/{id}/revise": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Company Action Plan Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Move Company Action Plan Template into \"In Revision\"",
    "description": "Move Company Action Plan Template into \"In Revision\". This will set the status to \"in_revision\". Once in this state, the Company Action Plan Template is able to be updated.",
    "tags": [
     "Company Action Plan Templates"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D/revise'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"POST\", \"/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D/revise\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D/revise"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D/revise\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/companies/{company_id}/action_plans/plan_templates/{id}/publish": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Company Action Plan Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Move Company Action Plan Template into \"Published\"",
    "description": "Move Company Action Plan Template into \"Published\". This will set the status of the Company Action Plan Templates to \"Published\". Once in this state, further updates to the Company Action Plan Template will be denied.",
    "tags": [
     "Company Action Plan Templates"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D/publish'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"POST\", \"/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D/publish\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D/publish"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/action_plans/plan_templates/%7Bid%7D/publish\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/companies/{company_id}/recycle_bin/action_plans/plan_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Company Action Plan Templates",
    "description": "Returns a list of Recycled Company Action Plan Templates for a given company.",
    "tags": [
     "Recycle Bin Company Action Plan Templates"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[deleted_at]",
      "in": "query",
      "description": "Returns item(s) deleted within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[deleted_by_id]",
      "in": "query",
      "description": "Return item(s) deleted by the specified User IDs",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[type_id]",
      "in": "query",
      "description": "Return item(s) with a specific Action Plan Type ID or a range of Action Plan Type IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "deleted_by",
        "title",
        "plan_type",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Company Action Plan Templates (Index)",
         "items": {
          "type": "object",
          "description": "Company Action Plan Template (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the deleted Action Plan Template.",
            "example": 43584
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was moved to the recycle bin. ISO 8601 format.",
            "example": "2015-03-19T12:00:00Z"
           },
           "deleted_by": {
            "type": "object",
            "description": "User who moved this template to the recycle bin.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the user.",
              "example": 808
             },
             "name": {
              "type": "string",
              "description": "Full name of the user who deleted the template.",
              "example": "John Michaels"
             },
             "login": {
              "type": "string",
              "description": "Login email address of the user.",
              "example": "john.michaels@example.com"
             }
            }
           },
           "description": {
            "type": "string",
            "description": "Description of the template in rich text (HTML) form.",
            "example": "<p>Important Safety Company Action Plan Template.</p>"
           },
           "description_plain_text": {
            "type": "string",
            "description": "Description of the template in plain text form.",
            "example": "Important Safety Company Action Plan Template."
           },
           "status": {
            "type": "string",
            "description": "Lifecycle state of the template at time of deletion.",
            "enum": [
             "draft",
             "in_revision",
             "published"
            ],
            "example": "draft"
           },
           "title": {
            "type": "string",
            "description": "Title of the Action Plan Template.",
            "example": "A New Company Action Plan Template"
           },
           "plan_type": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the Action Plan type.",
              "example": 21
             },
             "active": {
              "type": "boolean",
              "description": "Whether this type is enabled for use. When false, it is hidden from selection when creating new plans or templates.",
              "example": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the type was created. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "name": {
              "type": "string",
              "description": "Localized display name of the Action Plan type.",
              "example": "Safety"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the type was last modified. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "source_key": {
              "type": "string",
              "description": "System key identifying a built-in type. Null for user-created custom types.",
              "example": "safety",
              "nullable": true
             }
            }
           },
           "provider_type": {
            "type": "string",
            "description": "Scope of the template. 'company' templates are company-wide; 'project' templates are project-specific.",
            "enum": [
             "company",
             "project"
            ],
            "example": "company"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template was last modified. ISO 8601 format.",
            "example": "2015-03-19T12:00:00Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[deleted_at]': 'SOME_STRING_VALUE',\n    'filters[deleted_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[type_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&filters%5Bdeleted_by_id%5D=SOME_ARRAY_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Btype_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&filters%5Bdeleted_by_id%5D=SOME_ARRAY_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Btype_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&filters%5Bdeleted_by_id%5D=SOME_ARRAY_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Btype_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated template_type key to provider_type for Recycled Company Action Plan Templates Index response",
      "description": "Change template_type key to provider_type for Recycled Company Action Plan Templates in the response",
      "endpoint": "GET /companies/{company_id}/recycle_bin/action_plans/plan_templates",
      "type": "new",
      "breaking": true,
      "datestamp": "2021-11-03",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-templates?version=1.1#list-recycled-company-action-plan-templates"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/companies/{company_id}/recycle_bin/action_plans/plan_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Company Action Plan Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Company Action Plan Template",
    "description": "Returns the specified Recycled Company Action Plan Template.",
    "tags": [
     "Recycle Bin Company Action Plan Templates"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the deleted Action Plan Template.",
           "example": 43584
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template was moved to the recycle bin. ISO 8601 format.",
           "example": "2015-03-19T12:00:00Z"
          },
          "deleted_by": {
           "type": "object",
           "description": "User who moved this template to the recycle bin.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the user.",
             "example": 808
            },
            "name": {
             "type": "string",
             "description": "Full name of the user who deleted the template.",
             "example": "John Michaels"
            },
            "login": {
             "type": "string",
             "description": "Login email address of the user.",
             "example": "john.michaels@example.com"
            }
           }
          },
          "description": {
           "type": "string",
           "description": "Description of the template in rich text (HTML) form.",
           "example": "<p>Important Safety Company Action Plan Template.</p>"
          },
          "description_plain_text": {
           "type": "string",
           "description": "Description of the template in plain text form.",
           "example": "Important Safety Company Action Plan Template."
          },
          "status": {
           "type": "string",
           "description": "Lifecycle state of the template at time of deletion.",
           "enum": [
            "draft",
            "in_revision",
            "published"
           ],
           "example": "draft"
          },
          "title": {
           "type": "string",
           "description": "Title of the Action Plan Template.",
           "example": "A New Company Action Plan Template"
          },
          "plan_type": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the Action Plan type.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this type is enabled for use. When false, it is hidden from selection when creating new plans or templates.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the type was created. ISO 8601 format.",
             "example": "2018-09-20T21:39:40Z"
            },
            "name": {
             "type": "string",
             "description": "Localized display name of the Action Plan type.",
             "example": "Safety"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the type was last modified. ISO 8601 format.",
             "example": "2018-09-20T21:39:40Z"
            },
            "source_key": {
             "type": "string",
             "description": "System key identifying a built-in type. Null for user-created custom types.",
             "example": "safety",
             "nullable": true
            }
           }
          },
          "provider_type": {
           "type": "string",
           "description": "Scope of the template. 'company' templates are company-wide; 'project' templates are project-specific.",
           "enum": [
            "company",
            "project"
           ],
           "example": "company"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template was last modified. ISO 8601 format.",
           "example": "2015-03-19T12:00:00Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated template_type key to provider_type for Recycled Company Action Plan Templates Show response",
      "description": "Change template_type key to provider_type for Recycled Company Action Plan Templates in the response",
      "endpoint": "GET /companies/{company_id}/recycle_bin/action_plans/plan_templates/{id}",
      "type": "new",
      "breaking": true,
      "datestamp": "2021-11-03",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-templates?version=1.1#show-recycled-company-action-plan-template"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/companies/{company_id}/recycle_bin/action_plans/plan_templates/{id}/restore": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Plan ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Restore Recycled Company Action Plan Template",
    "description": "Restores the specified Company Action Plan Template from Recycle Bin.",
    "tags": [
     "Recycle Bin Company Action Plan Templates"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates/%7Bid%7D/restore'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"PATCH\", \"/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates/%7Bid%7D/restore\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates/%7Bid%7D/restore"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_templates/%7Bid%7D/restore\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/action_plans/plan_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List of Company Action Plan Templates",
    "description": "List of all Company Action Plan Templates",
    "tags": [
     "Company Action Plan Templates"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "plan_type",
        "title",
        "updated_at"
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_type_id]",
      "in": "query",
      "description": "Action Plan Type ID. Returns item(s) with the specified Action Plan Type ID(s).",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
[...]
