{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Inactive People",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Company Inactive People",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management",
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/people/inactive": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "ID of the Company",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Inactive Company People",
    "description": "Return a list of People associated with a Company. Includes Users in the Directory and Reference Users.\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Company Users"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). If a valid view is not provided, it will default to normal.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[is_employee]",
      "in": "query",
      "description": "If true, returns item(s) where `is_employee` value is true.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[reference_users_only]",
      "in": "query",
      "required": false,
      "description": "If true, returns only people who are reference users.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[without_reference_users]",
      "in": "query",
      "required": false,
      "description": "If true, returns only people who are not reference users.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns People where the search string matches the Person's name (first, last, or full), email address, mobile phone, business phone, fax number, or job title.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[connected]",
      "in": "query",
      "description": "If true, returns only people who are connected users. If false, returns only people who are not connected users.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[state_code]",
      "in": "query",
      "description": "Returns only people who have the specified state code.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[job_title]",
      "in": "query",
      "description": "Returns only people who have the specified job title.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[trade_id]",
      "in": "query",
      "description": "Array of Trade IDs. Returns item(s) with the specified Trade IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Company People",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "title": "Company Person",
            "description": "The Company Person object.",
            "properties": {
             "contact": {
              "type": "object",
              "description": "The Contact associated with the Company Person. This value is set to NULL for a Reference User.",
              "properties": {
               "is_active": {
                "type": "boolean",
                "description": "The status of the Contact. If this property is set to true, the status of the Contact is active. If this property is set to false, the status of the Contact is inactive."
               },
               "email": {
                "type": "string",
                "description": "The email address of the Contact.",
                "example": "personwithcontact@example.com"
               }
              }
             },
             "employee_id": {
              "type": "string",
              "description": "The employee id of the Company Person.",
              "example": "123456789",
              "nullable": true
             },
             "first_name": {
              "type": "string",
              "description": "The first name of the Company Person.",
              "example": "Owen"
             },
             "id": {
              "type": "integer",
              "description": "The unique identifier of the Company Person.",
              "example": 381006
             },
             "is_employee": {
              "type": "boolean",
              "description": "The employee status of the Company Person. If this property is set to true, the Company Person is an employee.",
              "example": false,
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "The last name of the Company Person.",
              "example": "Owner"
             },
             "name": {
              "type": "string",
              "description": "The full name of the Company Person.",
              "example": "Owen Owner"
             },
             "user_id": {
              "type": "integer",
              "description": "The unique identifier if this Company Person represents a User. This value is set to NULL for a Reference User.",
              "example": 700215,
              "nullable": true
             },
             "user_uuid": {
              "type": "integer",
              "description": "The User UUID for if this Company Person represents a User. This value is set to NULL for a Reference User.",
              "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
              "nullable": true
             },
             "work_classification_id": {
              "type": "integer",
              "description": "The unique identifier for the work classification of the Company Person.",
              "example": 398438,
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "nullable": true,
              "description": "The Origin ID of the Company User",
              "example": "OD-3483830-2"
             },
             "contact_id": {
              "type": "string",
              "description": "The contact id of the Company Person. This value is set to NULL for a Reference User.",
              "example": "987654321",
              "nullable": true
             },
             "job_title": {
              "type": "string",
              "description": "The job title of the Company Person",
              "example": "Developer"
             }
            }
           },
           {
            "allOf": [
             {
              "type": "object",
              "title": "Company Person Extended",
              "description": "Extended view of the Company Person object."
             },
             {
              "type": "object",
              "title": "Company Person",
              "description": "The Company Person object.",
              "properties": {
               "contact": {
                "type": "object",
                "description": "The Contact associated with the Company Person. This value is set to NULL for a Reference User.",
                "properties": {
                 "is_active": {
                  "type": "boolean",
                  "description": "The status of the Contact. If this property is set to true, the status of the Contact is active. If this property is set to false, the status of the Contact is inactive."
                 },
                 "email": {
                  "type": "string",
                  "description": "The email address of the Contact.",
                  "example": "personwithcontact@example.com"
                 }
                }
               },
               "employee_id": {
                "type": "string",
                "description": "The employee id of the Company Person.",
                "example": "123456789",
                "nullable": true
               },
               "first_name": {
                "type": "string",
                "description": "The first name of the Company Person.",
                "example": "Owen"
               },
               "id": {
                "type": "integer",
                "description": "The unique identifier of the Company Person.",
                "example": 381006
               },
               "is_employee": {
                "type": "boolean",
                "description": "The employee status of the Company Person. If this property is set to true, the Company Person is an employee.",
                "example": false,
                "nullable": true
               },
               "last_name": {
                "type": "string",
                "description": "The last name of the Company Person.",
                "example": "Owner"
               },
               "name": {
                "type": "string",
                "description": "The full name of the Company Person.",
                "example": "Owen Owner"
               },
               "user_id": {
                "type": "integer",
                "description": "The unique identifier if this Company Person represents a User. This value is set to NULL for a Reference User.",
                "example": 700215,
                "nullable": true
               },
               "user_uuid": {
                "type": "integer",
                "description": "The User UUID for if this Company Person represents a User. This value is set to NULL for a Reference User.",
                "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
                "nullable": true
               },
               "work_classification_id": {
                "type": "integer",
                "description": "The unique identifier for the work classification of the Company Person.",
                "example": 398438,
                "nullable": true
               },
               "origin_id": {
                "type": "string",
                "nullable": true,
                "description": "The Origin ID of the Company User",
                "example": "OD-3483830-2"
               },
               "contact_id": {
                "type": "string",
                "description": "The contact id of the Company Person. This value is set to NULL for a Reference User.",
                "example": "987654321",
                "nullable": true
               },
               "job_title": {
                "type": "string",
                "description": "The job title of the Company Person",
                "example": "Developer"
               }
              }
             },
             {
              "type": "object",
              "title": "extended view",
              "properties": {
               "vendor": {
                "type": "object",
                "description": "The Vendor associated with the Company Person.",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier for the Vendor of the Company Person."
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the Vendor associated with the Company Person.",
                  "example": "Owen Construction Co."
                 }
                }
               },
               "work_classification": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID",
                  "example": "57869"
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the classification",
                  "example": "Driver"
                 }
                }
               }
              }
             }
            ]
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people/inactive',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[is_employee]': 'SOME_BOOLEAN_VALUE',\n    'filters[reference_users_only]': 'SOME_BOOLEAN_VALUE',\n    'filters[without_reference_users]': 'SOME_BOOLEAN_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[connected]': 'SOME_BOOLEAN_VALUE',\n    'filters[state_code]': 'SOME_STRING_VALUE',\n    'filters[job_title]': 'SOME_STRING_VALUE',\n    'filters[vendor_id]': 'SOME_ARRAY_VALUE',\n    'filters[trade_id]': 'SOME_ARRAY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/people/inactive?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_employee%5D=SOME_BOOLEAN_VALUE&filters%5Breference_users_only%5D=SOME_BOOLEAN_VALUE&filters%5Bwithout_reference_users%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bconnected%5D=SOME_BOOLEAN_VALUE&filters%5Bstate_code%5D=SOME_STRING_VALUE&filters%5Bjob_title%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people/inactive?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_employee%5D=SOME_BOOLEAN_VALUE&filters%5Breference_users_only%5D=SOME_BOOLEAN_VALUE&filters%5Bwithout_reference_users%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bconnected%5D=SOME_BOOLEAN_VALUE&filters%5Bstate_code%5D=SOME_STRING_VALUE&filters%5Bjob_title%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people/inactive?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_employee%5D=SOME_BOOLEAN_VALUE&filters%5Breference_users_only%5D=SOME_BOOLEAN_VALUE&filters%5Bwithout_reference_users%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bconnected%5D=SOME_BOOLEAN_VALUE&filters%5Bstate_code%5D=SOME_STRING_VALUE&filters%5Bjob_title%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Inactive Company People list endpoint",
      "description": "Get list of inactive people associated with a company id.",
      "endpoint": "GET /companies/{company_id}/people/inactive",
      "type": "new",
      "breaking": false,
      "datestamp": "2020-11-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inactive-people?version=1.0#list-inactive-company-people"
     },
     {
      "summary": "Respect per_page param when fetching inactive people",
      "description": "When per_page param is passed, the endpoint will return the number of inactive people specified by the param.",
      "endpoint": "GET /companies/{company_id}/people/inactive",
      "type": "fix",
      "breaking": false,
      "datestamp": "2023-06-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inactive-people?version=1.0#list-inactive-company-people"
     },
     {
      "summary": "Filter by connected users",
      "description": "Inactive Company People list endpoint now supports the option to filter by connected users.",
      "endpoint": "GET /companies/{company_id}/people/inactive",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inactive-people?version=1.0#list-inactive-company-people"
     },
     {
      "summary": "Filter by state code",
      "description": "Inactive Company People list endpoint now supports the option to filter by state code.",
      "endpoint": "GET /companies/{company_id}/people/inactive",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inactive-people?version=1.0#list-inactive-company-people"
     },
     {
      "summary": "Filter by job title",
      "description": "Inactive Company People list endpoint now supports the option to filter by job title.",
      "endpoint": "GET /companies/{company_id}/people/inactive",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inactive-people?version=1.0#list-inactive-company-people"
     },
     {
      "summary": "Filter by Vendor ID",
      "description": "Inactive Company People list endpoint now supports the option to filter by Vendor ID.",
      "endpoint": "GET /companies/{company_id}/people/inactive",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inactive-people?version=1.0#list-inactive-company-people"
     },
     {
      "summary": "Filter by Trade ID",
      "description": "Inactive Company People list endpoint now supports the option to filter by Trade ID.",
      "endpoint": "GET /companies/{company_id}/people/inactive",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inactive-people?version=1.0#list-inactive-company-people"
     },
     {
      "summary": "Added `job_title` attribute to response",
      "description": "job_title attribute is now available in the response for all views of the Inactive Company People list endpoint.",
      "endpoint": "GET /companies/{company_id}/people/inactive",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inactive-people?version=1.0#list-inactive-company-people"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}