{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Managed Equipment Maintenance Log Attachment",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Company Managed Equipment Maintenance Log Attachment",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "List all maintenance logs attachment",
    "description": "Return a list of all Maintenance Log attachments for the Maintenance Log the current user has access to.",
    "tags": [
     "Maintenance Logs Attachments"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of managed equipment maintenance logs attachments",
         "items": {
          "type": "object",
          "title": "ManagedEquipmentMaintenanceLogsAttachment",
          "description": "Maintenance Log Attachment",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75413
           },
           "presentation_url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/presentation_url"
           },
           "url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           },
           "thumbnail_url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/thumbnail_url"
           },
           "filename": {
            "type": "string",
            "description": "Filename of Managed Equipment Attachment",
            "example": "Example Filename"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added show endpoint for all Company Managed Equipment maintenance logs attachments",
      "description": "Added the ability to view a Managed Equipment attachment",
      "endpoint": "GET /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#list-all-maintenance-logs-attachment"
     },
     {
      "summary": "List all maintenance logs attachment is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#list-all-maintenance-logs-attachment"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Create maintenance log attachment.",
    "description": "Create a new maintenance log attachment.",
    "tags": [
     "Equipment Log"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Managed Equipment Maintenance Log",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_maintenance_logs_attachment"
        ],
        "properties": {
         "managed_equipment_maintenance_logs_attachment": {
          "type": "object",
          "properties": {
           "managed_equipment_maintenance_logs_id": {
            "type": "integer",
            "description": "Maintenance log Id the maintenance log attachment is associated with",
            "example": 1
           },
           "documents": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "ID",
             "example": 65
            }
           },
           "folders": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "ID",
             "example": 66
            }
           },
           "upload_uuids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "ID",
             "example": 67
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentMaintenanceLogsAttachment",
         "description": "Maintenance Log Attachment",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75413
          },
          "presentation_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/presentation_url"
          },
          "url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "thumbnail_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/thumbnail_url"
          },
          "filename": {
           "type": "string",
           "description": "Filename of Managed Equipment Attachment",
           "example": "Example Filename"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_maintenance_logs_attachment: {\n      managed_equipment_maintenance_logs_id: 1,\n      documents: [65],\n      folders: [66],\n      upload_uuids: [67]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_maintenance_logs_attachment\\\":{\\\"managed_equipment_maintenance_logs_id\\\":1,\\\"documents\\\":[65],\\\"folders\\\":[66],\\\"upload_uuids\\\":[67]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_maintenance_logs_attachment\":{\"managed_equipment_maintenance_logs_id\":1,\"documents\":[65],\"folders\":[66],\"upload_uuids\":[67]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments\"),\n    Content = new StringContent(\"{\\\"managed_equipment_maintenance_logs_attachment\\\":{\\\"managed_equipment_maintenance_logs_id\\\":1,\\\"documents\\\":[65],\\\"folders\\\":[66],\\\"upload_uuids\\\":[67]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added create endpoint for Company Managed Equipment maintenance logs attachments",
      "description": "Added the ability to create a Managed Equipment attachment",
      "endpoint": "POST /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#create-maintenance-log-attachment"
     },
     {
      "summary": "Create maintenance log attachment is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "POST /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#create-maintenance-log-attachment"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments/{attachment_id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the managed equipment maintenance log to get attachments from",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "attachment_id",
     "in": "path",
     "description": "ID of the managed equipment maintenance log attachment",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Show an individual managed equipment maintenance log attachment",
    "description": "Return detailed information about a specific managed equipment maintenance log attachment",
    "tags": [
     "Managed Equipment Maintenance Log Attachment"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentMaintenanceLogsAttachment",
         "description": "Maintenance Log Attachment",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75413
          },
          "presentation_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/presentation_url"
          },
          "url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "thumbnail_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/thumbnail_url"
          },
          "filename": {
           "type": "string",
           "description": "Filename of Managed Equipment Attachment",
           "example": "Example Filename"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/%7Battachment_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/%7Battachment_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/%7Battachment_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/%7Battachment_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added show endpoint for individual Company Managed Equipment maintenance logs attachment",
      "description": "Added the ability to view a Managed Equipment attachment",
      "endpoint": "GET /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments/{attachment_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#show-an-individual-managed-equipment-maintenance-log-attachment"
     },
     {
      "summary": "Show an individual managed equipment maintenance log attachment is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments/{attachment_id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#show-an-individual-managed-equipment-maintenance-log-attachment"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Delete Managed Equipment Maintenance Log Attachment",
    "description": "Deleting an attachment from a Managed Equipment Maintenance Log",
    "tags": [
     "Managed Equipment Maintenance Log Attachment"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the Managed Equipment Maintenance Log Attachment",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentMaintenanceLogsAttachment",
         "description": "Maintenance Log Attachment",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75413
          },
          "presentation_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/presentation_url"
          },
          "url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/"
          },
          "thumbnail_url": {
           "type": "string",
           "description": "URL",
           "example": "http://www.example.com/thumbnail_url"
          },
          "filename": {
           "type": "string",
           "description": "Filename of Managed Equipment Attachment",
           "example": "Example Filename"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/%7Battachment_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/%7Battachment_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/%7Battachment_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/%7Battachment_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added destroy endpoint for Company Managed Equipment maintenance logs attachments",
      "description": "Added the ability to delete a Managed Equipment attachment",
      "endpoint": "DELETE /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments/{attachment_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#delete-managed-equipment-maintenance-log-attachment"
     },
     {
      "summary": "Delete Managed Equipment Maintenance Log Attachment is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "DELETE /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments/{attachment_id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#delete-managed-equipment-maintenance-log-attachment"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments/bulk_destroy": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Id of the Managed Equipment Maintenance Log",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Bulk Delete Managed Equipment Maintenance Log Attachments",
    "description": "Delete multiple Managed Equipment Maintenance Logs Attachments with one request.",
    "tags": [
     "Managed Equipment Maintenance Log Attachment"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_maintenance_logs_attachment"
        ],
        "properties": {
         "managed_equipment_maintenance_logs_attachment": {
          "description": "Managed Equipment Maintenance Logs Attachment Object",
          "type": "object",
          "properties": {
           "managed_equipment_maintenance_logs_attachment_ids": {
            "type": "array",
            "description": "IDs of all the Managed Equipment Maintenance Logs Attachment values specified for bulk destroy",
            "items": {
             "type": "integer",
             "description": "ID",
             "example": 65
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Managed Equipment Maintenance Logs Attachments",
         "items": {
          "type": "object",
          "title": "ManagedEquipmentMaintenanceLogsAttachment",
          "description": "Maintenance Log Attachment",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75413
           },
           "presentation_url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/presentation_url"
           },
           "url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           },
           "thumbnail_url": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/thumbnail_url"
           },
           "filename": {
            "type": "string",
            "description": "Filename of Managed Equipment Attachment",
            "example": "Example Filename"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/bulk_destroy',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_maintenance_logs_attachment: {managed_equipment_maintenance_logs_attachment_ids: [65]}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_maintenance_logs_attachment\\\":{\\\"managed_equipment_maintenance_logs_attachment_ids\\\":[65]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/bulk_destroy\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/bulk_destroy \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_maintenance_logs_attachment\":{\"managed_equipment_maintenance_logs_attachment_ids\":[65]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_maintenance_logs/%7Bid%7D/attachments/bulk_destroy\"),\n    Content = new StringContent(\"{\\\"managed_equipment_maintenance_logs_attachment\\\":{\\\"managed_equipment_maintenance_logs_attachment_ids\\\":[65]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk destroy endpoint for Company Managed Equipment maintenance logs attachments",
      "description": "Added the ability to bulk delete a Managed Equipment Maintenance Log attachment",
      "endpoint": "DELETE /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments/bulk_destroy",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#bulk-delete-managed-equipment-maintenance-log-attachments"
     },
     {
      "summary": "Bulk Delete Managed Equipment Maintenance Log Attachments is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "DELETE /companies/{company_id}/managed_equipment_maintenance_logs/{id}/attachments/bulk_destroy",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-managed-equipment-maintenance-log-attachment?version=1.0#bulk-delete-managed-equipment-maintenance-log-attachments"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}