{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Inspection Template Items",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Company Inspection Template Items",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/inspection_templates/{inspection_template_id}/items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "inspection_template_id",
     "in": "path",
     "required": true,
     "description": "The ID of the Company Inspection Template",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Inspection Template Items",
    "description": "Returns a collection of Checklist Template Items for a specified Checklist Template.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Company Inspection Template Items",
         "items": {
          "type": "object",
          "title": "Company Inspection Template Item",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Item ID",
            "example": 124
           },
           "details": {
            "type": "string",
            "description": "Company Item details",
            "example": "Company Item details"
           },
           "name": {
            "type": "string",
            "description": "Item name",
            "example": "Item 1"
           },
           "position": {
            "type": "integer",
            "description": "Indicates position for item",
            "example": 1
           },
           "section_id": {
            "type": "integer",
            "description": "Inspection Template Section ID",
            "example": 17
           },
           "response_set": {
            "title": "ChecklistItemResponseSet",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "The name of the Item Response Set",
              "example": "Safety Responses"
             },
             "active": {
              "type": "boolean",
              "description": "Indicates whether an Item Response Set is available for use.",
              "example": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Represents when an Item Response Set was created",
              "example": "2012-10-02T21:00:00Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Represents when a Item Response Set was last updated",
              "example": "2012-10-02T21:00:00Z"
             },
             "responses": {
              "type": "array",
              "description": "Responses",
              "items": {
               "title": "Checklist Response",
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 1
                },
                "name": {
                 "type": "string",
                 "description": "The name of the Response",
                 "example": "Safe - Knowledge"
                },
                "status": {
                 "type": "string",
                 "description": "Checklist Item status",
                 "enum": [
                  "conforming",
                  "non_conforming",
                  "not_applicable"
                 ],
                 "example": "non_conforming"
                },
                "item_status_id": {
                 "type": "integer",
                 "description": "Checklist Item Status ID",
                 "example": 1
                }
               }
              }
             },
             "deletable": {
              "type": "boolean",
              "description": "Indicates whether a Response Set is deletable.",
              "example": true
             },
             "procore_standard": {
              "type": "boolean",
              "description": "Indicates whether a Response Set is a Procore standard set.",
              "example": false
             }
            }
           },
           "type": {
            "type": "object",
            "description": "Item Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Item Type ID",
              "example": 1
             },
             "name": {
              "type": "string",
              "description": "Inspection Item Type name",
              "example": "default"
             },
             "category": {
              "type": "string",
              "description": "Inspection Item Type Category",
              "example": "multiple_choice"
             }
            }
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last update",
            "example": "2015-03-19T12:00:00Z"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Inspection Template Items list endpoint",
      "description": "Get a list of Items for a specified Company Inspection Template.",
      "endpoint": "GET /companies/{company_id}/inspection_templates/{inspection_template_id}/items",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-10-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inspection-template-items?version=1.0#list-company-inspection-template-items"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Inspection Template Item",
    "description": "Creates a Company Inspection Template Item for a specified Checklist Template.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Company Inspection Template Item Body",
        "type": "object",
        "required": [
         "inspection_template_item"
        ],
        "properties": {
         "inspection_template_item": {
          "type": "object",
          "description": "Inspection Template Item object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Name"
           },
           "position": {
            "type": "integer",
            "description": "Item position"
           },
           "section_id": {
            "type": "integer",
            "description": "Response Set ID"
           },
           "type": {
            "type": "string",
            "description": "Item type"
           },
           "response_set_id": {
            "type": "integer",
            "description": "Response Set ID"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Company Inspection Template Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Item ID",
           "example": 124
          },
          "details": {
           "type": "string",
           "description": "Company Item details",
           "example": "Company Item details"
          },
          "name": {
           "type": "string",
           "description": "Item name",
           "example": "Item 1"
          },
          "position": {
           "type": "integer",
           "description": "Indicates position for item",
           "example": 1
          },
          "section_id": {
           "type": "integer",
           "description": "Inspection Template Section ID",
           "example": 17
          },
          "response_set": {
           "title": "ChecklistItemResponseSet",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "The name of the Item Response Set",
             "example": "Safety Responses"
            },
            "active": {
             "type": "boolean",
             "description": "Indicates whether an Item Response Set is available for use.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Represents when an Item Response Set was created",
             "example": "2012-10-02T21:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Represents when a Item Response Set was last updated",
             "example": "2012-10-02T21:00:00Z"
            },
            "responses": {
             "type": "array",
             "description": "Responses",
             "items": {
              "title": "Checklist Response",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "The name of the Response",
                "example": "Safe - Knowledge"
               },
               "status": {
                "type": "string",
                "description": "Checklist Item status",
                "enum": [
                 "conforming",
                 "non_conforming",
                 "not_applicable"
                ],
                "example": "non_conforming"
               },
               "item_status_id": {
                "type": "integer",
                "description": "Checklist Item Status ID",
                "example": 1
               }
              }
             }
            },
            "deletable": {
             "type": "boolean",
             "description": "Indicates whether a Response Set is deletable.",
             "example": true
            },
            "procore_standard": {
             "type": "boolean",
             "description": "Indicates whether a Response Set is a Procore standard set.",
             "example": false
            }
           }
          },
          "type": {
           "type": "object",
           "description": "Item Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Item Type ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Inspection Item Type name",
             "example": "default"
            },
            "category": {
             "type": "string",
             "description": "Inspection Item Type Category",
             "example": "multiple_choice"
            }
           }
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of last update",
           "example": "2015-03-19T12:00:00Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    inspection_template_item: {name: 'string', position: 0, section_id: 0, type: 'string', response_set_id: 0}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"inspection_template_item\\\":{\\\"name\\\":\\\"string\\\",\\\"position\\\":0,\\\"section_id\\\":0,\\\"type\\\":\\\"string\\\",\\\"response_set_id\\\":0}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"inspection_template_item\":{\"name\":\"string\",\"position\":0,\"section_id\":0,\"type\":\"string\",\"response_set_id\":0}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"inspection_template_item\\\":{\\\"name\\\":\\\"string\\\",\\\"position\\\":0,\\\"section_id\\\":0,\\\"type\\\":\\\"string\\\",\\\"response_set_id\\\":0}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Inspection Template Item create endpoint",
      "description": "Create a Item for a specified Company Inspection Template.",
      "endpoint": "POST /companies/{company_id}/inspection_templates/{inspection_template_id}/items",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-10-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inspection-template-items?version=1.0#create-company-inspection-template-item"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/inspection_templates/{inspection_template_id}/items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "inspection_template_id",
     "in": "path",
     "required": true,
     "description": "The ID of the Company Inspection Template",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Company Inspection Template Item ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Inspection Template Item",
    "description": "Returns the details for a specified Company Inspection Template Item",
    "tags": [
     "Checklists (Inspections)"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Company Inspection Template Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Item ID",
           "example": 124
          },
          "details": {
           "type": "string",
           "description": "Company Item details",
           "example": "Company Item details"
          },
          "name": {
           "type": "string",
           "description": "Item name",
           "example": "Item 1"
          },
          "position": {
           "type": "integer",
           "description": "Indicates position for item",
           "example": 1
          },
          "section_id": {
           "type": "integer",
           "description": "Inspection Template Section ID",
           "example": 17
          },
          "response_set": {
           "title": "ChecklistItemResponseSet",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "The name of the Item Response Set",
             "example": "Safety Responses"
            },
            "active": {
             "type": "boolean",
             "description": "Indicates whether an Item Response Set is available for use.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Represents when an Item Response Set was created",
             "example": "2012-10-02T21:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Represents when a Item Response Set was last updated",
             "example": "2012-10-02T21:00:00Z"
            },
            "responses": {
             "type": "array",
             "description": "Responses",
             "items": {
              "title": "Checklist Response",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "The name of the Response",
                "example": "Safe - Knowledge"
               },
               "status": {
                "type": "string",
                "description": "Checklist Item status",
                "enum": [
                 "conforming",
                 "non_conforming",
                 "not_applicable"
                ],
                "example": "non_conforming"
               },
               "item_status_id": {
                "type": "integer",
                "description": "Checklist Item Status ID",
                "example": 1
               }
              }
             }
            },
            "deletable": {
             "type": "boolean",
             "description": "Indicates whether a Response Set is deletable.",
             "example": true
            },
            "procore_standard": {
             "type": "boolean",
             "description": "Indicates whether a Response Set is a Procore standard set.",
             "example": false
            }
           }
          },
          "type": {
           "type": "object",
           "description": "Item Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Item Type ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Inspection Item Type name",
             "example": "default"
            },
            "category": {
             "type": "string",
             "description": "Inspection Item Type Category",
             "example": "multiple_choice"
            }
           }
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of last update",
           "example": "2015-03-19T12:00:00Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Inspection Template Item show endpoint",
      "description": "Get a Item for a specified Company Inspection Template.",
      "endpoint": "GET /companies/{company_id}/inspection_templates/{inspection_template_id}/items/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-10-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inspection-template-items?version=1.0#show-company-inspection-template-item"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Company Inspection Template Item",
    "description": "Updates a Company Inspection Template Item for a specified Company.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Project Inspection Template Item Body",
        "type": "object",
        "required": [
         "inspection_template_item"
        ],
        "properties": {
         "inspection_template_item": {
          "type": "object",
          "description": "Inspection Template Item object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Name"
           },
           "response_set_id": {
            "type": "integer",
            "description": "Response Set ID"
           },
           "type": {
            "type": "string",
            "description": "Item type"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Company Inspection Template Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Item ID",
           "example": 124
          },
          "details": {
           "type": "string",
           "description": "Company Item details",
           "example": "Company Item details"
          },
          "name": {
           "type": "string",
           "description": "Item name",
           "example": "Item 1"
          },
          "position": {
           "type": "integer",
           "description": "Indicates position for item",
           "example": 1
          },
          "section_id": {
           "type": "integer",
           "description": "Inspection Template Section ID",
           "example": 17
          },
          "response_set": {
           "title": "ChecklistItemResponseSet",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "The name of the Item Response Set",
             "example": "Safety Responses"
            },
            "active": {
             "type": "boolean",
             "description": "Indicates whether an Item Response Set is available for use.",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Represents when an Item Response Set was created",
             "example": "2012-10-02T21:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Represents when a Item Response Set was last updated",
             "example": "2012-10-02T21:00:00Z"
            },
            "responses": {
             "type": "array",
             "description": "Responses",
             "items": {
              "title": "Checklist Response",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "The name of the Response",
                "example": "Safe - Knowledge"
               },
               "status": {
                "type": "string",
                "description": "Checklist Item status",
                "enum": [
                 "conforming",
                 "non_conforming",
                 "not_applicable"
                ],
                "example": "non_conforming"
               },
               "item_status_id": {
                "type": "integer",
                "description": "Checklist Item Status ID",
                "example": 1
               }
              }
             }
            },
            "deletable": {
             "type": "boolean",
             "description": "Indicates whether a Response Set is deletable.",
             "example": true
            },
            "procore_standard": {
             "type": "boolean",
             "description": "Indicates whether a Response Set is a Procore standard set.",
             "example": false
            }
           }
          },
          "type": {
           "type": "object",
           "description": "Item Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Item Type ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Inspection Item Type name",
             "example": "default"
            },
            "category": {
             "type": "string",
             "description": "Inspection Item Type Category",
             "example": "multiple_choice"
            }
           }
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp of last update",
           "example": "2015-03-19T12:00:00Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {inspection_template_item: {name: 'string', response_set_id: 0, type: 'string'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"inspection_template_item\\\":{\\\"name\\\":\\\"string\\\",\\\"response_set_id\\\":0,\\\"type\\\":\\\"string\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"inspection_template_item\":{\"name\":\"string\",\"response_set_id\":0,\"type\":\"string\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"inspection_template_item\\\":{\\\"name\\\":\\\"string\\\",\\\"response_set_id\\\":0,\\\"type\\\":\\\"string\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Inspection Template Item update endpoint",
      "description": "Update a Item for a specified Company Inspection Template.",
      "endpoint": "PATCH /companies/{company_id}/inspection_templates/{inspection_template_id}/items/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-10-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inspection-template-items?version=1.0#update-company-inspection-template-item"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Company Inspection Template Item",
    "description": "Deletes a Company Inspection Template Item for a specified Company.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/inspection_templates/%7Binspection_template_id%7D/items/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Inspection Template Item delete endpoint",
      "description": "Delete a Item for a specified Company Inspection Template.",
      "endpoint": "DELETE /companies/{company_id}/inspection_templates/{inspection_template_id}/items/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-10-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inspection-template-items?version=1.0#delete-company-inspection-template-item"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}