{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Action Plan Template References",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Company Action Plan Template References",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_references": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Action Plan Template References",
    "description": "List of all Company Action Plan Template References",
    "tags": [
     "Company Action Plan Template References"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[plan_template_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Company Action Plan Template Reference (Index)",
         "items": {
          "type": "object",
          "description": "Company Action Plan Template Reference (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the template reference.",
            "example": 12
           },
           "plan_template_item_id": {
            "type": "integer",
            "description": "Unique identifier of the template item this reference is attached to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Contains type-specific attributes. For company templates, only the attachment type is supported.",
            "properties": {
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Image URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Image Thumbnail URL",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "File Name",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "Content Type",
                "example": "image/jpg"
               }
              }
             }
            }
           },
           "plan_template_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan Template.",
            "example": 985
           },
           "type": {
            "type": "string",
            "description": "Type of reference attached to the template item. Company templates only support 'attachment'.",
            "enum": [
             "attachment"
            ],
            "example": "attachment"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[plan_template_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_id]': 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template References list endpoint",
      "description": "Get a list of Company Action Plan Template References for a given Company.",
      "endpoint": "GET /companies/{company_id}/action_plans/plan_template_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-references?version=1.0#list-company-action-plan-template-references"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Action Plan Template Reference",
    "description": "Create a Company Action Plan Template Reference",
    "tags": [
     "Company Action Plan Template Reference"
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_reference"
        ],
        "properties": {
         "plan_template_reference": {
          "type": "object",
          "required": [
           "payload",
           "plan_template_item_id",
           "type"
          ],
          "properties": {
           "plan_template_item_id": {
            "type": "integer",
            "description": "ID of the associated Template Item",
            "example": 54
           },
           "type": {
            "type": "string",
            "description": "Company Action Plan Template Reference Type",
            "enum": [
             "attachment"
            ],
            "example": "attachment"
           },
           "payload": {
            "type": "object",
            "description": "To upload an attachment you must upload the entire payload as `multipart/form-data` content-type",
            "properties": {
             "attachment": {
              "type": "string",
              "format": "binary",
              "description": "Reference Attachment.\nTo upload an attachment you must upload the entire payload as `multipart/form-data` content-type\nwith the `attachment` file."
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template Reference (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the template reference.",
           "example": 12
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this reference is attached to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains type-specific attributes. For company templates, only the attachment type is supported.",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            }
           }
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 985
          },
          "type": {
           "type": "string",
           "description": "Type of reference attached to the template item. Company templates only support 'attachment'.",
           "enum": [
            "attachment"
           ],
           "example": "attachment"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    plan_template_reference: '{\"plan_template_item_id\":54,\"type\":\"attachment\",\"payload\":{\"attachment\":\"string\"}}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"plan_template_reference\\\"\\r\\n\\r\\n{\\\"plan_template_item_id\\\":54,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"attachment\\\":\\\"string\\\"}}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'plan_template_reference={\"plan_template_item_id\":54,\"type\":\"attachment\",\"payload\":{\"attachment\":\"string\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"plan_template_item_id\\\":54,\\\"type\\\":\\\"attachment\\\",\\\"payload\\\":{\\\"attachment\\\":\\\"string\\\"}}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"plan_template_reference\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template References create endpoint",
      "description": "Create a Company Action Plan Template References for a given Company.",
      "endpoint": "POST /companies/{company_id}/action_plans/plan_template_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-references?version=1.0#create-company-action-plan-template-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_references/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Reference ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Action Plan Template Reference",
    "description": "Returns a Company Action Plan Template Reference",
    "tags": [
     "Company Action Plan Template References"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template Reference (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the template reference.",
           "example": 12
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this reference is attached to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains type-specific attributes. For company templates, only the attachment type is supported.",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            }
           }
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 985
          },
          "type": {
           "type": "string",
           "description": "Type of reference attached to the template item. Company templates only support 'attachment'.",
           "enum": [
            "attachment"
           ],
           "example": "attachment"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template References show endpoint",
      "description": "View the details of a Company Action Plan Template Reference.",
      "endpoint": "GET /companies/{company_id}/action_plans/plan_template_references/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-references?version=1.0#show-company-action-plan-template-reference"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Company Action Plan Template Reference",
    "description": "Deletes a Company Action Plan Template Reference",
    "tags": [
     "Company Action Plan Template References"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template References delete endpoint",
      "description": "Delete a Company Action Plan Template Reference.",
      "endpoint": "DELETE /companies/{company_id}/action_plans/plan_template_references/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-references?version=1.0#delete-company-action-plan-template-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/recycle_bin/action_plans/plan_template_references": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Company Action Plan Template References",
    "description": "List of all Recycled Company Action Plan Template References",
    "tags": [
     "Company Action Plan Template References"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[plan_template_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Recycled Company Action Plan Template Reference (Index)",
         "items": {
          "type": "object",
          "description": "Recycled Company Action Plan Template Reference (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the deleted template reference.",
            "example": 12
           },
           "plan_template_item_id": {
            "type": "integer",
            "description": "Unique identifier of the template item this reference was attached to.",
            "example": 54
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was moved to the recycle bin. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "payload": {
            "type": "object",
            "description": "Contains type-specific attributes. For company templates, only the attachment type is supported.",
            "properties": {
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Image URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Image Thumbnail URL",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "File Name",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "Content Type",
                "example": "image/jpg"
               }
              }
             }
            }
           },
           "plan_template_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan Template.",
            "example": 985
           },
           "type": {
            "type": "string",
            "description": "Type of reference attached to the template item. Company templates only support 'attachment'.",
            "enum": [
             "attachment"
            ],
            "example": "attachment"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the reference was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_references',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[plan_template_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_id]': 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_references?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Company Action Plan Template Reference list endpoint",
      "description": "Get a list of Recycled Company Action Plan Template References.",
      "endpoint": "GET /companies/{company_id}/recycle_bin/action_plans/plan_template_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-references?version=1.0#list-recycled-company-action-plan-template-references"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/recycle_bin/action_plans/plan_template_references/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Template Reference ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Company Action Plan Template Reference",
    "description": "Returns a Recycled Company Action Plan Template Reference",
    "tags": [
     "Company Action Plan Template References"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Recycled Company Action Plan Template Reference (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the deleted template reference.",
           "example": 12
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this reference was attached to.",
           "example": 54
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was moved to the recycle bin. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "payload": {
           "type": "object",
           "description": "Contains type-specific attributes. For company templates, only the attachment type is supported.",
           "properties": {
            "attachment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Image URL",
               "example": "http://www.example.com/"
              },
              "thumbnail_url": {
               "type": "string",
               "description": "Image Thumbnail URL",
               "example": "http://www.example.com/",
               "nullable": true
              },
              "name": {
               "type": "string",
               "description": "File Name",
               "example": "january_receipt_copy.jpg"
              },
              "content_type": {
               "type": "string",
               "description": "Content Type",
               "example": "image/jpg"
              }
             }
            }
           }
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 985
          },
          "type": {
           "type": "string",
           "description": "Type of reference attached to the template item. Company templates only support 'attachment'.",
           "enum": [
            "attachment"
           ],
           "example": "attachment"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the reference was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_references/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_references/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_references/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_references/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Company Action Plan Template Reference show endpoint",
      "description": "View the details of a Recycled Company Action Plan Template Reference.",
      "endpoint": "GET /companies/{company_id}/recycle_bin/action_plans/plan_template_references/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-references?version=1.0#show-recycled-company-action-plan-template-reference"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_references/bulk_create": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Plan Template References",
    "description": "Creates multiple Plan Template References",
    "tags": [
     "Plan Template References"
    ],
    "parameters": [
     {
      "name": "completion_mode",
      "in": "query",
      "description": "Whether to update what can be or nothing if one can not be updated. Defaults to \"all_or_nothing\"",
      "schema": {
       "type": "string",
       "enum": [
        "all_or_nothing",
        "atomic"
       ]
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_references"
        ],
        "properties": {
         "plan_template_references": {
          "title": "Plan Template References",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "plan_template_item_id",
            "type",
            "payload"
           ],
           "properties": {
            "plan_template_item_id": {
             "type": "integer",
             "description": "Plan Template Item ID",
             "example": 54
            },
            "type": {
             "type": "string",
             "description": "Plan Template Reference Type",
             "enum": [
              "attachment"
             ],
             "example": "specification_section"
            },
            "payload": {
             "type": "object",
             "description": "Payload for the attachment type",
             "properties": {
              "attachment": {
               "type": "string",
               "format": "binary"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of update status",
         "items": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Item",
             "example": 123
            },
            "status": {
             "type": "string",
             "description": "status of the update on that Item",
             "enum": [
              "success",
              "failure"
             ],
             "example": "success"
            },
            "errors": {
             "type": "object"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/bulk_create',\n  qs: {completion_mode: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template_references: [\n      {\n        plan_template_item_id: 54,\n        type: 'specification_section',\n        payload: {attachment: 'string'}\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_references\\\":[{\\\"plan_template_item_id\\\":54,\\\"type\\\":\\\"specification_section\\\",\\\"payload\\\":{\\\"attachment\\\":\\\"string\\\"}}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/bulk_create?completion_mode=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/bulk_create?completion_mode=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_references\":[{\"plan_template_item_id\":54,\"type\":\"specification_section\",\"payload\":{\"attachment\":\"string\"}}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_references/bulk_create?completion_mode=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"plan_template_references\\\":[{\\\"plan_template_item_id\\\":54,\\\"type\\\":\\\"specification_section\\\",\\\"payload\\\":{\\\"attachment\\\":\\\"string\\\"}}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template References Bulk create endpoint",
      "description": "Bulk create Company Action Plan Template References.",
      "endpoint": "POST /companies/{company_id}/action_plans/plan_template_references/bulk_create",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-05-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-references?version=1.0#bulk-create-plan-template-references"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}