{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Vendors",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Company Vendors",
  "version": "1.1",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/vendors": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "view",
     "in": "query",
     "description": "Specifies which view of the resource to return (which attributes should be present in the response). The `minimal` view returns a reduced payload and does not require Directory permissions; all other views require the `view_vendors` permission. The default view is `extended`.",
     "schema": {
      "type": "string",
      "enum": [
       "compact",
       "directory",
       "erp",
       "extended",
       "minimal",
       "normal",
       "summary"
      ]
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List company vendors",
    "description": "Return a list of all Vendors associated with a Company.\n\nAdds support for the `minimal` view, which returns a reduced payload (`id`, `name`, `is_active`, `logo`) intended for vendor selector dropdowns. The `minimal` view does **not** require the `view_vendors` Directory permission \u2014 it is available to any user authenticated on the Company. All other views continue to require `view_vendors`.",
    "tags": [
     "Company Vendors"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID. Returns item(s) with the specified Origin ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Return vendors where the search string matches the vendor name, keywords, origin_code, or ABN/EIN number",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return items within a specific created at ISO8601 datetime range",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return items within a specific updated at ISO8601 datetime range",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[standard_cost_code_id][]",
      "in": "query",
      "description": "Returns vendors associated with the specified standard cost code id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[trade_id][]",
      "in": "query",
      "description": "Returns vendors associated with the specified trade id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[id][]",
      "in": "query",
      "description": "Returns vendors with the specified id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[parent_id][]",
      "in": "query",
      "description": "Returns vendors with the specified parent id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name",
        "main_office_name",
        "project_and_bid_counts"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of company vendors. Shape depends on the `view` parameter.",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "description": "Vendor Extended View",
            "allOf": [
             {
              "type": "object",
              "title": "Extended"
             },
             {
              "type": "object",
              "title": "Normal",
              "description": "Vendor Normal View",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "SID Architecture"
               },
               "abbreviated_name": {
                "description": "Abbreviated name",
                "example": "PE",
                "nullable": true,
                "type": "string"
               },
               "address": {
                "description": "Address",
                "example": "846 Dogglesworth Drive",
                "nullable": true,
                "type": "string"
               },
               "attachments": {
                "type": "array",
                "description": "Attachments",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 5324
                  },
                  "url": {
                   "type": "string",
                   "description": "URL",
                   "example": "http://www.example.com/"
                  },
                  "name": {
                   "type": "string",
                   "description": "Filename",
                   "example": "january_receipt_copy.jpg"
                  },
                  "filename": {
                   "type": "string",
                   "description": "Filename",
                   "example": "january_receipt_copy.jpg"
                  }
                 }
                }
               },
               "authorized_bidder": {
                "type": "boolean",
                "description": "Authorized bidder status",
                "example": true
               },
               "business_id": {
                "description": "Business id",
                "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
                "nullable": true,
                "type": "string"
               },
               "business_phone": {
                "description": "Business phone",
                "example": "(812) 989-9810",
                "nullable": true,
                "type": "string"
               },
               "business_register": {
                "description": "business register",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 321
                 },
                 "type": {
                  "type": "string",
                  "description": "business register type (ABN, EIN)",
                  "example": "abn"
                 },
                 "identifier": {
                  "type": "string",
                  "description": "Identification code",
                  "example": "51824753556"
                 },
                 "verified_at": {
                  "format": "date-time",
                  "description": "Verified at",
                  "example": "2018-06-11T15:56:25Z",
                  "nullable": true,
                  "type": "string"
                 },
                 "verification_status": {
                  "description": "Verification status (active, cancelled, does_not_exist)",
                  "example": "active",
                  "enum": [
                   "active",
                   "cancelled",
                   "does_not_exist",
                   null
                  ],
                  "nullable": true,
                  "type": "string"
                 }
                },
                "example": {
                 "id": 321,
                 "type": "abn",
                 "identifier": "51824753556",
                 "verified_at": "2018-06-11T15:56:25Z",
                 "verification_status": "active"
                },
                "nullable": true,
                "type": "object"
               },
               "city": {
                "description": "City",
                "example": "Jeffersonville",
                "nullable": true,
                "type": "string"
               },
               "connected_to_company_id": {
                "type": "integer",
                "description": "Connected Company ID",
                "example": 123,
                "nullable": true
               },
               "contact_count": {
                "type": "integer",
                "description": "Count of active Contacts associated with the vendor record.",
                "example": 5
               },
               "company": {
                "description": "Company",
                "example": "Stock Construction",
                "nullable": true,
                "type": "string"
               },
               "company_vendor": {
                "type": "boolean",
                "description": "Denotes whether this is the Company's Vendor",
                "example": false
               },
               "country_code": {
                "description": "Country code (ISO-3166 Alpha-2 format)",
                "example": "US",
                "nullable": true,
                "type": "string"
               },
               "created_at": {
                "format": "date-time",
                "description": "Created at",
                "example": "2016-10-23T21:39:40Z",
                "nullable": true,
                "type": "string"
               },
               "email_address": {
                "format": "email",
                "description": "Email address",
                "example": "jane.doe@example.com",
                "nullable": true,
                "type": "string"
               },
               "fax_number": {
                "description": "Fax number",
                "example": "(812) 989-9810",
                "nullable": true,
                "type": "string"
               },
               "is_active": {
                "type": "boolean",
                "description": "Active status",
                "example": true
               },
               "is_connected": {
                "type": "boolean",
                "description": "Connected status",
                "example": true
               },
               "labor_union": {
                "description": "Labor union",
                "example": "IWW 872",
                "nullable": true,
                "type": "string"
               },
               "license_number": {
                "description": "License number",
                "example": "1901XYZ",
                "nullable": true,
                "type": "string"
               },
               "logo": {
                "description": "Logo url",
                "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
                "nullable": true,
                "type": "string"
               },
               "mobile_phone": {
                "description": "Mobile phone",
                "example": "(812) 989-9810",
                "nullable": true,
                "type": "string"
               },
               "non_union_prevailing_wage": {
                "type": "boolean",
                "description": "Non union prevailing wage status",
                "example": false
               },
               "notes": {
                "description": "Notes",
                "example": "owned by a dog",
                "nullable": true,
                "type": "string"
               },
               "origin_code": {
                "description": "Origin Code",
                "example": "foobar",
                "nullable": true,
                "type": "string"
               },
               "origin_data": {
                "description": "Origin data",
                "example": "OD-2398273424",
                "nullable": true,
                "type": "string"
               },
               "origin_id": {
                "description": "Origin ID",
                "example": "foobar",
                "nullable": true,
                "type": "string"
               },
               "prequalified": {
                "type": "boolean",
                "description": "Prequalified status",
                "example": false
               },
               "primary_contact": {
                "description": "Primary contact",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 1306796
                 },
                 "first_name": {
                  "type": "string",
                  "description": "First name",
                  "example": "John"
                 },
                 "last_name": {
                  "type": "string",
                  "description": "Last name",
                  "example": "Doe"
                 },
                 "business_phone": {
                  "description": "Business phone",
                  "nullable": true,
                  "type": "string"
                 },
                 "business_phone_extension": {
                  "description": "Business phone extension",
                  "nullable": true,
                  "type": "integer"
                 },
                 "fax_number": {
                  "description": "Fax number",
                  "nullable": true,
                  "type": "string"
                 },
                 "mobile_phone": {
                  "description": "Mobile phone",
                  "nullable": true,
                  "type": "string"
                 },
                 "email_address": {
                  "type": "string",
                  "format": "email",
                  "description": "Email",
                  "example": "john.doe@example.com"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at",
                  "example": "2016-10-23T21:39:40Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated at",
                  "example": "2016-10-23T21:39:40Z"
                 }
                },
                "example": {
                 "id": 1306796,
                 "first_name": "John",
                 "last_name": "Doe",
                 "business_phone": "5555555555",
                 "business_phone_extension": 123,
                 "fax_number": "5555555555",
                 "mobile_phone": "5555555555",
                 "email_address": "john.doe@example.com",
                 "created_at": "2016-10-23T21:39:40Z",
                 "updated_at": "2016-10-23T21:39:40Z"
                },
                "nullable": true,
                "type": "object"
               },
               "state_code": {
                "description": "State code (ISO-3166 Alpha-2 format)",
                "example": "IN",
                "nullable": true,
                "type": "string"
               },
               "synced_to_erp": {
                "type": "boolean",
                "description": "Synced to ERP",
                "example": false
               },
               "trade_name": {
                "type": "string",
                "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
                "example": "Woofer Electric"
               },
               "union_member": {
                "type": "boolean",
                "description": "Union member status",
                "example": false
               },
               "updated_at": {
                "format": "date-time",
                "description": "Updated at",
                "example": "2016-10-23T21:39:40Z",
                "nullable": true,
                "type": "string"
               },
               "vendor_group": {
                "required": [
                 "name"
                ],
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 1
                 },
                 "name": {
                  "type": "string",
                  "maxLength": 255,
                  "example": "Otis Elevators"
                 }
                },
                "example": {
                 "id": 1,
                 "name": "Otis Elevators"
                },
                "nullable": true,
                "type": "object"
               },
               "website": {
                "description": "Website url",
                "example": "http://poodleparade.com",
                "nullable": true,
                "type": "string"
               },
               "zip": {
                "description": "Zip code",
                "example": "47130",
                "nullable": true,
                "type": "string"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "bidding": {
                "type": "object",
                "description": "Bidding status",
                "properties": {
                 "affirmative_action": {
                  "type": "boolean",
                  "example": true
                 },
                 "small_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "african_american_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "hispanic_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "womens_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "historically_underutilized_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "sdvo_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "certified_business_enterprise": {
                  "type": "boolean",
                  "example": false
                 },
                 "asian_american_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "native_american_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "disadvantaged_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "minority_business_enterprise": {
                  "type": "boolean",
                  "example": true
                 },
                 "eight_a_business": {
                  "type": "boolean",
                  "example": false
                 }
                },
                "example": {
                 "affirmative_action": false,
                 "small_business": false,
                 "african_american_business": true,
                 "hispanic_business": false,
                 "womens_business": false,
                 "historically_underutilized_business": false,
                 "sdvo_business": false,
                 "certified_business_enterprise": true,
                 "asian_american_business": false,
                 "native_american_business": true,
                 "disadvantaged_business": false,
                 "minority_business_enterprise": false,
                 "eight_a_business": true
                },
                "nullable": true
               },
               "bidding_distribution": {
                "type": "array",
                "description": "Bidding distribution list",
                "items": {
                 "allOf": [
                  {
                   "type": "object",
                   "properties": {
                    "company_name": {
                     "example": "^ Directory Testing Co.",
                     "type": "string"
                    },
                    "id": {
                     "example": 6629,
                     "type": "integer"
                    },
                    "login": {
                     "example": "read+gp@example.com",
                     "type": "string"
                    },
                    "name": {
                     "example": "Read + GPs Test",
                     "type": "string"
                    }
                   }
                  }
                 ]
                }
               },
               "children_count": {
                "type": "integer",
                "description": "Count of vendors whose parent_id is this vendor's unique identifier",
                "example": 0
               },
               "legal_name": {
                "type": "string",
                "example": "1st Choice Glass Inc."
               },
               "parent": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string"
                 }
                },
                "example": {
                 "id": 634512,
                 "name": "Poodle Electric Inc."
                },
                "nullable": true
               },
               "project_ids": {
                "type": "array",
                "description": "Array of Project IDs",
                "items": {
                 "type": "integer"
                }
               },
               "standard_cost_codes": {
                "type": "array",
                "items": {
                 "title": "Standard Cost Code",
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 12345
                  },
                  "standard_cost_code_list_id": {
                   "type": "integer",
                   "description": "Standard Cost Code List ID",
                   "example": 12345
                  },
                  "parent_id": {
                   "type": "integer",
                   "description": "Parent ID",
                   "example": 12345
                  },
                  "code": {
                   "type": "string",
                   "description": "Cost code, not including parent prefix",
                   "example": "300"
                  },
                  "full_code": {
                   "type": "string",
                   "description": "Cost code, including parent prefixes",
                   "example": "02-300"
                  },
                  "name": {
                   "type": "string",
                   "description": "Description",
                   "example": "Site Work"
                  },
                  "origin_data": {
                   "type": "string",
                   "description": "Origin data",
                   "example": "OD-2398273424"
                  },
                  "origin_id": {
                   "type": "string",
                   "description": "Origin ID",
                   "example": "ABC123"
                  }
                 }
                }
               },
               "trades": {
                "type": "array",
                "description": "Trades",
                "items": {
                 "type": "object",
                 "title": "Trade",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Trade ID",
                   "example": 999
                  },
                  "name": {
                   "type": "string",
                   "description": "Trade name",
                   "example": "09 - acoustical panels"
                  },
                  "active": {
                   "type": "boolean",
                   "description": "Trade availability",
                   "example": true
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp of last update to Trade",
                   "example": "2016-08-01T23:33:54Z"
                  }
                 }
                }
               }
              }
             }
            ]
           },
           {
            "allOf": [
             {
              "type": "object",
              "title": "minimal view",
              "properties": {
               "logo": {
                "type": "string",
                "description": "Logo url",
                "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
                "nullable": true
               },
               "is_active": {
                "type": "boolean",
                "description": "Active status",
                "example": true
               },
               "origin_code": {
                "type": "string",
                "description": "The ERP origin code associated with this vendor (used for disambiguation labels such as \"Vendor Name (ERP ID - origin_code)\").",
                "nullable": true
               },
               "origin_id": {
                "type": "string",
                "description": "The ERP origin identifier associated with this vendor.",
                "nullable": true
               }
              }
             },
             {
              "type": "object",
              "title": "Compact",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique integer identifier for this vendor/company.",
                "example": 161072
               },
               "name": {
                "type": "string",
                "description": "Display name of the vendor or contractor company.",
                "example": "SID Architecture"
               }
              }
             }
            ]
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/vendors',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    company_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[origin_id]': 'SOME_STRING_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[standard_cost_code_id][]': 'SOME_ARRAY_VALUE',\n    'filters[trade_id][]': 'SOME_ARRAY_VALUE',\n    'filters[id][]': 'SOME_ARRAY_VALUE',\n    'filters[parent_id][]': 'SOME_ARRAY_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/vendors?view=SOME_STRING_VALUE&company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bstandard_cost_code_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bid%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bparent_id%5D%5B%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/vendors?view=SOME_STRING_VALUE&company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bstandard_cost_code_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bid%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bparent_id%5D%5B%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/vendors?view=SOME_STRING_VALUE&company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bstandard_cost_code_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bid%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bparent_id%5D%5B%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added minimal view to List company vendors",
      "description": "Added support for `view=minimal` on List company vendors. The minimal view returns a reduced payload (`id`, `name`, `is_active`, `logo`) intended for vendor selector dropdowns, and does not require the `view_vendors` Directory permission. All other views continue to require `view_vendors`.",
      "endpoint": "GET /vendors",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-05-22",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-vendors?version=1.1#list-company-vendors"
     },
     {
      "summary": "Added origin_code and origin_id to the minimal view for List company vendors",
      "description": "Added `origin_code` and `origin_id` to the `view=minimal` response so ERP customers keep the vendor disambiguation label (e.g., \"Vendor Name (ERP ID - origin_code)\") when using the permission-less vendor selector. Both fields are nullable strings.",
      "endpoint": "GET /vendors",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-07-29",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-vendors?version=1.1#list-company-vendors"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/vendors/{id}/business_register": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Vendor Business Register",
    "description": "Create a new Business Register associated with a specified Vendor.",
    "tags": [
     "Company Vendors Business Registers"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the Company Vendor",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Business Register Body",
        "type": "object",
        "properties": {
         "business_register": {
          "type": "object",
          "required": [
           "type",
           "identifier"
          ],
          "properties": {
           "type": {
            "type": "string",
            "description": "Entity Type",
            "enum": [
             "abn",
             "ein"
            ],
            "example": "abn"
           },
           "identifier": {
            "type": "string",
            "description": "Entity ID. This field ignores spaces and dashes.",
            "example": "51824753556"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "description": "business register",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "example": 321
          },
          "type": {
           "type": "string",
           "description": "business register type (ABN, EIN)",
           "example": "abn"
          },
          "identifier": {
           "type": "string",
           "description": "Identification code",
           "example": "51824753556"
          },
          "verified_at": {
           "type": "string",
           "format": "date-time",
           "description": "Verified at",
           "example": "2018-06-11T15:56:25Z",
           "nullable": true
          },
          "verification_status": {
           "type": "string",
           "description": "Verification status (active, cancelled, does_not_exist)",
           "example": "active",
           "enum": [
            "active",
            "cancelled",
            "does_not_exist",
            null
           ],
           "nullable": true
          }
         },
         "example": {
          "id": 321,
          "type": "abn",
          "identifier": "51824753556",
          "verified_at": "2018-06-11T15:56:25Z",
          "verification_status": "active"
         },
         "nullable": true
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "A Business Register is already associated with the Vendor.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "object",
           "properties": {
            "field_name": {
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/vendors/%7Bid%7D/business_register',\n  qs: {company_id: 'SOME_INTEGER_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {business_register: {type: 'abn', identifier: '51824753556'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"business_register\\\":{\\\"type\\\":\\\"abn\\\",\\\"identifier\\\":\\\"51824753556\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/vendors/%7Bid%7D/business_register?company_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/vendors/%7Bid%7D/business_register?company_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"business_register\":{\"type\":\"abn\",\"identifier\":\"51824753556\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/vendors/%7Bid%7D/business_register?company_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"business_register\\\":{\\\"type\\\":\\\"abn\\\",\\\"identifier\\\":\\\"51824753556\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Company Vendor Business Register",
    "description": "Update an existing Business Register associated with a specified Vendor.\n\nThe Register must already exist.\n\nChanging the identifier of a verified Business Register will set the following attributes to null:\nverification_status,\nverified_at",
    "tags": [
     "Company Vendors Business Registers"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the Company Vendor",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "query",
      "description": "ID of the Company",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Business Register Body",
        "type": "object",
        "properties": {
         "business_register": {
          "type": "object",
          "required": [
           "type",
           "identifier"
          ],
          "properties": {
           "type": {
            "type": "string",
            "description": "Entity Type",
            "enum": [
             "abn",
             "ein"
            ],
            "example": "abn"
           },
           "identifier": {
            "type": "string",
            "description": "Entity ID. This field ignores spaces and dashes.",
            "example": "51824753556"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "description": "business register",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "example": 321
          },
          "type": {
           "type": "string",
           "description": "business register type (ABN, EIN)",
           "example": "abn"
          },
          "identifier": {
           "type": "string",
           "description": "Identification code",
           "example": "51824753556"
          },
          "verified_at": {
           "type": "string",
           "format": "date-time",
           "description": "Verified at",
           "example": "2018-06-11T15:56:25Z",
           "nullable": true
          },
          "verification_status": {
           "type": "string",
           "description": "Verification status (active, cancelled, does_not_exist)",
           "example": "active",
           "enum": [
            "active",
            "cancelled",
            "does_not_exist",
            null
           ],
           "nullable": true
          }
         },
         "example": {
          "id": 321,
          "type": "abn",
          "identifier": "51824753556",
          "verified_at": "2018-06-11T15:56:25Z",
          "verification_status": "active"
         },
         "nullable": true
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found. The Vendor ID was invalid, or the Vendor does not have a Business Register.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "type": "object",
           "properties": {
            "field_name": {
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/vendors/%7Bid%7D/business_register',\n  qs: {company_id: 'SOME_INTEGER_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {business_register: {type: 'abn', identifier: '51824753556'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"business_register\\\":{\\\"type\\\":\\\"abn\\\",\\\"identifier\\\":\\\"51824753556\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/vendors/%7Bid%7D/business_register?company_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/vendors/%7Bid%7D/business_register?company_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"business_register\":{\"type\":\"abn\",\"identifier\":\"51824753556\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/vendors/%7Bid%7D/business_register?company_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"business_register\\\":{\\\"type\\\":\\\"abn\\\",\\\"identifier\\\":\\\"51824753556\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/vendors": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "view",
     "in": "query",
     "description": "Specifies which view of the resource to return (which attributes should be present in the response). The default view is extended.",
     "schema": {
      "type": "string",
      "enum": [
       "compact",
       "normal",
       "erp",
       "extended",
       "directory",
       "summary"
      ]
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create company vendor",
    "description": "Create a new Vendor associated with a specified Company.\n\n#### Country and State codes\nThe `country_code` and `state_code` parameter values must conform to the ISO-3166 Alpha-2 specification.\nSee [Working with Country Codes](/documentation/country-codes) for additional information.",
    "tags": [
     "Company Vendors"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Company Vendor Body",
        "type": "object",
        "required": [
         "company_id",
         "vendor"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "Company ID",
          "example": 123
         },
         "vendor": {
          "title": "Company Vendor",
          "type": "object",
          "required": [
           "name"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name",
            "example": "Poodle Electric"
           },
           "address": {
            "type": "string",
            "description": "Address",
            "example": "846 Dogglesworth Drive"
           },
           "city": {
            "type": "string",
            "description": "City",
            "example": "Jeffersonville"
           },
           "zip": {
            "type": "string",
            "description": "Zip code",
            "example": "47130"
           },
           "business_phone": {
            "type": "string",
            "description": "Business phone",
            "example": "(812) 284-8506"
           },
           "mobile_phone": {
            "type": "string",
            "description": "Mobile phone",
            "example": "(812) 556-3397"
           },
           "fax_number": {
            "type": "string",
            "description": "Fax number",
            "example": "(812) 989-9810"
           },
           "email_address": {
            "type": "string",
            "description": "Email address",
            "example": "jane.doe@example.com"
           },
           "is_active": {
            "type": "boolean",
            "description": "Active status",
            "example": true
           },
           "state_code": {
            "type": "string",
            "description": "State code (ISO-3166 Alpha-2 format)",
            "example": "IN"
           },
           "authorized_bidder": {
            "type": "boolean",
            "description": "Authorized bidder status",
            "example": true
           },
           "prequalified": {
            "type": "boolean",
            "description": "Prequalified status",
            "default": false,
            "example": false
           },
           "country_code": {
            "type": "string",
            "description": "Country code (ISO-3166 Alpha-2 format)",
            "example": "US"
           },
           "labor_union": {
            "type": "string",
            "description": "Labor union",
            "example": "IWW 872"
           },
           "license_number": {
            "type": "string",
            "description": "License number",
            "example": "1901XYZ"
           },
           "website": {
            "type": "string",
            "description": "Website url",
            "example": "http://example.com"
           },
           "union_member": {
            "type": "boolean",
            "description": "Union member status",
            "example": true
           },
           "non_union_prevailing_wage": {
            "type": "boolean",
            "description": "Non union prevailing wage status",
            "example": false
           },
           "abbreviated_name": {
            "type": "string",
            "description": "Abbreviated name",
            "example": "PE"
           },
           "notes": {
            "type": "string",
            "description": "Notes (notes/keywords/tags)",
            "example": "Owned by a dog"
           },
           "vendor_group_id": {
            "type": "integer",
            "description": "Vendor Group ID",
            "example": 1843218
           },
           "parent_id": {
            "type": "integer",
            "example": 1306797,
            "description": "Parent Vendor ID. Cannot be the same as ID. Only two levels of hierarchy are supported (parent/child)."
           },
           "primary_contact_id": {
            "type": "integer",
            "description": "Primary Contact ID",
            "example": 1306796
           },
           "origin_id": {
            "type": "string",
            "description": "Origin ID",
            "example": "ref-12345"
           },
           "origin_data": {
            "type": "string",
            "description": "Origin Data",
            "example": "{\"data_field\":{\"is_important\":true}}"
           },
           "origin_code": {
            "type": "string",
            "description": "Origin Code",
            "example": "PE-12345"
           },
           "trade_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Trade IDs"
            },
            "example": [
             123,
             456
            ]
           },
           "bidding_distribution_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "User IDs on the bidder distribution"
            },
            "example": [
             123,
             456
            ]
           },
           "standard_cost_code_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Standard Cost Code IDs"
            },
            "example": [
             123,
             456
            ]
           },
           "trade_name": {
            "type": "string",
            "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
            "example": "Woofer Electric"
           },
           "business_register": {
            "type": "object",
            "description": "Business register details for the vendor. When provided, both type and identifier are required. A 400 error is returned if only one is present.",
            "properties": {
             "type": {
              "type": "string",
              "description": "Business register entity type.",
              "enum": [
               "abn",
               "ein"
              ],
              "example": "abn"
             },
             "identifier": {
              "type": "string",
              "description": "Business register identifier (e.g. ABN = 11 digits, EIN = 9 digits).",
              "example": "51824753556"
             }
            }
           },
           "bidding": {
            "type": "object",
            "description": "Bidding statuses",
            "properties": {
             "affirmative_action": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "small_business": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "african_american_business": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "hispanic_business": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "womens_business": {
              "type": "boolean",
              "default": false,
              "example": false
             },
             "historically_underutilized_business": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "sdvo_business": {
              "type": "boolean",
              "default": false,
              "example": false
             },
             "certified_business_enterprise": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "asian_american_business": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "native_american_business": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "disadvantaged_business": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "minority_business_enterprise": {
              "type": "boolean",
              "default": false,
              "example": true
             },
             "eight_a_business": {
              "type": "boolean",
              "default": false,
              "example": true
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Vendor Extended View",
         "allOf": [
          {
           "type": "object",
           "title": "Extended"
          },
          {
           "type": "object",
           "title": "Normal",
           "description": "Vendor Normal View",
           "properties": {
            "id": {
             "type": "integer",
             "example": 161072
            },
            "name": {
             "type": "string",
             "example": "SID Architecture"
            },
            "abbreviated_name": {
             "description": "Abbreviated name",
             "example": "PE",
             "nullable": true,
             "type": "string"
            },
            "address": {
             "description": "Address",
             "example": "846 Dogglesworth Drive",
             "nullable": true,
             "type": "string"
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "authorized_bidder": {
             "type": "boolean",
             "description": "Authorized bidder status",
             "example": true
            },
            "business_id": {
             "description": "Business id",
             "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
             "nullable": true,
             "type": "string"
            },
            "business_phone": {
             "description": "Business phone",
             "example": "(812) 989-9810",
             "nullable": true,
             "type": "string"
            },
            "business_register": {
             "description": "business register",
             "properties": {
              "id": {
               "type": "integer",
               "example": 321
              },
              "type": {
               "type": "string",
               "description": "business register type (ABN, EIN)",
               "example": "abn"
              },
              "identifier": {
               "type": "string",
               "description": "Identification code",
               "example": "51824753556"
              },
              "verified_at": {
               "format": "date-time",
               "description": "Verified at",
               "example": "2018-06-11T15:56:25Z",
               "nullable": true,
               "type": "string"
              },
              "verification_status": {
               "description": "Verification status (active, cancelled, does_not_exist)",
               "example": "active",
               "enum": [
                "active",
                "cancelled",
                "does_not_exist",
                null
               ],
               "nullable": true,
               "type": "string"
              }
             },
             "example": {
              "id": 321,
              "type": "abn",
              "identifier": "51824753556",
              "verified_at": "2018-06-11T15:56:25Z",
              "verification_status": "active"
             },
             "nullable": true,
             "type": "object"
            },
            "city": {
             "description": "City",
             "example": "Jeffersonville",
             "nullable": true,
             "type": "string"
            },
            "connected_to_company_id": {
             "type": "integer",
             "description": "Connected Company ID",
             "example": 123,
             "nullable": true
            },
            "contact_count": {
             "type": "integer",
             "description": "Count of active Contacts associated with the vendor record.",
             "example": 5
            },
            "company": {
             "description": "Company",
             "example": "Stock Construction",
             "nullable": true,
             "type": "string"
            },
            "company_vendor": {
             "type": "boolean",
             "description": "Denotes whether this is the Company's Vendor",
             "example": false
            },
            "country_code": {
             "description": "Country code (ISO-3166 Alpha-2 format)",
             "example": "US",
             "nullable": true,
             "type": "string"
            },
            "created_at": {
             "format": "date-time",
             "description": "Created at",
             "example": "2016-10-23T21:39:40Z",
             "nullable": true,
             "type": "string"
            },
            "email_address": {
             "format": "email",
             "description": "Email address",
             "example": "jane.doe@example.com",
             "nullable": true,
             "type": "string"
            },
            "fax_number": {
             "description": "Fax number",
             "example": "(812) 989-9810",
             "nullable": true,
             "type": "string"
            },
            "is_active": {
             "type": "boolean",
             "description": "Active status",
             "example": true
            },
            "is_connected": {
             "type": "boolean",
             "description": "Connected status",
             "example": true
            },
            "labor_union": {
             "description": "Labor union",
             "example": "IWW 872",
             "nullable": true,
             "type": "string"
            },
            "license_number": {
             "description": "License number",
             "example": "1901XYZ",
             "nullable": true,
             "type": "string"
            },
            "logo": {
             "description": "Logo url",
             "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
             "nullable": true,
             "type": "string"
            },
            "mobile_phone": {
             "description": "Mobile phone",
             "example": "(812) 989-9810",
             "nullable": true,
             "type": "string"
            },
            "non_union_prevailing_wage": {
             "type": "boolean",
             "description": "Non union prevailing wage status",
             "example": false
            },
            "notes": {
             "description": "Notes",
             "example": "owned by a dog",
             "nullable": true,
             "type": "string"
            },
            "origin_code": {
             "description": "Origin Code",
             "example": "foobar",
             "nullable": true,
             "type": "string"
            },
            "origin_data": {
             "description": "Origin data",
             "example": "OD-2398273424",
             "nullable": true,
             "type": "string"
            },
            "origin_id": {
             "description": "Origin ID",
             "example": "foobar",
             "nullable": true,
             "type": "string"
            },
            "prequalified": {
             "type": "boolean",
             "description": "Prequalified status",
             "example": false
            },
            "primary_contact": {
             "description": "Primary contact",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 1306796
              },
              "first_name": {
               "type": "string",
               "description": "First name",
               "example": "John"
              },
              "last_name": {
               "type": "string",
               "description": "Last name",
               "example": "Doe"
              },
              "business_phone": {
               "description": "Business phone",
               "nullable": true,
               "type": "string"
              },
              "business_phone_extension": {
               "description": "Business phone extension",
               "nullable": true,
               "type": "integer"
              },
              "fax_number": {
               "description": "Fax number",
               "nullable": true,
               "type": "string"
              },
              "mobile_phone": {
               "description": "Mobile phone",
               "nullable": true,
               "type": "string"
              },
              "email_address": {
               "type": "string",
               "format": "email",
               "description": "Email",
               "example": "john.doe@example.com"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2016-10-23T21:39:40Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2016-10-23T21:39:40Z"
              }
             },
             "example": {
              "id": 1306796,
              "first_name": "John",
              "last_name": "Doe",
              "business_phone": "5555555555",
              "business_phone_extension": 123,
              "fax_number": "5555555555",
              "mobile_phone": "5555555555",
              "email_address": "john.doe@example.com",
              "created_at": "2016-10-23T21:39:40Z",
              "updated_at": "2016-10-23T21:39:40Z"
             },
             "nullable": true,
             "type": "object"
            },
            "state_code": {
             "description": "State code (ISO-3166 Alpha-2 format)",
             "example": "IN",
             "nullable": true,
             "type": "string"
            },
            "synced_to_erp": {
             "type": "boolean",
             "description": "Synced to ERP",
             "example": false
            },
            "trade_name": {
             "type": "string",
             "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
             "example": "Woofer Electric"
            },
            "union_member": {
             "type": "boolean",
             "description": "Union member status",
             "example": false
            },
            "updated_at": {
             "format": "date-time",
             "description": "Updated at",
             "example": "2016-10-23T21:39:40Z",
             "nullable": true,
             "type": "string"
            },
            "vendor_group": {
             "required": [
              "name"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "example": 1
              },
              "name": {
               "type": "string",
               "maxLength": 255,
               "example": "Otis Elevators"
              }
             },
             "example": {
              "id": 1,
              "name": "Otis Elevators"
             },
             "nullable": true,
             "type": "object"
            },
            "website": {
             "description": "Website url",
             "example": "http://poodleparade.com",
             "nullable": true,
             "type": "string"
            },
            "zip": {
             "description": "Zip code",
             "example": "47130",
             "nullable": true,
             "type": "string"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "bidding": {
             "type": "object",
             "description": "Bidding status",
             "properties": {
              "affirmative_action": {
               "type": "boolean",
               "example": true
              },
              "small_business": {
               "type": "boolean",
               "example": false
              },
              "african_american_business": {
               "type": "boolean",
               "example": false
              },
              "hispanic_business": {
               "type": "boolean",
               "example": false
              },
              "womens_business": {
               "type": "boolean",
               "example": false
              },
              "historically_underutilized_business": {
               "type": "boolean",
               "example": false
              },
              "sdvo_business": {
               "type": "boolean",
               "example": false
              },
              "certified_business_enterprise": {
               "type": "boolean",
               "example": false
              },
              "asian_american_business": {
               "type": "boolean",
               "example": false
              },
              "native_american_business": {
               "type": "boolean",
               "example": false
              },
              "disadvantaged_business": {
               "type": "boolean",
               "example": false
              },
              "minority_business_enterprise": {
               "type": "boolean",
               "example": true
              },
              "eight_a_business": {
               "type": "boolean",
               "example": false
              }
             },
             "example": {
              "affirmative_action": false,
              "small_business": false,
              "african_american_business": true,
              "hispanic_business": false,
              "womens_business": false,
              "historically_underutilized_business": false,
              "sdvo_business": false,
              "certified_business_enterprise": true,
              "asian_american_business": false,
              "native_american_business": true,
              "disadvantaged_business": false,
              "minority_business_enterprise": false,
              "eight_a_business": true
             },
             "nullable": true
            },
            "bidding_distribution": {
             "type": "array",
             "description": "Bidding distribution list",
             "items": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "company_name": {
                  "example": "^ Directory Testing Co.",
                  "type": "string"
                 },
                 "id": {
                  "example": 6629,
                  "type": "integer"
                 },
                 "login": {
                  "example": "read+gp@example.com",
                  "type": "string"
                 },
                 "name": {
                  "example": "Read + GPs Test",
                  "type": "string"
                 }
                }
               }
              ]
             }
            },
            "children_count": {
             "type": "integer",
             "description": "Count of vendors whose parent_id is this vendor's unique identifier",
             "example": 0
            },
            "legal_name": {
             "type": "string",
             "example": "1st Choice Glass Inc."
            },
            "parent": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string"
              }
             },
             "example": {
              "id": 634512,
              "name": "Poodle Electric Inc."
             },
             "nullable": true
            },
            "project_ids": {
             "type": "array",
             "description": "Array of Project IDs",
             "items": {
              "type": "integer"
             }
            },
            "standard_cost_codes": {
             "type": "array",
             "items": {
              "title": "Standard Cost Code",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 12345
               },
               "standard_cost_code_list_id": {
                "type": "integer",
                "description": "Standard Cost Code List ID",
                "example": 12345
               },
               "parent_id": {
                "type": "integer",
                "description": "Parent ID",
                "example": 12345
               },
               "code": {
                "type": "string",
                "description": "Cost code, not including parent prefix",
                "example": "300"
               },
               "full_code": {
                "type": "string",
                "description": "Cost code, including parent prefixes",
                "example": "02-300"
               },
               "name": {
                "type": "string",
                "description": "Description",
                "example": "Site Work"
               },
               "origin_data": {
                "type": "string",
                "description": "Origin data",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "type": "string",
                "description": "Origin ID",
                "example": "ABC123"
               }
              }
             }
            },
            "trades": {
             "type": "array",
             "description": "Trades",
             "items": {
              "type": "object",
              "title": "Trade",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Trade ID",
                "example": 999
               },
               "name": {
                "type": "string",
                "description": "Trade name",
                "example": "09 - acoustical panels"
               },
               "active": {
                "type": "boolean",
                "description": "Trade availability",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of last update to Trade",
                "example": "2016-08-01T23:33:54Z"
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/vendors',\n  qs: {view: 'SOME_STRING_VALUE', run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    company_id: 123,\n    vendor: {\n      name: 'Poodle Electric',\n      address: '846 Dogglesworth Drive',\n      city: 'Jeffersonville',\n      zip: '47130',\n      business_phone: '(812) 284-8506',\n      mobile_phone: '(812) 556-3397',\n      fax_number: '(812) 989-9810',\n      email_address: 'jane.doe@example.com',\n      is_active: true,\n      state_code: 'IN',\n      authorized_bidder: true,\n      prequalified: false,\n      country_code: 'US',\n      labor_union: 'IWW 872',\n      license_number: '1901XYZ',\n      website: 'http://example.com',\n      union_member: true,\n      non_union_prevailing_wage: false,\n      abbreviated_name: 'PE',\n      notes: 'Owned by a dog',\n      vendor_group_id: 1843218,\n      parent_id: 1306797,\n      primary_contact_id: 1306796,\n      origin_id: 'ref-12345',\n      origin_data: '{\"data_field\":{\"is_important\":true}}',\n      origin_code: 'PE-12345',\n      trade_ids: [123, 456],\n      bidding_distribution_ids: [123, 456],\n      standard_cost_code_ids: [123, 456],\n      trade_name: 'Woofer Electric',\n      business_register: {type: 'abn', identifier: '51824753556'},\n      bidding: {\n        affirmative_action: true,\n        small_business: true,\n        african_american_business: true,\n        hispanic_business: true,\n        womens_business: false,\n        historically_underutilized_business: true,\n        sdvo_business: false,\n        certified_business_enterprise: true,\n        asian_american_business: true,\n        native_american_business: true,\n        disadvantaged_business: true,\n        minority_business_enterprise: true,\n        eight_a_business: true\n      }\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"company_id\\\":123,\\\"vendor\\\":{\\\"name\\\":\\\"Poodle Electric\\\",\\\"address\\\":\\\"846 Dogglesworth Drive\\\",\\\"city\\\":\\\"Jeffersonville\\\",\\\"zip\\\":\\\"47130\\\",\\\"business_phone\\\":\\\"(812) 284-8506\\\",\\\"mobile_phone\\\":\\\"(812) 556-3397\\\",\\\"fax_number\\\":\\\"(812) 989-9810\\\",\\\"email_address\\\":\\\"jane.doe@example.com\\\",\\\"is_active\\\":true,\\\"state_code\\\":\\\"IN\\\",\\\"authorized_bidder\\\":true,\\\"prequalified\\\":false,\\\"country_code\\\":\\\"US\\\",\\\"labor_union\\\":\\\"IWW 872\\\",\\\"license_number\\\":\\\"1901XYZ\\\",\\\"website\\\":\\\"http://example.com\\\",\\\"union_member\\\":true,\\\"non_union_prevailing_wage\\\":false,\\\"abbreviated_name\\\":\\\"PE\\\",\\\"notes\\\":\\\"Owned by a dog\\\",\\\"vendor_group_id\\\":1843218,\\\"parent_id\\\":1306797,\\\"primary_contact_id\\\":1306796,\\\"origin_id\\\":\\\"ref-12345\\\",\\\"origin_data\\\":\\\"{\\\\\\\"data_field\\\\\\\":{\\\\\\\"is_important\\\\\\\":true}}\\\",\\\"origin_code\\\":\\\"PE-12345\\\",\\\"trade_ids\\\":[123,456],\\\"bidding_distribution_ids\\\":[123,456],\\\"standard_cost_code_ids\\\":[123,456],\\\"trade_name\\\":\\\"Woofer Electric\\\",\\\"business_register\\\":{\\\"type\\\":\\\"abn\\\",\\\"identifier\\\":\\\"51824753556\\\"},\\\"bidding\\\":{\\\"affirmative_action\\\":true,\\\"small_business\\\":true,\\\"african_american_business\\\":true,\\\"hispanic_business\\\":true,\\\"womens_business\\\":false,\\\"historically_underutilized_business\\\":true,\\\"sdvo_business\\\":false,\\\"certified_business_enterprise\\\":true,\\\"asian_american_business\\\":true,\\\"native_american_business\\\":true,\\\"disadvantaged_business\\\":true,\\\"minority_business_enterprise\\\":true,\\\"eight_a_business\\\":true}}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/vendors?view=SOME_STRING_VALUE&run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/vendors?view=SOME_STRING_VALUE&run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"company_id\":123,\"vendor\":{\"name\":\"Poodle Electric\",\"address\":\"846 Dogglesworth Drive\",\"city\":\"Jeffersonville\",\"zip\":\"47130\",\"business_phone\":\"(812) 284-8506\",\"mobile_phone\":\"(812) 556-3397\",\"fax_number\":\"(812) 989-9810\",\"email_address\":\"jane.doe@example.com\",\"is_active\":true,\"state_code\":\"IN\",\"authorized_bidder\":true,\"prequalified\":false,\"country_code\":\"US\",\"labor_union\":\"IWW 872\",\"license_number\":\"1901XYZ\",\"website\":\"http://example.com\",\"union_member\":true,\"non_union_prevailing_wage\":false,\"abbreviated_name\":\"PE\",\"notes\":\"Owned by a dog\",\"vendor_group_id\":1843218,\"parent_id\":1306797,\"primary_contact_id\":1306796,\"origin_id\":\"ref-12345\",\"origin_data\":\"{\\\"data_field\\\":{\\\"is_important\\\":true}}\",\"origin_code\":\"PE-12345\",\"trade_ids\":[123,456],\"bidding_distribution_ids\":[123,456],\"standard_cost_code_ids\":[123,456],\"trade_name\":\"Woofer Electric\",\"business_register\":{\"type\":\"abn\",\"identifier\":\"51824753556\"},\"bidding\":{\"affirmative_action\":true,\"small_business\":true,\"african_american_business\":true,\"hispanic_business\":true,\"womens_business\":false,\"historically_underutilized_business\":true,\"sdvo_business\":false,\"certified_business_enterprise\":true,\"asian_american_business\":true,\"native_american_business\":true,\"disadvantaged_business\":true,\"minority_business_enterprise\":true,\"eight_a_business\":true}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/vendors?view=SOME_STRING_VALUE&run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"company_id\\\":123,\\\"vendor\\\":{\\\"name\\\":\\\"Poodle Electric\\\",\\\"address\\\":\\\"846 Dogglesworth Drive\\\",\\\"city\\\":\\\"Jeffersonville\\\",\\\"zip\\\":\\\"47130\\\",\\\"business_phone\\\":\\\"(812) 284-8506\\\",\\\"mobile_phone\\\":\\\"(812) 556-3397\\\",\\\"fax_number\\\":\\\"(812) 989-9810\\\",\\\"email_address\\\":\\\"jane.doe@example.com\\\",\\\"is_active\\\":true,\\\"state_code\\\":\\\"IN\\\",\\\"authorized_bidder\\\":true,\\\"prequalified\\\":false,\\\"country_code\\\":\\\"US\\\",\\\"labor_union\\\":\\\"IWW 872\\\",\\\"license_number\\\":\\\"1901XYZ\\\",\\\"website\\\":\\\"http://example.com\\\",\\\"union_member\\\":true,\\\"non_union_prevailing_wage\\\":false,\\\"abbreviated_name\\\":\\\"PE\\\",\\\"notes\\\":\\\"Owned by a dog\\\",\\\"vendor_group_id\\\":1843218,\\\"parent_id\\\":1306797,\\\"primary_contact_id\\\":1306796,\\\"origin_id\\\":\\\"ref-12345\\\",\\\"origin_data\\\":\\\"{\\\\\\\"data_field\\\\\\\":{\\\\\\\"is_important\\\\\\\":true}}\\\",\\\"origin_code\\\":\\\"PE-12345\\\",\\\"trade_ids\\\":[123,456],\\\"bidding_distribution_ids\\\":[123,456],\\\"standard_cost_code_ids\\\":[123,456],\\\"trade_name\\\":\\\"Woofer Electric\\\",\\\"business_register\\\":{\\\"type\\\":\\\"abn\\\",\\\"identifier\\\":\\\"51824753556\\\"},\\\"bidding\\\":{\\\"affirmative_action\\\":true,\\\"small_business\\\":true,\\\"african_american_business\\\":true,\\\"hispanic_business\\\":true,\\\"womens_business\\\":false,\\\"historically_underutilized_business\\\":true,\\\"sdvo_business\\\":false,\\\"certified_business_enterprise\\\":true,\\\"asian_american_business\\\":true,\\\"native_american_business\\\":true,\\\"disadvantaged_business\\\":true,\\\"minority_business_enterprise\\\":true,\\\"eight_a_business\\\":true}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Business Id for Create company vendor",
      "description": "Added `business_id` to payload response body.",
      "endpoint": "POST /vendors",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-06-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-vendors?version=1.0#create-company-vendor"
     },
     {
      "summary": "Add `company_vendor` to extended view",
      "description": "Added `company_vendor` to `extended` view. This field indicates whether the vendor represents the same real-world entity as the current company.",
      "endpoint": "POST /vendors",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-08-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-vendors?version=1.0#create-company-vendor"
     },
     {
      "summary": "Add `company_vendor` to normal and erp views",
      "description": "Added `company_vendor` to `normal` and `erp` views. This field indicates whether the vendor represents the same real-world entity as the current company.",
      "endpoint": "POST /vendors",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-02-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-vendors?version=1.0#create-company-vendor"
     },
     {
      "summary": "Added Connected Company ID for Create company vendor",
      "description": "Added `connected_to_company_id` to payload response body.",
      "endpoint": "POST /vendors",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-04-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-vendors?version=1.0#create-company-vendor"
     }
    ]
   },
   "x-compliance-level": "full",
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List company vendors",
    "description": "Return a list of all Vendors associated with a Company.",
    "tags": [
     "Company Vendors"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID. Returns item(s) with the specified Origin ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Return vendors where the search string matches the vendor name, keywords, origin_code, or ABN/EIN number",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return items within a specific created at ISO8601 datetime range",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return items within a specific updated at ISO8601 datetime range",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[standard_cost_code_id][]",
      "in": "query",
      "description": "Returns vendors associated with the specified standard cost code id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[trade_id][]",
      "in": "query",
      "description": "Returns vendors associated with the specified trade id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[id][]",
      "in": "query",
      "description": "Returns vendors with the specified id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[parent_id][]",
      "in": "query",
      "description": "Returns vendors with the specified parent id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name",
        "main_office_name",
        "project_and_bid_counts"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
[...]
