{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Bid Forms",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Management",
  "x-resource-name": "Company Bid Forms",
  "version": "1.0",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/bid/{bid_id}/bid_forms/{bid_form_id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_id",
     "in": "path",
     "description": "Bid ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "bid_form_id",
     "in": "path",
     "description": "Bid Form ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "View Bid Form",
    "description": "View single Bid Form.",
    "tags": [
     "Bid Forms"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Bid Form",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "title": {
           "type": "string",
           "description": "Bid Form Title",
           "example": "Concrete"
          },
          "position": {
           "type": "integer",
           "description": "Display order position within the bid package",
           "example": 1
          },
          "proposal_id": {
           "type": "integer",
           "description": "Proposal ID",
           "example": 4321
          },
          "lock_unit_fields_base_bid": {
           "type": "boolean",
           "description": "Lock unit fields for all base bid items in this form",
           "example": false,
           "default": false
          },
          "lock_quantity_fields_base_bid": {
           "type": "boolean",
           "description": "Lock quantity fields for all base bid items in this form",
           "example": false,
           "default": false
          },
          "lock_unit_fields_alternates": {
           "type": "boolean",
           "description": "Lock unit fields for all alternate items in this form",
           "example": false,
           "default": false
          },
          "lock_quantity_fields_alternates": {
           "type": "boolean",
           "description": "Lock quantity fields for all alternate items in this form",
           "example": false,
           "default": false
          },
          "base_bid": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Base Bid",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1234
             },
             "title": {
              "type": "string",
              "description": "Bid Form Title",
              "example": "Concrete"
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1
             },
             "header": {
              "type": "boolean",
              "description": "Whether the item is a header or not",
              "example": true
             },
             "bid_form_items": {
              "type": "array",
              "items": {
               "type": "object",
               "description": "Bid Form Item",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 18
                },
                "cost_code": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 2
                  },
                  "name": {
                   "type": "string",
                   "description": "The cost code name",
                   "example": "Concrete"
                  },
                  "full_code": {
                   "type": "string",
                   "description": "The cost code long name",
                   "example": "2 - Concrete"
                  }
                 }
                },
                "description": {
                 "type": "string",
                 "description": "Bid Form Item Description",
                 "example": "Wood Doors",
                 "nullable": true
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 2,
                 "nullable": true
                },
                "subject": {
                 "type": "string",
                 "description": "Subject for Plain Text Items",
                 "example": "Is the insurance of tools included in the Bid?",
                 "nullable": true
                },
                "item_type": {
                 "type": "string",
                 "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                 "enum": [
                  "cost_code",
                  "plain_text"
                 ]
                },
                "response_type": {
                 "type": "string",
                 "description": "Bid Form Items can have various response types. This property determines which one is used.",
                 "enum": [
                  "amount",
                  "unit",
                  "include_exclude"
                 ]
                },
                "layer_id": {
                 "type": "integer",
                 "description": "ID of the Layer in the Estimate",
                 "example": 141
                },
                "locked_quantity": {
                 "type": "number",
                 "format": "double",
                 "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                 "example": 10.5,
                 "nullable": true
                },
                "locked_unit_of_measure": {
                 "type": "string",
                 "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                 "example": "sq ft",
                 "nullable": true
                }
               }
              }
             },
             "sub_sections": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 1234
                },
                "title": {
                 "type": "string",
                 "description": "Sub Section Title",
                 "example": "Floors 10-19"
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this sub section in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 3,
                 "nullable": true
                },
                "bid_form_items": {
                 "type": "array",
                 "description": "Bid Form Items",
                 "items": {
                  "type": "object",
                  "description": "Bid Form Item",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 18
                   },
                   "cost_code": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "example": 2
                     },
                     "name": {
                      "type": "string",
                      "description": "The cost code name",
                      "example": "Concrete"
                     },
                     "full_code": {
                      "type": "string",
                      "description": "The cost code long name",
                      "example": "2 - Concrete"
                     }
                    }
                   },
                   "description": {
                    "type": "string",
                    "description": "Bid Form Item Description",
                    "example": "Wood Doors",
                    "nullable": true
                   },
                   "position": {
                    "type": "integer",
                    "description": "Position",
                    "example": 1
                   },
                   "content_position": {
                    "type": "integer",
                    "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                    "example": 2,
                    "nullable": true
                   },
                   "subject": {
                    "type": "string",
                    "description": "Subject for Plain Text Items",
                    "example": "Is the insurance of tools included in the Bid?",
                    "nullable": true
                   },
                   "item_type": {
                    "type": "string",
                    "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                    "enum": [
                     "cost_code",
                     "plain_text"
                    ]
                   },
                   "response_type": {
                    "type": "string",
                    "description": "Bid Form Items can have various response types. This property determines which one is used.",
                    "enum": [
                     "amount",
                     "unit",
                     "include_exclude"
                    ]
                   },
                   "layer_id": {
                    "type": "integer",
                    "description": "ID of the Layer in the Estimate",
                    "example": 141
                   },
                   "locked_quantity": {
                    "type": "number",
                    "format": "double",
                    "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                    "example": 10.5,
                    "nullable": true
                   },
                   "locked_unit_of_measure": {
                    "type": "string",
                    "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                    "example": "sq ft",
                    "nullable": true
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          "alternates": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Alternate Bid",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 1235
             },
             "title": {
              "type": "string",
              "description": "Bid Form Title",
              "example": "Concrete"
             },
             "position": {
              "type": "integer",
              "description": "Position",
              "example": 1
             },
             "header": {
              "type": "boolean",
              "description": "Whether the item is a header or not",
              "example": true
             },
             "bid_form_items": {
              "type": "array",
              "items": {
               "type": "object",
               "description": "Bid Form Item",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 18
                },
                "cost_code": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "example": 2
                  },
                  "name": {
                   "type": "string",
                   "description": "The cost code name",
                   "example": "Concrete"
                  },
                  "full_code": {
                   "type": "string",
                   "description": "The cost code long name",
                   "example": "2 - Concrete"
                  }
                 }
                },
                "description": {
                 "type": "string",
                 "description": "Bid Form Item Description",
                 "example": "Wood Doors",
                 "nullable": true
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 2,
                 "nullable": true
                },
                "subject": {
                 "type": "string",
                 "description": "Subject for Plain Text Items",
                 "example": "Is the insurance of tools included in the Bid?",
                 "nullable": true
                },
                "item_type": {
                 "type": "string",
                 "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                 "enum": [
                  "cost_code",
                  "plain_text"
                 ]
                },
                "response_type": {
                 "type": "string",
                 "description": "Bid Form Items can have various response types. This property determines which one is used.",
                 "enum": [
                  "amount",
                  "unit",
                  "include_exclude"
                 ]
                },
                "layer_id": {
                 "type": "integer",
                 "description": "ID of the Layer in the Estimate",
                 "example": 141
                },
                "locked_quantity": {
                 "type": "number",
                 "format": "double",
                 "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                 "example": 10.5,
                 "nullable": true
                },
                "locked_unit_of_measure": {
                 "type": "string",
                 "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                 "example": "sq ft",
                 "nullable": true
                }
               }
              }
             },
             "sub_sections": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 1234
                },
                "title": {
                 "type": "string",
                 "description": "Sub Section Title",
                 "example": "Floors 10-19"
                },
                "position": {
                 "type": "integer",
                 "description": "Position",
                 "example": 1
                },
                "content_position": {
                 "type": "integer",
                 "description": "Position of this sub section in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                 "example": 3,
                 "nullable": true
                },
                "bid_form_items": {
                 "type": "array",
                 "description": "Bid Form Items",
                 "items": {
                  "type": "object",
                  "description": "Bid Form Item",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 18
                   },
                   "cost_code": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "example": 2
                     },
                     "name": {
                      "type": "string",
                      "description": "The cost code name",
                      "example": "Concrete"
                     },
                     "full_code": {
                      "type": "string",
                      "description": "The cost code long name",
                      "example": "2 - Concrete"
                     }
                    }
                   },
                   "description": {
                    "type": "string",
                    "description": "Bid Form Item Description",
                    "example": "Wood Doors",
                    "nullable": true
                   },
                   "position": {
                    "type": "integer",
                    "description": "Position",
                    "example": 1
                   },
                   "content_position": {
                    "type": "integer",
                    "description": "Position of this item in the unified ordering of its parent section's content, where bid form items and sub sections share a single 1-based sequence. Null when the unified ordering has not been assigned.",
                    "example": 2,
                    "nullable": true
                   },
                   "subject": {
                    "type": "string",
                    "description": "Subject for Plain Text Items",
                    "example": "Is the insurance of tools included in the Bid?",
                    "nullable": true
                   },
                   "item_type": {
                    "type": "string",
                    "description": "Bid Form Items can be of various types. This property does determine which one is used.",
                    "enum": [
                     "cost_code",
                     "plain_text"
                    ]
                   },
                   "response_type": {
                    "type": "string",
                    "description": "Bid Form Items can have various response types. This property determines which one is used.",
                    "enum": [
                     "amount",
                     "unit",
                     "include_exclude"
                    ]
                   },
                   "layer_id": {
                    "type": "integer",
                    "description": "ID of the Layer in the Estimate",
                    "example": 141
                   },
                   "locked_quantity": {
                    "type": "number",
                    "format": "double",
                    "description": "Locked quantity value that cannot be changed by bidders when submitting bids",
                    "example": 10.5,
                    "nullable": true
                   },
                   "locked_unit_of_measure": {
                    "type": "string",
                    "description": "Locked unit of measure that cannot be changed by bidders when submitting bids",
                    "example": "sq ft",
                    "nullable": true
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Cannot find bid form",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid/%7Bbid_id%7D/bid_forms/%7Bbid_form_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/bid/%7Bbid_id%7D/bid_forms/%7Bbid_form_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid/%7Bbid_id%7D/bid_forms/%7Bbid_form_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/bid/%7Bbid_id%7D/bid_forms/%7Bbid_form_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introduced endpoint",
      "description": "An endpoint that can be used to fetch a bid form",
      "endpoint": "GET /companies/{company_id}/bid/{bid_id}/bid_forms/{bid_form_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-01-28",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-bid-forms?version=1.0#view-bid-form"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}