{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Insurances",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Company Insurances",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/insurances": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Insurances",
    "description": "Return a list of all Insurances associated with the specified Company.",
    "tags": [
     "Company Insurances"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of company insurances",
         "items": {
          "title": "Insurance",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 311823
           },
           "effective_date": {
            "type": "string",
            "format": "date",
            "description": "Effective date",
            "example": "2015-03-03"
           },
           "enable_expired_insurance_notifications": {
            "type": "boolean",
            "description": "Enable/Disable expired insurance notifications",
            "example": false
           },
           "exempt": {
            "type": "boolean",
            "description": "Exempt status",
            "example": false
           },
           "expiration_date": {
            "type": "string",
            "format": "date",
            "description": "Expiration date",
            "example": "2016-03-02"
           },
           "info_received": {
            "type": "boolean",
            "description": "Information received (or not)",
            "example": false
           },
           "insurance_provider": {
            "type": "string",
            "description": "Insurance provider",
            "example": "GL Insurance Inc."
           },
           "insurance_type": {
            "type": "string",
            "description": "Insurance type",
            "example": "General Liability"
           },
           "limit": {
            "type": "string",
            "description": "Limit",
            "example": "1000000.0"
           },
           "notes": {
            "type": "string",
            "description": "Notes",
            "example": "Meets minimum requirements"
           },
           "policy_number": {
            "type": "string",
            "description": "Policy number",
            "example": "12345GL"
           },
           "status": {
            "type": "string",
            "enum": [
             "compliant",
             "compliant_in_progress",
             "expired",
             "non_compliant",
             "non_compliant_in_progress",
             "undecided",
             "unregistered"
            ],
            "description": "Status",
            "example": "compliant"
           },
           "vendor_id": {
            "type": "integer",
            "description": "Vendor ID",
            "example": 2627684
           },
           "additional_insured": {
            "type": "string",
            "description": "Additional Individuals and/or Companies Insured",
            "example": "John Doe"
           },
           "division_template": {
            "type": "string",
            "description": "Division Template",
            "example": "Template 1"
           },
           "insurance_sets": {
            "type": "string",
            "description": "Insurance Sets",
            "example": "Set 1"
           },
           "origin_data": {
            "type": "string",
            "description": "Origin data",
            "example": "OD-2398273424"
           },
           "origin_id": {
            "type": "string",
            "description": "Origin ID",
            "example": "ABC123"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/insurances?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Insurance",
    "description": "Create a new Insurance associated with the specified Company.",
    "tags": [
     "Company Insurances"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "insurance"
        ],
        "properties": {
         "insurance": {
          "type": "object",
          "title": "Insurance",
          "required": [
           "vendor_id"
          ],
          "properties": {
           "effective_date": {
            "type": "string",
            "format": "date",
            "description": "Effective date",
            "example": "2015-03-03"
           },
           "enable_expired_insurance_notifications": {
            "type": "boolean",
            "description": "Enable/Disable expired insurance notifications",
            "default": true
           },
           "exempt": {
            "type": "boolean",
            "description": "Exempt status",
            "example": false
           },
           "expiration_date": {
            "type": "string",
            "format": "date",
            "description": "Expiration date",
            "example": "2016-03-02"
           },
           "info_received": {
            "type": "boolean",
            "description": "Information received (or not)",
            "example": false
           },
           "insurance_type": {
            "type": "string",
            "description": "Insurance type",
            "example": "General Liability"
           },
           "limit": {
            "type": "string",
            "description": "Limit",
            "example": "1000000.00"
           },
           "name": {
            "type": "string",
            "description": "Provider name",
            "example": "GL Insurance Inc."
           },
           "notes": {
            "type": "string",
            "description": "Notes",
            "example": "Meets minimum requirements"
           },
           "policy_number": {
            "type": "string",
            "description": "Policy number",
            "example": "12345GL"
           },
           "status": {
            "type": "string",
            "enum": [
             "compliant",
             "compliant_in_progress",
             "expired",
             "non_compliant",
             "non_compliant_in_progress",
             "undecided",
             "unregistered"
            ],
            "description": "Status",
            "example": "compliant"
           },
           "vendor_id": {
            "type": "integer",
            "description": "Vendor ID",
            "example": 2627684
           },
           "additional_insured": {
            "type": "string",
            "description": "Additional Individuals and/or Companies Insured",
            "example": "John Doe"
           },
           "division_template": {
            "type": "string",
            "description": "Division Template",
            "example": "Template 1"
           },
           "insurance_sets": {
            "type": "string",
            "description": "Insurance Sets",
            "example": "Set 1"
           },
           "origin_data": {
            "type": "string",
            "description": "Origin data",
            "example": "OD-2398273424"
           },
           "origin_id": {
            "type": "string",
            "description": "Origin ID",
            "example": "ABC123"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "Insurance",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 311823
          },
          "effective_date": {
           "type": "string",
           "format": "date",
           "description": "Effective date",
           "example": "2015-03-03"
          },
          "enable_expired_insurance_notifications": {
           "type": "boolean",
           "description": "Enable/Disable expired insurance notifications",
           "example": false
          },
          "exempt": {
           "type": "boolean",
           "description": "Exempt status",
           "example": false
          },
          "expiration_date": {
           "type": "string",
           "format": "date",
           "description": "Expiration date",
           "example": "2016-03-02"
          },
          "info_received": {
           "type": "boolean",
           "description": "Information received (or not)",
           "example": false
          },
          "insurance_provider": {
           "type": "string",
           "description": "Insurance provider",
           "example": "GL Insurance Inc."
          },
          "insurance_type": {
           "type": "string",
           "description": "Insurance type",
           "example": "General Liability"
          },
          "limit": {
           "type": "string",
           "description": "Limit",
           "example": "1000000.0"
          },
          "notes": {
           "type": "string",
           "description": "Notes",
           "example": "Meets minimum requirements"
          },
          "policy_number": {
           "type": "string",
           "description": "Policy number",
           "example": "12345GL"
          },
          "status": {
           "type": "string",
           "enum": [
            "compliant",
            "compliant_in_progress",
            "expired",
            "non_compliant",
            "non_compliant_in_progress",
            "undecided",
            "unregistered"
           ],
           "description": "Status",
           "example": "compliant"
          },
          "vendor_id": {
           "type": "integer",
           "description": "Vendor ID",
           "example": 2627684
          },
          "additional_insured": {
           "type": "string",
           "description": "Additional Individuals and/or Companies Insured",
           "example": "John Doe"
          },
          "division_template": {
           "type": "string",
           "description": "Division Template",
           "example": "Template 1"
          },
          "insurance_sets": {
           "type": "string",
           "description": "Insurance Sets",
           "example": "Set 1"
          },
          "origin_data": {
           "type": "string",
           "description": "Origin data",
           "example": "OD-2398273424"
          },
          "origin_id": {
           "type": "string",
           "description": "Origin ID",
           "example": "ABC123"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances',\n  headers: {'content-type': 'application/json'},\n  body: {\n    insurance: {\n      effective_date: '2015-03-03',\n      enable_expired_insurance_notifications: true,\n      exempt: false,\n      expiration_date: '2016-03-02',\n      info_received: false,\n      insurance_type: 'General Liability',\n      limit: '1000000.00',\n      name: 'GL Insurance Inc.',\n      notes: 'Meets minimum requirements',\n      policy_number: '12345GL',\n      status: 'compliant',\n      vendor_id: 2627684,\n      additional_insured: 'John Doe',\n      division_template: 'Template 1',\n      insurance_sets: 'Set 1',\n      origin_data: 'OD-2398273424',\n      origin_id: 'ABC123'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"insurance\\\":{\\\"effective_date\\\":\\\"2015-03-03\\\",\\\"enable_expired_insurance_notifications\\\":true,\\\"exempt\\\":false,\\\"expiration_date\\\":\\\"2016-03-02\\\",\\\"info_received\\\":false,\\\"insurance_type\\\":\\\"General Liability\\\",\\\"limit\\\":\\\"1000000.00\\\",\\\"name\\\":\\\"GL Insurance Inc.\\\",\\\"notes\\\":\\\"Meets minimum requirements\\\",\\\"policy_number\\\":\\\"12345GL\\\",\\\"status\\\":\\\"compliant\\\",\\\"vendor_id\\\":2627684,\\\"additional_insured\\\":\\\"John Doe\\\",\\\"division_template\\\":\\\"Template 1\\\",\\\"insurance_sets\\\":\\\"Set 1\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/insurances\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances \\\n  --header 'content-type: application/json' \\\n  --data '{\"insurance\":{\"effective_date\":\"2015-03-03\",\"enable_expired_insurance_notifications\":true,\"exempt\":false,\"expiration_date\":\"2016-03-02\",\"info_received\":false,\"insurance_type\":\"General Liability\",\"limit\":\"1000000.00\",\"name\":\"GL Insurance Inc.\",\"notes\":\"Meets minimum requirements\",\"policy_number\":\"12345GL\",\"status\":\"compliant\",\"vendor_id\":2627684,\"additional_insured\":\"John Doe\",\"division_template\":\"Template 1\",\"insurance_sets\":\"Set 1\",\"origin_data\":\"OD-2398273424\",\"origin_id\":\"ABC123\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances\"),\n    Content = new StringContent(\"{\\\"insurance\\\":{\\\"effective_date\\\":\\\"2015-03-03\\\",\\\"enable_expired_insurance_notifications\\\":true,\\\"exempt\\\":false,\\\"expiration_date\\\":\\\"2016-03-02\\\",\\\"info_received\\\":false,\\\"insurance_type\\\":\\\"General Liability\\\",\\\"limit\\\":\\\"1000000.00\\\",\\\"name\\\":\\\"GL Insurance Inc.\\\",\\\"notes\\\":\\\"Meets minimum requirements\\\",\\\"policy_number\\\":\\\"12345GL\\\",\\\"status\\\":\\\"compliant\\\",\\\"vendor_id\\\":2627684,\\\"additional_insured\\\":\\\"John Doe\\\",\\\"division_template\\\":\\\"Template 1\\\",\\\"insurance_sets\\\":\\\"Set 1\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/insurances/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Insurance",
    "description": "Return detailed information on the specified Insurance.",
    "tags": [
     "Company Insurances"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Insurance",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 311823
          },
          "effective_date": {
           "type": "string",
           "format": "date",
           "description": "Effective date",
           "example": "2015-03-03"
          },
          "enable_expired_insurance_notifications": {
           "type": "boolean",
           "description": "Enable/Disable expired insurance notifications",
           "example": false
          },
          "exempt": {
           "type": "boolean",
           "description": "Exempt status",
           "example": false
          },
          "expiration_date": {
           "type": "string",
           "format": "date",
           "description": "Expiration date",
           "example": "2016-03-02"
          },
          "info_received": {
           "type": "boolean",
           "description": "Information received (or not)",
           "example": false
          },
          "insurance_provider": {
           "type": "string",
           "description": "Insurance provider",
           "example": "GL Insurance Inc."
          },
          "insurance_type": {
           "type": "string",
           "description": "Insurance type",
           "example": "General Liability"
          },
          "limit": {
           "type": "string",
           "description": "Limit",
           "example": "1000000.0"
          },
          "notes": {
           "type": "string",
           "description": "Notes",
           "example": "Meets minimum requirements"
          },
          "policy_number": {
           "type": "string",
           "description": "Policy number",
           "example": "12345GL"
          },
          "status": {
           "type": "string",
           "enum": [
            "compliant",
            "compliant_in_progress",
            "expired",
            "non_compliant",
            "non_compliant_in_progress",
            "undecided",
            "unregistered"
           ],
           "description": "Status",
           "example": "compliant"
          },
          "vendor_id": {
           "type": "integer",
           "description": "Vendor ID",
           "example": 2627684
          },
          "additional_insured": {
           "type": "string",
           "description": "Additional Individuals and/or Companies Insured",
           "example": "John Doe"
          },
          "division_template": {
           "type": "string",
           "description": "Division Template",
           "example": "Template 1"
          },
          "insurance_sets": {
           "type": "string",
           "description": "Insurance Sets",
           "example": "Set 1"
          },
          "origin_data": {
           "type": "string",
           "description": "Origin data",
           "example": "OD-2398273424"
          },
          "origin_id": {
           "type": "string",
           "description": "Origin ID",
           "example": "ABC123"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Company Insurance",
    "description": "Update the specified Insurance.",
    "tags": [
     "Company Insurances"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "insurance"
        ],
        "properties": {
         "insurance": {
          "type": "object",
          "title": "Insurance",
          "required": [
           "vendor_id"
          ],
          "properties": {
           "effective_date": {
            "type": "string",
            "format": "date",
            "description": "Effective date",
            "example": "2015-03-03"
           },
           "enable_expired_insurance_notifications": {
            "type": "boolean",
            "description": "Enable/Disable expired insurance notifications",
            "default": true
           },
           "exempt": {
            "type": "boolean",
            "description": "Exempt status",
            "example": false
           },
           "expiration_date": {
            "type": "string",
            "format": "date",
            "description": "Expiration date",
            "example": "2016-03-02"
           },
           "info_received": {
            "type": "boolean",
            "description": "Information received (or not)",
            "example": false
           },
           "insurance_type": {
            "type": "string",
            "description": "Insurance type",
            "example": "General Liability"
           },
           "limit": {
            "type": "string",
            "description": "Limit",
            "example": "1000000.00"
           },
           "name": {
            "type": "string",
            "description": "Provider name",
            "example": "GL Insurance Inc."
           },
           "notes": {
            "type": "string",
            "description": "Notes",
            "example": "Meets minimum requirements"
           },
           "policy_number": {
            "type": "string",
            "description": "Policy number",
            "example": "12345GL"
           },
           "status": {
            "type": "string",
            "enum": [
             "compliant",
             "compliant_in_progress",
             "expired",
             "non_compliant",
             "non_compliant_in_progress",
             "undecided",
             "unregistered"
            ],
            "description": "Status",
            "example": "compliant"
           },
           "vendor_id": {
            "type": "integer",
            "description": "Vendor ID",
            "example": 2627684
           },
           "additional_insured": {
            "type": "string",
            "description": "Additional Individuals and/or Companies Insured",
            "example": "John Doe"
           },
           "division_template": {
            "type": "string",
            "description": "Division Template",
            "example": "Template 1"
           },
           "insurance_sets": {
            "type": "string",
            "description": "Insurance Sets",
            "example": "Set 1"
           },
           "origin_data": {
            "type": "string",
            "description": "Origin data",
            "example": "OD-2398273424"
           },
           "origin_id": {
            "type": "string",
            "description": "Origin ID",
            "example": "ABC123"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Insurance",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 311823
          },
          "effective_date": {
           "type": "string",
           "format": "date",
           "description": "Effective date",
           "example": "2015-03-03"
          },
          "enable_expired_insurance_notifications": {
           "type": "boolean",
           "description": "Enable/Disable expired insurance notifications",
           "example": false
          },
          "exempt": {
           "type": "boolean",
           "description": "Exempt status",
           "example": false
          },
          "expiration_date": {
           "type": "string",
           "format": "date",
           "description": "Expiration date",
           "example": "2016-03-02"
          },
          "info_received": {
           "type": "boolean",
           "description": "Information received (or not)",
           "example": false
          },
          "insurance_provider": {
           "type": "string",
           "description": "Insurance provider",
           "example": "GL Insurance Inc."
          },
          "insurance_type": {
           "type": "string",
           "description": "Insurance type",
           "example": "General Liability"
          },
          "limit": {
           "type": "string",
           "description": "Limit",
           "example": "1000000.0"
          },
          "notes": {
           "type": "string",
           "description": "Notes",
           "example": "Meets minimum requirements"
          },
          "policy_number": {
           "type": "string",
           "description": "Policy number",
           "example": "12345GL"
          },
          "status": {
           "type": "string",
           "enum": [
            "compliant",
            "compliant_in_progress",
            "expired",
            "non_compliant",
            "non_compliant_in_progress",
            "undecided",
            "unregistered"
           ],
           "description": "Status",
           "example": "compliant"
          },
          "vendor_id": {
           "type": "integer",
           "description": "Vendor ID",
           "example": 2627684
          },
          "additional_insured": {
           "type": "string",
           "description": "Additional Individuals and/or Companies Insured",
           "example": "John Doe"
          },
          "division_template": {
           "type": "string",
           "description": "Division Template",
           "example": "Template 1"
          },
          "insurance_sets": {
           "type": "string",
           "description": "Insurance Sets",
           "example": "Set 1"
          },
          "origin_data": {
           "type": "string",
           "description": "Origin data",
           "example": "OD-2398273424"
          },
          "origin_id": {
           "type": "string",
           "description": "Origin ID",
           "example": "ABC123"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    insurance: {\n      effective_date: '2015-03-03',\n      enable_expired_insurance_notifications: true,\n      exempt: false,\n      expiration_date: '2016-03-02',\n      info_received: false,\n      insurance_type: 'General Liability',\n      limit: '1000000.00',\n      name: 'GL Insurance Inc.',\n      notes: 'Meets minimum requirements',\n      policy_number: '12345GL',\n      status: 'compliant',\n      vendor_id: 2627684,\n      additional_insured: 'John Doe',\n      division_template: 'Template 1',\n      insurance_sets: 'Set 1',\n      origin_data: 'OD-2398273424',\n      origin_id: 'ABC123'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"insurance\\\":{\\\"effective_date\\\":\\\"2015-03-03\\\",\\\"enable_expired_insurance_notifications\\\":true,\\\"exempt\\\":false,\\\"expiration_date\\\":\\\"2016-03-02\\\",\\\"info_received\\\":false,\\\"insurance_type\\\":\\\"General Liability\\\",\\\"limit\\\":\\\"1000000.00\\\",\\\"name\\\":\\\"GL Insurance Inc.\\\",\\\"notes\\\":\\\"Meets minimum requirements\\\",\\\"policy_number\\\":\\\"12345GL\\\",\\\"status\\\":\\\"compliant\\\",\\\"vendor_id\\\":2627684,\\\"additional_insured\\\":\\\"John Doe\\\",\\\"division_template\\\":\\\"Template 1\\\",\\\"insurance_sets\\\":\\\"Set 1\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"insurance\":{\"effective_date\":\"2015-03-03\",\"enable_expired_insurance_notifications\":true,\"exempt\":false,\"expiration_date\":\"2016-03-02\",\"info_received\":false,\"insurance_type\":\"General Liability\",\"limit\":\"1000000.00\",\"name\":\"GL Insurance Inc.\",\"notes\":\"Meets minimum requirements\",\"policy_number\":\"12345GL\",\"status\":\"compliant\",\"vendor_id\":2627684,\"additional_insured\":\"John Doe\",\"division_template\":\"Template 1\",\"insurance_sets\":\"Set 1\",\"origin_data\":\"OD-2398273424\",\"origin_id\":\"ABC123\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"insurance\\\":{\\\"effective_date\\\":\\\"2015-03-03\\\",\\\"enable_expired_insurance_notifications\\\":true,\\\"exempt\\\":false,\\\"expiration_date\\\":\\\"2016-03-02\\\",\\\"info_received\\\":false,\\\"insurance_type\\\":\\\"General Liability\\\",\\\"limit\\\":\\\"1000000.00\\\",\\\"name\\\":\\\"GL Insurance Inc.\\\",\\\"notes\\\":\\\"Meets minimum requirements\\\",\\\"policy_number\\\":\\\"12345GL\\\",\\\"status\\\":\\\"compliant\\\",\\\"vendor_id\\\":2627684,\\\"additional_insured\\\":\\\"John Doe\\\",\\\"division_template\\\":\\\"Template 1\\\",\\\"insurance_sets\\\":\\\"Set 1\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Company Insurance",
    "description": "Delete the specified Insurance.",
    "tags": [
     "Company Insurances"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/insurances/sync": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync Company Insurances",
    "description": "This endpoint creates or updates a batch of Company Insurances.",
    "tags": [
     "Company Insurances"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "InsuranceSyncBody",
        "type": "object",
        "required": [
         "updates"
        ],
        "properties": {
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Insurance",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Insurance",
             "example": 348330
            },
            "effective_date": {
             "type": "string",
             "format": "date",
             "description": "Effective date",
             "example": "2015-03-03"
            },
            "enable_expired_insurance_notifications": {
             "type": "boolean",
             "description": "Enable/Disable expired insurance notifications",
             "default": true
            },
            "exempt": {
             "type": "boolean",
             "description": "Exempt status",
             "example": false
            },
            "expiration_date": {
             "type": "string",
             "format": "date",
             "description": "Expiration date",
             "example": "2016-03-02"
            },
            "info_received": {
             "type": "boolean",
             "description": "Information received (or not)",
             "example": false
            },
            "insurance_type": {
             "type": "string",
             "description": "Insurance type",
             "example": "General Liability"
            },
            "limit": {
             "type": "string",
             "description": "Limit",
             "example": "1000000.00"
            },
            "name": {
             "type": "string",
             "description": "Provider name",
             "example": "GL Insurance Inc."
            },
            "notes": {
             "type": "string",
             "description": "Notes",
             "example": "Meets minimum requirements"
            },
            "policy_number": {
             "type": "string",
             "description": "Policy number",
             "example": "12345GL"
            },
            "status": {
             "type": "string",
             "enum": [
              "compliant",
              "compliant_in_progress",
              "expired",
              "non_compliant",
              "non_compliant_in_progress",
              "undecided",
              "unregistered"
             ],
             "description": "Status",
             "example": "compliant"
            },
            "vendor_id": {
             "type": "integer",
             "description": "Vendor ID",
             "example": 2627684
            },
            "additional_insured": {
             "type": "string",
             "description": "Additional Individuals and/or Companies Insured",
             "example": "John Doe"
            },
            "division_template": {
             "type": "string",
             "description": "Division Template",
             "example": "Template 1"
            },
            "insurance_sets": {
             "type": "string",
             "description": "Insurance Sets",
             "example": "Set 1"
            },
            "origin_data": {
             "type": "string",
             "description": "Origin data",
             "example": "OD-2398273424"
            },
            "origin_id": {
             "type": "string",
             "description": "Origin ID",
             "example": "ABC123"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Array of Company Insurances",
      "content": {
       "application/json": {
        "schema": {
         "title": "arrayOfCompanyInsurances",
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "title": "Insurance",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 311823
             },
             "effective_date": {
              "type": "string",
              "format": "date",
              "description": "Effective date",
              "example": "2015-03-03"
             },
             "enable_expired_insurance_notifications": {
              "type": "boolean",
              "description": "Enable/Disable expired insurance notifications",
              "example": false
             },
             "exempt": {
              "type": "boolean",
              "description": "Exempt status",
              "example": false
             },
             "expiration_date": {
              "type": "string",
              "format": "date",
              "description": "Expiration date",
              "example": "2016-03-02"
             },
             "info_received": {
              "type": "boolean",
              "description": "Information received (or not)",
              "example": false
             },
             "insurance_provider": {
              "type": "string",
              "description": "Insurance provider",
              "example": "GL Insurance Inc."
             },
             "insurance_type": {
              "type": "string",
              "description": "Insurance type",
              "example": "General Liability"
             },
             "limit": {
              "type": "string",
              "description": "Limit",
              "example": "1000000.0"
             },
             "notes": {
              "type": "string",
              "description": "Notes",
              "example": "Meets minimum requirements"
             },
             "policy_number": {
              "type": "string",
              "description": "Policy number",
              "example": "12345GL"
             },
             "status": {
              "type": "string",
              "enum": [
               "compliant",
               "compliant_in_progress",
               "expired",
               "non_compliant",
               "non_compliant_in_progress",
               "undecided",
               "unregistered"
              ],
              "description": "Status",
              "example": "compliant"
             },
             "vendor_id": {
              "type": "integer",
              "description": "Vendor ID",
              "example": 2627684
             },
             "additional_insured": {
              "type": "string",
              "description": "Additional Individuals and/or Companies Insured",
              "example": "John Doe"
             },
             "division_template": {
              "type": "string",
              "description": "Division Template",
              "example": "Template 1"
             },
             "insurance_sets": {
              "type": "string",
              "description": "Insurance Sets",
              "example": "Set 1"
             },
             "origin_data": {
              "type": "string",
              "description": "Origin data",
              "example": "OD-2398273424"
             },
             "origin_id": {
              "type": "string",
              "description": "Origin ID",
              "example": "ABC123"
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "title": "Insurance",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 311823
               },
               "effective_date": {
                "type": "string",
                "format": "date",
                "description": "Effective date",
                "example": "2015-03-03"
               },
               "enable_expired_insurance_notifications": {
                "type": "boolean",
                "description": "Enable/Disable expired insurance notifications",
                "example": false
               },
               "exempt": {
                "type": "boolean",
                "description": "Exempt status",
                "example": false
               },
               "expiration_date": {
                "type": "string",
                "format": "date",
                "description": "Expiration date",
                "example": "2016-03-02"
               },
               "info_received": {
                "type": "boolean",
                "description": "Information received (or not)",
                "example": false
               },
               "insurance_provider": {
                "type": "string",
                "description": "Insurance provider",
                "example": "GL Insurance Inc."
               },
               "insurance_type": {
                "type": "string",
                "description": "Insurance type",
                "example": "General Liability"
               },
               "limit": {
                "type": "string",
                "description": "Limit",
                "example": "1000000.0"
               },
               "notes": {
                "type": "string",
                "description": "Notes",
                "example": "Meets minimum requirements"
               },
               "policy_number": {
                "type": "string",
                "description": "Policy number",
                "example": "12345GL"
               },
               "status": {
                "type": "string",
                "enum": [
                 "compliant",
                 "compliant_in_progress",
                 "expired",
                 "non_compliant",
                 "non_compliant_in_progress",
                 "undecided",
                 "unregistered"
                ],
                "description": "Status",
                "example": "compliant"
               },
               "vendor_id": {
                "type": "integer",
                "description": "Vendor ID",
                "example": 2627684
               },
               "additional_insured": {
                "type": "string",
                "description": "Additional Individuals and/or Companies Insured",
                "example": "John Doe"
               },
               "division_template": {
                "type": "string",
                "description": "Division Template",
                "example": "Template 1"
               },
               "insurance_sets": {
                "type": "string",
                "description": "Insurance Sets",
                "example": "Set 1"
               },
               "origin_data": {
                "type": "string",
                "description": "Origin data",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "type": "string",
                "description": "Origin ID",
                "example": "ABC123"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/sync',\n  headers: {'content-type': 'application/json'},\n  body: {\n    updates: [\n      {\n        id: 348330,\n        effective_date: '2015-03-03',\n        enable_expired_insurance_notifications: true,\n        exempt: false,\n        expiration_date: '2016-03-02',\n        info_received: false,\n        insurance_type: 'General Liability',\n        limit: '1000000.00',\n        name: 'GL Insurance Inc.',\n        notes: 'Meets minimum requirements',\n        policy_number: '12345GL',\n        status: 'compliant',\n        vendor_id: 2627684,\n        additional_insured: 'John Doe',\n        division_template: 'Template 1',\n        insurance_sets: 'Set 1',\n        origin_data: 'OD-2398273424',\n        origin_id: 'ABC123'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"updates\\\":[{\\\"id\\\":348330,\\\"effective_date\\\":\\\"2015-03-03\\\",\\\"enable_expired_insurance_notifications\\\":true,\\\"exempt\\\":false,\\\"expiration_date\\\":\\\"2016-03-02\\\",\\\"info_received\\\":false,\\\"insurance_type\\\":\\\"General Liability\\\",\\\"limit\\\":\\\"1000000.00\\\",\\\"name\\\":\\\"GL Insurance Inc.\\\",\\\"notes\\\":\\\"Meets minimum requirements\\\",\\\"policy_number\\\":\\\"12345GL\\\",\\\"status\\\":\\\"compliant\\\",\\\"vendor_id\\\":2627684,\\\"additional_insured\\\":\\\"John Doe\\\",\\\"division_template\\\":\\\"Template 1\\\",\\\"insurance_sets\\\":\\\"Set 1\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/insurances/sync\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/sync \\\n  --header 'content-type: application/json' \\\n  --data '{\"updates\":[{\"id\":348330,\"effective_date\":\"2015-03-03\",\"enable_expired_insurance_notifications\":true,\"exempt\":false,\"expiration_date\":\"2016-03-02\",\"info_received\":false,\"insurance_type\":\"General Liability\",\"limit\":\"1000000.00\",\"name\":\"GL Insurance Inc.\",\"notes\":\"Meets minimum requirements\",\"policy_number\":\"12345GL\",\"status\":\"compliant\",\"vendor_id\":2627684,\"additional_insured\":\"John Doe\",\"division_template\":\"Template 1\",\"insurance_sets\":\"Set 1\",\"origin_data\":\"OD-2398273424\",\"origin_id\":\"ABC123\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/insurances/sync\"),\n    Content = new StringContent(\"{\\\"updates\\\":[{\\\"id\\\":348330,\\\"effective_date\\\":\\\"2015-03-03\\\",\\\"enable_expired_insurance_notifications\\\":true,\\\"exempt\\\":false,\\\"expiration_date\\\":\\\"2016-03-02\\\",\\\"info_received\\\":false,\\\"insurance_type\\\":\\\"General Liability\\\",\\\"limit\\\":\\\"1000000.00\\\",\\\"name\\\":\\\"GL Insurance Inc.\\\",\\\"notes\\\":\\\"Meets minimum requirements\\\",\\\"policy_number\\\":\\\"12345GL\\\",\\\"status\\\":\\\"compliant\\\",\\\"vendor_id\\\":2627684,\\\"additional_insured\\\":\\\"John Doe\\\",\\\"division_template\\\":\\\"Template 1\\\",\\\"insurance_sets\\\":\\\"Set 1\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/insurances/sync": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync Company Insurances (Alternative)",
    "description": "This endpoint creates or updates a batch of Company Insurances. Must provide Company ID in the request body.",
    "tags": [
     "Company Insurances"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "InsuranceSyncBody",
        "type": "object",
        "required": [
         "updates"
        ],
        "properties": {
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "Insurance",
           "required": [
            "company_id"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Insurance",
             "example": 348330
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 243
            },
            "effective_date": {
             "type": "string",
             "format": "date",
             "description": "Effective date",
             "example": "2015-03-03"
            },
            "enable_expired_insurance_notifications": {
             "type": "boolean",
             "description": "Enable/Disable expired insurance notifications",
             "default": true
            },
            "exempt": {
             "type": "boolean",
             "description": "Exempt status",
             "example": false
            },
            "expiration_date": {
             "type": "string",
             "format": "date",
             "description": "Expiration date",
             "example": "2016-03-02"
            },
            "info_received": {
             "type": "boolean",
             "description": "Information received (or not)",
             "example": false
            },
            "insurance_type": {
             "type": "string",
             "description": "Insurance type",
             "example": "General Liability"
            },
            "limit": {
             "type": "string",
             "description": "Limit",
             "example": "1000000.00"
            },
            "name": {
             "type": "string",
             "description": "Provider name",
             "example": "GL Insurance Inc."
            },
            "notes": {
             "type": "string",
             "description": "Notes",
             "example": "Meets minimum requirements"
            },
            "policy_number": {
             "type": "string",
             "description": "Policy number",
             "example": "12345GL"
            },
            "status": {
             "type": "string",
             "enum": [
              "compliant",
              "compliant_in_progress",
              "expired",
              "non_compliant",
              "non_compliant_in_progress",
              "undecided",
              "unregistered"
             ],
             "description": "Status",
             "example": "compliant"
            },
            "vendor_id": {
             "type": "integer",
             "description": "Vendor ID",
             "example": 2627684
            },
            "additional_insured": {
             "type": "string",
             "description": "Additional Individuals and/or Companies Insured",
             "example": "John Doe"
            },
            "division_template": {
             "type": "string",
             "description": "Division Template",
             "example": "Template 1"
            },
            "insurance_sets": {
             "type": "string",
             "description": "Insurance Sets",
             "example": "Set 1"
            },
            "origin_data": {
             "type": "string",
             "description": "Origin data",
             "example": "OD-2398273424"
            },
            "origin_id": {
             "type": "string",
             "description": "Origin ID",
             "example": "ABC123"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Array of Company Insurances",
      "content": {
       "application/json": {
        "schema": {
         "title": "arrayOfCompanyInsurances",
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "title": "Insurance",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 311823
             },
             "effective_date": {
              "type": "string",
              "format": "date",
              "description": "Effective date",
              "example": "2015-03-03"
             },
             "enable_expired_insurance_notifications": {
              "type": "boolean",
              "description": "Enable/Disable expired insurance notifications",
              "example": false
             },
             "exempt": {
              "type": "boolean",
              "description": "Exempt status",
              "example": false
             },
             "expiration_date": {
              "type": "string",
              "format": "date",
              "description": "Expiration date",
              "example": "2016-03-02"
             },
             "info_received": {
              "type": "boolean",
              "description": "Information received (or not)",
              "example": false
             },
             "insurance_provider": {
              "type": "string",
              "description": "Insurance provider",
              "example": "GL Insurance Inc."
             },
             "insurance_type": {
              "type": "string",
              "description": "Insurance type",
              "example": "General Liability"
             },
             "limit": {
              "type": "string",
              "description": "Limit",
              "example": "1000000.0"
             },
             "notes": {
              "type": "string",
              "description": "Notes",
              "example": "Meets minimum requirements"
             },
             "policy_number": {
              "type": "string",
              "description": "Policy number",
              "example": "12345GL"
             },
             "status": {
              "type": "string",
              "enum": [
               "compliant",
               "compliant_in_progress",
               "expired",
               "non_compliant",
               "non_compliant_in_progress",
               "undecided",
               "unregistered"
              ],
              "description": "Status",
              "example": "compliant"
             },
             "vendor_id": {
              "type": "integer",
              "description": "Vendor ID",
              "example": 2627684
             },
             "additional_insured": {
              "type": "string",
              "description": "Additional Individuals and/or Companies Insured",
              "example": "John Doe"
             },
             "division_template": {
              "type": "string",
              "description": "Division Template",
              "example": "Template 1"
             },
             "insurance_sets": {
              "type": "string",
              "description": "Insurance Sets",
              "example": "Set 1"
             },
             "origin_data": {
              "type": "string",
              "description": "Origin data",
              "example": "OD-2398273424"
             },
             "origin_id": {
              "type": "string",
              "description": "Origin ID",
              "example": "ABC123"
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "title": "Insurance",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 311823
               },
               "effective_date": {
                "type": "string",
                "format": "date",
                "description": "Effective date",
                "example": "2015-03-03"
               },
               "enable_expired_insurance_notifications": {
                "type": "boolean",
                "description": "Enable/Disable expired insurance notifications",
                "example": false
               },
               "exempt": {
                "type": "boolean",
                "description": "Exempt status",
                "example": false
               },
               "expiration_date": {
                "type": "string",
                "format": "date",
                "description": "Expiration date",
                "example": "2016-03-02"
               },
               "info_received": {
                "type": "boolean",
                "description": "Information received (or not)",
                "example": false
               },
               "insurance_provider": {
                "type": "string",
                "description": "Insurance provider",
                "example": "GL Insurance Inc."
               },
               "insurance_type": {
                "type": "string",
                "description": "Insurance type",
                "example": "General Liability"
               },
               "limit": {
                "type": "string",
                "description": "Limit",
                "example": "1000000.0"
               },
               "notes": {
                "type": "string",
                "description": "Notes",
                "example": "Meets minimum requirements"
               },
               "policy_number": {
                "type": "string",
                "description": "Policy number",
                "example": "12345GL"
               },
               "status": {
                "type": "string",
                "enum": [
                 "compliant",
                 "compliant_in_progress",
                 "expired",
                 "non_compliant",
                 "non_compliant_in_progress",
                 "undecided",
                 "unregistered"
                ],
                "description": "Status",
                "example": "compliant"
               },
               "vendor_id": {
                "type": "integer",
                "description": "Vendor ID",
                "example": 2627684
               },
               "additional_insured": {
                "type": "string",
                "description": "Additional Individuals and/or Companies Insured",
                "example": "John Doe"
               },
               "division_template": {
                "type": "string",
                "description": "Division Template",
                "example": "Template 1"
               },
               "insurance_sets": {
                "type": "string",
                "description": "Insurance Sets",
                "example": "Set 1"
               },
               "origin_data": {
                "type": "string",
                "description": "Origin data",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "type": "string",
                "description": "Origin ID",
                "example": "ABC123"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/insurances/sync',\n  headers: {'content-type': 'application/json'},\n  body: {\n    updates: [\n      {\n        id: 348330,\n        company_id: 243,\n        effective_date: '2015-03-03',\n        enable_expired_insurance_notifications: true,\n        exempt: false,\n        expiration_date: '2016-03-02',\n        info_received: false,\n        insurance_type: 'General Liability',\n        limit: '1000000.00',\n        name: 'GL Insurance Inc.',\n        notes: 'Meets minimum requirements',\n        policy_number: '12345GL',\n        status: 'compliant',\n        vendor_id: 2627684,\n        additional_insured: 'John Doe',\n        division_template: 'Template 1',\n        insurance_sets: 'Set 1',\n        origin_data: 'OD-2398273424',\n        origin_id: 'ABC123'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"updates\\\":[{\\\"id\\\":348330,\\\"company_id\\\":243,\\\"effective_date\\\":\\\"2015-03-03\\\",\\\"enable_expired_insurance_notifications\\\":true,\\\"exempt\\\":false,\\\"expiration_date\\\":\\\"2016-03-02\\\",\\\"info_received\\\":false,\\\"insurance_type\\\":\\\"General Liability\\\",\\\"limit\\\":\\\"1000000.00\\\",\\\"name\\\":\\\"GL Insurance Inc.\\\",\\\"notes\\\":\\\"Meets minimum requirements\\\",\\\"policy_number\\\":\\\"12345GL\\\",\\\"status\\\":\\\"compliant\\\",\\\"vendor_id\\\":2627684,\\\"additional_insured\\\":\\\"John Doe\\\",\\\"division_template\\\":\\\"Template 1\\\",\\\"insurance_sets\\\":\\\"Set 1\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/insurances/sync\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/insurances/sync \\\n  --header 'content-type: application/json' \\\n  --data '{\"updates\":[{\"id\":348330,\"company_id\":243,\"effective_date\":\"2015-03-03\",\"enable_expired_insurance_notifications\":true,\"exempt\":false,\"expiration_date\":\"2016-03-02\",\"info_received\":false,\"insurance_type\":\"General Liability\",\"limit\":\"1000000.00\",\"name\":\"GL Insurance Inc.\",\"notes\":\"Meets minimum requirements\",\"policy_number\":\"12345GL\",\"status\":\"compliant\",\"vendor_id\":2627684,\"additional_insured\":\"John Doe\",\"division_template\":\"Template 1\",\"insurance_sets\":\"Set 1\",\"origin_data\":\"OD-2398273424\",\"origin_id\":\"ABC123\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/insurances/sync\"),\n    Content = new StringContent(\"{\\\"updates\\\":[{\\\"id\\\":348330,\\\"company_id\\\":243,\\\"effective_date\\\":\\\"2015-03-03\\\",\\\"enable_expired_insurance_notifications\\\":true,\\\"exempt\\\":false,\\\"expiration_date\\\":\\\"2016-03-02\\\",\\\"info_received\\\":false,\\\"insurance_type\\\":\\\"General Liability\\\",\\\"limit\\\":\\\"1000000.00\\\",\\\"name\\\":\\\"GL Insurance Inc.\\\",\\\"notes\\\":\\\"Meets minimum requirements\\\",\\\"policy_number\\\":\\\"12345GL\\\",\\\"status\\\":\\\"compliant\\\",\\\"vendor_id\\\":2627684,\\\"additional_insured\\\":\\\"John Doe\\\",\\\"division_template\\\":\\\"Template 1\\\",\\\"insurance_sets\\\":\\\"Set 1\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}