{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Action Plan Template Item Assignees",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Company Action Plan Template Item Assignees",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_item_assignees": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Action Plan Template Item Assignees",
    "description": "List of all Company Action Plan Template Item Assignees",
    "tags": [
     "Company Action Plan Template Item Assignees"
    ],
    "parameters": [
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_id]",
      "in": "query",
      "description": "Return section(s) associated with the specified Action Plan Template ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Company Action Plan Template Item Assignees (Index)",
         "items": {
          "type": "object",
          "description": "Company Action Plan Template Item Assignee (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the template item assignee.",
            "example": 43584
           },
           "plan_template_item_id": {
            "type": "integer",
            "description": "Unique identifier of the template item this assignee belongs to.",
            "example": 429
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the assignee was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "is_holding": {
            "type": "boolean",
            "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
            "example": true
           },
           "plan_template_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan Template.",
            "example": 248
           },
           "role": {
            "type": "string",
            "description": "Organizational role of the assignee within the inspection workflow.",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "architect"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "verification_method": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the verification method.",
              "example": 21
             },
             "active": {
              "type": "boolean",
              "description": "Whether this verification method is enabled for selection in template items.",
              "example": true
             },
             "name": {
              "type": "string",
              "description": "Display name of the verification method.",
              "example": "Hold Point"
             },
             "source_key": {
              "type": "string",
              "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
              "example": "hold_point",
              "nullable": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees',\n  qs: {\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees?filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees?filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees?filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template Item Assignee list endpoint",
      "description": "Get a list of Company Action Plan Template Item Assignees for a given company.",
      "endpoint": "GET /companies/{company_id}/action_plans/plan_template_item_assignees",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-item-assignees?version=1.0#list-company-action-plan-template-item-assignees"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Action Plan Template Item Assignee",
    "description": "Create an Company Action Plan Template Item Assignee",
    "tags": [
     "Company Action Plan Template Item Assignees"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_item_assignee"
        ],
        "properties": {
         "plan_template_item_assignee": {
          "type": "object",
          "required": [
           "plan_template_item_id",
           "role"
          ],
          "properties": {
           "plan_template_item_id": {
            "type": "integer",
            "description": "Company Action Plan Template Item ID of the Company Action Plan Template Item Assignee to be set",
            "example": 42
           },
           "is_holding": {
            "type": "boolean",
            "description": "Indicates whether or not the Assignee's signature is holding",
            "example": true
           },
           "role": {
            "type": "string",
            "description": "Role of the Company Action Plan Template Item Assignee to be set",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "architect"
           },
           "verification_method_id": {
            "type": "integer",
            "description": "Verification Method ID of the Company Action Plan Template Item Assignee to be set",
            "example": 1
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template Item Assignee (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the template item assignee.",
           "example": 43584
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this assignee belongs to.",
           "example": 429
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the assignee was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "is_holding": {
           "type": "boolean",
           "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
           "example": true
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 248
          },
          "role": {
           "type": "string",
           "description": "Organizational role of the assignee within the inspection workflow.",
           "enum": [
            "contractor",
            "specialty_contractor",
            "client",
            "architect",
            "third_party",
            "internal"
           ],
           "example": "architect"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "verification_method": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the verification method.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this verification method is enabled for selection in template items.",
             "example": true
            },
            "name": {
             "type": "string",
             "description": "Display name of the verification method.",
             "example": "Hold Point"
            },
            "source_key": {
             "type": "string",
             "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
             "example": "hold_point",
             "nullable": true
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template_item_assignee: {\n      plan_template_item_id: 42,\n      is_holding: true,\n      role: 'architect',\n      verification_method_id: 1\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_item_assignee\\\":{\\\"plan_template_item_id\\\":42,\\\"is_holding\\\":true,\\\"role\\\":\\\"architect\\\",\\\"verification_method_id\\\":1}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_item_assignee\":{\"plan_template_item_id\":42,\"is_holding\":true,\"role\":\"architect\",\"verification_method_id\":1}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees\"),\n    Content = new StringContent(\"{\\\"plan_template_item_assignee\\\":{\\\"plan_template_item_id\\\":42,\\\"is_holding\\\":true,\\\"role\\\":\\\"architect\\\",\\\"verification_method_id\\\":1}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template Item Assignee create endpoint",
      "description": "Create a Company Action Plan Template Item Assignee for a given company.",
      "endpoint": "POST /companies/{company_id}/action_plans/plan_template_item_assignees",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-item-assignees?version=1.0#create-company-action-plan-template-item-assignee"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_item_assignees/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Assignee ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Action Plan Template Item Assignee",
    "description": "Details of a single Company Action Plan Template Item Assignee",
    "tags": [
     "Company Action Plan Template Item Assignees"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template Item Assignee (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the template item assignee.",
           "example": 43584
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this assignee belongs to.",
           "example": 429
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the assignee was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "is_holding": {
           "type": "boolean",
           "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
           "example": true
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 248
          },
          "role": {
           "type": "string",
           "description": "Organizational role of the assignee within the inspection workflow.",
           "enum": [
            "contractor",
            "specialty_contractor",
            "client",
            "architect",
            "third_party",
            "internal"
           ],
           "example": "architect"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "verification_method": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the verification method.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this verification method is enabled for selection in template items.",
             "example": true
            },
            "name": {
             "type": "string",
             "description": "Display name of the verification method.",
             "example": "Hold Point"
            },
            "source_key": {
             "type": "string",
             "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
             "example": "hold_point",
             "nullable": true
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template Item Assignee show endpoint",
      "description": "View the details of a Company Action Plan Template Item Assignee.",
      "endpoint": "GET /companies/{company_id}/action_plans/plan_template_item_assignees/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-item-assignees?version=1.0#show-company-action-plan-template-item-assignee"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Company Action Plan Template Item Assignee",
    "description": "Updates a single Company Action Plan Template Item Assignee",
    "tags": [
     "Company Action Plan Template Item Assignees"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_item_assignee"
        ],
        "properties": {
         "plan_template_item_assignee": {
          "type": "object",
          "properties": {
           "is_holding": {
            "type": "boolean",
            "description": "Indicates whether or not the Assignee's signature is holding",
            "example": true
           },
           "verification_method_id": {
            "type": "integer",
            "description": "Verification Method ID of the Company Action Plan Template Item Assignee to be set",
            "example": 1
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template Item Assignee (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the template item assignee.",
           "example": 43584
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this assignee belongs to.",
           "example": 429
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the assignee was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "is_holding": {
           "type": "boolean",
           "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
           "example": true
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 248
          },
          "role": {
           "type": "string",
           "description": "Organizational role of the assignee within the inspection workflow.",
           "enum": [
            "contractor",
            "specialty_contractor",
            "client",
            "architect",
            "third_party",
            "internal"
           ],
           "example": "architect"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "verification_method": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the verification method.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this verification method is enabled for selection in template items.",
             "example": true
            },
            "name": {
             "type": "string",
             "description": "Display name of the verification method.",
             "example": "Hold Point"
            },
            "source_key": {
             "type": "string",
             "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
             "example": "hold_point",
             "nullable": true
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {plan_template_item_assignee: {is_holding: true, verification_method_id: 1}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_item_assignee\\\":{\\\"is_holding\\\":true,\\\"verification_method_id\\\":1}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_item_assignee\":{\"is_holding\":true,\"verification_method_id\":1}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"plan_template_item_assignee\\\":{\\\"is_holding\\\":true,\\\"verification_method_id\\\":1}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Company Action Plan Template Item Assignee",
    "description": "Delete a Company Action Plan Template Item Assignee",
    "tags": [
     "Company Action Plan Template Item Assignees"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template Item Assignee delete endpoint",
      "description": "Delete a Company Action Plan Template Item Assignee.",
      "endpoint": "DELETE /companies/{company_id}/action_plans/plan_template_item_assignees/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-item-assignees?version=1.0#delete-company-action-plan-template-item-assignee"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/recycle_bin/action_plans/plan_template_item_assignees": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Company Action Plan Template Items Assignees",
    "description": "Returns all Recycled Company Action Plan Template Item Assignees for a given company",
    "tags": [
     "Company Action Plan Template Item Assignees"
    ],
    "parameters": [
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_item_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template Item ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_id]",
      "in": "query",
      "description": "Return section(s) associated with the specified Action Plan Template ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Recycled Company Action Plan Template Item Assignees (Index)",
         "items": {
          "type": "object",
          "description": "Recycled Company Action Plan Template Item Assignee (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the deleted template item assignee.",
            "example": 43584
           },
           "plan_template_item_id": {
            "type": "integer",
            "description": "Unique identifier of the template item this assignee belonged to.",
            "example": 429
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the assignee was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the assignee was moved to the recycle bin. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "is_holding": {
            "type": "boolean",
            "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
            "example": true
           },
           "plan_template_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan Template.",
            "example": 248
           },
           "role": {
            "type": "string",
            "description": "Organizational role of the assignee within the inspection workflow.",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "architect"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "verification_method": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the verification method.",
              "example": 21
             },
             "active": {
              "type": "boolean",
              "description": "Whether this verification method is enabled for selection in template items.",
              "example": true
             },
             "name": {
              "type": "string",
              "description": "Display name of the verification method.",
              "example": "Hold Point"
             },
             "source_key": {
              "type": "string",
              "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
              "example": "hold_point",
              "nullable": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_item_assignees',\n  qs: {\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_item_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_item_assignees?filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_item_assignees?filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_item_assignees?filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_item_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Company Action Plan Template Item Assignee list endpoint",
      "description": "Get a list of Recycled Company Action Plan Template Item Assignees.",
      "endpoint": "GET /companies/{company_id}/recycle_bin/action_plans/plan_template_item_assignees",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-item-assignees?version=1.0#list-recycled-company-action-plan-template-items-assignees"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/recycle_bin/action_plans/plan_template_item_assignees/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Template Item Assignee ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Company Action Plan Template Items Assignee",
    "description": "Returns a Specific Recycled Company Action Plan Template Item Assignee for a given company",
    "tags": [
     "Company Action Plan Template Item Assignees"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Recycled Company Action Plan Template Item Assignee (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the deleted template item assignee.",
           "example": 43584
          },
          "plan_template_item_id": {
           "type": "integer",
           "description": "Unique identifier of the template item this assignee belonged to.",
           "example": 429
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the assignee was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the assignee was moved to the recycle bin. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "is_holding": {
           "type": "boolean",
           "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
           "example": true
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 248
          },
          "role": {
           "type": "string",
           "description": "Organizational role of the assignee within the inspection workflow.",
           "enum": [
            "contractor",
            "specialty_contractor",
            "client",
            "architect",
            "third_party",
            "internal"
           ],
           "example": "architect"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "verification_method": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the verification method.",
             "example": 21
            },
            "active": {
             "type": "boolean",
             "description": "Whether this verification method is enabled for selection in template items.",
             "example": true
            },
            "name": {
             "type": "string",
             "description": "Display name of the verification method.",
             "example": "Hold Point"
            },
            "source_key": {
             "type": "string",
             "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
             "example": "hold_point",
             "nullable": true
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_item_assignees/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_item_assignees/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_item_assignees/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_item_assignees/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Company Action Plan Template Item Assignee show endpoint",
      "description": "View the details of a Recycled Company Action Plan Template Item Assignee.",
      "endpoint": "GET /companies/{company_id}/recycle_bin/action_plans/plan_template_item_assignees/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-item-assignees?version=1.0#show-recycled-company-action-plan-template-items-assignee"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_item_assignees/bulk_create": {
   "post": {
    "x-support-level": "Beta",
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Action Plan Template Item Assignees",
    "description": "Creates multiple Action Plan Template Assignees",
    "tags": [
     "Action Plan Template Item Assignees"
    ],
    "parameters": [
     {
      "name": "completion_mode",
      "in": "query",
      "description": "Whether to update what can be or nothing if one can not be updated. Defaults to \"all_or_nothing\"",
      "schema": {
       "type": "string",
       "enum": [
        "all_or_nothing",
        "atomic"
       ]
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_item_assignees"
        ],
        "properties": {
         "plan_template_item_assignees": {
          "title": "Action Plan Template Item Assignees",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "plan_template_item_id"
           ],
           "properties": {
            "plan_template_item_id": {
             "type": "integer",
             "description": "The ID of the Action Plan Template Item Assignee",
             "example": 123
            },
            "is_holding": {
             "type": "boolean",
             "description": "Indicates whether or not the Assignee's signature is holding",
             "example": true
            },
            "party_id": {
             "type": "integer",
             "description": "Party Person ID of the Action Plan Item Assignee to be set",
             "example": 27
            },
            "role": {
             "type": "string",
             "description": "Role of the Project Action Plan Template Item Assignee to be set",
             "enum": [
              "contractor",
              "specialty_contractor",
              "client",
              "architect",
              "third_party",
              "internal"
             ],
             "example": "architect"
            },
            "verification_method_id": {
             "type": "integer",
             "description": "Verification Method ID of the Project Action Plan Template Item Assignee to be set",
             "example": 1
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of update status",
         "items": {
          "type": "object",
          "properties": {
           "plan_template_item_id": {
            "type": "integer",
            "description": "The ID of the Item",
            "example": 123
           },
           "is_holding": {
            "type": "boolean",
            "description": "status of the update on that Item",
            "example": true
           },
           "errors": {
            "type": "object"
           },
           "role": {
            "type": "string",
            "description": "Role of the Project Action Plan Template Item Assignee to be set",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "architect"
           },
           "verification_method_id": {
            "type": "integer",
            "description": "Verification Method ID of the Project Action Plan Template Item Assignee to be set",
            "example": 1
           },
           "party_id": {
            "type": "integer",
            "description": "Party Person ID of the Action Plan Item Assignee to be set",
            "example": 27
           },
           "status": {
            "type": "string",
            "description": "status of the update on that Item",
            "enum": [
             "success",
             "failure"
            ],
            "example": "success"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/bulk_create',\n  qs: {completion_mode: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template_item_assignees: [\n      {\n        plan_template_item_id: 123,\n        is_holding: true,\n        party_id: 27,\n        role: 'architect',\n        verification_method_id: 1\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_item_assignees\\\":[{\\\"plan_template_item_id\\\":123,\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"role\\\":\\\"architect\\\",\\\"verification_method_id\\\":1}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/bulk_create?completion_mode=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/bulk_create?completion_mode=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_item_assignees\":[{\"plan_template_item_id\":123,\"is_holding\":true,\"party_id\":27,\"role\":\"architect\",\"verification_method_id\":1}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/bulk_create?completion_mode=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"plan_template_item_assignees\\\":[{\\\"plan_template_item_id\\\":123,\\\"is_holding\\\":true,\\\"party_id\\\":27,\\\"role\\\":\\\"architect\\\",\\\"verification_method_id\\\":1}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Action Plan Template Item Assignee Bulk create endpoint",
      "description": "Create action plan template assignees for multiple Action Plan Template Items.",
      "endpoint": "POST /companies/{company_id}/action_plans/plan_template_item_assignees/bulk_create",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-05-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-item-assignees?version=1.0#bulk-create-action-plan-template-item-assignees"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_item_assignees/bulk_update": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk Update Company Action Plan Template Item Assignees",
    "description": "Updates multiple Action Plan Assignees for the selected action plan items",
    "tags": [
     "Action Plan Item Assignees"
    ],
    "parameters": [
     {
      "name": "completion_mode",
      "in": "query",
      "description": "Whether to update what can be or nothing if one can not be updated. Defaults to \"all_or_nothing\"",
      "schema": {
       "type": "string",
       "enum": [
        "all_or_nothing",
        "atomic"
       ]
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_item_assignees"
        ],
        "properties": {
         "plan_template_item_assignees": {
          "title": "Action Plan Item Assignees",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "id"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Action Plan Item Assignee",
             "example": 123
            },
            "party_id": {
             "type": "integer",
             "description": "Party Person ID of the Action Plan Item Assignee to be set",
             "example": 27
            },
            "verification_method_id": {
             "type": "integer",
             "description": "Verification Method ID of the Action Plan Item Assignee to be set",
             "example": 1
            },
            "role": {
             "type": "string",
             "description": "Role of the Project Action Plan Template Item Assignee to be set",
             "enum": [
              "contractor",
              "specialty_contractor",
              "client",
              "architect",
              "third_party",
              "internal"
             ],
             "example": "architect"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of update status",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "The ID of the Item",
            "example": 123
           },
           "is_holding": {
            "type": "boolean",
            "description": "status of the update on that Item",
            "example": true
           },
           "errors": {
            "type": "object"
           },
           "role": {
            "type": "string",
            "description": "Role of the Project Action Plan Template Item Assignee to be set",
            "enum": [
             "contractor",
             "specialty_contractor",
             "client",
             "architect",
             "third_party",
             "internal"
            ],
            "example": "architect"
           },
           "verification_method_id": {
            "type": "integer",
            "description": "Verification Method ID of the Project Action Plan Template Item Assignee to be set",
            "example": 1
           },
           "party_id": {
            "type": "integer",
            "description": "Party Person ID of the Action Plan Item Assignee to be set",
            "example": 27
           },
           "status": {
            "type": "string",
            "description": "status of the update on that Item",
            "enum": [
             "success",
             "failure"
            ],
            "example": "success"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/bulk_update',\n  qs: {completion_mode: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template_item_assignees: [{id: 123, party_id: 27, verification_method_id: 1, role: 'architect'}]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_item_assignees\\\":[{\\\"id\\\":123,\\\"party_id\\\":27,\\\"verification_method_id\\\":1,\\\"role\\\":\\\"architect\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/bulk_update?completion_mode=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/bulk_update?completion_mode=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_item_assignees\":[{\"id\":123,\"party_id\":27,\"verification_method_id\":1,\"role\":\"architect\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_item_assignees/bulk_update?completion_mode=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"plan_template_item_assignees\\\":[{\\\"id\\\":123,\\\"party_id\\\":27,\\\"verification_method_id\\\":1,\\\"role\\\":\\\"architect\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template Item Assignee Bulk Update endpoint",
      "description": "Bulk update the company action plan template item assignees.",
      "endpoint": "PATCH /companies/{company_id}/action_plans/plan_template_item_assignees/bulk_update",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-action-plan-template-item-assignees?version=1.0#bulk-update-company-action-plan-template-item-assignees"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}