{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Inspection Template Item Evidence Configurations",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Company Inspection Template Item Evidence Configurations",
  "version": "2.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/inspection_template_items/{template_item_id}/evidence_configuration": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "template_item_id",
     "in": "path",
     "description": "Unique identifier for the inspection template item.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show a Company Inspection Template Item Evidence Configuration",
    "description": "Show the specified Company Inspection Template Item Evidence Configuration.",
    "tags": [
     "Inspections"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "item_id": {
             "type": "string",
             "description": "Item ID for the Evidence Configuration",
             "example": "44"
            },
            "photo": {
             "type": "object",
             "properties": {
              "status_ids": {
               "type": "array",
               "description": "Array of Inspection Item Status IDs that would trigger the requirement of a Photo",
               "items": {
                "type": "string",
                "example": "2"
               }
              },
              "response_option_ids": {
               "type": "array",
               "description": "Array of Inspection Response Option IDs that would trigger the requirement of a Photo",
               "items": {
                "type": "string",
                "example": "23"
               }
              }
             }
            },
            "observation": {
             "type": "object",
             "properties": {
              "status_ids": {
               "type": "array",
               "description": "Array of Inspection Item Status IDs that would trigger the requirement of a Observation",
               "items": {
                "type": "string",
                "example": "1"
               }
              },
              "response_option_ids": {
               "type": "array",
               "description": "Array of Inspection Response Option IDs that would trigger the requirement of a Observation",
               "items": {
                "type": "string",
                "example": "31"
               }
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2012-10-23T21:39:40Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date updated",
             "example": "2012-10-23T21:39:40Z"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/inspection_template_items/%7Btemplate_item_id%7D/evidence_configuration',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/inspection_template_items/%7Btemplate_item_id%7D/evidence_configuration\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/inspection_template_items/%7Btemplate_item_id%7D/evidence_configuration \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/inspection_template_items/%7Btemplate_item_id%7D/evidence_configuration\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Inspection Template Item Evidence Configuration show endpoint",
      "description": "Returns the details for a specified Company Inspection Template Item Evidence Configuration.",
      "endpoint": "GET /companies/{company_id}/inspection_template_items/{template_item_id}/evidence_configuration",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-04-22",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inspection-template-item-evidence-configurations?version=2.0#show-a-company-inspection-template-item-evidence-configuration"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "GET /companies/{company_id}/inspection_template_items/{template_item_id}/evidence_configuration",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-30",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inspection-template-item-evidence-configurations?version=2.0#show-a-company-inspection-template-item-evidence-configuration"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Updates a Company Inspection Template Item Evidence Configuration",
    "description": "Updates the specified Company Inspection Template Item Evidence Configuration",
    "tags": [
     "Inspections"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "evidence_configuration"
        ],
        "properties": {
         "evidence_configuration": {
          "type": "object",
          "properties": {
           "observation": {
            "type": "object",
            "properties": {
             "status_ids": {
              "type": "array",
              "description": "Array of Company Inspection Template Item Status IDs that would trigger the requirement of an Observation",
              "items": {
               "type": "string",
               "example": "1"
              }
             },
             "response_option_ids": {
              "type": "array",
              "description": "Array of Inspection Response Option IDs that would trigger the requirement of an Observation",
              "items": {
               "type": "string",
               "example": "31"
              }
             }
            }
           },
           "photo": {
            "type": "object",
            "properties": {
             "status_ids": {
              "type": "array",
              "description": "Array of Company Inspection Template Item Status IDs that would trigger the requirement of a Photo",
              "items": {
               "type": "string",
               "example": "2"
              }
             },
             "response_option_ids": {
              "type": "array",
              "description": "Array of Inspection Response Option IDs that would trigger the requirement of a Photo",
              "items": {
               "type": "string",
               "example": "23"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "item_id": {
             "type": "string",
             "description": "Item ID for the Evidence Configuration",
             "example": "44"
            },
            "photo": {
             "type": "object",
             "properties": {
              "status_ids": {
               "type": "array",
               "description": "Array of Inspection Item Status IDs that would trigger the requirement of a Photo",
               "items": {
                "type": "string",
                "example": "2"
               }
              },
              "response_option_ids": {
               "type": "array",
               "description": "Array of Inspection Response Option IDs that would trigger the requirement of a Photo",
               "items": {
                "type": "string",
                "example": "23"
               }
              }
             }
            },
            "observation": {
             "type": "object",
             "properties": {
              "status_ids": {
               "type": "array",
               "description": "Array of Inspection Item Status IDs that would trigger the requirement of a Observation",
               "items": {
                "type": "string",
                "example": "1"
               }
              },
              "response_option_ids": {
               "type": "array",
               "description": "Array of Inspection Response Option IDs that would trigger the requirement of a Observation",
               "items": {
                "type": "string",
                "example": "31"
               }
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2012-10-23T21:39:40Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date updated",
             "example": "2012-10-23T21:39:40Z"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/inspection_template_items/%7Btemplate_item_id%7D/evidence_configuration',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    evidence_configuration: {\n      observation: {status_ids: ['1'], response_option_ids: ['31']},\n      photo: {status_ids: ['2'], response_option_ids: ['23']}\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"evidence_configuration\\\":{\\\"observation\\\":{\\\"status_ids\\\":[\\\"1\\\"],\\\"response_option_ids\\\":[\\\"31\\\"]},\\\"photo\\\":{\\\"status_ids\\\":[\\\"2\\\"],\\\"response_option_ids\\\":[\\\"23\\\"]}}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/inspection_template_items/%7Btemplate_item_id%7D/evidence_configuration\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/inspection_template_items/%7Btemplate_item_id%7D/evidence_configuration \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"evidence_configuration\":{\"observation\":{\"status_ids\":[\"1\"],\"response_option_ids\":[\"31\"]},\"photo\":{\"status_ids\":[\"2\"],\"response_option_ids\":[\"23\"]}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/inspection_template_items/%7Btemplate_item_id%7D/evidence_configuration\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"evidence_configuration\\\":{\\\"observation\\\":{\\\"status_ids\\\":[\\\"1\\\"],\\\"response_option_ids\\\":[\\\"31\\\"]},\\\"photo\\\":{\\\"status_ids\\\":[\\\"2\\\"],\\\"response_option_ids\\\":[\\\"23\\\"]}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Inspection Template Item Evidence Configuration update endpoint",
      "description": "Updates the specified Company Inspection Template Item Evidence Configuration",
      "endpoint": "PATCH /companies/{company_id}/inspection_template_items/{template_item_id}/evidence_configuration",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-04-22",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inspection-template-item-evidence-configurations?version=2.0#updates-a-company-inspection-template-item-evidence-configuration"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "PATCH /companies/{company_id}/inspection_template_items/{template_item_id}/evidence_configuration",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-30",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-inspection-template-item-evidence-configurations?version=2.0#updates-a-company-inspection-template-item-evidence-configuration"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}