{
 "openapi": "3.0.0",
 "info": {
  "title": "Company People",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Company People",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/people/bulk_activate": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk activation",
    "description": "Activate up to 1000 people at once",
    "tags": [
     "Company People"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Bulk Activate Body",
        "type": "object",
        "required": [
         "ids"
        ],
        "properties": {
         "ids": {
          "description": "Array of people IDs to activate",
          "type": "array",
          "items": {
           "type": "integer"
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "ids": {
             "description": "People IDs that were activated (excludes any that were already active)",
             "type": "array",
             "items": {
              "type": "integer"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/people/bulk_activate',\n  headers: {'content-type': 'application/json'},\n  body: {ids: [0]},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"ids\\\":[0]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/people/bulk_activate\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/people/bulk_activate \\\n  --header 'content-type: application/json' \\\n  --data '{\"ids\":[0]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/people/bulk_activate\"),\n    Content = new StringContent(\"{\\\"ids\\\":[0]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added API for bulk activation",
      "description": "An API to bulk activate up to 1000 people",
      "endpoint": "POST /companies/{company_id}/people/bulk_activate",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-04",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-people?version=2.0#bulk-activation"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/people/bulk_deactivate": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk deactivation",
    "description": "Deactivate up to 1000 people at once",
    "tags": [
     "Company People"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Bulk Deactivate Body",
        "type": "object",
        "required": [
         "ids"
        ],
        "properties": {
         "ids": {
          "description": "Array of people IDs to deactivate",
          "type": "array",
          "items": {
           "type": "integer"
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "ids": {
             "description": "People IDs that were deactivated (excludes any that were already inactive)",
             "type": "array",
             "items": {
              "type": "integer"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/people/bulk_deactivate',\n  headers: {'content-type': 'application/json'},\n  body: {ids: [0]},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"ids\\\":[0]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/people/bulk_deactivate\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/people/bulk_deactivate \\\n  --header 'content-type: application/json' \\\n  --data '{\"ids\":[0]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/people/bulk_deactivate\"),\n    Content = new StringContent(\"{\\\"ids\\\":[0]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added API for bulk deactivation",
      "description": "An API to bulk deactivate up to 1000 people",
      "endpoint": "POST /companies/{company_id}/people/bulk_deactivate",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-04",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-people?version=2.0#bulk-deactivation"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/people": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "ID of the company",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company People",
    "description": "Return a list of People associated with a Company. Includes users in the directory and reference users.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Company Users"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). If a valid view is not provided, it will default to normal.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[is_employee]",
      "in": "query",
      "description": "If true, returns item(s) where `is_employee` value is true.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[without_reference_users]",
      "in": "query",
      "required": false,
      "description": "If true, returns only people who are not reference users.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[reference_users_only]",
      "in": "query",
      "required": false,
      "description": "If true, returns only people who are reference users.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns People where the search string matches the Person's name (first, last, or full), email address, mobile phone, business phone, fax number, or job title.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[connected]",
      "in": "query",
      "description": "If true, returns only people who are connected users. If false, returns only people who are not connected users.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[state_code]",
      "in": "query",
      "description": "Returns only people who have the specified state code.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[job_title]",
      "in": "query",
      "description": "Returns only people who have the specified job title.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[trade_id]",
      "in": "query",
      "description": "Array of Trade IDs. Returns item(s) with the specified Trade IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Company People",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "title": "Company Person",
            "description": "The Company Person object.",
            "properties": {
             "contact": {
              "type": "object",
              "description": "The Contact associated with the Company Person. This value is set to NULL for a Reference User.",
              "properties": {
               "is_active": {
                "type": "boolean",
                "description": "The status of the Contact. If this property is set to true, the status of the Contact is active. If this property is set to false, the status of the Contact is inactive."
               },
               "email": {
                "type": "string",
                "description": "The email address of the Contact.",
                "example": "personwithcontact@example.com"
               }
              }
             },
             "employee_id": {
              "type": "string",
              "description": "The employee id of the Company Person.",
              "example": "123456789",
              "nullable": true
             },
             "first_name": {
              "type": "string",
              "description": "The first name of the Company Person.",
              "example": "Owen"
             },
             "id": {
              "type": "integer",
              "description": "The unique identifier of the Company Person.",
              "example": 381006
             },
             "is_employee": {
              "type": "boolean",
              "description": "The employee status of the Company Person. If this property is set to true, the Company Person is an employee.",
              "example": false,
              "nullable": true
             },
             "last_name": {
              "type": "string",
              "description": "The last name of the Company Person.",
              "example": "Owner"
             },
             "name": {
              "type": "string",
              "description": "The full name of the Company Person.",
              "example": "Owen Owner"
             },
             "user_id": {
              "type": "integer",
              "description": "The unique identifier if this Company Person represents a User. This value is set to NULL for a Reference User.",
              "example": 700215,
              "nullable": true
             },
             "user_uuid": {
              "type": "integer",
              "description": "The User UUID for if this Company Person represents a User. This value is set to NULL for a Reference User.",
              "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
              "nullable": true
             },
             "work_classification_id": {
              "type": "integer",
              "description": "The unique identifier for the work classification of the Company Person.",
              "example": 398438,
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "nullable": true,
              "description": "The Origin ID of the Company User",
              "example": "OD-3483830-2"
             },
             "contact_id": {
              "type": "string",
              "description": "The contact id of the Company Person. This value is set to NULL for a Reference User.",
              "example": "987654321",
              "nullable": true
             },
             "job_title": {
              "type": "string",
              "description": "The job title of the Company Person",
              "example": "Developer"
             }
            }
           },
           {
            "allOf": [
             {
              "type": "object",
              "title": "Company Person Extended",
              "description": "Extended view of the Company Person object."
             },
             {
              "type": "object",
              "title": "Company Person",
              "description": "The Company Person object.",
              "properties": {
               "contact": {
                "type": "object",
                "description": "The Contact associated with the Company Person. This value is set to NULL for a Reference User.",
                "properties": {
                 "is_active": {
                  "type": "boolean",
                  "description": "The status of the Contact. If this property is set to true, the status of the Contact is active. If this property is set to false, the status of the Contact is inactive."
                 },
                 "email": {
                  "type": "string",
                  "description": "The email address of the Contact.",
                  "example": "personwithcontact@example.com"
                 }
                }
               },
               "employee_id": {
                "type": "string",
                "description": "The employee id of the Company Person.",
                "example": "123456789",
                "nullable": true
               },
               "first_name": {
                "type": "string",
                "description": "The first name of the Company Person.",
                "example": "Owen"
               },
               "id": {
                "type": "integer",
                "description": "The unique identifier of the Company Person.",
                "example": 381006
               },
               "is_employee": {
                "type": "boolean",
                "description": "The employee status of the Company Person. If this property is set to true, the Company Person is an employee.",
                "example": false,
                "nullable": true
               },
               "last_name": {
                "type": "string",
                "description": "The last name of the Company Person.",
                "example": "Owner"
               },
               "name": {
                "type": "string",
                "description": "The full name of the Company Person.",
                "example": "Owen Owner"
               },
               "user_id": {
                "type": "integer",
                "description": "The unique identifier if this Company Person represents a User. This value is set to NULL for a Reference User.",
                "example": 700215,
                "nullable": true
               },
               "user_uuid": {
                "type": "integer",
                "description": "The User UUID for if this Company Person represents a User. This value is set to NULL for a Reference User.",
                "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
                "nullable": true
               },
               "work_classification_id": {
                "type": "integer",
                "description": "The unique identifier for the work classification of the Company Person.",
                "example": 398438,
                "nullable": true
               },
               "origin_id": {
                "type": "string",
                "nullable": true,
                "description": "The Origin ID of the Company User",
                "example": "OD-3483830-2"
               },
               "contact_id": {
                "type": "string",
                "description": "The contact id of the Company Person. This value is set to NULL for a Reference User.",
                "example": "987654321",
                "nullable": true
               },
               "job_title": {
                "type": "string",
                "description": "The job title of the Company Person",
                "example": "Developer"
               }
              }
             },
             {
              "type": "object",
              "title": "extended view",
              "properties": {
               "vendor": {
                "type": "object",
                "description": "The Vendor associated with the Company Person.",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier for the Vendor of the Company Person."
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the Vendor associated with the Company Person.",
                  "example": "Owen Construction Co."
                 }
                }
               },
               "work_classification": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID",
                  "example": "57869"
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the classification",
                  "example": "Driver"
                 }
                }
               }
              }
             }
            ]
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[is_employee]': 'SOME_BOOLEAN_VALUE',\n    'filters[without_reference_users]': 'SOME_BOOLEAN_VALUE',\n    'filters[reference_users_only]': 'SOME_BOOLEAN_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[connected]': 'SOME_BOOLEAN_VALUE',\n    'filters[state_code]': 'SOME_STRING_VALUE',\n    'filters[job_title]': 'SOME_STRING_VALUE',\n    'filters[vendor_id]': 'SOME_ARRAY_VALUE',\n    'filters[trade_id]': 'SOME_ARRAY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/people?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_employee%5D=SOME_BOOLEAN_VALUE&filters%5Bwithout_reference_users%5D=SOME_BOOLEAN_VALUE&filters%5Breference_users_only%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bconnected%5D=SOME_BOOLEAN_VALUE&filters%5Bstate_code%5D=SOME_STRING_VALUE&filters%5Bjob_title%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_employee%5D=SOME_BOOLEAN_VALUE&filters%5Bwithout_reference_users%5D=SOME_BOOLEAN_VALUE&filters%5Breference_users_only%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bconnected%5D=SOME_BOOLEAN_VALUE&filters%5Bstate_code%5D=SOME_STRING_VALUE&filters%5Bjob_title%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_employee%5D=SOME_BOOLEAN_VALUE&filters%5Bwithout_reference_users%5D=SOME_BOOLEAN_VALUE&filters%5Breference_users_only%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bconnected%5D=SOME_BOOLEAN_VALUE&filters%5Bstate_code%5D=SOME_STRING_VALUE&filters%5Bjob_title%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Filter by connected users",
      "description": "Company People list endpoint now supports the option to filter by connected users.",
      "endpoint": "GET /companies/{company_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-people?version=1.0#list-company-people"
     },
     {
      "summary": "Filter by state code",
      "description": "Company People list endpoint now supports the option to filter by state code.",
      "endpoint": "GET /companies/{company_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-people?version=1.0#list-company-people"
     },
     {
      "summary": "Filter by job title",
      "description": "Company People list endpoint now supports the option to filter by job title.",
      "endpoint": "GET /companies/{company_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-people?version=1.0#list-company-people"
     },
     {
      "summary": "Filter by Vendor ID",
      "description": "Company People list endpoint now supports the option to filter by Vendor ID.",
      "endpoint": "GET /companies/{company_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-people?version=1.0#list-company-people"
     },
     {
      "summary": "Filter by Trade ID",
      "description": "Company People list endpoint now supports the option to filter by Trade ID.",
      "endpoint": "GET /companies/{company_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-people?version=1.0#list-company-people"
     },
     {
      "summary": "Added `job_title` attribute to response",
      "description": "job_title attribute is now available in the response for all views of the Company People list endpoint.",
      "endpoint": "GET /companies/{company_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-people?version=1.0#list-company-people"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Person",
    "description": "Create a new Company Person.",
    "tags": [
     "Company People"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). If a valid view is not provided, it will default to normal.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "extended"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Company Person Body",
        "type": "object",
        "required": [
         "person"
        ],
        "properties": {
         "person": {
          "title": "Company Person",
          "type": "object",
          "required": [
           "last_name"
          ],
          "properties": {
           "first_name": {
            "type": "string",
            "description": "The First Name of the Company Person"
           },
           "last_name": {
            "type": "string",
            "description": "The Last Name of the Company Person"
           },
           "is_employee": {
            "type": "boolean",
            "description": "The Employee status of the Company Person",
            "default": false
           },
           "employee_id": {
            "type": "string",
            "description": "The Employee ID of the Company Person"
           },
           "active": {
            "type": "boolean",
            "description": "The active status of the Company Person"
           },
           "origin_id": {
            "type": "string",
            "description": "The Origin ID of the Company User",
            "example": "OD-3483830-2"
           },
           "job_title": {
            "type": "string",
            "description": "The Job Title of the Company Person",
            "example": "Developer"
           },
           "work_classification_id": {
            "type": "integer",
            "description": "The unique identifier for the work classification of the Company Person.",
            "example": 398438
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "title": "Company Person",
           "description": "The Company Person object.",
           "properties": {
            "contact": {
             "type": "object",
             "description": "The Contact associated with the Company Person. This value is set to NULL for a Reference User.",
             "properties": {
              "is_active": {
               "type": "boolean",
               "description": "The status of the Contact. If this property is set to true, the status of the Contact is active. If this property is set to false, the status of the Contact is inactive."
              },
              "email": {
               "type": "string",
               "description": "The email address of the Contact.",
               "example": "personwithcontact@example.com"
              }
             }
            },
            "employee_id": {
             "type": "string",
             "description": "The employee id of the Company Person.",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "The first name of the Company Person.",
             "example": "Owen"
            },
            "id": {
             "type": "integer",
             "description": "The unique identifier of the Company Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "The employee status of the Company Person. If this property is set to true, the Company Person is an employee.",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "The last name of the Company Person.",
             "example": "Owner"
            },
            "name": {
             "type": "string",
             "description": "The full name of the Company Person.",
             "example": "Owen Owner"
            },
            "user_id": {
             "type": "integer",
             "description": "The unique identifier if this Company Person represents a User. This value is set to NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "user_uuid": {
             "type": "integer",
             "description": "The User UUID for if this Company Person represents a User. This value is set to NULL for a Reference User.",
             "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
             "nullable": true
            },
            "work_classification_id": {
             "type": "integer",
             "description": "The unique identifier for the work classification of the Company Person.",
             "example": 398438,
             "nullable": true
            },
            "origin_id": {
             "type": "string",
             "nullable": true,
             "description": "The Origin ID of the Company User",
             "example": "OD-3483830-2"
            },
            "contact_id": {
             "type": "string",
             "description": "The contact id of the Company Person. This value is set to NULL for a Reference User.",
             "example": "987654321",
             "nullable": true
            },
            "job_title": {
             "type": "string",
             "description": "The job title of the Company Person",
             "example": "Developer"
            }
           }
          },
          {
           "allOf": [
            {
             "type": "object",
             "title": "Company Person Extended",
             "description": "Extended view of the Company Person object."
            },
            {
             "type": "object",
             "title": "Company Person",
             "description": "The Company Person object.",
             "properties": {
              "contact": {
               "type": "object",
               "description": "The Contact associated with the Company Person. This value is set to NULL for a Reference User.",
               "properties": {
                "is_active": {
                 "type": "boolean",
                 "description": "The status of the Contact. If this property is set to true, the status of the Contact is active. If this property is set to false, the status of the Contact is inactive."
                },
                "email": {
                 "type": "string",
                 "description": "The email address of the Contact.",
                 "example": "personwithcontact@example.com"
                }
               }
              },
              "employee_id": {
               "type": "string",
               "description": "The employee id of the Company Person.",
               "example": "123456789",
               "nullable": true
              },
              "first_name": {
               "type": "string",
               "description": "The first name of the Company Person.",
               "example": "Owen"
              },
              "id": {
               "type": "integer",
               "description": "The unique identifier of the Company Person.",
               "example": 381006
              },
              "is_employee": {
               "type": "boolean",
               "description": "The employee status of the Company Person. If this property is set to true, the Company Person is an employee.",
               "example": false,
               "nullable": true
              },
              "last_name": {
               "type": "string",
               "description": "The last name of the Company Person.",
               "example": "Owner"
              },
              "name": {
               "type": "string",
               "description": "The full name of the Company Person.",
               "example": "Owen Owner"
              },
              "user_id": {
               "type": "integer",
               "description": "The unique identifier if this Company Person represents a User. This value is set to NULL for a Reference User.",
               "example": 700215,
               "nullable": true
              },
              "user_uuid": {
               "type": "integer",
               "description": "The User UUID for if this Company Person represents a User. This value is set to NULL for a Reference User.",
               "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
               "nullable": true
              },
              "work_classification_id": {
               "type": "integer",
               "description": "The unique identifier for the work classification of the Company Person.",
               "example": 398438,
               "nullable": true
              },
              "origin_id": {
               "type": "string",
               "nullable": true,
               "description": "The Origin ID of the Company User",
               "example": "OD-3483830-2"
              },
              "contact_id": {
               "type": "string",
               "description": "The contact id of the Company Person. This value is set to NULL for a Reference User.",
               "example": "987654321",
               "nullable": true
              },
              "job_title": {
               "type": "string",
               "description": "The job title of the Company Person",
               "example": "Developer"
              }
             }
            },
            {
             "type": "object",
             "title": "extended view",
             "properties": {
              "vendor": {
               "type": "object",
               "description": "The Vendor associated with the Company Person.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier for the Vendor of the Company Person."
                },
                "name": {
                 "type": "string",
                 "description": "The name of the Vendor associated with the Company Person.",
                 "example": "Owen Construction Co."
                }
               }
              },
              "work_classification": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID",
                 "example": "57869"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the classification",
                 "example": "Driver"
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    person: {\n      first_name: 'string',\n      last_name: 'string',\n      is_employee: false,\n      employee_id: 'string',\n      active: true,\n      origin_id: 'OD-3483830-2',\n      job_title: 'Developer',\n      work_classification_id: 398438\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"person\\\":{\\\"first_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_employee\\\":false,\\\"employee_id\\\":\\\"string\\\",\\\"active\\\":true,\\\"origin_id\\\":\\\"OD-3483830-2\\\",\\\"job_title\\\":\\\"Developer\\\",\\\"work_classification_id\\\":398438}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/people?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people?view=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"person\":{\"first_name\":\"string\",\"last_name\":\"string\",\"is_employee\":false,\"employee_id\":\"string\",\"active\":true,\"origin_id\":\"OD-3483830-2\",\"job_title\":\"Developer\",\"work_classification_id\":398438}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people?view=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"person\\\":{\\\"first_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_employee\\\":false,\\\"employee_id\\\":\\\"string\\\",\\\"active\\\":true,\\\"origin_id\\\":\\\"OD-3483830-2\\\",\\\"job_title\\\":\\\"Developer\\\",\\\"work_classification_id\\\":398438}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Create Company People",
      "description": "Added new endpoint.",
      "endpoint": "POST /companies/{company_id}/people",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-05-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-people?version=1.0#create-company-person"
     },
     {
      "summary": "Added `job_title` to list of allowed attributes for create",
      "description": "job_title attribute is now allowed to be set on creation and is displayed in the response.",
      "endpoint": "POST /companies/{company_id}/people",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-people?version=1.0#create-company-person"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/people/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "ID of the company",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the person",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update company person",
    "description": "Update the specified Company Person.",
    "tags": [
     "Company People"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). If a valid view is not provided, it will default to normal.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "extended"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Company Person Body",
        "type": "object",
        "required": [
         "person"
        ],
        "properties": {
         "person": {
          "title": "Company Person",
          "type": "object",
          "required": [
           "last_name"
          ],
          "properties": {
           "first_name": {
            "type": "string",
            "description": "The First Name of the Company Person"
           },
           "last_name": {
            "type": "string",
            "description": "The Last Name of the Company Person"
           },
           "is_employee": {
            "type": "boolean",
            "description": "The Employee status of the Company Person",
            "default": false
           },
           "employee_id": {
            "type": "string",
            "description": "The Employee ID of the Company Person"
           },
           "active": {
            "type": "boolean",
            "description": "The active status of the Company Person"
           },
           "origin_id": {
            "type": "string",
            "description": "The Origin ID of the Company User",
            "example": "OD-3483830-2"
           },
           "job_title": {
            "type": "string",
            "description": "The Job Title of the Company Person",
            "example": "Developer"
           },
           "work_classification_id": {
            "type": "integer",
            "description": "The unique identifier for the work classification of the Company Person.",
            "example": 398438
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "title": "Company Person",
           "description": "The Company Person object.",
           "properties": {
            "contact": {
             "type": "object",
             "description": "The Contact associated with the Company Person. This value is set to NULL for a Reference User.",
             "properties": {
              "is_active": {
               "type": "boolean",
               "description": "The status of the Contact. If this property is set to true, the status of the Contact is active. If this property is set to false, the status of the Contact is inactive."
              },
              "email": {
               "type": "string",
               "description": "The email address of the Contact.",
               "example": "personwithcontact@example.com"
              }
             }
            },
            "employee_id": {
             "type": "string",
             "description": "The employee id of the Company Person.",
             "example": "123456789",
             "nullable": true
            },
            "first_name": {
             "type": "string",
             "description": "The first name of the Company Person.",
             "example": "Owen"
            },
            "id": {
             "type": "integer",
             "description": "The unique identifier of the Company Person.",
             "example": 381006
            },
            "is_employee": {
             "type": "boolean",
             "description": "The employee status of the Company Person. If this property is set to true, the Company Person is an employee.",
             "example": false,
             "nullable": true
            },
            "last_name": {
             "type": "string",
             "description": "The last name of the Company Person.",
             "example": "Owner"
            },
            "name": {
             "type": "string",
             "description": "The full name of the Company Person.",
             "example": "Owen Owner"
            },
            "user_id": {
             "type": "integer",
             "description": "The unique identifier if this Company Person represents a User. This value is set to NULL for a Reference User.",
             "example": 700215,
             "nullable": true
            },
            "user_uuid": {
             "type": "integer",
             "description": "The User UUID for if this Company Person represents a User. This value is set to NULL for a Reference User.",
             "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
             "nullable": true
            },
            "work_classification_id": {
             "type": "integer",
             "description": "The unique identifier for the work classification of the Company Person.",
             "example": 398438,
             "nullable": true
            },
            "origin_id": {
             "type": "string",
             "nullable": true,
             "description": "The Origin ID of the Company User",
             "example": "OD-3483830-2"
            },
            "contact_id": {
             "type": "string",
             "description": "The contact id of the Company Person. This value is set to NULL for a Reference User.",
             "example": "987654321",
             "nullable": true
            },
            "job_title": {
             "type": "string",
             "description": "The job title of the Company Person",
             "example": "Developer"
            }
           }
          },
          {
           "allOf": [
            {
             "type": "object",
             "title": "Company Person Extended",
             "description": "Extended view of the Company Person object."
            },
            {
             "type": "object",
             "title": "Company Person",
             "description": "The Company Person object.",
             "properties": {
              "contact": {
               "type": "object",
               "description": "The Contact associated with the Company Person. This value is set to NULL for a Reference User.",
               "properties": {
                "is_active": {
                 "type": "boolean",
                 "description": "The status of the Contact. If this property is set to true, the status of the Contact is active. If this property is set to false, the status of the Contact is inactive."
                },
                "email": {
                 "type": "string",
                 "description": "The email address of the Contact.",
                 "example": "personwithcontact@example.com"
                }
               }
              },
              "employee_id": {
               "type": "string",
               "description": "The employee id of the Company Person.",
               "example": "123456789",
               "nullable": true
              },
              "first_name": {
               "type": "string",
               "description": "The first name of the Company Person.",
               "example": "Owen"
              },
              "id": {
               "type": "integer",
               "description": "The unique identifier of the Company Person.",
               "example": 381006
              },
              "is_employee": {
               "type": "boolean",
               "description": "The employee status of the Company Person. If this property is set to true, the Company Person is an employee.",
               "example": false,
               "nullable": true
              },
              "last_name": {
               "type": "string",
               "description": "The last name of the Company Person.",
               "example": "Owner"
              },
              "name": {
               "type": "string",
               "description": "The full name of the Company Person.",
               "example": "Owen Owner"
              },
              "user_id": {
               "type": "integer",
               "description": "The unique identifier if this Company Person represents a User. This value is set to NULL for a Reference User.",
               "example": 700215,
               "nullable": true
              },
              "user_uuid": {
               "type": "integer",
               "description": "The User UUID for if this Company Person represents a User. This value is set to NULL for a Reference User.",
               "example": "e26894a5-41a7-4c14-b202-929bf2d5f95",
               "nullable": true
              },
              "work_classification_id": {
               "type": "integer",
               "description": "The unique identifier for the work classification of the Company Person.",
               "example": 398438,
               "nullable": true
              },
              "origin_id": {
               "type": "string",
               "nullable": true,
               "description": "The Origin ID of the Company User",
               "example": "OD-3483830-2"
              },
              "contact_id": {
               "type": "string",
               "description": "The contact id of the Company Person. This value is set to NULL for a Reference User.",
               "example": "987654321",
               "nullable": true
              },
              "job_title": {
               "type": "string",
               "description": "The job title of the Company Person",
               "example": "Developer"
              }
             }
            },
            {
             "type": "object",
             "title": "extended view",
             "properties": {
              "vendor": {
               "type": "object",
               "description": "The Vendor associated with the Company Person.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier for the Vendor of the Company Person."
                },
                "name": {
                 "type": "string",
                 "description": "The name of the Vendor associated with the Company Person.",
                 "example": "Owen Construction Co."
                }
               }
              },
              "work_classification": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID",
                 "example": "57869"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the classification",
                 "example": "Driver"
                }
               }
              }
             }
            }
           ]
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people/%7Bid%7D',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    person: {\n      first_name: 'string',\n      last_name: 'string',\n      is_employee: false,\n      employee_id: 'string',\n      active: true,\n      origin_id: 'OD-3483830-2',\n      job_title: 'Developer',\n      work_classification_id: 398438\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"person\\\":{\\\"first_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_employee\\\":false,\\\"employee_id\\\":\\\"string\\\",\\\"active\\\":true,\\\"origin_id\\\":\\\"OD-3483830-2\\\",\\\"job_title\\\":\\\"Developer\\\",\\\"work_classification_id\\\":398438}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/people/%7Bid%7D?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people/%7Bid%7D?view=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"person\":{\"first_name\":\"string\",\"last_name\":\"string\",\"is_employee\":false,\"employee_id\":\"string\",\"active\":true,\"origin_id\":\"OD-3483830-2\",\"job_title\":\"Developer\",\"work_classification_id\":398438}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/people/%7Bid%7D?view=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"person\\\":{\\\"first_name\\\":\\\"string\\\",\\\"last_name\\\":\\\"string\\\",\\\"is_employee\\\":false,\\\"employee_id\\\":\\\"string\\\",\\\"active\\\":true,\\\"origin_id\\\":\\\"OD-3483830-2\\\",\\\"job_title\\\":\\\"Developer\\\",\\\"work_classification_id\\\":398438}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added `job_title` to list of allowed attributes for update",
      "description": "job_title attribute is now allowed to be updated on Users and Contacts and is displayed in the response.",
      "endpoint": "PATCH /companies/{company_id}/people/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-people?version=1.0#update-company-person"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}