{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Checklist Templates",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Company Checklist Templates",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/checklist/list_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Checklist Templates",
    "description": "Returns a collection of Company Checklist Templates for a specified Company.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "parameters": [
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[inspection_type_id]",
      "in": "query",
      "description": "Array of Inspection Type IDs. Return item(s) associated with the specified Inspection Type IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 4
       }
      }
     },
     {
      "name": "filters[response_set_id]",
      "in": "query",
      "description": "Array of Item Response Set IDs. Return list template(s) whose items are associated with the given Response Set IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 4
       }
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[trade_id]",
      "in": "query",
      "description": "Trade ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "inspection_type",
        "name",
        "trade"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Company Checklist Templates",
         "items": {
          "title": "Company Checklist Template",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 142
           },
           "name": {
            "type": "string",
            "description": "Name",
            "example": "Window Inspection"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Checklist for windows"
           },
           "inspection_type": {
            "type": "object",
            "title": "Inspection Type",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 142
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Safety Compliance"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of creation",
              "example": "2014-12-10T23:36:30Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update",
              "example": "2014-12-11T04:58:42Z"
             },
             "audit_transaction_timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of audit",
              "example": "2014-12-11T04:58:42Z"
             },
             "source_id": {
              "type": "integer",
              "example": 1,
              "nullable": true
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of deletion",
              "example": "2014-12-11T04:58:42Z",
              "nullable": true
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 388
             },
             "is_deletable": {
              "type": "boolean",
              "description": "Is deletable",
              "example": true
             }
            }
           },
           "trade": {
            "type": "object",
            "title": "Trade",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of creation",
            "example": "2014-12-10T23:36:30Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last update",
            "example": "2014-12-11T04:58:42Z"
           },
           "deletable": {
            "type": "boolean",
            "description": "Deletable",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates',\n  qs: {\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[inspection_type_id]': 'SOME_ARRAY_VALUE',\n    'filters[response_set_id]': 'SOME_ARRAY_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    'filters[trade_id]': 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Binspection_type_id%5D=SOME_ARRAY_VALUE&filters%5Bresponse_set_id%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Btrade_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Binspection_type_id%5D=SOME_ARRAY_VALUE&filters%5Bresponse_set_id%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Btrade_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Binspection_type_id%5D=SOME_ARRAY_VALUE&filters%5Bresponse_set_id%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Btrade_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Checklist Template",
    "description": "Creates a Company Checklist Template for a specified Company.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "ChecklistTemplateBody",
        "type": "object",
        "required": [
         "list_template"
        ],
        "properties": {
         "list_template": {
          "title": "Checklist Template",
          "type": "object",
          "description": "Checklist Template object",
          "properties": {
           "description": {
            "type": "string",
            "description": "Description"
           },
           "inspection_type_id": {
            "type": "integer",
            "description": "The ID of an Inspection Type"
           },
           "alternative_response_set_id": {
            "type": "integer",
            "description": "The ID of an Alternative Response Set",
            "example": 1
           },
           "name": {
            "type": "string",
            "description": "Name"
           },
           "trade_id": {
            "type": "integer",
            "description": "The ID of a Trade"
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Checklist Template's Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "format": "binary"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Company Checklist Template",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Window Inspection"
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Checklist for windows"
            },
            "inspection_type": {
             "type": "object",
             "title": "Inspection Type",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 142
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Safety Compliance"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2014-12-10T23:36:30Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2014-12-11T04:58:42Z"
              }
             }
            },
            "trade": {
             "type": "object",
             "title": "Trade",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "alternative_response_set_id": {
             "type": "integer",
             "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
             "example": 1,
             "nullable": true
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "exampleuser@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "response_set": {
             "title": "ChecklistAlternativeResponseSet",
             "type": "object",
             "properties": {
              "conforming_response": {
               "type": "string",
               "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
               "example": "Safe"
              },
              "deficient_response": {
               "type": "string",
               "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
               "example": "At Risk"
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a response set has been provided by Procore.",
               "example": true
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "Sections",
             "items": {
              "allOf": [
               {
                "title": "Checklist Template Section",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 142
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Fall Protection and Perimeter Protection"
                 },
                 "position": {
                  "type": "integer",
                  "description": "Position",
                  "example": 2
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "items": {
                  "type": "array",
                  "items": {
                   "allOf": [
                    {
                     "title": "Checklist Template Item",
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "ID",
                       "example": 2
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "Item 1"
                      },
                      "section_id": {
                       "type": "integer",
                       "description": "Checklist Template Section ID",
                       "example": 21
                      },
                      "position": {
                       "type": "integer",
                       "description": "Position",
                       "example": 1
                      },
                      "response_set": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "ID of the response set",
                         "example": 83
                        },
                        "name": {
                         "type": "string",
                         "description": "Name of the response set",
                         "example": "Safety Responses"
                        },
                        "responses": {
                         "type": "array",
                         "items": {
                          "title": "ChecklistResponse",
                          "type": "object",
                          "properties": {
                           "id": {
                            "type": "integer",
                            "description": "ID",
                            "example": 1
                           },
                           "name": {
                            "type": "string",
                            "description": "The name of the Response",
                            "example": "Safe - Knowledge"
                           },
                           "corresponding_status": {
                            "type": "string",
                            "description": "Corresponding Checklist Item status",
                            "enum": [
                             "yes",
                             "no",
                             "n/a",
                             "none"
                            ],
                            "example": "yes"
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    }
                   ]
                  }
                 }
                }
               }
              ]
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    list_template: {\n      description: 'string',\n      inspection_type_id: 0,\n      alternative_response_set_id: 1,\n      name: 'string',\n      trade_id: 0\n    },\n    attachments: ['string']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"list_template\\\":{\\\"description\\\":\\\"string\\\",\\\"inspection_type_id\\\":0,\\\"alternative_response_set_id\\\":1,\\\"name\\\":\\\"string\\\",\\\"trade_id\\\":0},\\\"attachments\\\":[\\\"string\\\"]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"list_template\":{\"description\":\"string\",\"inspection_type_id\":0,\"alternative_response_set_id\":1,\"name\":\"string\",\"trade_id\":0},\"attachments\":[\"string\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"list_template\\\":{\\\"description\\\":\\\"string\\\",\\\"inspection_type_id\\\":0,\\\"alternative_response_set_id\\\":1,\\\"name\\\":\\\"string\\\",\\\"trade_id\\\":0},\\\"attachments\\\":[\\\"string\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/checklist/list_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Company Checklist Template ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Checklist Template",
    "description": "Returns the details for a specified Company Checklist Template",
    "tags": [
     "Checklists (Inspections)"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Company Checklist Template",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Window Inspection"
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Checklist for windows"
            },
            "inspection_type": {
             "type": "object",
             "title": "Inspection Type",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 142
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Safety Compliance"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2014-12-10T23:36:30Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2014-12-11T04:58:42Z"
              }
             }
            },
            "trade": {
             "type": "object",
             "title": "Trade",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "alternative_response_set_id": {
             "type": "integer",
             "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
             "example": 12,
             "nullable": true
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "exampleuser@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "response_set": {
             "title": "ChecklistDefaultResponseSet",
             "type": "object",
             "properties": {
              "conforming_response": {
               "type": "string",
               "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
               "example": "Pass"
              },
              "deficient_response": {
               "type": "string",
               "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
               "example": "Fail"
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a response set has been provided by Procore.",
               "example": true
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "Sections",
             "items": {
              "allOf": [
               {
                "title": "Checklist Template Section",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 142
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Fall Protection and Perimeter Protection"
                 },
                 "position": {
                  "type": "integer",
                  "description": "Position",
                  "example": 2
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "items": {
                  "type": "array",
                  "items": {
                   "allOf": [
                    {
                     "title": "Checklist Template Item",
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "ID",
                       "example": 2
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "Item 1"
                      },
                      "section_id": {
                       "type": "integer",
                       "description": "Checklist Template Section ID",
                       "example": 21
                      },
                      "position": {
                       "type": "integer",
                       "description": "Position",
                       "example": 1
                      },
                      "response_set": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "ID of the response set",
                         "example": 83
                        },
                        "name": {
                         "type": "string",
                         "description": "Name of the response set",
                         "example": "Safety Responses"
                        },
                        "responses": {
                         "type": "array",
                         "items": {
                          "title": "ChecklistResponse",
                          "type": "object",
                          "properties": {
                           "id": {
                            "type": "integer",
                            "description": "ID",
                            "example": 1
                           },
                           "name": {
                            "type": "string",
                            "description": "The name of the Response",
                            "example": "Safe - Knowledge"
                           },
                           "corresponding_status": {
                            "type": "string",
                            "description": "Corresponding Checklist Item status",
                            "enum": [
                             "yes",
                             "no",
                             "n/a",
                             "none"
                            ],
                            "example": "yes"
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    }
                   ]
                  }
                 }
                }
               }
              ]
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Company Checklist Template",
    "description": "Updates a Company Checklist Template for a specified Company.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "ChecklistTemplateBody",
        "type": "object",
        "required": [
         "list_template"
        ],
        "properties": {
         "list_template": {
          "title": "Checklist Template",
          "type": "object",
          "description": "Checklist Template object",
          "properties": {
           "description": {
            "type": "string",
            "description": "Description"
           },
           "inspection_type_id": {
            "type": "integer",
            "description": "The ID of an Inspection Type"
           },
           "alternative_response_set_id": {
            "type": "integer",
            "description": "The ID of an Alternative Response Set",
            "example": 1
           },
           "name": {
            "type": "string",
            "description": "Name"
           },
           "trade_id": {
            "type": "integer",
            "description": "The ID of a Trade"
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Checklist Template's Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "format": "binary"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Company Checklist Template",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Window Inspection"
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Checklist for windows"
            },
            "inspection_type": {
             "type": "object",
             "title": "Inspection Type",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 142
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Safety Compliance"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2014-12-10T23:36:30Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2014-12-11T04:58:42Z"
              }
             }
            },
            "trade": {
             "type": "object",
             "title": "Trade",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "alternative_response_set_id": {
             "type": "integer",
             "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
             "example": 1,
             "nullable": true
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "exampleuser@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "response_set": {
             "title": "ChecklistAlternativeResponseSet",
             "type": "object",
             "properties": {
              "conforming_response": {
               "type": "string",
               "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
               "example": "Safe"
              },
              "deficient_response": {
               "type": "string",
               "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
               "example": "At Risk"
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a response set has been provided by Procore.",
               "example": true
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "Sections",
             "items": {
              "allOf": [
               {
                "title": "Checklist Template Section",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 142
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Fall Protection and Perimeter Protection"
                 },
                 "position": {
                  "type": "integer",
                  "description": "Position",
                  "example": 2
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "items": {
                  "type": "array",
                  "items": {
                   "allOf": [
                    {
                     "title": "Checklist Template Item",
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "ID",
                       "example": 2
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "Item 1"
                      },
                      "section_id": {
                       "type": "integer",
                       "description": "Checklist Template Section ID",
                       "example": 21
                      },
                      "position": {
                       "type": "integer",
                       "description": "Position",
                       "example": 1
                      },
                      "response_set": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "ID of the response set",
                         "example": 83
                        },
                        "name": {
                         "type": "string",
                         "description": "Name of the response set",
                         "example": "Safety Responses"
                        },
                        "responses": {
                         "type": "array",
                         "items": {
                          "title": "ChecklistResponse",
                          "type": "object",
                          "properties": {
                           "id": {
                            "type": "integer",
                            "description": "ID",
                            "example": 1
                           },
                           "name": {
                            "type": "string",
                            "description": "The name of the Response",
                            "example": "Safe - Knowledge"
                           },
                           "corresponding_status": {
                            "type": "string",
                            "description": "Corresponding Checklist Item status",
                            "enum": [
                             "yes",
                             "no",
                             "n/a",
                             "none"
                            ],
                            "example": "yes"
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    }
                   ]
                  }
                 }
                }
               }
              ]
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    list_template: {\n      description: 'string',\n      inspection_type_id: 0,\n      alternative_response_set_id: 1,\n      name: 'string',\n      trade_id: 0\n    },\n    attachments: ['string']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"list_template\\\":{\\\"description\\\":\\\"string\\\",\\\"inspection_type_id\\\":0,\\\"alternative_response_set_id\\\":1,\\\"name\\\":\\\"string\\\",\\\"trade_id\\\":0},\\\"attachments\\\":[\\\"string\\\"]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"list_template\":{\"description\":\"string\",\"inspection_type_id\":0,\"alternative_response_set_id\":1,\"name\":\"string\",\"trade_id\":0},\"attachments\":[\"string\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"list_template\\\":{\\\"description\\\":\\\"string\\\",\\\"inspection_type_id\\\":0,\\\"alternative_response_set_id\\\":1,\\\"name\\\":\\\"string\\\",\\\"trade_id\\\":0},\\\"attachments\\\":[\\\"string\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Company Checklist Template",
    "description": "Delete a Company Checklist Template",
    "tags": [
     "Company Checklist Template"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Checklist Template delete endpoint",
      "description": "Delete a Company Checklist Template for a given Company ID.",
      "endpoint": "DELETE /companies/{company_id}/checklist/list_templates/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2020-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-checklist-templates?version=1.0#delete-company-checklist-template"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/checklist/list_templates/{id}/use_alternative_response_set": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Company Checklist Template ID",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Add Company Checklist Template Alternative Response Set",
    "description": "Sets a Company Checklist Template's Response Set to the specified Alternative Response Set.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "alternative_response_set_id"
        ],
        "properties": {
         "alternative_response_set_id": {
          "type": "integer",
          "description": "Alternative Response Set ID",
          "example": 1
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Company Checklist Template",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Window Inspection"
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Checklist for windows"
            },
            "inspection_type": {
             "type": "object",
             "title": "Inspection Type",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 142
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Safety Compliance"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2014-12-10T23:36:30Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2014-12-11T04:58:42Z"
              }
             }
            },
            "trade": {
             "type": "object",
             "title": "Trade",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "alternative_response_set_id": {
             "type": "integer",
             "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
             "example": 1,
             "nullable": true
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "exampleuser@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "response_set": {
             "title": "ChecklistAlternativeResponseSet",
             "type": "object",
             "properties": {
              "conforming_response": {
               "type": "string",
               "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
               "example": "Safe"
              },
              "deficient_response": {
               "type": "string",
               "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
               "example": "At Risk"
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a response set has been provided by Procore.",
               "example": true
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "Sections",
             "items": {
              "allOf": [
               {
                "title": "Checklist Template Section",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 142
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Fall Protection and Perimeter Protection"
                 },
                 "position": {
                  "type": "integer",
                  "description": "Position",
                  "example": 2
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "items": {
                  "type": "array",
                  "items": {
                   "allOf": [
                    {
                     "title": "Checklist Template Item",
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "ID",
                       "example": 2
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "Item 1"
                      },
                      "section_id": {
                       "type": "integer",
                       "description": "Checklist Template Section ID",
                       "example": 21
                      },
                      "position": {
                       "type": "integer",
                       "description": "Position",
                       "example": 1
                      },
                      "response_set": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "ID of the response set",
                         "example": 83
                        },
                        "name": {
                         "type": "string",
                         "description": "Name of the response set",
                         "example": "Safety Responses"
                        },
                        "responses": {
                         "type": "array",
                         "items": {
                          "title": "ChecklistResponse",
                          "type": "object",
                          "properties": {
                           "id": {
                            "type": "integer",
                            "description": "ID",
                            "example": 1
                           },
                           "name": {
                            "type": "string",
                            "description": "The name of the Response",
                            "example": "Safe - Knowledge"
                           },
                           "corresponding_status": {
                            "type": "string",
                            "description": "Corresponding Checklist Item status",
                            "enum": [
                             "yes",
                             "no",
                             "n/a",
                             "none"
                            ],
                            "example": "yes"
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    }
                   ]
                  }
                 }
                }
               }
              ]
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D/use_alternative_response_set',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {alternative_response_set_id: 1},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"alternative_response_set_id\\\":1}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D/use_alternative_response_set\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D/use_alternative_response_set \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"alternative_response_set_id\":1}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D/use_alternative_response_set\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"alternative_response_set_id\\\":1}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/checklist/list_templates/{id}/remove_alternative_response_set": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Company Checklist Template ID",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Remove Company Checklist Template Alternative Response Set",
    "description": "Removes a Company Checklist Template's Alternative Response Set, returning the template to the default Response Set",
    "tags": [
     "Checklists (Inspections)"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Company Checklist Template",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Window Inspection"
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Checklist for windows"
            },
            "inspection_type": {
             "type": "object",
             "title": "Inspection Type",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 142
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Safety Compliance"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2014-12-10T23:36:30Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2014-12-11T04:58:42Z"
              }
             }
            },
            "trade": {
             "type": "object",
             "title": "Trade",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "alternative_response_set_id": {
             "type": "integer",
             "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
             "example": 12,
             "nullable": true
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "exampleuser@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "response_set": {
             "title": "ChecklistDefaultResponseSet",
             "type": "object",
             "properties": {
              "conforming_response": {
               "type": "string",
               "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
               "example": "Pass"
              },
              "deficient_response": {
               "type": "string",
               "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
               "example": "Fail"
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a response set has been provided by Procore.",
               "example": true
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "Sections",
             "items": {
              "allOf": [
               {
                "title": "Checklist Template Section",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 142
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Fall Protection and Perimeter Protection"
                 },
                 "position": {
                  "type": "integer",
                  "description": "Position",
                  "example": 2
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "items": {
                  "type": "array",
                  "items": {
                   "allOf": [
                    {
                     "title": "Checklist Template Item",
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "ID",
                       "example": 2
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "Item 1"
                      },
                      "section_id": {
                       "type": "integer",
                       "description": "Checklist Template Section ID",
                       "example": 21
                      },
                      "position": {
                       "type": "integer",
                       "description": "Position",
                       "example": 1
                      },
                      "response_set": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "ID of the response set",
                         "example": 83
                        },
                        "name": {
                         "type": "string",
                         "description": "Name of the response set",
                         "example": "Safety Responses"
                        },
                        "responses": {
                         "type": "array",
                         "items": {
                          "title": "ChecklistResponse",
                          "type": "object",
                          "properties": {
                           "id": {
                            "type": "integer",
                            "description": "ID",
                            "example": 1
                           },
                           "name": {
                            "type": "string",
                            "description": "The name of the Response",
                            "example": "Safe - Knowledge"
                           },
                           "corresponding_status": {
                            "type": "string",
                            "description": "Corresponding Checklist Item status",
                            "enum": [
                             "yes",
                             "no",
                             "n/a",
                             "none"
                            ],
                            "example": "yes"
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    }
                   ]
                  }
                 }
                }
               }
              ]
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D/remove_alternative_response_set',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D/remove_alternative_response_set\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/checklist/list_templates/%7Bid%7D/remove_alternative_response_set \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
[...]
