{
 "openapi": "3.0.0",
 "info": {
  "title": "Company Action Plan Template Items",
  "x-product-category": "Project Management",
  "x-tool-category": "Action Plans",
  "x-resource-name": "Company Action Plan Template Items",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Action Plan Template Items",
    "description": "Gets the list of Company Action Plan Template Items",
    "tags": [
     "Company Action Plan Template Items"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_section_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template Section ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "position",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Company Action Plan Template Items (Index)",
         "items": {
          "type": "object",
          "description": "Company Action Plan Template Item (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the template item.",
            "example": 43584
           },
           "plan_template_item_assignees": {
            "type": "array",
            "description": "Assignees responsible for this template item, rendered in compact view.",
            "items": {
             "type": "object",
             "description": "Company Action Plan Template Item Assignee (Compact)",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the template item assignee.",
               "example": 43584
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the assignee was created. ISO 8601 format.",
               "example": "2018-09-20T21:39:40Z"
              },
              "is_holding": {
               "type": "boolean",
               "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
               "example": true
              },
              "role": {
               "type": "string",
               "description": "Organizational role of the assignee within the inspection workflow.",
               "enum": [
                "contractor",
                "specialty_contractor",
                "client",
                "architect",
                "third_party",
                "internal"
               ],
               "example": "architect"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
               "example": "2018-09-20T21:39:40Z"
              },
              "verification_method": {
               "type": "object",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier of the verification method.",
                 "example": 21
                },
                "active": {
                 "type": "boolean",
                 "description": "Whether this verification method is enabled for selection in template items.",
                 "example": true
                },
                "name": {
                 "type": "string",
                 "description": "Display name of the verification method.",
                 "example": "Hold Point"
                },
                "source_key": {
                 "type": "string",
                 "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
                 "example": "hold_point",
                 "nullable": true
                }
               }
              }
             }
            }
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template item was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "description": {
            "type": "string",
            "description": "Detailed description of the work or inspection activity for this template item.",
            "example": "A New Company Action Plan Template Item Description"
           },
           "holding_type": {
            "type": "string",
            "description": "Scope of the hold point. 'section' holds subsequent items within the same section; 'plan' holds all subsequent items across the entire plan.",
            "enum": [
             "plan",
             "section"
            ],
            "example": "plan"
           },
           "plan_template_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan Template.",
            "example": 43584
           },
           "position": {
            "type": "integer",
            "description": "Ordinal position of this item within its section. Use to determine display order.",
            "example": 3
           },
           "plan_template_section_id": {
            "type": "integer",
            "description": "Unique identifier of the section this template item belongs to.",
            "example": 43584
           },
           "title": {
            "type": "string",
            "description": "Title of the template item describing the inspection or work activity.",
            "example": "A New Company Action Plan Template Item"
           },
           "due_at": {
            "type": "string",
            "format": "date-time",
            "description": "Due date for the template item.",
            "example": "2018-09-25T21:39:40Z",
            "nullable": true
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template item was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_section_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_id]': 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_section_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_section_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_section_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template Item list endpoint",
      "description": "Get a list of Company Action Plan Template Items for a given Company ID.",
      "endpoint": "GET /companies/{company_id}/action_plans/plan_template_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-01-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-items?version=1.0#list-company-action-plan-template-items"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Action Plan Template Item",
    "description": "Creates a Company Action Plan Template Item",
    "tags": [
     "Company Action Plan Template Items"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_item"
        ],
        "properties": {
         "plan_template_item": {
          "type": "object",
          "required": [
           "plan_template_section_id",
           "title"
          ],
          "properties": {
           "plan_template_section_id": {
            "type": "integer",
            "description": "ID of the Company Action Plan Template Section it belongs to",
            "example": 42
           },
           "title": {
            "type": "string",
            "description": "Title",
            "example": "A new ITP Company Plan Template Item"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "A ITP Company Plan Template Item listing work to complete"
           },
           "holding_type": {
            "type": "string",
            "description": "Specifies whether the current item holds all the succeeding items in the Action Plan Section or the Action Plan",
            "enum": [
             "plan",
             "section"
            ],
            "example": "section"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template Item (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the template item.",
           "example": 43584
          },
          "plan_template_item_assignees": {
           "type": "array",
           "description": "Assignees responsible for this template item, rendered in compact view.",
           "items": {
            "type": "object",
            "description": "Company Action Plan Template Item Assignee (Compact)",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the template item assignee.",
              "example": 43584
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the assignee was created. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "is_holding": {
              "type": "boolean",
              "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
              "example": true
             },
             "role": {
              "type": "string",
              "description": "Organizational role of the assignee within the inspection workflow.",
              "enum": [
               "contractor",
               "specialty_contractor",
               "client",
               "architect",
               "third_party",
               "internal"
              ],
              "example": "architect"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "verification_method": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the verification method.",
                "example": 21
               },
               "active": {
                "type": "boolean",
                "description": "Whether this verification method is enabled for selection in template items.",
                "example": true
               },
               "name": {
                "type": "string",
                "description": "Display name of the verification method.",
                "example": "Hold Point"
               },
               "source_key": {
                "type": "string",
                "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
                "example": "hold_point",
                "nullable": true
               }
              }
             }
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template item was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Detailed description of the work or inspection activity for this template item.",
           "example": "A New Company Action Plan Template Item Description"
          },
          "holding_type": {
           "type": "string",
           "description": "Scope of the hold point. 'section' holds subsequent items within the same section; 'plan' holds all subsequent items across the entire plan.",
           "enum": [
            "plan",
            "section"
           ],
           "example": "plan"
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 43584
          },
          "position": {
           "type": "integer",
           "description": "Ordinal position of this item within its section. Use to determine display order.",
           "example": 3
          },
          "plan_template_section_id": {
           "type": "integer",
           "description": "Unique identifier of the section this template item belongs to.",
           "example": 43584
          },
          "title": {
           "type": "string",
           "description": "Title of the template item describing the inspection or work activity.",
           "example": "A New Company Action Plan Template Item"
          },
          "due_at": {
           "type": "string",
           "format": "date-time",
           "description": "Due date for the template item.",
           "example": "2018-09-25T21:39:40Z",
           "nullable": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template item was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template_item: {\n      plan_template_section_id: 42,\n      title: 'A new ITP Company Plan Template Item',\n      description: 'A ITP Company Plan Template Item listing work to complete',\n      holding_type: 'section'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_item\\\":{\\\"plan_template_section_id\\\":42,\\\"title\\\":\\\"A new ITP Company Plan Template Item\\\",\\\"description\\\":\\\"A ITP Company Plan Template Item listing work to complete\\\",\\\"holding_type\\\":\\\"section\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_item\":{\"plan_template_section_id\":42,\"title\":\"A new ITP Company Plan Template Item\",\"description\":\"A ITP Company Plan Template Item listing work to complete\",\"holding_type\":\"section\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items\"),\n    Content = new StringContent(\"{\\\"plan_template_item\\\":{\\\"plan_template_section_id\\\":42,\\\"title\\\":\\\"A new ITP Company Plan Template Item\\\",\\\"description\\\":\\\"A ITP Company Plan Template Item listing work to complete\\\",\\\"holding_type\\\":\\\"section\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template Item create endpoint",
      "description": "Create a Company Action Plan Template Item for a given Company ID.",
      "endpoint": "POST /companies/{company_id}/action_plans/plan_template_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-items?version=1.0#create-company-action-plan-template-item"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_items/create_from_item": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a copy of the Action Plan Template Item in the Item's Section.",
    "description": "Create a copy of the Action Plan Template Item in the Item's Section.",
    "tags": [
     "Company Action Plan Template Items"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_item_id"
        ],
        "properties": {
         "plan_template_item_id": {
          "type": "integer",
          "description": "ID of the Action Plan Template Item to copy from.",
          "example": 4435
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Company Action Plan Template Item (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the template item.",
           "example": 43584
          },
          "plan_template_item_assignees": {
           "type": "array",
           "description": "Assignees responsible for this template item, rendered in compact view.",
           "items": {
            "type": "object",
            "description": "Company Action Plan Template Item Assignee (Compact)",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the template item assignee.",
              "example": 43584
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the assignee was created. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "is_holding": {
              "type": "boolean",
              "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
              "example": true
             },
             "role": {
              "type": "string",
              "description": "Organizational role of the assignee within the inspection workflow.",
              "enum": [
               "contractor",
               "specialty_contractor",
               "client",
               "architect",
               "third_party",
               "internal"
              ],
              "example": "architect"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "verification_method": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the verification method.",
                "example": 21
               },
               "active": {
                "type": "boolean",
                "description": "Whether this verification method is enabled for selection in template items.",
                "example": true
               },
               "name": {
                "type": "string",
                "description": "Display name of the verification method.",
                "example": "Hold Point"
               },
               "source_key": {
                "type": "string",
                "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
                "example": "hold_point",
                "nullable": true
               }
              }
             }
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template item was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Detailed description of the work or inspection activity for this template item.",
           "example": "A New Company Action Plan Template Item Description"
          },
          "holding_type": {
           "type": "string",
           "description": "Scope of the hold point. 'section' holds subsequent items within the same section; 'plan' holds all subsequent items across the entire plan.",
           "enum": [
            "plan",
            "section"
           ],
           "example": "plan"
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 43584
          },
          "position": {
           "type": "integer",
           "description": "Ordinal position of this item within its section. Use to determine display order.",
           "example": 3
          },
          "plan_template_section_id": {
           "type": "integer",
           "description": "Unique identifier of the section this template item belongs to.",
           "example": 43584
          },
          "title": {
           "type": "string",
           "description": "Title of the template item describing the inspection or work activity.",
           "example": "A New Company Action Plan Template Item"
          },
          "due_at": {
           "type": "string",
           "format": "date-time",
           "description": "Due date for the template item.",
           "example": "2018-09-25T21:39:40Z",
           "nullable": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template item was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "errors": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items/create_from_item',\n  headers: {'content-type': 'application/json'},\n  body: {plan_template_item_id: 4435},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_item_id\\\":4435}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items/create_from_item\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items/create_from_item \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_item_id\":4435}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items/create_from_item\"),\n    Content = new StringContent(\"{\\\"plan_template_item_id\\\":4435}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Return 422 when file duplication fails during template item copy",
      "description": "Returns 422 instead of 500 when file duplication fails during template item copy.",
      "endpoint": "POST /companies/{company_id}/action_plans/plan_template_items/create_from_item",
      "type": "fix",
      "breaking": false,
      "datestamp": "2026-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-items?version=1.0#create-a-copy-of-the-action-plan-template-item-in-the-items-section"
     },
     {
      "summary": "Added Company Action Plan Template Items create_from_item endpoint",
      "description": "Added an endpoint to create an Action Plan Template Item from another Action Plan Template Item.",
      "endpoint": "POST /companies/{company_id}/action_plans/plan_template_items/create_from_item",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-10-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-items?version=1.0#create-a-copy-of-the-action-plan-template-item-in-the-items-section"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/recycle_bin/action_plans/plan_template_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Action Plan Template Items",
    "description": "Returns all Recycled Action Plan Template Items for a given company",
    "tags": [
     "Action Plan Template Items"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_section_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template Section ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[plan_template_id]",
      "in": "query",
      "description": "Return item(s) associated with the specified Action Plan Template ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Recycled Action Plan Template Items (Index)",
         "items": {
          "type": "object",
          "description": "Recycled Action Plan Template Item (Show)",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the deleted template item.",
            "example": 43584
           },
           "plan_template_item_assignees": {
            "type": "array",
            "description": "Assignees responsible for this template item, rendered in compact view.",
            "items": {
             "type": "object",
             "description": "Company Action Plan Template Item Assignee (Compact)",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the template item assignee.",
               "example": 43584
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the assignee was created. ISO 8601 format.",
               "example": "2018-09-20T21:39:40Z"
              },
              "is_holding": {
               "type": "boolean",
               "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
               "example": true
              },
              "role": {
               "type": "string",
               "description": "Organizational role of the assignee within the inspection workflow.",
               "enum": [
                "contractor",
                "specialty_contractor",
                "client",
                "architect",
                "third_party",
                "internal"
               ],
               "example": "architect"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
               "example": "2018-09-20T21:39:40Z"
              },
              "verification_method": {
               "type": "object",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier of the verification method.",
                 "example": 21
                },
                "active": {
                 "type": "boolean",
                 "description": "Whether this verification method is enabled for selection in template items.",
                 "example": true
                },
                "name": {
                 "type": "string",
                 "description": "Display name of the verification method.",
                 "example": "Hold Point"
                },
                "source_key": {
                 "type": "string",
                 "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
                 "example": "hold_point",
                 "nullable": true
                }
               }
              }
             }
            }
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template item was created. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template item was moved to the recycle bin. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           },
           "description": {
            "type": "string",
            "description": "Detailed description of the work or inspection activity for this template item.",
            "example": "A New Recycled Action Plan Template Item Description"
           },
           "holding_type": {
            "type": "string",
            "description": "Scope of the hold point. 'section' holds subsequent items within the same section; 'plan' holds all subsequent items across the entire plan.",
            "enum": [
             "plan",
             "section"
            ],
            "example": "plan"
           },
           "plan_template_id": {
            "type": "integer",
            "description": "Unique identifier of the parent Action Plan Template.",
            "example": 43584
           },
           "position": {
            "type": "integer",
            "description": "Ordinal position of this item within its section. Use to determine display order.",
            "example": 3
           },
           "plan_template_section_id": {
            "type": "integer",
            "description": "Unique identifier of the section this template item belongs to.",
            "example": 43584
           },
           "title": {
            "type": "string",
            "description": "Title of the template item describing the inspection or work activity.",
            "example": "A New Recycled Action Plan Template Item"
           },
           "due_at": {
            "type": "string",
            "format": "date-time",
            "description": "Due date for the recycled template item.",
            "example": "2018-09-25T21:39:40Z",
            "nullable": true
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the template item was last modified. ISO 8601 format.",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_items',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_section_id]': 'SOME_ARRAY_VALUE',\n    'filters[plan_template_id]': 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_section_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_section_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_section_id%5D=SOME_ARRAY_VALUE&filters%5Bplan_template_id%5D=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Company Action Plan Template Item list endpoint",
      "description": "Get a list of Recycled Company Action Plan Template Items.",
      "endpoint": "GET /companies/{company_id}/recycle_bin/action_plans/plan_template_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-items?version=1.0#list-recycled-action-plan-template-items"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/recycle_bin/action_plans/plan_template_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Action Plan Template Item ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Action Plan Template Items",
    "description": "Returns a Specific Recycled Action Plan Template Item for a given company",
    "tags": [
     "Action Plan Template Items"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Recycled Action Plan Template Item (Show)",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the deleted template item.",
           "example": 43584
          },
          "plan_template_item_assignees": {
           "type": "array",
           "description": "Assignees responsible for this template item, rendered in compact view.",
           "items": {
            "type": "object",
            "description": "Company Action Plan Template Item Assignee (Compact)",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the template item assignee.",
              "example": 43584
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the assignee was created. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "is_holding": {
              "type": "boolean",
              "description": "Whether this assignee must sign off at a hold point before subsequent work can proceed.",
              "example": true
             },
             "role": {
              "type": "string",
              "description": "Organizational role of the assignee within the inspection workflow.",
              "enum": [
               "contractor",
               "specialty_contractor",
               "client",
               "architect",
               "third_party",
               "internal"
              ],
              "example": "architect"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the assignee was last modified. ISO 8601 format.",
              "example": "2018-09-20T21:39:40Z"
             },
             "verification_method": {
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the verification method.",
                "example": 21
               },
               "active": {
                "type": "boolean",
                "description": "Whether this verification method is enabled for selection in template items.",
                "example": true
               },
               "name": {
                "type": "string",
                "description": "Display name of the verification method.",
                "example": "Hold Point"
               },
               "source_key": {
                "type": "string",
                "description": "System key identifying a built-in verification method. Null for user-created custom methods.",
                "example": "hold_point",
                "nullable": true
               }
              }
             }
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template item was created. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template item was moved to the recycle bin. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Detailed description of the work or inspection activity for this template item.",
           "example": "A New Recycled Action Plan Template Item Description"
          },
          "holding_type": {
           "type": "string",
           "description": "Scope of the hold point. 'section' holds subsequent items within the same section; 'plan' holds all subsequent items across the entire plan.",
           "enum": [
            "plan",
            "section"
           ],
           "example": "plan"
          },
          "plan_template_id": {
           "type": "integer",
           "description": "Unique identifier of the parent Action Plan Template.",
           "example": 43584
          },
          "position": {
           "type": "integer",
           "description": "Ordinal position of this item within its section. Use to determine display order.",
           "example": 3
          },
          "plan_template_section_id": {
           "type": "integer",
           "description": "Unique identifier of the section this template item belongs to.",
           "example": 43584
          },
          "title": {
           "type": "string",
           "description": "Title of the template item describing the inspection or work activity.",
           "example": "A New Recycled Action Plan Template Item"
          },
          "due_at": {
           "type": "string",
           "format": "date-time",
           "description": "Due date for the recycled template item.",
           "example": "2018-09-25T21:39:40Z",
           "nullable": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the template item was last modified. ISO 8601 format.",
           "example": "2018-09-20T21:39:40Z"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_items/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_items/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_items/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/action_plans/plan_template_items/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Company Action Plan Template Item show endpoint",
      "description": "View the details of a Recycled Company Action Plan Template Item.",
      "endpoint": "GET /companies/{company_id}/recycle_bin/action_plans/plan_template_items/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "company-action-plan-template-items?version=1.0#show-recycled-action-plan-template-items"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/action_plans/plan_template_items/bulk_update": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk Update Action Plan Template Item",
    "description": "Updates multiple Action Plan Template Items",
    "tags": [
     "Action Plan Template Items"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_template_items"
        ],
        "properties": {
         "plan_template_items": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "id"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the Action Plan Template Item",
             "example": 43584
            },
            "description": {
             "type": "string",
             "description": "Description of the Action Plan Template Item",
             "example": "Must perform the 2 items for the Action Plan Item"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of update status",
         "items": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "The ID of the Item",
             "example": 123
            },
            "description": {
             "type": "string",
             "description": "Description of the Action Plan Template Item",
             "example": "Must perform the 2 items for the Action Plan Item"
            },
            "status": {
             "type": "string",
             "description": "status of the update on that Item",
             "enum": [
              "success",
              "failure"
             ],
             "example": "success"
            },
            "errors": {
             "type": "object"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Action Plan Items Bulk Update Error",
         "items": {
          "type": "object",
          "required": [
           "id",
           "errors"
          ],
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID of Action Plan Item",
            "example": 43584
           },
           "errors": {
            "type": "object",
            "properties": {
             "title": {
              "type": "array",
              "items": {
               "type": "string",
               "example": "can't be blank"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items/bulk_update',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_template_items: [{id: 43584, description: 'Must perform the 2 items for the Action Plan Item'}]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_template_items\\\":[{\\\"id\\\":43584,\\\"description\\\":\\\"Must perform the 2 items for the Action Plan Item\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items/bulk_update\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items/bulk_update \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_template_items\":[{\"id\":43584,\"description\":\"Must perform the 2 items for the Action Plan Item\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/action_plans/plan_template_items/bulk_update\"),\n    Content = new StringContent(\"{\\\"plan_template_items\\\":[{\\\"id\\\":43584,\\\"description\\\":\\\"Must perform the 2 items for the Action Plan Item\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Company Action Plan Template Items bulk_update endpoint",
      "description": "Added an endpoint to bulk update Action Plan Template Items.",
      "endpoint": "PATCH /companies/{company_id}/action_plans/plan_template_items/bulk_update",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-06-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "company-action-plan-template-items?version=1.0#bulk-update-action-plan-template-item"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}