{
 "openapi": "3.0.0",
 "info": {
  "title": "Configurable Field Sets",
  "x-product-category": "Company Admin",
  "x-tool-category": "Custom - Configurable Tools",
  "x-resource-name": "Configurable Field Sets",
  "version": "2.1",
  "x-product-lines": [
   "Total Quality and Safety Management",
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.1/companies/{company_id}/configurable_field_sets": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Configurable Field Sets",
    "description": "Return a list of all Configurable Field Sets associated with a Company.",
    "tags": [
     "Configurable Field Sets"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filters[type][]",
      "in": "query",
      "description": "Filter by field set type(s). Could be a string or an array of string.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "description": "Configurable Field Set type",
        "example": "ConfigurableFieldSet::Vendor"
       }
      }
     },
     {
      "name": "filters[generic_tool_id][]",
      "in": "query",
      "description": "Filter by generic tool id(s). Could be a integer or an array of integer.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "description": "Generic tool IDs that are associated to the Configurable Field Set",
        "example": 1
       }
      }
     },
     {
      "name": "filters[incident_type_id][]",
      "in": "query",
      "description": "Filter by incident type id(s). Could be an integer or an array of integers.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "description": "Incident type IDs associated to the Configurable Field Set",
        "example": 1
       }
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Specify which view to render. Options are common, extended, mobile, or with_project_ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Configurable Field Sets",
           "items": {
            "type": "object",
            "title": "Configurable Field Set",
            "properties": {
             "id": {
              "type": "string",
              "nullable": true,
              "description": "The unique identifier of the configurable field set.",
              "example": "999"
             },
             "name": {
              "type": "string",
              "nullable": true,
              "description": "The name of the configurable field set.",
              "example": "Observation Fields"
             },
             "type": {
              "type": "string",
              "description": "The type of configurable field set",
              "example": "ConfigurableFieldSet::Observations::Item"
             },
             "category": {
              "type": "string",
              "description": "Specifies the category for the configurable field set if it exists or an empty string. This property was added for the ConfigurableFieldSet::Observations::Item class.",
              "example": "commissioning"
             },
             "class_name": {
              "type": "string",
              "description": "Specifies the class the configurable field set is associated with.",
              "example": "Observations::Item"
             },
             "fields": {
              "type": "object",
              "additionalProperties": true,
              "description": "Specifies the hash of fields on an object. This is for example purposes only.",
              "properties": {
               "field_1": {
                "type": "object",
                "description": "The first Observation Field object.",
                "properties": {
                 "name": {
                  "type": "string",
                  "description": "The name of the field.",
                  "example": "field_1"
                 },
                 "visible": {
                  "type": "boolean",
                  "description": "If this property is set to true, the field is visible. If this property is set to false, the field is not visible.",
                  "example": true
                 },
                 "required": {
                  "type": "boolean",
                  "description": "If this property is set to true, the field is required, if the property is set to false, the field is not required.",
                  "example": true
                 }
                }
               },
               "custom_field_1": {
                "type": "object",
                "description": "Custom Field object for an existing custom field in this configurable field set object.",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "The metadatum identifier of the custom field.",
                  "example": "999"
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the custom field.",
                  "example": "custom_field_1"
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the custom field definition.",
                  "example": "Worked hours"
                 },
                 "description": {
                  "type": "string",
                  "description": "The description of the custom field definition.",
                  "example": "description"
                 },
                 "custom_field_definition_id": {
                  "type": "string",
                  "description": "The definition identifier of the custom field.",
                  "example": "999"
                 },
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the custom field.",
                  "enum": [
                   "string",
                   "number",
                   "boolean",
                   "lov_entry",
                   "lov_entries"
                  ]
                 },
                 "variant": {
                  "type": "string",
                  "description": "The variant type of the custom field.",
                  "enum": [
                   "currency"
                  ]
                 },
                 "position": {
                  "type": "integer",
                  "description": "The display position of the custom field, which is sorted ascending, lowest position is visually the top left of the page on a grid basis (used in conjunction with column_width property to calculate row and column properties).",
                  "example": 999
                 },
                 "required": {
                  "type": "boolean",
                  "description": "If this property is set to true, the custom field is required. If this property is set to false, the custom field is not required.",
                  "example": true
                 },
                 "visible": {
                  "type": "boolean",
                  "description": "If this property is set to true, the custom field is visible. If this property is set to false, the custom field is not visible.",
                  "example": true
                 },
                 "row": {
                  "type": "number",
                  "description": "The number of the row where the custom field is positioned on the form.",
                  "example": 1
                 },
                 "column": {
                  "type": "number",
                  "description": "The number of the column where the custom field is positioned on the form.",
                  "example": 1
                 },
                 "column_width": {
                  "type": "number",
                  "description": "The number of columns the custom field spans on the form.",
                  "example": 3
                 }
                }
               }
              }
             },
             "sections": {
              "type": "array",
              "description": "An array of sections that are used for custom fields.",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "The unique identifier of the section.",
                 "example": "1"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the section.",
                 "example": "Section 1"
                },
                "description": {
                 "type": "string",
                 "description": "The description of the section.",
                 "example": "Project ABC"
                },
                "position": {
                 "type": "integer",
                 "description": "The display position of the section, which is sorted ascending, lowest position is visually the top of the page.",
                 "example": 999
                },
                "from_v1_custom_fields": {
                 "type": "boolean",
                 "description": "If field was migrated from a v1 custom field.",
                 "example": false
                }
               }
              }
             },
             "inspection_type_id": {
              "type": "string",
              "nullable": true,
              "description": "The unique identifier of the inspection type.",
              "example": "1"
             },
             "incident_type_id": {
              "type": "string",
              "nullable": true,
              "description": "The unique identifier of the incident type.",
              "example": "1"
             },
             "generic_tool_id": {
              "type": "string",
              "nullable": true,
              "description": "The unique idenfitier of the generic tool.",
              "example": "1"
             },
             "action_plan_type_id": {
              "type": "string",
              "nullable": true,
              "description": "The unique idenfitier of the action plan type.",
              "example": "1"
             },
             "observations_category_id": {
              "type": "string",
              "nullable": true,
              "description": "The unique identifier of the observations category.",
              "example": "1"
             },
             "has_custom_fields": {
              "type": "boolean",
              "description": "Indicates whether the configurable field set has any custom fields defined.",
              "example": true
             },
             "has_custom_fields_sections": {
              "type": "boolean",
              "description": "Indicates whether the configurable field set has custom fields organized into sections.",
              "example": false
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[type][]': 'SOME_ARRAY_VALUE',\n    'filters[generic_tool_id][]': 'SOME_ARRAY_VALUE',\n    'filters[incident_type_id][]': 'SOME_ARRAY_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Btype%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bgeneric_tool_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bincident_type_id%5D%5B%5D=SOME_ARRAY_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Btype%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bgeneric_tool_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bincident_type_id%5D%5B%5D=SOME_ARRAY_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Btype%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bgeneric_tool_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bincident_type_id%5D%5B%5D=SOME_ARRAY_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Configurable Field Sets",
    "description": "Creates a Configurable Field Set",
    "tags": [
     "Configurable Field Sets"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "configurable_field_set"
        ],
        "properties": {
         "configurable_field_set": {
          "type": "object",
          "nullable": true,
          "required": [
           "name",
           "class_name",
           "fields"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name",
            "example": "Observation Form"
           },
           "class_name": {
            "type": "string",
            "description": "Class Name of the object the Configurable Field Set is applied to",
            "enum": [
             "Observations::Item",
             "PunchItem",
             "Rfi::Header"
            ]
           },
           "fields": {
            "type": "object",
            "description": "All fields that make up the form of the class name.",
            "properties": {
             "field_1": {
              "type": "object",
              "description": "An example of what a field would look like",
              "required": [
               "name",
               "visible"
              ],
              "properties": {
               "name": {
                "type": "string",
                "description": "the name of the field",
                "example": "field_1"
               },
               "visible": {
                "type": "boolean",
                "description": "whether the field is visible or not in the form",
                "example": true
               },
               "required": {
                "type": "boolean",
                "description": "Whether or not the field is required",
                "example": true
               }
              }
             }
            }
           },
           "project_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Project IDs that are associated to the Configurable Field Set",
             "example": 1
            }
           },
           "category": {
            "type": "string",
            "description": "Required and only needed when associating projects for an Observations Configurable Field Set.(0 = quality, 1 = safety, 2 = commissioning, 3 = warranty, 4 = work to complete)",
            "enum": [
             "quality",
             "safety",
             "commissioning",
             "warranty",
             "work_to_complete"
            ]
           },
           "action_plan_type_id": {
            "type": "string",
            "description": "Action Plan Type unique identifier",
            "example": "1"
           },
           "inspection_type_id": {
            "type": "string",
            "description": "Inspection type unique identifier",
            "example": "1"
           },
           "incident_type_id": {
            "type": "string",
            "description": "Incident type unique identifier",
            "example": "1"
           },
           "generic_tool_id": {
            "type": "string",
            "description": "Generic tool unique identifier",
            "example": "1"
           },
           "observations_category_id": {
            "type": "string",
            "nullable": true,
            "description": "The unique identifier of the observations category.",
            "example": "1"
           },
           "company_default": {
            "type": "boolean",
            "description": "If the Configurable Field Set is the company default for new projects",
            "example": true
           },
           "company_configurable_field_set_default_column_name": {
            "type": "string",
            "description": "the column name on CompanyConfigurableFieldSetDefault to set the Configurable Field Set as default to. Only needed if company_default is true.",
            "enum": [
             "commissioning_configurable_field_set",
             "quality_configurable_field_set",
             "safety_configurable_field_set",
             "warranty_configurable_field_set",
             "work_to_complete_configurable_field_set",
             "rfi_configurable_field_set"
            ]
           },
           "schema_id": {
            "type": "string",
            "description": "DO NOT USE - This is a reference to an outside service (schema-service). It is the UUID of the schema that corresponds to this configurable field set in the schema-service. The schema-service will automatically create and save this schema_id in the core app."
           }
          }
         },
         "custom_field_sections": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "example": "1"
            },
            "name": {
             "type": "string"
            },
            "custom_field_definition_ids": {
             "type": "array",
             "items": {
              "type": "integer"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "Configurable Field Set",
           "properties": {
            "id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the configurable field set.",
             "example": "999"
            },
            "name": {
             "type": "string",
             "nullable": true,
             "description": "The name of the configurable field set.",
             "example": "Observation Fields"
            },
            "type": {
             "type": "string",
             "description": "The type of configurable field set",
             "example": "ConfigurableFieldSet::Observations::Item"
            },
            "category": {
             "type": "string",
             "description": "Specifies the category for the configurable field set if it exists or an empty string. This property was added for the ConfigurableFieldSet::Observations::Item class.",
             "example": "commissioning"
            },
            "class_name": {
             "type": "string",
             "description": "Specifies the class the configurable field set is associated with.",
             "example": "Observations::Item"
            },
            "fields": {
             "type": "object",
             "additionalProperties": true,
             "description": "Specifies the hash of fields on an object. This is for example purposes only.",
             "properties": {
              "field_1": {
               "type": "object",
               "description": "The first Observation Field object.",
               "properties": {
                "name": {
                 "type": "string",
                 "description": "The name of the field.",
                 "example": "field_1"
                },
                "visible": {
                 "type": "boolean",
                 "description": "If this property is set to true, the field is visible. If this property is set to false, the field is not visible.",
                 "example": true
                },
                "required": {
                 "type": "boolean",
                 "description": "If this property is set to true, the field is required, if the property is set to false, the field is not required.",
                 "example": true
                }
               }
              },
              "custom_field_1": {
               "type": "object",
               "description": "Custom Field object for an existing custom field in this configurable field set object.",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "The metadatum identifier of the custom field.",
                 "example": "999"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the custom field.",
                 "example": "custom_field_1"
                },
                "company_id": {
                 "type": "string",
                 "description": "The company identifier of the custom field.",
                 "example": "999"
                },
                "label": {
                 "type": "string",
                 "description": "The label of the custom field definition.",
                 "example": "Worked hours"
                },
                "description": {
                 "type": "string",
                 "description": "The description of the custom field definition.",
                 "example": "description"
                },
                "custom_field_definition_id": {
                 "type": "string",
                 "description": "The definition identifier of the custom field.",
                 "example": "999"
                },
                "data_type": {
                 "type": "string",
                 "description": "Data type of the custom field.",
                 "enum": [
                  "string",
                  "number",
                  "boolean",
                  "lov_entry",
                  "lov_entries"
                 ]
                },
                "variant": {
                 "type": "string",
                 "nullable": true,
                 "description": "The variant type of the custom field.",
                 "enum": [
                  "currency",
                  null
                 ]
                },
                "custom_fields_section_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "The section identifier of the custom field.",
                 "example": "999"
                },
                "default_value": {
                 "type": "string",
                 "nullable": true,
                 "description": "The default value of the custom field.",
                 "example": "default_value"
                },
                "host_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "The host type of the custom field.",
                 "example": "Observations::Item"
                },
                "position": {
                 "type": "integer",
                 "description": "The display position of the custom field, which is sorted ascending, lowest position is visually the top left of the page on a grid basis (used in conjunction with column_width property to calculate row and column properties).",
                 "example": 999
                },
                "required": {
                 "type": "boolean",
                 "description": "If this property is set to true, the custom field is required. If this property is set to false, the custom field is not required.",
                 "example": true
                },
                "visible": {
                 "type": "boolean",
                 "description": "If this property is set to true, the custom field is visible. If this property is set to false, the custom field is not visible.",
                 "example": true
                },
                "row": {
                 "type": "number",
                 "description": "The number of the row where the custom field is positioned on the form.",
                 "example": 1
                },
                "column": {
                 "type": "number",
                 "description": "The number of the column where the custom field is positioned on the form.",
                 "example": 1
                },
                "column_width": {
                 "type": "number",
                 "description": "The number of columns the custom field spans on the form.",
                 "example": 3
                }
               }
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "An array of sections that are used for custom fields.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "The unique identifier of the section.",
                "example": "1"
               },
               "name": {
                "type": "string",
                "description": "The name of the section.",
                "example": "Section 1"
               },
               "description": {
                "type": "string",
                "description": "The description of the section.",
                "example": "Project ABC"
               },
               "position": {
                "type": "integer",
                "description": "The display position of the section, which is sorted ascending, lowest position is visually the top of the page.",
                "example": 999
               },
               "from_v1_custom_fields": {
                "type": "boolean",
                "description": "If field was migrated from a v1 custom field.",
                "example": false
               }
              }
             }
            },
            "deletable": {
             "type": "boolean",
             "description": "Deletable status",
             "example": false
            },
            "updated_at": {
             "type": "string",
             "description": "Date updated",
             "format": "date-time",
             "example": "2018-06-09T16:20:57Z"
            },
            "updated_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID",
                 "example": "161072"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "inspection_type_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the inspection type.",
             "example": "1"
            },
            "incident_type_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the incident type.",
             "example": "1"
            },
            "generic_tool_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique idenfitier of the generic tool.",
             "example": "1"
            },
            "action_plan_type_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique idenfitier of the action plan type.",
             "example": "1"
            },
            "observations_category_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the observations category.",
             "example": "1"
            },
            "projects": {
             "type": "array",
             "description": "An array of projects that are associated with the configurable field set.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "The unique identifier of the project.",
                "example": "1"
               },
               "name": {
                "type": "string",
                "description": "The name of the project.",
                "example": "Project ABC"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets',\n  headers: {'content-type': 'application/json'},\n  body: {\n    configurable_field_set: {\n      name: 'Observation Form',\n      class_name: 'Observations::Item',\n      fields: {field_1: {name: 'field_1', visible: true, required: true}},\n      project_ids: [1],\n      category: 'quality',\n      action_plan_type_id: '1',\n      inspection_type_id: '1',\n      incident_type_id: '1',\n      generic_tool_id: '1',\n      observations_category_id: '1',\n      company_default: true,\n      company_configurable_field_set_default_column_name: 'commissioning_configurable_field_set',\n      schema_id: 'string'\n    },\n    custom_field_sections: [{id: '1', name: 'string', custom_field_definition_ids: [0]}]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"configurable_field_set\\\":{\\\"name\\\":\\\"Observation Form\\\",\\\"class_name\\\":\\\"Observations::Item\\\",\\\"fields\\\":{\\\"field_1\\\":{\\\"name\\\":\\\"field_1\\\",\\\"visible\\\":true,\\\"required\\\":true}},\\\"project_ids\\\":[1],\\\"category\\\":\\\"quality\\\",\\\"action_plan_type_id\\\":\\\"1\\\",\\\"inspection_type_id\\\":\\\"1\\\",\\\"incident_type_id\\\":\\\"1\\\",\\\"generic_tool_id\\\":\\\"1\\\",\\\"observations_category_id\\\":\\\"1\\\",\\\"company_default\\\":true,\\\"company_configurable_field_set_default_column_name\\\":\\\"commissioning_configurable_field_set\\\",\\\"schema_id\\\":\\\"string\\\"},\\\"custom_field_sections\\\":[{\\\"id\\\":\\\"1\\\",\\\"name\\\":\\\"string\\\",\\\"custom_field_definition_ids\\\":[0]}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets \\\n  --header 'content-type: application/json' \\\n  --data '{\"configurable_field_set\":{\"name\":\"Observation Form\",\"class_name\":\"Observations::Item\",\"fields\":{\"field_1\":{\"name\":\"field_1\",\"visible\":true,\"required\":true}},\"project_ids\":[1],\"category\":\"quality\",\"action_plan_type_id\":\"1\",\"inspection_type_id\":\"1\",\"incident_type_id\":\"1\",\"generic_tool_id\":\"1\",\"observations_category_id\":\"1\",\"company_default\":true,\"company_configurable_field_set_default_column_name\":\"commissioning_configurable_field_set\",\"schema_id\":\"string\"},\"custom_field_sections\":[{\"id\":\"1\",\"name\":\"string\",\"custom_field_definition_ids\":[0]}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets\"),\n    Content = new StringContent(\"{\\\"configurable_field_set\\\":{\\\"name\\\":\\\"Observation Form\\\",\\\"class_name\\\":\\\"Observations::Item\\\",\\\"fields\\\":{\\\"field_1\\\":{\\\"name\\\":\\\"field_1\\\",\\\"visible\\\":true,\\\"required\\\":true}},\\\"project_ids\\\":[1],\\\"category\\\":\\\"quality\\\",\\\"action_plan_type_id\\\":\\\"1\\\",\\\"inspection_type_id\\\":\\\"1\\\",\\\"incident_type_id\\\":\\\"1\\\",\\\"generic_tool_id\\\":\\\"1\\\",\\\"observations_category_id\\\":\\\"1\\\",\\\"company_default\\\":true,\\\"company_configurable_field_set_default_column_name\\\":\\\"commissioning_configurable_field_set\\\",\\\"schema_id\\\":\\\"string\\\"},\\\"custom_field_sections\\\":[{\\\"id\\\":\\\"1\\\",\\\"name\\\":\\\"string\\\",\\\"custom_field_definition_ids\\\":[0]}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Include conflicting field ids and names on duplicate visible field errors",
      "description": "When create fails because a custom field shares a visible label with a\ndefault field, the 422 `error.details[]` entry for\n`DUPLICATE_VISIBLE_FIELD` now includes an optional `meta` object with\n`default_field_id`, `default_field_name`, `custom_field_id`, and\n`custom_field_name`. The detail `message` now names both fields. Other\nvalidation errors are unchanged and omit `meta`.",
      "endpoint": "POST /companies/{company_id}/configurable_field_sets",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-09",
      "versions": [
       "2.0",
       "2.1"
      ],
      "x-doc": {
       "visibility": "private",
       "stage": "pilot",
       "exposure": "public"
      },
      "link": "configurable-field-sets?version=2.0#create-configurable-field-sets"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/configurable_field_sets/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Configurable Field Set ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Configurable Field Set",
    "description": "Returns the details for a specified Configurable Field Set",
    "tags": [
     "Configurable Field Sets"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "Configurable Field Set",
           "properties": {
            "id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the configurable field set.",
             "example": "999"
            },
            "name": {
             "type": "string",
             "nullable": true,
             "description": "The name of the configurable field set.",
             "example": "Observation Fields"
            },
            "type": {
             "type": "string",
             "description": "The type of configurable field set",
             "example": "ConfigurableFieldSet::Observations::Item"
            },
            "category": {
             "type": "string",
             "description": "Specifies the category for the configurable field set if it exists or an empty string. This property was added for the ConfigurableFieldSet::Observations::Item class.",
             "example": "commissioning"
            },
            "class_name": {
             "type": "string",
             "description": "Specifies the class the configurable field set is associated with.",
             "example": "Observations::Item"
            },
            "fields": {
             "type": "object",
             "additionalProperties": true,
             "description": "Specifies the hash of fields on an object. This is for example purposes only.",
             "properties": {
              "field_1": {
               "type": "object",
               "description": "The first Observation Field object.",
               "properties": {
                "name": {
                 "type": "string",
                 "description": "The name of the field.",
                 "example": "field_1"
                },
                "visible": {
                 "type": "boolean",
                 "description": "If this property is set to true, the field is visible. If this property is set to false, the field is not visible.",
                 "example": true
                },
                "required": {
                 "type": "boolean",
                 "description": "If this property is set to true, the field is required, if the property is set to false, the field is not required.",
                 "example": true
                }
               }
              },
              "custom_field_1": {
               "type": "object",
               "description": "Custom Field object for an existing custom field in this configurable field set object.",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "The metadatum identifier of the custom field.",
                 "example": "999"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the custom field.",
                 "example": "custom_field_1"
                },
                "company_id": {
                 "type": "string",
                 "description": "The company identifier of the custom field.",
                 "example": "999"
                },
                "label": {
                 "type": "string",
                 "description": "The label of the custom field definition.",
                 "example": "Worked hours"
                },
                "description": {
                 "type": "string",
                 "description": "The description of the custom field definition.",
                 "example": "description"
                },
                "custom_field_definition_id": {
                 "type": "string",
                 "description": "The definition identifier of the custom field.",
                 "example": "999"
                },
                "data_type": {
                 "type": "string",
                 "description": "Data type of the custom field.",
                 "enum": [
                  "string",
                  "number",
                  "boolean",
                  "lov_entry",
                  "lov_entries"
                 ]
                },
                "variant": {
                 "type": "string",
                 "nullable": true,
                 "description": "The variant type of the custom field.",
                 "enum": [
                  "currency",
                  null
                 ]
                },
                "custom_fields_section_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "The section identifier of the custom field.",
                 "example": "999"
                },
                "default_value": {
                 "type": "string",
                 "nullable": true,
                 "description": "The default value of the custom field.",
                 "example": "default_value"
                },
                "host_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "The host type of the custom field.",
                 "example": "Observations::Item"
                },
                "position": {
                 "type": "integer",
                 "description": "The display position of the custom field, which is sorted ascending, lowest position is visually the top left of the page on a grid basis (used in conjunction with column_width property to calculate row and column properties).",
                 "example": 999
                },
                "required": {
                 "type": "boolean",
                 "description": "If this property is set to true, the custom field is required. If this property is set to false, the custom field is not required.",
                 "example": true
                },
                "visible": {
                 "type": "boolean",
                 "description": "If this property is set to true, the custom field is visible. If this property is set to false, the custom field is not visible.",
                 "example": true
                },
                "row": {
                 "type": "number",
                 "description": "The number of the row where the custom field is positioned on the form.",
                 "example": 1
                },
                "column": {
                 "type": "number",
                 "description": "The number of the column where the custom field is positioned on the form.",
                 "example": 1
                },
                "column_width": {
                 "type": "number",
                 "description": "The number of columns the custom field spans on the form.",
                 "example": 3
                }
               }
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "An array of sections that are used for custom fields.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "The unique identifier of the section.",
                "example": "1"
               },
               "name": {
                "type": "string",
                "description": "The name of the section.",
                "example": "Section 1"
               },
               "description": {
                "type": "string",
                "description": "The description of the section.",
                "example": "Project ABC"
               },
               "position": {
                "type": "integer",
                "description": "The display position of the section, which is sorted ascending, lowest position is visually the top of the page.",
                "example": 999
               },
               "from_v1_custom_fields": {
                "type": "boolean",
                "description": "If field was migrated from a v1 custom field.",
                "example": false
               }
              }
             }
            },
            "deletable": {
             "type": "boolean",
             "description": "Deletable status",
             "example": false
            },
            "updated_at": {
             "type": "string",
             "description": "Date updated",
             "format": "date-time",
             "example": "2018-06-09T16:20:57Z"
            },
            "updated_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID",
                 "example": "161072"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "inspection_type_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the inspection type.",
             "example": "1"
            },
            "incident_type_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the incident type.",
             "example": "1"
            },
            "generic_tool_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique idenfitier of the generic tool.",
             "example": "1"
            },
            "action_plan_type_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique idenfitier of the action plan type.",
             "example": "1"
            },
            "observations_category_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the observations category.",
             "example": "1"
            },
            "projects": {
             "type": "array",
             "description": "An array of projects that are associated with the configurable field set.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "The unique identifier of the project.",
                "example": "1"
               },
               "name": {
                "type": "string",
                "description": "The name of the project.",
                "example": "Project ABC"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Configurable Field Set",
    "description": "Updates a Configurable Field Set.",
    "tags": [
     "Configurable Field Sets"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "configurable_field_set"
        ],
        "properties": {
         "configurable_field_set": {
          "type": "object",
          "nullable": true,
          "required": [
           "name",
           "fields"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name",
            "example": "Observation Form"
           },
           "fields": {
            "type": "object",
            "description": "All fields that make up the form of the class name.",
            "properties": {
             "field_1": {
              "type": "object",
              "description": "An example of what a field would look like",
              "required": [
               "name",
               "visible"
              ],
              "properties": {
               "name": {
                "type": "string",
                "description": "the name of the field",
                "example": "field_1"
               },
               "visible": {
                "type": "boolean",
                "description": "whether the field is visible or not in the form",
                "example": true
               },
               "required": {
                "type": "boolean",
                "description": "Whether or not the field is required",
                "example": true
               }
              }
             },
             "custom_field_1": {
              "type": "object",
              "description": "Existing Custom Fields to be edited for this Configurable Field Set",
              "properties": {
               "id": {
                "type": "string",
                "description": "Custom Field Metadatum ID",
                "example": "999"
               },
               "name": {
                "type": "string",
                "description": "The name of the Custom Field",
                "example": "custom_field_1"
               },
               "label": {
                "type": "string",
                "description": "The label of the Custom Field Definition",
                "example": "Worked hours"
               },
               "description": {
                "type": "string",
                "description": "The description of the Custom Field Definition",
                "example": "description"
               },
               "custom_field_definition_id": {
                "type": "string",
                "description": "Custom Field Definition ID",
                "example": "999"
               },
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field",
                "enum": [
                 "string",
                 "number",
                 "boolean",
                 "lov_entry",
                 "lov_entries"
                ]
               },
               "position": {
                "type": "integer",
                "description": "The display position of the Custom Field, which is sorted ascending, lowest position is visually the top left of the page on a grid basis (used in conjunction with column_width property to calculate row and column properties).",
                "example": 999
               },
               "required": {
                "type": "boolean",
                "description": "Whether or not the Field is required",
                "example": true
               },
               "visible": {
                "type": "boolean",
                "description": "Whether or not the Custom Field is visible",
                "example": true
               },
               "row": {
                "type": "number",
                "description": "Row the Field is position on the Form",
                "example": 1
               },
               "column": {
                "type": "number",
                "description": "Column the Field is position on the Form",
                "example": 1
               },
               "column_width": {
                "type": "number",
                "description": "How many columns the field spans on the Form",
                "example": 3
               }
              }
             }
            }
           },
           "project_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Project IDs that are associated to the Configurable Field Set",
             "example": 1
            }
           },
           "category": {
            "type": "string",
            "description": "Required and only needed when associating projects for an Observations Configurable Field Set.(0 = quality, 1 = safety, 2 = commissioning, 3 = warranty, 4 = work to complete)",
            "enum": [
             "quality",
             "safety",
             "commissioning",
             "warranty",
             "work_to_complete"
            ]
           },
           "include_all_projects": {
            "type": "boolean",
            "description": "Whether or not all projects selected",
            "example": true
           },
           "schema_id": {
            "type": "string",
            "description": "DO NOT USE - This is a reference to an outside service (schema-service). It is the  UUID of the schema that corresponds to this configurable field set in the schema-service. The schema-service will use this field when forward migrating field sets to schemas."
           }
          }
         },
         "custom_field_sections": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "example": "1"
            },
            "name": {
             "type": "string"
            },
            "custom_field_definition_ids": {
             "type": "array",
             "items": {
              "type": "integer"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "Configurable Field Set",
           "properties": {
            "id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the configurable field set.",
             "example": "999"
            },
            "name": {
             "type": "string",
             "nullable": true,
             "description": "The name of the configurable field set.",
             "example": "Observation Fields"
            },
            "type": {
             "type": "string",
             "description": "The type of configurable field set",
             "example": "ConfigurableFieldSet::Observations::Item"
            },
            "category": {
             "type": "string",
             "description": "Specifies the category for the configurable field set if it exists or an empty string. This property was added for the ConfigurableFieldSet::Observations::Item class.",
             "example": "commissioning"
            },
            "class_name": {
             "type": "string",
             "description": "Specifies the class the configurable field set is associated with.",
             "example": "Observations::Item"
            },
            "fields": {
             "type": "object",
             "additionalProperties": true,
             "description": "Specifies the hash of fields on an object. This is for example purposes only.",
             "properties": {
              "field_1": {
               "type": "object",
               "description": "The first Observation Field object.",
               "properties": {
                "name": {
                 "type": "string",
                 "description": "The name of the field.",
                 "example": "field_1"
                },
                "visible": {
                 "type": "boolean",
                 "description": "If this property is set to true, the field is visible. If this property is set to false, the field is not visible.",
                 "example": true
                },
                "required": {
                 "type": "boolean",
                 "description": "If this property is set to true, the field is required, if the property is set to false, the field is not required.",
                 "example": true
                }
               }
              },
              "custom_field_1": {
               "type": "object",
               "description": "Custom Field object for an existing custom field in this configurable field set object.",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "The metadatum identifier of the custom field.",
                 "example": "999"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the custom field.",
                 "example": "custom_field_1"
                },
                "company_id": {
                 "type": "string",
                 "description": "The company identifier of the custom field.",
                 "example": "999"
                },
                "label": {
                 "type": "string",
                 "description": "The label of the custom field definition.",
                 "example": "Worked hours"
                },
                "description": {
                 "type": "string",
                 "description": "The description of the custom field definition.",
                 "example": "description"
                },
                "custom_field_definition_id": {
                 "type": "string",
                 "description": "The definition identifier of the custom field.",
                 "example": "999"
                },
                "data_type": {
                 "type": "string",
                 "description": "Data type of the custom field.",
                 "enum": [
                  "string",
                  "number",
                  "boolean",
                  "lov_entry",
                  "lov_entries"
                 ]
                },
                "variant": {
                 "type": "string",
                 "nullable": true,
                 "description": "The variant type of the custom field.",
                 "enum": [
                  "currency",
                  null
                 ]
                },
                "custom_fields_section_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "The section identifier of the custom field.",
                 "example": "999"
                },
                "default_value": {
                 "type": "string",
                 "nullable": true,
                 "description": "The default value of the custom field.",
                 "example": "default_value"
                },
                "host_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "The host type of the custom field.",
                 "example": "Observations::Item"
                },
                "position": {
                 "type": "integer",
                 "description": "The display position of the custom field, which is sorted ascending, lowest position is visually the top left of the page on a grid basis (used in conjunction with column_width property to calculate row and column properties).",
                 "example": 999
                },
                "required": {
                 "type": "boolean",
                 "description": "If this property is set to true, the custom field is required. If this property is set to false, the custom field is not required.",
                 "example": true
                },
                "visible": {
                 "type": "boolean",
                 "description": "If this property is set to true, the custom field is visible. If this property is set to false, the custom field is not visible.",
                 "example": true
                },
                "row": {
                 "type": "number",
                 "description": "The number of the row where the custom field is positioned on the form.",
                 "example": 1
                },
                "column": {
                 "type": "number",
                 "description": "The number of the column where the custom field is positioned on the form.",
                 "example": 1
                },
                "column_width": {
                 "type": "number",
                 "description": "The number of columns the custom field spans on the form.",
                 "example": 3
                }
               }
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "An array of sections that are used for custom fields.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "The unique identifier of the section.",
                "example": "1"
               },
               "name": {
                "type": "string",
                "description": "The name of the section.",
                "example": "Section 1"
               },
               "description": {
                "type": "string",
                "description": "The description of the section.",
                "example": "Project ABC"
               },
               "position": {
                "type": "integer",
                "description": "The display position of the section, which is sorted ascending, lowest position is visually the top of the page.",
                "example": 999
               },
               "from_v1_custom_fields": {
                "type": "boolean",
                "description": "If field was migrated from a v1 custom field.",
                "example": false
               }
              }
             }
            },
            "deletable": {
             "type": "boolean",
             "description": "Deletable status",
             "example": false
            },
            "updated_at": {
             "type": "string",
             "description": "Date updated",
             "format": "date-time",
             "example": "2018-06-09T16:20:57Z"
            },
            "updated_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID",
                 "example": "161072"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "inspection_type_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the inspection type.",
             "example": "1"
            },
            "incident_type_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the incident type.",
             "example": "1"
            },
            "generic_tool_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique idenfitier of the generic tool.",
             "example": "1"
            },
            "action_plan_type_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique idenfitier of the action plan type.",
             "example": "1"
            },
            "observations_category_id": {
             "type": "string",
             "nullable": true,
             "description": "The unique identifier of the observations category.",
             "example": "1"
            },
            "projects": {
             "type": "array",
             "description": "An array of projects that are associated with the configurable field set.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "The unique identifier of the project.",
                "example": "1"
               },
               "name": {
                "type": "string",
                "description": "The name of the project.",
                "example": "Project ABC"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    configurable_field_set: {\n      name: 'Observation Form',\n      fields: {\n        field_1: {name: 'field_1', visible: true, required: true},\n        custom_field_1: {\n          id: '999',\n          name: 'custom_field_1',\n          label: 'Worked hours',\n          description: 'description',\n          custom_field_definition_id: '999',\n          data_type: 'string',\n          position: 999,\n          required: true,\n          visible: true,\n          row: 1,\n          column: 1,\n          column_width: 3\n        }\n      },\n      project_ids: [1],\n      category: 'quality',\n      include_all_projects: true,\n      schema_id: 'string'\n    },\n    custom_field_sections: [{id: '1', name: 'string', custom_field_definition_ids: [0]}]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"configurable_field_set\\\":{\\\"name\\\":\\\"Observation Form\\\",\\\"fields\\\":{\\\"field_1\\\":{\\\"name\\\":\\\"field_1\\\",\\\"visible\\\":true,\\\"required\\\":true},\\\"custom_field_1\\\":{\\\"id\\\":\\\"999\\\",\\\"name\\\":\\\"custom_field_1\\\",\\\"label\\\":\\\"Worked hours\\\",\\\"description\\\":\\\"description\\\",\\\"custom_field_definition_id\\\":\\\"999\\\",\\\"data_type\\\":\\\"string\\\",\\\"position\\\":999,\\\"required\\\":true,\\\"visible\\\":true,\\\"row\\\":1,\\\"column\\\":1,\\\"column_width\\\":3}},\\\"project_ids\\\":[1],\\\"category\\\":\\\"quality\\\",\\\"include_all_projects\\\":true,\\\"schema_id\\\":\\\"string\\\"},\\\"custom_field_sections\\\":[{\\\"id\\\":\\\"1\\\",\\\"name\\\":\\\"string\\\",\\\"custom_field_definition_ids\\\":[0]}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"configurable_field_set\":{\"name\":\"Observation Form\",\"fields\":{\"field_1\":{\"name\":\"field_1\",\"visible\":true,\"required\":true},\"custom_field_1\":{\"id\":\"999\",\"name\":\"custom_field_1\",\"label\":\"Worked hours\",\"description\":\"description\",\"custom_field_definition_id\":\"999\",\"data_type\":\"string\",\"position\":999,\"required\":true,\"visible\":true,\"row\":1,\"column\":1,\"column_width\":3}},\"project_ids\":[1],\"category\":\"quality\",\"include_all_projects\":true,\"schema_id\":\"string\"},\"custom_field_sections\":[{\"id\":\"1\",\"name\":\"string\",\"custom_field_definition_ids\":[0]}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/configurable_field_sets/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"configurable_field_set\\\":{\\\"name\\\":\\\"Observation Form\\\",\\\"fields\\\":{\\\"field_1\\\":{\\\"name\\\":\\\"field_1\\\",\\\"visible\\\":true,\\\"required\\\":true},\\\"custom_field_1\\\":{\\\"id\\\":\\\"999\\\",\\\"name\\\":\\\"custom_field_1\\\",\\\"label\\\":\\\"Worked hours\\\",\\\"description\\\":\\\"description\\\",\\\"custom_field_definition_id\\\":\\\"999\\\",\\\"data_type\\\":\\\"string\\\",\\\"position\\\":999,\\\"required\\\":true,\\\"visible\\\":true,\\\"row\\\":1,\\\"column\\\":1,\\\"column_width\\\":3}},\\\"project_ids\\\":[1],\\\"category\\\":\\\"quality\\\",\\\"include_all_projects\\\":true,\\\"schema_id\\\":\\\"string\\\"},\\\"custom_field_sections\\\":[{\\\"id\\\":\\\"1\\\",\\\"name\\\":\\\"string\\\",\\\"custom_field_definition_ids\\\":[0]}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Include conflicting field ids and names on duplicate visible field errors",
      "description": "When update fails because a custom field shares a visible label with a\ndefault field, the 422 `error.details[]` entry for\n`DUPLICATE_VISIBLE_FIELD` now includes an optional `meta` object with\n`default_field_id`, `default_field_name`, `custom_field_id`, and\n`custom_field_name`. The detail `message` now names both fields. Other\nvalidation errors are unchanged and omit `meta`.",
      "endpoint": "PATCH /companies/{company_id}/configurable_field_sets/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-09",
      "versions": [
       "2.0",
       "2.1"
      ],
      "x-doc": {
       "visibility": "private",
       "stage": "pilot",
       "exposure": "public"
      },
      "link": "configurable-field-sets?version=2.0#update-configurable-field-set"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Configurable Field Set",
    "description": "Deletes a Configurable Field Set.",
    "tags": [
     "Configurable Field Sets"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
[...]
