{
 "openapi": "3.0.0",
 "info": {
  "title": "Contract Payments",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Contract Payments",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/contract_payments": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Contract Payments",
    "description": "Return a list of Contract Payments.",
    "tags": [
     "Contract Payments"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "ID of the Contract",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Contract Payments",
         "items": {
          "type": "object",
          "description": "Contract Payment",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this contract payment.",
            "example": 1551516
           },
           "amount": {
            "type": "string",
            "description": "Monetary amount of this payment, as a decimal string.",
            "example": "1000000.0"
           },
           "check_number": {
            "type": "string",
            "description": "Check number associated with this payment, when paid by check.",
            "example": "ABC93759372"
           },
           "contract_id": {
            "type": "integer",
            "description": "Contract ID associated with the payment",
            "example": 1630397
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2015-07-14T22:03:27Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2015-07-14T22:03:27Z"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Payment Date",
            "example": "2015-07-15"
           },
           "date_payment_settled": {
            "type": "string",
            "format": "date-time",
            "description": "Date Payment settled",
            "example": "2022-07-18T22:03:27Z"
           },
           "date_payment_initiated": {
            "type": "string",
            "format": "date-time",
            "description": "Date Payment Initiated",
            "example": "2022-07-18T22:03:27Z"
           },
           "draw_request_number": {
            "type": "integer",
            "description": "Payment number of a Draw Request, Owner Invoice, or Subcontractor Invoice",
            "example": 5
           },
           "external_payment_id": {
            "type": "string",
            "description": "Only payments made through Procore Pay have an external_payment_id",
            "example": "2169c3f0-5ee4-4eec-8e3c-9644db424550"
           },
           "invoice_number": {
            "type": "string",
            "description": "Invoice number",
            "example": "Invoice 123"
           },
           "notes": {
            "type": "string",
            "description": "Associated notes",
            "example": "January Payment"
           },
           "payment_number": {
            "type": "integer",
            "description": "Payment number",
            "example": 5
           },
           "attachments": {
            "type": "array",
            "description": "Payment attachments",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/"
              },
              "filename": {
               "type": "string",
               "description": "Filename",
               "example": "january_receipt_copy.jpg"
              }
             }
            }
           },
           "project_id": {
            "type": "integer",
            "format": "int64",
            "description": "Integer ID for the associated Project",
            "example": 1232
           },
           "requisition_id": {
            "type": "integer",
            "description": "Subcontractor requisition ID",
            "example": 789
           },
           "origin_id": {
            "type": "string",
            "description": "Identifier for this payment in the external/third-party system it originated from.",
            "example": "abc-123"
           },
           "origin_code": {
            "type": "string",
            "description": "Code for this payment in the external/third-party system it originated from.",
            "example": "code-1"
           },
           "origin_data": {
            "type": "string",
            "description": "Additional third-party data captured with this payment.",
            "example": "XYZ-0012"
           },
           "status": {
            "type": "string",
            "description": "Lifecycle status of this payment (for example, unpaid, in_review, approved, processing, paid, rejected, failed).",
            "example": "in_review"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/contract_payments',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    contract_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/contract_payments?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/contract_payments?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/contract_payments?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Contract payments now have external_payment_id for Procore Payments",
      "description": "Procore Payments will have an external_payment_id associated with each payment. Payments made not through\nProcore Pay will not have an external_payment_id",
      "endpoint": "GET /contract_payments",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-05-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "contract-payments?version=1.0#list-contract-payments"
     },
     {
      "summary": "Contract payments now return the contract_id associated with each contract payment",
      "description": "Contract payments endpoints will return the contract_id saved from the creation / update of each contract payment.",
      "endpoint": "GET /contract_payments",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-06-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "contract-payments?version=1.0#list-contract-payments"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Contract Payment",
    "description": "Create a new Contract Payment.",
    "tags": [
     "Contract Payments"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "contract_id"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 66005
         },
         "contract_id": {
          "type": "integer",
          "description": "Contract ID",
          "example": 85302
         },
         "attachments": {
          "type": "array",
          "description": "Contract payment attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string"
          }
         },
         "contract_payment": {
          "title": "Contract Payment",
          "type": "object",
          "description": "Contract Payment object",
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Payment date",
            "example": "2015-09-29"
           },
           "invoice_number": {
            "type": "string",
            "description": "Invoice number",
            "example": "Invoice 123"
           },
           "check_number": {
            "type": "string",
            "description": "Check number",
            "example": "ABC93759372"
           },
           "invoice_date": {
            "type": "string",
            "format": "date",
            "description": "Invoice date",
            "example": "2015-09-20"
           },
           "draw_request_number": {
            "type": "integer",
            "description": "Draw Request number",
            "example": 5
           },
           "notes": {
            "type": "string",
            "description": "Associated notes",
            "example": "January Payment"
           },
           "payment_number": {
            "type": "integer",
            "description": "Payment number",
            "example": 5
           },
           "payment_method": {
            "type": "string",
            "description": "Payment method",
            "example": "credit_card",
            "enum": [
             "check",
             "credit_card",
             "electronic"
            ]
           },
           "amount": {
            "type": "string",
            "description": "Payment amount",
            "example": "1000000.0"
           },
           "origin_id": {
            "type": "string",
            "description": "Contract payment third party ID",
            "example": "abc-123"
           },
           "origin_data": {
            "type": "string",
            "description": "Contract payment third party data",
            "example": "XYZ-0012"
           },
           "requisition_id": {
            "type": "integer",
            "description": "Subcontractor requisition ID",
            "example": 123
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Any prostore files to actualize contract payment's attachments. Mutually exclusive with the `attachments` property.",
            "items": {
             "type": "integer"
            },
            "example": [
             1,
             2,
             3,
             4
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Contract Payment",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this contract payment.",
           "example": 1551516
          },
          "amount": {
           "type": "string",
           "description": "Monetary amount of this payment, as a decimal string.",
           "example": "1000000.0"
          },
          "check_number": {
           "type": "string",
           "description": "Check number associated with this payment, when paid by check.",
           "example": "ABC93759372"
          },
          "contract_id": {
           "type": "integer",
           "description": "Contract ID associated with the payment",
           "example": 1630397
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2015-07-14T22:03:27Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2015-07-14T22:03:27Z"
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Payment Date",
           "example": "2015-07-15"
          },
          "date_payment_settled": {
           "type": "string",
           "format": "date-time",
           "description": "Date Payment settled",
           "example": "2022-07-18T22:03:27Z"
          },
          "date_payment_initiated": {
           "type": "string",
           "format": "date-time",
           "description": "Date Payment Initiated",
           "example": "2022-07-18T22:03:27Z"
          },
          "draw_request_number": {
           "type": "integer",
           "description": "Payment number of a Draw Request, Owner Invoice, or Subcontractor Invoice",
           "example": 5
          },
          "external_payment_id": {
           "type": "string",
           "description": "Only payments made through Procore Pay have an external_payment_id",
           "example": "2169c3f0-5ee4-4eec-8e3c-9644db424550"
          },
          "invoice_number": {
           "type": "string",
           "description": "Invoice number",
           "example": "Invoice 123"
          },
          "notes": {
           "type": "string",
           "description": "Associated notes",
           "example": "January Payment"
          },
          "payment_number": {
           "type": "integer",
           "description": "Payment number",
           "example": 5
          },
          "attachments": {
           "type": "array",
           "description": "Payment attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "project_id": {
           "type": "integer",
           "format": "int64",
           "description": "Integer ID for the associated Project",
           "example": 1232
          },
          "requisition_id": {
           "type": "integer",
           "description": "Subcontractor requisition ID",
           "example": 789
          },
          "origin_id": {
           "type": "string",
           "description": "Identifier for this payment in the external/third-party system it originated from.",
           "example": "abc-123"
          },
          "origin_code": {
           "type": "string",
           "description": "Code for this payment in the external/third-party system it originated from.",
           "example": "code-1"
          },
          "origin_data": {
           "type": "string",
           "description": "Additional third-party data captured with this payment.",
           "example": "XYZ-0012"
          },
          "status": {
           "type": "string",
           "description": "Lifecycle status of this payment (for example, unpaid, in_review, approved, processing, paid, rejected, failed).",
           "example": "in_review"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/contract_payments',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 66005,\n    contract_id: 85302,\n    attachments: ['string'],\n    contract_payment: {\n      date: '2015-09-29',\n      invoice_number: 'Invoice 123',\n      check_number: 'ABC93759372',\n      invoice_date: '2015-09-20',\n      draw_request_number: 5,\n      notes: 'January Payment',\n      payment_number: 5,\n      payment_method: 'credit_card',\n      amount: '1000000.0',\n      origin_id: 'abc-123',\n      origin_data: 'XYZ-0012',\n      requisition_id: 123,\n      prostore_file_ids: [1, 2, 3, 4]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":66005,\\\"contract_id\\\":85302,\\\"attachments\\\":[\\\"string\\\"],\\\"contract_payment\\\":{\\\"date\\\":\\\"2015-09-29\\\",\\\"invoice_number\\\":\\\"Invoice 123\\\",\\\"check_number\\\":\\\"ABC93759372\\\",\\\"invoice_date\\\":\\\"2015-09-20\\\",\\\"draw_request_number\\\":5,\\\"notes\\\":\\\"January Payment\\\",\\\"payment_number\\\":5,\\\"payment_method\\\":\\\"credit_card\\\",\\\"amount\\\":\\\"1000000.0\\\",\\\"origin_id\\\":\\\"abc-123\\\",\\\"origin_data\\\":\\\"XYZ-0012\\\",\\\"requisition_id\\\":123,\\\"prostore_file_ids\\\":[1,2,3,4]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/contract_payments\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/contract_payments \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":66005,\"contract_id\":85302,\"attachments\":[\"string\"],\"contract_payment\":{\"date\":\"2015-09-29\",\"invoice_number\":\"Invoice 123\",\"check_number\":\"ABC93759372\",\"invoice_date\":\"2015-09-20\",\"draw_request_number\":5,\"notes\":\"January Payment\",\"payment_number\":5,\"payment_method\":\"credit_card\",\"amount\":\"1000000.0\",\"origin_id\":\"abc-123\",\"origin_data\":\"XYZ-0012\",\"requisition_id\":123,\"prostore_file_ids\":[1,2,3,4]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/contract_payments\"),\n    Content = new StringContent(\"{\\\"project_id\\\":66005,\\\"contract_id\\\":85302,\\\"attachments\\\":[\\\"string\\\"],\\\"contract_payment\\\":{\\\"date\\\":\\\"2015-09-29\\\",\\\"invoice_number\\\":\\\"Invoice 123\\\",\\\"check_number\\\":\\\"ABC93759372\\\",\\\"invoice_date\\\":\\\"2015-09-20\\\",\\\"draw_request_number\\\":5,\\\"notes\\\":\\\"January Payment\\\",\\\"payment_number\\\":5,\\\"payment_method\\\":\\\"credit_card\\\",\\\"amount\\\":\\\"1000000.0\\\",\\\"origin_id\\\":\\\"abc-123\\\",\\\"origin_data\\\":\\\"XYZ-0012\\\",\\\"requisition_id\\\":123,\\\"prostore_file_ids\\\":[1,2,3,4]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Contract payments now accepts requisition_id as a parameter for create.",
      "description": "Contract payments now accepts requisition_id as a parameter for create (and update).",
      "endpoint": "POST /contract_payments",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-01-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "contract-payments?version=1.0#create-contract-payment"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/contract_payments/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Contract Payment",
    "description": "Return detailed information on the specified Contract Payment.",
    "tags": [
     "Contract Payments"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "ID of the Contract",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Contract Payment",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this contract payment.",
           "example": 1551516
          },
          "amount": {
           "type": "string",
           "description": "Monetary amount of this payment, as a decimal string.",
           "example": "1000000.0"
          },
          "check_number": {
           "type": "string",
           "description": "Check number associated with this payment, when paid by check.",
           "example": "ABC93759372"
          },
          "contract_id": {
           "type": "integer",
           "description": "Contract ID associated with the payment",
           "example": 1630397
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2015-07-14T22:03:27Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2015-07-14T22:03:27Z"
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Payment Date",
           "example": "2015-07-15"
          },
          "date_payment_settled": {
           "type": "string",
           "format": "date-time",
           "description": "Date Payment settled",
           "example": "2022-07-18T22:03:27Z"
          },
          "date_payment_initiated": {
           "type": "string",
           "format": "date-time",
           "description": "Date Payment Initiated",
           "example": "2022-07-18T22:03:27Z"
          },
          "draw_request_number": {
           "type": "integer",
           "description": "Payment number of a Draw Request, Owner Invoice, or Subcontractor Invoice",
           "example": 5
          },
          "external_payment_id": {
           "type": "string",
           "description": "Only payments made through Procore Pay have an external_payment_id",
           "example": "2169c3f0-5ee4-4eec-8e3c-9644db424550"
          },
          "invoice_number": {
           "type": "string",
           "description": "Invoice number",
           "example": "Invoice 123"
          },
          "notes": {
           "type": "string",
           "description": "Associated notes",
           "example": "January Payment"
          },
          "payment_number": {
           "type": "integer",
           "description": "Payment number",
           "example": 5
          },
          "attachments": {
           "type": "array",
           "description": "Payment attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "project_id": {
           "type": "integer",
           "format": "int64",
           "description": "Integer ID for the associated Project",
           "example": 1232
          },
          "requisition_id": {
           "type": "integer",
           "description": "Subcontractor requisition ID",
           "example": 789
          },
          "origin_id": {
           "type": "string",
           "description": "Identifier for this payment in the external/third-party system it originated from.",
           "example": "abc-123"
          },
          "origin_code": {
           "type": "string",
           "description": "Code for this payment in the external/third-party system it originated from.",
           "example": "code-1"
          },
          "origin_data": {
           "type": "string",
           "description": "Additional third-party data captured with this payment.",
           "example": "XYZ-0012"
          },
          "status": {
           "type": "string",
           "description": "Lifecycle status of this payment (for example, unpaid, in_review, approved, processing, paid, rejected, failed).",
           "example": "in_review"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/contract_payments/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', contract_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/contract_payments/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/contract_payments/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/contract_payments/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Contract Payment",
    "description": "Update a Contract Payment. All attributes other than 'attachments', 'origin_id', and 'origin_data' will be locked if the contract payment is synced with an ERP system.",
    "tags": [
     "Contract Payments"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "contract_id"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 66005
         },
         "contract_id": {
          "type": "integer",
          "description": "Contract ID",
          "example": 85302
         },
         "attachments": {
          "type": "array",
          "description": "Contract payment attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string"
          }
         },
         "contract_payment": {
          "title": "Contract Payment",
          "type": "object",
          "description": "Contract Payment object",
          "properties": {
           "date": {
            "type": "string",
            "format": "date",
            "description": "Payment date",
            "example": "2015-09-29"
           },
           "invoice_number": {
            "type": "string",
            "description": "Invoice number",
            "example": "Invoice 123"
           },
           "check_number": {
            "type": "string",
            "description": "Check number",
            "example": "ABC93759372"
           },
           "invoice_date": {
            "type": "string",
            "format": "date",
            "description": "Invoice date",
            "example": "2015-09-20"
           },
           "draw_request_number": {
            "type": "integer",
            "description": "Draw Request number",
            "example": 5
           },
           "notes": {
            "type": "string",
            "description": "Associated notes",
            "example": "January Payment"
           },
           "payment_number": {
            "type": "integer",
            "description": "Payment number",
            "example": 5
           },
           "payment_method": {
            "type": "string",
            "description": "Payment method",
            "example": "credit_card",
            "enum": [
             "check",
             "credit_card",
             "electronic"
            ]
           },
           "amount": {
            "type": "string",
            "description": "Payment amount",
            "example": "1000000.0"
           },
           "origin_id": {
            "type": "string",
            "description": "Contract payment third party ID",
            "example": "abc-123"
           },
           "origin_data": {
            "type": "string",
            "description": "Contract payment third party data",
            "example": "XYZ-0012"
           },
           "requisition_id": {
            "type": "integer",
            "description": "Subcontractor requisition ID",
            "example": 123
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Any prostore files to actualize contract payment's attachments. Mutually exclusive with the `attachments` property.",
            "items": {
             "type": "integer"
            },
            "example": [
             1,
             2,
             3,
             4
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Contract Payment",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this contract payment.",
           "example": 1551516
          },
          "amount": {
           "type": "string",
           "description": "Monetary amount of this payment, as a decimal string.",
           "example": "1000000.0"
          },
          "check_number": {
           "type": "string",
           "description": "Check number associated with this payment, when paid by check.",
           "example": "ABC93759372"
          },
          "contract_id": {
           "type": "integer",
           "description": "Contract ID associated with the payment",
           "example": 1630397
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2015-07-14T22:03:27Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2015-07-14T22:03:27Z"
          },
          "date": {
           "type": "string",
           "format": "date",
           "description": "Payment Date",
           "example": "2015-07-15"
          },
          "date_payment_settled": {
           "type": "string",
           "format": "date-time",
           "description": "Date Payment settled",
           "example": "2022-07-18T22:03:27Z"
          },
          "date_payment_initiated": {
           "type": "string",
           "format": "date-time",
           "description": "Date Payment Initiated",
           "example": "2022-07-18T22:03:27Z"
          },
          "draw_request_number": {
           "type": "integer",
           "description": "Payment number of a Draw Request, Owner Invoice, or Subcontractor Invoice",
           "example": 5
          },
          "external_payment_id": {
           "type": "string",
           "description": "Only payments made through Procore Pay have an external_payment_id",
           "example": "2169c3f0-5ee4-4eec-8e3c-9644db424550"
          },
          "invoice_number": {
           "type": "string",
           "description": "Invoice number",
           "example": "Invoice 123"
          },
          "notes": {
           "type": "string",
           "description": "Associated notes",
           "example": "January Payment"
          },
          "payment_number": {
           "type": "integer",
           "description": "Payment number",
           "example": 5
          },
          "attachments": {
           "type": "array",
           "description": "Payment attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "project_id": {
           "type": "integer",
           "format": "int64",
           "description": "Integer ID for the associated Project",
           "example": 1232
          },
          "requisition_id": {
           "type": "integer",
           "description": "Subcontractor requisition ID",
           "example": 789
          },
          "origin_id": {
           "type": "string",
           "description": "Identifier for this payment in the external/third-party system it originated from.",
           "example": "abc-123"
          },
          "origin_code": {
           "type": "string",
           "description": "Code for this payment in the external/third-party system it originated from.",
           "example": "code-1"
          },
          "origin_data": {
           "type": "string",
           "description": "Additional third-party data captured with this payment.",
           "example": "XYZ-0012"
          },
          "status": {
           "type": "string",
           "description": "Lifecycle status of this payment (for example, unpaid, in_review, approved, processing, paid, rejected, failed).",
           "example": "in_review"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/contract_payments/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 66005,\n    contract_id: 85302,\n    attachments: ['string'],\n    contract_payment: {\n      date: '2015-09-29',\n      invoice_number: 'Invoice 123',\n      check_number: 'ABC93759372',\n      invoice_date: '2015-09-20',\n      draw_request_number: 5,\n      notes: 'January Payment',\n      payment_number: 5,\n      payment_method: 'credit_card',\n      amount: '1000000.0',\n      origin_id: 'abc-123',\n      origin_data: 'XYZ-0012',\n      requisition_id: 123,\n      prostore_file_ids: [1, 2, 3, 4]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":66005,\\\"contract_id\\\":85302,\\\"attachments\\\":[\\\"string\\\"],\\\"contract_payment\\\":{\\\"date\\\":\\\"2015-09-29\\\",\\\"invoice_number\\\":\\\"Invoice 123\\\",\\\"check_number\\\":\\\"ABC93759372\\\",\\\"invoice_date\\\":\\\"2015-09-20\\\",\\\"draw_request_number\\\":5,\\\"notes\\\":\\\"January Payment\\\",\\\"payment_number\\\":5,\\\"payment_method\\\":\\\"credit_card\\\",\\\"amount\\\":\\\"1000000.0\\\",\\\"origin_id\\\":\\\"abc-123\\\",\\\"origin_data\\\":\\\"XYZ-0012\\\",\\\"requisition_id\\\":123,\\\"prostore_file_ids\\\":[1,2,3,4]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/contract_payments/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/contract_payments/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":66005,\"contract_id\":85302,\"attachments\":[\"string\"],\"contract_payment\":{\"date\":\"2015-09-29\",\"invoice_number\":\"Invoice 123\",\"check_number\":\"ABC93759372\",\"invoice_date\":\"2015-09-20\",\"draw_request_number\":5,\"notes\":\"January Payment\",\"payment_number\":5,\"payment_method\":\"credit_card\",\"amount\":\"1000000.0\",\"origin_id\":\"abc-123\",\"origin_data\":\"XYZ-0012\",\"requisition_id\":123,\"prostore_file_ids\":[1,2,3,4]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/contract_payments/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_id\\\":66005,\\\"contract_id\\\":85302,\\\"attachments\\\":[\\\"string\\\"],\\\"contract_payment\\\":{\\\"date\\\":\\\"2015-09-29\\\",\\\"invoice_number\\\":\\\"Invoice 123\\\",\\\"check_number\\\":\\\"ABC93759372\\\",\\\"invoice_date\\\":\\\"2015-09-20\\\",\\\"draw_request_number\\\":5,\\\"notes\\\":\\\"January Payment\\\",\\\"payment_number\\\":5,\\\"payment_method\\\":\\\"credit_card\\\",\\\"amount\\\":\\\"1000000.0\\\",\\\"origin_id\\\":\\\"abc-123\\\",\\\"origin_data\\\":\\\"XYZ-0012\\\",\\\"requisition_id\\\":123,\\\"prostore_file_ids\\\":[1,2,3,4]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Contract Payment",
    "description": "Deletes a specified Contract Payment.",
    "tags": [
     "Contract Payments"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "contract_id",
      "in": "query",
      "description": "ID of the Contract",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/contract_payments/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', contract_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/contract_payments/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/contract_payments/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/contract_payments/%7Bid%7D?project_id=SOME_INTEGER_VALUE&contract_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}