{
 "openapi": "3.1.0",
 "info": {
  "title": "Context",
  "version": "2.0",
  "x-product-category": "Project Management",
  "x-resource-name": "Context",
  "x-tool-category": "Document Markup"
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/contexts/{context_id}": {
   "get": {
    "tags": [
     "context-v-2-controller"
    ],
    "summary": "Get context by ID",
    "description": "Retrieve a specific context by its internal ID",
    "operationId": "getContext",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_id",
      "in": "path",
      "description": "Unique identifier of the context",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "context_type": {
             "type": "string",
             "enum": [
              "document_revision",
              "document_container",
              "FileVersion",
              "folders_attachments",
              "specification_section_revision",
              "drawing_revision"
             ]
            },
            "context_type_id": {
             "type": "string"
            },
            "sub_context_type": {
             "type": "string",
             "enum": [
              "NONE",
              "PIN"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "put": {
    "tags": [
     "context-v-2-controller"
    ],
    "summary": "Update context",
    "description": "Update an existing context",
    "operationId": "updateContext",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_id",
      "in": "path",
      "description": "Unique identifier of the context",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "context_type": {
             "type": "string",
             "enum": [
              "document_revision",
              "document_container",
              "FileVersion",
              "folders_attachments",
              "specification_section_revision",
              "drawing_revision"
             ]
            },
            "context_type_id": {
             "type": "string"
            },
            "sub_context_type": {
             "type": "string",
             "enum": [
              "NONE",
              "PIN"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {name: 'string', settings: {property1: null, property2: null}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "delete": {
    "tags": [
     "context-v-2-controller"
    ],
    "summary": "Delete context by ID",
    "description": "Delete a context and all its associated layers, groups, and markups using context ID.",
    "operationId": "deleteContext",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_id",
      "in": "path",
      "description": "Unique identifier of the context",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "skip_resource_deletion",
      "in": "query",
      "description": "When true, skip deletion of associated resources (markups)",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D',\n  qs: {skip_resource_deletion: 'SOME_BOOLEAN_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D?skip_resource_deletion=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D?skip_resource_deletion=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D?skip_resource_deletion=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/contexts/{context_id}": {
   "get": {
    "tags": [
     "company-context-v-2-controller"
    ],
    "summary": "Get company-level context by ID",
    "description": "Retrieve a specific company-level context by its internal ID",
    "operationId": "getContext_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_id",
      "in": "path",
      "description": "Unique identifier of the context",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "context_type": {
             "type": "string",
             "enum": [
              "document_revision",
              "document_container",
              "FileVersion",
              "folders_attachments",
              "specification_section_revision",
              "drawing_revision"
             ]
            },
            "context_type_id": {
             "type": "string"
            },
            "sub_context_type": {
             "type": "string",
             "enum": [
              "NONE",
              "PIN"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "put": {
    "tags": [
     "company-context-v-2-controller"
    ],
    "summary": "Update company-level context",
    "description": "Update an existing company-level context",
    "operationId": "updateContext_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_id",
      "in": "path",
      "description": "Unique identifier of the context",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "context_type": {
             "type": "string",
             "enum": [
              "document_revision",
              "document_container",
              "FileVersion",
              "folders_attachments",
              "specification_section_revision",
              "drawing_revision"
             ]
            },
            "context_type_id": {
             "type": "string"
            },
            "sub_context_type": {
             "type": "string",
             "enum": [
              "NONE",
              "PIN"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {name: 'string', settings: {property1: null, property2: null}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "delete": {
    "tags": [
     "company-context-v-2-controller"
    ],
    "summary": "Delete company-level context by ID",
    "description": "Delete a company-level context and all its associated layers, groups, and markups.",
    "operationId": "deleteContext_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_id",
      "in": "path",
      "description": "Unique identifier of the context",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "skip_resource_deletion",
      "in": "query",
      "description": "When true, skip deletion of associated resources (markups)",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D',\n  qs: {skip_resource_deletion: 'SOME_BOOLEAN_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D?skip_resource_deletion=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D?skip_resource_deletion=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/%7Bcontext_id%7D?skip_resource_deletion=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/layer_structure": {
   "post": {
    "tags": [
     "context-v-2-controller"
    ],
    "summary": "Get complete layer structure",
    "description": "Retrieve or create the complete hierarchy (contexts -> layers -> groups) by context type.",
    "operationId": "getLayerStructure",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "context_type": {
          "type": "string",
          "enum": [
           "document_revision",
           "document_container",
           "FileVersion",
           "folders_attachments",
           "specification_section_revision",
           "drawing_revision"
          ]
         },
         "context_type_id": {
          "type": "string",
          "minLength": 1
         },
         "sub_context_type": {
          "type": "string",
          "enum": [
           "NONE",
           "PIN"
          ]
         },
         "sub_context_type_id": {
          "type": "string"
         },
         "include_groups": {
          "type": "boolean"
         }
        },
        "required": [
         "context_type",
         "context_type_id"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "context": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string"
              },
              "name": {
               "type": "string"
              },
              "context_type": {
               "type": "string",
               "enum": [
                "document_revision",
                "document_container",
                "FileVersion",
                "folders_attachments",
                "specification_section_revision",
                "drawing_revision"
               ]
              },
              "context_type_id": {
               "type": "string"
              },
              "sub_context_type": {
               "type": "string",
               "enum": [
                "NONE",
                "PIN"
               ]
              },
              "sub_context_type_id": {
               "type": "string"
              },
              "company_id": {
               "type": "string"
              },
              "project_id": {
               "type": "string"
              },
              "created_at": {
               "type": "string",
               "format": "date-time"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time"
              },
              "created_by_id": {
               "type": "string"
              },
              "deleted": {
               "type": "boolean"
              },
              "settings": {
               "type": "object",
               "additionalProperties": {}
              },
              "layers": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string"
                 },
                 "name": {
                  "type": "string"
                 },
                 "type": {
                  "type": "string",
                  "enum": [
                   "PRIVATE",
                   "PUBLIC"
                  ]
                 },
                 "context_id": {
                  "type": "string"
                 },
                 "company_id": {
                  "type": "string"
                 },
                 "project_id": {
                  "type": "string"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time"
                 },
                 "created_by_id": {
                  "type": "string"
                 },
                 "deleted": {
                  "type": "boolean"
                 },
                 "visibility": {
                  "type": "boolean"
                 },
                 "order_index": {
                  "type": "number"
                 },
                 "settings": {
                  "type": "object",
                  "additionalProperties": {}
                 },
                 "groups": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string"
                    },
                    "name": {
                     "type": "string"
                    },
                    "layer_id": {
                     "type": "string"
                    },
                    "company_id": {
                     "type": "string"
                    },
                    "project_id": {
                     "type": "string"
                    },
                    "created_at": {
                     "type": "string",
                     "format": "date-time"
                    },
                    "updated_at": {
                     "type": "string",
                     "format": "date-time"
                    },
                    "created_by_id": {
                     "type": "string"
                    },
                    "deleted": {
                     "type": "boolean"
                    },
                    "visibility": {
                     "type": "boolean"
                    },
                    "order_index": {
                     "type": "number"
                    },
                    "color": {
                     "type": "string"
                    },
                    "settings": {
                     "type": "object",
                     "additionalProperties": {}
                    },
                    "editable": {
                     "type": "boolean"
                    },
                    "allow_delete": {
                     "type": "boolean"
                    },
                    "layer_type": {
                     "type": "string",
                     "enum": [
                      "PRIVATE",
                      "PUBLIC"
                     ]
                    },
                    "sub_context_type_id": {
                     "type": "string"
                    }
                   }
                  }
                 },
                 "editable": {
                  "type": "boolean"
                 }
                }
               }
              }
             }
            },
            "created": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layer_structure',\n  headers: {'content-type': 'application/json'},\n  body: {\n    context_type: 'document_revision',\n    context_type_id: 'string',\n    sub_context_type: 'NONE',\n    sub_context_type_id: 'string',\n    include_groups: true\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"include_groups\\\":true}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layer_structure\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layer_structure \\\n  --header 'content-type: application/json' \\\n  --data '{\"context_type\":\"document_revision\",\"context_type_id\":\"string\",\"sub_context_type\":\"NONE\",\"sub_context_type_id\":\"string\",\"include_groups\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layer_structure\"),\n    Content = new StringContent(\"{\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"include_groups\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/contexts": {
   "post": {
    "tags": [
     "context-v-2-controller"
    ],
    "summary": "Create a new context",
    "description": "Create a new context for organizing layers within a document",
    "operationId": "createContext",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "minLength": 1
         },
         "context_type": {
          "type": "string",
          "enum": [
           "document_revision",
           "document_container",
           "FileVersion",
           "folders_attachments",
           "specification_section_revision",
           "drawing_revision"
          ]
         },
         "context_type_id": {
          "type": "string",
          "minLength": 1
         },
         "sub_context_type": {
          "type": "string",
          "enum": [
           "NONE",
           "PIN"
          ]
         },
         "sub_context_type_id": {
          "type": "string"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        },
        "required": [
         "context_type",
         "context_type_id",
         "name"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "context_type": {
             "type": "string",
             "enum": [
              "document_revision",
              "document_container",
              "FileVersion",
              "folders_attachments",
              "specification_section_revision",
              "drawing_revision"
             ]
            },
            "context_type_id": {
             "type": "string"
            },
            "sub_context_type": {
             "type": "string",
             "enum": [
              "NONE",
              "PIN"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    context_type: 'document_revision',\n    context_type_id: 'string',\n    sub_context_type: 'NONE',\n    sub_context_type_id: 'string',\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"context_type\":\"document_revision\",\"context_type_id\":\"string\",\"sub_context_type\":\"NONE\",\"sub_context_type_id\":\"string\",\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "delete": {
    "tags": [
     "context-v-2-controller"
    ],
    "summary": "Delete context by query parameters",
    "description": "Delete a context and all its associated layers, groups, and markups by query parameters.",
    "operationId": "deleteContextByQuery",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type",
      "in": "query",
      "description": "Context type to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type_id",
      "in": "query",
      "description": "Context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sub_context_type",
      "in": "query",
      "description": "Sub-context type to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sub_context_type_id",
      "in": "query",
      "description": "Sub-context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "skip_resource_deletion",
      "in": "query",
      "description": "When true, skip deletion of associated resources (markups)",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts',\n  qs: {\n    context_type: 'SOME_STRING_VALUE',\n    context_type_id: 'SOME_STRING_VALUE',\n    sub_context_type: 'SOME_STRING_VALUE',\n    sub_context_type_id: 'SOME_STRING_VALUE',\n    skip_resource_deletion: 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts?context_type=SOME_STRING_VALUE&context_type_id=SOME_STRING_VALUE&sub_context_type=SOME_STRING_VALUE&sub_context_type_id=SOME_STRING_VALUE&skip_resource_deletion=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts?context_type=SOME_STRING_VALUE&context_type_id=SOME_STRING_VALUE&sub_context_type=SOME_STRING_VALUE&sub_context_type_id=SOME_STRING_VALUE&skip_resource_deletion=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts?context_type=SOME_STRING_VALUE&context_type_id=SOME_STRING_VALUE&sub_context_type=SOME_STRING_VALUE&sub_context_type_id=SOME_STRING_VALUE&skip_resource_deletion=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/contexts/get_or_create": {
   "post": {
    "tags": [
     "context-v-2-controller"
    ],
    "summary": "Get or create context with hierarchy",
    "description": "Get existing context hierarchy or create a new context with default layers.",
    "operationId": "getOrCreateContextHierarchy",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "minLength": 1
         },
         "context_type": {
          "type": "string",
          "enum": [
           "document_revision",
           "document_container",
           "FileVersion",
           "folders_attachments",
           "specification_section_revision",
           "drawing_revision"
          ]
         },
         "context_type_id": {
          "type": "string",
          "minLength": 1
         },
         "sub_context_type": {
          "type": "string",
          "enum": [
           "NONE",
           "PIN"
          ]
         },
         "sub_context_type_id": {
          "type": "string"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        },
        "required": [
         "context_type",
         "context_type_id",
         "name"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "context": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string"
              },
              "name": {
               "type": "string"
              },
              "context_type": {
               "type": "string",
               "enum": [
                "document_revision",
                "document_container",
                "FileVersion",
                "folders_attachments",
                "specification_section_revision",
                "drawing_revision"
               ]
              },
              "context_type_id": {
               "type": "string"
              },
              "sub_context_type": {
               "type": "string",
               "enum": [
                "NONE",
                "PIN"
               ]
              },
              "sub_context_type_id": {
               "type": "string"
              },
              "company_id": {
               "type": "string"
              },
              "project_id": {
               "type": "string"
              },
              "created_at": {
               "type": "string",
               "format": "date-time"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time"
              },
              "created_by_id": {
               "type": "string"
              },
              "deleted": {
               "type": "boolean"
              },
              "settings": {
               "type": "object",
               "additionalProperties": {}
              },
              "layers": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string"
                 },
                 "name": {
                  "type": "string"
                 },
                 "type": {
                  "type": "string",
                  "enum": [
                   "PRIVATE",
                   "PUBLIC"
                  ]
                 },
                 "context_id": {
                  "type": "string"
                 },
                 "company_id": {
                  "type": "string"
                 },
                 "project_id": {
                  "type": "string"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time"
                 },
                 "created_by_id": {
                  "type": "string"
                 },
                 "deleted": {
                  "type": "boolean"
                 },
                 "visibility": {
                  "type": "boolean"
                 },
                 "order_index": {
                  "type": "number"
                 },
                 "settings": {
                  "type": "object",
                  "additionalProperties": {}
                 },
                 "groups": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string"
                    },
                    "name": {
                     "type": "string"
                    },
                    "layer_id": {
                     "type": "string"
                    },
                    "company_id": {
                     "type": "string"
                    },
                    "project_id": {
                     "type": "string"
                    },
                    "created_at": {
                     "type": "string",
                     "format": "date-time"
                    },
                    "updated_at": {
                     "type": "string",
                     "format": "date-time"
                    },
                    "created_by_id": {
                     "type": "string"
                    },
                    "deleted": {
                     "type": "boolean"
                    },
                    "visibility": {
                     "type": "boolean"
                    },
                    "order_index": {
                     "type": "number"
                    },
                    "color": {
                     "type": "string"
                    },
                    "settings": {
                     "type": "object",
                     "additionalProperties": {}
                    },
                    "editable": {
                     "type": "boolean"
                    },
                    "allow_delete": {
                     "type": "boolean"
                    },
                    "layer_type": {
                     "type": "string",
                     "enum": [
                      "PRIVATE",
                      "PUBLIC"
                     ]
                    },
                    "sub_context_type_id": {
                     "type": "string"
                    }
                   }
                  }
                 },
                 "editable": {
                  "type": "boolean"
                 }
                }
               }
              }
             }
            },
            "created": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/get_or_create',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    context_type: 'document_revision',\n    context_type_id: 'string',\n    sub_context_type: 'NONE',\n    sub_context_type_id: 'string',\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/get_or_create\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/get_or_create \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"context_type\":\"document_revision\",\"context_type_id\":\"string\",\"sub_context_type\":\"NONE\",\"sub_context_type_id\":\"string\",\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/get_or_create\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/layer_structure": {
   "post": {
    "tags": [
     "company-context-v-2-controller"
    ],
    "summary": "Get company-level layer structure",
    "description": "Retrieve or create the complete hierarchy (contexts -> layers -> groups) for a company-level document.",
    "operationId": "getLayerStructure_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "context_type": {
          "type": "string",
          "enum": [
           "document_revision",
           "document_container",
           "FileVersion",
           "folders_attachments",
           "specification_section_revision",
           "drawing_revision"
          ]
         },
         "context_type_id": {
          "type": "string",
          "minLength": 1
         },
         "sub_context_type": {
          "type": "string",
          "enum": [
           "NONE",
           "PIN"
          ]
         },
         "sub_context_type_id": {
          "type": "string"
         },
         "include_groups": {
          "type": "boolean"
         }
        },
        "required": [
         "context_type",
         "context_type_id"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "context": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string"
              },
              "name": {
               "type": "string"
              },
              "context_type": {
               "type": "string",
               "enum": [
                "document_revision",
                "document_container",
                "FileVersion",
                "folders_attachments",
                "specification_section_revision",
                "drawing_revision"
               ]
              },
              "context_type_id": {
               "type": "string"
              },
              "sub_context_type": {
               "type": "string",
               "enum": [
                "NONE",
                "PIN"
               ]
              },
              "sub_context_type_id": {
               "type": "string"
              },
              "company_id": {
               "type": "string"
              },
              "project_id": {
               "type": "string"
              },
              "created_at": {
               "type": "string",
               "format": "date-time"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time"
              },
              "created_by_id": {
               "type": "string"
              },
              "deleted": {
               "type": "boolean"
              },
              "settings": {
               "type": "object",
               "additionalProperties": {}
              },
              "layers": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string"
                 },
                 "name": {
                  "type": "string"
                 },
                 "type": {
                  "type": "string",
                  "enum": [
                   "PRIVATE",
                   "PUBLIC"
                  ]
                 },
                 "context_id": {
                  "type": "string"
                 },
                 "company_id": {
                  "type": "string"
                 },
                 "project_id": {
                  "type": "string"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time"
                 },
                 "created_by_id": {
                  "type": "string"
                 },
                 "deleted": {
                  "type": "boolean"
                 },
                 "visibility": {
                  "type": "boolean"
                 },
                 "order_index": {
                  "type": "number"
                 },
                 "settings": {
                  "type": "object",
                  "additionalProperties": {}
                 },
                 "groups": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string"
                    },
                    "name": {
                     "type": "string"
                    },
                    "layer_id": {
                     "type": "string"
                    },
                    "company_id": {
                     "type": "string"
                    },
                    "project_id": {
                     "type": "string"
                    },
                    "created_at": {
                     "type": "string",
                     "format": "date-time"
                    },
                    "updated_at": {
                     "type": "string",
                     "format": "date-time"
                    },
                    "created_by_id": {
                     "type": "string"
                    },
                    "deleted": {
                     "type": "boolean"
                    },
                    "visibility": {
                     "type": "boolean"
                    },
                    "order_index": {
                     "type": "number"
                    },
                    "color": {
                     "type": "string"
                    },
                    "settings": {
                     "type": "object",
                     "additionalProperties": {}
                    },
                    "editable": {
                     "type": "boolean"
                    },
                    "allow_delete": {
                     "type": "boolean"
                    },
                    "layer_type": {
                     "type": "string",
                     "enum": [
                      "PRIVATE",
                      "PUBLIC"
                     ]
                    },
                    "sub_context_type_id": {
                     "type": "string"
                    }
                   }
                  }
                 },
                 "editable": {
                  "type": "boolean"
                 }
                }
               }
              }
             }
            },
            "created": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/layer_structure',\n  headers: {'content-type': 'application/json'},\n  body: {\n    context_type: 'document_revision',\n    context_type_id: 'string',\n    sub_context_type: 'NONE',\n    sub_context_type_id: 'string',\n    include_groups: true\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"include_groups\\\":true}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/layer_structure\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/layer_structure \\\n  --header 'content-type: application/json' \\\n  --data '{\"context_type\":\"document_revision\",\"context_type_id\":\"string\",\"sub_context_type\":\"NONE\",\"sub_context_type_id\":\"string\",\"include_groups\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/layer_structure\"),\n    Content = new StringContent(\"{\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"include_groups\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/contexts": {
   "post": {
    "tags": [
     "company-context-v-2-controller"
    ],
    "summary": "Create a new company-level context",
    "description": "Create a new context for organizing layers within a company-level document",
    "operationId": "createContext_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "minLength": 1
         },
         "context_type": {
          "type": "string",
          "enum": [
           "document_revision",
           "document_container",
           "FileVersion",
           "folders_attachments",
           "specification_section_revision",
           "drawing_revision"
          ]
         },
         "context_type_id": {
          "type": "string",
          "minLength": 1
         },
         "sub_context_type": {
          "type": "string",
          "enum": [
           "NONE",
           "PIN"
          ]
         },
         "sub_context_type_id": {
          "type": "string"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        },
        "required": [
         "context_type",
         "context_type_id",
         "name"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "context_type": {
             "type": "string",
             "enum": [
              "document_revision",
              "document_container",
              "FileVersion",
              "folders_attachments",
              "specification_section_revision",
              "drawing_revision"
             ]
            },
            "context_type_id": {
             "type": "string"
            },
            "sub_context_type": {
             "type": "string",
             "enum": [
              "NONE",
              "PIN"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    context_type: 'document_revision',\n    context_type_id: 'string',\n    sub_context_type: 'NONE',\n    sub_context_type_id: 'string',\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/contexts\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"context_type\":\"document_revision\",\"context_type_id\":\"string\",\"sub_context_type\":\"NONE\",\"sub_context_type_id\":\"string\",\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/contexts/get_or_create": {
   "post": {
    "tags": [
     "company-context-v-2-controller"
    ],
    "summary": "Get or create company-level context with hierarchy",
    "description": "Get existing company-level context hierarchy or create a new one with default layers.",
    "operationId": "getOrCreateContextHierarchy_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "minLength": 1
         },
         "context_type": {
          "type": "string",
          "enum": [
           "document_revision",
           "document_container",
           "FileVersion",
           "folders_attachments",
           "specification_section_revision",
           "drawing_revision"
          ]
         },
         "context_type_id": {
          "type": "string",
          "minLength": 1
         },
         "sub_context_type": {
          "type": "string",
          "enum": [
           "NONE",
           "PIN"
          ]
         },
         "sub_context_type_id": {
          "type": "string"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        },
        "required": [
         "context_type",
         "context_type_id",
         "name"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "context": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string"
              },
              "name": {
               "type": "string"
              },
              "context_type": {
               "type": "string",
               "enum": [
                "document_revision",
                "document_container",
                "FileVersion",
                "folders_attachments",
                "specification_section_revision",
                "drawing_revision"
               ]
              },
              "context_type_id": {
               "type": "string"
              },
              "sub_context_type": {
               "type": "string",
               "enum": [
                "NONE",
                "PIN"
               ]
              },
              "sub_context_type_id": {
               "type": "string"
              },
              "company_id": {
               "type": "string"
              },
              "project_id": {
               "type": "string"
              },
              "created_at": {
               "type": "string",
               "format": "date-time"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time"
              },
              "created_by_id": {
               "type": "string"
              },
              "deleted": {
               "type": "boolean"
              },
              "settings": {
               "type": "object",
               "additionalProperties": {}
              },
              "layers": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string"
                 },
                 "name": {
                  "type": "string"
                 },
                 "type": {
                  "type": "string",
                  "enum": [
                   "PRIVATE",
                   "PUBLIC"
                  ]
                 },
                 "context_id": {
                  "type": "string"
                 },
                 "company_id": {
                  "type": "string"
                 },
                 "project_id": {
                  "type": "string"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time"
                 },
                 "created_by_id": {
                  "type": "string"
                 },
                 "deleted": {
                  "type": "boolean"
                 },
                 "visibility": {
                  "type": "boolean"
                 },
                 "order_index": {
                  "type": "number"
                 },
                 "settings": {
                  "type": "object",
                  "additionalProperties": {}
                 },
                 "groups": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string"
                    },
                    "name": {
                     "type": "string"
                    },
                    "layer_id": {
                     "type": "string"
                    },
                    "company_id": {
                     "type": "string"
                    },
                    "project_id": {
                     "type": "string"
                    },
                    "created_at": {
                     "type": "string",
                     "format": "date-time"
                    },
                    "updated_at": {
                     "type": "string",
                     "format": "date-time"
                    },
                    "created_by_id": {
                     "type": "string"
                    },
                    "deleted": {
                     "type": "boolean"
                    },
                    "visibility": {
                     "type": "boolean"
                    },
                    "order_index": {
                     "type": "number"
                    },
                    "color": {
                     "type": "string"
                    },
                    "settings": {
                     "type": "object",
                     "additionalProperties": {}
                    },
                    "editable": {
                     "type": "boolean"
                    },
                    "allow_delete": {
                     "type": "boolean"
                    },
                    "layer_type": {
                     "type": "string",
                     "enum": [
                      "PRIVATE",
                      "PUBLIC"
                     ]
                    },
                    "sub_context_type_id": {
                     "type": "string"
                    }
                   }
                  }
                 },
                 "editable": {
                  "type": "boolean"
                 }
                }
               }
              }
             }
            },
            "created": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/get_or_create',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    context_type: 'document_revision',\n    context_type_id: 'string',\n    sub_context_type: 'NONE',\n    sub_context_type_id: 'string',\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/contexts/get_or_create\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/get_or_create \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"context_type\":\"document_revision\",\"context_type_id\":\"string\",\"sub_context_type\":\"NONE\",\"sub_context_type_id\":\"string\",\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/contexts/get_or_create\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"context_type\\\":\\\"document_revision\\\",\\\"context_type_id\\\":\\\"string\\\",\\\"sub_context_type\\\":\\\"NONE\\\",\\\"sub_context_type_id\\\":\\\"string\\\",\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/domains/contexts": {
   "get": {
    "tags": [
     "domain-v-2-controller"
    ],
    "summary": "Get Contexts",
    "description": "Returns all contexts with pagination and filtering.",
    "operationId": "getContextIds",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 5000 for ids_only)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 5000
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "description": "Filter contexts created before this ISO date-time",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Filter by updated_at range in ISO format (start...end)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "JSON array of context IDs to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "description": "Context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "description": "Sub-context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/contexts',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/contexts?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/contexts?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/contexts?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/domains/contexts": {
   "get": {
    "tags": [
     "company-domain-v-2-controller"
    ],
    "summary": "Get company-level Contexts",
    "description": "Returns all company-level contexts with pagination and filtering.",
    "operationId": "getContextIds_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 5000 for ids_only)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 5000
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "description": "Filter contexts created before this ISO date-time",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Filter by updated_at range in ISO format (start...end)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "JSON array of context IDs to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "description": "Context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "description": "Sub-context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/domains/contexts',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/domains/contexts?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/domains/contexts?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/domains/contexts?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/contexts/{context_id}": {
   "get": {
    "tags": [
     "context-controller"
    ],
    "summary": "Get context by ID",
    "description": "Retrieve a specific context by its internal ID",
    "operationId": "getContext_2",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "context_type": {
           "type": "string",
           "enum": [
            "document_revision",
            "document_container",
            "FileVersion",
            "folders_attachments",
            "specification_section_revision",
            "drawing_revision"
           ]
          },
          "context_type_id": {
           "type": "string"
          },
          "sub_context_type": {
           "type": "string",
           "enum": [
            "NONE",
            "PIN"
           ]
          },
          "sub_context_type_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
[...]
