{
 "openapi": "3.0.0",
 "info": {
  "title": "Coordination Issue Activity Feed",
  "x-product-category": "Project Management",
  "x-tool-category": "Coordination Issues",
  "x-resource-name": "Coordination Issue Activity Feed",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/coordination_issue_activities/feed": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Coordination Issue Activity Feed Items",
    "description": "Lists activity feed items in coordination issues associated with the specified project.",
    "tags": [
     "Coordination Issues"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[coordination_issue_id][]",
      "in": "query",
      "description": "Filter item(s) with coordination issues.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[include_deleted]",
      "in": "query",
      "description": "Use 'only' for only deleted resources. Use 'with' for deleted and undeleted resources.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "only",
        "with"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Coordination Issue Activity Feed items listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "anyOf": [
           {
            "type": "object",
            "description": "Coordination Issue Assignment Activity",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the coordination issue activity.",
              "example": 101
             },
             "coordination_issue_id": {
              "type": "integer",
              "description": "Coordination Issue ID",
              "example": 86
             },
             "type": {
              "type": "string",
              "description": "Activity Type",
              "example": "assignment"
             },
             "details": {
              "type": "object",
              "title": "Coordination Issue Assignment Activity Details",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Assignment ID",
                "example": 1
               },
               "old_assignee": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "User ID",
                  "example": 161072
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "new_assignee": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "User ID",
                  "example": 161074
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Peter Plumber"
                 }
                }
               },
               "comment": {
                "type": "object",
                "title": "Comment",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Comment ID",
                  "example": 1
                 },
                 "body": {
                  "type": "string",
                  "description": "The text of the Comment",
                  "example": "This is a photo of a cat"
                 },
                 "creator": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 160586
                   },
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Carl Contractor"
                   }
                  }
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when the comment was created.",
                  "example": "2013-11-08T00:00:00Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Comment update timestamp",
                  "example": "2013-11-08T00:00:00Z"
                 }
                }
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "User ID",
                  "example": 161076
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Bill Bim Manager"
                 }
                }
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-19T09:36:42Z"
             }
            }
           },
           {
            "type": "object",
            "description": "Coordination Issue Comment Activity",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the coordination issue activity.",
              "example": 101
             },
             "coordination_issue_id": {
              "type": "integer",
              "description": "Coordination Issue ID",
              "example": 86
             },
             "type": {
              "type": "string",
              "description": "Activity Type.",
              "example": "comment"
             },
             "details": {
              "type": "object",
              "title": "Comment",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Comment ID",
                "example": 1
               },
               "body": {
                "type": "string",
                "description": "The text of the Comment",
                "example": "This is a photo of a cat"
               },
               "creator": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the comment was created.",
                "example": "2013-11-08T00:00:00Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Comment update timestamp",
                "example": "2013-11-08T00:00:00Z"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-19T09:36:42Z"
             }
            }
           },
           {
            "type": "object",
            "description": "Coordination Issue Creation Activity",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the coordination issue activity.",
              "example": 101
             },
             "coordination_issue_id": {
              "type": "integer",
              "description": "Coordination Issue ID",
              "example": 86
             },
             "type": {
              "type": "string",
              "description": "Activity Type.",
              "example": "creation"
             },
             "details": {
              "type": "object",
              "title": "Coordination Issue Creation Activity Details",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Creation ID",
                "example": 1
               },
               "assignee": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "User ID",
                  "example": 161072
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "User ID",
                  "example": 161072
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-19T09:36:42Z"
             }
            }
           },
           {
            "type": "object",
            "description": "Coordination Issue Status Change Activity",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the coordination issue activity.",
              "example": 101
             },
             "coordination_issue_id": {
              "type": "integer",
              "description": "Coordination Issue ID",
              "example": 86
             },
             "type": {
              "type": "string",
              "description": "Activity Type",
              "example": "status_change"
             },
             "details": {
              "type": "object",
              "description": "Coordination Issue Status Change",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for this status change.",
                "example": 101
               },
               "coordination_issue_id": {
                "type": "integer",
                "description": "ID of the parent Coordination Issue.",
                "example": 123
               },
               "old_status": {
                "type": "string",
                "description": "Value of the status prior to change",
                "example": "open",
                "enum": [
                 "open",
                 "in_progress",
                 "blocked",
                 "unblocked",
                 "ready_for_review",
                 "moved_to_observation",
                 "closed"
                ]
               },
               "new_status": {
                "type": "string",
                "description": "Value of the status following the change",
                "example": "closed",
                "enum": [
                 "open",
                 "in_progress",
                 "blocked",
                 "unblocked",
                 "ready_for_review",
                 "moved_to_observation",
                 "closed"
                ]
               },
               "created_by_id": {
                "type": "integer",
                "description": "ID of the user who made the status change.",
                "example": 577
               },
               "created_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Login email address of the user who made the status change.",
                    "example": "carl.contractor@example.com"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Login Information ID of the user who made the status change.",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "description": "Display name of the user who made the status change.",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               },
               "linked_rfi": {
                "allOf": [
                 {
                  "type": "object",
                  "description": "CoordinationIssue Procore Item Association details",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Unique identifier for this Procore item association.",
                    "example": 101
                   },
                   "coordination_issue_id": {
                    "type": "integer",
                    "description": "ID of the associated Coordination Issue.",
                    "example": 426
                   },
                   "item_id": {
                    "type": "integer",
                    "description": "Id of the associated Procore item",
                    "example": 1287
                   },
                   "item_type": {
                    "type": "string",
                    "description": "Type of the associated Procore item",
                    "example": "rfi"
                   },
                   "item_url": {
                    "type": "string",
                    "description": "Deep-link URL to the associated Procore item",
                    "example": "http://app.procore.com/3664/project/rfi/show/16768"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "item_data": {
                    "type": "object",
                    "description": "This field shows data specific to the associated item. If item type is RFI, it will contain attribute subject, number, and has_official_response",
                    "properties": {
                     "has_official_response": {
                      "type": "boolean",
                      "description": "Whether the associated RFI has an official response.",
                      "example": true
                     },
                     "subject": {
                      "type": "string",
                      "description": "Subject of the associated RFI.",
                      "example": "Construction RFI"
                     },
                     "number": {
                      "type": "string",
                      "description": "Number of the associated RFI.",
                      "example": "84"
                     }
                    }
                   }
                  }
                 }
                ]
               },
               "linked_observation_item": {
                "type": "object",
                "description": "CoordinationIssue linked Observation Item",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 93
                 },
                 "number": {
                  "type": "string",
                  "description": "Observation Item number",
                  "example": "113"
                 },
                 "personal": {
                  "type": "boolean",
                  "description": "Observation Item privacy status",
                  "example": true
                 },
                 "title": {
                  "type": "string",
                  "description": "Formatted Observation Item title",
                  "example": "#113 - Duct and Structural Conflict"
                 },
                 "url": {
                  "type": "string",
                  "description": "Deep-link URL to Observation Item",
                  "example": "http://app.procore.com/3664/project/observations/items/7142"
                 },
                 "created_by_id": {
                  "type": "integer",
                  "description": "ID of user that created the Observation Item",
                  "example": 47531
                 }
                }
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the status change was recorded.",
                "example": "2018-05-08T13:21:20Z"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-19T09:36:42Z"
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/coordination_issue_activities/feed',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[coordination_issue_id][]': 'SOME_ARRAY_VALUE',\n    'filters[include_deleted]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/coordination_issue_activities/feed?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcoordination_issue_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/coordination_issue_activities/feed?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcoordination_issue_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/coordination_issue_activities/feed?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcoordination_issue_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added new attributes to linked_observation_item",
      "description": "Added new attributes personal and created_by_id to linked_observation_item",
      "endpoint": "GET /coordination_issue_activities/feed",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-04-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issue-activity-feed?version=1.0#list-coordination-issue-activity-feed-items"
     },
     {
      "summary": "Added coordination_issue_number to linked_rfi_item",
      "description": "Added new attribute coordination_issue_number to linked_rfi_item",
      "endpoint": "GET /coordination_issue_activities/feed",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issue-activity-feed?version=1.0#list-coordination-issue-activity-feed-items"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}