{
 "openapi": "3.0.0",
 "info": {
  "title": "Coordination Issue Change History",
  "x-product-category": "Project Management",
  "x-tool-category": "Coordination Issues",
  "x-resource-name": "Coordination Issue Change History",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/coordination_issues/{id}/change_history": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Coordination Issue Change History",
    "description": "This endpoint returns the change history for the specified CoordinationIssue. The change history is sorted by most recent first.",
    "tags": [
     "Coordination Issues"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Coordination Issue ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The extended view provides what is shown below.\nThe normal view is the same as the extended view but excludes attribute created_by.\nThe compact view returns ids only.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Change History",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for the change history entry.",
            "example": 101
           },
           "column": {
            "type": "string",
            "description": "Name of the column changed",
            "example": "assignee_id"
           },
           "readable_column": {
            "type": "string",
            "description": "Localized readable name of the column changed",
            "example": "Assignee"
           },
           "old_value": {
            "type": "string",
            "description": "Value of the column before change",
            "example": "The original title",
            "nullable": true
           },
           "new_value": {
            "type": "string",
            "description": "Value of the column after change",
            "example": "The updated title",
            "nullable": true
           },
           "created_by": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "The unique identifier of the user.",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "The email address of the user that is used to log in.",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "The name of the user.",
                "example": "Carl the Contractor"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "company_name": {
                "type": "string",
                "description": "User's Company Name",
                "example": "Company ABC"
               }
              }
             }
            ]
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created date",
            "example": "2018-05-08T13:21:20Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/coordination_issues/%7Bid%7D/change_history',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/coordination_issues/%7Bid%7D/change_history?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/coordination_issues/%7Bid%7D/change_history?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/coordination_issues/%7Bid%7D/change_history?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}