{
 "openapi": "3.0.0",
 "info": {
  "title": "Coordination Issue Viewpoints (REST v2.0)",
  "x-product-category": "Project Management",
  "x-tool-category": "Coordination Issues",
  "x-resource-name": "Coordination Issue Viewpoints",
  "version": "2.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues/{coordination_issue_id}/viewpoints": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "coordination_issue_id",
     "in": "path",
     "required": true,
     "description": "Coordination Issue ID",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "operationId": "listCoordinationIssueViewpoints",
    "tags": [
     "Coordination Issues"
    ],
    "summary": "List coordination issue viewpoints (legacy + Model Manager, REST v2.0)",
    "description": "**GET collection** \u2014 returns every viewpoint mapping on the issue. **Legacy** rows (join has\n`bim_viewpoint_id`) use **`BimViewpointBlueprint`** view **`:procore_v0_1`** \u2014 the **same** shape as\nthe **`viewpoints`** array on the coordination issue resource (`CoordinationIssueBlueprint` view\n`:extended_with_viewpoint_v0_1`): `camera_data`, `sections_data`, `redlines_data`, `snapshot`,\n`bim_file_id`, `uuid`, numeric `id`, etc.\n\n**MM-backed** rows (`viewpoint_uuid` only) are loaded in bulk from Model Manager\n(`POST .../bim/viewpoints/batch`) and appear as full MM viewpoint objects (same shape as\n`GET .../viewpoints/{uuid}` inner `data`).\n\nOrder follows the join table: `position`, then `created_at`. Pagination counts **join rows**, not\nonly legacy viewpoints.\n\nSupports pagination (`page`, `per_page`; default per page **10**, max **100** per\n`Rest::V2::ApplicationController` / `RestV2Pagination`).\n\nResponse headers may include `Per-Page`, `Total`, and `Link` (RFC 5988) for pagination.\n\n**502** if Model Manager returns 5xx while resolving MM-backed rows on this page.\n",
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "ids_only"
       ]
      },
      "description": "When `ids_only`, response body is `{ \"data\": [...] }`: legacy mappings use integer\n`bim_viewpoint_id`; MM-backed mappings use UUID strings. Order matches the full list (`position`,\n`created_at`).\n"
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "primary",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      },
      "description": "When `true`, only mappings marked primary on the issue are returned. When `false`, only non-primary\nmappings. When omitted, all mappings are returned (subject to pagination). Applies to both the full\nlist and `view=ids_only`.\n"
     },
     {
      "name": "included",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "deprecated": true,
      "description": "**Ignored.** The `viewpoint_format` query parameter now controls the response shape.\nWhen `viewpoint_format=v2` (default), all viewpoints are returned in Model Manager shape.\nWhen `viewpoint_format=v1`, all viewpoints are returned in legacy shape.\n"
     },
     {
      "name": "viewpoint_format",
      "in": "query",
      "required": false,
      "description": "Specify the response format for viewpoint data.\nWhen `v1`, all viewpoints (including Model Manager-backed) are returned in legacy shape (`camera_data`, `sections_data`, `redlines_data` as JSON strings). Model Manager viewpoints are transformed to match the legacy BimViewpointBlueprint `:procore_v0_1` structure.\nWhen `v2` (default), all viewpoints (including legacy BimViewpoints) are returned in Model Manager shape (structured `payload` object with nested `camera`, `clipping`, `markup`, `visibility`, `render_mode`). Legacy viewpoints are transformed to match the Model Manager viewpoint response structure.\nIdentity and reference fields (`id`, `uuid`, `scene_id`, `bim_file_id`, `company_id`, `project_id`, etc.) are never transformed \u2014 they pass through as-is from the source record. Fields not present on a source record appear as `null` in the response.",
      "schema": {
       "type": "string",
       "enum": [
        "v1",
        "v2"
       ],
       "default": "v2"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK \u2014 merged viewpoint list or id list when `view=ids_only`",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "Default \u2014 full viewpoint objects in data",
           "description": "Unless `view=ids_only`, each `data[]` element is either a legacy `:procore_v0_1` object or a\nfull Model Manager viewpoint (see nested oneOf on `data.items`).\n",
           "allOf": [
            {
             "title": "Coordination issue viewpoints index \u2014 full objects",
             "type": "object",
             "description": "Viewpoints for the issue in join-table order (`position`, then `created_at`). Pagination applies to\n`bim_viewpoints_coordination_issues` rows. Each element is either a legacy row from\n**`BimViewpointBlueprint`** view **`:procore_v0_1`** (same shape as coordination issue `viewpoints`) or a\nBIM MM `ResponsesViewpointResponse` object (same shape as MM show/batch items).\n",
             "required": [
              "data"
             ],
             "properties": {
              "data": {
               "type": "array",
               "description": "One entry per join row. Use **One Of** below to switch between the legacy blueprint fields and the Model Manager\nviewpoint fields.\n",
               "items": {
                "oneOf": [
                 {
                  "title": "Legacy BimViewpoint (:procore_v0_1)",
                  "type": "object",
                  "description": "Join row with `bim_viewpoint_id`; same fields as coordination issue **`viewpoints`**\n(`BimViewpointBlueprint` **`:procore_v0_1`**).\n",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "bim_viewpoints.id as a string (REST v2 id conventions).",
                    "example": "13053"
                   },
                   "bim_file_id": {
                    "type": "string",
                    "nullable": true,
                    "description": "Linked BIM file id as a string in REST v2 responses."
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time"
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time"
                   },
                   "name": {
                    "type": "string"
                   },
                   "uuid": {
                    "type": "string",
                    "nullable": true,
                    "description": "Viewpoint unique id (same column as unique_id on other serializers); may be null."
                   },
                   "view_folder_id": {
                    "type": "string",
                    "nullable": true
                   },
                   "render_mode": {
                    "type": "string"
                   },
                   "visibility": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": true
                   },
                   "camera_data": {
                    "type": "string",
                    "description": "JSON string; procore_format camera payload."
                   },
                   "sections_data": {
                    "type": "string",
                    "description": "JSON string; clipping planes from procore_format."
                   },
                   "redlines_data": {
                    "type": "string",
                    "description": "JSON string; markup from procore_format."
                   },
                   "snapshot": {
                    "type": "object",
                    "description": "Prostore file metadata or placeholder when no file (BimViewpointBlueprint.serialize_prostore_file).",
                    "additionalProperties": true
                   }
                  },
                  "additionalProperties": true
                 },
                 {
                  "title": "Model Manager viewpoint (ResponsesViewpointResponse)",
                  "type": "object",
                  "description": "Join row with `viewpoint_uuid` only; full MM viewpoint object (same as MM batch/show `data`).\n",
                  "properties": {
                   "id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "248df4b7-aa70-47b8-a036-33ac447e668d"
                   },
                   "company_id": {
                    "type": "string",
                    "example": "598134326349945"
                   },
                   "project_id": {
                    "type": "string",
                    "example": "598134325540867"
                   },
                   "scene_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "019c8ec2-961c-7895-887d-4d41bd2686fd"
                   },
                   "name": {
                    "type": "string",
                    "nullable": true
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time"
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                   },
                   "snapshot_url": {
                    "type": "string",
                    "nullable": true
                   },
                   "created_by": {
                    "type": "object",
                    "nullable": true,
                    "allOf": [
                     {
                      "type": "object",
                      "description": "BIM MM `ResponsesUserInfo`.",
                      "properties": {
                       "id": {
                        "type": "string",
                        "example": "76490"
                       },
                       "name": {
                        "type": "string",
                        "nullable": true
                       },
                       "first_name": {
                        "type": "string",
                        "nullable": true
                       },
                       "last_name": {
                        "type": "string",
                        "nullable": true
                       },
                       "email_address": {
                        "type": "string",
                        "nullable": true
                       },
                       "avatar": {
                        "type": "string",
                        "nullable": true
                       },
                       "job_title": {
                        "type": "string",
                        "nullable": true
                       }
                      },
                      "additionalProperties": true
                     }
                    ]
                   },
                   "updated_by": {
                    "type": "object",
                    "nullable": true,
                    "allOf": [
                     {
                      "type": "object",
                      "description": "BIM MM `ResponsesUserInfo`.",
                      "properties": {
                       "id": {
                        "type": "string",
                        "example": "76490"
                       },
                       "name": {
                        "type": "string",
                        "nullable": true
                       },
                       "first_name": {
                        "type": "string",
                        "nullable": true
                       },
                       "last_name": {
                        "type": "string",
                        "nullable": true
                       },
                       "email_address": {
                        "type": "string",
                        "nullable": true
                       },
                       "avatar": {
                        "type": "string",
                        "nullable": true
                       },
                       "job_title": {
                        "type": "string",
                        "nullable": true
                       }
                      },
                      "additionalProperties": true
                     }
                    ]
                   },
                   "payload": {
                    "type": "object",
                    "description": "Viewpoint payload sent to / returned from Model Manager. Matches BIM MM `TypesViewpointPayload`\n(camera, clipping, visibility, snapshot, markup, measurements, etc.).\n",
                    "additionalProperties": true,
                    "properties": {
                     "camera": {
                      "type": "object",
                      "properties": {
                       "orthogonal": {
                        "type": "object",
                        "properties": {
                         "aspect_ratio": {
                          "type": "number"
                         },
                         "camera_up": {
                          "type": "array",
                          "items": {
                           "type": "number"
                          },
                          "nullable": true
                         },
                         "direction": {
                          "type": "array",
                          "items": {
                           "type": "number"
                          },
                          "nullable": true
                         },
                         "position": {
                          "type": "array",
                          "items": {
                           "type": "number"
                          },
                          "nullable": true
                         },
                         "target_distance": {
                          "type": "number"
                         },
                         "vertical_extent": {
                          "type": "number"
                         }
                        }
                       },
                       "perspective": {
                        "type": "object",
                        "properties": {
                         "aspect_ratio": {
                          "type": "number"
                         },
                         "camera_up": {
                          "type": "array",
                          "items": {
                           "type": "number"
                          },
                          "nullable": true
                         },
                         "direction": {
                          "type": "array",
                          "items": {
                           "type": "number"
                          },
                          "nullable": true
                         },
                         "fov": {
                          "type": "number"
                         },
                         "position": {
                          "type": "array",
                          "items": {
                           "type": "number"
                          },
                          "nullable": true
                         }
                        }
                       }
                      }
                     },
                     "clipping": {
                      "type": "object",
                      "properties": {
                       "box": {
                        "type": "object",
                        "properties": {
                         "max_boundary": {
                          "type": "array",
                          "items": {
                           "type": "number"
                          },
                          "nullable": true
                         },
                         "min_boundary": {
                          "type": "array",
                          "items": {
                           "type": "number"
                          },
                          "nullable": true
                         },
                         "rotation": {
                          "type": "array",
                          "items": {
                           "type": "number"
                          },
                          "nullable": true
                         }
                        }
                       },
                       "draw_outlines": {
                        "type": "boolean"
                       },
                       "draw_planes": {
                        "type": "boolean"
                       },
                       "enabled": {
                        "type": "boolean"
                       },
                       "mode": {
                        "type": "string"
                       },
                       "planes": {
                        "type": "array",
                        "items": {
                         "type": "object",
                         "properties": {
                          "direction": {
                           "type": "array",
                           "items": {
                            "type": "number"
                           },
                           "nullable": true
                          },
                          "location": {
                           "type": "array",
                           "items": {
                            "type": "number"
                           },
                           "nullable": true
                          }
                         }
                        },
                        "nullable": true
                       }
                      }
                     },
                     "grouping": {
                      "type": "string",
                      "nullable": true
                     },
                     "groups": {
                      "type": "array",
                      "items": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "string",
                         "format": "uuid"
                        },
                        "status": {
                         "type": "string"
                        }
                       }
                      },
                      "nullable": true
                     },
                     "id": {
                      "type": "string",
                      "format": "uuid"
                     },
                     "markup": {
                      "type": "object",
                      "properties": {
                       "arrows": {
                        "type": "array",
                        "items": {
                         "type": "object",
                         "additionalProperties": true
                        },
                        "nullable": true
                       },
                       "ellipses": {
                        "type": "array",
                        "items": {
                         "type": "object",
                         "additionalProperties": true
                        },
                        "nullable": true
                       },
                       "lines": {
                        "type": "array",
                        "items": {
                         "type": "object",
                         "additionalProperties": true
                        },
                        "nullable": true
                       },
                       "texts": {
                        "type": "array",
                        "items": {
                         "type": "object",
                         "additionalProperties": true
                        },
                        "nullable": true
                       }
                      }
                     },
                     "measurements": {
                      "type": "object",
                      "properties": {
                       "area": {
                        "type": "object",
                        "additionalProperties": true
                       },
                       "measure": {
                        "type": "object",
                        "additionalProperties": true
                       },
                       "point_line": {
                        "type": "object",
                        "additionalProperties": true
                       },
                       "manhole": {
                        "type": "object",
                        "additionalProperties": true,
                        "nullable": true
                       }
                      }
                     },
                     "name": {
                      "type": "string",
                      "nullable": true
                     },
                     "outline_measure": {
                      "type": "object",
                      "properties": {
                       "laser_plane": {
                        "type": "object",
                        "additionalProperties": true
                       },
                       "lasers": {
                        "type": "array",
                        "items": {
                         "type": "object",
                         "additionalProperties": true
                        },
                        "nullable": true
                       }
                      }
                     },
                     "render_mode": {
                      "type": "string",
                      "nullable": true
                     },
                     "selection": {
                      "type": "array",
                      "items": {
                       "type": "string"
                      },
                      "nullable": true
                     },
                     "snapshot": {
                      "type": "object",
                      "properties": {
                       "content_type": {
                        "type": "string"
                       },
                       "id": {
                        "type": "string"
                       },
                       "name": {
                        "type": "string"
                       },
                       "url": {
                        "type": "string"
                       }
                      }
                     },
                     "unit": {
                      "type": "string",
                      "nullable": true
                     },
                     "visibility": {
                      "type": "object",
                      "properties": {
                       "default_visibility": {
                        "type": "boolean"
                       },
                       "exceptions": {
                        "type": "object",
                        "properties": {
                         "object_ids": {
                          "type": "array",
                          "items": {
                           "type": "string"
                          },
                          "nullable": true
                         }
                        }
                       }
                      }
                     }
                    }
                   }
                  },
                  "additionalProperties": true
                 }
                ]
               }
              }
             },
             "example": {
              "data": [
               {
                "id": "13053",
                "bim_file_id": "5523",
                "created_at": "2026-03-24T18:15:06Z",
                "updated_at": "2026-03-24T18:15:06Z",
                "name": "",
                "uuid": null,
                "view_folder_id": null,
                "render_mode": "shaded",
                "visibility": null,
                "camera_data": "{\"perspective_camera\":{\"camera_view_point\":{\"x\":-6.06,\"y\":-0.71,\"z\":27.46}}}",
                "sections_data": "{}",
                "redlines_data": "{}",
                "snapshot": {
                 "id": 1207919,
                 "content_type": "image/png",
                 "name": "snapshot.png",
                 "url": "https://api.procore.com/fas/..."
                }
               },
               {
                "id": "248df4b7-aa70-47b8-a036-33ac447e668d",
                "company_id": "598134326349945",
                "project_id": "598134325540867",
                "scene_id": "019c8ec2-961c-7895-887d-4d41bd2686fd",
                "name": "Model Manager viewpoint",
                "created_at": "2026-01-15T12:00:00Z",
                "updated_at": null,
                "snapshot_url": null,
                "payload": {
                 "render_mode": "shaded",
                 "camera": {},
                 "markup": {},
                 "clipping": {
                  "planes": []
                 },
                 "visibility": {}
                }
               }
              ]
             }
            }
           ]
          },
          {
           "title": "view=ids_only \u2014 numeric id or UUID string per row",
           "description": "When query `view=ids_only` is set, `data` is only identifiers (integer legacy PK or MM UUID string),\nin join-table order.\n",
           "allOf": [
            {
             "title": "Coordination issue viewpoints index \u2014 ids_only",
             "type": "object",
             "required": [
              "data"
             ],
             "properties": {
              "data": {
               "type": "array",
               "description": "Legacy rows: `bim_viewpoint_id` (JSON number). MM-backed rows: `viewpoint_uuid` (UUID string).\n",
               "items": {
                "oneOf": [
                 {
                  "title": "Legacy bim_viewpoint_id",
                  "type": "integer",
                  "description": "Legacy BimViewpoint primary key (`bim_viewpoints.id`).",
                  "example": 987654321
                 },
                 {
                  "title": "Model Manager viewpoint_uuid",
                  "type": "string",
                  "format": "uuid",
                  "description": "MM viewpoint id from the join row (`viewpoint_uuid`).",
                  "example": "a877c1e4-6b07-4503-992c-a226cfdeda61"
                 }
                ]
               }
              }
             },
             "example": {
              "data": [
               987654321,
               "a877c1e4-6b07-4503-992c-a226cfdeda61"
              ]
             }
            }
           ]
          }
         ]
        },
        "examples": {
         "full_list_legacy_and_mm": {
          "summary": "Default \u2014 full objects in data (legacy and/or MM per row)",
          "description": "One element per join row, ordered by `position` then `created_at`. Legacy items match\ncoordination issue `viewpoints` (`BimViewpointBlueprint` :procore_v0_1); MM items match\nModel Manager `ResponsesViewpointResponse`.\n",
          "value": {
           "data": [
            {
             "id": "13053",
             "bim_file_id": "5523",
             "created_at": "2026-03-24T18:15:06Z",
             "updated_at": "2026-03-24T18:15:06Z",
             "name": "",
             "uuid": null,
             "view_folder_id": null,
             "render_mode": "shaded",
             "visibility": null,
             "camera_data": "{\"perspective_camera\":{\"camera_view_point\":{\"x\":-6.06,\"y\":-0.71,\"z\":27.46}}}",
             "sections_data": "{}",
             "redlines_data": "{}",
             "snapshot": {
              "id": 1207919,
              "content_type": "image/png",
              "name": "snapshot.png",
              "url": "https://api.procore.com/fas/..."
             }
            },
            {
             "id": "248df4b7-aa70-47b8-a036-33ac447e668d",
             "company_id": "598134326349945",
             "project_id": "598134325540867",
             "scene_id": "019c8ec2-961c-7895-887d-4d41bd2686fd",
             "name": "Model Manager viewpoint",
             "created_at": "2026-01-15T12:00:00Z",
             "updated_at": null,
             "snapshot_url": null,
             "payload": {
              "render_mode": "shaded",
              "camera": {},
              "markup": {},
              "clipping": {
               "planes": []
              },
              "visibility": {}
             }
            }
           ]
          }
         },
         "ids_only_query": {
          "summary": "Query `view=ids_only` \u2014 numeric id or UUID string per row",
          "value": {
           "data": [
            987654321,
            "a877c1e4-6b07-4503-992c-a226cfdeda61"
           ]
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "502": {
      "description": "Model Manager returned 5xx while loading MM-backed viewpoints for this page",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bcoordination_issue_id%7D/viewpoints',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    primary: 'SOME_BOOLEAN_VALUE',\n    included: 'SOME_STRING_VALUE',\n    viewpoint_format: 'SOME_STRING_VALUE'\n  },\n  headers: {'Procore-Company-Id': 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Procore-Company-Id': \"SOME_STRING_VALUE\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bcoordination_issue_id%7D/viewpoints?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&primary=SOME_BOOLEAN_VALUE&included=SOME_STRING_VALUE&viewpoint_format=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bcoordination_issue_id%7D/viewpoints?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&primary=SOME_BOOLEAN_VALUE&included=SOME_STRING_VALUE&viewpoint_format=SOME_STRING_VALUE' \\\n  --header 'Procore-Company-Id: SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bcoordination_issue_id%7D/viewpoints?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&primary=SOME_BOOLEAN_VALUE&included=SOME_STRING_VALUE&viewpoint_format=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_STRING_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added viewpoint_format query parameter for v1/v2 response transformation",
      "description": "Added a `viewpoint_format` query parameter to the index, show, and batch endpoints.\nWhen `viewpoint_format=v1`, Model Manager viewpoints are returned in legacy shape\n(camera_data, sections_data, redlines_data as JSON strings).\nWhen `viewpoint_format=v2` (default), legacy viewpoints are returned in Model Manager\npayload shape (structured camera, clipping, markup objects).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/coordination_issues/{coordination_issue_id}/viewpoints",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-05-21",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issue-viewpoints?version=2.0#list-coordination-issue-viewpoints-legacy-model-manager-rest-v20"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "operationId": "createCoordinationIssueViewpoint",
    "tags": [
     "Coordination Issues"
    ],
    "summary": "Create a Model Manager viewpoint and link it to the issue (REST v2.0)",
    "description": "Proxies to Model Manager `POST /rest/v2.0/companies/{company_id}/projects/{project_id}/bim/viewpoints`\n(`RequestsCreateViewpointRequest`: `scene_id`, optional `name`, `payload` per MM OpenAPI), plus\n**Procore-required** `bim_model_uuid` for application validation. Then inserts\n`coordination_issue_bim_viewpoints` with `viewpoint_uuid` (MM viewpoint id).\n\nMay trigger notification side effects for observers of the issue.\n",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "BIM MM `RequestsCreateViewpointRequest` fields plus **Procore-only** `bim_model_uuid` (required by\nmonolith validation; not sent as a top-level field to Model Manager).\n\nWhen **`payload` is omitted**, `ViewpointCreateViaModelManagerService` builds the MM payload from\n`camera_data`, `sections_data` (mapped to `clipping.planes`), `redlines_data` (mapped to `markup`),\n`visibility`, `render_mode`, and `name` only.\n\n**`primary` and `position`** affect the local `coordination_issue_bim_viewpoints` row, not the MM payload shape.\n\n**`bim_file_id`** and **`bim_view_folder_id`** are permitted by the controller but are **not** applied on the\nModel Manager strategy; include any file/folder data inside **`payload`** if Model Manager should receive it.\n\n**`snapshot_upload_uuid`** is consumed on the **legacy strategy only** (when `scene_id` / `bim_model_uuid` are\nomitted): it is forwarded to the BIM viewpoint creator, which attaches the uploaded image as a `ProstoreFile`\non the resulting `BimViewpoint`. The Model Manager strategy ignores this field \u2014 include snapshot data inside\n**`payload`** instead.\n",
        "required": [
         "scene_id",
         "bim_model_uuid"
        ],
        "properties": {
         "name": {
          "type": "string",
          "nullable": true,
          "description": "Optional viewpoint name (MM `RequestsCreateViewpointRequest.name`)."
         },
         "scene_id": {
          "type": "string",
          "format": "uuid",
          "description": "Scene UUID (MM `scene_id` / `UuidUUID`)."
         },
         "bim_model_uuid": {
          "type": "string",
          "format": "uuid",
          "description": "Required by Procore `ViewpointCreateViaModelManagerService` validation (not sent to MM create as a top-level field)."
         },
         "payload": {
          "oneOf": [
           {
            "type": "object",
            "description": "Viewpoint payload sent to / returned from Model Manager. Matches BIM MM `TypesViewpointPayload`\n(camera, clipping, visibility, snapshot, markup, measurements, etc.).\n",
            "additionalProperties": true,
            "properties": {
             "camera": {
              "type": "object",
              "properties": {
               "orthogonal": {
                "type": "object",
                "properties": {
                 "aspect_ratio": {
                  "type": "number"
                 },
                 "camera_up": {
                  "type": "array",
                  "items": {
                   "type": "number"
                  },
                  "nullable": true
                 },
                 "direction": {
                  "type": "array",
                  "items": {
                   "type": "number"
                  },
                  "nullable": true
                 },
                 "position": {
                  "type": "array",
                  "items": {
                   "type": "number"
                  },
                  "nullable": true
                 },
                 "target_distance": {
                  "type": "number"
                 },
                 "vertical_extent": {
                  "type": "number"
                 }
                }
               },
               "perspective": {
                "type": "object",
                "properties": {
                 "aspect_ratio": {
                  "type": "number"
                 },
                 "camera_up": {
                  "type": "array",
                  "items": {
                   "type": "number"
                  },
                  "nullable": true
                 },
                 "direction": {
                  "type": "array",
                  "items": {
                   "type": "number"
                  },
                  "nullable": true
                 },
                 "fov": {
                  "type": "number"
                 },
                 "position": {
                  "type": "array",
                  "items": {
                   "type": "number"
                  },
                  "nullable": true
                 }
                }
               }
              }
             },
             "clipping": {
              "type": "object",
              "properties": {
               "box": {
                "type": "object",
                "properties": {
                 "max_boundary": {
                  "type": "array",
                  "items": {
                   "type": "number"
                  },
                  "nullable": true
                 },
                 "min_boundary": {
                  "type": "array",
                  "items": {
                   "type": "number"
                  },
                  "nullable": true
                 },
                 "rotation": {
                  "type": "array",
                  "items": {
                   "type": "number"
                  },
                  "nullable": true
                 }
                }
               },
               "draw_outlines": {
                "type": "boolean"
               },
               "draw_planes": {
                "type": "boolean"
               },
               "enabled": {
                "type": "boolean"
               },
               "mode": {
                "type": "string"
               },
               "planes": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "direction": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  },
                  "location": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  }
                 }
                },
                "nullable": true
               }
              }
             },
             "grouping": {
              "type": "string",
              "nullable": true
             },
             "groups": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                },
                "status": {
                 "type": "string"
                }
               }
              },
              "nullable": true
             },
             "id": {
              "type": "string",
              "format": "uuid"
             },
             "markup": {
              "type": "object",
              "properties": {
               "arrows": {
                "type": "array",
                "items": {
                 "type": "object",
                 "additionalProperties": true
                },
                "nullable": true
               },
               "ellipses": {
                "type": "array",
                "items": {
                 "type": "object",
                 "additionalProperties": true
                },
                "nullable": true
               },
               "lines": {
                "type": "array",
                "items": {
                 "type": "object",
                 "additionalProperties": true
                },
                "nullable": true
               },
               "texts": {
                "type": "array",
                "items": {
                 "type": "object",
                 "additionalProperties": true
                },
                "nullable": true
               }
              }
             },
             "measurements": {
              "type": "object",
              "properties": {
               "area": {
                "type": "object",
                "additionalProperties": true
               },
               "measure": {
                "type": "object",
                "additionalProperties": true
               },
               "point_line": {
                "type": "object",
                "additionalProperties": true
               },
               "manhole": {
                "type": "object",
                "additionalProperties": true,
                "nullable": true
               }
              }
             },
             "name": {
              "type": "string",
              "nullable": true
             },
             "outline_measure": {
              "type": "object",
              "properties": {
               "laser_plane": {
                "type": "object",
                "additionalProperties": true
               },
               "lasers": {
                "type": "array",
                "items": {
                 "type": "object",
                 "additionalProperties": true
                },
                "nullable": true
               }
              }
             },
             "render_mode": {
              "type": "string",
              "nullable": true
             },
             "selection": {
              "type": "array",
              "items": {
               "type": "string"
              },
              "nullable": true
             },
             "snapshot": {
              "type": "object",
              "properties": {
               "content_type": {
                "type": "string"
               },
               "id": {
                "type": "string"
               },
               "name": {
                "type": "string"
               },
               "url": {
                "type": "string"
               }
              }
             },
             "unit": {
              "type": "string",
              "nullable": true
             },
             "visibility": {
              "type": "object",
              "properties": {
               "default_visibility": {
                "type": "boolean"
               },
               "exceptions": {
                "type": "object",
                "properties": {
                 "object_ids": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  },
                  "nullable": true
                 }
                }
               }
              }
             }
            }
           },
           {
            "type": "string",
            "description": "JSON string of a `TypesViewpointPayload` object (same shape as the object form)."
           }
          ]
         },
         "camera_data": {
          "description": "Used when top-level `payload` is absent \u2014 becomes `camera` in the MM payload. Send a JSON object or a JSON string\n(parsed server-side).\n",
          "oneOf": [
           {
            "type": "object",
            "additionalProperties": true
           },
           {
            "type": "string"
           }
          ]
         },
         "redlines_data": {
          "description": "Used when top-level `payload` is absent \u2014 becomes `markup` in the MM payload (object or JSON string).",
          "oneOf": [
           {
            "type": "object",
            "additionalProperties": true
           },
           {
            "type": "string"
           }
          ]
         },
         "sections_data": {
          "description": "Used when top-level `payload` is absent \u2014 parsed value is set on `clipping.planes` in the MM payload.\nModel Manager expects an array of clipping planes (`TypesClippingPlane`); object or JSON string is accepted and passed through after parse.\n",
          "oneOf": [
           {
            "type": "object",
            "additionalProperties": true
           },
           {
            "type": "string"
           }
          ]
         },
         "render_mode": {
          "type": "string",
          "default": "shaded"
         },
         "bim_file_id": {
          "type": "string",
          "description": "Accepted in the JSON body for parity with other viewpoint APIs; **not** applied by MM create in this flow.\n",
          "example": "598134325540867"
         },
         "bim_view_folder_id": {
          "type": "string",
          "description": "Accepted in the JSON body for parity with other viewpoint APIs; **not** applied by MM create in this flow.\n",
          "example": "598134325540868"
         },
         "snapshot_upload_uuid": {
          "type": "string",
          "description": "Upload UUID of a previously uploaded snapshot image (via `POST /rest/v1.0/projects/{project_id}/uploads`).\n**Legacy strategy:** the image is attached to the created `BimViewpoint` as a `ProstoreFile`; the snapshot URL\nis returned on subsequent reads. **Model Manager strategy:** ignored at the top level \u2014 include snapshot data\ninside `payload` instead.\n"
         },
         "primary": {
          "type": "boolean",
          "description": "Sets `is_primary` on the coordination-issue viewpoint mapping."
         },
         "position": {
          "type": "integer",
          "description": "Sets ordering `position` on the coordination-issue viewpoint mapping (auto-incremented if omitted)."
         },
         "visibility": {
          "type": "object",
          "additionalProperties": true
         }
        }
       },
       "example": {
        "name": "Viewpoint A",
        "scene_id": "019c8ec2-961c-7895-887d-4d41bd2686fd",
        "bim_model_uuid": "106536ee-d194-4111-95a0-cf0c2fdca6b2",
        "payload": {
         "unit": "meters",
         "render_mode": "shaded",
         "snapshot": {
          "id": "fas-01KKZTD2C2D0R5P70FMN83Q2BD",
          "name": "viewpoint_snapshot.jpeg",
          "content_type": "image/jpeg"
         },
         "camera": {
          "perspective": {
           "position": [
            544.12,
            -53.02,
            396.33
           ],
           "direction": [
            -0.79,
            0.36,
            -0.5
           ],
           "camera_up": [
            -0.45,
            0.21,
            0.87
           ],
           "fov": 60,
           "aspect_ratio": 3.51
          }
         },
         "clipping": {
          "draw_outlines": true,
          "enabled": false,
          "draw_planes": false,
          "mode": "union"
         },
         "visibility": {
          "default_visibility": true,
          "exceptions": {
           "object_ids": []
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created \u2014 body matches BIM MM `ViewpointResponseType1` (`data` = `ResponsesViewpointResponse`)",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "BIM MM `ViewpointResponseType1` \u2014 success responses include `data`; `error` when MM uses error envelope.",
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "title": "Model Manager viewpoint list item",
           "type": "object",
           "description": "BIM MM `ResponsesViewpointResponse` (viewpoint resource). Procore may present this under `data` via\n`ModelManagerViewpointPresenter` (types should match MM).\n",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid",
             "example": "248df4b7-aa70-47b8-a036-33ac447e668d"
            },
            "company_id": {
             "type": "string",
             "example": "598134326349945"
            },
            "project_id": {
             "type": "string",
             "example": "598134325540867"
            },
            "scene_id": {
             "type": "string",
             "format": "uuid",
             "example": "019c8ec2-961c-7895-887d-4d41bd2686fd"
            },
            "name": {
             "type": "string",
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "snapshot_url": {
             "type": "string",
             "nullable": true
            },
            "created_by": {
             "type": "object",
             "nullable": true,
             "allOf": [
              {
               "type": "object",
               "description": "BIM MM `ResponsesUserInfo`.",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "76490"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "first_name": {
                 "type": "string",
                 "nullable": true
                },
                "last_name": {
                 "type": "string",
                 "nullable": true
                },
                "email_address": {
                 "type": "string",
                 "nullable": true
                },
                "avatar": {
                 "type": "string",
                 "nullable": true
                },
                "job_title": {
                 "type": "string",
                 "nullable": true
                }
               },
               "additionalProperties": true
              }
             ]
            },
            "updated_by": {
             "type": "object",
             "nullable": true,
             "allOf": [
              {
               "type": "object",
               "description": "BIM MM `ResponsesUserInfo`.",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "76490"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "first_name": {
                 "type": "string",
                 "nullable": true
                },
                "last_name": {
                 "type": "string",
                 "nullable": true
                },
                "email_address": {
                 "type": "string",
                 "nullable": true
                },
                "avatar": {
                 "type": "string",
                 "nullable": true
                },
                "job_title": {
                 "type": "string",
                 "nullable": true
                }
               },
               "additionalProperties": true
              }
             ]
            },
            "payload": {
             "type": "object",
             "description": "Viewpoint payload sent to / returned from Model Manager. Matches BIM MM `TypesViewpointPayload`\n(camera, clipping, visibility, snapshot, markup, measurements, etc.).\n",
             "additionalProperties": true,
             "properties": {
              "camera": {
               "type": "object",
               "properties": {
                "orthogonal": {
                 "type": "object",
                 "properties": {
                  "aspect_ratio": {
                   "type": "number"
                  },
                  "camera_up": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  },
                  "direction": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  },
                  "position": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  },
                  "target_distance": {
                   "type": "number"
                  },
                  "vertical_extent": {
                   "type": "number"
                  }
                 }
                },
                "perspective": {
                 "type": "object",
                 "properties": {
                  "aspect_ratio": {
                   "type": "number"
                  },
                  "camera_up": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  },
                  "direction": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  },
                  "fov": {
                   "type": "number"
                  },
                  "position": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  }
                 }
                }
               }
              },
              "clipping": {
               "type": "object",
               "properties": {
                "box": {
                 "type": "object",
                 "properties": {
                  "max_boundary": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  },
                  "min_boundary": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  },
                  "rotation": {
                   "type": "array",
                   "items": {
                    "type": "number"
                   },
                   "nullable": true
                  }
                 }
                },
                "draw_outlines": {
                 "type": "boolean"
                },
                "draw_planes": {
                 "type": "boolean"
                },
                "enabled": {
                 "type": "boolean"
                },
                "mode": {
                 "type": "string"
                },
                "planes": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "direction": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   },
                   "location": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   }
                  }
                 },
                 "nullable": true
                }
               }
              },
              "grouping": {
               "type": "string",
               "nullable": true
              },
              "groups": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "format": "uuid"
                 },
                 "status": {
                  "type": "string"
                 }
                }
               },
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid"
              },
              "markup": {
               "type": "object",
               "properties": {
                "arrows": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "additionalProperties": true
                 },
                 "nullable": true
                },
                "ellipses": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "additionalProperties": true
                 },
                 "nullable": true
                },
                "lines": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "additionalProperties": true
                 },
                 "nullable": true
                },
                "texts": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "additionalProperties": true
                 },
                 "nullable": true
                }
               }
              },
              "measurements": {
               "type": "object",
               "properties": {
                "area": {
                 "type": "object",
                 "additionalProperties": true
                },
                "measure": {
                 "type": "object",
                 "additionalProperties": true
                },
                "point_line": {
                 "type": "object",
                 "additionalProperties": true
                },
                "manhole": {
                 "type": "object",
                 "additionalProperties": true,
                 "nullable": true
                }
               }
              },
              "name": {
               "type": "string",
               "nullable": true
              },
              "outline_measure": {
               "type": "object",
               "properties": {
                "laser_plane": {
                 "type": "object",
                 "additionalProperties": true
                },
                "lasers": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "additionalProperties": true
                 },
                 "nullable": true
                }
               }
              },
              "render_mode": {
               "type": "string",
               "nullable": true
              },
              "selection": {
               "type": "array",
               "items": {
                "type": "string"
               },
               "nullable": true
              },
              "snapshot": {
               "type": "object",
               "properties": {
                "content_type": {
                 "type": "string"
                },
                "id": {
                 "type": "string"
                },
                "name": {
                 "type": "string"
                },
                "url": {
                 "type": "string"
                }
               }
              },
              "unit": {
               "type": "string",
               "nullable": true
              },
              "visibility": {
               "type": "object",
               "properties": {
                "default_visibility": {
                 "type": "boolean"
                },
                "exceptions": {
                 "type": "object",
                 "properties": {
                  "object_ids": {
                   "type": "array",
                   "items": {
                    "type": "string"
                   },
                   "nullable": true
                  }
                 }
                }
               }
              }
             }
            }
           },
           "additionalProperties": true
          },
          "error": {
           "type": "object",
           "nullable": true,
           "description": "BIM MM `ResponseErrorInfo` (optional on MM envelopes).",
           "properties": {
            "code": {
             "type": "string"
            },
            "message": {
             "type": "string"
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "additionalProperties": true
             }
            }
           },
           "additionalProperties": true
          }
         },
         "additionalProperties": true
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Validation error (e.g. missing `scene_id` / `bim_model_uuid`, invalid payload JSON) or\nModel Manager failure wrapped as `render_model_errors`.\n",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bcoordination_issue_id%7D/viewpoints',\n  headers: {'Procore-Company-Id': 'SOME_STRING_VALUE', 'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    scene_id: '861eef56-1159-4a95-802f-abab2d0cc192',\n    bim_model_uuid: 'f4d4a9f0-f121-4fee-8372-f5ed2a8940c0',\n    payload: {\n      camera: {\n        orthogonal: {\n          aspect_ratio: 0,\n          camera_up: [0],\n          direction: [0],\n          position: [0],\n          target_distance: 0,\n          vertical_extent: 0\n        },\n        perspective: {aspect_ratio: 0, camera_up: [0], direction: [0], fov: 0, position: [0]}\n      },\n      clipping: {\n        box: {max_boundary: [0], min_boundary: [0], rotation: [0]},\n        draw_outlines: true,\n        draw_planes: true,\n        enabled: true,\n        mode: 'string',\n        planes: [{direction: [0], location: [0]}]\n      },\n      grouping: 'string',\n      groups: [{id: '497f6eca-6276-4993-bfeb-53cbbbba6f08', status: 'string'}],\n      id: '497f6eca-6276-4993-bfeb-53cbbbba6f08',\n      markup: {arrows: [{}], ellipses: [{}], lines: [{}], texts: [{}]},\n      measurements: {area: {}, measure: {}, point_line: {}, manhole: {}},\n      name: 'string',\n      outline_measure: {laser_plane: {}, lasers: [{}]},\n      render_mode: 'string',\n      selection: ['string'],\n      snapshot: {content_type: 'string', id: 'string', name: 'string', url: 'string'},\n      unit: 'string',\n      visibility: {default_visibility: true, exceptions: {object_ids: ['string']}}\n    },\n    camera_data: {},\n    redlines_data: {},\n    sections_data: {},\n    render_mode: 'shaded',\n    bim_file_id: '598134325540867',\n    bim_view_folder_id: '598134325540868',\n    snapshot_upload_uuid: 'string',\n    primary: true,\n    position: 0,\n    visibility: {}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"scene_id\\\":\\\"861eef56-1159-4a95-802f-abab2d0cc192\\\",\\\"bim_model_uuid\\\":\\\"f4d4a9f0-f121-4fee-8372-f5ed2a8940c0\\\",\\\"payload\\\":{\\\"camera\\\":{\\\"orthogonal\\\":{\\\"aspect_ratio\\\":0,\\\"camera_up\\\":[0],\\\"direction\\\":[0],\\\"position\\\":[0],\\\"target_distance\\\":0,\\\"vertical_extent\\\":0},\\\"perspective\\\":{\\\"aspect_ratio\\\":0,\\\"camera_up\\\":[0],\\\"direction\\\":[0],\\\"fov\\\":0,\\\"position\\\":[0]}},\\\"clipping\\\":{\\\"box\\\":{\\\"max_boundary\\\":[0],\\\"min_boundary\\\":[0],\\\"rotation\\\":[0]},\\\"draw_outlines\\\":true,\\\"draw_planes\\\":true,\\\"enabled\\\":true,\\\"mode\\\":\\\"string\\\",\\\"planes\\\":[{\\\"direction\\\":[0],\\\"location\\\":[0]}]},\\\"grouping\\\":\\\"string\\\",\\\"groups\\\":[{\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"status\\\":\\\"string\\\"}],\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"markup\\\":{\\\"arrows\\\":[{}],\\\"ellipses\\\":[{}],\\\"lines\\\":[{}],\\\"texts\\\":[{}]},\\\"measurements\\\":{\\\"area\\\":{},\\\"measure\\\":{},\\\"point_line\\\":{},\\\"manhole\\\":{}},\\\"name\\\":\\\"string\\\",\\\"outline_measure\\\":{\\\"laser_plane\\\":{},\\\"lasers\\\":[{}]},\\\"render_mode\\\":\\\"string\\\",\\\"selection\\\":[\\\"string\\\"],\\\"snapshot\\\":{\\\"content_type\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"name\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\"},\\\"unit\\\":\\\"string\\\",\\\"visibility\\\":{\\\"default_visibility\\\":true,\\\"exceptions\\\":{\\\"object_ids\\\":[\\\"string\\\"]}}},\\\"camera_data\\\":{},\\\"redlines_data\\\":{},\\\"sections_data\\\":{},\\\"render_mode\\\":\\\"shaded\\\",\\\"bim_file_id\\\":\\\"598134325540867\\\",\\\"bim_view_folder_id\\\":\\\"598134325540868\\\",\\\"snapshot_upload_uuid\\\":\\\"string\\\",\\\"primary\\\":true,\\\"position\\\":0,\\\"visibility\\\":{}}\"\n\nheaders = {\n    'Procore-Company-Id': \"SOME_STRING_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bcoordination_issue_id%7D/viewpoints\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bcoordination_issue_id%7D/viewpoints \\\n  --header 'Procore-Company-Id: SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"scene_id\":\"861eef56-1159-4a95-802f-abab2d0cc192\",\"bim_model_uuid\":\"f4d4a9f0-f121-4fee-8372-f5ed2a8940c0\",\"payload\":{\"camera\":{\"orthogonal\":{\"aspect_ratio\":0,\"camera_up\":[0],\"direction\":[0],\"position\":[0],\"target_distance\":0,\"vertical_extent\":0},\"perspective\":{\"aspect_ratio\":0,\"camera_up\":[0],\"direction\":[0],\"fov\":0,\"position\":[0]}},\"clipping\":{\"box\":{\"max_boundary\":[0],\"min_boundary\":[0],\"rotation\":[0]},\"draw_outlines\":true,\"draw_planes\":true,\"enabled\":true,\"mode\":\"string\",\"planes\":[{\"direction\":[0],\"location\":[0]}]},\"grouping\":\"string\",\"groups\":[{\"id\":\"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\"status\":\"string\"}],\"id\":\"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\"markup\":{\"arrows\":[{}],\"ellipses\":[{}],\"lines\":[{}],\"texts\":[{}]},\"measurements\":{\"area\":{},\"measure\":{},\"point_line\":{},\"manhole\":{}},\"name\":\"string\",\"outline_measure\":{\"laser_plane\":{},\"lasers\":[{}]},\"render_mode\":\"string\",\"selection\":[\"string\"],\"snapshot\":{\"content_type\":\"string\",\"id\":\"string\",\"name\":\"string\",\"url\":\"string\"},\"unit\":\"string\",\"visibility\":{\"default_visibility\":true,\"exceptions\":{\"object_ids\":[\"string\"]}}},\"camera_data\":{},\"redlines_data\":{},\"sections_data\":{},\"render_mode\":\"shaded\",\"bim_file_id\":\"598134325540867\",\"bim_view_folder_id\":\"598134325540868\",\"snapshot_upload_uuid\":\"string\",\"primary\":true,\"position\":0,\"visibility\":{}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bcoordination_issue_id%7D/viewpoints\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_STRING_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"scene_id\\\":\\\"861eef56-1159-4a95-802f-abab2d0cc192\\\",\\\"bim_model_uuid\\\":\\\"f4d4a9f0-f121-4fee-8372-f5ed2a8940c0\\\",\\\"payload\\\":{\\\"camera\\\":{\\\"orthogonal\\\":{\\\"aspect_ratio\\\":0,\\\"camera_up\\\":[0],\\\"direction\\\":[0],\\\"position\\\":[0],\\\"target_distance\\\":0,\\\"vertical_extent\\\":0},\\\"perspective\\\":{\\\"aspect_ratio\\\":0,\\\"camera_up\\\":[0],\\\"direction\\\":[0],\\\"fov\\\":0,\\\"position\\\":[0]}},\\\"clipping\\\":{\\\"box\\\":{\\\"max_boundary\\\":[0],\\\"min_boundary\\\":[0],\\\"rotation\\\":[0]},\\\"draw_outlines\\\":true,\\\"draw_planes\\\":true,\\\"enabled\\\":true,\\\"mode\\\":\\\"string\\\",\\\"planes\\\":[{\\\"direction\\\":[0],\\\"location\\\":[0]}]},\\\"grouping\\\":\\\"string\\\",\\\"groups\\\":[{\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"status\\\":\\\"string\\\"}],\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"markup\\\":{\\\"arrows\\\":[{}],\\\"ellipses\\\":[{}],\\\"lines\\\":[{}],\\\"texts\\\":[{}]},\\\"measurements\\\":{\\\"area\\\":{},\\\"measure\\\":{},\\\"point_line\\\":{},\\\"manhole\\\":{}},\\\"name\\\":\\\"string\\\",\\\"outline_measure\\\":{\\\"laser_plane\\\":{},\\\"lasers\\\":[{}]},\\\"render_mode\\\":\\\"string\\\",\\\"selection\\\":[\\\"string\\\"],\\\"snapshot\\\":{\\\"content_type\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"name\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\"},\\\"unit\\\":\\\"string\\\",\\\"visibility\\\":{\\\"default_visibility\\\":true,\\\"exceptions\\\":{\\\"object_ids\\\":[\\\"string\\\"]}}},\\\"camera_data\\\":{},\\\"redlines_data\\\":{},\\\"sections_data\\\":{},\\\"render_mode\\\":\\\"shaded\\\",\\\"bim_file_id\\\":\\\"598134325540867\\\",\\\"bim_view_folder_id\\\":\\\"598134325540868\\\",\\\"snapshot_upload_uuid\\\":\\\"string\\\",\\\"primary\\\":true,\\\"position\\\":0,\\\"visibility\\\":{}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create endpoint now accepts both legacy and Model Manager viewpoint formats",
      "description": "The create endpoint now accepts legacy viewpoint format (camera_data, sections_data,\nredlines_data with bim_file_id) in addition to Model Manager format (scene_id,\nbim_model_uuid, payload). Format detection is automatic based on params present.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/coordination_issues/{coordination_issue_id}/viewpoints",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-05-21",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issue-viewpoints?version=2.0#create-a-model-manager-viewpoint-and-link-it-to-the-issue-rest-v20"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues/{coordination_issue_id}/viewpoints/batch": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "coordination_issue_id",
     "in": "path",
     "required": true,
     "description": "Coordination Issue ID",
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "operationId": "batchCoordinationIssueViewpoints",
    "tags": [
     "Coordination Issues"
    ],
    "summary": "Batch-get Model Manager viewpoints by UUID (REST v2.0, issue-scoped)",
    "description": "Request body must include `ids` (non-empty array of UUID strings). The server **filters** `ids`\nto those present on this issue as MM-backed mappings, preserves request order for the intersection,\nthen calls Model Manager `POST .../bim/viewpoints/batch`.\n\nIf no ids remain after filtering, returns `{ \"data\": [] }` **without** calling Model Manager.\n\nResponse body is forwarded from Model Manager (typically `{ \"data\": [ ... ] }`).\n\nWhen `viewpoint_format=v1`, the Model Manager viewpoint objects are transformed to legacy shape\n(camera_data, sections_data, redlines_data as JSON strings).\nWhen `viewpoint_format=v2` (default), viewpoints are returned in Model Manager shape as-is.\n",
    "parameters": [
     {
      "name": "viewpoint_format",
      "in": "query",
      "required": false,
      "description": "Specify the response format for viewpoint data.\nWhen `v1`, all viewpoints (including Model Manager-backed) are returned in legacy shape (`camera_data`, `sections_data`, `redlines_data` as JSON strings). Model Manager viewpoints are transformed to match the legacy BimViewpointBlueprint `:procore_v0_1` structure.\nWhen `v2` (default), all viewpoints (including legacy BimViewpoints) are returned in Model Manager shape (structured `payload` object with nested `camera`, `clipping`, `markup`, `visibility`, `render_mode`). Legacy viewpoints are transformed to match the Model Manager viewpoint response structure.\nIdentity and reference fields (`id`, `uuid`, `scene_id`, `bim_file_id`, `company_id`, `project_id`, etc.) are never transformed \u2014 they pass through as-is from the source record. Fields not present on a source record appear as `null` in the response.",
      "schema": {
       "type": "string",
       "enum": [
        "v1",
        "v2"
       ],
       "default": "v2"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Same `ids` array semantics as BIM MM `RequestsViewpointsBatchGetRequest` (UUIDs).",
        "required": [
         "ids"
        ],
        "properties": {
         "ids": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          },
          "minItems": 1,
          "description": "Requested MM viewpoint UUIDs (server filters to those mapped on the issue)"
         }
        }
       },
       "example": {
        "ids": [
         "248df4b7-aa70-47b8-a036-33ac447e668d"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK \u2014 BIM MM `ViewpointResponseType2` (`data` array of `ResponsesViewpointResponse`)",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "BIM MM `ViewpointResponseType2`: `data` is an array of viewpoints; `error` may appear on MM envelopes.\nProcore forwards MM JSON for batch after issue-scoped id filtering.\n",
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "array",
           "description": "Viewpoints for the requested ids (after issue-scoped filtering), MM order preserved.",
           "items": {
            "title": "Model Manager viewpoint list item",
            "type": "object",
            "description": "BIM MM `ResponsesViewpointResponse` (viewpoint resource). Procore may present this under `data` via\n`ModelManagerViewpointPresenter` (types should match MM).\n",
            "properties": {
             "id": {
              "type": "string",
              "format": "uuid",
              "example": "248df4b7-aa70-47b8-a036-33ac447e668d"
             },
             "company_id": {
              "type": "string",
              "example": "598134326349945"
             },
             "project_id": {
              "type": "string",
              "example": "598134325540867"
             },
             "scene_id": {
              "type": "string",
              "format": "uuid",
              "example": "019c8ec2-961c-7895-887d-4d41bd2686fd"
             },
             "name": {
              "type": "string",
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
             },
             "snapshot_url": {
              "type": "string",
              "nullable": true
             },
             "created_by": {
              "type": "object",
              "nullable": true,
              "allOf": [
               {
                "type": "object",
                "description": "BIM MM `ResponsesUserInfo`.",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "76490"
                 },
                 "name": {
                  "type": "string",
                  "nullable": true
                 },
                 "first_name": {
                  "type": "string",
                  "nullable": true
                 },
                 "last_name": {
                  "type": "string",
                  "nullable": true
                 },
                 "email_address": {
                  "type": "string",
                  "nullable": true
                 },
                 "avatar": {
                  "type": "string",
                  "nullable": true
                 },
                 "job_title": {
                  "type": "string",
                  "nullable": true
                 }
                },
                "additionalProperties": true
               }
              ]
             },
             "updated_by": {
              "type": "object",
              "nullable": true,
              "allOf": [
               {
                "type": "object",
                "description": "BIM MM `ResponsesUserInfo`.",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "76490"
                 },
                 "name": {
                  "type": "string",
                  "nullable": true
                 },
                 "first_name": {
                  "type": "string",
                  "nullable": true
                 },
                 "last_name": {
                  "type": "string",
                  "nullable": true
                 },
                 "email_address": {
                  "type": "string",
                  "nullable": true
                 },
                 "avatar": {
                  "type": "string",
                  "nullable": true
                 },
                 "job_title": {
                  "type": "string",
                  "nullable": true
                 }
                },
                "additionalProperties": true
               }
              ]
             },
             "payload": {
              "type": "object",
              "description": "Viewpoint payload sent to / returned from Model Manager. Matches BIM MM `TypesViewpointPayload`\n(camera, clipping, visibility, snapshot, markup, measurements, etc.).\n",
              "additionalProperties": true,
              "properties": {
               "camera": {
                "type": "object",
                "properties": {
                 "orthogonal": {
                  "type": "object",
                  "properties": {
                   "aspect_ratio": {
                    "type": "number"
                   },
                   "camera_up": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   },
                   "direction": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   },
                   "position": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   },
                   "target_distance": {
                    "type": "number"
                   },
                   "vertical_extent": {
                    "type": "number"
                   }
                  }
                 },
                 "perspective": {
                  "type": "object",
                  "properties": {
                   "aspect_ratio": {
                    "type": "number"
                   },
                   "camera_up": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   },
                   "direction": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   },
                   "fov": {
                    "type": "number"
                   },
                   "position": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   }
                  }
                 }
                }
               },
               "clipping": {
                "type": "object",
                "properties": {
                 "box": {
                  "type": "object",
                  "properties": {
                   "max_boundary": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   },
                   "min_boundary": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   },
                   "rotation": {
                    "type": "array",
                    "items": {
                     "type": "number"
                    },
                    "nullable": true
                   }
                  }
                 },
                 "draw_outlines": {
                  "type": "boolean"
                 },
                 "draw_planes": {
                  "type": "boolean"
                 },
                 "enabled": {
                  "type": "boolean"
                 },
[...]
