{
 "openapi": "3.0.0",
 "info": {
  "title": "Coordination Issue Recycle Bin",
  "x-product-category": "Project Management",
  "x-tool-category": "Coordination Issues",
  "x-resource-name": "Coordination Issue Recycle Bin",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/coordination_issues/recycle_bin": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Coordination Issues in Recycle Bin",
    "description": "Lists all deleted Coordination Issues in the specified project",
    "tags": [
     "Coordination Issues"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[assignee_company_id][]",
      "in": "query",
      "description": "Filter item(s) with matching assignee vendor companies.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[assignee_id][]",
      "in": "query",
      "description": "Filter item(s) with matching assignees.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_by_id][]",
      "in": "query",
      "description": "Filter item(s) with matching User IDs.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_by_company_id][]",
      "in": "query",
      "description": "Filter item(s) with matching created by vendor companies.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_from][]",
      "in": "query",
      "description": "Filter item(s) with matching creation source.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[ids][]",
      "in": "query",
      "description": "Filter item(s) with matching ids.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[location_id][]",
      "in": "query",
      "description": "Filter item(s) with matching locations.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[include_sublocations]",
      "in": "query",
      "description": "Use together with `filters[location_id]`\n",
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Filter item(s) with the matching search query. The search is performed on title and issue number.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[coordination_issue_file_id][]",
      "in": "query",
      "description": "Filter item(s) with the exact coordination issue file.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[status][]",
      "in": "query",
      "description": "Filter item(s) with matching status.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "open",
         "in_progress",
         "blocked",
         "unblocked",
         "ready_for_review",
         "closed",
         "moved_to_observation"
        ]
       }
      }
     },
     {
      "name": "filters[issue_type][]",
      "in": "query",
      "description": "Filter item(s) with matching issue_type.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "building_code",
         "clash",
         "client_feedback",
         "constructability",
         "coordination",
         "design_review",
         "existing_condition",
         "requirement_change",
         "other"
        ]
       }
      }
     },
     {
      "name": "filters[priority][]",
      "in": "query",
      "description": "Filter item(s) with matching priority.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "low",
         "medium",
         "high",
         "critical"
        ]
       }
      }
     },
     {
      "name": "filters[trade_id][]",
      "in": "query",
      "description": "Filter item(s) with matching trades.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Filter item(s) within a specific updated at iso8601 datetime range.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[due_date]",
      "in": "query",
      "description": "Filter item(s) within a specific due date iso8601 date range.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Filter item(s) within a specific created at iso8601 datetime range.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort item(s) by an attribute. The default sort is ascending. To sort in descending order, prepend the sort value with a hyphen character '-'",
      "schema": {
       "type": "string",
       "enum": [
        "closed_date",
        "company_then_status",
        "description",
        "due_date",
        "issue_number",
        "issue_type",
        "location",
        "location_then_created_at",
        "location_then_due_date",
        "location_then_issue_number",
        "location_then_issue_type",
        "location_then_priority",
        "location_then_trade",
        "priority",
        "trade",
        "updated_at"
       ]
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe normal view is a subset of the response shown below, and does not include attachments, viewpoints, linked items and updated_by\nThe extended view contains the response shown below.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "filters[overdue]",
      "in": "query",
      "description": "Filter item(s) with matching Overdue.",
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Coordination Issues listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "allOf": [
           {
            "type": "object",
            "description": "Coordination Issue",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 426
             },
             "uuid": {
              "type": "string",
              "description": "Unique identifier for the issue. This is auto-generated attribute if not provided during issue creation.",
              "example": "a00147dd-a698-468a-b082-d277a564cf0c"
             },
             "title": {
              "type": "string",
              "description": "Coordination Issue title. The title can have a maximum of 80 characters.",
              "example": "Plumbing Issue on second floor"
             },
             "description": {
              "type": "string",
              "description": "Coordination Issue description.",
              "example": "Elaborate details on the plumbing issue"
             },
             "status": {
              "type": "string",
              "description": "Status of the issue.",
              "example": "open",
              "enum": [
               "open",
               "in_progress",
               "blocked",
               "unblocked",
               "ready_for_review",
               "moved_to_observation",
               "closed"
              ]
             },
             "issue_number": {
              "type": "integer",
              "description": "Issue Number. A number that can be referred by users to easily identify an issue. Issue number starts from 1 for each project, and is unique per project",
              "example": 2
             },
             "creation_source": {
              "type": "string",
              "description": "Coordination Issue can be created from Procore app or a plugin i.e. a source",
              "example": "navisworks"
             },
             "due_date": {
              "type": "string",
              "description": "Due date of the Coordination Issue. Accepted date formats are \"yyyy-mm-dd\" and \"yyyymmdd\"",
              "example": "2018-08-16"
             },
             "coordination_issue_file": {
              "type": "object",
              "description": "BIM File",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 101
               },
               "name": {
                "type": "string",
                "description": "Name of the file to be associated to a project",
                "example": "101_BLDG_FLR_2.NWF"
               },
               "uuid": {
                "type": "string",
                "description": "Unique UUID associated with the file",
                "example": "a00147dd-a698-468a-b082-d277a564cf0c"
               }
              }
             },
             "project_id": {
              "type": "number",
              "format": "integer",
              "description": "Unique identifier for the project.",
              "example": 29
             },
             "bim_model_id": {
              "type": "number",
              "nullable": true,
              "format": "integer",
              "description": "Model ID",
              "example": 86
             },
             "comments_count": {
              "type": "number",
              "format": "integer",
              "description": "Count of comments",
              "example": 15
             },
             "issue_type": {
              "type": "string",
              "description": "Issue type of the Coordination Issue",
              "example": "building_code"
             },
             "priority": {
              "type": "string",
              "description": "Priority of the Coordination Issue",
              "example": "high"
             },
             "drawing_revision": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 662
               },
               "title": {
                "type": "string",
                "description": "Formatted title of the drawing revision",
                "example": "A001: COVER SHEET Rev.0"
               }
              }
             },
             "trade": {
              "type": "object",
              "title": "Trade",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Trade ID",
                "example": 999
               },
               "name": {
                "type": "string",
                "description": "Trade name",
                "example": "09 - acoustical panels"
               },
               "active": {
                "type": "boolean",
                "description": "Trade availability",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of last update to Trade",
                "example": "2016-08-01T23:33:54Z"
               }
              }
             },
             "origin": {
              "type": "object",
              "description": "Origin source for a Coordination Issue",
              "properties": {
               "title": {
                "type": "string",
                "description": "Title of the origin item",
                "example": "My BcfTopic"
               },
               "origin_id": {
                "type": "string",
                "description": "Id of the origin item",
                "example": "7b3c8752-e03e-417f-bb57-46bb5aca1139"
               },
               "origin_type": {
                "type": "string",
                "description": "Type of origin item",
                "example": "BcfTopic"
               },
               "deep_link_url": {
                "type": "string",
                "description": "Deep link URL to the origin item",
                "example": "https://some-company.com/bcf-topics/156"
               }
              }
             },
             "location": {
              "type": "object",
              "title": "Location",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Location ID",
                "example": 15504
               },
               "name": {
                "type": "string",
                "description": "Location name",
                "example": "North Building>First Floor>Electrical Closet"
               },
               "node_name": {
                "type": "string",
                "description": "Location node name",
                "example": "Electrical Closet"
               },
               "parent_id": {
                "type": "integer",
                "description": "Location parent id",
                "example": 788866,
                "nullable": true
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of Location creation",
                "example": "2016-08-01T23:33:54Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of last update to Location",
                "example": "2016-08-01T23:33:54Z"
               },
               "code": {
                "type": "string",
                "description": "The unique code for this Location",
                "example": "L1",
                "nullable": true
               }
              }
             },
             "assignee": {
              "type": "object",
              "description": "Login Information",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID uniquely identifying this user.",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User's display name, formatted first name then last name.",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User's login email address.",
                "example": "johndoe@example.com"
               },
               "company_name": {
                "type": "string",
                "nullable": true,
                "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                "example": "Builders Inc."
               },
               "locale": {
                "type": "string",
                "nullable": true,
                "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                "example": "ko"
               }
              }
             },
             "created_by": {
              "type": "object",
              "description": "Login Information",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID uniquely identifying this user.",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User's display name, formatted first name then last name.",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User's login email address.",
                "example": "johndoe@example.com"
               },
               "company_name": {
                "type": "string",
                "nullable": true,
                "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                "example": "Builders Inc."
               },
               "locale": {
                "type": "string",
                "nullable": true,
                "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                "example": "ko"
               }
              }
             },
             "updated_by": {
              "type": "object",
              "description": "Login Information",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID uniquely identifying this user.",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User's display name, formatted first name then last name.",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User's login email address.",
                "example": "johndoe@example.com"
               },
               "company_name": {
                "type": "string",
                "nullable": true,
                "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                "example": "Builders Inc."
               },
               "locale": {
                "type": "string",
                "nullable": true,
                "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                "example": "ko"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-20T09:36:42Z"
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "viewpoints": {
              "type": "array",
              "description": "An array of viewpoints",
              "items": {
               "type": "object",
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 206
                  },
                  "bim_file_id": {
                   "type": "integer",
                   "description": "ID of associated BIM File",
                   "example": 809
                  },
                  "view_folder_id": {
                   "type": "integer",
                   "nullable": true,
                   "description": "ID of associated BIM View Folder",
                   "example": 316
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Created date",
                   "example": "2018-04-19T09:36:42Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Updated date",
                   "example": "2018-04-20T09:36:42Z"
                  },
                  "snapshot": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "description": "A mime type or a file extension",
                     "example": "image/png"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  },
                  "name": {
                   "type": "string",
                   "description": "Viewpoint name",
                   "example": "Mechanical Conflict View"
                  },
                  "render_mode": {
                   "type": "string",
                   "description": "Viewer render mode when viewpoint is applied",
                   "enum": [
                    "shaded",
                    "xray"
                   ]
                  },
                  "uuid": {
                   "type": "string",
                   "nullable": true,
                   "description": "Unique identifier for the Extraction viewpoint",
                   "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "visibility": {
                   "type": "object",
                   "nullable": true,
                   "description": "Object Visibility settings",
                   "properties": {
                    "default_visibility": {
                     "type": "boolean"
                    },
                    "exceptions": {
                     "type": "object",
                     "description": "Group of model objects represented as an array of object ids, or object ranges",
                     "properties": {
                      "object_ids": {
                       "type": "array",
                       "description": "Array of object ids",
                       "example": [
                        24861,
                        46732
                       ],
                       "items": {
                        "type": "integer"
                       }
                      },
                      "object_ranges": {
                       "type": "array",
                       "description": "Array of object ranges. A range is an array containing two numbers, the first represents object id, the second represents the number of objects in the range.",
                       "example": [
                        [
                         24862,
                         24
                        ]
                       ],
                       "items": {
                        "type": "array",
                        "items": {
                         "type": "integer"
                        },
                        "minItems": 2,
                        "maxItems": 2
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "camera_data": {
                   "type": "string",
                   "description": "JSON string representation of camera position",
                   "example": "{\"perspective_camera\":{\"camera_direction\":{\"x\":-0.24,\"y\":-0.14,\"z\":-0.99},\"camera_up_vector\":{\"x\":-0.17,\"y\":-0.74,\"z\":0.14},\"camera_view_point\":{\"x\":-13.86,\"y\":64.83,\"z\":31.9},\"field_of_view\":0.78,\"target_distance\":9.18,\"unit\":\"ft\"}}"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "redlines_data": {
                   "type": "string",
                   "description": "JSON string representation of markup",
                   "example": "{\"lines\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":-0.29,\"y\":-0.53,\"z\":0.0}}],\"texts\":[{\"origin\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"text\":\"Issue\",\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1}}],\"arrows\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.16,\"y\":0.33,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":0.58,\"y\":0.25,\"z\":0.0}}],\"ellipses\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"max_point\":{\"x\":0.11,\"y\":-0.25,\"z\":0.0},\"min_point\":{\"x\":0.31,\"y\":0.68,\"z\":0.0},\"thickness\":3}]}"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "sections_data": {
                   "type": "string",
                   "description": "JSON string representation of sections applied to a 3d model as a set of clipping planes",
                   "example": "[{\"location\":{\"x\":0.0,\"y\":0.0,\"z\":28.82},\"direction\":{\"x\":0,\"y\":0,\"z\":-1},\"unit\":\"ft\"},{\"location\":{\"x\":10.0,\"y\":50.0,\"z\":68.82},\"direction\":{\"x\":2,\"y\":4,\"z\":-6}}]"
                  }
                 }
                }
               ]
              }
             },
             "attachments": {
              "type": "array",
              "description": "An array of attachments",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                },
                "viewable": {
                 "type": "boolean",
                 "description": "Boolean value indicating whether or not a viewable document has been created for the file."
                }
               }
              }
             },
             "linked_procore_items": {
              "type": "array",
              "description": "Procore items linked to Coordination Issue",
              "items": {
               "allOf": [
                {
                 "type": "object",
                 "description": "CoordinationIssue Procore Item Association details",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 101
                  },
                  "coordination_issue_id": {
                   "type": "integer",
                   "description": "Id of the associated Coordination Issue",
                   "example": 426
                  },
                  "item_id": {
                   "type": "integer",
                   "description": "Id of the associated Procore item",
                   "example": 1287
                  },
                  "item_type": {
                   "type": "string",
                   "description": "Type of the associated Procore item",
                   "example": "rfi"
                  },
                  "item_url": {
                   "type": "string",
                   "description": "Deep-link URL to the associated Procore item",
                   "example": "http://app.procore.com/3664/project/rfi/show/16768"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "item_data": {
                   "type": "object",
                   "description": "This field shows data specific to the associated item. If item type is RFI, it will contain attribute subject, number, and has_official_response",
                   "properties": {
                    "has_official_response": {
                     "type": "boolean",
                     "example": true
                    },
                    "subject": {
                     "type": "string",
                     "example": "Construction RFI"
                    },
                    "number": {
                     "type": "string",
                     "example": "84"
                    }
                   }
                  }
                 }
                }
               ]
              }
             },
             "linked_drawings": {
              "type": "array",
              "description": "Details of drawings linked to Coordination Issue",
              "items": {
               "type": "object",
               "description": "CoordinationIssue pinned preview image",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Drawing ID",
                 "example": 667
                },
                "title": {
                 "type": "string",
                 "description": "Formatted title of the drawing",
                 "example": "A201: Floor II Plan"
                },
                "url": {
                 "type": "string",
                 "description": "Procore Web App URL of the drawing",
                 "example": "http://app.procore.com/drawings/1"
                }
               }
              }
             },
             "linked_observation_items": {
              "type": "array",
              "description": "Observation Items linked to Coordination Issue",
              "items": {
               "type": "object",
               "description": "CoordinationIssue linked Observation Item",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 93
                },
                "number": {
                 "type": "string",
                 "description": "Observation Item number",
                 "example": "113"
                },
                "personal": {
                 "type": "boolean",
                 "description": "Observation Item privacy status",
                 "example": true
                },
                "title": {
                 "type": "string",
                 "description": "Formatted Observation Item title",
                 "example": "#113 - Duct and Structural Conflict"
                },
                "url": {
                 "type": "string",
                 "description": "Deep-link URL to Observation Item",
                 "example": "http://app.procore.com/3664/project/observations/items/7142"
                },
                "created_by_id": {
                 "type": "integer",
                 "description": "ID of user that created the Observation Item",
                 "example": 47531
                }
               }
              }
             },
             "document_container_metadata": {
              "type": "object",
              "description": "Document container metadata associated with the Coordination Issue",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID of the document container metadata",
                "example": 1
               },
               "document_container_id": {
                "type": "string",
                "description": "Unique identifier of the document container",
                "example": "container-123"
               },
               "document_revision_id": {
                "type": "string",
                "description": "Unique identifier of the document revision",
                "example": "revision-456"
               },
               "workflows_instance_id": {
                "type": "integer",
                "nullable": true,
                "description": "ID of the associated workflow instance",
                "example": 789
               },
               "pin_id": {
                "type": "string",
                "nullable": true,
                "description": "Unique identifier of the pin",
                "example": "pin-abc-123"
               }
              }
             },
             "document_snapshots": {
              "type": "array",
              "description": "Point-in-time snapshot images of document revisions linked to the Coordination Issue.",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the document snapshot",
                 "example": 42
                },
                "document_container_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "Unique identifier of the document container the source document belongs to",
                 "example": "container-123"
                },
                "document_name": {
                 "type": "string",
                 "maxLength": 255,
                 "nullable": true,
                 "description": "Human-readable name of the source document. Surfaced as the Coordination Issue's source file for outside-workflow (document snapshot) issues. May be null for snapshots created before this field existed.",
                 "example": "Floor Plan.pdf"
                },
                "document_revision_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "Unique identifier of the document revision the snapshot was taken from",
                 "example": "revision-456"
                },
                "document_revision_version_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "Unique identifier of the specific document revision version for this snapshot",
                 "example": "version-789"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp when the snapshot was created",
                 "example": "2018-04-19T09:36:42Z"
                },
                "prostore_file": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer"
                  },
                  "name": {
                   "type": "string",
                   "description": "Base name of the file without its path",
                   "example": "filename.ext"
                  },
                  "content_type": {
                   "type": "string",
                   "nullable": true,
                   "description": "A mime type or a file extension",
                   "example": "application/vnd.ext"
                  },
                  "url": {
                   "type": "string",
                   "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                   "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                  },
                  "viewable": {
                   "type": "boolean",
                   "description": "Boolean value indicating whether or not a viewable document has been created for the file."
                  }
                 }
                }
               }
              }
             },
             "drawing_markup_preview_images": {
              "type": "array",
              "description": "Preview images generated by drawings with Coordination Issue Pin",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "drawing_revision_id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              }
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field.",
                  "example": "custom field value"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "number",
                  "description": "The value of the custom field.",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field.",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 1
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "The unique identifier of the list of values (LOV) entry.",
                     "example": 2
                    },
                    "label": {
                     "type": "string",
                     "description": "The label of the list of values (LOV) entry.",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Coordination Issues",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/coordination_issues/recycle_bin',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[assignee_company_id][]': 'SOME_ARRAY_VALUE',\n    'filters[assignee_id][]': 'SOME_ARRAY_VALUE',\n    'filters[created_by_id][]': 'SOME_ARRAY_VALUE',\n    'filters[created_by_company_id][]': 'SOME_ARRAY_VALUE',\n    'filters[created_from][]': 'SOME_ARRAY_VALUE',\n    'filters[ids][]': 'SOME_ARRAY_VALUE',\n    'filters[location_id][]': 'SOME_ARRAY_VALUE',\n    'filters[include_sublocations]': 'SOME_BOOLEAN_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[coordination_issue_file_id][]': 'SOME_ARRAY_VALUE',\n    'filters[status][]': 'SOME_ARRAY_VALUE',\n    'filters[issue_type][]': 'SOME_ARRAY_VALUE',\n    'filters[priority][]': 'SOME_ARRAY_VALUE',\n    'filters[trade_id][]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[due_date]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[overdue]': 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/coordination_issues/recycle_bin?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bassignee_company_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_company_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcreated_from%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bids%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcoordination_issue_file_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bissue_type%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bpriority%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/coordination_issues/recycle_bin?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bassignee_company_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_company_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcreated_from%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bids%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcoordination_issue_file_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bissue_type%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bpriority%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/coordination_issues/recycle_bin?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bassignee_company_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_company_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcreated_from%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bids%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcoordination_issue_file_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bissue_type%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bpriority%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&view=SOME_STRING_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Sort by Created By company name and then by status and finally by issue number",
      "description": "A new optional sort allows the index endpoint to sort by company name of the issue creator, then by status, and finally by issue number in descending order.\n\nThe status order will always be:\n\n* `unblocked`\n* `open`\n* `ready_for_review`\n* `blocked`\n* `moved_to_observation`\n* `closed`\n\nTo use the new sort, include the following query parameter: `?sort=company_then_status`",
      "endpoint": "GET /coordination_issues/recycle_bin",
      "type": "feature",
      "breaking": false,
      "datestamp": "2020-12-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issue-recycle-bin?version=1.0#list-coordination-issues-in-recycle-bin"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Coordination Issues in Recycle Bin (POST)",
    "description": "Lists deleted Coordination Issues in the recycle bin via POST. Use when query parameters would exceed URL length limits.",
    "tags": [
     "Coordination Issues"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Same query parameters as GET recycle_bin, passed in body."
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Recycle bin Coordination Issues listed successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "allOf": [
           {
            "type": "object",
            "description": "Coordination Issue",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 426
             },
             "uuid": {
              "type": "string",
              "description": "Unique identifier for the issue. This is auto-generated attribute if not provided during issue creation.",
              "example": "a00147dd-a698-468a-b082-d277a564cf0c"
             },
             "title": {
              "type": "string",
              "description": "Coordination Issue title. The title can have a maximum of 80 characters.",
              "example": "Plumbing Issue on second floor"
             },
             "description": {
              "type": "string",
              "description": "Coordination Issue description.",
              "example": "Elaborate details on the plumbing issue"
             },
             "status": {
              "type": "string",
              "description": "Status of the issue.",
              "example": "open",
              "enum": [
               "open",
               "in_progress",
               "blocked",
               "unblocked",
               "ready_for_review",
               "moved_to_observation",
               "closed"
              ]
             },
             "issue_number": {
              "type": "integer",
              "description": "Issue Number. A number that can be referred by users to easily identify an issue. Issue number starts from 1 for each project, and is unique per project",
              "example": 2
             },
             "creation_source": {
              "type": "string",
              "description": "Coordination Issue can be created from Procore app or a plugin i.e. a source",
              "example": "navisworks"
             },
             "due_date": {
              "type": "string",
              "description": "Due date of the Coordination Issue. Accepted date formats are \"yyyy-mm-dd\" and \"yyyymmdd\"",
              "example": "2018-08-16"
             },
             "coordination_issue_file": {
              "type": "object",
              "description": "BIM File",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 101
               },
               "name": {
                "type": "string",
                "description": "Name of the file to be associated to a project",
                "example": "101_BLDG_FLR_2.NWF"
               },
               "uuid": {
                "type": "string",
                "description": "Unique UUID associated with the file",
                "example": "a00147dd-a698-468a-b082-d277a564cf0c"
               }
              }
             },
             "project_id": {
              "type": "number",
              "format": "integer",
              "description": "Unique identifier for the project.",
              "example": 29
             },
             "bim_model_id": {
              "type": "number",
              "nullable": true,
              "format": "integer",
              "description": "Model ID",
              "example": 86
             },
             "comments_count": {
              "type": "number",
              "format": "integer",
              "description": "Count of comments",
              "example": 15
             },
             "issue_type": {
              "type": "string",
              "description": "Issue type of the Coordination Issue",
              "example": "building_code"
             },
             "priority": {
              "type": "string",
              "description": "Priority of the Coordination Issue",
              "example": "high"
             },
             "drawing_revision": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 662
               },
               "title": {
                "type": "string",
                "description": "Formatted title of the drawing revision",
                "example": "A001: COVER SHEET Rev.0"
               }
              }
             },
             "trade": {
              "type": "object",
              "title": "Trade",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Trade ID",
                "example": 999
               },
               "name": {
                "type": "string",
                "description": "Trade name",
                "example": "09 - acoustical panels"
               },
               "active": {
                "type": "boolean",
                "description": "Trade availability",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of last update to Trade",
                "example": "2016-08-01T23:33:54Z"
               }
              }
             },
             "origin": {
              "type": "object",
              "description": "Origin source for a Coordination Issue",
              "properties": {
               "title": {
                "type": "string",
                "description": "Title of the origin item",
                "example": "My BcfTopic"
               },
               "origin_id": {
                "type": "string",
                "description": "Id of the origin item",
                "example": "7b3c8752-e03e-417f-bb57-46bb5aca1139"
               },
               "origin_type": {
                "type": "string",
                "description": "Type of origin item",
                "example": "BcfTopic"
               },
               "deep_link_url": {
                "type": "string",
                "description": "Deep link URL to the origin item",
                "example": "https://some-company.com/bcf-topics/156"
               }
              }
             },
             "location": {
              "type": "object",
              "title": "Location",
              "nullable": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Location ID",
                "example": 15504
               },
               "name": {
                "type": "string",
                "description": "Location name",
                "example": "North Building>First Floor>Electrical Closet"
               },
               "node_name": {
                "type": "string",
                "description": "Location node name",
                "example": "Electrical Closet"
               },
               "parent_id": {
                "type": "integer",
                "description": "Location parent id",
                "example": 788866,
                "nullable": true
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of Location creation",
                "example": "2016-08-01T23:33:54Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of last update to Location",
                "example": "2016-08-01T23:33:54Z"
               },
               "code": {
                "type": "string",
                "description": "The unique code for this Location",
                "example": "L1",
                "nullable": true
               }
              }
             },
             "assignee": {
              "type": "object",
              "description": "Login Information",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID uniquely identifying this user.",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User's display name, formatted first name then last name.",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User's login email address.",
                "example": "johndoe@example.com"
               },
               "company_name": {
                "type": "string",
                "nullable": true,
                "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                "example": "Builders Inc."
               },
               "locale": {
                "type": "string",
                "nullable": true,
                "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                "example": "ko"
               }
              }
             },
             "created_by": {
              "type": "object",
              "description": "Login Information",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID uniquely identifying this user.",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User's display name, formatted first name then last name.",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User's login email address.",
                "example": "johndoe@example.com"
               },
               "company_name": {
                "type": "string",
                "nullable": true,
                "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                "example": "Builders Inc."
               },
               "locale": {
                "type": "string",
                "nullable": true,
                "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                "example": "ko"
               }
              }
             },
             "updated_by": {
              "type": "object",
              "description": "Login Information",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID uniquely identifying this user.",
                "example": 1738090
               },
               "name": {
                "type": "string",
                "description": "User's display name, formatted first name then last name.",
                "example": "John Doe"
               },
               "login": {
                "type": "string",
                "description": "User's login email address.",
                "example": "johndoe@example.com"
               },
               "company_name": {
                "type": "string",
                "nullable": true,
                "description": "User Company name. If the user belongs to a vendor, the vendor name will be returned.",
                "example": "Builders Inc."
               },
               "locale": {
                "type": "string",
                "nullable": true,
                "description": "IETF locale code for the user's language preference (e.g., 'en', 'ko'). Null when the user has not set a locale.",
                "example": "ko"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-20T09:36:42Z"
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "viewpoints": {
              "type": "array",
              "description": "An array of viewpoints",
              "items": {
               "type": "object",
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 206
                  },
                  "bim_file_id": {
                   "type": "integer",
                   "description": "ID of associated BIM File",
                   "example": 809
                  },
                  "view_folder_id": {
                   "type": "integer",
                   "nullable": true,
                   "description": "ID of associated BIM View Folder",
                   "example": 316
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Created date",
                   "example": "2018-04-19T09:36:42Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Updated date",
                   "example": "2018-04-20T09:36:42Z"
                  },
                  "snapshot": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer"
                    },
                    "name": {
                     "type": "string",
                     "description": "Base name of the file without its path",
                     "example": "filename.ext"
                    },
                    "content_type": {
                     "type": "string",
                     "description": "A mime type or a file extension",
                     "example": "image/png"
                    },
                    "url": {
                     "type": "string",
                     "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                     "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                    }
                   }
                  },
                  "name": {
                   "type": "string",
                   "description": "Viewpoint name",
                   "example": "Mechanical Conflict View"
                  },
                  "render_mode": {
                   "type": "string",
                   "description": "Viewer render mode when viewpoint is applied",
                   "enum": [
                    "shaded",
                    "xray"
                   ]
                  },
                  "uuid": {
                   "type": "string",
                   "nullable": true,
                   "description": "Unique identifier for the Extraction viewpoint",
                   "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "visibility": {
                   "type": "object",
                   "nullable": true,
                   "description": "Object Visibility settings",
                   "properties": {
                    "default_visibility": {
                     "type": "boolean"
                    },
                    "exceptions": {
                     "type": "object",
                     "description": "Group of model objects represented as an array of object ids, or object ranges",
                     "properties": {
                      "object_ids": {
                       "type": "array",
                       "description": "Array of object ids",
                       "example": [
                        24861,
                        46732
                       ],
                       "items": {
                        "type": "integer"
                       }
                      },
                      "object_ranges": {
                       "type": "array",
                       "description": "Array of object ranges. A range is an array containing two numbers, the first represents object id, the second represents the number of objects in the range.",
                       "example": [
                        [
                         24862,
                         24
                        ]
                       ],
                       "items": {
                        "type": "array",
                        "items": {
                         "type": "integer"
                        },
                        "minItems": 2,
                        "maxItems": 2
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "camera_data": {
                   "type": "string",
                   "description": "JSON string representation of camera position",
                   "example": "{\"perspective_camera\":{\"camera_direction\":{\"x\":-0.24,\"y\":-0.14,\"z\":-0.99},\"camera_up_vector\":{\"x\":-0.17,\"y\":-0.74,\"z\":0.14},\"camera_view_point\":{\"x\":-13.86,\"y\":64.83,\"z\":31.9},\"field_of_view\":0.78,\"target_distance\":9.18,\"unit\":\"ft\"}}"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "redlines_data": {
                   "type": "string",
                   "description": "JSON string representation of markup",
                   "example": "{\"lines\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":-0.29,\"y\":-0.53,\"z\":0.0}}],\"texts\":[{\"origin\":{\"x\":-0.29,\"y\":-0.15,\"z\":0.0},\"text\":\"Issue\",\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1}}],\"arrows\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"end_point\":{\"x\":-0.16,\"y\":0.33,\"z\":0.0},\"thickness\":3,\"start_point\":{\"x\":0.58,\"y\":0.25,\"z\":0.0}}],\"ellipses\":[{\"color\":{\"a\":1.0,\"b\":0,\"g\":0,\"r\":1},\"max_point\":{\"x\":0.11,\"y\":-0.25,\"z\":0.0},\"min_point\":{\"x\":0.31,\"y\":0.68,\"z\":0.0},\"thickness\":3}]}"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "sections_data": {
                   "type": "string",
                   "description": "JSON string representation of sections applied to a 3d model as a set of clipping planes",
                   "example": "[{\"location\":{\"x\":0.0,\"y\":0.0,\"z\":28.82},\"direction\":{\"x\":0,\"y\":0,\"z\":-1},\"unit\":\"ft\"},{\"location\":{\"x\":10.0,\"y\":50.0,\"z\":68.82},\"direction\":{\"x\":2,\"y\":4,\"z\":-6}}]"
                  }
                 }
                }
               ]
              }
             },
             "attachments": {
              "type": "array",
              "description": "An array of attachments",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "nullable": true,
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                },
                "viewable": {
                 "type": "boolean",
                 "description": "Boolean value indicating whether or not a viewable document has been created for the file."
                }
               }
              }
             },
             "linked_procore_items": {
              "type": "array",
              "description": "Procore items linked to Coordination Issue",
              "items": {
               "allOf": [
                {
                 "type": "object",
                 "description": "CoordinationIssue Procore Item Association details",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 101
                  },
                  "coordination_issue_id": {
                   "type": "integer",
                   "description": "Id of the associated Coordination Issue",
                   "example": 426
                  },
                  "item_id": {
                   "type": "integer",
                   "description": "Id of the associated Procore item",
                   "example": 1287
                  },
                  "item_type": {
                   "type": "string",
                   "description": "Type of the associated Procore item",
                   "example": "rfi"
                  },
                  "item_url": {
                   "type": "string",
                   "description": "Deep-link URL to the associated Procore item",
                   "example": "http://app.procore.com/3664/project/rfi/show/16768"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "item_data": {
                   "type": "object",
                   "description": "This field shows data specific to the associated item. If item type is RFI, it will contain attribute subject, number, and has_official_response",
                   "properties": {
                    "has_official_response": {
                     "type": "boolean",
                     "example": true
                    },
                    "subject": {
                     "type": "string",
                     "example": "Construction RFI"
                    },
                    "number": {
                     "type": "string",
                     "example": "84"
                    }
                   }
                  }
                 }
                }
               ]
              }
             },
             "linked_drawings": {
              "type": "array",
              "description": "Details of drawings linked to Coordination Issue",
              "items": {
               "type": "object",
               "description": "CoordinationIssue pinned preview image",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Drawing ID",
                 "example": 667
                },
                "title": {
                 "type": "string",
                 "description": "Formatted title of the drawing",
                 "example": "A201: Floor II Plan"
                },
                "url": {
                 "type": "string",
                 "description": "Procore Web App URL of the drawing",
                 "example": "http://app.procore.com/drawings/1"
                }
               }
              }
             },
             "linked_observation_items": {
              "type": "array",
              "description": "Observation Items linked to Coordination Issue",
              "items": {
               "type": "object",
               "description": "CoordinationIssue linked Observation Item",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 93
                },
                "number": {
                 "type": "string",
                 "description": "Observation Item number",
                 "example": "113"
                },
                "personal": {
                 "type": "boolean",
                 "description": "Observation Item privacy status",
                 "example": true
                },
                "title": {
                 "type": "string",
                 "description": "Formatted Observation Item title",
                 "example": "#113 - Duct and Structural Conflict"
                },
                "url": {
                 "type": "string",
                 "description": "Deep-link URL to Observation Item",
                 "example": "http://app.procore.com/3664/project/observations/items/7142"
                },
                "created_by_id": {
                 "type": "integer",
                 "description": "ID of user that created the Observation Item",
                 "example": 47531
                }
               }
              }
             },
             "document_container_metadata": {
              "type": "object",
              "description": "Document container metadata associated with the Coordination Issue",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID of the document container metadata",
                "example": 1
               },
               "document_container_id": {
                "type": "string",
                "description": "Unique identifier of the document container",
                "example": "container-123"
               },
               "document_revision_id": {
                "type": "string",
                "description": "Unique identifier of the document revision",
                "example": "revision-456"
               },
               "workflows_instance_id": {
                "type": "integer",
                "nullable": true,
                "description": "ID of the associated workflow instance",
                "example": 789
               },
               "pin_id": {
                "type": "string",
                "nullable": true,
                "description": "Unique identifier of the pin",
                "example": "pin-abc-123"
               }
              }
             },
             "document_snapshots": {
              "type": "array",
              "description": "Point-in-time snapshot images of document revisions linked to the Coordination Issue.",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the document snapshot",
                 "example": 42
                },
                "document_container_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "Unique identifier of the document container the source document belongs to",
                 "example": "container-123"
                },
                "document_name": {
                 "type": "string",
                 "maxLength": 255,
                 "nullable": true,
                 "description": "Human-readable name of the source document. Surfaced as the Coordination Issue's source file for outside-workflow (document snapshot) issues. May be null for snapshots created before this field existed.",
                 "example": "Floor Plan.pdf"
                },
                "document_revision_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "Unique identifier of the document revision the snapshot was taken from",
                 "example": "revision-456"
                },
                "document_revision_version_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "Unique identifier of the specific document revision version for this snapshot",
                 "example": "version-789"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp when the snapshot was created",
                 "example": "2018-04-19T09:36:42Z"
                },
                "prostore_file": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer"
                  },
                  "name": {
                   "type": "string",
                   "description": "Base name of the file without its path",
                   "example": "filename.ext"
                  },
                  "content_type": {
                   "type": "string",
                   "nullable": true,
                   "description": "A mime type or a file extension",
                   "example": "application/vnd.ext"
                  },
                  "url": {
                   "type": "string",
                   "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                   "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                  },
                  "viewable": {
                   "type": "boolean",
                   "description": "Boolean value indicating whether or not a viewable document has been created for the file."
                  }
                 }
                }
               }
              }
             },
             "drawing_markup_preview_images": {
              "type": "array",
              "description": "Preview images generated by drawings with Coordination Issue Pin",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer"
                },
                "drawing_revision_id": {
                 "type": "integer"
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "filename.ext"
                },
                "content_type": {
                 "type": "string",
                 "description": "A mime type or a file extension",
                 "example": "application/vnd.ext"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
                }
               }
              }
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field.",
                  "example": "custom field value"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "number",
                  "description": "The value of the custom field.",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field.",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 1
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "The unique identifier of the list of values (LOV) entry.",
                     "example": 2
                    },
                    "label": {
                     "type": "string",
                     "description": "The label of the list of values (LOV) entry.",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/coordination_issues/recycle_bin',\n  headers: {'content-type': 'application/json'},\n  body: {},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/coordination_issues/recycle_bin\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/coordination_issues/recycle_bin \\\n  --header 'content-type: application/json' \\\n  --data '{}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/coordination_issues/recycle_bin\"),\n    Content = new StringContent(\"{}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/coordination_issues/recycle_bin/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Coordination Issue ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Coordination Issue in Recycle Bin",
    "description": "Return a single Coordination Issue item in Recycle Bin.",
    "tags": [
     "Coordination Issues"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The compact view contains only ids.\nThe normal view is a subset of the response shown below, and does not include attachments, viewpoints, linked items and updated_by\nThe extended view contains the response shown below.\nThe default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "description": "Coordination Issue",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 426
            },
            "uuid": {
             "type": "string",
             "description": "Unique identifier for the issue. This is auto-generated attribute if not provided during issue creation.",
             "example": "a00147dd-a698-468a-b082-d277a564cf0c"
            },
            "title": {
             "type": "string",
             "description": "Coordination Issue title. The title can have a maximum of 80 characters.",
             "example": "Plumbing Issue on second floor"
            },
            "description": {
             "type": "string",
             "description": "Coordination Issue description.",
             "example": "Elaborate details on the plumbing issue"
            },
            "status": {
             "type": "string",
             "description": "Status of the issue.",
             "example": "open",
             "enum": [
              "open",
              "in_progress",
              "blocked",
              "unblocked",
              "ready_for_review",
              "moved_to_observation",
              "closed"
             ]
            },
            "issue_number": {
             "type": "integer",
             "description": "Issue Number. A number that can be referred by users to easily identify an issue. Issue number starts from 1 for each project, and is unique per project",
             "example": 2
            },
            "creation_source": {
             "type": "string",
             "description": "Coordination Issue can be created from Procore app or a plugin i.e. a source",
             "example": "navisworks"
            },
            "due_date": {
             "type": "string",
             "description": "Due date of the Coordination Issue. Accepted date formats are \"yyyy-mm-dd\" and \"yyyymmdd\"",
             "example": "2018-08-16"
            },
            "coordination_issue_file": {
             "type": "object",
             "description": "BIM File",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 101
              },
              "name": {
               "type": "string",
               "description": "Name of the file to be associated to a project",
               "example": "101_BLDG_FLR_2.NWF"
              },
              "uuid": {
               "type": "string",
               "description": "Unique UUID associated with the file",
               "example": "a00147dd-a698-468a-b082-d277a564cf0c"
              }
             }
            },
            "project_id": {
             "type": "number",
             "format": "integer",
             "description": "Unique identifier for the project.",
             "example": 29
            },
            "bim_model_id": {
             "type": "number",
             "nullable": true,
             "format": "integer",
             "description": "Model ID",
             "example": 86
            },
            "comments_count": {
             "type": "number",
             "format": "integer",
             "description": "Count of comments",
             "example": 15
            },
            "issue_type": {
             "type": "string",
             "description": "Issue type of the Coordination Issue",
             "example": "building_code"
            },
            "priority": {
             "type": "string",
             "description": "Priority of the Coordination Issue",
             "example": "high"
            },
            "drawing_revision": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 662
              },
              "title": {
               "type": "string",
               "description": "Formatted title of the drawing revision",
               "example": "A001: COVER SHEET Rev.0"
              }
             }
            },
            "trade": {
             "type": "object",
             "title": "Trade",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "origin": {
             "type": "object",
             "description": "Origin source for a Coordination Issue",
             "properties": {
              "title": {
               "type": "string",
               "description": "Title of the origin item",
               "example": "My BcfTopic"
              },
              "origin_id": {
               "type": "string",
               "description": "Id of the origin item",
               "example": "7b3c8752-e03e-417f-bb57-46bb5aca1139"
              },
              "origin_type": {
[...]
