{
 "openapi": "3.0.0",
 "info": {
  "title": "Coordination Issues Workflow Issues",
  "x-product-category": "Project Management",
  "x-tool-category": "Coordination Issues",
  "x-resource-name": "Coordination Issues Workflow Issues",
  "version": "2.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues/workflow_issues": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Coordination Issues Workflow Issues",
    "description": "Returns a list of Coordination Issues that have associated workflow metadata.\nIssues are filtered based on user visibility rules:\n- Project Admins can see all workflow issues\n- Issue creators can see issues they created\n- Issue assignees can see issues assigned to them\n- Workflow members can see issues for workflows they are part of\nInclude `permissions` in the query to get `can_edit` field for each issue.",
    "tags": [
     "Coordination Issues"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filters[assignee_company_id]",
      "in": "query",
      "description": "Filter item(s) with matching assignee vendor companies.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[assignee_id]",
      "in": "query",
      "description": "Filter item(s) with matching assignee user IDs.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Return item(s) created by the specified User IDs",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_by_company_id]",
      "in": "query",
      "description": "Filter item(s) with matching created by vendor companies.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_from]",
      "in": "query",
      "description": "Filter item(s) by creation source.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Filter by specific Coordination Issue IDs.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Filters by specific location (Note: Use *either* this or location_id_with_sublocations, but not both)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[include_sublocations]",
      "in": "query",
      "description": "Use together with `filters[location_id]`",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Return item(s) with the specified statuses",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[issue_type]",
      "in": "query",
      "description": "Filter item(s) by issue type.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[priority]",
      "in": "query",
      "description": "Filter item(s) by priority level.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[trade_id]",
      "in": "query",
      "description": "Trade ID",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[due_date]",
      "in": "query",
      "description": "Filter Coordination Issues by due date.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort results by field. Direction (asc/desc) controlled by presence or absence of '-' prefix.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "-created_at",
        "updated_at",
        "-updated_at",
        "due_date",
        "-due_date",
        "title",
        "-title",
        "status",
        "-status",
        "assignee",
        "-assignee",
        "created_by",
        "-created_by",
        "is_private",
        "-is_private"
       ]
      }
     },
     {
      "name": "filters[overdue]",
      "in": "query",
      "description": "Filter for overdue Coordination Issues.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[document_container_id]",
      "in": "query",
      "description": "Filter Coordination Issues by document container ID(s).",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[document_revision_id]",
      "in": "query",
      "description": "Filter Coordination Issues by document revision ID(s).",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[source_file_id]",
      "in": "query",
      "required": false,
      "description": "Filter by source BIM file ID",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies the view to use for the response. Use 'normal' for basic fields, 'extended' for full details including viewpoints and attachments.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "extended"
       ],
       "default": "normal"
      }
     },
     {
      "name": "viewpoint_format",
      "in": "query",
      "required": false,
      "description": "Specifies the format for viewpoint data. Use 'procore' for Procore format, 'bcf' for BCF format.",
      "schema": {
       "type": "string",
       "enum": [
        "procore",
        "bcf"
       ],
       "default": "procore"
      }
     },
     {
      "name": "included",
      "in": "query",
      "required": false,
      "description": "Comma-separated list of fields to include in the response.",
      "schema": {
       "type": "string",
       "example": "assignee,title,uuid,location"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Workflow Issues listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Coordination Issues with workflow metadata",
           "items": {
            "type": "object",
            "description": "Coordination Issue with extended details",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique identifier for the Coordination Issue",
              "example": "426"
             },
             "uuid": {
              "type": "string",
              "description": "UUID of the Coordination Issue",
              "example": "a00147dd-a698-468a-b082-d277a564cf0c"
             },
             "title": {
              "type": "string",
              "description": "Title of the Coordination Issue (max 80 characters)",
              "example": "Plumbing Issue on second floor"
             },
             "description": {
              "type": "string",
              "description": "Description of the Coordination Issue",
              "example": "Elaborate details on the plumbing issue"
             },
             "status": {
              "type": "string",
              "description": "Status of the issue",
              "enum": [
               "open",
               "in_progress",
               "blocked",
               "unblocked",
               "ready_for_review",
               "moved_to_observation",
               "closed"
              ],
              "example": "open"
             },
             "is_private": {
              "type": "boolean",
              "description": "Whether the Coordination Issue is private.",
              "example": false
             },
             "issue_number": {
              "type": "integer",
              "description": "Issue number unique per project",
              "example": 2
             },
             "creation_source": {
              "type": "string",
              "description": "Source from which the issue was created",
              "example": "navisworks"
             },
             "due_date": {
              "type": "string",
              "format": "date",
              "description": "Due date of the Coordination Issue",
              "example": "2018-08-16"
             },
             "closed_date": {
              "type": "string",
              "format": "date",
              "nullable": true,
              "description": "Date when the issue was closed"
             },
             "project_id": {
              "type": "string",
              "description": "Unique identifier for the project",
              "example": "29"
             },
             "bim_model_id": {
              "type": "string",
              "nullable": true,
              "description": "ID of the BIM model the issue is associated with.",
              "example": "86"
             },
             "comments_count": {
              "type": "integer",
              "description": "Count of comments",
              "example": 15
             },
             "viewpoint_count": {
              "type": "integer",
              "description": "Number of BIM viewpoints associated with the issue.",
              "example": 3
             },
             "issue_type": {
              "type": "string",
              "description": "Issue type of the Coordination Issue",
              "example": "building_code"
             },
             "priority": {
              "type": "string",
              "description": "Priority of the Coordination Issue",
              "example": "high"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-20T09:36:42Z"
             },
             "bim_file": {
              "type": "object",
              "description": "BIM file associated with the issue",
              "properties": {
               "id": {
                "type": "string",
                "description": "BIM file ID",
                "example": "123"
               },
               "name": {
                "type": "string",
                "description": "BIM file name"
               },
               "uuid": {
                "type": "string",
                "description": "UUID of the BIM file",
                "example": "a1b2c3d4-0000-4000-8000-000000000000"
               }
              }
             },
             "source_file": {
              "type": "object",
              "description": "Source document or model the issue originated from. Empty when no source is resolved.",
              "properties": {
               "id": {
                "type": "string",
                "description": "Identifier of the source document, snapshot, or BIM file."
               },
               "name": {
                "type": "string",
                "description": "Name of the source document or model."
               },
               "type": {
                "type": "string",
                "description": "Kind of source the issue originated from.",
                "enum": [
                 "model_manager",
                 "document",
                 "bim_file"
                ],
                "example": "document"
               }
              }
             },
             "drawing_revision": {
              "type": "object",
              "description": "Drawing revision linked to the issue",
              "properties": {
               "id": {
                "type": "string",
                "description": "Drawing revision ID",
                "example": "662"
               },
               "title": {
                "type": "string",
                "description": "Formatted title of the drawing revision",
                "example": "A001: COVER SHEET Rev.0"
               }
              }
             },
             "trade": {
              "type": "object",
              "description": "Trade associated with the issue",
              "properties": {
               "id": {
                "type": "string",
                "description": "Trade ID",
                "example": "999"
               },
               "name": {
                "type": "string",
                "description": "Trade name",
                "example": "09 - acoustical panels"
               },
               "active": {
                "type": "boolean",
                "description": "Trade availability",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of last update",
                "example": "2016-08-01T23:33:54Z"
               }
              }
             },
             "coordination_issue_type": {
              "type": "object",
              "description": "Company-configurable issue type assigned to the Coordination Issue.",
              "properties": {
               "id": {
                "type": "string",
                "description": "Issue type ID",
                "example": "12"
               },
               "name": {
                "type": "string",
                "description": "Issue type name",
                "example": "Clash"
               },
               "active": {
                "type": "boolean",
                "description": "Whether the issue type is active.",
                "example": true
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the issue type was created.",
                "example": "2018-04-19T09:36:42Z"
               },
               "position": {
                "type": "integer",
                "description": "Ordering position of the issue type.",
                "example": 1
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the issue type was last updated.",
                "example": "2018-04-20T09:36:42Z"
               },
               "global": {
                "type": "boolean",
                "description": "Whether the issue type is a default provided by Procore.",
                "example": false
               },
               "deletable": {
                "type": "boolean",
                "description": "Whether the issue type can be deleted.",
                "example": true
               }
              }
             },
             "coordination_issue_priority": {
              "type": "object",
              "description": "Company-configurable priority assigned to the Coordination Issue.",
              "properties": {
               "id": {
                "type": "string",
                "description": "Priority ID",
                "example": "8"
               },
               "name": {
                "type": "string",
                "description": "Priority name",
                "example": "High"
               },
               "active": {
                "type": "boolean",
                "description": "Whether the priority is active.",
                "example": true
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the priority was created.",
                "example": "2018-04-19T09:36:42Z"
               },
               "position": {
                "type": "integer",
                "description": "Ordering position of the priority.",
                "example": 1
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the priority was last updated.",
                "example": "2018-04-20T09:36:42Z"
               },
               "global": {
                "type": "boolean",
                "description": "Whether the priority is a default provided by Procore.",
                "example": false
               },
               "deletable": {
                "type": "boolean",
                "description": "Whether the priority can be deleted.",
                "example": true
               }
              }
             },
             "origin": {
              "type": "object",
              "description": "Origin source for the Coordination Issue",
              "properties": {
               "title": {
                "type": "string",
                "description": "Title of the origin item",
                "example": "My BcfTopic"
               },
               "origin_id": {
                "type": "string",
                "description": "ID of the origin item",
                "example": "7b3c8752-e03e-417f-bb57-46bb5aca1139"
               },
               "origin_type": {
                "type": "string",
                "description": "Type of origin item",
                "example": "BcfTopic"
               },
               "deep_link_url": {
                "type": "string",
                "description": "Deep link URL to the origin item",
                "example": "https://some-company.com/bcf-topics/156"
               }
              }
             },
             "location": {
              "type": "object",
              "description": "Location information",
              "properties": {
               "id": {
                "type": "string",
                "description": "Location ID",
                "example": "5"
               },
               "name": {
                "type": "string",
                "description": "Location name"
               }
              }
             },
             "assignee": {
              "type": "object",
              "description": "Assignee information",
              "properties": {
               "id": {
                "type": "string",
                "description": "User ID",
                "example": "624"
               },
               "name": {
                "type": "string",
                "description": "User name"
               },
               "login": {
                "type": "string",
                "description": "User email"
               },
               "locale": {
                "type": "string",
                "description": "User locale"
               },
               "company_name": {
                "type": "string",
                "description": "Company name"
               }
              }
             },
             "created_by": {
              "type": "object",
              "description": "Creator information",
              "properties": {
               "id": {
                "type": "string",
                "description": "User ID",
                "example": "100"
               },
               "name": {
                "type": "string",
                "description": "User name"
               },
               "login": {
                "type": "string",
                "description": "User email"
               },
               "locale": {
                "type": "string",
                "description": "User locale"
               },
               "company_name": {
                "type": "string",
                "description": "Company name"
               }
              }
             },
             "updated_by": {
              "type": "object",
              "description": "User who last updated the issue",
              "properties": {
               "id": {
                "type": "string",
                "description": "User ID",
                "example": "101"
               },
               "name": {
                "type": "string",
                "description": "User name"
               },
               "login": {
                "type": "string",
                "description": "User email"
               },
               "locale": {
                "type": "string",
                "description": "User locale"
               },
               "company_name": {
                "type": "string",
                "description": "Company name"
               }
              }
             },
             "watchers": {
              "type": "array",
              "description": "Users watching the Coordination Issue.",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "User ID",
                 "example": "624"
                },
                "name": {
                 "type": "string",
                 "description": "User name"
                },
                "login": {
                 "type": "string",
                 "description": "User email"
                },
                "locale": {
                 "type": "string",
                 "description": "User locale"
                },
                "company_name": {
                 "type": "string",
                 "description": "Company name"
                }
               }
              }
             },
             "attachments": {
              "type": "array",
              "description": "Array of attachments",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Attachment ID",
                 "example": "456"
                },
                "name": {
                 "type": "string",
                 "description": "File name"
                },
                "content_type": {
                 "type": "string",
                 "description": "MIME type"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attachment"
                }
               }
              }
             },
             "document_snapshots": {
              "type": "array",
              "description": "Snapshots of the source documents captured for the issue.",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Document snapshot ID",
                 "example": "77"
                },
                "document_container_id": {
                 "type": "string",
                 "description": "Unique identifier of the document container.",
                 "example": "container-123"
                },
                "document_name": {
                 "type": "string",
                 "description": "Name of the document."
                },
                "document_revision_id": {
                 "type": "string",
                 "description": "Unique identifier of the document revision.",
                 "example": "revision-456"
                },
                "document_revision_version_id": {
                 "type": "string",
                 "description": "Unique identifier of the document revision version.",
                 "example": "version-789"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Timestamp when the snapshot was created.",
                 "example": "2018-04-19T09:36:42Z"
                },
                "prostore_file": {
                 "type": "object",
                 "description": "Stored file backing the document snapshot.",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "File ID",
                   "example": "456"
                  },
                  "name": {
                   "type": "string",
                   "description": "File name"
                  },
                  "url": {
                   "type": "string",
                   "description": "URL to download the file."
                  },
                  "content_type": {
                   "type": "string",
                   "description": "MIME type"
                  },
                  "viewable": {
                   "type": "boolean",
                   "description": "Whether the file can be viewed in Procore.",
                   "example": true
                  }
                 }
                }
               }
              }
             },
             "linked_procore_items": {
              "type": "array",
              "description": "Procore items linked to the Coordination Issue",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Association ID",
                 "example": "101"
                },
                "coordination_issue_id": {
                 "type": "string",
                 "description": "ID of the associated Coordination Issue",
                 "example": "426"
                },
                "item_id": {
                 "type": "string",
                 "description": "ID of the associated Procore item",
                 "example": "1287"
                },
                "item_type": {
                 "type": "string",
                 "description": "Type of the associated Procore item",
                 "example": "rfi"
                },
                "item_url": {
                 "type": "string",
                 "description": "Deep-link URL to the associated Procore item"
                },
                "item_data": {
                 "type": "object",
                 "description": "Data specific to the associated item"
                }
               }
              }
             },
             "linked_drawings": {
              "type": "array",
              "description": "Details of drawings linked to Coordination Issue",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Drawing ID",
                 "example": "667"
                },
                "title": {
                 "type": "string",
                 "description": "Formatted title of the drawing"
                },
                "url": {
                 "type": "string",
                 "description": "Procore Web App URL of the drawing"
                }
               }
              }
             },
             "linked_observation_items": {
              "type": "array",
              "description": "Observation items linked to the Coordination Issue",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Observation item ID",
                 "example": "789"
                },
                "name": {
                 "type": "string",
                 "description": "Observation item name"
                }
               }
              }
             },
             "document_container_metadata": {
              "type": "object",
              "description": "Document container metadata",
              "properties": {
               "id": {
                "type": "string",
                "description": "ID of the document container metadata",
                "example": "1"
               },
               "document_container_id": {
                "type": "string",
                "description": "Unique identifier of the document container",
                "example": "container-123"
               },
               "document_revision_id": {
                "type": "string",
                "description": "Unique identifier of the document revision",
                "example": "revision-456"
               },
               "document_name": {
                "type": "string",
                "description": "Name of the document"
               },
               "workflows_instance_id": {
                "type": "string",
                "nullable": true,
                "description": "ID of the associated workflow instance",
                "example": "789"
               },
               "workflow_name": {
                "type": "string",
                "nullable": true,
                "description": "Name of the associated workflow"
               },
               "pin_id": {
                "type": "string",
                "nullable": true,
                "description": "Unique identifier of the pin",
                "example": "pin-abc-123"
               }
              }
             },
             "drawing_markup_preview_images": {
              "type": "array",
              "description": "Preview images generated by drawings with Coordination Issue Pin",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Preview image ID",
                 "example": "100"
                },
                "drawing_revision_id": {
                 "type": "string",
                 "description": "Drawing revision ID",
                 "example": "662"
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file"
                },
                "content_type": {
                 "type": "string",
                 "description": "MIME type"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the file"
                }
               }
              }
             },
             "coordination_issue_bim_viewpoints": {
              "type": "array",
              "description": "BIM viewpoints associated with the Coordination Issue.",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Viewpoint mapping ID",
                 "example": "45"
                },
                "bim_viewpoint_id": {
                 "type": "string",
                 "description": "ID of the associated BIM viewpoint.",
                 "example": "981"
                },
                "is_primary": {
                 "type": "boolean",
                 "description": "Whether this is the primary viewpoint for the issue.",
                 "example": true
                }
               }
              }
             },
             "custom_fields": {
              "type": "object",
              "description": "Custom fields associated with the Coordination Issue",
              "additionalProperties": true
             },
             "permissions": {
              "type": "object",
              "description": "Permission flags for the current user on this Coordination Issue.",
              "properties": {
               "can_edit": {
                "type": "boolean",
                "description": "Whether the current user can edit this Coordination Issue. Always false when the associated workflow instance is terminated or completed.",
                "example": true
               },
               "can_update_status": {
                "type": "boolean",
                "description": "Whether the current user can change the status of this Coordination Issue. Present only when a status transition or elevation action is available.",
                "example": true
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Coordination Issues",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/workflow_issues',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[assignee_company_id]': 'SOME_ARRAY_VALUE',\n    'filters[assignee_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_by_company_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_from]': 'SOME_ARRAY_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[location_id]': 'SOME_STRING_VALUE',\n    'filters[include_sublocations]': 'SOME_BOOLEAN_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[issue_type]': 'SOME_ARRAY_VALUE',\n    'filters[priority]': 'SOME_ARRAY_VALUE',\n    'filters[trade_id]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[due_date]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    'filters[overdue]': 'SOME_BOOLEAN_VALUE',\n    'filters[document_container_id]': 'SOME_ARRAY_VALUE',\n    'filters[document_revision_id]': 'SOME_ARRAY_VALUE',\n    'filters[source_file_id]': 'SOME_ARRAY_VALUE',\n    view: 'SOME_STRING_VALUE',\n    viewpoint_format: 'SOME_STRING_VALUE',\n    included: 'assignee,title,uuid,location'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/workflow_issues?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bassignee_company_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_company_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_from%5D=SOME_ARRAY_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_STRING_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bissue_type%5D=SOME_ARRAY_VALUE&filters%5Bpriority%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE&filters%5Bdocument_container_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_revision_id%5D=SOME_ARRAY_VALUE&filters%5Bsource_file_id%5D=SOME_ARRAY_VALUE&view=SOME_STRING_VALUE&viewpoint_format=SOME_STRING_VALUE&included=assignee%2Ctitle%2Cuuid%2Clocation\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/workflow_issues?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bassignee_company_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_company_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_from%5D=SOME_ARRAY_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_STRING_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bissue_type%5D=SOME_ARRAY_VALUE&filters%5Bpriority%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE&filters%5Bdocument_container_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_revision_id%5D=SOME_ARRAY_VALUE&filters%5Bsource_file_id%5D=SOME_ARRAY_VALUE&view=SOME_STRING_VALUE&viewpoint_format=SOME_STRING_VALUE&included=assignee%2Ctitle%2Cuuid%2Clocation'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/workflow_issues?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bassignee_company_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_company_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_from%5D=SOME_ARRAY_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_STRING_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bissue_type%5D=SOME_ARRAY_VALUE&filters%5Bpriority%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE&filters%5Bdocument_container_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_revision_id%5D=SOME_ARRAY_VALUE&filters%5Bsource_file_id%5D=SOME_ARRAY_VALUE&view=SOME_STRING_VALUE&viewpoint_format=SOME_STRING_VALUE&included=assignee%2Ctitle%2Cuuid%2Clocation\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added new Workflow Issues endpoint",
      "description": "Added a new endpoint to list Coordination Issues that have associated workflow metadata.\nIssues are filtered based on user visibility rules:\n* Project Admins can see all workflow issues\n* Issue creators can see issues they created\n* Issue assignees can see issues assigned to them\n* Workflow members can see issues for workflows they are part of",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/coordination_issues/workflow_issues",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-03-02",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issues-workflow-issues?version=2.0#list-coordination-issues-workflow-issues"
     },
     {
      "summary": "Added permissions field to responses",
      "description": "All Workflow Issues responses now include a `permissions` object with a `can_edit` boolean\nindicating whether the current user can edit the issue. The value is `false` when the\nassociated workflow instance is terminated or completed.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/coordination_issues/workflow_issues",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-03-18",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issues-workflow-issues?version=2.0#list-coordination-issues-workflow-issues"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues/workflow_issues/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Coordination Issue ID",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "12345"
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Coordination Issue Workflow Issue",
    "description": "Returns a specific Coordination Issue that has associated workflow metadata.\nAccess is controlled by the same visibility rules as the index endpoint:\n- Project Admins can access all workflow issues\n- Issue creators can access issues they created\n- Issue assignees can access issues assigned to them\n- Workflow members can access issues for workflows they are part of",
    "tags": [
     "Coordination Issues"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies the view to use for the response. Use 'normal' for basic fields, 'extended' for full details including viewpoints and attachments.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "extended"
       ],
       "default": "normal"
      }
     },
     {
      "name": "viewpoint_format",
      "in": "query",
      "required": false,
      "description": "Specifies the format for viewpoint data. Use 'procore' for Procore format, 'bcf' for BCF format.",
      "schema": {
       "type": "string",
       "enum": [
        "procore",
        "bcf"
       ],
       "default": "procore"
      }
     },
     {
      "name": "included",
      "in": "query",
      "required": false,
      "description": "Comma-separated list of fields to include in the response.",
      "schema": {
       "type": "string",
       "example": "assignee,title,uuid,location"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Workflow Issue returned successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "object",
           "description": "Coordination Issue with extended details",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for the Coordination Issue",
             "example": "426"
            },
            "uuid": {
             "type": "string",
             "description": "UUID of the Coordination Issue",
             "example": "a00147dd-a698-468a-b082-d277a564cf0c"
            },
            "title": {
             "type": "string",
             "description": "Title of the Coordination Issue (max 80 characters)",
             "example": "Plumbing Issue on second floor"
            },
            "description": {
             "type": "string",
             "description": "Description of the Coordination Issue",
             "example": "Elaborate details on the plumbing issue"
            },
            "status": {
             "type": "string",
             "description": "Status of the issue",
             "enum": [
              "open",
              "in_progress",
              "blocked",
              "unblocked",
              "ready_for_review",
              "moved_to_observation",
              "closed"
             ],
             "example": "open"
            },
            "is_private": {
             "type": "boolean",
             "description": "Whether the Coordination Issue is private.",
             "example": false
            },
            "issue_number": {
             "type": "integer",
             "description": "Issue number unique per project",
             "example": 2
            },
            "creation_source": {
             "type": "string",
             "description": "Source from which the issue was created",
             "example": "navisworks"
            },
            "due_date": {
             "type": "string",
             "format": "date",
             "description": "Due date of the Coordination Issue",
             "example": "2018-08-16"
            },
            "closed_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Date when the issue was closed"
            },
            "project_id": {
             "type": "string",
             "description": "Unique identifier for the project",
             "example": "29"
            },
            "bim_model_id": {
             "type": "string",
             "nullable": true,
             "description": "ID of the BIM model the issue is associated with.",
             "example": "86"
            },
            "comments_count": {
             "type": "integer",
             "description": "Count of comments",
             "example": 15
            },
            "viewpoint_count": {
             "type": "integer",
             "description": "Number of BIM viewpoints associated with the issue.",
             "example": 3
            },
            "issue_type": {
             "type": "string",
             "description": "Issue type of the Coordination Issue",
             "example": "building_code"
            },
            "priority": {
             "type": "string",
             "description": "Priority of the Coordination Issue",
             "example": "high"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            },
            "bim_file": {
             "type": "object",
             "description": "BIM file associated with the issue",
             "properties": {
              "id": {
               "type": "string",
               "description": "BIM file ID",
               "example": "123"
              },
              "name": {
               "type": "string",
               "description": "BIM file name"
              },
              "uuid": {
               "type": "string",
               "description": "UUID of the BIM file",
               "example": "a1b2c3d4-0000-4000-8000-000000000000"
              }
             }
            },
            "source_file": {
             "type": "object",
             "description": "Source document or model the issue originated from. Empty when no source is resolved.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Identifier of the source document, snapshot, or BIM file."
              },
              "name": {
               "type": "string",
               "description": "Name of the source document or model."
              },
              "type": {
               "type": "string",
               "description": "Kind of source the issue originated from.",
               "enum": [
                "model_manager",
                "document",
                "bim_file"
               ],
               "example": "document"
              }
             }
            },
            "drawing_revision": {
             "type": "object",
             "description": "Drawing revision linked to the issue",
             "properties": {
              "id": {
               "type": "string",
               "description": "Drawing revision ID",
               "example": "662"
              },
              "title": {
               "type": "string",
               "description": "Formatted title of the drawing revision",
               "example": "A001: COVER SHEET Rev.0"
              }
             }
            },
            "trade": {
             "type": "object",
             "description": "Trade associated with the issue",
             "properties": {
              "id": {
               "type": "string",
               "description": "Trade ID",
               "example": "999"
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "coordination_issue_type": {
             "type": "object",
             "description": "Company-configurable issue type assigned to the Coordination Issue.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Issue type ID",
               "example": "12"
              },
              "name": {
               "type": "string",
               "description": "Issue type name",
               "example": "Clash"
              },
              "active": {
               "type": "boolean",
               "description": "Whether the issue type is active.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the issue type was created.",
               "example": "2018-04-19T09:36:42Z"
              },
              "position": {
               "type": "integer",
               "description": "Ordering position of the issue type.",
               "example": 1
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the issue type was last updated.",
               "example": "2018-04-20T09:36:42Z"
              },
              "global": {
               "type": "boolean",
               "description": "Whether the issue type is a default provided by Procore.",
               "example": false
              },
              "deletable": {
               "type": "boolean",
               "description": "Whether the issue type can be deleted.",
               "example": true
              }
             }
            },
            "coordination_issue_priority": {
             "type": "object",
             "description": "Company-configurable priority assigned to the Coordination Issue.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Priority ID",
               "example": "8"
              },
              "name": {
               "type": "string",
               "description": "Priority name",
               "example": "High"
              },
              "active": {
               "type": "boolean",
               "description": "Whether the priority is active.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the priority was created.",
               "example": "2018-04-19T09:36:42Z"
              },
              "position": {
               "type": "integer",
               "description": "Ordering position of the priority.",
               "example": 1
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the priority was last updated.",
               "example": "2018-04-20T09:36:42Z"
              },
              "global": {
               "type": "boolean",
               "description": "Whether the priority is a default provided by Procore.",
               "example": false
              },
              "deletable": {
               "type": "boolean",
               "description": "Whether the priority can be deleted.",
               "example": true
              }
             }
            },
            "origin": {
             "type": "object",
             "description": "Origin source for the Coordination Issue",
             "properties": {
              "title": {
               "type": "string",
               "description": "Title of the origin item",
               "example": "My BcfTopic"
              },
              "origin_id": {
               "type": "string",
               "description": "ID of the origin item",
               "example": "7b3c8752-e03e-417f-bb57-46bb5aca1139"
              },
              "origin_type": {
               "type": "string",
               "description": "Type of origin item",
               "example": "BcfTopic"
              },
              "deep_link_url": {
               "type": "string",
               "description": "Deep link URL to the origin item",
               "example": "https://some-company.com/bcf-topics/156"
              }
             }
            },
            "location": {
             "type": "object",
             "description": "Location information",
             "properties": {
              "id": {
               "type": "string",
               "description": "Location ID",
               "example": "5"
              },
              "name": {
               "type": "string",
               "description": "Location name"
              }
             }
            },
            "assignee": {
             "type": "object",
             "description": "Assignee information",
             "properties": {
              "id": {
               "type": "string",
               "description": "User ID",
               "example": "624"
              },
              "name": {
               "type": "string",
               "description": "User name"
              },
              "login": {
               "type": "string",
               "description": "User email"
              },
              "locale": {
               "type": "string",
               "description": "User locale"
              },
              "company_name": {
               "type": "string",
               "description": "Company name"
              }
             }
            },
            "created_by": {
             "type": "object",
             "description": "Creator information",
             "properties": {
              "id": {
               "type": "string",
               "description": "User ID",
               "example": "100"
              },
              "name": {
               "type": "string",
               "description": "User name"
              },
              "login": {
               "type": "string",
               "description": "User email"
              },
              "locale": {
               "type": "string",
               "description": "User locale"
              },
              "company_name": {
               "type": "string",
               "description": "Company name"
              }
             }
            },
            "updated_by": {
             "type": "object",
             "description": "User who last updated the issue",
             "properties": {
              "id": {
               "type": "string",
               "description": "User ID",
               "example": "101"
              },
              "name": {
               "type": "string",
               "description": "User name"
              },
              "login": {
               "type": "string",
               "description": "User email"
              },
              "locale": {
               "type": "string",
               "description": "User locale"
              },
              "company_name": {
               "type": "string",
               "description": "Company name"
              }
             }
            },
            "watchers": {
             "type": "array",
             "description": "Users watching the Coordination Issue.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "User ID",
                "example": "624"
               },
               "name": {
                "type": "string",
                "description": "User name"
               },
               "login": {
                "type": "string",
                "description": "User email"
               },
               "locale": {
                "type": "string",
                "description": "User locale"
               },
               "company_name": {
                "type": "string",
                "description": "Company name"
               }
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Array of attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Attachment ID",
                "example": "456"
               },
               "name": {
                "type": "string",
                "description": "File name"
               },
               "content_type": {
                "type": "string",
                "description": "MIME type"
               },
               "url": {
                "type": "string",
                "description": "URL to download the attachment"
               }
              }
             }
            },
            "document_snapshots": {
             "type": "array",
             "description": "Snapshots of the source documents captured for the issue.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Document snapshot ID",
                "example": "77"
               },
               "document_container_id": {
                "type": "string",
                "description": "Unique identifier of the document container.",
                "example": "container-123"
               },
               "document_name": {
                "type": "string",
                "description": "Name of the document."
               },
               "document_revision_id": {
                "type": "string",
                "description": "Unique identifier of the document revision.",
                "example": "revision-456"
               },
               "document_revision_version_id": {
                "type": "string",
                "description": "Unique identifier of the document revision version.",
                "example": "version-789"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the snapshot was created.",
                "example": "2018-04-19T09:36:42Z"
               },
               "prostore_file": {
                "type": "object",
                "description": "Stored file backing the document snapshot.",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "File ID",
                  "example": "456"
                 },
                 "name": {
                  "type": "string",
                  "description": "File name"
                 },
                 "url": {
                  "type": "string",
                  "description": "URL to download the file."
                 },
                 "content_type": {
                  "type": "string",
                  "description": "MIME type"
                 },
                 "viewable": {
                  "type": "boolean",
                  "description": "Whether the file can be viewed in Procore.",
                  "example": true
                 }
                }
               }
              }
             }
            },
            "linked_procore_items": {
             "type": "array",
             "description": "Procore items linked to the Coordination Issue",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Association ID",
                "example": "101"
               },
               "coordination_issue_id": {
                "type": "string",
                "description": "ID of the associated Coordination Issue",
                "example": "426"
               },
               "item_id": {
                "type": "string",
                "description": "ID of the associated Procore item",
                "example": "1287"
               },
               "item_type": {
                "type": "string",
                "description": "Type of the associated Procore item",
                "example": "rfi"
               },
               "item_url": {
                "type": "string",
                "description": "Deep-link URL to the associated Procore item"
               },
               "item_data": {
                "type": "object",
                "description": "Data specific to the associated item"
               }
              }
             }
            },
            "linked_drawings": {
             "type": "array",
             "description": "Details of drawings linked to Coordination Issue",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Drawing ID",
                "example": "667"
               },
               "title": {
                "type": "string",
                "description": "Formatted title of the drawing"
               },
               "url": {
                "type": "string",
                "description": "Procore Web App URL of the drawing"
               }
              }
             }
            },
            "linked_observation_items": {
             "type": "array",
             "description": "Observation items linked to the Coordination Issue",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Observation item ID",
                "example": "789"
               },
               "name": {
                "type": "string",
                "description": "Observation item name"
               }
              }
             }
            },
            "document_container_metadata": {
             "type": "object",
             "description": "Document container metadata",
             "properties": {
              "id": {
               "type": "string",
               "description": "ID of the document container metadata",
               "example": "1"
              },
              "document_container_id": {
               "type": "string",
               "description": "Unique identifier of the document container",
               "example": "container-123"
              },
              "document_revision_id": {
               "type": "string",
               "description": "Unique identifier of the document revision",
               "example": "revision-456"
              },
              "document_name": {
               "type": "string",
               "description": "Name of the document"
              },
              "workflows_instance_id": {
               "type": "string",
               "nullable": true,
               "description": "ID of the associated workflow instance",
               "example": "789"
              },
              "workflow_name": {
               "type": "string",
               "nullable": true,
               "description": "Name of the associated workflow"
              },
              "pin_id": {
               "type": "string",
               "nullable": true,
               "description": "Unique identifier of the pin",
               "example": "pin-abc-123"
              }
             }
            },
            "drawing_markup_preview_images": {
             "type": "array",
             "description": "Preview images generated by drawings with Coordination Issue Pin",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Preview image ID",
                "example": "100"
               },
               "drawing_revision_id": {
                "type": "string",
                "description": "Drawing revision ID",
                "example": "662"
               },
               "name": {
                "type": "string",
                "description": "Base name of the file"
               },
               "content_type": {
                "type": "string",
                "description": "MIME type"
               },
               "url": {
                "type": "string",
                "description": "URL to download the file"
               }
              }
             }
            },
            "coordination_issue_bim_viewpoints": {
             "type": "array",
             "description": "BIM viewpoints associated with the Coordination Issue.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Viewpoint mapping ID",
                "example": "45"
               },
               "bim_viewpoint_id": {
                "type": "string",
                "description": "ID of the associated BIM viewpoint.",
                "example": "981"
               },
               "is_primary": {
                "type": "boolean",
                "description": "Whether this is the primary viewpoint for the issue.",
                "example": true
               }
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "description": "Custom fields associated with the Coordination Issue",
             "additionalProperties": true
            },
            "permissions": {
             "type": "object",
             "description": "Permission flags for the current user on this Coordination Issue.",
             "properties": {
              "can_edit": {
               "type": "boolean",
               "description": "Whether the current user can edit this Coordination Issue. Always false when the associated workflow instance is terminated or completed.",
               "example": true
              },
              "can_update_status": {
               "type": "boolean",
               "description": "Whether the current user can change the status of this Coordination Issue. Present only when a status transition or elevation action is available.",
               "example": true
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Coordination Issues",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Coordination Issue not found or user does not have visibility",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/workflow_issues/12345',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    viewpoint_format: 'SOME_STRING_VALUE',\n    included: 'assignee,title,uuid,location'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/workflow_issues/12345?view=SOME_STRING_VALUE&viewpoint_format=SOME_STRING_VALUE&included=assignee%2Ctitle%2Cuuid%2Clocation\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/workflow_issues/12345?view=SOME_STRING_VALUE&viewpoint_format=SOME_STRING_VALUE&included=assignee%2Ctitle%2Cuuid%2Clocation'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/workflow_issues/12345?view=SOME_STRING_VALUE&viewpoint_format=SOME_STRING_VALUE&included=assignee%2Ctitle%2Cuuid%2Clocation\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added new Workflow Issues show endpoint",
      "description": "Added a new endpoint to retrieve a specific Coordination Issue that has associated workflow metadata.\nAccess is controlled by the same visibility rules as the index endpoint:\n* Project Admins can access all workflow issues\n* Issue creators can access issues they created\n* Issue assignees can access issues assigned to them\n* Workflow members can access issues for workflows they are part of",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/coordination_issues/workflow_issues/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-03-02",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issues-workflow-issues?version=2.0#show-coordination-issue-workflow-issue"
     },
     {
      "summary": "Added permissions field to responses",
      "description": "All Workflow Issues responses now include a `permissions` object with a `can_edit` boolean\nindicating whether the current user can edit the issue. The value is `false` when the\nassociated workflow instance is terminated or completed.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/coordination_issues/workflow_issues/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-03-18",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issues-workflow-issues?version=2.0#show-coordination-issue-workflow-issue"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Coordination Issue Workflow Issue",
    "description": "Updates a specific Coordination Issue that has associated workflow metadata.\nAccess is controlled by the same visibility rules as other workflow issue endpoints:\n- Project Admins can update all workflow issues\n- Issue creators can update issues they created\n- Issue assignees can update issues assigned to them\n- Workflow members can update issues for workflows they are part of",
    "tags": [
     "Coordination Issues"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "coordination_issue": {
          "type": "object",
          "properties": {
           "title": {
            "type": "string",
            "description": "Title of the Coordination Issue (max 80 characters)",
            "example": "Plumbing Issue on second floor"
           },
           "description": {
            "type": "string",
            "description": "Description of the Coordination Issue",
            "example": "Plumbing conflicts with light fixtures"
           },
           "status": {
            "type": "string",
            "description": "Status of the Coordination Issue. Must be open, ready_for_review or closed. Only issue assignee can set ready_for_review.",
            "enum": [
             "open",
             "closed",
             "ready_for_review"
            ],
            "example": "closed"
           },
           "location_id": {
            "type": "string",
            "description": "Location where the issue is present. The location must be in the same project as the project_id",
            "example": "5"
           },
           "assignee_id": {
            "type": "string",
            "description": "ID of Procore user that should be assigned the issue",
            "example": "12345"
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "description": "Due date of the Coordination Issue",
            "example": "2018-08-16"
           },
           "issue_type": {
            "type": "string",
            "description": "Issue Type of the Coordination Issue",
            "example": "building_code"
           },
           "priority": {
            "type": "string",
            "description": "Priority of the Coordination Issue",
            "example": "high"
           },
           "trade_id": {
            "type": "string",
            "description": "Trade associated with the Coordination Issue",
            "example": "999"
           },
           "origin": {
            "type": "string",
            "nullable": true,
            "description": "Delete origin association. Only 'null' value accepted",
            "example": null
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Workflow Issue updated successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "object",
           "description": "Coordination Issue with extended details",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for the Coordination Issue",
             "example": "426"
            },
            "uuid": {
             "type": "string",
             "description": "UUID of the Coordination Issue",
             "example": "a00147dd-a698-468a-b082-d277a564cf0c"
            },
            "title": {
             "type": "string",
             "description": "Title of the Coordination Issue (max 80 characters)",
             "example": "Plumbing Issue on second floor"
            },
            "description": {
             "type": "string",
             "description": "Description of the Coordination Issue",
             "example": "Elaborate details on the plumbing issue"
            },
            "status": {
             "type": "string",
             "description": "Status of the issue",
             "enum": [
              "open",
              "in_progress",
              "blocked",
              "unblocked",
              "ready_for_review",
              "moved_to_observation",
              "closed"
             ],
             "example": "open"
            },
            "is_private": {
             "type": "boolean",
             "description": "Whether the Coordination Issue is private.",
             "example": false
            },
            "issue_number": {
             "type": "integer",
             "description": "Issue number unique per project",
             "example": 2
            },
            "creation_source": {
             "type": "string",
             "description": "Source from which the issue was created",
             "example": "navisworks"
            },
            "due_date": {
             "type": "string",
             "format": "date",
             "description": "Due date of the Coordination Issue",
             "example": "2018-08-16"
            },
            "closed_date": {
             "type": "string",
             "format": "date",
             "nullable": true,
             "description": "Date when the issue was closed"
            },
            "project_id": {
             "type": "string",
             "description": "Unique identifier for the project",
             "example": "29"
            },
            "bim_model_id": {
             "type": "string",
             "nullable": true,
             "description": "ID of the BIM model the issue is associated with.",
             "example": "86"
            },
            "comments_count": {
             "type": "integer",
             "description": "Count of comments",
             "example": 15
            },
            "viewpoint_count": {
             "type": "integer",
             "description": "Number of BIM viewpoints associated with the issue.",
             "example": 3
            },
            "issue_type": {
             "type": "string",
             "description": "Issue type of the Coordination Issue",
             "example": "building_code"
            },
            "priority": {
             "type": "string",
             "description": "Priority of the Coordination Issue",
             "example": "high"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Created date",
             "example": "2018-04-19T09:36:42Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Updated date",
             "example": "2018-04-20T09:36:42Z"
            },
            "bim_file": {
             "type": "object",
             "description": "BIM file associated with the issue",
             "properties": {
              "id": {
               "type": "string",
               "description": "BIM file ID",
               "example": "123"
              },
              "name": {
               "type": "string",
               "description": "BIM file name"
              },
              "uuid": {
               "type": "string",
               "description": "UUID of the BIM file",
               "example": "a1b2c3d4-0000-4000-8000-000000000000"
              }
             }
            },
            "source_file": {
             "type": "object",
             "description": "Source document or model the issue originated from. Empty when no source is resolved.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Identifier of the source document, snapshot, or BIM file."
              },
              "name": {
               "type": "string",
               "description": "Name of the source document or model."
              },
              "type": {
               "type": "string",
               "description": "Kind of source the issue originated from.",
               "enum": [
                "model_manager",
                "document",
                "bim_file"
               ],
               "example": "document"
              }
             }
            },
            "drawing_revision": {
             "type": "object",
             "description": "Drawing revision linked to the issue",
             "properties": {
              "id": {
               "type": "string",
               "description": "Drawing revision ID",
               "example": "662"
              },
              "title": {
               "type": "string",
               "description": "Formatted title of the drawing revision",
               "example": "A001: COVER SHEET Rev.0"
              }
             }
            },
            "trade": {
             "type": "object",
             "description": "Trade associated with the issue",
             "properties": {
              "id": {
               "type": "string",
               "description": "Trade ID",
               "example": "999"
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "coordination_issue_type": {
             "type": "object",
             "description": "Company-configurable issue type assigned to the Coordination Issue.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Issue type ID",
               "example": "12"
              },
              "name": {
               "type": "string",
               "description": "Issue type name",
               "example": "Clash"
              },
              "active": {
               "type": "boolean",
               "description": "Whether the issue type is active.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the issue type was created.",
               "example": "2018-04-19T09:36:42Z"
              },
              "position": {
               "type": "integer",
               "description": "Ordering position of the issue type.",
               "example": 1
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the issue type was last updated.",
               "example": "2018-04-20T09:36:42Z"
              },
              "global": {
               "type": "boolean",
               "description": "Whether the issue type is a default provided by Procore.",
               "example": false
              },
              "deletable": {
               "type": "boolean",
               "description": "Whether the issue type can be deleted.",
               "example": true
              }
             }
            },
            "coordination_issue_priority": {
             "type": "object",
             "description": "Company-configurable priority assigned to the Coordination Issue.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Priority ID",
               "example": "8"
              },
              "name": {
               "type": "string",
               "description": "Priority name",
               "example": "High"
              },
              "active": {
               "type": "boolean",
               "description": "Whether the priority is active.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the priority was created.",
[...]
