{
 "openapi": "3.0.0",
 "info": {
  "title": "Coordination Issue Status Changes",
  "x-product-category": "Project Management",
  "x-tool-category": "Coordination Issues",
  "x-resource-name": "Coordination Issue Status Changes",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/coordination_issues/{id}/status_changes": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List status change history for a Coordination Issue",
    "description": "This endpoint returns the status change history for the specified CoordinationIssue. The status change history is sorted by most recent first.",
    "tags": [
     "Coordination Issues"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Coordination Issue ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The extended view provides what is shown below.\nThe normal view is the same as the extended view but excludes attribute created_by, linked_rfi and linked_observation_item.\nThe compact view returns ids only.\nThe default view is normal.\nBoth linked_rfi or linked_observation_item can be empty objects, or at most one of them is populated.",
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "normal",
        "extended"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Coordination Issue Status Change",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this status change.",
            "example": 101
           },
           "coordination_issue_id": {
            "type": "integer",
            "description": "ID of the parent Coordination Issue.",
            "example": 123
           },
           "old_status": {
            "type": "string",
            "description": "Value of the status prior to change",
            "example": "open",
            "enum": [
             "open",
             "in_progress",
             "blocked",
             "unblocked",
             "ready_for_review",
             "moved_to_observation",
             "closed"
            ]
           },
           "new_status": {
            "type": "string",
            "description": "Value of the status following the change",
            "example": "closed",
            "enum": [
             "open",
             "in_progress",
             "blocked",
             "unblocked",
             "ready_for_review",
             "moved_to_observation",
             "closed"
            ]
           },
           "created_by_id": {
            "type": "integer",
            "description": "ID of the user who made the status change.",
            "example": 577
           },
           "created_by": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "login": {
                "type": "string",
                "description": "Login email address of the user who made the status change.",
                "example": "carl.contractor@example.com"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID of the user who made the status change.",
                "example": 161072
               },
               "name": {
                "type": "string",
                "description": "Display name of the user who made the status change.",
                "example": "Carl the Contractor"
               }
              }
             }
            ]
           },
           "linked_rfi": {
            "allOf": [
             {
              "type": "object",
              "description": "CoordinationIssue Procore Item Association details",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for this Procore item association.",
                "example": 101
               },
               "coordination_issue_id": {
                "type": "integer",
                "description": "ID of the associated Coordination Issue.",
                "example": 426
               },
               "item_id": {
                "type": "integer",
                "description": "Id of the associated Procore item",
                "example": 1287
               },
               "item_type": {
                "type": "string",
                "description": "Type of the associated Procore item",
                "example": "rfi"
               },
               "item_url": {
                "type": "string",
                "description": "Deep-link URL to the associated Procore item",
                "example": "http://app.procore.com/3664/project/rfi/show/16768"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "item_data": {
                "type": "object",
                "description": "This field shows data specific to the associated item. If item type is RFI, it will contain attribute subject, number, and has_official_response",
                "properties": {
                 "has_official_response": {
                  "type": "boolean",
                  "description": "Whether the associated RFI has an official response.",
                  "example": true
                 },
                 "subject": {
                  "type": "string",
                  "description": "Subject of the associated RFI.",
                  "example": "Construction RFI"
                 },
                 "number": {
                  "type": "string",
                  "description": "Number of the associated RFI.",
                  "example": "84"
                 }
                }
               }
              }
             }
            ]
           },
           "linked_observation_item": {
            "type": "object",
            "description": "CoordinationIssue linked Observation Item",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 93
             },
             "number": {
              "type": "string",
              "description": "Observation Item number",
              "example": "113"
             },
             "personal": {
              "type": "boolean",
              "description": "Observation Item privacy status",
              "example": true
             },
             "title": {
              "type": "string",
              "description": "Formatted Observation Item title",
              "example": "#113 - Duct and Structural Conflict"
             },
             "url": {
              "type": "string",
              "description": "Deep-link URL to Observation Item",
              "example": "http://app.procore.com/3664/project/observations/items/7142"
             },
             "created_by_id": {
              "type": "integer",
              "description": "ID of user that created the Observation Item",
              "example": 47531
             }
            }
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the status change was recorded.",
            "example": "2018-05-08T13:21:20Z"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/coordination_issues/%7Bid%7D/status_changes',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/coordination_issues/%7Bid%7D/status_changes?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/coordination_issues/%7Bid%7D/status_changes?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/coordination_issues/%7Bid%7D/status_changes?project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}