{
 "openapi": "3.0.0",
 "info": {
  "title": "Coordination Issues (REST v2.0)",
  "x-product-category": "Project Management",
  "x-tool-category": "Coordination Issues",
  "x-resource-name": "Coordination Issues",
  "version": "2.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "operationId": "listCoordinationIssues",
    "tags": [
     "Coordination Issues"
    ],
    "summary": "List coordination issues for a project (REST v2.0)",
    "description": "Returns a paginated list of coordination issues visible to the user within the project.\n\nSupports `view=ids_only` for `{ \"data\": [<id>, ...] }` (JSON numbers from `pluck(:id)`).\n\n Query `included` controls which attributes are present on each item (see schema description).\n Include `permissions` in the query to get `can_edit` field for each issue.\n\n When `save_sticky_filters` is truthy, list filters may be persisted for the tool (sticky filters).\n\n **`filters[is_private]`** narrows to public (`false`) or private (`true`) issues. Private-issue\n filtering may be unavailable in some projects, in which case all issues remain public.\n",
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "ids_only"
       ]
      },
      "description": "When `ids_only`, response is id list only (no full blueprint objects)."
     },
     {
      "name": "save_sticky_filters",
      "in": "query",
      "required": false,
      "description": "When true, persist current filters for the coordination issues tool where supported.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "included",
      "in": "query",
      "required": false,
      "description": "Comma-separated blueprint field names (e.g. `assignee,title,uuid,location,is_private`). When omitted or empty,\nall conditional fields are included.\n",
      "schema": {
       "type": "string",
       "example": "assignee,title,uuid,location,is_private"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filters[assignee_company_id]",
      "in": "query",
      "description": "Filter item(s) with matching assignee vendor companies.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[assignee_id]",
      "in": "query",
      "description": "Filter item(s) with matching assignee user IDs.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Return item(s) created by the specified User IDs",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_by_company_id]",
      "in": "query",
      "description": "Filter item(s) with matching created by vendor companies.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_from]",
      "in": "query",
      "description": "Filter item(s) by creation source.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[ids]",
      "in": "query",
      "required": false,
      "description": "Return only coordination issues with these ids (see `CoordinationIssues::Filter` / `with_ids`).",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Filters by specific location (Note: Use *either* this or location_id_with_sublocations, but not both)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[include_sublocations]",
      "in": "query",
      "description": "Use together with `filters[location_id]`",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Return item(s) with the specified statuses",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[issue_type]",
      "in": "query",
      "description": "Filter item(s) by issue type.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[priority]",
      "in": "query",
      "description": "Filter item(s) by priority level.",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[trade_id]",
      "in": "query",
      "description": "Trade ID",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[due_date]",
      "in": "query",
      "description": "Filter Coordination Issues by due date.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort results by field. Direction (asc/desc) controlled by presence or absence of '-' prefix.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "-created_at",
        "updated_at",
        "-updated_at",
        "due_date",
        "-due_date",
        "title",
        "-title",
        "status",
        "-status",
        "assignee",
        "-assignee",
        "created_by",
        "-created_by",
        "is_private",
        "-is_private"
       ]
      }
     },
     {
      "name": "filters[overdue]",
      "in": "query",
      "description": "Filter for overdue Coordination Issues.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[document_container_id]",
      "in": "query",
      "description": "Filter Coordination Issues by document container ID(s).",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[document_revision_id]",
      "in": "query",
      "description": "Filter Coordination Issues by document revision ID(s).",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[coordination_issue_file_id]",
      "in": "query",
      "required": false,
      "description": "Filter by BIM / coordination issue file id(s).",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[watcher_id]",
      "in": "query",
      "required": false,
      "description": "Filter by watcher user id(s).",
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[is_private]",
      "in": "query",
      "description": "Filter by private flag. When the `enable-ci-private` feature is inactive for the project, all issues behave as public\nfor visibility and this filter has limited effect. Values are booleans (`true` = private, `false` = public).\n",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "boolean"
       }
      }
     },
     {
      "name": "filters[include_deleted]",
      "in": "query",
      "required": false,
      "description": "Controls visibility of soft-deleted coordination issues (recycle bin).\n- `only`: return only soft-deleted issues\n- `with`: return all issues including deleted ones\n- omitted (default): return only active issues\nRequires `view_deleted_coordination_issue` permission when set.\n",
      "schema": {
       "type": "string",
       "enum": [
        "only",
        "with"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK \u2014 paginated issues or ids when `view=ids_only`",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "required": [
            "data"
           ],
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "description": "Rendered by `V2::CoordinationIssueBlueprint`. **`id` is always present.** Other keys depend on `included`:\nwhen `included` is omitted or empty, all conditional blueprint fields are serialized; when `included`\nlists comma-separated names, only those fields (plus `id`) appear. The BIM file association is keyed\n**`bim_file`** (not `coordination_issue_file`). Nested user objects use the identity-with-company shape\n(e.g. `email`, `name`).\n",
              "required": [
               "id"
              ],
              "additionalProperties": true,
              "properties": {
               "id": {
                "type": "string",
                "example": "426"
               },
               "uuid": {
                "type": "string",
                "format": "uuid"
               },
               "title": {
                "type": "string"
               },
               "description": {
                "type": "string"
               },
               "status": {
                "type": "string",
                "description": "Current status (e.g. `open`, `closed`, `in_progress`). In projects where `in_progress` is unavailable,\nissues stored as `in_progress` may serialize as `open`.\n"
               },
               "issue_number": {
                "type": "integer"
               },
               "creation_source": {
                "type": "string"
               },
               "is_private": {
                "type": "boolean",
                "description": "Present when `included` contains `is_private` or when `included` is omitted (all fields). Indicates a private coordination issue when `true`."
               },
               "issue_type": {
                "type": "string",
                "nullable": true
               },
               "priority": {
                "type": "string",
                "nullable": true
               },
               "coordination_issue_type": {
                "type": "object",
                "description": "Configurable issue type record (`CompanyConfigurableBlueprint`: `id`, `name`, `active`, `position`,\n`global`, `deletable`, timestamps). Present when `included` contains `coordination_issue_type` or is omitted.\n",
                "additionalProperties": true
               },
               "coordination_issue_priority": {
                "type": "object",
                "description": "Configurable priority record (`CompanyConfigurableBlueprint`: `id`, `name`, `active`, `position`,\n`global`, `deletable`, timestamps). Present when `included` contains `coordination_issue_priority` or is omitted.\n",
                "additionalProperties": true
               },
               "due_date": {
                "type": "string",
                "format": "date",
                "nullable": true
               },
               "closed_date": {
                "type": "string",
                "format": "date",
                "nullable": true
               },
               "project_id": {
                "type": "string"
               },
               "bim_model_id": {
                "type": "string",
                "nullable": true
               },
               "created_at": {
                "type": "string",
                "format": "date-time"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time"
               },
               "comments_count": {
                "type": "integer"
               },
               "viewpoint_count": {
                "type": "integer",
                "description": "Number of viewpoints attached to this coordination issue."
               },
               "coordination_issue_bim_viewpoints": {
                "type": "array",
                "description": "Viewpoint mappings on this issue (`CoordinationIssueBimViewpointBlueprint` view `:normal`). Present when\n`included` contains `coordination_issue_bim_viewpoints` or is omitted.\n",
                "items": {
                 "type": "object",
                 "additionalProperties": true,
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Viewpoint mapping (join) record id."
                  },
                  "bim_viewpoint_id": {
                   "type": "integer",
                   "nullable": true,
                   "description": "Linked legacy BIM viewpoint id; null for Model Manager-backed mappings."
                  },
                  "is_primary": {
                   "type": "boolean",
                   "description": "Whether this mapping is the primary viewpoint for the issue."
                  }
                 }
                }
               },
               "bim_file": {
                "type": "object",
                "description": "BIM file (`BimFileBlueprint` basic), when included.",
                "additionalProperties": true
               },
               "source_file": {
                "type": "object",
                "description": "Resolved source file for the coordination issue. Returns the document name from\n`document_container_metadata` when present, otherwise falls back to the BIM file.\n",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Document container id or BIM file id."
                 },
                 "name": {
                  "type": "string",
                  "description": "Document or BIM file name."
                 },
                 "type": {
                  "type": "string",
                  "enum": [
                   "document",
                   "bim_file"
                  ],
                  "description": "Source type \u2014 `document` or `bim_file`."
                 }
                }
               },
               "trade": {
                "type": "object",
                "additionalProperties": true
               },
               "location": {
                "type": "object",
                "additionalProperties": true
               },
               "assignee": {
                "type": "object",
                "additionalProperties": true
               },
               "created_by": {
                "type": "object",
                "additionalProperties": true
               },
               "updated_by": {
                "type": "object",
                "additionalProperties": true
               },
               "watchers": {
                "type": "array",
                "items": {
                 "type": "object",
                 "additionalProperties": true
                }
               },
               "origin": {
                "type": "object",
                "additionalProperties": true
               },
               "attachments": {
                "type": "array",
                "items": {
                 "type": "object",
                 "additionalProperties": true
                }
               },
               "drawing_revision": {
                "type": "object",
                "additionalProperties": true
               },
               "linked_drawings": {
                "type": "array",
                "description": "Drawing revisions linked via published drawing markup (Coordination Issue pin), same semantics as REST v1\n`view=extended`. Omitted unless `included` lists `linked_drawings` or `included` is omitted/empty.\n",
                "items": {
                 "type": "object",
                 "additionalProperties": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Drawing revision id"
                  },
                  "title": {
                   "type": "string",
                   "description": "Formatted drawing title"
                  },
                  "url": {
                   "type": "string",
                   "description": "Deep link to the drawing with focused markup element"
                  }
                 }
                }
               },
               "drawing_markup_preview_images": {
                "type": "array",
                "description": "Preview images for published drawing markup layers. Omitted unless `included` lists\n`drawing_markup_preview_images` or `included` is omitted/empty.\n",
                "items": {
                 "type": "object",
                 "additionalProperties": true,
                 "properties": {
                  "id": {
                   "type": "string"
                  },
                  "drawing_revision_id": {
                   "type": "string"
                  },
                  "name": {
                   "type": "string"
                  },
                  "content_type": {
                   "type": "string"
                  },
                  "url": {
                   "type": "string"
                  }
                 }
                }
               },
               "linked_procore_items": {
                "type": "array",
                "items": {
                 "type": "object",
                 "additionalProperties": true
                }
               },
               "linked_observation_items": {
                "type": "array",
                "items": {
                 "type": "object",
                 "additionalProperties": true
                }
               },
               "document_container_metadata": {
                "type": "object",
                "additionalProperties": true
               },
               "document_snapshots": {
                "type": "array",
                "description": "Document snapshots linked to this coordination issue (`CoordinationIssueDocumentSnapshotBlueprint`\nview `:normal`). Present when `included` contains `document_snapshots` or is omitted.\n",
                "items": {
                 "type": "object",
                 "description": "Rendered by `CoordinationIssueDocumentSnapshotBlueprint` view `:normal`. Represents a point-in-time\nsnapshot image of a document revision linked to a coordination issue. The `prostore_file` nested object\nprovides the file URL, name, content type, and viewable status.\n",
                 "required": [
                  "id"
                 ],
                 "additionalProperties": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Document snapshot record id.",
                   "example": "42"
                  },
                  "document_container_id": {
                   "type": "string",
                   "description": "The document container (folder) the source document belongs to.",
                   "example": "1001"
                  },
                  "document_name": {
                   "type": "string",
                   "maxLength": 255,
                   "description": "Human-readable name of the source document. Surfaced as the coordination issue's\nsource file for outside-workflow (document snapshot) issues. May be null for snapshots\ncreated before this field existed.\n",
                   "example": "Floor Plan.pdf"
                  },
                  "document_revision_id": {
                   "type": "string",
                   "description": "The document revision id from which the snapshot was taken.",
                   "example": "2001"
                  },
                  "document_revision_version_id": {
                   "type": "string",
                   "description": "The specific document revision version id for this snapshot.",
                   "example": "3001"
                  },
                  "created_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp when the snapshot was created.",
                   "example": "2026-03-30T12:00:00Z"
                  },
                  "prostore_file": {
                   "type": "object",
                   "description": "Prostore file object (`ProstoreFileBlueprint` view `:normal_with_viewable`). Contains the snapshot\nimage file details including a signed URL, content type, and whether the file is viewable.\n",
                   "additionalProperties": true,
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "Prostore file id.",
                     "example": "5001"
                    },
                    "name": {
                     "type": "string",
                     "description": "File name.",
                     "example": "snapshot.png"
                    },
                    "url": {
                     "type": "string",
                     "format": "uri",
                     "description": "Signed download URL for the snapshot file.",
                     "example": "https://api.procore.com/fas/..."
                    },
                    "content_type": {
                     "type": "string",
                     "description": "MIME content type.",
                     "example": "image/png"
                    },
                    "viewable": {
                     "type": "boolean",
                     "description": "Whether this file has a viewable document representation.",
                     "example": true
                    }
                   }
                  }
                 }
                }
               },
               "custom_fields": {
                "type": "object",
                "additionalProperties": true
               },
               "permissions": {
                "type": "object",
                "description": "User permissions on this coordination issue. Returned only when `policy_context` is provided\nin render options (typically by including the `X-Policy-Context` header or equivalent).\n",
                "additionalProperties": true,
                "properties": {
                 "can_edit": {
                  "type": "boolean",
                  "description": "Whether the current user can edit (update) this coordination issue. Requires `update_coordination_issue`\npermission from the policy AND the workflow (if present) to not be terminated or completed.\n",
                  "example": true
                 },
                 "can_update_status": {
                  "type": "boolean",
                  "description": "Whether the current user can change the issue's status. Present only when the policy supports status\ntransitions; true when at least one status action is available and the workflow (if present) is active.\n",
                  "example": true
                 }
                }
               }
              }
             }
            }
           },
           "additionalProperties": true
          },
          {
           "type": "object",
           "required": [
            "data"
           ],
           "properties": {
            "data": {
             "type": "array",
             "description": "Coordination issue primary keys from `pluck(:id)` (JSON numbers).",
             "items": {
              "type": "integer"
             }
            }
           },
           "additionalProperties": false
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    save_sticky_filters: 'SOME_BOOLEAN_VALUE',\n    included: 'assignee,title,uuid,location,is_private',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[assignee_company_id]': 'SOME_ARRAY_VALUE',\n    'filters[assignee_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_by_company_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_from]': 'SOME_ARRAY_VALUE',\n    'filters[ids]': 'SOME_ARRAY_VALUE',\n    'filters[location_id]': 'SOME_STRING_VALUE',\n    'filters[include_sublocations]': 'SOME_BOOLEAN_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[issue_type]': 'SOME_ARRAY_VALUE',\n    'filters[priority]': 'SOME_ARRAY_VALUE',\n    'filters[trade_id]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[due_date]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    'filters[overdue]': 'SOME_BOOLEAN_VALUE',\n    'filters[document_container_id]': 'SOME_ARRAY_VALUE',\n    'filters[document_revision_id]': 'SOME_ARRAY_VALUE',\n    'filters[coordination_issue_file_id]': 'SOME_ARRAY_VALUE',\n    'filters[watcher_id]': 'SOME_ARRAY_VALUE',\n    'filters[is_private]': 'SOME_ARRAY_VALUE',\n    'filters[include_deleted]': 'SOME_STRING_VALUE'\n  },\n  headers: {'Procore-Company-Id': 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Procore-Company-Id': \"SOME_STRING_VALUE\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues?view=SOME_STRING_VALUE&save_sticky_filters=SOME_BOOLEAN_VALUE&included=assignee%2Ctitle%2Cuuid%2Clocation%2Cis_private&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bassignee_company_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_company_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_from%5D=SOME_ARRAY_VALUE&filters%5Bids%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_STRING_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bissue_type%5D=SOME_ARRAY_VALUE&filters%5Bpriority%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE&filters%5Bdocument_container_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_revision_id%5D=SOME_ARRAY_VALUE&filters%5Bcoordination_issue_file_id%5D=SOME_ARRAY_VALUE&filters%5Bwatcher_id%5D=SOME_ARRAY_VALUE&filters%5Bis_private%5D=SOME_ARRAY_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues?view=SOME_STRING_VALUE&save_sticky_filters=SOME_BOOLEAN_VALUE&included=assignee%2Ctitle%2Cuuid%2Clocation%2Cis_private&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bassignee_company_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_company_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_from%5D=SOME_ARRAY_VALUE&filters%5Bids%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_STRING_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bissue_type%5D=SOME_ARRAY_VALUE&filters%5Bpriority%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE&filters%5Bdocument_container_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_revision_id%5D=SOME_ARRAY_VALUE&filters%5Bcoordination_issue_file_id%5D=SOME_ARRAY_VALUE&filters%5Bwatcher_id%5D=SOME_ARRAY_VALUE&filters%5Bis_private%5D=SOME_ARRAY_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE' \\\n  --header 'Procore-Company-Id: SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues?view=SOME_STRING_VALUE&save_sticky_filters=SOME_BOOLEAN_VALUE&included=assignee%2Ctitle%2Cuuid%2Clocation%2Cis_private&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bassignee_company_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_company_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_from%5D=SOME_ARRAY_VALUE&filters%5Bids%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_STRING_VALUE&filters%5Binclude_sublocations%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bissue_type%5D=SOME_ARRAY_VALUE&filters%5Bpriority%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE&filters%5Bdocument_container_id%5D=SOME_ARRAY_VALUE&filters%5Bdocument_revision_id%5D=SOME_ARRAY_VALUE&filters%5Bcoordination_issue_file_id%5D=SOME_ARRAY_VALUE&filters%5Bwatcher_id%5D=SOME_ARRAY_VALUE&filters%5Bis_private%5D=SOME_ARRAY_VALUE&filters%5Binclude_deleted%5D=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_STRING_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added soft-delete filtering and restore action to coordination issues",
      "description": "The REST v2.0 coordination issues endpoint now supports soft-delete filtering and restore:\n\n* `GET /rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues?filters[include_deleted]=only` \u2014 List only soft-deleted issues (recycle bin view)\n* `GET /rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues?filters[include_deleted]=with` \u2014 List all issues including deleted\n* `GET /rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues/{id}?include_deleted=true` \u2014 Show a soft-deleted issue\n* `POST /rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues/{id}/restore` \u2014 Restore a soft-deleted issue\n\nThe `filters[include_deleted]` and `include_deleted` parameters require `view_deleted_coordination_issue` permission.\nThe restore action requires `update_deleted_coordination_issue` permission.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/coordination_issues",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-06-10",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issues?version=2.0#list-coordination-issues-for-a-project-rest-v20"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "operationId": "createCoordinationIssue",
    "tags": [
     "Coordination Issues"
    ],
    "summary": "Create a coordination issue (REST v2.0)",
    "description": "Creates an issue via `CoordinationIssues::Public::CreateService`. Request body is **flat** JSON\n(not wrapped in `coordination_issue`). See create schema for which fields are persisted vs accepted-only.\n\n**`status: in_progress`:** May be unavailable in some projects; when unavailable it is stored as `open`.\n\n**`is_private`:** Optional boolean; when sent, persisted on create (see create request schema).\n\nObservers may enqueue notifications / activity side effects.\n",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Flat request body (not wrapped in `coordination_issue`). Persisted attributes include `title`,\n`description`, `status`, `creation_source`, `bim_file_id` (stored as the coordination issue file),\n`bim_model_id`, `trade_id`, `location_id`, `assignee_id`, `due_date`, `issue_type`, `priority`,\n`coordination_issue_type_id`, `coordination_issue_priority_id`, `company_id`, and **`is_private`**\nwhen sent. Attachments, an optional inline document snapshot, origin, and watchers are created as\nassociated records.\n",
        "required": [
         "title"
        ],
        "properties": {
         "project_id": {
          "type": "string",
          "description": "Path includes project; may be echoed in body (ignored for scoping)."
         },
         "company_id": {
          "type": "string",
          "description": "Company id for the new issue (typically matches path company)."
         },
         "title": {
          "type": "string",
          "description": "Required issue title."
         },
         "description": {
          "type": "string",
          "description": "Free-text description of the coordination issue."
         },
         "creation_source": {
          "type": "string",
          "example": "navisworks"
         },
         "status": {
          "type": "string",
          "description": "Initial status. On create, only `open`, `closed`, or `in_progress` are valid. `in_progress` may be\nunavailable in some projects, in which case it is stored as `open`.\n"
         },
         "location_id": {
          "type": "string",
          "description": "Location id scoped to the project."
         },
         "assignee_id": {
          "type": "string",
          "description": "Login information / user id for assignee."
         },
         "bim_file_id": {
          "type": "string",
          "description": "BIM file id for the coordination issue file association."
         },
         "bim_model_id": {
          "type": "string"
         },
         "due_date": {
          "type": "string",
          "format": "date",
          "description": "Due date for the coordination issue."
         },
         "issue_type": {
          "type": "string",
          "description": "Issue type label, such as `clash` or `building_code`."
         },
         "priority": {
          "type": "string",
          "description": "Permitted by controller; not applied by `CreateService` \u2014 use PATCH to set."
         },
         "coordination_issue_type_id": {
          "type": "string",
          "description": "ID of the configurable coordination issue type to assign."
         },
         "coordination_issue_priority_id": {
          "type": "string",
          "description": "ID of the configurable coordination issue priority to assign."
         },
         "trade_id": {
          "type": "string"
         },
         "is_private": {
          "type": "boolean",
          "description": "When `true`, creates a **private** coordination issue (restricted visibility). Omitted keys leave the\ncolumn at its default (typically public).\n"
         },
         "attachment_upload_uuids": {
          "type": "array",
          "items": {
           "type": "string"
          },
          "description": "Prostore upload UUIDs for new attachments."
         },
         "watcher_ids": {
          "type": "array",
          "items": {
           "type": "integer"
          },
          "description": "User ids to add as watchers on the new coordination issue."
         },
         "origin": {
          "type": "object",
          "description": "Optional origin metadata stored with the issue when created or updated.",
          "properties": {
           "origin_id": {
            "type": "string"
           },
           "origin_type": {
            "type": "string",
            "example": "BcfTopic"
           },
           "deep_link_url": {
            "type": "string",
            "format": "uri"
           },
           "title": {
            "type": "string"
           }
          },
          "additionalProperties": true
         },
         "document_snapshot": {
          "type": "object",
          "description": "Optional inline document snapshot to create with the issue. The `snapshot_upload_uuid` references a\npreviously uploaded file; a `ProstoreFile` is created from it and linked to the new snapshot.\n",
          "properties": {
           "snapshot_upload_uuid": {
            "type": "string",
            "format": "uuid",
            "description": "UUID of the previously uploaded snapshot file."
           },
           "document_container_id": {
            "type": "string",
            "description": "The document container (folder) the source document belongs to."
           },
           "document_revision_id": {
            "type": "string",
            "description": "The document revision id from which the snapshot was taken."
           },
           "document_revision_version_id": {
            "type": "string",
            "description": "The specific document revision version id for this snapshot."
           }
          }
         }
        },
        "additionalProperties": true
       },
       "example": {
        "title": "Clash in Level 2 MEP",
        "status": "in_progress",
        "creation_source": "navisworks",
        "bim_file_id": "598134325540867",
        "bim_model_id": "86",
        "trade_id": "999",
        "location_id": "5",
        "assignee_id": "624",
        "attachment_upload_uuids": [],
        "watcher_ids": [
         101,
         202
        ],
        "is_private": false,
        "origin": {
         "title": "BCF topic",
         "origin_id": "7b3c8752-e03e-417f-bb57-46bb5aca1139",
         "origin_type": "BcfTopic",
         "deep_link_url": "https://example.com/topic/1"
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created \u2014 `data` is the new issue (`V2::CoordinationIssueBlueprint`, default view)",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "object",
           "description": "Rendered by `V2::CoordinationIssueBlueprint`. **`id` is always present.** Other keys depend on `included`:\nwhen `included` is omitted or empty, all conditional blueprint fields are serialized; when `included`\nlists comma-separated names, only those fields (plus `id`) appear. The BIM file association is keyed\n**`bim_file`** (not `coordination_issue_file`). Nested user objects use the identity-with-company shape\n(e.g. `email`, `name`).\n",
           "required": [
            "id"
           ],
           "additionalProperties": true,
           "properties": {
            "id": {
             "type": "string",
             "example": "426"
            },
            "uuid": {
             "type": "string",
             "format": "uuid"
            },
            "title": {
             "type": "string"
            },
            "description": {
             "type": "string"
            },
            "status": {
             "type": "string",
             "description": "Current status (e.g. `open`, `closed`, `in_progress`). In projects where `in_progress` is unavailable,\nissues stored as `in_progress` may serialize as `open`.\n"
            },
            "issue_number": {
             "type": "integer"
            },
            "creation_source": {
             "type": "string"
            },
            "is_private": {
             "type": "boolean",
             "description": "Present when `included` contains `is_private` or when `included` is omitted (all fields). Indicates a private coordination issue when `true`."
            },
            "issue_type": {
             "type": "string",
             "nullable": true
            },
            "priority": {
             "type": "string",
             "nullable": true
            },
            "coordination_issue_type": {
             "type": "object",
             "description": "Configurable issue type record (`CompanyConfigurableBlueprint`: `id`, `name`, `active`, `position`,\n`global`, `deletable`, timestamps). Present when `included` contains `coordination_issue_type` or is omitted.\n",
             "additionalProperties": true
            },
            "coordination_issue_priority": {
             "type": "object",
             "description": "Configurable priority record (`CompanyConfigurableBlueprint`: `id`, `name`, `active`, `position`,\n`global`, `deletable`, timestamps). Present when `included` contains `coordination_issue_priority` or is omitted.\n",
             "additionalProperties": true
            },
            "due_date": {
             "type": "string",
             "format": "date",
             "nullable": true
            },
            "closed_date": {
             "type": "string",
             "format": "date",
             "nullable": true
            },
            "project_id": {
             "type": "string"
            },
            "bim_model_id": {
             "type": "string",
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "comments_count": {
             "type": "integer"
            },
            "viewpoint_count": {
             "type": "integer",
             "description": "Number of viewpoints attached to this coordination issue."
            },
            "coordination_issue_bim_viewpoints": {
             "type": "array",
             "description": "Viewpoint mappings on this issue (`CoordinationIssueBimViewpointBlueprint` view `:normal`). Present when\n`included` contains `coordination_issue_bim_viewpoints` or is omitted.\n",
             "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Viewpoint mapping (join) record id."
               },
               "bim_viewpoint_id": {
                "type": "integer",
                "nullable": true,
                "description": "Linked legacy BIM viewpoint id; null for Model Manager-backed mappings."
               },
               "is_primary": {
                "type": "boolean",
                "description": "Whether this mapping is the primary viewpoint for the issue."
               }
              }
             }
            },
            "bim_file": {
             "type": "object",
             "description": "BIM file (`BimFileBlueprint` basic), when included.",
             "additionalProperties": true
            },
            "source_file": {
             "type": "object",
             "description": "Resolved source file for the coordination issue. Returns the document name from\n`document_container_metadata` when present, otherwise falls back to the BIM file.\n",
             "properties": {
              "id": {
               "type": "string",
               "description": "Document container id or BIM file id."
              },
              "name": {
               "type": "string",
               "description": "Document or BIM file name."
              },
              "type": {
               "type": "string",
               "enum": [
                "document",
                "bim_file"
               ],
               "description": "Source type \u2014 `document` or `bim_file`."
              }
             }
            },
            "trade": {
             "type": "object",
             "additionalProperties": true
            },
            "location": {
             "type": "object",
             "additionalProperties": true
            },
            "assignee": {
             "type": "object",
             "additionalProperties": true
            },
            "created_by": {
             "type": "object",
             "additionalProperties": true
            },
            "updated_by": {
             "type": "object",
             "additionalProperties": true
            },
            "watchers": {
             "type": "array",
             "items": {
              "type": "object",
              "additionalProperties": true
             }
            },
            "origin": {
             "type": "object",
             "additionalProperties": true
            },
            "attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "additionalProperties": true
             }
            },
            "drawing_revision": {
             "type": "object",
             "additionalProperties": true
            },
            "linked_drawings": {
             "type": "array",
             "description": "Drawing revisions linked via published drawing markup (Coordination Issue pin), same semantics as REST v1\n`view=extended`. Omitted unless `included` lists `linked_drawings` or `included` is omitted/empty.\n",
             "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "Drawing revision id"
               },
               "title": {
                "type": "string",
                "description": "Formatted drawing title"
               },
               "url": {
                "type": "string",
                "description": "Deep link to the drawing with focused markup element"
               }
              }
             }
            },
            "drawing_markup_preview_images": {
             "type": "array",
             "description": "Preview images for published drawing markup layers. Omitted unless `included` lists\n`drawing_markup_preview_images` or `included` is omitted/empty.\n",
             "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
               "id": {
                "type": "string"
               },
               "drawing_revision_id": {
                "type": "string"
               },
               "name": {
                "type": "string"
               },
               "content_type": {
                "type": "string"
               },
               "url": {
                "type": "string"
               }
              }
             }
            },
            "linked_procore_items": {
             "type": "array",
             "items": {
              "type": "object",
              "additionalProperties": true
             }
            },
            "linked_observation_items": {
             "type": "array",
             "items": {
              "type": "object",
              "additionalProperties": true
             }
            },
            "document_container_metadata": {
             "type": "object",
             "additionalProperties": true
            },
            "document_snapshots": {
             "type": "array",
             "description": "Document snapshots linked to this coordination issue (`CoordinationIssueDocumentSnapshotBlueprint`\nview `:normal`). Present when `included` contains `document_snapshots` or is omitted.\n",
             "items": {
              "type": "object",
              "description": "Rendered by `CoordinationIssueDocumentSnapshotBlueprint` view `:normal`. Represents a point-in-time\nsnapshot image of a document revision linked to a coordination issue. The `prostore_file` nested object\nprovides the file URL, name, content type, and viewable status.\n",
              "required": [
               "id"
              ],
              "additionalProperties": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "Document snapshot record id.",
                "example": "42"
               },
               "document_container_id": {
                "type": "string",
                "description": "The document container (folder) the source document belongs to.",
                "example": "1001"
               },
               "document_name": {
                "type": "string",
                "maxLength": 255,
                "description": "Human-readable name of the source document. Surfaced as the coordination issue's\nsource file for outside-workflow (document snapshot) issues. May be null for snapshots\ncreated before this field existed.\n",
                "example": "Floor Plan.pdf"
               },
               "document_revision_id": {
                "type": "string",
                "description": "The document revision id from which the snapshot was taken.",
                "example": "2001"
               },
               "document_revision_version_id": {
                "type": "string",
                "description": "The specific document revision version id for this snapshot.",
                "example": "3001"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the snapshot was created.",
                "example": "2026-03-30T12:00:00Z"
               },
               "prostore_file": {
                "type": "object",
                "description": "Prostore file object (`ProstoreFileBlueprint` view `:normal_with_viewable`). Contains the snapshot\nimage file details including a signed URL, content type, and whether the file is viewable.\n",
                "additionalProperties": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Prostore file id.",
                  "example": "5001"
                 },
                 "name": {
                  "type": "string",
                  "description": "File name.",
                  "example": "snapshot.png"
                 },
                 "url": {
                  "type": "string",
                  "format": "uri",
                  "description": "Signed download URL for the snapshot file.",
                  "example": "https://api.procore.com/fas/..."
                 },
                 "content_type": {
                  "type": "string",
                  "description": "MIME content type.",
                  "example": "image/png"
                 },
                 "viewable": {
                  "type": "boolean",
                  "description": "Whether this file has a viewable document representation.",
                  "example": true
                 }
                }
               }
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "additionalProperties": true
            },
            "permissions": {
             "type": "object",
             "description": "User permissions on this coordination issue. Returned only when `policy_context` is provided\nin render options (typically by including the `X-Policy-Context` header or equivalent).\n",
             "additionalProperties": true,
             "properties": {
              "can_edit": {
               "type": "boolean",
               "description": "Whether the current user can edit (update) this coordination issue. Requires `update_coordination_issue`\npermission from the policy AND the workflow (if present) to not be terminated or completed.\n",
               "example": true
              },
              "can_update_status": {
               "type": "boolean",
               "description": "Whether the current user can change the issue's status. Present only when the policy supports status\ntransitions; true when at least one status action is available and the workflow (if present) is active.\n",
               "example": true
              }
             }
            }
           }
          }
         },
         "additionalProperties": true
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden \u2014 insufficient permission to create",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Validation or domain error (`render_model_errors` / unprocessable entity envelope)",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues',\n  headers: {'Procore-Company-Id': 'SOME_STRING_VALUE', 'content-type': 'application/json'},\n  body: {\n    project_id: 'string',\n    company_id: 'string',\n    title: 'string',\n    description: 'string',\n    creation_source: 'navisworks',\n    status: 'string',\n    location_id: 'string',\n    assignee_id: 'string',\n    bim_file_id: 'string',\n    bim_model_id: 'string',\n    due_date: '2019-08-24',\n    issue_type: 'string',\n    priority: 'string',\n    coordination_issue_type_id: 'string',\n    coordination_issue_priority_id: 'string',\n    trade_id: 'string',\n    is_private: true,\n    attachment_upload_uuids: ['string'],\n    watcher_ids: [0],\n    origin: {\n      origin_id: 'string',\n      origin_type: 'BcfTopic',\n      deep_link_url: 'http://example.com',\n      title: 'string'\n    },\n    document_snapshot: {\n      snapshot_upload_uuid: '2a4cb4de-32e0-4b7c-9500-f669f4ea3f53',\n      document_container_id: 'string',\n      document_revision_id: 'string',\n      document_revision_version_id: 'string'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":\\\"string\\\",\\\"company_id\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"creation_source\\\":\\\"navisworks\\\",\\\"status\\\":\\\"string\\\",\\\"location_id\\\":\\\"string\\\",\\\"assignee_id\\\":\\\"string\\\",\\\"bim_file_id\\\":\\\"string\\\",\\\"bim_model_id\\\":\\\"string\\\",\\\"due_date\\\":\\\"2019-08-24\\\",\\\"issue_type\\\":\\\"string\\\",\\\"priority\\\":\\\"string\\\",\\\"coordination_issue_type_id\\\":\\\"string\\\",\\\"coordination_issue_priority_id\\\":\\\"string\\\",\\\"trade_id\\\":\\\"string\\\",\\\"is_private\\\":true,\\\"attachment_upload_uuids\\\":[\\\"string\\\"],\\\"watcher_ids\\\":[0],\\\"origin\\\":{\\\"origin_id\\\":\\\"string\\\",\\\"origin_type\\\":\\\"BcfTopic\\\",\\\"deep_link_url\\\":\\\"http://example.com\\\",\\\"title\\\":\\\"string\\\"},\\\"document_snapshot\\\":{\\\"snapshot_upload_uuid\\\":\\\"2a4cb4de-32e0-4b7c-9500-f669f4ea3f53\\\",\\\"document_container_id\\\":\\\"string\\\",\\\"document_revision_id\\\":\\\"string\\\",\\\"document_revision_version_id\\\":\\\"string\\\"}}\"\n\nheaders = {\n    'Procore-Company-Id': \"SOME_STRING_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues \\\n  --header 'Procore-Company-Id: SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":\"string\",\"company_id\":\"string\",\"title\":\"string\",\"description\":\"string\",\"creation_source\":\"navisworks\",\"status\":\"string\",\"location_id\":\"string\",\"assignee_id\":\"string\",\"bim_file_id\":\"string\",\"bim_model_id\":\"string\",\"due_date\":\"2019-08-24\",\"issue_type\":\"string\",\"priority\":\"string\",\"coordination_issue_type_id\":\"string\",\"coordination_issue_priority_id\":\"string\",\"trade_id\":\"string\",\"is_private\":true,\"attachment_upload_uuids\":[\"string\"],\"watcher_ids\":[0],\"origin\":{\"origin_id\":\"string\",\"origin_type\":\"BcfTopic\",\"deep_link_url\":\"http://example.com\",\"title\":\"string\"},\"document_snapshot\":{\"snapshot_upload_uuid\":\"2a4cb4de-32e0-4b7c-9500-f669f4ea3f53\",\"document_container_id\":\"string\",\"document_revision_id\":\"string\",\"document_revision_version_id\":\"string\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_STRING_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":\\\"string\\\",\\\"company_id\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"creation_source\\\":\\\"navisworks\\\",\\\"status\\\":\\\"string\\\",\\\"location_id\\\":\\\"string\\\",\\\"assignee_id\\\":\\\"string\\\",\\\"bim_file_id\\\":\\\"string\\\",\\\"bim_model_id\\\":\\\"string\\\",\\\"due_date\\\":\\\"2019-08-24\\\",\\\"issue_type\\\":\\\"string\\\",\\\"priority\\\":\\\"string\\\",\\\"coordination_issue_type_id\\\":\\\"string\\\",\\\"coordination_issue_priority_id\\\":\\\"string\\\",\\\"trade_id\\\":\\\"string\\\",\\\"is_private\\\":true,\\\"attachment_upload_uuids\\\":[\\\"string\\\"],\\\"watcher_ids\\\":[0],\\\"origin\\\":{\\\"origin_id\\\":\\\"string\\\",\\\"origin_type\\\":\\\"BcfTopic\\\",\\\"deep_link_url\\\":\\\"http://example.com\\\",\\\"title\\\":\\\"string\\\"},\\\"document_snapshot\\\":{\\\"snapshot_upload_uuid\\\":\\\"2a4cb4de-32e0-4b7c-9500-f669f4ea3f53\\\",\\\"document_container_id\\\":\\\"string\\\",\\\"document_revision_id\\\":\\\"string\\\",\\\"document_revision_version_id\\\":\\\"string\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "v2.0 coordination issues create documents in_progress feature flag",
      "description": "POST `/rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues` documents that `status: in_progress`\nrequires `enable-ci-in-progress`; otherwise `in_progress` is coerced to `open` before create. Response `status`\nfollows `CoordinationIssue#status`.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/coordination_issues",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-04-09",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "coordination-issues?version=2.0#create-a-coordination-issue-rest-v20"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/coordination_issues/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Coordination Issue ID (numeric)",
     "schema": {
      "type": "string",
      "pattern": "^\\d+$"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "operationId": "showCoordinationIssue",
    "tags": [
     "Coordination Issues"
    ],
    "summary": "Show a coordination issue (REST v2.0)",
    "description": "Returns a single issue through the scoped collection (filters apply). Supports `included` like index.\n",
    "parameters": [
     {
      "name": "included",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Comma-separated field names to include (same as list endpoint; e.g. `is_private`, `assignee`)."
     },
     {
      "name": "include_deleted",
      "in": "query",
      "required": false,
      "description": "When `true`, also searches soft-deleted issues. Requires `view_deleted_coordination_issue` permission.",
      "schema": {
       "type": "string",
       "enum": [
        "true"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "object",
           "description": "Rendered by `V2::CoordinationIssueBlueprint`. **`id` is always present.** Other keys depend on `included`:\nwhen `included` is omitted or empty, all conditional blueprint fields are serialized; when `included`\nlists comma-separated names, only those fields (plus `id`) appear. The BIM file association is keyed\n**`bim_file`** (not `coordination_issue_file`). Nested user objects use the identity-with-company shape\n(e.g. `email`, `name`).\n",
           "required": [
            "id"
           ],
           "additionalProperties": true,
           "properties": {
            "id": {
             "type": "string",
             "example": "426"
            },
            "uuid": {
             "type": "string",
             "format": "uuid"
            },
            "title": {
             "type": "string"
            },
            "description": {
             "type": "string"
            },
            "status": {
             "type": "string",
             "description": "Current status (e.g. `open`, `closed`, `in_progress`). In projects where `in_progress` is unavailable,\nissues stored as `in_progress` may serialize as `open`.\n"
            },
            "issue_number": {
             "type": "integer"
            },
            "creation_source": {
             "type": "string"
            },
            "is_private": {
             "type": "boolean",
             "description": "Present when `included` contains `is_private` or when `included` is omitted (all fields). Indicates a private coordination issue when `true`."
            },
            "issue_type": {
             "type": "string",
             "nullable": true
            },
            "priority": {
             "type": "string",
             "nullable": true
            },
            "coordination_issue_type": {
             "type": "object",
             "description": "Configurable issue type record (`CompanyConfigurableBlueprint`: `id`, `name`, `active`, `position`,\n`global`, `deletable`, timestamps). Present when `included` contains `coordination_issue_type` or is omitted.\n",
             "additionalProperties": true
            },
            "coordination_issue_priority": {
             "type": "object",
             "description": "Configurable priority record (`CompanyConfigurableBlueprint`: `id`, `name`, `active`, `position`,\n`global`, `deletable`, timestamps). Present when `included` contains `coordination_issue_priority` or is omitted.\n",
             "additionalProperties": true
            },
            "due_date": {
             "type": "string",
             "format": "date",
             "nullable": true
            },
            "closed_date": {
             "type": "string",
             "format": "date",
             "nullable": true
            },
            "project_id": {
             "type": "string"
            },
            "bim_model_id": {
             "type": "string",
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "comments_count": {
             "type": "integer"
            },
            "viewpoint_count": {
             "type": "integer",
             "description": "Number of viewpoints attached to this coordination issue."
            },
            "coordination_issue_bim_viewpoints": {
             "type": "array",
             "description": "Viewpoint mappings on this issue (`CoordinationIssueBimViewpointBlueprint` view `:normal`). Present when\n`included` contains `coordination_issue_bim_viewpoints` or is omitted.\n",
             "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
               "id": {
                "type": "integer",
                "description": "Viewpoint mapping (join) record id."
               },
               "bim_viewpoint_id": {
                "type": "integer",
                "nullable": true,
                "description": "Linked legacy BIM viewpoint id; null for Model Manager-backed mappings."
               },
               "is_primary": {
                "type": "boolean",
                "description": "Whether this mapping is the primary viewpoint for the issue."
               }
              }
             }
            },
            "bim_file": {
             "type": "object",
             "description": "BIM file (`BimFileBlueprint` basic), when included.",
             "additionalProperties": true
            },
            "source_file": {
             "type": "object",
             "description": "Resolved source file for the coordination issue. Returns the document name from\n`document_container_metadata` when present, otherwise falls back to the BIM file.\n",
             "properties": {
              "id": {
               "type": "string",
               "description": "Document container id or BIM file id."
              },
              "name": {
               "type": "string",
               "description": "Document or BIM file name."
              },
              "type": {
               "type": "string",
               "enum": [
                "document",
                "bim_file"
               ],
               "description": "Source type \u2014 `document` or `bim_file`."
              }
             }
            },
            "trade": {
             "type": "object",
             "additionalProperties": true
            },
            "location": {
             "type": "object",
             "additionalProperties": true
            },
            "assignee": {
             "type": "object",
             "additionalProperties": true
            },
            "created_by": {
             "type": "object",
             "additionalProperties": true
            },
            "updated_by": {
             "type": "object",
             "additionalProperties": true
            },
            "watchers": {
             "type": "array",
             "items": {
              "type": "object",
              "additionalProperties": true
             }
            },
            "origin": {
             "type": "object",
             "additionalProperties": true
            },
            "attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "additionalProperties": true
             }
            },
            "drawing_revision": {
             "type": "object",
             "additionalProperties": true
            },
            "linked_drawings": {
             "type": "array",
             "description": "Drawing revisions linked via published drawing markup (Coordination Issue pin), same semantics as REST v1\n`view=extended`. Omitted unless `included` lists `linked_drawings` or `included` is omitted/empty.\n",
             "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "Drawing revision id"
               },
               "title": {
                "type": "string",
                "description": "Formatted drawing title"
               },
               "url": {
                "type": "string",
                "description": "Deep link to the drawing with focused markup element"
               }
              }
             }
            },
            "drawing_markup_preview_images": {
             "type": "array",
             "description": "Preview images for published drawing markup layers. Omitted unless `included` lists\n`drawing_markup_preview_images` or `included` is omitted/empty.\n",
             "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
               "id": {
                "type": "string"
               },
               "drawing_revision_id": {
                "type": "string"
               },
               "name": {
                "type": "string"
               },
               "content_type": {
                "type": "string"
               },
               "url": {
                "type": "string"
               }
              }
             }
            },
            "linked_procore_items": {
             "type": "array",
             "items": {
              "type": "object",
              "additionalProperties": true
             }
            },
            "linked_observation_items": {
             "type": "array",
             "items": {
              "type": "object",
              "additionalProperties": true
             }
            },
            "document_container_metadata": {
             "type": "object",
             "additionalProperties": true
            },
            "document_snapshots": {
             "type": "array",
             "description": "Document snapshots linked to this coordination issue (`CoordinationIssueDocumentSnapshotBlueprint`\nview `:normal`). Present when `included` contains `document_snapshots` or is omitted.\n",
             "items": {
              "type": "object",
              "description": "Rendered by `CoordinationIssueDocumentSnapshotBlueprint` view `:normal`. Represents a point-in-time\nsnapshot image of a document revision linked to a coordination issue. The `prostore_file` nested object\nprovides the file URL, name, content type, and viewable status.\n",
              "required": [
               "id"
              ],
              "additionalProperties": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "Document snapshot record id.",
                "example": "42"
               },
               "document_container_id": {
                "type": "string",
                "description": "The document container (folder) the source document belongs to.",
                "example": "1001"
               },
               "document_name": {
                "type": "string",
                "maxLength": 255,
                "description": "Human-readable name of the source document. Surfaced as the coordination issue's\nsource file for outside-workflow (document snapshot) issues. May be null for snapshots\ncreated before this field existed.\n",
                "example": "Floor Plan.pdf"
               },
               "document_revision_id": {
                "type": "string",
                "description": "The document revision id from which the snapshot was taken.",
                "example": "2001"
               },
               "document_revision_version_id": {
                "type": "string",
                "description": "The specific document revision version id for this snapshot.",
                "example": "3001"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when the snapshot was created.",
                "example": "2026-03-30T12:00:00Z"
               },
               "prostore_file": {
                "type": "object",
                "description": "Prostore file object (`ProstoreFileBlueprint` view `:normal_with_viewable`). Contains the snapshot\nimage file details including a signed URL, content type, and whether the file is viewable.\n",
                "additionalProperties": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Prostore file id.",
                  "example": "5001"
                 },
                 "name": {
                  "type": "string",
                  "description": "File name.",
                  "example": "snapshot.png"
                 },
                 "url": {
                  "type": "string",
                  "format": "uri",
                  "description": "Signed download URL for the snapshot file.",
                  "example": "https://api.procore.com/fas/..."
                 },
                 "content_type": {
                  "type": "string",
                  "description": "MIME content type.",
                  "example": "image/png"
                 },
                 "viewable": {
                  "type": "boolean",
                  "description": "Whether this file has a viewable document representation.",
                  "example": true
                 }
                }
               }
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "additionalProperties": true
            },
            "permissions": {
             "type": "object",
             "description": "User permissions on this coordination issue. Returned only when `policy_context` is provided\nin render options (typically by including the `X-Policy-Context` header or equivalent).\n",
             "additionalProperties": true,
             "properties": {
              "can_edit": {
               "type": "boolean",
               "description": "Whether the current user can edit (update) this coordination issue. Requires `update_coordination_issue`\npermission from the policy AND the workflow (if present) to not be terminated or completed.\n",
               "example": true
              },
              "can_update_status": {
               "type": "boolean",
               "description": "Whether the current user can change the issue's status. Present only when the policy supports status\ntransitions; true when at least one status action is available and the workflow (if present) is active.\n",
               "example": true
              }
             }
            }
           }
          }
         },
         "additionalProperties": true
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found or not visible in current filter scope",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bid%7D',\n  qs: {included: 'SOME_STRING_VALUE', include_deleted: 'SOME_STRING_VALUE'},\n  headers: {'Procore-Company-Id': 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Procore-Company-Id': \"SOME_STRING_VALUE\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bid%7D?included=SOME_STRING_VALUE&include_deleted=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bid%7D?included=SOME_STRING_VALUE&include_deleted=SOME_STRING_VALUE' \\\n  --header 'Procore-Company-Id: SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/coordination_issues/%7Bid%7D?included=SOME_STRING_VALUE&include_deleted=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_STRING_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "operationId": "updateCoordinationIssue",
    "tags": [
     "Coordination Issues"
    ],
    "summary": "Update a coordination issue (REST v2.0)",
    "description": "JSON body may be either:\n\n1. **Nested (recommended):** a **`coordination_issue`** object with attributes to update, or  \n2. **Flat:** the same attribute keys at the **root** of the JSON (no `coordination_issue` wrapper).\n\nUpdates use `CoordinationIssues::Public::UpdateService`. `bim_file_id` is mapped to the internal file association.\n\n**`status: in_progress`:** May be unavailable in some projects; when unavailable it is stored as `open`.\n\n**`is_private`:** Optional boolean; when sent, persisted on update (see update schema).\n",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "oneOf": [
         {
          "type": "object",
          "description": "Nested body (recommended). Attributes are applied by `CoordinationIssues::Public::UpdateService`\nsubject to validations.\n",
          "required": [
           "coordination_issue"
          ],
          "properties": {
           "coordination_issue": {
            "type": "object",
            "description": "Update payload attributes. When the request uses a nested body, this object appears under `coordination_issue`;\nwhen using a **flat** body, these properties are at the **root** of the JSON (same keys).\n\nUpdates are subject to validations. `bim_file_id` is normalized to the coordination issue file association\nserver-side.\n\n**In-progress status:** `status: in_progress` is honored only in projects where it is available; otherwise\nthe API stores it as `open`. The response `status` reflects the stored value.\n",
            "properties": {
             "project_id": {
              "type": "string"
             },
             "company_id": {
              "type": "string"
             },
             "title": {
              "type": "string"
             },
             "description": {
              "type": "string"
             },
             "creation_source": {
              "type": "string"
             },
             "status": {
              "type": "string",
              "description": "Issue status (e.g. `open`, `closed`, `in_progress`, `blocked`, \u2026). `in_progress` is honored only where\navailable; otherwise it is stored as `open`. Valid transitions follow server rules.\n"
             },
             "location_id": {
              "type": "string"
             },
             "assignee_id": {
              "type": "string"
             },
             "bim_file_id": {
              "type": "string"
             },
             "bim_model_id": {
              "type": "string"
             },
             "due_date": {
              "type": "string",
              "format": "date"
             },
             "issue_type": {
              "type": "string"
             },
             "priority": {
              "type": "string"
             },
             "coordination_issue_type_id": {
              "type": "string",
              "description": "ID of the configurable coordination issue type to assign."
             },
             "coordination_issue_priority_id": {
              "type": "string",
              "description": "ID of the configurable coordination issue priority to assign."
             },
             "trade_id": {
              "type": "string"
             },
             "is_private": {
              "type": "boolean",
              "description": "Set to `true` or `false` to mark the issue private or public."
             },
             "attachment_upload_uuids": {
              "type": "array",
              "items": {
               "type": "string"
              },
              "description": "Additional uploads to attach (same pipeline as create)."
             },
             "watcher_ids": {
              "type": "array",
              "items": {
               "type": "integer"
              },
              "description": "Replaces the full watcher list. Pass user ids to set as watchers \u2014 existing watchers not in\nthe list are removed, new ids are added. Pass an empty array to remove all watchers.\n"
             },
[...]
