{
 "openapi": "3.0.0",
 "info": {
  "title": "Correspondences",
  "x-product-category": "Company Admin",
  "x-tool-category": "Custom - Configurable Tools",
  "x-resource-name": "Correspondences",
  "version": "1.0",
  "x-product-lines": [
   "PM Starter Pack",
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/generic_tools/{generic_tool_id}/statuses": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "generic_tool_id",
     "in": "path",
     "description": "Unique identifier for the Generic Tool",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Statuses for a Generic Tool",
    "description": "Returns a list of all Statuses for a Generic Tool. \nFor more information on Generic Tool and Correspondence Tool endpoints, \nsee [Working with the Correspondence Tool](/documentation/tutorial-correspondence).",
    "tags": [
     "Generic Tool Statuses"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Generic Tool Statuses",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 5324
           },
           "status_name": {
            "type": "string",
            "description": "Status Name",
            "example": "In Review"
           },
           "status": {
            "type": "string",
            "description": "Status",
            "example": "Open"
           },
           "is_used": {
            "type": "boolean",
            "description": "Is Used in generic tool item or workflow",
            "example": true
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated response with status property",
      "description": "Statuses for generic tools now include status property",
      "endpoint": "GET /companies/{company_id}/generic_tools/{generic_tool_id}/statuses",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-05-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "correspondences?version=1.0#list-statuses-for-a-generic-tool"
     },
     {
      "summary": "Add is_successful to the response body",
      "description": "Updated the GET request to return the is_successful attribute for generic tool statuses",
      "endpoint": "GET /companies/{company_id}/generic_tools/{generic_tool_id}/statuses",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "correspondences?version=1.0#list-statuses-for-a-generic-tool"
     },
     {
      "summary": "Add is_used to the response body",
      "description": "Updated the GET request to return the is_used attribute for generic tool statuses",
      "endpoint": "GET /companies/{company_id}/generic_tools/{generic_tool_id}/statuses",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-06-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "correspondences?version=1.0#list-statuses-for-a-generic-tool"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Generic Tool Status",
    "description": "Create a new Generic Tool Status for the specified Generic Tool. \nFor more information on Generic Tool and Correspondence Tool endpoints, \nsee [Working with the Correspondence Tool](/documentation/tutorial-correspondence).",
    "tags": [
     "Generic Tool Status"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "generic_tool_status"
        ],
        "properties": {
         "generic_tool_status": {
          "title": "Generic Tool Status",
          "type": "object",
          "required": [
           "status_name",
           "status"
          ],
          "properties": {
           "status_name": {
            "type": "string",
            "description": "The name of the generic tool status.",
            "example": "In Review"
           },
           "status": {
            "type": "string",
            "description": "The status of the generic tool status.",
            "example": "Open"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 5324
          },
          "status_name": {
           "type": "string",
           "description": "Status Name",
           "example": "In Review"
          },
          "status": {
           "type": "string",
           "description": "Status",
           "example": "Open"
          },
          "is_used": {
           "type": "boolean",
           "description": "Is Used in generic tool item or workflow",
           "example": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses',\n  headers: {'content-type': 'application/json'},\n  body: {generic_tool_status: {status_name: 'In Review', status: 'Open'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"generic_tool_status\\\":{\\\"status_name\\\":\\\"In Review\\\",\\\"status\\\":\\\"Open\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses \\\n  --header 'content-type: application/json' \\\n  --data '{\"generic_tool_status\":{\"status_name\":\"In Review\",\"status\":\"Open\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses\"),\n    Content = new StringContent(\"{\\\"generic_tool_status\\\":{\\\"status_name\\\":\\\"In Review\\\",\\\"status\\\":\\\"Open\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Updated body requirements to include status",
      "description": "Status property is now required in the body of generic_tool_status body object.",
      "endpoint": "POST /companies/{company_id}/generic_tools/{generic_tool_id}/statuses",
      "type": "feature",
      "breaking": true,
      "datestamp": "2022-05-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "correspondences?version=1.0#create-generic-tool-status"
     },
     {
      "summary": "Add is_successful to the request body",
      "description": "Updated the POST request to permit the is_successful attribute for generic tool statuses",
      "endpoint": "POST /companies/{company_id}/generic_tools/{generic_tool_id}/statuses",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "correspondences?version=1.0#create-generic-tool-status"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/companies/{company_id}/generic_tools/{generic_tool_id}/statuses/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "generic_tool_id",
     "in": "path",
     "description": "Unique identifier for the Generic Tool",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the Status",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Generic Tool Status",
    "description": "Delete the specified Generic Tool Status. \nFor more information on Generic Tool and Correspondence Tool endpoints, \nsee [Working with the Correspondence Tool](/documentation/tutorial-correspondence).",
    "tags": [
     "Generic Tool Statuses"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D/statuses/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/generic_tools": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Generic Tools",
    "description": "Returns a list of all Generic Tools in the specified Company.\nFor more information on Generic Tool and Correspondence Tool endpoints, \nsee [Working with the Correspondence Tool](/documentation/tutorial-correspondence).",
    "tags": [
     "Generic Tools"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[project_id]",
      "in": "query",
      "description": "Return item(s) with the Project ID.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Correspondence Generic Tools",
         "items": {
          "allOf": [
           {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the generic tool.",
              "example": 5324
             },
             "domain_id": {
              "type": "integer",
              "description": "Unique identifier for the generic tool domain.",
              "example": -5324
             },
             "title": {
              "type": "string",
              "description": "Primary name/title for the generic tool.",
              "example": "Custom Tool"
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "abbreviation": {
              "type": "string",
              "description": "Abbreviation for the Title. Will be used as a prefix for the Generic Tool Item number.",
              "example": "CT"
             },
             "private_by_default": {
              "type": "boolean",
              "description": "If true, items created in the tool are private by default.",
              "example": true
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[project_id]': 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bproject_id%5D=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bproject_id%5D=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bproject_id%5D=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Generic Tool",
    "description": "Create a new Generic Tool in the specified Company. \nFor more information on Generic Tool and Correspondence Tool endpoints, \nsee [Working with the Correspondence Tool](/documentation/tutorial-correspondence).",
    "tags": [
     "Generic Tool"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "generic_tool"
        ],
        "properties": {
         "generic_tool": {
          "title": "The Generic Tool object",
          "type": "object",
          "required": [
           "title"
          ],
          "properties": {
           "title": {
            "type": "string",
            "description": "The title of the generic tool.",
            "example": "My Custom Tool"
           },
           "abbreviation": {
            "type": "string",
            "description": "An abbreviation for the generic tool.",
            "example": "CT"
           },
           "private_by_default": {
            "type": "boolean",
            "description": "If this property is set to true, any items that are created for the tool are private by default."
           },
           "new_project_default": {
            "type": "boolean",
            "description": "If this property is set to true, the generic tool will be added to new projects by default."
           },
           "send_overdue_notifications": {
            "type": "boolean",
            "description": "If this property is set to true, notifications will be sent to assignees when an item is overdue."
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for the generic tool.",
             "example": 5324
            },
            "domain_id": {
             "type": "integer",
             "description": "Unique identifier for the generic tool domain.",
             "example": -5324
            },
            "title": {
             "type": "string",
             "description": "Primary name/title for the generic tool.",
             "example": "Custom Tool"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "abbreviation": {
             "type": "string",
             "description": "Abbreviation for the Title. Will be used as a prefix for the Generic Tool Item number.",
             "example": "CT"
            },
            "private_by_default": {
             "type": "boolean",
             "description": "If true, items created in the tool are private by default.",
             "example": true
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools',\n  headers: {'content-type': 'application/json'},\n  body: {\n    generic_tool: {\n      title: 'My Custom Tool',\n      abbreviation: 'CT',\n      private_by_default: true,\n      new_project_default: true,\n      send_overdue_notifications: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"generic_tool\\\":{\\\"title\\\":\\\"My Custom Tool\\\",\\\"abbreviation\\\":\\\"CT\\\",\\\"private_by_default\\\":true,\\\"new_project_default\\\":true,\\\"send_overdue_notifications\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools \\\n  --header 'content-type: application/json' \\\n  --data '{\"generic_tool\":{\"title\":\"My Custom Tool\",\"abbreviation\":\"CT\",\"private_by_default\":true,\"new_project_default\":true,\"send_overdue_notifications\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools\"),\n    Content = new StringContent(\"{\\\"generic_tool\\\":{\\\"title\\\":\\\"My Custom Tool\\\",\\\"abbreviation\\\":\\\"CT\\\",\\\"private_by_default\\\":true,\\\"new_project_default\\\":true,\\\"send_overdue_notifications\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/generic_tools/{generic_tool_id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "generic_tool_id",
     "in": "path",
     "description": "Unique identifier for the Generic Tool.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Generic Tool",
    "description": "Update a Generic Tool's attributes. For more information on Generic Tool and Correspondence Tool endpoints, \nsee [Working with the Correspondence Tool](/documentation/tutorial-correspondence).",
    "tags": [
     "Generic Tool"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "generic_tool"
        ],
        "properties": {
         "generic_tool": {
          "title": "The Generic Tool object",
          "type": "object",
          "required": [
           "title"
          ],
          "properties": {
           "title": {
            "type": "string",
            "description": "The title of the generic tool.",
            "example": "My Custom Tool"
           },
           "abbreviation": {
            "type": "string",
            "description": "An abbreviation for the generic tool.",
            "example": "CT"
           },
           "private_by_default": {
            "type": "boolean",
            "description": "If this property is set to true, any items that are created for the tool are private by default."
           },
           "new_project_default": {
            "type": "boolean",
            "description": "If this property is set to true, the generic tool will be added to new projects by default."
           },
           "send_overdue_notifications": {
            "type": "boolean",
            "description": "If this property is set to true, notifications will be sent to assignees when an item is overdue."
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for the generic tool.",
           "example": 5324
          },
          "abbreviation": {
           "type": "string",
           "description": "Abbreviation for the Title. Will be used as a prefix for the Generic Tool Item number.",
           "example": "CT"
          },
          "domain_id": {
           "type": "integer",
           "description": "Unique identifier for the generic tool domain.",
           "example": -5324
          },
          "title": {
           "type": "string",
           "description": "Primary name/title for the generic tool.",
           "example": "Custom Tool"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    generic_tool: {\n      title: 'My Custom Tool',\n      abbreviation: 'CT',\n      private_by_default: true,\n      new_project_default: true,\n      send_overdue_notifications: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"generic_tool\\\":{\\\"title\\\":\\\"My Custom Tool\\\",\\\"abbreviation\\\":\\\"CT\\\",\\\"private_by_default\\\":true,\\\"new_project_default\\\":true,\\\"send_overdue_notifications\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"generic_tool\":{\"title\":\"My Custom Tool\",\"abbreviation\":\"CT\",\"private_by_default\":true,\"new_project_default\":true,\"send_overdue_notifications\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/generic_tools/%7Bgeneric_tool_id%7D\"),\n    Content = new StringContent(\"{\\\"generic_tool\\\":{\\\"title\\\":\\\"My Custom Tool\\\",\\\"abbreviation\\\":\\\"CT\\\",\\\"private_by_default\\\":true,\\\"new_project_default\\\":true,\\\"send_overdue_notifications\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/correspondence_type_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Correspondence Type Items",
    "description": "Returns a list of all Correspondence Type Items in the specified Project. \nFor more information on Generic Tool and Correspondence Tool endpoints, \nsee [Working with the Correspondence Tool](/documentation/tutorial-correspondence).",
    "tags": [
     "Correspondence Type Items"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[login_information_id]",
      "in": "query",
      "description": "Array of Login Information IDs. Returns item(s) with the specified Login Information ID.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Returns item(s) matching the specified status value.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[overdue]",
      "in": "query",
      "description": "If true, returns item(s) that are overdue.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[recycle_bin]",
      "in": "query",
      "description": "If true, returns item(s) that have been deleted.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[generic_tool_id]",
      "in": "query",
      "description": "Return item(s) within the specified Generic Tool ID(s)",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[received_from_id]",
      "in": "query",
      "description": "Received From ID",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[closed_at]",
      "in": "query",
      "description": "Returns item(s) closed within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[issued_at]",
      "in": "query",
      "description": "Returns item(s) issued within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[private]",
      "in": "query",
      "description": "If true, returns only item(s) with a `private` status.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Filters by specific location (Note: Use *either* this or location_id_with_sublocations, but not both)",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Field to sort by. If the field is passed with a - (EX: -updated_at) it is sorted in reverse order",
      "schema": {
       "type": "string",
       "enum": [
        "due_date",
        "login_information",
        "position",
        "status",
        "title",
        "updated_at",
        "created_at"
       ]
      }
     },
     {
      "name": "group",
      "in": "query",
      "description": "Controls if the Items are returned sorted by the sort attribute then the Generic Tool's Title or just the sort attribute. Defaults to 'generic_tool_title'.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "generic_tool_title",
        "none"
       ]
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Defines the type of view returned. Must be one of 'extended', 'compact', 'ids_only', or 'flatten_v0'.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "extended",
        "compact",
        "ids_only",
        "flatten_v0"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Correspondence Type Items",
         "items": {
          "title": "GenericToolItem",
          "type": "object",
          "description": "Generic Tool Item",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for the Generic Tool Item",
            "example": 85
           },
           "closed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Generic Tool Item closed at",
            "example": "2016-08-08T21:35:58Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Generic Tool Item created at",
            "example": "2016-08-08T21:35:58Z"
           },
           "description": {
            "type": "string",
            "description": "Description of a Generic Tool Item",
            "example": "This is a description."
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "description": "Generic Tool Item Due Date",
            "example": "2016-08-08"
           },
           "issued_at": {
            "type": "string",
            "format": "date-time",
            "description": "Generic Tool Item issued at",
            "example": "2016-08-08T21:35:58Z"
           },
           "origin_generic_tool_item_id": {
            "type": "integer",
            "description": "Origin Generic Tool Item ID",
            "example": 9
           },
           "origin_rfi_id": {
            "type": "integer",
            "description": "Origin RFI ID",
            "example": 14
           },
           "position": {
            "type": "string",
            "description": "The Number of the Generic Tool Item",
            "example": "A1"
           },
           "private": {
            "type": "boolean",
            "description": "If the Generic Tool Item is private",
            "example": false
           },
           "schedule_impact": {
            "type": "object",
            "properties": {
             "status": {
              "type": "string",
              "description": "Schedule impact status",
              "example": "yes_known",
              "enum": [
               "yes_known",
               "yes_unknown",
               "no_impact",
               "tbd",
               "n_a"
              ]
             },
             "value": {
              "type": "number",
              "format": "float",
              "description": "Schedule impact value",
              "example": 14
             }
            }
           },
           "cost_impact": {
            "type": "object",
            "properties": {
             "status": {
              "type": "string",
              "description": "Cost impact status",
              "example": "yes_known",
              "enum": [
               "yes_known",
               "yes_unknown",
               "no_impact",
               "tbd",
               "n_a"
              ]
             },
             "value": {
              "type": "number",
              "format": "float",
              "description": "Cost impact value in dollars",
              "example": 75.5
             }
            }
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Generic Tool Item updated at",
            "example": "2016-08-08T21:35:58Z"
           },
           "status": {
            "type": "string",
            "description": "Status of the Generic Tool Item",
            "example": "open"
           },
           "status_type": {
            "type": "string",
            "description": "The default status the Generic Tool Item's status is mapped to.",
            "example": "Open",
            "enum": [
             "Open",
             "Closed",
             "Draft"
            ]
           },
           "title": {
            "type": "string",
            "description": "Title of the Generic Tool Item",
            "example": "This is the title"
           },
           "created_by": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "company": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160583
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Company ABC"
                 }
                }
               }
              }
             }
            ]
           },
           "received_from": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "company": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160583
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Company ABC"
                 }
                }
               }
              }
             }
            ]
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             },
             "code": {
              "type": "string",
              "description": "The unique code for this Location",
              "example": "L1",
              "nullable": true
             }
            }
           },
           "cost_code": {
            "title": "compact",
            "type": "object",
            "properties": {
             "id": {
              "description": "ID",
              "example": 12345,
              "nullable": true,
              "type": "integer"
             },
             "full_code": {
              "type": "string",
              "description": "Full Cost code, including parent prefixes",
              "example": "02-300"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Earthwork"
             }
            }
           },
           "specification_section": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 161072
             },
             "number": {
              "type": "string",
              "description": "Number",
              "example": "08560"
             },
             "description": {
              "type": "string",
              "description": "Description",
              "example": "Vinyl Windows"
             },
             "label": {
              "type": "string",
              "description": "Label",
              "example": "08560 Vinyl Windows"
             },
             "current_revision_id": {
              "type": "integer",
              "description": "Current Revision ID",
              "nullable": true,
              "example": 145092
             }
            }
           },
           "trade": {
            "type": "object",
            "title": "Trade",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "trades": {
            "type": "array",
            "description": "Trades",
            "items": {
             "type": "object",
             "title": "Trade",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            }
           },
           "tasks": {
            "type": "array",
            "description": "Tasks",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Task ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Full Task name",
               "example": "01 - Closeout"
              },
              "task_name": {
               "type": "string",
               "description": "Task name",
               "example": "Closeout"
              },
              "key": {
               "type": "string",
               "description": "Task Key",
               "example": "A101"
              }
             }
            }
           },
           "sub_job": {
            "type": "object",
            "title": "Sub Job",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Sub Job ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Sub Job Name",
              "example": "Garage"
             },
             "Code": {
              "type": "string",
              "description": "Sub Job Code",
              "example": 1
             }
            }
           },
           "generic_tool": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the generic tool.",
              "example": 5324
             },
             "abbreviation": {
              "type": "string",
              "description": "Abbreviation for the Title. Will be used as a prefix for the Generic Tool Item number.",
              "example": "CT"
             },
             "domain_id": {
              "type": "integer",
              "description": "Unique identifier for the generic tool domain.",
              "example": -5324
             },
             "title": {
              "type": "string",
              "description": "Primary name/title for the generic tool.",
              "example": "Custom Tool"
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": "Attachments",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "URL",
               "example": "http://www.example.com/"
              },
              "filename": {
               "type": "string",
               "description": "Filename",
               "example": "january_receipt_copy.jpg"
              }
             }
            }
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document revision IDs",
            "items": {
             "type": "string"
            },
            "example": [
             "51GW47XAV5N64CQ2F8HTWFW0M4",
             "51H5MADM07T70B3DAK6X2TFVB0"
            ]
           },
           "distribution_members": {
            "type": "array",
            "description": "Distribution Members",
            "items": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "company": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 160583
                  },
                  "name": {
                   "type": "string",
                   "description": "Name",
                   "example": "Company ABC"
                  }
                 }
                }
               }
              }
             ]
            }
           },
           "assignees": {
            "type": "array",
            "description": "Assignees",
            "items": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "company": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 160583
                  },
                  "name": {
                   "type": "string",
                   "description": "Name",
                   "example": "Company ABC"
                  }
                 }
                }
               }
              }
             ]
            }
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field",
                "example": "custom field value"
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                "example": "phone_number"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                "example": "with_code"
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/correspondence_type_items',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[login_information_id]': 'SOME_ARRAY_VALUE',\n    'filters[status]': 'SOME_ARRAY_VALUE',\n    'filters[overdue]': 'SOME_BOOLEAN_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    'filters[recycle_bin]': 'SOME_BOOLEAN_VALUE',\n    'filters[generic_tool_id]': 'SOME_ARRAY_VALUE',\n    'filters[received_from_id]': 'SOME_INTEGER_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[closed_at]': 'SOME_STRING_VALUE',\n    'filters[issued_at]': 'SOME_STRING_VALUE',\n    'filters[vendor_id]': 'SOME_INTEGER_VALUE',\n    'filters[private]': 'SOME_BOOLEAN_VALUE',\n    'filters[location_id]': 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    group: 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/correspondence_type_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Blogin_information_id%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Brecycle_bin%5D=SOME_BOOLEAN_VALUE&filters%5Bgeneric_tool_id%5D=SOME_ARRAY_VALUE&filters%5Breceived_from_id%5D=SOME_INTEGER_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bclosed_at%5D=SOME_STRING_VALUE&filters%5Bissued_at%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_INTEGER_VALUE&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&filters%5Blocation_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&group=SOME_STRING_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/correspondence_type_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Blogin_information_id%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Brecycle_bin%5D=SOME_BOOLEAN_VALUE&filters%5Bgeneric_tool_id%5D=SOME_ARRAY_VALUE&filters%5Breceived_from_id%5D=SOME_INTEGER_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bclosed_at%5D=SOME_STRING_VALUE&filters%5Bissued_at%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_INTEGER_VALUE&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&filters%5Blocation_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&group=SOME_STRING_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/correspondence_type_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Blogin_information_id%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Boverdue%5D=SOME_BOOLEAN_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&filters%5Brecycle_bin%5D=SOME_BOOLEAN_VALUE&filters%5Bgeneric_tool_id%5D=SOME_ARRAY_VALUE&filters%5Breceived_from_id%5D=SOME_INTEGER_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bclosed_at%5D=SOME_STRING_VALUE&filters%5Bissued_at%5D=SOME_STRING_VALUE&filters%5Bvendor_id%5D=SOME_INTEGER_VALUE&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&filters%5Blocation_id%5D=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE&group=SOME_STRING_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add status_successful property to List Correspondence Type Items response body",
      "description": "The response body for the List Correspondence Type Items endpoint now includes status_successful.\nstatus_successful references the is_successful property on a generic tool status.",
      "endpoint": "GET /projects/{project_id}/correspondence_type_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-02-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "correspondences?version=1.0#list-correspondence-type-items"
     },
     {
      "summary": "Added filters",
      "description": "Added private filter to correspondence_type_items endpoint.",
      "endpoint": "GET /projects/{project_id}/correspondence_type_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "correspondences?version=1.0#list-correspondence-type-items"
     },
     {
      "summary": "Fix due_date filter returning previous day in certain timezones",
      "description": "Date filters on the list endpoint now respect project timezone correctly. The due_date filter (date-only column) no longer returns items from the previous calendar day for projects in timezones such as GMT+12.",
      "endpoint": "GET /projects/{project_id}/correspondence_type_items",
      "type": "fix",
      "breaking": false,
      "datestamp": "2026-02-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "correspondences?version=1.0#list-correspondence-type-items"
     },
     {
      "summary": "Add custom_field_ids filtering and limits to correspondence type items list",
      "description": "The correspondence type items list endpoint now supports filtering returned custom field metadata by passing custom_field_ids in the request.\nThis behavior applies to the with_permissions_reduced view when the correspondence-custom-field-ids-filter-enabled flag is active.\nValidation now enforces single-type and mixed-type custom_field_ids limits, including configured override values.",
      "endpoint": "GET /projects/{project_id}/correspondence_type_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-05-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "correspondences?version=1.0#list-correspondence-type-items"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Batch Update Correspondence Type Items",
    "description": "Update all specified Correspondence Type Items. \nFor more information on Generic Tool and Correspondence Tool endpoints, \nsee [Working with the Correspondence Tool](/documentation/tutorial-correspondence).",
    "tags": [
     "Correspondence Type Items"
    ],
    "parameters": [
     {
      "name": "completion_mode",
      "in": "query",
      "description": "Defines whether to update items that can be, or none if at least one item can not be updated. Defaults to 'all_or_nothing'.",
      "schema": {
       "type": "string",
       "enum": [
        "all_or_nothing",
        "atomic"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "generic_tool_items"
        ],
        "properties": {
         "generic_tool_items": {
          "title": "Generic Tool Items",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "id"
           ],
           "properties": {
            "id": {
             "type": "integer",
             "description": "The unique idenfitier of the generic tool item.",
             "example": 123
            },
            "due_date": {
             "type": "string",
             "format": "date",
             "description": "The due date for the generic tool item.",
             "example": "2020-08-31"
            },
            "private": {
             "type": "boolean",
             "description": "If this property is set to true, the generic tool item is private. If this property is set to false, the generic tool item is not private."
            },
            "schedule_impact": {
             "type": "string",
             "description": "The schedule impact of the generic tool item.",
             "example": "no_impact"
            },
            "cost_impact": {
             "type": "string",
             "description": "The cost impact of the generic tool item.",
             "example": "no_impact"
            },
            "status": {
             "type": "string",
             "description": "The status of the generic tool item.",
             "example": "Open"
            },
            "assignee_ids": {
             "type": "array",
             "items": {
              "type": "integer",
              "description": "The unique identifier of the assignee.",
              "example": 83659267
             }
            },
            "received_from_id": {
             "type": "integer",
             "description": "The unique identifier for the Received From entity for the generic tool item.",
             "example": 84674967
            },
            "location_id": {
             "type": "integer",
             "description": "The location identifier for the generic tool item.",
             "example": 1032218
            },
            "cost_code_id": {
             "type": "integer",
             "description": "The cost code identifier for the generic tool item.",
             "example": 78261048
            },
            "specification_section_id": {
             "type": "integer",
             "description": "The specification section identifier for the generic tool item.",
             "example": 7855556
            },
            "sub_job_id": {
             "type": "integer",
             "description": "The sub job identifier for the generic tool item.",
             "example": 7855556
            },
            "trade_ids": {
             "type": "array",
             "items": {
              "type": "integer",
              "description": "The trade identifier for the generic tool item.",
              "example": 779365
             }
            },
            "task_ids": {
             "type": "array",
             "items": {
              "type": "integer",
              "description": "The task identifier for the generic tool item.",
              "example": 779333
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of update status",
         "items": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for the generic tool item.",
             "example": 123
            },
            "status": {
             "type": "string",
             "description": "Update status for the generic tool item.",
             "enum": [
              "success",
              "failure"
             ],
             "example": "success"
            },
            "errors": {
             "type": "object"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
[...]
