{
 "openapi": "3.1.0",
 "info": {
  "title": "Cost catalogs",
  "version": "2.0",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Cost Catalog",
  "x-resource-name": "Cost catalogs",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/estimating/catalogs": {
   "get": {
    "tags": [
     "Catalog"
    ],
    "summary": "Get Catalogs",
    "description": "Returns all Cost Catalogs.",
    "operationId": "Catalog_GetCatalog",
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page number",
      "schema": {
       "type": "integer",
       "format": "int32"
      },
      "x-position": 1,
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Items per page",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10,
       "maximum": 100
      },
      "x-position": 2,
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "headers": {
       "Total": {
        "description": "Total number of items",
        "schema": {
         "type": "integer"
        }
       },
       "Per-Page": {
        "description": "Number of items per page",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Links to other pages",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "array",
           "nullable": true,
           "items": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
             "name": {
              "type": "string",
              "nullable": true
             },
             "id": {
              "type": "string",
              "nullable": true
             },
             "custom": {
              "type": "boolean"
             },
             "sealed": {
              "type": "boolean"
             },
             "catalogs": {
              "type": "array",
              "description": "Sub Catalogs",
              "nullable": true,
              "items": {
               "type": "object",
               "description": "A catalog entry without nested sub catalogs.",
               "additionalProperties": false,
               "properties": {
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "id": {
                 "type": "string",
                 "nullable": true
                },
                "custom": {
                 "type": "boolean"
                },
                "sealed": {
                 "type": "boolean"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get all Cost Catalogs",
      "description": "This endpoint allows retrieving all Cost Catalogs.",
      "endpoint": "GET /companies/{company_id}/estimating/catalogs",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "tags": [
     "Catalog"
    ],
    "summary": "Create Catalog",
    "description": "Creates new Cost Catalog.",
    "operationId": "Catalog_CreateCatalog",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "requestBody": {
     "x-name": "model",
     "description": "Catalog",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
         "name": {
          "type": "string",
          "nullable": true
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "type": "object",
           "additionalProperties": false,
           "properties": {
            "name": {
             "type": "string",
             "nullable": true
            },
            "id": {
             "type": "string",
             "nullable": true
            },
            "custom": {
             "type": "boolean"
            },
            "sealed": {
             "type": "boolean"
            },
            "catalogs": {
             "type": "array",
             "description": "Sub Catalogs",
             "nullable": true,
             "items": {
              "type": "object",
              "description": "A catalog entry without nested sub catalogs.",
              "additionalProperties": false,
              "properties": {
               "name": {
                "type": "string",
                "nullable": true
               },
               "id": {
                "type": "string",
                "nullable": true
               },
               "custom": {
                "type": "boolean"
               },
               "sealed": {
                "type": "boolean"
               }
              }
             }
            }
           },
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to create Cost Catalog",
      "description": "This endpoint allows creating a new Cost Catalog.",
      "endpoint": "POST /companies/{company_id}/estimating/catalogs",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs',\n  headers: {'content-type': 'application/json'},\n  body: {name: 'string'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/catalogs/{catalog_id}": {
   "post": {
    "tags": [
     "Catalog"
    ],
    "summary": "Create new sub Cost Catalog",
    "description": "There can be created only one level sub-catalog.",
    "operationId": "Catalog_CreateCatalog2",
    "parameters": [
     {
      "name": "catalog_id",
      "in": "path",
      "required": true,
      "description": "Parent Catalog Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "requestBody": {
     "x-name": "model",
     "description": "Catalog",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
         "name": {
          "type": "string",
          "nullable": true
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 2
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "type": "object",
           "additionalProperties": false,
           "properties": {
            "name": {
             "type": "string",
             "nullable": true
            },
            "id": {
             "type": "string",
             "nullable": true
            },
            "custom": {
             "type": "boolean"
            },
            "sealed": {
             "type": "boolean"
            },
            "catalogs": {
             "type": "array",
             "description": "Sub Catalogs",
             "nullable": true,
             "items": {
              "type": "object",
              "description": "A catalog entry without nested sub catalogs.",
              "additionalProperties": false,
              "properties": {
               "name": {
                "type": "string",
                "nullable": true
               },
               "id": {
                "type": "string",
                "nullable": true
               },
               "custom": {
                "type": "boolean"
               },
               "sealed": {
                "type": "boolean"
               }
              }
             }
            }
           },
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to create sub Cost Catalog",
      "description": "This endpoint allows creating a new sub Cost Catalog.",
      "endpoint": "POST /companies/{company_id}/estimating/catalogs/{catalog_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {name: 'string'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "tags": [
     "Catalog"
    ],
    "summary": "Update Catalog",
    "description": "Updates Catalog",
    "operationId": "Catalog_UpdateCatalog",
    "parameters": [
     {
      "name": "catalog_id",
      "in": "path",
      "required": true,
      "description": "Catalog Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "requestBody": {
     "x-name": "model",
     "description": "Catalog",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
         "name": {
          "type": "string",
          "nullable": true
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 2
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "type": "object",
           "additionalProperties": false,
           "properties": {
            "name": {
             "type": "string",
             "nullable": true
            },
            "id": {
             "type": "string",
             "nullable": true
            },
            "custom": {
             "type": "boolean"
            },
            "sealed": {
             "type": "boolean"
            },
            "catalogs": {
             "type": "array",
             "description": "Sub Catalogs",
             "nullable": true,
             "items": {
              "type": "object",
              "description": "A catalog entry without nested sub catalogs.",
              "additionalProperties": false,
              "properties": {
               "name": {
                "type": "string",
                "nullable": true
               },
               "id": {
                "type": "string",
                "nullable": true
               },
               "custom": {
                "type": "boolean"
               },
               "sealed": {
                "type": "boolean"
               }
              }
             }
            }
           },
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to update Cost Catalog",
      "description": "This endpoint allows updating a Cost Catalog.",
      "endpoint": "PATCH /companies/{company_id}/estimating/catalogs/{catalog_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {name: 'string'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "Catalog"
    ],
    "summary": "Delete Catalog",
    "description": "Deletes Catalog",
    "operationId": "Catalog_DeleteCatalog",
    "parameters": [
     {
      "name": "catalog_id",
      "in": "path",
      "required": true,
      "description": "Catalog Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to delete Cost Catalog",
      "description": "This endpoint allows deleting a Cost Catalog.",
      "endpoint": "DELETE /companies/{company_id}/estimating/catalogs/{catalog_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/catalogs/{catalog_id}/move/{parent_catalog_id}": {
   "post": {
    "tags": [
     "Catalog"
    ],
    "summary": "Move Catalog",
    "description": "Moves Catalog under Parent Catalog",
    "operationId": "Catalog_MoveCatalog",
    "parameters": [
     {
      "name": "catalog_id",
      "in": "path",
      "required": true,
      "description": "Catalog Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "parent_catalog_id",
      "in": "path",
      "required": true,
      "description": "Parent Catalog Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 2
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to move Cost Catalog under Parent Catalog",
      "description": "This endpoint allows moving a Cost Catalog under a new Parent Catalog.",
      "endpoint": "POST /companies/{company_id}/estimating/catalogs/{catalog_id}/move/{parent_catalog_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D/move/%7Bparent_catalog_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D/move/%7Bparent_catalog_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D/move/%7Bparent_catalog_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D/move/%7Bparent_catalog_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}