{
 "openapi": "3.0.0",
 "info": {
  "title": "Cost Codes",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Work Breakdown Structure",
  "x-resource-name": "Cost Codes",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/cost_codes": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Cost Codes",
    "description": "Returns a list of Cost Codes.",
    "tags": [
     "Cost Codes"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sub_job_id",
      "in": "query",
      "description": "Unique identifier for the Sub Job",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Filter results to only the cost codes with the specified IDs. Pass multiple values as an array. Example: filters[id]=[1,2].",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID. Returns item(s) with the specified Origin ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies which view (which attributes) of the resource is going to be present in the response.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "erp_compact"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of cost codes",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "title": "extended",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this Cost Code record. Nullable when the record has not yet been persisted.",
              "example": 12345,
              "nullable": true
             },
             "biller": {
              "type": "string",
              "description": "Display name of the entity (project or sub job) that owns this cost code.",
              "example": "Campus"
             },
             "biller_id": {
              "type": "integer",
              "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
              "example": 12345,
              "nullable": true
             },
             "biller_type": {
              "type": "string",
              "enum": [
               "Project",
               "SubJob",
               ""
              ],
              "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project), 'SubJob' (a sub job within the project), or '' (empty string when unassigned).",
              "example": "Project"
             },
             "biller_origin_id": {
              "type": "string",
              "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
              "example": "98765",
              "nullable": true
             },
             "budgeted": {
              "type": "boolean",
              "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
              "example": false
             },
             "code": {
              "type": "string",
              "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
              "example": "300",
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when this cost code was created, in ISO 8601 format.",
              "example": "2018-06-11T15:56:25Z",
              "nullable": true
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
              "example": "2018-06-11T15:56:25Z",
              "nullable": true
             },
             "full_code": {
              "type": "string",
              "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
              "example": "02-300"
             },
             "name": {
              "type": "string",
              "description": "Display name of the cost code.",
              "example": "Earthwork"
             },
             "origin_data": {
              "type": "string",
              "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
              "example": "OD-129947",
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems. Null when not linked to an ERP system.",
              "example": "9874484",
              "nullable": true
             },
             "parent": {
              "type": "object",
              "description": "The immediate parent cost code of this record, if any.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                "example": 2345,
                "nullable": true
               }
              }
             },
             "position": {
              "type": "integer",
              "description": "Sort order of this cost code within its parent.",
              "example": 1,
              "nullable": true
             },
             "sortable_code": {
              "type": "string",
              "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
              "example": "02-300"
             },
             "standard_cost_code_id": {
              "type": "integer",
              "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
              "example": 122334,
              "nullable": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when this cost code was last updated, in ISO 8601 format. Null when not available.",
              "example": "2015-05-15T00:00:00Z",
              "nullable": true
             },
             "line_item_types": {
              "type": "array",
              "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
              "items": {
               "type": "object",
               "title": "LineItemType",
               "description": "A line item type assigned to this cost code.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier for the Line Item Type.",
                 "example": 12345
                },
                "name": {
                 "type": "string",
                 "description": "Display name of the Line Item Type.",
                 "example": "Equipment"
                },
                "code": {
                 "type": "string",
                 "description": "Short code used for CSV import of this Line Item Type.",
                 "example": "LB"
                },
                "base_type": {
                 "type": "string",
                 "enum": [
                  "equipment",
                  "materials",
                  "commitment",
                  "owner_cost",
                  "professional_services",
                  "labor",
                  "other"
                 ],
                 "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                 "example": "materials"
                },
                "origin_id": {
                 "type": "string",
                 "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                 "example": "ABC123",
                 "nullable": true
                }
               }
              }
             }
            }
           },
           {
            "type": "object",
            "title": "compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this Cost Code record. Nullable when the record has not yet been persisted.",
              "example": 12345,
              "nullable": true
             },
             "name": {
              "type": "string",
              "description": "Display name of the cost code.",
              "example": "Earthwork"
             },
             "full_code": {
              "type": "string",
              "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
              "example": "02-300"
             },
             "origin_data": {
              "type": "string",
              "description": "Free-form third-party metadata string from the ERP system.",
              "example": "OD-2398273424"
             },
             "origin_id": {
              "type": "string",
              "description": "ERP system identifier for this cost code. Null when not linked to an ERP system.",
              "example": "ABC123",
              "nullable": true
             },
             "standard_cost_code_id": {
              "type": "integer",
              "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
              "example": 56789
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/cost_codes',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    sub_job_id: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[origin_id]': 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/cost_codes?project_id=SOME_INTEGER_VALUE&sub_job_id=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/cost_codes?project_id=SOME_INTEGER_VALUE&sub_job_id=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/cost_codes?project_id=SOME_INTEGER_VALUE&sub_job_id=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added a filter \"id\" option to the index endpoint.",
      "description": "Get a filtered list of cost codes for a given list of ID's.",
      "endpoint": "GET /cost_codes",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "cost-codes?version=1.0#list-cost-codes"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Cost Code",
    "description": "Create a new Cost Code.",
    "tags": [
     "Cost Codes"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "cost_code"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 12345
         },
         "sub_job_id": {
          "type": "integer",
          "description": "ID of the sub job to scope this operation to. When provided, the cost code is created or updated under this sub job rather than the project directly.",
          "example": 12345
         },
         "cost_code": {
          "title": "CostCode",
          "type": "object",
          "description": "Cost Code object",
          "required": [
           "name",
           "code"
          ],
          "properties": {
           "position": {
            "type": "integer",
            "description": "Sort order of this cost code within its parent.",
            "example": 1
           },
           "code": {
            "type": "string",
            "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", the value of this field should be \"300\".",
            "example": "300"
           },
           "name": {
            "type": "string",
            "description": "Display name of the cost code.",
            "example": "Site Work"
           },
           "origin_data": {
            "type": "string",
            "description": "Free-form third-party metadata string from the ERP system.",
            "example": "OD-239238"
           },
           "origin_id": {
            "type": "string",
            "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
            "example": "3497237"
           },
           "parent_id": {
            "type": "integer",
            "description": "ID of the parent cost code in the hierarchy. Creates a root-level cost code when omitted.",
            "example": 12345
           },
           "parent_origin_id": {
            "type": "string",
            "description": "ERP origin ID of the parent cost code. Alternative to parent_id for looking up the parent by its ERP identifier rather than its Procore ID.",
            "example": "ERP-CC-001"
           },
           "standard_cost_code_id": {
            "type": "integer",
            "description": "ID of the company-level standard cost code to associate with this cost code.",
            "example": 122334
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "extended",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Cost Code record.",
           "example": 12345
          },
          "biller": {
           "type": "string",
           "description": "Display name of the entity (project or sub job) that owns this cost code.",
           "example": "Campus"
          },
          "biller_id": {
           "type": "integer",
           "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
           "example": 12345
          },
          "biller_type": {
           "type": "string",
           "enum": [
            "Project",
            "SubJob"
           ],
           "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
           "example": "Project"
          },
          "biller_origin_id": {
           "type": "string",
           "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
           "example": "98765",
           "nullable": true
          },
          "budgeted": {
           "type": "boolean",
           "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
           "example": false
          },
          "code": {
           "type": "string",
           "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
           "example": "300"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this cost code was created, in ISO 8601 format.",
           "example": "2015-05-15T00:00:00Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
           "example": "2017-07-29T21:39:40Z"
          },
          "full_code": {
           "type": "string",
           "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
           "example": "02-300"
          },
          "name": {
           "type": "string",
           "description": "Display name of the cost code.",
           "example": "Earthwork"
          },
          "origin_data": {
           "type": "string",
           "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
           "example": "OD-129947"
          },
          "origin_id": {
           "type": "string",
           "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
           "example": "9874484"
          },
          "parent": {
           "type": "object",
           "description": "The immediate parent cost code of this record, if any.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
             "example": 2345
            }
           }
          },
          "position": {
           "type": "integer",
           "description": "Sort order of this cost code within its parent.",
           "example": 1
          },
          "sortable_code": {
           "type": "string",
           "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
           "example": "02-300"
          },
          "standard_cost_code_id": {
           "type": "integer",
           "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
           "example": 122334
          },
          "standard_cost_code_list_id": {
           "type": "integer",
           "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
           "example": 133445,
           "nullable": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
           "example": "2015-05-15T00:00:00Z"
          },
          "line_item_types": {
           "type": "array",
           "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
           "items": {
            "type": "object",
            "title": "LineItemType",
            "description": "A line item type assigned to this cost code.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Line Item Type.",
              "example": 12345
             },
             "name": {
              "type": "string",
              "description": "Display name of the Line Item Type.",
              "example": "Equipment"
             },
             "code": {
              "type": "string",
              "description": "Short code used for CSV import of this Line Item Type.",
              "example": "LB"
             },
             "base_type": {
              "type": "string",
              "enum": [
               "equipment",
               "materials",
               "commitment",
               "owner_cost",
               "professional_services",
               "labor",
               "other"
              ],
              "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
              "example": "materials"
             },
             "origin_id": {
              "type": "string",
              "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
              "example": "ABC123",
              "nullable": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/cost_codes',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    project_id: 12345,\n    sub_job_id: 12345,\n    cost_code: {\n      position: 1,\n      code: '300',\n      name: 'Site Work',\n      origin_data: 'OD-239238',\n      origin_id: '3497237',\n      parent_id: 12345,\n      parent_origin_id: 'ERP-CC-001',\n      standard_cost_code_id: 122334\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":12345,\\\"sub_job_id\\\":12345,\\\"cost_code\\\":{\\\"position\\\":1,\\\"code\\\":\\\"300\\\",\\\"name\\\":\\\"Site Work\\\",\\\"origin_data\\\":\\\"OD-239238\\\",\\\"origin_id\\\":\\\"3497237\\\",\\\"parent_id\\\":12345,\\\"parent_origin_id\\\":\\\"ERP-CC-001\\\",\\\"standard_cost_code_id\\\":122334}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/cost_codes\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/cost_codes \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":12345,\"sub_job_id\":12345,\"cost_code\":{\"position\":1,\"code\":\"300\",\"name\":\"Site Work\",\"origin_data\":\"OD-239238\",\"origin_id\":\"3497237\",\"parent_id\":12345,\"parent_origin_id\":\"ERP-CC-001\",\"standard_cost_code_id\":122334}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/cost_codes\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":12345,\\\"sub_job_id\\\":12345,\\\"cost_code\\\":{\\\"position\\\":1,\\\"code\\\":\\\"300\\\",\\\"name\\\":\\\"Site Work\\\",\\\"origin_data\\\":\\\"OD-239238\\\",\\\"origin_id\\\":\\\"3497237\\\",\\\"parent_id\\\":12345,\\\"parent_origin_id\\\":\\\"ERP-CC-001\\\",\\\"standard_cost_code_id\\\":122334}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/cost_codes/copy_from_standard_list": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Copy from Standard Cost Code List",
    "description": "Copy Cost Codes from Standard Cost Code List.",
    "tags": [
     "Cost Codes"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "standard_cost_code_list_id"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 1351
         },
         "sub_job_id": {
          "type": "integer",
          "description": "ID of the sub job to copy cost codes into. When provided, codes are copied to the sub job rather than the project directly.",
          "example": 456
         },
         "standard_cost_code_list_id": {
          "type": "integer",
          "description": "ID of the standard cost code list to copy all cost codes from into this project.",
          "example": 242
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Cost Codes were copied successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of cost codes",
         "items": {
          "oneOf": [
           {
            "type": "object",
            "title": "extended",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this Cost Code record. Nullable when the record has not yet been persisted.",
              "example": 12345,
              "nullable": true
             },
             "biller": {
              "type": "string",
              "description": "Display name of the entity (project or sub job) that owns this cost code.",
              "example": "Campus"
             },
             "biller_id": {
              "type": "integer",
              "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
              "example": 12345,
              "nullable": true
             },
             "biller_type": {
              "type": "string",
              "enum": [
               "Project",
               "SubJob",
               ""
              ],
              "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project), 'SubJob' (a sub job within the project), or '' (empty string when unassigned).",
              "example": "Project"
             },
             "biller_origin_id": {
              "type": "string",
              "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
              "example": "98765",
              "nullable": true
             },
             "budgeted": {
              "type": "boolean",
              "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
              "example": false
             },
             "code": {
              "type": "string",
              "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
              "example": "300",
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when this cost code was created, in ISO 8601 format.",
              "example": "2018-06-11T15:56:25Z",
              "nullable": true
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
              "example": "2018-06-11T15:56:25Z",
              "nullable": true
             },
             "full_code": {
              "type": "string",
              "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
              "example": "02-300"
             },
             "name": {
              "type": "string",
              "description": "Display name of the cost code.",
              "example": "Earthwork"
             },
             "origin_data": {
              "type": "string",
              "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
              "example": "OD-129947",
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems. Null when not linked to an ERP system.",
              "example": "9874484",
              "nullable": true
             },
             "parent": {
              "type": "object",
              "description": "The immediate parent cost code of this record, if any.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                "example": 2345,
                "nullable": true
               }
              }
             },
             "position": {
              "type": "integer",
              "description": "Sort order of this cost code within its parent.",
              "example": 1,
              "nullable": true
             },
             "sortable_code": {
              "type": "string",
              "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
              "example": "02-300"
             },
             "standard_cost_code_id": {
              "type": "integer",
              "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
              "example": 122334,
              "nullable": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when this cost code was last updated, in ISO 8601 format. Null when not available.",
              "example": "2015-05-15T00:00:00Z",
              "nullable": true
             },
             "line_item_types": {
              "type": "array",
              "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
              "items": {
               "type": "object",
               "title": "LineItemType",
               "description": "A line item type assigned to this cost code.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier for the Line Item Type.",
                 "example": 12345
                },
                "name": {
                 "type": "string",
                 "description": "Display name of the Line Item Type.",
                 "example": "Equipment"
                },
                "code": {
                 "type": "string",
                 "description": "Short code used for CSV import of this Line Item Type.",
                 "example": "LB"
                },
                "base_type": {
                 "type": "string",
                 "enum": [
                  "equipment",
                  "materials",
                  "commitment",
                  "owner_cost",
                  "professional_services",
                  "labor",
                  "other"
                 ],
                 "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                 "example": "materials"
                },
                "origin_id": {
                 "type": "string",
                 "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                 "example": "ABC123",
                 "nullable": true
                }
               }
              }
             }
            }
           },
           {
            "type": "object",
            "title": "compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for this Cost Code record. Nullable when the record has not yet been persisted.",
              "example": 12345,
              "nullable": true
             },
             "name": {
              "type": "string",
              "description": "Display name of the cost code.",
              "example": "Earthwork"
             },
             "full_code": {
              "type": "string",
              "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
              "example": "02-300"
             },
             "origin_data": {
              "type": "string",
              "description": "Free-form third-party metadata string from the ERP system.",
              "example": "OD-2398273424"
             },
             "origin_id": {
              "type": "string",
              "description": "ERP system identifier for this cost code. Null when not linked to an ERP system.",
              "example": "ABC123",
              "nullable": true
             },
             "standard_cost_code_id": {
              "type": "integer",
              "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
              "example": 56789
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/cost_codes/copy_from_standard_list',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {project_id: 1351, sub_job_id: 456, standard_cost_code_list_id: 242},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":1351,\\\"sub_job_id\\\":456,\\\"standard_cost_code_list_id\\\":242}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/cost_codes/copy_from_standard_list\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/cost_codes/copy_from_standard_list \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":1351,\"sub_job_id\":456,\"standard_cost_code_list_id\":242}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/cost_codes/copy_from_standard_list\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":1351,\\\"sub_job_id\\\":456,\\\"standard_cost_code_list_id\\\":242}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/cost_codes/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the Cost Code",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Cost Code",
    "description": "Returns details on a specific Cost Code.",
    "tags": [
     "Cost Codes"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sub_job_id",
      "in": "query",
      "description": "Unique identifier for the Sub Job",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "extended",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Cost Code record.",
           "example": 12345
          },
          "biller": {
           "type": "string",
           "description": "Display name of the entity (project or sub job) that owns this cost code.",
           "example": "Campus"
          },
          "biller_id": {
           "type": "integer",
           "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
           "example": 12345
          },
          "biller_type": {
           "type": "string",
           "enum": [
            "Project",
            "SubJob"
           ],
           "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
           "example": "Project"
          },
          "biller_origin_id": {
           "type": "string",
           "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
           "example": "98765",
           "nullable": true
          },
          "budgeted": {
           "type": "boolean",
           "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
           "example": false
          },
          "code": {
           "type": "string",
           "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
           "example": "300"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this cost code was created, in ISO 8601 format.",
           "example": "2015-05-15T00:00:00Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
           "example": "2017-07-29T21:39:40Z"
          },
          "full_code": {
           "type": "string",
           "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
           "example": "02-300"
          },
          "name": {
           "type": "string",
           "description": "Display name of the cost code.",
           "example": "Earthwork"
          },
          "origin_data": {
           "type": "string",
           "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
           "example": "OD-129947"
          },
          "origin_id": {
           "type": "string",
           "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
           "example": "9874484"
          },
          "parent": {
           "type": "object",
           "description": "The immediate parent cost code of this record, if any.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
             "example": 2345
            }
           }
          },
          "position": {
           "type": "integer",
           "description": "Sort order of this cost code within its parent.",
           "example": 1
          },
          "sortable_code": {
           "type": "string",
           "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
           "example": "02-300"
          },
          "standard_cost_code_id": {
           "type": "integer",
           "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
           "example": 122334
          },
          "standard_cost_code_list_id": {
           "type": "integer",
           "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
           "example": 133445,
           "nullable": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
           "example": "2015-05-15T00:00:00Z"
          },
          "line_item_types": {
           "type": "array",
           "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
           "items": {
            "type": "object",
            "title": "LineItemType",
            "description": "A line item type assigned to this cost code.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Line Item Type.",
              "example": 12345
             },
             "name": {
              "type": "string",
              "description": "Display name of the Line Item Type.",
              "example": "Equipment"
             },
             "code": {
              "type": "string",
              "description": "Short code used for CSV import of this Line Item Type.",
              "example": "LB"
             },
             "base_type": {
              "type": "string",
              "enum": [
               "equipment",
               "materials",
               "commitment",
               "owner_cost",
               "professional_services",
               "labor",
               "other"
              ],
              "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
              "example": "materials"
             },
             "origin_id": {
              "type": "string",
              "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
              "example": "ABC123",
              "nullable": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/cost_codes/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE', sub_job_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/cost_codes/%7Bid%7D?project_id=SOME_INTEGER_VALUE&sub_job_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/cost_codes/%7Bid%7D?project_id=SOME_INTEGER_VALUE&sub_job_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/cost_codes/%7Bid%7D?project_id=SOME_INTEGER_VALUE&sub_job_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Cost Code",
    "description": "Update a specific Cost Code.",
    "tags": [
     "Cost Codes"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "cost_code"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 12345
         },
         "sub_job_id": {
          "type": "integer",
          "description": "ID of the sub job to scope this operation to. When provided, the cost code is created or updated under this sub job rather than the project directly.",
          "example": 12345
         },
         "cost_code": {
          "title": "CostCode",
          "type": "object",
          "description": "Cost Code object",
          "required": [
           "name",
           "code"
          ],
          "properties": {
           "position": {
            "type": "integer",
            "description": "Sort order of this cost code within its parent.",
            "example": 1
           },
           "code": {
            "type": "string",
            "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", the value of this field should be \"300\".",
            "example": "300"
           },
           "name": {
            "type": "string",
            "description": "Display name of the cost code.",
            "example": "Site Work"
           },
           "origin_data": {
            "type": "string",
            "description": "Free-form third-party metadata string from the ERP system.",
            "example": "OD-239238"
           },
           "origin_id": {
            "type": "string",
            "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
            "example": "3497237"
           },
           "parent_id": {
            "type": "integer",
            "description": "ID of the parent cost code in the hierarchy. Creates a root-level cost code when omitted.",
            "example": 12345
           },
           "parent_origin_id": {
            "type": "string",
            "description": "ERP origin ID of the parent cost code. Alternative to parent_id for looking up the parent by its ERP identifier rather than its Procore ID.",
            "example": "ERP-CC-001"
           },
           "standard_cost_code_id": {
            "type": "integer",
            "description": "ID of the company-level standard cost code to associate with this cost code.",
            "example": 122334
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "extended",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Cost Code record.",
           "example": 12345
          },
          "biller": {
           "type": "string",
           "description": "Display name of the entity (project or sub job) that owns this cost code.",
           "example": "Campus"
          },
          "biller_id": {
           "type": "integer",
           "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
           "example": 12345
          },
          "biller_type": {
           "type": "string",
           "enum": [
            "Project",
            "SubJob"
           ],
           "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
           "example": "Project"
          },
          "biller_origin_id": {
           "type": "string",
           "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
           "example": "98765",
           "nullable": true
          },
          "budgeted": {
           "type": "boolean",
           "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
           "example": false
          },
          "code": {
           "type": "string",
           "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
           "example": "300"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this cost code was created, in ISO 8601 format.",
           "example": "2015-05-15T00:00:00Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
           "example": "2017-07-29T21:39:40Z"
          },
          "full_code": {
           "type": "string",
           "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
           "example": "02-300"
          },
          "name": {
           "type": "string",
           "description": "Display name of the cost code.",
           "example": "Earthwork"
          },
          "origin_data": {
           "type": "string",
           "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
           "example": "OD-129947"
          },
          "origin_id": {
           "type": "string",
           "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
           "example": "9874484"
          },
          "parent": {
           "type": "object",
           "description": "The immediate parent cost code of this record, if any.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
             "example": 2345
            }
           }
          },
          "position": {
           "type": "integer",
           "description": "Sort order of this cost code within its parent.",
           "example": 1
          },
          "sortable_code": {
           "type": "string",
           "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
           "example": "02-300"
          },
          "standard_cost_code_id": {
           "type": "integer",
           "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
           "example": 122334
          },
          "standard_cost_code_list_id": {
           "type": "integer",
           "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
           "example": 133445,
           "nullable": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
           "example": "2015-05-15T00:00:00Z"
          },
          "line_item_types": {
           "type": "array",
           "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
           "items": {
            "type": "object",
            "title": "LineItemType",
            "description": "A line item type assigned to this cost code.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Line Item Type.",
              "example": 12345
             },
             "name": {
              "type": "string",
              "description": "Display name of the Line Item Type.",
              "example": "Equipment"
             },
             "code": {
              "type": "string",
              "description": "Short code used for CSV import of this Line Item Type.",
              "example": "LB"
             },
             "base_type": {
              "type": "string",
              "enum": [
               "equipment",
               "materials",
               "commitment",
               "owner_cost",
               "professional_services",
               "labor",
               "other"
              ],
              "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
              "example": "materials"
             },
             "origin_id": {
              "type": "string",
              "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
              "example": "ABC123",
              "nullable": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/cost_codes/%7Bid%7D',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    project_id: 12345,\n    sub_job_id: 12345,\n    cost_code: {\n      position: 1,\n      code: '300',\n      name: 'Site Work',\n      origin_data: 'OD-239238',\n      origin_id: '3497237',\n      parent_id: 12345,\n      parent_origin_id: 'ERP-CC-001',\n      standard_cost_code_id: 122334\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":12345,\\\"sub_job_id\\\":12345,\\\"cost_code\\\":{\\\"position\\\":1,\\\"code\\\":\\\"300\\\",\\\"name\\\":\\\"Site Work\\\",\\\"origin_data\\\":\\\"OD-239238\\\",\\\"origin_id\\\":\\\"3497237\\\",\\\"parent_id\\\":12345,\\\"parent_origin_id\\\":\\\"ERP-CC-001\\\",\\\"standard_cost_code_id\\\":122334}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.0/cost_codes/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/cost_codes/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":12345,\"sub_job_id\":12345,\"cost_code\":{\"position\":1,\"code\":\"300\",\"name\":\"Site Work\",\"origin_data\":\"OD-239238\",\"origin_id\":\"3497237\",\"parent_id\":12345,\"parent_origin_id\":\"ERP-CC-001\",\"standard_cost_code_id\":122334}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/cost_codes/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":12345,\\\"sub_job_id\\\":12345,\\\"cost_code\\\":{\\\"position\\\":1,\\\"code\\\":\\\"300\\\",\\\"name\\\":\\\"Site Work\\\",\\\"origin_data\\\":\\\"OD-239238\\\",\\\"origin_id\\\":\\\"3497237\\\",\\\"parent_id\\\":12345,\\\"parent_origin_id\\\":\\\"ERP-CC-001\\\",\\\"standard_cost_code_id\\\":122334}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/cost_codes/sync": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync Cost Codes",
    "description": "This endpoint creates or updates a batch of Cost Codes.\nSee [Using Sync Actions](/documentation/using-sync-actions) for additional information.",
    "tags": [
     "Cost Codes"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sub_job_id",
      "in": "query",
      "description": "ID of the sub job to scope this sync operation to. When provided, cost codes are created or updated under this sub job rather than the project directly.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "CostCodeSyncBody",
        "type": "object",
        "required": [
         "updates"
        ],
        "properties": {
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "title": "LineItem",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for the Cost Code",
             "example": 348330
            },
            "position": {
             "type": "integer",
             "description": "Sort order of this cost code within its parent.",
             "example": 1
            },
            "code": {
             "type": "string",
             "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", the value of this field should be \"300\".",
             "example": "300"
            },
            "name": {
             "type": "string",
             "description": "Display name of the cost code.",
             "example": "Site Work"
            },
            "origin_data": {
             "type": "string",
             "description": "Free-form third-party metadata string from the ERP system.",
             "example": "OD-239238"
            },
            "origin_id": {
             "type": "string",
             "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
             "example": "3497237"
            },
            "parent_id": {
             "type": "integer",
             "description": "ID of the parent cost code in the hierarchy. Creates a root-level cost code when omitted.",
             "example": 12345
            },
            "parent_origin_id": {
             "type": "string",
             "description": "ERP origin ID of the parent cost code. Alternative to parent_id for looking up the parent by its ERP identifier rather than its Procore ID.",
             "example": "ERP-CC-001"
            },
            "standard_cost_code_id": {
             "type": "integer",
             "description": "ID of the company-level standard cost code to associate with this cost code.",
             "example": 122334
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Array of Cost Codes",
      "content": {
       "application/json": {
        "schema": {
         "title": "arrayOfCostCodes",
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "items": {
            "oneOf": [
             {
              "type": "object",
              "title": "extended",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for this Cost Code record. Nullable when the record has not yet been persisted.",
                "example": 12345,
                "nullable": true
               },
               "biller": {
                "type": "string",
                "description": "Display name of the entity (project or sub job) that owns this cost code.",
                "example": "Campus"
               },
               "biller_id": {
                "type": "integer",
                "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                "example": 12345,
                "nullable": true
               },
               "biller_type": {
                "type": "string",
                "enum": [
                 "Project",
                 "SubJob",
                 ""
                ],
                "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project), 'SubJob' (a sub job within the project), or '' (empty string when unassigned).",
                "example": "Project"
               },
               "biller_origin_id": {
                "type": "string",
                "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                "example": "98765",
                "nullable": true
               },
               "budgeted": {
                "type": "boolean",
                "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                "example": false
               },
               "code": {
                "type": "string",
                "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                "example": "300",
                "nullable": true
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                "example": "2018-06-11T15:56:25Z",
                "nullable": true
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                "example": "2018-06-11T15:56:25Z",
                "nullable": true
               },
               "full_code": {
                "type": "string",
                "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                "example": "02-300"
               },
               "name": {
                "type": "string",
                "description": "Display name of the cost code.",
                "example": "Earthwork"
               },
               "origin_data": {
                "type": "string",
                "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                "example": "OD-129947",
                "nullable": true
               },
               "origin_id": {
                "type": "string",
                "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems. Null when not linked to an ERP system.",
                "example": "9874484",
                "nullable": true
               },
               "parent": {
                "type": "object",
                "description": "The immediate parent cost code of this record, if any.",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                  "example": 2345,
                  "nullable": true
                 }
                }
               },
               "position": {
                "type": "integer",
                "description": "Sort order of this cost code within its parent.",
                "example": 1,
                "nullable": true
               },
               "sortable_code": {
                "type": "string",
                "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                "example": "02-300"
               },
               "standard_cost_code_id": {
                "type": "integer",
                "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                "example": 122334,
                "nullable": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp when this cost code was last updated, in ISO 8601 format. Null when not available.",
                "example": "2015-05-15T00:00:00Z",
                "nullable": true
               },
               "line_item_types": {
                "type": "array",
                "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                "items": {
                 "type": "object",
                 "title": "LineItemType",
                 "description": "A line item type assigned to this cost code.",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Unique identifier for the Line Item Type.",
                   "example": 12345
                  },
                  "name": {
                   "type": "string",
                   "description": "Display name of the Line Item Type.",
                   "example": "Equipment"
                  },
                  "code": {
                   "type": "string",
                   "description": "Short code used for CSV import of this Line Item Type.",
                   "example": "LB"
                  },
                  "base_type": {
                   "type": "string",
                   "enum": [
                    "equipment",
                    "materials",
                    "commitment",
                    "owner_cost",
                    "professional_services",
                    "labor",
                    "other"
                   ],
                   "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                   "example": "materials"
                  },
                  "origin_id": {
                   "type": "string",
                   "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                   "example": "ABC123",
                   "nullable": true
                  }
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "title": "compact",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for this Cost Code record. Nullable when the record has not yet been persisted.",
                "example": 12345,
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "Display name of the cost code.",
                "example": "Earthwork"
               },
               "full_code": {
                "type": "string",
                "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                "example": "02-300"
               },
               "origin_data": {
                "type": "string",
                "description": "Free-form third-party metadata string from the ERP system.",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "type": "string",
                "description": "ERP system identifier for this cost code. Null when not linked to an ERP system.",
                "example": "ABC123",
                "nullable": true
               },
               "standard_cost_code_id": {
                "type": "integer",
                "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                "example": 56789
               }
              }
             }
            ]
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "oneOf": [
               {
                "title": "compact",
                "type": "object",
                "properties": {
                 "id": {
                  "description": "ID",
                  "example": 12345,
                  "nullable": true,
                  "type": "integer"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               {
                "type": "object",
                "title": "extended",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for this Cost Code record.",
                  "example": 12345
                 },
                 "biller": {
                  "type": "string",
                  "description": "Display name of the entity (project or sub job) that owns this cost code.",
                  "example": "Campus"
                 },
                 "biller_id": {
                  "type": "integer",
                  "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                  "example": 12345
                 },
                 "biller_type": {
                  "type": "string",
                  "enum": [
                   "Project",
                   "SubJob"
                  ],
                  "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                  "example": "Project"
                 },
                 "biller_origin_id": {
                  "type": "string",
                  "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                  "example": "98765",
                  "nullable": true
                 },
                 "budgeted": {
                  "type": "boolean",
                  "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                  "example": false
                 },
                 "code": {
                  "type": "string",
                  "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                  "example": "300"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                  "example": "2017-07-29T21:39:40Z"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the cost code.",
                  "example": "Earthwork"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                  "example": "OD-129947"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                  "example": "9874484"
                 },
                 "parent": {
                  "type": "object",
                  "description": "The immediate parent cost code of this record, if any.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                    "example": 2345
                   }
                  }
                 },
                 "position": {
                  "type": "integer",
                  "description": "Sort order of this cost code within its parent.",
                  "example": 1
                 },
                 "sortable_code": {
                  "type": "string",
                  "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                  "example": "02-300"
                 },
                 "standard_cost_code_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                  "example": 122334
                 },
                 "standard_cost_code_list_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                  "example": 133445,
                  "nullable": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "line_item_types": {
                  "type": "array",
                  "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                  "items": {
                   "type": "object",
                   "title": "LineItemType",
                   "description": "A line item type assigned to this cost code.",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique identifier for the Line Item Type.",
                     "example": 12345
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the Line Item Type.",
                     "example": "Equipment"
                    },
                    "code": {
                     "type": "string",
                     "description": "Short code used for CSV import of this Line Item Type.",
                     "example": "LB"
                    },
                    "base_type": {
                     "type": "string",
                     "enum": [
                      "equipment",
                      "materials",
                      "commitment",
                      "owner_cost",
                      "professional_services",
                      "labor",
                      "other"
                     ],
                     "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                     "example": "materials"
                    },
                    "origin_id": {
                     "type": "string",
                     "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                     "example": "ABC123",
                     "nullable": true
                    }
                   }
[...]
