{
 "openapi": "3.1.0",
 "info": {
  "title": "Cost items",
  "version": "2.0",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Cost Catalog",
  "x-resource-name": "Cost items",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/estimating/catalogs/{catalog_id}/items": {
   "get": {
    "tags": [
     "CostItems"
    ],
    "summary": "Get Cost Items",
    "description": "Returns Cost Items for a Catalog",
    "operationId": "CostItems_GetCostItems",
    "parameters": [
     {
      "name": "catalog_id",
      "in": "path",
      "required": true,
      "description": "Catalog Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number",
      "schema": {
       "type": "integer",
       "format": "int32"
      },
      "x-position": 2,
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Items per page",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10,
       "maximum": 100
      },
      "x-position": 3,
      "required": false
     },
     {
      "name": "type",
      "in": "query",
      "style": "form",
      "explode": true,
      "description": "Cost Item Type",
      "schema": {
       "type": "array",
       "nullable": true,
       "items": {
        "type": "string",
        "description": "The type of the cost item.",
        "x-enumNames": [
         "Part",
         "Assembly",
         "Custom",
         "Equipment",
         "Subcontractor",
         "Travel",
         "Labor"
        ],
        "enum": [
         "PART",
         "ASSEMBLY",
         "CUSTOM",
         "EQUIPMENT",
         "SUBCONTRACTOR",
         "TRAVEL",
         "LABOR"
        ]
       }
      },
      "x-position": 4,
      "required": false
     },
     {
      "name": "cost_item_unit",
      "x-originalName": "costItemUnit",
      "in": "query",
      "style": "form",
      "explode": true,
      "description": "Cost Item Unit",
      "schema": {
       "type": "array",
       "nullable": true,
       "items": {
        "type": "string",
        "description": "The unit of measurement for the cost item.",
        "x-enumNames": [
         "Ea",
         "Ft",
         "SqFt",
         "CuFt",
         "Gal",
         "Lb",
         "Yd",
         "SqYd",
         "CuYd",
         "Square",
         "None",
         "Minutes",
         "Hours",
         "Days",
         "Ton",
         "Weeks",
         "Months",
         "LumpSum"
        ],
        "enum": [
         "EA",
         "FT",
         "SQ_FT",
         "CU_FT",
         "GAL",
         "LB",
         "YD",
         "SQ_YD",
         "CU_YD",
         "SQUARE",
         "NONE",
         "MINUTES",
         "HOURS",
         "DAYS",
         "TON",
         "WEEKS",
         "MONTHS",
         "LUMP_SUM"
        ]
       }
      },
      "x-position": 5,
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 6
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "headers": {
       "Total": {
        "description": "Total number of items",
        "schema": {
         "type": "integer"
        }
       },
       "Per-Page": {
        "description": "Number of items per page",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Links to other pages",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "array",
           "nullable": true,
           "items": {
            "type": "object",
            "description": "Represents a model to get cost item details.",
            "additionalProperties": false,
            "properties": {
             "id": {
              "type": "string",
              "description": "The unique identifier for the cost item.",
              "nullable": true
             },
             "type": {
              "type": "string",
              "description": "The type of the cost item.",
              "x-enumNames": [
               "Part",
               "Assembly",
               "Custom",
               "Equipment",
               "Subcontractor",
               "Travel",
               "Labor"
              ],
              "enum": [
               "PART",
               "ASSEMBLY",
               "CUSTOM",
               "EQUIPMENT",
               "SUBCONTRACTOR",
               "TRAVEL",
               "LABOR"
              ]
             },
             "name": {
              "type": "string",
              "description": "The name of the cost item.",
              "nullable": true
             },
             "description": {
              "type": "string",
              "description": "The description of the cost item.",
              "nullable": true
             },
             "unit_cost": {
              "type": "number",
              "description": "The unit cost of the cost item.",
              "format": "decimal"
             },
             "unit_labor": {
              "type": "number",
              "description": "The unit labor required for the cost item.",
              "format": "decimal"
             },
             "unit_labor_cost": {
              "type": "number",
              "description": "The cost of the unit labor.",
              "format": "decimal"
             },
             "manufacturer": {
              "type": "string",
              "description": "The manufacturer of the cost item.",
              "nullable": true
             },
             "catalog_number": {
              "type": "string",
              "description": "The catalog number of the cost item.",
              "nullable": true
             },
             "supplier": {
              "type": "string",
              "description": "The supplier of the cost item.",
              "nullable": true
             },
             "sub_job_code": {
              "type": "string",
              "description": "The sub-job code associated with the cost item.",
              "nullable": true
             },
             "sub_job_name": {
              "type": "string",
              "description": "The name of the sub-job associated with the cost item.",
              "nullable": true
             },
             "cost_code": {
              "type": "string",
              "description": "The cost code associated with the cost item.",
              "nullable": true
             },
             "cost_name": {
              "type": "string",
              "description": "The name of the cost code associated with the cost item.",
              "nullable": true
             },
             "cost_type_code": {
              "type": "string",
              "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
              "nullable": true
             },
             "cost_type_name": {
              "type": "string",
              "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
              "nullable": true
             },
             "waste": {
              "type": "number",
              "description": "The waste percentage associated with the cost item.",
              "format": "decimal",
              "nullable": true
             },
             "material_waste": {
              "type": "number",
              "description": "The waste percentage associated with the cost item.",
              "format": "decimal",
              "nullable": true
             },
             "item_margin": {
              "type": "number",
              "description": "The margin applied to the cost item.",
              "format": "decimal",
              "nullable": true
             },
             "labor_margin": {
              "type": "number",
              "description": "The margin applied to the labor for the cost item.",
              "format": "decimal",
              "nullable": true
             },
             "unit_labor_rate": {
              "type": "number",
              "description": "The unit labor rate for the cost item.",
              "format": "decimal",
              "nullable": true
             },
             "is_untaxed": {
              "type": "boolean",
              "description": "Indicates whether the cost item is untaxed."
             },
             "unit": {
              "type": "string",
              "description": "The unit of measurement for the cost item.",
              "x-enumNames": [
               "Ea",
               "Ft",
               "SqFt",
               "CuFt",
               "Gal",
               "Lb",
               "Yd",
               "SqYd",
               "CuYd",
               "Square",
               "None",
               "Minutes",
               "Hours",
               "Days",
               "Ton",
               "Weeks",
               "Months",
               "LumpSum"
              ],
              "enum": [
               "EA",
               "FT",
               "SQ_FT",
               "CU_FT",
               "GAL",
               "LB",
               "YD",
               "SQ_YD",
               "CU_YD",
               "SQUARE",
               "NONE",
               "MINUTES",
               "HOURS",
               "DAYS",
               "TON",
               "WEEKS",
               "MONTHS",
               "LUMP_SUM"
              ]
             },
             "notes": {
              "type": "string",
              "description": "Any additional notes about the cost item.",
              "nullable": true
             },
             "used_by_item_ids": {
              "type": "array",
              "description": "Array of item IDs that use this cost item.",
              "nullable": true,
              "items": {
               "type": "integer",
               "format": "int64"
              }
             },
             "color": {
              "type": "string",
              "description": "The color associated with the cost item.",
              "nullable": true,
              "example": "#FF0000"
             },
             "delivery_unit": {
              "type": "integer",
              "description": "The delivery unit of the cost item.",
              "format": "int32",
              "nullable": true
             },
             "catalog_id": {
              "type": "string",
              "description": "The catalog ID associated with the cost item.",
              "nullable": true,
              "example": "-1"
             },
             "custom": {
              "type": "boolean",
              "description": "Indicates whether the cost item is custom."
             },
             "sealed": {
              "type": "boolean",
              "description": "Indicates whether the cost item is sealed."
             },
             "sub_items": {
              "type": "array",
              "description": "Array of sub-items associated with the cost item.",
              "nullable": true,
              "items": {
               "type": "object",
               "description": "Represents a cost sub-item.",
               "additionalProperties": false,
               "required": [
                "multiplier"
               ],
               "properties": {
                "type": {
                 "type": "string",
                 "description": "The type of the cost item.",
                 "x-enumNames": [
                  "Part",
                  "Assembly",
                  "Custom",
                  "Equipment",
                  "Subcontractor",
                  "Travel",
                  "Labor"
                 ],
                 "enum": [
                  "PART",
                  "ASSEMBLY",
                  "CUSTOM",
                  "EQUIPMENT",
                  "SUBCONTRACTOR",
                  "TRAVEL",
                  "LABOR"
                 ]
                },
                "name": {
                 "type": "string",
                 "description": "The name of the cost item.",
                 "nullable": true
                },
                "description": {
                 "type": "string",
                 "description": "The description of the cost item.",
                 "nullable": true
                },
                "unit_cost": {
                 "type": "number",
                 "description": "The unit cost of the cost item.",
                 "format": "decimal"
                },
                "unit_labor": {
                 "type": "number",
                 "description": "The unit labor required for the cost item.",
                 "format": "decimal"
                },
                "unit_labor_cost": {
                 "type": "number",
                 "description": "The cost of the unit labor.",
                 "format": "decimal"
                },
                "manufacturer": {
                 "type": "string",
                 "description": "The manufacturer of the cost item.",
                 "nullable": true
                },
                "catalog_number": {
                 "type": "string",
                 "description": "The catalog number of the cost item.",
                 "nullable": true
                },
                "supplier": {
                 "type": "string",
                 "description": "The supplier of the cost item.",
                 "nullable": true
                },
                "sub_job_code": {
                 "type": "string",
                 "description": "The sub-job code associated with the cost item.",
                 "nullable": true
                },
                "sub_job_name": {
                 "type": "string",
                 "description": "The name of the sub-job associated with the cost item.",
                 "nullable": true
                },
                "cost_code": {
                 "type": "string",
                 "description": "The cost code associated with the cost item.",
                 "nullable": true
                },
                "cost_name": {
                 "type": "string",
                 "description": "The name of the cost code associated with the cost item.",
                 "nullable": true
                },
                "cost_type_code": {
                 "type": "string",
                 "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
                 "nullable": true
                },
                "cost_type_name": {
                 "type": "string",
                 "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
                 "nullable": true
                },
                "waste": {
                 "type": "number",
                 "description": "The waste percentage associated with the cost item.",
                 "format": "decimal",
                 "nullable": true
                },
                "material_waste": {
                 "type": "number",
                 "description": "The waste percentage associated with the cost item.",
                 "format": "decimal",
                 "nullable": true
                },
                "item_margin": {
                 "type": "number",
                 "description": "The margin applied to the cost item.",
                 "format": "decimal",
                 "nullable": true
                },
                "labor_margin": {
                 "type": "number",
                 "description": "The margin applied to the labor for the cost item.",
                 "format": "decimal",
                 "nullable": true
                },
                "unit_labor_rate": {
                 "type": "number",
                 "description": "The unit labor rate for the cost item.",
                 "format": "decimal",
                 "nullable": true
                },
                "is_untaxed": {
                 "type": "boolean",
                 "description": "Indicates whether the cost item is untaxed."
                },
                "unit": {
                 "type": "string",
                 "description": "The unit of measurement for the cost item.",
                 "x-enumNames": [
                  "Ea",
                  "Ft",
                  "SqFt",
                  "CuFt",
                  "Gal",
                  "Lb",
                  "Yd",
                  "SqYd",
                  "CuYd",
                  "Square",
                  "None",
                  "Minutes",
                  "Hours",
                  "Days",
                  "Ton",
                  "Weeks",
                  "Months",
                  "LumpSum"
                 ],
                 "enum": [
                  "EA",
                  "FT",
                  "SQ_FT",
                  "CU_FT",
                  "GAL",
                  "LB",
                  "YD",
                  "SQ_YD",
                  "CU_YD",
                  "SQUARE",
                  "NONE",
                  "MINUTES",
                  "HOURS",
                  "DAYS",
                  "TON",
                  "WEEKS",
                  "MONTHS",
                  "LUMP_SUM"
                 ]
                },
                "notes": {
                 "type": "string",
                 "description": "Any additional notes about the cost item.",
                 "nullable": true
                },
                "multiplier": {
                 "type": "number",
                 "description": "The multiplier applied to the cost sub-item.",
                 "format": "decimal"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get Cost Items",
      "description": "This endpoint allows retrieving Cost Items for a Catalog.",
      "endpoint": "GET /companies/{company_id}/estimating/catalogs/{catalog_id}/items",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D/items',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    type: 'SOME_ARRAY_VALUE',\n    cost_item_unit: 'SOME_ARRAY_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D/items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&type=SOME_ARRAY_VALUE&cost_item_unit=SOME_ARRAY_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D/items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&type=SOME_ARRAY_VALUE&cost_item_unit=SOME_ARRAY_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/%7Bcatalog_id%7D/items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&type=SOME_ARRAY_VALUE&cost_item_unit=SOME_ARRAY_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/catalogs/items/{item_id}": {
   "get": {
    "tags": [
     "CostItems"
    ],
    "summary": "Get Cost Item",
    "description": "Returns Cost Item",
    "operationId": "CostItems_GetCostItem",
    "parameters": [
     {
      "name": "item_id",
      "in": "path",
      "required": true,
      "description": "Cost Item Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "type": "object",
           "description": "Represents a model to get cost item details.",
           "additionalProperties": false,
           "properties": {
            "id": {
             "type": "string",
             "description": "The unique identifier for the cost item.",
             "nullable": true
            },
            "type": {
             "type": "string",
             "description": "The type of the cost item.",
             "x-enumNames": [
              "Part",
              "Assembly",
              "Custom",
              "Equipment",
              "Subcontractor",
              "Travel",
              "Labor"
             ],
             "enum": [
              "PART",
              "ASSEMBLY",
              "CUSTOM",
              "EQUIPMENT",
              "SUBCONTRACTOR",
              "TRAVEL",
              "LABOR"
             ]
            },
            "name": {
             "type": "string",
             "description": "The name of the cost item.",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "The description of the cost item.",
             "nullable": true
            },
            "unit_cost": {
             "type": "number",
             "description": "The unit cost of the cost item.",
             "format": "decimal"
            },
            "unit_labor": {
             "type": "number",
             "description": "The unit labor required for the cost item.",
             "format": "decimal"
            },
            "unit_labor_cost": {
             "type": "number",
             "description": "The cost of the unit labor.",
             "format": "decimal"
            },
            "manufacturer": {
             "type": "string",
             "description": "The manufacturer of the cost item.",
             "nullable": true
            },
            "catalog_number": {
             "type": "string",
             "description": "The catalog number of the cost item.",
             "nullable": true
            },
            "supplier": {
             "type": "string",
             "description": "The supplier of the cost item.",
             "nullable": true
            },
            "sub_job_code": {
             "type": "string",
             "description": "The sub-job code associated with the cost item.",
             "nullable": true
            },
            "sub_job_name": {
             "type": "string",
             "description": "The name of the sub-job associated with the cost item.",
             "nullable": true
            },
            "cost_code": {
             "type": "string",
             "description": "The cost code associated with the cost item.",
             "nullable": true
            },
            "cost_name": {
             "type": "string",
             "description": "The name of the cost code associated with the cost item.",
             "nullable": true
            },
            "cost_type_code": {
             "type": "string",
             "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "cost_type_name": {
             "type": "string",
             "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "material_waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "item_margin": {
             "type": "number",
             "description": "The margin applied to the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "labor_margin": {
             "type": "number",
             "description": "The margin applied to the labor for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "unit_labor_rate": {
             "type": "number",
             "description": "The unit labor rate for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "is_untaxed": {
             "type": "boolean",
             "description": "Indicates whether the cost item is untaxed."
            },
            "unit": {
             "type": "string",
             "description": "The unit of measurement for the cost item.",
             "x-enumNames": [
              "Ea",
              "Ft",
              "SqFt",
              "CuFt",
              "Gal",
              "Lb",
              "Yd",
              "SqYd",
              "CuYd",
              "Square",
              "None",
              "Minutes",
              "Hours",
              "Days",
              "Ton",
              "Weeks",
              "Months",
              "LumpSum"
             ],
             "enum": [
              "EA",
              "FT",
              "SQ_FT",
              "CU_FT",
              "GAL",
              "LB",
              "YD",
              "SQ_YD",
              "CU_YD",
              "SQUARE",
              "NONE",
              "MINUTES",
              "HOURS",
              "DAYS",
              "TON",
              "WEEKS",
              "MONTHS",
              "LUMP_SUM"
             ]
            },
            "notes": {
             "type": "string",
             "description": "Any additional notes about the cost item.",
             "nullable": true
            },
            "used_by_item_ids": {
             "type": "array",
             "description": "Array of item IDs that use this cost item.",
             "nullable": true,
             "items": {
              "type": "integer",
              "format": "int64"
             }
            },
            "color": {
             "type": "string",
             "description": "The color associated with the cost item.",
             "nullable": true,
             "example": "#FF0000"
            },
            "delivery_unit": {
             "type": "integer",
             "description": "The delivery unit of the cost item.",
             "format": "int32",
             "nullable": true
            },
            "catalog_id": {
             "type": "string",
             "description": "The catalog ID associated with the cost item.",
             "nullable": true,
             "example": "-1"
            },
            "custom": {
             "type": "boolean",
             "description": "Indicates whether the cost item is custom."
            },
            "sealed": {
             "type": "boolean",
             "description": "Indicates whether the cost item is sealed."
            },
            "sub_items": {
             "type": "array",
             "description": "Array of sub-items associated with the cost item.",
             "nullable": true,
             "items": {
              "type": "object",
              "description": "Represents a cost sub-item.",
              "additionalProperties": false,
              "required": [
               "multiplier"
              ],
              "properties": {
               "type": {
                "type": "string",
                "description": "The type of the cost item.",
                "x-enumNames": [
                 "Part",
                 "Assembly",
                 "Custom",
                 "Equipment",
                 "Subcontractor",
                 "Travel",
                 "Labor"
                ],
                "enum": [
                 "PART",
                 "ASSEMBLY",
                 "CUSTOM",
                 "EQUIPMENT",
                 "SUBCONTRACTOR",
                 "TRAVEL",
                 "LABOR"
                ]
               },
               "name": {
                "type": "string",
                "description": "The name of the cost item.",
                "nullable": true
               },
               "description": {
                "type": "string",
                "description": "The description of the cost item.",
                "nullable": true
               },
               "unit_cost": {
                "type": "number",
                "description": "The unit cost of the cost item.",
                "format": "decimal"
               },
               "unit_labor": {
                "type": "number",
                "description": "The unit labor required for the cost item.",
                "format": "decimal"
               },
               "unit_labor_cost": {
                "type": "number",
                "description": "The cost of the unit labor.",
                "format": "decimal"
               },
               "manufacturer": {
                "type": "string",
                "description": "The manufacturer of the cost item.",
                "nullable": true
               },
               "catalog_number": {
                "type": "string",
                "description": "The catalog number of the cost item.",
                "nullable": true
               },
               "supplier": {
                "type": "string",
                "description": "The supplier of the cost item.",
                "nullable": true
               },
               "sub_job_code": {
                "type": "string",
                "description": "The sub-job code associated with the cost item.",
                "nullable": true
               },
               "sub_job_name": {
                "type": "string",
                "description": "The name of the sub-job associated with the cost item.",
                "nullable": true
               },
               "cost_code": {
                "type": "string",
                "description": "The cost code associated with the cost item.",
                "nullable": true
               },
               "cost_name": {
                "type": "string",
                "description": "The name of the cost code associated with the cost item.",
                "nullable": true
               },
               "cost_type_code": {
                "type": "string",
                "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
                "nullable": true
               },
               "cost_type_name": {
                "type": "string",
                "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
                "nullable": true
               },
               "waste": {
                "type": "number",
                "description": "The waste percentage associated with the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "material_waste": {
                "type": "number",
                "description": "The waste percentage associated with the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "item_margin": {
                "type": "number",
                "description": "The margin applied to the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "labor_margin": {
                "type": "number",
                "description": "The margin applied to the labor for the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "unit_labor_rate": {
                "type": "number",
                "description": "The unit labor rate for the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "is_untaxed": {
                "type": "boolean",
                "description": "Indicates whether the cost item is untaxed."
               },
               "unit": {
                "type": "string",
                "description": "The unit of measurement for the cost item.",
                "x-enumNames": [
                 "Ea",
                 "Ft",
                 "SqFt",
                 "CuFt",
                 "Gal",
                 "Lb",
                 "Yd",
                 "SqYd",
                 "CuYd",
                 "Square",
                 "None",
                 "Minutes",
                 "Hours",
                 "Days",
                 "Ton",
                 "Weeks",
                 "Months",
                 "LumpSum"
                ],
                "enum": [
                 "EA",
                 "FT",
                 "SQ_FT",
                 "CU_FT",
                 "GAL",
                 "LB",
                 "YD",
                 "SQ_YD",
                 "CU_YD",
                 "SQUARE",
                 "NONE",
                 "MINUTES",
                 "HOURS",
                 "DAYS",
                 "TON",
                 "WEEKS",
                 "MONTHS",
                 "LUMP_SUM"
                ]
               },
               "notes": {
                "type": "string",
                "description": "Any additional notes about the cost item.",
                "nullable": true
               },
               "multiplier": {
                "type": "number",
                "description": "The multiplier applied to the cost sub-item.",
                "format": "decimal"
               }
              }
             }
            }
           },
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get Cost Item",
      "description": "This endpoint allows retrieving a Cost Item.",
      "endpoint": "GET /companies/{company_id}/estimating/catalogs/items/{item_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "put": {
    "tags": [
     "CostItems"
    ],
    "summary": "Update Cost Item",
    "description": "Updates Cost Item",
    "operationId": "CostItems_UpdateCostItem",
    "parameters": [
     {
      "name": "item_id",
      "in": "path",
      "required": true,
      "description": "Cost Item Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     }
    ],
    "requestBody": {
     "x-name": "cost_item",
     "description": "Cost Item",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Represents a model to save cost item details.",
        "additionalProperties": false,
        "required": [
         "type",
         "name",
         "unit",
         "catalog_id"
        ],
        "properties": {
         "type": {
          "type": "string",
          "description": "The type of the cost item.",
          "x-enumNames": [
           "Part",
           "Assembly",
           "Custom",
           "Equipment",
           "Subcontractor",
           "Travel",
           "Labor"
          ],
          "enum": [
           "PART",
           "ASSEMBLY",
           "CUSTOM",
           "EQUIPMENT",
           "SUBCONTRACTOR",
           "TRAVEL",
           "LABOR"
          ]
         },
         "name": {
          "type": "string",
          "description": "The name of the cost item.",
          "minLength": 1
         },
         "description": {
          "type": "string",
          "description": "The description of the cost item.",
          "nullable": true
         },
         "unit_cost": {
          "type": "number",
          "description": "The unit cost of the cost item.",
          "format": "decimal"
         },
         "unit_labor": {
          "type": "number",
          "description": "The unit labor required for the cost item.",
          "format": "decimal"
         },
         "unit_labor_cost": {
          "type": "number",
          "description": "The cost of the unit labor.",
          "format": "decimal"
         },
         "manufacturer": {
          "type": "string",
          "description": "The manufacturer of the cost item.",
          "nullable": true
         },
         "catalog_number": {
          "type": "string",
          "description": "The catalog number of the cost item.",
          "nullable": true
         },
         "supplier": {
          "type": "string",
          "description": "The supplier of the cost item.",
          "nullable": true
         },
         "cost_type_code": {
          "type": "string",
          "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
          "nullable": true
         },
         "cost_type_name": {
          "type": "string",
          "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
          "nullable": true
         },
         "waste": {
          "type": "number",
          "description": "The waste percentage associated with the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "material_waste": {
          "type": "number",
          "description": "The waste percentage associated with the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "item_margin": {
          "type": "number",
          "description": "The margin applied to the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "labor_margin": {
          "type": "number",
          "description": "The margin applied to the labor for the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "unit_labor_rate": {
          "type": "number",
          "description": "The unit labor rate for the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "is_untaxed": {
          "type": "boolean",
          "description": "Indicates whether the cost item is untaxed."
         },
         "unit": {
          "type": "string",
          "description": "The unit of measurement for the cost item.",
          "x-enumNames": [
           "Ea",
           "Ft",
           "SqFt",
           "CuFt",
           "Gal",
           "Lb",
           "Yd",
           "SqYd",
           "CuYd",
           "Square",
           "None",
           "Minutes",
           "Hours",
           "Days",
           "Ton",
           "Weeks",
           "Months",
           "LumpSum"
          ],
          "enum": [
           "EA",
           "FT",
           "SQ_FT",
           "CU_FT",
           "GAL",
           "LB",
           "YD",
           "SQ_YD",
           "CU_YD",
           "SQUARE",
           "NONE",
           "MINUTES",
           "HOURS",
           "DAYS",
           "TON",
           "WEEKS",
           "MONTHS",
           "LUMP_SUM"
          ]
         },
         "notes": {
          "type": "string",
          "description": "Any additional notes about the cost item.",
          "nullable": true
         },
         "color": {
          "type": "string",
          "description": "The color associated with the cost item.",
          "nullable": true,
          "example": "#FF0000"
         },
         "catalog_id": {
          "type": "string",
          "description": "The catalog ID associated with the cost item.",
          "minLength": 1,
          "example": "-1"
         },
         "sub_items": {
          "type": "array",
          "description": "Array of sub-items associated with the cost item. Ignore unless you are creating an Assembly.",
          "nullable": true,
          "items": {
           "type": "object",
           "additionalProperties": false,
           "required": [
            "multiplier"
           ],
           "properties": {
            "type": {
             "type": "string",
             "description": "The type of the cost item.",
             "x-enumNames": [
              "Part",
              "Assembly",
              "Custom",
              "Equipment",
              "Subcontractor",
              "Travel",
              "Labor"
             ],
             "enum": [
              "PART",
              "ASSEMBLY",
              "CUSTOM",
              "EQUIPMENT",
              "SUBCONTRACTOR",
              "TRAVEL",
              "LABOR"
             ]
            },
            "item_id": {
             "type": "string",
             "description": "The ID of the existing item this cost item. Ignore if creating a new item.",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "The name of the cost item.",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "The description of the cost item.",
             "nullable": true
            },
            "unit_cost": {
             "type": "number",
             "description": "The unit cost of the cost item.",
             "format": "decimal"
            },
            "unit_labor": {
             "type": "number",
             "description": "The unit labor required for the cost item.",
             "format": "decimal"
            },
            "unit_labor_cost": {
             "type": "number",
             "description": "The cost of the unit labor.",
             "format": "decimal"
            },
            "manufacturer": {
             "type": "string",
             "description": "The manufacturer of the cost item.",
             "nullable": true
            },
            "catalog_number": {
             "type": "string",
             "description": "The catalog number of the cost item.",
             "nullable": true
            },
            "supplier": {
             "type": "string",
             "description": "The supplier of the cost item.",
             "nullable": true
            },
            "cost_type_code": {
             "type": "string",
             "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "cost_type_name": {
             "type": "string",
             "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "material_waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "item_margin": {
             "type": "number",
             "description": "The margin applied to the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "labor_margin": {
             "type": "number",
             "description": "The margin applied to the labor for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "unit_labor_rate": {
             "type": "number",
             "description": "The unit labor rate for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "is_untaxed": {
             "type": "boolean",
             "description": "Indicates whether the cost item is untaxed."
            },
            "unit": {
             "type": "string",
             "description": "The unit of measurement for the cost item.",
             "x-enumNames": [
              "Ea",
              "Ft",
              "SqFt",
              "CuFt",
              "Gal",
              "Lb",
              "Yd",
              "SqYd",
              "CuYd",
              "Square",
              "None",
              "Minutes",
              "Hours",
              "Days",
              "Ton",
              "Weeks",
              "Months",
              "LumpSum"
             ],
             "enum": [
              "EA",
              "FT",
              "SQ_FT",
              "CU_FT",
              "GAL",
              "LB",
              "YD",
              "SQ_YD",
              "CU_YD",
              "SQUARE",
              "NONE",
              "MINUTES",
              "HOURS",
              "DAYS",
              "TON",
              "WEEKS",
              "MONTHS",
              "LUMP_SUM"
             ]
            },
            "notes": {
             "type": "string",
             "description": "Any additional notes about the cost item.",
             "nullable": true
            },
            "multiplier": {
             "type": "number",
             "description": "The multiplier applied to the cost sub-item.",
             "format": "decimal"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 2
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "type": "object",
           "description": "Represents a model to get cost item details.",
           "additionalProperties": false,
           "properties": {
            "id": {
             "type": "string",
             "description": "The unique identifier for the cost item.",
             "nullable": true
            },
            "type": {
             "type": "string",
             "description": "The type of the cost item.",
             "x-enumNames": [
              "Part",
              "Assembly",
              "Custom",
              "Equipment",
              "Subcontractor",
              "Travel",
              "Labor"
             ],
             "enum": [
              "PART",
              "ASSEMBLY",
              "CUSTOM",
              "EQUIPMENT",
              "SUBCONTRACTOR",
              "TRAVEL",
              "LABOR"
             ]
            },
            "name": {
             "type": "string",
             "description": "The name of the cost item.",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "The description of the cost item.",
             "nullable": true
            },
            "unit_cost": {
             "type": "number",
             "description": "The unit cost of the cost item.",
             "format": "decimal"
            },
            "unit_labor": {
             "type": "number",
             "description": "The unit labor required for the cost item.",
             "format": "decimal"
            },
            "unit_labor_cost": {
             "type": "number",
             "description": "The cost of the unit labor.",
             "format": "decimal"
            },
            "manufacturer": {
             "type": "string",
             "description": "The manufacturer of the cost item.",
             "nullable": true
            },
            "catalog_number": {
             "type": "string",
             "description": "The catalog number of the cost item.",
             "nullable": true
            },
            "supplier": {
             "type": "string",
             "description": "The supplier of the cost item.",
             "nullable": true
            },
            "sub_job_code": {
             "type": "string",
             "description": "The sub-job code associated with the cost item.",
             "nullable": true
            },
            "sub_job_name": {
             "type": "string",
             "description": "The name of the sub-job associated with the cost item.",
             "nullable": true
            },
            "cost_code": {
             "type": "string",
             "description": "The cost code associated with the cost item.",
             "nullable": true
            },
            "cost_name": {
             "type": "string",
             "description": "The name of the cost code associated with the cost item.",
             "nullable": true
            },
            "cost_type_code": {
             "type": "string",
             "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "cost_type_name": {
             "type": "string",
             "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "material_waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "item_margin": {
             "type": "number",
             "description": "The margin applied to the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "labor_margin": {
             "type": "number",
             "description": "The margin applied to the labor for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "unit_labor_rate": {
             "type": "number",
             "description": "The unit labor rate for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "is_untaxed": {
             "type": "boolean",
             "description": "Indicates whether the cost item is untaxed."
            },
            "unit": {
             "type": "string",
             "description": "The unit of measurement for the cost item.",
             "x-enumNames": [
              "Ea",
              "Ft",
              "SqFt",
              "CuFt",
              "Gal",
              "Lb",
              "Yd",
              "SqYd",
              "CuYd",
              "Square",
              "None",
              "Minutes",
              "Hours",
              "Days",
              "Ton",
              "Weeks",
              "Months",
              "LumpSum"
             ],
             "enum": [
              "EA",
              "FT",
              "SQ_FT",
              "CU_FT",
              "GAL",
              "LB",
              "YD",
              "SQ_YD",
              "CU_YD",
              "SQUARE",
              "NONE",
              "MINUTES",
              "HOURS",
              "DAYS",
              "TON",
              "WEEKS",
              "MONTHS",
              "LUMP_SUM"
             ]
            },
            "notes": {
             "type": "string",
             "description": "Any additional notes about the cost item.",
             "nullable": true
            },
            "used_by_item_ids": {
             "type": "array",
             "description": "Array of item IDs that use this cost item.",
             "nullable": true,
             "items": {
              "type": "integer",
              "format": "int64"
             }
            },
            "color": {
             "type": "string",
             "description": "The color associated with the cost item.",
             "nullable": true,
             "example": "#FF0000"
            },
            "delivery_unit": {
             "type": "integer",
             "description": "The delivery unit of the cost item.",
             "format": "int32",
             "nullable": true
            },
            "catalog_id": {
             "type": "string",
             "description": "The catalog ID associated with the cost item.",
             "nullable": true,
             "example": "-1"
            },
            "custom": {
             "type": "boolean",
             "description": "Indicates whether the cost item is custom."
            },
            "sealed": {
             "type": "boolean",
             "description": "Indicates whether the cost item is sealed."
            },
            "sub_items": {
             "type": "array",
             "description": "Array of sub-items associated with the cost item.",
             "nullable": true,
             "items": {
              "type": "object",
              "description": "Represents a cost sub-item.",
              "additionalProperties": false,
              "required": [
               "multiplier"
              ],
              "properties": {
               "type": {
                "type": "string",
                "description": "The type of the cost item.",
                "x-enumNames": [
                 "Part",
                 "Assembly",
                 "Custom",
                 "Equipment",
                 "Subcontractor",
                 "Travel",
                 "Labor"
                ],
                "enum": [
                 "PART",
                 "ASSEMBLY",
                 "CUSTOM",
                 "EQUIPMENT",
                 "SUBCONTRACTOR",
                 "TRAVEL",
                 "LABOR"
                ]
               },
               "name": {
                "type": "string",
                "description": "The name of the cost item.",
                "nullable": true
               },
               "description": {
                "type": "string",
                "description": "The description of the cost item.",
                "nullable": true
               },
               "unit_cost": {
                "type": "number",
                "description": "The unit cost of the cost item.",
                "format": "decimal"
               },
               "unit_labor": {
                "type": "number",
                "description": "The unit labor required for the cost item.",
                "format": "decimal"
               },
               "unit_labor_cost": {
                "type": "number",
                "description": "The cost of the unit labor.",
                "format": "decimal"
               },
               "manufacturer": {
                "type": "string",
                "description": "The manufacturer of the cost item.",
                "nullable": true
               },
               "catalog_number": {
                "type": "string",
                "description": "The catalog number of the cost item.",
                "nullable": true
               },
               "supplier": {
                "type": "string",
                "description": "The supplier of the cost item.",
                "nullable": true
               },
               "sub_job_code": {
                "type": "string",
                "description": "The sub-job code associated with the cost item.",
                "nullable": true
               },
               "sub_job_name": {
                "type": "string",
                "description": "The name of the sub-job associated with the cost item.",
                "nullable": true
               },
               "cost_code": {
                "type": "string",
                "description": "The cost code associated with the cost item.",
                "nullable": true
               },
               "cost_name": {
                "type": "string",
                "description": "The name of the cost code associated with the cost item.",
                "nullable": true
               },
               "cost_type_code": {
                "type": "string",
                "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
                "nullable": true
               },
               "cost_type_name": {
                "type": "string",
                "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
                "nullable": true
               },
               "waste": {
                "type": "number",
                "description": "The waste percentage associated with the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "material_waste": {
                "type": "number",
                "description": "The waste percentage associated with the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "item_margin": {
                "type": "number",
                "description": "The margin applied to the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "labor_margin": {
                "type": "number",
                "description": "The margin applied to the labor for the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "unit_labor_rate": {
                "type": "number",
                "description": "The unit labor rate for the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "is_untaxed": {
                "type": "boolean",
                "description": "Indicates whether the cost item is untaxed."
               },
               "unit": {
                "type": "string",
                "description": "The unit of measurement for the cost item.",
                "x-enumNames": [
                 "Ea",
                 "Ft",
                 "SqFt",
                 "CuFt",
                 "Gal",
                 "Lb",
                 "Yd",
                 "SqYd",
                 "CuYd",
                 "Square",
                 "None",
                 "Minutes",
                 "Hours",
                 "Days",
                 "Ton",
                 "Weeks",
                 "Months",
                 "LumpSum"
                ],
                "enum": [
                 "EA",
                 "FT",
                 "SQ_FT",
                 "CU_FT",
                 "GAL",
                 "LB",
                 "YD",
                 "SQ_YD",
                 "CU_YD",
                 "SQUARE",
                 "NONE",
                 "MINUTES",
                 "HOURS",
                 "DAYS",
                 "TON",
                 "WEEKS",
                 "MONTHS",
                 "LUMP_SUM"
                ]
               },
               "notes": {
                "type": "string",
                "description": "Any additional notes about the cost item.",
                "nullable": true
               },
               "multiplier": {
                "type": "number",
                "description": "The multiplier applied to the cost sub-item.",
                "format": "decimal"
               }
              }
             }
            }
           },
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to update Cost Item",
      "description": "This endpoint allows updating a Cost Item.",
      "endpoint": "PUT /companies/{company_id}/estimating/catalogs/items/{item_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    type: 'PART',\n    name: 'string',\n    description: 'string',\n    unit_cost: 0,\n    unit_labor: 0,\n    unit_labor_cost: 0,\n    manufacturer: 'string',\n    catalog_number: 'string',\n    supplier: 'string',\n    cost_type_code: 'string',\n    cost_type_name: 'string',\n    waste: 0,\n    material_waste: 0,\n    item_margin: 0,\n    labor_margin: 0,\n    unit_labor_rate: 0,\n    is_untaxed: true,\n    unit: 'EA',\n    notes: 'string',\n    color: '#FF0000',\n    catalog_id: '-1',\n    sub_items: [\n      {\n        type: 'PART',\n        item_id: 'string',\n        name: 'string',\n        description: 'string',\n        unit_cost: 0,\n        unit_labor: 0,\n        unit_labor_cost: 0,\n        manufacturer: 'string',\n        catalog_number: 'string',\n        supplier: 'string',\n        cost_type_code: 'string',\n        cost_type_name: 'string',\n        waste: 0,\n        material_waste: 0,\n        item_margin: 0,\n        labor_margin: 0,\n        unit_labor_rate: 0,\n        is_untaxed: true,\n        unit: 'EA',\n        notes: 'string',\n        multiplier: 0\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"cost_type_code\\\":\\\"string\\\",\\\"cost_type_name\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"color\\\":\\\"#FF0000\\\",\\\"catalog_id\\\":\\\"-1\\\",\\\"sub_items\\\":[{\\\"type\\\":\\\"PART\\\",\\\"item_id\\\":\\\"string\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"cost_type_code\\\":\\\"string\\\",\\\"cost_type_name\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"multiplier\\\":0}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"type\":\"PART\",\"name\":\"string\",\"description\":\"string\",\"unit_cost\":0,\"unit_labor\":0,\"unit_labor_cost\":0,\"manufacturer\":\"string\",\"catalog_number\":\"string\",\"supplier\":\"string\",\"cost_type_code\":\"string\",\"cost_type_name\":\"string\",\"waste\":0,\"material_waste\":0,\"item_margin\":0,\"labor_margin\":0,\"unit_labor_rate\":0,\"is_untaxed\":true,\"unit\":\"EA\",\"notes\":\"string\",\"color\":\"#FF0000\",\"catalog_id\":\"-1\",\"sub_items\":[{\"type\":\"PART\",\"item_id\":\"string\",\"name\":\"string\",\"description\":\"string\",\"unit_cost\":0,\"unit_labor\":0,\"unit_labor_cost\":0,\"manufacturer\":\"string\",\"catalog_number\":\"string\",\"supplier\":\"string\",\"cost_type_code\":\"string\",\"cost_type_name\":\"string\",\"waste\":0,\"material_waste\":0,\"item_margin\":0,\"labor_margin\":0,\"unit_labor_rate\":0,\"is_untaxed\":true,\"unit\":\"EA\",\"notes\":\"string\",\"multiplier\":0}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D\"),\n    Content = new StringContent(\"{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"cost_type_code\\\":\\\"string\\\",\\\"cost_type_name\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"color\\\":\\\"#FF0000\\\",\\\"catalog_id\\\":\\\"-1\\\",\\\"sub_items\\\":[{\\\"type\\\":\\\"PART\\\",\\\"item_id\\\":\\\"string\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"cost_type_code\\\":\\\"string\\\",\\\"cost_type_name\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"multiplier\\\":0}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "CostItems"
    ],
    "summary": "Delete Cost Item",
    "description": "Deletes Cost Item",
    "operationId": "CostItems_DeleteCostItem",
    "parameters": [
     {
      "name": "item_id",
      "in": "path",
      "required": true,
      "description": "Cost Item Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "responses": {
     "200": {
      "description": ""
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to delete Cost Item",
      "description": "This endpoint allows deleting a Cost Item.",
      "endpoint": "DELETE /companies/{company_id}/estimating/catalogs/items/{item_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/catalogs/items/%7Bitem_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/estimating/catalogs/items": {
   "post": {
    "tags": [
     "CostItems"
    ],
    "summary": "Create Cost Item",
    "description": "Creates new Cost Item",
    "operationId": "CostItems_CreateCostItem",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "requestBody": {
     "x-name": "cost_item",
     "description": "Cost Item",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Represents a model to save cost item details.",
        "additionalProperties": false,
        "required": [
         "type",
         "name",
         "unit",
         "catalog_id"
        ],
        "properties": {
         "type": {
          "type": "string",
          "description": "The type of the cost item.",
          "x-enumNames": [
           "Part",
           "Assembly",
           "Custom",
           "Equipment",
           "Subcontractor",
           "Travel",
           "Labor"
          ],
          "enum": [
           "PART",
           "ASSEMBLY",
           "CUSTOM",
           "EQUIPMENT",
           "SUBCONTRACTOR",
           "TRAVEL",
           "LABOR"
          ]
         },
         "name": {
          "type": "string",
          "description": "The name of the cost item.",
          "minLength": 1
         },
         "description": {
          "type": "string",
          "description": "The description of the cost item.",
          "nullable": true
         },
         "unit_cost": {
          "type": "number",
          "description": "The unit cost of the cost item.",
          "format": "decimal"
         },
         "unit_labor": {
          "type": "number",
          "description": "The unit labor required for the cost item.",
          "format": "decimal"
         },
         "unit_labor_cost": {
          "type": "number",
          "description": "The cost of the unit labor.",
          "format": "decimal"
         },
         "manufacturer": {
          "type": "string",
          "description": "The manufacturer of the cost item.",
          "nullable": true
         },
         "catalog_number": {
          "type": "string",
          "description": "The catalog number of the cost item.",
          "nullable": true
         },
         "supplier": {
          "type": "string",
          "description": "The supplier of the cost item.",
          "nullable": true
         },
         "cost_type_code": {
          "type": "string",
          "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
          "nullable": true
         },
         "cost_type_name": {
          "type": "string",
          "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
          "nullable": true
         },
         "waste": {
          "type": "number",
          "description": "The waste percentage associated with the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "material_waste": {
          "type": "number",
          "description": "The waste percentage associated with the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "item_margin": {
          "type": "number",
          "description": "The margin applied to the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "labor_margin": {
          "type": "number",
          "description": "The margin applied to the labor for the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "unit_labor_rate": {
          "type": "number",
          "description": "The unit labor rate for the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "is_untaxed": {
          "type": "boolean",
          "description": "Indicates whether the cost item is untaxed."
         },
         "unit": {
          "type": "string",
          "description": "The unit of measurement for the cost item.",
          "x-enumNames": [
           "Ea",
           "Ft",
           "SqFt",
           "CuFt",
           "Gal",
           "Lb",
           "Yd",
           "SqYd",
           "CuYd",
           "Square",
           "None",
           "Minutes",
           "Hours",
           "Days",
           "Ton",
           "Weeks",
           "Months",
           "LumpSum"
          ],
          "enum": [
           "EA",
           "FT",
           "SQ_FT",
           "CU_FT",
           "GAL",
           "LB",
           "YD",
           "SQ_YD",
           "CU_YD",
           "SQUARE",
           "NONE",
           "MINUTES",
           "HOURS",
           "DAYS",
           "TON",
           "WEEKS",
           "MONTHS",
           "LUMP_SUM"
          ]
         },
         "notes": {
          "type": "string",
          "description": "Any additional notes about the cost item.",
          "nullable": true
         },
         "color": {
          "type": "string",
          "description": "The color associated with the cost item.",
          "nullable": true,
          "example": "#FF0000"
         },
         "catalog_id": {
          "type": "string",
          "description": "The catalog ID associated with the cost item.",
          "minLength": 1,
          "example": "-1"
         },
         "sub_items": {
          "type": "array",
          "description": "Array of sub-items associated with the cost item. Ignore unless you are creating an Assembly.",
          "nullable": true,
          "items": {
           "type": "object",
           "additionalProperties": false,
           "required": [
            "multiplier"
           ],
           "properties": {
            "type": {
             "type": "string",
             "description": "The type of the cost item.",
             "x-enumNames": [
              "Part",
              "Assembly",
              "Custom",
              "Equipment",
              "Subcontractor",
              "Travel",
              "Labor"
             ],
             "enum": [
              "PART",
              "ASSEMBLY",
              "CUSTOM",
              "EQUIPMENT",
              "SUBCONTRACTOR",
              "TRAVEL",
              "LABOR"
             ]
            },
            "item_id": {
             "type": "string",
             "description": "The ID of the existing item this cost item. Ignore if creating a new item.",
             "nullable": true
            },
            "name": {
             "type": "string",
             "description": "The name of the cost item.",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "The description of the cost item.",
             "nullable": true
            },
            "unit_cost": {
             "type": "number",
             "description": "The unit cost of the cost item.",
             "format": "decimal"
            },
            "unit_labor": {
             "type": "number",
             "description": "The unit labor required for the cost item.",
             "format": "decimal"
            },
            "unit_labor_cost": {
             "type": "number",
             "description": "The cost of the unit labor.",
             "format": "decimal"
            },
            "manufacturer": {
             "type": "string",
             "description": "The manufacturer of the cost item.",
             "nullable": true
            },
            "catalog_number": {
             "type": "string",
             "description": "The catalog number of the cost item.",
             "nullable": true
            },
            "supplier": {
             "type": "string",
             "description": "The supplier of the cost item.",
             "nullable": true
            },
            "cost_type_code": {
             "type": "string",
             "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "cost_type_name": {
             "type": "string",
             "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "material_waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "item_margin": {
             "type": "number",
             "description": "The margin applied to the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "labor_margin": {
             "type": "number",
             "description": "The margin applied to the labor for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "unit_labor_rate": {
             "type": "number",
             "description": "The unit labor rate for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "is_untaxed": {
             "type": "boolean",
             "description": "Indicates whether the cost item is untaxed."
            },
            "unit": {
             "type": "string",
             "description": "The unit of measurement for the cost item.",
             "x-enumNames": [
              "Ea",
              "Ft",
              "SqFt",
              "CuFt",
              "Gal",
              "Lb",
              "Yd",
              "SqYd",
              "CuYd",
              "Square",
              "None",
              "Minutes",
              "Hours",
              "Days",
              "Ton",
              "Weeks",
              "Months",
              "LumpSum"
             ],
             "enum": [
              "EA",
              "FT",
              "SQ_FT",
              "CU_FT",
              "GAL",
              "LB",
              "YD",
              "SQ_YD",
              "CU_YD",
              "SQUARE",
              "NONE",
              "MINUTES",
              "HOURS",
              "DAYS",
              "TON",
              "WEEKS",
              "MONTHS",
              "LUMP_SUM"
             ]
            },
            "notes": {
             "type": "string",
             "description": "Any additional notes about the cost item.",
             "nullable": true
            },
            "multiplier": {
             "type": "number",
             "description": "The multiplier applied to the cost sub-item.",
             "format": "decimal"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "type": "object",
           "description": "Represents a model to get cost item details.",
           "additionalProperties": false,
           "properties": {
            "id": {
             "type": "string",
             "description": "The unique identifier for the cost item.",
             "nullable": true
            },
            "type": {
             "type": "string",
             "description": "The type of the cost item.",
             "x-enumNames": [
              "Part",
              "Assembly",
              "Custom",
              "Equipment",
              "Subcontractor",
              "Travel",
              "Labor"
             ],
             "enum": [
              "PART",
              "ASSEMBLY",
              "CUSTOM",
              "EQUIPMENT",
              "SUBCONTRACTOR",
              "TRAVEL",
              "LABOR"
             ]
            },
            "name": {
             "type": "string",
             "description": "The name of the cost item.",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "The description of the cost item.",
             "nullable": true
            },
            "unit_cost": {
             "type": "number",
             "description": "The unit cost of the cost item.",
             "format": "decimal"
            },
            "unit_labor": {
             "type": "number",
             "description": "The unit labor required for the cost item.",
             "format": "decimal"
            },
            "unit_labor_cost": {
             "type": "number",
             "description": "The cost of the unit labor.",
             "format": "decimal"
            },
            "manufacturer": {
             "type": "string",
             "description": "The manufacturer of the cost item.",
             "nullable": true
            },
            "catalog_number": {
             "type": "string",
             "description": "The catalog number of the cost item.",
             "nullable": true
            },
            "supplier": {
             "type": "string",
             "description": "The supplier of the cost item.",
             "nullable": true
            },
            "sub_job_code": {
             "type": "string",
             "description": "The sub-job code associated with the cost item.",
             "nullable": true
            },
            "sub_job_name": {
             "type": "string",
             "description": "The name of the sub-job associated with the cost item.",
             "nullable": true
            },
            "cost_code": {
             "type": "string",
             "description": "The cost code associated with the cost item.",
             "nullable": true
            },
            "cost_name": {
             "type": "string",
             "description": "The name of the cost code associated with the cost item.",
             "nullable": true
            },
            "cost_type_code": {
             "type": "string",
             "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "cost_type_name": {
             "type": "string",
             "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
             "nullable": true
            },
            "waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "material_waste": {
             "type": "number",
             "description": "The waste percentage associated with the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "item_margin": {
             "type": "number",
             "description": "The margin applied to the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "labor_margin": {
             "type": "number",
             "description": "The margin applied to the labor for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "unit_labor_rate": {
             "type": "number",
             "description": "The unit labor rate for the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "is_untaxed": {
             "type": "boolean",
             "description": "Indicates whether the cost item is untaxed."
            },
            "unit": {
             "type": "string",
             "description": "The unit of measurement for the cost item.",
             "x-enumNames": [
              "Ea",
              "Ft",
              "SqFt",
              "CuFt",
              "Gal",
              "Lb",
              "Yd",
              "SqYd",
              "CuYd",
              "Square",
              "None",
              "Minutes",
              "Hours",
              "Days",
              "Ton",
              "Weeks",
              "Months",
              "LumpSum"
             ],
             "enum": [
              "EA",
              "FT",
              "SQ_FT",
              "CU_FT",
              "GAL",
              "LB",
              "YD",
              "SQ_YD",
              "CU_YD",
              "SQUARE",
              "NONE",
              "MINUTES",
              "HOURS",
              "DAYS",
              "TON",
              "WEEKS",
              "MONTHS",
              "LUMP_SUM"
             ]
            },
            "notes": {
             "type": "string",
             "description": "Any additional notes about the cost item.",
             "nullable": true
            },
            "used_by_item_ids": {
             "type": "array",
             "description": "Array of item IDs that use this cost item.",
             "nullable": true,
             "items": {
              "type": "integer",
              "format": "int64"
             }
            },
            "color": {
             "type": "string",
             "description": "The color associated with the cost item.",
             "nullable": true,
             "example": "#FF0000"
            },
            "delivery_unit": {
             "type": "integer",
             "description": "The delivery unit of the cost item.",
             "format": "int32",
             "nullable": true
            },
            "catalog_id": {
             "type": "string",
             "description": "The catalog ID associated with the cost item.",
             "nullable": true,
             "example": "-1"
            },
            "custom": {
             "type": "boolean",
             "description": "Indicates whether the cost item is custom."
            },
            "sealed": {
             "type": "boolean",
             "description": "Indicates whether the cost item is sealed."
            },
            "sub_items": {
             "type": "array",
             "description": "Array of sub-items associated with the cost item.",
             "nullable": true,
             "items": {
              "type": "object",
              "description": "Represents a cost sub-item.",
              "additionalProperties": false,
              "required": [
               "multiplier"
              ],
              "properties": {
               "type": {
                "type": "string",
                "description": "The type of the cost item.",
                "x-enumNames": [
                 "Part",
                 "Assembly",
                 "Custom",
                 "Equipment",
                 "Subcontractor",
                 "Travel",
                 "Labor"
                ],
                "enum": [
                 "PART",
                 "ASSEMBLY",
                 "CUSTOM",
                 "EQUIPMENT",
                 "SUBCONTRACTOR",
                 "TRAVEL",
                 "LABOR"
                ]
               },
               "name": {
                "type": "string",
                "description": "The name of the cost item.",
                "nullable": true
               },
               "description": {
                "type": "string",
                "description": "The description of the cost item.",
                "nullable": true
               },
               "unit_cost": {
                "type": "number",
                "description": "The unit cost of the cost item.",
                "format": "decimal"
               },
               "unit_labor": {
                "type": "number",
                "description": "The unit labor required for the cost item.",
                "format": "decimal"
               },
               "unit_labor_cost": {
                "type": "number",
                "description": "The cost of the unit labor.",
                "format": "decimal"
               },
               "manufacturer": {
                "type": "string",
                "description": "The manufacturer of the cost item.",
                "nullable": true
               },
               "catalog_number": {
                "type": "string",
                "description": "The catalog number of the cost item.",
                "nullable": true
               },
               "supplier": {
                "type": "string",
                "description": "The supplier of the cost item.",
                "nullable": true
               },
               "sub_job_code": {
                "type": "string",
                "description": "The sub-job code associated with the cost item.",
                "nullable": true
               },
               "sub_job_name": {
                "type": "string",
                "description": "The name of the sub-job associated with the cost item.",
                "nullable": true
               },
               "cost_code": {
                "type": "string",
                "description": "The cost code associated with the cost item.",
                "nullable": true
               },
               "cost_name": {
                "type": "string",
                "description": "The name of the cost code associated with the cost item.",
                "nullable": true
               },
               "cost_type_code": {
                "type": "string",
                "description": "The cost type code associated with the cost item. Applicable only for items categorized under a Custom cost type.",
                "nullable": true
               },
               "cost_type_name": {
                "type": "string",
                "description": "The name of the cost type associated with the cost item. Applicable only for items categorized under a Custom cost type.",
                "nullable": true
               },
               "waste": {
                "type": "number",
                "description": "The waste percentage associated with the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "material_waste": {
                "type": "number",
                "description": "The waste percentage associated with the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "item_margin": {
                "type": "number",
                "description": "The margin applied to the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "labor_margin": {
                "type": "number",
                "description": "The margin applied to the labor for the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "unit_labor_rate": {
                "type": "number",
                "description": "The unit labor rate for the cost item.",
                "format": "decimal",
                "nullable": true
               },
               "is_untaxed": {
                "type": "boolean",
                "description": "Indicates whether the cost item is untaxed."
               },
               "unit": {
                "type": "string",
                "description": "The unit of measurement for the cost item.",
                "x-enumNames": [
                 "Ea",
                 "Ft",
                 "SqFt",
                 "CuFt",
                 "Gal",
                 "Lb",
                 "Yd",
                 "SqYd",
                 "CuYd",
                 "Square",
                 "None",
                 "Minutes",
                 "Hours",
                 "Days",
                 "Ton",
                 "Weeks",
                 "Months",
                 "LumpSum"
                ],
                "enum": [
                 "EA",
                 "FT",
                 "SQ_FT",
                 "CU_FT",
                 "GAL",
                 "LB",
                 "YD",
                 "SQ_YD",
                 "CU_YD",
                 "SQUARE",
                 "NONE",
                 "MINUTES",
                 "HOURS",
                 "DAYS",
                 "TON",
[...]
