{
 "openapi": "3.0.0",
 "info": {
  "title": "Crews",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Crews",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/crews": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List all Project Crews",
    "description": "Return a list of all Crews with details for a specified Project.",
    "tags": [
     "Crews"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "serializer_view",
      "in": "query",
      "description": "Changes what fields are included in the response.",
      "schema": {
       "type": "string",
       "enum": [
        "ids_only"
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return crew(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[deleted_at]",
      "in": "query",
      "description": "Return crew(s) deleted within the specified datetime/date range. Formats: YYYY-MM-DD...YYYY-MM-DD or YYYY-MM-DDTHH:MM:SSZ...YYYY-MM-DDTHH:MM:SSZ.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[with_search]",
      "in": "query",
      "description": "Filter crews by search text.",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Crews",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer"
           },
           "name": {
            "type": "string"
           },
           "project_id": {
            "type": "integer"
           },
           "company_id": {
            "type": "integer"
           },
           "employees": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "lead": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "lead_party": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "first_name": {
              "type": "string",
              "description": "First Name",
              "example": "Carl"
             },
             "last_name": {
              "type": "string",
              "description": "Surname",
              "example": "Contractor"
             },
             "is_employee": {
              "type": "boolean",
              "description": "Is an Employee?",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID if an employee",
              "example": 1234
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if a user",
              "example": 123
             },
             "is_active": {
              "type": "boolean",
              "description": "Is active party?",
              "example": true
             }
            }
           },
           "members": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "first_name": {
               "type": "string",
               "description": "First Name",
               "example": "Carl"
              },
              "last_name": {
               "type": "string",
               "description": "Surname",
               "example": "Contractor"
              },
              "is_employee": {
               "type": "boolean",
               "description": "Is an Employee?",
               "example": true
              },
              "employee_id": {
               "type": "string",
               "description": "Employee ID if an employee",
               "example": 1234
              },
              "user_id": {
               "type": "integer",
               "description": "User ID if a user",
               "example": 123
              },
              "is_active": {
               "type": "boolean",
               "description": "Is active party?",
               "example": true
              }
             }
            }
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2015-05-15T00:00:00Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2015-05-15T00:00:00Z"
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    serializer_view: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[deleted_at]': 'SOME_STRING_VALUE',\n    'filters[with_search]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/crews?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&serializer_view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&filters%5Bwith_search%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&serializer_view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&filters%5Bwith_search%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&serializer_view=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&filters%5Bwith_search%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added equipment array to crews responses",
      "description": "Added equipment array to crews responses.",
      "endpoint": "GET /projects/{project_id}/crews",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "crews?version=1.0#list-all-project-crews"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a new Crew",
    "description": "Create a new Crew associated with the specified Project.",
    "tags": [
     "Crew"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Crew Body",
        "type": "object",
        "required": [
         "crew"
        ],
        "properties": {
         "crew": {
          "title": "Crew",
          "type": "object",
          "description": "Crew Object",
          "properties": {
           "lead_party_id": {
            "type": "integer",
            "description": "Party Id of crew leader",
            "example": 1
           },
           "name": {
            "type": "string",
            "description": "Crew Name",
            "example": "ADL Crew"
           },
           "party_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Party Ids of crew members"
            }
           },
           "equipment_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Equipment Ids of equipment on crew"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Crew Created Succesfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer"
          },
          "name": {
           "type": "string"
          },
          "project_id": {
           "type": "integer"
          },
          "company_id": {
           "type": "integer"
          },
          "employees": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "lead": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "lead_party": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "first_name": {
             "type": "string",
             "description": "First Name",
             "example": "Carl"
            },
            "last_name": {
             "type": "string",
             "description": "Surname",
             "example": "Contractor"
            },
            "is_employee": {
             "type": "boolean",
             "description": "Is an Employee?",
             "example": true
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID if an employee",
             "example": 1234
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if a user",
             "example": 123
            },
            "is_active": {
             "type": "boolean",
             "description": "Is active party?",
             "example": true
            }
           }
          },
          "members": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "first_name": {
              "type": "string",
              "description": "First Name",
              "example": "Carl"
             },
             "last_name": {
              "type": "string",
              "description": "Surname",
              "example": "Contractor"
             },
             "is_employee": {
              "type": "boolean",
              "description": "Is an Employee?",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID if an employee",
              "example": 1234
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if a user",
              "example": 123
             },
             "is_active": {
              "type": "boolean",
              "description": "Is active party?",
              "example": true
             }
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2015-05-15T00:00:00Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2015-05-15T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating a Crew",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews',\n  headers: {'content-type': 'application/json'},\n  body: {crew: {lead_party_id: 1, name: 'ADL Crew', party_ids: [0], equipment_ids: [0]}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"crew\\\":{\\\"lead_party_id\\\":1,\\\"name\\\":\\\"ADL Crew\\\",\\\"party_ids\\\":[0],\\\"equipment_ids\\\":[0]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/crews\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews \\\n  --header 'content-type: application/json' \\\n  --data '{\"crew\":{\"lead_party_id\":1,\"name\":\"ADL Crew\",\"party_ids\":[0],\"equipment_ids\":[0]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews\"),\n    Content = new StringContent(\"{\\\"crew\\\":{\\\"lead_party_id\\\":1,\\\"name\\\":\\\"ADL Crew\\\",\\\"party_ids\\\":[0],\\\"equipment_ids\\\":[0]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added support for equipment_ids parameter in crew creation",
      "description": "Added support for equipment_ids parameter when creating crews.  You can now specify equipment register IDs to assign equipment to a crew during creation.",
      "endpoint": "POST /projects/{project_id}/crews",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "crews?version=1.0#create-a-new-crew"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/crews/ids": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List all Project Crew Ids",
    "description": "Return a list of all Crew Ids with details for a specified Project.",
    "tags": [
     "Crews"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Scope crew IDs to the specified crew IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[deleted_at]",
      "in": "query",
      "description": "Scope crew IDs by deleted_at datetime/date range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[with_search]",
      "in": "query",
      "description": "Scope crew IDs by search text.",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Crews",
         "items": {
          "type": "integer",
          "description": "Array of Ids"
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/ids',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[deleted_at]': 'SOME_STRING_VALUE',\n    'filters[with_search]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/crews/ids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&filters%5Bwith_search%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/ids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&filters%5Bwith_search%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/ids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bdeleted_at%5D=SOME_STRING_VALUE&filters%5Bwith_search%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/crews/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show A Crew",
    "description": "Return Crew detailed information.",
    "tags": [
     "Crews"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer"
          },
          "name": {
           "type": "string"
          },
          "project_id": {
           "type": "integer"
          },
          "company_id": {
           "type": "integer"
          },
          "employees": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "lead": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "lead_party": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "first_name": {
             "type": "string",
             "description": "First Name",
             "example": "Carl"
            },
            "last_name": {
             "type": "string",
             "description": "Surname",
             "example": "Contractor"
            },
            "is_employee": {
             "type": "boolean",
             "description": "Is an Employee?",
             "example": true
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID if an employee",
             "example": 1234
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if a user",
             "example": 123
            },
            "is_active": {
             "type": "boolean",
             "description": "Is active party?",
             "example": true
            }
           }
          },
          "members": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "first_name": {
              "type": "string",
              "description": "First Name",
              "example": "Carl"
             },
             "last_name": {
              "type": "string",
              "description": "Surname",
              "example": "Contractor"
             },
             "is_employee": {
              "type": "boolean",
              "description": "Is an Employee?",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID if an employee",
              "example": 1234
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if a user",
              "example": 123
             },
             "is_active": {
              "type": "boolean",
              "description": "Is active party?",
              "example": true
             }
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2015-05-15T00:00:00Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2015-05-15T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added equipment array to crew responses",
      "description": "Added equipment array to crew responses.",
      "endpoint": "GET /projects/{project_id}/crews/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "crews?version=1.0#show-a-crew"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a Crew",
    "description": "Updating a Crew associated with the specified Project.",
    "tags": [
     "Crew"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Crew",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Crew Body",
        "type": "object",
        "required": [
         "crew"
        ],
        "properties": {
         "crew": {
          "title": "Crew",
          "type": "object",
          "description": "Crew Object",
          "properties": {
           "lead_party_id": {
            "type": "integer",
            "description": "Party Id of crew leader",
            "example": 1
           },
           "name": {
            "type": "string",
            "description": "Crew Name",
            "example": "ADL Crew"
           },
           "party_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Party Ids of crew members"
            }
           },
           "equipment_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Equipment Ids of equipment on crew"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Crew Updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer"
          },
          "name": {
           "type": "string"
          },
          "project_id": {
           "type": "integer"
          },
          "company_id": {
           "type": "integer"
          },
          "employees": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "lead": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "lead_party": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "first_name": {
             "type": "string",
             "description": "First Name",
             "example": "Carl"
            },
            "last_name": {
             "type": "string",
             "description": "Surname",
             "example": "Contractor"
            },
            "is_employee": {
             "type": "boolean",
             "description": "Is an Employee?",
             "example": true
            },
            "employee_id": {
             "type": "string",
             "description": "Employee ID if an employee",
             "example": 1234
            },
            "user_id": {
             "type": "integer",
             "description": "User ID if a user",
             "example": 123
            },
            "is_active": {
             "type": "boolean",
             "description": "Is active party?",
             "example": true
            }
           }
          },
          "members": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "first_name": {
              "type": "string",
              "description": "First Name",
              "example": "Carl"
             },
             "last_name": {
              "type": "string",
              "description": "Surname",
              "example": "Contractor"
             },
             "is_employee": {
              "type": "boolean",
              "description": "Is an Employee?",
              "example": true
             },
             "employee_id": {
              "type": "string",
              "description": "Employee ID if an employee",
              "example": 1234
             },
             "user_id": {
              "type": "integer",
              "description": "User ID if a user",
              "example": 123
             },
             "is_active": {
              "type": "boolean",
              "description": "Is active party?",
              "example": true
             }
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2015-05-15T00:00:00Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2015-05-15T00:00:00Z"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating a Crew",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {crew: {lead_party_id: 1, name: 'ADL Crew', party_ids: [0], equipment_ids: [0]}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"crew\\\":{\\\"lead_party_id\\\":1,\\\"name\\\":\\\"ADL Crew\\\",\\\"party_ids\\\":[0],\\\"equipment_ids\\\":[0]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"crew\":{\"lead_party_id\":1,\"name\":\"ADL Crew\",\"party_ids\":[0],\"equipment_ids\":[0]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"crew\\\":{\\\"lead_party_id\\\":1,\\\"name\\\":\\\"ADL Crew\\\",\\\"party_ids\\\":[0],\\\"equipment_ids\\\":[0]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added support for equipment_ids parameter in crew updates",
      "description": "Added support for equipment_ids parameter when updating crews.  You can now add, remove, or modify equipment assignments on existing crews.  Sending an empty array removes all equipment from the crew.",
      "endpoint": "PATCH /projects/{project_id}/crews/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "crews?version=1.0#update-a-crew"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete a Crew",
    "description": "Deleting a Crew associated with the specified Project.",
    "tags": [
     "Crew"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Id of the Crew",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Crew Body",
        "type": "object",
        "required": [
         "crew"
        ],
        "properties": {
         "crew": {
          "title": "Crew",
          "type": "object",
          "description": "Crew Object",
          "properties": {
           "lead_party_id": {
            "type": "integer",
            "description": "Party Id of crew leader",
            "example": 1
           },
           "name": {
            "type": "string",
            "description": "Crew Name",
            "example": "ADL Crew"
           },
           "party_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Party Ids of crew members"
            }
           },
           "equipment_ids": {
            "type": "array",
            "items": {
             "type": "integer",
             "description": "Equipment Ids of equipment on crew"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Crew Deleted"
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {crew: {lead_party_id: 1, name: 'ADL Crew', party_ids: [0], equipment_ids: [0]}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"crew\\\":{\\\"lead_party_id\\\":1,\\\"name\\\":\\\"ADL Crew\\\",\\\"party_ids\\\":[0],\\\"equipment_ids\\\":[0]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"crew\":{\"lead_party_id\":1,\"name\":\"ADL Crew\",\"party_ids\":[0],\"equipment_ids\":[0]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/crews/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"crew\\\":{\\\"lead_party_id\\\":1,\\\"name\\\":\\\"ADL Crew\\\",\\\"party_ids\\\":[0],\\\"equipment_ids\\\":[0]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}