{
 "openapi": "3.0.0",
 "info": {
  "title": "Custom Fields",
  "x-product-category": "Company Admin",
  "x-tool-category": "Custom - Configurable Tools",
  "x-resource-name": "Custom Fields",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/custom_field_definitions": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Custom Field Definitions",
    "description": "Return a list of Custom Field Definitions for a given company.",
    "tags": [
     "Custom Field Definitions"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Controls which fields are returned for each Custom Field Definition.\n'with_configurable_field_sets' additionally includes the configurable_field_sets array listing the field sets that use the definition.",
      "schema": {
       "type": "string",
       "default": "default",
       "enum": [
        "default",
        "with_configurable_field_sets"
       ]
      }
     },
     {
      "name": "tool_name",
      "in": "query",
      "required": false,
      "description": "The name of the company level tool whose read permissions are used to authorize the request.",
      "schema": {
       "type": "string",
       "enum": [
        "admin",
        "home",
        "timesheets"
       ]
      }
     },
     {
      "name": "includes_configurable_field_sets_count",
      "in": "query",
      "required": false,
      "description": "If true, response will include the number of field sets using item (custom field).",
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "return custom field definitions that are filtered on an array of ID's. Example: filters[id]=[1,2]",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[with_label]",
      "in": "query",
      "description": "Return custom field definitions that label contains text",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Direction (asc/desc) can be controlled by the presence or absence of '-' before the sort parameter.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "label"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Custom Field Definitions for the company.",
           "items": {
            "type": "object",
            "title": "Custom Field Definition",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique identifier for the Custom Field Definition. Use as the {id} path parameter for show, update, and delete requests.",
              "example": "999"
             },
             "label": {
              "type": "string",
              "description": "Human-readable name of the Custom Field shown to users.",
              "example": "Impact"
             },
             "active": {
              "type": "boolean",
              "description": "Whether the Custom Field Definition is active. Inactive definitions are retained but not offered for new field set configuration.",
              "example": true
             },
             "company_id": {
              "type": "string",
              "description": "ID of the company that owns this Custom Field Definition. Matches the company_id path parameter used to scope the request.",
              "example": "999"
             },
             "data_type": {
              "type": "string",
              "description": "The kind of value the Custom Field stores. One of: string, decimal, boolean, lov_entry (single select), lov_entries (multi select), datetime, rich_text, login_information, login_informations, vendor, location, prostore_files.",
              "example": "string"
             },
             "variant": {
              "type": "string",
              "nullable": true,
              "description": "Sub-type that refines the data_type (e.g. currency for decimal, radio_button for lov_entry, read_only for rich_text). Null when the data_type has no variant.",
              "example": "read_only"
             },
             "description": {
              "type": "string",
              "nullable": true,
              "description": "Optional longer description explaining the purpose of the Custom Field.",
              "example": "ABC"
             },
             "default_value": {
              "type": "string",
              "nullable": true,
              "description": "Default value pre-populated for the Custom Field. Only set for read_only rich_text fields; null otherwise.",
              "example": "Foo Division"
             },
             "configurable_field_sets_count": {
              "type": "integer",
              "nullable": true,
              "description": "Number of Configurable Field Sets that use this Custom Field. Only present when includes_configurable_field_sets_count=true is passed; null otherwise.",
              "example": 1
             },
             "configurable_field_sets": {
              "type": "array",
              "nullable": true,
              "description": "Configurable Field Sets that use this Custom Field. Only present when view=with_configurable_field_sets is requested.",
              "items": {
               "type": "object"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    tool_name: 'SOME_STRING_VALUE',\n    includes_configurable_field_sets_count: 'SOME_BOOLEAN_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[with_label]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&tool_name=SOME_STRING_VALUE&includes_configurable_field_sets_count=SOME_BOOLEAN_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bwith_label%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&tool_name=SOME_STRING_VALUE&includes_configurable_field_sets_count=SOME_BOOLEAN_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bwith_label%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&tool_name=SOME_STRING_VALUE&includes_configurable_field_sets_count=SOME_BOOLEAN_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bwith_label%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added a \"tool_name\" query parameter to the list endpoint.",
      "description": "Added an optional `tool_name` query parameter that specifies which tool's read\npermissions are used to authorize the request. Supported values are `admin` and\n`timesheets`. When the parameter is omitted, the request is authorized against the\ncompany `admin` tool, so callers without read access to the tool being checked\nreceive a `403 Forbidden`.\n\nExample: `GET /rest/v2.0/companies/{company_id}/custom_field_definitions?tool_name=timesheets`",
      "endpoint": "GET /companies/{company_id}/custom_field_definitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-10",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "custom-fields?version=2.0#list-custom-field-definitions"
     },
     {
      "summary": "Added \"home\" as a supported value for the \"tool_name\" query parameter.",
      "description": "Added `home` to the list of supported values for the `tool_name` query parameter on\n`GET /rest/v2.0/companies/{company_id}/custom_field_definitions`. When `tool_name=home`\nis passed, the request is authorized against the caller's read access on the company\n`home` tool. Supported values for `tool_name` are now `admin`, `home`, and `timesheets`.\n\nExample: `GET /rest/v2.0/companies/{company_id}/custom_field_definitions?tool_name=home`",
      "endpoint": "GET /companies/{company_id}/custom_field_definitions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-01",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "custom-fields?version=2.0#list-custom-field-definitions"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Custom Field Definitions",
    "description": "Creates a Custom Field Definition. The ID returned is then used as a path parameter (custom_field_definition_id) on the [Create Custom LOV Entries](/reference/rest/v1/custom-fields#create-custom-field-lov-entries) endpoint.",
    "tags": [
     "Custom Field Definitions"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Controls which fields are returned for each Custom Field Definition.\n'with_configurable_field_sets' additionally includes the configurable_field_sets array listing the field sets that use the definition.",
      "schema": {
       "type": "string",
       "default": "default",
       "enum": [
        "default",
        "with_configurable_field_sets"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "custom_field_definition"
        ],
        "properties": {
         "custom_field_definition": {
          "type": "object",
          "required": [
           "label",
           "data_type"
          ],
          "properties": {
           "label": {
            "type": "string",
            "description": "Label",
            "example": "Impact"
           },
           "data_type": {
            "type": "string",
            "description": "Type of Custom field",
            "enum": [
             "string",
             "decimal",
             "boolean",
             "lov_entry",
             "lov_entries",
             "datetime",
             "rich_text",
             "login_information",
             "login_informations",
             "vendor",
             "location",
             "prostore_files"
            ]
           },
           "variant": {
            "type": "string",
            "description": "The variant of the Custom Field. The supported variants is dependent on the data_type.",
            "enum": [
             "currency",
             "project_directory",
             "radio_button",
             "read_only"
            ]
           },
           "active": {
            "type": "boolean",
            "description": "Whether the custom field is active or not.",
            "example": true
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "ABC"
           },
           "default_value": {
            "type": "string",
            "description": "The default value for the Custom Field. Only accepted for read_only rich_text fields.",
            "example": "Default Text"
           },
           "custom_field_lov_entries": {
            "type": "array",
            "items": {
             "type": "object",
             "title": "Custom Field Lov Entry",
             "properties": {
              "id": {
               "type": "string",
               "description": "Custom Field Lov Entry ID",
               "example": "999"
              },
              "label": {
               "type": "string",
               "description": "Label",
               "example": "High"
              },
              "position": {
               "type": "number",
               "description": "Position is sorted descending, highest position is visually the top of the list.",
               "example": 1
              },
              "active": {
               "type": "boolean",
               "description": "Whether or not the Custom Field Lov Entry is active",
               "example": true
              }
             }
            },
            "description": "List-of-value entries (selectable options) for the Custom Field. Only applicable to lov_entry and lov_entries data types."
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "Custom Field Definition",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for the Custom Field Definition. Use as the {id} path parameter for show, update, and delete requests.",
             "example": "999"
            },
            "label": {
             "type": "string",
             "description": "Human-readable name of the Custom Field shown to users.",
             "example": "Impact"
            },
            "active": {
             "type": "boolean",
             "description": "Whether the Custom Field Definition is active. Inactive definitions are retained but not offered for new field set configuration.",
             "example": true
            },
            "company_id": {
             "type": "string",
             "description": "ID of the company that owns this Custom Field Definition. Matches the company_id path parameter used to scope the request.",
             "example": "999"
            },
            "data_type": {
             "type": "string",
             "description": "The kind of value the Custom Field stores. One of: string, decimal, boolean, lov_entry (single select), lov_entries (multi select), datetime, rich_text, login_information, login_informations, vendor, location, prostore_files.",
             "example": "string"
            },
            "variant": {
             "type": "string",
             "nullable": true,
             "description": "Sub-type that refines the data_type (e.g. currency for decimal, radio_button for lov_entry, read_only for rich_text). Null when the data_type has no variant.",
             "example": "read_only"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Optional longer description explaining the purpose of the Custom Field.",
             "example": "ABC"
            },
            "default_value": {
             "type": "string",
             "nullable": true,
             "description": "Default value pre-populated for the Custom Field. Only set for read_only rich_text fields; null otherwise.",
             "example": "Foo Division"
            },
            "configurable_field_sets_count": {
             "type": "integer",
             "nullable": true,
             "description": "Number of Configurable Field Sets that use this Custom Field. Only present when includes_configurable_field_sets_count=true is passed; null otherwise.",
             "example": 1
            },
            "configurable_field_sets": {
             "type": "array",
             "nullable": true,
             "description": "Configurable Field Sets that use this Custom Field. Only present when view=with_configurable_field_sets is requested.",
             "items": {
              "type": "object"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    custom_field_definition: {\n      label: 'Impact',\n      data_type: 'string',\n      variant: 'currency',\n      active: true,\n      description: 'ABC',\n      default_value: 'Default Text',\n      custom_field_lov_entries: [{id: '999', label: 'High', position: 1, active: true}]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"custom_field_definition\\\":{\\\"label\\\":\\\"Impact\\\",\\\"data_type\\\":\\\"string\\\",\\\"variant\\\":\\\"currency\\\",\\\"active\\\":true,\\\"description\\\":\\\"ABC\\\",\\\"default_value\\\":\\\"Default Text\\\",\\\"custom_field_lov_entries\\\":[{\\\"id\\\":\\\"999\\\",\\\"label\\\":\\\"High\\\",\\\"position\\\":1,\\\"active\\\":true}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions?view=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"custom_field_definition\":{\"label\":\"Impact\",\"data_type\":\"string\",\"variant\":\"currency\",\"active\":true,\"description\":\"ABC\",\"default_value\":\"Default Text\",\"custom_field_lov_entries\":[{\"id\":\"999\",\"label\":\"High\",\"position\":1,\"active\":true}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions?view=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"custom_field_definition\\\":{\\\"label\\\":\\\"Impact\\\",\\\"data_type\\\":\\\"string\\\",\\\"variant\\\":\\\"currency\\\",\\\"active\\\":true,\\\"description\\\":\\\"ABC\\\",\\\"default_value\\\":\\\"Default Text\\\",\\\"custom_field_lov_entries\\\":[{\\\"id\\\":\\\"999\\\",\\\"label\\\":\\\"High\\\",\\\"position\\\":1,\\\"active\\\":true}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/custom_field_definitions/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Custom Field Definition",
    "description": "Returns the details for a specified Custom Field Definition",
    "tags": [
     "Custom Field Definitions"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Custom Field Definition ID",
      "required": true,
      "example": "123456",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Controls which fields are returned for each Custom Field Definition.\n'with_configurable_field_sets' additionally includes the configurable_field_sets array listing the field sets that use the definition.",
      "schema": {
       "type": "string",
       "default": "default",
       "enum": [
        "default",
        "with_configurable_field_sets"
       ]
      }
     },
     {
      "name": "includes_configurable_field_sets_count",
      "in": "query",
      "required": false,
      "description": "If true, response will include the number of field sets using item (custom field).",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "Custom Field Definition",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for the Custom Field Definition. Use as the {id} path parameter for show, update, and delete requests.",
             "example": "999"
            },
            "label": {
             "type": "string",
             "description": "Human-readable name of the Custom Field shown to users.",
             "example": "Impact"
            },
            "active": {
             "type": "boolean",
             "description": "Whether the Custom Field Definition is active. Inactive definitions are retained but not offered for new field set configuration.",
             "example": true
            },
            "company_id": {
             "type": "string",
             "description": "ID of the company that owns this Custom Field Definition. Matches the company_id path parameter used to scope the request.",
             "example": "999"
            },
            "data_type": {
             "type": "string",
             "description": "The kind of value the Custom Field stores. One of: string, decimal, boolean, lov_entry (single select), lov_entries (multi select), datetime, rich_text, login_information, login_informations, vendor, location, prostore_files.",
             "example": "string"
            },
            "variant": {
             "type": "string",
             "nullable": true,
             "description": "Sub-type that refines the data_type (e.g. currency for decimal, radio_button for lov_entry, read_only for rich_text). Null when the data_type has no variant.",
             "example": "read_only"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Optional longer description explaining the purpose of the Custom Field.",
             "example": "ABC"
            },
            "default_value": {
             "type": "string",
             "nullable": true,
             "description": "Default value pre-populated for the Custom Field. Only set for read_only rich_text fields; null otherwise.",
             "example": "Foo Division"
            },
            "configurable_field_sets_count": {
             "type": "integer",
             "nullable": true,
             "description": "Number of Configurable Field Sets that use this Custom Field. Only present when includes_configurable_field_sets_count=true is passed; null otherwise.",
             "example": 1
            },
            "configurable_field_sets": {
             "type": "array",
             "nullable": true,
             "description": "Configurable Field Sets that use this Custom Field. Only present when view=with_configurable_field_sets is requested.",
             "items": {
              "type": "object"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    includes_configurable_field_sets_count: 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456?view=SOME_STRING_VALUE&includes_configurable_field_sets_count=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456?view=SOME_STRING_VALUE&includes_configurable_field_sets_count=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456?view=SOME_STRING_VALUE&includes_configurable_field_sets_count=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Custom Field Definition",
    "description": "Updates a Custom Field Definition.",
    "tags": [
     "Custom Field Definitions"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Custom Field Definition ID",
      "required": true,
      "example": "123456",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Controls which fields are returned for each Custom Field Definition.\n'with_configurable_field_sets' additionally includes the configurable_field_sets array listing the field sets that use the definition.",
      "schema": {
       "type": "string",
       "default": "default",
       "enum": [
        "default",
        "with_configurable_field_sets"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "custom_field_definition"
        ],
        "properties": {
         "custom_field_definition": {
          "type": "object",
          "required": [
           "label"
          ],
          "properties": {
           "label": {
            "type": "string",
            "description": "Label",
            "example": "Impact"
           },
           "data_type": {
            "type": "string",
            "description": "Type of Custom field",
            "enum": [
             "string",
             "decimal",
             "boolean",
             "lov_entry",
             "lov_entries",
             "datetime",
             "rich_text",
             "login_information",
             "login_informations",
             "vendor",
             "location",
             "prostore_files"
            ]
           },
           "variant": {
            "type": "string",
            "description": "The variant of the Custom Field. The supported variants is dependent on the data_type.",
            "enum": [
             "currency",
             "project_directory",
             "radio_button",
             "read_only"
            ]
           },
           "active": {
            "type": "boolean",
            "description": "Whether the custom field is active or not.",
            "example": true
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "ABC"
           },
           "default_value": {
            "type": "string",
            "description": "The default value for the Custom Field. Only accepted for read_only rich_text fields.",
            "example": "Default Text"
           },
           "custom_field_lov_entries": {
            "type": "array",
            "items": {
             "type": "object",
             "title": "Custom Field Lov Entry",
             "properties": {
              "id": {
               "type": "string",
               "description": "Custom Field Lov Entry ID",
               "example": "999"
              },
              "label": {
               "type": "string",
               "description": "Label",
               "example": "High"
              },
              "position": {
               "type": "number",
               "description": "Position is sorted descending, highest position is visually the top of the list.",
               "example": 1
              },
              "active": {
               "type": "boolean",
               "description": "Whether or not the Custom Field Lov Entry is active",
               "example": true
              }
             }
            },
            "description": "Custom Lov Entries (selectable options) for the custom field."
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "Custom Field Definition",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier for the Custom Field Definition. Use as the {id} path parameter for show, update, and delete requests.",
             "example": "999"
            },
            "label": {
             "type": "string",
             "description": "Human-readable name of the Custom Field shown to users.",
             "example": "Impact"
            },
            "active": {
             "type": "boolean",
             "description": "Whether the Custom Field Definition is active. Inactive definitions are retained but not offered for new field set configuration.",
             "example": true
            },
            "company_id": {
             "type": "string",
             "description": "ID of the company that owns this Custom Field Definition. Matches the company_id path parameter used to scope the request.",
             "example": "999"
            },
            "data_type": {
             "type": "string",
             "description": "The kind of value the Custom Field stores. One of: string, decimal, boolean, lov_entry (single select), lov_entries (multi select), datetime, rich_text, login_information, login_informations, vendor, location, prostore_files.",
             "example": "string"
            },
            "variant": {
             "type": "string",
             "nullable": true,
             "description": "Sub-type that refines the data_type (e.g. currency for decimal, radio_button for lov_entry, read_only for rich_text). Null when the data_type has no variant.",
             "example": "read_only"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Optional longer description explaining the purpose of the Custom Field.",
             "example": "ABC"
            },
            "default_value": {
             "type": "string",
             "nullable": true,
             "description": "Default value pre-populated for the Custom Field. Only set for read_only rich_text fields; null otherwise.",
             "example": "Foo Division"
            },
            "configurable_field_sets_count": {
             "type": "integer",
             "nullable": true,
             "description": "Number of Configurable Field Sets that use this Custom Field. Only present when includes_configurable_field_sets_count=true is passed; null otherwise.",
             "example": 1
            },
            "configurable_field_sets": {
             "type": "array",
             "nullable": true,
             "description": "Configurable Field Sets that use this Custom Field. Only present when view=with_configurable_field_sets is requested.",
             "items": {
              "type": "object"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    custom_field_definition: {\n      label: 'Impact',\n      data_type: 'string',\n      variant: 'currency',\n      active: true,\n      description: 'ABC',\n      default_value: 'Default Text',\n      custom_field_lov_entries: [{id: '999', label: 'High', position: 1, active: true}]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"custom_field_definition\\\":{\\\"label\\\":\\\"Impact\\\",\\\"data_type\\\":\\\"string\\\",\\\"variant\\\":\\\"currency\\\",\\\"active\\\":true,\\\"description\\\":\\\"ABC\\\",\\\"default_value\\\":\\\"Default Text\\\",\\\"custom_field_lov_entries\\\":[{\\\"id\\\":\\\"999\\\",\\\"label\\\":\\\"High\\\",\\\"position\\\":1,\\\"active\\\":true}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456?view=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"custom_field_definition\":{\"label\":\"Impact\",\"data_type\":\"string\",\"variant\":\"currency\",\"active\":true,\"description\":\"ABC\",\"default_value\":\"Default Text\",\"custom_field_lov_entries\":[{\"id\":\"999\",\"label\":\"High\",\"position\":1,\"active\":true}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456?view=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"custom_field_definition\\\":{\\\"label\\\":\\\"Impact\\\",\\\"data_type\\\":\\\"string\\\",\\\"variant\\\":\\\"currency\\\",\\\"active\\\":true,\\\"description\\\":\\\"ABC\\\",\\\"default_value\\\":\\\"Default Text\\\",\\\"custom_field_lov_entries\\\":[{\\\"id\\\":\\\"999\\\",\\\"label\\\":\\\"High\\\",\\\"position\\\":1,\\\"active\\\":true}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Custom Field Definition",
    "description": "Deletes a Custom Field Definition.",
    "tags": [
     "Custom Field Definitions"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Custom Field Definition ID",
      "required": true,
      "example": "123456",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/123456\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/custom_field_metadata": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Custom Field Metadata",
    "description": "Return a list of all Custom Field Metadata associated with the Current Company.",
    "tags": [
     "Custom Field Metadata"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "The extended view provides what is shown below.\nThe default view returns the same as the extended view but excludes the attributes company_id, host_type, source_type, source_id, label, data_type, variant, and default_value.\nThe with_field_set_name view returns the same as default, including the configurable field set name.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended",
        "with_field_set_name"
       ]
      }
     },
     {
      "name": "filters[field_set_type][]",
      "in": "query",
      "description": "Return a list of all Custom Field Metadata associated with the Current Company and source_type provided.",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[field_set_id][]",
      "in": "query",
      "description": "Return a list of all Custom Field Metadata associated with the Current Company and source_id provided.",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[custom_field_definition_id]",
      "in": "query",
      "description": "Return a list of all Custom Field Metadata associated with the Current Company and custom_field_definition_id provided.",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Custom Field Metadata",
           "items": {
            "type": "object",
            "title": "Custom Field Metadatum",
            "properties": {
             "id": {
              "type": "string",
              "description": "Custom Field Metadatum ID",
              "example": "999"
             },
             "custom_field_definition_id": {
              "type": "string",
              "description": "Custom Field Definition ID",
              "example": "999"
             },
             "position": {
              "type": "number",
              "description": "Position is sorted ascending, lowest position is visually the top left of the page on a grid basis (used in conjunction with column_width property to calculate row and column properties).",
              "example": 999
             },
             "required": {
              "type": "boolean",
              "description": "Whether or not the Custom Field Metadatum is required",
              "example": true
             },
             "visible": {
              "type": "boolean",
              "description": "Whether or not the Custom Field Metadatum is visible",
              "example": true
             },
             "company_id": {
              "type": "string",
              "description": "Company ID",
              "example": "999"
             },
             "host_type": {
              "type": "string",
              "description": "Procore Entity",
              "example": "ProcoreEntityName"
             },
             "source_type": {
              "type": "string",
              "description": "Configurable FieldSet Class",
              "example": "ConfigurableFieldSet::Base"
             },
             "source_id": {
              "type": "string",
              "description": "Configurable FieldSet ID",
              "example": "999"
             },
             "label": {
              "type": "string",
              "description": "Custom Field Metadatum Label",
              "example": "Impact"
             },
             "data_type": {
              "type": "string",
              "description": "Type of Custom field",
              "example": "string"
             },
             "variant": {
              "type": "string",
              "description": "The variant type of the Custom Field",
              "example": "string"
             },
             "default_value": {
              "type": "string",
              "description": "The default value of the Custom Field",
              "example": "string"
             },
             "row": {
              "type": "number",
              "description": "Row the Field is position on the Form",
              "example": 1
             },
             "column": {
              "type": "number",
              "description": "Column the Field is position on the Form",
              "example": 1
             },
             "column_width": {
              "type": "number",
              "description": "How many columns the field spans on the Form",
              "example": 3
             },
             "custom_fields_section_id": {
              "type": "string",
              "nullable": true,
              "description": "The display section of the Custom Field, if null it is the general section, visually in the top level section typically called \"General Information\".",
              "example": "789"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_metadata',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[field_set_type][]': 'SOME_ARRAY_VALUE',\n    'filters[field_set_id][]': 'SOME_ARRAY_VALUE',\n    'filters[custom_field_definition_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_metadata?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bfield_set_type%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bfield_set_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcustom_field_definition_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_metadata?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bfield_set_type%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bfield_set_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcustom_field_definition_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_metadata?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bfield_set_type%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bfield_set_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bcustom_field_definition_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Custom Field Metadata",
    "description": "Creates a Custom Field Metadatum",
    "tags": [
     "Custom Field Metadata"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "The extended view provides what is shown below.\nThe default view returns the same as the extended view but excludes the attributes company_id, host_type, source_type, source_id, label, data_type, variant, and default_value.\nThe with_field_set_name view returns the same as default, including the configurable field set name.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended",
        "with_field_set_name"
       ]
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "custom_field_metadatum"
        ],
        "properties": {
         "custom_field_metadatum": {
          "type": "object",
          "required": [
           "custom_field_definition_id",
           "host_type",
           "source_type",
           "source_id",
           "position"
          ],
          "properties": {
           "custom_field_definition_id": {
            "type": "string",
            "description": "Custom Field Definition ID",
            "example": "999"
           },
           "custom_fields_section_id": {
            "type": "string",
            "description": "Custom Fields Section ID",
            "example": "999"
           },
           "host_type": {
            "type": "string",
            "description": "Procore Entity",
            "example": "ProcoreEntityName"
           },
           "source_type": {
            "type": "string",
            "description": "Configurable FieldSet Class",
            "example": "ConfigurableFieldSet::Base"
           },
           "source_id": {
            "type": "string",
            "description": "Configurable FieldSet ID",
            "example": "999"
           },
           "position": {
            "type": "number",
            "description": "Position",
            "example": 1
           },
           "required": {
            "type": "boolean",
            "description": "Whether or not the Custom Field Metadatum is required",
            "example": true
           },
           "visible": {
            "type": "boolean",
            "description": "Whether or not the Custom Field Metadatum is visible",
            "example": true
           },
           "row": {
            "type": "number",
            "description": "Row the Field is position on the Form",
            "example": 1
           },
           "column": {
            "type": "number",
            "description": "Column the Field is position on the Form",
            "example": 1
           },
           "column_width": {
            "type": "number",
            "description": "How many columns the field spans on the Form",
            "example": 3
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "Custom Field Metadatum",
           "properties": {
            "id": {
             "type": "string",
             "description": "Custom Field Metadatum ID",
             "example": "999"
            },
            "custom_field_definition_id": {
             "type": "string",
             "description": "Custom Field Definition ID",
             "example": "999"
            },
            "position": {
             "type": "number",
             "description": "Position is sorted ascending, lowest position is visually the top left of the page on a grid basis (used in conjunction with column_width property to calculate row and column properties).",
             "example": 999
            },
            "required": {
             "type": "boolean",
             "description": "Whether or not the Custom Field Metadatum is required",
             "example": true
            },
            "visible": {
             "type": "boolean",
             "description": "Whether or not the Custom Field Metadatum is visible",
             "example": true
            },
            "company_id": {
             "type": "string",
             "description": "Company ID",
             "example": "999"
            },
            "host_type": {
             "type": "string",
             "description": "Procore Entity",
             "example": "ProcoreEntityName"
            },
            "source_type": {
             "type": "string",
             "description": "Configurable FieldSet Class",
             "example": "ConfigurableFieldSet::Base"
            },
            "source_id": {
             "type": "string",
             "description": "Configurable FieldSet ID",
             "example": "999"
            },
            "label": {
             "type": "string",
             "description": "Custom Field Metadatum Label",
             "example": "Impact"
            },
            "data_type": {
             "type": "string",
             "description": "Type of Custom field",
             "example": "string"
            },
            "variant": {
             "type": "string",
             "description": "The variant type of the Custom Field",
             "example": "string"
            },
            "default_value": {
             "type": "string",
             "description": "The default value of the Custom Field",
             "example": "string"
            },
            "row": {
             "type": "number",
             "description": "Row the Field is position on the Form",
             "example": 1
            },
            "column": {
             "type": "number",
             "description": "Column the Field is position on the Form",
             "example": 1
            },
            "column_width": {
             "type": "number",
             "description": "How many columns the field spans on the Form",
             "example": 3
            },
            "custom_fields_section_id": {
             "type": "string",
             "nullable": true,
             "description": "The display section of the Custom Field, if null it is the general section, visually in the top level section typically called \"General Information\".",
             "example": "789"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
[...]
