{
 "openapi": "3.0.0",
 "info": {
  "title": "Custom Fields Lov Entries",
  "x-product-category": "Company Admin",
  "x-tool-category": "Custom - Configurable Tools",
  "x-resource-name": "Custom Field Lov Entries",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/custom_field_definitions/{custom_field_definition_id}/custom_field_lov_entries": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "custom_field_definition_id",
     "in": "path",
     "description": "Unique identifier for the Custom Field Definition.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Custom Field Lov Entries",
    "description": "Return a list of all Custom Field Lov Entries associated with the Current Company and the Custom Field Definition passed by path param.",
    "tags": [
     "Custom Field Lov Entries"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filters[start_with]",
      "in": "query",
      "description": "return lov entries with a label that starts with query string",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[active]",
      "in": "query",
      "description": "return lov entries where the active status is (true or false)",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[label_with]",
      "in": "query",
      "description": "return lov entries where the label contains the query string",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Non-Visible-Total": {
        "description": "Number of records that are not visible based on the 'active' filter",
        "schema": {
         "type": "string"
        }
       },
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Custom Field LOV Entries",
           "items": {
            "type": "object",
            "title": "Custom Field Lov Entry",
            "properties": {
             "id": {
              "type": "string",
              "description": "Custom Field Lov Entry ID",
              "example": "999"
             },
             "label": {
              "type": "string",
              "description": "Label",
              "example": "High"
             },
             "position": {
              "type": "number",
              "description": "Position is sorted descending, highest position is visually the top of the list.",
              "example": 1
             },
             "active": {
              "type": "boolean",
              "description": "Whether or not the Custom Field Lov Entry is active",
              "example": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/%7Bcustom_field_definition_id%7D/custom_field_lov_entries',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[start_with]': 'SOME_STRING_VALUE',\n    'filters[active]': 'SOME_BOOLEAN_VALUE',\n    'filters[label_with]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/%7Bcustom_field_definition_id%7D/custom_field_lov_entries?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bstart_with%5D=SOME_STRING_VALUE&filters%5Bactive%5D=SOME_BOOLEAN_VALUE&filters%5Blabel_with%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/%7Bcustom_field_definition_id%7D/custom_field_lov_entries?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bstart_with%5D=SOME_STRING_VALUE&filters%5Bactive%5D=SOME_BOOLEAN_VALUE&filters%5Blabel_with%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/custom_field_definitions/%7Bcustom_field_definition_id%7D/custom_field_lov_entries?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bstart_with%5D=SOME_STRING_VALUE&filters%5Bactive%5D=SOME_BOOLEAN_VALUE&filters%5Blabel_with%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add 'Non-Visible-Total' pagination header to response",
      "description": "Get a filtered list of custom field lov entries for a given custom field definition ID.",
      "endpoint": "GET /companies/{company_id}/custom_field_definitions/{custom_field_definition_id}/custom_field_lov_entries",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-04-15",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "custom-field-lov-entries?version=2.0#list-custom-field-lov-entries"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/custom_field_definitions/{custom_field_definition_id}/custom_field_lov_entries/bulk_create": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "custom_field_definition_id",
     "in": "path",
     "description": "Unique identifier for the Custom Field Definition.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Custom Field Lov Entries",
    "description": "Bulk Creates a Custom Field Lov Entries. Position is sorted descending, highest position is visually the top of the list.",
    "tags": [
     "Custom Field Lov Entries"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "custom_field_lov_entries"
        ],
        "properties": {
         "custom_field_lov_entries": {
          "title": "Custom Field Lov Entries",
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "label"
           ],
           "properties": {
            "label": {
             "type": "string",
             "description": "Custom Field Lov Entry Label",
             "example": "Field-Label-23"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Custom Field Lov Entries",
         "items": {
          "type": "object",
          "title": "Custom Field Lov Entry",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Custom Field Lov Entry ID",
            "example": 999
           },
           "label": {
            "type": "string",
            "description": "Label",
            "example": "High"
           },
           "position": {
            "type": "number",
            "description": "Position is sorted descending, highest position is visually the top of the list.",
            "example": 1
           },
           "active": {
            "type": "boolean",
            "description": "Whether or not the Custom Field Lov Entry is active",
            "example": true
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "title": "Errors response",
         "type": "object",
         "required": [
          "base",
          "fields"
         ],
         "properties": {
          "base": {
           "type": "array",
           "items": {
            "type": "string",
            "description": "Generic error messages returned from the request",
            "example": "bulk creation has a limit of 500 fields"
           }
          },
          "fields": {
           "type": "object",
           "properties": {
            "label": {
             "type": "string",
             "description": "Errors for the given field where the key is the inputted label and the value is the error string",
             "example": "option already exists"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/custom_field_definitions/%7Bcustom_field_definition_id%7D/custom_field_lov_entries/bulk_create',\n  headers: {'content-type': 'application/json'},\n  body: {custom_field_lov_entries: [{label: 'Field-Label-23'}]},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"custom_field_lov_entries\\\":[{\\\"label\\\":\\\"Field-Label-23\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/custom_field_definitions/%7Bcustom_field_definition_id%7D/custom_field_lov_entries/bulk_create\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/custom_field_definitions/%7Bcustom_field_definition_id%7D/custom_field_lov_entries/bulk_create \\\n  --header 'content-type: application/json' \\\n  --data '{\"custom_field_lov_entries\":[{\"label\":\"Field-Label-23\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/custom_field_definitions/%7Bcustom_field_definition_id%7D/custom_field_lov_entries/bulk_create\"),\n    Content = new StringContent(\"{\\\"custom_field_lov_entries\\\":[{\\\"label\\\":\\\"Field-Label-23\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added a new endpoint to allow bulk creation for custom field lov entries.",
      "description": "Added a new endpoint to allow bulk creation for custom field lov entries.",
      "endpoint": "POST /custom_field_definitions/{custom_field_definition_id}/custom_field_lov_entries/bulk_create",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "custom-field-lov-entries?version=1.0#bulk-create-custom-field-lov-entries"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}