{
 "openapi": "3.0.0",
 "info": {
  "title": "Daily Log Bulk Updates",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Daily Log Bulk Updates",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/daily_logs/bulk_updates/bulk_update": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Updates for Daily Logs",
    "description": "Updates multiple daily logs with single request. Currently only status update is available. 300 logs maximum is allowed per request.",
    "tags": [
     "Daily Logs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "updates"
        ],
        "properties": {
         "updates": {
          "type": "object",
          "properties": {
           "accident_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "call_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "delay_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "delivery_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "dumpster_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "equipment_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "inspection_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "manpower_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "daily_construction_report_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "notes_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "plan_revision_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "productivity_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "quantity_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "safety_violation_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "timecard_entry": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "visitor_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "waste_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           },
           "work_log": {
            "type": "array",
            "description": "Array of Update Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "accident_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "call_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "delay_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "delivery_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "dumpster_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "equipment_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "inspection_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "manpower_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "daily_construction_report_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "notes_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "plan_revision_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "productivity_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "quantity_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "safety_violation_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "timecard_entry": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "visitor_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "waste_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           },
           "work_log": {
            "type": "array",
            "description": "Array of Response Data for Log Type",
            "items": {
             "type": "object",
             "required": [
              "id",
              "status",
              "success"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "description": "The ID of the Log",
               "example": 123
              },
              "status": {
               "type": "string",
               "description": "Status of the Log",
               "enum": [
                "pending",
                "approved",
                "rejected"
               ],
               "example": "approved"
              },
              "success": {
               "type": "boolean",
               "description": "Is update was successful",
               "example": true
              },
              "error": {
               "type": "string",
               "description": "Error description if update for log was not successful",
               "example": "Log type is invalid"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/bulk_updates/bulk_update',\n  headers: {'content-type': 'application/json'},\n  body: {\n    updates: {\n      accident_log: [{id: 123, status: 'approved'}],\n      call_log: [{id: 123, status: 'approved'}],\n      delay_log: [{id: 123, status: 'approved'}],\n      delivery_log: [{id: 123, status: 'approved'}],\n      dumpster_log: [{id: 123, status: 'approved'}],\n      equipment_log: [{id: 123, status: 'approved'}],\n      inspection_log: [{id: 123, status: 'approved'}],\n      manpower_log: [{id: 123, status: 'approved'}],\n      daily_construction_report_log: [{id: 123, status: 'approved'}],\n      notes_log: [{id: 123, status: 'approved'}],\n      plan_revision_log: [{id: 123, status: 'approved'}],\n      productivity_log: [{id: 123, status: 'approved'}],\n      quantity_log: [{id: 123, status: 'approved'}],\n      safety_violation_log: [{id: 123, status: 'approved'}],\n      timecard_entry: [{id: 123, status: 'approved'}],\n      visitor_log: [{id: 123, status: 'approved'}],\n      waste_log: [{id: 123, status: 'approved'}],\n      work_log: [{id: 123, status: 'approved'}]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"updates\\\":{\\\"accident_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"call_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"delay_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"delivery_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"dumpster_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"equipment_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"inspection_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"manpower_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"daily_construction_report_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"notes_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"plan_revision_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"productivity_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"quantity_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"safety_violation_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"timecard_entry\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"visitor_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"waste_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"work_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/bulk_updates/bulk_update\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/bulk_updates/bulk_update \\\n  --header 'content-type: application/json' \\\n  --data '{\"updates\":{\"accident_log\":[{\"id\":123,\"status\":\"approved\"}],\"call_log\":[{\"id\":123,\"status\":\"approved\"}],\"delay_log\":[{\"id\":123,\"status\":\"approved\"}],\"delivery_log\":[{\"id\":123,\"status\":\"approved\"}],\"dumpster_log\":[{\"id\":123,\"status\":\"approved\"}],\"equipment_log\":[{\"id\":123,\"status\":\"approved\"}],\"inspection_log\":[{\"id\":123,\"status\":\"approved\"}],\"manpower_log\":[{\"id\":123,\"status\":\"approved\"}],\"daily_construction_report_log\":[{\"id\":123,\"status\":\"approved\"}],\"notes_log\":[{\"id\":123,\"status\":\"approved\"}],\"plan_revision_log\":[{\"id\":123,\"status\":\"approved\"}],\"productivity_log\":[{\"id\":123,\"status\":\"approved\"}],\"quantity_log\":[{\"id\":123,\"status\":\"approved\"}],\"safety_violation_log\":[{\"id\":123,\"status\":\"approved\"}],\"timecard_entry\":[{\"id\":123,\"status\":\"approved\"}],\"visitor_log\":[{\"id\":123,\"status\":\"approved\"}],\"waste_log\":[{\"id\":123,\"status\":\"approved\"}],\"work_log\":[{\"id\":123,\"status\":\"approved\"}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/bulk_updates/bulk_update\"),\n    Content = new StringContent(\"{\\\"updates\\\":{\\\"accident_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"call_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"delay_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"delivery_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"dumpster_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"equipment_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"inspection_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"manpower_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"daily_construction_report_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"notes_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"plan_revision_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"productivity_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"quantity_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"safety_violation_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"timecard_entry\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"visitor_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"waste_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}],\\\"work_log\\\":[{\\\"id\\\":123,\\\"status\\\":\\\"approved\\\"}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Bulk Updates for Daily Logs",
      "description": "Add endpoint to update multiple daily logs with single request.\nCurrently only status update is available.",
      "endpoint": "PATCH /projects/{project_id}/daily_logs/bulk_updates/bulk_update",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-log-bulk-updates?version=1.0#bulk-updates-for-daily-logs"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}