{
 "openapi": "3.0.0",
 "info": {
  "title": "Daily Construction Report Logs",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Daily Construction Report Logs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/daily_construction_report_logs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Daily Construction Report Logs",
    "description": "Returns all approved Daily Construction Report Logs for the current date.\nSee [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) for information on filtering the response using the log\\_date, start\\_date, and end\\_date parameters. Note that if none of the date parameters are provided in the call, only logs from the current date are returned.",
    "tags": [
     "Daily Construction Report Logs"
    ],
    "parameters": [
     {
      "name": "log_date",
      "in": "query",
      "description": "Date of specific logs desired in YYYY-MM-DD format",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "description": "Start date of specific logs desired in YYYY-MM-DD format (use together with end_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "description": "End date of specific logs desired in YYYY-MM-DD format (use together with start_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Filter on status for \"pending\" or \"approved\" or \"all\"",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Return item(s) created by the specified User ID",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "example": [
       123456
      ],
      "name": "filters[daily_log_segment_id]",
      "in": "query",
      "description": "Daily Log Segment ID filter",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 333675
           },
           "apprentice_hours": {
            "type": "string",
            "description": "Number of hours the apprentice workers were on site",
            "example": "5.0"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2012-10-23T21:39:40Z"
           },
           "date": {
            "type": "string",
            "description": "Date of the report",
            "format": "date",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated UTC datetime of record",
            "example": "2016-05-19T12:00:00Z"
           },
           "first_year_hours": {
            "type": "string",
            "description": "Number of hours performed by first-year apprentices",
            "example": "3.5"
           },
           "foreman_hours": {
            "type": "string",
            "description": "Number of hours that the foremen were on site",
            "example": "5.0"
           },
           "journeyman_hours": {
            "type": "string",
            "description": "Number of hours that the journeymen were on site",
            "example": "5.0"
           },
           "local_city_hours": {
            "type": "string",
            "description": "Number of hours performed by local city resident workers",
            "example": "3.5"
           },
           "local_county_hours": {
            "type": "string",
            "description": "Number of hours performed by local county resident workers",
            "example": "3.5"
           },
           "minority_hours": {
            "type": "string",
            "description": "Number of hours performed by minority workers",
            "example": "3.5"
           },
           "notes": {
            "type": "string",
            "description": "Additional notes",
            "example": "Daily Construction Report Log note"
           },
           "number_of_apprentice_workers": {
            "type": "integer",
            "description": "Number of apprentice workers on site",
            "example": 4
           },
           "number_of_foreman_workers": {
            "type": "integer",
            "description": "Number of foremen on site",
            "example": 4
           },
           "number_of_journeyman_workers": {
            "type": "integer",
            "description": "Number of journeymen on site",
            "example": 4
           },
           "number_of_other_workers": {
            "type": "integer",
            "description": "Number of other workers on site",
            "example": 4
           },
           "other_hours": {
            "type": "string",
            "description": "Number of hours that the other worker were on site",
            "example": "5.0"
           },
           "position": {
            "type": "integer",
            "description": "Position in the list Daily Construction Reports",
            "example": 53253
           },
           "status": {
            "type": "string",
            "description": "Is a log pending or approved",
            "example": "pending"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2012-10-24T21:39:40Z"
           },
           "veteran_hours": {
            "type": "string",
            "description": "Number of hours performed by veteran workers",
            "example": "3.5"
           },
           "women_hours": {
            "type": "string",
            "description": "Number of hours performed by women workers",
            "example": "3.5"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "vendor": {
            "type": "object",
            "title": "Compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique integer identifier for this vendor/company.",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Display name of the vendor or contractor company.",
              "example": "SID Architecture"
             }
            }
           },
           "trade": {
            "type": "object",
            "title": "Trade",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "permissions": {
            "type": "object",
            "description": "TBD",
            "properties": {
             "can_update": {
              "type": "boolean",
              "description": "Can Update",
              "example": true
             },
             "can_delete": {
              "type": "boolean",
              "description": "Can Delete",
              "example": false
             }
            }
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field",
                "example": "custom field value"
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                "example": "phone_number"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               },
               "variant": {
                "type": "string",
                "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                "example": "with_code"
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Data type of the Custom Field Definition",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID of the LOV Entry",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the LOV Entry",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": ":filename to be deprecated, use :name",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Use :name, :filename to be deprecated"
              },
              "url": {
               "type": "string"
              },
              "filename": {
               "type": "string",
               "description": ":filename to be deprecated, use :name"
              }
             }
            }
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs',\n  qs: {\n    log_date: 'SOME_STRING_VALUE',\n    start_date: 'SOME_STRING_VALUE',\n    end_date: 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[created_by_id]': 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[daily_log_segment_id]': '123456'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Specify new response attributes",
      "description": "Specify new 'permissions' and 'custom_fields' response attributes",
      "endpoint": "GET /projects/{project_id}/daily_construction_report_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#list-daily-construction-report-logs"
     },
     {
      "summary": "Add location to response body for Daily Construction Report Logs get endpoint",
      "description": "Add location to response body for Daily Construction Report Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_construction_report_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#list-daily-construction-report-logs"
     },
     {
      "summary": "Add daily_log_segment_id filter",
      "description": "Add daily_log_segment_id to filter parameter and response body for Daily Construction Report Logs index endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_construction_report_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#list-daily-construction-report-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/daily_construction_report_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#list-daily-construction-report-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Daily Construction Report Log",
    "description": "Creates single Daily Construction Report Log.",
    "tags": [
     "Daily Construction Report Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "daily_construction_report_log"
        ],
        "properties": {
         "daily_construction_report_log": {
          "type": "object",
          "required": [
           "vendor_id",
           "trade_id"
          ],
          "allOf": [
           {
            "properties": {
             "apprentice_hours": {
              "type": "string",
              "description": "Number of hours that the Apprentice workers were on site",
              "example": "3.0"
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Format: YYYY-MM-DD Example: 2016-04-19",
              "example": "2016-05-19"
             },
             "datetime": {
              "type": "string",
              "format": "date-time",
              "description": "Datetime of record. Mutually exclusive with the date property.",
              "example": "2016-05-19T12:00:00Z"
             },
             "first_year_hours": {
              "type": "string",
              "description": "Number of hours performed by first-year apprentices",
              "example": "3.5"
             },
             "foreman_hours": {
              "type": "string",
              "description": "Number of hours that the foremen were on site",
              "example": "1.0"
             },
             "journeyman_hours": {
              "type": "string",
              "description": "Number of hours that the journeymen were on site",
              "example": "2.0"
             },
             "local_city_hours": {
              "type": "string",
              "description": "Number of hours performed by local city resident workers",
              "example": "3.5"
             },
             "local_county_hours": {
              "type": "string",
              "description": "Number of hours performed by local county resident workers",
              "example": "3.5"
             },
             "location_id": {
              "type": "integer",
              "description": "The ID of the Location",
              "example": 153252
             },
             "daily_log_segment_id": {
              "type": "integer",
              "description": "Daily Log Segment ID",
              "example": 123456,
              "nullable": true
             },
             "minority_hours": {
              "type": "string",
              "description": "Number of hours performed by minority workers",
              "example": "3.5"
             },
             "notes": {
              "type": "string",
              "description": "Additional notes",
              "example": "No other workers on site today"
             },
             "number_of_apprentice_workers": {
              "type": "integer",
              "description": "Number of apprentice workers on site",
              "example": 4
             },
             "number_of_foreman_workers": {
              "type": "integer",
              "description": "Number of foremen on site",
              "example": 3
             },
             "number_of_journeyman_workers": {
              "type": "integer",
              "description": "Number of journeymen on site",
              "example": 4
             },
             "number_of_other_workers": {
              "type": "integer",
              "description": "Number of other workers on site",
              "example": 5
             },
             "other_hours": {
              "type": "string",
              "description": "Number of hours that other workers were on site",
              "example": "4.0"
             },
             "vendor_id": {
              "type": "integer",
              "description": "ID of the Vendor associated to the report",
              "example": 1120327
             },
             "veteran_hours": {
              "type": "string",
              "description": "Number of hours performed by veteran workers",
              "example": "3.5"
             },
             "women_hours": {
              "type": "string",
              "description": "Number of hours performed by women workers",
              "example": "3.5"
             },
             "trade_id": {
              "type": "integer",
              "description": "ID of the Trade associated to the report",
              "example": 100884
             },
             "custom_field_%{custom_field_definition_id}": {
              "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
              "example": "custom field value",
              "oneOf": [
               {
                "type": "string",
                "title": "string"
               },
               {
                "type": "number",
                "title": "number"
               },
               {
                "type": "boolean",
                "title": "boolean"
               },
               {
                "type": "array",
                "title": "array",
                "items": {
                 "type": "integer"
                }
               }
              ]
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "daily_construction_report_log"
        ],
        "properties": {
         "daily_construction_report_log": {
          "type": "object",
          "required": [
           "vendor_id",
           "trade_id"
          ],
          "properties": {
           "apprentice_hours": {
            "type": "string",
            "description": "Number of hours that the Apprentice workers were on site",
            "example": "3.0"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "first_year_hours": {
            "type": "string",
            "description": "Number of hours performed by first-year apprentices",
            "example": "3.5"
           },
           "foreman_hours": {
            "type": "string",
            "description": "Number of hours that the foremen were on site",
            "example": "1.0"
           },
           "journeyman_hours": {
            "type": "string",
            "description": "Number of hours that the journeymen were on site",
            "example": "2.0"
           },
           "local_city_hours": {
            "type": "string",
            "description": "Number of hours performed by local city resident workers",
            "example": "3.5"
           },
           "local_county_hours": {
            "type": "string",
            "description": "Number of hours performecd by local county resident workers",
            "example": "3.5"
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location",
            "example": 153252
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "minority_hours": {
            "type": "string",
            "description": "Number of hours performed by minority workers",
            "example": "3.5"
           },
           "notes": {
            "type": "string",
            "description": "Additional notes",
            "example": "No other workers on site today"
           },
           "number_of_apprentice_workers": {
            "type": "integer",
            "description": "Number of apprentice workers on site",
            "example": 4
           },
           "number_of_foreman_workers": {
            "type": "integer",
            "description": "Number of foremen on site",
            "example": 3
           },
           "number_of_journeyman_workers": {
            "type": "integer",
            "description": "Number of journeymen on site",
            "example": 4
           },
           "number_of_other_workers": {
            "type": "integer",
            "description": "Number of other workers on site",
            "example": 5
           },
           "other_hours": {
            "type": "string",
            "description": "Number of hours that other workers were on site",
            "example": "4.0"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the report",
            "example": 1120327
           },
           "veteran_hours": {
            "type": "string",
            "description": "Number of hours performed by veteran workers",
            "example": "3.5"
           },
           "women_hours": {
            "type": "string",
            "description": "Number of hours performed by women workers",
            "example": "3.5"
           },
           "trade_id": {
            "type": "integer",
            "description": "ID of the Trade associated to the report",
            "example": 100884
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Daily Construction Report Log Attachments. To upload attachments you must upload the entire payload as `multipart/form-data` content-type and specify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "description": "Look at Daily Log Guide for more info."
          },
          "example": [
           "<attachment.png>"
          ]
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "apprentice_hours": {
           "type": "string",
           "description": "Number of hours the apprentice workers were on site",
           "example": "5.0"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "description": "Date of the report",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "first_year_hours": {
           "type": "string",
           "description": "Number of hours performed by first-year apprentices",
           "example": "3.5"
          },
          "foreman_hours": {
           "type": "string",
           "description": "Number of hours that the foremen were on site",
           "example": "5.0"
          },
          "journeyman_hours": {
           "type": "string",
           "description": "Number of hours that the journeymen were on site",
           "example": "5.0"
          },
          "local_city_hours": {
           "type": "string",
           "description": "Number of hours performed by local city resident workers",
           "example": "3.5"
          },
          "local_county_hours": {
           "type": "string",
           "description": "Number of hours performed by local county resident workers",
           "example": "3.5"
          },
          "minority_hours": {
           "type": "string",
           "description": "Number of hours performed by minority workers",
           "example": "3.5"
          },
          "notes": {
           "type": "string",
           "description": "Additional notes",
           "example": "Daily Construction Report Log note"
          },
          "number_of_apprentice_workers": {
           "type": "integer",
           "description": "Number of apprentice workers on site",
           "example": 4
          },
          "number_of_foreman_workers": {
           "type": "integer",
           "description": "Number of foremen on site",
           "example": 4
          },
          "number_of_journeyman_workers": {
           "type": "integer",
           "description": "Number of journeymen on site",
           "example": 4
          },
          "number_of_other_workers": {
           "type": "integer",
           "description": "Number of other workers on site",
           "example": 4
          },
          "other_hours": {
           "type": "string",
           "description": "Number of hours that the other worker were on site",
           "example": "5.0"
          },
          "position": {
           "type": "integer",
           "description": "Position in the list Daily Construction Reports",
           "example": 53253
          },
          "status": {
           "type": "string",
           "description": "Is a log pending or approved",
           "example": "pending"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "veteran_hours": {
           "type": "string",
           "description": "Number of hours performed by veteran workers",
           "example": "3.5"
          },
          "women_hours": {
           "type": "string",
           "description": "Number of hours performed by women workers",
           "example": "3.5"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "trade": {
           "type": "object",
           "title": "Trade",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Trade ID",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Trade name",
             "example": "09 - acoustical panels"
            },
            "active": {
             "type": "boolean",
             "description": "Trade availability",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Trade",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "TBD",
           "properties": {
            "can_update": {
             "type": "boolean",
             "description": "Can Update",
             "example": true
            },
            "can_delete": {
             "type": "boolean",
             "description": "Can Delete",
             "example": false
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": ":filename to be deprecated, use :name",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not create due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    daily_construction_report_log: {\n      apprentice_hours: '3.0',\n      date: '2016-05-19',\n      datetime: '2016-05-19T12:00:00Z',\n      first_year_hours: '3.5',\n      foreman_hours: '1.0',\n      journeyman_hours: '2.0',\n      local_city_hours: '3.5',\n      local_county_hours: '3.5',\n      location_id: 153252,\n      daily_log_segment_id: 123456,\n      minority_hours: '3.5',\n      notes: 'No other workers on site today',\n      number_of_apprentice_workers: 4,\n      number_of_foreman_workers: 3,\n      number_of_journeyman_workers: 4,\n      number_of_other_workers: 5,\n      other_hours: '4.0',\n      vendor_id: 1120327,\n      veteran_hours: '3.5',\n      women_hours: '3.5',\n      trade_id: 100884,\n      'custom_field_%{custom_field_definition_id}': 'custom field value',\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"daily_construction_report_log\\\":{\\\"apprentice_hours\\\":\\\"3.0\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"first_year_hours\\\":\\\"3.5\\\",\\\"foreman_hours\\\":\\\"1.0\\\",\\\"journeyman_hours\\\":\\\"2.0\\\",\\\"local_city_hours\\\":\\\"3.5\\\",\\\"local_county_hours\\\":\\\"3.5\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"minority_hours\\\":\\\"3.5\\\",\\\"notes\\\":\\\"No other workers on site today\\\",\\\"number_of_apprentice_workers\\\":4,\\\"number_of_foreman_workers\\\":3,\\\"number_of_journeyman_workers\\\":4,\\\"number_of_other_workers\\\":5,\\\"other_hours\\\":\\\"4.0\\\",\\\"vendor_id\\\":1120327,\\\"veteran_hours\\\":\\\"3.5\\\",\\\"women_hours\\\":\\\"3.5\\\",\\\"trade_id\\\":100884,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"daily_construction_report_log\":{\"apprentice_hours\":\"3.0\",\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"first_year_hours\":\"3.5\",\"foreman_hours\":\"1.0\",\"journeyman_hours\":\"2.0\",\"local_city_hours\":\"3.5\",\"local_county_hours\":\"3.5\",\"location_id\":153252,\"daily_log_segment_id\":123456,\"minority_hours\":\"3.5\",\"notes\":\"No other workers on site today\",\"number_of_apprentice_workers\":4,\"number_of_foreman_workers\":3,\"number_of_journeyman_workers\":4,\"number_of_other_workers\":5,\"other_hours\":\"4.0\",\"vendor_id\":1120327,\"veteran_hours\":\"3.5\",\"women_hours\":\"3.5\",\"trade_id\":100884,\"custom_field_%{custom_field_definition_id}\":\"custom field value\",\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"daily_construction_report_log\\\":{\\\"apprentice_hours\\\":\\\"3.0\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"first_year_hours\\\":\\\"3.5\\\",\\\"foreman_hours\\\":\\\"1.0\\\",\\\"journeyman_hours\\\":\\\"2.0\\\",\\\"local_city_hours\\\":\\\"3.5\\\",\\\"local_county_hours\\\":\\\"3.5\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"minority_hours\\\":\\\"3.5\\\",\\\"notes\\\":\\\"No other workers on site today\\\",\\\"number_of_apprentice_workers\\\":4,\\\"number_of_foreman_workers\\\":3,\\\"number_of_journeyman_workers\\\":4,\\\"number_of_other_workers\\\":5,\\\"other_hours\\\":\\\"4.0\\\",\\\"vendor_id\\\":1120327,\\\"veteran_hours\\\":\\\"3.5\\\",\\\"women_hours\\\":\\\"3.5\\\",\\\"trade_id\\\":100884,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    daily_construction_report_log: '{\"apprentice_hours\":\"3.0\",\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"first_year_hours\":\"3.5\",\"foreman_hours\":\"1.0\",\"journeyman_hours\":\"2.0\",\"local_city_hours\":\"3.5\",\"local_county_hours\":\"3.5\",\"location_id\":153252,\"daily_log_segment_id\":123456,\"minority_hours\":\"3.5\",\"notes\":\"No other workers on site today\",\"number_of_apprentice_workers\":4,\"number_of_foreman_workers\":3,\"number_of_journeyman_workers\":4,\"number_of_other_workers\":5,\"other_hours\":\"4.0\",\"vendor_id\":1120327,\"veteran_hours\":\"3.5\",\"women_hours\":\"3.5\",\"trade_id\":100884,\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}',\n    attachments: '[\"<attachment.png>\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"daily_construction_report_log\\\"\\r\\n\\r\\n{\\\"apprentice_hours\\\":\\\"3.0\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"first_year_hours\\\":\\\"3.5\\\",\\\"foreman_hours\\\":\\\"1.0\\\",\\\"journeyman_hours\\\":\\\"2.0\\\",\\\"local_city_hours\\\":\\\"3.5\\\",\\\"local_county_hours\\\":\\\"3.5\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"minority_hours\\\":\\\"3.5\\\",\\\"notes\\\":\\\"No other workers on site today\\\",\\\"number_of_apprentice_workers\\\":4,\\\"number_of_foreman_workers\\\":3,\\\"number_of_journeyman_workers\\\":4,\\\"number_of_other_workers\\\":5,\\\"other_hours\\\":\\\"4.0\\\",\\\"vendor_id\\\":1120327,\\\"veteran_hours\\\":\\\"3.5\\\",\\\"women_hours\\\":\\\"3.5\\\",\\\"trade_id\\\":100884,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"<attachment.png>\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'daily_construction_report_log={\"apprentice_hours\":\"3.0\",\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"first_year_hours\":\"3.5\",\"foreman_hours\":\"1.0\",\"journeyman_hours\":\"2.0\",\"local_city_hours\":\"3.5\",\"local_county_hours\":\"3.5\",\"location_id\":153252,\"daily_log_segment_id\":123456,\"minority_hours\":\"3.5\",\"notes\":\"No other workers on site today\",\"number_of_apprentice_workers\":4,\"number_of_foreman_workers\":3,\"number_of_journeyman_workers\":4,\"number_of_other_workers\":5,\"other_hours\":\"4.0\",\"vendor_id\":1120327,\"veteran_hours\":\"3.5\",\"women_hours\":\"3.5\",\"trade_id\":100884,\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}' \\\n  --form 'attachments=[\"<attachment.png>\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"apprentice_hours\\\":\\\"3.0\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"first_year_hours\\\":\\\"3.5\\\",\\\"foreman_hours\\\":\\\"1.0\\\",\\\"journeyman_hours\\\":\\\"2.0\\\",\\\"local_city_hours\\\":\\\"3.5\\\",\\\"local_county_hours\\\":\\\"3.5\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"minority_hours\\\":\\\"3.5\\\",\\\"notes\\\":\\\"No other workers on site today\\\",\\\"number_of_apprentice_workers\\\":4,\\\"number_of_foreman_workers\\\":3,\\\"number_of_journeyman_workers\\\":4,\\\"number_of_other_workers\\\":5,\\\"other_hours\\\":\\\"4.0\\\",\\\"vendor_id\\\":1120327,\\\"veteran_hours\\\":\\\"3.5\\\",\\\"women_hours\\\":\\\"3.5\\\",\\\"trade_id\\\":100884,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"daily_construction_report_log\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"<attachment.png>\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Specify new request params and response attributes",
      "description": "Specify new custom fields request params and response attributes - 'permissions' and 'custom_fields'",
      "endpoint": "POST /projects/{project_id}/daily_construction_report_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#create-daily-construction-report-log"
     },
     {
      "summary": "Add Attachments by Reference",
      "description": "Add new attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /projects/{project_id}/daily_construction_report_logs",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-08-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#create-daily-construction-report-log"
     },
     {
      "summary": "Add location_id as parameter to request body and return location in response for Daily Construction Report Logs create endpoint",
      "description": "Add location_id as parameter to request body and return location in response for Daily Construction Report Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/daily_construction_report_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#create-daily-construction-report-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for Daily Construction Report Logs create endpoint",
      "description": "Add daily_log_segment_id to request body and response body for Daily Construction Report Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/daily_construction_report_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#create-daily-construction-report-log"
     },
     {
      "summary": "Add attachments parameters in JSON request body schema",
      "description": "Add attachments parameters in JSON request body schema.",
      "endpoint": "POST /projects/{project_id}/daily_construction_report_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#create-daily-construction-report-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "POST /projects/{project_id}/daily_construction_report_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#create-daily-construction-report-log"
     },
     {
      "summary": "Validate log type is enabled on create",
      "description": "POST create now validates that daily construction report logs are enabled in the project's Daily Log configuration.\nRequests are rejected with an InvalidLog error when the log type is disabled.",
      "endpoint": "POST /projects/{project_id}/daily_construction_report_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#create-daily-construction-report-log"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/daily_construction_report_logs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Daily Construction Report Log ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Daily Construction Report Logs",
    "description": "Returns single Daily Construction Report Log.",
    "tags": [
     "Daily Construction Report Logs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "apprentice_hours": {
           "type": "string",
           "description": "Number of hours the apprentice workers were on site",
           "example": "5.0"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "description": "Date of the report",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "first_year_hours": {
           "type": "string",
           "description": "Number of hours performed by first-year apprentices",
           "example": "3.5"
          },
          "foreman_hours": {
           "type": "string",
           "description": "Number of hours that the foremen were on site",
           "example": "5.0"
          },
          "journeyman_hours": {
           "type": "string",
           "description": "Number of hours that the journeymen were on site",
           "example": "5.0"
          },
          "local_city_hours": {
           "type": "string",
           "description": "Number of hours performed by local city resident workers",
           "example": "3.5"
          },
          "local_county_hours": {
           "type": "string",
           "description": "Number of hours performed by local county resident workers",
           "example": "3.5"
          },
          "minority_hours": {
           "type": "string",
           "description": "Number of hours performed by minority workers",
           "example": "3.5"
          },
          "notes": {
           "type": "string",
           "description": "Additional notes",
           "example": "Daily Construction Report Log note"
          },
          "number_of_apprentice_workers": {
           "type": "integer",
           "description": "Number of apprentice workers on site",
           "example": 4
          },
          "number_of_foreman_workers": {
           "type": "integer",
           "description": "Number of foremen on site",
           "example": 4
          },
          "number_of_journeyman_workers": {
           "type": "integer",
           "description": "Number of journeymen on site",
           "example": 4
          },
          "number_of_other_workers": {
           "type": "integer",
           "description": "Number of other workers on site",
           "example": 4
          },
          "other_hours": {
           "type": "string",
           "description": "Number of hours that the other worker were on site",
           "example": "5.0"
          },
          "position": {
           "type": "integer",
           "description": "Position in the list Daily Construction Reports",
           "example": 53253
          },
          "status": {
           "type": "string",
           "description": "Is a log pending or approved",
           "example": "pending"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "veteran_hours": {
           "type": "string",
           "description": "Number of hours performed by veteran workers",
           "example": "3.5"
          },
          "women_hours": {
           "type": "string",
           "description": "Number of hours performed by women workers",
           "example": "3.5"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "trade": {
           "type": "object",
           "title": "Trade",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Trade ID",
             "example": 999
            },
            "name": {
             "type": "string",
             "description": "Trade name",
             "example": "09 - acoustical panels"
            },
            "active": {
             "type": "boolean",
             "description": "Trade availability",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Trade",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "TBD",
           "properties": {
            "can_update": {
             "type": "boolean",
             "description": "Can Update",
             "example": true
            },
            "can_delete": {
             "type": "boolean",
             "description": "Can Delete",
             "example": false
            }
           }
          },
          "custom_fields": {
           "type": "object",
           "properties": {
            "custom_field_%{custom_field_string_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "string"
              },
              "value": {
               "type": "string",
               "description": "The value of the custom field",
               "example": "custom field value"
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
               "example": "phone_number"
              }
             }
            },
            "custom_field_%{custom_field_decimal_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "decimal"
              },
              "value": {
               "type": "number",
               "description": "The value of the custom field",
               "example": 2.2
              }
             }
            },
            "custom_field_%{custom_field_boolean_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "boolean"
              },
              "value": {
               "type": "boolean",
               "description": "The value of the custom field",
               "example": true
              }
             }
            },
            "custom_field_%{custom_field_lov_entry_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entry"
              },
              "value": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID of the LOV Entry",
                 "example": 1
                },
                "label": {
                 "type": "string",
                 "description": "Label of the LOV Entry",
                 "example": "Open"
                }
               }
              },
              "variant": {
               "type": "string",
               "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
               "example": "with_code"
              }
             }
            },
            "custom_field_%{custom_field_lov_entries_definition_id}": {
             "type": "object",
             "properties": {
              "data_type": {
               "type": "string",
               "description": "Data type of the Custom Field Definition",
               "example": "lov_entries"
              },
              "value": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID of the LOV Entry",
                  "example": 2
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the LOV Entry",
                  "example": "Open"
                 }
                }
               }
              }
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": ":filename to be deprecated, use :name",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_construction_report_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Specify new response attributes",
      "description": "Specify new 'permissions' and 'custom_fields' response attributes",
      "endpoint": "GET /projects/{project_id}/daily_construction_report_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-04-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#show-daily-construction-report-logs"
     },
     {
      "summary": "Add location to response body for Daily Construction Report Logs get endpoint",
      "description": "Add location to response body for Daily Construction Report Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_construction_report_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#show-daily-construction-report-logs"
     },
     {
      "summary": "Add daily_log_segment_id to response body for Daily Construction Report Logs show endpoint",
      "description": "Add daily_log_segment_id to response body for Daily Construction Report Logs show endpoint.",
      "endpoint": "GET /projects/{project_id}/daily_construction_report_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#show-daily-construction-report-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/daily_construction_report_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "daily-construction-report-logs?version=1.0#show-daily-construction-report-logs"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Daily Construction Report Log",
    "description": "Update single Daily Construction Report Log.",
    "tags": [
     "Daily Construction Report Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "daily_construction_report_log"
        ],
        "properties": {
         "daily_construction_report_log": {
          "type": "object",
          "allOf": [
           {
            "properties": {
             "apprentice_hours": {
              "type": "string",
              "description": "Number of hours that the Apprentice workers were on site",
              "example": "3.0"
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Format: YYYY-MM-DD Example: 2016-04-19",
              "example": "2016-05-19"
             },
             "datetime": {
              "type": "string",
              "format": "date-time",
              "description": "Datetime of record. Mutually exclusive with the date property.",
              "example": "2016-05-19T12:00:00Z"
             },
             "first_year_hours": {
              "type": "string",
              "description": "Number of hours performed by first-year apprentices",
              "example": "3.5"
             },
             "foreman_hours": {
              "type": "string",
              "description": "Number of hours that the foremen were on site",
              "example": "1.0"
             },
             "journeyman_hours": {
              "type": "string",
              "description": "Number of hours that the journeymen were on site",
              "example": "2.0"
             },
             "local_city_hours": {
              "type": "string",
              "description": "Number of hours performed by local city resident workers",
              "example": "3.5"
             },
             "local_county_hours": {
              "type": "string",
              "description": "Number of hours performecd by local county resident workers",
              "example": "3.5"
             },
             "location_id": {
              "type": "integer",
              "description": "The ID of the Location",
              "example": 153252
             },
             "daily_log_segment_id": {
              "type": "integer",
              "description": "Daily Log Segment ID",
              "example": 123456,
              "nullable": true
             },
             "minority_hours": {
              "type": "string",
              "description": "Number of hours performed by minority workers",
              "example": "3.5"
             },
             "notes": {
              "type": "string",
              "description": "Additional notes",
              "example": "No other workers on site today"
             },
             "number_of_apprentice_workers": {
              "type": "integer",
              "description": "Number of apprentice workers on site",
              "example": 4
             },
             "number_of_foreman_workers": {
              "type": "integer",
              "description": "Number of foremen on site",
              "example": 3
             },
             "number_of_journeyman_workers": {
              "type": "integer",
              "description": "Number of journeymen on site",
              "example": 4
             },
             "number_of_other_workers": {
              "type": "integer",
              "description": "Number of other workers on site",
              "example": 5
             },
             "other_hours": {
              "type": "string",
              "description": "Number of hours that the other workers were on site",
              "example": "4.0"
             },
             "vendor_id": {
              "type": "integer",
              "description": "The ID of the associated Vendor",
              "example": 1120327
             },
             "status": {
              "type": "string",
              "description": "Approval for pending logs",
              "example": "approved"
             },
             "trade_id": {
              "type": "integer",
              "description": "The ID of the associated trade",
              "example": 100884
             },
             "veteran_hours": {
              "type": "string",
              "description": "Number of hours performed by veteran workers",
              "example": "3.5"
             },
             "women_hours": {
              "type": "string",
              "description": "Number of hours performed by women workers",
              "example": "3.5"
             },
             "custom_field_%{custom_field_definition_id}": {
              "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
              "example": "custom field value",
              "oneOf": [
               {
                "type": "string",
                "title": "string"
               },
               {
                "type": "number",
                "title": "number"
               },
               {
                "type": "boolean",
                "title": "boolean"
               },
               {
                "type": "array",
                "title": "array",
                "items": {
                 "type": "integer"
                }
               }
              ]
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "daily_construction_report_log"
        ],
        "properties": {
         "daily_construction_report_log": {
          "type": "object",
          "properties": {
           "apprentice_hours": {
            "type": "string",
            "description": "Number of hours that the Apprentice workers were on site",
            "example": "3.0"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "first_year_hours": {
            "type": "string",
            "description": "Number of hours performed by first-year apprentices",
            "example": "3.5"
           },
           "foreman_hours": {
            "type": "string",
            "description": "Number of hours that the foremen were on site",
            "example": "1.0"
           },
           "journeyman_hours": {
            "type": "string",
            "description": "Number of hours that the journeymen were on site",
            "example": "2.0"
           },
           "local_city_hours": {
            "type": "string",
            "description": "Number of hours performed by local city resident workers",
            "example": "3.5"
           },
           "local_county_hours": {
            "type": "string",
            "description": "Number of hours performecd by local county resident workers",
            "example": "3.5"
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location",
            "example": 153252
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "minority_hours": {
            "type": "string",
            "description": "Number of hours performed by minority workers",
            "example": "3.5"
           },
           "notes": {
            "type": "string",
            "description": "Additional notes",
            "example": "No other workers on site today"
           },
           "number_of_apprentice_workers": {
            "type": "integer",
            "description": "Number of apprentice workers on site",
            "example": 4
           },
           "number_of_foreman_workers": {
            "type": "integer",
            "description": "Number of foremen on site",
            "example": 3
           },
           "number_of_journeyman_workers": {
            "type": "integer",
            "description": "Number of journeymen on site",
            "example": 4
           },
           "number_of_other_workers": {
            "type": "integer",
            "description": "Number of other workers on site",
            "example": 5
           },
           "other_hours": {
            "type": "string",
            "description": "Number of hours that the other workers were on site",
            "example": "4.0"
           },
           "vendor_id": {
            "type": "integer",
            "description": "The ID of the associated Vendor",
            "example": 1120327
           },
           "status": {
            "type": "string",
            "description": "Approval for pending logs",
            "example": "approved"
           },
           "trade_id": {
            "type": "integer",
            "description": "The ID of the associated trade",
            "example": 100884
           },
           "veteran_hours": {
            "type": "string",
            "description": "Number of hours performed by veteran workers",
            "example": "3.5"
           },
           "women_hours": {
            "type": "string",
            "description": "Number of hours performed by women workers",
            "example": "3.5"
           },
           "custom_field_%{custom_field_definition_id}": {
[...]
