{
 "openapi": "3.0.0",
 "info": {
  "title": "Delay Logs",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Delay Logs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/delay_logs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Delay Logs",
    "description": "Returns all Delay Logs for the current date.\n\nSee [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) for information on filtering the response using the log\\_date, start\\_date, and end\\_date parameters. Note that if none of the date parameters are provided in the call, only logs from the current date are returned.",
    "tags": [
     "Delay Logs"
    ],
    "parameters": [
     {
      "name": "log_date",
      "in": "query",
      "description": "Date of specific logs desired in YYYY-MM-DD format",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "description": "Start date of specific logs desired in YYYY-MM-DD format (use together with end_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "description": "End date of specific logs desired in YYYY-MM-DD format (use together with start_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Return item(s) with the specified Location IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "example": [
       123456
      ],
      "name": "filters[daily_log_segment_id]",
      "in": "query",
      "description": "Daily Log Segment ID filter",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 333675
           },
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Delay Log comments"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2012-10-23T21:39:40Z"
           },
           "date": {
            "type": "string",
            "description": "Date of record",
            "format": "date",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated UTC datetime of record",
            "example": "2016-05-19T12:00:00Z"
           },
           "delay_type": {
            "type": "string",
            "description": "Type of delay",
            "example": "weather"
           },
           "duration": {
            "type": "integer",
            "description": "Number of hours the delay lasted (between 1 and 24)",
            "example": 5
           },
           "end_time": {
            "type": "string",
            "description": "Time when the delay ended, Format: HH:MM Example: 21:39",
            "example": "21:39"
           },
           "end_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "end_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "position": {
            "type": "integer",
            "description": "Order in which this entry was recorded",
            "example": 11241
           },
           "status": {
            "type": "string",
            "description": "Is a log pending or approved",
            "example": "pending"
           },
           "start_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "start_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2012-10-24T21:39:40Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "location": {
            "type": "object",
            "title": "Location",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "1space>1 space"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "1 space"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": ":filename to be deprecated, use :name",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Use :name, :filename to be deprecated"
              },
              "url": {
               "type": "string"
              },
              "filename": {
               "type": "string",
               "description": ":filename to be deprecated, use :name"
              }
             }
            }
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "daily_log_segment": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 123456
             },
             "name": {
              "type": "string",
              "description": "Name of the segment",
              "example": "Morning Shift"
             },
             "description": {
              "type": "string",
              "nullable": true,
              "description": "Description of the segment",
              "example": "Work performed during the morning shift"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "Timestamp when the segment was soft deleted",
              "example": "2025-01-15T10:30:00Z"
             },
             "deleted": {
              "type": "boolean",
              "description": "Indicates if the segment is deleted",
              "example": false
             }
            }
           },
           "vendor": {
            "type": "object",
            "title": "Compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique integer identifier for this vendor/company.",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Display name of the vendor or contractor company.",
              "example": "SID Architecture"
             }
            }
           },
           "cost_code": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 12345
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Earthwork"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs',\n  qs: {\n    log_date: 'SOME_STRING_VALUE',\n    start_date: 'SOME_STRING_VALUE',\n    end_date: 'SOME_STRING_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[location_id]': 'SOME_ARRAY_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[daily_log_segment_id]': '123456'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/delay_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdaily_log_segment_id%5D=123456\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Location filter",
      "description": "Added Location filter.",
      "endpoint": "GET /projects/{project_id}/delay_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-12-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#list-delay-logs"
     },
     {
      "summary": "Add vendor to response body for Delay Logs get endpoint",
      "description": "Add vendor to response body for Delay Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/delay_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#list-delay-logs"
     },
     {
      "summary": "Add daily_log_segment_id filter",
      "description": "Add daily_log_segment_id to filter parameter and response body for Delay Logs index endpoint.",
      "endpoint": "GET /projects/{project_id}/delay_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#list-delay-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/delay_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#list-delay-logs"
     },
     {
      "summary": "Add cost_code to response body",
      "description": "Add cost_code to response body.",
      "endpoint": "GET /projects/{project_id}/delay_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#list-delay-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Delay Log",
    "description": "Creates single Delay Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments",
    "tags": [
     "Delay Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "delay_log"
        ],
        "properties": {
         "delay_log": {
          "type": "object",
          "properties": {
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Nothing to say"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "daily_log_header_id": {
            "type": "integer",
            "description": "Daily Log Header ID",
            "example": 76384
           },
           "delay_type": {
            "type": "string",
            "description": "Type of delay",
            "example": "weather"
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Log. `location_id` takes precedence over `mt_location`",
            "example": 153252
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "mt_location": {
            "type": "array",
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "example": [
             "1space"
            ],
            "items": {
             "type": "string",
             "description": "Look at Daily Log Guide for more info."
            }
           },
           "start_time": {
            "type": "string",
            "description": "Time when the delay started, Format: HH:MM Example: 21:39",
            "example": "21:39"
           },
           "start_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "start_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "end_time": {
            "type": "string",
            "description": "Time when the delay started, Format: HH:MM Example: 21:39",
            "example": "21:39"
           },
           "end_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "end_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the delay log",
            "example": 1120327
           },
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the Cost Code associated to the delay log",
            "example": 11241,
            "nullable": true
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "delay_log"
        ],
        "properties": {
         "delay_log": {
          "type": "object",
          "properties": {
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Nothing to say"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "daily_log_header_id": {
            "type": "integer",
            "description": "Daily Log Header ID",
            "example": 76384
           },
           "delay_type": {
            "type": "string",
            "description": "Type of delay",
            "example": "weather"
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Log. `location_id` takes precedence over `mt_location`",
            "example": 153252
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "mt_location": {
            "type": "array",
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "example": [
             "1space"
            ],
            "items": {
             "type": "string",
             "description": "Look at Daily Log Guide for more info."
            }
           },
           "start_time": {
            "type": "string",
            "description": "Time when the delay started, Format: HH:MM Example: 21:39",
            "example": "21:39"
           },
           "start_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "start_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "end_time": {
            "type": "string",
            "description": "Time when the delay started, Format: HH:MM Example: 21:39",
            "example": "21:39"
           },
           "end_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "end_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the delay log",
            "example": 1120327
           },
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the Cost Code associated to the delay log",
            "example": 11241,
            "nullable": true
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Attachments pertaining the Log.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "example": "<attachment.png>",
           "description": "Look at Daily Log Guide for more info."
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "comments": {
           "type": "string",
           "description": "Additional comments",
           "example": "Delay Log comments"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "description": "Date of record",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "delay_type": {
           "type": "string",
           "description": "Type of delay",
           "example": "weather"
          },
          "duration": {
           "type": "integer",
           "description": "Number of hours the delay lasted (between 1 and 24)",
           "example": 5
          },
          "end_time": {
           "type": "string",
           "description": "Time when the delay ended, Format: HH:MM Example: 21:39",
           "example": "21:39"
          },
          "end_time_hour": {
           "type": "number",
           "description": "Number between 0 and 23 representing hour of day",
           "example": 21
          },
          "end_time_minute": {
           "type": "number",
           "description": "Number between 0 and 59 representing minute",
           "example": 39
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded",
           "example": 11241
          },
          "status": {
           "type": "string",
           "description": "Is a log pending or approved",
           "example": "pending"
          },
          "start_time_hour": {
           "type": "number",
           "description": "Number between 0 and 23 representing hour of day",
           "example": 21
          },
          "start_time_minute": {
           "type": "number",
           "description": "Number between 0 and 59 representing minute",
           "example": 39
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": ":filename to be deprecated, use :name",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "daily_log_segment": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name of the segment",
             "example": "Morning Shift"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the segment",
             "example": "Work performed during the morning shift"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the segment was soft deleted",
             "example": "2025-01-15T10:30:00Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates if the segment is deleted",
             "example": false
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "cost_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 12345
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Earthwork"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not create due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    delay_log: {\n      comments: 'Nothing to say',\n      date: '2016-05-19',\n      datetime: '2016-05-19T12:00:00Z',\n      daily_log_header_id: 76384,\n      delay_type: 'weather',\n      location_id: 153252,\n      daily_log_segment_id: 123456,\n      mt_location: ['1space'],\n      start_time: '21:39',\n      start_time_hour: 21,\n      start_time_minute: 39,\n      end_time: '21:39',\n      end_time_hour: 21,\n      end_time_minute: 39,\n      vendor_id: 1120327,\n      cost_code_id: 11241\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"delay_log\\\":{\\\"comments\\\":\\\"Nothing to say\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"daily_log_header_id\\\":76384,\\\"delay_type\\\":\\\"weather\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"mt_location\\\":[\\\"1space\\\"],\\\"start_time\\\":\\\"21:39\\\",\\\"start_time_hour\\\":21,\\\"start_time_minute\\\":39,\\\"end_time\\\":\\\"21:39\\\",\\\"end_time_hour\\\":21,\\\"end_time_minute\\\":39,\\\"vendor_id\\\":1120327,\\\"cost_code_id\\\":11241}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/delay_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"delay_log\":{\"comments\":\"Nothing to say\",\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"daily_log_header_id\":76384,\"delay_type\":\"weather\",\"location_id\":153252,\"daily_log_segment_id\":123456,\"mt_location\":[\"1space\"],\"start_time\":\"21:39\",\"start_time_hour\":21,\"start_time_minute\":39,\"end_time\":\"21:39\",\"end_time_hour\":21,\"end_time_minute\":39,\"vendor_id\":1120327,\"cost_code_id\":11241}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"delay_log\\\":{\\\"comments\\\":\\\"Nothing to say\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"daily_log_header_id\\\":76384,\\\"delay_type\\\":\\\"weather\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"mt_location\\\":[\\\"1space\\\"],\\\"start_time\\\":\\\"21:39\\\",\\\"start_time_hour\\\":21,\\\"start_time_minute\\\":39,\\\"end_time\\\":\\\"21:39\\\",\\\"end_time_hour\\\":21,\\\"end_time_minute\\\":39,\\\"vendor_id\\\":1120327,\\\"cost_code_id\\\":11241}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    delay_log: '{\"comments\":\"Nothing to say\",\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"daily_log_header_id\":76384,\"delay_type\":\"weather\",\"location_id\":153252,\"daily_log_segment_id\":123456,\"mt_location\":[\"1space\"],\"start_time\":\"21:39\",\"start_time_hour\":21,\"start_time_minute\":39,\"end_time\":\"21:39\",\"end_time_hour\":21,\"end_time_minute\":39,\"vendor_id\":1120327,\"cost_code_id\":11241}',\n    attachments: '[\"<attachment.png>\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"delay_log\\\"\\r\\n\\r\\n{\\\"comments\\\":\\\"Nothing to say\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"daily_log_header_id\\\":76384,\\\"delay_type\\\":\\\"weather\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"mt_location\\\":[\\\"1space\\\"],\\\"start_time\\\":\\\"21:39\\\",\\\"start_time_hour\\\":21,\\\"start_time_minute\\\":39,\\\"end_time\\\":\\\"21:39\\\",\\\"end_time_hour\\\":21,\\\"end_time_minute\\\":39,\\\"vendor_id\\\":1120327,\\\"cost_code_id\\\":11241}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"<attachment.png>\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/delay_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'delay_log={\"comments\":\"Nothing to say\",\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"daily_log_header_id\":76384,\"delay_type\":\"weather\",\"location_id\":153252,\"daily_log_segment_id\":123456,\"mt_location\":[\"1space\"],\"start_time\":\"21:39\",\"start_time_hour\":21,\"start_time_minute\":39,\"end_time\":\"21:39\",\"end_time_hour\":21,\"end_time_minute\":39,\"vendor_id\":1120327,\"cost_code_id\":11241}' \\\n  --form 'attachments=[\"<attachment.png>\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"comments\\\":\\\"Nothing to say\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"daily_log_header_id\\\":76384,\\\"delay_type\\\":\\\"weather\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"mt_location\\\":[\\\"1space\\\"],\\\"start_time\\\":\\\"21:39\\\",\\\"start_time_hour\\\":21,\\\"start_time_minute\\\":39,\\\"end_time\\\":\\\"21:39\\\",\\\"end_time_hour\\\":21,\\\"end_time_minute\\\":39,\\\"vendor_id\\\":1120327,\\\"cost_code_id\\\":11241}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"delay_log\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"<attachment.png>\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add vendor_id as parameter to request body and return vendor in response for Delay Logs create endpoint",
      "description": "Add vendor_id as parameter to request body and return vendor in response for Delay Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/delay_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#create-delay-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for Delay Logs create endpoint",
      "description": "Add daily_log_segment_id to request body and response body for Delay Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/delay_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#create-delay-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "POST /projects/{project_id}/delay_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#create-delay-log"
     },
     {
      "summary": "Validate log type is enabled on create",
      "description": "POST create now validates that delay logs are enabled in the project's Daily Log configuration.\nRequests are rejected with an InvalidLog error when the log type is disabled.",
      "endpoint": "POST /projects/{project_id}/delay_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#create-delay-log"
     },
     {
      "summary": "Add cost_code_id as parameter to request body and return cost_code in response",
      "description": "Add cost_code_id as parameter to request body and return cost_code in response.",
      "endpoint": "POST /projects/{project_id}/delay_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#create-delay-log"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/delay_logs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Delay log ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Delay Logs",
    "description": "Returns single Delay Log.",
    "tags": [
     "Delay Logs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "comments": {
           "type": "string",
           "description": "Additional comments",
           "example": "Delay Log comments"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "description": "Date of record",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "delay_type": {
           "type": "string",
           "description": "Type of delay",
           "example": "weather"
          },
          "duration": {
           "type": "integer",
           "description": "Number of hours the delay lasted (between 1 and 24)",
           "example": 5
          },
          "end_time": {
           "type": "string",
           "description": "Time when the delay ended, Format: HH:MM Example: 21:39",
           "example": "21:39"
          },
          "end_time_hour": {
           "type": "number",
           "description": "Number between 0 and 23 representing hour of day",
           "example": 21
          },
          "end_time_minute": {
           "type": "number",
           "description": "Number between 0 and 59 representing minute",
           "example": 39
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded",
           "example": 11241
          },
          "status": {
           "type": "string",
           "description": "Is a log pending or approved",
           "example": "pending"
          },
          "start_time_hour": {
           "type": "number",
           "description": "Number between 0 and 23 representing hour of day",
           "example": 21
          },
          "start_time_minute": {
           "type": "number",
           "description": "Number between 0 and 59 representing minute",
           "example": 39
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": ":filename to be deprecated, use :name",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "daily_log_segment": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name of the segment",
             "example": "Morning Shift"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the segment",
             "example": "Work performed during the morning shift"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the segment was soft deleted",
             "example": "2025-01-15T10:30:00Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates if the segment is deleted",
             "example": false
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "cost_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 12345
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Earthwork"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add vendor to response body for Delay Logs get endpoint",
      "description": "Add vendor to response body for Delay Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/delay_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#show-delay-logs"
     },
     {
      "summary": "Add daily_log_segment_id to response body for Delay Logs show endpoint",
      "description": "Add daily_log_segment_id to response body for Delay Logs show endpoint.",
      "endpoint": "GET /projects/{project_id}/delay_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#show-delay-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/delay_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#show-delay-logs"
     },
     {
      "summary": "Add cost_code to response body",
      "description": "Add cost_code to response body.",
      "endpoint": "GET /projects/{project_id}/delay_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#show-delay-logs"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Delay Log",
    "description": "Update single Delay Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments",
    "tags": [
     "Delay Logs"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "delay_log"
        ],
        "properties": {
         "delay_log": {
          "type": "object",
          "properties": {
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "No Additional comments"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of record. Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "daily_log_header_id": {
            "type": "integer",
            "description": "Daily Log Header ID",
            "example": 76384
           },
           "delay_type": {
            "type": "string",
            "description": "Type of delay",
            "example": "weather"
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Log. `location_id` takes precedence over `mt_location`",
            "example": 153252
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "mt_location": {
            "type": "array",
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "example": [
             "1space"
            ],
            "items": {
             "type": "string",
             "description": "Look at Daily Log Guide for more info."
            }
           },
           "start_time": {
            "type": "string",
            "description": "Time when the delay started, Format: HH:MM Example: 21:39",
            "example": "21:39"
           },
           "start_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "start_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "end_time": {
            "type": "string",
            "description": "Time when the delay started, Format: HH:MM Example: 21:39",
            "example": "21:39"
           },
           "end_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "end_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the delay log",
            "example": 1120327
           },
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the Cost Code associated to the delay log",
            "example": 11241,
            "nullable": true
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "delay_log"
        ],
        "properties": {
         "delay_log": {
          "type": "object",
          "properties": {
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "No Additional comments"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of record. Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Datetime of record. Mutually exclusive with the date property.",
            "example": "2016-05-19T12:00:00Z"
           },
           "daily_log_header_id": {
            "type": "integer",
            "description": "Daily Log Header ID",
            "example": 76384
           },
           "delay_type": {
            "type": "string",
            "description": "Type of delay",
            "example": "weather"
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Log. `location_id` takes precedence over `mt_location`",
            "example": 153252
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "mt_location": {
            "type": "array",
            "description": "Use this for creating a new multi-tier or single-tier Location. This will be ignored if `location_id` is provided.",
            "example": [
             "1space"
            ],
            "items": {
             "type": "string",
             "description": "Look at Daily Log Guide for more info."
            }
           },
           "start_time": {
            "type": "string",
            "description": "Time when the delay started, Format: HH:MM Example: 21:39",
            "example": "21:39"
           },
           "start_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "start_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "end_time": {
            "type": "string",
            "description": "Time when the delay started, Format: HH:MM Example: 21:39",
            "example": "21:39"
           },
           "end_time_hour": {
            "type": "number",
            "description": "Number between 0 and 23 representing hour of day",
            "example": 21
           },
           "end_time_minute": {
            "type": "number",
            "description": "Number between 0 and 59 representing minute",
            "example": 39
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the delay log",
            "example": 1120327
           },
           "cost_code_id": {
            "type": "integer",
            "description": "ID of the Cost Code associated to the delay log",
            "example": 11241,
            "nullable": true
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Attachments pertaining the Log.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "example": "<attachment.png>",
           "description": "Look at Daily Log Guide for more info."
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "comments": {
           "type": "string",
           "description": "Additional comments",
           "example": "Delay Log comments"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2012-10-23T21:39:40Z"
          },
          "date": {
           "type": "string",
           "description": "Date of record",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "delay_type": {
           "type": "string",
           "description": "Type of delay",
           "example": "weather"
          },
          "duration": {
           "type": "integer",
           "description": "Number of hours the delay lasted (between 1 and 24)",
           "example": 5
          },
          "end_time": {
           "type": "string",
           "description": "Time when the delay ended, Format: HH:MM Example: 21:39",
           "example": "21:39"
          },
          "end_time_hour": {
           "type": "number",
           "description": "Number between 0 and 23 representing hour of day",
           "example": 21
          },
          "end_time_minute": {
           "type": "number",
           "description": "Number between 0 and 59 representing minute",
           "example": 39
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded",
           "example": 11241
          },
          "status": {
           "type": "string",
           "description": "Is a log pending or approved",
           "example": "pending"
          },
          "start_time_hour": {
           "type": "number",
           "description": "Number between 0 and 23 representing hour of day",
           "example": 21
          },
          "start_time_minute": {
           "type": "number",
           "description": "Number between 0 and 59 representing minute",
           "example": 39
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2012-10-24T21:39:40Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "1space>1 space"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "1 space"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": ":filename to be deprecated, use :name",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "daily_log_segment": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name of the segment",
             "example": "Morning Shift"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the segment",
             "example": "Work performed during the morning shift"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the segment was soft deleted",
             "example": "2025-01-15T10:30:00Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates if the segment is deleted",
             "example": false
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "cost_code": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 12345
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Earthwork"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not update due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    delay_log: {\n      comments: 'No Additional comments',\n      date: '2016-05-19',\n      datetime: '2016-05-19T12:00:00Z',\n      daily_log_header_id: 76384,\n      delay_type: 'weather',\n      location_id: 153252,\n      daily_log_segment_id: 123456,\n      mt_location: ['1space'],\n      start_time: '21:39',\n      start_time_hour: 21,\n      start_time_minute: 39,\n      end_time: '21:39',\n      end_time_hour: 21,\n      end_time_minute: 39,\n      vendor_id: 1120327,\n      cost_code_id: 11241\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"delay_log\\\":{\\\"comments\\\":\\\"No Additional comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"daily_log_header_id\\\":76384,\\\"delay_type\\\":\\\"weather\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"mt_location\\\":[\\\"1space\\\"],\\\"start_time\\\":\\\"21:39\\\",\\\"start_time_hour\\\":21,\\\"start_time_minute\\\":39,\\\"end_time\\\":\\\"21:39\\\",\\\"end_time_hour\\\":21,\\\"end_time_minute\\\":39,\\\"vendor_id\\\":1120327,\\\"cost_code_id\\\":11241}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"delay_log\":{\"comments\":\"No Additional comments\",\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"daily_log_header_id\":76384,\"delay_type\":\"weather\",\"location_id\":153252,\"daily_log_segment_id\":123456,\"mt_location\":[\"1space\"],\"start_time\":\"21:39\",\"start_time_hour\":21,\"start_time_minute\":39,\"end_time\":\"21:39\",\"end_time_hour\":21,\"end_time_minute\":39,\"vendor_id\":1120327,\"cost_code_id\":11241}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"delay_log\\\":{\\\"comments\\\":\\\"No Additional comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"daily_log_header_id\\\":76384,\\\"delay_type\\\":\\\"weather\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"mt_location\\\":[\\\"1space\\\"],\\\"start_time\\\":\\\"21:39\\\",\\\"start_time_hour\\\":21,\\\"start_time_minute\\\":39,\\\"end_time\\\":\\\"21:39\\\",\\\"end_time_hour\\\":21,\\\"end_time_minute\\\":39,\\\"vendor_id\\\":1120327,\\\"cost_code_id\\\":11241}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    delay_log: '{\"comments\":\"No Additional comments\",\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"daily_log_header_id\":76384,\"delay_type\":\"weather\",\"location_id\":153252,\"daily_log_segment_id\":123456,\"mt_location\":[\"1space\"],\"start_time\":\"21:39\",\"start_time_hour\":21,\"start_time_minute\":39,\"end_time\":\"21:39\",\"end_time_hour\":21,\"end_time_minute\":39,\"vendor_id\":1120327,\"cost_code_id\":11241}',\n    attachments: '[\"<attachment.png>\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"delay_log\\\"\\r\\n\\r\\n{\\\"comments\\\":\\\"No Additional comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"daily_log_header_id\\\":76384,\\\"delay_type\\\":\\\"weather\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"mt_location\\\":[\\\"1space\\\"],\\\"start_time\\\":\\\"21:39\\\",\\\"start_time_hour\\\":21,\\\"start_time_minute\\\":39,\\\"end_time\\\":\\\"21:39\\\",\\\"end_time_hour\\\":21,\\\"end_time_minute\\\":39,\\\"vendor_id\\\":1120327,\\\"cost_code_id\\\":11241}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"<attachment.png>\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'delay_log={\"comments\":\"No Additional comments\",\"date\":\"2016-05-19\",\"datetime\":\"2016-05-19T12:00:00Z\",\"daily_log_header_id\":76384,\"delay_type\":\"weather\",\"location_id\":153252,\"daily_log_segment_id\":123456,\"mt_location\":[\"1space\"],\"start_time\":\"21:39\",\"start_time_hour\":21,\"start_time_minute\":39,\"end_time\":\"21:39\",\"end_time_hour\":21,\"end_time_minute\":39,\"vendor_id\":1120327,\"cost_code_id\":11241}' \\\n  --form 'attachments=[\"<attachment.png>\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"comments\\\":\\\"No Additional comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"datetime\\\":\\\"2016-05-19T12:00:00Z\\\",\\\"daily_log_header_id\\\":76384,\\\"delay_type\\\":\\\"weather\\\",\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"mt_location\\\":[\\\"1space\\\"],\\\"start_time\\\":\\\"21:39\\\",\\\"start_time_hour\\\":21,\\\"start_time_minute\\\":39,\\\"end_time\\\":\\\"21:39\\\",\\\"end_time_hour\\\":21,\\\"end_time_minute\\\":39,\\\"vendor_id\\\":1120327,\\\"cost_code_id\\\":11241}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"delay_log\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"<attachment.png>\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add vendor_id as parameter to request body and return vendor in response for Delay Logs update endpoint",
      "description": "Add vendor_id as parameter to request body and return vendor in response for Delay Logs update endpoint.",
      "endpoint": "PATCH /projects/{project_id}/delay_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-07-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#update-delay-log"
     },
     {
      "summary": "Allow removing location by passing location_id as null",
      "description": "Location can be removed by passing location_id as null",
      "endpoint": "PATCH /projects/{project_id}/delay_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#update-delay-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for Delay Logs update endpoint",
      "description": "Add daily_log_segment_id to request body and response body for Delay Logs update endpoint.",
      "endpoint": "PATCH /projects/{project_id}/delay_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#update-delay-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "PATCH /projects/{project_id}/delay_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#update-delay-log"
     },
     {
      "summary": "Add cost_code_id as parameter to request body and return cost_code in response",
      "description": "Add cost_code_id as parameter to request body and return cost_code in response.",
      "endpoint": "PATCH /projects/{project_id}/delay_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-logs?version=1.0#update-delay-log"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Delay Log",
    "description": "Delete single Delay Log.",
    "tags": [
     "Delay Logs"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Can not delete due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/delay_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}