{
 "openapi": "3.0.0",
 "info": {
  "title": "Delay Log Types",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Delay Log Types",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/daily_logs/delay_log_types": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Delay Log Types",
    "description": "Returns all Delay Log Types associated with the project and their visibility.",
    "tags": [
     "Delay Log Types"
    ],
    "parameters": [
     {
      "name": "filters[visible]",
      "in": "query",
      "description": "Filter Delay Log Types based on visible. Defaults to true, to query all types pass 'false...true'",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "true",
        "false",
        "false...true"
       ],
       "default": "true"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Delay Log Type",
          "properties": {
           "id": {
            "type": "integer",
            "example": 579
           },
           "display_name": {
            "type": "string",
            "description": "The name displayed in the web UI",
            "example": "Existing Conditions"
           },
           "translation_key": {
            "type": "string",
            "description": "The key used to translate default delay log types",
            "example": "existing_conditions"
           },
           "visible": {
            "type": "boolean",
            "description": "Whether the type is visible in the UI",
            "example": true
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The UTC datetime for the creation of the resource in ISO 8601 format.",
            "example": "2019-09-14T16:20:00Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "The UTC datetime for the last update of the resource in ISO 8601 format.",
            "example": "2019-09-14T16:20:00Z"
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have sufficient permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types',\n  qs: {\n    'filters[visible]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types?filters%5Bvisible%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types?filters%5Bvisible%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types?filters%5Bvisible%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List Delay Log Types",
      "description": "Returns all Delay Log Types associated with the project and their visibility.",
      "endpoint": "GET /projects/{project_id}/daily_logs/delay_log_types",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-log-types?version=1.0#list-delay-log-types"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create new Delay Log Type",
    "description": "Create a new Delay Log Type for the project",
    "tags": [
     "Delay Log Types"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "delay_log_type"
        ],
        "properties": {
         "delay_log_type": {
          "type": "object",
          "required": [
           "display_name"
          ],
          "properties": {
           "display_name": {
            "type": "string",
            "description": "The name displayed in the web UI",
            "example": "Custom Condition"
           },
           "visible": {
            "type": "boolean",
            "description": "Whether the delay log type is displayed in the UI. Defaults to true",
            "example": true
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Delay Log Type successfully created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Delay Log Type",
         "properties": {
          "id": {
           "type": "integer",
           "example": 579
          },
          "display_name": {
           "type": "string",
           "description": "The name displayed in the web UI",
           "example": "Existing Conditions"
          },
          "translation_key": {
           "type": "string",
           "description": "The key used to translate default delay log types",
           "example": "existing_conditions"
          },
          "visible": {
           "type": "boolean",
           "description": "Whether the type is visible in the UI",
           "example": true
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "The UTC datetime for the creation of the resource in ISO 8601 format.",
           "example": "2019-09-14T16:20:00Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "The UTC datetime for the last update of the resource in ISO 8601 format.",
           "example": "2019-09-14T16:20:00Z"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have sufficient permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Delay Log Type failed validation",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types',\n  headers: {'content-type': 'application/json'},\n  body: {delay_log_type: {display_name: 'Custom Condition', visible: true}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"delay_log_type\\\":{\\\"display_name\\\":\\\"Custom Condition\\\",\\\"visible\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types \\\n  --header 'content-type: application/json' \\\n  --data '{\"delay_log_type\":{\"display_name\":\"Custom Condition\",\"visible\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types\"),\n    Content = new StringContent(\"{\\\"delay_log_type\\\":{\\\"display_name\\\":\\\"Custom Condition\\\",\\\"visible\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create new Delay Log Type",
      "description": "Create a new Delay Log Type for the project",
      "endpoint": "POST /projects/{project_id}/daily_logs/delay_log_types",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-log-types?version=1.0#create-new-delay-log-type"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/daily_logs/delay_log_types/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Delay Log Type ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a Delay Log Type",
    "description": "Update the visibility of a Delay Log Type",
    "tags": [
     "Delay Log Types"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "delay_log_type"
        ],
        "properties": {
         "delay_log_type": {
          "type": "object",
          "properties": {
           "visible": {
            "type": "boolean",
            "description": "Whether the Delay Log Type is visible in the UI",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Delay Log Type",
         "properties": {
          "id": {
           "type": "integer",
           "example": 579
          },
          "display_name": {
           "type": "string",
           "description": "The name displayed in the web UI",
           "example": "Existing Conditions"
          },
          "translation_key": {
           "type": "string",
           "description": "The key used to translate default delay log types",
           "example": "existing_conditions"
          },
          "visible": {
           "type": "boolean",
           "description": "Whether the type is visible in the UI",
           "example": true
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "The UTC datetime for the creation of the resource in ISO 8601 format.",
           "example": "2019-09-14T16:20:00Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "The UTC datetime for the last update of the resource in ISO 8601 format.",
           "example": "2019-09-14T16:20:00Z"
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have sufficient permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Delay Log Type failed validations",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {delay_log_type: {visible: false}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"delay_log_type\\\":{\\\"visible\\\":false}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"delay_log_type\":{\"visible\":false}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/daily_logs/delay_log_types/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"delay_log_type\\\":{\\\"visible\\\":false}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update a Delay Log Type",
      "description": "Update the visibility of a Delay Log Type",
      "endpoint": "PATCH /projects/{project_id}/daily_logs/delay_log_types/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-02-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "delay-log-types?version=1.0#update-a-delay-log-type"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}