{
 "openapi": "3.0.0",
 "info": {
  "title": "Deliveries",
  "x-product-category": "Platform - Developer Tools",
  "x-tool-category": "Webhooks",
  "x-resource-name": "Deliveries",
  "version": "2.0",
  "x-product-lines": [
   "Utilities"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/webhooks/hooks/{hook_id}/deliveries": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "hook_id",
     "in": "path",
     "description": "Webhooks Hook ID",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "123"
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Webhooks Deliveries",
    "description": "Returns an array of webhooks deliveries for the company.",
    "tags": [
     "Webhooks"
    ],
    "parameters": [
     {
      "name": "filter[status]",
      "in": "query",
      "required": false,
      "description": "Filter deliveries by current status. Use one of the allowed enum values.",
      "schema": {
       "type": "string",
       "enum": [
        "succeeded",
        "failed",
        "discarded",
        "enqueued",
        "retrying"
       ]
      }
     },
     {
      "name": "filter[resource_name]",
      "in": "query",
      "required": false,
      "description": "Filter deliveries by the name of the resource that triggered the event (e.g., Work Orders).",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter[event_type]",
      "in": "query",
      "required": false,
      "description": "Filter on event_type (create, update, delete)",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter[start]",
      "in": "query",
      "required": false,
      "description": "Filter deliveries from this date format yyyy-mm-dd",
      "schema": {
       "type": "string",
       "format": "date",
       "example": "2023-01-01"
      }
     },
     {
      "name": "filter[end]",
      "in": "query",
      "required": false,
      "description": "Filter deliveries until this date format yyyy-mm-dd",
      "schema": {
       "type": "string",
       "format": "date",
       "example": "2023-12-31"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "required": false,
      "description": "Sort order for the returned deliveries. Consult the webhooks service for supported sort fields and directions.",
      "schema": {
       "type": "string"
      },
      "example": "-timestamp"
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Webhooks Deliveries",
           "items": {
            "title": "Webhooks Delivery",
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique string identifier for this webhook delivery. Use to reference a specific delivery when investigating status or retry history.",
              "example": "123456789"
             },
             "status": {
              "type": "string",
              "enum": [
               "delivered",
               "failed",
               "discarded",
               "enqueued",
               "retrying"
              ],
              "description": "Lifecycle state of this delivery. Filter the collection using filter[status]=<value>.",
              "example": "discarded"
             },
             "payload": {
              "type": "object",
              "description": "The event payload that was delivered",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID of the event",
                "example": 123456789
               },
               "ulid": {
                "type": "string",
                "description": "Universally unique lexicographically sortable identifier (ULID) for the originating event, encoded as a 26-character string. Sortable by creation time.",
                "example": "01H123456789ABCDEFGHIJKLMN"
               },
               "timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "Time the event occurred",
                "example": "2023-01-01T12:00:00Z"
               },
               "metadata": {
                "type": "object",
                "description": "Additional information about the event",
                "properties": {
                 "source_user_id": {
                  "type": "integer",
                  "description": "ID of the user who made the change",
                  "example": 12345
                 },
                 "source_company_id": {
                  "type": "integer",
                  "description": "ID of the company that the changing user was in when the change was made",
                  "example": 100
                 },
                 "source_project_id": {
                  "type": "integer",
                  "description": "ID of the project that the changing user was in when the change was made",
                  "example": 200
                 },
                 "source_application_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "ID of the application used to make the change",
                  "example": null
                 },
                 "source_operation_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "Identifying token provided by the client on the api request that was responsible for the change",
                  "example": null
                 }
                }
               },
               "user_id": {
                "type": "integer",
                "description": "ID of the user who made the change",
                "example": 12345
               },
               "company_id": {
                "type": "integer",
                "description": "ID of the company the resource belongs to",
                "example": 100
               },
               "project_id": {
                "type": "integer",
                "description": "ID of the project the resource belongs to",
                "example": 200
               },
               "api_version": {
                "type": "string",
                "description": "Version of the originating api resource",
                "example": "v2"
               },
               "event_type": {
                "type": "string",
                "enum": [
                 "create",
                 "update",
                 "delete"
                ],
                "description": "Type of event that occurred",
                "example": "update"
               },
               "resource_name": {
                "type": "string",
                "description": "Name of the changed resource",
                "example": "Work Orders"
               },
               "resource_id": {
                "type": "integer",
                "description": "ID of the changed resource",
                "example": 300
               }
              }
             },
             "delivery_attempts": {
              "type": "array",
              "description": "Array of delivery attempts for this webhook",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Unique string identifier for this individual delivery attempt.",
                 "example": "987654321"
                },
                "success": {
                 "type": "boolean",
                 "description": "Whether the delivery attempt was successful",
                 "example": false
                },
                "response_status": {
                 "type": "integer",
                 "nullable": true,
                 "description": "HTTP status code returned from the webhook endpoint",
                 "example": null
                },
                "response_body": {
                 "type": "string",
                 "description": "Response body returned from the webhook endpoint",
                 "example": ""
                },
                "response_headers": {
                 "type": "object",
                 "description": "Response headers returned from the webhook endpoint",
                 "example": {}
                },
                "started_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Start time of the delivery attempt",
                 "example": "2023-01-01T12:05:00Z"
                },
                "completed_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Completion time of the delivery attempt",
                 "example": "2023-01-01T12:05:10Z"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/123/deliveries',\n  qs: {\n    'filter[status]': 'SOME_STRING_VALUE',\n    'filter[resource_name]': 'SOME_STRING_VALUE',\n    'filter[event_type]': 'SOME_STRING_VALUE',\n    'filter[start]': '2023-01-01',\n    'filter[end]': '2023-12-31',\n    'filter[contain_resource_id]': '300',\n    sort: '-timestamp',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/123/deliveries?filter%5Bstatus%5D=SOME_STRING_VALUE&filter%5Bresource_name%5D=SOME_STRING_VALUE&filter%5Bevent_type%5D=SOME_STRING_VALUE&filter%5Bstart%5D=2023-01-01&filter%5Bend%5D=2023-12-31&filter%5Bcontain_resource_id%5D=300&sort=-timestamp&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/123/deliveries?filter%5Bstatus%5D=SOME_STRING_VALUE&filter%5Bresource_name%5D=SOME_STRING_VALUE&filter%5Bevent_type%5D=SOME_STRING_VALUE&filter%5Bstart%5D=2023-01-01&filter%5Bend%5D=2023-12-31&filter%5Bcontain_resource_id%5D=300&sort=-timestamp&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/123/deliveries?filter%5Bstatus%5D=SOME_STRING_VALUE&filter%5Bresource_name%5D=SOME_STRING_VALUE&filter%5Bevent_type%5D=SOME_STRING_VALUE&filter%5Bstart%5D=2023-01-01&filter%5Bend%5D=2023-12-31&filter%5Bcontain_resource_id%5D=300&sort=-timestamp&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/webhooks/hooks/{hook_id}/deliveries": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "hook_id",
     "in": "path",
     "description": "Webhooks Hook ID",
     "required": true,
     "schema": {
      "type": "string"
     },
     "example": "123"
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Webhooks Deliveries",
    "description": "Returns an array of webhooks deliveries for the project.",
    "tags": [
     "Webhooks"
    ],
    "parameters": [
     {
      "name": "filter[status]",
      "in": "query",
      "required": false,
      "description": "Filter deliveries by current status. Use one of the allowed enum values.",
      "schema": {
       "type": "string",
       "enum": [
        "succeeded",
        "failed",
        "discarded",
        "enqueued",
        "retrying"
       ]
      }
     },
     {
      "name": "filter[resource_name]",
      "in": "query",
      "required": false,
      "description": "Filter deliveries by the name of the resource that triggered the event (e.g., Work Orders).",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter[event_type]",
      "in": "query",
      "required": false,
      "description": "Filter on event_type (create, update, delete)",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filter[start]",
      "in": "query",
      "required": false,
      "description": "Filter deliveries from this date format yyyy-mm-dd",
      "schema": {
       "type": "string",
       "format": "date",
       "example": "2023-01-01"
      }
     },
     {
      "name": "filter[end]",
      "in": "query",
      "required": false,
      "description": "Filter deliveries until this date format yyyy-mm-dd",
      "schema": {
       "type": "string",
       "format": "date",
       "example": "2023-12-31"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "required": false,
      "description": "Sort order for the returned deliveries. Consult the webhooks service for supported sort fields and directions.",
      "schema": {
       "type": "string"
      },
      "example": "-timestamp"
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Webhooks Deliveries",
           "items": {
            "title": "Webhooks Delivery",
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique string identifier for this webhook delivery. Use to reference a specific delivery when investigating status or retry history.",
              "example": "123456789"
             },
             "status": {
              "type": "string",
              "enum": [
               "delivered",
               "failed",
               "discarded",
               "enqueued",
               "retrying"
              ],
              "description": "Lifecycle state of this delivery. Filter the collection using filter[status]=<value>.",
              "example": "discarded"
             },
             "payload": {
              "type": "object",
              "description": "The event payload that was delivered",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID of the event",
                "example": 123456789
               },
               "ulid": {
                "type": "string",
                "description": "Universally unique lexicographically sortable identifier (ULID) for the originating event, encoded as a 26-character string. Sortable by creation time.",
                "example": "01H123456789ABCDEFGHIJKLMN"
               },
               "timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "Time the event occurred",
                "example": "2023-01-01T12:00:00Z"
               },
               "metadata": {
                "type": "object",
                "description": "Additional information about the event",
                "properties": {
                 "source_user_id": {
                  "type": "integer",
                  "description": "ID of the user who made the change",
                  "example": 12345
                 },
                 "source_company_id": {
                  "type": "integer",
                  "description": "ID of the company that the changing user was in when the change was made",
                  "example": 100
                 },
                 "source_project_id": {
                  "type": "integer",
                  "description": "ID of the project that the changing user was in when the change was made",
                  "example": 200
                 },
                 "source_application_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "ID of the application used to make the change",
                  "example": null
                 },
                 "source_operation_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "Identifying token provided by the client on the api request that was responsible for the change",
                  "example": null
                 }
                }
               },
               "user_id": {
                "type": "integer",
                "description": "ID of the user who made the change",
                "example": 12345
               },
               "company_id": {
                "type": "integer",
                "description": "ID of the company the resource belongs to",
                "example": 100
               },
               "project_id": {
                "type": "integer",
                "description": "ID of the project the resource belongs to",
                "example": 200
               },
               "api_version": {
                "type": "string",
                "description": "Version of the originating api resource",
                "example": "v2"
               },
               "event_type": {
                "type": "string",
                "enum": [
                 "create",
                 "update",
                 "delete"
                ],
                "description": "Type of event that occurred",
                "example": "update"
               },
               "resource_name": {
                "type": "string",
                "description": "Name of the changed resource",
                "example": "Work Orders"
               },
               "resource_id": {
                "type": "integer",
                "description": "ID of the changed resource",
                "example": 300
               }
              }
             },
             "delivery_attempts": {
              "type": "array",
              "description": "Array of delivery attempts for this webhook",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Unique string identifier for this individual delivery attempt.",
                 "example": "987654321"
                },
                "success": {
                 "type": "boolean",
                 "description": "Whether the delivery attempt was successful",
                 "example": false
                },
                "response_status": {
                 "type": "integer",
                 "nullable": true,
                 "description": "HTTP status code returned from the webhook endpoint",
                 "example": null
                },
                "response_body": {
                 "type": "string",
                 "description": "Response body returned from the webhook endpoint",
                 "example": ""
                },
                "response_headers": {
                 "type": "object",
                 "description": "Response headers returned from the webhook endpoint",
                 "example": {}
                },
                "started_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Start time of the delivery attempt",
                 "example": "2023-01-01T12:05:00Z"
                },
                "completed_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Completion time of the delivery attempt",
                 "example": "2023-01-01T12:05:10Z"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks/123/deliveries',\n  qs: {\n    'filter[status]': 'SOME_STRING_VALUE',\n    'filter[resource_name]': 'SOME_STRING_VALUE',\n    'filter[event_type]': 'SOME_STRING_VALUE',\n    'filter[start]': '2023-01-01',\n    'filter[end]': '2023-12-31',\n    'filter[contain_resource_id]': '300',\n    sort: '-timestamp',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks/123/deliveries?filter%5Bstatus%5D=SOME_STRING_VALUE&filter%5Bresource_name%5D=SOME_STRING_VALUE&filter%5Bevent_type%5D=SOME_STRING_VALUE&filter%5Bstart%5D=2023-01-01&filter%5Bend%5D=2023-12-31&filter%5Bcontain_resource_id%5D=300&sort=-timestamp&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks/123/deliveries?filter%5Bstatus%5D=SOME_STRING_VALUE&filter%5Bresource_name%5D=SOME_STRING_VALUE&filter%5Bevent_type%5D=SOME_STRING_VALUE&filter%5Bstart%5D=2023-01-01&filter%5Bend%5D=2023-12-31&filter%5Bcontain_resource_id%5D=300&sort=-timestamp&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks/123/deliveries?filter%5Bstatus%5D=SOME_STRING_VALUE&filter%5Bresource_name%5D=SOME_STRING_VALUE&filter%5Bevent_type%5D=SOME_STRING_VALUE&filter%5Bstart%5D=2023-01-01&filter%5Bend%5D=2023-12-31&filter%5Bcontain_resource_id%5D=300&sort=-timestamp&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/webhooks/hooks/{hook_id}/deliveries": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "hook_id",
     "in": "path",
     "description": "Webhooks Hook ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "deprecated": true,
    "x-deprecated-at": "2025-09-15",
    "x-sunset": "2026-09-16",
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Webhooks Deliveries",
    "description": "Deliveries must be listed within a company and/or project scope.",
    "tags": [
     "Webhooks"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company. You must supply either a company_id or project_id.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "description": "Unique identifier for the project. You must supply either a company_id or project_id.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page_size",
      "in": "query",
      "description": "Number of items to return for a page (default: 100)",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page_start",
      "in": "query",
      "description": "The last id of the previous page.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Filter on status for \"any\", \"successful\", \"failing\" or \"discarded\"",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Webhooks Deliveries",
         "items": {
          "title": "Webhooks Delivery",
          "type": "object",
          "properties": {
           "event": {
            "type": "object",
            "description": "The event payload sent",
            "properties": {
             "user_id": {
              "type": "integer",
              "description": "ID of the user who made the change",
              "example": 12345
             },
             "timestamp": {
              "type": "string",
              "format": "date-time",
              "description": "Time the change was made",
              "example": "2017-10-18T21:16:47Z"
             },
             "resource_name": {
              "type": "string",
              "description": "Name of the changed resource",
              "example": "Work Order Contracts"
             },
             "resource_id": {
              "type": "integer",
              "description": "ID of the changed resource",
              "example": 12345
             },
             "project_id": {
              "type": "integer",
              "description": "ID of the project the resource belongs to",
              "example": 789
             },
             "id": {
              "type": "integer",
              "description": "ID of the event",
              "example": 231346546
             },
             "ulid": {
              "type": "string",
              "description": "Unique identifier encoded as a 26 character string.",
              "example": "01EDPD2J6SBY1163N77H95GW09"
             },
             "event_type": {
              "type": "string",
              "description": "Type of event: [create | update | delete]",
              "example": "update"
             },
             "company_id": {
              "type": "integer",
              "description": "ID of the company the resource belongs to",
              "example": 890
             },
             "api_version": {
              "type": "string",
              "description": "Version of the originating api resource",
              "example": "v2"
             },
             "metadata": {
              "type": "object",
              "description": "Contextual information about the event",
              "properties": {
               "source_user_id": {
                "type": "integer",
                "description": "ID of the user who made the change",
                "example": 12345
               },
               "source_company_id": {
                "type": "integer",
                "description": "ID of the company that the changing user was in when the change was made",
                "example": 891
               },
               "source_project_id": {
                "type": "integer",
                "description": "ID of the project that the changing user was in when the change was made",
                "example": 123
               },
               "source_application_id": {
                "type": "string",
                "description": "ID of the application used to make the change",
                "example": "242635f69bfc6fb9adax513875a0254a2a908f7bb176x1698d6x169a08f5646d"
               },
               "source_operation_id": {
                "type": "string",
                "description": "Identifying token provided by the client on the api request that was responsible for the change",
                "example": "0181c891-8be7-4f99-8c4e-9f75387d6ecd"
               }
              }
             }
            }
           },
           "event_id": {
            "type": "integer",
            "description": "ID of the audited API event",
            "example": 231346546
           },
           "outcome": {
            "type": "string",
            "enum": [
             "ok",
             "retried",
             "failed",
             "discarded"
            ],
            "description": "Outcome of the delivery",
            "example": "retried"
           },
           "response_body": {
            "type": "string",
            "description": "Reponse body returned from the request, if any.",
            "example": "null"
           },
           "response_error": {
            "type": "string",
            "description": "Error response message, if any.",
            "example": "null"
           },
           "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the request",
            "example": "2012-10-23T21:39:40Z"
           },
           "completed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Completion time of the request",
            "example": "2015-10-23T21:39:40Z"
           },
           "response_status": {
            "type": "integer",
            "description": "Status code returned from the request.",
            "example": 200
           },
           "response_headers": {
            "type": "object",
            "description": "Headers returned from the request."
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/webhooks/hooks/%7Bhook_id%7D/deliveries',\n  qs: {\n    company_id: 'SOME_INTEGER_VALUE',\n    project_id: 'SOME_INTEGER_VALUE',\n    page_size: 'SOME_INTEGER_VALUE',\n    page_start: 'SOME_INTEGER_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/webhooks/hooks/%7Bhook_id%7D/deliveries?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&page_size=SOME_INTEGER_VALUE&page_start=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/webhooks/hooks/%7Bhook_id%7D/deliveries?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&page_size=SOME_INTEGER_VALUE&page_start=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/webhooks/hooks/%7Bhook_id%7D/deliveries?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&page_size=SOME_INTEGER_VALUE&page_start=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Webhooks v1.0 Deliveries API deprecated",
      "description": "Deprecated v1.0 webhooks deliveries API. Users should migrate to v2.0 API.",
      "endpoint": "GET /webhooks/hooks/{hook_id}/deliveries",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2025-09-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "deliveries?version=1.0#list-webhooks-deliveries"
     }
    ]
   },
   "x-compliance-level": "partial"
  }
 }
}