{
 "openapi": "3.0.0",
 "info": {
  "title": "Direct Costs",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Project Level Direct Costs",
  "x-resource-name": "Direct Costs",
  "version": "1.1",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/direct_costs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Direct Cost Items",
    "description": "Returns a list of all Direct Cost Items for a Project.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Direct Costs"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID. Returns item(s) with the specified Origin ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[invoice_number]",
      "in": "query",
      "description": "Returns item(s) with the specified Invoice Number.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[payment_date]",
      "in": "query",
      "description": "Returns item(s) with a payment date within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[received_date]",
      "in": "query",
      "description": "Returns item(s) with a received date within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "description": "Array of direct costs items",
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Direct Cost Item. Use as the {id} path parameter to retrieve, update, or delete this item.",
            "example": 1
           },
           "amount": {
            "type": "string",
            "description": "Grand total of the Direct Cost Item, as a decimal string. For backwards compatibility this mirrors grand_total.",
            "example": "0.0"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the Direct Cost Item was created, in ISO 8601 format.",
            "example": "2012-10-23T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the Direct Cost Item was soft-deleted, in ISO 8601 format. Null for active items.",
            "example": "2017-07-29T21:39:40Z"
           },
           "description": {
            "type": "string",
            "description": "Free-text description of the Direct Cost Item.",
            "example": "Home Depot Purchase"
           },
           "direct_cost_type": {
            "type": "string",
            "description": "Category of the Direct Cost Item.",
            "enum": [
             "invoice",
             "expense",
             "payroll"
            ],
            "example": "invoice"
           },
           "direct_cost_date": {
            "type": "string",
            "format": "date",
            "description": "Date the direct cost was incurred, in YYYY-MM-DD format.",
            "example": "2016-12-14"
           },
           "grand_total": {
            "type": "string",
            "description": "Sum of all line item amounts on the Direct Cost Item, as a decimal string.",
            "example": "0.0"
           },
           "invoice_number": {
            "type": "string",
            "description": "Vendor invoice number. Present only for invoice-type items; must be unique per vendor within the tool.",
            "example": "ab-3456"
           },
           "origin_data": {
            "type": "string",
            "description": "Opaque third-party payload stored with the item for external-system integrations. Not interpreted by Procore.",
            "example": "OD-2398273424"
           },
           "origin_id": {
            "type": "string",
            "description": "Identifier of this item in the originating external system; used to correlate synced records.",
            "example": "px-1990"
           },
           "payment_date": {
            "type": "string",
            "format": "date",
            "description": "Date the direct cost was paid, in YYYY-MM-DD format.",
            "example": "2014-12-16"
           },
           "received_date": {
            "type": "string",
            "format": "date",
            "description": "Date the direct cost was received, in YYYY-MM-DD format.",
            "example": "2014-11-16"
           },
           "status": {
            "type": "string",
            "description": "Review/approval state of the Direct Cost Item.",
            "enum": [
             "draft",
             "pending",
             "revise_and_resubmit",
             "approved"
            ],
            "example": "pending"
           },
           "terms": {
            "type": "string",
            "description": "Agreed payment terms for the invoice (for example, Net 30).",
            "example": "Net 30"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the Direct Cost Item was last updated, in ISO 8601 format.",
            "example": "2012-10-24T21:39:40Z"
           },
           "vendor": {
            "type": "string",
            "description": "Display name of the vendor billed on the Direct Cost Item.",
            "example": "Steve's Plumbing and Hardware"
           },
           "vendor_id": {
            "type": "integer",
            "description": "Identifier of the vendor billed on the Direct Cost Item. Required for invoice-type items.",
            "example": 1
           },
           "vendor_name": {
            "type": "string",
            "description": "Display name of the vendor billed on the Direct Cost Item.",
            "example": "Steve's Plumbing and Hardware"
           },
           "currency_configuration": {
            "type": "object",
            "allOf": [
             {
              "properties": {
               "base_currency_iso_code": {
                "type": "string",
                "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                "example": "USD",
                "nullable": true
               },
               "currency_iso_code": {
                "type": "string",
                "description": "Currency ISO Code configured for the financial entity",
                "example": "EUR",
                "nullable": true
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "currency_exchange_rate": {
                "type": "string",
                "pattern": "^\\d+\\.\\d+$",
                "nullable": true,
                "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                "example": "1.5"
               }
              }
             }
            ]
           },
           "tax_breakdown": {
            "type": "object",
            "description": "Header-level tax rollup. Always included on the response as an object, including when Direct Cost taxes are disabled. tax_details is an empty array when no stored tax details are returned. Presence of this key does not mean taxes are enabled.",
            "properties": {
             "subtotal": {
              "type": "string",
              "description": "Sum of line-item amounts before tax",
              "example": "100.00"
             },
             "tax_total": {
              "type": "string",
              "description": "Total tax across all line items",
              "example": "12.00"
             },
             "grand_total": {
              "type": "string",
              "description": "subtotal plus tax_total",
              "example": "112.00"
             },
             "tax_details": {
              "type": "array",
              "description": "One entry per component tax code that produced tax on this Direct Cost",
              "items": {
               "type": "object",
               "properties": {
                "tax_code_id": {
                 "type": "integer",
                 "description": "Component tax code that produced this amount",
                 "example": 90
                },
                "tax_code_name": {
                 "type": "string",
                 "description": "Tax code name for tax_code_id",
                 "example": "GST-TEST-COMP"
                },
                "tax_code_rate": {
                 "type": "string",
                 "description": "Effective rate as a percentage",
                 "example": "5.0"
                },
                "amount": {
                 "type": "string",
                 "description": "Tax amount for this component, summed across line items",
                 "example": "5.00"
                },
                "taxable_amount": {
                 "type": "string",
                 "description": "Taxable basis this component was applied against",
                 "example": "100.00"
                },
                "selected_tax_code_id": {
                 "type": "integer",
                 "description": "Tax code selected on the line item",
                 "example": 93
                },
                "selected_tax_code_name": {
                 "type": "string",
                 "description": "Tax code name for selected_tax_code_id",
                 "example": "GRP-TEST"
                }
               }
              }
             }
            }
           },
           "employee": {
            "type": "object",
            "description": "Employee (project contact) associated with the Direct Cost Item.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Contact ID of the employee (references the project Contact record, not LoginInformation).",
              "example": 5
             },
             "name": {
              "type": "string",
              "description": "Display name of the employee.",
              "example": "Bob the Builder"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/direct_costs',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[origin_id]': 'SOME_STRING_VALUE',\n    'filters[invoice_number]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[payment_date]': 'SOME_STRING_VALUE',\n    'filters[received_date]': 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/direct_costs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Binvoice_number%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bpayment_date%5D=SOME_STRING_VALUE&filters%5Breceived_date%5D=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/direct_costs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Binvoice_number%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bpayment_date%5D=SOME_STRING_VALUE&filters%5Breceived_date%5D=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/direct_costs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE&filters%5Binvoice_number%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bpayment_date%5D=SOME_STRING_VALUE&filters%5Breceived_date%5D=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added currency_configuration to the output.",
      "description": "Creation of new response field currency_configuration, that will hold currency information for the invoice",
      "endpoint": "GET /projects/{project_id}/direct_costs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-06-28",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.0#list-direct-cost-items"
     },
     {
      "summary": "Add base_currency_iso_code and currency_exchange_rate to the response for the Direct Cost list endpoint",
      "description": "base_currency_iso_code and currency_exchange_rate are now displayed in the response for Direct Costs list",
      "endpoint": "GET /projects/{project_id}/direct_costs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-04-30",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#list-direct-cost-items"
     },
     {
      "summary": "Made currency configuration fields nullable and changed format in Direct Cost List v1.1 response",
      "description": "Made base_currency_iso_code, currency_exchange_rate, and currency_iso_code nullable in currency_configuration response",
      "endpoint": "GET /projects/{project_id}/direct_costs",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2025-01-19",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#list-direct-cost-items"
     },
     {
      "summary": "Always include tax_breakdown on Direct Cost list responses",
      "description": "tax_breakdown is now always present on project Direct Cost list responses, including when Direct Cost taxes are disabled. The value is always an object with subtotal, tax_total, grand_total, and tax_details. tax_details is an empty array when no stored tax details are returned. Presence of the key does not indicate whether taxes are enabled.",
      "endpoint": "GET /projects/{project_id}/direct_costs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-31",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.0#list-direct-cost-items"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Direct Cost Item",
    "description": "Create a new Direct Cost Item in the specified Project. The number of Line Items that can be sent in a single create request is limited to 100.",
    "tags": [
     "Direct Costs"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "direct_cost"
        ],
        "properties": {
         "attachments": {
          "type": "array",
          "description": "Direct Cost Item attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string"
          }
         },
         "direct_cost": {
          "title": "Direct Cost Item",
          "type": "object",
          "description": "Direct Cost Item object",
          "required": [
           "invoice_number",
           "vendor_id",
           "direct_cost_type"
          ],
          "properties": {
           "description": {
            "type": "string",
            "description": "Free-text description of the Direct Cost Item.",
            "example": "Invoice for April"
           },
           "direct_cost_date": {
            "type": "string",
            "format": "date",
            "description": "Date the direct cost was incurred, in YYYY-MM-DD format.",
            "example": "2016-12-14"
           },
           "employee_id": {
            "type": "integer",
            "description": "ID of the employee (project contact) associated with the Direct Cost Item.",
            "example": 43223
           },
           "invoice_number": {
            "type": "string",
            "description": "Unique identifier for a Direct Cost Item of type invoice. Is required only if `direct_cost_type` is set to `invoice`.",
            "example": "Invoice # abc123"
           },
           "origin_data": {
            "type": "string",
            "description": "Opaque third-party payload stored with the item for external-system integrations. Not interpreted by Procore.",
            "example": "OD-2398273424"
           },
           "origin_id": {
            "type": "string",
            "description": "Identifier of this item in the originating external system; used to correlate synced records.",
            "example": "px-1990"
           },
           "payment_date": {
            "type": "string",
            "format": "date",
            "description": "Date the direct cost was paid, in YYYY-MM-DD format.",
            "example": "2017-01-10"
           },
           "received_date": {
            "type": "string",
            "format": "date",
            "description": "Date the direct cost was received, in YYYY-MM-DD format.",
            "example": "2017-01-08"
           },
           "status": {
            "type": "string",
            "description": "Review/approval state of the Direct Cost Item.",
            "enum": [
             "draft",
             "pending",
             "revise_and_resubmit",
             "approved"
            ],
            "example": "approved"
           },
           "terms": {
            "type": "string",
            "description": "Agreed payment terms for the invoice (for example, Net 30).",
            "example": "Net 50"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the vendor (company contact) billed on the Direct Cost Item. Required when direct_cost_type is `invoice`.",
            "example": 23423
           },
           "direct_cost_type": {
            "type": "string",
            "description": "Category of the Direct Cost Item.",
            "enum": [
             "invoice",
             "expense",
             "payroll",
             "subcontractor_invoice"
            ],
            "example": "invoice"
           },
           "currency_configuration": {
            "type": "object",
            "description": "Multicurrency values for the Direct Cost Item. Only validated and persisted when object-level multicurrency is enabled for the project.",
            "properties": {
             "currency_iso_code": {
              "type": "string",
              "description": "ISO 4217 currency code for the item amounts.",
              "example": "USD"
             },
             "currency_exchange_rate": {
              "type": "number",
              "format": "float",
              "description": "Exchange rate used to convert the item currency to the project base currency.",
              "example": 0.65
             }
            }
           },
           "line_items": {
            "type": "array",
            "description": "Line items that should be assoicated with the direct cost item.",
            "items": {
             "title": "Direct Cost Line Item",
             "type": "object",
             "required": [
              "wbs_code_id"
             ],
             "properties": {
              "manual_amount": {
               "type": "number",
               "format": "float",
               "description": "Manually entered monetary amount for the line item.",
               "example": 1000
              },
              "wbs_code_id": {
               "type": "integer",
               "description": "ID of the WBS (Work Breakdown Structure) code to assign. Required when creating a line item.",
               "example": 1989
              },
              "description": {
               "type": "string",
               "description": "Free-text description of what the line item covers.",
               "example": "100' of Copper Piping"
              },
              "direct_cost_id": {
               "type": "integer",
               "description": "ID of the parent Direct Cost Item this line item belongs to.",
               "example": 81753
              },
              "origin_data": {
               "type": "string",
               "description": "Opaque third-party payload stored with the line item for external-system integrations. Not interpreted by Procore.",
               "example": "OD-2398273424"
              },
              "origin_id": {
               "type": "string",
               "description": "Identifier of this line item in the originating external system; used to correlate synced records.",
               "example": "px-1990"
              },
              "quantity": {
               "type": "number",
               "format": "float",
               "description": "Quantity of the described item. Multiplied by unit_cost to compute the extended amount.",
               "example": 82.0201
              },
              "ref": {
               "type": "string",
               "description": "Client-supplied reference passed on create to correlate the request with the response. Not persisted.",
               "example": "PQRS5678"
              },
              "tax_code_id": {
               "type": "integer",
               "description": "ID of the tax code applied to this line item.",
               "example": 1
              },
              "unit_cost": {
               "type": "number",
               "format": "float",
               "description": "Cost per unit of the described item.",
               "example": 12.03
              },
              "uom": {
               "type": "string",
               "description": "Unit of measure for the described item. Must be a value from the company's Units of Measure list.",
               "example": "cubic feet",
               "enum": [
                "Any value present in the Company list of Units of Measure"
               ]
              },
              "funding_rule_id": {
               "type": "integer",
               "nullable": true,
               "description": "ID of the funding rule associated with this line item. Funding Sources must be enabled at the project level. The rule must be ACTIVE and its currency must match the direct cost currency. Pass null to disassociate an existing funding rule.",
               "example": 12345
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Direct Cost Item. Use as the {id} path parameter to retrieve, update, or delete this item.",
           "example": 3
          },
          "attachments": {
           "type": "array",
           "description": "Files attached to the Direct Cost Item (for example, scanned invoices or receipts).",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "attachments_count": {
           "type": "integer",
           "description": "Number of files attached to the Direct Cost Item.",
           "example": 0
          },
          "company": {
           "type": "object",
           "description": "Company that owns the project this Direct Cost Item belongs to.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the company.",
             "example": 163215
            },
            "name": {
             "type": "string",
             "description": "Display name of the company.",
             "example": "Procore Tech"
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the Direct Cost Item was created, in ISO 8601 format.",
           "example": "2012-10-23T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the Direct Cost Item was soft-deleted, in ISO 8601 format. Null for active items.",
           "example": "2017-07-29T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Free-text description of the Direct Cost Item.",
           "example": "Home Depot Purchase"
          },
          "direct_cost_type": {
           "type": "string",
           "description": "Category of the Direct Cost Item.",
           "enum": [
            "invoice",
            "expense",
            "payroll"
           ],
           "example": "invoice"
          },
          "employee": {
           "type": "object",
           "description": "Employee (project contact) associated with the Direct Cost Item.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Contact ID of the employee (references the project Contact record, not LoginInformation).",
             "example": 5
            },
            "name": {
             "type": "string",
             "description": "Display name of the employee.",
             "example": "Bob the Builder"
            }
           }
          },
          "invoice_number": {
           "type": "string",
           "description": "Vendor invoice number. Present only for invoice-type items; must be unique per vendor within the tool.",
           "example": "ab-3456"
          },
          "direct_cost_date": {
           "type": "string",
           "format": "date",
           "description": "Date the direct cost was incurred, in YYYY-MM-DD format.",
           "example": "2014-10-16"
          },
          "origin_data": {
           "type": "string",
           "description": "Opaque third-party payload stored with the item for external-system integrations. Not interpreted by Procore.",
           "example": "OD-2398273424"
          },
          "origin_id": {
           "type": "string",
           "description": "Identifier of this item in the originating external system; used to correlate synced records.",
           "example": "px-1990"
          },
          "grand_total": {
           "type": "string",
           "description": "Sum of all line item amounts on the Direct Cost Item, as a decimal string.",
           "example": "0.0"
          },
          "line_items_count": {
           "type": "integer",
           "description": "Number of line items on the Direct Cost Item.",
           "example": 0
          },
          "payment_date": {
           "type": "string",
           "format": "date",
           "description": "Date the direct cost was paid, in YYYY-MM-DD format.",
           "example": "2014-12-16"
          },
          "project": {
           "type": "object",
           "description": "Project the Direct Cost Item belongs to.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the project.",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Display name of the project.",
             "example": "Children's Hospital"
            }
           }
          },
          "received_date": {
           "type": "string",
           "format": "date",
           "description": "Date the direct cost was received, in YYYY-MM-DD format.",
           "example": "2014-11-16"
          },
          "status": {
           "type": "string",
           "description": "Review/approval state of the Direct Cost Item.",
           "enum": [
            "draft",
            "pending",
            "revise_and_resubmit",
            "approved"
           ],
           "example": "pending"
          },
          "synced": {
           "type": "boolean",
           "description": "Whether the Direct Cost Item is linked to an external ERP/accounting system (has an origin ID or synced line items).",
           "example": false
          },
          "has_workflows": {
           "type": "boolean",
           "description": "Whether the Direct Cost Item has an active workflow (approval) instance assigned.",
           "example": false
          },
          "terms": {
           "type": "string",
           "description": "Agreed payment terms for the invoice (for example, Net 30).",
           "example": "Net 30"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the Direct Cost Item was last updated, in ISO 8601 format.",
           "example": "2012-10-24T21:39:40Z"
          },
          "vendor": {
           "type": "object",
           "description": "Vendor (company contact) billed on the Direct Cost Item.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the vendor.",
             "example": 8
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor.",
             "example": "Steve's Plumbing and Hardware"
            }
           }
          },
          "vendor_id": {
           "type": "integer",
           "description": "Identifier of the vendor billed on the Direct Cost Item. Required for invoice-type items.",
           "example": 1
          },
          "vendor_name": {
           "type": "string",
           "description": "Display name of the vendor billed on the Direct Cost Item.",
           "example": "Steves Plumbing and Hardware"
          },
          "currency_configuration": {
           "type": "object",
           "description": "Multicurrency configuration for the Direct Cost Item. Values are meaningful only when object-level multicurrency is enabled.",
           "properties": {
            "currency_iso_code": {
             "type": "string",
             "description": "ISO 4217 code of the currency the item amounts are recorded in.",
             "example": "USD"
            },
            "currency_exchange_rate": {
             "type": "string",
             "description": "Exchange rate used to convert the item currency to the project base currency, as a decimal string.",
             "example": "2.1"
            },
            "base_currency_iso_code": {
             "type": "string",
             "description": "ISO 4217 code of the project's base currency.",
             "example": "USD"
            }
           }
          },
          "tax_breakdown": {
           "type": "object",
           "description": "Header-level tax rollup. Always included on the response as an object, including when Direct Cost taxes are disabled. tax_details is an empty array when no stored tax details are returned. Presence of this key does not mean taxes are enabled.",
           "properties": {
            "subtotal": {
             "type": "string",
             "description": "Sum of line-item amounts before tax",
             "example": "100.00"
            },
            "tax_total": {
             "type": "string",
             "description": "Total tax across all line items",
             "example": "12.00"
            },
            "grand_total": {
             "type": "string",
             "description": "subtotal plus tax_total",
             "example": "112.00"
            },
            "tax_details": {
             "type": "array",
             "description": "One entry per component tax code that produced tax on this Direct Cost",
             "items": {
              "type": "object",
              "properties": {
               "tax_code_id": {
                "type": "integer",
                "description": "Component tax code that produced this amount",
                "example": 90
               },
               "tax_code_name": {
                "type": "string",
                "description": "Tax code name for tax_code_id",
                "example": "GST-TEST-COMP"
               },
               "tax_code_rate": {
                "type": "string",
                "description": "Effective rate as a percentage",
                "example": "5.0"
               },
               "amount": {
                "type": "string",
                "description": "Tax amount for this component, summed across line items",
                "example": "5.00"
               },
               "taxable_amount": {
                "type": "string",
                "description": "Taxable basis this component was applied against",
                "example": "100.00"
               },
               "selected_tax_code_id": {
                "type": "integer",
                "description": "Tax code selected on the line item",
                "example": 93
               },
               "selected_tax_code_name": {
                "type": "string",
                "description": "Tax code name for selected_tax_code_id",
                "example": "GRP-TEST"
               }
              }
             }
            }
           }
          },
          "line_items": {
           "type": "array",
           "description": "Line items belonging to the Direct Cost Item.",
           "items": {
            "title": "Direct Cost Line Item",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the line item.",
              "example": 4896147
             },
             "amount": {
              "type": "string",
              "description": "Bottom-line monetary amount of the line item, as a decimal string.",
              "example": "1000.0"
             },
             "company": {
              "type": "object",
              "description": "Company that owns the project this line item belongs to.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the company.",
                "example": 163215
               },
               "name": {
                "type": "string",
                "description": "Display name of the company.",
                "example": "Procore Tech"
               }
              }
             },
             "cost_code": {
              "oneOf": [
               {
                "title": "compact",
                "type": "object",
                "properties": {
                 "id": {
                  "description": "ID",
                  "example": 12345,
                  "nullable": true,
                  "type": "integer"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               {
                "type": "object",
                "title": "extended",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for this Cost Code record.",
                  "example": 12345
                 },
                 "biller": {
                  "type": "string",
                  "description": "Display name of the entity (project or sub job) that owns this cost code.",
                  "example": "Campus"
                 },
                 "biller_id": {
                  "type": "integer",
                  "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                  "example": 12345
                 },
                 "biller_type": {
                  "type": "string",
                  "enum": [
                   "Project",
                   "SubJob"
                  ],
                  "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                  "example": "Project"
                 },
                 "biller_origin_id": {
                  "type": "string",
                  "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                  "example": "98765",
                  "nullable": true
                 },
                 "budgeted": {
                  "type": "boolean",
                  "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                  "example": false
                 },
                 "code": {
                  "type": "string",
                  "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                  "example": "300"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                  "example": "2017-07-29T21:39:40Z"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the cost code.",
                  "example": "Earthwork"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                  "example": "OD-129947"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                  "example": "9874484"
                 },
                 "parent": {
                  "type": "object",
                  "description": "The immediate parent cost code of this record, if any.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                    "example": 2345
                   }
                  }
                 },
                 "position": {
                  "type": "integer",
                  "description": "Sort order of this cost code within its parent.",
                  "example": 1
                 },
                 "sortable_code": {
                  "type": "string",
                  "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                  "example": "02-300"
                 },
                 "standard_cost_code_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                  "example": 122334
                 },
                 "standard_cost_code_list_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                  "example": 133445,
                  "nullable": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "line_item_types": {
                  "type": "array",
                  "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                  "items": {
                   "type": "object",
                   "title": "LineItemType",
                   "description": "A line item type assigned to this cost code.",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique identifier for the Line Item Type.",
                     "example": 12345
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the Line Item Type.",
                     "example": "Equipment"
                    },
                    "code": {
                     "type": "string",
                     "description": "Short code used for CSV import of this Line Item Type.",
                     "example": "LB"
                    },
                    "base_type": {
                     "type": "string",
                     "enum": [
                      "equipment",
                      "materials",
                      "commitment",
                      "owner_cost",
                      "professional_services",
                      "labor",
                      "other"
                     ],
                     "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                     "example": "materials"
                    },
                    "origin_id": {
                     "type": "string",
                     "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                     "example": "ABC123",
                     "nullable": true
                    }
                   }
                  }
                 }
                }
               }
              ]
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the line item was created, in ISO 8601 format.",
              "example": "2016-08-01T23:33:54Z"
             },
             "currency_configuration": {
              "type": "object",
              "allOf": [
               {
                "properties": {
                 "base_currency_iso_code": {
                  "type": "string",
                  "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "USD",
                  "nullable": true
                 },
                 "currency_iso_code": {
                  "type": "string",
                  "description": "Currency ISO Code configured for the financial entity",
                  "example": "EUR",
                  "nullable": true
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "currency_exchange_rate": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$",
                  "nullable": true,
                  "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "1.5"
                 }
                }
               }
              ]
             },
             "description": {
              "type": "string",
              "description": "Free-text description of what the line item covers.",
              "example": "Cleanup"
             },
             "extended_type": {
              "type": "string",
              "description": "How the line item amount is derived. `calculated` means amount = quantity \u00d7 unit_cost; `manual` means the amount was entered directly.",
              "enum": [
               "manual",
               "calculated"
              ],
              "example": "calculated"
             },
             "line_item_type": {
              "type": "object",
              "title": "LineItemType",
              "description": "Cost category (line item type) assigned to this line item.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the line item type.",
                "example": 12345
               },
               "name": {
                "type": "string",
                "description": "Display name of the line item type.",
                "example": "Equipment"
               },
               "code": {
                "type": "string",
                "description": "Short code for the line item type.",
                "example": "LB"
               },
               "base_type": {
                "type": "string",
                "enum": [
                 "equipment",
                 "materials",
                 "commitment",
                 "owner_cost",
                 "professional_services",
                 "other"
                ],
                "description": "Underlying category the line item type maps to.",
                "example": "materials"
               },
               "origin_data": {
                "type": "string",
                "description": "Opaque third-party payload stored with the line item type for external integrations.",
                "example": "OD-2398273424"
               },
               "origin_id": {
                "type": "string",
                "description": "Identifier of the line item type in the originating external system. Null when not synced.",
                "example": "ABC123",
                "nullable": true
               }
              }
             },
             "origin_data": {
              "type": "string",
              "description": "Opaque third-party payload stored with the line item for external-system integrations. Not interpreted by Procore.",
              "example": "OD-39823232",
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "description": "Identifier of this line item in the originating external system; used to correlate synced records. Null when not synced.",
              "example": "239233",
              "nullable": true
             },
             "funding_rule_id": {
              "type": "integer",
              "description": "ID of the funding rule associated with this line item",
              "example": 12345,
              "nullable": true
             },
             "position": {
              "type": "integer",
              "description": "Sort order of the line item within its parent Direct Cost Item.",
              "example": 1
             },
             "quantity": {
              "type": "string",
              "format": "float",
              "description": "Quantity of the described item, as a decimal string. Multiplied by unit_cost when extended_type is calculated.",
              "example": "10.0"
             },
             "tax_code_id": {
              "type": "integer",
              "description": "Identifier of the tax code applied to this line item.",
              "example": 1
             },
             "total_amount": {
              "type": "string",
              "format": "float",
              "description": "Bottom-line monetary amount of the line item, as a decimal string. Equals quantity \u00d7 unit_cost when extended_type is calculated, or the entered value when manual. Currently identical to `amount` and `extended_amount` (Direct Costs does not implement markups).",
              "example": "1000.0"
             },
             "extended_amount": {
              "type": "string",
              "format": "float",
              "description": "Bottom-line monetary amount of the line item, as a decimal string. Equals quantity \u00d7 unit_cost when extended_type is calculated, or the entered value when manual. Currently identical to `amount` and `total_amount` (Direct Costs does not implement markups).",
              "example": "1000.0"
             },
             "unit_cost": {
              "type": "string",
              "format": "float",
              "description": "Cost per unit of the described item, as a decimal string.",
              "example": "100.0"
             },
             "uom": {
              "type": "string",
              "description": "Unit of measure for the described item (for example, Lbs, cubic feet). Must be a value from the company's Units of Measure list.",
              "example": "Lbs"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the line item was last updated, in ISO 8601 format.",
              "example": "2016-09-01T21:33:54Z"
             },
             "wbs_code": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Wbs Code ID",
                "example": 999
               },
               "flat_code": {
                "type": "string",
                "description": "Wbs Code",
                "example": "01-011.CT1"
               },
               "description": {
                "type": "string",
                "description": "Wbs Code Description",
                "example": "Project Engineer.Cost Type 1"
               }
              }
             },
             "ref": {
              "type": "string",
              "description": "Client-supplied reference passed on create to correlate the request with the response. Not persisted.",
              "example": "PQRS5678"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/direct_costs',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    attachments: ['string'],\n    direct_cost: {\n      description: 'Invoice for April',\n      direct_cost_date: '2016-12-14',\n      employee_id: 43223,\n      invoice_number: 'Invoice # abc123',\n      origin_data: 'OD-2398273424',\n      origin_id: 'px-1990',\n      payment_date: '2017-01-10',\n      received_date: '2017-01-08',\n      status: 'approved',\n      terms: 'Net 50',\n      vendor_id: 23423,\n      direct_cost_type: 'invoice',\n      currency_configuration: {currency_iso_code: 'USD', currency_exchange_rate: 0.65},\n      line_items: [\n        {\n          manual_amount: 1000,\n          wbs_code_id: 1989,\n          description: '100\\' of Copper Piping',\n          direct_cost_id: 81753,\n          origin_data: 'OD-2398273424',\n          origin_id: 'px-1990',\n          quantity: 82.0201,\n          ref: 'PQRS5678',\n          tax_code_id: 1,\n          unit_cost: 12.03,\n          uom: 'cubic feet',\n          funding_rule_id: 12345\n        }\n      ]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"attachments\\\":[\\\"string\\\"],\\\"direct_cost\\\":{\\\"description\\\":\\\"Invoice for April\\\",\\\"direct_cost_date\\\":\\\"2016-12-14\\\",\\\"employee_id\\\":43223,\\\"invoice_number\\\":\\\"Invoice # abc123\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"px-1990\\\",\\\"payment_date\\\":\\\"2017-01-10\\\",\\\"received_date\\\":\\\"2017-01-08\\\",\\\"status\\\":\\\"approved\\\",\\\"terms\\\":\\\"Net 50\\\",\\\"vendor_id\\\":23423,\\\"direct_cost_type\\\":\\\"invoice\\\",\\\"currency_configuration\\\":{\\\"currency_iso_code\\\":\\\"USD\\\",\\\"currency_exchange_rate\\\":0.65},\\\"line_items\\\":[{\\\"manual_amount\\\":1000,\\\"wbs_code_id\\\":1989,\\\"description\\\":\\\"100' of Copper Piping\\\",\\\"direct_cost_id\\\":81753,\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"px-1990\\\",\\\"quantity\\\":82.0201,\\\"ref\\\":\\\"PQRS5678\\\",\\\"tax_code_id\\\":1,\\\"unit_cost\\\":12.03,\\\"uom\\\":\\\"cubic feet\\\",\\\"funding_rule_id\\\":12345}]}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.1/projects/%7Bproject_id%7D/direct_costs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/direct_costs \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"attachments\":[\"string\"],\"direct_cost\":{\"description\":\"Invoice for April\",\"direct_cost_date\":\"2016-12-14\",\"employee_id\":43223,\"invoice_number\":\"Invoice # abc123\",\"origin_data\":\"OD-2398273424\",\"origin_id\":\"px-1990\",\"payment_date\":\"2017-01-10\",\"received_date\":\"2017-01-08\",\"status\":\"approved\",\"terms\":\"Net 50\",\"vendor_id\":23423,\"direct_cost_type\":\"invoice\",\"currency_configuration\":{\"currency_iso_code\":\"USD\",\"currency_exchange_rate\":0.65},\"line_items\":[{\"manual_amount\":1000,\"wbs_code_id\":1989,\"description\":\"100'\\'' of Copper Piping\",\"direct_cost_id\":81753,\"origin_data\":\"OD-2398273424\",\"origin_id\":\"px-1990\",\"quantity\":82.0201,\"ref\":\"PQRS5678\",\"tax_code_id\":1,\"unit_cost\":12.03,\"uom\":\"cubic feet\",\"funding_rule_id\":12345}]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/direct_costs\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"attachments\\\":[\\\"string\\\"],\\\"direct_cost\\\":{\\\"description\\\":\\\"Invoice for April\\\",\\\"direct_cost_date\\\":\\\"2016-12-14\\\",\\\"employee_id\\\":43223,\\\"invoice_number\\\":\\\"Invoice # abc123\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"px-1990\\\",\\\"payment_date\\\":\\\"2017-01-10\\\",\\\"received_date\\\":\\\"2017-01-08\\\",\\\"status\\\":\\\"approved\\\",\\\"terms\\\":\\\"Net 50\\\",\\\"vendor_id\\\":23423,\\\"direct_cost_type\\\":\\\"invoice\\\",\\\"currency_configuration\\\":{\\\"currency_iso_code\\\":\\\"USD\\\",\\\"currency_exchange_rate\\\":0.65},\\\"line_items\\\":[{\\\"manual_amount\\\":1000,\\\"wbs_code_id\\\":1989,\\\"description\\\":\\\"100' of Copper Piping\\\",\\\"direct_cost_id\\\":81753,\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"px-1990\\\",\\\"quantity\\\":82.0201,\\\"ref\\\":\\\"PQRS5678\\\",\\\"tax_code_id\\\":1,\\\"unit_cost\\\":12.03,\\\"uom\\\":\\\"cubic feet\\\",\\\"funding_rule_id\\\":12345}]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added line_items to the Direct Costs create endpoint",
      "description": "The direct costs endpoint will now accept line items to create along with the direct cost item. Attributes origin_id and origin_data are no longer accepted.",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "feature",
      "breaking": true,
      "datestamp": "2022-01-11",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     },
     {
      "summary": "Limit the number of Line Items that can be sent to the Direct Cost create endpoint",
      "description": "The number of Direct Cost Line Items that can be sent in a single POST request is now limited to 100",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2022-03-22",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     },
     {
      "summary": "Change key request param that can be sent for direct cost endpoint from item to direct_cost",
      "description": "When creating a direct cost using POST endpoint from the api, the request body param is now changed to direct_cost",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2022-05-23",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     },
     {
      "summary": "Changed amount to manual_amount and removed extended_type",
      "description": "Using manual_amount will set the amount of the line item to this value regardless of the unit_cost and quantity. extended_type was not being used.",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-09-15",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     },
     {
      "summary": "Added deleted_at parameter to the response",
      "description": "This parameter was listed in the response, but was not actually being returned with the API response",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-09-27",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     },
     {
      "summary": "Added currency_configuration to the output.",
      "description": "Creation of new response field currency_configuration, that will hold currency information for the invoice",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-06-28",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.0#create-direct-cost-item"
     },
     {
      "summary": "Add origin_id and origin_data to the request body for the Direct Cost create endpoint",
      "description": "origin_id and origin_data are now accepted in the request body for Direct Costs as well as Line Items",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-04-05",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     },
     {
      "summary": "Add base_currency_iso_code and currency_exchange_rate to the response for the Direct Cost create endpoint",
      "description": "base_currency_iso_code and currency_exchange_rate are now displayed in the response body for Direct Costs create",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-04-30",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     },
     {
      "summary": "Made currency configuration fields nullable and changed format in Direct Cost Create v1.1 response",
      "description": "Made base_currency_iso_code, currency_exchange_rate, and currency_iso_code nullable in currency_configuration response. Changed currency_exchange_rate format from float to string.",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2025-01-19",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     },
     {
      "summary": "Added funding_rule_id field to nested line items",
      "description": "Nested line items now include a funding_rule_id field with the ID of the funding rule associated with the line item, or null when unassociated.",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-08-25",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     },
     {
      "summary": "Accepts optional funding_rule_id on nested line items",
      "description": "Nested line items accept an optional funding_rule_id parameter associating the line item with a project-level funding rule.",
      "endpoint": "POST /projects/{project_id}/direct_costs",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-09-08",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "direct-costs?version=1.1#create-direct-cost-item"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/direct_costs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the Direct Cost Item.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Direct Cost Item",
    "description": "Show detail on specified Direct Cost Item.",
    "tags": [
     "Direct Costs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Direct Cost Item. Use as the {id} path parameter to retrieve, update, or delete this item.",
           "example": 3
          },
          "attachments": {
           "type": "array",
           "description": "Files attached to the Direct Cost Item (for example, scanned invoices or receipts).",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "URL",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "january_receipt_copy.jpg"
             }
            }
           }
          },
          "attachments_count": {
           "type": "integer",
           "description": "Number of files attached to the Direct Cost Item.",
           "example": 0
          },
          "company": {
           "type": "object",
           "description": "Company that owns the project this Direct Cost Item belongs to.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the company.",
             "example": 163215
            },
            "name": {
             "type": "string",
             "description": "Display name of the company.",
             "example": "Procore Tech"
            }
           }
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the Direct Cost Item was created, in ISO 8601 format.",
           "example": "2012-10-23T21:39:40Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the Direct Cost Item was soft-deleted, in ISO 8601 format. Null for active items.",
           "example": "2017-07-29T21:39:40Z"
          },
          "description": {
           "type": "string",
           "description": "Free-text description of the Direct Cost Item.",
           "example": "Home Depot Purchase"
          },
          "direct_cost_type": {
           "type": "string",
           "description": "Category of the Direct Cost Item.",
           "enum": [
            "invoice",
            "expense",
            "payroll"
           ],
           "example": "invoice"
          },
          "employee": {
           "type": "object",
           "description": "Employee (project contact) associated with the Direct Cost Item.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Contact ID of the employee (references the project Contact record, not LoginInformation).",
             "example": 5
            },
            "name": {
             "type": "string",
             "description": "Display name of the employee.",
             "example": "Bob the Builder"
            }
           }
          },
          "invoice_number": {
           "type": "string",
           "description": "Vendor invoice number. Present only for invoice-type items; must be unique per vendor within the tool.",
           "example": "ab-3456"
          },
          "direct_cost_date": {
           "type": "string",
           "format": "date",
           "description": "Date the direct cost was incurred, in YYYY-MM-DD format.",
           "example": "2014-10-16"
          },
          "origin_data": {
           "type": "string",
           "description": "Opaque third-party payload stored with the item for external-system integrations. Not interpreted by Procore.",
           "example": "OD-2398273424"
          },
          "origin_id": {
           "type": "string",
           "description": "Identifier of this item in the originating external system; used to correlate synced records.",
           "example": "px-1990"
          },
          "grand_total": {
           "type": "string",
           "description": "Sum of all line item amounts on the Direct Cost Item, as a decimal string.",
           "example": "0.0"
          },
          "line_items_count": {
           "type": "integer",
           "description": "Number of line items on the Direct Cost Item.",
           "example": 0
          },
          "payment_date": {
           "type": "string",
           "format": "date",
           "description": "Date the direct cost was paid, in YYYY-MM-DD format.",
           "example": "2014-12-16"
          },
          "project": {
           "type": "object",
           "description": "Project the Direct Cost Item belongs to.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the project.",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Display name of the project.",
             "example": "Children's Hospital"
            }
           }
          },
          "received_date": {
           "type": "string",
           "format": "date",
           "description": "Date the direct cost was received, in YYYY-MM-DD format.",
           "example": "2014-11-16"
          },
          "status": {
           "type": "string",
           "description": "Review/approval state of the Direct Cost Item.",
           "enum": [
            "draft",
            "pending",
            "revise_and_resubmit",
            "approved"
           ],
           "example": "pending"
          },
          "synced": {
           "type": "boolean",
           "description": "Whether the Direct Cost Item is linked to an external ERP/accounting system (has an origin ID or synced line items).",
           "example": false
          },
          "has_workflows": {
           "type": "boolean",
           "description": "Whether the Direct Cost Item has an active workflow (approval) instance assigned.",
           "example": false
          },
          "terms": {
           "type": "string",
           "description": "Agreed payment terms for the invoice (for example, Net 30).",
           "example": "Net 30"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when the Direct Cost Item was last updated, in ISO 8601 format.",
           "example": "2012-10-24T21:39:40Z"
          },
          "vendor": {
           "type": "object",
           "description": "Vendor (company contact) billed on the Direct Cost Item.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the vendor.",
             "example": 8
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor.",
             "example": "Steve's Plumbing and Hardware"
            }
           }
          },
          "vendor_id": {
           "type": "integer",
           "description": "Identifier of the vendor billed on the Direct Cost Item. Required for invoice-type items.",
           "example": 1
          },
          "vendor_name": {
           "type": "string",
           "description": "Display name of the vendor billed on the Direct Cost Item.",
           "example": "Steves Plumbing and Hardware"
          },
          "currency_configuration": {
           "type": "object",
           "description": "Multicurrency configuration for the Direct Cost Item. Values are meaningful only when object-level multicurrency is enabled.",
           "properties": {
            "currency_iso_code": {
             "type": "string",
             "description": "ISO 4217 code of the currency the item amounts are recorded in.",
             "example": "USD"
            },
            "currency_exchange_rate": {
             "type": "string",
             "description": "Exchange rate used to convert the item currency to the project base currency, as a decimal string.",
             "example": "2.1"
            },
            "base_currency_iso_code": {
             "type": "string",
             "description": "ISO 4217 code of the project's base currency.",
             "example": "USD"
            }
           }
          },
          "tax_breakdown": {
           "type": "object",
           "description": "Header-level tax rollup. Always included on the response as an object, including when Direct Cost taxes are disabled. tax_details is an empty array when no stored tax details are returned. Presence of this key does not mean taxes are enabled.",
           "properties": {
            "subtotal": {
             "type": "string",
             "description": "Sum of line-item amounts before tax",
             "example": "100.00"
            },
            "tax_total": {
             "type": "string",
             "description": "Total tax across all line items",
             "example": "12.00"
            },
            "grand_total": {
             "type": "string",
             "description": "subtotal plus tax_total",
             "example": "112.00"
            },
            "tax_details": {
             "type": "array",
             "description": "One entry per component tax code that produced tax on this Direct Cost",
             "items": {
              "type": "object",
              "properties": {
               "tax_code_id": {
                "type": "integer",
                "description": "Component tax code that produced this amount",
                "example": 90
               },
               "tax_code_name": {
                "type": "string",
                "description": "Tax code name for tax_code_id",
                "example": "GST-TEST-COMP"
               },
               "tax_code_rate": {
                "type": "string",
                "description": "Effective rate as a percentage",
                "example": "5.0"
               },
               "amount": {
                "type": "string",
                "description": "Tax amount for this component, summed across line items",
                "example": "5.00"
               },
               "taxable_amount": {
                "type": "string",
                "description": "Taxable basis this component was applied against",
                "example": "100.00"
               },
               "selected_tax_code_id": {
                "type": "integer",
                "description": "Tax code selected on the line item",
                "example": 93
               },
               "selected_tax_code_name": {
                "type": "string",
                "description": "Tax code name for selected_tax_code_id",
                "example": "GRP-TEST"
               }
              }
             }
            }
           }
          },
          "line_items": {
           "type": "array",
           "description": "Line items belonging to the Direct Cost Item.",
           "items": {
            "title": "Direct Cost Line Item",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the line item.",
              "example": 4896147
             },
             "amount": {
              "type": "string",
              "description": "Bottom-line monetary amount of the line item, as a decimal string.",
              "example": "1000.0"
             },
             "company": {
              "type": "object",
              "description": "Company that owns the project this line item belongs to.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier of the company.",
                "example": 163215
               },
               "name": {
                "type": "string",
                "description": "Display name of the company.",
                "example": "Procore Tech"
               }
              }
             },
             "cost_code": {
              "oneOf": [
               {
                "title": "compact",
                "type": "object",
                "properties": {
                 "id": {
                  "description": "ID",
                  "example": 12345,
                  "nullable": true,
                  "type": "integer"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full Cost code, including parent prefixes",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Earthwork"
                 }
                }
               },
               {
                "type": "object",
                "title": "extended",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for this Cost Code record.",
                  "example": 12345
                 },
                 "biller": {
                  "type": "string",
                  "description": "Display name of the entity (project or sub job) that owns this cost code.",
                  "example": "Campus"
                 },
                 "biller_id": {
                  "type": "integer",
                  "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                  "example": 12345
                 },
                 "biller_type": {
                  "type": "string",
                  "enum": [
                   "Project",
                   "SubJob"
                  ],
                  "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                  "example": "Project"
                 },
                 "biller_origin_id": {
                  "type": "string",
                  "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                  "example": "98765",
                  "nullable": true
                 },
                 "budgeted": {
                  "type": "boolean",
                  "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                  "example": false
                 },
                 "code": {
                  "type": "string",
                  "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                  "example": "300"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                  "example": "2017-07-29T21:39:40Z"
                 },
                 "full_code": {
                  "type": "string",
                  "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                  "example": "02-300"
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the cost code.",
                  "example": "Earthwork"
                 },
                 "origin_data": {
                  "type": "string",
                  "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                  "example": "OD-129947"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                  "example": "9874484"
                 },
                 "parent": {
                  "type": "object",
                  "description": "The immediate parent cost code of this record, if any.",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                    "example": 2345
                   }
                  }
                 },
                 "position": {
                  "type": "integer",
                  "description": "Sort order of this cost code within its parent.",
                  "example": 1
                 },
                 "sortable_code": {
                  "type": "string",
                  "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                  "example": "02-300"
                 },
                 "standard_cost_code_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                  "example": 122334
                 },
                 "standard_cost_code_list_id": {
                  "type": "integer",
                  "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                  "example": 133445,
                  "nullable": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                  "example": "2015-05-15T00:00:00Z"
                 },
                 "line_item_types": {
                  "type": "array",
                  "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                  "items": {
                   "type": "object",
                   "title": "LineItemType",
                   "description": "A line item type assigned to this cost code.",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Unique identifier for the Line Item Type.",
                     "example": 12345
                    },
                    "name": {
                     "type": "string",
                     "description": "Display name of the Line Item Type.",
                     "example": "Equipment"
                    },
                    "code": {
                     "type": "string",
                     "description": "Short code used for CSV import of this Line Item Type.",
                     "example": "LB"
                    },
                    "base_type": {
                     "type": "string",
                     "enum": [
                      "equipment",
                      "materials",
                      "commitment",
                      "owner_cost",
                      "professional_services",
                      "labor",
                      "other"
                     ],
                     "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                     "example": "materials"
                    },
                    "origin_id": {
                     "type": "string",
                     "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                     "example": "ABC123",
                     "nullable": true
                    }
                   }
                  }
                 }
                }
               }
              ]
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the line item was created, in ISO 8601 format.",
              "example": "2016-08-01T23:33:54Z"
             },
             "currency_configuration": {
              "type": "object",
              "allOf": [
               {
                "properties": {
                 "base_currency_iso_code": {
                  "type": "string",
                  "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "USD",
                  "nullable": true
                 },
                 "currency_iso_code": {
                  "type": "string",
                  "description": "Currency ISO Code configured for the financial entity",
                  "example": "EUR",
                  "nullable": true
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "currency_exchange_rate": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$",
                  "nullable": true,
                  "description": "Exchange Rate from currency_iso_code to base_currency_iso_code; It'll be populated only when multicurrency phase two feature flag is enabled",
                  "example": "1.5"
                 }
                }
               }
              ]
             },
             "description": {
              "type": "string",
              "description": "Free-text description of what the line item covers.",
              "example": "Cleanup"
             },
             "extended_type": {
              "type": "string",
              "description": "How the line item amount is derived. `calculated` means amount = quantity \u00d7 unit_cost; `manual` means the amount was entered directly.",
              "enum": [
               "manual",
               "calculated"
              ],
              "example": "calculated"
             },
             "line_item_type": {
              "type": "object",
              "title": "LineItemType",
              "description": "Cost category (line item type) assigned to this line item.",
              "properties": {
               "id": {
                "type": "integer",
[...]
