{
 "openapi": "3.0.0",
 "info": {
  "title": "Document Markup",
  "x-product-category": "Project Management",
  "x-tool-category": "Document Markup",
  "x-resource-name": "Document Markup",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/document_markup_downloadable_pdfs/find_or_create": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show or Create Document Markup Downloadable PDF",
    "description": "Find or Create Document Markup Downloadable PDF. Starts processing to create a downloadable PDF with markup. When completed, the same request will include a download URL for the PDF.\nitem_id, item_type, and attachment_id paramters are the same parameters included in the URL when viewing the attachment in procore.\nExample: app.procore.com/161072/project/submittal_logs/document_viewer?attachment_id=43&item_id=42&item_type=SubmittalLog&project_id=161072",
    "tags": [
     "Document Markup"
    ],
    "parameters": [
     {
      "name": "version_datetime",
      "in": "query",
      "description": "Optional ISO 8601 timestamp (UTC) used to retrieve the state of the document and its markup as of that point in time. Omit to retrieve the current version.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "project_id",
         "item_id",
         "item_type",
         "attachment_id"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "ID of the project that owns the item and its attachment."
         },
         "item_id": {
          "type": "integer",
          "description": "The ID of the parent item this document belongs to"
         },
         "item_type": {
          "type": "string",
          "example": "SubmittalLogApprover",
          "description": "The type of the parent item this document belongs to (eg SubmittalLog)"
         },
         "attachment_id": {
          "type": "integer",
          "description": "ID of the ProstoreFile (attachment) being marked up. Matches the `attachment_id` shown in the document viewer URL."
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Document Markup Downloadable PDF completed and download URL is included in the response.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "nullable": true,
           "description": "ID of the Document Markup Downloadable PDF record.",
           "example": 42
          },
          "error_message": {
           "type": "string",
           "nullable": true,
           "description": "Message describing a processing failure. Null for a completed PDF."
          },
          "status": {
           "type": "string",
           "description": "Processing state of the Downloadable PDF; always `completed` for this response.",
           "enum": [
            "completed"
           ],
           "example": "completed"
          },
          "url": {
           "type": "string",
           "description": "Temporary download URL for the completed marked-up PDF. Fetch this URL to download the file.",
           "example": "https://example.com/some_document_url"
          },
          "pusher_message_name": {
           "type": "string",
           "description": "Name of the Pusher message broadcast when this PDF's status changes. Subscribe to it to receive real-time processing updates.",
           "example": "downloadable_pdf_update_707"
          }
         }
        }
       }
      }
     },
     "202": {
      "description": "Document Markup Downloadable PDF job has been created and is processing.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID of the Document Markup Downloadable PDF record.",
           "example": 42
          },
          "error_message": {
           "type": "string",
           "nullable": true,
           "description": "Message describing a processing failure. Null while processing."
          },
          "status": {
           "type": "string",
           "description": "Processing state of the Downloadable PDF; always `processing` for this response.",
           "enum": [
            "processing"
           ],
           "example": "processing"
          },
          "url": {
           "type": "string",
           "nullable": true,
           "description": "Download URL for the marked-up PDF. Null until processing completes."
          },
          "pusher_message_name": {
           "type": "string",
           "description": "Name of the Pusher message broadcast when this PDF's status changes. Subscribe to it to be notified when processing finishes and the download URL becomes available.",
           "example": "downloadable_pdf_update_707"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Invalid params submitted",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Document Markup Downloadable PDF",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Document Markup Downloadable PDF not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Document Markup Downloadable PDF errored",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID of the Document Markup Downloadable PDF record.",
           "example": 42
          },
          "error_message": {
           "type": "string",
           "description": "Message describing why vector processing failed.",
           "example": "processing failed with error"
          },
          "status": {
           "type": "string",
           "description": "Processing state of the Downloadable PDF; always `error` for this response.",
           "enum": [
            "error"
           ],
           "example": "error"
          },
          "url": {
           "type": "string",
           "nullable": true,
           "description": "Download URL for the marked-up PDF. Null because processing failed."
          },
          "pusher_message_name": {
           "type": "string",
           "description": "Name of the Pusher message broadcast when this PDF's status changes. Subscribe to it to receive real-time processing updates.",
           "example": "downloadable_pdf_update_707"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating Document Markup Downloadable PDF",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/document_markup_downloadable_pdfs/find_or_create',\n  qs: {version_datetime: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {project_id: 0, item_id: 0, item_type: 'SubmittalLogApprover', attachment_id: 0},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":0,\\\"item_id\\\":0,\\\"item_type\\\":\\\"SubmittalLogApprover\\\",\\\"attachment_id\\\":0}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/document_markup_downloadable_pdfs/find_or_create?version_datetime=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/document_markup_downloadable_pdfs/find_or_create?version_datetime=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":0,\"item_id\":0,\"item_type\":\"SubmittalLogApprover\",\"attachment_id\":0}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/document_markup_downloadable_pdfs/find_or_create?version_datetime=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"project_id\\\":0,\\\"item_id\\\":0,\\\"item_type\\\":\\\"SubmittalLogApprover\\\",\\\"attachment_id\\\":0}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}