{
 "openapi": "3.1.0",
 "info": {
  "title": "Document Uploads",
  "version": "2.2",
  "x-resource-name": "Document Uploads",
  "x-product-category": "Project Management",
  "x-tool-category": "Document Management"
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.2/companies/{company_id}/projects/{project_id}/document_management/document_uploads/selected_uploads": {
   "post": {
    "description": "Returns selected Document Uploads for a Project.\n\nPass `view=ids_only` to receive an array of Document Upload ids instead of full objects.",
    "operationId": "DocumentUploadsV2Controller_getSelectedDocumentUploadListV2_2",
    "parameters": [
     {
      "name": "project_id",
      "required": true,
      "in": "path",
      "description": "Project ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "company_id",
      "required": true,
      "in": "path",
      "description": "Company ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "required": false,
      "in": "query",
      "description": "Optional response view. Omit or pass `default` for full Document Upload objects. `ids_only` returns an array of ids and raises the `per_page` ceiling from 100 to 5000. The published `per_page` maximum reflects the default view.",
      "schema": {
       "enum": [
        "default",
        "ids_only"
       ],
       "type": "string"
      }
     },
     {
      "name": "page",
      "required": false,
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "per_page",
      "required": false,
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "locale",
      "required": false,
      "in": "query",
      "description": "Language for the response to be translated into",
      "schema": {
       "type": "string",
       "enum": [
        "de-DE",
        "en-AE",
        "en-AU",
        "en-CA",
        "en-GB",
        "en-SG",
        "en",
        "es-ES",
        "es",
        "fr-CA",
        "fr-FR",
        "is-IS",
        "ja-JP",
        "pl-PL",
        "pseudo",
        "pt-BR",
        "th-TH",
        "zh-SG",
        "zh-TW",
        "nb-NO",
        "pt-PT",
        "it-IT"
       ]
      }
     },
     {
      "name": "sort",
      "required": false,
      "in": "query",
      "description": "Comma-separated set of attributes to sort the list of records by.\n    \nFormat: :primary_sort_attribute,:secondary_sort_attribute\n    \nValid sort attribute options are [<field_id>, id]",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "ids": {
          "description": "Array of Document Upload IDs to fetch.",
          "type": "array",
          "items": {
           "type": "string"
          }
         }
        },
        "required": [
         "ids"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Returns selected Project Document Uploads",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "number"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "number"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "example": "01FW7PE6TJTVC32HJ7JBJVBNJR"
             },
             "latest_event_id": {
              "type": "string",
              "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
              "description": "Event ID for optimistic concurrency control"
             },
             "fields": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                },
                "name": {
                 "type": "string",
                 "enum": [
                  "original_filename",
                  "format",
                  "type",
                  "name",
                  "description",
                  "revision",
                  "status",
                  "classification",
                  "project_stage",
                  "project",
                  "originator",
                  "volume",
                  "location",
                  "discipline",
                  "number",
                  "created_at",
                  "created_by",
                  "date_authored",
                  "authored_by",
                  "updated_at",
                  "updated_by",
                  "uploaded_at",
                  "uploaded_by",
                  "file_size",
                  "project_new",
                  "assigned_workflow",
                  "assigned_workflow_template",
                  "workflow_assignees",
                  "workflow_current_step_assignees",
                  "workflow_current_step",
                  "workflow_step_due_date",
                  "workflow_manager",
                  "workflow_status",
                  "workflow_template_version",
                  "workflow_pending_assignees",
                  "workflow_current_step_roles",
                  "version",
                  "in_active_workflow",
                  "workflow_completion_date",
                  "submitted_into_drawings",
                  "custom_field_id",
                  "submitted_into_drawings_by",
                  "submitted_into_drawings_at",
                  "cf_lov_entries",
                  "recycled_by",
                  "recycled_at",
                  "recycled_reason",
                  "action_required",
                  "document_stage",
                  "item_content",
                  "placeholder_assignee",
                  "placeholder_due_date",
                  "placeholder_created_by",
                  "package"
                 ]
                },
                "type": {
                 "type": "string",
                 "enum": [
                  "string",
                  "reference",
                  "lov_entry",
                  "lov_entries",
                  "rich_text",
                  "timestamp",
                  "numeric"
                 ]
                },
                "label": {
                 "type": "string",
                 "example": "Status"
                },
                "description": {
                 "type": "string",
                 "example": "The current status of a document that a workflow may set"
                },
                "values": {
                 "type": "array",
                 "items": {
                  "oneOf": [
                   {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string",
                      "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                     },
                     "code": {
                      "type": "string",
                      "example": "AN"
                     },
                     "label": {
                      "type": "string",
                      "example": "Approved as Noted"
                     },
                     "active": {
                      "type": "boolean",
                      "example": true
                     },
                     "tags": {
                      "type": "array",
                      "items": {
                       "type": "string"
                      }
                     },
                     "vendor_id": {
                      "type": "string",
                      "nullable": true,
                      "description": "Vendor id for this user-reference value. Present only when `include_user_field_vendors=true`. Null when the user has no vendor or the name is historical."
                     },
                     "vendor_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "Vendor name for this user-reference value. Present only when `include_user_field_vendors=true`. Null when the user has no vendor or the name is historical."
                     }
                    },
                    "required": [
                     "id",
                     "code",
                     "label",
                     "active",
                     "tags"
                    ]
                   },
                   {
                    "type": "object",
                    "properties": {
                     "label": {
                      "type": "string",
                      "example": "14.0"
                     }
                    },
                    "required": [
                     "label"
                    ]
                   }
                  ]
                 }
                },
                "label_source": {
                 "type": "string",
                 "enum": [
                  "MANUAL",
                  "NONE",
                  "FILENAME_SCRAPING",
                  "SCRAPING_FAILED",
                  "ML",
                  "ML_FAILED",
                  "SYSTEM",
                  "CONTAINER_MATCH"
                 ],
                 "example": "FILENAME_SCRAPING",
                 "description": "The source of the label for the field"
                }
               },
               "required": [
                "id",
                "name",
                "type",
                "label",
                "description",
                "values"
               ]
              }
             },
             "upload_status": {
              "type": "object",
              "example": "INCOMPLETE"
             },
             "integration_statuses": {
              "type": "object",
              "description": "Integration statuses for ML and filename scraping services",
              "example": {
               "ml": "in_progress",
               "filename_scraping": "completed"
              }
             },
             "position_within_container": {
              "type": "string",
              "example": "aaa"
             },
             "document_container_id": {
              "type": "object",
              "example": "f25577d8-50ce-43d7-a165-e3587babcca1"
             },
             "file_locked": {
              "type": "boolean",
              "example": false
             },
             "download_url": {
              "type": "string",
              "example": "document-service.procoretech-qa.com/rest/v1.0/companies/42/projects/42/document_uploads/01G0MZ21AD2CSKP96A5HBRY7BF/download"
             },
             "integrations": {
              "description": "Information about integration and processing statuses, references, etc.",
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "bim_processing": {
                  "description": "3D model file processing information, required to display 3D model files in the viewer",
                  "allOf": [
                   {
                    "type": "object",
                    "properties": {
                     "bim_file_extraction_id": {
                      "type": "object",
                      "example": "12345",
                      "description": "ID of 3D model file extraction"
                     },
                     "status": {
                      "type": "string",
                      "example": "in_progress",
                      "description": "Status of 3D model file processing",
                      "enum": [
                       "not_applicable",
                       "not_started",
                       "pending",
                       "in_progress",
                       "ready",
                       "error"
                      ]
                     },
                     "errors": {
                      "description": "Errors that occurred during 3D model file processing",
                      "type": "array",
                      "items": {
                       "type": "object",
                       "properties": {
                        "code": {
                         "type": "string",
                         "description": "Error code",
                         "example": "12345"
                        },
                        "type": {
                         "type": "string",
                         "description": "Error type",
                         "example": "SegmentationFaultErr"
                        },
                        "message": {
                         "type": "string",
                         "description": "Error message",
                         "example": "Sorry, we couldn't publish the file at this time. Please try again later."
                        }
                       },
                       "required": [
                        "code",
                        "type",
                        "message"
                       ]
                      }
                     }
                    },
                    "required": [
                     "bim_file_extraction_id",
                     "status",
                     "errors"
                    ]
                   }
                  ]
                 },
                 "workflow": {
                  "description": "Workflow integration information for this document revision. See `status` for blocking semantics.",
                  "allOf": [
                   {
                    "type": "object",
                    "properties": {
                     "status": {
                      "type": "string",
                      "example": "created",
                      "description": "Lifecycle status of the workflow integration. `created`, `creation_requested`, and `termination_requested` block recycle and other writes that would orphan an in-flight external workflow instance.",
                      "enum": [
                       "not_created",
                       "creation_requested",
                       "created",
                       "failed",
                       "ended",
                       "termination_requested",
                       "terminated",
                       "termination_failed"
                      ]
                     },
                     "workflow_instance_id": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the most recent workflow instance. Retained after the workflow ends or is terminated."
                     },
                     "latest_workflow_integration_event_timestamp": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z",
                      "description": "Timestamp of the most recent workflow lifecycle event (started/updated/ended)."
                     },
                     "latest_workflow_operation_event_timestamp": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z",
                      "description": "Timestamp of the most recent workflow operation metadata event (e.g. operation_ended)."
                     },
                     "operation_id": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the operation that created the workflow, if applicable.",
                      "nullable": true
                     },
                     "operation_type": {
                      "type": "string",
                      "example": "bulk_instance_create",
                      "description": "Type of the operation that created the workflow.",
                      "nullable": true
                     },
                     "termination_reason": {
                      "type": "string",
                      "example": "Document recycled by user",
                      "description": "Human-readable reason captured when a workflow was terminated."
                     },
                     "terminated_at": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z",
                      "description": "Timestamp when the workflow was terminated, if applicable."
                     },
                     "terminated_status_id": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the status the document revision was set to on workflow termination."
                     },
                     "selected_preset_id": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the workflow preset selected for this workflow instance."
                     }
                    }
                   }
                  ]
                 }
                },
                "required": [
                 "bim_processing"
                ]
               }
              ]
             },
             "match_criteria": {
              "type": "string",
              "description": "Identifier generated based on naming standard and file format used for grouping documents into containers.",
              "example": "TEST4-SP-I-17|application/pdf"
             },
             "upload_completed_at": {
              "type": "string",
              "example": "2025-01-01T12:00:00.000Z",
              "description": "The date and time when the document upload was completed."
             }
            },
            "required": [
             "id",
             "fields",
             "upload_status",
             "integration_statuses",
             "position_within_container",
             "document_container_id",
             "file_locked",
             "download_url"
            ]
           }
          }
         },
         "required": [
          "data"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request\n\nPossible reason codes:\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized\n\nPossible reason codes:\n- INVALID_TOKEN",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden\n\nPossible reason codes:\n- ACCESS_DENIED",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     }
    },
    "summary": "List Selected Document Uploads V2.2",
    "tags": [
     "Document Uploads V2"
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.2/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_uploads/selected_uploads',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    locale: 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {'content-type': 'application/json'},\n  body: {ids: ['string']},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"ids\\\":[\\\"string\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.2/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_uploads/selected_uploads?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v2.2/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_uploads/selected_uploads?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"ids\":[\"string\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.2/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_uploads/selected_uploads?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"ids\\\":[\\\"string\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add selected_uploads v2.2 returning HTTP 200",
      "description": "`POST /document_management/document_uploads/selected_uploads` v2.2 returns\nHTTP 200. The payload matches v2.1 (no `file_key`).",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/document_management/document_uploads/selected_uploads",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-09-10",
      "versions": [
       "2.2"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "document-uploads?version=2.2#list-selected-document-uploads-v22"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/document_management/document_uploads": {
   "get": {
    "description": "Returns Document Uploads for a Project.\n\nPass `view=ids_only` to receive an array of Document Upload ids instead of full objects.",
    "operationId": "DocumentUploadsV2Controller_getDocumentUploadListV2_1",
    "parameters": [
     {
      "name": "project_id",
      "required": true,
      "in": "path",
      "description": "Project ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "company_id",
      "required": true,
      "in": "path",
      "description": "Company ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "required": false,
      "in": "query",
      "description": "Optional response view. Omit or pass `default` for full Document Upload objects. `ids_only` returns an array of ids and raises the `per_page` ceiling from 100 to 5000. The published `per_page` maximum reflects the default view.",
      "schema": {
       "enum": [
        "default",
        "ids_only"
       ],
       "type": "string"
      }
     },
     {
      "name": "page",
      "required": false,
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "per_page",
      "required": false,
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "locale",
      "required": false,
      "in": "query",
      "description": "Language for the response to be translated into",
      "schema": {
       "type": "string",
       "enum": [
        "de-DE",
        "en-AE",
        "en-AU",
        "en-CA",
        "en-GB",
        "en-SG",
        "en",
        "es-ES",
        "es",
        "fr-CA",
        "fr-FR",
        "is-IS",
        "ja-JP",
        "pl-PL",
        "pseudo",
        "pt-BR",
        "th-TH",
        "zh-SG",
        "zh-TW",
        "nb-NO",
        "pt-PT",
        "it-IT"
       ]
      }
     },
     {
      "name": "search",
      "required": false,
      "in": "query",
      "description": "Search records by [original_filename, file_format, format, type, name, description, revision, status, classification, project_stage, project, originator, volume, location, discipline, number, created_at, created_by, date_authored, authored_by, updated_at, updated_by, uploaded_at, uploaded_by, file_size, project_new, assigned_workflow, assigned_workflow_template, workflow_assignees, workflow_current_step_assignees, workflow_current_step, workflow_step_due_date, workflow_manager, workflow_status, workflow_template_version, workflow_pending_assignees, workflow_current_step_roles, version, in_active_workflow, workflow_completion_date, submitted_into_drawings, custom_field_id, submitted_into_drawings_by, submitted_into_drawings_at, cf_lov_entries, action_required, document_stage, item_content, placeholder_assignee, placeholder_due_date, placeholder_created_by, package]",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "required": false,
      "in": "query",
      "description": "Comma-separated set of attributes to sort the list of records by.\n    \nFormat: :primary_sort_attribute,:secondary_sort_attribute\n    \nValid sort attribute options are [<field_id>, id]",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters",
      "required": false,
      "in": "query",
      "description": "Object with whitelisted Field ids as keys and their corresponding MetadataValue id, MetadataValue ids array, or primitive string value as values.\nValid filterable fields are:\noriginal_filename,\nfile_format,\nformat,\ntype,\nname,\ndescription,\nrevision,\nstatus,\nclassification,\nproject_stage,\nproject,\noriginator,\nvolume,\nlocation,\ndiscipline,\nnumber,\ncreated_at,\ncreated_by,\ndate_authored,\nauthored_by,\nupdated_at,\nupdated_by,\nuploaded_at,\nuploaded_by,\nfile_size,\nproject_new,\nassigned_workflow,\nassigned_workflow_template,\nworkflow_assignees,\nworkflow_current_step_assignees,\nworkflow_current_step,\nworkflow_step_due_date,\nworkflow_manager,\nworkflow_status,\nworkflow_template_version,\nworkflow_pending_assignees,\nworkflow_current_step_roles,\nversion,\nin_active_workflow,\nworkflow_completion_date,\nsubmitted_into_drawings,\ncustom_field_id,\nsubmitted_into_drawings_by,\nsubmitted_into_drawings_at,\ncf_lov_entries,\naction_required,\ndocument_stage,\nitem_content,\nplaceholder_assignee,\nplaceholder_due_date,\nplaceholder_created_by,\npackage,\nid,\nids,\ndocument_container_id,\nsaved_view_id,\nupload_collection_id",
      "schema": {
       "type": "object",
       "properties": {
        "original_filename": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "file_format": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "format": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "type": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "name": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "description": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "revision": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "status": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "classification": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "project_stage": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "project": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "originator": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "volume": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "location": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "discipline": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "number": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "created_at": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "created_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "date_authored": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "authored_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "updated_at": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "updated_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "uploaded_at": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "uploaded_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "file_size": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "project_new": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "assigned_workflow": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "assigned_workflow_template": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_assignees": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_current_step_assignees": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_current_step": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_step_due_date": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_manager": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_status": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_template_version": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_pending_assignees": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_current_step_roles": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "version": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "in_active_workflow": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_completion_date": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "submitted_into_drawings": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "custom_field_id": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "submitted_into_drawings_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "submitted_into_drawings_at": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "cf_lov_entries": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "action_required": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "document_stage": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "item_content": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "placeholder_assignee": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "placeholder_due_date": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "placeholder_created_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "package": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "id": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "ids": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "document_container_id": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "saved_view_id": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "upload_collection_id": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        }
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Returns Project Document Uploads",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "number"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "number"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "example": "01FW7PE6TJTVC32HJ7JBJVBNJR"
             },
             "latest_event_id": {
              "type": "string",
              "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
              "description": "Event ID for optimistic concurrency control"
             },
             "fields": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                },
                "name": {
                 "type": "string",
                 "enum": [
                  "original_filename",
                  "format",
                  "type",
                  "name",
                  "description",
                  "revision",
                  "status",
                  "classification",
                  "project_stage",
                  "project",
                  "originator",
                  "volume",
                  "location",
                  "discipline",
                  "number",
                  "created_at",
                  "created_by",
                  "date_authored",
                  "authored_by",
                  "updated_at",
                  "updated_by",
                  "uploaded_at",
                  "uploaded_by",
                  "file_size",
                  "project_new",
                  "assigned_workflow",
                  "assigned_workflow_template",
                  "workflow_assignees",
                  "workflow_current_step_assignees",
                  "workflow_current_step",
                  "workflow_step_due_date",
                  "workflow_manager",
                  "workflow_status",
                  "workflow_template_version",
                  "workflow_pending_assignees",
                  "workflow_current_step_roles",
                  "version",
                  "in_active_workflow",
                  "workflow_completion_date",
                  "submitted_into_drawings",
                  "custom_field_id",
                  "submitted_into_drawings_by",
                  "submitted_into_drawings_at",
                  "cf_lov_entries",
                  "recycled_by",
                  "recycled_at",
                  "recycled_reason",
                  "action_required",
                  "document_stage",
                  "item_content",
                  "placeholder_assignee",
                  "placeholder_due_date",
                  "placeholder_created_by",
                  "package"
                 ]
                },
                "type": {
                 "type": "string",
                 "enum": [
                  "string",
                  "reference",
                  "lov_entry",
                  "lov_entries",
                  "rich_text",
                  "timestamp",
                  "numeric"
                 ]
                },
                "label": {
                 "type": "string",
                 "example": "Status"
                },
                "description": {
                 "type": "string",
                 "example": "The current status of a document that a workflow may set"
                },
                "values": {
                 "type": "array",
                 "items": {
                  "oneOf": [
                   {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string",
                      "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                     },
                     "code": {
                      "type": "string",
                      "example": "AN"
                     },
                     "label": {
                      "type": "string",
                      "example": "Approved as Noted"
                     },
                     "active": {
                      "type": "boolean",
                      "example": true
                     },
                     "tags": {
                      "type": "array",
                      "items": {
                       "type": "string"
                      }
                     },
                     "vendor_id": {
                      "type": "string",
                      "nullable": true,
                      "description": "Vendor id for this user-reference value. Present only when `include_user_field_vendors=true`. Null when the user has no vendor or the name is historical."
                     },
                     "vendor_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "Vendor name for this user-reference value. Present only when `include_user_field_vendors=true`. Null when the user has no vendor or the name is historical."
                     }
                    },
                    "required": [
                     "id",
                     "code",
                     "label",
                     "active",
                     "tags"
                    ]
                   },
                   {
                    "type": "object",
                    "properties": {
                     "label": {
                      "type": "string",
                      "example": "14.0"
                     }
                    },
                    "required": [
                     "label"
                    ]
                   }
                  ]
                 }
                },
                "label_source": {
                 "type": "string",
                 "enum": [
                  "MANUAL",
                  "NONE",
                  "FILENAME_SCRAPING",
                  "SCRAPING_FAILED",
                  "ML",
                  "ML_FAILED",
                  "SYSTEM",
                  "CONTAINER_MATCH"
                 ],
                 "example": "FILENAME_SCRAPING",
                 "description": "The source of the label for the field"
                }
               },
               "required": [
                "id",
                "name",
                "type",
                "label",
                "description",
                "values"
               ]
              }
             },
             "upload_status": {
              "type": "object",
              "example": "INCOMPLETE"
             },
             "integration_statuses": {
              "type": "object",
              "description": "Integration statuses for ML and filename scraping services",
              "example": {
               "ml": "in_progress",
               "filename_scraping": "completed"
              }
             },
             "position_within_container": {
              "type": "string",
              "example": "aaa"
             },
             "document_container_id": {
              "type": "object",
              "example": "f25577d8-50ce-43d7-a165-e3587babcca1"
             },
             "file_locked": {
              "type": "boolean",
              "example": false
             },
             "download_url": {
              "type": "string",
              "example": "document-service.procoretech-qa.com/rest/v1.0/companies/42/projects/42/document_uploads/01G0MZ21AD2CSKP96A5HBRY7BF/download"
             },
             "integrations": {
              "description": "Information about integration and processing statuses, references, etc.",
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "bim_processing": {
                  "description": "3D model file processing information, required to display 3D model files in the viewer",
                  "allOf": [
                   {
                    "type": "object",
                    "properties": {
                     "bim_file_extraction_id": {
                      "type": "object",
                      "example": "12345",
                      "description": "ID of 3D model file extraction"
                     },
                     "status": {
                      "type": "string",
                      "example": "in_progress",
                      "description": "Status of 3D model file processing",
                      "enum": [
                       "not_applicable",
                       "not_started",
                       "pending",
                       "in_progress",
                       "ready",
                       "error"
                      ]
                     },
                     "errors": {
                      "description": "Errors that occurred during 3D model file processing",
                      "type": "array",
                      "items": {
                       "type": "object",
                       "properties": {
                        "code": {
                         "type": "string",
                         "description": "Error code",
                         "example": "12345"
                        },
                        "type": {
                         "type": "string",
                         "description": "Error type",
                         "example": "SegmentationFaultErr"
                        },
                        "message": {
                         "type": "string",
                         "description": "Error message",
                         "example": "Sorry, we couldn't publish the file at this time. Please try again later."
                        }
                       },
                       "required": [
                        "code",
                        "type",
                        "message"
                       ]
                      }
                     }
                    },
                    "required": [
                     "bim_file_extraction_id",
                     "status",
                     "errors"
                    ]
                   }
                  ]
                 },
                 "workflow": {
                  "description": "Workflow integration information for this document revision. See `status` for blocking semantics.",
                  "allOf": [
                   {
                    "type": "object",
                    "properties": {
                     "status": {
                      "type": "string",
                      "example": "created",
                      "description": "Lifecycle status of the workflow integration. `created`, `creation_requested`, and `termination_requested` block recycle and other writes that would orphan an in-flight external workflow instance.",
                      "enum": [
                       "not_created",
                       "creation_requested",
                       "created",
                       "failed",
                       "ended",
                       "termination_requested",
                       "terminated",
                       "termination_failed"
                      ]
                     },
                     "workflow_instance_id": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the most recent workflow instance. Retained after the workflow ends or is terminated."
                     },
                     "latest_workflow_integration_event_timestamp": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z",
                      "description": "Timestamp of the most recent workflow lifecycle event (started/updated/ended)."
                     },
                     "latest_workflow_operation_event_timestamp": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z",
                      "description": "Timestamp of the most recent workflow operation metadata event (e.g. operation_ended)."
                     },
                     "operation_id": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the operation that created the workflow, if applicable.",
                      "nullable": true
                     },
                     "operation_type": {
                      "type": "string",
                      "example": "bulk_instance_create",
                      "description": "Type of the operation that created the workflow.",
                      "nullable": true
                     },
                     "termination_reason": {
                      "type": "string",
                      "example": "Document recycled by user",
                      "description": "Human-readable reason captured when a workflow was terminated."
                     },
                     "terminated_at": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z",
                      "description": "Timestamp when the workflow was terminated, if applicable."
                     },
                     "terminated_status_id": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the status the document revision was set to on workflow termination."
                     },
                     "selected_preset_id": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the workflow preset selected for this workflow instance."
                     }
                    }
                   }
                  ]
                 }
                },
                "required": [
                 "bim_processing"
                ]
               }
              ]
             },
             "match_criteria": {
              "type": "string",
              "description": "Identifier generated based on naming standard and file format used for grouping documents into containers.",
              "example": "TEST4-SP-I-17|application/pdf"
             },
             "upload_completed_at": {
              "type": "string",
              "example": "2025-01-01T12:00:00.000Z",
              "description": "The date and time when the document upload was completed."
             }
            },
            "required": [
             "id",
             "fields",
             "upload_status",
             "integration_statuses",
             "position_within_container",
             "document_container_id",
             "file_locked",
             "download_url"
            ]
           }
          }
         },
         "required": [
          "data"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request\n\nPossible reason codes:\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized\n\nPossible reason codes:\n- INVALID_TOKEN",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden\n\nPossible reason codes:\n- ACCESS_DENIED",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     }
    },
    "summary": "List Document Uploads V2.1",
    "tags": [
     "Document Uploads V2"
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_uploads',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    locale: 'SOME_STRING_VALUE',\n    search: 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    filters: 'SOME_OBJECT_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_uploads?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&search=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters=SOME_OBJECT_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_uploads?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&search=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters=SOME_OBJECT_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_uploads?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&search=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters=SOME_OBJECT_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/document_management/document_uploads/recycled_uploads": {
   "get": {
    "description": "Returns recycled standalone uploads and recycled placeholders (empty and filled) for the Recycle Bin. The item_content field identifies whether a row is a placeholder or a standalone upload. For users with Uploads access, download_url is populated for rows that have an uploaded file and null otherwise; for users without Uploads access, file data is redacted on all rows. The recycled_by field in the fields array contains the user who recycled the item.\n\nPass `view=ids_only` to receive an array of Document Upload ids instead of full objects.",
    "operationId": "DocumentUploadsV2Controller_getRecycledDocumentUploadsV2_1",
    "parameters": [
     {
      "name": "project_id",
      "required": true,
      "in": "path",
      "description": "Project ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "company_id",
      "required": true,
      "in": "path",
      "description": "Company ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "required": false,
      "in": "query",
      "description": "Optional response view. Omit or pass `default` for full Recycled Document Upload objects. `ids_only` returns an array of ids and raises the `per_page` ceiling from 100 to 5000. The published `per_page` maximum reflects the default view.",
      "schema": {
       "enum": [
        "default",
        "ids_only"
       ],
       "type": "string"
      }
     },
     {
      "name": "page",
      "required": false,
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "per_page",
      "required": false,
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "locale",
      "required": false,
      "in": "query",
      "description": "Language for the response to be translated into",
      "schema": {
       "type": "string",
       "enum": [
        "de-DE",
        "en-AE",
        "en-AU",
        "en-CA",
        "en-GB",
        "en-SG",
        "en",
        "es-ES",
        "es",
        "fr-CA",
        "fr-FR",
        "is-IS",
        "ja-JP",
        "pl-PL",
        "pseudo",
        "pt-BR",
        "th-TH",
        "zh-SG",
        "zh-TW",
        "nb-NO",
        "pt-PT",
        "it-IT"
       ]
      }
     },
     {
      "name": "search",
      "required": false,
      "in": "query",
      "description": "Search records by [original_filename, file_format, format, type, name, description, revision, status, classification, project_stage, project, originator, volume, location, discipline, number, created_at, created_by, date_authored, authored_by, updated_at, updated_by, uploaded_at, uploaded_by, file_size, project_new, assigned_workflow, assigned_workflow_template, workflow_assignees, workflow_current_step_assignees, workflow_current_step, workflow_step_due_date, workflow_manager, workflow_status, workflow_template_version, workflow_pending_assignees, workflow_current_step_roles, version, in_active_workflow, workflow_completion_date, submitted_into_drawings, custom_field_id, submitted_into_drawings_by, submitted_into_drawings_at, cf_lov_entries, recycled_by, recycled_at, recycled_reason, action_required, document_stage, item_content, placeholder_assignee, placeholder_due_date, placeholder_created_by, package]",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "required": false,
      "in": "query",
      "description": "Comma-separated set of attributes to sort the list of records by.\n    \nFormat: :primary_sort_attribute,:secondary_sort_attribute\n    \nValid sort attribute options are [<field_id>, id]",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters",
      "required": false,
      "in": "query",
      "description": "Object with whitelisted Field ids as keys and their corresponding MetadataValue id, MetadataValue ids array, or primitive string value as values.\nValid filterable fields are:\noriginal_filename,\nfile_format,\nformat,\ntype,\nname,\ndescription,\nrevision,\nstatus,\nclassification,\nproject_stage,\nproject,\noriginator,\nvolume,\nlocation,\ndiscipline,\nnumber,\ncreated_at,\ncreated_by,\ndate_authored,\nauthored_by,\nupdated_at,\nupdated_by,\nuploaded_at,\nuploaded_by,\nfile_size,\nproject_new,\nassigned_workflow,\nassigned_workflow_template,\nworkflow_assignees,\nworkflow_current_step_assignees,\nworkflow_current_step,\nworkflow_step_due_date,\nworkflow_manager,\nworkflow_status,\nworkflow_template_version,\nworkflow_pending_assignees,\nworkflow_current_step_roles,\nversion,\nin_active_workflow,\nworkflow_completion_date,\nsubmitted_into_drawings,\ncustom_field_id,\nsubmitted_into_drawings_by,\nsubmitted_into_drawings_at,\ncf_lov_entries,\nrecycled_by,\nrecycled_at,\nrecycled_reason,\naction_required,\ndocument_stage,\nitem_content,\nplaceholder_assignee,\nplaceholder_due_date,\nplaceholder_created_by,\npackage,\nid,\nids",
      "schema": {
       "type": "object",
       "properties": {
        "original_filename": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "file_format": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "format": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "type": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "name": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "description": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "revision": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "status": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "classification": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "project_stage": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "project": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "originator": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "volume": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "location": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "discipline": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "number": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "created_at": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "created_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "date_authored": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "authored_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "updated_at": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "updated_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "uploaded_at": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "uploaded_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "file_size": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "project_new": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "assigned_workflow": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "assigned_workflow_template": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_assignees": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_current_step_assignees": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_current_step": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_step_due_date": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_manager": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_status": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_template_version": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_pending_assignees": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_current_step_roles": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "version": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "in_active_workflow": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "workflow_completion_date": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "submitted_into_drawings": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "custom_field_id": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "submitted_into_drawings_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "submitted_into_drawings_at": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "cf_lov_entries": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "recycled_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "recycled_at": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "recycled_reason": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "action_required": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "document_stage": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "item_content": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "placeholder_assignee": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "placeholder_due_date": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "placeholder_created_by": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "package": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "id": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        },
        "ids": {
         "oneOf": [
          {
           "type": "string"
          },
          {
           "type": "array",
           "items": {
            "type": "string"
           }
          }
         ]
        }
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Returns Recycled Document Uploads and Placeholders for a Project",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "number"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "number"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "example": "01FW7PE6TJTVC32HJ7JBJVBNJR"
             },
             "latest_event_id": {
              "type": "string",
              "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
              "description": "Event ID for optimistic concurrency control"
             },
             "fields": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                },
                "name": {
                 "type": "string",
                 "enum": [
                  "original_filename",
                  "format",
                  "type",
                  "name",
                  "description",
                  "revision",
                  "status",
                  "classification",
                  "project_stage",
                  "project",
                  "originator",
                  "volume",
                  "location",
                  "discipline",
                  "number",
                  "created_at",
                  "created_by",
                  "date_authored",
                  "authored_by",
                  "updated_at",
                  "updated_by",
                  "uploaded_at",
                  "uploaded_by",
                  "file_size",
                  "project_new",
                  "assigned_workflow",
                  "assigned_workflow_template",
                  "workflow_assignees",
                  "workflow_current_step_assignees",
                  "workflow_current_step",
                  "workflow_step_due_date",
                  "workflow_manager",
                  "workflow_status",
                  "workflow_template_version",
                  "workflow_pending_assignees",
                  "workflow_current_step_roles",
                  "version",
                  "in_active_workflow",
                  "workflow_completion_date",
                  "submitted_into_drawings",
                  "custom_field_id",
                  "submitted_into_drawings_by",
                  "submitted_into_drawings_at",
                  "cf_lov_entries",
                  "recycled_by",
                  "recycled_at",
                  "recycled_reason",
                  "action_required",
                  "document_stage",
                  "item_content",
                  "placeholder_assignee",
                  "placeholder_due_date",
                  "placeholder_created_by",
                  "package"
                 ]
                },
                "type": {
                 "type": "string",
                 "enum": [
                  "string",
                  "reference",
                  "lov_entry",
                  "lov_entries",
                  "rich_text",
                  "timestamp",
                  "numeric"
                 ]
                },
                "label": {
                 "type": "string",
                 "example": "Status"
                },
                "description": {
                 "type": "string",
                 "example": "The current status of a document that a workflow may set"
                },
                "values": {
                 "type": "array",
                 "items": {
                  "oneOf": [
                   {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string",
                      "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                     },
                     "code": {
                      "type": "string",
                      "example": "AN"
                     },
                     "label": {
                      "type": "string",
[...]
