{
 "openapi": "3.1.0",
 "info": {
  "title": "Document Revisions",
  "version": "2.2",
  "x-resource-name": "Document Revisions",
  "x-product-category": "Project Management",
  "x-tool-category": "Document Management"
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.2/companies/{company_id}/projects/{project_id}/document_management/document_revisions/selected_revisions": {
   "post": {
    "description": "Returns details for selected document revision IDs in a project.\n\nPass `view=ids_only` to receive an array of Document Revision ids instead of full objects.",
    "operationId": "DocumentRevisionsV2Controller_getSelectedDocumentRevisionListV2_2",
    "parameters": [
     {
      "name": "company_id",
      "required": true,
      "in": "path",
      "description": "Unique identifier for the company",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "required": true,
      "in": "path",
      "description": "Unique identifier for the project",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "required": false,
      "in": "query",
      "description": "Optional response view. Omit or pass `default` for full Document Revision objects. `ids_only` returns an array of ids and raises the `per_page` ceiling from 100 to 5000. The published `per_page` maximum reflects the default view.",
      "schema": {
       "enum": [
        "default",
        "ids_only"
       ],
       "type": "string"
      }
     },
     {
      "name": "page",
      "required": false,
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "per_page",
      "required": false,
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "locale",
      "required": false,
      "in": "query",
      "description": "Language for the response to be translated into",
      "schema": {
       "type": "string",
       "enum": [
        "de-DE",
        "en-AE",
        "en-AU",
        "en-CA",
        "en-GB",
        "en-SG",
        "en",
        "es-ES",
        "es",
        "fr-CA",
        "fr-FR",
        "is-IS",
        "ja-JP",
        "pl-PL",
        "pseudo",
        "pt-BR",
        "th-TH",
        "zh-SG",
        "zh-TW",
        "nb-NO",
        "pt-PT",
        "it-IT"
       ]
      }
     },
     {
      "name": "sort",
      "required": false,
      "in": "query",
      "description": "Comma-separated set of attributes to sort the list of records by.\n    \nFormat: :primary_sort_attribute,:secondary_sort_attribute\n    \nValid sort attribute options are [<field_id>, file_format, file_size, created_at, uploaded_at]",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "ids": {
          "description": "Array of Document Revision IDs to fetch.",
          "type": "array",
          "items": {
           "type": "string"
          }
         }
        },
        "required": [
         "ids"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Returns selected Project Document Revisions",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "number"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "number"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "default",
           "type": "object",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "f25577d8-50ce-43d7-a165-e3587babcca1"
               },
               "fields": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                  },
                  "name": {
                   "type": "string",
                   "enum": [
                    "original_filename",
                    "format",
                    "type",
                    "name",
                    "description",
                    "revision",
                    "status",
                    "classification",
                    "project_stage",
                    "project",
                    "originator",
                    "volume",
                    "location",
                    "discipline",
                    "number",
                    "created_at",
                    "created_by",
                    "date_authored",
                    "authored_by",
                    "updated_at",
                    "updated_by",
                    "uploaded_at",
                    "uploaded_by",
                    "file_size",
                    "project_new",
                    "assigned_workflow",
                    "assigned_workflow_template",
                    "workflow_assignees",
                    "workflow_current_step_assignees",
                    "workflow_current_step",
                    "workflow_step_due_date",
                    "workflow_manager",
                    "workflow_status",
                    "workflow_template_version",
                    "workflow_pending_assignees",
                    "workflow_current_step_roles",
                    "version",
                    "in_active_workflow",
                    "workflow_completion_date",
                    "submitted_into_drawings",
                    "custom_field_id",
                    "submitted_into_drawings_by",
                    "submitted_into_drawings_at",
                    "cf_lov_entries",
                    "recycled_by",
                    "recycled_at",
                    "recycled_reason",
                    "action_required",
                    "document_stage",
                    "item_content",
                    "placeholder_assignee",
                    "placeholder_due_date",
                    "placeholder_created_by",
                    "package"
                   ]
                  },
                  "type": {
                   "type": "string",
                   "enum": [
                    "string",
                    "reference",
                    "lov_entry",
                    "lov_entries",
                    "rich_text",
                    "timestamp",
                    "numeric"
                   ]
                  },
                  "label": {
                   "type": "string",
                   "example": "Status"
                  },
                  "description": {
                   "type": "string",
                   "example": "The current status of a document that a workflow may set"
                  },
                  "values": {
                   "type": "array",
                   "items": {
                    "oneOf": [
                     {
                      "type": "object",
                      "properties": {
                       "id": {
                        "type": "string",
                        "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                       },
                       "code": {
                        "type": "string",
                        "example": "AN"
                       },
                       "label": {
                        "type": "string",
                        "example": "Approved as Noted"
                       },
                       "active": {
                        "type": "boolean",
                        "example": true
                       },
                       "tags": {
                        "type": "array",
                        "items": {
                         "type": "string"
                        }
                       },
                       "field_id": {
                        "type": "string",
                        "example": "469258",
                        "description": "Field ID backing a reference value, when applicable."
                       },
                       "company_active": {
                        "type": "boolean",
                        "example": true,
                        "description": "Whether the referenced entity is still active in the company."
                       },
                       "position": {
                        "type": "string",
                        "example": "aab",
                        "description": "Display order of this value relative to the other values on the same field."
                       },
                       "label_source": {
                        "type": "string",
                        "enum": [
                         "MANUAL",
                         "NONE",
                         "FILENAME_SCRAPING",
                         "SCRAPING_FAILED",
                         "ML",
                         "ML_FAILED",
                         "SYSTEM",
                         "CONTAINER_MATCH"
                        ],
                        "example": "FILENAME_SCRAPING",
                        "description": "The source of the label for this value."
                       },
                       "confidence_score": {
                        "type": "number",
                        "example": 0.92,
                        "description": "Confidence score (0\u20131) for a value populated by ML or filename scraping."
                       }
                      },
                      "required": [
                       "id",
                       "code",
                       "label",
                       "active",
                       "tags"
                      ]
                     },
                     {
                      "type": "object",
                      "properties": {
                       "label": {
                        "type": "string",
                        "example": "14.0"
                       },
                       "field_id": {
                        "type": "string",
                        "example": "469258",
                        "description": "Field ID backing a reference value, when applicable."
                       },
                       "company_active": {
                        "type": "boolean",
                        "example": true,
                        "description": "Whether the referenced entity is still active in the company."
                       },
                       "position": {
                        "type": "string",
                        "example": "aab",
                        "description": "Display order of this value relative to the other values on the same field."
                       },
                       "label_source": {
                        "type": "string",
                        "enum": [
                         "MANUAL",
                         "NONE",
                         "FILENAME_SCRAPING",
                         "SCRAPING_FAILED",
                         "ML",
                         "ML_FAILED",
                         "SYSTEM",
                         "CONTAINER_MATCH"
                        ],
                        "example": "FILENAME_SCRAPING",
                        "description": "The source of the label for this value."
                       },
                       "confidence_score": {
                        "type": "number",
                        "example": 0.92,
                        "description": "Confidence score (0\u20131) for a value populated by ML or filename scraping."
                       }
                      },
                      "required": [
                       "label"
                      ]
                     },
                     {
                      "type": "object",
                      "properties": {
                       "id": {
                        "type": "string",
                        "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                       },
                       "code": {
                        "type": "string",
                        "example": "VEN-001",
                        "description": "Code identifying the referenced entity, when the reference type has one."
                       },
                       "label": {
                        "type": "string",
                        "example": "Acme Corp",
                        "description": "Display label of the referenced entity."
                       },
                       "field_id": {
                        "type": "string",
                        "example": "469258",
                        "description": "Field ID backing a reference value, when applicable."
                       },
                       "company_active": {
                        "type": "boolean",
                        "example": true,
                        "description": "Whether the referenced entity is still active in the company."
                       },
                       "position": {
                        "type": "string",
                        "example": "aab",
                        "description": "Display order of this value relative to the other values on the same field."
                       },
                       "label_source": {
                        "type": "string",
                        "enum": [
                         "MANUAL",
                         "NONE",
                         "FILENAME_SCRAPING",
                         "SCRAPING_FAILED",
                         "ML",
                         "ML_FAILED",
                         "SYSTEM",
                         "CONTAINER_MATCH"
                        ],
                        "example": "FILENAME_SCRAPING",
                        "description": "The source of the label for this value."
                       },
                       "confidence_score": {
                        "type": "number",
                        "example": 0.92,
                        "description": "Confidence score (0\u20131) for a value populated by ML or filename scraping."
                       }
                      },
                      "required": [
                       "id",
                       "label"
                      ]
                     }
                    ]
                   }
                  },
                  "label_source": {
                   "type": "string",
                   "enum": [
                    "MANUAL",
                    "NONE",
                    "FILENAME_SCRAPING",
                    "SCRAPING_FAILED",
                    "ML",
                    "ML_FAILED",
                    "SYSTEM",
                    "CONTAINER_MATCH"
                   ],
                   "example": "FILENAME_SCRAPING",
                   "description": "The source of the label for the field"
                  },
                  "variant": {
                   "type": "string",
                   "example": "procore_user",
                   "description": "Reference sub-type for reference fields (e.g. procore_user, procore_vendor, procore_location)."
                  },
                  "confidence_score": {
                   "type": "number",
                   "example": 0.92,
                   "description": "Confidence score (0\u20131) for a field value populated by ML or filename scraping."
                  },
                  "custom_field_definition_id": {
                   "type": "string",
                   "example": "469258",
                   "description": "Identifier of the custom field definition backing this field, for custom fields."
                  },
                  "active": {
                   "type": "boolean",
                   "example": true
                  },
                  "visible": {
                   "type": "boolean",
                   "example": false
                  },
                  "position": {
                   "type": "string",
                   "example": "abh"
                  },
                  "readonly": {
                   "type": "boolean",
                   "example": true
                  },
                  "can_affect_permissions": {
                   "type": "boolean",
                   "example": false
                  },
                  "source": {
                   "type": "string",
                   "example": "ML"
                  },
                  "applies_to": {
                   "type": "array",
                   "items": {
                    "type": "string",
                    "enum": [
                     "document",
                     "placeholder",
                     "package"
                    ]
                   }
                  }
                 },
                 "required": [
                  "id",
                  "name",
                  "type",
                  "label",
                  "description",
                  "values"
                 ]
                }
               },
               "file_locked": {
                "type": "boolean",
                "example": false
               },
               "position_within_container": {
                "type": "string",
                "example": "aaa"
               },
               "latest_document_collection_ids": {
                "description": "Array of Document Collection IDs in which the Revision is the latest.",
                "type": "array",
                "items": {
                 "type": "string"
                }
               },
               "integrations": {
                "description": "Information about integration and processing statuses, references, etc.",
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "bim_processing": {
                    "description": "3D model file processing information, required to display 3D model files in the viewer",
                    "allOf": [
                     {
                      "type": "object",
                      "properties": {
                       "bim_file_extraction_id": {
                        "type": "object",
                        "example": "12345",
                        "description": "ID of 3D model file extraction"
                       },
                       "status": {
                        "type": "string",
                        "example": "in_progress",
                        "description": "Status of 3D model file processing",
                        "enum": [
                         "not_applicable",
                         "not_started",
                         "pending",
                         "in_progress",
                         "ready",
                         "error"
                        ]
                       },
                       "errors": {
                        "description": "Errors that occurred during 3D model file processing",
                        "type": "array",
                        "items": {
                         "type": "object",
                         "properties": {
                          "code": {
                           "type": "string",
                           "description": "Error code",
                           "example": "12345"
                          },
                          "type": {
                           "type": "string",
                           "description": "Error type",
                           "example": "SegmentationFaultErr"
                          },
                          "message": {
                           "type": "string",
                           "description": "Error message",
                           "example": "Sorry, we couldn't publish the file at this time. Please try again later."
                          }
                         },
                         "required": [
                          "code",
                          "type",
                          "message"
                         ]
                        }
                       }
                      },
                      "required": [
                       "bim_file_extraction_id",
                       "status",
                       "errors"
                      ]
                     }
                    ]
                   },
                   "workflow": {
                    "description": "Workflow integration information for this document revision. See `status` for blocking semantics.",
                    "allOf": [
                     {
                      "type": "object",
                      "properties": {
                       "status": {
                        "type": "string",
                        "example": "created",
                        "description": "Lifecycle status of the workflow integration. `created`, `creation_requested`, and `termination_requested` block recycle and other writes that would orphan an in-flight external workflow instance.",
                        "enum": [
                         "not_created",
                         "creation_requested",
                         "created",
                         "failed",
                         "ended",
                         "termination_requested",
                         "terminated",
                         "termination_failed"
                        ]
                       },
                       "workflow_instance_id": {
                        "type": "string",
                        "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                        "description": "ID of the most recent workflow instance. Retained after the workflow ends or is terminated."
                       },
                       "latest_workflow_integration_event_timestamp": {
                        "type": "string",
                        "example": "2024-01-01T00:00:00.000Z",
                        "description": "Timestamp of the most recent workflow lifecycle event (started/updated/ended)."
                       },
                       "latest_workflow_operation_event_timestamp": {
                        "type": "string",
                        "example": "2024-01-01T00:00:00.000Z",
                        "description": "Timestamp of the most recent workflow operation metadata event (e.g. operation_ended)."
                       },
                       "operation_id": {
                        "type": "string",
                        "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                        "description": "ID of the operation that created the workflow, if applicable.",
                        "nullable": true
                       },
                       "operation_type": {
                        "type": "string",
                        "example": "bulk_instance_create",
                        "description": "Type of the operation that created the workflow.",
                        "nullable": true
                       },
                       "termination_reason": {
                        "type": "string",
                        "example": "Document recycled by user",
                        "description": "Human-readable reason captured when a workflow was terminated."
                       },
                       "terminated_at": {
                        "type": "string",
                        "example": "2024-01-01T00:00:00.000Z",
                        "description": "Timestamp when the workflow was terminated, if applicable."
                       },
                       "terminated_status_id": {
                        "type": "string",
                        "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                        "description": "ID of the status the document revision was set to on workflow termination."
                       },
                       "selected_preset_id": {
                        "type": "string",
                        "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                        "description": "ID of the workflow preset selected for this workflow instance."
                       }
                      }
                     }
                    ]
                   }
                  }
                 }
                ]
               },
               "document_container_id": {
                "type": "string",
                "example": "01G3F39BRDKDK04FV9BARK6YTS"
               },
               "download_url": {
                "type": "string",
                "example": "https://example.com/rest/v2.0/companies/1234/projects/5678/document_management/document_revisions/01G0MZ21AD2CSKP96A5HBRY7BC/download",
                "description": "Download URL for the revision. Omitted when the row is masked \u2014 either the caller lacks view permission, or the revision was recycled after the list was assembled."
               },
               "permissions": {
                "type": "object",
                "example": {
                 "allowed_actions": [
                  "view",
                  "download",
                  "edit_markup",
                  "edit_public_layers",
                  "edit_metadata"
                 ]
                }
               },
               "recycled": {
                "type": "boolean",
                "example": false,
                "description": "Whether the revision is in the Recycle Bin."
               },
               "latest_event_id": {
                "type": "string",
                "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                "description": "Event ID for optimistic concurrency control",
                "nullable": true
               },
               "index_updated_at": {
                "type": "string",
                "example": "2024-01-01T00:00:00.000Z",
                "description": "Timestamp of the most recent search-index update for this revision. Falls back to the revision's updated_at when no search-index record is available."
               },
               "document_placeholder_id": {
                "type": "string",
                "example": "01G3F39BRDKDK04FV9BARK6YTS"
               },
               "match_type": {
                "example": "EXACT",
                "nullable": true,
                "description": "Placeholder-match classification for a placeholder-backed revision row, paired with standalone_upload_id. null when the pairing was cleared; absent when the revision has no placeholder match or the caller lacks view access.",
                "allOf": [
                 {
                  "type": "string",
                  "enum": [
                   "EXACT",
                   "CLOSE"
                  ],
                  "description": "Placeholder-match classification for a placeholder-backed revision row. EXACT or CLOSE when paired with an upload via detection; null when cleared (EXACT confirm/reject/file-delete or CLOSE reject/sibling-cleared/confirm); absent otherwise. standalone_upload_id is paired with both EXACT and CLOSE."
                 }
                ]
               },
               "standalone_upload_id": {
                "type": "string",
                "example": "01FW7PE6TJTVC32HJ7JBJVBNJR",
                "nullable": true,
                "description": "For a placeholder revision row with an active match, the id of the paired standalone upload. null when the pairing was cleared; absent when the revision has no placeholder match or the caller lacks view access."
               },
               "upload_id": {
                "type": "string",
                "example": "01KSQF76ZWW0MTW5633K7J5KHZ",
                "description": "Originating document-upload id for this revision."
               },
               "workflow_terminations_for_container": {
                "description": "Workflow termination context persisted on the revision when a submit resolved container conflicts. Absent when the revision has no pending terminations.",
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "termination_reason": {
                    "type": "string",
                    "example": "Document superseded by a new revision"
                   },
                   "terminated_status_id": {
                    "type": "string",
                    "example": "01HW7PE6TJTVC32HJ7JBJVBNJR"
                   },
                   "workflow_instance_ids": {
                    "example": [
                     "01HW7PE6TJTVC32HJ7JBJVBNJR"
                    ],
                    "type": "array",
                    "items": {
                     "type": "string"
                    }
                   }
                  },
                  "required": [
                   "termination_reason",
                   "terminated_status_id",
                   "workflow_instance_ids"
                  ]
                 }
                ]
               },
               "workflow_creation_initiating_user_id": {
                "type": "string",
                "example": "1234",
                "description": "User id that initiated workflow creation for this revision. Present when an assigned workflow was requested at submit."
               },
               "workflow_assignee_roles": {
                "description": "Structured per-assignee workflow role state. Source of truth for the workflow_current_step_roles field; emitted when tuples have been written on the revision.",
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "scope": {
                   "type": "string",
                   "example": "current_step",
                   "enum": [
                    "pending",
                    "current_step",
                    "all"
                   ]
                  },
                  "assignee_id": {
                   "type": "string",
                   "example": "1234"
                  },
                  "role_id": {
                   "type": "string",
                   "example": "role-1"
                  },
                  "role_name": {
                   "type": "string",
                   "example": "Approver"
                  }
                 },
                 "required": [
                  "scope",
                  "assignee_id",
                  "role_id",
                  "role_name"
                 ]
                }
               }
              },
              "required": [
               "id",
               "fields",
               "file_locked",
               "position_within_container",
               "latest_document_collection_ids",
               "integrations"
              ]
             }
            }
           },
           "required": [
            "data"
           ]
          },
          {
           "title": "ids_only",
           "type": "object",
           "properties": {
            "data": {
             "description": "Document Revision ids. Returned when `view=ids_only` is passed.",
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           },
           "required": [
            "data"
           ]
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request\n\nPossible reason codes:\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized\n\nPossible reason codes:\n- INVALID_TOKEN",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden\n\nPossible reason codes:\n- ACCESS_DENIED",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     }
    },
    "summary": "List Selected Document Revisions V2.2",
    "tags": [
     "Document Revisions V2"
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.2/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions/selected_revisions',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    locale: 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {'content-type': 'application/json'},\n  body: {ids: ['string']},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"ids\\\":[\\\"string\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.2/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions/selected_revisions?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v2.2/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions/selected_revisions?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"ids\":[\"string\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.2/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions/selected_revisions?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"ids\\\":[\\\"string\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add selected_revisions v2.2 returning HTTP 200",
      "description": "`POST /document_management/document_revisions/selected_revisions` v2.2 returns\nHTTP 200. The payload matches v2.0/v2.1.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/document_management/document_revisions/selected_revisions",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-09-10",
      "versions": [
       "2.2"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "document-revisions?version=2.2#list-selected-document-revisions-v22"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/document_management/document_revisions": {
   "post": {
    "description": "Create document revisions from uploads with workflow conflict resolution support",
    "operationId": "DocumentRevisionsV2Controller_createDocumentRevisionFromUploadBatchV2_1",
    "parameters": [
     {
      "name": "company_id",
      "required": true,
      "in": "path",
      "description": "Unique identifier for the company",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "required": true,
      "in": "path",
      "description": "Unique identifier for the project",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "uploads": {
          "description": "Array of uploads to submit, with optional termination parameters for conflict resolution",
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Document Upload ID to submit",
             "example": "01G3SGC3RXZ854BV1NVNN2PG7A"
            },
            "upload_latest_event_id": {
             "type": "string",
             "description": "This field is no longer validated. It is kept for backward compatibility and may be used for optimistic locking in the future.",
             "example": "01G3SGC3RXZ854BV1NVNN2PG7B"
            },
            "termination_reason": {
             "type": "string",
             "description": "Termination reason for existing workflows in the container (required if terminated_revision_status_id is provided)",
             "example": "Superseded by new revision"
            },
            "terminated_revision_status_id": {
             "type": "string",
             "description": "Status metadata value ID to set on terminated revisions (required if termination_reason is provided)",
             "example": "01G3SGC3RXZ854BV1NVNN2PG7A"
            }
           },
           "required": [
            "id",
            "upload_latest_event_id"
           ]
          }
         },
         "file_locked": {
          "type": "boolean",
          "description": "Whether files should be locked after submission",
          "default": false
         }
        },
        "required": [
         "uploads"
        ]
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Document revisions created successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "readOnly": true,
           "allOf": [
            {
             "type": "object",
             "properties": {
              "ids": {
               "readOnly": true,
               "example": [
                "01G3SGC3RXZ854BV1NVNN2PG7A"
               ],
               "type": "array",
               "items": {
                "type": "string"
               }
              },
              "failures": {
               "readOnly": true,
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "upload_id": {
                  "type": "string",
                  "readOnly": true,
                  "example": "01G3SGC3RXZ854BV1NVNN2PG7A"
                 },
                 "reason_code": {
                  "type": "string",
                  "readOnly": true,
                  "enum": [
                   "CONCURRENCY_CONFLICT",
                   "UNKNOWN_FAILURE"
                  ],
                  "example": "CONCURRENCY_CONFLICT"
                 },
                 "message": {
                  "type": "string",
                  "readOnly": true,
                  "example": "Upload was modified since last read"
                 }
                },
                "required": [
                 "upload_id",
                 "reason_code",
                 "message"
                ]
               }
              }
             },
             "required": [
              "ids",
              "failures"
             ]
            }
           ]
          }
         },
         "required": [
          "data"
         ]
        }
       }
      }
     },
     "403": {
      "description": "The current user does not have the CAN_USER_SUBMIT permission for this project."
     },
     "422": {
      "description": "Validation errors detected (includes workflow conflicts, stale data, etc.)",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message",
            "details"
           ],
           "properties": {
            "code": {
             "type": "string",
             "example": "VALIDATION_ERROR",
             "description": "Error code"
            },
            "message": {
             "type": "string",
             "example": "Validation errors detected",
             "description": "Error message"
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message",
               "source"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "example": "WORKFLOW_CONFLICT",
                "description": "Error reason code (e.g., WORKFLOW_CONFLICT, WORKFLOW_CONFLICT_INSUFFICIENT_PERMISSION, STALE_DATA, PERMISSION_DENIED). Note: submit-permission failures return 403, not 422."
               },
               "message": {
                "type": "string",
                "example": "Multiple workflows detected in container",
                "description": "Human-readable error message"
               },
               "source": {
                "type": "string",
                "example": "01G3SGC3RXZ854BV1NVNN2PG7A",
                "description": "Upload ID that caused the error"
               },
               "document_container_id": {
                "type": "string",
                "example": "01G3SGC3RXZ854BV1NVNN2PG7A",
                "description": "Container ID where the conflict occurred. May be a match criteria string if the container does not exist yet."
               },
               "existing_revisions_with_workflows": {
                "type": "array",
                "description": "Existing revisions with active workflows (for WORKFLOW_CONFLICT errors)",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Revision ID"
                  },
                  "name": {
                   "type": "string",
                   "description": "Document name"
                  },
                  "revision": {
                   "type": "string",
                   "description": "Revision number"
                  },
                  "workflow_instance_id": {
                   "type": "string",
                   "description": "Workflow instance ID. Present for revisions with active workflows. Omitted for uploads (which have assigned_workflow instead)."
                  }
                 }
                }
               },
               "conflicting_uploads_with_workflow": {
                "type": "array",
                "description": "Uploads being submitted with assigned workflows (for WORKFLOW_CONFLICT errors)",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Upload ID"
                  },
                  "name": {
                   "type": "string",
                   "description": "Document name"
                  },
                  "revision": {
                   "type": "string",
                   "description": "Revision number"
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "summary": "Bulk Create Document Revisions",
    "tags": [
     "Document Revisions V2"
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions',\n  headers: {'content-type': 'application/json'},\n  body: {\n    uploads: [\n      {\n        id: '01G3SGC3RXZ854BV1NVNN2PG7A',\n        upload_latest_event_id: '01G3SGC3RXZ854BV1NVNN2PG7B',\n        termination_reason: 'Superseded by new revision',\n        terminated_revision_status_id: '01G3SGC3RXZ854BV1NVNN2PG7A'\n      }\n    ],\n    file_locked: false\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"uploads\\\":[{\\\"id\\\":\\\"01G3SGC3RXZ854BV1NVNN2PG7A\\\",\\\"upload_latest_event_id\\\":\\\"01G3SGC3RXZ854BV1NVNN2PG7B\\\",\\\"termination_reason\\\":\\\"Superseded by new revision\\\",\\\"terminated_revision_status_id\\\":\\\"01G3SGC3RXZ854BV1NVNN2PG7A\\\"}],\\\"file_locked\\\":false}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions \\\n  --header 'content-type: application/json' \\\n  --data '{\"uploads\":[{\"id\":\"01G3SGC3RXZ854BV1NVNN2PG7A\",\"upload_latest_event_id\":\"01G3SGC3RXZ854BV1NVNN2PG7B\",\"termination_reason\":\"Superseded by new revision\",\"terminated_revision_status_id\":\"01G3SGC3RXZ854BV1NVNN2PG7A\"}],\"file_locked\":false}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions\"),\n    Content = new StringContent(\"{\\\"uploads\\\":[{\\\"id\\\":\\\"01G3SGC3RXZ854BV1NVNN2PG7A\\\",\\\"upload_latest_event_id\\\":\\\"01G3SGC3RXZ854BV1NVNN2PG7B\\\",\\\"termination_reason\\\":\\\"Superseded by new revision\\\",\\\"terminated_revision_status_id\\\":\\\"01G3SGC3RXZ854BV1NVNN2PG7A\\\"}],\\\"file_locked\\\":false}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Remove deprecated failureIds from bulk-create",
      "description": "`POST /document_management/document_revisions` v2.1 omits the deprecated\ncamelCase `failureIds` property. Use the snake_case `failures` array\n(`upload_id`, `reason_code`, `message`) instead. v2.0 is unchanged and\nstill returns `failureIds`.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/document_management/document_revisions",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2026-08-28",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "document-revisions?version=2.1#bulk-create-document-revisions"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/document_management/document_revisions/selected_revisions": {
   "post": {
    "deprecated": true,
    "description": "Deprecated: use /rest/v2.2/companies/{company_id}/projects/{project_id}/document_management/document_revisions/selected_revisions, which returns 200.\nThis version returns 201 at runtime despite the documented 200 below.\n\nReturns details for selected document revision IDs in a project.\n\nPass `view=ids_only` to receive an array of Document Revision ids instead of full objects.",
    "operationId": "DocumentRevisionsV2Controller_getSelectedDocumentRevisionListV2_1",
    "parameters": [
     {
      "name": "company_id",
      "required": true,
      "in": "path",
      "description": "Unique identifier for the company",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "required": true,
      "in": "path",
      "description": "Unique identifier for the project",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "required": false,
      "in": "query",
      "description": "Optional response view. Omit or pass `default` for full Document Revision objects. `ids_only` returns an array of ids and raises the `per_page` ceiling from 100 to 5000. The published `per_page` maximum reflects the default view.",
      "schema": {
       "enum": [
        "default",
        "ids_only"
       ],
       "type": "string"
      }
     },
     {
      "name": "page",
      "required": false,
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "per_page",
      "required": false,
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "locale",
      "required": false,
      "in": "query",
      "description": "Language for the response to be translated into",
      "schema": {
       "type": "string",
       "enum": [
        "de-DE",
        "en-AE",
        "en-AU",
        "en-CA",
        "en-GB",
        "en-SG",
        "en",
        "es-ES",
        "es",
        "fr-CA",
        "fr-FR",
        "is-IS",
        "ja-JP",
        "pl-PL",
        "pseudo",
        "pt-BR",
        "th-TH",
        "zh-SG",
        "zh-TW",
        "nb-NO",
        "pt-PT",
        "it-IT"
       ]
      }
     },
     {
      "name": "sort",
      "required": false,
      "in": "query",
      "description": "Comma-separated set of attributes to sort the list of records by.\n    \nFormat: :primary_sort_attribute,:secondary_sort_attribute\n    \nValid sort attribute options are [<field_id>, file_format, file_size, created_at, uploaded_at]",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "ids": {
          "description": "Array of Document Revision IDs to fetch.",
          "type": "array",
          "items": {
           "type": "string"
          }
         }
        },
        "required": [
         "ids"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Returns selected Project Document Revisions",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "number"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "number"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "example": "f25577d8-50ce-43d7-a165-e3587babcca1"
             },
             "fields": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                },
                "name": {
                 "type": "string",
                 "enum": [
                  "original_filename",
                  "format",
                  "type",
                  "name",
                  "description",
                  "revision",
                  "status",
                  "classification",
                  "project_stage",
                  "project",
                  "originator",
                  "volume",
                  "location",
                  "discipline",
                  "number",
                  "created_at",
                  "created_by",
                  "date_authored",
                  "authored_by",
                  "updated_at",
                  "updated_by",
                  "uploaded_at",
                  "uploaded_by",
                  "file_size",
                  "project_new",
                  "assigned_workflow",
                  "assigned_workflow_template",
                  "workflow_assignees",
                  "workflow_current_step_assignees",
                  "workflow_current_step",
                  "workflow_step_due_date",
                  "workflow_manager",
                  "workflow_status",
                  "workflow_template_version",
                  "workflow_pending_assignees",
                  "workflow_current_step_roles",
                  "version",
                  "in_active_workflow",
                  "workflow_completion_date",
                  "submitted_into_drawings",
                  "custom_field_id",
                  "submitted_into_drawings_by",
                  "submitted_into_drawings_at",
                  "cf_lov_entries",
                  "recycled_by",
                  "recycled_at",
                  "recycled_reason",
                  "action_required",
                  "document_stage",
                  "item_content",
                  "placeholder_assignee",
                  "placeholder_due_date",
                  "placeholder_created_by",
                  "package"
                 ]
                },
                "type": {
                 "type": "string",
                 "enum": [
                  "string",
                  "reference",
                  "lov_entry",
                  "lov_entries",
                  "rich_text",
                  "timestamp",
                  "numeric"
                 ]
                },
                "label": {
                 "type": "string",
                 "example": "Status"
                },
                "description": {
                 "type": "string",
                 "example": "The current status of a document that a workflow may set"
                },
                "values": {
                 "type": "array",
                 "items": {
                  "oneOf": [
                   {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string",
                      "example": "0d4f4b00-19ec-4dad-9e80-5a880d215775"
                     },
                     "code": {
                      "type": "string",
                      "example": "AN"
                     },
                     "label": {
                      "type": "string",
                      "example": "Approved as Noted"
                     },
                     "active": {
                      "type": "boolean",
                      "example": true
                     },
                     "tags": {
                      "type": "array",
                      "items": {
                       "type": "string"
                      }
                     },
                     "vendor_id": {
                      "type": "string",
                      "nullable": true,
                      "description": "Vendor id for this user-reference value. Present only when `include_user_field_vendors=true`. Null when the user has no vendor or the name is historical."
                     },
                     "vendor_name": {
                      "type": "string",
                      "nullable": true,
                      "description": "Vendor name for this user-reference value. Present only when `include_user_field_vendors=true`. Null when the user has no vendor or the name is historical."
                     }
                    },
                    "required": [
                     "id",
                     "code",
                     "label",
                     "active",
                     "tags"
                    ]
                   },
                   {
                    "type": "object",
                    "properties": {
                     "label": {
                      "type": "string",
                      "example": "14.0"
                     }
                    },
                    "required": [
                     "label"
                    ]
                   }
                  ]
                 }
                },
                "label_source": {
                 "type": "string",
                 "enum": [
                  "MANUAL",
                  "NONE",
                  "FILENAME_SCRAPING",
                  "SCRAPING_FAILED",
                  "ML",
                  "ML_FAILED",
                  "SYSTEM",
                  "CONTAINER_MATCH"
                 ],
                 "example": "FILENAME_SCRAPING",
                 "description": "The source of the label for the field"
                }
               },
               "required": [
                "id",
                "name",
                "type",
                "label",
                "description",
                "values"
               ]
              }
             },
             "document_container_id": {
              "type": "string",
              "example": "01G3F39BRDKDK04FV9BARK6YTS"
             },
             "position_within_container": {
              "type": "string",
              "example": "aaa"
             },
             "file_locked": {
              "type": "boolean",
              "example": false
             },
             "download_url": {
              "type": "string",
              "example": "document-service.procoretech-qa.com/rest/v1.0/companies/42/projects/42/document_revisions/01G0MZ21AD2CSKP96A5HBRY7BC/download"
             },
             "permissions": {
              "type": "object",
              "example": {
               "allowed_actions": [
                "view",
                "download",
                "edit_markup",
                "edit_public_layers",
                "edit_metadata"
               ]
              }
             },
             "recycled": {
              "type": "boolean",
              "example": false
             },
             "download_filename": {
              "type": "string",
              "description": "Download filename including revision identifier, when available",
              "example": "FloorPlan-01-Initial Upload.pdf"
             },
             "file_key": {
              "type": "string",
              "description": "FAS (File Access Service) file identifier",
              "example": "abc123def456"
             },
             "latest_document_collection_ids": {
              "description": "Array of Document Collection IDs in which the Revision is the latest.",
              "type": "array",
              "items": {
               "type": "string"
              }
             },
             "integrations": {
              "description": "Information about integration and processing statuses, references, etc.",
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "bim_processing": {
                  "description": "3D model file processing information, required to display 3D model files in the viewer",
                  "allOf": [
                   {
                    "type": "object",
                    "properties": {
                     "bim_file_extraction_id": {
                      "type": "object",
                      "example": "12345",
                      "description": "ID of 3D model file extraction"
                     },
                     "status": {
                      "type": "string",
                      "example": "in_progress",
                      "description": "Status of 3D model file processing",
                      "enum": [
                       "not_applicable",
                       "not_started",
                       "pending",
                       "in_progress",
                       "ready",
                       "error"
                      ]
                     },
                     "errors": {
                      "description": "Errors that occurred during 3D model file processing",
                      "type": "array",
                      "items": {
                       "type": "object",
                       "properties": {
                        "code": {
                         "type": "string",
                         "description": "Error code",
                         "example": "12345"
                        },
                        "type": {
                         "type": "string",
                         "description": "Error type",
                         "example": "SegmentationFaultErr"
                        },
                        "message": {
                         "type": "string",
                         "description": "Error message",
                         "example": "Sorry, we couldn't publish the file at this time. Please try again later."
                        }
                       },
                       "required": [
                        "code",
                        "type",
                        "message"
                       ]
                      }
                     }
                    },
                    "required": [
                     "bim_file_extraction_id",
                     "status",
                     "errors"
                    ]
                   }
                  ]
                 },
                 "workflow": {
                  "description": "Workflow integration information for this document revision. Inspect `workflow.status` to determine whether the workflow is currently active or has a request in flight against the external workflow service. The blocking set used by the server for recycle is `created`, `creation_requested`, and `termination_requested`; see `WorkflowIntegrationInfoDtoV1_0.status` for full semantics.",
                  "allOf": [
                   {
                    "type": "object",
                    "properties": {
                     "status": {
                      "type": "string",
                      "example": "created",
                      "description": "Lifecycle status of the workflow integration on this document revision. The server blocks recycle (and other writes that would orphan an in-flight external workflow instance) when status is `created`, `creation_requested`, or `termination_requested`. Recycle is permitted when status is absent, `not_created`, `failed`, `ended`, `terminated`, or `termination_failed`. Note that `created` alone is the only status that indicates a workflow is _currently active_ \u2014 `creation_requested` and `termination_requested` are transitional states where a request is in flight against the external workflow service, and clients must treat them as blocking even though the workflow is not yet active.",
                      "enum": [
                       "not_created",
                       "creation_requested",
                       "created",
                       "failed",
                       "ended",
                       "termination_requested",
                       "terminated",
                       "termination_failed"
                      ]
                     },
                     "workflowInstanceId": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the active workflow instance, when one exists."
                     },
                     "latestWorfklowIntegrationEventTimestamp": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z",
                      "description": "Timestamp of the most recent workflow lifecycle event (started/updated/ended)."
                     },
                     "latestWorkflowOperationEventTimestamp": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z",
                      "description": "Timestamp of the most recent workflow operation metadata event (e.g. operation_ended)."
                     },
                     "operationId": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the operation that created the workflow, if applicable.",
                      "nullable": true
                     },
                     "operationType": {
                      "type": "string",
                      "example": "bulk_instance_create",
                      "description": "Type of the operation that created the workflow.",
                      "nullable": true
                     },
                     "terminationReason": {
                      "type": "string",
                      "example": "Document recycled by user",
                      "description": "Human-readable reason captured when a workflow was terminated."
                     },
                     "terminatedAt": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z",
                      "description": "Timestamp when the workflow was terminated, if applicable."
                     },
                     "terminatedStatusId": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the status the document revision was set to on workflow termination."
                     },
                     "selectedPresetId": {
                      "type": "string",
                      "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
                      "description": "ID of the workflow preset selected for this workflow instance."
                     }
                    }
                   }
                  ]
                 }
                },
                "required": [
                 "bim_processing"
                ]
               }
              ]
             },
             "indexUpdatedAt": {
              "type": "string",
              "example": "2024-01-01T00:00:00.000Z"
             },
             "latest_event_id": {
              "type": "string",
              "example": "01HW7PE6TJTVC32HJ7JBJVBNJR",
              "description": "Event ID for optimistic concurrency control"
             },
             "match_type": {
              "example": "EXACT",
              "nullable": true,
              "description": "Placeholder-match classification for a placeholder-backed revision row. EXACT or CLOSE when paired with an upload via detection; null when cleared (EXACT confirm/reject/file-delete or CLOSE reject/sibling-cleared/confirm); absent otherwise. standalone_upload_id is paired with both EXACT and CLOSE.",
              "allOf": [
               {
                "type": "string",
                "enum": [
                 "EXACT",
                 "CLOSE"
                ],
                "description": "Placeholder-match classification for a placeholder-backed revision row. EXACT or CLOSE when paired with an upload via detection; null when cleared (EXACT confirm/reject/file-delete or CLOSE reject/sibling-cleared/confirm); absent otherwise. standalone_upload_id is paired with both EXACT and CLOSE."
               }
              ]
             },
             "standalone_upload_id": {
              "type": "string",
              "example": "01FW7PE6TJTVC32HJ7JBJVBNJR",
              "nullable": true,
              "description": "For a placeholder revision row with an active EXACT or CLOSE match, the id of the paired standalone upload. Confirm/reject/recycle actions target this id rather than the placeholder-owned upload. null when the pairing was cleared; absent when the revision has no placeholder match."
             }
            },
            "required": [
             "id",
             "fields",
             "document_container_id",
             "position_within_container",
             "file_locked",
             "download_url",
             "permissions",
             "recycled",
             "latest_document_collection_ids"
            ]
           }
          }
         },
         "required": [
          "data"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request\n\nPossible reason codes:\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized\n\nPossible reason codes:\n- INVALID_TOKEN",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden\n\nPossible reason codes:\n- ACCESS_DENIED",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     }
    },
    "summary": "List Selected Document Revisions (deprecated)",
    "tags": [
     "Document Revisions V2"
    ],
    "x-deprecated-at": "2026-09-10",
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "x-sunset": "2027-09-13",
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions/selected_revisions',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    locale: 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {'content-type': 'application/json'},\n  body: {ids: ['string']},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"ids\\\":[\\\"string\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions/selected_revisions?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions/selected_revisions?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"ids\":[\"string\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/document_revisions/selected_revisions?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"ids\\\":[\\\"string\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Deprecate selected_revisions v2.0 and v2.1",
      "description": "`POST /document_management/document_revisions/selected_revisions` v2.0 and v2.1\nare deprecated. Use `/rest/v2.2/companies/{company_id}/projects/{project_id}/document_management/document_revisions/selected_revisions`,\nwhich returns HTTP 200. These versions continue to return 201 at runtime\ndespite the documented 200, and remain available until 2027-09-13.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/document_management/document_revisions/selected_revisions",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2026-09-10",
      "versions": [
       "2.0",
       "2.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "document-revisions?version=2.0#list-selected-document-revisions-deprecated"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/document_management/document_revisions": {
   "post": {
    "description": "Create document revisions from uploads with workflow conflict resolution support",
    "operationId": "DocumentRevisionsV2Controller_createDocumentRevisionFromUploadBatchV2V2_0",
    "parameters": [
     {
      "name": "company_id",
      "required": true,
      "in": "path",
      "description": "Unique identifier for the company",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "required": true,
      "in": "path",
      "description": "Unique identifier for the project",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "uploads": {
          "description": "Array of uploads to submit, with optional termination parameters for conflict resolution",
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Document Upload ID to submit",
             "example": "01G3SGC3RXZ854BV1NVNN2PG7A"
            },
            "upload_latest_event_id": {
             "type": "string",
             "description": "This field is no longer validated. It is kept for backward compatibility and may be used for optimistic locking in the future.",
             "example": "01G3SGC3RXZ854BV1NVNN2PG7B"
            },
            "termination_reason": {
             "type": "string",
             "description": "Termination reason for existing workflows in the container (required if terminated_revision_status_id is provided)",
             "example": "Superseded by new revision"
            },
            "terminated_revision_status_id": {
             "type": "string",
             "description": "Status metadata value ID to set on terminated revisions (required if termination_reason is provided)",
             "example": "01G3SGC3RXZ854BV1NVNN2PG7A"
            }
           },
           "required": [
            "id",
            "upload_latest_event_id"
           ]
          }
         },
         "file_locked": {
          "type": "boolean",
          "description": "Whether files should be locked after submission",
          "default": false
         }
        },
        "required": [
         "uploads"
        ]
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Document revisions created successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "readOnly": true,
           "allOf": [
            {
             "type": "object",
             "properties": {
              "ids": {
               "readOnly": true,
               "example": [
                "01G3SGC3RXZ854BV1NVNN2PG7A"
               ],
               "type": "array",
               "items": {
                "type": "string"
               }
              },
              "failureIds": {
               "readOnly": true,
               "example": [
                "01G3SGC3RXZ854BV1NVNN2PG7A"
               ],
               "deprecated": true,
               "type": "array",
               "items": {
                "type": "string"
               }
              },
              "failures": {
               "readOnly": true,
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "upload_id": {
                  "type": "string",
                  "readOnly": true,
                  "example": "01G3SGC3RXZ854BV1NVNN2PG7A"
                 },
                 "reason_code": {
                  "type": "string",
                  "readOnly": true,
                  "enum": [
                   "CONCURRENCY_CONFLICT",
                   "UNKNOWN_FAILURE"
                  ],
                  "example": "CONCURRENCY_CONFLICT"
                 },
                 "message": {
                  "type": "string",
                  "readOnly": true,
                  "example": "Upload was modified since last read"
                 }
                },
                "required": [
                 "upload_id",
                 "reason_code",
                 "message"
                ]
               }
              }
             },
             "required": [
              "ids",
              "failureIds",
              "failures"
             ]
            }
           ]
          }
         },
         "required": [
          "data"
         ]
        }
       }
      }
     },
     "403": {
      "description": "The current user does not have the CAN_USER_SUBMIT permission for this project."
     },
     "422": {
      "description": "Validation errors detected (includes workflow conflicts, stale data, etc.)",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "required": [
          "error"
         ],
         "properties": {
          "error": {
           "type": "object",
           "required": [
            "code",
            "message",
            "details"
           ],
           "properties": {
            "code": {
             "type": "string",
             "example": "VALIDATION_ERROR",
             "description": "Error code"
            },
            "message": {
             "type": "string",
             "example": "Validation errors detected",
             "description": "Error message"
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message",
               "source"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "example": "WORKFLOW_CONFLICT",
                "description": "Error reason code (e.g., WORKFLOW_CONFLICT, WORKFLOW_CONFLICT_INSUFFICIENT_PERMISSION, STALE_DATA, PERMISSION_DENIED). Note: submit-permission failures return 403, not 422."
               },
               "message": {
                "type": "string",
                "example": "Multiple workflows detected in container",
                "description": "Human-readable error message"
               },
               "source": {
                "type": "string",
                "example": "01G3SGC3RXZ854BV1NVNN2PG7A",
                "description": "Upload ID that caused the error"
               },
               "document_container_id": {
                "type": "string",
                "example": "01G3SGC3RXZ854BV1NVNN2PG7A",
                "description": "Container ID where the conflict occurred. May be a match criteria string if the container does not exist yet."
               },
               "existing_revisions_with_workflows": {
                "type": "array",
                "description": "Existing revisions with active workflows (for WORKFLOW_CONFLICT errors)",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Revision ID"
                  },
                  "name": {
                   "type": "string",
                   "description": "Document name"
                  },
                  "revision": {
                   "type": "string",
                   "description": "Revision number"
                  },
                  "workflow_instance_id": {
                   "type": "string",
                   "description": "Workflow instance ID. Present for revisions with active workflows. Omitted for uploads (which have assigned_workflow instead)."
                  }
                 }
                }
               },
               "conflicting_uploads_with_workflow": {
                "type": "array",
[...]
