{
 "openapi": "3.0.0",
 "info": {
  "title": "Documents",
  "x-product-category": "Core",
  "x-tool-category": "Documents",
  "x-resource-name": "Documents",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/folders/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the resource.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show company Folder",
    "description": "Return immediate accessible children for a specific company folder as a single mixed collection of folders and files. Descendants beyond one level are not included, and any `filters[...]` parameters apply to those immediate children.\nWith `include_descendants=true` and at least one `filters[...]` parameter, the endpoint searches this folder's entire subtree instead. It never widens beyond the addressed folder, so matches elsewhere in the company are not returned; use the company root-children endpoint for that. Recycle bin content is excluded unless `filters[is_in_recycle_bin]` is provided.",
    "tags": [
     "Document"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Response projection. Supports legacy `web_normal` requests for compatibility with v1 folder-show flows. `normal` and `web_normal` include `has_private_ancestor`; `sync_compact` omits it.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "web_normal",
        "sync_compact"
       ]
      }
     },
     {
      "name": "show_latest_file_version_only",
      "in": "query",
      "required": false,
      "description": "Return only the latest file version per file.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "exclude_folders",
      "in": "query",
      "required": false,
      "description": "Exclude child folders from the response.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "exclude_files",
      "in": "query",
      "required": false,
      "description": "Exclude child files from the response.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "include_descendants",
      "in": "query",
      "required": false,
      "description": "Search the addressed folder's entire subtree instead of only its immediate children. On a root-children endpoint the addressed folder is the root, so this spans the whole Documents tool; on a nested folder endpoint it spans only that folder's subtree.\nOnly takes effect alongside at least one `filters[...]` parameter; supplied on its own, the response remains the immediate children. Filters supplied without this parameter continue to apply to the immediate children only, so the default behavior of the endpoint is unchanged.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort immediate folder children by one or more comma-separated terms in left-to-right priority order. Supported fields are `updated_at`, `name`, `document_type`, `created_at`, and `created_by`. Prefix a term with `-` for descending order; no prefix means ascending. For example, `document_type,-created_at,name`. Leading or interior blank terms and malformed direction prefixes return 400. Native parsing ignores trailing commas; for duplicate fields, the first occurrence keeps its priority and the last occurrence sets direction. When omitted or blank, folders are returned first in natural-name order.",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^(\\s*|-?(updated_at|name|document_type|created_at|created_by)(,-?(updated_at|name|document_type|created_at|created_by))*[,]*)$",
       "example": "document_type,-created_at,name"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Return item(s) created by the specified User IDs",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[document_type]",
      "in": "query",
      "description": "Return item(s) that are file or folder",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "file",
        "folder"
       ]
      }
     },
     {
      "name": "filters[file_type]",
      "in": "query",
      "description": "Return item(s) that have the file extensions, as a comma-separated list (e.g. `filters[file_type]=pdf,txt`).",
      "style": "form",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       },
       "example": [
        "pdf",
        "txt"
       ]
      }
     },
     {
      "name": "filters[is_in_recycle_bin]",
      "in": "query",
      "description": "Return item(s) that are in or not in the recycle bin",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[folder_id]",
      "in": "query",
      "description": "Returns the folder for a given id with all subfolders and subfiles up to a depth of 100.  Depths greater than 100 will need multiple queries to get all children.",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Interger id for a folder",
       "example": "26"
      }
     },
     {
      "name": "filters[private]",
      "in": "query",
      "description": "If true, returns only item(s) with a `private` status.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of immediate child folders and files.",
           "items": {
            "type": "object",
            "title": "Folder Children V2",
            "description": "A folder or file in the documents system",
            "properties": {
             "id": {
              "type": "string",
              "description": "Folder id",
              "example": "2"
             },
             "name": {
              "type": "string",
              "description": "Folder name",
              "example": "file.png"
             },
             "parent_id": {
              "type": "string",
              "description": "Folder parent id",
              "example": "1"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Folder created at",
              "example": "2017-01-04T21:27:18Z"
             },
             "created_by": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID",
                  "example": "161072"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl the Contractor"
                 }
                }
               }
              ]
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Folder updated at",
              "example": "2017-01-04T21:27:18Z"
             },
             "read_only": {
              "type": "boolean",
              "description": "File is read_only (only updatable via Schedule)",
              "example": false
             },
             "is_deleted": {
              "type": "boolean",
              "description": "Folder is in the recycle bin status",
              "example": false
             },
             "is_recycle_bin": {
              "type": "boolean",
              "description": "Folder is recycle bin status",
              "example": false
             },
             "document_type": {
              "type": "string",
              "description": "Folder or File",
              "enum": [
               "file",
               "folder"
              ],
              "example": "file"
             },
             "is_tracked": {
              "type": "boolean",
              "description": "Status whether Folder is explicitly tracked",
              "example": false
             },
             "private": {
              "type": "boolean",
              "description": "Status whether Folder is explicitly private",
              "example": false
             },
             "has_private_ancestor": {
              "type": "boolean",
              "description": "Whether this item inherits privacy from above it, meaning its parent or any further ancestor is explicitly private. Independent of `private`, which stays true only when this item is itself explicitly private: an item can be private with a public ancestry, inherit privacy without being private itself, or both.",
              "example": false
             },
             "private_parent": {
              "type": "object",
              "title": "Folder",
              "description": "Not returned by these endpoints. Retained only so the documented contract stays unchanged; use `has_private_ancestor` instead.",
              "properties": {
               "id": {
                "type": "string",
                "description": "Folder id",
                "example": "2"
               },
               "name": {
                "type": "string",
                "description": "Folder name",
                "example": "Subfolder"
               }
              }
             },
             "tracked_folder": {
              "type": "object",
              "title": "Folder",
              "properties": {
               "id": {
                "type": "string",
                "description": "Folder id",
                "example": "2"
               },
               "name": {
                "type": "string",
                "description": "Folder name",
                "example": "Subfolder"
               }
              }
             },
             "file": {
              "type": "object",
              "description": "will be filled if document_type is a file",
              "properties": {
               "checked_out_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID",
                    "example": "160586"
                   },
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Carl Contractor"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "locale": {
                    "type": "string",
                    "description": "Name",
                    "example": "en-CA"
                   }
                  }
                 }
                ],
                "type": "object",
                "properties": {
                 "company_name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Some Company Name"
                 }
                }
               },
               "checked_out_until": {
                "type": "string",
                "description": "File checked out time",
                "example": "2017-01-04T21:27:18Z"
               },
               "current_version": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "File version id",
                    "example": "12"
                   },
                   "notes": {
                    "type": "string",
                    "description": "File version notes",
                    "example": "this is a cool file version"
                   },
                   "url": {
                    "type": "string",
                    "description": "File version url",
                    "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
                   },
                   "size": {
                    "type": "integer",
                    "description": "File version size in bytes",
                    "example": 12674
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "File version created at",
                    "example": "2017-01-04T21:27:18Z"
                   },
                   "number": {
                    "type": "integer",
                    "description": "File version number",
                    "example": 1
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "created_by": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string",
                      "description": "ID",
                      "example": "160586"
                     },
                     "login": {
                      "type": "string",
                      "description": "Email",
                      "example": "carl.contractor@example.com"
                     },
                     "name": {
                      "type": "string",
                      "description": "Name",
                      "example": "Carl Contractor"
                     }
                    }
                   },
                   "prostore_file": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string"
                     },
                     "name": {
                      "type": "string",
                      "description": "File name"
                     },
                     "url": {
                      "type": "string",
                      "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
                     },
                     "filename": {
                      "type": "string",
                      "description": ":filename to be deprecated, use :name"
                     }
                    }
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "file_id": {
                    "type": "string",
                    "description": "Parent Files id",
                    "example": "14"
                   }
                  }
                 }
                ]
               },
               "description": {
                "type": "string",
                "description": "File name",
                "example": "some description"
               },
               "file_type": {
                "type": "string",
                "description": "File type",
                "example": "PDF"
               }
              }
             },
             "children": {
              "type": "object",
              "description": "if folder is implicitly tracked, reflects the folder that is the cause",
              "properties": {
               "has_children": {
                "type": "boolean",
                "description": "whether the Folder has children",
                "example": false
               },
               "has_children_files": {
                "type": "boolean",
                "description": "whether the Folder has children that are file",
                "example": false
               },
               "has_children_folders": {
                "type": "boolean",
                "description": "whether the Folder has children that are not file",
                "example": false
               }
              }
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field",
                  "example": "custom field value"
                 },
                 "variant": {
                  "type": "string",
                  "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                  "example": "phone_number"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID of the LOV Entry",
                    "example": "1"
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 },
                 "variant": {
                  "type": "string",
                  "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                  "example": "with_code"
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "ID of the LOV Entry",
                     "example": "2"
                    },
                    "label": {
                     "type": "string",
                     "description": "Label of the LOV Entry",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Invalid sort or filter parameter \u2014 unknown filter key, invalid filter value, malformed `filters`, or a non-boolean `include_descendants`.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/folders/%7Bid%7D',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    show_latest_file_version_only: 'SOME_BOOLEAN_VALUE',\n    exclude_folders: 'SOME_BOOLEAN_VALUE',\n    exclude_files: 'SOME_BOOLEAN_VALUE',\n    include_descendants: 'SOME_BOOLEAN_VALUE',\n    sort: 'document_type,-created_at,name',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[document_type]': 'SOME_STRING_VALUE',\n    'filters[file_type]': 'pdf,txt',\n    'filters[is_in_recycle_bin]': 'SOME_BOOLEAN_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[folder_id]': '26',\n    'filters[private]': 'SOME_BOOLEAN_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/folders/%7Bid%7D?view=SOME_STRING_VALUE&show_latest_file_version_only=SOME_BOOLEAN_VALUE&exclude_folders=SOME_BOOLEAN_VALUE&exclude_files=SOME_BOOLEAN_VALUE&include_descendants=SOME_BOOLEAN_VALUE&sort=document_type%2C-created_at%2Cname&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdocument_type%5D=SOME_STRING_VALUE&filters%5Bfile_type%5D=pdf%2Ctxt&filters%5Bis_in_recycle_bin%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bfolder_id%5D=26&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/folders/%7Bid%7D?view=SOME_STRING_VALUE&show_latest_file_version_only=SOME_BOOLEAN_VALUE&exclude_folders=SOME_BOOLEAN_VALUE&exclude_files=SOME_BOOLEAN_VALUE&include_descendants=SOME_BOOLEAN_VALUE&sort=document_type%2C-created_at%2Cname&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdocument_type%5D=SOME_STRING_VALUE&filters%5Bfile_type%5D=pdf%2Ctxt&filters%5Bis_in_recycle_bin%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bfolder_id%5D=26&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/folders/%7Bid%7D?view=SOME_STRING_VALUE&show_latest_file_version_only=SOME_BOOLEAN_VALUE&exclude_folders=SOME_BOOLEAN_VALUE&exclude_files=SOME_BOOLEAN_VALUE&include_descendants=SOME_BOOLEAN_VALUE&sort=document_type%2C-created_at%2Cname&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdocument_type%5D=SOME_STRING_VALUE&filters%5Bfile_type%5D=pdf%2Ctxt&filters%5Bis_in_recycle_bin%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bfolder_id%5D=26&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added sorting to the rest v2.0 company Folder children endpoint",
      "description": "Added optional multi-column sorting for immediate folder children using comma-separated `sort` terms. Supported fields are `updated_at`, `name`, `document_type`, `created_at`, and `created_by`. Prefix a field with `-` for descending order. Invalid sort terms return a 400 response.",
      "endpoint": "GET /companies/{company_id}/folders/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-13",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "documents?version=2.0#show-company-folder"
     },
     {
      "summary": "Added filtering and subtree search to the rest v2.0 company Folder show endpoint",
      "description": "This endpoint previously returned a 400 for any `filters[...]` parameter. Filters are now accepted and apply to the immediate accessible children of the addressed folder. Supplying `include_descendants=true` alongside at least one filter searches that folder's entire subtree instead. The search never widens beyond the addressed folder, so matches elsewhere in the company are not returned. Recycle bin content is excluded unless `filters[is_in_recycle_bin]` is provided. Unknown filter keys, invalid filter values, malformed `filters`, and a non-boolean `include_descendants` return a 400 response.",
      "endpoint": "GET /companies/{company_id}/folders/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-24",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "documents?version=2.0#show-company-folder"
     },
     {
      "summary": "Added has_private_ancestor to the rest v2.0 company Folder show endpoint",
      "description": "Each item in the response now carries a boolean `has_private_ancestor`, indicating whether it inherits privacy from above it \u2014 that is, whether its parent or any further ancestor is explicitly private. This is independent of the existing `private` field, which remains true only when the item is itself explicitly private, so an item may be private with a public ancestry, inherit privacy without being private itself, or both. Returned for the `normal` and `web_normal` projections; `sync_compact` is unchanged.",
      "endpoint": "GET /companies/{company_id}/folders/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-01",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "documents?version=2.0#show-company-folder"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/folders": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List company root folder children",
    "description": "Returns the immediate accessible children of the company root folder as a single mixed collection of folders and files (descendants beyond one level are not included). Any `filters[...]` parameters apply to those immediate children.\nWith `include_descendants=true` and at least one `filters[...]` parameter, the endpoint instead searches the entire company Documents tool and returns every accessible folder and file matching all provided filters, regardless of depth in the folder tree. `sort`, `exclude_folders`, `exclude_files`, and pagination apply in both modes. When searching descendants, recycle bin content is excluded unless `filters[is_in_recycle_bin]` is provided, and `filters[private]` matches only items explicitly marked private (items inheriting privacy from a parent folder are not matched).\nResults are permission-filtered for every user: an item is returned only when it and all of its ancestors are accessible. Schedules content requires the \"Can See Schedule\" permission and recycle bin content requires the \"See Recycle Bin\" permission; without them, those folders and everything beneath them are omitted. The `Total` header is exact and pagination is uncapped in both modes.",
    "tags": [
     "Document"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Response projection. Supports legacy `web_normal` requests for compatibility with v1 folder-index flows. `normal` and `web_normal` include `has_private_ancestor`; `sync_compact` omits it.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "web_normal",
        "sync_compact"
       ]
      }
     },
     {
      "name": "show_latest_file_version_only",
      "in": "query",
      "required": false,
      "description": "Return only the latest file version per file.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "exclude_folders",
      "in": "query",
      "required": false,
      "description": "Exclude child folders from the response.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "exclude_files",
      "in": "query",
      "required": false,
      "description": "Exclude child files from the response.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "include_descendants",
      "in": "query",
      "required": false,
      "description": "Search the addressed folder's entire subtree instead of only its immediate children. On a root-children endpoint the addressed folder is the root, so this spans the whole Documents tool; on a nested folder endpoint it spans only that folder's subtree.\nOnly takes effect alongside at least one `filters[...]` parameter; supplied on its own, the response remains the immediate children. Filters supplied without this parameter continue to apply to the immediate children only, so the default behavior of the endpoint is unchanged.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort immediate folder children by one or more comma-separated terms in left-to-right priority order. Supported fields are `updated_at`, `name`, `document_type`, `created_at`, and `created_by`. Prefix a term with `-` for descending order; no prefix means ascending. For example, `document_type,-created_at,name`. Leading or interior blank terms and malformed direction prefixes return 400. Native parsing ignores trailing commas; for duplicate fields, the first occurrence keeps its priority and the last occurrence sets direction. When omitted or blank, folders are returned first in natural-name order.",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^(\\s*|-?(updated_at|name|document_type|created_at|created_by)(,-?(updated_at|name|document_type|created_at|created_by))*[,]*)$",
       "example": "document_type,-created_at,name"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Return item(s) created by the specified User IDs",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[document_type]",
      "in": "query",
      "description": "Return item(s) that are file or folder",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "file",
        "folder"
       ]
      }
     },
     {
      "name": "filters[file_type]",
      "in": "query",
      "description": "Return item(s) that have the file extensions, as a comma-separated list (e.g. `filters[file_type]=pdf,txt`).",
      "style": "form",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       },
       "example": [
        "pdf",
        "txt"
       ]
      }
     },
     {
      "name": "filters[is_in_recycle_bin]",
      "in": "query",
      "description": "Return item(s) that are in or not in the recycle bin",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[folder_id]",
      "in": "query",
      "description": "Returns the folder for a given id with all subfolders and subfiles up to a depth of 100.  Depths greater than 100 will need multiple queries to get all children.",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Interger id for a folder",
       "example": "26"
      }
     },
     {
      "name": "filters[private]",
      "in": "query",
      "description": "If true, returns only item(s) with a `private` status.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of immediate child folders and files.",
           "items": {
            "type": "object",
            "title": "Folder Children V2",
            "description": "A folder or file in the documents system",
            "properties": {
             "id": {
              "type": "string",
              "description": "Folder id",
              "example": "2"
             },
             "name": {
              "type": "string",
              "description": "Folder name",
              "example": "file.png"
             },
             "parent_id": {
              "type": "string",
              "description": "Folder parent id",
              "example": "1"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Folder created at",
              "example": "2017-01-04T21:27:18Z"
             },
             "created_by": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID",
                  "example": "161072"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl the Contractor"
                 }
                }
               }
              ]
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Folder updated at",
              "example": "2017-01-04T21:27:18Z"
             },
             "read_only": {
              "type": "boolean",
              "description": "File is read_only (only updatable via Schedule)",
              "example": false
             },
             "is_deleted": {
              "type": "boolean",
              "description": "Folder is in the recycle bin status",
              "example": false
             },
             "is_recycle_bin": {
              "type": "boolean",
              "description": "Folder is recycle bin status",
              "example": false
             },
             "document_type": {
              "type": "string",
              "description": "Folder or File",
              "enum": [
               "file",
               "folder"
              ],
              "example": "file"
             },
             "is_tracked": {
              "type": "boolean",
              "description": "Status whether Folder is explicitly tracked",
              "example": false
             },
             "private": {
              "type": "boolean",
              "description": "Status whether Folder is explicitly private",
              "example": false
             },
             "has_private_ancestor": {
              "type": "boolean",
              "description": "Whether this item inherits privacy from above it, meaning its parent or any further ancestor is explicitly private. Independent of `private`, which stays true only when this item is itself explicitly private: an item can be private with a public ancestry, inherit privacy without being private itself, or both.",
              "example": false
             },
             "private_parent": {
              "type": "object",
              "title": "Folder",
              "description": "Not returned by these endpoints. Retained only so the documented contract stays unchanged; use `has_private_ancestor` instead.",
              "properties": {
               "id": {
                "type": "string",
                "description": "Folder id",
                "example": "2"
               },
               "name": {
                "type": "string",
                "description": "Folder name",
                "example": "Subfolder"
               }
              }
             },
             "tracked_folder": {
              "type": "object",
              "title": "Folder",
              "properties": {
               "id": {
                "type": "string",
                "description": "Folder id",
                "example": "2"
               },
               "name": {
                "type": "string",
                "description": "Folder name",
                "example": "Subfolder"
               }
              }
             },
             "file": {
              "type": "object",
              "description": "will be filled if document_type is a file",
              "properties": {
               "checked_out_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID",
                    "example": "160586"
                   },
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Carl Contractor"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "locale": {
                    "type": "string",
                    "description": "Name",
                    "example": "en-CA"
                   }
                  }
                 }
                ],
                "type": "object",
                "properties": {
                 "company_name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Some Company Name"
                 }
                }
               },
               "checked_out_until": {
                "type": "string",
                "description": "File checked out time",
                "example": "2017-01-04T21:27:18Z"
               },
               "current_version": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "File version id",
                    "example": "12"
                   },
                   "notes": {
                    "type": "string",
                    "description": "File version notes",
                    "example": "this is a cool file version"
                   },
                   "url": {
                    "type": "string",
                    "description": "File version url",
                    "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
                   },
                   "size": {
                    "type": "integer",
                    "description": "File version size in bytes",
                    "example": 12674
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "File version created at",
                    "example": "2017-01-04T21:27:18Z"
                   },
                   "number": {
                    "type": "integer",
                    "description": "File version number",
                    "example": 1
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "created_by": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string",
                      "description": "ID",
                      "example": "160586"
                     },
                     "login": {
                      "type": "string",
                      "description": "Email",
                      "example": "carl.contractor@example.com"
                     },
                     "name": {
                      "type": "string",
                      "description": "Name",
                      "example": "Carl Contractor"
                     }
                    }
                   },
                   "prostore_file": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string"
                     },
                     "name": {
                      "type": "string",
                      "description": "File name"
                     },
                     "url": {
                      "type": "string",
                      "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
                     },
                     "filename": {
                      "type": "string",
                      "description": ":filename to be deprecated, use :name"
                     }
                    }
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "file_id": {
                    "type": "string",
                    "description": "Parent Files id",
                    "example": "14"
                   }
                  }
                 }
                ]
               },
               "description": {
                "type": "string",
                "description": "File name",
                "example": "some description"
               },
               "file_type": {
                "type": "string",
                "description": "File type",
                "example": "PDF"
               }
              }
             },
             "children": {
              "type": "object",
              "description": "if folder is implicitly tracked, reflects the folder that is the cause",
              "properties": {
               "has_children": {
                "type": "boolean",
                "description": "whether the Folder has children",
                "example": false
               },
               "has_children_files": {
                "type": "boolean",
                "description": "whether the Folder has children that are file",
                "example": false
               },
               "has_children_folders": {
                "type": "boolean",
                "description": "whether the Folder has children that are not file",
                "example": false
               }
              }
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field",
                  "example": "custom field value"
                 },
                 "variant": {
                  "type": "string",
                  "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                  "example": "phone_number"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID of the LOV Entry",
                    "example": "1"
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 },
                 "variant": {
                  "type": "string",
                  "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                  "example": "with_code"
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "ID of the LOV Entry",
                     "example": "2"
                    },
                    "label": {
                     "type": "string",
                     "description": "Label of the LOV Entry",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Invalid sort or filter parameter \u2014 unknown filter key, invalid filter value, malformed `filters`, or a non-boolean `include_descendants`.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/folders',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    show_latest_file_version_only: 'SOME_BOOLEAN_VALUE',\n    exclude_folders: 'SOME_BOOLEAN_VALUE',\n    exclude_files: 'SOME_BOOLEAN_VALUE',\n    include_descendants: 'SOME_BOOLEAN_VALUE',\n    sort: 'document_type,-created_at,name',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[document_type]': 'SOME_STRING_VALUE',\n    'filters[file_type]': 'pdf,txt',\n    'filters[is_in_recycle_bin]': 'SOME_BOOLEAN_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[folder_id]': '26',\n    'filters[private]': 'SOME_BOOLEAN_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/folders?view=SOME_STRING_VALUE&show_latest_file_version_only=SOME_BOOLEAN_VALUE&exclude_folders=SOME_BOOLEAN_VALUE&exclude_files=SOME_BOOLEAN_VALUE&include_descendants=SOME_BOOLEAN_VALUE&sort=document_type%2C-created_at%2Cname&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdocument_type%5D=SOME_STRING_VALUE&filters%5Bfile_type%5D=pdf%2Ctxt&filters%5Bis_in_recycle_bin%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bfolder_id%5D=26&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/folders?view=SOME_STRING_VALUE&show_latest_file_version_only=SOME_BOOLEAN_VALUE&exclude_folders=SOME_BOOLEAN_VALUE&exclude_files=SOME_BOOLEAN_VALUE&include_descendants=SOME_BOOLEAN_VALUE&sort=document_type%2C-created_at%2Cname&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdocument_type%5D=SOME_STRING_VALUE&filters%5Bfile_type%5D=pdf%2Ctxt&filters%5Bis_in_recycle_bin%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bfolder_id%5D=26&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/folders?view=SOME_STRING_VALUE&show_latest_file_version_only=SOME_BOOLEAN_VALUE&exclude_folders=SOME_BOOLEAN_VALUE&exclude_files=SOME_BOOLEAN_VALUE&include_descendants=SOME_BOOLEAN_VALUE&sort=document_type%2C-created_at%2Cname&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bdocument_type%5D=SOME_STRING_VALUE&filters%5Bfile_type%5D=pdf%2Ctxt&filters%5Bis_in_recycle_bin%5D=SOME_BOOLEAN_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bfolder_id%5D=26&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added sorting to the rest v2.0 company root Folder endpoint",
      "description": "Added optional multi-column sorting for immediate folder children using comma-separated `sort` terms. Supported fields are `updated_at`, `name`, `document_type`, `created_at`, and `created_by`. Prefix a field with `-` for descending order. Invalid sort terms return a 400 response.",
      "endpoint": "GET /companies/{company_id}/folders",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-13",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "documents?version=2.0#list-company-root-folder-children"
     },
     {
      "summary": "Added filtering and company-wide descendant search to the rest v2.0 company root Folder endpoint",
      "description": "Added `filters[...]` support. By default filters apply to the immediate accessible children of the company root folder, so the existing response shape and scope are unchanged. Supplying `include_descendants=true` alongside at least one filter widens the search to every accessible folder and file in the company Documents tool, regardless of depth; supplied on its own it has no effect. Supported filters: `search`, `created_by_id`, `created_at`, `updated_at`, `document_type`, `file_type`, `is_in_recycle_bin`, `private` (explicitly-marked items only), and `folder_id` (subtree). Sorting, `exclude_folders`/`exclude_files`, and pagination apply in both modes. When searching descendants, recycle bin content is excluded unless `filters[is_in_recycle_bin]` is provided. Results are permission-filtered so an item is returned only when it and all of its ancestors are accessible; the `Total` header is exact and pagination is uncapped for all users. Unknown filter keys, invalid filter values, malformed `filters`, and a non-boolean `include_descendants` return a 400 response.",
      "endpoint": "GET /companies/{company_id}/folders",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-24",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "documents?version=2.0#list-company-root-folder-children"
     },
     {
      "summary": "Added has_private_ancestor to the rest v2.0 company Folder index endpoint",
      "description": "Each item in the response now carries a boolean `has_private_ancestor`, indicating whether it inherits privacy from above it \u2014 that is, whether its parent or any further ancestor is explicitly private. This is independent of the existing `private` field, which remains true only when the item is itself explicitly private, so an item may be private with a public ancestry, inherit privacy without being private itself, or both. Returned for the `normal` and `web_normal` projections; `sync_compact` is unchanged.",
      "endpoint": "GET /companies/{company_id}/folders",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-01",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "documents?version=2.0#list-company-root-folder-children"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/folders/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the resource.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show project Folder (Company-scoped)",
    "description": "Return immediate accessible children for a specific project folder as a single mixed collection of folders and files, scoped under a company. Descendants beyond one level are not included, and any `filters[...]` parameters apply to those immediate children.\nWith `include_descendants=true` and at least one `filters[...]` parameter, the endpoint searches this folder's entire subtree instead. It never widens beyond the addressed folder, so matches elsewhere in the project are not returned; use the project root-children endpoint for that. Recycle bin content is excluded unless `filters[is_in_recycle_bin]` is provided.",
    "tags": [
     "Document"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Response projection. Supports legacy `web_normal` requests for compatibility with v1 folder-show flows. `normal` and `web_normal` include `has_private_ancestor`; `sync_compact` omits it.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "web_normal",
        "sync_compact"
       ]
      }
     },
     {
      "name": "show_latest_file_version_only",
      "in": "query",
      "required": false,
      "description": "Return only the latest file version per file.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "exclude_folders",
      "in": "query",
      "required": false,
      "description": "Exclude child folders from the response.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "exclude_files",
      "in": "query",
      "required": false,
      "description": "Exclude child files from the response.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "include_descendants",
      "in": "query",
      "required": false,
      "description": "Search the addressed folder's entire subtree instead of only its immediate children. On a root-children endpoint the addressed folder is the root, so this spans the whole Documents tool; on a nested folder endpoint it spans only that folder's subtree.\nOnly takes effect alongside at least one `filters[...]` parameter; supplied on its own, the response remains the immediate children. Filters supplied without this parameter continue to apply to the immediate children only, so the default behavior of the endpoint is unchanged.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort immediate folder children by one or more comma-separated terms in left-to-right priority order. Supported fields are `updated_at`, `name`, `document_type`, `created_at`, and `created_by`. Prefix a term with `-` for descending order; no prefix means ascending. For example, `document_type,-created_at,name`. Leading or interior blank terms and malformed direction prefixes return 400. Native parsing ignores trailing commas; for duplicate fields, the first occurrence keeps its priority and the last occurrence sets direction. When omitted or blank, folders are returned first in natural-name order.",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^(\\s*|-?(updated_at|name|document_type|created_at|created_by)(,-?(updated_at|name|document_type|created_at|created_by))*[,]*)$",
       "example": "document_type,-created_at,name"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Return item(s) created by the specified User IDs",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[document_type]",
      "in": "query",
      "description": "Return item(s) that are file or folder",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "file",
        "folder"
       ]
      }
     },
     {
      "name": "filters[file_type]",
      "in": "query",
      "description": "Return item(s) that have the file extensions, as a comma-separated list (e.g. `filters[file_type]=pdf,txt`).",
      "style": "form",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       },
       "example": [
        "pdf",
        "txt"
       ]
      }
     },
     {
      "name": "filters[is_in_recycle_bin]",
      "in": "query",
      "description": "Return item(s) that are in or not in the recycle bin",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[folder_id]",
      "in": "query",
      "description": "Returns the folder for a given id with all subfolders and subfiles up to a depth of 100.  Depths greater than 100 will need multiple queries to get all children.",
      "required": false,
      "schema": {
       "type": "string",
       "description": "Interger id for a folder",
       "example": "26"
      }
     },
     {
      "name": "filters[custom_tag_ids]",
      "in": "query",
      "description": "Return item(s) with specified custom tag IDs",
      "style": "form",
      "required": false,
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[custom_fields]",
      "in": "query",
      "required": false,
      "description": "Return item(s) whose custom field values match the supplied JSON object, given as a string mapping custom field definition ids to the values to match (e.g. `{\"12345\":\"Bid Set\"}`). Keys must be integer definition ids; any other key is rejected with a 400. Multiple entries are combined with AND.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[private]",
      "in": "query",
      "description": "If true, returns only item(s) with a `private` status.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of immediate child folders and files.",
           "items": {
            "type": "object",
            "title": "Folder Children V2",
            "description": "A folder or file in the documents system",
            "properties": {
             "id": {
              "type": "string",
              "description": "Folder id",
              "example": "2"
             },
             "name": {
              "type": "string",
              "description": "Folder name",
              "example": "file.png"
             },
             "parent_id": {
              "type": "string",
              "description": "Folder parent id",
              "example": "1"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Folder created at",
              "example": "2017-01-04T21:27:18Z"
             },
             "created_by": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID",
                  "example": "161072"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl the Contractor"
                 }
                }
               }
              ]
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Folder updated at",
              "example": "2017-01-04T21:27:18Z"
             },
             "read_only": {
              "type": "boolean",
              "description": "File is read_only (only updatable via Schedule)",
              "example": false
             },
             "is_deleted": {
              "type": "boolean",
              "description": "Folder is in the recycle bin status",
              "example": false
             },
             "is_recycle_bin": {
              "type": "boolean",
              "description": "Folder is recycle bin status",
              "example": false
             },
             "document_type": {
              "type": "string",
              "description": "Folder or File",
              "enum": [
               "file",
               "folder"
              ],
              "example": "file"
             },
             "is_tracked": {
              "type": "boolean",
              "description": "Status whether Folder is explicitly tracked",
              "example": false
             },
             "private": {
              "type": "boolean",
              "description": "Status whether Folder is explicitly private",
              "example": false
             },
             "has_private_ancestor": {
              "type": "boolean",
              "description": "Whether this item inherits privacy from above it, meaning its parent or any further ancestor is explicitly private. Independent of `private`, which stays true only when this item is itself explicitly private: an item can be private with a public ancestry, inherit privacy without being private itself, or both.",
              "example": false
             },
             "private_parent": {
              "type": "object",
              "title": "Folder",
              "description": "Not returned by these endpoints. Retained only so the documented contract stays unchanged; use `has_private_ancestor` instead.",
              "properties": {
               "id": {
                "type": "string",
                "description": "Folder id",
                "example": "2"
               },
               "name": {
                "type": "string",
                "description": "Folder name",
                "example": "Subfolder"
               }
              }
             },
             "tracked_folder": {
              "type": "object",
              "title": "Folder",
              "properties": {
               "id": {
                "type": "string",
                "description": "Folder id",
                "example": "2"
               },
               "name": {
                "type": "string",
                "description": "Folder name",
                "example": "Subfolder"
               }
              }
             },
             "file": {
              "type": "object",
              "description": "will be filled if document_type is a file",
              "properties": {
               "checked_out_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "ID",
                    "example": "160586"
                   },
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Carl Contractor"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "locale": {
                    "type": "string",
                    "description": "Name",
                    "example": "en-CA"
                   }
                  }
                 }
                ],
                "type": "object",
                "properties": {
                 "company_name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Some Company Name"
                 }
                }
               },
               "checked_out_until": {
                "type": "string",
                "description": "File checked out time",
                "example": "2017-01-04T21:27:18Z"
               },
               "current_version": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "File version id",
                    "example": "12"
                   },
                   "notes": {
                    "type": "string",
                    "description": "File version notes",
                    "example": "this is a cool file version"
                   },
                   "url": {
                    "type": "string",
                    "description": "File version url",
                    "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
                   },
                   "size": {
                    "type": "integer",
                    "description": "File version size in bytes",
                    "example": 12674
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "File version created at",
                    "example": "2017-01-04T21:27:18Z"
                   },
                   "number": {
                    "type": "integer",
                    "description": "File version number",
                    "example": 1
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "created_by": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string",
                      "description": "ID",
                      "example": "160586"
                     },
                     "login": {
                      "type": "string",
                      "description": "Email",
                      "example": "carl.contractor@example.com"
                     },
                     "name": {
                      "type": "string",
                      "description": "Name",
                      "example": "Carl Contractor"
                     }
                    }
                   },
                   "prostore_file": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "string"
                     },
                     "name": {
                      "type": "string",
                      "description": "File name"
                     },
                     "url": {
                      "type": "string",
                      "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/companies/1/RR1NG2IB4MRGTEU1CGP3LVZM7L?sig=uj51h1460qjsx8a0hpb58o2zryzy7hrw65ushnj0muiqcdmcvuu6t4pefd922xb7"
                     },
                     "filename": {
                      "type": "string",
                      "description": ":filename to be deprecated, use :name"
                     }
                    }
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "file_id": {
                    "type": "string",
                    "description": "Parent Files id",
                    "example": "14"
                   }
                  }
                 }
                ]
               },
               "description": {
                "type": "string",
                "description": "File name",
                "example": "some description"
               },
               "file_type": {
                "type": "string",
                "description": "File type",
                "example": "PDF"
               }
              }
             },
             "children": {
              "type": "object",
              "description": "if folder is implicitly tracked, reflects the folder that is the cause",
              "properties": {
               "has_children": {
                "type": "boolean",
                "description": "whether the Folder has children",
                "example": false
               },
               "has_children_files": {
                "type": "boolean",
                "description": "whether the Folder has children that are file",
                "example": false
               },
               "has_children_folders": {
                "type": "boolean",
                "description": "whether the Folder has children that are not file",
                "example": false
               }
              }
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field",
                  "example": "custom field value"
                 },
                 "variant": {
                  "type": "string",
                  "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                  "example": "phone_number"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
[...]
