{
 "openapi": "3.0.0",
 "info": {
  "title": "Drawings",
  "x-product-category": "Project Management",
  "x-tool-category": "Drawings",
  "x-resource-name": "Drawings",
  "version": "1.1",
  "x-product-lines": [
   "PM Starter Pack",
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/drawing_areas/{drawing_area_id}/drawings": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "drawing_area_id",
     "in": "path",
     "description": "ID of the drawing area",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List drawings",
    "description": "Returns a list of all Drawings for a specified drawing area.",
    "tags": [
     "Drawings"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": false,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[drawing_discipline_id]",
      "in": "query",
      "required": false,
      "description": "Returns a list of drawings that are linked to the provided drawing_discipline_id",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[drawing_set_id]",
      "in": "query",
      "required": false,
      "description": "Returns a list of drawings that are linked to the provided drawing_set_id. Can optionally pass 'current_set' to return only drawings that are published.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "with_position",
      "in": "query",
      "required": false,
      "description": "Returns a list of drawings conditionally ordered by position. By default, it will order by position.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The 'compact' view returns the minimal attributes of a drawing (id, number, title, obsolete, and discipline). The 'extended' view returns minimal attributes with the current_revision object, which contains image urls. The 'with_revisions' view returns all revisions associated with each drawing. If not provided, the default view is the 'extended' view.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "compact",
        "extended",
        "with_revisions"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of drawings",
         "items": {
          "type": "object",
          "description": "Drawing",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Drawing ID",
            "example": 1
           },
           "discipline": {
            "type": "string",
            "description": "Drawing discipline",
            "example": "Architectural"
           },
           "drawing_discipline_id": {
            "type": "integer",
            "description": "Drawing discipline ID",
            "example": 3
           },
           "number": {
            "type": "string",
            "description": "Drawing number",
            "example": "A2"
           },
           "drawing_number": {
            "type": "string",
            "description": "Canonical drawing number without sheet-number suffix formatting",
            "example": "A2"
           },
           "sheet_number": {
            "type": "integer",
            "nullable": true,
            "description": "Sheet number when assigned for multi-sheet drawings",
            "example": 1
           },
           "title": {
            "type": "string",
            "description": "Drawing title",
            "example": "Architectural 2nd Floor",
            "nullable": true
           },
           "obsolete": {
            "type": "boolean",
            "description": "Obsolete status",
            "example": true
           },
           "current_revision": {
            "type": "object",
            "description": "Current drawing revision",
            "nullable": true,
            "properties": {
             "floorplan": {
              "type": "boolean",
              "description": "Revision floorplan status",
              "example": false
             },
             "has_drawing_sketches": {
              "type": "boolean",
              "description": "Revision has drawing sketches status",
              "example": true
             },
             "id": {
              "type": "integer",
              "description": "Revision ID",
              "example": 2
             },
             "pdf_size": {
              "type": "integer",
              "description": "PDF file size",
              "example": 1024000
             },
             "pdf_url": {
              "type": "string",
              "description": "PDF url address",
              "example": "https://s3.amazonaws.com/pro-core.com/prostore/drawing.pdf"
             },
             "png_size": {
              "type": "integer",
              "description": "PNG file size",
              "example": 1024000
             },
             "png_url": {
              "type": "string",
              "description": "PNG url address",
              "example": "https://s3.amazonaws.com/pro-core.com/prostore/drawing.png"
             },
             "revision_number": {
              "type": "string",
              "description": "Revision number",
              "example": "0"
             },
             "thumbnail_url": {
              "type": "string",
              "description": "Thumbnail url",
              "example": "https://s3.amazonaws.com/pro-core.com/prostore/drawing_thumbnail.png"
             },
             "large_thumbnail_url": {
              "type": "string",
              "description": "Large thumbnail url",
              "example": "https://s3.amazonaws.com/pro-core.com/prostore/drawing_thumbnail.png"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Revision updated at",
              "example": "2015-03-19T12:00:00Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[drawing_discipline_id]': 'SOME_INTEGER_VALUE',\n    'filters[drawing_set_id]': 'SOME_INTEGER_VALUE',\n    with_position: 'SOME_BOOLEAN_VALUE',\n    view: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdrawing_discipline_id%5D=SOME_INTEGER_VALUE&filters%5Bdrawing_set_id%5D=SOME_INTEGER_VALUE&with_position=SOME_BOOLEAN_VALUE&view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdrawing_discipline_id%5D=SOME_INTEGER_VALUE&filters%5Bdrawing_set_id%5D=SOME_INTEGER_VALUE&with_position=SOME_BOOLEAN_VALUE&view=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bdrawing_discipline_id%5D=SOME_INTEGER_VALUE&filters%5Bdrawing_set_id%5D=SOME_INTEGER_VALUE&with_position=SOME_BOOLEAN_VALUE&view=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Sheet number support for drawings index and create APIs",
      "description": "Drawings index responses now support multi-sheet number identity and serialization. Responses include `sheet_number` and `drawing_number`, while `number` remains display-formatted (`<drawing_number> (<sheet_number>)` when sheet number is present). Enablement is managed internally by the Drawings development team. Please contact your Procore Account Manager or Support to request enablement. When not enabled, endpoints keep current behavior.",
      "endpoint": "GET /drawing_areas/{drawing_area_id}/drawings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-06",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.0#list-drawings"
     },
     {
      "summary": "Drawings Index response payload enhancements",
      "description": "Added new view parameter `with_revisions` to Drawings Index endpoint which returns all revisions associated with each drawing.\nAdds drawing_discipline_id attribute to all views.",
      "endpoint": "GET /drawing_areas/{drawing_area_id}/drawings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-01-27",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.0#list-drawings"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Drawing",
    "description": "Create specified Drawing. For additional information on using the Create Drawing Upload endpoint, see the [Direct Drawing Uploads](https://developers.procore.com/documentation/tutorial-direct-drawing-uploads) tutorial.",
    "tags": [
     "Drawings"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "drawing"
        ],
        "properties": {
         "drawing": {
          "title": "Drawing",
          "type": "object",
          "description": "Drawing",
          "required": [
           "number",
           "drawing_discipline"
          ],
          "properties": {
           "number": {
            "type": "string",
            "description": "Drawing number",
            "example": "A2"
           },
           "sheet_number": {
            "type": "integer",
            "nullable": true,
            "description": "Non-negative whole-number identifier for a sheet within a multi-sheet drawing. Include it with `number` to distinguish sheets that share the same drawing number; omit or set to `null` when the drawing has no sheet number.",
            "example": 5
           },
           "title": {
            "type": "string",
            "description": "Drawing title",
            "example": "Architectural 2nd Floor"
           },
           "drawing_discipline": {
            "type": "object",
            "description": "Drawing discipline",
            "required": [
             "name"
            ],
            "properties": {
             "name": {
              "type": "string",
              "description": "Drawing discipline name",
              "example": "Architectural"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Drawing",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Drawing ID",
           "example": 1
          },
          "number": {
           "type": "string",
           "description": "Drawing number",
           "example": "A2"
          },
          "drawing_number": {
           "type": "string",
           "description": "Canonical drawing number without sheet-number suffix formatting",
           "example": "A2"
          },
          "sheet_number": {
           "type": "integer",
           "nullable": true,
           "description": "Sheet number when assigned for multi-sheet drawings",
           "example": 1
          },
          "title": {
           "type": "string",
           "description": "Drawing title",
           "example": "Architectural 2nd Floor"
          },
          "obsolete": {
           "type": "boolean",
           "description": "Obsolete status",
           "example": true
          },
          "discipline": {
           "type": "string",
           "description": "Drawing discipline",
           "example": "Architectural"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    drawing: {\n      number: 'A2',\n      sheet_number: 5,\n      title: 'Architectural 2nd Floor',\n      drawing_discipline: {name: 'Architectural'}\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"drawing\\\":{\\\"number\\\":\\\"A2\\\",\\\"sheet_number\\\":5,\\\"title\\\":\\\"Architectural 2nd Floor\\\",\\\"drawing_discipline\\\":{\\\"name\\\":\\\"Architectural\\\"}}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"drawing\":{\"number\":\"A2\",\"sheet_number\":5,\"title\":\"Architectural 2nd Floor\",\"drawing_discipline\":{\"name\":\"Architectural\"}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"drawing\\\":{\\\"number\\\":\\\"A2\\\",\\\"sheet_number\\\":5,\\\"title\\\":\\\"Architectural 2nd Floor\\\",\\\"drawing_discipline\\\":{\\\"name\\\":\\\"Architectural\\\"}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Sheet number support for drawings create APIs",
      "description": "Drawings create APIs now accept an optional `sheet_number` request field for multi-sheet disambiguation alongside `number`. Enablement is managed internally by the Drawings development team. Please contact your Procore Account Manager or Support to request enablement. When not enabled, endpoints keep current behavior.",
      "endpoint": "POST /drawing_areas/{drawing_area_id}/drawings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-11",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "private",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "drawings?version=1.0#create-drawing"
     },
     {
      "summary": "Add new endpoint create drawing",
      "description": "Added new endpoint to create a drawing. For additional information on using the Create Drawing endpoint, see the [Direct Drawing Uploads](https://developers.procore.com/documentation/tutorial-direct-drawing-uploads) tutorial.",
      "endpoint": "POST /drawing_areas/{drawing_area_id}/drawings",
      "type": "new",
      "breaking": true,
      "datestamp": "2021-03-18",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.1#create-drawing"
     },
     {
      "summary": "Add idempotent token header",
      "description": "Adding the Idempotent Token headers.",
      "endpoint": "POST /drawing_areas/{drawing_area_id}/drawings",
      "type": "fix",
      "breaking": false,
      "datestamp": "2022-11-30",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.1#create-drawing"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/drawing_areas/{drawing_area_id}/drawings/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "drawing_area_id",
     "in": "path",
     "description": "ID of the drawing area",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Drawing ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Drawing",
    "description": "Update specified Drawing",
    "tags": [
     "Drawings"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "drawing"
        ],
        "properties": {
         "drawing": {
          "title": "Drawing",
          "type": "object",
          "description": "Drawing",
          "properties": {
           "number": {
            "type": "string",
            "description": "Drawing number",
            "example": "A2"
           },
           "sheet_number": {
            "type": "integer",
            "nullable": true,
            "description": "Non-negative whole-number identifier for a sheet within a multi-sheet drawing. Include it with `number` to distinguish sheets that share the same drawing number; set to `null` to clear an existing sheet number.",
            "example": 5
           },
           "title": {
            "type": "string",
            "description": "Drawing title",
            "example": "Architectural 2nd Floor"
           },
           "obsolete": {
            "type": "boolean",
            "description": "Obsolete status",
            "example": true
           },
           "drawing_discipline": {
            "type": "object",
            "description": "Drawing discipline",
            "properties": {
             "name": {
              "type": "string",
              "description": "Drawing discipline name",
              "example": "Architectural"
             }
            }
           },
           "ordered_revision_ids": {
            "type": "array",
            "description": "Ordered array of the complete list of reviewed and published Drawing Revision IDs that belong to the drawing",
            "items": {
             "type": "integer"
            },
            "example": [
             1587816
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Drawing",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Drawing ID",
           "example": 1
          },
          "number": {
           "type": "string",
           "description": "Drawing number",
           "example": "A2"
          },
          "drawing_number": {
           "type": "string",
           "description": "Canonical drawing number without sheet-number suffix formatting",
           "example": "A2"
          },
          "sheet_number": {
           "type": "integer",
           "nullable": true,
           "description": "Sheet number when assigned for multi-sheet drawings",
           "example": 1
          },
          "title": {
           "type": "string",
           "description": "Drawing title",
           "example": "Architectural 2nd Floor"
          },
          "obsolete": {
           "type": "boolean",
           "description": "Obsolete status",
           "example": true
          },
          "discipline": {
           "type": "string",
           "description": "Drawing discipline",
           "example": "Architectural"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings/%7Bid%7D',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    drawing: {\n      number: 'A2',\n      sheet_number: 5,\n      title: 'Architectural 2nd Floor',\n      obsolete: true,\n      drawing_discipline: {name: 'Architectural'},\n      ordered_revision_ids: [1587816]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"drawing\\\":{\\\"number\\\":\\\"A2\\\",\\\"sheet_number\\\":5,\\\"title\\\":\\\"Architectural 2nd Floor\\\",\\\"obsolete\\\":true,\\\"drawing_discipline\\\":{\\\"name\\\":\\\"Architectural\\\"},\\\"ordered_revision_ids\\\":[1587816]}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"drawing\":{\"number\":\"A2\",\"sheet_number\":5,\"title\":\"Architectural 2nd Floor\",\"obsolete\":true,\"drawing_discipline\":{\"name\":\"Architectural\"},\"ordered_revision_ids\":[1587816]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/drawing_areas/%7Bdrawing_area_id%7D/drawings/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"drawing\\\":{\\\"number\\\":\\\"A2\\\",\\\"sheet_number\\\":5,\\\"title\\\":\\\"Architectural 2nd Floor\\\",\\\"obsolete\\\":true,\\\"drawing_discipline\\\":{\\\"name\\\":\\\"Architectural\\\"},\\\"ordered_revision_ids\\\":[1587816]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Sheet number support for v1 drawings update APIs",
      "description": "Drawings update APIs now accept optional `sheet_number` in update payloads when sheet-number support is enabled, allowing number updates to be disambiguated in multi-sheet workflows. Clients may also send `sheet_number: null` to clear an existing value. Update handling preserves canonical drawing numbers by stripping an echoed `(<sheet_number>)` suffix from `number` inputs before persistence. Enablement is managed internally by the Drawings development team. Please contact your Procore Account Manager or Support to request enablement. When not enabled, endpoints keep current behavior aside from allowing a clear.",
      "endpoint": "PATCH /drawing_areas/{drawing_area_id}/drawings/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-11",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.0#update-drawing"
     },
     {
      "summary": "Update permits reuse of deleted drawing number",
      "description": "Previously, the error `drawing number already in use` prevented user from updating a drawing with a deleted drawing number.\nThis change allows the drawing to be updated with that deleted drawing number.",
      "endpoint": "PATCH /drawing_areas/{drawing_area_id}/drawings/{id}",
      "type": "fix",
      "breaking": false,
      "datestamp": "2021-01-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.1#update-drawing"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/drawing_uploads": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List drawing uploads",
    "description": "Returns a list of all Drawing Uploads in the specified Project.",
    "tags": [
     "Drawings"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Specifies the level of detail returned in the response.\nThe 'with_drawing_log_imports' view provides additional data as shown below.\nThe 'normal' view is the default if not specified.",
      "schema": {
       "type": "string",
       "enum": [
        "normal",
        "with_drawing_log_imports"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of drawing uploads",
         "items": {
          "title": "DrawingUpload",
          "type": "object",
          "description": "Drawing Upload",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Drawing Upload ID",
            "example": 85
           },
           "project_id": {
            "type": "integer",
            "description": "Unique identifier for the project.",
            "example": 2
           },
           "company_id": {
            "type": "integer",
            "description": "Unique identifier for the company.",
            "example": 3,
            "nullable": true
           },
           "created_by_id": {
            "type": "integer",
            "description": "ID of creator",
            "example": 5
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Drawing Upload created at",
            "example": "2016-08-08T21:35:58Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Drawing Upload updated at",
            "example": "2016-08-08T21:35:58Z"
           },
           "error_email_sent": {
            "type": "boolean",
            "description": "Error email sent status",
            "example": false
           },
           "notify_on_success": {
            "type": "boolean",
            "description": "Notify on success status",
            "example": false
           },
           "deletion_in_progress": {
            "type": "boolean",
            "description": "Deletion in progress status",
            "example": false
           },
           "success_email_sent": {
            "type": "boolean",
            "description": "Success email sent status",
            "example": false
           },
           "drawing_area_id": {
            "type": "integer",
            "description": "Drawing Area ID",
            "example": 1
           },
           "status": {
            "type": "string",
            "enum": [
             "in_queue",
             "in_progress",
             "mechanical_turk",
             "failed",
             "ready_for_review",
             "reviewed"
            ],
            "example": "in_progress"
           },
           "pre_adaptive_complete": {
            "type": "boolean",
            "description": "Pre adaptive complete status",
            "example": false
           },
           "drawing_number_contains_revision": {
            "type": "boolean",
            "description": "Drawing number contains revision",
            "example": false
           },
           "get_info_from_filename": {
            "type": "boolean",
            "description": "Get info from filename",
            "example": false
           },
           "language": {
            "type": "string",
            "description": "Language for OCR",
            "example": "es",
            "nullable": true
           },
           "drawing_log_imports": {
            "type": "array",
            "description": "Drawing Log Imports (Only included in 'with_drawing_log_imports' view)",
            "items": {
             "title": "DrawingLogImport",
             "type": "object",
             "description": "Drawing Log Import",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Drawing Log Import ID",
               "example": 85
              },
              "filename": {
               "type": "string",
               "description": "Filename",
               "example": "example.pdf"
              },
              "drawing_set_id": {
               "type": "integer",
               "description": "Drawing Set ID",
               "example": 42
              },
              "drawing_date": {
               "type": "string",
               "format": "date",
               "description": "Drawing date",
               "example": "2021-09-07"
              },
              "received_date": {
               "type": "string",
               "format": "date",
               "description": "Received date",
               "example": "2021-09-07"
              },
              "default_revision": {
               "type": "string",
               "description": "Default Revision for any Drawing Revisions in the Import",
               "example": "23"
              },
              "drawing_id": {
               "type": "integer",
               "description": "Drawing ID",
               "example": 88
              },
              "custom_fields": {
               "type": "object",
               "properties": {
                "custom_field_%{custom_field_string_definition_id}": {
                 "type": "object",
                 "properties": {
                  "data_type": {
                   "type": "string",
                   "description": "Data type of the Custom Field Definition",
                   "example": "string"
                  },
                  "value": {
                   "type": "string",
                   "description": "The value of the custom field",
                   "example": "custom field value"
                  },
                  "variant": {
                   "type": "string",
                   "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                   "example": "phone_number"
                  }
                 }
                },
                "custom_field_%{custom_field_decimal_definition_id}": {
                 "type": "object",
                 "properties": {
                  "data_type": {
                   "type": "string",
                   "description": "Data type of the Custom Field Definition",
                   "example": "decimal"
                  },
                  "value": {
                   "type": "number",
                   "description": "The value of the custom field",
                   "example": 2.2
                  }
                 }
                },
                "custom_field_%{custom_field_boolean_definition_id}": {
                 "type": "object",
                 "properties": {
                  "data_type": {
                   "type": "string",
                   "description": "Data type of the Custom Field Definition",
                   "example": "boolean"
                  },
                  "value": {
                   "type": "boolean",
                   "description": "The value of the custom field",
                   "example": true
                  }
                 }
                },
                "custom_field_%{custom_field_lov_entry_definition_id}": {
                 "type": "object",
                 "properties": {
                  "data_type": {
                   "type": "string",
                   "description": "Data type of the Custom Field Definition",
                   "example": "lov_entry"
                  },
                  "value": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "ID of the LOV Entry",
                     "example": 1
                    },
                    "label": {
                     "type": "string",
                     "description": "Label of the LOV Entry",
                     "example": "Open"
                    }
                   }
                  },
                  "variant": {
                   "type": "string",
                   "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                   "example": "with_code"
                  }
                 }
                },
                "custom_field_%{custom_field_lov_entries_definition_id}": {
                 "type": "object",
                 "properties": {
                  "data_type": {
                   "type": "string",
                   "description": "Data type of the Custom Field Definition",
                   "example": "lov_entries"
                  },
                  "value": {
                   "type": "array",
                   "items": {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "ID of the LOV Entry",
                      "example": 2
                     },
                     "label": {
                      "type": "string",
                      "description": "Label of the LOV Entry",
                      "example": "Open"
                     }
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added new drawing upload endpoint",
      "description": "List drawing uploads with per_page query attribute.\nFor additional information on using the Create Drawing Upload endpoint, see the [Direct Drawing Uploads](https://developers.procore.com/documentation/tutorial-direct-drawing-uploads) tutorial",
      "endpoint": "GET /projects/{project_id}/drawing_uploads",
      "type": "new",
      "breaking": true,
      "datestamp": "2021-07-12",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.1#list-drawing-uploads"
     },
     {
      "summary": "Added query parameter to specify view",
      "description": "An optional query parameter to change the level of detail in the response.\n\n`with_drawing_log_imports` returns drawing log imports for each drawing upload.\n\n`normal` is the default if not specified.",
      "endpoint": "GET /projects/{project_id}/drawing_uploads",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-09-07",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.1#list-drawing-uploads"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create drawing upload",
    "parameters": [
     {
      "name": "Idempotency-Token",
      "in": "header",
      "description": "Unique idempotent token",
      "schema": {
       "type": "string"
      }
     }
    ],
    "description": "Create a new Drawing Upload in the specified project.\n\nIt creates one `DrawingUpload`, which includes a `DrawingLogImport` and a `ProstoreFile` for each file uploaded. The Drawing Upload will be processed asynchronously after the response.\nFor additional information on using the Create Drawing endpoint, see [Direct Drawing Uploads](/documentation/tutorial-direct-drawing-uploads) tutorial.",
    "tags": [
     "Drawings"
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "drawing_upload": {
          "title": "Drawing Upload",
          "type": "object",
          "required": [
           "drawing_log_imports",
           "drawing_set_id"
          ],
          "properties": {
           "drawing_area_id": {
            "type": "integer",
            "description": "Drawing Area ID\n*Required only if Drawing Area is turned on",
            "example": 123456
           },
           "drawing_number_contains_revision": {
            "type": "boolean",
            "description": "Drawing number contains revision status",
            "example": true
           },
           "drawing_set_id": {
            "type": "integer",
            "description": "Drawing Set ID",
            "example": 123456
           },
           "get_info_from_filename": {
            "type": "boolean",
            "description": "Get drawing title, number from filename",
            "example": false
           },
           "drawing_log_imports": {
            "type": "array",
            "description": "Array of Drawing Log Import parameters.\nThere should be one Drawing Log Import per file/Upload in the Drawing Upload.",
            "items": {
             "type": "object",
             "required": [
              "upload_uuid",
              "drawing_date",
              "default_revision"
             ],
             "properties": {
              "upload_uuid": {
               "type": "string",
               "description": "An Uploads objects uuid. Must be a pdf.",
               "example": "1ZE258W9K804SAJJZX19JVAB3R"
              },
              "drawing_date": {
               "type": "string",
               "format": "date-time",
               "example": "2021-03-17T12:42:00Z",
               "description": "Drawing date\n*Required only if a drawing_id is provided"
              },
              "received_date": {
               "type": "string",
               "format": "date-time",
               "example": "2021-03-17T12:42:00Z",
               "description": "Received date"
              },
              "default_revision": {
               "type": "string",
               "example": "23",
               "description": "Default Revision for any Drawing Revisions in the Import\n*Required only if a drawing_id is provided"
              },
              "drawing_id": {
               "type": "integer",
               "description": "Drawing ID to associate any created Drawing Revisions to",
               "example": 123456
              },
              "custom_field_%{custom_field_definition_id}": {
               "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
               "example": "custom field value",
               "oneOf": [
                {
                 "type": "string",
                 "title": "string"
                },
                {
                 "type": "number",
                 "title": "number"
                },
                {
                 "type": "boolean",
                 "title": "boolean"
                },
                {
                 "type": "array",
                 "title": "array",
                 "items": {
                  "type": "integer"
                 }
                }
               ]
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK (Duplicate Idempotency-token header)",
      "content": {
       "application/json": {
        "schema": {
         "title": "DrawingUpload",
         "type": "object",
         "description": "Drawing Upload",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Drawing Upload ID",
           "example": 85
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 2
          },
          "company_id": {
           "type": "integer",
           "description": "Unique identifier for the company.",
           "example": 3,
           "nullable": true
          },
          "created_by_id": {
           "type": "integer",
           "description": "ID of creator",
           "example": 5
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Drawing Upload created at",
           "example": "2016-08-08T21:35:58Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Drawing Upload updated at",
           "example": "2016-08-08T21:35:58Z"
          },
          "error_email_sent": {
           "type": "boolean",
           "description": "Error email sent status",
           "example": false
          },
          "notify_on_success": {
           "type": "boolean",
           "description": "Notify on success status",
           "example": false
          },
          "deletion_in_progress": {
           "type": "boolean",
           "description": "Deletion in progress status",
           "example": false
          },
          "success_email_sent": {
           "type": "boolean",
           "description": "Success email sent status",
           "example": false
          },
          "drawing_area_id": {
           "type": "integer",
           "description": "Drawing Area ID",
           "example": 1
          },
          "status": {
           "type": "string",
           "enum": [
            "in_queue",
            "in_progress",
            "mechanical_turk",
            "failed",
            "ready_for_review",
            "reviewed"
           ],
           "example": "in_progress"
          },
          "pre_adaptive_complete": {
           "type": "boolean",
           "description": "Pre adaptive complete status",
           "example": false
          },
          "drawing_number_contains_revision": {
           "type": "boolean",
           "description": "Drawing number contains revision",
           "example": false
          },
          "get_info_from_filename": {
           "type": "boolean",
           "description": "Get info from filename",
           "example": false
          },
          "language": {
           "type": "string",
           "description": "Language for OCR",
           "example": "es",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "DrawingUpload",
         "type": "object",
         "description": "Drawing Upload",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Drawing Upload ID",
           "example": 85
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 2
          },
          "company_id": {
           "type": "integer",
           "description": "Unique identifier for the company.",
           "example": 3,
           "nullable": true
          },
          "created_by_id": {
           "type": "integer",
           "description": "ID of creator",
           "example": 5
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Drawing Upload created at",
           "example": "2016-08-08T21:35:58Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Drawing Upload updated at",
           "example": "2016-08-08T21:35:58Z"
          },
          "error_email_sent": {
           "type": "boolean",
           "description": "Error email sent status",
           "example": false
          },
          "notify_on_success": {
           "type": "boolean",
           "description": "Notify on success status",
           "example": false
          },
          "deletion_in_progress": {
           "type": "boolean",
           "description": "Deletion in progress status",
           "example": false
          },
          "success_email_sent": {
           "type": "boolean",
           "description": "Success email sent status",
           "example": false
          },
          "drawing_area_id": {
           "type": "integer",
           "description": "Drawing Area ID",
           "example": 1
          },
          "status": {
           "type": "string",
           "enum": [
            "in_queue",
            "in_progress",
            "mechanical_turk",
            "failed",
            "ready_for_review",
            "reviewed"
           ],
           "example": "in_progress"
          },
          "pre_adaptive_complete": {
           "type": "boolean",
           "description": "Pre adaptive complete status",
           "example": false
          },
          "drawing_number_contains_revision": {
           "type": "boolean",
           "description": "Drawing number contains revision",
           "example": false
          },
          "get_info_from_filename": {
           "type": "boolean",
           "description": "Get info from filename",
           "example": false
          },
          "language": {
           "type": "string",
           "description": "Language for OCR",
           "example": "es",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads',\n  headers: {\n    'Idempotency-Token': 'SOME_STRING_VALUE',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'multipart/form-data; boundary=---011000010111000001101001'\n  },\n  formData: {\n    drawing_upload: '{\"drawing_area_id\":123456,\"drawing_number_contains_revision\":true,\"drawing_set_id\":123456,\"get_info_from_filename\":false,\"drawing_log_imports\":[{\"upload_uuid\":\"1ZE258W9K804SAJJZX19JVAB3R\",\"drawing_date\":\"2021-03-17T12:42:00Z\",\"received_date\":\"2021-03-17T12:42:00Z\",\"default_revision\":\"23\",\"drawing_id\":123456,\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}]}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"drawing_upload\\\"\\r\\n\\r\\n{\\\"drawing_area_id\\\":123456,\\\"drawing_number_contains_revision\\\":true,\\\"drawing_set_id\\\":123456,\\\"get_info_from_filename\\\":false,\\\"drawing_log_imports\\\":[{\\\"upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3R\\\",\\\"drawing_date\\\":\\\"2021-03-17T12:42:00Z\\\",\\\"received_date\\\":\\\"2021-03-17T12:42:00Z\\\",\\\"default_revision\\\":\\\"23\\\",\\\"drawing_id\\\":123456,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}]}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = {\n    'Idempotency-Token': \"SOME_STRING_VALUE\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"multipart/form-data; boundary=---011000010111000001101001\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'Idempotency-Token: SOME_STRING_VALUE' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'drawing_upload={\"drawing_area_id\":123456,\"drawing_number_contains_revision\":true,\"drawing_set_id\":123456,\"get_info_from_filename\":false,\"drawing_log_imports\":[{\"upload_uuid\":\"1ZE258W9K804SAJJZX19JVAB3R\",\"drawing_date\":\"2021-03-17T12:42:00Z\",\"received_date\":\"2021-03-17T12:42:00Z\",\"default_revision\":\"23\",\"drawing_id\":123456,\"custom_field_%{custom_field_definition_id}\":\"custom field value\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads\"),\n    Headers =\n    {\n        { \"Idempotency-Token\", \"SOME_STRING_VALUE\" },\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"drawing_area_id\\\":123456,\\\"drawing_number_contains_revision\\\":true,\\\"drawing_set_id\\\":123456,\\\"get_info_from_filename\\\":false,\\\"drawing_log_imports\\\":[{\\\"upload_uuid\\\":\\\"1ZE258W9K804SAJJZX19JVAB3R\\\",\\\"drawing_date\\\":\\\"2021-03-17T12:42:00Z\\\",\\\"received_date\\\":\\\"2021-03-17T12:42:00Z\\\",\\\"default_revision\\\":\\\"23\\\",\\\"drawing_id\\\":123456,\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\"}]}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"drawing_upload\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Document idempotent token header",
      "description": "Update documentation to describe the Idempotent Token header.",
      "endpoint": "POST /projects/{project_id}/drawing_uploads",
      "type": "fix",
      "breaking": false,
      "datestamp": "2022-06-27",
      "versions": [
       "1.0",
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.0#create-drawing-upload"
     },
     {
      "summary": "Drawing Upload create supports Custom Fields",
      "description": "Add custom field keys and values to drawing_log_imports objects. The\ncustom fields will be set on Drawing Revisions produced from the created\nDrawing Upload.",
      "endpoint": "POST /projects/{project_id}/drawing_uploads",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-04-23",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.1#create-drawing-upload"
     },
     {
      "summary": "Added new drawing upload endpoint",
      "description": "Create drawing upload. For additional information on using the Create Drawing Upload endpoint, see the [Direct Drawing Uploads](https://developers.procore.com/documentation/tutorial-direct-drawing-uploads) tutorial",
      "endpoint": "POST /projects/{project_id}/drawing_uploads",
      "type": "new",
      "breaking": true,
      "datestamp": "2021-03-18",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.1#create-drawing-upload"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/drawing_uploads/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Drawing Upload ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "view",
     "in": "query",
     "description": "Specifies the level of detail returned in the response.\nThe 'with_drawing_log_imports' view provides additional data as shown below.\nThe 'normal' view is the default if not specified.",
     "schema": {
      "type": "string",
      "enum": [
       "normal",
       "with_drawing_log_imports"
      ]
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Drawing Upload",
    "description": "Get the details of a single Drawing Upload",
    "tags": [
     "Drawing Uploads"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "DrawingUpload",
         "type": "object",
         "description": "Drawing Upload",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Drawing Upload ID",
           "example": 85
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project.",
           "example": 2
          },
          "company_id": {
           "type": "integer",
           "description": "Unique identifier for the company.",
           "example": 3,
           "nullable": true
          },
          "created_by_id": {
           "type": "integer",
           "description": "ID of creator",
           "example": 5
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Drawing Upload created at",
           "example": "2016-08-08T21:35:58Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Drawing Upload updated at",
           "example": "2016-08-08T21:35:58Z"
          },
          "error_email_sent": {
           "type": "boolean",
           "description": "Error email sent status",
           "example": false
          },
          "notify_on_success": {
           "type": "boolean",
           "description": "Notify on success status",
           "example": false
          },
          "deletion_in_progress": {
           "type": "boolean",
           "description": "Deletion in progress status",
           "example": false
          },
          "success_email_sent": {
           "type": "boolean",
           "description": "Success email sent status",
           "example": false
          },
          "drawing_area_id": {
           "type": "integer",
           "description": "Drawing Area ID",
           "example": 1
          },
          "status": {
           "type": "string",
           "enum": [
            "in_queue",
            "in_progress",
            "mechanical_turk",
            "failed",
            "ready_for_review",
            "reviewed"
           ],
           "example": "in_progress"
          },
          "pre_adaptive_complete": {
           "type": "boolean",
           "description": "Pre adaptive complete status",
           "example": false
          },
          "drawing_number_contains_revision": {
           "type": "boolean",
           "description": "Drawing number contains revision",
           "example": false
          },
          "get_info_from_filename": {
           "type": "boolean",
           "description": "Get info from filename",
           "example": false
          },
          "language": {
           "type": "string",
           "description": "Language for OCR",
           "example": "es",
           "nullable": true
          },
          "drawing_log_imports": {
           "type": "array",
           "description": "Drawing Log Imports (Only included in 'with_drawing_log_imports' view)",
           "items": {
            "title": "DrawingLogImport",
            "type": "object",
            "description": "Drawing Log Import",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Drawing Log Import ID",
              "example": 85
             },
             "filename": {
              "type": "string",
              "description": "Filename",
              "example": "example.pdf"
             },
             "drawing_set_id": {
              "type": "integer",
              "description": "Drawing Set ID",
              "example": 42
             },
             "drawing_date": {
              "type": "string",
              "format": "date",
              "description": "Drawing date",
              "example": "2021-09-07"
             },
             "received_date": {
              "type": "string",
              "format": "date",
              "description": "Received date",
              "example": "2021-09-07"
             },
             "default_revision": {
              "type": "string",
              "description": "Default Revision for any Drawing Revisions in the Import",
              "example": "23"
             },
             "drawing_id": {
              "type": "integer",
              "description": "Drawing ID",
              "example": 88
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field",
                  "example": "custom field value"
                 },
                 "variant": {
                  "type": "string",
                  "description": "The variant of the Custom Field Definition (e.g. `phone_number`). Present only when the definition has an associated variant.",
                  "example": "phone_number"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "number",
                  "description": "The value of the custom field",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID of the LOV Entry",
                    "example": 1
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the LOV Entry",
                    "example": "Open"
                   }
                  }
                 },
                 "variant": {
                  "type": "string",
                  "description": "The variant of the Custom Field Definition (e.g. `project_directory`). Present only when the definition has an associated variant.",
                  "example": "with_code"
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the Custom Field Definition",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "ID of the LOV Entry",
                     "example": 2
                    },
                    "label": {
                     "type": "string",
                     "description": "Label of the LOV Entry",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads/%7Bid%7D',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads/%7Bid%7D?view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads/%7Bid%7D?view=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads/%7Bid%7D?view=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added new drawing upload endpoint",
      "description": "Show drawing upload. For additional information on using the Create Drawing Upload endpoint, see the [Direct Drawing Uploads](https://developers.procore.com/documentation/tutorial-direct-drawing-uploads) tutorial",
      "endpoint": "GET /projects/{project_id}/drawing_uploads/{id}",
      "type": "new",
      "breaking": true,
      "datestamp": "2021-07-12",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.1#show-drawing-upload"
     },
     {
      "summary": "Added query parameter to specify view",
      "description": "An optional query parameter to change the level of detail in the response.\n\n`with_drawing_log_imports` returns drawing log imports for the drawing upload.\n\n`normal` is the default if not specified.",
      "endpoint": "GET /projects/{project_id}/drawing_uploads/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-09-07",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawings?version=1.1#show-drawing-upload"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete drawing upload",
    "description": "Delete an unreviewed Drawing Upload.",
    "tags": [
     "Drawings"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads/%7Bid%7D',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/rest/v1.1/projects/%7Bproject_id%7D/drawing_uploads/%7Bid%7D?view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
[...]
