{
 "openapi": "3.0.0",
 "info": {
  "title": "Drawing Revision Emails",
  "x-product-category": "Project Management",
  "x-tool-category": "Drawings",
  "x-resource-name": "Drawing Revision Emails",
  "version": "1.0",
  "x-product-lines": [
   "PM Starter Pack",
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/drawing_revision_emails/{id}/send_email": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "ID of the Drawing Revision to email",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Send email",
    "description": "Sends an email with an associated Drawing Revision. The text of the\nemail and recipients are specified in the request body.",
    "tags": [
     "Drawings",
     "Communications"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "distribution_ids"
        ],
        "properties": {
         "subject": {
          "type": "string",
          "description": "Subject of Email",
          "example": "Subject"
         },
         "body": {
          "type": "string",
          "description": "Body of email",
          "example": "Body"
         },
         "distribution_ids": {
          "type": "array",
          "items": {
           "type": "integer",
           "description": "User IDs on the email distribution (receivers)"
          }
         },
         "cc_distribution_ids": {
          "type": "array",
          "items": {
           "type": "integer",
           "description": "User IDs on the email CC distribution"
          }
         },
         "bcc_distribution_ids": {
          "type": "array",
          "items": {
           "type": "integer",
           "description": "User IDs on the email BCC distribution"
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/drawing_revision_emails/%7Bid%7D/send_email',\n  headers: {'content-type': 'application/json'},\n  body: {\n    subject: 'Subject',\n    body: 'Body',\n    distribution_ids: [0],\n    cc_distribution_ids: [0],\n    bcc_distribution_ids: [0]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"subject\\\":\\\"Subject\\\",\\\"body\\\":\\\"Body\\\",\\\"distribution_ids\\\":[0],\\\"cc_distribution_ids\\\":[0],\\\"bcc_distribution_ids\\\":[0]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/drawing_revision_emails/%7Bid%7D/send_email\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/drawing_revision_emails/%7Bid%7D/send_email \\\n  --header 'content-type: application/json' \\\n  --data '{\"subject\":\"Subject\",\"body\":\"Body\",\"distribution_ids\":[0],\"cc_distribution_ids\":[0],\"bcc_distribution_ids\":[0]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/drawing_revision_emails/%7Bid%7D/send_email\"),\n    Content = new StringContent(\"{\\\"subject\\\":\\\"Subject\\\",\\\"body\\\":\\\"Body\\\",\\\"distribution_ids\\\":[0],\\\"cc_distribution_ids\\\":[0],\\\"bcc_distribution_ids\\\":[0]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added drawing_revision_emails endpoint",
      "description": "Sends an email with an associated Drawing Revision. The text of the\nemail and recipients are specified in the request body.",
      "endpoint": "POST /projects/{project_id}/drawing_revision_emails/{id}/send_email",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-04-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "drawing-revision-emails?version=1.0#send-email"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}