{
 "openapi": "3.0.0",
 "info": {
  "title": "Electronic Signatures",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Contracts",
  "x-resource-name": "Electronic Signatures",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/electronic_signatures/{electronic_signature_id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "View an Electronic Signature",
    "description": "The endpoint gives the ability to view an Electronic Signature.",
    "tags": [
     "Electronic Signatures"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "company_id (either company_id or project_id is required)",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "description": "project_id (either project_id or company_id is required)",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "electronic_signature_id",
      "in": "path",
      "description": "ID of the Electronic Signature to view.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Specifies how much information to show for the electronic signature. The minimal view returns only electronic signature information currently available. Specifying anything else defaults to all information. It is recommended to use minimal when querying multiple records.",
      "schema": {
       "type": "string",
       "enum": [
        "minimal"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Electronic Signature",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 58820
          },
          "object_id": {
           "type": "number",
           "description": "ID of the object that the Electronic Signature was created for",
           "example": 1634
          },
          "object_type": {
           "type": "string",
           "description": "Type of the object that the Electronic Signature was created for",
           "example": "Contract"
          },
          "status": {
           "type": "string",
           "description": "the status of the electronic signature",
           "example": "created"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this electronic signature record was created, in ISO 8601 format.",
           "example": "2026-08-31T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this electronic signature record was last updated",
           "example": "2026-08-31T21:45:12Z"
          },
          "metadata": {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "title of the state of the electronic signature"
            },
            "message": {
             "type": "string",
             "description": "a message giving information about the state of the electronic signature"
            },
            "type": {
             "type": "string",
             "description": "the type of the metadata"
            }
           }
          },
          "actions": {
           "type": "object",
           "description": "actions that can be performed for the electronic signature in its current state",
           "properties": {
            "name": {
             "type": "string",
             "description": "the name of an action that can be performed on the ElectronicSignature",
             "enum": [
              "void",
              "withdraw",
              "edit",
              "refresh",
              "sign",
              "reauthenticate",
              "download",
              "finish"
             ]
            },
            "url": {
             "type": "string",
             "description": "the URL corresponding to the action"
            },
            "display_name": {
             "type": "string",
             "description": "the i18n label for the buttons in the Docusign banner"
            }
           }
          },
          "ball_in_court_names": {
           "type": "array",
           "items": {
            "type": "string",
            "description": "The names of the current ball in court users"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/electronic_signatures/%7Belectronic_signature_id%7D',\n  qs: {\n    company_id: 'SOME_INTEGER_VALUE',\n    project_id: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/electronic_signatures/%7Belectronic_signature_id%7D?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/electronic_signatures/%7Belectronic_signature_id%7D?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/electronic_signatures/%7Belectronic_signature_id%7D?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add show endpoint for electronic signature",
      "description": "Gives the ability to view an existing electronic signature.",
      "endpoint": "GET /electronic_signatures/{electronic_signature_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#view-an-electronic-signature"
     },
     {
      "summary": "Add object_id, object_type, and ball_in_court_names fields",
      "description": "Adds the \"object_id\" number field, \"object_type\" string field, and\n\"ball_in_court_names\" array of strings field\n",
      "endpoint": "GET /electronic_signatures/{electronic_signature_id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#view-an-electronic-signature"
     },
     {
      "summary": "Added display_name field to action object",
      "description": "Added I18n version to the action object with display_name. Will take\n\"locale\" and match the button name to the i18n version.\n",
      "endpoint": "GET /electronic_signatures/{electronic_signature_id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#view-an-electronic-signature"
     },
     {
      "summary": "Made Show electronic signature endpoint public",
      "description": "GET /electronic_signatures/{electronic_signature_id} is now publicly available",
      "endpoint": "GET /electronic_signatures/{electronic_signature_id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-07-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#view-an-electronic-signature"
     },
     {
      "summary": "Add created_at and updated_at fields",
      "description": "Adds the \"created_at\" and \"updated_at\" timestamp fields, in ISO 8601 format.\n",
      "endpoint": "GET /electronic_signatures/{electronic_signature_id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#view-an-electronic-signature"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/electronic_signatures": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Create an Electronic Signature",
    "description": "The Electronic Signature endpoint allows for the creation of a Electronic Signature",
    "tags": [
     "Electronic Signatures"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "company_id (either company_id or project_id is required)",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "description": "project_id (either project_id or company_id is required)",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "object_id",
      "in": "query",
      "description": "ID of the object for which we need the create the electronic signature",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "object_type",
      "in": "query",
      "description": "Type of the object for which we need the create the electronic signature",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "Billings::Requisition",
        "Contract",
        "ChangeOrderPackage",
        "ChangeOrderRequest",
        "PotentialChangeOrder",
        "PaymentApplication",
        "GenericToolItem"
       ]
      }
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "account_type": {
          "type": "string",
          "enum": [
           "manual"
          ],
          "description": "Provider type. Pass \"manual\" to create a manual upload electronic signature record without requiring DocuSign or ProcoreSign. Omit for standard DocuSign / ProcoreSign flows."
         },
         "prostore_file_id": {
          "type": "integer",
          "description": "ID of the pre-uploaded signed document. Required when account_type is \"manual\"."
         },
         "redirect_path": {
          "type": "string",
          "description": "Relative path (no host or scheme) to redirect the user to. Absolute or protocol-relative paths are rejected."
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Electronic Signature",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 58820
          },
          "object_id": {
           "type": "number",
           "description": "ID of the object that the Electronic Signature was created for",
           "example": 1634
          },
          "object_type": {
           "type": "string",
           "description": "Type of the object that the Electronic Signature was created for",
           "example": "Contract"
          },
          "status": {
           "type": "string",
           "description": "the status of the electronic signature",
           "example": "created"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this electronic signature record was created, in ISO 8601 format.",
           "example": "2026-08-31T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this electronic signature record was last updated",
           "example": "2026-08-31T21:45:12Z"
          },
          "metadata": {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "title of the state of the electronic signature"
            },
            "message": {
             "type": "string",
             "description": "a message giving information about the state of the electronic signature"
            },
            "type": {
             "type": "string",
             "description": "the type of the metadata"
            }
           }
          },
          "actions": {
           "type": "object",
           "description": "actions that can be performed for the electronic signature in its current state",
           "properties": {
            "name": {
             "type": "string",
             "description": "the name of an action that can be performed on the ElectronicSignature",
             "enum": [
              "void",
              "withdraw",
              "edit",
              "refresh",
              "sign",
              "reauthenticate",
              "download",
              "finish"
             ]
            },
            "url": {
             "type": "string",
             "description": "the URL corresponding to the action"
            },
            "display_name": {
             "type": "string",
             "description": "the i18n label for the buttons in the Docusign banner"
            }
           }
          },
          "ball_in_court_names": {
           "type": "array",
           "items": {
            "type": "string",
            "description": "The names of the current ball in court users"
           }
          }
         }
        }
       }
      }
     },
     "202": {
      "description": "Accepted",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Electronic Signature",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 58820
          },
          "object_id": {
           "type": "number",
           "description": "ID of the object that the Electronic Signature was created for",
           "example": 1634
          },
          "object_type": {
           "type": "string",
           "description": "Type of the object that the Electronic Signature was created for",
           "example": "Contract"
          },
          "status": {
           "type": "string",
           "description": "the status of the electronic signature",
           "example": "created"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this electronic signature record was created, in ISO 8601 format.",
           "example": "2026-08-31T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Timestamp when this electronic signature record was last updated",
           "example": "2026-08-31T21:45:12Z"
          },
          "metadata": {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "description": "title of the state of the electronic signature"
            },
            "message": {
             "type": "string",
             "description": "a message giving information about the state of the electronic signature"
            },
            "type": {
             "type": "string",
             "description": "the type of the metadata"
            }
           }
          },
          "actions": {
           "type": "object",
           "description": "actions that can be performed for the electronic signature in its current state",
           "properties": {
            "name": {
             "type": "string",
             "description": "the name of an action that can be performed on the ElectronicSignature",
             "enum": [
              "void",
              "withdraw",
              "edit",
              "refresh",
              "sign",
              "reauthenticate",
              "download",
              "finish"
             ]
            },
            "url": {
             "type": "string",
             "description": "the URL corresponding to the action"
            },
            "display_name": {
             "type": "string",
             "description": "the i18n label for the buttons in the Docusign banner"
            }
           }
          },
          "ball_in_court_names": {
           "type": "array",
           "items": {
            "type": "string",
            "description": "The names of the current ball in court users"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/electronic_signatures',\n  qs: {\n    company_id: 'SOME_INTEGER_VALUE',\n    project_id: 'SOME_INTEGER_VALUE',\n    object_id: 'SOME_INTEGER_VALUE',\n    object_type: 'SOME_STRING_VALUE'\n  },\n  headers: {'content-type': 'application/json'},\n  body: {account_type: 'manual', prostore_file_id: 0, redirect_path: 'string'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"account_type\\\":\\\"manual\\\",\\\"prostore_file_id\\\":0,\\\"redirect_path\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/electronic_signatures?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&object_id=SOME_INTEGER_VALUE&object_type=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/electronic_signatures?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&object_id=SOME_INTEGER_VALUE&object_type=SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"account_type\":\"manual\",\"prostore_file_id\":0,\"redirect_path\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/electronic_signatures?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&object_id=SOME_INTEGER_VALUE&object_type=SOME_STRING_VALUE\"),\n    Content = new StringContent(\"{\\\"account_type\\\":\\\"manual\\\",\\\"prostore_file_id\\\":0,\\\"redirect_path\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create an electronic signature for an signable object",
      "description": "This endpoint is used to create an electronic signature for a signable object eg invoice.",
      "endpoint": "POST /electronic_signatures",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-09-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#create-an-electronic-signature"
     },
     {
      "summary": "Create electronic signature supports Payment Applications (Owner Invoices)",
      "description": "This endpoint can now accept type PaymentApplication.",
      "endpoint": "POST /electronic_signatures",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-01-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#create-an-electronic-signature"
     },
     {
      "summary": "Add object_id, object_type, and ball_in_court_names fields",
      "description": "Adds the \"object_id\" number field, \"object_type\" string field, and\n\"ball_in_court_names\" array of strings field\n",
      "endpoint": "POST /electronic_signatures",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#create-an-electronic-signature"
     },
     {
      "summary": "Add account_type and prostore_file_id params to create endpoint",
      "description": "Added account_type and prostore_file_id request body params to POST /electronic_signatures. Passing account_type: \"manual\" with a prostore_file_id creates an electronic signature record backed by a pre-uploaded signed document, without requiring DocuSign or ProcoreSign to be configured.",
      "endpoint": "POST /electronic_signatures",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#create-an-electronic-signature"
     },
     {
      "summary": "Made Create electronic signature endpoint public",
      "description": "POST /electronic_signatures is now publicly available",
      "endpoint": "POST /electronic_signatures",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-07-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#create-an-electronic-signature"
     },
     {
      "summary": "Add redirect_path param and async PDF generation responses to create endpoint",
      "description": "Added the redirect_path request body param to POST /electronic_signatures. Once ASYNC_PDF_ON_SIGN_FLAG is enabled for a company, a still-generating PDF returns 202 with the electronic signature record instead of 201 with an iframe URL, and a concurrent request for the same object returns 409. Integrations must handle 202 and 409 before the flag is enabled for their company.",
      "endpoint": "POST /electronic_signatures",
      "type": "feature",
      "breaking": true,
      "datestamp": "2026-08-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#create-an-electronic-signature"
     },
     {
      "summary": "Add created_at and updated_at fields",
      "description": "Adds the \"created_at\" and \"updated_at\" timestamp fields, in ISO 8601 format.\n",
      "endpoint": "POST /electronic_signatures",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#create-an-electronic-signature"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/electronic_signatures/{electronic_signature_id}/withdraw": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Withdraw an Electronic Signature",
    "description": "The endpoint gives the ability to withdraw an Electronic Signature.",
    "tags": [
     "Electronic Signatures"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "company_id (either company_id or project_id is required)",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "description": "project_id (either project_id or company_id is required)",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "electronic_signature_id",
      "in": "path",
      "description": "ID of the Electronic Signature to withdraw.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/electronic_signatures/%7Belectronic_signature_id%7D/withdraw',\n  qs: {company_id: 'SOME_INTEGER_VALUE', project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"PATCH\", \"/rest/v1.0/electronic_signatures/%7Belectronic_signature_id%7D/withdraw?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/electronic_signatures/%7Belectronic_signature_id%7D/withdraw?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/electronic_signatures/%7Belectronic_signature_id%7D/withdraw?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add withdraw endpoint for electronic signature",
      "description": "Gives the ability to withdraw an existing electronic signature.",
      "endpoint": "PATCH /electronic_signatures/{electronic_signature_id}/withdraw",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#withdraw-an-electronic-signature"
     },
     {
      "summary": "Made Withdraw electronic signature endpoint public",
      "description": "PATCH /electronic_signatures/{electronic_signature_id}/withdraw is now publicly available",
      "endpoint": "PATCH /electronic_signatures/{electronic_signature_id}/withdraw",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-07-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "electronic-signatures?version=1.0#withdraw-an-electronic-signature"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}