{
 "openapi": "3.0.0",
 "info": {
  "title": "Email Communications",
  "x-product-category": "Project Management",
  "x-tool-category": "Emails",
  "x-resource-name": "Email Communications",
  "version": "1.0",
  "x-product-lines": [
   "PM Starter Pack",
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/project/{project_id}/email_communications/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Email Communication",
    "description": "Shows detailed information around a single email communication",
    "tags": [
     "Email Communications"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Communication ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Communication ID",
           "example": 29
          },
          "private": {
           "type": "boolean",
           "description": "Private Indicator",
           "example": true
          },
          "subject": {
           "type": "string",
           "description": "Subject of the email communication",
           "example": "subject of the communication"
          },
          "emails": {
           "type": "array",
           "description": "Emails",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Email ID",
              "example": 29
             },
             "communication_id": {
              "type": "integer",
              "description": "Communication ID",
              "example": 2
             },
             "private": {
              "type": "boolean",
              "description": "Private Indicator",
              "example": true
             },
             "attachments": {
              "type": "array",
              "description": "Email attachnents",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Attachment ID",
                 "example": 123
                },
                "name": {
                 "type": "string",
                 "description": "Attachment name",
                 "example": "Example Attachment",
                 "nullable": true
                },
                "url": {
                 "type": "string",
                 "description": "Attachment URL",
                 "example": "http://www.example.com/"
                }
               }
              }
             },
             "bcc_distribution": {
              "type": "array",
              "description": "Users on the email BCC distribution",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "body": {
              "type": "string",
              "description": "Company name",
              "example": "Doe Construction"
             },
             "sanitized_body_html": {
              "type": "string",
              "description": "Body of the email in HTML format",
              "example": "<p>Test email body</p>"
             },
             "cc_distribution": {
              "type": "array",
              "description": "Users on the email CC distribution",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "distribution": {
              "type": "array",
              "description": "An array of users of the Distributions of the topic",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "email_sent_at": {
              "type": "string",
              "description": "Date email sent",
              "format": "date-time"
             },
             "login_information": {
              "type": "object",
              "description": "User",
              "properties": {
               "id": {
                "type": "integer",
                "description": "User ID",
                "example": 123
               },
               "company_name": {
                "type": "string",
                "description": "Company Name",
                "example": "Some Company Name"
               },
               "locale": {
                "type": "string",
                "description": "User dictionary",
                "example": "ko"
               },
               "login": {
                "type": "string",
                "description": "Login of user",
                "example": "person18@example.com"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "Paul Dou"
               },
               "avatar": {
                "description": "User avatar url",
                "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                "nullable": true,
                "type": "string"
               },
               "initials": {
                "description": "User initials",
                "example": "PD",
                "nullable": true,
                "type": "string"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add request_for_quote as possible topic",
      "description": "Add request_for_quote as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#show-email-communication"
     },
     {
      "summary": "Show email communication",
      "description": "Get detailed information for Email Communications for specified Id.",
      "endpoint": "GET /project/{project_id}/email_communications/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#show-email-communication"
     },
     {
      "summary": "Add task as possible topic",
      "description": "Add task as possible topic of email communication",
      "endpoint": "GET /project/{project_id}/email_communications/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-02-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#show-email-communication"
     },
     {
      "summary": "Add daily_log_header as possible topic",
      "description": "Add daily_log_header as possible topic of email communication",
      "endpoint": "GET /project/{project_id}/email_communications/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-06-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#show-email-communication"
     },
     {
      "summary": "Add new values as possible topics.",
      "description": "Add submittal_package, project, checklist, purchase_order_contract, work_order_contract, prime_contract, billings_requisition, payment_application, observation, direct_cost_item as possible topic of email communication",
      "endpoint": "GET /project/{project_id}/email_communications/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#show-email-communication"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a private field in Email Communication",
    "description": "Update a private field in email communication on the specified project.",
    "tags": [
     "Email Communications"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "Communication ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "private"
        ],
        "properties": {
         "private": {
          "type": "boolean",
          "description": "Private Indicator",
          "example": true
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Communication ID",
           "example": 29
          },
          "private": {
           "type": "boolean",
           "description": "Private Indicator",
           "example": true
          },
          "subject": {
           "type": "string",
           "description": "Subject of the email communication",
           "example": "subject of the communication"
          },
          "emails": {
           "type": "array",
           "description": "Emails",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Email ID",
              "example": 29
             },
             "communication_id": {
              "type": "integer",
              "description": "Communication ID",
              "example": 2
             },
             "private": {
              "type": "boolean",
              "description": "Private Indicator",
              "example": true
             },
             "attachments": {
              "type": "array",
              "description": "Email attachnents",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Attachment ID",
                 "example": 123
                },
                "name": {
                 "type": "string",
                 "description": "Attachment name",
                 "example": "Example Attachment",
                 "nullable": true
                },
                "url": {
                 "type": "string",
                 "description": "Attachment URL",
                 "example": "http://www.example.com/"
                }
               }
              }
             },
             "bcc_distribution": {
              "type": "array",
              "description": "Users on the email BCC distribution",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "body": {
              "type": "string",
              "description": "Company name",
              "example": "Doe Construction"
             },
             "sanitized_body_html": {
              "type": "string",
              "description": "Body of the email in HTML format",
              "example": "<p>Test email body</p>"
             },
             "cc_distribution": {
              "type": "array",
              "description": "Users on the email CC distribution",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "distribution": {
              "type": "array",
              "description": "An array of users of the Distributions of the topic",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "email_sent_at": {
              "type": "string",
              "description": "Date email sent",
              "format": "date-time"
             },
             "login_information": {
              "type": "object",
              "description": "User",
              "properties": {
               "id": {
                "type": "integer",
                "description": "User ID",
                "example": 123
               },
               "company_name": {
                "type": "string",
                "description": "Company Name",
                "example": "Some Company Name"
               },
               "locale": {
                "type": "string",
                "description": "User dictionary",
                "example": "ko"
               },
               "login": {
                "type": "string",
                "description": "Login of user",
                "example": "person18@example.com"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "Paul Dou"
               },
               "avatar": {
                "description": "User avatar url",
                "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                "nullable": true,
                "type": "string"
               },
               "initials": {
                "description": "User initials",
                "example": "PD",
                "nullable": true,
                "type": "string"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {private: true},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"private\\\":true}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"private\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"private\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update email communication",
      "description": "Update Private field in Email Communications for specified Id.",
      "endpoint": "PATCH /project/{project_id}/email_communications/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#update-a-private-field-in-email-communication"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/project/{project_id}/email_communications": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Email Communication",
    "description": "Creates a email communication on a given project",
    "tags": [
     "Email Communications"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "topic_type",
      "in": "query",
      "description": "The type of the topic to be associated with the communication",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "rfi",
        "submittal_log",
        "submittal_package",
        "project",
        "task",
        "checklist",
        "purchase_order_contract",
        "work_order_contract",
        "prime_contract",
        "billings_requisition",
        "payment_application",
        "daily_log_header",
        "generic_tool_item",
        "meeting",
        "form",
        "observation",
        "direct_cost_item",
        "change_event_event",
        "punch_item",
        "incident",
        "request_for_quote"
       ]
      }
     },
     {
      "name": "topic_id",
      "in": "query",
      "description": "Topic ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "communication",
         "email"
        ],
        "properties": {
         "communication": {
          "type": "object",
          "properties": {
           "subject": {
            "type": "string",
            "description": "Subject of the communication"
           }
          }
         },
         "email": {
          "type": "object",
          "properties": {
           "body": {
            "type": "string",
            "description": "Body of the email"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Prostore file IDs",
            "items": {
             "type": "integer",
             "description": "Prostore file ID",
             "example": [
              42,
              43
             ]
            }
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing revision IDs",
            "items": {
             "type": "integer",
             "description": "Drawing revision ID",
             "example": [
              42,
              43
             ]
            }
           },
           "file_version_ids": {
            "type": "array",
            "description": "File version IDs",
            "items": {
             "type": "integer",
             "description": "File version ID",
             "example": [
              42,
              43
             ]
            }
           },
           "form_ids": {
            "type": "array",
            "description": "Form IDs",
            "items": {
             "type": "integer",
             "description": "Form ID",
             "example": [
              42,
              43
             ]
            }
           },
           "image_ids": {
            "type": "array",
            "description": "Image IDs",
            "items": {
             "type": "integer",
             "description": "Image ID",
             "example": [
              42,
              43
             ]
            }
           },
           "upload_ids": {
            "type": "array",
            "description": "Upload UUIDs",
            "items": {
             "type": "string",
             "description": "Upload UUID",
             "example": [
              "01HZB4TFFBZWDQ92N3RJFM5J2Z",
              "01HZB4TFERXDDQ354NTB09GEA6"
             ]
            }
           },
           "distribution_ids": {
            "type": "array",
            "description": "An array of IDs of the Distributions of the topic",
            "items": {
             "type": "integer",
             "description": "User ID",
             "example": [
              42,
              43
             ]
            }
           },
           "cc_distribution_ids": {
            "type": "array",
            "description": "User IDs on the email CC distribution",
            "items": {
             "type": "integer",
             "description": "User ID",
             "example": [
              42,
              43
             ]
            }
           },
           "bcc_distribution_ids": {
            "type": "array",
            "description": "User IDs on the email BCC distribution",
            "items": {
             "type": "integer",
             "description": "User ID",
             "example": [
              42,
              43
             ]
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Communication ID",
           "example": 29
          },
          "private": {
           "type": "boolean",
           "description": "Private Indicator",
           "example": true
          },
          "subject": {
           "type": "string",
           "description": "Subject of the email communication",
           "example": "subject of the communication"
          },
          "emails": {
           "type": "array",
           "description": "Emails",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Email ID",
              "example": 29
             },
             "communication_id": {
              "type": "integer",
              "description": "Communication ID",
              "example": 2
             },
             "private": {
              "type": "boolean",
              "description": "Private Indicator",
              "example": true
             },
             "attachments": {
              "type": "array",
              "description": "Email attachnents",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Attachment ID",
                 "example": 123
                },
                "name": {
                 "type": "string",
                 "description": "Attachment name",
                 "example": "Example Attachment",
                 "nullable": true
                },
                "url": {
                 "type": "string",
                 "description": "Attachment URL",
                 "example": "http://www.example.com/"
                }
               }
              }
             },
             "bcc_distribution": {
              "type": "array",
              "description": "Users on the email BCC distribution",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "body": {
              "type": "string",
              "description": "Company name",
              "example": "Doe Construction"
             },
             "sanitized_body_html": {
              "type": "string",
              "description": "Body of the email in HTML format",
              "example": "<p>Test email body</p>"
             },
             "cc_distribution": {
              "type": "array",
              "description": "Users on the email CC distribution",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "distribution": {
              "type": "array",
              "description": "An array of users of the Distributions of the topic",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "email_sent_at": {
              "type": "string",
              "description": "Date email sent",
              "format": "date-time"
             },
             "login_information": {
              "type": "object",
              "description": "User",
              "properties": {
               "id": {
                "type": "integer",
                "description": "User ID",
                "example": 123
               },
               "company_name": {
                "type": "string",
                "description": "Company Name",
                "example": "Some Company Name"
               },
               "locale": {
                "type": "string",
                "description": "User dictionary",
                "example": "ko"
               },
               "login": {
                "type": "string",
                "description": "Login of user",
                "example": "person18@example.com"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "Paul Dou"
               },
               "avatar": {
                "description": "User avatar url",
                "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                "nullable": true,
                "type": "string"
               },
               "initials": {
                "description": "User initials",
                "example": "PD",
                "nullable": true,
                "type": "string"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications',\n  qs: {topic_type: 'SOME_STRING_VALUE', topic_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    communication: {subject: 'string'},\n    email: {\n      body: 'string',\n      prostore_file_ids: [[42, 43]],\n      drawing_revision_ids: [[42, 43]],\n      file_version_ids: [[42, 43]],\n      form_ids: [[42, 43]],\n      image_ids: [[42, 43]],\n      upload_ids: [['01HZB4TFFBZWDQ92N3RJFM5J2Z', '01HZB4TFERXDDQ354NTB09GEA6']],\n      distribution_ids: [[42, 43]],\n      cc_distribution_ids: [[42, 43]],\n      bcc_distribution_ids: [[42, 43]]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"communication\\\":{\\\"subject\\\":\\\"string\\\"},\\\"email\\\":{\\\"body\\\":\\\"string\\\",\\\"prostore_file_ids\\\":[[42,43]],\\\"drawing_revision_ids\\\":[[42,43]],\\\"file_version_ids\\\":[[42,43]],\\\"form_ids\\\":[[42,43]],\\\"image_ids\\\":[[42,43]],\\\"upload_ids\\\":[[\\\"01HZB4TFFBZWDQ92N3RJFM5J2Z\\\",\\\"01HZB4TFERXDDQ354NTB09GEA6\\\"]],\\\"distribution_ids\\\":[[42,43]],\\\"cc_distribution_ids\\\":[[42,43]],\\\"bcc_distribution_ids\\\":[[42,43]]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/project/%7Bproject_id%7D/email_communications?topic_type=SOME_STRING_VALUE&topic_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications?topic_type=SOME_STRING_VALUE&topic_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"communication\":{\"subject\":\"string\"},\"email\":{\"body\":\"string\",\"prostore_file_ids\":[[42,43]],\"drawing_revision_ids\":[[42,43]],\"file_version_ids\":[[42,43]],\"form_ids\":[[42,43]],\"image_ids\":[[42,43]],\"upload_ids\":[[\"01HZB4TFFBZWDQ92N3RJFM5J2Z\",\"01HZB4TFERXDDQ354NTB09GEA6\"]],\"distribution_ids\":[[42,43]],\"cc_distribution_ids\":[[42,43]],\"bcc_distribution_ids\":[[42,43]]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications?topic_type=SOME_STRING_VALUE&topic_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"communication\\\":{\\\"subject\\\":\\\"string\\\"},\\\"email\\\":{\\\"body\\\":\\\"string\\\",\\\"prostore_file_ids\\\":[[42,43]],\\\"drawing_revision_ids\\\":[[42,43]],\\\"file_version_ids\\\":[[42,43]],\\\"form_ids\\\":[[42,43]],\\\"image_ids\\\":[[42,43]],\\\"upload_ids\\\":[[\\\"01HZB4TFFBZWDQ92N3RJFM5J2Z\\\",\\\"01HZB4TFERXDDQ354NTB09GEA6\\\"]],\\\"distribution_ids\\\":[[42,43]],\\\"cc_distribution_ids\\\":[[42,43]],\\\"bcc_distribution_ids\\\":[[42,43]]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create new email communications",
      "description": "Create a new Email Communications associated with the specified Project Id.",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     },
     {
      "summary": "Add task as possible topic",
      "description": "Add task as possible topic of email communication",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-02-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     },
     {
      "summary": "Add daily_log_header as possible topic",
      "description": "Add daily_log_header as possible topic of email communication",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-06-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     },
     {
      "summary": "Add generic_tool_item as possible topic",
      "description": "Add generic_tool_item as possible topic of email communication",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-03-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     },
     {
      "summary": "Add Attachments by Reference to file",
      "description": "Add attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-06-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     },
     {
      "summary": "Add meeting as possible topic",
      "description": "Add meeting as possible topic",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     },
     {
      "summary": "Add form as possible topic",
      "description": "Add form as possible topic",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     },
     {
      "summary": "Add new values as possible topics.",
      "description": "Add submittal_package, project, checklist, purchase_order_contract, work_order_contract, prime_contract,\nbillings_requisition, payment_application, observation, direct_cost_item as possible topic of email communication\n",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     },
     {
      "summary": "Add punch_item as possible topic",
      "description": "Add punch_item as possible topic",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     },
     {
      "summary": "Add incident as possible topic",
      "description": "Add incident as possible topic",
      "endpoint": "POST /project/{project_id}/email_communications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-05-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#create-email-communication"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/project/{project_id}/email_communications/{communication_id}/export": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Export Email Communication to PDF",
    "description": "Creates a email communication on a given project",
    "tags": [
     "Email Communications"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "communication_id",
      "in": "path",
      "description": "Communication ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "topic_type",
      "in": "query",
      "description": "The type of the topic to be associated with the communication",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "rfi",
        "submittal_log",
        "submittal_package",
        "project",
        "task",
        "checklist",
        "purchase_order_contract",
        "work_order_contract",
        "prime_contract",
        "billings_requisition",
        "payment_application",
        "daily_log_header",
        "generic_tool_item",
        "meeting",
        "form",
        "observation",
        "direct_cost_item",
        "change_event_event",
        "punch_item",
        "incident",
        "request_for_quote"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "pdf_url": {
           "type": "string",
           "description": "Image URL",
           "example": "http://www.example.com/"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bcommunication_id%7D/export',\n  qs: {topic_type: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bcommunication_id%7D/export?topic_type=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bcommunication_id%7D/export?topic_type=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/%7Bcommunication_id%7D/export?topic_type=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Export email communication",
      "description": "Export detailed information for Email Communications for specified Id to PDF.",
      "endpoint": "GET /project/{project_id}/email_communications/{communication_id}/export",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#export-email-communication-to-pdf"
     },
     {
      "summary": "Add meeting as possible topic",
      "description": "Add meeting as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/{communication_id}/export",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#export-email-communication-to-pdf"
     },
     {
      "summary": "Add form as possible topic",
      "description": "Add form as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/{communication_id}/export",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#export-email-communication-to-pdf"
     },
     {
      "summary": "Add change_event_event as possible topic",
      "description": "Add change_event_event as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/{communication_id}/export",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#export-email-communication-to-pdf"
     },
     {
      "summary": "Add punch_item as possible topic",
      "description": "Add punch_item as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/{communication_id}/export",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#export-email-communication-to-pdf"
     },
     {
      "summary": "Add incident as possible topic",
      "description": "Add incident as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/{communication_id}/export",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-05-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#export-email-communication-to-pdf"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/project/{project_id}/email_communications/emails": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List of Emails",
    "description": "Return a list of emails.",
    "tags": [
     "Email Communications"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "topic_type",
      "in": "query",
      "description": "The type of the topic to be associated with the communication",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "rfi",
        "submittal_log",
        "submittal_package",
        "project",
        "task",
        "checklist",
        "purchase_order_contract",
        "work_order_contract",
        "prime_contract",
        "billings_requisition",
        "payment_application",
        "daily_log_header",
        "generic_tool_item",
        "meeting",
        "form",
        "observation",
        "direct_cost_item",
        "change_event_event",
        "punch_item",
        "incident",
        "request_for_quote"
       ]
      }
     },
     {
      "name": "topic_id",
      "in": "query",
      "description": "Topic ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "emails": {
           "type": "array",
           "description": "An array of IDs of the Distributions of the topic",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Email ID",
              "example": 29
             },
             "communication_id": {
              "type": "integer",
              "description": "Communication ID",
              "example": 2
             },
             "subject": {
              "type": "string",
              "description": "Subject of the email",
              "example": "subject of the email"
             },
             "private": {
              "type": "boolean",
              "description": "Private Indicator",
              "example": true
             },
             "attachments": {
              "type": "array",
              "description": "Email attachnents",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Attachment ID",
                 "example": 123
                },
                "name": {
                 "type": "string",
                 "nullable": true,
                 "description": "Attachment name",
                 "example": "Example"
                },
                "url": {
                 "type": "string",
                 "description": "Attachment URL",
                 "example": "http://www.example.com/"
                }
               }
              }
             },
             "bcc_distribution": {
              "type": "array",
              "description": "Users on the email BCC distribution",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "body": {
              "type": "string",
              "description": "Company name",
              "example": "Doe Construction"
             },
             "sanitized_body_html": {
              "type": "string",
              "description": "Body of the email in HTML format",
              "example": "<p>Test email body</p>"
             },
             "cc_distribution": {
              "type": "array",
              "description": "Users on the email CC distribution",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "distribution": {
              "type": "array",
              "description": "An array of users of the Distributions of the topic",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "User ID",
                 "example": 123
                },
                "company_name": {
                 "type": "string",
                 "description": "Company Name",
                 "example": "Some Company Name"
                },
                "locale": {
                 "type": "string",
                 "description": "User dictionary",
                 "example": "ko"
                },
                "login": {
                 "type": "string",
                 "description": "Login of user",
                 "example": "person18@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "Paul Dou"
                },
                "avatar": {
                 "description": "User avatar url",
                 "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                 "nullable": true,
                 "type": "string"
                },
                "initials": {
                 "description": "User initials",
                 "example": "PD",
                 "nullable": true,
                 "type": "string"
                }
               }
              }
             },
             "email_sent_at": {
              "type": "string",
              "description": "Date email sent",
              "format": "date-time"
             },
             "login_information": {
              "type": "object",
              "description": "User",
              "properties": {
               "id": {
                "type": "integer",
                "description": "User ID",
                "example": 123
               },
               "company_name": {
                "type": "string",
                "description": "Company Name",
                "example": "Some Company Name"
               },
               "locale": {
                "type": "string",
                "description": "User dictionary",
                "example": "ko"
               },
               "login": {
                "type": "string",
                "description": "Login of user",
                "example": "person18@example.com"
               },
               "name": {
                "type": "string",
                "description": "User name",
                "example": "Paul Dou"
               },
               "avatar": {
                "description": "User avatar url",
                "example": "http://s3.amazonaws.com/pro-core.com/prostore/20150713184222_production_74548228.gif?AWSAccessKeyId=0PFNH01C4MZVXKXZNK82&Expires=2067964943&Signature=l4zpZIM3bgxydrr4hn6lM%2FdtreQ%3D",
                "nullable": true,
                "type": "string"
               },
               "initials": {
                "description": "User initials",
                "example": "PD",
                "nullable": true,
                "type": "string"
               }
              }
             }
            }
           }
          },
          "total": {
           "type": "integer",
           "description": "Total count of emails",
           "example": 12
          },
          "new_communication_email": {
           "type": "string",
           "description": "Email for creating a new communication thread associated with this topic",
           "example": "procore-inbound-email@example.com"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/emails',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    topic_type: 'SOME_STRING_VALUE',\n    topic_id: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/project/%7Bproject_id%7D/email_communications/emails?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&topic_type=SOME_STRING_VALUE&topic_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/emails?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&topic_type=SOME_STRING_VALUE&topic_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/project/%7Bproject_id%7D/email_communications/emails?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&topic_type=SOME_STRING_VALUE&topic_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add request_for_quote as possible topic",
      "description": "Add request_for_quote as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-11-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     },
     {
      "summary": "Responds with a list of emails",
      "description": "Provides a response body containing all emails visible to the user for a given project and tool",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-03-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     },
     {
      "summary": "Add Project as an allowed `topic_type`",
      "description": "Add Project as an allowed value for the `topic_type` request argument",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-08-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     },
     {
      "summary": "Add generic_tool_item as possible topic",
      "description": "Add generic_tool_item as possible topic of email communication",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-03-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     },
     {
      "summary": "Add meeting as possible topic",
      "description": "Add meeting as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     },
     {
      "summary": "Add form as possible topic",
      "description": "Add form as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     },
     {
      "summary": "Add new values as possible topics.",
      "description": "Add submittal_package, project, checklist, purchase_order_contract, work_order_contract, prime_contract,\nbillings_requisition, payment_application, observation, direct_cost_item as possible topic of email communication",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-06-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     },
     {
      "summary": "Add change_event_event as possible topic",
      "description": "Add change_event_event as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     },
     {
      "summary": "Add punch_item as possible topic",
      "description": "Add punch_item as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     },
     {
      "summary": "Add incident as possible topic",
      "description": "Add incident as possible topic",
      "endpoint": "GET /project/{project_id}/email_communications/emails",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-05-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "email-communications?version=1.0#list-of-emails"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/project/{project_id}/email_communications/{communication_id}/emails": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Email",
    "description": "Creates a email on a given communication",
    "tags": [
     "Email Communications"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "communication_id",
      "in": "path",
      "description": "Communication ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "topic_type",
      "in": "query",
      "description": "The type of the topic to be associated with the communication",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "rfi",
        "submittal_log",
        "submittal_package",
        "project",
        "task",
        "checklist",
        "purchase_order_contract",
        "work_order_contract",
        "prime_contract",
        "billings_requisition",
        "payment_application",
        "daily_log_header",
        "generic_tool_item",
        "meeting",
        "form",
        "observation",
        "direct_cost_item",
        "change_event_event",
        "punch_item",
        "incident",
        "request_for_quote"
       ]
      }
     },
     {
      "name": "topic_id",
      "in": "query",
      "description": "Topic ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "email"
        ],
        "properties": {
         "email": {
          "type": "object",
          "allOf": [
           {
            "properties": {
             "body": {
              "type": "string",
              "description": "Body of the email"
             },
             "prostore_file_ids": {
              "type": "array",
              "description": "Prostore file IDs",
              "items": {
               "type": "integer",
               "description": "Prostore file ID",
               "example": [
                42,
                43
               ]
              }
             },
             "distribution_ids": {
              "type": "array",
              "description": "An array of IDs of the Distributions of the topic",
              "items": {
               "type": "integer",
               "description": "User ID",
               "example": [
                42,
                43
               ]
              }
             },
             "cc_distribution_ids": {
              "type": "array",
              "description": "User IDs on the email CC distribution",
              "items": {
               "type": "integer",
               "description": "User ID",
               "example": [
                42,
                43
               ]
              }
             },
             "bcc_distribution_ids": {
              "type": "array",
              "description": "User IDs on the email BCC distribution",
              "items": {
               "type": "integer",
               "description": "User ID",
               "example": [
                42,
                43
               ]
              }
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
[...]
