{
 "openapi": "3.0.0",
 "info": {
  "title": "Equipment Type",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Equipment Type",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/managed_equipment_types": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "List all equipment types",
    "description": "Return a list of all equipment types",
    "tags": [
     "Equipment Type"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of equipment types",
         "items": {
          "type": "object",
          "title": "ManagedEquipmentType",
          "description": "Equipment Type",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "name": {
            "type": "string",
            "description": "Name of the equipment Type",
            "example": "Backhoe"
           },
           "managed_equipment_category_id": {
            "type": "integer",
            "description": "Equipment category ID the type is associated with",
            "example": 3355
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 3355
           },
           "is_active": {
            "type": "boolean",
            "description": "Is Active",
            "example": true
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment type was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment type was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment type was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "managed_equipment_category": {
            "type": "object",
            "title": "ManagedEquipmentCategory",
            "description": "Equipment Category",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment category",
              "example": "Earthmoving"
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "If the category is currently active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List all equipment types is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_types",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-type?version=1.0#list-all-equipment-types"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Create an equipment type",
    "description": "Create a new Equipment Type Entry.",
    "tags": [
     "Equipment Type"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_type"
        ],
        "properties": {
         "managed_equipment_type": {
          "type": "object",
          "required": [
           "name",
           "managed_equipment_category_id"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the equipment Type",
            "example": "Backhoe"
           },
           "managed_equipment_category_id": {
            "type": "integer",
            "description": "Equipment category ID the type is associated to",
            "example": 3355
           },
           "is_active": {
            "type": "boolean",
            "description": "If the equipment model is active",
            "example": true
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentType",
         "description": "Equipment Type",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment Type",
           "example": "Backhoe"
          },
          "managed_equipment_category_id": {
           "type": "integer",
           "description": "Equipment category ID the type is associated with",
           "example": 3355
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "Is Active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "managed_equipment_category": {
           "type": "object",
           "title": "ManagedEquipmentCategory",
           "description": "Equipment Category",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment category",
             "example": "Earthmoving"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "If the category is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_type: {name: 'Backhoe', managed_equipment_category_id: 3355, is_active: true}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_type\\\":{\\\"name\\\":\\\"Backhoe\\\",\\\"managed_equipment_category_id\\\":3355,\\\"is_active\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_type\":{\"name\":\"Backhoe\",\"managed_equipment_category_id\":3355,\"is_active\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types\"),\n    Content = new StringContent(\"{\\\"managed_equipment_type\\\":{\\\"name\\\":\\\"Backhoe\\\",\\\"managed_equipment_category_id\\\":3355,\\\"is_active\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create an equipment type is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "POST /companies/{company_id}/managed_equipment_types",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-type?version=1.0#create-an-equipment-type"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment_types/bulk_update": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Bulk Update Managed Equipment types",
    "description": "Update multiple Managed Equipment types entries is_active property with one request",
    "tags": [
     "Equipment Types Bulk Update"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_type"
        ],
        "properties": {
         "managed_equipment_type": {
          "description": "Managed Equipment Type Object",
          "type": "object",
          "properties": {
           "is_active": {
            "description": "If the equipment type is active",
            "type": "boolean",
            "example": true
           },
           "managed_equipment_category_id": {
            "description": "The category id the Managed Equipment Type is associated with",
            "type": "integer",
            "example": 534
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Managed Equipment types",
         "items": {
          "type": "object",
          "title": "ManagedEquipmentType",
          "description": "Equipment Type",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "name": {
            "type": "string",
            "description": "Name of the equipment Type",
            "example": "Backhoe"
           },
           "managed_equipment_category_id": {
            "type": "integer",
            "description": "Equipment category ID the type is associated with",
            "example": 3355
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 3355
           },
           "is_active": {
            "type": "boolean",
            "description": "Is Active",
            "example": true
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment type was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment type was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment type was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "managed_equipment_category": {
            "type": "object",
            "title": "ManagedEquipmentCategory",
            "description": "Equipment Category",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment category",
              "example": "Earthmoving"
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "If the category is currently active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/bulk_update',\n  headers: {'content-type': 'application/json'},\n  body: {managed_equipment_type: {is_active: true, managed_equipment_category_id: 534}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_type\\\":{\\\"is_active\\\":true,\\\"managed_equipment_category_id\\\":534}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/bulk_update\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/bulk_update \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_type\":{\"is_active\":true,\"managed_equipment_category_id\":534}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/bulk_update\"),\n    Content = new StringContent(\"{\\\"managed_equipment_type\\\":{\\\"is_active\\\":true,\\\"managed_equipment_category_id\\\":534}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk update endpoint for Company Managed Equipment types",
      "description": "Added the ability to bulk update Managed Equipment types",
      "endpoint": "PATCH /companies/{company_id}/managed_equipment_types/bulk_update",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-type?version=1.0#bulk-update-managed-equipment-types"
     },
     {
      "summary": "Bulk Update Managed Equipment types is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "PATCH /companies/{company_id}/managed_equipment_types/bulk_update",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-type?version=1.0#bulk-update-managed-equipment-types"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment_types/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Show an equipment type",
    "description": "Return detailed information about a specific equipment type",
    "tags": [
     "Equipment Type"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the company to get the types for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentType",
         "description": "Equipment Type",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment Type",
           "example": "Backhoe"
          },
          "managed_equipment_category_id": {
           "type": "integer",
           "description": "Equipment category ID the type is associated with",
           "example": 3355
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "Is Active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "managed_equipment_category": {
           "type": "object",
           "title": "ManagedEquipmentCategory",
           "description": "Equipment Category",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment category",
             "example": "Earthmoving"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "If the category is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Show an equipment type is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_types/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-type?version=1.0#show-an-equipment-type"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Update an equipment type",
    "description": "Update a specified equipment type",
    "tags": [
     "Equipment Type"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the company to get the types for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_type"
        ],
        "properties": {
         "managed_equipment_type": {
          "type": "object",
          "required": [
           "name",
           "managed_equipment_category_id"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the equipment Type",
            "example": "Backhoe"
           },
           "managed_equipment_category_id": {
            "type": "integer",
            "description": "Equipment category ID the type is associated to",
            "example": 3355
           },
           "is_active": {
            "type": "boolean",
            "description": "If the equipment model is active",
            "example": true
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentType",
         "description": "Equipment Type",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment Type",
           "example": "Backhoe"
          },
          "managed_equipment_category_id": {
           "type": "integer",
           "description": "Equipment category ID the type is associated with",
           "example": 3355
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "Is Active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "managed_equipment_category": {
           "type": "object",
           "title": "ManagedEquipmentCategory",
           "description": "Equipment Category",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment category",
             "example": "Earthmoving"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "If the category is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_type: {name: 'Backhoe', managed_equipment_category_id: 3355, is_active: true}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_type\\\":{\\\"name\\\":\\\"Backhoe\\\",\\\"managed_equipment_category_id\\\":3355,\\\"is_active\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_type\":{\"name\":\"Backhoe\",\"managed_equipment_category_id\":3355,\"is_active\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"managed_equipment_type\\\":{\\\"name\\\":\\\"Backhoe\\\",\\\"managed_equipment_category_id\\\":3355,\\\"is_active\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update an equipment type is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "PATCH /companies/{company_id}/managed_equipment_types/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-type?version=1.0#update-an-equipment-type"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Delete a equipment type",
    "description": "Detete a specific equipment type",
    "tags": [
     "Equipment Type"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the company to get the types for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentType",
         "description": "Equipment Type",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment Type",
           "example": "Backhoe"
          },
          "managed_equipment_category_id": {
           "type": "integer",
           "description": "Equipment category ID the type is associated with",
           "example": 3355
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "Is Active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment type was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "managed_equipment_category": {
           "type": "object",
           "title": "ManagedEquipmentCategory",
           "description": "Equipment Category",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment category",
             "example": "Earthmoving"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "If the category is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_types/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Delete a equipment type is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "DELETE /companies/{company_id}/managed_equipment_types/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-type?version=1.0#delete-a-equipment-type"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}