{
 "openapi": "3.0.0",
 "info": {
  "title": "Equipment Category",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Equipment Category",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/managed_equipment_categories": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "List all equipment categories",
    "description": "Return a list of all equipment Categories.",
    "tags": [
     "equipment Category"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of equipment categories",
         "items": {
          "type": "object",
          "title": "ManagedEquipmentCategory",
          "description": "Equipment Category",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "name": {
            "type": "string",
            "description": "Name of the equipment category",
            "example": "Earthmoving"
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 3355
           },
           "is_active": {
            "type": "boolean",
            "description": "If the category is currently active",
            "example": true
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment category was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment category was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment category was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List all equipment categories is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_categories",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-category?version=1.0#list-all-equipment-categories"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Create equipment Category",
    "description": "Create a new equipment Category Entry.",
    "tags": [
     "equipment Category"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_category"
        ],
        "properties": {
         "managed_equipment_category": {
          "type": "object",
          "required": [
           "name"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the category",
            "example": "Earthmoving"
           },
           "is_active": {
            "type": "boolean",
            "description": "If the category is active",
            "example": true
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentCategory",
         "description": "Equipment Category",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment category",
           "example": "Earthmoving"
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "If the category is currently active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories',\n  headers: {'content-type': 'application/json'},\n  body: {managed_equipment_category: {name: 'Earthmoving', is_active: true}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_category\\\":{\\\"name\\\":\\\"Earthmoving\\\",\\\"is_active\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_category\":{\"name\":\"Earthmoving\",\"is_active\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories\"),\n    Content = new StringContent(\"{\\\"managed_equipment_category\\\":{\\\"name\\\":\\\"Earthmoving\\\",\\\"is_active\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create equipment Category is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "POST /companies/{company_id}/managed_equipment_categories",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-category?version=1.0#create-equipment-category"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment_categories/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Show an equipment category",
    "description": "Return detailed information about a specific equipment Category.",
    "tags": [
     "Equipment Category"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the equipment category",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentCategory",
         "description": "Equipment Category",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment category",
           "example": "Earthmoving"
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "If the category is currently active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Show an equipment category is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_categories/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-category?version=1.0#show-an-equipment-category"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Update Equipment Category",
    "description": "Update a specified equipment category.",
    "tags": [
     "Equipment Category"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the Equipment Category",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_category"
        ],
        "properties": {
         "managed_equipment_category": {
          "type": "object",
          "required": [
           "name"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the category",
            "example": "Earthmoving"
           },
           "is_active": {
            "type": "boolean",
            "description": "If the category is active",
            "example": true
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentCategory",
         "description": "Equipment Category",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment category",
           "example": "Earthmoving"
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "If the category is currently active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {managed_equipment_category: {name: 'Earthmoving', is_active: true}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_category\\\":{\\\"name\\\":\\\"Earthmoving\\\",\\\"is_active\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_category\":{\"name\":\"Earthmoving\",\"is_active\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"managed_equipment_category\\\":{\\\"name\\\":\\\"Earthmoving\\\",\\\"is_active\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update Equipment Category is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "PATCH /companies/{company_id}/managed_equipment_categories/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-category?version=1.0#update-equipment-category"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Delete Equipment Category",
    "description": "Detete a specific Equipment Category.",
    "tags": [
     "Equipment Category"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the Equipment Category",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentCategory",
         "description": "Equipment Category",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment category",
           "example": "Earthmoving"
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "If the category is currently active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment category was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_categories/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Delete Equipment Category is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "DELETE /companies/{company_id}/managed_equipment_categories/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-category?version=1.0#delete-equipment-category"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}