{
 "openapi": "3.0.0",
 "info": {
  "title": "Equipment Timecard Entries",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Equipment Timecard Entries",
  "version": "2.0",
  "x-product-lines": [
   "Field Productivity",
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/equipment_timecard_entries/update_approval": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "serializer_view",
     "in": "query",
     "description": "Optional response blueprint view. Defaults to `default`.",
     "required": false,
     "schema": {
      "type": "string",
      "enum": [
       "default",
       "compact",
       "mobile"
      ],
      "example": "default"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Update equipment timecard entry approval status",
    "description": "Update approval status of equipment timecard entries (pending, approved, reviewed, billed) for the given project. Supports bulk updates: pass an array of equipment timecard entry IDs and the desired approval_status. Billed entries cannot be changed to another status (except to keep as billed). Requires project timesheet approval permission.",
    "tags": [
     "Equipment Timecard Entries"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "ids",
         "approval_status"
        ],
        "properties": {
         "ids": {
          "type": "array",
          "description": "Array of equipment timecard entry IDs to update",
          "items": {
           "type": "integer"
          },
          "example": [
           123456789,
           123456790
          ]
         },
         "approval_status": {
          "type": "string",
          "enum": [
           "pending",
           "approved",
           "reviewed",
           "billed"
          ],
          "description": "The approval status to set for all specified entries",
          "example": "approved"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Equipment timecard entries approval status updated successfully. Returns the updated entries in the v2 data envelope.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Equipment timecard entries response envelope",
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "array",
           "description": "Equipment timecard entry objects",
           "items": {
            "type": "object",
            "description": "Equipment timecard entry",
            "required": [
             "id",
             "company_id",
             "project_id",
             "date",
             "equipment_id",
             "quantity",
             "idle_quantity",
             "unit_of_measure",
             "approval_status",
             "created_at",
             "updated_at"
            ],
            "properties": {
             "id": {
              "type": "string",
              "description": "Primary key (REST v2 serializes numeric identifiers as strings)",
              "example": "12345"
             },
             "approved_by_id": {
              "type": "string",
              "nullable": true,
              "description": "Login that approved the entry, when applicable"
             },
             "approval_status": {
              "type": "string",
              "enum": [
               "pending",
               "approved",
               "reviewed",
               "billed"
              ],
              "description": "Approval workflow status"
             },
             "approval_status_updated_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "When approval status was last updated"
             },
             "company_id": {
              "type": "string",
              "description": "Company ID"
             },
             "client_local_id": {
              "type": "string",
              "nullable": true,
              "description": "Client-provided local identifier echoed in API responses for request/response correlation."
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Creation timestamp"
             },
             "created_by_id": {
              "type": "string",
              "nullable": true,
              "description": "Creator login ID"
             },
             "crew_id": {
              "type": "string",
              "nullable": true,
              "description": "Crew ID"
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Entry date",
              "example": "2026-01-07"
             },
             "equipment_id": {
              "type": "string",
              "description": "Equipment ULID (Equipment Register)",
              "example": "01KJX4Z277RJJNKQWKANZ74YB2"
             },
             "equipment_name": {
              "type": "string",
              "nullable": true,
              "description": "Display name from Equipment Register when available (company-scoped list)."
             },
             "equipment_identification_number": {
              "type": "string",
              "nullable": true,
              "description": "Identification number from Equipment Register when available (company-scoped list)."
             },
             "idle_quantity": {
              "type": "number",
              "description": "Idle hours",
              "example": 0
             },
             "location_id": {
              "type": "string",
              "nullable": true,
              "description": "Location ID"
             },
             "party_id": {
              "type": "string",
              "nullable": true,
              "description": "Party ID"
             },
             "project_id": {
              "type": "string",
              "description": "Project ID"
             },
             "project_name": {
              "type": "string",
              "nullable": true,
              "description": "Display name of the project identified by project_id. Null when the associated project cannot be resolved. Use to label entries without a separate request to the projects endpoint.",
              "example": "Downtown Office Tower"
             },
             "quantity": {
              "type": "number",
              "description": "Operating hours",
              "example": 8
             },
             "timesheet_id": {
              "type": "string",
              "nullable": true,
              "description": "Timesheet ID"
             },
             "unit_of_measure": {
              "type": "integer",
              "description": "Unit of measure (stored enum value)",
              "example": 0
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Last update timestamp"
             },
             "updated_by_id": {
              "type": "string",
              "nullable": true,
              "description": "Last updater login ID"
             },
             "wbs_code_id": {
              "type": "string",
              "nullable": true,
              "description": "WBS / task code ID"
             },
             "origin_data": {
              "type": "string",
              "nullable": true,
              "description": "ERP / external integration payload from associated external_data"
             },
             "origin_id": {
              "type": "string",
              "nullable": true,
              "description": "External system identifier from associated external_data"
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field.",
                  "example": "custom field value"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "number",
                  "description": "The value of the custom field.",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field.",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": "1"
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "The unique identifier of the list of values (LOV) entry.",
                     "example": "2"
                    },
                    "label": {
                     "type": "string",
                     "description": "The label of the list of values (LOV) entry.",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             },
             "timesheet": {
              "type": "object",
              "nullable": true,
              "description": "Present when serializer_view=mobile; nested timesheet (TimesheetBlueprint normal view). Null when the entry has no timesheet.",
              "properties": {
               "id": {
                "type": "string"
               },
               "date": {
                "type": "string",
                "format": "date"
               },
               "name": {
                "type": "string",
                "nullable": true
               },
               "number": {
                "type": "string",
                "nullable": true
               },
               "created_at": {
                "type": "string",
                "format": "date-time"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time"
               },
               "status": {
                "type": "string",
                "enum": [
                 "pending",
                 "approved",
                 "reviewed"
                ],
                "description": "Timesheet workflow status"
               },
               "created_by": {
                "type": "object",
                "nullable": true,
                "description": "LoginInformationBlueprint normal view",
                "properties": {
                 "id": {
                  "type": "string"
                 },
                 "login": {
                  "type": "string"
                 },
                 "name": {
                  "type": "string",
                  "nullable": true
                 }
                }
               }
              }
             },
             "timesheet_status": {
              "type": "string",
              "nullable": true,
              "enum": [
               "pending",
               "approved",
               "reviewed"
              ],
              "description": "Present when serializer_view=mobile; same as timesheet.status when a timesheet is associated"
             }
            }
           }
          }
         }
        },
        "example": {
         "data": [
          {
           "id": "123456789",
           "company_id": "42",
           "project_id": "987",
           "date": "2026-06-10",
           "equipment_id": "01KJX4Z277RJJNKQWKANZ74YB2",
           "quantity": 8,
           "idle_quantity": 0,
           "unit_of_measure": 0,
           "approval_status": "approved",
           "created_at": "2026-06-10T12:30:45Z",
           "updated_at": "2026-06-11T05:45:10Z"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Invalid approval_status value or empty ids array. Valid statuses are pending, approved, reviewed, billed.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden. User does not have permission to approve equipment timecard entries.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "One or more equipment timecard entries not found or do not belong to the project.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable entity. For example, attempting to change billed entries to a different status.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/update_approval',\n  qs: {serializer_view: 'default'},\n  headers: {'content-type': 'application/json'},\n  body: {ids: [123456789, 123456790], approval_status: 'approved'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"ids\\\":[123456789,123456790],\\\"approval_status\\\":\\\"approved\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/update_approval?serializer_view=default\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/update_approval?serializer_view=default' \\\n  --header 'content-type: application/json' \\\n  --data '{\"ids\":[123456789,123456790],\"approval_status\":\"approved\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/update_approval?serializer_view=default\"),\n    Content = new StringContent(\"{\\\"ids\\\":[123456789,123456790],\\\"approval_status\\\":\\\"approved\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introduce PATCH Equipment Timecard Entries Endpoint",
      "description": "Update approval status of equipment timecard entries (pending, approved, reviewed, billed) for the given project. Supports bulk updates by passing an array of entry IDs and the desired approval_status. Requires project timesheet approval permission.",
      "endpoint": "PATCH /companies/{company_id}/projects/{project_id}/equipment_timecard_entries/update_approval",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-12",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "equipment-timecard-entries?version=2.0#update-equipment-timecard-entry-approval-status"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/equipment_timecard_entries": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List equipment timecard entries (Project)",
    "description": "Returns a list of all equipment timecard entries for the given date range. If no date/date range is provided, it returns entries for the current date.",
    "tags": [
     "Equipment Timecard (Project)"
    ],
    "parameters": [
     {
      "name": "start_date",
      "in": "query",
      "description": "The beginning of the date range for equipment timecard entries. (YYYY-MM-DD) Start date is inclusive.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "description": "The end of the date range for equipment timecard entries. (YYYY-MM-DD) End date is inclusive.",
      "schema": {
       "type": "string",
       "format": "date"
      },
      "required": false
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "serializer_view",
      "in": "query",
      "description": "Optional response blueprint view. Defaults to `compact`.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "compact",
        "mobile"
       ],
       "example": "compact"
      }
     },
     {
      "name": "filters[equipment_id]",
      "in": "query",
      "description": "Return item(s) matching the specified equipment identifier(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[timesheet_id]",
      "in": "query",
      "description": "Return item(s) matching the specified timesheet ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[wbs_code_id]",
      "in": "query",
      "description": "Return item(s) matching the specified WBS code ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[party_id]",
      "in": "query",
      "description": "Return item(s) matching the specified party ID(s).",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "string"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "string"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "EquipmentTimecardEntry",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "company_id": {
             "type": "integer",
             "description": "ID of the company",
             "example": 123
            },
            "client_local_id": {
             "type": "string",
             "nullable": true,
             "description": "Client-provided local identifier echoed in API responses for request/response correlation.",
             "example": "1234567890"
            },
            "crew_id": {
             "type": "integer",
             "description": "ID of the crew the equipment timecard entry is associated with.",
             "example": 12345
            },
            "created_at": {
             "type": "string",
             "description": "The date and time the equipment timecard entry was created.",
             "example": "2020-05-12T12:00:00Z"
            },
            "created_by_id": {
             "type": "integer",
             "description": "ID of the user who created the equipment timecard entry.",
             "example": 12345
            },
            "date": {
             "type": "string",
             "format": "date",
             "description": "The date for the equipment timecard entry.",
             "example": "2020-05-12"
            },
            "equipment_id": {
             "type": "string",
             "description": "Id of the equipment the equipment timecard entry is associated with.",
             "example": "U0123456789"
            },
            "location_id": {
             "type": "integer",
             "description": "ID of the location the equipment timecard entry is associated with.",
             "example": 15504
            },
            "origin_id": {
             "type": "string",
             "description": "ID of related external data",
             "example": "23423"
            },
            "origin_data": {
             "type": "string",
             "description": "Value of related external data",
             "example": "{'example':'related data'}"
            },
            "party_id": {
             "type": "integer",
             "description": "ID of the party the equipment timecard entry is associated with (ie, operator).",
             "example": 12345
            },
            "project_id": {
             "type": "integer",
             "description": "ID of the project the equipment timecard entry is associated with.",
             "example": 12345
            },
            "project_name": {
             "type": "string",
             "nullable": true,
             "description": "Display name of the project identified by project_id. Null when the associated project cannot be resolved. Use to label entries without a separate request to the projects endpoint.",
             "example": "Downtown Office Tower"
            },
            "quantity": {
             "type": "string",
             "description": "Total number of hours/days/weeks the equipment was on site.",
             "example": "5.0"
            },
            "idle_quantity": {
             "type": "string",
             "description": "Total number of hours/days/weeks the equipment was idle on site.",
             "example": "3.0"
            },
            "timesheet_id": {
             "type": "integer",
             "description": "ID of the timesheet the equipment timecard entry is associated with.",
             "example": 1
            },
            "unit_of_measure": {
             "type": "integer",
             "description": "Enum that represents the unit of measure for provided quantity.",
             "default": 0
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time the equipment timecard entry was last updated.",
             "example": "2020-05-12T12:00:00Z"
            },
            "wbs_code_id": {
             "type": "integer",
             "description": "ID of the WBS code, the equipment timecard entry is associated with.",
             "example": 12345
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries',\n  qs: {\n    start_date: 'SOME_STRING_VALUE',\n    end_date: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    serializer_view: 'compact',\n    'filters[equipment_id]': 'SOME_ARRAY_VALUE',\n    'filters[timesheet_id]': 'SOME_ARRAY_VALUE',\n    'filters[wbs_code_id]': 'SOME_ARRAY_VALUE',\n    'filters[party_id]': 'SOME_ARRAY_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries?start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&serializer_view=compact&filters%5Bequipment_id%5D=SOME_ARRAY_VALUE&filters%5Btimesheet_id%5D=SOME_ARRAY_VALUE&filters%5Bwbs_code_id%5D=SOME_ARRAY_VALUE&filters%5Bparty_id%5D=SOME_ARRAY_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries?start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&serializer_view=compact&filters%5Bequipment_id%5D=SOME_ARRAY_VALUE&filters%5Btimesheet_id%5D=SOME_ARRAY_VALUE&filters%5Bwbs_code_id%5D=SOME_ARRAY_VALUE&filters%5Bparty_id%5D=SOME_ARRAY_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries?start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&serializer_view=compact&filters%5Bequipment_id%5D=SOME_ARRAY_VALUE&filters%5Btimesheet_id%5D=SOME_ARRAY_VALUE&filters%5Bwbs_code_id%5D=SOME_ARRAY_VALUE&filters%5Bparty_id%5D=SOME_ARRAY_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add project_name field",
      "description": "Adds the nullable \"project_name\" string field to the equipment timecard entry object, giving the display name of the project identified by project_id so callers can label entries without a separate projects request. Returned by every 1.0 endpoint that renders an equipment timecard entry, including the nested equipment_timecard_entries array on timesheet responses.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/equipment_timecard_entries",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "equipment-timecard-entries?version=1.0#list-equipment-timecard-entries-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/equipment_timecard_entries/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the equipment timecard entry",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Show equipment timecard entry (Project)",
    "description": "Return detailed information about a specific equipment timecard entry.",
    "tags": [
     "Equipment Timecard (Project)"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "EquipmentTimecardEntry",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "company_id": {
             "type": "integer",
             "description": "ID of the company",
             "example": 123
            },
            "client_local_id": {
             "type": "string",
             "nullable": true,
             "description": "Client-provided local identifier echoed in API responses for request/response correlation.",
             "example": "1234567890"
            },
            "crew_id": {
             "type": "integer",
             "description": "ID of the crew the equipment timecard entry is associated with.",
             "example": 12345
            },
            "created_at": {
             "type": "string",
             "description": "The date and time the equipment timecard entry was created.",
             "example": "2020-05-12T12:00:00Z"
            },
            "created_by_id": {
             "type": "integer",
             "description": "ID of the user who created the equipment timecard entry.",
             "example": 12345
            },
            "date": {
             "type": "string",
             "format": "date",
             "description": "The date for the equipment timecard entry.",
             "example": "2020-05-12"
            },
            "equipment_id": {
             "type": "string",
             "description": "Id of the equipment the equipment timecard entry is associated with.",
             "example": "U0123456789"
            },
            "location_id": {
             "type": "integer",
             "description": "ID of the location the equipment timecard entry is associated with.",
             "example": 15504
            },
            "origin_id": {
             "type": "string",
             "description": "ID of related external data",
             "example": "23423"
            },
            "origin_data": {
             "type": "string",
             "description": "Value of related external data",
             "example": "{'example':'related data'}"
            },
            "party_id": {
             "type": "integer",
             "description": "ID of the party the equipment timecard entry is associated with (ie, operator).",
             "example": 12345
            },
            "project_id": {
             "type": "integer",
             "description": "ID of the project the equipment timecard entry is associated with.",
             "example": 12345
            },
            "project_name": {
             "type": "string",
             "nullable": true,
             "description": "Display name of the project identified by project_id. Null when the associated project cannot be resolved. Use to label entries without a separate request to the projects endpoint.",
             "example": "Downtown Office Tower"
            },
            "quantity": {
             "type": "string",
             "description": "Total number of hours/days/weeks the equipment was on site.",
             "example": "5.0"
            },
            "idle_quantity": {
             "type": "string",
             "description": "Total number of hours/days/weeks the equipment was idle on site.",
             "example": "3.0"
            },
            "timesheet_id": {
             "type": "integer",
             "description": "ID of the timesheet the equipment timecard entry is associated with.",
             "example": 1
            },
            "unit_of_measure": {
             "type": "integer",
             "description": "Enum that represents the unit of measure for provided quantity.",
             "default": 0
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time the equipment timecard entry was last updated.",
             "example": "2020-05-12T12:00:00Z"
            },
            "wbs_code_id": {
             "type": "integer",
             "description": "ID of the WBS code, the equipment timecard entry is associated with.",
             "example": 12345
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Update equipment timecard entry (Project)",
    "description": "Update a specific equipemnt timecard entry.",
    "tags": [
     "Equipment Timecard (Project)"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "timesheet_id": {
          "type": "string",
          "description": "The unique identifier of the timesheet associated with the equipment timecard entry."
         },
         "wbs_code_id": {
          "type": "string",
          "description": "The Work Breakdown Structure (WBS) code associated with the equipment timecard entry."
         },
         "date": {
          "type": "string",
          "format": "date",
          "description": "The date of the timecard entry in ISO 8601 format."
         },
         "equipment_id": {
          "type": "string",
          "description": "The unique identifier of the equipment associated with the equipment timecard entry."
         },
         "location_id": {
          "type": "string",
          "description": "The unique identifier of the location associated with the equipment timecard entry."
         },
         "origin_id": {
          "type": "string",
          "description": "ID of related external data"
         },
         "origin_data": {
          "type": "string",
          "description": "Value of related external data"
         },
         "crew_id": {
          "type": "string",
          "description": "The unique identifier of the crew associated with the equipment timecard entry."
         },
         "party_id": {
          "type": "string",
          "description": "The unique identifier of the party associated with the equipment timecard entry."
         },
         "quantity": {
          "type": "number",
          "description": "The quantity of hours worked for the equipment timecard entry."
         },
         "idle_quantity": {
          "type": "number",
          "description": "The quantity of hours the equipment was idle for the equipment timecard entry."
         },
         "unit_of_measure": {
          "type": "string",
          "description": "The unit of measure for the quantity, typically 'hours'."
         }
        },
        "example": {
         "timesheet_id": "41823",
         "date": "2020-10-14",
         "wbs_code_id": "12345",
         "equipment_id": "1OASDFGHJKL",
         "location_id": "161072",
         "origin_id": "1234",
         "origin_data": "1234.json",
         "crew_id": "12345",
         "party_id": "2342",
         "quantity": "6.0",
         "idle_quantity": "2.0",
         "unit_of_measure": "hours"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "title": "EquipmentTimecardEntry",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 1
            },
            "company_id": {
             "type": "integer",
             "description": "ID of the company",
             "example": 123
            },
            "client_local_id": {
             "type": "string",
             "nullable": true,
             "description": "Client-provided local identifier echoed in API responses for request/response correlation.",
             "example": "1234567890"
            },
            "crew_id": {
             "type": "integer",
             "description": "ID of the crew the equipment timecard entry is associated with.",
             "example": 12345
            },
            "created_at": {
             "type": "string",
             "description": "The date and time the equipment timecard entry was created.",
             "example": "2020-05-12T12:00:00Z"
            },
            "created_by_id": {
             "type": "integer",
             "description": "ID of the user who created the equipment timecard entry.",
             "example": 12345
            },
            "date": {
             "type": "string",
             "format": "date",
             "description": "The date for the equipment timecard entry.",
             "example": "2020-05-12"
            },
            "equipment_id": {
             "type": "string",
             "description": "Id of the equipment the equipment timecard entry is associated with.",
             "example": "U0123456789"
            },
            "location_id": {
             "type": "integer",
             "description": "ID of the location the equipment timecard entry is associated with.",
             "example": 15504
            },
            "origin_id": {
             "type": "string",
             "description": "ID of related external data",
             "example": "23423"
            },
            "origin_data": {
             "type": "string",
             "description": "Value of related external data",
             "example": "{'example':'related data'}"
            },
            "party_id": {
             "type": "integer",
             "description": "ID of the party the equipment timecard entry is associated with (ie, operator).",
             "example": 12345
            },
            "project_id": {
             "type": "integer",
             "description": "ID of the project the equipment timecard entry is associated with.",
             "example": 12345
            },
            "project_name": {
             "type": "string",
             "nullable": true,
             "description": "Display name of the project identified by project_id. Null when the associated project cannot be resolved. Use to label entries without a separate request to the projects endpoint.",
             "example": "Downtown Office Tower"
            },
            "quantity": {
             "type": "string",
             "description": "Total number of hours/days/weeks the equipment was on site.",
             "example": "5.0"
            },
            "idle_quantity": {
             "type": "string",
             "description": "Total number of hours/days/weeks the equipment was idle on site.",
             "example": "3.0"
            },
            "timesheet_id": {
             "type": "integer",
             "description": "ID of the timesheet the equipment timecard entry is associated with.",
             "example": 1
            },
            "unit_of_measure": {
             "type": "integer",
             "description": "Enum that represents the unit of measure for provided quantity.",
             "default": 0
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time the equipment timecard entry was last updated.",
             "example": "2020-05-12T12:00:00Z"
            },
            "wbs_code_id": {
             "type": "integer",
             "description": "ID of the WBS code, the equipment timecard entry is associated with.",
             "example": 12345
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    timesheet_id: '41823',\n    date: '2020-10-14',\n    wbs_code_id: '12345',\n    equipment_id: '1OASDFGHJKL',\n    location_id: '161072',\n    origin_id: '1234',\n    origin_data: '1234.json',\n    crew_id: '12345',\n    party_id: '2342',\n    quantity: '6.0',\n    idle_quantity: '2.0',\n    unit_of_measure: 'hours'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"timesheet_id\\\":\\\"41823\\\",\\\"date\\\":\\\"2020-10-14\\\",\\\"wbs_code_id\\\":\\\"12345\\\",\\\"equipment_id\\\":\\\"1OASDFGHJKL\\\",\\\"location_id\\\":\\\"161072\\\",\\\"origin_id\\\":\\\"1234\\\",\\\"origin_data\\\":\\\"1234.json\\\",\\\"crew_id\\\":\\\"12345\\\",\\\"party_id\\\":\\\"2342\\\",\\\"quantity\\\":\\\"6.0\\\",\\\"idle_quantity\\\":\\\"2.0\\\",\\\"unit_of_measure\\\":\\\"hours\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"timesheet_id\":\"41823\",\"date\":\"2020-10-14\",\"wbs_code_id\":\"12345\",\"equipment_id\":\"1OASDFGHJKL\",\"location_id\":\"161072\",\"origin_id\":\"1234\",\"origin_data\":\"1234.json\",\"crew_id\":\"12345\",\"party_id\":\"2342\",\"quantity\":\"6.0\",\"idle_quantity\":\"2.0\",\"unit_of_measure\":\"hours\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"timesheet_id\\\":\\\"41823\\\",\\\"date\\\":\\\"2020-10-14\\\",\\\"wbs_code_id\\\":\\\"12345\\\",\\\"equipment_id\\\":\\\"1OASDFGHJKL\\\",\\\"location_id\\\":\\\"161072\\\",\\\"origin_id\\\":\\\"1234\\\",\\\"origin_data\\\":\\\"1234.json\\\",\\\"crew_id\\\":\\\"12345\\\",\\\"party_id\\\":\\\"2342\\\",\\\"quantity\\\":\\\"6.0\\\",\\\"idle_quantity\\\":\\\"2.0\\\",\\\"unit_of_measure\\\":\\\"hours\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Delete equipment timecard entry (Project)",
    "description": "Delete a specific timecard equipment entry.",
    "tags": [
     "Equipment Timecard (Project)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/equipment_timecard_entries/bulk_create": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Bulk Create",
    "description": "Create equipment timecard entries in a bulk transaction. (Current max is set to 25 timecard entries). NOTE, this endpoint is currently in the experimental stage and is subject to change. Please contact support to be added to the beta group.",
    "tags": [
     "Equipment Timecard (Project)"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "equipment_timecard_entries"
        ],
        "properties": {
         "equipment_timecard_entries": {
          "type": "array",
          "description": "Array of equipment timecard entries to be created",
          "items": {
           "type": "object",
           "properties": {
            "timesheet_id": {
             "type": "integer",
             "example": 1234,
             "description": "The unique identifier of the timesheet associated with the equipment timecard entry."
            },
            "wbs_code_id": {
             "type": "integer",
             "example": 1234,
             "description": "The Work Breakdown Structure (WBS) code associated with the equipment timecard entry."
            },
            "date": {
             "type": "string",
             "format": "date",
             "example": "2023-12-15",
             "description": "The date of the equipment timecard entry in ISO 8601 format."
            },
            "equipment_id": {
             "type": "string",
             "example": "01JAAV95D0FGY8AVJ3JG5DP3JZ",
             "description": "The unique identifier of the equipment associated with the equipment timecard entry."
            },
            "location_id": {
             "type": "integer",
             "example": 1234,
             "description": "The unique identifier of the location associated with the equipment timecard entry."
            },
            "origin_id": {
             "type": "string",
             "description": "ID of related external data",
             "example": "23423"
            },
            "origin_data": {
             "type": "string",
             "description": "Value of related external data",
             "example": "{'example':'related data'}"
            },
            "crew_id": {
             "type": "integer",
             "example": 1234,
             "description": "The unique identifier of the crew associated with the equipment timecard entry."
            },
            "party_id": {
             "type": "integer",
             "example": 1234,
             "description": "The unique identifier of the party associated with the equipment timecard entry."
            },
            "quantity": {
             "type": "number",
             "example": "8.0",
             "description": "The quantity of hours worked for the equipment timecard entry."
            },
            "idle_quantity": {
             "type": "number",
             "example": "2.0",
             "description": "The quantity of hours the equipment was idle for the equipment timecard entry."
            },
            "unit_of_measure": {
             "type": "integer",
             "example": 0,
             "description": "Enum representing the unit of measure, typically 'hours'."
            },
            "client_local_id": {
             "type": "string",
             "nullable": true,
             "example": "1234567890",
             "description": "Client-provided local identifier echoed in API responses for request/response correlation."
            }
           },
           "example": {
            "timesheet_id": 1234,
            "date": "2020-10-14",
            "wbs_code_id": 12345,
            "equipment_id": "1OASDFGHJKL",
            "location_id": 161072,
            "origin_id": "1234",
            "origin_data": "1234.json",
            "crew_id": 12345,
            "party_id": 2342,
            "quantity": "6.0",
            "idle_quantity": "2.0",
            "unit_of_measure": 0,
            "client_local_id": "1234567890"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created"
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/bulk_create',\n  headers: {'content-type': 'application/json'},\n  body: {\n    equipment_timecard_entries: [\n      {\n        timesheet_id: 1234,\n        date: '2020-10-14',\n        wbs_code_id: 12345,\n        equipment_id: '1OASDFGHJKL',\n        location_id: 161072,\n        origin_id: '1234',\n        origin_data: '1234.json',\n        crew_id: 12345,\n        party_id: 2342,\n        quantity: '6.0',\n        idle_quantity: '2.0',\n        unit_of_measure: 0,\n        client_local_id: '1234567890'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"equipment_timecard_entries\\\":[{\\\"timesheet_id\\\":1234,\\\"date\\\":\\\"2020-10-14\\\",\\\"wbs_code_id\\\":12345,\\\"equipment_id\\\":\\\"1OASDFGHJKL\\\",\\\"location_id\\\":161072,\\\"origin_id\\\":\\\"1234\\\",\\\"origin_data\\\":\\\"1234.json\\\",\\\"crew_id\\\":12345,\\\"party_id\\\":2342,\\\"quantity\\\":\\\"6.0\\\",\\\"idle_quantity\\\":\\\"2.0\\\",\\\"unit_of_measure\\\":0,\\\"client_local_id\\\":\\\"1234567890\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/bulk_create\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/bulk_create \\\n  --header 'content-type: application/json' \\\n  --data '{\"equipment_timecard_entries\":[{\"timesheet_id\":1234,\"date\":\"2020-10-14\",\"wbs_code_id\":12345,\"equipment_id\":\"1OASDFGHJKL\",\"location_id\":161072,\"origin_id\":\"1234\",\"origin_data\":\"1234.json\",\"crew_id\":12345,\"party_id\":2342,\"quantity\":\"6.0\",\"idle_quantity\":\"2.0\",\"unit_of_measure\":0,\"client_local_id\":\"1234567890\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/equipment_timecard_entries/bulk_create\"),\n    Content = new StringContent(\"{\\\"equipment_timecard_entries\\\":[{\\\"timesheet_id\\\":1234,\\\"date\\\":\\\"2020-10-14\\\",\\\"wbs_code_id\\\":12345,\\\"equipment_id\\\":\\\"1OASDFGHJKL\\\",\\\"location_id\\\":161072,\\\"origin_id\\\":\\\"1234\\\",\\\"origin_data\\\":\\\"1234.json\\\",\\\"crew_id\\\":12345,\\\"party_id\\\":2342,\\\"quantity\\\":\\\"6.0\\\",\\\"idle_quantity\\\":\\\"2.0\\\",\\\"unit_of_measure\\\":0,\\\"client_local_id\\\":\\\"1234567890\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}