{
 "openapi": "3.1.0",
 "info": {
  "title": "Equipment",
  "version": "2.1",
  "x-product-category": "Resource Management",
  "x-resource-name": "Equipment",
  "x-tool-category": "Equipment",
  "x-product-lines": [
   "equipment-register"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.1/companies/{company_id}/projects/{project_id}/equipment_register": {
   "get": {
    "tags": [
     "Equipment"
    ],
    "summary": "Get equipment by project (Project)",
    "operationId": "getEquipmentsByProject",
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "The Id of the project",
      "required": true,
      "schema": {
       "type": "string",
       "exclusiveMinimum": 0
      }
     },
     {
      "name": "search",
      "in": "query",
      "description": "Search criteria applied on name, identification number and serial number",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Filter ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[association_status]",
      "in": "query",
      "description": "The status of association. Values can be 'current', 'past' or 'all'. Default is 'current'",
      "required": false,
      "schema": {
       "type": "string",
       "default": "current",
       "enum": [
        "current",
        "past",
        "all"
       ]
      }
     },
     {
      "name": "filters[type]",
      "in": "query",
      "description": "Type filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[category]",
      "in": "query",
      "description": "Category filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[make]",
      "in": "query",
      "description": "Make filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[model]",
      "in": "query",
      "description": "Model filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[type_ids]",
      "in": "query",
      "description": "Type filter by Ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[category_ids]",
      "in": "query",
      "description": "Category filter by Ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[make_ids]",
      "in": "query",
      "description": "Make filter by Ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[model_ids]",
      "in": "query",
      "description": "Model filter by Ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[year]",
      "in": "query",
      "description": "Year filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Status filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[ownership]",
      "in": "query",
      "description": "Ownership filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[vendor_ids]",
      "in": "query",
      "description": "Vendor filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[group_ids]",
      "in": "query",
      "description": "Group filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[is_current_project]",
      "in": "query",
      "description": "Flag to filter by current project",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[assignee_ids]",
      "in": "query",
      "description": "Assignee filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Updated at filter (date range format: YYYY-MM-DD...YYYY-MM-DD or YYYY-MM-DDTHH:MM:SSZ...YYYY-MM-DDTHH:MM:SSZ)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "The page number to retrieve. Default is 1.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of records per page",
      "required": true,
      "schema": {
       "type": "integer",
       "default": 10,
       "maximum": 100
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Equipment view type",
      "required": false,
      "schema": {
       "type": "string",
       "default": "normal",
       "enum": [
        "compact",
        "basic",
        "short",
        "normal",
        "ids"
       ],
       "pattern": "compact|basic|short|normal|ids"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Equipment sort. Also supports custom field sorting like 'custom_field_123' or '-custom_field_123' for descending",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "make",
        "model",
        "category",
        "type",
        "equipmentId",
        "equipmentName",
        "serialNumber",
        "year",
        "ownership",
        "ratePerHour",
        "notes",
        "rentalStartDate",
        "rentalEndDate"
       ]
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Operation",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "Normal View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
               },
               "identification_number": {
                "type": "string",
                "example": "C612C7adasd76"
               },
               "name": {
                "type": "string",
                "example": "Small Excavator"
               },
               "type": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Paver"
                 }
                }
               },
               "profile_photo": {
                "type": "string",
                "example": "BGA336adHFstpolknasdyhjasdvk"
               },
               "status": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Active"
                 },
                 "type": {
                  "type": "string",
                  "example": "Utilised"
                 }
                }
               },
               "serial_number": {
                "type": "string",
                "example": "123Had6Hasdk"
               },
               "category": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Aggregate Concrete"
                 }
                }
               },
               "make": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3BYX9G11R3XHXPFA2G361"
                 },
                 "name": {
                  "type": "string",
                  "example": "Antec"
                 }
                }
               },
               "model": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3DJK1XGQMG8RZH3M131BX"
                 },
                 "name": {
                  "type": "string",
                  "example": "PW1500"
                 }
                }
               },
               "year": {
                "type": "integer",
                "format": "int32",
                "example": 2021
               },
               "rate_per_hour": {
                "type": "number",
                "format": "float",
                "example": 100
               },
               "ownership": {
                "type": "string",
                "enum": [
                 "owned",
                 "rented",
                 "subcontracted"
                ],
                "example": "Owned"
               },
               "notes": {
                "type": "string",
                "example": "This is a note"
               },
               "purchase_order": {
                "type": "string",
                "example": "PO-2026-0042"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2021-08-01T12:00:00Z"
               },
               "vendor_id": {
                "type": "string",
                "description": "The vendor id of the equipment",
                "example": "1"
               },
               "rental_start_date": {
                "type": "string",
                "format": "date",
                "example": "2021-09-10"
               },
               "rental_end_date": {
                "type": "string",
                "format": "date",
                "example": "2021-09-10"
               },
               "is_current_project": {
                "type": "boolean",
                "example": true
               },
               "group_ids": {
                "type": "array",
                "items": {
                 "type": "string",
                 "example": "123-456-789"
                }
               }
              }
             }
            }
           },
           "title": "normal"
          },
          {
           "type": "object",
           "description": "Compact View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
               },
               "identification_number": {
                "type": "string",
                "example": "C612C7adasd76"
               },
               "name": {
                "type": "string",
                "example": "Small Excavator"
               }
              }
             }
            }
           },
           "title": "compact"
          },
          {
           "type": "object",
           "description": "Basic View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
               },
               "identification_number": {
                "type": "string",
                "example": "C612C7adasd76"
               },
               "name": {
                "type": "string",
                "example": "Small Excavator"
               },
               "is_current_project": {
                "type": "boolean",
                "example": true
               }
              }
             }
            }
           },
           "title": "basic"
          },
          {
           "type": "object",
           "description": "Short View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
               },
               "identification_number": {
                "type": "string",
                "example": "C612C7adasd76"
               },
               "name": {
                "type": "string",
                "example": "Small Excavator"
               },
               "type": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Paver"
                 }
                }
               },
               "profile_photo": {
                "type": "string",
                "example": "BGA336adHFstpolknasdyhjasdvk"
               },
               "status": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Active"
                 },
                 "type": {
                  "type": "string",
                  "example": "Utilised"
                 }
                }
               }
              }
             }
            }
           },
           "title": "short"
          },
          {
           "type": "object",
           "description": "Ids View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           },
           "title": "ids"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/1234/projects/%7Bproject_id%7D/equipment_register',\n  qs: {\n    search: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[association_status]': 'SOME_STRING_VALUE',\n    'filters[type]': 'SOME_STRING_VALUE',\n    'filters[category]': 'SOME_STRING_VALUE',\n    'filters[make]': 'SOME_STRING_VALUE',\n    'filters[model]': 'SOME_STRING_VALUE',\n    'filters[type_ids]': 'SOME_STRING_VALUE',\n    'filters[category_ids]': 'SOME_STRING_VALUE',\n    'filters[make_ids]': 'SOME_STRING_VALUE',\n    'filters[model_ids]': 'SOME_STRING_VALUE',\n    'filters[year]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[ownership]': 'SOME_STRING_VALUE',\n    'filters[vendor_ids]': 'SOME_STRING_VALUE',\n    'filters[group_ids]': 'SOME_STRING_VALUE',\n    'filters[is_current_project]': 'SOME_STRING_VALUE',\n    'filters[assignee_ids]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Procore-Company-Id': \"SOME_INTEGER_VALUE\" }\n\nconn.request(\"GET\", \"/rest/v2.1/companies/1234/projects/%7Bproject_id%7D/equipment_register?search=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bassociation_status%5D=SOME_STRING_VALUE&filters%5Btype%5D=SOME_STRING_VALUE&filters%5Bcategory%5D=SOME_STRING_VALUE&filters%5Bmake%5D=SOME_STRING_VALUE&filters%5Bmodel%5D=SOME_STRING_VALUE&filters%5Btype_ids%5D=SOME_STRING_VALUE&filters%5Bcategory_ids%5D=SOME_STRING_VALUE&filters%5Bmake_ids%5D=SOME_STRING_VALUE&filters%5Bmodel_ids%5D=SOME_STRING_VALUE&filters%5Byear%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bownership%5D=SOME_STRING_VALUE&filters%5Bvendor_ids%5D=SOME_STRING_VALUE&filters%5Bgroup_ids%5D=SOME_STRING_VALUE&filters%5Bis_current_project%5D=SOME_STRING_VALUE&filters%5Bassignee_ids%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/1234/projects/%7Bproject_id%7D/equipment_register?search=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bassociation_status%5D=SOME_STRING_VALUE&filters%5Btype%5D=SOME_STRING_VALUE&filters%5Bcategory%5D=SOME_STRING_VALUE&filters%5Bmake%5D=SOME_STRING_VALUE&filters%5Bmodel%5D=SOME_STRING_VALUE&filters%5Btype_ids%5D=SOME_STRING_VALUE&filters%5Bcategory_ids%5D=SOME_STRING_VALUE&filters%5Bmake_ids%5D=SOME_STRING_VALUE&filters%5Bmodel_ids%5D=SOME_STRING_VALUE&filters%5Byear%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bownership%5D=SOME_STRING_VALUE&filters%5Bvendor_ids%5D=SOME_STRING_VALUE&filters%5Bgroup_ids%5D=SOME_STRING_VALUE&filters%5Bis_current_project%5D=SOME_STRING_VALUE&filters%5Bassignee_ids%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/1234/projects/%7Bproject_id%7D/equipment_register?search=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bassociation_status%5D=SOME_STRING_VALUE&filters%5Btype%5D=SOME_STRING_VALUE&filters%5Bcategory%5D=SOME_STRING_VALUE&filters%5Bmake%5D=SOME_STRING_VALUE&filters%5Bmodel%5D=SOME_STRING_VALUE&filters%5Btype_ids%5D=SOME_STRING_VALUE&filters%5Bcategory_ids%5D=SOME_STRING_VALUE&filters%5Bmake_ids%5D=SOME_STRING_VALUE&filters%5Bmodel_ids%5D=SOME_STRING_VALUE&filters%5Byear%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bownership%5D=SOME_STRING_VALUE&filters%5Bvendor_ids%5D=SOME_STRING_VALUE&filters%5Bgroup_ids%5D=SOME_STRING_VALUE&filters%5Bis_current_project%5D=SOME_STRING_VALUE&filters%5Bassignee_ids%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Get All Equipment For Project Endpoint At Project Level",
      "description": "Get equipment by project (Project)",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/equipment_register",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-06",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "stage": "ga",
       "visibility": "public",
       "exposure": "public"
      },
      "link": "equipment?version=2.1#get-equipment-by-project-project"
     }
    ]
   },
   "post": {
    "tags": [
     "Equipment"
    ],
    "summary": "Create equipment (Project)",
    "operationId": "createEquipment",
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "The Id of the project",
      "required": true,
      "schema": {
       "type": "string",
       "example": "1",
       "exclusiveMinimum": 0
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": true,
        "description": "Equipment Save Request",
        "example": {
         "equipment_name": "string",
         "name": "Excavator",
         "equipment_id": "string",
         "identification_number": "A1H231hH",
         "status_id": "01J3F5HR0NVJFAP90BCX9NAP1B",
         "serial_number": "C123D1332",
         "profile_photo": "string",
         "category_id": "01J3F5HR0NVJFAP90BCX9NAP1B",
         "type_id": "01J3F5MZ637Y41EYA3G2MGCCGQ",
         "make_id": "01J3F5NBTN430VT97FRRKBTCSJ",
         "model_id": "01J3F5NT7667K14RWWWEM93VNN",
         "year": 2021,
         "rate_per_hour": 100,
         "ownership": "RENTED",
         "assignee_ids": "1,2,3",
         "vendor_id": 1,
         "rental_start_date": "2021-01-01",
         "rental_end_date": "2021-01-01",
         "notes": "string",
         "group_ids": [
          "123-456-789"
         ],
         "upload_ids": [
          "fas-01KPQE63CX0GPFBR12K3M01J59",
          "fas-01KPQE63D0WCYQ38N6RAK58JW3"
         ],
         "profile_ids": [
          "fas-01KPQE63D0WCYQ38N6RAK58JW3"
         ],
         "custom_field_1001": "custom field value",
         "custom_field_1002": 2.2,
         "custom_field_1003": true,
         "custom_field_1004": "2021-08-01T12:00:00Z",
         "custom_field_1005": 1,
         "custom_field_1006": [
          2,
          3
         ],
         "onsite": true
        },
        "properties": {
         "equipment_name": {
          "type": "string"
         },
         "name": {
          "type": "string",
          "description": "The name of the equipment.",
          "example": "Excavator",
          "maxLength": 650,
          "minLength": 0
         },
         "equipment_id": {
          "type": "string"
         },
         "identification_number": {
          "type": "string",
          "description": "The identification number of the equipment.",
          "example": "A1H231hH",
          "maxLength": 200,
          "minLength": 0
         },
         "status_id": {
          "type": "string",
          "description": "The status of the equipment.",
          "example": "01J3F5HR0NVJFAP90BCX9NAP1B"
         },
         "serial_number": {
          "type": "string",
          "description": "The serial number of the equipment.",
          "example": "C123D1332",
          "maxLength": 200,
          "minLength": 0
         },
         "profile_photo": {
          "type": "string",
          "format": "byte"
         },
         "category_id": {
          "type": "string",
          "description": "The category of the equipment.",
          "example": "01J3F5HR0NVJFAP90BCX9NAP1B"
         },
         "type_id": {
          "type": "string",
          "description": "The type of the equipment.",
          "example": "01J3F5MZ637Y41EYA3G2MGCCGQ"
         },
         "make_id": {
          "type": "string",
          "description": "The make of the equipment.",
          "example": "01J3F5NBTN430VT97FRRKBTCSJ"
         },
         "model_id": {
          "type": "string",
          "description": "The model of the equipment.",
          "example": "01J3F5NT7667K14RWWWEM93VNN"
         },
         "year": {
          "type": "integer",
          "format": "int32",
          "description": "The year of the equipment.",
          "example": 2021
         },
         "rate_per_hour": {
          "type": "number",
          "format": "float",
          "description": "The rate per hour of the equipment.",
          "example": 100
         },
         "ownership": {
          "type": "string",
          "description": "The ownership of the equipment.",
          "enum": [
           "OWNED",
           "RENTED",
           "SUBCONTRACTED"
          ],
          "example": "RENTED"
         },
         "assignee_ids": {
          "type": "string",
          "description": "The people id of the equipment.",
          "example": "1,2,3"
         },
         "vendor_id": {
          "type": "string",
          "description": "The vendor id of the equipment.",
          "example": "1"
         },
         "rental_start_date": {
          "type": "string",
          "format": "date",
          "description": "The start date of the rental.",
          "example": "2021-01-01"
         },
         "rental_end_date": {
          "type": "string",
          "format": "date",
          "description": "The end date of the rental.",
          "example": "2021-01-01"
         },
         "notes": {
          "type": "string"
         },
         "purchase_order": {
          "type": "string",
          "description": "The purchase order number.",
          "example": "PO-2026-0042",
          "maxLength": 500,
          "minLength": 0
         },
         "group_ids": {
          "type": "array",
          "description": "List of group IDs to be associated with the equipment",
          "items": {
           "type": "string",
           "description": "A unique identifier for groups.",
           "example": "123-456-789"
          }
         },
         "upload_ids": {
          "type": "array",
          "description": "List of FAS file IDs for generic document uploads (PDFs, images, etc.)",
          "items": {
           "type": "string",
           "description": "FAS file ID for document uploads.",
           "example": "fas-01KPQE63CX0GPFBR12K3M01J59"
          },
          "maxItems": 100,
          "minItems": 0
         },
         "profile_ids": {
          "type": "array",
          "description": "List of FAS file IDs for profile image uploads",
          "items": {
           "type": "string",
           "description": "FAS file ID for profile image uploads.",
           "example": "fas-01KPQE63D0WCYQ38N6RAK58JW3"
          },
          "maxItems": 100,
          "minItems": 0
         },
         "onsite": {
          "type": "boolean",
          "description": "Flag indicating to set or unset the equipment on the project.",
          "example": true
         }
        },
        "required": [
         "category_id",
         "identification_number",
         "name",
         "ownership",
         "status_id",
         "type_id"
        ],
        "title": "equipment"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
            },
            "identification_number": {
             "type": "string",
             "example": "C612C7adasd76"
            },
            "name": {
             "type": "string",
             "example": "Small Excavator"
            },
            "type": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
              },
              "name": {
               "type": "string",
               "example": "Asphalt Paver"
              }
             }
            },
            "profile_photo": {
             "type": "string",
             "example": "BGA336adHFstpolknasdyhjasdvk"
            },
            "status": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F36T5VVPR9RN20328Q2275"
              },
              "name": {
               "type": "string",
               "example": "Active"
              },
              "type": {
               "type": "string",
               "example": "Utilised"
              }
             }
            },
            "serial_number": {
             "type": "string",
             "example": "123Had6Hasdk"
            },
            "category": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F36T5VVPR9RN20328Q2275"
              },
              "name": {
               "type": "string",
               "example": "Asphalt Aggregate Concrete"
              }
             }
            },
            "make": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3BYX9G11R3XHXPFA2G361"
              },
              "name": {
               "type": "string",
               "example": "Antec"
              }
             }
            },
            "model": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3DJK1XGQMG8RZH3M131BX"
              },
              "name": {
               "type": "string",
               "example": "PW1500"
              }
             }
            },
            "year": {
             "type": "integer",
             "format": "int32",
             "example": 2021
            },
            "rate_per_hour": {
             "type": "number",
             "format": "float",
             "example": 100
            },
            "ownership": {
             "type": "string",
             "enum": [
              "owned",
              "rented",
              "subcontracted"
             ],
             "example": "Owned"
            },
            "notes": {
             "type": "string",
             "example": "This is a note"
            },
            "purchase_order": {
             "type": "string",
             "example": "PO-2026-0042"
            },
            "source": {
             "type": "string",
             "description": "Origin of the equipment record (e.g. import source or sync vendor).",
             "example": "united_rentals"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "example": "2021-08-01T12:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "example": "2021-08-01T12:00:00Z"
            },
            "assignee_ids": {
             "type": "string",
             "description": "The people id of the equipment.",
             "example": "1,2,3"
            },
            "assignees": {
             "type": "array",
             "description": "The assignees associated with this equipment",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "1"
               },
               "name": {
                "type": "string"
               }
              }
             }
            },
            "vendor_id": {
             "type": "string",
             "description": "The vendor id of the equipment",
             "example": "1"
            },
            "vendor": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "1"
              },
              "name": {
               "type": "string"
              }
             }
            },
            "rental_start_date": {
             "type": "string",
             "format": "date",
             "example": "2021-09-10"
            },
            "rental_end_date": {
             "type": "string",
             "format": "date",
             "example": "2021-09-10"
            },
            "is_current_project": {
             "type": "boolean",
             "example": true
            },
            "project_ids": {
             "type": "array",
             "example": "1,2,3",
             "items": {
              "type": "integer",
              "format": "int64"
             }
            },
            "projects": {
             "type": "array",
             "description": "The projects associated with this equipment",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "1"
               },
               "name": {
                "type": "string"
               }
              }
             }
            },
            "current_project_id": {
             "type": "string",
             "description": "The current project id of the equipment",
             "example": "1"
            },
            "group_ids": {
             "type": "array",
             "description": "The group ids associated with the equipment.",
             "items": {
              "type": "string",
              "description": "A unique identifier for groups.",
              "example": "123-456-789"
             }
            },
            "custom_fields": {
             "type": "object",
             "additionalProperties": {
              "type": "object",
              "description": "Typed custom field entry in equipment responses.",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Discriminator for value: string, decimal, boolean, datetime, lov_entry, lov_entries, etc.",
                "example": "string"
               },
               "value": {
                "description": "Field value; shape depends on data_type (e.g. string, number, boolean, object with id/label for lov_entry, array of such objects for lov_entries)."
               }
              }
             },
             "description": "Values keyed by custom_field_{definition_id} (definition_id comes from your category fieldset). Each entry includes data_type and value as returned by the API.",
             "example": {
              "custom_field_1001": {
               "data_type": "string",
               "value": "custom field value"
              },
              "custom_field_1002": {
               "data_type": "decimal",
               "value": 2.2
              },
              "custom_field_1003": {
               "data_type": "boolean",
               "value": true
              },
              "custom_field_1004": {
               "data_type": "lov_entry",
               "value": {
                "id": 1,
                "label": "Open"
               }
              },
              "custom_field_1005": {
               "data_type": "lov_entries",
               "value": [
                {
                 "id": 2,
                 "label": "Open"
                }
               ]
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments associated with this equipment (SDR-0018 format)",
             "items": {
              "type": "object",
              "description": "Inline attachment object following SDR-0018 format",
              "properties": {
               "id": {
                "type": "string",
                "description": "Equipment-register internal attachment record ID",
                "example": "01KPZCKVX9TZXN81WYYRZR30CD"
               },
               "attached_to_item_id": {
                "type": "string",
                "description": "The FAS ID from the request",
                "example": "fas-01KPQE63CX0GPFBR12K3M01J59"
               },
               "attached_to_item_type": {
                "type": "string",
                "description": "The request key type (e.g. upload_id, profile_id)",
                "example": "upload_id"
               },
               "name": {
                "type": "string",
                "description": "Original filename",
                "example": "inspection-report.pdf"
               }
              }
             }
            },
            "error": {
             "type": "object",
             "properties": {
              "code": {
               "type": "string"
              },
              "message": {
               "type": "string"
              },
              "details": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "code": {
                  "type": "string"
                 },
                 "message": {
                  "type": "string"
                 },
                 "source": {
                  "type": "string"
                 },
                 "meta": {}
                }
               }
              }
             }
            },
            "is_deleted": {
             "type": "boolean",
             "example": false
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     },
     "422": {
      "description": "The request was well-formed but was unable to be followed due to semantic errors."
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.1/companies/1234/projects/1/equipment_register',\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE', 'content-type': 'application/json'},\n  body: {\n    equipment_name: 'string',\n    name: 'Excavator',\n    equipment_id: 'string',\n    identification_number: 'A1H231hH',\n    status_id: '01J3F5HR0NVJFAP90BCX9NAP1B',\n    serial_number: 'C123D1332',\n    profile_photo: 'string',\n    category_id: '01J3F5HR0NVJFAP90BCX9NAP1B',\n    type_id: '01J3F5MZ637Y41EYA3G2MGCCGQ',\n    make_id: '01J3F5NBTN430VT97FRRKBTCSJ',\n    model_id: '01J3F5NT7667K14RWWWEM93VNN',\n    year: 2021,\n    rate_per_hour: 100,\n    ownership: 'RENTED',\n    assignee_ids: '1,2,3',\n    vendor_id: 1,\n    rental_start_date: '2021-01-01',\n    rental_end_date: '2021-01-01',\n    notes: 'string',\n    group_ids: ['123-456-789'],\n    upload_ids: ['fas-01KPQE63CX0GPFBR12K3M01J59', 'fas-01KPQE63D0WCYQ38N6RAK58JW3'],\n    profile_ids: ['fas-01KPQE63D0WCYQ38N6RAK58JW3'],\n    custom_field_1001: 'custom field value',\n    custom_field_1002: 2.2,\n    custom_field_1003: true,\n    custom_field_1004: '2021-08-01T12:00:00Z',\n    custom_field_1005: 1,\n    custom_field_1006: [2, 3],\n    onsite: true\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"equipment_name\\\":\\\"string\\\",\\\"name\\\":\\\"Excavator\\\",\\\"equipment_id\\\":\\\"string\\\",\\\"identification_number\\\":\\\"A1H231hH\\\",\\\"status_id\\\":\\\"01J3F5HR0NVJFAP90BCX9NAP1B\\\",\\\"serial_number\\\":\\\"C123D1332\\\",\\\"profile_photo\\\":\\\"string\\\",\\\"category_id\\\":\\\"01J3F5HR0NVJFAP90BCX9NAP1B\\\",\\\"type_id\\\":\\\"01J3F5MZ637Y41EYA3G2MGCCGQ\\\",\\\"make_id\\\":\\\"01J3F5NBTN430VT97FRRKBTCSJ\\\",\\\"model_id\\\":\\\"01J3F5NT7667K14RWWWEM93VNN\\\",\\\"year\\\":2021,\\\"rate_per_hour\\\":100,\\\"ownership\\\":\\\"RENTED\\\",\\\"assignee_ids\\\":\\\"1,2,3\\\",\\\"vendor_id\\\":1,\\\"rental_start_date\\\":\\\"2021-01-01\\\",\\\"rental_end_date\\\":\\\"2021-01-01\\\",\\\"notes\\\":\\\"string\\\",\\\"group_ids\\\":[\\\"123-456-789\\\"],\\\"upload_ids\\\":[\\\"fas-01KPQE63CX0GPFBR12K3M01J59\\\",\\\"fas-01KPQE63D0WCYQ38N6RAK58JW3\\\"],\\\"profile_ids\\\":[\\\"fas-01KPQE63D0WCYQ38N6RAK58JW3\\\"],\\\"custom_field_1001\\\":\\\"custom field value\\\",\\\"custom_field_1002\\\":2.2,\\\"custom_field_1003\\\":true,\\\"custom_field_1004\\\":\\\"2021-08-01T12:00:00Z\\\",\\\"custom_field_1005\\\":1,\\\"custom_field_1006\\\":[2,3],\\\"onsite\\\":true}\"\n\nheaders = {\n    'Procore-Company-Id': \"SOME_INTEGER_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.1/companies/1234/projects/1/equipment_register\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.1/companies/1234/projects/1/equipment_register \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"equipment_name\":\"string\",\"name\":\"Excavator\",\"equipment_id\":\"string\",\"identification_number\":\"A1H231hH\",\"status_id\":\"01J3F5HR0NVJFAP90BCX9NAP1B\",\"serial_number\":\"C123D1332\",\"profile_photo\":\"string\",\"category_id\":\"01J3F5HR0NVJFAP90BCX9NAP1B\",\"type_id\":\"01J3F5MZ637Y41EYA3G2MGCCGQ\",\"make_id\":\"01J3F5NBTN430VT97FRRKBTCSJ\",\"model_id\":\"01J3F5NT7667K14RWWWEM93VNN\",\"year\":2021,\"rate_per_hour\":100,\"ownership\":\"RENTED\",\"assignee_ids\":\"1,2,3\",\"vendor_id\":1,\"rental_start_date\":\"2021-01-01\",\"rental_end_date\":\"2021-01-01\",\"notes\":\"string\",\"group_ids\":[\"123-456-789\"],\"upload_ids\":[\"fas-01KPQE63CX0GPFBR12K3M01J59\",\"fas-01KPQE63D0WCYQ38N6RAK58JW3\"],\"profile_ids\":[\"fas-01KPQE63D0WCYQ38N6RAK58JW3\"],\"custom_field_1001\":\"custom field value\",\"custom_field_1002\":2.2,\"custom_field_1003\":true,\"custom_field_1004\":\"2021-08-01T12:00:00Z\",\"custom_field_1005\":1,\"custom_field_1006\":[2,3],\"onsite\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/1234/projects/1/equipment_register\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"equipment_name\\\":\\\"string\\\",\\\"name\\\":\\\"Excavator\\\",\\\"equipment_id\\\":\\\"string\\\",\\\"identification_number\\\":\\\"A1H231hH\\\",\\\"status_id\\\":\\\"01J3F5HR0NVJFAP90BCX9NAP1B\\\",\\\"serial_number\\\":\\\"C123D1332\\\",\\\"profile_photo\\\":\\\"string\\\",\\\"category_id\\\":\\\"01J3F5HR0NVJFAP90BCX9NAP1B\\\",\\\"type_id\\\":\\\"01J3F5MZ637Y41EYA3G2MGCCGQ\\\",\\\"make_id\\\":\\\"01J3F5NBTN430VT97FRRKBTCSJ\\\",\\\"model_id\\\":\\\"01J3F5NT7667K14RWWWEM93VNN\\\",\\\"year\\\":2021,\\\"rate_per_hour\\\":100,\\\"ownership\\\":\\\"RENTED\\\",\\\"assignee_ids\\\":\\\"1,2,3\\\",\\\"vendor_id\\\":1,\\\"rental_start_date\\\":\\\"2021-01-01\\\",\\\"rental_end_date\\\":\\\"2021-01-01\\\",\\\"notes\\\":\\\"string\\\",\\\"group_ids\\\":[\\\"123-456-789\\\"],\\\"upload_ids\\\":[\\\"fas-01KPQE63CX0GPFBR12K3M01J59\\\",\\\"fas-01KPQE63D0WCYQ38N6RAK58JW3\\\"],\\\"profile_ids\\\":[\\\"fas-01KPQE63D0WCYQ38N6RAK58JW3\\\"],\\\"custom_field_1001\\\":\\\"custom field value\\\",\\\"custom_field_1002\\\":2.2,\\\"custom_field_1003\\\":true,\\\"custom_field_1004\\\":\\\"2021-08-01T12:00:00Z\\\",\\\"custom_field_1005\\\":1,\\\"custom_field_1006\\\":[2,3],\\\"onsite\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Create Equipment For Project Endpoint At Project Level",
      "description": "Create equipment (Project)",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/equipment_register",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-06",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "stage": "ga",
       "visibility": "public",
       "exposure": "public"
      },
      "link": "equipment?version=2.1#create-equipment-project"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.1/companies/{company_id}/equipment_register": {
   "get": {
    "tags": [
     "Equipment"
    ],
    "summary": "Get all equipment (Company)",
    "operationId": "getAllEquipment",
    "parameters": [
     {
      "name": "search",
      "in": "query",
      "description": "Search criteria applied on name, identification number and serial number",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Filter ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[identification_numbers]",
      "in": "query",
      "description": "Filter identification_numbers",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[type]",
      "in": "query",
      "description": "Type filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[category]",
      "in": "query",
      "description": "Category filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[make]",
      "in": "query",
      "description": "Make filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[model]",
      "in": "query",
      "description": "Model filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[type_ids]",
      "in": "query",
      "description": "Type filter by Ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[category_ids]",
      "in": "query",
      "description": "Category filter by Ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[make_ids]",
      "in": "query",
      "description": "Make filter by Ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[model_ids]",
      "in": "query",
      "description": "Model filter by Ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[year]",
      "in": "query",
      "description": "Year filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Status filter by ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[ownership]",
      "in": "query",
      "description": "Ownership filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[vendor_ids]",
      "in": "query",
      "description": "Vendor filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[group_ids]",
      "in": "query",
      "description": "Group filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[assignee_ids]",
      "in": "query",
      "description": "Assignee filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[current_project_ids]",
      "in": "query",
      "description": "Current project filter by ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[exclude_equipment_in_project_ids]",
      "in": "query",
      "description": "Exclude equipment associated with these project ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[include_equipment_in_project_ids]",
      "in": "query",
      "description": "Include only equipment associated with these project ids",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[is_deleted]",
      "in": "query",
      "description": "Is deleted filter",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Updated at filter (date range format: YYYY-MM-DD...YYYY-MM-DD or YYYY-MM-DDTHH:MM:SSZ...YYYY-MM-DDTHH:MM:SSZ)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "The page number to retrieve. Default is 1.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of records per page",
      "required": true,
      "schema": {
       "type": "integer",
       "default": 10,
       "maximum": 100
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Equipment view type",
      "required": false,
      "schema": {
       "type": "string",
       "default": "normal",
       "enum": [
        "compact",
        "short",
        "normal",
        "ids",
        "extended"
       ],
       "pattern": "ids|compact|short|normal|extended"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Equipment sort. Also supports custom field sorting like 'custom_field_123' or '-custom_field_123' for descending",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "make",
        "model",
        "category",
        "type",
        "equipmentId",
        "equipmentName",
        "serialNumber",
        "year",
        "ownership",
        "ratePerHour",
        "notes",
        "rentalStartDate",
        "rentalEndDate"
       ]
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Operation",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "description": "Extended View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
               },
               "identification_number": {
                "type": "string",
                "example": "C612C7adasd76"
               },
               "name": {
                "type": "string",
                "example": "Small Excavator"
               },
               "type": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Paver"
                 }
                }
               },
               "profile_photo": {
                "type": "string",
                "example": "BGA336adHFstpolknasdyhjasdvk"
               },
               "status": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Active"
                 },
                 "type": {
                  "type": "string",
                  "example": "Utilised"
                 }
                }
               },
               "serial_number": {
                "type": "string",
                "example": "123Had6Hasdk"
               },
               "category": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Aggregate Concrete"
                 }
                }
               },
               "make": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3BYX9G11R3XHXPFA2G361"
                 },
                 "name": {
                  "type": "string",
                  "example": "Antec"
                 }
                }
               },
               "model": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3DJK1XGQMG8RZH3M131BX"
                 },
                 "name": {
                  "type": "string",
                  "example": "PW1500"
                 }
                }
               },
               "year": {
                "type": "integer",
                "format": "int32",
                "example": 2021
               },
               "rate_per_hour": {
                "type": "number",
                "format": "float",
                "example": 100
               },
               "ownership": {
                "type": "string",
                "enum": [
                 "owned",
                 "rented",
                 "subcontracted"
                ],
                "example": "Owned"
               },
               "notes": {
                "type": "string",
                "example": "This is a note"
               },
               "purchase_order": {
                "type": "string",
                "example": "PO-2026-0042"
               },
               "source": {
                "type": "string",
                "description": "Origin of the equipment record (e.g. import source or sync vendor).",
                "example": "united_rentals"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2021-08-01T12:00:00Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "example": "2021-08-01T12:00:00Z"
               },
               "assignee_ids": {
                "type": "string",
                "description": "The people id of the equipment.",
                "example": "1,2,3"
               },
               "assignees": {
                "type": "array",
                "description": "The assignees associated with this equipment",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "example": "1"
                  },
                  "name": {
                   "type": "string"
                  }
                 }
                }
               },
               "vendor_id": {
                "type": "string",
                "description": "The vendor id of the equipment",
                "example": "1"
               },
               "vendor": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "1"
                 },
                 "name": {
                  "type": "string"
                 }
                }
               },
               "rental_start_date": {
                "type": "string",
                "format": "date",
                "example": "2021-09-10"
               },
               "rental_end_date": {
                "type": "string",
                "format": "date",
                "example": "2021-09-10"
               },
               "is_current_project": {
                "type": "boolean",
                "example": true
               },
               "project_ids": {
                "type": "array",
                "example": "1,2,3",
                "items": {
                 "type": "integer",
                 "format": "int64"
                }
               },
               "projects": {
                "type": "array",
                "description": "The projects associated with this equipment",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "example": "1"
                  },
                  "name": {
                   "type": "string"
                  }
                 }
                }
               },
               "current_project_id": {
                "type": "string",
                "description": "The current project id of the equipment",
                "example": "1"
               },
               "group_ids": {
                "type": "array",
                "description": "The group ids associated with the equipment.",
                "items": {
                 "type": "string",
                 "description": "A unique identifier for groups.",
                 "example": "123-456-789"
                }
               },
               "custom_fields": {
                "type": "object",
                "additionalProperties": {
                 "type": "object",
                 "description": "Typed custom field entry in equipment responses.",
                 "properties": {
                  "data_type": {
                   "type": "string",
                   "description": "Discriminator for value: string, decimal, boolean, datetime, lov_entry, lov_entries, etc.",
                   "example": "string"
                  },
                  "value": {
                   "description": "Field value; shape depends on data_type (e.g. string, number, boolean, object with id/label for lov_entry, array of such objects for lov_entries)."
                  }
                 }
                },
                "description": "Values keyed by custom_field_{definition_id} (definition_id comes from your category fieldset). Each entry includes data_type and value as returned by the API.",
                "example": {
                 "custom_field_1001": {
                  "data_type": "string",
                  "value": "custom field value"
                 },
                 "custom_field_1002": {
                  "data_type": "decimal",
                  "value": 2.2
                 },
                 "custom_field_1003": {
                  "data_type": "boolean",
                  "value": true
                 },
                 "custom_field_1004": {
                  "data_type": "lov_entry",
                  "value": {
                   "id": 1,
                   "label": "Open"
                  }
                 },
                 "custom_field_1005": {
                  "data_type": "lov_entries",
                  "value": [
                   {
                    "id": 2,
                    "label": "Open"
                   }
                  ]
                 }
                }
               },
               "attachments": {
                "type": "array",
                "description": "Attachments associated with this equipment (SDR-0018 format)",
                "items": {
                 "type": "object",
                 "description": "Inline attachment object following SDR-0018 format",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Equipment-register internal attachment record ID",
                   "example": "01KPZCKVX9TZXN81WYYRZR30CD"
                  },
                  "attached_to_item_id": {
                   "type": "string",
                   "description": "The FAS ID from the request",
                   "example": "fas-01KPQE63CX0GPFBR12K3M01J59"
                  },
                  "attached_to_item_type": {
                   "type": "string",
                   "description": "The request key type (e.g. upload_id, profile_id)",
                   "example": "upload_id"
                  },
                  "name": {
                   "type": "string",
                   "description": "Original filename",
                   "example": "inspection-report.pdf"
                  }
                 }
                }
               },
               "error": {
                "type": "object",
                "properties": {
                 "code": {
                  "type": "string"
                 },
                 "message": {
                  "type": "string"
                 },
                 "details": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "code": {
                     "type": "string"
                    },
                    "message": {
                     "type": "string"
                    },
                    "source": {
                     "type": "string"
                    },
                    "meta": {}
                   }
                  }
                 }
                }
               },
               "is_deleted": {
                "type": "boolean",
                "example": false
               }
              }
             }
            }
           },
           "title": "extended"
          },
          {
           "type": "object",
           "description": "Normal View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
               },
               "identification_number": {
                "type": "string",
                "example": "C612C7adasd76"
               },
               "name": {
                "type": "string",
                "example": "Small Excavator"
               },
               "type": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Paver"
                 }
                }
               },
               "profile_photo": {
                "type": "string",
                "example": "BGA336adHFstpolknasdyhjasdvk"
               },
               "status": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Active"
                 },
                 "type": {
                  "type": "string",
                  "example": "Utilised"
                 }
                }
               },
               "serial_number": {
                "type": "string",
                "example": "123Had6Hasdk"
               },
               "category": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Aggregate Concrete"
                 }
                }
               },
               "make": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3BYX9G11R3XHXPFA2G361"
                 },
                 "name": {
                  "type": "string",
                  "example": "Antec"
                 }
                }
               },
               "model": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3DJK1XGQMG8RZH3M131BX"
                 },
                 "name": {
                  "type": "string",
                  "example": "PW1500"
                 }
                }
               },
               "year": {
                "type": "integer",
                "format": "int32",
                "example": 2021
               },
               "rate_per_hour": {
                "type": "number",
                "format": "float",
                "example": 100
               },
               "ownership": {
                "type": "string",
                "enum": [
                 "owned",
                 "rented",
                 "subcontracted"
                ],
                "example": "Owned"
               },
               "notes": {
                "type": "string",
                "example": "This is a note"
               },
               "purchase_order": {
                "type": "string",
                "example": "PO-2026-0042"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "example": "2021-08-01T12:00:00Z"
               },
               "vendor_id": {
                "type": "string",
                "description": "The vendor id of the equipment",
                "example": "1"
               },
               "rental_start_date": {
                "type": "string",
                "format": "date",
                "example": "2021-09-10"
               },
               "rental_end_date": {
                "type": "string",
                "format": "date",
                "example": "2021-09-10"
               },
               "is_current_project": {
                "type": "boolean",
                "example": true
               },
               "group_ids": {
                "type": "array",
                "items": {
                 "type": "string",
                 "example": "123-456-789"
                }
               }
              }
             }
            }
           },
           "title": "normal"
          },
          {
           "type": "object",
           "description": "Compact View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
               },
               "identification_number": {
                "type": "string",
                "example": "C612C7adasd76"
               },
               "name": {
                "type": "string",
                "example": "Small Excavator"
               }
              }
             }
            }
           },
           "title": "compact"
          },
          {
           "type": "object",
           "description": "Short View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
               },
               "identification_number": {
                "type": "string",
                "example": "C612C7adasd76"
               },
               "name": {
                "type": "string",
                "example": "Small Excavator"
               },
               "type": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Paver"
                 }
                }
               },
               "profile_photo": {
                "type": "string",
                "example": "BGA336adHFstpolknasdyhjasdvk"
               },
               "status": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Active"
                 },
                 "type": {
                  "type": "string",
                  "example": "Utilised"
                 }
                }
               }
              }
             }
            }
           },
           "title": "short"
          },
          {
           "type": "object",
           "description": "Ids View V2.1",
           "properties": {
            "data": {
             "type": "array",
             "items": {
              "type": "string"
             }
            }
           },
           "title": "ids"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.1/companies/1234/equipment_register',\n  qs: {\n    search: 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[identification_numbers]': 'SOME_STRING_VALUE',\n    'filters[type]': 'SOME_STRING_VALUE',\n    'filters[category]': 'SOME_STRING_VALUE',\n    'filters[make]': 'SOME_STRING_VALUE',\n    'filters[model]': 'SOME_STRING_VALUE',\n    'filters[type_ids]': 'SOME_STRING_VALUE',\n    'filters[category_ids]': 'SOME_STRING_VALUE',\n    'filters[make_ids]': 'SOME_STRING_VALUE',\n    'filters[model_ids]': 'SOME_STRING_VALUE',\n    'filters[year]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[ownership]': 'SOME_STRING_VALUE',\n    'filters[vendor_ids]': 'SOME_STRING_VALUE',\n    'filters[group_ids]': 'SOME_STRING_VALUE',\n    'filters[assignee_ids]': 'SOME_STRING_VALUE',\n    'filters[current_project_ids]': 'SOME_STRING_VALUE',\n    'filters[exclude_equipment_in_project_ids]': 'SOME_STRING_VALUE',\n    'filters[include_equipment_in_project_ids]': 'SOME_STRING_VALUE',\n    'filters[is_deleted]': 'SOME_BOOLEAN_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Procore-Company-Id': \"SOME_INTEGER_VALUE\" }\n\nconn.request(\"GET\", \"/rest/v2.1/companies/1234/equipment_register?search=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bidentification_numbers%5D=SOME_STRING_VALUE&filters%5Btype%5D=SOME_STRING_VALUE&filters%5Bcategory%5D=SOME_STRING_VALUE&filters%5Bmake%5D=SOME_STRING_VALUE&filters%5Bmodel%5D=SOME_STRING_VALUE&filters%5Btype_ids%5D=SOME_STRING_VALUE&filters%5Bcategory_ids%5D=SOME_STRING_VALUE&filters%5Bmake_ids%5D=SOME_STRING_VALUE&filters%5Bmodel_ids%5D=SOME_STRING_VALUE&filters%5Byear%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bownership%5D=SOME_STRING_VALUE&filters%5Bvendor_ids%5D=SOME_STRING_VALUE&filters%5Bgroup_ids%5D=SOME_STRING_VALUE&filters%5Bassignee_ids%5D=SOME_STRING_VALUE&filters%5Bcurrent_project_ids%5D=SOME_STRING_VALUE&filters%5Bexclude_equipment_in_project_ids%5D=SOME_STRING_VALUE&filters%5Binclude_equipment_in_project_ids%5D=SOME_STRING_VALUE&filters%5Bis_deleted%5D=SOME_BOOLEAN_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.1/companies/1234/equipment_register?search=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bidentification_numbers%5D=SOME_STRING_VALUE&filters%5Btype%5D=SOME_STRING_VALUE&filters%5Bcategory%5D=SOME_STRING_VALUE&filters%5Bmake%5D=SOME_STRING_VALUE&filters%5Bmodel%5D=SOME_STRING_VALUE&filters%5Btype_ids%5D=SOME_STRING_VALUE&filters%5Bcategory_ids%5D=SOME_STRING_VALUE&filters%5Bmake_ids%5D=SOME_STRING_VALUE&filters%5Bmodel_ids%5D=SOME_STRING_VALUE&filters%5Byear%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bownership%5D=SOME_STRING_VALUE&filters%5Bvendor_ids%5D=SOME_STRING_VALUE&filters%5Bgroup_ids%5D=SOME_STRING_VALUE&filters%5Bassignee_ids%5D=SOME_STRING_VALUE&filters%5Bcurrent_project_ids%5D=SOME_STRING_VALUE&filters%5Bexclude_equipment_in_project_ids%5D=SOME_STRING_VALUE&filters%5Binclude_equipment_in_project_ids%5D=SOME_STRING_VALUE&filters%5Bis_deleted%5D=SOME_BOOLEAN_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.1/companies/1234/equipment_register?search=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bidentification_numbers%5D=SOME_STRING_VALUE&filters%5Btype%5D=SOME_STRING_VALUE&filters%5Bcategory%5D=SOME_STRING_VALUE&filters%5Bmake%5D=SOME_STRING_VALUE&filters%5Bmodel%5D=SOME_STRING_VALUE&filters%5Btype_ids%5D=SOME_STRING_VALUE&filters%5Bcategory_ids%5D=SOME_STRING_VALUE&filters%5Bmake_ids%5D=SOME_STRING_VALUE&filters%5Bmodel_ids%5D=SOME_STRING_VALUE&filters%5Byear%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bownership%5D=SOME_STRING_VALUE&filters%5Bvendor_ids%5D=SOME_STRING_VALUE&filters%5Bgroup_ids%5D=SOME_STRING_VALUE&filters%5Bassignee_ids%5D=SOME_STRING_VALUE&filters%5Bcurrent_project_ids%5D=SOME_STRING_VALUE&filters%5Bexclude_equipment_in_project_ids%5D=SOME_STRING_VALUE&filters%5Binclude_equipment_in_project_ids%5D=SOME_STRING_VALUE&filters%5Bis_deleted%5D=SOME_BOOLEAN_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Get All Equipment Endpoint At Company Level",
      "description": "Get all equipment (Company)",
      "endpoint": "GET /companies/{company_id}/equipment_register",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-03-06",
      "versions": [
       "2.1"
      ],
      "x-doc": {
       "stage": "ga",
       "visibility": "public",
       "exposure": "public"
      },
      "link": "equipment?version=2.1#get-all-equipment-company"
     }
    ]
   },
   "post": {
    "tags": [
     "Equipment"
    ],
    "summary": "Create equipment (Company)",
    "operationId": "createEquipment_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "additionalProperties": true,
        "description": "Equipment Save Request",
        "example": {
         "equipment_name": "string",
         "name": "Excavator",
         "equipment_id": "string",
         "identification_number": "A1H231hH",
         "status_id": "01J3F5HR0NVJFAP90BCX9NAP1B",
         "serial_number": "C123D1332",
         "profile_photo": "string",
         "category_id": "01J3F5HR0NVJFAP90BCX9NAP1B",
         "type_id": "01J3F5MZ637Y41EYA3G2MGCCGQ",
         "make_id": "01J3F5NBTN430VT97FRRKBTCSJ",
         "model_id": "01J3F5NT7667K14RWWWEM93VNN",
         "year": 2021,
         "rate_per_hour": 100,
         "ownership": "RENTED",
         "assignee_ids": "1,2,3",
         "vendor_id": 1,
         "rental_start_date": "2021-01-01",
         "rental_end_date": "2021-01-01",
         "notes": "string",
         "group_ids": [
          "123-456-789"
         ],
         "upload_ids": [
          "fas-01KPQE63CX0GPFBR12K3M01J59",
          "fas-01KPQE63D0WCYQ38N6RAK58JW3"
         ],
         "profile_ids": [
          "fas-01KPQE63D0WCYQ38N6RAK58JW3"
         ],
         "custom_field_1001": "custom field value",
         "custom_field_1002": 2.2,
         "custom_field_1003": true,
         "custom_field_1004": "2021-08-01T12:00:00Z",
         "custom_field_1005": 1,
         "custom_field_1006": [
          2,
          3
         ]
        },
        "properties": {
         "equipment_name": {
          "type": "string"
         },
         "name": {
          "type": "string",
          "description": "The name of the equipment.",
          "example": "Excavator",
          "maxLength": 650,
          "minLength": 0
         },
         "equipment_id": {
          "type": "string"
         },
         "identification_number": {
          "type": "string",
          "description": "The identification number of the equipment.",
          "example": "A1H231hH",
          "maxLength": 200,
          "minLength": 0
         },
         "status_id": {
          "type": "string",
          "description": "The status of the equipment.",
          "example": "01J3F5HR0NVJFAP90BCX9NAP1B"
         },
         "serial_number": {
          "type": "string",
          "description": "The serial number of the equipment.",
          "example": "C123D1332",
          "maxLength": 200,
          "minLength": 0
         },
         "profile_photo": {
          "type": "string",
          "format": "byte"
         },
         "category_id": {
          "type": "string",
          "description": "The category of the equipment.",
          "example": "01J3F5HR0NVJFAP90BCX9NAP1B"
         },
         "type_id": {
          "type": "string",
          "description": "The type of the equipment.",
          "example": "01J3F5MZ637Y41EYA3G2MGCCGQ"
         },
         "make_id": {
          "type": "string",
          "description": "The make of the equipment.",
          "example": "01J3F5NBTN430VT97FRRKBTCSJ"
         },
         "model_id": {
          "type": "string",
          "description": "The model of the equipment.",
          "example": "01J3F5NT7667K14RWWWEM93VNN"
         },
         "year": {
          "type": "integer",
          "format": "int32",
          "description": "The year of the equipment.",
          "example": 2021
         },
         "rate_per_hour": {
          "type": "number",
          "format": "float",
          "description": "The rate per hour of the equipment.",
          "example": 100
         },
         "ownership": {
          "type": "string",
          "description": "The ownership of the equipment.",
          "enum": [
           "OWNED",
           "RENTED",
           "SUBCONTRACTED"
          ],
          "example": "RENTED"
         },
         "assignee_ids": {
          "type": "string",
          "description": "The people id of the equipment.",
          "example": "1,2,3"
         },
         "vendor_id": {
          "type": "string",
          "description": "The vendor id of the equipment.",
          "example": "1"
         },
         "rental_start_date": {
          "type": "string",
          "format": "date",
          "description": "The start date of the rental.",
          "example": "2021-01-01"
         },
         "rental_end_date": {
          "type": "string",
          "format": "date",
          "description": "The end date of the rental.",
          "example": "2021-01-01"
         },
         "notes": {
          "type": "string"
         },
         "purchase_order": {
          "type": "string",
          "description": "The purchase order number.",
          "example": "PO-2026-0042",
          "maxLength": 500,
          "minLength": 0
         },
         "group_ids": {
          "type": "array",
          "description": "List of group IDs to be associated with the equipment",
          "items": {
           "type": "string",
           "description": "A unique identifier for groups.",
           "example": "123-456-789"
          }
         },
         "upload_ids": {
          "type": "array",
          "description": "List of FAS file IDs for generic document uploads (PDFs, images, etc.)",
          "items": {
           "type": "string",
           "description": "FAS file ID for document uploads.",
           "example": "fas-01KPQE63CX0GPFBR12K3M01J59"
          },
          "maxItems": 100,
          "minItems": 0
         },
         "profile_ids": {
          "type": "array",
          "description": "List of FAS file IDs for profile image uploads",
          "items": {
           "type": "string",
           "description": "FAS file ID for profile image uploads.",
           "example": "fas-01KPQE63D0WCYQ38N6RAK58JW3"
          },
          "maxItems": 100,
          "minItems": 0
         }
        },
        "required": [
         "category_id",
         "identification_number",
         "name",
         "ownership",
         "status_id",
         "type_id"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "example": "01J3F27HC2Z2NJ0879JDM5FMSY"
            },
            "identification_number": {
             "type": "string",
             "example": "C612C7adasd76"
            },
            "name": {
             "type": "string",
             "example": "Small Excavator"
            },
            "type": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
              },
              "name": {
               "type": "string",
               "example": "Asphalt Paver"
              }
             }
            },
            "profile_photo": {
             "type": "string",
             "example": "BGA336adHFstpolknasdyhjasdvk"
            },
            "status": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F36T5VVPR9RN20328Q2275"
              },
              "name": {
               "type": "string",
               "example": "Active"
              },
              "type": {
               "type": "string",
               "example": "Utilised"
              }
             }
            },
            "serial_number": {
             "type": "string",
             "example": "123Had6Hasdk"
            },
            "category": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F36T5VVPR9RN20328Q2275"
              },
              "name": {
               "type": "string",
               "example": "Asphalt Aggregate Concrete"
              }
             }
            },
            "make": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3BYX9G11R3XHXPFA2G361"
              },
              "name": {
               "type": "string",
               "example": "Antec"
              }
             }
            },
            "model": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3DJK1XGQMG8RZH3M131BX"
              },
              "name": {
               "type": "string",
               "example": "PW1500"
              }
             }
            },
            "year": {
             "type": "integer",
             "format": "int32",
             "example": 2021
            },
            "rate_per_hour": {
             "type": "number",
             "format": "float",
             "example": 100
            },
            "ownership": {
             "type": "string",
             "enum": [
              "owned",
              "rented",
              "subcontracted"
             ],
             "example": "Owned"
            },
            "notes": {
             "type": "string",
             "example": "This is a note"
            },
            "purchase_order": {
             "type": "string",
             "example": "PO-2026-0042"
            },
            "source": {
             "type": "string",
             "description": "Origin of the equipment record (e.g. import source or sync vendor).",
             "example": "united_rentals"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "example": "2021-08-01T12:00:00Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "example": "2021-08-01T12:00:00Z"
            },
            "assignee_ids": {
             "type": "string",
             "description": "The people id of the equipment.",
             "example": "1,2,3"
            },
            "assignees": {
             "type": "array",
             "description": "The assignees associated with this equipment",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "1"
               },
               "name": {
                "type": "string"
               }
              }
             }
            },
            "vendor_id": {
             "type": "string",
             "description": "The vendor id of the equipment",
             "example": "1"
            },
            "vendor": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "1"
              },
              "name": {
               "type": "string"
              }
             }
            },
            "rental_start_date": {
             "type": "string",
             "format": "date",
             "example": "2021-09-10"
            },
            "rental_end_date": {
             "type": "string",
             "format": "date",
             "example": "2021-09-10"
            },
            "is_current_project": {
             "type": "boolean",
             "example": true
            },
            "project_ids": {
             "type": "array",
             "example": "1,2,3",
             "items": {
              "type": "integer",
              "format": "int64"
             }
            },
            "projects": {
             "type": "array",
             "description": "The projects associated with this equipment",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "1"
               },
               "name": {
                "type": "string"
               }
              }
             }
            },
            "current_project_id": {
             "type": "string",
             "description": "The current project id of the equipment",
             "example": "1"
            },
            "group_ids": {
             "type": "array",
             "description": "The group ids associated with the equipment.",
             "items": {
              "type": "string",
              "description": "A unique identifier for groups.",
              "example": "123-456-789"
             }
            },
            "custom_fields": {
             "type": "object",
             "additionalProperties": {
              "type": "object",
              "description": "Typed custom field entry in equipment responses.",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "Discriminator for value: string, decimal, boolean, datetime, lov_entry, lov_entries, etc.",
                "example": "string"
               },
               "value": {
                "description": "Field value; shape depends on data_type (e.g. string, number, boolean, object with id/label for lov_entry, array of such objects for lov_entries)."
               }
              }
             },
             "description": "Values keyed by custom_field_{definition_id} (definition_id comes from your category fieldset). Each entry includes data_type and value as returned by the API.",
             "example": {
              "custom_field_1001": {
               "data_type": "string",
               "value": "custom field value"
              },
              "custom_field_1002": {
               "data_type": "decimal",
               "value": 2.2
              },
              "custom_field_1003": {
               "data_type": "boolean",
               "value": true
              },
              "custom_field_1004": {
               "data_type": "lov_entry",
               "value": {
                "id": 1,
                "label": "Open"
               }
              },
              "custom_field_1005": {
               "data_type": "lov_entries",
               "value": [
                {
                 "id": 2,
                 "label": "Open"
                }
               ]
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments associated with this equipment (SDR-0018 format)",
             "items": {
              "type": "object",
              "description": "Inline attachment object following SDR-0018 format",
              "properties": {
               "id": {
                "type": "string",
                "description": "Equipment-register internal attachment record ID",
                "example": "01KPZCKVX9TZXN81WYYRZR30CD"
               },
               "attached_to_item_id": {
                "type": "string",
                "description": "The FAS ID from the request",
                "example": "fas-01KPQE63CX0GPFBR12K3M01J59"
               },
               "attached_to_item_type": {
                "type": "string",
                "description": "The request key type (e.g. upload_id, profile_id)",
                "example": "upload_id"
               },
               "name": {
                "type": "string",
                "description": "Original filename",
                "example": "inspection-report.pdf"
               }
              }
             }
            },
            "error": {
             "type": "object",
             "properties": {
              "code": {
               "type": "string"
              },
              "message": {
               "type": "string"
              },
              "details": {
               "type": "array",
               "items": {
                "type": "object",
                "properties": {
                 "code": {
                  "type": "string"
                 },
                 "message": {
                  "type": "string"
                 },
                 "source": {
                  "type": "string"
                 },
                 "meta": {}
                }
               }
              }
             }
            },
            "is_deleted": {
             "type": "boolean",
             "example": false
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     },
     "422": {
[...]
