{
 "openapi": "3.0.0",
 "info": {
  "title": "Equipment Log",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Equipment Log",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/managed_equipment_logs": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "List all equipment logs",
    "description": "Return a list of all equipment Logs for the projects the current user has access to.",
    "tags": [
     "Equipment Log"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of equipment logs",
         "items": {
          "type": "object",
          "description": "Equipment Log",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the equipment was logged for",
            "example": 14406
           },
           "managed_equipment_id": {
            "type": "integer",
            "description": "Equipment Id the log is associated with",
            "example": 1
           },
           "onsite": {
            "type": "string",
            "format": "date",
            "description": "The date equipment arrived on site",
            "example": "2019-04-10"
           },
           "offsite": {
            "type": "string",
            "format": "date",
            "description": "The date equipment leaves the site",
            "example": "2019-05-10"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment log was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment log was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment log was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "formatted_offsite": {
            "type": "string",
            "format": "date",
            "description": "The formatted date equipment left on site",
            "example": "2015-11-12T21:26:28Z"
           },
           "formatted_onsite": {
            "type": "string",
            "format": "date",
            "description": "The formatted date equipment arrived on site",
            "example": "2015-11-12T21:26:28Z"
           },
           "responsible_contractor": {
            "type": "string",
            "description": "The responsible contractor",
            "example": "MD construction"
           },
           "inspection_date": {
            "type": "string",
            "format": "date",
            "description": "The date the equipment was inspected",
            "example": "2019-02-19"
           },
           "induction_checklist_list_id": {
            "type": "integer",
            "description": "Id of the inspection list the equipment uses",
            "example": 1
           },
           "induction_number": {
            "type": "string",
            "description": "The number used for equipment induction",
            "example": 1
           },
           "induction_status": {
            "type": "boolean",
            "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List all equipment logs is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_logs",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-log?version=1.0#list-all-equipment-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Create equipment log.",
    "description": "Create a new equipment log.",
    "tags": [
     "Equipment Log"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_log"
        ],
        "properties": {
         "managed_equipment_log": {
          "type": "object",
          "properties": {
           "project_id": {
            "type": "integer",
            "description": "ID of the project the equipment was logged for",
            "example": 14406
           },
           "managed_equipment_id": {
            "type": "integer",
            "description": "Equipment Id the log is associated with",
            "example": 1
           },
           "onsite": {
            "type": "string",
            "format": "date",
            "description": "The Date equipment arrived on site",
            "example": "2019-04-10"
           },
           "offsite": {
            "type": "string",
            "format": "date",
            "description": "The Date equipment left the site",
            "example": "2019-05-10"
           },
           "inspection_date": {
            "type": "string",
            "format": "date",
            "description": "The date the equipment was inspected",
            "example": "2019-04-10"
           },
           "induction_checklist_list_id": {
            "type": "integer",
            "description": "Id of the inspection list the equipment uses",
            "example": 1
           },
           "induction_number": {
            "type": "string",
            "description": "The number used for equipment induction",
            "example": "00001"
           },
           "induction_status": {
            "type": "boolean",
            "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
            "example": false
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the equipment was logged for",
           "example": 14406
          },
          "managed_equipment_id": {
           "type": "integer",
           "description": "Equipment Id the log is associated with",
           "example": 1
          },
          "onsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment arrived on site",
           "example": "2019-04-10"
          },
          "offsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment leaves the site",
           "example": "2019-05-10"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "formatted_offsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment left on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "formatted_onsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment arrived on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "responsible_contractor": {
           "type": "string",
           "description": "The responsible contractor",
           "example": "MD construction"
          },
          "inspection_date": {
           "type": "string",
           "format": "date",
           "description": "The date the equipment was inspected",
           "example": "2019-02-19"
          },
          "induction_checklist_list_id": {
           "type": "integer",
           "description": "Id of the inspection list the equipment uses",
           "example": 1
          },
          "induction_number": {
           "type": "string",
           "description": "The number used for equipment induction",
           "example": 1
          },
          "induction_status": {
           "type": "boolean",
           "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_log: {\n      project_id: 14406,\n      managed_equipment_id: 1,\n      onsite: '2019-04-10',\n      offsite: '2019-05-10',\n      inspection_date: '2019-04-10',\n      induction_checklist_list_id: 1,\n      induction_number: '00001',\n      induction_status: false\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_log\\\":{\\\"project_id\\\":14406,\\\"managed_equipment_id\\\":1,\\\"onsite\\\":\\\"2019-04-10\\\",\\\"offsite\\\":\\\"2019-05-10\\\",\\\"inspection_date\\\":\\\"2019-04-10\\\",\\\"induction_checklist_list_id\\\":1,\\\"induction_number\\\":\\\"00001\\\",\\\"induction_status\\\":false}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_log\":{\"project_id\":14406,\"managed_equipment_id\":1,\"onsite\":\"2019-04-10\",\"offsite\":\"2019-05-10\",\"inspection_date\":\"2019-04-10\",\"induction_checklist_list_id\":1,\"induction_number\":\"00001\",\"induction_status\":false}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs\"),\n    Content = new StringContent(\"{\\\"managed_equipment_log\\\":{\\\"project_id\\\":14406,\\\"managed_equipment_id\\\":1,\\\"onsite\\\":\\\"2019-04-10\\\",\\\"offsite\\\":\\\"2019-05-10\\\",\\\"inspection_date\\\":\\\"2019-04-10\\\",\\\"induction_checklist_list_id\\\":1,\\\"induction_number\\\":\\\"00001\\\",\\\"induction_status\\\":false}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added create endpoint for company Managed Equipment logs",
      "description": "Added the ability to create a Managed Equipment log",
      "endpoint": "POST /companies/{company_id}/managed_equipment_logs",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-log?version=1.0#create-equipment-log"
     },
     {
      "summary": "Create equipment log is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "POST /companies/{company_id}/managed_equipment_logs",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-log?version=1.0#create-equipment-log"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment_logs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the log to get",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Show an equipment log",
    "description": "Return detailed information about a specific equipment log",
    "tags": [
     "Equipment Log"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the equipment was logged for",
           "example": 14406
          },
          "managed_equipment_id": {
           "type": "integer",
           "description": "Equipment Id the log is associated with",
           "example": 1
          },
          "onsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment arrived on site",
           "example": "2019-04-10"
          },
          "offsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment leaves the site",
           "example": "2019-05-10"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "formatted_offsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment left on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "formatted_onsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment arrived on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "responsible_contractor": {
           "type": "string",
           "description": "The responsible contractor",
           "example": "MD construction"
          },
          "inspection_date": {
           "type": "string",
           "format": "date",
           "description": "The date the equipment was inspected",
           "example": "2019-02-19"
          },
          "induction_checklist_list_id": {
           "type": "integer",
           "description": "Id of the inspection list the equipment uses",
           "example": 1
          },
          "induction_number": {
           "type": "string",
           "description": "The number used for equipment induction",
           "example": 1
          },
          "induction_status": {
           "type": "boolean",
           "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
           "example": false
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Show an equipment log is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_logs/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-log?version=1.0#show-an-equipment-log"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/managed_equipment_logs": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "List Project Equipment Logs",
    "description": "Return a list of all equipment logs for a specified project",
    "tags": [
     "Equipment Log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of equipment logs",
         "items": {
          "type": "object",
          "description": "Equipment Log",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the equipment was logged for",
            "example": 14406
           },
           "managed_equipment_id": {
            "type": "integer",
            "description": "Equipment Id the log is associated with",
            "example": 1
           },
           "onsite": {
            "type": "string",
            "format": "date",
            "description": "The date equipment arrived on site",
            "example": "2019-04-10"
           },
           "offsite": {
            "type": "string",
            "format": "date",
            "description": "The date equipment leaves the site",
            "example": "2019-05-10"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment log was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment log was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment log was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "formatted_offsite": {
            "type": "string",
            "format": "date",
            "description": "The formatted date equipment left on site",
            "example": "2015-11-12T21:26:28Z"
           },
           "formatted_onsite": {
            "type": "string",
            "format": "date",
            "description": "The formatted date equipment arrived on site",
            "example": "2015-11-12T21:26:28Z"
           },
           "responsible_contractor": {
            "type": "string",
            "description": "The responsible contractor",
            "example": "MD construction"
           },
           "inspection_date": {
            "type": "string",
            "format": "date",
            "description": "The date the equipment was inspected",
            "example": "2019-02-19"
           },
           "induction_checklist_list_id": {
            "type": "integer",
            "description": "Id of the inspection list the equipment uses",
            "example": 1
           },
           "induction_number": {
            "type": "string",
            "description": "The number used for equipment induction",
            "example": 1
           },
           "induction_status": {
            "type": "boolean",
            "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List Project Equipment Logs is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /projects/{project_id}/managed_equipment_logs",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-log?version=1.0#list-project-equipment-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Create an Project Equipment Log",
    "description": "Create a new equipment log entry",
    "tags": [
     "Equipment Log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_log"
        ],
        "properties": {
         "managed_equipment_log": {
          "type": "object",
          "properties": {
           "project_id": {
            "type": "integer",
            "description": "ID of the project the equipment was logged for",
            "example": 14406
           },
           "managed_equipment_id": {
            "type": "integer",
            "description": "Equipment Id the log is associated with",
            "example": 1
           },
           "onsite": {
            "type": "string",
            "format": "date",
            "description": "The Date equipment arrived on site",
            "example": "2019-04-10"
           },
           "offsite": {
            "type": "string",
            "format": "date",
            "description": "The Date equipment left the site",
            "example": "2019-05-10"
           },
           "inspection_date": {
            "type": "string",
            "format": "date",
            "description": "The date the equipment was inspected",
            "example": "2019-04-10"
           },
           "induction_checklist_list_id": {
            "type": "integer",
            "description": "Id of the inspection list the equipment uses",
            "example": 1
           },
           "induction_number": {
            "type": "string",
            "description": "The number used for equipment induction",
            "example": "00001"
           },
           "induction_status": {
            "type": "boolean",
            "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
            "example": false
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the equipment was logged for",
           "example": 14406
          },
          "managed_equipment_id": {
           "type": "integer",
           "description": "Equipment Id the log is associated with",
           "example": 1
          },
          "onsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment arrived on site",
           "example": "2019-04-10"
          },
          "offsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment leaves the site",
           "example": "2019-05-10"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "formatted_offsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment left on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "formatted_onsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment arrived on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "responsible_contractor": {
           "type": "string",
           "description": "The responsible contractor",
           "example": "MD construction"
          },
          "inspection_date": {
           "type": "string",
           "format": "date",
           "description": "The date the equipment was inspected",
           "example": "2019-02-19"
          },
          "induction_checklist_list_id": {
           "type": "integer",
           "description": "Id of the inspection list the equipment uses",
           "example": 1
          },
          "induction_number": {
           "type": "string",
           "description": "The number used for equipment induction",
           "example": 1
          },
          "induction_status": {
           "type": "boolean",
           "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_log: {\n      project_id: 14406,\n      managed_equipment_id: 1,\n      onsite: '2019-04-10',\n      offsite: '2019-05-10',\n      inspection_date: '2019-04-10',\n      induction_checklist_list_id: 1,\n      induction_number: '00001',\n      induction_status: false\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_log\\\":{\\\"project_id\\\":14406,\\\"managed_equipment_id\\\":1,\\\"onsite\\\":\\\"2019-04-10\\\",\\\"offsite\\\":\\\"2019-05-10\\\",\\\"inspection_date\\\":\\\"2019-04-10\\\",\\\"induction_checklist_list_id\\\":1,\\\"induction_number\\\":\\\"00001\\\",\\\"induction_status\\\":false}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_log\":{\"project_id\":14406,\"managed_equipment_id\":1,\"onsite\":\"2019-04-10\",\"offsite\":\"2019-05-10\",\"inspection_date\":\"2019-04-10\",\"induction_checklist_list_id\":1,\"induction_number\":\"00001\",\"induction_status\":false}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs\"),\n    Content = new StringContent(\"{\\\"managed_equipment_log\\\":{\\\"project_id\\\":14406,\\\"managed_equipment_id\\\":1,\\\"onsite\\\":\\\"2019-04-10\\\",\\\"offsite\\\":\\\"2019-05-10\\\",\\\"inspection_date\\\":\\\"2019-04-10\\\",\\\"induction_checklist_list_id\\\":1,\\\"induction_number\\\":\\\"00001\\\",\\\"induction_status\\\":false}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create an Project Equipment Log is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "POST /projects/{project_id}/managed_equipment_logs",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-log?version=1.0#create-an-project-equipment-log"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/managed_equipment_logs/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Show an Project Equipment Log",
    "description": "Return detailed information about a specific equipment log",
    "tags": [
     "Equipment Log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the company to get the logs for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the equipment was logged for",
           "example": 14406
          },
          "managed_equipment_id": {
           "type": "integer",
           "description": "Equipment Id the log is associated with",
           "example": 1
          },
          "onsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment arrived on site",
           "example": "2019-04-10"
          },
          "offsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment leaves the site",
           "example": "2019-05-10"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "formatted_offsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment left on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "formatted_onsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment arrived on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "responsible_contractor": {
           "type": "string",
           "description": "The responsible contractor",
           "example": "MD construction"
          },
          "inspection_date": {
           "type": "string",
           "format": "date",
           "description": "The date the equipment was inspected",
           "example": "2019-02-19"
          },
          "induction_checklist_list_id": {
           "type": "integer",
           "description": "Id of the inspection list the equipment uses",
           "example": 1
          },
          "induction_number": {
           "type": "string",
           "description": "The number used for equipment induction",
           "example": 1
          },
          "induction_status": {
           "type": "boolean",
           "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
           "example": false
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Show an Project Equipment Log is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /projects/{project_id}/managed_equipment_logs/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-log?version=1.0#show-an-project-equipment-log"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Update an Project Equipment Log",
    "description": "Update a specified equipment log",
    "tags": [
     "Equipment Log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the company to get the logs for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_log"
        ],
        "properties": {
         "managed_equipment_log": {
          "type": "object",
          "properties": {
           "project_id": {
            "type": "integer",
            "description": "ID of the project the equipment was logged for",
            "example": 14406
           },
           "managed_equipment_id": {
            "type": "integer",
            "description": "Equipment Id the log is associated with",
            "example": 1
           },
           "onsite": {
            "type": "string",
            "format": "date",
            "description": "The Date equipment arrived on site",
            "example": "2019-04-10"
           },
           "offsite": {
            "type": "string",
            "format": "date",
            "description": "The Date equipment left the site",
            "example": "2019-05-10"
           },
           "inspection_date": {
            "type": "string",
            "format": "date",
            "description": "The date the equipment was inspected",
            "example": "2019-04-10"
           },
           "induction_checklist_list_id": {
            "type": "integer",
            "description": "Id of the inspection list the equipment uses",
            "example": 1
           },
           "induction_number": {
            "type": "string",
            "description": "The number used for equipment induction",
            "example": "00001"
           },
           "induction_status": {
            "type": "boolean",
            "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
            "example": false
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the equipment was logged for",
           "example": 14406
          },
          "managed_equipment_id": {
           "type": "integer",
           "description": "Equipment Id the log is associated with",
           "example": 1
          },
          "onsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment arrived on site",
           "example": "2019-04-10"
          },
          "offsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment leaves the site",
           "example": "2019-05-10"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "formatted_offsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment left on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "formatted_onsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment arrived on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "responsible_contractor": {
           "type": "string",
           "description": "The responsible contractor",
           "example": "MD construction"
          },
          "inspection_date": {
           "type": "string",
           "format": "date",
           "description": "The date the equipment was inspected",
           "example": "2019-02-19"
          },
          "induction_checklist_list_id": {
           "type": "integer",
           "description": "Id of the inspection list the equipment uses",
           "example": 1
          },
          "induction_number": {
           "type": "string",
           "description": "The number used for equipment induction",
           "example": 1
          },
          "induction_status": {
           "type": "boolean",
           "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_log: {\n      project_id: 14406,\n      managed_equipment_id: 1,\n      onsite: '2019-04-10',\n      offsite: '2019-05-10',\n      inspection_date: '2019-04-10',\n      induction_checklist_list_id: 1,\n      induction_number: '00001',\n      induction_status: false\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_log\\\":{\\\"project_id\\\":14406,\\\"managed_equipment_id\\\":1,\\\"onsite\\\":\\\"2019-04-10\\\",\\\"offsite\\\":\\\"2019-05-10\\\",\\\"inspection_date\\\":\\\"2019-04-10\\\",\\\"induction_checklist_list_id\\\":1,\\\"induction_number\\\":\\\"00001\\\",\\\"induction_status\\\":false}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_log\":{\"project_id\":14406,\"managed_equipment_id\":1,\"onsite\":\"2019-04-10\",\"offsite\":\"2019-05-10\",\"inspection_date\":\"2019-04-10\",\"induction_checklist_list_id\":1,\"induction_number\":\"00001\",\"induction_status\":false}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"managed_equipment_log\\\":{\\\"project_id\\\":14406,\\\"managed_equipment_id\\\":1,\\\"onsite\\\":\\\"2019-04-10\\\",\\\"offsite\\\":\\\"2019-05-10\\\",\\\"inspection_date\\\":\\\"2019-04-10\\\",\\\"induction_checklist_list_id\\\":1,\\\"induction_number\\\":\\\"00001\\\",\\\"induction_status\\\":false}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update an Project Equipment Log is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "PATCH /projects/{project_id}/managed_equipment_logs/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-log?version=1.0#update-an-project-equipment-log"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Delete an Project Equipment Log",
    "description": "Detete a specific equipment log",
    "tags": [
     "Equipment Log"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the company to get the logs for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Equipment Log",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the equipment was logged for",
           "example": 14406
          },
          "managed_equipment_id": {
           "type": "integer",
           "description": "Equipment Id the log is associated with",
           "example": 1
          },
          "onsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment arrived on site",
           "example": "2019-04-10"
          },
          "offsite": {
           "type": "string",
           "format": "date",
           "description": "The date equipment leaves the site",
           "example": "2019-05-10"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment log was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "formatted_offsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment left on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "formatted_onsite": {
           "type": "string",
           "format": "date",
           "description": "The formatted date equipment arrived on site",
           "example": "2015-11-12T21:26:28Z"
          },
          "responsible_contractor": {
           "type": "string",
           "description": "The responsible contractor",
           "example": "MD construction"
          },
          "inspection_date": {
           "type": "string",
           "format": "date",
           "description": "The date the equipment was inspected",
           "example": "2019-02-19"
          },
          "induction_checklist_list_id": {
           "type": "integer",
           "description": "Id of the inspection list the equipment uses",
           "example": 1
          },
          "induction_number": {
           "type": "string",
           "description": "The number used for equipment induction",
           "example": 1
          },
          "induction_status": {
           "type": "boolean",
           "description": "Indicates if the equipemnt has been successfully inspected and allowed to perform work",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/managed_equipment_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Delete an Project Equipment Log is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "DELETE /projects/{project_id}/managed_equipment_logs/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-log?version=1.0#delete-an-project-equipment-log"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}