{
 "openapi": "3.0.0",
 "info": {
  "title": "Equipment Model",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Equipment Model",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/managed_equipment_models": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "List all equipment models",
    "description": "Return a list of all equipment models",
    "tags": [
     "Equipment Model"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of equipment models",
         "items": {
          "type": "object",
          "title": "ManagedEquipmentModel",
          "description": "Equipment Model",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "name": {
            "type": "string",
            "description": "Name of the equipment model",
            "example": "Earthmoving"
           },
           "managed_equipment_make_id": {
            "type": "integer",
            "description": "Equipment make ID the model is associated to",
            "example": 3355
           },
           "managed_equipment_type_id": {
            "type": "integer",
            "description": "Equipment type ID the model is associated to",
            "example": 3356
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 3355
           },
           "is_active": {
            "type": "boolean",
            "description": "Is Active",
            "example": true
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment model was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment model was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment model was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "managed_equipment_make": {
            "type": "object",
            "title": "ManagedEquipmentMake",
            "description": "Equipment Make",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment make",
              "example": "CAT"
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "if the equipment make is currently active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "managed_equipment_type": {
            "type": "object",
            "title": "ManagedEquipmentType",
            "description": "Equipment Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment Type",
              "example": "Backhoe"
             },
             "managed_equipment_category_id": {
              "type": "integer",
              "description": "Equipment category ID the type is associated with",
              "example": 3355
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "Is Active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "managed_equipment_category": {
              "type": "object",
              "title": "ManagedEquipmentCategory",
              "description": "Equipment Category",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 75414
               },
               "name": {
                "type": "string",
                "description": "Name of the equipment category",
                "example": "Earthmoving"
               },
               "company_id": {
                "type": "integer",
                "description": "Company ID",
                "example": 3355
               },
               "is_active": {
                "type": "boolean",
                "description": "If the category is currently active",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was updated",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was created",
                "example": "2015-11-12T21:26:28Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was deleted",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models',\n  qs: {\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models?filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models?filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models?filters%5Bupdated_at%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List all equipment models is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_models",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-model?version=1.0#list-all-equipment-models"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Create an equipment Model",
    "description": "Create a new equipment model entry",
    "tags": [
     "Equipment Model"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_model"
        ],
        "properties": {
         "managed_equipment_model": {
          "type": "object",
          "required": [
           "name",
           "managed_equipment_make_id",
           "managed_equipment_type_id"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the equipment model",
            "example": "Earthmoving"
           },
           "managed_equipment_make_id": {
            "type": "integer",
            "description": "Equipment make ID the model is associated to",
            "example": 75414
           },
           "managed_equipment_type_id": {
            "type": "integer",
            "description": "Equipment type ID the model is associated to",
            "example": 75414
           },
           "is_active": {
            "type": "boolean",
            "description": "If the equipment model is active",
            "example": true
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentModel",
         "description": "Equipment Model",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment model",
           "example": "Earthmoving"
          },
          "managed_equipment_make_id": {
           "type": "integer",
           "description": "Equipment make ID the model is associated to",
           "example": 3355
          },
          "managed_equipment_type_id": {
           "type": "integer",
           "description": "Equipment type ID the model is associated to",
           "example": 3356
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "Is Active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "managed_equipment_make": {
           "type": "object",
           "title": "ManagedEquipmentMake",
           "description": "Equipment Make",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment make",
             "example": "CAT"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "if the equipment make is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "managed_equipment_type": {
           "type": "object",
           "title": "ManagedEquipmentType",
           "description": "Equipment Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment Type",
             "example": "Backhoe"
            },
            "managed_equipment_category_id": {
             "type": "integer",
             "description": "Equipment category ID the type is associated with",
             "example": 3355
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "Is Active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "managed_equipment_category": {
             "type": "object",
             "title": "ManagedEquipmentCategory",
             "description": "Equipment Category",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 75414
              },
              "name": {
               "type": "string",
               "description": "Name of the equipment category",
               "example": "Earthmoving"
              },
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 3355
              },
              "is_active": {
               "type": "boolean",
               "description": "If the category is currently active",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was updated",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was created",
               "example": "2015-11-12T21:26:28Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was deleted",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_model: {\n      name: 'Earthmoving',\n      managed_equipment_make_id: 75414,\n      managed_equipment_type_id: 75414,\n      is_active: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_model\\\":{\\\"name\\\":\\\"Earthmoving\\\",\\\"managed_equipment_make_id\\\":75414,\\\"managed_equipment_type_id\\\":75414,\\\"is_active\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_model\":{\"name\":\"Earthmoving\",\"managed_equipment_make_id\":75414,\"managed_equipment_type_id\":75414,\"is_active\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models\"),\n    Content = new StringContent(\"{\\\"managed_equipment_model\\\":{\\\"name\\\":\\\"Earthmoving\\\",\\\"managed_equipment_make_id\\\":75414,\\\"managed_equipment_type_id\\\":75414,\\\"is_active\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create an equipment Model is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "POST /companies/{company_id}/managed_equipment_models",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-model?version=1.0#create-an-equipment-model"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment_models/bulk_update": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Bulk Update Managed Equipment models",
    "description": "Update multiple Managed Equipment model entries is_active property with one request",
    "tags": [
     "Equipment Models Bulk Update"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_model"
        ],
        "properties": {
         "managed_equipment_model": {
          "description": "Managed Equipment Model Object",
          "type": "object",
          "properties": {
           "is_active": {
            "description": "If the equipment model is active",
            "type": "boolean",
            "example": true
           },
           "managed_equipment_make_id": {
            "description": "The make id the Managed Equipment Model is associated with",
            "type": "integer",
            "example": 533
           },
           "managed_equipment_type_id": {
            "description": "The make id the Managed Equipment Model is associated with",
            "type": "integer",
            "example": 533
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Managed Equipment models",
         "items": {
          "type": "object",
          "title": "ManagedEquipmentModel",
          "description": "Equipment Model",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "name": {
            "type": "string",
            "description": "Name of the equipment model",
            "example": "Earthmoving"
           },
           "managed_equipment_make_id": {
            "type": "integer",
            "description": "Equipment make ID the model is associated to",
            "example": 3355
           },
           "managed_equipment_type_id": {
            "type": "integer",
            "description": "Equipment type ID the model is associated to",
            "example": 3356
           },
           "company_id": {
            "type": "integer",
            "description": "Company ID",
            "example": 3355
           },
           "is_active": {
            "type": "boolean",
            "description": "Is Active",
            "example": true
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment model was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment model was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the equipment model was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "managed_equipment_make": {
            "type": "object",
            "title": "ManagedEquipmentMake",
            "description": "Equipment Make",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment make",
              "example": "CAT"
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "if the equipment make is currently active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "managed_equipment_type": {
            "type": "object",
            "title": "ManagedEquipmentType",
            "description": "Equipment Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment Type",
              "example": "Backhoe"
             },
             "managed_equipment_category_id": {
              "type": "integer",
              "description": "Equipment category ID the type is associated with",
              "example": 3355
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "Is Active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "managed_equipment_category": {
              "type": "object",
              "title": "ManagedEquipmentCategory",
              "description": "Equipment Category",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 75414
               },
               "name": {
                "type": "string",
                "description": "Name of the equipment category",
                "example": "Earthmoving"
               },
               "company_id": {
                "type": "integer",
                "description": "Company ID",
                "example": 3355
               },
               "is_active": {
                "type": "boolean",
                "description": "If the category is currently active",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was updated",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was created",
                "example": "2015-11-12T21:26:28Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was deleted",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/bulk_update',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_model: {\n      is_active: true,\n      managed_equipment_make_id: 533,\n      managed_equipment_type_id: 533\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_model\\\":{\\\"is_active\\\":true,\\\"managed_equipment_make_id\\\":533,\\\"managed_equipment_type_id\\\":533}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/bulk_update\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/bulk_update \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_model\":{\"is_active\":true,\"managed_equipment_make_id\":533,\"managed_equipment_type_id\":533}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/bulk_update\"),\n    Content = new StringContent(\"{\\\"managed_equipment_model\\\":{\\\"is_active\\\":true,\\\"managed_equipment_make_id\\\":533,\\\"managed_equipment_type_id\\\":533}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk update endpoint for Company Managed Equipment models",
      "description": "Added the ability to bulk update Managed Equipment models",
      "endpoint": "PATCH /companies/{company_id}/managed_equipment_models/bulk_update",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-model?version=1.0#bulk-update-managed-equipment-models"
     },
     {
      "summary": "Bulk Update Managed Equipment models is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "PATCH /companies/{company_id}/managed_equipment_models/bulk_update",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-model?version=1.0#bulk-update-managed-equipment-models"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment_models/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Show an equipment model",
    "description": "Return detailed information about a specific equipment model",
    "tags": [
     "Equipment Model"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the company to get the models for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentModel",
         "description": "Equipment Model",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment model",
           "example": "Earthmoving"
          },
          "managed_equipment_make_id": {
           "type": "integer",
           "description": "Equipment make ID the model is associated to",
           "example": 3355
          },
          "managed_equipment_type_id": {
           "type": "integer",
           "description": "Equipment type ID the model is associated to",
           "example": 3356
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "Is Active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "managed_equipment_make": {
           "type": "object",
           "title": "ManagedEquipmentMake",
           "description": "Equipment Make",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment make",
             "example": "CAT"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "if the equipment make is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "managed_equipment_type": {
           "type": "object",
           "title": "ManagedEquipmentType",
           "description": "Equipment Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment Type",
             "example": "Backhoe"
            },
            "managed_equipment_category_id": {
             "type": "integer",
             "description": "Equipment category ID the type is associated with",
             "example": 3355
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "Is Active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "managed_equipment_category": {
             "type": "object",
             "title": "ManagedEquipmentCategory",
             "description": "Equipment Category",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 75414
              },
              "name": {
               "type": "string",
               "description": "Name of the equipment category",
               "example": "Earthmoving"
              },
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 3355
              },
              "is_active": {
               "type": "boolean",
               "description": "If the category is currently active",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was updated",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was created",
               "example": "2015-11-12T21:26:28Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was deleted",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Show an equipment model is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment_models/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-model?version=1.0#show-an-equipment-model"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Update an equipment model",
    "description": "Update a specified equipment model",
    "tags": [
     "Equipment Model"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the company to get the models for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "managed_equipment_model"
        ],
        "properties": {
         "managed_equipment_model": {
          "type": "object",
          "required": [
           "name",
           "managed_equipment_make_id",
           "managed_equipment_type_id"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the equipment model",
            "example": "Earthmoving"
           },
           "managed_equipment_make_id": {
            "type": "integer",
            "description": "Equipment make ID the model is associated to",
            "example": 75414
           },
           "managed_equipment_type_id": {
            "type": "integer",
            "description": "Equipment type ID the model is associated to",
            "example": 75414
           },
           "is_active": {
            "type": "boolean",
            "description": "If the equipment model is active",
            "example": true
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentModel",
         "description": "Equipment Model",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment model",
           "example": "Earthmoving"
          },
          "managed_equipment_make_id": {
           "type": "integer",
           "description": "Equipment make ID the model is associated to",
           "example": 3355
          },
          "managed_equipment_type_id": {
           "type": "integer",
           "description": "Equipment type ID the model is associated to",
           "example": 3356
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "Is Active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "managed_equipment_make": {
           "type": "object",
           "title": "ManagedEquipmentMake",
           "description": "Equipment Make",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment make",
             "example": "CAT"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "if the equipment make is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "managed_equipment_type": {
           "type": "object",
           "title": "ManagedEquipmentType",
           "description": "Equipment Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment Type",
             "example": "Backhoe"
            },
            "managed_equipment_category_id": {
             "type": "integer",
             "description": "Equipment category ID the type is associated with",
             "example": 3355
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "Is Active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "managed_equipment_category": {
             "type": "object",
             "title": "ManagedEquipmentCategory",
             "description": "Equipment Category",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 75414
              },
              "name": {
               "type": "string",
               "description": "Name of the equipment category",
               "example": "Earthmoving"
              },
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 3355
              },
              "is_active": {
               "type": "boolean",
               "description": "If the category is currently active",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was updated",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was created",
               "example": "2015-11-12T21:26:28Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was deleted",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment_model: {\n      name: 'Earthmoving',\n      managed_equipment_make_id: 75414,\n      managed_equipment_type_id: 75414,\n      is_active: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment_model\\\":{\\\"name\\\":\\\"Earthmoving\\\",\\\"managed_equipment_make_id\\\":75414,\\\"managed_equipment_type_id\\\":75414,\\\"is_active\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment_model\":{\"name\":\"Earthmoving\",\"managed_equipment_make_id\":75414,\"managed_equipment_type_id\":75414,\"is_active\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"managed_equipment_model\\\":{\\\"name\\\":\\\"Earthmoving\\\",\\\"managed_equipment_make_id\\\":75414,\\\"managed_equipment_type_id\\\":75414,\\\"is_active\\\":true}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Update an equipment model",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "PATCH /companies/{company_id}/managed_equipment_models/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-model?version=1.0#update-an-equipment-model"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Delete an equipment model",
    "description": "Detete a specific equipment model",
    "tags": [
     "Equipment Model"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the company to get the models for",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "ManagedEquipmentModel",
         "description": "Equipment Model",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "Name of the equipment model",
           "example": "Earthmoving"
          },
          "managed_equipment_make_id": {
           "type": "integer",
           "description": "Equipment make ID the model is associated to",
           "example": 3355
          },
          "managed_equipment_type_id": {
           "type": "integer",
           "description": "Equipment type ID the model is associated to",
           "example": 3356
          },
          "company_id": {
           "type": "integer",
           "description": "Company ID",
           "example": 3355
          },
          "is_active": {
           "type": "boolean",
           "description": "Is Active",
           "example": true
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the equipment model was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "managed_equipment_make": {
           "type": "object",
           "title": "ManagedEquipmentMake",
           "description": "Equipment Make",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment make",
             "example": "CAT"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "if the equipment make is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "managed_equipment_type": {
           "type": "object",
           "title": "ManagedEquipmentType",
           "description": "Equipment Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment Type",
             "example": "Backhoe"
            },
            "managed_equipment_category_id": {
             "type": "integer",
             "description": "Equipment category ID the type is associated with",
             "example": 3355
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "Is Active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "managed_equipment_category": {
             "type": "object",
             "title": "ManagedEquipmentCategory",
             "description": "Equipment Category",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 75414
              },
              "name": {
               "type": "string",
               "description": "Name of the equipment category",
               "example": "Earthmoving"
              },
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 3355
              },
              "is_active": {
               "type": "boolean",
               "description": "If the category is currently active",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was updated",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was created",
               "example": "2015-11-12T21:26:28Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was deleted",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment_models/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Delete an equipment model is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "DELETE /companies/{company_id}/managed_equipment_models/{id}",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "equipment-model?version=1.0#delete-an-equipment-model"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}