{
 "openapi": "3.1.0",
 "info": {
  "title": "Estimating Settings",
  "version": "2.0",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Estimating",
  "x-resource-name": "Estimating Settings",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/estimating/settings": {
   "get": {
    "tags": [
     "EstimatingSettings"
    ],
    "summary": "Get Estimating Settings",
    "description": "Returns the Estimating Settings for the company, including project status/stage name mappings.",
    "operationId": "EstimatingSettings_GetSettings",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 1
     }
    ],
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents the Estimating Settings for a company.",
           "additionalProperties": false,
           "properties": {
            "use_metric_units": {
             "type": "boolean",
             "description": "Indicates whether the company uses metric units for measurements."
            },
            "use_unit_labor_cost": {
             "type": "boolean",
             "description": "Indicates whether unit labor cost is used instead of hourly labor cost."
            },
            "use_markup": {
             "type": "boolean",
             "description": "Indicates whether markup is used instead of margin for profit calculations."
            },
            "currency_symbol": {
             "type": "string",
             "description": "The currency symbol used for monetary values.",
             "nullable": true,
             "example": "$"
            },
            "project_stages": {
             "description": "A mapping of project stages to their company-defined display names.",
             "nullable": true,
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "estimating": {
               "type": "string",
               "nullable": true
              },
              "bid_submitted": {
               "type": "string",
               "nullable": true
              },
              "accepted": {
               "type": "string",
               "nullable": true
              },
              "delayed": {
               "type": "string",
               "nullable": true
              },
              "lost": {
               "type": "string",
               "nullable": true
              },
              "in_progress": {
               "type": "string",
               "nullable": true
              },
              "complete": {
               "type": "string",
               "nullable": true
              },
              "invitation": {
               "type": "string",
               "nullable": true
              },
              "to_do": {
               "type": "string",
               "nullable": true
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to get Estimating Settings",
      "description": "Returns the Estimating Settings for the company, including project status/stage name mappings.",
      "endpoint": "GET /companies/{company_id}/estimating/settings",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/settings'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/settings\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/settings"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/settings\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "tags": [
     "EstimatingSettings"
    ],
    "summary": "Update Estimating Settings",
    "description": "Updates mutable Estimating Settings for the company. Create and Delete are not supported.",
    "operationId": "EstimatingSettings_UpdateSettings",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 2
     }
    ],
    "requestBody": {
     "x-name": "model",
     "content": {
      "application/merge-patch+json": {
       "schema": {
        "type": "object",
        "description": "Represents the mutable fields of Estimating Settings that can be updated.",
        "additionalProperties": false,
        "properties": {
         "use_metric_units": {
          "description": "Indicates whether the company uses metric units for measurements.",
          "type": "boolean",
          "additionalProperties": false
         },
         "use_unit_labor_cost": {
          "description": "Indicates whether unit labor cost is used instead of hourly labor cost.",
          "type": "boolean",
          "additionalProperties": false
         },
         "use_markup": {
          "description": "Indicates whether markup is used instead of margin for profit calculations.",
          "type": "boolean",
          "additionalProperties": false
         },
         "currency_symbol": {
          "description": "The currency symbol used for monetary values.",
          "example": "$",
          "type": "string",
          "additionalProperties": false
         },
         "project_stages": {
          "description": "A partial mapping of project stages to their company-defined display names. Only the provided fields are updated; omitted fields retain their existing values.",
          "type": "object",
          "additionalProperties": false,
          "properties": {
           "estimating": {
            "type": "string",
            "nullable": true
           },
           "bid_submitted": {
            "type": "string",
            "nullable": true
           },
           "accepted": {
            "type": "string",
            "nullable": true
           },
           "delayed": {
            "type": "string",
            "nullable": true
           },
           "lost": {
            "type": "string",
            "nullable": true
           },
           "in_progress": {
            "type": "string",
            "nullable": true
           },
           "complete": {
            "type": "string",
            "nullable": true
           },
           "invitation": {
            "type": "string",
            "nullable": true
           },
           "to_do": {
            "type": "string",
            "nullable": true
           }
          }
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 1
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "nullable": true,
           "type": "object",
           "description": "Represents the Estimating Settings for a company.",
           "additionalProperties": false,
           "properties": {
            "use_metric_units": {
             "type": "boolean",
             "description": "Indicates whether the company uses metric units for measurements."
            },
            "use_unit_labor_cost": {
             "type": "boolean",
             "description": "Indicates whether unit labor cost is used instead of hourly labor cost."
            },
            "use_markup": {
             "type": "boolean",
             "description": "Indicates whether markup is used instead of margin for profit calculations."
            },
            "currency_symbol": {
             "type": "string",
             "description": "The currency symbol used for monetary values.",
             "nullable": true,
             "example": "$"
            },
            "project_stages": {
             "description": "A mapping of project stages to their company-defined display names.",
             "nullable": true,
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "estimating": {
               "type": "string",
               "nullable": true
              },
              "bid_submitted": {
               "type": "string",
               "nullable": true
              },
              "accepted": {
               "type": "string",
               "nullable": true
              },
              "delayed": {
               "type": "string",
               "nullable": true
              },
              "lost": {
               "type": "string",
               "nullable": true
              },
              "in_progress": {
               "type": "string",
               "nullable": true
              },
              "complete": {
               "type": "string",
               "nullable": true
              },
              "invitation": {
               "type": "string",
               "nullable": true
              },
              "to_do": {
               "type": "string",
               "nullable": true
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to update Estimating Settings",
      "description": "Updates mutable Estimating Settings for the company. Create and Delete operations are not supported.",
      "endpoint": "PATCH /companies/{company_id}/estimating/settings",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/settings'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/estimating/settings\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/settings"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/estimating/settings\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}