{
 "openapi": "3.1.0",
 "info": {
  "title": "Estimating Project Line Items",
  "version": "2.0",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Estimating",
  "x-resource-name": "Estimating Project Line Items",
  "x-product-lines": [
   "Preconstruction"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items": {
   "get": {
    "tags": [
     "Layer"
    ],
    "summary": "Retrieve all line items of a proposal",
    "operationId": "Layer_GetLayers",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number",
      "schema": {
       "type": "integer",
       "format": "int32"
      },
      "x-position": 2,
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Items per page",
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10,
       "maximum": 100
      },
      "x-position": 3,
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 5
     }
    ],
    "responses": {
     "200": {
      "description": "Line items of the proposal",
      "headers": {
       "Total": {
        "description": "Total number of items",
        "schema": {
         "type": "integer"
        }
       },
       "Per-Page": {
        "description": "Number of items per page",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Links to other pages",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "required": [
          "data"
         ],
         "properties": {
          "data": {
           "type": "array",
           "nullable": true,
           "items": {
            "type": "object",
            "description": "Line item response model.",
            "additionalProperties": false,
            "properties": {
             "name": {
              "type": "string",
              "description": "Display name of the line item.",
              "nullable": true
             },
             "group_id": {
              "type": "string",
              "description": "Line item group ID. Omit or leave empty to use the default group.",
              "nullable": true
             },
             "cost_item": {
              "description": "Cost item associated with the line item. Provide custom pricing or omit to use a generic cost item based on type. When provided, the entire cost item is replaced (no partial updates). At least one of `cost_item.unit` or `type` must be provided so the line item's measurement basis is determined.",
              "nullable": true,
              "type": "object",
              "additionalProperties": false,
              "properties": {
               "type": {
                "description": "Cost item category.",
                "type": "string",
                "x-enumNames": [
                 "Part",
                 "Assembly",
                 "Custom",
                 "Equipment",
                 "Subcontractor",
                 "Travel",
                 "Labor"
                ],
                "enum": [
                 "PART",
                 "ASSEMBLY",
                 "CUSTOM",
                 "EQUIPMENT",
                 "SUBCONTRACTOR",
                 "TRAVEL",
                 "LABOR"
                ]
               },
               "name": {
                "type": "string",
                "description": "Display name of the cost item.",
                "nullable": true
               },
               "description": {
                "type": "string",
                "description": "Description of the cost item.",
                "nullable": true
               },
               "unit_cost": {
                "type": "number",
                "description": "Unit material cost.",
                "format": "decimal"
               },
               "unit_labor": {
                "type": "number",
                "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
                "format": "decimal"
               },
               "labor_time_unit": {
                "description": "Unit for labor time.",
                "type": "string",
                "x-enumNames": [
                 "Minutes",
                 "Hours",
                 "Days",
                 "Weeks",
                 "Months"
                ],
                "enum": [
                 "MINUTES",
                 "HOURS",
                 "DAYS",
                 "WEEKS",
                 "MONTHS"
                ]
               },
               "unit_labor_cost": {
                "type": "number",
                "description": "Unit labor cost.",
                "format": "decimal"
               },
               "manufacturer": {
                "type": "string",
                "description": "Manufacturer of the item.",
                "nullable": true
               },
               "catalog_number": {
                "type": "string",
                "description": "Catalog or product number.",
                "nullable": true
               },
               "url": {
                "type": "string",
                "description": "URL to product or specification.",
                "nullable": true
               },
               "supplier": {
                "type": "string",
                "description": "Supplier or vendor name.",
                "nullable": true
               },
               "waste": {
                "type": "number",
                "description": "Waste percentage.",
                "format": "decimal",
                "nullable": true
               },
               "material_waste": {
                "type": "number",
                "description": "Material waste percentage.",
                "format": "decimal",
                "nullable": true
               },
               "item_margin": {
                "type": "number",
                "description": "Item margin percentage.",
                "format": "decimal",
                "nullable": true
               },
               "labor_margin": {
                "type": "number",
                "description": "Labor margin percentage.",
                "format": "decimal",
                "nullable": true
               },
               "unit_labor_rate": {
                "type": "number",
                "description": "Labor rate per unit.",
                "format": "decimal",
                "nullable": true
               },
               "is_untaxed": {
                "type": "boolean",
                "description": "Whether the item is excluded from tax."
               },
               "unit": {
                "description": "Unit of measurement.",
                "type": "string",
                "x-enumNames": [
                 "Ea",
                 "Ft",
                 "SqFt",
                 "CuFt",
                 "Gal",
                 "Lb",
                 "Yd",
                 "SqYd",
                 "CuYd",
                 "Square",
                 "None",
                 "Minutes",
                 "Hours",
                 "Days",
                 "Ton",
                 "Weeks",
                 "Months",
                 "LumpSum"
                ],
                "enum": [
                 "EA",
                 "FT",
                 "SQ_FT",
                 "CU_FT",
                 "GAL",
                 "LB",
                 "YD",
                 "SQ_YD",
                 "CU_YD",
                 "SQUARE",
                 "NONE",
                 "MINUTES",
                 "HOURS",
                 "DAYS",
                 "TON",
                 "WEEKS",
                 "MONTHS",
                 "LUMP_SUM"
                ]
               },
               "notes": {
                "type": "string",
                "description": "Notes.",
                "nullable": true
               },
               "id": {
                "type": "string",
                "description": "Catalog item ID to link to an existing cost item. Omit or leave empty to create a new custom cost item from the provided fields.",
                "nullable": true
               },
               "color": {
                "type": "string",
                "description": "Display color. Example: \"#00ecff\".",
                "nullable": true
               },
               "symbol_id": {
                "type": "string",
                "description": "Symbol ID for takeoff. Built-in: circle, square, empty. Custom: numeric document ID string.",
                "nullable": true
               },
               "delivery_unit": {
                "type": "integer",
                "description": "Delivery unit quantity.",
                "format": "int32",
                "nullable": true
               },
               "catalog_id": {
                "type": "string",
                "description": "Catalog folder ID.",
                "nullable": true
               },
               "parts": {
                "type": "array",
                "description": "Sub-items (parts) of an assembly cost item. Empty for non-assembly cost items. On create, replaces the parts list copied from any referenced catalog item. Only valid when `type` is `Assembly` \u2014 providing parts with any other type is rejected with 400.",
                "nullable": true,
                "items": {
                 "type": "object",
                 "description": "Cost item sub-item (part of an assembly).",
                 "additionalProperties": false,
                 "properties": {
                  "type": {
                   "description": "Cost item category.",
                   "type": "string",
                   "x-enumNames": [
                    "Part",
                    "Assembly",
                    "Custom",
                    "Equipment",
                    "Subcontractor",
                    "Travel",
                    "Labor"
                   ],
                   "enum": [
                    "PART",
                    "ASSEMBLY",
                    "CUSTOM",
                    "EQUIPMENT",
                    "SUBCONTRACTOR",
                    "TRAVEL",
                    "LABOR"
                   ]
                  },
                  "name": {
                   "type": "string",
                   "description": "Display name of the cost item.",
                   "nullable": true
                  },
                  "description": {
                   "type": "string",
                   "description": "Description of the cost item.",
                   "nullable": true
                  },
                  "unit_cost": {
                   "type": "number",
                   "description": "Unit material cost.",
                   "format": "decimal"
                  },
                  "unit_labor": {
                   "type": "number",
                   "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
                   "format": "decimal"
                  },
                  "labor_time_unit": {
                   "description": "Unit for labor time.",
                   "type": "string",
                   "x-enumNames": [
                    "Minutes",
                    "Hours",
                    "Days",
                    "Weeks",
                    "Months"
                   ],
                   "enum": [
                    "MINUTES",
                    "HOURS",
                    "DAYS",
                    "WEEKS",
                    "MONTHS"
                   ]
                  },
                  "unit_labor_cost": {
                   "type": "number",
                   "description": "Unit labor cost.",
                   "format": "decimal"
                  },
                  "manufacturer": {
                   "type": "string",
                   "description": "Manufacturer of the item.",
                   "nullable": true
                  },
                  "catalog_number": {
                   "type": "string",
                   "description": "Catalog or product number.",
                   "nullable": true
                  },
                  "url": {
                   "type": "string",
                   "description": "URL to product or specification.",
                   "nullable": true
                  },
                  "supplier": {
                   "type": "string",
                   "description": "Supplier or vendor name.",
                   "nullable": true
                  },
                  "waste": {
                   "type": "number",
                   "description": "Waste percentage.",
                   "format": "decimal",
                   "nullable": true
                  },
                  "material_waste": {
                   "type": "number",
                   "description": "Material waste percentage.",
                   "format": "decimal",
                   "nullable": true
                  },
                  "item_margin": {
                   "type": "number",
                   "description": "Item margin percentage.",
                   "format": "decimal",
                   "nullable": true
                  },
                  "labor_margin": {
                   "type": "number",
                   "description": "Labor margin percentage.",
                   "format": "decimal",
                   "nullable": true
                  },
                  "unit_labor_rate": {
                   "type": "number",
                   "description": "Labor rate per unit.",
                   "format": "decimal",
                   "nullable": true
                  },
                  "is_untaxed": {
                   "type": "boolean",
                   "description": "Whether the item is excluded from tax."
                  },
                  "unit": {
                   "description": "Unit of measurement.",
                   "type": "string",
                   "x-enumNames": [
                    "Ea",
                    "Ft",
                    "SqFt",
                    "CuFt",
                    "Gal",
                    "Lb",
                    "Yd",
                    "SqYd",
                    "CuYd",
                    "Square",
                    "None",
                    "Minutes",
                    "Hours",
                    "Days",
                    "Ton",
                    "Weeks",
                    "Months",
                    "LumpSum"
                   ],
                   "enum": [
                    "EA",
                    "FT",
                    "SQ_FT",
                    "CU_FT",
                    "GAL",
                    "LB",
                    "YD",
                    "SQ_YD",
                    "CU_YD",
                    "SQUARE",
                    "NONE",
                    "MINUTES",
                    "HOURS",
                    "DAYS",
                    "TON",
                    "WEEKS",
                    "MONTHS",
                    "LUMP_SUM"
                   ]
                  },
                  "notes": {
                   "type": "string",
                   "description": "Notes.",
                   "nullable": true
                  },
                  "multiplier": {
                   "type": "number",
                   "description": "Quantity multiplier for this sub-item.",
                   "format": "decimal"
                  },
                  "multiplier_string": {
                   "type": "string",
                   "description": "Formula string for dynamic multiplier.",
                   "nullable": true
                  },
                  "dynamic_type": {
                   "type": "string",
                   "description": "Dynamic type for formula-based multipliers.",
                   "nullable": true
                  }
                 }
                }
               }
              }
             },
             "labor_factor": {
              "type": "number",
              "description": "Labor difficulty factor applied to the cost item.",
              "format": "decimal",
              "nullable": true
             },
             "quantity": {
              "type": "number",
              "description": "Quantity from the estimating table (manual entry). Updated when using estimating or takeoff tab.",
              "format": "decimal"
             },
             "tag": {
              "type": "string",
              "description": "Optional tag for filtering or grouping.",
              "nullable": true
             },
             "id": {
              "type": "string",
              "description": "Line item ID.",
              "nullable": true
             },
             "type": {
              "description": "How the line item quantity is measured (count, linear, area, etc.).",
              "example": "COUNT",
              "type": "string",
              "x-enumNames": [
               "Unknown",
               "Count",
               "Design",
               "Linear",
               "LinearWithDrop",
               "LinearAvgWithDrop",
               "LinearEach",
               "Area",
               "VerticalArea",
               "None"
              ],
              "enum": [
               "UNKNOWN",
               "COUNT",
               "DESIGN",
               "LINEAR",
               "LINEAR_WITH_DROP",
               "LINEAR_AVG_WITH_DROP",
               "LINEAR_EACH",
               "AREA",
               "VERTICAL_AREA",
               "NONE"
              ]
             },
             "takeoff_quantity": {
              "type": "number",
              "description": "Quantity measured in the takeoff tab (2D drawing and 3D model measurements combined). Read-only.",
              "format": "decimal"
             },
             "item_cost": {
              "type": "number",
              "description": "Calculated item cost.",
              "format": "decimal"
             },
             "item_sales": {
              "type": "number",
              "description": "Calculated item sales.",
              "format": "decimal"
             },
             "labor_cost": {
              "type": "number",
              "description": "Calculated labor cost.",
              "format": "decimal"
             },
             "labor_sales": {
              "type": "number",
              "description": "Calculated labor sales.",
              "format": "decimal"
             },
             "profit": {
              "type": "number",
              "description": "Calculated profit.",
              "format": "decimal"
             },
             "updated_at": {
              "type": "string",
              "description": "The date and time when the line item was last updated.",
              "format": "date-time",
              "nullable": true,
              "example": "2026-03-25T13:25:00Z"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to retrieve all line items of a proposal",
      "description": "This endpoint allows retrieving all line items of a proposal.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-20",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response",
      "description": "The response now includes new fields: item_cost, item_sales, labor_cost, labor_sales, profit and updated_at",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Removed based_on_item_id from line item cost item",
      "description": "The cost_item embedded in line item create, update, and get responses no longer exposes the based_on_item_id field. The field was undocumented for line items and is meaningful only for Cost Catalog endpoints.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-17",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Sub-items (parts) exposed on line item cost item",
      "description": "The cost_item embedded in line item create, update, and get responses now includes a parts array. On create, providing parts replaces the parts list copied from any referenced catalog item. On update, providing parts replaces the entire parts list (omit to leave unchanged).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-17",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Line item responses now include quantity and takeoff_quantity",
      "description": "Line item responses now expose quantity (renamed from count, representing manual quantity from estimating table) and takeoff_quantity (read-only quantity measured in the takeoff tab, combining 2D drawing and 3D model measurements).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-14",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "tags": [
     "Layer"
    ],
    "summary": "Create an estimate line item in the proposal",
    "description": "Provide either `type` (e.g. `LINEAR`, `AREA`) or `cost_item.unit` (e.g. `FT`, `SQ_FT`); the other is inferred from what you supply.\nIf both are provided, they must be compatible or the request is rejected with 400.\n            \nCompatibility:\n            \n| `cost_item.unit`                              | Compatible `type`                                        |\n|-----------------------------------------------|----------------------------------------------------------|\n| `EA`, `MINUTES`, `HOURS`, `DAYS`, `WEEKS`, `MONTHS` | `COUNT`, `LINEAR_EACH`, `DESIGN`, `NONE`           |\n| `LB`, `TON`, `GAL`                            | `COUNT`                                                  |\n| `FT`, `YD`                                    | `LINEAR`, `LINEAR_WITH_DROP`, `LINEAR_AVG_WITH_DROP`, `LINEAR_EACH` |\n| `SQ_FT`, `SQ_YD`, `SQUARE`, `CU_FT`, `CU_YD`  | `AREA`, `VERTICAL_AREA`                                  |\n| `LUMP_SUM`                                    | `NONE`, `COUNT`                                          |",
    "operationId": "Layer_CreateLayer",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     }
    ],
    "requestBody": {
     "x-name": "model",
     "description": "Line Item",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Line item create payload.",
        "additionalProperties": false,
        "properties": {
         "name": {
          "type": "string",
          "description": "Display name of the line item.",
          "nullable": true
         },
         "group_id": {
          "type": "string",
          "description": "Line item group ID. Omit or leave empty to use the default group.",
          "nullable": true
         },
         "cost_item": {
          "description": "Cost item associated with the line item. Provide custom pricing or omit to use a generic cost item based on type. When provided, the entire cost item is replaced (no partial updates). At least one of `cost_item.unit` or `type` must be provided so the line item's measurement basis is determined.",
          "nullable": true,
          "type": "object",
          "additionalProperties": false,
          "properties": {
           "type": {
            "description": "Cost item category.",
            "type": "string",
            "x-enumNames": [
             "Part",
             "Assembly",
             "Custom",
             "Equipment",
             "Subcontractor",
             "Travel",
             "Labor"
            ],
            "enum": [
             "PART",
             "ASSEMBLY",
             "CUSTOM",
             "EQUIPMENT",
             "SUBCONTRACTOR",
             "TRAVEL",
             "LABOR"
            ]
           },
           "name": {
            "type": "string",
            "description": "Display name of the cost item.",
            "nullable": true
           },
           "description": {
            "type": "string",
            "description": "Description of the cost item.",
            "nullable": true
           },
           "unit_cost": {
            "type": "number",
            "description": "Unit material cost.",
            "format": "decimal"
           },
           "unit_labor": {
            "type": "number",
            "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
            "format": "decimal"
           },
           "labor_time_unit": {
            "description": "Unit for labor time.",
            "type": "string",
            "x-enumNames": [
             "Minutes",
             "Hours",
             "Days",
             "Weeks",
             "Months"
            ],
            "enum": [
             "MINUTES",
             "HOURS",
             "DAYS",
             "WEEKS",
             "MONTHS"
            ]
           },
           "unit_labor_cost": {
            "type": "number",
            "description": "Unit labor cost.",
            "format": "decimal"
           },
           "manufacturer": {
            "type": "string",
            "description": "Manufacturer of the item.",
            "nullable": true
           },
           "catalog_number": {
            "type": "string",
            "description": "Catalog or product number.",
            "nullable": true
           },
           "url": {
            "type": "string",
            "description": "URL to product or specification.",
            "nullable": true
           },
           "supplier": {
            "type": "string",
            "description": "Supplier or vendor name.",
            "nullable": true
           },
           "waste": {
            "type": "number",
            "description": "Waste percentage.",
            "format": "decimal",
            "nullable": true
           },
           "material_waste": {
            "type": "number",
            "description": "Material waste percentage.",
            "format": "decimal",
            "nullable": true
           },
           "item_margin": {
            "type": "number",
            "description": "Item margin percentage.",
            "format": "decimal",
            "nullable": true
           },
           "labor_margin": {
            "type": "number",
            "description": "Labor margin percentage.",
            "format": "decimal",
            "nullable": true
           },
           "unit_labor_rate": {
            "type": "number",
            "description": "Labor rate per unit.",
            "format": "decimal",
            "nullable": true
           },
           "is_untaxed": {
            "type": "boolean",
            "description": "Whether the item is excluded from tax."
           },
           "unit": {
            "description": "Unit of measurement.",
            "type": "string",
            "x-enumNames": [
             "Ea",
             "Ft",
             "SqFt",
             "CuFt",
             "Gal",
             "Lb",
             "Yd",
             "SqYd",
             "CuYd",
             "Square",
             "None",
             "Minutes",
             "Hours",
             "Days",
             "Ton",
             "Weeks",
             "Months",
             "LumpSum"
            ],
            "enum": [
             "EA",
             "FT",
             "SQ_FT",
             "CU_FT",
             "GAL",
             "LB",
             "YD",
             "SQ_YD",
             "CU_YD",
             "SQUARE",
             "NONE",
             "MINUTES",
             "HOURS",
             "DAYS",
             "TON",
             "WEEKS",
             "MONTHS",
             "LUMP_SUM"
            ]
           },
           "notes": {
            "type": "string",
            "description": "Notes.",
            "nullable": true
           },
           "id": {
            "type": "string",
            "description": "Catalog item ID to link to an existing cost item. Omit or leave empty to create a new custom cost item from the provided fields.",
            "nullable": true
           },
           "color": {
            "type": "string",
            "description": "Display color. Example: \"#00ecff\".",
            "nullable": true
           },
           "symbol_id": {
            "type": "string",
            "description": "Symbol ID for takeoff. Built-in: circle, square, empty. Custom: numeric document ID string.",
            "nullable": true
           },
           "delivery_unit": {
            "type": "integer",
            "description": "Delivery unit quantity.",
            "format": "int32",
            "nullable": true
           },
           "catalog_id": {
            "type": "string",
            "description": "Catalog folder ID.",
            "nullable": true
           },
           "parts": {
            "type": "array",
            "description": "Sub-items (parts) of an assembly cost item. Empty for non-assembly cost items. On create, replaces the parts list copied from any referenced catalog item. Only valid when `type` is `Assembly` \u2014 providing parts with any other type is rejected with 400.",
            "nullable": true,
            "items": {
             "type": "object",
             "description": "Cost item sub-item (part of an assembly).",
             "additionalProperties": false,
             "properties": {
              "type": {
               "description": "Cost item category.",
               "type": "string",
               "x-enumNames": [
                "Part",
                "Assembly",
                "Custom",
                "Equipment",
                "Subcontractor",
                "Travel",
                "Labor"
               ],
               "enum": [
                "PART",
                "ASSEMBLY",
                "CUSTOM",
                "EQUIPMENT",
                "SUBCONTRACTOR",
                "TRAVEL",
                "LABOR"
               ]
              },
              "name": {
               "type": "string",
               "description": "Display name of the cost item.",
               "nullable": true
              },
              "description": {
               "type": "string",
               "description": "Description of the cost item.",
               "nullable": true
              },
              "unit_cost": {
               "type": "number",
               "description": "Unit material cost.",
               "format": "decimal"
              },
              "unit_labor": {
               "type": "number",
               "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
               "format": "decimal"
              },
              "labor_time_unit": {
               "description": "Unit for labor time.",
               "type": "string",
               "x-enumNames": [
                "Minutes",
                "Hours",
                "Days",
                "Weeks",
                "Months"
               ],
               "enum": [
                "MINUTES",
                "HOURS",
                "DAYS",
                "WEEKS",
                "MONTHS"
               ]
              },
              "unit_labor_cost": {
               "type": "number",
               "description": "Unit labor cost.",
               "format": "decimal"
              },
              "manufacturer": {
               "type": "string",
               "description": "Manufacturer of the item.",
               "nullable": true
              },
              "catalog_number": {
               "type": "string",
               "description": "Catalog or product number.",
               "nullable": true
              },
              "url": {
               "type": "string",
               "description": "URL to product or specification.",
               "nullable": true
              },
              "supplier": {
               "type": "string",
               "description": "Supplier or vendor name.",
               "nullable": true
              },
              "waste": {
               "type": "number",
               "description": "Waste percentage.",
               "format": "decimal",
               "nullable": true
              },
              "material_waste": {
               "type": "number",
               "description": "Material waste percentage.",
               "format": "decimal",
               "nullable": true
              },
              "item_margin": {
               "type": "number",
               "description": "Item margin percentage.",
               "format": "decimal",
               "nullable": true
              },
              "labor_margin": {
               "type": "number",
               "description": "Labor margin percentage.",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_rate": {
               "type": "number",
               "description": "Labor rate per unit.",
               "format": "decimal",
               "nullable": true
              },
              "is_untaxed": {
               "type": "boolean",
               "description": "Whether the item is excluded from tax."
              },
              "unit": {
               "description": "Unit of measurement.",
               "type": "string",
               "x-enumNames": [
                "Ea",
                "Ft",
                "SqFt",
                "CuFt",
                "Gal",
                "Lb",
                "Yd",
                "SqYd",
                "CuYd",
                "Square",
                "None",
                "Minutes",
                "Hours",
                "Days",
                "Ton",
                "Weeks",
                "Months",
                "LumpSum"
               ],
               "enum": [
                "EA",
                "FT",
                "SQ_FT",
                "CU_FT",
                "GAL",
                "LB",
                "YD",
                "SQ_YD",
                "CU_YD",
                "SQUARE",
                "NONE",
                "MINUTES",
                "HOURS",
                "DAYS",
                "TON",
                "WEEKS",
                "MONTHS",
                "LUMP_SUM"
               ]
              },
              "notes": {
               "type": "string",
               "description": "Notes.",
               "nullable": true
              },
              "multiplier": {
               "type": "number",
               "description": "Quantity multiplier for this sub-item.",
               "format": "decimal"
              },
              "multiplier_string": {
               "type": "string",
               "description": "Formula string for dynamic multiplier.",
               "nullable": true
              },
              "dynamic_type": {
               "type": "string",
               "description": "Dynamic type for formula-based multipliers.",
               "nullable": true
              }
             }
            }
           }
          }
         },
         "labor_factor": {
          "type": "number",
          "description": "Labor difficulty factor applied to the cost item.",
          "format": "decimal",
          "nullable": true
         },
         "quantity": {
          "type": "number",
          "description": "Quantity from the estimating table (manual entry). Updated when using estimating or takeoff tab.",
          "format": "decimal"
         },
         "tag": {
          "type": "string",
          "description": "Optional tag for filtering or grouping.",
          "nullable": true
         },
         "type": {
          "description": "How the line item quantity is measured (count, linear, area, etc.). At least one of `type` or `cost_item.unit` must be provided; the other is inferred when omitted. If both are provided, they must be compatible (see endpoint description).",
          "nullable": true,
          "example": "COUNT",
          "type": "string",
          "x-enumNames": [
           "Unknown",
           "Count",
           "Design",
           "Linear",
           "LinearWithDrop",
           "LinearAvgWithDrop",
           "LinearEach",
           "Area",
           "VerticalArea",
           "None"
          ],
          "enum": [
           "UNKNOWN",
           "COUNT",
           "DESIGN",
           "LINEAR",
           "LINEAR_WITH_DROP",
           "LINEAR_AVG_WITH_DROP",
           "LINEAR_EACH",
           "AREA",
           "VERTICAL_AREA",
           "NONE"
          ]
         }
        }
       }
      }
     },
     "required": true,
     "x-position": 2
    },
    "responses": {
     "200": {
      "description": "",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "type": "object",
           "description": "Line item response model.",
           "additionalProperties": false,
           "properties": {
            "name": {
             "type": "string",
             "description": "Display name of the line item.",
             "nullable": true
            },
            "group_id": {
             "type": "string",
             "description": "Line item group ID. Omit or leave empty to use the default group.",
             "nullable": true
            },
            "cost_item": {
             "description": "Cost item associated with the line item. Provide custom pricing or omit to use a generic cost item based on type. When provided, the entire cost item is replaced (no partial updates). At least one of `cost_item.unit` or `type` must be provided so the line item's measurement basis is determined.",
             "nullable": true,
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "type": {
               "description": "Cost item category.",
               "type": "string",
               "x-enumNames": [
                "Part",
                "Assembly",
                "Custom",
                "Equipment",
                "Subcontractor",
                "Travel",
                "Labor"
               ],
               "enum": [
                "PART",
                "ASSEMBLY",
                "CUSTOM",
                "EQUIPMENT",
                "SUBCONTRACTOR",
                "TRAVEL",
                "LABOR"
               ]
              },
              "name": {
               "type": "string",
               "description": "Display name of the cost item.",
               "nullable": true
              },
              "description": {
               "type": "string",
               "description": "Description of the cost item.",
               "nullable": true
              },
              "unit_cost": {
               "type": "number",
               "description": "Unit material cost.",
               "format": "decimal"
              },
              "unit_labor": {
               "type": "number",
               "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
               "format": "decimal"
              },
              "labor_time_unit": {
               "description": "Unit for labor time.",
               "type": "string",
               "x-enumNames": [
                "Minutes",
                "Hours",
                "Days",
                "Weeks",
                "Months"
               ],
               "enum": [
                "MINUTES",
                "HOURS",
                "DAYS",
                "WEEKS",
                "MONTHS"
               ]
              },
              "unit_labor_cost": {
               "type": "number",
               "description": "Unit labor cost.",
               "format": "decimal"
              },
              "manufacturer": {
               "type": "string",
               "description": "Manufacturer of the item.",
               "nullable": true
              },
              "catalog_number": {
               "type": "string",
               "description": "Catalog or product number.",
               "nullable": true
              },
              "url": {
               "type": "string",
               "description": "URL to product or specification.",
               "nullable": true
              },
              "supplier": {
               "type": "string",
               "description": "Supplier or vendor name.",
               "nullable": true
              },
              "waste": {
               "type": "number",
               "description": "Waste percentage.",
               "format": "decimal",
               "nullable": true
              },
              "material_waste": {
               "type": "number",
               "description": "Material waste percentage.",
               "format": "decimal",
               "nullable": true
              },
              "item_margin": {
               "type": "number",
               "description": "Item margin percentage.",
               "format": "decimal",
               "nullable": true
              },
              "labor_margin": {
               "type": "number",
               "description": "Labor margin percentage.",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_rate": {
               "type": "number",
               "description": "Labor rate per unit.",
               "format": "decimal",
               "nullable": true
              },
              "is_untaxed": {
               "type": "boolean",
               "description": "Whether the item is excluded from tax."
              },
              "unit": {
               "description": "Unit of measurement.",
               "type": "string",
               "x-enumNames": [
                "Ea",
                "Ft",
                "SqFt",
                "CuFt",
                "Gal",
                "Lb",
                "Yd",
                "SqYd",
                "CuYd",
                "Square",
                "None",
                "Minutes",
                "Hours",
                "Days",
                "Ton",
                "Weeks",
                "Months",
                "LumpSum"
               ],
               "enum": [
                "EA",
                "FT",
                "SQ_FT",
                "CU_FT",
                "GAL",
                "LB",
                "YD",
                "SQ_YD",
                "CU_YD",
                "SQUARE",
                "NONE",
                "MINUTES",
                "HOURS",
                "DAYS",
                "TON",
                "WEEKS",
                "MONTHS",
                "LUMP_SUM"
               ]
              },
              "notes": {
               "type": "string",
               "description": "Notes.",
               "nullable": true
              },
              "id": {
               "type": "string",
               "description": "Catalog item ID to link to an existing cost item. Omit or leave empty to create a new custom cost item from the provided fields.",
               "nullable": true
              },
              "color": {
               "type": "string",
               "description": "Display color. Example: \"#00ecff\".",
               "nullable": true
              },
              "symbol_id": {
               "type": "string",
               "description": "Symbol ID for takeoff. Built-in: circle, square, empty. Custom: numeric document ID string.",
               "nullable": true
              },
              "delivery_unit": {
               "type": "integer",
               "description": "Delivery unit quantity.",
               "format": "int32",
               "nullable": true
              },
              "catalog_id": {
               "type": "string",
               "description": "Catalog folder ID.",
               "nullable": true
              },
              "parts": {
               "type": "array",
               "description": "Sub-items (parts) of an assembly cost item. Empty for non-assembly cost items. On create, replaces the parts list copied from any referenced catalog item. Only valid when `type` is `Assembly` \u2014 providing parts with any other type is rejected with 400.",
               "nullable": true,
               "items": {
                "type": "object",
                "description": "Cost item sub-item (part of an assembly).",
                "additionalProperties": false,
                "properties": {
                 "type": {
                  "description": "Cost item category.",
                  "type": "string",
                  "x-enumNames": [
                   "Part",
                   "Assembly",
                   "Custom",
                   "Equipment",
                   "Subcontractor",
                   "Travel",
                   "Labor"
                  ],
                  "enum": [
                   "PART",
                   "ASSEMBLY",
                   "CUSTOM",
                   "EQUIPMENT",
                   "SUBCONTRACTOR",
                   "TRAVEL",
                   "LABOR"
                  ]
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the cost item.",
                  "nullable": true
                 },
                 "description": {
                  "type": "string",
                  "description": "Description of the cost item.",
                  "nullable": true
                 },
                 "unit_cost": {
                  "type": "number",
                  "description": "Unit material cost.",
                  "format": "decimal"
                 },
                 "unit_labor": {
                  "type": "number",
                  "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
                  "format": "decimal"
                 },
                 "labor_time_unit": {
                  "description": "Unit for labor time.",
                  "type": "string",
                  "x-enumNames": [
                   "Minutes",
                   "Hours",
                   "Days",
                   "Weeks",
                   "Months"
                  ],
                  "enum": [
                   "MINUTES",
                   "HOURS",
                   "DAYS",
                   "WEEKS",
                   "MONTHS"
                  ]
                 },
                 "unit_labor_cost": {
                  "type": "number",
                  "description": "Unit labor cost.",
                  "format": "decimal"
                 },
                 "manufacturer": {
                  "type": "string",
                  "description": "Manufacturer of the item.",
                  "nullable": true
                 },
                 "catalog_number": {
                  "type": "string",
                  "description": "Catalog or product number.",
                  "nullable": true
                 },
                 "url": {
                  "type": "string",
                  "description": "URL to product or specification.",
                  "nullable": true
                 },
                 "supplier": {
                  "type": "string",
                  "description": "Supplier or vendor name.",
                  "nullable": true
                 },
                 "waste": {
                  "type": "number",
                  "description": "Waste percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "material_waste": {
                  "type": "number",
                  "description": "Material waste percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "item_margin": {
                  "type": "number",
                  "description": "Item margin percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "labor_margin": {
                  "type": "number",
                  "description": "Labor margin percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "unit_labor_rate": {
                  "type": "number",
                  "description": "Labor rate per unit.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "is_untaxed": {
                  "type": "boolean",
                  "description": "Whether the item is excluded from tax."
                 },
                 "unit": {
                  "description": "Unit of measurement.",
                  "type": "string",
                  "x-enumNames": [
                   "Ea",
                   "Ft",
                   "SqFt",
                   "CuFt",
                   "Gal",
                   "Lb",
                   "Yd",
                   "SqYd",
                   "CuYd",
                   "Square",
                   "None",
                   "Minutes",
                   "Hours",
                   "Days",
                   "Ton",
                   "Weeks",
                   "Months",
                   "LumpSum"
                  ],
                  "enum": [
                   "EA",
                   "FT",
                   "SQ_FT",
                   "CU_FT",
                   "GAL",
                   "LB",
                   "YD",
                   "SQ_YD",
                   "CU_YD",
                   "SQUARE",
                   "NONE",
                   "MINUTES",
                   "HOURS",
                   "DAYS",
                   "TON",
                   "WEEKS",
                   "MONTHS",
                   "LUMP_SUM"
                  ]
                 },
                 "notes": {
                  "type": "string",
                  "description": "Notes.",
                  "nullable": true
                 },
                 "multiplier": {
                  "type": "number",
                  "description": "Quantity multiplier for this sub-item.",
                  "format": "decimal"
                 },
                 "multiplier_string": {
                  "type": "string",
                  "description": "Formula string for dynamic multiplier.",
                  "nullable": true
                 },
                 "dynamic_type": {
                  "type": "string",
                  "description": "Dynamic type for formula-based multipliers.",
                  "nullable": true
                 }
                }
               }
              }
             }
            },
            "labor_factor": {
             "type": "number",
             "description": "Labor difficulty factor applied to the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "quantity": {
             "type": "number",
             "description": "Quantity from the estimating table (manual entry). Updated when using estimating or takeoff tab.",
             "format": "decimal"
            },
            "tag": {
             "type": "string",
             "description": "Optional tag for filtering or grouping.",
             "nullable": true
            },
            "id": {
             "type": "string",
             "description": "Line item ID.",
             "nullable": true
            },
            "type": {
             "description": "How the line item quantity is measured (count, linear, area, etc.).",
             "example": "COUNT",
             "type": "string",
             "x-enumNames": [
              "Unknown",
              "Count",
              "Design",
              "Linear",
              "LinearWithDrop",
              "LinearAvgWithDrop",
              "LinearEach",
              "Area",
              "VerticalArea",
              "None"
             ],
             "enum": [
              "UNKNOWN",
              "COUNT",
              "DESIGN",
              "LINEAR",
              "LINEAR_WITH_DROP",
              "LINEAR_AVG_WITH_DROP",
              "LINEAR_EACH",
              "AREA",
              "VERTICAL_AREA",
              "NONE"
             ]
            },
            "takeoff_quantity": {
             "type": "number",
             "description": "Quantity measured in the takeoff tab (2D drawing and 3D model measurements combined). Read-only.",
             "format": "decimal"
            },
            "item_cost": {
             "type": "number",
             "description": "Calculated item cost.",
             "format": "decimal"
            },
            "item_sales": {
             "type": "number",
             "description": "Calculated item sales.",
             "format": "decimal"
            },
            "labor_cost": {
             "type": "number",
             "description": "Calculated labor cost.",
             "format": "decimal"
            },
            "labor_sales": {
             "type": "number",
             "description": "Calculated labor sales.",
             "format": "decimal"
            },
            "profit": {
             "type": "number",
             "description": "Calculated profit.",
             "format": "decimal"
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the line item was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            }
           },
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to create a line item",
      "description": "This endpoint allows creating a line item for a proposal.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-02-09",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response",
      "description": "The response now includes new fields: item_cost, item_sales, labor_cost, labor_sales, profit and updated_at",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Quantity is supported in line item create/update payloads",
      "description": "The request body for line item POST and PATCH endpoints accepts quantity, representing manual quantity from the estimating table.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-04",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Removed based_on_item_id from line item cost item",
      "description": "The cost_item embedded in line item create, update, and get responses no longer exposes the based_on_item_id field. The field was undocumented for line items and is meaningful only for Cost Catalog endpoints.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-17",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Sub-items (parts) exposed on line item cost item",
      "description": "The cost_item embedded in line item create, update, and get responses now includes a parts array. On create, providing parts replaces the parts list copied from any referenced catalog item. On update, providing parts replaces the entire parts list (omit to leave unchanged).",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-17",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Type is now supported when creating a line item",
      "description": "The line item POST endpoint now accepts an optional type field (e.g. Linear, Area). At least one of type or cost_item.unit must be provided; the other is inferred. If both are provided, they must be compatible.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-16",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Line item responses now include quantity and takeoff_quantity",
      "description": "Line item responses now expose quantity (renamed from count, representing manual quantity from estimating table) and takeoff_quantity (read-only quantity measured in the takeoff tab, combining 2D drawing and 3D model measurements).",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-14",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    group_id: 'string',\n    cost_item: {\n      type: 'PART',\n      name: 'string',\n      description: 'string',\n      unit_cost: 0,\n      unit_labor: 0,\n      labor_time_unit: 'MINUTES',\n      unit_labor_cost: 0,\n      manufacturer: 'string',\n      catalog_number: 'string',\n      url: 'string',\n      supplier: 'string',\n      waste: 0,\n      material_waste: 0,\n      item_margin: 0,\n      labor_margin: 0,\n      unit_labor_rate: 0,\n      is_untaxed: true,\n      unit: 'EA',\n      notes: 'string',\n      id: 'string',\n      color: 'string',\n      symbol_id: 'string',\n      delivery_unit: 0,\n      catalog_id: 'string',\n      parts: [\n        {\n          type: 'PART',\n          name: 'string',\n          description: 'string',\n          unit_cost: 0,\n          unit_labor: 0,\n          labor_time_unit: 'MINUTES',\n          unit_labor_cost: 0,\n          manufacturer: 'string',\n          catalog_number: 'string',\n          url: 'string',\n          supplier: 'string',\n          waste: 0,\n          material_waste: 0,\n          item_margin: 0,\n          labor_margin: 0,\n          unit_labor_rate: 0,\n          is_untaxed: true,\n          unit: 'EA',\n          notes: 'string',\n          multiplier: 0,\n          multiplier_string: 'string',\n          dynamic_type: 'string'\n        }\n      ]\n    },\n    labor_factor: 0,\n    quantity: 0,\n    tag: 'string',\n    type: 'COUNT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"group_id\\\":\\\"string\\\",\\\"cost_item\\\":{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"labor_time_unit\\\":\\\"MINUTES\\\",\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"color\\\":\\\"string\\\",\\\"symbol_id\\\":\\\"string\\\",\\\"delivery_unit\\\":0,\\\"catalog_id\\\":\\\"string\\\",\\\"parts\\\":[{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"labor_time_unit\\\":\\\"MINUTES\\\",\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"multiplier\\\":0,\\\"multiplier_string\\\":\\\"string\\\",\\\"dynamic_type\\\":\\\"string\\\"}]},\\\"labor_factor\\\":0,\\\"quantity\\\":0,\\\"tag\\\":\\\"string\\\",\\\"type\\\":\\\"COUNT\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"group_id\":\"string\",\"cost_item\":{\"type\":\"PART\",\"name\":\"string\",\"description\":\"string\",\"unit_cost\":0,\"unit_labor\":0,\"labor_time_unit\":\"MINUTES\",\"unit_labor_cost\":0,\"manufacturer\":\"string\",\"catalog_number\":\"string\",\"url\":\"string\",\"supplier\":\"string\",\"waste\":0,\"material_waste\":0,\"item_margin\":0,\"labor_margin\":0,\"unit_labor_rate\":0,\"is_untaxed\":true,\"unit\":\"EA\",\"notes\":\"string\",\"id\":\"string\",\"color\":\"string\",\"symbol_id\":\"string\",\"delivery_unit\":0,\"catalog_id\":\"string\",\"parts\":[{\"type\":\"PART\",\"name\":\"string\",\"description\":\"string\",\"unit_cost\":0,\"unit_labor\":0,\"labor_time_unit\":\"MINUTES\",\"unit_labor_cost\":0,\"manufacturer\":\"string\",\"catalog_number\":\"string\",\"url\":\"string\",\"supplier\":\"string\",\"waste\":0,\"material_waste\":0,\"item_margin\":0,\"labor_margin\":0,\"unit_labor_rate\":0,\"is_untaxed\":true,\"unit\":\"EA\",\"notes\":\"string\",\"multiplier\":0,\"multiplier_string\":\"string\",\"dynamic_type\":\"string\"}]},\"labor_factor\":0,\"quantity\":0,\"tag\":\"string\",\"type\":\"COUNT\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"group_id\\\":\\\"string\\\",\\\"cost_item\\\":{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"labor_time_unit\\\":\\\"MINUTES\\\",\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"color\\\":\\\"string\\\",\\\"symbol_id\\\":\\\"string\\\",\\\"delivery_unit\\\":0,\\\"catalog_id\\\":\\\"string\\\",\\\"parts\\\":[{\\\"type\\\":\\\"PART\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"unit_cost\\\":0,\\\"unit_labor\\\":0,\\\"labor_time_unit\\\":\\\"MINUTES\\\",\\\"unit_labor_cost\\\":0,\\\"manufacturer\\\":\\\"string\\\",\\\"catalog_number\\\":\\\"string\\\",\\\"url\\\":\\\"string\\\",\\\"supplier\\\":\\\"string\\\",\\\"waste\\\":0,\\\"material_waste\\\":0,\\\"item_margin\\\":0,\\\"labor_margin\\\":0,\\\"unit_labor_rate\\\":0,\\\"is_untaxed\\\":true,\\\"unit\\\":\\\"EA\\\",\\\"notes\\\":\\\"string\\\",\\\"multiplier\\\":0,\\\"multiplier_string\\\":\\\"string\\\",\\\"dynamic_type\\\":\\\"string\\\"}]},\\\"labor_factor\\\":0,\\\"quantity\\\":0,\\\"tag\\\":\\\"string\\\",\\\"type\\\":\\\"COUNT\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items/{line_item_id}": {
   "get": {
    "tags": [
     "Layer"
    ],
    "summary": "Retrieve a line item by Id",
    "operationId": "Layer_GetLayer",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "line_item_id",
      "in": "path",
      "required": true,
      "description": "Line Item Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 2
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 3
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     }
    ],
    "responses": {
     "200": {
      "description": "Line item by Id",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "properties": {
          "data": {
           "type": "object",
           "description": "Line item response model.",
           "additionalProperties": false,
           "properties": {
            "name": {
             "type": "string",
             "description": "Display name of the line item.",
             "nullable": true
            },
            "group_id": {
             "type": "string",
             "description": "Line item group ID. Omit or leave empty to use the default group.",
             "nullable": true
            },
            "cost_item": {
             "description": "Cost item associated with the line item. Provide custom pricing or omit to use a generic cost item based on type. When provided, the entire cost item is replaced (no partial updates). At least one of `cost_item.unit` or `type` must be provided so the line item's measurement basis is determined.",
             "nullable": true,
             "type": "object",
             "additionalProperties": false,
             "properties": {
              "type": {
               "description": "Cost item category.",
               "type": "string",
               "x-enumNames": [
                "Part",
                "Assembly",
                "Custom",
                "Equipment",
                "Subcontractor",
                "Travel",
                "Labor"
               ],
               "enum": [
                "PART",
                "ASSEMBLY",
                "CUSTOM",
                "EQUIPMENT",
                "SUBCONTRACTOR",
                "TRAVEL",
                "LABOR"
               ]
              },
              "name": {
               "type": "string",
               "description": "Display name of the cost item.",
               "nullable": true
              },
              "description": {
               "type": "string",
               "description": "Description of the cost item.",
               "nullable": true
              },
              "unit_cost": {
               "type": "number",
               "description": "Unit material cost.",
               "format": "decimal"
              },
              "unit_labor": {
               "type": "number",
               "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
               "format": "decimal"
              },
              "labor_time_unit": {
               "description": "Unit for labor time.",
               "type": "string",
               "x-enumNames": [
                "Minutes",
                "Hours",
                "Days",
                "Weeks",
                "Months"
               ],
               "enum": [
                "MINUTES",
                "HOURS",
                "DAYS",
                "WEEKS",
                "MONTHS"
               ]
              },
              "unit_labor_cost": {
               "type": "number",
               "description": "Unit labor cost.",
               "format": "decimal"
              },
              "manufacturer": {
               "type": "string",
               "description": "Manufacturer of the item.",
               "nullable": true
              },
              "catalog_number": {
               "type": "string",
               "description": "Catalog or product number.",
               "nullable": true
              },
              "url": {
               "type": "string",
               "description": "URL to product or specification.",
               "nullable": true
              },
              "supplier": {
               "type": "string",
               "description": "Supplier or vendor name.",
               "nullable": true
              },
              "waste": {
               "type": "number",
               "description": "Waste percentage.",
               "format": "decimal",
               "nullable": true
              },
              "material_waste": {
               "type": "number",
               "description": "Material waste percentage.",
               "format": "decimal",
               "nullable": true
              },
              "item_margin": {
               "type": "number",
               "description": "Item margin percentage.",
               "format": "decimal",
               "nullable": true
              },
              "labor_margin": {
               "type": "number",
               "description": "Labor margin percentage.",
               "format": "decimal",
               "nullable": true
              },
              "unit_labor_rate": {
               "type": "number",
               "description": "Labor rate per unit.",
               "format": "decimal",
               "nullable": true
              },
              "is_untaxed": {
               "type": "boolean",
               "description": "Whether the item is excluded from tax."
              },
              "unit": {
               "description": "Unit of measurement.",
               "type": "string",
               "x-enumNames": [
                "Ea",
                "Ft",
                "SqFt",
                "CuFt",
                "Gal",
                "Lb",
                "Yd",
                "SqYd",
                "CuYd",
                "Square",
                "None",
                "Minutes",
                "Hours",
                "Days",
                "Ton",
                "Weeks",
                "Months",
                "LumpSum"
               ],
               "enum": [
                "EA",
                "FT",
                "SQ_FT",
                "CU_FT",
                "GAL",
                "LB",
                "YD",
                "SQ_YD",
                "CU_YD",
                "SQUARE",
                "NONE",
                "MINUTES",
                "HOURS",
                "DAYS",
                "TON",
                "WEEKS",
                "MONTHS",
                "LUMP_SUM"
               ]
              },
              "notes": {
               "type": "string",
               "description": "Notes.",
               "nullable": true
              },
              "id": {
               "type": "string",
               "description": "Catalog item ID to link to an existing cost item. Omit or leave empty to create a new custom cost item from the provided fields.",
               "nullable": true
              },
              "color": {
               "type": "string",
               "description": "Display color. Example: \"#00ecff\".",
               "nullable": true
              },
              "symbol_id": {
               "type": "string",
               "description": "Symbol ID for takeoff. Built-in: circle, square, empty. Custom: numeric document ID string.",
               "nullable": true
              },
              "delivery_unit": {
               "type": "integer",
               "description": "Delivery unit quantity.",
               "format": "int32",
               "nullable": true
              },
              "catalog_id": {
               "type": "string",
               "description": "Catalog folder ID.",
               "nullable": true
              },
              "parts": {
               "type": "array",
               "description": "Sub-items (parts) of an assembly cost item. Empty for non-assembly cost items. On create, replaces the parts list copied from any referenced catalog item. Only valid when `type` is `Assembly` \u2014 providing parts with any other type is rejected with 400.",
               "nullable": true,
               "items": {
                "type": "object",
                "description": "Cost item sub-item (part of an assembly).",
                "additionalProperties": false,
                "properties": {
                 "type": {
                  "description": "Cost item category.",
                  "type": "string",
                  "x-enumNames": [
                   "Part",
                   "Assembly",
                   "Custom",
                   "Equipment",
                   "Subcontractor",
                   "Travel",
                   "Labor"
                  ],
                  "enum": [
                   "PART",
                   "ASSEMBLY",
                   "CUSTOM",
                   "EQUIPMENT",
                   "SUBCONTRACTOR",
                   "TRAVEL",
                   "LABOR"
                  ]
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the cost item.",
                  "nullable": true
                 },
                 "description": {
                  "type": "string",
                  "description": "Description of the cost item.",
                  "nullable": true
                 },
                 "unit_cost": {
                  "type": "number",
                  "description": "Unit material cost.",
                  "format": "decimal"
                 },
                 "unit_labor": {
                  "type": "number",
                  "description": "Labor time per unit, in the unit specified by labor_time_unit (e.g. minutes when labor_time_unit is MINUTES).",
                  "format": "decimal"
                 },
                 "labor_time_unit": {
                  "description": "Unit for labor time.",
                  "type": "string",
                  "x-enumNames": [
                   "Minutes",
                   "Hours",
                   "Days",
                   "Weeks",
                   "Months"
                  ],
                  "enum": [
                   "MINUTES",
                   "HOURS",
                   "DAYS",
                   "WEEKS",
                   "MONTHS"
                  ]
                 },
                 "unit_labor_cost": {
                  "type": "number",
                  "description": "Unit labor cost.",
                  "format": "decimal"
                 },
                 "manufacturer": {
                  "type": "string",
                  "description": "Manufacturer of the item.",
                  "nullable": true
                 },
                 "catalog_number": {
                  "type": "string",
                  "description": "Catalog or product number.",
                  "nullable": true
                 },
                 "url": {
                  "type": "string",
                  "description": "URL to product or specification.",
                  "nullable": true
                 },
                 "supplier": {
                  "type": "string",
                  "description": "Supplier or vendor name.",
                  "nullable": true
                 },
                 "waste": {
                  "type": "number",
                  "description": "Waste percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "material_waste": {
                  "type": "number",
                  "description": "Material waste percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "item_margin": {
                  "type": "number",
                  "description": "Item margin percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "labor_margin": {
                  "type": "number",
                  "description": "Labor margin percentage.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "unit_labor_rate": {
                  "type": "number",
                  "description": "Labor rate per unit.",
                  "format": "decimal",
                  "nullable": true
                 },
                 "is_untaxed": {
                  "type": "boolean",
                  "description": "Whether the item is excluded from tax."
                 },
                 "unit": {
                  "description": "Unit of measurement.",
                  "type": "string",
                  "x-enumNames": [
                   "Ea",
                   "Ft",
                   "SqFt",
                   "CuFt",
                   "Gal",
                   "Lb",
                   "Yd",
                   "SqYd",
                   "CuYd",
                   "Square",
                   "None",
                   "Minutes",
                   "Hours",
                   "Days",
                   "Ton",
                   "Weeks",
                   "Months",
                   "LumpSum"
                  ],
                  "enum": [
                   "EA",
                   "FT",
                   "SQ_FT",
                   "CU_FT",
                   "GAL",
                   "LB",
                   "YD",
                   "SQ_YD",
                   "CU_YD",
                   "SQUARE",
                   "NONE",
                   "MINUTES",
                   "HOURS",
                   "DAYS",
                   "TON",
                   "WEEKS",
                   "MONTHS",
                   "LUMP_SUM"
                  ]
                 },
                 "notes": {
                  "type": "string",
                  "description": "Notes.",
                  "nullable": true
                 },
                 "multiplier": {
                  "type": "number",
                  "description": "Quantity multiplier for this sub-item.",
                  "format": "decimal"
                 },
                 "multiplier_string": {
                  "type": "string",
                  "description": "Formula string for dynamic multiplier.",
                  "nullable": true
                 },
                 "dynamic_type": {
                  "type": "string",
                  "description": "Dynamic type for formula-based multipliers.",
                  "nullable": true
                 }
                }
               }
              }
             }
            },
            "labor_factor": {
             "type": "number",
             "description": "Labor difficulty factor applied to the cost item.",
             "format": "decimal",
             "nullable": true
            },
            "quantity": {
             "type": "number",
             "description": "Quantity from the estimating table (manual entry). Updated when using estimating or takeoff tab.",
             "format": "decimal"
            },
            "tag": {
             "type": "string",
             "description": "Optional tag for filtering or grouping.",
             "nullable": true
            },
            "id": {
             "type": "string",
             "description": "Line item ID.",
             "nullable": true
            },
            "type": {
             "description": "How the line item quantity is measured (count, linear, area, etc.).",
             "example": "COUNT",
             "type": "string",
             "x-enumNames": [
              "Unknown",
              "Count",
              "Design",
              "Linear",
              "LinearWithDrop",
              "LinearAvgWithDrop",
              "LinearEach",
              "Area",
              "VerticalArea",
              "None"
             ],
             "enum": [
              "UNKNOWN",
              "COUNT",
              "DESIGN",
              "LINEAR",
              "LINEAR_WITH_DROP",
              "LINEAR_AVG_WITH_DROP",
              "LINEAR_EACH",
              "AREA",
              "VERTICAL_AREA",
              "NONE"
             ]
            },
            "takeoff_quantity": {
             "type": "number",
             "description": "Quantity measured in the takeoff tab (2D drawing and 3D model measurements combined). Read-only.",
             "format": "decimal"
            },
            "item_cost": {
             "type": "number",
             "description": "Calculated item cost.",
             "format": "decimal"
            },
            "item_sales": {
             "type": "number",
             "description": "Calculated item sales.",
             "format": "decimal"
            },
            "labor_cost": {
             "type": "number",
             "description": "Calculated labor cost.",
             "format": "decimal"
            },
            "labor_sales": {
             "type": "number",
             "description": "Calculated labor sales.",
             "format": "decimal"
            },
            "profit": {
             "type": "number",
             "description": "Calculated profit.",
             "format": "decimal"
            },
            "updated_at": {
             "type": "string",
             "description": "The date and time when the line item was last updated.",
             "format": "date-time",
             "nullable": true,
             "example": "2026-03-25T13:25:00Z"
            }
           },
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-changelog": [
     {
      "summary": "Introducing new endpoint to retrieve a line item by Id",
      "description": "This endpoint allows retrieving a line item by its Id.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items/{line_item_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-03-20",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Introducing new fields in the response",
      "description": "The response now includes new fields: item_cost, item_sales, labor_cost, labor_sales, profit and updated_at",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items/{line_item_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-01",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Removed based_on_item_id from line item cost item",
      "description": "The cost_item embedded in line item create, update, and get responses no longer exposes the based_on_item_id field. The field was undocumented for line items and is meaningful only for Cost Catalog endpoints.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items/{line_item_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-17",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Sub-items (parts) exposed on line item cost item",
      "description": "The cost_item embedded in line item create, update, and get responses now includes a parts array. On create, providing parts replaces the parts list copied from any referenced catalog item. On update, providing parts replaces the entire parts list (omit to leave unchanged).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items/{line_item_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-06-17",
      "versions": [
       "v2.0"
      ]
     },
     {
      "summary": "Line item responses now include quantity and takeoff_quantity",
      "description": "Line item responses now expose quantity (renamed from count, representing manual quantity from estimating table) and takeoff_quantity (read-only quantity measured in the takeoff tab, combining 2D drawing and 3D model measurements).",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/estimating/proposals/{proposal_id}/line_items/{line_item_id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-14",
      "versions": [
       "v2.0"
      ]
     }
    ],
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items/%7Bline_item_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items/%7Bline_item_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items/%7Bline_item_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/estimating/proposals/%7Bproposal_id%7D/line_items/%7Bline_item_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "tags": [
     "Layer"
    ],
    "summary": "Update an estimate line item of the proposal",
    "operationId": "Layer_UpdateLayer",
    "parameters": [
     {
      "name": "proposal_id",
      "in": "path",
      "required": true,
      "description": "Proposal Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 1
     },
     {
      "name": "line_item_id",
      "in": "path",
      "required": true,
      "description": "Line Item Id",
      "schema": {
       "type": "string",
       "format": "int64"
      },
      "x-position": 2
     },
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "description": "Unique company identifier associated with the Procore User Account.",
      "schema": {
       "type": "string"
      },
      "x-position": 4
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique project identifier",
      "schema": {
       "type": "string"
      },
      "x-position": 5
     }
    ],
    "requestBody": {
     "x-name": "model",
     "description": "Line Item fields to update. Only provided fields will be updated; omit fields to leave unchanged.",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Line item update payload. Only provided fields will be updated; omit fields to leave unchanged.",
        "additionalProperties": false,
        "properties": {
         "name": {
          "description": "Display name of the line item.",
          "type": "string",
          "additionalProperties": false
         },
         "group_id": {
          "description": "Line item group ID.",
          "type": "string",
          "additionalProperties": false
         },
         "cost_item": {
          "description": "Cost item fields to update. Only provided fields will be updated. Omit to leave unchanged. If the line item has no existing cost item, a new one will be created. Cost item cannot be removed.",
          "nullable": true,
          "type": "object",
          "additionalProperties": false,
          "properties": {
           "id": {
            "description": "Catalog item ID to link to an existing cost item. Omit or leave empty to create a new custom cost item from the provided fields.",
            "type": "string",
            "additionalProperties": false
           },
           "type": {
            "description": "Cost item category.",
            "type": "string",
            "additionalProperties": false
           },
           "name": {
            "description": "Display name of the cost item.",
            "type": "string",
            "additionalProperties": false
           },
           "description": {
            "description": "Description of the cost item.",
            "type": "string",
            "additionalProperties": false
           },
           "unit_cost": {
            "description": "Unit material cost.",
            "type": "number",
            "additionalProperties": false
           },
           "unit_labor": {
            "description": "Labor time per unit, in the unit specified by labor_time_unit.",
            "type": "number",
            "additionalProperties": false
           },
           "labor_time_unit": {
            "description": "Unit for labor time.",
            "type": "string",
            "additionalProperties": false
           },
           "unit_labor_cost": {
            "description": "Unit labor cost.",
            "type": "number",
            "additionalProperties": false
           },
           "manufacturer": {
            "description": "Manufacturer of the item.",
            "type": "string",
            "additionalProperties": false
           },
           "catalog_number": {
            "description": "Catalog or product number.",
            "type": "string",
            "additionalProperties": false
           },
           "url": {
            "description": "URL to product or specification.",
            "type": "string",
            "additionalProperties": false
           },
           "supplier": {
            "description": "Supplier or vendor name.",
            "type": "string",
            "additionalProperties": false
           },
           "waste": {
            "description": "Waste percentage.",
            "type": "number",
            "additionalProperties": false
           },
           "material_waste": {
            "description": "Material waste percentage.",
            "type": "number",
            "additionalProperties": false
           },
           "item_margin": {
            "description": "Item margin percentage.",
            "type": "number",
            "additionalProperties": false
           },
           "labor_margin": {
            "description": "Labor margin percentage.",
            "type": "number",
            "additionalProperties": false
           },
           "unit_labor_rate": {
            "description": "Labor rate per unit.",
            "type": "number",
            "additionalProperties": false
           },
           "is_untaxed": {
            "description": "Whether the item is excluded from tax.",
            "type": "boolean",
            "additionalProperties": false
           },
           "unit": {
            "description": "Unit of measurement.",
            "type": "string",
            "additionalProperties": false
           },
           "notes": {
            "description": "Notes.",
            "type": "string",
            "additionalProperties": false
           },
           "color": {
            "description": "Display color. Example: \"#00ecff\".",
            "type": "string",
            "additionalProperties": false
           },
           "symbol_id": {
[...]
