{
 "openapi": "3.1.0",
 "info": {
  "title": "External RFIs",
  "x-product-category": "Project Management",
  "x-tool-category": "RFI",
  "x-resource-name": "External RFI",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/external_rfis/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier of the External RFI",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Show External RFI",
    "description": "Returns the specified External RFI",
    "tags": [
     "RFIs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "description": "External RFI",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique string identifier for this external RFI.",
             "example": "999"
            },
            "position": {
             "type": "string",
             "description": "Sequential position number of this external RFI within the project.",
             "example": "1"
            },
            "full_position": {
             "type": "string",
             "description": "Position number prefixed with the project identifier (e.g. `PRE-1`).",
             "example": "PRE-1"
            },
            "subject": {
             "type": "string",
             "description": "Subject line of the external RFI.",
             "example": "Specifications [99 14.44B]"
            },
            "revision": {
             "type": "string",
             "description": "Revision counter. Increments each time a new revision of this RFI is created.",
             "example": "5"
            },
            "current_revision": {
             "type": "boolean",
             "description": "When `true`, this record represents the most recent revision of the RFI.",
             "example": true
            },
            "has_revisions": {
             "type": "boolean",
             "description": "When `true`, this RFI has one or more prior revisions.",
             "example": true
            },
            "private": {
             "type": "boolean",
             "description": "When `true`, this RFI is only visible to users with admin-level access.",
             "example": true
            },
            "responsible_contractor": {
             "type": "object",
             "description": "Vendor designated as the party responsible for responding to this RFI.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique string identifier of the vendor.",
               "example": "161072"
              },
              "name": {
               "type": "string",
               "description": "Display name of the responsible contractor vendor.",
               "example": "SID Architecture"
              }
             }
            },
            "last_updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of the most recent update to this external RFI, in ISO 8601 format.",
             "example": "2012-10-24T21:39:40Z"
            },
            "sync_status": {
             "type": "string",
             "description": "Synchronization state between the local and upstream RFI.",
             "example": "in_sync",
             "enum": [
              "in_sync",
              "upstream_private"
             ]
            },
            "status": {
             "type": "string",
             "description": "Lifecycle status of the external RFI. Recycled variants (e.g. `open_recycled`) appear when the RFI has been moved to the recycle bin.",
             "example": "open",
             "enum": [
              "open",
              "closed",
              "draft",
              "pending",
              "closed_draft",
              "closed_with_revision",
              "open_recycled",
              "draft_recycled",
              "closed_recycled",
              "pending_recycled",
              "closed_draft_recycled",
              "closed_with_revision_recycled"
             ]
            },
            "due_date": {
             "type": "string",
             "description": "Date by which a response is expected, in `YYYY-MM-DD` format. Null if no due date is set.",
             "format": "date",
             "nullable": true,
             "example": "2017-01-18"
            },
            "created_by": {
             "type": "object",
             "description": "Contact who originally created this external RFI.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique string identifier of the contact record.",
               "example": "161072"
              },
              "login_information_id": {
               "type": "string",
               "deprecated": true,
               "description": "Deprecated. This field is not returned by the API.",
               "example": "161072"
              },
              "name": {
               "type": "string",
               "description": "Full display name of the contact.",
               "example": "Carl the Contractor"
              }
             }
            },
            "rfi_manager": {
             "type": "object",
             "description": "Contact assigned as manager of this external RFI.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique string identifier of the contact record.",
               "example": "161072"
              },
              "login_information_id": {
               "type": "string",
               "deprecated": true,
               "description": "Deprecated. This field is not returned by the API.",
               "example": "161072"
              },
              "name": {
               "type": "string",
               "description": "Full display name of the contact.",
               "example": "Carl the Contractor"
              }
             }
            },
            "received_from": {
             "type": "object",
             "description": "Contact who submitted or originated this external RFI.",
             "properties": {
              "id": {
               "type": "string",
               "description": "Unique string identifier of the contact record.",
               "example": "161072"
              },
              "login_information_id": {
               "type": "string",
               "deprecated": true,
               "description": "Deprecated. This field is not returned by the API.",
               "example": "161072"
              },
              "name": {
               "type": "string",
               "description": "Full display name of the contact.",
               "example": "Carl the Contractor"
              }
             }
            },
            "download_all_attachments_url": {
             "type": "string",
             "description": "URL to download a zip archive of all attachments on this external RFI.",
             "example": "http://www.example.com/download/all"
            },
            "initiated_at": {
             "type": "string",
             "nullable": true,
             "description": "Timestamp when this external RFI was opened/initiated, in ISO 8601 format. Null for draft external RFIs.",
             "format": "date-time",
             "example": "2016-08-23T15:23:57Z"
            },
            "time_resolved": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this external RFI was closed, in ISO 8601 format. Null if still open.",
             "nullable": true,
             "example": "2017-01-12T17:09:15Z"
            },
            "created_at": {
             "type": "string",
             "description": "Timestamp when this external RFI record was created, in ISO 8601 format.",
             "format": "date-time",
             "example": "2016-08-23T15:23:57Z"
            },
            "question": {
             "type": "string",
             "description": "Body of the RFI question. May contain HTML markup.",
             "example": "<p>Are the items listed on Schedule C acceptable?</p>"
            },
            "attachments": {
             "type": "array",
             "description": "Files attached directly to this external RFI (not to its responses).",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Unique string identifier of the attachment file.",
                "example": "5324"
               },
               "url": {
                "type": "string",
                "description": "Download URL for this attachment.",
                "example": "http://www.example.com/"
               },
               "viewable": {
                "type": "boolean",
                "description": "When `true`, the file can be rendered inline in a document viewer.",
                "example": true
               },
               "can_be_viewed": {
                "type": "boolean",
                "description": "When `true`, the current user has permission to view this attachment.",
                "example": true
               }
              }
             }
            },
            "cover_sheet": {
             "type": "object",
             "description": "Cover sheet document for this external RFI, if one has been attached.",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "example": "12345"
              },
              "attachment": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "161072"
                },
                "name": {
                 "type": "string",
                 "example": "coversheet.pdf"
                },
                "url": {
                 "type": "string",
                 "description": "Download URL for the cover sheet.",
                 "example": "http://www.example.com/coversheet.pdf"
                },
                "viewable": {
                 "type": "boolean",
                 "description": "When `true`, the cover sheet can be rendered inline in a document viewer.",
                 "example": true
                },
                "can_be_viewed": {
                 "type": "boolean",
                 "description": "When `true`, the current user has permission to view the cover sheet.",
                 "example": true
                }
               }
              }
             }
            },
            "responses": {
             "type": "array",
             "description": "Official and informal responses to this external RFI.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Unique string identifier of the response.",
                "example": "161072"
               },
               "body": {
                "type": "string",
                "description": "Body text of the response. May contain HTML markup.",
                "example": "RFI Response 1"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Unique string identifier of the response author contact.",
                  "example": "161072"
                 },
                 "login_information_id": {
                  "type": "string",
                  "deprecated": true,
                  "description": "Deprecated. This field is not returned by the API.",
                  "example": "161072"
                 },
                 "name": {
                  "type": "string",
                  "description": "Full display name of the response author.",
                  "example": "Carl the Contractor"
                 }
                }
               },
               "created_at": {
                "type": "string",
                "description": "Timestamp when this response was created, in ISO 8601 format.",
                "format": "date-time",
                "example": "2016-08-23T15:23:57Z"
               },
               "official": {
                "type": "boolean",
                "description": "When `true`, this is an official response to the RFI.",
                "example": true
               },
               "download_all_attachments_url": {
                "type": "string",
                "description": "URL to download a zip archive of all attachments on this response.",
                "example": "http://www.example.com/download/all"
               },
               "attachments": {
                "type": "array",
                "description": "Files attached to this response.",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Unique string identifier of the attachment file.",
                   "example": "5324"
                  },
                  "url": {
                   "type": "string",
                   "description": "Download URL for this attachment.",
                   "example": "http://www.example.com/"
                  },
                  "viewable": {
                   "type": "boolean",
                   "description": "When `true`, the file can be rendered inline in a document viewer.",
                   "example": true
                  },
                  "can_be_viewed": {
                   "type": "boolean",
                   "description": "When `true`, the current user has permission to view this attachment.",
                   "example": true
                  }
                 }
                }
               }
              }
             }
            },
            "project_connection": {
             "type": "object",
             "description": "Details of the upstream project this external RFI is connected to. Null if not connected.",
             "nullable": true,
             "properties": {
              "upstream_project_name": {
               "type": "string",
               "description": "Display name of the upstream (GC) project.",
               "example": "Carpinteria Head Quarters"
              },
              "upstream_company_name": {
               "type": "string",
               "description": "Display name of the company that owns the upstream project.",
               "example": "Procore Construction"
              },
              "upstream_project_id": {
               "type": "string",
               "description": "Unique string identifier of the upstream project.",
               "example": "42"
              },
              "upstream_company_id": {
               "type": "string",
               "description": "Unique string identifier of the company that owns the upstream project.",
               "example": "7"
              }
             }
            },
            "connection_status": {
             "type": "string",
             "description": "Whether this external RFI is actively connected to a local RFI. One of `connected` or `disconnected`.",
             "example": "connected",
             "enum": [
              "connected",
              "disconnected"
             ]
            },
            "download_external_rfi_and_responses_attachments_url": {
             "type": "string",
             "description": "URL to download a zip of all attachments across this external RFI and its responses. Null if no attachments exist.",
             "nullable": true,
             "example": "http://www.example.com/download/all"
            },
            "origin_rfi_id": {
             "type": "string",
             "description": "ID of the originating local RFI that was exported to create this external RFI. Null if there is no originating RFI.",
             "nullable": true,
             "example": "101"
            },
            "origin_project_id": {
             "type": "string",
             "description": "ID of the upstream project that the originating RFI belongs to.",
             "example": "42"
            },
            "origin_company_id": {
             "type": "string",
             "description": "ID of the company that owns the upstream project. Null if there is no upstream company.",
             "nullable": true,
             "example": "7"
            },
            "linked_local_rfis": {
             "type": "array",
             "description": "Local RFIs linked to this external RFI.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Unique string identifier of the linked local RFI.",
                "example": "55"
               },
               "status": {
                "type": "string",
                "description": "Current lifecycle status of the linked local RFI.",
                "example": "open"
               },
               "formatted_name": {
                "type": "string",
                "description": "Human-readable display name of the linked local RFI.",
                "example": "RFI-001 \u2014 Confirm spec material"
               }
              }
             }
            },
            "cross_collab_originated": {
             "type": "boolean",
             "description": "When `true`, this external RFI was created via cross-company collaboration export.",
             "example": false
            },
            "origin_rfi_url": {
             "type": "string",
             "description": "URL to the originating RFI in the upstream project. Null if no origin RFI or URL is unavailable.",
             "nullable": true,
             "example": "https://app.procore.com/123/project/rfi/show/456"
            },
            "linked_drawings": {
             "type": "array",
             "description": "Drawing attachments linked to this external RFI.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Unique string identifier of the linked drawing record.",
                "example": "78"
               },
               "attachment": {
                "type": "object",
                "description": "The drawing file attachment.",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Unique string identifier of the attachment file.",
                  "example": "161072"
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the drawing file.",
                  "example": "Floor Plan Rev A.pdf"
                 },
                 "url": {
                  "type": "string",
                  "description": "Download URL for this drawing.",
                  "example": "http://www.example.com/drawing.pdf"
                 },
                 "viewable": {
                  "type": "boolean",
                  "description": "When `true`, the drawing can be rendered inline in a document viewer.",
                  "example": true
                 },
                 "can_be_viewed": {
                  "type": "boolean",
                  "description": "When `true`, the current user has permission to view this drawing.",
                  "example": true
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/external_rfis": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List External RFIs",
    "description": "Returns all External RFIs in the specified Project.\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "External RFIs"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filters[sync_status]",
      "in": "query",
      "description": "Return item(s) with the specified External RFI Sync Status.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "in_sync",
        "out_of_sync",
        "deleted"
       ]
      }
     },
     {
      "name": "filters[connection_status]",
      "in": "query",
      "description": "Return item(s) with the specified External RFI Connection Status.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "connected",
        "disconnected"
       ]
      }
     },
     {
      "name": "filters[rfi_manager_id]",
      "in": "query",
      "description": "Returns item(s) with the specified External RFI's Manager ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[responsible_contractor_id]",
      "in": "query",
      "description": "Returns item(s) with the specified External RFI's Responsible Contractor ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[received_from_id]",
      "in": "query",
      "description": "Returns item(s) with the specified External RFI's Received From ID.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[due_date]",
      "in": "query",
      "description": "Return item(s) that are due within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "title": "range",
       "example": "2026-07-01...2026-07-31"
      }
     },
     {
      "name": "filters[time_resolved]",
      "in": "query",
      "description": "Return item(s) that are due within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "title": "range",
       "example": "2026-07-01T00:00:00Z...2026-07-31T23:59:59Z"
      }
     },
     {
      "name": "filters[initiated_at]",
      "in": "query",
      "description": "Return item(s) that were Initiated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "title": "range",
       "example": "2026-07-01T00:00:00Z...2026-07-31T23:59:59Z"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Field to sort the External Rfi list by. If the field is passed with a prefixed '-' (Example: -position) it will be sorted in reverse order.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "position",
        "subject",
        "updated_at",
        "created_at",
        "due_date",
        "initiated_at",
        "rfi_manager_id",
        "received_from_id",
        "responsible_contractor_id",
        "time_resolved",
        "private",
        "status"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "Unique string identifier for this external RFI.",
                "example": "999"
               },
               "last_updated_at": {
                "type": "string",
                "description": "Timestamp of the most recent update, in ISO 8601 format.",
                "format": "date-time",
                "example": "2017-08-23T15:23:57Z"
               },
               "subject": {
                "type": "string",
                "description": "Subject line of the external RFI.",
                "example": "Specifications [99 14.44B]"
               },
               "position": {
                "type": "string",
                "description": "Sequential position number within the project.",
                "example": "4"
               },
               "revision": {
                "type": "string",
                "description": "Revision counter. Increments each time a new revision is created.",
                "example": "5"
               },
               "current_revision": {
                "type": "boolean",
                "description": "When `true`, this record is the most recent revision of the RFI.",
                "example": true
               },
               "has_revisions": {
                "type": "boolean",
                "description": "When `true`, this RFI has one or more prior revisions.",
                "example": true
               },
               "private": {
                "type": "boolean",
                "description": "When `true`, visible only to admin-level users.",
                "example": true
               },
               "full_position": {
                "type": "string",
                "description": "Position number prefixed with the project identifier (e.g. `PRE-1`).",
                "example": "PRE-1"
               },
               "sync_status": {
                "type": "string",
                "description": "Synchronization state of the External RFI. Returns `private` when the origin RFI is private and unavailable to the current project.",
                "example": "in_sync",
                "enum": [
                 "in_sync",
                 "private"
                ]
               },
               "origin_rfi_id": {
                "type": "string",
                "nullable": true,
                "description": "ID of the RFI in the origin project, or null until the origin ID is available.",
                "example": "12345"
               },
               "origin_project_id": {
                "type": "string",
                "description": "ID of the project that owns the origin RFI.",
                "example": "42"
               },
               "origin_company_id": {
                "type": "string",
                "nullable": true,
                "description": "ID of the company that owns the origin project, or null when connection data is unavailable.",
                "example": "7"
               },
               "created_by": {
                "type": "object",
                "description": "Contact who originally created this external RFI.",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Unique string identifier of the contact record.",
                  "example": "161072"
                 },
                 "name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Full display name of the contact.",
                  "example": "Carl the Contractor"
                 }
                }
               },
               "responsible_contractor": {
                "type": "object",
                "description": "Vendor designated as the party responsible for responding to this RFI.",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Unique string identifier of the vendor.",
                  "example": "161072"
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the responsible contractor vendor.",
                  "example": "SID Architecture"
                 }
                }
               },
               "status": {
                "type": "string",
                "description": "Lifecycle status of the external RFI. Recycled variants (e.g. `open_recycled`) appear when the RFI is in the recycle bin.",
                "example": "open",
                "enum": [
                 "open",
                 "open_recycled",
                 "closed",
                 "closed_recycled",
                 "draft",
                 "draft_recycled",
                 "closed_draft",
                 "closed_draft_recycled",
                 "closed_with_revision",
                 "closed_with_revision_recycled"
                ]
               },
               "due_date": {
                "type": "string",
                "description": "Response due date in `YYYY-MM-DD` format. Null if not set.",
                "format": "date",
                "nullable": true,
                "example": "2017-01-18"
               },
               "rfi_manager": {
                "type": "object",
                "description": "Contact assigned as manager of this external RFI.",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Unique string identifier of the contact record.",
                  "example": "161072"
                 },
                 "name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Full display name of the contact.",
                  "example": "Carl the Contractor"
                 }
                }
               },
               "received_from": {
                "type": "object",
                "description": "Contact who submitted or originated this external RFI.",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Unique string identifier of the contact record.",
                  "example": "161072"
                 },
                 "name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Full display name of the contact.",
                  "example": "Carl the Contractor"
                 }
                }
               },
               "initiated_at": {
                "type": "string",
                "nullable": true,
                "description": "Timestamp when the RFI was opened/initiated, in ISO 8601 format. Null for draft external RFIs.",
                "format": "date-time",
                "example": "2016-08-23T15:23:57Z"
               },
               "time_resolved": {
                "type": "string",
                "nullable": true,
                "format": "date-time",
                "description": "Timestamp when the RFI was closed, in ISO 8601 format. Null if still open.",
                "example": "2017-01-12T17:09:15Z"
               },
               "project_connection": {
                "type": "object",
                "description": "Details of the upstream project this external RFI is connected to. Null if not connected.",
                "nullable": true,
                "properties": {
                 "upstream_project_name": {
                  "type": "string",
                  "description": "Display name of the upstream (GC) project.",
                  "example": "Carpinteria Head Quarters"
                 },
                 "upstream_company_name": {
                  "type": "string",
                  "description": "Display name of the company that owns the upstream project.",
                  "example": "Procore Construction"
                 },
                 "upstream_project_id": {
                  "type": "string",
                  "description": "Unique string identifier of the upstream project.",
                  "example": "42"
                 },
                 "upstream_company_id": {
                  "type": "string",
                  "description": "Unique string identifier of the company that owns the upstream project.",
                  "example": "7"
                 }
                }
               },
               "connection_status": {
                "type": "string",
                "description": "Whether this external RFI is actively connected to a local RFI. One of `connected` or `disconnected`.",
                "example": "connected",
                "enum": [
                 "connected",
                 "disconnected"
                ]
               },
               "download_external_rfi_and_responses_attachments_url": {
                "type": "string",
                "description": "URL to download a zip of all attachments across this external RFI and its responses. Null if no attachments exist.",
                "nullable": true,
                "example": "http://www.example.com/download/all"
               },
               "download_pdf_export_url": {
                "type": "string",
                "description": "URL to download the most recent PDF export for this external RFI. Null if no export has been generated.",
                "nullable": true,
                "example": "http://www.example.com/download"
               },
               "linked_local_rfis": {
                "type": "array",
                "description": "Local RFIs linked to this external RFI.",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Unique string identifier of the linked local RFI.",
                   "example": "55"
                  },
                  "status": {
                   "type": "string",
                   "description": "Current lifecycle status of the linked local RFI.",
                   "example": "open"
                  },
                  "formatted_name": {
                   "type": "string",
                   "description": "Human-readable display name of the linked local RFI.",
                   "example": "RFI-001 \u2014 Confirm spec material"
                  }
                 }
                }
               },
               "cross_collab_originated": {
                "type": "boolean",
                "description": "When `true`, this external RFI was created via cross-company collaboration export.",
                "example": false
               },
               "origin_rfi_url": {
                "type": "string",
                "description": "URL to the originating RFI in the upstream project. Null if no origin RFI or URL is unavailable.",
                "nullable": true,
                "example": "https://app.procore.com/123/project/rfi/show/456"
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[sync_status]': 'SOME_STRING_VALUE',\n    'filters[connection_status]': 'SOME_STRING_VALUE',\n    'filters[rfi_manager_id]': 'SOME_STRING_VALUE',\n    'filters[responsible_contractor_id]': 'SOME_STRING_VALUE',\n    'filters[received_from_id]': 'SOME_STRING_VALUE',\n    'filters[due_date]': '2026-07-01...2026-07-31',\n    'filters[time_resolved]': '2026-07-01T00:00:00Z...2026-07-31T23:59:59Z',\n    'filters[initiated_at]': '2026-07-01T00:00:00Z...2026-07-31T23:59:59Z',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsync_status%5D=SOME_STRING_VALUE&filters%5Bconnection_status%5D=SOME_STRING_VALUE&filters%5Brfi_manager_id%5D=SOME_STRING_VALUE&filters%5Bresponsible_contractor_id%5D=SOME_STRING_VALUE&filters%5Breceived_from_id%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=2026-07-01...2026-07-31&filters%5Btime_resolved%5D=2026-07-01T00%3A00%3A00Z...2026-07-31T23%3A59%3A59Z&filters%5Binitiated_at%5D=2026-07-01T00%3A00%3A00Z...2026-07-31T23%3A59%3A59Z&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsync_status%5D=SOME_STRING_VALUE&filters%5Bconnection_status%5D=SOME_STRING_VALUE&filters%5Brfi_manager_id%5D=SOME_STRING_VALUE&filters%5Bresponsible_contractor_id%5D=SOME_STRING_VALUE&filters%5Breceived_from_id%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=2026-07-01...2026-07-31&filters%5Btime_resolved%5D=2026-07-01T00%3A00%3A00Z...2026-07-31T23%3A59%3A59Z&filters%5Binitiated_at%5D=2026-07-01T00%3A00%3A00Z...2026-07-31T23%3A59%3A59Z&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsync_status%5D=SOME_STRING_VALUE&filters%5Bconnection_status%5D=SOME_STRING_VALUE&filters%5Brfi_manager_id%5D=SOME_STRING_VALUE&filters%5Bresponsible_contractor_id%5D=SOME_STRING_VALUE&filters%5Breceived_from_id%5D=SOME_STRING_VALUE&filters%5Bdue_date%5D=2026-07-01...2026-07-31&filters%5Btime_resolved%5D=2026-07-01T00%3A00%3A00Z...2026-07-31T23%3A59%3A59Z&filters%5Binitiated_at%5D=2026-07-01T00%3A00%3A00Z...2026-07-31T23%3A59%3A59Z&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introduced Public API endpoints for External RFIs",
      "description": "Introduced the following Public API endpoints for External RFIs:\n- GET /companies/{company_id}/projects/{project_id}/external_rfis (List External RFIs)\n- GET /companies/{company_id}/projects/{project_id}/external_rfis/{id} (Show External RFI)\n- GET /companies/{company_id}/projects/{project_id}/external_rfis/{id}/revisions (List External RFI Revisions)\n- PATCH /companies/{company_id}/projects/{project_id}/external_rfis/{id}/linked_local_rfis (Update Linked Local RFIs for an External RFI)\n- GET /companies/{company_id}/projects/{project_id}/external_rfis/{id}/download_external_rfi_and_responses_attachments (Download External RFI and Responses Attachments)\n- GET /companies/{company_id}/projects/{project_id}/external_rfis/{external_rfi_id}/advanced_exports (Show Advanced Export Options for External RFI)\n- GET /companies/{company_id}/projects/{project_id}/external_rfis/{external_rfi_id}/external_rfi_pdf_exports/{id}/download (Download External RFI PDF Export)",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/external_rfis",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-07-21",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "external-rfi?version=2.0#list-external-rfis"
     },
     {
      "summary": "Documented recycled External RFI status values",
      "description": "The List External RFIs response documentation now includes the existing `_recycled` status variants returned when an upstream RFI is in the recycle bin. Generated clients should handle these variants, and integrations should tolerate unknown future status values.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/external_rfis",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2026-07-30",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "external-rfi?version=2.0#list-external-rfis"
     },
     {
      "summary": "Corrected the documented External RFI list response",
      "description": "The List External RFIs response documentation now matches the existing runtime payload for synchronization state, origin RFI/project/company IDs, project connection IDs, linked local RFIs, cross-account origin state, and the origin RFI URL. Contact objects now list only the `id` and `name` fields returned by the API. Generated clients should handle the newly documented `private` synchronization state.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/external_rfis",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2026-07-30",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "external-rfi?version=2.0#list-external-rfis"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/external_rfis/{external_rfi_id}/advanced_exports": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "external_rfi_id",
     "in": "path",
     "description": "External RFI ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Show Advanced Export Options for External RFI",
    "description": "Returns the available advanced export configuration options for a specified External RFI, including cover sheet and file attachment selections.",
    "tags": [
     "External RFIs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "slug": {
              "type": "string",
              "description": "Unique identifier for the option set",
              "example": "cover_sheet"
             },
             "name": {
              "type": "string",
              "description": "Display name of the option set",
              "example": "Cover Sheet"
             },
             "type": {
              "type": "string",
              "description": "Selection type",
              "enum": [
               "single_select",
               "multi_select"
              ]
             },
             "options": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Option identifier"
                },
                "name": {
                 "type": "string",
                 "description": "Display name of the option"
                },
                "content_type": {
                 "type": "string",
                 "description": "MIME content type (for file options)"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bexternal_rfi_id%7D/advanced_exports',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bexternal_rfi_id%7D/advanced_exports\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bexternal_rfi_id%7D/advanced_exports \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bexternal_rfi_id%7D/advanced_exports\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/external_rfis/{id}/download_external_rfi_and_responses_attachments": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "External RFI ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Download External RFI and Responses Attachments",
    "description": "Initiates a zip download of the External RFI and all response attachments. Returns a redirect to the streaming download URL.",
    "tags": [
     "External RFIs"
    ],
    "responses": {
     "302": {
      "description": "Redirect to the zip download URL",
      "headers": {
       "Location": {
        "description": "URL of the zip file download",
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D/download_external_rfi_and_responses_attachments',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D/download_external_rfi_and_responses_attachments\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D/download_external_rfi_and_responses_attachments \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D/download_external_rfi_and_responses_attachments\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/external_rfis/{external_rfi_id}/external_rfi_pdf_exports/{id}/download": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "external_rfi_id",
     "in": "path",
     "description": "External RFI ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "PDF Export ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Download External RFI PDF Export",
    "description": "Returns a redirect to download the generated PDF export for a specified External RFI.",
    "tags": [
     "External RFIs"
    ],
    "responses": {
     "302": {
      "description": "Redirect to the PDF download URL",
      "headers": {
       "Location": {
        "description": "URL of the PDF file",
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bexternal_rfi_id%7D/external_rfi_pdf_exports/%7Bid%7D/download',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bexternal_rfi_id%7D/external_rfi_pdf_exports/%7Bid%7D/download\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bexternal_rfi_id%7D/external_rfi_pdf_exports/%7Bid%7D/download \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bexternal_rfi_id%7D/external_rfi_pdf_exports/%7Bid%7D/download\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/external_rfis/{id}/linked_local_rfis": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "External RFI ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Update Linked Local RFIs for an External RFI",
    "description": "Adds or removes linked local RFIs from the specified External RFI. At least one of the add/remove ID arrays must be present.",
    "tags": [
     "External RFIs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "linked_local_rfis_added_ids": {
          "type": "array",
          "items": {
           "type": "integer"
          },
          "description": "IDs of local RFIs to add to this external RFI's linked list. At least one of `linked_local_rfis_added_ids` or `linked_local_rfis_removed_ids` must be non-empty."
         },
         "linked_local_rfis_removed_ids": {
          "type": "array",
          "items": {
           "type": "integer"
          },
          "description": "IDs of local RFIs to remove from this external RFI's linked list. At least one of `linked_local_rfis_added_ids` or `linked_local_rfis_removed_ids` must be non-empty."
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique string identifier of the linked local RFI."
             },
             "status": {
              "type": "string",
              "description": "Current lifecycle status of the linked local RFI."
             },
             "formatted_name": {
              "type": "string",
              "description": "Human-readable display name of the linked local RFI."
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D/linked_local_rfis',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {linked_local_rfis_added_ids: [0], linked_local_rfis_removed_ids: [0]},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"linked_local_rfis_added_ids\\\":[0],\\\"linked_local_rfis_removed_ids\\\":[0]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D/linked_local_rfis\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D/linked_local_rfis \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"linked_local_rfis_added_ids\":[0],\"linked_local_rfis_removed_ids\":[0]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/external_rfis/%7Bid%7D/linked_local_rfis\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"linked_local_rfis_added_ids\\\":[0],\\\"linked_local_rfis_removed_ids\\\":[0]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/external_rfis/{id}/revisions": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "External RFI ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List External RFI Revisions",
    "description": "Return information about specified External RFI revisions",
    "tags": [
     "RFIs"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "RFI Revision",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique string identifier for this RFI revision."
             },
             "title": {
              "type": "string",
              "description": "Display title of the RFI revision (the formatted name of the RFI at that revision point)."
             },
             "current_revision": {
              "type": "boolean",
              "description": "When `true`, this record is the most recent revision."
             },
             "status": {
              "type": "string",
              "description": "Lifecycle status of the RFI at this revision point."
             },
             "revision": {
              "type": "string",
              "description": "Sequential revision counter (e.g. `0` for original, `1` for first revision)."
             },
             "created_at": {
              "type": "string",
              "description": "Timestamp when this revision was created, in ISO 8601 format.",
              "format": "date-time",
              "example": "2016-08-23T15:23:57Z"
             },
             "time_resolved": {
              "type": "string",
              "description": "Timestamp when this revision was closed, in ISO 8601 format. Null if not yet closed.",
              "format": "date-time",
              "nullable": true,
              "example": "2016-08-23T15:23:57Z"
             },
             "initiated_at": {
              "type": "string",
              "description": "Timestamp when this revision was opened/initiated, in ISO 8601 format.",
              "format": "date-time",
              "example": "2016-08-23T15:23:57Z"
             },
[...]
