{
 "openapi": "3.0.0",
 "info": {
  "title": "Field Production Report",
  "x-product-category": "Procore Helix",
  "x-tool-category": "Reports",
  "x-resource-name": "Field Production Report",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/field_production_report": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Field Production Report Summary",
    "description": "Returns an array calculated production rates across cost codes with an associated Budgeted Production Quantity",
    "tags": [
     "Field Production Report"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of data calculations across budgeted cost codes",
         "items": {
          "type": "object",
          "description": "Field Production Report",
          "properties": {
           "cost_code_id": {
            "type": "integer",
            "description": "ID of associated cost code",
            "example": 302323
           },
           "cost_code": {
            "type": "string",
            "description": "Code and description of associated cost code",
            "example": "03 - Instructions"
           },
           "budgeted_hours": {
            "type": "number",
            "description": "Number of labor hours budgeted for the given cost code",
            "example": 100
           },
           "actual_hours": {
            "type": "number",
            "description": "Number of labor hours logged for the given cost code to date",
            "example": 46.5
           },
           "remaining_hours": {
            "type": "number",
            "description": "Budgeted Hours - Actual Hours",
            "example": 53.5
           },
           "hours_utilization": {
            "type": "string",
            "description": "(Actual Hours / Budgeted Hours) * 100",
            "example": "46.5%"
           },
           "projected_hours_at_completion": {
            "type": "number",
            "description": "(Actual Hours / Actual Quantities) * Remaining Quantities",
            "example": 108.5
           },
           "earned_hours": {
            "type": "number",
            "description": "(Budgeted Hours * Actual Quantities) / Budgeted Quantities",
            "example": 30
           },
           "budgeted_quantity": {
            "type": "number",
            "description": "Budgeted amount of a unit to install for the given cost code",
            "example": 100
           },
           "actual_quantity": {
            "type": "number",
            "description": "Actual amount of a unit installed for the given cost code to date",
            "example": 30
           },
           "remaining_quantities": {
            "type": "number",
            "description": "Budgeted Quantity - Actual Quantity",
            "example": 70
           },
           "unit_of_measure": {
            "type": "string",
            "description": "One of the following (ea, ls, lf, sf, sy, cy, mm, m, m^2, m^3, lbs, t, kg, ton)",
            "example": "ea"
           },
           "percent_complete": {
            "type": "string",
            "description": "(Actual Quantity / Budgeted Quantity) * 100",
            "example": "30%"
           },
           "budgeted_production_rate": {
            "type": "number",
            "description": "Budgeted Quantity / Budgeted Hours",
            "example": 1
           },
           "actual_production_rate": {
            "type": "number",
            "description": "Actual Quantity / Actual Hours",
            "example": 0.65
           },
           "production_rate_variance": {
            "type": "number",
            "description": "Actual Production Rate - Budgeted Production Rate",
            "example": -0.35
           },
           "is_budgeted": {
            "type": "string",
            "description": "Cost code budgeted (yes/no)",
            "example": "Yes"
           },
           "sub_job_name": {
            "type": "string",
            "description": "Name of the associated sub job",
            "example": "Building 1"
           },
           "sub_job_id": {
            "type": "integer",
            "description": "ID of the associated sub job",
            "example": 392483
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/field_production_report',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/field_production_report?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/field_production_report?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/field_production_report?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}