{
 "openapi": "3.1.0",
 "info": {
  "title": "Field Sets",
  "version": "2.0",
  "x-product-category": "Resource Management",
  "x-resource-name": "Field Sets",
  "x-tool-category": "Equipment",
  "x-product-lines": [
   "equipment-register"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/equipment_register/configurable_field_sets": {
   "get": {
    "tags": [
     "Field Sets"
    ],
    "summary": "Get Configurable Field Sets (Company)",
    "operationId": "getFieldSets",
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "The page number to retrieve. Default is 1.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "The number of items to retrieve per page. Default is 10, maximum is 100.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string"
             },
             "cfsId": {
              "type": "integer",
              "format": "int64"
             },
             "companyId": {
              "type": "integer",
              "format": "int64"
             },
             "createdAt": {
              "type": "string",
              "format": "date-time"
             },
             "updatedAt": {
              "type": "string",
              "format": "date-time"
             },
             "equipmentCategoryId": {
              "type": "string"
             },
             "configurableFields": {
              "type": "object",
              "additionalProperties": {
               "type": "object",
               "properties": {
                "name": {
                 "type": "string"
                },
                "visible": {
                 "type": "boolean"
                },
                "required": {
                 "type": "boolean"
                }
               }
              }
             },
             "customFields": {
              "type": "object",
              "additionalProperties": {
               "type": "object",
               "properties": {
                "name": {
                 "type": "string"
                },
                "visible": {
                 "type": "boolean"
                },
                "required": {
                 "type": "boolean"
                },
                "id": {
                 "type": "integer",
                 "format": "int64"
                },
                "column": {
                 "type": "integer",
                 "format": "int64"
                },
                "columnWidth": {
                 "type": "integer",
                 "format": "int64"
                },
                "companyId": {
                 "type": "string"
                },
                "customFieldDefinitionId": {
                 "type": "integer",
                 "format": "int64"
                },
                "customFieldsSectionId": {
                 "type": "integer",
                 "format": "int64"
                },
                "dataType": {
                 "type": "string"
                },
                "defaultValue": {},
                "description": {
                 "type": "string"
                },
                "hostType": {
                 "type": "string"
                },
                "label": {
                 "type": "string"
                },
                "position": {
                 "type": "integer",
                 "format": "int64"
                },
                "row": {
                 "type": "integer",
                 "format": "int64"
                },
                "variant": {
                 "type": "string"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     }
    },
    "x-doc": {
     "stage": "beta",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/equipment_register/configurable_field_sets',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'},\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Procore-Company-Id': \"SOME_INTEGER_VALUE\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/1234/equipment_register/configurable_field_sets?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/1234/equipment_register/configurable_field_sets?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/equipment_register/configurable_field_sets?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}