{
 "openapi": "3.0.0",
 "info": {
  "title": "Financial Markups",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Contracts",
  "x-resource-name": "Financial Markups",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/financials/markups": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Retrieve a list of Markups",
    "description": "Retrieves a list of markups associated with the specified holder.  This endpoint supports the Contract and Potential Change Order tools.  Access requires the user to have admin permissions for the relevant tool.",
    "tags": [
     "Contracts",
     "Change Orders",
     "Financial Markups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "description": "ID of the Markup's Project",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "holder_type",
      "in": "query",
      "description": "Type of the Markup's Holder",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "Contract",
        "PotentialChangeOrder"
       ]
      }
     },
     {
      "name": "holder_id",
      "in": "query",
      "description": "ID of the Markup's Holder",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "When set to `with_erp_data`, includes the `prime_line_item_id` field in the response.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "with_erp_data"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Markups",
         "items": {
          "title": "Financial Markup",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for the markup.",
            "example": 121
           },
           "applies_to_all": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if the markup applies to all change management items within the holder.",
            "example": true
           },
           "compound": {
            "type": "object",
            "description": "Details of the compound calculations for the markup.",
            "properties": {
             "selections": {
              "type": "array",
              "nullable": true,
              "description": "Specifies which existing markups to include in the calculation when 'selective' compounding is chosen.",
              "items": {
               "type": "integer"
              },
              "example": [
               1,
               2,
               3
              ]
             },
             "type": {
              "type": "string",
              "nullable": true,
              "description": "Type of calculation for the markup:\n- **Basic Calculation (null):** Percentage is multiplied by the line items that meet the application criteria.\n- **Compounds all Above (above):** Percentage is multiplied by the line items that meet the application criteria and all preceding markups in the markup table.\n- **Selective Compounding (selective):** Percentage is multiplied by the line items that meet the application criteria and any individually selected markups.\n- **Iterative Calculation or Margin (margin):** Percentage is multiplied by the line item total, including all markups.",
              "example": "above"
             }
            }
           },
           "holder_id": {
            "type": "integer",
            "description": "Unique identifier for the markup holder.",
            "example": 29
           },
           "holder_type": {
            "type": "string",
            "description": "Type of the markup holder.",
            "enum": [
             "Contract",
             "PotentialChangeOrder"
            ],
            "example": "Contract"
           },
           "markup_conditions": {
            "type": "array",
            "nullable": true,
            "description": "Conditions that determine how the markup will be applied to change management items within the holder.",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for the markup condition.",
               "example": 231
              },
              "match_type": {
               "type": "string",
               "description": "Specifies whether the condition includes or excludes items.",
               "enum": [
                "excludes",
                "includes"
               ],
               "example": "includes"
              },
              "wbs_segment_id": {
               "type": "integer",
               "description": "Unique identifier for the WBS Segment associated with the markup condition.  Supported segments include Cost Type and Cost Code.",
               "example": 10
              },
              "markup_condition_items": {
               "type": "array",
               "nullable": true,
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the markup condition item.",
                  "example": 764
                 },
                 "wbs_segment_item_id": {
                  "type": "integer",
                  "description": "Unique identifier for the WBS Segment Item associated with the markup condition.  If the match type is 'includes' and the WBS Segment is Cost Type,  the markup will be applied to all change management items with the selected Cost Type.",
                  "example": 265
                 }
                }
               }
              }
             }
            }
           },
           "markup_set": {
            "type": "string",
            "description": "Set of the markup.\n- **Horizontal markup:** Calculates the markup amount on an individual line item.\n- **Vertical markup:** Calculates the markup amount as a subtotal on all line items on a change order. \n\nContracts use 'change_orders_horizontal' and 'change_orders_vertical'.  \nPotential Change Orders use 'vertical' and 'horizontal'.",
            "enum": [
             "change_orders_horizontal",
             "change_orders_vertical",
             "horizontal",
             "vertical"
            ],
            "example": "vertical"
           },
           "name": {
            "type": "string",
            "description": "Name of the markup.",
            "example": "Profit"
           },
           "percentage": {
            "type": "string",
            "format": "decimal",
            "description": "Percentage value of the markup. The default precision is 50.",
            "example": "5.25"
           },
           "position": {
            "type": "integer",
            "description": "Position of the markup in the markup set of the holder.  The default is the next available position, starting at 1.",
            "example": 1
           },
           "prime_line_item_id": {
            "type": "integer",
            "nullable": true,
            "description": "Unique identifier for the Prime Contract Line Item associated with the markup.  This ensures synchronization between the estimated value (without vertical markup) and  the revenue value (with vertical markup) in the integrated ERP system.  Applicable only to vertical markups on a prime contract or prime contract change order  when the ERP Integrations tool (Ryvit or Sage 300 CRE) is enabled. You need to pass query parameter `view=with_erp_data` to retrieve this value.",
            "example": 123
           },
           "project_id": {
            "type": "integer",
            "description": "Unique identifier for the project associated with the markup.",
            "example": 15
           },
           "tax_code_id": {
            "type": "integer",
            "nullable": true,
            "description": "Canonical tax code identifier associated with the markup. This may point to a tax-group code (`is_group: true`) or an individual code. During dual-write migration, writes mirror the first id from `tax_code_ids` when that legacy array is provided. Sending only `tax_code_id: null` is a no-op; clear tax with `tax_code_ids: []`. Existing rows may still return null here until backfill or re-save.",
            "example": 101
           },
           "funding_rule_id": {
            "type": "integer",
            "nullable": true,
            "description": "Unique identifier of the funding rule assigned to this markup. Null when no funding rule is assigned. Pass an active project-level funding rule for this project on create or update; pass null to clear. Accepted on Prime Contract and Potential Change Order markups.",
            "example": 42
           },
           "tax_code_ids": {
            "type": "array",
            "nullable": true,
            "description": "List of unique identifiers for tax codes associated with the markup. Applicable only when advanced calculations are enabled. Still supported during dual-write migration; when both fields are sent, this array is authoritative. Use an empty array to clear tax codes. The scalar `tax_code_id` stores only the first id from this list.",
            "items": {
             "type": "integer"
            },
            "example": [
             101
            ]
           },
           "wbs_code": {
            "type": "object",
            "description": "WBS Code to which the markup percentage will be applied on a project's budget.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the WBS Code.",
              "example": 999
             },
             "flat_code": {
              "type": "string",
              "description": "Code of the WBS Code.",
              "example": "01-011.O"
             },
             "description": {
              "type": "string",
              "nullable": true,
              "description": "Description of the WBS Code.",
              "example": "Purpose.Other"
             },
             "segment_items": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 77
                },
                "code": {
                 "type": "string",
                 "example": "01-001"
                },
                "name": {
                 "type": "string",
                 "example": "Purpose"
                },
                "path_codes": {
                 "type": "array",
                 "items": {
                  "type": "string"
                 },
                 "example": [
                  "01 - General Requirements",
                  "01-001 - Purpose"
                 ]
                },
                "path_ids": {
                 "type": "array",
                 "items": {
                  "type": "integer"
                 },
                 "example": [
                  55,
                  77
                 ]
                },
                "segment_type": {
                 "type": "string",
                 "example": "cost_code"
                },
                "segment_id": {
                 "type": "integer",
                 "example": 88
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/financials/markups',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    holder_type: 'SOME_STRING_VALUE',\n    holder_id: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/financials/markups?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/financials/markups?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/financials/markups?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "General availability of retrieves a list of the Financial Markups API",
      "description": "Retrieves a list of markups associated with the specified holder.  This endpoint supports the Contract and Potential Change Order tools.  Access requires the user to have admin permissions for the relevant tool. For more information see [this page](https://developers.procore.com/reference/rest/financial-markups?version=1.0#retrieve-a-list-of-markups).",
      "endpoint": "GET /financials/markups",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-02-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "financial-markups?version=1.0#retrieve-a-list-of-markups"
     },
     {
      "summary": "Add tax_code_id field to Financial Markups list API",
      "description": "Adds `tax_code_id` as a scalar tax-code field in Financial Markups list responses. Clients may use it while `tax_code_ids` remains supported during the migration.",
      "endpoint": "GET /financials/markups",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-07-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "financial-markups?version=1.0#retrieve-a-list-of-markups"
     },
     {
      "summary": "Add funding_rule_id field to Financial Markups list API",
      "description": "Adds optional `funding_rule_id` to Financial Markups list responses. Null when no funding rule is assigned.",
      "endpoint": "GET /financials/markups",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-08-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "financial-markups?version=1.0#retrieve-a-list-of-markups"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Add a new Markup",
    "description": "Add a new Markup to the holder. This endpoint supports the Contract and Potential Change Order tools.  Access requires the user to have admin permissions for the relevant tool. Markups associated with contracts can be updated at any time. Markups on potential change orders can only be updated when the SOV (Schedule of Values) lines  are in an editable state.",
    "tags": [
     "Contracts",
     "Change Orders",
     "Financial Markups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "description": "ID of the Markup's Project",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "holder_type",
      "in": "query",
      "description": "Type of the Markup's Holder",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "Contract",
        "PotentialChangeOrder"
       ]
      }
     },
     {
      "name": "holder_id",
      "in": "query",
      "description": "ID of the Markup's Holder",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "markup"
        ],
        "properties": {
         "markup": {
          "type": "object",
          "required": [
           "markup_set",
           "name",
           "percentage"
          ],
          "properties": {
           "applies_to_all": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if the markup applies to all change management items within the holder.",
            "example": true
           },
           "compound": {
            "type": "object",
            "description": "Details of the compound calculations for the markup.",
            "properties": {
             "selections": {
              "type": "array",
              "nullable": true,
              "description": "Specifies which existing markups to include in the calculation when 'selective' compounding is chosen.",
              "items": {
               "type": "integer"
              },
              "example": [
               1,
               2,
               3
              ]
             },
             "type": {
              "type": "string",
              "nullable": true,
              "description": "Type of calculation for the markup:\n- **Basic Calculation (null):** Percentage is multiplied by the line items that meet the application criteria.\n- **Compounds all Above (above):** Percentage is multiplied by the line items that meet the application criteria and all preceding markups in the markup table.\n- **Selective Compounding (selective):** Percentage is multiplied by the line items that meet the application criteria and any individually selected markups.\n- **Iterative Calculation or Margin (margin):** Percentage is multiplied by the line item total, including all markups.",
              "example": "above"
             }
            }
           },
           "markup_conditions": {
            "type": "array",
            "nullable": true,
            "description": "Conditions that determine how the markup will be applied to change management items within the holder.",
            "items": {
             "type": "object",
             "properties": {
              "match_type": {
               "type": "string",
               "description": "Specifies whether the condition includes or excludes items.",
               "enum": [
                "excludes",
                "includes"
               ],
               "example": "includes"
              },
              "wbs_segment_id": {
               "type": "integer",
               "description": "Unique identifier for the WBS Segment associated with the markup condition.  Supported segments include Cost Type and Cost Code.",
               "example": 10
              },
              "markup_condition_items": {
               "type": "array",
               "nullable": true,
               "items": {
                "type": "object",
                "properties": {
                 "wbs_segment_item_id": {
                  "type": "integer",
                  "description": "Unique identifier for the WBS Segment Item associated with the markup condition.  If the match type is 'includes' and the WBS Segment is Cost Type,  the markup will be applied to all change management items with the selected Cost Type.",
                  "example": 265
                 }
                }
               }
              }
             }
            }
           },
           "markup_set": {
            "type": "string",
            "description": "Set of the markup.\n- **Horizontal markup:** Calculates the markup amount on an individual line item.\n- **Vertical markup:** Calculates the markup amount as a subtotal on all line items on a change order. \n\nContracts use 'change_orders_horizontal' and 'change_orders_vertical'.  \nPotential Change Orders use 'vertical' and 'horizontal'.",
            "enum": [
             "change_orders_horizontal",
             "change_orders_vertical",
             "horizontal",
             "vertical"
            ],
            "example": "vertical"
           },
           "name": {
            "type": "string",
            "description": "Name of the markup.",
            "example": "Profit"
           },
           "percentage": {
            "type": "string",
            "format": "decimal",
            "description": "Percentage value of the markup. The default precision is 50.",
            "example": "5.25"
           },
           "position": {
            "type": "integer",
            "description": "Position of the markup in the markup set of the holder.  The default is the next available position, starting at 1.",
            "example": 1
           },
           "prime_line_item_id": {
            "type": "integer",
            "nullable": true,
            "description": "Unique identifier for the Prime Contract Line Item associated with the markup.  This ensures synchronization between the estimated value (without vertical markup) and  the revenue value (with vertical markup) in the integrated ERP system.  Applicable only to vertical markups on a prime contract or prime contract change order  when the ERP Integrations tool (Ryvit or Sage 300 CRE) is enabled. You need to pass query parameter `view=with_erp_data` to retrieve this value.",
            "example": 123
           },
           "tax_code_id": {
            "type": "integer",
            "nullable": true,
            "description": "Canonical tax code identifier associated with the markup. This may point to a tax-group code (`is_group: true`) or an individual code. During dual-write migration, writes mirror the first id from `tax_code_ids` when that legacy array is provided. Sending only `tax_code_id: null` is a no-op; clear tax with `tax_code_ids: []`. Existing rows may still return null here until backfill or re-save.",
            "example": 101
           },
           "funding_rule_id": {
            "type": "integer",
            "nullable": true,
            "description": "Unique identifier of the funding rule assigned to this markup. Null when no funding rule is assigned. Pass an active project-level funding rule for this project on create or update; pass null to clear. Accepted on Prime Contract and Potential Change Order markups.",
            "example": 42
           },
           "tax_code_ids": {
            "type": "array",
            "nullable": true,
            "description": "List of unique identifiers for tax codes associated with the markup. Applicable only when advanced calculations are enabled. Still supported during dual-write migration; when both fields are sent, this array is authoritative. Use an empty array to clear tax codes. The scalar `tax_code_id` stores only the first id from this list.",
            "items": {
             "type": "integer"
            },
            "example": [
             101
            ]
           },
           "wbs_code_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the Wbs Code the Markup percentage will be applied to on a project's budget. Default is ID of the `None` Wbs Code.",
            "example": 999
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Financial Markup",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for the markup.",
           "example": 121
          },
          "applies_to_all": {
           "type": "boolean",
           "default": false,
           "description": "Indicates if the markup applies to all change management items within the holder.",
           "example": true
          },
          "compound": {
           "type": "object",
           "description": "Details of the compound calculations for the markup.",
           "properties": {
            "selections": {
             "type": "array",
             "nullable": true,
             "description": "Specifies which existing markups to include in the calculation when 'selective' compounding is chosen.",
             "items": {
              "type": "integer"
             },
             "example": [
              1,
              2,
              3
             ]
            },
            "type": {
             "type": "string",
             "nullable": true,
             "description": "Type of calculation for the markup:\n- **Basic Calculation (null):** Percentage is multiplied by the line items that meet the application criteria.\n- **Compounds all Above (above):** Percentage is multiplied by the line items that meet the application criteria and all preceding markups in the markup table.\n- **Selective Compounding (selective):** Percentage is multiplied by the line items that meet the application criteria and any individually selected markups.\n- **Iterative Calculation or Margin (margin):** Percentage is multiplied by the line item total, including all markups.",
             "example": "above"
            }
           }
          },
          "holder_id": {
           "type": "integer",
           "description": "Unique identifier for the markup holder.",
           "example": 29
          },
          "holder_type": {
           "type": "string",
           "description": "Type of the markup holder.",
           "enum": [
            "Contract",
            "PotentialChangeOrder"
           ],
           "example": "Contract"
          },
          "markup_conditions": {
           "type": "array",
           "nullable": true,
           "description": "Conditions that determine how the markup will be applied to change management items within the holder.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the markup condition.",
              "example": 231
             },
             "match_type": {
              "type": "string",
              "description": "Specifies whether the condition includes or excludes items.",
              "enum": [
               "excludes",
               "includes"
              ],
              "example": "includes"
             },
             "wbs_segment_id": {
              "type": "integer",
              "description": "Unique identifier for the WBS Segment associated with the markup condition.  Supported segments include Cost Type and Cost Code.",
              "example": 10
             },
             "markup_condition_items": {
              "type": "array",
              "nullable": true,
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier for the markup condition item.",
                 "example": 764
                },
                "wbs_segment_item_id": {
                 "type": "integer",
                 "description": "Unique identifier for the WBS Segment Item associated with the markup condition.  If the match type is 'includes' and the WBS Segment is Cost Type,  the markup will be applied to all change management items with the selected Cost Type.",
                 "example": 265
                }
               }
              }
             }
            }
           }
          },
          "markup_set": {
           "type": "string",
           "description": "Set of the markup.\n- **Horizontal markup:** Calculates the markup amount on an individual line item.\n- **Vertical markup:** Calculates the markup amount as a subtotal on all line items on a change order. \n\nContracts use 'change_orders_horizontal' and 'change_orders_vertical'.  \nPotential Change Orders use 'vertical' and 'horizontal'.",
           "enum": [
            "change_orders_horizontal",
            "change_orders_vertical",
            "horizontal",
            "vertical"
           ],
           "example": "vertical"
          },
          "name": {
           "type": "string",
           "description": "Name of the markup.",
           "example": "Profit"
          },
          "percentage": {
           "type": "string",
           "format": "decimal",
           "description": "Percentage value of the markup. The default precision is 50.",
           "example": "5.25"
          },
          "position": {
           "type": "integer",
           "description": "Position of the markup in the markup set of the holder.  The default is the next available position, starting at 1.",
           "example": 1
          },
          "prime_line_item_id": {
           "type": "integer",
           "nullable": true,
           "description": "Unique identifier for the Prime Contract Line Item associated with the markup.  This ensures synchronization between the estimated value (without vertical markup) and  the revenue value (with vertical markup) in the integrated ERP system.  Applicable only to vertical markups on a prime contract or prime contract change order  when the ERP Integrations tool (Ryvit or Sage 300 CRE) is enabled. You need to pass query parameter `view=with_erp_data` to retrieve this value.",
           "example": 123
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project associated with the markup.",
           "example": 15
          },
          "tax_code_id": {
           "type": "integer",
           "nullable": true,
           "description": "Canonical tax code identifier associated with the markup. This may point to a tax-group code (`is_group: true`) or an individual code. During dual-write migration, writes mirror the first id from `tax_code_ids` when that legacy array is provided. Sending only `tax_code_id: null` is a no-op; clear tax with `tax_code_ids: []`. Existing rows may still return null here until backfill or re-save.",
           "example": 101
          },
          "funding_rule_id": {
           "type": "integer",
           "nullable": true,
           "description": "Unique identifier of the funding rule assigned to this markup. Null when no funding rule is assigned. Pass an active project-level funding rule for this project on create or update; pass null to clear. Accepted on Prime Contract and Potential Change Order markups.",
           "example": 42
          },
          "tax_code_ids": {
           "type": "array",
           "nullable": true,
           "description": "List of unique identifiers for tax codes associated with the markup. Applicable only when advanced calculations are enabled. Still supported during dual-write migration; when both fields are sent, this array is authoritative. Use an empty array to clear tax codes. The scalar `tax_code_id` stores only the first id from this list.",
           "items": {
            "type": "integer"
           },
           "example": [
            101
           ]
          },
          "wbs_code": {
           "type": "object",
           "description": "WBS Code to which the markup percentage will be applied on a project's budget.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for the WBS Code.",
             "example": 999
            },
            "flat_code": {
             "type": "string",
             "description": "Code of the WBS Code.",
             "example": "01-011.O"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the WBS Code.",
             "example": "Purpose.Other"
            },
            "segment_items": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 77
               },
               "code": {
                "type": "string",
                "example": "01-001"
               },
               "name": {
                "type": "string",
                "example": "Purpose"
               },
               "path_codes": {
                "type": "array",
                "items": {
                 "type": "string"
                },
                "example": [
                 "01 - General Requirements",
                 "01-001 - Purpose"
                ]
               },
               "path_ids": {
                "type": "array",
                "items": {
                 "type": "integer"
                },
                "example": [
                 55,
                 77
                ]
               },
               "segment_type": {
                "type": "string",
                "example": "cost_code"
               },
               "segment_id": {
                "type": "integer",
                "example": 88
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/financials/markups',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    holder_type: 'SOME_STRING_VALUE',\n    holder_id: 'SOME_INTEGER_VALUE'\n  },\n  headers: {'content-type': 'application/json'},\n  body: {\n    markup: {\n      applies_to_all: true,\n      compound: {selections: [1, 2, 3], type: 'above'},\n      markup_conditions: [\n        {\n          match_type: 'includes',\n          wbs_segment_id: 10,\n          markup_condition_items: [{wbs_segment_item_id: 265}]\n        }\n      ],\n      markup_set: 'vertical',\n      name: 'Profit',\n      percentage: '5.25',\n      position: 1,\n      prime_line_item_id: 123,\n      tax_code_id: 101,\n      funding_rule_id: 42,\n      tax_code_ids: [101],\n      wbs_code_id: 999\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"markup\\\":{\\\"applies_to_all\\\":true,\\\"compound\\\":{\\\"selections\\\":[1,2,3],\\\"type\\\":\\\"above\\\"},\\\"markup_conditions\\\":[{\\\"match_type\\\":\\\"includes\\\",\\\"wbs_segment_id\\\":10,\\\"markup_condition_items\\\":[{\\\"wbs_segment_item_id\\\":265}]}],\\\"markup_set\\\":\\\"vertical\\\",\\\"name\\\":\\\"Profit\\\",\\\"percentage\\\":\\\"5.25\\\",\\\"position\\\":1,\\\"prime_line_item_id\\\":123,\\\"tax_code_id\\\":101,\\\"funding_rule_id\\\":42,\\\"tax_code_ids\\\":[101],\\\"wbs_code_id\\\":999}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/financials/markups?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/financials/markups?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"markup\":{\"applies_to_all\":true,\"compound\":{\"selections\":[1,2,3],\"type\":\"above\"},\"markup_conditions\":[{\"match_type\":\"includes\",\"wbs_segment_id\":10,\"markup_condition_items\":[{\"wbs_segment_item_id\":265}]}],\"markup_set\":\"vertical\",\"name\":\"Profit\",\"percentage\":\"5.25\",\"position\":1,\"prime_line_item_id\":123,\"tax_code_id\":101,\"funding_rule_id\":42,\"tax_code_ids\":[101],\"wbs_code_id\":999}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/financials/markups?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"markup\\\":{\\\"applies_to_all\\\":true,\\\"compound\\\":{\\\"selections\\\":[1,2,3],\\\"type\\\":\\\"above\\\"},\\\"markup_conditions\\\":[{\\\"match_type\\\":\\\"includes\\\",\\\"wbs_segment_id\\\":10,\\\"markup_condition_items\\\":[{\\\"wbs_segment_item_id\\\":265}]}],\\\"markup_set\\\":\\\"vertical\\\",\\\"name\\\":\\\"Profit\\\",\\\"percentage\\\":\\\"5.25\\\",\\\"position\\\":1,\\\"prime_line_item_id\\\":123,\\\"tax_code_id\\\":101,\\\"funding_rule_id\\\":42,\\\"tax_code_ids\\\":[101],\\\"wbs_code_id\\\":999}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "General availability of add a Financial Markups API",
      "description": "Add a new Markup to the holder. This endpoint supports the Contract and Potential Change Order tools.  Access requires the user to have admin permissions for the relevant tool. Markups associated with contracts can be updated at any time. Markups on potential change orders can only be updated when the SOV (Schedule of Values) lines  are in an editable state. For more information see [this page](https://developers.procore.com/reference/rest/financial-markups?version=1.0#add-a-new-markup).",
      "endpoint": "POST /financials/markups",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-02-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "financial-markups?version=1.0#add-a-new-markup"
     },
     {
      "summary": "Add tax_code_id field to Financial Markups create API",
      "description": "Adds `tax_code_id` as a scalar tax-code field in Financial Markups create requests and responses. Clients may use it while `tax_code_ids` remains supported during the migration. When both are sent, `tax_code_ids` is authoritative and `tax_code_id` mirrors the first id. Clear tax codes with `tax_code_ids: []`; sending only `tax_code_id: null` is a no-op.",
      "endpoint": "POST /financials/markups",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-07-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "financial-markups?version=1.0#add-a-new-markup"
     },
     {
      "summary": "Add funding_rule_id field to Financial Markups create API",
      "description": "Adds optional `funding_rule_id` to Financial Markups create requests and responses. Assign an active project-level funding rule, or omit/null when unassigned. Accepted on Prime Contract and Potential Change Order markups.",
      "endpoint": "POST /financials/markups",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-08-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "financial-markups?version=1.0#add-a-new-markup"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/financials/markups/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Retrieve details for the Markup",
    "description": "Retrieve details for the Markup for specified holder. This endpoint supports the Contract and Potential Change Order tools.  Access requires the user to have admin permissions for the relevant tool",
    "tags": [
     "Contracts",
     "Change Orders",
     "Financial Markups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "description": "ID of the Markup's Project",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "holder_type",
      "in": "query",
      "description": "Type of the Markup's Holder",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "Contract",
        "PotentialChangeOrder"
       ]
      }
     },
     {
      "name": "holder_id",
      "in": "query",
      "description": "ID of the Markup's Holder",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the Markup",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Financial Markup",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for the markup.",
           "example": 121
          },
          "applies_to_all": {
           "type": "boolean",
           "default": false,
           "description": "Indicates if the markup applies to all change management items within the holder.",
           "example": true
          },
          "compound": {
           "type": "object",
           "description": "Details of the compound calculations for the markup.",
           "properties": {
            "selections": {
             "type": "array",
             "nullable": true,
             "description": "Specifies which existing markups to include in the calculation when 'selective' compounding is chosen.",
             "items": {
              "type": "integer"
             },
             "example": [
              1,
              2,
              3
             ]
            },
            "type": {
             "type": "string",
             "nullable": true,
             "description": "Type of calculation for the markup:\n- **Basic Calculation (null):** Percentage is multiplied by the line items that meet the application criteria.\n- **Compounds all Above (above):** Percentage is multiplied by the line items that meet the application criteria and all preceding markups in the markup table.\n- **Selective Compounding (selective):** Percentage is multiplied by the line items that meet the application criteria and any individually selected markups.\n- **Iterative Calculation or Margin (margin):** Percentage is multiplied by the line item total, including all markups.",
             "example": "above"
            }
           }
          },
          "holder_id": {
           "type": "integer",
           "description": "Unique identifier for the markup holder.",
           "example": 29
          },
          "holder_type": {
           "type": "string",
           "description": "Type of the markup holder.",
           "enum": [
            "Contract",
            "PotentialChangeOrder"
           ],
           "example": "Contract"
          },
          "markup_conditions": {
           "type": "array",
           "nullable": true,
           "description": "Conditions that determine how the markup will be applied to change management items within the holder.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the markup condition.",
              "example": 231
             },
             "match_type": {
              "type": "string",
              "description": "Specifies whether the condition includes or excludes items.",
              "enum": [
               "excludes",
               "includes"
              ],
              "example": "includes"
             },
             "wbs_segment_id": {
              "type": "integer",
              "description": "Unique identifier for the WBS Segment associated with the markup condition.  Supported segments include Cost Type and Cost Code.",
              "example": 10
             },
             "markup_condition_items": {
              "type": "array",
              "nullable": true,
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier for the markup condition item.",
                 "example": 764
                },
                "wbs_segment_item_id": {
                 "type": "integer",
                 "description": "Unique identifier for the WBS Segment Item associated with the markup condition.  If the match type is 'includes' and the WBS Segment is Cost Type,  the markup will be applied to all change management items with the selected Cost Type.",
                 "example": 265
                }
               }
              }
             }
            }
           }
          },
          "markup_set": {
           "type": "string",
           "description": "Set of the markup.\n- **Horizontal markup:** Calculates the markup amount on an individual line item.\n- **Vertical markup:** Calculates the markup amount as a subtotal on all line items on a change order. \n\nContracts use 'change_orders_horizontal' and 'change_orders_vertical'.  \nPotential Change Orders use 'vertical' and 'horizontal'.",
           "enum": [
            "change_orders_horizontal",
            "change_orders_vertical",
            "horizontal",
            "vertical"
           ],
           "example": "vertical"
          },
          "name": {
           "type": "string",
           "description": "Name of the markup.",
           "example": "Profit"
          },
          "percentage": {
           "type": "string",
           "format": "decimal",
           "description": "Percentage value of the markup. The default precision is 50.",
           "example": "5.25"
          },
          "position": {
           "type": "integer",
           "description": "Position of the markup in the markup set of the holder.  The default is the next available position, starting at 1.",
           "example": 1
          },
          "prime_line_item_id": {
           "type": "integer",
           "nullable": true,
           "description": "Unique identifier for the Prime Contract Line Item associated with the markup.  This ensures synchronization between the estimated value (without vertical markup) and  the revenue value (with vertical markup) in the integrated ERP system.  Applicable only to vertical markups on a prime contract or prime contract change order  when the ERP Integrations tool (Ryvit or Sage 300 CRE) is enabled. You need to pass query parameter `view=with_erp_data` to retrieve this value.",
           "example": 123
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project associated with the markup.",
           "example": 15
          },
          "tax_code_id": {
           "type": "integer",
           "nullable": true,
           "description": "Canonical tax code identifier associated with the markup. This may point to a tax-group code (`is_group: true`) or an individual code. During dual-write migration, writes mirror the first id from `tax_code_ids` when that legacy array is provided. Sending only `tax_code_id: null` is a no-op; clear tax with `tax_code_ids: []`. Existing rows may still return null here until backfill or re-save.",
           "example": 101
          },
          "funding_rule_id": {
           "type": "integer",
           "nullable": true,
           "description": "Unique identifier of the funding rule assigned to this markup. Null when no funding rule is assigned. Pass an active project-level funding rule for this project on create or update; pass null to clear. Accepted on Prime Contract and Potential Change Order markups.",
           "example": 42
          },
          "tax_code_ids": {
           "type": "array",
           "nullable": true,
           "description": "List of unique identifiers for tax codes associated with the markup. Applicable only when advanced calculations are enabled. Still supported during dual-write migration; when both fields are sent, this array is authoritative. Use an empty array to clear tax codes. The scalar `tax_code_id` stores only the first id from this list.",
           "items": {
            "type": "integer"
           },
           "example": [
            101
           ]
          },
          "wbs_code": {
           "type": "object",
           "description": "WBS Code to which the markup percentage will be applied on a project's budget.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for the WBS Code.",
             "example": 999
            },
            "flat_code": {
             "type": "string",
             "description": "Code of the WBS Code.",
             "example": "01-011.O"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the WBS Code.",
             "example": "Purpose.Other"
            },
            "segment_items": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 77
               },
               "code": {
                "type": "string",
                "example": "01-001"
               },
               "name": {
                "type": "string",
                "example": "Purpose"
               },
               "path_codes": {
                "type": "array",
                "items": {
                 "type": "string"
                },
                "example": [
                 "01 - General Requirements",
                 "01-001 - Purpose"
                ]
               },
               "path_ids": {
                "type": "array",
                "items": {
                 "type": "integer"
                },
                "example": [
                 55,
                 77
                ]
               },
               "segment_type": {
                "type": "string",
                "example": "cost_code"
               },
               "segment_id": {
                "type": "integer",
                "example": 88
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/financials/markups/%7Bid%7D',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    holder_type: 'SOME_STRING_VALUE',\n    holder_id: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/financials/markups/%7Bid%7D?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/financials/markups/%7Bid%7D?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/financials/markups/%7Bid%7D?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "General availability of retrieve details for the Financial Markups API",
      "description": "Retrieve details for the specified markup. This endpoint supports the Contract and Potential Change Order tools.  Access requires the user to have admin permissions for the relevant tool. For more information see [this page](https://developers.procore.com/reference/rest/financial-markups?version=1.0#retrieve-details-for-the-markup).",
      "endpoint": "GET /financials/markups/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-02-05",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "financial-markups?version=1.0#retrieve-details-for-the-markup"
     },
     {
      "summary": "Add tax_code_id field to Financial Markups retrieve-details API",
      "description": "Adds `tax_code_id` as a scalar tax-code field in Financial Markups retrieve-details responses. Clients may use it while `tax_code_ids` remains supported during the migration.",
      "endpoint": "GET /financials/markups/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-07-21",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "financial-markups?version=1.0#retrieve-details-for-the-markup"
     },
     {
      "summary": "Add funding_rule_id field to Financial Markups retrieve-details API",
      "description": "Adds optional `funding_rule_id` to Financial Markups retrieve-details responses. Null when no funding rule is assigned.",
      "endpoint": "GET /financials/markups/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-08-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "financial-markups?version=1.0#retrieve-details-for-the-markup"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Modify an existing Markup",
    "description": "Modify an existing Markup with new data for specified holder. This endpoint supports the Contract and Potential Change Order tools.  Access requires the user to have admin permissions for the relevant tool. Markups associated with contracts can be updated at any time. Markups on potential change orders can only be updated when the SOV (Schedule of Values) lines  are in an editable state",
    "tags": [
     "Contracts",
     "Change Orders",
     "Financial Markups"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "description": "ID of the Markup's Project",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "holder_type",
      "in": "query",
      "description": "Type of the Markup's Holder",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "Contract",
        "PotentialChangeOrder"
       ]
      }
     },
     {
      "name": "holder_id",
      "in": "query",
      "description": "ID of the Markup's Holder",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the Markup",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "markup"
        ],
        "properties": {
         "markup": {
          "type": "object",
          "properties": {
           "applies_to_all": {
            "type": "boolean",
            "default": false,
            "description": "Indicates if the markup applies to all change management items within the holder.",
            "example": true
           },
           "compound": {
            "type": "object",
            "description": "Details of the compound calculations for the markup.",
            "properties": {
             "selections": {
              "type": "array",
              "nullable": true,
              "description": "Specifies which existing markups to include in the calculation when 'selective' compounding is chosen.",
              "items": {
               "type": "integer"
              },
              "example": [
               1,
               2,
               3
              ]
             },
             "type": {
              "type": "string",
              "nullable": true,
              "description": "Type of calculation for the markup:\n- **Basic Calculation (null):** Percentage is multiplied by the line items that meet the application criteria.\n- **Compounds all Above (above):** Percentage is multiplied by the line items that meet the application criteria and all preceding markups in the markup table.\n- **Selective Compounding (selective):** Percentage is multiplied by the line items that meet the application criteria and any individually selected markups.\n- **Iterative Calculation or Margin (margin):** Percentage is multiplied by the line item total, including all markups.",
              "example": "above"
             }
            }
           },
           "markup_conditions": {
            "type": "array",
            "nullable": true,
            "description": "Conditions that determine how the markup will be applied to change management items within the holder.",
            "items": {
             "type": "object",
             "properties": {
              "_destroy": {
               "type": "boolean",
               "description": "Indicates whether the markup condition should be deleted.",
               "example": true
              },
              "id": {
               "type": "integer",
               "description": "Unique identifier for the markup condition.  Provide this value to update an existing condition;  if not provided, a new condition will be created.",
               "example": 231
              },
              "match_type": {
               "type": "string",
               "description": "Specifies whether the condition includes or excludes items.",
               "enum": [
                "excludes",
                "includes"
               ],
               "example": "includes"
              },
              "wbs_segment_id": {
               "type": "integer",
               "description": "Unique identifier for the WBS Segment associated with the markup condition.  Supported segments include Cost Type and Cost Code.",
               "example": 10
              },
              "markup_condition_items": {
               "type": "array",
               "nullable": true,
               "items": {
                "type": "object",
                "properties": {
                 "_destroy": {
                  "type": "boolean",
                  "description": "Indicates whether the markup condition should be deleted.",
                  "example": true
                 },
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the markup condition item. Provide this value to update an existing condition; if not provided, a new condition will be created.",
                  "example": 764
                 },
                 "wbs_segment_item_id": {
                  "type": "integer",
                  "description": "Unique identifier for the WBS Segment Item associated with the markup condition.  If the match type is 'includes' and the WBS Segment is Cost Type,  the markup will be applied to all change management items with the selected Cost Type.",
                  "example": 265
                 }
                }
               }
              }
             }
            }
           },
           "markup_set": {
            "type": "string",
            "description": "Set of the markup.\n- **Horizontal markup:** Calculates the markup amount on an individual line item.\n- **Vertical markup:** Calculates the markup amount as a subtotal on all line items on a change order. \n\nContracts use 'change_orders_horizontal' and 'change_orders_vertical'.  \nPotential Change Orders use 'vertical' and 'horizontal'.",
            "enum": [
             "change_orders_horizontal",
             "change_orders_vertical",
             "horizontal",
             "vertical"
            ],
            "example": "vertical"
           },
           "name": {
            "type": "string",
            "description": "Name of the markup.",
            "example": "Profit"
           },
           "percentage": {
            "type": "string",
            "format": "decimal",
            "description": "Percentage value of the markup. The default precision is 50.",
            "example": "5.25"
           },
           "position": {
            "type": "integer",
            "description": "Position of the markup in the markup set of the holder.  The default is the next available position, starting at 1.",
            "example": 1
           },
           "prime_line_item_id": {
            "type": "integer",
            "nullable": true,
            "description": "Unique identifier for the Prime Contract Line Item associated with the markup.  This ensures synchronization between the estimated value (without vertical markup) and  the revenue value (with vertical markup) in the integrated ERP system.  Applicable only to vertical markups on a prime contract or prime contract change order  when the ERP Integrations tool (Ryvit or Sage 300 CRE) is enabled. You need to pass query parameter `view=with_erp_data` to retrieve this value.",
            "example": 123
           },
           "tax_code_id": {
            "type": "integer",
            "nullable": true,
            "description": "Canonical tax code identifier associated with the markup. This may point to a tax-group code (`is_group: true`) or an individual code. During dual-write migration, writes mirror the first id from `tax_code_ids` when that legacy array is provided. Sending only `tax_code_id: null` is a no-op; clear tax with `tax_code_ids: []`. Existing rows may still return null here until backfill or re-save.",
            "example": 101
           },
           "funding_rule_id": {
            "type": "integer",
            "nullable": true,
            "description": "Unique identifier of the funding rule assigned to this markup. Null when no funding rule is assigned. Pass an active project-level funding rule for this project on create or update; pass null to clear. Accepted on Prime Contract and Potential Change Order markups.",
            "example": 42
           },
           "tax_code_ids": {
            "type": "array",
            "nullable": true,
            "description": "List of unique identifiers for tax codes associated with the markup. Applicable only when advanced calculations are enabled. Still supported during dual-write migration; when both fields are sent, this array is authoritative. Use an empty array to clear tax codes. The scalar `tax_code_id` stores only the first id from this list.",
            "items": {
             "type": "integer"
            },
            "example": [
             101
            ]
           },
           "wbs_code_id": {
            "type": "integer",
            "nullable": true,
            "description": "ID of the Wbs Code the Markup percentage will be applied to on a project's budget. Default is ID of the `None` Wbs Code.",
            "example": 999
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Financial Markup",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for the markup.",
           "example": 121
          },
          "applies_to_all": {
           "type": "boolean",
           "default": false,
           "description": "Indicates if the markup applies to all change management items within the holder.",
           "example": true
          },
          "compound": {
           "type": "object",
           "description": "Details of the compound calculations for the markup.",
           "properties": {
            "selections": {
             "type": "array",
             "nullable": true,
             "description": "Specifies which existing markups to include in the calculation when 'selective' compounding is chosen.",
             "items": {
              "type": "integer"
             },
             "example": [
              1,
              2,
              3
             ]
            },
            "type": {
             "type": "string",
             "nullable": true,
             "description": "Type of calculation for the markup:\n- **Basic Calculation (null):** Percentage is multiplied by the line items that meet the application criteria.\n- **Compounds all Above (above):** Percentage is multiplied by the line items that meet the application criteria and all preceding markups in the markup table.\n- **Selective Compounding (selective):** Percentage is multiplied by the line items that meet the application criteria and any individually selected markups.\n- **Iterative Calculation or Margin (margin):** Percentage is multiplied by the line item total, including all markups.",
             "example": "above"
            }
           }
          },
          "holder_id": {
           "type": "integer",
           "description": "Unique identifier for the markup holder.",
           "example": 29
          },
          "holder_type": {
           "type": "string",
           "description": "Type of the markup holder.",
           "enum": [
            "Contract",
            "PotentialChangeOrder"
           ],
           "example": "Contract"
          },
          "markup_conditions": {
           "type": "array",
           "nullable": true,
           "description": "Conditions that determine how the markup will be applied to change management items within the holder.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the markup condition.",
              "example": 231
             },
             "match_type": {
              "type": "string",
              "description": "Specifies whether the condition includes or excludes items.",
              "enum": [
               "excludes",
               "includes"
              ],
              "example": "includes"
             },
             "wbs_segment_id": {
              "type": "integer",
              "description": "Unique identifier for the WBS Segment associated with the markup condition.  Supported segments include Cost Type and Cost Code.",
              "example": 10
             },
             "markup_condition_items": {
              "type": "array",
              "nullable": true,
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Unique identifier for the markup condition item.",
                 "example": 764
                },
                "wbs_segment_item_id": {
                 "type": "integer",
                 "description": "Unique identifier for the WBS Segment Item associated with the markup condition.  If the match type is 'includes' and the WBS Segment is Cost Type,  the markup will be applied to all change management items with the selected Cost Type.",
                 "example": 265
                }
               }
              }
             }
            }
           }
          },
          "markup_set": {
           "type": "string",
           "description": "Set of the markup.\n- **Horizontal markup:** Calculates the markup amount on an individual line item.\n- **Vertical markup:** Calculates the markup amount as a subtotal on all line items on a change order. \n\nContracts use 'change_orders_horizontal' and 'change_orders_vertical'.  \nPotential Change Orders use 'vertical' and 'horizontal'.",
           "enum": [
            "change_orders_horizontal",
            "change_orders_vertical",
            "horizontal",
            "vertical"
           ],
           "example": "vertical"
          },
          "name": {
           "type": "string",
           "description": "Name of the markup.",
           "example": "Profit"
          },
          "percentage": {
           "type": "string",
           "format": "decimal",
           "description": "Percentage value of the markup. The default precision is 50.",
           "example": "5.25"
          },
          "position": {
           "type": "integer",
           "description": "Position of the markup in the markup set of the holder.  The default is the next available position, starting at 1.",
           "example": 1
          },
          "prime_line_item_id": {
           "type": "integer",
           "nullable": true,
           "description": "Unique identifier for the Prime Contract Line Item associated with the markup.  This ensures synchronization between the estimated value (without vertical markup) and  the revenue value (with vertical markup) in the integrated ERP system.  Applicable only to vertical markups on a prime contract or prime contract change order  when the ERP Integrations tool (Ryvit or Sage 300 CRE) is enabled. You need to pass query parameter `view=with_erp_data` to retrieve this value.",
           "example": 123
          },
          "project_id": {
           "type": "integer",
           "description": "Unique identifier for the project associated with the markup.",
           "example": 15
          },
          "tax_code_id": {
           "type": "integer",
           "nullable": true,
           "description": "Canonical tax code identifier associated with the markup. This may point to a tax-group code (`is_group: true`) or an individual code. During dual-write migration, writes mirror the first id from `tax_code_ids` when that legacy array is provided. Sending only `tax_code_id: null` is a no-op; clear tax with `tax_code_ids: []`. Existing rows may still return null here until backfill or re-save.",
           "example": 101
          },
          "funding_rule_id": {
           "type": "integer",
           "nullable": true,
           "description": "Unique identifier of the funding rule assigned to this markup. Null when no funding rule is assigned. Pass an active project-level funding rule for this project on create or update; pass null to clear. Accepted on Prime Contract and Potential Change Order markups.",
           "example": 42
          },
          "tax_code_ids": {
           "type": "array",
           "nullable": true,
           "description": "List of unique identifiers for tax codes associated with the markup. Applicable only when advanced calculations are enabled. Still supported during dual-write migration; when both fields are sent, this array is authoritative. Use an empty array to clear tax codes. The scalar `tax_code_id` stores only the first id from this list.",
           "items": {
            "type": "integer"
           },
           "example": [
            101
           ]
          },
          "wbs_code": {
           "type": "object",
           "description": "WBS Code to which the markup percentage will be applied on a project's budget.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for the WBS Code.",
             "example": 999
            },
            "flat_code": {
             "type": "string",
             "description": "Code of the WBS Code.",
             "example": "01-011.O"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the WBS Code.",
             "example": "Purpose.Other"
            },
            "segment_items": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 77
               },
               "code": {
                "type": "string",
                "example": "01-001"
               },
               "name": {
                "type": "string",
                "example": "Purpose"
               },
               "path_codes": {
                "type": "array",
                "items": {
                 "type": "string"
                },
                "example": [
                 "01 - General Requirements",
                 "01-001 - Purpose"
                ]
               },
               "path_ids": {
                "type": "array",
                "items": {
                 "type": "integer"
                },
                "example": [
                 55,
                 77
                ]
               },
               "segment_type": {
                "type": "string",
                "example": "cost_code"
               },
               "segment_id": {
                "type": "integer",
                "example": 88
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/financials/markups/%7Bid%7D',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    holder_type: 'SOME_STRING_VALUE',\n    holder_id: 'SOME_INTEGER_VALUE'\n  },\n  headers: {'content-type': 'application/json'},\n  body: {\n    markup: {\n      applies_to_all: true,\n      compound: {selections: [1, 2, 3], type: 'above'},\n      markup_conditions: [\n        {\n          _destroy: true,\n          id: 231,\n          match_type: 'includes',\n          wbs_segment_id: 10,\n          markup_condition_items: [{_destroy: true, id: 764, wbs_segment_item_id: 265}]\n        }\n      ],\n      markup_set: 'vertical',\n      name: 'Profit',\n      percentage: '5.25',\n      position: 1,\n      prime_line_item_id: 123,\n      tax_code_id: 101,\n      funding_rule_id: 42,\n      tax_code_ids: [101],\n      wbs_code_id: 999\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"markup\\\":{\\\"applies_to_all\\\":true,\\\"compound\\\":{\\\"selections\\\":[1,2,3],\\\"type\\\":\\\"above\\\"},\\\"markup_conditions\\\":[{\\\"_destroy\\\":true,\\\"id\\\":231,\\\"match_type\\\":\\\"includes\\\",\\\"wbs_segment_id\\\":10,\\\"markup_condition_items\\\":[{\\\"_destroy\\\":true,\\\"id\\\":764,\\\"wbs_segment_item_id\\\":265}]}],\\\"markup_set\\\":\\\"vertical\\\",\\\"name\\\":\\\"Profit\\\",\\\"percentage\\\":\\\"5.25\\\",\\\"position\\\":1,\\\"prime_line_item_id\\\":123,\\\"tax_code_id\\\":101,\\\"funding_rule_id\\\":42,\\\"tax_code_ids\\\":[101],\\\"wbs_code_id\\\":999}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/financials/markups/%7Bid%7D?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/financials/markups/%7Bid%7D?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"markup\":{\"applies_to_all\":true,\"compound\":{\"selections\":[1,2,3],\"type\":\"above\"},\"markup_conditions\":[{\"_destroy\":true,\"id\":231,\"match_type\":\"includes\",\"wbs_segment_id\":10,\"markup_condition_items\":[{\"_destroy\":true,\"id\":764,\"wbs_segment_item_id\":265}]}],\"markup_set\":\"vertical\",\"name\":\"Profit\",\"percentage\":\"5.25\",\"position\":1,\"prime_line_item_id\":123,\"tax_code_id\":101,\"funding_rule_id\":42,\"tax_code_ids\":[101],\"wbs_code_id\":999}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/financials/markups/%7Bid%7D?project_id=SOME_INTEGER_VALUE&holder_type=SOME_STRING_VALUE&holder_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"markup\\\":{\\\"applies_to_all\\\":true,\\\"compound\\\":{\\\"selections\\\":[1,2,3],\\\"type\\\":\\\"above\\\"},\\\"markup_conditions\\\":[{\\\"_destroy\\\":true,\\\"id\\\":231,\\\"match_type\\\":\\\"includes\\\",\\\"wbs_segment_id\\\":10,\\\"markup_condition_items\\\":[{\\\"_destroy\\\":true,\\\"id\\\":764,\\\"wbs_segment_item_id\\\":265}]}],\\\"markup_set\\\":\\\"vertical\\\",\\\"name\\\":\\\"Profit\\\",\\\"percentage\\\":\\\"5.25\\\",\\\"position\\\":1,\\\"prime_line_item_id\\\":123,\\\"tax_code_id\\\":101,\\\"funding_rule_id\\\":42,\\\"tax_code_ids\\\":[101],\\\"wbs_code_id\\\":999}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "General availability of modify an existing Financial Markups API",
      "description": "Modify an existing markup. This endpoint supports the Contract and Potential Change Order tools.  Access requires the user to have admin permissions for the relevant tool. Markups associated with contracts can be updated at any time. Markups on potential change orders can only be updated when the SOV (Schedule of Values) lines  are in an editable state. For more information see [this page](https://developers.procore.com/reference/rest/financial-markups?version=1.0#modify-an-existing-markup).",
      "endpoint": "PATCH /financials/markups/{id}",
[...]
