{
 "openapi": "3.0.0",
 "info": {
  "title": "Form Templates",
  "x-product-category": "Project Management",
  "x-tool-category": "Forms",
  "x-resource-name": "Form Templates",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/form_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Form Templates from Project",
    "description": "Returns a collection of Company Form Templates for a specified Project.",
    "tags": [
     "Forms"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Company Form Templates",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Form Template. Use as the {id} path parameter to retrieve, update, or delete a specific Form Template.",
            "example": 999
           },
           "name": {
            "type": "string",
            "description": "Human-readable name of the Form Template, shown to users when selecting a template to fill out.",
            "example": "Inspection Form Template"
           },
           "description": {
            "type": "string",
            "description": "Longer description explaining the purpose of the Form Template or instructions for completing it.",
            "example": "This is a Form Template"
           },
           "created_at": {
            "type": "string",
            "description": "Timestamp when the Form Template was created, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp when the Form Template was last updated, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "archived_at": {
            "type": "string",
            "nullable": true,
            "description": "Timestamp when the Form Template was archived, in ISO 8601 format. Null when the template is active (not archived).",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "created_by": {
            "type": "object",
            "description": "User who created the Form Template.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the user who created the Form Template.",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email/login of the user who created the Form Template.",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Full name of the user who created the Form Template.",
              "example": "Carl Contractor"
             }
            }
           },
           "attachment": {
            "type": "object",
            "nullable": true,
            "description": "Reference to the uploaded PDF file associated with this Form Template. Null when no file has been attached.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the attached file.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the attached file.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the attached file.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the attached file.",
              "example": "january_receipt_copy.pdf"
             }
            }
           },
           "fillable_pdf": {
            "type": "object",
            "nullable": true,
            "description": "Reference to the fillable PDF that project users complete when filling out a form from this template. Null when no fillable PDF has been uploaded.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the fillable PDF file.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the fillable PDF file.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the fillable PDF file.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the fillable PDF file.",
              "example": "january_receipt_copy.pdf"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Form Templates",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/form_templates',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/form_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/form_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/form_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add List Company Form Templates from Project",
      "description": "Returns a collection of Company Form Templates for a specified Project.",
      "endpoint": "GET /projects/{project_id}/form_templates",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-07-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "form-templates?version=1.0#list-company-form-templates-from-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/form_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Company Form Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Form Template from Project",
    "description": "Returns the details for a specified Company Form Template",
    "tags": [
     "Forms"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Form Template. Use as the {id} path parameter to retrieve, update, or delete a specific Form Template.",
           "example": 999
          },
          "name": {
           "type": "string",
           "description": "Human-readable name of the Form Template, shown to users when selecting a template to fill out.",
           "example": "Inspection Form Template"
          },
          "description": {
           "type": "string",
           "description": "Longer description explaining the purpose of the Form Template or instructions for completing it.",
           "example": "This is a Form Template"
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was created, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was last updated, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "archived_at": {
           "type": "string",
           "nullable": true,
           "description": "Timestamp when the Form Template was archived, in ISO 8601 format. Null when the template is active (not archived).",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "created_by": {
           "type": "object",
           "description": "User who created the Form Template.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the user who created the Form Template.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user who created the Form Template.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user who created the Form Template.",
             "example": "Carl Contractor"
            }
           }
          },
          "attachment": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the uploaded PDF file associated with this Form Template. Null when no file has been attached.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the attached file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the attached file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the attached file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the attached file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          },
          "fillable_pdf": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the fillable PDF that project users complete when filling out a form from this template. Null when no fillable PDF has been uploaded.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the fillable PDF file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the fillable PDF file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view the Form Template",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Form Template does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/form_templates/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/form_templates/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/form_templates/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/form_templates/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Show Company Form Template from Project",
      "description": "Returns the details for a specified Company Form Template",
      "endpoint": "GET /projects/{project_id}/form_templates/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-07-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "form-templates?version=1.0#show-company-form-template-from-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/form_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Form Templates",
    "description": "Returns a collection of Form Templates for a specified Company.",
    "tags": [
     "Forms"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Company Form Templates",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Form Template. Use as the {id} path parameter to retrieve, update, or delete a specific Form Template.",
            "example": 999
           },
           "name": {
            "type": "string",
            "description": "Human-readable name of the Form Template, shown to users when selecting a template to fill out.",
            "example": "Inspection Form Template"
           },
           "description": {
            "type": "string",
            "description": "Longer description explaining the purpose of the Form Template or instructions for completing it.",
            "example": "This is a Form Template"
           },
           "created_at": {
            "type": "string",
            "description": "Timestamp when the Form Template was created, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp when the Form Template was last updated, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "archived_at": {
            "type": "string",
            "nullable": true,
            "description": "Timestamp when the Form Template was archived, in ISO 8601 format. Null when the template is active (not archived).",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "created_by": {
            "type": "object",
            "description": "User who created the Form Template.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the user who created the Form Template.",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email/login of the user who created the Form Template.",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Full name of the user who created the Form Template.",
              "example": "Carl Contractor"
             }
            }
           },
           "attachment": {
            "type": "object",
            "nullable": true,
            "description": "Reference to the uploaded PDF file associated with this Form Template. Null when no file has been attached.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the attached file.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the attached file.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the attached file.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the attached file.",
              "example": "january_receipt_copy.pdf"
             }
            }
           },
           "fillable_pdf": {
            "type": "object",
            "nullable": true,
            "description": "Reference to the fillable PDF that project users complete when filling out a form from this template. Null when no fillable PDF has been uploaded.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the fillable PDF file.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the fillable PDF file.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the fillable PDF file.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the fillable PDF file.",
              "example": "january_receipt_copy.pdf"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Form Templates",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/form_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Form Template",
    "description": "Create a new Company Form Template",
    "tags": [
     "Forms"
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "form_template",
         "fillable_pdf"
        ],
        "properties": {
         "form_template": {
          "title": "Form Template",
          "type": "object",
          "required": [
           "name",
           "description"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "Name of the Form Template",
            "example": "JHA"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Form Template",
            "example": "Please fill out to the best of your ability"
           }
          }
         },
         "fillable_pdf": {
          "type": "string",
          "format": "binary",
          "description": "Form Template's Fillable PDF.\nTo upload a fillable PDF you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `fillable_pdf` as files."
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Form Template created successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Form Template. Use as the {id} path parameter to retrieve, update, or delete a specific Form Template.",
           "example": 999
          },
          "name": {
           "type": "string",
           "description": "Human-readable name of the Form Template, shown to users when selecting a template to fill out.",
           "example": "Inspection Form Template"
          },
          "description": {
           "type": "string",
           "description": "Longer description explaining the purpose of the Form Template or instructions for completing it.",
           "example": "This is a Form Template"
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was created, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was last updated, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "archived_at": {
           "type": "string",
           "nullable": true,
           "description": "Timestamp when the Form Template was archived, in ISO 8601 format. Null when the template is active (not archived).",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "created_by": {
           "type": "object",
           "description": "User who created the Form Template.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the user who created the Form Template.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user who created the Form Template.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user who created the Form Template.",
             "example": "Carl Contractor"
            }
           }
          },
          "attachment": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the uploaded PDF file associated with this Form Template. Null when no file has been attached.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the attached file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the attached file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the attached file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the attached file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          },
          "fillable_pdf": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the fillable PDF that project users complete when filling out a form from this template. Null when no fillable PDF has been uploaded.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the fillable PDF file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the fillable PDF file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to create a Form Template",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating Form Template",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    form_template: '{\"name\":\"JHA\",\"description\":\"Please fill out to the best of your ability\"}',\n    fillable_pdf: 'string'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"form_template\\\"\\r\\n\\r\\n{\\\"name\\\":\\\"JHA\\\",\\\"description\\\":\\\"Please fill out to the best of your ability\\\"}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"fillable_pdf\\\"\\r\\n\\r\\nstring\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/form_templates\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'form_template={\"name\":\"JHA\",\"description\":\"Please fill out to the best of your ability\"}' \\\n  --form fillable_pdf=string"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"name\\\":\\\"JHA\\\",\\\"description\\\":\\\"Please fill out to the best of your ability\\\"}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"form_template\",\n                }\n            }\n        },\n        new StringContent(\"string\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"fillable_pdf\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/form_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Company Form Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Company Form Template",
    "description": "Returns the details for a specified Company Form Template",
    "tags": [
     "Forms"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Form Template. Use as the {id} path parameter to retrieve, update, or delete a specific Form Template.",
           "example": 999
          },
          "name": {
           "type": "string",
           "description": "Human-readable name of the Form Template, shown to users when selecting a template to fill out.",
           "example": "Inspection Form Template"
          },
          "description": {
           "type": "string",
           "description": "Longer description explaining the purpose of the Form Template or instructions for completing it.",
           "example": "This is a Form Template"
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was created, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was last updated, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "archived_at": {
           "type": "string",
           "nullable": true,
           "description": "Timestamp when the Form Template was archived, in ISO 8601 format. Null when the template is active (not archived).",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "created_by": {
           "type": "object",
           "description": "User who created the Form Template.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the user who created the Form Template.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user who created the Form Template.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user who created the Form Template.",
             "example": "Carl Contractor"
            }
           }
          },
          "attachment": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the uploaded PDF file associated with this Form Template. Null when no file has been attached.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the attached file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the attached file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the attached file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the attached file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          },
          "fillable_pdf": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the fillable PDF that project users complete when filling out a form from this template. Null when no fillable PDF has been uploaded.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the fillable PDF file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the fillable PDF file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view the Form Template",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Form Template does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Company Form Template",
    "description": "Update a Company Form Template",
    "tags": [
     "Forms"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "form_template"
        ],
        "properties": {
         "form_template": {
          "title": "Form Template",
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "The Name of the Form Template",
            "example": "JHA"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Form Template",
            "example": "Please fill out to the best of your ability"
           },
           "fillable_pdf": {
            "type": "string",
            "description": "Form's Fillable PDF.\nTo upload a fillable PDF you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `fillable_pdf` as files."
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Form Template updated successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Form Template. Use as the {id} path parameter to retrieve, update, or delete a specific Form Template.",
           "example": 999
          },
          "name": {
           "type": "string",
           "description": "Human-readable name of the Form Template, shown to users when selecting a template to fill out.",
           "example": "Inspection Form Template"
          },
          "description": {
           "type": "string",
           "description": "Longer description explaining the purpose of the Form Template or instructions for completing it.",
           "example": "This is a Form Template"
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was created, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was last updated, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "archived_at": {
           "type": "string",
           "nullable": true,
           "description": "Timestamp when the Form Template was archived, in ISO 8601 format. Null when the template is active (not archived).",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "created_by": {
           "type": "object",
           "description": "User who created the Form Template.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the user who created the Form Template.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user who created the Form Template.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user who created the Form Template.",
             "example": "Carl Contractor"
            }
           }
          },
          "attachment": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the uploaded PDF file associated with this Form Template. Null when no file has been attached.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the attached file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the attached file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the attached file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the attached file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          },
          "fillable_pdf": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the fillable PDF that project users complete when filling out a form from this template. Null when no fillable PDF has been uploaded.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the fillable PDF file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the fillable PDF file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to update the Form Template",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Form Template does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating Form Template",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    form_template: {\n      name: 'JHA',\n      description: 'Please fill out to the best of your ability',\n      fillable_pdf: 'string'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"form_template\\\":{\\\"name\\\":\\\"JHA\\\",\\\"description\\\":\\\"Please fill out to the best of your ability\\\",\\\"fillable_pdf\\\":\\\"string\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"form_template\":{\"name\":\"JHA\",\"description\":\"Please fill out to the best of your ability\",\"fillable_pdf\":\"string\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"form_template\\\":{\\\"name\\\":\\\"JHA\\\",\\\"description\\\":\\\"Please fill out to the best of your ability\\\",\\\"fillable_pdf\\\":\\\"string\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Company Form Template",
    "description": "Delete a Company Form Template",
    "tags": [
     "Forms"
    ],
    "responses": {
     "204": {
      "description": "Form Template deleted successfully"
     },
     "403": {
      "description": "User does not have permission to delete the Form Template",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Form Template does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error deleting Form Template",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/form_templates/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/recycle_bin/form_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Recycled Company Form Templates",
    "description": "Returns a collection of Recycled Form Templates for a specified Company.",
    "tags": [
     "Forms"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Company Form Templates",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Form Template. Use as the {id} path parameter to retrieve, update, or delete a specific Form Template.",
            "example": 999
           },
           "name": {
            "type": "string",
            "description": "Human-readable name of the Form Template, shown to users when selecting a template to fill out.",
            "example": "Inspection Form Template"
           },
           "description": {
            "type": "string",
            "description": "Longer description explaining the purpose of the Form Template or instructions for completing it.",
            "example": "This is a Form Template"
           },
           "created_at": {
            "type": "string",
            "description": "Timestamp when the Form Template was created, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp when the Form Template was last updated, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "archived_at": {
            "type": "string",
            "nullable": true,
            "description": "Timestamp when the Form Template was archived, in ISO 8601 format. Null when the template is active (not archived).",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "created_by": {
            "type": "object",
            "description": "User who created the Form Template.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the user who created the Form Template.",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email/login of the user who created the Form Template.",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Full name of the user who created the Form Template.",
              "example": "Carl Contractor"
             }
            }
           },
           "attachment": {
            "type": "object",
            "nullable": true,
            "description": "Reference to the uploaded PDF file associated with this Form Template. Null when no file has been attached.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the attached file.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the attached file.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the attached file.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the attached file.",
              "example": "january_receipt_copy.pdf"
             }
            }
           },
           "fillable_pdf": {
            "type": "object",
            "nullable": true,
            "description": "Reference to the fillable PDF that project users complete when filling out a form from this template. Null when no fillable PDF has been uploaded.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier of the fillable PDF file.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the fillable PDF file.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the fillable PDF file.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the fillable PDF file.",
              "example": "january_receipt_copy.pdf"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Form Templates",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/recycle_bin/form_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Company Form Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Recycled Company Form Template",
    "description": "Returns the details for a specified recycled Company Form Template",
    "tags": [
     "Forms"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Form Template. Use as the {id} path parameter to retrieve, update, or delete a specific Form Template.",
           "example": 999
          },
          "name": {
           "type": "string",
           "description": "Human-readable name of the Form Template, shown to users when selecting a template to fill out.",
           "example": "Inspection Form Template"
          },
          "description": {
           "type": "string",
           "description": "Longer description explaining the purpose of the Form Template or instructions for completing it.",
           "example": "This is a Form Template"
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was created, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp when the Form Template was last updated, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "archived_at": {
           "type": "string",
           "nullable": true,
           "description": "Timestamp when the Form Template was archived, in ISO 8601 format. Null when the template is active (not archived).",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "created_by": {
           "type": "object",
           "description": "User who created the Form Template.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the user who created the Form Template.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user who created the Form Template.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user who created the Form Template.",
             "example": "Carl Contractor"
            }
           }
          },
          "attachment": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the uploaded PDF file associated with this Form Template. Null when no file has been attached.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the attached file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the attached file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the attached file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the attached file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          },
          "fillable_pdf": {
           "type": "object",
           "nullable": true,
           "description": "Reference to the fillable PDF that project users complete when filling out a form from this template. Null when no fillable PDF has been uploaded.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier of the fillable PDF file.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the fillable PDF file.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view the Form Template",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Form Template does not exist",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/recycle_bin/form_templates/{id}/restore": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Company Form Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Restore Company Form Template",
    "description": "Restores the specified Form Template from Recycle Bin.",
    "tags": [
     "Forms"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates/%7Bid%7D/restore'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/recycle_bin/form_templates/%7Bid%7D/restore\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
[...]
