{
 "openapi": "3.0.0",
 "info": {
  "title": "Forms",
  "x-product-category": "Project Management",
  "x-tool-category": "Forms",
  "x-resource-name": "Forms",
  "version": "1.1",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/forms": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Forms on a project",
    "description": "Return a list of all Forms from a specified Project.",
    "tags": [
     "Forms"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[private]",
      "in": "query",
      "description": "If true, returns only item(s) with a `private` status.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[form_template_id]",
      "in": "query",
      "description": "Array of Form Template IDs. Return item(s) associated with the specified Form Template IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "created_by",
        "description",
        "name",
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Forms listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Form. Use as the `{id}` path parameter for show, update, delete, and send_email requests on this Form.",
            "example": 999
           },
           "created_at": {
            "type": "string",
            "description": "Timestamp when the Form was created, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "description": {
            "type": "string",
            "description": "Free-text description of the Form provided by its author.",
            "example": "This is a Form"
           },
           "form_template_id": {
            "type": "integer",
            "description": "ID of the Form Template this Form was created from. References a Form Template in the same company.",
            "example": 1
           },
           "form_template_name": {
            "type": "string",
            "description": "Name of the Form Template this Form was created from.",
            "example": "Inspection Form Template"
           },
           "name": {
            "type": "string",
            "description": "Display name of the Form.",
            "example": "Inspection Form"
           },
           "private": {
            "type": "boolean",
            "description": "When true, the Form is visible only to its creator and users with admin access to the Forms tool; when false, it is visible to all users who can view Forms.",
            "example": false
           },
           "created_by": {
            "type": "object",
            "description": "The user who created the Form.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the user (login information) who created the Form.",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email/login of the user who created the Form.",
              "example": "exampleuser@example.com"
             },
             "name": {
              "type": "string",
              "description": "Full name of the user who created the Form.",
              "example": "Carl Contractor"
             }
            }
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp when the Form was last updated, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "fillable_pdf": {
            "type": "object",
            "description": "The fillable PDF file backing this Form.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the underlying file (Prostore File) for the fillable PDF.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the fillable PDF.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the fillable PDF.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the fillable PDF file.",
              "example": "january_receipt_copy.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "True when the current user is permitted to view this file.",
              "example": true
             },
             "viewable": {
              "type": "boolean",
              "description": "True when a viewable (rendered) version of the PDF has been generated and can be displayed in-app.",
              "example": true
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": "Additional files attached to the Form.",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID of the attached file (Prostore File).",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Download URL for the attachment.",
               "example": "http://www.example.com/"
              },
              "filename": {
               "type": "string",
               "description": "Original filename of the attachment.",
               "example": "january_receipt_copy.pdf"
              },
              "name": {
               "type": "string",
               "description": "Display name of the attachment.",
               "example": "january_receipt_copy.pdf"
              },
              "can_be_viewed": {
               "type": "boolean",
               "description": "True when the current user is permitted to view this attachment.",
               "example": true
              },
              "viewable": {
               "type": "boolean",
               "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
               "example": true
              }
             }
            }
           },
           "thumbnail_url": {
            "type": "string",
            "description": "URL of the Form's thumbnail image. Falls back to a generic document placeholder image when no thumbnail has been generated.",
            "example": "https://storage.procore.com/v4/d/us-east-1/prostore-thumbnail-bucket-staging/b3c822b0c53f65d32f940e44b7b0cae741a2_61060_thumbnail_medium_staging.PNG"
           },
           "viewable": {
            "type": "boolean",
            "description": "True when a viewable (rendered) version of the Form's fillable PDF exists and can be displayed in-app.",
            "example": true
           },
           "viewable_document_id": {
            "type": "integer",
            "description": "ID of the generated viewable document for the Form's fillable PDF. Null when no viewable version has been generated.",
            "example": 4,
            "nullable": true
           },
           "holder_class": {
            "type": "string",
            "description": "Class name of the record that holds the file, used by attachment-related clients. Always \"Form\" for this resource.",
            "example": "Form"
           },
           "download_all_uuid": {
            "type": "object",
            "nullable": true,
            "description": "Session token object used to request a bulk download of the Form and its attachments. Only populated on the show response; null otherwise.",
            "additionalProperties": true
           },
           "attachment": {
            "type": "object",
            "description": "The Form's primary fillable PDF, exposed as a single attachment object. Mirrors `fillable_pdf`.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the attachment file (Prostore File).",
              "example": 17
             },
             "name": {
              "type": "string",
              "description": "Display name of the attachment.",
              "example": "test.pdf"
             },
             "url": {
              "type": "string",
              "description": "Download URL for the attachment.",
              "example": "http://www.example.com/v4/d/us-east-1"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the attachment.",
              "example": "test.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "True when the current user is permitted to view this attachment.",
              "example": true
             },
             "viewable": {
              "type": "boolean",
              "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
              "example": true
             }
            }
           },
           "permissions": {
            "type": "object",
            "description": "The current user's permissions for this Form. Only present when the request includes the `view=with_permissions` query parameter.",
            "properties": {
             "can_edit": {
              "type": "boolean",
              "description": "True when the current user can edit this Form.",
              "example": false
             },
             "can_view_change_history": {
              "type": "boolean",
              "description": "True when the current user can view this Form's change history.",
              "example": true
             },
             "can_view_download_log": {
              "type": "boolean",
              "description": "True when the current user can view this Form's download log.",
              "example": true
             },
             "can_email": {
              "type": "boolean",
              "description": "True when the current user can send this Form by email.",
              "example": true
             },
             "can_destroy": {
              "type": "boolean",
              "description": "True when the current user can delete this Form.",
              "example": true
             }
            }
           },
           "deleted": {
            "type": "boolean",
            "description": "True when the Form has been soft-deleted (moved to the recycle bin) and is pending permanent removal or restoration.",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/forms',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[private]': 'SOME_BOOLEAN_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[form_template_id]': 'SOME_ARRAY_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/forms?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bform_template_id%5D=SOME_ARRAY_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/forms?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bform_template_id%5D=SOME_ARRAY_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/forms?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bprivate%5D=SOME_BOOLEAN_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bform_template_id%5D=SOME_ARRAY_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Get Forms v1.1 endpoint",
      "description": "Add v1.1 endpoints with smaller default page sizes",
      "endpoint": "GET /projects/{project_id}/forms",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-01-29",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "forms?version=1.1#list-forms-on-a-project"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/forms": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Form",
    "description": "Create a new Form associated with the specified Project.",
    "tags": [
     "Forms"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "form"
        ],
        "properties": {
         "form": {
          "title": "Form",
          "type": "object",
          "required": [
           "name",
           "description",
           "form_template_id",
           "fillable_pdf_prostore_file_id"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "The name of the Form.",
            "example": "Daily Inspection Form"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Form",
            "example": "This is a description"
           },
           "form_template_id": {
            "type": "integer",
            "description": "ID of the Form Template that the Form is made from",
            "example": 1
           },
           "private": {
            "type": "boolean",
            "description": "The Private status of the Form",
            "default": false,
            "example": false
           },
           "fillable_pdf_prostore_file_id": {
            "type": "integer",
            "example": 5432,
            "description": "Form's Fillable PDF. Either `fillable_pdf_prostore_file_id` or `fillable_pdf_upload_id` must be present."
           },
           "fillable_pdf_upload_id": {
            "type": "string",
            "example": "01HZB4TFFBZWDQ92N3RJFM5J2Z",
            "description": "The specified Upload is saved as the Form's Fillable PDF. Either `fillable_pdf_prostore_file_id` or `fillable_pdf_upload_id` must be present."
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "An array of Prostore File IDs. The Prostore Files will be associated with the Form as attachments",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "An array of Upload UUIDs. The Uploads will be transformed into the Form's attachments",
            "items": {
             "type": "string",
             "description": "Upload IDs",
             "example": [
              "01HZB4TFFBZWDQ92N3RJFM5J2Z",
              "01HZB4TFERXDDQ354NTB09GEA6"
             ]
            }
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "form"
        ],
        "properties": {
         "form": {
          "title": "Form",
          "type": "object",
          "required": [
           "name",
           "description",
           "form_template_id",
           "fillable_pdf"
          ],
          "properties": {
           "name": {
            "type": "string",
            "description": "The name of the Form.",
            "example": "Daily Inspection Form"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Form",
            "example": "This is a description"
           },
           "form_template_id": {
            "type": "integer",
            "description": "ID of the Form Template that the Form is made from",
            "example": 1
           },
           "private": {
            "type": "boolean",
            "description": "The Private status of the Form",
            "default": false,
            "example": false
           },
           "fillable_pdf": {
            "type": "string",
            "format": "binary",
            "description": "Form's Fillable PDF.\nTo upload a fillable PDF you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `fillable_pdf` as files."
           },
           "attachments": {
            "type": "array",
            "description": "Form's Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Form created successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Form. Use as the `{id}` path parameter for show, update, delete, and send_email requests on this Form.",
           "example": 999
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp when the Form was created, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "description": {
           "type": "string",
           "description": "Free-text description of the Form provided by its author.",
           "example": "This is a Form"
          },
          "form_template_id": {
           "type": "integer",
           "description": "ID of the Form Template this Form was created from. References a Form Template in the same company.",
           "example": 1
          },
          "form_template_name": {
           "type": "string",
           "description": "Name of the Form Template this Form was created from.",
           "example": "Inspection Form Template"
          },
          "name": {
           "type": "string",
           "description": "Display name of the Form.",
           "example": "Inspection Form"
          },
          "private": {
           "type": "boolean",
           "description": "When true, the Form is visible only to its creator and users with admin access to the Forms tool; when false, it is visible to all users who can view Forms.",
           "example": false
          },
          "created_by": {
           "type": "object",
           "description": "The user who created the Form.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the user (login information) who created the Form.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user who created the Form.",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user who created the Form.",
             "example": "Carl Contractor"
            }
           }
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp when the Form was last updated, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "fillable_pdf": {
           "type": "object",
           "description": "The fillable PDF file backing this Form.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the underlying file (Prostore File) for the fillable PDF.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the fillable PDF.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the fillable PDF.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            },
            "can_be_viewed": {
             "type": "boolean",
             "description": "True when the current user is permitted to view this file.",
             "example": true
            },
            "viewable": {
             "type": "boolean",
             "description": "True when a viewable (rendered) version of the PDF has been generated and can be displayed in-app.",
             "example": true
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Additional files attached to the Form.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the attached file (Prostore File).",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the attachment.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the attachment.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the attachment.",
              "example": "january_receipt_copy.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "True when the current user is permitted to view this attachment.",
              "example": true
             },
             "viewable": {
              "type": "boolean",
              "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
              "example": true
             }
            }
           }
          },
          "thumbnail_url": {
           "type": "string",
           "description": "URL of the Form's thumbnail image. Falls back to a generic document placeholder image when no thumbnail has been generated.",
           "example": "https://storage.procore.com/v4/d/us-east-1/prostore-thumbnail-bucket-staging/b3c822b0c53f65d32f940e44b7b0cae741a2_61060_thumbnail_medium_staging.PNG"
          },
          "viewable": {
           "type": "boolean",
           "description": "True when a viewable (rendered) version of the Form's fillable PDF exists and can be displayed in-app.",
           "example": true
          },
          "viewable_document_id": {
           "type": "integer",
           "description": "ID of the generated viewable document for the Form's fillable PDF. Null when no viewable version has been generated.",
           "example": 4,
           "nullable": true
          },
          "holder_class": {
           "type": "string",
           "description": "Class name of the record that holds the file, used by attachment-related clients. Always \"Form\" for this resource.",
           "example": "Form"
          },
          "download_all_uuid": {
           "type": "object",
           "nullable": true,
           "description": "Session token object used to request a bulk download of the Form and its attachments. Only populated on the show response; null otherwise.",
           "additionalProperties": true
          },
          "attachment": {
           "type": "object",
           "description": "The Form's primary fillable PDF, exposed as a single attachment object. Mirrors `fillable_pdf`.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the attachment file (Prostore File).",
             "example": 17
            },
            "name": {
             "type": "string",
             "description": "Display name of the attachment.",
             "example": "test.pdf"
            },
            "url": {
             "type": "string",
             "description": "Download URL for the attachment.",
             "example": "http://www.example.com/v4/d/us-east-1"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the attachment.",
             "example": "test.pdf"
            },
            "can_be_viewed": {
             "type": "boolean",
             "description": "True when the current user is permitted to view this attachment.",
             "example": true
            },
            "viewable": {
             "type": "boolean",
             "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
             "example": true
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "The current user's permissions for this Form. Only present when the request includes the `view=with_permissions` query parameter.",
           "properties": {
            "can_edit": {
             "type": "boolean",
             "description": "True when the current user can edit this Form.",
             "example": false
            },
            "can_view_change_history": {
             "type": "boolean",
             "description": "True when the current user can view this Form's change history.",
             "example": true
            },
            "can_view_download_log": {
             "type": "boolean",
             "description": "True when the current user can view this Form's download log.",
             "example": true
            },
            "can_email": {
             "type": "boolean",
             "description": "True when the current user can send this Form by email.",
             "example": true
            },
            "can_destroy": {
             "type": "boolean",
             "description": "True when the current user can delete this Form.",
             "example": true
            }
           }
          },
          "deleted": {
           "type": "boolean",
           "description": "True when the Form has been soft-deleted (moved to the recycle bin) and is pending permanent removal or restoration.",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Error updating Form",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to create Form",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating Form",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    form: {\n      name: 'Daily Inspection Form',\n      description: 'This is a description',\n      form_template_id: 1,\n      private: false,\n      fillable_pdf_prostore_file_id: 5432,\n      fillable_pdf_upload_id: '01HZB4TFFBZWDQ92N3RJFM5J2Z',\n      prostore_file_ids: [4, 5],\n      upload_ids: [['01HZB4TFFBZWDQ92N3RJFM5J2Z', '01HZB4TFERXDDQ354NTB09GEA6']]\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"form\\\":{\\\"name\\\":\\\"Daily Inspection Form\\\",\\\"description\\\":\\\"This is a description\\\",\\\"form_template_id\\\":1,\\\"private\\\":false,\\\"fillable_pdf_prostore_file_id\\\":5432,\\\"fillable_pdf_upload_id\\\":\\\"01HZB4TFFBZWDQ92N3RJFM5J2Z\\\",\\\"prostore_file_ids\\\":[4,5],\\\"upload_ids\\\":[[\\\"01HZB4TFFBZWDQ92N3RJFM5J2Z\\\",\\\"01HZB4TFERXDDQ354NTB09GEA6\\\"]]}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/forms\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"form\":{\"name\":\"Daily Inspection Form\",\"description\":\"This is a description\",\"form_template_id\":1,\"private\":false,\"fillable_pdf_prostore_file_id\":5432,\"fillable_pdf_upload_id\":\"01HZB4TFFBZWDQ92N3RJFM5J2Z\",\"prostore_file_ids\":[4,5],\"upload_ids\":[[\"01HZB4TFFBZWDQ92N3RJFM5J2Z\",\"01HZB4TFERXDDQ354NTB09GEA6\"]]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"form\\\":{\\\"name\\\":\\\"Daily Inspection Form\\\",\\\"description\\\":\\\"This is a description\\\",\\\"form_template_id\\\":1,\\\"private\\\":false,\\\"fillable_pdf_prostore_file_id\\\":5432,\\\"fillable_pdf_upload_id\\\":\\\"01HZB4TFFBZWDQ92N3RJFM5J2Z\\\",\\\"prostore_file_ids\\\":[4,5],\\\"upload_ids\\\":[[\\\"01HZB4TFFBZWDQ92N3RJFM5J2Z\\\",\\\"01HZB4TFERXDDQ354NTB09GEA6\\\"]]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'multipart/form-data; boundary=---011000010111000001101001'\n  },\n  formData: {\n    form: '{\"name\":\"Daily Inspection Form\",\"description\":\"This is a description\",\"form_template_id\":1,\"private\":false,\"fillable_pdf\":\"string\",\"attachments\":[\"string\"]}'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"form\\\"\\r\\n\\r\\n{\\\"name\\\":\\\"Daily Inspection Form\\\",\\\"description\\\":\\\"This is a description\\\",\\\"form_template_id\\\":1,\\\"private\\\":false,\\\"fillable_pdf\\\":\\\"string\\\",\\\"attachments\\\":[\\\"string\\\"]}\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"multipart/form-data; boundary=---011000010111000001101001\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/forms\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'form={\"name\":\"Daily Inspection Form\",\"description\":\"This is a description\",\"form_template_id\":1,\"private\":false,\"fillable_pdf\":\"string\",\"attachments\":[\"string\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"name\\\":\\\"Daily Inspection Form\\\",\\\"description\\\":\\\"This is a description\\\",\\\"form_template_id\\\":1,\\\"private\\\":false,\\\"fillable_pdf\\\":\\\"string\\\",\\\"attachments\\\":[\\\"string\\\"]}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"form\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create Form now also accepts prostore_file_ids",
      "description": "This endpoint now accepts `prostore_file_ids` and `fillable_pdf_prostore_file_id` as part of the payload",
      "endpoint": "POST /projects/{project_id}/forms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-22",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "forms?version=1.0#create-form"
     },
     {
      "summary": "Create Form now also accepts Upload IDs",
      "description": "This endpoint now accepts `upload_ids` and `fillable_pdf_upload_id` as part of the payload",
      "endpoint": "POST /projects/{project_id}/forms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "forms?version=1.0#create-form"
     }
    ]
   },
   "x-compliance-level": "full",
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Forms on a project",
    "description": "Return a list of all Forms from a specified Project.",
    "tags": [
     "Forms"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[form_template_id]",
      "in": "query",
      "description": "Array of Form Template IDs. Return item(s) associated with the specified Form Template IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Returns item(s) matching the specified search query string.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "created_by",
        "description",
        "name",
        "created_at",
        "updated_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Forms listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the Form. Use as the `{id}` path parameter for show, update, delete, and send_email requests on this Form.",
            "example": 999
           },
           "created_at": {
            "type": "string",
            "description": "Timestamp when the Form was created, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "description": {
            "type": "string",
            "description": "Free-text description of the Form provided by its author.",
            "example": "This is a Form"
           },
           "form_template_id": {
            "type": "integer",
            "description": "ID of the Form Template this Form was created from. References a Form Template in the same company.",
            "example": 1
           },
           "form_template_name": {
            "type": "string",
            "description": "Name of the Form Template this Form was created from.",
            "example": "Inspection Form Template"
           },
           "name": {
            "type": "string",
            "description": "Display name of the Form.",
            "example": "Inspection Form"
           },
           "private": {
            "type": "boolean",
            "description": "When true, the Form is visible only to its creator and users with admin access to the Forms tool; when false, it is visible to all users who can view Forms.",
            "example": false
           },
           "created_by": {
            "type": "object",
            "description": "The user who created the Form.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the user (login information) who created the Form.",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email/login of the user who created the Form.",
              "example": "exampleuser@example.com"
             },
             "name": {
              "type": "string",
              "description": "Full name of the user who created the Form.",
              "example": "Carl Contractor"
             }
            }
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp when the Form was last updated, in ISO 8601 format.",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "fillable_pdf": {
            "type": "object",
            "description": "The fillable PDF file backing this Form.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the underlying file (Prostore File) for the fillable PDF.",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the fillable PDF.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the fillable PDF.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the fillable PDF file.",
              "example": "january_receipt_copy.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "True when the current user is permitted to view this file.",
              "example": true
             },
             "viewable": {
              "type": "boolean",
              "description": "True when a viewable (rendered) version of the PDF has been generated and can be displayed in-app.",
              "example": true
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": "Additional files attached to the Form.",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID of the attached file (Prostore File).",
               "example": 5324
              },
              "url": {
               "type": "string",
               "description": "Download URL for the attachment.",
               "example": "http://www.example.com/"
              },
              "filename": {
               "type": "string",
               "description": "Original filename of the attachment.",
               "example": "january_receipt_copy.pdf"
              },
              "name": {
               "type": "string",
               "description": "Display name of the attachment.",
               "example": "january_receipt_copy.pdf"
              },
              "can_be_viewed": {
               "type": "boolean",
               "description": "True when the current user is permitted to view this attachment.",
               "example": true
              },
              "viewable": {
               "type": "boolean",
               "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
               "example": true
              }
             }
            }
           },
           "thumbnail_url": {
            "type": "string",
            "description": "URL of the Form's thumbnail image. Falls back to a generic document placeholder image when no thumbnail has been generated.",
            "example": "https://storage.procore.com/v4/d/us-east-1/prostore-thumbnail-bucket-staging/b3c822b0c53f65d32f940e44b7b0cae741a2_61060_thumbnail_medium_staging.PNG"
           },
           "viewable": {
            "type": "boolean",
            "description": "True when a viewable (rendered) version of the Form's fillable PDF exists and can be displayed in-app.",
            "example": true
           },
           "viewable_document_id": {
            "type": "integer",
            "description": "ID of the generated viewable document for the Form's fillable PDF. Null when no viewable version has been generated.",
            "example": 4,
            "nullable": true
           },
           "holder_class": {
            "type": "string",
            "description": "Class name of the record that holds the file, used by attachment-related clients. Always \"Form\" for this resource.",
            "example": "Form"
           },
           "download_all_uuid": {
            "type": "object",
            "nullable": true,
            "description": "Session token object used to request a bulk download of the Form and its attachments. Only populated on the show response; null otherwise.",
            "additionalProperties": true
           },
           "attachment": {
            "type": "object",
            "description": "The Form's primary fillable PDF, exposed as a single attachment object. Mirrors `fillable_pdf`.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the attachment file (Prostore File).",
              "example": 17
             },
             "name": {
              "type": "string",
              "description": "Display name of the attachment.",
              "example": "test.pdf"
             },
             "url": {
              "type": "string",
              "description": "Download URL for the attachment.",
              "example": "http://www.example.com/v4/d/us-east-1"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the attachment.",
              "example": "test.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "True when the current user is permitted to view this attachment.",
              "example": true
             },
             "viewable": {
              "type": "boolean",
              "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
              "example": true
             }
            }
           },
           "permissions": {
            "type": "object",
            "description": "The current user's permissions for this Form. Only present when the request includes the `view=with_permissions` query parameter.",
            "properties": {
             "can_edit": {
              "type": "boolean",
              "description": "True when the current user can edit this Form.",
              "example": false
             },
             "can_view_change_history": {
              "type": "boolean",
              "description": "True when the current user can view this Form's change history.",
              "example": true
             },
             "can_view_download_log": {
              "type": "boolean",
              "description": "True when the current user can view this Form's download log.",
              "example": true
             },
             "can_email": {
              "type": "boolean",
              "description": "True when the current user can send this Form by email.",
              "example": true
             },
             "can_destroy": {
              "type": "boolean",
              "description": "True when the current user can delete this Form.",
              "example": true
             }
            }
           },
           "deleted": {
            "type": "boolean",
            "description": "True when the Form has been soft-deleted (moved to the recycle bin) and is pending permanent removal or restoration.",
            "example": false
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[form_template_id]': 'SOME_ARRAY_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/forms?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bform_template_id%5D=SOME_ARRAY_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bform_template_id%5D=SOME_ARRAY_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bform_template_id%5D=SOME_ARRAY_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add can_be_viewed & viewable properties to file objects and deleted add property.",
      "description": "Add can_be_viewed & viewable properties to file objects and deleted add property.",
      "endpoint": "GET /projects/{project_id}/forms",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "forms?version=1.0#list-forms-on-a-project"
     }
    ]
   }
  },
  "/rest/v1.0/projects/{project_id}/forms/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Form ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Form",
    "description": "Return detailed information on the specified Form.",
    "tags": [
     "Forms"
    ],
    "responses": {
     "200": {
      "description": "Form shown successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Form. Use as the `{id}` path parameter for show, update, delete, and send_email requests on this Form.",
           "example": 999
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp when the Form was created, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "description": {
           "type": "string",
           "description": "Free-text description of the Form provided by its author.",
           "example": "This is a Form"
          },
          "form_template_id": {
           "type": "integer",
           "description": "ID of the Form Template this Form was created from. References a Form Template in the same company.",
           "example": 1
          },
          "form_template_name": {
           "type": "string",
           "description": "Name of the Form Template this Form was created from.",
           "example": "Inspection Form Template"
          },
          "name": {
           "type": "string",
           "description": "Display name of the Form.",
           "example": "Inspection Form"
          },
          "private": {
           "type": "boolean",
           "description": "When true, the Form is visible only to its creator and users with admin access to the Forms tool; when false, it is visible to all users who can view Forms.",
           "example": false
          },
          "created_by": {
           "type": "object",
           "description": "The user who created the Form.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the user (login information) who created the Form.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user who created the Form.",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user who created the Form.",
             "example": "Carl Contractor"
            }
           }
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp when the Form was last updated, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "fillable_pdf": {
           "type": "object",
           "description": "The fillable PDF file backing this Form.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the underlying file (Prostore File) for the fillable PDF.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the fillable PDF.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the fillable PDF.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            },
            "can_be_viewed": {
             "type": "boolean",
             "description": "True when the current user is permitted to view this file.",
             "example": true
            },
            "viewable": {
             "type": "boolean",
             "description": "True when a viewable (rendered) version of the PDF has been generated and can be displayed in-app.",
             "example": true
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Additional files attached to the Form.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the attached file (Prostore File).",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the attachment.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the attachment.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the attachment.",
              "example": "january_receipt_copy.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "True when the current user is permitted to view this attachment.",
              "example": true
             },
             "viewable": {
              "type": "boolean",
              "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
              "example": true
             }
            }
           }
          },
          "thumbnail_url": {
           "type": "string",
           "description": "URL of the Form's thumbnail image. Falls back to a generic document placeholder image when no thumbnail has been generated.",
           "example": "https://storage.procore.com/v4/d/us-east-1/prostore-thumbnail-bucket-staging/b3c822b0c53f65d32f940e44b7b0cae741a2_61060_thumbnail_medium_staging.PNG"
          },
          "viewable": {
           "type": "boolean",
           "description": "True when a viewable (rendered) version of the Form's fillable PDF exists and can be displayed in-app.",
           "example": true
          },
          "viewable_document_id": {
           "type": "integer",
           "description": "ID of the generated viewable document for the Form's fillable PDF. Null when no viewable version has been generated.",
           "example": 4,
           "nullable": true
          },
          "holder_class": {
           "type": "string",
           "description": "Class name of the record that holds the file, used by attachment-related clients. Always \"Form\" for this resource.",
           "example": "Form"
          },
          "download_all_uuid": {
           "type": "object",
           "nullable": true,
           "description": "Session token object used to request a bulk download of the Form and its attachments. Only populated on the show response; null otherwise.",
           "additionalProperties": true
          },
          "attachment": {
           "type": "object",
           "description": "The Form's primary fillable PDF, exposed as a single attachment object. Mirrors `fillable_pdf`.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the attachment file (Prostore File).",
             "example": 17
            },
            "name": {
             "type": "string",
             "description": "Display name of the attachment.",
             "example": "test.pdf"
            },
            "url": {
             "type": "string",
             "description": "Download URL for the attachment.",
             "example": "http://www.example.com/v4/d/us-east-1"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the attachment.",
             "example": "test.pdf"
            },
            "can_be_viewed": {
             "type": "boolean",
             "description": "True when the current user is permitted to view this attachment.",
             "example": true
            },
            "viewable": {
             "type": "boolean",
             "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
             "example": true
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "The current user's permissions for this Form. Only present when the request includes the `view=with_permissions` query parameter.",
           "properties": {
            "can_edit": {
             "type": "boolean",
             "description": "True when the current user can edit this Form.",
             "example": false
            },
            "can_view_change_history": {
             "type": "boolean",
             "description": "True when the current user can view this Form's change history.",
             "example": true
            },
            "can_view_download_log": {
             "type": "boolean",
             "description": "True when the current user can view this Form's download log.",
             "example": true
            },
            "can_email": {
             "type": "boolean",
             "description": "True when the current user can send this Form by email.",
             "example": true
            },
            "can_destroy": {
             "type": "boolean",
             "description": "True when the current user can delete this Form.",
             "example": true
            }
           }
          },
          "deleted": {
           "type": "boolean",
           "description": "True when the Form has been soft-deleted (moved to the recycle bin) and is pending permanent removal or restoration.",
           "example": false
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Form",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Form not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/forms/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/forms/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add can_be_viewed & viewable properties to file objects and deleted add property, and enable fetching deleted items for admins.",
      "description": "Add can_be_viewed & viewable properties to file objects and deleted add property, and enable fetching deleted items for admins.",
      "endpoint": "GET /projects/{project_id}/forms/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "forms?version=1.0#show-form"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Form",
    "description": "Update the specified Form.",
    "tags": [
     "Forms"
    ],
    "parameters": [
     {
      "name": "send_emails",
      "in": "query",
      "description": "Designates whether or not emails will be sent (default false)",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "form"
        ],
        "properties": {
         "form": {
          "title": "Form",
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "The name of the Form.",
            "example": "Daily Inspection Form"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Form",
            "example": "This is a description"
           },
           "private": {
            "type": "boolean",
            "description": "The Private status of the Form",
            "default": false,
            "example": false
           },
           "fillable_pdf_prostore_file_id": {
            "type": "integer",
            "example": 5432,
            "description": "Form's Fillable PDF. `fillable_pdf_prostore_file_id` and `fillable_pdf_upload_id` are mutually exclusive."
           },
           "fillable_pdf_upload_id": {
            "type": "string",
            "example": "01HZB4TFFBZWDQ92N3RJFM5J2Z",
            "description": "The specified Upload is saved as the Form's Fillable PDF. `fillable_pdf_prostore_file_id` and `fillable_pdf_upload_id` are mutually exclusive."
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "An array of Prostore File IDs. The Prostore Files will be associated with the Form as attachments",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "An array of Upload UUIDs. The Uploads will be transformed into the Form's attachments",
            "items": {
             "type": "string",
             "description": "Upload IDs",
             "example": [
              "01HZB4TFFBZWDQ92N3RJFM5J2Z",
              "01HZB4TFERXDDQ354NTB09GEA6"
             ]
            }
           }
          }
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "form"
        ],
        "properties": {
         "form": {
          "title": "Form",
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "The name of the Form.",
            "example": "Daily Inspection Form"
           },
           "description": {
            "type": "string",
            "description": "The Description of the Form",
            "example": "This is a description"
           },
           "private": {
            "type": "boolean",
            "description": "The Private status of the Form",
            "default": false,
            "example": false
           },
           "fillable_pdf": {
            "type": "string",
            "format": "binary",
            "description": "Form's Fillable PDF.\nTo upload a fillable PDF you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `fillable_pdf` as files."
           },
           "attachments": {
            "type": "array",
            "description": "Form's Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Form updated successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier of the Form. Use as the `{id}` path parameter for show, update, delete, and send_email requests on this Form.",
           "example": 999
          },
          "created_at": {
           "type": "string",
           "description": "Timestamp when the Form was created, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "description": {
           "type": "string",
           "description": "Free-text description of the Form provided by its author.",
           "example": "This is a Form"
          },
          "form_template_id": {
           "type": "integer",
           "description": "ID of the Form Template this Form was created from. References a Form Template in the same company.",
           "example": 1
          },
          "form_template_name": {
           "type": "string",
           "description": "Name of the Form Template this Form was created from.",
           "example": "Inspection Form Template"
          },
          "name": {
           "type": "string",
           "description": "Display name of the Form.",
           "example": "Inspection Form"
          },
          "private": {
           "type": "boolean",
           "description": "When true, the Form is visible only to its creator and users with admin access to the Forms tool; when false, it is visible to all users who can view Forms.",
           "example": false
          },
          "created_by": {
           "type": "object",
           "description": "The user who created the Form.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the user (login information) who created the Form.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email/login of the user who created the Form.",
             "example": "exampleuser@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full name of the user who created the Form.",
             "example": "Carl Contractor"
            }
           }
          },
          "updated_at": {
           "type": "string",
           "description": "Timestamp when the Form was last updated, in ISO 8601 format.",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "fillable_pdf": {
           "type": "object",
           "description": "The fillable PDF file backing this Form.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the underlying file (Prostore File) for the fillable PDF.",
             "example": 5324
            },
            "url": {
             "type": "string",
             "description": "Download URL for the fillable PDF.",
             "example": "http://www.example.com/"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the fillable PDF.",
             "example": "january_receipt_copy.pdf"
            },
            "name": {
             "type": "string",
             "description": "Display name of the fillable PDF file.",
             "example": "january_receipt_copy.pdf"
            },
            "can_be_viewed": {
             "type": "boolean",
             "description": "True when the current user is permitted to view this file.",
             "example": true
            },
            "viewable": {
             "type": "boolean",
             "description": "True when a viewable (rendered) version of the PDF has been generated and can be displayed in-app.",
             "example": true
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Additional files attached to the Form.",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the attached file (Prostore File).",
              "example": 5324
             },
             "url": {
              "type": "string",
              "description": "Download URL for the attachment.",
              "example": "http://www.example.com/"
             },
             "filename": {
              "type": "string",
              "description": "Original filename of the attachment.",
              "example": "january_receipt_copy.pdf"
             },
             "name": {
              "type": "string",
              "description": "Display name of the attachment.",
              "example": "january_receipt_copy.pdf"
             },
             "can_be_viewed": {
              "type": "boolean",
              "description": "True when the current user is permitted to view this attachment.",
              "example": true
             },
             "viewable": {
              "type": "boolean",
              "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
              "example": true
             }
            }
           }
          },
          "thumbnail_url": {
           "type": "string",
           "description": "URL of the Form's thumbnail image. Falls back to a generic document placeholder image when no thumbnail has been generated.",
           "example": "https://storage.procore.com/v4/d/us-east-1/prostore-thumbnail-bucket-staging/b3c822b0c53f65d32f940e44b7b0cae741a2_61060_thumbnail_medium_staging.PNG"
          },
          "viewable": {
           "type": "boolean",
           "description": "True when a viewable (rendered) version of the Form's fillable PDF exists and can be displayed in-app.",
           "example": true
          },
          "viewable_document_id": {
           "type": "integer",
           "description": "ID of the generated viewable document for the Form's fillable PDF. Null when no viewable version has been generated.",
           "example": 4,
           "nullable": true
          },
          "holder_class": {
           "type": "string",
           "description": "Class name of the record that holds the file, used by attachment-related clients. Always \"Form\" for this resource.",
           "example": "Form"
          },
          "download_all_uuid": {
           "type": "object",
           "nullable": true,
           "description": "Session token object used to request a bulk download of the Form and its attachments. Only populated on the show response; null otherwise.",
           "additionalProperties": true
          },
          "attachment": {
           "type": "object",
           "description": "The Form's primary fillable PDF, exposed as a single attachment object. Mirrors `fillable_pdf`.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID of the attachment file (Prostore File).",
             "example": 17
            },
            "name": {
             "type": "string",
             "description": "Display name of the attachment.",
             "example": "test.pdf"
            },
            "url": {
             "type": "string",
             "description": "Download URL for the attachment.",
             "example": "http://www.example.com/v4/d/us-east-1"
            },
            "filename": {
             "type": "string",
             "description": "Original filename of the attachment.",
             "example": "test.pdf"
            },
            "can_be_viewed": {
             "type": "boolean",
             "description": "True when the current user is permitted to view this attachment.",
             "example": true
            },
            "viewable": {
             "type": "boolean",
             "description": "True when a viewable (rendered) version of the attachment has been generated and can be displayed in-app.",
             "example": true
            }
           }
          },
          "permissions": {
           "type": "object",
           "description": "The current user's permissions for this Form. Only present when the request includes the `view=with_permissions` query parameter.",
           "properties": {
            "can_edit": {
             "type": "boolean",
             "description": "True when the current user can edit this Form.",
             "example": false
            },
            "can_view_change_history": {
             "type": "boolean",
             "description": "True when the current user can view this Form's change history.",
             "example": true
            },
            "can_view_download_log": {
             "type": "boolean",
             "description": "True when the current user can view this Form's download log.",
             "example": true
            },
            "can_email": {
             "type": "boolean",
             "description": "True when the current user can send this Form by email.",
             "example": true
            },
            "can_destroy": {
             "type": "boolean",
             "description": "True when the current user can delete this Form.",
             "example": true
            }
           }
          },
          "deleted": {
           "type": "boolean",
           "description": "True when the Form has been soft-deleted (moved to the recycle bin) and is pending permanent removal or restoration.",
           "example": false
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Error updating Form",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to update Form",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Form not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating Form",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
[...]
