{
 "openapi": "3.1.0",
 "info": {
  "title": "Group",
  "version": "2.0",
  "x-product-category": "Project Management",
  "x-resource-name": "Group",
  "x-tool-category": "Document Markup"
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/groups/{group_id}": {
   "get": {
    "tags": [
     "group-v-2-controller"
    ],
    "summary": "Get group by ID",
    "description": "Retrieve a specific group by its ID",
    "operationId": "getGroup",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "group_id",
      "in": "path",
      "description": "Unique identifier of the group",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "layer_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "visibility": {
             "type": "boolean"
            },
            "order_index": {
             "type": "number"
            },
            "color": {
             "type": "string"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            },
            "editable": {
             "type": "boolean"
            },
            "allow_delete": {
             "type": "boolean"
            },
            "layer_type": {
             "type": "string",
             "enum": [
              "PRIVATE",
              "PUBLIC"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "put": {
    "tags": [
     "group-v-2-controller"
    ],
    "summary": "Update group",
    "description": "Update an existing group",
    "operationId": "updateGroup",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "group_id",
      "in": "path",
      "description": "Unique identifier of the group",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string"
         },
         "layer_id": {
          "type": "string"
         },
         "order_index": {
          "type": "number"
         },
         "color": {
          "type": "string"
         },
         "visibility": {
          "type": "boolean"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "layer_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "visibility": {
             "type": "boolean"
            },
            "order_index": {
             "type": "number"
            },
            "color": {
             "type": "string"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            },
            "editable": {
             "type": "boolean"
            },
            "allow_delete": {
             "type": "boolean"
            },
            "layer_type": {
             "type": "string",
             "enum": [
              "PRIVATE",
              "PUBLIC"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    layer_id: 'string',\n    order_index: 0,\n    color: 'string',\n    visibility: true,\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"layer_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"layer_id\":\"string\",\"order_index\":0,\"color\":\"string\",\"visibility\":true,\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"layer_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "delete": {
    "tags": [
     "group-v-2-controller"
    ],
    "summary": "Delete group",
    "description": "Delete a group (markups in this group will need to be moved or deleted)",
    "operationId": "deleteGroup",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "group_id",
      "in": "path",
      "description": "Unique identifier of the group",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "delete_resources",
      "in": "query",
      "description": "When true, also delete associated resources (markups)",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "success": {
             "type": "boolean"
            },
            "message": {
             "type": "string"
            },
            "resource_id": {
             "type": "string"
            },
            "resource_type": {
             "type": "string"
            },
            "error_code": {
             "type": "string"
            },
            "error_details": {
             "type": "string"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D',\n  qs: {delete_resources: 'SOME_BOOLEAN_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D?delete_resources=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D?delete_resources=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D?delete_resources=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/groups": {
   "post": {
    "tags": [
     "group-v-2-controller"
    ],
    "summary": "Create a new group",
    "description": "Create a new group within a layer",
    "operationId": "createGroup",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "minLength": 1
         },
         "layer_id": {
          "type": "string",
          "minLength": 1
         },
         "order_index": {
          "type": "number"
         },
         "color": {
          "type": "string"
         },
         "visibility": {
          "type": "boolean"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        },
        "required": [
         "layer_id",
         "name"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "layer_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "visibility": {
             "type": "boolean"
            },
            "order_index": {
             "type": "number"
            },
            "color": {
             "type": "string"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            },
            "editable": {
             "type": "boolean"
            },
            "allow_delete": {
             "type": "boolean"
            },
            "layer_type": {
             "type": "string",
             "enum": [
              "PRIVATE",
              "PUBLIC"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    layer_id: 'string',\n    order_index: 0,\n    color: 'string',\n    visibility: true,\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"layer_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"layer_id\":\"string\",\"order_index\":0,\"color\":\"string\",\"visibility\":true,\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"layer_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/groups/{group_id}/reposition": {
   "post": {
    "tags": [
     "group-v-2-controller"
    ],
    "summary": "Update group order rank",
    "description": "Update a group's position using midpoint ranking with float values.",
    "operationId": "repositionGroup",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "group_id",
      "in": "path",
      "description": "Unique identifier of the group",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "order_index": {
          "type": "number",
          "minimum": 0
         }
        },
        "required": [
         "order_index"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "layer_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "visibility": {
             "type": "boolean"
            },
            "order_index": {
             "type": "number"
            },
            "color": {
             "type": "string"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            },
            "editable": {
             "type": "boolean"
            },
            "allow_delete": {
             "type": "boolean"
            },
            "layer_type": {
             "type": "string",
             "enum": [
              "PRIVATE",
              "PUBLIC"
             ]
            },
            "sub_context_type_id": {
             "type": "string"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D/reposition',\n  headers: {'content-type': 'application/json'},\n  body: {order_index: 0},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"order_index\\\":0}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D/reposition\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D/reposition \\\n  --header 'content-type: application/json' \\\n  --data '{\"order_index\":0}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D/reposition\"),\n    Content = new StringContent(\"{\\\"order_index\\\":0}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/layers/{layer_id}/groups": {
   "get": {
    "tags": [
     "group-v-2-controller"
    ],
    "summary": "Get groups for layer",
    "description": "Retrieve all groups within a specific layer with pagination",
    "operationId": "getLayerGroups",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "description": "Unique identifier of the layer",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 100)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/domains/groups": {
   "get": {
    "tags": [
     "domain-v-2-controller"
    ],
    "summary": "Get Groups",
    "description": "Returns all accessible groups with pagination and filtering.",
    "operationId": "getGroupIds",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 5000 for ids_only)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 5000
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "description": "Filter groups created before this ISO date-time",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Filter by updated_at range in ISO format (start...end)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "JSON array of group IDs to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_id]",
      "in": "query",
      "description": "Context ID to filter groups by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "description": "Context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "description": "Sub-context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/groups',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/accessible_groups/{context_type}/{context_type_id}": {
   "get": {
    "tags": [
     "group-v-2-controller"
    ],
    "summary": "Get accessible groups for authenticated user by context",
    "description": "Retrieve all groups accessible to the authenticated user for a given context type and ID",
    "operationId": "getUserAccessibleGroups",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type",
      "in": "path",
      "description": "Context type (e.g. document_revision)",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type_id",
      "in": "path",
      "description": "Context type identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "query",
      "description": "Optional layer ID to filter groups by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 100)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_groups/%7Bcontext_type%7D/%7Bcontext_type_id%7D',\n  qs: {\n    layer_id: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_groups/%7Bcontext_type%7D/%7Bcontext_type_id%7D?layer_id=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_groups/%7Bcontext_type%7D/%7Bcontext_type_id%7D?layer_id=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_groups/%7Bcontext_type%7D/%7Bcontext_type_id%7D?layer_id=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/domains/groups": {
   "get": {
    "tags": [
     "company-domain-v-2-controller"
    ],
    "summary": "Get company-level Groups",
    "description": "Returns all accessible company-level groups with pagination and filtering.",
    "operationId": "getGroupIds_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 5000 for ids_only)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 5000
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "description": "Filter groups created before this ISO date-time",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Filter by updated_at range in ISO format (start...end)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "JSON array of group IDs to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_id]",
      "in": "query",
      "description": "Context ID to filter groups by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "description": "Context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "description": "Sub-context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/domains/groups',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/layers/{layer_id}/groups/bulk": {
   "post": {
    "tags": [
     "group-controller"
    ],
    "summary": "Bulk-create groups in a layer",
    "description": "Create multiple groups in a single layer atomically. Replaces the N-round-trip pattern of looping the per-item POST /groups endpoint.",
    "operationId": "bulkCreateGroups",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "groups": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "name": {
             "type": "string",
             "minLength": 1
            },
            "order_index": {
             "type": "number"
            },
            "color": {
             "type": "string"
            },
            "visibility": {
             "type": "boolean"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            }
           },
           "required": [
            "name"
           ]
          },
          "maxItems": 200,
          "minItems": 0
         }
        },
        "required": [
         "groups"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "groups": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string"
             },
             "name": {
              "type": "string"
             },
             "layer_id": {
              "type": "string"
             },
             "company_id": {
              "type": "string"
             },
             "project_id": {
              "type": "string"
             },
             "created_at": {
              "type": "string",
              "format": "date-time"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time"
             },
             "created_by_id": {
              "type": "string"
             },
             "deleted": {
              "type": "boolean"
             },
             "visibility": {
              "type": "boolean"
             },
             "order_index": {
              "type": "number"
             },
             "color": {
              "type": "string"
             },
             "settings": {
              "type": "object",
              "additionalProperties": {}
             },
             "editable": {
              "type": "boolean"
             },
             "allow_delete": {
              "type": "boolean"
             },
             "layer_type": {
              "type": "string",
              "enum": [
               "PRIVATE",
               "PUBLIC"
              ]
             },
             "sub_context_type_id": {
              "type": "string"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups/bulk',\n  headers: {'content-type': 'application/json'},\n  body: {\n    groups: [\n      {\n        name: 'string',\n        order_index: 0,\n        color: 'string',\n        visibility: true,\n        settings: {property1: null, property2: null}\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"groups\\\":[{\\\"name\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups/bulk\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups/bulk \\\n  --header 'content-type: application/json' \\\n  --data '{\"groups\":[{\"name\":\"string\",\"order_index\":0,\"color\":\"string\",\"visibility\":true,\"settings\":{\"property1\":null,\"property2\":null}}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups/bulk\"),\n    Content = new StringContent(\"{\\\"groups\\\":[{\\\"name\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/groups/{group_id}": {
   "get": {
    "tags": [
     "group-controller"
    ],
    "summary": "Get group by ID",
    "description": "Retrieve a specific group by its ID",
    "operationId": "getGroup_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "group_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "layer_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "visibility": {
           "type": "boolean"
          },
          "order_index": {
           "type": "number"
          },
          "color": {
           "type": "string"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
          },
          "editable": {
           "type": "boolean"
          },
          "allow_delete": {
           "type": "boolean"
          },
          "layer_type": {
           "type": "string",
           "enum": [
            "PRIVATE",
            "PUBLIC"
           ]
          },
          "sub_context_type_id": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "put": {
    "tags": [
     "group-controller"
    ],
    "summary": "Update group",
    "description": "Update an existing group",
    "operationId": "updateGroup_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "group_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string"
         },
         "layer_id": {
          "type": "string"
         },
         "order_index": {
          "type": "number"
         },
         "color": {
          "type": "string"
         },
         "visibility": {
          "type": "boolean"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "layer_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "visibility": {
           "type": "boolean"
          },
          "order_index": {
           "type": "number"
          },
          "color": {
           "type": "string"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
          },
          "editable": {
           "type": "boolean"
          },
          "allow_delete": {
           "type": "boolean"
          },
          "layer_type": {
           "type": "string",
           "enum": [
            "PRIVATE",
            "PUBLIC"
           ]
          },
          "sub_context_type_id": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    layer_id: 'string',\n    order_index: 0,\n    color: 'string',\n    visibility: true,\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"layer_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"layer_id\":\"string\",\"order_index\":0,\"color\":\"string\",\"visibility\":true,\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"layer_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "delete": {
    "tags": [
     "group-controller"
    ],
    "summary": "Delete group",
    "description": "Delete a group (markups in this group will need to be moved or deleted)",
    "operationId": "deleteGroup_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "group_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "delete_resources",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "success": {
           "type": "boolean"
          },
          "message": {
           "type": "string"
          },
          "resource_id": {
           "type": "string"
          },
          "resource_type": {
           "type": "string"
          },
          "error_code": {
           "type": "string"
          },
          "error_details": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D',\n  qs: {delete_resources: 'SOME_BOOLEAN_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D?delete_resources=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D?delete_resources=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D?delete_resources=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/groups": {
   "post": {
    "tags": [
     "group-controller"
    ],
    "summary": "Create a new group",
    "description": "Create a new group within a layer",
    "operationId": "createGroup_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "minLength": 1
         },
         "layer_id": {
          "type": "string",
          "minLength": 1
         },
         "order_index": {
          "type": "number"
         },
         "color": {
          "type": "string"
         },
         "visibility": {
          "type": "boolean"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        },
        "required": [
         "layer_id",
         "name"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "layer_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "visibility": {
           "type": "boolean"
          },
          "order_index": {
           "type": "number"
          },
          "color": {
           "type": "string"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
          },
          "editable": {
           "type": "boolean"
          },
          "allow_delete": {
           "type": "boolean"
          },
          "layer_type": {
           "type": "string",
           "enum": [
            "PRIVATE",
            "PUBLIC"
           ]
          },
          "sub_context_type_id": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    layer_id: 'string',\n    order_index: 0,\n    color: 'string',\n    visibility: true,\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"layer_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"layer_id\":\"string\",\"order_index\":0,\"color\":\"string\",\"visibility\":true,\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"layer_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"color\\\":\\\"string\\\",\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/groups/{group_id}/reposition": {
   "post": {
    "tags": [
     "group-controller"
    ],
    "summary": "Update group order rank",
    "description": "Update a group's position using midpoint ranking with float values. UI calculates the new rank (e.g., 1500.0 between 1000.0 and 2000.0) and passes it directly.",
    "operationId": "repositionGroup_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "group_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "order_index": {
          "type": "number",
          "minimum": 0
         }
        },
        "required": [
         "order_index"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "layer_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "visibility": {
           "type": "boolean"
          },
          "order_index": {
           "type": "number"
          },
          "color": {
           "type": "string"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
          },
          "editable": {
           "type": "boolean"
          },
          "allow_delete": {
           "type": "boolean"
          },
          "layer_type": {
           "type": "string",
           "enum": [
            "PRIVATE",
            "PUBLIC"
           ]
          },
          "sub_context_type_id": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D/reposition',\n  headers: {'content-type': 'application/json'},\n  body: {order_index: 0},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"order_index\\\":0}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D/reposition\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D/reposition \\\n  --header 'content-type: application/json' \\\n  --data '{\"order_index\":0}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/groups/%7Bgroup_id%7D/reposition\"),\n    Content = new StringContent(\"{\\\"order_index\\\":0}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/layers/{layer_id}/groups": {
   "get": {
    "tags": [
     "group-controller"
    ],
    "summary": "Get groups for layer",
    "description": "Retrieve all groups within a specific layer",
    "operationId": "getLayerGroups_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "groups": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string"
             },
             "name": {
              "type": "string"
             },
             "layer_id": {
              "type": "string"
             },
             "company_id": {
              "type": "string"
             },
             "project_id": {
              "type": "string"
             },
             "created_at": {
              "type": "string",
              "format": "date-time"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time"
             },
             "created_by_id": {
              "type": "string"
             },
             "deleted": {
              "type": "boolean"
             },
             "visibility": {
              "type": "boolean"
             },
             "order_index": {
              "type": "number"
             },
             "color": {
              "type": "string"
             },
             "settings": {
              "type": "object",
              "additionalProperties": {}
             },
             "editable": {
              "type": "boolean"
             },
             "allow_delete": {
              "type": "boolean"
             },
             "layer_type": {
              "type": "string",
              "enum": [
               "PRIVATE",
               "PUBLIC"
              ]
             },
             "sub_context_type_id": {
              "type": "string"
             }
            }
           }
          },
          "total_count": {
           "type": "integer",
           "format": "int64"
          },
          "page": {
           "type": "integer",
           "format": "int32"
          },
          "per_page": {
           "type": "integer",
           "format": "int32"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/domains/groups": {
   "get": {
    "tags": [
     "domain-controller"
    ],
    "summary": "Get Groups",
    "description": "Returns all accessible markup groups (public + user's private) for a specific company and project with pagination and filtering support.",
    "operationId": "getGroups",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 500
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "default"
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/groups',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/accessible_groups/{context_type}/{context_type_id}": {
   "get": {
    "tags": [
     "group-controller"
    ],
    "summary": "Get accessible groups for authenticated user by context",
    "description": "Retrieve all groups accessible to the authenticated user for a given context type and ID",
    "operationId": "getUserAccessibleGroups_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 500
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "groups": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string"
             },
             "name": {
              "type": "string"
             },
             "layer_id": {
              "type": "string"
             },
             "company_id": {
              "type": "string"
             },
             "project_id": {
              "type": "string"
             },
             "created_at": {
              "type": "string",
              "format": "date-time"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time"
             },
             "created_by_id": {
              "type": "string"
             },
             "deleted": {
              "type": "boolean"
             },
             "visibility": {
              "type": "boolean"
             },
             "order_index": {
              "type": "number"
             },
             "color": {
              "type": "string"
             },
             "settings": {
              "type": "object",
              "additionalProperties": {}
             },
             "editable": {
              "type": "boolean"
             },
             "allow_delete": {
              "type": "boolean"
             },
             "layer_type": {
              "type": "string",
              "enum": [
               "PRIVATE",
               "PUBLIC"
              ]
             },
             "sub_context_type_id": {
              "type": "string"
             }
            }
           }
          },
          "total_count": {
           "type": "integer",
           "format": "int64"
          },
          "page": {
           "type": "integer",
           "format": "int32"
          },
          "per_page": {
           "type": "integer",
           "format": "int32"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_groups/%7Bcontext_type%7D/%7Bcontext_type_id%7D',\n  qs: {\n    layer_id: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_groups/%7Bcontext_type%7D/%7Bcontext_type_id%7D?layer_id=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_groups/%7Bcontext_type%7D/%7Bcontext_type_id%7D?layer_id=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_groups/%7Bcontext_type%7D/%7Bcontext_type_id%7D?layer_id=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/domains/groups": {
   "get": {
    "tags": [
     "company-domain-controller"
    ],
    "summary": "Get company-level Groups",
    "description": "Returns all accessible markup groups for a specific company with pagination and filtering support.",
    "operationId": "getGroups_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 500
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "default"
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/domains/groups',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/domains/groups?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
[...]
