{
 "openapi": "3.0.0",
 "info": {
  "title": "Hooks",
  "x-product-category": "Platform - Developer Tools",
  "x-tool-category": "Webhooks",
  "x-resource-name": "Hooks",
  "version": "2.0",
  "x-product-lines": [
   "Utilities"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/webhooks/hooks": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Company Webhooks Hooks",
    "description": "Returns an array of webhooks for the company.",
    "tags": [
     "Webhooks"
    ],
    "parameters": [
     {
      "name": "namespace",
      "in": "query",
      "required": true,
      "description": "Filter returned hooks to those registered under this namespace.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "payload_version",
      "in": "query",
      "required": false,
      "description": "Filter returned hooks by their configured payload format version (e.g., v2).",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "include_trigger_count",
      "in": "query",
      "required": false,
      "description": "When true, each hook in the response includes a trigger_count field with the number of triggers attached. Omit or set to false to skip this count.",
      "schema": {
       "type": "boolean"
      },
      "example": true
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Webhooks Hooks",
           "items": {
            "title": "Webhooks Hook",
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique string identifier for this webhook hook. Use as the {id} path parameter in show, update, and delete requests.",
              "example": "43593499"
             },
             "status": {
              "type": "string",
              "enum": [
               "active",
               "disabled"
              ],
              "description": "Lifecycle state of the hook. active means event delivery is enabled; disabled means delivery is paused.",
              "example": "active"
             },
             "payload_version": {
              "type": "string",
              "description": "Payload version of the hook",
              "example": "v2"
             },
             "namespace": {
              "type": "string",
              "description": "Namespace that identifies the integration or application that registered this hook.",
              "example": "your-company-name"
             },
             "destination_headers": {
              "type": "object",
              "properties": {
               "Authorization": {
                "type": "string",
                "description": "Authorization header value sent with each webhook request, partially redacted for security.",
                "example": "*****token"
               }
              }
             },
             "destination_url": {
              "type": "string",
              "description": "Notification endpoint URL",
              "example": "http://webhooks.mydomain.com"
             },
             "trigger_count": {
              "type": "integer",
              "description": "Number of triggers associated with this hook",
              "example": 25
             },
             "company_id": {
              "type": "string",
              "nullable": true,
              "description": "Unique string identifier of the company that owns this hook. Null for project-level hooks.",
              "example": "5358233"
             },
             "project_id": {
              "type": "string",
              "nullable": true,
              "description": "Unique string identifier of the project this hook is scoped to. Null for company-level hooks.",
              "example": "23498237"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the webhook was created",
              "example": "2024-11-21T21:32:32Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the webhook was last updated",
              "example": "2024-11-21T21:32:32Z"
             },
             "hook_type": {
              "type": "string",
              "description": "Type of hook. \"classic\" for standard webhook hooks.\n",
              "example": "classic"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks',\n  qs: {\n    namespace: 'SOME_STRING_VALUE',\n    payload_version: 'SOME_STRING_VALUE',\n    include_trigger_count: 'true',\n    hook_type: 'classic',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks?namespace=SOME_STRING_VALUE&payload_version=SOME_STRING_VALUE&include_trigger_count=true&hook_type=classic&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks?namespace=SOME_STRING_VALUE&payload_version=SOME_STRING_VALUE&include_trigger_count=true&hook_type=classic&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks?namespace=SOME_STRING_VALUE&payload_version=SOME_STRING_VALUE&include_trigger_count=true&hook_type=classic&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Company Webhooks Hook",
    "description": "Create a webhook for the company.",
    "tags": [
     "Webhooks"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "destination_url",
         "payload_version",
         "namespace"
        ],
        "properties": {
         "payload_version": {
          "type": "string",
          "description": "Payload format version for this hook (e.g., v2).",
          "nullable": false,
          "example": "v2"
         },
         "namespace": {
          "type": "string",
          "description": "Namespace that identifies the integration or application registering this hook. Use a value unique to your application (e.g., your company domain or app name).",
          "nullable": false,
          "example": "your-company-name"
         },
         "destination_headers": {
          "type": "object",
          "nullable": true,
          "properties": {
           "Authorization": {
            "type": "string",
            "description": "Authorization header",
            "example": "example-token"
           }
          }
         },
         "destination_url": {
          "type": "string",
          "description": "HTTPS URL of the endpoint that will receive webhook notifications. Must be publicly reachable.",
          "nullable": false,
          "example": "https://webhooks.mydomain.com"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Webhooks Hook",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique string identifier for this webhook hook. Use as the {id} path parameter in show, update, and delete requests.",
             "example": "43593499"
            },
            "status": {
             "type": "string",
             "enum": [
              "active",
              "disabled"
             ],
             "description": "Lifecycle state of the hook. active means event delivery is enabled; disabled means delivery is paused.",
             "example": "active"
            },
            "payload_version": {
             "type": "string",
             "description": "Payload version of the hook",
             "example": "v2"
            },
            "namespace": {
             "type": "string",
             "description": "Namespace that identifies the integration or application that registered this hook.",
             "example": "your-company-name"
            },
            "destination_headers": {
             "type": "object",
             "properties": {
              "Authorization": {
               "type": "string",
               "description": "Authorization header value sent with each webhook request, partially redacted for security.",
               "example": "*****token"
              }
             }
            },
            "destination_url": {
             "type": "string",
             "description": "Notification endpoint URL",
             "example": "http://webhooks.mydomain.com"
            },
            "trigger_count": {
             "type": "integer",
             "description": "Number of triggers associated with this hook",
             "example": 25
            },
            "company_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the company that owns this hook. Null for project-level hooks.",
             "example": "5358233"
            },
            "project_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the project this hook is scoped to. Null for company-level hooks.",
             "example": "23498237"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was created",
             "example": "2024-11-21T21:32:32Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was last updated",
             "example": "2024-11-21T21:32:32Z"
            },
            "hook_type": {
             "type": "string",
             "description": "Type of hook. \"classic\" for standard webhook hooks.\n",
             "example": "classic"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks',\n  headers: {'content-type': 'application/json'},\n  body: {\n    payload_version: 'v2',\n    namespace: 'your-company-name',\n    destination_headers: {Authorization: 'example-token'},\n    destination_url: 'https://webhooks.mydomain.com',\n    hook_type: 'classic'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"payload_version\\\":\\\"v2\\\",\\\"namespace\\\":\\\"your-company-name\\\",\\\"destination_headers\\\":{\\\"Authorization\\\":\\\"example-token\\\"},\\\"destination_url\\\":\\\"https://webhooks.mydomain.com\\\",\\\"hook_type\\\":\\\"classic\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks \\\n  --header 'content-type: application/json' \\\n  --data '{\"payload_version\":\"v2\",\"namespace\":\"your-company-name\",\"destination_headers\":{\"Authorization\":\"example-token\"},\"destination_url\":\"https://webhooks.mydomain.com\",\"hook_type\":\"classic\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks\"),\n    Content = new StringContent(\"{\\\"payload_version\\\":\\\"v2\\\",\\\"namespace\\\":\\\"your-company-name\\\",\\\"destination_headers\\\":{\\\"Authorization\\\":\\\"example-token\\\"},\\\"destination_url\\\":\\\"https://webhooks.mydomain.com\\\",\\\"hook_type\\\":\\\"classic\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/webhooks/hooks": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Webhooks Hooks",
    "description": "Returns an array of webhooks for the project.",
    "tags": [
     "Webhooks"
    ],
    "parameters": [
     {
      "name": "namespace",
      "in": "query",
      "required": false,
      "description": "Filter returned hooks to those registered under this namespace.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "payload_version",
      "in": "query",
      "required": false,
      "description": "Filter returned hooks by their configured payload format version (e.g., v2).",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "include_trigger_count",
      "in": "query",
      "required": false,
      "description": "When true, each hook in the response includes a trigger_count field with the number of triggers attached. Omit or set to false to skip this count.",
      "schema": {
       "type": "boolean"
      },
      "example": true
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Webhooks Hooks",
           "items": {
            "title": "Webhooks Hook",
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique string identifier for this webhook hook. Use as the {id} path parameter in show, update, and delete requests.",
              "example": "43593499"
             },
             "status": {
              "type": "string",
              "enum": [
               "active",
               "disabled"
              ],
              "description": "Lifecycle state of the hook. active means event delivery is enabled; disabled means delivery is paused.",
              "example": "active"
             },
             "payload_version": {
              "type": "string",
              "description": "Payload version of the hook",
              "example": "v2"
             },
             "namespace": {
              "type": "string",
              "description": "Namespace that identifies the integration or application that registered this hook.",
              "example": "your-company-name"
             },
             "destination_headers": {
              "type": "object",
              "properties": {
               "Authorization": {
                "type": "string",
                "description": "Authorization header value sent with each webhook request, partially redacted for security.",
                "example": "*****token"
               }
              }
             },
             "destination_url": {
              "type": "string",
              "description": "Notification endpoint URL",
              "example": "http://webhooks.mydomain.com"
             },
             "trigger_count": {
              "type": "integer",
              "description": "Number of triggers associated with this hook",
              "example": 25
             },
             "company_id": {
              "type": "string",
              "nullable": true,
              "description": "Unique string identifier of the company that owns this hook. Null for project-level hooks.",
              "example": "5358233"
             },
             "project_id": {
              "type": "string",
              "nullable": true,
              "description": "Unique string identifier of the project this hook is scoped to. Null for company-level hooks.",
              "example": "23498237"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the webhook was created",
              "example": "2024-11-21T21:32:32Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the webhook was last updated",
              "example": "2024-11-21T21:32:32Z"
             },
             "hook_type": {
              "type": "string",
              "description": "Type of hook. \"classic\" for standard webhook hooks.\n",
              "example": "classic"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks',\n  qs: {\n    namespace: 'SOME_STRING_VALUE',\n    payload_version: 'SOME_STRING_VALUE',\n    include_trigger_count: 'true',\n    hook_type: 'classic',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks?namespace=SOME_STRING_VALUE&payload_version=SOME_STRING_VALUE&include_trigger_count=true&hook_type=classic&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks?namespace=SOME_STRING_VALUE&payload_version=SOME_STRING_VALUE&include_trigger_count=true&hook_type=classic&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks?namespace=SOME_STRING_VALUE&payload_version=SOME_STRING_VALUE&include_trigger_count=true&hook_type=classic&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Project Webhooks Hook",
    "description": "Create a webhook for the project.",
    "tags": [
     "Webhooks"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "destination_url",
         "payload_version",
         "namespace"
        ],
        "properties": {
         "payload_version": {
          "type": "string",
          "description": "Payload format version for this hook (e.g., v2).",
          "nullable": false,
          "example": "v2"
         },
         "namespace": {
          "type": "string",
          "description": "Namespace that identifies the integration or application registering this hook. Use a value unique to your application (e.g., your company domain or app name).",
          "nullable": false,
          "example": "your-company-name"
         },
         "destination_headers": {
          "type": "object",
          "nullable": true,
          "properties": {
           "Authorization": {
            "type": "string",
            "description": "Authorization header",
            "example": "example-token"
           }
          }
         },
         "destination_url": {
          "type": "string",
          "description": "HTTPS URL of the endpoint that will receive webhook notifications. Must be publicly reachable.",
          "nullable": false,
          "example": "https://webhooks.mydomain.com"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Webhooks Hook",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique string identifier for this webhook hook. Use as the {id} path parameter in show, update, and delete requests.",
             "example": "43593499"
            },
            "status": {
             "type": "string",
             "enum": [
              "active",
              "disabled"
             ],
             "description": "Lifecycle state of the hook. active means event delivery is enabled; disabled means delivery is paused.",
             "example": "active"
            },
            "payload_version": {
             "type": "string",
             "description": "Payload version of the hook",
             "example": "v2"
            },
            "namespace": {
             "type": "string",
             "description": "Namespace that identifies the integration or application that registered this hook.",
             "example": "your-company-name"
            },
            "destination_headers": {
             "type": "object",
             "properties": {
              "Authorization": {
               "type": "string",
               "description": "Authorization header value sent with each webhook request, partially redacted for security.",
               "example": "*****token"
              }
             }
            },
            "destination_url": {
             "type": "string",
             "description": "Notification endpoint URL",
             "example": "http://webhooks.mydomain.com"
            },
            "trigger_count": {
             "type": "integer",
             "description": "Number of triggers associated with this hook",
             "example": 25
            },
            "company_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the company that owns this hook. Null for project-level hooks.",
             "example": "5358233"
            },
            "project_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the project this hook is scoped to. Null for company-level hooks.",
             "example": "23498237"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was created",
             "example": "2024-11-21T21:32:32Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was last updated",
             "example": "2024-11-21T21:32:32Z"
            },
            "hook_type": {
             "type": "string",
             "description": "Type of hook. \"classic\" for standard webhook hooks.\n",
             "example": "classic"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks',\n  headers: {'content-type': 'application/json'},\n  body: {\n    payload_version: 'v2',\n    namespace: 'your-company-name',\n    destination_headers: {Authorization: 'example-token'},\n    destination_url: 'https://webhooks.mydomain.com'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"payload_version\\\":\\\"v2\\\",\\\"namespace\\\":\\\"your-company-name\\\",\\\"destination_headers\\\":{\\\"Authorization\\\":\\\"example-token\\\"},\\\"destination_url\\\":\\\"https://webhooks.mydomain.com\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks \\\n  --header 'content-type: application/json' \\\n  --data '{\"payload_version\":\"v2\",\"namespace\":\"your-company-name\",\"destination_headers\":{\"Authorization\":\"example-token\"},\"destination_url\":\"https://webhooks.mydomain.com\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/webhooks/hooks\"),\n    Content = new StringContent(\"{\\\"payload_version\\\":\\\"v2\\\",\\\"namespace\\\":\\\"your-company-name\\\",\\\"destination_headers\\\":{\\\"Authorization\\\":\\\"example-token\\\"},\\\"destination_url\\\":\\\"https://webhooks.mydomain.com\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/webhooks/hooks/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Webhooks Hook ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Retrieve a single webhook for company",
    "description": "Fetch a specific webhook by its ID.",
    "tags": [
     "Webhooks"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Webhooks Hook",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique string identifier for this webhook hook. Use as the {id} path parameter in show, update, and delete requests.",
             "example": "43593499"
            },
            "status": {
             "type": "string",
             "enum": [
              "active",
              "disabled"
             ],
             "description": "Lifecycle state of the hook. active means event delivery is enabled; disabled means delivery is paused.",
             "example": "active"
            },
            "payload_version": {
             "type": "string",
             "description": "Payload version of the hook",
             "example": "v2"
            },
            "namespace": {
             "type": "string",
             "description": "Namespace that identifies the integration or application that registered this hook.",
             "example": "your-company-name"
            },
            "destination_headers": {
             "type": "object",
             "properties": {
              "Authorization": {
               "type": "string",
               "description": "Authorization header value sent with each webhook request, partially redacted for security.",
               "example": "*****token"
              }
             }
            },
            "destination_url": {
             "type": "string",
             "description": "Notification endpoint URL",
             "example": "http://webhooks.mydomain.com"
            },
            "trigger_count": {
             "type": "integer",
             "description": "Number of triggers associated with this hook",
             "example": 25
            },
            "company_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the company that owns this hook. Null for project-level hooks.",
             "example": "5358233"
            },
            "project_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the project this hook is scoped to. Null for company-level hooks.",
             "example": "23498237"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was created",
             "example": "2024-11-21T21:32:32Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was last updated",
             "example": "2024-11-21T21:32:32Z"
            },
            "hook_type": {
             "type": "string",
             "description": "Type of hook. \"classic\" for standard webhook hooks.\n",
             "example": "classic"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Company Webhooks Hook",
    "description": "Update a hook for the company.",
    "tags": [
     "Webhooks"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "payload_version": {
          "type": "string",
          "description": "Payload format version for this hook (e.g., v2).",
          "nullable": false,
          "example": "v2"
         },
         "namespace": {
          "type": "string",
          "description": "Namespace that identifies the integration or application registering this hook. Use a value unique to your application (e.g., your company domain or app name).",
          "nullable": false,
          "example": "your-company-name"
         },
         "destination_headers": {
          "type": "object",
          "nullable": true,
          "properties": {
           "Authorization": {
            "type": "string",
            "description": "Authorization header",
            "example": "example-token"
           }
          }
         },
         "destination_url": {
          "type": "string",
          "description": "HTTPS URL of the endpoint that will receive webhook notifications. Must be publicly reachable.",
          "nullable": false,
          "example": "https://webhooks.mydomain.com"
         },
         "status": {
          "type": "string",
          "description": "Lifecycle state of the hook. Set to disabled to stop event delivery without deleting the hook; set back to active to resume delivery.",
          "enum": [
           "active",
           "disabled"
          ],
          "example": "active"
         }
        },
        "oneOf": [
         {
          "required": [
           "payload_version"
          ]
         },
         {
          "required": [
           "namespace"
          ]
         },
         {
          "required": [
           "destination_headers"
          ]
         },
         {
          "required": [
           "destination_url"
          ]
         },
         {
          "required": [
           "status"
          ]
         }
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Updated",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Webhooks Hook",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique string identifier for this webhook hook. Use as the {id} path parameter in show, update, and delete requests.",
             "example": "43593499"
            },
            "status": {
             "type": "string",
             "enum": [
              "active",
              "disabled"
             ],
             "description": "Lifecycle state of the hook. active means event delivery is enabled; disabled means delivery is paused.",
             "example": "active"
            },
            "payload_version": {
             "type": "string",
             "description": "Payload version of the hook",
             "example": "v2"
            },
            "namespace": {
             "type": "string",
             "description": "Namespace that identifies the integration or application that registered this hook.",
             "example": "your-company-name"
            },
            "destination_headers": {
             "type": "object",
             "properties": {
              "Authorization": {
               "type": "string",
               "description": "Authorization header value sent with each webhook request, partially redacted for security.",
               "example": "*****token"
              }
             }
            },
            "destination_url": {
             "type": "string",
             "description": "Notification endpoint URL",
             "example": "http://webhooks.mydomain.com"
            },
            "trigger_count": {
             "type": "integer",
             "description": "Number of triggers associated with this hook",
             "example": 25
            },
            "company_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the company that owns this hook. Null for project-level hooks.",
             "example": "5358233"
            },
            "project_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the project this hook is scoped to. Null for company-level hooks.",
             "example": "23498237"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was created",
             "example": "2024-11-21T21:32:32Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was last updated",
             "example": "2024-11-21T21:32:32Z"
            },
            "hook_type": {
             "type": "string",
             "description": "Type of hook. \"classic\" for standard webhook hooks.\n",
             "example": "classic"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    payload_version: 'v2',\n    namespace: 'your-company-name',\n    destination_headers: {Authorization: 'example-token'},\n    destination_url: 'https://webhooks.mydomain.com',\n    status: 'active'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"payload_version\\\":\\\"v2\\\",\\\"namespace\\\":\\\"your-company-name\\\",\\\"destination_headers\\\":{\\\"Authorization\\\":\\\"example-token\\\"},\\\"destination_url\\\":\\\"https://webhooks.mydomain.com\\\",\\\"status\\\":\\\"active\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"payload_version\":\"v2\",\"namespace\":\"your-company-name\",\"destination_headers\":{\"Authorization\":\"example-token\"},\"destination_url\":\"https://webhooks.mydomain.com\",\"status\":\"active\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"payload_version\\\":\\\"v2\\\",\\\"namespace\\\":\\\"your-company-name\\\",\\\"destination_headers\\\":{\\\"Authorization\\\":\\\"example-token\\\"},\\\"destination_url\\\":\\\"https://webhooks.mydomain.com\\\",\\\"status\\\":\\\"active\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Company Webhooks Hook",
    "description": "Delete Company Webhooks and Triggers associated with hook.",
    "tags": [
     "Webhooks"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/webhooks/hooks/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/webhooks/hooks/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Webhooks Hook ID",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Retrieve a single webhook for project",
    "description": "Fetch a specific webhook by its ID.",
    "tags": [
     "Webhooks"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Webhooks Hook",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique string identifier for this webhook hook. Use as the {id} path parameter in show, update, and delete requests.",
             "example": "43593499"
            },
            "status": {
             "type": "string",
             "enum": [
              "active",
              "disabled"
             ],
             "description": "Lifecycle state of the hook. active means event delivery is enabled; disabled means delivery is paused.",
             "example": "active"
            },
            "payload_version": {
             "type": "string",
             "description": "Payload version of the hook",
             "example": "v2"
            },
            "namespace": {
             "type": "string",
             "description": "Namespace that identifies the integration or application that registered this hook.",
             "example": "your-company-name"
            },
            "destination_headers": {
             "type": "object",
             "properties": {
              "Authorization": {
               "type": "string",
               "description": "Authorization header value sent with each webhook request, partially redacted for security.",
               "example": "*****token"
              }
             }
            },
            "destination_url": {
             "type": "string",
             "description": "Notification endpoint URL",
             "example": "http://webhooks.mydomain.com"
            },
            "trigger_count": {
             "type": "integer",
             "description": "Number of triggers associated with this hook",
             "example": 25
            },
            "company_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the company that owns this hook. Null for project-level hooks.",
             "example": "5358233"
            },
            "project_id": {
             "type": "string",
             "nullable": true,
             "description": "Unique string identifier of the project this hook is scoped to. Null for company-level hooks.",
             "example": "23498237"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was created",
             "example": "2024-11-21T21:32:32Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the webhook was last updated",
             "example": "2024-11-21T21:32:32Z"
            },
            "hook_type": {
             "type": "string",
[...]
