{
 "openapi": "3.0.0",
 "info": {
  "title": "Incidents",
  "x-product-category": "Project Management",
  "x-tool-category": "Incidents",
  "x-resource-name": "Incidents",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/incidents": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Incidents",
    "description": "Returns a paginated list of incidents for the specified project, ordered by descending number by default. Each incident includes summary information, associated records count, and linked resources (location, contributing factors, assignees). Supports filtering by date, location, status, root cause fields, recordable flag, and full-text search across title, creator, witness statements, actions, and related fields. Use filters[query] for keyword search.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "in": "query",
      "name": "per_page",
      "description": "Number of items returned per page (Min: 1, Max: 1000). Defaults to 1000 when parameter is not provided.",
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 1000,
       "default": 1000
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[event_date]",
      "in": "query",
      "description": "Returns item(s) with an event date within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Return item(s) with the specified Location IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Returns item(s) matching the specified status value.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[contributing_behavior_id]",
      "in": "query",
      "description": "Contributing Behavior ID. Returns item(s) with the specified Contributing Behavior ID.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[contributing_condition_id]",
      "in": "query",
      "description": "Contributing Condition ID. Returns item(s) with the specified Contributing Condition ID.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[hazard_id]",
      "in": "query",
      "description": "Hazard ID. Returns item(s) with the specified Hazard ID.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[time_unknown]",
      "in": "query",
      "description": "If true, returns item(s) where the time of Incident occurrence is unknown.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     },
     {
      "name": "filters[recordable]",
      "in": "query",
      "required": false,
      "description": "Return item(s) that are recordable.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[has_root_cause_analysis]",
      "in": "query",
      "required": false,
      "description": "If true, returns only Incidents that have a Root Cause Analysis. If false, returns only Incidents that do not have one. Omit the parameter to return both.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[custom_status_id]",
      "in": "query",
      "description": "Return item(s) with the specified Custom Status IDs",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[type_id]",
      "in": "query",
      "description": "Return item(s) with a specific Type ID or a range of Type IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[assignee_id]",
      "in": "query",
      "description": "Return item(s) with a specific Assignee ID or a range of Assignee IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Full-text search across incident title, creator name, witness statements, action descriptions, action types, contributing behaviors, contributing conditions, hazards, and location names. Returns incidents where any of these fields contain the query string.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "contributing_behavior",
        "contributing_condition",
        "created_at",
        "event_date",
        "hazard",
        "number",
        "recordable",
        "records_count",
        "title"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "title": "IncidentCompact",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "example": 1
           },
           "created_at": {
            "type": "string",
            "description": "Timestamp of creation",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z"
           },
           "deleted_at": {
            "type": "string",
            "description": "Timestamp of deletion",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z",
            "nullable": true
           },
           "description": {
            "type": "string",
            "description": "Description of the Incident",
            "example": "Can of gasoline tipped over near drying cement."
           },
           "event_date": {
            "type": "string",
            "description": "Date of Incident occurrence",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z"
           },
           "number": {
            "type": "integer",
            "description": "Number",
            "example": 109
           },
           "private": {
            "type": "boolean",
            "description": "Indicates whether an Incident is private",
            "example": false
           },
           "recordable": {
            "type": "boolean",
            "description": "Indicates whether an Incident is recordable",
            "example": false
           },
           "records_count": {
            "type": "integer",
            "description": "Number of Records associated to the Incident",
            "example": 1
           },
           "open_observations_count": {
            "type": "integer",
            "description": "Number of Open Observations associated to the Incident",
            "example": 1
           },
           "closed_observations_count": {
            "type": "integer",
            "description": "Number of Closed Observations associated to the Incident",
            "example": 1
           },
           "actions_count": {
            "type": "integer",
            "description": "Number of Actions associated to the Incident"
           },
           "witness_statements_count": {
            "type": "integer",
            "description": "Number of Witness Statements associated to the Incident"
           },
           "status": {
            "type": "string",
            "description": "Status",
            "enum": [
             "open",
             "closed"
            ],
            "example": "open"
           },
           "time_unknown": {
            "type": "boolean",
            "description": "Indicates that the time of the Incident occurrence is unknown",
            "example": false
           },
           "title": {
            "type": "string",
            "description": "Incident Title",
            "example": "HAZMAT Spill"
           },
           "updated_at": {
            "type": "string",
            "description": "Timestamp of last update",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z"
           },
           "created_by": {
            "allOf": [
             {
              "type": "object",
              "properties": {
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "Carl the Contractor"
               }
              }
             }
            ]
           },
           "contributing_behavior": {
            "type": "object",
            "title": "Contributing Behavior",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Contributing Behavior ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Contributing Behavior Name",
              "example": "Distraction"
             },
             "active": {
              "type": "boolean",
              "description": "Represents whether a Contributing Behavior is available for use.",
              "example": true
             },
             "global": {
              "type": "boolean",
              "description": "Represents whether a Contributing Behavior has been provided by Procore.",
              "example": false
             },
             "created_at": {
              "type": "string",
              "description": "Timestamp of creation",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "updated_at": {
              "type": "string",
              "description": "Timestamp of last update",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             }
            }
           },
           "contributing_condition": {
            "type": "object",
            "title": "Contributing Condition",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Contributing Condition ID",
              "example": 9001
             },
             "name": {
              "type": "string",
              "description": "Contributing Condition Name",
              "example": "Environment"
             },
             "active": {
              "type": "boolean",
              "description": "Represents whether a Contributing Condition is available for use.",
              "example": true
             },
             "global": {
              "type": "boolean",
              "description": "Represents whether a Contributing Condition has been provided by Procore.",
              "example": false
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of creation",
              "example": "2019-01-18T21:36:55Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update",
              "example": "2019-01-18T21:46:56Z"
             }
            }
           },
           "hazard": {
            "type": "object",
            "title": "Hazard",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Hazard ID",
              "example": 1738
             },
             "name": {
              "type": "string",
              "description": "Hazard Name",
              "example": "Slip"
             },
             "active": {
              "type": "boolean",
              "description": "Represents whether a Hazard is available for use.",
              "example": true
             },
             "global": {
              "type": "boolean",
              "description": "Represents whether a Hazard has been provided by Procore.",
              "example": false
             },
             "created_at": {
              "type": "string",
              "description": "Timestamp of creation",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "updated_at": {
              "type": "string",
              "description": "Timestamp of last update",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             }
            }
           },
           "location": {
            "type": "object",
            "title": "Location",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "1space>1 space"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "1 space"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "attachments_count": {
            "type": "integer",
            "description": "Number of Attachments attached to the Incident"
           },
           "custom_fields": {
            "type": "object",
            "properties": {
             "custom_field_%{custom_field_string_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "string"
               },
               "value": {
                "type": "string",
                "description": "The value of the custom field.",
                "example": "custom field value"
               }
              }
             },
             "custom_field_%{custom_field_decimal_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "decimal"
               },
               "value": {
                "type": "number",
                "description": "The value of the custom field.",
                "example": 2.2
               }
              }
             },
             "custom_field_%{custom_field_boolean_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "boolean"
               },
               "value": {
                "type": "boolean",
                "description": "The value of the custom field.",
                "example": true
               }
              }
             },
             "custom_field_%{custom_field_lov_entry_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "lov_entry"
               },
               "value": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The unique identifier of the list of values (LOV) entry.",
                  "example": 1
                 },
                 "label": {
                  "type": "string",
                  "description": "Label of the list of values (LOV) entry.",
                  "example": "Open"
                 }
                }
               }
              }
             },
             "custom_field_%{custom_field_lov_entries_definition_id}": {
              "type": "object",
              "properties": {
               "data_type": {
                "type": "string",
                "description": "The data type of the Custom Field Definition.",
                "example": "lov_entries"
               },
               "value": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 2
                  },
                  "label": {
                   "type": "string",
                   "description": "The label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[event_date]': 'SOME_STRING_VALUE',\n    'filters[location_id]': 'SOME_ARRAY_VALUE',\n    'filters[status]': 'SOME_ARRAY_VALUE',\n    'filters[contributing_behavior_id]': 'SOME_ARRAY_VALUE',\n    'filters[contributing_condition_id]': 'SOME_ARRAY_VALUE',\n    'filters[hazard_id]': 'SOME_ARRAY_VALUE',\n    'filters[time_unknown]': 'SOME_BOOLEAN_VALUE',\n    'filters[recordable]': 'SOME_BOOLEAN_VALUE',\n    'filters[has_root_cause_analysis]': 'SOME_BOOLEAN_VALUE',\n    'filters[custom_status_id]': 'SOME_ARRAY_VALUE',\n    'filters[type_id]': 'SOME_ARRAY_VALUE',\n    'filters[assignee_id]': 'SOME_ARRAY_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bevent_date%5D=SOME_STRING_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bcontributing_behavior_id%5D=SOME_ARRAY_VALUE&filters%5Bcontributing_condition_id%5D=SOME_ARRAY_VALUE&filters%5Bhazard_id%5D=SOME_ARRAY_VALUE&filters%5Btime_unknown%5D=SOME_BOOLEAN_VALUE&filters%5Brecordable%5D=SOME_BOOLEAN_VALUE&filters%5Bhas_root_cause_analysis%5D=SOME_BOOLEAN_VALUE&filters%5Bcustom_status_id%5D=SOME_ARRAY_VALUE&filters%5Btype_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bevent_date%5D=SOME_STRING_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bcontributing_behavior_id%5D=SOME_ARRAY_VALUE&filters%5Bcontributing_condition_id%5D=SOME_ARRAY_VALUE&filters%5Bhazard_id%5D=SOME_ARRAY_VALUE&filters%5Btime_unknown%5D=SOME_BOOLEAN_VALUE&filters%5Brecordable%5D=SOME_BOOLEAN_VALUE&filters%5Bhas_root_cause_analysis%5D=SOME_BOOLEAN_VALUE&filters%5Bcustom_status_id%5D=SOME_ARRAY_VALUE&filters%5Btype_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bevent_date%5D=SOME_STRING_VALUE&filters%5Blocation_id%5D=SOME_ARRAY_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Bcontributing_behavior_id%5D=SOME_ARRAY_VALUE&filters%5Bcontributing_condition_id%5D=SOME_ARRAY_VALUE&filters%5Bhazard_id%5D=SOME_ARRAY_VALUE&filters%5Btime_unknown%5D=SOME_BOOLEAN_VALUE&filters%5Brecordable%5D=SOME_BOOLEAN_VALUE&filters%5Bhas_root_cause_analysis%5D=SOME_BOOLEAN_VALUE&filters%5Bcustom_status_id%5D=SOME_ARRAY_VALUE&filters%5Btype_id%5D=SOME_ARRAY_VALUE&filters%5Bassignee_id%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Documented `filters[has_root_cause_analysis]` parameter for List Incidents endpoint",
      "description": "Documented the existing `filters[has_root_cause_analysis]` query parameter, which returns only Incidents that have (or do not have) a Root Cause Analysis.",
      "endpoint": "GET /projects/{project_id}/incidents",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-04",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "incidents?version=1.0#list-incidents"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Incident",
    "description": "Creates a new incident in the specified project. Requires at minimum a title and event_date. Optionally attach associated records (injuries, near_misses, environmentals, property_damages) in a single request. Pass run_configurable_validations=true to enforce any custom validation rules configured for the Incidents tool. The operation is idempotent via UUID-based deduplication.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "description": "Whether or not Configurable validations from the Incident/Injury Configurable Field Set should be run (default: false).\nSee (https://developers.procore.com/reference/configurable-field-sets#list-project-configurable-field-sets) for a list of Configurable validations enabled on this project.",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "incident"
        ],
        "properties": {
         "incident": {
          "type": "object",
          "properties": {
           "description": {
            "type": "string",
            "description": "Description of the Incident",
            "example": "Can of gasoline tipped over near drying cement."
           },
           "event_date": {
            "type": "string",
            "description": "Iso8601 datetime of Incident occurrence. If time is unknown, send in the date at 0:00 project time converted to UTC.",
            "format": "date-time",
            "example": "2016-10-25T17:53:35Z"
           },
           "type_id": {
            "type": "integer",
            "description": "The ID of the Incident Type. Defaults to the company's General type if not provided. The type must be active.",
            "example": 1
           },
           "custom_status_id": {
            "type": "integer",
            "description": "The ID of the Custom Status. Mutually exclusive with the status field \u2014 setting one sets the other. Not updatable if the Incident has a workflows instance.",
            "example": 5
           },
           "assignee_ids": {
            "type": "array",
            "description": "An array of Login Information IDs to assign to the Incident. Assignees gain visibility into the Incident and its related records. Not updatable if the Incident has a workflows instance.",
            "items": {
             "type": "integer"
            },
            "example": [
             101,
             202
            ]
           },
           "distribution_member_ids": {
            "type": "array",
            "description": "An Array of the IDs of the Distribution Members (Not updatable if an incident has a workflows instance)",
            "items": {
             "type": "integer"
            }
           },
           "private": {
            "type": "boolean",
            "description": "Indicates whether an Incident is private",
            "example": false
           },
           "recordable": {
            "type": "boolean",
            "description": "Indicates whether an Incident is recordable",
            "example": false
           },
           "status": {
            "type": "string",
            "description": "Status (Not updatable if an incident has a workflows instance)",
            "enum": [
             "open",
             "closed"
            ],
            "example": "open"
           },
           "time_unknown": {
            "type": "boolean",
            "description": "Indicates that the time of the Incident occurrence is unknown",
            "example": false
           },
           "title": {
            "type": "string",
            "description": "Incident Title",
            "example": "HAZMAT Spill"
           },
           "contributing_behavior_id": {
            "type": "integer",
            "description": "The ID of a Contributing Behavior"
           },
           "contributing_condition_id": {
            "type": "integer",
            "description": "The ID of a Contributing Condition"
           },
           "hazard_id": {
            "type": "integer",
            "description": "The ID of a Hazard"
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of a Location"
           },
           "environmentals": {
            "type": "array",
            "description": "Associated Environmentals to create",
            "items": {
             "title": "IncidentEnvironmentalUpdateParameters",
             "type": "object",
             "properties": {
              "environmental_type_id": {
               "type": "integer",
               "description": "The ID of the Environmental Type"
              },
              "description": {
               "type": "string",
               "description": "Description of event in Rich Text format",
               "example": "<p>Sprain to <b>Hand</b> by Ground</p>"
              },
              "estimated_cost_impact": {
               "type": "number",
               "format": "float",
               "description": "Estimated cost impact of the record",
               "example": 20000
              },
              "quantity_value": {
               "type": "number",
               "format": "float",
               "description": "Numeric portion of the \"quantity\" field",
               "example": 1000
              },
              "quantity_unit_of_measure": {
               "type": "string",
               "description": "Unit of measure for the \"quantity\" field",
               "example": "Lbs",
               "enum": [
                "hours",
                "days",
                "weeks",
                "months",
                "years",
                "ea",
                "ls",
                "lf",
                "sf",
                "sy",
                "cy",
                "lbs",
                "ton",
                "mm",
                "m",
                "m^2",
                "m^3",
                "kg",
                "t"
               ]
              },
              "affected_company_id": {
               "type": "integer",
               "description": "The ID of the Affected Company"
              },
              "managed_equipment_id": {
               "type": "integer",
               "description": "The ID of the Managed Equipment"
              },
              "work_activity_id": {
               "type": "integer",
               "description": "The ID of the Work Activity"
              },
              "custom_field_%{custom_field_definition_id}": {
               "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
               "example": "custom field value",
               "oneOf": [
                {
                 "type": "string",
                 "title": "string"
                },
                {
                 "type": "number",
                 "title": "number"
                },
                {
                 "type": "boolean",
                 "title": "boolean"
                },
                {
                 "type": "array",
                 "title": "array",
                 "items": {
                  "type": "integer"
                 }
                }
               ]
              }
             }
            }
           },
           "injuries": {
            "type": "array",
            "description": "Associated Injuries to create",
            "items": {
             "title": "IncidentInjuryUpdateParameters",
             "type": "object",
             "properties": {
              "date_of_death": {
               "type": "string",
               "description": "Date of death",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              },
              "description": {
               "type": "string",
               "description": "Description of event in Rich Text format",
               "example": "<p>Sprain to <b>Hand</b> by Ground</p>"
              },
              "filing_type": {
               "type": "string",
               "description": "Filing Type - The 'recordable' filing_type value is deprecated. When a filing type of 'recordable' is provided, the `recordable` attribute of the Injury will instead be set to 'true'.",
               "example": "first_aid",
               "enum": [
                "fatality",
                "first_aid",
                "lost_time",
                "medically_treated",
                "refused_care",
                "report_only",
                "restricted_work"
               ]
              },
              "hospitalized_overnight": {
               "type": "boolean",
               "description": "Represents whether the injured person was hospitalized overnight",
               "example": true
              },
              "recordable": {
               "type": "boolean",
               "description": "Represents whether the Injury record is recordable",
               "example": true
              },
              "treated_in_er": {
               "type": "boolean",
               "description": "Represents whether the injured person was treated in the ER",
               "example": true
              },
              "treatment_facility_address": {
               "type": "string",
               "description": "The street address of the treatment facility",
               "example": "6309 Carpinteria Ave."
              },
              "treatment_facility": {
               "type": "string",
               "description": "The name of the treatment facility",
               "example": "Procore Hospital"
              },
              "treatment_provider": {
               "type": "string",
               "description": "The name of the treatment provider",
               "example": "Dr. Doctor"
              },
              "work_days_absent": {
               "type": "integer",
               "description": "The number of days absent from work",
               "example": 1
              },
              "work_days_restricted": {
               "type": "integer",
               "description": "The number of days on restricted work",
               "example": 3
              },
              "work_days_transferred": {
               "type": "integer",
               "description": "The number of days transferred",
               "example": 4
              },
              "affliction_type_id": {
               "type": "integer",
               "description": "The ID of the Affliction Type. This cannot be cleared if there is an affected_body_part."
              },
              "body_diagram_type": {
               "type": "string",
               "example": "feminine",
               "enum": [
                "feminine",
                "masculine"
               ]
              },
              "affected_body_parts": {
               "type": "array",
               "description": "DEPRECATED - Use body_part_ids instead. The body parts affected by the affliction. This requires an affliction_type to be set.",
               "items": {
                "type": "string",
                "example": "abdomen",
                "enum": [
                 "abdomen",
                 "ankle",
                 "ankle_left",
                 "ankle_right",
                 "arm",
                 "arm_left",
                 "arm_right",
                 "back",
                 "body_systems",
                 "breast",
                 "breast_left",
                 "breast_right",
                 "buttock",
                 "chest",
                 "circulatory_system",
                 "cranium",
                 "digestive_system",
                 "ear",
                 "ear_left",
                 "ear_right",
                 "elbow",
                 "elbow_left",
                 "elbow_right",
                 "entire_body_systemic",
                 "eye",
                 "eye_left",
                 "eye_right",
                 "face",
                 "finger",
                 "finger_index",
                 "finger_index_left",
                 "finger_index_right",
                 "finger_middle",
                 "finger_middle_left",
                 "finger_middle_right",
                 "finger_pinky",
                 "finger_pinky_left",
                 "finger_pinky_right",
                 "finger_ring",
                 "finger_ring_left",
                 "finger_ring_right",
                 "foot",
                 "foot_left",
                 "foot_right",
                 "foot_top_left",
                 "foot_top_right",
                 "forearm",
                 "forearm_left",
                 "forearm_right",
                 "groin",
                 "hand",
                 "hand_back_left",
                 "hand_back_right",
                 "hand_left",
                 "hand_right",
                 "head",
                 "head_back",
                 "heart",
                 "heel_left",
                 "heel_right",
                 "hip",
                 "hip_left",
                 "hip_right",
                 "internal_organs",
                 "knee",
                 "knee_left",
                 "knee_right",
                 "leg",
                 "leg_left",
                 "leg_right",
                 "lower_back",
                 "lower_back_left",
                 "lower_back_right",
                 "lower_leg",
                 "lower_leg_left",
                 "lower_leg_right",
                 "lungs",
                 "mouth",
                 "neck",
                 "neck_back",
                 "neck_left",
                 "neck_right",
                 "nervous_system",
                 "nose",
                 "palm_left",
                 "palm_right",
                 "pec",
                 "pec_left",
                 "pec_right",
                 "pelvis",
                 "pelvis_front",
                 "psychological",
                 "reproductive_system",
                 "respiratory_system",
                 "ribs",
                 "ribs_left",
                 "ribs_right",
                 "shoulder",
                 "shoulder_left",
                 "shoulder_right",
                 "skin",
                 "tailbone",
                 "teeth",
                 "throat",
                 "thumb",
                 "thumb_left",
                 "thumb_right",
                 "toe",
                 "toe_fifth",
                 "toe_fifth_left",
                 "toe_fifth_right",
                 "toe_first",
                 "toe_first_left",
                 "toe_first_right",
                 "toe_fourth",
                 "toe_fourth_left",
                 "toe_fourth_right",
                 "toe_second",
                 "toe_second_left",
                 "toe_second_right",
                 "toe_third",
                 "toe_third_left",
                 "toe_third_right",
                 "torso",
                 "upper_arm",
                 "upper_arm_left",
                 "upper_arm_right",
                 "upper_back",
                 "upper_back_left",
                 "upper_back_right",
                 "upper_leg",
                 "upper_leg_left",
                 "upper_leg_right",
                 "urinary_system",
                 "vertebrae",
                 "wrist",
                 "wrist_left",
                 "wrist_right"
                ]
               }
              },
              "affected_person_id": {
               "type": "integer",
               "description": "The ID of the Affected Person. This only supports full Users from the Users endpoints."
              },
              "affected_party_id": {
               "type": "integer",
               "description": "The ID of the Affected Person. This supports full and reference Users from the People endpoints."
              },
              "body_part_ids": {
               "type": "array",
               "description": "The IDs of body parts affected by the affliction. This requires an affliction_type to be set.",
               "items": {
                "type": "integer",
                "example": 1
               }
              },
              "harm_source_id": {
               "type": "integer",
               "description": "The ID of the Harm Source"
              },
              "affected_company_id": {
               "type": "integer",
               "description": "The ID of the Affected Company"
              },
              "managed_equipment_id": {
               "type": "integer",
               "description": "The ID of the Managed Equipment"
              },
              "work_activity_id": {
               "type": "integer",
               "description": "The ID of the Work Activity"
              },
              "custom_field_%{custom_field_definition_id}": {
               "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
               "example": "custom field value",
               "oneOf": [
                {
                 "type": "string",
                 "title": "string"
                },
                {
                 "type": "number",
                 "title": "number"
                },
                {
                 "type": "boolean",
                 "title": "boolean"
                },
                {
                 "type": "array",
                 "title": "array",
                 "items": {
                  "type": "integer"
                 }
                }
               ]
              }
             }
            }
           },
           "near_misses": {
            "type": "array",
            "description": "Associated Near Misses to create",
            "items": {
             "title": "IncidentNearMissUpdateParameters",
             "type": "object",
             "properties": {
              "description": {
               "type": "string",
               "description": "Description of event in Rich Text format",
               "example": "<p>Sprain to <b>Hand</b> by Ground</p>"
              },
              "affected_person_id": {
               "type": "integer",
               "description": "The ID of the Affected Person. This only supports full Users from the Users endpoints."
              },
              "affected_party_id": {
               "type": "integer",
               "description": "The ID of the Affected Person. This supports full and reference Users from the People endpoints."
              },
              "harm_source_id": {
               "type": "integer",
               "description": "The ID of the Harm Source"
              },
              "affected_company_id": {
               "type": "integer",
               "description": "The ID of the Affected Company"
              },
              "managed_equipment_id": {
               "type": "integer",
               "description": "The ID of the Managed Equipment"
              },
              "work_activity_id": {
               "type": "integer",
               "description": "The ID of the Work Activity"
              },
              "custom_field_%{custom_field_definition_id}": {
               "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
               "example": "custom field value",
               "oneOf": [
                {
                 "type": "string",
                 "title": "string"
                },
                {
                 "type": "number",
                 "title": "number"
                },
                {
                 "type": "boolean",
                 "title": "boolean"
                },
                {
                 "type": "array",
                 "title": "array",
                 "items": {
                  "type": "integer"
                 }
                }
               ]
              }
             }
            }
           },
           "property_damages": {
            "type": "array",
            "description": "Associated Property Damages to create",
            "items": {
             "title": "IncidentPropertyDamageUpdateParameters",
             "type": "object",
             "properties": {
              "description": {
               "type": "string",
               "description": "Description of event in Rich Text format",
               "example": "<p>Sprain to <b>Hand</b> by Ground</p>"
              },
              "estimated_cost_impact": {
               "type": "number",
               "format": "float",
               "description": "Estimated cost impact of the record",
               "example": 20000
              },
              "affected_company_id": {
               "type": "integer",
               "description": "The ID of the Affected Company"
              },
              "responsible_company_id": {
               "type": "integer",
               "description": "The ID of the Responsible Company"
              },
              "managed_equipment_id": {
               "type": "integer",
               "description": "The ID of the Managed Equipment"
              },
              "work_activity_id": {
               "type": "integer",
               "description": "The ID of the Work Activity"
              },
              "custom_field_%{custom_field_definition_id}": {
               "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
               "example": "custom field value",
               "oneOf": [
                {
                 "type": "string",
                 "title": "string"
                },
                {
                 "type": "number",
                 "title": "number"
                },
                {
                 "type": "boolean",
                 "title": "boolean"
                },
                {
                 "type": "array",
                 "title": "array",
                 "items": {
                  "type": "integer"
                 }
                }
               ]
              }
             }
            }
           },
           "witness_statements_attributes": {
            "type": "array",
            "description": "Associated Witness Statement to create",
            "items": {
             "title": "IncidentWitnessStatementUpdateParameters",
             "type": "object",
             "properties": {
              "statement": {
               "type": "string",
               "description": "The account of the event by the witness in rich text form.",
               "example": "<p>I witnessed what happened.</p>"
              },
              "date_received": {
               "type": "string",
               "description": "Date that the Witness Statement was received. This assumes the dates provided are in the project timezone.",
               "format": "date",
               "example": "2016-10-25"
              },
              "witness_id": {
               "type": "integer",
               "description": "Witness ID",
               "example": 1
              },
              "custom_field_%{custom_field_definition_id}": {
               "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
               "example": "custom field value",
               "oneOf": [
                {
                 "type": "string",
                 "title": "string"
                },
                {
                 "type": "number",
                 "title": "number"
                },
                {
                 "type": "boolean",
                 "title": "boolean"
                },
                {
                 "type": "array",
                 "title": "array",
                 "items": {
                  "type": "integer"
                 }
                }
               ]
              }
             }
            }
           },
           "upload_uuids": {
            "type": "array",
            "description": "Array of uploaded file UUIDs.",
            "items": {
             "type": "string",
             "description": "UUID of uploaded file",
             "example": "1ZE258W9K804SAJJZX19JVAB3R"
            }
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             4,
             5
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             6,
             7
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             7,
             8
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "integer"
            },
            "example": [
             9,
             10
            ]
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "IncidentNormal",
         "allOf": [
          {
           "title": "IncidentCompact",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "example": 1
            },
            "created_at": {
             "type": "string",
             "description": "Timestamp of creation",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "deleted_at": {
             "type": "string",
             "description": "Timestamp of deletion",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "Description of the Incident",
             "example": "Can of gasoline tipped over near drying cement."
            },
            "event_date": {
             "type": "string",
             "description": "Date of Incident occurrence",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "number": {
             "type": "integer",
             "description": "Number",
             "example": 109
            },
            "private": {
             "type": "boolean",
             "description": "Indicates whether an Incident is private",
             "example": false
            },
            "recordable": {
             "type": "boolean",
             "description": "Indicates whether an Incident is recordable",
             "example": false
            },
            "records_count": {
             "type": "integer",
             "description": "Number of Records associated to the Incident",
             "example": 1
            },
            "open_observations_count": {
             "type": "integer",
             "description": "Number of Open Observations associated to the Incident",
             "example": 1
            },
            "closed_observations_count": {
             "type": "integer",
             "description": "Number of Closed Observations associated to the Incident",
             "example": 1
            },
            "actions_count": {
             "type": "integer",
             "description": "Number of Actions associated to the Incident"
            },
            "witness_statements_count": {
             "type": "integer",
             "description": "Number of Witness Statements associated to the Incident"
            },
            "status": {
             "type": "string",
             "description": "Status",
             "enum": [
              "open",
              "closed"
             ],
             "example": "open"
            },
            "time_unknown": {
             "type": "boolean",
             "description": "Indicates that the time of the Incident occurrence is unknown",
             "example": false
            },
            "title": {
             "type": "string",
             "description": "Incident Title",
             "example": "HAZMAT Spill"
            },
            "updated_at": {
             "type": "string",
             "description": "Timestamp of last update",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "created_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "contributing_behavior": {
             "type": "object",
             "title": "Contributing Behavior",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Contributing Behavior ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Contributing Behavior Name",
               "example": "Distraction"
              },
              "active": {
               "type": "boolean",
               "description": "Represents whether a Contributing Behavior is available for use.",
               "example": true
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a Contributing Behavior has been provided by Procore.",
               "example": false
              },
              "created_at": {
               "type": "string",
               "description": "Timestamp of creation",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              },
              "updated_at": {
               "type": "string",
               "description": "Timestamp of last update",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              }
             }
            },
            "contributing_condition": {
             "type": "object",
             "title": "Contributing Condition",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Contributing Condition ID",
               "example": 9001
              },
              "name": {
               "type": "string",
               "description": "Contributing Condition Name",
               "example": "Environment"
              },
              "active": {
               "type": "boolean",
               "description": "Represents whether a Contributing Condition is available for use.",
               "example": true
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a Contributing Condition has been provided by Procore.",
               "example": false
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2019-01-18T21:36:55Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2019-01-18T21:46:56Z"
              }
             }
            },
            "hazard": {
             "type": "object",
             "title": "Hazard",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Hazard ID",
               "example": 1738
              },
              "name": {
               "type": "string",
               "description": "Hazard Name",
               "example": "Slip"
              },
              "active": {
               "type": "boolean",
               "description": "Represents whether a Hazard is available for use.",
               "example": true
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a Hazard has been provided by Procore.",
               "example": false
              },
              "created_at": {
               "type": "string",
               "description": "Timestamp of creation",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              },
              "updated_at": {
               "type": "string",
               "description": "Timestamp of last update",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              }
             }
            },
            "location": {
             "type": "object",
             "title": "Location",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Location ID",
               "example": 15504
              },
              "name": {
               "type": "string",
               "description": "Location name",
               "example": "1space>1 space"
              },
              "node_name": {
               "type": "string",
               "description": "Location node name",
               "example": "1 space"
              },
              "parent_id": {
               "type": "integer",
               "description": "Location parent id",
               "example": 788866
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of Location creation",
               "example": "2016-08-01T23:33:54Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Location",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "attachments_count": {
             "type": "integer",
             "description": "Number of Attachments attached to the Incident"
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "title": "Incident Attachment",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "example": "application/pdf"
               },
               "viewable": {
                "type": "boolean",
                "example": true
               },
               "can_be_viewed": {
                "type": "boolean",
                "example": true
               }
              }
             }
            },
            "type": {
             "type": "object",
             "nullable": true,
             "description": "The Incident Type.",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Type ID",
               "example": 1
              },
              "name": {
               "type": "string",
               "description": "Type name",
               "example": "General"
              },
              "global_type": {
               "type": "string",
               "nullable": true,
               "description": "Translation key for default types, null for custom types",
               "example": "GENERAL"
              },
              "default": {
               "type": "boolean",
               "description": "Whether this is a default type",
               "example": true
              },
              "active": {
               "type": "boolean",
               "description": "Whether this type is active",
               "example": true
              }
             }
            },
            "custom_status": {
             "type": "object",
             "nullable": true,
             "description": "The Custom Status.",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Custom Status ID",
               "example": 5
              },
              "name": {
               "type": "string",
               "description": "Custom Status name",
               "example": "Under Review"
              },
              "default": {
               "type": "boolean",
               "description": "Whether this is a default status",
               "example": false
              },
              "global_status": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Global Status ID",
                 "example": 2
                },
                "name": {
                 "type": "string",
                 "description": "Global Status name",
                 "example": "Open"
                }
               }
              }
             }
            },
            "assignees": {
             "type": "array",
             "description": "Users assigned to the Incident. Assignees gain visibility into the Incident and its related records.",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Login Information ID",
                "example": 101
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Jane Smith"
               }
              }
             }
            },
            "distribution_members": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            },
            "environmentals": {
             "type": "array",
             "description": "Environmentals",
             "items": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "type": {
                  "type": "string",
                  "description": "The record type, i.e. 'injury', 'near_miss', 'environmental', or 'property_damage'",
                  "example": "environmental"
                 },
                 "environmental_type": {
                  "type": "object",
                  "title": "Environmental Type",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Environmental Type ID",
                    "example": 999
                   },
                   "name": {
                    "type": "string",
                    "description": "Environmental Type Name",
                    "example": "Air Quality"
                   },
                   "active": {
                    "type": "boolean",
                    "description": "Represents whether a Environmental Type is available for use.",
                    "example": true
                   },
                   "global": {
                    "type": "boolean",
                    "description": "Represents whether a Environmental Type has been provided by Procore.",
                    "example": true
                   },
                   "created_at": {
                    "type": "string",
                    "description": "Timestamp of creation",
                    "format": "date-time",
                    "example": "2016-10-25T17:53:35Z"
                   },
                   "updated_at": {
                    "type": "string",
                    "description": "Timestamp of last update",
                    "format": "date-time",
                    "example": "2016-10-25T17:53:35Z"
                   }
                  }
                 },
                 "estimated_cost_impact": {
                  "type": "string",
                  "description": "Estimated cost impact of the record",
                  "example": "20000.00"
                 },
                 "quantity_value": {
                  "type": "string",
                  "description": "Numeric portion of the \"quantity\" field",
                  "example": "1000.0"
                 },
                 "quantity_unit_of_measure": {
                  "type": "string",
                  "description": "Unit of measure for the \"quantity\" field",
                  "example": "lbs",
                  "enum": [
                   "hours",
                   "days",
                   "weeks",
                   "months",
                   "years",
                   "ea",
                   "ls",
                   "lf",
                   "sf",
                   "sy",
                   "cy",
                   "lbs",
                   "ton",
                   "mm",
                   "m",
                   "m^2",
                   "m^3",
                   "kg",
                   "t"
                  ]
                 },
                 "custom_fields": {
                  "type": "object",
                  "properties": {
                   "custom_field_%{custom_field_string_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "string"
                     },
                     "value": {
                      "type": "string",
                      "description": "The value of the custom field.",
                      "example": "custom field value"
                     }
                    }
                   },
                   "custom_field_%{custom_field_decimal_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "decimal"
                     },
                     "value": {
                      "type": "number",
                      "description": "The value of the custom field.",
                      "example": 2.2
                     }
                    }
                   },
                   "custom_field_%{custom_field_boolean_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "boolean"
                     },
                     "value": {
                      "type": "boolean",
                      "description": "The value of the custom field.",
                      "example": true
                     }
                    }
                   },
                   "custom_field_%{custom_field_lov_entry_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "lov_entry"
                     },
                     "value": {
                      "type": "object",
                      "properties": {
                       "id": {
                        "type": "integer",
                        "description": "The unique identifier of the list of values (LOV) entry.",
                        "example": 1
                       },
                       "label": {
                        "type": "string",
                        "description": "Label of the list of values (LOV) entry.",
                        "example": "Open"
                       }
                      }
                     }
                    }
                   },
                   "custom_field_%{custom_field_lov_entries_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "lov_entries"
                     },
                     "value": {
                      "type": "array",
                      "items": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "The unique identifier of the list of values (LOV) entry.",
                         "example": 2
                        },
                        "label": {
                         "type": "string",
                         "description": "The label of the list of values (LOV) entry.",
                         "example": "Open"
                        }
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                }
               },
               {
                "title": "IncidentRecordBaseNormal",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Incident Record ID",
                  "example": 9
                 },
                 "number": {
                  "type": "integer",
                  "description": "The number of the Record",
                  "example": 4
                 },
                 "full_number": {
                  "type": "string",
                  "description": "The Incident Number combined with the Record Number",
                  "example": 16.4
                 },
                 "incident_id": {
                  "type": "integer",
                  "description": "The id of the Incident to which the record belongs",
                  "example": 16
                 },
                 "recordable": {
                  "type": "boolean",
                  "description": "Indicates whether the Incident Record is recordable",
                  "example": true
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "incident_title": {
                  "type": "string",
                  "description": "The title of the Incident to which the record belongs",
                  "example": "HAZMAT Spill"
                 },
                 "incident_private": {
                  "type": "boolean",
                  "description": "Indicates whether the Incident to which the record belongs is private",
                  "example": false
                 },
                 "summary": {
                  "type": "string",
                  "description": "Summary combining the affliction type, body part affected, and source of harm.",
                  "example": "Sprain to Hand by Ground / Floor. Note: This key has been deprecated."
                 },
                 "description_plain_text": {
                  "type": "string",
                  "description": "Description of event",
                  "example": "Sprain to Hand by Ground"
                 },
                 "description": {
                  "type": "string",
                  "example": "<p>Sprain to <b>Hand</b> by Ground</p>",
                  "description": "Description of event in Rich Text format"
                 },
                 "affected_company": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "SID Architecture"
                   }
                  }
                 },
                 "created_at": {
                  "type": "string",
                  "description": "Timestamp of creation",
                  "format": "date-time",
                  "example": "2016-10-25T17:53:35Z"
                 },
                 "deleted_at": {
                  "type": "string",
                  "description": "Timestamp of deletion",
                  "format": "date-time",
                  "example": "2016-10-25T17:53:35Z",
                  "nullable": true
                 },
                 "managed_equipment": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Equipment ID",
                    "example": 15504
                   },
                   "name": {
                    "type": "string",
                    "description": "Equipment name",
                    "example": "Jackhammer"
                   }
                  }
                 },
                 "incident_created_by": {
                  "allOf": [
                   {
                    "type": "object",
                    "properties": {
                     "login": {
                      "type": "string",
                      "description": "Email",
                      "example": "carl.contractor@example.com"
                     }
                    }
                   },
                   {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "example": 161072
                     },
                     "name": {
                      "type": "string",
                      "example": "Carl the Contractor"
                     }
                    }
                   }
                  ]
                 },
                 "updated_at": {
                  "type": "string",
                  "description": "Timestamp of last update",
                  "format": "date-time",
                  "example": "2016-10-25T17:53:35Z"
                 },
                 "work_activity": {
                  "type": "object",
                  "title": "Work Activity",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Work Activity ID",
                    "example": 999
                   },
                   "name": {
                    "type": "string",
                    "description": "Work Activity Name",
                    "example": "Earthwork"
                   },
                   "active": {
                    "type": "boolean",
                    "description": "Represents whether a Work Activity is available for use.",
                    "example": true
                   },
                   "global": {
                    "type": "boolean",
                    "description": "Represents whether a Work Activity has been provided by Procore.",
                    "example": true
                   },
                   "created_at": {
                    "type": "string",
                    "description": "Timestamp of creation",
                    "format": "date-time",
                    "example": "2016-10-25T17:53:35Z"
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date the work activity was updated",
                    "example": "2015-11-12T21:26:28Z"
                   }
                  }
                 }
                }
               }
              ]
             }
            },
            "injuries": {
             "type": "array",
             "description": "Injuries",
             "items": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "type": {
                  "type": "string",
                  "description": "The record type, i.e. 'injury', 'near_miss', 'environmental', or 'property_damage'",
                  "example": "injury"
                 },
                 "date_returned_to_work": {
                  "type": "string",
                  "description": "Date returned to work",
                  "format": "date",
                  "example": "2018-10-31"
                 },
                 "affected_party": {
                  "type": "object",
                  "title": "Party",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Timecard entry id",
                    "example": 1
                   },
                   "name": {
                    "type": "string",
                    "description": "Party Name",
                    "example": "Dolores Umbridge"
                   }
                  }
                 },
                 "affected_person": {
                  "allOf": [
                   {
                    "type": "object",
                    "properties": {
                     "login": {
                      "type": "string",
                      "description": "Email",
                      "example": "carl.contractor@example.com"
                     }
                    }
                   },
                   {
                    "type": "object",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "example": 161072
                     },
                     "name": {
                      "type": "string",
                      "example": "Carl the Contractor"
                     }
                    }
                   }
                  ]
                 },
                 "harm_source": {
                  "type": "object",
                  "title": "Harm Source",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Harm Source ID",
                    "example": 999
                   },
                   "name": {
                    "type": "string",
                    "description": "Harm Source Name",
                    "example": "Material"
                   },
                   "active": {
                    "type": "boolean",
                    "description": "Represents whether a Harm Source is available for use.",
                    "example": true
                   },
                   "global": {
                    "type": "boolean",
                    "description": "Represents whether a Harm Source has been provided by Procore.",
                    "example": true
                   },
                   "created_at": {
                    "type": "string",
                    "description": "Timestamp of creation",
                    "format": "date-time",
                    "example": "2016-10-25T17:53:35Z"
                   },
                   "updated_at": {
                    "type": "string",
                    "description": "Timestamp of last update",
                    "format": "date-time",
                    "example": "2016-10-25T17:53:35Z"
                   }
                  }
                 },
                 "date_of_death": {
                  "type": "string",
                  "description": "Date of death",
                  "format": "date",
                  "example": "2018-11-10"
                 },
                 "filing_type": {
                  "type": "string",
                  "description": "Filing Type",
                  "example": "first_aid",
                  "enum": [
                   "fatality",
                   "first_aid",
                   "lost_time",
                   "medically_treated",
                   "refused_care",
                   "report_only",
                   "restricted_work"
                  ]
                 },
                 "hospitalized_overnight": {
                  "type": "boolean",
                  "description": "Represents whether the injured person was hospitalized overnight",
                  "example": true
                 },
                 "treated_in_er": {
                  "type": "boolean",
                  "description": "Represents whether the injured person was treated in the ER",
                  "example": true
                 },
                 "treatment_facility_address": {
                  "type": "string",
                  "description": "The street address of the treatment facility",
                  "example": "6309 Carpinteria Ave."
                 },
                 "treatment_facility": {
                  "type": "string",
                  "description": "The name of the treatment facility",
                  "example": "Procore Hospital"
                 },
                 "treatment_provider": {
                  "type": "string",
                  "description": "The name of the treatment provider",
                  "example": "Dr. Doctor"
                 },
                 "work_days_absent": {
                  "type": "integer",
                  "description": "The number of days absent from work",
                  "example": 1
                 },
                 "work_days_restricted": {
                  "type": "integer",
                  "description": "The number of days on restricted work",
                  "example": 3
                 },
                 "work_days_transferred": {
                  "type": "integer",
                  "description": "The number of days transferred",
                  "example": 4
                 },
                 "body_diagram_type": {
                  "type": "string",
                  "description": "Body Type displayed in Body Diagram",
                  "example": "feminine",
                  "enum": [
                   "feminine",
                   "masculine"
                  ]
                 },
                 "affliction_type": {
                  "type": "object",
                  "title": "Affliction Type",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Affliction Type ID",
                    "example": 999
                   },
                   "name": {
                    "type": "string",
                    "description": "Affliction Type Name",
                    "example": "Sprain"
                   },
                   "active": {
                    "type": "boolean",
                    "description": "Represents whether a Affliction Type is available for use.",
                    "example": true
                   },
                   "global": {
                    "type": "boolean",
                    "description": "Represents whether a Affliction Type has been provided by Procore.",
                    "example": true
                   },
                   "created_at": {
                    "type": "string",
                    "description": "Timestamp of creation",
                    "format": "date-time",
                    "example": "2016-10-25T17:53:35Z"
                   },
                   "updated_at": {
                    "type": "string",
                    "description": "Timestamp of last update",
                    "format": "date-time",
                    "example": "2016-10-25T17:53:35Z"
                   }
                  }
                 },
                 "affected_body_part": {
                  "type": "string",
                  "description": "DEPRECATED. The body part affected by the affliction",
                  "example": "ankle",
                  "enum": [
                   "abdomen",
                   "ankle",
                   "ankle_left",
                   "ankle_right",
                   "arm",
                   "arm_left",
                   "arm_right",
                   "back",
                   "body_systems",
                   "breast",
                   "breast_left",
                   "breast_right",
                   "buttock",
                   "chest",
                   "circulatory_system",
                   "cranium",
                   "digestive_system",
                   "ear",
                   "ear_left",
                   "ear_right",
                   "elbow",
                   "elbow_left",
                   "elbow_right",
                   "entire_body_systemic",
                   "eye",
                   "eye_left",
                   "eye_right",
                   "face",
                   "finger",
                   "finger_index",
                   "finger_index_left",
                   "finger_index_right",
                   "finger_middle",
                   "finger_middle_left",
                   "finger_middle_right",
                   "finger_pinky",
                   "finger_pinky_left",
                   "finger_pinky_right",
                   "finger_ring",
                   "finger_ring_left",
                   "finger_ring_right",
                   "foot",
                   "foot_left",
                   "foot_right",
                   "foot_top_left",
                   "foot_top_right",
                   "forearm",
                   "forearm_left",
                   "forearm_right",
                   "groin",
                   "hand",
                   "hand_back_left",
                   "hand_back_right",
                   "hand_left",
                   "hand_right",
                   "head",
                   "head_back",
                   "heart",
                   "heel_left",
                   "heel_right",
                   "hip",
                   "hip_left",
                   "hip_right",
                   "internal_organs",
                   "knee",
                   "knee_left",
                   "knee_right",
                   "leg",
                   "leg_left",
                   "leg_right",
                   "lower_back",
                   "lower_back_left",
                   "lower_back_right",
                   "lower_leg",
                   "lower_leg_left",
                   "lower_leg_right",
                   "lungs",
[...]
