{
 "openapi": "3.0.0",
 "info": {
  "title": "Injuries",
  "x-product-category": "Project Management",
  "x-tool-category": "Incidents",
  "x-resource-name": "Injuries",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/incidents/injuries": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Injuries",
    "description": "Returns a paginated list of injury records for the specified project, optionally scoped to a single incident via incident_id. Each injury includes affliction details, affected person, body parts, medical treatment information, and work impact metrics. By default sorted by descending full_number (incident.number). Supports filtering by affected party, body part, affliction type, filing type, harm source, and full-text search.\n\nNOTE: The afflictions and affected_body_part keys are deprecated. Please disregard and use the affected_body_parts and affliction_type keys as documented below.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "incident_id",
      "in": "query",
      "required": false,
      "description": "Optional incident ID to scope results. When provided, returns only injury records belonging to the specified incident. Omit to retrieve injuries across all incidents in the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[affected_company_id]",
      "in": "query",
      "description": "Array of Company IDs. Returns item(s) with the specified affected Company IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[affected_party_id]",
      "in": "query",
      "description": "Array of Affected Party IDs. Returns item(s) with the specified Affected Party IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[affected_person_id]",
      "in": "query",
      "description": "Array of Person IDs. Returns item(s) with the specified affected Person IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[harm_source_id]",
      "in": "query",
      "description": "Array of Harm Source IDs. Returns item(s) with the specified Harm Source IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[work_activity_id]",
      "in": "query",
      "description": "Array of Work Activity IDs. Returns item(s) with the specified Work Activity IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[managed_equipment_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[recordable]",
      "in": "query",
      "required": false,
      "description": "Return item(s) that are recordable.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[affected_body_part]",
      "in": "query",
      "description": "Return item(s) with any of the specified Affected Body Parts.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "abdomen",
         "ankle",
         "ankle_left",
         "ankle_right",
         "arm",
         "arm_left",
         "arm_right",
         "back",
         "body_systems",
         "breast",
         "breast_left",
         "breast_right",
         "buttock",
         "chest",
         "circulatory_system",
         "cranium",
         "digestive_system",
         "ear",
         "ear_left",
         "ear_right",
         "elbow",
         "elbow_left",
         "elbow_right",
         "entire_body_systemic",
         "eye",
         "eye_left",
         "eye_right",
         "face",
         "finger",
         "finger_index",
         "finger_index_left",
         "finger_index_right",
         "finger_middle",
         "finger_middle_left",
         "finger_middle_right",
         "finger_pinky",
         "finger_pinky_left",
         "finger_pinky_right",
         "finger_ring",
         "finger_ring_left",
         "finger_ring_right",
         "foot",
         "foot_left",
         "foot_right",
         "foot_top_left",
         "foot_top_right",
         "forearm",
         "forearm_left",
         "forearm_right",
         "groin",
         "hand",
         "hand_back_left",
         "hand_back_right",
         "hand_left",
         "hand_right",
         "head",
         "head_back",
         "heart",
         "heel_left",
         "heel_right",
         "hip",
         "hip_left",
         "hip_right",
         "internal_organs",
         "knee",
         "knee_left",
         "knee_right",
         "leg",
         "leg_left",
         "leg_right",
         "lower_back",
         "lower_back_left",
         "lower_back_right",
         "lower_leg",
         "lower_leg_left",
         "lower_leg_right",
         "lungs",
         "mouth",
         "neck",
         "neck_back",
         "neck_left",
         "neck_right",
         "nervous_system",
         "nose",
         "palm_left",
         "palm_right",
         "pec",
         "pec_left",
         "pec_right",
         "pelvis",
         "pelvis_front",
         "psychological",
         "reproductive_system",
         "respiratory_system",
         "ribs",
         "ribs_left",
         "ribs_right",
         "shoulder",
         "shoulder_left",
         "shoulder_right",
         "skin",
         "tailbone",
         "teeth",
         "throat",
         "thumb",
         "thumb_left",
         "thumb_right",
         "toe",
         "toe_fifth",
         "toe_fifth_left",
         "toe_fifth_right",
         "toe_first",
         "toe_first_left",
         "toe_first_right",
         "toe_fourth",
         "toe_fourth_left",
         "toe_fourth_right",
         "toe_second",
         "toe_second_left",
         "toe_second_right",
         "toe_third",
         "toe_third_left",
         "toe_third_right",
         "torso",
         "upper_arm",
         "upper_arm_left",
         "upper_arm_right",
         "upper_back",
         "upper_back_left",
         "upper_back_right",
         "upper_leg",
         "upper_leg_left",
         "upper_leg_right",
         "urinary_system",
         "vertebrae",
         "wrist",
         "wrist_left",
         "wrist_right"
        ]
       }
      }
     },
     {
      "name": "filters[affliction_type_id]",
      "in": "query",
      "description": "Return item(s) with the specified Affliction Type IDs",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[body_part_id]",
      "in": "query",
      "description": "Return item(s) with the specified Body Part IDs",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[filing_type]",
      "in": "query",
      "description": "Return item(s) with the specified filing types. The `recordable` filing_type filter value is deprecated.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "fatality",
         "first_aid",
         "lost_time",
         "medically_treated",
         "refused_care",
         "report_only",
         "restricted_work"
        ]
       }
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Full-text search across injury description and related fields. Returns injuries where any searchable field contains the query string.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "schema": {
       "type": "string",
       "enum": [
        "affected_company",
        "affected_person",
        "created_at",
        "full_number",
        "harm_source",
        "managed_equipment",
        "number",
        "recordable",
        "work_activity"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "allOf": [
           {
            "type": "object",
            "properties": {
             "type": {
              "type": "string",
              "description": "The record type, i.e. 'injury', 'near_miss', 'environmental', or 'property_damage'",
              "example": "injury"
             },
             "date_returned_to_work": {
              "type": "string",
              "description": "Date returned to work",
              "format": "date",
              "example": "2018-10-31"
             },
             "affected_party": {
              "type": "object",
              "title": "Party",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Timecard entry id",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "Party Name",
                "example": "Dolores Umbridge"
               }
              },
              "nullable": true
             },
             "affected_person": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "Carl the Contractor"
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               }
              },
              "nullable": true
             },
             "harm_source": {
              "type": "object",
              "title": "Harm Source",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Harm Source ID",
                "example": 999
               },
               "name": {
                "type": "string",
                "description": "Harm Source Name",
                "example": "Material"
               },
               "active": {
                "type": "boolean",
                "description": "Represents whether a Harm Source is available for use.",
                "example": true
               },
               "global": {
                "type": "boolean",
                "description": "Represents whether a Harm Source has been provided by Procore.",
                "example": true
               },
               "created_at": {
                "type": "string",
                "description": "Timestamp of creation",
                "format": "date-time",
                "example": "2016-10-25T17:53:35Z"
               },
               "updated_at": {
                "type": "string",
                "description": "Timestamp of last update",
                "format": "date-time",
                "example": "2016-10-25T17:53:35Z"
               }
              },
              "nullable": true
             },
             "date_of_death": {
              "type": "string",
              "description": "Date of death",
              "format": "date",
              "example": "2018-11-10"
             },
             "filing_type": {
              "type": "string",
              "description": "Filing Type",
              "example": "first_aid",
              "enum": [
               "fatality",
               "first_aid",
               "lost_time",
               "medically_treated",
               "refused_care",
               "report_only",
               "restricted_work"
              ]
             },
             "hospitalized_overnight": {
              "type": "boolean",
              "description": "Represents whether the injured person was hospitalized overnight",
              "example": true
             },
             "recordable": {
              "type": "boolean",
              "description": "Represents whether the Injury record is recordable",
              "example": true
             },
             "treated_in_er": {
              "type": "boolean",
              "description": "Represents whether the injured person was treated in the ER",
              "example": true
             },
             "treatment_facility_address": {
              "type": "string",
              "description": "The street address of the treatment facility",
              "example": "6309 Carpinteria Ave."
             },
             "treatment_facility": {
              "type": "string",
              "description": "The name of the treatment facility",
              "example": "Procore Hospital"
             },
             "treatment_provider": {
              "type": "string",
              "description": "The name of the treatment provider",
              "example": "Dr. Doctor",
              "nullable": true
             },
             "work_days_absent": {
              "type": "integer",
              "description": "The number of days absent from work",
              "example": 1
             },
             "work_days_restricted": {
              "type": "integer",
              "description": "The number of days on restricted work",
              "example": 3
             },
             "work_days_transferred": {
              "type": "integer",
              "description": "The number of days transferred",
              "example": 4
             },
             "body_diagram_type": {
              "type": "string",
              "description": "Body Type displayed in Body Diagram",
              "example": "feminine",
              "enum": [
               "feminine",
               "masculine",
               null
              ],
              "nullable": true
             },
             "affliction_type": {
              "type": "object",
              "title": "Affliction Type",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Affliction Type ID",
                "example": 999
               },
               "name": {
                "type": "string",
                "description": "Affliction Type Name",
                "example": "Sprain"
               },
               "active": {
                "type": "boolean",
                "description": "Represents whether a Affliction Type is available for use.",
                "example": true
               },
               "global": {
                "type": "boolean",
                "description": "Represents whether a Affliction Type has been provided by Procore.",
                "example": true
               },
               "created_at": {
                "type": "string",
                "description": "Timestamp of creation",
                "format": "date-time",
                "example": "2016-10-25T17:53:35Z"
               },
               "updated_at": {
                "type": "string",
                "description": "Timestamp of last update",
                "format": "date-time",
                "example": "2016-10-25T17:53:35Z"
               }
              },
              "nullable": true
             },
             "affected_body_part": {
              "type": "string",
              "description": "DEPRECATED. The body part affected by the affliction",
              "example": "ankle",
              "enum": [
               "abdomen",
               "ankle",
               "ankle_left",
               "ankle_right",
               "arm",
               "arm_left",
               "arm_right",
               "back",
               "body_systems",
               "breast",
               "breast_left",
               "breast_right",
               "buttock",
               "chest",
               "circulatory_system",
               "cranium",
               "digestive_system",
               "ear",
               "ear_left",
               "ear_right",
               "elbow",
               "elbow_left",
               "elbow_right",
               "entire_body_systemic",
               "eye",
               "eye_left",
               "eye_right",
               "face",
               "finger",
               "finger_index",
               "finger_index_left",
               "finger_index_right",
               "finger_middle",
               "finger_middle_left",
               "finger_middle_right",
               "finger_pinky",
               "finger_pinky_left",
               "finger_pinky_right",
               "finger_ring",
               "finger_ring_left",
               "finger_ring_right",
               "foot",
               "foot_left",
               "foot_right",
               "foot_top_left",
               "foot_top_right",
               "forearm",
               "forearm_left",
               "forearm_right",
               "groin",
               "hand",
               "hand_back_left",
               "hand_back_right",
               "hand_left",
               "hand_right",
               "head",
               "head_back",
               "heart",
               "heel_left",
               "heel_right",
               "hip",
               "hip_left",
               "hip_right",
               "internal_organs",
               "knee",
               "knee_left",
               "knee_right",
               "leg",
               "leg_left",
               "leg_right",
               "lower_back",
               "lower_back_left",
               "lower_back_right",
               "lower_leg",
               "lower_leg_left",
               "lower_leg_right",
               "lungs",
               "mouth",
               "neck",
               "neck_back",
               "neck_left",
               "neck_right",
               "nervous_system",
               "nose",
               "palm_left",
               "palm_right",
               "pec",
               "pec_left",
               "pec_right",
               "pelvis",
               "pelvis_front",
               "psychological",
               "reproductive_system",
               "respiratory_system",
               "ribs",
               "ribs_left",
               "ribs_right",
               "shoulder",
               "shoulder_left",
               "shoulder_right",
               "skin",
               "tailbone",
               "teeth",
               "throat",
               "thumb",
               "thumb_left",
               "thumb_right",
               "toe",
               "toe_fifth",
               "toe_fifth_left",
               "toe_fifth_right",
               "toe_first",
               "toe_first_left",
               "toe_first_right",
               "toe_fourth",
               "toe_fourth_left",
               "toe_fourth_right",
               "toe_second",
               "toe_second_left",
               "toe_second_right",
               "toe_third",
               "toe_third_left",
               "toe_third_right",
               "torso",
               "upper_arm",
               "upper_arm_left",
               "upper_arm_right",
               "upper_back",
               "upper_back_left",
               "upper_back_right",
               "upper_leg",
               "upper_leg_left",
               "upper_leg_right",
               "urinary_system",
               "vertebrae",
               "wrist",
               "wrist_left",
               "wrist_right",
               null
              ],
              "nullable": true
             },
             "affected_body_parts": {
              "type": "array",
              "description": "Array of body parts affected by the affliction",
              "items": {
               "type": "string",
               "example": "ankle",
               "enum": [
                "abdomen",
                "ankle",
                "ankle_left",
                "ankle_right",
                "arm",
                "arm_left",
                "arm_right",
                "back",
                "body_systems",
                "breast",
                "breast_left",
                "breast_right",
                "buttock",
                "chest",
                "circulatory_system",
                "cranium",
                "digestive_system",
                "ear",
                "ear_left",
                "ear_right",
                "elbow",
                "elbow_left",
                "elbow_right",
                "entire_body_systemic",
                "eye",
                "eye_left",
                "eye_right",
                "face",
                "finger",
                "finger_index",
                "finger_index_left",
                "finger_index_right",
                "finger_middle",
                "finger_middle_left",
                "finger_middle_right",
                "finger_pinky",
                "finger_pinky_left",
                "finger_pinky_right",
                "finger_ring",
                "finger_ring_left",
                "finger_ring_right",
                "foot",
                "foot_left",
                "foot_right",
                "foot_top_left",
                "foot_top_right",
                "forearm",
                "forearm_left",
                "forearm_right",
                "groin",
                "hand",
                "hand_back_left",
                "hand_back_right",
                "hand_left",
                "hand_right",
                "head",
                "head_back",
                "heart",
                "heel_left",
                "heel_right",
                "hip",
                "hip_left",
                "hip_right",
                "internal_organs",
                "knee",
                "knee_left",
                "knee_right",
                "leg",
                "leg_left",
                "leg_right",
                "lower_back",
                "lower_back_left",
                "lower_back_right",
                "lower_leg",
                "lower_leg_left",
                "lower_leg_right",
                "lungs",
                "mouth",
                "neck",
                "neck_back",
                "neck_left",
                "neck_right",
                "nervous_system",
                "nose",
                "palm_left",
                "palm_right",
                "pec",
                "pec_left",
                "pec_right",
                "pelvis",
                "pelvis_front",
                "psychological",
                "reproductive_system",
                "respiratory_system",
                "ribs",
                "ribs_left",
                "ribs_right",
                "shoulder",
                "shoulder_left",
                "shoulder_right",
                "skin",
                "tailbone",
                "teeth",
                "throat",
                "thumb",
                "thumb_left",
                "thumb_right",
                "toe",
                "toe_fifth",
                "toe_fifth_left",
                "toe_fifth_right",
                "toe_first",
                "toe_first_left",
                "toe_first_right",
                "toe_fourth",
                "toe_fourth_left",
                "toe_fourth_right",
                "toe_second",
                "toe_second_left",
                "toe_second_right",
                "toe_third",
                "toe_third_left",
                "toe_third_right",
                "torso",
                "upper_arm",
                "upper_arm_left",
                "upper_arm_right",
                "upper_back",
                "upper_back_left",
                "upper_back_right",
                "upper_leg",
                "upper_leg_left",
                "upper_leg_right",
                "urinary_system",
                "vertebrae",
                "wrist",
                "wrist_left",
                "wrist_right"
               ]
              }
             },
             "afflictions": {
              "type": "array",
              "description": "DEPRECATED. Array of afflictions affecting the injured person. Currently this is limited to one.",
              "items": {
               "type": "object",
               "title": "IncidentAffliction",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Affliction ID",
                 "example": 999
                },
                "affliction_type": {
                 "type": "object",
                 "title": "Affliction Type",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Affliction Type ID",
                   "example": 999
                  },
                  "name": {
                   "type": "string",
                   "description": "Affliction Type Name",
                   "example": "Sprain"
                  },
                  "active": {
                   "type": "boolean",
                   "description": "Represents whether a Affliction Type is available for use.",
                   "example": true
                  },
                  "global": {
                   "type": "boolean",
                   "description": "Represents whether a Affliction Type has been provided by Procore.",
                   "example": true
                  },
                  "created_at": {
                   "type": "string",
                   "description": "Timestamp of creation",
                   "format": "date-time",
                   "example": "2016-10-25T17:53:35Z"
                  },
                  "updated_at": {
                   "type": "string",
                   "description": "Timestamp of last update",
                   "format": "date-time",
                   "example": "2016-10-25T17:53:35Z"
                  }
                 },
                 "nullable": true
                },
                "affected_body_part": {
                 "type": "string",
                 "description": "The body part affected by the affliction",
                 "example": "ankle",
                 "enum": [
                  "abdomen",
                  "ankle",
                  "ankle_left",
                  "ankle_right",
                  "arm",
                  "arm_left",
                  "arm_right",
                  "back",
                  "body_systems",
                  "breast",
                  "breast_left",
                  "breast_right",
                  "buttock",
                  "chest",
                  "circulatory_system",
                  "cranium",
                  "digestive_system",
                  "ear",
                  "ear_left",
                  "ear_right",
                  "elbow",
                  "elbow_left",
                  "elbow_right",
                  "entire_body_systemic",
                  "eye",
                  "eye_left",
                  "eye_right",
                  "face",
                  "finger",
                  "finger_index",
                  "finger_index_left",
                  "finger_index_right",
                  "finger_middle",
                  "finger_middle_left",
                  "finger_middle_right",
                  "finger_pinky",
                  "finger_pinky_left",
                  "finger_pinky_right",
                  "finger_ring",
                  "finger_ring_left",
                  "finger_ring_right",
                  "foot",
                  "foot_left",
                  "foot_right",
                  "foot_top_left",
                  "foot_top_right",
                  "forearm",
                  "forearm_left",
                  "forearm_right",
                  "groin",
                  "hand",
                  "hand_back_left",
                  "hand_back_right",
                  "hand_left",
                  "hand_right",
                  "head",
                  "head_back",
                  "heart",
                  "heel_left",
                  "heel_right",
                  "hip",
                  "hip_left",
                  "hip_right",
                  "internal_organs",
                  "knee",
                  "knee_left",
                  "knee_right",
                  "leg",
                  "leg_left",
                  "leg_right",
                  "lower_back",
                  "lower_back_left",
                  "lower_back_right",
                  "lower_leg",
                  "lower_leg_left",
                  "lower_leg_right",
                  "lungs",
                  "mouth",
                  "neck",
                  "neck_back",
                  "neck_left",
                  "neck_right",
                  "nervous_system",
                  "nose",
                  "palm_left",
                  "palm_right",
                  "pec",
                  "pec_left",
                  "pec_right",
                  "pelvis",
                  "pelvis_front",
                  "psychological",
                  "reproductive_system",
                  "respiratory_system",
                  "ribs",
                  "ribs_left",
                  "ribs_right",
                  "shoulder",
                  "shoulder_left",
                  "shoulder_right",
                  "skin",
                  "tailbone",
                  "teeth",
                  "throat",
                  "thumb",
                  "thumb_left",
                  "thumb_right",
                  "toe",
                  "toe_fifth",
                  "toe_fifth_left",
                  "toe_fifth_right",
                  "toe_first",
                  "toe_first_left",
                  "toe_first_right",
                  "toe_fourth",
                  "toe_fourth_left",
                  "toe_fourth_right",
                  "toe_second",
                  "toe_second_left",
                  "toe_second_right",
                  "toe_third",
                  "toe_third_left",
                  "toe_third_right",
                  "torso",
                  "upper_arm",
                  "upper_arm_left",
                  "upper_arm_right",
                  "upper_back",
                  "upper_back_left",
                  "upper_back_right",
                  "upper_leg",
                  "upper_leg_left",
                  "upper_leg_right",
                  "urinary_system",
                  "vertebrae",
                  "wrist",
                  "wrist_left",
                  "wrist_right"
                 ]
                }
               }
              }
             },
             "custom_fields": {
              "type": "object",
              "properties": {
               "custom_field_%{custom_field_string_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "string"
                 },
                 "value": {
                  "type": "string",
                  "description": "The value of the custom field.",
                  "example": "custom field value"
                 }
                }
               },
               "custom_field_%{custom_field_decimal_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "decimal"
                 },
                 "value": {
                  "type": "number",
                  "description": "The value of the custom field.",
                  "example": 2.2
                 }
                }
               },
               "custom_field_%{custom_field_boolean_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "boolean"
                 },
                 "value": {
                  "type": "boolean",
                  "description": "The value of the custom field.",
                  "example": true
                 }
                }
               },
               "custom_field_%{custom_field_lov_entry_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entry"
                 },
                 "value": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 1
                   },
                   "label": {
                    "type": "string",
                    "description": "Label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               },
               "custom_field_%{custom_field_lov_entries_definition_id}": {
                "type": "object",
                "properties": {
                 "data_type": {
                  "type": "string",
                  "description": "The data type of the Custom Field Definition.",
                  "example": "lov_entries"
                 },
                 "value": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "The unique identifier of the list of values (LOV) entry.",
                     "example": 2
                    },
                    "label": {
                     "type": "string",
                     "description": "The label of the list of values (LOV) entry.",
                     "example": "Open"
                    }
                   }
                  }
                 }
                }
               }
              }
             },
             "body_parts": {
              "type": "array",
              "description": "Body parts affected by the injury",
              "items": {
               "type": "object",
               "title": "Body Part",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Body Part ID",
                 "example": 999
                },
                "name": {
                 "type": "string",
                 "description": "Body Part Name",
                 "example": "finger_index_right"
                },
                "selectable": {
                 "type": "boolean",
                 "description": "Represents whether a Body Part can be associated to an injury.",
                 "example": true
                },
                "created_at": {
                 "type": "string",
                 "description": "Timestamp of creation",
                 "format": "date-time",
                 "example": "2016-10-25T17:53:35Z"
                },
                "updated_at": {
                 "type": "string",
                 "description": "Timestamp of last update",
                 "format": "date-time",
                 "example": "2016-10-25T17:53:35Z"
                },
                "parent_id": {
                 "type": "integer",
                 "description": "Parent Body Part ID",
                 "example": 999,
                 "nullable": true
                }
               }
              }
             }
            }
           },
           {
            "title": "IncidentRecordBaseNormal",
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Incident Record ID",
              "example": 9
             },
             "number": {
              "type": "integer",
              "description": "The number of the Record",
              "example": 4
             },
             "full_number": {
              "type": "string",
              "description": "The Incident Number combined with the Record Number",
              "example": 16.4
             },
             "incident_id": {
              "type": "integer",
              "description": "The id of the Incident to which the record belongs",
              "example": 16
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "incident_title": {
              "type": "string",
              "description": "The title of the Incident to which the record belongs",
              "example": "HAZMAT Spill"
             },
             "incident_private": {
              "type": "boolean",
              "description": "Indicates whether the Incident to which the record belongs is private",
              "example": false
             },
             "summary": {
              "type": "string",
              "description": "Summary combining the affliction type, body part affected, and source of harm.",
              "example": "Sprain to Hand by Ground / Floor. Note: This key has been deprecated."
             },
             "description_plain_text": {
              "type": "string",
              "description": "Description of event",
              "example": "Sprain to Hand by Ground"
             },
             "description": {
              "type": "string",
              "example": "<p>Sprain to <b>Hand</b> by Ground</p>",
              "description": "Description of event in Rich Text format"
             },
             "affected_company": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "SID Architecture"
               }
              },
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "description": "Timestamp of creation",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "deleted_at": {
              "type": "string",
              "description": "Timestamp of deletion",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z",
              "nullable": true
             },
             "managed_equipment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Equipment ID",
                "example": 15504
               },
               "name": {
                "type": "string",
                "description": "Equipment name",
                "example": "Jackhammer"
               }
              },
              "nullable": true
             },
             "incident_created_by": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 161072
                 },
                 "name": {
                  "type": "string",
                  "example": "Carl the Contractor"
                 }
                }
               }
              ]
             },
             "updated_at": {
              "type": "string",
              "description": "Timestamp of last update",
              "format": "date-time",
              "example": "2016-10-25T17:53:35Z"
             },
             "work_activity": {
              "type": "object",
              "title": "Work Activity",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Work Activity ID",
                "example": 999
               },
               "name": {
                "type": "string",
                "description": "Work Activity Name",
                "example": "Earthwork"
               },
               "active": {
                "type": "boolean",
                "description": "Represents whether a Work Activity is available for use.",
                "example": true
               },
               "global": {
                "type": "boolean",
                "description": "Represents whether a Work Activity has been provided by Procore.",
                "example": true
               },
               "created_at": {
                "type": "string",
                "description": "Timestamp of creation",
                "format": "date-time",
                "example": "2016-10-25T17:53:35Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the work activity was updated",
                "example": "2015-11-12T21:26:28Z"
               }
              },
              "nullable": true
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/injuries',\n  qs: {\n    incident_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[affected_company_id]': 'SOME_ARRAY_VALUE',\n    'filters[affected_party_id]': 'SOME_ARRAY_VALUE',\n    'filters[affected_person_id]': 'SOME_ARRAY_VALUE',\n    'filters[harm_source_id]': 'SOME_ARRAY_VALUE',\n    'filters[work_activity_id]': 'SOME_ARRAY_VALUE',\n    'filters[managed_equipment_id]': 'SOME_INTEGER_VALUE',\n    'filters[recordable]': 'SOME_BOOLEAN_VALUE',\n    'filters[affected_body_part]': 'SOME_ARRAY_VALUE',\n    'filters[affliction_type_id]': 'SOME_INTEGER_VALUE',\n    'filters[body_part_id]': 'SOME_ARRAY_VALUE',\n    'filters[filing_type]': 'SOME_ARRAY_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/incidents/injuries?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Baffected_company_id%5D=SOME_ARRAY_VALUE&filters%5Baffected_party_id%5D=SOME_ARRAY_VALUE&filters%5Baffected_person_id%5D=SOME_ARRAY_VALUE&filters%5Bharm_source_id%5D=SOME_ARRAY_VALUE&filters%5Bwork_activity_id%5D=SOME_ARRAY_VALUE&filters%5Bmanaged_equipment_id%5D=SOME_INTEGER_VALUE&filters%5Brecordable%5D=SOME_BOOLEAN_VALUE&filters%5Baffected_body_part%5D=SOME_ARRAY_VALUE&filters%5Baffliction_type_id%5D=SOME_INTEGER_VALUE&filters%5Bbody_part_id%5D=SOME_ARRAY_VALUE&filters%5Bfiling_type%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/injuries?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Baffected_company_id%5D=SOME_ARRAY_VALUE&filters%5Baffected_party_id%5D=SOME_ARRAY_VALUE&filters%5Baffected_person_id%5D=SOME_ARRAY_VALUE&filters%5Bharm_source_id%5D=SOME_ARRAY_VALUE&filters%5Bwork_activity_id%5D=SOME_ARRAY_VALUE&filters%5Bmanaged_equipment_id%5D=SOME_INTEGER_VALUE&filters%5Brecordable%5D=SOME_BOOLEAN_VALUE&filters%5Baffected_body_part%5D=SOME_ARRAY_VALUE&filters%5Baffliction_type_id%5D=SOME_INTEGER_VALUE&filters%5Bbody_part_id%5D=SOME_ARRAY_VALUE&filters%5Bfiling_type%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/incidents/injuries?incident_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Baffected_company_id%5D=SOME_ARRAY_VALUE&filters%5Baffected_party_id%5D=SOME_ARRAY_VALUE&filters%5Baffected_person_id%5D=SOME_ARRAY_VALUE&filters%5Bharm_source_id%5D=SOME_ARRAY_VALUE&filters%5Bwork_activity_id%5D=SOME_ARRAY_VALUE&filters%5Bmanaged_equipment_id%5D=SOME_INTEGER_VALUE&filters%5Brecordable%5D=SOME_BOOLEAN_VALUE&filters%5Baffected_body_part%5D=SOME_ARRAY_VALUE&filters%5Baffliction_type_id%5D=SOME_INTEGER_VALUE&filters%5Bbody_part_id%5D=SOME_ARRAY_VALUE&filters%5Bfiling_type%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added allowed values for `affected_body_part` filter parameter for List Injuries endpoint",
      "description": "Added body parts to the list of allowed filter values for the `filters[affected_body_part]` query parameter",
      "endpoint": "GET /projects/{project_id}/incidents/injuries",
      "type": "feature",
      "breaking": false,
      "datestamp": "2020-12-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "injuries?version=1.0#list-injuries"
     },
     {
      "summary": "Restrict Access for readonly users unless granted a view injuries granular permission.",
      "description": "Users with a readonly role will now be restricted from accessing injuries endpoints unless they have been granted a view injuries granular permission.",
      "endpoint": "GET /projects/{project_id}/incidents/injuries",
      "type": "feature",
      "breaking": true,
      "datestamp": "2025-11-26",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "injuries?version=1.0#list-injuries"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Injury",
    "description": "Creates a new injury record associated with the specified incident. Requires incident_id. Optionally specify affliction details (affliction_type_id, body_part_ids), affected person information, medical treatment details, and work impact metrics. The affected_body_parts field is deprecated; use body_part_ids instead. Pass run_configurable_validations=true to enforce custom validation rules. The operation is idempotent.\n\nNOTE: The afflictions and affected_body_part keys are deprecated. Please disregard and use the affected_body_parts and affliction_type keys as documented below.",
    "tags": [
     "Incidents"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "description": "Whether or not Configurable validations from the Injury Configurable Field Set should be run (default: false).\nSee (https://developers.procore.com/reference/configurable-field-sets#list-project-configurable-field-sets) for a list of Configurable validations enabled on this project.",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "injury"
        ],
        "properties": {
         "injury": {
          "title": "IncidentInjuryCreateParameters",
          "type": "object",
          "required": [
           "incident_id"
          ],
          "properties": {
           "incident_id": {
            "type": "integer",
            "description": "The ID of the Incident"
           },
           "date_of_death": {
            "type": "string",
            "description": "Date of death",
            "format": "date",
            "example": "2018-11-12"
           },
           "description": {
            "type": "string",
            "description": "Description of event in Rich Text format",
            "example": "<p>Sprain to <b>Hand</b> by Ground</p>"
           },
           "date_returned_to_work": {
            "type": "string",
            "description": "Date returned to work",
            "format": "date",
            "example": "2018-10-31"
           },
           "filing_type": {
            "type": "string",
            "description": "Filing Type - The 'recordable' filing_type value is deprecated. When a filing type of 'recordable' is provided, the `recordable` attribute of the Injury will instead be set to 'true'.",
            "example": "first_aid",
            "enum": [
             "fatality",
             "first_aid",
             "lost_time",
             "medically_treated",
             "refused_care",
             "report_only",
             "restricted_work"
            ]
           },
           "hospitalized_overnight": {
            "type": "boolean",
            "description": "Represents whether the injured person was hospitalized overnight",
            "example": true
           },
           "recordable": {
            "type": "boolean",
            "description": "Represents whether the Injury record is recordable",
            "example": true
           },
           "treated_in_er": {
            "type": "boolean",
            "description": "Represents whether the injured person was treated in the ER",
            "example": true
           },
           "treatment_facility_address": {
            "type": "string",
            "description": "The street address of the treatment facility",
            "example": "6309 Carpinteria Ave."
           },
           "treatment_facility": {
            "type": "string",
            "description": "The name of the treatment facility",
            "example": "Procore Hospital"
           },
           "treatment_provider": {
            "type": "string",
            "description": "The name of the treatment provider",
            "example": "Dr. Doctor"
           },
           "work_days_absent": {
            "type": "integer",
            "description": "The number of days absent from work",
            "example": 1
           },
           "work_days_restricted": {
            "type": "integer",
            "description": "The number of days on restricted work",
            "example": 3
           },
           "work_days_transferred": {
            "type": "integer",
            "description": "The number of days transferred",
            "example": 4
           },
           "affliction_type_id": {
            "type": "integer",
            "description": "The ID of the Affliction Type. This cannot be cleared if there is an affected_body_part."
           },
           "body_diagram_type": {
            "type": "string",
            "example": "feminine",
            "enum": [
             "feminine",
             "masculine"
            ]
           },
           "affected_body_parts": {
            "type": "array",
            "description": "DEPRECATED - Use body_part_ids instead. The body parts affected by the affliction. This requires an affliction_type to be set.",
            "items": {
             "type": "string",
             "example": "abdomen",
             "enum": [
              "abdomen",
              "ankle",
              "ankle_left",
              "ankle_right",
              "arm",
              "arm_left",
              "arm_right",
              "back",
              "body_systems",
              "breast",
              "breast_left",
              "breast_right",
              "buttock",
              "chest",
              "circulatory_system",
              "cranium",
              "digestive_system",
              "ear",
              "ear_left",
              "ear_right",
              "elbow",
              "elbow_left",
              "elbow_right",
              "entire_body_systemic",
              "eye",
              "eye_left",
              "eye_right",
              "face",
              "finger",
              "finger_index",
              "finger_index_left",
              "finger_index_right",
              "finger_middle",
              "finger_middle_left",
              "finger_middle_right",
              "finger_pinky",
              "finger_pinky_left",
              "finger_pinky_right",
              "finger_ring",
              "finger_ring_left",
              "finger_ring_right",
              "foot",
              "foot_left",
              "foot_right",
              "foot_top_left",
              "foot_top_right",
              "forearm",
              "forearm_left",
              "forearm_right",
              "groin",
              "hand",
              "hand_back_left",
              "hand_back_right",
              "hand_left",
              "hand_right",
              "head",
              "head_back",
              "heart",
              "heel_left",
              "heel_right",
              "hip",
              "hip_left",
              "hip_right",
              "internal_organs",
              "knee",
              "knee_left",
              "knee_right",
              "leg",
              "leg_left",
              "leg_right",
              "lower_back",
              "lower_back_left",
              "lower_back_right",
              "lower_leg",
              "lower_leg_left",
              "lower_leg_right",
              "lungs",
              "mouth",
              "neck",
              "neck_back",
              "neck_left",
              "neck_right",
              "nervous_system",
              "nose",
              "palm_left",
              "palm_right",
              "pec",
              "pec_left",
              "pec_right",
              "pelvis",
              "pelvis_front",
              "psychological",
              "reproductive_system",
              "respiratory_system",
              "ribs",
              "ribs_left",
              "ribs_right",
              "shoulder",
              "shoulder_left",
              "shoulder_right",
              "skin",
              "tailbone",
              "teeth",
              "throat",
              "thumb",
              "thumb_left",
              "thumb_right",
              "toe",
              "toe_fifth",
              "toe_fifth_left",
              "toe_fifth_right",
              "toe_first",
              "toe_first_left",
              "toe_first_right",
              "toe_fourth",
              "toe_fourth_left",
              "toe_fourth_right",
              "toe_second",
              "toe_second_left",
              "toe_second_right",
              "toe_third",
              "toe_third_left",
              "toe_third_right",
              "torso",
              "upper_arm",
              "upper_arm_left",
              "upper_arm_right",
              "upper_back",
              "upper_back_left",
              "upper_back_right",
              "upper_leg",
              "upper_leg_left",
              "upper_leg_right",
              "urinary_system",
              "vertebrae",
              "wrist",
              "wrist_left",
              "wrist_right"
             ]
            }
           },
           "affected_person_id": {
            "type": "integer",
            "description": "The ID of the Affected Person. This only supports full Users from the Users endpoints."
           },
           "affected_party_id": {
            "type": "integer",
            "description": "The ID of the Affected Person. This supports full and reference Users from the People endpoints."
           },
           "body_part_ids": {
            "type": "array",
            "description": "The IDs of body parts affected by the affliction. This requires an affliction_type to be set.",
            "items": {
             "type": "integer",
             "example": 1
            }
           },
           "harm_source_id": {
            "type": "integer",
            "description": "The ID of the Harm Source"
           },
           "affected_company_id": {
            "type": "integer",
            "description": "The ID of the Affected Company"
           },
           "managed_equipment_id": {
            "type": "integer",
            "description": "The ID of the Managed Equipment"
           },
           "work_activity_id": {
            "type": "integer",
            "description": "The ID of the Work Activity"
           },
           "custom_field_%{custom_field_definition_id}": {
            "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
            "example": "custom field value",
            "oneOf": [
             {
              "type": "string",
              "title": "string"
             },
             {
              "type": "number",
              "title": "number"
             },
             {
              "type": "boolean",
              "title": "boolean"
             },
             {
              "type": "array",
              "title": "array",
              "items": {
               "type": "integer"
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "type": {
             "type": "string",
             "description": "The record type, i.e. 'injury', 'near_miss', 'environmental', or 'property_damage'",
             "example": "injury"
            },
            "date_returned_to_work": {
             "type": "string",
             "description": "Date returned to work",
             "format": "date",
             "example": "2018-10-31"
            },
            "affected_party": {
             "type": "object",
             "title": "Party",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Timecard entry id",
               "example": 1
              },
              "name": {
               "type": "string",
               "description": "Party Name",
               "example": "Dolores Umbridge"
              }
             },
             "nullable": true
            },
            "affected_person": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "Carl the Contractor"
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              }
             },
             "nullable": true
            },
            "harm_source": {
             "type": "object",
             "title": "Harm Source",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Harm Source ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Harm Source Name",
               "example": "Material"
              },
              "active": {
               "type": "boolean",
               "description": "Represents whether a Harm Source is available for use.",
               "example": true
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a Harm Source has been provided by Procore.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "description": "Timestamp of creation",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              },
              "updated_at": {
               "type": "string",
               "description": "Timestamp of last update",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              }
             },
             "nullable": true
            },
            "date_of_death": {
             "type": "string",
             "description": "Date of death",
             "format": "date",
             "example": "2018-11-10"
            },
            "filing_type": {
             "type": "string",
             "description": "Filing Type",
             "example": "first_aid",
             "enum": [
              "fatality",
              "first_aid",
              "lost_time",
              "medically_treated",
              "refused_care",
              "report_only",
              "restricted_work"
             ]
            },
            "hospitalized_overnight": {
             "type": "boolean",
             "description": "Represents whether the injured person was hospitalized overnight",
             "example": true
            },
            "recordable": {
             "type": "boolean",
             "description": "Represents whether the Injury record is recordable",
             "example": true
            },
            "treated_in_er": {
             "type": "boolean",
             "description": "Represents whether the injured person was treated in the ER",
             "example": true
            },
            "treatment_facility_address": {
             "type": "string",
             "description": "The street address of the treatment facility",
             "example": "6309 Carpinteria Ave."
            },
            "treatment_facility": {
             "type": "string",
             "description": "The name of the treatment facility",
             "example": "Procore Hospital"
            },
            "treatment_provider": {
             "type": "string",
             "description": "The name of the treatment provider",
             "example": "Dr. Doctor",
             "nullable": true
            },
            "work_days_absent": {
             "type": "integer",
             "description": "The number of days absent from work",
             "example": 1
            },
            "work_days_restricted": {
             "type": "integer",
             "description": "The number of days on restricted work",
             "example": 3
            },
            "work_days_transferred": {
             "type": "integer",
             "description": "The number of days transferred",
             "example": 4
            },
            "body_diagram_type": {
             "type": "string",
             "description": "Body Type displayed in Body Diagram",
             "example": "feminine",
             "enum": [
              "feminine",
              "masculine",
              null
             ],
             "nullable": true
            },
            "affliction_type": {
             "type": "object",
             "title": "Affliction Type",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Affliction Type ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Affliction Type Name",
               "example": "Sprain"
              },
              "active": {
               "type": "boolean",
               "description": "Represents whether a Affliction Type is available for use.",
               "example": true
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a Affliction Type has been provided by Procore.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "description": "Timestamp of creation",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              },
              "updated_at": {
               "type": "string",
               "description": "Timestamp of last update",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              }
             },
             "nullable": true
            },
            "affected_body_part": {
             "type": "string",
             "description": "DEPRECATED. The body part affected by the affliction",
             "example": "ankle",
             "enum": [
              "abdomen",
              "ankle",
              "ankle_left",
              "ankle_right",
              "arm",
              "arm_left",
              "arm_right",
              "back",
              "body_systems",
              "breast",
              "breast_left",
              "breast_right",
              "buttock",
              "chest",
              "circulatory_system",
              "cranium",
              "digestive_system",
              "ear",
              "ear_left",
              "ear_right",
              "elbow",
              "elbow_left",
              "elbow_right",
              "entire_body_systemic",
              "eye",
              "eye_left",
              "eye_right",
              "face",
              "finger",
              "finger_index",
              "finger_index_left",
              "finger_index_right",
              "finger_middle",
              "finger_middle_left",
              "finger_middle_right",
              "finger_pinky",
              "finger_pinky_left",
              "finger_pinky_right",
              "finger_ring",
              "finger_ring_left",
              "finger_ring_right",
              "foot",
              "foot_left",
              "foot_right",
              "foot_top_left",
              "foot_top_right",
              "forearm",
              "forearm_left",
              "forearm_right",
              "groin",
              "hand",
              "hand_back_left",
              "hand_back_right",
              "hand_left",
              "hand_right",
              "head",
              "head_back",
              "heart",
              "heel_left",
              "heel_right",
              "hip",
              "hip_left",
              "hip_right",
              "internal_organs",
              "knee",
              "knee_left",
              "knee_right",
              "leg",
              "leg_left",
              "leg_right",
              "lower_back",
              "lower_back_left",
              "lower_back_right",
              "lower_leg",
              "lower_leg_left",
              "lower_leg_right",
              "lungs",
              "mouth",
              "neck",
              "neck_back",
              "neck_left",
              "neck_right",
              "nervous_system",
              "nose",
              "palm_left",
              "palm_right",
              "pec",
              "pec_left",
              "pec_right",
              "pelvis",
              "pelvis_front",
              "psychological",
              "reproductive_system",
              "respiratory_system",
              "ribs",
              "ribs_left",
              "ribs_right",
              "shoulder",
              "shoulder_left",
              "shoulder_right",
              "skin",
              "tailbone",
              "teeth",
              "throat",
              "thumb",
              "thumb_left",
              "thumb_right",
              "toe",
              "toe_fifth",
              "toe_fifth_left",
              "toe_fifth_right",
              "toe_first",
              "toe_first_left",
              "toe_first_right",
              "toe_fourth",
              "toe_fourth_left",
              "toe_fourth_right",
              "toe_second",
              "toe_second_left",
              "toe_second_right",
              "toe_third",
              "toe_third_left",
              "toe_third_right",
              "torso",
              "upper_arm",
              "upper_arm_left",
              "upper_arm_right",
              "upper_back",
              "upper_back_left",
              "upper_back_right",
              "upper_leg",
              "upper_leg_left",
              "upper_leg_right",
              "urinary_system",
              "vertebrae",
              "wrist",
              "wrist_left",
              "wrist_right",
              null
             ],
             "nullable": true
            },
            "affected_body_parts": {
             "type": "array",
             "description": "Array of body parts affected by the affliction",
             "items": {
              "type": "string",
              "example": "ankle",
              "enum": [
               "abdomen",
               "ankle",
               "ankle_left",
               "ankle_right",
               "arm",
               "arm_left",
               "arm_right",
               "back",
               "body_systems",
               "breast",
               "breast_left",
               "breast_right",
               "buttock",
               "chest",
               "circulatory_system",
               "cranium",
               "digestive_system",
               "ear",
               "ear_left",
               "ear_right",
               "elbow",
               "elbow_left",
               "elbow_right",
               "entire_body_systemic",
               "eye",
               "eye_left",
               "eye_right",
               "face",
               "finger",
               "finger_index",
               "finger_index_left",
               "finger_index_right",
               "finger_middle",
               "finger_middle_left",
               "finger_middle_right",
               "finger_pinky",
               "finger_pinky_left",
               "finger_pinky_right",
               "finger_ring",
               "finger_ring_left",
               "finger_ring_right",
               "foot",
               "foot_left",
               "foot_right",
               "foot_top_left",
               "foot_top_right",
               "forearm",
               "forearm_left",
               "forearm_right",
               "groin",
               "hand",
               "hand_back_left",
               "hand_back_right",
               "hand_left",
               "hand_right",
               "head",
               "head_back",
               "heart",
               "heel_left",
               "heel_right",
               "hip",
               "hip_left",
               "hip_right",
               "internal_organs",
               "knee",
               "knee_left",
               "knee_right",
               "leg",
               "leg_left",
               "leg_right",
               "lower_back",
               "lower_back_left",
               "lower_back_right",
               "lower_leg",
               "lower_leg_left",
               "lower_leg_right",
               "lungs",
               "mouth",
               "neck",
               "neck_back",
               "neck_left",
               "neck_right",
               "nervous_system",
               "nose",
               "palm_left",
               "palm_right",
               "pec",
               "pec_left",
               "pec_right",
               "pelvis",
               "pelvis_front",
               "psychological",
               "reproductive_system",
               "respiratory_system",
               "ribs",
               "ribs_left",
               "ribs_right",
               "shoulder",
               "shoulder_left",
               "shoulder_right",
               "skin",
               "tailbone",
               "teeth",
               "throat",
               "thumb",
               "thumb_left",
               "thumb_right",
               "toe",
               "toe_fifth",
               "toe_fifth_left",
               "toe_fifth_right",
               "toe_first",
               "toe_first_left",
               "toe_first_right",
               "toe_fourth",
               "toe_fourth_left",
               "toe_fourth_right",
               "toe_second",
               "toe_second_left",
               "toe_second_right",
               "toe_third",
               "toe_third_left",
               "toe_third_right",
               "torso",
               "upper_arm",
               "upper_arm_left",
               "upper_arm_right",
               "upper_back",
               "upper_back_left",
               "upper_back_right",
               "upper_leg",
               "upper_leg_left",
               "upper_leg_right",
               "urinary_system",
               "vertebrae",
               "wrist",
               "wrist_left",
               "wrist_right"
              ]
             }
            },
            "afflictions": {
             "type": "array",
             "description": "DEPRECATED. Array of afflictions affecting the injured person. Currently this is limited to one.",
             "items": {
              "type": "object",
              "title": "IncidentAffliction",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Affliction ID",
                "example": 999
               },
               "affliction_type": {
                "type": "object",
                "title": "Affliction Type",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Affliction Type ID",
                  "example": 999
                 },
                 "name": {
                  "type": "string",
                  "description": "Affliction Type Name",
                  "example": "Sprain"
                 },
                 "active": {
                  "type": "boolean",
                  "description": "Represents whether a Affliction Type is available for use.",
                  "example": true
                 },
                 "global": {
                  "type": "boolean",
                  "description": "Represents whether a Affliction Type has been provided by Procore.",
                  "example": true
                 },
                 "created_at": {
                  "type": "string",
                  "description": "Timestamp of creation",
                  "format": "date-time",
                  "example": "2016-10-25T17:53:35Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "description": "Timestamp of last update",
                  "format": "date-time",
                  "example": "2016-10-25T17:53:35Z"
                 }
                },
                "nullable": true
               },
               "affected_body_part": {
                "type": "string",
                "description": "The body part affected by the affliction",
                "example": "ankle",
                "enum": [
                 "abdomen",
                 "ankle",
                 "ankle_left",
                 "ankle_right",
                 "arm",
                 "arm_left",
                 "arm_right",
                 "back",
                 "body_systems",
                 "breast",
                 "breast_left",
                 "breast_right",
                 "buttock",
                 "chest",
                 "circulatory_system",
                 "cranium",
                 "digestive_system",
                 "ear",
                 "ear_left",
                 "ear_right",
                 "elbow",
                 "elbow_left",
                 "elbow_right",
                 "entire_body_systemic",
                 "eye",
                 "eye_left",
                 "eye_right",
                 "face",
                 "finger",
                 "finger_index",
                 "finger_index_left",
                 "finger_index_right",
                 "finger_middle",
                 "finger_middle_left",
                 "finger_middle_right",
                 "finger_pinky",
                 "finger_pinky_left",
                 "finger_pinky_right",
                 "finger_ring",
                 "finger_ring_left",
                 "finger_ring_right",
                 "foot",
                 "foot_left",
                 "foot_right",
                 "foot_top_left",
                 "foot_top_right",
                 "forearm",
                 "forearm_left",
                 "forearm_right",
                 "groin",
                 "hand",
                 "hand_back_left",
                 "hand_back_right",
                 "hand_left",
                 "hand_right",
                 "head",
                 "head_back",
                 "heart",
                 "heel_left",
                 "heel_right",
                 "hip",
                 "hip_left",
                 "hip_right",
                 "internal_organs",
                 "knee",
                 "knee_left",
                 "knee_right",
                 "leg",
                 "leg_left",
                 "leg_right",
                 "lower_back",
                 "lower_back_left",
                 "lower_back_right",
                 "lower_leg",
                 "lower_leg_left",
                 "lower_leg_right",
                 "lungs",
                 "mouth",
                 "neck",
                 "neck_back",
                 "neck_left",
                 "neck_right",
                 "nervous_system",
                 "nose",
                 "palm_left",
                 "palm_right",
                 "pec",
                 "pec_left",
                 "pec_right",
                 "pelvis",
                 "pelvis_front",
                 "psychological",
                 "reproductive_system",
                 "respiratory_system",
                 "ribs",
                 "ribs_left",
                 "ribs_right",
                 "shoulder",
                 "shoulder_left",
                 "shoulder_right",
                 "skin",
                 "tailbone",
                 "teeth",
                 "throat",
                 "thumb",
                 "thumb_left",
                 "thumb_right",
                 "toe",
                 "toe_fifth",
                 "toe_fifth_left",
                 "toe_fifth_right",
                 "toe_first",
                 "toe_first_left",
                 "toe_first_right",
                 "toe_fourth",
                 "toe_fourth_left",
                 "toe_fourth_right",
                 "toe_second",
                 "toe_second_left",
                 "toe_second_right",
                 "toe_third",
                 "toe_third_left",
                 "toe_third_right",
                 "torso",
                 "upper_arm",
                 "upper_arm_left",
                 "upper_arm_right",
                 "upper_back",
                 "upper_back_left",
                 "upper_back_right",
                 "upper_leg",
                 "upper_leg_left",
                 "upper_leg_right",
                 "urinary_system",
                 "vertebrae",
                 "wrist",
                 "wrist_left",
                 "wrist_right"
                ]
               }
              }
             }
            },
            "custom_fields": {
             "type": "object",
             "properties": {
              "custom_field_%{custom_field_string_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "string"
                },
                "value": {
                 "type": "string",
                 "description": "The value of the custom field.",
                 "example": "custom field value"
                }
               }
              },
              "custom_field_%{custom_field_decimal_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "decimal"
                },
                "value": {
                 "type": "number",
                 "description": "The value of the custom field.",
                 "example": 2.2
                }
               }
              },
              "custom_field_%{custom_field_boolean_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "boolean"
                },
                "value": {
                 "type": "boolean",
                 "description": "The value of the custom field.",
                 "example": true
                }
               }
              },
              "custom_field_%{custom_field_lov_entry_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entry"
                },
                "value": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "The unique identifier of the list of values (LOV) entry.",
                   "example": 1
                  },
                  "label": {
                   "type": "string",
                   "description": "Label of the list of values (LOV) entry.",
                   "example": "Open"
                  }
                 }
                }
               }
              },
              "custom_field_%{custom_field_lov_entries_definition_id}": {
               "type": "object",
               "properties": {
                "data_type": {
                 "type": "string",
                 "description": "The data type of the Custom Field Definition.",
                 "example": "lov_entries"
                },
                "value": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "The unique identifier of the list of values (LOV) entry.",
                    "example": 2
                   },
                   "label": {
                    "type": "string",
                    "description": "The label of the list of values (LOV) entry.",
                    "example": "Open"
                   }
                  }
                 }
                }
               }
              }
             }
            },
            "body_parts": {
             "type": "array",
             "description": "Body parts affected by the injury",
             "items": {
              "type": "object",
              "title": "Body Part",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Body Part ID",
                "example": 999
               },
               "name": {
                "type": "string",
                "description": "Body Part Name",
                "example": "finger_index_right"
               },
               "selectable": {
                "type": "boolean",
                "description": "Represents whether a Body Part can be associated to an injury.",
                "example": true
               },
               "created_at": {
                "type": "string",
                "description": "Timestamp of creation",
                "format": "date-time",
                "example": "2016-10-25T17:53:35Z"
               },
               "updated_at": {
                "type": "string",
                "description": "Timestamp of last update",
                "format": "date-time",
                "example": "2016-10-25T17:53:35Z"
               },
               "parent_id": {
                "type": "integer",
                "description": "Parent Body Part ID",
                "example": 999,
                "nullable": true
               }
              }
             }
            }
           }
          },
          {
           "title": "IncidentRecordBaseNormal",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Incident Record ID",
             "example": 9
            },
            "number": {
             "type": "integer",
             "description": "The number of the Record",
             "example": 4
            },
            "full_number": {
             "type": "string",
             "description": "The Incident Number combined with the Record Number",
             "example": 16.4
            },
            "incident_id": {
             "type": "integer",
             "description": "The id of the Incident to which the record belongs",
             "example": 16
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "incident_title": {
             "type": "string",
             "description": "The title of the Incident to which the record belongs",
             "example": "HAZMAT Spill"
            },
            "incident_private": {
             "type": "boolean",
             "description": "Indicates whether the Incident to which the record belongs is private",
             "example": false
            },
            "summary": {
             "type": "string",
             "description": "Summary combining the affliction type, body part affected, and source of harm.",
             "example": "Sprain to Hand by Ground / Floor. Note: This key has been deprecated."
            },
            "description_plain_text": {
             "type": "string",
             "description": "Description of event",
             "example": "Sprain to Hand by Ground"
            },
            "description": {
             "type": "string",
             "example": "<p>Sprain to <b>Hand</b> by Ground</p>",
             "description": "Description of event in Rich Text format"
            },
            "affected_company": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "example": 161072
              },
              "name": {
               "type": "string",
               "example": "SID Architecture"
              }
             },
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "description": "Timestamp of creation",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "deleted_at": {
             "type": "string",
             "description": "Timestamp of deletion",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z",
             "nullable": true
            },
            "managed_equipment": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Equipment ID",
               "example": 15504
              },
              "name": {
               "type": "string",
               "description": "Equipment name",
               "example": "Jackhammer"
              }
             },
             "nullable": true
            },
            "incident_created_by": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 161072
                },
                "name": {
                 "type": "string",
                 "example": "Carl the Contractor"
                }
               }
              }
             ]
            },
            "updated_at": {
             "type": "string",
             "description": "Timestamp of last update",
             "format": "date-time",
             "example": "2016-10-25T17:53:35Z"
            },
            "work_activity": {
             "type": "object",
             "title": "Work Activity",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Work Activity ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Work Activity Name",
               "example": "Earthwork"
              },
              "active": {
               "type": "boolean",
               "description": "Represents whether a Work Activity is available for use.",
               "example": true
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a Work Activity has been provided by Procore.",
               "example": true
              },
              "created_at": {
               "type": "string",
               "description": "Timestamp of creation",
               "format": "date-time",
               "example": "2016-10-25T17:53:35Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the work activity was updated",
               "example": "2015-11-12T21:26:28Z"
              }
             },
             "nullable": true
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
[...]
