{
 "openapi": "3.0.0",
 "info": {
  "title": "Inspection Item Evidence Configurations",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Inspection Item Evidence Configurations",
  "version": "2.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/evidence_configuration": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "item_id",
     "in": "path",
     "description": "Unique identifier for the inspection item.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get a list of Inspection Item Evidence Configurations",
    "description": "Get a list of Inspection Item Evidence Configurations for a specified Inspection Item.",
    "tags": [
     "Inspections"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return Item Evidence Configuration(s) with the specified IDs",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Inspection Item Evidence Configurations",
           "items": {
            "type": "object",
            "properties": {
             "item_id": {
              "type": "string",
              "description": "Item ID for the Evidence Configuration",
              "example": "44"
             },
             "photo": {
              "type": "object",
              "properties": {
               "status_ids": {
                "type": "array",
                "description": "Array of Inspection Item Status IDs that would trigger the requirement of a Photo",
                "items": {
                 "type": "string",
                 "example": "2"
                }
               },
               "response_option_ids": {
                "type": "array",
                "description": "Array of Inspection Response Option IDs that would trigger the requirement of a Photo",
                "items": {
                 "type": "string",
                 "example": "23"
                }
               }
              }
             },
             "observation": {
              "type": "object",
              "properties": {
               "status_ids": {
                "type": "array",
                "description": "Array of Inspection Item Status IDs that would trigger the requirement of a Observation",
                "items": {
                 "type": "string",
                 "example": "1"
                }
               },
               "response_option_ids": {
                "type": "array",
                "description": "Array of Inspection Response Option IDs that would trigger the requirement of a Observation",
                "items": {
                 "type": "string",
                 "example": "31"
                }
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of creation",
              "example": "2012-10-23T21:39:40Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date updated",
              "example": "2012-10-23T21:39:40Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/evidence_configuration',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/evidence_configuration?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/evidence_configuration?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/evidence_configuration?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Inspection Item Evidence Configurations show endpoint",
      "description": "Returns the details for a specified Inspection Item Evidence Configurations for a given Inspection Item.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/evidence_configuration",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-04-22",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-evidence-configurations?version=2.0#get-a-list-of-inspection-item-evidence-configurations"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/evidence_configuration",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-30",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-evidence-configurations?version=2.0#get-a-list-of-inspection-item-evidence-configurations"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}