{
 "openapi": "3.1.0",
 "info": {
  "title": "Inspection Reinspections",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Inspection Reinspections",
  "version": "2.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/inspections/{inspection_id}/reinspections": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Reinspections",
    "description": "Creates a Reinspection for an Inspection",
    "tags": [
     "Inspections"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "inspection_id",
      "in": "path",
      "description": "Unique identifier for the inspection.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {}
       }
      }
     },
     "description": "No request body is necessary. The endpoint will use the inspection_id  from the path to create a reinspection of the specified inspection.",
     "required": false
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Inspections",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "ID of the Inspection",
             "example": "1"
            },
            "name": {
             "type": "string",
             "description": "Name of the Inspection",
             "example": "Safety Inspection"
            },
            "description": {
             "type": "string",
             "description": "Description of the Inspection",
             "example": "Ensure proper window installation"
            },
            "due_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp indicating when the Inspection is due.",
             "example": "2019-08-18T23:36:30Z"
            },
            "identifier": {
             "type": "string",
             "description": "Identifier of the Inspection",
             "example": "W-123"
            },
            "inspection_template_id": {
             "type": "string",
             "description": "The ID of the Inspection Template",
             "example": "123"
            },
            "inspection_date": {
             "type": "string",
             "format": "date",
             "description": "Date of the Inspection",
             "example": "2019-10-31"
            },
            "inspection_type_id": {
             "type": "string",
             "description": "The ID of the Inspection's Type",
             "example": "34"
            },
            "inspector_ids": {
             "type": "array",
             "description": "The IDs of the Inspectors performing the Inspection",
             "items": {
              "type": "string"
             },
             "example": [
              "12",
              "13"
             ]
            },
            "private": {
             "type": "boolean",
             "description": "Indicates whether this Inspection is private",
             "default": true,
             "example": true
            },
            "spec_section_id": {
             "type": "string",
             "description": "The ID of the Inspection's Specification Section",
             "example": "5"
            },
            "status": {
             "type": "string",
             "description": "The Inspection's status",
             "enum": [
              "open",
              "in_review",
              "closed"
             ],
             "example": "open"
            },
            "trade_id": {
             "type": "string",
             "description": "The ID of the Trade involved in the Inspection",
             "example": "123"
            },
            "distribution_member_ids": {
             "type": "array",
             "description": "The IDs of the Distribution Members for the Inspection",
             "items": {
              "type": "string"
             },
             "example": [
              "2",
              "3"
             ]
            },
            "location_id": {
             "type": "string",
             "description": "The ID of the Location of the Inspection",
             "example": "1"
            },
            "equipment_id": {
             "type": "string",
             "description": "The ID of the Equipment",
             "example": "1"
            },
            "asset_ids": {
             "type": "array",
             "description": "IDs of Assets linked to this Inspection via Related Items",
             "items": {
              "type": "string"
             },
             "example": [
              "01HQRT4MNBV2XJKZ8DPWE3YC5A"
             ]
            },
            "reinspected_by_id": {
             "type": "string",
             "description": "The ID of the Reinspection that was created from this Inspection",
             "example": "105"
            },
            "reinspected_from_id": {
             "type": "string",
             "description": "The ID of the Inspection this Inspection was reinspected from (labeled \"Origin\" in UI)",
             "example": "58"
            },
            "attachments": {
             "type": "array",
             "description": "Array of Inspection Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "ID",
                "example": "5324"
               },
               "content_type": {
                "type": "string",
                "example": "application/pdf"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "409": {
      "description": "Conflict",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/reinspections',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/reinspections\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/reinspections \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/reinspections\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Create Reinspections endpoint",
      "description": "Create a reinspection for an inspection.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/inspections/{inspection_id}/reinspections",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-05-15",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-reinspections?version=2.0#create-reinspections"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/inspections/{inspection_id}/active_reinspection": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get Active Reinspection",
    "description": "Get the active reinspection for an inspection.",
    "tags": [
     "Inspections"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "inspection_id",
      "in": "path",
      "description": "Unique identifier for the inspection.",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Inspections",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "ID of the Inspection",
             "example": "1"
            },
            "name": {
             "type": "string",
             "description": "Name of the Inspection",
             "example": "Safety Inspection"
            },
            "description": {
             "type": "string",
             "description": "Description of the Inspection",
             "example": "Ensure proper window installation"
            },
            "due_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp indicating when the Inspection is due.",
             "example": "2019-08-18T23:36:30Z"
            },
            "identifier": {
             "type": "string",
             "description": "Identifier of the Inspection",
             "example": "W-123"
            },
            "inspection_template_id": {
             "type": "string",
             "description": "The ID of the Inspection Template",
             "example": "123"
            },
            "inspection_date": {
             "type": "string",
             "format": "date",
             "description": "Date of the Inspection",
             "example": "2019-10-31"
            },
            "inspection_type_id": {
             "type": "string",
             "description": "The ID of the Inspection's Type",
             "example": "34"
            },
            "inspector_ids": {
             "type": "array",
             "description": "The IDs of the Inspectors performing the Inspection",
             "items": {
              "type": "string"
             },
             "example": [
              "12",
              "13"
             ]
            },
            "private": {
             "type": "boolean",
             "description": "Indicates whether this Inspection is private",
             "default": true,
             "example": true
            },
            "spec_section_id": {
             "type": "string",
             "description": "The ID of the Inspection's Specification Section",
             "example": "5"
            },
            "status": {
             "type": "string",
             "description": "The Inspection's status",
             "enum": [
              "open",
              "in_review",
              "closed"
             ],
             "example": "open"
            },
            "trade_id": {
             "type": "string",
             "description": "The ID of the Trade involved in the Inspection",
             "example": "123"
            },
            "distribution_member_ids": {
             "type": "array",
             "description": "The IDs of the Distribution Members for the Inspection",
             "items": {
              "type": "string"
             },
             "example": [
              "2",
              "3"
             ]
            },
            "location_id": {
             "type": "string",
             "description": "The ID of the Location of the Inspection",
             "example": "1"
            },
            "equipment_id": {
             "type": "string",
             "description": "The ID of the Equipment",
             "example": "1"
            },
            "asset_ids": {
             "type": "array",
             "description": "IDs of Assets linked to this Inspection via Related Items",
             "items": {
              "type": "string"
             },
             "example": [
              "01HQRT4MNBV2XJKZ8DPWE3YC5A"
             ]
            },
            "reinspected_by_id": {
             "type": "string",
             "description": "The ID of the Reinspection that was created from this Inspection",
             "example": "105"
            },
            "reinspected_from_id": {
             "type": "string",
             "description": "The ID of the Inspection this Inspection was reinspected from (labeled \"Origin\" in UI)",
             "example": "58"
            },
            "attachments": {
             "type": "array",
             "description": "Array of Inspection Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "description": "ID",
                "example": "5324"
               },
               "content_type": {
                "type": "string",
                "example": "application/pdf"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/active_reinspection',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/active_reinspection\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/active_reinspection \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/active_reinspection\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Active Reinspections endpoint",
      "description": "Get the active reinspection for an inspection.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/inspections/{inspection_id}/active_reinspection",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-06-03",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-reinspections?version=2.0#get-active-reinspection"
     },
     {
      "summary": "Added asset_ids field to Inspection responses",
      "description": "Added `asset_ids` field (array of strings) to Inspection responses. This field contains\nthe IDs of Assets linked to the Inspection via Related Items.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/inspections/{inspection_id}/active_reinspection",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-08-06",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-reinspections?version=2.0#get-active-reinspection"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}