{
 "openapi": "3.0.0",
 "info": {
  "title": "Inspection Item References",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Inspection Item References",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/inspections/{inspection_id}/item_references": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "inspection_id",
     "in": "path",
     "description": "Unique identifier for the inspection.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "filters[id]",
     "in": "query",
     "description": "Return References with the specified IDs",
     "required": false,
     "style": "form",
     "explode": false,
     "schema": {
      "type": "array",
      "items": {
       "type": "integer"
      }
     }
    },
    {
     "name": "filters[item_id]",
     "in": "query",
     "description": "Return Reference(s) with the specified Item IDs",
     "required": false,
     "style": "form",
     "explode": false,
     "schema": {
      "type": "array",
      "items": {
       "type": "integer"
      }
     }
    },
    {
     "name": "filters[created_at]",
     "in": "query",
     "description": "Return item(s) created within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
     "required": false,
     "schema": {
      "type": "string",
      "format": "date"
     }
    },
    {
     "name": "filters[updated_at]",
     "in": "query",
     "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
     "required": false,
     "schema": {
      "type": "string",
      "format": "date"
     }
    },
    {
     "name": "sort",
     "in": "query",
     "description": "Sort item(s) by the chosen param; check below for a list of options. The direction of sorting is ascending by default; for descending sort, insert the - symbol before the param.",
     "schema": {
      "type": "string",
      "enum": [
       "created_at",
       "updated_at"
      ]
     }
    }
   ],
   "get": {
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Inspection Item References",
    "description": "Returns a collection of Item References for a specified Inspection Item.",
    "tags": [
     "Checklists (Inspections)",
     "Inspection Item References"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of references retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of references to be retrieved",
        "schema": {
         "type": "integer"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Inspection Item References",
         "items": {
          "type": "object",
          "description": "Project Inspection Template Item Reference",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 12
           },
           "template_id": {
            "type": "integer",
            "description": "ID of the associated Project Inspection Template",
            "example": 54
           },
           "item_id": {
            "type": "integer",
            "description": "ID of the associated Project Inspection Template Item",
            "example": 54
           },
           "payload": {
            "type": "object",
            "description": "Contains specific attributes depending on the type of Reference",
            "properties": {
             "attachment": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "Image URL",
                "example": "http://www.example.com/"
               },
               "thumbnail_url": {
                "type": "string",
                "description": "Image Thumbnail URL",
                "example": "http://www.example.com/",
                "nullable": true
               },
               "name": {
                "type": "string",
                "description": "File Name",
                "example": "january_receipt_copy.jpg"
               },
               "content_type": {
                "type": "string",
                "description": "Content Type",
                "example": "image/jpg"
               }
              }
             }
            }
           },
           "type": {
            "type": "string",
            "description": "Project Inspection Template Item Reference Type",
            "enum": [
             "attachment"
            ],
            "example": "attachment"
           },
           "created_at": {
            "type": "string",
            "description": "Time the Project Inspection Template Item Reference was created",
            "example": "2018-09-20T21:39:40Z"
           },
           "updated_at": {
            "type": "string",
            "description": "Time the Project Inspection Template Item Reference was updated",
            "example": "2018-09-20T21:39:40Z"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/item_references',\n  qs: {\n    'filters[id]': 'SOME_ARRAY_VALUE',\n    'filters[item_id]': 'SOME_ARRAY_VALUE',\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/item_references?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bitem_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/item_references?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bitem_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/inspections/%7Binspection_id%7D/item_references?filters%5Bid%5D=SOME_ARRAY_VALUE&filters%5Bitem_id%5D=SOME_ARRAY_VALUE&filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Inspection Item References list endpoint",
      "description": "Get a list of Inspection Item References for a given Project and Inspection.",
      "endpoint": "GET /projects/{project_id}/inspections/{inspection_id}/item_references",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-02-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-references?version=1.0#list-inspection-item-references"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "GET /projects/{project_id}/inspections/{inspection_id}/item_references",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-25",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-references?version=1.0#list-inspection-item-references"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}