{
 "openapi": "3.0.0",
 "info": {
  "title": "Inspection Item Signature Requests",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Inspection Item Signature Requests",
  "version": "2.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "item_id",
     "in": "path",
     "description": "Unique identifier for the inspection item.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get a list of Inspection Item Signature Requests",
    "description": "Get a list of Inspection Item Signature Requests for a specified Inspection.",
    "tags": [
     "Inspections"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return Signature Request(s) with the specified IDs",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Inspection Item Signature Requests",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "ID",
              "example": "21"
             },
             "requested_by_id": {
              "type": "string",
              "description": "Party ID of the user who requested the signature",
              "example": "44"
             },
             "signatory": {
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "The unique identifier of the user.",
                  "example": "160586"
                 },
                 "login": {
                  "type": "string",
                  "description": "The email address of the user that is used to log in.",
                  "example": "exampleuser@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the user.",
                  "example": "Carl the Contractor"
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "company_name": {
                  "type": "string",
                  "description": "User's Company Name",
                  "example": "Company ABC"
                 }
                }
               }
              ]
             },
             "signature": {
              "title": "Checklist Signature",
              "type": "object",
              "nullable": true,
              "properties": {
               "id": {
                "type": "string",
                "description": "ID",
                "example": "5324"
               },
               "captured_by": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "The unique identifier of the user.",
                    "example": "160586"
                   },
                   "login": {
                    "type": "string",
                    "description": "The email address of the user that is used to log in.",
                    "example": "exampleuser@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "The name of the user.",
                    "example": "Carl the Contractor"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "company_name": {
                    "type": "string",
                    "description": "User's Company Name",
                    "example": "Company ABC"
                   }
                  }
                 }
                ]
               },
               "captured_at": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp of creation",
                "example": "2012-10-23T21:39:40Z"
               },
               "attachment": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "ID",
                  "example": "5324"
                 },
                 "url": {
                  "type": "string",
                  "description": "URL",
                  "example": "http://www.example.com/"
                 },
                 "filename": {
                  "type": "string",
                  "description": "Filename",
                  "example": "january_receipt_copy.jpg"
                 },
                 "name": {
                  "type": "string",
                  "description": "Attachment name",
                  "example": "january_receipt_copy.jpg"
                 }
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_ARRAY_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_ARRAY_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Inspection Item Signature Request list endpoint",
      "description": "Returns a list of Inspection Item Signature Requests for a given Inspection Item.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-03-14",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#get-a-list-of-inspection-item-signature-requests"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-26",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#get-a-list-of-inspection-item-signature-requests"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Creates a Inspection Item Signature Request",
    "description": "Creates a Inspection Item Signature Request for a specified Inspection.",
    "tags": [
     "Inspections"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "signature_request": {
          "type": "object",
          "required": [
           "signatory_id"
          ],
          "properties": {
           "signatory_id": {
            "type": "string",
            "description": "Party ID of the signatory",
            "example": "44"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "ID",
             "example": "21"
            },
            "requested_by_id": {
             "type": "string",
             "description": "Party ID of the user who requested the signature",
             "example": "44"
            },
            "signatory": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "The unique identifier of the user.",
                 "example": "160586"
                },
                "login": {
                 "type": "string",
                 "description": "The email address of the user that is used to log in.",
                 "example": "exampleuser@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the user.",
                 "example": "Carl the Contractor"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "company_name": {
                 "type": "string",
                 "description": "User's Company Name",
                 "example": "Company ABC"
                }
               }
              }
             ]
            },
            "signature": {
             "title": "Checklist Signature",
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "ID",
               "example": "5324"
              },
              "captured_by": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "The unique identifier of the user.",
                   "example": "160586"
                  },
                  "login": {
                   "type": "string",
                   "description": "The email address of the user that is used to log in.",
                   "example": "exampleuser@example.com"
                  },
                  "name": {
                   "type": "string",
                   "description": "The name of the user.",
                   "example": "Carl the Contractor"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "company_name": {
                   "type": "string",
                   "description": "User's Company Name",
                   "example": "Company ABC"
                  }
                 }
                }
               ]
              },
              "captured_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2012-10-23T21:39:40Z"
              },
              "attachment": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID",
                 "example": "5324"
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                },
                "name": {
                 "type": "string",
                 "description": "Attachment name",
                 "example": "january_receipt_copy.jpg"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {signature_request: {signatory_id: '44'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"signature_request\\\":{\\\"signatory_id\\\":\\\"44\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"signature_request\":{\"signatory_id\":\"44\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"signature_request\\\":{\\\"signatory_id\\\":\\\"44\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Inspection Item Signature Request create endpoint",
      "description": "Creates an Inspection Item Signature Request for a given Inspection Item",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-03-14",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#creates-a-inspection-item-signature-request"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-26",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#creates-a-inspection-item-signature-request"
     },
     {
      "summary": "Fixed POST request body parameters",
      "description": "Fixed POST request body parameters to have `signatory_id` inside the `signature_request`",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-04-28",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#creates-a-inspection-item-signature-request"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "item_id",
     "in": "path",
     "description": "Unique identifier for the inspection item.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier of the Inspection Item Signature",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show a Inspection Item Signature Request",
    "description": "Show the specified Inspection Item Signature Request.",
    "tags": [
     "Inspections"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "ID",
             "example": "21"
            },
            "requested_by_id": {
             "type": "string",
             "description": "Party ID of the user who requested the signature",
             "example": "44"
            },
            "signatory": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "The unique identifier of the user.",
                 "example": "160586"
                },
                "login": {
                 "type": "string",
                 "description": "The email address of the user that is used to log in.",
                 "example": "exampleuser@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the user.",
                 "example": "Carl the Contractor"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "company_name": {
                 "type": "string",
                 "description": "User's Company Name",
                 "example": "Company ABC"
                }
               }
              }
             ]
            },
            "signature": {
             "title": "Checklist Signature",
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "ID",
               "example": "5324"
              },
              "captured_by": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "The unique identifier of the user.",
                   "example": "160586"
                  },
                  "login": {
                   "type": "string",
                   "description": "The email address of the user that is used to log in.",
                   "example": "exampleuser@example.com"
                  },
                  "name": {
                   "type": "string",
                   "description": "The name of the user.",
                   "example": "Carl the Contractor"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "company_name": {
                   "type": "string",
                   "description": "User's Company Name",
                   "example": "Company ABC"
                  }
                 }
                }
               ]
              },
              "captured_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2012-10-23T21:39:40Z"
              },
              "attachment": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID",
                 "example": "5324"
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                },
                "name": {
                 "type": "string",
                 "description": "Attachment name",
                 "example": "january_receipt_copy.jpg"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Inspection Item Signature Request show endpoint",
      "description": "Returns the details for a specified Inspection Item Signature Request.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-03-14",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#show-a-inspection-item-signature-request"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-26",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#show-a-inspection-item-signature-request"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Deletes an Inspection Item Signature Request",
    "description": "Deletes the specified Inspection Item Signature Request",
    "tags": [
     "Inspections"
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Inspection Item Signature Request delete endpoint",
      "description": "Deletes the specified Inspection Item Signature Request",
      "endpoint": "DELETE /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-03-14",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#deletes-an-inspection-item-signature-request"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "DELETE /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-26",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#deletes-an-inspection-item-signature-request"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests/find_or_create": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "item_id",
     "in": "path",
     "description": "Unique identifier for the inspection item.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Finds or Creates a Inspection Item Signature Request",
    "description": "Tries to find a Inspection Item Signature Request for a specified Inspection, creates one if it doesn't exist.",
    "tags": [
     "Inspections",
     "Checklists (Inspections)"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "signature_request": {
          "type": "object",
          "required": [
           "signatory_id"
          ],
          "properties": {
           "signatory_id": {
            "type": "string",
            "description": "Party ID of the signatory",
            "example": "44"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "ID",
             "example": "21"
            },
            "requested_by_id": {
             "type": "string",
             "description": "Party ID of the user who requested the signature",
             "example": "44"
            },
            "signatory": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "The unique identifier of the user.",
                 "example": "160586"
                },
                "login": {
                 "type": "string",
                 "description": "The email address of the user that is used to log in.",
                 "example": "exampleuser@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the user.",
                 "example": "Carl the Contractor"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "company_name": {
                 "type": "string",
                 "description": "User's Company Name",
                 "example": "Company ABC"
                }
               }
              }
             ]
            },
            "signature": {
             "title": "Checklist Signature",
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "ID",
               "example": "5324"
              },
              "captured_by": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "The unique identifier of the user.",
                   "example": "160586"
                  },
                  "login": {
                   "type": "string",
                   "description": "The email address of the user that is used to log in.",
                   "example": "exampleuser@example.com"
                  },
                  "name": {
                   "type": "string",
                   "description": "The name of the user.",
                   "example": "Carl the Contractor"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "company_name": {
                   "type": "string",
                   "description": "User's Company Name",
                   "example": "Company ABC"
                  }
                 }
                }
               ]
              },
              "captured_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2012-10-23T21:39:40Z"
              },
              "attachment": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID",
                 "example": "5324"
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                },
                "name": {
                 "type": "string",
                 "description": "Attachment name",
                 "example": "january_receipt_copy.jpg"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "ID",
             "example": "21"
            },
            "requested_by_id": {
             "type": "string",
             "description": "Party ID of the user who requested the signature",
             "example": "44"
            },
            "signatory": {
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "The unique identifier of the user.",
                 "example": "160586"
                },
                "login": {
                 "type": "string",
                 "description": "The email address of the user that is used to log in.",
                 "example": "exampleuser@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "The name of the user.",
                 "example": "Carl the Contractor"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "company_name": {
                 "type": "string",
                 "description": "User's Company Name",
                 "example": "Company ABC"
                }
               }
              }
             ]
            },
            "signature": {
             "title": "Checklist Signature",
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "string",
               "description": "ID",
               "example": "5324"
              },
              "captured_by": {
               "allOf": [
                {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "The unique identifier of the user.",
                   "example": "160586"
                  },
                  "login": {
                   "type": "string",
                   "description": "The email address of the user that is used to log in.",
                   "example": "exampleuser@example.com"
                  },
                  "name": {
                   "type": "string",
                   "description": "The name of the user.",
                   "example": "Carl the Contractor"
                  }
                 }
                },
                {
                 "type": "object",
                 "properties": {
                  "company_name": {
                   "type": "string",
                   "description": "User's Company Name",
                   "example": "Company ABC"
                  }
                 }
                }
               ]
              },
              "captured_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2012-10-23T21:39:40Z"
              },
              "attachment": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "ID",
                 "example": "5324"
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                },
                "name": {
                 "type": "string",
                 "description": "Attachment name",
                 "example": "january_receipt_copy.jpg"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/find_or_create',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {signature_request: {signatory_id: '44'}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"signature_request\\\":{\\\"signatory_id\\\":\\\"44\\\"}}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/find_or_create\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/find_or_create \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"signature_request\":{\"signatory_id\":\"44\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/inspection_items/%7Bitem_id%7D/signature_requests/find_or_create\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"signature_request\\\":{\\\"signatory_id\\\":\\\"44\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Inspection Item Signature Request find_or_create endpoint",
      "description": "Finds or Creates a Inspection Item Signature Request",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests/find_or_create",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-03-18",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#finds-or-creates-a-inspection-item-signature-request"
     },
     {
      "summary": "Made endpoint documentation public",
      "description": "Made endpoint documentation public",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/inspection_items/{item_id}/signature_requests/find_or_create",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-07-26",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "inspection-item-signature-requests?version=2.0#finds-or-creates-a-inspection-item-signature-request"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}