{
 "openapi": "3.0.0",
 "info": {
  "title": "Instructions",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Instructions",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/instructions": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Instructions",
    "description": "Create a new Instruction associated with the specified Project.",
    "tags": [
     "Instructions"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "instruction"
        ],
        "properties": {
         "instruction": {
          "title": "Instruction",
          "type": "object",
          "required": [
           "title",
           "status",
           "instruction_type_id"
          ],
          "properties": {
           "number": {
            "type": "string",
            "description": "The Number of the Instruction",
            "example": 1
           },
           "title": {
            "type": "string",
            "description": "The Title of the Instruction",
            "example": "Fix this thing"
           },
           "status": {
            "type": "string",
            "description": "The Status of the Instruction",
            "enum": [
             "draft",
             "issued"
            ],
            "example": "draft"
           },
           "instruction_type_id": {
            "type": "integer",
            "description": "ID of the Instruction Type",
            "example": 1
           },
           "instruction_from_id": {
            "type": "integer",
            "description": "ID of the User who the Instruction is from",
            "example": 1
           },
           "date_received": {
            "type": "string",
            "format": "date",
            "example": "2016-10-13"
           },
           "schedule_impact": {
            "type": "object",
            "description": "The Schedule Impact of the Instruction",
            "properties": {
             "status": {
              "type": "string",
              "description": "The Status of the Schedule Impact",
              "enum": [
               "yes_known",
               "yes_unknown",
               "no_impact",
               "tbd",
               "n_a"
              ]
             },
             "value": {
              "type": "integer",
              "description": "The Value in days of the Schedule Impact",
              "example": 14
             }
            }
           },
           "cost_impact": {
            "type": "object",
            "description": "The Cost Impact of the Instruction",
            "properties": {
             "status": {
              "type": "string",
              "description": "The Status of the Cost Impact",
              "enum": [
               "yes_known",
               "yes_unknown",
               "no_impact",
               "tbd",
               "n_a"
              ]
             },
             "value": {
              "type": "number",
              "format": "float",
              "description": "Cost impact value in dollars",
              "example": 12039.55
             }
            }
           },
           "private": {
            "type": "boolean",
            "description": "The Private status of the Instruction",
            "default": false,
            "example": false
           },
           "description": {
            "type": "string",
            "description": "The Description of the Instruction",
            "example": "This is a description"
           },
           "attention_ids": {
            "type": "array",
            "description": "An array of IDs of the Attentions of the Instruction",
            "items": {
             "type": "integer"
            }
           },
           "distribution_member_ids": {
            "type": "array",
            "description": "An array of IDs of the Distributions of the Instruction",
            "items": {
             "type": "integer"
            }
           },
           "trade_ids": {
            "type": "array",
            "description": "An array of IDs of the Trades of the Instruction",
            "items": {
             "type": "integer"
            }
           },
           "attachments": {
            "type": "array",
            "description": "Instruction's Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string"
            }
           },
           "upload_ids": {
            "type": "array",
            "description": "The specified array of upload ids is saved as Site Instruction Attachments.",
            "items": {
             "type": "string",
             "example": "1ZE146W9K804SAJJZX19JVAD0R"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Instruction created successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 999
          },
          "number": {
           "type": "string",
           "description": "Number",
           "example": 1
          },
          "title": {
           "type": "string",
           "description": "Number",
           "example": "Fix this thing"
          },
          "rich_text_description": {
           "type": "string",
           "description": "Rich Text Description",
           "example": "<p>This is an Instruction</p>"
          },
          "plain_text_description": {
           "type": "string",
           "description": "Plain Text Description",
           "example": "This is an Instruction"
          },
          "created_at": {
           "type": "string",
           "description": "Date created",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "date_received": {
           "type": "string",
           "description": "Date created",
           "format": "date",
           "example": "2016-08-23"
          },
          "date_issued": {
           "type": "string",
           "description": "Date created",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "status": {
           "type": "string",
           "description": "Status",
           "example": "draft",
           "enum": [
            "draft",
            "issued",
            "closed"
           ]
          },
          "private": {
           "type": "boolean",
           "description": "private",
           "example": false
          },
          "schedule_impact": {
           "type": "object",
           "properties": {
            "status": {
             "type": "string",
             "description": "Schedule impact status",
             "example": "yes_known",
             "enum": [
              "yes_known",
              "yes_unknown",
              "no_impact",
              "tbd",
              "n_a"
             ]
            },
            "value": {
             "type": "integer",
             "description": "Schedule impact value",
             "example": 14
            }
           }
          },
          "cost_impact": {
           "type": "object",
           "properties": {
            "status": {
             "type": "string",
             "description": "Cost impact status",
             "example": "yes_known",
             "enum": [
              "yes_known",
              "yes_unknown",
              "no_impact",
              "tbd",
              "n_a"
             ]
            },
            "value": {
             "type": "number",
             "format": "float",
             "description": "Cost impact value in dollars"
            }
           }
          },
          "instruction_type": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 2
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Owner Instruction"
            },
            "prefix": {
             "type": "string",
             "description": "Prefix",
             "example": "OI"
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "instruction_from": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Instruction Distribution List of Users",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "attentions": {
           "type": "array",
           "description": "Instruction Attentions",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "snapshot.png"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          },
          "trades": {
           "type": "array",
           "items": {
            "type": "object",
            "title": "Trade",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to create Instruction",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating Instruction",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions',\n  headers: {'content-type': 'application/json'},\n  body: {\n    instruction: {\n      number: 1,\n      title: 'Fix this thing',\n      status: 'draft',\n      instruction_type_id: 1,\n      instruction_from_id: 1,\n      date_received: '2016-10-13',\n      schedule_impact: {status: 'yes_known', value: 14},\n      cost_impact: {status: 'yes_known', value: 12039.55},\n      private: false,\n      description: 'This is a description',\n      attention_ids: [0],\n      distribution_member_ids: [0],\n      trade_ids: [0],\n      attachments: ['string'],\n      upload_ids: ['1ZE146W9K804SAJJZX19JVAD0R']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"instruction\\\":{\\\"number\\\":1,\\\"title\\\":\\\"Fix this thing\\\",\\\"status\\\":\\\"draft\\\",\\\"instruction_type_id\\\":1,\\\"instruction_from_id\\\":1,\\\"date_received\\\":\\\"2016-10-13\\\",\\\"schedule_impact\\\":{\\\"status\\\":\\\"yes_known\\\",\\\"value\\\":14},\\\"cost_impact\\\":{\\\"status\\\":\\\"yes_known\\\",\\\"value\\\":12039.55},\\\"private\\\":false,\\\"description\\\":\\\"This is a description\\\",\\\"attention_ids\\\":[0],\\\"distribution_member_ids\\\":[0],\\\"trade_ids\\\":[0],\\\"attachments\\\":[\\\"string\\\"],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/instructions\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions \\\n  --header 'content-type: application/json' \\\n  --data '{\"instruction\":{\"number\":1,\"title\":\"Fix this thing\",\"status\":\"draft\",\"instruction_type_id\":1,\"instruction_from_id\":1,\"date_received\":\"2016-10-13\",\"schedule_impact\":{\"status\":\"yes_known\",\"value\":14},\"cost_impact\":{\"status\":\"yes_known\",\"value\":12039.55},\"private\":false,\"description\":\"This is a description\",\"attention_ids\":[0],\"distribution_member_ids\":[0],\"trade_ids\":[0],\"attachments\":[\"string\"],\"upload_ids\":[\"1ZE146W9K804SAJJZX19JVAD0R\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions\"),\n    Content = new StringContent(\"{\\\"instruction\\\":{\\\"number\\\":1,\\\"title\\\":\\\"Fix this thing\\\",\\\"status\\\":\\\"draft\\\",\\\"instruction_type_id\\\":1,\\\"instruction_from_id\\\":1,\\\"date_received\\\":\\\"2016-10-13\\\",\\\"schedule_impact\\\":{\\\"status\\\":\\\"yes_known\\\",\\\"value\\\":14},\\\"cost_impact\\\":{\\\"status\\\":\\\"yes_known\\\",\\\"value\\\":12039.55},\\\"private\\\":false,\\\"description\\\":\\\"This is a description\\\",\\\"attention_ids\\\":[0],\\\"distribution_member_ids\\\":[0],\\\"trade_ids\\\":[0],\\\"attachments\\\":[\\\"string\\\"],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add upload_id as a new parameter for Site Instruction",
      "description": "Add upload_id as a new parameter for Site Instruction POST endpoint",
      "endpoint": "POST /projects/{project_id}/instructions",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "instructions?version=1.0#create-instructions"
     }
    ]
   },
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Instructions on a project",
    "description": "Return a list of all Instructions from a specified Project.",
    "tags": [
     "Instructions"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Instructions listed successfully",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 999
           },
           "number": {
            "type": "string",
            "description": "Number",
            "example": 1
           },
           "title": {
            "type": "string",
            "description": "Number",
            "example": "Fix this thing"
           },
           "rich_text_description": {
            "type": "string",
            "description": "Rich Text Description",
            "example": "<p>This is an Instruction</p>"
           },
           "plain_text_description": {
            "type": "string",
            "description": "Plain Text Description",
            "example": "This is an Instruction"
           },
           "created_at": {
            "type": "string",
            "description": "Date created",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "date_received": {
            "type": "string",
            "description": "Date created",
            "format": "date",
            "example": "2016-08-23"
           },
           "date_issued": {
            "type": "string",
            "description": "Date created",
            "format": "date-time",
            "example": "2016-08-23T15:23:57Z"
           },
           "status": {
            "type": "string",
            "description": "Status",
            "example": "draft",
            "enum": [
             "draft",
             "issued",
             "closed"
            ]
           },
           "private": {
            "type": "boolean",
            "description": "private",
            "example": false
           },
           "schedule_impact": {
            "type": "object",
            "properties": {
             "status": {
              "type": "string",
              "description": "Schedule impact status",
              "example": "yes_known",
              "enum": [
               "yes_known",
               "yes_unknown",
               "no_impact",
               "tbd",
               "n_a"
              ]
             },
             "value": {
              "type": "integer",
              "description": "Schedule impact value",
              "example": 14
             }
            }
           },
           "cost_impact": {
            "type": "object",
            "properties": {
             "status": {
              "type": "string",
              "description": "Cost impact status",
              "example": "yes_known",
              "enum": [
               "yes_known",
               "yes_unknown",
               "no_impact",
               "tbd",
               "n_a"
              ]
             },
             "value": {
              "type": "number",
              "format": "float",
              "description": "Cost impact value in dollars"
             }
            }
           },
           "instruction_type": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 2
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Owner Instruction"
             },
             "prefix": {
              "type": "string",
              "description": "Prefix",
              "example": "OI"
             }
            }
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "instruction_from": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "distribution_members": {
            "type": "array",
            "description": "Instruction Distribution List of Users",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           },
           "attentions": {
            "type": "array",
            "description": "Instruction Attentions",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           },
           "attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Base name of the file without its path",
               "example": "snapshot.png"
              },
              "url": {
               "type": "string",
               "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
               "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
              }
             }
            }
           },
           "trades": {
            "type": "array",
            "items": {
             "type": "object",
             "title": "Trade",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/instructions?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/instructions/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Instruction ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Instruction",
    "description": "Return detailed information on the specified Instruction.",
    "tags": [
     "Instructions"
    ],
    "responses": {
     "200": {
      "description": "Instruction shown successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 999
          },
          "number": {
           "type": "string",
           "description": "Number",
           "example": 1
          },
          "title": {
           "type": "string",
           "description": "Number",
           "example": "Fix this thing"
          },
          "rich_text_description": {
           "type": "string",
           "description": "Rich Text Description",
           "example": "<p>This is an Instruction</p>"
          },
          "plain_text_description": {
           "type": "string",
           "description": "Plain Text Description",
           "example": "This is an Instruction"
          },
          "created_at": {
           "type": "string",
           "description": "Date created",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "date_received": {
           "type": "string",
           "description": "Date created",
           "format": "date",
           "example": "2016-08-23"
          },
          "date_issued": {
           "type": "string",
           "description": "Date created",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "status": {
           "type": "string",
           "description": "Status",
           "example": "draft",
           "enum": [
            "draft",
            "issued",
            "closed"
           ]
          },
          "private": {
           "type": "boolean",
           "description": "private",
           "example": false
          },
          "schedule_impact": {
           "type": "object",
           "properties": {
            "status": {
             "type": "string",
             "description": "Schedule impact status",
             "example": "yes_known",
             "enum": [
              "yes_known",
              "yes_unknown",
              "no_impact",
              "tbd",
              "n_a"
             ]
            },
            "value": {
             "type": "integer",
             "description": "Schedule impact value",
             "example": 14
            }
           }
          },
          "cost_impact": {
           "type": "object",
           "properties": {
            "status": {
             "type": "string",
             "description": "Cost impact status",
             "example": "yes_known",
             "enum": [
              "yes_known",
              "yes_unknown",
              "no_impact",
              "tbd",
              "n_a"
             ]
            },
            "value": {
             "type": "number",
             "format": "float",
             "description": "Cost impact value in dollars"
            }
           }
          },
          "instruction_type": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 2
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Owner Instruction"
            },
            "prefix": {
             "type": "string",
             "description": "Prefix",
             "example": "OI"
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "instruction_from": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Instruction Distribution List of Users",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "attentions": {
           "type": "array",
           "description": "Instruction Attentions",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "snapshot.png"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          },
          "trades": {
           "type": "array",
           "items": {
            "type": "object",
            "title": "Trade",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to view Instruction",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Instruction not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Instruction",
    "description": "Update the specified Instruction.",
    "tags": [
     "Instructions"
    ],
    "parameters": [
     {
      "name": "send_emails",
      "in": "query",
      "description": "Designates whether or not emails will be sent (default false)",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "instruction"
        ],
        "properties": {
         "instruction": {
          "title": "Instruction",
          "type": "object",
          "properties": {
           "number": {
            "type": "string",
            "description": "The Number of the Instruction",
            "example": 1
           },
           "title": {
            "type": "string",
            "description": "The Title of the Instruction",
            "example": "Fix this thing"
           },
           "status": {
            "type": "string",
            "description": "The Status of the Instruction",
            "enum": [
             "draft",
             "issued",
             "closed"
            ],
            "example": "draft"
           },
           "instruction_type_id": {
            "type": "integer",
            "description": "ID of the Instruction Type",
            "example": 1
           },
           "instruction_from_id": {
            "type": "integer",
            "description": "ID of the User who the Instruction is from",
            "example": 1
           },
           "date_received": {
            "type": "string",
            "format": "date",
            "example": "2016-10-13"
           },
           "schedule_impact": {
            "type": "object",
            "description": "The Schedule Impact of the Instruction",
            "properties": {
             "status": {
              "type": "string",
              "description": "The Status of the Schedule Impact",
              "enum": [
               "yes_known",
               "yes_unknown",
               "no_impact",
               "tbd",
               "n_a"
              ]
             },
             "value": {
              "type": "integer",
              "description": "The Value in days of the Schedule Impact",
              "example": 14
             }
            }
           },
           "cost_impact": {
            "type": "object",
            "description": "The Cost Impact of the Instruction",
            "properties": {
             "status": {
              "type": "string",
              "description": "The Status of the Cost Impact",
              "enum": [
               "yes_known",
               "yes_unknown",
               "no_impact",
               "tbd",
               "n_a"
              ]
             },
             "value": {
              "type": "number",
              "format": "float",
              "description": "Cost impact value in dollars",
              "example": 12039.55
             }
            }
           },
           "private": {
            "type": "boolean",
            "description": "The Private status of the Instruction",
            "default": false,
            "example": false
           },
           "description": {
            "type": "string",
            "description": "The Description of the Instruction",
            "example": "This is a description"
           },
           "attention_ids": {
            "type": "array",
            "description": "An array of IDs of the Attentions of the Instruction",
            "items": {
             "type": "integer"
            }
           },
           "distribution_member_ids": {
            "type": "array",
            "description": "An array of IDs of the Distributions of the Instruction",
            "items": {
             "type": "integer"
            }
           },
           "trade_ids": {
            "type": "array",
            "description": "An array of IDs of the Trades of the Instruction",
            "items": {
             "type": "integer"
            }
           },
           "attachments": {
            "type": "array",
            "description": "Instruction's Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string"
            }
           },
           "upload_ids": {
            "type": "array",
            "description": "The specified array of upload ids is saved as Site Instruction Attachments.",
            "items": {
             "type": "string",
             "example": "1ZE146W9K804SAJJZX19JVAD0R"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "Instruction updated successfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 999
          },
          "number": {
           "type": "string",
           "description": "Number",
           "example": 1
          },
          "title": {
           "type": "string",
           "description": "Number",
           "example": "Fix this thing"
          },
          "rich_text_description": {
           "type": "string",
           "description": "Rich Text Description",
           "example": "<p>This is an Instruction</p>"
          },
          "plain_text_description": {
           "type": "string",
           "description": "Plain Text Description",
           "example": "This is an Instruction"
          },
          "created_at": {
           "type": "string",
           "description": "Date created",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "date_received": {
           "type": "string",
           "description": "Date created",
           "format": "date",
           "example": "2016-08-23"
          },
          "date_issued": {
           "type": "string",
           "description": "Date created",
           "format": "date-time",
           "example": "2016-08-23T15:23:57Z"
          },
          "status": {
           "type": "string",
           "description": "Status",
           "example": "draft",
           "enum": [
            "draft",
            "issued",
            "closed"
           ]
          },
          "private": {
           "type": "boolean",
           "description": "private",
           "example": false
          },
          "schedule_impact": {
           "type": "object",
           "properties": {
            "status": {
             "type": "string",
             "description": "Schedule impact status",
             "example": "yes_known",
             "enum": [
              "yes_known",
              "yes_unknown",
              "no_impact",
              "tbd",
              "n_a"
             ]
            },
            "value": {
             "type": "integer",
             "description": "Schedule impact value",
             "example": 14
            }
           }
          },
          "cost_impact": {
           "type": "object",
           "properties": {
            "status": {
             "type": "string",
             "description": "Cost impact status",
             "example": "yes_known",
             "enum": [
              "yes_known",
              "yes_unknown",
              "no_impact",
              "tbd",
              "n_a"
             ]
            },
            "value": {
             "type": "number",
             "format": "float",
             "description": "Cost impact value in dollars"
            }
           }
          },
          "instruction_type": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 2
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Owner Instruction"
            },
            "prefix": {
             "type": "string",
             "description": "Prefix",
             "example": "OI"
            }
           }
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "instruction_from": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "distribution_members": {
           "type": "array",
           "description": "Instruction Distribution List of Users",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "attentions": {
           "type": "array",
           "description": "Instruction Attentions",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Base name of the file without its path",
              "example": "snapshot.png"
             },
             "url": {
              "type": "string",
              "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
              "example": "https://storage.procore.com/v3/d/default/procore-files/1ZE258W9K804SAJJZX19JVAB3R?sig=e7a476ec0a46154d05e0d4a554fb2ea0904cb6604670f9247c54d7c56a84d0b6"
             }
            }
           }
          },
          "trades": {
           "type": "array",
           "items": {
            "type": "object",
            "title": "Trade",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have permission to update Instruction",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Instruction not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error updating Instruction",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D',\n  qs: {send_emails: 'SOME_BOOLEAN_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    instruction: {\n      number: 1,\n      title: 'Fix this thing',\n      status: 'draft',\n      instruction_type_id: 1,\n      instruction_from_id: 1,\n      date_received: '2016-10-13',\n      schedule_impact: {status: 'yes_known', value: 14},\n      cost_impact: {status: 'yes_known', value: 12039.55},\n      private: false,\n      description: 'This is a description',\n      attention_ids: [0],\n      distribution_member_ids: [0],\n      trade_ids: [0],\n      attachments: ['string'],\n      upload_ids: ['1ZE146W9K804SAJJZX19JVAD0R']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"instruction\\\":{\\\"number\\\":1,\\\"title\\\":\\\"Fix this thing\\\",\\\"status\\\":\\\"draft\\\",\\\"instruction_type_id\\\":1,\\\"instruction_from_id\\\":1,\\\"date_received\\\":\\\"2016-10-13\\\",\\\"schedule_impact\\\":{\\\"status\\\":\\\"yes_known\\\",\\\"value\\\":14},\\\"cost_impact\\\":{\\\"status\\\":\\\"yes_known\\\",\\\"value\\\":12039.55},\\\"private\\\":false,\\\"description\\\":\\\"This is a description\\\",\\\"attention_ids\\\":[0],\\\"distribution_member_ids\\\":[0],\\\"trade_ids\\\":[0],\\\"attachments\\\":[\\\"string\\\"],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D?send_emails=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D?send_emails=SOME_BOOLEAN_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"instruction\":{\"number\":1,\"title\":\"Fix this thing\",\"status\":\"draft\",\"instruction_type_id\":1,\"instruction_from_id\":1,\"date_received\":\"2016-10-13\",\"schedule_impact\":{\"status\":\"yes_known\",\"value\":14},\"cost_impact\":{\"status\":\"yes_known\",\"value\":12039.55},\"private\":false,\"description\":\"This is a description\",\"attention_ids\":[0],\"distribution_member_ids\":[0],\"trade_ids\":[0],\"attachments\":[\"string\"],\"upload_ids\":[\"1ZE146W9K804SAJJZX19JVAD0R\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D?send_emails=SOME_BOOLEAN_VALUE\"),\n    Content = new StringContent(\"{\\\"instruction\\\":{\\\"number\\\":1,\\\"title\\\":\\\"Fix this thing\\\",\\\"status\\\":\\\"draft\\\",\\\"instruction_type_id\\\":1,\\\"instruction_from_id\\\":1,\\\"date_received\\\":\\\"2016-10-13\\\",\\\"schedule_impact\\\":{\\\"status\\\":\\\"yes_known\\\",\\\"value\\\":14},\\\"cost_impact\\\":{\\\"status\\\":\\\"yes_known\\\",\\\"value\\\":12039.55},\\\"private\\\":false,\\\"description\\\":\\\"This is a description\\\",\\\"attention_ids\\\":[0],\\\"distribution_member_ids\\\":[0],\\\"trade_ids\\\":[0],\\\"attachments\\\":[\\\"string\\\"],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add upload_id as a new parameter for Site Instruction",
      "description": "Add upload_id as a new parameter for Site Instruction PATCH endpoint",
      "endpoint": "PATCH /projects/{project_id}/instructions/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-12-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "instructions?version=1.0#update-instruction"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Instruction",
    "description": "Delete the specified Instruction.",
    "tags": [
     "Instructions"
    ],
    "responses": {
     "200": {
      "description": "Instruction deleted successfully"
     },
     "403": {
      "description": "User does not have permission to delete Instruction",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Instruction not found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Error deleting Instruction",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/instructions/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}