{
 "openapi": "3.1.0",
 "info": {
  "title": "InterProjectTransfers",
  "version": "2.0",
  "x-resource-name": "InterProjectTransfers",
  "x-product-category": "Resource Management",
  "x-tool-category": "Materials Management",
  "x-product-lines": [
   "material-management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/inter_project_transfers": {
   "post": {
    "tags": [
     "InterProjectTransfers"
    ],
    "summary": "Creates a new inter-project transfer.",
    "description": "Creates a new inter-project transfer document in Draft state with the specified header details.",
    "operationId": "InterProjectTransfers_CreateInterProjectTransfer",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The inter-project transfer creation request.",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "description": "Name of the transfer. Optional \u2014 auto-generated if not provided.",
          "nullable": true
         },
         "notes": {
          "type": "string",
          "description": "Notes for the transfer.",
          "nullable": true
         },
         "properties": {
          "type": "object",
          "additionalProperties": {
           "type": "string"
          },
          "description": "Properties (key-value pairs) to be associated with the transfer.",
          "nullable": true
         },
         "to_project_id": {
          "type": "string",
          "description": "The ID of the destination project.",
          "nullable": true
         },
         "estimated_delivery_at": {
          "type": "string",
          "description": "The estimated delivery date.",
          "format": "date-time",
          "nullable": true
         },
         "items": {
          "type": "array",
          "items": {
           "required": [
            "id"
           ],
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "description": "The ID of the material/resource (item_physical.id). Required.",
             "format": "uuid"
            },
            "from_location": {
             "type": "integer",
             "description": "From location ID.",
             "format": "int64",
             "nullable": true
            },
            "from_condition": {
             "enum": [
              "ACCEPTABLE",
              "UNACCEPTABLE",
              "DAMAGED",
              "SHORT",
              "OVERAGE",
              "ADD",
              "REMOVE",
              "RETURNED_TO_STOCK"
             ],
             "type": "string"
            },
            "quantity": {
             "type": "number",
             "description": "Quantity for the line item. Optional (defaults to 1.0).",
             "format": "double",
             "nullable": true
            },
            "notes": {
             "type": "string",
             "description": "Notes for the line item.",
             "nullable": true
            }
           },
           "additionalProperties": false
          },
          "description": "The line items for the transfer. Omitted, `null`, and `[]` are equivalent (no lines yet).",
          "nullable": true
         },
         "delivery_instructions": {
          "type": "string",
          "description": "The delivery instructions for the transfer.",
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "name": {
             "type": "string",
             "nullable": true
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "state": {
             "enum": [
              "DRAFT",
              "FINAL",
              "CLOSED",
              "READY_FOR_REVIEW"
             ],
             "type": "string"
            },
            "status": {
             "enum": [
              "STARTED",
              "COMPLETE"
             ],
             "type": "string"
            },
            "line_items": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "format": "uuid"
               },
               "line_number": {
                "type": "string",
                "nullable": true
               },
               "item": {
                "type": "object",
                "properties": {
                 "name": {
                  "type": "string",
                  "nullable": true
                 },
                 "id": {
                  "type": "string",
                  "format": "uuid",
                  "nullable": true
                 },
                 "description": {
                  "type": "string",
                  "nullable": true
                 },
                 "uom": {
                  "type": "string",
                  "nullable": true
                 }
                },
                "additionalProperties": false
               },
               "quantity": {
                "type": "number",
                "format": "double"
               },
               "quantity_available": {
                "type": "number",
                "format": "double",
                "nullable": true
               },
               "from_location": {
                "type": "integer",
                "format": "int64",
                "nullable": true
               },
               "from_condition": {
                "enum": [
                 "ACCEPTABLE",
                 "UNACCEPTABLE",
                 "DAMAGED",
                 "SHORT",
                 "OVERAGE",
                 "ADD",
                 "REMOVE",
                 "RETURNED_TO_STOCK"
                ],
                "type": "string"
               },
               "notes": {
                "type": "string",
                "nullable": true
               },
               "labels": {
                "type": "array",
                "items": {
                 "type": "string"
                },
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            },
            "to_project_id": {
             "type": "string",
             "nullable": true
            },
            "estimated_delivery_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "delivery_instructions": {
             "type": "string",
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    notes: 'string',\n    properties: {property1: 'string', property2: 'string'},\n    to_project_id: 'string',\n    estimated_delivery_at: '2019-08-24T14:15:22Z',\n    items: [\n      {\n        id: '497f6eca-6276-4993-bfeb-53cbbbba6f08',\n        from_location: 0,\n        from_condition: 'ACCEPTABLE',\n        quantity: 0.1,\n        notes: 'string'\n      }\n    ],\n    delivery_instructions: 'string'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"properties\\\":{\\\"property1\\\":\\\"string\\\",\\\"property2\\\":\\\"string\\\"},\\\"to_project_id\\\":\\\"string\\\",\\\"estimated_delivery_at\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"items\\\":[{\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"from_location\\\":0,\\\"from_condition\\\":\\\"ACCEPTABLE\\\",\\\"quantity\\\":0.1,\\\"notes\\\":\\\"string\\\"}],\\\"delivery_instructions\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"notes\":\"string\",\"properties\":{\"property1\":\"string\",\"property2\":\"string\"},\"to_project_id\":\"string\",\"estimated_delivery_at\":\"2019-08-24T14:15:22Z\",\"items\":[{\"id\":\"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\"from_location\":0,\"from_condition\":\"ACCEPTABLE\",\"quantity\":0.1,\"notes\":\"string\"}],\"delivery_instructions\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"properties\\\":{\\\"property1\\\":\\\"string\\\",\\\"property2\\\":\\\"string\\\"},\\\"to_project_id\\\":\\\"string\\\",\\\"estimated_delivery_at\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"items\\\":[{\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"from_location\\\":0,\\\"from_condition\\\":\\\"ACCEPTABLE\\\",\\\"quantity\\\":0.1,\\\"notes\\\":\\\"string\\\"}],\\\"delivery_instructions\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "get": {
    "tags": [
     "InterProjectTransfers"
    ],
    "summary": "Gets a paginated list of inter-project transfer summaries.",
    "description": "Returns a paginated list of inter-project transfer documents with filtering and sorting options.\r\nSupports multiple view types: Normal (default), Short, Compact, and Id.",
    "operationId": "InterProjectTransfers_GetPaginatedInterProjectTransfers",
    "parameters": [
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Date range filter in format: [YYYY-MM-DD...YYYY-MM-DD]",
      "schema": {
       "type": "string",
       "description": "Date range filter in format: [YYYY-MM-DD...YYYY-MM-DD]"
      },
      "required": false
     },
     {
      "name": "filters[ids]",
      "in": "query",
      "description": "Comma-separated list of inter-project transfer GUIDs to filter by",
      "schema": {
       "type": "string",
       "description": "Comma-separated list of inter-project transfer GUIDs to filter by"
      },
      "required": false
     },
     {
      "name": "filters[columns]",
      "in": "query",
      "description": "Optional columns to include: created_at, properties",
      "schema": {
       "type": "string",
       "description": "Optional columns to include: created_at, properties"
      },
      "required": false
     },
     {
      "name": "filters[state]",
      "in": "query",
      "description": "Comma-separated document states to filter by (e.g. open, document_in_review, final)",
      "schema": {
       "type": "string",
       "description": "Comma-separated document states to filter by (e.g. open, document_in_review, final)"
      },
      "required": false
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Comma-separated transfer statuses to filter by (e.g. STARTED, IN_REVIEW, IN_TRANSIT, TRANSFER_COMPLETE)",
      "schema": {
       "type": "string",
       "description": "Comma-separated transfer statuses to filter by (e.g. STARTED, IN_REVIEW, IN_TRANSIT, TRANSFER_COMPLETE)"
      },
      "required": false
     },
     {
      "name": "filters[created_by]",
      "in": "query",
      "description": "Filter by created by user ID(s)",
      "schema": {
       "type": "string",
       "description": "Filter by created by user ID(s)"
      },
      "required": false
     },
     {
      "name": "view",
      "in": "query",
      "description": "Response view type: Normal (default), Id, Compact, or Short",
      "schema": {
       "enum": [
        "Id",
        "Compact",
        "Short",
        "Normal"
       ],
       "type": "string"
      },
      "required": false
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort results by field. Prefix with '-' for descending order (e.g. '-created_at').",
      "schema": {
       "enum": [
        "created_at",
        "name"
       ],
       "type": "string"
      },
      "required": false
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "The search term",
      "schema": {
       "type": "string",
       "description": "The search term"
      },
      "required": false
     },
     {
      "name": "page",
      "in": "query",
      "description": "The page number",
      "schema": {
       "type": "integer",
       "description": "The page number",
       "format": "int32"
      },
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "The page size between 1 and 100.",
      "schema": {
       "maximum": 100,
       "minimum": 1,
       "type": "integer",
       "description": "The page size",
       "format": "int32",
       "default": 10
      },
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "totalCount": {
             "type": "integer",
             "format": "int32"
            },
            "result": {
             "type": "array",
             "items": {
              "oneOf": [
               {
                "title": "Id",
                "type": "array",
                "items": {
                 "type": "string",
                 "format": "uuid"
                }
               },
               {
                "title": "Compact",
                "allOf": [
                 {
                  "title": "Compact",
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "format": "uuid"
                   },
                   "name": {
                    "type": "string",
                    "nullable": true
                   },
                   "description": {
                    "type": "string",
                    "nullable": true
                   }
                  },
                  "additionalProperties": false
                 }
                ]
               },
               {
                "title": "Short",
                "allOf": [
                 {
                  "title": "Short",
                  "type": "object",
                  "properties": {
                   "description": {
                    "type": "string",
                    "nullable": true
                   },
                   "id": {
                    "type": "string",
                    "format": "uuid"
                   },
                   "name": {
                    "type": "string",
                    "nullable": true
                   },
                   "status": {
                    "enum": [
                     "DRAFT",
                     "FINAL",
                     "CLOSED",
                     "READY_FOR_REVIEW"
                    ],
                    "type": "string"
                   }
                  },
                  "additionalProperties": false
                 }
                ]
               },
               {
                "title": "Normal",
                "allOf": [
                 {
                  "title": "Normal",
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "format": "uuid"
                   },
                   "name": {
                    "type": "string",
                    "nullable": true
                   },
                   "description": {
                    "type": "string",
                    "nullable": true
                   },
                   "state": {
                    "enum": [
                     "DRAFT",
                     "FINAL",
                     "CLOSED",
                     "READY_FOR_REVIEW"
                    ],
                    "type": "string"
                   },
                   "line_items_count": {
                    "type": "integer",
                    "format": "int32"
                   },
                   "status": {
                    "enum": [
                     "STARTED",
                     "IN_REVIEW",
                     "IN_TRANSIT",
                     "TRANSFER_COMPLETE"
                    ],
                    "type": "string"
                   },
                   "properties": {
                    "type": "object",
                    "additionalProperties": {
                     "type": "string"
                    },
                    "nullable": true
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time"
                   },
                   "created_by": {
                    "type": "string",
                    "nullable": true
                   }
                  },
                  "additionalProperties": false
                 }
                ]
               }
              ],
              "additionalProperties": false,
              "discriminator": {
               "propertyName": "type"
              }
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "406": {
      "description": "Not Acceptable",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers',\n  qs: {\n    'filters[created_at]': 'SOME_STRING_VALUE',\n    'filters[ids]': 'SOME_STRING_VALUE',\n    'filters[columns]': 'SOME_STRING_VALUE',\n    'filters[state]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[created_by]': 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers?filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bids%5D=SOME_STRING_VALUE&filters%5Bcolumns%5D=SOME_STRING_VALUE&filters%5Bstate%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_by%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers?filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bids%5D=SOME_STRING_VALUE&filters%5Bcolumns%5D=SOME_STRING_VALUE&filters%5Bstate%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_by%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers?filters%5Bcreated_at%5D=SOME_STRING_VALUE&filters%5Bids%5D=SOME_STRING_VALUE&filters%5Bcolumns%5D=SOME_STRING_VALUE&filters%5Bstate%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bcreated_by%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/inter_project_transfers/{id}": {
   "patch": {
    "tags": [
     "InterProjectTransfers"
    ],
    "summary": "Partially updates an inter-project transfer header.",
    "description": "Updates one or more fields on the inter-project transfer header. Only the fields provided in the request body are modified.",
    "operationId": "InterProjectTransfers_PatchInterProjectTransfer",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The inter-project transfer document ID.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The patch request containing the updates.",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "properties_to_add": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to add to the document header.",
          "nullable": true
         },
         "properties_to_update": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to update in the document header.",
          "nullable": true
         },
         "properties_to_delete": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to delete from the document header.",
          "nullable": true
         },
         "name": {
          "type": "string",
          "description": "Name of the document header.",
          "nullable": true
         },
         "description": {
          "type": "string",
          "description": "Description of the document header.",
          "nullable": true
         },
         "notes": {
          "type": "string",
          "description": "Notes associated with the document header.",
          "nullable": true
         },
         "state": {
          "enum": [
           "DRAFT",
           "FINAL",
           "CLOSED",
           "READY_FOR_REVIEW"
          ],
          "type": "string"
         },
         "to_project_id": {
          "type": "string",
          "nullable": true
         },
         "estimated_delivery_at": {
          "type": "string",
          "nullable": true
         },
         "delivery_instructions": {
          "type": "string",
          "nullable": true
         }
        },
        "additionalProperties": false,
        "description": "Partial header PATCH for inter-project transfers; field names align with Adapter.Api.Models.Request.Transfers.CreateInterProjectTransferRequest."
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Normal",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "name": {
             "type": "string",
             "nullable": true
            },
            "description": {
             "type": "string",
             "nullable": true
            },
            "properties": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "key": {
                "type": "string",
                "nullable": true
               },
               "value": {
                "type": "string",
                "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                "nullable": true
               },
               "property_type": {
                "enum": [
                 "BOOLEAN",
                 "DATE",
                 "NUMBER",
                 "LOCATION",
                 "TEXT",
                 "HIDDEN",
                 "PERSON"
                ],
                "type": "string"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            },
            "state": {
             "enum": [
              "DRAFT",
              "FINAL",
              "CLOSED",
              "READY_FOR_REVIEW"
             ],
             "type": "string"
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "line_count": {
             "type": "integer",
             "format": "int32"
            },
            "status": {
             "enum": [
              "STARTED",
              "IN_REVIEW",
              "IN_TRANSIT",
              "TRANSFER_COMPLETE"
             ],
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "to_project_id": {
             "type": "string",
             "nullable": true
            },
            "estimated_delivery_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "delivery_instructions": {
             "type": "string",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Inter-project transfer header/details for PATCH responses; aligns with\r\nAdapter.Api.Models.Response.Transfers.CreateInterProjectTransferResponseDTO for destination project id serialization."
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    properties_to_add: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_update: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_delete: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    name: 'string',\n    description: 'string',\n    notes: 'string',\n    state: 'DRAFT',\n    to_project_id: 'string',\n    estimated_delivery_at: 'string',\n    delivery_instructions: 'string'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"properties_to_add\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_update\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_delete\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"state\\\":\\\"DRAFT\\\",\\\"to_project_id\\\":\\\"string\\\",\\\"estimated_delivery_at\\\":\\\"string\\\",\\\"delivery_instructions\\\":\\\"string\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"properties_to_add\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_update\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_delete\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"name\":\"string\",\"description\":\"string\",\"notes\":\"string\",\"state\":\"DRAFT\",\"to_project_id\":\"string\",\"estimated_delivery_at\":\"string\",\"delivery_instructions\":\"string\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"properties_to_add\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_update\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_delete\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"state\\\":\\\"DRAFT\\\",\\\"to_project_id\\\":\\\"string\\\",\\\"estimated_delivery_at\\\":\\\"string\\\",\\\"delivery_instructions\\\":\\\"string\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "InterProjectTransfers"
    ],
    "summary": "Recycles an inter-project transfer document.",
    "description": "Moves the specified inter-project transfer to the recycle bin. Only transfers in Draft state can be recycled.",
    "operationId": "InterProjectTransfers_RecycleInterProjectTransfer",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The inter-project transfer document ID.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/inter_project_transfers/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "get": {
    "tags": [
     "InterProjectTransfers"
    ],
    "summary": "Gets the header details for a specific inter-project transfer.",
    "description": "Returns the header information for an inter-project transfer document including status, dates, notes, and properties.\r\nSupports Normal (default) and Extended view types.",
    "operationId": "InterProjectTransfers_GetDetails",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The inter-project transfer document ID.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The response view type (Normal or Extended).",
      "schema": {
       "enum": [
        "Normal",
        "Extended"
       ],
       "type": "string"
      },
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "oneOf": [
            {
             "title": "Normal",
             "allOf": [
              {
               "title": "Normal",
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "description": {
                 "type": "string",
                 "nullable": true
                },
                "properties": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "key": {
                    "type": "string",
                    "nullable": true
                   },
                   "value": {
                    "type": "string",
                    "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                    "nullable": true
                   },
                   "property_type": {
                    "enum": [
                     "BOOLEAN",
                     "DATE",
                     "NUMBER",
                     "LOCATION",
                     "TEXT",
                     "HIDDEN",
                     "PERSON"
                    ],
                    "type": "string"
                   }
                  },
                  "additionalProperties": false
                 },
                 "nullable": true
                },
                "state": {
                 "enum": [
                  "DRAFT",
                  "FINAL",
                  "CLOSED",
                  "READY_FOR_REVIEW"
                 ],
                 "type": "string"
                },
                "notes": {
                 "type": "string",
                 "nullable": true
                },
                "line_count": {
                 "type": "integer",
                 "format": "int32"
                },
                "status": {
                 "enum": [
                  "STARTED",
                  "IN_REVIEW",
                  "IN_TRANSIT",
                  "TRANSFER_COMPLETE"
                 ],
                 "type": "string"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time"
                },
                "to_project_id": {
                 "type": "string",
                 "nullable": true
                },
                "estimated_delivery_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "delivery_instructions": {
                 "type": "string",
                 "nullable": true
                }
               },
               "additionalProperties": false,
               "description": "Inter-project transfer header/details for PATCH responses; aligns with\r\nAdapter.Api.Models.Response.Transfers.CreateInterProjectTransferResponseDTO for destination project id serialization."
              }
             ]
            },
            {
             "title": "Extended",
             "allOf": [
              {
               "title": "Extended",
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "description": {
                 "type": "string",
                 "nullable": true
                },
                "properties": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "key": {
                    "type": "string",
                    "nullable": true
                   },
                   "value": {
                    "type": "string",
                    "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                    "nullable": true
                   },
                   "property_type": {
                    "enum": [
                     "BOOLEAN",
                     "DATE",
                     "NUMBER",
                     "LOCATION",
                     "TEXT",
                     "HIDDEN",
                     "PERSON"
                    ],
                    "type": "string"
                   }
                  },
                  "additionalProperties": false
                 },
                 "nullable": true
                },
                "state": {
                 "enum": [
                  "DRAFT",
                  "FINAL",
                  "CLOSED",
                  "READY_FOR_REVIEW"
                 ],
                 "type": "string"
                },
                "notes": {
                 "type": "string",
                 "nullable": true
                },
                "line_count": {
                 "type": "integer",
                 "format": "int32"
                },
                "status": {
                 "enum": [
                  "STARTED",
                  "IN_REVIEW",
                  "IN_TRANSIT",
                  "TRANSFER_COMPLETE"
                 ],
                 "type": "string"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time"
                },
                "to_project_id": {
                 "type": "string",
                 "nullable": true
                },
                "estimated_delivery_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "delivery_instructions": {
                 "type": "string",
                 "nullable": true
                },
                "connected_document_count": {
                 "type": "integer",
                 "format": "int32"
                },
                "attachment_count": {
                 "type": "integer",
                 "format": "int32"
                }
               },
               "additionalProperties": false,
               "description": "Extended inter-project transfer response including connected document and attachment counts."
              }
             ]
            }
           ],
           "additionalProperties": false,
           "discriminator": {
            "propertyName": "type"
           }
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
[...]
