{
 "openapi": "3.1.0",
 "info": {
  "title": "Issuing",
  "version": "2.0",
  "x-resource-name": "Issuing",
  "x-product-category": "Resource Management",
  "x-tool-category": "Materials Management",
  "x-product-lines": [
   "material-management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/issuing": {
   "post": {
    "tags": [
     "Issuing"
    ],
    "summary": "Creates a new Direct Issue document.",
    "description": "Creates a new Direct Issue document. Line items are automatically expanded from available inventory locations based on the items specified in the request.",
    "operationId": "Issuing_CreateDirectIssue",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "nullable": true
         },
         "issued_to": {
          "type": "string",
          "nullable": true
         },
         "notes": {
          "type": "string",
          "nullable": true
         },
         "item_ids": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          },
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "name": {
             "type": "string",
             "nullable": true
            },
            "issued_to": {
             "type": "string",
             "nullable": true
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "state": {
             "enum": [
              "DRAFT",
              "FINAL",
              "CLOSED",
              "READY_FOR_REVIEW"
             ],
             "type": "string"
            },
            "status": {
             "enum": [
              "STARTED",
              "COMPLETE"
             ],
             "type": "string"
            },
            "line_count": {
             "type": "integer",
             "format": "int32"
            },
            "properties": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "key": {
                "type": "string",
                "nullable": true
               },
               "value": {
                "type": "string",
                "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                "nullable": true
               },
               "property_type": {
                "enum": [
                 "BOOLEAN",
                 "DATE",
                 "NUMBER",
                 "LOCATION",
                 "TEXT",
                 "HIDDEN",
                 "PERSON"
                ],
                "type": "string"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    issued_to: 'string',\n    notes: 'string',\n    item_ids: ['497f6eca-6276-4993-bfeb-53cbbbba6f08']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"issued_to\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"item_ids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"issued_to\":\"string\",\"notes\":\"string\",\"item_ids\":[\"497f6eca-6276-4993-bfeb-53cbbbba6f08\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"issued_to\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"item_ids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "get": {
    "tags": [
     "Issuing"
    ],
    "summary": "Get details of issuing records (summary)",
    "description": "The returned data and pagination size depend on the Adapter.Api.Controller.rest.v2.Issuing.Read.ViewTypes.IssuingSummaryViewType specified\r\n            in issuingRequest. If the view is set to Adapter.Api.Controller.rest.v2.Issuing.Read.ViewTypes.IssuingSummaryViewType.Id, up to 5000 records\r\n            are returned; otherwise, the maximum page size is 100.",
    "operationId": "Issuing_GetAll",
    "parameters": [
     {
      "name": "filters[columns]",
      "in": "query",
      "description": "Optional columns to include in the query filter.",
      "schema": {
       "type": "string"
      },
      "required": false
     },
     {
      "name": "view",
      "in": "query",
      "description": "Response view type",
      "schema": {
       "enum": [
        "Id",
        "Compact",
        "Normal"
       ],
       "type": "string"
      },
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "The page size between 1 and 100.",
      "schema": {
       "maximum": 100,
       "minimum": 1,
       "type": "integer",
       "format": "int32"
      },
      "required": false
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Comma-separated list of unique identifiers (UUIDs) to filter.",
      "schema": {
       "type": "string"
      },
      "required": false
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Comma-separated list of issue statuses to filter (values match Core.Models.Issuing.DirectIssueStatus serialization, e.g. STARTED).",
      "schema": {
       "type": "string"
      },
      "required": false
     },
     {
      "name": "filters[state]",
      "in": "query",
      "description": "Comma-separated list of document states to filter (values match Core.Models.Documents.DocumentState.StateType serialization).",
      "schema": {
       "type": "string"
      },
      "required": false
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort results by field. Prefix with '-' for descending order (e.g. '-created_at').",
      "schema": {
       "enum": [
        "name",
        "created_at"
       ],
       "type": "string"
      },
      "required": false
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "The search term",
      "schema": {
       "type": "string",
       "description": "The search term"
      },
      "required": false
     },
     {
      "name": "page",
      "in": "query",
      "description": "The page number",
      "schema": {
       "type": "integer",
       "description": "The page number",
       "format": "int32"
      },
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "oneOf": [
            {
             "title": "Normal",
             "allOf": [
              {
               "title": "Normal",
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "status": {
                 "enum": [
                  "STARTED",
                  "COMPLETE"
                 ],
                 "type": "string"
                },
                "state": {
                 "enum": [
                  "DRAFT",
                  "FINAL",
                  "CLOSED",
                  "READY_FOR_REVIEW"
                 ],
                 "type": "string"
                },
                "line_count": {
                 "type": "integer",
                 "format": "int32"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time"
                },
                "properties": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "key": {
                    "type": "string",
                    "nullable": true
                   },
                   "value": {
                    "type": "string",
                    "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                    "nullable": true
                   },
                   "property_type": {
                    "enum": [
                     "BOOLEAN",
                     "DATE",
                     "NUMBER",
                     "LOCATION",
                     "TEXT",
                     "HIDDEN",
                     "PERSON"
                    ],
                    "type": "string"
                   }
                  },
                  "additionalProperties": false
                 },
                 "nullable": true
                },
                "issued_to": {
                 "type": "string",
                 "nullable": true
                },
                "notes": {
                 "type": "string",
                 "nullable": true
                }
               },
               "additionalProperties": false
              }
             ]
            },
            {
             "title": "Id",
             "allOf": [
              {
               "title": "Id",
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                }
               },
               "additionalProperties": false
              }
             ]
            },
            {
             "title": "Compact",
             "allOf": [
              {
               "title": "Compact",
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "description": {
                 "type": "string",
                 "nullable": true
                }
               },
               "additionalProperties": false
              }
             ]
            }
           ],
           "additionalProperties": false,
           "discriminator": {
            "propertyName": "type"
           }
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing',\n  qs: {\n    'filters[columns]': 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[status]': 'SOME_STRING_VALUE',\n    'filters[state]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing?filters%5Bcolumns%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bstate%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing?filters%5Bcolumns%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bstate%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing?filters%5Bcolumns%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bstatus%5D=SOME_STRING_VALUE&filters%5Bstate%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/issuing/{id}/line_items": {
   "post": {
    "tags": [
     "Issuing"
    ],
    "summary": "Adds line items to an existing Direct Issue.",
    "description": "Adds a new line item for the specified item to an existing Direct Issue document. The line item is expanded across all available inventory locations for the item. Returns the updated list of all line items on the Direct Issue.",
    "operationId": "Issuing_AddLineItem",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Direct Issue document ID.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The request containing the item ID to add.",
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "item_id"
        ],
        "type": "object",
        "properties": {
         "item_id": {
          "type": "string",
          "format": "uuid"
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "format": "uuid"
             },
             "item_id": {
              "type": "string",
              "format": "uuid"
             },
             "item_name": {
              "type": "string",
              "nullable": true
             },
             "uom_id": {
              "type": "string",
              "nullable": true
             },
             "quantity": {
              "type": "number",
              "format": "double"
             },
             "notes": {
              "type": "string",
              "nullable": true
             },
             "line_number": {
              "type": "string",
              "nullable": true
             },
             "locations": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "nullable": true
                },
                "quantity": {
                 "type": "number",
                 "format": "double"
                },
                "available_quantity": {
                 "type": "number",
                 "format": "double"
                }
               },
               "additionalProperties": false
              },
              "nullable": true
             }
            },
            "additionalProperties": false
           },
           "description": "The data",
           "nullable": true
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D/line_items',\n  headers: {'content-type': 'application/json'},\n  body: {item_id: '4d8cd62e-a579-4dae-af8c-3172f96f8f7c'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"item_id\\\":\\\"4d8cd62e-a579-4dae-af8c-3172f96f8f7c\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D/line_items\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D/line_items \\\n  --header 'content-type: application/json' \\\n  --data '{\"item_id\":\"4d8cd62e-a579-4dae-af8c-3172f96f8f7c\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D/line_items\"),\n    Content = new StringContent(\"{\\\"item_id\\\":\\\"4d8cd62e-a579-4dae-af8c-3172f96f8f7c\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "get": {
    "tags": [
     "Issuing"
    ],
    "summary": "Gets all line items for a direct issue record.",
    "description": "Returns all line items for a specific Direct Issue document, including inventory location details and quantities for each line.",
    "operationId": "Issuing_GetIssuingLineItems",
    "parameters": [
     {
      "name": "filters[columns]",
      "in": "query",
      "description": "Optional response fields to include",
      "schema": {
       "type": "string"
      },
      "required": false
     },
     {
      "name": "view",
      "in": "query",
      "description": "Response view type",
      "schema": {
       "enum": [
        "Id",
        "Compact",
        "Normal"
       ],
       "type": "string"
      },
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "The page size between 1 and 100.",
      "schema": {
       "maximum": 100,
       "minimum": 1,
       "type": "integer",
       "format": "int32"
      },
      "required": false
     },
     {
      "name": "filters[labels]",
      "in": "query",
      "description": "Comma-separated label names; lines are returned when the line's material has at least one matching label.",
      "schema": {
       "type": "string"
      },
      "required": false
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort results by field. Prefix with '-' for descending order (e.g. '-created_at').",
      "schema": {
       "enum": [
        "line_number"
       ],
       "type": "string"
      },
      "required": false
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "The search term",
      "schema": {
       "type": "string",
       "description": "The search term"
      },
      "required": false
     },
     {
      "name": "page",
      "in": "query",
      "description": "The page number",
      "schema": {
       "type": "integer",
       "description": "The page number",
       "format": "int32"
      },
      "required": false
     },
     {
      "name": "id",
      "in": "path",
      "description": "The unique identifier of the issuing record for which to retrieve line items.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "line_number": {
             "type": "string",
             "nullable": true
            },
            "item": {
             "type": "object",
             "properties": {
              "name": {
               "type": "string",
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid",
               "nullable": true
              },
              "description": {
               "type": "string",
               "nullable": true
              },
              "uom": {
               "type": "string",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "locations": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "nullable": true
               },
               "quantity": {
                "type": "number",
                "format": "double"
               },
               "available_quantity": {
                "type": "number",
                "format": "double"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "labels": {
             "type": "array",
             "items": {
              "type": "string"
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D/line_items',\n  qs: {\n    'filters[columns]': 'SOME_STRING_VALUE',\n    view: 'SOME_STRING_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[labels]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D/line_items?filters%5Bcolumns%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Blabels%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D/line_items?filters%5Bcolumns%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Blabels%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D/line_items?filters%5Bcolumns%5D=SOME_STRING_VALUE&view=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Blabels%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/issuing/{id}": {
   "patch": {
    "tags": [
     "Issuing"
    ],
    "summary": "Updates header fields of a Direct Issue document.",
    "description": "Updates one or more header fields on an existing Direct Issue document. Editable fields are state-specific:\r\n- In Draft state, name, issued_to, and notes are editable.\r\n- In Final state, only notes is editable.",
    "operationId": "Issuing_PatchDirectIssueHeader",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Direct Issue document ID.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The fields to update.",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "properties_to_add": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to add to the document header.",
          "nullable": true
         },
         "properties_to_update": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to update in the document header.",
          "nullable": true
         },
         "properties_to_delete": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to delete from the document header.",
          "nullable": true
         },
         "name": {
          "type": "string",
          "description": "Name of the document header.",
          "nullable": true
         },
         "notes": {
          "type": "string",
          "description": "Notes associated with the document header.",
          "nullable": true
         },
         "issued_to": {
          "type": "string",
          "nullable": true
         },
         "state": {
          "enum": [
           "DRAFT",
           "FINAL",
           "CLOSED",
           "READY_FOR_REVIEW"
          ],
          "type": "string"
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "name": {
             "type": "string",
             "nullable": true
            },
            "issued_to": {
             "type": "string",
             "nullable": true
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "state": {
             "enum": [
              "DRAFT",
              "FINAL",
              "CLOSED",
              "READY_FOR_REVIEW"
             ],
             "type": "string"
            },
            "status": {
             "enum": [
              "STARTED",
              "COMPLETE"
             ],
             "type": "string"
            },
            "line_count": {
             "type": "integer",
             "format": "int32"
            },
            "properties": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "key": {
                "type": "string",
                "nullable": true
               },
               "value": {
                "type": "string",
                "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                "nullable": true
               },
               "property_type": {
                "enum": [
                 "BOOLEAN",
                 "DATE",
                 "NUMBER",
                 "LOCATION",
                 "TEXT",
                 "HIDDEN",
                 "PERSON"
                ],
                "type": "string"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    properties_to_add: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_update: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_delete: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    name: 'string',\n    notes: 'string',\n    issued_to: 'string',\n    state: 'DRAFT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"properties_to_add\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_update\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_delete\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"name\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"issued_to\\\":\\\"string\\\",\\\"state\\\":\\\"DRAFT\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"properties_to_add\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_update\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_delete\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"name\":\"string\",\"notes\":\"string\",\"issued_to\":\"string\",\"state\":\"DRAFT\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/issuing/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"properties_to_add\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_update\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_delete\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"name\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"issued_to\\\":\\\"string\\\",\\\"state\\\":\\\"DRAFT\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "Issuing"
    ],
    "summary": "Recycles a Direct Issue document (soft delete).",
    "description": "Moves a Direct Issue document to the recycle bin. Only Direct Issues in Draft state can be recycled. Recycled documents can be restored by an admin user.",
    "operationId": "Issuing_RecycleDirectIssue",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Direct Issue document ID.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
[...]
