{
 "openapi": "3.1.0",
 "info": {
  "title": "Labels",
  "version": "2.0",
  "x-resource-name": "Labels",
  "x-product-category": "Resource Management",
  "x-tool-category": "Materials Management",
  "x-product-lines": [
   "material-management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/labels": {
   "post": {
    "tags": [
     "Labels"
    ],
    "summary": "Creates new labels in the specified company and project.",
    "description": "Labels are used to categorize and filter materials and documents within a project.\r\nLabel names must be unique within the company and project scope.",
    "operationId": "Labels_CreateNewLabels",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Details of labels to be created.",
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "labels"
        ],
        "type": "object",
        "properties": {
         "labels": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "label_name": {
             "type": "string",
             "nullable": true
            },
            "label_description": {
             "type": "string",
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "label_id": {
              "type": "string",
              "format": "uuid"
             },
             "name": {
              "type": "string",
              "nullable": true
             },
             "description": {
              "type": "string",
              "nullable": true
             }
            },
            "additionalProperties": false
           },
           "description": "The data",
           "nullable": true
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels',\n  headers: {'content-type': 'application/json'},\n  body: {labels: [{label_name: 'string', label_description: 'string'}]},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"labels\\\":[{\\\"label_name\\\":\\\"string\\\",\\\"label_description\\\":\\\"string\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels \\\n  --header 'content-type: application/json' \\\n  --data '{\"labels\":[{\"label_name\":\"string\",\"label_description\":\"string\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels\"),\n    Content = new StringContent(\"{\\\"labels\\\":[{\\\"label_name\\\":\\\"string\\\",\\\"label_description\\\":\\\"string\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "get": {
    "tags": [
     "Labels"
    ],
    "summary": "Returns a paginated list of labels for the specified company and project.",
    "description": "Returns a list of labels available for the project and company. Supports filtering to show only labels shared across resources and searching labels by name.",
    "operationId": "Labels_GetLabelList",
    "parameters": [
     {
      "name": "filters[common_labels]",
      "in": "query",
      "description": "Comma-separated list of resource GUIDs to filter common labels.",
      "schema": {
       "type": "string",
       "description": "Comma-separated list of resource GUIDs to filter common labels."
      },
      "required": false
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Search term to filter labels by name.",
      "schema": {
       "type": "string",
       "description": "Search term to filter labels by name."
      },
      "required": false
     },
     {
      "name": "cursor",
      "in": "query",
      "description": "Base64-encoded JSON cursor token for pagination.\r\nExample: \"eyJjcmVhdGVkX2RhdGUiOiIyMDI0LTAxLTE1IiwiaWQiOjEyM30=\"\r\nDecodes to: {\"created_date\":\"2024-01-15\",\"id\":123}",
      "schema": {
       "type": "string"
      },
      "required": false
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of elements per page.\r\nMust be between 1 and 100. Defaults to 20.",
      "schema": {
       "maximum": 100,
       "minimum": 1,
       "type": "integer",
       "format": "int32",
       "default": 10
      },
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "The number of items per page",
        "schema": {
         "type": "integer",
         "description": "The number of items per page",
         "format": ""
        }
       },
       "Link": {
        "description": "Pagination links",
        "schema": {
         "type": "string",
         "description": "Pagination links",
         "format": ""
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "label_id": {
              "type": "string",
              "format": "uuid"
             },
             "name": {
              "type": "string",
              "nullable": true
             },
             "description": {
              "type": "string",
              "nullable": true
             }
            },
            "additionalProperties": false
           },
           "description": "The data",
           "nullable": true
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels',\n  qs: {\n    'filters[common_labels]': 'SOME_STRING_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    cursor: 'SOME_STRING_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels?filters%5Bcommon_labels%5D=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&cursor=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels?filters%5Bcommon_labels%5D=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&cursor=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels?filters%5Bcommon_labels%5D=SOME_STRING_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&cursor=SOME_STRING_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/labels/resources": {
   "post": {
    "tags": [
     "Labels"
    ],
    "summary": "Adds existing labels to specified resources.",
    "description": "Associates one or more existing labels with one or more resources (materials or documents).\r\nLabels must already exist within the company and project scope.",
    "operationId": "Labels_AddLabelsToResources",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Details of labels and resources.",
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "label_guids"
        ],
        "type": "object",
        "properties": {
         "label_guids": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          }
         },
         "resource_guids": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          },
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels/resources',\n  headers: {'content-type': 'application/json'},\n  body: {\n    label_guids: ['497f6eca-6276-4993-bfeb-53cbbbba6f08'],\n    resource_guids: ['497f6eca-6276-4993-bfeb-53cbbbba6f08']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"label_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"],\\\"resource_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels/resources\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels/resources \\\n  --header 'content-type: application/json' \\\n  --data '{\"label_guids\":[\"497f6eca-6276-4993-bfeb-53cbbbba6f08\"],\"resource_guids\":[\"497f6eca-6276-4993-bfeb-53cbbbba6f08\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels/resources\"),\n    Content = new StringContent(\"{\\\"label_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"],\\\"resource_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "Labels"
    ],
    "summary": "Remove existing labels to specified resources.",
    "description": "Removes the association between one or more labels and the specified resources.\r\nThe labels themselves are not deleted; only the association with the resources is removed.",
    "operationId": "Labels_RemoveLabelsFromResources",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Details of labels and resources.",
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "label_guids"
        ],
        "type": "object",
        "properties": {
         "label_guids": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          }
         },
         "resource_guids": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          },
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels/resources',\n  headers: {'content-type': 'application/json'},\n  body: {\n    label_guids: ['497f6eca-6276-4993-bfeb-53cbbbba6f08'],\n    resource_guids: ['497f6eca-6276-4993-bfeb-53cbbbba6f08']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"label_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"],\\\"resource_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels/resources\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels/resources \\\n  --header 'content-type: application/json' \\\n  --data '{\"label_guids\":[\"497f6eca-6276-4993-bfeb-53cbbbba6f08\"],\"resource_guids\":[\"497f6eca-6276-4993-bfeb-53cbbbba6f08\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/labels/resources\"),\n    Content = new StringContent(\"{\\\"label_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"],\\\"resource_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}