{
 "openapi": "3.1.0",
 "info": {
  "title": "Layer",
  "version": "2.0",
  "x-product-category": "Project Management",
  "x-resource-name": "Layer",
  "x-tool-category": "Document Markup"
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/layers/{layer_id}": {
   "get": {
    "tags": [
     "layers-v-2-controller"
    ],
    "summary": "Get layer by ID",
    "description": "Retrieve a specific layer by its ID",
    "operationId": "getLayer",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "description": "Unique identifier of the layer",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "type": {
             "type": "string",
             "enum": [
              "PRIVATE",
              "PUBLIC"
             ]
            },
            "context_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "visibility": {
             "type": "boolean"
            },
            "order_index": {
             "type": "number"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            },
            "editable": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "put": {
    "tags": [
     "layers-v-2-controller"
    ],
    "summary": "Update layer",
    "description": "Update an existing layer",
    "operationId": "updateLayer",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "description": "Unique identifier of the layer",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string"
         },
         "order_index": {
          "type": "number"
         },
         "visibility": {
          "type": "boolean"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "type": {
             "type": "string",
             "enum": [
              "PRIVATE",
              "PUBLIC"
             ]
            },
            "context_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "visibility": {
             "type": "boolean"
            },
            "order_index": {
             "type": "number"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            },
            "editable": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    order_index: 0,\n    visibility: true,\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"order_index\":0,\"visibility\":true,\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "delete": {
    "tags": [
     "layers-v-2-controller"
    ],
    "summary": "Delete layer",
    "description": "Delete a layer and all its associated groups",
    "operationId": "deleteLayer",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "description": "Unique identifier of the layer",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/layers": {
   "post": {
    "tags": [
     "layers-v-2-controller"
    ],
    "summary": "Create a new layer",
    "description": "Create a new layer within a context",
    "operationId": "createLayer",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "minLength": 1
         },
         "type": {
          "type": "string",
          "enum": [
           "PRIVATE",
           "PUBLIC"
          ]
         },
         "context_id": {
          "type": "string",
          "minLength": 1
         },
         "order_index": {
          "type": "number"
         },
         "visibility": {
          "type": "boolean"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        },
        "required": [
         "context_id",
         "name",
         "type"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "type": {
             "type": "string",
             "enum": [
              "PRIVATE",
              "PUBLIC"
             ]
            },
            "context_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "visibility": {
             "type": "boolean"
            },
            "order_index": {
             "type": "number"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            },
            "editable": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    type: 'PRIVATE',\n    context_id: 'string',\n    order_index: 0,\n    visibility: true,\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"PRIVATE\\\",\\\"context_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"type\":\"PRIVATE\",\"context_id\":\"string\",\"order_index\":0,\"visibility\":true,\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"PRIVATE\\\",\\\"context_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/layers/{layer_id}/reposition": {
   "post": {
    "tags": [
     "layers-v-2-controller"
    ],
    "summary": "Update layer order rank",
    "description": "Update a layer's position using midpoint ranking with float values.",
    "operationId": "repositionLayer",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "description": "Unique identifier of the layer",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "order_index": {
          "type": "number",
          "minimum": 0
         }
        },
        "required": [
         "order_index"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "type": {
             "type": "string",
             "enum": [
              "PRIVATE",
              "PUBLIC"
             ]
            },
            "context_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "visibility": {
             "type": "boolean"
            },
            "order_index": {
             "type": "number"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            },
            "editable": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/reposition',\n  headers: {'content-type': 'application/json'},\n  body: {order_index: 0},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"order_index\\\":0}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/reposition\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/reposition \\\n  --header 'content-type: application/json' \\\n  --data '{\"order_index\":0}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/reposition\"),\n    Content = new StringContent(\"{\\\"order_index\\\":0}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/layers/{layer_id}/convert_to_public": {
   "post": {
    "tags": [
     "layers-v-2-controller"
    ],
    "summary": "Convert private layer to public",
    "description": "Convert a private layer to public, making it accessible to all project users",
    "operationId": "convertLayerToPublic",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "description": "Unique identifier of the layer",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string"
            },
            "name": {
             "type": "string"
            },
            "type": {
             "type": "string",
             "enum": [
              "PRIVATE",
              "PUBLIC"
             ]
            },
            "context_id": {
             "type": "string"
            },
            "company_id": {
             "type": "string"
            },
            "project_id": {
             "type": "string"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time"
            },
            "created_by_id": {
             "type": "string"
            },
            "deleted": {
             "type": "boolean"
            },
            "visibility": {
             "type": "boolean"
            },
            "order_index": {
             "type": "number"
            },
            "settings": {
             "type": "object",
             "additionalProperties": {}
            },
            "editable": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/convert_to_public'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/convert_to_public\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/convert_to_public"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/convert_to_public\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/domains/layers": {
   "get": {
    "tags": [
     "domain-v-2-controller"
    ],
    "summary": "Get Layers",
    "description": "Returns all accessible layers with pagination and filtering.",
    "operationId": "getLayerIds",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 5000 for ids_only)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 5000
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "description": "Filter layers created before this ISO date-time",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Filter by updated_at range in ISO format (start...end)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "JSON array of layer IDs to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_id]",
      "in": "query",
      "description": "Context ID to filter layers by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "description": "Context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "description": "Sub-context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/layers',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/contexts/{context_id}/layers": {
   "get": {
    "tags": [
     "layers-v-2-controller"
    ],
    "summary": "Get layers for context",
    "description": "Retrieve all layers within a specific context with pagination",
    "operationId": "getContextLayers",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_id",
      "in": "path",
      "description": "Unique identifier of the context",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 100)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D/layers',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/accessible_layers/{context_type}/{context_type_id}": {
   "get": {
    "tags": [
     "layers-v-2-controller"
    ],
    "summary": "Get accessible layers for authenticated user by context",
    "description": "Retrieve all layers accessible to the authenticated user (private + public) for a given context",
    "operationId": "getUserAccessibleLayers",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier of the project",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type",
      "in": "path",
      "description": "Context type (e.g. document_revision)",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type_id",
      "in": "path",
      "description": "Context type identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 100)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 10
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_layers/%7Bcontext_type%7D/%7Bcontext_type_id%7D',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_layers/%7Bcontext_type%7D/%7Bcontext_type_id%7D?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_layers/%7Bcontext_type%7D/%7Bcontext_type_id%7D?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_layers/%7Bcontext_type%7D/%7Bcontext_type_id%7D?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/domains/layers": {
   "get": {
    "tags": [
     "company-domain-v-2-controller"
    ],
    "summary": "Get company-level Layers",
    "description": "Returns all accessible company-level layers with pagination and filtering.",
    "operationId": "getLayerIds_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier of the company",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page number for pagination (1-based)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of items per page (max 5000 for ids_only)",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 5000
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "description": "Filter layers created before this ISO date-time",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Filter by updated_at range in ISO format (start...end)",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "JSON array of layer IDs to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_id]",
      "in": "query",
      "description": "Context ID to filter layers by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "description": "Context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "description": "Sub-context type ID to filter by",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/domains/layers',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/layers/{layer_id}": {
   "get": {
    "tags": [
     "layers-controller"
    ],
    "summary": "Get layer by ID",
    "description": "Retrieve a specific layer by its ID",
    "operationId": "getLayer_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "type": {
           "type": "string",
           "enum": [
            "PRIVATE",
            "PUBLIC"
           ]
          },
          "context_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "visibility": {
           "type": "boolean"
          },
          "order_index": {
           "type": "number"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
          },
          "editable": {
           "type": "boolean"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "put": {
    "tags": [
     "layers-controller"
    ],
    "summary": "Update layer",
    "description": "Update an existing layer",
    "operationId": "updateLayer_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string"
         },
         "order_index": {
          "type": "number"
         },
         "visibility": {
          "type": "boolean"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "type": {
           "type": "string",
           "enum": [
            "PRIVATE",
            "PUBLIC"
           ]
          },
          "context_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "visibility": {
           "type": "boolean"
          },
          "order_index": {
           "type": "number"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
          },
          "editable": {
           "type": "boolean"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    order_index: 0,\n    visibility: true,\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PUT\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PUT \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"order_index\":0,\"visibility\":true,\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Put,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "delete": {
    "tags": [
     "layers-controller"
    ],
    "summary": "Delete layer",
    "description": "Delete a layer and all its associated groups",
    "operationId": "deleteLayer_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/layers": {
   "post": {
    "tags": [
     "layers-controller"
    ],
    "summary": "Create a new layer",
    "description": "Create a new layer within a context",
    "operationId": "createLayer_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "name": {
          "type": "string",
          "minLength": 1
         },
         "type": {
          "type": "string",
          "enum": [
           "PRIVATE",
           "PUBLIC"
          ]
         },
         "context_id": {
          "type": "string",
          "minLength": 1
         },
         "order_index": {
          "type": "number"
         },
         "visibility": {
          "type": "boolean"
         },
         "settings": {
          "type": "object",
          "additionalProperties": {}
         }
        },
        "required": [
         "context_id",
         "name",
         "type"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "type": {
           "type": "string",
           "enum": [
            "PRIVATE",
            "PUBLIC"
           ]
          },
          "context_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "visibility": {
           "type": "boolean"
          },
          "order_index": {
           "type": "number"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
          },
          "editable": {
           "type": "boolean"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers',\n  headers: {'content-type': 'application/json'},\n  body: {\n    name: 'string',\n    type: 'PRIVATE',\n    context_id: 'string',\n    order_index: 0,\n    visibility: true,\n    settings: {property1: null, property2: null}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"PRIVATE\\\",\\\"context_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"type\":\"PRIVATE\",\"context_id\":\"string\",\"order_index\":0,\"visibility\":true,\"settings\":{\"property1\":null,\"property2\":null}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers\"),\n    Content = new StringContent(\"{\\\"name\\\":\\\"string\\\",\\\"type\\\":\\\"PRIVATE\\\",\\\"context_id\\\":\\\"string\\\",\\\"order_index\\\":0,\\\"visibility\\\":true,\\\"settings\\\":{\\\"property1\\\":null,\\\"property2\\\":null}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/layers/{layer_id}/reposition": {
   "post": {
    "tags": [
     "layers-controller"
    ],
    "summary": "Update layer order rank",
    "description": "Update a layer's position using midpoint ranking with float values. UI calculates the new rank (e.g., 1500.0 between 1000.0 and 2000.0) and passes it directly.",
    "operationId": "repositionLayer_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "order_index": {
          "type": "number",
          "minimum": 0
         }
        },
        "required": [
         "order_index"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "type": {
           "type": "string",
           "enum": [
            "PRIVATE",
            "PUBLIC"
           ]
          },
          "context_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "visibility": {
           "type": "boolean"
          },
          "order_index": {
           "type": "number"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
          },
          "editable": {
           "type": "boolean"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/reposition',\n  headers: {'content-type': 'application/json'},\n  body: {order_index: 0},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"order_index\\\":0}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/reposition\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/reposition \\\n  --header 'content-type: application/json' \\\n  --data '{\"order_index\":0}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/reposition\"),\n    Content = new StringContent(\"{\\\"order_index\\\":0}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/layers/{layer_id}/convert_to_public": {
   "post": {
    "tags": [
     "layers-controller"
    ],
    "summary": "Convert private layer to public",
    "description": "Convert a private layer to public, making it accessible to all project users",
    "operationId": "convertLayerToPublic_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "layer_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "type": {
           "type": "string",
           "enum": [
            "PRIVATE",
            "PUBLIC"
           ]
          },
          "context_id": {
           "type": "string"
          },
          "company_id": {
           "type": "string"
          },
          "project_id": {
           "type": "string"
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time"
          },
          "created_by_id": {
           "type": "string"
          },
          "deleted": {
           "type": "boolean"
          },
          "visibility": {
           "type": "boolean"
          },
          "order_index": {
           "type": "number"
          },
          "settings": {
           "type": "object",
           "additionalProperties": {}
          },
          "editable": {
           "type": "boolean"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/convert_to_public'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/convert_to_public\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/convert_to_public"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/layers/%7Blayer_id%7D/convert_to_public\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/domains/layers": {
   "get": {
    "tags": [
     "domain-controller"
    ],
    "summary": "Get Layers",
    "description": "Returns all accessible markup layers (public + user's private) for a specific company and project with pagination and filtering support.",
    "operationId": "getLayers",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 500
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "default"
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/layers',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/contexts/{context_id}/layers": {
   "get": {
    "tags": [
     "layers-controller"
    ],
    "summary": "Get layers for context",
    "description": "Retrieve all layers within a specific context",
    "operationId": "getContextLayers_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 20
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "layers": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string"
             },
             "name": {
              "type": "string"
             },
             "type": {
              "type": "string",
              "enum": [
               "PRIVATE",
               "PUBLIC"
              ]
             },
             "context_id": {
              "type": "string"
             },
             "company_id": {
              "type": "string"
             },
             "project_id": {
              "type": "string"
             },
             "created_at": {
              "type": "string",
              "format": "date-time"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time"
             },
             "created_by_id": {
              "type": "string"
             },
             "deleted": {
              "type": "boolean"
             },
             "visibility": {
              "type": "boolean"
             },
             "order_index": {
              "type": "number"
             },
             "settings": {
              "type": "object",
              "additionalProperties": {}
             },
             "editable": {
              "type": "boolean"
             }
            }
           }
          },
          "total_count": {
           "type": "integer",
           "format": "int64"
          },
          "page": {
           "type": "integer",
           "format": "int32"
          },
          "per_page": {
           "type": "integer",
           "format": "int32"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D/layers',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/contexts/%7Bcontext_id%7D/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/projects/{project_id}/accessible_layers/{context_type}/{context_type_id}": {
   "get": {
    "tags": [
     "layers-controller"
    ],
    "summary": "Get accessible layers for authenticated user by context",
    "description": "Retrieve all layers accessible to the authenticated user (private + public) for a given context type and ID",
    "operationId": "getUserAccessibleLayers_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "context_type_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 20
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object",
         "properties": {
          "layers": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string"
             },
             "name": {
              "type": "string"
             },
             "type": {
              "type": "string",
              "enum": [
               "PRIVATE",
               "PUBLIC"
              ]
             },
             "context_id": {
              "type": "string"
             },
             "company_id": {
              "type": "string"
             },
             "project_id": {
              "type": "string"
             },
             "created_at": {
              "type": "string",
              "format": "date-time"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time"
             },
             "created_by_id": {
              "type": "string"
             },
             "deleted": {
              "type": "boolean"
             },
             "visibility": {
              "type": "boolean"
             },
             "order_index": {
              "type": "number"
             },
             "settings": {
              "type": "object",
              "additionalProperties": {}
             },
             "editable": {
              "type": "boolean"
             }
            }
           }
          },
          "total_count": {
           "type": "integer",
           "format": "int64"
          },
          "page": {
           "type": "integer",
           "format": "int32"
          },
          "per_page": {
           "type": "integer",
           "format": "int32"
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_layers/%7Bcontext_type%7D/%7Bcontext_type_id%7D',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_layers/%7Bcontext_type%7D/%7Bcontext_type_id%7D?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_layers/%7Bcontext_type%7D/%7Bcontext_type_id%7D?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/accessible_layers/%7Bcontext_type%7D/%7Bcontext_type_id%7D?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/domains/layers": {
   "get": {
    "tags": [
     "company-domain-controller"
    ],
    "summary": "Get company-level Layers",
    "description": "Returns all accessible markup layers for a specific company with pagination and filtering support.",
    "operationId": "getLayers_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 1
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "default": 500
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "default"
      }
     },
     {
      "name": "filters[created_before]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date-time"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[context_type_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[subcontext_type_id]",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/domains/layers',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE',\n    'filters[created_before]': 'SOME_STRING_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[id]': 'SOME_STRING_VALUE',\n    'filters[context_id]': 'SOME_STRING_VALUE',\n    'filters[context_type_id]': 'SOME_STRING_VALUE',\n    'filters[subcontext_type_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/domains/layers?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE&filters%5Bcreated_before%5D=SOME_STRING_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bid%5D=SOME_STRING_VALUE&filters%5Bcontext_id%5D=SOME_STRING_VALUE&filters%5Bcontext_type_id%5D=SOME_STRING_VALUE&filters%5Bsubcontext_type_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}