{
 "openapi": "3.0.0",
 "info": {
  "title": "Legacy - Workflow Activity Histories",
  "x-product-category": "Core",
  "x-tool-category": "Workflows",
  "x-resource-name": "Legacy - Workflow Activity Histories",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/workflow_activity_histories": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Workflow Activity Histories",
    "description": "Return a list of activities performed for a workflow instance.\n\nIdentify the instance with `workflow_instance_id`, or with both `filters[workflowed_object_type]` and `filters[workflowed_object_id]` (the same object addressing used by Legacy Workflow Permanent Logs and Workflow Setup). When `workflow_instance_id` is present it is used and the object filters are ignored. Change-order object types also require `project_id`.",
    "parameters": [
     {
      "name": "workflow_instance_id",
      "in": "query",
      "description": "Workflow Instance ID. Required unless both `filters[workflowed_object_type]` and `filters[workflowed_object_id]` are provided.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[workflowed_object_type]",
      "in": "query",
      "description": "Tool or V1 class name of the workflowed object. Used with `filters[workflowed_object_id]` to locate the instance when `workflow_instance_id` is omitted.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[workflowed_object_id]",
      "in": "query",
      "description": "ID of the workflowed object. Used with `filters[workflowed_object_type]` to locate the instance when `workflow_instance_id` is omitted.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "description": "Project ID. Required when locating the instance with a change-order `filters[workflowed_object_type]` and no `workflow_instance_id`.",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort attribute. Prefix with `-` for descending order. Omit to keep the default ascending primary-key order. Use `sort=-created_at` for newest-first pagination (for example, panel \"Show more\" loads of older history).",
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "-created_at"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Workflow Activity History",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 43584
           },
           "attachments": {
            "type": "array",
            "description": "List of Attachment URLs",
            "items": {
             "type": "string",
             "description": "URL",
             "example": "http://www.example.com/"
            }
           },
           "file_attachments": {
            "type": "array",
            "description": "List of file attachments with their identifying metadata",
            "items": {
             "type": "object",
             "description": "File Attachment",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Prostore File ID",
               "example": 12334
              },
              "name": {
               "type": "string",
               "description": "File name",
               "example": "doc.pdf"
              },
              "url": {
               "type": "string",
               "description": "File download URL",
               "example": "http://www.example.com/"
              }
             }
            }
           },
           "assigned_to_id": {
            "type": "integer",
            "description": "Login Information ID of the user the activity is assigned to.",
            "example": 12345
           },
           "assigned_to_name": {
            "type": "string",
            "description": "Full Name of Contact for the assigned Login Information",
            "example": "Rahul Sharma"
           },
           "bic_duration": {
            "type": "string",
            "description": "Ball In Court duration in days",
            "example": "2 days"
           },
           "bic_start": {
            "type": "string",
            "format": "date-time",
            "description": "Ball In Court started at",
            "example": "2017-10-23T21:39:40Z"
           },
           "bic_end": {
            "type": "string",
            "format": "date-time",
            "description": "Ball In Court ended at",
            "example": "2017-10-23T21:39:40Z"
           },
           "comments": {
            "type": "string",
            "description": "Comments",
            "example": "Forwarding for review"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Created at",
            "example": "2017-10-23T21:39:40Z"
           },
           "performed_by_id": {
            "type": "integer",
            "description": "Login Information ID of a Workflow User Role Login Information.",
            "example": 12345
           },
           "performed_by_name": {
            "type": "string",
            "description": "Full Name of Contact for Workflow User Role Login Information",
            "example": 12345
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Updated at",
            "example": "2017-10-24T21:39:40Z"
           },
           "workflow_activity_id": {
            "type": "integer",
            "description": "Workflow Activity ID",
            "example": 12345
           },
           "workflow_activity_name": {
            "type": "string",
            "description": "Workflow Activity Name",
            "example": "approve"
           },
           "workflow_instance_id": {
            "type": "integer",
            "description": "Workflow Instance ID",
            "example": 12345
           },
           "workflow_user_role_id": {
            "type": "integer",
            "description": "Workflow User Role ID",
            "example": 12345
           },
           "workflow_user_role_name": {
            "type": "string",
            "description": "Workflow User Role Name",
            "example": "assignees"
           },
           "workflow_state_id": {
            "type": "integer",
            "description": "Workflow State ID",
            "example": 12345
           },
           "workflow_state_name": {
            "type": "string",
            "description": "Workflow State Name",
            "example": "Under Review"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/workflow_activity_histories',\n  qs: {\n    workflow_instance_id: 'SOME_INTEGER_VALUE',\n    'filters[workflowed_object_type]': 'SOME_STRING_VALUE',\n    'filters[workflowed_object_id]': 'SOME_INTEGER_VALUE',\n    project_id: 'SOME_INTEGER_VALUE',\n    company_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/workflow_activity_histories?workflow_instance_id=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/workflow_activity_histories?workflow_instance_id=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/workflow_activity_histories?workflow_instance_id=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Optional sort for workflow activity histories index",
      "description": "List accepts an optional `sort` query parameter. Supported values are\n`created_at` and `-created_at`. When omitted, ordering is unchanged\n(ascending primary key via pagination defaults). Use `sort=-created_at`\nfor newest-first pages when loading history incrementally.",
      "endpoint": "GET /workflow_activity_histories",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#list-workflow-activity-histories"
     },
     {
      "summary": "Locate activity histories by workflowed object on index and show",
      "description": "List and show now accept `filters[workflowed_object_type]` and\n`filters[workflowed_object_id]` as an alternative to `workflow_instance_id`.\nExisting callers that pass `workflow_instance_id` are unchanged; when that\nparameter is present it takes precedence. Change-order object types also\nrequire `project_id`. Create still requires `workflow_instance_id`.",
      "endpoint": "GET /workflow_activity_histories",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#list-workflow-activity-histories"
     },
     {
      "summary": "Added file_attachments to workflow activity histories",
      "description": "Added a `file_attachments` field to the workflow activity history response.\nEach entry describes an attached file with its `id`, `name`, and `url`.",
      "endpoint": "GET /workflow_activity_histories",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#list-workflow-activity-histories"
     },
     {
      "summary": "Added assigned_to_id and assigned_to_name to workflow activity histories",
      "description": "Added two fields to the workflow activity history response:\n- `assigned_to_id`: Login Information ID of the user the activity is assigned to.\n- `assigned_to_name`: Full name of the contact for the assigned Login Information.",
      "endpoint": "GET /workflow_activity_histories",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#list-workflow-activity-histories"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Workflow Activity History",
    "description": "Perform a workflow activity. Workflows Instances transition between states when all required activities have been performed.",
    "parameters": [
     {
      "name": "workflow_instance_id",
      "in": "query",
      "description": "Workflow Instance ID",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "workflow_activity_history"
        ],
        "properties": {
         "workflow_activity_history": {
          "title": "Workflow Activity History",
          "type": "object",
          "description": "Workflow Activity History object",
          "required": [
           "workflow_activity_id",
           "workflow_instance_id",
           "workflow_user_role_id",
           "performed_by_id"
          ],
          "properties": {
           "workflow_activity_id": {
            "type": "integer",
            "description": "Workflow Activity ID",
            "example": 12345
           },
           "workflow_instance_id": {
            "type": "integer",
            "description": "Workflow Instance ID",
            "example": 12345
           },
           "workflow_user_role_id": {
            "type": "integer",
            "description": "Workflow User Role ID",
            "example": 12345
           },
           "performed_by_id": {
            "type": "integer",
            "description": "Login Information ID of a Workflow User Role Login Information.",
            "example": 12345
           },
           "comments": {
            "type": "string",
            "description": "Comments",
            "example": "Forwarding this for review"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "IDs of previously uploaded Prostore Files to attach to this activity history.",
            "items": {
             "type": "integer",
             "example": 12334
            }
           },
           "attachments": {
            "type": "array",
            "description": "Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
            "items": {
             "type": "string"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Workflow Activity History",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 43584
          },
          "attachments": {
           "type": "array",
           "description": "List of Attachment URLs",
           "items": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           }
          },
          "file_attachments": {
           "type": "array",
           "description": "List of file attachments with their identifying metadata",
           "items": {
            "type": "object",
            "description": "File Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Prostore File ID",
              "example": 12334
             },
             "name": {
              "type": "string",
              "description": "File name",
              "example": "doc.pdf"
             },
             "url": {
              "type": "string",
              "description": "File download URL",
              "example": "http://www.example.com/"
             }
            }
           }
          },
          "assigned_to_id": {
           "type": "integer",
           "description": "Login Information ID of the user the activity is assigned to.",
           "example": 12345
          },
          "assigned_to_name": {
           "type": "string",
           "description": "Full Name of Contact for the assigned Login Information",
           "example": "Rahul Sharma"
          },
          "bic_duration": {
           "type": "string",
           "description": "Ball In Court duration in days",
           "example": "2 days"
          },
          "bic_start": {
           "type": "string",
           "format": "date-time",
           "description": "Ball In Court started at",
           "example": "2017-10-23T21:39:40Z"
          },
          "bic_end": {
           "type": "string",
           "format": "date-time",
           "description": "Ball In Court ended at",
           "example": "2017-10-23T21:39:40Z"
          },
          "comments": {
           "type": "string",
           "description": "Comments",
           "example": "Forwarding for review"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2017-10-23T21:39:40Z"
          },
          "performed_by_id": {
           "type": "integer",
           "description": "Login Information ID of a Workflow User Role Login Information.",
           "example": 12345
          },
          "performed_by_name": {
           "type": "string",
           "description": "Full Name of Contact for Workflow User Role Login Information",
           "example": 12345
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2017-10-24T21:39:40Z"
          },
          "workflow_activity_id": {
           "type": "integer",
           "description": "Workflow Activity ID",
           "example": 12345
          },
          "workflow_activity_name": {
           "type": "string",
           "description": "Workflow Activity Name",
           "example": "approve"
          },
          "workflow_instance_id": {
           "type": "integer",
           "description": "Workflow Instance ID",
           "example": 12345
          },
          "workflow_user_role_id": {
           "type": "integer",
           "description": "Workflow User Role ID",
           "example": 12345
          },
          "workflow_user_role_name": {
           "type": "string",
           "description": "Workflow User Role Name",
           "example": "assignees"
          },
          "workflow_state_id": {
           "type": "integer",
           "description": "Workflow State ID",
           "example": 12345
          },
          "workflow_state_name": {
           "type": "string",
           "description": "Workflow State Name",
           "example": "Under Review"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/workflow_activity_histories',\n  qs: {workflow_instance_id: 'SOME_INTEGER_VALUE', company_id: 'SOME_INTEGER_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    workflow_activity_history: {\n      workflow_activity_id: 12345,\n      workflow_instance_id: 12345,\n      workflow_user_role_id: 12345,\n      performed_by_id: 12345,\n      comments: 'Forwarding this for review',\n      prostore_file_ids: [12334],\n      attachments: ['string']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"workflow_activity_history\\\":{\\\"workflow_activity_id\\\":12345,\\\"workflow_instance_id\\\":12345,\\\"workflow_user_role_id\\\":12345,\\\"performed_by_id\\\":12345,\\\"comments\\\":\\\"Forwarding this for review\\\",\\\"prostore_file_ids\\\":[12334],\\\"attachments\\\":[\\\"string\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/workflow_activity_histories?workflow_instance_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/workflow_activity_histories?workflow_instance_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"workflow_activity_history\":{\"workflow_activity_id\":12345,\"workflow_instance_id\":12345,\"workflow_user_role_id\":12345,\"performed_by_id\":12345,\"comments\":\"Forwarding this for review\",\"prostore_file_ids\":[12334],\"attachments\":[\"string\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/workflow_activity_histories?workflow_instance_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE\"),\n    Content = new StringContent(\"{\\\"workflow_activity_history\\\":{\\\"workflow_activity_id\\\":12345,\\\"workflow_instance_id\\\":12345,\\\"workflow_user_role_id\\\":12345,\\\"performed_by_id\\\":12345,\\\"comments\\\":\\\"Forwarding this for review\\\",\\\"prostore_file_ids\\\":[12334],\\\"attachments\\\":[\\\"string\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Attachments sent as prostore_file_ids are now saved",
      "description": "`prostore_file_ids` sent in the `workflow_activity_history` payload were\nsilently discarded, so the created activity history had no attachments.\nThey are now accepted and persisted.",
      "endpoint": "POST /workflow_activity_histories",
      "type": "fix",
      "breaking": false,
      "datestamp": "2026-08-24",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#create-workflow-activity-history"
     },
     {
      "summary": "Added file_attachments to created workflow activity history",
      "description": "Added a `file_attachments` field to the created workflow activity history response.\nEach entry describes an attached file with its `id`, `name`, and `url`.",
      "endpoint": "POST /workflow_activity_histories",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#create-workflow-activity-history"
     },
     {
      "summary": "Added assigned_to_id and assigned_to_name to workflow activity history",
      "description": "Added two fields to the created workflow activity history response:\n- `assigned_to_id`: Login Information ID of the user the activity is assigned to.\n- `assigned_to_name`: Full name of the contact for the assigned Login Information.",
      "endpoint": "POST /workflow_activity_histories",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#create-workflow-activity-history"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/workflow_activity_histories/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "workflow_instance_id",
     "in": "query",
     "description": "Workflow Instance ID. Required unless both `filters[workflowed_object_type]` and `filters[workflowed_object_id]` are provided.",
     "required": false,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "filters[workflowed_object_type]",
     "in": "query",
     "description": "Tool or V1 class name of the workflowed object. Used with `filters[workflowed_object_id]` to locate the instance when `workflow_instance_id` is omitted.",
     "required": false,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "filters[workflowed_object_id]",
     "in": "query",
     "description": "ID of the workflowed object. Used with `filters[workflowed_object_type]` to locate the instance when `workflow_instance_id` is omitted.",
     "required": false,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "query",
     "description": "Project ID. Required when locating the instance with a change-order `filters[workflowed_object_type]` and no `workflow_instance_id`.",
     "required": false,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "query",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Workflow Activity History",
    "description": "Get information about a Workflow Activity History.\n\nIdentify the parent instance with `workflow_instance_id`, or with both `filters[workflowed_object_type]` and `filters[workflowed_object_id]`. When `workflow_instance_id` is present it is used and the object filters are ignored. Change-order object types also require `project_id`.",
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Workflow Activity History",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 43584
          },
          "attachments": {
           "type": "array",
           "description": "List of Attachment URLs",
           "items": {
            "type": "string",
            "description": "URL",
            "example": "http://www.example.com/"
           }
          },
          "file_attachments": {
           "type": "array",
           "description": "List of file attachments with their identifying metadata",
           "items": {
            "type": "object",
            "description": "File Attachment",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Prostore File ID",
              "example": 12334
             },
             "name": {
              "type": "string",
              "description": "File name",
              "example": "doc.pdf"
             },
             "url": {
              "type": "string",
              "description": "File download URL",
              "example": "http://www.example.com/"
             }
            }
           }
          },
          "assigned_to_id": {
           "type": "integer",
           "description": "Login Information ID of the user the activity is assigned to.",
           "example": 12345
          },
          "assigned_to_name": {
           "type": "string",
           "description": "Full Name of Contact for the assigned Login Information",
           "example": "Rahul Sharma"
          },
          "bic_duration": {
           "type": "string",
           "description": "Ball In Court duration in days",
           "example": "2 days"
          },
          "bic_start": {
           "type": "string",
           "format": "date-time",
           "description": "Ball In Court started at",
           "example": "2017-10-23T21:39:40Z"
          },
          "bic_end": {
           "type": "string",
           "format": "date-time",
           "description": "Ball In Court ended at",
           "example": "2017-10-23T21:39:40Z"
          },
          "comments": {
           "type": "string",
           "description": "Comments",
           "example": "Forwarding for review"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Created at",
           "example": "2017-10-23T21:39:40Z"
          },
          "performed_by_id": {
           "type": "integer",
           "description": "Login Information ID of a Workflow User Role Login Information.",
           "example": 12345
          },
          "performed_by_name": {
           "type": "string",
           "description": "Full Name of Contact for Workflow User Role Login Information",
           "example": 12345
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Updated at",
           "example": "2017-10-24T21:39:40Z"
          },
          "workflow_activity_id": {
           "type": "integer",
           "description": "Workflow Activity ID",
           "example": 12345
          },
          "workflow_activity_name": {
           "type": "string",
           "description": "Workflow Activity Name",
           "example": "approve"
          },
          "workflow_instance_id": {
           "type": "integer",
           "description": "Workflow Instance ID",
           "example": 12345
          },
          "workflow_user_role_id": {
           "type": "integer",
           "description": "Workflow User Role ID",
           "example": 12345
          },
          "workflow_user_role_name": {
           "type": "string",
           "description": "Workflow User Role Name",
           "example": "assignees"
          },
          "workflow_state_id": {
           "type": "integer",
           "description": "Workflow State ID",
           "example": 12345
          },
          "workflow_state_name": {
           "type": "string",
           "description": "Workflow State Name",
           "example": "Under Review"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/workflow_activity_histories/%7Bid%7D',\n  qs: {\n    workflow_instance_id: 'SOME_INTEGER_VALUE',\n    'filters[workflowed_object_type]': 'SOME_STRING_VALUE',\n    'filters[workflowed_object_id]': 'SOME_INTEGER_VALUE',\n    project_id: 'SOME_INTEGER_VALUE',\n    company_id: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/workflow_activity_histories/%7Bid%7D?workflow_instance_id=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/workflow_activity_histories/%7Bid%7D?workflow_instance_id=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/workflow_activity_histories/%7Bid%7D?workflow_instance_id=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Locate an activity history by workflowed object",
      "description": "Show now accepts `filters[workflowed_object_type]` and\n`filters[workflowed_object_id]` as an alternative to `workflow_instance_id`.\nExisting callers that pass `workflow_instance_id` are unchanged; when that\nparameter is present it takes precedence. Change-order object types also\nrequire `project_id`.",
      "endpoint": "GET /workflow_activity_histories/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#show-workflow-activity-history"
     },
     {
      "summary": "Added file_attachments to workflow activity history",
      "description": "Added a `file_attachments` field to the workflow activity history response.\nEach entry describes an attached file with its `id`, `name`, and `url`.",
      "endpoint": "GET /workflow_activity_histories/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-19",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#show-workflow-activity-history"
     },
     {
      "summary": "Added assigned_to_id and assigned_to_name to workflow activity history",
      "description": "Added two fields to the workflow activity history response:\n- `assigned_to_id`: Login Information ID of the user the activity is assigned to.\n- `assigned_to_name`: Full name of the contact for the assigned Login Information.",
      "endpoint": "GET /workflow_activity_histories/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-08-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "legacy---workflow-activity-histories?version=1.0#show-workflow-activity-history"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}