{
 "openapi": "3.0.0",
 "info": {
  "title": "Legacy - Workflow Permanent Logs",
  "x-product-category": "Core",
  "x-tool-category": "Workflows",
  "x-resource-name": "Legacy - Workflow Permanent Logs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/workflow_permanent_logs": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Workflow Permanent Logs",
    "description": "Return a list of workflow permanent logs. Any resource using workflow should have log of activities and events related to the workflow.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[workflowed_object_type]",
      "in": "query",
      "description": "Filter log(s) with matching workflowed object type",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[workflowed_object_id]",
      "in": "query",
      "description": "Filter log(s) with matching workflowed object id",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Workflow Permanent Log",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 43584
           },
           "activity": {
            "type": "string",
            "description": "Name of the activity logged",
            "example": "Approved"
           },
           "attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Use :name, :filename to be deprecated"
              },
              "url": {
               "type": "string"
              },
              "filename": {
               "type": "string",
               "description": ":filename to be deprecated, use :name"
              }
             }
            }
           },
           "ball_in_court_duration": {
            "type": "string",
            "description": "How long the assignee was responsible prior to acting",
            "example": "3 days"
           },
           "comments": {
            "type": "string",
            "description": "Comments provided by the assignee when acting in the workflow",
            "example": "I approve the changes"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Log recorded at",
            "example": "2016-10-23T21:39:40Z"
           },
           "performed_by": {
            "type": "string",
            "description": "Name of the user performing the activity",
            "example": "First Name, Last Name (Company)"
           },
           "user_role": {
            "type": "string",
            "description": "Name of the workflow role",
            "example": "Project Manager"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "workflowed_object_type": {
           "type": "string",
           "example": "The workflowed_object_type filter param must be provided"
          },
          "workflowed_object_id": {
           "type": "string",
           "example": "The workflowed_object_id filter param must be provided"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/workflow_permanent_logs',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[workflowed_object_type]': 'SOME_STRING_VALUE',\n    'filters[workflowed_object_id]': 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/workflow_permanent_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/workflow_permanent_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/workflow_permanent_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/workflow_permanent_logs": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Workflow Permanent Logs",
    "description": "Return a list of workflow permanent logs. Any resource using workflow should have log of activities and events related to the workflow.\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[workflowed_object_type]",
      "in": "query",
      "description": "Filter log(s) with matching workflowed object type",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[workflowed_object_id]",
      "in": "query",
      "description": "Filter log(s) with matching workflowed object id",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Workflow Permanent Log",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 43584
           },
           "activity": {
            "type": "string",
            "description": "Name of the activity logged",
            "example": "Approved"
           },
           "attachments": {
            "type": "array",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Use :name, :filename to be deprecated"
              },
              "url": {
               "type": "string"
              },
              "filename": {
               "type": "string",
               "description": ":filename to be deprecated, use :name"
              }
             }
            }
           },
           "ball_in_court_duration": {
            "type": "string",
            "description": "How long the assignee was responsible prior to acting",
            "example": "3 days"
           },
           "comments": {
            "type": "string",
            "description": "Comments provided by the assignee when acting in the workflow",
            "example": "I approve the changes"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Log recorded at",
            "example": "2016-10-23T21:39:40Z"
           },
           "performed_by": {
            "type": "string",
            "description": "Name of the user performing the activity",
            "example": "First Name, Last Name (Company)"
           },
           "user_role": {
            "type": "string",
            "description": "Name of the workflow role",
            "example": "Project Manager"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "workflowed_object_type": {
           "type": "string",
           "example": "The workflowed_object_type filter param must be provided"
          },
          "workflowed_object_id": {
           "type": "string",
           "example": "The workflowed_object_id filter param must be provided"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/workflow_permanent_logs',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[workflowed_object_type]': 'SOME_STRING_VALUE',\n    'filters[workflowed_object_id]': 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/workflow_permanent_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/workflow_permanent_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/workflow_permanent_logs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bworkflowed_object_type%5D=SOME_STRING_VALUE&filters%5Bworkflowed_object_id%5D=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}