{
 "openapi": "3.0.0",
 "info": {
  "title": "Lien Waivers",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Invoices",
  "x-resource-name": "Lien Waivers",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/lien_waivers": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Lien Waivers",
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "invoice_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier of the invoice to retrieve lien waivers for",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of lien waivers",
         "items": {
          "type": "object",
          "description": "Lien waivers belonging to an invoice",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the lien waiver. Use as the {id} path parameter to delete the waiver via DELETE /rest/v1.0/projects/{project_id}/lien_waivers/{id}.",
            "example": 12345
           },
           "company_id": {
            "type": "integer",
            "description": "ID of the company that owns this lien waiver.",
            "example": 54321
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project this lien waiver belongs to. Matches the {project_id} path parameter used to list and manage waivers.",
            "example": 1234
           },
           "invoice_id": {
            "type": "integer",
            "description": "ID of the invoice this lien waiver is associated with. Pass as the invoice_id query parameter when listing or managing an invoice's waivers.",
            "example": 5678
           },
           "status": {
            "type": "string",
            "enum": [
             "awaiting_signature",
             "complete",
             "cancelled",
             "draft"
            ],
            "description": "Current signing status of the lien waiver.",
            "example": "awaiting_signature"
           },
           "type": {
            "type": "string",
            "enum": [
             "conditional_progress",
             "unconditional_progress",
             "conditional_final",
             "unconditional_final"
            ],
            "description": "Classification of the lien waiver, combining its condition (conditional vs. unconditional) and billing stage (progress vs. final).",
            "example": "conditional_progress"
           },
           "waiver_date": {
            "type": "string",
            "format": "date",
            "description": "Date the lien waiver was issued, in ISO 8601 date format (YYYY-MM-DD).",
            "example": "2019-09-20"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the lien waiver was last updated, in ISO 8601 format. Null if the waiver has not been updated since creation.",
            "example": "2019-09-20T12:42:00Z"
           },
           "waiver_created": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp when the lien waiver was created, in ISO 8601 format. Null if unavailable.",
            "example": "2019-09-20T12:42:00Z"
           },
           "locked": {
            "type": "boolean",
            "description": "Whether the signed lien waiver is locked from the general contractor's view. Unconditional waivers remain locked until released via the unlock endpoint.",
            "example": true
           },
           "last_unlock_request": {
            "type": "object",
            "properties": {
             "user_name": {
              "type": "string",
              "description": "Full name of who requested the unlock",
              "example": "John Smith"
             },
             "requested_at": {
              "type": "string",
              "format": "date-time",
              "description": "When the unlock was requested",
              "example": "2019-09-20T12:42:00Z"
             }
            }
           },
           "last_sign_request": {
            "type": "object",
            "nullable": true,
            "description": "Metadata about the most recent sign request for the waiver, or null when no sign request exists",
            "properties": {
             "user_name": {
              "type": "string",
              "description": "Full name of who requested the signature",
              "example": "John Smith"
             },
             "requested_at": {
              "type": "string",
              "format": "date-time",
              "description": "When the sign request was sent",
              "example": "2019-09-20T12:42:00Z"
             }
            }
           },
           "unlocker": {
            "type": "object",
            "properties": {
             "user_name": {
              "type": "string",
              "description": "Full name of who unlocked the waiver",
              "example": "John Smith"
             },
             "requested_at": {
              "type": "string",
              "format": "date-time",
              "description": "When the waiver was unlocked",
              "example": "2019-09-20T12:42:00Z"
             }
            }
           },
           "sign_url": {
            "type": "string",
            "description": "URL a user can open to sign the lien waiver outside of an iframe context. Empty string unless the requesting user is an invoice contact.",
            "example": "signme.procore.com"
           },
           "iframe_sign_url": {
            "type": "string",
            "description": "URL a user can open to sign the lien waiver inside an iframe context. Empty string unless the requesting user is an invoice contact.",
            "example": "signme.procore.com"
           },
           "pdf_url": {
            "type": "string",
            "description": "URL of the current lien waiver PDF document.",
            "example": "pdf.procore.com"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/lien_waivers',\n  qs: {invoice_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/lien_waivers?invoice_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/lien_waivers?invoice_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/lien_waivers?invoice_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Made List Lien Waivers endpoint public",
      "description": "GET /projects/{project_id}/lien_waivers is now publicly available",
      "endpoint": "GET /projects/{project_id}/lien_waivers",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-01-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "lien-waivers?version=1.0#list-lien-waivers"
     },
     {
      "summary": "Added last_sign_request field to Lien Waiver response",
      "description": "The List Lien Waivers endpoint now returns a `last_sign_request` object containing the `user_name` and `requested_at` of the most recent sign request for each waiver. The field is `null` when no sign request exists for the waiver.",
      "endpoint": "GET /projects/{project_id}/lien_waivers",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-11",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "lien-waivers?version=1.0#list-lien-waivers"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}