{
 "openapi": "3.0.0",
 "info": {
  "title": "Line Item Types (Cost Types)",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Commitments",
  "x-resource-name": "Line Item Types (Cost Types)",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/line_item_types": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Line Item Types",
    "description": "Return a list of all defined Line Item Types.\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Line Item Types"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company. You must supply either a company_id or project_id.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "description": "Unique identifier for the project. You must supply either a company_id or project_id.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[origin_id]",
      "in": "query",
      "description": "Origin ID",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Line Item Types",
         "items": {
          "type": "object",
          "title": "LineItemType",
          "description": "Line Item Type",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for the Line Item Type",
            "example": 12345
           },
           "name": {
            "type": "string",
            "description": "Name for the Line Item Type",
            "example": "Equipment"
           },
           "code": {
            "type": "string",
            "description": "Code for the Line Item Type",
            "example": "LB"
           },
           "base_type": {
            "type": "string",
            "enum": [
             "equipment",
             "materials",
             "commitment",
             "owner_cost",
             "professional_services",
             "other"
            ],
            "description": "Base type",
            "example": "materials"
           },
           "origin_data": {
            "type": "string",
            "nullable": true,
            "description": "Origin data",
            "example": "OD-2398273424"
           },
           "origin_id": {
            "type": "string",
            "description": "Origin ID",
            "example": "ABC123",
            "nullable": true
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/line_item_types',\n  qs: {\n    company_id: 'SOME_INTEGER_VALUE',\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[origin_id]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/line_item_types?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/line_item_types?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/line_item_types?company_id=SOME_INTEGER_VALUE&project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Borigin_id%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Line Item Type",
    "description": "Create a new Line Item Type (e.g. L2 for Labor).",
    "tags": [
     "Line Item Types"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "company_id",
         "line_item_type"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "Company ID",
          "example": 12345
         },
         "line_item_type": {
          "title": "LineItemType",
          "type": "object",
          "description": "Line Item Type object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Line Item Type name",
            "example": "Labor Burden"
           },
           "csv_import_code": {
            "type": "string",
            "description": "Abbreviation code",
            "example": "LB"
           },
           "base_type": {
            "type": "string",
            "enum": [
             "labor",
             "equipment",
             "materials",
             "commitment",
             "owner_cost",
             "professional_services",
             "other"
            ],
            "description": "Base type",
            "example": "materials"
           },
           "origin_data": {
            "type": "string",
            "description": "Origin data",
            "example": "OD-2398273424"
           },
           "origin_id": {
            "type": "string",
            "description": "Origin ID",
            "example": "ABC123"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "LineItemType",
         "description": "Line Item Type",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for the Line Item Type",
           "example": 12345
          },
          "name": {
           "type": "string",
           "description": "Name for the Line Item Type",
           "example": "Equipment"
          },
          "code": {
           "type": "string",
           "description": "Code for the Line Item Type",
           "example": "LB"
          },
          "base_type": {
           "type": "string",
           "enum": [
            "equipment",
            "materials",
            "commitment",
            "owner_cost",
            "professional_services",
            "other"
           ],
           "description": "Base type",
           "example": "materials"
          },
          "origin_data": {
           "type": "string",
           "nullable": true,
           "description": "Origin data",
           "example": "OD-2398273424"
          },
          "origin_id": {
           "type": "string",
           "description": "Origin ID",
           "example": "ABC123",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/line_item_types',\n  headers: {'content-type': 'application/json'},\n  body: {\n    company_id: 12345,\n    line_item_type: {\n      name: 'Labor Burden',\n      csv_import_code: 'LB',\n      base_type: 'materials',\n      origin_data: 'OD-2398273424',\n      origin_id: 'ABC123'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"company_id\\\":12345,\\\"line_item_type\\\":{\\\"name\\\":\\\"Labor Burden\\\",\\\"csv_import_code\\\":\\\"LB\\\",\\\"base_type\\\":\\\"materials\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/line_item_types\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/line_item_types \\\n  --header 'content-type: application/json' \\\n  --data '{\"company_id\":12345,\"line_item_type\":{\"name\":\"Labor Burden\",\"csv_import_code\":\"LB\",\"base_type\":\"materials\",\"origin_data\":\"OD-2398273424\",\"origin_id\":\"ABC123\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/line_item_types\"),\n    Content = new StringContent(\"{\\\"company_id\\\":12345,\\\"line_item_type\\\":{\\\"name\\\":\\\"Labor Burden\\\",\\\"csv_import_code\\\":\\\"LB\\\",\\\"base_type\\\":\\\"materials\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/line_item_types/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Line Item Type",
    "description": "Return detailed information for a specified Line Item Type.",
    "tags": [
     "Line Item Types"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "query",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "LineItemType",
         "description": "Line Item Type",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for the Line Item Type",
           "example": 12345
          },
          "name": {
           "type": "string",
           "description": "Name for the Line Item Type",
           "example": "Equipment"
          },
          "code": {
           "type": "string",
           "description": "Code for the Line Item Type",
           "example": "LB"
          },
          "base_type": {
           "type": "string",
           "enum": [
            "equipment",
            "materials",
            "commitment",
            "owner_cost",
            "professional_services",
            "other"
           ],
           "description": "Base type",
           "example": "materials"
          },
          "origin_data": {
           "type": "string",
           "nullable": true,
           "description": "Origin data",
           "example": "OD-2398273424"
          },
          "origin_id": {
           "type": "string",
           "description": "Origin ID",
           "example": "ABC123",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/line_item_types/%7Bid%7D',\n  qs: {company_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/line_item_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/line_item_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/line_item_types/%7Bid%7D?company_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Line Item Type",
    "description": "Update a Line Item Type.",
    "tags": [
     "Line Item Types"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "company_id",
         "line_item_type"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "Company ID",
          "example": 12345
         },
         "line_item_type": {
          "title": "LineItemType",
          "type": "object",
          "description": "Line Item Type object",
          "properties": {
           "name": {
            "type": "string",
            "description": "Line Item Type name",
            "example": "Labor Burden"
           },
           "csv_import_code": {
            "type": "string",
            "description": "Abbreviation code",
            "example": "LB"
           },
           "base_type": {
            "type": "string",
            "enum": [
             "labor",
             "equipment",
             "materials",
             "commitment",
             "owner_cost",
             "professional_services",
             "other"
            ],
            "description": "Base type",
            "example": "materials"
           },
           "origin_data": {
            "type": "string",
            "description": "Origin data",
            "example": "OD-2398273424"
           },
           "origin_id": {
            "type": "string",
            "description": "Origin ID",
            "example": "ABC123"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "LineItemType",
         "description": "Line Item Type",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for the Line Item Type",
           "example": 12345
          },
          "name": {
           "type": "string",
           "description": "Name for the Line Item Type",
           "example": "Equipment"
          },
          "code": {
           "type": "string",
           "description": "Code for the Line Item Type",
           "example": "LB"
          },
          "base_type": {
           "type": "string",
           "enum": [
            "equipment",
            "materials",
            "commitment",
            "owner_cost",
            "professional_services",
            "other"
           ],
           "description": "Base type",
           "example": "materials"
          },
          "origin_data": {
           "type": "string",
           "nullable": true,
           "description": "Origin data",
           "example": "OD-2398273424"
          },
          "origin_id": {
           "type": "string",
           "description": "Origin ID",
           "example": "ABC123",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/line_item_types/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    company_id: 12345,\n    line_item_type: {\n      name: 'Labor Burden',\n      csv_import_code: 'LB',\n      base_type: 'materials',\n      origin_data: 'OD-2398273424',\n      origin_id: 'ABC123'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"company_id\\\":12345,\\\"line_item_type\\\":{\\\"name\\\":\\\"Labor Burden\\\",\\\"csv_import_code\\\":\\\"LB\\\",\\\"base_type\\\":\\\"materials\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/line_item_types/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/line_item_types/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"company_id\":12345,\"line_item_type\":{\"name\":\"Labor Burden\",\"csv_import_code\":\"LB\",\"base_type\":\"materials\",\"origin_data\":\"OD-2398273424\",\"origin_id\":\"ABC123\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/line_item_types/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"company_id\\\":12345,\\\"line_item_type\\\":{\\\"name\\\":\\\"Labor Burden\\\",\\\"csv_import_code\\\":\\\"LB\\\",\\\"base_type\\\":\\\"materials\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/line_item_types/sync": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Sync Line Item Types",
    "description": "This endpoint creates or updates a batch of Line Item Types.\nSee [Using Sync Actions](/documentation/using-sync-actions) for additional information.",
    "tags": [
     "Line Item Types"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Line Item Type Sync Body",
        "type": "object",
        "required": [
         "company_id",
         "updates"
        ],
        "properties": {
         "company_id": {
          "type": "integer",
          "description": "Company ID",
          "example": 124251
         },
         "updates": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Line Item Type ID",
             "example": 12345
            },
            "name": {
             "type": "string",
             "description": "Line Item Type name",
             "example": "Equipment"
            },
            "csv_import_code": {
             "type": "string",
             "description": "Abbreviation code",
             "example": "LB"
            },
            "base_type": {
             "type": "string",
             "enum": [
              "equipment",
              "materials",
              "commitment",
              "owner_cost",
              "professional_services",
              "other"
             ],
             "description": "Base type",
             "example": "materials"
            },
            "origin_data": {
             "type": "string",
             "description": "Origin data",
             "example": "OD-2398273424"
            },
            "origin_id": {
             "type": "string",
             "description": "Origin ID",
             "example": "ABC123"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "entities": {
           "type": "array",
           "description": "Array of updated entities",
           "items": {
            "type": "object",
            "title": "LineItemType",
            "description": "Line Item Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique identifier for the Line Item Type",
              "example": 12345
             },
             "name": {
              "type": "string",
              "description": "Name for the Line Item Type",
              "example": "Equipment"
             },
             "code": {
              "type": "string",
              "description": "Code for the Line Item Type",
              "example": "LB"
             },
             "base_type": {
              "type": "string",
              "enum": [
               "equipment",
               "materials",
               "commitment",
               "owner_cost",
               "professional_services",
               "other"
              ],
              "description": "Base type",
              "example": "materials"
             },
             "origin_data": {
              "type": "string",
              "nullable": true,
              "description": "Origin data",
              "example": "OD-2398273424"
             },
             "origin_id": {
              "type": "string",
              "description": "Origin ID",
              "example": "ABC123",
              "nullable": true
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "description": "Array of errors",
           "items": {
            "type": "object"
           },
           "example": [
            {
             "id": 3,
             "name": "No line item type has this ID value",
             "errors": {
              "id": [
               "Entity with this ID not found"
              ]
             }
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/line_item_types/sync',\n  headers: {'content-type': 'application/json'},\n  body: {\n    company_id: 124251,\n    updates: [\n      {\n        id: 12345,\n        name: 'Equipment',\n        csv_import_code: 'LB',\n        base_type: 'materials',\n        origin_data: 'OD-2398273424',\n        origin_id: 'ABC123'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"company_id\\\":124251,\\\"updates\\\":[{\\\"id\\\":12345,\\\"name\\\":\\\"Equipment\\\",\\\"csv_import_code\\\":\\\"LB\\\",\\\"base_type\\\":\\\"materials\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/line_item_types/sync\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/line_item_types/sync \\\n  --header 'content-type: application/json' \\\n  --data '{\"company_id\":124251,\"updates\":[{\"id\":12345,\"name\":\"Equipment\",\"csv_import_code\":\"LB\",\"base_type\":\"materials\",\"origin_data\":\"OD-2398273424\",\"origin_id\":\"ABC123\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/line_item_types/sync\"),\n    Content = new StringContent(\"{\\\"company_id\\\":124251,\\\"updates\\\":[{\\\"id\\\":12345,\\\"name\\\":\\\"Equipment\\\",\\\"csv_import_code\\\":\\\"LB\\\",\\\"base_type\\\":\\\"materials\\\",\\\"origin_data\\\":\\\"OD-2398273424\\\",\\\"origin_id\\\":\\\"ABC123\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}