{
 "openapi": "3.0.0",
 "info": {
  "title": "Managed Equipment - Company Level",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Managed Equipment - Company Level",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/managed_equipment": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "List all Equipment",
    "description": "Return a list of all Equipment with details for a specified company.",
    "tags": [
     "Managed Equipment"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[managed_equipment_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[managed_equipment_category_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment Category ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[managed_equipment_type_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment Type ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[managed_equipment_make_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment Make ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[managed_equipment_model_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment Model ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[company_visible]",
      "in": "query",
      "description": "If true, return item(s) with 'company visible' status.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[current_project_id]",
      "in": "query",
      "description": "Return item(s) with the specified current project ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[year]",
      "in": "query",
      "description": "Return item(s) with the specified year.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Returns item(s) matching the specified status value.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[last_service_date]",
      "in": "query",
      "description": "Return item(s) with a last service date within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[next_service_date]",
      "in": "query",
      "description": "Return item(s) with a next service date within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Equipment",
         "items": {
          "type": "object",
          "description": "Managed Equipment",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "name": {
            "type": "string",
            "description": "The name of the install managed equipment",
            "example": "Backhoe"
           },
           "company_id": {
            "type": "integer",
            "description": "The Comapny ID the Managed Equipment was created with",
            "example": 1
           },
           "current_project_id": {
            "type": "integer",
            "description": "Project ids the equipment is involved in",
            "example": 1
           },
           "company_visible": {
            "type": "boolean",
            "description": "Is the equipment visible as a company equipment",
            "example": false
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the managed equipment was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the managed equipment was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the managed equipment was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "serial_number": {
            "type": "string",
            "description": "Serial number of the equipment",
            "example": "S#12892"
           },
           "identification_number": {
            "type": "string",
            "description": "Identification number of the equipment",
            "example": "ID#9018290"
           },
           "description": {
            "type": "string",
            "description": "description of the equipment",
            "example": "This equipment was brought in for the backyard work."
           },
           "managed_equipment_make_id": {
            "type": "integer",
            "description": "ID of the equipment make",
            "example": 14
           },
           "managed_equipment_model_id": {
            "type": "integer",
            "description": "ID of the equipment model",
            "example": 13
           },
           "managed_equipment_type_id": {
            "type": "integer",
            "description": "ID of the equipment type",
            "example": 132
           },
           "managed_equipment_category_id": {
            "type": "integer",
            "description": "ID of the equipment category",
            "example": 13
           },
           "year": {
            "type": "integer",
            "description": "Year the equipment was manufactured in",
            "example": 2017
           },
           "status": {
            "type": "string",
            "description": "Status",
            "example": "in_use"
           },
           "ownership": {
            "type": "string",
            "description": "The type of ownership",
            "example": "owned"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "managed_equipment_make": {
            "type": "object",
            "title": "ManagedEquipmentMake",
            "description": "Equipment Make",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment make",
              "example": "CAT"
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "if the equipment make is currently active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "managed_equipment_model": {
            "type": "object",
            "title": "ManagedEquipmentModel",
            "description": "Equipment Model",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment model",
              "example": "Earthmoving"
             },
             "managed_equipment_make_id": {
              "type": "integer",
              "description": "Equipment make ID the model is associated to",
              "example": 3355
             },
             "managed_equipment_type_id": {
              "type": "integer",
              "description": "Equipment type ID the model is associated to",
              "example": 3356
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "Is Active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment model was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment model was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment model was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "managed_equipment_make": {
              "type": "object",
              "title": "ManagedEquipmentMake",
              "description": "Equipment Make",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 75414
               },
               "name": {
                "type": "string",
                "description": "Name of the equipment make",
                "example": "CAT"
               },
               "company_id": {
                "type": "integer",
                "description": "Company ID",
                "example": 3355
               },
               "is_active": {
                "type": "boolean",
                "description": "if the equipment make is currently active",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment make was updated",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment make was created",
                "example": "2015-11-12T21:26:28Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment make was deleted",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             },
             "managed_equipment_type": {
              "type": "object",
              "title": "ManagedEquipmentType",
              "description": "Equipment Type",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 75414
               },
               "name": {
                "type": "string",
                "description": "Name of the equipment Type",
                "example": "Backhoe"
               },
               "managed_equipment_category_id": {
                "type": "integer",
                "description": "Equipment category ID the type is associated with",
                "example": 3355
               },
               "company_id": {
                "type": "integer",
                "description": "Company ID",
                "example": 3355
               },
               "is_active": {
                "type": "boolean",
                "description": "Is Active",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment type was updated",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment type was created",
                "example": "2015-11-12T21:26:28Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment type was deleted",
                "example": "2015-11-12T21:26:28Z"
               },
               "managed_equipment_category": {
                "type": "object",
                "title": "ManagedEquipmentCategory",
                "description": "Equipment Category",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 75414
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the equipment category",
                  "example": "Earthmoving"
                 },
                 "company_id": {
                  "type": "integer",
                  "description": "Company ID",
                  "example": 3355
                 },
                 "is_active": {
                  "type": "boolean",
                  "description": "If the category is currently active",
                  "example": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the equipment category was updated",
                  "example": "2015-11-12T21:26:28Z"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the equipment category was created",
                  "example": "2015-11-12T21:26:28Z"
                 },
                 "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the equipment category was deleted",
                  "example": "2015-11-12T21:26:28Z"
                 },
                 "created_by": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 160586
                   },
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Carl Contractor"
                   }
                  }
                 }
                }
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             }
            }
           },
           "managed_equipment_category": {
            "type": "object",
            "title": "ManagedEquipmentCategory",
            "description": "Equipment Category",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment category",
              "example": "Earthmoving"
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "If the category is currently active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "managed_equipment_type": {
            "type": "object",
            "title": "ManagedEquipmentType",
            "description": "Equipment Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment Type",
              "example": "Backhoe"
             },
             "managed_equipment_category_id": {
              "type": "integer",
              "description": "Equipment category ID the type is associated with",
              "example": 3355
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "Is Active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "managed_equipment_category": {
              "type": "object",
              "title": "ManagedEquipmentCategory",
              "description": "Equipment Category",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 75414
               },
               "name": {
                "type": "string",
                "description": "Name of the equipment category",
                "example": "Earthmoving"
               },
               "company_id": {
                "type": "integer",
                "description": "Company ID",
                "example": 3355
               },
               "is_active": {
                "type": "boolean",
                "description": "If the category is currently active",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was updated",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was created",
                "example": "2015-11-12T21:26:28Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was deleted",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[managed_equipment_id]': 'SOME_INTEGER_VALUE',\n    'filters[managed_equipment_category_id]': 'SOME_INTEGER_VALUE',\n    'filters[managed_equipment_type_id]': 'SOME_INTEGER_VALUE',\n    'filters[managed_equipment_make_id]': 'SOME_INTEGER_VALUE',\n    'filters[managed_equipment_model_id]': 'SOME_INTEGER_VALUE',\n    'filters[company_visible]': 'SOME_BOOLEAN_VALUE',\n    'filters[current_project_id]': 'SOME_INTEGER_VALUE',\n    'filters[year]': 'SOME_INTEGER_VALUE',\n    'filters[status]': 'SOME_ARRAY_VALUE',\n    'filters[last_service_date]': 'SOME_STRING_VALUE',\n    'filters[next_service_date]': 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bmanaged_equipment_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_category_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_type_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_make_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_model_id%5D=SOME_INTEGER_VALUE&filters%5Bcompany_visible%5D=SOME_BOOLEAN_VALUE&filters%5Bcurrent_project_id%5D=SOME_INTEGER_VALUE&filters%5Byear%5D=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Blast_service_date%5D=SOME_STRING_VALUE&filters%5Bnext_service_date%5D=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bmanaged_equipment_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_category_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_type_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_make_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_model_id%5D=SOME_INTEGER_VALUE&filters%5Bcompany_visible%5D=SOME_BOOLEAN_VALUE&filters%5Bcurrent_project_id%5D=SOME_INTEGER_VALUE&filters%5Byear%5D=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Blast_service_date%5D=SOME_STRING_VALUE&filters%5Bnext_service_date%5D=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bmanaged_equipment_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_category_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_type_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_make_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_model_id%5D=SOME_INTEGER_VALUE&filters%5Bcompany_visible%5D=SOME_BOOLEAN_VALUE&filters%5Bcurrent_project_id%5D=SOME_INTEGER_VALUE&filters%5Byear%5D=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Blast_service_date%5D=SOME_STRING_VALUE&filters%5Bnext_service_date%5D=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List all Equipment is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "GET /companies/{company_id}/managed_equipment",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "managed-equipment---company-level?version=1.0#list-all-equipment"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Create Equipment",
    "description": "Create a new Equipment associated with the specified company.",
    "tags": [
     "Managed Equipment"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Managed Equipment Body",
        "type": "object",
        "required": [
         "managed_equipment"
        ],
        "properties": {
         "managed_equipment": {
          "title": "ManagedEquipment",
          "type": "object",
          "description": "Managed Equipment Object",
          "properties": {
           "current_project_id": {
            "type": "integer",
            "description": "ID of the project the equipment is currently dispatched to",
            "example": 14406
           },
           "name": {
            "type": "string",
            "description": "Name of the equipment",
            "example": "Backhoe"
           },
           "serial_number": {
            "type": "string",
            "description": "Serial number of the equipment",
            "example": "S#12892"
           },
           "identification_number": {
            "type": "string",
            "description": "Identification number of the equipment",
            "example": "ID982011"
           },
           "description": {
            "type": "string",
            "description": "description of the equipment",
            "example": "This equipment was brought in for the backyard work."
           },
           "managed_equipment_make_id": {
            "type": "integer",
            "description": "ID of the equipment make",
            "example": 14
           },
           "managed_equipment_model_id": {
            "type": "integer",
            "description": "ID of the equipment model",
            "example": 13
           },
           "managed_equipment_type_id": {
            "type": "integer",
            "description": "ID of the equipment type",
            "example": 13
           },
           "managed_equipment_category_id": {
            "type": "integer",
            "description": "ID of the equipment category",
            "example": 13
           },
           "company_visible": {
            "type": "boolean",
            "description": "Company visible",
            "example": false
           },
           "year": {
            "type": "integer",
            "description": "Year the equipment was manufactured in",
            "example": 2017
           },
           "status": {
            "type": "string",
            "description": "Status",
            "enum": [
             "available",
             "in_use",
             "under_maintenance"
            ],
            "example": "in_use"
           },
           "ownership": {
            "type": "string",
            "description": "The type of ownership",
            "enum": [
             "owned",
             "rented",
             "sub"
            ],
            "example": "owned"
           },
           "upload_uuids": {
            "type": "array",
            "description": "Array of upload uuids",
            "items": {
             "type": "string",
             "example": "01JDENGN32Z9AJN1EB8R6NWYGD"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Equipment Created Succesfully",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Managed Equipment",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 75414
          },
          "name": {
           "type": "string",
           "description": "The name of the install managed equipment",
           "example": "Backhoe"
          },
          "company_id": {
           "type": "integer",
           "description": "The Comapny ID the Managed Equipment was created with",
           "example": 1
          },
          "current_project_id": {
           "type": "integer",
           "description": "Project ids the equipment is involved in",
           "example": 1
          },
          "company_visible": {
           "type": "boolean",
           "description": "Is the equipment visible as a company equipment",
           "example": false
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the managed equipment was updated",
           "example": "2015-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the managed equipment was created",
           "example": "2015-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the managed equipment was deleted",
           "example": "2015-11-12T21:26:28Z"
          },
          "serial_number": {
           "type": "string",
           "description": "Serial number of the equipment",
           "example": "S#12892"
          },
          "identification_number": {
           "type": "string",
           "description": "Identification number of the equipment",
           "example": "ID#9018290"
          },
          "description": {
           "type": "string",
           "description": "description of the equipment",
           "example": "This equipment was brought in for the backyard work."
          },
          "managed_equipment_make_id": {
           "type": "integer",
           "description": "ID of the equipment make",
           "example": 14
          },
          "managed_equipment_model_id": {
           "type": "integer",
           "description": "ID of the equipment model",
           "example": 13
          },
          "managed_equipment_type_id": {
           "type": "integer",
           "description": "ID of the equipment type",
           "example": 132
          },
          "managed_equipment_category_id": {
           "type": "integer",
           "description": "ID of the equipment category",
           "example": 13
          },
          "year": {
           "type": "integer",
           "description": "Year the equipment was manufactured in",
           "example": 2017
          },
          "status": {
           "type": "string",
           "description": "Status",
           "example": "in_use"
          },
          "ownership": {
           "type": "string",
           "description": "The type of ownership",
           "example": "owned"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "managed_equipment_make": {
           "type": "object",
           "title": "ManagedEquipmentMake",
           "description": "Equipment Make",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment make",
             "example": "CAT"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "if the equipment make is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment make was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "managed_equipment_model": {
           "type": "object",
           "title": "ManagedEquipmentModel",
           "description": "Equipment Model",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment model",
             "example": "Earthmoving"
            },
            "managed_equipment_make_id": {
             "type": "integer",
             "description": "Equipment make ID the model is associated to",
             "example": 3355
            },
            "managed_equipment_type_id": {
             "type": "integer",
             "description": "Equipment type ID the model is associated to",
             "example": 3356
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "Is Active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment model was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment model was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment model was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "managed_equipment_make": {
             "type": "object",
             "title": "ManagedEquipmentMake",
             "description": "Equipment Make",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 75414
              },
              "name": {
               "type": "string",
               "description": "Name of the equipment make",
               "example": "CAT"
              },
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 3355
              },
              "is_active": {
               "type": "boolean",
               "description": "if the equipment make is currently active",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment make was updated",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment make was created",
               "example": "2015-11-12T21:26:28Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment make was deleted",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              }
             }
            },
            "managed_equipment_type": {
             "type": "object",
             "title": "ManagedEquipmentType",
             "description": "Equipment Type",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 75414
              },
              "name": {
               "type": "string",
               "description": "Name of the equipment Type",
               "example": "Backhoe"
              },
              "managed_equipment_category_id": {
               "type": "integer",
               "description": "Equipment category ID the type is associated with",
               "example": 3355
              },
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 3355
              },
              "is_active": {
               "type": "boolean",
               "description": "Is Active",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment type was updated",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment type was created",
               "example": "2015-11-12T21:26:28Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment type was deleted",
               "example": "2015-11-12T21:26:28Z"
              },
              "managed_equipment_category": {
               "type": "object",
               "title": "ManagedEquipmentCategory",
               "description": "Equipment Category",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 75414
                },
                "name": {
                 "type": "string",
                 "description": "Name of the equipment category",
                 "example": "Earthmoving"
                },
                "company_id": {
                 "type": "integer",
                 "description": "Company ID",
                 "example": 3355
                },
                "is_active": {
                 "type": "boolean",
                 "description": "If the category is currently active",
                 "example": true
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Date the equipment category was updated",
                 "example": "2015-11-12T21:26:28Z"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Date the equipment category was created",
                 "example": "2015-11-12T21:26:28Z"
                },
                "deleted_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Date the equipment category was deleted",
                 "example": "2015-11-12T21:26:28Z"
                },
                "created_by": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 160586
                  },
                  "login": {
                   "type": "string",
                   "description": "Email",
                   "example": "carl.contractor@example.com"
                  },
                  "name": {
                   "type": "string",
                   "description": "Name",
                   "example": "Carl Contractor"
                  }
                 }
                }
               }
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              }
             }
            }
           }
          },
          "managed_equipment_category": {
           "type": "object",
           "title": "ManagedEquipmentCategory",
           "description": "Equipment Category",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment category",
             "example": "Earthmoving"
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "If the category is currently active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment category was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          },
          "managed_equipment_type": {
           "type": "object",
           "title": "ManagedEquipmentType",
           "description": "Equipment Type",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 75414
            },
            "name": {
             "type": "string",
             "description": "Name of the equipment Type",
             "example": "Backhoe"
            },
            "managed_equipment_category_id": {
             "type": "integer",
             "description": "Equipment category ID the type is associated with",
             "example": 3355
            },
            "company_id": {
             "type": "integer",
             "description": "Company ID",
             "example": 3355
            },
            "is_active": {
             "type": "boolean",
             "description": "Is Active",
             "example": true
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was updated",
             "example": "2015-11-12T21:26:28Z"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was created",
             "example": "2015-11-12T21:26:28Z"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "description": "Date the equipment type was deleted",
             "example": "2015-11-12T21:26:28Z"
            },
            "managed_equipment_category": {
             "type": "object",
             "title": "ManagedEquipmentCategory",
             "description": "Equipment Category",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 75414
              },
              "name": {
               "type": "string",
               "description": "Name of the equipment category",
               "example": "Earthmoving"
              },
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 3355
              },
              "is_active": {
               "type": "boolean",
               "description": "If the category is currently active",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was updated",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was created",
               "example": "2015-11-12T21:26:28Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Date the equipment category was deleted",
               "example": "2015-11-12T21:26:28Z"
              },
              "created_by": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 160586
                },
                "login": {
                 "type": "string",
                 "description": "Email",
                 "example": "carl.contractor@example.com"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "example": "Carl Contractor"
                }
               }
              }
             }
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Error creating a piece Equipment",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment',\n  headers: {'content-type': 'application/json'},\n  body: {\n    managed_equipment: {\n      current_project_id: 14406,\n      name: 'Backhoe',\n      serial_number: 'S#12892',\n      identification_number: 'ID982011',\n      description: 'This equipment was brought in for the backyard work.',\n      managed_equipment_make_id: 14,\n      managed_equipment_model_id: 13,\n      managed_equipment_type_id: 13,\n      managed_equipment_category_id: 13,\n      company_visible: false,\n      year: 2017,\n      status: 'in_use',\n      ownership: 'owned',\n      upload_uuids: ['01JDENGN32Z9AJN1EB8R6NWYGD']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"managed_equipment\\\":{\\\"current_project_id\\\":14406,\\\"name\\\":\\\"Backhoe\\\",\\\"serial_number\\\":\\\"S#12892\\\",\\\"identification_number\\\":\\\"ID982011\\\",\\\"description\\\":\\\"This equipment was brought in for the backyard work.\\\",\\\"managed_equipment_make_id\\\":14,\\\"managed_equipment_model_id\\\":13,\\\"managed_equipment_type_id\\\":13,\\\"managed_equipment_category_id\\\":13,\\\"company_visible\\\":false,\\\"year\\\":2017,\\\"status\\\":\\\"in_use\\\",\\\"ownership\\\":\\\"owned\\\",\\\"upload_uuids\\\":[\\\"01JDENGN32Z9AJN1EB8R6NWYGD\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment \\\n  --header 'content-type: application/json' \\\n  --data '{\"managed_equipment\":{\"current_project_id\":14406,\"name\":\"Backhoe\",\"serial_number\":\"S#12892\",\"identification_number\":\"ID982011\",\"description\":\"This equipment was brought in for the backyard work.\",\"managed_equipment_make_id\":14,\"managed_equipment_model_id\":13,\"managed_equipment_type_id\":13,\"managed_equipment_category_id\":13,\"company_visible\":false,\"year\":2017,\"status\":\"in_use\",\"ownership\":\"owned\",\"upload_uuids\":[\"01JDENGN32Z9AJN1EB8R6NWYGD\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment\"),\n    Content = new StringContent(\"{\\\"managed_equipment\\\":{\\\"current_project_id\\\":14406,\\\"name\\\":\\\"Backhoe\\\",\\\"serial_number\\\":\\\"S#12892\\\",\\\"identification_number\\\":\\\"ID982011\\\",\\\"description\\\":\\\"This equipment was brought in for the backyard work.\\\",\\\"managed_equipment_make_id\\\":14,\\\"managed_equipment_model_id\\\":13,\\\"managed_equipment_type_id\\\":13,\\\"managed_equipment_category_id\\\":13,\\\"company_visible\\\":false,\\\"year\\\":2017,\\\"status\\\":\\\"in_use\\\",\\\"ownership\\\":\\\"owned\\\",\\\"upload_uuids\\\":[\\\"01JDENGN32Z9AJN1EB8R6NWYGD\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Create Equipment is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "POST /companies/{company_id}/managed_equipment",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "managed-equipment---company-level?version=1.0#create-equipment"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment/query": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
    "x-deprecated-at": "2024-12-01",
    "x-sunset": "2025-12-02",
    "summary": "Search all equipment",
    "description": "Return a list of all searched equipment with details for a specified company.",
    "tags": [
     "Managed Equipment"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[managed_equipment_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[managed_equipment_category_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment Category ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[managed_equipment_type_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment Type ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[managed_equipment_make_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment Make ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[managed_equipment_model_id]",
      "in": "query",
      "description": "Return item(s) with the specified Managed Equipment Model ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[company_visible]",
      "in": "query",
      "description": "If true, return item(s) with 'company visible' status.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[current_project_id]",
      "in": "query",
      "description": "Return item(s) with the specified current project ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[year]",
      "in": "query",
      "description": "Return item(s) with the specified year.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Returns item(s) matching the specified status value.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[last_service_date]",
      "in": "query",
      "description": "Return item(s) with a last service date within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[next_service_date]",
      "in": "query",
      "description": "Return item(s) with a next service date within the specified ISO 8601 datetime range.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "search_keyword",
      "in": "query",
      "description": "Search keyword to search Project Managed Equipment.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of equipment",
         "items": {
          "type": "object",
          "description": "Managed Equipment",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 75414
           },
           "name": {
            "type": "string",
            "description": "The name of the install managed equipment",
            "example": "Backhoe"
           },
           "company_id": {
            "type": "integer",
            "description": "The Comapny ID the Managed Equipment was created with",
            "example": 1
           },
           "current_project_id": {
            "type": "integer",
            "description": "Project ids the equipment is involved in",
            "example": 1
           },
           "company_visible": {
            "type": "boolean",
            "description": "Is the equipment visible as a company equipment",
            "example": false
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the managed equipment was updated",
            "example": "2015-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the managed equipment was created",
            "example": "2015-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the managed equipment was deleted",
            "example": "2015-11-12T21:26:28Z"
           },
           "serial_number": {
            "type": "string",
            "description": "Serial number of the equipment",
            "example": "S#12892"
           },
           "identification_number": {
            "type": "string",
            "description": "Identification number of the equipment",
            "example": "ID#9018290"
           },
           "description": {
            "type": "string",
            "description": "description of the equipment",
            "example": "This equipment was brought in for the backyard work."
           },
           "managed_equipment_make_id": {
            "type": "integer",
            "description": "ID of the equipment make",
            "example": 14
           },
           "managed_equipment_model_id": {
            "type": "integer",
            "description": "ID of the equipment model",
            "example": 13
           },
           "managed_equipment_type_id": {
            "type": "integer",
            "description": "ID of the equipment type",
            "example": 132
           },
           "managed_equipment_category_id": {
            "type": "integer",
            "description": "ID of the equipment category",
            "example": 13
           },
           "year": {
            "type": "integer",
            "description": "Year the equipment was manufactured in",
            "example": 2017
           },
           "status": {
            "type": "string",
            "description": "Status",
            "example": "in_use"
           },
           "ownership": {
            "type": "string",
            "description": "The type of ownership",
            "example": "owned"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "managed_equipment_make": {
            "type": "object",
            "title": "ManagedEquipmentMake",
            "description": "Equipment Make",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment make",
              "example": "CAT"
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "if the equipment make is currently active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment make was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "managed_equipment_model": {
            "type": "object",
            "title": "ManagedEquipmentModel",
            "description": "Equipment Model",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment model",
              "example": "Earthmoving"
             },
             "managed_equipment_make_id": {
              "type": "integer",
              "description": "Equipment make ID the model is associated to",
              "example": 3355
             },
             "managed_equipment_type_id": {
              "type": "integer",
              "description": "Equipment type ID the model is associated to",
              "example": 3356
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "Is Active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment model was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment model was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment model was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             },
             "managed_equipment_make": {
              "type": "object",
              "title": "ManagedEquipmentMake",
              "description": "Equipment Make",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 75414
               },
               "name": {
                "type": "string",
                "description": "Name of the equipment make",
                "example": "CAT"
               },
               "company_id": {
                "type": "integer",
                "description": "Company ID",
                "example": 3355
               },
               "is_active": {
                "type": "boolean",
                "description": "if the equipment make is currently active",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment make was updated",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment make was created",
                "example": "2015-11-12T21:26:28Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment make was deleted",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             },
             "managed_equipment_type": {
              "type": "object",
              "title": "ManagedEquipmentType",
              "description": "Equipment Type",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 75414
               },
               "name": {
                "type": "string",
                "description": "Name of the equipment Type",
                "example": "Backhoe"
               },
               "managed_equipment_category_id": {
                "type": "integer",
                "description": "Equipment category ID the type is associated with",
                "example": 3355
               },
               "company_id": {
                "type": "integer",
                "description": "Company ID",
                "example": 3355
               },
               "is_active": {
                "type": "boolean",
                "description": "Is Active",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment type was updated",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment type was created",
                "example": "2015-11-12T21:26:28Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment type was deleted",
                "example": "2015-11-12T21:26:28Z"
               },
               "managed_equipment_category": {
                "type": "object",
                "title": "ManagedEquipmentCategory",
                "description": "Equipment Category",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 75414
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the equipment category",
                  "example": "Earthmoving"
                 },
                 "company_id": {
                  "type": "integer",
                  "description": "Company ID",
                  "example": 3355
                 },
                 "is_active": {
                  "type": "boolean",
                  "description": "If the category is currently active",
                  "example": true
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the equipment category was updated",
                  "example": "2015-11-12T21:26:28Z"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the equipment category was created",
                  "example": "2015-11-12T21:26:28Z"
                 },
                 "deleted_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date the equipment category was deleted",
                  "example": "2015-11-12T21:26:28Z"
                 },
                 "created_by": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "ID",
                    "example": 160586
                   },
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Carl Contractor"
                   }
                  }
                 }
                }
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             }
            }
           },
           "managed_equipment_category": {
            "type": "object",
            "title": "ManagedEquipmentCategory",
            "description": "Equipment Category",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment category",
              "example": "Earthmoving"
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "If the category is currently active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment category was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           },
           "managed_equipment_type": {
            "type": "object",
            "title": "ManagedEquipmentType",
            "description": "Equipment Type",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 75414
             },
             "name": {
              "type": "string",
              "description": "Name of the equipment Type",
              "example": "Backhoe"
             },
             "managed_equipment_category_id": {
              "type": "integer",
              "description": "Equipment category ID the type is associated with",
              "example": 3355
             },
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 3355
             },
             "is_active": {
              "type": "boolean",
              "description": "Is Active",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was updated",
              "example": "2015-11-12T21:26:28Z"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was created",
              "example": "2015-11-12T21:26:28Z"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date the equipment type was deleted",
              "example": "2015-11-12T21:26:28Z"
             },
             "managed_equipment_category": {
              "type": "object",
              "title": "ManagedEquipmentCategory",
              "description": "Equipment Category",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 75414
               },
               "name": {
                "type": "string",
                "description": "Name of the equipment category",
                "example": "Earthmoving"
               },
               "company_id": {
                "type": "integer",
                "description": "Company ID",
                "example": 3355
               },
               "is_active": {
                "type": "boolean",
                "description": "If the category is currently active",
                "example": true
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was updated",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was created",
                "example": "2015-11-12T21:26:28Z"
               },
               "deleted_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date the equipment category was deleted",
                "example": "2015-11-12T21:26:28Z"
               },
               "created_by": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 160586
                 },
                 "login": {
                  "type": "string",
                  "description": "Email",
                  "example": "carl.contractor@example.com"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Carl Contractor"
                 }
                }
               }
              }
             },
             "created_by": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 160586
               },
               "login": {
                "type": "string",
                "description": "Email",
                "example": "carl.contractor@example.com"
               },
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Carl Contractor"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment/query',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[updated_at]': 'SOME_STRING_VALUE',\n    'filters[managed_equipment_id]': 'SOME_INTEGER_VALUE',\n    'filters[managed_equipment_category_id]': 'SOME_INTEGER_VALUE',\n    'filters[managed_equipment_type_id]': 'SOME_INTEGER_VALUE',\n    'filters[managed_equipment_make_id]': 'SOME_INTEGER_VALUE',\n    'filters[managed_equipment_model_id]': 'SOME_INTEGER_VALUE',\n    'filters[company_visible]': 'SOME_BOOLEAN_VALUE',\n    'filters[current_project_id]': 'SOME_INTEGER_VALUE',\n    'filters[year]': 'SOME_INTEGER_VALUE',\n    'filters[status]': 'SOME_ARRAY_VALUE',\n    'filters[last_service_date]': 'SOME_STRING_VALUE',\n    'filters[next_service_date]': 'SOME_STRING_VALUE',\n    search_keyword: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment/query?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bmanaged_equipment_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_category_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_type_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_make_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_model_id%5D=SOME_INTEGER_VALUE&filters%5Bcompany_visible%5D=SOME_BOOLEAN_VALUE&filters%5Bcurrent_project_id%5D=SOME_INTEGER_VALUE&filters%5Byear%5D=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Blast_service_date%5D=SOME_STRING_VALUE&filters%5Bnext_service_date%5D=SOME_STRING_VALUE&search_keyword=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment/query?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bmanaged_equipment_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_category_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_type_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_make_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_model_id%5D=SOME_INTEGER_VALUE&filters%5Bcompany_visible%5D=SOME_BOOLEAN_VALUE&filters%5Bcurrent_project_id%5D=SOME_INTEGER_VALUE&filters%5Byear%5D=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Blast_service_date%5D=SOME_STRING_VALUE&filters%5Bnext_service_date%5D=SOME_STRING_VALUE&search_keyword=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/managed_equipment/query?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bupdated_at%5D=SOME_STRING_VALUE&filters%5Bmanaged_equipment_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_category_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_type_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_make_id%5D=SOME_INTEGER_VALUE&filters%5Bmanaged_equipment_model_id%5D=SOME_INTEGER_VALUE&filters%5Bcompany_visible%5D=SOME_BOOLEAN_VALUE&filters%5Bcurrent_project_id%5D=SOME_INTEGER_VALUE&filters%5Byear%5D=SOME_INTEGER_VALUE&filters%5Bstatus%5D=SOME_ARRAY_VALUE&filters%5Blast_service_date%5D=SOME_STRING_VALUE&filters%5Bnext_service_date%5D=SOME_STRING_VALUE&search_keyword=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added search endpoint for Company Managed Equipment",
      "description": "Added the ability to search managed equipment for Company Managed Equipment",
      "endpoint": "POST /companies/{company_id}/managed_equipment/query",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "managed-equipment---company-level?version=1.0#search-all-equipment"
     },
     {
      "summary": "Search all equipment is Deprecated",
      "description": "This endpoint is a deprecated endpoint.",
      "endpoint": "POST /companies/{company_id}/managed_equipment/query",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2024-12-01",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "managed-equipment---company-level?version=1.0#search-all-equipment"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/managed_equipment/user_permissions": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "deprecated": true,
[...]
