{
 "openapi": "3.0.0",
 "info": {
  "title": "Manual Forecast Line Items",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Budget",
  "x-resource-name": "Manual Forecast Line Items",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/manual_forecast_line_items": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Manual Forecast Line Items",
    "description": "Returns a list of Manual Forecast Line Items on a given project",
    "tags": [
     "Manual Forecast Line Items"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this manual forecast line item. Use as the {id} path parameter to update or delete the record via /rest/v1.0/projects/{project_id}/manual_forecast_line_items/{id}.",
            "example": 999
           },
           "budget_line_item_id": {
            "type": "integer",
            "description": "ID of the budget line item this manual forecast line item forecasts against.",
            "example": 42
           },
           "wbs_code_id": {
            "type": "integer",
            "description": "ID of the WBS (work breakdown structure) code associated with the parent budget line item.",
            "example": 123
           },
           "budget_forecast_id": {
            "type": "integer",
            "description": "ID of the parent budget forecast that groups this line item.",
            "example": 234
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project this manual forecast line item belongs to. Matches the {project_id} path parameter.",
            "example": 456
           },
           "company_id": {
            "type": "integer",
            "description": "ID of the company that owns this manual forecast line item.",
            "example": 567
           },
           "description": {
            "type": "string",
            "description": "Free-text label for the forecast line item, typically the resource or role being forecast.",
            "example": "Senior Project Manager"
           },
           "quantity": {
            "type": "integer",
            "description": "Number of units being forecast, expressed in the given unit of measure (uom).",
            "example": 5
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for the forecast quantity (for example, months or weeks).",
            "example": "months"
           },
           "unit_cost": {
            "type": "string",
            "format": "float",
            "description": "Cost per unit, as a decimal string. Multiplied by quantity to produce amount.",
            "example": "2250.0"
           },
           "amount": {
            "type": "string",
            "format": "float",
            "description": "Total forecast amount (quantity multiplied by unit_cost), as a decimal string.",
            "example": "11250.0"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this manual forecast line item was created, in ISO 8601 format.",
            "example": "2021-06-27T18:57:01Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this manual forecast line item was last updated, in ISO 8601 format.",
            "example": "2021-06-27T18:57:01Z"
           },
           "currency_configuration": {
            "type": "object",
            "properties": {
             "currency_iso_code": {
              "type": "string",
              "description": "Currency ISO Code configured for the financial entity",
              "example": "USD",
              "nullable": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added New Fields To List Manual Forecast Line Items Endpoint",
      "description": "Modified the list manual forecast line items endpoint to include created_at, updated_at, budget_line_item_id, wbs_code_id, and budget_forecast_id",
      "endpoint": "GET /projects/{project_id}/manual_forecast_line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2021-07-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "manual-forecast-line-items?version=1.0#list-manual-forecast-line-items"
     },
     {
      "summary": "Added Currency Configuration To List Manual Forecast Line Items Endpoint",
      "description": "Modified the list manual forecast line items endpoint response to include currency_configuration containing information about currency amounts for the line item",
      "endpoint": "GET /projects/{project_id}/manual_forecast_line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-08-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "manual-forecast-line-items?version=1.0#list-manual-forecast-line-items"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create A Manual Forecast Line Item",
    "description": "Create a manual forecast line item for a budget line item.\n\nWhen `async: true` and Budget Columns 2.0 is enabled, the response is `202 Accepted` with a `receipt_id`.\nWhen `async: false` (default) or Budget Columns 2.0 is disabled, the response is `201 Created`.",
    "tags": [
     "Manual Forecast Line Items"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "anyOf": [
         {
          "required": [
           "budget_line_item_id"
          ]
         },
         {
          "required": [
           "wbs_code_id"
          ]
         }
        ],
        "properties": {
         "async": {
          "type": "boolean",
          "description": "Request asynchronous processing. When `true`, Budget Columns 2.0 must be enabled or the request will return `422`. On success returns `202 Accepted` with a `receipt_id`.",
          "default": false
         },
         "budget_line_item_id": {
          "description": "Identifier of the parent budget line item. NOTE - budget line item id or wbs code id is required",
          "type": "integer",
          "example": 123
         },
         "wbs_code_id": {
          "description": "Wbs code id of the parent budget line item. NOTE - budget line item id or wbs code id is required",
          "type": "integer",
          "example": 234
         },
         "description": {
          "type": "string",
          "description": "Free-text label for the forecast line item, typically the resource or role being forecast.",
          "example": "Senior Project Manager"
         },
         "quantity": {
          "type": "integer",
          "description": "Number of units being forecast, expressed in the given unit of measure (uom).",
          "example": 5
         },
         "uom": {
          "type": "string",
          "description": "Unit of measure for the forecast quantity (for example, months or weeks).",
          "example": "months"
         },
         "unit_cost": {
          "type": "number",
          "format": "float",
          "description": "Cost per unit. Multiplied by quantity to produce amount.",
          "example": "2250.0"
         },
         "amount": {
          "type": "number",
          "format": "float",
          "description": "Total forecast amount (quantity multiplied by unit_cost).",
          "example": "11250.0"
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this manual forecast line item. Use as the {id} path parameter to update or delete the record via /rest/v1.0/projects/{project_id}/manual_forecast_line_items/{id}.",
             "example": 999
            },
            "budget_line_item_id": {
             "type": "integer",
             "description": "ID of the budget line item this manual forecast line item forecasts against.",
             "example": 42
            },
            "wbs_code_id": {
             "type": "integer",
             "description": "ID of the WBS (work breakdown structure) code associated with the parent budget line item.",
             "example": 123
            },
            "budget_forecast_id": {
             "type": "integer",
             "description": "ID of the parent budget forecast that groups this line item.",
             "example": 234
            },
            "project_id": {
             "type": "integer",
             "description": "ID of the project this manual forecast line item belongs to. Matches the {project_id} path parameter.",
             "example": 456
            },
            "company_id": {
             "type": "integer",
             "description": "ID of the company that owns this manual forecast line item.",
             "example": 567
            },
            "description": {
             "type": "string",
             "description": "Free-text label for the forecast line item, typically the resource or role being forecast.",
             "example": "Senior Project Manager"
            },
            "quantity": {
             "type": "integer",
             "description": "Number of units being forecast, expressed in the given unit of measure (uom).",
             "example": 5
            },
            "uom": {
             "type": "string",
             "description": "Unit of measure for the forecast quantity (for example, months or weeks).",
             "example": "months"
            },
            "unit_cost": {
             "type": "string",
             "format": "float",
             "description": "Cost per unit, as a decimal string. Multiplied by quantity to produce amount.",
             "example": "2250.0"
            },
            "amount": {
             "type": "string",
             "format": "float",
             "description": "Total forecast amount (quantity multiplied by unit_cost), as a decimal string.",
             "example": "11250.0"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this manual forecast line item was created, in ISO 8601 format.",
             "example": "2021-06-27T18:57:01Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this manual forecast line item was last updated, in ISO 8601 format.",
             "example": "2021-06-27T18:57:01Z"
            },
            "currency_configuration": {
             "type": "object",
             "properties": {
              "currency_iso_code": {
               "type": "string",
               "description": "Currency ISO Code configured for the financial entity",
               "example": "USD",
               "nullable": true
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "202": {
      "description": "Accepted (async)",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "description": "Receipt for an asynchronous update",
           "properties": {
            "receipt_id": {
             "type": "string",
             "description": "ID used to poll `Check confirm budget version` API before re-fetching budget data",
             "example": "12345"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items',\n  headers: {'content-type': 'application/json'},\n  body: {\n    async: false,\n    budget_line_item_id: 123,\n    wbs_code_id: 234,\n    description: 'Senior Project Manager',\n    quantity: 5,\n    uom: 'months',\n    unit_cost: '2250.0',\n    amount: '11250.0'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"async\\\":false,\\\"budget_line_item_id\\\":123,\\\"wbs_code_id\\\":234,\\\"description\\\":\\\"Senior Project Manager\\\",\\\"quantity\\\":5,\\\"uom\\\":\\\"months\\\",\\\"unit_cost\\\":\\\"2250.0\\\",\\\"amount\\\":\\\"11250.0\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items \\\n  --header 'content-type: application/json' \\\n  --data '{\"async\":false,\"budget_line_item_id\":123,\"wbs_code_id\":234,\"description\":\"Senior Project Manager\",\"quantity\":5,\"uom\":\"months\",\"unit_cost\":\"2250.0\",\"amount\":\"11250.0\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items\"),\n    Content = new StringContent(\"{\\\"async\\\":false,\\\"budget_line_item_id\\\":123,\\\"wbs_code_id\\\":234,\\\"description\\\":\\\"Senior Project Manager\\\",\\\"quantity\\\":5,\\\"uom\\\":\\\"months\\\",\\\"unit_cost\\\":\\\"2250.0\\\",\\\"amount\\\":\\\"11250.0\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Manual Forecast Line Item Creation Endpoint",
      "description": "Added an endpoint to create a manual forecast line item",
      "endpoint": "POST /projects/{project_id}/manual_forecast_line_items",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-06-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "manual-forecast-line-items?version=1.0#create-a-manual-forecast-line-item"
     },
     {
      "summary": "Added Currency Configuration To Create Manual Forecast Line Items Endpoint",
      "description": "Modified the create manual forecast line items endpoint response to include currency_configuration containing information about currency amounts for the line item",
      "endpoint": "POST /projects/{project_id}/manual_forecast_line_items",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-08-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "manual-forecast-line-items?version=1.0#create-a-manual-forecast-line-item"
     },
     {
      "summary": "Added async support to Manual Forecast Line Items endpoints",
      "description": "The Create, Update, and Delete Manual Forecast Line Item endpoints now accept an optional `async` boolean parameter.\nWhen `async: true` and Budget Columns 2.0 is enabled, the response is `202 Accepted` with a `receipt_id`.\nWhen `async: false` (default) or Budget Columns 2.0 is disabled, the\nstandard synchronous response is returned. When `async: true` but Budget Columns 2.0 is not enabled,\nthe response is `422 Unprocessable Entity`.",
      "endpoint": "POST /projects/{project_id}/manual_forecast_line_items",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-06-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "manual-forecast-line-items?version=1.0#create-a-manual-forecast-line-item"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/projects/{project_id}/manual_forecast_line_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Unique identifier for the manual forecast line item.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update A Manual Forecast Line Item",
    "description": "Update a manual forecast line item for a budget line item.\n\nWhen `async: true` and Budget Columns 2.0 is enabled, the response is `202 Accepted` with a `receipt_id`.\nWhen `async: false` (default) or Budget Columns 2.0 is disabled, the response is `200 OK`.",
    "tags": [
     "Manual Forecast Line Items"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "anyOf": [
         {
          "required": [
           "budget_line_item_id"
          ]
         },
         {
          "required": [
           "wbs_code_id"
          ]
         }
        ],
        "properties": {
         "async": {
          "type": "boolean",
          "description": "Request asynchronous processing. When `true`, Budget Columns 2.0 must be enabled or the request will return `422`. On success returns `202 Accepted` with a `receipt_id`.",
          "default": false
         },
         "budget_line_item_id": {
          "description": "Identifier of the parent budget line item. NOTE - budget line item id or wbs code id is required",
          "type": "integer",
          "example": 123
         },
         "wbs_code_id": {
          "description": "Wbs code id of the parent budget line item. NOTE - budget line item id or wbs code id is required",
          "type": "integer",
          "example": 234
         },
         "description": {
          "type": "string",
          "description": "Free-text label for the forecast line item, typically the resource or role being forecast.",
          "example": "Senior Project Manager"
         },
         "quantity": {
          "type": "integer",
          "description": "Number of units being forecast, expressed in the given unit of measure (uom).",
          "example": 5
         },
         "uom": {
          "type": "string",
          "description": "Unit of measure for the forecast quantity (for example, months or weeks).",
          "example": "months"
         },
         "unit_cost": {
          "type": "number",
          "format": "float",
          "description": "Cost per unit. Multiplied by quantity to produce amount.",
          "example": "2250.0"
         },
         "amount": {
          "type": "number",
          "format": "float",
          "description": "Total forecast amount (quantity multiplied by unit_cost).",
          "example": "11250.0"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this manual forecast line item. Use as the {id} path parameter to update or delete the record via /rest/v1.0/projects/{project_id}/manual_forecast_line_items/{id}.",
             "example": 999
            },
            "budget_line_item_id": {
             "type": "integer",
             "description": "ID of the budget line item this manual forecast line item forecasts against.",
             "example": 42
            },
            "wbs_code_id": {
             "type": "integer",
             "description": "ID of the WBS (work breakdown structure) code associated with the parent budget line item.",
             "example": 123
            },
            "budget_forecast_id": {
             "type": "integer",
             "description": "ID of the parent budget forecast that groups this line item.",
             "example": 234
            },
            "project_id": {
             "type": "integer",
             "description": "ID of the project this manual forecast line item belongs to. Matches the {project_id} path parameter.",
             "example": 456
            },
            "company_id": {
             "type": "integer",
             "description": "ID of the company that owns this manual forecast line item.",
             "example": 567
            },
            "description": {
             "type": "string",
             "description": "Free-text label for the forecast line item, typically the resource or role being forecast.",
             "example": "Senior Project Manager"
            },
            "quantity": {
             "type": "integer",
             "description": "Number of units being forecast, expressed in the given unit of measure (uom).",
             "example": 5
            },
            "uom": {
             "type": "string",
             "description": "Unit of measure for the forecast quantity (for example, months or weeks).",
             "example": "months"
            },
            "unit_cost": {
             "type": "string",
             "format": "float",
             "description": "Cost per unit, as a decimal string. Multiplied by quantity to produce amount.",
             "example": "2250.0"
            },
            "amount": {
             "type": "string",
             "format": "float",
             "description": "Total forecast amount (quantity multiplied by unit_cost), as a decimal string.",
             "example": "11250.0"
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this manual forecast line item was created, in ISO 8601 format.",
             "example": "2021-06-27T18:57:01Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when this manual forecast line item was last updated, in ISO 8601 format.",
             "example": "2021-06-27T18:57:01Z"
            },
            "currency_configuration": {
             "type": "object",
             "properties": {
              "currency_iso_code": {
               "type": "string",
               "description": "Currency ISO Code configured for the financial entity",
               "example": "USD",
               "nullable": true
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "202": {
      "description": "Accepted (async)",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "description": "Receipt for an asynchronous update",
           "properties": {
            "receipt_id": {
             "type": "string",
             "description": "ID used to poll `Check confirm budget version` API before re-fetching budget data",
             "example": "12345"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    async: false,\n    budget_line_item_id: 123,\n    wbs_code_id: 234,\n    description: 'Senior Project Manager',\n    quantity: 5,\n    uom: 'months',\n    unit_cost: '2250.0',\n    amount: '11250.0'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"async\\\":false,\\\"budget_line_item_id\\\":123,\\\"wbs_code_id\\\":234,\\\"description\\\":\\\"Senior Project Manager\\\",\\\"quantity\\\":5,\\\"uom\\\":\\\"months\\\",\\\"unit_cost\\\":\\\"2250.0\\\",\\\"amount\\\":\\\"11250.0\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"async\":false,\"budget_line_item_id\":123,\"wbs_code_id\":234,\"description\":\"Senior Project Manager\",\"quantity\":5,\"uom\":\"months\",\"unit_cost\":\"2250.0\",\"amount\":\"11250.0\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"async\\\":false,\\\"budget_line_item_id\\\":123,\\\"wbs_code_id\\\":234,\\\"description\\\":\\\"Senior Project Manager\\\",\\\"quantity\\\":5,\\\"uom\\\":\\\"months\\\",\\\"unit_cost\\\":\\\"2250.0\\\",\\\"amount\\\":\\\"11250.0\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Manual Forecast Line Item Update Endpoint",
      "description": "Added an endpoint to update a manual forecast line item",
      "endpoint": "PATCH /projects/{project_id}/manual_forecast_line_items/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-07-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "manual-forecast-line-items?version=1.0#update-a-manual-forecast-line-item"
     },
     {
      "summary": "Added Currency Configuration To Update Manual Forecast Line Items Endpoint",
      "description": "Modified the list manual forecast line items endpoint response to include currency_configuration containing information about currency amounts for the line item",
      "endpoint": "PATCH /projects/{project_id}/manual_forecast_line_items/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-08-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "manual-forecast-line-items?version=1.0#update-a-manual-forecast-line-item"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete A Manual Forecast Line Item",
    "description": "Delete a manual forecast line item for a budget line item.\n\nWhen `async: true` and Budget Columns 2.0 is enabled, the response is `202 Accepted` with a `receipt_id`.\nWhen `async: false` (default) or Budget Columns 2.0 is disabled, the response is `204 No Content`.",
    "tags": [
     "Manual Forecast Line Items"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "budget_line_item_id": {
          "description": "Identifier of the parent budget line item. NOTE - budget line item id or wbs code id is required",
          "type": "integer",
          "example": 123
         },
         "wbs_code_id": {
          "description": "Wbs code id of the parent budget line item. NOTE - budget line item id or wbs code id is required",
          "type": "integer",
          "example": 234
         },
         "async": {
          "type": "boolean",
          "description": "Request asynchronous processing. When `true`, Budget Columns 2.0 must be enabled or the request will return `422`. On success returns `202 Accepted` with a `receipt_id`.",
          "default": false
         }
        }
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted (async)",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "description": "Receipt for an asynchronous update",
           "properties": {
            "receipt_id": {
             "type": "string",
             "description": "ID used to poll `Check confirm budget version` API before re-fetching budget data",
             "example": "12345"
            }
           }
          }
         }
        }
       }
      }
     },
     "204": {
      "description": "The manual forecast line item has been deleted"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {budget_line_item_id: 123, wbs_code_id: 234, async: false},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"budget_line_item_id\\\":123,\\\"wbs_code_id\\\":234,\\\"async\\\":false}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"budget_line_item_id\":123,\"wbs_code_id\":234,\"async\":false}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/manual_forecast_line_items/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"budget_line_item_id\\\":123,\\\"wbs_code_id\\\":234,\\\"async\\\":false}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Manual Forecast Line Item Delete Endpoint",
      "description": "Added an endpoint to delete a manual forecast line item",
      "endpoint": "DELETE /projects/{project_id}/manual_forecast_line_items/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-07-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "manual-forecast-line-items?version=1.0#delete-a-manual-forecast-line-item"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}