{
 "openapi": "3.1.0",
 "info": {
  "title": "Materials",
  "version": "2.0",
  "x-resource-name": "Materials",
  "x-product-category": "Resource Management",
  "x-tool-category": "Materials Management",
  "x-product-lines": [
   "material-management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/materials/sensors/unassign": {
   "patch": {
    "tags": [
     "Materials"
    ],
    "summary": "Unassign sensors from materials",
    "description": "Removes the sensor association from one or more materials. The materials will no longer report sensor data after unassignment.",
    "operationId": "Materials_UnassignSensors",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Material GUID list query",
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "resource_guids"
        ],
        "type": "object",
        "properties": {
         "resource_guids": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          }
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/sensors/unassign',\n  headers: {'content-type': 'application/json'},\n  body: {resource_guids: ['497f6eca-6276-4993-bfeb-53cbbbba6f08']},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"resource_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/sensors/unassign\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/sensors/unassign \\\n  --header 'content-type: application/json' \\\n  --data '{\"resource_guids\":[\"497f6eca-6276-4993-bfeb-53cbbbba6f08\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/sensors/unassign\"),\n    Content = new StringContent(\"{\\\"resource_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/materials/bulk_update": {
   "patch": {
    "tags": [
     "Materials"
    ],
    "summary": "Restore materials in bulk",
    "description": "Only Admin users can restore materials from the recycle bin.",
    "operationId": "Materials_RestoreMaterials",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "Material GUID list query",
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "resource_guids"
        ],
        "type": "object",
        "properties": {
         "resource_guids": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          }
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/bulk_update',\n  headers: {'content-type': 'application/json'},\n  body: {resource_guids: ['497f6eca-6276-4993-bfeb-53cbbbba6f08']},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"resource_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/bulk_update\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/bulk_update \\\n  --header 'content-type: application/json' \\\n  --data '{\"resource_guids\":[\"497f6eca-6276-4993-bfeb-53cbbbba6f08\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/bulk_update\"),\n    Content = new StringContent(\"{\\\"resource_guids\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/materials/sync": {
   "patch": {
    "tags": [
     "Materials"
    ],
    "summary": "Syncs Materials",
    "description": "Creates or updates Materials identified using either ids or origin_ids.\r\nThe maximum number of entities per request is 1000. Exceeding this limit will result in a 413 response.\r\nSee https://developers.procore.com/documentation/using-sync-actions for more information.",
    "operationId": "Materials_SyncMaterials",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "",
     "content": {
      "application/json": {
       "schema": {
        "maxItems": 1000,
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "id": {
           "type": "string",
           "description": "The Procore id of the resource. This should only be set when updating existing resources.",
           "format": "uuid",
           "nullable": true
          },
          "origin_id": {
           "type": "string",
           "description": "The origin id of the resource. If an entry is missing both id and origin_id, then that entry will always be interpreted as an insert.",
           "nullable": true
          },
          "origin_data": {
           "type": "string",
           "description": "The origin data for the resource. Procore does not interpret this value.",
           "nullable": true
          },
          "name": {
           "type": "string",
           "description": "The name of this material.",
           "nullable": true
          },
          "description": {
           "type": "string",
           "description": "The description of this material.",
           "nullable": true
          },
          "uom_name": {
           "type": "string",
           "description": "The unit of measure name for this material.",
           "nullable": true
          },
          "weight": {
           "type": "number",
           "description": "The weight of this material.",
           "format": "double",
           "nullable": true
          },
          "notes": {
           "type": "string",
           "description": "Additional notes about this material.",
           "nullable": true
          }
         },
         "additionalProperties": false,
         "description": "Data transfer object for material sync operations"
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "entities": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
               },
               "origin_id": {
                "type": "string",
                "nullable": true
               },
               "origin_data": {
                "type": "string",
                "nullable": true
               },
               "errors": {
                "type": "object",
                "additionalProperties": {
                 "type": "array",
                 "items": {
                  "type": "string"
                 }
                },
                "nullable": true
               },
               "name": {
                "type": "string",
                "nullable": true
               },
               "description": {
                "type": "string",
                "nullable": true
               },
               "uom_name": {
                "type": "string",
                "nullable": true
               },
               "weight": {
                "type": "number",
                "format": "double",
                "nullable": true
               },
               "notes": {
                "type": "string",
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "description": "The entities",
             "nullable": true
            },
            "errors": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
               },
               "origin_id": {
                "type": "string",
                "nullable": true
               },
               "origin_data": {
                "type": "string",
                "nullable": true
               },
               "errors": {
                "type": "object",
                "additionalProperties": {
                 "type": "array",
                 "items": {
                  "type": "string"
                 }
                },
                "nullable": true
               },
               "name": {
                "type": "string",
                "nullable": true
               },
               "description": {
                "type": "string",
                "nullable": true
               },
               "uom_name": {
                "type": "string",
                "nullable": true
               },
               "weight": {
                "type": "number",
                "format": "double",
                "nullable": true
               },
               "notes": {
                "type": "string",
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "description": "The errors",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Record representing a sync action response, including the entities and errors."
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "413": {
      "description": "The request body exceeds the maximum allowed batch size of 1000 entities.",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/sync',\n  headers: {'content-type': 'application/json'},\n  body: [\n    {\n      id: '497f6eca-6276-4993-bfeb-53cbbbba6f08',\n      origin_id: 'string',\n      origin_data: 'string',\n      name: 'string',\n      description: 'string',\n      uom_name: 'string',\n      weight: 0.1,\n      notes: 'string'\n    }\n  ],\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"[{\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"origin_id\\\":\\\"string\\\",\\\"origin_data\\\":\\\"string\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"uom_name\\\":\\\"string\\\",\\\"weight\\\":0.1,\\\"notes\\\":\\\"string\\\"}]\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/sync\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/sync \\\n  --header 'content-type: application/json' \\\n  --data '[{\"id\":\"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\"origin_id\":\"string\",\"origin_data\":\"string\",\"name\":\"string\",\"description\":\"string\",\"uom_name\":\"string\",\"weight\":0.1,\"notes\":\"string\"}]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/sync\"),\n    Content = new StringContent(\"[{\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"origin_id\\\":\\\"string\\\",\\\"origin_data\\\":\\\"string\\\",\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"uom_name\\\":\\\"string\\\",\\\"weight\\\":0.1,\\\"notes\\\":\\\"string\\\"}]\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/materials/{id}": {
   "delete": {
    "tags": [
     "Materials"
    ],
    "summary": "Recycles a material.",
    "description": "Performs a soft delete (recycle) of the material. The material can be restored from the recycle bin by an admin user.",
    "operationId": "Materials_RecycleMaterial",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The GUID of the material to recycle",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "tags": [
     "Materials"
    ],
    "summary": "Updates material header information.",
    "description": "Updates fields such as name, description, category, and custom properties on a material.\r\nThe material must exist in the project scope.",
    "operationId": "Materials_UpdateMaterialHeader",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The Id of the material",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The material header update request",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "properties_to_add": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to add to the document header.",
          "nullable": true
         },
         "properties_to_update": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to update in the document header.",
          "nullable": true
         },
         "properties_to_delete": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to delete from the document header.",
          "nullable": true
         },
         "name": {
          "type": "string",
          "description": "Name of the document header.",
          "nullable": true
         },
         "description": {
          "type": "string",
          "description": "Description of the document header.",
          "nullable": true
         },
         "notes": {
          "type": "string",
          "description": "Notes associated with the document header.",
          "nullable": true
         },
         "stock_min": {
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer",
          "format": "int32",
          "nullable": true
         },
         "stock_max": {
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer",
          "format": "int32",
          "nullable": true
         },
         "label_guids_to_add": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          },
          "nullable": true
         },
         "label_guids_to_remove": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          },
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Short",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "name": {
             "type": "string",
             "nullable": true
            },
            "description": {
             "type": "string",
             "nullable": true
            },
            "properties": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "key": {
                "type": "string",
                "nullable": true
               },
               "value": {
                "type": "string",
                "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                "nullable": true
               },
               "property_type": {
                "enum": [
                 "BOOLEAN",
                 "DATE",
                 "NUMBER",
                 "LOCATION",
                 "TEXT",
                 "HIDDEN",
                 "PERSON"
                ],
                "type": "string"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            },
            "labels": {
             "type": "array",
             "items": {
              "type": "string"
             },
             "nullable": true
            },
            "stock_min": {
             "type": "integer",
             "format": "int32",
             "nullable": true
            },
            "stock_max": {
             "type": "integer",
             "format": "int32",
             "nullable": true
            },
            "uom": {
             "type": "string",
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "406": {
      "description": "Not Acceptable",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    properties_to_add: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_update: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_delete: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    name: 'string',\n    description: 'string',\n    notes: 'string',\n    stock_min: 2147483647,\n    stock_max: 2147483647,\n    label_guids_to_add: ['497f6eca-6276-4993-bfeb-53cbbbba6f08'],\n    label_guids_to_remove: ['497f6eca-6276-4993-bfeb-53cbbbba6f08']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"properties_to_add\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_update\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_delete\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"stock_min\\\":2147483647,\\\"stock_max\\\":2147483647,\\\"label_guids_to_add\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"],\\\"label_guids_to_remove\\\":[\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/materials/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"properties_to_add\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_update\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_delete\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"name\":\"string\",\"description\":\"string\",\"notes\":\"string\",\"stock_min\":2147483647,\"stock_max\":2147483647,\"label_guids_to_add\":[\"497f6eca-6276-4993-bfeb-53cbbbba6f08\"],\"label_guids_to_remove\":[\"497f6eca-6276-4993-bfeb-53cbbbba6f08\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
[...]
