{
 "openapi": "3.0.0",
 "info": {
  "title": "Material",
  "x-product-category": "Project Management",
  "x-tool-category": "Field Productivity",
  "x-resource-name": "Material",
  "version": "1.0",
  "x-product-lines": [
   "Field Productivity"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/materials": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Materials",
    "description": "Return a list of all Materials",
    "tags": [
     "Material"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Materials",
         "items": {
          "type": "object",
          "description": "Material",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 13
           },
           "name": {
            "type": "string",
            "description": "Name of the material",
            "example": "Wallpaper"
           },
           "description": {
            "type": "string",
            "description": "Description of the material",
            "example": "This Material was used for the upper portion of the wall"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure",
            "example": "sf"
           },
           "quantity": {
            "type": "number",
            "format": "float",
            "description": "Quantity",
            "example": "2250.75"
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the material was logged for",
            "example": 14406
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the material is associated with",
            "example": 13
           },
           "material_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Null when the material is not linked to a catalog record.",
            "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was updated",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was created",
            "example": "2019-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was deleted",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/materials?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added material_id to Material request and response bodies",
      "description": "Added the material_id attribute, which references the associated material in the Materials catalog microservice, to the Material create, update, bulk create, bulk update, and read endpoints.",
      "endpoint": "GET /projects/{project_id}/materials",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-07-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "material?version=1.0#list-materials"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Material",
    "description": "Create a new Material Entry.",
    "tags": [
     "Material"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "title": "Material Body",
        "required": [
         "material"
        ],
        "properties": {
         "material": {
          "type": "object",
          "title": "Material Properties",
          "properties": {
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time & Material Entry Id the material is associated with",
            "example": 13
           },
           "name": {
            "type": "string",
            "description": "Name of the material",
            "example": "Wallpaper"
           },
           "description": {
            "type": "string",
            "description": "Description of the material",
            "example": "This Material was used for the upper portion of the wall"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for the material",
            "example": "sf"
           },
           "quantity": {
            "type": "number",
            "format": "float",
            "description": "Quantity of the material",
            "example": "2250.75"
           },
           "material_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Omit or send null when the material is not linked to a catalog record.",
            "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Material",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 13
          },
          "name": {
           "type": "string",
           "description": "Name of the material",
           "example": "Wallpaper"
          },
          "description": {
           "type": "string",
           "description": "Description of the material",
           "example": "This Material was used for the upper portion of the wall"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure",
           "example": "sf"
          },
          "quantity": {
           "type": "number",
           "format": "float",
           "description": "Quantity",
           "example": "2250.75"
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the material was logged for",
           "example": 14406
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the material is associated with",
           "example": 13
          },
          "material_id": {
           "type": "string",
           "format": "uuid",
           "nullable": true,
           "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Null when the material is not linked to a catalog record.",
           "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was updated",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was created",
           "example": "2019-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was deleted",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials',\n  headers: {'content-type': 'application/json'},\n  body: {\n    material: {\n      time_and_material_entry_id: 13,\n      name: 'Wallpaper',\n      description: 'This Material was used for the upper portion of the wall',\n      uom: 'sf',\n      quantity: '2250.75',\n      material_id: '019dac6d-e353-7a89-ab24-3637e2bf17bb'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"material\\\":{\\\"time_and_material_entry_id\\\":13,\\\"name\\\":\\\"Wallpaper\\\",\\\"description\\\":\\\"This Material was used for the upper portion of the wall\\\",\\\"uom\\\":\\\"sf\\\",\\\"quantity\\\":\\\"2250.75\\\",\\\"material_id\\\":\\\"019dac6d-e353-7a89-ab24-3637e2bf17bb\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/materials\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials \\\n  --header 'content-type: application/json' \\\n  --data '{\"material\":{\"time_and_material_entry_id\":13,\"name\":\"Wallpaper\",\"description\":\"This Material was used for the upper portion of the wall\",\"uom\":\"sf\",\"quantity\":\"2250.75\",\"material_id\":\"019dac6d-e353-7a89-ab24-3637e2bf17bb\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials\"),\n    Content = new StringContent(\"{\\\"material\\\":{\\\"time_and_material_entry_id\\\":13,\\\"name\\\":\\\"Wallpaper\\\",\\\"description\\\":\\\"This Material was used for the upper portion of the wall\\\",\\\"uom\\\":\\\"sf\\\",\\\"quantity\\\":\\\"2250.75\\\",\\\"material_id\\\":\\\"019dac6d-e353-7a89-ab24-3637e2bf17bb\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/materials/bulk_destroy": {
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Delete Materials",
    "description": "Bulk delete Material entries with one request.",
    "tags": [
     "Material"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Material Bulk Destroy Body",
        "type": "object",
        "required": [
         "time_and_material_materials"
        ],
        "properties": {
         "time_and_material_materials": {
          "title": "Time and Material materials",
          "type": "object",
          "description": "Material Object",
          "properties": {
           "time_and_material_materials_ids": {
            "description": "Array of material IDs specified for delete",
            "type": "array",
            "items": {
             "type": "integer",
             "description": "ID",
             "example": 3943
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Material entries",
         "items": {
          "type": "object",
          "description": "Material",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 13
           },
           "name": {
            "type": "string",
            "description": "Name of the material",
            "example": "Wallpaper"
           },
           "description": {
            "type": "string",
            "description": "Description of the material",
            "example": "This Material was used for the upper portion of the wall"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure",
            "example": "sf"
           },
           "quantity": {
            "type": "number",
            "format": "float",
            "description": "Quantity",
            "example": "2250.75"
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the material was logged for",
            "example": 14406
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the material is associated with",
            "example": 13
           },
           "material_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Null when the material is not linked to a catalog record.",
            "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was updated",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was created",
            "example": "2019-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was deleted",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_destroy',\n  headers: {'content-type': 'application/json'},\n  body: {time_and_material_materials: {time_and_material_materials_ids: [3943]}},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_materials\\\":{\\\"time_and_material_materials_ids\\\":[3943]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_destroy\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_destroy \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_materials\":{\"time_and_material_materials_ids\":[3943]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_destroy\"),\n    Content = new StringContent(\"{\\\"time_and_material_materials\\\":{\\\"time_and_material_materials_ids\\\":[3943]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk delete endpoint for Project materials",
      "description": "Added the ability to bulk delete Materials",
      "endpoint": "DELETE /projects/{project_id}/materials/bulk_destroy",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "material?version=1.0#bulk-delete-materials"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/materials/bulk_create": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Create Materials",
    "description": "Bulk create Material entries with one request.",
    "tags": [
     "Material"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Material Bulk Create Body",
        "type": "object",
        "required": [
         "time_and_material_materials"
        ],
        "properties": {
         "time_and_material_materials": {
          "type": "array",
          "description": "Array of Material objects",
          "items": {
           "type": "object",
           "title": "Material Properties",
           "properties": {
            "time_and_material_entry_id": {
             "type": "integer",
             "description": "Time & Material Entry Id the material is associated with",
             "example": 13
            },
            "name": {
             "type": "string",
             "description": "Name of the material",
             "example": "Wallpaper"
            },
            "description": {
             "type": "string",
             "description": "Description of the material",
             "example": "This Material was used for the upper portion of the wall"
            },
            "uom": {
             "type": "string",
             "description": "Unit of measure for the material",
             "example": "sf"
            },
            "quantity": {
             "type": "number",
             "format": "float",
             "description": "Quantity of the material",
             "example": "2250.75"
            },
            "material_id": {
             "type": "string",
             "format": "uuid",
             "nullable": true,
             "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Omit or send null when the material is not linked to a catalog record.",
             "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Material entries",
         "items": {
          "type": "object",
          "description": "Material",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 13
           },
           "name": {
            "type": "string",
            "description": "Name of the material",
            "example": "Wallpaper"
           },
           "description": {
            "type": "string",
            "description": "Description of the material",
            "example": "This Material was used for the upper portion of the wall"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure",
            "example": "sf"
           },
           "quantity": {
            "type": "number",
            "format": "float",
            "description": "Quantity",
            "example": "2250.75"
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the material was logged for",
            "example": 14406
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the material is associated with",
            "example": 13
           },
           "material_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Null when the material is not linked to a catalog record.",
            "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was updated",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was created",
            "example": "2019-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was deleted",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_create',\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_materials: [\n      {\n        time_and_material_entry_id: 13,\n        name: 'Wallpaper',\n        description: 'This Material was used for the upper portion of the wall',\n        uom: 'sf',\n        quantity: '2250.75',\n        material_id: '019dac6d-e353-7a89-ab24-3637e2bf17bb'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_materials\\\":[{\\\"time_and_material_entry_id\\\":13,\\\"name\\\":\\\"Wallpaper\\\",\\\"description\\\":\\\"This Material was used for the upper portion of the wall\\\",\\\"uom\\\":\\\"sf\\\",\\\"quantity\\\":\\\"2250.75\\\",\\\"material_id\\\":\\\"019dac6d-e353-7a89-ab24-3637e2bf17bb\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_create\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_create \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_materials\":[{\"time_and_material_entry_id\":13,\"name\":\"Wallpaper\",\"description\":\"This Material was used for the upper portion of the wall\",\"uom\":\"sf\",\"quantity\":\"2250.75\",\"material_id\":\"019dac6d-e353-7a89-ab24-3637e2bf17bb\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_create\"),\n    Content = new StringContent(\"{\\\"time_and_material_materials\\\":[{\\\"time_and_material_entry_id\\\":13,\\\"name\\\":\\\"Wallpaper\\\",\\\"description\\\":\\\"This Material was used for the upper portion of the wall\\\",\\\"uom\\\":\\\"sf\\\",\\\"quantity\\\":\\\"2250.75\\\",\\\"material_id\\\":\\\"019dac6d-e353-7a89-ab24-3637e2bf17bb\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk create endpoint for Project materials",
      "description": "Added the ability to bulk create Materials",
      "endpoint": "POST /projects/{project_id}/materials/bulk_create",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "material?version=1.0#bulk-create-materials"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/materials/bulk_update": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Bulk Update Materials",
    "description": "Bulk update Material entries with one request.",
    "tags": [
     "Material"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Material Bulk Update Body",
        "type": "object",
        "required": [
         "time_and_material_materials"
        ],
        "properties": {
         "time_and_material_materials": {
          "type": "array",
          "description": "Array of Material objects",
          "items": {
           "type": "object",
           "title": "Material Properties",
           "properties": {
            "time_and_material_entry_id": {
             "type": "integer",
             "description": "Time & Material Entry Id the material is associated with",
             "example": 13
            },
            "name": {
             "type": "string",
             "description": "Name of the material",
             "example": "Wallpaper"
            },
            "description": {
             "type": "string",
             "description": "Description of the material",
             "example": "This Material was used for the upper portion of the wall"
            },
            "uom": {
             "type": "string",
             "description": "Unit of measure for the material",
             "example": "sf"
            },
            "quantity": {
             "type": "number",
             "format": "float",
             "description": "Quantity of the material",
             "example": "2250.75"
            },
            "material_id": {
             "type": "string",
             "format": "uuid",
             "nullable": true,
             "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Omit or send null when the material is not linked to a catalog record.",
             "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Material entries",
         "items": {
          "type": "object",
          "description": "Material",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 13
           },
           "name": {
            "type": "string",
            "description": "Name of the material",
            "example": "Wallpaper"
           },
           "description": {
            "type": "string",
            "description": "Description of the material",
            "example": "This Material was used for the upper portion of the wall"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure",
            "example": "sf"
           },
           "quantity": {
            "type": "number",
            "format": "float",
            "description": "Quantity",
            "example": "2250.75"
           },
           "project_id": {
            "type": "integer",
            "description": "ID of the project the material was logged for",
            "example": 14406
           },
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time And Material Entry ID the material is associated with",
            "example": 13
           },
           "material_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Null when the material is not linked to a catalog record.",
            "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was updated",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was created",
            "example": "2019-11-12T21:26:28Z"
           },
           "deleted_at": {
            "type": "string",
            "format": "date-time",
            "description": "Date the Material was deleted",
            "example": "2019-11-12T21:26:28Z"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_update',\n  headers: {'content-type': 'application/json'},\n  body: {\n    time_and_material_materials: [\n      {\n        time_and_material_entry_id: 13,\n        name: 'Wallpaper',\n        description: 'This Material was used for the upper portion of the wall',\n        uom: 'sf',\n        quantity: '2250.75',\n        material_id: '019dac6d-e353-7a89-ab24-3637e2bf17bb'\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"time_and_material_materials\\\":[{\\\"time_and_material_entry_id\\\":13,\\\"name\\\":\\\"Wallpaper\\\",\\\"description\\\":\\\"This Material was used for the upper portion of the wall\\\",\\\"uom\\\":\\\"sf\\\",\\\"quantity\\\":\\\"2250.75\\\",\\\"material_id\\\":\\\"019dac6d-e353-7a89-ab24-3637e2bf17bb\\\"}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_update\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_update \\\n  --header 'content-type: application/json' \\\n  --data '{\"time_and_material_materials\":[{\"time_and_material_entry_id\":13,\"name\":\"Wallpaper\",\"description\":\"This Material was used for the upper portion of the wall\",\"uom\":\"sf\",\"quantity\":\"2250.75\",\"material_id\":\"019dac6d-e353-7a89-ab24-3637e2bf17bb\"}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/bulk_update\"),\n    Content = new StringContent(\"{\\\"time_and_material_materials\\\":[{\\\"time_and_material_entry_id\\\":13,\\\"name\\\":\\\"Wallpaper\\\",\\\"description\\\":\\\"This Material was used for the upper portion of the wall\\\",\\\"uom\\\":\\\"sf\\\",\\\"quantity\\\":\\\"2250.75\\\",\\\"material_id\\\":\\\"019dac6d-e353-7a89-ab24-3637e2bf17bb\\\"}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added bulk update endpoint for Project materials",
      "description": "Added the ability to bulk update Materials",
      "endpoint": "PATCH /projects/{project_id}/materials/bulk_update",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-05-14",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "material?version=1.0#bulk-update-materials"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/materials/{id}": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Material",
    "description": "Return detailed information about a specific Material.",
    "tags": [
     "Material"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the project",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Material",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 13
          },
          "name": {
           "type": "string",
           "description": "Name of the material",
           "example": "Wallpaper"
          },
          "description": {
           "type": "string",
           "description": "Description of the material",
           "example": "This Material was used for the upper portion of the wall"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure",
           "example": "sf"
          },
          "quantity": {
           "type": "number",
           "format": "float",
           "description": "Quantity",
           "example": "2250.75"
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the material was logged for",
           "example": 14406
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the material is associated with",
           "example": 13
          },
          "material_id": {
           "type": "string",
           "format": "uuid",
           "nullable": true,
           "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Null when the material is not linked to a catalog record.",
           "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was updated",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was created",
           "example": "2019-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was deleted",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Material",
    "description": "Update a specified Material.",
    "tags": [
     "Material"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the project",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "title": "Material Body",
        "required": [
         "material"
        ],
        "properties": {
         "material": {
          "type": "object",
          "title": "Material Properties",
          "properties": {
           "time_and_material_entry_id": {
            "type": "integer",
            "description": "Time & Material Entry Id the material is associated with",
            "example": 13
           },
           "name": {
            "type": "string",
            "description": "Name of the material",
            "example": "Wallpaper"
           },
           "description": {
            "type": "string",
            "description": "Description of the material",
            "example": "This Material was used for the upper portion of the wall"
           },
           "uom": {
            "type": "string",
            "description": "Unit of measure for the material",
            "example": "sf"
           },
           "quantity": {
            "type": "number",
            "format": "float",
            "description": "Quantity of the material",
            "example": "2250.75"
           },
           "material_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Omit or send null when the material is not linked to a catalog record.",
            "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Material",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 13
          },
          "name": {
           "type": "string",
           "description": "Name of the material",
           "example": "Wallpaper"
          },
          "description": {
           "type": "string",
           "description": "Description of the material",
           "example": "This Material was used for the upper portion of the wall"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure",
           "example": "sf"
          },
          "quantity": {
           "type": "number",
           "format": "float",
           "description": "Quantity",
           "example": "2250.75"
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the material was logged for",
           "example": 14406
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the material is associated with",
           "example": 13
          },
          "material_id": {
           "type": "string",
           "format": "uuid",
           "nullable": true,
           "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Null when the material is not linked to a catalog record.",
           "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was updated",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was created",
           "example": "2019-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was deleted",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    material: {\n      time_and_material_entry_id: 13,\n      name: 'Wallpaper',\n      description: 'This Material was used for the upper portion of the wall',\n      uom: 'sf',\n      quantity: '2250.75',\n      material_id: '019dac6d-e353-7a89-ab24-3637e2bf17bb'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"material\\\":{\\\"time_and_material_entry_id\\\":13,\\\"name\\\":\\\"Wallpaper\\\",\\\"description\\\":\\\"This Material was used for the upper portion of the wall\\\",\\\"uom\\\":\\\"sf\\\",\\\"quantity\\\":\\\"2250.75\\\",\\\"material_id\\\":\\\"019dac6d-e353-7a89-ab24-3637e2bf17bb\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"material\":{\"time_and_material_entry_id\":13,\"name\":\"Wallpaper\",\"description\":\"This Material was used for the upper portion of the wall\",\"uom\":\"sf\",\"quantity\":\"2250.75\",\"material_id\":\"019dac6d-e353-7a89-ab24-3637e2bf17bb\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"material\\\":{\\\"time_and_material_entry_id\\\":13,\\\"name\\\":\\\"Wallpaper\\\",\\\"description\\\":\\\"This Material was used for the upper portion of the wall\\\",\\\"uom\\\":\\\"sf\\\",\\\"quantity\\\":\\\"2250.75\\\",\\\"material_id\\\":\\\"019dac6d-e353-7a89-ab24-3637e2bf17bb\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Material",
    "description": "Detete a specific Material.",
    "tags": [
     "Material"
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "ID of the project",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Material",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 13
          },
          "name": {
           "type": "string",
           "description": "Name of the material",
           "example": "Wallpaper"
          },
          "description": {
           "type": "string",
           "description": "Description of the material",
           "example": "This Material was used for the upper portion of the wall"
          },
          "uom": {
           "type": "string",
           "description": "Unit of measure",
           "example": "sf"
          },
          "quantity": {
           "type": "number",
           "format": "float",
           "description": "Quantity",
           "example": "2250.75"
          },
          "project_id": {
           "type": "integer",
           "description": "ID of the project the material was logged for",
           "example": 14406
          },
          "time_and_material_entry_id": {
           "type": "integer",
           "description": "Time And Material Entry ID the material is associated with",
           "example": 13
          },
          "material_id": {
           "type": "string",
           "format": "uuid",
           "nullable": true,
           "description": "Identifier of the associated material in the Materials catalog microservice, formatted as a UUID. Null when the material is not linked to a catalog record.",
           "example": "019dac6d-e353-7a89-ab24-3637e2bf17bb"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was updated",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was created",
           "example": "2019-11-12T21:26:28Z"
          },
          "deleted_at": {
           "type": "string",
           "format": "date-time",
           "description": "Date the Material was deleted",
           "example": "2019-11-12T21:26:28Z"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/materials/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}