{
 "openapi": "3.1.0",
 "info": {
  "title": "MaterialRequirements",
  "version": "2.0",
  "x-resource-name": "MaterialRequirements",
  "x-product-category": "Resource Management",
  "x-tool-category": "Materials Management",
  "x-product-lines": [
   "material-management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/material_requirements/{id}": {
   "patch": {
    "tags": [
     "MaterialRequirements"
    ],
    "summary": "Updates a material requirements document header.",
    "description": "Updates header fields such as title, notes, and status on the material requirements document.\r\nUse status transitions to move the document through its workflow states.",
    "operationId": "MaterialRequirements_PatchNeeds",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The material requirements document ID.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The patch request containing the updates.",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "properties_to_add": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to add to the document header.",
          "nullable": true
         },
         "properties_to_update": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to update in the document header.",
          "nullable": true
         },
         "properties_to_delete": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "key": {
             "type": "string",
             "nullable": true
            },
            "value": {
             "type": "string",
             "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
             "nullable": true
            },
            "property_type": {
             "enum": [
              "BOOLEAN",
              "DATE",
              "NUMBER",
              "LOCATION",
              "TEXT",
              "HIDDEN",
              "PERSON"
             ],
             "type": "string"
            }
           },
           "additionalProperties": false
          },
          "description": "Collection of resource parameters to delete from the document header.",
          "nullable": true
         },
         "name": {
          "type": "string",
          "description": "Name of the document header.",
          "nullable": true
         },
         "description": {
          "type": "string",
          "description": "Description of the document header.",
          "nullable": true
         },
         "notes": {
          "type": "string",
          "description": "Notes associated with the document header.",
          "nullable": true
         },
         "scope_start_at": {
          "type": "string",
          "description": "Start date and time for scope. Clears header field if value is an empty string or \"0001-01-01T00:00:00.0000000+00:00\".",
          "format": "date-time",
          "nullable": true
         },
         "scope_end_at": {
          "type": "string",
          "description": "End date and time for the scope. Clears header field if value is an empty string or \"0001-01-01T00:00:00.0000000+00:00\".",
          "format": "date-time",
          "nullable": true
         },
         "required_on_site_date": {
          "type": "string",
          "description": "Date and time by which the item is required to be on site.",
          "format": "date-time",
          "nullable": true
         },
         "status": {
          "enum": [
           "DRAFT",
           "FINAL",
           "CLOSED",
           "READY_FOR_REVIEW"
          ],
          "type": "string"
         }
        },
        "additionalProperties": false,
        "description": "Represents a request to update header fields for a document that requires a header patch operation."
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "title": "Extended",
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "name": {
             "type": "string",
             "nullable": true
            },
            "description": {
             "type": "string",
             "nullable": true
            },
            "total_line_count": {
             "type": "integer",
             "format": "int32"
            },
            "created_at": {
             "type": "string",
             "format": "date-time"
            },
            "status": {
             "enum": [
              "STARTED",
              "AVAILABLE",
              "ON_TRACK",
              "DELAYED",
              "NOT_ORDERED",
              "CLOSED"
             ],
             "type": "string"
            },
            "material_requirement": {
             "type": "object",
             "properties": {
              "name": {
               "type": "string",
               "nullable": true
              },
              "id": {
               "type": "string",
               "format": "uuid",
               "nullable": true
              }
             },
             "additionalProperties": false
            },
            "scope_start_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "scope_end_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "required_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true
            },
            "notes": {
             "type": "string",
             "nullable": true
            },
            "properties": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "key": {
                "type": "string",
                "nullable": true
               },
               "value": {
                "type": "string",
                "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                "nullable": true
               },
               "property_type": {
                "enum": [
                 "BOOLEAN",
                 "DATE",
                 "NUMBER",
                 "LOCATION",
                 "TEXT",
                 "HIDDEN",
                 "PERSON"
                ],
                "type": "string"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            },
            "state": {
             "enum": [
              "DRAFT",
              "FINAL",
              "CLOSED",
              "READY_FOR_REVIEW"
             ],
             "type": "string"
            },
            "item_availability_percentage": {
             "type": "number",
             "format": "double",
             "nullable": true
            },
            "connected_documents_count": {
             "type": "integer",
             "format": "int32"
            },
            "attachment_count": {
             "type": "integer",
             "format": "int32"
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    properties_to_add: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_update: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    properties_to_delete: [{key: 'string', value: 'string', property_type: 'BOOLEAN'}],\n    name: 'string',\n    description: 'string',\n    notes: 'string',\n    scope_start_at: '2019-08-24T14:15:22Z',\n    scope_end_at: '2019-08-24T14:15:22Z',\n    required_on_site_date: '2019-08-24T14:15:22Z',\n    status: 'DRAFT'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"properties_to_add\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_update\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_delete\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"scope_start_at\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"scope_end_at\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"required_on_site_date\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"status\\\":\\\"DRAFT\\\"}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"properties_to_add\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_update\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"properties_to_delete\":[{\"key\":\"string\",\"value\":\"string\",\"property_type\":\"BOOLEAN\"}],\"name\":\"string\",\"description\":\"string\",\"notes\":\"string\",\"scope_start_at\":\"2019-08-24T14:15:22Z\",\"scope_end_at\":\"2019-08-24T14:15:22Z\",\"required_on_site_date\":\"2019-08-24T14:15:22Z\",\"status\":\"DRAFT\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"properties_to_add\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_update\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"properties_to_delete\\\":[{\\\"key\\\":\\\"string\\\",\\\"value\\\":\\\"string\\\",\\\"property_type\\\":\\\"BOOLEAN\\\"}],\\\"name\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\",\\\"notes\\\":\\\"string\\\",\\\"scope_start_at\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"scope_end_at\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"required_on_site_date\\\":\\\"2019-08-24T14:15:22Z\\\",\\\"status\\\":\\\"DRAFT\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "MaterialRequirements"
    ],
    "summary": "Recycles a material requirement.",
    "description": "Recycles a material requirement. When recycle_items is false, only the requirement document is recycled.\r\nWhen recycle_items is true, associated items in resource_project are also recycled.\r\nIf the items on the requirement are connected to other documents, the items cannot be recycled.\r\nFails with 400 if the requirement is in Final state.",
    "operationId": "MaterialRequirements_RecycleMaterialRequirement",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Material requirement ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "recycle_items",
      "in": "query",
      "description": "If true, also recycle items in resource_project for this requirement's lines; default false",
      "schema": {
       "type": "boolean",
       "default": false
      },
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D',\n  qs: {recycle_items: 'SOME_BOOLEAN_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D?recycle_items=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D?recycle_items=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D?recycle_items=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "get": {
    "tags": [
     "MaterialRequirements"
    ],
    "summary": "Gets details of a specific material requirements header by its ID.",
    "description": "Returns the header details for a specific material requirements document.",
    "operationId": "MaterialRequirements_GetNeedsHeaderDetails",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "Material requirements GUID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Response view type",
      "schema": {
       "enum": [
        "Normal",
        "Extended"
       ],
       "type": "string"
      },
      "required": false
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "oneOf": [
            {
             "title": "Normal",
             "allOf": [
              {
               "title": "Normal",
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "description": {
                 "type": "string",
                 "nullable": true
                },
                "total_line_count": {
                 "type": "integer",
                 "format": "int32"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time"
                },
                "status": {
                 "enum": [
                  "STARTED",
                  "AVAILABLE",
                  "ON_TRACK",
                  "DELAYED",
                  "NOT_ORDERED",
                  "CLOSED"
                 ],
                 "type": "string"
                },
                "material_requirement": {
                 "type": "object",
                 "properties": {
                  "name": {
                   "type": "string",
                   "nullable": true
                  },
                  "id": {
                   "type": "string",
                   "format": "uuid",
                   "nullable": true
                  }
                 },
                 "additionalProperties": false
                },
                "scope_start_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "scope_end_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "required_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "notes": {
                 "type": "string",
                 "nullable": true
                },
                "properties": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "key": {
                    "type": "string",
                    "nullable": true
                   },
                   "value": {
                    "type": "string",
                    "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                    "nullable": true
                   },
                   "property_type": {
                    "enum": [
                     "BOOLEAN",
                     "DATE",
                     "NUMBER",
                     "LOCATION",
                     "TEXT",
                     "HIDDEN",
                     "PERSON"
                    ],
                    "type": "string"
                   }
                  },
                  "additionalProperties": false
                 },
                 "nullable": true
                },
                "state": {
                 "enum": [
                  "DRAFT",
                  "FINAL",
                  "CLOSED",
                  "READY_FOR_REVIEW"
                 ],
                 "type": "string"
                },
                "item_availability_percentage": {
                 "type": "number",
                 "format": "double",
                 "nullable": true
                }
               },
               "additionalProperties": false
              }
             ]
            },
            {
             "title": "Extended",
             "allOf": [
              {
               "title": "Extended",
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "format": "uuid"
                },
                "name": {
                 "type": "string",
                 "nullable": true
                },
                "description": {
                 "type": "string",
                 "nullable": true
                },
                "total_line_count": {
                 "type": "integer",
                 "format": "int32"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time"
                },
                "status": {
                 "enum": [
                  "STARTED",
                  "AVAILABLE",
                  "ON_TRACK",
                  "DELAYED",
                  "NOT_ORDERED",
                  "CLOSED"
                 ],
                 "type": "string"
                },
                "material_requirement": {
                 "type": "object",
                 "properties": {
                  "name": {
                   "type": "string",
                   "nullable": true
                  },
                  "id": {
                   "type": "string",
                   "format": "uuid",
                   "nullable": true
                  }
                 },
                 "additionalProperties": false
                },
                "scope_start_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "scope_end_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "required_at": {
                 "type": "string",
                 "format": "date-time",
                 "nullable": true
                },
                "notes": {
                 "type": "string",
                 "nullable": true
                },
                "properties": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "key": {
                    "type": "string",
                    "nullable": true
                   },
                   "value": {
                    "type": "string",
                    "description": "Value rules:\n\n- TEXT: Any string\n- BOOLEAN: \"true\" / \"false\"\n- DATE: \"YYYY-MM-DD\" (e.g. \"2026-03-02\"). Send null or \"\" to clear.\n- NUMBER: Numeric string (e.g. \"42\", \"3.14\"). Stored as-is.\n- LOCATION: Any string (e.g. a location name or ID)\n- HIDDEN: Any string\n- PERSON: A valid long user/person ID as string (e.g. \"12345\"). Send null, \"\", or \"0\" to clear.",
                    "nullable": true
                   },
                   "property_type": {
                    "enum": [
                     "BOOLEAN",
                     "DATE",
                     "NUMBER",
                     "LOCATION",
                     "TEXT",
                     "HIDDEN",
                     "PERSON"
                    ],
                    "type": "string"
                   }
                  },
                  "additionalProperties": false
                 },
                 "nullable": true
                },
                "state": {
                 "enum": [
                  "DRAFT",
                  "FINAL",
                  "CLOSED",
                  "READY_FOR_REVIEW"
                 ],
                 "type": "string"
                },
                "item_availability_percentage": {
                 "type": "number",
                 "format": "double",
                 "nullable": true
                },
                "connected_documents_count": {
                 "type": "integer",
                 "format": "int32"
                },
                "attachment_count": {
                 "type": "integer",
                 "format": "int32"
                }
               },
               "additionalProperties": false
              }
             ]
            }
           ],
           "additionalProperties": false,
           "discriminator": {
            "propertyName": "type"
           }
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D',\n  qs: {view: 'SOME_STRING_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D?view=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D?view=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D?view=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/materials_mgmt/material_requirements/{id}/attachments": {
   "post": {
    "tags": [
     "MaterialRequirements"
    ],
    "summary": "Adds attachments to a material requirements resource.",
    "description": "Either provide a file_id already obtained from the File Access Service (FAS), or omit it to have FAS create a new file record. The response includes the file_id and, when FAS creates the record, an upload URL the client uses to upload the file content.",
    "operationId": "MaterialRequirements_AddAttachmentsToResource",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The resource Id.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The attachment request models to create.",
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "file_id": {
           "type": "string",
           "nullable": true
          },
          "file_name": {
           "type": "string",
           "nullable": true
          },
          "attach_type": {
           "type": "string",
           "nullable": true
          },
          "description": {
           "type": "string",
           "nullable": true
          }
         },
         "additionalProperties": false
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "nullable": true
               },
               "name": {
                "type": "string",
                "nullable": true
               },
               "url": {
                "type": "string",
                "nullable": true
               },
               "type": {
                "type": "string",
                "nullable": true
               },
               "url_expires_at": {
                "type": "integer",
                "format": "int64"
               },
               "status": {
                "type": "string",
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Content",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "description": "Class representing a procore response."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D/attachments',\n  headers: {'content-type': 'application/json'},\n  body: [\n    {\n      file_id: 'string',\n      file_name: 'string',\n      attach_type: 'string',\n      description: 'string'\n    }\n  ],\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"[{\\\"file_id\\\":\\\"string\\\",\\\"file_name\\\":\\\"string\\\",\\\"attach_type\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\"}]\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D/attachments\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D/attachments \\\n  --header 'content-type: application/json' \\\n  --data '[{\"file_id\":\"string\",\"file_name\":\"string\",\"attach_type\":\"string\",\"description\":\"string\"}]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D/attachments\"),\n    Content = new StringContent(\"[{\\\"file_id\\\":\\\"string\\\",\\\"file_name\\\":\\\"string\\\",\\\"attach_type\\\":\\\"string\\\",\\\"description\\\":\\\"string\\\"}]\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "tags": [
     "MaterialRequirements"
    ],
    "summary": "Deletes attachments from a material requirements resource.",
    "description": "Removes one or more attachments from the material requirements document by their file IDs.\r\nThe attachment records are removed from the database. The system attempts to delete the underlying files from storage; storage deletion failures are not surfaced to the caller.",
    "operationId": "MaterialRequirements_DeleteAttachmentsFromResource",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The resource Id.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The list of file Ids to delete.",
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "type": "string"
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "results": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "file_id": {
                "type": "string",
                "nullable": true
               },
               "deleted": {
                "type": "boolean"
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "additionalProperties": false,
         "description": "Class representing a procore response."
        }
       }
      }
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D/attachments',\n  headers: {'content-type': 'application/json'},\n  body: ['string'],\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"[\\\"string\\\"]\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D/attachments\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D/attachments \\\n  --header 'content-type: application/json' \\\n  --data '[\"string\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/materials_mgmt/material_requirements/%7Bid%7D/attachments\"),\n    Content = new StringContent(\"[\\\"string\\\"]\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "tags": [
     "MaterialRequirements"
    ],
    "summary": "Updates an attachment for a material requirements resource.",
    "description": "Updates the metadata of an existing attachment on a material requirements resource, such as its description or name.",
    "operationId": "MaterialRequirements_UpdateAttachmentOfResource",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "description": "The resource Id.",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "The company identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "The project identifier",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "description": "The attachment model to update.",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "file_id": {
          "type": "string",
          "nullable": true
         },
         "file_name": {
          "type": "string",
          "nullable": true
         },
         "attach_type": {
          "type": "string",
          "nullable": true
         },
         "description": {
          "type": "string",
          "nullable": true
         }
        },
        "additionalProperties": false
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "format": "uuid"
            },
            "attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "nullable": true
               },
               "name": {
                "type": "string",
                "nullable": true
               },
               "mime_type": {
                "type": "string",
                "nullable": true
               },
               "upload_url": {
                "type": "string",
                "nullable": true
               },
               "download_url": {
                "type": "string",
                "nullable": true
               },
               "url_expires_at": {
                "type": "integer",
                "format": "int64"
               },
               "status": {
                "type": "string",
                "nullable": true
               },
               "uploaded_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
               }
              },
              "additionalProperties": false
             },
             "nullable": true
            }
           },
           "additionalProperties": false
          }
         },
         "additionalProperties": false,
         "description": "Class representing a procore response with data."
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "The reason code",
                "nullable": true,
                "readOnly": true
               },
               "message": {
                "type": "string",
                "description": "The message",
                "nullable": true
               },
               "source": {
                "type": "string",
                "description": "The source",
                "nullable": true
               },
               "data": {
                "type": "object",
                "additionalProperties": {
                 "type": "string"
                },
                "description": "The data",
                "nullable": true
               }
              },
              "additionalProperties": false,
              "description": "Class representing an error detail, including the reason code, message, and source."
             },
             "description": "The details",
             "nullable": true
            }
           },
           "additionalProperties": false,
           "description": "Class representing an error response, including the error."
          }
         },
         "additionalProperties": false,
         "description": "Class representing an error response, including the error."
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "The code",
             "nullable": true,
             "readOnly": true
            },
            "message": {
             "type": "string",
             "description": "The message",
             "nullable": true,
             "readOnly": true
            },
            "details": {
             "type": "array",
             "items": {
              "type": "object",
[...]
