{
 "openapi": "3.0.0",
 "info": {
  "title": "Meeting Templates",
  "x-product-category": "Project Management",
  "x-tool-category": "Meetings",
  "x-resource-name": "Meeting Templates",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/meeting_templates": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Meeting Templates",
    "description": "Returns the paginated list of Meeting Templates configured for the specified company. Use the returned `id` values to fetch a single template via `GET /rest/v1.0/companies/{company_id}/meeting_templates/{id}`.",
    "tags": [
     "Meeting Templates"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "Controls how much detail each template includes in the response. `default` returns the standard fields, `extended` adds fuller detail, and `compact` returns a reduced payload.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended",
        "compact"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "description": "Meeting Template",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Id",
            "example": 10
           },
           "name": {
            "type": "string",
            "description": "Name",
            "nullable": true,
            "example": "Better Signage"
           },
           "overview": {
            "type": "string",
            "description": "Overview",
            "nullable": true,
            "example": "Discuss building better signage"
           },
           "private": {
            "type": "boolean",
            "description": "Indicates that this meeting template should be private",
            "example": true
           },
           "agendas": {
            "type": "array",
            "description": "Agendas",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Id",
               "example": 2
              },
              "title": {
               "type": "string",
               "description": "Title",
               "nullable": true,
               "example": "Signs meeting agenda"
              },
              "category": {
               "type": "string",
               "description": "Category",
               "nullable": true,
               "example": "Signs work"
              },
              "description": {
               "type": "string",
               "description": "Description",
               "nullable": true,
               "example": "Discuss new signs"
              },
              "attachments": {
               "type": "array",
               "description": "Attachments",
               "items": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Id",
                  "example": "1"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "nullable": true,
                  "example": "agenda.pdf"
                 },
                 "url": {
                  "type": "string",
                  "description": "Url",
                  "nullable": true,
                  "example": "https://storage.procore.com/files/attachment.png"
                 }
                }
               }
              }
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": "Attachments",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "description": "Id",
               "example": "1"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "nullable": true,
               "example": "contract.pdf"
              },
              "url": {
               "type": "string",
               "description": "Url",
               "nullable": true,
               "example": "https://storage.procore.com/files/attachment.png"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Endpoint not found.",
      "content": {
       "application/json": {
        "schema": {
         "properties": {
          "error": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/meeting_templates',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    view: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/meeting_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/meeting_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/meeting_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&view=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "New 'List meeting templates' API version",
      "description": "Fetches all meeting templates for a given company.",
      "endpoint": "GET /companies/{company_id}/meeting_templates",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-02-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meeting-templates?version=1.0#list-meeting-templates"
     },
     {
      "summary": "Return Attachment Id in the response",
      "description": "Return Attachment Id in the response",
      "endpoint": "GET /companies/{company_id}/meeting_templates",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meeting-templates?version=1.0#list-meeting-templates"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/meeting_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Identifier of the Meeting Template to retrieve.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show a Meeting Template",
    "description": "Returns a single Meeting Template belonging to the specified company, including its agendas and attachments.",
    "tags": [
     "Meeting Templates"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Controls how much detail the template includes in the response. `default` returns the standard fields, `extended` adds fuller detail, and `compact` returns a reduced payload.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended",
        "compact"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Meeting Template",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Id",
           "example": 10
          },
          "name": {
           "type": "string",
           "description": "Name",
           "nullable": true,
           "example": "Better Signage"
          },
          "overview": {
           "type": "string",
           "description": "Overview",
           "nullable": true,
           "example": "Discuss building better signage"
          },
          "private": {
           "type": "boolean",
           "description": "Indicates that this meeting template should be private",
           "example": true
          },
          "agendas": {
           "type": "array",
           "description": "Agendas",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Id",
              "example": 2
             },
             "title": {
              "type": "string",
              "description": "Title",
              "nullable": true,
              "example": "Signs meeting agenda"
             },
             "category": {
              "type": "string",
              "description": "Category",
              "nullable": true,
              "example": "Signs work"
             },
             "description": {
              "type": "string",
              "description": "Description",
              "nullable": true,
              "example": "Discuss new signs"
             },
             "attachments": {
              "type": "array",
              "description": "Attachments",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Id",
                 "example": "1"
                },
                "name": {
                 "type": "string",
                 "description": "Name",
                 "nullable": true,
                 "example": "agenda.pdf"
                },
                "url": {
                 "type": "string",
                 "description": "Url",
                 "nullable": true,
                 "example": "https://storage.procore.com/files/attachment.png"
                }
               }
              }
             }
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Attachments",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "description": "Id",
              "example": "1"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "nullable": true,
              "example": "contract.pdf"
             },
             "url": {
              "type": "string",
              "description": "Url",
              "nullable": true,
              "example": "https://storage.procore.com/files/attachment.png"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Meeting Template not found.",
      "content": {
       "application/json": {
        "schema": {
         "properties": {
          "error": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/meeting_templates/%7Bid%7D',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/meeting_templates/%7Bid%7D?view=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/meeting_templates/%7Bid%7D?view=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/meeting_templates/%7Bid%7D?view=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "New 'show meeting template' API version",
      "description": "Fetches a single meeting template for a given meeting template id.",
      "endpoint": "GET /companies/{company_id}/meeting_templates/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-02-10",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meeting-templates?version=1.0#show-a-meeting-template"
     },
     {
      "summary": "Return Attachment Id in the response",
      "description": "Return Attachment Id in the response",
      "endpoint": "GET /companies/{company_id}/meeting_templates/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-17",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meeting-templates?version=1.0#show-a-meeting-template"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}