{
 "openapi": "3.0.0",
 "info": {
  "title": "Meetings",
  "x-product-category": "Project Management",
  "x-tool-category": "Meetings",
  "x-resource-name": "Meetings",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/meetings": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "POST Meeting",
    "description": "Creates a new meeting for the given project",
    "tags": [
     "Meetings"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "allOf": [
         {
          "type": "object",
          "properties": {
           "title": {
            "type": "string",
            "description": "Meeting title",
            "example": "Jon's Meeting"
           },
           "location": {
            "type": "string",
            "description": "Meeting location",
            "example": "Office 123"
           },
           "overview": {
            "type": "string",
            "description": "Meeting overview",
            "example": "Overview of meeting"
           },
           "is_private": {
            "type": "boolean",
            "description": "Indicates whether this meeting is only visible to scheduled attendees and users with 'Admin' level permissions to the Meetings tool.",
            "example": true
           },
           "conclusion": {
            "type": "string",
            "description": "Meeting conclusion",
            "example": "My conclusion"
           },
           "is_draft": {
            "type": "boolean",
            "description": "Is draft",
            "example": false
           },
           "time_zone": {
            "type": "string",
            "description": "Time zone",
            "example": "US/Pacific"
           },
           "remote_meeting_url": {
            "type": "string",
            "description": "URL for remote meeting",
            "example": "https://zoom.us/j/123456789"
           },
           "start_time": {
            "type": "string",
            "description": "Start time",
            "example": "10:00 AM"
           },
           "finish_time": {
            "type": "string",
            "description": "Finish time",
            "example": "11:00 AM"
           },
           "meeting_template_id": {
            "type": "string",
            "description": "Meeting Template id",
            "example": "82593"
           },
           "custom_textfield_1": {
            "type": "string",
            "description": "Custom text field 1",
            "example": "My custom text field"
           },
           "custom_textarea_1": {
            "type": "string",
            "description": "Custom text area 1",
            "example": "My custom text area"
           },
           "position": {
            "type": "integer",
            "description": "Position of the meeting",
            "example": 6
           },
           "attendees": {
            "type": "array",
            "description": "An array of the IDs of the Attendees of the Meeting",
            "items": {
             "type": "integer",
             "description": "The ID of the Attendee"
            },
            "example": [
             1,
             2
            ]
           },
           "attendee_minutes_approvers": {
            "type": "array",
            "description": "An array of the IDs of the Attendee Minutes Approvers of the Meeting",
            "items": {
             "type": "integer",
             "description": "The ID of the Attendee Minutes Approver"
            },
            "example": [
             1
            ]
           },
           "create_uncategorized_items_category": {
            "type": "boolean",
            "description": "Create an uncategorized items category",
            "example": false
           },
           "meeting_date": {
            "type": "string",
            "description": "Meeting date",
            "example": "2025-07-22"
           },
           "starts_at": {
            "type": "string",
            "format": "date-time",
            "description": "Start date and time of the meeting in ISO 8601 format. Only available when view=mobile. Cannot be used together with 'meeting_date', 'start_time', or 'finish_time'.",
            "example": "2025-07-22T14:00:00Z"
           },
           "ends_at": {
            "type": "string",
            "format": "date-time",
            "description": "End date and time of the meeting in ISO 8601 format. Only available when view=mobile. Cannot be used together with 'meeting_date', 'start_time', or 'finish_time'.",
            "example": "2025-07-22T15:00:00Z"
           },
           "view": {
            "type": "string",
            "description": "The data set that should be returned from the serializer. Default is `default`.",
            "default": "default",
            "enum": [
             "default",
             "mobile"
            ],
            "example": "mobile"
           }
          }
         },
         {
          "type": "object",
          "properties": {
           "attachment_ids": {
            "type": "array",
            "description": "The current attachments to the item. Values should be omitted to remove attachments. New files cannot be attached via this param. If the key is omitted, the existing attachments will remain unchanged.\n",
            "items": {
             "type": "string"
            },
            "example": [
             "1",
             "2"
            ]
           },
           "drawing_revision_ids": {
            "type": "array",
            "description": "Drawing Revisions to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "3",
             "4"
            ]
           },
           "file_version_ids": {
            "type": "array",
            "description": "File Versions to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "5",
             "6"
            ]
           },
           "form_ids": {
            "type": "array",
            "description": "Forms to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "7",
             "8"
            ]
           },
           "image_ids": {
            "type": "array",
            "description": "Images to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "9",
             "10"
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "Uploads to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01J15GF28TDQ2X20RNRJ5DDX27",
             "01J15GFDKQ4TDRBQPZ2M6E9H44"
            ]
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "Ids of meeting attachment files Prostore file IDs (Not to be used if other attachment types are included)",
            "items": {
             "type": "integer"
            },
            "example": [
             1,
             2
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "Ids of document management document revision attachment files",
            "items": {
             "type": "string"
            },
            "example": [
             "13",
             "14"
            ]
           }
          }
         }
        ]
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "Default",
           "type": "object",
           "properties": {
            "data": {
             "type": "object",
             "description": "Meeting",
             "properties": {
              "id": {
               "type": "string",
               "description": "Meeting id",
               "example": "82593"
              },
              "title": {
               "type": "string",
               "description": "Meeting title",
               "example": "Jon's Meeting"
              },
              "conclusion": {
               "type": "string",
               "description": "Conclusion",
               "example": "My conclusion",
               "nullable": true
              },
              "conclusion_rich_text": {
               "type": "string",
               "description": "Conclusion rich text",
               "example": "<p>My conclusion</p>"
              },
              "custom_textarea_1": {
               "type": "string",
               "description": "Custom textarea 1",
               "example": "My custom text area"
              },
              "custom_textarea_1_rich_text": {
               "type": "string",
               "description": "Custom textarea 1 rich text",
               "example": "<p>My custom text area</p>",
               "nullable": true
              },
              "custom_textfield_1": {
               "type": "string",
               "description": "Custom textfield 1",
               "example": "My custom text field"
              },
              "custom_textfield_1_rich_text": {
               "type": "string",
               "description": "Custom textfield 1 rich text",
               "example": "<p>My custom text field</p>",
               "nullable": true
              },
              "description": {
               "type": "string",
               "description": "Meeting description",
               "example": "Stuff is going to go down aka ticket eating"
              },
              "description_rich_text": {
               "type": "string",
               "description": "Description rich text",
               "example": "<p>Overview of meeting</p>",
               "nullable": true
              },
              "distributed_at": {
               "type": "string",
               "format": "date-time",
               "description": "Meeting last distributed at",
               "example": "2021-07-23T10:00:00Z",
               "nullable": true
              },
              "distributed_by": {
               "description": "Meeting last distributed by",
               "nullable": true,
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Login Information ID",
                 "example": "1738090"
                },
                "name": {
                 "type": "string",
                 "description": "User name",
                 "example": "John Doe"
                },
                "login": {
                 "type": "string",
                 "description": "User email",
                 "example": "johndoe@example.com"
                }
               }
              },
              "download_all_attachments_url": {
               "type": "string",
               "description": "URL",
               "example": "https://s3.aws.foo",
               "nullable": true
              },
              "ends_at": {
               "type": "string",
               "format": "date-time",
               "description": "Meeting End time",
               "example": "2021-07-23T17:00:00Z"
              },
              "finish_time": {
               "type": "string",
               "description": "Finish time",
               "example": "11:00 AM"
              },
              "is_draft": {
               "type": "boolean",
               "description": "Is draft",
               "example": false
              },
              "is_private": {
               "type": "boolean",
               "description": "Indicates whether this meeting is only visible to scheduled attendees and users with 'Admin' level permissions to the Meetings tool.",
               "example": true
              },
              "last_distributed_event": {
               "type": "string",
               "description": "Meeting last distributed event",
               "enum": [
                "minutes",
                "agenda"
               ],
               "example": "agenda",
               "nullable": true
              },
              "location": {
               "type": "string",
               "nullable": true,
               "description": "Meeting location",
               "example": "Office 123"
              },
              "meeting_template_id": {
               "type": "string",
               "nullable": true,
               "description": "Meeting Template id",
               "example": "82593"
              },
              "meeting_template": {
               "type": "object",
               "description": "Meeting Template",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Template ID",
                 "example": "1"
                },
                "title": {
                 "type": "string",
                 "description": "Title",
                 "example": "Template title"
                }
               }
              },
              "meeting_topics_count": {
               "type": "integer",
               "description": "The number of agendas associated with this meeting",
               "example": 5
              },
              "mode": {
               "type": "string",
               "description": "Meeting mode",
               "example": "minutes",
               "enum": [
                "minutes",
                "agenda"
               ]
              },
              "occurred": {
               "type": "boolean",
               "description": "Indicates whether this meeting has already taken place",
               "example": true
              },
              "parent_id": {
               "type": "string",
               "nullable": true,
               "description": "Meeting parent id",
               "example": "88835"
              },
              "position": {
               "type": "integer",
               "description": "Meeting position",
               "example": 1
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Meeting created at",
               "example": "2021-07-23T10:00:00Z"
              },
              "created_by_id": {
               "type": "string",
               "nullable": true,
               "description": "Id of the user who created the meeting (returned only for meetings created after Dec 2023)",
               "example": "1"
              },
              "start_time": {
               "type": "string",
               "description": "Start time",
               "example": "10:00 AM"
              },
              "starts_at": {
               "type": "string",
               "format": "date-time",
               "description": "Meeting start time",
               "example": "2021-07-23T10:00:00Z"
              },
              "time_zone": {
               "type": "string",
               "description": "Time zone",
               "example": "Eastern Time (US & Canada)"
              },
              "timezone_iso": {
               "type": "string",
               "description": "Timezone standard",
               "example": "America/New_York"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Meeting updated at",
               "example": "2021-07-23T10:00:00Z"
              }
             }
            }
           }
          },
          {
           "title": "Mobile",
           "type": "object",
           "properties": {
            "data": {
             "allOf": [
              {
               "type": "object",
               "description": "Meeting (Meeting Information View - Embedded Properties)",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Meeting id",
                 "example": "82593"
                },
                "title": {
                 "type": "string",
                 "description": "Meeting title",
                 "example": "Jon's Meeting"
                },
                "conclusion": {
                 "type": "string",
                 "description": "Conclusion",
                 "example": "My conclusion"
                },
                "conclusion_rich_text": {
                 "type": "string",
                 "description": "Conclusion rich text",
                 "example": "<p>My conclusion</p>"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Meeting created at",
                 "example": "2021-07-23T10:00:00Z"
                },
                "created_by_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "Id of the user who created the meeting (returned only for meetings created after Dec 2023)",
                 "example": "1"
                },
                "custom_textarea_1": {
                 "type": "string",
                 "description": "Custom textarea 1",
                 "example": "My custom text area"
                },
                "custom_textarea_1_rich_text": {
                 "type": "string",
                 "description": "Custom textarea 1 rich text",
                 "example": "<p>My custom text area</p>"
                },
                "custom_textfield_1": {
                 "type": "string",
                 "description": "Custom textfield 1",
                 "example": "My custom text field"
                },
                "custom_textfield_1_rich_text": {
                 "type": "string",
                 "description": "Custom textfield 1 rich text",
                 "example": "<p>My custom text field</p>"
                },
                "description": {
                 "type": "string",
                 "description": "Description",
                 "example": "Overview of meeting"
                },
                "description_rich_text": {
                 "type": "string",
                 "description": "Description rich text",
                 "example": "<p>Overview of meeting</p>"
                },
                "finish_time": {
                 "type": "string",
                 "description": "Finish time",
                 "example": "11:00 AM"
                },
                "is_draft": {
                 "type": "boolean",
                 "description": "Is draft",
                 "example": false
                },
                "is_private": {
                 "type": "boolean",
                 "description": "Indicates whether this meeting is only visible to scheduled attendees and users with 'Admin' level permissions to the Meetings tool.",
                 "example": true
                },
                "location": {
                 "type": "string",
                 "nullable": true,
                 "description": "Meeting location",
                 "example": "Office 123"
                },
                "meeting_template_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "Meeting Template id",
                 "example": "82593"
                },
                "meeting_topics_count": {
                 "type": "integer",
                 "description": "The number of agendas associated with this meeting",
                 "example": 5
                },
                "mode": {
                 "type": "string",
                 "description": "Meeting mode",
                 "example": "minutes",
                 "enum": [
                  "minutes",
                  "agenda"
                 ]
                },
                "occurred": {
                 "type": "boolean",
                 "description": "Indicates whether this meeting has already taken place",
                 "example": true
                },
                "parent_id": {
                 "type": "string",
                 "nullable": true,
                 "description": "Meeting parent id",
                 "example": "88835"
                },
                "position": {
                 "type": "integer",
                 "description": "Meeting position",
                 "example": 1
                },
                "start_time": {
                 "type": "string",
                 "description": "Start time",
                 "example": "10:00 AM"
                },
                "time_zone": {
                 "type": "string",
                 "description": "Time zone",
                 "example": "Eastern Time (US & Canada)"
                },
                "timezone_iso": {
                 "type": "string",
                 "description": "Timezone standard",
                 "example": "America/New_York"
                },
                "series_root": {
                 "type": "object",
                 "description": "Root meeting information of the meeting series",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Root meeting ID",
                   "example": "135"
                  },
                  "title": {
                   "type": "string",
                   "description": "Root meeting title",
                   "example": "James's Meeting"
                  }
                 }
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Meeting updated at",
                 "example": "2021-07-23T10:00:00Z"
                },
                "meeting_date": {
                 "type": "string",
                 "description": "Meeting date",
                 "example": "2025-07-22"
                },
                "meeting_remote_url": {
                 "type": "string",
                 "description": "Meeting remote url",
                 "example": "https://zoom.us/j/123456789"
                },
                "attachments": {
                 "type": "array",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string"
                   },
                   "name": {
                    "type": "string"
                   },
                   "filename": {
                    "type": "string"
                   },
                   "url": {
                    "type": "string"
                   },
                   "can_be_viewed": {
                    "type": "boolean"
                   },
                   "viewable": {
                    "type": "boolean"
                   },
                   "attached_to_item_id": {
                    "type": "string"
                   },
                   "attached_to_item_type": {
                    "type": "string"
                   }
                  }
                 }
                },
                "download_all_attachments_url": {
                 "type": "string",
                 "description": "Download all attachments URL",
                 "example": "https://www.example.com/1/company/attachments/download_all?uuid=uuid_value"
                },
                "distributed_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Meeting last distributed at",
                 "example": "2021-07-23T10:00:00Z"
                },
                "last_distributed_event": {
                 "type": "string",
                 "description": "Meeting last distributed event",
                 "enum": [
                  "minutes",
                  "agenda"
                 ],
                 "example": "agenda"
                },
                "distributed_by": {
                 "description": "Meeting last distributed by",
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Login Information ID",
                   "example": "1738090"
                  },
                  "name": {
                   "type": "string",
                   "description": "User name",
                   "example": "John Doe"
                  },
                  "login": {
                   "type": "string",
                   "description": "User email",
                   "example": "johndoe@example.com"
                  }
                 }
                },
                "is_distributed": {
                 "type": "boolean",
                 "description": "Is distributed",
                 "example": false
                },
                "meeting_template": {
                 "type": "object",
                 "description": "Meeting Template",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Template ID",
                   "example": "1"
                  },
                  "title": {
                   "type": "string",
                   "description": "Title",
                   "example": "Template title"
                  }
                 }
                },
                "remote_meeting_url": {
                 "type": "string",
                 "description": "Remote meeting url",
                 "example": "https://zoom.us/j/123456789",
                 "nullable": true
                }
               }
              },
              {
               "type": "object",
               "description": "Mobile-specific fields for Meeting",
               "properties": {
                "group_id": {
                 "type": "string",
                 "description": "Root meeting ID for grouping follow-up meetings",
                 "example": "150",
                 "nullable": true
                },
                "has_follow_up_meeting": {
                 "type": "boolean",
                 "description": "Indicates whether this meeting has any follow-up meetings.\nNote: This field is only present in list (index), show, and update responses.\n",
                 "example": true
                },
                "attendees": {
                 "type": "array",
                 "description": "Meeting attendees (compact view)",
                 "items": {
                  "type": "object",
                  "description": "Meeting Attendee (Compact View)",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Id",
                    "example": "1"
                   },
                   "login_information": {
                    "type": "object",
                    "description": "Login Information",
                    "properties": {
                     "id": {
                      "type": "string",
                      "description": "Id",
                      "example": "7"
                     },
                     "login": {
                      "type": "string",
                      "description": "Login",
                      "example": "john@example.com"
                     },
                     "name": {
                      "type": "string",
                      "description": "Name",
                      "example": "John Doe"
                     }
                    }
                   },
                   "status": {
                    "type": "string",
                    "description": "Status",
                    "example": "Present"
                   }
                  }
                 }
                },
                "topics": {
                 "type": "array",
                 "description": "Meeting topics (mobile view)",
                 "items": {
                  "allOf": [
                   {
                    "type": "object",
                    "description": "Meeting Topic",
                    "properties": {
                     "id": {
                      "type": "string",
                      "description": "Unique identifier of the meeting topic, returned as a string. Use as the {id} path parameter to fetch, update, or delete the topic via /rest/v2.0/companies/{company_id}/projects/{project_id}/meeting_topics/{id}.",
                      "example": "1"
                     },
                     "title": {
                      "type": "string",
                      "description": "Meeting topic title",
                      "example": "34' Level"
                     },
                     "position": {
                      "type": "integer",
                      "description": "1-based ordinal position of the topic within its meeting category, controlling display order.",
                      "example": 1
                     },
                     "number": {
                      "type": "string",
                      "description": "Hierarchical outline number of the topic (e.g. '1.1') reflecting its position within the meeting.",
                      "example": "1.1"
                     },
                     "is_deletable": {
                      "type": "boolean",
                      "description": "Whether the topic can be deleted in its current state (e.g. new-business or closed topics in an editable meeting).",
                      "example": true
                     },
                     "new_business": {
                      "type": "boolean",
                      "description": "Whether the topic is new business (has no parent topic carried over from a previous meeting).",
                      "example": true
                     },
                     "activity_status": {
                      "type": "string",
                      "description": "Activity status of the meeting topic. Derived from status - 'inactive' when the topic is Closed, otherwise 'active'.",
                      "example": "active",
                      "enum": [
                       "active",
                       "inactive"
                      ]
                     }
                    }
                   },
                   {
                    "type": "object",
                    "description": "Additional fields for Meeting Topic Mobile View",
                    "properties": {
                     "assignments": {
                      "type": "array",
                      "items": {
                       "type": "object",
                       "description": "Login Information",
                       "nullable": true,
                       "properties": {
                        "id": {
                         "type": "string",
                         "description": "Login Information ID",
                         "example": "1738090"
                        },
                        "name": {
                         "type": "string",
                         "description": "User name",
                         "example": "John Doe"
                        },
                        "login": {
                         "type": "string",
                         "description": "User email",
                         "example": "johndoe@example.com"
                        }
                       }
                      }
                     },
                     "description": {
                      "type": "string",
                      "description": "Meeting topic description",
                      "example": "Need pricing from vendor for 34' level"
                     },
                     "attachments": {
                      "type": "array",
                      "description": "Meeting topic attachments (filtered for mobile)",
                      "items": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "string"
                        },
                        "name": {
                         "type": "string"
                        },
                        "filename": {
                         "type": "string"
                        },
                        "url": {
                         "type": "string"
                        },
                        "can_be_viewed": {
                         "type": "boolean"
                        },
                        "viewable": {
                         "type": "boolean"
                        },
                        "attached_to_item_id": {
                         "type": "string"
                        },
                        "attached_to_item_type": {
                         "type": "string"
                        }
                       }
                      }
                     },
                     "cost_code": {
                      "type": "object",
                      "properties": {
                       "id": {
                        "type": "string",
                        "description": "Cost Code ID",
                        "example": "16"
                       },
                       "name": {
                        "type": "string",
                        "description": "Cost Code Name",
                        "example": "Electrical"
                       }
                      }
                     },
                     "created_on": {
                      "type": "string",
                      "format": "date",
                      "description": "Created On",
                      "example": "2020-01-01"
                     },
                     "due_date": {
                      "type": "string",
                      "format": "date",
                      "description": "Due Date",
                      "example": "2020-01-01"
                     },
                     "priority": {
                      "type": "string",
                      "description": "Meeting topic priority",
                      "example": "Low",
                      "enum": [
                       "",
                       "High",
                       "Medium",
                       "Low"
                      ]
                     },
                     "status": {
                      "type": "string",
                      "description": "Meeting topic status",
                      "example": "On Hold",
                      "enum": [
                       "Open",
                       "On Hold",
                       "Closed"
                      ]
                     },
                     "meeting_origin_id": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Ordinal position of the meeting in which this topic originated (its original meeting). Null when the originating meeting has no position.",
                      "example": 1
                     },
                     "minutes": {
                      "type": "string",
                      "description": "Meeting topic minutes",
                      "example": "<p><span style=\\\"font-size: large;\\\">Please look at Item 1 and have those pieces completed <strong>before</strong></span></p>"
                     },
                     "download_all_attachments_url": {
                      "type": "string",
                      "description": "Download all attachments URL",
                      "example": "https://www.example.com/1/company/attachments/download_all?uuid=uuid_value"
                     },
                     "category_id": {
                      "type": "string",
                      "description": "Meeting Category ID",
                      "example": "1"
                     }
                    }
                   }
                  ]
                 }
                },
                "categories": {
                 "type": "array",
                 "description": "Meeting categories (compact view)",
                 "items": {
                  "type": "object",
                  "description": "Meeting Category (Compact View)",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Id",
                    "example": "1"
                   },
                   "title": {
                    "type": "string",
                    "description": "Title",
                    "example": "Category 1"
                   },
                   "position": {
                    "type": "integer",
                    "description": "Position",
                    "example": 1
                   }
                  }
                 }
                }
               }
              }
             ]
            }
           }
          }
         ],
         "discriminator": {
          "propertyName": "view"
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/meetings',\n  headers: {'content-type': 'application/json'},\n  body: {\n    title: 'Jon\\'s Meeting',\n    location: 'Office 123',\n    overview: 'Overview of meeting',\n    is_private: true,\n    conclusion: 'My conclusion',\n    is_draft: false,\n    time_zone: 'US/Pacific',\n    remote_meeting_url: 'https://zoom.us/j/123456789',\n    start_time: '10:00 AM',\n    finish_time: '11:00 AM',\n    meeting_template_id: '82593',\n    custom_textfield_1: 'My custom text field',\n    custom_textarea_1: 'My custom text area',\n    position: 6,\n    attendees: [1, 2],\n    attendee_minutes_approvers: [1],\n    create_uncategorized_items_category: false,\n    meeting_date: '2025-07-22',\n    starts_at: '2025-07-22T14:00:00Z',\n    ends_at: '2025-07-22T15:00:00Z',\n    view: 'mobile',\n    attachment_ids: ['1', '2'],\n    drawing_revision_ids: ['3', '4'],\n    file_version_ids: ['5', '6'],\n    form_ids: ['7', '8'],\n    image_ids: ['9', '10'],\n    upload_ids: ['01J15GF28TDQ2X20RNRJ5DDX27', '01J15GFDKQ4TDRBQPZ2M6E9H44'],\n    prostore_file_ids: [1, 2],\n    document_management_document_revision_ids: ['13', '14']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"title\\\":\\\"Jon's Meeting\\\",\\\"location\\\":\\\"Office 123\\\",\\\"overview\\\":\\\"Overview of meeting\\\",\\\"is_private\\\":true,\\\"conclusion\\\":\\\"My conclusion\\\",\\\"is_draft\\\":false,\\\"time_zone\\\":\\\"US/Pacific\\\",\\\"remote_meeting_url\\\":\\\"https://zoom.us/j/123456789\\\",\\\"start_time\\\":\\\"10:00 AM\\\",\\\"finish_time\\\":\\\"11:00 AM\\\",\\\"meeting_template_id\\\":\\\"82593\\\",\\\"custom_textfield_1\\\":\\\"My custom text field\\\",\\\"custom_textarea_1\\\":\\\"My custom text area\\\",\\\"position\\\":6,\\\"attendees\\\":[1,2],\\\"attendee_minutes_approvers\\\":[1],\\\"create_uncategorized_items_category\\\":false,\\\"meeting_date\\\":\\\"2025-07-22\\\",\\\"starts_at\\\":\\\"2025-07-22T14:00:00Z\\\",\\\"ends_at\\\":\\\"2025-07-22T15:00:00Z\\\",\\\"view\\\":\\\"mobile\\\",\\\"attachment_ids\\\":[\\\"1\\\",\\\"2\\\"],\\\"drawing_revision_ids\\\":[\\\"3\\\",\\\"4\\\"],\\\"file_version_ids\\\":[\\\"5\\\",\\\"6\\\"],\\\"form_ids\\\":[\\\"7\\\",\\\"8\\\"],\\\"image_ids\\\":[\\\"9\\\",\\\"10\\\"],\\\"upload_ids\\\":[\\\"01J15GF28TDQ2X20RNRJ5DDX27\\\",\\\"01J15GFDKQ4TDRBQPZ2M6E9H44\\\"],\\\"prostore_file_ids\\\":[1,2],\\\"document_management_document_revision_ids\\\":[\\\"13\\\",\\\"14\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/meetings\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/meetings \\\n  --header 'content-type: application/json' \\\n  --data '{\"title\":\"Jon'\\''s Meeting\",\"location\":\"Office 123\",\"overview\":\"Overview of meeting\",\"is_private\":true,\"conclusion\":\"My conclusion\",\"is_draft\":false,\"time_zone\":\"US/Pacific\",\"remote_meeting_url\":\"https://zoom.us/j/123456789\",\"start_time\":\"10:00 AM\",\"finish_time\":\"11:00 AM\",\"meeting_template_id\":\"82593\",\"custom_textfield_1\":\"My custom text field\",\"custom_textarea_1\":\"My custom text area\",\"position\":6,\"attendees\":[1,2],\"attendee_minutes_approvers\":[1],\"create_uncategorized_items_category\":false,\"meeting_date\":\"2025-07-22\",\"starts_at\":\"2025-07-22T14:00:00Z\",\"ends_at\":\"2025-07-22T15:00:00Z\",\"view\":\"mobile\",\"attachment_ids\":[\"1\",\"2\"],\"drawing_revision_ids\":[\"3\",\"4\"],\"file_version_ids\":[\"5\",\"6\"],\"form_ids\":[\"7\",\"8\"],\"image_ids\":[\"9\",\"10\"],\"upload_ids\":[\"01J15GF28TDQ2X20RNRJ5DDX27\",\"01J15GFDKQ4TDRBQPZ2M6E9H44\"],\"prostore_file_ids\":[1,2],\"document_management_document_revision_ids\":[\"13\",\"14\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/meetings\"),\n    Content = new StringContent(\"{\\\"title\\\":\\\"Jon's Meeting\\\",\\\"location\\\":\\\"Office 123\\\",\\\"overview\\\":\\\"Overview of meeting\\\",\\\"is_private\\\":true,\\\"conclusion\\\":\\\"My conclusion\\\",\\\"is_draft\\\":false,\\\"time_zone\\\":\\\"US/Pacific\\\",\\\"remote_meeting_url\\\":\\\"https://zoom.us/j/123456789\\\",\\\"start_time\\\":\\\"10:00 AM\\\",\\\"finish_time\\\":\\\"11:00 AM\\\",\\\"meeting_template_id\\\":\\\"82593\\\",\\\"custom_textfield_1\\\":\\\"My custom text field\\\",\\\"custom_textarea_1\\\":\\\"My custom text area\\\",\\\"position\\\":6,\\\"attendees\\\":[1,2],\\\"attendee_minutes_approvers\\\":[1],\\\"create_uncategorized_items_category\\\":false,\\\"meeting_date\\\":\\\"2025-07-22\\\",\\\"starts_at\\\":\\\"2025-07-22T14:00:00Z\\\",\\\"ends_at\\\":\\\"2025-07-22T15:00:00Z\\\",\\\"view\\\":\\\"mobile\\\",\\\"attachment_ids\\\":[\\\"1\\\",\\\"2\\\"],\\\"drawing_revision_ids\\\":[\\\"3\\\",\\\"4\\\"],\\\"file_version_ids\\\":[\\\"5\\\",\\\"6\\\"],\\\"form_ids\\\":[\\\"7\\\",\\\"8\\\"],\\\"image_ids\\\":[\\\"9\\\",\\\"10\\\"],\\\"upload_ids\\\":[\\\"01J15GF28TDQ2X20RNRJ5DDX27\\\",\\\"01J15GFDKQ4TDRBQPZ2M6E9H44\\\"],\\\"prostore_file_ids\\\":[1,2],\\\"document_management_document_revision_ids\\\":[\\\"13\\\",\\\"14\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Introduce POST Meeting Endpoint",
      "description": "Introduce a new endpoint to create a new meeting",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/meetings",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-09-20",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meetings?version=2.0#post-meeting"
     },
     {
      "summary": "Update dates properties in the request params and response",
      "description": "Add start_time, finish_time and meeting_date properties and remove starts_at and ends_at properties",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/meetings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-10-17",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meetings?version=2.0#post-meeting"
     },
     {
      "summary": "Remove Adding Current User As A Meeting Attendee By Default",
      "description": "Remove Adding Current User As A Meeting Attendee By Default",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/meetings",
      "type": "fix",
      "breaking": false,
      "datestamp": "2025-01-05",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meetings?version=2.0#post-meeting"
     },
     {
      "summary": "PDM Integration Support for Meeting Attachments",
      "description": "Added support for PDM (Procore Document Management) documents as meeting attachments.\nSupports both traditional Prostore files and PDM documents with unified viewer experience.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/meetings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-16",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meetings?version=2.0#post-meeting"
     },
     {
      "summary": "Add mobile view to POST Meeting Endpoint V2",
      "description": "Returns a created Meeting with additional fields for mobile applications",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/meetings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-15",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meetings?version=2.0#post-meeting"
     },
     {
      "summary": "Add support for upload_ids and image_ids parameters to POST Meeting Endpoint",
      "description": "Added support for attaching files to meetings using upload_ids and image_ids parameters.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/meetings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-10-15",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meetings?version=2.0#post-meeting"
     },
     {
      "summary": "Add starts_at and ends_at parameters to Create Meeting Endpoint (mobile view only)",
      "description": "Added support for 'starts_at' and 'ends_at' datetime parameters as an alternative to the legacy 'meeting_date', 'start_time', and 'finish_time' parameters.\nThese parameters are only available when view=mobile. Sending both sets of date parameters in the same request will result in a 409 Conflict response.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/meetings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-02-16",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meetings?version=2.0#post-meeting"
     },
     {
      "summary": "POST Meeting Endpoint is now publicly available",
      "description": "The Create Meeting endpoint is now publicly available via the Procore Developer Portal.\nExisting authentication and permissions are enforced; no functional changes were made.",
      "endpoint": "POST /companies/{company_id}/projects/{project_id}/meetings",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-09-01",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meetings?version=2.0#post-meeting"
     }
    ]
   },
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List meetings",
    "description": "Returns a list of all Meetings for a specified Project.",
    "tags": [
     "Meetings"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Returns meeting(s) with the specified ID(s)",
      "required": false,
      "schema": {
       "type": "array",
       "description": "Array of meeting IDs",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[assignee_id]",
      "in": "query",
      "description": "Returns meeting(s) with the specified assignee",
      "required": false,
      "schema": {
       "type": "array",
       "description": "Array of assignee IDs",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[title]",
      "in": "query",
      "description": "Returns meeting(s) with parts of title matching the specified string",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[public]",
      "in": "query",
      "description": "Filter by visibility. Pass `true` to return only public meetings or `false` for private meetings. Value is a boolean string.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[draft]",
      "in": "query",
      "description": "Filter by draft state. Pass `true` to return only draft meetings or `false` for finalized meetings. Value is a boolean string.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[mode]",
      "in": "query",
      "description": "Returns meeting(s) in certain mode.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "agenda",
        "meetings"
       ]
      }
     },
     {
      "name": "filter[root_id]",
      "in": "query",
      "description": "Returns child meeting(s) whose root_id matches the specified root_id. Parent is returned as well",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[template_id]",
      "in": "query",
      "description": "Returns child meeting(s) whose meeting_template_id matches the specified template_id.",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[from]",
      "in": "query",
      "description": "Returns meeting(s) started at a date >= specified date",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[to]",
      "in": "query",
      "description": "Returns meeting(s) started at a date <= specified date",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[roots]",
      "in": "query",
      "description": "Returns Only parent/root meetings",
      "required": false,
      "schema": {
       "type": "string",
       "example": "true"
      }
     },
     {
      "name": "filters[deleted]",
      "in": "query",
      "description": "Returns Only deleted meetings",
      "required": false,
      "schema": {
       "type": "string",
       "example": "true"
      }
     },
     {
      "name": "view",
      "in": "query",
      "description": "The data set that should be returned from the serializer. Default view is `default`.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "meeting_information",
        "compact",
        "mobile"
       ]
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort results by the specified field. Add a \"-\" prefix for descending order (e.g., -created_at).",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "created_at",
        "-created_at",
        "title",
        "-title",
        "updated_at",
        "-updated_at",
        "deleted_at",
        "-deleted_at",
        "id",
        "-id"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "title": "Meeting Information",
           "type": "object",
           "properties": {
            "data": {
             "type": "array",
             "description": "Meetings (Meeting Information View)",
             "items": {
              "type": "object",
              "description": "Meeting (Meeting Information View - Embedded Properties)",
              "properties": {
               "id": {
                "type": "string",
                "description": "Meeting id",
                "example": "82593"
               },
               "title": {
                "type": "string",
                "description": "Meeting title",
                "example": "Jon's Meeting"
               },
               "conclusion": {
                "type": "string",
                "description": "Conclusion",
                "example": "My conclusion"
               },
               "conclusion_rich_text": {
                "type": "string",
                "description": "Conclusion rich text",
                "example": "<p>My conclusion</p>"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting created at",
                "example": "2021-07-23T10:00:00Z"
               },
               "created_by_id": {
                "type": "string",
                "nullable": true,
                "description": "Id of the user who created the meeting (returned only for meetings created after Dec 2023)",
                "example": "1"
               },
               "custom_textarea_1": {
                "type": "string",
                "description": "Custom textarea 1",
                "example": "My custom text area"
               },
               "custom_textarea_1_rich_text": {
                "type": "string",
                "description": "Custom textarea 1 rich text",
                "example": "<p>My custom text area</p>"
               },
               "custom_textfield_1": {
                "type": "string",
                "description": "Custom textfield 1",
                "example": "My custom text field"
               },
               "custom_textfield_1_rich_text": {
                "type": "string",
                "description": "Custom textfield 1 rich text",
                "example": "<p>My custom text field</p>"
               },
               "description": {
                "type": "string",
                "description": "Description",
                "example": "Overview of meeting"
               },
               "description_rich_text": {
                "type": "string",
                "description": "Description rich text",
                "example": "<p>Overview of meeting</p>"
               },
               "finish_time": {
                "type": "string",
                "description": "Finish time",
                "example": "11:00 AM"
               },
               "is_draft": {
                "type": "boolean",
                "description": "Is draft",
                "example": false
               },
               "is_private": {
                "type": "boolean",
                "description": "Indicates whether this meeting is only visible to scheduled attendees and users with 'Admin' level permissions to the Meetings tool.",
                "example": true
               },
               "location": {
                "type": "string",
                "nullable": true,
                "description": "Meeting location",
                "example": "Office 123"
               },
               "meeting_template_id": {
                "type": "string",
                "nullable": true,
                "description": "Meeting Template id",
                "example": "82593"
               },
               "meeting_topics_count": {
                "type": "integer",
                "description": "The number of agendas associated with this meeting",
                "example": 5
               },
               "mode": {
                "type": "string",
                "description": "Meeting mode",
                "example": "minutes",
                "enum": [
                 "minutes",
                 "agenda"
                ]
               },
               "occurred": {
                "type": "boolean",
                "description": "Indicates whether this meeting has already taken place",
                "example": true
               },
               "parent_id": {
                "type": "string",
                "nullable": true,
                "description": "Meeting parent id",
                "example": "88835"
               },
               "position": {
                "type": "integer",
                "description": "Meeting position",
                "example": 1
               },
               "start_time": {
                "type": "string",
                "description": "Start time",
                "example": "10:00 AM"
               },
               "time_zone": {
                "type": "string",
                "description": "Time zone",
                "example": "Eastern Time (US & Canada)"
               },
               "timezone_iso": {
                "type": "string",
                "description": "Timezone standard",
                "example": "America/New_York"
               },
               "series_root": {
                "type": "object",
                "description": "Root meeting information of the meeting series",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Root meeting ID",
                  "example": "135"
                 },
                 "title": {
                  "type": "string",
                  "description": "Root meeting title",
                  "example": "James's Meeting"
                 }
                }
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting updated at",
                "example": "2021-07-23T10:00:00Z"
               },
               "meeting_date": {
                "type": "string",
                "description": "Meeting date",
                "example": "2025-07-22"
               },
               "meeting_remote_url": {
                "type": "string",
                "description": "Meeting remote url",
                "example": "https://zoom.us/j/123456789"
               },
               "attachments": {
                "type": "array",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string"
                  },
                  "name": {
                   "type": "string"
                  },
                  "filename": {
                   "type": "string"
                  },
                  "url": {
                   "type": "string"
                  },
                  "can_be_viewed": {
                   "type": "boolean"
                  },
                  "viewable": {
                   "type": "boolean"
                  },
                  "attached_to_item_id": {
                   "type": "string"
                  },
                  "attached_to_item_type": {
                   "type": "string"
                  }
                 }
                }
               },
               "download_all_attachments_url": {
                "type": "string",
                "description": "Download all attachments URL",
                "example": "https://www.example.com/1/company/attachments/download_all?uuid=uuid_value"
               },
               "distributed_at": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting last distributed at",
                "example": "2021-07-23T10:00:00Z"
               },
               "last_distributed_event": {
                "type": "string",
                "description": "Meeting last distributed event",
                "enum": [
                 "minutes",
                 "agenda"
                ],
                "example": "agenda"
               },
               "distributed_by": {
                "description": "Meeting last distributed by",
                "type": "object",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Login Information ID",
                  "example": "1738090"
                 },
                 "name": {
                  "type": "string",
                  "description": "User name",
                  "example": "John Doe"
                 },
                 "login": {
                  "type": "string",
                  "description": "User email",
                  "example": "johndoe@example.com"
                 }
                }
               },
               "is_distributed": {
                "type": "boolean",
                "description": "Is distributed",
                "example": false
               },
               "meeting_template": {
                "type": "object",
                "description": "Meeting Template",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Template ID",
                  "example": "1"
                 },
                 "title": {
                  "type": "string",
                  "description": "Title",
                  "example": "Template title"
                 }
                }
               },
               "remote_meeting_url": {
                "type": "string",
                "description": "Remote meeting url",
                "example": "https://zoom.us/j/123456789",
                "nullable": true
               }
              }
             }
            },
            "meta": {
             "type": "object",
             "description": "Pagination metadata"
            }
           }
          },
          {
           "title": "Default",
           "type": "object",
           "properties": {
            "data": {
             "type": "array",
             "description": "Meetings (Default View)",
             "items": {
              "type": "object",
              "description": "Meeting",
              "properties": {
               "id": {
                "type": "string",
                "description": "Meeting id",
                "example": "82593"
               },
               "title": {
                "type": "string",
                "description": "Meeting title",
                "example": "Jon's Meeting"
               },
               "conclusion": {
                "type": "string",
                "description": "Conclusion",
                "example": "My conclusion",
                "nullable": true
               },
               "conclusion_rich_text": {
                "type": "string",
                "description": "Conclusion rich text",
                "example": "<p>My conclusion</p>"
               },
               "custom_textarea_1": {
                "type": "string",
                "description": "Custom textarea 1",
                "example": "My custom text area"
               },
               "custom_textarea_1_rich_text": {
                "type": "string",
                "description": "Custom textarea 1 rich text",
                "example": "<p>My custom text area</p>",
                "nullable": true
               },
               "custom_textfield_1": {
                "type": "string",
                "description": "Custom textfield 1",
                "example": "My custom text field"
               },
               "custom_textfield_1_rich_text": {
                "type": "string",
                "description": "Custom textfield 1 rich text",
                "example": "<p>My custom text field</p>",
                "nullable": true
               },
               "description": {
                "type": "string",
                "description": "Meeting description",
                "example": "Stuff is going to go down aka ticket eating"
               },
               "description_rich_text": {
                "type": "string",
                "description": "Description rich text",
                "example": "<p>Overview of meeting</p>",
                "nullable": true
               },
               "distributed_at": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting last distributed at",
                "example": "2021-07-23T10:00:00Z",
                "nullable": true
               },
               "distributed_by": {
                "description": "Meeting last distributed by",
                "nullable": true,
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Login Information ID",
                  "example": "1738090"
                 },
                 "name": {
                  "type": "string",
                  "description": "User name",
                  "example": "John Doe"
                 },
                 "login": {
                  "type": "string",
                  "description": "User email",
                  "example": "johndoe@example.com"
                 }
                }
               },
               "download_all_attachments_url": {
                "type": "string",
                "description": "URL",
                "example": "https://s3.aws.foo",
                "nullable": true
               },
               "ends_at": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting End time",
                "example": "2021-07-23T17:00:00Z"
               },
               "finish_time": {
                "type": "string",
                "description": "Finish time",
                "example": "11:00 AM"
               },
               "is_draft": {
                "type": "boolean",
                "description": "Is draft",
                "example": false
               },
               "is_private": {
                "type": "boolean",
                "description": "Indicates whether this meeting is only visible to scheduled attendees and users with 'Admin' level permissions to the Meetings tool.",
                "example": true
               },
               "last_distributed_event": {
                "type": "string",
                "description": "Meeting last distributed event",
                "enum": [
                 "minutes",
                 "agenda"
                ],
                "example": "agenda",
                "nullable": true
               },
               "location": {
                "type": "string",
                "nullable": true,
                "description": "Meeting location",
                "example": "Office 123"
               },
               "meeting_template_id": {
                "type": "string",
                "nullable": true,
                "description": "Meeting Template id",
                "example": "82593"
               },
               "meeting_template": {
                "type": "object",
                "description": "Meeting Template",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Template ID",
                  "example": "1"
                 },
                 "title": {
                  "type": "string",
                  "description": "Title",
                  "example": "Template title"
                 }
                }
               },
               "meeting_topics_count": {
                "type": "integer",
                "description": "The number of agendas associated with this meeting",
                "example": 5
               },
               "mode": {
                "type": "string",
                "description": "Meeting mode",
                "example": "minutes",
                "enum": [
                 "minutes",
                 "agenda"
                ]
               },
               "occurred": {
                "type": "boolean",
                "description": "Indicates whether this meeting has already taken place",
                "example": true
               },
               "parent_id": {
                "type": "string",
                "nullable": true,
                "description": "Meeting parent id",
                "example": "88835"
               },
               "position": {
                "type": "integer",
                "description": "Meeting position",
                "example": 1
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting created at",
                "example": "2021-07-23T10:00:00Z"
               },
               "created_by_id": {
                "type": "string",
                "nullable": true,
                "description": "Id of the user who created the meeting (returned only for meetings created after Dec 2023)",
                "example": "1"
               },
               "start_time": {
                "type": "string",
                "description": "Start time",
                "example": "10:00 AM"
               },
               "starts_at": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting start time",
                "example": "2021-07-23T10:00:00Z"
               },
               "time_zone": {
                "type": "string",
                "description": "Time zone",
                "example": "Eastern Time (US & Canada)"
               },
               "timezone_iso": {
                "type": "string",
                "description": "Timezone standard",
                "example": "America/New_York"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting updated at",
                "example": "2021-07-23T10:00:00Z"
               }
              }
             }
            },
            "meta": {
             "type": "object",
             "description": "Pagination metadata"
            }
           }
          },
          {
           "title": "Mobile",
           "type": "object",
           "properties": {
            "data": {
             "type": "array",
             "description": "Meetings (Mobile View)",
             "items": {
              "allOf": [
               {
                "type": "object",
                "description": "Meeting (Meeting Information View - Embedded Properties)",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Meeting id",
                  "example": "82593"
                 },
                 "title": {
                  "type": "string",
                  "description": "Meeting title",
                  "example": "Jon's Meeting"
                 },
                 "conclusion": {
                  "type": "string",
                  "description": "Conclusion",
                  "example": "My conclusion"
                 },
                 "conclusion_rich_text": {
                  "type": "string",
                  "description": "Conclusion rich text",
                  "example": "<p>My conclusion</p>"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Meeting created at",
                  "example": "2021-07-23T10:00:00Z"
                 },
                 "created_by_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "Id of the user who created the meeting (returned only for meetings created after Dec 2023)",
                  "example": "1"
                 },
                 "custom_textarea_1": {
                  "type": "string",
                  "description": "Custom textarea 1",
                  "example": "My custom text area"
                 },
                 "custom_textarea_1_rich_text": {
                  "type": "string",
                  "description": "Custom textarea 1 rich text",
                  "example": "<p>My custom text area</p>"
                 },
                 "custom_textfield_1": {
                  "type": "string",
                  "description": "Custom textfield 1",
                  "example": "My custom text field"
                 },
                 "custom_textfield_1_rich_text": {
                  "type": "string",
                  "description": "Custom textfield 1 rich text",
                  "example": "<p>My custom text field</p>"
                 },
                 "description": {
                  "type": "string",
                  "description": "Description",
                  "example": "Overview of meeting"
                 },
                 "description_rich_text": {
                  "type": "string",
                  "description": "Description rich text",
                  "example": "<p>Overview of meeting</p>"
                 },
                 "finish_time": {
                  "type": "string",
                  "description": "Finish time",
                  "example": "11:00 AM"
                 },
                 "is_draft": {
                  "type": "boolean",
                  "description": "Is draft",
                  "example": false
                 },
                 "is_private": {
                  "type": "boolean",
                  "description": "Indicates whether this meeting is only visible to scheduled attendees and users with 'Admin' level permissions to the Meetings tool.",
                  "example": true
                 },
                 "location": {
                  "type": "string",
                  "nullable": true,
                  "description": "Meeting location",
                  "example": "Office 123"
                 },
                 "meeting_template_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "Meeting Template id",
                  "example": "82593"
                 },
                 "meeting_topics_count": {
                  "type": "integer",
                  "description": "The number of agendas associated with this meeting",
                  "example": 5
                 },
                 "mode": {
                  "type": "string",
                  "description": "Meeting mode",
                  "example": "minutes",
                  "enum": [
                   "minutes",
                   "agenda"
                  ]
                 },
                 "occurred": {
                  "type": "boolean",
                  "description": "Indicates whether this meeting has already taken place",
                  "example": true
                 },
                 "parent_id": {
                  "type": "string",
                  "nullable": true,
                  "description": "Meeting parent id",
                  "example": "88835"
                 },
                 "position": {
                  "type": "integer",
                  "description": "Meeting position",
                  "example": 1
                 },
                 "start_time": {
                  "type": "string",
                  "description": "Start time",
                  "example": "10:00 AM"
                 },
                 "time_zone": {
                  "type": "string",
                  "description": "Time zone",
                  "example": "Eastern Time (US & Canada)"
                 },
                 "timezone_iso": {
                  "type": "string",
                  "description": "Timezone standard",
                  "example": "America/New_York"
                 },
                 "series_root": {
                  "type": "object",
                  "description": "Root meeting information of the meeting series",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Root meeting ID",
                    "example": "135"
                   },
                   "title": {
                    "type": "string",
                    "description": "Root meeting title",
                    "example": "James's Meeting"
                   }
                  }
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Meeting updated at",
                  "example": "2021-07-23T10:00:00Z"
                 },
                 "meeting_date": {
                  "type": "string",
                  "description": "Meeting date",
                  "example": "2025-07-22"
                 },
                 "meeting_remote_url": {
                  "type": "string",
                  "description": "Meeting remote url",
                  "example": "https://zoom.us/j/123456789"
                 },
                 "attachments": {
                  "type": "array",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string"
                    },
                    "name": {
                     "type": "string"
                    },
                    "filename": {
                     "type": "string"
                    },
                    "url": {
                     "type": "string"
                    },
                    "can_be_viewed": {
                     "type": "boolean"
                    },
                    "viewable": {
                     "type": "boolean"
                    },
                    "attached_to_item_id": {
                     "type": "string"
                    },
                    "attached_to_item_type": {
                     "type": "string"
                    }
                   }
                  }
                 },
                 "download_all_attachments_url": {
                  "type": "string",
                  "description": "Download all attachments URL",
                  "example": "https://www.example.com/1/company/attachments/download_all?uuid=uuid_value"
                 },
                 "distributed_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Meeting last distributed at",
                  "example": "2021-07-23T10:00:00Z"
                 },
                 "last_distributed_event": {
                  "type": "string",
                  "description": "Meeting last distributed event",
                  "enum": [
                   "minutes",
                   "agenda"
                  ],
                  "example": "agenda"
                 },
                 "distributed_by": {
                  "description": "Meeting last distributed by",
                  "type": "object",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Login Information ID",
                    "example": "1738090"
                   },
                   "name": {
                    "type": "string",
                    "description": "User name",
                    "example": "John Doe"
                   },
                   "login": {
                    "type": "string",
                    "description": "User email",
                    "example": "johndoe@example.com"
                   }
                  }
                 },
                 "is_distributed": {
                  "type": "boolean",
                  "description": "Is distributed",
                  "example": false
                 },
                 "meeting_template": {
                  "type": "object",
                  "description": "Meeting Template",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Template ID",
                    "example": "1"
                   },
                   "title": {
                    "type": "string",
                    "description": "Title",
                    "example": "Template title"
                   }
                  }
                 },
                 "remote_meeting_url": {
                  "type": "string",
                  "description": "Remote meeting url",
                  "example": "https://zoom.us/j/123456789",
                  "nullable": true
                 }
                }
               },
               {
                "type": "object",
                "description": "Mobile-specific fields for Meeting",
                "properties": {
                 "group_id": {
                  "type": "string",
                  "description": "Root meeting ID for grouping follow-up meetings",
                  "example": "150",
                  "nullable": true
                 },
                 "has_follow_up_meeting": {
                  "type": "boolean",
                  "description": "Indicates whether this meeting has any follow-up meetings.\nNote: This field is only present in list (index), show, and update responses.\n",
                  "example": true
                 },
                 "attendees": {
                  "type": "array",
                  "description": "Meeting attendees (compact view)",
                  "items": {
                   "type": "object",
                   "description": "Meeting Attendee (Compact View)",
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "Id",
                     "example": "1"
                    },
                    "login_information": {
                     "type": "object",
                     "description": "Login Information",
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "Id",
                       "example": "7"
                      },
                      "login": {
                       "type": "string",
                       "description": "Login",
                       "example": "john@example.com"
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "John Doe"
                      }
                     }
                    },
                    "status": {
                     "type": "string",
                     "description": "Status",
                     "example": "Present"
                    }
                   }
                  }
                 },
                 "topics": {
                  "type": "array",
                  "description": "Meeting topics (mobile view)",
                  "items": {
                   "allOf": [
                    {
                     "type": "object",
                     "description": "Meeting Topic",
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "Unique identifier of the meeting topic, returned as a string. Use as the {id} path parameter to fetch, update, or delete the topic via /rest/v2.0/companies/{company_id}/projects/{project_id}/meeting_topics/{id}.",
                       "example": "1"
                      },
                      "title": {
                       "type": "string",
                       "description": "Meeting topic title",
                       "example": "34' Level"
                      },
                      "position": {
                       "type": "integer",
                       "description": "1-based ordinal position of the topic within its meeting category, controlling display order.",
                       "example": 1
                      },
                      "number": {
                       "type": "string",
                       "description": "Hierarchical outline number of the topic (e.g. '1.1') reflecting its position within the meeting.",
                       "example": "1.1"
                      },
                      "is_deletable": {
                       "type": "boolean",
                       "description": "Whether the topic can be deleted in its current state (e.g. new-business or closed topics in an editable meeting).",
                       "example": true
                      },
                      "new_business": {
                       "type": "boolean",
                       "description": "Whether the topic is new business (has no parent topic carried over from a previous meeting).",
                       "example": true
                      },
                      "activity_status": {
                       "type": "string",
                       "description": "Activity status of the meeting topic. Derived from status - 'inactive' when the topic is Closed, otherwise 'active'.",
                       "example": "active",
                       "enum": [
                        "active",
                        "inactive"
                       ]
                      }
                     }
                    },
                    {
                     "type": "object",
                     "description": "Additional fields for Meeting Topic Mobile View",
                     "properties": {
                      "assignments": {
                       "type": "array",
                       "items": {
                        "type": "object",
                        "description": "Login Information",
                        "nullable": true,
                        "properties": {
                         "id": {
                          "type": "string",
                          "description": "Login Information ID",
                          "example": "1738090"
                         },
                         "name": {
                          "type": "string",
                          "description": "User name",
                          "example": "John Doe"
                         },
                         "login": {
                          "type": "string",
                          "description": "User email",
                          "example": "johndoe@example.com"
                         }
                        }
                       }
                      },
                      "description": {
                       "type": "string",
                       "description": "Meeting topic description",
                       "example": "Need pricing from vendor for 34' level"
                      },
                      "attachments": {
                       "type": "array",
                       "description": "Meeting topic attachments (filtered for mobile)",
                       "items": {
                        "type": "object",
                        "properties": {
                         "id": {
                          "type": "string"
                         },
                         "name": {
                          "type": "string"
                         },
                         "filename": {
                          "type": "string"
                         },
                         "url": {
                          "type": "string"
                         },
                         "can_be_viewed": {
                          "type": "boolean"
                         },
                         "viewable": {
[...]
