{
 "openapi": "3.0.0",
 "info": {
  "title": "Meeting Categories",
  "x-product-category": "Project Management",
  "x-tool-category": "Meetings",
  "x-resource-name": "Meeting Categories",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/meeting_categories": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List meeting categories",
    "description": "Returns all Meeting Categories for a given Meeting.",
    "tags": [
     "Meetings"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "meeting_id",
      "in": "query",
      "description": "ID of the meeting",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of meeting categories",
         "items": {
          "type": "object",
          "description": "A grouping of meeting topics within a Meeting. Topics (agenda/minutes items) are organized under categories.",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this meeting category. Use as the `{id}` path parameter to update the category via `/rest/v1.0/meeting_categories/{id}`.",
            "example": 192424
           },
           "title": {
            "type": "string",
            "description": "Display name of the category, shown as a section heading for its topics.",
            "example": "Uncategorized Items"
           },
           "position": {
            "type": "integer",
            "description": "Zero-based ordering of this category within the Meeting; lower values sort first.",
            "example": 0
           },
           "created_by": {
            "description": "The Project user who created this category. Null when the creator is unknown (for example, on categories created before creator tracking).",
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Login Information ID",
              "example": 1738090
             },
             "name": {
              "type": "string",
              "description": "User name",
              "example": "John Doe"
             },
             "login": {
              "type": "string",
              "description": "User email",
              "example": "johndoe@example.com"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/meeting_categories',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    meeting_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/meeting_categories?project_id=SOME_INTEGER_VALUE&meeting_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/meeting_categories?project_id=SOME_INTEGER_VALUE&meeting_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/meeting_categories?project_id=SOME_INTEGER_VALUE&meeting_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create meeting category",
    "description": "Create a new Meeting Category.",
    "tags": [
     "Meetings"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "meeting_id",
         "meeting_category"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Identifier of the Project the Meeting belongs to. Must reference an existing Project the caller can access.",
          "example": 192424
         },
         "meeting_id": {
          "type": "integer",
          "description": "Identifier of the Meeting the new category will be added to.",
          "example": 213513
         },
         "meeting_category": {
          "title": "Meeting Category",
          "type": "object",
          "description": "Attributes for the meeting category to create or update.",
          "properties": {
           "position": {
            "type": "integer",
            "description": "Zero-based sort order for the category within the Meeting. When omitted on create, the category is appended after existing categories.",
            "example": 1
           },
           "title": {
            "type": "string",
            "description": "Display name for the category, shown as a section heading for its topics.",
            "example": "Uncategorized Items"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "description": "A grouping of meeting topics within a Meeting. Topics (agenda/minutes items) are organized under categories.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this meeting category. Use as the `{id}` path parameter to update the category via `/rest/v1.0/meeting_categories/{id}`.",
             "example": 192424
            },
            "title": {
             "type": "string",
             "description": "Display name of the category, shown as a section heading for its topics.",
             "example": "Uncategorized Items"
            },
            "position": {
             "type": "integer",
             "description": "Zero-based ordering of this category within the Meeting; lower values sort first.",
             "example": 0
            },
            "created_by": {
             "description": "The Project user who created this category. Null when the creator is unknown (for example, on categories created before creator tracking).",
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Login Information ID",
               "example": 1738090
              },
              "name": {
               "type": "string",
               "description": "User name",
               "example": "John Doe"
              },
              "login": {
               "type": "string",
               "description": "User email",
               "example": "johndoe@example.com"
              }
             }
            }
           }
          }
         ],
         "properties": {
          "created_by": {
           "type": "object",
           "description": "The Project user who created this category. Present only when a creator is recorded.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Login Information (user) identifier of the creator.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email address the creator signs in with.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full display name of the creator.",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/meeting_categories',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 192424,\n    meeting_id: 213513,\n    meeting_category: {position: 1, title: 'Uncategorized Items'}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":192424,\\\"meeting_id\\\":213513,\\\"meeting_category\\\":{\\\"position\\\":1,\\\"title\\\":\\\"Uncategorized Items\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/meeting_categories\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/meeting_categories \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":192424,\"meeting_id\":213513,\"meeting_category\":{\"position\":1,\"title\":\"Uncategorized Items\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/meeting_categories\"),\n    Content = new StringContent(\"{\\\"project_id\\\":192424,\\\"meeting_id\\\":213513,\\\"meeting_category\\\":{\\\"position\\\":1,\\\"title\\\":\\\"Uncategorized Items\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add validation to Meeting Category title on create",
      "description": "Return a 400 status code when creating a meeting category, in case the new title is duplicated in the same meeting.",
      "endpoint": "POST /meeting_categories",
      "type": "fix",
      "breaking": true,
      "datestamp": "2025-06-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meeting-categories?version=1.0#create-meeting-category"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/meeting_categories/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the meeting category",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update meeting category",
    "description": "Update a Meeting Category.",
    "tags": [
     "Meetings"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "meeting_id",
         "meeting_category"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Identifier of the Project the Meeting belongs to. Must reference an existing Project the caller can access.",
          "example": 192424
         },
         "meeting_id": {
          "type": "integer",
          "description": "Identifier of the Meeting the new category will be added to.",
          "example": 213513
         },
         "meeting_category": {
          "title": "Meeting Category",
          "type": "object",
          "description": "Attributes for the meeting category to create or update.",
          "properties": {
           "position": {
            "type": "integer",
            "description": "Zero-based sort order for the category within the Meeting. When omitted on create, the category is appended after existing categories.",
            "example": 1
           },
           "title": {
            "type": "string",
            "description": "Display name for the category, shown as a section heading for its topics.",
            "example": "Uncategorized Items"
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "description": "A grouping of meeting topics within a Meeting. Topics (agenda/minutes items) are organized under categories.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique identifier for this meeting category. Use as the `{id}` path parameter to update the category via `/rest/v1.0/meeting_categories/{id}`.",
             "example": 192424
            },
            "title": {
             "type": "string",
             "description": "Display name of the category, shown as a section heading for its topics.",
             "example": "Uncategorized Items"
            },
            "position": {
             "type": "integer",
             "description": "Zero-based ordering of this category within the Meeting; lower values sort first.",
             "example": 0
            },
            "created_by": {
             "description": "The Project user who created this category. Null when the creator is unknown (for example, on categories created before creator tracking).",
             "type": "object",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Login Information ID",
               "example": 1738090
              },
              "name": {
               "type": "string",
               "description": "User name",
               "example": "John Doe"
              },
              "login": {
               "type": "string",
               "description": "User email",
               "example": "johndoe@example.com"
              }
             }
            }
           }
          }
         ],
         "properties": {
          "created_by": {
           "type": "object",
           "description": "The Project user who created this category. Present only when a creator is recorded.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Login Information (user) identifier of the creator.",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email address the creator signs in with.",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Full display name of the creator.",
             "example": "Carl Contractor"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/meeting_categories/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 192424,\n    meeting_id: 213513,\n    meeting_category: {position: 1, title: 'Uncategorized Items'}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":192424,\\\"meeting_id\\\":213513,\\\"meeting_category\\\":{\\\"position\\\":1,\\\"title\\\":\\\"Uncategorized Items\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/meeting_categories/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/meeting_categories/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":192424,\"meeting_id\":213513,\"meeting_category\":{\"position\":1,\"title\":\"Uncategorized Items\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/meeting_categories/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_id\\\":192424,\\\"meeting_id\\\":213513,\\\"meeting_category\\\":{\\\"position\\\":1,\\\"title\\\":\\\"Uncategorized Items\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add validation to Meeting Category title on update",
      "description": "Return a 400 status code when updating a meeting category's title, in case the new title is duplicated in the same meeting.",
      "endpoint": "PATCH /meeting_categories/{id}",
      "type": "fix",
      "breaking": true,
      "datestamp": "2025-06-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "meeting-categories?version=1.0#update-meeting-category"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}