{
 "openapi": "3.1.0",
 "info": {
  "title": "Model",
  "version": "2.0",
  "x-product-category": "Resource Management",
  "x-resource-name": "Model",
  "x-tool-category": "Equipment",
  "x-product-lines": [
   "equipment-register"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com",
   "description": "Procore API server"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/equipment_register_models": {
   "get": {
    "tags": [
     "Model"
    ],
    "summary": "Get all equipment models (Project)",
    "operationId": "getAllEquipmentModels",
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "The page number to retrieve. Default is 1.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of records per page",
      "required": true,
      "schema": {
       "type": "integer",
       "default": 10,
       "maximum": 100
      }
     },
     {
      "name": "filters[is_active]",
      "in": "query",
      "description": "Is active filter",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[make_id]",
      "in": "query",
      "description": "Make filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier for the project.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Operation",
      "headers": {
       "Per-Page": {
        "description": "Number of records per page",
        "style": "simple",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of records",
        "style": "simple",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link to pages",
        "style": "simple",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "example": "01J3F3DJK1XGQMG8RZH3M131BX"
             },
             "name": {
              "type": "string",
              "example": "PW1500"
             },
             "type": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
               },
               "name": {
                "type": "string",
                "example": "Asphalt Paver"
               },
               "category": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Aggregate Concrete"
                 },
                 "in_use": {
                  "type": "boolean"
                 },
                 "is_active": {
                  "type": "boolean",
                  "example": true
                 }
                }
               },
               "in_use": {
                "type": "boolean"
               },
               "is_active": {
                "type": "boolean",
                "example": true
               }
              }
             },
             "make": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F3BYX9G11R3XHXPFA2G361"
               },
               "name": {
                "type": "string",
                "example": "Antec"
               },
               "in_use": {
                "type": "boolean"
               },
               "is_active": {
                "type": "boolean",
                "example": true
               }
              }
             },
             "in_use": {
              "type": "boolean"
             },
             "is_active": {
              "type": "boolean",
              "example": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/projects/1234/equipment_register_models',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[is_active]': 'SOME_BOOLEAN_VALUE',\n    'filters[make_id]': 'SOME_STRING_VALUE'\n  },\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Procore-Company-Id': \"SOME_INTEGER_VALUE\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/1234/projects/1234/equipment_register_models?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_active%5D=SOME_BOOLEAN_VALUE&filters%5Bmake_id%5D=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/1234/projects/1234/equipment_register_models?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_active%5D=SOME_BOOLEAN_VALUE&filters%5Bmake_id%5D=SOME_STRING_VALUE' \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/projects/1234/equipment_register_models?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_active%5D=SOME_BOOLEAN_VALUE&filters%5Bmake_id%5D=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Get All Models Endpoint At Project Level",
      "description": "Get all models (Project)",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/equipment_register_models",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-03-06",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "stage": "ga",
       "visibility": "public",
       "exposure": "public"
      },
      "link": "model?version=2.0#get-all-equipment-models-project"
     }
    ]
   },
   "post": {
    "tags": [
     "Model"
    ],
    "summary": "Create equipment model (Project)",
    "operationId": "createEquipmentModel",
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "description": "Unique identifier for the project.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Equipment model save request",
        "properties": {
         "name": {
          "type": "string",
          "description": "The name of the equipment model.",
          "example": "D6T"
         },
         "make_id": {
          "type": "string",
          "description": "The unique identifier of the equipment make.",
          "example": "01J3F6YFWJSGZQP2Y38JHJ2SH4"
         },
         "type_id": {
          "type": "string"
         },
         "is_active": {
          "type": "boolean",
          "description": "Active/Inactive indicator for Equipment Model.",
          "example": true
         }
        },
        "required": [
         "is_active",
         "make_id",
         "name"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "example": "01J3F3DJK1XGQMG8RZH3M131BX"
            },
            "name": {
             "type": "string",
             "example": "PW1500"
            },
            "type": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
              },
              "name": {
               "type": "string",
               "example": "Asphalt Paver"
              },
              "category": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "01J3F36T5VVPR9RN20328Q2275"
                },
                "name": {
                 "type": "string",
                 "example": "Asphalt Aggregate Concrete"
                },
                "in_use": {
                 "type": "boolean"
                },
                "is_active": {
                 "type": "boolean",
                 "example": true
                }
               }
              },
              "in_use": {
               "type": "boolean"
              },
              "is_active": {
               "type": "boolean",
               "example": true
              }
             }
            },
            "make": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3BYX9G11R3XHXPFA2G361"
              },
              "name": {
               "type": "string",
               "example": "Antec"
              },
              "in_use": {
               "type": "boolean"
              },
              "is_active": {
               "type": "boolean",
               "example": true
              }
             }
            },
            "in_use": {
             "type": "boolean"
            },
            "is_active": {
             "type": "boolean",
             "example": true
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     },
     "422": {
      "description": "The request was well-formed but was unable to be followed due to semantic errors."
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/projects/1234/equipment_register_models',\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE', 'content-type': 'application/json'},\n  body: {\n    name: 'D6T',\n    make_id: '01J3F6YFWJSGZQP2Y38JHJ2SH4',\n    type_id: 'string',\n    is_active: true\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"D6T\\\",\\\"make_id\\\":\\\"01J3F6YFWJSGZQP2Y38JHJ2SH4\\\",\\\"type_id\\\":\\\"string\\\",\\\"is_active\\\":true}\"\n\nheaders = {\n    'Procore-Company-Id': \"SOME_INTEGER_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/1234/projects/1234/equipment_register_models\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/1234/projects/1234/equipment_register_models \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"D6T\",\"make_id\":\"01J3F6YFWJSGZQP2Y38JHJ2SH4\",\"type_id\":\"string\",\"is_active\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/projects/1234/equipment_register_models\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"name\\\":\\\"D6T\\\",\\\"make_id\\\":\\\"01J3F6YFWJSGZQP2Y38JHJ2SH4\\\",\\\"type_id\\\":\\\"string\\\",\\\"is_active\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/equipment_register_models": {
   "get": {
    "tags": [
     "Model"
    ],
    "summary": "Get all equipment models (Company)",
    "operationId": "getAllEquipmentModels_1",
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "The page number to retrieve. Default is 1.",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Number of records per page",
      "required": true,
      "schema": {
       "type": "integer",
       "default": 10,
       "maximum": 100
      }
     },
     {
      "name": "filters[is_active]",
      "in": "query",
      "description": "Is active filter",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[make_id]",
      "in": "query",
      "description": "Make filter",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "responses": {
     "200": {
      "description": "Successful Operation",
      "headers": {
       "Per-Page": {
        "description": "Number of records per page",
        "style": "simple",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of records",
        "style": "simple",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link to pages",
        "style": "simple",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "example": "01J3F3DJK1XGQMG8RZH3M131BX"
             },
             "name": {
              "type": "string",
              "example": "PW1500"
             },
             "type": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
               },
               "name": {
                "type": "string",
                "example": "Asphalt Paver"
               },
               "category": {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "example": "01J3F36T5VVPR9RN20328Q2275"
                 },
                 "name": {
                  "type": "string",
                  "example": "Asphalt Aggregate Concrete"
                 },
                 "in_use": {
                  "type": "boolean"
                 },
                 "is_active": {
                  "type": "boolean",
                  "example": true
                 }
                }
               },
               "in_use": {
                "type": "boolean"
               },
               "is_active": {
                "type": "boolean",
                "example": true
               }
              }
             },
             "make": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string",
                "example": "01J3F3BYX9G11R3XHXPFA2G361"
               },
               "name": {
                "type": "string",
                "example": "Antec"
               },
               "in_use": {
                "type": "boolean"
               },
               "is_active": {
                "type": "boolean",
                "example": true
               }
              }
             },
             "in_use": {
              "type": "boolean"
             },
             "is_active": {
              "type": "boolean",
              "example": true
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[is_active]': 'SOME_BOOLEAN_VALUE',\n    'filters[make_id]': 'SOME_STRING_VALUE'\n  },\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Procore-Company-Id': \"SOME_INTEGER_VALUE\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/1234/equipment_register_models?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_active%5D=SOME_BOOLEAN_VALUE&filters%5Bmake_id%5D=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_active%5D=SOME_BOOLEAN_VALUE&filters%5Bmake_id%5D=SOME_STRING_VALUE' \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bis_active%5D=SOME_BOOLEAN_VALUE&filters%5Bmake_id%5D=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Get All Models Endpoint At Company Level",
      "description": "Get all models (Company)",
      "endpoint": "GET /companies/{company_id}/equipment_register_models",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-03-06",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "stage": "ga",
       "visibility": "public",
       "exposure": "public"
      },
      "link": "model?version=2.0#get-all-equipment-models-company"
     }
    ]
   },
   "post": {
    "tags": [
     "Model"
    ],
    "summary": "Create equipment model (Company)",
    "operationId": "createEquipmentModel_1",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Equipment model save request",
        "properties": {
         "name": {
          "type": "string",
          "description": "The name of the equipment model.",
          "example": "D6T"
         },
         "make_id": {
          "type": "string",
          "description": "The unique identifier of the equipment make.",
          "example": "01J3F6YFWJSGZQP2Y38JHJ2SH4"
         },
         "type_id": {
          "type": "string"
         },
         "is_active": {
          "type": "boolean",
          "description": "Active/Inactive indicator for Equipment Model.",
          "example": true
         }
        },
        "required": [
         "is_active",
         "make_id",
         "name"
        ]
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "example": "01J3F3DJK1XGQMG8RZH3M131BX"
            },
            "name": {
             "type": "string",
             "example": "PW1500"
            },
            "type": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
              },
              "name": {
               "type": "string",
               "example": "Asphalt Paver"
              },
              "category": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "01J3F36T5VVPR9RN20328Q2275"
                },
                "name": {
                 "type": "string",
                 "example": "Asphalt Aggregate Concrete"
                },
                "in_use": {
                 "type": "boolean"
                },
                "is_active": {
                 "type": "boolean",
                 "example": true
                }
               }
              },
              "in_use": {
               "type": "boolean"
              },
              "is_active": {
               "type": "boolean",
               "example": true
              }
             }
            },
            "make": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3BYX9G11R3XHXPFA2G361"
              },
              "name": {
               "type": "string",
               "example": "Antec"
              },
              "in_use": {
               "type": "boolean"
              },
              "is_active": {
               "type": "boolean",
               "example": true
              }
             }
            },
            "in_use": {
             "type": "boolean"
            },
            "is_active": {
             "type": "boolean",
             "example": true
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     },
     "422": {
      "description": "The request was well-formed but was unable to be followed due to semantic errors."
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models',\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE', 'content-type': 'application/json'},\n  body: {\n    name: 'D6T',\n    make_id: '01J3F6YFWJSGZQP2Y38JHJ2SH4',\n    type_id: 'string',\n    is_active: true\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"D6T\\\",\\\"make_id\\\":\\\"01J3F6YFWJSGZQP2Y38JHJ2SH4\\\",\\\"type_id\\\":\\\"string\\\",\\\"is_active\\\":true}\"\n\nheaders = {\n    'Procore-Company-Id': \"SOME_INTEGER_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/1234/equipment_register_models\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"D6T\",\"make_id\":\"01J3F6YFWJSGZQP2Y38JHJ2SH4\",\"type_id\":\"string\",\"is_active\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"name\\\":\\\"D6T\\\",\\\"make_id\\\":\\\"01J3F6YFWJSGZQP2Y38JHJ2SH4\\\",\\\"type_id\\\":\\\"string\\\",\\\"is_active\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Create Model Endpoint At Company Level",
      "description": "Create model (Company)",
      "endpoint": "POST /companies/{company_id}/equipment_register_models",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-03-06",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "stage": "ga",
       "visibility": "public",
       "exposure": "public"
      },
      "link": "model?version=2.0#create-equipment-model-company"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v2.0/companies/{company_id}/equipment_register_models/{model_id}": {
   "delete": {
    "tags": [
     "Model"
    ],
    "summary": "Delete equipment model (Company)",
    "operationId": "deleteEquipmentModel",
    "parameters": [
     {
      "name": "model_id",
      "in": "path",
      "description": "Model id",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "additionalProperties": {
            "type": "boolean"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models/%7Bmodel_id%7D',\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Procore-Company-Id': \"SOME_INTEGER_VALUE\" }\n\nconn.request(\"DELETE\", \"/rest/v2.0/companies/1234/equipment_register_models/%7Bmodel_id%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models/%7Bmodel_id%7D \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models/%7Bmodel_id%7D\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Delete Model Endpoint At Company Level",
      "description": "Delete model (Company)",
      "endpoint": "DELETE /companies/{company_id}/equipment_register_models/{model_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-03-06",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "stage": "ga",
       "visibility": "public",
       "exposure": "public"
      },
      "link": "model?version=2.0#delete-equipment-model-company"
     }
    ]
   },
   "patch": {
    "tags": [
     "Model"
    ],
    "summary": "Update equipment model (Company)",
    "operationId": "updateEquipmentModel",
    "parameters": [
     {
      "name": "model_id",
      "in": "path",
      "description": "Model id",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "1234"
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "description": "Equipment model update request",
        "properties": {
         "name": {
          "type": "string",
          "description": "The name of the equipment model.",
          "example": "D6T"
         },
         "type_id": {
          "type": "string",
          "description": "The unique identifier of the equipment make.",
          "example": "01J3F6YFWJSGZQP2Y38JHJ2SH4"
         },
         "is_active": {
          "type": "boolean",
          "description": "Active/Inactive indicator for Equipment Model.",
          "example": true
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "example": "01J3F3DJK1XGQMG8RZH3M131BX"
            },
            "name": {
             "type": "string",
             "example": "PW1500"
            },
            "type": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3015CWKSMHKY6KPDWFFHZ"
              },
              "name": {
               "type": "string",
               "example": "Asphalt Paver"
              },
              "category": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "example": "01J3F36T5VVPR9RN20328Q2275"
                },
                "name": {
                 "type": "string",
                 "example": "Asphalt Aggregate Concrete"
                },
                "in_use": {
                 "type": "boolean"
                },
                "is_active": {
                 "type": "boolean",
                 "example": true
                }
               }
              },
              "in_use": {
               "type": "boolean"
              },
              "is_active": {
               "type": "boolean",
               "example": true
              }
             }
            },
            "make": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string",
               "example": "01J3F3BYX9G11R3XHXPFA2G361"
              },
              "name": {
               "type": "string",
               "example": "Antec"
              },
              "in_use": {
               "type": "boolean"
              },
              "is_active": {
               "type": "boolean",
               "example": true
              }
             }
            },
            "in_use": {
             "type": "boolean"
            },
            "is_active": {
             "type": "boolean",
             "example": true
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "The server could not understand the request due to invalid syntax or parameters that fail to meet validation requirements."
     },
     "401": {
      "description": "Although the HTTP standard specifies \"unauthorized\", semantically this response means \"unauthenticated\". That is, the client must authenticate itself to get the requested response."
     },
     "403": {
      "description": "The client does not have access rights to the content; that is, it is authenticated, but the server is refusing to give the requested resource. Unlike 401, the client's identity is known to the server."
     },
     "404": {
      "description": "The server can not find the requested resource. This can mean either the URL is not recognized, or the resource itself does not exist. Servers may also send this response instead of 403 to hide the existence of a resource from an unauthorized client."
     },
     "422": {
      "description": "The request was well-formed but was unable to be followed due to semantic errors."
     }
    },
    "x-doc": {
     "stage": "ga",
     "visibility": "public",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models/%7Bmodel_id%7D',\n  headers: {'Procore-Company-Id': 'SOME_INTEGER_VALUE', 'content-type': 'application/json'},\n  body: {name: 'D6T', type_id: '01J3F6YFWJSGZQP2Y38JHJ2SH4', is_active: true},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"name\\\":\\\"D6T\\\",\\\"type_id\\\":\\\"01J3F6YFWJSGZQP2Y38JHJ2SH4\\\",\\\"is_active\\\":true}\"\n\nheaders = {\n    'Procore-Company-Id': \"SOME_INTEGER_VALUE\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"PATCH\", \"/rest/v2.0/companies/1234/equipment_register_models/%7Bmodel_id%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models/%7Bmodel_id%7D \\\n  --header 'Procore-Company-Id: SOME_INTEGER_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"D6T\",\"type_id\":\"01J3F6YFWJSGZQP2Y38JHJ2SH4\",\"is_active\":true}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/1234/equipment_register_models/%7Bmodel_id%7D\"),\n    Headers =\n    {\n        { \"Procore-Company-Id\", \"SOME_INTEGER_VALUE\" },\n    },\n    Content = new StringContent(\"{\\\"name\\\":\\\"D6T\\\",\\\"type_id\\\":\\\"01J3F6YFWJSGZQP2Y38JHJ2SH4\\\",\\\"is_active\\\":true}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Update Model Endpoint At Company Level",
      "description": "Update model (Company)",
      "endpoint": "PATCH /companies/{company_id}/equipment_register_models/{model_id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-03-06",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "stage": "ga",
       "visibility": "public",
       "exposure": "public"
      },
      "link": "model?version=2.0#update-equipment-model-company"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}