{
 "openapi": "3.0.0",
 "info": {
  "title": "Nested BIM View Folder Batch",
  "x-product-category": "Preconstruction",
  "x-tool-category": "BIM",
  "x-resource-name": "Nested BIM View Folder Batch",
  "version": "1.0",
  "x-product-lines": [
   "Design Coordination"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/nested_bim_view_folders/batch": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create a batch of BIM View Folder by path",
    "description": "Creates a batch of nested BIM folders as per path provided. If the folder corresponding to a\npath exists, the folder at the lowest level is returned.",
    "tags": [
     "BIM View Folders"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "bim_view_folders"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 126
         },
         "view": {
          "type": "string",
          "description": "Specify response schema view",
          "enum": [
           "compact",
           "normal",
           "extended"
          ]
         },
         "bim_view_folders": {
          "type": "array",
          "description": "An array of nested BIM View Folder payload",
          "items": {
           "type": "object",
           "required": [
            "path",
            "bim_file_id"
           ],
           "properties": {
            "path": {
             "type": "array",
             "items": {
              "type": "string",
              "description": "View Folder name",
              "example": "Mechanical"
             }
            },
            "bim_file_id": {
             "type": "integer",
             "description": "Id of BimFile to associate",
             "example": 196
            }
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Nested BIM View Folder Batch create response",
         "type": "object",
         "properties": {
          "bim_view_folders": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 109
             },
             "name": {
              "type": "string",
              "description": "Name of view folder",
              "example": "Mechanical"
             },
             "parent_id": {
              "type": "integer",
              "nullable": true,
              "description": "Id of parent BimViewFolder",
              "example": 168
             },
             "bim_file_id": {
              "type": "integer",
              "description": "Id of associated BimFile",
              "example": 196
             },
             "project_id": {
              "type": "integer",
              "description": "Project Id",
              "example": 101
             },
             "created_by_id": {
              "type": "integer",
              "description": "Id if creator",
              "example": 137
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Created date",
              "example": "2018-04-19T09:36:42Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Updated date",
              "example": "2018-04-20T09:36:42Z"
             }
            }
           }
          },
          "errors": {
           "type": "array",
           "items": {
            "type": "object",
            "allOf": [
             {
              "type": "object",
              "required": [
               "path",
               "bim_file_id"
              ],
              "properties": {
               "path": {
                "type": "array",
                "items": {
                 "type": "string",
                 "description": "View Folder name",
                 "example": "Mechanical"
                }
               },
               "bim_file_id": {
                "type": "integer",
                "description": "Id of BimFile to associate",
                "example": 196
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "errors": {
                "type": "object",
                "properties": {
                 "field_name": {
                  "type": "array",
                  "items": {
                   "type": "string"
                  }
                 }
                }
               }
              }
             }
            ]
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/nested_bim_view_folders/batch',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 126,\n    view: 'compact',\n    bim_view_folders: [{path: ['Mechanical'], bim_file_id: 196}]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_view_folders\\\":[{\\\"path\\\":[\\\"Mechanical\\\"],\\\"bim_file_id\\\":196}]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/nested_bim_view_folders/batch\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/nested_bim_view_folders/batch \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":126,\"view\":\"compact\",\"bim_view_folders\":[{\"path\":[\"Mechanical\"],\"bim_file_id\":196}]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/nested_bim_view_folders/batch\"),\n    Content = new StringContent(\"{\\\"project_id\\\":126,\\\"view\\\":\\\"compact\\\",\\\"bim_view_folders\\\":[{\\\"path\\\":[\\\"Mechanical\\\"],\\\"bim_file_id\\\":196}]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}