{
 "openapi": "3.0.0",
 "info": {
  "title": "Observations",
  "x-product-category": "Project Management",
  "x-tool-category": "Observations",
  "x-resource-name": "Observations",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/observations/category_configurable_field_sets": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Observation Category Configurable Field Sets",
    "description": "Returns a collection of Observation Category Configurable Field Sets from the Project",
    "tags": [
     "Observations"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "title": "Array of Observation Category Configurable Field Sets",
         "type": "array",
         "items": {
          "title": "Observation Category Configurable Field Sets",
          "type": "object",
          "required": [
           "id",
           "category",
           "configurable_field_set"
          ],
          "properties": {
           "id": {
            "type": "integer",
            "nullable": true,
            "description": "Observation Cateogry Configurable Field Set",
            "example": 4
           },
           "category": {
            "type": "string",
            "description": "Observation Cateogry Configurable Field Set category",
            "example": "Commissioning",
            "enum": [
             "Quality",
             "Safety",
             "Commissioning",
             "Warranty",
             "Work To Complete",
             "Environmental"
            ]
           },
           "category_key": {
            "type": "string",
            "description": "Observation Type category (snake_case)",
            "example": "work_to_complete"
           },
           "observations_category_id": {
            "type": "integer",
            "nullable": true,
            "description": "The unique identifier of the observations category.",
            "example": 1
           },
           "configurable_field_set": {
            "type": "object",
            "title": "Configurable Field Set",
            "properties": {
             "id": {
              "type": "integer",
              "nullable": true,
              "description": "The unique identifier of the configurable field set.",
              "example": 999
             },
             "name": {
              "type": "string",
              "nullable": true,
              "description": "The name of the configurable field set.",
              "example": "Observation Fields"
             },
             "category": {
              "type": "string",
              "description": "Specifies the category for the configurable field set if it exists or an empty string. This property was added for the ConfigurableFieldSet::Observations::Item class.",
              "example": "commissioning"
             },
             "class_name": {
              "type": "string",
              "description": "Specifies the class the configurable field set is associated with.",
              "example": "Observations::Item"
             },
             "fields": {
              "type": "object",
              "description": "Specifies the hash of fields on an object. This is for example purposes only.",
              "additionalProperties": true,
              "properties": {
               "field_1": {
                "type": "object",
                "description": "The first Observation Field object.",
                "properties": {
                 "name": {
                  "type": "string",
                  "description": "The name of the field.",
                  "example": "field_1"
                 },
                 "visible": {
                  "type": "boolean",
                  "description": "If this property is set to true, the field is visible. If this property is set to false, the field is not visible.",
                  "example": true
                 },
                 "required": {
                  "type": "boolean",
                  "description": "If this property is set to true, the field is required, if the property is set to false, the field is not required.",
                  "example": true
                 }
                }
               },
               "custom_field_1": {
                "type": "object",
                "description": "Custom Field object for an existing custom field in this configurable field set object.",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "The metadatum identifier of the custom field.",
                  "example": 999
                 },
                 "name": {
                  "type": "string",
                  "description": "The name of the custom field.",
                  "example": "custom_field_1"
                 },
                 "label": {
                  "type": "string",
                  "description": "The label of the custom field definition.",
                  "example": "Worked hours"
                 },
                 "description": {
                  "type": "string",
                  "description": "The description of the custom field definition.",
                  "example": "description"
                 },
                 "custom_field_definition_id": {
                  "type": "integer",
                  "description": "The definition identifier of the custom field.",
                  "example": 999
                 },
                 "data_type": {
                  "type": "string",
                  "description": "Data type of the custom field.",
                  "enum": [
                   "string",
                   "number",
                   "boolean",
                   "lov_entry",
                   "lov_entries"
                  ]
                 },
                 "variant": {
                  "type": "string",
                  "description": "The variant type of the custom field.",
                  "enum": [
                   "currency"
                  ]
                 },
                 "position": {
                  "type": "integer",
                  "description": "The display position of the custom field, which is sorted ascending, lowest position is visually the top left of the page on a grid basis (used in conjunction with column_width property to calculate row and column properties).",
                  "example": 999
                 },
                 "required": {
                  "type": "boolean",
                  "description": "If this property is set to true, the custom field is required. If this property is set to false, the custom field is not required.",
                  "example": true
                 },
                 "visible": {
                  "type": "boolean",
                  "description": "If this property is set to true, the custom field is visible. If this property is set to false, the custom field is not visible.",
                  "example": true
                 },
                 "row": {
                  "type": "number",
                  "description": "The number of the row where the custom field is positioned on the form.",
                  "example": 1
                 },
                 "column": {
                  "type": "number",
                  "description": "The number of the column where the custom field is positioned on the form.",
                  "example": 1
                 },
                 "column_width": {
                  "type": "number",
                  "description": "The number of columns the custom field spans on the form.",
                  "example": 3
                 }
                }
               }
              }
             },
             "sections": {
              "type": "array",
              "description": "An array of sections that are used for custom fields.",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "The unique identifier of the section.",
                 "example": 1
                },
                "name": {
                 "type": "string",
                 "description": "The name of the section.",
                 "example": "Section 1"
                },
                "description": {
                 "type": "string",
                 "description": "The description of the section.",
                 "example": "Project ABC"
                },
                "position": {
                 "type": "integer",
                 "description": "The display position of the section, which is sorted ascending, lowest position is visually the top of the page.",
                 "example": 999
                },
                "from_v1_custom_fields": {
                 "type": "boolean",
                 "description": "If field was migrated from a v1 custom field.",
                 "example": false
                }
               }
              }
             },
             "inspection_type_id": {
              "type": "integer",
              "nullable": true,
              "description": "The unique identifier of the inspection type.",
              "example": 1
             },
             "generic_tool_id": {
              "type": "integer",
              "nullable": true,
              "description": "The unique idenfitier of the generic tool.",
              "example": 1
             },
             "action_plan_type_id": {
              "type": "integer",
              "nullable": true,
              "description": "The unique idenfitier of the action plan type.",
              "example": 1
             },
             "observations_category_id": {
              "type": "integer",
              "nullable": true,
              "description": "The unique identifier of the observations category.",
              "example": 1
             },
             "type": {
              "type": "string",
              "description": "Specificies the type the configurable field set is associated with.",
              "example": "ConfigurabkeFieldSet::Observations::Item"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/observations/category_configurable_field_sets',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/observations/category_configurable_field_sets?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/observations/category_configurable_field_sets?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/observations/category_configurable_field_sets?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/observations/default_distribution": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Observation Default Distribution Members",
    "description": "Returns a collection of Users that are of the Observations Default Distribution list",
    "tags": [
     "Observations"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "title": "Array of Observation Distribution Members",
         "type": "array",
         "items": {
          "title": "Observation Item Default Distribution",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "User ID. Pass inside `observation[distribution_member_ids]` when creating or updating an Observation Item, or inside `default_distribution` when updating the Project's Observations configuration.",
            "example": 160586
           },
           "login": {
            "type": "string",
            "description": "Email address Observation notifications are sent to.",
            "example": "example@example.com"
           },
           "name": {
            "type": "string",
            "description": "User's name, formatted first-name-first.",
            "example": "Carl Contractor"
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/observations/default_distribution',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/observations/default_distribution?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/observations/default_distribution?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/observations/default_distribution?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/observations/items/{id}/pdf": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Observation Item ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Get Observation Item PDF url",
    "description": "Generates a PDF of a single Observation Item and returns a time-limited download URL. This also records a \"PDF shared\" entry in the Observation's change history, so treat it as an action rather than a cacheable read.",
    "tags": [
     "Observations"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Observation Item PDF",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID of the Observation Item the PDF was generated for.",
           "example": 9
          },
          "url": {
           "type": "string",
           "deprecated": true,
           "description": "Deprecated \u2014 not returned by this endpoint. Use `pdf_url`.",
           "example": "https://www.example.com"
          },
          "pdf_url": {
           "type": "string",
           "description": "Time-limited URL for downloading the generated PDF. Requesting this endpoint also records a \"PDF shared\" entry in the Observation's change history, so treat it as an action rather than a cacheable read.",
           "nullable": true,
           "example": "https://storage.procore.com/observation-9378.pdf"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/observations/items/%7Bid%7D/pdf',\n  qs: {project_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/observations/items/%7Bid%7D/pdf?project_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/observations/items/%7Bid%7D/pdf?project_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/observations/items/%7Bid%7D/pdf?project_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Observations Item PDF endpoint",
      "description": "Get a PDF for a given observation item.",
      "endpoint": "GET /observations/items/{id}/pdf",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-07-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "observations?version=1.0#get-observation-item-pdf-url"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/observations/items/{item_id}/response_logs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "item_id",
     "in": "path",
     "required": true,
     "description": "Observation Item ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Observation Item Response Logs",
    "description": "Returns a collection of Response Logs for a given Observation Item.",
    "tags": [
     "Observations"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "title": "Array of Observation Item Response Logs",
         "type": "array",
         "items": {
          "title": "Observation Item Response Log",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this Response Log entry. Pass as the `{id}` path parameter to `GET /rest/v1.0/observations/items/{item_id}/response_logs/{id}`.",
            "example": 2974
           },
           "item_id": {
            "type": "integer",
            "description": "ID of the Observation Item this Response Log belongs to. Use as the `{item_id}` path parameter when reading sibling Response Logs.",
            "example": 49
           },
           "status": {
            "type": "string",
            "description": "Status the Observation was moved to by this Response Log, stored in title-cased form. Comment-only entries carry the Observation's status at the time the comment was posted. Note the casing differs from the `snake_case` values used on the Observation Item itself. `Draft` is only produced for Observations governed by a workflow that has not yet been started.",
            "enum": [
             "Initiated",
             "Ready For Review",
             "Not Accepted",
             "Closed",
             "Draft"
            ],
            "example": "Ready For Review"
           },
           "comment": {
            "type": "string",
            "nullable": true,
            "description": "Free-text note recorded with this Response Log. Null when the entry was generated by a status change with no accompanying comment.",
            "example": "See the attached photo for issue resolution."
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the Response Log was recorded. Response Logs are returned oldest-first, so this doubles as the activity-feed ordering key.",
            "example": "2012-10-23T21:39:40Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "deprecated": true,
            "description": "Deprecated \u2014 not returned by this endpoint. Response Logs are immutable once created; use `created_at`.",
            "example": "2012-10-23T21:39:40Z"
           },
           "created_by_name": {
            "type": "string",
            "deprecated": true,
            "description": "Deprecated \u2014 not returned by this endpoint. Use `created_by.name`.",
            "example": "John Smith"
           },
           "attachments": {
            "type": "array",
            "description": "Files attached to this Response Log. Each entry is either a Procore-stored file or a Procore Document Management document reference. Add attachments on create with `response_log[upload_ids]` or `response_log[document_management_document_revision_ids]`.",
            "items": {
             "type": "object",
             "oneOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "File ID",
                 "example": 1
                },
                "name": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "example": "contract.pdf"
                },
                "url": {
                 "type": "string",
                 "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                 "example": "https://storage.procore.com"
                },
                "filename": {
                 "type": "string",
                 "description": "Base name of the file without its path",
                 "deprecated": true,
                 "example": "contract.pdf"
                },
                "can_be_viewed": {
                 "type": "boolean",
                 "description": "Can be viewed",
                 "example": false
                },
                "viewable": {
                 "type": "boolean",
                 "description": "Viewable",
                 "example": true
                },
                "attached_to_item_id": {
                 "type": "string",
                 "description": "Attached to item ID",
                 "nullable": true,
                 "example": "51GW47XAV5N64CQ2F8HTWFW0M4"
                },
                "attached_to_item_type": {
                 "type": "string",
                 "description": "Attached to item type",
                 "nullable": true,
                 "example": "document_management_document_revision"
                },
                "viewer_url": {
                 "type": "string",
                 "description": "Unified viewer link",
                 "nullable": true,
                 "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/prostore/1?item_type=Observations%3A%3AItem&item_id=1&parent_id=1&fullscreen"
                },
                "thumbnail_url": {
                 "type": "string",
                 "nullable": true,
                 "description": "URL of the large thumbnail for the attachment",
                 "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/example_thumbnail.png"
                }
               }
              },
              {
               "type": "object",
               "properties": {
                "attached_to_item_id": {
                 "type": "string",
                 "description": "Attached to item ID",
                 "example": "51GW47XAV5N64CQ2F8HTWFW0M4"
                },
                "attached_to_item_type": {
                 "type": "string",
                 "description": "Attached to item type",
                 "example": "document_management_document_revision"
                },
                "viewer_url": {
                 "type": "string",
                 "description": "Unified viewer link",
                 "nullable": true,
                 "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/document-viewer/51GW47XAV5N64CQ2F8HTWFW0M4?item_type=Observations%3A%3AItem&item_id=1&parent_id=1&fullscreen"
                }
               }
              }
             ]
            }
           },
           "created_by": {
            "title": "Created By",
            "type": "object",
            "description": "User who recorded this Response Log.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "User ID of the author.",
              "example": 973
             },
             "name": {
              "type": "string",
              "description": "Author's name as captured when the Response Log was created. Stored on the record, so it does not change if the user is later renamed.",
              "example": "John Smith"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add viewer_url attribute to the attachments of the response logs",
      "description": "Add viewer_url attribute to the attachments, this is the link to open the attachments in the Unified viewer",
      "endpoint": "GET /observations/items/{item_id}/response_logs",
      "type": "new",
      "breaking": false,
      "datestamp": "2025-02-27",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "observations?version=1.0#list-observation-item-response-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Observation Item Response Log",
    "description": "Adds a comment and/or status change to an Observation Item's activity feed. Supplying a top-level `status` also moves the Observation itself to that status. Notifies the Observation's distribution list.",
    "tags": [
     "Observations"
    ],
    "parameters": [
     {
      "name": "run_configurable_validations",
      "in": "query",
      "description": "Whether or not Configurable validations from the Observation Items Category Configurable Field Set should be run (default: false).\nSee (https://developers.procore.com/reference/observations#list-observation-category-configurable-field-sets) for a list of Observation Category configurable validations enabled on this project.",
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "ObservationItemResponseLogBody",
        "type": "object",
        "required": [
         "project_id",
         "response_log"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "The ID of the Project the Observation Item Response Log belongs to",
          "example": 123456
         },
         "response_log": {
          "title": "Response Log",
          "type": "object",
          "description": "Response Log body",
          "properties": {
           "comment": {
            "type": "string",
            "description": "The Comments of the Response Log",
            "example": "Response log comment"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "An array of the Attachment IDs",
            "items": {
             "type": "integer"
            },
            "example": [
             123,
             456
            ]
           },
           "upload_ids": {
            "type": "array",
            "description": "An array of the Attachment Upload IDs",
            "items": {
             "type": "string"
            },
            "example": [
             "1ZE146W9K804SAJJZX19JVAD0R"
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document revision IDs to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         },
         "status": {
          "type": "string",
          "description": "The Status of the Observation",
          "example": "initiated",
          "enum": [
           "initiated",
           "ready_for_review",
           "not_accepted",
           "closed",
           "draft"
          ]
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "title": "ObservationItemResponseLogBody",
        "type": "object",
        "required": [
         "project_id",
         "response_log"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "The ID of the Project the Observation Item Response Log belongs to",
          "example": 123456
         },
         "response_log": {
          "title": "Response Log",
          "type": "object",
          "description": "Response Log body",
          "properties": {
           "comment": {
            "type": "string",
            "description": "The Comments of the Response Log",
            "example": "Response log comment"
           },
           "prostore_file_ids": {
            "type": "array",
            "description": "An array of the Attachment IDs",
            "items": {
             "type": "integer"
            },
            "example": [
             123,
             456
            ]
           },
           "document_management_document_revision_ids": {
            "type": "array",
            "description": "PDM document revision IDs to attach to the response",
            "items": {
             "type": "string"
            },
            "example": [
             "01JC3TZNKJK6121Z1A2V7G574Q",
             "01JC3TZPXCJMC6P88CHHD6PTZ9"
            ]
           }
          }
         },
         "status": {
          "type": "string",
          "description": "The Status of the Observation",
          "example": "initiated",
          "enum": [
           "initiated",
           "ready_for_review",
           "not_accepted",
           "closed",
           "draft"
          ]
         },
         "attachments": {
          "type": "array",
          "description": "An array of the Attachments of the Observation Item Response Log.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "format": "binary"
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "title": "Observation Item Response Log",
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "Unique identifier for this Response Log entry. Pass as the `{id}` path parameter to `GET /rest/v1.0/observations/items/{item_id}/response_logs/{id}`.",
           "example": 2974
          },
          "item_id": {
           "type": "integer",
           "description": "ID of the Observation Item this Response Log belongs to. Use as the `{item_id}` path parameter when reading sibling Response Logs.",
           "example": 49
          },
          "status": {
           "type": "string",
           "description": "Status the Observation was moved to by this Response Log, stored in title-cased form. Comment-only entries carry the Observation's status at the time the comment was posted. Note the casing differs from the `snake_case` values used on the Observation Item itself. `Draft` is only produced for Observations governed by a workflow that has not yet been started.",
           "enum": [
            "Initiated",
            "Ready For Review",
            "Not Accepted",
            "Closed",
            "Draft"
           ],
           "example": "Ready For Review"
          },
          "comment": {
           "type": "string",
           "nullable": true,
           "description": "Free-text note recorded with this Response Log. Null when the entry was generated by a status change with no accompanying comment.",
           "example": "See the attached photo for issue resolution."
          },
          "created_at": {
           "type": "string",
           "format": "date-time",
           "description": "ISO 8601 timestamp of when the Response Log was recorded. Response Logs are returned oldest-first, so this doubles as the activity-feed ordering key.",
           "example": "2012-10-23T21:39:40Z"
          },
          "updated_at": {
           "type": "string",
           "format": "date-time",
           "deprecated": true,
           "description": "Deprecated \u2014 not returned by this endpoint. Response Logs are immutable once created; use `created_at`.",
           "example": "2012-10-23T21:39:40Z"
          },
          "created_by_name": {
           "type": "string",
           "deprecated": true,
           "description": "Deprecated \u2014 not returned by this endpoint. Use `created_by.name`.",
           "example": "John Smith"
          },
          "attachments": {
           "type": "array",
           "description": "Files attached to this Response Log. Each entry is either a Procore-stored file or a Procore Document Management document reference. Add attachments on create with `response_log[upload_ids]` or `response_log[document_management_document_revision_ids]`.",
           "items": {
            "type": "object",
            "oneOf": [
             {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "File ID",
                "example": 1
               },
               "name": {
                "type": "string",
                "description": "Base name of the file without its path",
                "example": "contract.pdf"
               },
               "url": {
                "type": "string",
                "description": "URL to download the attached file. HTTP client should be prepared to follow redirects to successfully download the file.",
                "example": "https://storage.procore.com"
               },
               "filename": {
                "type": "string",
                "description": "Base name of the file without its path",
                "deprecated": true,
                "example": "contract.pdf"
               },
               "can_be_viewed": {
                "type": "boolean",
                "description": "Can be viewed",
                "example": false
               },
               "viewable": {
                "type": "boolean",
                "description": "Viewable",
                "example": true
               },
               "attached_to_item_id": {
                "type": "string",
                "description": "Attached to item ID",
                "nullable": true,
                "example": "51GW47XAV5N64CQ2F8HTWFW0M4"
               },
               "attached_to_item_type": {
                "type": "string",
                "description": "Attached to item type",
                "nullable": true,
                "example": "document_management_document_revision"
               },
               "viewer_url": {
                "type": "string",
                "description": "Unified viewer link",
                "nullable": true,
                "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/prostore/1?item_type=Observations%3A%3AItem&item_id=1&parent_id=1&fullscreen"
               },
               "thumbnail_url": {
                "type": "string",
                "nullable": true,
                "description": "URL of the large thumbnail for the attachment",
                "example": "https://storage.procore.com/v4/d/us-east-1/pro-core.com/example_thumbnail.png"
               }
              }
             },
             {
              "type": "object",
              "properties": {
               "attached_to_item_id": {
                "type": "string",
                "description": "Attached to item ID",
                "example": "51GW47XAV5N64CQ2F8HTWFW0M4"
               },
               "attached_to_item_type": {
                "type": "string",
                "description": "Attached to item type",
                "example": "document_management_document_revision"
               },
               "viewer_url": {
                "type": "string",
                "description": "Unified viewer link",
                "nullable": true,
                "example": "/webclients/host/companies/1/projects/1/tools/document-viewer/document-viewer/51GW47XAV5N64CQ2F8HTWFW0M4?item_type=Observations%3A%3AItem&item_id=1&parent_id=1&fullscreen"
               }
              }
             }
            ]
           }
          },
          "created_by": {
           "title": "Created By",
           "type": "object",
           "description": "User who recorded this Response Log.",
           "properties": {
            "id": {
             "type": "integer",
             "description": "User ID of the author.",
             "example": 973
            },
            "name": {
             "type": "string",
             "description": "Author's name as captured when the Response Log was created. Stored on the record, so it does not change if the user is later renamed.",
             "example": "John Smith"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    project_id: 123456,\n    response_log: {\n      comment: 'Response log comment',\n      prostore_file_ids: [123, 456],\n      upload_ids: ['1ZE146W9K804SAJJZX19JVAD0R'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    },\n    status: 'initiated'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":123456,\\\"response_log\\\":{\\\"comment\\\":\\\"Response log comment\\\",\\\"prostore_file_ids\\\":[123,456],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]},\\\"status\\\":\\\"initiated\\\"}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":123456,\"response_log\":{\"comment\":\"Response log comment\",\"prostore_file_ids\":[123,456],\"upload_ids\":[\"1ZE146W9K804SAJJZX19JVAD0R\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]},\"status\":\"initiated\"}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"project_id\\\":123456,\\\"response_log\\\":{\\\"comment\\\":\\\"Response log comment\\\",\\\"prostore_file_ids\\\":[123,456],\\\"upload_ids\\\":[\\\"1ZE146W9K804SAJJZX19JVAD0R\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]},\\\"status\\\":\\\"initiated\\\"}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs',\n  qs: {run_configurable_validations: 'SOME_BOOLEAN_VALUE'},\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'multipart/form-data; boundary=---011000010111000001101001'\n  },\n  formData: {\n    project_id: '123456',\n    response_log: '{\"comment\":\"Response log comment\",\"prostore_file_ids\":[123,456],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}',\n    status: 'initiated',\n    attachments: '[\"string\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"project_id\\\"\\r\\n\\r\\n123456\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"response_log\\\"\\r\\n\\r\\n{\\\"comment\\\":\\\"Response log comment\\\",\\\"prostore_file_ids\\\":[123,456],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"status\\\"\\r\\n\\r\\ninitiated\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"string\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"multipart/form-data; boundary=---011000010111000001101001\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url 'https://api.procore.com/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs?run_configurable_validations=SOME_BOOLEAN_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: multipart/form-data' \\\n  --form project_id=123456 \\\n  --form 'response_log={\"comment\":\"Response log comment\",\"prostore_file_ids\":[123,456],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}' \\\n  --form status=initiated \\\n  --form 'attachments=[\"string\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/observations/items/%7Bitem_id%7D/response_logs?run_configurable_validations=SOME_BOOLEAN_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"123456\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"project_id\",\n                }\n            }\n        },\n        new StringContent(\"{\\\"comment\\\":\\\"Response log comment\\\",\\\"prostore_file_ids\\\":[123,456],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"response_log\",\n                }\n            }\n        },\n        new StringContent(\"initiated\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"status\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"string\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added possibility to add attachments through upload_ids param",
      "description": "Added possibility to add attachments through upload_ids param",
      "endpoint": "POST /observations/items/{item_id}/response_logs",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-12-09",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "observations?version=1.0#create-observation-item-response-log"
     },
     {
      "summary": "Add PDM attachment reference support for Response Logs",
      "description": "Add ability to support PDM references for Response Logs",
      "endpoint": "POST /observations/items/{item_id}/response_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-11-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "observations?version=1.0#create-observation-item-response-log"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/observations/items": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Observation Items",
    "description": "Returns a collection of Observation Items.\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Observations"
    ],
    "parameters": [
     {
      "name": "filters[assignee_company_id]",
      "in": "query",
      "description": "Array of Vendor IDs. Returns item(s) where the assignee is associated to the specified Vendor ID.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[checklist_list_id]",
      "in": "query",
      "description": "Array of Checklist List IDs. Return item(s) associated with the specified Checklist List IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified IDs.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[location_id]",
      "in": "query",
      "description": "Return item(s) with the specified Location IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[assignee_id]",
      "in": "query",
      "description": "Return item(s) assigned to the specified User ID.",
      "required": false,
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[checklist_item_id]",
      "in": "query",
      "description": "Return Observations(s) originating from the specified Checklist Item(s).",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[custom_fields]",
      "in": "query",
      "description": "Return Observation Items whose custom field values match the supplied JSON object. The object is keyed by custom field definition ID. Matching uses JSONB containment, so only item(s) containing all of the supplied key/value pairs are returned.",
      "required": false,
      "schema": {
       "type": "object",
       "description": "JSON object where each key is a custom field definition ID",
       "example": "{\"1\": true, \"5\": [4,3] }"
      }
     },
     {
      "name": "filters[priority]",
      "in": "query",
      "description": "Return only Observation Items at the given priorities. Values are\ncase-sensitive and match the `priority` field on the Observation.\nComma-separate values to match several priorities, e.g.\n`filters[priority]=High,Urgent`.\n",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "Low",
         "Medium",
         "High",
         "Urgent"
        ]
       }
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Return item(s) matching the specified Search query.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Return only Observation Items in the given lifecycle states. Statuses are\nsupplied as their integer codes:\n```\n  0: Initiated\n  1: Ready For Review\n  2: Not Accepted\n  3: Closed\n  4: Draft\n```\nComma-separate values to match several states, e.g. `filters[status]=0,1`.\n`4` (Draft) only matches Observations governed by a workflow that has not yet\nbeen started.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "enum": [
         0,
         1,
         2,
         3,
         4
        ]
       }
      }
     },
     {
      "name": "filters[type_id]",
      "in": "query",
      "description": "Return item(s) with the specified Observation Type ID.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[trade_ids]",
      "in": "query",
      "description": "Array of Trade IDs. Returns item(s) with the specified Trade IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Return item(s) last updated within the specified ISO 8601 datetime range.\nFormats:\n`YYYY-MM-DD`...`YYYY-MM-DD` - Date\n`YYYY-MM-DDTHH:MM:SSZ`...`YYYY-MM-DDTHH:MM:SSZ` - DateTime with UTC Offset\n`YYYY-MM-DDTHH:MM:SS+XX:00`...`YYYY-MM-DDTHH:MM:SS+XX:00` - Datetime with Custom Offset",
      "required": false,
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sort item(s) by an attribute. The default sort is ascending. To sort in descending order, prepend the sort value with a hyphen character '-'. Default sort is number ascending.",
      "schema": {
       "type": "string",
       "enum": [
        "assignee",
        "assignee_company",
        "contributing_behavior",
        "contributing_condition",
        "created_at",
        "created_by",
        "date_notified",
        "due_date",
        "hazard",
        "location",
        "name",
        "number",
        "origin",
        "priority",
        "specification_section",
        "status",
        "trade",
        "type"
       ]
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Controls how much of each Observation is returned. `normal` (the default) returns the documented response body. `ids` returns a bare array of Observation IDs \u2014 by far the cheapest option when you only need to know which Observations match a filter. `compact` trims the payload to list-row essentials, `base` is smaller still, `web` and `full` add attachments, drawings, root-cause associations and distribution members, `permissions` populates the `permissions` object, and `safety_hub` returns a minimal set plus `overdue`.",
      "schema": {
       "type": "string",
       "enum": [
        "base",
        "compact",
        "full",
        "ids",
        "normal",
        "permissions",
        "safety_hub",
        "web"
       ],
       "default": "normal"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "title": "Array of Observation Items",
         "type": "array",
         "items": {
          "title": "Observation Item",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier for this Observation Item. Pass as the `{id}` path parameter to `GET /rest/v1.0/observations/items/{id}`, or as `filters[id]` to narrow a list request.",
            "example": 9378
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the Observation was created.",
            "example": "2012-10-23T21:39:40Z"
           },
           "closed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "ISO 8601 timestamp of when the Observation last moved to `closed`. Null if the Observation has never been closed.",
            "example": "2012-10-23T21:39:40Z"
           },
           "deleted_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the Observation was sent to the recycle bin. Null for active Observations.",
            "example": "2017-07-29T21:39:40Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of the last change to the Observation. Use with `filters[updated_at]` to poll for incremental changes.",
            "example": "2012-10-24T21:39:40Z"
           },
           "number": {
            "type": "string",
            "description": "Human-facing identifier of the Observation within its Project. Sortable via `sort=number`, which is also the default sort.",
            "example": "87"
           },
           "name": {
            "type": "string",
            "description": "Short title of the Observation, shown as the row label in the Observations list.",
            "example": "Personnel not wearing full PPE"
           },
           "description": {
            "type": "string",
            "description": "Plain-text rendering of the Observation description, with HTML markup stripped. Use `description_rich_text` to render formatted content.",
            "example": "Worker was seen not wearing their hard hat"
           },
           "description_rich_text": {
            "type": "string",
            "description": "Sanitized HTML version of the Observation description, safe to render in a rich-text viewer.",
            "example": "<p>Worker was seen not wearing their hard hat</p>"
           },
           "status": {
            "type": "string",
            "description": "Current lifecycle state of the Observation. `draft` is only produced for Observations governed by a workflow that has not yet been started. Filter collections with `filters[status]`.",
            "enum": [
             "initiated",
             "ready_for_review",
             "not_accepted",
             "closed",
             "draft"
            ],
            "example": "initiated"
           },
           "priority": {
            "type": "string",
            "description": "Urgency assigned to the Observation. Filter collections with `filters[priority]` and sort with `sort=priority`.",
            "enum": [
             "Low",
             "Medium",
             "High",
             "Urgent"
            ],
            "example": "High"
           },
           "date_notified": {
            "type": "string",
            "nullable": true,
            "format": "date",
            "description": "Date the current assignee was last notified by email. Null while the Observation is unsent \u2014 those are the Observations returned by `POST /rest/v1.0/observations/items/send_unsent`.",
            "example": "2016-02-17"
           },
           "due_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date the assignee is expected to resolve the Observation. Defaults from the Project's Observations configuration `days_due_default`.",
            "example": "2016-02-22"
           },
           "personal": {
            "type": "boolean",
            "description": "Whether the Observation is private. Private Observations are visible only to their creator, assignees, distribution members, and Observations admins.",
            "example": false
           },
           "origin": {
            "title": "Observation origin",
            "type": "object",
            "nullable": true,
            "description": "The record this Observation was created from. Null when the Observation was created directly in the Observations tool. `payload` keys vary by `type`.",
            "properties": {
             "type": {
              "type": "string",
              "description": "Kind of record the Observation originated from.",
              "example": "inspection",
              "enum": [
               "incident",
               "bim_model",
               "inspection",
               "coordination_issue"
              ]
             },
             "payload": {
              "type": "object",
              "title": "Origin Payload",
              "description": "Identifiers for the originating record. Only the keys relevant to `type` are present.",
              "properties": {
               "checklist_item_id": {
                "type": "integer",
                "description": "ID of the source Checklist Item. Present when `type` is `inspection`.",
                "example": 42
               },
               "checklist_list_id": {
                "type": "integer",
                "description": "ID of the source Checklist List. Present when `type` is `inspection`.",
                "example": 42
               },
               "coordination_issue_id": {
                "type": "integer",
                "description": "ID of the source Coordination Issue. Present when `type` is `coordination_issue`.",
                "example": 1231
               },
               "coordination_issue_number": {
                "type": "integer",
                "description": "Display number of the source Coordination Issue. Present when `type` is `coordination_issue`.",
                "example": 42
               },
               "incident_action_id": {
                "type": "integer",
                "description": "ID of the source Incident Action. Present when `type` is `incident`.",
                "example": 53
               },
               "incident_id": {
                "type": "integer",
                "description": "ID of the Incident owning the source Incident Action. Present when `type` is `incident`.",
                "example": 53
               },
               "bim_model_id": {
                "type": "integer",
                "description": "ID of the source BIM Model. Present when `type` is `bim_model`.",
                "example": 63
               },
               "bim_model_name": {
                "type": "string",
                "description": "Title of the source BIM Model. Present when `type` is `bim_model`.",
                "example": "Combined Model"
               }
              }
             }
            }
           },
           "assignee": {
            "title": "Observation Item Assignee",
            "type": "object",
            "nullable": true,
            "description": "Most recently added assignee. Null when the Observation has no assignees. Read the full list from `assignees`.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "User ID of the assignee. Matches an `id` from `GET /rest/v1.0/observations/assignees`.",
              "example": 9378
             },
             "name": {
              "type": "string",
              "description": "Assignee's name, formatted first-name-first.",
              "example": "Katrina Smith"
             },
             "vendor": {
              "type": "object",
              "nullable": true,
              "description": "Company the assignee belongs to. Null when the assignee is not associated with a vendor.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Vendor ID of the assignee's company.",
                "example": 2675
               },
               "name": {
                "type": "string",
                "description": "Name of the assignee's company.",
                "example": "Brick and Morty"
               }
              }
             }
            }
           },
           "assignees": {
            "type": "array",
            "description": "Every user currently assigned to the Observation, most recently added first. Empty when the Observation is unassigned. Set with `observation[assignee_ids]`.",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "User ID of the assignee.",
               "example": 9378
              },
              "name": {
               "type": "string",
               "description": "Assignee's name, formatted first-name-first.",
               "example": "Katrina Smith"
              },
              "current": {
               "type": "boolean",
               "description": "Whether the assignee is on the active workflow step. True for assignees outside a workflow.",
               "example": true
              },
              "vendor": {
               "type": "object",
               "nullable": true,
               "description": "Company the assignee belongs to. Null when the assignee is not associated with a vendor.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Vendor ID of the assignee's company.",
                 "example": 2675
                },
                "name": {
                 "type": "string",
                 "description": "Name of the assignee's company.",
                 "example": "Brick and Morty"
                }
               }
              }
             }
            }
           },
           "created_by": {
            "type": "object",
            "description": "User recorded as the author of the Observation.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "User ID of the creator.",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email address the creator signs in with.",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Creator's name, formatted first-name-first.",
              "example": "Carl Contractor"
             },
             "company_name": {
              "type": "string",
              "nullable": true,
              "description": "Name of the vendor the creator belongs to in this Procore company directory. Null when the creator is not associated with a vendor.",
              "example": "Brick and Morty"
             }
            }
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "description": "Location the Observation was recorded at. Null when no location is set. Filter collections with `filters[location_id]`.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the Location. Pass as `observation[location_id]` on create or update.",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Full multi-tier path of the Location, tiers joined with `>`.",
              "example": "Building A>Level 2"
             },
             "node_name": {
              "type": "string",
              "description": "Name of the deepest Location tier only, without its ancestors.",
              "example": "Level 2"
             },
             "parent_id": {
              "type": "integer",
              "nullable": true,
              "description": "ID of the parent Location tier. Null for a top-level Location. Use to walk the Location hierarchy.",
              "example": 788866
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 timestamp of when the Location was created.",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 timestamp of the last change to the Location.",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "specification_section": {
            "type": "object",
            "nullable": true,
            "description": "Specification Section the Observation references. Null when no section is set.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the Specification Section.",
              "example": 4521
             },
             "description": {
              "type": "string",
              "description": "Title of the Specification Section.",
              "example": "Acoustical Panel Ceilings"
             },
             "number": {
              "type": "string",
              "description": "Section number as printed in the specification book.",
              "example": "09 51 00"
             },
             "latest_revision_url": {
              "type": "string",
              "nullable": true,
              "description": "Time-limited URL to the PDF of the section's current revision. Null when the section has no uploaded revision.",
              "example": "https://storage.procore.com/spec-section.pdf"
             },
             "current_revision_id": {
              "type": "integer",
              "nullable": true,
              "description": "ID of the section's current revision. Null when the section has no revisions.",
              "example": 42
             },
             "viewable_document_id": {
              "type": "integer",
              "nullable": true,
              "description": "ID of the viewable document generated for the current revision, for use with the document viewer. Null while conversion is pending.",
              "example": 42
             }
            }
           },
           "trade": {
            "type": "object",
            "title": "Trade",
            "nullable": true,
            "description": "Trade responsible for the Observation. Null when no trade is set. Filter collections with `filters[trade_ids]`.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the Trade. Pass as `observation[trade_id]` on create or update.",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Display name of the Trade.",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Whether the Trade can still be selected on new records. Inactive Trades remain on existing Observations.",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 timestamp of the last change to the Trade.",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "category": {
            "type": "object",
            "nullable": true,
            "description": "Observations Category of this Observation's type, flattened for convenience. Null when the Observation has no type. Use `grouping` to route the item to the Quality or Safety area when the Company has group split enabled.",
            "properties": {
             "name": {
              "type": "string",
              "description": "Stable, unlocalized name of the Observations Category.",
              "example": "commissioning"
             },
             "grouping": {
              "type": "string",
              "nullable": true,
              "description": "Top-level bucket the Observations Category rolls up to.",
              "enum": [
               "quality",
               "safety"
              ],
              "example": "quality"
             }
            }
           },
           "type": {
            "title": "Observation Type",
            "type": "object",
            "required": [
             "id",
             "category",
             "name"
            ],
            "description": "Observation Type classifying this Observation.",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID of the Observation Type. Pass as `observation[type_id]` on create or update, or as `filters[type_id]` when listing.",
              "example": 9
             },
             "category": {
              "type": "string",
              "description": "Localized display name of the type's Observations Category. Companies can define their own categories, so treat this as free-form text; use `category_key` for programmatic comparisons.",
              "example": "Commissioning"
             },
             "category_key": {
              "type": "string",
              "description": "Stable, unlocalized key of the type's Observations Category. Prefer this over `category` when branching on category in code.",
              "example": "work_to_complete"
             },
             "category_id": {
              "type": "integer",
              "deprecated": true,
              "description": "Deprecated \u2014 not returned by this endpoint. Use `type.observations_category.id`.",
              "example": 13
             },
             "name": {
              "type": "string",
              "description": "Display name of the Observation Type, localized where a translation exists.",
              "example": "Commissioning"
             },
             "observations_category": {
              "type": "object",
              "description": "The Observations Category the type belongs to. Managed via `GET /rest/v2.0/companies/{company_id}/observations/categories`.",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID of the Observations Category.",
                "example": 13
               },
               "name": {
                "type": "string",
                "description": "Stable, unlocalized name of the category.",
                "example": "commissioning"
               },
               "grouping": {
                "type": "string",
                "nullable": true,
                "description": "Top-level bucket the category rolls up to.",
                "enum": [
                 "quality",
                 "safety"
                ],
                "example": "quality"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "ISO 8601 timestamp of the last change to the category.",
[...]
