{
 "openapi": "3.0.0",
 "info": {
  "title": "Payment Application (Owner Invoice) Line Items",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Prime Contracts",
  "x-resource-name": "Payment Application (Owner Invoice) Line Items",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/prime_contracts/{prime_contract_id}/payment_application_line_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "prime_contract_id",
     "in": "path",
     "description": "Prime Contract ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Payment Application (Owner Invoice) Line item ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Payment Application (Owner Invoice) Line Item for Prime Contract",
    "description": "Update a Payment Application (Owner Invoice) Line Item on a specified Prime Contract Payment Application (Owner Invoice)",
    "tags": [
     "Payment Application (Owner Invoice)"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "payment_application_line_item"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 55001
         },
         "payment_application_line_item": {
          "title": "Payment Application (Owner Invoice) Line Item",
          "type": "object",
          "description": "Payment Application (Owner Invoice) Line Item",
          "properties": {
           "work_completed_this_period": {
            "type": "string",
            "description": "The amount of work completed this period (only for lines that use amount accounting or are calculated manually)",
            "example": "1000.00"
           },
           "materials_presently_stored": {
            "type": "string",
            "description": "The amount of materials presently stored (only for lines that use amount accounting)",
            "example": "500.00"
           },
           "work_completed_retainage_retained_this_period": {
            "type": "string",
            "description": "Work completed retainage amount retained this period (work_completed_this_period should be non-zero to hold a retainage)",
            "example": "100.00"
           },
           "materials_stored_retainage_retained_this_period": {
            "type": "string",
            "description": "Materials stored retainage amount retained this period (materials_presently_stored should be non-zero to hold a retainage)",
            "example": "100.00"
           },
           "work_completed_retainage_released_this_period": {
            "type": "string",
            "description": "The amount of work completed retainage released this period",
            "example": "0.00"
           },
           "work_completed_this_period_quantity": {
            "type": "string",
            "description": "Work completed this period quantity (only for lines that use unit accounting and are not calculated manually)",
            "example": "10.0"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Payment Application (Owner Invoice) Contract Item",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 135135
          },
          "balance_to_finish": {
           "type": "string",
           "description": "Balance to finish amount",
           "example": "1.00"
          },
          "materials_presently_stored": {
           "type": "string",
           "description": "Materials presently stored amount",
           "example": "0.00"
          },
          "scheduled_value": {
           "type": "string",
           "description": "Scheduled value amount",
           "example": "1.00"
          },
          "total_completed_and_stored_to_date": {
           "type": "string",
           "description": "Total completed and stored to date amount",
           "example": "0.00"
          },
          "total_completed_and_stored_to_date_percent": {
           "type": "string",
           "description": "Total completed and stored to date percent",
           "example": "0.0"
          },
          "work_completed_from_previous_application": {
           "type": "string",
           "description": "Work completed from previous application amount",
           "example": "0.00"
          },
          "work_completed_this_period": {
           "type": "string",
           "description": "Work completed this period amount",
           "example": "0.00"
          },
          "description_of_work": {
           "type": "string",
           "description": "Description of work",
           "example": "Install windows",
           "nullable": true
          },
          "item_number": {
           "type": "integer",
           "description": "Item number",
           "example": 1
          },
          "cost_code": {
           "oneOf": [
            {
             "title": "compact",
             "type": "object",
             "properties": {
              "id": {
               "description": "ID",
               "example": 12345,
               "nullable": true,
               "type": "integer"
              },
              "full_code": {
               "type": "string",
               "description": "Full Cost code, including parent prefixes",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Earthwork"
              }
             }
            },
            {
             "type": "object",
             "title": "extended",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier for this Cost Code record.",
               "example": 12345
              },
              "biller": {
               "type": "string",
               "description": "Display name of the entity (project or sub job) that owns this cost code.",
               "example": "Campus"
              },
              "biller_id": {
               "type": "integer",
               "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
               "example": 12345
              },
              "biller_type": {
               "type": "string",
               "enum": [
                "Project",
                "SubJob"
               ],
               "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
               "example": "Project"
              },
              "biller_origin_id": {
               "type": "string",
               "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
               "example": "98765",
               "nullable": true
              },
              "budgeted": {
               "type": "boolean",
               "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
               "example": false
              },
              "code": {
               "type": "string",
               "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
               "example": "300"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when this cost code was created, in ISO 8601 format.",
               "example": "2015-05-15T00:00:00Z"
              },
              "deleted_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
               "example": "2017-07-29T21:39:40Z"
              },
              "full_code": {
               "type": "string",
               "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
               "example": "02-300"
              },
              "name": {
               "type": "string",
               "description": "Display name of the cost code.",
               "example": "Earthwork"
              },
              "origin_data": {
               "type": "string",
               "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
               "example": "OD-129947"
              },
              "origin_id": {
               "type": "string",
               "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
               "example": "9874484"
              },
              "parent": {
               "type": "object",
               "description": "The immediate parent cost code of this record, if any.",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                 "example": 2345
                }
               }
              },
              "position": {
               "type": "integer",
               "description": "Sort order of this cost code within its parent.",
               "example": 1
              },
              "sortable_code": {
               "type": "string",
               "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
               "example": "02-300"
              },
              "standard_cost_code_id": {
               "type": "integer",
               "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
               "example": 122334
              },
              "standard_cost_code_list_id": {
               "type": "integer",
               "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
               "example": 133445,
               "nullable": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
               "example": "2015-05-15T00:00:00Z"
              },
              "line_item_types": {
               "type": "array",
               "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
               "items": {
                "type": "object",
                "title": "LineItemType",
                "description": "A line item type assigned to this cost code.",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Unique identifier for the Line Item Type.",
                  "example": 12345
                 },
                 "name": {
                  "type": "string",
                  "description": "Display name of the Line Item Type.",
                  "example": "Equipment"
                 },
                 "code": {
                  "type": "string",
                  "description": "Short code used for CSV import of this Line Item Type.",
                  "example": "LB"
                 },
                 "base_type": {
                  "type": "string",
                  "enum": [
                   "equipment",
                   "materials",
                   "commitment",
                   "owner_cost",
                   "professional_services",
                   "labor",
                   "other"
                  ],
                  "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                  "example": "materials"
                 },
                 "origin_id": {
                  "type": "string",
                  "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                  "example": "ABC123",
                  "nullable": true
                 }
                }
               }
              }
             }
            }
           ]
          },
          "wbs_code": {
           "type": "object",
           "title": "Wbs Code",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Wbs Code ID",
             "example": 999
            },
            "flat_code": {
             "type": "string",
             "description": "Wbs Code",
             "example": "01-011.CT1"
            },
            "description": {
             "type": "string",
             "description": "Wbs Code Description",
             "example": "Project Engineer.Cost Type 1"
            }
           }
          },
          "scheduled_unit_price": {
           "type": "string",
           "description": "Scheduled unit price",
           "example": "0.0"
          },
          "scheduled_quantity": {
           "type": "string",
           "description": "Scheduled quantity",
           "example": "0.0"
          },
          "total_completed_and_stored_to_date_quantity": {
           "type": "string",
           "description": "Total completed and stored to date quantity",
           "example": "0.0"
          },
          "work_completed_this_period_quantity": {
           "type": "string",
           "description": "Work completed this period quantity",
           "example": "0.0"
          },
          "work_completed_from_previous_application_quantity": {
           "type": "string",
           "description": "Work completed from previous application quantity",
           "example": "0.0"
          },
          "work_completed_retainage_currently_retained": {
           "type": "string",
           "description": "Work completed retainage currently retained amount",
           "example": "0.0"
          },
          "work_completed_retainage_from_previous_application": {
           "type": "string",
           "description": "Work completed retainage amount from previous application",
           "example": "0.0"
          },
          "work_completed_retainage_released_this_period": {
           "type": "string",
           "description": "Work completed retainage amount released this period",
           "example": "0.0"
          },
          "work_completed_retainage_retained_this_period": {
           "type": "string",
           "description": "Work completed retainage amount retained this period",
           "example": "0.0"
          },
          "work_completed_retainage_percent_this_period": {
           "type": "string",
           "description": "Work completed retainage percent this period",
           "example": "10.0"
          },
          "materials_stored_retainage_currently_retained": {
           "type": "string",
           "description": "Materials stored retainage amount currently retained",
           "example": "0.0"
          },
          "materials_stored_retainage_from_previous_application": {
           "type": "string",
           "description": "Materials stored retainage amount from previous application",
           "example": "0.0"
          },
          "materials_stored_retainage_released_this_period": {
           "type": "string",
           "description": "Materials stored retainage amount released this period",
           "example": "0.0"
          },
          "materials_stored_retainage_retained_this_period": {
           "type": "string",
           "description": "Materials stored retainage amount retained this period",
           "example": "0.0"
          },
          "materials_stored_retainage_percent_this_period": {
           "type": "string",
           "description": "Materials stored retainage percent this period",
           "example": "10.0"
          },
          "total_retainage_currently_retained": {
           "type": "string",
           "description": "Total retainage amount currently retained",
           "example": "0.0"
          },
          "total_retainage_from_previous_application": {
           "type": "string",
           "description": "Total retainage amount from previous application",
           "example": "0.0"
          },
          "type": {
           "type": "string",
           "description": "Type of PaymentApplicationContractItem",
           "example": "payment_application_markup_line_item"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_application_line_items/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 55001,\n    payment_application_line_item: {\n      work_completed_this_period: '1000.00',\n      materials_presently_stored: '500.00',\n      work_completed_retainage_retained_this_period: '100.00',\n      materials_stored_retainage_retained_this_period: '100.00',\n      work_completed_retainage_released_this_period: '0.00',\n      work_completed_this_period_quantity: '10.0'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":55001,\\\"payment_application_line_item\\\":{\\\"work_completed_this_period\\\":\\\"1000.00\\\",\\\"materials_presently_stored\\\":\\\"500.00\\\",\\\"work_completed_retainage_retained_this_period\\\":\\\"100.00\\\",\\\"materials_stored_retainage_retained_this_period\\\":\\\"100.00\\\",\\\"work_completed_retainage_released_this_period\\\":\\\"0.00\\\",\\\"work_completed_this_period_quantity\\\":\\\"10.0\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_application_line_items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_application_line_items/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":55001,\"payment_application_line_item\":{\"work_completed_this_period\":\"1000.00\",\"materials_presently_stored\":\"500.00\",\"work_completed_retainage_retained_this_period\":\"100.00\",\"materials_stored_retainage_retained_this_period\":\"100.00\",\"work_completed_retainage_released_this_period\":\"0.00\",\"work_completed_this_period_quantity\":\"10.0\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_application_line_items/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_id\\\":55001,\\\"payment_application_line_item\\\":{\\\"work_completed_this_period\\\":\\\"1000.00\\\",\\\"materials_presently_stored\\\":\\\"500.00\\\",\\\"work_completed_retainage_retained_this_period\\\":\\\"100.00\\\",\\\"materials_stored_retainage_retained_this_period\\\":\\\"100.00\\\",\\\"work_completed_retainage_released_this_period\\\":\\\"0.00\\\",\\\"work_completed_this_period_quantity\\\":\\\"10.0\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added materials moved attributes in line item responses.",
      "description": "Added materials_moved and materials_retainage_retained_moved to line item responses.",
      "endpoint": "PATCH /prime_contracts/{prime_contract_id}/payment_application_line_items/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-application-owner-invoice-line-items?version=1.0#update-payment-application-owner-invoice-line-item-for-prime-contract"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}