{
 "openapi": "3.0.0",
 "info": {
  "title": "Payment Application (Owner Invoice) Markup Line Items",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Prime Contracts",
  "x-resource-name": "Payment Application (Owner Invoice) Markup Line Items",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/prime_contracts/{prime_contract_id}/payment_application_markup_line_items/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "prime_contract_id",
     "in": "path",
     "description": "Prime Contract ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Payment Application (Owner Invoice) Markup Line item ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Payment Application (Owner Invoice) Markup Line item for Prime Contract",
    "description": "Update a Payment Application (Owner Invoice) Markup Line item on a specified Prime Contract Payment Application (Owner Invoice)",
    "tags": [
     "Payment Application (Owner Invoice)"
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id",
         "payment_application_markup_line_item"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 55001
         },
         "payment_application_markup_line_item": {
          "title": "Payment Application (Owner Invoice) Markup Line Item",
          "type": "object",
          "description": "Payment Application (Owner Invoice) Markup Line Item",
          "properties": {
           "work_completed_this_period": {
            "type": "string",
            "description": "The amount of work completed this period (only for lines that use amount accounting or are calculated manually)",
            "example": "1000.00"
           },
           "work_completed_retainage_retained_this_period": {
            "type": "string",
            "description": "Work completed retainage amount retained this period (work_completed_this_period should be non-zero to hold a retainage)",
            "example": "100.00"
           },
           "work_completed_retainage_released_this_period": {
            "type": "string",
            "description": "The amount of work completed retainage released this period",
            "example": "0.00"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Payment Application (Owner Invoice) Markup Line Item.",
         "properties": {
          "id": {
           "type": "integer",
           "format": "int64",
           "description": "Unique integer ID",
           "example": 12345
          },
          "balance_to_finish": {
           "type": "string",
           "description": "Balance to finish amount",
           "example": "1.00"
          },
          "work_completed_from_previous_application": {
           "type": "string",
           "description": "Work completed from previous application amount",
           "example": "0.00"
          },
          "total_completed_and_stored_to_date_percent": {
           "type": "string",
           "description": "Total completed and stored to date percent",
           "example": "0.0"
          },
          "total_completed_and_stored_to_date": {
           "type": "string",
           "description": "Total completed and stored to date amount",
           "example": "0.00"
          },
          "work_completed_this_period": {
           "type": "string",
           "description": "The amount of work completed this period",
           "example": 1000
          },
          "type": {
           "type": "string",
           "description": "Object type",
           "example": "payment_application_markup_line_item"
          },
          "description_of_work": {
           "type": "string",
           "description": "Description of work",
           "example": "Install windows",
           "nullable": true
          },
          "materials_presently_stored": {
           "type": "string",
           "description": "The amount of materials presently stored",
           "example": 500
          },
          "work_completed_retainage_currently_retained": {
           "type": "string",
           "description": "Work completed retainage currently retained amount",
           "example": "0.0"
          },
          "work_completed_retainage_from_previous_application": {
           "type": "string",
           "description": "Work completed retainage amount from previous application",
           "example": "0.0"
          },
          "work_completed_retainage_released_this_period": {
           "type": "string",
           "description": "Work completed retainage amount released this period",
           "example": "0.0"
          },
          "work_completed_retainage_retained_this_period": {
           "type": "string",
           "description": "Work completed retainage amount retained this period",
           "example": "0.0"
          },
          "work_completed_retainage_percent_this_period": {
           "type": "string",
           "description": "Work completed retainage percent this period",
           "example": "10.0"
          },
          "total_retainage_currently_retained": {
           "type": "string",
           "description": "Total retainage amount currently retained",
           "example": "0.0"
          },
          "total_retainage_from_previous_application": {
           "type": "string",
           "description": "Total retainage amount from previous application",
           "example": "0.0"
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_application_markup_line_items/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 55001,\n    payment_application_markup_line_item: {\n      work_completed_this_period: '1000.00',\n      work_completed_retainage_retained_this_period: '100.00',\n      work_completed_retainage_released_this_period: '0.00'\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":55001,\\\"payment_application_markup_line_item\\\":{\\\"work_completed_this_period\\\":\\\"1000.00\\\",\\\"work_completed_retainage_retained_this_period\\\":\\\"100.00\\\",\\\"work_completed_retainage_released_this_period\\\":\\\"0.00\\\"}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_application_markup_line_items/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_application_markup_line_items/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":55001,\"payment_application_markup_line_item\":{\"work_completed_this_period\":\"1000.00\",\"work_completed_retainage_retained_this_period\":\"100.00\",\"work_completed_retainage_released_this_period\":\"0.00\"}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_application_markup_line_items/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"project_id\\\":55001,\\\"payment_application_markup_line_item\\\":{\\\"work_completed_this_period\\\":\\\"1000.00\\\",\\\"work_completed_retainage_retained_this_period\\\":\\\"100.00\\\",\\\"work_completed_retainage_released_this_period\\\":\\\"0.00\\\"}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}