{
 "openapi": "3.0.0",
 "info": {
  "title": "Payment Applications (Owner Invoices)",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Prime Contracts",
  "x-resource-name": "Payment Applications (Owner Invoices)",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/payment_applications": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Payment Applications (Owner Invoices) for a Project",
    "description": "Return a list of all Payment Applications (Owner Invoices) on a specified Project\n\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Payment Applications (Owner Invoices)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of Payment Applications (Owner Invoices)",
         "items": {
          "allOf": [
           {
            "type": "object",
            "description": "Payment Application (Owner Invoice)",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 58820
             },
             "billing_date": {
              "type": "string",
              "format": "date",
              "description": "Billing date",
              "example": "2013-11-20"
             },
             "invoice_number": {
              "type": "string",
              "description": "Invoice number",
              "example": 123
             },
             "origin_data": {
              "type": "string",
              "description": "Payment Application (Owner Invoice) third party data",
              "example": "XYZ-0012",
              "nullable": true
             },
             "origin_id": {
              "type": "string",
              "description": "Payment Application (Owner Invoice) third party ID",
              "example": "abc-123",
              "nullable": true
             },
             "percent_complete": {
              "type": "string",
              "description": "Percent complete",
              "example": "0.00"
             },
             "period_start": {
              "type": "string",
              "format": "date",
              "description": "Period start date",
              "example": "2013-11-01"
             },
             "period_end": {
              "type": "string",
              "format": "date",
              "description": "Period end date",
              "example": "2013-11-02"
             },
             "period_id": {
              "type": "integer",
              "description": "Billing Period Identifier",
              "example": 7682,
              "nullable": true
             },
             "status": {
              "type": "string",
              "enum": [
               "draft",
               "under_review",
               "revise_and_resubmit",
               "approved"
              ],
              "description": "Status",
              "example": "approved"
             },
             "total_amount_paid": {
              "type": "string",
              "description": "Total amount of Payments made to the Payment Application",
              "example": "250.00"
             },
             "number": {
              "type": "integer",
              "description": "Payment Application (Owner Invoice) number",
              "example": 1
             },
             "total_amount_accrued_this_period": {
              "type": "string",
              "description": "Gross amount of the Invoice.",
              "example": "125.00"
             },
             "formatted_contract_company": {
              "type": "string",
              "description": "Name of the Owner/Client of the Invoice.",
              "example": "Simplex Grinnell LLC"
             },
             "currency_configuration": {
              "type": "object",
              "description": "Payment Application (Owner Invoice) Currency Configuration",
              "properties": {
               "currency_iso_code": {
                "type": "string",
                "description": "ISO Code for the Currency",
                "example": "USD"
               },
               "currency_exchange_rate": {
                "type": "string",
                "description": "Exchange rate for the Currency",
                "example": "2.1"
               },
               "base_currency_iso_code": {
                "type": "string",
                "description": "ISO Code for the Base Currency Code",
                "example": "USD"
               }
              }
             },
             "g702": {
              "type": "object",
              "description": "Payment Application (Owner Invoice) summary",
              "properties": {
               "balance_to_finish_including_retainage": {
                "type": "string",
                "description": "Balance to finish including retainage",
                "example": "1268346.55"
               },
               "completed_work_retainage_percent": {
                "type": "string",
                "description": "Completed work retainage percent",
                "example": "10.00"
               },
               "completed_work_retainage_amount": {
                "type": "string",
                "description": "Completed work retainage amount",
                "example": "1201.0"
               },
               "contract_sum_to_date": {
                "type": "string",
                "description": "Contract sum to date",
                "example": "1279159.15"
               },
               "current_payment_due": {
                "type": "string",
                "description": "Current payment due",
                "example": "10812.60"
               },
               "formatted_period": {
                "type": "string",
                "description": "Formatted billing period",
                "example": "01/06/19 - 30/06/19"
               },
               "less_previous_certificates_for_payment": {
                "type": "string",
                "description": "Less previous certificates for payment",
                "example": "0.00"
               },
               "negative_change_order_item_total": {
                "type": "string",
                "description": "Negative change order item total",
                "example": "0.00"
               },
               "negative_new_change_order_item_total": {
                "type": "string",
                "description": "Negative new change order item total",
                "example": "0.00"
               },
               "negative_previous_change_order_item_total": {
                "type": "string",
                "description": "Negative previous change order item total",
                "example": "0.00"
               },
               "net_change_by_change_orders": {
                "type": "string",
                "description": "Net change by change orders",
                "example": "256706.65"
               },
               "original_contract_sum": {
                "type": "string",
                "description": "Original contract sum",
                "example": "1022452.50"
               },
               "positive_change_order_item_total": {
                "type": "string",
                "description": "Positive change order item total",
                "example": "0.00"
               },
               "positive_new_change_order_item_total": {
                "type": "string",
                "description": "Positive new change order item total",
                "example": "0.00"
               },
               "positive_previous_change_order_item_total": {
                "type": "string",
                "description": "Positive previous change order item total",
                "example": "0.00"
               },
               "stored_materials_retainage_amount": {
                "type": "string",
                "description": "Stored materials retainage amount",
                "example": "0.40"
               },
               "stored_materials_retainage_percent": {
                "type": "string",
                "description": "Stored materials retainage percent",
                "example": "10.00"
               },
               "tax_applicable_to_this_payment": {
                "type": "string",
                "description": "Tax applicable to this payment",
                "example": "0.00"
               },
               "total_completed_and_stored_to_date": {
                "type": "string",
                "description": "Total completed and stored to date",
                "example": "1201.40"
               },
               "total_earned_less_retainage": {
                "type": "string",
                "description": "Total earned less retainage",
                "example": "10812.60"
               },
               "total_retainage": {
                "type": "string",
                "description": "Total retainage",
                "example": "1201.40"
               }
              }
             },
             "billing_period": {
              "type": "object",
              "description": "Commitment Billing Period",
              "properties": {
               "start_date": {
                "type": "string",
                "format": "date",
                "description": "Date representing the start of a period",
                "example": "2013-11-01"
               },
               "end_date": {
                "type": "string",
                "format": "date",
                "description": "Date representing the end of a period",
                "example": "2013-11-30"
               }
              },
              "nullable": true
             },
             "contract": {
              "type": "object",
              "description": "Contract",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Contract ID",
                "example": 133745
               },
               "type": {
                "type": "string",
                "description": "Contract type",
                "example": "PrimeContract"
               },
               "title": {
                "type": "string",
                "description": "Contract title",
                "example": "ROYALE"
               }
              }
             },
             "created_at": {
              "type": "string",
              "format": "date",
              "description": "When the payment application was created",
              "example": "2022-04-12T14:55:00Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date",
              "description": "When the payment application was last updated",
              "example": "2022-04-12T14:55:00Z"
             }
            }
           },
           {
            "type": "object",
            "properties": {
             "description_type": {
              "type": "string",
              "enum": [
               "custom",
               "automatic"
              ],
              "description": "Description type to be shown for line items",
              "example": "automatic",
              "default": "automatic"
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/payment_applications',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/payment_applications?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/payment_applications?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/payment_applications?project_id=SOME_INTEGER_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add created_at and updated_at to List Payment Applications (Owner Invoices) for a Project",
      "description": "Add created_at and updated_at to the response for each payment application.",
      "endpoint": "GET /payment_applications",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2022-04-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#list-payment-applications-owner-invoices-for-a-project"
     },
     {
      "summary": "Added attributes description_type to the response",
      "description": "Added description type attribute with allowed values of [automatic, custom].",
      "endpoint": "GET /payment_applications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-11-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#list-payment-applications-owner-invoices-for-a-project"
     },
     {
      "summary": "Added currency_configuration to the output.",
      "description": "Creation of new response field currency_configuration, that will hold currency information for the invoice",
      "endpoint": "GET /payment_applications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-06-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#list-payment-applications-owner-invoices-for-a-project"
     },
     {
      "summary": "Added exchange rate and base currency code to the response.",
      "description": "Currency fields currency_exchange_rate and base_currency_iso_code added to currency_configuration field for each payment application.",
      "endpoint": "GET /payment_applications",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-15",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#list-payment-applications-owner-invoices-for-a-project"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.0/payment_applications/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Payment Application (Owner Invoice) ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "query",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Payment Application (Owner Invoice)",
    "description": "Return a Payment Application (Owner Invoice)",
    "tags": [
     "Payment Applications (Owner Invoices)"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "g703": {
             "type": "array",
             "items": {
              "type": "object",
              "description": "Payment Application (Owner Invoice) Contract Item",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 135135
               },
               "origin_id": {
                "type": "integer",
                "description": "ID for the record this item originated from. Only present if item type is payment_application_line_item.",
                "example": 135135
               },
               "origin_type": {
                "type": "string",
                "description": "Type of the record this item originated from. Only present if item type is payment_application_line_item.",
                "enum": [
                 "LineItem",
                 "ChangeOrderPackage"
                ],
                "example": "LineItem"
               },
               "added_from_source": {
                "type": "string",
                "description": "String representing the type of object this line came from. Only present if item type is payment_application_line_item.",
                "enum": [
                 "contract",
                 "change_order"
                ],
                "example": "contract"
               },
               "added_from_source_id": {
                "type": "integer",
                "description": "ID for the source object this line came from. Only present if item type is payment_application_line_item.",
                "example": 135135
               },
               "balance_to_finish": {
                "type": "string",
                "description": "Balance to finish amount",
                "example": "1.00"
               },
               "materials_presently_stored": {
                "type": "string",
                "description": "Materials presently stored amount",
                "example": "0.00"
               },
               "scheduled_value": {
                "type": "string",
                "description": "Scheduled value amount",
                "example": "1.00"
               },
               "total_completed_and_stored_to_date": {
                "type": "string",
                "description": "Total completed and stored to date amount",
                "example": "0.00"
               },
               "total_completed_and_stored_to_date_percent": {
                "type": "string",
                "description": "Total completed and stored to date percent",
                "example": "0.0"
               },
               "work_completed_from_previous_application": {
                "type": "string",
                "description": "Work completed from previous application amount",
                "example": "0.00"
               },
               "work_completed_this_period": {
                "type": "string",
                "description": "Work completed this period amount",
                "example": "0.00"
               },
               "description_of_work": {
                "type": "string",
                "description": "Description of work",
                "example": "Install windows",
                "nullable": true
               },
               "description_override": {
                "type": "string",
                "description": "Overridden description of work",
                "example": "Install windows again",
                "nullable": true
               },
               "currency_configuration": {
                "type": "object",
                "description": "Payment Application (Owner Invoice) Currency Configuration",
                "properties": {
                 "currency_iso_code": {
                  "type": "string",
                  "description": "ISO Code for the Currency",
                  "example": "USD"
                 }
                }
               },
               "item_number": {
                "type": "integer",
                "description": "Item number",
                "example": 1
               },
               "cost_code": {
                "oneOf": [
                 {
                  "title": "compact",
                  "type": "object",
                  "properties": {
                   "id": {
                    "description": "ID",
                    "example": 12345,
                    "nullable": true,
                    "type": "integer"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full Cost code, including parent prefixes",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Earthwork"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "title": "extended",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Unique identifier for this Cost Code record.",
                    "example": 12345
                   },
                   "biller": {
                    "type": "string",
                    "description": "Display name of the entity (project or sub job) that owns this cost code.",
                    "example": "Campus"
                   },
                   "biller_id": {
                    "type": "integer",
                    "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                    "example": 12345
                   },
                   "biller_type": {
                    "type": "string",
                    "enum": [
                     "Project",
                     "SubJob"
                    ],
                    "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                    "example": "Project"
                   },
                   "biller_origin_id": {
                    "type": "string",
                    "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                    "example": "98765",
                    "nullable": true
                   },
                   "budgeted": {
                    "type": "boolean",
                    "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                    "example": false
                   },
                   "code": {
                    "type": "string",
                    "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                    "example": "300"
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "deleted_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                    "example": "2017-07-29T21:39:40Z"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Display name of the cost code.",
                    "example": "Earthwork"
                   },
                   "origin_data": {
                    "type": "string",
                    "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                    "example": "OD-129947"
                   },
                   "origin_id": {
                    "type": "string",
                    "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                    "example": "9874484"
                   },
                   "parent": {
                    "type": "object",
                    "description": "The immediate parent cost code of this record, if any.",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                      "example": 2345
                     }
                    }
                   },
                   "position": {
                    "type": "integer",
                    "description": "Sort order of this cost code within its parent.",
                    "example": 1
                   },
                   "sortable_code": {
                    "type": "string",
                    "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                    "example": "02-300"
                   },
                   "standard_cost_code_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                    "example": 122334
                   },
                   "standard_cost_code_list_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                    "example": 133445,
                    "nullable": true
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "line_item_types": {
                    "type": "array",
                    "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                    "items": {
                     "type": "object",
                     "title": "LineItemType",
                     "description": "A line item type assigned to this cost code.",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "Unique identifier for the Line Item Type.",
                       "example": 12345
                      },
                      "name": {
                       "type": "string",
                       "description": "Display name of the Line Item Type.",
                       "example": "Equipment"
                      },
                      "code": {
                       "type": "string",
                       "description": "Short code used for CSV import of this Line Item Type.",
                       "example": "LB"
                      },
                      "base_type": {
                       "type": "string",
                       "enum": [
                        "equipment",
                        "materials",
                        "commitment",
                        "owner_cost",
                        "professional_services",
                        "labor",
                        "other"
                       ],
                       "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                       "example": "materials"
                      },
                      "origin_id": {
                       "type": "string",
                       "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                       "example": "ABC123",
                       "nullable": true
                      }
                     }
                    }
                   }
                  }
                 }
                ]
               },
               "wbs_code": {
                "type": "object",
                "title": "Wbs Code",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Wbs Code ID",
                  "example": 999
                 },
                 "flat_code": {
                  "type": "string",
                  "description": "Wbs Code",
                  "example": "01-011.CT1"
                 },
                 "description": {
                  "type": "string",
                  "description": "Wbs Code Description",
                  "example": "Project Engineer.Cost Type 1"
                 }
                }
               },
               "scheduled_unit_price": {
                "type": "string",
                "description": "Scheduled unit price",
                "example": "0.0"
               },
               "scheduled_quantity": {
                "type": "string",
                "description": "Scheduled quantity",
                "example": "0.0"
               },
               "total_completed_and_stored_to_date_quantity": {
                "type": "string",
                "description": "Total completed and stored to date quantity",
                "example": "0.0"
               },
               "work_completed_this_period_quantity": {
                "type": "string",
                "description": "Work completed this period quantity",
                "example": "0.0"
               },
               "work_completed_from_previous_application_quantity": {
                "type": "string",
                "description": "Work completed from previous application quantity",
                "example": "0.0"
               },
               "work_completed_retainage_currently_retained": {
                "type": "string",
                "description": "Work completed retainage currently retained amount",
                "example": "0.0"
               },
               "work_completed_retainage_from_previous_application": {
                "type": "string",
                "description": "Work completed retainage amount from previous application",
                "example": "0.0"
               },
               "work_completed_retainage_released_this_period": {
                "type": "string",
                "description": "Work completed retainage amount released this period",
                "example": "0.0"
               },
               "work_completed_retainage_retained_this_period": {
                "type": "string",
                "description": "Work completed retainage amount retained this period",
                "example": "0.0"
               },
               "work_completed_retainage_percent_this_period": {
                "type": "string",
                "description": "Work completed retainage percent this period",
                "example": "10.0"
               },
               "materials_stored_retainage_currently_retained": {
                "type": "string",
                "description": "Materials stored retainage amount currently retained",
                "example": "0.0"
               },
               "materials_stored_retainage_from_previous_application": {
                "type": "string",
                "description": "Materials stored retainage amount from previous application",
                "example": "0.0"
               },
               "materials_stored_retainage_released_this_period": {
                "type": "string",
                "description": "Materials stored retainage amount released this period",
                "example": "0.0"
               },
               "materials_stored_retainage_retained_this_period": {
                "type": "string",
                "description": "Materials stored retainage amount retained this period",
                "example": "0.0"
               },
               "materials_stored_retainage_percent_this_period": {
                "type": "string",
                "description": "Materials stored retainage percent this period",
                "example": "10.0"
               },
               "total_retainage_currently_retained": {
                "type": "string",
                "description": "Total retainage amount currently retained",
                "example": "0.0"
               },
               "total_retainage_from_previous_application": {
                "type": "string",
                "description": "Total retainage amount from previous application",
                "example": "0.0"
               },
               "type": {
                "type": "string",
                "description": "Type of PaymentApplicationContractItem",
                "example": "payment_application_markup_line_item"
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "description": "Payment Application (Owner Invoice)",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 58820
            },
            "billing_date": {
             "type": "string",
             "format": "date",
             "description": "Billing date",
             "example": "2013-11-20"
            },
            "invoice_number": {
             "type": "string",
             "description": "Invoice number",
             "example": 123
            },
            "origin_data": {
             "type": "string",
             "description": "Payment Application (Owner Invoice) third party data",
             "example": "XYZ-0012",
             "nullable": true
            },
            "origin_id": {
             "type": "string",
             "description": "Payment Application (Owner Invoice) third party ID",
             "example": "abc-123",
             "nullable": true
            },
            "percent_complete": {
             "type": "string",
             "description": "Percent complete",
             "example": "0.00"
            },
            "period_start": {
             "type": "string",
             "format": "date",
             "description": "Period start date",
             "example": "2013-11-01"
            },
            "period_end": {
             "type": "string",
             "format": "date",
             "description": "Period end date",
             "example": "2013-11-02"
            },
            "period_id": {
             "type": "integer",
             "description": "Billing Period Identifier",
             "example": 7682,
             "nullable": true
            },
            "status": {
             "type": "string",
             "enum": [
              "draft",
              "under_review",
              "revise_and_resubmit",
              "approved"
             ],
             "description": "Status",
             "example": "approved"
            },
            "total_amount_paid": {
             "type": "string",
             "description": "Total amount of Payments made to the Payment Application",
             "example": "250.00"
            },
            "number": {
             "type": "integer",
             "description": "Payment Application (Owner Invoice) number",
             "example": 1
            },
            "total_amount_accrued_this_period": {
             "type": "string",
             "description": "Gross amount of the Invoice.",
             "example": "125.00"
            },
            "formatted_contract_company": {
             "type": "string",
             "description": "Name of the Owner/Client of the Invoice.",
             "example": "Simplex Grinnell LLC"
            },
            "currency_configuration": {
             "type": "object",
             "description": "Payment Application (Owner Invoice) Currency Configuration",
             "properties": {
              "currency_iso_code": {
               "type": "string",
               "description": "ISO Code for the Currency",
               "example": "USD"
              }
             }
            },
            "description_type": {
             "type": "string",
             "enum": [
              "custom",
              "automatic"
             ],
             "description": "Description type to be shown for line items",
             "example": "automatic",
             "default": "automatic"
            },
            "g702": {
             "type": "object",
             "description": "Payment Application (Owner Invoice) summary",
             "properties": {
              "balance_to_finish_including_retainage": {
               "type": "string",
               "description": "Balance to finish including retainage",
               "example": "1268346.55"
              },
              "completed_work_retainage_percent": {
               "type": "string",
               "description": "Completed work retainage percent",
               "example": "10.00"
              },
              "completed_work_retainage_amount": {
               "type": "string",
               "description": "Completed work retainage amount",
               "example": "1201.0"
              },
              "contract_sum_to_date": {
               "type": "string",
               "description": "Contract sum to date",
               "example": "1279159.15"
              },
              "current_payment_due": {
               "type": "string",
               "description": "Current payment due",
               "example": "10812.60"
              },
              "formatted_period": {
               "type": "string",
               "description": "Formatted billing period",
               "example": "01/06/19 - 30/06/19"
              },
              "less_previous_certificates_for_payment": {
               "type": "string",
               "description": "Less previous certificates for payment",
               "example": "0.00"
              },
              "negative_change_order_item_total": {
               "type": "string",
               "description": "Negative change order item total",
               "example": "0.00"
              },
              "negative_new_change_order_item_total": {
               "type": "string",
               "description": "Negative new change order item total",
               "example": "0.00"
              },
              "negative_previous_change_order_item_total": {
               "type": "string",
               "description": "Negative previous change order item total",
               "example": "0.00"
              },
              "net_change_by_change_orders": {
               "type": "string",
               "description": "Net change by change orders",
               "example": "256706.65"
              },
              "original_contract_sum": {
               "type": "string",
               "description": "Original contract sum",
               "example": "1022452.50"
              },
              "positive_change_order_item_total": {
               "type": "string",
               "description": "Positive change order item total",
               "example": "0.00"
              },
              "positive_new_change_order_item_total": {
               "type": "string",
               "description": "Positive new change order item total",
               "example": "0.00"
              },
              "positive_previous_change_order_item_total": {
               "type": "string",
               "description": "Positive previous change order item total",
               "example": "0.00"
              },
              "stored_materials_retainage_amount": {
               "type": "string",
               "description": "Stored materials retainage amount",
               "example": "0.40"
              },
              "stored_materials_retainage_percent": {
               "type": "string",
               "description": "Stored materials retainage percent",
               "example": "10.00"
              },
              "tax_applicable_to_this_payment": {
               "type": "string",
               "description": "Tax applicable to this payment",
               "example": "0.00"
              },
              "total_completed_and_stored_to_date": {
               "type": "string",
               "description": "Total completed and stored to date",
               "example": "1201.40"
              },
              "total_earned_less_retainage": {
               "type": "string",
               "description": "Total earned less retainage",
               "example": "10812.60"
              },
              "total_retainage": {
               "type": "string",
               "description": "Total retainage",
               "example": "1201.40"
              }
             }
            },
            "billing_period": {
             "type": "object",
             "description": "Commitment Billing Period",
             "properties": {
              "start_date": {
               "type": "string",
               "format": "date",
               "description": "Date representing the start of a period",
               "example": "2013-11-01"
              },
              "end_date": {
               "type": "string",
               "format": "date",
               "description": "Date representing the end of a period",
               "example": "2013-11-30"
              }
             },
             "nullable": true
            },
            "contract": {
             "type": "object",
             "description": "Contract",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Contract ID",
               "example": 133745
              },
              "type": {
               "type": "string",
               "description": "Contract type",
               "example": "PrimeContract"
              },
              "title": {
               "type": "string",
               "description": "Contract title",
               "example": "ROYALE"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/payment_applications/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/payment_applications/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/payment_applications/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/payment_applications/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Show Payment Application (Owner Invoice) now includes WBS Codes for each item",
      "description": "This endpoint now includes the WBS Code for each item.",
      "endpoint": "GET /payment_applications/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2021-02-12",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#show-payment-application-owner-invoice"
     },
     {
      "summary": "Added attributes description_type to the response",
      "description": "Added description type attribute with allowed values of [automatic, custom].",
      "endpoint": "GET /payment_applications/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2022-11-30",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#show-payment-application-owner-invoice"
     },
     {
      "summary": "Added currency_configuration to the output.",
      "description": "Creation of new response field currency_configuration, that will hold currency information for the invoice",
      "endpoint": "GET /payment_applications/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-06-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#show-payment-application-owner-invoice"
     },
     {
      "summary": "Add origin info to payment application line items",
      "description": "Add four new fields to items. They are: origin_id, origin_type, added_from_source, added_from_source_id",
      "endpoint": "GET /payment_applications/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2023-08-23",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#show-payment-application-owner-invoice"
     },
     {
      "summary": "Added materials moved attributes in line item responses.",
      "description": "Added materials_moved and materials_retainage_retained_moved to line item responses.",
      "endpoint": "GET /payment_applications/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-08-29",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#show-payment-application-owner-invoice"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Delete a Payment Application (Owner Invoice)",
    "description": "Delete a Payment Application (Owner Invoice) based on its id",
    "tags": [
     "Payment Applications (Owner Invoices)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "message": {
           "type": "string"
          },
          "exception": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/payment_applications/%7Bid%7D',\n  qs: {project_id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/payment_applications/%7Bid%7D?project_id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url 'https://api.procore.com/rest/v1.0/payment_applications/%7Bid%7D?project_id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/payment_applications/%7Bid%7D?project_id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Payment Application (Owner Invoice) Delete endpoint",
      "description": "This endpoint allows the user to delete a Payment Application (Owner Invoice).",
      "endpoint": "DELETE /payment_applications/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-02-13",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "payment-applications-owner-invoices?version=1.0#delete-a-payment-application-owner-invoice"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/prime_contracts/{prime_contract_id}/payment_applications": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "prime_contract_id",
     "in": "path",
     "description": "Prime Contract ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Payment Application (Owner Invoice) for Prime Contract",
    "description": "Create a Payment Application (Owner Invoice) on a specified Prime Contract",
    "tags": [
     "Payment Applications (Owner Invoices)"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "project_id"
        ],
        "properties": {
         "project_id": {
          "type": "integer",
          "description": "Unique identifier for the project.",
          "example": 55001
         },
         "attachments": {
          "type": "array",
          "description": "Payment application attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string"
          }
         },
         "payment_application": {
          "title": "Payment Application (Owner Invoice)",
          "type": "object",
          "description": "Payment Application (Owner Invoice)",
          "properties": {
           "commitment_billing_period_id": {
            "type": "integer",
            "description": "Billing Period ID",
            "example": 20093
           },
           "period_start": {
            "type": "string",
            "format": "date",
            "description": "Period start date",
            "example": "2013-10-01"
           },
           "period_end": {
            "type": "string",
            "format": "date",
            "description": "Period end date",
            "example": "2013-10-31"
           },
           "billing_date": {
            "type": "string",
            "format": "date",
            "description": "Billing date",
            "example": "2013-10-31"
           },
           "invoice_number": {
            "type": "string",
            "description": "Invoice number",
            "example": "ABC-1234"
           },
           "origin_data": {
            "type": "string",
            "description": "Payment Application (Owner Invoice) third party data",
            "example": "XYZ-0012"
           },
           "origin_id": {
            "type": "string",
            "description": "Payment Application (Owner Invoice) third party ID",
            "example": "abc-123"
           },
           "status": {
            "type": "string",
            "enum": [
             "draft",
             "under_review",
             "revise_and_resubmit",
             "approved"
            ],
            "description": "Status",
            "example": "under_review"
           },
           "include_attachments": {
            "type": "boolean",
            "description": "If true, all attachments from requisitions in the billing period will be attached to the payment application",
            "example": true
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "type": "object",
           "properties": {
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "g703": {
             "type": "array",
             "items": {
              "type": "object",
              "description": "Payment Application (Owner Invoice) Contract Item",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 135135
               },
               "balance_to_finish": {
                "type": "string",
                "description": "Balance to finish amount",
                "example": "1.00"
               },
               "materials_presently_stored": {
                "type": "string",
                "description": "Materials presently stored amount",
                "example": "0.00"
               },
               "scheduled_value": {
                "type": "string",
                "description": "Scheduled value amount",
                "example": "1.00"
               },
               "total_completed_and_stored_to_date": {
                "type": "string",
                "description": "Total completed and stored to date amount",
                "example": "0.00"
               },
               "total_completed_and_stored_to_date_percent": {
                "type": "string",
                "description": "Total completed and stored to date percent",
                "example": "0.0"
               },
               "work_completed_from_previous_application": {
                "type": "string",
                "description": "Work completed from previous application amount",
                "example": "0.00"
               },
               "work_completed_this_period": {
                "type": "string",
                "description": "Work completed this period amount",
                "example": "0.00"
               },
               "description_of_work": {
                "type": "string",
                "description": "Description of work",
                "example": "Install windows",
                "nullable": true
               },
               "description_override": {
                "type": "string",
                "description": "Overridden description of work",
                "example": "Install windows again",
                "nullable": true
               },
               "currency_configuration": {
                "type": "object",
                "description": "Payment Application (Owner Invoice) Currency Configuration",
                "properties": {
                 "currency_iso_code": {
                  "type": "string",
                  "description": "ISO Code for the Currency",
                  "example": "USD"
                 },
                 "currency_exchange_rate": {
                  "type": "string",
                  "description": "Exchange rate for the Currency",
                  "example": "2.1"
                 },
                 "base_currency_iso_code": {
                  "type": "string",
                  "description": "ISO Code for the Base Currency Code",
                  "example": "USD"
                 }
                }
               },
               "item_number": {
                "type": "integer",
                "description": "Item number",
                "example": 1
               },
               "cost_code": {
                "oneOf": [
                 {
                  "title": "compact",
                  "type": "object",
                  "properties": {
                   "id": {
                    "description": "ID",
                    "example": 12345,
                    "nullable": true,
                    "type": "integer"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full Cost code, including parent prefixes",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name",
                    "example": "Earthwork"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "title": "extended",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Unique identifier for this Cost Code record.",
                    "example": 12345
                   },
                   "biller": {
                    "type": "string",
                    "description": "Display name of the entity (project or sub job) that owns this cost code.",
                    "example": "Campus"
                   },
                   "biller_id": {
                    "type": "integer",
                    "description": "Procore ID of the owning project or sub job. Use with biller_type to identify the owning entity.",
                    "example": 12345
                   },
                   "biller_type": {
                    "type": "string",
                    "enum": [
                     "Project",
                     "SubJob"
                    ],
                    "description": "Type of entity that owns this cost code. One of: 'Project' (a standard project) or 'SubJob' (a sub job within the project).",
                    "example": "Project"
                   },
                   "biller_origin_id": {
                    "type": "string",
                    "description": "ERP origin ID of the owning project or sub job. Null when no ERP origin has been set.",
                    "example": "98765",
                    "nullable": true
                   },
                   "budgeted": {
                    "type": "boolean",
                    "description": "Whether this cost code has been marked as budgeted. True when at least one budget line item exists for this cost code.",
                    "example": false
                   },
                   "code": {
                    "type": "string",
                    "description": "Cost code segment, not including the parent prefix. For example, for full code \"02-300\", this field is \"300\".",
                    "example": "300"
                   },
                   "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was created, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "deleted_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was soft-deleted, in ISO 8601 format. Null when the record is active.",
                    "example": "2017-07-29T21:39:40Z"
                   },
                   "full_code": {
                    "type": "string",
                    "description": "Full cost code including all parent prefixes (e.g. \"02-300\").",
                    "example": "02-300"
                   },
                   "name": {
                    "type": "string",
                    "description": "Display name of the cost code.",
                    "example": "Earthwork"
                   },
                   "origin_data": {
                    "type": "string",
                    "description": "Free-form third-party metadata string from the ERP system. Null when no ERP origin data has been set.",
                    "example": "OD-129947"
                   },
                   "origin_id": {
                    "type": "string",
                    "description": "ERP system identifier for this cost code. Used by sync operations to match records across systems.",
                    "example": "9874484"
                   },
                   "parent": {
                    "type": "object",
                    "description": "The immediate parent cost code of this record, if any.",
                    "properties": {
                     "id": {
                      "type": "integer",
                      "description": "Procore ID of this cost code's parent cost code. Null for root-level cost codes.",
                      "example": 2345
                     }
                    }
                   },
                   "position": {
                    "type": "integer",
                    "description": "Sort order of this cost code within its parent.",
                    "example": 1
                   },
                   "sortable_code": {
                    "type": "string",
                    "description": "Deprecated alias for full_code. Use full_code instead. Included for backwards compatibility.",
                    "example": "02-300"
                   },
                   "standard_cost_code_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code that this project cost code was created from. Null when not derived from a standard list.",
                    "example": 122334
                   },
                   "standard_cost_code_list_id": {
                    "type": "integer",
                    "description": "ID of the company-level standard cost code list associated with this cost code via its standard cost code. Null when not linked to a standard list. Only present in the extended view.",
                    "example": 133445,
                    "nullable": true
                   },
                   "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when this cost code was last updated, in ISO 8601 format.",
                    "example": "2015-05-15T00:00:00Z"
                   },
                   "line_item_types": {
                    "type": "array",
                    "description": "Array of line item types (cost types) assigned to this cost code. Each entry represents one Cost Code / Line Item Type assignment.",
                    "items": {
                     "type": "object",
                     "title": "LineItemType",
                     "description": "A line item type assigned to this cost code.",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "Unique identifier for the Line Item Type.",
                       "example": 12345
                      },
                      "name": {
                       "type": "string",
                       "description": "Display name of the Line Item Type.",
                       "example": "Equipment"
                      },
                      "code": {
                       "type": "string",
                       "description": "Short code used for CSV import of this Line Item Type.",
                       "example": "LB"
                      },
                      "base_type": {
                       "type": "string",
                       "enum": [
                        "equipment",
                        "materials",
                        "commitment",
                        "owner_cost",
                        "professional_services",
                        "labor",
                        "other"
                       ],
                       "description": "Canonical cost category for this line item type. One of: 'equipment', 'materials', 'commitment', 'owner_cost', 'professional_services', 'labor', 'other'.",
                       "example": "materials"
                      },
                      "origin_id": {
                       "type": "string",
                       "description": "ERP system identifier for this line item type. Null when not linked to an ERP system.",
                       "example": "ABC123",
                       "nullable": true
                      }
                     }
                    }
                   }
                  }
                 }
                ]
               },
               "wbs_code": {
                "type": "object",
                "title": "Wbs Code",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "Wbs Code ID",
                  "example": 999
                 },
                 "flat_code": {
                  "type": "string",
                  "description": "Wbs Code",
                  "example": "01-011.CT1"
                 },
                 "description": {
                  "type": "string",
                  "description": "Wbs Code Description",
                  "example": "Project Engineer.Cost Type 1"
                 }
                }
               },
               "scheduled_unit_price": {
                "type": "string",
                "description": "Scheduled unit price",
                "example": "0.0"
               },
               "scheduled_quantity": {
                "type": "string",
                "description": "Scheduled quantity",
                "example": "0.0"
               },
               "total_completed_and_stored_to_date_quantity": {
                "type": "string",
                "description": "Total completed and stored to date quantity",
                "example": "0.0"
               },
               "work_completed_this_period_quantity": {
                "type": "string",
                "description": "Work completed this period quantity",
                "example": "0.0"
               },
               "work_completed_from_previous_application_quantity": {
                "type": "string",
                "description": "Work completed from previous application quantity",
                "example": "0.0"
               },
               "work_completed_retainage_currently_retained": {
                "type": "string",
                "description": "Work completed retainage currently retained amount",
                "example": "0.0"
               },
               "work_completed_retainage_from_previous_application": {
                "type": "string",
                "description": "Work completed retainage amount from previous application",
                "example": "0.0"
               },
               "work_completed_retainage_released_this_period": {
                "type": "string",
                "description": "Work completed retainage amount released this period",
                "example": "0.0"
               },
               "work_completed_retainage_retained_this_period": {
                "type": "string",
                "description": "Work completed retainage amount retained this period",
                "example": "0.0"
               },
               "work_completed_retainage_percent_this_period": {
                "type": "string",
                "description": "Work completed retainage percent this period",
                "example": "10.0"
               },
               "materials_stored_retainage_currently_retained": {
                "type": "string",
                "description": "Materials stored retainage amount currently retained",
                "example": "0.0"
               },
               "materials_stored_retainage_from_previous_application": {
                "type": "string",
                "description": "Materials stored retainage amount from previous application",
                "example": "0.0"
               },
               "materials_stored_retainage_released_this_period": {
                "type": "string",
                "description": "Materials stored retainage amount released this period",
                "example": "0.0"
               },
               "materials_stored_retainage_retained_this_period": {
                "type": "string",
                "description": "Materials stored retainage amount retained this period",
                "example": "0.0"
               },
               "materials_stored_retainage_percent_this_period": {
                "type": "string",
                "description": "Materials stored retainage percent this period",
                "example": "10.0"
               },
               "total_retainage_currently_retained": {
                "type": "string",
                "description": "Total retainage amount currently retained",
                "example": "0.0"
               },
               "total_retainage_from_previous_application": {
                "type": "string",
                "description": "Total retainage amount from previous application",
                "example": "0.0"
               },
               "type": {
                "type": "string",
                "description": "Type of PaymentApplicationContractItem",
                "example": "payment_application_markup_line_item"
               }
              }
             }
            }
           }
          },
          {
           "type": "object",
           "description": "Payment Application (Owner Invoice)",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 58820
            },
            "billing_date": {
             "type": "string",
             "format": "date",
             "description": "Billing date",
             "example": "2013-11-20"
            },
            "invoice_number": {
             "type": "string",
             "description": "Invoice number",
             "example": 123
            },
            "origin_data": {
             "type": "string",
             "description": "Payment Application (Owner Invoice) third party data",
             "example": "XYZ-0012",
             "nullable": true
            },
            "origin_id": {
             "type": "string",
             "description": "Payment Application (Owner Invoice) third party ID",
             "example": "abc-123",
             "nullable": true
            },
            "percent_complete": {
             "type": "string",
             "description": "Percent complete",
             "example": "0.00"
            },
            "period_start": {
             "type": "string",
             "format": "date",
             "description": "Period start date",
             "example": "2013-11-01"
            },
            "period_end": {
             "type": "string",
             "format": "date",
             "description": "Period end date",
             "example": "2013-11-02"
            },
            "period_id": {
             "type": "integer",
             "description": "Billing Period Identifier",
             "example": 7682,
             "nullable": true
            },
            "status": {
             "type": "string",
             "enum": [
              "draft",
              "under_review",
              "revise_and_resubmit",
              "approved"
             ],
             "description": "Status",
             "example": "approved"
            },
            "total_amount_paid": {
             "type": "string",
             "description": "Total amount of Payments made to the Payment Application",
             "example": "250.00"
            },
            "number": {
             "type": "integer",
             "description": "Payment Application (Owner Invoice) number",
             "example": 1
            },
            "total_amount_accrued_this_period": {
             "type": "string",
             "description": "Gross amount of the Invoice.",
             "example": "125.00"
            },
            "formatted_contract_company": {
             "type": "string",
             "description": "Name of the Owner/Client of the Invoice.",
             "example": "Simplex Grinnell LLC"
            },
            "currency_configuration": {
             "type": "object",
             "description": "Payment Application (Owner Invoice) Currency Configuration",
             "properties": {
              "currency_iso_code": {
               "type": "string",
               "description": "ISO Code for the Currency",
               "example": "USD"
              },
              "currency_exchange_rate": {
               "type": "string",
               "description": "Exchange rate for the Currency",
               "example": "2.1"
              },
              "base_currency_iso_code": {
               "type": "string",
               "description": "ISO Code for the Base Currency Code",
               "example": "USD"
              }
             }
            },
            "description_type": {
             "type": "string",
             "enum": [
              "custom",
              "automatic"
             ],
             "description": "Description type to be shown for line items",
             "example": "automatic",
             "default": "automatic"
            },
            "g702": {
             "type": "object",
             "description": "Payment Application (Owner Invoice) summary",
             "properties": {
              "balance_to_finish_including_retainage": {
               "type": "string",
               "description": "Balance to finish including retainage",
               "example": "1268346.55"
              },
              "completed_work_retainage_percent": {
               "type": "string",
               "description": "Completed work retainage percent",
               "example": "10.00"
              },
              "completed_work_retainage_amount": {
               "type": "string",
               "description": "Completed work retainage amount",
               "example": "1201.0"
              },
              "contract_sum_to_date": {
               "type": "string",
               "description": "Contract sum to date",
               "example": "1279159.15"
              },
              "current_payment_due": {
               "type": "string",
               "description": "Current payment due",
               "example": "10812.60"
              },
              "formatted_period": {
               "type": "string",
               "description": "Formatted billing period",
               "example": "01/06/19 - 30/06/19"
              },
              "less_previous_certificates_for_payment": {
               "type": "string",
               "description": "Less previous certificates for payment",
               "example": "0.00"
              },
              "negative_change_order_item_total": {
               "type": "string",
               "description": "Negative change order item total",
               "example": "0.00"
              },
              "negative_new_change_order_item_total": {
               "type": "string",
               "description": "Negative new change order item total",
               "example": "0.00"
              },
              "negative_previous_change_order_item_total": {
               "type": "string",
               "description": "Negative previous change order item total",
               "example": "0.00"
              },
              "net_change_by_change_orders": {
               "type": "string",
               "description": "Net change by change orders",
               "example": "256706.65"
              },
              "original_contract_sum": {
               "type": "string",
               "description": "Original contract sum",
               "example": "1022452.50"
              },
              "positive_change_order_item_total": {
               "type": "string",
               "description": "Positive change order item total",
               "example": "0.00"
              },
              "positive_new_change_order_item_total": {
               "type": "string",
               "description": "Positive new change order item total",
               "example": "0.00"
              },
              "positive_previous_change_order_item_total": {
               "type": "string",
               "description": "Positive previous change order item total",
               "example": "0.00"
              },
              "stored_materials_retainage_amount": {
               "type": "string",
               "description": "Stored materials retainage amount",
               "example": "0.40"
              },
              "stored_materials_retainage_percent": {
               "type": "string",
               "description": "Stored materials retainage percent",
               "example": "10.00"
              },
              "tax_applicable_to_this_payment": {
               "type": "string",
               "description": "Tax applicable to this payment",
               "example": "0.00"
              },
              "total_completed_and_stored_to_date": {
               "type": "string",
               "description": "Total completed and stored to date",
               "example": "1201.40"
              },
              "total_earned_less_retainage": {
               "type": "string",
               "description": "Total earned less retainage",
               "example": "10812.60"
              },
              "total_retainage": {
               "type": "string",
               "description": "Total retainage",
               "example": "1201.40"
              }
             }
            },
            "billing_period": {
             "type": "object",
             "description": "Commitment Billing Period",
             "properties": {
              "start_date": {
               "type": "string",
               "format": "date",
               "description": "Date representing the start of a period",
               "example": "2013-11-01"
              },
              "end_date": {
               "type": "string",
               "format": "date",
               "description": "Date representing the end of a period",
               "example": "2013-11-30"
              }
             },
             "nullable": true
            },
            "contract": {
             "type": "object",
             "description": "Contract",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Contract ID",
               "example": 133745
              },
              "type": {
               "type": "string",
               "description": "Contract type",
               "example": "PrimeContract"
              },
              "title": {
               "type": "string",
               "description": "Contract title",
               "example": "ROYALE"
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_applications',\n  headers: {'content-type': 'application/json'},\n  body: {\n    project_id: 55001,\n    attachments: ['string'],\n    payment_application: {\n      commitment_billing_period_id: 20093,\n      period_start: '2013-10-01',\n      period_end: '2013-10-31',\n      billing_date: '2013-10-31',\n      invoice_number: 'ABC-1234',\n      origin_data: 'XYZ-0012',\n      origin_id: 'abc-123',\n      status: 'under_review',\n      include_attachments: true\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"project_id\\\":55001,\\\"attachments\\\":[\\\"string\\\"],\\\"payment_application\\\":{\\\"commitment_billing_period_id\\\":20093,\\\"period_start\\\":\\\"2013-10-01\\\",\\\"period_end\\\":\\\"2013-10-31\\\",\\\"billing_date\\\":\\\"2013-10-31\\\",\\\"invoice_number\\\":\\\"ABC-1234\\\",\\\"origin_data\\\":\\\"XYZ-0012\\\",\\\"origin_id\\\":\\\"abc-123\\\",\\\"status\\\":\\\"under_review\\\",\\\"include_attachments\\\":true}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_applications\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/prime_contracts/%7Bprime_contract_id%7D/payment_applications \\\n  --header 'content-type: application/json' \\\n  --data '{\"project_id\":55001,\"attachments\":[\"string\"],\"payment_application\":{\"commitment_billing_period_id\":20093,\"period_start\":\"2013-10-01\",\"period_end\":\"2013-10-31\",\"billing_date\":\"2013-10-31\",\"invoice_number\":\"ABC-1234\",\"origin_data\":\"XYZ-0012\",\"origin_id\":\"abc-123\",\"status\":\"under_review\",\"include_attachments\":true}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
[...]
