{
 "openapi": "3.0.0",
 "info": {
  "title": "Payments Subtiers",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Payments",
  "x-resource-name": "Payments Subtiers",
  "version": "1.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/payments/requisitions/{requisition_id}/subtiers": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "description": "ID of the project",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "requisition_id",
     "in": "path",
     "description": "ID of the requisition",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "parameters": [
     {
      "name": "commitment_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier of the commitment",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "query",
      "required": false,
      "description": "Unique identifier of the subtier",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List payments subtiers for the requisition",
    "description": "Returns list of payment subtiers",
    "tags": [
     "Payments"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of payments subtiers",
         "items": {
          "type": "object",
          "description": "A subtier as returned in the context of a requisition (invoice), including its per-requisition billing details.",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the subtier.",
            "example": 1
           },
           "commitment_id": {
            "type": "integer",
            "description": "Identifier of the project commitment (contract) this subtier is tracked under.",
            "example": 1
           },
           "commitment_amount": {
            "type": "number",
            "description": "Total contracted amount committed to this subtier.",
            "example": 200000
           },
           "name": {
            "type": "string",
            "description": "Company name of the subtier.",
            "example": "Cohen's Concrete"
           },
           "amount_billed_to_date": {
            "type": "number",
            "description": "Cumulative amount billed to date for this subtier on the current requisition.",
            "example": 100000
           },
           "status": {
            "type": "string",
            "description": "Lifecycle status of the subtier. One of active, exempt, lien_filed, final_expected, or final_received.",
            "example": "active"
           },
           "waiver_contact_email": {
            "type": "string",
            "description": "Email address of the subtier contact who receives lien waivers to e-sign.",
            "example": "abd@example.com"
           },
           "subtier_type": {
            "type": "string",
            "description": "Whether the subtier is a supplier or a subcontractor.",
            "example": "supplier"
           },
           "kind_of_work": {
            "type": "string",
            "description": "Description of the type of work the subtier performs.",
            "example": "Concrete"
           },
           "phone": {
            "type": "string",
            "description": "Phone number of the subtier.",
            "example": 1234567890
           },
           "address": {
            "type": "string",
            "description": "Street address of the subtier.",
            "example": "123 Main St"
           },
           "city": {
            "type": "string",
            "description": "City of the subtier's address.",
            "example": "New York"
           },
           "state_code": {
            "type": "string",
            "description": "State or province code of the subtier's address.",
            "example": "NY"
           },
           "zip": {
            "type": "string",
            "description": "Postal/ZIP code of the subtier's address.",
            "example": 10001
           },
           "country_code": {
            "type": "string",
            "description": "Country code of the subtier's address.",
            "example": "US"
           },
           "additional_address_information": {
            "type": "string",
            "description": "Supplementary address details such as suite or unit number.",
            "example": "Suite 100"
           },
           "hired_by_subtier_id": {
            "type": "integer",
            "description": "Identifier of the subtier that hired this subtier, establishing the hiring hierarchy. Null when hired directly by the commitment holder.",
            "example": 1
           },
           "hired_by_subtier_name": {
            "type": "string",
            "description": "Company name of the subtier that hired this subtier.",
            "example": "Subtier Two"
           },
           "joint_check_future_requisitions": {
            "type": "boolean",
            "description": "Whether future requisitions for this subtier should be paid by joint check.",
            "example": true
           },
           "vendor_id": {
            "type": "integer",
            "description": "Identifier of the vendor record associated with this subtier. Null when no vendor is linked.",
            "example": 12345
           },
           "vendor_verified": {
            "type": "boolean",
            "description": "Whether the associated vendor has been verified for payments.",
            "example": true
           },
           "beneficiary_status": {
            "type": "string",
            "description": "Procore Pay beneficiary status of the associated vendor.",
            "example": "approved"
           },
           "subtier_requisitions": {
            "type": "array",
            "description": "Per-requisition billing details for this subtier. Only returned when extended=true.",
            "items": {
             "type": "object",
             "description": "Billing details for the subtier on a single requisition.",
             "properties": {
              "id": {
               "type": "integer",
               "description": "Unique identifier of the subtier requisition.",
               "example": 1
              },
              "requisition_id": {
               "type": "integer",
               "description": "Identifier of the commitment requisition (billing period) this subtier requisition belongs to.",
               "example": 1
              },
              "billing_type": {
               "type": "string",
               "description": "Whether this requisition is a progress billing or the final billing.",
               "example": "progress"
              },
              "billing_amount": {
               "type": "number",
               "description": "Amount billed by the subtier on this requisition.",
               "example": 100000
              },
              "through_date": {
               "type": "string",
               "format": "date-time",
               "description": "Billing period end date for the subtier requisition, in ISO 8601 format.",
               "example": "2024-05-31T14:00:00Z"
              },
              "joint_check_requisition": {
               "type": "boolean",
               "description": "Whether this subtier requisition should be paid by joint check.",
               "example": true
              },
              "waiver_required": {
               "type": "boolean",
               "description": "Whether a lien waiver is required for this subtier requisition.",
               "example": true
              },
              "authorized": {
               "type": "boolean",
               "description": "Whether this subtier requisition has been verified and authorized for payment.",
               "example": true
              },
              "authorized_by": {
               "type": "string",
               "description": "Full name of the user who authorized the subtier requisition. Null until authorized.",
               "example": "John Doe"
              },
              "authorized_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp when the subtier requisition was authorized, in ISO 8601 format. Null until authorized.",
               "example": "2024-06-15T10:30:00Z"
              },
              "authorized_amount": {
               "type": "number",
               "description": "Amount authorized for payment on this subtier requisition.",
               "example": 80000
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/payments/requisitions/%7Brequisition_id%7D/subtiers',\n  qs: {commitment_id: 'SOME_INTEGER_VALUE', id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/payments/requisitions/%7Brequisition_id%7D/subtiers?commitment_id=SOME_INTEGER_VALUE&id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/payments/requisitions/%7Brequisition_id%7D/subtiers?commitment_id=SOME_INTEGER_VALUE&id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/payments/requisitions/%7Brequisition_id%7D/subtiers?commitment_id=SOME_INTEGER_VALUE&id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Made List payments subtiers for the requisition endpoint public",
      "description": "GET /projects/{project_id}/payments/requisitions/{requisition_id}/subtiers is now publicly available",
      "endpoint": "GET /projects/{project_id}/payments/requisitions/{requisition_id}/subtiers",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-02-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payments-subtiers?version=1.0#list-payments-subtiers-for-the-requisition"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/projects/{project_id}/payments/commitments/{commitment_id}/subtiers": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "description": "ID of the project",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "commitment_id",
     "in": "path",
     "description": "ID of the commitment",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "parameters": [
     {
      "name": "id",
      "in": "query",
      "required": false,
      "description": "Unique identifier of the subtier",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List payments subtiers for the commitment",
    "description": "Returns list of payment subtiers",
    "tags": [
     "Payments"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of payments subtiers",
         "items": {
          "type": "object",
          "description": "A subtier (lower-tier supplier or subcontractor) tracked under a project commitment for Procore Pay.",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Unique identifier of the subtier. Use as the {id} path parameter to update or delete this subtier.",
            "example": 1
           },
           "commitment_id": {
            "type": "integer",
            "description": "Identifier of the project commitment (contract) this subtier is tracked under.",
            "example": 1
           },
           "commitment_amount": {
            "type": "number",
            "description": "Total contracted amount committed to this subtier.",
            "example": 200000
           },
           "name": {
            "type": "string",
            "description": "Company name of the subtier.",
            "example": "Cohen's Concrete"
           },
           "amount_billed_to_date": {
            "type": "number",
            "description": "Cumulative amount billed to date for this subtier on the current requisition.",
            "example": 100000
           },
           "status": {
            "type": "string",
            "description": "Lifecycle status of the subtier. One of active, exempt, lien_filed, final_expected, or final_received.",
            "example": "active"
           },
           "has_notices": {
            "type": "boolean",
            "description": "Whether the subtier has any notice documents attached.",
            "example": true
           },
           "deletable": {
            "type": "boolean",
            "description": "Whether the subtier can be deleted. False when the subtier has associated billing that prevents removal.",
            "example": true
           },
           "first_date_on_project": {
            "format": "date-time",
            "description": "Timestamp of the subtier's first day of work on the project, in ISO 8601 format. Null when not recorded.",
            "example": "2024-01-10T15:39:40Z",
            "nullable": true,
            "type": "string"
           },
           "last_date_on_project": {
            "format": "date-time",
            "description": "Timestamp of the subtier's last day of work on the project, in ISO 8601 format. Null when not recorded.",
            "example": "2024-02-22T15:39:40Z",
            "nullable": true,
            "type": "string"
           },
           "last_notice_received_on": {
            "format": "date-time",
            "description": "Timestamp when the most recent notice from the subtier was received, in ISO 8601 format. Null when no notice received.",
            "example": "2024-02-20T15:39:40Z",
            "nullable": true,
            "type": "string"
           },
           "notes": {
            "type": "string",
            "description": "Free-text notes recorded about the subtier.",
            "example": "Subtier 1 Notes"
           },
           "waiver_contact_email": {
            "type": "string",
            "description": "Email address of the subtier contact who receives lien waivers to e-sign.",
            "example": "abd@example.com"
           },
           "joint_check_future_requisitions": {
            "type": "boolean",
            "description": "Whether future requisitions for this subtier should be paid by joint check.",
            "example": false
           },
           "subtier_type": {
            "type": "string",
            "description": "Whether the subtier is a supplier or a subcontractor.",
            "example": "supplier"
           },
           "kind_of_work": {
            "type": "string",
            "description": "Description of the type of work the subtier performs.",
            "example": "Concrete"
           },
           "phone": {
            "type": "string",
            "description": "Phone number of the subtier.",
            "example": 1234567890
           },
           "address": {
            "type": "string",
            "description": "Street address of the subtier.",
            "example": "123 Main St"
           },
           "city": {
            "type": "string",
            "description": "City of the subtier's address.",
            "example": "New York"
           },
           "state_code": {
            "type": "string",
            "description": "State or province code of the subtier's address.",
            "example": "NY"
           },
           "zip": {
            "type": "string",
            "description": "Postal/ZIP code of the subtier's address.",
            "example": 10001
           },
           "country_code": {
            "type": "string",
            "description": "Country code of the subtier's address.",
            "example": "US"
           },
           "additional_address_information": {
            "type": "string",
            "description": "Supplementary address details such as suite or unit number.",
            "example": "Suite 100"
           },
           "hired_by_subtier_id": {
            "type": "integer",
            "description": "Identifier of the subtier that hired this subtier, establishing the hiring hierarchy. Null when hired directly by the commitment holder.",
            "example": 1
           },
           "hired_by_subtier_name": {
            "type": "string",
            "description": "Company name of the subtier that hired this subtier.",
            "example": "Subtier Two"
           },
           "vendor_id": {
            "type": "integer",
            "description": "Identifier of the vendor record associated with this subtier. Null when no vendor is linked.",
            "example": 12345
           },
           "vendor_verified": {
            "type": "boolean",
            "description": "Whether the associated vendor has been verified for payments.",
            "example": true
           },
           "beneficiary_status": {
            "type": "string",
            "description": "Procore Pay beneficiary status of the associated vendor.",
            "example": "approved"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/payments/commitments/%7Bcommitment_id%7D/subtiers',\n  qs: {id: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/payments/commitments/%7Bcommitment_id%7D/subtiers?id=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/payments/commitments/%7Bcommitment_id%7D/subtiers?id=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/payments/commitments/%7Bcommitment_id%7D/subtiers?id=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Get subtiers for commitment now supports new request params",
      "description": "Adds support for new request params: status",
      "endpoint": "GET /projects/{project_id}/payments/commitments/{commitment_id}/subtiers",
      "type": "feature",
      "breaking": false,
      "datestamp": "2024-03-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payments-subtiers?version=1.0#list-payments-subtiers-for-the-commitment"
     },
     {
      "summary": "Fixed billing_amount and authorized_amount field types to return number instead of string",
      "description": "The billing_amount and authorized_amount fields in subtier requisition responses now return a number type instead of a string for consistency with other amount fields.",
      "endpoint": "GET /projects/{project_id}/payments/commitments/{commitment_id}/subtiers",
      "type": "fix",
      "breaking": true,
      "datestamp": "2025-12-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payments-subtiers?version=1.0#list-payments-subtiers-for-the-commitment"
     },
     {
      "summary": "Made List payments subtiers for the commitment endpoint public",
      "description": "GET /projects/{project_id}/payments/commitments/{commitment_id}/subtiers is now publicly available",
      "endpoint": "GET /projects/{project_id}/payments/commitments/{commitment_id}/subtiers",
      "type": "feature",
      "breaking": false,
      "datestamp": "2026-02-02",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "payments-subtiers?version=1.0#list-payments-subtiers-for-the-commitment"
     }
    ]
   },
   "x-compliance-level": "partial"
  }
 }
}