{
 "openapi": "3.0.0",
 "info": {
  "title": "Payment Terms",
  "x-product-category": "Construction Financials",
  "x-tool-category": "Payments",
  "x-resource-name": "Payment Terms",
  "version": "2.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/payment_terms": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List Payment Terms",
    "description": "Returns all company-level Payment Terms. Requires company payments read permission.\n",
    "tags": [
     "Payment Terms"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "description": "Company-level payment term definition. Commitments reference this resource via payment_terms_id. The same term may be snapshotted onto invoices as an Invoice Payment Term.\n",
            "properties": {
             "id": {
              "type": "string",
              "description": "Unique identifier (UUID) for the payment term. Matches payment_terms_id on commitment contracts.",
              "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
             },
             "company_id": {
              "type": "string",
              "description": "Company ID that owns this payment term",
              "example": "789"
             },
             "name": {
              "type": "string",
              "description": "Display name of the payment term",
              "example": "Net 30"
             },
             "payment_term_type": {
              "type": "string",
              "description": "Type of payment term",
              "enum": [
               "NET_DAYS_AFTER_SUBMISSION",
               "DISCOUNT_TERMS",
               "OWNER_FUNDING_RECEIVED"
              ],
              "example": "NET_DAYS_AFTER_SUBMISSION"
             },
             "net_days": {
              "type": "integer",
              "description": "Number of days after the qualifying event that payment is due",
              "example": 30,
              "nullable": true
             },
             "discount_rate": {
              "type": "integer",
              "description": "Discount rate in basis points",
              "example": 200,
              "nullable": true
             },
             "discount_valid_days": {
              "type": "integer",
              "description": "Number of days the discount remains valid after invoice submission",
              "example": 10,
              "nullable": true
             },
             "discount_due_day_of_month": {
              "type": "integer",
              "description": "Day of the month the discount expires, for DISCOUNT_TERMS payment terms",
              "example": 15,
              "nullable": true
             },
             "auto_expire_discount": {
              "type": "boolean",
              "description": "Whether the discount automatically expires once the due date passes",
              "example": true
             },
             "erp_id": {
              "type": "string",
              "description": "External ERP system identifier for this payment term, when configured",
              "example": "ERP-PT-100",
              "nullable": true
             },
             "active": {
              "type": "boolean",
              "description": "Whether the payment term is currently active and available for assignment",
              "example": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the payment term was created",
              "example": "2025-05-31T13:21:20Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp when the payment term was last updated",
              "example": "2025-06-01T13:21:20Z"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/payment_terms'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/payment_terms\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/payment_terms"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/payment_terms\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v2.0/companies/{company_id}/payment_terms/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "string"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Unique identifier (UUID) for the payment term. This is the same value returned as payment_terms_id on commitment contracts.\n",
     "schema": {
      "type": "string"
     },
     "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Show a Payment Term",
    "description": "Returns a company-level Payment Term by id. Requires company payments read permission.\n",
    "tags": [
     "Payment Terms"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "type": "object",
           "description": "Company-level payment term definition. Commitments reference this resource via payment_terms_id. The same term may be snapshotted onto invoices as an Invoice Payment Term.\n",
           "properties": {
            "id": {
             "type": "string",
             "description": "Unique identifier (UUID) for the payment term. Matches payment_terms_id on commitment contracts.",
             "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
            },
            "company_id": {
             "type": "string",
             "description": "Company ID that owns this payment term",
             "example": "789"
            },
            "name": {
             "type": "string",
             "description": "Display name of the payment term",
             "example": "Net 30"
            },
            "payment_term_type": {
             "type": "string",
             "description": "Type of payment term",
             "enum": [
              "NET_DAYS_AFTER_SUBMISSION",
              "DISCOUNT_TERMS",
              "OWNER_FUNDING_RECEIVED"
             ],
             "example": "NET_DAYS_AFTER_SUBMISSION"
            },
            "net_days": {
             "type": "integer",
             "description": "Number of days after the qualifying event that payment is due",
             "example": 30,
             "nullable": true
            },
            "discount_rate": {
             "type": "integer",
             "description": "Discount rate in basis points",
             "example": 200,
             "nullable": true
            },
            "discount_valid_days": {
             "type": "integer",
             "description": "Number of days the discount remains valid after invoice submission",
             "example": 10,
             "nullable": true
            },
            "discount_due_day_of_month": {
             "type": "integer",
             "description": "Day of the month the discount expires, for DISCOUNT_TERMS payment terms",
             "example": 15,
             "nullable": true
            },
            "auto_expire_discount": {
             "type": "boolean",
             "description": "Whether the discount automatically expires once the due date passes",
             "example": true
            },
            "erp_id": {
             "type": "string",
             "description": "External ERP system identifier for this payment term, when configured",
             "example": "ERP-PT-100",
             "nullable": true
            },
            "active": {
             "type": "boolean",
             "description": "Whether the payment term is currently active and available for assignment",
             "example": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the payment term was created",
             "example": "2025-05-31T13:21:20Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp when the payment term was last updated",
             "example": "2025-06-01T13:21:20Z"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/payment_terms/a1b2c3d4-e5f6-7890-abcd-ef1234567890'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/payment_terms/a1b2c3d4-e5f6-7890-abcd-ef1234567890\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/payment_terms/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/payment_terms/a1b2c3d4-e5f6-7890-abcd-ef1234567890\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Payment Term id is now a UUID",
      "description": "The id field on Payment Terms is now a UUID string instead of a numeric identifier. The path parameter for GET /companies/{company_id}/payment_terms/{id} now accepts a UUID.\n",
      "endpoint": "GET /companies/{company_id}/payment_terms/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-09-02",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "payment-terms?version=2.0#show-a-payment-term"
     },
     {
      "summary": "Introduce GET Payment Term Endpoint",
      "description": "Fetch a company-level payment term by id. Requires company payments read permission.\n",
      "endpoint": "GET /companies/{company_id}/payment_terms/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2026-08-11",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "payment-terms?version=2.0#show-a-payment-term"
     }
    ]
   },
   "x-compliance-level": "full"
  }
 }
}