{
 "openapi": "3.0.0",
 "info": {
  "title": "PDF Template Configs",
  "x-product-category": "Core",
  "x-tool-category": "Documents",
  "x-resource-name": "PDF Template Configs",
  "version": "1.0",
  "x-product-lines": [
   "PDF Template Configs"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/pdf_template_configs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List PDF template configs",
    "description": "Returns a list of PDF template configs",
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[record_generic_tool_id]",
      "in": "query",
      "required": false,
      "description": "Return item(s) with the specified Generic Tool ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[project_id]",
      "in": "query",
      "description": "Return item(s) with the Project ID.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[template_name]",
      "in": "query",
      "description": "Return item(s) with provided template_name.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[only_parent]",
      "in": "query",
      "description": "Return only parent records.",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "scope",
      "in": "query",
      "description": "Return only scoped records.",
      "schema": {
       "type": "string",
       "enum": [
        "inspections"
       ]
      }
     }
    ],
    "tags": [
     "PDF Template Configs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 333675
           },
           "description": {
            "type": "string",
            "description": "description of the PdfTemplateConfig",
            "example": "pdf template config description"
           },
           "template_name": {
            "type": "string",
            "description": "PdfTemplate name",
            "example": "bid_single"
           },
           "default_project": {
            "type": "boolean",
            "description": "set the configs as default to every company's project"
           },
           "pdf_config_options": {
            "type": "object",
            "properties": {
             "collapse_na_sections": {
              "type": "boolean"
             },
             "show_na_items": {
              "type": "boolean"
             },
             "show_status_change": {
              "type": "boolean"
             },
             "show_activity_details": {
              "type": "boolean"
             },
             "disclaimer_footer_text": {
              "type": "boolean"
             },
             "attendees_table_format": {
              "type": "boolean"
             },
             "attendees_phone_number_display": {
              "type": "boolean"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[record_generic_tool_id]': 'SOME_INTEGER_VALUE',\n    'filters[project_id]': 'SOME_INTEGER_VALUE',\n    'filters[template_name]': 'SOME_STRING_VALUE',\n    'filters[only_parent]': 'SOME_BOOLEAN_VALUE',\n    scope: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Brecord_generic_tool_id%5D=SOME_INTEGER_VALUE&filters%5Bproject_id%5D=SOME_INTEGER_VALUE&filters%5Btemplate_name%5D=SOME_STRING_VALUE&filters%5Bonly_parent%5D=SOME_BOOLEAN_VALUE&scope=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Brecord_generic_tool_id%5D=SOME_INTEGER_VALUE&filters%5Bproject_id%5D=SOME_INTEGER_VALUE&filters%5Btemplate_name%5D=SOME_STRING_VALUE&filters%5Bonly_parent%5D=SOME_BOOLEAN_VALUE&scope=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Brecord_generic_tool_id%5D=SOME_INTEGER_VALUE&filters%5Bproject_id%5D=SOME_INTEGER_VALUE&filters%5Btemplate_name%5D=SOME_STRING_VALUE&filters%5Bonly_parent%5D=SOME_BOOLEAN_VALUE&scope=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Responds with a list of PDF template configs",
      "description": "Provides a response body containing all PDF template configs visible to the internal user for a given company",
      "endpoint": "GET /companies/{company_id}/pdf_template_configs",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "pdf-template-configs?version=1.0#list-pdf-template-configs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create PDF Template Config",
    "description": "Create new PDF Template Config for a specified company",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "pdf_template_config"
        ],
        "properties": {
         "pdf_template_config": {
          "title": "PDF Template config",
          "type": "object",
          "properties": {
           "description": {
            "type": "string",
            "description": "description of the PdfTemplateConfig",
            "example": "pdf template config description"
           },
           "template_name": {
            "type": "string",
            "description": "PdfTemplate name",
            "example": "bid_single"
           },
           "default_project": {
            "type": "boolean",
            "description": "set the configs as default to every company's project"
           },
           "pdf_config_options": {
            "type": "object",
            "properties": {
             "collapse_na_sections": {
              "type": "boolean"
             },
             "show_na_items": {
              "type": "boolean"
             },
             "show_status_change": {
              "type": "boolean",
              "example": "complete"
             },
             "show_activity_details": {
              "type": "boolean",
              "example": "complete"
             },
             "disclaimer_footer_text": {
              "type": "boolean",
              "example": "complete"
             },
             "attendees_table_format": {
              "type": "boolean"
             },
             "attendees_phone_number_display": {
              "type": "boolean"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "description": {
           "type": "string",
           "description": "description of the PdfTemplateConfig",
           "example": "pdf template config description"
          },
          "template_name": {
           "type": "string",
           "description": "PdfTemplate name",
           "example": "bid_single"
          },
          "default_project": {
           "type": "boolean",
           "description": "set the configs as default to every company's project"
          },
          "pdf_config_options": {
           "type": "object",
           "properties": {
            "collapse_na_sections": {
             "type": "boolean"
            },
            "show_na_items": {
             "type": "boolean"
            },
            "show_status_change": {
             "type": "boolean"
            },
            "show_activity_details": {
             "type": "boolean"
            },
            "disclaimer_footer_text": {
             "type": "boolean"
            },
            "attendees_table_format": {
             "type": "boolean"
            },
            "attendees_phone_number_display": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs',\n  headers: {'content-type': 'application/json'},\n  body: {\n    pdf_template_config: {\n      description: 'pdf template config description',\n      template_name: 'bid_single',\n      default_project: true,\n      pdf_config_options: {\n        collapse_na_sections: true,\n        show_na_items: true,\n        show_status_change: 'complete',\n        show_activity_details: 'complete',\n        disclaimer_footer_text: 'complete',\n        attendees_table_format: true,\n        attendees_phone_number_display: true\n      }\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"pdf_template_config\\\":{\\\"description\\\":\\\"pdf template config description\\\",\\\"template_name\\\":\\\"bid_single\\\",\\\"default_project\\\":true,\\\"pdf_config_options\\\":{\\\"collapse_na_sections\\\":true,\\\"show_na_items\\\":true,\\\"show_status_change\\\":\\\"complete\\\",\\\"show_activity_details\\\":\\\"complete\\\",\\\"disclaimer_footer_text\\\":\\\"complete\\\",\\\"attendees_table_format\\\":true,\\\"attendees_phone_number_display\\\":true}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs \\\n  --header 'content-type: application/json' \\\n  --data '{\"pdf_template_config\":{\"description\":\"pdf template config description\",\"template_name\":\"bid_single\",\"default_project\":true,\"pdf_config_options\":{\"collapse_na_sections\":true,\"show_na_items\":true,\"show_status_change\":\"complete\",\"show_activity_details\":\"complete\",\"disclaimer_footer_text\":\"complete\",\"attendees_table_format\":true,\"attendees_phone_number_display\":true}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs\"),\n    Content = new StringContent(\"{\\\"pdf_template_config\\\":{\\\"description\\\":\\\"pdf template config description\\\",\\\"template_name\\\":\\\"bid_single\\\",\\\"default_project\\\":true,\\\"pdf_config_options\\\":{\\\"collapse_na_sections\\\":true,\\\"show_na_items\\\":true,\\\"show_status_change\\\":\\\"complete\\\",\\\"show_activity_details\\\":\\\"complete\\\",\\\"disclaimer_footer_text\\\":\\\"complete\\\",\\\"attendees_table_format\\\":true,\\\"attendees_phone_number_display\\\":true}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added an endpoint to create PDF Template Config",
      "description": "Added the hability to create a PDF Template Configs for a given company id.",
      "endpoint": "POST /companies/{company_id}/pdf_template_configs",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "pdf-template-configs?version=1.0#create-pdf-template-config"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/companies/{company_id}/pdf_template_configs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "PDF Template Configs ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Return a PDF Template Config",
    "description": "Return a PDF Template Config",
    "tags": [
     "PDF Template Configs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "description": {
           "type": "string",
           "description": "description of the PdfTemplateConfig",
           "example": "pdf template config description"
          },
          "template_name": {
           "type": "string",
           "description": "PdfTemplate name",
           "example": "bid_single"
          },
          "default_project": {
           "type": "boolean",
           "description": "set the configs as default to every company's project"
          },
          "pdf_config_options": {
           "type": "object",
           "properties": {
            "collapse_na_sections": {
             "type": "boolean"
            },
            "show_na_items": {
             "type": "boolean"
            },
            "show_status_change": {
             "type": "boolean"
            },
            "show_activity_details": {
             "type": "boolean"
            },
            "disclaimer_footer_text": {
             "type": "boolean"
            },
            "attendees_table_format": {
             "type": "boolean"
            },
            "attendees_phone_number_display": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Responds with a pdf template configs",
      "description": "Provides a response body containing a PDF template configs",
      "endpoint": "GET /companies/{company_id}/pdf_template_configs/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "pdf-template-configs?version=1.0#return-a-pdf-template-config"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a PDF Template Config",
    "description": "Update a PDF Template Config",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "pdf_template_config"
        ],
        "properties": {
         "pdf_template_config": {
          "title": "PDF Template config",
          "type": "object",
          "properties": {
           "description": {
            "type": "string",
            "description": "description of the PdfTemplateConfig",
            "example": "pdf template config description"
           },
           "template_name": {
            "type": "string",
            "description": "PdfTemplate name",
            "example": "bid_single"
           },
           "default_project": {
            "type": "boolean",
            "description": "set the configs as default to every company's project"
           },
           "pdf_config_options": {
            "type": "object",
            "properties": {
             "collapse_na_sections": {
              "type": "boolean"
             },
             "show_na_items": {
              "type": "boolean"
             },
             "show_status_change": {
              "type": "boolean",
              "example": "complete"
             },
             "show_activity_details": {
              "type": "boolean",
              "example": "complete"
             },
             "disclaimer_footer_text": {
              "type": "boolean",
              "example": "complete"
             },
             "attendees_table_format": {
              "type": "boolean"
             },
             "attendees_phone_number_display": {
              "type": "boolean"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "description": {
           "type": "string",
           "description": "description of the PdfTemplateConfig",
           "example": "pdf template config description"
          },
          "template_name": {
           "type": "string",
           "description": "PdfTemplate name",
           "example": "bid_single"
          },
          "default_project": {
           "type": "boolean",
           "description": "set the configs as default to every company's project"
          },
          "pdf_config_options": {
           "type": "object",
           "properties": {
            "collapse_na_sections": {
             "type": "boolean"
            },
            "show_na_items": {
             "type": "boolean"
            },
            "show_status_change": {
             "type": "boolean"
            },
            "show_activity_details": {
             "type": "boolean"
            },
            "disclaimer_footer_text": {
             "type": "boolean"
            },
            "attendees_table_format": {
             "type": "boolean"
            },
            "attendees_phone_number_display": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    pdf_template_config: {\n      description: 'pdf template config description',\n      template_name: 'bid_single',\n      default_project: true,\n      pdf_config_options: {\n        collapse_na_sections: true,\n        show_na_items: true,\n        show_status_change: 'complete',\n        show_activity_details: 'complete',\n        disclaimer_footer_text: 'complete',\n        attendees_table_format: true,\n        attendees_phone_number_display: true\n      }\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"pdf_template_config\\\":{\\\"description\\\":\\\"pdf template config description\\\",\\\"template_name\\\":\\\"bid_single\\\",\\\"default_project\\\":true,\\\"pdf_config_options\\\":{\\\"collapse_na_sections\\\":true,\\\"show_na_items\\\":true,\\\"show_status_change\\\":\\\"complete\\\",\\\"show_activity_details\\\":\\\"complete\\\",\\\"disclaimer_footer_text\\\":\\\"complete\\\",\\\"attendees_table_format\\\":true,\\\"attendees_phone_number_display\\\":true}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"pdf_template_config\":{\"description\":\"pdf template config description\",\"template_name\":\"bid_single\",\"default_project\":true,\"pdf_config_options\":{\"collapse_na_sections\":true,\"show_na_items\":true,\"show_status_change\":\"complete\",\"show_activity_details\":\"complete\",\"disclaimer_footer_text\":\"complete\",\"attendees_table_format\":true,\"attendees_phone_number_display\":true}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"pdf_template_config\\\":{\\\"description\\\":\\\"pdf template config description\\\",\\\"template_name\\\":\\\"bid_single\\\",\\\"default_project\\\":true,\\\"pdf_config_options\\\":{\\\"collapse_na_sections\\\":true,\\\"show_na_items\\\":true,\\\"show_status_change\\\":\\\"complete\\\",\\\"show_activity_details\\\":\\\"complete\\\",\\\"disclaimer_footer_text\\\":\\\"complete\\\",\\\"attendees_table_format\\\":true,\\\"attendees_phone_number_display\\\":true}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added an endpoint to update PDF Template Config",
      "description": "Added the hability to update a PDF template configs",
      "endpoint": "PATCH /companies/{company_id}/pdf_template_configs/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "pdf-template-configs?version=1.0#update-a-pdf-template-config"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete PDF Template Config",
    "description": "Delete PDF Template Config",
    "tags": [
     "PDF Template Configs"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added an endpoint to delete pdf template configs",
      "description": "Deletes a PDF Template Configs for a given id.",
      "endpoint": "DELETE /companies/{company_id}/pdf_template_configs/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "pdf-template-configs?version=1.0#delete-pdf-template-config"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/pdf_template_configs/{id}/update_default_project": {
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update a PDF Template Config",
    "description": "Update a PDF Template Config",
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "id",
      "in": "path",
      "description": "ID of the PDF Template Config",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "pdf_template_config"
        ],
        "properties": {
         "pdf_template_config": {
          "title": "PDF Template config",
          "type": "object",
          "properties": {
           "description": {
            "type": "string",
            "description": "description of the PdfTemplateConfig",
            "example": "pdf template config description"
           },
           "template_name": {
            "type": "string",
            "description": "PdfTemplate name",
            "example": "bid_single"
           },
           "default_project": {
            "type": "boolean",
            "description": "set the configs as default to every company's project"
           },
           "pdf_config_options": {
            "type": "object",
            "properties": {
             "collapse_na_sections": {
              "type": "boolean"
             },
             "show_na_items": {
              "type": "boolean"
             },
             "show_status_change": {
              "type": "boolean",
              "example": "complete"
             },
             "show_activity_details": {
              "type": "boolean",
              "example": "complete"
             },
             "disclaimer_footer_text": {
              "type": "boolean",
              "example": "complete"
             },
             "attendees_table_format": {
              "type": "boolean"
             },
             "attendees_phone_number_display": {
              "type": "boolean"
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "description": {
           "type": "string",
           "description": "description of the PdfTemplateConfig",
           "example": "pdf template config description"
          },
          "template_name": {
           "type": "string",
           "description": "PdfTemplate name",
           "example": "bid_single"
          },
          "default_project": {
           "type": "boolean",
           "description": "set the configs as default to every company's project"
          },
          "pdf_config_options": {
           "type": "object",
           "properties": {
            "collapse_na_sections": {
             "type": "boolean"
            },
            "show_na_items": {
             "type": "boolean"
            },
            "show_status_change": {
             "type": "boolean"
            },
            "show_activity_details": {
             "type": "boolean"
            },
            "disclaimer_footer_text": {
             "type": "boolean"
            },
            "attendees_table_format": {
             "type": "boolean"
            },
            "attendees_phone_number_display": {
             "type": "boolean"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D/update_default_project',\n  headers: {'content-type': 'application/json'},\n  body: {\n    pdf_template_config: {\n      description: 'pdf template config description',\n      template_name: 'bid_single',\n      default_project: true,\n      pdf_config_options: {\n        collapse_na_sections: true,\n        show_na_items: true,\n        show_status_change: 'complete',\n        show_activity_details: 'complete',\n        disclaimer_footer_text: 'complete',\n        attendees_table_format: true,\n        attendees_phone_number_display: true\n      }\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"pdf_template_config\\\":{\\\"description\\\":\\\"pdf template config description\\\",\\\"template_name\\\":\\\"bid_single\\\",\\\"default_project\\\":true,\\\"pdf_config_options\\\":{\\\"collapse_na_sections\\\":true,\\\"show_na_items\\\":true,\\\"show_status_change\\\":\\\"complete\\\",\\\"show_activity_details\\\":\\\"complete\\\",\\\"disclaimer_footer_text\\\":\\\"complete\\\",\\\"attendees_table_format\\\":true,\\\"attendees_phone_number_display\\\":true}}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D/update_default_project\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D/update_default_project \\\n  --header 'content-type: application/json' \\\n  --data '{\"pdf_template_config\":{\"description\":\"pdf template config description\",\"template_name\":\"bid_single\",\"default_project\":true,\"pdf_config_options\":{\"collapse_na_sections\":true,\"show_na_items\":true,\"show_status_change\":\"complete\",\"show_activity_details\":\"complete\",\"disclaimer_footer_text\":\"complete\",\"attendees_table_format\":true,\"attendees_phone_number_display\":true}}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/pdf_template_configs/%7Bid%7D/update_default_project\"),\n    Content = new StringContent(\"{\\\"pdf_template_config\\\":{\\\"description\\\":\\\"pdf template config description\\\",\\\"template_name\\\":\\\"bid_single\\\",\\\"default_project\\\":true,\\\"pdf_config_options\\\":{\\\"collapse_na_sections\\\":true,\\\"show_na_items\\\":true,\\\"show_status_change\\\":\\\"complete\\\",\\\"show_activity_details\\\":\\\"complete\\\",\\\"disclaimer_footer_text\\\":\\\"complete\\\",\\\"attendees_table_format\\\":true,\\\"attendees_phone_number_display\\\":true}}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added an endpoint to update default_project status on pdf template configs",
      "description": "Updates a PDF Template Configs default_project status.",
      "endpoint": "PATCH /companies/{company_id}/pdf_template_configs/{id}/update_default_project",
      "type": "new",
      "breaking": false,
      "datestamp": "2021-10-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "pdf-template-configs?version=1.0#update-a-pdf-template-config"
     }
    ],
    "x-superseded": true
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}