{
 "openapi": "3.0.0",
 "info": {
  "title": "Permissions",
  "x-product-category": "Company Admin",
  "x-tool-category": "Users & Permissions",
  "x-resource-name": "Permissions",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/settings/permissions": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "in": "query",
     "name": "project_id",
     "required": false,
     "description": "This parameter is required for project level permissions and should be omitted for company level permissions.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "in": "query",
     "name": "company_id",
     "required": false,
     "description": "This parameter is required for company level permissions and should be omitted for project level permissions.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "in": "query",
     "name": "filter_correspondence_types",
     "description": "Filter out Correspondence Types from permissions.",
     "schema": {
      "type": "boolean",
      "default": true
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show permission manifest",
    "description": "Company or project permission manifest for the current user",
    "tags": [
     "Permissions"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "tools": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "example": 1
             },
             "name": {
              "type": "string",
              "example": "documents"
             },
             "friendly_name": {
              "type": "string",
              "example": "Documents"
             },
             "domain_id": {
              "type": "integer",
              "example": 14
             },
             "tab_group": {
              "type": "string",
              "example": "core"
             },
             "available_for_user": {
              "type": "boolean",
              "example": true
             },
             "url": {
              "type": "string",
              "example": "/10/project/documents"
             },
             "user_access_level": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "example": 4
               },
               "name": {
                "type": "string",
                "example": "Admin"
               }
              }
             },
             "permitted_actions": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "example": 12
                },
                "action_name": {
                 "type": "string",
                 "example": "destroy_files_and_folders"
                },
                "label": {
                 "type": "string",
                 "example": "Delete folders and files"
                },
                "tool_name": {
                 "type": "string",
                 "example": "documents"
                }
               }
              }
             },
             "create_url": {
              "type": "string",
              "nullable": true,
              "example": "www.example.com"
             },
             "can_create": {
              "type": "boolean",
              "nullable": true,
              "example": true
             },
             "trial": {
              "type": "boolean",
              "example": false
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string"
            },
            "message": {
             "type": "string"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/settings/permissions',\n  qs: {\n    project_id: 'SOME_INTEGER_VALUE',\n    company_id: 'SOME_INTEGER_VALUE',\n    filter_correspondence_types: 'SOME_BOOLEAN_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/settings/permissions?project_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&filter_correspondence_types=SOME_BOOLEAN_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/settings/permissions?project_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&filter_correspondence_types=SOME_BOOLEAN_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/settings/permissions?project_id=SOME_INTEGER_VALUE&company_id=SOME_INTEGER_VALUE&filter_correspondence_types=SOME_BOOLEAN_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}