{
 "openapi": "3.0.0",
 "info": {
  "title": "Plan Revision Logs",
  "x-product-category": "Project Management",
  "x-tool-category": "Daily Log",
  "x-resource-name": "Plan Revision Logs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/projects/{project_id}/plan_revision_logs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Plan Revision Logs",
    "description": "Returns all Plan Revision Logs for the current date.\n\nSee [Working with Daily Logs](https://developers.procore.com/documentation/daily-logs) for information on filtering the response using the log\\_date, start\\_date, and end\\_date parameters. Note that if none of the date parameters are provided in the call, only logs from the current date are returned.",
    "tags": [
     "Plan Revision Logs"
    ],
    "parameters": [
     {
      "name": "log_date",
      "in": "query",
      "description": "Date of specific logs desired in YYYY-MM-DD format",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "start_date",
      "in": "query",
      "description": "Start date of specific logs desired in YYYY-MM-DD format (use together with end_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "end_date",
      "in": "query",
      "description": "End date of specific logs desired in YYYY-MM-DD format (use together with start_date)",
      "schema": {
       "type": "string",
       "format": "date"
      }
     },
     {
      "name": "filters[created_by_id]",
      "in": "query",
      "description": "Returns item(s) created by the specified User IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "example": [
       123456
      ],
      "name": "filters[daily_log_segment_id]",
      "in": "query",
      "description": "Daily Log Segment ID filter",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 333675
           },
           "category": {
            "type": "string",
            "description": "Category of discipline that appears on the revision",
            "example": "Plan Revision category"
           },
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Plan Revision comments"
           },
           "date": {
            "type": "string",
            "description": "Date of record",
            "format": "date",
            "example": "2016-05-19"
           },
           "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Estimated UTC datetime of record",
            "example": "2016-05-19T12:00:00Z"
           },
           "plan_number": {
            "type": "string",
            "description": "Number that appears on the plan submitted",
            "example": "3plan#"
           },
           "position": {
            "type": "integer",
            "description": "Order in which this entry was recorded for the day",
            "example": 142143
           },
           "revision": {
            "type": "string",
            "description": "Revision number",
            "example": "Revision"
           },
           "title": {
            "type": "string",
            "description": "Title of the plans",
            "example": "Plan Revision title"
           },
           "created_by": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 160586
             },
             "login": {
              "type": "string",
              "description": "Email",
              "example": "carl.contractor@example.com"
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Carl Contractor"
             }
            }
           },
           "vendor": {
            "type": "object",
            "title": "Compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique integer identifier for this vendor/company.",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Display name of the vendor or contractor company.",
              "example": "SID Architecture"
             }
            }
           },
           "location": {
            "type": "object",
            "title": "Location",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Location ID",
              "example": 15504
             },
             "name": {
              "type": "string",
              "description": "Location name",
              "example": "North Building>First Floor>Electrical Closet"
             },
             "node_name": {
              "type": "string",
              "description": "Location node name",
              "example": "Electrical Closet"
             },
             "parent_id": {
              "type": "integer",
              "description": "Location parent id",
              "example": 788866,
              "nullable": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of Location creation",
              "example": "2016-08-01T23:33:54Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Location",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           },
           "daily_log_segment": {
            "type": "object",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 123456
             },
             "name": {
              "type": "string",
              "description": "Name of the segment",
              "example": "Morning Shift"
             },
             "description": {
              "type": "string",
              "nullable": true,
              "description": "Description of the segment",
              "example": "Work performed during the morning shift"
             },
             "deleted_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true,
              "description": "Timestamp when the segment was soft deleted",
              "example": "2025-01-15T10:30:00Z"
             },
             "deleted": {
              "type": "boolean",
              "description": "Indicates if the segment is deleted",
              "example": false
             }
            }
           },
           "attachments": {
            "type": "array",
            "description": "Plan Revision Log Attachments are not viewable or used on web",
            "items": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer"
              },
              "name": {
               "type": "string",
               "description": "Use :name, :filename to be deprecated"
              },
              "url": {
               "type": "string"
              },
              "filename": {
               "type": "string",
               "description": ":filename to be deprecated, use :name"
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs',\n  qs: {\n    log_date: 'SOME_STRING_VALUE',\n    start_date: 'SOME_STRING_VALUE',\n    end_date: 'SOME_STRING_VALUE',\n    'filters[created_by_id]': 'SOME_ARRAY_VALUE',\n    'filters[daily_log_segment_id]': '123456'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bdaily_log_segment_id%5D=123456\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bdaily_log_segment_id%5D=123456'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs?log_date=SOME_STRING_VALUE&start_date=SOME_STRING_VALUE&end_date=SOME_STRING_VALUE&filters%5Bcreated_by_id%5D=SOME_ARRAY_VALUE&filters%5Bdaily_log_segment_id%5D=123456\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add location to response body for Plan Revision Logs get endpoint",
      "description": "Add location to response body for Plan Revision Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/plan_revision_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#list-plan-revision-logs"
     },
     {
      "summary": "Add vendor to response body for Plan Revision Logs get endpoint",
      "description": "Add vendor to response body for Plan Revision Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/plan_revision_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#list-plan-revision-logs"
     },
     {
      "summary": "Add daily_log_segment_id filter",
      "description": "Add daily_log_segment_id to filter parameter and response body for plan revision Logs index endpoint.",
      "endpoint": "GET /projects/{project_id}/plan_revision_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#list-plan-revision-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/plan_revision_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#list-plan-revision-logs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Plan Revision Log",
    "description": "Creates single Plan Revision Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments",
    "tags": [
     "Plan Revision Logs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_revision_log"
        ],
        "properties": {
         "plan_revision_log": {
          "type": "object",
          "allOf": [
           {
            "properties": {
             "category": {
              "type": "string",
              "description": "Category of discipline that appears on the revision",
              "example": "Plan Revision Category"
             },
             "comments": {
              "type": "string",
              "description": "Additional comments",
              "example": "Plan Revision comments"
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Date of record. Format: YYYY-MM-DD Example: 2016-04-19",
              "example": "2016-05-19"
             },
             "plan_number": {
              "type": "string",
              "description": "Number that appears on the plan submitted",
              "example": "3plan#"
             },
             "revision": {
              "type": "string",
              "description": "Revision number",
              "example": 763892
             },
             "title": {
              "type": "string",
              "description": "Title of the plans",
              "example": "Plan Revision title"
             },
             "vendor_id": {
              "type": "integer",
              "description": "ID of the Vendor associated to the Plan Revision Log",
              "example": 1120327
             },
             "location_id": {
              "type": "integer",
              "description": "The ID of the Location of the Plan Revision Log.",
              "example": 153252
             },
             "daily_log_segment_id": {
              "type": "integer",
              "description": "Daily Log Segment ID",
              "example": 123456,
              "nullable": true
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "plan_revision_log"
        ],
        "properties": {
         "plan_revision_log": {
          "type": "object",
          "properties": {
           "category": {
            "type": "string",
            "description": "Category of discipline that appears on the revision",
            "example": "Plan Revision Category"
           },
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Plan Revision comments"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of record. Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "plan_number": {
            "type": "string",
            "description": "Number that appears on the plan submitted",
            "example": "3plan#"
           },
           "revision": {
            "type": "string",
            "description": "Revision number",
            "example": 763892
           },
           "title": {
            "type": "string",
            "description": "Title of the plans",
            "example": "Plan Revision title"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the Plan Revision Log",
            "example": 1120327
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Plan Revision Log.",
            "example": 153252
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Plan Revision Log Attachments are not viewable or used on web.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "description": "Look at Daily Log Guide for more info."
          },
          "example": [
           "<attachment.png>"
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "category": {
           "type": "string",
           "description": "Category of discipline that appears on the revision",
           "example": "Plan Revision category"
          },
          "comments": {
           "type": "string",
           "description": "Additional comments",
           "example": "Plan Revision comments"
          },
          "date": {
           "type": "string",
           "description": "Date of record",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "plan_number": {
           "type": "string",
           "description": "Number that appears on the plan submitted",
           "example": "3plan#"
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 142143
          },
          "revision": {
           "type": "string",
           "description": "Revision number",
           "example": "Revision"
          },
          "title": {
           "type": "string",
           "description": "Title of the plans",
           "example": "Plan Revision title"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "daily_log_segment": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name of the segment",
             "example": "Morning Shift"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the segment",
             "example": "Work performed during the morning shift"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the segment was soft deleted",
             "example": "2025-01-15T10:30:00Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates if the segment is deleted",
             "example": false
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Plan Revision Log Attachments are not viewable or used on web",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not create due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_revision_log: {\n      category: 'Plan Revision Category',\n      comments: 'Plan Revision comments',\n      date: '2016-05-19',\n      plan_number: '3plan#',\n      revision: 763892,\n      title: 'Plan Revision title',\n      vendor_id: 1120327,\n      location_id: 153252,\n      daily_log_segment_id: 123456,\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_revision_log\\\":{\\\"category\\\":\\\"Plan Revision Category\\\",\\\"comments\\\":\\\"Plan Revision comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"plan_number\\\":\\\"3plan#\\\",\\\"revision\\\":763892,\\\"title\\\":\\\"Plan Revision title\\\",\\\"vendor_id\\\":1120327,\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_revision_log\":{\"category\":\"Plan Revision Category\",\"comments\":\"Plan Revision comments\",\"date\":\"2016-05-19\",\"plan_number\":\"3plan#\",\"revision\":763892,\"title\":\"Plan Revision title\",\"vendor_id\":1120327,\"location_id\":153252,\"daily_log_segment_id\":123456,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs\"),\n    Content = new StringContent(\"{\\\"plan_revision_log\\\":{\\\"category\\\":\\\"Plan Revision Category\\\",\\\"comments\\\":\\\"Plan Revision comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"plan_number\\\":\\\"3plan#\\\",\\\"revision\\\":763892,\\\"title\\\":\\\"Plan Revision title\\\",\\\"vendor_id\\\":1120327,\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    plan_revision_log: '{\"category\":\"Plan Revision Category\",\"comments\":\"Plan Revision comments\",\"date\":\"2016-05-19\",\"plan_number\":\"3plan#\",\"revision\":763892,\"title\":\"Plan Revision title\",\"vendor_id\":1120327,\"location_id\":153252,\"daily_log_segment_id\":123456}',\n    attachments: '[\"<attachment.png>\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"plan_revision_log\\\"\\r\\n\\r\\n{\\\"category\\\":\\\"Plan Revision Category\\\",\\\"comments\\\":\\\"Plan Revision comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"plan_number\\\":\\\"3plan#\\\",\\\"revision\\\":763892,\\\"title\\\":\\\"Plan Revision title\\\",\\\"vendor_id\\\":1120327,\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"<attachment.png>\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'plan_revision_log={\"category\":\"Plan Revision Category\",\"comments\":\"Plan Revision comments\",\"date\":\"2016-05-19\",\"plan_number\":\"3plan#\",\"revision\":763892,\"title\":\"Plan Revision title\",\"vendor_id\":1120327,\"location_id\":153252,\"daily_log_segment_id\":123456}' \\\n  --form 'attachments=[\"<attachment.png>\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"category\\\":\\\"Plan Revision Category\\\",\\\"comments\\\":\\\"Plan Revision comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"plan_number\\\":\\\"3plan#\\\",\\\"revision\\\":763892,\\\"title\\\":\\\"Plan Revision title\\\",\\\"vendor_id\\\":1120327,\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"plan_revision_log\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"<attachment.png>\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add Attachments by Reference",
      "description": "Add new attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "POST /projects/{project_id}/plan_revision_logs",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#create-plan-revision-log"
     },
     {
      "summary": "Add location_id as parameter to request body and return location in response for Plan Revision Logs create endpoint",
      "description": "Add location_id as parameter to request body and return location in response for Plan Revision Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/plan_revision_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#create-plan-revision-log"
     },
     {
      "summary": "Add vendor_id as parameter to request body and return vendor in response for Plan Revision Logs create endpoint",
      "description": "Add vendor_id as parameter to request body and return vendor in response for Plan Revision Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/plan_revision_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#create-plan-revision-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for plan revision Logs create endpoint",
      "description": "Add daily_log_segment_id to request body and response body for plan revision Logs create endpoint.",
      "endpoint": "POST /projects/{project_id}/plan_revision_logs",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#create-plan-revision-log"
     },
     {
      "summary": "Add attachments parameters in JSON request body schema",
      "description": "Add attachments parameters in JSON request body schema.",
      "endpoint": "POST /projects/{project_id}/plan_revision_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#create-plan-revision-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "POST /projects/{project_id}/plan_revision_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#create-plan-revision-log"
     },
     {
      "summary": "Validate log type is enabled on create",
      "description": "POST create now validates that plan revision logs are enabled in the project's Daily Log configuration.\nRequests are rejected with an InvalidLog error when the log type is disabled.",
      "endpoint": "POST /projects/{project_id}/plan_revision_logs",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-05-18",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#create-plan-revision-log"
     }
    ]
   },
   "x-compliance-level": "partial"
  },
  "/rest/v1.0/projects/{project_id}/plan_revision_logs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "required": true,
     "description": "Plan Revision Log ID",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show Plan Revision Logs",
    "description": "Returns single Plan Revision Log.",
    "tags": [
     "Plan Revision Logs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "category": {
           "type": "string",
           "description": "Category of discipline that appears on the revision",
           "example": "Plan Revision category"
          },
          "comments": {
           "type": "string",
           "description": "Additional comments",
           "example": "Plan Revision comments"
          },
          "date": {
           "type": "string",
           "description": "Date of record",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "plan_number": {
           "type": "string",
           "description": "Number that appears on the plan submitted",
           "example": "3plan#"
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 142143
          },
          "revision": {
           "type": "string",
           "description": "Revision number",
           "example": "Revision"
          },
          "title": {
           "type": "string",
           "description": "Title of the plans",
           "example": "Plan Revision title"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "daily_log_segment": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name of the segment",
             "example": "Morning Shift"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the segment",
             "example": "Work performed during the morning shift"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the segment was soft deleted",
             "example": "2025-01-15T10:30:00Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates if the segment is deleted",
             "example": false
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Plan Revision Log Attachments are not viewable or used on web",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add location to response body for Plan Revision Logs get endpoint",
      "description": "Add location to response body for Plan Revision Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/plan_revision_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#show-plan-revision-logs"
     },
     {
      "summary": "Add vendor to response body for Plan Revision Logs get endpoint",
      "description": "Add vendor to response body for Plan Revision Logs get endpoint.",
      "endpoint": "GET /projects/{project_id}/plan_revision_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#show-plan-revision-logs"
     },
     {
      "summary": "Add daily_log_segment_id to response body for plan revision Logs show endpoint",
      "description": "Add daily_log_segment_id to response body for plan revision Logs show endpoint.",
      "endpoint": "GET /projects/{project_id}/plan_revision_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#show-plan-revision-logs"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "GET /projects/{project_id}/plan_revision_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#show-plan-revision-logs"
     }
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Plan Revision Log",
    "description": "Update single Plan Revision Log.\n\n#### See - [Daily Log guide](https://developers.procore.com/documentation/daily-logs) - for additional info on\n* Attachments",
    "tags": [
     "Plan Revision Logs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "required": [
         "plan_revision_log"
        ],
        "properties": {
         "plan_revision_log": {
          "type": "object",
          "allOf": [
           {
            "properties": {
             "category": {
              "type": "string",
              "description": "Category of discipline that appears on the revision",
              "example": "Plan Revision Category"
             },
             "comments": {
              "type": "string",
              "description": "Additional comments",
              "example": "Plan Revision comments"
             },
             "date": {
              "type": "string",
              "format": "date",
              "description": "Date of record. Format: YYYY-MM-DD Example: 2016-04-19",
              "example": "2016-05-19"
             },
             "plan_number": {
              "type": "string",
              "description": "Number that appears on the plan submitted",
              "example": "3plan#"
             },
             "revision": {
              "type": "string",
              "description": "Revision number",
              "example": 763892
             },
             "title": {
              "type": "string",
              "description": "Title of the plans",
              "example": "Plan Revision title"
             },
             "vendor_id": {
              "type": "integer",
              "description": "ID of the Vendor associated to the Plan Revision Log",
              "example": 1120327
             },
             "location_id": {
              "type": "integer",
              "description": "The ID of the Location of the Plan Revision Log.",
              "example": 153252
             },
             "daily_log_segment_id": {
              "type": "integer",
              "description": "Daily Log Segment ID",
              "example": 123456,
              "nullable": true
             }
            }
           },
           {
            "properties": {
             "drawing_revision_ids": {
              "type": "array",
              "description": "Drawing Revisions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               4,
               5
              ]
             },
             "file_version_ids": {
              "type": "array",
              "description": "File Versions to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               6,
               7
              ]
             },
             "form_ids": {
              "type": "array",
              "description": "Forms to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               7,
               8
              ]
             },
             "image_ids": {
              "type": "array",
              "description": "Images to attach to the response",
              "items": {
               "type": "integer"
              },
              "example": [
               9,
               10
              ]
             },
             "upload_ids": {
              "type": "array",
              "description": "Uploads to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "4120226e-36a8-416f-970e-880bae78164f",
               "de07e35a-4860-4f96-acd8-8360833dc495"
              ]
             },
             "document_management_document_revision_ids": {
              "type": "array",
              "description": "PDM document to attach to the response",
              "items": {
               "type": "string"
              },
              "example": [
               "01JC3TZNKJK6121Z1A2V7G574Q",
               "01JC3TZPXCJMC6P88CHHD6PTZ9"
              ]
             }
            }
           }
          ]
         }
        }
       }
      },
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "plan_revision_log"
        ],
        "properties": {
         "plan_revision_log": {
          "type": "object",
          "properties": {
           "category": {
            "type": "string",
            "description": "Category of discipline that appears on the revision",
            "example": "Plan Revision Category"
           },
           "comments": {
            "type": "string",
            "description": "Additional comments",
            "example": "Plan Revision comments"
           },
           "date": {
            "type": "string",
            "format": "date",
            "description": "Date of record. Format: YYYY-MM-DD Example: 2016-04-19",
            "example": "2016-05-19"
           },
           "plan_number": {
            "type": "string",
            "description": "Number that appears on the plan submitted",
            "example": "3plan#"
           },
           "revision": {
            "type": "string",
            "description": "Revision number",
            "example": 763892
           },
           "title": {
            "type": "string",
            "description": "Title of the plans",
            "example": "Plan Revision title"
           },
           "vendor_id": {
            "type": "integer",
            "description": "ID of the Vendor associated to the Plan Revision Log",
            "example": 1120327
           },
           "location_id": {
            "type": "integer",
            "description": "The ID of the Location of the Plan Revision Log.",
            "example": 153252
           },
           "daily_log_segment_id": {
            "type": "integer",
            "description": "Daily Log Segment ID",
            "example": 123456,
            "nullable": true
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Plan Revision Log Attachments are not viewable or used on web.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "description": "Look at Daily Log Guide for more info."
          },
          "example": [
           "<attachment.png>"
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "id": {
           "type": "integer",
           "description": "ID",
           "example": 333675
          },
          "category": {
           "type": "string",
           "description": "Category of discipline that appears on the revision",
           "example": "Plan Revision category"
          },
          "comments": {
           "type": "string",
           "description": "Additional comments",
           "example": "Plan Revision comments"
          },
          "date": {
           "type": "string",
           "description": "Date of record",
           "format": "date",
           "example": "2016-05-19"
          },
          "datetime": {
           "type": "string",
           "format": "date-time",
           "description": "Estimated UTC datetime of record",
           "example": "2016-05-19T12:00:00Z"
          },
          "plan_number": {
           "type": "string",
           "description": "Number that appears on the plan submitted",
           "example": "3plan#"
          },
          "position": {
           "type": "integer",
           "description": "Order in which this entry was recorded for the day",
           "example": 142143
          },
          "revision": {
           "type": "string",
           "description": "Revision number",
           "example": "Revision"
          },
          "title": {
           "type": "string",
           "description": "Title of the plans",
           "example": "Plan Revision title"
          },
          "created_by": {
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 160586
            },
            "login": {
             "type": "string",
             "description": "Email",
             "example": "carl.contractor@example.com"
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Carl Contractor"
            }
           }
          },
          "vendor": {
           "type": "object",
           "title": "Compact",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Unique integer identifier for this vendor/company.",
             "example": 161072
            },
            "name": {
             "type": "string",
             "description": "Display name of the vendor or contractor company.",
             "example": "SID Architecture"
            }
           }
          },
          "location": {
           "type": "object",
           "title": "Location",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "Location ID",
             "example": 15504
            },
            "name": {
             "type": "string",
             "description": "Location name",
             "example": "North Building>First Floor>Electrical Closet"
            },
            "node_name": {
             "type": "string",
             "description": "Location node name",
             "example": "Electrical Closet"
            },
            "parent_id": {
             "type": "integer",
             "description": "Location parent id",
             "example": 788866,
             "nullable": true
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of Location creation",
             "example": "2016-08-01T23:33:54Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update to Location",
             "example": "2016-08-01T23:33:54Z"
            }
           }
          },
          "daily_log_segment_id": {
           "type": "integer",
           "description": "Daily Log Segment ID",
           "example": 123456,
           "nullable": true
          },
          "daily_log_segment": {
           "type": "object",
           "nullable": true,
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 123456
            },
            "name": {
             "type": "string",
             "description": "Name of the segment",
             "example": "Morning Shift"
            },
            "description": {
             "type": "string",
             "nullable": true,
             "description": "Description of the segment",
             "example": "Work performed during the morning shift"
            },
            "deleted_at": {
             "type": "string",
             "format": "date-time",
             "nullable": true,
             "description": "Timestamp when the segment was soft deleted",
             "example": "2025-01-15T10:30:00Z"
            },
            "deleted": {
             "type": "boolean",
             "description": "Indicates if the segment is deleted",
             "example": false
            }
           }
          },
          "attachments": {
           "type": "array",
           "description": "Plan Revision Log Attachments are not viewable or used on web",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer"
             },
             "name": {
              "type": "string",
              "description": "Use :name, :filename to be deprecated"
             },
             "url": {
              "type": "string"
             },
             "filename": {
              "type": "string",
              "description": ":filename to be deprecated, use :name"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Can not update due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    plan_revision_log: {\n      category: 'Plan Revision Category',\n      comments: 'Plan Revision comments',\n      date: '2016-05-19',\n      plan_number: '3plan#',\n      revision: 763892,\n      title: 'Plan Revision title',\n      vendor_id: 1120327,\n      location_id: 153252,\n      daily_log_segment_id: 123456,\n      drawing_revision_ids: [4, 5],\n      file_version_ids: [6, 7],\n      form_ids: [7, 8],\n      image_ids: [9, 10],\n      upload_ids: ['4120226e-36a8-416f-970e-880bae78164f', 'de07e35a-4860-4f96-acd8-8360833dc495'],\n      document_management_document_revision_ids: ['01JC3TZNKJK6121Z1A2V7G574Q', '01JC3TZPXCJMC6P88CHHD6PTZ9']\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"plan_revision_log\\\":{\\\"category\\\":\\\"Plan Revision Category\\\",\\\"comments\\\":\\\"Plan Revision comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"plan_number\\\":\\\"3plan#\\\",\\\"revision\\\":763892,\\\"title\\\":\\\"Plan Revision title\\\",\\\"vendor_id\\\":1120327,\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"plan_revision_log\":{\"category\":\"Plan Revision Category\",\"comments\":\"Plan Revision comments\",\"date\":\"2016-05-19\",\"plan_number\":\"3plan#\",\"revision\":763892,\"title\":\"Plan Revision title\",\"vendor_id\":1120327,\"location_id\":153252,\"daily_log_segment_id\":123456,\"drawing_revision_ids\":[4,5],\"file_version_ids\":[6,7],\"form_ids\":[7,8],\"image_ids\":[9,10],\"upload_ids\":[\"4120226e-36a8-416f-970e-880bae78164f\",\"de07e35a-4860-4f96-acd8-8360833dc495\"],\"document_management_document_revision_ids\":[\"01JC3TZNKJK6121Z1A2V7G574Q\",\"01JC3TZPXCJMC6P88CHHD6PTZ9\"]}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"plan_revision_log\\\":{\\\"category\\\":\\\"Plan Revision Category\\\",\\\"comments\\\":\\\"Plan Revision comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"plan_number\\\":\\\"3plan#\\\",\\\"revision\\\":763892,\\\"title\\\":\\\"Plan Revision title\\\",\\\"vendor_id\\\":1120327,\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456,\\\"drawing_revision_ids\\\":[4,5],\\\"file_version_ids\\\":[6,7],\\\"form_ids\\\":[7,8],\\\"image_ids\\\":[9,10],\\\"upload_ids\\\":[\\\"4120226e-36a8-416f-970e-880bae78164f\\\",\\\"de07e35a-4860-4f96-acd8-8360833dc495\\\"],\\\"document_management_document_revision_ids\\\":[\\\"01JC3TZNKJK6121Z1A2V7G574Q\\\",\\\"01JC3TZPXCJMC6P88CHHD6PTZ9\\\"]}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     },
     {
      "id": "node_request",
      "mimeType": "multipart/form-data",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D',\n  headers: {'content-type': 'multipart/form-data; boundary=---011000010111000001101001'},\n  formData: {\n    plan_revision_log: '{\"category\":\"Plan Revision Category\",\"comments\":\"Plan Revision comments\",\"date\":\"2016-05-19\",\"plan_number\":\"3plan#\",\"revision\":763892,\"title\":\"Plan Revision title\",\"vendor_id\":1120327,\"location_id\":153252,\"daily_log_segment_id\":123456}',\n    attachments: '[\"<attachment.png>\"]'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "multipart/form-data",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"plan_revision_log\\\"\\r\\n\\r\\n{\\\"category\\\":\\\"Plan Revision Category\\\",\\\"comments\\\":\\\"Plan Revision comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"plan_number\\\":\\\"3plan#\\\",\\\"revision\\\":763892,\\\"title\\\":\\\"Plan Revision title\\\",\\\"vendor_id\\\":1120327,\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456}\\r\\n-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"attachments\\\"\\r\\n\\r\\n[\\\"<attachment.png>\\\"]\\r\\n-----011000010111000001101001--\\r\\n\"\n\nheaders = { 'content-type': \"multipart/form-data; boundary=---011000010111000001101001\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "multipart/form-data",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D \\\n  --header 'content-type: multipart/form-data' \\\n  --form 'plan_revision_log={\"category\":\"Plan Revision Category\",\"comments\":\"Plan Revision comments\",\"date\":\"2016-05-19\",\"plan_number\":\"3plan#\",\"revision\":763892,\"title\":\"Plan Revision title\",\"vendor_id\":1120327,\"location_id\":153252,\"daily_log_segment_id\":123456}' \\\n  --form 'attachments=[\"<attachment.png>\"]'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "multipart/form-data",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D\"),\n    Content = new MultipartFormDataContent\n    {\n        new StringContent(\"{\\\"category\\\":\\\"Plan Revision Category\\\",\\\"comments\\\":\\\"Plan Revision comments\\\",\\\"date\\\":\\\"2016-05-19\\\",\\\"plan_number\\\":\\\"3plan#\\\",\\\"revision\\\":763892,\\\"title\\\":\\\"Plan Revision title\\\",\\\"vendor_id\\\":1120327,\\\"location_id\\\":153252,\\\"daily_log_segment_id\\\":123456}\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"plan_revision_log\",\n                }\n            }\n        },\n        new StringContent(\"[\\\"<attachment.png>\\\"]\")\n        {\n            Headers =\n            {\n                ContentDisposition = new ContentDispositionHeaderValue(\"form-data\")\n                {\n                    Name = \"attachments\",\n                }\n            }\n        },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Replace Attachments by Reference",
      "description": "Replace existing attachments by image, drawing revision, file version, form, or direct upload ids.",
      "endpoint": "PATCH /projects/{project_id}/plan_revision_logs/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2024-07-31",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#update-plan-revision-log"
     },
     {
      "summary": "Add location_id as parameter to request body and return location in response for Plan Revision Logs update endpoint",
      "description": "Add location_id as parameter to request body and return location in response for Plan Revision Logs update endpoint.",
      "endpoint": "PATCH /projects/{project_id}/plan_revision_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#update-plan-revision-log"
     },
     {
      "summary": "Add vendor_id as parameter to request body and return vendor in response for Plan Revision Logs update endpoint",
      "description": "Add vendor_id as parameter to request body and return vendor in response for Plan Revision Logs update endpoint.",
      "endpoint": "PATCH /projects/{project_id}/plan_revision_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-01-16",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#update-plan-revision-log"
     },
     {
      "summary": "Allow removing location by passing location_id as null",
      "description": "Location can be removed by passing location_id as null",
      "endpoint": "PATCH /projects/{project_id}/plan_revision_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-09-03",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#update-plan-revision-log"
     },
     {
      "summary": "Add daily_log_segment_id to request body and response body for plan revision Logs update endpoint",
      "description": "Add daily_log_segment_id to request body and response body for plan revision Logs update endpoint.",
      "endpoint": "PATCH /projects/{project_id}/plan_revision_logs/{id}",
      "type": "feature",
      "breaking": false,
      "datestamp": "2025-08-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#update-plan-revision-log"
     },
     {
      "summary": "Add attachments parameters in JSON request body schema",
      "description": "Add attachments parameters in JSON request body schema.",
      "endpoint": "PATCH /projects/{project_id}/plan_revision_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-01-07",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#update-plan-revision-log"
     },
     {
      "summary": "Add daily_log_segment object to response body.",
      "description": "Add daily_log_segment object to response body.",
      "endpoint": "PATCH /projects/{project_id}/plan_revision_logs/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-02-20",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "plan-revision-logs?version=1.0#update-plan-revision-log"
     }
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete Plan Revision Log",
    "description": "Delete single Plan Revision Log.",
    "tags": [
     "Plan Revision Logs"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Can not delete due to errors",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "User does not have right permissions",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/plan_revision_logs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}