{
 "openapi": "3.0.0",
 "info": {
  "title": "Potential Points of Contact",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Potential Points of Contact",
  "version": "1.0",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/checklist/potential_points_of_contact": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Potential Points of Contact",
    "description": "Lists Potential Points of Contact in a specified Project.",
    "x-deprecated-at": "2022-02-08",
    "deprecated": true,
    "tags": [
     "Checklists (Inspections)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "query",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "vendor_id",
      "in": "query",
      "description": "Vendor ID",
      "required": false,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "title": "Array of Potential Points of Contact",
         "type": "array",
         "items": {
          "title": "Checklist Potential Point of Contact",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "User ID",
            "example": 160586
           },
           "name": {
            "type": "string",
            "description": "Name",
            "example": "Carl Contractor"
           },
           "name_with_vendor": {
            "type": "string",
            "description": "Name with Vendor",
            "example": "Carl Contractor (Anon Ymous Contractors)"
           },
           "job_title": {
            "type": "string",
            "description": "Job Title",
            "example": "Machinist"
           },
           "vendor": {
            "type": "object",
            "description": "Vendor",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Vendor ID",
              "example": 1614181
             },
             "name": {
              "type": "string",
              "description": "Vendor Name",
              "example": "Anon Ymous Contractors"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/checklist/potential_points_of_contact',\n  qs: {project_id: 'SOME_INTEGER_VALUE', vendor_id: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/checklist/potential_points_of_contact?project_id=SOME_INTEGER_VALUE&vendor_id=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/checklist/potential_points_of_contact?project_id=SOME_INTEGER_VALUE&vendor_id=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/checklist/potential_points_of_contact?project_id=SOME_INTEGER_VALUE&vendor_id=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "List Potential Points of Contact is deprecated",
      "description": "This endpoint is deprecated. `GET /rest/v1.1/projects/{project_id}/checklist/users`\ncan be used as a replacement.\n\nLink to relevant documentation - [List Inspection Users](https://developers.procore.com/reference/rest/v1/inspection-users?version=1.1)",
      "endpoint": "GET /checklist/potential_points_of_contact",
      "type": "deprecated",
      "breaking": false,
      "datestamp": "2022-02-08",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "potential-points-of-contact?version=1.0#list-potential-points-of-contact"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}