{
 "openapi": "3.1.0",
 "info": {
  "title": "Prime Contracts",
  "x-tool-category": "Prime Contracts",
  "x-product-category": "Construction Financials",
  "x-resource-name": "Prime Contracts",
  "version": "2.0",
  "x-product-lines": [
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/prime_contracts": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List Prime Contracts",
    "description": "Returns a list of Prime Contracts for a given project.",
    "tags": [
     "Prime Contracts"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies which view (which attributes) of the resource is going to be present in the response.  The extended view includes architect name, contractor name, vendor name and custom fields data, while the default view does not.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended"
       ]
      }
     },
     {
      "name": "filters[accounting_method]",
      "in": "query",
      "description": "Filter to unit or amount based contracts",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "unit",
        "amount"
       ]
      }
     },
     {
      "name": "filters[architect_id]",
      "in": "query",
      "description": "Return item(s) with the specified Architect ID(s). These are Login Information IDs.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer",
         "title": "exact"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "integer"
         },
         "example": "[123,456,789]"
        }
       ]
      }
     },
     {
      "name": "filters[contractor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Contractor ID(s). These are Vendor IDs.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer",
         "title": "exact"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "integer"
         },
         "example": "[1111,2222,3333]"
        }
       ]
      }
     },
     {
      "name": "filters[created_at]",
      "in": "query",
      "description": "Filter based on the created_at time.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "title": "exact",
         "format": "date-time"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "string",
          "format": "date-time"
         },
         "example": "[2020-01-01T00:00:00Z,2020-01-02T00:00:00Z,2020-01-03T00:00:00Z]"
        },
        {
         "type": "string",
         "title": "range",
         "example": "2020-01-01T00:00:00Z...2020-01-03T00:00:00Z"
        }
       ]
      }
     },
     {
      "name": "filters[deleted_at]",
      "in": "query",
      "description": "Filter based on the deleted_at time.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "title": "exact",
         "format": "date-time"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "string",
          "format": "date-time"
         },
         "example": "[2020-01-01T00:00:00Z,2020-01-02T00:00:00Z,2020-01-03T00:00:00Z]"
        },
        {
         "type": "string",
         "title": "range",
         "example": "2020-01-01T00:00:00Z...2020-01-03T00:00:00Z"
        }
       ]
      }
     },
     {
      "name": "filters[id]",
      "in": "query",
      "description": "Return item(s) with the specified ID(s).",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer",
         "title": "exact"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "integer"
         },
         "example": "[123,456,789]"
        }
       ]
      }
     },
     {
      "name": "filters[signature_required]",
      "in": "query",
      "description": "Filter based on whether a signature is required.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[status]",
      "in": "query",
      "description": "Filter to specific statuses.\nFor Work Order Contracts: Draft, Out For Bid, Out For Signature, Approved, Complete, Terminated, Void. \nFor Purchase Order Contracts: Draft, Processing, Submitted, Partially Received, Received, Approved, Closed.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "title": "exact"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "string"
         },
         "example": "[Draft,Approved]"
        }
       ]
      }
     },
     {
      "name": "filters[updated_at]",
      "in": "query",
      "description": "Filter based on the updated_at time.",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "string",
         "title": "exact",
         "format": "date-time"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "string",
          "format": "date-time"
         },
         "example": "[2020-01-01T00:00:00Z,2020-01-02T00:00:00Z,2020-01-03T00:00:00Z]"
        },
        {
         "type": "string",
         "title": "range",
         "example": "2020-01-01T00:00:00Z...2020-01-03T00:00:00Z"
        }
       ]
      }
     },
     {
      "name": "filters[vendor_id]",
      "in": "query",
      "description": "Return item(s) with the specified Vendor ID(s).",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer",
         "title": "exact"
        },
        {
         "type": "array",
         "title": "any of",
         "items": {
          "type": "integer"
         },
         "example": "[123,456,789]"
        }
       ]
      }
     },
     {
      "name": "filters[executed]",
      "in": "query",
      "description": "Filter based on whether a contract is executed.",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "oneOf": [
            {
             "type": "array",
             "title": "default",
             "description": "Array of prime contracts",
             "items": {
              "title": "default",
              "type": "object",
              "description": "Prime Contract (when the 'default' view is requested)",
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Prime Contract ID",
                  "example": "123"
                 },
                 "type": {
                  "type": "string",
                  "enum": [
                   "PrimeContract"
                  ],
                  "description": "Type of the prime contract",
                  "example": "PrimeContract"
                 },
                 "number": {
                  "type": "string",
                  "description": "Number",
                  "example": "ABC-456"
                 },
                 "status": {
                  "type": "string",
                  "description": "Status",
                  "example": "Approved"
                 },
                 "executed": {
                  "type": "boolean",
                  "description": "Executed status",
                  "example": true
                 },
                 "title": {
                  "type": "string",
                  "description": "Title",
                  "example": "ABC Contract"
                 },
                 "description": {
                  "type": "string",
                  "description": "Description",
                  "example": "<p>Yep, do it.</p>"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at",
                  "example": "2016-08-04T13:44:10Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated at",
                  "example": "2016-08-05T19:36:12Z"
                 },
                 "grand_total": {
                  "type": "string",
                  "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                  "example": "-12345.6789",
                  "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                 },
                 "private": {
                  "type": "boolean",
                  "description": "When private, a contract is only visible to the creator and the assigned accessors.\n",
                  "example": false
                 },
                 "currency_configuration": {
                  "type": "object",
                  "allOf": [
                   {
                    "properties": {
                     "base_currency_iso_code": {
                      "type": "string",
                      "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                      "example": "USD",
                      "nullable": true
                     },
                     "currency_iso_code": {
                      "type": "string",
                      "description": "Currency ISO Code configured for the financial entity",
                      "example": "EUR",
                      "nullable": true
                     }
                    }
                   },
                   {
                    "type": "object",
                    "properties": {
                     "currency_exchange_rate": {
                      "type": "string",
                      "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                      "example": "-12345.6789",
                      "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n",
                      "nullable": true
                     }
                    }
                   }
                  ]
                 },
                 "created_by": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "User ID",
                    "example": "123"
                   },
                   "name": {
                    "type": "string",
                    "description": "User name",
                    "example": "Creator Name"
                   }
                  }
                 },
                 "accounting_method": {
                  "type": "string",
                  "enum": [
                   "amount",
                   "unit"
                  ],
                  "example": "amount"
                 },
                 "allow_comments": {
                  "type": "boolean",
                  "example": false
                 },
                 "allow_markups": {
                  "type": "boolean",
                  "example": true
                 },
                 "change_order_level_of_detail": {
                  "type": "string",
                  "enum": [
                   "change_order_package",
                   "change_order_request",
                   "potential_change_order",
                   "line_item"
                  ],
                  "example": "line_item"
                 },
                 "enable_ssov": {
                  "type": "boolean",
                  "example": true
                 },
                 "allow_payment_applications": {
                  "type": "boolean",
                  "example": true
                 },
                 "allow_payments": {
                  "type": "boolean",
                  "example": true
                 },
                 "retainage_percent": {
                  "type": "number",
                  "example": "5.0"
                 },
                 "display_materials_retainage": {
                  "type": "boolean",
                  "example": true
                 },
                 "display_work_retainage": {
                  "type": "boolean",
                  "example": true
                 },
                 "show_cost_code_on_pdf": {
                  "type": "boolean",
                  "example": true
                 },
                 "actual_completion_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "approval_letter_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "auto_approve_prefilled_requisitions_on_payapp": {
                  "type": "boolean",
                  "example": true
                 },
                 "contract_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "contract_estimated_completion_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "contract_termination_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "contract_start_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "delivery_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "exclusions": {
                  "type": "string",
                  "example": "<p>Exclusions</p>"
                 },
                 "execution_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "inclusions": {
                  "type": "string",
                  "example": "<p>Inclusions</p>"
                 },
                 "issued_on_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "letter_of_intent_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "returned_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "signed_contract_received_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "substantial_completion_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "show_line_items_to_non_admins": {
                  "type": "boolean",
                  "example": false
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "architect": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Architect ID",
                    "example": "123"
                   }
                  }
                 },
                 "contractor": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Contractor ID",
                    "example": "123"
                   }
                  }
                 },
                 "vendor": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Vendor ID",
                    "example": "123"
                   }
                  }
                 }
                }
               }
              ]
             }
            },
            {
             "type": "array",
             "title": "extended",
             "description": "Array of prime contracts",
             "items": {
              "title": "extended",
              "type": "object",
              "description": "Prime Contract (when the 'extended' view is requested)",
              "allOf": [
               {
                "type": "object",
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "Prime Contract ID",
                  "example": "123"
                 },
                 "type": {
                  "type": "string",
                  "enum": [
                   "PrimeContract"
                  ],
                  "description": "Type of the prime contract",
                  "example": "PrimeContract"
                 },
                 "number": {
                  "type": "string",
                  "description": "Number",
                  "example": "ABC-456"
                 },
                 "status": {
                  "type": "string",
                  "description": "Status",
                  "example": "Approved"
                 },
                 "executed": {
                  "type": "boolean",
                  "description": "Executed status",
                  "example": true
                 },
                 "title": {
                  "type": "string",
                  "description": "Title",
                  "example": "ABC Contract"
                 },
                 "description": {
                  "type": "string",
                  "description": "Description",
                  "example": "<p>Yep, do it.</p>"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at",
                  "example": "2016-08-04T13:44:10Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated at",
                  "example": "2016-08-05T19:36:12Z"
                 },
                 "grand_total": {
                  "type": "string",
                  "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                  "example": "-12345.6789",
                  "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                 },
                 "private": {
                  "type": "boolean",
                  "description": "When private, a contract is only visible to the creator and the assigned accessors.\n",
                  "example": false
                 },
                 "currency_configuration": {
                  "type": "object",
                  "allOf": [
                   {
                    "properties": {
                     "base_currency_iso_code": {
                      "type": "string",
                      "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                      "example": "USD",
                      "nullable": true
                     },
                     "currency_iso_code": {
                      "type": "string",
                      "description": "Currency ISO Code configured for the financial entity",
                      "example": "EUR",
                      "nullable": true
                     }
                    }
                   },
                   {
                    "type": "object",
                    "properties": {
                     "currency_exchange_rate": {
                      "type": "string",
                      "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                      "example": "-12345.6789",
                      "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n",
                      "nullable": true
                     }
                    }
                   }
                  ]
                 },
                 "created_by": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "User ID",
                    "example": "123"
                   },
                   "name": {
                    "type": "string",
                    "description": "User name",
                    "example": "Creator Name"
                   }
                  }
                 },
                 "accounting_method": {
                  "type": "string",
                  "enum": [
                   "amount",
                   "unit"
                  ],
                  "example": "amount"
                 },
                 "allow_comments": {
                  "type": "boolean",
                  "example": false
                 },
                 "allow_markups": {
                  "type": "boolean",
                  "example": true
                 },
                 "change_order_level_of_detail": {
                  "type": "string",
                  "enum": [
                   "change_order_package",
                   "change_order_request",
                   "potential_change_order",
                   "line_item"
                  ],
                  "example": "line_item"
                 },
                 "enable_ssov": {
                  "type": "boolean",
                  "example": true
                 },
                 "allow_payment_applications": {
                  "type": "boolean",
                  "example": true
                 },
                 "allow_payments": {
                  "type": "boolean",
                  "example": true
                 },
                 "retainage_percent": {
                  "type": "number",
                  "example": "5.0"
                 },
                 "display_materials_retainage": {
                  "type": "boolean",
                  "example": true
                 },
                 "display_work_retainage": {
                  "type": "boolean",
                  "example": true
                 },
                 "show_cost_code_on_pdf": {
                  "type": "boolean",
                  "example": true
                 },
                 "actual_completion_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "approval_letter_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "auto_approve_prefilled_requisitions_on_payapp": {
                  "type": "boolean",
                  "example": true
                 },
                 "contract_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "contract_estimated_completion_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "contract_termination_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "contract_start_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "delivery_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "exclusions": {
                  "type": "string",
                  "example": "<p>Exclusions</p>"
                 },
                 "execution_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "inclusions": {
                  "type": "string",
                  "example": "<p>Inclusions</p>"
                 },
                 "issued_on_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "letter_of_intent_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "returned_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "signed_contract_received_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "substantial_completion_date": {
                  "type": "string",
                  "format": "date",
                  "example": "2016-08-04"
                 },
                 "show_line_items_to_non_admins": {
                  "type": "boolean",
                  "example": false
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "custom_fields": {
                  "type": "object",
                  "properties": {
                   "custom_field_%{custom_field_string_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "string"
                     },
                     "value": {
                      "type": "string",
                      "description": "The value of the custom field.",
                      "example": "custom field value"
                     }
                    }
                   },
                   "custom_field_%{custom_field_decimal_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "decimal"
                     },
                     "value": {
                      "type": "number",
                      "description": "The value of the custom field.",
                      "example": 2.2
                     }
                    }
                   },
                   "custom_field_%{custom_field_boolean_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "boolean"
                     },
                     "value": {
                      "type": "boolean",
                      "description": "The value of the custom field.",
                      "example": true
                     }
                    }
                   },
                   "custom_field_%{custom_field_lov_entry_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "lov_entry"
                     },
                     "value": {
                      "type": "object",
                      "properties": {
                       "id": {
                        "type": "string",
                        "description": "The unique identifier of the list of values (LOV) entry.",
                        "example": "1"
                       },
                       "label": {
                        "type": "string",
                        "description": "Label of the list of values (LOV) entry.",
                        "example": "Open"
                       }
                      }
                     }
                    }
                   },
                   "custom_field_%{custom_field_lov_entries_definition_id}": {
                    "type": "object",
                    "properties": {
                     "data_type": {
                      "type": "string",
                      "description": "The data type of the Custom Field Definition.",
                      "example": "lov_entries"
                     },
                     "value": {
                      "type": "array",
                      "items": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "string",
                         "description": "The unique identifier of the list of values (LOV) entry.",
                         "example": "2"
                        },
                        "label": {
                         "type": "string",
                         "description": "The label of the list of values (LOV) entry.",
                         "example": "Open"
                        }
                       }
                      }
                     }
                    }
                   }
                  }
                 },
                 "architect": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Architect ID",
                    "example": "123"
                   },
                   "name": {
                    "type": "string",
                    "description": "Architect Name",
                    "example": "Smith"
                   }
                  }
                 },
                 "contractor": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Contractor ID",
                    "example": "123"
                   },
                   "name": {
                    "type": "string",
                    "description": "Contractor Name",
                    "example": "Smith"
                   }
                  }
                 },
                 "vendor": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Vendor ID",
                    "example": "123"
                   },
                   "name": {
                    "type": "string",
                    "description": "Vendor Name",
                    "example": "Smith"
                   }
                  }
                 },
                 "external_data": {
                  "type": "object",
                  "description": "External Data",
                  "properties": {
                   "origin_id": {
                    "type": "string",
                    "nullable": true,
                    "example": "123"
                   },
                   "origin_code": {
                    "type": "string",
                    "nullable": true,
                    "example": "ABC"
                   },
                   "origin_data": {
                    "type": "string",
                    "nullable": true,
                    "example": "ABC"
                   }
                  }
                 },
                 "total_tax_amount": {
                  "type": "string",
                  "description": "Total tax on the contract, aggregated from its line-item tax details, in the contract's currency. Reflects contract-level tax only (not change orders). Decimal encoded as a string.",
                  "example": "150.0"
                 }
                }
               }
              ]
             }
            },
            {
             "type": "array",
             "title": "ids_only",
             "description": "Array of prime contracts",
             "items": {
              "title": "ids_only",
              "type": "object",
              "description": "Prime Contract (when the 'ids_only' view is requested)",
              "properties": {
               "id": {
                "type": "string",
                "description": "Prime Contract ID",
                "example": "123"
               }
              }
             }
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added external_data object to response",
      "description": "Added the \"external_data\" object to the extended view response payload. This object contains the following fields: - origin_id: string - origin_code: string - origin_data: string",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/prime_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-31",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "prime-contracts?version=2.0#list-prime-contracts"
     },
     {
      "summary": "Added new filters options",
      "description": "Added the ability to filter on the following attributes:\n  - accounting_method\n  - architect_id\n  - contractor_id\n  - created_at\n  - id\n  - signature_required\n  - status\n  - updated_at\n  - vendor_id",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/prime_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-02-25",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "prime-contracts?version=2.0#list-prime-contracts"
     },
     {
      "summary": "Added created_by name field to response",
      "description": "Added created_by name field to response",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/prime_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-10-27",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "prime-contracts?version=2.0#list-prime-contracts"
     },
     {
      "summary": "Added ids_only view to the endpoint",
      "description": "Added the ids_only view to the endpoint. This view returns only the id field.",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/prime_contracts",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2025-11-23",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "prime-contracts?version=2.0#list-prime-contracts"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Create Prime Contract",
    "description": "Creates a new Prime Contract for a given project.",
    "tags": [
     "Prime Contracts"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "view",
      "in": "query",
      "required": false,
      "description": "Specifies which view (which attributes) of the resource is going to be present in the response.  The extended view includes architect name, contractor name, vendor name and custom fields data, while the default view does not.",
      "schema": {
       "type": "string",
       "enum": [
        "default",
        "extended"
       ]
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "number": {
          "type": "string",
          "description": "The Prime Contract number. Defaults to the project numbering sequence for the respective contract type.\n",
          "example": "SC-001"
         },
         "status": {
          "type": "string",
          "description": "The Prime Contract status.",
          "example": "Approved"
         },
         "title": {
          "type": "string",
          "description": "The Prime Contract title.",
          "example": "ABC Contract"
         },
         "description": {
          "type": "string",
          "description": "The Prime Contract description.",
          "example": "<p>Yep, do it.</p>"
         },
         "executed": {
          "type": "boolean",
          "description": "The Prime Contract executed status.",
          "example": true,
          "default": false
         },
         "vendor_id": {
          "type": "string",
          "description": "The ID of the vendor for the contract. The selected invoice contacts must all belong to this vendor. When the vendor is changed, the invoice contacts are reset.\n",
          "example": "161072"
         },
         "architect_id": {
          "type": "string",
          "description": "The ID of the architect for the contract.\n",
          "example": "161072"
         },
         "contractor_id": {
          "type": "string",
          "description": "The ID of the contractor for the contract.\n",
          "example": "161072"
         },
         "inclusions": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts. The inclusions of the Prime Contract.\n",
          "example": "<p>Stairs, Elevator platform</p>"
         },
         "exclusions": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts. The exclusions of the Prime Contract.\n",
          "example": "<p>Stairs, Elevator platform</p>"
         },
         "accounting_method": {
          "type": "string",
          "description": "The accounting method for the contract. Default is driven by a project setting.\n",
          "example": "amount",
          "enum": [
           "amount",
           "unit"
          ]
         },
         "allow_comments": {
          "type": "boolean",
          "description": "If true, comments are allowed on the Prime Contract; otherwise comments are not allowed. Default is driven by a project setting.\n",
          "example": true
         },
         "auto_approve_prefilled_requisitions_on_payapp": {
          "type": "boolean",
          "description": "If true, prefilled requisitions are auto-approved on payment applications; otherwise prefilled requisitions are not auto-approved. Default is driven by a project setting.\n",
          "example": true
         },
         "allow_markups": {
          "type": "boolean",
          "description": "If true, markups are allowed on the Prime Contract; otherwise markups are not allowed. Default is driven by a project setting.\n",
          "example": false
         },
         "change_order_level_of_detail": {
          "type": "string",
          "enum": [
           "change_order_package",
           "change_order_request",
           "potential_change_order",
           "line_item"
          ],
          "description": "The level of details for showing change orders on invoices attached to this contract.\n",
          "example": "line_item"
         },
         "enable_ssov": {
          "type": "boolean",
          "description": "If true, the subcontractor schedule of values (SSOV) is enabled for the Prime Contract; otherwise the SSOV is not enabled. Default is driven by a project setting.\n",
          "example": true
         },
         "allow_payment_applications": {
          "type": "boolean",
          "description": "If true, invoices are allowed on the Prime Contract; otherwise invoices are not allowed. Default is driven by a project setting.\n",
          "example": true
         },
         "allow_payments": {
          "type": "boolean",
          "description": "If true, payments are allowed on the Prime Contract; otherwise payments are not allowed. Default is driven by a project setting.\n",
          "example": true
         },
         "display_materials_retainage": {
          "type": "boolean",
          "description": "If true, materials retainage is displayed on the Prime Contract; otherwise materials retainage is not displayed. Default is driven by a project setting.\n",
          "example": true
         },
         "display_work_retainage": {
          "type": "boolean",
          "description": "If true, work retainage is displayed on the Prime Contract; otherwise work retainage is not displayed. Default is driven by a project setting.\n",
          "example": true
         },
         "show_cost_code_on_pdf": {
          "type": "boolean",
          "description": "If true, cost codes are displayed on the Prime Contract PDF; otherwise cost codes are not displayed. Default is driven by a project setting.\n",
          "example": true
         },
         "accessor_ids": {
          "type": "array",
          "description": "Only applicable to private contracts. IDs of users in the project directory (see the Project Users endpoint). These users will be able to view the commitment contract.\n",
          "items": {
           "type": "string",
           "example": "123"
          },
          "example": [
           "123",
           "456"
          ]
         },
         "private": {
          "type": "boolean",
          "description": "If true, visible to admins and accessors only; otherwise visible to those with access to the Primes tool. Default based on project level setting.\n",
          "example": true,
          "default": true
         },
         "show_line_items_to_non_admins": {
          "type": "boolean",
          "description": "Only applicable to private contracts. If true, line items are visible to non-admins; otherwise visible to admins only.\n",
          "example": true,
          "default": false
         },
         "signature_required": {
          "type": "boolean",
          "description": "If true, a signature is required to execute the contract; otherwise no signature is required.\n",
          "example": true,
          "default": false
         },
         "actual_completion_date": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts.",
          "format": "date",
          "example": "2016-08-04"
         },
         "approval_letter_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "contract_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "contract_estimated_completion_date": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts.",
          "format": "date",
          "example": "2016-08-04"
         },
         "contract_start_date": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts.",
          "format": "date",
          "example": "2016-08-04"
         },
         "execution_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "issued_on_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "letter_of_intent_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "returned_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "signed_contract_received_date": {
          "type": "string",
          "format": "date",
          "example": "2016-08-04"
         },
         "substantial_completion_date": {
          "type": "string",
          "description": "Only applicable to Work Order Contracts.",
          "format": "date",
          "example": "2016-08-04"
         },
         "currency_exchange_rate": {
          "type": "string",
          "description": "Exchange Rate from Contract Currency to Project Currency; It'll be accepted only when multicurrency phase two feature flag is enabled and user has the granular permission to edit the contract exchange rate.",
          "example": "1.5"
         },
         "currency_iso_code": {
          "type": "string",
          "description": "Currency ISO code; It'll be accepted only when multicurrency phase two feature flag is enabled.",
          "example": "USD"
         },
         "custom_field_%{custom_field_definition_id}": {
          "description": "Value of the custom field. The data type of the value passed in corresponds with the data_type of the Custom Field Definition.\nFor a lov_entry data_type the value passed in should be the ID of one of the Custom Field Definition's LOV Entries. For a lov_entries data_type the value passed in should be an array of IDs of the Custom Field Definition's LOV Entries.",
          "example": "custom field value",
          "oneOf": [
           {
            "type": "string",
            "title": "string",
            "example": "my value"
           },
           {
            "type": "boolean",
            "title": "boolean",
            "example": true
           },
           {
            "type": "array",
            "title": "array",
            "items": {
             "type": "string"
            },
            "example": [
             "1",
             "2"
            ]
           }
          ]
         },
         "change_event_attachment_ids": {
          "type": "array",
          "description": "List of attachment IDs to attach. These must presently be associated with Change Events.",
          "items": {
           "type": "integer"
          },
          "example": [
           55,
           66,
           77
          ]
         },
         "request_for_quote_attachment_ids": {
          "type": "array",
          "description": "List of attachment IDs to attach. These must presently be associated with Request For Quotes (or their Quotes / Responses).",
          "items": {
           "type": "integer"
          },
          "example": [
           55,
           66,
           77
          ]
         },
         "attachment_ids": {
          "type": "array",
          "description": "The current attachments to the item. Values should be omitted to remove attachments. New files cannot be attached via this param. If the key is omitted, the existing attachments will remain unchanged.\n",
          "items": {
           "type": "string"
          },
          "example": [
           "1",
           "2"
          ]
         },
         "drawing_revision_ids": {
          "type": "array",
          "description": "Drawing Revisions to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "3",
           "4"
          ]
         },
         "file_version_ids": {
          "type": "array",
          "description": "File Versions to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "5",
           "6"
          ]
         },
         "form_ids": {
          "type": "array",
          "description": "Forms to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "7",
           "8"
          ]
         },
         "image_ids": {
          "type": "array",
          "description": "Images to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "9",
           "10"
          ]
         },
         "upload_ids": {
          "type": "array",
          "description": "Uploads to attach to the response",
          "items": {
           "type": "string"
          },
          "example": [
           "01J15GF28TDQ2X20RNRJ5DDX27",
           "01J15GFDKQ4TDRBQPZ2M6E9H44"
          ]
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "oneOf": [
            {
             "title": "default",
             "description": "Prime Contract Object",
             "type": "object",
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Prime Contract ID",
                 "example": "123"
                },
                "type": {
                 "type": "string",
                 "enum": [
                  "PrimeContract"
                 ],
                 "description": "Type of the prime contract",
                 "example": "PrimeContract"
                },
                "number": {
                 "type": "string",
                 "description": "Number",
                 "example": "ABC-456"
                },
                "status": {
                 "type": "string",
                 "description": "Status",
                 "example": "Approved"
                },
                "executed": {
                 "type": "boolean",
                 "description": "Executed status",
                 "example": true
                },
                "title": {
                 "type": "string",
                 "description": "Title",
                 "example": "ABC Contract"
                },
                "description": {
                 "type": "string",
                 "description": "Description",
                 "example": "<p>Yep, do it.</p>"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2016-08-04T13:44:10Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated at",
                 "example": "2016-08-05T19:36:12Z"
                },
                "grand_total": {
                 "type": "string",
                 "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                 "example": "-12345.6789",
                 "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                },
                "private": {
                 "type": "boolean",
                 "description": "When private, a contract is only visible to the creator and the assigned accessors.\n",
                 "example": false
                },
                "currency_configuration": {
                 "type": "object",
                 "allOf": [
                  {
                   "properties": {
                    "base_currency_iso_code": {
                     "type": "string",
                     "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                     "example": "USD",
                     "nullable": true
                    },
                    "currency_iso_code": {
                     "type": "string",
                     "description": "Currency ISO Code configured for the financial entity",
                     "example": "EUR",
                     "nullable": true
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "currency_exchange_rate": {
                     "type": "string",
                     "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                     "example": "-12345.6789",
                     "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n",
                     "nullable": true
                    }
                   }
                  }
                 ]
                },
                "created_by": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "User ID",
                   "example": "123"
                  },
                  "name": {
                   "type": "string",
                   "description": "User name",
                   "example": "Creator Name"
                  }
                 }
                },
                "accounting_method": {
                 "type": "string",
                 "enum": [
                  "amount",
                  "unit"
                 ],
                 "example": "amount"
                },
                "allow_comments": {
                 "type": "boolean",
                 "example": false
                },
                "allow_markups": {
                 "type": "boolean",
                 "example": true
                },
                "change_order_level_of_detail": {
                 "type": "string",
                 "enum": [
                  "change_order_package",
                  "change_order_request",
                  "potential_change_order",
                  "line_item"
                 ],
                 "example": "line_item"
                },
                "enable_ssov": {
                 "type": "boolean",
                 "example": true
                },
                "allow_payment_applications": {
                 "type": "boolean",
                 "example": true
                },
                "allow_payments": {
                 "type": "boolean",
                 "example": true
                },
                "retainage_percent": {
                 "type": "number",
                 "example": "5.0"
                },
                "display_materials_retainage": {
                 "type": "boolean",
                 "example": true
                },
                "display_work_retainage": {
                 "type": "boolean",
                 "example": true
                },
                "show_cost_code_on_pdf": {
                 "type": "boolean",
                 "example": true
                },
                "actual_completion_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "approval_letter_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "auto_approve_prefilled_requisitions_on_payapp": {
                 "type": "boolean",
                 "example": true
                },
                "contract_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "contract_estimated_completion_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "contract_termination_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "contract_start_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "delivery_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "exclusions": {
                 "type": "string",
                 "example": "<p>Exclusions</p>"
                },
                "execution_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "inclusions": {
                 "type": "string",
                 "example": "<p>Inclusions</p>"
                },
                "issued_on_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "letter_of_intent_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "returned_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "signed_contract_received_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "substantial_completion_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "show_line_items_to_non_admins": {
                 "type": "boolean",
                 "example": false
                }
               },
               "title": "default"
              },
              {
               "type": "object",
               "properties": {
                "accessor_ids": {
                 "type": "array",
                 "description": "Only applicable to private contracts. IDs of users in the project directory (see the Project Users endpoint). These users will be able to view the commitment contract.",
                 "items": {
                  "type": "integer",
                  "example": 123
                 }
                },
                "architect": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Architect ID",
                   "example": "123"
                  }
                 }
                },
                "contractor": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Contractor ID",
                   "example": "123"
                  }
                 }
                },
                "prostore_file_ids": {
                 "type": "array",
                 "description": "List of Prostore file IDs",
                 "items": {
                  "type": "integer",
                  "example": 123
                 }
                },
                "vendor": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Vendor ID",
                   "example": "123"
                  }
                 }
                },
                "signature_required": {
                 "type": "boolean",
                 "description": "If true, a signature is required to execute the contract; otherwise no signature is required.\n",
                 "example": true
                }
               }
              }
             ]
            },
            {
             "title": "extended",
             "description": "Prime Contract Object",
             "type": "object",
             "allOf": [
              {
               "type": "object",
               "properties": {
                "id": {
                 "type": "string",
                 "description": "Prime Contract ID",
                 "example": "123"
                },
                "type": {
                 "type": "string",
                 "enum": [
                  "PrimeContract"
                 ],
                 "description": "Type of the prime contract",
                 "example": "PrimeContract"
                },
                "number": {
                 "type": "string",
                 "description": "Number",
                 "example": "ABC-456"
                },
                "status": {
                 "type": "string",
                 "description": "Status",
                 "example": "Approved"
                },
                "executed": {
                 "type": "boolean",
                 "description": "Executed status",
                 "example": true
                },
                "title": {
                 "type": "string",
                 "description": "Title",
                 "example": "ABC Contract"
                },
                "description": {
                 "type": "string",
                 "description": "Description",
                 "example": "<p>Yep, do it.</p>"
                },
                "created_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Created at",
                 "example": "2016-08-04T13:44:10Z"
                },
                "updated_at": {
                 "type": "string",
                 "format": "date-time",
                 "description": "Updated at",
                 "example": "2016-08-05T19:36:12Z"
                },
                "grand_total": {
                 "type": "string",
                 "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                 "example": "-12345.6789",
                 "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n"
                },
                "private": {
                 "type": "boolean",
                 "description": "When private, a contract is only visible to the creator and the assigned accessors.\n",
                 "example": false
                },
                "currency_configuration": {
                 "type": "object",
                 "allOf": [
                  {
                   "properties": {
                    "base_currency_iso_code": {
                     "type": "string",
                     "description": "Base Currency ISO Code configured from project level; It'll be populated only when multicurrency phase two feature flag is enabled",
                     "example": "USD",
                     "nullable": true
                    },
                    "currency_iso_code": {
                     "type": "string",
                     "description": "Currency ISO Code configured for the financial entity",
                     "example": "EUR",
                     "nullable": true
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "currency_exchange_rate": {
                     "type": "string",
                     "pattern": "^[-+]?[0-9]*\\.?[0-9]+$",
                     "example": "-12345.6789",
                     "description": "An \"unformatted\" decimal number. Specifically a number with a period as the decimal separator, without a thousands separator, and with an optional sign. It should be assumed that this number includes arbitrary precision and scale, however, the API may not store or process the number with infinite precision and scale.\n",
                     "nullable": true
                    }
                   }
                  }
                 ]
                },
                "created_by": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "User ID",
                   "example": "123"
                  },
                  "name": {
                   "type": "string",
                   "description": "User name",
                   "example": "Creator Name"
                  }
                 }
                },
                "accounting_method": {
                 "type": "string",
                 "enum": [
                  "amount",
                  "unit"
                 ],
                 "example": "amount"
                },
                "allow_comments": {
                 "type": "boolean",
                 "example": false
                },
                "allow_markups": {
                 "type": "boolean",
                 "example": true
                },
                "change_order_level_of_detail": {
                 "type": "string",
                 "enum": [
                  "change_order_package",
                  "change_order_request",
                  "potential_change_order",
                  "line_item"
                 ],
                 "example": "line_item"
                },
                "enable_ssov": {
                 "type": "boolean",
                 "example": true
                },
                "allow_payment_applications": {
                 "type": "boolean",
                 "example": true
                },
                "allow_payments": {
                 "type": "boolean",
                 "example": true
                },
                "retainage_percent": {
                 "type": "number",
                 "example": "5.0"
                },
                "display_materials_retainage": {
                 "type": "boolean",
                 "example": true
                },
                "display_work_retainage": {
                 "type": "boolean",
                 "example": true
                },
                "show_cost_code_on_pdf": {
                 "type": "boolean",
                 "example": true
                },
                "actual_completion_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "approval_letter_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "auto_approve_prefilled_requisitions_on_payapp": {
                 "type": "boolean",
                 "example": true
                },
                "contract_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "contract_estimated_completion_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "contract_termination_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "contract_start_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "delivery_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "exclusions": {
                 "type": "string",
                 "example": "<p>Exclusions</p>"
                },
                "execution_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "inclusions": {
                 "type": "string",
                 "example": "<p>Inclusions</p>"
                },
                "issued_on_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "letter_of_intent_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "returned_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "signed_contract_received_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "substantial_completion_date": {
                 "type": "string",
                 "format": "date",
                 "example": "2016-08-04"
                },
                "show_line_items_to_non_admins": {
                 "type": "boolean",
                 "example": false
                }
               },
               "title": "default"
              },
              {
               "type": "object",
               "properties": {
                "custom_fields": {
                 "type": "object",
                 "properties": {
                  "custom_field_%{custom_field_string_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "string"
                    },
                    "value": {
                     "type": "string",
                     "description": "The value of the custom field.",
                     "example": "custom field value"
                    }
                   }
                  },
                  "custom_field_%{custom_field_decimal_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "decimal"
                    },
                    "value": {
                     "type": "number",
                     "description": "The value of the custom field.",
                     "example": 2.2
                    }
                   }
                  },
                  "custom_field_%{custom_field_boolean_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "boolean"
                    },
                    "value": {
                     "type": "boolean",
                     "description": "The value of the custom field.",
                     "example": true
                    }
                   }
                  },
                  "custom_field_%{custom_field_lov_entry_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "lov_entry"
                    },
                    "value": {
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "string",
                       "description": "The unique identifier of the list of values (LOV) entry.",
                       "example": "1"
                      },
                      "label": {
                       "type": "string",
                       "description": "Label of the list of values (LOV) entry.",
                       "example": "Open"
                      }
                     }
                    }
                   }
                  },
                  "custom_field_%{custom_field_lov_entries_definition_id}": {
                   "type": "object",
                   "properties": {
                    "data_type": {
                     "type": "string",
                     "description": "The data type of the Custom Field Definition.",
                     "example": "lov_entries"
                    },
                    "value": {
                     "type": "array",
                     "items": {
                      "type": "object",
                      "properties": {
                       "id": {
                        "type": "string",
                        "description": "The unique identifier of the list of values (LOV) entry.",
                        "example": "2"
                       },
                       "label": {
                        "type": "string",
                        "description": "The label of the list of values (LOV) entry.",
                        "example": "Open"
                       }
                      }
                     }
                    }
                   }
                  }
                 }
                },
                "architect": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Architect ID",
                   "example": "123"
                  },
                  "name": {
                   "type": "string",
                   "description": "Architect Name",
                   "example": "Smith"
                  }
                 }
                },
                "contractor": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Contractor ID",
                   "example": "123"
                  },
                  "name": {
                   "type": "string",
                   "description": "Contractor Name",
                   "example": "Smith"
                  }
                 }
                },
                "prostore_file_ids": {
                 "type": "array",
                 "description": "List of Prostore file IDs",
                 "items": {
                  "type": "integer",
                  "example": 123
                 }
                },
                "vendor": {
                 "type": "object",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Vendor ID",
                   "example": "123"
                  },
                  "name": {
                   "type": "string",
                   "description": "Vendor Name",
                   "example": "Smith"
                  }
                 }
                },
                "external_data": {
                 "type": "object",
                 "description": "External Data",
                 "properties": {
                  "origin_id": {
                   "type": "string",
                   "nullable": true,
                   "example": "123"
                  },
                  "origin_code": {
                   "type": "string",
                   "nullable": true,
                   "example": "ABC"
                  },
                  "origin_data": {
                   "type": "string",
                   "nullable": true,
                   "example": "ABC"
                  }
                 }
                },
                "signature_required": {
                 "type": "boolean",
                 "description": "If true, a signature is required to execute the contract; otherwise no signature is required.\n",
                 "example": true
                },
                "total_tax_amount": {
                 "type": "string",
                 "description": "Total tax on the contract, aggregated from its line-item tax details, in the contract's currency. Reflects contract-level tax only (not change orders). Decimal encoded as a string.",
                 "example": "150.0"
                }
               }
              }
             ]
            }
           ]
          }
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/prime_contracts',\n  qs: {view: 'SOME_STRING_VALUE'},\n  headers: {'content-type': 'application/json'},\n  body: {\n    number: 'SC-001',\n    status: 'Approved',\n    title: 'ABC Contract',\n    description: '<p>Yep, do it.</p>',\n    executed: true,\n    vendor_id: '161072',\n    architect_id: '161072',\n    contractor_id: '161072',\n    inclusions: '<p>Stairs, Elevator platform</p>',\n    exclusions: '<p>Stairs, Elevator platform</p>',\n    accounting_method: 'amount',\n    allow_comments: true,\n    auto_approve_prefilled_requisitions_on_payapp: true,\n    allow_markups: false,\n    change_order_level_of_detail: 'line_item',\n    enable_ssov: true,\n    allow_payment_applications: true,\n    allow_payments: true,\n    display_materials_retainage: true,\n    display_work_retainage: true,\n    show_cost_code_on_pdf: true,\n    accessor_ids: ['123', '456'],\n    private: true,\n    show_line_items_to_non_admins: true,\n    signature_required: true,\n    actual_completion_date: '2016-08-04',\n    approval_letter_date: '2016-08-04',\n    contract_date: '2016-08-04',\n    contract_estimated_completion_date: '2016-08-04',\n    contract_start_date: '2016-08-04',\n    execution_date: '2016-08-04',\n    issued_on_date: '2016-08-04',\n    letter_of_intent_date: '2016-08-04',\n    returned_date: '2016-08-04',\n    signed_contract_received_date: '2016-08-04',\n    substantial_completion_date: '2016-08-04',\n    currency_exchange_rate: '1.5',\n    currency_iso_code: 'USD',\n    'custom_field_%{custom_field_definition_id}': 'custom field value',\n    change_event_attachment_ids: [55, 66, 77],\n    request_for_quote_attachment_ids: [55, 66, 77],\n    attachment_ids: ['1', '2'],\n    drawing_revision_ids: ['3', '4'],\n    file_version_ids: ['5', '6'],\n    form_ids: ['7', '8'],\n    image_ids: ['9', '10'],\n    upload_ids: ['01J15GF28TDQ2X20RNRJ5DDX27', '01J15GFDKQ4TDRBQPZ2M6E9H44']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"number\\\":\\\"SC-001\\\",\\\"status\\\":\\\"Approved\\\",\\\"title\\\":\\\"ABC Contract\\\",\\\"description\\\":\\\"<p>Yep, do it.</p>\\\",\\\"executed\\\":true,\\\"vendor_id\\\":\\\"161072\\\",\\\"architect_id\\\":\\\"161072\\\",\\\"contractor_id\\\":\\\"161072\\\",\\\"inclusions\\\":\\\"<p>Stairs, Elevator platform</p>\\\",\\\"exclusions\\\":\\\"<p>Stairs, Elevator platform</p>\\\",\\\"accounting_method\\\":\\\"amount\\\",\\\"allow_comments\\\":true,\\\"auto_approve_prefilled_requisitions_on_payapp\\\":true,\\\"allow_markups\\\":false,\\\"change_order_level_of_detail\\\":\\\"line_item\\\",\\\"enable_ssov\\\":true,\\\"allow_payment_applications\\\":true,\\\"allow_payments\\\":true,\\\"display_materials_retainage\\\":true,\\\"display_work_retainage\\\":true,\\\"show_cost_code_on_pdf\\\":true,\\\"accessor_ids\\\":[\\\"123\\\",\\\"456\\\"],\\\"private\\\":true,\\\"show_line_items_to_non_admins\\\":true,\\\"signature_required\\\":true,\\\"actual_completion_date\\\":\\\"2016-08-04\\\",\\\"approval_letter_date\\\":\\\"2016-08-04\\\",\\\"contract_date\\\":\\\"2016-08-04\\\",\\\"contract_estimated_completion_date\\\":\\\"2016-08-04\\\",\\\"contract_start_date\\\":\\\"2016-08-04\\\",\\\"execution_date\\\":\\\"2016-08-04\\\",\\\"issued_on_date\\\":\\\"2016-08-04\\\",\\\"letter_of_intent_date\\\":\\\"2016-08-04\\\",\\\"returned_date\\\":\\\"2016-08-04\\\",\\\"signed_contract_received_date\\\":\\\"2016-08-04\\\",\\\"substantial_completion_date\\\":\\\"2016-08-04\\\",\\\"currency_exchange_rate\\\":\\\"1.5\\\",\\\"currency_iso_code\\\":\\\"USD\\\",\\\"custom_field_%{custom_field_definition_id}\\\":\\\"custom field value\\\",\\\"change_event_attachment_ids\\\":[55,66,77],\\\"request_for_quote_attachment_ids\\\":[55,66,77],\\\"attachment_ids\\\":[\\\"1\\\",\\\"2\\\"],\\\"drawing_revision_ids\\\":[\\\"3\\\",\\\"4\\\"],\\\"file_version_ids\\\":[\\\"5\\\",\\\"6\\\"],\\\"form_ids\\\":[\\\"7\\\",\\\"8\\\"],\\\"image_ids\\\":[\\\"9\\\",\\\"10\\\"],\\\"upload_ids\\\":[\\\"01J15GF28TDQ2X20RNRJ5DDX27\\\",\\\"01J15GFDKQ4TDRBQPZ2M6E9H44\\\"]}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/prime_contracts?view=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
[...]
