{
 "openapi": "3.0.0",
 "info": {
  "title": "Programs",
  "x-product-category": "Company Admin",
  "x-tool-category": "Company Settings",
  "x-resource-name": "Programs",
  "version": "1.0",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.0/companies/{company_id}/programs": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List programs",
    "description": "Return a list of Programs associated to the specified Company.",
    "tags": [
     "Programs"
    ],
    "parameters": [
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of programs",
         "items": {
          "title": "Program",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "Program ID"
           },
           "name": {
            "type": "string",
            "description": "Program name"
           },
           "address_freeform": {
            "type": "string",
            "description": "Program address"
           },
           "website": {
            "type": "string",
            "description": "Program website"
           },
           "photo_prostore_file_id": {
            "type": "integer",
            "description": "Prostore file ID for the program photo"
           },
           "logo_prostore_file_id": {
            "type": "integer",
            "description": "Prostore file ID for the program logo"
           },
           "photo_prostore_file_url": {
            "type": "string",
            "description": "URL for the program photo"
           },
           "logo_prostore_file_url": {
            "type": "string",
            "description": "URL for the program logo"
           },
           "project_count": {
            "type": "integer",
            "description": "Number of projects associated to the program"
           }
          },
          "example": {
           "id": 1,
           "name": "NW USA",
           "address_freeform": "Seattle",
           "website": "http://nwexampleprogram.com"
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/programs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Add project count and remove deletable from the response",
      "description": "Add project count and remove deletable from the response",
      "endpoint": "GET /companies/{company_id}/programs",
      "type": "refinement",
      "breaking": true,
      "datestamp": "2025-03-06",
      "versions": [
       "1.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "programs?version=1.0#list-programs"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create program",
    "description": "Create a new Program in the specified Company.",
    "tags": [
     "Programs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "program"
        ],
        "properties": {
         "program": {
          "title": "Program",
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "The Name of the Program",
            "example": "Program A"
           },
           "address_freeform": {
            "type": "string",
            "description": "The Address of the Program",
            "example": "500 Construction Way, Santa Barbara"
           },
           "website": {
            "type": "string",
            "description": "The Website of the Program",
            "example": "http://www.example.com"
           },
           "zip": {
            "type": "string",
            "description": "The Zip code of the Program",
            "example": 91013
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Program",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Program ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Program name",
             "example": "NW USA"
            },
            "address_freeform": {
             "type": "string",
             "description": "Program address",
             "example": "Seattle",
             "nullable": true
            },
            "website": {
             "type": "string",
             "description": "Program website",
             "example": "http://www.example.com",
             "nullable": true
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "zip": {
             "type": "string",
             "description": "Program zip-code",
             "example": 91013,
             "nullable": true
            },
            "longitude": {
             "type": "string",
             "description": "Program longitude",
             "example": 1,
             "nullable": true
            },
            "latitude": {
             "type": "string",
             "description": "Program latitude",
             "example": 1,
             "nullable": true
            },
            "projects": {
             "type": "array",
             "description": "Array of program projects",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the project.",
                "example": 46146
               },
               "name": {
                "type": "string",
                "description": "Project name",
                "example": "2014 Draft"
               },
               "project_number": {
                "type": "string",
                "description": "Project number",
                "example": 1234,
                "nullable": true
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs',\n  headers: {'content-type': 'application/json'},\n  body: {\n    program: {\n      name: 'Program A',\n      address_freeform: '500 Construction Way, Santa Barbara',\n      website: 'http://www.example.com',\n      zip: 91013\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"program\\\":{\\\"name\\\":\\\"Program A\\\",\\\"address_freeform\\\":\\\"500 Construction Way, Santa Barbara\\\",\\\"website\\\":\\\"http://www.example.com\\\",\\\"zip\\\":91013}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"POST\", \"/rest/v1.0/companies/%7Bcompany_id%7D/programs\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs \\\n  --header 'content-type: application/json' \\\n  --data '{\"program\":{\"name\":\"Program A\",\"address_freeform\":\"500 Construction Way, Santa Barbara\",\"website\":\"http://www.example.com\",\"zip\":91013}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs\"),\n    Content = new StringContent(\"{\\\"program\\\":{\\\"name\\\":\\\"Program A\\\",\\\"address_freeform\\\":\\\"500 Construction Way, Santa Barbara\\\",\\\"website\\\":\\\"http://www.example.com\\\",\\\"zip\\\":91013}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/companies/{company_id}/programs/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "company_id",
     "in": "path",
     "description": "Unique identifier for the company.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "ID of the program",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Show program",
    "description": "Show detail on the specified Program.",
    "tags": [
     "Programs"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Program",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Program ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Program name",
             "example": "NW USA"
            },
            "address_freeform": {
             "type": "string",
             "description": "Program address",
             "example": "Seattle",
             "nullable": true
            },
            "website": {
             "type": "string",
             "description": "Program website",
             "example": "http://www.example.com",
             "nullable": true
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "zip": {
             "type": "string",
             "description": "Program zip-code",
             "example": 91013,
             "nullable": true
            },
            "longitude": {
             "type": "string",
             "description": "Program longitude",
             "example": 1,
             "nullable": true
            },
            "latitude": {
             "type": "string",
             "description": "Program latitude",
             "example": 1,
             "nullable": true
            },
            "projects": {
             "type": "array",
             "description": "Array of program projects",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the project.",
                "example": 46146
               },
               "name": {
                "type": "string",
                "description": "Project name",
                "example": "2014 Draft"
               },
               "project_number": {
                "type": "string",
                "description": "Project number",
                "example": 1234,
                "nullable": true
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update program",
    "description": "Update the specified Program.",
    "tags": [
     "Programs"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "Body",
        "type": "object",
        "required": [
         "program"
        ],
        "properties": {
         "program": {
          "title": "Program",
          "type": "object",
          "properties": {
           "name": {
            "type": "string",
            "description": "The Name of the Program",
            "example": "Program A"
           },
           "address_freeform": {
            "type": "string",
            "description": "The Address of the Program",
            "example": "500 Construction Way, Santa Barbara"
           },
           "website": {
            "type": "string",
            "description": "The Website of the Program",
            "example": "http://www.example.com"
           },
           "zip": {
            "type": "string",
            "description": "The Zip code of the Program",
            "example": 91013
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Program",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "Program ID",
             "example": 1
            },
            "name": {
             "type": "string",
             "description": "Program name",
             "example": "NW USA"
            },
            "address_freeform": {
             "type": "string",
             "description": "Program address",
             "example": "Seattle",
             "nullable": true
            },
            "website": {
             "type": "string",
             "description": "Program website",
             "example": "http://www.example.com",
             "nullable": true
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "zip": {
             "type": "string",
             "description": "Program zip-code",
             "example": 91013,
             "nullable": true
            },
            "longitude": {
             "type": "string",
             "description": "Program longitude",
             "example": 1,
             "nullable": true
            },
            "latitude": {
             "type": "string",
             "description": "Program latitude",
             "example": 1,
             "nullable": true
            },
            "projects": {
             "type": "array",
             "description": "Array of program projects",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique identifier for the project.",
                "example": 46146
               },
               "name": {
                "type": "string",
                "description": "Project name",
                "example": "2014 Draft"
               },
               "project_number": {
                "type": "string",
                "description": "Project number",
                "example": 1234,
                "nullable": true
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D',\n  headers: {'content-type': 'application/json'},\n  body: {\n    program: {\n      name: 'Program A',\n      address_freeform: '500 Construction Way, Santa Barbara',\n      website: 'http://www.example.com',\n      zip: 91013\n    }\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"program\\\":{\\\"name\\\":\\\"Program A\\\",\\\"address_freeform\\\":\\\"500 Construction Way, Santa Barbara\\\",\\\"website\\\":\\\"http://www.example.com\\\",\\\"zip\\\":91013}}\"\n\nheaders = { 'content-type': \"application/json\" }\n\nconn.request(\"PATCH\", \"/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D \\\n  --header 'content-type: application/json' \\\n  --data '{\"program\":{\"name\":\"Program A\",\"address_freeform\":\"500 Construction Way, Santa Barbara\",\"website\":\"http://www.example.com\",\"zip\":91013}}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D\"),\n    Content = new StringContent(\"{\\\"program\\\":{\\\"name\\\":\\\"Program A\\\",\\\"address_freeform\\\":\\\"500 Construction Way, Santa Barbara\\\",\\\"website\\\":\\\"http://www.example.com\\\",\\\"zip\\\":91013}}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "delete": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Delete program",
    "description": "Delete the specified Program.",
    "tags": [
     "Programs"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D'\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"DELETE\", \"/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request DELETE \\\n  --url https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Delete,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/companies/%7Bcompany_id%7D/programs/%7Bid%7D\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "x-compliance-level": "full"
  }
 }
}