{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Vendors",
  "x-product-category": "Core",
  "x-tool-category": "Directory",
  "x-resource-name": "Project Vendors",
  "version": "1.1",
  "x-product-lines": [
   "PM Essentials",
   "PM Starter Pack",
   "Total Quality and Safety Management",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/vendors": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List project vendors",
    "description": "Return a list of Vendors associated with a specified Project.",
    "tags": [
     "Project Vendors"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). Users without read permissions to Directory are limited to ids_only, name, and minimal views. If a valid view is not provided, it will return the default view: minimal for users without read permissions and normal otherwise.",
      "schema": {
       "type": "string",
       "enum": [
        "extended",
        "ids_only",
        "list",
        "name",
        "minimal",
        "normal"
       ]
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[search]",
      "in": "query",
      "description": "Return vendors where the search string matches the vendor name, keywords, origin_code, or ABN/EIN number",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "filters[standard_cost_code_id][]",
      "in": "query",
      "description": "Returns vendors associated with the specified standard cost code id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[trade_id][]",
      "in": "query",
      "description": "Returns vendors associated with the specified trade id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[id][]",
      "in": "query",
      "description": "Returns vendors with the specified id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[parent_id][]",
      "in": "query",
      "description": "Returns vendors with the specified parent id(s)",
      "required": false,
      "explode": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Return items with the specified sort.",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "name",
        "main_office_name"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "description": "Array of project vendors",
         "items": {
          "oneOf": [
           {
            "type": "number",
            "title": "ids_only view"
           },
           {
            "allOf": [
             {
              "type": "object",
              "title": "extended view",
              "properties": {
               "bidding": {
                "description": "Bidding status",
                "properties": {
                 "affirmative_action": {
                  "type": "boolean",
                  "example": true
                 },
                 "small_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "african_american_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "hispanic_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "womens_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "historically_underutilized_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "sdvo_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "certified_business_enterprise": {
                  "type": "boolean",
                  "example": false
                 },
                 "asian_american_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "native_american_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "disadvantaged_business": {
                  "type": "boolean",
                  "example": false
                 },
                 "minority_business_enterprise": {
                  "type": "boolean",
                  "example": true
                 },
                 "eight_a_business": {
                  "type": "boolean",
                  "example": false
                 }
                },
                "example": {
                 "affirmative_action": false,
                 "small_business": false,
                 "african_american_business": true,
                 "hispanic_business": false,
                 "womens_business": false,
                 "historically_underutilized_business": false,
                 "sdvo_business": false,
                 "certified_business_enterprise": true,
                 "asian_american_business": false,
                 "native_american_business": true,
                 "disadvantaged_business": false,
                 "minority_business_enterprise": false,
                 "eight_a_business": true
                },
                "nullable": true,
                "type": "object"
               },
               "bidding_distribution": {
                "type": "array",
                "description": "Bidding Distribution List",
                "items": {
                 "allOf": [
                  {
                   "type": "object",
                   "properties": {
                    "login": {
                     "type": "string",
                     "description": "Email",
                     "example": "carl.contractor@example.com"
                    },
                    "company_name": {
                     "type": "string",
                     "description": "name of company",
                     "example": "SID Architecture"
                    }
                   }
                  },
                  {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "integer",
                     "description": "Login Information ID of the User",
                     "example": 161072
                    },
                    "name": {
                     "type": "string",
                     "example": "Carl the Contractor"
                    }
                   }
                  }
                 ]
                }
               },
               "business": {
                "title": "Business (Normal View)",
                "type": "object",
                "nullable": true,
                "properties": {
                 "id": {
                  "type": "string",
                  "description": "UUID for the business",
                  "example": "2975a9c3-f28b-4eb6-a29a-2332e73b3ad7"
                 },
                 "name": {
                  "type": "string",
                  "description": "Name of the Business",
                  "example": "Test Company, Inc."
                 },
                 "dba": {
                  "type": "string",
                  "description": "Business Name DBA (Doing Business As)",
                  "example": "Test Company"
                 },
                 "website": {
                  "type": "string",
                  "description": "Primary URL for the business website",
                  "example": "www.testcompanyinc.com"
                 },
                 "about": {
                  "type": "string",
                  "description": "About the Business text",
                  "example": "The best test company around."
                 },
                 "published": {
                  "type": "boolean",
                  "description": "Indicates whether the Business has been publically published on PCN",
                  "example": true
                 },
                 "primary_slug": {
                  "type": "string",
                  "description": "Slug for Business",
                  "example": "test-company-carpinteria"
                 },
                 "logo_url": {
                  "type": "string",
                  "description": "URL link to Logo for the Business",
                  "example": "www.storage.com/company_logo.png"
                 },
                 "source": {
                  "type": "object",
                  "description": "Information about where the business information was sourced from",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Unique identifier for the business in the source data. For example, typeform id in snowflake",
                    "example": "m7pn7civb73iwijcm7wxxpaxniejvyo2"
                   },
                   "source": {
                    "type": "string",
                    "description": "More detailed source information, for example the source field on snowflake records",
                    "example": "ucd/public_data/typeform_Jul2021/responses (1) (2).csv"
                   },
                   "type": {
                    "type": "string",
                    "description": "The high level source this data was pulled from. This is currently always 'snowflake'",
                    "example": "SNOWFLAKE"
                   },
                   "record_type": {
                    "type": "string",
                    "description": "More detailed type information, for example the record type on snowflake records",
                    "example": "Typeform"
                   }
                  }
                 },
                 "addresses": {
                  "type": "array",
                  "description": "Addresses for the Business. These are also reflected in Offices for the Company.",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "UUID for the address",
                     "example": "2975a9c3-f28b-4eb6-a29a-2332e73b3ad7"
                    },
                    "name": {
                     "type": "string",
                     "description": "Address Name",
                     "example": "Main Office"
                    },
                    "address1": {
                     "type": "string",
                     "description": "Business Street Address",
                     "example": "6309 Carpinteria Ave"
                    },
                    "address2": {
                     "type": "string",
                     "description": "Street Address Line 2",
                     "example": "Suite 100"
                    },
                    "city": {
                     "type": "string",
                     "description": "Address City",
                     "example": "Carpinteria"
                    },
                    "latitude": {
                     "type": "number",
                     "description": "Latitude of the Address",
                     "example": 42.39996
                    },
                    "longitude": {
                     "type": "number",
                     "description": "Longitude of the Address",
                     "example": -84.35104
                    },
                    "province": {
                     "type": "string",
                     "description": "Address State or Province",
                     "example": "CA"
                    },
                    "postal_code1": {
                     "type": "string",
                     "description": "Address Primary Zip Code or Other Postal Code",
                     "example": "93013"
                    },
                    "country_code": {
                     "type": "string",
                     "description": "Country Code",
                     "example": "US"
                    },
                    "phone_number": {
                     "type": "string",
                     "description": "Business Phone Number",
                     "example": "+1-517-936-7923"
                    },
                    "fax_number": {
                     "type": "string",
                     "description": "Business Fax Number",
                     "example": "+1-517-936-7923"
                    },
                    "primary": {
                     "type": "boolean",
                     "description": "Indicates whether this is the primary address for the Business. This is also the Main Office of the company.",
                     "example": true
                    },
                    "address_types": {
                     "type": "array",
                     "description": "Address Types",
                     "items": {
                      "type": "string",
                      "example": "office"
                     }
                    }
                   }
                  }
                 },
                 "provided_services": {
                  "type": "array",
                  "description": "Services the Business Provides",
                  "items": {
                   "type": "object",
                   "properties": {
                    "id": {
                     "type": "string",
                     "description": "Provided Service UUID",
                     "example": "245acd0d-a3e1-4b8d-8891-7fdc364910ec"
                    },
                    "key": {
                     "type": "string",
                     "description": "i18n key for the name of the Provided Service",
                     "example": "existing_material_assessment"
                    },
                    "path": {
                     "type": "string",
                     "description": "The keys of the Provided Service hierarchy, e.g. key1#key2#key3",
                     "example": "professional_and_business_services#assessments_and_studies#existing_material_assessment"
                    },
                    "level": {
                     "type": "string",
                     "description": "The name of this Provided Service's level, ex. 'trade' or 'category'",
                     "example": "specialty"
                    }
                   }
                  }
                 },
                 "construction_sectors": {
                  "type": "array",
                  "description": "Construction Sectors this Business works in",
                  "items": {
                   "type": "string",
                   "example": "industrial_and_energy"
                  }
                 },
                 "business_types": {
                  "type": "array",
                  "description": "Business Types this Business falls under",
                  "items": {
                   "type": "string",
                   "example": "general_contractor"
                  }
                 },
                 "project_types": {
                  "type": "array",
                  "description": "Project Types this Business falls under",
                  "items": {
                   "type": "string",
                   "example": "seaport"
                  }
                 },
                 "classifications": {
                  "type": "array",
                  "description": "Classifications this Business falls under",
                  "items": {
                   "type": "object",
                   "properties": {
                    "abbreviation": {
                     "type": "string",
                     "description": "Abbreviation of the Classification",
                     "example": "SBE"
                    },
                    "key": {
                     "type": "string",
                     "description": "Identifier key of the Classification",
                     "example": "SBE"
                    },
                    "name": {
                     "type": "string",
                     "description": "Name of the Classification",
                     "example": "Small Business"
                    }
                   }
                  }
                 },
                 "coverage_areas": {
                  "type": "array",
                  "description": "Business area coverage",
                  "items": {
                   "type": "object",
                   "properties": {
                    "country_code": {
                     "type": "string",
                     "description": "Country Code",
                     "example": "US"
                    },
                    "google_place_id": {
                     "type": "string",
                     "description": "Google Place ID",
                     "example": "ChIJL4iEQEoS6YAR04viVA12TNw"
                    },
                    "admin1": {
                     "type": "string",
                     "description": "State (Province)",
                     "example": "CA"
                    },
                    "admin2": {
                     "type": "string",
                     "description": "County",
                     "example": "Orange County"
                    },
                    "admin3": {
                     "type": "string",
                     "description": "Not used in US",
                     "example": null,
                     "nullable": true
                    },
                    "admin4": {
                     "type": "string",
                     "description": "Not used in US",
                     "example": null,
                     "nullable": true
                    },
                    "locality": {
                     "type": "string",
                     "description": "Locality (City)",
                     "example": "Anaheim Hills"
                    },
                    "selected_level": {
                     "type": "string",
                     "description": "The admin level that was originally chosen by user",
                     "example": "locality"
                    }
                   }
                  }
                 },
                 "claimed": {
                  "type": "boolean",
                  "description": "Indicates whether the Business has been claimed by a user",
                  "example": true
                 },
                 "Tags": {
                  "type": "object",
                  "description": "Tags to indicate the current status of business",
                  "properties": {
                   "claim_status": {
                    "type": "string",
                    "description": "Indicates that a claim request was made for the business and request is in consideration",
                    "enum": [
                     "PENDING",
                     "APPROVED"
                    ]
                   },
                   "approval_status": {
                    "type": "string",
                    "description": "Indicates that an approval request was made for the business and request is in consideration",
                    "enum": [
                     "PENDING",
                     "APPROVED",
                     "REJECTED"
                    ]
                   },
                   "publishable": {
                    "type": "string",
                    "description": "Indicates that a business can be published",
                    "enum": [
                     "true",
                     "false"
                    ]
                   }
                  }
                 },
                 "start_of_operations": {
                  "type": "string",
                  "description": "Date when the business started operations",
                  "example": "2023-10-24",
                  "format": "date",
                  "nullable": true
                 },
                 "updated_by": {
                  "type": "string",
                  "description": "E-mail of last user to update a PCN profile",
                  "example": "samantha@example.com",
                  "nullable": true
                 },
                 "published_at": {
                  "type": "string",
                  "description": "Datetime of when the business published its PCN profile",
                  "example": "2024-10-03T20:40:59Z",
                  "format": "date-time",
                  "nullable": true
                 },
                 "published_by": {
                  "type": "string",
                  "description": "E-mail of last user to publish a business's PCN profile",
                  "example": "samantha@example.com",
                  "nullable": true
                 }
                }
               },
               "children_count": {
                "type": "integer",
                "description": "Count of Vendors whose parent_id is this Vendor's ID",
                "example": 0
               },
               "legal_name": {
                "type": "string",
                "description": "Name of the parent, if one exists. Otherwise same as name.",
                "example": "Stock Construction"
               },
               "parent": {
                "properties": {
                 "id": {
                  "type": "integer"
                 },
                 "name": {
                  "type": "string"
                 }
                },
                "example": {
                 "id": 634512,
                 "name": "Poodle Electric Inc."
                },
                "nullable": true,
                "type": "object"
               },
               "trades": {
                "type": "array",
                "description": "Trades",
                "items": {
                 "type": "object",
                 "title": "Trade",
                 "nullable": true,
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "Trade ID",
                   "example": 999
                  },
                  "name": {
                   "type": "string",
                   "description": "Trade name",
                   "example": "09 - acoustical panels"
                  },
                  "active": {
                   "type": "boolean",
                   "description": "Trade availability",
                   "example": true
                  },
                  "updated_at": {
                   "type": "string",
                   "format": "date-time",
                   "description": "Timestamp of last update to Trade",
                   "example": "2016-08-01T23:33:54Z"
                  }
                 }
                }
               }
              }
             },
             {
              "type": "object",
              "title": "normal view",
              "properties": {
               "id": {
                "type": "integer",
                "example": 161072
               },
               "name": {
                "type": "string",
                "example": "SID Architecture"
               },
               "abbreviated_name": {
                "description": "Abbreviated name",
                "example": "PE",
                "nullable": true,
                "type": "string"
               },
               "address": {
                "description": "Address",
                "example": "846 Dogglesworth Drive",
                "nullable": true,
                "type": "string"
               },
               "attachments": {
                "type": "array",
                "description": "Attachments",
                "items": {
                 "type": "object",
                 "properties": {
                  "id": {
                   "type": "integer",
                   "description": "ID",
                   "example": 5324
                  },
                  "url": {
                   "type": "string",
                   "description": "URL",
                   "example": "http://www.example.com/"
                  },
                  "name": {
                   "type": "string",
                   "description": "Filename",
                   "example": "january_receipt_copy.jpg"
                  },
                  "filename": {
                   "type": "string",
                   "description": "Filename",
                   "example": "january_receipt_copy.jpg"
                  }
                 }
                }
               },
               "authorized_bidder": {
                "type": "boolean",
                "description": "Authorized bidder status",
                "example": true
               },
               "business_id": {
                "description": "Business id",
                "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
                "nullable": true,
                "type": "string"
               },
               "business_phone": {
                "description": "Business phone",
                "example": "(812) 989-9810",
                "nullable": true,
                "type": "string"
               },
               "business_register": {
                "description": "business register",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 321
                 },
                 "type": {
                  "type": "string",
                  "description": "business register type (ABN, EIN)",
                  "example": "abn"
                 },
                 "identifier": {
                  "type": "string",
                  "description": "Identification code",
                  "example": "51824753556"
                 },
                 "verified_at": {
                  "format": "date-time",
                  "description": "Verified at",
                  "example": "2018-06-11T15:56:25Z",
                  "nullable": true,
                  "type": "string"
                 },
                 "verification_status": {
                  "description": "Verification status (active, cancelled, does_not_exist)",
                  "example": "active",
                  "enum": [
                   "active",
                   "cancelled",
                   "does_not_exist",
                   null
                  ],
                  "nullable": true,
                  "type": "string"
                 }
                },
                "example": {
                 "id": 321,
                 "type": "abn",
                 "identifier": "51824753556",
                 "verified_at": "2018-06-11T15:56:25Z",
                 "verification_status": "active"
                },
                "nullable": true,
                "type": "object"
               },
               "city": {
                "description": "City",
                "example": "Jeffersonville",
                "nullable": true,
                "type": "string"
               },
               "company": {
                "description": "Company",
                "example": "Stock Construction",
                "nullable": true,
                "type": "string"
               },
               "company_vendor": {
                "type": "boolean",
                "description": "Denotes whether this is the Company's Vendor",
                "example": false
               },
               "country_code": {
                "description": "Country code (ISO-3166 Alpha-2 format)",
                "example": "US",
                "nullable": true,
                "type": "string"
               },
               "created_at": {
                "format": "date-time",
                "description": "Created at",
                "example": "2016-10-23T21:39:40Z",
                "nullable": true,
                "type": "string"
               },
               "email_address": {
                "format": "email",
                "description": "Email address",
                "example": "jane.doe@example.com",
                "nullable": true,
                "type": "string"
               },
               "fax_number": {
                "description": "Fax number",
                "example": "(812) 989-9810",
                "nullable": true,
                "type": "string"
               },
               "is_active": {
                "type": "boolean",
                "description": "Active status",
                "example": true
               },
               "is_connected": {
                "type": "boolean",
                "description": "Connected status",
                "example": true
               },
               "labor_union": {
                "description": "Labor union",
                "example": "IWW 872",
                "nullable": true,
                "type": "string"
               },
               "license_number": {
                "description": "License number",
                "example": "1901XYZ",
                "nullable": true,
                "type": "string"
               },
               "logo": {
                "description": "Logo url",
                "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
                "nullable": true,
                "type": "string"
               },
               "mobile_phone": {
                "description": "Mobile phone",
                "example": "(812) 989-9810",
                "nullable": true,
                "type": "string"
               },
               "non_union_prevailing_wage": {
                "type": "boolean",
                "description": "Non union prevailing wage status",
                "example": false
               },
               "notes": {
                "description": "Notes",
                "example": "owned by a dog",
                "nullable": true,
                "type": "string"
               },
               "origin_code": {
                "description": "Origin Code",
                "example": "foobar",
                "nullable": true,
                "type": "string"
               },
               "origin_data": {
                "description": "Origin data",
                "example": "OD-2398273424",
                "nullable": true,
                "type": "string"
               },
               "origin_id": {
                "description": "Origin ID",
                "example": "foobar",
                "nullable": true,
                "type": "string"
               },
               "prequalified": {
                "type": "boolean",
                "description": "Prequalified status",
                "example": false
               },
               "primary_contact": {
                "description": "Primary contact",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 1306796
                 },
                 "first_name": {
                  "type": "string",
                  "description": "First name",
                  "example": "John"
                 },
                 "last_name": {
                  "type": "string",
                  "description": "Last name",
                  "example": "Doe"
                 },
                 "business_phone": {
                  "description": "Business phone",
                  "nullable": true,
                  "type": "string"
                 },
                 "business_phone_extension": {
                  "description": "Business phone extension",
                  "nullable": true,
                  "type": "integer"
                 },
                 "fax_number": {
                  "description": "Fax number",
                  "nullable": true,
                  "type": "string"
                 },
                 "mobile_phone": {
                  "description": "Mobile phone",
                  "nullable": true,
                  "type": "string"
                 },
                 "email_address": {
                  "type": "string",
                  "format": "email",
                  "description": "Email",
                  "example": "john.doe@example.com"
                 },
                 "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at",
                  "example": "2016-10-23T21:39:40Z"
                 },
                 "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Updated at",
                  "example": "2016-10-23T21:39:40Z"
                 }
                },
                "example": {
                 "id": 1306796,
                 "first_name": "John",
                 "last_name": "Doe",
                 "business_phone": "5555555555",
                 "business_phone_extension": 123,
                 "fax_number": "5555555555",
                 "mobile_phone": "5555555555",
                 "email_address": "john.doe@example.com",
                 "created_at": "2016-10-23T21:39:40Z",
                 "updated_at": "2016-10-23T21:39:40Z"
                },
                "nullable": true,
                "type": "object"
               },
               "project_ids": {
                "type": "array",
                "description": "Array of Project IDs",
                "items": {
                 "type": "integer",
                 "example": 12
                }
               },
               "state_code": {
                "description": "State code (ISO-3166 Alpha-2 format)",
                "example": "IN",
                "nullable": true,
                "type": "string"
               },
               "synced_to_erp": {
                "type": "boolean",
                "description": "Synced to ERP",
                "example": false
               },
               "trade_name": {
                "type": "string",
                "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
                "example": "Woofer Electric"
               },
               "union_member": {
                "type": "boolean",
                "description": "Union member status",
                "example": false
               },
               "updated_at": {
                "format": "date-time",
                "description": "Updated at",
                "example": "2016-10-23T21:39:40Z",
                "nullable": true,
                "type": "string"
               },
               "vendor_group": {
                "required": [
                 "name"
                ],
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 1
                 },
                 "name": {
                  "type": "string",
                  "maxLength": 255,
                  "example": "Otis Elevators"
                 }
                },
                "example": {
                 "id": 1,
                 "name": "Otis Elevators"
                },
                "nullable": true,
                "type": "object"
               },
               "uuid": {
                "description": "UUID associated with the vendor contact record",
                "example": "550e8400-e29b-41d4-a716-446655440000",
                "format": "uuid",
                "nullable": true,
                "type": "string"
               },
               "website": {
                "description": "Website url",
                "example": "http://poodleparade.com",
                "nullable": true,
                "type": "string"
               },
               "zip": {
                "description": "Zip code",
                "example": "47130",
                "nullable": true,
                "type": "string"
               }
              }
             }
            ]
           },
           {
            "allOf": [
             {
              "type": "object",
              "title": "list view",
              "properties": {
               "address": {
                "description": "Address",
                "example": "846 Dogglesworth Drive",
                "nullable": true,
                "type": "string"
               },
               "business_id": {
                "description": "Business id",
                "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
                "nullable": true,
                "type": "string"
               },
               "business_phone": {
                "description": "Business phone",
                "example": "(812) 989-9810",
                "nullable": true,
                "type": "string"
               },
               "business_register": {
                "description": "business register",
                "properties": {
                 "id": {
                  "type": "integer",
                  "example": 321
                 },
                 "type": {
                  "type": "string",
                  "description": "business register type (ABN, EIN)",
                  "example": "abn"
                 },
                 "identifier": {
                  "type": "string",
                  "description": "Identification code",
                  "example": "51824753556"
                 },
                 "verified_at": {
                  "format": "date-time",
                  "description": "Verified at",
                  "example": "2018-06-11T15:56:25Z",
                  "nullable": true,
                  "type": "string"
                 },
                 "verification_status": {
                  "description": "Verification status (active, cancelled, does_not_exist)",
                  "example": "active",
                  "enum": [
                   "active",
                   "cancelled",
                   "does_not_exist",
                   null
                  ],
                  "nullable": true,
                  "type": "string"
                 }
                },
                "example": {
                 "id": 321,
                 "type": "abn",
                 "identifier": "51824753556",
                 "verified_at": "2018-06-11T15:56:25Z",
                 "verification_status": "active"
                },
                "nullable": true,
                "type": "object"
               },
               "city": {
                "description": "City",
                "example": "Jeffersonville",
                "nullable": true,
                "type": "string"
               },
               "country_code": {
                "description": "Country code (ISO-3166 Alpha-2 format)",
                "example": "US",
                "nullable": true,
                "type": "string"
               },
               "email_address": {
                "format": "email",
                "description": "Email address",
                "example": "jane.doe@example.com",
                "nullable": true,
                "type": "string"
               },
               "fax_number": {
                "description": "Fax number",
                "example": "(812) 989-9810",
                "nullable": true,
                "type": "string"
               },
               "is_active": {
                "type": "boolean",
                "description": "Active status",
                "example": true
               },
               "logo": {
                "description": "Logo url",
                "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
                "nullable": true,
                "type": "string"
               },
               "state_code": {
                "description": "State code (ISO-3166 Alpha-2 format)",
                "example": "IN",
                "nullable": true,
                "type": "string"
               },
               "trade_name": {
                "type": "string",
                "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
                "example": "Woofer Electric"
               },
               "zip": {
                "description": "Zip code",
                "example": 47130,
                "nullable": true,
                "type": "string"
               }
              }
             },
             {
              "type": "object",
              "title": "Compact",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique integer identifier for this vendor/company.",
                "example": 161072
               },
               "name": {
                "type": "string",
                "description": "Display name of the vendor or contractor company.",
                "example": "SID Architecture"
               }
              }
             }
            ]
           },
           {
            "type": "object",
            "title": "Compact",
            "properties": {
             "id": {
              "type": "integer",
              "description": "Unique integer identifier for this vendor/company.",
              "example": 161072
             },
             "name": {
              "type": "string",
              "description": "Display name of the vendor or contractor company.",
              "example": "SID Architecture"
             }
            }
           },
           {
            "allOf": [
             {
              "type": "object",
              "title": "minimal view",
              "properties": {
               "logo": {
                "type": "string",
                "description": "Logo url",
                "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
                "nullable": true
               },
               "is_active": {
                "type": "boolean",
                "description": "Active status",
                "example": true
               },
               "origin_code": {
                "type": "string",
                "description": "The ERP origin code associated with this vendor (used for disambiguation labels such as \"Vendor Name (ERP ID - origin_code)\").",
                "nullable": true
               },
               "origin_id": {
                "type": "string",
                "description": "The ERP origin identifier associated with this vendor.",
                "nullable": true
               }
              }
             },
             {
              "type": "object",
              "title": "Compact",
              "properties": {
               "id": {
                "type": "integer",
                "description": "Unique integer identifier for this vendor/company.",
                "example": 161072
               },
               "name": {
                "type": "string",
                "description": "Display name of the vendor or contractor company.",
                "example": "SID Architecture"
               }
              }
             }
            ]
           },
           {
            "type": "object",
            "title": "normal view",
            "properties": {
             "id": {
              "type": "integer",
              "example": 161072
             },
             "name": {
              "type": "string",
              "example": "SID Architecture"
             },
             "abbreviated_name": {
              "description": "Abbreviated name",
              "example": "PE",
              "nullable": true,
              "type": "string"
             },
             "address": {
              "description": "Address",
              "example": "846 Dogglesworth Drive",
              "nullable": true,
              "type": "string"
             },
             "attachments": {
              "type": "array",
              "description": "Attachments",
              "items": {
               "type": "object",
               "properties": {
                "id": {
                 "type": "integer",
                 "description": "ID",
                 "example": 5324
                },
                "url": {
                 "type": "string",
                 "description": "URL",
                 "example": "http://www.example.com/"
                },
                "name": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                },
                "filename": {
                 "type": "string",
                 "description": "Filename",
                 "example": "january_receipt_copy.jpg"
                }
               }
              }
             },
             "authorized_bidder": {
              "type": "boolean",
              "description": "Authorized bidder status",
              "example": true
             },
             "business_id": {
              "description": "Business id",
              "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
              "nullable": true,
              "type": "string"
             },
             "business_phone": {
              "description": "Business phone",
              "example": "(812) 989-9810",
              "nullable": true,
              "type": "string"
             },
             "business_register": {
              "description": "business register",
              "properties": {
               "id": {
                "type": "integer",
                "example": 321
               },
               "type": {
                "type": "string",
                "description": "business register type (ABN, EIN)",
                "example": "abn"
               },
               "identifier": {
                "type": "string",
                "description": "Identification code",
                "example": "51824753556"
               },
               "verified_at": {
                "format": "date-time",
                "description": "Verified at",
                "example": "2018-06-11T15:56:25Z",
                "nullable": true,
                "type": "string"
               },
               "verification_status": {
                "description": "Verification status (active, cancelled, does_not_exist)",
                "example": "active",
                "enum": [
                 "active",
                 "cancelled",
                 "does_not_exist",
                 null
                ],
                "nullable": true,
                "type": "string"
               }
              },
              "example": {
               "id": 321,
               "type": "abn",
               "identifier": "51824753556",
               "verified_at": "2018-06-11T15:56:25Z",
               "verification_status": "active"
              },
              "nullable": true,
              "type": "object"
             },
             "city": {
              "description": "City",
              "example": "Jeffersonville",
              "nullable": true,
              "type": "string"
             },
             "company": {
              "description": "Company",
              "example": "Stock Construction",
              "nullable": true,
              "type": "string"
             },
             "company_vendor": {
              "type": "boolean",
              "description": "Denotes whether this is the Company's Vendor",
              "example": false
             },
             "country_code": {
              "description": "Country code (ISO-3166 Alpha-2 format)",
              "example": "US",
              "nullable": true,
              "type": "string"
             },
             "created_at": {
              "format": "date-time",
              "description": "Created at",
              "example": "2016-10-23T21:39:40Z",
              "nullable": true,
              "type": "string"
             },
             "email_address": {
              "format": "email",
              "description": "Email address",
              "example": "jane.doe@example.com",
              "nullable": true,
              "type": "string"
             },
             "fax_number": {
              "description": "Fax number",
              "example": "(812) 989-9810",
              "nullable": true,
              "type": "string"
             },
             "is_active": {
              "type": "boolean",
              "description": "Active status",
              "example": true
             },
             "is_connected": {
              "type": "boolean",
              "description": "Connected status",
              "example": true
             },
             "labor_union": {
              "description": "Labor union",
              "example": "IWW 872",
              "nullable": true,
              "type": "string"
             },
             "license_number": {
              "description": "License number",
              "example": "1901XYZ",
              "nullable": true,
              "type": "string"
             },
             "logo": {
              "description": "Logo url",
              "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
              "nullable": true,
              "type": "string"
             },
             "mobile_phone": {
              "description": "Mobile phone",
              "example": "(812) 989-9810",
              "nullable": true,
              "type": "string"
             },
             "non_union_prevailing_wage": {
              "type": "boolean",
              "description": "Non union prevailing wage status",
              "example": false
             },
             "notes": {
              "description": "Notes",
              "example": "owned by a dog",
              "nullable": true,
              "type": "string"
             },
             "origin_code": {
              "description": "Origin Code",
              "example": "foobar",
              "nullable": true,
              "type": "string"
             },
             "origin_data": {
              "description": "Origin data",
              "example": "OD-2398273424",
              "nullable": true,
              "type": "string"
             },
             "origin_id": {
              "description": "Origin ID",
              "example": "foobar",
              "nullable": true,
              "type": "string"
             },
             "prequalified": {
              "type": "boolean",
              "description": "Prequalified status",
              "example": false
             },
             "primary_contact": {
              "description": "Primary contact",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1306796
               },
               "first_name": {
                "type": "string",
                "description": "First name",
                "example": "John"
               },
               "last_name": {
                "type": "string",
                "description": "Last name",
                "example": "Doe"
               },
               "business_phone": {
                "description": "Business phone",
                "nullable": true,
                "type": "string"
               },
               "business_phone_extension": {
                "description": "Business phone extension",
                "nullable": true,
                "type": "integer"
               },
               "fax_number": {
                "description": "Fax number",
                "nullable": true,
                "type": "string"
               },
               "mobile_phone": {
                "description": "Mobile phone",
                "nullable": true,
                "type": "string"
               },
               "email_address": {
                "type": "string",
                "format": "email",
                "description": "Email",
                "example": "john.doe@example.com"
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Created at",
                "example": "2016-10-23T21:39:40Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Updated at",
                "example": "2016-10-23T21:39:40Z"
               }
              },
              "example": {
               "id": 1306796,
               "first_name": "John",
               "last_name": "Doe",
               "business_phone": "5555555555",
               "business_phone_extension": 123,
               "fax_number": "5555555555",
               "mobile_phone": "5555555555",
               "email_address": "john.doe@example.com",
               "created_at": "2016-10-23T21:39:40Z",
               "updated_at": "2016-10-23T21:39:40Z"
              },
              "nullable": true,
              "type": "object"
             },
             "project_ids": {
              "type": "array",
              "description": "Array of Project IDs",
              "items": {
               "type": "integer",
               "example": 12
              }
             },
             "state_code": {
              "description": "State code (ISO-3166 Alpha-2 format)",
              "example": "IN",
              "nullable": true,
              "type": "string"
             },
             "synced_to_erp": {
              "type": "boolean",
              "description": "Synced to ERP",
              "example": false
             },
             "trade_name": {
              "type": "string",
              "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
              "example": "Woofer Electric"
             },
             "union_member": {
              "type": "boolean",
              "description": "Union member status",
              "example": false
             },
             "updated_at": {
              "format": "date-time",
              "description": "Updated at",
              "example": "2016-10-23T21:39:40Z",
              "nullable": true,
              "type": "string"
             },
             "vendor_group": {
              "required": [
               "name"
              ],
              "properties": {
               "id": {
                "type": "integer",
                "example": 1
               },
               "name": {
                "type": "string",
                "maxLength": 255,
                "example": "Otis Elevators"
               }
              },
              "example": {
               "id": 1,
               "name": "Otis Elevators"
              },
              "nullable": true,
              "type": "object"
             },
             "uuid": {
              "description": "UUID associated with the vendor contact record",
              "example": "550e8400-e29b-41d4-a716-446655440000",
              "format": "uuid",
              "nullable": true,
              "type": "string"
             },
             "website": {
              "description": "Website url",
              "example": "http://poodleparade.com",
              "nullable": true,
              "type": "string"
             },
             "zip": {
              "description": "Zip code",
              "example": "47130",
              "nullable": true,
              "type": "string"
             }
            }
           }
          ]
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/vendors',\n  qs: {\n    view: 'SOME_STRING_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[search]': 'SOME_STRING_VALUE',\n    'filters[standard_cost_code_id][]': 'SOME_ARRAY_VALUE',\n    'filters[trade_id][]': 'SOME_ARRAY_VALUE',\n    'filters[id][]': 'SOME_ARRAY_VALUE',\n    'filters[parent_id][]': 'SOME_ARRAY_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/vendors?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bstandard_cost_code_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bid%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bparent_id%5D%5B%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/vendors?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bstandard_cost_code_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bid%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bparent_id%5D%5B%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/vendors?view=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Bsearch%5D=SOME_STRING_VALUE&filters%5Bstandard_cost_code_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Btrade_id%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bid%5D%5B%5D=SOME_ARRAY_VALUE&filters%5Bparent_id%5D%5B%5D=SOME_ARRAY_VALUE&sort=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "The v1.1 version of the Project Vendors list endpoint limits the available views based on user permission level.",
      "description": "In addition to the new endpoint versions, docs have also been corrected, with documentation for the responses provided for each view param.",
      "endpoint": "GET /projects/{project_id}/vendors",
      "type": "new",
      "breaking": true,
      "datestamp": "2023-05-04",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-vendors?version=1.1#list-project-vendors"
     },
     {
      "summary": "Add `is_active` to limited views and rename `name_and_logo` view to `minimal`",
      "description": "Added `is_active` to `list` view and `name_and_logo` view. Also renamed `name_and_logo` view to `minimal`, as it now includes more than name and logo.",
      "endpoint": "GET /projects/{project_id}/vendors",
      "type": "new",
      "breaking": false,
      "datestamp": "2023-06-08",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-vendors?version=1.1#list-project-vendors"
     }
    ]
   },
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create project vendor",
    "description": "Create a new Project Vendor.\n\n#### Country and State codes\nThe `country_code` and `state_code` parameter values must conform to the ISO-3166 Alpha-2 specification.\nSee [Working with Country Codes](/documentation/country-codes) for additional information.",
    "tags": [
     "Project Vendors"
    ],
    "parameters": [
     {
      "name": "view",
      "in": "query",
      "description": "Specifies which view of the resource to return (which attributes should be present in the response). The default view is normal.",
      "schema": {
       "type": "string",
       "enum": [
        "extended",
        "normal"
       ]
      }
     },
     {
      "name": "run_configurable_validations",
      "in": "query",
      "required": false,
      "description": "If true, validations are run for the corresponding Configurable Field Set.",
      "schema": {
       "type": "boolean",
       "default": false
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "title": "Project Vendor Body",
        "type": "object",
        "required": [
         "vendor"
        ],
        "properties": {
         "vendor": {
          "title": "Project Vendor",
          "type": "object",
          "required": [
           "name"
          ],
          "properties": {
           "abbreviated_name": {
            "type": "string",
            "description": "Abbreviated name",
            "example": "PE"
           },
           "address": {
            "type": "string",
            "description": "Street address",
            "example": "846 Dogglesworth Drive"
           },
           "authorized_bidder": {
            "type": "boolean",
            "description": "Authorized bidder status",
            "example": true
           },
           "business_phone": {
            "type": "string",
            "description": "Business phone number",
            "example": "(812) 284-8506"
           },
           "city": {
            "type": "string",
            "description": "City",
            "example": "Jeffersonville"
           },
           "country_code": {
            "type": "string",
            "description": "Country code (ISO-3166 Alpha-2 format)",
            "example": "US"
           },
           "email_address": {
            "type": "string",
            "description": "Email address",
            "example": "jane.doe@example.com"
           },
           "fax_number": {
            "type": "string",
            "description": "Fax number",
            "example": "(812) 863-2725"
           },
           "is_active": {
            "type": "boolean",
            "description": "Active status",
            "example": true
           },
           "labor_union": {
            "type": "string",
            "description": "Labor union",
            "example": "IWW 872"
           },
           "license_number": {
            "type": "string",
            "description": "License number",
            "example": "1901XYZ"
           },
           "mobile_phone": {
            "type": "string",
            "description": "Mobile phone number",
            "example": "(812) 556-3397"
           },
           "name": {
            "type": "string",
            "description": "Name",
            "example": "Poodle Electric"
           },
           "non_union_prevailing_wage": {
            "type": "boolean",
            "description": "Non union prevailing wage status",
            "example": false
           },
           "notes": {
            "type": "string",
            "description": "Notes (notes/keywords/tags)",
            "example": "owned by a dog"
           },
           "origin_id": {
            "type": "string",
            "description": "Origin ID",
            "example": "ref-12345"
           },
           "origin_data": {
            "type": "string",
            "description": "Origin Data",
            "example": "{\"data_field\":{\"is_important\":true}}"
           },
           "origin_code": {
            "type": "string",
            "description": "Origin Code",
            "example": "PE-12345"
           },
           "parent_id": {
            "type": "integer",
            "example": 1306797,
            "description": "Parent Vendor ID. Cannot be the same as ID. Only two levels of hierarchy are supported (parent/child)."
           },
           "prequalified": {
            "type": "boolean",
            "description": "Prequalified status",
            "default": false,
            "example": false
           },
           "primary_contact_id": {
            "type": "integer",
            "description": "Primary Contact ID",
            "example": 15316136
           },
           "state_code": {
            "type": "string",
            "description": "State code (ISO-3166 Alpha-2 format)",
            "example": "IN"
           },
           "trade_name": {
            "type": "string",
            "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
            "example": "Woofer Electric"
           },
           "union_member": {
            "type": "boolean",
            "description": "Union member status",
            "example": true
           },
           "website": {
            "type": "string",
            "description": "Website url",
            "example": "http://poodleparade.com"
           },
           "zip": {
            "type": "string",
            "description": "Zip code",
            "example": "47130"
           }
          }
         }
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "type": "object",
           "title": "normal view",
           "properties": {
            "id": {
             "type": "integer",
             "example": 161072
            },
            "name": {
             "type": "string",
             "example": "SID Architecture"
            },
            "abbreviated_name": {
             "description": "Abbreviated name",
             "example": "PE",
             "nullable": true,
             "type": "string"
            },
            "address": {
             "description": "Address",
             "example": "846 Dogglesworth Drive",
             "nullable": true,
             "type": "string"
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "name": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "authorized_bidder": {
             "type": "boolean",
             "description": "Authorized bidder status",
             "example": true
            },
            "business_id": {
             "description": "Business id",
             "example": "89cac92d-fbd8-40ec-a1fc-24bbbd035a78",
             "nullable": true,
             "type": "string"
            },
            "business_phone": {
             "description": "Business phone",
             "example": "(812) 989-9810",
             "nullable": true,
             "type": "string"
            },
            "business_register": {
             "description": "business register",
             "properties": {
              "id": {
               "type": "integer",
               "example": 321
              },
              "type": {
               "type": "string",
               "description": "business register type (ABN, EIN)",
               "example": "abn"
              },
              "identifier": {
               "type": "string",
               "description": "Identification code",
               "example": "51824753556"
              },
              "verified_at": {
               "format": "date-time",
               "description": "Verified at",
               "example": "2018-06-11T15:56:25Z",
               "nullable": true,
               "type": "string"
              },
              "verification_status": {
               "description": "Verification status (active, cancelled, does_not_exist)",
               "example": "active",
               "enum": [
                "active",
                "cancelled",
                "does_not_exist",
                null
               ],
               "nullable": true,
               "type": "string"
              }
             },
             "example": {
              "id": 321,
              "type": "abn",
              "identifier": "51824753556",
              "verified_at": "2018-06-11T15:56:25Z",
              "verification_status": "active"
             },
             "nullable": true,
             "type": "object"
            },
            "city": {
             "description": "City",
             "example": "Jeffersonville",
             "nullable": true,
             "type": "string"
            },
            "company": {
             "description": "Company",
             "example": "Stock Construction",
             "nullable": true,
             "type": "string"
            },
            "company_vendor": {
             "type": "boolean",
             "description": "Denotes whether this is the Company's Vendor",
             "example": false
            },
            "country_code": {
             "description": "Country code (ISO-3166 Alpha-2 format)",
             "example": "US",
             "nullable": true,
             "type": "string"
            },
            "created_at": {
             "format": "date-time",
             "description": "Created at",
             "example": "2016-10-23T21:39:40Z",
             "nullable": true,
             "type": "string"
            },
            "email_address": {
             "format": "email",
             "description": "Email address",
             "example": "jane.doe@example.com",
             "nullable": true,
             "type": "string"
            },
            "fax_number": {
             "description": "Fax number",
             "example": "(812) 989-9810",
             "nullable": true,
             "type": "string"
            },
            "is_active": {
             "type": "boolean",
             "description": "Active status",
             "example": true
            },
            "is_connected": {
             "type": "boolean",
             "description": "Connected status",
             "example": true
            },
            "labor_union": {
             "description": "Labor union",
             "example": "IWW 872",
             "nullable": true,
             "type": "string"
            },
            "license_number": {
             "description": "License number",
             "example": "1901XYZ",
             "nullable": true,
             "type": "string"
            },
            "logo": {
             "description": "Logo url",
             "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160718141208_development_528209843.jpeg?AWSAccessKeyId=AKIAJ5EH2SRCJA6V2DKA&Expires=2100028332&Signature=pjM0nzUOxNrtjM2F0oTG2dbkPa8%3D",
             "nullable": true,
             "type": "string"
            },
            "mobile_phone": {
             "description": "Mobile phone",
             "example": "(812) 989-9810",
             "nullable": true,
             "type": "string"
            },
            "non_union_prevailing_wage": {
             "type": "boolean",
             "description": "Non union prevailing wage status",
             "example": false
            },
            "notes": {
             "description": "Notes",
             "example": "owned by a dog",
             "nullable": true,
             "type": "string"
            },
            "origin_code": {
             "description": "Origin Code",
             "example": "foobar",
             "nullable": true,
             "type": "string"
            },
            "origin_data": {
             "description": "Origin data",
             "example": "OD-2398273424",
             "nullable": true,
             "type": "string"
            },
            "origin_id": {
             "description": "Origin ID",
             "example": "foobar",
             "nullable": true,
             "type": "string"
            },
            "prequalified": {
             "type": "boolean",
             "description": "Prequalified status",
             "example": false
            },
            "primary_contact": {
             "description": "Primary contact",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 1306796
              },
              "first_name": {
               "type": "string",
               "description": "First name",
               "example": "John"
              },
              "last_name": {
               "type": "string",
               "description": "Last name",
               "example": "Doe"
              },
              "business_phone": {
               "description": "Business phone",
               "nullable": true,
               "type": "string"
              },
              "business_phone_extension": {
               "description": "Business phone extension",
               "nullable": true,
               "type": "integer"
              },
              "fax_number": {
               "description": "Fax number",
               "nullable": true,
               "type": "string"
              },
              "mobile_phone": {
               "description": "Mobile phone",
               "nullable": true,
               "type": "string"
              },
              "email_address": {
               "type": "string",
               "format": "email",
               "description": "Email",
               "example": "john.doe@example.com"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Created at",
               "example": "2016-10-23T21:39:40Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Updated at",
               "example": "2016-10-23T21:39:40Z"
              }
             },
             "example": {
              "id": 1306796,
              "first_name": "John",
              "last_name": "Doe",
              "business_phone": "5555555555",
              "business_phone_extension": 123,
              "fax_number": "5555555555",
              "mobile_phone": "5555555555",
              "email_address": "john.doe@example.com",
              "created_at": "2016-10-23T21:39:40Z",
              "updated_at": "2016-10-23T21:39:40Z"
             },
             "nullable": true,
             "type": "object"
            },
            "project_ids": {
             "type": "array",
             "description": "Array of Project IDs",
             "items": {
              "type": "integer",
              "example": 12
             }
            },
            "state_code": {
             "description": "State code (ISO-3166 Alpha-2 format)",
             "example": "IN",
             "nullable": true,
             "type": "string"
            },
            "synced_to_erp": {
             "type": "boolean",
             "description": "Synced to ERP",
             "example": false
            },
            "trade_name": {
             "type": "string",
             "description": "Vendor's Trade Name, also known as Doing Business As (DBA).",
             "example": "Woofer Electric"
            },
            "union_member": {
             "type": "boolean",
             "description": "Union member status",
             "example": false
            },
            "updated_at": {
             "format": "date-time",
             "description": "Updated at",
             "example": "2016-10-23T21:39:40Z",
             "nullable": true,
             "type": "string"
            },
            "vendor_group": {
             "required": [
              "name"
             ],
             "properties": {
              "id": {
               "type": "integer",
               "example": 1
              },
              "name": {
               "type": "string",
               "maxLength": 255,
               "example": "Otis Elevators"
              }
             },
             "example": {
              "id": 1,
              "name": "Otis Elevators"
             },
             "nullable": true,
             "type": "object"
            },
            "uuid": {
             "description": "UUID associated with the vendor contact record",
             "example": "550e8400-e29b-41d4-a716-446655440000",
             "format": "uuid",
             "nullable": true,
             "type": "string"
            },
            "website": {
             "description": "Website url",
             "example": "http://poodleparade.com",
             "nullable": true,
             "type": "string"
            },
            "zip": {
             "description": "Zip code",
             "example": "47130",
             "nullable": true,
             "type": "string"
            }
           }
          },
          {
           "allOf": [
            {
             "type": "object",
             "title": "extended view",
             "properties": {
              "bidding": {
               "description": "Bidding status",
               "properties": {
                "affirmative_action": {
                 "type": "boolean",
                 "example": true
                },
                "small_business": {
                 "type": "boolean",
                 "example": false
                },
                "african_american_business": {
                 "type": "boolean",
                 "example": false
                },
                "hispanic_business": {
                 "type": "boolean",
                 "example": false
                },
                "womens_business": {
                 "type": "boolean",
                 "example": false
                },
                "historically_underutilized_business": {
                 "type": "boolean",
                 "example": false
                },
                "sdvo_business": {
                 "type": "boolean",
                 "example": false
                },
                "certified_business_enterprise": {
                 "type": "boolean",
                 "example": false
                },
                "asian_american_business": {
                 "type": "boolean",
                 "example": false
                },
                "native_american_business": {
                 "type": "boolean",
                 "example": false
                },
                "disadvantaged_business": {
                 "type": "boolean",
                 "example": false
                },
                "minority_business_enterprise": {
                 "type": "boolean",
                 "example": true
                },
                "eight_a_business": {
                 "type": "boolean",
                 "example": false
                }
               },
               "example": {
                "affirmative_action": false,
                "small_business": false,
                "african_american_business": true,
                "hispanic_business": false,
                "womens_business": false,
                "historically_underutilized_business": false,
                "sdvo_business": false,
                "certified_business_enterprise": true,
                "asian_american_business": false,
                "native_american_business": true,
                "disadvantaged_business": false,
                "minority_business_enterprise": false,
                "eight_a_business": true
               },
               "nullable": true,
               "type": "object"
              },
              "bidding_distribution": {
               "type": "array",
               "description": "Bidding Distribution List",
               "items": {
                "allOf": [
                 {
                  "type": "object",
                  "properties": {
                   "login": {
                    "type": "string",
                    "description": "Email",
                    "example": "carl.contractor@example.com"
                   },
                   "company_name": {
                    "type": "string",
                    "description": "name of company",
                    "example": "SID Architecture"
                   }
                  }
                 },
                 {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "integer",
                    "description": "Login Information ID of the User",
                    "example": 161072
                   },
                   "name": {
                    "type": "string",
                    "example": "Carl the Contractor"
                   }
                  }
                 }
                ]
               }
              },
              "business": {
               "title": "Business (Normal View)",
               "type": "object",
               "nullable": true,
               "properties": {
                "id": {
                 "type": "string",
                 "description": "UUID for the business",
                 "example": "2975a9c3-f28b-4eb6-a29a-2332e73b3ad7"
                },
                "name": {
                 "type": "string",
                 "description": "Name of the Business",
                 "example": "Test Company, Inc."
                },
                "dba": {
                 "type": "string",
                 "description": "Business Name DBA (Doing Business As)",
                 "example": "Test Company"
                },
                "website": {
                 "type": "string",
                 "description": "Primary URL for the business website",
                 "example": "www.testcompanyinc.com"
                },
                "about": {
                 "type": "string",
                 "description": "About the Business text",
                 "example": "The best test company around."
                },
                "published": {
                 "type": "boolean",
                 "description": "Indicates whether the Business has been publically published on PCN",
                 "example": true
                },
                "primary_slug": {
                 "type": "string",
                 "description": "Slug for Business",
                 "example": "test-company-carpinteria"
                },
                "logo_url": {
                 "type": "string",
                 "description": "URL link to Logo for the Business",
                 "example": "www.storage.com/company_logo.png"
                },
                "source": {
                 "type": "object",
                 "description": "Information about where the business information was sourced from",
                 "properties": {
                  "id": {
                   "type": "string",
                   "description": "Unique identifier for the business in the source data. For example, typeform id in snowflake",
                   "example": "m7pn7civb73iwijcm7wxxpaxniejvyo2"
                  },
                  "source": {
                   "type": "string",
                   "description": "More detailed source information, for example the source field on snowflake records",
                   "example": "ucd/public_data/typeform_Jul2021/responses (1) (2).csv"
                  },
                  "type": {
                   "type": "string",
                   "description": "The high level source this data was pulled from. This is currently always 'snowflake'",
                   "example": "SNOWFLAKE"
                  },
                  "record_type": {
                   "type": "string",
                   "description": "More detailed type information, for example the record type on snowflake records",
                   "example": "Typeform"
                  }
                 }
                },
                "addresses": {
                 "type": "array",
                 "description": "Addresses for the Business. These are also reflected in Offices for the Company.",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "UUID for the address",
                    "example": "2975a9c3-f28b-4eb6-a29a-2332e73b3ad7"
                   },
                   "name": {
                    "type": "string",
                    "description": "Address Name",
                    "example": "Main Office"
                   },
                   "address1": {
                    "type": "string",
                    "description": "Business Street Address",
                    "example": "6309 Carpinteria Ave"
                   },
                   "address2": {
                    "type": "string",
                    "description": "Street Address Line 2",
                    "example": "Suite 100"
                   },
                   "city": {
                    "type": "string",
                    "description": "Address City",
                    "example": "Carpinteria"
                   },
                   "latitude": {
                    "type": "number",
                    "description": "Latitude of the Address",
                    "example": 42.39996
                   },
                   "longitude": {
                    "type": "number",
                    "description": "Longitude of the Address",
                    "example": -84.35104
                   },
                   "province": {
                    "type": "string",
                    "description": "Address State or Province",
                    "example": "CA"
                   },
                   "postal_code1": {
                    "type": "string",
                    "description": "Address Primary Zip Code or Other Postal Code",
                    "example": "93013"
                   },
                   "country_code": {
                    "type": "string",
                    "description": "Country Code",
                    "example": "US"
                   },
                   "phone_number": {
                    "type": "string",
                    "description": "Business Phone Number",
                    "example": "+1-517-936-7923"
                   },
                   "fax_number": {
                    "type": "string",
                    "description": "Business Fax Number",
                    "example": "+1-517-936-7923"
                   },
                   "primary": {
                    "type": "boolean",
                    "description": "Indicates whether this is the primary address for the Business. This is also the Main Office of the company.",
                    "example": true
                   },
                   "address_types": {
                    "type": "array",
                    "description": "Address Types",
                    "items": {
                     "type": "string",
                     "example": "office"
                    }
                   }
                  }
                 }
                },
                "provided_services": {
                 "type": "array",
                 "description": "Services the Business Provides",
                 "items": {
                  "type": "object",
                  "properties": {
                   "id": {
                    "type": "string",
                    "description": "Provided Service UUID",
                    "example": "245acd0d-a3e1-4b8d-8891-7fdc364910ec"
                   },
                   "key": {
                    "type": "string",
                    "description": "i18n key for the name of the Provided Service",
                    "example": "existing_material_assessment"
                   },
                   "path": {
                    "type": "string",
                    "description": "The keys of the Provided Service hierarchy, e.g. key1#key2#key3",
                    "example": "professional_and_business_services#assessments_and_studies#existing_material_assessment"
                   },
                   "level": {
                    "type": "string",
                    "description": "The name of this Provided Service's level, ex. 'trade' or 'category'",
                    "example": "specialty"
                   }
                  }
                 }
                },
                "construction_sectors": {
                 "type": "array",
                 "description": "Construction Sectors this Business works in",
                 "items": {
                  "type": "string",
                  "example": "industrial_and_energy"
                 }
                },
                "business_types": {
                 "type": "array",
                 "description": "Business Types this Business falls under",
                 "items": {
                  "type": "string",
                  "example": "general_contractor"
                 }
                },
                "project_types": {
                 "type": "array",
                 "description": "Project Types this Business falls under",
                 "items": {
                  "type": "string",
                  "example": "seaport"
                 }
                },
                "classifications": {
                 "type": "array",
                 "description": "Classifications this Business falls under",
                 "items": {
                  "type": "object",
                  "properties": {
                   "abbreviation": {
                    "type": "string",
                    "description": "Abbreviation of the Classification",
                    "example": "SBE"
                   },
                   "key": {
                    "type": "string",
                    "description": "Identifier key of the Classification",
                    "example": "SBE"
                   },
                   "name": {
                    "type": "string",
                    "description": "Name of the Classification",
                    "example": "Small Business"
                   }
                  }
                 }
                },
                "coverage_areas": {
                 "type": "array",
                 "description": "Business area coverage",
                 "items": {
                  "type": "object",
                  "properties": {
                   "country_code": {
                    "type": "string",
                    "description": "Country Code",
                    "example": "US"
                   },
                   "google_place_id": {
                    "type": "string",
                    "description": "Google Place ID",
                    "example": "ChIJL4iEQEoS6YAR04viVA12TNw"
                   },
                   "admin1": {
                    "type": "string",
                    "description": "State (Province)",
                    "example": "CA"
                   },
                   "admin2": {
                    "type": "string",
                    "description": "County",
                    "example": "Orange County"
                   },
                   "admin3": {
                    "type": "string",
                    "description": "Not used in US",
                    "example": null,
                    "nullable": true
                   },
                   "admin4": {
                    "type": "string",
                    "description": "Not used in US",
                    "example": null,
                    "nullable": true
                   },
                   "locality": {
                    "type": "string",
                    "description": "Locality (City)",
                    "example": "Anaheim Hills"
                   },
                   "selected_level": {
                    "type": "string",
                    "description": "The admin level that was originally chosen by user",
                    "example": "locality"
                   }
                  }
                 }
                },
                "claimed": {
                 "type": "boolean",
                 "description": "Indicates whether the Business has been claimed by a user",
                 "example": true
                },
                "Tags": {
                 "type": "object",
                 "description": "Tags to indicate the current status of business",
                 "properties": {
                  "claim_status": {
                   "type": "string",
                   "description": "Indicates that a claim request was made for the business and request is in consideration",
                   "enum": [
                    "PENDING",
                    "APPROVED"
                   ]
                  },
                  "approval_status": {
                   "type": "string",
                   "description": "Indicates that an approval request was made for the business and request is in consideration",
                   "enum": [
                    "PENDING",
                    "APPROVED",
                    "REJECTED"
                   ]
                  },
                  "publishable": {
                   "type": "string",
                   "description": "Indicates that a business can be published",
                   "enum": [
                    "true",
                    "false"
                   ]
                  }
                 }
                },
                "start_of_operations": {
                 "type": "string",
                 "description": "Date when the business started operations",
                 "example": "2023-10-24",
                 "format": "date",
                 "nullable": true
                },
                "updated_by": {
                 "type": "string",
                 "description": "E-mail of last user to update a PCN profile",
                 "example": "samantha@example.com",
                 "nullable": true
                },
                "published_at": {
                 "type": "string",
                 "description": "Datetime of when the business published its PCN profile",
                 "example": "2024-10-03T20:40:59Z",
[...]
