{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Area Bids",
  "x-product-category": "Preconstruction",
  "x-tool-category": "Bid Management",
  "x-resource-name": "Project Area Bids",
  "version": "2.0",
  "x-product-lines": [
   "PM Essentials",
   "Construction Financials"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/bids": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List Bids within a Project",
    "description": "Return a list of Bids within a Project.",
    "tags": [
     "Project Area Bids"
    ],
    "parameters": [
     {
      "name": "company_id",
      "in": "path",
      "description": "Unique identifier for the company.",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "required": false,
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "description": "Data",
         "properties": {
          "data": {
           "type": "array",
           "description": "Array of Bids",
           "items": {
            "type": "object",
            "description": "Project Area Bid",
            "properties": {
             "id": {
              "type": "string",
              "description": "ID",
              "example": "75414"
             },
             "bid_package_id": {
              "type": "string",
              "description": "Bid Package ID",
              "example": "91011"
             },
             "bid_package_title": {
              "type": "string",
              "description": "Bid Package title",
              "example": "Test Bid documents email link from correspondence"
             },
             "bid_form_title": {
              "type": "string",
              "description": "Bid Form Title",
              "example": "Bid Form Title"
             },
             "bid_form_id": {
              "type": "string",
              "description": "Bid Form ID",
              "example": "12345",
              "nullable": true
             },
             "bid_status": {
              "type": "string",
              "description": "Bid status",
              "enum": [
               "undecided",
               "will_not_bid",
               "will_bid",
               "not_invited",
               "submitted"
              ]
             },
             "awarded": {
              "type": "boolean",
              "description": "Bid awarded to vendor",
              "example": false,
              "nullable": true
             },
             "company_id": {
              "type": "string",
              "description": "Company ID",
              "example": "3355"
             },
             "invitation_last_sent_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date/time the Bid Package invitation was last sent",
              "example": "2012-10-23T21:39:40Z",
              "nullable": true
             },
             "is_bidder_committed": {
              "type": "boolean",
              "description": "Bidder committed",
              "example": true,
              "nullable": true
             },
             "lump_sum_amount": {
              "type": "number",
              "format": "float",
              "description": "Lump sum (overall) amount",
              "example": 200.5
             },
             "lump_sum_enabled": {
              "type": "boolean",
              "description": "Lump sum bidding enabled",
              "example": false
             },
             "submitted": {
              "type": "boolean",
              "description": "Vendor submitted Bid",
              "example": true
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date/time the Bid Package was created",
              "example": "2012-10-23T21:39:40Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date/time the Bid Package was last updated",
              "example": "2012-10-24T21:39:40Z"
             },
             "due_date": {
              "type": "string",
              "format": "date-time",
              "description": "Due Date",
              "example": "2016-12-13T03:00:00Z"
             },
             "bidder_comments": {
              "type": "string",
              "description": "Comments",
              "example": "Test Bid",
              "nullable": true
             },
             "require_nda": {
              "type": "boolean",
              "description": "Whether the bid requires NDA",
              "example": false
             },
             "display_project_name": {
              "type": "boolean",
              "description": "Whether to display project name before NDA is signed",
              "example": true
             },
             "nda_first_name": {
              "type": "string",
              "description": "NDA signer first name",
              "example": "John",
              "nullable": true
             },
             "nda_last_name": {
              "type": "string",
              "description": "NDA signer last name",
              "example": "Doe",
              "nullable": true
             },
             "nda_updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date/time when NDA was last updated",
              "example": "2012-10-23T21:39:40Z",
              "nullable": true
             },
             "nda_status": {
              "type": "string",
              "description": "NDA status",
              "enum": [
               "viewed",
               "downloaded",
               "signed",
               "declined"
              ],
              "nullable": true
             },
             "nda_signed_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date/time when NDA was signed",
              "example": "2012-10-23T21:39:40Z",
              "nullable": true
             },
             "nda_email_last_sent_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date/time when NDA email was last sent",
              "example": "2012-10-23T21:39:40Z",
              "nullable": true
             },
             "bid_requester": {
              "type": "object",
              "description": "Bid Requester Info",
              "properties": {
               "company": {
                "type": "string",
                "description": "The bid requesters company name",
                "example": "Demo Company 1"
               },
               "contact": {
                "type": "string",
                "description": "The bid requester's contact information",
                "example": "John Doe ((503)744-3200 ext. 1234)"
               },
               "company_address": {
                "type": "string",
                "description": "Bid requesters company address",
                "example": "123 Campus Way Carpinteria, CA 91303"
               },
               "company_phone": {
                "type": "string",
                "description": "Bid requesters company phone",
                "example": 8051231234,
                "nullable": true
               },
               "company_website": {
                "type": "string",
                "description": "Bid requesters company website",
                "example": "https://www.procore.com/",
                "nullable": true
               },
               "email_address": {
                "type": "string",
                "description": "Bid requesters email_address",
                "example": "joe.doe@example.com"
               },
               "first_name": {
                "type": "string",
                "description": "Bid requesters first_name",
                "example": "Joe"
               },
               "last_name": {
                "type": "string",
                "description": "Bid requesters last_name",
                "example": "Doe"
               },
               "mobile_phone": {
                "type": "string",
                "description": "Bid requesters mobile number",
                "example": 8051231234,
                "nullable": true
               },
               "vendor_address": {
                "type": "string",
                "description": "Bid requesters company address",
                "example": "6309 Carpinteria Ave."
               },
               "business_phone": {
                "type": "string",
                "description": "Bid requesters company phone number",
                "example": 8051231234,
                "nullable": true
               },
               "fax_number": {
                "type": "string",
                "description": "Bid requesters company fax number",
                "example": 8051231234,
                "nullable": true
               }
              }
             },
             "vendor": {
              "type": "object",
              "description": "Bid Vendor Info",
              "properties": {
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Demo Company 1"
               },
               "avatar_url": {
                "type": "string",
                "description": "Link to avatar picture",
                "example": "https://s3.amazonaws.com/pro-core.com/prostore/20160422154654_production_397508974.png",
                "nullable": true
               },
               "trades": {
                "type": "string",
                "description": "List of trades for the vendor",
                "example": "General Conditions",
                "nullable": true
               }
              }
             },
             "project": {
              "type": "object",
              "description": "Project Info",
              "properties": {
               "name": {
                "type": "string",
                "description": "Name",
                "example": "Project 1"
               },
               "address": {
                "type": "string",
                "description": "Address",
                "example": "One Space Way<br>Risa SB12<br>United States"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "HTTP status in screaming snake case (like BAD_REQUEST)"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing error."
            },
            "details": {
             "type": "array",
             "description": "Additional information about the error.",
             "items": {
              "type": "object",
              "required": [
               "reason_code",
               "message"
              ],
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "A machine-readable code that identifies the error specifically enough for the client to interpret what happened and take action.",
                "example": "BLANK"
               },
               "message": {
                "type": "string",
                "description": "Human readable message",
                "example": "Name can't be blank"
               },
               "source": {
                "type": "string",
                "description": "Source of the error",
                "example": "name"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/bids',\n  qs: {page: 'SOME_INTEGER_VALUE', per_page: 'SOME_INTEGER_VALUE'},\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/bids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/bids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/bids?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Expose endpoint as public beta: List Bids within a Project",
      "description": "Expose endpoint as public beta: List Bids within a Project",
      "endpoint": "GET /companies/{company_id}/projects/{project_id}/bids",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2026-04-22",
      "versions": [
       "2.0"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "project-area-bids?version=2.0#list-bids-within-a-project"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  }
 }
}