{
 "openapi": "3.0.0",
 "info": {
  "title": "Project Checklist Templates",
  "x-product-category": "Project Management",
  "x-tool-category": "Inspections",
  "x-resource-name": "Project Checklist Templates",
  "version": "1.1",
  "x-product-lines": [
   "Total Quality and Safety Management"
  ]
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v1.1/projects/{project_id}/checklist/list_templates": {
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "List Project Checklist Templates",
    "description": "Returns a list of all Inspection Checklist Templates for a specified Project.\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.\nNote: A User with read-only and above permissions to Inspections has access to this endpoint and the URL to individual templates on the web",
    "tags": [
     "Checklists (Inspections)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[inspection_type_id]",
      "in": "query",
      "description": "Array of Inspection Type IDs. Return item(s) associated with the specified Inspection Type IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 4
       }
      }
     },
     {
      "name": "filters[needs_update]",
      "in": "query",
      "description": "Boolean. Return template(s) whose configuration is in need of updates.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "filters[response_set_id]",
      "in": "query",
      "description": "Array of Item Response Set IDs. Return list template(s) whose items are associated with the given Response Set IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 4
       }
      }
     },
     {
      "name": "filters[trade_ids]",
      "in": "query",
      "description": "Array of Trade IDs. Returns item(s) with the specified Trade IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sorts the list of Checklist Templates on the attribute given. By default the list is in ascending order. Use '-attribute' to sort in descending order.\nEx. 'sort=-trade'.",
      "schema": {
       "type": "string",
       "enum": [
        "inspection_type",
        "name",
        "trade"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "title": "Array of Checklist Templates",
         "type": "array",
         "items": {
          "title": "Project Checklist Template",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 142
           },
           "name": {
            "type": "string",
            "description": "Name",
            "example": "Window Inspection"
           },
           "deletable": {
            "type": "boolean",
            "description": "Deletable",
            "example": false
           },
           "company_description": {
            "type": "string",
            "description": "Company Description",
            "example": "Checklist for windows"
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Checklist for circular windows"
           },
           "parent_inspection_item_id": {
            "type": "integer",
            "description": "Parent Inspection Item ID",
            "example": 34
           },
           "number": {
            "type": "string",
            "description": "Number",
            "example": "1.1"
           },
           "relative_position": {
            "type": "integer",
            "description": "Relative Position",
            "example": 2
           },
           "display_conditions": {
            "type": "array",
            "description": "Display Conditions",
            "items": {
             "title": "InspectionItemDisplayCondition",
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 1
              },
              "child_item_id": {
               "type": "integer",
               "description": "Child Inspection Item ID",
               "example": 34
              },
              "status_ids": {
               "type": "array",
               "description": "Status IDs",
               "items": {
                "type": "integer"
               }
              },
              "response_option_ids": {
               "type": "array",
               "description": "Response Option IDs",
               "items": {
                "type": "integer"
               }
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Represents when the Item Display Condition was created",
               "example": "2024-10-02T21:00:00Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Represents when the Item Display Condition was last updated",
               "example": "2024-10-02T21:00:00Z"
              }
             }
            }
           },
           "trade": {
            "type": "object",
            "title": "Trade",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "synced_to": {
            "type": "object",
            "properties": {
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 1
             },
             "list_template_id": {
              "type": "integer",
              "description": "Company List Template ID that List Template is Synced to",
              "example": 2
             }
            }
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of creation",
            "example": "2014-12-10T23:36:30Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last update",
            "example": "2014-12-11T04:58:42Z"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/list_templates',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[inspection_type_id]': 'SOME_ARRAY_VALUE',\n    'filters[needs_update]': 'SOME_BOOLEAN_VALUE',\n    'filters[response_set_id]': 'SOME_ARRAY_VALUE',\n    'filters[trade_ids]': 'SOME_ARRAY_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/checklist/list_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Binspection_type_id%5D=SOME_ARRAY_VALUE&filters%5Bneeds_update%5D=SOME_BOOLEAN_VALUE&filters%5Bresponse_set_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_ids%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/list_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Binspection_type_id%5D=SOME_ARRAY_VALUE&filters%5Bneeds_update%5D=SOME_BOOLEAN_VALUE&filters%5Bresponse_set_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_ids%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/list_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Binspection_type_id%5D=SOME_ARRAY_VALUE&filters%5Bneeds_update%5D=SOME_BOOLEAN_VALUE&filters%5Bresponse_set_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_ids%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Checklist Templates list endpoint",
      "description": "Get a list of Project Checklist Templates for a given project.\nRemoved `default_response_phrasing` from JSON response. Default type Checklist Template Items now have a Response Set.\nDeprecated keys:\n  - list_template[alternative_response_set_id]\n  - list_template[response_set]",
      "endpoint": "GET /projects/{project_id}/checklist/list_templates",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-05-31",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "project-checklist-templates?version=1.1#list-project-checklist-templates"
     },
     {
      "summary": "Added deleted field to List Project Checklist Templates response",
      "description": "Added deleted field to List Project Checklist Templates response returning true when the template can be deleted and false otherwise.",
      "endpoint": "GET /projects/{project_id}/checklist/list_templates",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2023-01-31",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "project-checklist-templates?version=1.1#list-project-checklist-templates"
     },
     {
      "summary": "Added Display Condition fields to List Project Checklist Templates",
      "description": "Added parent_item_id, number, relative_position, and display_condition fields to List Project Checklist Templates.",
      "endpoint": "GET /projects/{project_id}/checklist/list_templates",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-12",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "project-checklist-templates?version=1.1#list-project-checklist-templates"
     }
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/checklist/list_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Checklist Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "summary": "Show Project Checklist Template",
    "description": "Shows an Inspection Checklist Template.\nNote: A User with read-only and above permissions to Inspections has access to this endpoint and the URL to the template on the web",
    "tags": [
     "Checklists (Inspections)"
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Project Checklist Template",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Window Inspection"
            },
            "deletable": {
             "type": "boolean",
             "description": "Deletable",
             "example": false
            },
            "company_description": {
             "type": "string",
             "description": "Company Description",
             "example": "Checklist for windows"
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Checklist for circular windows"
            },
            "parent_inspection_item_id": {
             "type": "integer",
             "description": "Parent Inspection Item ID",
             "example": 34
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "1.1"
            },
            "relative_position": {
             "type": "integer",
             "description": "Relative Position",
             "example": 2
            },
            "display_conditions": {
             "type": "array",
             "description": "Display Conditions",
             "items": {
              "title": "InspectionItemDisplayCondition",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1
               },
               "child_item_id": {
                "type": "integer",
                "description": "Child Inspection Item ID",
                "example": 34
               },
               "status_ids": {
                "type": "array",
                "description": "Status IDs",
                "items": {
                 "type": "integer"
                }
               },
               "response_option_ids": {
                "type": "array",
                "description": "Response Option IDs",
                "items": {
                 "type": "integer"
                }
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Represents when the Item Display Condition was created",
                "example": "2024-10-02T21:00:00Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Represents when the Item Display Condition was last updated",
                "example": "2024-10-02T21:00:00Z"
               }
              }
             }
            },
            "trade": {
             "type": "object",
             "title": "Trade",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "synced_to": {
             "type": "object",
             "properties": {
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 1
              },
              "list_template_id": {
               "type": "integer",
               "description": "Company List Template ID that List Template is Synced to",
               "example": 2
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "carl.contractor@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "company_attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "Sections",
             "items": {
              "allOf": [
               {
                "title": "Checklist Template Section",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 142
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Fall Protection and Perimeter Protection"
                 },
                 "position": {
                  "type": "integer",
                  "description": "Position",
                  "example": 2
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "items": {
                  "type": "array",
                  "items": {
                   "allOf": [
                    {
                     "title": "Checklist Template Item",
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "ID",
                       "example": 2
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "Item 1"
                      },
                      "section_id": {
                       "type": "integer",
                       "description": "Checklist Template Section ID",
                       "example": 21
                      },
                      "position": {
                       "type": "integer",
                       "description": "Position",
                       "example": 1
                      },
                      "response_set": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "ID of the response set",
                         "example": 83
                        },
                        "name": {
                         "type": "string",
                         "description": "Name of the response set",
                         "example": "Safety Responses"
                        },
                        "responses": {
                         "type": "array",
                         "items": {
                          "title": "Checklist Response",
                          "type": "object",
                          "properties": {
                           "id": {
                            "type": "integer",
                            "description": "ID",
                            "example": 1
                           },
                           "item_status_id": {
                            "type": "integer",
                            "description": "Checklist Item Status ID",
                            "example": 1
                           },
                           "name": {
                            "type": "string",
                            "description": "The name of the Response",
                            "example": "Safe - Knowledge"
                           },
                           "corresponding_status": {
                            "type": "string",
                            "description": "Corresponding Checklist Item status",
                            "enum": [
                             "yes",
                             "no",
                             "n/a"
                            ],
                            "example": "yes"
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    },
                    {
                     "type": "object",
                     "properties": {
                      "details": {
                       "type": "string",
                       "description": "Additional information about item",
                       "example": "+/- 1 degrees"
                      },
                      "company_template_item_details": {
                       "type": "string",
                       "description": "Details from the company template item",
                       "example": "+/- 1 degrees"
                      },
                      "synced_to": {
                       "type": "object",
                       "properties": {
                        "company_id": {
                         "type": "integer",
                         "description": "Company ID",
                         "example": 1
                        },
                        "item_id": {
                         "type": "integer",
                         "description": "Company Template Item ID that Template Item is Synced to",
                         "example": 73
                        }
                       }
                      }
                     }
                    }
                   ]
                  }
                 },
                 "synced_to": {
                  "type": "object",
                  "properties": {
                   "company_id": {
                    "type": "integer",
                    "description": "Company ID",
                    "example": 1
                   },
                   "section_id": {
                    "type": "integer",
                    "description": "Company Template Section ID that Template Section is Synced to",
                    "example": 14
                   }
                  }
                 }
                }
               }
              ]
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/list_templates/%7Bid%7D',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.1/projects/%7Bproject_id%7D/checklist/list_templates/%7Bid%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/list_templates/%7Bid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/checklist/list_templates/%7Bid%7D\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Project Checklist Template show endpoint",
      "description": "View a Project Checklist Template for a given project.\nRemoved `default_response_phrasing` from JSON response. Default type Checklist Template Items now have a Response Set.\nDeprecated keys:\n  - item[response_type_id]\n  - list_template[alternative_response_set_id]\n  - list_template[response_set]",
      "endpoint": "GET /projects/{project_id}/checklist/list_templates/{id}",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-05-31",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "project-checklist-templates?version=1.1#show-project-checklist-template"
     },
     {
      "summary": "Added Display Condition fields to List Project Checklist Template show",
      "description": "Added parent_item_id, number, relative_position, and display_condition fields to List Project Checklist Template show.",
      "endpoint": "GET /projects/{project_id}/checklist/list_templates/{id}",
      "type": "refinement",
      "breaking": false,
      "datestamp": "2024-12-12",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "beta",
       "exposure": "public"
      },
      "link": "project-checklist-templates?version=1.1#show-project-checklist-template"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.1/projects/{project_id}/recycle_bin/checklist/list_templates/{id}/restore": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Checklist Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Restore Recycled Checklist Template",
    "description": "Restores the specified Checklist Template from the Recycle Bin.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "404": {
      "description": "Not Found",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "422": {
      "description": "Unprocessable Entity",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'PATCH',\n  url: 'https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/checklist/list_templates/%7Bid%7D/restore',\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"PATCH\", \"/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/checklist/list_templates/%7Bid%7D/restore\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request PATCH \\\n  --url https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/checklist/list_templates/%7Bid%7D/restore \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Patch,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.1/projects/%7Bproject_id%7D/recycle_bin/checklist/list_templates/%7Bid%7D/restore\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ],
    "x-changelog": [
     {
      "summary": "Added Recycled Project Checklist Template restore endpoint",
      "description": "Restore a Recycled Checklist Template for a given project.",
      "endpoint": "PATCH /projects/{project_id}/recycle_bin/checklist/list_templates/{id}/restore",
      "type": "new",
      "breaking": false,
      "datestamp": "2022-05-31",
      "versions": [
       "1.1"
      ],
      "x-doc": {
       "visibility": "public",
       "stage": "ga",
       "exposure": "public"
      },
      "link": "project-checklist-templates?version=1.1#restore-recycled-checklist-template"
     }
    ]
   },
   "x-compliance-level": "full"
  },
  "/rest/v1.0/projects/{project_id}/checklist/list_templates": {
   "post": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Create Project Checklist Template",
    "description": "Creates a Project Inspection Template for a specified Project.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "ChecklistTemplateBody",
        "type": "object",
        "required": [
         "list_template"
        ],
        "properties": {
         "list_template": {
          "title": "Checklist Template",
          "type": "object",
          "description": "Checklist Template object",
          "properties": {
           "description": {
            "type": "string",
            "description": "Description"
           },
           "inspection_type_id": {
            "type": "integer",
            "description": "The ID of an Inspection Type"
           },
           "alternative_response_set_id": {
            "type": "integer",
            "description": "The ID of an Alternative Response Set",
            "example": 1
           },
           "name": {
            "type": "string",
            "description": "Name"
           },
           "trade_id": {
            "type": "integer",
            "description": "The ID of a Trade"
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Checklist Template's Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "format": "binary"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Project Checklist Template",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Window Inspection"
            },
            "company_description": {
             "type": "string",
             "description": "Company Description",
             "example": "Checklist for windows",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Checklist for circular windows"
            },
            "parent_inspection_item_id": {
             "type": "integer",
             "description": "Parent Inspection Item ID",
             "example": 34
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "1.1"
            },
            "relative_position": {
             "type": "integer",
             "description": "Relative Position",
             "example": 2
            },
            "display_conditions": {
             "type": "array",
             "description": "Display Conditions",
             "items": {
              "title": "InspectionItemDisplayCondition",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1
               },
               "child_item_id": {
                "type": "integer",
                "description": "Child Inspection Item ID",
                "example": 34
               },
               "status_ids": {
                "type": "array",
                "description": "Status IDs",
                "items": {
                 "type": "integer"
                }
               },
               "response_option_ids": {
                "type": "array",
                "description": "Response Option IDs",
                "items": {
                 "type": "integer"
                }
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Represents when the Item Display Condition was created",
                "example": "2024-10-02T21:00:00Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Represents when the Item Display Condition was last updated",
                "example": "2024-10-02T21:00:00Z"
               }
              }
             }
            },
            "inspection_type": {
             "type": "object",
             "title": "Inspection Type",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 142
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Safety Compliance"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2014-12-10T23:36:30Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2014-12-11T04:58:42Z"
              }
             }
            },
            "trade": {
             "type": "object",
             "title": "Trade",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "synced_to": {
             "type": "object",
             "nullable": true,
             "properties": {
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 1
              },
              "list_template_id": {
               "type": "integer",
               "description": "Company List Template ID that List Template is Synced to",
               "example": 2
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "alternative_response_set_id": {
             "type": "integer",
             "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
             "example": 123,
             "nullable": true
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "exampleuser@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "response_set": {
             "title": "ChecklistDefaultResponseSet",
             "type": "object",
             "properties": {
              "conforming_response": {
               "type": "string",
               "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
               "example": "Pass"
              },
              "deficient_response": {
               "type": "string",
               "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
               "example": "Fail"
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a response set has been provided by Procore.",
               "example": true
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "Sections",
             "items": {
              "allOf": [
               {
                "title": "Checklist Template Section",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 142
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Fall Protection and Perimeter Protection"
                 },
                 "position": {
                  "type": "integer",
                  "description": "Position",
                  "example": 2
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "items": {
                  "type": "array",
                  "items": {
                   "allOf": [
                    {
                     "title": "Checklist Template Item",
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "ID",
                       "example": 2
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "Item 1"
                      },
                      "section_id": {
                       "type": "integer",
                       "description": "Checklist Template Section ID",
                       "example": 21
                      },
                      "position": {
                       "type": "integer",
                       "description": "Position",
                       "example": 1
                      },
                      "response_set": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "ID of the response set",
                         "example": 83
                        },
                        "name": {
                         "type": "string",
                         "description": "Name of the response set",
                         "example": "Safety Responses"
                        },
                        "responses": {
                         "type": "array",
                         "items": {
                          "title": "ChecklistResponse",
                          "type": "object",
                          "properties": {
                           "id": {
                            "type": "integer",
                            "description": "ID",
                            "example": 1
                           },
                           "name": {
                            "type": "string",
                            "description": "The name of the Response",
                            "example": "Safe - Knowledge"
                           },
                           "corresponding_status": {
                            "type": "string",
                            "description": "Corresponding Checklist Item status",
                            "enum": [
                             "yes",
                             "no",
                             "n/a",
                             "none"
                            ],
                            "example": "yes"
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    },
                    {
                     "type": "object",
                     "properties": {
                      "details": {
                       "type": "string",
                       "description": "Additional information about item",
                       "example": "+/- 1 degrees"
                      },
                      "synced_to": {
                       "type": "object",
                       "properties": {
                        "company_id": {
                         "type": "integer",
                         "description": "Company ID",
                         "example": 1
                        },
                        "item_id": {
                         "type": "integer",
                         "description": "Company Template Item ID that Template Item is Synced to",
                         "example": 73
                        }
                       }
                      }
                     }
                    }
                   ]
                  }
                 },
                 "synced_to": {
                  "type": "object",
                  "properties": {
                   "company_id": {
                    "type": "integer",
                    "description": "Company ID",
                    "example": 1
                   },
                   "section_id": {
                    "type": "integer",
                    "description": "Company Template Section ID that Template Section is Synced to",
                    "example": 14
                   }
                  }
                 }
                }
               }
              ]
             }
            },
            "company_attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "mimeType": "application/json",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/list_templates',\n  headers: {\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN',\n    'content-type': 'application/json'\n  },\n  body: {\n    list_template: {\n      description: 'string',\n      inspection_type_id: 0,\n      alternative_response_set_id: 1,\n      name: 'string',\n      trade_id: 0\n    },\n    attachments: ['string']\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "mimeType": "application/json",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\npayload = \"{\\\"list_template\\\":{\\\"description\\\":\\\"string\\\",\\\"inspection_type_id\\\":0,\\\"alternative_response_set_id\\\":1,\\\"name\\\":\\\"string\\\",\\\"trade_id\\\":0},\\\"attachments\\\":[\\\"string\\\"]}\"\n\nheaders = {\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/rest/v1.0/projects/%7Bproject_id%7D/checklist/list_templates\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "mimeType": "application/json",
      "title": "Curl",
      "content": "curl --request POST \\\n  --url https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/list_templates \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"list_template\":{\"description\":\"string\",\"inspection_type_id\":0,\"alternative_response_set_id\":1,\"name\":\"string\",\"trade_id\":0},\"attachments\":[\"string\"]}'"
     },
     {
      "id": "csharp_httpclient",
      "mimeType": "application/json",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Post,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/list_templates\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n    Content = new StringContent(\"{\\\"list_template\\\":{\\\"description\\\":\\\"string\\\",\\\"inspection_type_id\\\":0,\\\"alternative_response_set_id\\\":1,\\\"name\\\":\\\"string\\\",\\\"trade_id\\\":0},\\\"attachments\\\":[\\\"string\\\"]}\")\n    {\n        Headers =\n        {\n            ContentType = new MediaTypeHeaderValue(\"application/json\")\n        }\n    }\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "full",
   "get": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "List Project Checklist Templates",
    "description": "Returns a list of all Inspection Checklist Templates for a specified Project.\nSee [Filtering on List Actions](https://developers.procore.com/documentation/filtering-on-list-actions) for information on using the filtering capabilities provided by this endpoint.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "description": "Unique identifier for the project.",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "page",
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "per_page",
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "filters[inspection_type_id]",
      "in": "query",
      "description": "Array of Inspection Type IDs. Return item(s) associated with the specified Inspection Type IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 4
       }
      }
     },
     {
      "name": "filters[response_set_id]",
      "in": "query",
      "description": "Array of Item Response Set IDs. Return list template(s) whose items are associated with the given Response Set IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "example": 4
       }
      }
     },
     {
      "name": "filters[trade_ids]",
      "in": "query",
      "description": "Array of Trade IDs. Returns item(s) with the specified Trade IDs.",
      "style": "form",
      "explode": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "integer"
       }
      }
     },
     {
      "name": "filters[query]",
      "in": "query",
      "description": "Return item(s) containing search query",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort",
      "in": "query",
      "description": "Sorts the list of Checklist Templates on the attribute given. By default the list is in ascending order. Use '-attribute' to sort in descending order.\nEx. 'sort=-trade'.",
      "schema": {
       "type": "string",
       "enum": [
        "inspection_type",
        "name",
        "trade"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "integer"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "integer"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next, and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "title": "Array of Checklist Templates",
         "type": "array",
         "items": {
          "title": "Project Checklist Template",
          "type": "object",
          "properties": {
           "id": {
            "type": "integer",
            "description": "ID",
            "example": 142
           },
           "name": {
            "type": "string",
            "description": "Name",
            "example": "Window Inspection"
           },
           "company_description": {
            "type": "string",
            "description": "Company Description",
            "example": "Checklist for windows",
            "nullable": true
           },
           "description": {
            "type": "string",
            "description": "Description",
            "example": "Checklist for circular windows"
           },
           "parent_inspection_item_id": {
            "type": "integer",
            "description": "Parent Inspection Item ID",
            "example": 34
           },
           "number": {
            "type": "string",
            "description": "Number",
            "example": "1.1"
           },
           "relative_position": {
            "type": "integer",
            "description": "Relative Position",
            "example": 2
           },
           "display_conditions": {
            "type": "array",
            "description": "Display Conditions",
            "items": {
             "title": "InspectionItemDisplayCondition",
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 1
              },
              "child_item_id": {
               "type": "integer",
               "description": "Child Inspection Item ID",
               "example": 34
              },
              "status_ids": {
               "type": "array",
               "description": "Status IDs",
               "items": {
                "type": "integer"
               }
              },
              "response_option_ids": {
               "type": "array",
               "description": "Response Option IDs",
               "items": {
                "type": "integer"
               }
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Represents when the Item Display Condition was created",
               "example": "2024-10-02T21:00:00Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Represents when the Item Display Condition was last updated",
               "example": "2024-10-02T21:00:00Z"
              }
             }
            }
           },
           "inspection_type": {
            "type": "object",
            "title": "Inspection Type",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "ID",
              "example": 142
             },
             "name": {
              "type": "string",
              "description": "Name",
              "example": "Safety Compliance"
             },
             "created_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of creation",
              "example": "2014-12-10T23:36:30Z"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update",
              "example": "2014-12-11T04:58:42Z"
             }
            }
           },
           "trade": {
            "type": "object",
            "title": "Trade",
            "nullable": true,
            "properties": {
             "id": {
              "type": "integer",
              "description": "Trade ID",
              "example": 999
             },
             "name": {
              "type": "string",
              "description": "Trade name",
              "example": "09 - acoustical panels"
             },
             "active": {
              "type": "boolean",
              "description": "Trade availability",
              "example": true
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "description": "Timestamp of last update to Trade",
              "example": "2016-08-01T23:33:54Z"
             }
            }
           },
           "synced_to": {
            "type": "object",
            "nullable": true,
            "properties": {
             "company_id": {
              "type": "integer",
              "description": "Company ID",
              "example": 1
             },
             "list_template_id": {
              "type": "integer",
              "description": "Company List Template ID that List Template is Synced to",
              "example": 2
             }
            }
           },
           "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of creation",
            "example": "2014-12-10T23:36:30Z"
           },
           "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of last update",
            "example": "2014-12-11T04:58:42Z"
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "default": {
      "description": "Unexpected error",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     }
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/list_templates',\n  qs: {\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    'filters[inspection_type_id]': 'SOME_ARRAY_VALUE',\n    'filters[response_set_id]': 'SOME_ARRAY_VALUE',\n    'filters[trade_ids]': 'SOME_ARRAY_VALUE',\n    'filters[query]': 'SOME_STRING_VALUE',\n    sort: 'SOME_STRING_VALUE'\n  },\n  headers: {Authorization: 'Bearer REPLACE_BEARER_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nheaders = { 'Authorization': \"Bearer REPLACE_BEARER_TOKEN\" }\n\nconn.request(\"GET\", \"/rest/v1.0/projects/%7Bproject_id%7D/checklist/list_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Binspection_type_id%5D=SOME_ARRAY_VALUE&filters%5Bresponse_set_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_ids%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/list_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Binspection_type_id%5D=SOME_ARRAY_VALUE&filters%5Bresponse_set_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_ids%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v1.0/projects/%7Bproject_id%7D/checklist/list_templates?page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&filters%5Binspection_type_id%5D=SOME_ARRAY_VALUE&filters%5Bresponse_set_id%5D=SOME_ARRAY_VALUE&filters%5Btrade_ids%5D=SOME_ARRAY_VALUE&filters%5Bquery%5D=SOME_STRING_VALUE&sort=SOME_STRING_VALUE\"),\n    Headers =\n    {\n        { \"Authorization\", \"Bearer REPLACE_BEARER_TOKEN\" },\n    },\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   }
  },
  "/rest/v1.0/projects/{project_id}/checklist/list_templates/{id}": {
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "id",
     "in": "path",
     "description": "Checklist Template ID",
     "required": true,
     "schema": {
      "type": "integer"
     }
    },
    {
     "name": "project_id",
     "in": "path",
     "required": true,
     "description": "Unique identifier for the project.",
     "schema": {
      "type": "integer"
     }
    }
   ],
   "patch": {
    "x-doc": {
     "visibility": "public",
     "stage": "ga",
     "exposure": "public"
    },
    "summary": "Update Project Checklist Template",
    "description": "Updates an Inspection Checklist Template.",
    "tags": [
     "Checklists (Inspections)"
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "title": "ChecklistTemplateBody",
        "type": "object",
        "required": [
         "list_template"
        ],
        "properties": {
         "list_template": {
          "title": "Checklist Template",
          "type": "object",
          "description": "Checklist Template object",
          "properties": {
           "description": {
            "type": "string",
            "description": "Description"
           },
           "inspection_type_id": {
            "type": "integer",
            "description": "The ID of an Inspection Type"
           },
           "alternative_response_set_id": {
            "type": "integer",
            "description": "The ID of an Alternative Response Set",
            "example": 1
           },
           "name": {
            "type": "string",
            "description": "Name"
           },
           "trade_id": {
            "type": "integer",
            "description": "The ID of a Trade"
           }
          }
         },
         "attachments": {
          "type": "array",
          "description": "Checklist Template's Attachments.\nTo upload attachments you must upload the entire payload as `multipart/form-data` content-type and\nspecify each parameter as form-data together with `attachments[]` as files.",
          "items": {
           "type": "string",
           "format": "binary"
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "title": "Project Checklist Template",
           "type": "object",
           "properties": {
            "id": {
             "type": "integer",
             "description": "ID",
             "example": 142
            },
            "name": {
             "type": "string",
             "description": "Name",
             "example": "Window Inspection"
            },
            "company_description": {
             "type": "string",
             "description": "Company Description",
             "example": "Checklist for windows",
             "nullable": true
            },
            "description": {
             "type": "string",
             "description": "Description",
             "example": "Checklist for circular windows"
            },
            "parent_inspection_item_id": {
             "type": "integer",
             "description": "Parent Inspection Item ID",
             "example": 34
            },
            "number": {
             "type": "string",
             "description": "Number",
             "example": "1.1"
            },
            "relative_position": {
             "type": "integer",
             "description": "Relative Position",
             "example": 2
            },
            "display_conditions": {
             "type": "array",
             "description": "Display Conditions",
             "items": {
              "title": "InspectionItemDisplayCondition",
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 1
               },
               "child_item_id": {
                "type": "integer",
                "description": "Child Inspection Item ID",
                "example": 34
               },
               "status_ids": {
                "type": "array",
                "description": "Status IDs",
                "items": {
                 "type": "integer"
                }
               },
               "response_option_ids": {
                "type": "array",
                "description": "Response Option IDs",
                "items": {
                 "type": "integer"
                }
               },
               "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "Represents when the Item Display Condition was created",
                "example": "2024-10-02T21:00:00Z"
               },
               "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Represents when the Item Display Condition was last updated",
                "example": "2024-10-02T21:00:00Z"
               }
              }
             }
            },
            "inspection_type": {
             "type": "object",
             "title": "Inspection Type",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 142
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Safety Compliance"
              },
              "created_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of creation",
               "example": "2014-12-10T23:36:30Z"
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update",
               "example": "2014-12-11T04:58:42Z"
              }
             }
            },
            "trade": {
             "type": "object",
             "title": "Trade",
             "nullable": true,
             "properties": {
              "id": {
               "type": "integer",
               "description": "Trade ID",
               "example": 999
              },
              "name": {
               "type": "string",
               "description": "Trade name",
               "example": "09 - acoustical panels"
              },
              "active": {
               "type": "boolean",
               "description": "Trade availability",
               "example": true
              },
              "updated_at": {
               "type": "string",
               "format": "date-time",
               "description": "Timestamp of last update to Trade",
               "example": "2016-08-01T23:33:54Z"
              }
             }
            },
            "synced_to": {
             "type": "object",
             "nullable": true,
             "properties": {
              "company_id": {
               "type": "integer",
               "description": "Company ID",
               "example": 1
              },
              "list_template_id": {
               "type": "integer",
               "description": "Company List Template ID that List Template is Synced to",
               "example": 2
              }
             }
            },
            "created_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of creation",
             "example": "2014-12-10T23:36:30Z"
            },
            "updated_at": {
             "type": "string",
             "format": "date-time",
             "description": "Timestamp of last update",
             "example": "2014-12-11T04:58:42Z"
            }
           }
          },
          {
           "type": "object",
           "properties": {
            "alternative_response_set_id": {
             "type": "integer",
             "description": "The ID of the associated Alternative Response Set (if null, the default response set is being used)",
             "example": 123,
             "nullable": true
            },
            "created_by": {
             "type": "object",
             "properties": {
              "id": {
               "type": "integer",
               "description": "ID",
               "example": 160586
              },
              "login": {
               "type": "string",
               "description": "Email",
               "example": "exampleuser@example.com"
              },
              "name": {
               "type": "string",
               "description": "Name",
               "example": "Carl Contractor"
              }
             }
            },
            "attachments": {
             "type": "array",
             "description": "Attachments",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            },
            "response_set": {
             "title": "ChecklistDefaultResponseSet",
             "type": "object",
             "properties": {
              "conforming_response": {
               "type": "string",
               "description": "Term used to represent conforming statuses on items within the current template, e.g. \"Pass\" or \"Safe\". This maps to an item status of \"yes\".",
               "example": "Pass"
              },
              "deficient_response": {
               "type": "string",
               "description": "Term used to represent deficient statuses on items within the current template, e.g. \"Fail\" or \"At Risk\".  This maps to an item status of \"no\".",
               "example": "Fail"
              },
              "global": {
               "type": "boolean",
               "description": "Represents whether a response set has been provided by Procore.",
               "example": true
              }
             }
            },
            "sections": {
             "type": "array",
             "description": "Sections",
             "items": {
              "allOf": [
               {
                "title": "Checklist Template Section",
                "type": "object",
                "properties": {
                 "id": {
                  "type": "integer",
                  "description": "ID",
                  "example": 142
                 },
                 "name": {
                  "type": "string",
                  "description": "Name",
                  "example": "Fall Protection and Perimeter Protection"
                 },
                 "position": {
                  "type": "integer",
                  "description": "Position",
                  "example": 2
                 }
                }
               },
               {
                "type": "object",
                "properties": {
                 "items": {
                  "type": "array",
                  "items": {
                   "allOf": [
                    {
                     "title": "Checklist Template Item",
                     "type": "object",
                     "properties": {
                      "id": {
                       "type": "integer",
                       "description": "ID",
                       "example": 2
                      },
                      "name": {
                       "type": "string",
                       "description": "Name",
                       "example": "Item 1"
                      },
                      "section_id": {
                       "type": "integer",
                       "description": "Checklist Template Section ID",
                       "example": 21
                      },
                      "position": {
                       "type": "integer",
                       "description": "Position",
                       "example": 1
                      },
                      "response_set": {
                       "type": "object",
                       "properties": {
                        "id": {
                         "type": "integer",
                         "description": "ID of the response set",
                         "example": 83
                        },
                        "name": {
                         "type": "string",
                         "description": "Name of the response set",
                         "example": "Safety Responses"
                        },
                        "responses": {
                         "type": "array",
                         "items": {
                          "title": "ChecklistResponse",
                          "type": "object",
                          "properties": {
                           "id": {
                            "type": "integer",
                            "description": "ID",
                            "example": 1
                           },
                           "name": {
                            "type": "string",
                            "description": "The name of the Response",
                            "example": "Safe - Knowledge"
                           },
                           "corresponding_status": {
                            "type": "string",
                            "description": "Corresponding Checklist Item status",
                            "enum": [
                             "yes",
                             "no",
                             "n/a",
                             "none"
                            ],
                            "example": "yes"
                           }
                          }
                         }
                        }
                       }
                      }
                     }
                    },
                    {
                     "type": "object",
                     "properties": {
                      "details": {
                       "type": "string",
                       "description": "Additional information about item",
                       "example": "+/- 1 degrees"
                      },
                      "synced_to": {
                       "type": "object",
                       "properties": {
                        "company_id": {
                         "type": "integer",
                         "description": "Company ID",
                         "example": 1
                        },
                        "item_id": {
                         "type": "integer",
                         "description": "Company Template Item ID that Template Item is Synced to",
                         "example": 73
                        }
                       }
                      }
                     }
                    }
                   ]
                  }
                 },
                 "synced_to": {
                  "type": "object",
                  "properties": {
                   "company_id": {
                    "type": "integer",
                    "description": "Company ID",
                    "example": 1
                   },
                   "section_id": {
                    "type": "integer",
                    "description": "Company Template Section ID that Template Section is Synced to",
                    "example": 14
                   }
                  }
                 }
                }
               }
              ]
             }
            },
            "company_attachments": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer",
                "description": "ID",
                "example": 5324
               },
               "url": {
                "type": "string",
                "description": "URL",
                "example": "http://www.example.com/"
               },
               "filename": {
                "type": "string",
                "description": "Filename",
                "example": "january_receipt_copy.jpg"
               }
              }
             }
            }
           }
          }
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
         }
        }
       }
      }
     },
     "403": {
      "description": "Forbidden",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "code": {
           "type": "integer",
           "format": "int32"
          },
          "message": {
           "type": "string"
          },
          "fields": {
           "type": "string"
          },
          "reason": {
           "description": "A human-readable code providing additional detail on the cause of the error.",
           "type": "string"
          },
          "error": {
           "description": "Description of the error thrown.",
           "type": "string",
           "example": "Invalid Token",
           "nullable": true
          }
[...]
