{
 "openapi": "3.1.0",
 "info": {
  "title": "Project Metadata Values",
  "version": "2.0",
  "x-resource-name": "Project Metadata Values",
  "x-product-category": "Project Management",
  "x-tool-category": "Document Management"
 },
 "servers": [
  {
   "url": "https://api.procore.com"
  }
 ],
 "paths": {
  "/rest/v2.0/companies/{company_id}/projects/{project_id}/document_management/fields/{field_id_or_name}/values": {
   "get": {
    "description": "Returns a list of Metadata Values for the specified field",
    "operationId": "ProjectMetadataValuesV2Controller_getProjectMetadataValueListV2_0",
    "parameters": [
     {
      "name": "company_id",
      "required": true,
      "in": "path",
      "description": "Company ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "project_id",
      "required": true,
      "in": "path",
      "description": "Project ID",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "field_id_or_name",
      "required": true,
      "in": "path",
      "description": "Field ID or Name",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "include_inactive",
      "required": false,
      "in": "query",
      "description": "Include inactive metadata values",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "document_collection_id",
      "required": false,
      "in": "query",
      "description": "Only return metadata values that are included in the filters of the given document collection",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "upload_collection_id",
      "required": false,
      "in": "query",
      "description": "Only return metadata values that are included in the filters of the given upload collection",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "keyword",
      "required": false,
      "in": "query",
      "description": "Returns metadata values that are matched with the given keyword",
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "sort_by",
      "required": false,
      "in": "query",
      "description": "Sort by field values",
      "schema": {
       "type": "string",
       "enum": [
        "position",
        "active",
        "code",
        "label"
       ]
      }
     },
     {
      "name": "sort_order",
      "required": false,
      "in": "query",
      "description": "Sort order for the sort_by field values",
      "schema": {
       "type": "string",
       "enum": [
        "asc",
        "desc"
       ]
      }
     },
     {
      "name": "include_all",
      "required": false,
      "in": "query",
      "description": "Include all metadata values",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "include_readonly",
      "required": false,
      "in": "query",
      "description": "Include read-only metadata values",
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "page",
      "required": false,
      "in": "query",
      "description": "Page",
      "schema": {
       "type": "integer",
       "default": 1,
       "minimum": 1
      }
     },
     {
      "name": "per_page",
      "required": false,
      "in": "query",
      "description": "Elements per page",
      "schema": {
       "type": "integer",
       "default": 10,
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "locale",
      "required": false,
      "in": "query",
      "description": "Language for the response to be translated into",
      "schema": {
       "type": "string",
       "enum": [
        "de-DE",
        "en-AE",
        "en-AU",
        "en-CA",
        "en-GB",
        "en-SG",
        "en",
        "es-ES",
        "es",
        "fr-CA",
        "fr-FR",
        "is-IS",
        "ja-JP",
        "pl-PL",
        "pseudo",
        "pt-BR",
        "th-TH",
        "zh-SG",
        "zh-TW",
        "nb-NO",
        "pt-PT",
        "it-IT"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Returns Project Metadata Values",
      "headers": {
       "Per-Page": {
        "description": "Number of items retrieved per page",
        "schema": {
         "type": "number"
        }
       },
       "Total": {
        "description": "Total number of items to be retrieved",
        "schema": {
         "type": "number"
        }
       },
       "Link": {
        "description": "Link headers for the first, prev, next and last link",
        "schema": {
         "type": "string"
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "data": {
           "description": "List of project metadata values",
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string",
              "example": "01FVG7CQBPS470N4DAC1GTB1DS",
              "description": "Unique identifier for the metadata value"
             },
             "code": {
              "type": "string",
              "example": "S3",
              "description": "Code for the metadata value"
             },
             "label": {
              "type": "string",
              "example": "Suitable for review and comment",
              "description": "Label for the metadata value"
             },
             "active": {
              "type": "boolean",
              "example": true,
              "description": "Is project metadata value active"
             },
             "tags": {
              "description": "Tags associated with the metadata value",
              "type": "array",
              "items": {
               "type": "string"
              }
             },
             "field_id": {
              "type": "string",
              "example": "01FVG7CQBPS470N4DAC1GTB1DT",
              "description": "Field ID for reference metadata values (present when originId exists)"
             }
            },
            "required": [
             "id",
             "code",
             "label",
             "active",
             "tags"
            ]
           }
          }
         },
         "required": [
          "data"
         ]
        }
       }
      }
     },
     "400": {
      "description": "Bad Request\n\nPossible reason codes:\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized\n\nPossible reason codes:\n- INVALID_TOKEN",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     },
     "403": {
      "description": "Forbidden\n\nPossible reason codes:\n- ACCESS_DENIED",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "string",
             "description": "Top level HTTP error code",
             "enum": [
              "BAD_REQUEST",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "GONE",
              "METHOD_NOT_ALLOWED",
              "NOT_ACCEPTABLE",
              "CONFLICT",
              "UNPROCESSABLE_ENTITY",
              "TOO_MANY_REQUESTS",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_SERVER_ERROR"
             ],
             "example": "BAD_REQUEST"
            },
            "message": {
             "type": "string",
             "description": "Human readable message describing the HTTP error code",
             "example": "Bad Request"
            },
            "details": {
             "type": "array",
             "description": "Specific information to convey the nature and source of the error(s)",
             "items": {
              "type": "object",
              "properties": {
               "reason_code": {
                "type": "string",
                "description": "Specific code representing the details of an error.\n\nPossible reason codes:\n- ACCESS_DENIED\n- MISSING_REQUIRED_PROPERTY\n- INVALID_PROPERTY\n- INVALID_BODY\n- INVALID_TOKEN\n- INVALID_URL\n- INTERNAL_ERROR\n- NOT_FOUND\n- GONE\n- ENDPOINT_DEPRECATED\n- EXCEEDS_LIMIT",
                "example": "MISSING_REQUIRED_PROPERTY"
               },
               "source": {
                "type": "string",
                "description": "Specific field or domain identifying where this error occurred",
                "example": "first_name"
               },
               "message": {
                "type": "string",
                "description": "Human readable message describing the specific error",
                "example": "First name is a required property"
               }
              },
              "required": [
               "reason_code",
               "message"
              ]
             }
            }
           },
           "required": [
            "code",
            "message",
            "details"
           ]
          }
         },
         "required": [
          "error"
         ]
        }
       }
      }
     }
    },
    "summary": "List Project Metadata Values",
    "tags": [
     "Fields"
    ],
    "x-doc": {
     "visibility": "public",
     "stage": "beta",
     "exposure": "public"
    },
    "x-code-samples": [
     {
      "id": "node_request",
      "title": "Node.js",
      "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/fields/%7Bfield_id_or_name%7D/values',\n  qs: {\n    include_inactive: 'SOME_BOOLEAN_VALUE',\n    document_collection_id: 'SOME_STRING_VALUE',\n    upload_collection_id: 'SOME_STRING_VALUE',\n    keyword: 'SOME_STRING_VALUE',\n    sort_by: 'SOME_STRING_VALUE',\n    sort_order: 'SOME_STRING_VALUE',\n    include_all: 'SOME_BOOLEAN_VALUE',\n    include_readonly: 'SOME_BOOLEAN_VALUE',\n    page: 'SOME_INTEGER_VALUE',\n    per_page: 'SOME_INTEGER_VALUE',\n    locale: 'SOME_STRING_VALUE'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
     },
     {
      "id": "python_python3",
      "title": "Python3",
      "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.procore.com\")\n\nconn.request(\"GET\", \"/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/fields/%7Bfield_id_or_name%7D/values?include_inactive=SOME_BOOLEAN_VALUE&document_collection_id=SOME_STRING_VALUE&upload_collection_id=SOME_STRING_VALUE&keyword=SOME_STRING_VALUE&sort_by=SOME_STRING_VALUE&sort_order=SOME_STRING_VALUE&include_all=SOME_BOOLEAN_VALUE&include_readonly=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE\")\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
     },
     {
      "id": "shell_curl",
      "title": "Curl",
      "content": "curl --request GET \\\n  --url 'https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/fields/%7Bfield_id_or_name%7D/values?include_inactive=SOME_BOOLEAN_VALUE&document_collection_id=SOME_STRING_VALUE&upload_collection_id=SOME_STRING_VALUE&keyword=SOME_STRING_VALUE&sort_by=SOME_STRING_VALUE&sort_order=SOME_STRING_VALUE&include_all=SOME_BOOLEAN_VALUE&include_readonly=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE'"
     },
     {
      "id": "csharp_httpclient",
      "title": "C#",
      "content": "var client = new HttpClient();\nvar request = new HttpRequestMessage\n{\n    Method = HttpMethod.Get,\n    RequestUri = new Uri(\"https://api.procore.com/rest/v2.0/companies/%7Bcompany_id%7D/projects/%7Bproject_id%7D/document_management/fields/%7Bfield_id_or_name%7D/values?include_inactive=SOME_BOOLEAN_VALUE&document_collection_id=SOME_STRING_VALUE&upload_collection_id=SOME_STRING_VALUE&keyword=SOME_STRING_VALUE&sort_by=SOME_STRING_VALUE&sort_order=SOME_STRING_VALUE&include_all=SOME_BOOLEAN_VALUE&include_readonly=SOME_BOOLEAN_VALUE&page=SOME_INTEGER_VALUE&per_page=SOME_INTEGER_VALUE&locale=SOME_STRING_VALUE\"),\n};\nusing (var response = await client.SendAsync(request))\n{\n    response.EnsureSuccessStatusCode();\n    var body = await response.Content.ReadAsStringAsync();\n    Console.WriteLine(body);\n}"
     }
    ],
    "x-rate-limit-enabled": true,
    "x-procore-kong-tags": [
     "rate-limit:enabled"
    ]
   },
   "parameters": [
    {
     "name": "Procore-Company-Id",
     "in": "header",
     "description": "Unique company identifier associated with the Procore User Account.",
     "required": true,
     "schema": {
      "type": "integer"
     }
    }
   ],
   "x-compliance-level": "partial"
  }
 }
}